[2017-08-22 21:38] npmccallum opened #15913 "oc new-app should warn user about exposed services"
Currently, oc new-app creates services and routes implicitly. However, this behavior might surprise administrators who are not expecting the routes to be created implicitly. This possibly unexpected behavior can create an opportunity for security flaws. For example, an administrator could bring up an app with private data (such as social security numbers) which is now implicitly exposed to the wor

[2017-08-22 21:40] enj commented on #15913
xref openshift/origin-web-console/issues/1960

[2017-08-22 21:47] bparees commented on #15913
actually it looks like oc new-app does *not* create a route:

[code]

[code]

Now it's possible you used oc new-app to provision a template, and the template created a route, but templates can create anything, so new-app isn't going to be responsible for ensuring everything your template created is "safe".

@npmccallum if you think i've missed something let me know but i'm going to close this for.

[2017-08-22 21:47] #15913 closed

[2017-08-22 21:54] enj commented on #15824
@mrogers950 the only test the fails for me locally is `match old group secrets`.  I believe that test can be changed to `no longer match old group secrets"` which should confirm that `secrets` is not dropped anymore.

[2017-08-22 22:09] bparees commented on #15878
can you share one of your build json objects?

[2017-08-22 22:11] bparees commented on #15875
so again before bumping this blindly, can we gather some data from your env?  from the other issue:

Sure, so to get back on track have we gotten to the bottom of what is taking 10 mins your env? Again i'm happy to bump the timeout but i'd feel better first knowing if the issue is that the image was being pulled, or something else was blocking it from coming up? The 10 minute poll is looking for t

[2017-08-22 22:20] bparees commented on #15878
I tested this with "oc cluster up --version=v3.6.0" and created a build w/ a non-existent repository name and it seems to work ok:

[code]

so i'd like to know your exact cluster version and also the full build yaml so i can see why your build failed in case it failed in a way that we'd be unable to get a log snippet for.

[2017-08-23 01:54] smarterclayton commented on #15912
@bparees @jim-minter

[2017-08-23 01:56] smarterclayton commented on #15878
I've seen this happen as well, could be a race condition between pod shutdown and container log cleanup.  Or the container exits so fast no logs are reported.

[2017-08-23 01:58] smarterclayton commented on #15811
Are you on a Mac from the client?  The 3.2 binaries won't run against El Capitan or later unless they were rebuilt against Go 1.7

[2017-08-23 02:10] bparees commented on #15878
if it's that one it sounds like something that should be an upstream k8s issue since it means the requested termination logs api isn't really being respected, no?

@andrewklau can you tell us if you're able to manually retrieve logs for the build or build pod when this happens?

[2017-08-23 02:12] andrewklau commented on #15878
yeah I was able to get the logs of the failed build, just not from the snippet.

I'll get you the build yaml when I'm back.

[2017-08-23 02:12] bparees commented on #15912
/cc @deads2k since i think this was one of the reworked tests intended to stand up its own TSB and then port-forward itself to access the TSB.

[2017-08-23 02:40] smarterclayton opened #15917 "Controller metrics don't follow prometheus conventions"
Caught this in master:

![metrics](https://www.dropbox.com/s/lc9a7r5nnpw7c8h/Screenshot%202017-08-22%2022.39.57.png?raw=1)

No prometheus metric should have upper case.  Should always be snake case.  Needs to be fixed.

[2017-08-23 02:41] smarterclayton commented on #15917
@deads2k / @derekwaynecarr not sure who touched this code path last.

[2017-08-23 02:41] smarterclayton commented on #15917
Also

![bad](https://www.dropbox.com/s/pyci3yes8fx7juw/Screenshot%202017-08-22%2022.41.29.png?raw=1)

Also bad

[2017-08-23 02:44] smarterclayton commented on #15917
This looks like there is one metric being created *per resource version* which is so bad I can't even describe how bad the badness is.  :)  Must fix for release to online because this will murder prometheus.

[2017-08-23 05:34] akostadinov commented on #15883
For me it's been working - just add CA as you describe on **all** nodes in the cluster + restart docker daemon. I never needed to add CAs to the containers themselves. Did you do this?

Alternatively you can try setting `--insecure-registry=` option to docker but only as a test, not recommended for production use.

[2017-08-23 05:43] pennpeng commented on #15893
@jwhonce  ```docker-1.12.6-32.git88a4867.el7.centos.x86_64```
and  ```docker logs 99c0d7d16c0f ``` there is no logs

[2017-08-23 06:30] #15783 closed

[2017-08-23 07:05] andrewklau commented on #15878
I think this one failed due to oom, but hard to tell. Increasing the mem did fix it though.

[code]

[2017-08-23 07:27] jsuchenia commented on #15851
I think that this could be related: https://github.com/openshift/origin-metrics/issues/364

[2017-08-23 07:44] jhadvig commented on #15874
Issue has been fixed in https://github.com/openshift/aos-cd-jobs/pull/578

[2017-08-23 07:44] #15874 closed

[2017-08-23 08:16] #15821 closed

[2017-08-23 08:26] tiran commented on #15827
This ticket looks simple. But it is unclear to me, how a proper fix should look like.

[2017-08-23 08:36] tiran commented on #13430
@deads2k @enj Is this ticket still relevant? We switched to RBAC in 3.7.

``rulevalidation.Covers`` is used in ``pgk/diagnostics/cluster`` and ``pkg/oc/admin/policy``. It calls ``authorizationapi.NormalizeResources`` in ``breakdownRuleForGroup``.

[2017-08-23 09:21] mfojtik commented on #14464
Closing since we lack the answer. Please feel free to re-open if this is still an issue.

[2017-08-23 09:21] #14464 closed

[2017-08-23 09:26] mfojtik commented on #15033
@goern see https://github.com/openshift/origin/pull/15919

[2017-08-23 09:27] mfojtik commented on #14181
Closing as this is working now.

[2017-08-23 09:27] #14181 closed

[2017-08-23 09:28] mfojtik commented on #13319
@bparees I think this deserves a Trello card (we want to start using conditions for IS to report import errors/progress/etc.)

[2017-08-23 09:29] mfojtik commented on #12289
Tracked in Trello: https://trello.com/c/Gr89MgQB/899-ability-to-mark-flag-images-so-theyre-excluded-from-image-pruning

[2017-08-23 09:29] #12289 closed

[2017-08-23 09:31] mfojtik commented on #10332
@soltysh drop a trello card in devexp if you still want this.. closing this as 1y old ;-)

[2017-08-23 09:31] #10332 closed

[2017-08-23 09:32] pennpeng opened #15920 "Metrics are not available"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]

##### Steps To Reproduce
[code]

##### Current Result
[code]
[code]

[code]
[code]

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide b

[2017-08-23 09:34] mfojtik commented on #9758
@bparees another trello card candidate, @soltysh can brief you in details.

[2017-08-23 09:35] mfojtik commented on #9712
@miminar @soltysh i thought we have test for pruning already?

[2017-08-23 09:40] mfojtik commented on #15126
@smarterclayton you said on IRC that registry use the protobuf, now i'm **confused** ;-)

Now, this PR should switch the legacy client in registry to generated external clientset: https://github.com/openshift/origin/pull/15624 for most resources (I guess ImageSecrets were the only left).

[2017-08-23 09:41] mfojtik commented on #14774
This is not a bug, just configuration issue. Closing this.

[2017-08-23 09:41] #14774 closed

[2017-08-23 09:45] mfojtik commented on #9037
The issue seems to be resolved, closing this.

[2017-08-23 09:45] #9037 closed

[2017-08-23 09:46] mfojtik commented on #8537
@bparees i guess this depends on https://trello.com/c/RPTugJoZ/515-5-registry-import-docker-labels-as-annotations

[2017-08-23 09:48] mfojtik commented on #6283
Closing as this is >1y old and starting from 3.6 we default to registry service DNS.

[2017-08-23 09:48] #6283 closed

[2017-08-23 10:53] deads2k commented on #13430
unnecessary post-switch.

[2017-08-23 11:07] deads2k commented on #15917
Pretty sure that number is just our uniquifier.  One metric per reflector.

[2017-08-23 11:24] geekyfox90 commented on #13232
For those who have the same issue. I had to **restart** the **rpcbind service** on all nodes to get rid of this error.
Make sur the rpcbind servier is running. check openshift logs for more info

[2017-08-23 12:10] ksemaev commented on #15525
Moved fresh issue to installers repo: https://github.com/openshift/openshift-ansible/issues/5169

[2017-08-23 12:10] #15525 closed

[2017-08-23 12:15] deads2k commented on #15912
Did this get fixed by something?  I'm not seeing the errors in prow.

[2017-08-23 13:00] openshift-sentry opened #15922 "runtime.errorString: runtime error: invalid memory address or nil pointer dereference"
https://sentry.io/red-hat/openshift-3-dev-preview-int/issues/333820561/

[code]

[2017-08-23 13:03] smarterclayton commented on #15922
@sjenning @derekwaynecarr just started happening.

[2017-08-23 13:55] ironcladlou commented on #15900
Looks like etcd writes were timing out in general for ~30-40s between ~11:26:40 and 11:27:28.

[2017-08-23 14:33] simo5 opened #15926 "Check and possibily correct post start hooks names"
While working on #15881 it came up thatthe post start hook name for some hooks may need to be better thought out.
This followup issue captures that need so we do not forget it.

One of the main comment from @smarterclayton there was:
[code]

[2017-08-23 14:37] stevekuznetsov commented on #15900
This might be an issue with EBS block allocation -- @deads2k recently reconfigured the job and the etcd data dir may not be in tmpfs anymore

[2017-08-23 14:41] ironcladlou commented on #15900
This old friend? https://github.com/openshift/origin/pull/6542 😬

[2017-08-23 14:46] jayunit100 commented on #15811
@smarterclayton  its a symptom of  https://github.com/alco/goon/issues/10 . Is there a way openshift can handle this gracefully ? if so it would be nice.  otherwise we can close it.

[2017-08-23 14:51] soltysh opened #15928 "DeplymentController uses an unusual construct for getByKey"
I found this https://github.com/openshift/origin/blob/0c81307bf6eb180d27427e67bb9f0996426e04f8/pkg/deploy/controller/deployer/factory.go#L219-L222 which I had to fix in image controller in https://github.com/openshift/origin/pull/15927.

I'm guessing @tnozicka you'll be the best person to address the same issue in deployments. Generally `getByKey` should not interpret errors.

[2017-08-23 14:57] jcantrill commented on #15586
@spadgett Is this issue resolved and can be closed?

[2017-08-23 14:59] jcantrill commented on #15599
@Evgeniy-Bondarenko Can you please:

* attach your inventory file to this issue so we can see what parameters were used to deploy
* List the image versions that were pulled in by the deployment

[2017-08-23 15:08] soltysh commented on #9650
I haven't this error, additionally the import controller was refactored to use shared informers. If you hit this problem once more feel free to reopen. The provided steps to reproduce don't work either, anymore.

[2017-08-23 15:08] #9650 closed

[2017-08-23 15:12] soltysh commented on #13042
Since both of the PRs mentioned by Clayton are now merged and one can easily use ImageStreams with k8s resources I'm closing this issue.

[2017-08-23 15:12] #13042 closed

[2017-08-23 15:14] tnozicka commented on #15928
Yes, that seems ugly. Not sure if that is a bug since it's a private function so as long as the deployer controller checks for it properly, should work; although it's error prone.

[2017-08-23 15:23] sjenning commented on #15922
@smarterclayton how does one get access to sentry?

[2017-08-23 15:24] soltysh commented on #4306
@enj I'll leave it up to you to decide whether we still needed or with the upstream RBAC we're ok in which case you can go ahead and close this.

[2017-08-23 15:49] enj commented on #15827
@tiran

For this I would expect:

1. All `panic`s to be removed with a useful error message and callers updated
2. Trace the uses of these funcs and see if it is possible for us to use RBAC object directly instead
3. If these funcs cannot be removed, open an issue to revisit them in 3.8

[2017-08-23 15:55] enj opened #15932 "Deprecate any remaining legacy auth policy users in 3.7 release notes"
Deprecate the following in 3.7 so we can remove them in 3.8:

1. Gated commands
2. The use of `oadm policy` commands against an older cluster (i.e. stop using the proxied endpoints internally in the server and via the client)
3. ??

cc @openshift/api-review @openshift/cli-review

[2017-08-23 16:01] enj commented on #13430
@deads2k I do not think it is that simple, see #15911

[2017-08-23 16:05] enj commented on #15816
@abstractj per our earlier conversation:

1. Delete the openshift version of the subject interface
2. Delete our wrapper around the kube subject interface
3. Update all users of our interface with the kube interface
4. Fix any issues that item 3 creates

[2017-08-23 16:18] bparees commented on #14409
@soltysh how did that digging turn out?

[2017-08-23 16:19] enj commented on #15818
The project creation flow for a normal user is:

1. User submits a project request
2. The server internally creates a set of resources based on a template
3. The template is configurable but by default it creates:
   - A project (namespace)
   - SA role bindings
   - A role binding that gives the requesting user admin rights to the project
4. The server waits up to ~6 seconds for the auth cache to

[2017-08-23 16:22] liggitt commented on #15818
is there a reason not to keep it as-is for one release, then switch?

[2017-08-23 16:33] php-coder opened #15933 "hostnetwork SCC takes precedence over restricted for a pod that doesn't request host network"
Extracted from https://github.com/openshift/origin/pull/15923/files#r134773733:

##### Steps To Reproduce
[code]

##### Current Result
[code]

##### Expected Result
[code]

##### Workaround
`oc patch scc restricted -p '{"priority":1}'`

CC @openshift/sig-security

[2017-08-23 16:38] enj commented on #15818
@liggitt just trying to reduce the surface area of the legacy code as much as possible in 3.7 (any performance improvements are negligible IMO).  If you feel this adds unnecessary complexity and risk for 3.7, I can move this to the 3.8 milestone.

[2017-08-23 16:38] deads2k commented on #15818
It just defers work we need to do.  Is there a reason to keep it as-is?  The default is only generated and used locally to the process.  The loopback speaks back to itself.

[2017-08-23 16:40] php-coder commented on #15933
It doesn't compromise security because 1) a user should have access to the `hostnetwork` SCC anyway 2) while `hostnetwork` allows host ports and host network it doesn't mutates a pod to set it as default values. In fact the pods that were created by these SCCs look the same.

[2017-08-23 16:40] bparees commented on #6503
this has been ignored for 1.5 years, doesn't seem very important.

[2017-08-23 16:40] #6503 closed

[2017-08-23 16:41] liggitt commented on #15818
I don't feel strongly either way.

[2017-08-23 17:14] danwinship commented on #15912
@deads2k just happened in #15930. https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/814/

[2017-08-23 17:18] smarterclayton commented on #15922
[code]

Commit is `c420cf9` in ose.

[2017-08-23 17:19] deads2k commented on #15912
Ok, looks like
[code]

on the port forward.  Guess I'll add some logging/health checking on it.

[2017-08-23 17:28] simo5 commented on #14575
Just hit this, not identical but seem closely related:
[code]

[2017-08-23 18:13] enj opened #15937 "RBAC Migration Followup #22: Clean up constants in controller policy"
There are constants in the file that are not directly related to controllers.

[2017-08-23 18:14] sjenning commented on #15922
[code]

[2017-08-23 18:15] bparees commented on #8537
@danni I think i'm still ultimately unclear on what you're looking for here.  Can you share a screenshot showing the bits of information you see in the console for which you want to have a mechanism to put that information onto a pod?

[2017-08-23 18:26] bparees commented on #13214
@AlbertoPeon is the issue that you need to add the watch verb, or that you can't restrict the role to just resources with a specific name?

and in your example command:
` oc import-image $image:$tag -n openshift --token $token`

is the value of $image literally `image_name`?

[2017-08-23 18:28] mpodol1 opened #15939 "Cannot come up with the correct Kubeconfig when releasing an application to Kubernetes cluster in MS Azure"
Following this article, I was successfully able to create all builds within VSTS; however, I am unable to get past the VSTS release because of the Kubernetes endpoint

https://dgkanatsios.com/2017/05/29/creating-a-cicd-pipeline-on-azure-container-services-with-kubernetes-and-visual-studio-team-services/

I am trying to enter the correct contents for the Kubeconfig, but the files is never accepted

[2017-08-23 18:35] bparees commented on #15615
haven't seen this in a while, i'm going to optimistically close it.  there is another open issue for pods getting stuck in containercreate, which also might have been the root cause of this.

[2017-08-23 18:35] #15615 closed

[2017-08-23 18:40] bparees commented on #6996
There are (at least) two image pulls in question here:

1) pulling the origin-sti-builder image in order to start the build pod.  the pod will be in pending while this is happening (and this will be exceptionally rare)
2) pulling the base s2i builder image (eg ruby-s2i) as part of the s2i process.  This will happen when the pod is running and it may not be pulling via an imagestream at all (s2i ca

[2017-08-23 18:41] bparees commented on #6996
/needs info @jhadvig

[2017-08-23 18:48] bparees commented on #9758
trello'd https://trello.com/c/sSj0DAlK

[2017-08-23 18:48] #9758 closed

[2017-08-23 18:49] bparees commented on #10077
trello'd https://trello.com/c/Dpaf68EZ

[2017-08-23 18:49] #10077 closed

[2017-08-23 18:55] bparees commented on #11915
trello'd https://trello.com/c/0qC3syQK

[2017-08-23 18:55] #11915 closed

[2017-08-23 18:56] bparees commented on #13319
trello'd https://trello.com/c/kevT8FIa

[2017-08-23 18:56] #13319 closed

[2017-08-23 18:59] bparees commented on #14404
trello'd https://trello.com/c/7m9SbxfY

[2017-08-23 18:59] #14404 closed

[2017-08-23 19:02] bparees commented on #15878
but you were able to get the build/pod logs for it?

can you share the build pod json?  in particular i'm interested in the pod.Status.ContainerStatuses.[container].State.Terminated.Message

That is the field we are retrieving.  If it's not set correctly, then it seems like a k8s bug.

[2017-08-23 19:20] bparees commented on #14409
can't recreate, going to assume it was fixed:
[code]

[code]

[2017-08-23 19:20] #14409 closed

[2017-08-23 19:25] bparees commented on #14487
@kargakis @mfojtik why is "oc set image dc/foo" defaulting to assume the value is an imagestreamtag?  shouldn't it assume it's a docker image, just like it would be in upstream?

[2017-08-23 19:28] bparees commented on #15086
@mfojtik ^^^^

[2017-08-23 19:37] smarterclayton commented on #14487
Yeah, I think we should assume --source=docker by default, not
--source=imagestreamtag.  It's confusing for upstream users.

On Wed, Aug 23, 2017 at 3:25 PM, Ben Parees <notifications@github.com>
wrote:

[2017-08-23 19:38] kargakis commented on #14487
sgtm

[2017-08-23 19:40] smarterclayton commented on #14575
Opened a ticket with GCE support.

On Wed, Aug 23, 2017 at 1:28 PM, Simo Sorce <notifications@github.com>
wrote:

[2017-08-23 19:53] sjenning opened #15941 "test issues on 3.6.x"
Identical test failures on 3 different PR for `extended_conformance_gce`

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15880/test_pull_request_origin_extended_conformance_gce/6457/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15886/test_pull_request_origin_extended_conformance_gce/6436/

https://openshift-gce-devel.appspot.com/build/origin

[2017-08-23 20:05] enj commented on #14575
Seen in #15907 https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6456/

[2017-08-23 20:19] bparees commented on #14487
Next question:  is this something we can change today w/o breaking compatibility?

[2017-08-23 20:31] danwinship commented on #15922
What endpoints changes?

[2017-08-23 20:39] bparees commented on #15709
@mfojtik can you provide some hints here?  is this a bug? a doc issue? user error?

@Jooho it sounds like maybe you just need to use multiple match policies, one to allow the integrated registry, and another to allow specific external registries?

[2017-08-23 20:40] sjenning commented on #15922
@danwinship not sure exactly. @smarterclayton has been alluding to some changes made to mitigate endpoint update rates that are _not_ this PR https://github.com/openshift/origin/pull/15888

[2017-08-23 21:02] enj commented on #15824
Just to be clear, you should be able to delete the `getAPIGroupLegacy` code completely and only minor changes should be required to the associated tests to keep everything passing.

[2017-08-23 21:40] enj commented on #15825
This is similar to #15833 / #15857 in that it deals with how we encode exported auth data.  Currently the `create-bootstrap-policy-file` command writes out the legacy origin auth types instead of the RBAC objects.

@deads2k @liggitt can we do this in 3.7?  Won't it make the command incompatible with older clusters?

[2017-08-23 22:11] jwhonce commented on #15893
@pennpeng If you are using:
1) journal logging -- please attach  journalctl -u docker
2) syslog logging -- /var/log/docker\*

Thank you

[2017-08-23 22:21] enj commented on #4306
@simo5 at some point we should look into adding coverage for this.

[2017-08-23 22:21] bparees opened #15943 "junitmerge is grabbing dirs it should not"
see discussion starting here:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4680

[2017-08-23 22:24] smarterclayton commented on #14575
Fixed by https://github.com/openshift/origin-gce/pull/42 (because we don't
attach anymore) which is going to merge O(soon)

On Wed, Aug 23, 2017 at 4:05 PM, Mo Khan <notifications@github.com> wrote:

[2017-08-23 23:48] jim-minter commented on #15876
@mbalazs thanks for the report.  Should be fixed in #15946 when it merges.

[2017-08-24 00:14] andrewklau commented on #15878
Yeah the error is in the pod json too. I was able to get the logs at the time of the error. However the logs are now gone since the host has already cleaned up the container.

[code]

[2017-08-24 00:16] andrewklau commented on #15878
On the node /var/log/pods is empty although the folders exist:

[code]

[2017-08-24 00:26] #15822 closed

[2017-08-24 02:02] bparees commented on #15878
ok, given that this appears in the pod itself, this is a k8s issue w/ the last termination log feature and needs to be opened as an upstream issue.

[2017-08-24 02:02] #15878 closed

[2017-08-24 03:03] xxwassyxx opened #15948 "Deleting node (no longer present in cloud provider)"
I realize that I'm reporting on the enterprise version and not specifically on origin. The enterprise version we are using is for trial purposes and testing until we can get this to work. Basically in a nutshell we are observing that the controller is deleting our nodes that are in a different aws account because it cannot find them. We can get around this issue if we manually add a hostsubnet. th

[2017-08-24 03:17] enj commented on #15820
Our bootstrap auth policy most likely still grants users access to `{cluster}policy{binding}` objects.  We need to scrub the code for these policy rules and remove them since the endpoints no longer exisit.  An example that uses an RBAC builder (origin has something similar which we may be able to delete, and rules can also be created manually so some regex foo may be require to make sure everythi

[2017-08-24 03:38] andrewklau commented on #15948
Do you have the KubernetesCluster tag in your ec2 instances? You need something like `KubernetesCluster=foo` on all your instances.

[2017-08-24 04:09] smarterclayton commented on #15917
Either way, needs to be brought under control.  Your uniquifier should
probably just be a label if it has no meaning, and if you don't know what
the metric measures I'm not sure what value the metric is providing.

On Aug 23, 2017, at 7:07 AM, David Eads <notifications@github.com> wrote:

This looks like there is one metric being created per resource version
which is so bad I can't even describe h

[2017-08-24 04:15] smarterclayton commented on #15917
The part we need to verify is that I believe there is code creating stores and reflectors for one off objects (as part of normal control flow code) and if so this pattern can't work (grows unbounded).  Anonymous reflectors should just be anonymous, or fall into a single generic pool.  Even a count of how many anonymous reflectors there are would be ok, or if the average distribution of size of the

[2017-08-24 06:40] born2fail opened #15949 "Accesslog can't be disabled in docker-registry"
Trying to modify docker registry configuration as shown in:
https://docs.openshift.org/latest/install_config/registry/extended_registry_configuration.html#registry-configuration-reference
https://docs.docker.com/registry/configuration/#accesslog
[code]
Log output still include accesslog entries. Another modifications done to docker registry configuration file (like formatter: logstash) are working

[2017-08-24 07:15] xiaods commented on #15808
docker-1.12.6 build failed again.
![orign](https://user-images.githubusercontent.com/37678/29654252-0e39102a-88df-11e7-857c-522db7bd8058.png)

[2017-08-24 08:01] #15869 closed

[2017-08-24 08:01] #13430 closed

[2017-08-24 09:11] AlbertoPeon opened #15950 "Forced SELinux relabeling when mounting flexvolumes breaks flexvolumes that don't support SELinux e.g fuse"
Since Kubernetes 1.6 on, all Flexvolume driver mounts force a SELinux relabeling (ref. https://github.com/openshift/origin/blob/release-3.6/vendor/k8s.io/kubernetes/pkg/volume/flexvolume/mounter-defaults.go#L55). This option is hardcoded and there is no way to override the default value.

This is very inconvenient as it's impossible to make Flexvolumes which don't support SELinux relabeling to wor

[2017-08-24 09:14] AlbertoPeon commented on #15950
Actually, there is a pull request to backport the change to Kubernetes 1.7 (ref. https://github.com/kubernetes/kubernetes/pull/51201). It would be great to have in Openshift 3.7!

[2017-08-24 09:53] andreabattaglia opened #15951 "unable to mount volume in router pod with "oc cluster up" on mac"
In order to have a local installation of openshift on my Mabook Pro I've used the "oc cluster up" feature.
The version of Docker is 1.12.3 (I've tried the latest one as well: 17.06-ce, but nothing changed)
The version of oc client (downloaded from developers.redhat.com) is 3.6.173.0.5
The version of the Mac OS X is Os X El Capitan 10.11.6 (15G1611)

In order to simplify the script, I'm using the o

[2017-08-24 10:53] jmencak opened #15953 "Pods fail to start during containerized install"
Pods fails to start during containerized install in RHEL Atomic Host 7.4 and oc 3.7

##### Version
$ oc version
oc v3.7.0-0.104.0
kubernetes v1.7.0+695f48a16f
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://ip-172-31-8-189.us-west-2.compute.internal:8443
openshift v3.7.0-0.104.0
kubernetes v1.7.0+695f48a16f

##### Current Result
    $ oc get pods
    NAME                        READY

[2017-08-24 10:57] vaudk opened #15954 "s2i image build pull too many/wrong source images"
when building images via buildconfigs using dockerstrategy not only the specified source image[:tag] gets pulled but also (unnecessarily) other tags that are available for a specific docker image.

##### Version
[code]
[code]

##### Steps To Reproduce
1. build image with this buildconfig:
[code]
##### Current Result
[code]

##### Expected Result
[code]

[2017-08-24 11:11] tiran commented on #15827
1. is easy, see PR #15952
2. takes a bit more effort because I'm not familiar with the API

``ConvertToOriginClusterRoles()`` is used by ``ReconcileClusterRolesOptions ChangedClusterRoles()`` which is used by ``pkg/diagnostics/cluster`` and ``oc adm policy reconcile-cluster-roles`` CLI.

``ConvertToOriginClusterRoleBindings`` has similar callers and is used in cluster diagnostics and ``oc adm poli

[2017-08-24 11:56] AlbertoPeon commented on #13214
@bparees the second one, the service account needs to watch all imagestreams in the namespace instead of only the one limited by `resourcesNames: $image_name`.

It is really not a big deal, just a bit annoying to have to add that role.

WRT your second question, yes, it would be :
[code]

[2017-08-24 12:10] deads2k commented on #15825
@enj didn't you guys kill the file since it wasn't being used anymore?

[2017-08-24 12:10] xxwassyxx commented on #15948
@andrewklau
These are the tags that I have specified on the instances
KubernetesCluster | TestCluster
Name | OpenShift Node - 172.29.100.200

[2017-08-24 12:30] deads2k commented on #15917
Prometheus metric registration requires a unique name and we don't have one at the point where this metric is getting created.  We're counting on the rest of the name to "unique enough" to provide value.  Notice that it specifies origin and type.  We just don't want it to kill a server process if it collides.

[2017-08-24 12:31] deads2k commented on #15917
Not unbounded.  Per reflector.  If your reflectors grow unbounded, you'll crash from traffic/memory/decoding long before metric gathering is a problem.

[2017-08-24 12:32] simo5 commented on #15825
@deads2k the admin command to create a bootstrap policy file still exists

[2017-08-24 12:37] deads2k commented on #15825
@fabianofranz what kind of stability guarantees do we have on the command?  If its based on intent, I guess I'd keep the encoding for 3.7 and switch for 3.8.  I think the failure mode would be a 3.7 oc against a 3.6 master that was trying to export the rules and do something with them.

[2017-08-24 12:39] #13814 closed

[2017-08-24 12:41] sdodson commented on #14772
epel repo has been removed so I believe this particular yum failure should never happen again. Right @stevekuznetsov

[2017-08-24 12:42] sdodson commented on #15801
Dupe of #14772 and we've removed epel so this particular issue should never happen again but we're still prone to external failures and we're working to add retries to all of the yum tasks as they're prone to failure due to external systems.

[2017-08-24 12:42] #15801 closed

[2017-08-24 13:16] smarterclayton commented on #14575
The change was delivered to origin-gce and a new image was built, but I'm
not seeing new jobs use the image yet for some reason.

On Aug 24, 2017, at 8:39 AM, Scott Dodson <notifications@github.com> wrote:

Assigned #14575 <https://github.com/openshift/origin/issues/14575> to
@smarterclayton <https://github.com/smarterclayton>.

—
You are receiving this because you were mentioned.
Reply to this em

[2017-08-24 13:41] danwinship commented on #15311
it didn't happen again

[2017-08-24 13:41] #15311 closed

[2017-08-24 13:41] Jooho commented on #15709
@bparees Yes, I thought I can make it with combining several policies but it was not.
[code]
1 and 2 are possible and already have [a doc](https://docs.openshift.com/container-platform/3.5/admin_guide/image_policy.html) to achieve it . However, the thing is if I add the configuration for 1 and 2, the images(registry.access.redhat.com) in default template are also block.

Therefore, @rezie  recomme

[2017-08-24 13:47] danwinship commented on #14857
happened a few times within a few days in June and then hasn't happened since... so either there was some infrastructure issue, or else someone fixed the problem independently of this bug report.

[2017-08-24 13:47] #14857 closed

[2017-08-24 14:51] #15823 closed

[2017-08-24 14:56] stevekuznetsov commented on #14772
Heck yeah

[2017-08-24 14:57] stevekuznetsov commented on #14772
Actually no, it can happen during image builds as we turn on `epel-release` in our base image.

[2017-08-24 14:58] stevekuznetsov commented on #15808
/unassign
/assign @smarterclayton

[2017-08-24 14:59] InfoSec812 commented on #13115
I am seeing a similar issue on my server-class machine and Docker 17.04ce. I run `oc cluster up` and it fails. When I look at the logs (`docker logs origin`) I see the following error:

[code]

The underlying storage is a 6-disk RAID consisting of 7200RPM SATA 3 drives.

[2017-08-24 15:37] bparees commented on #13214
@deads2k @soltysh @mfojtik is there a technical limitation that forces the service account to be granted permission to watch all imagestream resources in order to accomplish this, or is it actually something we can reasonably fix?

[2017-08-24 15:57] bparees commented on #15709
I don't understand what this has to do with anything.. this determines which infrastructure images your cluster will use, but it's not part of how the policy works.  Whatever prefix you put here, does need to be allowed by your image policy, but that's as far as that goes.  You didn't have to explicitly change this value to make your policy work.

having to do this certainly makes sense, registry.

[2017-08-24 16:08] bparees opened #15960 "GCE error pulling openshift/origin-gce image"
[code]

as seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6551

[2017-08-24 16:22] mpodol1 commented on #15939
An update

I tried to use another approach and downloaded a config using the az 'acs kubernetes get-credentials' command

I tried to put the contents of a downloaded config file into a Kuberconfig section but got another error " [pos 1657]: json: error decoding base64 binary"

Please let me know if anyone has a any information on how to bypass this milestone

[2017-08-24 16:42] stevekuznetsov commented on #15960
Attempting to alleviate with https://github.com/openshift/aos-cd-jobs/commit/c8fcdb38d43bc1554465f481c5905c80ea001418 ... reopen if we have more RAM issues

[2017-08-24 16:42] #15960 closed

[2017-08-24 16:52] bparees opened #15961 "template service broker e2e flakes"
[code]

and
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4725/#showFailuresLink

[2017-08-24 17:17] bparees commented on #15954
please run your build with --build-loglevel=8

we only pull the image you reference.

[2017-08-24 17:28] lsm5 commented on #15893
@pennpeng could you check if enabling `/etc/yum.repos.d/CentOS-CR.repo` gives you a new docker build? If not, try using CentOS Virt SIG repo:

    [virt7-container-common-candidate]
    name=virt7-container-common-candidate
    baseurl=https://cbs.centos.org/repos/virt7-container-common-candidate/x86_64/os/
    enabled=1
    gpgcheck=0

[2017-08-24 17:41] smarterclayton commented on #14575
/close

Fixed

On Thu, Aug 24, 2017 at 9:16 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-08-24 17:41] #14575 closed

[2017-08-24 18:00] pweil- commented on #15949
access log configuration was [added in the 2.6 release](https://github.com/docker/distribution/commit/4034ff65f0d4812aa61663d6d3ea5dc26819df6f).  The rebase to 2.6 is currently being worked and can be [tracked with this card](https://trello.com/c/Vac6mHz5/1277-8-registry-rebase-docker-distribution-to-26x)

[2017-08-24 18:00] #15949 closed

[2017-08-24 18:37] jim-minter commented on #15680
There's not much to be seen with https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/176/ (or indeed https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/179/) as the master logs weren't gathered.  The log gathering is now fixed but there hasn't yet been another failure.

[2017-08-24 19:05] abstractj commented on #15816
@enj n00b friendly speaking, for item **1** are you talking about this piece of code https://github.com/abstractj/origin/blob/a94e0db72459c5963eb474acf0dc31ae1eb72486/pkg/authorization/authorizer/authorizer.go#L19-L21 ?

And for **2** is this the part of the code you mention https://github.com/abstractj/origin/blob/a94e0db72459c5963eb474acf0dc31ae1eb72486/pkg/authorization/authorizer/authorizer.go

[2017-08-24 19:58] bparees commented on #15954
I was able to recreate this, investigating.  looks like docker has changed its api behavior slightly.

[2017-08-24 20:20] sjenning opened #15969 "Could not fetch resource: Quota 'ROUTES' exceeded"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15940/test_pull_request_origin_extended_conformance_gce/6541/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15956/test_pull_request_origin_extended_conformance_gce/6540/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15558/test_pull_request_origin_extended_conformance_gc

[2017-08-24 20:55] simo5 commented on #15818
Sounds like converting is not a big deal here, but we'll need to emit warnings for admins to update their templates when we catch old types

[2017-08-24 23:13] rezie commented on #15709
At least in my experience, I hit the same error as @Jooho, where the infrastructure images would fail to be deployed unless a prefix was explicitly defined. The error message I got was identical to the screenshot in the first post.

The reason for modifying `format` in the master-config is to ensure that the prefix is set by default (as users aren't able to manually supply that prefix when creatin

[2017-08-24 23:14] smarterclayton opened #15974 "cadvisor metrics in master are inconsistent - not all calls return the correct metrics"
Running the metrics dump from master (in this case alpha.0 and latest) I get only a portion of metrics each time.  The number of metrics should be consistent from run to run.

[code]

[2017-08-24 23:15] smarterclayton commented on #15974
@sjenning reported by the CM ops team, I hadn't noticed this before but it's happening in in both alpha.0 and master latest for 3.7.  Could be something related to a patch we carry.

[2017-08-24 23:16] smarterclayton commented on #15974
I see

[code]

in the logs but may be unrelated.

[2017-08-24 23:16] smarterclayton commented on #15974
Also seeing

[code]

[2017-08-24 23:17] smarterclayton commented on #15974
[code]

[2017-08-24 23:18] smarterclayton commented on #15974
I don't see those log lines correlating with repeatedly calling cadvisor, so may be unrelated.

[2017-08-25 07:15] tnozicka opened #15977 "container cleanup fails to remove containers and prune etcd sometimes"
If the issue is the clean up that shouldn't make the job fail.

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4730/consoleFull

[code]

[2017-08-25 07:53] #15819 closed

[2017-08-25 08:22] mfojtik commented on #15912
raising to P0 as almost every PR fails with this right now

[2017-08-25 08:28] #15101 closed

[2017-08-25 08:28] #15922 closed

[2017-08-25 08:37] tnozicka opened #15978 "`make update` doesn't clean temporary files for gradle"
and they are also not ignored in `.gitignore`

problematic dir is `hack/swagger-doc/.gradle/`

present at d8e3a92c81 after running `make update`

[2017-08-25 09:52] matthyx commented on #13869
So, I had a look at it, and this is already the case with plain Kubernetes.
When admin.kubeconfig is created (likely in cmd/kubeadm/app/util/kubeconfig/kubeconfig.go) there is only one cluster added with the serverURL.

I think what we see here with oc is when we create kube/config for a user login (likely in pkg/cmd/server/admin/create_kubeconfig.go) there is a check whether we have a PublicAPISe

[2017-08-25 10:12] pennpeng opened #15979 "Failed to provision volume with StorageClass "cinder-1": No suitable endpoint could be found in the service catalog."
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]
##### Steps To Reproduce
use openstack cinder storageclass,i have test pv use cinder and is ok,but storageclass is failed.
[code]
[code]

##### Current Result
Failed to provision volume with StorageClass "cinder-1": No suitable endpoint could be found in the service catalo

[2017-08-25 11:06] jmencak commented on #15953
Same issue on v3.7.0-0.109.0

[2017-08-25 11:40] jstrachan opened #15980 "new CLI: oc link-service someNamespace serviceNames | --all | -l foo=bar"
it would be useful to be able to link services from `someNamespace` into the current (or some other) namespace.

When developing inside Che inside fabric8 / openshift.io the workspace pod is in the `jstrachan-che` namespace and it'd be nice to be able to link all services running in the staging environment (in namespace `jstrachan-stage`) so that any apps running in the workspace pod can reuse loc

[2017-08-25 11:40] bparees commented on #15912
I backed this test out of conformance last night: https://github.com/openshift/origin/pull/15976

but we absolutely need to get to the bottom of why this is failing and get that test back in.  Somehow something merged that consistently broke a conformance test (but only in the install+upgrade scenario), so that's really bad.

[2017-08-25 11:43] bparees commented on #15709
Ok, I think i understand now, thanks @rezie.  It's a bit orthogonal to the imagepolicy but it's a worthy note/gotcha.

[2017-08-25 11:59] bparees commented on #15709
@Jooho @rezie i've created a doc update here: https://github.com/openshift/openshift-docs/pull/5078

can you take a look and see if it provides the additional information you think was lacking?

[2017-08-25 12:07] soltysh commented on #9232
I'm closing this, since master has the fix in https://github.com/openshift/origin/pull/12731 and 3.4 as well.

[2017-08-25 12:07] #9232 closed

[2017-08-25 12:29] deads2k commented on #15961
This appears to be fixed now.  What fixed it?

[2017-08-25 12:30] deads2k commented on #15961
Oh, I found it.... https://github.com/openshift/origin/pull/15976

[2017-08-25 12:39] sdodson commented on #15953
https://bugzilla.redhat.com/show_bug.cgi?id=1485312 bug on this too, i'll try to get someone on installer side to look at it today but it's probably best triaged by networking team.

[2017-08-25 12:40] sdodson commented on #15953
https://github.com/openshift/origin/issues/15210 same error

[2017-08-25 12:41] deads2k commented on #15961
Looks like this started failing yesterday morning around build 4722 (https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_conformance_install_update).  Nothing leaps out from the commit history as weird (https://github.com/openshift/origin/commits/master).

What *is* weird is that our branch job seems to have worked fine on every level the bot pushed: https://deck-ci.svc.ci.

[2017-08-25 13:20] stevekuznetsov commented on #15961
What did we force push?

[2017-08-25 13:20] rezie commented on #15709
That looks good.

I don't know if this would be TMI for this scenario, but this is also configurable via the Advanced Installation process through the [oreg*](https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.origin.example#L166) variable

[2017-08-25 13:22] stevekuznetsov commented on #15977
No, please look at jUnit output:

[code]

[2017-08-25 13:22] stevekuznetsov commented on #15977
Cleanup is best-effort and cannot fail a job.

[2017-08-25 13:53] tnozicka commented on #15977
@stevekuznetsov seems like I was wrong in the cause although the cleanup seem broken as well:
[code]
Why not use `-f` there?

This seems wrong as well:
[code]

[2017-08-25 13:56] stevekuznetsov commented on #15977
I mean, yes, the cleanup is failing, but it doesn't matter. if you'd like to clean it up, you may, but it is not impacting any workflows today.

[2017-08-25 14:07] jperville opened #15982 "`oc adm router --expose-metrics` generates DC which is incompatible with the latest prom/haproxy-exporter image"
The `oc adm router --expose-metrics` command generates a router DC that runs the `prom/haproxy-exporter:latest` image as sidecar to the main router container, as documented in https://docs.openshift.com/container-platform/3.5/install_config/router/default_haproxy_router.html#exposing-the-router-metrics .

Recently, a new version of the `prom/haproxy-exporter` has been released which uses incompati

[2017-08-25 14:33] ironcladlou commented on #15035
The fix for https://github.com/kubernetes/kubernetes/issues/51013 will probably solve this.

[2017-08-25 14:45] bparees commented on #15709
@rezie thanks, i think i'll leave the advanced bit out.

[2017-08-25 14:51] jorgemoralespou opened #15983 "Instructions for oc cluster up in Fedora 26"
In Fedora 26, there is a new (different) way to configure the insecure-registry option required by oc cluster up. Documentation needs to reflect it.

[2017-08-25 14:56] bparees commented on #15961
nothing stuck out to me.

[2017-08-25 15:00] jorgemoralespou commented on #15980
@jstrachan What about network connectivity? How would you make sure that the service in namespace jstrachan-che can access the service in namespace jstrachan-stage? Is this assuming a specific network plugin? With openshift-sdn-multitenant both projects need to be joined. With opensihft-sdn-networkpolicy there needs to be network policies allowing the pods in namespace jstrachan-che to access pods

[2017-08-25 15:33] jstrachan commented on #15980
I guess the command could check if the network works between the namespaces; if not it could see if there's an external name (e.g. a Route) for the service? If it can't know/test that the service is linked it could fail and report that the network can't connect?

I guess defaulting to an external Route is maybe safer - if there is one for the service

[2017-08-25 15:43] ashcrow commented on #15953
Responding in BZ

[2017-08-25 15:51] Jooho commented on #15709
@rezie @bparees By the way, one thing worried to my mind is if somebody try image policy with 3.6, they could not pull images from integrated docker registry so they will eventually encounter unacceptable situation.

[2017-08-25 15:55] #15709 closed

[2017-08-25 16:03] deads2k commented on #15961
@stevekuznetsov is there a way to get `oc logs -p` on pods that have been restarted?  I'm betting this server is crashing and restarting.

[2017-08-25 16:07] stevekuznetsov commented on #15961
Do the containers still have to be around for that? We should get all of the container logs (look at `os::cleanup::dump_container_logs`) on the system

[2017-08-25 16:22] hiradi opened #15986 "Issues with SDN Network and setup"
Hwllo,

I am using following Version

oc v1.5.1
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v1.5.1
kubernetes v1.5.2+43a9be4

My problem is that i can not access other pods from newly deployed pods. also pods which have a service defined are not resolvable at all via DNS from inside the pod. It seems to me that there is an SDN issue. The pod which starts isnt re

[2017-08-25 16:37] bparees commented on #15961
looks like i was wrong about this only failing in the upgrade env
it failed here too:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_templates/73/

[2017-08-25 16:49] danwinship commented on #12248
fixed long ago by #12460

[2017-08-25 16:49] #12248 closed

[2017-08-25 17:03] jim-minter commented on #15961
The extended test is failing because the templateinstance doesn't become ready within 1h.
At least part of the problem is that the PVC associated with the mysql pod is never binding, so the db doesn't deploy and the app never becomes ready.  Could something around the PV availability have changed?
I also don't like that the app DC immediately tries to deploy the built pod, then cancels the deploym

[2017-08-25 17:09] bparees commented on #15709
@Jooho sorry can you elaborate?  (i'm just picking up the imagestream components so i apologize for my lack of knowledge)

[2017-08-25 17:09] jim-minter commented on #15961
@stevekuznetsov where are the PVs set up for the cluster, how many are there, do they recycle? Could they be exhausted?

[2017-08-25 17:11] jim-minter commented on #15961
@mfojtik is it intended that a DC with configtrigger + imagechangetrigger should deploy twice after image becomes available for first time?

[2017-08-25 17:20] deads2k opened #15988 "idling and unidling unidling should work with TCP (when fully idled) [Conformance] [local] 37s"
idling and unidling unidling should work with TCP (when fully idled) [Conformance] [local] 37s

[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15985/test_pull_request_origin_extended_conformance_install_update/4846/

[2017-08-25 17:20] jim-minter commented on #15680
@coreydaley https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15946/test_pull_request_origin_extended_builds/114/ should be worth investigating

[2017-08-25 17:29] coreydaley commented on #15680
@jim-minter looking

[2017-08-25 17:53] mrogers950 opened #15989 "Set ownership references on router created objects"
Objects created as part `oc adm router` (service account, etc.) should be able to be GCed when the router is deleted.

[2017-08-25 18:55] danwinship opened #15991 "Need to move pod network setup out of process"
Apparently, it is impossible to reliably work with network namespaces in a long-running golang process because the goroutine scheduler's shenanigans are incompatible with APIs that set current-thread state; calling ns.Set() or ns.Do() may cause other goroutines to change their current namespace as well. (eg, https://github.com/containernetworking/cni/issues/262, https://www.weave.works/blog/linux-

[2017-08-25 19:01] Jooho commented on #15709
@bparees

Sure.

First of all, I would like to say that if I just follow the documentation, I encounter this error message :
[code]

It is because DC use ImageStreamTag(172.x.x.x:5000/test/test@sha256:ce220..........b29432)

From the issue [#15475](https://github.com/openshift/origin/issues/15475), @mfojtik  explains like following:
[code]
This issue is fixed and included to 3.6.1

In order to avo

[2017-08-25 19:06] bparees commented on #15709
@Jooho ah, I see, thank you.  That sounds like a better candidate for a knowledge base article or release note than the doc, since it's basically a bug.

[2017-08-25 19:10] Jooho commented on #15709
@bparees I will create KCS about it.

[2017-08-25 19:14] bparees commented on #15709
@Jooho thanks!

[2017-08-25 19:24] stevekuznetsov commented on #15961
@jim-minter we run with:

[code]

@sdodson can explain how that ends up working re: how many get provisioned and what turnover looks like

[2017-08-25 21:35] enj commented on #15831
We currently hard code the version number for the gated commands at 3.7.0 (see `pkg/cmd/util/clientcmd/gating.go` and its callers).  A better approach would be to do a discovery call against the API server, and determine if it supports the legacy `policy` resources.  If it does, then we know its safe to run the commands.  If it does not, then we know the cluster is too new.  This could be useful f

[2017-08-25 21:37] enj commented on #15814
There are three callers of `pkg/cmd/util/clientcmd/gating.go`.  Running any of these commands on master should result in an error saying that it does not support the current server version.  We should add some shell based tests to make sure that this is true for all the gated commands.  See `os::cmd::expect_failure_and_text` for examples.

[2017-08-25 22:00] enj commented on #15830
Write integration tests (see `test/integration/authorization_test.go` as an example) that uses the openshift client (see `pkg/client/client.go`'s `ClusterRoles()` as an example) to perform all operations on all `{cluster}role{binding}` resources.

So for cluster roles I would expect all methods of this interface to be called:

[code]

As a special check, make sure to create a role binding to both

[2017-08-25 23:06] #14487 closed

[2017-08-25 23:40] gordillo-ramon-redhat opened #15996 "oc new-app does not support annotations on 'servicecatalog.k8s.io/v1alpha1, Kind=Broker'"
When adding a broker object to a template, it can be used an oc process, but not oc new-app.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Example (broker.yaml):

[code]

2. works:

`oc process -f broker.yaml -p BROKER_URL=http://asb-1338.example.com -p NAMESPACE=sample | oc create -f -
`

3. Not works:

`oc n

[2017-08-26 00:08] #15876 closed

[2017-08-26 00:48] pennpeng commented on #15920
how i fix this bug in my environment?

[2017-08-26 01:13] jim-minter commented on #15912
I think there's a good chance this is down to a race trying to use the port-forward socket before oc port-forward had actually started.  If so, #15966 should fix this along with a number of other races in EnsureTSB().

[2017-08-26 01:14] jim-minter commented on #15961
#15966 stops using PVs in these tests, hopefully that might resolve this.

[2017-08-26 02:02] #13575 closed

[2017-08-26 02:28] bparees commented on #13575
@jim-minter possibly relevant to your observations about multiple deployments?

[2017-08-26 03:32] bparees commented on #13014
seen again here:

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_builds/128/testReport/junit/(root)/Extended/_builds__Slow__starting_a_build_using_CLI_binary_builds_shoud_accept___from_archive_with_https_URL_as_an_input/

[2017-08-26 07:49] #15812 closed

[2017-08-26 08:12] ashishberi opened #15997 "Preparing Openshift environment"
Hi, my question about the installation of openshift environment on VMware Workstation (type2) running on Windows Host OS.

##### Version
Details for boot2docker:-
root@boot2docker:/etc# cat version
1.12.3

Details for HOST OS:-
Windows 7 Enterprise
64-Bit Operating System

Details of Host Hardware:-
RAM 8 GB
Processor: Intel Core i5

##### Steps To Reproduce
1. Downloaded the "minishift-b2d-iso" f

[2017-08-26 12:22] clintea opened #15998 "ig"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2017-08-26 12:23] #15998 closed

[2017-08-26 14:49] prasenforu opened #15999 "Disable sdn in openshift after installation"
OC 3.2
Installation done using Ansible.

Want to use different CNI.

For that I want to disable sdn in openshift after installation.

But do not want to reinstall entire openshift.

Please help

[2017-08-26 19:05] smarterclayton opened #16001 "We log too much output about requests at v5"
Every API call generates the following.  This makes our v5 debugging logs 5x bigger than they need to be.  I think at this point we can safely say the "satisfied by" is not necessary for our debugging - we should kick it to v(6) or higher.  That would make our integration and e2e test logs much more information dense with no loss.

[code]

[2017-08-26 20:22] bparees opened #16002 "GCE provision is broken"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6714/console
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6713/console

near as i can tell this is happening on every test run right now.

[2017-08-26 22:35] #15912 closed

[2017-08-26 22:35] #15961 closed

[2017-08-26 23:48] smarterclayton opened #16003 "Multiple running deployments reported in a test - invariant violated"
https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/406/testReport/junit/(root)/Extended/deploymentconfigs_with_revision_history_limits__Conformance__should_never_persist_more_old_deployments_than_acceptable_after_being_observed_by_the_controller/

[code]

[2017-08-26 23:48] smarterclayton commented on #16002
Fixed

[2017-08-26 23:48] #16002 closed

[2017-08-27 02:21] #15954 closed

[2017-08-27 05:02] smarterclayton commented on #16003
Also https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15918/test_pull_request_origin_extended_conformance_install_update/4921/

Was not seeing this until recently - some changes to `pkg/deploy` include #15963, #15858

[2017-08-27 05:06] smarterclayton commented on #16003
I was unable to find an occurrence of this in the last two days except today (twice, it looks like)

[2017-08-27 07:01] ashishberi commented on #15997
it works. using --iso-url.

C:\Users\xyzdgs\Desktop\Openshift_n_Docker\OpenShift Developer>minishift.exe st
art --vm-driver virtualbox --iso-url=https://github.com/minishift/minishift-b2d-
iso/releases/download/v1.1.0/minishift-b2d.iso

[2017-08-27 07:01] #15997 closed

[2017-08-27 21:14] alvarotorrico commented on #10401
I´m having the same problem.
Following the steps from openshift documentation, MYSQL_SERVICE_HOST and MYSQL_SERVICE_PORT are not created.
Documentation is here https://docs.openshift.com/enterprise/3.1/using_images/db_images/mysql.html

Command to create the mysql app is $ oc new-app -e MYSQL_USER=<username>,MYSQL_PASSWORD=<password>,MYSQL_DATABASE=<database_name> registry.access.redhat.com/opensh

[2017-08-27 21:54] smarterclayton commented on #14876
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/1186/

[2017-08-27 21:56] smarterclayton commented on #14876
[code]

Looks like a cgroup race, probably new (I think the old one is fixed).  Repurposing and bumping priority.

@sjenning (you should add a sig-node group so we can start mentioning that).

[2017-08-28 02:18] pennpeng commented on #15979
The log:
[code]

[2017-08-28 08:26] mfojtik commented on #16003
@tnozicka FYI

[2017-08-28 08:35] tnozicka commented on #16003
@mfojtik I am already checking what's wrong with that. Also https://github.com/openshift/origin/pull/14954/files#diff-f2c8446f523f5b04af6def6670658089R939 started suddenly failing on the weekend but that might be just a coincidence)

[2017-08-28 12:15] ArminMW commented on #15586
I just gave it a try again

oc cluster up --host-data-dir ~/origin-etcd/ --metrics --logging --service-catalog --version=v3.6.0 --loglevel=5

Good: deployment of Metrics is executing again, three pods are created in namespace openshift-infra: hawkular-cassandra-1, hawkular-metrics and heapster,

Bad: hawkular-metrics and heapster are not successful.

[2017-08-28 12:49] deads2k commented on #16001
This logging is an absolute life saver when trying to sort out why your delegated server (which openshift uses *a lot*), isn't working.  Putting at loglevel 6 starts showing our client API calls too.

What else are you looking at at loglevel 5 which has more utility in the API server?  Maybe that should move to a 4.  Controllers are a separate process, so you're only dealing with apiserver log mes

[2017-08-28 13:25] tnozicka commented on #16003
The reason why it's failing now might be OOMs like:
[code]

Still looking into the reason why the controller break the invariant in this case. Working theory is that it considers that deployment (RC) failed and continues with a new deploymnet but then the previously killed deploy-pod gets rescheduled to another node and runs again
[code]

[2017-08-28 13:36] csrwng commented on #15586
@ArminMW can you get a log of the hawkular-metrics pod?

[2017-08-28 13:40] rhcarvalho opened #16005 "Error waiting for fluentd pod (openshift ansible logging)"
Apparently slow infrastructure causing a flake:

[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_logging/757/console

Seen in https://github.com/openshift/openshift-ansible/pull/4570 / https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_openshift_ansible/928/

[2017-08-28 13:40] rhcarvalho commented on #16005
@jcantrill FYI if this interests your team, otherwise sorry for bothering ;)

[2017-08-28 14:57] jpeeler commented on #14199
Given that service-catalog and cluster-capacity have been vendored for several months now, I think it's safe to close this.

[2017-08-28 14:57] #14199 closed

[2017-08-28 15:04] mfojtik opened #16008 "process valueFrom in build strategy environment variables should successfully resolve valueFrom in docker build environment variables"
[code]

Seen this here:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15624/test_pull_request_origin_extended_conformance_install_update/4947/

Seems related to docker.io laziness:

[code]

[2017-08-28 15:05] bparees commented on #16008
We should look into whether we can do more aggressive retries on pull failures in cases like this.

[2017-08-28 15:06] bparees commented on #16008
(As with failure to push, the cost of retrying a failing pull that will never succeed is worth paying, against the cost of failing a build that otherwise could have succeeded if we'd retried)

[2017-08-28 16:42] jayunit100 opened #16011 "Mounts have different semantics depending on if the directory already exists."
[provide a description of the issue]

##### Version

oc v3.2.0.46-1-g3fab54d
kubernetes v1.2.0-36-g4a3f9c5

##### Steps To Reproduce
On an openshift cluster:

1. Mount a file X into /run/secrets
2. Mount the exact same X file into /run/secrets2

Note that the file is in ` /run/secrets/X/X` in (1) and  `/run/secrets/X` in (2).

##### Current Result
[code]
##### Expected Result

ls -altrh /run/secre

[2017-08-28 16:43] jayunit100 commented on #16011
Actually, closing for now, I think this is fixed and is a kube issue.

[2017-08-28 16:46] pweil- commented on #15953
marking this p0 as the bug is marked urgent

[2017-08-28 16:48] jayunit100 commented on #16011
Just confirmed, on an openshift cluster, the exact same mount directive:

[code]

[code]

[2017-08-28 16:53] smarterclayton opened #16012 "Integration flake: TestV2RegistryGetTags"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15624/test_pull_request_origin_integration/6615/#githubcomopenshiftorigintestintegrationrunner-testv2registrygettags

[code]

Needs to wait longer

@mfojtik @bparees can someone priority this so it gets fixed soon?  Just need to wait longer I think

[2017-08-28 16:55] smarterclayton commented on #16012
Or could be a @deads2k bug in startup logic where the roles aren't being fully created I guess.

[2017-08-28 16:56] smarterclayton commented on #16012
Hrm, happening here too: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15624/test_pull_request_origin_integration/6614/#githubcomopenshiftorigintestintegrationrunner-testpullthroughinsecure

Probably not registry code problem, probably core roles problem.

[2017-08-28 16:58] smarterclayton commented on #16001
Every other component does debug at log level 5.  However, these 5 lines
are 95% of log level logic.  Which says to me that this component is being
selfish and making everyone else's debugging worse, to catch a very rare
problem.  Every one else's debugging gets worse so that you can debug this
one component, which isn't very useful.  We have targeted debug for a
reason, but the rule is "v(5) is w

[2017-08-28 16:59] jcantrill commented on #16005
This is caused as discovered by @richm when fluentd does not have enough cpu resources.

[2017-08-28 17:05] smarterclayton commented on #16003
Hrm, nothing should redeploy that pod, because there is no "reschedule
component" (the pod is just evicted by the node, and an RC/RS has to create
a new pod).

On Mon, Aug 28, 2017 at 9:25 AM, Tomáš Nožička <notifications@github.com>
wrote:

[2017-08-28 17:43] deads2k commented on #16001
This just helped me solve a problem with https://github.com/openshift/origin/pull/16009 5 minutes ago.

We're logging the API server.  I'm open to trying to find a way to gate it easily like we could jsr 47 components, but it's incredibly useful to have and got added to fix an actual problem, not a "gee, this may be interesting some day".

[2017-08-28 17:53] bparees commented on #15983
@csrwng we shouldn't provide any documention on on how to do this.  just tell people they need to add the insecure registry.  Anything else is asking for a doc maintenance nightmare.

[2017-08-28 17:54] csrwng commented on #15983
@bparees so just remove the existing instructions?

[2017-08-28 17:57] smarterclayton commented on #16001
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/14558/test_pull_request_origin_integration/6628/
is 5x longer than every other person on the team needs.  I know it helps
you, but it hurts everyone else.  I appreciate your desire to have it
available, but it can't come at the expense of everyone else's efficiency.

On Mon, Aug 28, 2017 at 1:43 PM, David Eads <notifications

[2017-08-28 17:59] bparees commented on #15983
@csrwng replace them with "configure docker with the insecure registry FOO." and maybe link to the docker docs for configuring insecure registries.  But don't get distribution/platform specific.

[2017-08-28 18:00] csrwng commented on #15983
makes sense. @jorgemoralespou do you want to make that change in this pr?

[2017-08-28 18:02] deads2k commented on #16012
I see `failed to get image: User \"admin\" cannot get images.image.openshift.io at the cluster scope"`, but in that test, the user `admin` is a project admin and I don't see anything trying add permissions.  You're sure that particular 403 is unexpected?

I don't see anywhere in the logic waiting for access on something.

[2017-08-28 18:03] jayunit100 commented on #16011
@rootfs filesystem and @rhatdan security folks ...    any thoughts on how we should mount files into /run/secrets  ?

[2017-08-28 18:04] mfojtik commented on #16012
AFAIK only cluster admins can get images... I saw several docker.io flakes today where we failed to fetch stuff from dockerhub, maybe this one is related.

[2017-08-28 18:08] mfojtik opened #16013 "[Conformance][templates] templateinstance impersonation tests should pass impersonation update tests"
[code]

Seen: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15624/test_pull_request_origin_extended_conformance_gce/6794/#-conformancetemplates-templateinstance-impersonation-tests-should-pass-impersonation-update-tests

[2017-08-28 18:14] richm commented on #16005
@jcantrill That should have been fixed @rhcarvalho what version of the test are you using?

[2017-08-28 18:16] ashcrow commented on #15953
In https://bugzilla.redhat.com/show_bug.cgi?id=1485312#c6 @jupierce noted that the package was accidentally removed in the build and should be back in the next build.

[2017-08-28 18:19] rhcarvalho commented on #16005
@richm it was in the openshift-ansible merge queue, I don't know what version.

https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_openshift_ansible/928/

[2017-08-28 18:25] bparees commented on #15941
all three of those tests failed due to failed builds and all the builds failed trying to push the output image to the internal registry:

[code]

@legionus can you take a look?  But this seems like a security issue, so might come back to @sjenning and @deads2k ....

[2017-08-28 18:27] richm commented on #16005
ok - I think it is a test flake - try it again

[2017-08-28 18:32] csrwng commented on #15951
@andreabattaglia how much cpu/memory are you giving docker ? do you get a different result if you increase the amount of memory?

[2017-08-28 18:58] jorgemoralespou commented on #15983
@csrwng, no. I'll close this PR, as it will be difficult for me to get the
right wording, links, etc...

[2017-08-28 18:58] #15983 closed

[2017-08-28 19:06] bparees commented on #15143
removing myself from this as the last remaining item is tracked in a separate issue:
https://github.com/openshift/origin/issues/15032

i think in general this issue can be closed out given that we have all the tracking issues in place.

[2017-08-28 19:10] dcbw commented on #15991
@danwinship summary of our discussion on IRC...

Using netns stuff in the same process is OK as long as all the code is properly using Do() or WithNetNSPath().  All the pod* stuff does that, but the concern is other code in Kubernetes/OpenShift that always expects to be run in the host's netns.  If an OS thread is created by the Go runtime while some goroutine is in a container's netns, that OS th

[2017-08-28 19:25] legionus commented on #15941
@bparees The server has all reasons to complain :)
Someone added the wrong generated certificates for the tests ?

[2017-08-28 19:53] smarterclayton commented on #16001
As per in person discussion, we're going to drop to loglevel=4 and make
people log important stuff at 4.

On Mon, Aug 28, 2017 at 1:57 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-08-28 20:58] bparees commented on #15996
possibly related to https://github.com/openshift/origin/issues/15783

@juanvallejo given the changes you made for that issue, any chance you can take a look here?

[2017-08-28 21:06] derekwaynecarr commented on #15974
we need https://github.com/google/cadvisor/pull/1681

[2017-08-28 21:38] juanvallejo commented on #15996
@bparees sure, will take a look

[2017-08-28 21:42] stevekuznetsov commented on #15969
/assign @smarterclayton

[2017-08-28 21:50] smarterclayton commented on #15974
Hrm, we have that already.

[2017-08-28 21:52] smarterclayton commented on #15969
Was fixed a while back.

[2017-08-28 21:52] #15969 closed

[2017-08-28 22:27] bparees opened #16023 "Extended.deploymentconfigs with custom deployments [Conformance] should run the custom deployment steps"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4987/

[2017-08-28 22:50] bparees commented on #15680
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_builds/139/

[2017-08-28 23:26] jim-minter commented on #12989
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16022/test_pull_request_origin_unit/1708/

[2017-08-29 02:32] wanghaoran1988 commented on #15808
I can build this successfuly with: "make release" on the master branch which are build rpms and images (using imagebuilder)
docker version:
[code]

[2017-08-29 02:54] smarterclayton commented on #15808
I think the problem is -cs8 - the redhat packaged versions of docker have many, many backported fixes from newer docker versions, so it's likely that the upstream community edition has a bug (we squashed several race conditions in volume mounts).  Newer cs versions may work, but the red hat packages on centos are known good.

[2017-08-29 03:34] xiaods commented on #15808
@smarterclayton @wanghaoran1988 yeah, it make sense, we got successful sometime with some retry .

[2017-08-29 03:34] xiaods commented on #15808
i think this issue is resolved.

[2017-08-29 03:54] pennpeng commented on #15979
when i restart the system or restart the origin service it  will be ok for a moment,after a little time ,Again, there's the problem.

[2017-08-29 03:56] pennpeng commented on #15979
and i create a svc use loadblance ，cant't work for openstack loadbance:
[code]

[2017-08-29 05:08] smarterclayton opened #16025 "flake: deploymentconfigs with minimum ready seconds set [Conformance] should not transition the deployment to Complete before satisfied"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16022/test_pull_request_origin_extended_conformance_gce/6827/#-deploymentconfigs-with-minimum-ready-seconds-set-conformance-should-not-transition-the-deployment-to-complete-before-satisfied

[code]

[2017-08-29 05:08] smarterclayton commented on #16025
@openshift/sig-platform-management @mfojtik @tnozicka

[2017-08-29 06:19] ArminMW commented on #15586
I attached the gzip'ped output of `oc logs hawkular-metrics-mljsd`([hawkular-metrics-mljsd.log.gz](https://github.com/openshift/origin/files/1259270/hawkular-metrics-mljsd.log.gz))

[2017-08-29 06:52] jmencak commented on #15953
Works with v3.7.0-0.117.0 puddle now.  I think this can be closed.

[2017-08-29 07:47] mangirdaz commented on #6267
Does anybody make @bparees solution work?
[code]
and still seeing :
[code]
Modifying BC as per @akram works just fine.

Can it be variables via admission plugin are set just after clone was initiated?
as With @akram solution output is like this:
[code]

[2017-08-29 07:57] mguillem commented on #15723
Some new information: it is perhaps related to the underlying OS. It is only failing (so far) when the cluster is installed on CentOS servers and not on Fedora:

- our old Openshift 1.3 is installed on Fedora 25 servers and flow is running without problem.
- the first test with OpenShift 3.5 was with servers running with CentOS
- yesterday we've setup a cluster with OpenShift 3.6 on CentOS and the

[2017-08-29 08:17] tnozicka commented on #16025
on a first look:
[code]
@smarterclayton Seems like we are out of memory - can we increase that for our jobs?
I saw this in https://github.com/openshift/origin/issues/16003 as well

[2017-08-29 09:06] tnozicka commented on #16023
Deployer pod failed because of infra:
[code]

[2017-08-29 09:24] wanghaoran1988 commented on #15808
/close

[2017-08-29 09:24] #15808 closed

[2017-08-29 09:27] mfojtik commented on #16023
@sjenning PTAL

[2017-08-29 12:12] abdelhegazi commented on #15720
[code]

[2017-08-29 12:25] jcantrill commented on #15586
@mwringe @jsanda The cassandra log appears that maybe there was a transient error as its starting but the hawkular log looks like its missing a library or something.  Can you comment regarding what you see?

[2017-08-29 12:30] rhatdan commented on #16011
/run/secrets is a special directory which is created by docker to container the RHEL secrets code.  It is probably some interaction here which is causing the issue.

[2017-08-29 13:12] #15953 closed

[2017-08-29 13:23] andreabattaglia commented on #15951
@csrwng Docker machine has been started with 4 cores and 4 GB memory. After the first failure, I've tried to start from scratch, allocating 6 GB and 8 GB, unsuccessfully

[2017-08-29 13:30] csrwng commented on #15951
@andreabattaglia is it the same failure every time? (failure to mount the token on the router deployer pod)

What happens if you login as admin and manually redeploy the router?
[code]

[2017-08-29 13:33] soltysh commented on #14897
Yeah, I'll close this one in favor of the other one.

[2017-08-29 13:33] #14897 closed

[2017-08-29 13:34] ArminMW commented on #15586
I deleted my OpenShift Origin v3.6 cluster and the **hawkular-cassandra**, **hawkular-metrics** & **heapster** Docker images from the local Docker repository. then I did a clean new setup using:

- `oc cluster up --host-data-dir ~/origin-etcd/ --metrics --logging --service-catalog --version=v3.6.0`
- `oc login -u system:admin`
- `oc adm policy add-cluster-role-to-user cluster-admin admin`
- `oc ad

[2017-08-29 13:54] bparees commented on #16025
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6841

[2017-08-29 13:55] tnozicka commented on #16025
@openshift/sig-continuous-infrastructure can someone pls trace this? It is happening quite often lately.

@smarterclayton any chance that your parallelism PR raised the memory expectations?

[2017-08-29 14:17] smarterclayton commented on #16025
Parallelism was integration, this is e2e.  The master logs are in the artifacts dir.

[2017-08-29 14:29] priyanka5 commented on #15795
Hi , I have not received any response on this, can anybody please help me with the issue?
thanks much!

[2017-08-29 14:43] tiran opened #16032 "RBAC Migration Followup #23: Investigate distinctions between different user/group kinds"
RBAC does not distinguish between ``UserKind`` and ``SystemUserKind``. Both kinds are mapped to ``APIGroup = rbac.GroupName`` and ``Kind = rbac.UserKind``. The same is true for ``GroupKind`` and ``SystemGroupKind``. We need to confirm that the distinction between the different kinds still works as we expected. Further more, does it make sense to upstream the distinction?

@openshift/sig-security

[2017-08-29 14:46] liggitt commented on #16032
No, the distinction is not meaningful upstream.

[2017-08-29 14:49] enj commented on #16032
@liggitt @deads2k from what I gather we use this distinction in:

1. Impersonation
2. Role binding restriction admission

Are you aware of any other use cases?  I do not think the above two require any changes.

[2017-08-29 15:05] knobunc commented on #15795
Sorry, been out until recently and am digging out of my backlog.

Have you tried running `oc adm diagnostics NetworkCheck`

If that doesn't turn up anything obvious, please try the troubleshooting guide, and if that doesn't help run the debug.sh script at https://docs.openshift.com/container-platform/3.6/admin_guide/sdn_troubleshooting.html#further-help

[2017-08-29 15:17] Kamshak commented on #14904
@tnozicka is there a way around this issue?
Can't use openshift-acme on the dev preview :(

[2017-08-29 15:25] knobunc commented on #15982
I suspect that now the router supports metrics, we should deprecate this option.  This needs some investigation.

[2017-08-29 15:26] knobunc commented on #15986
How did you install?  What networking plugin are you using?

[2017-08-29 15:29] knobunc commented on #15999
Can't you make your change and re-run the ansible playbook?  It should just change the appropriate setting.

If you are unwilling to do it using Ansible, you can edit the config on each node and in the master.

[2017-08-29 15:29] #15999 closed

[2017-08-29 15:32] bparees opened #16037 "Extended.deploymentconfigs with minimum ready seconds set [Conformance] should not transition the deployment to Complete before satisfied"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6852

[2017-08-29 15:34] bparees commented on #15680
still happening pretty consistently in our overnight runs (and could bite us in PR merges now too for anything touching builds):
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/187/

[2017-08-29 15:47] jwhonce commented on #13014
@stevekuznetsov and @johnbieren Where do we stand on getting later builds for @bparees to use for his builds?

[2017-08-29 15:50] priyanka5 commented on #15795
@knobunc - I have tried SDN troubleshooting already but it doesn't help, as everything seems fine according to the document. Is there any other thing we can check?
FYI I am able to reach docker registry from few nodes but not from rest. (total I have 8 nodes), not sure where is the mismatch.

[2017-08-29 15:57] coreydaley commented on #15680
Added additional debugging to https://github.com/openshift/origin/pull/15994 which will hopefully tell us what is happening when it fails.

[2017-08-29 16:01] andreabattaglia commented on #15951
@csrwng it happens exactly the same every time. I've tried to redeploy the router pod manually as well, getting the same error.

[2017-08-29 16:01] tnozicka commented on #14904
@Kamshak I have updated the [cluster role](https://github.com/tnozicka/openshift-acme/blob/master/deploy/clusterrole.yaml#L7) to specify API group although we use legacy API only - so to me that's a hack but it works

[2017-08-29 16:04] bparees commented on #13014
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/5014/testReport/junit/(root)/Extended/_builds__Conformance__s2i_build_with_a_root_user_image_Building_using_an_image_with_a_root_default_user_should_fail_the_build_immediately/

[2017-08-29 16:05] bparees commented on #13014
Note that that wasn't really a build specific failure, the pod couldn't create an init container.  It just happened to be a build pod that included the init container.

[2017-08-29 16:07] #16013 closed

[2017-08-29 16:07] jim-minter commented on #14163
covered by #15966 and https://trello.com/c/eGPZllFr/1314-template-service-broker-dont-return-from-deprovision-until-all-objects-gone

[2017-08-29 16:15] jim-minter commented on #14883
Trello'd https://trello.com/c/h9s07jWe/1325-make-templateinstance-objects-hold-a-ref-to-their-template

[2017-08-29 16:15] #14883 closed

[2017-08-29 16:30] dmage commented on #15903
Is the link to the Jenkins build correct? I can't find any `connection refused` there.

[2017-08-29 16:33] jim-minter commented on #15903
@dmage yes - see https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/754/s3/download/journals/docker.service

[2017-08-29 16:34] mfojtik commented on #16037
i'm pretty sure I already saw an issue for this one

[2017-08-29 16:35] mfojtik commented on #16037
closing in favor of https://github.com/openshift/origin/issues/16025

[2017-08-29 16:35] #16037 closed

[2017-08-29 16:39] Kamshak commented on #15772
@smarterclayton is there a way to get the update permission somehow in the dev preview? I've tried using a local role but there seems to be a rolebindingrestriction that prevents actually using the role

[2017-08-29 16:52] tnozicka commented on #16025
Is it possible that test infra doesn't build **deployer** image and uses the old one?

I can see in logs that is uses `openshift/origin-deployer:v3.7.0-alpha.0` but it could have built it from current commit and just tag it this way...

If that's the case I might have been derailed in my previous investigation.

Actually trying this with the 4 weeks old deployer image gives me flakiness of 1/3; us

[2017-08-29 17:09] tnozicka commented on #16025
So it seems to be true:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6827/s3/download/nodes/qgx8/generated/docker.info
[code]
this isn't build from current master that's why this test is flaky. It **needs updated 'openshift/origin-deployer' image**

Why aren't we building the images and using them for tests as they are part of the codebase as well?

[2017-08-29 17:13] smarterclayton commented on #16025
Was there a bug fix in the image?

Is install_update failing as well?

On Aug 29, 2017, at 1:09 PM, Tomáš Nožička <notifications@github.com> wrote:

So it seems to be true:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6827/s3/download/nodes/qgx8/generated/docker.info

docker.io/openshift/origin-deployer     v3.7.0-alpha.0 a5bb3aff72a9  3
weeks ago

[2017-08-29 17:17] stevekuznetsov commented on #16025
GCE test can not and will not build images. How did the change to the image merge without GCE passing?

[2017-08-29 17:19] stevekuznetsov commented on #16025
From the [most recent release job](https://ci.openshift.redhat.com/jenkins/job/push_origin_release/1030):

[code]

[2017-08-29 17:21] tnozicka commented on #16025
@smarterclayton we have fixed how the minreadyseconds are counted few days ago in deployer pod.

The old deployer pod and the new one count it differently. So depending on timing and cluster utilization those might match or not. (they mostly do match)

[2017-08-29 17:22] mfojtik commented on #16025
Do we know when this occurred for the first time? What changes to deployments we made recently that will cause 3 tests to flake heavily?

[2017-08-29 17:22] stevekuznetsov commented on #16025
@smarterclayton looks like the release job is not tagging the images as 3.7 or whatever is necessary -- can you update that?

[2017-08-29 17:23] mfojtik commented on #16025
@tnozicka thx, will see if this improves when we get the updated images out.

[2017-08-29 17:31] tnozicka commented on #16025
btw. this is the PR fixing deployer https://github.com/openshift/origin/pull/14954
(It suddenly became flaky while it was merging)

[2017-08-29 17:33] gabemontero commented on #16025
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16036/test_pull_request_origin_extended_conformance_gce/6865/

and

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16036/test_pull_request_origin_extended_conformance_install_update/5038/

[2017-08-29 17:46] stevekuznetsov commented on #16025
Latest tag should also be pushed in https://github.com/openshift/aos-cd-jobs/commit/fab6ea709770482ab9b428a2204729dc6aea20ef

[2017-08-29 17:51] #15576 closed

[2017-08-29 18:34] enj opened #16042 "RBAC Migration Followup #24: Update RoleBindingRestriction admission to handle RBAC"
The admission plugin at `pkg/authorization/admission/restrictusers/restrictusers.go:97` needs to updated to prevent the creation of RBAC role bindings.  This is critical for online environments since they use this feature heavily.  We need to add tests for this as well.  I do not think we can drop the legacy bits in the code either (could cause issues during a HA upgrade).

@openshift/sig-security

[2017-08-29 18:44] enj commented on #15831
@simo5 based on a conversation with @jupierce, we actually need to do discovery based gating because we have internal clusters that will be upgraded from 3.7 (pre-RBAC) to 3.7 (post-RBAC).  I suppose we could do hacks to make version based gating work, but using discovery seems like the correct approach.

[2017-08-29 19:58] lucastheisen commented on #11323
Perhaps this is the wrong place to ask, but when running `oc cluster up` behind my corporate proxy, it fails with:
[code]
This makes sense because `10.0.75.2` is being _proxied_...  If i add that IP to my `no_proxy` in my console, then it works:
[code]
The problem is that the IP is dynamically allocated by docker...  So this is a bit of chicken and egg...  Is there a suggested approach to get arou

[2017-08-29 20:27] juanvallejo commented on #15996
I suspect this issue is happening due to `brokers` not being supported in the client yet. In both cases of `oc new-app ...` and `oc process ... | oc create -f -`, the client deals with a `*runtime.Unknown` object. The only difference is that `oc new-app` fails [when trying to use the metadata.Accessor to add annotations to the *runtime.Unknown object](https://github.com/openshift/origin/blob/maste

[2017-08-29 20:29] smarterclayton commented on #16025
Will this cause a problem when a user updates to master 3.7 while deployer
3.6 pods are running?  If so this was not a safe change to make.

On Tue, Aug 29, 2017 at 1:46 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-08-29 20:29] bparees commented on #15996
I thought our clients were supposed to handle this through api discovery?

[2017-08-29 20:35] derekwaynecarr commented on #15974
looks like this: https://github.com/kubernetes/kubernetes/pull/51473

[2017-08-29 21:16] tnozicka commented on #16025
@smarterclayton I don't think it will. It used to count minreadyseconds by pods availability in the deployer. But throughout the time RC got minreadyseconds as well counted separately using the controller. Then when you deployed DC there was a brief moment when RC wasn't available due to minreadysec but DC was. We have unified it so DC now uses RC's minreadyseconds.

The reason why the test won't

[2017-08-29 23:50] smarterclayton commented on #15974
Cherrypigking

[2017-08-30 00:18] smarterclayton commented on #16025
Looks like it is still failing even with the latest image
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16046/test_pull_request_origin_extended_conformance_gce/6910/#-deploymentconfigs-with-minimum-ready-seconds-set-conformance-should-not-transition-the-deployment-to-complete-before-satisfied

On Tue, Aug 29, 2017 at 5:16 PM, Tomáš Nožička <notifications@github.com>
wro

[2017-08-30 00:48] dmage commented on #15903
Doesn't look like a registry issue, the registry had successfully started and got only /healthz requests: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/754/s3/download/scripts/core/logs/containers/k8s_registry_docker-registry-1-vwgvb_default_6deb4ed0-8756-11e7-9f2f-0e08a8ff17cc_0.log

From the origin-node logs:
[code]

`proxy may not work as intended` and

[2017-08-30 01:21] smarterclayton commented on #15869
@kwoodson you should be fixed on master now

[2017-08-30 02:50] #16001 closed

[2017-08-30 03:54] bparees commented on #6267
@mangirdaz what level of openshift are you on?  I think there were some issues historically w/ us not setting the default envs on the pod itself.  May only be fixed in 3.6.

https://bugzilla.redhat.com/show_bug.cgi?id=1443187#c11
https://github.com/openshift/origin/pull/13825

[2017-08-30 06:54] teotia39 commented on #11323
Guys , If i follow openshift origin advanced installation @
https://docs.openshift.org/latest/install_config/install/advanced_install.html  ,

then post installation do i still need to execute "oc cluster up" command.

Second question while creating inventory files , we have set of variables like "openshift_http_proxy" "openshift_https_proxy" and even no_proxy variables which we can set , Does thi

[2017-08-30 07:37] hargut commented on #13599
Just in case anyone else stumbles across this issue, here is how I could resolve it:
[code]

There will be an "Error" that a serviceaccount regisitry already exists. To fix that error, one could delte the service account or modify the default-registry.yaml before recreating the registry.

[2017-08-30 08:41] tnozicka commented on #16025
I can't get to master logs because Jenkins is down with 503 for several hours now. (We don't have master logs on appspot.com AFAICS, only in S3 artifacts in Jenkins.)

From the build log this is a different (timeout) issue which might not hopefully manifest that frequently although I should fix it once I can see master logs and I can reproduce it.

[2017-08-30 08:51] olsib opened #16050 "Upgrade to origin 1.5.1 fails during "Upgrade all storage" task with "Forbidden: pod updates may not change fields..""
[provide a description of the issue]
Upgrade of origin from version 1.4.0 to v1.5.1 using ansible playbook fails during "Upgrade all storage" task.

##### Version
Containerized deployment

oc v1.4.0+208f053
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v1.4.0+208f053
kubernetes v1.4.0+776c994

##### Steps To Reproduce
1. ansible-playbook -vvv openshift-ansible/pla

[2017-08-30 09:25] priyanka5 commented on #15795
Hi @knobunc - output of o adm is below , please check if you can suggest something:
 oc adm diagnostics NetworkCheck
[Note] Determining if client configuration exists for client/cluster diagnostics
Info:  Successfully read a client config file at '/root/.kube/config'

[Note] Running diagnostic: NetworkCheck
       Description: Create a pod on all schedulable nodes and run network diagnostics from

[2017-08-30 10:00] wanghaoran1988 opened #16051 "Build failed push image to registry with 500 internal server err"
[provide a description of the issue]
Build failed push image to registry with 500 internal server err
##### Version
[provide output of the `openshift version` or `oc version` command]
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
etcd 3.2.1
This is an origin rpm pkg installed cluster with:
[code]

##### Steps To Reproduce
1. [step 1]
oc new-app https://github.com/openshift/ruby-ex

##### C

[2017-08-30 10:01] wanghaoran1988 commented on #16051
/cc @mfojtik @legionus

[2017-08-30 10:13] wanghaoran1988 commented on #16051
https://paste.fedoraproject.org/paste/XQjXflklDUz0943OiQmX3Q

[2017-08-30 10:27] mfojtik commented on #16051
is this a multi-master environment? if so can you attach the corresponding master logs (the 403 errors in particular)

[2017-08-30 10:34] wanghaoran1988 commented on #16051
No, one cluster, one node

[2017-08-30 10:41] jorgemoralespou commented on #11323
Have you tried setting those parameters in "oc cluster up"?

If you do "oc cluster up -h" you'll see there's 3 parameters related to proxies:

[code]

Maybe you should try to set those directly to the "oc cluster up" command.

[2017-08-30 10:47] teotia39 commented on #11323
Should i execute this after executing the openshift ansible playbook for openshift origin installation ???????

[2017-08-30 10:55] jorgemoralespou commented on #11323
@teotia39 since this issue is for "oc cluster up" not sure why you're running the openshift installation. My reply was to @lucastheisen.

"oc cluster up" is to run openshift locally on your laptop. Not for when you do a full install of a cluster with ansible.
To your second question, those ansible variables will apply to the nodes where you're installing openshift with ansible, not to your client

[2017-08-30 11:53] legionus commented on #16051
@wanghaoran1988 For some reason, some queries to master API fail due to the lack of permissions.
Can you grep the master log for errors ?

[2017-08-30 12:44] soltysh commented on #9712
Yup, it's in https://github.com/openshift/origin/blob/master/test/extended/images/prune.go. I'll close @miminar feel free to reopen if you feel more is needed.

[2017-08-30 12:44] #9712 closed

[2017-08-30 12:45] soltysh commented on #15928
That's why you need to fix it. I did the same in images.

[2017-08-30 12:47] soltysh commented on #14409
It was fixed in https://github.com/openshift/origin/pull/15098.

[2017-08-30 13:04] soltysh commented on #13214
We already [watch IS by name](https://github.com/openshift/origin/blob/7999046a4be605998e2c9c71bdd97d0a17e33a5f/pkg/oc/cli/cmd/importimage.go?#L293), but unfortunately watch are limited and that they don't work with limited privs. We'd have to change that watch call to poll on a get.

[2017-08-30 13:04] lucastheisen commented on #11323
@jorgemoralespou , I do set those, but this issue is not _inside_ of openshift...  Its when `oc cluster up` is processing.  It looks like `oc cluster up` runs the `origin` container, then tries to connect to it at the IP assigned to the container by docker (_Error: cannot access master readiness URL https://10.0.75.2:8443/healthz/ready_).  So its not outbound container traffic (which is working fi

[2017-08-30 13:06] soltysh commented on #15720
Looks legit, can you double check if the pod created have that SA assigned and if that SA has the necessary privs? You could try running a regular pod with those SA and see if it works. It looks entirely like a configuration issue for me.

[2017-08-30 13:14] php-coder commented on #16050
This is similar to https://bugzilla.redhat.com/show_bug.cgi?id=1482824

At this time it's hard to say what has happened here and what field(s) pod tried to mutate. There is a PR that improves logging (https://github.com/openshift/origin/pull/15855) but it only available in 3.6 AFIU.

Perhaps it would be helpful to have more details about upgrade: host OS, version of etcd.

@liggitt @mfojtik @deads

[2017-08-30 13:26] olsib commented on #16050
Host OS: Redhat 7.3
ETCD: version: 3.1.9

[2017-08-30 13:27] smarterclayton commented on #16025
Master logs are all on gcs and are accessible via artifacts link on
gubernator

On Aug 30, 2017, at 4:41 AM, Tomáš Nožička <notifications@github.com> wrote:

I can't get to master logs because Jenkins is down with 503 for several
hours now. (We don't have master logs on appspot.com AFAICS, only in S3
artifacts in Jenkins.)

From the build log this is a different (timeout) issue which might not
hop

[2017-08-30 13:32] abdelhegazi commented on #15720
Hi @soltysh do you mean SCC allocated to that SA or anything else
because
oc export job consul-snapshot . actually returns that aqua-account service account. I even gave this service account clutser-admin cluster role as well as hostmount-anyuid scc but I thought this still a limitation within the cronjob

[2017-08-30 13:35] bparees commented on #13214
Hm.  Polling doesn't seem unreasonable in this case, thanks.

[2017-08-30 13:35] soltysh commented on #15720
You need to verify the pod created by the job. The security related things are handled at pod level. If it works with regular pod it should with one created from CronJob. CronJob by itself doesn't do anything special than creating a Job, which in turn creates a Pod.

[2017-08-30 13:35] bparees commented on #14409
thanks @soltysh

[2017-08-30 13:39] dmage commented on #15903
@knobunc do you have ideas why the registry pod may be unavailable to the docker daemon?

[2017-08-30 13:42] olsib commented on #16050
FYI: I get same error when trying to upgrade from 1.4.0 to 1.4.1, so might not be related with the specific version of openshift

[2017-08-30 13:46] sosiouxme commented on #15988
Is this a dupe of https://github.com/openshift/origin/issues/10773 ?

[2017-08-30 16:40] stevekuznetsov opened #16056 "oc scale broken for 3.7.0-alpha.0 client on 3.7.0-alpha.1 server"
using this version:

[code]

seeing this:

<details>
<summary>click for full logs</summary>

[code]

</details>

[2017-08-30 16:40] stevekuznetsov commented on #16056
Works fine with a newer oc

[code]

[2017-08-30 16:42] stevekuznetsov commented on #16056
The 403 was real -- the resource version unkown seems fishy

[2017-08-30 17:18] kargakis opened #16058 "TEST"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2017-08-30 17:19] kargakis commented on #16058
/joke

[2017-08-30 17:29] kargakis commented on #16058
/joke

[2017-08-30 17:29] #16058 closed

[2017-08-30 19:47] lucastheisen opened #16063 "8443: bind: address already in use after running oc cluster up"
After running `oc cluster up`, I cannot forward port 8443 on any other container:
[code]

Windows does not report anything listening on 8443:
[code]

But if i `oc cluster down` then run the docker command again, it works as expected.

##### Version
[code]

##### Steps To Reproduce
1. `oc cluster up`
2. `docker run -it --rm -p 127.1.0.1:8443:8443 -p 127.1.0.1:53:53 centos:7 bash`

##### Current Res

[2017-08-30 20:02] enj opened #16064 "oc get projectrequests -o yaml panics"
[code]

[2017-08-30 20:48] #15310 closed

[2017-08-30 20:49] #13876 closed

[2017-08-30 20:50] #3667 closed

[2017-08-30 20:53] liggitt opened #16065 "3.8 rebase issue tracker"
Collect known TODOs for 3.8 rebase:

- [x] drop ugorji drop commits
- [x] drop json-iter until it has soak time upstream
  - [ ] https://github.com/json-iterator/go/issues/191
- [x] change to include leading/trailing slashes in parsed subresource path param (affects WebHook#NewConnectOptions)
- [x] investigate why we need `LegacySchemeBuilder.Register(RegisterConversions)` in apps and image groups

[2017-08-30 22:19] adityadani commented on #15269
PR https://github.com/openshift/origin/pull/15862 got merged.
What is the procedure to cherry-pick changes into release-3.6 branch? We would like to enable portworx for the upcoming 3.6.x release.

[2017-08-30 22:38] juanvallejo commented on #16064
@fabianofranz this one is a bit tricky since, right now, the `get` cmd [assumes that all lists of infos returned from the resource builder are *unstructured.Unstructured](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go#L355). When it comes across a runtime.Object that does not convert to `*unstructured.Unstructured`, this panic happens.

Will look more into this, but an

[2017-08-31 01:06] bparees commented on #13966
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_unit/1852/

[2017-08-31 01:07] bparees commented on #13980
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/5157/

[2017-08-31 01:07] bparees commented on #13980
@mfojtik was the rate-limiter ever fixed?

[2017-08-31 02:26] wanghaoran1988 commented on #16051
this is the master log, I am not sure what's the error for the pushed failed problem, but I seem some certificates verification problem.
https://paste.fedoraproject.org/paste/mo0~5zpjRmnQ7zuPNBbaGw

[2017-08-31 02:50] magick93 opened #16070 "invalid response when trying to access web console"
I installed Openshift using ansible, but when trying to access the webconsole I get an invalid response error.

##### Version
oc version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://CentOS-73-64-minimal:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Run the following ansible inventory file;

[cod

[2017-08-31 07:15] mfojtik commented on #13980
@bparees it was tweaked for some tests but not for deployment tests... so no, it was not fixed (the original issues is still opened).

[2017-08-31 07:37] tnozicka commented on #15274
pr merged; file removed; closing

[2017-08-31 07:37] #15274 closed

[2017-08-31 09:06] kargakis commented on #14962
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16061/test_pull_request_origin_end_to_end/1620/

[2017-08-31 09:40] mfojtik commented on #15416
@bparees @coreydaley still broken and P0 ?

[2017-08-31 09:42] tnozicka opened #16072 "flake: templateinstance unexpectedly reported failure"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16061/test_pull_request_origin_extended_conformance_install_update/5182/

[code]

Might be related to https://github.com/openshift/origin/issues/15901 but the error differs.

[2017-08-31 11:09] ksemaev commented on #10864
@kargakis please explain - is there any analog for oc rollout status for jobs?
Current oc 3.6.0 tells:
"no status viewer has been implemented for {batch Job}"

are there any workarounds - how to see the rollout status for one job ? (oc get jobs is useless with CI/CD)

[2017-08-31 12:39] ingcsmoreno commented on #15982
I'm running a OO v1.4 cluster, and still have this issue. The "integrated" router metrics mentioned above don't work for me since they get constantly reset.

As a workaround, I deployed the router as @jperville did, then modified the router deploymentconfig and added the missing "-" at the args section.
Say:
from:
[code]
to:
[code]

[2017-08-31 13:01] priyanka5 commented on #14455
@do3cc - I am facing  same issue recently with my openshift installation , where I am not able to reach docker-registry from other nodes and it gives "no route to host" error . I tried SDN debugging but that doesnt help. Could you please help me how you solved the issue as disabling network manager also doesn't work for me. Thanks

[2017-08-31 13:10] bparees commented on #15416
@mfojtik i looked through the history of the two dupes I referenced and it appears it was ultimately resolved by https://github.com/openshift/openshift-ansible/pull/4841

[2017-08-31 13:10] #15416 closed

[2017-08-31 13:12] bparees opened #16075 "register TSB via TSB template"
Currently oc cluster up makes a direct call to the SC to register the TSB.  This should instead be handled by the TSB template that installs the other pieces of the template.  It should also properly setup the TLS certs (today it registers as skipTLS=true).

There is at least one challenge here which is that if the TSB registers w/ the broker before the TSB is actually available, the SC will hit t

[2017-08-31 13:17] rhcarvalho commented on #15715
@sosiouxme's https://github.com/openshift/openshift-ansible/pull/5125 adds retries and should help mitigate `yum` flaky failures.

[2017-08-31 13:17] #15715 closed

[2017-08-31 13:19] deads2k commented on #16075
I think this issue involves @sdodson and @ewolinetz too.

@bparees is there any reason to avoid an installation order that goes
 1. openshift core
 2. TSB - wait for ready
 3. SC - wait for ready
 4. SC wiring?

If you happen to have a `.yaml` file that shows what we're creating, my memory says there's not actually any information that must flow from TSB to SC-wiring, so a TSB update (or removal)

[2017-08-31 13:25] bparees commented on #16075
@deads2k we can't create the broker resource(which is the thing that kicks off the SC trying to access the TSB) until the SC is registered w/ the aggregator, right?

So there is a dependent ordering of:
1) sc broker resource is registered (implies SC is up)
2) tsb is up
3) create tsb broker resource (results in SC calling TSB)

[2017-08-31 13:28] deads2k commented on #16075
I think that's the install path I described, but on a TSB update (bumping the image, changing the config, or some such), the broker resource doesn't need to be updated, right?

[2017-08-31 13:31] dmage commented on #14228
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/7036/consoleFull#-167517886956cbb9a5e4b02b88ae8c2f77
[code]

[2017-08-31 13:43] simo5 commented on #14575
Still seeing this:
[code]

[2017-08-31 13:44] stevekuznetsov commented on #14575
We had some issues. Resolved today.

[2017-08-31 13:51] bparees commented on #16075
well it's also the install path i originally described, so perhaps we're talking past each other?

correct.

[2017-08-31 14:11] deads2k commented on #16075
Based on in person discussion, we're leaning towards a separate folder under `/install` that will contain broker resources.  The templates in there may be special snowflakes in terms of "when do I create these", but we don't want them in the `/install/tsb` folder since everything in that folder should be contained and not have a dependency on the SC.  The SC and every broker should be installable

[2017-08-31 14:22] shortsteps commented on #15875
I had the same issue on Ubuntu 14.04 - i7 8GB RAM with Minishift v.1.5.0, KVM and B2D iso.
On my side it was a resource issue, increasing RAM and cpu dedicated to minishift the cluster successfully started (`minishift config set memory 6144 / minishift config set cpus 4`).

Here you are a report of my tests (while testing, only Skype and Firefox with a few windows opened were running).

`time MINI

[2017-08-31 14:38] smarterclayton opened #16078 "GitHub oauth request/token flow is broken in 3.7.0-alpha.1"
https://api.ci.openshift.org/oauth/token/request

Goes to GitHub, auth correctly, then comes back and reports:

[code]

We checked the `openshift-browser-client` secret, reset, and restarted.

[code]

[2017-08-31 14:38] smarterclayton commented on #16078
Blocks client login to the api.ci.openshift.org cluster, p0

[2017-08-31 14:45] jim-minter commented on #16072
Root cause is #13014.

[2017-08-31 14:45] #16072 closed

[2017-08-31 14:49] jim-minter commented on #13014
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/5182/

[2017-08-31 14:53] stevekuznetsov commented on #13014
@jwhonce

[2017-08-31 14:58] ksemaev commented on #16070
@magick93 the url is http://apps.mydomain.com:8443

[2017-08-31 15:19] magick93 commented on #16070
I get:

Yet browsing to  https://apps.mydomain.com shows me:

![image](https://user-images.githubusercontent.com/2173213/29931069-5cdae8d2-8e9a-11e7-9152-e432f3e71139.png)

[2017-08-31 15:20] php-coder commented on #16063
@openshift/devex

[2017-08-31 15:24] openshift-sentry opened #16080 "Panic observed in master: *errors.errorString: invalid state transition: Added -> Added"
https://sentry.io/red-hat/openshift-3-dev-preview-int/issues/340441138/

[code]

[2017-08-31 15:25] smarterclayton commented on #16080
Was on 3.7 int

[2017-08-31 15:25] deads2k commented on #15900
[code]

[2017-08-31 15:30] ksemaev commented on #16070
@magick93 https://apps.mydomain.com/ is nothing at this point, there is no application listening on 443 or 80 ports

did you add apps.mydomain.com and CentOS-73-64-minimal to your hosts file, or to DNS-server you are using?

[2017-08-31 15:31] csrwng opened #16081 "build controller: use retry in buildconfig policy to determine what build to run next"
With https://github.com/openshift/origin/pull/16055 we are reverting to using the REST client to determine which build to run next when transitioning a build to a completed phase.

A better solution would be to keep using the cache and simply retry when determining the build to run next and a build is still running.

[2017-08-31 15:32] ksemaev commented on #16070
how did you get this apps.mydomain.com address? Is it your domain?

[2017-08-31 15:32] #8571 closed

[2017-08-31 16:05] #14163 closed

[2017-08-31 16:14] csrwng commented on #16063
@lucastheisen cluster up uses the docker vm's network stack to set up the openshift master (runs the origin container with --network host). That means that no other container can forward that port. You don't see it used on your local machine because docker is running on its own vm. This is working as designed.

[2017-08-31 16:17] #16063 closed

[2017-08-31 16:20] magick93 commented on #16070
Yes correct. All it really shows is that http requests to https://apps.mydomain.com/ are reaching OpenShift, and that OpenShift is running. And from this, what I would expect is, if I add the default console port on the end, that I can then access the web console.

Yes, both - both domains are added my host file, and to a dns server.

Yes I own the domain. Its managed via Namecheap.

[2017-08-31 16:25] bparees commented on #15875
https://github.com/openshift/origin/pull/16069 makes some improvements in the TSB/SC startup logic that appears to have sped it up for me.  I'm going to close this issue w/ that PR but if you're still seeing issues after you pick it up, feel free to re-open.

[2017-08-31 16:29] srinivassurishetty commented on #14192
Seeing this issue, any workaround?

[2017-08-31 16:36] smarterclayton commented on #15982
We no longer support this path (we announced deprecation with innate metrics).  The recommended path going forward is to manage your router config (plus image) as a config object.

[2017-08-31 16:43] smarterclayton opened #16084 "Investigate accessing /etc/docker/certs.d from image importer, registry"
It should be possible for importer and registry to gracefully reuse the host's local registry client certs if specified to abstract connecting to client-cert protected registries.  These tend to be "host local" and the container engine accesses them abstractly (because they represent part of the infrastructure).

Per import / periodically when image import controller runs it should look at /etc/do

[2017-08-31 17:01] mpodol1 commented on #15939
I did find a cause of my trouble

The problem was is that once I would get the text from the VI editor of a config file, I would paste it into a notepad that would break the line and adding the new line characters

I used the TextPad instead where I was making sure that the encoded lines stay straight

After that all releases went fine and were successful

Thank you again for your help

[2017-08-31 17:15] deads2k opened #16086 "Sync /install to openshift-ansible"
In order to install "extra" api servers, we're going to keep the install config files and templates in openshift/origin where the code is and where owners normally operate.  These files need to synchronized into a folder of @sdodson's choosing in openshift-ansible where they will normally be consumed.  This should happen whenever new images are pushed to docker hub for openshift/origin.

During or

[2017-08-31 17:28] stevekuznetsov commented on #16086
I need to know full source and target paths and we can get a job set up that will merge into openshift-ansible whenever the code changes in origin.

[2017-08-31 17:28] ksemaev commented on #16070
then we need `netstat -ntulp` on master
there should be smth like:
tcp        0      0 0.0.0.0:8443            0.0.0.0:*               LISTEN      72753/openshift

[2017-08-31 17:49] magick93 commented on #16070
[code]

[2017-08-31 18:04] bparees commented on #12072
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/5216/

[2017-08-31 18:05] bparees commented on #12072
referenced issue above has been closed so i am raising the priority of this issue.

[2017-08-31 18:14] ksemaev commented on #16070
what about curl https://apps.mydomain.com:8443 from openshift master and from your pc?

And explain what is that CentOS-73-64-minimal name?

[2017-08-31 18:15] tnozicka commented on #15988
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16061/test_pull_request_origin_extended_conformance_install_update/5201/

[2017-08-31 18:20] magick93 commented on #16070
Oh! I tried curl https://apps.mydomain.com:8443 - and it worked.

https://apps.mydomain.com:844 works - but http://apps.mydomain.com:844 is not working!

Not sure why non-https is not working, but it doesnt really matter.

Thanks very much for your help!

[2017-08-31 18:20] #16070 closed

[2017-08-31 18:32] fabiand opened #16087 "Associate user with scc using a manifest?"
We are aiming to deploy KubeVirt on minishift with manifests-only thus no cli interaction.
So far we can deploy everything, there are just issues when we get to associating the user/serviceaccount with an scc, currently this needs to be done on the cli using
[code]
The question is if this command can also be performed with manifests only

For all details look at the end of http://adam.younglogic.c

[2017-08-31 18:50] ksemaev commented on #16070
non https will not work, openshift router is not listenning http ports by this name
You're welcome)

[2017-08-31 18:56] bparees commented on #16084
Thanks @smarterclayton, seems straightforward to me.  But once we resolve any questions/concerns @dmage and @legionus have, we will turn this into a trello card and queue it up asap.

[2017-08-31 19:50] stevekuznetsov opened #16091 "etcdhelper: loads of garbage output"
<details>
<summary>Seen in cleanup:</summary>

[code]

</details>

@deads2k says:
 12:47:50       deads| skuznets: I though mo had a fix for that.  Something about registering every type into a scheme

/assign @enj

[2017-08-31 19:52] enj commented on #16091
Duplicate of https://github.com/openshift/origin/issues/15516

[2017-08-31 19:52] #16091 closed

[2017-08-31 20:28] stevekuznetsov opened #16092 "admission denies cluster-admin from exec into build pod"
Trying to `oc exec` into a build pod I see this:

[code]

Running on the CI cluster:

[code]

<details>
<summary><code>oc get scc</code></summary>

[code]

</details>

<details>
<summary><code>oc exec kube-state-metrics-binary-10-build --as system:admin --loglevel 9001 -- ls</code></summary>

[code]

</details>

<details>
<summary><code>oc get pod kube-state-metrics-binary-10-build -o yaml</code><

[2017-08-31 20:29] stevekuznetsov commented on #16092
Also FWIW this is the current UX of this command:

[code]

That is 100x impossible to read.

/cc @juanvallejo @fabianofranz

[2017-08-31 20:30] stevekuznetsov commented on #16092
/cc @pweil-

[2017-08-31 20:32] stevekuznetsov commented on #16092
/cc @bparees for good measure since it's a build pod

[2017-08-31 20:33] pweil- commented on #16092
/unassign @enj
/assign @php-coder

@php-coder this looks like maybe it could have to do with impersonation and how that comes accross in the admission chain.  In practice, the cluster-admin should be able to exec into anything because they are granted the privileged SCC by default but here it looks like only the restricted provider is available.

[2017-08-31 22:25] smarterclayton opened #16093 "test flake HAProxy router sets the forwarded headers appropriately"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15995/test_pull_request_origin_extended_conformance_install_update/5245/#-conformancenetworkingrouter-router-headers-the-haproxy-router-should-set-forwarded-headers-appropriately

[code]

[2017-08-31 22:25] smarterclayton commented on #16093
@openshift/sig-networking

[2017-08-31 23:32] #16025 closed

[2017-09-01 01:28] #15996 closed

[2017-09-01 05:14] #15875 closed

[2017-09-01 07:15] #15974 closed

[2017-09-01 07:31] cello86 opened #16097 "Origin 3.6 internal registry resolution failure"
We have installed a Origin 3.6 instance on our development environment and we pushed some images into the internal registry with success. If we try to start a new deployment with this images the POD fails its pull action from the registry because it can't resolve the address docker-registry.default.svc.

`Failed to pull image "docker-registry.default.svc:5000/test-shared/haproxy@sha256:424a91dde92

[2017-09-01 10:38] gupka02 opened #16099 "The connection to the server gupka02-I201625:8443 was refused - did you specify the right host or port?"
The connection to the server gupka02-I201625:8443 was refused - did you specify the right host or port?

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://gupka02-I201625:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml
2. inven

[2017-09-01 11:00] php-coder commented on #16092
Most likely there is something that was broke in the authentication/impersonation because admission controller hasn't been changed recently.

[2017-09-01 11:50] gupka02 commented on #16099
Any help on this ?

[2017-09-01 11:56] jsuchenia commented on #15910
Without openstack enabled driver my hosts looks like below:
[code]
and a hostsubnets are also using IPs only:
[code]
@pweil- Do you have an idea why enabling openstack cloud driver change a node name, but sdn still is looking over a subnets using old IP address?

[2017-09-01 12:54] #13035 closed

[2017-09-01 13:23] stevekuznetsov commented on #16092
How can we validate? What do you need to see for debugging?

[2017-09-01 13:24] jim-minter commented on #15901
I believe these issues were fixed by #15966

[2017-09-01 13:24] #15901 closed

[2017-09-01 13:38] pweil- commented on #16092
@php-coder you can up the log level to at least 4 and test the difference of the user info before and after the authentication changes when using an `--as` parameter.  That is what determines what SCCs are available.  If that's so then we can get @enj and @simo5 to help out.

[2017-09-01 13:50] tbielawa opened #16103 "yum flake network unreachable"
[code]

Observed in:
*  https://github.com/openshift/openshift-ansible/pull/4509#issuecomment-326381294
* https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible/579/consoleFull#-174618036857a0a9ade4b0a40ee2fa5df2

[2017-09-01 13:50] php-coder commented on #13463
Because it was last seen more than month ago, it seems like P2.

[2017-09-01 14:47] tnozicka commented on #16003
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16096/test_pull_request_origin_extended_conformance_gce/7117/#-deploymentconfigs-with-revision-history-limits-conformance-should-never-persist-more-old-deployments-than-acceptable-after-being-observed-by-the-controller

[2017-09-01 14:52] pweil- commented on #16087
There is not currently a way to do this via something like templates.  At this point it would need to be scripted via an ansible playbook or some other mechanism.

[2017-09-01 14:55] pweil- commented on #16080
Related: https://github.com/openshift/origin/issues/13879

[2017-09-01 15:34] stevekuznetsov commented on #16097
We're seeing this on 3.7.0-alpha.1 as well in our CI cluster.

/cc @smarterclayton

[2017-09-01 15:41] jupierce commented on #16103
I think @sdodson has a plan to wrap yum interactions with retries.

[2017-09-01 15:45] bparees commented on #16012
@smarterclayton @deads2k what was the final assessment here?  What I gathered is:

1) @smarterclayton thinks the rules aren't being setup consistently.
2) @deads2k thinks nothing is attempting to setup the rules

if (2) is true, this test would presumably never pass, so I don't buy that unless the 403 isn't the root cause of the 500 error that's being returned.

[2017-09-01 16:04] #15939 closed

[2017-09-01 16:06] franbroto opened #16107 "tus"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2017-09-01 16:14] tbielawa commented on #16103
Yep. We're working on that in our arch meetings and in https://github.com/openshift/openshift-ansible/pull/5125

[2017-09-01 16:20] prasenforu opened #16108 "POD to Service no response"
Version

CentOS 3.7
OC 3.6
Ansible 2.3
docker 1.12.6
kubectl 1.6.1

## NO policy setup as of now

#### Ansible hostfile

[code]

## POD to Service no response

[code]
#### Able to connect from router pod to Kubernetes, router & docker registry (which is running in same host)
[code]
#### But not able to connect from router pod to mongo or myemp (which is running in different host)
[code]

[2017-09-01 16:58] smarterclayton commented on #16097
@sdodson for similar DNS issues

[2017-09-01 17:00] richm commented on #14073
Just saw something similar happen in a logging CI test run - https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_aggregated_logging_ansible/444/s3/

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_aggregated_logging_ansible/444/s3/download/journals/origin-node.service
[code]

[2017-09-01 18:28] jsuchenia commented on #15910
Ok, I found a problem. Ansible scripts are setting an ip address as a `nodeName` in a node configuration (I will open a separate ticket for that).

When there are no cloud system configured both: kubelet and SDN use specified `nodeName` (in my case IP address)

When cloud was set, kubelet will replace `nodeName` with a machine name from metadata service, so register node with name, so hostsubnets

[2017-09-01 18:29] deads2k commented on #16012
Since the server reports healthy (eventually), the bootstrap rules were created

[2017-09-01 18:32] bparees commented on #16012
are you saying we're running tests before the server has reported healthy?  that seems like a fundamental flaw in our integration test model if true.

[2017-09-01 18:50] smarterclayton opened #16112 "Assess impact of watch cache on large production cluster (5k+ namespaces)"
On a large dense cluster memory use of the api server is of primary concern (for scale) due to the watch cache keeping copies of all objects in memory.  We conducted a test on a cluster to assess the impact of disabling the watch cache.

Scenario:
* HA cluster, masters running OpenShift 3.6 (Kube 1.6+openshift patches).  ~170 nodes 5k namespaces
* Disabled watch cache on the API server of the mast

[2017-09-01 21:09] smarterclayton commented on #16112
The watch cache benefits the api server by avoiding decodes from etcd (CPU+garbage), and some by collapsing common watches.  It functions best when `N x C x W` is high - (N = number of resources queried pre filtering, C is number of clients, and W is write rate).

Endpoints and pods are high write, high N, and high clients.  Nodes are high write, small N (mostly) and small C.  Most other resources

[2017-09-01 21:10] smarterclayton commented on #16112
@kubernetes/sig-scalability-misc we are probably going to disable watch cache on most resources as a test (on 1.6) because it looks like a net win.

[2017-09-01 21:29] smarterclayton commented on #16112
Ran 1k simultaneous endpoint watches (ramping up over 2 minutes), where endpoints are changing at a rate of 22 writes a second).  Observed memory increase, but did not stay consistently high.  No CPU impact was observed.

A 40-60% reduction in master memory with only a small amount of CPU increase for disabling the watch cache for the majority of resources seems a desirable tradeoff.

[2017-09-01 21:29] smarterclayton commented on #16112
@openshift/sig-scalability

[2017-09-01 23:47] kargakis commented on #14073
In test-cmd too
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_cmd/2038/consoleFull#-154406570858b6e51eb7608a5981914356

[2017-09-02 02:26] mtnbikenc opened #16114 "'Write failed: Broken pipe' while 'Trying to pull repository docker.io/openshift/origin-release'"
Seen this several times and have not found a related issue.

[code]
https://github.com/openshift/openshift-ansible/pull/5287#issuecomment-326703819

https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_openshift_ansible/971/consoleFull#147027785258b6e51eb7608a5981914356

[2017-09-02 08:24] coffeetalkh commented on #16051
Same issue here and this is my scc configuration:

[code]

[2017-09-02 10:22] #15824 closed

[2017-09-02 19:04] glennodickson commented on #15920
Hi
This problem has been really troublesome to solve.
Upon a fresh install of Openshift v3.6 the Heapster is not starting fully with the error message in its logs of:

Steps to replicate are:
1.

2.
Review the logs from Heapster pod for error message.

Files have been attached that describe :
- oc adm diagnostics (diag.txt)
- oc get all -o json -n openshift-infra (all_details.txt)
- pod logs (mult

[2017-09-02 19:12] glennodickson commented on #15586
Hi
I have a similar issue in that Heapster logs with errors and has been really troublesome to solve.
Upon a fresh install of Openshift v3.6 the Heapster is not starting fully with the error message in its logs of:

Steps to replicate are:
1.

oc adm policy add-cluster-role-to-user cluster-admin developer
oc adm policy add-cluster-role-to-user cluster-admin admin
oc adm policy add-cluster-role-to-

[2017-09-02 19:14] glennodickson commented on #13534
Hi
I have a similar issue in that Heapster logs with errors and has been really troublesome to solve.
Upon a fresh install of Openshift v3.6 the Heapster is not starting fully with the error message in its logs of:

Steps to replicate are:
1.

oc adm policy add-cluster-role-to-user cluster-admin developer
oc adm policy add-cluster-role-to-user cluster-admin admin
oc adm policy add-cluster-role-to-

[2017-09-03 04:16] vanloswang opened #16116 "CAN NOT get etcd data by etcdctl command and CAN NOT visit the web console when only one master alive"
Follow the guide https://docs.openshift.org/latest/install_config/install/advanced_install.html#multiple-masters to deploy 'MULTIPLE MASTERS WITH MASTER AND ETCD ON THE SAME HOST' with three master and one lb_master. Poweroff the two leader master, then CAN NOT get etcd data by etcdctl command and CAN NOT visit the web console. There is a master and lb_master alive for the cluster, It should work

[2017-09-03 20:44] smarterclayton opened #16118 "Error getting logs in v3.7.0-alpha.1"
[code]

Build then completed successfully

[2017-09-03 20:44] smarterclayton opened #16119 "Build status should not record a PostCommit step if none was specified"
Had a build report a stage and step for PostCommit, which was not actually specified.  Build shouldn't include steps that aren't run.

[code]

[2017-09-03 22:20] bparees commented on #16118
any chance you can get level 5 logs from the api server while recreating this?

need to see what's happening in here:
https://github.com/openshift/origin/blob/master/pkg/build/registry/buildlog/rest.go#L166-L321

it's possible you're hitting the new context timeout logic i just added, maybe because the server isn't treating this as a long running request?

https://github.com/openshift/origin/blob/

[2017-09-04 01:39] GrahamDumpleton opened #16121 "Descriptions in image streams for MySQL need to be updated with better URL."
The description in MySQL image stream uses a URL which is outdated.

##### Version

oc v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f

##### Steps To Reproduce

Run:

[code]

This will output descriptions for images like:

[code]

##### Current Result

Following the URL leads you

[2017-09-04 04:16] bparees commented on #16118
(for my reference: https://github.com/openshift/origin/commit/c083b520b477cb05a2fdfab9b408f2ad3d31aa67)

[2017-09-04 06:29] debianmaster commented on #15895
@deads2k  @sttts  any comments ?

[2017-09-04 06:34] debianmaster opened #16123 "kubeadm for openshift"
where can find `kubeadm` equivalent of openshift?

[2017-09-04 09:02] cello86 commented on #16097
I tried to configure into the ansible installation the master subnet vlan 10.228.0.0/14 but the results are the same.

[code]

If we add external images from openshift catalog or another internal repository all works fine.

Marcello

[2017-09-04 09:18] kargakis commented on #16056
/shrug

[2017-09-04 09:43] kargakis commented on #16056
No support for issues :/

[2017-09-04 10:10] #16107 closed

[2017-09-04 12:28] kargakis opened #16127 "oc explain crd/volumesnapshot/volumesnapshotdata yields error"
[code]

On a cluster where we already run CRDs
[code]

@openshift/cli-review @sttts @deads2k

/kind bug

[2017-09-04 13:43] kincl commented on #14656
@pweil Hi! When you get a chance can you take a look at this?

[2017-09-04 13:43] kincl commented on #14636
@pweil Hi! When you get a chance can you take a look at this?

[2017-09-04 14:55] alikhajeh1 commented on #13122
Is there an option to customize the timeout in Origin 3.6? I couldn't find anything in the docs for it

[2017-09-04 16:56] php-coder commented on #16092
Based on my debugging session my theory is that earlier impersonated user had a populated `system:cluster-admins` group while at present he doesn't have it. Is it possible?

Also I see that now the user has `Extra:map[scopes.authorization.openshift.io:[user:full]]}`. I think that some auth mechanics should add the user to `system:cluster-admins` group. Otherwise we'll need to update many places to

[2017-09-04 17:04] enj commented on #16092
@php-coder what is the user info (all fields) during admission:

1. With impersonation
2. Without impersonation

For both 3.6 and master (4 values total).

[2017-09-04 17:55] adelton commented on #15933
@pweil- Are we sure that `hostnetwork` is the only thing from whatever can be set for SCC (see https://github.com/openshift/origin/blob/master/pkg/security/apis/security/types.go#L18) which isn't yet covered by https://github.com/openshift/origin/blob/master/pkg/security/securitycontextconstraints/byrestrictions.go, apart from capabilities which we plan to cover by https://github.com/openshift/ori

[2017-09-04 18:40] tnozicka commented on #16003
for the record the reason why it fails: https://github.com/openshift/origin/pull/16129#issuecomment-327011855

[2017-09-04 20:12] stevekuznetsov commented on #16056
That was brought up on Slack ... critical problem with the plugin

[2017-09-05 01:08] glennodickson opened #16131 "Heapster errors: trying to get filesystem Device for dir /var/lib/origin/openshift.local.volumes"
Hi
This problem has been really troublesome to solve.
Upon a fresh install of Openshift v3.6 the Heapster is not starting fully with the error message in its logs of:

Steps to replicate are:
1.

2.
Review the logs from Heapster pod for error message.

Files have been attached that describe :
- oc adm diagnostics (diag.txt)
- oc get all -o json -n openshift-infra (all_details.txt)
- pod logs (mult

[2017-09-05 01:23] smarterclayton opened #16132 "Too much logging from hybrid proxy"
[code]

[2017-09-05 02:03] scheng1 opened #16133 "How to use EFK to display HAProxy logs from Syslog"

[2017-09-05 03:28] bparees commented on #16118
doesn't seem to be an issue w/ long running requests, i just stubbed out a 9 minute build and the log streaming had no issue.  So if you can consistently recreate this, i'll still need to see the master logs.

[2017-09-05 04:04] imesh opened #16134 "MySQL Pod in Wordpress Example Fails"
It seems like the MySQL pod in Wordpress example is failing to start due to a permission issue with the following error:

https://github.com/openshift/origin/tree/v3.6.0/examples/wordpress

[code]

#### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://192.168.99.103:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

#### Steps To Reproduce
oc cre

[2017-09-05 04:17] smarterclayton commented on #16118
It was a very short build

On Sep 4, 2017, at 11:28 PM, Ben Parees <notifications@github.com> wrote:

doesn't seem to be an issue w/ long running requests, i just stubbed out a
9 minute build and the log streaming had no issue. So if you can
consistently recreate this, i'll still need to see the master logs.

—
You are receiving this because you authored the thread.
Reply to this email directly, v

[2017-09-05 04:22] smarterclayton opened #16135 "kube-scheduler defaults should be to configmaps, not endpoints"
#16132 showed that kube-scheduler lock management in v3.7.0-alpha.1 was being done under endpoints.  It should not be, and under configmaps instead.

[code]

[2017-09-05 04:24] bparees commented on #16118
well i guess it's also possible you hit a legit issue w/ streaming logs from a container and the build logs endpoint just proxied that through.  Admittedly i've never seen that, either before or after the init containers change.

[2017-09-05 05:23] imesh commented on #16134
The issue was with the storage, created two 5 GB host path volumes and the issue was solved.

[2017-09-05 05:23] #16134 closed

[2017-09-05 05:32] bbrfkr commented on #13122
+1

[2017-09-05 09:22] mfojtik commented on #16127
/sig master

[2017-09-05 09:26] mfojtik commented on #16135
/sig master

[2017-09-05 09:28] mfojtik commented on #16121
CC @hhorak

[2017-09-05 09:34] mfojtik commented on #16116
/sig master

[2017-09-05 09:43] mfojtik commented on #16114
guess we need docker daemon logs to know what is going on there.

[2017-09-05 09:44] matbrighi commented on #15910
Same problem here, waiting for solution or workaround

Many Thanks

[2017-09-05 09:49] caruccio commented on #15802
I'm facing the exactly same error, but once in a while.

[code]

This is a fresh 3.6.0 install from ansible.

[2017-09-05 10:00] caruccio commented on #15802
A little bit mor context:

[code]

[2017-09-05 10:28] caruccio commented on #15802
In fact it's happening on all node hosts. There are pods `Terminating` as of 13d.

[2017-09-05 11:39] jeremyeder commented on #16112
What about other resources?  Disk I/O, network, and sockets? How might this affect performance in a partitioned scenario?

[2017-09-05 11:55] miminar commented on #14249
Resolved in 3.7 via #15694.

See [bz#1471707](https://bugzilla.redhat.com/show_bug.cgi?id=1471707) for more details.

If you need it in earlier release, please clone the bugzilla with a desired target release.

[2017-09-05 11:55] #14249 closed

[2017-09-05 12:04] deads2k commented on #16127
@fabianofranz Based on the error, it looks like the `kubectl explain` only works on groups registered into a group registry.  That doesn't work well in general.

[2017-09-05 12:22] deads2k commented on #16135
Ok, I'll update this using the options.

@sdodson when this eventually gets wired separately, you'll have to set the override too.

[2017-09-05 12:56] smarterclayton commented on #16112
Network was the same, sockets was the same, disk/io needs to be measured.  We use HTTP/2 to backend etcd so it's all multiplexed.

Define partitioned.

[2017-09-05 13:16] smarterclayton commented on #16118
`unexpected EOF` is an actual IO error from golang (it's used in specific cases).  If you are using any buffering / io wrapper layers, you may not be handling this correctly on your own (or in the logging stack, or on the node).

[2017-09-05 13:16] smarterclayton commented on #16118
search for `UnexpectedEOF`

[2017-09-05 13:18] jcantrill commented on #16133
Use Kibana with cluster-admin credentials to query for logs in one of th .operations-<DATE> indices.  The logging stack uses the Common Data Model (CDA) as a 'schema' to log information which will provide you with information for selectively querying those log entries.

[2017-09-05 13:32] jeremyeder commented on #16112
By that I meant ... any implications that differ in a single master vs multi-master scenario.

I see your resource graphs but ... what were the latencies all along the histogram (not just tail)?

I ask because you are saying that the watch cache for (most) resources buys us nothing until we have a certain scale, and you're optimizing for reduced memory usage in the common case.  As long as there i

[2017-09-05 13:33] jeff-phillips-18 opened #16141 "Unable to bind service to create a secret"
Attempting to create the binding for a service is failing.

Error:
Error injecting binding results for Binding "myproject/mongodb-persistent-kqwxg-cjxwq": Unexpected error in response: secrets "mongodb-persistent-kqwxg-7ieki" is forbidden: cannot set blockOwnerDeletion in this case because cannot find RESTMapping for APIVersion servicecatalog.k8s.io/v1alpha1 Kind Binding: allowed by openshift auth

[2017-09-05 13:34] jeff-phillips-18 commented on #16141
@deads2k

[2017-09-05 13:41] deads2k commented on #16141
Please include the client requests being made.  Normally --loglevel=8

[2017-09-05 14:05] deads2k commented on #15895
I'd ask @marun about federation problems.

[2017-09-05 14:20] adelton commented on #15723
@mguillem, looking at that

[code]

strace output, I wonder: could you look at the output before that and find out what is that filehandle 5?

Since the problem is OS specific and not OpenShift version specific, I wonder if it could also be reproduced with docker directly, taking OpenShift completely out of the picture? IOW, will `docker build` pass for you on that CentOS machine?

[2017-09-05 14:21] bparees commented on #14554
this is fixed/being fixed by @derekwaynecarr's patches, right?

[2017-09-05 14:23] #7855 closed

[2017-09-05 14:26] bparees commented on #15204
closing as won't fix for the reasons in my earlier comments.

[2017-09-05 14:26] #15204 closed

[2017-09-05 14:27] bparees commented on #8345
@jim-minter in your recent exploration of the api doc did you turn up anything that has changed on this?

[2017-09-05 14:55] dmage opened #16143 "Verify Requirements: [localhost] openshift_health_check (Not all of the required packages are available at their requested version: docker:1.12)"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16140/test_pull_request_origin_extended_conformance_install_update/5407/?log#log

/kind test-flake

[2017-09-05 15:05] php-coder opened #16144 "TestRouterDuplications: Unable to start http server: bind: address already in use"
The log is here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15558/test_pull_request_origin_end_to_end/1797
[code]

[2017-09-05 15:15] carlpett opened #16145 "Unable to checkout under Windows (Filename too long)"
I cannot checkout the repo under Windows, due to nested vendor directories going too deep:

I have a fairly minimal GOPATH already (`C:\Dev`), so there's not much room for improvement there, unfortunately.

[2017-09-05 15:19] enj opened #16146 "Need test for token request endpoint"
So we do not get another P0 like #16078 / #16109

[2017-09-05 15:26] enj commented on #16145
You will probably need to enable long paths in your OS with something like https://superuser.com/q/1119883

[2017-09-05 15:32] enj commented on #16143
@stevekuznetsov @jupierce @sdodson seeing this a lot.

[2017-09-05 15:35] stevekuznetsov commented on #16143
Was blocking the queue. I have disabled the check in https://github.com/openshift/aos-cd-jobs/commit/9b402118edf1ea094c8c1a0ed125700e0d4ad776 so we should see this stop affecting PRs.

[2017-09-05 15:37] php-coder commented on #16092
I tried 3.6 and it also didn't work but fails with another error: https://github.com/openshift/origin/issues/13390

So, let's assume that it's never worked.

[2017-09-05 15:39] bparees commented on #14890
@benjaminapetersen are you still seeing this issue?  if not, can we close?

[2017-09-05 15:45] voanhduy1512 commented on #15723
@adelton file handle 5 is in memory file created by using `memfd_create` system call. I have same problem likes @mguillem and after go through flow source code, i created a small c program above to reproduce the problem. Unfortunally i dont have access to prod environment so cant run it directly without openshift

[2017-09-05 16:24] bparees commented on #16121
@hhorak the imagestreams that need to be updated are here:
https://github.com/openshift/origin/tree/master/examples/image-streams

both the rhel and centos ones, for all the db images.

[2017-09-05 16:35] php-coder commented on #16092
This is the code for deciding whether a user has access to SCC or he's not:
https://github.com/openshift/origin/blob/047c98402a3bb6bf594e7edfa32a1b8a16a7bb58/pkg/security/securitycontextconstraints/matcher.go#L54-L68

In order to allow user in `sudoer` group to have the same access as `system:admin` has, we can modify the logic in a different ways:
1) we may give a user the same groups as `system:

[2017-09-05 16:41] php-coder commented on #16092
For the history:
[code]

[2017-09-05 16:59] adelton commented on #15723
Could you share that small reproducer?

[2017-09-05 17:07] voanhduy1512 commented on #15723
Here is the sample https://github.com/voanhduy1512/memfd
I posted it in https://github.com/openshift/origin/issues/15723#issuecomment-323637735.

[2017-09-05 17:29] #16075 closed

[2017-09-05 17:45] spadgett commented on #16141
@pmorie Can you help? It's the service catalog creating this secret, so we aren't able to get the request for @deads2k. Binding is currently broken.

[2017-09-05 19:09] carlpett commented on #16145
@enj That doesn't work. I believe this is because the policy change suggested there only affects Windows Store apps and Win32 apps with the correct manifest. Git is neither, though.

Is the multiple levels of nested vendoring necessary?

[2017-09-05 19:50] benjaminapetersen commented on #14890
I think we are good.  Closing.

[2017-09-05 19:50] #14890 closed

[2017-09-05 20:10] smarterclayton commented on #16112
There was no change in latency tails.  We're going to try the whole cluster tomorrow and will gather that.  I don't expect an IO change but will look.

[2017-09-05 20:18] jim-minter commented on #8345
@bparees https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/registry/rest/rest.go#L310-L320 almost does the trick; will work on it.

[2017-09-05 20:33] #16078 closed

[2017-09-05 20:33] #16081 closed

[2017-09-05 22:15] pat2man opened #16160 "Pods Stuck "Terminating""
##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://console.outtherelabs.com:443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
Unknown, here is our setup:

1. Set up a cluster using openshift-ansible and CentOS on AWS.
2. Run a dozen deploy configs, stateful sets and daemon sets, etc. across a few namespaces.
3. Attach

[2017-09-05 22:18] caruccio commented on #16160
Same here. Restarting docker seams to "resolve" the issue.

[2017-09-05 22:31] sghosh151 commented on #16160
Same here . On RHEL Atomic Host. Restarting "docker" clears up pods stuck
in terminating.

Subhendu

On Sep 5, 2017 18:18, "Mateus Caruccio" <notifications@github.com> wrote:

[2017-09-06 00:09] enj commented on #16145
Until those incubator projects stabilize and start using the same version of dependencies as kube / origin, we are stuck with those folders.  They may eventually get forked into their own repos as well.

I suppose you could run it in a VM :/

[2017-09-06 03:05] johnreytanquinco opened #16162 "Unable to push image to dockerhub"
I am trying to create a buildconfig for my image but wasn't able to push to dockerhub

##### Version
openshift v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
etcd 3.1.0
oc v1.5.1+7b451fc

### oc describe bc/opensocial-build
[code]
### oc get all
[code]

##### Current Result
[code]

[2017-09-06 03:34] Coyote5 opened #16164 "origin node service can not startup after configuring custom certificates"
I changed the namedCertificates for my cluster ( 3 master and 3 node). The origin-master-* serivce can startup,but origin-node service can not startup on all node.
Now,I can access the cluster from web console.

##### Version
openshift v1.2.1
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5
##### Steps To Reproduce
1. On all master node, modify /etc/origin/master/master-config.yml.
[code]
2. Restart maste

[2017-09-06 04:49] arunachg opened #16165 "LDAP port expose"
Hi All,

How can i expose the LDAP port to outside OC. Is there a better practice on the LDAP port in one or many projects?

##### Version
Openshift version will 3.5

[2017-09-06 04:49] jgallucci32 commented on #10367
To answer your question, removing a capability before its replacement is made available is a bad decision. Quite terrible in fact. It has barely been a year since several developers created examples/instructions on how to deploy OpenShift to external Kubernetes before the feature was removed. Didn't even git it enough time to settle and prove its value.

Well this last comment was in April. It is

[2017-09-06 05:27] mguillem commented on #15723
@voanhduy1512
which OS do you have on the servers on which you can reproduce the problem?

@adelton
we have deleted the cluster with CentOS where we had the problem. I guess that the information is not needed anymore as @voanhduy1512 has already provided it.

[2017-09-06 05:49] pat2man commented on #16165
@arunachg this is documented here: https://docs.openshift.com/container-platform/latest/dev_guide/getting_traffic_into_cluster.html#getting-traffic-into-cluster

[2017-09-06 06:16] voanhduy1512 commented on #15723
I am using Redhat Atomic 7.4. But again I don't have access to production so I reproduce the problem when running that code inside openshift

On 6 Sep 2017 12:27, Marc Guillemot <notifications@github.com> wrote:

@voanhduy1512<https://github.com/voanhduy1512>
which OS do you have on the servers on which you can reproduce the problem?

@adelton<https://github.com/adelton>
we have deleted the cluste

[2017-09-06 07:16] carlpett commented on #16145
I see, that's unfortunate.
Anyway, I found that recent versions of git for windows has a config flag which can be used as a workaround: `git config core.longpaths true`.
It is not really a proper solution, since `cmd` and a quite a few other programs can't read files there, but it works well enough for now.

[2017-09-06 07:16] #16145 closed

[2017-09-06 07:48] adelton commented on #15723
Ah, sorry, I've missed it.

I've reproduced the issue on RHEL 7.4 with

[code]

with just plain `docker run`:

[code]

[code]

It's an SELinux issue, with AVC denial

[code]

In Permissive, things pass.

[2017-09-06 07:57] mguillem commented on #15723
@adelton can you explain what is the concrete consequence of your findings for us?

[2017-09-06 08:01] adelton commented on #15723
It looks like an issue on the OS level, in SELinux policy, way under Kubernetes / OpenShift, so it will have to be addressed there.

I will do more investigation about different versions of RHEL / SELinux policy (starting them as I write this) to see if it should be treated as regression. I'll put link to bugzilla here when I file it.

But currently it looks like something that is not related to O

[2017-09-06 08:17] mguillem commented on #15723
Thanks @adelton for the explanation.

[2017-09-06 08:26] dmage commented on #16084
We can reuse [ReadCertsDirectory](https://godoc.org/github.com/moby/moby/registry#ReadCertsDirectory) from moby/moby.

[2017-09-06 09:15] adelton commented on #15723
I've now filed https://bugzilla.redhat.com/show_bug.cgi?id=1488814.

[2017-09-06 09:33] sttts commented on #13885
@deads2k can you update this from the 3.7 rebase?

[2017-09-06 10:55] theute commented on #14583
FWIW, I have the same issue.
I need 4 containers + 1 init container, the minimum of 250MB per container kills it, we effectively can't deploy more than 4 containers in OpenShift Online even if we don't need the full 1GB or memory.

[2017-09-06 11:00] php-coder commented on #16162
@openshift/devex

[2017-09-06 11:44] php-coder commented on #16092
I couldn't make impersonation work at all. User that has `sudoers` group, can't create a privileged pod with the same error:
[code]

[2017-09-06 11:51] kargakis commented on #16144
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/1896/consoleFull#38566852656bf4006e4b05b79524e5923

[2017-09-06 11:52] kargakis commented on #16144
/assign @knobunc
/sig networking
/kind test-flake

[2017-09-06 11:54] kargakis opened #16167 "TestRouterReloadCoalesce flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/1896/consoleFull#38566852656bf4006e4b05b79524e5923

/assign @knobunc
/sig networking
/kind test-flake

[2017-09-06 11:56] kargakis opened #16168 "TestRouter e2e flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/1903/consoleFull#163094083856bf4006e4b05b79524e5923

/assign @knobunc
/sig networking
/kind test-flake

[2017-09-06 12:05] miminar opened #16169 "Extended conformance install update test is broken for release-3.6"
`test_pull_request_origin_extended_conformance_install_update` fails for `release-3.6` branch:

[code]

[code]

Some failed jobs:
- https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/5396/consoleFull#-40599516458b6e51eb7608a5981914356
- https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/5402

[2017-09-06 12:12] deads2k commented on #13885
done

done

[2017-09-06 12:13] sttts commented on #13885
Closing after both tasks are done.

[2017-09-06 12:13] #13885 closed

[2017-09-06 12:14] mjudeikis opened #16171 "Reencrypt Route for registry does not work - no backed"
We are trying to use reencrypt route on docker registry. If we use passthrough it works fine. re-encrypt gives error that backend is not served.

##### Version
[code]
##### Steps To Reproduce
1. Create Docker registry with re-encrypt
[code]
2. hit the registry and haproxy gives error that backend is not server.

##### Additional Information

Pods:
[code]
Services:
[code]

If I call pass through -

[2017-09-06 12:14] miminar commented on #16169
Sorry for a spam. Duplicate of #16143.

[2017-09-06 12:14] #16169 closed

[2017-09-06 12:32] codrinbucur commented on #14384
this would be quite important

[2017-09-06 12:47] csrwng commented on #16162
@johnreytanquinco You need to create a secret with your docker hub credentials.  See https://docs.openshift.org/latest/dev_guide/builds/build_inputs.html#using-docker-credentials-for-private-registries

[2017-09-06 12:57] #16135 closed

[2017-09-06 13:14] tenfourty commented on #10367
To be fair, I don't think this was ever a stable feature that has since been removed. The original examples where really proof of concepts that barely worked. Much of the work to make this possible is (I believe) still ongoing in upstream Kubernetes to allow some of this to happen (such as third party API objects) and there may be more work still to do - I'm not on the core OpenShift team who woul

[2017-09-06 13:40] makentenza commented on #15802
@caruccio This issue is just related with Builds, as there was a typo in the documentation around defaults resources for Builds. As I can see you are facing this issue with deployments, so your typo would probably be configured in a different place. Check if you have configured resource limits in any other place, or just test the deployment in a new namespace with no resource limits applied and ch

[2017-09-06 13:58] eparis commented on #15723
Since this will be better tracked and resolved in bugzilla I am going to close the issue. Please feel free to add yourself to the bugzilla cc list for further updates.

[2017-09-06 13:58] #15723 closed

[2017-09-06 14:30] bparees commented on #16084
@smarterclayton i heard a rumor you and bbreard found some holes/blockers in this plan yesterday (from the registry side)....?

[2017-09-06 14:33] apupier commented on #14075
do we have some news on this item? it was reported in May and there was no updates. Is it because it requires a lot of work? Or just a low priority?

the downside of this issue is that rsync is useful during development process. With tar mode not working properly, as far as I understand, it is forcing to modify the images deployed during development to include rsync which seems a bit hard to manag

[2017-09-06 15:25] sghosh151 commented on #16133
Is there a way to get tenant specific HAProxy logs based on the tentant's routes?

[2017-09-06 15:32] jim-minter commented on #14426
Hi @jmccormick2001 Thanks for your issue report.  Unfortunately I wasn't able to reproduce it and things have moved on a lot since May.  There is generally more testing around this area now and more should be added with https://trello.com/c/eGPZllFr.  Is this something you are still seeing, in which case please could you update the issue, or can this be closed?

[2017-09-06 15:38] jcantrill commented on #16133
@sghosh151 Are you deploying HAProxy to multiple domains?  Can you identify a usecase you are specifically trying to resolve?

 Consider visiting: https://github.com/openshift/origin-aggregated-logging for information regarding the EFK stack and its design

[2017-09-06 15:39] idcdog commented on #15920
尝试关闭hawkular-metrics的health check 因为我也遇到了启动失败的问题，通过修改yaml文件去掉了其中livenessProbe和readinessProbe就可以成功启动了，一旦hawkular-metrics启动成功，heapster也就没有问题了。

[2017-09-06 15:48] bamachrn commented on #16097
Facing the same here. pod is not able to pull images from internal registry

[2017-09-06 15:54] mwringe commented on #13534
This isn't a metric bug but a bug with the kubelet's endpoint.

From the Heapster logs, when it ties to read the kubelet's endpoint it gets a 500 error:

0902 18:39:45.071394       1 summary.go:97] error while getting metrics summary from Kubelet localhost(10.0.2.15:10250): request failed - "500 Internal Server Error", response: "Internal Error: failed RootFsInfo: error trying to get filesystem De

[2017-09-06 16:28] deads2k opened #16175 "switch all openshift impersonators to use kube user-extra headers"
As a followup to https://github.com/openshift/origin/pull/16155, we should stop sending ImpersonateUserScopeHeader and use the "normal" user extra header instead.  Since the server always moves first and we only speak to the local master, this should be safe to do in a single go.

[2017-09-06 16:28] smarterclayton commented on #16112
Whole cluster conversion, RSS for masters on core services ![image](https://www.dropbox.com/s/rq7okgunmr90dp7/Screenshot%202017-09-06%2011.56.43.png?raw=1)

Whole cluster converted, in use heap on api-servers ![heap](https://www.dropbox.com/s/u9ni4c3vv2ff6b1/Screenshot%202017-09-06%2012.05.03.png?raw=1)

* initial state - one master (blue) has watch cache disabled
* 14:40 - restarted masters to cl

[2017-09-06 16:30] smarterclayton commented on #16112
99th percentile latency did not change significantly.

[2017-09-06 16:30] paralin commented on #10367
They did not barely work, they worked perfectly. There was a core design change in OpenShift that broke it - a design change where the developers decided it was too difficult to use a remote kubernetes server, and that it would be easier to just force everyone to run their own vendored version of it. With the lackluster promise of federation somewhere off in the future. It was sloppy and made our

[2017-09-06 16:32] php-coder commented on #16092
I found a workaround: `privileged` can be edited to also grant access to `system:admin` user. At this time, `privileged` is only granted to `system:cluster-admins` group.

`system:admin` belongs to `system:cluster-admins` group but a user who uses impersonation doesn't. And that's why it doesn't work right now.

[2017-09-06 16:38] smarterclayton commented on #10367
Hi @paralin - sorry you feel that way.  The original separation was very early in the project, before the vast majority of the OpenShift specific security changes were in place.  We left the flag, but it was never able to really provide openshift behavior on top of a Kubernetes cluster.  We've spent most of the last year or two bringing Kubernetes up to the point where we can consider running Open

[2017-09-06 16:41] stevekuznetsov commented on #16092
When I impersonate the user, I only get the privilege they have themselves, not from their groups? That is surprising.

[2017-09-06 16:45] php-coder commented on #16092
Yes, in this case you also need to specify `--as-group system:admins`

Indeed.

[2017-09-06 16:45] stevekuznetsov commented on #16092
The UX of this is worse than terrible. Can we make it default to also grab groups?
/cc @deads2k

[2017-09-06 16:45] smarterclayton opened #16176 "MasterAuthConfig godoc in serverapi should indicate it supports api aggregation"
Was not clear from reading godoc that I needed to set request header to make api aggregation work.

Also, the CN for the certs appeared to point to the master ca.crt, not to frontproxy-ca.crt, which was confusing.  We should ensure the CN for the frontproxy-ca.crt signer is different.

@deads2k

[2017-09-06 16:47] paralin commented on #10367
I respect that you guys must be careful to ensure that the experience, particularly around security, is strong and consistent. And I do agree that there were some serious cludges with the old implementation. I'm glad to hear you guys are moving in this direction. Tools like Spinnaker sort of gloss over the multitenant part by allowing everyone in the company access to everything which ultimately c

[2017-09-06 16:47] #10367 closed

[2017-09-06 16:48] paralin commented on #10367
Shit, fat fingered the button!

Looking forward to where this is going. Closing this issue since it's no longer relevant. Thanks for the reply.

[2017-09-06 16:50] php-coder commented on #16092
In order to improve UX (and do not surprise even seasoned developers) I suggest to grant the `privileged` SCC to the `system:admin` user explicitly.

@openshift/sig-security Objections?

[2017-09-06 16:52] liggitt commented on #16092
No, the groups are determined by the auth method, and are not available for lookup to the impersonation filter.

[2017-09-06 16:55] DirectXMan12 commented on #16132
whoops, those should have been at a *way* higher verbosity.  Somehow, only one of the lines got changed.  I'll submit a PR to fix that.

[2017-09-06 17:00] php-coder commented on #16092
`--as-group` doesn't help in this case:
[code]
Seems like [users from `sudoers` group can't request adding other groups](https://github.com/openshift/origin/blob/074acdc3ada394d255c55566c9d228a94671d642/pkg/cmd/server/bootstrappolicy/policy.go#L133-L140).

[2017-09-06 17:01] pat2man commented on #16160
I'm also getting logs like this: ```bash
Unable to mount volumes for pod "podname-89a37690-0cltf_namespace(a6d1d6cb-9307-11e7-b7be-06415eb17bbf)": timeout expired waiting for volumes to attach/mount for pod "podname"/"podname-89a37690-0cltf". list of unattached/unmounted volumes=[default-token-lplrt]
[code]

[2017-09-06 17:02] smarterclayton commented on #10367
@mfojtik can you make sure that we have a clear tracking card for openshift on kube that we can reference here in trello?   I would hope for folks it's easy to follow along and see the general arc (even if some of the middle pieces may be under specified)

It's very likely we'll start carving off pieces first (work david and jordan and others have done to make features usable on kube).  We also wa

[2017-09-06 17:03] deads2k commented on #16092
Is what you really want to add `system:admin` to the SCC powers?

[2017-09-06 17:10] pat2man commented on #16108
I would guess this is an issue with your calico config. I would move this bug to https://github.com/openshift/openshift-ansible

[2017-09-06 17:30] php-coder commented on #16092
The following patch could fix it:
[code]

[2017-09-06 17:36] pmorie commented on #16141
@jeff-philips-18 how are you deploying catalog?  oc cluster up?

[2017-09-06 17:38] pat2man commented on #16160
OK I think I figured out what was causing it.

We had set up Prometheus with https://github.com/prometheus/node_exporter

I saw this documentation docker page https://docs.docker.com/engine/admin/troubleshooting_volume_errors/ which mentioned containers using `statfs` causing issues. The Prometheus exporter seems to be doing that.

Disabling the Promethes exporter caused my stuck pods to terminate

[2017-09-06 17:45] djdevin opened #16177 "replacing build configuration causes "An error occurred while starting the build. Reason: builds.build.openshift.io "php-2" already exists ""
If replacing a build configuration through `oc replace`, the next build will fail because the "lastVersion" is set to 1 in the build configuration.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://xyz:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Create a build configuration (anything

[2017-09-06 17:53] enj commented on #16092
If we go that path, it would be an additional `PolicyRule` for `sudoer`.  The one you made works, but also grants extra powers.

---

Not sure if we want to extend `sudoer` or extend the SCC.  @deads2k or @liggitt may have a preference.

[2017-09-06 18:04] deads2k commented on #16092
I would probably do both.  The sudoer could/should have access to the "magic" group, but the "system:admin" could/should have access to the SCC to make life easier on the CLI.

[2017-09-06 18:14] enj commented on #16092
So to be explicit, `sudoer` can impersonate:

1. `{system}user` `system:admin`
2. `{system}group`s `system:cluster-admins` and `system:masters`

And add `system:admin`, `system:cluster-admins` and `system:masters` to SCC.

Sound good?

[2017-09-06 18:16] deads2k commented on #16092
this one is unnecessary.  Otherwise, yes.

[2017-09-06 18:16] spadgett commented on #15898
Fixed by https://github.com/openshift/origin-web-console/pull/1961

[2017-09-06 18:16] #15898 closed

[2017-09-06 18:18] spadgett commented on #15378
Fixed by https://github.com/openshift/origin-web-console/pull/1989

[2017-09-06 18:18] #15378 closed

[2017-09-06 18:19] jcantrill commented on #13534
@csrwng ?

[2017-09-06 18:19] pmorie commented on #16141
@jpeeler is going to take a look at this.

[2017-09-06 18:19] spadgett commented on #14629
Fixed by

https://github.com/openshift/origin-web-catalog/pull/393
https://github.com/openshift/origin-web-console/pull/1961

[2017-09-06 18:19] #14629 closed

[2017-09-06 18:20] spadgett commented on #16141
@pmorie @jpeeler Jeff and I both see this with cluster up.

[code]

[2017-09-06 18:26] pmorie commented on #16141
@spadgett can you bump the loglevel in the template to get @deads2k the info he requested?

[2017-09-06 18:28] DirectXMan12 commented on #15988
No, I think it's a slightly different failure -- we've managed to race with something between `oc idle` fetching the object and submitting the patch.

[2017-09-06 18:31] csrwng commented on #13534
This looks like this bug:
https://github.com/kubernetes/kubernetes/issues/44059

But not sure why it's just showing up now or if it's dependent on the host OS.
@glennodickson do you see the same issue with origin 1.5.x. Also can you include details about the host OS? Is it Windows 10?

[2017-09-06 18:35] bparees opened #16184 "oc get/describe bc should report last build status"
buildconfig.status should include information about the state of the last completed build (failed/successful and maybe the name of it).

(if there are newer builds that are in new/running/pending should those also be represented?)

@smarterclayton

[2017-09-06 18:36] smarterclayton opened #16185 "Anonymous user unable to access backend api group"
Running metrics server behind aggregation on 3.7.0-alpha.1, verified proxy auth is working.

When trying for anonymous to hit, no group is set.  When trying authenticated, system:authenticated is set.:

[code]

For anonymous

[code]

[code]

@deads2k

[2017-09-06 18:54] simo5 commented on #16032
@liggitt @deads2k @enj given work ongoing with the impersonation and RBR, do we need to do anything about this distinction ? Or should we just close this issue as resolved ?

[2017-09-06 18:54] smarterclayton commented on #16185
Change the case to `X-Remote-Groups` made it work.

[2017-09-06 19:03] deads2k commented on #16185
https://github.com/kubernetes/kubernetes/pull/49219

[2017-09-06 19:20] deads2k commented on #16032
I haven't yet looked at rolebindingrestrictions.

[2017-09-06 19:26] mfojtik commented on #10367
@smarterclayton https://trello.com/c/xcSkBfbf/1034-openshift-running-on-kubernetes I will try to fill in description later and link the corresponding Trello cards as this seems more like an "epic card".

And yes, as Clayton mentioned, we are currently putting a lot of effort to granularize OpenShift infrastructure that includes carving out the API servers for OpenShift API groups, controller initi

[2017-09-06 19:36] enj commented on #16032
There is logic in `pkg/authorization/admission/restrictusers/subjectchecker.go` that may need to be addressed.

[2017-09-06 19:37] fabianofranz commented on #16123
Please use our [mailing list](https://lists.openshift.redhat.com/openshiftmm/listinfo/dev), [IRC clannel](https://botbot.me/freenode/openshift-dev/), or StackOverflow for help and questions. This is solely for tracking bugs and issues.

[2017-09-06 19:37] #16123 closed

[2017-09-06 19:38] enj commented on #16032
#16155 covers the impersonation bits, but we have not addressed RBR.

[2017-09-06 19:39] paralin commented on #10367
Is there some way for me to subscribe to updates on that trello card?

On Wed, Sep 6, 2017 at 3:26 PM, Michal Fojtik <notifications@github.com>
wrote:

[2017-09-06 19:46] joelsmith commented on #14093
We think we've tracked this down. We'll work on getting this upstream PR merged: https://github.com/kubernetes/kubernetes/pull/52044 then backport to origin.

[2017-09-06 20:09] gabemontero commented on #14093
Certainly a race condition like that could line up with the timing changes one might expect when we relaxed the memory resource constraints of our jenkins pipeline tests.

Thanks for the follow up.

[2017-09-06 20:15] stevekuznetsov commented on #10367
@paralin are you able to hit the "Subscribe" button on the card as explained in [this doc](http://help.trello.com/article/799-subscribing-to-cards-lists-and-boards)? You may need to be a member of the board but I am not sure.

[2017-09-06 20:35] charliejllewellyn commented on #15898
Fantastic, thank you!

[2017-09-06 20:55] juanvallejo commented on #14075
@bdshadow any chance you could provide the app template you are using? Will try to replicate bug. Are you seeing this only on Windows?

[2017-09-06 21:56] jwhonce commented on #16114
@mtnbikenc We need the docker daemon logs (preferably with the daemon running -D).  Also which rpm for docker are you using?

[2017-09-06 22:10] juanvallejo commented on #14975
Upstream PR: https://github.com/kubernetes/kubernetes/pull/52051

[2017-09-06 22:41] #15818 closed

[2017-09-06 22:41] #15856 closed

[2017-09-06 22:41] #15815 closed

[2017-09-06 23:08] caruccio commented on #15802
@makentenza I've tried on a new project, no limits/requests as you suggested, but still getting the same result:

[code]

Note there is no limits on the pod definition `Resources:{Limits:map[] Requests:map[]}`.
Do you believe it's another possible bug?

[2017-09-07 00:41] caruccio commented on #15802
I believe I've figured it out. That nsenter error message appears after container pod is destroyed, thus nsenter can't find process network from file /proc/<pid>/ns/net in order to inform pod status do controller (I guess).

[2017-09-07 01:10] smarterclayton opened #16191 "api service registration requires defining serving serving cert as trusted"
I expected the caBundle for api service not to be necessary and the service serving cert CA to be trusted by default.  Would simplify APIservice installation on openshift.  We can live without it but complicates some things.

[2017-09-07 03:12] smarterclayton commented on #16160
How was node_exporter configured?  Were you mounting /var/lib/docker?

[2017-09-07 03:49] smarterclayton commented on #16184
Probably some conditions.  Maybe a count or the most recent running build
number.  DaemonSet and StatefulSet status give you some idea of what is
going on, but don't give you all the details.  I think we could get away
with some of those fields here.  Definitely should look at it from the
perspective of the minimum status necessary for a naive ui to convey "what
is this build config doing right no

[2017-09-07 04:22] smarterclayton commented on #16084
No?

On Wed, Sep 6, 2017 at 10:31 AM, Ben Parees <notifications@github.com>
wrote:

[2017-09-07 04:54] gtcode opened #16192 "Fix broken links in README.md"
The README.md file contains two dead links.  The openshift-docs project also has related outdated links (specifically to the kubernetes v1 API docs); perhaps better to address all of these atomically, as it is unclear how to update the second dead link in this project's `README.md` file.

This issue can be reproduced by first installing a node markdown link checker with:
`npm install -g markdown-l

[2017-09-07 06:09] kimsaabyepedersen commented on #7182
@akhilon2011 For future reference, to patch a container do this:

`oc patch dc <your deployment config> -p '{"spec": {"template": {"spec": {"containers": [{"name": "<your container name>","resources": {"limits": {"cpu": "500m","memory": "512Mi"},}}]}}}}'
`

The key point is that you specify the name of the container you want to update.

[2017-09-07 07:02] tourunen commented on #15979
We saw the same problem when deploying Origin 3.6 with openshift-ansible. It is likely related to these issues:

https://github.com/gophercloud/gophercloud/issues/255
https://github.com/kubernetes/kubernetes/issues/44461

We were using Keystone API version v3 successfully with Origin 1.5, but with 3.6 the Cinder driver started freezing. Based on brief testing, changing the authentication URL endpo

[2017-09-07 08:02] spicysomtam opened #16193 "deleting pvc fails to recycle pv"
deleting pvc fails to recycle pv

##### Version
[code]

##### Steps To Reproduce
1. Create pvc of say 100Mi.
2. Use pvc in a pod.
3. Delete pod/deployment, and wait for it/pods to clear. Then delete pvc, which works fine.
4. oc get pv shows this (after `oc login -u admin:system`):
[code]
5. oc describe pv pv0005 shows this:
[code]

##### Additional Information
I did an oc cluster down, then moved

[2017-09-07 08:37] scheng1 commented on #16133
@jcantrill please give me more help about that .Now I have collect haproxy log (from router pod) by rsysylog but the haproxy does not support json log format . The  haproxy log is  writing to `/var/log/message` and `/var/log/haproxy` .Although EFK display the log in file message, I can not  find any haproxy log in kibana.I think the reason is the fluentd.conf-->source-->format .can you give some a

[2017-09-07 08:45] mfojtik commented on #10367
that board is public, so I think anyone can join

[2017-09-07 08:45] davistran86 commented on #10585
@walidshaari thanks, you helped me out, your command worked for me 👍

[2017-09-07 10:30] PI-Victor commented on #9789
i would encourage you to open a new issue since the conversation here might not be seen be the right person.

[2017-09-07 10:57] php-coder commented on #16192
Thank you for the report! I've filled the issue against the docs: https://github.com/openshift/openshift-docs/issues/5207 It's possible that these links will be fixed by adding redirects.

[2017-09-07 11:45] #16185 closed

[2017-09-07 12:23] mtnbikenc commented on #16114
@jwhonce This was happening in CI, not my local test systems.  I will check the logs in the job linked above and see if I can find which version of docker was installed.  Do you know if docker daemon logs are captured as part of the CI job?

[2017-09-07 12:28] mtnbikenc commented on #16114
Docker version: `docker-2:1.12.6-48.git0fdc778.el7.x86_64`

[2017-09-07 12:55] glennodickson commented on #16131
Btw I'm using Microsoft Windows [Version 10.0.15063]

[2017-09-07 13:35] deads2k opened #16196 "Find a way to check that all types have validators"
We probably have to add a general test function that each apiserver/group must call

[2017-09-07 13:52] bparees opened #16197 "Extended.[builds][Slow] starting a build using CLI Setting build-args on Docker builds Should fail on non-existent build-arg"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/197

Looks like the build succeeded when we expected it to fail because we didn't supply all the ARGs values that the Dockerfile declared.  Did docker change its behavior?

(marking as a flake for now, but this doesn't seem like something that would be intermittent)

[2017-09-07 14:02] scheng1 commented on #16133
@jcantrill can you give me your email address,so i can send more details to you.thanks a lot.

[2017-09-07 14:34] pmorie opened #16201 "It should be possible to set the service-catalog apiserver/controller log level with oc cluster up"
Currently, the loglevel for the service-catalog API server and controller-manager is hardcoded in the template used by `oc cluster up` to install the service-catalog.  We should make this configurable so that people can easily run at a higher log level without messing with the templates.

##### Version
master

[2017-09-07 14:45] sosiouxme commented on #16143
@stevekuznetsov with https://github.com/openshift/openshift-ansible/pull/5299 merged could you re-enable the check? Might want to unleash it on openshift-ansible first as we didn't really have a good way to test that this fixes CI other than running a CI job.

[2017-09-07 15:18] php-coder commented on #16092
@enj @deads2k What are the differences between `system:cluster-admins` and `system:masters` groups?

[2017-09-07 15:34] jpeeler commented on #16141
Here the controller output at loglevel 8 with the issue reproduced:
[controller-manager.txt](https://github.com/openshift/origin/files/1285247/controller-manager.txt)

[2017-09-07 15:46] jorgemoralespou opened #16206 "stackoverflow on new-app"
I have created an imagestream:

[code]

I have created an alias imagestream with name java:
[code]

I have created an app, and got following error:
[code]

##### Version
[code]
Also:
[code]

[2017-09-07 15:55] jpeeler commented on #16141
I0907 15:29:42.919771       1 controller_binding.go:448] Creating/updating Secret projectname/mongodb-persistent-r4pmf-credentials-6ip7m
I0907 15:29:42.919997       1 round_trippers.go:383] GET https://172.30.0.1:443/api/v1/namespaces/projectname/secrets/mongodb-persistent-r4pmf-credentials-6ip7m
I0907 15:29:42.920036       1 round_trippers.go:390] Request Headers:
I0907 15:29:42.920055       1 ro

[2017-09-07 15:56] jcantrill commented on #16133
@scheng1 Are you deploying haproxy as a container on openshift?

The logs gathered by the EFK stack will index logs from containers where the index is based upon the the Openshift project for the container.  Each log message is enhanced to include the pod metadata for the log entry.  The collector additional intakes 'operational' logs from the node's `/var/log/messages` when the node is configured

[2017-09-07 15:57] php-coder commented on #16206
/kind bug
/sig developer-experience

@openshift/devex

[2017-09-07 15:57] smarterclayton opened #16208 "Backport all 1.7/1.8 apiserver metrics fixes to Origin"
Production monitoring needs the apiserver metrics fixed - we need to ensure all of them are back ported for 3.7 (hopefully asap for online first)

1. 429 rate limit
2. 504 timeout handler metrics
3. WATCH being misreported as LIST
4. Pod logs being misreported as pod GET
5. Subresource metrics
6. Namespace scope and request size latency

Likely also of these need to be back ported together because

[2017-09-07 15:58] djzager commented on #16141
Is this because they are now called `ServiceInstanceCredential`? https://github.com/openshift/service-catalog/blob/master/contrib/examples/apiserver/binding.yaml

[2017-09-07 15:59] pmorie commented on #16141
@djzager no - that change hasn't landed in origin yet.

[2017-09-07 15:59] php-coder opened #16209 "oc get shouldn't list policies as they don't exist"
##### Version
oc v3.7.0-alpha.1+50094ed-201-dirty
kubernetes v1.7.0+695f48a16f
features: Basic-Auth

Server https://10.34.129.200:8443
openshift v3.7.0-alpha.1+50094ed-201-dirty
kubernetes v1.7.0+695f48a16f

##### Steps To Reproduce
1. `oc get 2>&1 | grep policies`

##### Current Result
[code]

##### Expected Result
`policies` shouldn't be listed here as they don't exist:
[code]

[2017-09-07 16:00] djzager commented on #16141
@pmorie Origin does not use the openshift fork of the service-catalog?

_Just when I thought I had the connections made._

[2017-09-07 16:00] pmorie commented on #16141
@djzager see #16150

[2017-09-07 16:04] deads2k commented on #16092
system:masters is a "magic" group that always has full access to do anything.  There is a special authorizer that allows it.

system:cluster-admins seemed like a good idea at the time.  It isn't special.

[2017-09-07 16:04] enj commented on #16092
@php-coder I was mostly trying to make the UX as nice as possible.  `system:masters` is the magic "I can do anything group" that is in sync with upstream.

Thus you want:

`sudoer` can impersonate:

1. `{system}user` `system:admin`
2. `{system}group` `system:masters`

And add `system:admin` and `system:masters` to SCC.

[2017-09-07 16:04] php-coder opened #16210 "oc get should mention SCC resource"
##### Version
oc v3.7.0-alpha.1+50094ed-201-dirty
kubernetes v1.7.0+695f48a16f
features: Basic-Auth

Server https://10.34.129.200:8443
openshift v3.7.0-alpha.1+50094ed-201-dirty
kubernetes v1.7.0+695f48a16f

##### Steps To Reproduce
1. `oc get 2>&1 | grep scc`

##### Current Result
Empty output.

##### Expected Result
Should be suggested as it's a valid resource:
[code]

[2017-09-07 16:34] php-coder commented on #16092
@deads2k @enj Thanks for explanation! I see that this role isn't documented. Should I create an issue for that?

[2017-09-07 16:35] enj commented on #16092
There is some stuff in https://kubernetes.io/docs/admin/authorization/rbac but yeah it probably deserves some information.

[2017-09-07 16:38] enj commented on #16087
I suppose you could create a copy of the privileged SCC with the SA you need to grant it to.  Sounds like a terrible idea though, and I am not sure if it will work.  This should go away when we switch to PSP.

[2017-09-07 16:59] sebastien-fauvel opened #16211 "Permission denied when creating post hook pod for mysql-persistent"
Creating the post hook pod for a mysql-persistent app fails with a "permission denied" error:
[code]

##### Version
[code]

##### Steps To Reproduce
1. `oc new-project myproject`
2. ```oc new-app -e MYSQL_ROOT_PASSWORD=`openssl rand -base64 32 | md5` MYSQL_USER=myuser MYSQL_PASSWORD=`openssl rand -base64 32 | md5` MYSQL_DATABASE=mydatabase registry.access.redhat.com/rhscl/mysql-57-rhel7 --template

[2017-09-07 17:00] coreydaley commented on #16197
Looks like the message was changed from an error to a warning in v1.13.0-rc1 (https://github.com/moby/moby/commit/f150f42009dddb4f9b8d4ceef8763af701b0d0f9), and also the ', failing build' was removed as it is a warning now instead of an error, I will update the test.

[2017-09-07 17:07] coreydaley commented on #16197
PR #16212 submitted to fix this issue.

[2017-09-07 17:17] stevekuznetsov commented on #16143
@sosiouxme can you make the revert PR in aos-cd-jobs? There is a blurb in the README about how you would test changes to the inventory in a canary job.

[2017-09-07 17:43] jsuchenia commented on #15910
@matbrighi I used a fix attached in https://github.com/openshift/openshift-ansible/issues/5291 however not all internal certificates were created correctly.

[2017-09-07 17:50] pmorie commented on #16141
I believe the issue here is that the garbage collector doesn't know about aggregated APIs until 1.8

[2017-09-07 18:03] pat2man commented on #16160
@smarterclayton I don't think I was, I blew it out but I believe it was this config: https://coreos.com/assets/blog/promk8s/node-exporter.yaml

[2017-09-07 18:10] ironcladlou commented on #16141
Looks like the [wired rest mapper](https://github.com/openshift/origin/blob/master/cmd/service-catalog/go/src/github.com/kubernetes-incubator/service-catalog/vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go#L468) only knows about compiled types. Pretty sure you would need to use a [dynamic mapper](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/discovery/

[2017-09-07 18:14] deads2k commented on #16141
Yeah, I'm looking for that pull to pick now

[2017-09-07 18:19] fabiand commented on #16087
I'm now actually looking that I add my user to a role which already has the permission to perform privileged operations.

[2017-09-07 19:00] deads2k commented on #16141
Opened https://github.com/openshift/origin/pull/16215 .  It won't make GC work for you, but you'll at least be able to create resources.

[2017-09-07 20:16] #14530 closed

[2017-09-07 20:51] bparees commented on #16197
thanks for the speed turnaround, @coreydaley

[2017-09-07 20:53] coreydaley commented on #16197
@bparees word

[2017-09-07 21:06] sosiouxme commented on #16143
@stevekuznetsov are you referring to https://github.com/openshift/aos-cd-jobs/#custom-xml-generator-configuration-under-sjb ? Looks like it describes running test jobs there but not obvious to me how to use a different `checks.yml` in such a job.

[2017-09-07 21:30] jpeeler commented on #16141
I can confirm that the rest mapping problem goes away and the error changes slightly:

I0907 21:16:32.551730       1 request.go:991] Response Body: {"kind":"Binding","apiVersion":"servicecatalog.k8s.io/v1alpha1","metadata":{"name":"mongodb-persistent-c6ztb-p2tsh","generateName":"mongodb-persistent-c6ztb-","namespace":"meproject","selfLink":"/apis/servicecatalog.k8s.io/v1alpha1/namespaces/meproject

[2017-09-07 21:53] bparees commented on #16206
looks like we got stuck in a recursive loop chasing tag refs, probably because the tag following logic isn't handling tag refs that go outside the current imagestream.  but i have faith in @csrwng to sort it out :)

in an unrelated comment, @jorgemoralespou you figured out how to create imagestream aliases without an `oc alias` command :)

[2017-09-07 21:57] jorgemoralespou commented on #16206
I'm happy that this time is not that my Imagestream definition was
incorrect, as usual, although I'm not happy that is a bug.

This is the best I can have today. Let's hope for better things tomorrow ;-)

El 7 sept. 2017 23:54, "Ben Parees" <notifications@github.com> escribió:

looks like we got stuck in a recursive loop chasing tag refs, probably
because the tag following logic isn't handling tag

[2017-09-07 22:30] deads2k commented on #16141
That's a permissions problem.  You cannot set `blockownerdeletion` unless you have the power to update the `referee/binding` subresource.  That's actually a kube admission protection present since 1.7.  Must be that you haven't turned it on before.

[2017-09-07 23:02] pmorie opened #16220 "Make an extended test suite for service-catalog"
We should have an extended test suite that runs the service-catalog E2Es.  Open to other ideas if anyone has one.

[2017-09-08 00:46] kargakis opened #16221 "oc status support for deployments"
/sig master
/kind enhancement
/assign @tnozicka @mfojtik

[2017-09-08 00:48] kargakis commented on #16221
cc @smarterclayton

[2017-09-08 00:48] kargakis opened #16222 "oc rollout latest support for deployments"
/sig master
/kind enhancement
/assign @tnozicka @mfojtik
cc @smarterclayton

[2017-09-08 01:57] woopla opened #16223 "Cannot use a template variable for a label"
Hello,

I'm writing a template to facilitate auto-deploy of Git branches to Openshift for testing (it's to integrate with the Gitlab 'environments' features). When the review of the app is done, all the objects related to the branch should be deleted inside Openshift. So I'm trying to add a label to all the objects, so that the environment clean-up is a simple `oc delete all -l "app=$APP"`

Opensh

[2017-09-08 01:59] smarterclayton commented on #16160
There is a known issue where volumes that mounted /var/lib/docker or other paths that can contain mount namespaces could cause the kernel to refuse to unmount / leak the specific namespaces.  That's partially why i asked about statfs.

[2017-09-08 02:53] caruccio commented on #16160
Does it includes /var/lib/docker/foo ?

Em 7 de set de 2017 22:59, "Clayton Coleman" <notifications@github.com>
escreveu:

There is a known issue where volumes that mounted /var/lib/docker or other
paths that can contain mount namespaces could cause the kernel to refuse to
unmount / leak the specific namespaces. That's partially why i asked about
statfs.

—
You are receiving this because you comme

[2017-09-08 03:37] smarterclayton commented on #16160
I believe it would be any of the subdirectories of /var/lib/docker that
have mount data (volumes, images, layers).  If any of those are mounted, I
think it's possible to leak in some cases.

On Thu, Sep 7, 2017 at 10:53 PM, Mateus Caruccio <notifications@github.com>
wrote:

[2017-09-08 04:05] fche opened #16227 "oc rsync compression mode"
It would be nice if `oc rsync` grew an option to transfer files with the `-z` flag.  I'm having to transfer several GB of highly compressible data across `oc rsync` (3.6), and it's eschewing a lot of time savings because neither `--strategy=rsync` nor `--strategy=rsync-daemon` include `-z`.  Could we have a way of passing extra flags to the inferior `rsync`?  Or pass `-z` all the time?

[2017-09-08 06:01] bparees opened #16229 "Extended.[image_ecosystem][perl][Slow] hot deploy for openshift perl image Dancer example should work with hot deploy"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/204

Based on the output/expected output, it looks like maybe the perl image is suddenly hot deploying code changes even before we set "PERL_APACHE2_RELOAD=true":

expected to see a count of 3:
[code]

but saw a count of 1337 (which is the modification we made, but hot deploy wasn't enabled yet):

[code

[2017-09-08 06:16] ReToCode commented on #6331
Hello,

A customer using glusterfs in a pretty large OpenShift cluster (3k containers, > 400 PVs) here :)

No I think this is not closed by kubernetes/kubernetes#31854. With heketi you just create/delete the service & endpoints dynamically, but the problem still remains.

I still don't like that gluster pv definition is different from all the other storage types. Why are not all the information in

[2017-09-08 07:10] hrishin opened #16230 "[API Spec] 'required' constraints in the schema definition"
E.g. In the [schema](https://github.com/garethr/openshift-json-schema/blob/master/master/deploymentconfig.json#L5) (derived [from](https://github.com/openshift/origin/blob/master/api/swagger-spec/openshift-openapi-spec.json))  `DeploymentConfig` has the `status` property  which is marked as required. There are many other resource properties for instance which are marked as required in schema defin

[2017-09-08 07:26] adelton commented on #15933
In https://github.com/openshift/origin/pull/16231, I now consider both `AllowHostNetwork` and `AllowHostPorts`.

[2017-09-08 07:35] adelton commented on #14703
Is this still an issue?

[2017-09-08 07:39] adelton commented on #14983
@deads2k, could you please point me to the change where you addressed it for those three resources, and where you think things should be addressed for `oauthclientauthorization`?

[2017-09-08 08:48] adelton commented on #15006
@smarterclayton, so what is the best way to determine that user hasn't changed anything?

Also, how about @liggitt's point that user might not have changed anything but there might be changes forced by something on server's side?

In general, isn't this mostly about the architecture of the upgrades and user experience? How exactly is this related to component/auth or area/security?

[2017-09-08 08:58] adelton commented on #15412
Do we want to preserve `openshift.io/reconcile-protect` or change it to `rbac.authorization.kubernetes.io/autoupdate`?

How is this different from the post start hook use by Kubernetes?

Do you have a link?

[2017-09-08 09:51] mickaelistria opened #16233 "`oc rsync` failback mode (tar) should check for file equality before trying to overwrite"
Context https://github.com/redhat-developer/s2i-dotnetcore/issues/113 and https://github.com/redhat-developer/s2i-dotnetcore/issues/118
I'm trying to use Red Hat Developer Studio to publish some content on an OpenShift application whose image does *not* have `rsync` installed. Red Hat Developer Studio delegates to `oc rsync`.
As `rsync` isn't available remotely, it fails back to some tar-based str

[2017-09-08 10:18] jsafrane commented on #14385
`wget: can't connect to remote host (172.30.38.87): No route to host` happened again in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16232/test_pull_request_origin_extended_networking_minimal/7177/

[2017-09-08 10:23] scheng1 commented on #16133
@jcantrill  my email address is  `newbility.cheng@gmail.com`. could u send a email to me ,so i can send more details to you.

[2017-09-08 10:24] jsafrane opened #16235 "flake: deploymentconfigs with minimum ready seconds set [Conformance] should not transition the deployment to Complete before satisfied"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16232/test_pull_request_origin_extended_conformance_gce/7490/

[code]

[2017-09-08 10:34] scheng1 commented on #16133
Now, i can see haproxy logs  in `indices/.operations.*.*`. But i can not find them in kibana.

[2017-09-08 11:12] scheng1 commented on #16133
@jcantrill  how indexs created in  EFK stack ?

[2017-09-08 11:56] ArminMW commented on #15586
After trying multiple combinations of different versions of the origin-ansible and metrics images, I finally found one combination that works. I managed to get **Metrics v3.6.0-alpha.2** running on an **Origin v3.6.0+c4dd4cf** "oc cluster up" OpenShift cluster.

Before, with "oc cluster up" I was able to
- either create an v1.5.1 Cluster with working Metrics but broken Elastic/Kibana (logging),
-

[2017-09-08 12:04] #16197 closed

[2017-09-08 12:23] ultimatemanu opened #16237 "Openshif-origin, how to get the registry / router exposed?"
[Despite having read the documentation, I am stuck with getting the openshift docker registry exposed]

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Question

We are setting up a test cloud Openshift Origin which we created using the openshift ansible playbook. We are following

[2017-09-08 12:28] mfojtik opened #16238 "Compilation errors are not copied to the build log"
From here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16199/test_pull_request_origin_integration/7254/

it is not clear what the error is but it should. The error can be found in the docker.service journal (it is valid compilation error related to the changes), however it would be nice if we can flush those container logs out.

[2017-09-08 12:32] kargakis commented on #16238
/sig continuous-delivery

[2017-09-08 12:34] mfojtik commented on #16235
/assign tnozicka

[2017-09-08 13:10] adelton commented on #15750
Another workaround, mentioned in https://bugzilla.redhat.com/show_bug.cgi?id=1481617#c1, is to use `..data/` in the `subPath`.

[2017-09-08 13:12] adelton commented on #15750
@childsb, @pweil-, given this looks like an issue in docker which does not follow symlinks, what does this mean for tracking of this Origin issue?

[2017-09-08 13:16] manuelep commented on #6745
I'd like to add a little contribution. I asked for help [commenting an issue of the crunchy-containers project](https://github.com/CrunchyData/crunchy-containers/issues/79).
Trying to apply what suggested ([here](https://github.com/manuelep/crunchy-containers/tree/postgis-test) you can find the edited source) I could create the image in my project but I had troubles during the creation of the cont

[2017-09-08 13:38] smarterclayton commented on #15006
Much of the validation code for Updates does that check.

Server side changes are usually done by someone with permissions.

It's component/auth because that's who owns the code that is not conformant
(the rolebinding restriction code)

On Sep 8, 2017, at 4:48 AM, Jan Pazdziora <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton>, so what is the best
way to determ

[2017-09-08 13:38] adelton commented on #7021
@smarterclayton, could you please elaborate. There is `hostnetwork` SCC there, added via https://github.com/openshift/origin/pull/7485 for https://github.com/openshift/origin/issues/7249. Is there anything else needed or can this issue be closed?

[2017-09-08 13:42] #4711 closed

[2017-09-08 13:42] #5216 closed

[2017-09-08 13:44] adelton commented on #11927
May I assume that with latest versions, host networking is no longer used, and HAProxy or F5 are?

[2017-09-08 13:46] ironcladlou commented on #15900
I'm not sure why the error in https://github.com/openshift/origin/pull/15558#issuecomment-326959663 was attributed to this issue; I see no evidence provided to support the claim. I only mention it because we have no fancy flake analytics like upstream and so I don't want the frequency of this flake to be misrepresented.

[2017-09-08 13:49] adelton commented on #15627
@pweil-, could you please provide steps to reproduce, and point to the place in code where we should be testing for this?

Is normalizing the values a reasonable approach, or is something different needed?

[2017-09-08 14:06] manuelep opened #16245 "Container: pgdatabase — Create container error"
I need to install PostGIS in my openshift project and starting from a comment of [this issue](https://github.com/openshift/origin/issues/6745) I tried to use a Crounchdb pg image.

The main problem is that **the container cannot be created** but I cannot find any log about the problem that occurred.

##### Version
[code]

##### Steps To Reproduce

1. Clone the Crounchy source modified accordingly

[2017-09-08 14:07] wongma7 opened #16246 "process_linux.go:258: applying cgroup configuration for process caused \"open /sys/fs/cgroup/pids/kubepods.slice/kubepods-besteffort.slice/.../cgroup.procs: no such file or directory"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16232/test_pull_request_origin_extended_conformance_gce/7498/

Reason:ContainerCannotRun,Message:invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"process_linux.go:258: applying cgroup configuration for process caused \\\"open /sys/fs/cgroup/pids/kubepods.slice/kubepod

[2017-09-08 14:09] smarterclayton commented on #11927
No, that work would be 3.8 at the earliest.

[2017-09-08 14:50] pat2man commented on #16160
OK found the actual config I was using: https://github.com/wkulhanek/openshift-prometheus/blob/master/node-exporter/node-exporter.yaml

It doesn't specifically mount `/var/lib/docker` but it does mount `/` as `/rootfs`.

A few other configs specifically add `/var/lib/docker` to `collector.filesystem.ignored-mount-points` which might be a good idea.

[2017-09-08 14:51] rettori opened #16247 "oc cluster up - can't start service catalog with 3.7.0alpha"
Got the following message while to start a 3.7.0 alpha cluster with flags --service-catalog and --metrics:
[code]

##### Version
[code]
##### Steps To Reproduce
1.  oc cluster up --service-catalog --metrics **--docker-machine=openshift**

##### Current Result
fails with message provided above

[2017-09-08 14:58] dmage opened #16248 "flake in cmd: etcdserver: request timed out"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15796/test_pull_request_origin_cmd/2378/

/kind test-flake

[2017-09-08 15:18] rhatdan commented on #16160
oci-umount is the package we have to attempt to cleanup the leaks.

[2017-09-08 15:35] csrwng commented on #16247
@rettori please let me know if you can still see this issue when when trying with the latest 'oc' binary from master

[2017-09-08 16:33] pat2man commented on #16160
After running the DaemonSet from https://github.com/openshift/origin/pull/16096 for 2 days I have not seen this issue again. I would assume that not mounting `/` solved it.

Since my issue is resolved I am fine closing this ticket.

[2017-09-08 16:50] enj commented on #15412
This is already done, see `pkg/authorization/apis/authorization/conversion.go`'s `convert_authorization_Annotations_To_rbac_Annotations` and `convert_rbac_Annotations_To_authorization_Annotations`.

It uses our custom authz policy data, see `pkg/cmd/server/origin/master.go:259` which calls `aggregatedAPIServer.GenericAPIServer.AddPostStartHookOrDie("authorization.openshift.io-bootstrapclusterroles

[2017-09-08 17:02] php-coder commented on #16245
I'd try to run `oc status` or `oc get events`, they could show something useful.

[2017-09-08 17:12] sdodson commented on #16086
@ewolinetz Do we need to map origin/install/{tsb,prometheus,service-catalog,...} to openshift-ansible/roles/openshift_{tsb,prometheus,service-catalog,...} or can we do a more generic mapping of origin/install/* to openshift-ansible/templates/install/* and then roles pull templates/files from that path? I'm fuzzy on ansible search path.

[2017-09-08 17:14] pmorie opened #16254 "'make' appears not to build binaries sometimes"
[code]

[2017-09-08 17:20] ArminMW commented on #13534
See #15586 for a similiar problem with a temporary workaround.

[2017-09-08 17:23] deads2k commented on #15412
We picked the command as-is into openshift 3.7

[2017-09-08 17:30] jpeeler commented on #16141
@deads2k To be clear, "referee" is referring to bindings, and not some other k8s type I don't know about right?

[2017-09-08 17:36] deads2k commented on #13966
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16251/test_pull_request_origin_unit/2349/

[2017-09-08 18:27] humblec commented on #6331
HI @ReToCode, you got most of it, one blocker  was `backward compatibility` or the difficulty to just discard `endpoint` from spec. What we are working on atm is `endpoint namespace` in PV spec and we are on it, it should take are of this issue.