[2018-07-09 13:36] tnozicka commented on #20225
This makes me concerned - if a user executes `oc new-project myproject && oc create -f mydeployment.yaml` I really hope we don't just expect the race to work in his favor or **never reconcile**.

Has this been discussed previously?

[2018-07-09 13:41] jperville commented on #19240
/remove-lifecycle stale

[2018-07-09 13:46] bparees commented on #20225
Sounds like that's exactly what's going to happen.  Note that this didn't use to be as big a deal since most images users typically referenced were public images (stuff on docker hub or RHCC).  Since now all the default content is a pullthrough via the internal registry, auth is required for the default images, so while the race always existed, it's much more likely someone hits it now.  (Previous

[2018-07-09 13:56] Reamer commented on #20194
@sttts
It is possibly to disable the exported metric?

[2018-07-09 14:43] sttts commented on #20194
They come from here: https://github.com/openshift/origin/blob/master/vendor/github.com/coreos/etcd/etcdserver/metrics.go#L70

To avoid auto-exporting them, one has to get rid of the init func there and make the registration explicit in the main.go.

@gyuho is maintaining etcd. He can probably comment on this.

[2018-07-09 15:24] bigon commented on #17947
FTR I was hit by this too and I opened https://github.com/openshift/openshift-ansible/issues/9068

[2018-07-09 15:48] vrutkovs opened #20259 "`oc logs --all-containers` throws error"
`oc logs --all-containers` won't show logs for all containsd

##### Version
[code]

##### Steps To Reproduce
1. Run a pod with multiple containers
2. `oc logs --all-containers=true`

##### Current Result
Error:
[code]

##### Expected Result
Shows logs for both containers

##### Additional Information
Works fine for a pod with one container or container name is specified:
[code]

This affects opens

[2018-07-09 16:19] dmaestro commented on #16394
/remove-lifecycle stale

[2018-07-09 16:41] gyuho commented on #20194
Hmm,

Is `apiserver/controller` using etcd with `embed` package?

etcd only exposes etcd metrics via its client ports.

[2018-07-09 16:58] sjenning commented on #20225
@liggitt The *contents* of the secret aren't copied right?  There is an `imagePullSecrets` field in the pod spec with the name of the secret and an attempt to obtain that secret is done each time through the sync loop:

https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go#L833-L849

https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubern

[2018-07-09 17:06] liggitt commented on #20225
Correct. Just the secret names. There's a race after the creation of the service account between the creation of the pod and the creation/addition of the image pull secret to the service account

[2018-07-09 17:09] elyscape commented on #17648
/lifecycle frozen

[2018-07-09 17:19] stepanvanecek commented on #20239
Thanks a lot! Used another attribute instead of objectGUID and it works.

[2018-07-09 17:38] bparees commented on #20225
which will not be populated if the pod was created before the secret existed.

[2018-07-09 21:47] #20022 closed

[2018-07-10 01:36] smarterclayton commented on #20220
I separated out the test to make it clearer why it would fail in 66008, which shouldn't block your change.

[2018-07-10 01:37] klauern opened #20263 "`oc cluster up` - error: cannot create volume share"
`oc cluster up` doesn't provision an OpenShift single-node cluster on Windows.  I am following the instructions for ["Windows with Docker for Windows"](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#windows-with-docker-for-windows) and am unable to start the cluster at all.  It seems to download the images just fine, but won't create the shared mount directory.

##### Vers

[2018-07-10 01:54] klauern commented on #20263
Here's the most detailed log for `oc cluster up`, which is `--loglevel=10`:

[code]

[2018-07-10 03:46] ffly827 opened #20266 "Problem adding host on Openshift 3.9"
So I was attempting to add a new host to my cluster with the guide here: https://docs.openshift.org/3.9/install_config/adding_hosts_to_existing_cluster.html.
However, `atomic-openshift-installer [-u] [-c </path/to/file>] scaleup` returns "No hosts specified".
When I looked in ~/.config/openshift/ directory there's also no installer.cfg.yml file present. Does this indicates a problem with my instal

[2018-07-10 07:02] #20266 closed

[2018-07-10 08:20] kamesh2229 commented on #20233
I see there is some problem in running the init containers in this case the elastic search service will first install centos image as init container and openshift has some privileges required to run,,

may be i am not completely getting the technical details of the same.. any help would really greatful..

[2018-07-10 11:05] tnozicka commented on #20225
/unassign

not sure who to re-assign this to, probably someone from the Pod team?

[2018-07-10 11:09] tnozicka commented on #20225
/remove-kind test-flake
/kind bug

[2018-07-10 12:31] dmage commented on #19769
@smarterclayton if you are talking about the change https://github.com/openshift/origin/commit/b8366d5a50d69f81d4770e2cfacc49fabf135532, then yes, it was reverted.

You can see it in [the history of vendor/github.com/docker/distribution/registry/client/repository.go](https://github.com/openshift/origin/commits/master/vendor/github.com/docker/distribution/registry/client/repository.go). We've lost

[2018-07-10 13:20] bparees commented on #20225
@tnozicka this is core k8s behavior, you can consider it a bug/RFE if you want but I doubt it's going to get changed soon.  In the meantime it's a flaky test that's going to keep breaking people, so please put a workaround in place (wait for the service account secret to be present before starting your test)

There is a helper for this:
https://github.com/openshift/origin/blob/master/test/extended

[2018-07-10 14:39] vikaschoudhary16 commented on #20136
Fix merged!

[2018-07-10 14:39] #20136 closed

[2018-07-10 15:32] sdodson commented on #20157
Quota exceeded. Not sure if we're not cleaning something up properly?

`Quota 'SUBNETWORKS' exceeded.  Limit: 450.0 globally.`

/unassign @sdodson

[2018-07-10 16:51] galderz commented on #20055
Why do you need to fiddle with the firewall when access is happening from the same machine?

[2018-07-10 18:06] lousyd commented on #15474
/remove-lifecycle stale ... This is frustrating. Also, many other programs whose maintainers have had time to get this right put "Examples" at the end. Maybe writing some man pages for oc would be an easy way to fix this, a la `man git`, `man git-fetch`, etc.

[2018-07-10 18:16] jmontleon opened #20275 "rhel-imagestreams fail to install if you haven't logged into docker before oc cluster up"
Starting today we're sseeing that rhel-imagestreams fails to install with `Failed to install \"rhel-imagestreams\": Error reading $HOME/.docker/config.json: open /home/jmontleo/.docker/config.json: no such file or directory`. This has not been a problem prior to today.

It's most notable in CI environments (jenkins, travis, etc.) where no one is likely to be logging into docker.

##### Version
[co

[2018-07-10 18:38] #20203 closed

[2018-07-10 18:39] jpeeler commented on #20055
I assume because the docker interface is not added to a trusted zone by default. Did you have success with the above configuration?

[2018-07-10 19:24] juanvallejo opened #20277 "Deprecate --output-vesion flag in `oc import app.json` command"
Deprecate the use of the `--output-version` flag in the [app.json](https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/importer/appjson.go) subcommand.

We should no longer be [honoring the flag in this command](https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/importer/appjson.go#L207), in favor of a larger push to switch our commands to deal with external versions.

cc @d

[2018-07-10 19:53] tnozicka commented on #20225
Added a hack for DC tests to avoid this bug in https://github.com/openshift/origin/pull/20278

"Flake" is about to be suppressed, so for the root cause as I didn't get any answer on who else would own the fix, I am gonna assume this is @openshift/sig-pod :
/unassign @tnozicka
/assign @sjenning

[2018-07-10 21:46] srossross-tableau commented on #4211
I'm interested in an answer to @jsight's question as well.

[2018-07-10 21:46] srossross-tableau commented on #4211
/remove-lifecycle stale

[2018-07-11 08:47] slaskawi commented on #13638
Hasn't this been implemented by https://github.com/openshift/origin/pull/19968 ? Perhaps we can close this issue?

[2018-07-11 09:17] eric-hon opened #20284 "how to set heartbeat for the cluster nodes"
in the cluster,if some hosts is poweroff, but the status return to the master is too long time .
so how i can set heartbeat for nodes that the error status fast to return to master.
thanks!

##### Version
oc version is 3.9.0

[2018-07-11 12:32] jfclere commented on #13638
On 11/07/18 10:47, Sebastian Łaskawiec wrote:

+1

--
Cheers

Jean-Frederic

[2018-07-11 12:50] #18303 closed

[2018-07-11 14:20] galderz commented on #20055
I've not tried it. I don't have access to my machine right now. At the time I just simply disabled firewall.

[2018-07-11 15:50] jpeeler commented on #20055
I found reading over https://github.com/moby/moby/issues/16137#issuecomment-271615192 was interesting (particularly about warnings reported by firewalld as expected). Since everything is working as intended, I'm closing this. Reopen if you find the firewalld configuration to not solve the problem.

[2018-07-11 15:50] #20055 closed

[2018-07-11 16:54] rohilshah95 commented on #14184
anyone found a fix for this?

[2018-07-11 18:52] rhnewtron opened #20288 "Origin Registry Console Logout not working when using KeyCloak with Openshift"
Having setup Openshift with OpenID Auth with Keycloak, when logging out of the Registry Console with the "Logout" link, I'm logged out of Openshift, however I am not logged out of KeyCloak. Clicking on "Login Again" and selecting the "Keycloak" Login Dialog automatically loggs me in.

The Web console of Openshift does not have this issue (If I configure the logoutUrl correctly)

##### Version
3.9

[2018-07-11 19:00] simo5 commented on #19289
/remove-lifecycle stale

[2018-07-11 19:05] bparees commented on #20288
/cc @martinpitt

[2018-07-11 22:22] ramr opened #20295 "TestSchedulerWithVolumeBinding race condition detected"
TestSchedulerWithVolumeBinding fails with race detected during execution of test.

##### Version
3.11

##### Current Result
Failure - see additional information.

##### Expected Result
Success

##### Additional Information
github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/scheduler TestSchedulerWithVolumeBinding 18s

go run hack/e2e.go -v -test --test_args='--ginkgo.focus=github\.com\/opens

[2018-07-12 02:50] debianmaster commented on #14184
@rohilshah95  @japplewhite   do you have persistent storage configure to openshift?  else you will see this issue.   Also make sure you have a default storageclass

`oc get pv`     or .  `oc get storageclass` .  should show you

[2018-07-12 06:13] #20284 closed

[2018-07-12 11:37] Reamer commented on #20194
Hi @gyuho,
It seems so, I use rpm based installation.

[2018-07-12 14:15] mjabdi commented on #12299
@guangxuli  I still have the problem with "pushing to the local registry". I get this error when trying to push the image to the registry :
"Failed to push image: Get http://172.30.1.1:5000/v2/: net/http: request canceled (Client.Timeout exceeded while awaiting headers)"

could you please tell me how you fixed your problem?

[2018-07-12 14:57] surajssd opened #20303 "`oc process` panics on --local=true"
$sub. But when run without flag it works fine.

##### Version

[code]

##### Steps To Reproduce

Start openshift server, I did it using `oc cluster up`.

[code]

##### Current Result

It panics.

##### Expected Result

Should mention what is wrong or should display the output of process.

[2018-07-12 16:19] mfojtik commented on #20250
What config change you mean? Update configMap? (audit logs should reveal that)

[2018-07-12 18:53] #9888 closed

[2018-07-12 19:33] juanvallejo commented on #20303
Will be fixed as part of https://github.com/openshift/origin/pull/20282

[2018-07-12 22:16] dmaestro commented on #16394
I've been informed that openshift port-forward, at least, proxies the forwarded connection rather than doing a transparent connection forward like ssh - so it might be that the timeout is determined by the target service, in my case mysql. Can anyone verify this? Could this be  a factor for the OP?

[2018-07-13 00:54] #14100 closed

[2018-07-13 00:54] #17882 closed

[2018-07-13 00:54] #14515 closed

[2018-07-13 06:15] esevan opened #20308 "Where is kube-proxy in v3.10"
[provide a description of the issue]

##### Version
oc v3.10.0-rc.0+c20e215
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://172.16.20.1:443
openshift v3.10.0-rc.0+e132a20-38
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. Install v3.9
2. Build openshift v3.10.rc.0
3. Upgrade v3.9 cluster to v3.10 with openshift-ansible v3.10.rc.0

##### Current Result

[2018-07-13 12:35] tonylook commented on #19535
I have the same issue, can anyone help?

[2018-07-13 13:53] Reamer opened #20311 "etcd - All grpc_code for grpc_method "Watch" is "Unavailable""
Hi,
I noticed, that every grpc_code for grpc_method "Watch" is "Unavailable" in my origin cluster. My plan is to monitor etcd-instances with default prometheus alerts from https://github.com/coreos/etcd/blob/master/Documentation/op-guide/etcd3_alert.rules.yml
Maybe the watch-connection is not closed correctly and goes into an timeout.

##### Version
[code]

##### Steps To Reproduce
1. install orig

[2018-07-13 14:04] juanvallejo opened #20312 "Remove uses of ClientForMapping across Origin cmds"
Remove uses of kcmdutil.Factory.ClientForMapping across Origin commands - commands should ultimately only to depend on the [polymorphichelpers](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/polymorphichelpers) package, [genericclioptions](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/genericclioptions), and only use methods from the [RESTClientGetter](https://

[2018-07-13 14:04] juanvallejo commented on #20312
/assign
/assign soltysh

[2018-07-13 14:18] juanvallejo opened #20313 "Cleanup newapp / newbuild BulkAction flag binding"
The BulkAction struct used (for the most part) within the `newbuild` and `newapp` commands needs to be cleaned up so that its `BindForOutput` method interfaces better with the new `PrintFlags.AddFlags` pattern.

https://github.com/openshift/origin/blob/master/pkg/bulk/cmd.go#L233

cc @deads2k

[2018-07-13 14:18] juanvallejo commented on #20313
/assign
/assign soltysh

[2018-07-13 15:51] juanvallejo opened #20316 "Make custom PrintFlags for the `process` command"
The process command supports `--output=describe` output today.
A custom version of PrintFlags should be created for this command that embeds a printer which understands this new output mode.

https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/process.go#L307

cc @deads2k

/assign
/assign soltysh

[2018-07-13 19:10] juanvallejo commented on #13945
Seeing this in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/14908/
Seeing it happen repeatedly for end-to-end tests for https://github.com/openshift/origin/pull/20282

[2018-07-14 00:57] #18595 closed

[2018-07-14 18:32] PatKayongo commented on #18932
/remove-lifecycle stale

[2018-07-14 18:33] PatKayongo commented on #18932
I'm having the same issue, where a pod is getting the error when pulling the image `not found: does not exist or no pull access`.

Has anyone been able to resolve this?

[2018-07-14 18:41] seal-ss commented on #18932
@PatKayongo This is an example that works for me in OpenShift 3.9.

[code]

[2018-07-14 19:00] #15171 closed

[2018-07-14 19:39] PatKayongo commented on #18932
I still seem to get the same error:

`Failed to pull image "myorg/myimage": rpc error: code = Unknown desc = repository docker.io/myorg/myimage not found: does not exist or no pull access`

This works fine on an OpenShift Origin cluster, but it seems to be failing on an OpenShift Container Platform cluster. I've created, and recreated the secrets to no avail.

[2018-07-15 01:01] #18048 closed

[2018-07-15 10:27] jkroepke opened #20324 "Integrate simple auth basic to Openshift Routes."
Hi,

HAProxy supports auth basic. Sometimes its required to simply protect debug/dev or web server stats urls.

It would be nicely if routes can be project via annotations. Is might looks insecure, but since certificates are included as plaintext so it should be okay.

##### Version
[code]

##### Additional Information
HAProxy documentations: https://cbonte.github.io/haproxy-dconv/1.8/configuratio

[2018-07-15 13:03] #15184 closed

[2018-07-15 13:03] #15623 closed

[2018-07-15 19:04] #18560 closed

[2018-07-15 19:04] #18083 closed

[2018-07-16 00:06] GrahamDumpleton commented on #11602
/remove-lifecycle stale

[2018-07-16 01:05] #15243 closed

[2018-07-16 01:05] #17638 closed

[2018-07-16 06:19] dabelenda commented on #16097
I managed to have this issue exactly in Origin 3.9 on CentOS 7.5 and added a lot of debug printing into a file in the dispatcher.d/99-origin-dns.sh script.

I started having the issue when I switched my NetworkManager config from dhcp-provided IPs to static configuration.

What I found out is the following:
* NetworkManager writes the /etc/resolv.conf with the static resolver/search/etc
* the disp

[2018-07-16 14:27] markusdd opened #20328 "SeLinux prevents execmod syscall in PersistentVolume ReadOnlyMany NFS mount"
We use a Persistent volume defined as follows:
[code]

This is being attached to a project in openshift for our CI-runs from Gitlab, which uses the Kubernetes executor.
Some generated pods then reference this volume and mount it read-only under /opt. It is a volume with
many large tools installations (mainly Hardware EDA tools) , which do not fit well in a Docker container, hence we mount them ext

[2018-07-16 14:40] megakoresh opened #20329 "Projected volumes do not work with DeploymentConfig"
If you attempt to define a projected volume

##### Version
[code]
##### Steps To Reproduce
Run the following template:
[code]

##### Current Result
[code]
##### Expected Result
The deployment config runs pods with projected volumes.

##### Additional Information
Running this on latest minishift release.

[2018-07-16 15:01] bparees opened #20330 "FAIL: TestStuckMethodCount"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20318/pull-ci-origin-unit/1444/

/cc @openshift/sig-master

[2018-07-16 19:07] #18528 closed

[2018-07-17 00:02] #20002 closed

[2018-07-17 01:07] #18159 closed

[2018-07-17 05:18] #20252 closed

[2018-07-17 11:38] cucushift opened #20335 "The return type is wrong?"
hi all, it that a problem?

[code]

[2018-07-17 11:42] cucushift commented on #20335
In fact the func return struct `diagnosticResultImpl`,but as defined, it return a new struct `DiagnosticResult `?

[2018-07-17 11:57] cucushift commented on #20335
/close

[2018-07-17 11:57] #20335 closed

[2018-07-17 11:59] vrutkovs opened #20336 "`unknown field "masterCount" in object *config.MasterConfig`"
API server doesn't recognize `masterCount` setting in master-config.yaml. Not sure if this field needs to be removed, but openshift-ansible specifically sets it.

##### Version
v1.11.0+d4cacc0

##### Steps To Reproduce
1. Check API server logs

##### Current Result
[code]
https://s3.amazonaws.com/aos-ci/ghprb/openshift/openshift-ansible/2dcc10a7b4f7486e7903e6aa4f54fd93df2d0498.3.153182326937300493

[2018-07-17 12:50] dmage commented on #19930
/cc @legionus

[2018-07-17 13:44] knobunc commented on #19784
How did you install your cluster?  And how is the dns on the nodes set up?

[2018-07-17 14:13] boukandouramhamed commented on #20110
Same issue.
PS: i'm running behind a proxy.

[2018-07-17 14:16] zhangtbj opened #20339 "host 127.0.0.1 doesn't work on any pod of the minishift or even openshift?"
After I asked minishift guys, they think it should also be an openshift issue, this is the original issue in minishift:
https://github.com/minishift/minishift/issues/2605

I don't have an openshift environment, can you please help take a look if openshift have this issue too.

Thanks a lot!

### General information

  * Minishift version:  `minishift v1.21.0+a8c8b37`
  * OS: Linux / macOS / Window

[2018-07-17 14:39] eivantsov commented on #19784
@knobunc it's just `oc cluster up` on my Fedora laptop.

My question sounds more like:

Can I expect that `docker-registry.default.svc:5000` will point to an internal Docker registry in a cluster deployed with Ansible according to official docs?

[2018-07-17 14:44] knobunc commented on #19784
Not using oc cluster up :-(

You need something to tell the docker how to get to the internal registry.  Adding the hosts entry is reasonable.   Ansible installs set up dnsmasq to do it.

[2018-07-17 14:45] karunakarreddych commented on #16562
Hi Delubi,

I am facing same issue, can you please let me know in which you changed openshift-enterprise to origin.

Thanks,
Karunakar

[2018-07-17 14:52] gbraad commented on #20339
This seems to fail CloudFoundry deployments on OpenShift. The router related pre-check scripts will check that... :(, for example:

https://github.com/cloudfoundry/routing-release/blob/87d5f821179587d0a3da3486165ec08ad6d9c16d/jobs/gorouter/templates/run_gorouter.erb#L12

https://github.com/cloudfoundry/routing-release/blob/dca19fb30607b5044883fbb7c42e84f0f5c147fc/jobs/routing-api/templates/routing

[2018-07-17 15:11] juanvallejo commented on #18932
@PatKayongo what command are you using to create your docker-registry secret (oc create secret ..., oc secret create ...)?
Also, what version of oc are you using?

[2018-07-17 15:22] #20233 closed

[2018-07-17 15:24] eivantsov commented on #19784
@knobunc that makes sense. Just needed a confirmation. Thanks a lot.

[2018-07-17 15:24] #19784 closed

[2018-07-17 18:56] delubi commented on #16562
My azure instances are now gone so I don't have a way to check.

I recall the change was made in the ansible playbook config file. Most likely it's in

openshift-ansible/playbooks/byo/config.yml

Do a search for "openshift-enterprise". It's the value of installation type. Changing it to "origin" was what I did.

Forrest

[2018-07-17 20:47] #19775 closed

[2018-07-18 01:57] kingkeivn commented on #16051
@MacThrawn
What changs have been made to this configuration?can you go into more detail?And in which file ?Thank you .

[2018-07-18 02:16] kingkeivn opened #20345 "Failed to push image"
oc :
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.10.121.198.81.nip.io:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

docker:
Client:
 Version:         1.13.1
 API version:     1.26
 Package version: docker-1.13.1-63.git94f4240.el7.centos.x86_64
 Go version:      go1.9.4
 Git commit:      94f4240/1.13.1
 Built:

[2018-07-18 03:35] kingkeivn commented on #20345
/etc/host
172.30.170.148 docker-registry.default.svc

it  is  ok.

[2018-07-18 03:35] #20345 closed

[2018-07-18 04:20] serrss opened #20346 "Error message "no space left on device" after executing command "oc cluster status""
I get message `Error: Error response from daemon: {"message":"no space left on device"}` after executing command `oc cluster status` 3-7 times with short interval (1-3 seconds) but `df -h` and `docker info` says that I have a lot of free space. It can be a BUG?

##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
o

[2018-07-18 08:37] sttts commented on #20220
With https://github.com/openshift/origin/pull/20309 merged 5 days ago, this should be fixed. @bparees please report back if we see the flake again.

Optimistically closing.

[2018-07-18 08:37] #20220 closed

[2018-07-18 11:00] kargakis opened #20349 "[Feature:DeploymentConfig] deploymentconfigs when run iteratively [Conformance] should only deploy the last deployment"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20347/pull-ci-origin-e2e-gcp/1112/

/kind test-flake
@openshift/sig-master

[2018-07-18 13:11] #12169 closed

[2018-07-18 15:09] ironcladlou commented on #20168
TestBasicControllerFlow fix in https://github.com/openshift/origin/pull/20352

[2018-07-18 15:50] budhram commented on #19027
@LalatenduMohanty @gbraad I think we can close this issue as it is no more relevant now to Minishift.

[2018-07-18 16:06] karunakarreddych commented on #16562
Thank you very much

On Wed 18 Jul, 2018, 12:26 AM delubi, <notifications@github.com> wrote:

[2018-07-18 17:01] stevekuznetsov commented on #18937
No clear action items here. We have retries now.
/close

[2018-07-18 17:01] #18937 closed

[2018-07-18 19:52] #20121 closed

[2018-07-18 19:53] bparees commented on #20084
closing based on lack of feedback, can reopen.

[2018-07-18 19:53] #20084 closed

[2018-07-18 19:54] bparees commented on #19955
@Poltorackiy were you able to confirm your openshift namespace imagestreams were successfully imported?

[2018-07-18 19:55] #19482 closed

[2018-07-18 19:56] bparees commented on #19450
https://github.com/openshift/origin/pull/20297 will surface OOMKilled events to the build object.

[2018-07-18 19:56] #19450 closed

[2018-07-19 03:04] sbourlon commented on #20209
@jwforres I still think that my comment would improve the user experience, specially adding the option --docker-tag to `oc start-build`, so I can version my builds with git, like:  `oc start-build "$build" --from-dir . --follow --docker-tag $(git describe --tags --dirty)`.

@bparees thank you for the info.

[2018-07-19 06:18] ssiwan commented on #17064
Thanks for the Mac keychain instructions

[2018-07-19 10:29] tnozicka commented on #20349
I thought @sjenning was adding this into API server validation last time we had this issue...

[2018-07-19 11:22] megakoresh opened #20361 "Support sensitive template parameters"
I would like to have a template that asks user for their github credentials and creates secret from those, giving it the appropriate name to be used in build configurations and so on. But the UI does not support sensitive data and pasting unmasked password these days leaves a nasty feeling.

Would be useful to have a feature that allows you to define template parameters as sensitive, so that the U

[2018-07-19 13:13] #18499 closed

[2018-07-19 14:50] madddi opened #20363 "Can't provision volumes with Ceph RBD StorageClass"
Hi,

I'm unable to provision Ceph RBD volumes with OpenShift 3.9. This configuration worked with OpenShift 3.6 and 3.7 and broke with 3.9. When creating a PVC, the master logs this error:

[code]

The issue sounds a lot like kubernetes/kubernetes#63648, but I can't simply change our storage backend... The StorageClass looks like this:

[code]

##### Version
[code]

##### Steps To Reproduce
1. Crea

[2018-07-19 15:04] jmontleon opened #20365 "Webconsole returns a blank page"
After running oc cluster up with --enable=web-console, visiting the console returns a blank page.

##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result
Blank page. The web console pods logs:
[code]

##### Expected Result
Working Console

[2018-07-19 17:42] pmacko1 opened #20368 "Can't oc cluster up on vanilla fedora - image openshift/origin-control-plane:v3.10 might be corrupted ?"
Followed https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md and couldn't get oc cluster up to run

##### Version
oc v3.10.0-rc.0+c20e215
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. install fedora on vm
2. install docker as per docs.docker.org
3. install oc as per https://github.com/openshift/origin/blob/master/docs/cluste

[2018-07-19 19:14] #15877 closed

[2018-07-19 19:34] juanvallejo opened #20371 "Figure out --raw output logic for `oc process`"
Right now, the `oc process` command supports a `--raw` flag, whose description states that [when specified, the processed template, rather than the template's objects should be printed](https://github.com/openshift/origin/blob/master/pkg/oc/cli/process/process.go#L100). It further states that this behavior can be implied by specifying `describe` as the desired output format via `--output=describe`

[2018-07-20 00:21] szinck1 opened #20374 "trigger"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2018-07-20 01:15] #16810 closed

[2018-07-20 07:31] mjudeikis opened #20375 "Haproxy stats non tls"
I might miss this on the docs but:

Haproxy template stats endpoint is non tls:
https://github.com/openshift/origin/blob/6c639af3985de43e99fa34f260f9a0a79df87155/images/router/haproxy/conf/haproxy-config.template#L130-L135

And most of our Prometheus examples expects tls:
https://github.com/openshift/origin/blob/60a595ad74ae242b5dc91c7b0915805b6b4dfe96/examples/prometheus/prometheus.yaml#L712

the

[2018-07-20 07:32] mjudeikis commented on #20375
@openshift/sig-networking ptal.

[2018-07-20 08:36] spadeq commented on #19535
Me 2. Both installation from openshift.tar.gz and YUM source have the same result. I'm so disappointed by RH and considerin' to try CloudFoundry now.

[2018-07-20 08:41] gunjansharma18 commented on #20001
Thanks but I dont see any reason why we should rely on server to get the information and support only with +/-1 version @soltysh. Is this is a bug which will be fixed ?

[2018-07-20 09:08] riuvshin commented on #14031
/remove-lifecycle stale

issue is still actual.

[2018-07-20 09:09] riuvshin commented on #14031
/remove-lifecycle stale

[2018-07-20 10:37] nak3 commented on #17777
@jocelynthode @hufon

I have tested steps you provided, but the issue could not be reproduced on OpenShift 3.9. Could you please check if I misunderstood your steps or not?

#### 1. Running pod on knakayam-ose39-crs-node2

[code]

#### 2. Scale down pod

[code]

#### 3. Scale up the pod. The new pod was launched on another node (knakayam-ose39-crs-node2)

[code]

#### 4. Make sure that ceph rbd is

[2018-07-20 11:16] tnozicka opened #20376 "Go vet is silently ignored"
`hack/verify-govet.sh` ignores all compile errors and other errors.

a) it takes about 6s which is too suspicious.
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/20372/pull-ci-origin-verify/1036/build-log.txt
[code]

Upstream:
[code]
b) if you add `-v` here you will see all the compile failures but calling the equivalent `go tool vet ...` exits 0 even so https://github.com/openshift/or

[2018-07-20 11:32] spadgett commented on #20361
We need a way to set parameters as sensitive in the template itself before we can add this to the UI.

/assign @bparees
/kind enhancement

[2018-07-20 11:54] megakoresh commented on #20361
That seems sort of obvious:

[code]

Is there a problem with that?

[2018-07-20 14:03] spadgett commented on #20361
Right, just remarking that I'm not the right owner because it requires an API change to templates

[2018-07-20 15:23] bparees commented on #20361
not as such, but we've been pretty reluctant to add features to template parameters historically.  (the other common request is a "validation_rule" field that would allow UIs to validate the parameter value supplied by the user against some sort of rule like a regex, or list of allowed values).

We'll leave this open and see where it goes.

[2018-07-20 15:35] bparees commented on #20361
converting this to a JIRA issue:
https://jira.coreos.com/browse/DEVEXP-120

[2018-07-20 15:35] #20361 closed

[2018-07-20 15:56] stevekuznetsov commented on #20376
/unassign

If you have bandwidth, would be good to look into this. CD does not own the content of this test (or any test)

[2018-07-20 16:59] jboyd01 opened #20380 "ServiceCatalog: add new feature-gates: NamespacedServiceBroker & CatalogRestrictions"
needed in both Origin and OCP

[2018-07-21 01:03] nak3 commented on #20363
Your `rbd --version` is too old. I believe that you can avoid the issue by upgrading ceph-common package to `12.x` or set `imageFormat: "1"` in your storageclass.

e.g
[code]

Note: by setting `imageFormat: "1"`, it will skip this block and stop using `--image-feature` when create image.

https://github.com/openshift/origin/blob/ddac56da6e61c51920a4ef473575b0ed1a16244d/vendor/k8s.io/kubernetes/pkg

[2018-07-21 06:57] jhutar opened #20388 "adding insecure registry to /etc/containers/registries.conf is not sufficient"
Following the guide, `oc` command fails to up the cluster.

##### Version
[code]

##### Steps To Reproduce
1. From https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#linux follow advice about /etc/containers/registries.conf
2. Finish remaining steps
3. `# oc cluster up`

##### Current Result
[code]

##### Expected Result
Either should work or documentation should provide only

[2018-07-21 14:52] klauern opened #20389 "'oc cluster up' timeout on Docker on Windows"
When trying to spin up a single node instance on my Windows 10 machine, I get a timeout on `oc cluster up`

##### Version

[code]

[code]

##### Steps To Reproduce
1. install Docker for Windows.
2. Configure `"insecure-registries"` per the instructions.
1. `oc cluster down`
2. `oc cluster up`

##### Current Result

[code]

##### Expected Result

##### Additional Information

[code]

[code]

[2018-07-21 19:20] #18635 closed

[2018-07-21 19:20] #18683 closed

[2018-07-21 19:20] #18695 closed

[2018-07-21 19:20] #16201 closed

[2018-07-21 19:20] #18671 closed

[2018-07-22 17:48] madddi commented on #20363
@nak3 Thank you very much! I've decided to go with `imageFormat: "1"` as I want to use the ceph tools shipped with CentOS 7.

[2018-07-22 17:48] #20363 closed

[2018-07-23 07:10] c0ntainerize opened #20390 "[Question] Will Origin work with the data service Apache CouchDB?"
I saw under database service's there is MongoDB. I was wondering for development if I were to use [Apache CouchDB](https://couchdb.apache.org/) with Origin would there be any foreseeable issues I might run into?
![origin](https://user-images.githubusercontent.com/41249167/43061895-d38c74c0-8e0b-11e8-81ce-2c505a844488.png)

[2018-07-23 10:14] Reamer commented on #20194
If you need more informations let me know.

[2018-07-23 10:33] LalatenduMohanty commented on #18119
@deads2k Is this got fixed when you guys did the refactoring for 3.10?

[2018-07-23 11:12] jeusdi opened #20391 "Build never ends"
I'm facing a problem.

[code]

I'm performing:

    mvn -Dfabric8.namespace=t-devhub-dev \
      -Dfabric8.openshift.trimImageInContainerSpec=true \
      -Dmaven.test.skip=true \
      clean package fabric8:resource fabric8:build

This process is hanging on waiting for `fabric8:build` ends:

    [INFO] --- fabric8-maven-plugin:3.5.38:build (default-cli) @ tdev-forum-service ---
    [INFO] F8: Usi

[2018-07-23 13:10] deads2k commented on #18119
I think so.  The failure mode would be different now at the very least.

[2018-07-23 13:10] #18119 closed

[2018-07-23 14:05] mfojtik opened #20394 "reenable HPA in deployment describe test"
They were disabled because we have to switch the HPA describer to external types or figure out what to do there. We also need to switch oc graph to external types. Once that is done, these tests should be re-enabled.

[2018-07-23 14:54] stevekuznetsov commented on #20376
Sorry, that is not our charter. We do not own the content of these tests, we simply provide the organization with the infrastructure with which to run them.

Development has finished on a tool to drive organization and team membership from config so that manual team management should not be necessary any more. I was waiting to change all the teams from the re-org for the moment I started to use th

[2018-07-23 14:54] stevekuznetsov commented on #20376
/unassign @coverprice @bbguimaraes

[2018-07-23 16:31] ktdreyer commented on #20363
If you're using CentOS 7, please use the RBD client in the CentOS Storage SIG. The `centos-release-ceph-luminous` package ships the Yum .repo file.

[2018-07-23 18:13] stevekuznetsov commented on #19459
/remove-lifecycle stale

[2018-07-23 18:51] Bubblemelon opened #20398 "Missing /sys/fs/cgroup/cpuacct,cpu"
[code]

This may not be a kubelet issue, as this also occurred with `runc`.

#### Version
`openshift/origin-node:latest` i.e. `openshift v3.11.0-alpha.0+90e2736-260`

#### [Steps To Reproduce](https://github.com/openshift/os/issues/145#issuecomment-403602118)
1. Complete [Libvirt-howto guide](https://github.com/coreos/tectonic-installer/blob/master/Documentation/dev/libvirt-howto.md)
2. Install th

[2018-07-23 19:09] #20107 closed

[2018-07-24 04:52] tnozicka commented on #20376
@stevekuznetsov sounds confusing - I though you are CD team and I was told by my manager that @coverprice is the team lead for developer productivity team (not the CD team) which should handle this.

[2018-07-24 06:07] ToroNZ commented on #16097
In my case (OCP 3.9) I had to add this to '/etc/dnsmasq.d/node-dnsmasq.conf' and restart dnsmasq.

[code]

[2018-07-24 11:52] hufon commented on #20324
+1

[2018-07-24 14:51] jnach commented on #18115
/remove-lifecycle stale

[2018-07-24 14:52] stevekuznetsov commented on #20376
Right, so I am on the team @coverprice is our lead, but fixing the content of the tests is simply not in our charter. We are here to run the infrastructure and ensure that, for instance, AWS VMs are being created correctly to run the `verify` suite. Or that the correct version of `golang` is installed there. Or that `prow` correctly triggers the test for your PR. We are explicitly _not_ in the bus

[2018-07-24 14:55] borntorock opened #20406 "OpenShift Routes limit in Namespace and Cluster"
Since it was not mentioned in the cluster limits here: https://docs.openshift.com/container-platform/3.9/scaling_performance/cluster_limits.html,

we want to know if there has been scalability tests on the limit of the OpenShift routes that can be created in the particular namespace and in particular OpenShift cluster.

[2018-07-24 15:08] stevekuznetsov commented on #20376
Some implementation details -- we use `go tool vet` since we turn off shadowed variable checks (very unreliable and noisy) and add in the `glog` print functions for vetting. Looks like `go tool vet` at some point with a directory would search recursively, but it does not anymore. You cannot use `pkg/...` with `go tool vet` like you would with `go vet` for whatever reason:

[code]

so figuring out

[2018-07-24 15:12] stevekuznetsov commented on #20376
Actually these days it looks like all of those flags are available on `go vet` itself, no need to use `go tool vet`.

[2018-07-24 15:14] stevekuznetsov commented on #20376
Also FWIW I get no errors on my machine :)

[code]

[2018-07-24 19:38] rushins commented on #14184
i hit the same issue. we have openshift 3.9 with kubernetes 1.9 ? we dont have any GCE as this cluster is on-premise ...do i have to create NFS PV first to consume PVC ? i thought PV should work local disk as well.

can someone help what is the solution.

[2018-07-25 02:34] #20380 closed

[2018-07-25 03:05] debianmaster commented on #14184
@rushins
 you should have a PV first or a storage class to create a PVC.

use    oc get pv .       and    oc get storageclass       to see if you
have any

On Wed, Jul 25, 2018 at 3:38 AM rushins <notifications@github.com> wrote:

[2018-07-25 03:57] Mikedu1988 commented on #19535
same issue here, also so disappointed

[2018-07-25 07:15] tnozicka commented on #20376
my machine :) (go 1.10.3)
[code]

[2018-07-25 07:30] tnozicka commented on #20376
That's perfectly fine and reasonable; the main ask here is to fix the script. I can take fixing the warnings so it can merge and block merges so fixing the warnings is one time job.

[2018-07-25 07:47] tnozicka commented on #20376
Actually I think if we were to run `go install` before go vet, just as upstream does
https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/vet.sh#L36
that would fix the issue

except at least I can't run that locally
[code]
seems like CGO issue  - can we do something about it without forcing people install C deps on their machines? kind of ruins the point of vendoring...
/cc @mtrmac

[2018-07-25 10:58] miminar opened #20415 "Cannot modify existing cluster role to refer to CRD in 3.9"
In 3.9, it's no longer possible to modify clusterroles `admin`, `edit` and `view`.

In 3.7, one could for example extend the admin clusterrole to permit updates to a CRD:

    $ oc patch --type=json clusterrole admin \
        -p '[{"op":"add", "path":"/rules/-", "value":{
          "apiGroups":["example.com"],
          "resources":["mycluster","mc"],
          "verbs":["create","delete","get","l

[2018-07-25 11:46] miminar commented on #20415
Confirmed on 3.10 as well.

[2018-07-25 12:35] tnozicka commented on #20376
2 PRs out there:
- https://github.com/openshift/origin/pull/18828
- https://github.com/openshift/origin/pull/20407

I believe we should nuke the blacklist and converge with upstream. Get updates and bugs fixed for free.

[2018-07-25 12:51] jwforres commented on #20365
@openshift/sig-user-interface

[2018-07-25 12:52] jwforres commented on #20406
@openshift/sig-network-edge

[2018-07-25 12:52] jwforres commented on #20415
@openshift/sig-security

[2018-07-25 12:54] spadgett commented on #20365
@jmontleon Any chance you've previously clustered up with a different public hostname? It looks like the console can't discovery the OAuth endpoints because the certificate is not trusted.

cc @deads2k

[2018-07-25 12:59] liggitt commented on #20415
These roles are now aggregated roles. To contribute additional permissions to them, create distinct appropriately labeled clusterroles,  and the aggregating controller will combine their permissions into the admin, edit, or view role.

See https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles  for more details

[2018-07-25 12:59] jwforres commented on #20391
@openshift/sig-developer-experience

[2018-07-25 12:59] liggitt commented on #20415
/close

[2018-07-25 12:59] #20415 closed

[2018-07-25 13:21] enj commented on #20415
We have better docs https://docs.openshift.org/latest/admin_guide/custom_resource_definitions.html#creating-aggregated-cluster-role-crd_admin-guide-custom-resources

[2018-07-25 13:22] jwforres commented on #20390
That list is just some of what we ship and test ourselves, that doesn't mean other DBs won't work. The main thing to consider is that openshift's default security profiles lock down the uid that container processes can run as. Take a look at SCCs for more information: https://developers.redhat.com/blog/2016/10/21/understanding-openshift-security-context-constraints/

This dockerfile example works

[2018-07-25 13:22] #20390 closed

[2018-07-25 13:35] #17774 closed

[2018-07-25 13:36] jwforres commented on #20398
@openshift/sig-pod

[2018-07-25 13:37] jwforres commented on #20389
@openshift/sig-master

[2018-07-25 13:40] jwforres commented on #20254
The quota system is behaving as expected.  If you want to allow the default secrets to get created your quota needs to account for them.

[2018-07-25 13:40] #20254 closed

[2018-07-25 13:56] spadgett commented on #20365
Closing since there's a bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1607913

[2018-07-25 13:56] #20365 closed

[2018-07-25 14:30] jwforres commented on #20187
@openshift/sig-storage

[2018-07-25 14:31] jwforres commented on #20368
@openshift/sig-master

[2018-07-25 18:15] mtrmac commented on #20376
Sure — integrate with the build system correctly, so that the tests and analysis work with exactly the code that is actually run in the production binaries.  This specific error indicates that you need the `containers_image_openpgp` tag, which is defined in
[code]
but there are other tags, and a bit more complex logic, that should be used consistently to use the same tags for both compilation, tes

[2018-07-25 19:15] jwforres commented on #20250
@barakbd did mfojtik's comment about audit logs answer your question? can this be closed

[2018-07-25 19:20] jwforres commented on #20251
@openshift/sig-master

[2018-07-25 19:33] jwforres commented on #20346
@openshift/sig-master

[2018-07-25 19:36] #10134 closed

[2018-07-25 19:55] jwforres commented on #20311
@openshift/sig-master

[2018-07-25 20:00] liggitt commented on #20259
this is a new feature in kubectl 1.11, and is not supported on objects other than pods. see https://github.com/kubernetes/kubernetes/pull/66398 for more details, but it is not supported on deployment objects, at least for now.

[2018-07-26 01:53] bparees commented on #20391
can you get the logs from the container itself?
`oc logs tdev-wsec-service-s2i-1-build -c git-clone`

also i doubt it matters but you should be able to just run:
`oc start-build --from-archive=docker-build.tar --loglevel=10 forum-s2i --follow`

[2018-07-26 06:12] marthenlt commented on #17392
Encounter the same thing, but actually you don't have to add cluster.local manually in /etc/resolv.conf

All you need to do if you're running RHEL like myself is to restart your NetworkManager and it will auto populate the correct search value with proper nameserver IP.

`systemctl restart NetworkManager`

[2018-07-26 06:40] AvTiMp opened #20422 "the endpoint couldn't be changed when using headless svc without selector"
[provide a description of the issue]

##### Version
[code]

##### Steps To Reproduce
1.  create a headless svc without the selector, and an endpoint with same name
2.  use a sa to modify the endpoint (in pod)  by adding a Pod ip in same project to its subset

##### Current Result
the server deny  this operation
##### Expected Result
it should do allow this

[2018-07-26 07:06] tnozicka commented on #20376
@mtrmac thanks for pointing me there, exactly what I was missing!

Yeah, I am gonna withhold my comments on whether that should be needed :)

[2018-07-26 07:18] sttts commented on #20251
`oc get projects.example.io/exmaple-projec` is expected to not work because the namespace is missing.

[2018-07-26 07:22] sttts commented on #20251
`oc get all -o json -n example` has no relevance here because the CRs are not included in "all".

[2018-07-26 09:07] kingkeivn opened #20424 "eclipse che on openshift cluster cannot create workspace because permission denied"
I had deploy openshift3.9 cluster on my computer (master node:1,slave node:2)

oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://localhost:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

I tried to deply a example which name is cakephp-ex on this cluster ,and it worked fine.

I tring  to deploy eclipse che on this cluster.
st

[2018-07-26 09:08] kingkeivn commented on #20424
logs in che pod :
Machine dev-machine error from owner=che env=default workspace=workspacejxtcmersa5p69t8g text=`mkdir: cannot create directory ‘/workspace_logs/bootstrapper’: Permission denied

this is pvc's yaml:
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
annotations:
pv.kubernetes.io/bind-completed: "yes"
pv.kubernetes.io/bound-by-controller: "yes"
creationTimestamp: 2018-07-25T09:16:

[2018-07-26 09:11] kingkeivn commented on #20424
[#10530](https://github.com/eclipse/che/issues/10530)

[2018-07-26 09:16] kingkeivn commented on #20424
[I asked a question in eclipse/che](https://github.com/eclipse/che/issues/10530)

[2018-07-26 09:30] kingkeivn commented on #20424
this is create workspace's yaml provider by eclipse che
apiVersion: v1
kind: Pod
metadata:
  annotations:
    openshift.io/scc: anyuid
    org.eclipse.che.container.container.machine_name: dev-machine
  creationTimestamp: 2018-07-26T09:25:11Z
  generateName: workspace0finsrj6jhac6ojm.dockerimage-7c98578dc4-
  labels:
    che.original_name: dockerimage
    che.workspace_id: workspace0finsrj6jhac6oj

[2018-07-26 09:31] miminar commented on #20415
Thanks for the pointers. That's what I needed.
I still find it unfortunate that changes are silently dropped on edit/patch though.

[2018-07-26 09:52] AvTiMp commented on #20254
@jwforres  i mean,  i found that the openshift needs more than nine secret when a new project is created  which is unusual, since only three serviceaccounts  and only nine corresponding secrets are needed when creating project, I didn't say the quota system doesn't perform correctly. I means something unkown creates a secret when a new project occurs

[2018-07-26 10:01] kingkeivn commented on #20424
I resolve it by mount volumes with nfs

[2018-07-26 10:11] adnanyaqoobvirk commented on #20251
@sttts Thanks for the reply.

I get the same error if I specify the namespace. By the way, the default namespace is the one in which CR was created so if I am not wrong Openshift client binary should use the default namespace to retrieve it as well, right?

[2018-07-26 10:39] testuser-2018 opened #20425 "How to expose UDP ports range for pod/container"
Hello gentlemen.

I have an issue with making a pod working with Kurento Media Server. All UDP ports should be opened but there is no mention in the official documents how it can be done. I have found a mention about hostNetwork mode of pod in Kubernetes but not in OpenShift. Otherwise I have found hostNetwork in Openshift Pod API but when I try to turn this mode on many errors occur.
Could anybod

[2018-07-26 13:06] alexgalkin commented on #7609
/reopen

[2018-07-26 13:07] alexgalkin commented on #7609
The issue was closed without confirming any solution. Was anyone able to properly configure Kurento on openshift?

[2018-07-26 13:48] Reamer commented on #18332
/remove-lifecycle rotten

[2018-07-26 13:52] Reamer commented on #18332
To work around this problem, I added two lines to my ansible inventory. Maybe we should use this values as a the default.
[code]

[2018-07-26 14:22] adambkaplan commented on #20425
Please provide the YAML for your pod or deployment config (with anything sensitive redacted), as well as any logs from the pod.

[2018-07-26 15:31] adambkaplan opened #20429 "Bump images used in tests"
Many of our tests pull images which use outdated language versions. These should be bumped to more current versions. Examples:

1. `centos/ruby-22-centos7` should bump to `centos/ruby-25-centos7`
2. `openshift/nodejs-010-centos7` should bump to `centos/nodejs-8-centos7`

[2018-07-26 15:45] bparees commented on #19809
@adambkaplan i'm reopening this.  Now that https://github.com/openshift/source-to-image/pull/910 has merged (but not changed the default behavior) we can consider bumping the s2i dep in origin and changing the origin behavior to use the keep symlinks behavior.

[2018-07-26 15:46] coreydaley commented on #19141
/remove-lifecycle stale

[2018-07-26 16:03] jwforres commented on #20339
@openshift/sig-network-edge

[2018-07-26 16:12] gbraad commented on #20339
Likely an issue on the user's machine.

[2018-07-26 17:33] testuser-2018 commented on #20425
I will provide the required information certainly as soon as possible but I have one clarifying question.
By API definition (https://docs.openshift.com/container-platform/3.9/rest_api/api/v1.Pod.html) a pod schema creation has hostNetwork field with the following annotation: "If this option is set the ports must be specified". In what field should they be specified and is it possible to specify a

[2018-07-26 19:29] markllama opened #20434 "Generate correct release tags using tito > 0.6.10"
[provide a description of the issue]

The openshift build process uses [tito](https://github.com/dgoodwin/tito).  The current builds use [version 0.6.10](https://github.com/dgoodwin/tito/releases/tag/tito-0.6.10-1).  The current version on EPEL is [version 0.6.11](https://github.com/dgoodwin/tito/releases/tag/tito-0.6.11-1).  This has not been updated on the build server, but the old version is no

[2018-07-26 19:38] #17387 closed

[2018-07-27 01:38] #13506 closed

[2018-07-27 05:55] stlaz commented on #14175
/remove-lifecycle rotten

[2018-07-27 06:42] sttts commented on #20251
Have managed to reproduce this with oc from origin master branch.

[2018-07-27 07:18] Kisen-Chin opened #20442 "Refused to display in a frame because it set 'X-Frame-Options' to 'deny'."
[provide a description of the issue]

##### Version
[root@master ~]# oc version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
When I developing my website. I'd like to use "iFrame" tag to show openshift in my own website. But unfortunatly, I g

[2018-07-27 07:19] sttts commented on #20251
This seems to depend on the name "project". I tried "foo", I tried "image" (also used internally in OpenShift), both work fine.

[2018-07-27 08:00] dharmit commented on #19678
For me this issue got resolved with help from @sabre1041. I had to set following annotation:
[code]
where `pipeline` is the namespace I was trying to start DaemonSet in.

Here's an entry in `master-config.yaml`:
[code]
Does this entry prevent starting of pods on nodes that don't have the role `compute`?

[2018-07-27 08:08] calston opened #20444 "High rate of stdout writes from containers causes decreased performance"
This probably seems obvious, but if you have a bunch of small docker containers with even minimal resources attached to them it's possible for them to produce a very high rate of writing to standard output which will then result in large IO writing to syslog, and then even further resource consumption from Fluent ingesting those logs into Elasticsearch.

Effectively this means a tenant could DoS t

[2018-07-27 08:46] mfojtik opened #20445 "Failed to create app with new-app when quota is set"
Stumbled upon this when trying to reproduce different quota bug. In latest master, when you create quota with following limits:

[code]

And then you try to create an app (using new-app examples):

[code]

The Build gets into a "failed" state with following event:

[code]

Additional concerning thing is that while the build is "failed", the number of events are increasing over time, which might su

[2018-07-27 08:49] mfojtik commented on #20445
Do we need to set some reasonable resource limit defaults for the builder pods?

[2018-07-27 09:53] borntorock commented on #20406
@ironcladlou Any update on this?

[2018-07-27 10:07] rhuss opened #20446 "oc login is slow when .kube/config is large"
By accident and over time my `~/.kube/config` collected over 2000 entries (300k). It seems because of this, an oc login for me now takes always >40s.

The logging indicates the the config file is re-read after every entry parsed:

<details><summary>Log output for oc login</summary>

[code]
</details>

Of course I can fix this by purging my config, but is it really necessary to load the config file

[2018-07-27 10:18] rhuss opened #20447 "Expose console URL via the API (and oc)"
It would be awesome if the URL for the console could be queried from the API. In our use case we want to link from our UI to certain pod logs in the console. However as we can determine reliably the URL to the console we have to force this URL as input in our installation. If this data would be queriable somehow (via the API, ideally exposed also via `oc`), then we could save this step, making the

[2018-07-27 11:02] IlonkaO opened #20449 "Suggestion for a new feature: livetime for RoleBinding"
Suggestion for a new feature

I have actually the challenge to grant temporary access for users.
It would be great to get a possibility to describe a lifetime for example to a RoleBinding.

Regards Ilonka

[2018-07-27 11:12] #19998 closed

[2018-07-27 11:47] bparees commented on #20445
It's a failure to create the pod, since we don't analyze the specific reason why, we will retry creating the pod (via requeue), so i don't think this behavior is incorrect.  Determining what is a "retryable" failure for a pod creation is going to be difficult (not to mention the condition is correctable by adding a default limit to your project, right?)

I'm very against this.  We never manage to

[2018-07-27 12:38] #14807 closed

[2018-07-27 12:59] soltysh commented on #20001
Nope, it works just like it was expected, including +/- 1 version compatibility

[2018-07-27 13:37] mfojtik commented on #20445
I would think that when the build is reported as "Failed", it is failed and it can't transition to "Succeeded" anymore. It should add some backoff maybe and keep the Build as "pending" (and report the events) and after some time it should move it to Failed and stop retries?

To me the inability to create a build, even if I have enough quota/resources just because there are some limits set is conce

[2018-07-27 13:40] #18744 closed

[2018-07-27 13:54] bparees commented on #20445
it can, if you fix the problem that's blocking the build from progressing.

requeuing already has backoff built in, and it should stop retrying after 15 requeues.  I'm not sure how long that takes, i think the backoff peaks at a minute so it might take 10-15 minutes to retry it 15 times.

edit the build to add resource limits

or cancel the build and edit the buildconfig and rerun the build

or ad

[2018-07-27 13:55] bparees commented on #20445
(is the build actually in a failed state?  i would expect the build itself is in phase new or pending since it hasn't created the pod yet)

[2018-07-27 14:11] #20097 closed

[2018-07-27 14:22] rushins commented on #14184
so as stated before "do i have to create NFS PV first to consume PVC " i created PV and rest is fine, however i was under impression that Openshift Contianer Platform will allow to use localhost path based disk as PV ? if this is possible in redhat openshift container platform? as other kubernetes without redhat openshift is doable with this way using localhost path LVM devices. ?

[2018-07-27 15:15] alexgalkin commented on #7609
/remove-lifecycle rotten

[2018-07-27 18:06] jwforres commented on #20447
It is unlikely we would make an API endpoint or CLI command specifically for this. The new console we are working towards will have a different deployment model and will not be proxied through the masters, and instead has a Route in front of it. So if you are able to view that route you'd be able to discover the hostname for the console.

Longer term we are having some discussions about this probl

[2018-07-27 18:16] pmacko1 opened #20454 "cluster_up_down.md#linux suggests that docker should be installed from platform repos - potential for outdated packages"
SSIA

[2018-07-27 18:18] pmacko1 commented on #20454
users should be imo pointed to https://docs.docker.com/ for docker installation.
Also we had to follow steps in https://docs.docker.com/install/linux/linux-postinstall/ to make docker work for our application (docs.aerogear.org)

[2018-07-27 19:19] sdodson commented on #20170
If everything refers to the host by dns names then it should be fine.

[2018-07-27 19:22] pmacko1 commented on #20454
users should be imo pointed to https://docs.docker.com/ for docker installation.
Also I had to follow steps inhttps://docs.docker.com/install/linux/linux-postinstall/#manage-docker-as-a-non-root-user to run oc cluster up on fedora 28

[2018-07-27 19:40] #11315 closed

[2018-07-27 19:40] #18725 closed

[2018-07-27 19:49] aveshagarwal commented on #19678
Yes if there is no namespace specific node selectors to override it.

[2018-07-27 22:19] dcbw commented on #13241
Update: things are fine in the container before pid1/systemd migrate from the initial cgroup to the "init.scope" cgroup.  Thats when the duplicate paths appear.

[2018-07-28 14:44] yuanlinios opened #20457 "Cannot get gluster-block storage class work"
I followed this guide https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/container-native_storage_for_openshift_container_platform/block_storage to configure gluster-block in  openshift origin 3.9, but could NEVER get it work.

I am using external glusterfs storage nodes, but containerized/native heketi hosted in openshift.

##### Version
oc v3.9.0+191fece
kubernetes v1

[2018-07-28 19:46] #18329 closed

[2018-07-28 19:46] #14261 closed

[2018-07-29 12:54] mvlach commented on #19930
solved.

docker registry was configured with the persistent volume (stored on NFS). But somebody replaced the volume claim with the EmptyDir, so all new images aren't stored on the permanent storage.

Thanks all for help.

[2018-07-29 12:54] #19930 closed

[2018-07-30 01:20] gbraad commented on #19387
still relevant, howevermight have changed due to the new 3.10
implementation.

[2018-07-30 01:50] bparees commented on #19436
/remove-lifecycle stale
/lifecycle frozen

i think we still need to fix the doc here

[2018-07-30 07:48] #16844 closed

[2018-07-30 07:48] mfojtik commented on #20445
@bparees what I saw was that the build is in Failed state (and it did not succeeded creating the pod ;-).

[2018-07-30 08:03] fabiomartinelli commented on #19633
same problem here

[2018-07-30 08:04] vfreex commented on #17464
Hi, what is the status of this?

[2018-07-30 08:50] mfojtik opened #20460 "Kubernetes TestRoundTrip test timed out after 2m0s"
Logs: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20404/pull-ci-origin-unit/2003/

/cc @sttts
/cc @deads2k

[2018-07-30 08:55] mfojtik commented on #20460
Flagging as P1 as this is a unit test failure which is always more concerning.

[2018-07-30 09:55] Gundersanne opened #20461 "Openshift doesn't recognize own CA with separate docker registry."
##### Version
oc v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce

1. The test suite configures/starts oc in the following way:
[code]

2. In cockpit's test suite we have a docker registry using openshifts' master crt/key. It's started in the following way:
[code]

(3.) When verifying it seems ok:
[code]

4. Import tags via openshift API:

##### Current Result

The followin

[2018-07-30 11:10] soltysh commented on #17610
Just checked this again, it appears that everything is working as expected.
/close

[2018-07-30 11:10] #17610 closed

[2018-07-30 11:25] mfojtik opened #20462 "oc cluster up fails to come up with existing base directory"
Reproduced on HEAD and images build from the HEAD.

After running:
[code]

The cluster will come up, healthy, without any problem. Then when you run `oc cluster down` and run the same command as above, it fails to back up with:

[code]

The only error I can see is:

`+ oc apply --namespace=openshift-core-operators --config=/kubeconfig.kubeconfig -f -
Error from server (UnsupportedMediaType): the b

[2018-07-30 11:53] soltysh commented on #19944
This was fixed in https://github.com/openshift/origin/pull/19275.

[2018-07-30 11:53] #19944 closed

[2018-07-30 12:22] mfojtik commented on #20462
This turned out to a possible bug in `oc apply` logic where we have cluster scoped CRD resource in template and `apply` is trying to enforce an empty namespace to it which will result in corrupted PATCH.

We should not try to patch namespace or name fields (?).

[2018-07-30 12:39] jmontleon commented on #20446
My team has noticed long delays switching projects with `oc project ...` when the file gets too big as well. Nothing like 40 seconds for me, but close to 7 and even that feels pretty painful.

[2018-07-30 13:23] jasjeetkaur2211 opened #20465 "Openshift oauth, combining two different level scopes"
I have developed an angular application that is deployed over openshift. For authentication, I am using oauth api from openshift and users that have access to openshift will get access here too.

oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.165:8443
openshift v3.9.0+d0f9aed-12
kubernetes v1.9.1+a0ce1bc657

Currently, I am by

[2018-07-30 14:37] adambkaplan commented on #20461
@openshift/sig-developer-experience fyi

[2018-07-30 14:54] jwforres commented on #20449
@openshift/sig-security

[2018-07-30 14:57] jwforres commented on #20442
we intentionally set this in core console server code, its to help avoid clickjacking attacks against web console users. If you insist on changing this you would need to front the console with something that can change response headers and strip the header off yourself.

@openshift/sig-user-interface

[2018-07-30 14:58] #20442 closed

[2018-07-30 15:10] bparees commented on #20461
@openshift/sig-master @openshift/sig-security the CA in question should be accessible to the api server (that's where the imageimport is happening, so that's where it needs to be).  I would expect that's already the case, so it's not obvious to me what has gone wrong here, but if it's not the case, it does seem like it should be so that the api server(+ controllers) can trust services using servic

[2018-07-30 15:53] bparees commented on #20445
@mfojtik you sure?  here's what i see:

$ oc get builds -w
NAME                  TYPE      FROM      STATUS                       STARTED   DURATION
ruby-sample-build-1   Source    Git       New (CannotCreateBuildPod)

and after i deleted the quota, the build eventually transitioned into a running state (presumably creating a default limit would have also worked).

[2018-07-30 16:13] dakshaypatel commented on #16097
Check DNS in Network Manager CLI using this command - nmcli con show eth0

If the DNS is wrong then use this command to change - nmcli con modify  eth0 ipv4.dns "DNS IP"
& restart Network Manager & dnsmasq service

[2018-07-30 18:31] pheitman opened #20470 "enabling unsafe sysctls in OSO 3.9"
I need to set some sysctls in a couple of my DeploymentConfigs for their pods. I have followed https://docs.openshift.com/container-platform/3.9/admin_guide/sysctls.html but when I deploy the pods they are not created. My dc template file contains:

    template:
      metadata:
        labels:
          app: cl
        annotations:
          openshift.io/scc: "${PROJECT}"
          **security.alp

[2018-07-30 19:13] marouim opened #20474 "Openshift Route - missing path rewrite feature"
Here is my use case:
Front-end application running in a POD.
Back-end running in a différent POD.

Route are:
myapp.example.com/ --> Front-end
myapp.example.com/api --> Back-end

I would like to be able to rewrite the path and remove the "/api" portion, so the Backend would not see this path. Otherwise, I have to tell evey backend developer to add a "/api" or something else prefix to their applica

[2018-07-30 19:48] #18644 closed

[2018-07-30 20:01] gnufied commented on #20234
Looking at the mailing list thread, it could have happened because of change in SCC being applied to the pod. It appears that earlier applied SCC was "anyuser" and the new SCC is restricted which is auto allocating user/groups for your pod.

I am not sure - what caused this, but https://docs.openshift.com/container-platform/3.9/install_config/persistent_storage/pod_security_context.html should cla

[2018-07-30 20:10] enj commented on #20470
@openshift/sig-security @stlaz

[2018-07-30 20:11] enj commented on #20474
@openshift/sig-networking

[2018-07-30 20:47] jwforres commented on #20465
@openshift/sig-security

[2018-07-30 20:48] jwforres commented on #20457
@openshift/sig-storage

[2018-07-30 20:49] jwforres commented on #20454
@openshift/sig-master

[2018-07-30 20:52] jwforres commented on #20446
@openshift/sig-master

[2018-07-30 21:04] jwforres commented on #20444
@openshift/sig-logging @openshift/sig-containers

[2018-07-30 21:15] richm commented on #20444
Is this docker with --log-driver=json-file or --log-driver=journald?   If you aren't sure, do you have `/var/log/containers/*.log` on your nodes?
Is there a particular process that has high resource utilisation on nodes?  e.g. does `top` show that docker has very high cpu/ram/io usage?

[2018-07-30 21:46] calston commented on #20444
Docker doesn't have usage noticeably higher than normal. Fluentd is pretty much at 100% on the other hand, but at least within its container resource constraints. Of course there's no cgroup for IO (yet).

This is using journald log driver as per the default openshift ansible configuration with elastic logging.

It could of course be possible to turn off the tee from journald to syslog which might

[2018-07-30 22:07] richm commented on #20444
fluentd cpu won't get past 100% - single threaded, especially reading from the journal because only 1 fluentd thread/process can read from the journal at a time, regardless

that default has changed over time - you did not specify which version of openshift origin you are using - at some point it was changed to json-file, which may work better for your particular situation - when using docker with

[2018-07-30 22:54] enj commented on #20465
I am not fully clear on what kind of app you are building.  I think you have an angular front end to allow users who already have access to a namespace to manipulate things in that namespace.  And I believe you are using the scopes to limit the amount of actions the angular app can do on behalf of the user.  This feels similar to the standard web console that comes with OpenShift.

To answer your

[2018-07-31 07:49] TomasTomecek opened #20479 "`oc cluster up` should not prune images"
When running `oc cluster up` locally on my laptop, it often prunes all of the images in my local dockerd. This is pretty annoying because I have to rebuild all of them afterwards.

##### Version
[code]

##### Expected Result
There is an option in `oc cluster up` which can configure pruning.

[2018-07-31 08:17] tnozicka commented on #20446
the issue for the underlaying cause of how the config grows is here https://github.com/openshift/origin/issues/18645
/cc @soltysh @juanvallejo

[2018-07-31 08:38] sttts opened #20480 "oc apply without apiVersion gives confusing error"
Create a configmap in the cluster. Try to `oc apply -f` a configmap without the set `apiVersion`. `oc` gives:
[code]

Kubectl in contrast will catch the error with openapi validation client-side.

`oc` of <3.11 just swallowed the `apiVersion`-less configmap.

[2018-07-31 09:29] jasjeetkaur2211 commented on #20465
@enj thanks for your response. I will try this out.

[2018-07-31 09:40] rhuss commented on #20446
@tnozicka that's one reason, the other is that it seems that `oc login` reparses the whole configuration file for every single entry (leading to ~ 3000 times parsing the same configuration file). That should be a quick win imo.

[2018-07-31 09:47] imranrazakhan commented on #17740
I am using Vagrant
oc1_config.vm.box = "bento/centos-7.5"

But @auyer provided solution doesn't work for me

[code]

[2018-07-31 15:56] sjenning commented on #20425
since the OpenShift router only handles HTTP(S) traffic, UDP routing needs to be don with kubernetes Services.  If you want to connect to an on-cluster UDP service from inside the cluster, you should use a Service with type `NodePort` (or `LoadBalancer`) if you are on GCP/AWS.

[2018-07-31 16:05] sjenning commented on #20398
What OS name, OS version, and kernel version are you running?

[2018-07-31 16:18] sjenning commented on #18932
This is a known issue:
https://bugzilla.redhat.com/show_bug.cgi?id=1561989

We've made a few attempts to fix it but have always introduced regressions elsewhere.

tl;dr the cause is an interaction between the dockershim in the kubelet stripping out the docker.io domain from the image path before making the call to docker and our docker (projectatomic/docker) supporting registry search lists.

[2018-07-31 17:03] zdzichu opened #20487 "--short=True swallows exit code"
(creating new issue here, as downstream one seem to be ignored - https://bugzilla.redhat.com/show_bug.cgi?id=1605141)

when using "`oc --short=True project`", the exit code is mangled to always report success.
Observe:

[code]

##### Version
origin-clients-3.9.0-2.fc28.x86_64
oc v3.9.0
kubernetes v1.9.1+cbc5b49
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. See above
2.
3

[2018-07-31 18:46] Bubblemelon commented on #20398
[code]
[code]
[code]
Please see referenced issue above, if you haven't already :smile:

There's a [workaround for this problem](https://github.com/kubernetes/kubernetes/issues/32728#issuecomment-252469277) but we might as well resolve this error.

[code]

[2018-07-31 19:54] juanvallejo commented on #20446
/assign enj

[2018-07-31 23:04] jkroepke commented on #17619
/lifecycle frozen

[2018-08-01 03:40] masayoshi-louis opened #20493 "Can not get real client ip when using external ip (ingress ip)"
When exposing service using external ip (172.29.0.0/16), the pod can not obtain real client ip. It seems that the openshift routing infrastructure performs source NAT.

I have the external ip and routing setup properly (follow [the reference](https://docs.openshift.com/container-platform/3.3/admin_guide/tcp_ingress_external_ports.html#unique-external-ips-ingress-traffic-configure-service)), and ex

[2018-08-01 04:01] wenma opened #20494 "why Openshift 3.6 put the skydns binded 127.0.0.1 on each node? what's benefit for ?"
Why Openshift 3.6 put the skydns binded 127.0.0.1 on each node?  what's benefit for ?
Prior to 3.6,  skydns just put on master node,  what is the reason for this change?

[2018-08-01 04:45] #19809 closed

[2018-08-01 07:11] miminar commented on #10585
The doc work I started needs a rewrite. But the registry operator will change things in a way that all guidance will become obsolete. This could be resolved with a documentation for the operator.

[2018-08-01 08:31] tnozicka commented on #19851
for the record; deprecated in 3.7 already (https://github.com/openshift/origin/commit/1585f1fa2c53adcf5419159206928b6a62f2e531)

[2018-08-01 10:57] mfojtik commented on #20479
I would suggest to run cluster up in VM. The cluster up will run kubelet that will connect directly to the local machine VM and will try to garbage collect images in order to free space.

[2018-08-01 10:58] mfojtik commented on #20479
Also I think this behavior can be configured in kubelet (or node config)

/cc @sjenning

[2018-08-01 11:15] mfojtik commented on #20487
/sig cli

[2018-08-01 12:14] praveenkumar opened #20496 "[oc cluster up behind proxy] Failed to install "openshift-web-console-operator": timed out waiting for the condition."
##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result

[code]

##### Expected Result
Should be passed behind the proxy.

##### Additional Information
[code]

[2018-08-01 12:28] anjannath opened #20497 "[oc cluster up] Unable to connect to a clusterIP service from the pod backing the service"
Not able to reach a service from the pod running the service.

##### Version
$ ./oc version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. oc cluster up
2. deploy an application from the catalog (cakephp-app in my case)
[code]
##### Curren

[2018-08-01 12:49] jcajka commented on #20496
I have observed similar issue in fedora https://bugzilla.redhat.com/show_bug.cgi?id=1608505

[2018-08-01 12:58] michalrabinowitch commented on #18932
I could not pull from private docker hub repo too:
docker version: Version 17.09.1-ce-mac42 (21090)
OpenShift version: v3.9.33

I tried setting off 'Securely store docker logins in macOS keychain' in docker preferences for mac,
then run
`oc create secret generic secjson --from-file=.dockerconfigjson=/Users/myuser/.docker/config.json --type=kubernetes.io/dockerconfigjson`
`oc secrets link default s

[2018-08-01 13:00] #19851 closed

[2018-08-01 13:25] suomiy commented on #19488
/lifecycle frozen

[2018-08-01 13:31] adambkaplan commented on #20425
There is an existing issue/debate upstream for this use case - kubernetes/kubernetes#23864

[2018-08-01 13:31] seal-ss commented on #18932
@michalrabinowitch
I'm using `oc secrets link default secjson --for=pull`, or is this option the default?

[2018-08-01 13:37] michalrabinowitch commented on #18932
@seal-ss sorry I've used it too but didn't copy it, still does not work :/

[2018-08-01 13:48] seal-ss commented on #18932
@michalrabinowitch ok, my only idea is that you can check the `~/.config/docker.json` again if it looks like

[code]

Maybe you have to run `docker login` again to create the JSON file with the new settings.
Or just create the JSON file manually and create the `auth` value with `base64` then enter user:pass and RETURN then press CTRL+D.

[2018-08-01 13:55] michalrabinowitch commented on #18932
@seal-ss I've decoded 'auth' from my $HOME/.docker/config.json
it returns username:password% with correct values and also the auths entry you've listed:
`"auths" : {
    "https://index.docker.io/v1/" : {`

[2018-08-01 13:58] StefanScherer commented on #18932
@michalrabinowitch So everything looks good. Now I run out of ideas ¯\_(ツ)_/¯  :-)

[2018-08-01 14:07] #19174 closed

[2018-08-01 14:09] sdodson commented on #19218
/remove-lifecycle stale

[2018-08-01 14:09] sdodson commented on #19218
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/9382/pull-ci-openshift-openshift-ansible-e2e-gcp-crio/9/

[2018-08-01 14:11] sjenning commented on #20479
There are ways to tune the image GC in the kubelet but, in the end, the kubelet assumes sovereignty over the runtime and is at liberty to do image GC whenever it determines it is needed.  I agree with @mfojtik that you might want to run `oc cluster up` in a VM if you care about keeping images locally.

[2018-08-01 15:33] testuser-2018 commented on #20425
Hello community.
Not exactly, the similar debate was the following https://github.com/openshift/origin/issues/7609 but it ended without any solution. I don't need to open certain ports even though there are a lot of them but I need to open all UDP ports as it's said in official Kubernetes documentation. So as I understand the only way is to define each port of 65536 udp ports using NodePort servic

[2018-08-01 15:53] TomasTomecek commented on #20479
Is there an easy one liner to edit the kubelet configuration? I tried `oc edit node localhost` but no such config was displayed.

[2018-08-01 16:06] adambkaplan opened #20501 "hack/env hack/build-rpms.sh fails"
When running `hack/build-rpms.sh` inside of `hack/env` (ex: `hack/env make build-images`), it fails with the following:

[code]

@sosiouxme it appears your recent change to `origin.spec` is where this is being called from.

[2018-08-01 16:47] #10357 closed

[2018-08-01 16:50] sjenning commented on #20479
There once was `--write-config` flag that would write the config files to the host, you could change them, then use `--host-config-dir` and `--use-existing-config=true` to use those configs.  Not sure if that path still works.

[2018-08-01 16:53] sjenning commented on #20425
Yes, but that is a weird use case and not the intended use for NodePort (i.e. to forward all ports on all nodes to the same ports on a single service in the cluster)

https://docs.openshift.com/container-platform/3.10/dev_guide/expose_service/expose_internal_ip_nodeport.html

Note that, by default, the NodePort range is only 30000-32767

[2018-08-01 17:28] testuser-2018 commented on #20425
I've got it, @sjenning.
And what about any udp port availability inside a cluster. Can I use this behaviour and redirect ingress traffic using OS ip route from node server interface inside the cluster?
Thank you in advance.

[2018-08-01 20:20] sistemat opened #20506 "The origin-metrics with tag 3.9.0 do not exists in dockerhub"
all images related to metrics do not exist in version 3.9.0 in the docker hub, as in YAML we have __openshift_metrics_image_version: "{{openshift_image_tag}}"
if it is not informed a standard version that is 3.9.0 will be passed, resulting in an error when the container was created

[2018-08-02 02:16] patrickeasters commented on #19118
Did you ever figure this out? I'm hitting this on one of my clusters.

[2018-08-02 07:53] gsaslis opened #20510 "Openshift CLI client adds extra space after directory name, in `-f` tab completion"
`oc apply -f <dirname>` adds extra space after `/` when using tab completion in zsh

##### Version
[code]

##### Steps To Reproduce
1. Switch to zsh shell, using the openshift cli client's `oc completion zsh` (or the `oh-my-zsh` `oc plugin)
1. `oc apply -f <incomplete directory name>` - e.g. `oc apply -f mani`, where `manifests` is the directory name
1. press tab for tab completion of directory na

[2018-08-02 07:54] gsaslis commented on #20510
/sig cli

[2018-08-02 08:16] stlaz commented on #20470
I was able to reproduce your issue on the `release-3.9` branch. It seems that the node somehow ignores the settings from `kubeletArguments`. It might be a bug, I'll need to investigate some more.
Please note that the `allowedUnsafeSysctls` and `forbiddenSysctls` fields were just added to SCCs in 3.11 and thus should have no effect in 3.9.

[2018-08-02 09:18] siamaksade opened #20512 "Jenkins image bootsrap takes very long"
The Jenkins image takes a very long time to bootstrap since it now upgrades itself and all its plugins to newer versions. With the default resource settings, it takes up to 5 min to start.

Adjusting cpu limit to 4 core and mem limit to 4 Gi helped to reduce the bootstrap time to 1.5 min.

Are there any recommendations on how to reduce it for especially demos and workshops?

[2018-08-02 09:18] uocxp commented on #17936
my gitlab is deployed in a subdirectory _tld/gitlab_ and the registry as subdomain _registry.tld:5000_. I can do `docker login registry.tld:5000` without any problem but it fails when `docker login tld/gitlab` i don't know if it lays on the subdirectory.
However i can do `docker pull registry.tld:5000/image` without any problem but i  not able to pull the image using `oc import-image registry.tld:

[2018-08-02 09:40] mfojtik commented on #20510
/sig cli

[2018-08-02 09:43] mfojtik commented on #20479
`--write-config` is still supported

[2018-08-02 09:43] mfojtik commented on #20510
/shrug

[2018-08-02 10:37] simo5 commented on #20470
/assign stlaz

[2018-08-02 10:46] simo5 commented on #20461
/assign @mrogers950

[2018-08-02 10:51] simo5 commented on #20449
What is a lifetime for a rolebinding ?
Wouldn't this be easier to do by adding and removing users from groups as needed and keeping a fixed rolebinding ?

[2018-08-02 12:02] debianmaster opened #20513 "when is 3.10 release?"
Any ETA on 3.10 release dates?

[2018-08-02 13:59] #18702 closed

[2018-08-02 13:59] #17571 closed

[2018-08-02 15:16] gabemontero opened #20519 "cmd test flake: new-app: expecting success and not text '"ruby:latest" already exists"
[code]
@openshift/sig-developer-experience fyi

@coreydaley - am I remembering correctly you recently merged some changes around IS reuse with new-app?

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20492/test_pull_request_origin_cmd/16415/

from

https://github.com/openshift/origin/pull/20492

[2018-08-02 15:27] coreydaley commented on #20519
@gabemontero @bparees Yes, I did.
The issue seems to be that using oc cluster up to bring up the cluster, and then running the newapp.sh tests fails because oc cluster up creates the ruby:latest, you have to delete all of the imagestreams and templates from the openshift namespace for it to run correctly :(

[2018-08-02 15:37] bparees commented on #20519
why?  new-app should never be creating anything in the openshift namespace, only in the current namespace (which is not `openshift` if you look at the newapp.sh flow).

[2018-08-02 15:39] bparees commented on #20519
@coreydaley the whole point of the test is to confirm that new-app does *not* try to create a "ruby:latest" imagestream (in the current project):

[code]

[2018-08-02 15:44] bparees commented on #20519
it's *possible* there is a race here in which the imagestreamtag that was created in the first command, is not seen by the second command (hence why it tries to create it and then fails).

That might be the case if the "ruby:latest" IST that was created hasn't yet imported by the time the second new-app runs.  So the first thing to do here might be to add this in between the two new-apps:

os::cmd

[2018-08-02 15:48] gabemontero opened #20522 "[Feature:DeploymentConfig] deploymentconfigs when changing image change trigger [Conformance] should successfully trigger from an updated image [Suite:openshift/conformance/parallel]"
See https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20492/pull-ci-origin-e2e-gcp/1940/

from PR https://github.com/openshift/origin/pull/20492

[2018-08-02 15:51] enj commented on #20449
Both role bindings and group are insufficient to truly have temporary access.  For example, during the time of access the user could save service account tokens to use after the access expires.  They could set up a service to proxy their requests.  In general it is possible to escalate or otherwise maintain access.  It is possible through some effort and OAuth to get a close approximation of the d

[2018-08-02 15:51] #20449 closed

[2018-08-02 15:57] enj commented on #19820
Fixed in #20281

[2018-08-02 15:57] #19820 closed

[2018-08-02 17:28] carljmosca commented on #20263
I am seeing the same issue with oc v3.10.27 (also on Win 10).

[2018-08-02 18:30] Joern30 commented on #20263
still the same problem on win 10:
oc v3.10.0-rc.0+c20e215
kubernetes v1.10.0+b81c8f8

[2018-08-02 19:51] gabemontero commented on #15059
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20492/test_pull_request_origin_extended_conformance_install/14140/

[2018-08-02 19:59] #12629 closed

[2018-08-02 21:09] adambkaplan commented on #20512
If you're using the Jenkins templates provided by origin, you can set the "Disable memory intensive administrative monitors" to `true` - however this may lead to security warnings being displayed in the Jenkins dashboard.

[2018-08-02 22:41] pmorie opened #20530 "Consider enabling admission webhooks by default with oc cluster up"
We should consider enabling admission webhooks by default with oc cluster up. This will significantly decrease friction when users evaluate extensions on oc cluster up.

[2018-08-02 22:42] pmorie commented on #20530
cc @deads2k @smarterclayton

[2018-08-03 02:43] #20519 closed

[2018-08-03 03:06] vladf3000 commented on #19535
I had the same issue, then used 'sudo oc cluster up' instead, as recommended [here](https://github.com/openshift/origin/issues/17730)
That showed an error about insecure regisry, so I had to update /etc/docker/daemon.json  as described [here](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md)

[2018-08-03 06:38] DanyC97 commented on #20513
just been released as you might have seen and we are working now on getting the rpms for CentOS. Once that is done we'll announce on dev mailer, hopefully people will be willing to help testing

[2018-08-03 07:04] DanyC97 commented on #20513
please close this issue as Origin v3.10 has been released now and let's track the rpm for centOS in https://github.com/openshift/openshift-ansible/issues/8550 or https://github.com/openshift/openshift-ansible/issues/8399 (hopefully one of the issues will be closed).

[2018-08-03 12:12] cucushift opened #20531 "Jenkins example template has empty image field"
https://github.com/openshift/origin/blob/7bd70b0b7e82a9c5cd70f23d76fb773906106f1b/examples/jenkins/jenkins-ephemeral-template.json#L101

why `image` field is empty?

[2018-08-03 12:32] cucushift commented on #20531
/assign @sig-master

[2018-08-03 14:11] TomasTomecek commented on #20479
Looks good, thank you, gentlemen!

[2018-08-03 14:11] #20479 closed

[2018-08-03 16:06] enj commented on #20531
@openshift/sig-developer-experience

[2018-08-03 17:00] bparees commented on #20531
This is a workaround to deal w/ the limitations of deploymentconfigs.  We do not actually want to deploy using a value in the image field because the image field will be replaced by something referenced in the deploymentconfig's image change trigger.

So we put an invalid image value in the DC, and just let it get replaced by the image change trigger:

https://github.com/openshift/origin/blob/7bd7

[2018-08-03 17:00] #20531 closed

[2018-08-03 18:23] benscottub opened #20534 "logging-fluentd pods failing to start after upgrading from 3.7 to 3.9"
logging-fluentd pods are failing to start after upgrading Origin from 3.7 to 3.9. The ansible script appeared to complete successfully without errors or warnings. This is the error that the fluentd pods are reporting (This is also the only line that shows up in the pod logs):
[code]

##### Version
[code]

##### Steps To Reproduce
1) run the config.yml playbook to upgrade logging to 3.9.
2) observe

[2018-08-03 19:06] DanyC97 commented on #20513
@debianmaster are you planning to close this issue or should we do it ? thank you

[2018-08-03 20:01] #18817 closed

[2018-08-03 20:01] #18855 closed

[2018-08-03 20:01] #18845 closed

[2018-08-03 23:27] ajalboush opened #20538 "master service failed to start with errors in the logs related to certificate expired."
[provide a description of the issue]

master service failed to start

i see errors in the logs related to certificate expired.

##### Version

[root@master byo]# oc version
oc v1.1.4
kubernetes v1.2.0-origin-41-g91d3e75

##### Steps To Reproduce
 systemctl start origin-master

##### Current Result
oc v1.1.4
kubernetes v1.2.0-origin-41-g91d3e75
[root@master byo]# systemctl status origin-master
● or

[2018-08-04 01:06] #20513 closed

[2018-08-04 01:42] debianmaster commented on #20513
thanks!

[2018-08-04 02:02] #17883 closed

[2018-08-04 06:44] #20487 closed

[2018-08-04 08:17] ajalboush commented on #20538
also i issued below command and found most of certificate are expired:

[root@master openshift-cluster]# for i in /etc/origin/master/*.crt; do echo $i; openssl x509 -in $i -noout -enddate; done
/etc/origin/master/admin.crt
notAfter=Mar 29 16:18:19 2018 GMT
/etc/origin/master/ca-bundle.crt
notAfter=Mar 28 16:18:17 2021 GMT
/etc/origin/master/ca.crt
notAfter=Mar 28 16:18:17 2021 GMT
/etc/origin/mast

[2018-08-04 14:03] #18701 closed

[2018-08-04 14:03] #18804 closed

[2018-08-05 01:12] mlbiam opened #20543 "Add ability to run Mutating Webhook BEFORE OpenShift updates pod defenition"
When I configure a mutating webhook the pod definition that comes into the webhook has already had its security information added.  It makes transforming the pod to change the service account, sec, etc difficult and is leading to odd results.  For instance once the `runAsUser` and `serviceAccountName` and `openshift.io/scc` I can't rsh into the container anymore.

##### Version
[code]

##### Steps

[2018-08-05 20:03] #17804 closed

[2018-08-05 20:03] #18859 closed

[2018-08-05 20:03] #7666 closed

[2018-08-05 21:10] sjug commented on #18870
/reopen

[2018-08-05 21:10] sjug commented on #18870
/remove-lifecycle rotten

[2018-08-06 07:13] zhangtbj commented on #20339
Yes, it works on my Mac. Thanks a lot!

[2018-08-06 07:13] #20339 closed

[2018-08-06 07:59] chmouel opened #20544 "Failing to deploy with oc cluster up and --public-hostname flag from 3.10"
##### Version
oc v3.10.0+dd10d17

##### Steps To Reproduce
$ oc cluster up --public-hostname remote_hostname

##### Current Result

[code]

##### Expected Result

[code]

##### Additional Information

Trying to deploy with `oc cluster up` to a remote hostname keeps failing for me, looking over the origin docker container i see those errors :

[code]

It was working on openshift 3.9 and when I remo

[2018-08-06 08:55] mfojtik commented on #20544
you can try --write-config and then change the hostname inside master config directly. I believe this was fixed in 3.11 but not backported to 3.10

[2018-08-06 08:56] mfojtik commented on #20543
@deads2k @sttts sounds related to our past discussion of mutating hook chains :)

[2018-08-06 08:57] mfojtik commented on #20538
@soltysh what is 'oc v1.1.4' ?

[2018-08-06 08:58] mfojtik commented on #20530
I don't see the reason for don't doing it.

[2018-08-06 09:10] mfojtik commented on #20522
Seems like Docker is slow to run the deployer pod:

[code]

Tagging as P3, will escalate if this occur more.

[2018-08-06 09:31] tdudgeon commented on #20234
@gnufied That sounds plausible, but I'm not sure how it would have happened. The 2 examples I mention on the mailing list relate to the openshift registry and the hawkular metrics which are both entirely set up by the ansilbe installer and we never mess with the SCC for those projects. So not sure how the SCC could have changed.

[2018-08-06 09:34] mfojtik commented on #20522
Turns out this was a bad test, fixed.

[2018-08-06 09:37] sttts commented on #20543
This works as intended: webhooks come last in the chain (with very few exceptions, compare https://github.com/kubernetes/kubernetes/blob/f1c202d392332af53541f59651702ad717f3cbf0/pkg/kubeapiserver/options/plugins.go#L65). We don't have the concept of desired order for webhooks today.

[2018-08-06 09:49] cucushift commented on #20531
@enj @bparees thanks.

[2018-08-06 09:51] dusansusic commented on #19678
Thanks @dharmit! This solves an issue.

[2018-08-06 09:51] #19678 closed

[2018-08-06 11:12] #18289 closed

[2018-08-06 11:24] mlbiam commented on #20543
I haven't tried this on my upstream k8s clusters to see the difference, i can do that.  I would think that if openshift is going to drive additional security contexts based on the pod submission wouldn't you want that step to be last?

[2018-08-06 11:29] sttts commented on #20543
In upstream it will be the same. Basically only quota and initializers are done after the webhook.

[2018-08-06 12:15] jboyd01 commented on #19931
Thanks a lot for the follow up @jocelynthode!  Good detective work, great to get to the bottom of it.

[2018-08-06 12:29] pheitman commented on #20470
Thank you for looking in to this - the deployment of our application on OpenShift requires that we find a way to achieve this. As for the allowedUnsafeSysctls and forbiddenSysctls I only did this after trying everything else I could think of. I was just reaching :)

[2018-08-06 12:43] deads2k commented on #20543
Webhooks come last in the chain because a webhook could know about the compiled chain, but the compiled chain cannot know about the webhooks.

SCC and PSP (the upstream equivalent) have two stages: mutation and validation.  The mutation step is done early, but the validation step is done after all mutators. This ensures that webhooks cannot violate the security constraints imposed.

[2018-08-06 12:43] #20543 closed

[2018-08-06 13:01] #20522 closed

[2018-08-06 14:03] #18880 closed

[2018-08-06 14:07] mshutt commented on #19931
Yes and unfortunately, I've had a really hard time replicating the issue in
our environment despite the issues were completely and totally
unrelated....  Mark it up for entropy I guess :)

On Mon, Aug 6, 2018 at 8:15 AM, Jay Boyd <notifications@github.com> wrote:

[2018-08-06 15:29] tnozicka commented on #20531
@bparees DC's actually handle even empty image because we control the validation there, not just the space workaround. For upstream workload resources image can't be empty and you need to use the space.

On the general question - You can either specify image directly, or from the trigger/image stream; specifying both at the same time is undefined behaviour.

[2018-08-06 16:12] bparees commented on #20531
ok. once upon a time it was not valid to define a DC w/ no "image" field.  Sounds like that has changed.

[2018-08-06 16:18] gnufied commented on #14490
For better or worse - on mutable hosts the ship has already sailed on flexvolume plugin path for Openshift. Users can still change it via controller-manager/kubelet parameter if they must. Changing the path now on mutable hosts will require creating a migration path for users and since flexvolume is mostly in maintenance mode, we are hesitant to do that.

however on Atomic an RHCOS - going forward

[2018-08-06 16:18] #14490 closed

[2018-08-06 16:20] ChandTurakhia opened #20549 "S2I AND OC BUILD ERROR"
An error occurred while starting the deployment.
Reason: cannot trigger a deployment for "dbtest-220" because it contains unresolved images

NO Images are getting deployed.

##### Version
[provide output of the `openshift version` or `oc version` command]

 oc v3.9.31
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.na39.openshift.opentlc.com:443
open

[2018-08-06 16:27] ChandTurakhia commented on #20549
2018-08-06T16:25:37.0415665Z ##[debug]Evaluating condition for step: 'Bash Script'
2018-08-06T16:25:37.0442396Z ##[debug]Evaluating: succeeded()
2018-08-06T16:25:37.0466948Z ##[debug]Evaluating succeeded:
2018-08-06T16:25:37.0497643Z ##[debug]=> True
2018-08-06T16:25:37.0522474Z ##[debug]Result: True
2018-08-06T16:25:37.0541733Z ##[section]Starting: Bash Script
2018-08-06T16:25:37.0893021Z =======

[2018-08-06 16:34] ChandTurakhia commented on #20549
2018-08-06T16:30:01.4033529Z ##[debug]Evaluating condition for step: 'Bash Script'
2018-08-06T16:30:01.4061644Z ##[debug]Evaluating: succeeded()
2018-08-06T16:30:01.4086298Z ##[debug]Evaluating succeeded:
2018-08-06T16:30:01.4117083Z ##[debug]=> True
2018-08-06T16:30:01.4142257Z ##[debug]Result: True
2018-08-06T16:30:01.4161274Z ##[section]Starting: Bash Script
2018-08-06T16:30:01.4468942Z =======

[2018-08-06 20:04] #16739 closed

[2018-08-06 20:15] cpitman commented on #9489
/remove-lifecycle stale

[2018-08-07 07:03] stlaz commented on #20470
So after I managed to reproduce this on pure Kubernetes master, I realized the problem might be somewhere else. If you try to do `docker run --rm -ti --sysctl net.core.rmem_default=4194304 alpine:latest sh `, you'll see the same failure again.

The reason to all of the above is because kernel does not namespace certain `net.*` sysctls as by setting them, they could apparently still negatively affe

[2018-08-07 08:58] kargakis opened #20560 "cannot read logs from cronjob"
[code]
Expected to see the logs from the last job

@openshift/sig-master

[2018-08-07 08:59] kargakis commented on #20560
[code]

[2018-08-07 09:17] mfojtik commented on #20560
if the cronjob has reference to last job, this should be trivial to implement in upstream

[2018-08-07 09:18] mfojtik commented on #20560
@kargakis can you open upstream issue?

[2018-08-07 09:43] kargakis commented on #20560
Closing in favor of https://github.com/kubernetes/kubernetes/issues/67070

[2018-08-07 09:43] #20560 closed

[2018-08-07 10:12] spicysomtam opened #20561 "Do templates support parameter arrays; if so how do you use them?"
Do templates support parameter arrays; if so how do you use them?

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://oshift-api.jfk3.qa.bamtech.co:8443
openshift v3.6.173.0.83
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
We want to populate multiple values to say supplementalGroups:
      securityContext:
        supp

[2018-08-07 11:17] tnozicka commented on #20531
@bparees once upon a time :) https://github.com/openshift/origin/pull/9167

[2018-08-07 12:04] ChandTurakhia commented on #20549
An error occurred while starting the deployment.
 Reason: cannot trigger a deployment for "dbtest-220" because it contains unresolved images

I am getting error always for all the images

[2018-08-07 12:06] ChandTurakhia commented on #20549
MY NEW SCRIPT

#!/bin/bash

# First Make this work and then use environment variables.
clear
echo "Starting Build Bash Script"

echo "Running on"  $HOSTNAME

# Use the environment variables input below to pass secret variables to this script

# Step 0 : Define variables and assign values. Later on we would make use of Environment variable.

myOpenShiftServer="https://master.na39.openshift.opentlc.

[2018-08-07 12:35] spicysomtam commented on #20561
We found a way round it:
[code]

[2018-08-07 12:35] #20561 closed

[2018-08-07 13:12] mouuff commented on #16246
I experienced this bug with runc 1.0.0-rc5

[code]

I m not sure if this error was supposed to be fixed

[2018-08-07 13:20] mouuff commented on #16246
I experienced this bug with runc 1.0.0-rc5

[code]

I m not sure if this error was supposed to be fixed

[2018-08-07 14:25] bparees commented on #20531
4 digit PR #s.  Stop making me feel old. :)

[2018-08-07 14:46] gabemontero commented on #20531
On Tue, Aug 7, 2018 at 10:25 AM, Ben Parees <notifications@github.com>
wrote:

+1 (as the author of said PR)

[2018-08-07 14:48] pheitman commented on #20470
Thank you for researching this. Since the documentation states that net.* was namespaced, I assumed that meant that all sysctls under net.* were supported, but obviously that isn't true - only a subset of the net.* sysctrls are currently namespaced.

Just to make sure, my understanding is that for non-namespaced sysctls the setting on the host applies to the pods. They are in effect even though I

[2018-08-07 15:03] stlaz commented on #20470
I had the same assumption about the net.* sysctls given all the docs. It would seem that their adoption in namespaces may differ.

I believe so. Since the whole host is affected in that case, it should also apply for docker/any other container runtime and thus for the pods as well.

[2018-08-07 20:28] #15828 closed

[2018-08-08 06:34] siamaksade commented on #20512
Thanks

[2018-08-08 06:34] #20512 closed

[2018-08-08 09:46] aaryabhatt opened #20568 "Max. CPU and RAM supported on a Single node server in Openshift 3.7"
Hi Everyone,

I have a question, what are the maximum CPU core and RAM supported on a node server on openshift 3.7 ? I have a client who have server with 224 CPU cores and 768 GB of RAM and openshift 3.7 installed on that server. It faced sometime node flapping issue due to Pleg timeout. Somebody say me openshift don't handle properly such a large server on node due to so many cpu core and memory

[2018-08-08 10:57] michalrabinowitch opened #20569 "Setting owner-ref for pvc in sts results in error"
[Setting owner-ref for pvc in sts results in error:
cannot set an ownerRef on a resource you can't delete: User "system:serviceaccount:kube-system:statefulset-controller" cannot delete persistentvolumeclaims in project "michal-test", <nil>]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. Create a custom resource
2. Add role and role b

[2018-08-08 11:10] yuanlinios opened #20570 "OKD 3.10 deployment fails at "TASK [Approve bootstrap nodes]""
okd 3.10 deployment fails at "TASK [Approve bootstrap nodes]"

##### Version
[code]

##### Steps To Reproduce
1. ansible-playbook -i <my_inventory> openshift-ansible/playbooks/deploy_cluster.yml

##### Current Result
the deployment fails at "TASK [Approve bootstrap nodes]"

##### Expected Result
the deployment should be successful

##### Additional Information
"TASK [Approve bootstrap nodes]" fail

[2018-08-08 11:56] praveenkumar commented on #20496
@mfojtik Any update on this?

[2018-08-08 12:01] praveenkumar opened #20571 "Change in the openshift server binary version output from 3.9.0 to 3.10.0"
Is following expected from Openshift side (no more k8s and etcd version details) ?

[code]

[2018-08-08 13:12] DennisD2 opened #20572 "Example on how to use a volume in a openshift container?"
I have not yet find out how to use a volume in OpenShift. After creating the volume with RWO
the volume is attached to the running container. It can be seen with 'df'.
Problem is that the permissions of the mount point are r-xr-xr-x and the mount point is owned by root:root.
My container is running as non-root, this looks to be the fixed default in OpenShift.

So I cannot put any data on that volu

[2018-08-08 17:32] maxemiliang opened #20576 "Registry connection refused"
I have just started trying out Openshift on my own dedicated machine and i have run into some problems with the registry when i was trying out the example apps. When the builds run i can't seem to connect to the built in registry

##### Version
[code]

##### Steps To Reproduce
1. `oc cluster up`
2. run an example app via the webconsole

##### Current Result
[code]

##### Expected Result
The App st

[2018-08-08 20:04] #17947 closed

[2018-08-09 04:32] dove-young commented on #17740
I saw the same error in 3.10.

[code]

[code]

[2018-08-09 07:08] dove-young opened #20581 "oc cluster up still does not recognize --insecure-registry argument in 3.10"
Although https://github.com/openshift/origin/issues/8997 is closed, but I had  `oc cluster up` failed at error msg `did not detect an --insecure-registry argument on the Docker daemon`, even though there is `--insecure-registry xxxxxxxx:5000` parameter on `dockerd` engine.

And the workaroud in 8997 does not work for me.

##### Version

[code]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

###

[2018-08-09 09:27] Reamer commented on #20311
Still present with 3.10
[code]

[2018-08-09 11:35] Reamer commented on #19605
I updated to okd 3.10 and it works with newest VM version 14. Thanks for your help.
[code]

[2018-08-09 11:35] #19605 closed

[2018-08-09 11:40] jeremyeder commented on #19575
We fixed some things in the 3.9 blog, and for the 3.10 version we stopped embedding the yaml files in the blog itself, and now store them in git (linked in the blog).

I'm going to close this now.  Please run through the 3.10 howto blog, and report any feedback.

https://blog.openshift.com/how-to-use-gpus-with-deviceplugin-in-openshift-3-10/

[2018-08-09 11:40] #19575 closed

[2018-08-09 11:45] Reamer commented on #20194
Still present in v3.10
[code]

[2018-08-09 11:49] Reamer commented on #20194
I'm using now [openshift/origin-control-plane:v3.10.0](https://hub.docker.com/r/openshift/origin-control-plane/tags/)

[2018-08-09 13:33] LalatenduMohanty commented on #20496
No it does not happen without proxy.

[2018-08-09 13:39] pheitman commented on #20470
Yes, after writing my previous reply I realized that the easiest way to
find what sysctls were namespaced would be to just exec into a container
and look. I had done that before but didn't realize at the time the
implications of what I was seeing.

On Thu, Aug 9, 2018, 9:36 AM Stanislav Láznička <notifications@github.com>
wrote:

[2018-08-09 13:40] LalatenduMohanty commented on #20496
@sferich888 Yes, Docker settings  mirror the cluster up settings for HTTP and HTTPS proxy.

This is the original issue https://issues.jboss.org/projects/CDK/issues/CDK-329

We came to know about while testing CDK with OCP 3.10. CDK has proxy support for sometime now and this is more of a regression.

[2018-08-09 13:56] pmacko1 commented on #20581
on fedora 28 only /etc/docker/daemon.json approach worked. i did not test the dockerd parameter approach

[2018-08-09 14:03] jarrpa opened #20585 "oc delete ds --cascade=false not honoring cascade"
When running `oc delete ds --cascade=false`, the `cascade` is not honored.

##### Version
[code]

##### Current Result

I see the following in the logs:

[code]

To me it looks like the delete options are malformed.  I have to do the following curl command to successfully delete the DS while orphaning its pods:

[code]

Don't know if this is an `oc` problem or a `kubectl` problem.

[2018-08-09 14:28] miminar opened #20586 "Router becomes unable to modify the routing table"
On `openshift v3.9.33` cluster, there was a router pod that spewed errors like this into its log:

    E0808 16:10:22.640804       1 limiter.go:137] failed to write route table: open /var/lib/haproxy/router/routes.json: permission denied
    E0808 16:10:27.641073       1 limiter.go:137] failed to write route table: open /var/lib/haproxy/router/routes.json: permission denied

With a high frequency.

[2018-08-09 14:32] stlaz commented on #20470
Closing since we figured out the root of the problem. Feel free to check the documentation PR mentioned above :slightly_smiling_face:

[2018-08-09 14:32] #20470 closed

[2018-08-09 14:33] enj commented on #20465
Feel free to reopen if you encounter further issues.

[2018-08-09 14:33] #20465 closed

[2018-08-09 14:45] enj commented on #20571
@openshift/sig-master @deads2k this was lost in https://github.com/openshift/origin/pull/19709/files#diff-91a463fb23f5a6119928eb1365ac4bf3

[2018-08-09 14:45] enj commented on #20581
@openshift/sig-master

[2018-08-09 14:46] enj commented on #20585
@openshift/sig-master

[2018-08-09 17:51] gnufied commented on #20572
Make sure that your pod is running with restricted SCC. If your pod is not running with restricted SCC then make sure that your pod specifies a fsGroup.

https://docs.openshift.com/container-platform/3.10/install_config/persistent_storage/pod_security_context.html for more information.

Support questions like these can be sent to openshift's user mailing list. Using github issues for help is kinda

[2018-08-09 17:51] #20572 closed

[2018-08-09 20:05] andersonlfeitosa commented on #20544
I have the same problem:

user@machine ~ $ oc cluster up
Getting a Docker client ...
Checking if image openshift/origin-control-plane:v3.10 is available ...
Creating shared mount directory on the remote host ...
Determining server IP ...
Checking if OpenShift is already running ...
Checking for supported Docker version (=>1.22) ...
Checking if insecured registry is configured properly in Docker ..

[2018-08-09 20:38] #18747 closed

[2018-08-09 20:38] #15751 closed

[2018-08-09 20:38] #11277 closed

[2018-08-10 03:04] dove-young opened #20597 "oc adm create-node-config always claim --certificate-authority not exist"
`oc adm create-node-config` always claim `error --certificate-authority must be a valid certificate file: open =/root/david/openshift.local.config/master/ca.crt: no such file or directory` . And actually the `ca.crt` is there.

##### Version
[code]
##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

According to document here https://docs.openshift.com/container-platform/3.10/i

[2018-08-10 06:24] amitkrout opened #20598 "[doc] Compatible version of docker is not updated for oc 3.10"
[provide a description of the issue]

##### Version
$ oc version
oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#prerequisites
2. [step 2]

##### Current Result
oc 3.10 compatible version of docker is not available in the list
##### Expected Result
A compatible docker version should added to the list

[2018-08-10 06:54] literalice commented on #20544
I have the same problem on master branch(v3.11.0).
I use macOS with Docker Machine.
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#mac-os-x-with-docker-machine

[code]

[2018-08-10 07:02] kingkeivn opened #20599 "Offline, Cannot request application deploy on openshift cluster"
OS:centos7.3
openshift cluster :v3.9.0
k8s:v1.9.1
docker version : 1.13.1
api version:       1.26

I have  run openshift cluster v3.9.0 offline.
And I deploy eclipse che on it,it looks fine.
But a trouble error occur "could not resolve host" When I try to open it on my browser.
I found the reason that the cluster was offline.

Is it have some method to resolve it when the cluster is offline?
Anyon

[2018-08-10 10:29] pmacko1 commented on #19477
/remove-lifecycle stale

[2018-08-10 10:30] pmacko1 commented on #19304
/remove-lifecycle rotten

[2018-08-10 10:35] pmacko1 commented on #20598
@mfojtik ping. Sorry to bother you. We use `oc cluster up` as part of our community project aerogear.org. Will you be able to find a time in your schedule to take a look at these issues? If you can't, could you please refer me/assign it to someone you believe could help with these? Thanks a lot.:)
https://github.com/openshift/origin/issues/20057
https://github.com/openshift/origin/issues/20018
htt

[2018-08-10 11:11] amitkrout opened #20600 ""oc delete all --all" does not clean all resources properly"
[provide a description of the issue]
I think the issue header is self explanatory

##### Version
$ oc version
oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. Run ```oc cluster up``` on macOS as per the [doc](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#macos-with-docker-for-mac)
[code]
2. apply eap71 image stream and template from https://githu

[2018-08-10 14:08] #17944 closed

[2018-08-10 14:56] dmage opened #20604 "certificate for the integrated registry is signed by unknown authority"
#### [Conformance][templates] templateinstance readiness test  [It] should report ready soon after all annotated objects are ready [Suite:openshift/conformance/parallel]
[code]

#### [Feature:Builds][Conformance] s2i build with a root user image  [It] should create a root build and pass with a privileged SCC [Suite:openshift/conformance/parallel]
[code]

/kind test-flake

https://openshift-gce-dev

[2018-08-10 15:15] bparees commented on #20604
@deads2k you recently changed how the internal registry hostname lookup is done... we're now seeing flakes in which certain operations are using the registry service ip instead of the registry hostname. Possible your change has introduced some inconsistency/failures in that lookup path?

[2018-08-10 15:16] bparees commented on #20604
(the imagestream api contains a decorator that updates the imagestream w/ the internal registry hostname,which i think is the value that's ultimately showing up here and causing problems)

[2018-08-10 15:26] pmacko1 opened #20606 "link in oc cluster up instance points to minishift documentation"
##### Current Result
![image](https://user-images.githubusercontent.com/25327687/43966525-6940e57c-9cc2-11e8-995f-aac61ad9d10e.png)

should it?

[2018-08-10 15:26] bparees commented on #20604
(referring to this PR: https://github.com/openshift/origin/pull/20546)

[2018-08-10 17:11] sdodson commented on #20604
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7581/pull-ci-openshift-openshift-ansible-e2e-gcp/1191/

[2018-08-10 17:31] bparees commented on #20604
@sdodson since ansible creates that certificate, i don't suppose you have any theories on why the service ip wouldn't be in the certificate?

(i looked at the registry role, it certainly seems like it attempts to include the service ip, so unless the service ip is changing after the fact for some reason, it should work)

[2018-08-10 17:31] bparees commented on #20604
@dmage is doing some debugging here: https://github.com/openshift/origin/pull/20607

[2018-08-10 17:32] collinjlesko commented on #20368
Would love an update on this, incredibly frustrating...

[2018-08-10 17:50] bparees commented on #20604
from his PR:
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20607/pull-ci-origin-e2e-gcp/2237/

so clearly the service IP is not getting set.

[2018-08-10 17:53] bparees commented on #20604
@sdodson @stevekuznetsov is there any output from the ansible install that would help us see why ansible might not have put the service ip into the secret it created?

[2018-08-10 18:11] bparees commented on #20604
it's worth noting that this behavior only seems to occur in the GCP job, so it seems like *something* is different in that environment.

[2018-08-10 18:19] bparees commented on #20604
(that cert is also missing all the other hostnames that ansible would have setup, which makes me think the registry certificate is not being created by ansible in these jobs)

[2018-08-10 19:42] mffiedler commented on #20604
https://bugzilla.redhat.com/show_bug.cgi?id=1614025 reports the same issue

/cc: @schituku @vikaslaad

[2018-08-10 19:48] sdodson commented on #20604
testing a revert of https://github.com/openshift/openshift-ansible/pull/9181 however commits from the suspect PR are NOT in 3.11.0-0.11.0, the first build they're in is 3.11.0-0.12.0

[2018-08-10 20:07] #17998 closed

[2018-08-10 21:02] bparees commented on #20604
it seems like https://github.com/openshift/openshift-ansible/pull/9533 should resolve this, however it would still be good to understand why the cert on GCP is missing the svc ip, hopefully now that we're going to have ansible logs for gcp we can look at that.

[2018-08-10 21:16] bparees commented on #20604
weird, the env var was definitely missing on the registry DC and adding it fixed things.  Of course again we're mixing envs here.. this issue is about the GCP env which has two problems:  missing registry env(probably) and missing ip in the cert.

mike's cluster also had two problems:  missing registry env(definitely), and missing CA.

[2018-08-11 20:11] #18884 closed

[2018-08-12 06:38] enj commented on #20597
There seems to be an erroneous `=` in front of the path?

[2018-08-12 08:13] #17280 closed

[2018-08-12 09:57] salikf commented on #18179
I have the same problem
FAILED! => {"changed": true, "cmd": ["oc", "logs", "deployment/webconsole", "--tail=50", "--config=/tmp/console-ansible-9UOsSo/admin.kubeconfig", "-n", "openshift-web-console"], "delta": "0:00:00.658143", "end": "2018-08-12 11:46:04.594568", "msg": "non-zero return code", "rc": 1, "start": "2018-08-12 11:46:03.936425", "stderr": "Error from server (BadRequest): container \"

[2018-08-12 12:30] spadgett commented on #18179
Hi @salikf, what you pasted shows that the web console container didn't start. The install should also have printed events from the openshift-web-console namespace on failure. The events will probably indicate why the container didn't start.

[2018-08-12 18:16] smarterclayton opened #20613 "Build default sort order seems incorrect"
`oc get build` in 3.11 against api.ci in a namespace is returning builds sorted by creationTimestamp.  It should be returning builds sorted by name (all resources should be returned by the server in name order).

@bparees @juanvallejo @liggitt server side sort should be in the natural sort order of the store in order to correctly support paging.  Builds are not behaving that way.

[2018-08-12 20:15] #17290 closed

[2018-08-12 20:55] liggitt commented on #20613
I don't see anything order specific in https://github.com/openshift/origin/tree/master/pkg/build/apiserver/registry/build

[2018-08-12 21:34] bparees commented on #20613
we definitely don't have special logic for them.  we've had lengthy discussions about the behavior:
https://github.com/openshift/origin/issues/8643#issuecomment-292741421

builds sorted by name (which it was doing last i saw) is actually bad imho for the reasons described in that issue.  Either sorting by timestamp, or explicitly sorting by build number (if we even have it in the build object, i d

[2018-08-13 02:15] #14179 closed

[2018-08-13 05:39] eivantsov commented on #19488
Is this fixed in 3.10?

[2018-08-13 08:44] #20424 closed

[2018-08-13 08:45] kingkeivn commented on #20599
nodeport resolve it.

[2018-08-13 08:45] #20599 closed

[2018-08-13 09:06] Gladskih commented on #20172
I have the same problem and just found this Issue with google.

[2018-08-13 11:33] LalatenduMohanty commented on #20600
cc @deads2k Is this a timing issue?

[2018-08-13 12:40] agajdosi opened #20617 "cluster up fails with "getsockopt: connection refused ()""
I am facing problem with `oc cluster up` when use it in nested virtualization environments, for example: RHEL7 VM in which I run CentOS VM on which I deploy the cluster. Deployment sometimes goes well, however 90% of cases it fails with `getsockopt: connection refused ()`. It is also reproducible with `v3.9.0`, however with that error looks a little bit different.

##### Version
v3.10.0
v3.9.0

##

[2018-08-13 12:59] simo5 commented on #20604
Is there a good reason why the CA cert is not deployed as before ?
Is it to allow for later rotation of the CA cert ? Or something else ?

Simo.

On Mon, 2018-08-13 at 12:23 +0000, Scott Dodson wrote:

[2018-08-13 13:24] danwinship opened #20618 "migrate-network-policy.sh needs better error handling"
1. If you have a stray `NetNamespace` object without a corresponding `Namespace`, the migration script will fail when trying to create a `NetworkPolicy` in that namespace:

        Error from server (NotFound): error when creating "STDIN":
        namespaces "gsnvc" not found

2. If you run the migration script, then run the unmigration script, then run the migration script again, it will fail:

[2018-08-13 14:09] soltysh commented on #20538
Version 1.1.4 is super old, if you can reproduce this with a newer version feel free to reopen this issue.

[2018-08-13 14:09] #20538 closed

[2018-08-13 16:09] bparees commented on #20604
I don't want to lose track of the service clusterip aspect of this...

@smarterclayton can you think of any reason why the registry service's spec.clusterip would be empty on GCP, at least for some period of time (when ansible is looking at it?)

@sdodson @stevekuznetsov do we have ansible install logs on GCP now?

[2018-08-13 17:50] sdodson commented on #20604
No, I'm still not sure where to find those.

[2018-08-13 18:30] smarterclayton commented on #20604
Docker is dynamic, cri-o should be if it wants to be compatible.

I don't know of anything that should be depending on the CA on the host.

On Mon, Aug 13, 2018 at 1:50 PM Scott Dodson <notifications@github.com>
wrote:

[2018-08-13 20:15] #18963 closed

[2018-08-13 21:42] mrunalp commented on #20604
A quick look at the code in containers/image makes me think that cri-o should be fine but will let @mtrmac confirm it.

[2018-08-13 21:55] mtrmac commented on #20604
From a quick look (*not testing*), it seems that _both_ Docker and CRI-O:

1. Read the files in `/etc/{docker,container}/certs.d/`_$hostname_ again on every pull.
2. Read the system CAs (`/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem` and the like) again on every pull _if at least one `/etc/{docker,container}/certs.d/$host/*.crt` (trusted root CA) exists_
3. Read the system CAs only once per p

[2018-08-13 22:10] mtrmac commented on #20604
https://github.com/containers/image/pull/489 FWIW.

[2018-08-13 22:38] esquare666 opened #20631 "auditing for cluster roles"
[provide a description of the issue]

##### Version
oc v3.9.30
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://m-int.sb.ocp.internal.com:443
openshift v3.9.30
kubernetes v1.9.1+a0ce1bc657

What is the best way to look @ the user / groups who has access to cluster roles.

Ex: I have given permission as below
oc adm policy add-cluster-role-to-user cluster-rea

[2018-08-14 06:59] ramato-procon opened #20632 "Endpoint hostname missing"
I would like to create a RabbitMQ cluster using the Kubernetes Autodiscovery plugin.
It uses the EndpointSubset --> Hostname to discover the other RabbitMQ nodes.

According to the Kubernetes documentation for each pod a hostname is assigned with the Pod's name:
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods

When creating a headless service a DNS record for the pod

[2018-08-14 07:06] michalrabinowitch commented on #20569
@enj Oh but my GKE version is: 1.9.7-gke.5. could it be GKE does not use the admission plugin/ configures it different ?
 I didn't know of OwnerReferencesPermissionEnforcement so already learned something new.
thanks

[2018-08-14 07:09] gbraad commented on #20496
Reported as https://github.com/minishift/minishift/issues/2612. Only occurs with v3.10 and as mentioned, feels like a regression ... all my proxy tests for v3.9 work as expected, but fail for v3.10.

[2018-08-14 10:26] zvonkok opened #20633 "DevicePlugin not able to contact kubelet, missing volume mount in containerized openshift (oc cluster up)"
DevicePlugin not able to contact kubelet because of the missing volume in containerized install
of openshift (oc cluster up).

The missing volume is `/var/lib/kubelet/device-plugins`.

##### Version
[code]
##### Steps To Reproduce
oc cluster up

https://blog.openshift.com/how-to-use-gpus-with-deviceplugin-in-openshift-3-10/

##### Current Result
[code]
##### Expected Result

The following result i

[2018-08-14 11:25] employe1 opened #20634 "Hide credentials"
Hello, I have been using openshift shortly and written some yaml files. In the yaml files I have passed parameters of git username and password. Is there any way I could hide the password or token credentials there on the Ui. example the password is replaced by asterisk "*".

[2018-08-14 12:48] JarleB commented on #19440
Any news. Should trivial to add that tag for consistency?

Attempting to work around by

`set openshift_image_tag=v3.9`

in inventory fails with

[2018-08-14 14:18] #7878 closed

[2018-08-14 15:14] Reamer commented on #20570
I added a simple pause before ansible task "Approve bootstrap nodes"

simple git diff
[code]

[2018-08-14 16:54] mtrmac commented on #20604
(It’s not really clear to me what is the state of this issue, what is known/unknown about the problem, and the like. E.g. the very start of this issue somehow makes a jump from `certificate signed by unknown authority` to “service ip wouldn't be in the certificate”.

I’m happy enough to just answer specific questions if y’all know what is going on; if you want me to take a more active role than th

[2018-08-14 16:55] stephenpgiffgaff commented on #17524
/reopen

[2018-08-14 18:12] tnozicka opened #20640 "[3.9] test_pull_request_origin_extended_conformance_gce: FAILURE: PROVISION TEST CLUSTER"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19957/test_pull_request_origin_extended_conformance_gce_39/303/

[code]

@openshift/sig-continuous-delivery

[2018-08-14 19:50] sdodson commented on #20604
@mtrmac due to a regression in openshift-ansible /etc/docker/certs.d/docker-registry.default.svc:5000/ did not have a link to the cluster CA which is the root cause there and that's been resolved. Given how we're building that link I think we're fine with or without your fix to CRI-O.

Consensus seems to be that we should not be adding the cluster CA to the host's trust stores because that just ma

[2018-08-14 20:05] tnozicka commented on #20640
looks borked; 2nd failure in a row https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19957/test_pull_request_origin_extended_conformance_gce_39/304/

[2018-08-14 21:39] ramato-procon commented on #20634
You should store credentials in a secret. Here you will find an example: https://github.com/openshift/origin/blob/master/examples/db-templates/postgresql-persistent-template.json

[2018-08-14 22:02] bparees opened #20644 "registry-console DC is invalid"
the registry-console appears to be getting installed w/ an invalid image reference:

[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_image_registry/917/consoleText

this is causing failures in our image-registry tests and blocking merges.

last successful run was this morning:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_image_

[2018-08-14 22:03] bparees commented on #20644
@legionus @dmage fyi

[2018-08-15 02:31] enj commented on #20569
@michalrabinowitch ah yes, I believe GKE has `OwnerReferencesPermissionEnforcement` disabled by default, whereas OpenShift has it enabled by default.

[2018-08-15 03:47] nak3 commented on #17777
I am wondering that this issue happened when Rolling strategy instead of Recreate was used. (Though it is different from [Steps To Reproduce](https://github.com/openshift/origin/issues/17777#issue-282041066))

[2018-08-15 05:44] #20631 closed

[2018-08-15 05:44] esquare666 commented on #20631
I think I can get it from clusterrolebinding and I can see that.

[2018-08-15 06:19] fisache opened #20648 "Identity provider supports UMA protocol?"
When uses identity provider for authentication in multi openshifts sharing a Idp,
I wanna control to access a cluster each user, role in Idp even group in Idp.
For this, needs [UMA](https://en.wikipedia.org/wiki/User-Managed_Access) protocol.

if think needing and have no plan, I wanna make that using [keycloak UMA](https://www.keycloak.org/docs/latest/authorization_services/index.html#_overview)

[2018-08-15 08:51] nickle-ye commented on #2162
hi .. is there any process on this?

[2018-08-15 10:27] pyguy opened #20650 "freeipa support"
Is it possible to have OKD integrated with freeipa?

[2018-08-15 10:36] tnozicka commented on #20368
Have you checked the prerequisities? https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#prerequisites

Have you tried the `docker` package, I don't think the 18.06.0-ce is supported, not sure if it's causing this issue though.

for me
[code]

[2018-08-15 10:40] tnozicka commented on #20585
/assign @soltysh

[2018-08-15 10:46] pmacko1 commented on #20368
Hi @tnozicka, thanks for the message. Yes I've satisfied the prereqs.
[code]

[2018-08-15 10:50] pmacko1 commented on #20368
I have re-installed the vm and I had problems installing the docker-ce, `sudo dnf update` and subsequent installing on docker-ce fixed the problem.

Although, I had to use the second option for setting the insecure registries parameter
[code]

[2018-08-15 10:57] tnozicka commented on #20368
using `18.06.0.ce` doesn't satisfy the requirement for `==1.13` although it may work

Anyways since you can't reproduce it and it is working for you I am gonna close the bug.
/close

[2018-08-15 10:57] #20368 closed

[2018-08-15 12:05] dmage opened #20653 "Ensure openshift-ansible installer package deps are installed"
The test pull-ci-origin-e2e-gcp currently doesn't work because of a problem with the installer.

[code]

results:
[code]

msg:
[code]

[2018-08-15 12:06] dmage commented on #20653
/cc @sdodson

[2018-08-15 12:11] #20018 closed

[2018-08-15 12:11] pmacko1 commented on #20057
not correct, closing

[2018-08-15 12:11] #20057 closed

[2018-08-15 12:13] adambkaplan opened #20654 "oc cluster up fails - could not run "create-kubelet-flags""
Cluster up on MacOS fails with `Error: error creating node config: could not run "create-kubelet-flags": Docker run error rc=1; caused by: Docker run error rc=1`

No Docker container to grab logs from 😢

##### Version
oc v3.11.0-alpha (latest)
Docker 18.06.0-ce-mac70 (26399) - also fails on Docker 17.09
macOS 10.13.6 (17G65) (High Sierra)

##### Steps To Reproduce
1. `oc cluster up --tag latest`
2

[2018-08-15 12:14] ramato-procon commented on #20632
If I read the code correctly, the Endpoint hostname is set here:
https://github.com/kubernetes/kubernetes/blob/a945b5d9281ac5cba5e4a2976a0747592c0cff87/pkg/controller/endpoint/endpoints_controller.go#L447
If pod.Spec.Hostname is set and pod.Spec.Subdomain == service.Name
Both fields are set for a statefulset:
https://github.com/kubernetes/kubernetes/blob/249ecab74e418b087797a255929ac51bde6924db/pk

[2018-08-15 12:44] adambkaplan commented on #20654
Edit - running with `-v 5`:

[code]

[2018-08-15 12:49] sdodson commented on #20644
https://github.com/openshift/openshift-ansible/pull/9602 to revert

[2018-08-15 12:50] dmage opened #20655 "hack/lib/start.sh uses `openshift start`"
`openshift start` was removed in #20344, but our hack scripts still use it (for example, `make test-extended`, `os::start::all_in_one`).

[2018-08-15 12:50] adambkaplan commented on #20654
Closing this issue - my local binary of `oc` was not updated per #20344

[2018-08-15 12:50] #20654 closed

[2018-08-15 12:51] dmage commented on #20655
/cc @smarterclayton @stevekuznetsov @bparees

[2018-08-15 13:02] sdodson commented on #20653
This is happening because a new version of python2-docker was added to the CentOS PaaS SIG repos and it obsoletes `python-docker` but it doesn't provide all of the requirements of the atomic package, namely `python-docker-py`.

@DanyC97 do you know why http://cbs.centos.org/koji/buildinfo?buildID=22923 was tagged into CentOS PaaS SIG repos.

[2018-08-15 13:28] mohkharma commented on #7575
Hi All,

do we have any updates on this impotent feature.
Thanks

[2018-08-15 13:58] pweil- commented on #20375
@thanasisk FYI

[2018-08-15 14:06] enj commented on #2162
No.  It is not high enough priority for anyone to work on at this time.  I do not expect that to change.

[2018-08-15 14:55] dmage commented on #20655
For those who will hit the same problem:
[code]

[2018-08-15 15:35] DanyC97 commented on #20653
@sdodson so the issue was around the errors mentioned by users when they tested 3.10 release - see https://github.com/openshift/openshift-ansible/issues/8399#issuecomment-411727365

as such i went on and added the below pkgs to fix the prob on their side ...

[code]

[2018-08-15 15:41] sdodson commented on #20653
While https://github.com/openshift/openshift-ansible/pull/9605 attempts to work around the python2-pyOpenSSL problem I can see no way that we can workaround python-docker-3.3 problem short of either rebuilding that package to ensure it meets the requirements of the atomic package or removing it.

[2018-08-15 15:43] inyoungcho commented on #18932
I am still seeing this same problem on

$ oc version
oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8
features: Basic-Auth

Server https://ec2-18-144-36-71.us-west-1.compute.amazonaws.com:8443
openshift v3.9.31
kubernetes v1.9.1+a0ce1bc657

Does anyone have any workaround?

[2018-08-15 17:04] DanyC97 commented on #20653
okay, working to rollback the changes and i'll see how we get then Origin on centOS working again.

[2018-08-15 18:49] Karishma-Tiwari-MSFT commented on #19511
/remove-lifecycle stale

[2018-08-15 18:51] Karishma-Tiwari-MSFT commented on #19511
@sdodson @jsacapdev Is there any update on this one?

[2018-08-15 19:57] smarterclayton commented on #20655
I think I'll probably just remove the magic of test-extended starting a cluster (make TEST_ONLY=1 the only supported behavior)

[2018-08-15 20:17] DanyC97 commented on #20653
@smarterclayton fyi @bstinsonmhk is already working on this, i've untagged the packages using CBS but seems is more than that to remove the rpms from mirrors.

[2018-08-15 20:37] tinexw commented on #13771
Hi, we also run into this issue that the headers are simply replaced. Are there plans to change the default template to keep existing headers?

[2018-08-15 21:16] DanyC97 commented on #20653
@dmage any chance you can retry and see if it unblocks you?

@bstinsonmhk managed to remove the rpms from the repo metadata.

[2018-08-15 21:34] sdodson commented on #20653
Some tests are passing now.
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/pull-ci-openshift-openshift-ansible-e2e-gcp

[2018-08-15 21:49] #19751 closed

[2018-08-15 22:46] stevekuznetsov commented on #20655
Can we poll for consensus on openshift-dev@ first?

[2018-08-16 01:12] AIKiller commented on #20617
I also faced the same problem, have you solved this problem? Thank.

[2018-08-16 03:17] sdodson commented on #20653
Resolved.

[2018-08-16 03:17] #20653 closed

[2018-08-16 04:17] jwforres commented on #20586
@openshift/sig-network-edge

[2018-08-16 04:30] bparees commented on #20576
[code]

your registry is not running.  You'll need to investigate why.  The deploymentconfig for it is in the "default" namespace.  See if there are any pods for it, if so see why they are not running.  If there are no pods, you'll need to look at the deploymentconfig and see why it did not deploy the registry.  You can also try to force a deployment by running "oc rollout dc/docker-registry" and

[2018-08-16 04:40] jwforres commented on #20634
It sounds like you are processing a Template? And are hoping we would autodetect fields named "password". No, we don't support this with basic template instantiation and don't expect we will.

If you go through the service catalog / service broker route instead then the UI is using JSON schema generated forms, those have added support for fields designated as passwords, for those we automatically

[2018-08-16 04:40] #20634 closed

[2018-08-16 04:48] jwforres commented on #20549
@openshift/sig-developer-experience

[2018-08-16 04:51] jwforres commented on #20568
@openshift/sig-scalability

[2018-08-16 04:53] jwforres commented on #20530
@openshift/sig-master

[2018-08-16 04:54] strowk commented on #13771
In addition to X-Forwarded-Proto , later we discovered that for some applications out-Openshift proxy also requires setting X-Forwarded-Host and X-Forwarded-Port, so I renamed the issue, because all three of them are overwritten by Openshift router in one place.

I think I'll try to work on introducing a fix probably later on next week in case if contribution rules are not very complex.

/reopen
/

[2018-08-16 04:54] bparees commented on #20549
please share the yaml for your deployment so we can see what it is trying to reference that is unresolved.

None of the steps you listed create a deployment, so how was it created?

Also please fix the formatting on your second comment, it's extremely difficult to try to parse as is.

[2018-08-16 04:55] jwforres commented on #20493
@openshift/sig-network-edge

[2018-08-16 04:57] jwforres commented on #20650
@openshift/sig-security

[2018-08-16 04:59] bparees commented on #20445
closing this based on my last update (that the build remains in a "new" state and can be coaxed to proceed by fixing the issue that is preventing the pod from being created).

[2018-08-16 04:59] #20445 closed

[2018-08-16 04:59] jwforres commented on #20648
@openshift/sig-security

[2018-08-16 05:02] jwforres commented on #20506
@stevekuznetsov any thoughts why the 3.9.0 tags are missing, the 3.9 tag is there

[2018-08-16 05:03] bparees commented on #20391
closing based on lack of requested information needed to pursue it.

note that there were some known issues w/ binary builds hanging in 3.10 but that issue did not affect 3.9 (and has been resolved in 3.10 though not made it into an errata release yet).

[2018-08-16 05:03] #20391 closed

[2018-08-16 05:12] jwforres commented on #20295
@openshift/sig-pod

[2018-08-16 05:14] jwforres commented on #20249
@openshift/sig-developer-experience

[2018-08-16 05:16] jwforres commented on #20534
@openshift/sig-logging

[2018-08-16 06:03] nhosoi commented on #20534
Do you see anything unusual in this output especially in the Events section?
oc describe $(oc get pod -l component=fluentd -o name)

Also, you'd get quicker response if you use this issues since logging-fluentd belongs to origin-aggregated-logging.
https://github.com/openshift/origin-aggregated-logging/issues
Thanks.

[2018-08-16 06:49] stlaz commented on #20650
I believe you could just use https://docs.okd.io/3.10/install_config/configuring_authentication.html#LDAPPasswordIdentityProvider

[2018-08-16 07:33] alikhajeh1 commented on #19354
@aramalipoor do you know if this has been fixed in 3.9 or 3.10?

[2018-08-16 09:02] agajdosi commented on #20617
@AIKiller unfortunately I didn't :cry:. The only track I have is that this issue might be connected to the fact that machine is connected behind corporate proxy. I cannot however connect the affected machines outside of current network, so I can't verify. It sounds crazy, but that is the only attribute which all the affected machines share, some more info at: minishift/minishift#2675.

If your mac

[2018-08-16 09:35] Reamer commented on #20570
@yuanlinios It's now working because of what? Because of the pause or your correction of a typo in your inventory file?

[2018-08-16 10:16] markllama commented on #20653
Is the resolution to build using old packages forever?

[2018-08-16 10:55] DanyC97 commented on #20653
@markllama if you check https://github.com/openshift/openshift-ansible/issues/8399#issuecomment-413504162 you can see i just tried on a fresh system (including Origin repo from PaaS) myself to see the atomic dependencies and that pulls down `python-docker-py 1.10.6-4.el7` for `atomic  1.22.1-22.git5a342e3.el7` both coming from extras repo.

so i think we are good, i'll drive the other discussion a

[2018-08-16 12:46] tinexw commented on #13771
I created a PR (#20667) that adds the forwarded header instead of replacing it. As noted in the PR I didn't touch the `X-Forwarded-*` headers because I didn't know what the desired behavior is.

[2018-08-16 13:08] enj commented on #20650
Feel free to reopen if the docs are not sufficient.

[2018-08-16 13:08] #20650 closed

[2018-08-16 13:38] enj commented on #20655
@openshift/sig-security both the LDAP and GSSAPI extended tests are now broken.

[code]

[code]

[2018-08-16 13:44] Mikedu1988 opened #20668 "can't get scheduledImageImportMinimumIntervalSeconds working"
recently we've set up a private docker registry, and I found openshift only trigger "ImageChange" every 20 minutes, after I set scheduledImageImportMinimumIntervalSeconds :30 in master file, and  restart the master service by running:
systemctl restart origin-master-api origin-master-controllers origin-node

The issue still exists.
##### Version
[provide output of the `openshift version` or `oc ve

[2018-08-16 15:38] bparees commented on #20249
seems to be working fine for me.

can you share the deploymentconfig yaml for your registry DC?
Did the php imagestream exist before you did your push?

Before push (i imported the default php imagestream so it's got more tags than yours):
https://gist.github.com/bparees/2f0e0a57f77842b7040b9273b3472441#file-gistfile1-txt-L122

after push:
https://gist.github.com/bparees/c6723ef3321691a50da54ca728

[2018-08-16 16:10] geoand opened #20671 "Build pod not running on cluster created using oc cluster up"
I am currently unable to get a host of different applications to get successfully built and deployed on Openshift 3.10 clusters created via `oc cluster up`.
An example application is: https://github.com/snowdrop/spring-boot-http-booster.

The application gets correctly built and deployed on all Openshift 3.9 clusters, as well as "real" (ones that have been created via `openshift-ansible`) Openshif

[2018-08-16 16:11] geoand commented on #20671
cc @lthon

[2018-08-16 17:08] simo5 commented on #20650
The best option is probably to use https://docs.okd.io/3.10/install_config/configuring_authentication.html#RequestHeaderIdentityProvider and mod_auth_gssapi in apache for Single Sign On authnetication via GSSAPI which is supported by oc login.
Ldap syncing may be used to import groups.

In general FreeIPA integration is a composition of krb or LDAP authentication and sycning.

[2018-08-16 17:12] simo5 commented on #20648
This is a request for a feature we do not plan to implement directly in openshift.

[2018-08-16 17:12] #20648 closed

[2018-08-16 19:08] mshahat commented on #17317
/remove-lifecycle stale

[2018-08-16 19:44] jwforres commented on #20671
@openshift/sig-master

[2018-08-16 19:44] jwforres commented on #20668
@openshift/sig-developer-experience

[2018-08-16 20:04] smarterclayton commented on #20655
There is no support path now without oc cluster up that involves a node.  Anyone who needs a node in those tests should be using oc cluster up or the correct extended flow, anyone who doesn't need a node should stop using start::all_in_one.

[2018-08-16 20:42] bparees commented on #20668
it's a minimum interval, not a maximum interval, but it's working for me on 3.11.

I suggest you double check that you've set your configuration correctly.  Feel free to paste your entire master-config.yaml if you'd like me to double check it.  Other than that, I suggest you upgrade and see if you're still having issues on 3.10 because we're not going to pursue this on 3.9 at this point.

[2018-08-16 20:42] #20668 closed

[2018-08-16 22:28] cjohnston23 opened #20676 "origin-metrics-schema-installer docker image missing in docker hub"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

openshift v3.10.0+7eee6f8-2
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. [step 1]
Use openshift ansible to install 3.10, use the following vars to enable metrics (hawkular/heapster/cassandra)

openshift_metrics_install_metrics: true
openshift_metrics_hawkular_hostname

[2018-08-16 22:50] richm commented on #20506
I don't know - maybe @jsanda knows about the origin-metrics images

[2018-08-17 03:35] debianmaster commented on #20570
i  facing same issue  on fedora. / okd

[2018-08-17 07:57] valdestrijus commented on #19118
@patrickeasters I didint try new version v3.9 of openshift, but no i didint figure this out.

[2018-08-17 07:58] valdestrijus commented on #19118
/remove-lifecycle stale

[2018-08-17 08:17] inyoungcho commented on #18932
Here is the workaround from Redhat support. The following step worked by adding the docker registry configuration with `docker.io` ( which is my private registry).

Add the following line to `/etc/sysconfig/docker` on  openshift master and worker nodes.

[code]
 Restart docker service.

    # systemctl restart docker

[2018-08-17 08:27] mfojtik commented on #20671
@geoand can we see oc describe output of that pod (and YAML version of that pod?) (oc get pods).

[2018-08-17 08:50] geoand commented on #20671
@mfojtik [Here](https://gist.github.com/geoand/b2d6f3274676b1d964b1e451c74b3f44) is the describe output and [here](https://gist.github.com/geoand/cb3742d2bc6176cd5daa9ef85432201b) is the json output of the build pod.

[2018-08-17 08:58] maxemiliang commented on #20576
Ah i see, i tried the command `oc rollout dc/docker-registry` and it didn't work straight away i had to cluster down and up to get it to work, weird, but it is now solved so thanks for the help!

[2018-08-17 08:58] #20576 closed

[2018-08-17 09:29] geoand commented on #20671
@mfojtik Let me check again, because I tried it multiple times and that might be the wrong output. Sorry for the invonvinience :(

[2018-08-17 09:48] geoand commented on #20671
@mfojtik Got the correct logs this time. [Here](https://gist.github.com/geoand/b2d6f3274676b1d964b1e451c74b3f44) the correct describe output and [here](https://gist.github.com/geoand/cb3742d2bc6176cd5daa9ef85432201b) is the json output.
Note this output was captured a few seconds before the build failed. Once the build failed the build pod disappeared so I couldn't retrieve the final output.

[2018-08-17 09:56] geoand commented on #20671
Also just to triple check, I ran the same start build command against a real Openshift 3.10 cluster and the build worked as expected

[2018-08-17 10:16] kargakis opened #20678 "unready pods show up as ready in table view"
[code]
All master-00000 pods are unready but they show up as ready in the table view above.

@openshift/sig-master

[2018-08-17 10:16] kargakis commented on #20678
/kind bug

[2018-08-17 10:17] tnozicka opened #20679 "[3.9] gcp job borked on cluster provisioning - failed expects hostvars is a dict"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19957/test_pull_request_origin_extended_conformance_gce_39/307/

[code]

/assign @stevekuznetsov
/cc @openshift/sig-continuous-delivery

[2018-08-17 10:25] yuanlinios commented on #20570
Hello @Reamer

Yes, I followed your tips to add pause in that task. And the task works.
But after that I got some other irrelevant errors which result from some typos in my inventory file

@debianmaster
can you post your inventory file?

[2018-08-17 10:29] debianmaster commented on #20570
[code]

@yuanlinios

[2018-08-17 10:34] tnozicka commented on #20678
/assign @soltysh

[2018-08-17 10:41] tnozicka commented on #20679
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19957/test_pull_request_origin_extended_conformance_gce_39/308/

[2018-08-17 10:52] cucushift opened #20680 "The API certificate"
hi all, when i use cmd `oc get node --loglevel=10`, The log shows `I0817 10:46:11.221028   26529 round_trippers.go:386] curl -k -v -XGET  -H "Accept: application/json;as=Table;v=v1beta1;g=meta.k8s.io, application/json" -H "User-Agent: oc/v1.11.0+d4cacc0 (linux/amd64) kubernetes/d4cacc0" 'https://qe-xiuwang-master-etcd-1:8443/api/v1/nodes?limit=500'
` ,with **-k** paremeter,so i think the client wo

[2018-08-17 11:38] bparees commented on #20671
looks like a dupe of https://bugzilla.redhat.com/show_bug.cgi?id=1614493

[2018-08-17 11:38] #20671 closed

[2018-08-17 11:42] bparees commented on #20576
strange but it's working for you now.

[2018-08-17 13:07] patrickeasters commented on #19118
@valdestrijus I ended up figuring this out. The routers were setting a cookie and causing session stickiness. I ended up disabling that via an annotation on the route and could no longer reproduce it afterwards.

[code]

It's also worth noting that you should clear browser cookies after updating the route. Even after setting the annotation, session stickiness still occurred for any browsers that a

[2018-08-17 16:27] adambkaplan commented on #20633
Impacts cluster up on Mac as well (with Docker v17.09.1):

[code]

/component cluster-up

@openshift/sig-master

[2018-08-17 16:45] tnozicka opened #20686 "oc cluster up: Error: failed to install "openshift-service-cert-signer-operator": Docker run error rc=1; caused by: Docker run error rc=1"
`
$ sg docker -c 'oc version'
oc v3.11.0-alpha.0+adb5588-937
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://api.ci.openshift.org:443
openshift v3.11.0-alpha.0+875f246-824
kubernetes v1.11.0+d4cacc0

`

[code]

@openshift/sig-master
/cc @deads2k @mfojtik

[2018-08-17 16:46] tnozicka commented on #20686
I think it run once ok, the the down/up broke it I guess.

[2018-08-17 18:25] deads2k commented on #20600
Right.  In 3.10, `oc delete` does not wait for the thing to actually be deleted, it just issues the delete and finalizers (like GC) run.  In 3.11, it should wait.

[2018-08-17 18:25] #20600 closed

[2018-08-17 18:45] tnozicka commented on #20686
Hit this again, now for sure after second run - seems like reconciliation is broken.

[2018-08-17 19:37] enj commented on #20680
The debug just shows you a curl statement that could be used to accomplish the same API request.  It uses `-k` because it does not provide you with the CA information from inside the kube config file (not sure it even can).  If it did not include `-k`, you would almost always have to add it manually which would make copy-paste annoying.  It also does not cover cert based auth since that informatio

[2018-08-17 19:37] #20680 closed

[2018-08-17 20:29] #18923 closed

[2018-08-17 20:29] #18984 closed

[2018-08-17 20:29] #19031 closed

[2018-08-18 02:30] #18931 closed

[2018-08-18 02:30] #18942 closed

[2018-08-18 08:31] #18986 closed

[2018-08-18 14:32] #18959 closed

[2018-08-18 20:33] #15092 closed

[2018-08-18 20:33] #18990 closed

[2018-08-18 20:33] #18915 closed

[2018-08-19 02:34] #18831 closed

[2018-08-19 02:34] #18483 closed

[2018-08-19 05:11] slaterx commented on #20676
Reproducible on OKD 3.10.

[2018-08-19 06:52] slaterx commented on #18332
This is reproducible on OKD 3.10, even after doing the workaround that @Reamer informed.

This is what the broker reports:

[code]

[2018-08-19 10:39] svenstaro opened #20689 "How to actually make sure a PodTemplate provided via a ConfigMap is used by default?"
I hope this is the appropriate tracker for this question. The docs [here](https://docs.openshift.com/container-platform/3.10/using_images/other_images/jenkins.html#configuring-the-jenkins-kubernetes-plug-in) explain how to add a custom PodTemplate to OpenShift using the kubernetes-jenkins plugin as well as the OpenShift Sync plugin. Now, this actually works but I'm curious how I can make this new

[2018-08-20 01:10] #12755 closed

[2018-08-20 01:10] #18979 closed

[2018-08-20 03:14] Kisen-Chin commented on #20442
@jwforres  hi,
can I modify the openshift source code to discard "Xframe Options"? or change the "Xframe options" from "deny" to "allow" or something elese?
For your reply, it seems that I need to modify the response header instead of change openshift origin source code?

[2018-08-20 03:32] bparees commented on #16121
@GrahamDumpleton fixing here: https://github.com/sclorg/mysql-container/pull/236
ptal.

[2018-08-20 03:36] bparees commented on #16121
@GrahamDumpleton and https://github.com/sclorg/postgresql-container/pull/290

[2018-08-20 04:59] LalatenduMohanty commented on #20496
Bugzilla against `oc cluster up` in OCP https://bugzilla.redhat.com/show_bug.cgi?id=1618311

[2018-08-20 06:00] jeffrey4l commented on #13771
I have the same exact issue too. Base on @strowk idea, i use the following code to avoid the issue

[code]

[2018-08-20 06:16] stenvix opened #20690 "Timeout error on binary build deployment"
Hello, try to deploy binary build with latest dotnet core, but have no success.

##### Version

oc v3.10.9
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://api.starter-us-west-2.openshift.com:443
openshift v3.10.9
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. Create new project
2. oc new-build --name=project dotnet:latest --binary=true
3. oc start-bu

[2018-08-20 07:03] yuanlinios commented on #20249
I could not reproduce the issue any longer.
Delete old php image stream and push, the dockerImageRespository and dockerImageReference are now consistent.

[2018-08-20 07:03] #20249 closed

[2018-08-20 07:57] geoand commented on #20671
I see that the PR has been merged, :+1:

Do you have any idea when we can expect a new release?

Thanks!

[2018-08-20 12:05] stlaz commented on #13486
In its admission plugin, upstream was optimized even further with https://github.com/kubernetes/kubernetes/commit/967323558387e88bf3df532610511ed06d9dbfa7 which does not try to match an account to a certain set of rules right away, but performs that later in the loop that runs through all the providers, thus postponing many possibly unnecessary authorizer queries.

We can do the same in our SCC ad

[2018-08-20 12:32] riuvshin commented on #14031
/remove-lifecycle stale

[2018-08-20 12:36] #16121 closed

[2018-08-20 13:16] jwforres commented on #20442
It is set in the web console server code https://github.com/openshift/origin-web-console-server/blob/5ae5aa17fce4769a686135da5744a92797efd52f/pkg/assets/handlers.go#L60

We wouldn't accept any changes to this, but yes you could alter this in your own fork and rebuild the console server image. There are a number of proxies you could set up that do header manipulation, which would let you do this wi

[2018-08-20 13:56] benjaminapetersen commented on #20442
@Kisen-Chin definitely do your [clickjacking](https://www.owasp.org/index.php/Clickjacking) homework before trying this...

[2018-08-20 14:16] Reamer commented on #18332
It seems that the container with tag "latest" is broken. Currently I use the tag "ansible-service-broker-1.3.7-1". This tag is working on my cluster.

[2018-08-20 14:49] bparees commented on #20671
We don't generally do bug backports to origin(now OKD).  So the fix will be in the next 3.10 OCP errata release, and it will be in both the OKD 3.11 and OCP 3.11 releases.  Generally the major version releases happen about once a quarter.

[2018-08-20 14:59] cmoulliard commented on #20671
@bparees This is a blocking issue for us and users relying on Fabric8 Maven Plugin or S2I build as they will be blocked till you will release 3.10. This is not acceptable. Why don't you backport the fix and release 3.10.1 ?

[2018-08-20 15:03] bparees commented on #20671
Not my call.  But historically we have not backported fixes to origin releases except in extremely rare circumstances (generally only security issues).

@jwforres @smarterclayton

[2018-08-20 15:04] bparees commented on #20671
(even if i backport the fix to origin 3.10, there is no plan to create a 3.10.1 release to ship the fix)

[2018-08-20 15:06] geoand commented on #20671
@bparees Is there a way that tools that rely on binary builds can get around the problem when deploying to OKD 3.10?

[2018-08-20 15:08] bparees commented on #20671
the issue seems to be triggered when running builds that contain either a large number of files, or a set of files that have a large total size (not sure which).  So if your repo is large enough to trip the issue, I don't think there is a way to workaround it that I am aware of.

[2018-08-20 15:09] geoand commented on #20671
@bparees Thanks for the insight!

[2018-08-20 15:09] geoand commented on #20671
@bparees Just for the record, the issue always occurs for us with small repos that produce java uber-jars.

[2018-08-20 15:13] bparees commented on #20671
yeah in your case the repo size is irrelevant, it's the jar that you're uploading to the build, and that's what matters for hitting this (the size of the content you upload into the binary build).

I am going to backport the fix, but i don't know when we can expect a new origin 3.10.x release that would include it.

[2018-08-20 15:14] geoand commented on #20671
@bparees Thanks for your help!

[2018-08-20 15:17] bparees commented on #20671
backport: https://github.com/openshift/origin/pull/20695

[2018-08-20 15:25] Ladicek commented on #20671
FTR, at least the 3.7 stream had two .z releases including significant bugfixes. I'd personally say this issue would also qualify.

[2018-08-20 15:56] garagatyi commented on #14031
@eivantsov found a workaround - reconfigure docker daemon not to use userland proxy. Here is the [link](https://github.com/eclipse/che/issues/8134#issuecomment-408663305) to the explanation.
So, we might consider closing this issue since it seems it is not prioritized enough to find a better solution.

[2018-08-21 00:29] slaterx commented on #18332
@jmrodri I've used openshift-ansible on a multi-master cluster. This is what I've added to my hosts file:

[code]

I am accessing the default registries, dockerhub and local.

[2018-08-21 02:06] Mikedu1988 opened #20704 "How to confiure HTPasswdPasswordIdentityProvider in V3.10"
[provide a description of the issue]
I recently upgraded my openshift cluster to 3.10, I set my master config file like below:

[code]

Then I ran master-restart api controllers, I get return value 255.
And the master service is not started.
Then I ran master-restart api  and master-restart controllers separately, I sometimes get 2 sometime get 255.
Cloud anyone please tell me what does the return

[2018-08-21 08:09] azimovMichael opened #20705 "HAProxy router isn't working after installing cluster"
After installing a 3.9 cluster, the router pods are not coming up.
In the log we see
`E0808 16:10:22.640804       1 limiter.go:137] failed to write route table: open /var/lib/haproxy/router/routes.json: permission denied`

##### Version
oc v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://OUR_SERVER:8443
oc v3.9.0+71543b2-33
kubernetes v1.9.

[2018-08-21 08:23] chmouel opened #20706 "ZSH Completion not working: command not found: __kubectl_debug"
zsh completion fails after trying to complete (i.e: press <kbd>tab</kbd>) on a file after a `-f` argument.

##### Version
oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8
features: Basic-Auth

Server https://192.168.64.37:8443
openshift v3.10.0+a5e4ac9-10
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. zsh -i
2. source <(oc completion zsh)
3. oc create -f <kbd>TAB</kbd>

##### Current Result

[2018-08-21 11:10] mfojtik commented on #20686
/assign @simo5

[2018-08-21 13:17] tnozicka commented on #20686
(simo is out afiak)
/assign @openshift/sig-security

[2018-08-21 13:58] mrogers950 commented on #20686
`sg` runs its command using /bin/sh.. I see the same failure with `/bin/sh -c 'oc cluster up --tag=latest'`

[2018-08-21 14:05] bparees commented on #20690
dupe of https://bugzilla.redhat.com/show_bug.cgi?id=1614347

fixed in OKD 3.10 by https://github.com/openshift/origin/pull/20695
(no OKD release includes the fix yet though)

[2018-08-21 14:05] #20690 closed

[2018-08-21 14:09] bparees commented on #20689
not sure it's possible, if it is possible, I would expect it would be a Jenkins level thing where you'd need to tell jenkins "by default run all my jobs on slaves that have label `foo` (and then you'd put label `foo` on the slave pod template you wanted them to use), because this is really a question of "how do i make sure my jobs run on a particular jenkins slave by default"

[2018-08-21 14:09] deads2k commented on #20686
/assign @soltysh

I'm guessing this is the apply problem.

[2018-08-21 15:08] gabemontero commented on #20689
@bparees is correct in that this notion is a Jenkins thing, and nothing we can directly control via our sync plugin integration.

Based on my research, there is no way to currently override the use of master as a default.  In fact, in doc like https://wiki.jenkins.io/display/JENKINS/Distributed+builds there are hints that this is a conscious decision, to protect against the serializable requiremen

[2018-08-21 15:08] #20689 closed

[2018-08-21 16:30] #13771 closed

[2018-08-21 16:42] ghost opened #20716 "Certs for the router issued for *.router.default.svc.cluster.local"
In 3.9 I was able to grab ca.crt from `/var/lib/origin/openshift.local.config/master/ca.crt` and add it to Chrome authorities so that it doe snot yell about unknown authority.

Now I can see that cert for webconsole is issued for 127.0.0.1 but router cert is for ` *.router.default.svc.cluster.local`

![image](https://user-images.githubusercontent.com/5337267/44415898-2dee8680-a57a-11e8-9cb6-fa81fd

[2018-08-21 17:19] chmouel commented on #20544
Not sure if it's related but i have another error here with regard to the router :

```error: router could not be created; service account "router" is not allowed to access the host network on nodes, grant access with oc adm policy add-scc-to-user hostnetwork -z router```

[2018-08-21 18:59] sdodson commented on #20679
@stevekuznetsov who can make sure that docker.io/openshift/origin-ansible:v3.9.0 is rebuilt with https://github.com/openshift/openshift-ansible/pull/9125

[2018-08-21 18:59] sdodson commented on #20679
Or, alternatively rebuild with Ansible 2.4 rather than 2.6. Either will work.

[2018-08-21 20:31] jwforres commented on #20706
@openshift/sig-master

[2018-08-21 20:32] jwforres commented on #20704
@openshift/sig-security

[2018-08-21 20:33] jwforres commented on #20676
@openshift/sig-hawkular-metrics

[2018-08-21 20:35] jwforres commented on #20632
@openshift/sig-network-edge

[2018-08-21 20:37] jwforres commented on #20606
Yes, minishift is where we direct people doing local development of applications to run on top of openshift

[2018-08-21 20:37] #20606 closed

[2018-08-21 20:48] jwforres commented on #20617
alerting the team that owns oc cluster up, but nested virtualization *and* corporate proxies just sounds like a recipe for problems

@openshift/sig-master

[2018-08-21 22:50] magick93 opened #20723 "oc cluster up - error: cannot create volume share - windows"
Error when trying to run `./oc.exe cluster up` on windows.

##### Version
./oc.exe version
oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8
features: Basic-Auth

##### Steps To Reproduce
1. Using Windows 10, run `./oc.exe cluster up`

##### Current Result

[code]

##### Expected Result
Expect an openshift cluster to be up, running and usable.

[2018-08-21 22:51] magick93 commented on #20723
Closing.

Duplicate of https://github.com/openshift/origin/issues/20263

[2018-08-21 22:51] #20723 closed

[2018-08-21 23:02] magick93 commented on #20263
Same issue on

oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8

[2018-08-22 00:30] slaterx commented on #20676
For anyone manually generating their own image, this is the job template used by openshift-ansible:

https://github.com/openshift/openshift-ansible/blob/release-3.10/roles/openshift_metrics/templates/hawkular_metrics_schema_job.j2

[2018-08-22 01:33] bparees commented on #17461
@gbraad please point me to the documentation that lead to you try this on windows and i'll put an appropriate note there.  oc cluster up is not going to support windows (it doesn't even support MacOS anymore).

[2018-08-22 01:46] gbraad commented on #17461
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#windows-with-docker-for-windows

[2018-08-22 01:52] bparees commented on #17461
Thanks, fixing it here:
https://github.com/openshift/origin/pull/20725

[2018-08-22 07:38] chmouel commented on #20706
probably related
https://github.com/kubernetes/kubernetes/issues/61017#issuecomment-372656711

[2018-08-22 07:56] sttts commented on #20706
We have:

[code]

[2018-08-22 10:34] cxyfreedom opened #20726 "Access fail with 'oc cluster up --public-hostname=<public ip>' and redirect to 127.0.0.1"
##### Version
oc v3.10.0+dd10d17

##### Steps To Reproduce
oc cluster up --public-hostname='<public ip>'

##### Current Result
[code]
When I access `https://<public ip>:8443`，redirecting the address `https://127.0.0.1:8443`.

##### Expected Result
When I access `https://<public ip>:8443`, I could access normaly.

[2018-08-22 10:37] mfojtik opened #20728 "oc create deploymentconfig is broken"
[code]

@juanvallejo @soltysh seems like the args handling is not working when using the `--` syntax for command. We also might add some test/cmd to exercise this...

/kind bug
/sig master

[2018-08-22 11:01] mfojtik opened #20729 "Restoring deployment config with history leads to weird state"
Consider this scenario:

[code]

What happens here is basically **all** replication controllers are deleted right after they are created. Then a new RC is created with `revision=1`... This is because the replication controllers have `ownerRefs` set to DC which was deleted and the UUID does not match with the newly created DC.

If you edit the `backup.yaml` and remove all `ownerRef` fields from the

[2018-08-22 11:02] mfojtik commented on #20729
@smarterclayton I believe this is broken since 3.7 (haven't confirmed that).

[2018-08-22 11:02] mfojtik commented on #20729
/cc @openshift/sig-master

[2018-08-22 11:05] tnozicka commented on #20729
The fact that we can't rollout immediately after adoption is a DC bug - how the owner references are exported is more for cli and possibly related to new plans w.r.t to export
/cc @soltysh

[2018-08-22 11:06] mfojtik commented on #20729
Yeah, there should be a way to remove the UUID inside owneRefs. I would expect this will also affect builds (@bparees).

[2018-08-22 11:13] tnozicka commented on #20729
technically, you need to remove the whole ownerref

[2018-08-22 11:15] mfojtik commented on #20729
To be clear, there seems to be 2 issues:

1) The backup.yaml have ownerRefs which breaks adoption (this is more CLI problem, we can document that you have to strip the ownerRefs and we should have upstream issue create as this likely affecting upstream workloads as well

2) The revision not matching the 3 RC's is our bug, the deployment controller should set the revision to 3 after it observes the

[2018-08-22 11:33] chmouel commented on #20544
I believe I figured what's going on, I need to make sure to remove all installations files from 3.9 (or even between runs)

If I make sure before installing to remove all the configurations and the ~/.kube  from previous setups it will install fine,

I don't think 3.9 needed that.

(here is my script that cleanup/reinstall if someone want to look  at it https://gist.github.com/chmouel/da2595de9a19

[2018-08-22 12:48] soltysh commented on #20686
Closing as a duplicate of #20462.

[2018-08-22 12:48] #20686 closed

[2018-08-22 14:31] bparees commented on #20729
I think @deads2k would tell us this is an import problem (export should export everything it knows, import needs to be more judicious about what gets stripped/mutated/cleaned during import).  But yeah, i would guess builds and also various service broker objects (including templateinstances i think) would be affected by this... pretty much anything w/ an ownerRef, no?

[2018-08-22 14:40] mfojtik commented on #20729
In this case "import" is `oc create` and I don't think we want to have any special logic there treating ownerRefs pointing to non-existing UUIDS /cc @soltysh

[2018-08-22 14:44] bparees commented on #20729
yeah i understand, the point is that import needs to exist because that is where such logic would need to live.  (or some secondary tooling that you run to process your exported resources before you send them to oc create).

[2018-08-22 15:20] uocxp commented on #18034
is it possible to use gluster-block for elasticsearch ?

[2018-08-22 15:48] prerana-prakash commented on #20263
is there any update on this thread. Just now tried version oc-3.10.14-windows. Still have the same issue.

[2018-08-22 18:56] tnozicka commented on #20729
I like `oc create --strip-ownerrefs`

[2018-08-23 03:34] Mikedu1988 commented on #20704
I'm closing this issue as I tried restart again and it workd. But I still need to know what does the return value mean.
Or what are we expecting when we restart master service other than refreshing web console.

[2018-08-23 03:34] #20704 closed

[2018-08-23 03:36] Mikedu1988 commented on #20704
@mmarik okd 3.10 and later.
if you are using origin 3.9, you can restart master service by:
systemctl restart origin-master-api origin-master-controllers

[2018-08-23 07:05] soltysh commented on #20729
Nope, `create` must be generic as possible. What you're describing is import and that's different from create.

Nada!

[2018-08-23 07:12] soltysh commented on #20462
@liggitt per our conversation yesterday, here's the smallest possible reproducer of the problem:
[code]
[code]

This results in patch which looks like this: `{"metadata":{"namespace":""}}` with content type set to `application/strategic-merge-patch+json`, and the response from the server is then: `the body of the request was in an unknown format - accepted media types include: application/json-pat

[2018-08-23 08:55] tsum-test opened #20740 "docker:dind is not working in privileged container"
I'm trying to run docker:dind (docker in docker) in privileged openshift container, but it doesn't work:

[root@osh user]# oc logs docker-3-zj2km
mount: permission denied (are you root?)
Could not mount /sys/kernel/security.
AppArmor detection and --privileged mode might break.
mount: permission denied (are you root?)

If I run debug, I see that I unable to mount securityfs:

[root@osh user]# oc d

[2018-08-23 09:55] #20728 closed

[2018-08-23 11:10] enj commented on #20704
The return value is likely meaningless other than being non-zero.

[2018-08-23 11:18] rhatdan commented on #20740
Did you see any AVC messages?  Could it be SELinux?

[2018-08-23 11:41] simonvalter commented on #16577
this also happens when the project name contains a -

[2018-08-23 12:29] azimovMichael commented on #20705
Problem fixed.
It was the SELinux that was misbehaving

[2018-08-23 12:29] #20705 closed

[2018-08-23 12:40] azimovMichael opened #20742 "Router working inconsistently"
I have a cluster of 5 nodes: 3 masters and 5 (the 3 masters are also nodes) nodes.
After installing with the Ansible playbook, and deploying 3 demo apps there is a very strange problem.

We configured a dns similar to this: *.company.com so that every url with that suffix will go to one of the node IPs.

We configured routes (app1.company.com, app2.company.com, app3.company.com)  to the services,

[2018-08-23 13:14] liggitt commented on #20462
the issue is that the server-side impl is CRD-based, and the client-side is compiled go types

[2018-08-23 13:54] bparees commented on #20729
+1 to @soltysh's responses.  overloading create doesn't seem like the right answer here.

[2018-08-23 17:56] muheric commented on #17677
Hello everyone, on my side, service-catalogue.yml file is missing. I checked in /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/
Can someone help me to fix this please?

[2018-08-23 18:53] jmrodri commented on #18332
@slaterx @Reamer so far things are working for me, so I need a little more information to see if my setup might have fixed something.

What is the value of `ansible_service_broker_registry_tag` and `ansible_service_broker_image_tag`?

[2018-08-23 20:04] jmrodri commented on #18332
It would also be helpful to see the configmap:

`oc configmap broker-config  -n openshift-ansible-service-broker`

[2018-08-23 21:46] jmrodri commented on #18332
So in this comment https://github.com/openshift/origin/issues/18332#issuecomment-414107904, the `asb-client` warning is suspicious:
[code]
That's how the catalog and the broker are configured to talk to each other.

[code]

I would not expect that to be an error if things are going well. It should look more like the one above.

[2018-08-24 13:52] ctron opened #20748 "NFS recycler broken"
A new installation of OpenShift fails to recycle NFS volumes:

[code]

##### Version

[code]

##### Steps To Reproduce
1. Install OpenShift 3.10
2. Create and delete PVC based on NFS

##### Current Result

PV not recycled.

##### Expected Result

PV recycled.

##### Additional Information

[2018-08-24 15:43] enj commented on #15511
Fixed by #20411 and #20746

[2018-08-24 15:43] #15511 closed

[2018-08-24 16:02] gnufied commented on #20748
It is a known issue - https://github.com/openshift/origin/pull/20609 should fix it.

/sig storage

[2018-08-24 19:04] #19899 closed

[2018-08-24 23:01] bitboy67 commented on #20263
ditto.....
Windows 10, v1803
oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8

[2018-08-25 01:26] #19094 closed

[2018-08-25 15:34] cunningt opened #20751 "oc new-project should have a flag that allows success if the project already exists"
oc new-project should have a flag that allows success if the project already exists.    At the moment, if you oc new-project an existing project

[code]

There should be a flag like oc new-project --succeed-if-exists or something like that where the result is 0 even if the namespace previously exists.

In the case of minishift-addons, you want to be able have a conditional add of a new-project if

[2018-08-25 18:01] mar1ged commented on #16521
/remove-lifecycle stale
/lifecycle frozen

[2018-08-26 01:59] gauravojha opened #20752 "[3.7] New SSL certs not being reflected on secure routes"
Updating

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
I am seeing a problem, which I am unable to understand. And I am not sure if this is an issue, or something which I am doing incorrectly.

 I am using Openshift Origin 3.7, and have three routes correspon

[2018-08-26 14:54] jdoss commented on #20726
Here is a quick workaround until this gets sorted out:

`fgrep -RIl 127.0.0.1:8443 openshift.local.clusterup/ | xargs sed -i 's/127.0.0.1:8443/$PUBLIC_IP:8443/g'`

[2018-08-27 01:34] #14184 closed

[2018-08-27 05:14] cmoulliard opened #20753 "oc cluster up - 3.1- run_self_hosted.go:172] - Waiting for the kube-apiserver to be ready"
When we start `oc cluster up --public-hostname=192.168.99.100` 3.10 on macbook using these tools

- oc : 3.10

[code]

- docker-machine version 0.14.0, build 89b8332
- docker version : 18

[code]
- Virtualbox: 5.2.12

then the API Server doesn't start even if we can ssh to the docker-machine vm

[code]

Log file of the kubelet reporpts that it has been registered with localip address

[code]

Rema

[2018-08-27 07:24] fisache opened #20754 "When user create, can't input uid as parameter?"
when user create, can't input uid as parameter?

##### Version
v3.9

##### Steps To Reproduce
user.yaml
[code]
[code]

##### Current Result
create user with other uid

##### Expected Result
create user with my uid in metadata

[2018-08-27 07:36] fbac commented on #17812
/close

[2018-08-27 07:36] #17812 closed

[2018-08-27 09:03] uocxp commented on #19440
please tag these images with v3.9.0 !

[2018-08-27 10:10] surajnarwade opened #20755 "Template service broker is not working properly"
I used following command to start minishift instance:

[code]

when I check for brokers,

[code]

I can only see `openshift-automation-service-broker` but not `template-service-broker`.
Further, I checked deployments of `template-service-broker`, that is perfectly fine

[code]

[2018-08-27 10:13] FromZeus commented on #17938
Still an issue in v3.10.0 release. /reopen

[2018-08-27 10:14] FromZeus commented on #17938
/reopen

[2018-08-27 12:09] borntorock commented on #20406
@openshift/sig-network-edge Can you someone Please help with this.

[2018-08-27 12:18] mfojtik commented on #20753
@cmoulliard the docker machine (or any docker on remote vm) is not supported in the recent versions of cluster up as it requires enormous amount of code and plumbing to get that right and to synchronize files between local and remote machine.

To use cluster up on Mac, I would recommend to get virtualbox or any other virtualization, run a VM and just run the cluster up inside the VM (--public-host

[2018-08-27 13:42] bparees commented on #20755
/cc @openshift/team-service-catalog @openshift/sig-ansible-service-broker  (I don't see a sig template service broker).

[2018-08-27 14:49] cmoulliard commented on #20753
Many thanks for the info. FYI, we can do a `oc cluster up` using the `docker community edition client`. Then, in this case, hyperkit is used with a network bridge

[2018-08-27 14:59] gnufied opened #20757 "Failed to install "openshift-service-catalog": timed out waiting for the condition"
This has been happening consistently on some of 3.10 PRs we have open where e2e tests are failing while waiting for service catalog to come up.

[code]

[2018-08-27 15:00] gnufied commented on #20757
Affected PRs https://github.com/openshift/origin/pull/20609 and https://github.com/openshift/origin/pull/20130 . It seems to affect only 3.10 builds for now.

[2018-08-27 15:33] nightman68 opened #20759 "Error creating image secret"
When I try to create an images secret in GUI I receive an error:

`An error occurred while creating the secret.
 Reason: Secret "registry" is invalid: data[.dockercfg]: Required value`

##### Version
openshift v3.10.0+dd10d17

oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. In the UI navigate to Resources/Secrets
2. Select Imag

[2018-08-27 18:37] djwhatle opened #20761 "[3.11] oc binary build with `oc start-build my-build --from-dir .` times out with "400 BadRequest""
In Origin 3.11 alpha, attempting to perform a binary build with `oc start-build my-build --from-dir .` times out with "400 BadRequest".

##### Version
[code]
##### Steps To Reproduce
1. Navigate to a directory with container image source files including a Dockerfile
2. Create a binary buildconfig
`oc new-build --binary=true --name my-build`
3. Start a build, uploading the contents of the current d

[2018-08-27 20:38] djwhatle commented on #20761
Filed BZ as well https://bugzilla.redhat.com/show_bug.cgi?id=1622723

[2018-08-27 21:21] bparees opened #20766 "origin clusterup 3.10 CI is broken"
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_pull_request_origin_extended_clusterup_310

@stevekuznetsov @deads2k @smarterclayton

[2018-08-28 00:40] gauravojha commented on #20752
Fixed the problem, by providing the certificate only to the App 1 path.

[2018-08-28 00:40] #20752 closed

[2018-08-28 01:34] esevan commented on #20308
Could anyone tell me about this?

[2018-08-28 06:58] kahootali opened #20767 "Running application with specific user in Dockerfile"
I have a simple spring boot application which I use for Prometheus to scrape metrics from,
In my Dockerfile, I have explicitly mentioned a user id, below is my Dockerfile
[code]
but when I run this without setting securityContext, it does not run and gives an error that the user does not has permissions over the directory.
Why should I have to manually specify in the securityContext to `runAsUser:

[2018-08-28 08:35] azimovMichael commented on #14455
@do3cc Can you please explain in more detail how you debugged the traffic between the pods?
Having the same issue..

[2018-08-28 09:15] amitkrout opened #20770 "secure(https) route breaks on deployed eap template"
[provide a description of the issue]
Template (JBoss EAP 7.1 + PostgreSQL (Persistent with https)) deployment went fine, however the problem arises while accessing the secure(https) route whereas http route works fine.

##### Version
[code]
##### Steps To Reproduce
1. oc cluster up
2. oc login -u system:admin
3. oc apply -f xpaas/xpaas-streams/ -n openshift
[code]
4. oc apply -f xpaas/xpaas-templa

[2018-08-28 10:38] priyanka5 opened #20771 "how to setup origin cluster from own source"
Hi , I have installed openshift origin OKD recently using ansible installer , which works fine. I know that it pulls source code from here https://github.com/openshift/origin .

Can anyone tell me where in ansible inventory the source code location is defined , we are looking to clone the code and have it on private git repo for some customization.

Is it possible to do it? Please let me know if w

[2018-08-28 12:00] tnozicka commented on #20679
/cc @smarterclayton

[2018-08-28 12:00] tnozicka commented on #20679
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19957/test_pull_request_origin_extended_conformance_gce_39/316/

[2018-08-28 12:12] Jorge-Dacal opened #20773 "v3.10 - Add externalIPNetworkCIDRs in master-config.yaml breaks the cluster."
## Description of the issue
If I modify `externalIPNetworkCIDRs: null` with my ip network "10.30.38.0/23" in `/etc/origin/master/master-config.yaml` and openshift don't start.
[code]
I need it because I want to make the service of a database inside OpenShift accessible from the outside for example with MongoDB Compass.
[code]
To do that I now that I need to make the service external. Openshift nee

[2018-08-28 13:39] ironcladlou commented on #20406
@jmencak any data you could share here?

[2018-08-28 13:40] ionutancuta opened #20776 "Node_exporter Dashboard"
Hello,

Can you please tell me on which version of Grafana is Node_exporter Dashboard made? And also if it can be used with a prometheus datasource? I tried to use the the suggested one from the description but it has  different label names.

Thanks a lot! :)

[2018-08-28 13:58] smarterclayton commented on #20679
The Ansible release-3.9 job push_openshift_ansible_39 or branch_openshift_ansible_extended_conformance_gce_39 jobs should push it if they pass.

[2018-08-28 15:25] InfoSec812 commented on #3910
Also, for the use case where the FQDN needs to be supplied to the application (for virtual host config purposes), there needs to be a way to supply the generated FQDN as a parameter to the DeploymentConfig for the application.

[2018-08-28 16:08] carljmosca commented on #3910
Still amazes me that this was closed.

[2018-08-28 17:32] jboyd01 commented on #20766
/assign jboyd01
I own service catalog.
3.10 is picking up 3.11 Service Catalog binary.

[2018-08-28 18:36] jboyd01 commented on #20766
I may be looking in the wrong place, but this seems wrong:

https://github.com/openshift/aos-cd-jobs/blob/9b9020a119925e6ae325a96dc0d8093b0d286c57/sjb/config/test_cases/test_pull_request_origin_extended_clusterup_310.yml#L2

aos-cd-jobs/sjb/config/test_cases/test_pull_request_origin_extended_clusterup_310.yml
[code]
I'd expect that to be using origin_release_310.yml.  It looks to me like origin_re

[2018-08-28 19:41] jboyd01 commented on #20766
discussed with cewong, he pointed me at https://github.com/openshift/origin/blob/720e11781483c0b1a729565085781347090948c7/test/extended/clusterup.sh#L369-L372

This is always going to pull the latest image.

It looks like web-console and docker-registry will have the same issue

[2018-08-28 19:46] bparees commented on #20766
yes this was a bit of tech debt we punted on.

for console and registry I think it didn't matter since:

1) there were no changes that mattered between versions
2) the cluster up tests weren't intended to test those components in a meaningful way

anyway i think you can just change that `:latest` to `:v3.10` in the v3.10 branch?

[2018-08-28 19:51] jboyd01 commented on #20766
@bparees sounds good to me - I was going to parameterize it but hard coding is quicker/easier.

[2018-08-28 20:03] bparees commented on #20766
why fix it permanently when we can leave a ticking timebomb for someone else to waste time on in the future? :)

but seriously, if it weren't for how much of this is going to change in 4.0 anyway, i might argue for a better solution.

[2018-08-28 21:25] ryanrf opened #20788 "Helm can't install SCC's due to misspelled endpoint"
While using helm (https://github.com/helm/helm) with OpenShift Origin (3.9) I can't create any new security context constraints (scc). When I try I get:
[code]

As may be obvious that's not how the scc object is spelled (*securitycontextconstraintses* vs *securitycontextconstraints*).

 I can create scc's with `kubectl` and `oc`, but not with helm. I can also install helm charts using `helm templa

[2018-08-29 11:21] aramalipoor opened #20789 "How to manually decrypt AES-CBC encrypted resources?"
Followed [this doc](https://docs.okd.io/3.10/admin_guide/encrypting_data.html) to encrypt Secrets. I was wondering how (if) it is possible to manually (outside OKD) decrypt items just in case there's an issue with this "experimental" feature and we needed to manually recover one or all secrets?

We are upgrading our production cluster to v3.10 and want to make sure it is safe to use this feature a

[2018-08-29 11:36] rguderlei commented on #20544
Thanks for the hint to remove all configurations. It worked for me!

[2018-08-29 12:29] sdodson commented on #20679
Clayton, or someone, build and pushed a new v3.9 tag. Going to verify that has resolved the issue.

[2018-08-29 14:22] mfojtik opened #20794 "[Conformance][Area:Networking][Feature:Router] The HAProxy router should support reencrypt to services backed by a serving certificate automatically"
Seems like the test is permanently broken and it blocks entire queue:

Example:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20790/pull-ci-origin-e2e-gcp/2978/

Marking as P0.

[2018-08-29 14:33] ironcladlou commented on #20794
Ack, will prioritize it today

[2018-08-29 15:12] mickuehl commented on #20773
Jorge, did you test/try this on an actual Openshift cluster or just locally via 'oc cluster up' ? Just a hunch here but it might be that the *local/containerized* OpenShift behaves differently than the real thing...

[2018-08-29 15:18] tnozicka commented on #20679
seems like is has moved a bit further; now borked on checking out 3.10 ansible roles for 3.9 testing...
[code]
https://openshift-gce-devel.appspot.com/build/origin-/pr-logs/pull/19957/test_pull_request_origin_extended_conformance_gce_39/319/
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce_39/319/console

[2018-08-29 17:29] smarterclayton commented on #20679
Verify the aos-cd-job is cloning the right repo.

On Wed, Aug 29, 2018 at 11:21 AM Tomáš Nožička <notifications@github.com>
wrote:

[2018-08-29 17:33] stevekuznetsov commented on #20766
Is this fixed with #20785?

[2018-08-29 17:34] bparees commented on #20766
looks like it, since cluster up job passed on that PR.

[2018-08-29 17:34] #20766 closed

[2018-08-29 17:57] sdodson commented on #20679
I'm looking into the new failure.

[2018-08-29 18:47] sdodson commented on #20794
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/9801/pull-ci-openshift-openshift-ansible-e2e-gcp/1865/

[2018-08-29 18:59] ironcladlou commented on #20794
We're observing two flakes in the extended router tests. The first one is an intermittent image pull failure for `nginx:latest`:

[code]

The pull failure needs diagnosed.

The other problem is a race condition with some test pods which reference secrets created by the service cert signing service at the same time, causing intermittend pod volume mount failures at pod creation time:

* https://git

[2018-08-29 19:03] ironcladlou commented on #20794
Re: https://github.com/openshift/origin/issues/20794#issuecomment-417067486, @deads2k pointed out that the pods should wait for the secret automatically, and so our root cause diagnosis is incorrect.

[2018-08-29 19:06] ironcladlou commented on #20794
@bparees any idea about the pull failure in https://github.com/openshift/origin/issues/20794#issuecomment-417067486?

[2018-08-29 19:13] bparees commented on #20794
@ironcladlou that's just a pod trying to run docker.io/library/nginx:latest?

[2018-08-29 19:28] bparees commented on #20794
So basically it's either a docker hub flake (serving a bad manifestlist periodically), or it's a node bug that the node is trying to pull/look for the wrong architecture.

nginx (and the other "library" images in docker hub) all have manifestlists which means they support multiple architectures.

If you can move to another image, i'd do that.  Possibly pulling nginx and pushing it to your own dock

[2018-08-29 19:37] Miciah commented on #20794
https://github.com/openshift/openshift-docs/blob/60f49ce0cfc3c7a5d70b1b658d82db7055445ac3/dev_guide/secrets.adoc#restrictions states,

Arguably, "a secret definition" means an explicit `kind: Secret` object as opposed to a secret specified using the `service.alpha.openshift.io/serving-cert-secret-name` annotation, but this is not clear—and does it matter how the secret is defined? In any case, the

[2018-08-29 21:39] jkroepke opened #20801 "Missing Tag 3.10 openshift/origin-metrics-hawkular-metrics"
Hi,

I'm missing the OKD 3.10 Tag for openshift/origin-metrics-hawkular-metrics.

Best,

[2018-08-29 21:46] stevekuznetsov commented on #17732
/remove-lifecycle stale
/cc @sjenning @ingvagabund @openshift/sig-pod

[2018-08-29 22:55] #20801 closed

[2018-08-29 23:43] #17461 closed

[2018-08-30 03:02] intalent opened #20802 "Error: a port needed by OpenShift is not available caused By: Error: ports in use: [80 443 8443 10250 53 8053]"
[i have insatlled openshift origin with the help of below link]
https://github.com/vipin-k/Openshift-Cluster/blob/master/manual

##### Version
oc version
oc v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

#### Environment:
0s:centos 7minimal
use two vms inside the virtual machine on local box

[provide output of the `openshift version` or `oc version` co

[2018-08-30 06:35] kahootali commented on #20767
I fixed this by
[code]

[2018-08-30 06:35] #20767 closed

[2018-08-30 11:58] aramalipoor commented on #20789
ping @mfojtik @smarterclayton

[2018-08-30 13:18] ironcladlou commented on #20794
@bparees

I guess I don't see how this fixture is different than any other I see in the extended test fixtures, many of which I've spot checked use public images from dockerhub in exactly the same way. I'm not opposed to changing the way we do it, just wanted to state it doesn't yet seem like a problem specific to the router test in question.

[2018-08-30 14:09] bparees commented on #20794
Are the other fixtures using images from "library"?  library is a bit unique since those images use manifestlists (which appears to be what caused the issue here) and most other images do not.

The other possibility is that it's flat out a corruption issue in dockerhub..perhaps one registry instance has a bad manifestlist and when you hit that one, you get this issue.  Have you tried pulling the i

[2018-08-30 17:36] jmontleon commented on #20755
What version of the oc client?

With the latest oc binary I don't see this? It may be out of date.

TSB registration was broker at one point, but it has been fixed.
https://github.com/openshift/origin/pull/19808/files

With the latest I don't see this.

[code]

[code]
[code]

[code]

[code]

[2018-08-30 19:13] tnozicka commented on #6422
still broken for me

[code]
`Failed to pull image "istag/stable:openshift-acme": rpc error: code = Unknown desc = repository docker.io/istag/stable not found: does not exist or no
pull access`

/reopen
/priority p2
/remove-lifecycle rotten
/cc @soltysh @bparees

[2018-08-30 19:17] bparees commented on #6422
you passed --image, which means you told oc run "this is a docker spec, not an imagestreamtag"  (at least that's what "--image" means in our other cli commands like new-app).

I don't know if oc run supports referencing imagestreamtags at all, which seems to be the source of this issue.. it seems like it does not, and it would be an RFE to add such support.

[2018-08-30 19:43] #19156 closed

[2018-08-30 20:55] bparees commented on #20761
since you opened a bug, closing this so we are not tracking it in two places.

[2018-08-30 20:55] #20761 closed

[2018-08-30 20:57] djwhatle commented on #20761
@bparees the BZ was opened against our own `apb` tool to keep track of whether this issue got resolved.

[2018-08-30 21:01] bparees commented on #20761
@djwhatle binary builds shouldn't be broken, so you can count on it getting resolved.  (as far as i know, they currently are *not* broken, we have extended tests that cover them, though there is a known bug when using binary builds against a cluster launched via "oc cluster up", but that does not appear to be what you hit here I don't think.  If you are using a cluster launched via cluster up, we

[2018-08-30 21:06] ironcladlou commented on #20794
Since it appears we no longer have any way of tracking flake stats, I'm going to say https://github.com/openshift/origin/pull/20809 closes this and we can re-open the issue if errors continue to be observed.

[2018-08-30 21:06] #20794 closed

[2018-08-30 21:26] magick93 commented on #19590
Hi

Is there any updates to this?

I'm getting the following"
[code]

## Version
[code]

[2018-08-30 21:48] magick93 opened #20811 "oc cluster up with all features enabled fails"
[provide a description of the issue]

##### Version

oc v3.10.0+dd10d17
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. Run `oc cluster up --h`. Notice that there is an option to include `--enable=[*]`
2. Run `oc cluster up --enable=[*]`

FYI, I also tried the folowing:

[code]

##### Current Result

`no matches found: --enable=[*]`
##### Expected Result
Expect openshift cluster to be up w

[2018-08-31 01:44] #17483 closed

[2018-08-31 01:44] #17484 closed

[2018-08-31 01:44] #18523 closed

[2018-08-31 07:44] jsafrane opened #20812 "3.9: ci/openshift-jenkins/gcp fails to "Create tar of OpenShift examples""
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce_39/348/consoleFull#87278379858b6e51eb7608a5981914356

This happens consistently for 3.9 PR that does not touch GCP nor examples: https://github.com/openshift/origin/pull/20768

[2018-08-31 07:51] IlonkaO opened #20813 "oc get --export scc/<name> doesn't work like oc export scc/<name>"
After recognized the message that "oc export" is deprecated and I should use "oc get --export" I tried it with the command "oc get --export scc/privileged" and get only the description of the scc that would appears also without the option --export

##### Version
oc v3.10.14
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server xxx:8443
openshift v3.10.14
kubernetes v1.10.0

[2018-08-31 09:11] surajnarwade commented on #20755
[code]

[2018-08-31 09:29] Jorge-Dacal commented on #20773
I only test it on a remote machine with Centos7 using Openshift Origin v3.10 and starting it with the command `oc cluster up`

[code]

The only difference between the two clusters is on ./openshift.local.clusterup/kube-apiserver/master-config.yaml
**It does not work:** "externalIPNetworkCIDRs":"10.36.38.0/23"
**It works (it is the default config):** "externalIPNetworkCIDRs":null

These are the com

[2018-08-31 10:52] IlonkaO commented on #20813
Update:
The challenge is not only for scc. I tried it also for user and deploymentconfig. Always the same issue

[2018-08-31 11:33] tnozicka opened #20815 "Image lookup is broken on clusterup"
[code]

referencing imagestream in pod's image doesn't work on clusterup, ends up trying to pull from the default registry (dockerhub)

/priority P1
/milestone 3.11

[dump.gz](https://github.com/openshift/origin/files/2339881/dump.gz)

/assign @bparees
/cc @openshift/sig-developer-experience @mfojtik @smarterclayton

[2018-08-31 12:09] camabeh opened #20816 "oc adm diagnostics doesn't work behind proxy"
Hello,

it looks like `oc adm diagnostics` completely ignores no_proxy variable even if it's defined... It's freshly installed cluster.

[code]

##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. deploy behind proxy
2. run `oc adm diagnostics`

##### Current Result
[code]
##### Verify
[code]

[code]
##### Expected R

[2018-08-31 13:01] Fodoj commented on #20748
And what's the fix for running clusters?

[2018-08-31 13:34] bparees commented on #20815
pretty sure @deads2k is aware of this, it's an issue w/ the admission controller not being initialized properly in cluster up environments.

/assign @deads2k
/unassign

[2018-08-31 14:03] Fodoj opened #20818 "controllerArguments are not passed and completely ignored"
I am trying to override `pv-recycler-pod-template-filepath-nfs` option of k8s controller manager, but it doesnt seem to work - argument is just ignored.

After carefeully inspecting the source code I noticed that all custom arguments are actually ignored, see this function: https://github.com/openshift/origin/blob/ff5bfe4c138b35a0654e7a3c187665270cf16529/pkg/cmd/server/start/start_kube_controller_

[2018-08-31 15:09] openshiftninja commented on #20496
Damn. This is a major blocker for those of use behind a proxy. It looks like you used to be able to do oc cluster up --version v3.x.x but that doesn't appear to be the case. Is there a quick way to start an older version until this is resolved?

[2018-08-31 15:13] tnozicka commented on #20815
I'd hope this would be caught by e2e tests against clusterup instance, not sure what we run for cluster up...

[2018-08-31 15:19] openshiftninja commented on #20496
How do you use an older version of OpenShift with oc cluster up until this gets fixed? I see the --image switch, but it isn't clear to me how to use it.

[2018-08-31 15:20] bparees commented on #20815
e2e tests for cluster up are currently extremely minimal.  this is not the first issue we've hit where something was broken in cluster up that passed in a "normal" cluster.

We've had discussions about the need to run the e2e suite against an cluster stood up using cluster up, to help catch things like this, but given the unclear direction of cluster up at this point, i don't know if anyone's goin

[2018-08-31 19:35] jmrodri commented on #18332
I've successfully run the service-catalog and the broker with no issues. Our QE has had no problems as well. I'm going to close this bug as fixed in current release.

[2018-08-31 19:35] #18332 closed