[2016-04-25 15:31] ironcladlou commented on #8367
FWIW, locally with `master` on f23:

[code]

[2016-04-25 15:36] smarterclayton commented on #8367
What waits does this code have?  Is there something in mongo itself that is
waiting and then can fail (thus resulting in other failures)?

On Mon, Apr 25, 2016 at 11:31 AM, Dan Mace <notifications@github.com> wrote:

[2016-04-25 16:26] abutcher commented on #8542
@augabet +1 for a warning.

@barkbay That is correct. Without kubernetes/kubernetes#20975, the dns endpoint would need to be balanced/maintained externally.

[2016-04-25 16:42] bparees commented on #8595
once you've got the template file (by running oc export --as-template), you can run:

oc create -f mytemplate.json -n openshift

that will make the template available to anyone who can view the openshift namespace (which should be all users, normally).  Did you do that and users could not see/access the template?

[2016-04-25 18:59] bparees commented on #8600
pretty sure we have logic in place that's supposed to check if the commit in question was for the branch the buildconfig is referencing.  will have to see if it's gotten broken or this is a scenario it doesn't cover.

[2016-04-25 19:36] alberttwong commented on #8595
yes.  didnt work

[2016-04-25 19:37] bparees commented on #8600
we trim "refs/head" from the github event:
https://github.com/openshift/origin/blob/master/pkg/build/webhook/webhook.go#L16-L24

so using "dev" as your ref in your buildconfig is correct.

so we need to actually see what ref the github event had in it to understand why we're matching when we should not.

[2016-04-25 19:53] deads2k opened #8622 "enable third party resources"
@liggitt wants API changes first to make them non-namespaced and we probably need a full cached discovery client to avoid tons of round trips.

[2016-04-25 19:54] bparees commented on #8595
can you be more explicit?  What didn't work?  did the oc create command return an error?  If so what error?

if it didn't return an error, can any user (admin?) see the template?  what does "oc get templates -n openshift" show when run as cluster admin?

Here is what happens when i run your scenario:

switch to a clean project
[code]

create objects in my p4 project
[code]

export the objects as a

[2016-04-25 19:54] deads2k commented on #8622
@smarterclayton do you want this before 1.3?

[2016-04-25 19:54] deads2k opened #8623 "migrate to the new deep copy generator"
The old one is still work for us, but it isn't being improved. The new deep copy generator had different assumptions about packages. It wasn't a drop-in.

[2016-04-25 19:56] deads2k opened #8624 "enable recursive directory options in our cli where appropriate."
enable recursive directory options in our cli where appropriate.

`kubectl` added a flag for it.  I simply forced the value to false throughout our code.

@stevekuznetsov maybe?

[2016-04-25 19:56] deads2k opened #8625 "unify authorization attributes"
@liggitt wants to have a single authorization attributes interface for both kube and origin. That means changing the origin sig in a non-trivial way.

[2016-04-25 20:00] smarterclayton commented on #8622
I think 1.3 will probably promote them to stable.

On Mon, Apr 25, 2016 at 3:54 PM, David Eads <notifications@github.com>
wrote:

[2016-04-25 20:23] #8392 closed

[2016-04-25 20:30] Cicatrice commented on #8600
Actually, I am using generic webhook, with [gogs](https://github.com/gogits/gogs), and the json webhook payload looks like :
[code]

As seen, ref is refering about `dev`.

[2016-04-25 20:41] bparees commented on #8600
the generic webhook won't parse the git information in that format.

I believe the gogs payload matches the github payload, so you just need to add a github trigger to your BC and setup gogs to hit that webhook instead of generic.

[2016-04-25 20:48] Cicatrice commented on #8600
I updated the webhooks on GOGS, and indeed, it will trigger only the related branch.

Many thanks for your help.

[2016-04-25 20:50] bparees commented on #8600
excellent!

[2016-04-25 20:50] #8600 closed

[2016-04-25 21:56] smarterclayton opened #8626 "ELB service loadbalancer controller is not enabled in Origin"
Prevents services of type LoadBalancer from being used.

[2016-04-25 21:56] smarterclayton commented on #8626
@ncdc since I know you had discussions about it.

[2016-04-26 00:28] ncdc commented on #8626
@smarterclayton yeah, it hasn't been enabled in Origin yet

[2016-04-26 05:07] anthonyrisinger commented on #8626
The use case driving this is supporting wildcard DNS. Is there a better way now, or better path forward to achieve this end?

[2016-04-26 08:18] kargakis commented on #4329
Oh, that's why my cancellation code never worked:)

Related: https://github.com/openshift/origin/issues/8439

[2016-04-26 10:31] #3336 closed

[2016-04-26 11:25] kargakis opened #8630 "Separate events between upstream deployment and downstream rc controller"
Deployment events from the upstream deployment controller are emitted using the "deployment-controller" name for the name of the component that emits them[1]. We currently use the same name for our deployment controller[2]. Two options: either 1) we don't care about this at all or 2) we change our controller's name.

cc: @ironcladlou @smarterclayton

[1] https://github.com/kubernetes/kubernetes/bl

[2016-04-26 11:43] #2931 closed

[2016-04-26 13:11] #7084 closed

[2016-04-26 14:31] #8083 closed

[2016-04-26 14:32] smarterclayton commented on #8626
This will be enabled in 1.3.0-alpha.1.

This is likely the easiest way to accomplish wildcard DNS - is this "on demand", or you only need one of them?

[2016-04-26 15:07] kargakis commented on #8498
Do we want to filter even between hooks? (pre, mid, post)

[2016-04-26 15:09] pweil- commented on #8498
seems helpful

[2016-04-26 15:27] smarterclayton commented on #8498
A naive client, looking at the pods, should know what they are for.  The
closer we can get to the api structures and concepts, the better (i.e. a
simple strategy-hook-type field is enough)

On Tue, Apr 26, 2016 at 11:09 AM, Paul Weil <notifications@github.com>
wrote:

[2016-04-26 15:30] kargakis commented on #8498
Talked with @legionus and it sounds reasonable to both of us now

[2016-04-26 17:09] mrunalp commented on #8427
@bparees Is the image used in the test fedora based? Does it have the `findmnt` command in it?
I would like to add it to gather more debug information.

[2016-04-26 17:46] mrunalp commented on #8427
Created #8635 to collect additional debug information.

[2016-04-26 18:03] #5450 closed

[2016-04-26 19:12] spadgett commented on #8470
Fixed by https://github.com/jwforres/origin/pull/47

[2016-04-26 19:12] #8470 closed

[2016-04-26 19:14] spadgett commented on #8262
Fixed by https://github.com/jwforres/origin/pull/49

[2016-04-26 19:14] #8262 closed

[2016-04-26 19:29] anthonyrisinger commented on #8626
In this case only one particular app needed it, so IIUC, a NodePort-based app + manually creating an ELB is sufficient. There are however a few apps in the pipeline that will also want this feature.

It's not the end of the world if we have to involve the Operations team for such things for now, but it would be nice if developers could make use of it on their own, as necessary.

Even better would

[2016-04-26 20:45] smarterclayton commented on #8626
That's a very reasonable request - we just haven't had anyone ask it
before.  We'd have to guard against overlap somehow (shouldn't let you
claim a name below someone else's name)

On Tue, Apr 26, 2016 at 3:29 PM, C Anthony Risinger <
notifications@github.com> wrote:

[2016-04-26 21:31] rhamilto commented on #7844
@spadgett, it appears that [the display of the warning is different now](https://github.com/openshift/origin/blob/master/assets/app/views/project.html#L122).

<img width="534" alt="screen shot 2016-04-26 at 5 30 25 pm" src="https://cloud.githubusercontent.com/assets/895728/14834853/ad9e0bcc-0bd4-11e6-8fa5-7f978df64dcc.PNG">

Am I missing something?

[2016-04-26 21:38] spadgett opened #8638 "Web console API discovery can be slow"
1.3 only. Sometimes API discovery can take 5 seconds, which makes the console feel slow. While waiting, all you see is a blank page.

This could be environmental, but I've seen it often enough that I think we should investigate.

<img width="609" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/14834970/47e885d6-0bd5-11e6-9100-2f9ac54fe5ea.png">

/cc @jwforres @l

[2016-04-26 21:52] #8352 closed

[2016-04-26 22:35] #8593 closed

[2016-04-26 23:35] jwforres commented on #8638
Hmm that is concerning, the API shouldn't take that long to respond.  I
haven't noticed that in my env but my api server is a couple weeks old, how
recent is yours?
On Apr 26, 2016 5:38 PM, "Sam Padgett" <notifications@github.com> wrote:

[2016-04-27 00:03] spadgett commented on #8638
Running the jenkins pipeline branch, so I'm not sure :/

It could be my environment if no one else sees it.

[2016-04-27 01:36] spadgett commented on #7844
I think that only happens when the you have more than one route. We're not showing you the route that has the warning on the overview.

[2016-04-27 02:54] hodrigohamalho commented on #3859
+1.

[2016-04-27 05:22] #7045 closed

[2016-04-27 06:54] praveenkumar opened #8640 "oc get doesn't show *template* in Valid resource types"
*template* is not listed as valid resource type when we try to do `oc get` with any resource type.

[code]
##### Version
[code]

##### Steps To Reproduce
[code]
##### Current Result
[code]

##### Expected Result
[code]
also should part of above list.

[2016-04-27 07:02] zhwenh opened #8641 "ceph Volume error"
[provide a description of the issue]
##### Version

openshift 1.1.6
##### Steps To Reproduce

Creating the Ceph Secret
In a secret definition, the storage administrator must define the admin authorization key, which is then converted to base-64 for use by OpenShift. The ceph auth get-key command is run on a Ceph MON node to display the key value for the client.admin user:

Example 1. Ceph Secret D

[2016-04-27 08:51] kargakis opened #8642 "Consider moving dc trigger lastTriggeredImage to status"
[lastTriggeredImage](https://github.com/openshift/origin/blob/6f6d94c5d3878924be8c21de9064858a5a5889bf/pkg/deploy/api/types.go#L349) feels more like a [status detail](https://github.com/openshift/origin/blob/6f6d94c5d3878924be8c21de9064858a5a5889bf/pkg/deploy/api/types.go#L369) rather than a part of the spec

cc: @ironcladlou @smarterclayton

[2016-04-27 09:34] soltysh commented on #8399
I'm reopening for the time of debugging the failure in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/301/consoleFull

[2016-04-27 10:14] soltysh commented on #8399
@smarterclayton after careful investigation the only two operations we do not retry are [store.Open](https://github.com/openshift/origin/blob/6f6d94c5d3878924be8c21de9064858a5a5889bf/pkg/dockerregistry/server/pullthroughblobstore.go#L118) and [io.CopyN](https://github.com/openshift/origin/blob/6f6d94c5d3878924be8c21de9064858a5a5889bf/pkg/dockerregistry/server/pullthroughblobstore.go#L127) from `pu

[2016-04-27 10:42] mfojtik opened #8643 "We should sort builds based on the build number"
When having 10+ builds, the `oc get builds` will produce this:

[code]

This looks bad especially now when we will default to `Serial` run policy, that will execute the builds in order.
The only drawback I can see here is that you can have builds with different names (most likely you will have 1 BC per project).

[2016-04-27 10:43] mfojtik commented on #8643
@fabianofranz @kargakis FYI

[2016-04-27 10:44] mfojtik opened #8644 "The oc get projects shuffles the items"
[code]

As you can see the ordering is shuffled every time I run the command. We should sort the list based on alphabet?

[2016-04-27 10:44] mfojtik commented on #8644
@fabianofranz @kargakis FYI

[2016-04-27 10:45] mfojtik opened #8645 "Misleading oc projects command"
When executing `$ oc projects` (common mistake/command I can see on workshops), you will get:

[code]

I think we should either list the projects (because the "projects" is plural and I expect to see my projects) or print the usage with suggestion to run `$ oc get projects` instead.

[2016-04-27 10:45] mfojtik commented on #8645
@fabianofranz @kargakis FYI

[2016-04-27 10:59] kargakis commented on #8645
cc: @deads2k @liggitt

[2016-04-27 11:04] kargakis commented on #8643
Builds with different names should be separated. For example, I would expect something like
[code]
Either that or we should sort based on timestamps. Do we guarantee that builds with higher versions are always newer?

[2016-04-27 11:07] mfojtik commented on #8643
@kargakis yes we do AFAIK.

[2016-04-27 11:23] smarterclayton commented on #8399
What backs the input stream that is returned by open?

On Apr 27, 2016, at 6:14 AM, Maciej Szulik <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> after careful
investigation the only two operations we do not retry are store.Open
<https://github.com/openshift/origin/blob/6f6d94c5d3878924be8c21de9064858a5a5889bf/pkg/dockerregistry/server/pullthroughblobstore.go

[2016-04-27 11:39] deads2k commented on #8645
I don't think `oc project` and `oc projects` should be different, so I'd keep them as the same command.

For small numbers of projects, that's very useful.  For large numbers of projects in a kubeconfig file, it can be difficult to display, but there is a spot to note utilization (`runtime.Object`) if we really wanted to.  For large numbers of projects server-side you're in a pickle.  That could b

[2016-04-27 11:52] paralin opened #8646 "RSA verification error against host kubernetes"
Running under Kubernetes.

This is happening again any idea where I should begin in terms of fixing this? Diagnostics shows no errors.

[2016-04-27 12:27] bparees opened #8647 "daemonset test flake"
[code]
from: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/491/console

[2016-04-27 12:40] paralin commented on #8646
It's basically this: https://github.com/asiainfoLDP/datafoundry-troubleshooting/issues/21

[code]

If, from within the openshift pod, I attempt to use the external-master.kubeconfig using kubectl it works fine for every operation I can think of. Any ideas?

[2016-04-27 12:53] smarterclayton commented on #8647
@pweil- @ncdc can you have someone look at this?  This *could* be a cleanup issue (I notice there are "overcommit" pods still scheduled, maybe from a previous job).  This should be in the serial execution path (where we run them one at a time because they have [Serial])

[2016-04-27 13:13] pweil- commented on #8647
Looks like it's occurring during ns cleanup timing out with remaining pods.  Seems to also have occurrred on the latency tests.  From the linked console:

[code]

Still investigating.

[2016-04-27 13:15] smarterclayton commented on #8647
Could this be the leaky namespace issue that QE reported this morning?
 @derekwaynecarr

On Wed, Apr 27, 2016 at 9:13 AM, Paul Weil <notifications@github.com> wrote:

[2016-04-27 13:16] ncdc commented on #8647
@smarterclayton link?

[2016-04-27 13:39] smarterclayton commented on #8647
Bug 1322538: Project delete leads to unexpected items in namespace and
causes reliability cluster to eventually go
unusable [ASSIGNED][Kubernetes][unspecified][high][Regression]

On Wed, Apr 27, 2016 at 9:16 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-04-27 13:49] ncdc commented on #8647
That bug is https://github.com/kubernetes/kubernetes/issues/24819

[2016-04-27 14:27] liggitt commented on #8646
looks like a mismatch in service account tokens between openshift and kube. are you configuring openshift to let kube handle creating the tokens (serviceAccountConfig.privateKeyFile should be empty) and giving openshift the correct public key to verify the tokens (serviceAccountConfig.publicKeyFiles should contain the key from kube)? if you ever had those misconfigured, you could also have invalid

[2016-04-27 14:28] soltysh commented on #8399
Per [this comment](https://github.com/docker/hub-feedback/issues/647#issuecomment-214880762) I'm proposing to wait a bit and see what happens and how fast their fix will be actually live. Additionally talking to @smarterclayton on IRC he's not too much comfortable with us retrying reading bytes.

[2016-04-27 14:37] #2441 closed

[2016-04-27 14:45] rhamilto commented on #7844
The only reliable fix I've come up with so far is to put the warning icon before the route hostname instead of after.

![screen shot 2016-04-27 at 10 42 34 am](https://cloud.githubusercontent.com/assets/895728/14856130/dade1a9c-0c64-11e6-8529-63b7174f592b.PNG)

Any objections, @spadgett, @jwforres, @benjaminapetersen, @sg00dwin?

[2016-04-27 14:57] gabemontero opened #8651 "extended test flake on namespace set up"
Synopsis located here: https://ci.openshift.redhat.com/jenkins/failure-cause-management/5720d0c7e4b034b3320088d1/

First seen as part of merging this PR:  https://github.com/openshift/origin/pull/8219

with this test run:  https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/472/console

[2016-04-27 15:09] benjaminapetersen commented on #7844
Works for me!

[2016-04-27 15:18] rhamilto commented on #7421
In reviewing the existing [tile-image](https://github.com/openshift/origin/blob/master/assets/app/views/catalog/_image.html#L10-L22) and [tile-template](https://github.com/openshift/origin/blob/master/assets/app/views/catalog/_template.html#L8-L20) templates, I notice that in addition to "Version", "Provider" and "Namespace" also optionally display in the same way as "Version".  Whatever we decide

[2016-04-27 15:28] aveshagarwal commented on #8647
@pweil- said that he might be busy, so I am starting to look into it.

[2016-04-27 15:43] pweil- commented on #8647
still looking, just have some meetings this afternoon.  Thanks for the help @aveshagarwal, much appreciated!

[2016-04-27 16:26] aveshagarwal commented on #8647
It seems that this flake is not specific to daemon sets, as I see so many other failures in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/491/console all related to not able to delete ns (errors" FAIL: Couldn't delete ns...").

[2016-04-27 17:00] paralin commented on #8646
@liggitt I cleared the /srv/kubernetes dir on the kube master, restarted it, grabbed the server.key from there, rebuilt the entire openshift deploy, unset the flag on default for service account setup=true, deleted all the service accounts so they would be re-created, and I'm still getting the error.

The annoying thing is that it seems to be able to interface with the kube master just fine:

[cod

[2016-04-27 17:01] paralin commented on #8646
You mentioned removing service account tokens, how do I do that? Do you mean from OpenShift or Kube etcd?

[2016-04-27 17:04] liggitt commented on #8646
Does that mean you restarted kubernetes against an existing etcd with a newly generated service account key? If so, that's the issue.

They're kube objects, so they should be in kube etcd. Remove the service account tokens by deleting the secrets containing them (`kubectl delete secret <name>`)

[2016-04-27 17:06] paralin commented on #8646
@liggitt Yeah, I basically manually combed through our cluster setup to change the pod CIDR on AWS since it was colliding with some other things we need to access. It was NOT a fun process. Anyway I will try deleting all of those secrets now.

[2016-04-27 17:10] aveshagarwal commented on #8647
The first failure I see:

[code]

One common failure I see:

[code]

[2016-04-27 17:18] aveshagarwal commented on #8647
Just listing here to understand the impact/cause of these errors:

[code]

[2016-04-27 17:27] paralin commented on #8646
@liggitt I deleted all the secrets in the openshift namespace and most of the others, but I'm still getting the same error. Any other ideas? Should I restart the kube api server?

[2016-04-27 17:46] aveshagarwal commented on #8647
And also the issues with left over pods:

[code]

[2016-04-27 18:32] bparees opened #8655 "can't delete docker-type buildconfigs if docker strategy permission is removed"
Create a docker type buildconfig

then (w/o running any builds), remove docker strategy permission from your user:
https://github.com/openshift/openshift-docs/pull/1909/files

then attempt to oc delete the buildconfig.

it will fail with:
[code]
This is because the reaper is attempting to first update the buildconfig to "paused" and the update is not permitted when you don't have docker buildconfi

[2016-04-27 18:55] aveshagarwal commented on #8647
I wonder why a namespace created in one test is being cleaned up in other tests and making them fail? It seems that once a namespace clean up fails in one test, it is causing failures of all subsequent tests.

[2016-04-27 21:18] aveshagarwal commented on #8647
It seems weird that a pod (svc-latency-rc-4m8kg) left over from `Service endpoints latency` test with ns `e2e-tests-svc-latency-i3i1h` is  visible in the event logs of ` Daemon set [Serial] ` with different ns `e2e-tests-daemonsets-61m4o`. Seems like a bug to me.

[2016-04-27 21:23] aveshagarwal commented on #8647
What is happening with DS test is that its pod `daemon-set-xpldy` in ns `e2e-tests-daemonsets-61m4o` is always in pending phase. There is a successful delete event too:

[code]

But why the pod is still on the node after almost 12 minutes is a mystery to me:

[code]

And this is causing the namespace to linger and the test to time out/fail.

[2016-04-27 21:23] #4169 closed

[2016-04-27 23:08] smarterclayton opened #8658 "build editor says "docker image link" - it should be "docker image repository" or "docker repository""
It's not really a link - we don't use that terminology anywhere else.

[2016-04-27 23:15] smarterclayton opened #8659 "Can't switch back to "ConfigMap" resource in the UI (stays on whatever other resource I was on)"
ConfigMap was the first in the list, switched to Templates, couldn't go back.

Saw this in the console window, not sure if it's at the same time though:

[code]

[2016-04-27 23:45] #7822 closed

[2016-04-27 23:45] #8640 closed

[2016-04-27 23:46] #8498 closed

[2016-04-28 00:14] andrewklau opened #8660 "Applications+projects are not able to build if project is very new"
Apps that are created in projects that are very newly created (30~ seconds) do not get the service account added? If the user waits 1+ minute this issue does not happen.

Error message:
Failed to create build pod: pods "asd-1-build" is forbidden: no API token found for service account test/builder, retry after the token is automatically created and added to the service account.

##### Version
1.2.

[2016-04-28 02:04] paralin commented on #8646
Okay, I fixed it with this:

[code]

Thanks!

[2016-04-28 02:04] #8646 closed

[2016-04-28 02:24] paralin opened #8661 "Changing the ClusterIP of the docker-registry service"
I've changed the cluster IP for the docker-registry service, and all my ImageStreams seem to have updated properly. But the DeploymentConfigs are still set to the old IP address, and when I trigger a new deploy, it doesn't use the new cluster IP address.

Is there some way to fix this other than restarting all the builds? I've also tried editing the deployment configs but the image IP address does

[2016-04-28 02:35] liggitt commented on #8661
Changing the IP currently requires a master restart (https://github.com/openshift/origin/issues/1723 was opened for it, but closed as wontfix). Things that reference the IP explicitly would need redeploying (issue to move to DNS based references: https://github.com/openshift/origin/issues/6924 and https://github.com/openshift/origin/issues/8581, among others)

[2016-04-28 02:44] paralin commented on #8661
@liggitt Fixed it by re-triggering all the builds as per the issues you linked. It could be useful to have an oadm command to reconcile the registry IP address, and also to use DNS for the registry (but this is something already in progress of course).

[2016-04-28 02:44] #8661 closed

[2016-04-28 05:10] marun commented on #7076
This would be very useful.  I'm not sure this capability exists upstream, though (as per https://github.com/kubernetes/kubernetes/issues/16412).

[2016-04-28 07:30] ingvagabund commented on #8547
The ``66271389184`` is not divisible by ``1024`` (64718153.5), hence no ``Ki`` sufix.

From the code:
[code]

Those
[code]
are actually set by user:
[code]

Hence the difference in units.

[2016-04-28 08:46] soltysh commented on #8399
The same problem `time="2016-04-28T08:01:16.159905939Z" level=error msg="Failed copying content from remote store \"sha256:b216856605521bf39a8784690d432d80d9a6ee20323d6c6d9972715f825676f7\": unauthorized: authentication required"` appeared in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/450/ (the linked PR).

[2016-04-28 12:16] liggitt commented on #8660
How many projects exist in total? Is there quota set up on serviceaccounts or secrets on new projects by default? What sort of CPU load is the master API server under?

[2016-04-28 12:25] jwforres commented on #8659
yeah thats caused by the issue derek is fixing where config maps werent returning the empty array for items

[2016-04-28 12:26] jwforres commented on #8659
@derekwaynecarr when do you think that fix will be in origin?

[2016-04-28 12:29] jwforres commented on #8659
dup'ing this on the bug QE opened https://bugzilla.redhat.com/show_bug.cgi?id=1331324

[2016-04-28 12:29] #8659 closed

[2016-04-28 12:58] spadgett commented on #8264
No longer a problem. I believe it was fixed by https://github.com/jwforres/origin/pull/27

[2016-04-28 12:58] #8264 closed

[2016-04-28 13:05] spadgett commented on #7077
We're displaying size now on the overview, although not on the browse image streams page:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/14886730/57d2ae94-0d20-11e6-803c-2f18a23b0748.png)

[2016-04-28 13:08] spadgett commented on #6992
The basic problem is fixed by #8149.

[2016-04-28 13:09] jwforres commented on #7077
yeah dont want to waste time updating the image streams page since we
should be bringing in stef's stuff to replace it

On Thu, Apr 28, 2016 at 9:05 AM, Sam Padgett <notifications@github.com>
wrote:

[2016-04-28 13:10] spadgett commented on #6826
@jwforres is this covered by https://trello.com/c/MWGqYyzj ?

[2016-04-28 13:12] spadgett commented on #6175
Related to https://trello.com/c/xlQaSaxT

[2016-04-28 13:13] jwforres commented on #6826
yes, closing since its tracked in trello

[2016-04-28 13:13] #6826 closed

[2016-04-28 13:14] spadgett commented on #5750
Fixed by #7669 and #8344.

[2016-04-28 13:14] #5750 closed

[2016-04-28 13:15] spadgett commented on #5750
#7652 tracks adding status above tabs

[2016-04-28 13:16] spadgett commented on #5413
Tracked by https://trello.com/c/zxALvq4S ?

[2016-04-28 13:18] jwforres commented on #5413
yes

[2016-04-28 13:18] #5413 closed

[2016-04-28 13:27] spadgett commented on #2380
Old issue... We have this for the overview and browse pages now.

[2016-04-28 13:27] #2380 closed

[2016-04-28 14:17] mfojtik commented on #8589
Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/475/console

[2016-04-28 14:18] benjaminapetersen commented on #7377
Link back to trello as well: https://trello.com/c/Lgg1kFJS/631-5-tech-debt-bump-node-and-bower-dependencies

[2016-04-28 15:02] smarterclayton commented on #8589
What's an ETA on fixing this?

On Thu, Apr 28, 2016 at 10:18 AM, Michal Fojtik <notifications@github.com>
wrote:

[2016-04-28 15:15] sdodson opened #8663 "BuildDefaults don't show up in Environment of BuildConfigs or Builds"
It's fairly opaque to end users that there are BuildDefaults or BuildOverrides being defined for them. It'd be nice if these were somehow displayed in the Environment section of BuildConfigs and Builds.
##### Version

oc v3.2.0.20
kubernetes v1.2.0-36-g4a3f9c5
##### Steps To Reproduce
1. Provision an environment with BuildDefaults admission controller defined.
2. Create a buildconfig, build it.
##

[2016-04-28 15:17] liggitt commented on #8589
@csrwng is going to add a helper to check that a pod can be created successfully (useful for satoken cache checks, scc cache checks, etc), and will update the test

[2016-04-28 15:19] csrwng commented on #8589
PR should be ready shortly

[2016-04-28 16:29] thesteve0 opened #8665 "Why is there no oc get env?"
There is an oc set env but there is no oc get env

All I want is to get the env variables set on an object like the DC - not have to read through a big long JSON or YAML file. Please fix ASAP. I know there is an oc set env --list but that is non intuitive and wrong.

Thanks!

[2016-04-28 16:42] kargakis commented on #8665
cc: @fabianofranz @smarterclayton

[2016-04-28 16:43] liggitt commented on #8665
`get` is the generic command that works against resource types... it's not available for this use

`oc env --list` works, but is marked deprecrated. I agree, putting read-only and remove actions under `set` is weird.

[2016-04-28 16:46] thesteve0 commented on #8665
Well then get rid of set also or at least change it to something like
set-env. By using set, I the developer, assume I can use set, get, delete
syntax.

On Thu, Apr 28, 2016 at 9:43 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-04-28 16:50] sg00dwin opened #8667 "Filtered events displays incorrect message when all events filtered"
Message displayed "No events to show."

Correct message "All events hidden by filter. Clear filter"

[2016-04-28 17:14] ewolinetz opened #8668 "oc new-app with multiple parameters regression"
I noticed this starting to happen today, if I have a template that i try to process and create using `oc new-app`

1) if there are no parameters to pass in, this works as expected
2) if there are multiple parameters, with different attempts of the same command (!!) I get different parameter names coming back as "unexpected"
I've experimented using multiple "-p" parameters and using a comma delimit

[2016-04-28 18:28] wenskys opened #8671 "How to use the persistence when I build?"
Hi,
   I want to use the .m2 as a persistence  for maven when i build java application.it's make the fast build when i use the local maven repository(we have a nexus repository).
   So i use volumeMounts and nfs to mount a persistence volumes,but to come into force only when running the pod,such as
[code]
  How to use the persistence when I build?
  Looking forward to your help，Thank you.

[2016-04-28 19:29] sosiouxme commented on #8668
Might be related to b591700ee0492328d281a201974557985ee32621 ?

[2016-04-28 19:37] #8471 closed

[2016-04-28 19:53] aweiteka commented on #8668
I was able to repro this.

FWIW, my workaround is to process the template and pass to create.

[code]

[2016-04-28 20:01] smarterclayton commented on #8668
I'm getting: error: unable to load template file "https://github.com/openshift/origin-aggregated-logging/blob/master/deployment/templates/support.yaml": bufio.Scanner: token too long

on that template.

[2016-04-28 20:03] sosiouxme commented on #8668
try the raw version of that page

[2016-04-28 20:06] smarterclayton commented on #8668
It's not finding the parameter in the template - can you think of why that is?

[2016-04-28 20:14] aweiteka commented on #8668
I'm not at all familiar with the code path but does it help that oc process is working?

[2016-04-28 20:31] sosiouxme commented on #8668
The parameter is in the template. It's just not finding it.

[2016-04-28 20:32] smarterclayton commented on #8668
It's fixed in #8674.  Added a test case, which we did not have.

On Thu, Apr 28, 2016 at 4:15 PM, Aaron Weitekamp <notifications@github.com>
wrote:

[2016-04-28 22:33] smarterclayton commented on #8665
We needed a generic verb to gather related nouns under.  The kind of
"set" you are describing is "update" or "apply".  The other purpose of
set is to bring things together that are discoverable (there are far
too many things to set).

get has defined semantics already that we cannot change - I think
supporting get env might be possible in the future, but not there
today.

[2016-04-28 22:41] thesteve0 commented on #8665
But the command is already _oc get env_, which is why I am confused. I am
saying to drop the get since it is used incorrectly here because env is not
an OpenShift or Kube resource.

On Thu, Apr 28, 2016 at 3:33 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-28 22:50] andrewklau commented on #8660
No previously projects exist for this test, there is a quota set in the default project template. The CPU load on the master is very low.

[2016-04-28 22:59] liggitt commented on #8660
Are service accounts or secrets quotaed?

[2016-04-28 23:13] andrewklau commented on #8660
spec:
    hard:
      [...]
      services: 10
      secrets: 20

[2016-04-28 23:16] liggitt commented on #8660
Secret quota is the issue. https://bugzilla.redhat.com/show_bug.cgi?id=1324179 Is open to track the issue. The fix is for the token controller to retry token creation more quickly on failures. That work is in progress in https://github.com/openshift/origin/pull/8355

[2016-04-29 01:52] #8589 closed

[2016-04-29 01:55] andrewklau commented on #8660
Awesome

[2016-04-29 01:55] #8660 closed

[2016-04-29 03:24] #8668 closed

[2016-04-29 06:44] wanghaoran1988 opened #8680 "oc new-build/new-app show imagestream already exists when create a build/app using same builder image but different tag"
[provide a description of the issue]
I want to use oc new-build create two bc , first one using the builder image tag latest , second using same image different tag like <image>:tag2,  the new-build/new-app command will failed the second time.
##### Version

[provide output of the `openshift version` or `oc version` command]
openshift v1.3.0-alpha.0-97-g12c24f1
kubernetes v1.3.0-alpha.1-331-g0522e

[2016-04-29 07:31] vbehar commented on #8671
You should use source-to-image and incremental builds: https://docs.openshift.org/latest/dev_guide/builds.html#incremental-builds

But you will need to use a base image that supports incremental builds for maven

[2016-04-29 12:15] deads2k opened #8682 "make watch project respect resourceVersion="0""
make watch project respect resourceVersion="0"

[2016-04-29 13:30] bparees commented on #8671
our wildfly image implements incremental builds, for example:
https://github.com/openshift-s2i/s2i-wildfly/blob/master/10.0/s2i/bin/save-artifacts

[2016-04-29 13:30] #8671 closed

[2016-04-29 14:08] sosiouxme opened #8684 "openshift start with config: Failed to get supported resources from server"
In a devenv when I write the config and then try to use it, I get a failure.
##### Version

[code]
##### Steps To Reproduce
1. openshift start --write-config=/etc/origin
2. openshift start --master-config=/etc/origin/master/master-config.yaml --node-config=/etc/origin/node-ip-172-18-11-169.ec2.internal/node-config.yaml
##### Current Result

[code]

... and it halts.

[2016-04-29 14:14] liggitt commented on #8684
You're likely running against an existing etcd with existing service account tokens, with a new config with new service account token verifying keys. Some of the controllers use tokens and will fatal if rejected. In general, the token controller should probably ensure tokens are valid with current config, and the controller setup should work harder to give the controller a token it can use on star

[2016-04-29 14:17] sosiouxme commented on #8684
With a fresh instance everything went fine.

[code]

[2016-04-29 14:41] dvohra commented on #7873
Getting the same issue with

kubernetes v1.1.0-origin-1107-g4c8e6f4
Docker version 1.11.1, build 5604cbe
Ubuntu 3.13.0-85-generic

[2016-04-29 15:21] rmassing opened #8685 "--help"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oadm diagnostics` command if possible]
[if you are reporting issue related to builds, provide build logs with `BUILD_LOGLEVEL=5`]
[consider

[2016-04-29 15:44] #8685 closed

[2016-04-29 20:38] #4207 closed

[2016-04-30 02:06] andrewklau opened #8695 "dynamicaly provisioned AWS EBS volumes not deleted on release"
EBS persistent volumes aren't being deleted when they are released, the logs seem to indicate because they're being mounted in multiple places ?

Apr 30 01:56:30 ip-172-31-8-226 origin-node[6982]: W0430 01:56:30.260266    7096 kubelet.go:1995] Orphaned volume "f05c328b-0cc5-11e6-82e3-026cee1c65e7/pv-aws-yx6ff" found, tearing down volume
Apr 30 01:56:30 ip-172-31-8-226 origin-node[6982]: I0430 01:5

[2016-04-30 02:06] kargakis opened #8696 "Remove shared dependency from deployment trigger controllers"
The image change and config change controllers are using the same generator to update deploymentconfigs. This has lead in problems like races and holes in our registry. We should remove the generator and push related bits to the related controllers.

cc: @ironcladlou @liggitt

[2016-04-30 02:39] #8452 closed

[2016-04-30 12:26] liggitt commented on #8622
We'll want these before enabling:
https://github.com/kubernetes/kubernetes/pull/25006
https://github.com/kubernetes/kubernetes/pull/25007

[2016-04-30 16:57] kargakis commented on #8696
Actually the image change controller would still need to update both the spec and status of a dc. I really cannot see how can we avoid the hole in the registry once we split the calls to spec and status. Either that or we could have the image change controller update the spec and status separately.:/

[2016-04-30 17:23] liggitt commented on #8696
I would expect the image change controller to just update the spec (change images, record desire to have another deployment) and the config change controller would act on that, trigger the deployment, and update status

[2016-04-30 18:36] DarkSkull91 opened #8698 "Unable to use Kubernetes API in OpenShift"
I'm trying to use Kubernetes API when I start OpenShift but I can't, I used the latest version of OpenShift Origin.
I wrote this simple program in Go:

[code]
But when I run this code, I got this error:

`Error:  User "system:anonymous" cannot list all namespaces in the cluster`

I'm sure that OpenShift is well-configured because if I type:
`oc get nodes`
shell shows me:
[code]
Did I miss some con

[2016-04-30 18:39] thesteve0 opened #8699 "oc expose won't let me specify a specific port for a route"
I have a service which has three different ports 9091, 9090, and 3000. I want the external route to go to 3000 so I tried two different methods with oc expose:

pousty@localhost scope$ oc expose svc crunchy-scope --port=3000
error: cannot use --port when generating a route
spousty@localhost scope$ oc expose svc crunchy-scope --target-port=3000
error: cannot use --target-port when generating a rout

[2016-04-30 18:52] liggitt commented on #8698
Openshift does not support basic auth against the API. You need to obtain a bearer token from the OAuth endpoint (see the output of `oc login -u admin -p password` to see the network calls to accomplish that) or specify a client certificate/key (like the admin client cert/key generated at startup).

[2016-04-30 19:04] DarkSkull91 commented on #8698
With the bearer code, I got this error:
`Error:  User "admin" cannot list all namespaces in the cluster`

[2016-04-30 19:08] liggitt commented on #8698
Great, you're through the authentication layer :)

If you want the "admin" user to have permissions, you need to grant them from a user that has those permissions. Typically that's the cluster admin "system:admin" user.

Try this:

[code]

[2016-04-30 19:16] DarkSkull91 commented on #8698
Thank you very much @liggitt :+1: but the right command that I use is
`oadm policy add-cluster-role-to-user cluster-admin admin`
because with your command I got:
`error: unknown command "add-cluster-role-to-user cluster-admin admin"`
Anyway, thank you again you give me a valid hint :)

[2016-04-30 19:16] #8698 closed

[2016-04-30 22:38] kargakis commented on #8696
If we implement pausing right then we may not need the config change controller anymore. I would expect only one client of deploymentconfig/status - the main dc controller

[2016-05-01 00:55] kargakis commented on #8699
cc: @deads2k @fabianofranz

[2016-05-01 23:56] catherinesword opened #8700 "Service external IP and Router"
[provide a description of the issue]
Earlier in February I tried to assign externalIP to service and it worked, recently when I tried again I noticed that it was disabled already. So I'm wondering if still possible for a service to have an external IP or it is forbidden..

Also I noticed that with my new OpenShift instance on AWS, the router is by default installed. I've tried to use it, but someh

[2016-05-02 01:16] smarterclayton opened #8701 "Flake in TestSAAsOAuthClient"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/586/console

[code]

[2016-05-02 01:45] gt-tech opened #8702 "Router not admitting/selecting any routes"
I have followed all the steps and have "router" configured properly. It seems to be working until yesterday but then it's a small lab setup and seems like Openshift environment got messed up a bit - i figured it's etcd data that got corrupted.

After several hit/trials to fix the issue, I removed openshift altogether and re-installed again (advanced installation - through ansible playbook).

Ever

[2016-05-02 02:29] gt-tech commented on #8702
Interesting, the problem only occurs when I have more than one node up, if i only have one node up there's no problem. My lab setup consists of two servers one of which has both master and a scheduling node on it while other server being just a node, if i shut down the node-only instance, then I don't get above error!

For router, I have a non-HA setup that runs on the server that acts as both mas

[2016-05-02 07:56] jhadvig opened #8704 "Create directive to add/remove specific trigger in BC editor"
Now since we are tolerating multiple triggers of one kind, it would be good to have a way to add/remove specific trigger in BC edit page. Most probably a directive that we could recycle.
cc'ing @jwforres @spadgett

[2016-05-02 08:47] ingvagabund commented on #8547
@jeremyeder is there anything else that is not the way it should be?

[2016-05-02 10:39] jeremyeder commented on #8547
No, explanation from your last comment helps.  Still weird though.

[2016-05-02 10:39] #8547 closed

[2016-05-02 10:42] mrosic opened #8705 "Feature request: Upgrade the internal registry to version 2.4.0 in order to get GC for registry layer blobs"
Hello,

I am very eager to see OpenShift switch to Docker Registry 2.4.0 because this release finally provides a garbage collection for registry layer blobs:
https://github.com/docker/distribution/releases/tag/v2.4.0

Due to historical reasons we have lots of unreferenced registry layer blobs and it would be a big relief to see those gone.

[2016-05-02 11:59] deads2k commented on #8699
@kargakis isn't this `oc create route edge crunchy-scope-route --service=crunch-scope --port=3000`?

[2016-05-02 12:03] kargakis commented on #8699
`oc create route edge` and every other `create route` subcommand for that matter is for secured routes. Only `oc expose` creates unsecured routes atm

[2016-05-02 12:05] deads2k commented on #8699
Ok, but otherwise that is the command?  The fact that both `--port` and `--target-port` are options on `oc expose` gives me pause about trying to use it.  I'd probably be a happier person with `oc create route insecure`.

[2016-05-02 12:11] pweil- commented on #8705
R&D currently in progress with trello card https://trello.com/c/OYpmTIHl/644-8-r-d-support-for-docker-registry-2-4

[2016-05-02 12:14] kargakis commented on #8699
Otherwise, yes.

I would expect an example whould do the job but I don't feel strong. @fabianofranz @smarterclayton preferences on:
[code]
vs
[code]

[2016-05-02 12:19] deads2k commented on #8699
@kargakis what would `oc expose svc crunchy-scope --target-port=3000` do?

[2016-05-02 12:21] kargakis commented on #8699
@deads2k what it already does ie. returns an error that you cannot use --target-port when exposing routes

[2016-05-02 12:25] deads2k commented on #8699
I hate this command so much.  For those of us following along at home, what is difference between `--container-port`, `--port`, and `--target-port` for each of the different things that `oc expose` does?

[2016-05-02 12:29] deads2k commented on #8699
Also, the fact that I have to ask is indicative of the insanity that is `oc expose`.

[2016-05-02 12:31] pweil- commented on #7422
@catherinesword are you still having issues with this or did 7247 resolve this?

[2016-05-02 12:33] kargakis commented on #8699
lol

I think this boils down to the fact that we wanted expose to work for routes too. Which makes sense but upstream had already overloaded the command to work just for services.

ps. opened https://github.com/kubernetes/kubernetes/issues/25039 upstream

[2016-05-02 12:33] pweil- commented on #5570
looks like the upstream has merged.  @dkorn can this be closed now?

[2016-05-02 12:45] catherinesword commented on #7422
@pweil- not anymore, this issue can be closed. Thank you!

[2016-05-02 12:45] #7422 closed

[2016-05-02 12:56] pweil- commented on #7422
thanks for the update!

[2016-05-02 13:22] mfojtik opened #8707 "s2i build with a quota extended test flake"
Extended.[builds][Conformance] s2i build with a quota Building from a template should create an s2i build with a quota and run it

Can be seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/710/consoleText

The relevant part of the logs:

[code]

It expect `QUOTA=6000`.

This is pretty regular flake.

[2016-05-02 14:02] bparees commented on #8707
dupe of https://github.com/openshift/origin/issues/8427
@mrunalp fyi.

[2016-05-02 14:25] catherinesword commented on #8700
..now it seems I solved the problem: I created route manually, and corrected the host name, also used path, and it works..
So I close the issue.

[2016-05-02 14:26] mfojtik commented on #8707
@bparees I swear I used search :-)

[2016-05-02 14:51] #8023 closed

[2016-05-02 16:21] catherinesword commented on #8700
Just I'm still not sure about the external IP issue.. Could any one give me some hints? Thanks!

[2016-05-02 16:29] catherinesword commented on #8700
Another issue with route:
When I tried the "hello openshift" pod-service-route, I used path ```"path": "/hello"``` and it worked fine. However if I do the same for the jetty service ```"path": "/jetty"``` then 404 not found, only if I use the public DNS of the AWS instance as the host name it works, on port 80.
What is the difference of these two cases? I wonder if I missed something..

Also if I

[2016-05-02 16:55] mrunalp commented on #8427
From debug output in #8707, I see that the cgroups mounts are correct ruling out a race there. More likely the value is getting overwritten. I will check with the kernel team.
[code]

[2016-05-02 17:40] knobunc commented on #8700
I'm confused by where you are stuck at the moment.  Can you give the URL you are trying to hit, and the output from oc get routes.

You need to set DNS up outside the cluster so that it resolves the hostnames for all of your routes to the cluster.  If you give a subdomain to the cluster, and point DNS for that subdomain at the cluster DNS, then it will be able to resolve the names just by creating

[2016-05-02 18:37] mfojtik opened #8710 "oc ex dockerbuild issues tracker"
@smarterclayton few improvements after playing with dockerbuild on various images:
- We should print the instruction on default loglevel, otherwise you might wait for some time and have no idea what is executed.
- Maybe provide `-t` option to make it compatible with docker build
- I assume the FROM image pulling is muted as well, we should display progress bar or message
- It would be nice if we c

[2016-05-02 18:39] mfojtik commented on #8710
@smarterclayton if some of these makes sense, I can help fixing them.

[2016-05-02 18:47] mfojtik commented on #8645
@deads2k does `oc projects` returning the currently set project sounds good to you? to me the plural indicate I want list of my projects... Also I saw users on workshops doing the same mistake...

For a long list, the `oc project` will always give you the current project and for `projects` can we trim the list and suggest user to use `oc get projects`? (or my other suggestion, on `oc projects` sug

[2016-05-02 18:54] smarterclayton commented on #8710
They do, let's gather some feedback over the next few days and see
what else people have before we go to the next step.

[2016-05-02 19:16] mwoodson commented on #7019
We have run into this issue in Openshift Ops.  We change secrets, but nothing redeploys.  Then, our service is broken.

[2016-05-02 19:46] catherinesword commented on #8700
@knobunc  Thank you for your reply! Here's the output from oc get routes
[code]
The hello-openshift-route works fine, I can access it with ```ec2-52-3-246-99.compute-1.amazonaws.com/hello```, but for the jetty-route, only works without path.

I'll have a look at DNS setup and subdomain config, thanks!

[2016-05-02 20:08] #8578 closed

[2016-05-02 20:52] aweiteka opened #8714 "registry-admin role cannot delete projects"
registry-admin role should be able to delete projects.

##### Version
oc v1.3.0-alpha.0-56-gd9c6483
kubernetes v1.3.0-alpha.1-331-g0522e63

##### Steps To Reproduce
1. oc whoami -> bob
1. oc new-project test-project
1. oc policy add-role-to-user registry-admin bob
1. oc policy remove-role-from-user admin bob
1. oc delete project test-proj

##### Current Result
Error from server: User "bob" cannot

[2016-05-02 21:09] aweiteka commented on #8714
PR introducing registry-admin role: https://github.com/openshift/origin/pull/6963

cc @sub-mod

[2016-05-02 21:23] #7722 closed

[2016-05-03 07:32] vbehar commented on #8710
Hi, just started playing with it, and noticed that the MAINTAINER instruction is ignored.

[2016-05-03 07:36] vbehar commented on #8710
+1 for printing the instruction at the default level. It's what people are used to see when building images, and it helps to know what is going on.

[2016-05-03 10:39] catherinesword commented on #8700
@knobunc I've solved the problem with path, thank you for your help, this issue can be closed.

[2016-05-03 10:39] #8700 closed

[2016-05-03 11:48] deads2k commented on #8714
opened https://github.com/openshift/origin/pull/8716

[2016-05-03 11:53] mfojtik commented on #8710
Another small issue:

[code]

[2016-05-03 12:29] spadgett opened #8718 "Web console doesn't show line breaks in template descriptions"
The tooltip shows the full description compared to what we show in the page. We should probably include the linebreaks and maybe more characters by default with click to expand.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/14983083/df3addfc-1108-11e6-8584-5baccffa1901.png)

/cc @jwforres

[2016-05-03 13:00] mfojtik commented on #8643
@bparees @fabianofranz I tried to fix this (created custom sort interface that compares build numbers and build names), but I found interesting bug/feature. It seems like the new sorter sorts builds in `oc describe bc/foo` BUT the `oc get builds` completely ignores the `printBuildList` function.
I think there might be a bug in how `kubectl` handles the printers and it use some generic List printer

[2016-05-03 13:08] mwringe commented on #7077
Size is nice to have, but there is a lot more information from 'docker inspect' that we could be showing here. Eg labels, environment variables, ports, etc

[2016-05-03 13:19] mwringe commented on #7076
The liveness probes log their messages under events I believe. I am not sure about the postStart/preStop ones though. I moved the metrics components away from using postStart to using liveness probes since it seems to function a bit better overall in terms of what you can see in the console.

[2016-05-03 13:27] kargakis commented on #7076
@mwringe mind moving this issue upstream?

[2016-05-03 13:42] tcastberg opened #8721 "recycler pods fails on NFS with undeletable .snapshot folders"
We're seeing PVs being failing when they are released because they are served from a netapp with snapshot enabled. This means every single folder has a .snapshot folder in it. When you delete a folder in a pv there is no issue, but the .snapshot folder in the root of the pv with all its subdirectories and files is not possible to delete.
##### Version
# oc version

oc v1.1.1.1
kubernetes v1.1.0-or

[2016-05-03 13:47] tcastberg commented on #8721
This issue seems further compounded by receiving the same PV (even though it is marked as failed) when you create the same claim again.

[2016-05-03 13:55] mwringe commented on #7076
I believe its being tracked upsteam with https://github.com/kubernetes/kubernetes/issues/16412

[2016-05-03 14:12] knobunc commented on #8700
Thanks @catherinesword

[2016-05-03 15:13] kargakis commented on #8665
@fabianofranz how about having all `--list` flags into an `oc list` or `oc show` command (`oc list env`, `oc list labels`, `oc list annotations`) and `--remove` flags into an `oc unset` command?

[2016-05-03 15:15] kargakis commented on #8665
And add deprecation warnings for `oc set env --list`, `oc set volume --list`, and `oc set volume --remove`

[2016-05-03 15:18] #7515 closed

[2016-05-03 16:52] smarterclayton commented on #8665
I would not be in favor of making a generic list command yet - that's a
much bigger decision and has lots of design implications.

On Tue, May 3, 2016 at 11:15 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-05-03 16:55] smarterclayton commented on #8710
The issues reported by Gabe include not pulling by default (which may be
ok, since the goal here isn't necessarily to reproduce the docker build
command, but needs to be investigated) and potentially not handling short
names correctly (which again, may be ok because the goal isn't the arg
compatible docker build command)

On Tue, May 3, 2016 at 7:53 AM, Michal Fojtik <notifications@github.com>
wro

[2016-05-03 16:56] smarterclayton commented on #8643
Hrm, seems like a bug.  oc get builds should be passing a BuildList to the
printer.

On Tue, May 3, 2016 at 9:00 AM, Michal Fojtik <notifications@github.com>
wrote:

[2016-05-03 17:51] smarterclayton commented on #8710
- We should error and cancel the build when instruction fail (add
RUN bar into
   dockerfile... it will complain about error but happily continue)

Is not expected, can you submit a fix?

On Tue, May 3, 2016 at 12:55 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-03 17:53] smarterclayton commented on #8710
I have a few more fixes for the other issues.  The goal is not to be a
docker build equivalent - it's merely to provide a test platform for
verifying use cases.  I like parallelization, but we should think about
that later.

On Tue, May 3, 2016 at 1:51 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-05-03 18:28] jwendell opened #8728 "Race condition between pod deletion and service endpoint updating?"
Here's what I'm doing:
1) Deploy an app with 2 or more replicas
2) Make tons of HTTP requests to that app (via service's IP) and make sure somehow they are reaching the same pod (by setting service's SessionAffinity to ClientIP, for example), with a small interval between requests (1s, or 0.5s)
3) In another terminal, kill (oc delete) the pod which is serving the requests

- Depending on the inter

[2016-05-03 21:15] ramr commented on #8702
@gt-tech can you please also attach/post as a gist the router config and logs in the failure case:
`oc get dc/router -o yaml`  and
`oc logs <router-pod-name>`

Also what do you mean by a scheduling node (for the router pod)?

From your comments, I am assuming that you are running the router in the default project/namespace and has the permissions to view all the routes/endpoints/namespaces in etcd

[2016-05-03 23:41] andrewklau commented on #8695
I think the issue may be somewhat related to https://github.com/kubernetes/kubernetes/pull/24861 as the volumes aren't even being unmounted from the instance in the first place which would prevent volume deletion in the first place.

[2016-05-04 05:59] #8626 closed

[2016-05-04 11:43] ncdc commented on #8728
That would be a huge undertaking to change this behavior. I'm not sure how feasible it is. cc @smarterclayton @knobunc @eparis

[2016-05-04 13:39] #8714 closed

[2016-05-04 15:16] smarterclayton opened #8735 "Mounting an AWS volume returns an error that looks incorrect: Could not attach EBS Disk "placeholder-for-provisioning": Invalid format for AWS volume"
This looks like an incorrect setup.  Is this the dynamic provisioner?  The error message is not useful to admins or users.

[code]

[2016-05-04 15:23] spadgett opened #8736 "Show container command in web console pod template"
We should show the container command in the pod template if defined (similar to how we show it for the debug terminal). Right now you can only see the command in the UI by editing YAML.

@jwforres @derekwaynecarr

[2016-05-04 15:24] derekwaynecarr commented on #8736
:+1: -- similar to what is done in oc describe pod

[2016-05-04 15:36] dak1n1 commented on #8735
Closing this to move to openshift/online. This is specific to the online pv provisioner.

[2016-05-04 15:36] #8735 closed

[2016-05-04 15:54] tomdearman commented on #8616
Can you tell me if this would also affect using configMap:... in a volumes: of a DeploymentConfig as I cant get this to work.  Says it is an emptyDir

[2016-05-04 16:16] smarterclayton opened #8737 "rails-postgresql-example failed to build"
Dev preview environment

[code]

[2016-05-04 16:16] smarterclayton commented on #8737
@bparees @mfojtik

[2016-05-04 16:17] smarterclayton opened #8738 "Builds should not inherit log level 3 or below from master"
Currently builds are set to exactly the log level of the master - this works great for debugging, but most users do not need log level 2 output from the build.

We should only set BUILD_LOGLEVEL if V(4) or above on the master.  And even then, this needs to be an admin config flag, not directly tied to what the master is doing.

[2016-05-04 16:23] mfojtik commented on #8737
@smarterclayton just out of curiosity... can you remove this https://github.com/openshift/rails-ex/blob/master/openshift/templates/rails-postgresql.json#L111 from the BC and kick a new build?

[2016-05-04 16:24] bparees commented on #8737
are those level 5 build logs?  if not, can you get them?  (w/o removing the post build hook)

[2016-05-04 16:25] pmorie commented on #8616
@tomdearman i would need to see your deployment descriptor, but the lack of this feature re: `oc volume` should not affect whether you can use configmaps in a deployment.

[2016-05-04 16:41] tomdearman commented on #8616
Thanks for the reply.  I have just tried the redis example and get the same.  I am running the vagrant steve0 setup.  I have run the following:

oc create configmap example-redis-config --from-file=redis.conf

oc create -f redis-pod.yaml

Regis does not start up and when I get the logs it has the following:

Toms-iMac:originopenshift tomdearman$ oc logs redis
[9] 04 May 16:35:19.190 # Fatal error,

[2016-05-04 16:41] pmorie commented on #8616
Can I see your redis-pod.yaml @tomdearman

[2016-05-04 16:44] bparees commented on #8737
@smarterclayton did you just instantiate the rails postgres template to get to this point?

[2016-05-04 16:59] bparees commented on #8737
for better or worse i just instantiated the template and it built/pushed fine.

seems like the commit must have failed and we don't log the error.

[2016-05-04 17:39] bparees commented on #8737
apparently we throw away the errors:
https://github.com/openshift/origin/blob/master/pkg/build/builder/cmd/builder.go#L193
https://github.com/openshift/origin/blob/master/pkg/build/builder/cmd/builder.go#L214
(sigh).

will fix that, so at least in the future we'll have some idea why things failed.

[2016-05-04 18:06] smarterclayton opened #8740 "Exec readiness check failed with inappropriate ioctl"
Readiness check failed for mongodb, not sure if this is a mongodb issue or a Kube issue.

[code]

@ncdc this is exec, but it might be @bparees / @mfojtik something specific to the mongo readiness check.

[2016-05-04 18:09] ncdc commented on #8740
@smarterclayton does your pod deploy with tty=true for that container?

[2016-05-04 18:09] ncdc commented on #8740
And what does the probe look like?

[2016-05-04 18:11] bparees commented on #8740
@ncdc the readiness check should be this:
https://github.com/openshift/origin/blob/master/examples/db-templates/mongodb-ephemeral-template.json#L95-L100

[2016-05-04 18:11] smarterclayton commented on #8740
@sspeiche did you have this set as an exec task previously?

[2016-05-04 18:11] ncdc commented on #8740
@bparees why do you have the `-i` flag?

[2016-05-04 18:16] sosiouxme opened #8741 "coloring for readability of oc status"
When you get a wall of project contents from `oc status` like the below, it's pretty difficult to see what's going on at a glance. This isn't even that complicated an example.

[code]

##### Expected Result

Some terminal escapes to add some coloring (only if there is an actual terminal, of course). For example, bold the first line of every stanza and make "thing" names a brighter color so they're

[2016-05-04 18:27] bparees commented on #8737
ignore what i said above, but it's still a case of us eating the error, fixing it here:
https://github.com/openshift/source-to-image/pull/486

[2016-05-04 18:27] bparees commented on #8737
also @smarterclayton it would appear whatever happened, it was a failure on a docker commit call, so presumably a daemon issue.

[2016-05-04 18:28] bparees commented on #8740
@ncdc needed to get our scl enable magic to work, i believe.  but @mfojtik wrote the probe.

[2016-05-04 18:29] bparees commented on #8740
@ncdc @smarterclayton i should note that whatever @smarterclayton hit, it would seem to be a flake, because other people have deployed this template successfully.

[2016-05-04 18:29] bparees commented on #8740
it's also possible that @smarterclayton's request landed on a node that has an old version of the mongo image and that's somehow causing the problem?

[2016-05-04 18:32] sspeiche commented on #8740
@smarterclayton I didn't so anything but use the plain vanilla quick-start db that was loaded from https://github.com/openshift/origin/blob/master/examples/db-templates/mongodb-ephemeral-template.json So I didn't make any change to this locally.

[2016-05-04 18:39] kargakis commented on #8741
Dupe of https://github.com/openshift/origin/issues/4183

[2016-05-04 18:39] #8741 closed

[2016-05-04 18:45] mfojtik commented on #8740
@bparees @smarterclayton https://github.com/openshift/mongodb/pull/138#discussion_r55998685

mongostat is not part of the mongo collection, can you change it to `mongo --eval "quit()"` ?

[2016-05-04 18:45] mfojtik commented on #8740
(and I will change that in the template asap)

[2016-05-04 19:12] tomdearman commented on #8616
Was it not attached, should have been. Will resend when I am in front of a
computer.

On Wed, 4 May 2016, 17:41 Paul Morie, <notifications@github.com> wrote:

[2016-05-04 19:42] stevekuznetsov commented on #8499
FYI: @sdodson was able to determine that the original cause for this flake was Time Warner Cable attempting to serve me advertisements at home when I was asking for an invalid hostname.

[2016-05-04 20:59] tomdearman commented on #8616
@pmorie here is the file, not sure if it comes through via email attachment.  thanks.
[redis-pod.txt](https://github.com/openshift/origin/files/249563/redis-pod.txt)

[2016-05-04 22:07] bparees commented on #8737
we're probably never going to resolve this until we can hit it again after https://github.com/openshift/source-to-image/pull/486 goes in.

[2016-05-04 23:02] smarterclayton opened #8748 "Failure to create rc results in many deployments?"
Looks like there's some loop where the DC keeps getting bumped, which should *not* happen.  Each event below was every 2 minutes, which looks like the sync loop was creating and recreating the same deployment

@kargakis @ironcladlou

[code]

[2016-05-05 03:39] lifei825 opened #8749 "log err:level=error msg="Failed to get pwuid struct: user: unknown userid 4294967295"
[provide a description of the issue]
As long as the operation of origin-node.service has been an error: level = error MSG = "Failed to get pwuid struct: user: unknown userid 4294967295
##### Version
[provide output of the `openshift version` or `oc version` command]
origin-node-1.1.6 && origin-node-1.2
##### Steps To Reproduce
1. [step 1]
systemctl start  origin-node.service
2. [step 2]
tailf /var

[2016-05-05 04:00] smarterclayton commented on #8728
Set a longer grace period in your pod and have a prestop that waits until you stop accepting traffic.  Applications really have to be involved with load balancers to avoid dropping connections.  When you go into terminating state as a pod you get removed from endpoints - if your pod controls that gap more effectively you can reduce the impact.

[2016-05-05 10:30] PI-Victor opened #8752 "forbid webhook secrets smaller than at least 4 characters"
right now a user can define a webhook secret to just one letter e.g.: `a` i think the correct behavior security wise would be to prevent the user from defining a webhook secret smaller than at least 4 chars.

[code]

@mfojtik @bparees PTAL.

[2016-05-05 10:35] kargakis commented on #8748
Is this in Online? Is there something special about dc/app? What triggers is it using? I cannot reproduce on master with both config chage and image change triggered deployments.
[code]

[2016-05-05 10:45] mfojtik commented on #8752
@PI-Victor right, we should set some minimal length for the secrets.

[2016-05-05 10:47] kargakis commented on #8748
[code]

[2016-05-05 10:53] mfojtik opened #8753 "Replicated MongoDB extended test fails"
[code]

@php-coder found in logs that the problem might be related to the admin user creation.

The flake can be seen here: https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/152/

[2016-05-05 11:02] php-coder commented on #8753
Because CI logs may disappear in the future, here is the related piece of the log from `container-mongodb-1-hook-post-lifecycle.log`:
[code]

[2016-05-05 12:03] #8740 closed

[2016-05-05 12:59] arybkablm opened #8754 "Add SAML SSO Support"
We are doing POC of Openshift and it seems that SAML SSO Support is not in the latest version unless I am missing something.
Ideally this should be available after initial install with  SP metadata that I can then use to integrate with any SAML compliant IDP.
This is should be available for the web ui and cli

Thank you!

##### Version
[provide output of the `openshift version` or `oc version` com

[2016-05-05 13:03] php-coder commented on #8753
Locally if fails for me with the a bit different error:
[code]

[2016-05-05 13:05] liggitt commented on #8754
SAML integration is possible using Apache and mod_auth_mellon in combination with the RequestHeaderIdentityProvider (https://docs.openshift.org/latest/install_config/configuring_authentication.html#RequestHeaderIdentityProvider)

[2016-05-05 13:05] #8754 closed

[2016-05-05 13:58] bparees commented on #8752
whatever change we introduce here needs to be backwards compatible so we don't break existing webhook definitions that might be shorter.

(i'm also not totally sold on us enforcing this policy, it should be up to administrators to enforce a policy on these secrets, so it should probably be a cluster config setting or something, not an arbitrary limit).

[2016-05-05 14:06] liggitt commented on #8749
@sdodson this look familiar to you?

[2016-05-05 14:07] jhadvig opened #8756 "Default buttons stay focus after click"
When clicking on the `Start build` or any other button that has `btn btn-default` classes they stay focused until additional mouse click is done.
Screen from how it looks after the button is clicked:
![screenshot-5](https://cloud.githubusercontent.com/assets/1668218/15045429/b904a428-12da-11e6-8799-42e7d67222e1.png)

Would be good if we align on the proper behavior we want.

@spadgett commented th

[2016-05-05 14:48] php-coder commented on #8753
It's not a flake but just a bug in the mongodb image.

[2016-05-05 14:57] aweiteka commented on #7987
There isn't a clear use case defined. Closing.

[2016-05-05 14:57] #7987 closed

[2016-05-05 15:02] spadgett commented on #8756
@jhadvig do you not like how the outline looks or is there another concern?

[2016-05-05 15:11] sdodson commented on #8749
No I've never seen this. Assuming you have /etc/NetworkManager/dispatcher.d/99-origin-dns.sh can you make it non executable and reboot then see if the problems still happen?

[code]

[2016-05-05 15:16] rhamilto commented on #8756
I can't seem to reproduce this in Chrome for OS X (via mouse or keyboard navigation).  The button gets unfocused and disabled.

![screen shot 2016-05-05 at 11 12 51 am](https://cloud.githubusercontent.com/assets/895728/15047358/9793bc48-12b2-11e6-9d99-50052948d70f.PNG)

[2016-05-05 15:21] jhadvig commented on #8756
@rhamilto sorry you will see it when https://github.com/openshift/origin/pull/8722 lands or if you remove https://github.com/openshift/origin/blob/master/assets/app/views/browse/build-config.html#L24 line

@spadgett well I dont like the fact that after you press the button, it looks like it stays pressed.

[2016-05-05 15:29] aweiteka opened #8759 "registry-admin role cannot create serviceaccounts"
The registry-admin and registry-editor roles should be able to create serviceaccounts to enable token-based authentication outside of openshift.

##### Version
v3.2.0.41

##### Steps To Reproduce
1. oc login -u system:admin
2. oc create user bob
3. oc new-project dev
4. oc policy add-role-to-user registry-admin bob -n dev
5. oc login -u bob
6. oc create serviceaccount test

##### Current Result
Er

[2016-05-05 15:55] smarterclayton commented on #5946
@ramr can you comment on current status here?

[2016-05-05 16:33] jwforres commented on #8756
On Thu, May 5, 2016 at 11:21 AM, Jakub Hadvig <notifications@github.com>
wrote:

this sounds like a problem with focus vs active ?

[2016-05-05 17:12] sosiouxme commented on #8741
Heh. I guess my search-fu is not adequate. I did search.

[2016-05-05 20:40] bparees commented on #8753
@php-coder should this be closed since #154 merged?

[2016-05-05 20:44] php-coder commented on #8753
Yes, I believe that we can close this issue.

[2016-05-05 20:44] #8753 closed

[2016-05-06 01:04] ramr commented on #5946
@smarterclayton  I haven't looked at this in a while - we initially had decided to only do it for edge terminated routes and do it for others as we got requests for it. So looks like it has a fair bit of interest now. Will schedule some time to work this in. Thx

[2016-05-06 02:22] gt-tech commented on #8702
For inexplicable reasons, after i restarted VMs (no other change, just restart master and nodes) application has been working fine.

What i meant to write was - I have a server which has both master as well as node, to do this had to add openshift_schedilable param to ansible configs when i first set this environment up.

[2016-05-06 03:25] #8551 closed

[2016-05-06 03:25] #8619 closed

[2016-05-06 04:07] gt-tech opened #8768 "Question: Is there a way to pass "secret" when using oc-cli"
I am looking for some info around ability to pass a "secret" to OC CLI command line command "new-app"

https://docs.openshift.org/latest/dev_guide/builds.html#using-private-repositories-for-builds
Above link provides information on how this can be done using JSON/YAML based build-configurations, is there a similar way with which it can be passed thru CLI new-app command?

Our source code GIT repos

[2016-05-06 12:33] gt-tech opened #8771 "OC CLI: Environment variable with a DOT in them."
I am creating a new application using "oc new-app" CLI command and need to pass environment variables, one of my environment variable happens to be of the format of a.b.c.d=value, please see exact command below.

I get an error:

[code]
##### Version

[code]
##### Steps To Reproduce
1. Create any application using "oc new-app" and try to pass an environment variable that looks like spring.cloud.co

[2016-05-06 12:58] #8718 closed

[2016-05-06 13:51] bparees opened #8772 "configurable git clone timeout"
the build process does a git ls-remote to check if a repo is accessible.  the timeout is hardcoded at 16s.  Slow dns or other network issues can cause that call to fail.

1) the timeout should be configurable
2) we should print a clearer message when it happens

@knobunc fyi.  I don't think we want to warn but still wait 1-2 minutes because the point of the test is to fail fast if the repo is inac

[2016-05-06 13:52] mfojtik commented on #8772
+1 already experienced this on my poor home internet ;-)

[2016-05-06 13:55] bparees commented on #8768
There's no way to do it currently via the new-app CLI, you have to update the buildconfig after it's created (eg via oc edit), or have new-app generate json/yaml, edit the json, and then create the buildconfig from the json/yaml.

we've got this feature request in our backlog:
https://trello.com/c/gXIlR9SH/765-5-oc-new-app-to-gather-git-creds-evg

[2016-05-06 13:55] #8768 closed

[2016-05-06 14:01] knobunc commented on #8772
Thanks @bparees

[2016-05-06 15:00] JimJiangX opened #8773 "when use loadrunner to give press on openshift-router, every several minutes, the request will got 200-300 error."
I am a openshift origin user, use v1.1.6 to prove of concept, but i found a problem, when use loadrunner to give press on openshift-router, every several minutes, the request will got 200-300 error.
I change 2 parameters but that it seems does not work, resync_interval and reload_interval.
It's a bit hard for me to find the code judge when to restart and resync haproxy which seems got bad effect o

[2016-05-06 16:16] smarterclayton commented on #8748
Can't find it, but yes, was online.  This is a pretty serious error if it's
actually in an infinite retry loop.

On Thu, May 5, 2016 at 6:47 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-05-06 16:47] lifei825 commented on #8749
Thank you very much! Already good

[2016-05-06 16:55] chmouel opened #8777 "Crash with new-app"
##### Version
oc v1.1.3-40-g678463c-dirty
kubernetes v1.2.0-alpha.7-703-gbc4550d

##### Steps To Reproduce
1. oc new-app xxxxxxxxx

##### Current Result
[code]

##### Expected Result

image or template not found or something

##### Additional Information

full backtrace here :

-$ oc new-app xxxxxxxxxx
http://sprunge.us/YWIe

[2016-05-06 16:57] gabemontero commented on #8710
BTW, I'm still seeing some issues with building from scratch locally.  After a periodic purge of the images stored in my local docker daemon, I now cannot run build-base-images.

Here's a [gist](https://gist.github.com/gabemontero/87ba425c964893320b5161005f03901f)

Looking at a build running on ci.openshift I have running right now, if it is pre-populating the docker daemon with a set of centos/op

[2016-05-06 17:02] sdodson commented on #8749
@lifei825 disabling dnsmasq made the problems go away?

[2016-05-06 17:05] lifei825 commented on #8749
Yes, do that  ： sed -i '/dnsIP:.*/d' /etc/origin/node/node-config.yaml  && reboot

[2016-05-06 17:28] danmcp commented on #8469
Corresponding Bug: https://bugzilla.redhat.com/show_bug.cgi?id=1333932

[2016-05-06 17:42] roldancer commented on #8773
Hi, We have +/- 3% of errors (http code 503 + SSL Handshake errors) in our OSE's routers, we have more than 500 pods deployed, we are doing some troubleshooting.

[2016-05-06 18:25] #8623 closed

[2016-05-06 18:47] gabemontero commented on #8710
After updating build-base-images.sh to add `--loglevel=8` to the `oc ex dockerbuild`, it looked like things choked on finding centos:centos7.

I manually pulled that down, and the re-run of build-base-images.sh was successful.

[2016-05-06 18:50] liggitt opened #8781 "clusterrole and role registries don't do conflict detection on resourceVersion"
the following command does not return a resource conflict on the replace call, but should:
[code]

[2016-05-06 19:48] smarterclayton commented on #8710
Should be fixed in Michal's https://github.com/openshift/origin/pull/8770

[2016-05-06 20:11] fabianofranz commented on #8643
@mfojtik Likely a bug. I remember fixing a similar issue (in pods if I'm not wrong) where for whatever reason instead of calling `printPodList` we were calling `printPod` multiple times, one for each entry in the list. But that was directly related to the given resource (pod), not generally in printers. Might be something similar.

[2016-05-06 20:41] thesteve0 opened #8784 "sample-app instructions are too much"
The sample-app in the examples dir of the repo has instructions on how to install and run OpenShift. This should not be in these instructions but should instead point to other instructions.

This would help make the instructions more readable.

As a supplemental request I would love if we could change the readme to assume that the user is using the vagrant all-in-one https://www.openshift.org/vm

[2016-05-06 20:48] thesteve0 commented on #8699
I get the hatred of two commands that do the same thing. That said I also have to say:

oc expose svc crunchy-scope --port=3000

is much easier for me to understand than:

oc create route insecure foo --service=foo --port

But then again there is another trello card where we are trying to bring some more sanity to the oc create, oc get, oc ... And if that happens then the oc create route makes mor

[2016-05-06 20:55] liggitt commented on #8699
`oc expose`:
![swiss-army-knife](https://cloud.githubusercontent.com/assets/980082/15085838/a468dff4-13aa-11e6-9785-9e2cb2bf53c7.jpg)

`oc create route [edge | passthrough | reencrypt]`:
![set](https://cloud.githubusercontent.com/assets/980082/15085913/48e8169e-13ab-11e6-9dfe-413075db0999.jpg)

[2016-05-06 21:06] deads2k commented on #8699
Wait, I think I see a flag there in the wrong position. :)

[2016-05-06 21:07] smarterclayton commented on #8699
I agree with Steve in that the verb is what you know first - before you know about routes.  Create assumes you know about routes, expose is the way you interact with the system.

Expose should have less flags.

[2016-05-06 21:11] smarterclayton commented on #8699
But the one flag it should have... is `--ports`

[2016-05-06 21:44] PI-Victor commented on #8752
indeed, i didn't think about it from a backwards compatible perspective. i opened this issue for two reasons, the first is this comment:
https://github.com/openshift/origin/pull/7518#issuecomment-212570186
and this:
https://github.com/openshift/origin/issues/8551#issuecomment-211522933

unrelated to this, i found a fix for the first comment :)
https://github.com/openshift/origin/pull/7518/files#di

[2016-05-06 22:05] bparees commented on #8752
it can be done by us, but yes it's more complicated :)  (and i'm not an expert on it).
@csrwng has more experience adding things to the cluster config.

[2016-05-06 23:26] PI-Victor opened #8785 "oc edit panics when using non yaml format (bypasses bc format validation)"
whenever you oc edit a bc and add some random non yaml format characters it explodes
![screenshot from 2016-05-07 01-25-04](https://cloud.githubusercontent.com/assets/6294120/15088343/95b0d050-13f2-11e6-81f6-9d0f7e376e12.png)
 into a million pieces with:

[code]

[2016-05-06 23:37] #8682 closed

[2016-05-06 23:37] deads2k commented on #8682
fixed

[2016-05-07 00:07] deads2k commented on #8699
Don't worry, not only do you have it once, you have three times!  `--port --target-port --container-port`, use them wisely (and differently in each generator of course). :)

I've never seen us reduce the number of flags on a command, but if we could get it small enough it would help a lot.

[2016-05-07 00:20] smarterclayton commented on #8699
At minimum we can hide them in help and then run "rm -rf /" if you try to
use them.

On May 6, 2016, at 8:08 PM, David Eads <notifications@github.com> wrote:

But the one flag it should have... is --ports

Don't worry, not only do you have it once, you have three times! --port
--target-port --container-port, use them wisely (and differently in each
generator of course). :)

I've never seen us redu

[2016-05-07 11:32] kargakis commented on #8699
lol

[2016-05-07 14:07] gt-tech commented on #8702
It seems I keep running into this issue, randomly router starts to work while at other times it fails, re-opening the issue again, have attached all the files .....

[oc-status.txt](https://github.com/openshift/origin/files/253444/oc-status.txt)
[route-describe.txt](https://github.com/openshift/origin/files/253445/route-describe.txt)

[router-pod-logs.txt](https://github.com/openshift/origin/files

[2016-05-07 20:11] mfojtik commented on #8785
@kargakis already fixed this in upstream
On May 7, 2016 01:26, "Ionut Palade" <notifications@github.com> wrote:

[2016-05-07 21:02] PI-Victor commented on #8785
@mfojtik ok, didn't know about that, thanks. closing

[2016-05-07 21:02] #8785 closed

[2016-05-09 02:34] smarterclayton opened #8789 "XFS Quota extended test is flaking"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/859/testReport/junit/(root)/Extended/_volumes__Test_local_storage_quota_FSGroup_local_storage_quota_should_be_applied_to_XFS_filesystem_when_a_pod_is_created/

[code]

[2016-05-09 07:44] AlbertoPeon opened #8790 "Pushing a docker image generated in a Build to an external registry"
Our use case is using the OpenShift build system as a Docker image build service.

I've tried to create a buildconfig that generates the image as usual but instead of pushing the generated docker image to the internal registry, it does so to an external one.

I've tried to define an ImageStream with a 'spec.DockerImageRepository' pointing to the right registry, but it hasn't work so far (for pushi

[2016-05-09 08:13] #7754 closed

[2016-05-09 08:13] mfojtik commented on #7754
(closed as we are going to use the deployment timeout instead of having two sets of timeouts)

[2016-05-09 10:08] mfojtik commented on #8790
I think the build output should be something like this:

[code]

[2016-05-09 10:12] mfojtik commented on #8777
@chmouel can you please give me full oc command? Are you pointing it to a non-existing image?

[2016-05-09 10:17] mfojtik commented on #8777
@csrwng I can't see any obvious reason why this will fail like this in the current master

[2016-05-09 10:50] mfojtik commented on #8784
Hey evangelists, why don't you take over the readme and submit a pull request? :-)

[2016-05-09 11:01] mfojtik commented on #8771
@smarterclayton this is pretty easy to fix in our CLI, but will require fix in k8s to allow dots in env vars. Do you have any other concerns about this except the variables wont `export` in bash? Also `docker run -e foo.test=bar` works, so I don't see the reason it should not work in k8s.

[2016-05-09 11:10] mfojtik commented on #8596
@smarterclayton i can't reproduce this locally and I haven't seen this flake for a while. My guess is that the first build failed or registry flaked.

[2016-05-09 11:12] mfojtik commented on #8379
@php-coder still an issue? I can see that we are quoting the focus parameter in jenkins

[2016-05-09 11:13] mfojtik commented on #8379
@php-coder perhaps it does not work because ginkgo expect 'regular expression' ?

[2016-05-09 11:19] soltysh commented on #7619
I haven't seen this happening for quite a while. And my PR simplifying tests got merged already. If seen, please re-open.

[2016-05-09 11:19] #7619 closed

[2016-05-09 11:34] sub-mod opened #8791 "registry-editor & registry-viewer role should be able to list rolebindings in project."
registry-editor &  registry-viewer role should be able to list rolebindings in project. For which it should be able to create localresourceaccessreviews in project

##### Version
oc v1.3.0-alpha.0-56-gd9c6483
kubernetes v1.3.0-alpha.1-331-g0522e63

##### Steps To Reproduce
1. oc whoami -> bob
2. oc new-project test-project
3. oc policy add-role-to-user registry-admin bob
4. oc create -f rolebindin

[2016-05-09 11:35] sub-mod commented on #8791
PR introducing registry-admin role: #6963
@aweiteka @stefwalter @deads2k

[2016-05-09 11:38] chmouel commented on #8777
Yes here with the full command :

-$ oc new-app foo/bar

<img width="1146" alt="2016-05-09__13-37-58-20413" src="https://cloud.githubusercontent.com/assets/98980/15111994/57da0a62-15eb-11e6-87f2-477dab1b6d7b.png">

[2016-05-09 11:39] dgoodwin commented on #8789
@gabemontero is this what PR #8788 fixes?

[2016-05-09 11:42] deads2k commented on #8791
I don't think that we're likely to allow that since it provides information about other users and it doesn't actually give you information about what you can do (that role can be anything).

We did put in a new endpoint that actually tells you what you can do though.  See https://github.com/openshift/origin/pull/8675.  I think that would give you the information you need for the current user.

[2016-05-09 11:56] php-coder commented on #8379
After I've found that it works after quoting I started to use this forms. I don't know is it "works as expected" or it's a "workaround". For me it was unexpected behavior.

[2016-05-09 12:04] mfojtik commented on #8379
@php-coder since the focus should support regexp, I think it is OK to assume you have to escape '['.
But since we use that as 'tags' maybe we should automatically escape that in the vagrant plugin.

@danmcp wdyt?

[2016-05-09 12:07] Mangirdaz commented on #8772
Thanks! This one becoming pain for us too :)

[2016-05-09 12:16] AlbertoPeon commented on #8790
Hi @mfojtik,

Yes, that works! And for my use-case is definitely enough 👍

My question now is: doesn't ImageStream support pushing to external registries?. I would expect it to work as pulling does as expected!

Thanks!

[2016-05-09 12:18] danmcp commented on #8379
@mfojtik The issue seems like it's in core.sh in this case.   I would think you want to be able to call core.sh without any escaping at all right?

[2016-05-09 12:22] mfojtik commented on #8379
@danmcp the --focus accepts a 'regexp' string, so '[' have to be escaped to make it work. However, nobody know about that and people use '[builds]' etc. and think it will work. What I'm thinking about is to escape only '[' and ']' because we use it as 'tags' in extended tests descriptions.

Yeah, the escaping will need to happen in core.sh.

[2016-05-09 12:22] sub-mod commented on #8791
@deads2k  is there a oc command for that ?

[2016-05-09 12:30] deads2k commented on #8791
There will be.  I made one, but its likely to move before we tag the next level.

[2016-05-09 12:36] csrwng commented on #8777
@chmouel @mfojtik This was fixed with this PR:
https://github.com/openshift/origin/pull/7433

The commit (678463c) that @chmouel is currently running does not have this fix.

[2016-05-09 12:38] sub-mod commented on #8791
can I make a curl request on the latest origin code ?
like this ?
curl -k -H "Authorization: Bearer $(oc whoami -t)" -d@/home/spiderman/json_files/SelfSubjectRulesReview.json  https://192.168.122.1:8443/oapi/v1/namespaces/aaa/selfsubjectrulesreviews

[2016-05-09 12:46] deads2k commented on #8791
@sub-mod yes, its a POST.  See the sample content here: https://github.com/openshift/origin/pull/8675#issuecomment-216238504

It's a POST because we are reasonably likely to add options at some point in time and to remain consistent with other code, those options come in as part of an API object.

There is a command `oc policy what-can-i-do`, but as I mentioned, we're unhappy with the name, so its

[2016-05-09 12:57] bparees commented on #8784
@mfojtik +1 :)

[2016-05-09 13:02] sub-mod commented on #8791
@deads2k not sure why it is failing https://paste.fedoraproject.org/364248/98913146/
Can i make this request as a projectadmin ?

[2016-05-09 13:09] gabemontero commented on #8789
@dgoodwing yep that is the one ... i'll mark it as fixing this

[2016-05-09 13:10] deads2k commented on #8791
yes, any user can do it.

[code]

[2016-05-09 13:47] davemccormickig commented on #6911
I have the same issue after cloning a master and running the openshift-ansible installer to re-create all of the etcd, master and node configuration files.  It has been a lot of work to get here (It's very important for me to restore without losing the contents of my cluster).

Etcd is happy, and master-api seems to starts up ok, as does the node but none of the pods will load  and everything is r

[2016-05-09 14:11] kargakis commented on #8789
one more here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/868/consoleFull#-130909754856cbb9a5e4b02b88ae8c2f77

though I didn't rebase on top of @gabemontero's pr

[2016-05-09 14:12] dgoodwin commented on #8789
Gabe's fix is in this morning so hopefully these start clearing up now.

[2016-05-09 14:30] kargakis commented on #8748
@ironcladlou can you reproduce this? It should be coming from one of the trigger controllers (another generator bug) as they are the only place where the version is bumped. I cannot recall any change lately that could have fixed this:/

[2016-05-09 14:30] #8789 closed

[2016-05-09 14:51] gt-tech opened #8795 "Question: OC CLI: new-app - possible to pass environment values to build in S2I?"
This is more of a question, I create an application using "oc new-app git://........." command and in this command i pass several environment variables using -e flag and all of those environment variables are made available to runtime container but not to builder.

For now I have defined the build time environments in .s2i/environment at root of repository but in our case this won't work as depend

[2016-05-09 14:58] Morriz commented on #828
Is this still being watched? Would love to see such features end up in kubernetes, abstracting away such a possible in-pod proxy container proxy, so it would just expose new configuration on a service.

[2016-05-09 15:14] gt-tech commented on #8795
It seems that underlying s2i is capable of taking environment variables so seems more of a way for "oc" command to be able to receive it and then pass to underlying s2i

https://github.com/openshift/source-to-image/blob/master/docs/debugging-s2i.md#passing-in-environment-variables

[2016-05-09 15:23] cgwalters commented on #8571
See also https://lists.centos.org/pipermail/ci-users/2016-April/thread.html

[2016-05-09 16:26] smarterclayton commented on #8367
Still seeing this - this is a persistent flake at this point.  If we can't figure out what is going on, I'm going to disable the test.

[2016-05-09 16:33] mfojtik commented on #8367
@smarterclayton I think @php-coder identified the problem (admin user creation failed for mongo).... @php-coder ?

[2016-05-09 16:36] chmouel commented on #8777
Right, I believe it was a old binary I have just recompiled everything and this works fine, thanks!

[2016-05-09 16:36] #8777 closed

[2016-05-09 16:42] php-coder commented on #8367
@mfojtik @mfojtik That was a bug that appears only for replication but this is a different story -- it's a flake, because I was unable to reproduce it on my environment.

[2016-05-09 16:44] bparees commented on #8367
@php-coder have you been able to add any additional debug to help determine the deployment failure reason?

[2016-05-09 16:47] bparees commented on #8795
today the new-app "-e" argument is used to add env variables to the deploymentconfig that is generated by new-app, but it does not add the env variables to the buildconfig.  you'd have to edit the buildconfig after it is created, to add the env variables.

note that there is also an "oc new-build" command which only generates a buildconfig (it does not generate a deploymentconfig or service).  oc

[2016-05-09 16:53] php-coder commented on #8367
We had a quick conversation with @bparees in the IRC and decided that tomorrow I'll look at this issue more detailed and fix it or add debug output.

[2016-05-09 16:57] kargakis opened #8797 "oc start-build output"
Should be similar to `oc deploy --latest`. Actually for start-build, we should use cmdutil.PrintSuccess for the new build message and then hint to oc logs if --follow wasn't specified.

cc: @bparees @mnagy

[2016-05-09 17:00] bparees commented on #8797
since @mnagy is going to be in this code for his card this sprint anyway, assigning to him.

[2016-05-09 17:02] stevekuznetsov opened #8798 "Integration Test Flake: TestRegistryClientDockerHubV2"
[code]

Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/769/consoleFull#25640336156bf4006e4b05b79524e5923)

[2016-05-09 17:28] bparees commented on #8790
The code in question is here: https://github.com/openshift/origin/blob/master/pkg/build/controller/controller.go#L222

that is where we take the output reference from your buildconfig, and turn it into a docker spec that we can push to.  In particular we get the repository from the imagestream:
https://github.com/openshift/origin/blob/master/pkg/build/controller/controller.go#L260

so it appears t

[2016-05-09 18:17] kargakis opened #8802 "TestNewAppRunBuilds-4 failure"
[code]
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5851/consoleFull#127309647156c25e74e4b05b79524e5d56

[2016-05-09 18:21] smarterclayton commented on #8444
This latest is actually a different error:

[code]

[2016-05-09 19:04] ramr commented on #8702
Hmm, ok looks like the route was not added to the haproxy config as per the `haproxy.config` file.
So yeah, something's amiss here. If you are in this state, then does removing and adding the `dev-user-api` route (not the router but the actual route), trigger off the haproxy config to be written correctly?
[code]
The router does depend on `etcd` notifications to add routes and endpoints, so on the

[2016-05-09 19:42] #8791 closed

[2016-05-09 20:12] #6337 closed

[2016-05-09 20:12] #6465 closed

[2016-05-09 20:18] jwforres opened #8809 "Proposal - splitting the console code into a new repo"
Requirement: split the openshift console code out of the origin repo before we actually split the runtime (console will still be embedded in the master).  We may still split the runtime later, but we need to split the repo sooner.

* Move everything under origin/assets into a new repo, tentatively named "origin-console"  (suggestions welcome)
* In origin-console repo the concat/minified/compiled/e

[2016-05-09 20:22] jwforres commented on #8809
CC'ing folks who might care...
UI team @spadgett @jhadvig @fabianofranz @benjaminapetersen @rhamilto @sg00dwin

for the other teams CC anyone you think will want to know @pweil- @mfojtik @jcantrill @bparees @liggitt
This mainly affects the UI team, otherwise this really only affects folks that like to use the console during their day to day dev and part of this proposal is to make that as painless

[2016-05-09 20:29] pweil- commented on #8809
@erinboyd

[2016-05-09 20:34] jwforres commented on #8809
@stefwalter @gashcrumb

[2016-05-09 20:38] jwforres commented on #8809
This doesn't even have much impact on the UI team since you'll still be using the local grunt server to do development.  The main changes for people contributing to the console are
1) different repo
2) delivering all files under dist instead of delivering bindata.go
3) faster UI merge queue!!

[2016-05-09 21:35] benjaminapetersen commented on #8809
Nice, all kinds of fun here :smile:

[2016-05-09 21:39] fabianofranz commented on #8809
"origin-console" a.k.a. "oc"? :)

[2016-05-09 22:06] anthonyrisinger opened #8811 "Router pods failing 40 times/day with `concurrent map read and map write`"
I'm seeing router pods fail about 40 times a day with `fatal error: concurrent map read and map write`. It doesn't take out the cluster because we have a couple instances running but they both fail randomly. We are also having what appear to be fd limit problems on the infrastructure nodes (sometimes can't ssh, or sudo fails to open /etc/sudoers) so I can't 100% rule that out as part of the proble

[2016-05-10 02:43] #6344 closed

[2016-05-10 02:43] #8247 closed

[2016-05-10 04:30] smarterclayton commented on #8798
Dupe of #8444

[2016-05-10 04:30] #8798 closed

[2016-05-10 12:42] spadgett commented on #8809
`openshift/web-console`?

[2016-05-10 12:44] spadgett commented on #8809
Or `openshift/origin-web-console`?

[2016-05-10 12:47] jwforres commented on #8809
openshift/origin-ui  was another suggestion i've heard

[2016-05-10 12:50] davemccormickig commented on #6911
Hi
I found the issue causing the horizontalPodAutoscalers error and others in the controller.  As part of my re-install I removed ALL of the configuration files from /etc/orgin/master and /etc/origin/node and let the ansible installer re-create them.

The existing serviceaccounts in etcd were signed with the previous keys in these files: -
/etc/origin/master/serviceaccounts.pubic.key
/etc/origin/m

[2016-05-10 12:54] Mangirdaz commented on #8772
Do we have bugzilla for this one? Any workaround how we can configure timeout?

[2016-05-10 13:53] jwforres commented on #8809
looks like we have two votes for `origin-web-console` so unless anyone strongly disagrees we'll go with that

[2016-05-10 13:54] benjaminapetersen commented on #8809
Hmm. I think I like `web-console` since we use that terminology all the time.  `ui` makes me think it would be a set of tools like angular-ui, jquery-ui, yui, etc.  Do we want 'origin' in the name given it is used for origin, enterprise & online?

[2016-05-10 14:19] jhadvig commented on #8809
Having `origin` in name does make sense, since the console will follow the same pattern as `origin` has, meaning that Enterprise and Online versions are just cuts of the Origin.
Therefor I would go with `openshift/origin-web-console`.

[2016-05-10 14:36] bparees commented on #8772
@Mangirdaz no bugzilla, this is our tracker for it and no,unfortunately there is no workaround currently that i can think of.

[2016-05-10 14:39] Mangirdaz commented on #8772
@bparees Thanks. I assume its hard-coded somewhere in Builder image. Would it be possible to overlay one more Docker layer on top of RH image for this and just sed s/old/new/ for bigger value?
We import All images to internal registry, and pull them from it.

[2016-05-10 14:40] fabianofranz commented on #8809
I'm good with either `openshift/origin-web-console` or `openshift/origin-web`.

[2016-05-10 14:46] jwforres commented on #8809
I'm going with `openshift/origin-web-console`

Next point of discussion, the asset hack scripts that will live in the new repo, if we want to rename any of those now is the time.  Instead of hack/build-assests.sh  do we want it to just be hack/build.sh

Or, since the bindata bits wont live in this repo, build-assets will just be a wrapper for running `grunt build`.  And serve-local-assets is just

[2016-05-10 15:06] liggitt commented on #8749
@sdodson anything actionable for us here?

[2016-05-10 15:06] rhamilto commented on #8809
+1  I think it'll be more obvious to anyone using the repo.  If I see a Grunt file, the first thing I do is look at the available tasks.

[2016-05-10 15:14] liggitt commented on #3072
@pmorie is this still valid?

[2016-05-10 15:15] liggitt commented on #3274
added openshift-infra to immortal namespaces list in #4318, I think we should close this

[2016-05-10 15:16] liggitt commented on #6107
@smarterclayton did your dockercfg keychain path munging fix this?

[2016-05-10 15:25] jwforres commented on #8809
Proposing:
hack/install-assets.sh --> hack/install-deps.sh
hack/clean-assets.sh --> hack/clean-deps.sh
hack/serve-local-asset.sh --> grunt serve
hack/build-assets.sh --> grunt build

the last one is hack/test-assets.sh, I'm still thinking about this one since it both runs the tests (grunt test) and does a diff to make sure the delivered compiled assets match up to the raw source

[2016-05-10 15:28] jwforres commented on #8809
I'm thinking we should just have a separate `hack/verify-compiled-dist.sh` to be consistent with the "verify" scripts in origin,  i don't love the name though, thoughts?

[2016-05-10 15:42] benjaminapetersen commented on #8809
Had shared a few thoughts here a while back:

https://github.com/openshift/origin/issues/6721

Agree with Rob, Im def a fan of using raw grunt though, if doable.

[2016-05-10 15:47] sdodson commented on #8749
@liggitt I don't think so.

[2016-05-10 16:35] stevekuznetsov commented on #8798
We need a better way to optimize flake search results...

[2016-05-10 16:37] #8749 closed

[2016-05-10 16:38] smarterclayton commented on #8798
I think it was closed at the time you opened this - I reopened it.

[2016-05-10 17:22] kargakis opened #8820 "Upgrade QoS tier for the registry"
Similar to what was done for the router in https://github.com/openshift/origin/pull/8495

@miminar @legionus @soltysh

[2016-05-10 17:59] smarterclayton commented on #6107
I think so.

[2016-05-10 18:07] bparees commented on #8772
so this logic resides in the openshift/origin-sti-builder and openshift/origin-docker-builder images.  by default, openshift attempts to pull those images using a tag that matches the commit level of the openshift master.  if you specify --latest-images then instead it will use whatever version of those images exists locally.  So you'd have to:

1) build new versions of those images with the chang

[2016-05-10 18:57] spadgett commented on #8809
+1 to making them separate commands. `hack/very-dist.sh` ?

[2016-05-10 19:45] benjaminapetersen commented on #8809
I'm inclined to short names:
[code]
So long as there isn't a danger in overlapping meaning.  Its consistent with `grunt clean`, `grunt install`, `grunt build`, `grunt test`, etc. so seems pretty intuitive.

[2016-05-10 19:46] Mangirdaz commented on #8772
Thanks!
Will raise this one internally and try to get priority on this. When we could expect this to see implemented? This would help us to plan.

[2016-05-10 20:00] bparees commented on #8772
it shouldn't be too difficult, i'd hope we can get to it in the next few weeks.

[2016-05-10 20:13] liggitt opened #8823 "forbidden exec/rsh error is unclear"
When a user tries to exec/attach/rsh into a pod that is forbidden because of SCC restrictions, the error is very unclear about why it is not working:

[code]

The error should explain that they cannot exec/attach/rsh into a pod that they could not have created, or something more usable.

/cc @cjryan @bparees

[2016-05-10 20:26] kargakis opened #8825 "router can hit concurrent map read and map write during commit"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/808/consoleFull

[2016-05-10 20:31] smarterclayton opened #8826 "Can't enable GCS storage for registry, Kube needs a version bump"
In order to enable GCS storage for the docker registry, we need Kube to bump to at least 9bf6e6e569ff057f75d9604a46c52928f17d2b54 of google.golang.org/api/googleapi (to match what docker distribution is using).  That'll probably involve a full regression test on GCE, because the cloud provider also uses that API.  Then we'll need to set it up so that the docker registry is built with include_gcs t

[2016-05-10 20:32] smarterclayton commented on #8826
@pweil- @miminar @ncdc

I had started enabling this, and then realized we were blocked by the Kube version.  Other more extreme options involve having a separate vendor directory for docker distribution, which is possible but could get ugly.  Either way, we are blocked on enabling GCS until we can sort this out.

[2016-05-10 20:46] liggitt commented on #8825
@ramr it looks like the router is passing a shared map and list into the template rendering, and not preventing concurrent writes to it in CreateServiceUnit/DeleteEndpoints, etc

go panics if it detects simultaneous reads/writes

[2016-05-10 20:49] liggitt commented on #8825
this means that if a watch event comes in while the router is committing, it can cause the process to exit

[2016-05-10 23:53] smarterclayton opened #8828 "oc debug flake"
[code]

[2016-05-10 23:54] smarterclayton commented on #8502
Flaked on https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5873

[2016-05-11 01:40] #8630 closed

[2016-05-11 02:13] smarterclayton commented on #8790
We return that value as the "push target" for the image stream.  It's not correlated with spec.dockerImageRepository except by historical backwards compatibility.  Image streams are always a destination on the integrated registry, and we don't offer "push through" to a remote through them.

[2016-05-11 02:14] smarterclayton opened #8829 "extended test fake: Kubectl logs should be able to retrieve and filter logs"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/927/testReport/junit/(root)/Extended/_k8s_io__Kubectl_client__k8s_io__Kubectl_logs_should_be_able_to_retrieve_and_filter_logs__Conformance_/

[2016-05-11 02:49] smarterclayton commented on #8829
@pweil- as well, this has suddenly started happening much more frequently.  Not sure what the cause is.

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/928/

[2016-05-11 02:49] smarterclayton commented on #8829
@ncdc just gave it to you to have someone's name next to it - punt it down the chain as needed.

[2016-05-11 03:00] liggitt commented on #8829
seen upstream at https://github.com/kubernetes/kubernetes/issues/25426

[2016-05-11 03:12] wanghaoran1988 opened #8830 "pod update"

[2016-05-11 03:17] #8830 closed

[2016-05-11 07:37] donovanmuller opened #8832 "OpenShift with Keycloak as OpenId provider, using `oc login --token` is not intuitive and fails with: The token provided is invalid or expired"
Following the basics from [this guide](http://blog.keycloak.org/2015/06/openshift-ui-console-authentication.html) to integrate Keycloak as an identity provider, then, after [getting an access token](http://blog.keycloak.org/2015/10/getting-started-with-keycloak-securing.html) and using that token to login with `oc login --token=...` fails with `error: The token provided is invalid or expired.`

##

[2016-05-11 08:00] wenskys commented on #8671
@vbehar @bparees thanks for your help.
the incremental builds can be used now,thanks.

[2016-05-11 08:16] wenskys opened #8833 "How to use docker-registry to save a common images but not sti images"
Hi,
I create a  ImageStream for nginx,and it is use as a sti images:
[code]
Is that docker-registry can be use as a private-registry，not only as a sti-images,but also a common images(a common images needn't git in web console)?
May be create a harbor is good for openshift to save the common images?
Thanks.

[2016-05-11 08:39] soltysh commented on #8790
There's a separate issue to hide the internal value until some push will happen, but I can't find the appropriate issue related to that.

[2016-05-11 09:02] mfojtik commented on #7142
(i'm doing this as part of the rebase)

[2016-05-11 09:09] kargakis commented on #5788
https://github.com/openshift/origin/pull/8787 updates our deployers

[2016-05-11 10:09] liggitt commented on #8832
`oc login --token=...` simply sets the given token as the API token to use. That token is required to be a token minted and recognized by the API server, not a third party token.

The generated API tokens are not JWTs

[2016-05-11 10:09] #8832 closed

[2016-05-11 10:10] donovanmuller commented on #8832
@liggitt The service account token is though. So why does that work?

[2016-05-11 10:11] liggitt commented on #8832
Because they are created and recognized by the API.

[2016-05-11 10:13] liggitt commented on #8832
Also, https://github.com/openshift/origin/pull/8732 recently added support for password grant types, so you could use `oc login` directly without doing the web flow token dance

[2016-05-11 10:16] donovanmuller commented on #8832
Ok, is there any chance of adding this to the docs?

Currently it isn't explicitly mentioned that access tokens returned from identity providers other than API server itself are not recognised. The assumption would be (at least by me) that the tokens would be recognised, as it's the same OpenID Connect flow to authenticate the web console for instance.

[2016-05-11 10:18] donovanmuller commented on #8832
Awesome (#8732), that will help allot.

[2016-05-11 10:32] php-coder commented on #8367
I found out that test started to fail after dda90ccb39a505d676deab0f2c2864e6d8229ae3 commit.

@kargakis Maybe do you know what/where I should update to fix this problem?

[2016-05-11 10:45] php-coder commented on #8367
The error is:
[code]

[2016-05-11 10:57] mfojtik commented on #8367
@kargakis @php-coder I don't see any obvious relation between that commit and the failure other than the imagestream is not resolved properly which results into library/mongodb

[2016-05-11 11:01] kargakis commented on #8367
@php-coder the commit you linked to was actually merged a couple of days ago: https://github.com/openshift/origin/pull/7149

[2016-05-11 12:21] bparees commented on #8790
@smarterclayton how does this reconcile w/ the recent thread about not having to use the openshift registry if you want to use an external registry instead?  (and yeah i'm now recalling we've talked about this before)

[2016-05-11 12:26] mfojtik commented on #8826
@smarterclayton we are getting there... https://github.com/openshift/kubernetes/pull/19

[2016-05-11 12:33] php-coder commented on #8367
@kargakis I was unable to reproduce original bug before, but after this commit the test fails on my computer each time. After reverting this commit test passes. Maybe this commit add another problem or it just converts flake to the reproducible issue.

[2016-05-11 12:36] bparees commented on #8833
you can use the openshift registry for any images you want, you can push directly to the openshift registry using docker push commands.  for more information about how to log in to the openshift registry, see:
https://docs.openshift.org/latest/install_config/install/docker_registry.html#access

does that answer your question?

[2016-05-11 12:40] smarterclayton commented on #8826
Rebase isn't what needs bumped - Kube itself is too far behind.

[2016-05-11 12:41] smarterclayton commented on #8790
If you don't have an internal registry this value is empty (no place
to push).  Ie you can't push to an image stream without configuring
the integrated registry.

[2016-05-11 13:50] kargakis commented on #8367
Looking

[2016-05-11 14:00] php-coder commented on #8367
@kargakis Thank you! Command for reproducing: `./test/extended/core.sh --focus="openshift mongodb image" -ginkgo.v` Also here is the tests: [mongodb_ephemeral.go](https://github.com/openshift/origin/blob/master/test/extended/images/mongodb_ephemeral.go) and template that test uses: [mongodb-ephemeral-template.json](https://github.com/openshift/origin/blob/master/examples/db-templates/mongodb-ephem

[2016-05-11 14:10] kargakis commented on #8367
You don't need to run the test suite,
[code]
is enough. The problem is because the image stream tag in the dc is never
resolved and the deployment never starts. Still not sure why it's special
here as opposed to other image change triggers.
I think it's high time I factor the generator out.

On Wed, May 11, 2016 at 4:00 PM, Vyacheslav Semushin <
notifications@github.com> wrote:

[2016-05-11 14:31] deads2k commented on #8781
A brief write up of history:

A resourceVersion is an opaque string.  A resourceType/resourceVersion tuple should have a stable meaning.  If you create a fake resourceVersion that isn't stable for the resource type, then there's a caching layer that relies on that for a decoding cache and will give bad information.  If you create a fake resourceVersion that can be duplicated on multiple resources

[2016-05-11 14:32] stevekuznetsov commented on #8781
Why is a `ClusterRole` not a first-class etcd citizen?

[2016-05-11 14:32] deads2k commented on #8781
@smarterclayton wanted to have a central place to track, "when were my roles last changed".  Another argument I lost and really wish I hadn't.  We're fixing it as the types move upstream.

[2016-05-11 14:33] liggitt commented on #8781
Because @smarterclayton

[2016-05-11 14:35] stevekuznetsov commented on #8781
So do we want the fix to this to be that `ClusterRole` becomes a first-class etcd citizen? Or do we want something intermittent before that is implemented? What's the time-table for the upstream migrations? How fast do we want this fixed?

[2016-05-11 14:38] deads2k commented on #8781
We haven't said for sure that we're moving to the upstream types, though I suspect we'll probably try.

You could try to sort out migration problems and claim it fixes this eventually :).  I'd start by creating a job that does a direct etcd select of all objects of a type, streams the response (its going to be big), decimates the list based on selection criteria (storage encoding version as a for

[2016-05-11 15:00] bparees commented on #8828
not sure who owns oc debug now, all git blame points to @smarterclayton though.

[2016-05-11 15:02] bparees commented on #8790
so the answer is no, it doesn't support that.

[2016-05-11 15:02] #8790 closed

[2016-05-11 15:09] catherinesword opened #8837 "pod failed to run if not created by system:admin"
[provide a description of the issue]
When I use oc on my local machine, login as a password based user, the pod I created always failed as it cannot start container. I've no idea how to login as system:admin on my local machine, so I did it on the AWS instance where master is running. If I create pod as system:admin, it works perfectly.

I added cluster-admin role to my username, but the problem i

[2016-05-11 15:31] jmccormick2001 opened #8839 "CLI to watch for pod termination and exit"
would be great to have a CLI 'oc get pod' option that works with --watch or -watch-only
that would let the command exit when the pod completely terminates.  Currently
the 'oc get pod --watch' command seems to hang even after the pod terminates.

Would be great to have an option like '--exit-on-term' or similar that when specified would
let the command exit successfully when the pod does actually t

[2016-05-11 15:34] deads2k commented on #8839
@smarterclayton `oc sync`?

[2016-05-11 15:55] mnagy opened #8841 "Unification of start-build and cancel-build into a single build command"
We should unify `start-build` and `cancel-build` commands into a single `build` command. It was proposed in the trello card (linked below) to either create subcommands (`oc build start` and `oc build cancel`) or use flags, as is currently done for deployments. During a CLI meeting, it was suggested that the subcommands approach should be taken. This however creates an inconsistency with `oc deploy

[2016-05-11 16:27] #7974 closed

[2016-05-11 16:28] bparees commented on #8841
i'm hesitant on this one since mostly create is used for "create exactly this thing" where-as new-build is a much more sophisticated flow that doesn't even necessarily create the resource (ie you can do a dry-run, or output the results to stdout instead of creating the objects).

I could get being a new "new" command with "app" and "build" as sub-commands, but let's defer that discussion for the p

[2016-05-11 16:38] sosiouxme opened #8842 "regression on ImageChange build triggers"
Creating a build config with an `ImageChange` trigger now seems to (incorrectly) require an `imageChange` attribute. According to https://docs.openshift.org/latest/rest_api/openshift_v1.html#v1-imagechangetrigger there are no required attrs.

This feels like user error but I'm not seeing how.

##### Version

$ oc version
oc v1.3.0-alpha.0-456-g51f22e6
kubernetes v1.3.0-alpha.1-331-g0522e63

#####

[2016-05-11 17:04] smarterclayton commented on #8367
Does the image stream import fail?

On May 11, 2016, at 10:10 AM, Michail Kargakis <notifications@github.com>
wrote:

You don't need to run the test suite,
[code]
is enough. The problem is because the image stream tag in the dc is never
resolved and the deployment never starts. Still not sure why it's special
here as opposed to other image change triggers.
I think it's high time I factor the gener

[2016-05-11 17:43] kargakis commented on #8367
Nah, automatic was set to false and the image was never resolving to the full spec. Did this test ever work?

[2016-05-11 18:40] liggitt commented on #8832
The auth overview at https://docs.openshift.org/latest/architecture/additional_concepts/authentication.html#api-authentication discusses the API OAuth token mechanism, though clarifying suggestions are welcome (probably as issues or pulls against the openshift-docs repo)

[2016-05-11 18:55] smarterclayton commented on #8841
We are trying not to add new top level "noun" commands.

On Wed, May 11, 2016 at 12:28 PM, Ben Parees <notifications@github.com>
wrote:

[2016-05-11 18:55] smarterclayton commented on #8839
Yeah

[2016-05-11 18:55] smarterclayton commented on #8839
Actually, this is more "wait"

[2016-05-11 18:59] bparees commented on #8841
can we fail in our trying?  or can we say we're using the verb-form of build? :)

Barring that, what's your position on this?  Should nothing be done?

[2016-05-11 19:11] smarterclayton commented on #8841
I actually want to reserve the verb form of "build" for a replacement for
"new-build" and "start-build".  I think cancel build is just a different
commands structure.

On Wed, May 11, 2016 at 2:59 PM, Ben Parees <notifications@github.com>
wrote:

[2016-05-11 19:14] bparees commented on #8841
can you elaborate on that?

what does "oc build xxxxx" look like when it's used for both "new" and "start"?  and is "cancel build" part of the same command structure that would include "cancel deployment"?  (personally I don't like the idea of an "oc cancel" command structure because i think "oc help cancel" is going to be less informative/intuitive than "oc help build"..  people don't ask "what t

[2016-05-11 19:45] stevekuznetsov commented on #7114
@smarterclayton do we have executive direction on this gap?

[2016-05-11 20:12] kargakis commented on #7114
I was thinking that we may want to skip this and always default to 0 (consider available when ready).

[2016-05-11 20:29] smarterclayton commented on #7114
I would like to have this - since I was the one who proposed it to Dan originally.

[2016-05-11 20:32] php-coder commented on #8367
Yes, of course.

Thank you for a help and the good work!

[2016-05-11 20:41] smarterclayton commented on #8841
I think cancel build should stay cancel-build.  It's just as discoverable
as it would be under a hypothetical build root command.

On Wed, May 11, 2016 at 3:14 PM, Ben Parees <notifications@github.com>
wrote:

[2016-05-11 20:48] kargakis commented on #8841
@smarterclayton we agreed in the cli call last week that consolidating all build commands under one root command should be a thing. I want to switch deploy to subcommands too

[2016-05-11 20:58] kargakis opened #8849 "Rename docker-registry to registry"
Deserves its own issue.

cc: @miminar @legionus @smarterclayton @aweiteka @soltysh

[2016-05-11 21:00] smarterclayton commented on #8849
Yes.

[2016-05-11 21:00] smarterclayton commented on #8841
I don't think that fits into our upstream strategy.

On Wed, May 11, 2016 at 4:48 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-05-11 21:01] bparees commented on #8841
it's not quite as discoverable because it appears in a lengthy list of top level commands which we should strive to make shorter.  and it's about answering the question "what are the things i can do with builds?"  rather than "what are all the things i can do with oc?"

in any case my discoverability argument was about "oc cancel build" vs "oc build cancel".  I agree, to a point, that top level co

[2016-05-11 21:01] smarterclayton commented on #8841
It also doesn't fit with other discussions we've had about top level verbs
for build and deploy.

On Wed, May 11, 2016 at 5:00 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-11 21:02] smarterclayton commented on #8841
On Wed, May 11, 2016 at 5:01 PM, Ben Parees <notifications@github.com>
wrote:

Generally a problem that needs to be fixed anyway.  Build doesn't make it
more discoverable.

Then we fix the top level list and help to help people find their commands.

[2016-05-11 21:08] bparees commented on #8841
i would argue it does.  all you have to know is "i want build related stuff" and you're on the discovery path, rather than having to discover the specific full command (cancel-build).  but certainly it's splitting hairs at some point.  again my primary concern is that top level commands should be a carefully curated list and "start-build" and "cancel-build" don't rise to that level imo, just like

[2016-05-11 21:41] smarterclayton commented on #8841
Eliminating irrelevant commands (or more detailed commands) is also an
option.

Upstream is dead set against top level nouns.  Let's not pretend that
that's not a factor we have to deal with.  And as mentioned, build and
deploy are excellent verbs for common use cases.

On Wed, May 11, 2016 at 5:08 PM, Ben Parees <notifications@github.com>
wrote:

[2016-05-11 21:43] kargakis commented on #5788
https://github.com/openshift/origin/pull/8786 updates the builders

[2016-05-11 21:50] smarterclayton commented on #8427
Back up to p1 since we're out of the 1.2 triage window.

[2016-05-11 22:11] mrunalp commented on #8427
I have opened a kernel bug and will update here once I hear back more on it.

[2016-05-11 22:26] kargakis opened #8851 "Expose registry config as a configmap"
`oadm registry` should create it by default.

Very nice to have: https://github.com/kubernetes/kubernetes/issues/22368
[Using ConfigMap](http://kubernetes.io/docs/user-guide/configmap/)

cc: @miminar @legionus @soltysh

[2016-05-12 08:30] wenskys commented on #8833
@bparees thans for you help.
yes,the openshift registry is running in my origin,and a common images is ok with a templates.
![atemplates](https://cloud.githubusercontent.com/assets/12937669/15208525/9f0ff6ba-185e-11e6-8b05-8a3c33d459ac.png)
when i use openshift registry to push a images,it's always like a sti-images,such as
![achange](https://cloud.githubusercontent.com/assets/12937669/15208297/5a

[2016-05-12 08:37] lifei825 opened #8855 "Where is the web console page source, has been deployed on the server"
Excuse me,I can't find the openshift js file，Use the find search all path can not find。Can you tell me why！thank you

[2016-05-12 08:53] #8367 closed

[2016-05-12 12:04] mnagy commented on #8841
So should I merge new-build and start-build into one build command? Or is this now out of scope of the card?

[2016-05-12 12:16] pweil- commented on #8837
@catherinesword a couple questions

1.  are you seeing events that indicate errors?
2.  what do the pod logs say when you create as a normal user (many times this will tell you that the pod is trying to do something that has been restricted - like a sudo operation when running as a normal user)

It is likely that your pod is expecting to run as root which is not recommended. When you log in as the

[2016-05-12 12:36] jwforres commented on #8855
if you are asking about where it is on a running openshift server, then its embedded in the openshift binary.  Why do you need to get to the JS files?

[2016-05-12 12:37] bkmagnetron opened #8857 "getsockopt: no route to host"
Facing issue with docker registry (Endpoints none)

`# oc describe service docker-registry --config=openshift.local.config/master/admin.kubeconfig`

[code]

`# docker logs [container id]`
[code]

##### Version
CentOS 7
Docker version 1.11.1, build 5604cbe
OpenShift Origin v1.2.0-rc2

##### Steps To Reproduce
Download [link](https://github.com/openshift/origin/releases/download/v1.2.0-rc2/openshift

[2016-05-12 12:51] surajssd opened #8859 "unmarshal error on docker-compose.yml import"
I am trying to import the `docker-compose` file using the new feature `oc import docker-compose` but it fails with unmarshal error. But the `docker-compose.yml` runs with `docker-compose` fine.
##### Version

[code]
##### Steps To Reproduce

docker-compose file

[code]

error:

[code]

[2016-05-12 13:09] surajssd opened #8860 "docker-compose import not copying environment variables values but only names"
I tried the new feature of `oc import docker-compose`, after exporting, the template has environment variable names but not their values
##### Version

[code]
##### Steps To Reproduce

Using this docker-compose file1

[code]

Exported as:

[code]

Above you can see that in the first import the values in `DeploymentConfig` `mariadb` the container's env has:

[code]

env's without values.

[2016-05-12 13:10] surajssd commented on #8860
Also tried using second example

Using this docker-compose file
[code]

Exported as:
[code]

[2016-05-12 13:19] surajssd commented on #8860
Now I realised the ports information in above example is also not copied, the compose file has
[code]

but in the imported template I don't see that value being mapped anywhere.

[2016-05-12 13:31] lifei825 commented on #8855
Thank you very much!I want to add some functionality

[2016-05-12 13:41] smarterclayton commented on #8841
I'm inclined to wait until we have more discussion.

On May 12, 2016, at 8:04 AM, Martin Nagy <notifications@github.com> wrote:

So should I merge new-build and start-build into one build command? Or is
this now out of scope of the card?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/8841#issuecomm

[2016-05-12 13:43] markturansky commented on #7170
@moortimis sorry for the long delay in replying, but it looks like your access modes between PV and PVC do not match.

Your PV says it is RWX.  Your PVC requests RWO.

Your PV should have these modes:  *RWO, ROX, RWX.*    This will match the PVC (because they both contain RWO).

[2016-05-12 13:46] gabemontero commented on #8842
I believe I fixed this with https://github.com/openshift/origin/commit/931953a7673695606ff730b2d53b3cad230b2fd6

[2016-05-12 13:47] markturansky commented on #6087
Reassigning to @childsb

[2016-05-12 13:48] markturansky commented on #6643
Reassigning to @childsb

[2016-05-12 13:48] markturansky commented on #7170
Reassigning to @childsb for support, but I think this issue can be closed.

[2016-05-12 13:48] markturansky commented on #4211
Reassigning to @childsb

[2016-05-12 13:57] nichochen opened #8861 "Build Release Error"
[provide a description of the issue]
Hit into error while running build-release.sh on Fedora 23 amd64

##### Version
Latest source code from openshift/origin
go version go1.5.4 linux/amd64

##### Steps To Reproduce
1. Git clone the latest source code from master
2. cd hack
3. ./build-release.sh

##### Current Result
++ Building go targets for linux/amd64: cmd/openshift cmd/oc
++ Building go target

[2016-05-12 14:01] bparees commented on #8737
@smarterclayton i've put in the code to catch the commit error next time this happens, not sure there's anything else we can do with it in the meantime, can we close and re-open when we have an occurrence with useful logs?

[2016-05-12 14:08] sosiouxme commented on #8842
Confirmed, this is fixed with latest master. Thanks!

[2016-05-12 14:20] gabemontero commented on #8842
YW man

On Thu, May 12, 2016 at 10:09 AM, Luke Meyer <notifications@github.com>
wrote:

[2016-05-12 14:20] #8842 closed

[2016-05-12 14:22] timothysc commented on #7166
So I'm going to close down this issue now.  There is still a long decay on termination for bulk deletions, but I believe there are other things now in the pipe to handle this for a -force case.

[2016-05-12 14:22] #7166 closed

[2016-05-12 14:32] jwforres commented on #8855
please take a look at the docs for adding custom js and css
https://docs.openshift.org/latest/install_config/web_console_customization.html#loading-custom-scripts-and-stylesheets

On Thu, May 12, 2016 at 9:31 AM, ssh_go <notifications@github.com> wrote:

[2016-05-12 14:32] #8855 closed

[2016-05-12 15:38] bparees commented on #8833
i'm not sure what you mean by "save the common images"

what common images and what you do mean by save them?

[2016-05-12 15:56] kargakis opened #8865 "TestAlreadyExistingSecretControllerFlow failure"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/853/consoleFull#29806813256bf4006e4b05b79524e5923
[code]
@deads2k

[2016-05-12 16:14] mfojtik commented on #8859
@surajssd can you try to switch `DB_PORT: 5432` to `DB_PORT: "5432"` ?

[2016-05-12 18:46] pweil- commented on #8511
@mfojtik still an issue?

[2016-05-12 18:49] kargakis commented on #7272
@smarterclayton got any idea if controllerRef should help here? Do you know if deleting childs is going to trigger watches for parents somehow? That would be ideal.

[2016-05-12 19:08] mfojtik commented on #8511
i think we are ok, I haven't seen the failure recently.

[2016-05-12 19:08] #8511 closed

[2016-05-12 19:14] kargakis commented on #7114
ok

[2016-05-12 19:15] kargakis commented on #7114
@stevekuznetsov I would like to get https://github.com/openshift/origin/pull/6233 first and then you could add this.

[2016-05-12 19:37] dobbymoodge commented on #8573
@stevekuznetsov have you seen this any more since you created the issue?

@spadgett thanks :smiling_imp:

[2016-05-12 20:09] jwforres commented on #8809
FYI for the folks here that arent on the UI team, the repo has been split off to here https://github.com/openshift/origin-web-console  and its merge and test tag enabled.

The second phase of the work to bring the console changes back into the builds of origin is next and will happen over the next couple days.  Will update when that is complete.

[2016-05-12 20:13] jwforres commented on #8809
Question for everyone, the new repo is currently enabled for Travis, however it takes so long to pull down the npm/bower deps from scratch that running any of our tests in travis would actually take longer then just running a test on jenkins where the deps have been backed up and restored.

Is there anything you can think of that we would want to do in travis that wouldn't require the npm/bower de

[2016-05-12 20:21] jayunit100 opened #8868 "Logging on individual nodes, or at scale, criples nodes either by (1) docker daemon die or (2) OutOfDisk."
**problem**

We have an upstream logging test : https://github.com/kubernetes/kubernetes/pull/24536 , which we can run with an option to multiply 1kb/sec of logging per node.  When running this test over and over again, a cluster comes to a standstill.

- if you're lucky, your machine survives for a while and eventually dies  once disks fill up for containers.  So, we need to stop this from happen

[2016-05-12 20:22] jayunit100 commented on #8868
cc @timothysc  @jeremyeder  @ekuric @rflorenc

[2016-05-12 20:32] timothysc commented on #8868
We should probably log this against the installer, as it's a configuration issue.

/cc @detiber

[2016-05-12 20:39] kargakis commented on #6165
A result from adding flags upstream supposed to work only for `kubectl get` :(

[2016-05-12 21:10] bbiplab opened #8869 "Facing issue in service discovery using default DNS server"
Not able to access an openshift service using service name from a separate pod where my UI application is deployed. In my Openshift environment that I installed from openshift origin using ansible playbook configuration, I have deployed two separate applications. One for my webservice (say "my-api") that returns some in-memory data and the other one is for my UI application that needs to interact

[2016-05-12 22:44] stevekuznetsov commented on #8573
I'm pretty sure I set up a Jenkins error cause pointing to this issue so hopefully if it happens again it will be linked here. I personally haven't seen it.

[2016-05-12 23:38] kargakis commented on #6896
@smarterclayton how do you feel about pausing all deployers' containers on `oc rollout pause`? Should also remove any config change trigger. `oc rollout resume` would unpause and add the trigger back. It would have to play well with ProgressDeadlineSeconds

[2016-05-12 23:40] smarterclayton commented on #6896
We'd have to add that feature check into both recreate and rolling
updater.  But in general I think we want it.

On May 12, 2016, at 7:38 PM, Michail Kargakis <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> how do you feel about
pausing all deployers' containers on oc rollout pause? Should also remove
any config change trigger. oc rollout resume would unpause

[2016-05-12 23:54] wenskys commented on #8833
I'm sorry my description is not very clear.
such as mysql、nginx、redis、metrics-cassandra.
I think I understand,the push image always look like a sti-image that find it in 'Add to Project'，and we can use the template to create a application.
Show just appearance, we can use template to finish the work
Thank you again for your help.

[2016-05-13 01:27] benjaminapetersen commented on #8809
hmm. thinking, but currently nothing comes to mind.

[2016-05-13 02:30] bparees commented on #8833
if you want an image to show up in the web console, you need to create an imagestream for the image, like these:
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json

notice that the s2i images have the "builder" tag:
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L20

and the other images do not:
https

[2016-05-13 03:00] liggitt commented on #8809
Would marking the npm and/or bower component dirs as cacheable for Travis speed things up?

https://docs.travis-ci.com/user/caching/#Arbitrary-directories

[2016-05-13 05:28] surajssd commented on #8859
@mfojtik I changed the docker-compose file as you said

[code]
but the same error
[code]

[2016-05-13 05:31] surajssd commented on #8859
Another discovery: Getting rid of the `DB_PORT: 5432` and `REDIS_PORT: 6379`, makes it work fine
https://github.com/openshift/origin/issues/8860#issuecomment-218751900

[2016-05-13 06:23] wenskys commented on #8833
yes,this is what I want.
words can't describe my gratitude.
openshift is a great project,and have a great team.thanks.

[2016-05-13 10:04] #8833 closed

[2016-05-13 12:13] pweil- commented on #8857
@bkmagnetron this looks like it is encountering an error connecting back to the master which may indicate networking issues.  Is the master url available from the node?  What networking setup did you use for this installation?

[2016-05-13 12:35] jwforres commented on #8809
Worth trying the cache, but it's over 500MB of data I think that we back up
and in Jenkins that's on disk and not going across the network like the
Travis cache does.
On May 12, 2016 11:00 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2016-05-13 13:20] smarterclayton commented on #8860
Fixed by #8871

On May 13, 2016, at 7:30 AM, Dan McPherson <notifications@github.com> wrote:

Assigned #8860 <https://github.com/openshift/origin/issues/8860> to
@smarterclayton <https://github.com/smarterclayton>.

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/8860#event-659794646>

[2016-05-13 13:34] sdodson commented on #8749
This is a docker-1.9.1 bug, possibly rhel/centos specific, https://bugzilla.redhat.com/show_bug.cgi?id=1335635

[2016-05-13 13:40] spinolacastro opened #8873 "Route Crashes due invalid cert"
As far as i could test, the api doesn't test for valid cert,key,caCert body. If you create a route via oc or api with an invalid cert it crashes the route.

##### Version
openshift v1.1.6
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

##### Steps To Reproduce
1. Create a invalid cert, privatekey and caCert:
```$ echo 'invalid' > cert && echo 'invalid' > key && echo 'invalid' > cacert```

2. Create a se

[2016-05-13 14:44] smarterclayton commented on #8859
It looks like this is something that is a limitation of libcompose.  Will verify they fix it and then we'll try to pick up a fix.

[2016-05-13 15:16] timothysc commented on #8868
+1 this too: https://github.com/docker/docker/issues/18057

[2016-05-13 15:21] spinolacastro commented on #8873
@smarterclayton

[2016-05-13 15:24] liggitt commented on #8873
See https://github.com/openshift/origin/pull/8366/files
https://bugzilla.redhat.com/show_bug.cgi?id=1312292

[2016-05-13 17:14] spadgett commented on #8809
Wondering if we can install a subset of npm dependencies, enough to run the unit tests or even just jshint.

[2016-05-13 17:21] stevekuznetsov opened #8876 "Commit-Checker fails on branches other than master"
As seen [here](https://travis-ci.org/openshift/origin/jobs/130039761#L173):

[code]

/cc @smarterclayton

[2016-05-13 17:40] spadgett opened #8877 "No way to programmatically associate pipeline build to deployment"
Issue uncovered by @fabianofranz. Opening here to track.

We want to show what build triggered what deployment in the web console. Today we look at the output image and match it to the deployment config image change trigger and container image. This doesn't work with Jenkins pipeline build strategies since there is no output image in the build config. We need a way to link the build to a deploymen

[2016-05-13 17:48] bparees commented on #8877
arguably we should have this for the normal "buildconfig output triggers a deploymentconfig" linkage too, the fact that the console is basically discovering the association by looking at the BC output and the DC imagechangetriggers seems less than ideal.

[2016-05-13 20:29] spadgett opened #8880 "CLI link for jsonpath help out of date"
Running `oc get -h` shows this:

The link for jsonpath.md is out of date. It takes you through two redirects before coming to the latest doc here: http://kubernetes.io/docs/user-guide/jsonpath/

/cc @fabianofranz

[2016-05-13 20:47] smarterclayton opened #8881 "oc describe dc should show strategy hooks"
Currently strategy is a one liner, we should show more info, including hook types.

[2016-05-13 22:00] #8873 closed

[2016-05-14 02:51] bparees commented on #8841
so the bits i understand so far:
oc build is being reserved for verb usage, as in "oc build this thing right now" (where "this thing" could be my local directory, built via binary build).

Whether you could also do something like "oc build bc/foo" which would be the equivalent of "oc start-build bc/foo" is perhaps a question worth asking.

that would still leave us with no good answer for oc cance

[2016-05-14 18:56] #8828 closed

[2016-05-15 15:16] aravindreddygit commented on #3841
By looking into the latest issue its certificate issue. I have my private git hub registry and i have generated self signed cert "self.crt" on my registry server and added cert "self.crt" to my master and  node @ path:/etc/pki/ca-trust/source/anchors and ran "update-ca-trust extract" to fix this "connection reset by peer" issue.

[2016-05-16 00:08] smarterclayton commented on #7272
Deleting children would not trigger watches for parents.

On Thu, May 12, 2016 at 2:49 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-05-16 00:08] smarterclayton commented on #8511
It was fixed.

On Thu, May 12, 2016 at 3:08 PM, Michal Fojtik <notifications@github.com>
wrote:

[2016-05-16 00:44] gt-tech opened #8886 "DNS Problems in local Openshift origin environment"
After following instructions mentioned here - http://developers.redhat.com/blog/2015/11/19/dns-your-openshift-v3-cluster/, my source-to-image builder pods are unable to get to my intranet code repository which were working until i made the changes as mentioned in previous link, the reason I had to make those changes was because my services weren't able to discover each other otherise.

##### Versi

[2016-05-16 01:11] gt-tech commented on #8886
For more information, the resolv.conf in the container that's running the s2i build (oc exec didn't allow me to get into this it, with build containers being privilged containers, so i used docker exec to get to the content of the while)

docker exec -it 703551e165f5 cat /etc/resolv.conf
[code]

[2016-05-16 01:12] lifei825 commented on #8749
Excuse me, does this make a difference to the service

[2016-05-16 02:47] gt-tech commented on #8886
turned out to be an iptables problem, after updating firewall rules in iptables issue was resolved!

[2016-05-16 02:47] #8886 closed

[2016-05-16 08:59] kargakis commented on #8881
We already show them
[code]

[2016-05-16 09:01] kargakis commented on #8881
Were you testing your custom deployer changes? I think you would need to update the describer for that.

[2016-05-16 09:16] kargakis opened #8887 "Rolling deployment support for mid hooks"
Similar to https://github.com/openshift/origin/issues/2639

@smarterclayton @ironcladlou

[2016-05-16 09:16] kargakis commented on #2639
Opened https://github.com/openshift/origin/issues/8887 for rolling

[2016-05-16 09:16] #2639 closed

[2016-05-16 09:18] kargakis commented on #3683
Moving to @bparees for assigning to somebody else

[2016-05-16 09:18] kargakis commented on #3902
Moving to @bparees for assigning to somebody else

[2016-05-16 13:37] sdodson commented on #8749
We don't believe so. If you find out that it's causing problems please let us know what sort of problems (aside from log spam) it's causing.

[2016-05-16 13:54] smarterclayton commented on #8440
I'm debating whether we should move `import-image` to a new `import image` command and fix up the behaviors, then deprecate import-image.

[2016-05-16 14:09] bparees commented on #3902
@gabemontero is most familiar w/the graph library at this point, giving to him (low priority).

[2016-05-16 14:20] aweiteka commented on #8440
@smarterclayton +1. Here are the primary use cases I think we need should consider:

1. I want to sync metadata referencing a remote registry image so I can use it as an imagestream.
1. I want to manually refresh the remote referenced image...
  * to see if the `latest` tag is pointing to a different image.
  * to debug a failed image sync (need `--insecure` flag or image requires auth)
1. I want

[2016-05-16 15:03] smarterclayton commented on #8881
Yeah, it was the deployer changes.  I also noticed TagImages was missing, so I fixed that.

[2016-05-16 15:03] #8881 closed

[2016-05-16 15:30] sdodson commented on #8581
@pweil- is this something we'll try to have in 3.2.1?

[2016-05-16 16:34] kargakis commented on #8642
Closing to get it off my radar. We should revisit this in v2.

[2016-05-16 16:34] #8642 closed

[2016-05-16 16:42] bparees commented on #8877
from our email thread:
gabe:

- There are a broader set of similar (but with enough differences) scenarios that warrant a more comprehensive solution; that said, we can make smaller / tactical additions to facilitate the effort here
- Clayton would prefer a first class field on the deployment vs. an annotation; it would be similar to additions to the Build Victor has in progress which are close to

[2016-05-16 16:43] bparees commented on #8877
@gabemontero this probably needs to turn into a card, but it'll be high priority (probably what you'll be working on next sprint)

[2016-05-16 17:03] Scyta1e commented on #8825
Running: openshift v1.2.0-rc1
Test is simply hitting an Apache sever. Will typically exit the harouter after 5-10 requests in fairly quick succession:
....
I0516 16:42:11.928506       1 router.go:310] Router reloaded:
 - Checking HAProxy /healthz on port 1936 ...
 - HAProxy port 1936 health check ok : 0 retry attempt(s).
fatal error: concurrent map read and map write

goroutine 44 [running]:
runti

[2016-05-16 17:27] ramr commented on #8825
@liggitt  back, so looking at it now.

[2016-05-16 18:26] pweil- commented on #8581
No.  If we can get #6385 in then this is more likely to be a 3.3.X item based on the current workload.

[2016-05-16 19:29] deads2k commented on #8865
Added an indication on it.  I saw it once during a [test] run, but I haven't seen it in a [merge] run.  I wonder if its just contention and I need a less aggressive timeout.

[2016-05-16 20:00] ofthecurerh opened #8894 "sti builds can saturate disk iops"
I'm trying to load a single node up with the quickstart apps and am running into issues getting every app into a running state. On the smaller app numbers (10 to 20) the build a deploy pods successfully run and the app pod is started with its corresponding database pod. When trying to run a larger number (38), most of the apps end up in a failed state with either the build or one of the deploy pod

[2016-05-17 07:05] livelace commented on #8507
Hello. Any news about this ?

[2016-05-17 08:42] kargakis commented on #8877
@smarterclayton how are we supposed to persist fields not found upstream in order to round-trip? Why does this really need to be a first-class field when we will serialize it as an annotation anyway?

[2016-05-17 10:40] kargakis opened #8897 "failed to negotiate an api version"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/937/consoleFull#48488526556c25df4e4b05b79524e5d52
[code]
@deads2k @liggitt

[2016-05-17 10:56] bkmagnetron commented on #8857
Fixed it by running the below command in non super user mode
`oadm registry -n default --config=openshift.local.config/master/admin.kubeconfig`

But still I have issues when deploying apps. So, I'll be opening issue thread for that.

[2016-05-17 10:56] #8857 closed

[2016-05-17 11:00] kargakis commented on #8877
Or is this supposed to be a field in the image change trigger which we are going to serialize anyway?

[2016-05-17 11:38] kargakis commented on #8877
Oh, I see. What is needed here from the deployment side is a status cause, right?

[2016-05-17 12:20] pweil- commented on #8894
@ofthecurerh - the deploy log looks like it waited for the pods to become ready but it never happened.  Do you have failed pods from that deployment?  Their logs may give more information about why they were not started successfully.

The build log looks similar to https://github.com/openshift/origin/issues/4518.  Does  second build of the same app work for you?

[2016-05-17 12:27] jhadvig opened #8899 "Running `oc status` with no projects shouldn't return error"
When running `oc status` without any project created, I get back:

[code]

but instead we should return none-error message similar(or the same) the the one from `oc login` when no projects are created:

[code]

@fabianofranz @jwforres @spadgett thoughts ?

[2016-05-17 12:44] jwforres commented on #8899
cc @deads2k

[2016-05-17 13:14] bkmagnetron opened #8901 "oci runtime error: exec failed:"
I'm trying to install all in one OpenShift Origin Server, initially I had issue with [docker registry](https://github.com/openshift/origin/issues/8857) but I solved it later. Now I'm trying to deploy [hello-openshift](https://github.com/openshift/origin/tree/master/examples/hello-openshift) app.
Following is the error that I'm getting in the terminal of hello-openshift's container:
[code]
##### Ve

[2016-05-17 13:47] surajssd commented on #8859
@smarterclayton so has this been reported in libcompose ? I was not able to recreate this using pure libcompose (because of my limited understanding of go as of now)?

[2016-05-17 13:53] gabemontero opened #8903 "consistent build extended test failure"
@bparees FYI

The extended test "starting a build using CLI override environment should allow to change build log level"  [located here](https://github.com/openshift/origin/blob/master/test/extended/builds/start.go#L75-L87) started to consistently fail between [job 162](https://ci.openshift.redhat.com/jenkins/job/origin_extended_build_tests/162/)  and [job 163](https://ci.openshift.redhat.com/jenk

[2016-05-17 15:11] surajssd opened #8904 "permission denied in pods, using import docker-compose"
I am trying the new feature of `import docker-compose` and facing many issues like permission denied inside the container. This docker-compose file works fine with docker-compose itself.
##### Version

[code]
##### Steps To Reproduce

Here is the compose file I am using:

[code]

pods:

[code]

wordpress pod logs

[code]

The complete log: http://paste.fedoraproject.org/367599/49740014/ OR
https:/

[2016-05-17 16:50] bparees commented on #8737
closing, @smarterclayton can reopen if he disagrees.

[2016-05-17 16:50] #8737 closed

[2016-05-17 17:01] csrwng opened #8907 "Make image parameter of 'oc cluster up' fully parameterizable"
'oc cluster up' allows you to specify an image tag for your images. Allow users to provide the full image spec.

##### Version
current

[2016-05-17 17:18] smarterclayton commented on #8737
fine by me.

On Tue, May 17, 2016 at 12:50 PM, Ben Parees <notifications@github.com>
wrote:

[2016-05-17 17:53] bparees commented on #8903
yeah it's almost certainly due to that PR.  TC probably needs to be updated.

[2016-05-17 17:54] spadgett commented on #8877
Two quick comments now that I've started web console implementation:

- The link between pipeline build and deployment needs to be set as the deployment *begins* for the transitions to look correct for in progress deployments.
- We also need a link between either build config or build to deployment config. This will let us show pipelines that haven't yet started a deployment.

[2016-05-17 18:21] smarterclayton opened #8908 "F5 test failing in base_ami job"
F5 test is failing in base_ami: https://ci.openshift.redhat.com/jenkins/job/base_ami/1912

[code]

[2016-05-17 18:22] smarterclayton commented on #8908
@Miciah we just switched to Go 1.6 to run unit tests - not sure whether that's related or not.

[2016-05-17 18:41] kwoodson opened #8909 "Infinite loop when deleting rc"
I am attempting to clean up a project's replication controllers.  I ran oc delete rc/heapster and the command never returns.

I ran loglevel=8 on the same command and it appears that the api queries for the rc and continues to do so forever.
I0517 18:25:50.120123   59602 round_trippers.go:264] GET https://internal.api.opstest.openshift.com/api/v1/namespaces/openshift-infra/replicationcontrollers/h

[2016-05-17 18:56] kwoodson commented on #8909
I noticed that there were 2-3 projects that were in a terminating state.  I restarted the atomic-openshift-master-controllers and atomic-openshift-master-api and then this problem went away.

[2016-05-17 18:56] #8909 closed

[2016-05-17 19:48] smarterclayton commented on #8859
We're on a slightly older version of compose.  So if they've fixed it,
that's good.

On Tue, May 17, 2016 at 9:48 AM, Suraj Deshmukh <notifications@github.com>
wrote:

[2016-05-17 20:06] kargakis commented on #8877
The config and image controllers already set causes directly to status as they kick deployments. I have been moving status updates to the config change controller. Deployments should not be kicked automatically anyway if there is no config change trigger. Eventually a config change trigger is bad naming for what we want config change triggers to do (which is pausing)

cc: @ironcladlou @smarterclay

[2016-05-17 20:49] kargakis commented on #8507
Not really. Unless somebody else wants to take a stab at it (which will first require discussion upstream) I am not going to get at this for some time (most probably not before 1.3)

[2016-05-17 21:07] deads2k commented on #8909
@kwoodson the delete command first attempts to scale down the RC and then polls the RC to see when it's status indicates that it has zero pods remaining.  It never finishing suggests that the RC wasn't scaling down.

If you see this again can you watch your pods and see what they're doing?  An `oc describe rc/heapster` may be instructive too, since it will show us events from the controller.

[2016-05-17 21:22] rastapopulous opened #8913 "Atomic Registry install fails with Oauth issue"
Installing the atomic registry fails with:

--> Creating resources ...
    deploymentconfig "registry-console" created
    service "registry-console" created
    imagestream "registry-console" created
    error: OAuthClient "cockpit-oauth-client" is invalid: scopeRestrictions: Required value: required when allowAnyScope is false

##### Version
[root@host origin]# oc version
oc v1.3.0-alpha.0-167-g

[2016-05-17 22:32] #7901 closed

[2016-05-18 01:08] smarterclayton opened #8915 "runtime error: invalid memory address or nil pointer dereference"
https://app.getsentry.com/red-hat/openshift-3-stg/issues/129289018/

[code]

[2016-05-18 01:33] #8825 closed

[2016-05-18 02:35] #8865 closed

[2016-05-18 03:35] #8897 closed

[2016-05-18 03:47] liggitt commented on #8913
@deads2k for backwards compatibility issue

[2016-05-18 04:23] surajssd commented on #8859
@smarterclayton I was able to re-create it using `libcompose` and here is the issue https://github.com/docker/libcompose/issues/266

[2016-05-18 04:52] surajssd commented on #8904
This is [compose file](https://github.com/rafabene/devops-demo/tree/master/compose) I tried and similar kind of errors:

[code]

Pods
[code]
Pod wise logs
Postgresql db pod:
[code]

[code]
Wildfly pod:
[code]

[2016-05-18 07:56] bkmagnetron commented on #8901
Seems like the container really don't have the file that I'm looking for.

[2016-05-18 07:57] #8901 closed

[2016-05-18 09:27] wenskys opened #8916 "how can use private network with openshift"
Hi,
I have some question for create a private network.
we use openshift as a dev/test environment，some times we need to local test and adjustment with openshift environment.

This means that the local network to access to the address of the pod(only use pod ip and port,such as a web service that  not 80 and 443 and service ip.)
route can be use in our environment，but now is failure.
[code]
now we

[2016-05-18 11:12] cmoulliard opened #8917 "oauthConfig.identityProvider[0].provider.ca: Invalid value --> could not read file"
This error is reported when Openshift starts :

`
error: Invalid MasterConfig /var/lib/origin/openshift.local.config/master/master-config.yaml
  oauthConfig.identityProvider[0].provider.ca: Invalid value: "/var/lib/origin/keycloak-ca.cert": could not read file
`

##### Version
Latest docker openshift image published : 18 May 2016

##### Steps To Reproduce

- Command used to start OpenShift with Do

[2016-05-18 11:13] smarterclayton commented on #8859
Thanks for digging in Suraj!

[2016-05-18 12:03] liggitt commented on #8917
It doesn't look like you're mounting in the /var/lib/origin folder

Can you move the key cloak ca file under the openshift.local.config dir and reference it there?

[2016-05-18 12:05] deads2k commented on #8913
@openshift/api-review It would really be a shame to have to default to dangerous.

`allowAnyScope` was intended to be a very explicit choice by a cluster-admin to indicate "I trust this client so much that I'll allow him to request any scope he wants on the entire cluster, including policy, nodes, and direct token access"  Previously, that level of access was the default (and only) choice we had.

[2016-05-18 12:07] smarterclayton commented on #8913
Which class of users and usecases is affected?

On May 18, 2016, at 8:05 AM, David Eads <notifications@github.com> wrote:

@openshift/api-review <https://github.com/orgs/openshift/teams/api-review>
It would really be a shame to have to default to dangerous.

allowAnyScope was intended to be a very explicit choice by a cluster-admin
to indicate "I trust this client so much that I'll allow him to re

[2016-05-18 12:15] deads2k commented on #8913
cluster-admins trying to migrate OAuthClients they've created in the past or re-use OAuthClient objects they previously stored.  I didn't think anyone was actually using them, so I fixed up ours, but no one else's.

This would be a very ugly problem, I don't want to downplay it.  Current OAuthClients would be restricted from even creating new tokens based on old authorizations, because validation

[2016-05-18 12:21] knobunc commented on #8916
Normally there is no outside access to the openshift SDN network.  You should set up routes or use service nodeports to get traffic in to the services you are interested in.

[2016-05-18 12:33] wenskys commented on #8916
thanks for your answer.
Sometimes developers to access the site,route and service nodeports can meet the needs of most.
some opensouce project such as dubbo,they record the ip of the pod and feedback to development，so we unable to debug before updating to openshift .
if we need this,in addition to the `route add`, there are other ways to implement it?
thanks again.

[2016-05-18 12:45] smarterclayton commented on #8904
If you run `oc status`, you should see warnings about this that instruct you what to do (you may have to pass `oc status -v`).

[2016-05-18 12:50] knobunc commented on #8916
Allowing direct external access to the pod or service network isn't officially supported.  But if you really want to pursue it, it is technically possible, and the approach you took above is certainly the right direction.  There are two big issues, one is that the firewall will block the traffic by default.  So you will have to adjust the rules to allow external traffic to talk to the internal IPs

[2016-05-18 12:54] deads2k commented on #8915
@smarterclayton did you push the button to allow sentry access to private repos and auto-create issues for you?

Also, I think I fixed this already with https://github.com/kubernetes/kubernetes/pull/25472.  You want it picked?  I was just going to wait.

[2016-05-18 13:05] sosiouxme commented on #8440
I don't like having import-image as a top-level command either. Is there
anything else where the `import` verb will make sense? I was thinking just
load all the desired behaviors in `oc tag` or `oc set` or something.

On Mon, May 16, 2016 at 9:54 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-05-18 13:11] smarterclayton commented on #8915
This is probably a backport - @brenton

On Wed, May 18, 2016 at 8:54 AM, David Eads <notifications@github.com>
wrote:

[2016-05-18 13:14] aweiteka commented on #8440
Yes, and my use case was drafted using language that makes sense to me. I'm not stuck on anything but those verbs are...

- sync
- refresh (or resync or update)
- import

I also think we could put this all under "tag" but would need some args referencing these verbs. An interesting noun that is meaningful to me is "remote".

[2016-05-18 13:27] kargakis commented on #7114
@stevekuznetsov did you start working on this? If not, I would like @mfojtik to take a stab at it.

[2016-05-18 13:33] smarterclayton commented on #8440
The "import" command is a good one stop shop for "how do I make an external
artifact relevant on my cluster".  In this case, the artifact is an image.

Let's keep iterating on the use cases and make sure we flush out any lack
of clarity.

On Wed, May 18, 2016 at 9:14 AM, Aaron Weitekamp <notifications@github.com>
wrote:

[2016-05-18 13:35] ncdc commented on #8915
@deads2k reassigned to you

[2016-05-18 14:02] cmoulliard commented on #8917
The problem is gone if I place the file under the directory openshift.local.config/master

We could perhaps add a remark/warning within the doc to mention that the volume should be mounted

[2016-05-18 14:03] wenskys commented on #8916
I think we can put the debugging in openshift such as agile development, although will also increase the burden of development engineer.
Thank you very much for your advice, I will further from a security perspective with you advice.

[2016-05-18 14:05] knobunc commented on #8916
You should only need to debug this once.  It's not something that all developers will need to do.

[2016-05-18 14:05] #8916 closed

[2016-05-18 15:10] geovanaSouza opened #8921 "HAProxy Router reboot many times"
##### Steps To Reproduce
1. I installed OpenShift Router through the ansible playbook https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_hosted
2. The router restarts several times after that.
3. In the log shows this before restart:

Checking HAProxy /healthz on port 1936 ...
HAProxy port 1936 health check ok : 0 retry attempt(s).
fatal error: concurrent map read and map w

[2016-05-18 15:26] Miciah commented on #8908
I'm eyeing lines 1408 and 1418 at https://github.com/openshift/origin/commit/37e1e96d36670f4134c07cfc04b8a774bc718c7d#diff-e6c049c643b77b500bba15d06c8f75e3R1408.  It does look like a double-close, but I'm confused why we see a panic on the *first* close.  @ramr, thoughts?

[2016-05-18 15:27] sosiouxme opened #8922 "oc start-build --from-repo does not clone submodules"
Similar to https://github.com/openshift/origin/issues/5910 which got fixed - builds from a URL will clone submodules, but builds from a local git repo won't (even though the submodule code is remote).
##### Steps To Reproduce

Create the following build:

[code]
1. oc start-build --follow
2. git clone --recursive https://github.com/sosiouxme/origin-aggregated-logging -b issue-example-build-from-re

[2016-05-18 15:51] smarterclayton commented on #8908
Is mockF5 returning an error?  In which case the thing you're invoking
close() on is nil?

On Wed, May 18, 2016 at 11:26 AM, Miciah Dashiel Butler Masters <
notifications@github.com> wrote:

[2016-05-18 15:55] Miciah commented on #8908
Yeah.  There are two problems in the code I pointed to: (1) it does a `close` even if `newTestRouter` returns an error (in which case `mockF5` will be `nil`) and (2) it has a double-close.  As to why `newTestRouter` is failing, my best guess is that, problem (3), we create new test routers in `TestF5RouterPartition` without closing them, and maybe that causes us to run up against some limit that c

[2016-05-18 15:57] Miciah commented on #8908
I meant `TestInitializeF5Plugin`, not `TestF5RouterPartition`.

[2016-05-18 16:23] Miciah commented on #8908
Per https://github.com/openshift/origin/issues/4417, we can probably drop the funky stuff we do to avoid ECDHE ciphers.  Funky stuff is always suspect.

[2016-05-18 16:24] smarterclayton commented on #8908
We in origin only now use Go 1.6.

On Wed, May 18, 2016 at 12:23 PM, Miciah Dashiel Butler Masters <
notifications@github.com> wrote:

[2016-05-18 16:39] Miciah commented on #8908
To be clear, the funky stuff is only in the test code.  It is a workaround to configure the test server not to use ECDHE ciphers.  We added it because the tests were slow otherwise (they would eventually succeed, but they took long enough to cause timeouts in Travis, IIRC).  Is there a problem with deleting the workaround in the test code, or do we need tests to run fast on older Go?

[2016-05-18 16:44] smarterclayton commented on #8908
We can delete the code - we are dropping the older Go.

[2016-05-18 17:11] maci0 opened #8926 "cinder disk doesn't get detached,"
[code]

##### Version
oc v3.2.0.20
kubernetes v1.2.0-36-g4a3f9c5

##### Steps To Reproduce
1. set up containerized OSE  on RHEL-AH on top of OSP
2. use cinder volume in OSE for example with jenkins-persistent
3. works fine
4. scale down to 0
5. scale up to 1
6. pod cant start on a different node

##### Current Result
pod cant start on a different node
##### Expected Result
pod starts on different

[2016-05-18 17:36] fabianofranz commented on #8899
I think this applies to pretty much every command - if you try to for example `oc get pods` without any project, it will fallback to the `default` namespace.

[2016-05-18 19:23] spadgett opened #8931 "Can't cancel Jenkins strategy build"
Nothing appears to happen when I cancel a running Jenkins strategy build from the web console. The build keeps running. (To cancel the build, the web console makes a PUT request on the build with status `"cancelled": true`)

/cc @bparees @jimmidyson @jwforres

[2016-05-18 19:45] cmoulliard opened #8933 "E0518 AuthenticationError: Post x509: certificate signed by unknown authority"
Can you provide some guidance to resolve this error when we setup Keycloak as Identity Provider with Openshift ?

`E0518 19:22:45.911642   10471 errorpage.go:30] AuthenticationError: Post https://192.168.1.80:8443/auth/realms/openshift/protocol/openid-connect/token: x509: certificate signed by unknown authority`

##### Version
Openshift Docker Image : 15 of May 2016

[2016-05-18 20:01] #8156 closed

[2016-05-18 20:24] Miciah commented on #8921
This looks like a duplicate of https://github.com/openshift/origin/issues/8825.

[2016-05-18 21:28] bparees commented on #8931
I think this is an issue w/ the sync plugin, can you open it there?  the sync plugin should recognize the build object was marked cancelled and do the right thing, like it does when it sees a new build object.

[2016-05-18 21:41] liggitt commented on #8908
+1 for dropping, I verified performance wasn't an issue any more

[2016-05-18 22:38] ofthecurerh commented on #8894
@pweil- I'm starting to suspect this is a networking issue. When I tried this on a single node (master and node), I was getting up to 300Gbit/s on loopback and when I tried it on two nodes (one master, one node), the master reported that the pods were evicted and the node was unreachable until I restarted it.

[2016-05-19 04:11] liggitt commented on #8917
Which doc are you referring to? In general, any file referenced by the master config has to be accessible to the master process.

[2016-05-19 04:11] #8917 closed

[2016-05-19 04:16] liggitt commented on #8933
Are you providing the CA that signed the keycloak serving cert to OpenShift? You can do so with the `ca` attribute on the identity provider in the master-config.yaml (see https://docs.openshift.org/latest/install_config/configuring_authentication.html#OpenID)

[2016-05-19 04:51] surajssd commented on #8904
@smarterclayton thanks, after sometime of `CrashLoopBackOff` when I did `oc status -v` got to know that the process in container were not allowed to run as super user so they were failing so had to do

[code]
And then the containers which were failing on permission denied now work, but I don't know if this is the right thing to do.

[2016-05-19 04:53] cmoulliard commented on #8933
Yes. I have included the ca cert file coming from the Keycloak SSL Server

Config used

[code]

Certificate info

[code]

With my latest certficate generated using this command

[code]

I get this error now

[code]

[2016-05-19 06:12] mohammedzee1000 opened #8936 "Atomic registry quickstart registry new project templates not created and applied."
In the atomic registry quickstart, the registry new project templates dont get created and applied in run.sh, with users essentially creating standard openshift projects instead of registry projects.

The commands are (in run.sh) :

    $CMD oc create -f /etc/origin/registry/registry-newproject-template-shared.json

    $CMD oc create -f /etc/origin/registry/registry-newproject-template-unshared.j

[2016-05-19 09:58] tnozicka opened #8937 "Deployments from ImageStream do not work for manual deploy"
The way you can specify Deployments to start from an ImageStream instead of an image is to specify _image: " "_ and trigger from ImageChange.
[code]
This will fail at deployment `#1` letting you wait about a minute (because of inability to pull image " ") and then re-deploy as `#2` from the ImageStream. @smarterclayton said that someone is working on that [1].

The bigger issue comes if you decide

[2016-05-19 10:51] danmcp commented on #8936
@aweiteka FYI

[2016-05-19 11:42] spadgett commented on #8931
Opened against the sync plugin.

[2016-05-19 11:42] #8931 closed

[2016-05-19 12:11] pweil- commented on #8894
@ofthecurerh thanks for the update.  I'll assign this to networking to help out (or you can close it if you have it worked out) but feel free to reassign back if it doesn't turn out to be a networking issue.

[2016-05-19 12:16] deads2k commented on #8915
@brenton which stream would you like me to backport this into?

[2016-05-19 12:25] brenton commented on #8915
I can't really judge the severity by stack trace.  Let's start with the ose/master branch since that's 3.2.1.

[2016-05-19 12:36] pweil- commented on #8937
cc @kargakis

[2016-05-19 12:43] surajssd opened #8939 "developer vagrant box networking problem"
I am using this docker file and doing `oc import docker-compose`, when the pods come up, wordpress pod is not able to talk to centos based maraidb pod, but if I exec into the mariadb pod and create connection to outside world, then try again connecting to mariadb from wordpress container it works.

This happens only on the vagrant box that is downloaded by the Vagrantfile in origin source code. I

[2016-05-19 12:48] knobunc commented on #8921
This is a duplicate of #8825 and a PR has been merged to resolve it.  Thanks.

[2016-05-19 12:48] #8921 closed

[2016-05-19 13:32] mohammedzee1000 commented on #8936
Also, i exec'ed into the origin container, copied over the template json and created the template there. After that i noticed that the project was getting created but the requestor was not the admin by default so when i tried to view the project, i got a host of errors and had to modify the policy manually to make the requesting user, the admin.

It should happen if you try to repeat the process o

[2016-05-19 14:06] liggitt commented on #8913
If an OAuthClient that used to work (or a newly created OAuthClient with a minimal definition) is now unusable, I think we chose wrong.

[2016-05-19 14:18] kargakis commented on #8937
Should be fixed by https://github.com/openshift/origin/issues/8937

[2016-05-19 14:20] smarterclayton commented on #8937
You mean #8746?

[2016-05-19 14:28] aweiteka commented on #8936
I'm not able to reproduce this issue (although there was an unrelated issue I observed yesterday). I have build a new quickstart image with these fixes #8942.

We need to do better with versioning the quickstart. Until then could you uninstall the failing deployment, pull the latest quickstart and try install/run again?

[2016-05-19 14:30] kargakis commented on #8937
Right.

[2016-05-19 14:38] surajssd opened #8943 "All services in docker-compose not mapped to OpenShift services"
I am trying `oc import docker-compose` with the following [docker-compose](https://github.com/docker/docker-birthday-3/blob/master/example-voting-app/docker-compose.yml) file. When imported the OpenShift template that is generated looks like [this](https://gist.github.com/surajssd/24064763b9d5a4d1a1a90739fef7aaf1). So with this new feature, with the [intoductory mail](https://lists.openshift.redha

[2016-05-19 14:41] deads2k commented on #8913
Can you think of any other field where we've chosen empty to mean "full powers"?  You had also suggested having  "full-access" scope instead of empty meaning full-access.  That would also break everyone, so is that a thing we want to do or no?

If it didn't default so dangerously I'd agree without hesitation.

[2016-05-19 14:51] liggitt commented on #8913
Restricting the scopes an OAuth client is allowed to request isn't a normal thing to do. The safeguard is typically at the point of grant approval

[2016-05-19 15:10] timothysc commented on #8464
on 1.3 rebase, we will need to change the defaults that upstream sets for the kubelets.

--pods-per-core=10
--max-pods=255
xref: https://github.com/kubernetes/kubernetes/pull/25813

We will have benchmark automation in place shortly.

/cc @rrati @jeremyeder

[2016-05-19 15:12] deads2k commented on #8464
@mfojtik I think this now yours.

[2016-05-19 15:18] stevekuznetsov commented on #7114
I haven't yet, and I'm OOO until next week. @mfojtik thanks!

[2016-05-19 15:18] mohammedzee1000 commented on #8936
Ok i will do that and get back.

[2016-05-19 16:09] ncdc commented on #8829
Fixed by https://github.com/kubernetes/kubernetes/pull/25598

[2016-05-19 16:14] mfojtik commented on #7114
@kargakis @stevekuznetsov to make me understand this:

1) We add `MinReadySeconds` into DeploymentConfig
2) When a new deployment is rollout every new pod that is started must be ready in ^^ seconds otherwise we fail deployment?

[2016-05-19 16:31] kargakis commented on #7114
MinReadySeconds takes effect after a pod is ready. If you have dc.Spec.MinReadySeconds == 0, the deployment process should consider pods available as soon as they become ready. If you have dc.Spec.MinReadySeconds == 5, the deployment process should consider pods available 5 seconds *after* they become ready. I think you will need changes in the rolling updater.

[2016-05-19 16:55] mfojtik commented on #7114
@kargakis right, I get it now, i think.

[2016-05-19 16:55] ironcladlou commented on #8748
@smarterclayton did you observe this in one of your own projects? Any details at all on how to reproduce?

[2016-05-19 18:16] stevekuznetsov commented on #7114
What's the utility of this over a intelligent readiness probe?

[2016-05-19 18:25] stevekuznetsov commented on #7114
This does seem less powerful and more frustrating to use than a readiness probe, anyway.

[2016-05-19 18:27] kargakis commented on #7114
@stevekuznetsov this doesn't replace readiness probes but complements them since it will take effect as soon as readiness probes in a pod succeed and it is considered ready.

[2016-05-19 18:32] stevekuznetsov commented on #7114
Why is that useful? Shouldn't we want users to define readiness probes that are actually meaningful instead of "X and then it didn't crash for five seconds"?

[2016-05-19 18:32] smarterclayton commented on #7114
Just because something is ready doesn't mean that you're ready to move on.

On Thu, May 19, 2016 at 2:30 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-05-19 18:37] stevekuznetsov commented on #7114
Isn't the point of the readiness probe to tell you when you're ready to use the pod, when it's available? I think I may be misunderstanding that feature.

[2016-05-19 18:44] kargakis opened #8946 "test/cmd/admin.sh: error getting client flake"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/1002/consoleFull#116506536856c25df4e4b05b79524e5d52
[code]
Just after the daemon set test which looks suspicious

cc: @pweil- @deads2k

[2016-05-19 19:03] pweil- commented on #8946
I'd be more suspicious if it was saying that the registry already exists.  Error dialing the local host though seems unrelated.  I'll see if I can reproduce it.

[2016-05-19 19:05] deads2k commented on #8946
Server panic doing something with the daemonset: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/1002/artifact/origin/artifacts/test-cmd/logs/openshift.log

[2016-05-19 19:37] kargakis opened #8947 "MasterConfig serialization failure"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/1006/consoleFull#-47652196856bf4006e4b05b79524e5923

@deads2k @liggitt

[2016-05-19 19:37] kwoodson opened #8948 "image import did not get the correct tags"
While deploying the logging-deployer template today we noticed through some debug that the image stream tags were not getting the right version.  We saw 3.2 but not the 3.2.0 that was referenced in the deploymentconfig.

On another cluster that deployed successfully with the same automation we saw the imagestreamtags for 3.2.0.

There must be some discrepancy between how import-image works.

#####

[2016-05-19 19:43] kargakis commented on #8039
@mfojtik the rebase fixes this, fyi

[2016-05-19 19:44] #2053 closed

[2016-05-19 19:54] kargakis commented on #2809
@ironcladlou is there  something we should do here?

[2016-05-19 19:55] jeremyeder commented on #8464
Awesome!  Oh, wasn't the max 254?  (openshift-sdn starts handing out IPs at x.x.x.2 within the per-node network segment).

[2016-05-19 19:55] kargakis commented on #1485
@smarterclayton is this fixed?

[2016-05-19 19:56] deads2k commented on #8947
Well, that's unfortunate.  It hit an anti-flake during the merge.

[2016-05-19 19:56] timothysc commented on #8464
Max on 3.2 is currently 510

[2016-05-19 20:13] kargakis commented on #6478
This is ok for now

[2016-05-19 20:13] #6478 closed

[2016-05-19 20:31] gabemontero commented on #8877
@bparees created [this trello card](https://trello.com/c/GkBJsZxf/935-programmatically-associate-pipeline-build-to-deployment)

I left it in the New category for now; I'll defer to you about accelerating it through the stages if you want it scheduled for next sprint as you mentioned in https://github.com/openshift/origin/issues/8877#issuecomment-219476556).

[2016-05-19 20:49] sosiouxme opened #8951 "`oc describe is` has inconsistent results with multiple tags of same image id"
When the same image in an imagestream has multiple tags, the display of `oc describe` may show one tag or the other twice, and apparently not both.
##### Version

$ oc version
oc v1.3.0-alpha.0-510-gb7275b5
kubernetes v1.3.0-alpha.1-331-g0522e63
##### Steps To Reproduce
1. oc import-image logging-fluentd --from registry.access.redhat.com/openshift3/logging-fluentd --all --confirm
2. oc import-imag

[2016-05-19 21:22] pweil- commented on #8946
The DS controller is not handling DeletedFinalStateUnknown in the delete func of its store.  Submitted https://github.com/kubernetes/kubernetes/pull/25913

[2016-05-19 22:19] smarterclayton commented on #1485
Yes, this was fixed.

[2016-05-19 22:19] #1485 closed

[2016-05-19 22:31] smarterclayton commented on #7114
Readiness probe tells you when to add it to a load balancer.  Just because
something says it's ready, doesn't mean that it might not crash in the next
few seconds.  The delay allows you to add time for new pods to start
accepting traffic in a stable fashion before continuing.

On Thu, May 19, 2016 at 2:41 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-05-19 22:37] smarterclayton commented on #8915
It's in pod cleanup on a deleted node.  It might block releasing quota for pods in a user's namespace if a node goes down, thus resulting in the app not being able to scale up.

[2016-05-19 22:43] sosiouxme opened #8952 "oc import-image --all doesn't import all"
If you ask for --all tags, you kind of expect to get all of them, not some random subset. If there's some performance reason for limiting them, then there should be an alternative flag that does what the user expects like --recent.

##### Version

[code]

##### Steps To Reproduce

1. `oc import-image logging-fluentd --from registry.access.redhat.com/openshift3/logging-fluentd --all --confirm`

###

[2016-05-19 23:14] stevekuznetsov commented on #7114
What's the use of adding it to the target pool of a load balancer if we're not sure it's booted to a stable state and able to service requests?

[2016-05-20 00:04] bparees commented on #8877
thanks @gabemontero

[2016-05-20 01:13] sosiouxme commented on #8948
This is related to https://github.com/openshift/origin/issues/8951 and https://github.com/openshift/origin/issues/8952 which I see as the origin-related issues to be solved. I'll take this as an issue for documenting how to work around the limitations.

[2016-05-20 02:00] smarterclayton commented on #7114
Because how are you going to take requests that tax the new process until
you're added to the load balancer?

On May 19, 2016, at 7:35 PM, Steve Kuznetsov <notifications@github.com>
wrote:

What's the use of adding it to the target pool of a load balancer if we're
not sure it's booted to a stable state and able to service requests?

—
You are receiving this because you were mentioned.
Reply to thi

[2016-05-20 02:18] #8947 closed

[2016-05-20 04:43] #6934 closed

[2016-05-20 04:43] #8696 closed

[2016-05-20 04:43] #8937 closed

[2016-05-20 05:33] liggitt commented on #8933
It doesn't seem like the referenced CA is actually a valid CA. I would expect to see this in the x509 info:
[code]

[2016-05-20 06:31] wanghaoran1988 commented on #8952
There is an config option in master config : maxImagesBulkImportedPerRepository, default value is 5 , maybe we can increase this number

[2016-05-20 06:32] mohammedzee1000 commented on #8936
Its seems that your new update has fixed one part of the problem.

However, projects created using the template dont seem to give admin writes on to project to the creator of the project by default like it happens when the template wasn't being used. He needs to explicitly be assigned admin role on the project before he can do anything in there.

If this is not done, and the creator opens the proj

[2016-05-20 07:11] rhcarvalho commented on #2053
Looking at these old numbers reminds me of how fast "slow" was. Nowadays it takes me ~200s with go 1.6.2

[2016-05-20 07:17] cmoulliard commented on #8933
Here are the commands that I'm using to generate a root CA, keys of the localhost, generate a cert req, sign the certificate request with the CA root

[code]

And we can verify that it contains the correct extensions

[code]

but I'm getting now a `x509: certificate signed by unknown authority`

[code]

[2016-05-20 07:59] maci0 commented on #8926
there is also an RH support case 01616524

[2016-05-20 09:11] cmoulliard commented on #8933
Here is another approach that I have tested using the CA Certificate created by Openshift

The problem is still there :

E0520 08:50:14.952748    1816 errorpage.go:30] AuthenticationError: Post https://192.168.1.80:8443/auth/realms/openshift/protocol/openid-connect/token: x509: certificate signed by unknown authority

Cmds used :

1) Linux Machine running Openshift as Docker container

[code]
2) S

[2016-05-20 09:39] cmoulliard commented on #8933
Problem resolved after changing the ca file to be used within the master-config file

[code]

[2016-05-20 10:23] stevekuznetsov commented on #7114
So we're dealing with a service that boots fine, and without load would signal ready & healthy forever, but might cave under load but only in the first X seconds after being ready, so we want to expose it to traffic so it has the chance of crashing? What if no traffic happens to be routed to that pod in the first X seconds and it crashes on getting the first packet after X+1 seconds? Sorry, not tr

[2016-05-20 10:29] stevekuznetsov commented on #7114
I can see the value of marking the deployment as compete after the pods have been ready, healthy, and have serviced requests, but a seconds time out seems like the most fragile way of doing it. Seems like what you'd really want is a Jenkins pod our or whatever running an e2e suite, but the canonical action there is to label the image as successful, not the deployment.

[2016-05-20 12:11] deads2k opened #8955 "flake TestSAAsOAuthClient"
has no tokens allowed as oauth client secrets; set serviceaccounts.openshift.io/oauth-client-secret=true on a token secret

[code]

[2016-05-20 12:19] deads2k commented on #8955
The good news is that is fails safe.  The bad news is that we're racing in etcd and the API server somehow.  I'm not sure how a watch can be faster than a get, but its the only explanation I've got.

[2016-05-20 12:20] aweiteka commented on #8936
The screenshot is hitting the openshift web console. This is not the primary interface for the standalone registry deployment. Have you tried using the cockpit ui at port 443? That should set up the correct user experience for managing the registry.

[2016-05-20 12:53] #8933 closed

[2016-05-20 13:06] containscafeine commented on #8943
@surajssd - The reason OpenShift does not create a service for `db` and `worker` is because the ports are not declared in the `docker-compose.yaml` file.

Also, OpenShift is unable to identify to-be-exposed ports when you do a `oc expose pod --name db db-1-oduck`

So, either do a `oc expose --port=5432 pod --name db db-1-oduck` or declare the port in `docker-compose.yaml`. I have tried for this ex

[2016-05-20 13:16] brenton commented on #8915
@smarterclayton, would anything in the system eventually recover from this situation or is this a bug that just needs to be fixed right away?

[2016-05-20 13:23] cmoulliard opened #8957 "Is the Oauth Token Role used by OpenShift ?"
I have installed and configured Openshiftv 1.3.0-alpha.0-581-gcf6465c with Keycloak 1.9.2.Final as identity provider

I can log to the openshift server with the user admin or default created within the Openshift Realm of Keycloak

[code]

But the user doesn't belong to the cluster-admin role even if it has been added to keycloak realm and passed within the OpenID Token

![screenshot 2016-05-20 15

[2016-05-20 13:24] ironcladlou commented on #7114
I think @stevekuznetsov has convinced me that MinReadySeconds is redundant.

[2016-05-20 14:01] smarterclayton commented on #8939
@knobuc is there anything network-y you can think of that would cause this to fail?

[2016-05-20 14:02] smarterclayton commented on #8915
It's possible that pods would be orphaned, but pod GC should eventually
clean it up.

On May 20, 2016, at 9:16 AM, Brenton Leanhardt <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton>, would anything in the
system eventually recover from this situation or is this a bug that just
needs to be fixed right away?

—
You are receiving this because you were mentioned.

[2016-05-20 14:08] smarterclayton commented on #7114
It's very, very common for services to crumple under load, or to manifest
failures that would result in aborting the rollout.

Imagine the simplest possible deployment - 2 pod rolling.  Dev pushes a
change and the rollout starts.  The first pod comes up, reports ready, and
start taking traffic.  The *next* time that pod will be checked for
readiness is configurable by the user, but defaults to 1m.

[2016-05-20 14:15] cmoulliard commented on #8933
Before to close, it could be interesting to improve existing doc

[2016-05-20 14:37] brenton commented on #8915
@abhgupta, are you OK with having this fix with 3.2.1?

[2016-05-20 14:41] surajssd commented on #8943
@containscafeine so yes I tried adding `ports` in the `db` and it has a service now, so that part I was missing. Thanks for finding that out :+1:

[2016-05-20 14:47] liggitt commented on #8933
The doc calls out the config option and it's use at https://docs.openshift.org/latest/install_config/configuring_authentication.html#OpenID

[2016-05-20 15:00] liggitt commented on #8957
No, group and role information is not consumed from the OpenID provider, only user identity info.

Use the generated system:admin credentials contained in the admin.kubeconfig file to grant cluster-admin roles to other login users:

[code]

[2016-05-20 15:00] #8957 closed

[2016-05-20 15:02] liggitt commented on #8957
Also, if I understand correctly, Keycloak passes roles in the access_token, not in the id_token. The access_token is supposed to be opaque to the service provider (openshift), so even once the ability to pull group info from an identity provider is added (see https://trello.com/c/8olzeZH3), that would be done from the id_token or user info claims, not the access_token.

[2016-05-20 15:48] #8913 closed

[2016-05-20 16:25] containscafeine opened #8960 "volume mount issues with `oc import docker-compose ...`"
Hi,

I was trying out the `oc import docker-compose ...` feature, and I tried to deploy an [example voting app](https://github.com/containscafeine/docker-bday-voting-app), which runs fine with `docker-compose up -d`

Directory structure :

[code]

docker-compose.yaml :

[code]

The `oc import ...` command runs just fine :

[code]

However, after the `voting-app` and `result-app` containers are bui

[2016-05-20 16:28] abhgupta commented on #8915
@brenton 3.2.1 seems OK to me for this issue/fix.

[2016-05-20 16:44] stevekuznetsov commented on #7114
Do we want to be failing this at the deployment level?

I'm not a sophisticated user of OpenShift but I thought that a mature pipeline would look like dev->testing->prod, so these checks should be happening prior to you deploying something to a "production" environment where real traffic is being directed there.

Furthermore, there is no guarantee that the deployment you're making will be taking *

[2016-05-20 16:55] smarterclayton commented on #7114
Yes, we do.

On Fri, May 20, 2016 at 12:44 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-05-20 16:58] stevekuznetsov commented on #7114
Can't argue with that :)

[2016-05-20 17:10] smarterclayton commented on #7114
Think about this as theory vs practice.  In theory, you'd have this magic
system where everything worked based on edge driven changes.  But the
reality is that there's an infinite amount of complexity within the app,
and so we ultimately care about levels.  One way to help stabilize levels
is to ensure that you give the system time to burn in.

On Fri, May 20, 2016 at 12:58 PM, Steve Kuznetsov <no

[2016-05-20 17:18] stevekuznetsov commented on #7114
Sure, I just didn't think we were going to be supporting a rolling deployment into production without testing as a good idea. This feature simply doesn't make sense if your rolling deployment into production happens after the success of some e2e tests labels an image as production ready - with OpenShift it should be trivial to keep your dev/test/prod deployment specs in sync and be confident that

[2016-05-20 17:25] gabemontero commented on #6835
@php-coder and I chatted a bit in our sprint planning meeting this AM, but wanted to capture here for general consumption:  I'm seeing this failure consistently now at the latest origin both when I run these tests locally and when I run them on ci.openshift.

[2016-05-20 17:26] smarterclayton commented on #7114
Testing in dev != verification in prod.  Testing can only reduce the
impact, but if you have no difference between stage and prod, then stage
*is* prod.  For instance, stage and prod usually have different secrets.
Your readiness check might verify that you can contact a db with your
secrets.  But your readiness check can't verify that all the code that uses
the secret behaves the same when real u

[2016-05-20 17:31] jayunit100 opened #8962 "[extended.test] Eliminate Synthetic skips"
problem:

we have some synthetic skip logic which is working in openshift but which relies on some just-in-time logic that subverts ginkgo's metadata handling.

solution:

weve done the upstream work necessary now to avoid needing this, so lets leverage the new `k8s.io` tags and the `--ginkgoScansFilePath` option when necessary to add namespace filtering to tests.

cc @timothysc @smarterclayton @l

[2016-05-20 17:43] csrwng opened #8964 "E2E test flake: Timeout on get pods -l openshift.io/deployer-pod.type=hook-post"
E2E failed in this line:
os::cmd::try_until_text 'oc get pods -l openshift.io/deployer-pod.type=hook-post -o jsonpath={.items[*].status.phase}' '^Succeeded$'

Timeout waiting for pod

##### Version
latest

[2016-05-20 17:45] csrwng commented on #8964
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/1022/console

[2016-05-20 17:45] csrwng commented on #8964
[code]

[2016-05-20 17:47] stevekuznetsov commented on #7114
I really hope you're not doing your thousand-user stress test in production, and especially that you're not doing it by hoping one thousand users log in in X seconds after the ready check success...

As to your points about tangible differences in production environments, those make sense. We should doc the usefulness boundaries of this field and maybe even give warnings in `oc status` if users se

[2016-05-20 18:05] smarterclayton commented on #7114
Definitely the description should include a use case for *why* you would
use this - i.e., it only makes sense to set this to > your readiness
interval, and in rough multiples

On Fri, May 20, 2016 at 1:47 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-05-20 18:15] sdodson opened #8965 "openshift.io/image.insecureRepository applies only to first tag in an ImageStream?"
Perhaps I'm misinterpreting the documentation [here](https://docs.openshift.org/latest/dev_guide/managing_images.html#insecure-registries), but it reads as if I can specify openshift.io/image.insecureRepository annotation at the ImageStream level and it should apply to all tags or I could specify an importPolicy for each tag. However in practice I'm finding that it only applies to the first and fu

[2016-05-20 18:16] sdodson commented on #8965
@soltysh FYI

[2016-05-20 18:25] #8955 closed

[2016-05-20 18:53] smarterclayton commented on #8964
The deployment wait period was too short:

[code]

Fixing

[2016-05-20 19:37] pweil- commented on #8826
@smarterclayton is this an immediate issue if we use a GCE PD rather than trying to configure the registry to use the GCS driver?  It appears there is an add on that does that: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry

[2016-05-20 19:41] smarterclayton commented on #8826
We wouldn't be able to scale to multiple registries.

[2016-05-20 19:43] pweil- commented on #8826
couldn't you mount it as nfs type and share it between them?  Though we already have NFS issues anyway...

[2016-05-20 19:50] soltysh commented on #8965
This is cause by `oc import-image php` which by default picks only single tag to import, if none is passed, `latest` is used. To properly import all tags `--all` flag should be used, but that might not quite work and it's on my next todo list. I'll assign this bug to myself and will tackle those sometime next week.

[2016-05-20 19:52] smarterclayton commented on #8826
We don't want to use NFS for registry.

On May 20, 2016, at 3:43 PM, Paul Weil <notifications@github.com> wrote:

couldn't you mount it as nfs type and share it between them? Though we
already have NFS issues anyway...

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/8826#issuecomment-220700794>

[2016-05-20 19:53] soltysh commented on #8965
I'll close this as not a bug but I'll create a new one to track the `--all` not working.

[2016-05-20 19:53] #8965 closed

[2016-05-20 19:54] soltysh opened #8969 "oc import-image --all does not work"
This came from discussion in https://github.com/openshift/origin/issues/8965. With current implementation flag `--all` when passed to `oc import-image` doesn't import all tags.

@sdodson fyi

[2016-05-20 20:05] soltysh commented on #8969
Note to myself, make sure when this is fixed to verify if insecure annotation is properly applied to all tags.

[2016-05-20 20:42] sosiouxme commented on #8969
Dupe of https://github.com/openshift/origin/issues/8952 ?

[2016-05-20 20:50] soltysh commented on #8969
Yup.

[2016-05-20 20:50] #8969 closed

[2016-05-20 20:50] soltysh commented on #8952
Note to myself, make sure when this is fixed to verify if insecure annotation is properly applied to all tags (see https://github.com/openshift/origin/issues/8965).

[2016-05-20 20:57] sosiouxme opened #8971 "template cannot fill in "current" namespace for binding cluster resources to namespace-scoped"
The desire is to create service accounts in a namespace (not known a priori) with the roles already bound, to prevent having to instruct users in how to add them afterward.

This works fine for a RoleBinding as it is already a namespace-scoped object and the client creates it within the scope of a project and the subject of the binding can be inferred. It doesn't work for adding a ClusterRoleBindi

[2016-05-20 21:23] fabianofranz commented on #4183
Closing in favor of https://trello.com/c/r50Vp1Yd.

[2016-05-20 21:23] #4183 closed

[2016-05-20 21:24] #3903 closed

[2016-05-20 21:28] fabianofranz commented on #4140
@soltysh still an issue?

[2016-05-21 00:42] #8964 closed

[2016-05-21 10:18] kargakis commented on #7272
The upstream controller [identifies updates on children (replicasets) and requeues the parent (deployment)](https://github.com/kubernetes/kubernetes/blob/62a8394eb491e82e5445e36542907608bf7b95f3/pkg/controller/deployment/deployment_controller.go#L242-L265). Doing that would solve this issue. We need to transition to using caches in the deployment controllers (right now we don't really use them).

[2016-05-21 10:30] kargakis opened #8972 "Version checking in the deployer"
Forked from https://github.com/openshift/origin/issues/8403#issuecomment-208856322

The deployer should make sure it always deploys the latest version.

cc: @ironcladlou @mfojtik @smarterclayton

[2016-05-21 10:31] kargakis commented on #8403
Opened https://github.com/openshift/origin/issues/8972 for the deployer. Is there anything else tbd here?

[2016-05-21 10:37] #7789 closed

[2016-05-21 10:50] kargakis commented on #5504
This is not an issue anymore since https://github.com/openshift/origin/pull/4941 was reverted.

[2016-05-21 10:50] #5504 closed

[2016-05-21 10:59] kargakis commented on #3652
We should transition any work from our cli tools, specifically `oc deploy` and `oc rollback` to `oc rollout` (https://github.com/openshift/origin/pull/8927). As far as rollback is concerned, this is `kubectl rollout undo` so we should ask for this upstream if we really want it.

[2016-05-21 10:59] #3652 closed

[2016-05-21 11:04] kargakis commented on #4571
@mfojtik you can do this now by having an ICT set to automatic: true and use no config change trigger. Your new image will always be resolved in the podtemplate and you will always need to run manually a deployment.

[2016-05-21 11:04] #4571 closed

[2016-05-22 17:19] bparees opened #8976 "convert-samples.sh has bit-rotted"
convert-samples.sh requires origin-version-change and origin-version-change can't be built:

[code]

[code]

[2016-05-22 23:03] smarterclayton commented on #8403
No.

[2016-05-22 23:03] #8403 closed

[2016-05-23 06:09] cmoulliard commented on #8957
We will review this problem with Keycloak. Thx.

[2016-05-23 07:10] mohammedzee1000 commented on #8936
Hi,
  I tried hitting the port 443 interface and while it opened, it gave an error

Hit :  https://localhost:443

Redirect to :
https://localhost.localdomain:8443/oauth/authorize?client_id=cockpit-oauth-client&response_type=token&redirect_uri=https%3A%2F%2Flocalhost%2F

Message on screen :

{"error":"invalid_request","error_description":"The request is missing a required parameter, includes an inv

[2016-05-23 07:22] soltysh commented on #4140
Nope, with that k8s pr merged.

[2016-05-23 07:22] #4140 closed

[2016-05-23 07:57] cmoulliard opened #8977 "Tool to generate the Openshift Master YAML Config File"
Is it the only way that we have to generate the Openshift Master yaml config file (https://docs.openshift.com/enterprise/3.2/install_config/master_node_configuration.html#creating-new-configuration-files) or a command line tool also exist to generate it based on our parameters ?

[2016-05-23 10:45] siamaksade opened #8980 "Jenkins slave Dockerfile example fails to build"
The example Dockerfile for Jenkins slave assumes the base image is CentOS and doesn't run on OpenShift Enterprise:
https://github.com/openshift/origin/blob/master/examples/jenkins-master/slave/Dockerfile#L6

centosplus and epel-release don't exist on rhel based images. Either two separate dockerfiles should be created for rhel and centos or Dockerfile should conditionally install appropriate packa

[2016-05-23 10:50] mfojtik commented on #8980
@siamaksade i'm not sure if I will get time to fix this, @bparees ?