[2016-11-11 16:15] liggitt commented on #11886
Dupe of #10773 fixed in https://github.com/openshift/origin/pull/11866

[2016-11-11 16:15] #11886 closed

[2016-11-11 16:15] jawnsy commented on #11886
Thanks, Jordan. I did a search for the error message but didn't find that one.

[2016-11-11 17:11] smarterclayton commented on #10171
Michal, can you find the issue for server side dry run and dupe this on
that?

On Nov 11, 2016, at 1:06 AM, Jordan Liggitt <notifications@github.com>
wrote:

no, client-side validate fails for schema-less types and required fields
that are typically defaulted server-side

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/opensh

[2016-11-11 17:35] marun opened #11887 "[Fail] deploymentconfigs with test deployments [Conformance] [It] should run a deployment to completion and then scale to zero"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8532/consoleFull

Assuming this is related to #11016

[2016-11-11 17:36] stevekuznetsov commented on #11867
It is probably linked to something messing up in the docker daemon, we saw #11870 as well recently.

[2016-11-11 17:59] sudhirpandey opened #11888 "Glusterfs created via heketi with --guid switch not mounting"
[provide a description of the issue]
In openshift the pod runs as some user and to be able to write on gluster volume, its advised to use supplementaty groups.
I have two volumnes setup via heketi one without .--gid switch another with --gid switch
The one without --gid swtich creates volumen with UID=0 and gid=0  and obviously with
UID=0 and GID=<as specified> and also verified the permission 775

[2016-11-11 19:48] csrwng opened #11889 "Intermittent: 'cluster up' fails to update openshift configuration on start"
When starting OpenShift with cluster up, in some cases the master-config.yaml is not updated with the proper routing suffix.

##### Version
[code]

##### Steps To Reproduce
1. run `oc cluster up` to create a new cluster
2. create a service and route, check the route suffix

##### Current Result
In about 1 in 30 times, the route suffix is the default 'cluster.local' instead of the generated 'xip.io

[2016-11-11 19:52] csrwng commented on #11889
@jim-minter I think I started seeing this since we switched to using the new method of uploading the config with the tar stream. It seems like it could be a timing issue or a problem with the go docker client.

[2016-11-11 19:55] #11765 closed

[2016-11-11 19:56] csrwng commented on #11889
@bparees @thoraxe fyi

[2016-11-11 19:59] tdawson commented on #11207
logging-deployer and metrics-deployer images are now tagged with both 3.4.0 and v3.4.0.25 (or whatever is the latest ocp version) in both pulp and registry.ops.
This solves the problem for both "oc cluster up" and older scripts and/or ways of pulling the images.

[2016-11-11 19:59] #11207 closed

[2016-11-11 21:30] #11876 closed

[2016-11-12 00:09] oatmealraisin opened #11890 "Jenkins fails to highlight failed tests"
Only one of the failures with [this test](https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/origin_extended_image_tests/751/) shows up. Is this intentional? I wasn't able to find this skip in other test failures.

[2016-11-12 04:51] liggitt commented on #11617
since this isn't a regression, and I don't have evidence that the lease poll causes problems, I'd recommend changing to p2 and trying to fix it at the beginning of a release

to test, we'd need to make sure we had a write rate high enough (or a lease time long enough) that the watch window is exceeded before the lease renewal

[2016-11-12 12:14] javilinux commented on #10139
I'm having the same issue, but this also happens with docker images so I reported this to Fedora at:
https://bugzilla.redhat.com/show_bug.cgi?id=1394474

[2016-11-12 13:46] csrwng commented on #10139
@javilinux did flushing iptables help ?

[2016-11-13 06:52] javilinux commented on #10139
@csrwng Yes, flushing iptables solved the issue.

[2016-11-14 09:22] sudhirpandey commented on #11888
In the end it turned out to be wrong endpoints used in the volume that was not mounted.
Sorry for the noise.

[2016-11-14 09:22] #11888 closed

[2016-11-14 13:02] jim-minter commented on #11889
Oops.  I believe the race was that UploadFileToContainer wasn't waiting for the remote API response after upload completed, so OpenShift could start before the updated master-config.yaml had landed in the container.

[2016-11-14 14:12] stevekuznetsov commented on #11870
https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/origin_extended_image_tests/751/

[2016-11-14 14:14] stevekuznetsov commented on #11890
As far as the regex in the failure cause management entry only catching one failure message, nothing we can do about that I don't think. I've definitely seen it catch more than one instance, so I don't really know when it chooses not to.

[2016-11-14 14:14] #11890 closed

[2016-11-14 14:21] #6822 closed

[2016-11-14 15:00] mfojtik commented on #11887
@kargakis I think this is related to #11016. Do we want to increase the timeout for this test?

[2016-11-14 15:02] mfojtik commented on #11887
@kargakis actually I can rework that test to use oc rollout latest and watch the logs instead.

[2016-11-14 15:15] juanvallejo commented on #11836
Would this be something a user sees when specific commands / actions fail, or could this be a warning placed under a command such as `oc version` / `oc login`?

[2016-11-14 15:42] liggitt opened #11900 "oadm migrate storage --loglevel=2 --confirm' expecting success and text 'unchanged:': the command returned the wrong error code"
[code]

[2016-11-14 15:42] liggitt commented on #11900
seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/8489/consoleFull#-1543161556c25df4e4b05b79524e5d52

[2016-11-14 16:08] coreydaley opened #11903 "Multiple test fails"
https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/793/

	Test Result (11 failures / +10)

    Extended.[k8s.io] Garbage collector [Feature:GarbageCollector] should delete pods created by rc when not orphaning
    Extended.[networking] OVS generic should add and remove flows when pods are added and removed
    Extended.[imageapis] openshift limit range admission should deny a push

[2016-11-14 16:24] php-coder commented on #7610
@smarterclayton I couldn't reproduce this flake locally with `./hack/test-integration.sh TestAuthProxyOnAuthorize`. Can we close this issue?

[2016-11-14 16:46] #11889 closed

[2016-11-14 17:36] mfojtik commented on #10139
@csrwng I got reported this IRL several times last week when people were trying `oc cluster up` :-) I don't think we can solve this easily without messing up the iptables. Perhaps we can add a check and fail if the iptables rules that forbid DNS to work from inside a container are in place.

[2016-11-14 17:38] csrwng commented on #10139
@mfojtik that's the thing, how do we know which iptables rules are doing this ?

[2016-11-14 17:40] mfojtik commented on #10139
@csrwng we can run a "probe" or something to check if 1) you can run pods, 2) if DNS is setup. If a check fails, we can suggest flushing `iptables` rules as I think every firewall config is specific :)

[2016-11-14 17:41] jim-minter opened #11906 ""openshift.io/container.%s.image.entrypoint" annotation"
oc debug introduced the "openshift.io/container.%s.image.entrypoint" annotation.

AFAICS:
- this is used as a heuristic to helpfully indicate to the end user what the pod entrypoint might be when running oc debug
- the only place that actually seems to set this is oc new-app (set on the DC then the DC annotates created pods)

Some drawbacks of this approach are:
- not all pods are created via oc n

[2016-11-14 17:41] jim-minter commented on #11906
@wanghaoran1988

[2016-11-14 17:44] bparees commented on #11906
@smarterclayton this is a question for you since it appears you introduced the annotation and mechanism for consuming it.

[2016-11-14 17:46] david-martin commented on #10139
@csrwng @mfojtik I think flusing iptables could be a non runner for some users.
It seems very drastic for what is hopefully a small set of rules around DNS.
Is it possible to limit it to some specific commands to disable rules that affect DNS? (if that is what the problem is)

[2016-11-14 17:48] csrwng commented on #10139
@david-martin the problem is not specifically DNS. The created pods can't access the outside network at all in some cases.

[2016-11-14 17:57] liggitt commented on #11906
That should probably be made index-based or the user-specified aspects be moved into the annotation value. Limiting the name length for that reason is bad.

[2016-11-14 18:29] fabianofranz commented on #11900
Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/8497/consoleFull#-208140300656c25df4e4b05b79524e5d52

[2016-11-14 18:52] stevekuznetsov commented on #7610
Often these flakes take closer to 300 times to appear. We don't seem to have hit this for a long time, though, and we added the RAMDISK stuff to all of our jobs, so this is most likely not an issue anymore.

[2016-11-14 18:55] djosborne opened #11907 "OpenShift fails to start when NetworkPlugin=cni and no available CNI configs"
Description: OpenShift fails to start with NetworkPlugin=cni, when there is no configurations in the CNI config dir.

Kubernetes has made moves to support CNI plugin installation using hosted installs on top of a running Kubernetes cluster. This means a cluster need only be configured with `--network-plugin=cni` and a `--network-plugin-dir` to be CNI ready, assuming a hosted install will then tack

[2016-11-14 18:55] deads2k commented on #7610
A one in 300 flake is a flake that isn't a P2.

[2016-11-14 19:10] stevekuznetsov commented on #7610
When it's a Docker daemon deadlock that brings everything to a halt an crashes the cluster ... maybe it is.

For what it's worth, this seems to have been fixed and we don't have any new reports in six months.

[2016-11-14 19:10] #7610 closed

[2016-11-14 21:32] coreydaley commented on #11903
Happened again, got 12 failures this time
https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/797/

[2016-11-14 22:40] #11806 closed

[2016-11-14 22:47] alikhajeh1 commented on #6911
I wonder if anyone who's commented on this issue knows about the need to run `etcdctl backup` as well as `oc export all` to create a full backup of origin? I created https://github.com/openshift/openshift-docs/issues/3186 to see if anyone on the docs project knows more.

[2016-11-15 00:17] smarterclayton commented on #11906
We don't need the annotation in the long run.  It was a stop gap before we
had resolved images.  I'd prefer to replace it with a conditional lookup on
imagestreamimport and indicate if that image can't be found or an error
occurs (image lookup cannot block debug, and is just advisory).

On Nov 14, 2016, at 12:57 PM, Jordan Liggitt <notifications@github.com>
wrote:

That should probably be made ind

[2016-11-15 08:44] rudijs commented on #9834
@bparees Hi Ben,

For launching an official image direct from hub.docker.com, I'm having trouble figuring out the URL to use to 'non-official' images like this: https://hub.docker.com/r/mhart/alpine-node/

docker.io/library/alpine-node won't work.

It's not so easy to find the source URL from dockers free registry.

Can I bother you to ask for any pro tip on how to find this out?

Cheers

[2016-11-15 09:42] rudijs commented on #9834
@bparees Please disregard. The URL need is just docker.io/mhart/alpine-node:6

Just trial and error, then I found it.

[2016-11-15 12:20] jim-minter opened #11912 "oc debug returns "Unrecognized input header: xxx" for TTY container"
oc debug doesn't print logs correctly if the container has tty: true set.
If you create an identical container manually, docker logs does the right thing, but oc logs doesn't.  I think https://github.com/kubernetes/kubernetes/issues/25194 and https://github.com/kubernetes/kubernetes/issues/16670 are relevant here.

##### Version
oc v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994
features: Bas

[2016-11-15 12:39] jim-minter opened #11914 "Bad "UPDATED" value on ImageStreamImage"
When run (for example) on a new-app created app, os get isimage return an UPDATED value of "292 years ago".

##### Version
oc v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://192.168.121.16:8443
openshift v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994

##### Steps To Reproduce
1. oc new-app https://github.com/openshift/nodejs-ex
2. wait for build to c

[2016-11-15 12:45] jim-minter opened #11915 "RFE: allow listing all imagestreamimages"
It would be nice if the server would allow listing all imagestreamimages in a namespace / all namespaces.

##### Version
oc v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://192.168.121.16:8443
openshift v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994

##### Steps To Reproduce
1. oc get isimage

##### Current Result
No resources found.
Error from server

[2016-11-15 12:53] jim-minter commented on #11906
Sorry, I don't understand what is meant by "conditional lookup on imagestreamimport".  I can see that with an image on an imagestream, the entrypoint seems to be findable via the API via oc get isimage or oc get image (although I'm not sure what the difference between these two is).

I'm not clear what should be done for the case of an arbitrary docker image (which I think is important use case, a

[2016-11-15 12:56] kargakis commented on #11915
cc: @mfojtik @soltysh

[2016-11-15 12:56] kargakis commented on #11914
cc: @mfojtik @soltysh @miminar @legionus

[2016-11-15 13:54] smarterclayton commented on #11900
Deeply suspicious that this suddenly shows up in scheduled jobs

[2016-11-15 14:05] smarterclayton commented on #11900
Related to the Pr, not master

[2016-11-15 14:05] #11900 closed

[2016-11-15 14:29] smarterclayton commented on #6911
You should not need to export anything if you perform an etcd backup.

[2016-11-15 14:34] soltysh commented on #11748
Removing client/unversioned is in https://github.com/openshift/origin/pull/11916

[2016-11-15 15:02] jwforres commented on #3432
@rhamilto would be good to finally fix this while we are working on stuff in this flow

[2016-11-15 16:02] kenk667 opened #11920 "Pod networking and DNS issues"
I have an all-in-one server deployed within a Windows domain and the DC runs DNS. The host sits in one subnet, the DC in neighboring subnet, and bitbucket server in another neighboring subnet. The issue is that I can reach the bitbucket and DC from the host via name and IP through ping and dig, but from within a DB pod and a working route through oc rsh I can ping the host from within the pod, but

[2016-11-15 16:12] oatmealraisin commented on #11870
https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/origin_extended_image_tests/755/consoleFull#195601705956cbb9a5e4b02b88ae8c2f77

[2016-11-15 17:06] bparees commented on #11920
@sosiouxme seems like adm diagnostics should have reported a networking issue since the builder pods are not able to make external connections?

[2016-11-15 17:07] kenk667 commented on #11920
agreed, except diag doesn't show connectivity issues

[2016-11-15 17:15] bparees commented on #11920
@kenk667 that was my point..

[2016-11-15 17:17] kenk667 commented on #11920
right......thx

[2016-11-15 18:48] pweil- commented on #11903
@kargakis this looks like a grab bag of "timed out waiting for the condition" issues but maybe not related to ns deletions like some of the other flakes we've seen where the "pods remaining" message is also given.  Since quite a few are in deployments maybe you can take a look.

[2016-11-15 19:21] sosiouxme commented on #11920
@bparees diagnostics don't yet test external connectivity. There's really nothing external we can count on being reachable from within a pod, in the general case.

[2016-11-15 19:22] bparees commented on #11920
@sosiouxme couldn't diagnostics take a hostname as an arg to validate against?

[2016-11-15 19:59] kenk667 commented on #11920
that gave me an idea, I do use a custom subdomain via master-config.yaml, so I re-ran the oc adm diagnostics with the --master-config= switch and did see one warning, however no error

oc adm diagnostics --master-config=$OPENSHIFT/openshift.local.config/master/master-config.yaml
[Note] Determining if client configuration exists for client/cluster diagnostics
Info:  Successfully read a client confi

[2016-11-15 21:01] sosiouxme commented on #11920
Yes, though I try to minimize args for diagnostics; but it could have a
default like "www.redhat.com" and then override that if you're in an
environment where you don't expect to be able to reach that address.

On Tue, Nov 15, 2016 at 2:22 PM, Ben Parees <notifications@github.com>
wrote:

[2016-11-15 21:08] pweil- commented on #11870
cc @kargakis another "timed out waiting for condition"

[2016-11-15 21:19] sosiouxme commented on #11920
Actually FWIW the networking diagnostics pod in 1.4/3.4 should test
external connectivity, though I haven't looked at it too closely yet.

On Tue, Nov 15, 2016 at 2:22 PM, Ben Parees <notifications@github.com>
wrote:

[2016-11-15 21:23] dinhxuanvu opened #11926 "master-config change to disable cache"
In order to use ClusterResourceQuota (CRQ) for Online environment, the cache needs to be disabled to avoid excessive memory usage due to cache holding big objects during PVC creation step.

##### Version
OCP 3.4

##### Steps To Reproduce
1. Change master-config.yaml to add these lines:
[code]

This is from David Eads' comment in this PR:

https://github.com/openshift/origin/pull/11785

##### Curre

[2016-11-15 21:24] dinhxuanvu commented on #11926
@abhgupta @dak1n1 PTAL. Thanks!
@deads2k Tagging you here for further consultation if needed. Thanks.

[2016-11-15 21:26] stevekuznetsov commented on #11870
My bet is this has to do with instability we inherited from the Docker 1.12 bump. @ncdc has other thoughts.

[2016-11-15 21:27] dinhxuanvu commented on #11926
Sorry, wrong repo!

[2016-11-15 21:27] #11926 closed

[2016-11-15 21:28] ncdc commented on #11870
Re the link from @pweil-, that is a bug. See #11922 for a possible fix.

[2016-11-15 21:28] ncdc commented on #11870
I haven't started looking into `error creating federation client config: invalid configuration: no configuration has been provided` yet

[2016-11-15 21:31] pweil- commented on #11903
maybe fixed here: https://github.com/openshift/origin/issues/11870#issuecomment-260774252

[2016-11-15 21:38] liggitt opened #11927 "Recreating a service causes uid mismatches in the service cert signing controller"
1. create a service with an annotation requesting a certificate
2. wait for the certificate to be created
3. delete and recreate the service with the same name
4. the certificate controller complains about uid mismatches between the generated cert secret and the new service

options:
1. add an ownerRef to the secret so the service deletion garbage collects it
2. reap the secret via the certificate

[2016-11-15 21:38] liggitt commented on #11927
cc @deads2k @pecameron

[2016-11-15 21:52] ncdc commented on #11903
I'm working on fixing this in #11922 but I'd be happy to have someone take it over. Some notes:

- we don't have the garbage collector enabled, so we need to skip those tests for now
- the OVS tests shouldn't run in core.sh (they're run by networking.sh)
- Deployment tests are broken because the SA the deployment controller uses doesn't have permission to update pods. We should probably open an ku

[2016-11-15 22:09] PI-Victor opened #11928 "[Test] Bootstrap policy data does not match the test fixture"
[code]

seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/8536/consoleFull

don't think this was a flake

[2016-11-15 22:11] liggitt commented on #11928
you changed bootstrap policy in https://github.com/openshift/origin/pull/10817/files#diff-1d38b34f638332aebf97978ff71d9664 and didn't update the test fixtures

[2016-11-15 22:11] #11928 closed

[2016-11-15 22:12] PI-Victor commented on #11928
@liggitt that was scary. i see now, thanks!

[2016-11-15 22:23] csrwng opened #11929 "'cluster up': pods cannot access a service that points back to the pod"
When running a cluster created with 'cluster up', a pod cannot access a service (by name or ip) that points to itself. The request simply times out.

This is not the case when running a cluster with plain 'openshift start'

##### Version
oc v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994
features: Basic-Auth

Server
openshift v1.4.0-alpha.1+9c4f9ee-179
kubernetes v1.4.0+776c994

[2016-11-15 22:23] csrwng commented on #11929
@thoraxe fyi

[2016-11-15 23:31] kargakis commented on #11903
The upstream deployment controller updates pods for replica sets that don't have the podtemplate hash that separates them from other deployment pods (helps in adoption of replica sets). I will have a look tomorrow.

[2016-11-16 10:40] rassie opened #11932 "Latest release for client tools on GitHub is not always the correct one"
Currently, the link to the latest release (also available from console help) is https://github.com/openshift/origin/releases/latest, which points to the latest released binary (1.2.2) as opposed to the stable release with the highest version (1.3.1). This has probably happened because 1.2.2 has been released after 1.3.1, but it's still the wrong version to recommend to 1.3 users via console link.

[2016-11-16 11:41] Evgeniy-Bondarenko opened #11933 "How start app on different nodes over console (oc new-app)"
oc new-app on different nodes

##### Version
oc v1.3.0
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v1.3.0
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
after run command all apps start on one node, but need run on different nodes (app1 - start on node1, app2 on node2)

##### Current Result
after run command all apps start on one node
##### Expected Result

[2016-11-16 11:55] spadgett commented on #7440
Closing as we have an issue in origin-web-console now.

https://github.com/openshift/origin-web-console/issues/880

[2016-11-16 11:55] #7440 closed

[2016-11-16 11:57] spadgett commented on #5466
Closing as we have an origin-web-console issue now.

https://github.com/openshift/origin-web-console/issues/872

[2016-11-16 11:57] #5466 closed

[2016-11-16 12:33] Evgeniy-Bondarenko commented on #11420
Resolve in https://docs.openshift.org/latest/dev_guide/managing_images.html#allowing-pods-to-reference-images-from-other-secured-registries

Or use this code after login in dockerhub
[code]

[2016-11-16 12:33] #11420 closed

[2016-11-16 13:11] mfojtik commented on #11933
@Evgeniy-Bondarenko why would you care about on which nodes the app runs?

[2016-11-16 13:15] donnydavis commented on #6785
This issue can be closed. It was a garage cleanup related issue from an old release.

[2016-11-16 13:15] mfojtik commented on #11932
@jwforres FYI

[2016-11-16 13:18] Evgeniy-Bondarenko commented on #11933
@mfojtik  > why would you care about on which nodes the app runs?
Database failover

I have 3 node in openshift cluster and I want run database instance in each node:
db1 - node1
db2 - node2
db3 - node3

This way give minimal downtime (if anything node will be unavailable)

1. What is the key when you start the app allows you to assign the selected node?
2. Is there any other way for HA solutions?

[2016-11-16 13:19] mfojtik commented on #11933
@Evgeniy-Bondarenko you can use node selectors: http://kubernetes.io/docs/user-guide/node-selection/

[2016-11-16 13:22] Evgeniy-Bondarenko commented on #11933
After create and run app?

[code]
right?

[2016-11-16 13:23] mfojtik commented on #11933
@Evgeniy-Bondarenko the problem is that if you pin the db3 on node3 and node3 goes down, without pinning the db3 (if it ran on node3) will be rescheduled to other available nodes. If you pin it with node selector, the db3 will be down and waiting for the node to come back.

[2016-11-16 13:25] mfojtik commented on #11933
@Evgeniy-Bondarenko you can use `--labels` in `new-app` to add labels to every resource it creates (or do it afterwards).

[2016-11-16 13:34] Evgeniy-Bondarenko commented on #11933
[code]

but I have node:
[code]

please, write me a sample command for run on different node

[2016-11-16 13:42] Evgeniy-Bondarenko commented on #11933
@mfojtik

whether it is possible to manually reschedule/move applications between nodes for balancer/ha solutions (with or without pinning to node)?

[2016-11-16 13:46] mfojtik commented on #11933
[code]

Then edit the PodSpec (DeploymentConfig?) and add

[code]

(check the linked kubernetes docs that explains it)

[2016-11-16 13:47] knobunc commented on #11920
@pravisankar can clarify what the tests do.

[2016-11-16 14:05] Evgeniy-Bondarenko commented on #11933
[code]

[code]
[code]

[code]
@mfojtik still running the `node1`

[2016-11-16 14:06] pecameron commented on #11927
@liggitt Question: can we delete the service associated with a router without deleting the router? If so deleting the secret would cause router pod restarts to fail for lack of certificate. At present the service creates the secret but does not delete it.

[2016-11-16 14:11] Evgeniy-Bondarenko commented on #11933
@mfojtik only when `deploy` using `node2`
[code]

but after deploy started on node1

[code]

[2016-11-16 15:03] jsafrane commented on #10988
and again: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8675/consoleFull

[2016-11-16 15:07] liggitt commented on #11927
if you delete the service, the router pods will become inaccessible anyway, and the certificate signed for the service's DNS name doesn't make sense to use any more

[2016-11-16 15:23] kenk667 commented on #11920
Given that I can run dig commands and have the correct answer resolve within the db pod, I suspect that DNS is working, but I can't ping past the openshift host IP. Can't even reach the gateway IP within the same subnet

[2016-11-16 15:27] pecameron commented on #11927
@liggitt I thought the router uses host networking. The service IP does not need to be used.

[2016-11-16 15:27] knobunc commented on #11920
What network plugin are you using, and how did you install?

[2016-11-16 16:15] kenk667 commented on #11920
@knobunc, I listed the install steps in my first post, similar to this post: http://sudhaker.com/10/install-the-latest-openshift-v3-on-centos-7-1 but I use a custom subdomain. Wondering what you mean by network plugin?

[2016-11-16 16:43] kenk667 commented on #11920
@knobunc  I just looked up and checked the master-config.yaml, under the networkConfig stanza the value for networkPluginName is "",  seems I have to install the SDN component separately, is that correct? I was assuming that it was installed as part of the openshift/origin package from wget?

[2016-11-16 17:12] adietish commented on #4981
I believe that we face thid issue when we connect an Eclipse debugger to a nodejs pod. The debugging session gets terminated without obvious reason: https://issues.jboss.org/browse/JBIDE-23422.
Looks very much like this is caused by the router timeout that's the topic in this issue.

[2016-11-16 17:15] knobunc commented on #4981
There's a doc PR to describe all the knobs the router already exposes:
  https://github.com/openshift/openshift-docs/pull/3090/files

[2016-11-16 17:23] knobunc commented on #11920
@kenk667 you can specify it on this line:
  ./openshift start --write-config=openshift.local.config --network-plugin=...

But if you are only running a single node, then you may not need it.  The default docker bridge ought to work.

[2016-11-16 17:29] kenk667 commented on #11920
If that is the case this may help, this is the output from running  iptable -t nat -L from the master/node;

Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
KUBE-SERVICES  all  --  anywhere             anywhere             /* kubernetes service portals */
KUBE-PORTALS-CONTAINER  all  --  anywhere             anywhere             /* handle ClusterIPs; NOTE: thi

[2016-11-16 17:38] kenk667 commented on #11920
docker ps:

CONTAINER ID        IMAGE                                                                                                 COMMAND                  CREATED             STATUS              PORTS               NAMES
69cbc7af5c4c        centos/mongodb-32-centos7@sha256:21f5581cb5e33b65814475482937e84e9d3341e396937e7651a6945b2a550b20     "container-entrypoint"   About an hour ago   Up About

[2016-11-16 17:43] kenk667 commented on #11920
seems not all of the containers are on the bridge

**docker inspect network bridge;**

[
    {
        "Name": "bridge",
        "Id": "5a8cded638ed4145a5521a4a2f32153b7727c66105c1639d319bd1360885a2f4",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": [

[2016-11-16 17:44] kenk667 commented on #11920
I just tried oc rsh to the registry pod and am able to ping google.com and my private bitbucket server by name. looking at previous commands above, registry is one of the pods on the bridge network

[2016-11-16 17:45] kenk667 commented on #11920
Is this an openshift issue where a new project doesn't auto assign bridge network in docker? or am I missing something?

[2016-11-16 17:48] knobunc commented on #11920
If you aren't running with a networking plugin, then everything should be going on the docker bridge.  The only exception is if you have hostnetworking turned on for the pod (in which case it gets the node networking).

Which container does it not work from?  And what is different between the two of them?

[2016-11-16 17:52] rwatts3 opened #11936 "General Question : Running Origin on Google Cloud Compute Instance via Docker method."
Greetings,

I am not sure if it is a misunderstanding of the docs or if I am missing a step.
I sshed into my Google Cloud Compute instance and installed Docker. Upon installing Docker I followed the docker run command provided in the docs to get origin running on my server.
For some reason when I navigate to the ip address of my cloud compute instance and go to :8443/console, I am not able to acce

[2016-11-16 17:54] kenk667 commented on #11920
docker inspect result for registry pod which has working outbound network connectivity;

 "Networks": {
                "bridge": {
                    "IPAMConfig": null,
                    "Links": null,
                    "Aliases": null,
                    "NetworkID": "5a8cded638ed4145a5521a4a2f32153b7727c66105c1639d319bd1360885a2f4",
                    "EndpointID": "ff6af720262b10f37ed8

[2016-11-16 17:55] kenk667 commented on #11920
the registry sits in the 'default' project while mongodb pod is in a new project called 'test3'

[2016-11-16 17:57] kenk667 commented on #11920
@knobunc how do I verify if hostnetwork is turned on? and above comments is comparison between the two pods

[2016-11-16 18:04] kenk667 commented on #11920
I think I found where to verify hostnetworking, if this is right, it is set to false;

oc get scc
NAME               PRIV      CAPS      SELINUX     RUNASUSER          FSGROUP     SUPGROUP    PRIORITY   READONLYROOTFS   VOLUMES
anyuid             false     []        MustRunAs   RunAsAny           RunAsAny    RunAsAny    10         false            [configMap downwardAPI emptyDir persistentVolumeCl

[2016-11-16 18:27] csrwng commented on #9848
So the 2 use cases we would like to cover are:
1) you want to ensure that you have the latest images when using --version=latest. Right now we don't re-pull latest if present, so --version=latest might mean you're using last month's images.
2) you are preparing an off-line demo and want to ensure that you have the openshift images you need to run a cluster.

@stevekuznetsov @smarterclayton fyi
Wou

[2016-11-16 19:10] liggitt commented on #11882
see #11931

[2016-11-16 19:38] mwringe opened #11943 "oc cluster up with metrics fails with ERR_SSL_SERVER_CERT_BAD_FORMAT"
When trying to access the metrics status page, it will fail with ERR_SSL_SERVER_CERT_BAD_FORMAT.

There is no option to by pass this bad certificate in Chrome, but it is possible to by pass it in Firefox.

##### Version
v1.4.0-alpha.1

##### Steps To Reproduce
1. `oc cluster up --metrics`
2. the output of the above will tell you where the metrics endpoint is available at (The metrics service is av

[2016-11-16 19:45] #7523 closed

[2016-11-16 19:59] smarterclayton commented on #9848
Why not just create a bash script someone can run?  The offline case is
just not that important.  Check a bash script in somewhere and tell people
to run it (take the version as the tag parameter).

I could maybe buy "latest" for the base image pulling the latest.

On Wed, Nov 16, 2016 at 10:27 AM, Cesar Wong <notifications@github.com>
wrote:

[2016-11-16 20:06] smarterclayton commented on #11932
Unfortunately GitHub doesn't give us a way to fix this.  Only an alternate URL on a link shortener site could do it.

[2016-11-16 20:06] smarterclayton commented on #11932
@fabianofranz basically we can't use the GitHub latest link.

[2016-11-16 20:14] knobunc commented on #11920
It shows up in docker inspect as HostConfig > NetworkMode: "host"

On Wed, Nov 16, 2016 at 1:04 PM, kenk667 <notifications@github.com> wrote:

[2016-11-16 20:19] smarterclayton commented on #11927
Router today uses host networking.  Router will very likely not run like that in cloud infra going forward (or in meta where F5 load balance the routers)

[2016-11-16 20:42] fabianofranz commented on #11932
Right, basically GitHub points `/latest` to the latest release by date that is not marked as a pre-release. I'm afraid not even the [releases API](https://developer.github.com/v3/repos/releases/) provides a clean way to change that.

[2016-11-16 21:30] jwforres commented on #6849
grunt-arialinter is no longer supported, so thats definitely out

[2016-11-16 21:59] andrewklau commented on #11933
`oc new-app --label` only labels what you deploy, just like you labelled your nodes. You need to read the link again and the nodeselector:

[code]

[2016-11-16 22:03] jwforres commented on #6849
So I ran grunt-accessibility with these options:

[code]

So this is just reporting error level stuff, no warnings or notices, and I even ignored 4 of the rules, this is where we are at right now https://gist.github.com/jwforres/1732025a341374415e5ab0eed70bd6b5

Until we resolve all of those issues, we can't turn the linter on as part of our test process.  I'm going to close this issue and track i

[2016-11-16 22:03] #6849 closed

[2016-11-16 22:04] jwforres commented on #5988
As part of any accessibility work we should enable an accessibility linter to validate the templates are at least valid.  See the old issue https://github.com/openshift/origin/issues/6849

[2016-11-16 22:26] bparees commented on #11933
yeah new-app --label is not useful for this. you'd have to add the nodeselector to your pod templates(part of the deploymentconfig) after new-app creates them.

i doubt we'd ever add a flag to new-app to let you specify a nodeselector to be added at the time new-app generates the deploymentconfig/podtemplate (because it's just one of many things you might ideally want to control and we aren't goin

[2016-11-17 00:41] jmazzitelli opened #11946 "oc cluster up with metrics fails with "No API token found for service account metrics-deployer""
Cannot run "oc cluster up --metrics" successfully. It always fails.

##### Version
[code]

##### Steps To Reproduce

1. Simply run the command "sudo ./oc cluster up --metrics"

##### Current Result
[code]

##### Expected Result

Successful install of OpenShift with metrics.

##### Additional Information

I originally did not have my user in the docker group, which is why I prefix my command with "

[2016-11-17 02:29] #8980 closed

[2016-11-17 10:53] maci0 opened #11949 "oc cluster up dns will not work OOTB on firewalld-enabled fedora"
The internal service name resolution fails when using a cluster set up by
`oc cluster up` on a F25 system which is firewqalld-enabled

Happens with both origin 1.3.1 and OCP 3.1.3

If I stop firewalld and restart docker and recreate the oc cluster it will work fine.

[2016-11-17 11:17] sbadakhc commented on #8368
Hi,

I seeing this across all builds and I can confirm I had to recreate the certs in order to overcome an issue with Openshift not providing login tokens to users.  Redeploying does not resolve the issue.

Can you confirm at what point the certs a recreated during the installation.  I have no option right now but to recreate them.

Thanks,
Sal.

[2016-11-17 11:22] soltysh commented on #11915
Not sure if there's a proper justification for such an action, given the fact that neither ISI or IST does not exist. They are virtual objects, that's why listing them would mean listing IS and extracting information about particular ISI/IST and then returning to a user. I'm lowering the prio since I don't see this being super important to pursue.

[2016-11-17 12:15] kargakis commented on #11915
@soltysh we already support getting single images, listing is desirable too

[2016-11-17 13:27] mwringe commented on #11946
@pweil- I don't believe this has anything to do with Origin Metrics directly.  Setting up the service account is done as part of the cluster up command.

If @jmazzitelli installs origin metrics directly then it works for him.

And if I follow the steps outlined in what he is doing, then it works properly for me.

[2016-11-17 13:30] #11695 closed

[2016-11-17 13:45] bparees commented on #9848
which is a behavior we absolutely need to preserve.  If we want to add a "force pull infra" flag i'm ok with it, but --version=latest behavior should stay as is.  That flag is saying "use images with tag FOO", if FOO exists locally, it should be used, not pulled (absent some other flag indicating a pull always behavior for infrastructure images)

[2016-11-17 13:46] bparees commented on #11933
@Evgeniy-Bondarenko please let us know if we've answered your question/you've been able to get the node scheduling behavior you desire.

[2016-11-17 13:52] csrwng commented on #9848
@bparees @smarterclayton so would it be ok to add a --latest flag? Or would you just prefer to have the script checked-in to the hack directory and call it done?

[2016-11-17 13:58] jmazzitelli commented on #11946
I just want to be clear about the replication procedures, I get this failure by doing nothing special other than download the oc binary, untar it, and run it via sudo:

[code]

For the record, I am on Fedora 23, with "uname -a" as follows:

[code]

[2016-11-17 14:03] bparees commented on #9848
"--latest" feels confusing since i'm going to use it with "--version=latest", and "--latest-images" doesn't actually use the latest images in openshift start.

so i think i'd prefer a totally new name for the flag that doesn't muddy the waters with those other flags/behaviors.

personally i would prefer the flag over a shell script.

[2016-11-17 14:30] Evgeniy-Bondarenko commented on #11933
@bparees

Yes, this way is not work (apps start random or first node)

Is it possible to change a template to automatically add a section `nodeselector` or use anything key in start command?

[code]

add to your example necessary image
[code]
@bparees @andrewklau  What line change so I can confidently run the application on the required node?

[2016-11-17 14:37] jwforres commented on #7692
@gashcrumb do you know if there are any plans to do update lodash in hawtio in the next 6 months?

[2016-11-17 14:39] jwforres commented on #7853
Is there still an interest in adopting PostCSS autoprefixer?  Anybody want to own this?

[2016-11-17 14:39] jwforres commented on #8175
@spadgett does this help us fix the related issue for making the Follow log link affixed?

[2016-11-17 14:40] bparees commented on #11933
you need to introduce a spec.template.nodeselector

https://docs.openshift.org/latest/dev_guide/deployments/basic_deployment_operations.html#assigning-pods-to-specific-nodes

[2016-11-17 14:41] ncdc opened #11951 "Enable the Kubernetes Garbage Collection controller"
* need to make the API prefix configurable upstream (/oapi)
* it won't work right since all of our resources are duplicated
* need to carry a patch with lists of "don't delete this"
* in kube 1.5 GC will be enabled by default

[2016-11-17 14:41] gashcrumb commented on #7692
@jwforres I wonder if maybe it'd be better to just pull the lodash dep out of hawtio-core-navigation instead, which I think would allow you to use a newer version easily enough.

[2016-11-17 14:42] jwforres commented on #8175
yeah im going to close this in favor of investigating it while fixing the log buttons

[2016-11-17 14:42] #8175 closed

[2016-11-17 14:44] spadgett commented on #8175
Yeah, it's the proposed fix for that.

[2016-11-17 14:44] deads2k commented on #11951
This is used by some controllers upstream.  Not enabling this will result in inconsistent behavior upstream and downstream.

[2016-11-17 14:53] spadgett commented on #7692
angular-patternfly depends on lodash 3.x

[2016-11-17 14:54] jwforres commented on #7692
@gashcrumb ah we are just depending on hawtio-core now, so if nav was pulling it in then i think the issue at this point would be angular-patternfly

[2016-11-17 14:56] e-bits commented on #11882
Thanks a lot, you guys are awesome 👍

[2016-11-17 14:57] liggitt commented on #11946
if we are synchronously creating a service account then immediately creating a pod that uses it, that code needs to be able to retry creating the pod if it is forbidden because the service account's token hasn't been auto-generated yet.

[2016-11-17 14:58] liggitt commented on #11946
https://github.com/liggitt/origin/blob/github-teams/pkg/bootstrap/docker/openshift/metrics.go#L68-L72

[2016-11-17 14:58] benjaminapetersen commented on #7853
I think we could close this and open a new one in origin-web-console, might take some new research to see where things are at this point?

[2016-11-17 15:00] benjaminapetersen commented on #5988
Inclined to think we could migrate the remaining open items to openshift-web-console on this one as well.  I'm happy to do so if nobody objects.

[2016-11-17 15:02] kenk667 commented on #11920
in docker inspect it shows network mode as "container:" for both the container with working outbound connectivity and without;

 "NetworkMode": "container:d9c4c18710d9e22169d754453b309c7998caafd50cafe22cb90a6175760a4e66",

"NetworkMode": "container:9d358d302c6ee622451679792dda755ac4d5d08374b2b1798daf77bfe996af52",

[2016-11-17 15:04] jwforres commented on #5988
sure, check the comments for any other additions/deletions to the list

On Thu, Nov 17, 2016 at 10:00 AM, Ben Petersen <notifications@github.com>
wrote:

[2016-11-17 15:05] csrwng commented on #11946
@liggitt thanks, would changing it to a Job do the trick?

[2016-11-17 15:06] jwforres commented on #7853
i disagree with moving issues over just for the sake of moving them :)  let's just resolve these one way or another and get them closed.

[2016-11-17 15:06] liggitt commented on #11882
closing this issue, feature is tracked in https://trello.com/c/akzREfyn/836-allow-github-identity-provider-to-require-team-membership, implemented in #11931, documented in https://github.com/openshift/openshift-docs/pull/3237

[2016-11-17 15:06] #11882 closed

[2016-11-17 15:08] liggitt commented on #11946
@soltysh could confirm, but I would expect so

[2016-11-17 15:12] kenk667 commented on #11920
@bparees @sosiouxme @knobunc  As a test I deployed a jenkins-ephemeral pod into the project space 'default' which has working networking outbound. oc rsh into the new jenkins-ephemeral pod and am able to ping outbound to google.com, private bitbucket, server, etc. by name with no issues. this means that the issue is that the docker bridge isn't atatching to pods in new projects. where should I loo

[2016-11-17 15:12] jwforres commented on #7692
opened https://github.com/patternfly/angular-patternfly/issues/346

[2016-11-17 15:16] knobunc commented on #11920
Is there anything suspicious in the docker logs?

On Thu, Nov 17, 2016 at 10:12 AM, kenk667 <notifications@github.com> wrote:

[2016-11-17 15:20] kenk667 commented on #11920
here is the logs for the mongodb container with broken networking;

=>  Waiting for MongoDB daemon up
2016-11-16T18:12:54.176+0000 I CONTROL  [initandlisten] MongoDB starting : pid=13 port=27017 dbpath=/var/lib/mongodb/data 64-bit host=mongodb-1-tsiej
2016-11-16T18:12:54.176+0000 I CONTROL  [initandlisten] db version v3.2.6
2016-11-16T18:12:54.176+0000 I CONTROL  [initandlisten] git version: 05552

[2016-11-17 15:21] jwforres commented on #10294
@juanvallejo do you know if the CLI today even has a severity level below warning for oc status?

[2016-11-17 15:23] spadgett commented on #10294
@juanvallejo Sounds like the CLI also has separate warnings for liveness and readiness probes? The web console has a single health checks warning.

[2016-11-17 15:25] tbielawa commented on #4487
This issue has been inactive for quite some time. Please update and reopen this issue if this is still a priority you would like to see action on.

[2016-11-17 15:25] #4487 closed

[2016-11-17 15:30] jmazzitelli commented on #11946
I'm quickly going to see if this works. Not sure if you'd want a PR with this (this changes the code so it just keeps retrying if the error it gets is this "retry after the token is ready" error message. I suspect this is going to fix it (if this truly is a case where retrying will help - I will see in a minute).

[code]

[2016-11-17 15:32] benjaminapetersen commented on #7853
Both of the links still look active & maintained  https://github.com/postcss/postcss  https://github.com/nDmitry/grunt-postcss

[2016-11-17 15:34] benjaminapetersen commented on #3519
Closing this, there is an open PR in origin-web-console with ESLint, the successor to JSCS.
https://github.com/openshift/origin-web-console/pull/682
@jwforres

[2016-11-17 15:34] #3519 closed

[2016-11-17 15:34] jwforres commented on #8756
We shouldn't remove focus for accessibility reasons, and the .btn:focus styles are from core bootstrap.  What I am seeing is the button continues to have an outline around it but does not look pressed, which is correct, it is focused but not active.

[2016-11-17 15:34] #8756 closed

[2016-11-17 15:36] jmazzitelli commented on #11946
That fix works. My "cluster up" command finished successfully and I do see this in the output:

[code]

[2016-11-17 15:39] csrwng commented on #11946
@jmazzitelli thanks for confirming that's the problem. I'd rather simply instantiate a job so that the job controller can do the retry for us.

[2016-11-17 15:39] jwforres commented on #7856
@bparees bumping this discussion.  So today we already fetch the ImageStreamTag in order to get the Env information for the image, so as long as the proposed data is available from the image metadata on ImageStreamTag then I think we could do this today.

Anything stopping us from going ahead and labeling images that support hot deploy?

[2016-11-17 15:42] benjaminapetersen commented on #7692
Lodash has a [noConflict](https://lodash.com/docs/4.17.2#noConflict) like jQuery that might allow us to load up the latest while we wait on dependencies (is only 4kB gzipped, don't think we have to worry much about file size for this one).

[2016-11-17 15:42] jmazzitelli commented on #11946
@csrwng sounds good to me. thanks for looking into this.

[2016-11-17 15:44] smarterclayton commented on #9848
The analogue to this request is a flag that does "yum update" on this box
and all boxes in the cluster.  That's something we wouldn't do there - why
would we do it here?

On Nov 17, 2016, at 9:03 AM, Ben Parees <notifications@github.com> wrote:

"--latest" feels confusing since i'm going to use it with
"--version=latest", and "--latest-images" doesn't actually use the latest
images in openshift st

[2016-11-17 15:44] juanvallejo commented on #10294
@jwforres

Yes, there is also an [Info severity](https://github.com/openshift/origin/blob/master/pkg/api/graph/interfaces.go#L29-L37), however any markers with that severity do not show up even in the verbose output of `oc status`.

@spadgett

Yes, we currently do readiness checks for deployment configs, and separate liveness checks for dc's and rc's not owned by a dc

[2016-11-17 15:45] detiber commented on #11936
@pweil, this is referencing the docker install from the origin docs, not something that I am familiar with.

[2016-11-17 16:00] MarkRx opened #11954 "Dynamically Changing Pod Labels?"
I am attempting to do blue-green (stage/active) deployments in openshift. The following format is used:
stage route -> stage service -> dc X
active route -> active service -> dc X (when promoting).

When promoting the existing active service is pointed to a new deployment that was previously staged. Staging allows for verification testing before routing over live traffic to new deployment configs.

[2016-11-17 16:17] derekwaynecarr commented on #11776
Closing based on https://github.com/openshift/origin/issues/11776#issuecomment-258960940

[2016-11-17 16:17] #11776 closed

[2016-11-17 16:19] juanvallejo commented on #10294
cc @deads2k

[2016-11-17 16:22] bparees commented on #7856
@jwforres nothing other than picking the annotation(?) name/value we'll use to indicate it.

[2016-11-17 16:24] derekwaynecarr commented on #11057
@aveshagarwal - anything obvious here?

[2016-11-17 16:26] bparees commented on #9848
because if i yum update to the same package level on all my nodes manually, i can expect them to all behave the same way.

if i update to origin 1.4.0 on all my nodes, they still won't all behave the same way if they have different local images.

[2016-11-17 16:26] jwforres commented on #7856
openshift.io/hot-deploy-enabled  ?

[2016-11-17 16:30] bparees commented on #7856
hot-deploy-supported?

[2016-11-17 16:31] aveshagarwal commented on #11057
@derekwaynecarr looking

[2016-11-17 16:31] bparees commented on #7856
(enabled depends on the configuration of the pod.  supported depends on the capabilities of the image, so if it's an annotation on the imagestreamtag, i think supported is the right term)

[2016-11-17 16:37] jwforres commented on #7856
Works for me

On Nov 17, 2016 11:31 AM, "Ben Parees" <notifications@github.com> wrote:

[2016-11-17 16:41] aveshagarwal commented on #11057
seems they are related: https://github.com/openshift/origin/issues/11353 as I also see similar issue in the output:
[code]

[2016-11-17 16:45] derekwaynecarr commented on #11197
@aveshagarwal -- can you assist here?

[2016-11-17 16:49] bparees commented on #9452
@oatmealraisin you were asking what the behavior should be, i think it's summarized in the description of the issue: "What should happen is the normal behavior, the build logs should be printed (if any), and --wait should exit with an appropriate failed return code, as it does for a normal build --wait flow."

[2016-11-17 16:51] knobunc commented on #11920
Sorry, the actual logs from docker.  Run:
  journalctl -flu docker

Then leave that running and start a pod and see what appears in the logs.

[2016-11-17 16:52] aveshagarwal commented on #11197
@derekwaynecarr sure.

[2016-11-17 16:59] kenk667 commented on #11920
@knobunc

here are the logs after running docker stop/start on the mongodb container;

 journalctl -flu docker
-- Logs begin at Wed 2016-11-16 11:01:39 EST. --
Nov 17 11:55:15 osorigin.c2aos.test dockerd[1029]: time="2016-11-17T11:55:15.477106821-05:00" level=error msg="Handler for GET /containers/c0c1596975b2b2acf06387577b9c4ff3dca905a064c7a206e4a23e9743c7ff57/json returned error: No such contain

[2016-11-17 17:21] kenk667 commented on #11920
In case this helps or makes a difference, it is running HAproxy router

[2016-11-17 17:22] #3479 closed

[2016-11-17 18:32] knobunc commented on #11920
The haproxy router deploys with NetworkMode: Host.  So the networking should not be containerized.  Before when you pulled the networkmode it returned container:... which refers to the pod image.  If you were to look at those docker container's for the networking mode, that would be interesting.

[2016-11-17 19:03] #7236 closed

[2016-11-17 19:24] ncdc commented on #11903
I think I prematurely said 11922 fixed this. Now that 11922 and #11945 are in, everything should pass except for the jenkins failure.

[2016-11-17 19:27] jwhonce commented on #9490
@mfojtik @bparees Given your discussion should this really be restored to a P2?

[2016-11-17 19:41] bparees commented on #9490
@jwhonce given that it's been 25+ days since anyone referenced it, i'd even be willing to consider closing it and reopen if we recreate, unless you guys have reason to think it's still a problem.

[2016-11-17 19:54] derekwaynecarr commented on #10988
This is not a release blocker.

[2016-11-17 20:08] jwforres commented on #7601
This is a significant enhancement request because of how things are structured, and needs to get UX input, moving this into trello https://trello.com/c/w8Y2ZmoA

[2016-11-17 20:08] #7601 closed

[2016-11-17 20:21] mrunalp commented on #10939
@derekwaynecarr @smarterclayton Is anything remaining to be done here?

[2016-11-17 20:24] mrunalp commented on #9624
@mfojtik Is this still happening? cc: @rhvgoyal

[2016-11-17 20:32] #5994 closed

[2016-11-17 20:37] #11015 closed

[2016-11-17 21:25] dustymabe opened #11962 "dns resolution doesn't seem to work for ec2.internal addresses"
I believe this is related to https://github.com/golang/go/issues/17967

The go resolver in openshift seems to not be able to resolve ec2 internal hostnames and is causing issues when trying to start the openshift master containerized on a Fedora 25 atomic host. I basically end up getting a bunch of errors like this:

[code]

I am able to workaround this issue if I manually set it so that it querie

[2016-11-17 21:26] dustymabe commented on #11962
@sdodson and @dcbw helped me debug this issue and @dcbw ultimately reported the issue upstream in go at https://github.com/golang/go/issues/17967. Thank you both for helping me debug today.

[2016-11-17 21:27] jwforres commented on #11170
Removing component/web from this since there is nothing to be done on the console side.

[2016-11-17 21:36] oatmealraisin commented on #9452
@bparees I don't think there's an issue.  I've put sleeps in the follow logic + controller logic to try and reproduce this, but the most I've gotten is `error: The build myproject/ruby-hello-world-4 status is "Failed"`. I can still get logs to be streamed if the pod is created. Perhaps I'm missing something?

[2016-11-17 21:37] bparees commented on #9452
does "oc start-build --wait --follow" print out the logs even if the build failed in the middle of a retry?

[2016-11-17 21:50] detiber commented on #11936
@smarterclayton can you recommend a better assignee for this issue?

[2016-11-17 21:55] oatmealraisin commented on #9452
Should the --wait affect it? I've been using --follow and the logs get streamed as long as the pod gets created [here](https://github.com/openshift/origin/blob/master/pkg/build/controller/controller.go#L202)

This is after a 8 second sleep in the follow loop and a 10 second sleep before the above link

[2016-11-17 21:57] bparees commented on #9452
yes it matters. from my original description, "If you use --wait and the build actually fails in between the client retrying waiting for the build/logs, oc client will error out telling you cannot wait for a failed build."

specifically the incorrect behavior results from the fact that we are trying to "wait" and not just "follow", but you can't "wait" on a failed build.

[2016-11-17 22:03] jwforres commented on #10294
Just making sure... does anyone disagree with the idea of these being INFO level messages instead of warnings?

[2016-11-17 22:21] #7044 closed

[2016-11-17 22:23] #10737 closed

[2016-11-17 23:48] MarkRx opened #11963 "Custom Deployment Strategy Examples"
The OpenShift origin documentation mentions a way to create custom deployment strategies at https://docs.openshift.org/latest/dev_guide/deployments/deployment_strategies.html#custom-strategy. I cannot find any examples doing this. Are there any?

In particular I am wondering how it would be able to perform REST calls as that would require some way to pass around user credentials or an authenticati

[2016-11-18 00:31] smarterclayton commented on #11936
Not sure

[2016-11-18 03:07] jmazzitelli opened #11965 "oc cluster up with metrics fails preflight check - unable to access master url"
This works on one machine I have, but not on another (most times - 9 times out of 10 it fails)

Running `sudo oc cluster up --metrics` the preflight checks fail.

When I look at the openshift-infra project, I only see one pod named "metrics-deployer-pod" and it is in an error state. The logs for this pod is below.

##### Version

[code]

##### Steps To Reproduce

Start the cluster with metrics:

[2016-11-18 05:36] jhou1 commented on #11556
@humblec I see https://github.com/kubernetes/kubernetes/pull/21304 is merged upstream, do you know when this will be merged in OCP? Thanks!

[2016-11-18 06:05] humblec commented on #11556
@jhou1 iic you meant https://github.com/kubernetes/kubernetes/pull/35460 instead of https://github.com/kubernetes/kubernetes/pull/35460 .  If that is the case, the origin PR is here #https://github.com/openshift/origin/pull/11893 . @childsb can you please help to get it merged in OCP 3.4 tree ?

[2016-11-18 06:07] jhou1 commented on #11556
Thank you!

[2016-11-18 08:20] jsafrane commented on #9767
I hit this error today: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8564/console

[code]

IMO, the root cause may be different than #9775.

[2016-11-18 08:45] jorgemoralespou commented on #8175
@spadgett Is there a PR related to closing this issue?

[2016-11-18 10:10] ibotty commented on #8622
Is this going to be in 1.4? Many kube-addons already use it and thus can't be used by openshift.

[2016-11-18 11:36] kargakis commented on #11903
Not sure what that is.

[2016-11-18 11:46] kargakis commented on #11951
cc: @mfojtik

[2016-11-18 11:49] kargakis commented on #11951
I think the intention is to have controllers set owner references independent of enabled GC. Not sure that's the case currently with RC / RS.

[2016-11-18 11:53] jwforres commented on #8175
No not yet, we are trying to consolidate duplicate/related issues in favor
of issues in the new repo.  The issue I linked above is the one we will be
tracking.

On Nov 18, 2016 3:45 AM, "Jorge Morales Pou" <notifications@github.com>
wrote:

@spadgett <https://github.com/spadgett> Is there a PR related to closing
this issue?

—
You are receiving this because you modified the open/close state.
Reply

[2016-11-18 12:12] ncdc commented on #11903
Gabe looked into it. It's a Jenkins build e2e test

On Fri, Nov 18, 2016 at 6:37 AM Michail Kargakis <notifications@github.com>
wrote:

[2016-11-18 12:15] liggitt commented on #8622
No, it is still not stable or functionally complete. There are upstream issues tracking remaining work, but progress has slowed.

[2016-11-18 12:22] hansmi opened #11966 "Docker builder panics"
I'm attempting to use `openshift/origin-docker-builder` for a custom build (there'd be more around it, but for the sake of reproducibility I tried to reduce everything to a minimal example). Unfortunately the builder panics at `pkg/build/builder/docker.go:180` with `invalid memory address or nil pointer dereference`.

##### Version
[code]

##### Steps To Reproduce
1. Set up Git repository. In my c

[2016-11-18 12:51] deads2k commented on #10294
I don't care one way or the other.

[2016-11-18 13:15] deads2k commented on #8622
See https://github.com/kubernetes/features/issues/95 for a list of known failures.  Many are quite severe.

[2016-11-18 13:20] kargakis commented on #11954
I've proposed a solution to this upstream: https://github.com/kubernetes/kubernetes/issues/36897

[2016-11-18 13:24] kargakis commented on #11963
@mfojtik passing this to you since you work on custom deployments lately

[2016-11-18 13:46] hansmi commented on #11966
Reading through the code indicates that the builder written in Go can only handle Docker builds (`dockerStrategy`), not custom builds (`customStrategy`). A error message would be much nicer than a backtrace.

[2016-11-18 14:40] bparees commented on #11966
custom build says "bring us an image that can run by itself and perform your build logic" and the docker-builder image is not such a thing, nor does it claim to be.  I'm not sure what lead you to attempt this and perhaps there is room to improve the documentation that lead you down this path, but you could run into this problem (attempting to run an image w/o providing all its prereqs such that it

[2016-11-18 14:40] #11966 closed

[2016-11-18 15:53] oatmealraisin commented on #9452
Over scrum we decided that this issue isn't reproducible currently, closing

[2016-11-18 15:53] #9452 closed

[2016-11-18 16:30] imcleod commented on #9624
How about we whip up a standalone pull stress tester to try to reproduce this outside of OpenShift?

[2016-11-18 16:33] juanvallejo opened #11967 "Proposal: Increase "created time" precision (show hours + mins) in CLI and Web Console"
Related Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1232251

Right now, the web-console and CLI show the created time for a resource with an hour difference:
[code]
*Web-console*

![web-console](https://bugzilla.redhat.com/attachment.cgi?id=1039392)

It would be ideal to (rather than just fix this hour discrepancy) display hours + minutes in the "created time" of resources

cc @jwforres

[2016-11-18 17:35] jwhonce commented on #9490
Please re-open issue if it resurfaces.

[2016-11-18 17:38] #3432 closed

[2016-11-18 18:05] smarterclayton commented on #11954
I think having two dc's and two services is the natural way to solve this.  I think it's also the right mechanism for many isolation cases.

[2016-11-18 18:15] jwforres commented on #8503
Moving this RFE to trello https://trello.com/c/f6tBGkpM

[2016-11-18 18:15] #8503 closed

[2016-11-18 18:15] kenk667 commented on #11920
@knobunc as you've requested;

I just checked it on the registry pod which has working networking;

 docker inspect 9d358d302c6e | grep NetworkMode
            "NetworkMode": "default",

Why would the NetworkingMode change in another project? I was assuming that all projects would use the same mode? Would I need to deploy a new router for each project?

[2016-11-18 18:17] jwforres commented on #7947
what if there is only currently 1 pod but its in the process of scaling up, would you still want to go straight to the pod, or to the list of pods where the other pods are going to show up once created?

[2016-11-18 18:35] knobunc commented on #11920
It's not a different project.  Each pod that you bring up will have an extra container in the docker listing.  So, if your pod contained two containers, then there would be three containers running in docker.  The extra one is a simple placeholder process that holds open the network namespace for all containers in the pod.  So every normal container in the pod will have NetworkMode: container:...

[2016-11-18 18:41] jwforres commented on #7077
Moving this request to Trello https://trello.com/c/p2XoTIor

[2016-11-18 18:41] #7077 closed

[2016-11-18 18:49] MarkRx commented on #11954
Multiple dc's are used in our case - when staging. We are doing switching at a service level instead of a route level due to some reasons that were explained to me by networking and the infrastructure team (something to do with load balancing, wide ip's, and HA proxy).

Before:

Stage Y

Promote Y (delete dc X)

I understand another approach would be using blue/green services and dc's that are agn

[2016-11-18 19:01] smarterclayton commented on #11954
Generally when people want to do blue green, they're doing it so the fewest possible moving pieces change between stage and production.  Part of my concern with relabelling (to have one deployment get another's pods) is that it's a lot of individual moving part actions (if one of those moves fail, you might break production and staging).  I think there is a lot of advantages to focusing on using o

[2016-11-18 19:14] kenk667 commented on #11920
@knobunc  sure thing, here it is;

 docker inspect 7f5d3197d670 | grep NetworkMode
            "NetworkMode": "container:d9c4c18710d9e22169d754453b309c7998caafd50cafe22cb90a6175760a4e66",

also, on the working one, if it makes any difference it is the docker registry pod. I created a mongodb pod in the 'default' project space and the output is the same as the broken one in respect it to being cont

[2016-11-18 19:22] bparees opened #11969 "remove OriginalSourceURLAnnotationKey logic"
Once we are building our builder images based on rhel7.3 and an equivalent centos version, we will no longer need the logic associated with the "OriginalSourceURLAnnotationKey" annotation, which exists to deal with long git tokens that the underlying http libraries didn't support prior to 7.3.

So when we get to that point, we should remove the associated logic.

[2016-11-18 19:27] jwforres commented on #6017
talking with @spadgett we are going to close this, we have a service that has taken the logic out of the controllers which was the original goal.

[2016-11-18 19:27] #6017 closed

[2016-11-18 19:33] knobunc commented on #11920
It's not the projects... there's no networking isolation when you are not running with a networking plugin.  Something funny is going on.

But can you docker inspect both of the containers that you got for the networking mode above so that we can see how the pod networking is configured.

[2016-11-18 20:04] #11622 closed

[2016-11-18 20:09] aweiteka commented on #11782
@joekohut I reproduced your issue and believe it's due to an empty `/etc/atomic-registry/serviceaccount/token` file. Please confirm.

**Temporary workaround**

1. Run these two commands to print the token:

        TOKEN_NAME=$(sudo docker exec atomic-registry-master oc get sa registry --template '{{ $secret := index .secrets 1 }} {{ $secret.name }}')
        sudo docker exec atomic-registry-maste

[2016-11-18 21:00] bparees commented on #11969
relevant code:
https://github.com/openshift/origin/blob/master/pkg/build/builder/cmd/scmauth/password.go#L103
https://github.com/openshift/origin/blob/master/pkg/build/builder/cmd/builder.go#L127
https://github.com/openshift/origin/blob/master/pkg/build/builder/common.go#L23

[2016-11-18 21:05] dcbw opened #11970 "sdn: remove IPAM garbage collection hack"
The hack is https://github.com/openshift/origin/pull/11964, and it should be reverted once  https://github.com/kubernetes/kubernetes/pull/37036 merges upstream.

@openshift/networking

[2016-11-18 21:07] spadgett commented on #7947
Hm, can't decide. It might never scale, for instance, if you're out of quota.

[2016-11-18 21:08] spadgett commented on #11967
What would we show after days have elapsed?

[2016-11-18 21:11] juanvallejo commented on #11967
@spadgett hm, would it be feasible to display `<days> + <hours> + <minutes>` as each becomes `> 0`? We could probably stop at days even after years pass.

[2016-11-18 21:19] spadgett commented on #11967
I guess I'm not convinced the different between "4 hours ago" and "4 hours 23 minutes ago" is that meaningful most of the time. I think I prefer the former (current behavior).

Do we let users hover and see the exact time using a `title` attribute?

[2016-11-18 21:23] jwforres commented on #11967
On Fri, Nov 18, 2016 at 4:19 PM, Sam Padgett <notifications@github.com>
wrote:

And I agree. Its humanized relative time, its intentionally not precise and
its consistent with the precision the CLI is using.  I don't see us
changing the behavior.

Yes we do, its part of the relative-timestamp directive

[2016-11-18 21:24] jwforres commented on #11967
I'm leaning in the direction of declaring that bugzilla as WONTFIX, I don't
see us changing the library we use for dates on the console or on the CLI.
  @fabianofranz opinion?

On Fri, Nov 18, 2016 at 4:23 PM, Jessica Forrester <jforrest@redhat.com>
wrote:

[2016-11-18 21:27] jwforres commented on #11967
Although looking back at the bug history we had said the CLI was doing the
wrong thing.  Any CLI folks know how bad it would be for us to fix the
CLI's behavior?

On Fri, Nov 18, 2016 at 4:24 PM, Jessica Forrester <jforrest@redhat.com>
wrote:

[2016-11-18 21:35] jwforres commented on #7947
@rhamilto take a look at navigate.js toPodsForDeployment

[2016-11-18 22:02] juanvallejo commented on #11967
@jwforres

wrong thing.  Any CLI folks know how bad it would be for us to fix the
CLI's behavior?

It gets cast to an `int` [here](https://github.com/docker/go-units/blob/master/duration.go#L13). I think the fix might just be adding `1` to [these return values](https://github.com/docker/go-units/blob/master/duration.go#L21-L33) and make an upstream PR to docker. cc @fabianofranz

[2016-11-18 22:37] legionus commented on #11873
https://github.com/openshift/origin/pull/11925

[2016-11-18 22:43] derekwaynecarr commented on #10939
there should be nothing left to do here.

[2016-11-18 22:43] #10939 closed

[2016-11-18 23:08] #10269 closed

[2016-11-18 23:17] kargakis commented on #11873
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8748/consoleFull#-169259343956c60d7be4b02b88ae8c268b
[code]
[code]

[2016-11-18 23:47] mrunalp commented on #9624
@imcleod SGTM. @rhvgoyal @runcom WDYT?

[2016-11-18 23:52] runcom commented on #9624
sgtm as well :+1:

[2016-11-19 00:36] #10294 closed

[2016-11-19 08:39] #11845 closed

[2016-11-19 16:05] xiangpengzhao commented on #11770
@priyanka5 Has this issue been solved? I remembered that I once met this on my OSE3.2 env days ago. I stopped the firewalld on master/nodes and then solved the problem.
cc @knobunc

[2016-11-19 18:13] mvlach commented on #11186
[code]

[2016-11-19 18:14] mvlach commented on #11186
[code]

[2016-11-19 18:15] mvlach commented on #11186
the haproxy current connection overflow the 2000 and the proxy is restarted.

Terminated at Nov 19, 2016 7:12:41 PM with exit code 2 (Error)

When the proxy is hidden by apache on the port 443 and the proxy on the 2443, this situation never happens.

@ramr can you please look at this problem ?

[2016-11-19 18:44] soltysh commented on #11915
True, but that's again, getting a single instance needed for build, deployment, etc. Not sure about the importance of getting all ISIs or ISTs. Seems quite burdensome when I think of the results.

[2016-11-19 18:54] kargakis commented on #11915
We don't use the ISI api/client for getting images for deployments. For me it makes sense to provide at least read actions on these resources. We don't have a good way for letting users know how many images they have in their namespace.

[2016-11-19 20:31] soltysh commented on #11915
Do you care how many ISIs you have, besides some of them will be pointing to old images, which will actually blur the picture. I'm not strongly convinced into this.

[2016-11-21 05:05] smarterclayton opened #11974 "dockerImageConfig should not be set when retrieving images via imagestreamtag or imagestreamimage"
The manifest is hidden for both these endpoints, dockerImageConfig should not be shown either.

Technically this is a breaking API change, but we are planning on removing direct access to manifest in general.  It's too late to fix it for 1.4, but we can deprecate and fix in 1.5.

[2016-11-21 05:43] priyanka5 commented on #11770
@xiangpengzhao no, I still get the same issue. I remember I tried disabling firewalld but problem still existed. Let me try again to be sure.

[2016-11-21 08:49] mfojtik commented on #11963
@MarkRx an example deployment configuration can be found here: https://github.com/openshift/origin/blob/master/test/extended/testdata/deployments/custom-deployment.yaml

For authentication you can pass the service account token and give the service account access your deployment strategy require. The service account token is a mounted secret (`/var/run/secrets/...`).

[2016-11-21 09:41] kargakis commented on #11963
@mfojtik this is a test fixture. We should have an example in docs.

[2016-11-21 09:46] siamaksade opened #11975 "Add "Copy to Clipboard" to the "Command Line Tools" page"
On the "Command Line Tools" there is a CLI command to show the user how he can login to OpenShift using the current session token:

[code]
Every single user has to click on that, select it and copy to clipboard. There should be a "Copy to Clipboard" button near that command to make it easier to do just that.

[2016-11-21 10:27] jim-minter commented on #11915
Some notes: oc get imagestreamtags already works, and `oc get` specifically lists 'imagestreamimages' (plural) as a valid thing to get (but it doesn't yet work).

The fact that you can do 'oc get collection' on different types of object broadly regardless of their type is a very important API feature and foundation for end users who are learning to use the platform.  It is important for transparen

[2016-11-21 10:34] kargakis commented on #11915
Agreed with @jim-minter, our APIs should be consistent.

[2016-11-21 10:41] mfojtik commented on #11951
@deads2k I guess we will have to add special service account for generic GC controller (and not recycle the existing 'gc' SA).

[2016-11-21 10:47] mfojtik commented on #11963
@kargakis agree, I will update docs

[2016-11-21 11:03] miminar commented on #11232
@cristhianbicca I'm closing this now. Feel free to re-open if you still experience this issue.

[2016-11-21 12:00] mfojtik commented on #11963
PR: https://github.com/openshift/openshift-docs/pull/3260

[2016-11-21 12:25] stevekuznetsov opened #11977 "Don't Use `jq` in test-cmd Tests"
In order to reduce indirection and complexity in the tests and to get rid of the runtime dependency, we shouldn't use `os::cmd` to test the output of `jq` testing the output of `oc get`. Instead of writing a complex test using `jq`, we should just enumerate the conditions we want to test for using `os::cmd`.

See https://github.com/openshift/origin/commit/beb7d4c57e1995bb00920f1191a0edf898861262#c

[2016-11-21 12:40] deads2k commented on #11951
correct.

[2016-11-21 12:48] spadgett commented on #11975
Already working on it :)

https://github.com/openshift/origin-web-console/pull/871#issuecomment-261651599

[2016-11-21 13:26] soltysh commented on #11915
They are not and I doubt ever will be.

[2016-11-21 13:51] bparees commented on #11906
@smarterclayton who owns the debug feature so we can get this cleaned up?

[2016-11-21 14:38] benjaminapetersen commented on #6017
sounds good

[2016-11-21 14:48] ncdc opened #11980 "Implement DeleteStrategy in all our generic registry Stores"
So we can drop https://github.com/openshift/kubernetes/commit/0e612f0ab1227466f701991d03a627b5bba2ffe7

[2016-11-21 14:56] jwforres commented on #7856
based on discussion with @bparees last week it sounds like this information is not going to be that useful, even if the image is capable of doing hot deploy, if things are not configured correctly then it may not actually work.  will link to this issue from the "enable hot deploy" story, and closing this

[2016-11-21 14:56] #7856 closed

[2016-11-21 14:56] jwforres commented on #7856
https://trello.com/c/NZwR9Mpu

[2016-11-21 15:02] jwforres commented on #6486
@jhadvig can you take a look at this and see why the warning isn't showing up now

[2016-11-21 15:06] mfojtik commented on #11977
@stevekuznetsov or use `--jsonpath` ?

[2016-11-21 15:09] jwforres commented on #2568
Consolidating with bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1371764

[2016-11-21 15:09] #2568 closed

[2016-11-21 15:11] jwforres commented on #4914
@sspeiche opinion on this?

[2016-11-21 15:11] jwforres commented on #5471
@spadgett are we blocked on this in some way?

[2016-11-21 15:13] mfojtik commented on #11951
@ncdc updated description from what I learned from @deads2k, please add any other concerns there to make this more fun ;-)

[2016-11-21 15:16] stevekuznetsov commented on #11977
@mfojtik yes, if possible, use `jsonpath` over Go templates.

[2016-11-21 15:23] #7643 closed

[2016-11-21 15:26] sspeiche commented on #4914
Seems like a reasonable/helpful thing to do. I do wonder though, if we just want a general link-to page that isn't part of the product for "other clients".

Though I'd check with @jcantrill It seems like a lot of the links one the Eclipse plugin have a lot of references to v2, which I think should be pushed off to another page and linked to as "other versions" http://tools.jboss.org/features/opens

[2016-11-21 15:34] jwforres commented on #4914
Yeah i like that idea better

@ahardin-rh @adellape do we have anything like that in the docs, a page that lists our other clients you can use against openshift, like the jboss tools.

[2016-11-21 15:42] gabemontero commented on #11903
The test:

[code]

has been replaced via https://github.com/openshift/origin/pull/11844

The replacement test has been clean in various runs since the merge.

Closing this out.

[2016-11-21 15:42] #11903 closed

[2016-11-21 16:13] spadgett commented on #5471
I don't think so

[2016-11-21 16:36] smarterclayton commented on #11906
Whoever wants to fix it.

This is informational, so trying an image import and not getting the exact
value is ok.  imageID was broken but is fixed in more recent versions of
Red Hat Docker (talk to Andy or Derek about that).

On Mon, Nov 21, 2016 at 8:51 AM, Ben Parees <notifications@github.com>
wrote:

[2016-11-21 16:39] smarterclayton commented on #11016
Given the rate of flakes, we need to do something here.

[2016-11-21 16:39] smarterclayton commented on #11016
Probably increasing a few timeouts.

[2016-11-21 16:40] soltysh commented on #11016
Agreed, I'm seeing this in half of the failures in #11916. The only question is what can we do? I doubt switching to OverlayFS is an option?

[2016-11-21 16:41] aweiteka commented on #11782
Proposed workaround pushed to installer image docker.io/projectatomic/atomic-registry-install

[2016-11-21 16:42] smarterclayton commented on #11016
It's not.

On Mon, Nov 21, 2016 at 11:40 AM, Maciej Szulik <notifications@github.com>
wrote:

[2016-11-21 16:43] soltysh commented on #11016
Increasing a few timeouts seems reasonable. I'll dig into the failures and see what's the most frequent ones and where it make sense.

[2016-11-21 17:31] bparees commented on #11906
@rhcarvalho you're the only person i know is on the diagnostics team, feel free to get this reassigned, but i think it probably should be owned by that team.

[2016-11-21 17:34] fabianofranz commented on #11967
When converting a `float` to `int` in Go, the fraction part just gets blindly discarded.

@juanvallejo I'm + 1 to submit a fix to Docker's [go-units](https://github.com/docker/go-units) but I'd suggest to fix it by doing proper rounding (which I believe is how moment.js does it, might be worth to check). Since Go's `math` doesn't provide rounding, one popular trick is to add `0.5` and then cast to

[2016-11-21 17:44] #11842 closed

[2016-11-21 17:46] jwforres commented on #11967
moment.js shows relative time in minutes until after 45 mins, then it
switches to rounding for hours

On Mon, Nov 21, 2016 at 12:34 PM, Fabiano Franz <notifications@github.com>
wrote:

[2016-11-21 17:54] #11388 closed

[2016-11-21 18:03] jwforres commented on #4368
The introduction of API discovery during bootstrapping means it never even gets this far.  It will eventually fail during API discovery and go to an error page.

The problem occurs when you have already been authenticated previously, and then the certificate of the API server changes (and is not the same as the certificate for the console).

[2016-11-21 19:19] jwforres commented on #2146
Moving this to trello https://trello.com/c/b3QnayXY

[2016-11-21 19:19] #2146 closed

[2016-11-21 19:23] juanvallejo opened #11985 "Improve descriptions for quota scopes"
The web-console improves descriptions for quota scopes in this PR [https://github.com/openshift/origin-web-console/pull/887](https://github.com/openshift/origin-web-console/pull/887/files)

These descriptions should also be updated upstream: https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/kubectl/describe.go#L440-L453

cc @spadgett @jwforres @fabianofranz

[2016-11-21 19:41] juanvallejo commented on #11967
@fabianofranz +1 to adding `0.5` before casting to `int`, would we also want to round for hours after 45 mins to be fully consistent with `moment.js`? Could be something like:
[code]

[2016-11-21 19:46] #7591 closed

[2016-11-21 19:51] jwforres commented on #4915
I think now that we are showing generated parameters and template post processing messages on this page that it may be detrimental to allow people to permanently dismiss it.

@ajacobs21e thoughts?

[2016-11-21 20:08] ajacobs21e commented on #4915
yeah @jwforres without having another way to access that information this page should stay. However I would prefer if this information was accessible elsewhere and then the user had a way to get rid of this page.

[2016-11-21 20:16] jwforres commented on #4915
@ajacobs21e this information doesn't persist, it only exists right after we instantiate the template.  Do you mean that we should make it available at the top of the overview right after creation?

[2016-11-21 20:18] rhvgoyal commented on #9624
So ApplyLayer Fails and complains about associated device not being present. I am wondering if image is still present or not (underlying layer on this this diff layer is being applied on).

[2016-11-21 20:22] #2838 closed

[2016-11-21 20:42] rhvgoyal commented on #9624
Have people noticed this problem in 1.10.3? In 1.10.3, we had fixed couple of races.

[2016-11-21 20:44] pweil- commented on #11936
@rwatts3 can you confirm that you can curl the the console url from the compute instance and that OpenShift is running?

[code]

you should see a message that JavaScript is required.

Also, just for completeness are you using https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container or another set of directions?

Running the container with that command wil

[2016-11-21 20:45] smarterclayton commented on #4915
There have been requests to make it easy to capture the template parameters
as a config map.  In the longer term.

On Mon, Nov 21, 2016 at 3:16 PM, Jessica Forrester <notifications@github.com

[2016-11-21 21:11] ajacobs21e commented on #4915
@jwforres The "command line tools" info could be part of the project settings and the "making code changes" could be within the build / other resource 's detail page.

[2016-11-21 21:25] jwforres commented on #4915
@ajacobs21e we have a command line help page today, I think it covers everything next steps covers and more.  Agreed we could probably move the making code changes to somewhere in the build page.

My main concern is what to do with the information that is the immediate result of the template being instantiated.  This includes the result of any parameters whose values were generated on the user's b

[2016-11-21 21:33] ajacobs21e commented on #4915
ah ok @jwforres I don't see those messages since I don't have real code to deploy.

Would it be possible to show the message in those instances where there is relevant data but if it's the standard interstitial the user has the option to not show it?

[2016-11-21 21:48] jwforres commented on #4915
yeah that should be possible, we know whether that sort of info exists
before we navigate to the next steps page

On Mon, Nov 21, 2016 at 4:33 PM, Allie Jacobs <notifications@github.com>
wrote:

[2016-11-21 21:55] ajacobs21e commented on #4915
is that a good compromise?
-make the basic info available elsewhere
-give user option to dismiss the generic message
-still show the page if there are parameters / template messages

[2016-11-21 22:15] jupierce commented on #10920
@bparees @smarterclayton This is caused by the fmt.Stringer interface implicitly taking over printing this reference due to some generated protobuf code: https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/api/v1/generated.pb.go#L12715

[2016-11-21 23:02] #4368 closed

[2016-11-21 23:16] rhvgoyal commented on #9624
This ApplyLayer failure message seems to be coming from `applyLayerHandler()` in `pkg/chrootarchive/diff_unix.go`

This in turn calls `docker-applyLayer` with `dest` argument which is supposed to be a directory on top of which layer has to be applied.

But somebody is trying to open the device `/dev/mapper/<foo>` and that is not making much sense. That must have happened in Get() call before calli

[2016-11-21 23:38] #11975 closed

[2016-11-22 09:22] sbadakhc opened #11991 "x509: certificate has expired or is not yet valid"
Running oc adm diagnostic reports expired x509 cert but that is not the case.
[code]

The upshot of this is that I can execute builds and populate the integrated docker register as admin user but not as a regular use using the oc client.

[2016-11-22 10:26] mfojtik commented on #11991
@rhcarvalho something diagnostics team wants to look at?

[2016-11-22 13:00] stevekuznetsov commented on #11024
Seen this again

[2016-11-22 14:00] luiscoms opened #11993 "How can I build a git tag on Openshift Origin?"
How can create `BuildConfig` to build an specific git tag on Openshift Origin?

I did not found on [documentation][1]

  [1]: https://docs.openshift.com/enterprise/3.1/dev_guide/builds.html

I have tried `commit` and `tag`like following:

      source:
        type: Git
        git:
          uri: 'https://github.com/luiscoms/gravity-world.git'
          ref: master
          commit: 1.0.0

[2016-11-22 14:23] sbadakhc commented on #11991
Not sure if this is related but I cannot browse to my app after deployment.  I can confirm the following:

[code]

From the console logged into the container
[code]

I can see the wildfly splash page from but not the jsp I'm serving up:
[code]

[2016-11-22 14:23] #11991 closed

[2016-11-22 14:38] jupierce commented on #10920
The method is generated by the stringer plugin for gogoprotobuf. It happens for all messages, so there are almost certainly more jsonpaths affected. @smarterclayton it looks like you were active in this module. Thoughts on changing the value back to <nil>?
https://github.com/gogo/protobuf/blob/master/plugin/stringer/stringer.go#L148

[2016-11-22 14:40] fabianofranz commented on #11967
@juanvallejo definitely works for me, we just have to check how well that will be accepted there. Do you want me to take care of this (I have a Docker dev env already)?

[2016-11-22 14:47] jwforres commented on #7217
This is already being tracked in trello https://trello.com/c/Ee0tlHwo

[2016-11-22 14:47] #7217 closed

[2016-11-22 14:51] luiscoms commented on #11993
The question was answered on Stack Overflow

[2016-11-22 14:51] #11993 closed

[2016-11-22 14:57] juanvallejo commented on #11967
@fabianofranz

Sounds good, thanks!

[2016-11-22 15:08] kenk667 commented on #11920
@knobunc

Here is the docker inspect for the failing container;

 docker inspect 7f5d3197d670
[
    {
        "Id": "7f5d3197d670c63e0df0187d32e6b55ae1f87daf6ae5a702158c69d20cd7d51d",
        "Created": "2016-11-17T16:58:32.791450601Z",
        "Path": "container-entrypoint",
        "Args": [
            "run-mongod"
        ],
        "State": {
            "Status": "running",
            "Runn

[2016-11-22 15:09] kenk667 commented on #11920
@knobunc

and the docker inspect for the working one;

docker inspect fd2fa3b3ee32
[
    {
        "Id": "fd2fa3b3ee32136b52562a13bdceb103b9052979ae3e10cd3eb6103b104a23fb",
        "Created": "2016-11-17T17:16:31.838253566Z",
        "Path": "container-entrypoint",
        "Args": [
            "run-mongod"
        ],
        "State": {
            "Status": "running",
            "Running": true,

[2016-11-22 15:14] jwforres commented on #4914
@jcantrill see question above ^ do we not have any references in the documentation to the JBT?

[2016-11-22 15:16] jwforres commented on #5831
Some progress happening in upstream kubectl for the CLI https://github.com/kubernetes/kubernetes/pull/36802

[2016-11-22 15:25] kenk667 commented on #11920
@knobunc I see that there are config differencs here;

**working:**

"CapDrop": [
"KILL",
"MKNOD",
"SETGID",
"SETUID",
"SYS_CHROOT"
],
"Dns": null,
"DnsOptions": null,
"DnsSearch": null,
"ExtraHosts": null,
"GroupAdd": [
"1000030000"
],

**Not working:**

"CapDrop": [
"MKNOD",
"SYS_CHROOT"
],
"Dns": null,
"DnsOptions": null,
"DnsSearch": null,
"ExtraHosts": null,
"GroupAdd": null,

[2016-11-22 15:26] smarterclayton commented on #10920
This seems like a bug in the JSONPath printer.  It's unclear to me that
JSONPath should be relying on .String() on these particular objects
(jsonpath should be decomposing all objects into map[string]interface{}, so
calling .String() seems incorrect on a struct).

On Tue, Nov 22, 2016 at 9:38 AM, Justin Pierce <notifications@github.com>
wrote:

[2016-11-22 15:27] adellape commented on #4914
@jwforres We had this small page at one point:

https://github.com/openshift/openshift-docs/blob/master/dev_guide/jboss_tools.adoc

But it was pulled from the build before 3.0 GA'd (https://github.com/openshift/openshift-docs/issues/534) since all the JBoss Tools docs we linked to were still only for OSE v2 at the time. We could add our page back now though.

[2016-11-22 16:03] jupierce commented on #8680
new-build (and new-app) generally do not modify existing resources -- instead reporting an error. To accomplish the use case you describe, @csrwng suggested using new-build to generate json (or yaml) output and piping it to oc apply to merge the desired changes.

For example:
[code]

Any more thoughts @bparees ?

[2016-11-22 16:37] jupierce commented on #10920
I can only speak to the code path I was tracing. It uses reflection to walk a real instance of the v1.BuildConfig structure (not a map[string]interface{}). It ultimately calls evalToText to serialize the results into a string (https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/util/jsonpath/jsonpath.go#L490)
[code]

For this use case / .spec.output.to calls evalToText wit

[2016-11-22 16:37] alikhajeh1 opened #11995 "Aliyun oss storage driver for Docker registry"
It looks like https://github.com/openshift/origin/pull/8692 added support for the [Docker registry oss storage driver](https://docs.docker.com/registry/storage-drivers/oss/), however, this was removed by [this PR](https://github.com/openshift/origin/commit/ad2e16428e0930d1fb36a7dd311b697457b45847#diff-50cb1f18216798dfbbed586e322c3edfL35
). The OpenShift [docs](https://docs.openshift.org/latest/ins

[2016-11-22 16:47] bparees commented on #8680
nope, thanks @jupierce

[2016-11-22 16:47] #8680 closed

[2016-11-22 17:30] stobias123 commented on #3415
Are there any docs available on how to use this functionality? I can't seem to find them

[2016-11-22 18:24] rootfs opened #11998 "oc cluster up should accept cloud provider and cloud config environmental variables"
[provide a description of the issue]

Based on the description [this AWS config](https://docs.openshift.com/container-platform/3.3/install_config/configuring_aws.html)
there is no document on how to provide cloud provider and config during oc cluster up. Even after modifying master and node configs and restart the cluster, there are still other config mismatched to resolve.

##### Version
[provide

[2016-11-22 18:33] liggitt commented on #11998
expanding `oc cluster up` to include cloud provider configuration is a big step... not sure that's in scope for that command

[2016-11-22 18:42] juanvallejo commented on #11985
Upstream PR: https://github.com/kubernetes/kubernetes/pull/37288

[2016-11-22 18:59] rootfs commented on #11998
If we cannot get there easily, we'd better have a doc helping how to do it manually.

[2016-11-22 19:00] fabianofranz commented on #11967
Docker PR in https://github.com/docker/go-units/pull/22

[2016-11-22 19:17] smarterclayton commented on #10920
Sounds wrong.

On Nov 22, 2016, at 11:37 AM, Justin Pierce <notifications@github.com>
wrote:

I can only speak to the code path I was tracing. It uses reflection to walk
a real instance of the v1.BuildConfig structure (not a
map[string]interface{}). It ultimately calls evalToText to serialize the
results into a string (
https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/u

[2016-11-22 19:27] cgwalters commented on #10860
See also https://bugzilla.redhat.com/show_bug.cgi?id=1318547#c9 for Atomic Host.

[2016-11-22 20:45] #6486 closed

[2016-11-22 21:17] jupierce commented on #10920
@smarterclayton The implementation or my interpretation? I can at least lend credence to the interpretation.

With a change to origin/vendor/k8s.io/kubernetes/pkg/api/v1/generated.pb.go

[code]

(i.e. return a stack trace instead of "nil")

Running the use case results in:
[code]

[2016-11-23 03:38] JaysonQY opened #12002 "Cannot get skydns record in etcd"
[Cannot get skydns record when i query etcd]

##### Version
[v1.3]

##### Steps To Reproduce
1. [`etcdctl --endpoints=https://10.10.10.10:4001 --cert-file=/etc/origin/master/master.etcd-client.crt --key-file=/etc/origin/master/master.etcd-client.key --ca-file=/etc/origin/master/ca.crt ls /skydns` . The above command get nothing.]

##### Current Result
No skydns record in etcd ,where are they
#####

[2016-11-23 03:40] liggitt commented on #12002
openshift doesn't persist skydns records in etcd, it builds them dynamically from services/endpoints

[2016-11-23 03:40] #12002 closed

[2016-11-23 03:41] liggitt commented on #12002
see implementation in https://github.com/openshift/origin/blob/master/pkg/dns/

[2016-11-23 09:42] harobed commented on #11836
:+1:

[2016-11-23 13:04] pweil- commented on #11998
oc cluster up is meant to run a local cluster.  For other installation methods I would refer to the existing documentation.

[2016-11-23 13:04] #11998 closed

[2016-11-23 13:08] pweil- commented on #11995
@legionus @miminar @mfojtik  this looks like a rebase regression - the driver package is not in our current distribution branch but exists in the upstream branches.  Please take a look

[2016-11-23 13:24] MarkRx commented on #11954
Having less moving parts does make sense.

In that canary approach the pods that get deployed to active are never validated as they are new. The pods from next are not reused. While I am of the opinion that it doesn't matter (it's the pod template that should be validated and not the actual pods themselves), some colleagues of mine insist that the pods that are validated be the same ones that are

[2016-11-23 13:42] siamaksade opened #12006 "New app from template shows images multiple times"
When creating a new app from a template through the web ui the list of images used in the template shows the same images multiple times if the same image is used in multiple build configs. For example using this template:
https://github.com/jbossdemocentral/coolstore-microservice/blob/demo-1/openshift-templates/coolstore-template.yaml

<img width="702" alt="template" src="https://cloud.githubuserc

[2016-11-23 13:42] legionus commented on #11995
@pweil- Yep. It's because of https://github.com/docker/distribution/commit/0058b08eeb8c603c8c416588427553bcdef2d915. Upstream added tag, and oss stopped to build.

[2016-11-23 13:49] pweil- commented on #11995
is there some reason we can support the build tag?  We should definitely be looking for a solution and I would say that this is a candidate for back porting.

[2016-11-23 13:56] mfojtik commented on #11995
@legionus @pweil- we discussed this with @legionus, we should add that tag into the common.sh so we build with OSS support.

[2016-11-23 14:05] stevekuznetsov opened #12007 "docker build using a pull secret Building from a template should create a docker build that pulls using a secret run it"
### Extended.[builds][pullsecret][Conformance] docker build using a pull secret Building from a template should create a docker build that pulls using a secret run it

Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8838/testReport/junit/(root)/Extended/_builds__pullsecret__Conformance__docker_build_using_a_pull_secret_Building_from_a_template_should_c

[2016-11-23 14:26] bparees commented on #12007
looks like a registry issue:
[code]

note that we dump some registry pod info here and the filesystem looks pretty full, but i don't see that causing a 404:

[code]

[2016-11-23 14:40] stefwalter commented on #5831
For reference, in Cockpit we're using angular-gettext now for translating angular-code. We've found it easy to transform PO files to the angular-gettext require format, as well as share extraction tooling.

[2016-11-23 15:01] alikhajeh1 commented on #11995
Thanks guys! This is our first time hacking on Origin and we're not sure how the dependencies are meant to work. Looks like the godeps file has `docker/distribution@12acdf0a6c1e56d965ac6eb395d2bce687bf22fc`, but that doesn't seem to be what's in the vendor folder. We updated the vendor dependencies to add denverdino/aliyungo. then edited `pkg/cmd/dockerregistry/dockerregistry.go` to add
[code]

We

[2016-11-23 15:41] bparees opened #12010 "oc start-build race condition"
It looks like we have a race condition in which the buildconfig gets modified by something(?) between when we grab it and when we attempt to update it(probably to set the sequence id?) as part of a start-build execution.  I didn't look at @oatmealraisin's recent changes for handling build sequence collisions, any chance those changes introduced this failure mode?  /cc @csrwng

from https://ci.open

[2016-11-23 15:42] bparees commented on #12010
(note that i thought maybe this was a race between a configchange triggered build, and the start-build triggered one, but the buildconfig in question has no triggers associated.  so i'm not even sure what else is updated the buildconfig.  perhaps the sync plugin updating it for some other reason?)

[2016-11-23 15:50] marun commented on #3415
@stobias123 https://docs.openshift.com/container-platform/3.3/admin_guide/tcp_ingress_external_ports.html

[2016-11-23 15:54] jwforres commented on #12006
@siamaksade please open web console issues in the origin-web-console repo in the future https://github.com/openshift/origin-web-console/issues

[2016-11-23 16:22] #12006 closed

[2016-11-23 16:53] jwforres commented on #5845
discussed with @spadgett and this actually doesn't make sense because the warning only appears if its stuck in the Pending state.  By the time the readiness probe delay would be taken into account the pod is already in the Running but Not Ready state, so the warning will no longer appear.

[2016-11-23 16:53] #5845 closed

[2016-11-23 17:13] gabemontero opened #12012 "deployments.go extended test appears to have marked failure prematurely?"
See https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8841/console

The deployments.go test at this point (line 241 from this run):

[code]

fails too quickly.  The error reported was:

[code]

Later on, when the after test debug diagnostics are being run, the deployment does in fact appear to have occurred per the dump of the deployment config:

[code]

[2016-11-23 17:24] ajanoni commented on #11601
Same problem here.

[2016-11-23 17:45] #5414 closed

[2016-11-23 19:30] smarterclayton commented on #11954
Because we don't provide atomicity across RC and Pods it's likely to remain
fairly fragile to change labels while the controller is actively managing
them.  Pods are *mostly* immutable today, will likely stay that way for a
while, and there's lots of good reasons to think about them that way.  I
don't think it's wrong to look at patterns that take advantage of the
limited mutability we allow, but

[2016-11-23 21:20] #8577 closed

[2016-11-23 21:31] stevekuznetsov opened #12017 "TestBuildRunningPodDeleteController flake"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8752/consoleFull#138599232556bf4006e4b05b79524e5923) in [this job](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8752/):
[code]

<details>
<summary> Full output under the fold: </summary>

[code]

</details>

[2016-11-23 21:51] mwringe opened #12018 "OpenShift fails to bind skydns to port 8053 if master is set"
If I create the configuration files for OpenShift using 'openshift start --write-config=openshift.local.config --hostname=corbeau' then OpenShift will start up properly even if port 53 is in use on my machine.

If I create the configuration file with a master or public-master specified (eg 'openshift start --write-config=openshift.local.config --hostname=corbeau --public-master=$IP_ADDRESS --maste

[2016-11-24 03:35] bparees commented on #11775
@knobunc just hit it again here https://ci.openshift.redhat.com/jenkins/job/test_pr_origin/11666/

[2016-11-24 03:36] bparees commented on #11775
or more specifically, here https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8858/

[2016-11-24 04:29] #10739 closed

[2016-11-24 10:49] #9904 closed

[2016-11-24 14:37] PI-Victor opened #12020 "errors should be sent to k8s util/HandleError"
errors with glog.V(0) in the build controller and build pods should be sent to k8s' HandleError.
see this comment https://github.com/openshift/origin/pull/10817#discussion_r88695841

a few examples:
https://github.com/openshift/origin/blob/master/pkg/build/builder/sti.go#L271
https://github.com/openshift/origin/blob/master/pkg/build/builder/docker.go#L138
https://github.com/openshift/origin/blob/m

[2016-11-24 16:34] alenavorozhbieva opened #12022 "Сhanging router's timeout does not work"
##### Version
OpenShift Master: v1.2.1
Kubernetes Master: v1.2.0-36-g4a3f9c5

##### Steps To Reproduce
1. Change env in router deploymentconfig
ROUTER_DEFAULT_CLIENT_TIMEOUT 10s
ROUTER_DEFAULT_CONNECT_TIMEOUT 10s
ROUTER_DEFAULT_SERVER_TIMEOUT 10s
2. Execute any http request to any route which lasts more than 10 seconds

##### Current Result
The request is successeful
##### Expected Result
Response

[2016-11-24 18:11] rajc commented on #11185
i have ran this docker command and use the DNS. i am able to access the console via browser.
however, when i try to deploy an example ruby app. i get a build failure due to OC unable to push the image.
`ruby-ex-1   Source    Git       Failed (ExceededRetryTimeout)`
'WARNING: No Docker registry has been configured with the server. Automatic builds and deployments may not function.'

i did add `INSE

[2016-11-24 20:35] stevekuznetsov commented on #11775
@knobunc this has continued to occur, don't feel like the priority drop should stay

[2016-11-24 22:07] hferentschik opened #12025 "Incorrect CHECKSUM content on releases"
The CHECKSUM files hosted as part of the release don't contain the right filenames. For example [v.1.3.1](https://github.com/openshift/origin/releases/tag/v1.3.1):

The CHECKSUM file contains this line for OS X oc:

    3c941f0634566142784503e0b06c9c733bc1fda75b7b8cffb71f688b4f400d03  openshift-origin-client-tools-v1.3.1-dad658de7465ba8a234a4fb40b5b446a45a4cee1-mac.zip

The actual file name of the

[2016-11-24 22:08] luebken opened #12026 "Jenkins pipeline example uses deprecated syntax"
The https://github.com/openshift/origin/blob/master/examples/jenkins/pipeline/samplepipeline.json uses a deprecated syntax to describe the pipeline-stage-step. See https://jenkins.io/doc/pipeline/steps/pipeline-stage-step/#pipeline-stage-step

##### Version
[code]
##### Steps To Reproduce
1. Create a new jenkins-pipeline-example
2. Start a Jenkins build
3. Read the logs from Jenkins

##### Current

[2016-11-24 23:32] Evgeniy-Bondarenko commented on #11933
Problem resolved after:

1. add label on nodes
[code]

2. run with label
[code]

3. and add sections deployment config(edit deployment config in webui) after run pod
[code]

Thank you for support!
Please take into account the need have the opportunity to manually select a node in the following versions openshift interface(not edit yaml).

[2016-11-24 23:32] #11933 closed

[2016-11-25 09:30] praveenkumar opened #12029 "oc cluster up fails when /var/lib/origin is symlink to other directory"
If we have /var/lib/origin symlink to some other directory then oc cluster up fails.
[code]

##### Version
[code]

##### Steps To Reproduce
1. On your host create `/var/lib/origin` as symlink to other directory before `oc cluster up`

[code]

2. After that run `oc cluster up`

##### Current Result

[code]

##### Expected Result

It should detect symlink and create required file to symlinked direct

[2016-11-25 09:54] mfojtik commented on #10663
@kargakis seems like the 1 minute is not enough... or we might need to take a different approach here.

[2016-11-25 10:19] soltysh commented on #8502
Hit it in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8777/consoleFull:
[code]
Reopening.

[2016-11-25 10:20] soltysh commented on #8502
But I'm lowering the prio to p2, since it's not permanent or anything.

[2016-11-25 13:09] danielmenezesbr commented on #11601
Me too. I have same problem.

[2016-11-25 13:14] miminar commented on #12007
Running the extended test alone in a loop, I cannot reproduce it locally. Trying whole conformance suite now.

[2016-11-25 15:06] stevekuznetsov commented on #12025
@smarterclayton can update the releases (?) to be correct. I'll take a look at automating this step better.

[2016-11-25 15:16] luigizuccarelli commented on #10403
@thesteve0 Any update on this - still getting the 1.3.0-alpha.3 error - using fedora

[2016-11-25 15:40] kargakis commented on #10663
We need to identify if this is due to the istag client (most likely) or something else.

[2016-11-25 16:42] miminar commented on #12007
The conformance suite takes like forever on my end. I didn't manage to reproduce in a first run taking 1 and half hour. The second is running twice that time without hitting the test in question.

I'll rather focus on collecting more info in jenkins.

[2016-11-25 20:17] hferentschik commented on #12025
Thanks. It would be great if the releases could be updated.

[2016-11-26 00:57] yanghaichao12 opened #12033 "ipfailover fails and vip"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oadm diagnostics` command if possible]
[if you are reporting issue related to builds, provide build logs with `BUILD_LOGLEVEL=5`]
[consider

[2016-11-26 01:00] #12033 closed

[2016-11-26 01:28] yanghaichao12 opened #12034 "ipfailover fails and vip can't work"
when run "oadm ipfailover...",the vip can not be added on NIC
node1：10.47.171.45
node2：10.47.171.49
VIP：10.47.171.59
pod:  10.1.1.2(hostport:32768,containerport:22）
vrrp_script:
![image](https://cloud.githubusercontent.com/assets/20693362/20637158/9a4b580e-b3b8-11e6-8195-19022069e8cf.png)
iptables nat:
![image](https://cloud.githubusercontent.com/assets/20693362/20637165/d0239018-b3b8-11e6-997c-52

[2016-11-28 02:36] louyihua opened #12036 "Proposal of removing unnessacary reloads in HAProxy router"
Currently, the openshift HAProxy router deals with changes through a commit&reload way, which means everytime when a route or endpoint changes, the router is reloaded for the new configuration to take effect. This implementation is simple, but inefficient, as a pod's health state change will affect all the other inrelevant services by causing them unavailable for user during the reload period.

My

[2016-11-28 08:24] miminar commented on #12007
Since I failed to reproduce locally, I fixed an extended cleanup to let us collect openshift and registry log in the jenkins. Please review #12037

The referenced job terminated with:

[code]

[2016-11-28 10:13] Alok123456 commented on #10934
Hey, i am getting issues with the firefox version 50.0 as i am unable to establish a connection with the websocket when i try to run my Graphene-ui app in firefox. It gives me these errors:
![screenshot from 2016-11-28 15-29-08](https://cloud.githubusercontent.com/assets/20416373/20664469/5ef164fe-b581-11e6-9d93-53b5fbe9f99e.png)
as mentioned in this screen-shot.

[2016-11-28 11:27] miminar commented on #12007
Is this really a P1? So far no luck hitting this in my previous 2 attempts in jenkins.

[2016-11-28 12:09] aliscott opened #12038 "Multiple EgressNetworkPolicies in same net namespace with ovs-multitenant SDN"
Using the ovs-multitenant SDN plugin, when I add any EgressNetworkPolicy to a project I get the following error:
[code]

But the network namespaces for these projects are different:
[code]

Any ideas what could be causing this issue?

##### Version
[code]

##### Additional Information

[code]

[2016-11-28 12:09] ingvagabund opened #12039 "Pods stucked in Terminating state indefinitely"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
https://github.com/openshift/ose/releases/tag/v3.4.0.28

##### Steps To Reproduce
Create 100s of projects ( with 100 pods per project ) and delete delete them ( oc delete project $project ). See https://bugzilla.redhat.com/show_bug.cgi?id=1397356

##### Current Result
Some pods a

[2016-11-28 12:54] ingvagabund commented on #12039
When reproducing use log level 6. It will provide logs about pod storage registry updates.

[2016-11-28 13:28] MariasStory commented on #10934
I have the answer:
Decrease MTU to 1200 and all will work.

The long answer is:
IPv6 can use a bigger package size then IPv4. Somewhere on the way to the server there is an appliance that does the translation of the IPv6 packages to IPv4. During this translation, bigger packages are split. Normally it could work, but in reality, some/older appliances drop connection.

This problem is not limited t

[2016-11-28 13:56] knobunc commented on #10934
Thanks for the update.

You can track IPv6 features in OpenShift with https://trello.com/c/eFarF7cq/85-ipv6-is-the-future,  but it's going to be a while before we get it fully supported.  There is work going on in Kubernetes too that is not tracked on that board unless we are involved with it directly.

[2016-11-28 14:04] Alok123456 commented on #10934
Hey, thanks for the solution @MariasStory  but i don't have IPv6 supported in my network. So, just decreasing the MTU to 1200 will work ?

[2016-11-28 14:21] stevekuznetsov commented on #12007
@bparees @danmcp do we have some tangible guidelines for prioritizing this?

[2016-11-28 14:23] #10934 closed

[2016-11-28 14:32] danmcp commented on #12007
@stevekuznetsov If it's not happening frequently (> 2%) then it can move to a P2.

[2016-11-28 14:45] knobunc commented on #12034
What does the 'oc logs' show for the ipfailover pod?  Is your service reachable on 10.47.171.45 port 32768?  Can you get me the service definition please?  The flows don't matter since it is on the node address.

[2016-11-28 14:46] knobunc commented on #12034
@pecameron including you since you have more operational expertise with ipfailover.

[2016-11-28 14:50] knobunc commented on #12036
Thank you for the suggestion.  We saw that feature in 1.6, but unfortunately we are stuck with 1.5 for the moment.  We are working to get 1.6 or 1.7 packaged so that we can use the improved features.

[2016-11-28 14:56] mwringe commented on #12018
Closing this issue. It looks like we still always need to have port 53 available and my issue here was the the local interface I was connecting to had port 53 being used, while the interface selected by default in OpenShift does not.

[2016-11-28 14:56] #12018 closed

[2016-11-28 14:56] bparees commented on #12017
the BuildStore appears to be lying to us:

[code]

[code]

[2016-11-28 14:57] danwinship commented on #12038
have you merged netnamespaces (`oadm pod-networks join-networks ...`) in the past?

can you attach the output of `oc get netnamespaces -o json`?

[2016-11-28 14:58] bparees commented on #12017
[code]

[2016-11-28 15:02] aliscott commented on #12038
No

[code]

[2016-11-28 15:17] bparees commented on #10920
@smarterclayton at this point it sounds like an upstream issue, assuming anything is to be done, should we close this and open an issue there?

[2016-11-28 15:30] joekohut commented on #11782
Thanks for looking into this. I pulled a new version of the installer and it still left the token file empty. I went back to the workaround - I stuffed the token into the token file, and that made progress in that I was able to install and authen/authorize to the registry - this resolved the system:anonymous error 500. Yet, I now receive a different error 500 regarding "invalid reference format".

[2016-11-28 15:30] mfojtik commented on #12012
it seems like the deployment succeeded but the container was stuck in creation for some reason. @kargakis should we increase the timeout here or switch to rollout latest?

[2016-11-28 15:32] ncdc commented on #11782
This is because /etc/sysconfig/atomic-registry is missing a value for `DOCKER_REGISTRY_SERVICE_HOST`.

[2016-11-28 15:42] knobunc commented on #12022
@JacobTanenbaum PTAL

[2016-11-28 15:42] joekohut commented on #11782
Thanks. Sure is - that did the trick. Everything is working, albeit with two manual config tweaks. Are these two config issues something that you can **resolve in the installer**? fyi - I also happened to notice that atomic-registry services do not start under docker 1.12. I reverted to docker 1.10.

[2016-11-28 15:47] csrwng commented on #12029
A workaround would be to specify alternate directories with `--host-data-dir`, `--host-config-dir`, and `--host-volumes-dir`

[2016-11-28 16:00] smarterclayton commented on #10920
Yes I think so.

On Mon, Nov 28, 2016 at 10:17 AM, Ben Parees <notifications@github.com>
wrote:

[2016-11-28 16:01] smarterclayton commented on #10920
I don't know that the change is wrong, but I don't think the change was
intentional and needs to be decided.  And it probably shouldn't even be
nil, it should be "null" (which is more consistent with JSONPath).

On Mon, Nov 28, 2016 at 11:00 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-11-28 16:51] pecameron commented on #12034
@yanghaichao12 For </dev/tcp/10.47.171.59/32768 to work the port must be open on the node. The watchport is a port that ipfailover/keepalived tracks to verify that the desired application is running. For keepalived to (possibly) service a VIP on the node the watch port, in this case 32768, must be open on the node. If it is not keepalived will report the node in  the FAULT state. Check "oc logs <i

[2016-11-28 16:53] kargakis commented on #12012
We should stop using --follow whenever we want to track the deployment status.

[2016-11-28 17:54] bparees opened #12043 "hot deploy for openshift python image test failure"
The hot deploy test for python/django is failing as seen here:
https://ci.openshift.redhat.com/jenkins/job/origin_extended_image_tests/769/consoleFull#-169259343956c60d7be4b02b88ae8c268b

it looks like the change to "count: 1337" is being picked up immediately, even when APP_CONFIG=conf/reload.py is not set.

[2016-11-28 17:56] bparees commented on #12043
(test is test/extended/image_ecosystem/s2i_python.go)

[2016-11-28 18:14] rhamilto opened #12044 "oAuth redirect then doesn't allow multiple query string parameters"
https://github.com/openshift/origin-web-console/pull/884 adds functionality that utilizes multiple query string parameters.  Unfortunately, more than one query string parameter get culled by oAuth redirection, breaking the functionality added in https://github.com/openshift/origin-web-console/pull/884 if a user is not already logged in.

[2016-11-28 18:15] liggitt commented on #12044
bug in OAuth redirect library encoding of the URL fragment during the redirect
fixed upstream in https://github.com/RangelReale/osin/pull/136

[2016-11-28 19:19] #12026 closed

[2016-11-28 20:25] adbaldi opened #12046 "image tags not being imported from custom image"
Image tags set in a custom Dockerfile (e.g. LABEL io.openshift.tags="builder,php,php56,rh-php56") do not appear to be getting imported with the image when pushing a custom image to the integrated repository.

##### Version
# oc version
oc v1.3.1
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://xxx.xxx.xxx:8443
openshift v1.3.1
kubernetes v1.3.0+52492b4

##### S

[2016-11-28 21:12] jimmidyson commented on #8622
While I understand & agree with the reasons for not making TPRs a default enabled, supported resource, it would be great to be able to enable it if a user decides they want to accept the potential drawbacks & risks. Is it just auth that prevents TPRs being used with OpenShift right now? `cluster-admins` can manage TPRs & their data right now I think?

[2016-11-28 21:41] ibotty commented on #8622
At least on Origin 1.3, third party resources definitions can be added, but no third party resource can be added.

[2016-11-29 00:50] yanghaichao12 commented on #12034
@knobunc i diden't use node address
![image](https://cloud.githubusercontent.com/assets/20693362/20691984/f13dd71e-b60f-11e6-9410-276971e0dc7f.png)
and i believe port 32768 is reachable but pod ip not.
![image](https://cloud.githubusercontent.com/assets/20693362/20692026/3e2a35fe-b610-11e6-8ddc-0de8a961fcf2.png)
below are the results of 'oc logs':

![image](https://cloud.githubusercontent.com/asse

[2016-11-29 01:16] yanghaichao12 commented on #12034
@pecameron ，the port is open
![image](https://cloud.githubusercontent.com/assets/20693362/20692233/878b1fe6-b611-11e6-9260-5ad3c60ced36.png)
i access the pod according to VIP+nodeport '32768' and i think the Service doesn't take part in the proccessing .
when i
1.delete the chain below and
2.ping PodIP and
3.add the chain deleted just now.
then all is ok.
![image](https://cloud.githubusercontent.c

[2016-11-29 10:25] jimmidyson commented on #8622
@ibotty Not sure - was trying to with 1.41.5 & seems to work OK (albeit as cluster-admin) though.

[2016-11-29 11:52] mfojtik commented on #12046
@adbaldi when you `oc describe image sha256:...` that you imported, do you see the Docker Labels set?

[2016-11-29 11:58] mfojtik commented on #12046
@adbaldi additionally, can you check the tags are set in image stream tag annotations for that image? `oc get ist image:latest -o yaml`

[2016-11-29 12:13] miminar commented on #12046
@adbaldi As of now, OpenShift doesn't process these labels. You can set the labels or annotations post push. E.g.:

[code]

Note that I've used dots to separate individual tags because label values must match `(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?` regexp.

You could use `oc annotate` instead (to make an annotation) which isn't so strict about the values.

[2016-11-29 12:17] miminar commented on #12046
Nevertheless, I see the processing of manifest labels and their assignment into image objects as a desirable behavior. Especially since we plan to remove the manifests from image objects completely.

I'll propose a change to image metadata filling.

@adbaldi would it satisfy your needs if we store the image labels as annotations in image objects?

[2016-11-29 12:47] mfojtik opened #12051 "ImageStreamImage creationTimestamp is null"
[code]

It seems like this image was last updated by the spanish inquisition :-)

[2016-11-29 13:42] jim-minter opened #12053 "API server responses may be incorrect for a time if API server is queried during bootstrap"
If while starting openshift, I repeatedly run 'oc get projects' every second, I get a succession of errors on the client, but then the system gets stuck in a position where the API server doesn't respond well to queries even after it looks like boot has finished.  The error sequence reported by oc is:

- The connection to the server 192.168.121.65:8443 was refused - did you specify the right host

[2016-11-29 15:39] adbaldi commented on #12046
@mfojtik I do see the Docker labels set when I describe the image and also in the image stream tag.  Also, I have tried adding the tags to the image stream as you pointed out but they did not change anything. I was able to apply a name to the image by modifying the image stream, but not labels.

@miminar I labeled the image as you suggested and I do see it applied to the image when i describe it.

[2016-11-29 15:55] VeerMuchandi commented on #9487
I am trying with docker for mac Version 1.12.3-beta30.1 (13946). oc cluster up works up to the point of setting up the cluster but is unable to login.

$ oc cluster up --image=registry.access.redhat.com/openshift3/ose --version=v3.3.1.5
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing OpenShift container ... OK
-- Check

[2016-11-29 16:09] liggitt commented on #8622
They are not intended to be enabled in OpenShift yet. The upstream issues are severe enough that we can't support using them. Resolving those issues is likely to require storage and API server changes that will prevent migration of existing data.

[2016-11-29 17:39] juanvallejo opened #12059 "oc login does not honor `--request-timeout` option"
When using the global `--request-timeout` option with `oc login`, the command does not timeout requests after the specified duration.

##### Version
oc v1.3.0-rc1+5250b95-1621-dirty
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://10.13.137.149:8443
openshift v1.3.0-rc1
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
[code]

##### Current Result
Command succeeds

##### Expected R

[2016-11-29 17:49] kargakis opened #12060 "deploymentconfigs when run iteratively [Conformance] [It] should only deploy the last deployment"
Finally a new one:
[code]
Third deployment thinks its deployer pod is gone, 4th deployer gets created.
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8960/consoleFull#-169259343956c60d7be4b02b88ae8c268b

[2016-11-29 18:22] knobunc commented on #11775
Based on the information in @bparees' log, we are not starting the router-override pod within the 2 minute budget.  I think this is a dupe of https://github.com/openshift/origin/issues/11016

[2016-11-29 18:22] #11775 closed

[2016-11-29 18:35] eni23 opened #12063 "Not possible to run PetSets whitout "add-scc-to-user anyuid...""
Openshift makes the PetSet feature from Kubernetes nearly unusable, since it's not possible to run them out-of-the-box.

##### Version
openshift v1.3.0
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
- Create a PetSet with an NFS Volume
- Try to access this volume

##### Current Result
- Permission denied on all Pet Volumes when trying to access them inside the pod.

##### Expected Result
- I

[2016-11-29 19:25] smarterclayton commented on #12025
Updated, I think I got them.

[2016-11-29 19:25] smarterclayton commented on #12025
Reopen if not.

[2016-11-29 20:26] liggitt commented on #12044
fixed by https://github.com/openshift/origin-web-console/issues/943

[2016-11-29 20:26] #12044 closed

[2016-11-29 21:22] adbaldi commented on #12046
I just managed to get this to work.  The docker label for io.openshift.tags still does not label the image stream as suggested in the documentation but I was finally able to manually label the builder image.

I believe the problem was caused by a manifest schema mismatch.  The integrated repository only stores manifest schema v1 by default.  However, the version of docker (or possible go) that I w

[2016-11-29 21:38] ncdc commented on #12063
@smarterclayton @ingvagabund

[2016-11-29 21:42] ncdc commented on #12051
Is this a dupe of #11914 ?

[2016-11-29 22:33] #12038 closed

[2016-11-29 23:25] smarterclayton commented on #12063
What kind of NFS volume?  @pmorie

[2016-11-30 03:51] VeerMuchandi commented on #9487
I had a bad kube config I guess. All I had to do was
mv ~/.kube/config ~/.kube/config.backup

Thanks to @csrwng

[2016-11-30 05:04] bparees opened #12072 "Extended.[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance]"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8991/

[2016-11-30 05:29] Coyote5 opened #12073 "iscsi permanent storage fail"
I had a MYSQL database on the openshift, using a permanent storage. Storage type is ISCSI interface. In use, the POD MYSQL is running, but the storage is not available.So,the database can not read/write. I found in the system log, openshift call the logout iSCSI instructions .So, the storage is not available.

##### Version
[oc v1.2.1 kubernetes v1.2.0-36-g4a3f9c5]

[2016-11-30 10:22] mfojtik commented on #12073
@jsafrane feel free to lower the priority after a triage.

[2016-11-30 10:25] mfojtik commented on #12053
@deads2k @liggitt the errors seems reasonable to me but what does not sound reasonable is the fact that it takes minutes for this error to go away. any clues on to where to start looking?

[2016-11-30 10:27] mfojtik commented on #12053
also I cannot reproduce this locally:

[code]

[2016-11-30 10:59] jsafrane commented on #12073
cc @rootfs

[2016-11-30 11:04] jsafrane commented on #12073
@Coyote5, can you please share your logs from openshift-node, preferably with `--loglevel=5`? I need also some more details about the bug. Was openshift + iscsi ever working in your environment? Is your LUN ever attached? How long does it stay attached until openshift logs out?

[2016-11-30 11:36] praveenkumar commented on #12029
@csrwng agree on workaround but I think we should honor symlinks also because most of time folks use it.

[2016-11-30 11:45] #12051 closed

[2016-11-30 13:36] mfojtik commented on #12051
@ncdc yep, I will close that one as well.

[2016-11-30 13:36] mfojtik commented on #11914
Fixed here: https://github.com/openshift/origin/pull/12052

[2016-11-30 13:36] #11914 closed

[2016-11-30 13:53] deads2k commented on #12053
Definitely weird. Reproduction would be great.  This was suspected in the networking tests, but it was inconsistent.

[2016-11-30 13:55] deads2k commented on #12053
Oh, and its not minutes.  It's likely a stale cache.  The caching code was fixed up by @sttts in 1.5.

[2016-11-30 13:59] tmds opened #12074 "dotnet language detection"
The new app guide describes automatic language detection: https://docs.openshift.com/online/dev_guide/new_app.html. For .NET Core this is currently done based on the existence of a project.json file.

A .NET Core application targeting version 1.0 does not run 1.1 and vice versa. So if OpenShift picks an image that doesn't match the version used by the application, the app won't build and run.

The

[2016-11-30 14:12] bparees commented on #12074
This isn't really a unique problem to .NET, there are many images for which we support multiple language versions and they may not all be forward/backward compatible.

New-app's logic is going to pick the "latest" imagestreamtag for a given language match, barring any other information from the user.  If that match isn't appropriate, the user will have to explicitly indicate the image they want to

[2016-11-30 14:12] #12074 closed

[2016-11-30 14:27] jim-minter commented on #12053
@mfojtik I can recreate it reliably here on the latest fedora libvirt inst vagrant image, and latest master, with `openshift start & while true; do oc get projects; sleep 1; done`

[2016-11-30 14:30] tmds commented on #12074
For .NET Core, x.y releases are nor forward, nor backward compatible. The latest release has a higher chance of being a 'Current' (i.e. short term support) than an LTS release. So chances of the language detection working are less than 1/N (N = number of supported .NET Core x.y releases).
If the second option seems to difficult to maintain, consider the first option.

[2016-11-30 14:36] jim-minter commented on #12053
@deads2k I've just continued to run oc get projects every second and it took 4 minutes to clear. (Wed 30 Nov 14:27:54 UTC 2016 -> Wed 30 Nov 14:31:54 UTC 2016).  Trying again now.

[2016-11-30 14:37] sttts commented on #12053
To rule out caching: `openshift start & while true; do rm -rf ~/.kube/<host-name>; oc get projects; sleep 1; done`

[2016-11-30 14:41] jim-minter commented on #12053
this time it's already taken over 5 minutes, so if 4 is a magic number, it's not that magic!

[2016-11-30 14:42] deads2k commented on #12053
I suspect that @mfojtik would like to see `oc get projects --loglevel=8` in that loop to chase the bad discovery information.

[2016-11-30 14:46] jim-minter commented on #12053
[code]

[2016-11-30 14:48] jim-minter commented on #12053
before, when things were bad, .kube/192.168.121.204_8443/ just had a servergroups.json file in it with contents
[code]

after rm -rf .kube,
[code]

[2016-11-30 15:29] jim-minter commented on #12053
@sttts when the error is `User "system:admin" cannot list all projects in the cluster`:
func (d *DiscoveryClient) ServerGroups() runs all the way through to the bottom return
func (d *CachedDiscoveryClient) ServerGroups() runs all the way through to the bottom return

After that, further calls exit func (d *CachedDiscoveryClient) ServerGroups() at "returning cached discovery info from %v" and don'

[2016-11-30 15:35] jim-minter commented on #12053
Here's the oc --loglevel=8 at the point where it gets the system:admin error and writes the servergroups.json file:

[code]

[2016-11-30 15:39] deads2k commented on #12053
Neat and concerning.  403 doesn't result in an error in the code so we cache the dead version.  I think I remember that choice for compatibility with old (not patched) 3.0 servers.  Probably time to revisit it.

I think we could update /healthz to indicate not-ok until the bootstrap roles has completed and either the authorization cache has synced once (if no resources were created) or until it ha

[2016-11-30 15:57] jcantrill commented on #10080
https://ci.openshift.redhat.com/jenkins/job/test-origin-aggregated-logging/1015/console

[2016-11-30 15:58] gabemontero commented on #11755
Is this still occurring since the changes in Java tuning for Jenkins were introduced by @jupierce ?

[2016-11-30 16:20] rhcarvalho commented on #7050
Closing due to age. Improvements can be tracked in Trello: https://trello.com/c/C1gwxci3/856-include-git-repository-during-build

[2016-11-30 16:20] #7050 closed

[2016-11-30 16:21] bparees commented on #11755
no, haven't seen it in any of the nightly runs.

[2016-11-30 16:21] #11755 closed

[2016-11-30 16:49] rhcarvalho commented on #9899
@php-coder @bparees is this still something we'd like done?

[2016-11-30 16:51] php-coder opened #12076 "docs/cli.md: drop support for passing comma-separated parameters"
https://github.com/openshift/origin/blob/master/docs/cli.md should be updated because now it says that `-e` and `-p` accepts comma-separated parameters. Probably, the same applies for `-l` option but I'm not sure.

Related to https://github.com/openshift/origin/pull/11539

CC @bparees @mmilata

[2016-11-30 17:37] stevekuznetsov opened #12077 "Windows Client Fails to Compile"
As seen in the [`devenv_ami` jobs](https://ci.openshift.redhat.com/jenkins/job/devenv_ami/5444/consoleFull)

[code]

@smarterclayton @csrwng

[2016-11-30 17:38] stevekuznetsov commented on #12077
@soltysh could your Godeps changes have touched this?

[2016-11-30 17:38] stevekuznetsov commented on #12077
/cc @ncdc re: windows terminal dependency

[2016-11-30 17:39] #10508 closed

[2016-11-30 17:54] bparees commented on #9899
@rhcarvalho yes though it's not very high priority.

[2016-11-30 18:08] pweil- commented on #12077
@jim-minter it looks like you bumped the windows dep back in November, do you have any insight on debugging this one?

[2016-11-30 18:10] jim-minter commented on #12077
@pweil- this looks highly likely to be related to my change.  Some other things needed to be bumped in conjunction.  Let me prepare a PR.

[2016-11-30 19:07] jim-minter commented on #12077
@smarterclayton @pweil- please see #12078 , once it tests please could one of you merge it?

[2016-11-30 19:09] jim-minter commented on #12077
@stevekuznetsov is it expected/intentional that this wasn't picked up by standard CI merge testing?  Might it be possible to include the cross-build there?

[2016-11-30 19:25] fabianofranz commented on #12059
Upstream PR is https://github.com/kubernetes/kubernetes/pull/37708.

[2016-11-30 19:27] VanRoy opened #12079 "Lifecycle hooks not use imagePullPolicy"
On pre / post ( RollingParams ) lifecycle, the ExecNewPod command don't use imagePullPolicy from baseContainer.

I think there are missing "ImagePullPolicy: baseContainer.ImagePullPolicy" at this line : https://github.com/openshift/origin/blob/master//pkg/deploy/strategy/support/lifecycle.go#L378

##### Version
OC 3.1

##### Steps To Reproduce

Push docker image with a tag ( not latest )
Launch de

[2016-11-30 20:11] hferentschik commented on #12025
Jupp, seems to work. Thanks.

[2016-11-30 20:22] stevekuznetsov commented on #12077
Yeah, we got rid of the full cross-compile since it was taking about ten calendar years to finish with Go 1.6. We are probably going to add such a job.

[2016-11-30 20:51] soltysh commented on #12077
I've seen Jim's PR, but since my checker wasn't in place yet it probably wasn't caught. I'll be looking into this once again tomorrow to verify the godeps are restored and working as expected.

[2016-11-30 21:38] jupierce commented on #3886
It looks like these have improved since this issue was opened. From a recent run (https://ci.openshift.redhat.com/jenkins/job/origin_coverage/307/consoleFull)
ok  	github.com/openshift/origin/pkg/build/builder	**3.991s**	coverage: 46.3% of statements
...
ok  	github.com/openshift/origin/pkg/generate/app	**1.111s**	coverage: 36.2% of statements
ok  	github.com/openshift/origin/pkg/generate/app/cmd

[2016-11-30 21:48] aweiteka commented on #11782
I have pushed a fix to image docker.io/projectatomic/atomic-registry-install

This makes me sad.

[2016-11-30 21:48] jupierce commented on #8643
@smarterclayton Anything you can point me to which you think will supersede this issue? Alternate approaches which might be considered?

[2016-11-30 21:58] bparees commented on #3886
good enough for me, thanks @jupierce

[2016-11-30 21:58] #3886 closed

[2016-11-30 21:59] jim-minter commented on #12077
Thanks @soltysh

[2016-11-30 22:14] aweiteka commented on #11542
@mythocelt I think this is the issue you were seeing, reported in IRC #atomic. Proposed workaround:

1. edit **/etc/systemd/system/atomic-registry-console.service**, add `--net=host` to docker run line
1. `systemctl daemon-reload`
1. `systemctl restart atomic-registry-console`

Root cause:
The browser redirect for auth works, but the console container can’t reach the atomic-registry-master contain

[2016-11-30 22:20] ramr commented on #11186
@mvlach sorry got lost here because of the comments. It might be better next time to open a new issue. Since this looks to be a system limit if you are hitting it at 2000 connections.

What's the current sysctl settings inside the container?

`oc rsh $router_pod_name cat /proc/1/limits`  or you can run `sysctl -A` inside the pod and check.
`router_pod_name`  is what `oc get pods` shows you.

From

[2016-11-30 22:22] mvlach commented on #11186
[code]

[2016-11-30 22:41] tdawson commented on #8451
This was done with  pull request #9864

[2016-11-30 22:41] #8451 closed

[2016-12-01 01:31] ramr commented on #11186
hmm, that looks fine actually. It could be that you are hitting the `maxconn` limits in haproxy then.
I could have sworn that was set to 4k but just noticed it was commented out - so its possible you are hitting the defaults (that's 2000). There's an example commented out in https://github.com/openshift/origin/blob/master/images/router/haproxy/conf/haproxy-config.template#L9

So you'd need a custo

[2016-12-01 01:35] ramr commented on #11186
Not to say you can't still comment here but more for book-keeping purposes, am closing this out as its not related to the issue but more of a performance tuning thing. We can still chat here but its sorta aside from the original problem, so opening a new issue if you have problems might be better. Thx

[2016-12-01 01:35] #11186 closed

[2016-12-01 04:07] bparees commented on #10663
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/9034/

[2016-12-01 07:20] J0hnson opened #12084 "failed to "StartContainer" for "init" with CrashLoopBackOff"
[root@master1 tmp]# oc version
**oc v1.3.1**
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://lb.paastest.cn:8443
openshift v1.3.1
kubernetes v1.3.0+52492b4

[root@master1 tmp]# docker version
Client:
 Version:         **1.10.3**
 API version:     1.22
 Package version: docker-common-1.10.3-46.el7.centos.14.x86_64
 Go version:      go1.6.3
 Git commit:      cb0

[2016-12-01 08:03] sttts commented on #12053
Here is the compatibility code: https://github.com/openshift/origin/blob/74552466e64a1321191ad5862485dbbee751369e/vendor/k8s.io/kubernetes/pkg/client/typed/discovery/discovery_client.go#L115-L115

If we want to keep this mysterious v1.0 server compatibility, we should return an error if both /api and /apis returned an error. Now this leads to an empty APIGroupList.

/cc @liggitt who wrote the code

[2016-12-01 08:05] sttts commented on #12053
@deads2k @liggitt why does this "Forbidden" happen during cluster startup and goes away soon after? Some bootstrapping of credentials?

[2016-12-01 08:55] bachp opened #12085 "Git clone via SSH not working if proxy is set."
Currently there is a check that actively refuses to do a git clone via SSH if a HTTP proxy is set.
This makes sense for repositories that need to be accesses via Proxy.
However for repositories that are accessible without proxy (the ones in no_proxy). This limitation should not apply.

##### Version
oc v1.4.0-rc1+b4e0954
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://openshift.myne

[2016-12-01 10:26] bachp commented on #12085
I just noticed that there is a [`gitNoProxy`](https://docs.openshift.org/latest/install_config/build_defaults_overrides.html) variable but there seems to be no way of setting this via ansible.

I will check if setting this variable sovles my issue and if yes I will come up with a PR to add this to the ansible playbook.

[2016-12-01 10:40] hferentschik commented on #12025
@smarterclayton actually, can we re-open this. It seems the checksum for the OS X oc binary is still wrong - https://github.com/openshift/origin/releases/tag/v1.3.1

The displayed CHECKSUM on the site looks ok, but if you download the file the OS X binary is listed as

    3c941f0634566142784503e0b06c9c733bc1fda75b7b8cffb71f688b4f400d03  openshift-origin-client-tools-v1.3.1-dad658de7465ba8a234a4fb

[2016-12-01 10:53] #12077 closed

[2016-12-01 12:23] deads2k commented on #12053
Yes, there's a cache.  Hence my /healthz comment.  The other possibility is a rate limited punch through, but I don't want to implement that twice.  Fixing the caching code is my first choice (I think you already did this), dropping the 403 handling seems pretty reasonable to me (let's make sure we failed badly on current 3.0 servers though), updating the /healthz check would be ok but probably no

[2016-12-01 12:45] jtslear commented on #7585
I know I'm horribly late to the game, but what if we simply improved the documentation, and relied on shell utilities to complete?
`oc new-app $(cat test.env) --docker-image=jtslear/testapp`

[2016-12-01 13:18] pweil- commented on #12084
@J0hnson please take a look at `oc get events` in the fabric8 namespace and `oc logs` for the pod in question.  They may provide you with information on why the pod is failing.

[2016-12-01 13:32] pweil- commented on #11995
@legionus @mfojtik bump

[2016-12-01 13:54] bparees commented on #12085
dupe of https://bugzilla.redhat.com/show_bug.cgi?id=1397475

[2016-12-01 13:54] #12085 closed

[2016-12-01 13:57] bparees commented on #7585
@mmilata the card you're working this sprint should resolve this.

[2016-12-01 14:22] bparees commented on #11887
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/9042/

[2016-12-01 14:40] joekohut commented on #11782
Aaron, the latest image works flawlessly and has resolved the two config issues in this request #11782.
Thanks for fixing!
Hopefully, someone can take a look at the docker 1.12 issue in a different ticket.
Closing as RESOLVED.

[2016-12-01 14:40] #11782 closed

[2016-12-01 14:47] juanvallejo opened #12091 "503 Error downloading yum packages"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_networking/1857/console

Test flake when trying to download yum packages

##### Version
oc v1.3.0-rc1+1177067-1608-dirty
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://10.13.137.149:8443
openshift v1.3.0-rc1
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
1. [test]

##### Current Result
[code]

##### Expected

[2016-12-01 15:02] dukas opened #12094 "Create from project disappears after manual upgrade from 1.3.1 to 1.4.0-alpha in openshift namespace"
After manual upgrade from 1.3.1 to 1.4.0-alpha (rpm method) all frameworks like node.js are hidden in openshift namespace in console/project/openshift/create?tab=fromCatalog
But, when creating new project, all frameforks under languages are present in newly created one.

##### Version
[code]
##### Steps To Reproduce
1. Create new cluster from openshift-ansible/playbooks/byo/config.yml
2. Download

[2016-12-01 15:20] smarterclayton commented on #12025
Maybe, will look.

On Thu, Dec 1, 2016 at 5:40 AM, Hardy Ferentschik <notifications@github.com>
wrote:

[2016-12-01 15:23] juanvallejo commented on #11242
Also related PR (adds `oc create` support for output formats other than `name`): https://github.com/openshift/origin/pull/12015

[2016-12-01 15:37] pweil- commented on #12091
dupe of https://github.com/openshift/origin/issues/11452 (fedora mirroring issues)

[2016-12-01 15:37] #12091 closed

[2016-12-01 15:45] mfojtik commented on #12012
lowering to P2 as this does not appears very often (but we still have to remove the `--follow` from the test).

[2016-12-01 15:48] bparees commented on #10879
@kargakis not clear why this was assigned to @oatmealraisin ?

but it sounds like he's got it mostly done at this point.

[2016-12-01 15:55] mfojtik commented on #10663
my guess would be we need to make sure the tag was created in deployer (and probably retry?). @kargakis lets keep this P1.

[2016-12-01 16:02] soltysh commented on #11016
This is not 1.4 blocker, because the longer times are not introduced inside origin code but rather by newer docker version. [This document](https://docs.google.com/a/redhat.com/document/d/1AaNZTggal-OUjgJah7FV4mWYNS-in5cHTBLf0BDIkh4/edit?usp=sharing) contains detailed log of the test performed with different docker versions vs origin 1.4 and 1.3 vs different storage drivers (overlayfs and devicema

[2016-12-01 16:07] ncdc commented on #11016
@jwhonce @rhvgoyal bump - please let us know if there's anything we can do to help you debug this

[2016-12-01 16:12] kargakis commented on #10663
@mfojtik how can we retry something that succeeded?
[code]
For some reason it seems that the test is retrying for 3 times and then fails?
[code]

[2016-12-01 16:13] mfojtik commented on #10663
@kargakis can we verify that the tag was actually created? or is the deployer pod lying to us?

[2016-12-01 16:15] kargakis commented on #10663
The test tries to verify that the tag was created already - that's where it fails. It seems that it is not trying to poll the tag for 1 minute though but I am not sure why.

[2016-12-01 17:27] #12094 closed

[2016-12-01 18:09] rootfs commented on #12073
@Coyote5 do you have a copy of openshift node log we can look?

[2016-12-01 19:48] derekwaynecarr commented on #12039
After further analysis, there was a bug in API server that prevented resources in this state from ever being deleted.  Bumped to p0 to reflect the priority due to no ability to purge the resource from storage.

[2016-12-01 20:18] pweil- opened #12103 "Carry over base container security context fields to lifecycle hook pod"
Follow up issue for https://github.com/openshift/origin/pull/12080/files#r90483173

When creating the lifecycle hook pod we should evaluate if the security context requests need to be carried over from the base container so that the lifecycle hook pod is running under the same context as the base container pod (or as close to it as possible).

[2016-12-01 20:23] #7733 closed

[2016-12-01 20:30] jwforres commented on #12094
To be clear this will be fixed in 1.5 of origin.  It has also been patched into OCP 3.4

[2016-12-01 21:08] derekwaynecarr commented on #12072
Same as https://github.com/kubernetes/kubernetes/issues/28084

[2016-12-01 22:52] bparees commented on #8595
closing due to lack of information about what is not working.

[2016-12-01 22:52] #8595 closed

[2016-12-01 23:20] bparees commented on #2778
@karelstriegel what you want is this card https://trello.com/c/zcRQFri0

[2016-12-02 01:14] J0hnson commented on #12084
@pweil-  Thanks for your advice.
Actually, i have done something just like you recommended. Using oc describe pod jenkins-XXX.
No matter using oc get events or oc logs,the error message is the following,nothing else.

Error syncing pod, skipping: [failed to "InitContainer" for "init" with RunInitContainerError: "init container "init" exited with 1"

[2016-12-02 08:58] Coyote5 commented on #12073
@jsafrane @rootfs

The following is the log in /var/log/message file on my openshift node.

Nov 24 21:16:04 h-p0dwmuz7 systemd: Unit iscsi.service cannot be reloaded because it is inactive.
Nov 24 21:20:05 h-p0dwmuz7 systemd: Unit iscsi.service cannot be reloaded because it is inactive.
Nov 24 21:24:38 h-p0dwmuz7 systemd: Unit iscsi.service cannot be reloaded because it is inactive.
Nov 24 21:24:3

[2016-12-02 11:04] AlbertoPeon opened #12109 "DeploymentConfig is not able to resolve all images if it has more than one container"
`DeploymentConfig` with a pod template containing more than one container fail to resolve the image from the `ImageChange` trigger. This happens only if the two containers are specified in the `containerNames` attribute of the same trigger.
This issue appeared in 1.3.1 as on 1.2.1 worked as expected

##### Version
[code]
Server is also running 1.3.1.

##### Steps To Reproduce
1. Creating a `Deploy

[2016-12-02 11:35] kargakis commented on #10988
The update conflict has been fixed so I updated the first post with the other flake for this test.
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/9098/consoleFull#-169259343956c60d7be4b02b88ae8c268b

[2016-12-02 11:58] nicolaferraro opened #12110 "DNS issues in created containers (oc cluster up, v1.4.0-rc1 on Fedora 24)"
The `oc cluster up` command on Fedora 24 with Openshift Client version v1.4.0-rc1 produces a wrong DNS configuration.

When starting up, I see the warning (it should be related to external resolution.. what fails is the internal one):
[code]

The `/etc/resolv.conf` file of the registry pod looks like:
[code]

With this config I'm not able to resolve any internet address.

I've not checked the buil

[2016-12-02 12:12] jim-minter opened #12111 "After running oc cluster up and creating a pod/service, the newly created pod can't connect outbound to its own service IP:port"
Running on the latest origin vagrant VM + dnf -y update, with latest origin master, after running oc cluster up and creating a pod/service, the newly created pod can't connect outbound to its own service IP:port.

##### Version
[code]

##### Steps To Reproduce
1. oc cluster up
2. oc create -f examples/gitserver/gitserver-ephemeral.yaml
3. oc rsh git-1-XXXXX
4. sh-4.2$ curl git:8080/_/healthz

####

[2016-12-02 12:13] jim-minter commented on #12111
@knobunc do you have any advice on who could help with this?

[2016-12-02 13:25] knobunc commented on #12111
@jim-minter can you please grab a debug tar using the script referenced at https://docs.openshift.com/enterprise/3.2/admin_guide/sdn_troubleshooting.html#further-help

@danwinship can you think of anything funny that would happen in this case?

[2016-12-02 13:30] kargakis opened #12112 "Extended.idling and unidling idling with a single service and DeploymentConfig [Conformance] should idle the service and DeploymentConfig properly"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/9114/

[2016-12-02 13:59] mfojtik commented on #12109
@AlbertoPeon any reason to have 2 triggers defined for the same image? if both containers are using the same image.

[2016-12-02 14:15] tmds opened #12113 "how to figure out which ports are exposed by an image stream"
When using the `oc new-app` command I'd like to set an envvar to configure the app to match the exposed ports of the image stream.

I can't figure out what `oc` command tells me what ports are exposed by an image stream.

[2016-12-02 14:16] jim-minter commented on #12111
Please see https://dl.dropboxusercontent.com/u/13429758/openshift-sdn-debug-2016-12-02.tgz .

Hopefully it'll be useful - I don't know if openshift-sdn-debug is entirely geared up to run with oc cluster up installs.
[code]

[2016-12-02 14:24] coreydaley commented on #12043
@bparees
Looks like this commit (https://github.com/sclorg/s2i-python-container/commit/4dec209e300d45110351bd9ce7bff89259e6510a) to the s2i-python-container repo is what broke the tests.  Not sure why they changed the maxdepth to 1.   Basically it's not finding the wsgi.py file in the project directory anymore so it's starting the django server instead of the gunicorn server, and by default if you

[2016-12-02 14:28] pweil- commented on #12084
thanks @J0hnson.  What is the init container doing?  I would suggest trying to see if you have failed containers on the node it was scheduled (`docker ps -a`) and see if you can inspect the logs of the failed init container.  Based on the information above it looks like the init container is started but whatever it is running is exiting abnormally which is causing the crash loop.

@mfojtik this ma

[2016-12-02 14:30] rootfs commented on #12073
the iscsi connection was done per this message
[code]

yet mount failed per message
[code]

Path `/dev/disk/by-path/ip-10.1.123.241:3260-iscsi-iqn.2016-07-01.asiainfo:dbstore.disk1-lun-7` is expected to be created by udev,  @Coyote5 can you check if the path is created when your pod is being created?

[2016-12-02 14:34] bparees commented on #12043
@coreydaley i'd rather modify the django-ex repo, at least depending on the nature of the modifications.

[2016-12-02 14:40] kargakis commented on #12109
This is fixed in 1.4 - not sure how it broke for 1.3..

[2016-12-02 15:04] #12079 closed

[2016-12-02 15:11] csrwng commented on #12110
@nicolaferraro it's really not a DNS issue. It's an iptables issue. Workaround is to use run `iptables -F` before running `oc cluster up`. Dupe of https://github.com/openshift/origin/issues/10139

[2016-12-02 15:11] #12110 closed

[2016-12-02 15:14] AlbertoPeon commented on #12109
@mfojtik if I understand correctly, having a single one with the two containers in `containerNames`:
[code]
should be enough, but that is exactly what doesn't work.

[2016-12-02 15:37] #8315 closed

[2016-12-02 15:53] jim-minter commented on #11929
@csrwng I think #12111 is identical - maybe worth closing this in favour of the other as it has more info?

[2016-12-02 15:55] soltysh opened #12116 "Vagrant openshift plugin error"
Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8848/console:

[code]

[2016-12-02 15:55] jim-minter commented on #12111
Hmm, I had thought this affected both "oc cluster up" and "openshift start" type one-box setups, but it appears to be related specifically to "oc cluster up".

[2016-12-02 15:57] csrwng commented on #11929
@jim-minter sounds good.
Dupe of #12111

[2016-12-02 15:57] #11929 closed

[2016-12-02 16:17] csrwng commented on #12111
From a networking point of view, the main difference is that one is running in a container (with --net=host and --privileged) and the other one is not.

[2016-12-02 16:17] coreydaley commented on #12043
fixed by pr https://github.com/openshift/django-ex/pull/68

[2016-12-02 16:22] danwinship commented on #12111
hm... "oc cluster up" doesn't work for me on F23. (looks like #9470).

Anyway, the issue is probably that we aren't setting --hairpin-mode to the right value, but I don't know how to override that when using "oc cluster up"...

[2016-12-02 16:23] csrwng commented on #12111
@danwinship is that a kubelet argument?

[2016-12-02 16:25] danwinship commented on #12111
yes

[2016-12-02 16:26] bparees commented on #12043
we shall see: https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/origin_extended_image_tests/774/

[2016-12-02 16:39] jim-minter commented on #12111
@danwinship I didn't realise how close I was with my comment about setting ifconfig docker0 promisc :-)
Are you able to say what value --hairpin-mode should be set to?  Are there any circumstances under which it should be set differently to the mode you will be recommending?

[2016-12-02 16:40] jim-minter commented on #12111
from the server logs:
[code]

[2016-12-02 17:09] stevekuznetsov commented on #12116
@soltysh can you open this against `vagrant-openshift`, please? I think this may be a symptom of the SSH override race /cc @danmcp and therefore not something we're going to spend time on fixing, as it's pretty rare.

[2016-12-02 17:26] jim-minter commented on #12111
Previous comment is a red herring, I think.

When running via oc cluster up, cat /sys/devices/virtual/net/docker0/brif/veth*/hairpin_mode shows all 0s.  When running via openshift start, all 1s.

[2016-12-02 17:40] danwinship commented on #12111
hairpin-veth sounds right... maybe dockermanager just isn't able to set it (doesn't have access to /sys/devices/virtual/net maybe?). Are there any other hairpin-related messages in the logs?

[2016-12-02 17:55] #10306 closed

[2016-12-02 18:07] jim-minter commented on #12111
Aha!

5909  openat(AT_FDCWD, "/sys/devices/virtual/net/veth59a9a17/brport/hairpin_mode", O_WRONLY|O_CREAT|O_TRUNC|O_CLOEXEC, 0644) = -1 EROFS (Read-only file system)

Will get a PR for that.

[2016-12-02 18:10] #9253 closed

[2016-12-02 18:25] jim-minter commented on #12111
@danwinship @knobunc thanks for your help with this!

[2016-12-02 18:33] #6785 closed

[2016-12-02 18:35] jim-minter commented on #12111
@csrwng can confirm a `binds = append(binds, "/sys/devices/virtual/net:/sys/devices/virtual/net:rw")` in `func (h *Helper) Start` solves this for me.  In my case here `opt.UseSharedVolume` is false; under what conditions is `opt.UseSharedVolume` true , and will they also need this bind?

Also separately, briefly, what is the rationale behind the /rootfs bind?

[2016-12-02 19:01] jim-minter commented on #12111
@danwinship please could you submit a new issue for this with versions used, --loglevel=5 and I'll take a look.  I'd rather not see this drop if possible.

[2016-12-02 19:39] #12043 closed

[2016-12-02 21:58] soltysh commented on #12116
Moved to https://github.com/openshift/vagrant-openshift/issues/523.

[2016-12-02 21:58] #12116 closed

[2016-12-03 13:09] mahyarmj2016 opened #12129 "♠️Music♠️"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oadm diagnostics` command if possible]
[if you are reporting issue related to builds, provide build logs with `BUILD_LOGLEVEL=5`]
[consider

[2016-12-03 13:13] #12129 closed

[2016-12-03 14:25] danwinship commented on #12038
So this is fixed in git now and is also on the release-1.4 branch so it should eventually end up in a patch release if you can't build from git. Unfortunately there's no way to work around the bug until then.

[2016-12-03 14:28] aliscott commented on #12038
Thanks @danwinship 😄

[2016-12-03 19:23] alikhajeh1 opened #12130 "Is it possible to scope LimitRanges?"
We're using a project template with LimitRange to bound pod cpu/memory usage. However, this is also limiting build pods so builds are pretty slow. We'd like to give users a fast build experience so is it possible to set per-pod LimitRanges that are only scoped to user pods? i.e. not builder or deployer pods. ResourceQuotas have support for NotTerminating scopes, but it doesn't seem like a similar

[2016-12-04 00:49] Titerote opened #12132 "panic on the cli when creating from a json file"
When creating a rolebinding, or any json from the oc command line I get an exception if there is an extra , at the end of the object. It does the job, and do the binding of the service account to the existing role.

##### Version
oc v1.4.0-rc1+b4e0954
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://osmaster.mgt.tite.lan:8443
openshift v1.4.0-alpha.1+f189ede
ku

[2016-12-04 20:13] jimmidyson opened #12133 "https probes fail when using auto service cert issuer"
Not sure if it's related to auto service cert issuer or not, but thought it worth mentioning.

    Readiness probe failed: Get https://172.17.0.7:8443/health: remote error: tls: handshake failure

I thought that probes disabled TLS cert validation?

This is with `oc cluster up` so I can curl the URL fine from my dev box:

[code]

Probe definition:

[code]

Similar liveness probe fails too.

#####

[2016-12-05 02:08] J0hnson commented on #12084
@pweil-  Thanks, I found an error in the host in which the jenkins pod located.
Dec  5 10:03:32 master2 origin-node: E1205 10:03:32.210381   17942 docker_manager.go:2021] Error running pod "jenkins-2-ueuef_fabric(6d9b3ac8-ba8e-11e6-be46-00248cfcb938)" init container "init", restarting: &{ID:{Type:docker ID:ed1cda9ce43e3a3cb36995b55b47c2293481e6859d0b6919320a7b337036de30} Name:init State:exited Cre

[2016-12-05 03:05] Coyote5 commented on #12073
Path /dev/disk/by-path/ip-10.1.123.241:3260-iscsi-iqn.2016-07-01.asiainfo:dbstore.disk1-lun-7 does not exist. But,when first created, my MySQL is available.
I deleted this pod, most of the time it can be recreated, and returned to available. But sometimes, the creation of pod will fail, it can not mount devices.
I manually unmount the device, and then delete the lost+found files. And then recreate

[2016-12-05 07:28] #11672 closed

[2016-12-05 08:42] soltysh commented on #8485
This was fixed in #10847.

[2016-12-05 08:42] #8485 closed

[2016-12-05 08:46] roshan-mr opened #12136 "Openshift origin upgrade failing"
[I am trying to upgrade openshift origin cluster from verson 1.2 to 1.3, but it failing due to some unexpected errors.]

##### Version after running the upgrade playbook (play failed)
[openshift v1.3.1
kubernetes v1.3.0+52492b4
etcd 2.3.0+git]

##### Steps To Reproduce
1. [cd ~/openshift-ansible]
2. [git pull https://github.com/openshift/openshift-ansible master]
3. [ansible-playbook -vvvvvvv open

[2016-12-05 08:54] vanloswang commented on #11089
@detiber @liggitt I meet a same cert error when enabling cluster metrics. I deploy it by using self signed certs and the certs is auto generated by origin. The metrics-deployer container always said following information to me:
[code]

[2016-12-05 08:59] jsafrane commented on #12112
Probably related, slightly different line numbers though: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/9185/consoleFull

[code]

[2016-12-05 09:05] jsafrane opened #12137 "flake: unable to connect to service idling-echo: getsockopt: connection refused"
https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/869/consoleFull

[code]

Could be related to https://github.com/openshift/origin/issues/12112, idling and unidling seems to be flaky these days.

[2016-12-05 10:13] FilipVozar commented on #12136
I had the exact same problem, my solution was to use branch 'release-1.3' from openshift-ansible repository, instead of using master (and use ansible 2.2)

[2016-12-05 12:44] mfojtik commented on #12132
AFAIK JSON specification does not allow trailing comma

[2016-12-05 12:49] mfojtik commented on #12113
@tmds

[code]

[2016-12-05 12:55] surajssd opened #12139 "build error: No submodule mapping found in .gitmodules"
Build pod errors out as above error while normal git clone normally done works.
The repo on which this is done is https://github.com/container-workbook/docker-workshop.git which has pyconapp folder with Dockerfile.

##### Version
[code]

##### Steps To Reproduce

Imagestream used:

[code]

buildconfig used:

[code]

creating project and deploying above artifacts:

[code]

##### Current Result

che

[2016-12-05 12:55] deads2k commented on #12133
@ncdc Shall I take a look or pass it on?

[2016-12-05 13:50] mfojtik commented on #12132
(but the panic is unfortunate, we should report this more nicely)

[2016-12-05 13:51] soltysh commented on #11016
I've updated the doc with docker 1.12 tests against origin 1.4 and 1.5 (just devicemapper). It looks like origin 1.4 with docker 1.12 is additional second slower than with 1.10 and origin 1.5 is even additional second slower (time in parents is median):

| | Origin 1.4 + Docker 1.10 | Origin 1.4 + Docker 1.12 | Origin 1.5 + Docker 1.12 |
|---|---|---|---|
| CreateContainer | 10.6s (12.9s) | 11.3s

[2016-12-05 14:11] #11995 closed

[2016-12-05 14:12] ncdc commented on #12133
@deads2k please take a quick look to see if you can at least identify the issue. If it doesn't look related to the auto cert issuer, then pass to cluster infra.

[2016-12-05 14:20] mfojtik commented on #12130
cc @deads2k

[2016-12-05 14:26] soltysh commented on #11016
The docs was updated also.

[2016-12-05 14:26] jimmidyson commented on #12133
There was no more info in the server logs btw, even when turning up the log level. Still just `tls: handshake failure`. Wondering if it's to do with supported TLS protocols perhaps?

[2016-12-05 14:32] sdodson commented on #12136
@abutcher Probably happening because it's a config that lacks `admissionConfig.pluginConfig` to begin with?

[2016-12-05 14:45] rootfs commented on #12073
I am concerned that path `/dev/disk/by-path/ip-10.1.123.241:3260-iscsi-iqn.2016-07-01.asiainfo:dbstore.disk1-lun-7` is not created,

What is your OS and how do you run openshift node (in a container or standalone)?

[2016-12-05 15:07] danwinship commented on #9470
I'm seeing exactly this bug trying to run "oc cluster up" on Fedora 23, but "iptables -F" doesn't change anything.

@jim-minter reopening this one rather than filing a new one because all symptoms/logs are exactly as in this bug (except that "iptables -F" has no effect

[2016-12-05 15:12] bparees commented on #11479
@tnozicka we discussed this card today and it seems like you can work around this by using oc commands within your Jenkinsfile to grab the secrets you need, true?

[2016-12-05 15:29] #12039 closed

[2016-12-05 15:41] knobunc commented on #12137
Dropping the priority because this shouldn't block the release.  I'm actively investigating it at the moment though.

[2016-12-05 15:45] tmds commented on #12113
@mfojtik perfect!

[2016-12-05 15:45] #12113 closed

[2016-12-05 15:57] jupierce opened #12142 "`oc logs bc/x` reports "no builds found" if run quickly after bc creation"
The following is a common interaction pattern with oc (the output of new-build even encourages it):
$ oc new-build ..... --name=hello
$ oc logs bc/hello -f

However, in a scripted environment (e.g. bash or Jenkins pipeline), where the interaction occurs with super-human speed, oc logs can fail with: error: no builds found for 'stress' .

Instead, oc logs, when encountering this condition, could in

[2016-12-05 15:57] jupierce commented on #12142
fyi @bparees

[2016-12-05 16:39] coreydaley commented on #9848
Have we made a decision on this issue yet?

[2016-12-05 16:54] kenk667 commented on #11920
@sosiouxme @knobunc

Hello guys, wanted to circle back to see where I may be going wrong with all of this?

thanks!

[2016-12-05 16:56] abutcher commented on #12136
I wasn't able to reproduce this problem with a config lacking `admissionConfig.pluginConfig` but I can see that we're setting `openshift.master.admission_plugin_config` to `{}` as the default behavior. I think I'm going to remove the defaulting of `openshift.master.admission_plugin_config` so that we can conditionally skip this upgrade step.

[2016-12-05 18:30] #6095 closed

[2016-12-05 19:11] #12136 closed

[2016-12-05 19:29] csrwng commented on #9470
@danwinship can you please include a pastebin of the output of `oc cluster up --loglevel=8`?

[2016-12-05 19:44] bparees commented on #12139
it seems you've managed to mark some files in your repo as git submodules when they are not, see this stackoverflow question for more information about how to deal with it:
http://stackoverflow.com/questions/4185365/no-submodule-mapping-found-in-gitmodule-for-a-path-thats-not-a-submodule

[2016-12-05 19:44] #12139 closed

[2016-12-05 19:44] deads2k commented on #12133
It certainly looks like it is trying to run without checking the cert.  https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/probe/http/http.go#L34 .

@derekwaynecarr any other suggestions

[2016-12-05 20:01] juanvallejo commented on #12132
@mfojtik opened PR here https://github.com/openshift/origin/pull/12144

[2016-12-05 20:16] danwinship commented on #9470
@csrwng http://paste.fedoraproject.org/499932/9689781/

[2016-12-05 20:22] jwforres opened #12146 "Build failure reasons aren't being reported"
For builds that end up in the Failed status phase, the build failure reason and message aren't showing up

Example of a build status that failed because I deleted the build pod

[code]

Also reproduced this by putting in a bogus source url

Cancelled builds do seem to get their reason/message added.

[2016-12-05 20:23] jwforres commented on #12146
@PI-Victor @bparees

[2016-12-05 20:24] jwforres commented on #12146
on a related note, looking at the messages they all look like sentences but are missing punctuation on the end.  I thought our standard was that messages were supposed to be treated like sentences.

https://github.com/openshift/origin/pull/10817/files#diff-f23c2970936ec5cfcb60d485ae96bcffR316

[2016-12-05 20:25] PI-Victor commented on #12146
@jwforres can you tell me why the above example failed, so that i can have a starting point? is it an s2i build or something else?

[2016-12-05 20:27] #12112 closed

[2016-12-05 20:31] jwforres commented on #12146
in one case i deleted the build pod while the build was running, in another case i used a source url that didnt exist

[2016-12-05 20:33] bparees commented on #12146
@PI-Victor probably s2i builds.

[2016-12-05 20:33] jwforres commented on #12146
yes sorry both were s2i builds

[2016-12-05 20:41] PI-Victor commented on #12146
oki, thanks! will have a look. was about to say that failing to fetch source is covered by an extended test, but it's only for docker strategy.
https://github.com/openshift/origin/blob/master/test/extended/testdata/statusfail-fetchsource.yaml
i'll also complete the messages with a dot.

[2016-12-05 21:22] liggitt commented on #12053
that's under vendor... actual code is at https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/discovery/discovery_client.go#L129

[2016-12-05 21:24] liggitt commented on #12053
since there was no standard 1.0 authz policy upstream, tolerating discovery failure against /api was required

[2016-12-05 21:40] timothysc commented on #11016
/cc @mffiedler ...

[2016-12-05 22:23] jimmidyson commented on #12133
Is there any way to debug tls connections in go? Even a simple:

[code]

where curl passes. Must be something to do with incompatible ciphers or something, perhaps?

[2016-12-05 22:24] jimmidyson commented on #12133
Something like http://stackoverflow.com/questions/32523521/golang-http-client-handshake-failure#32524298

[2016-12-05 22:35] dcbw opened #12150 "OpenShift doesn't override default kubelet behavior of leaving one container around"
https://github.com/kubernetes/kubernetes/pull/19837/commits/e070cb617ab99a204c8c4907b8db03286121ee8e seems to have changed the kube config MaxContainerCount default from 100 to -1, which leaves at least one container. The MaxContainers flag (which ends up copied to MaxContainerCount) also states -1 means "disabled".

OpenShift doesn't seem to override this default, leading to at least one containe

[2016-12-05 22:36] jimmidyson commented on #12133
Yeah that's what it is. Updated to use a modern set of cipher suites & all works fine. Looks like the default ciphers enabled by Java aren't compatible with Go's set of default enabled ciphers. So I guess the question is should probes be more relaxed in what ciphers they support? Think it should as there is no way to configure probes ciphers individually so would have to be compatible with whateve

[2016-12-05 22:36] dcbw commented on #12150
PR that changed defaults is https://github.com/kubernetes/kubernetes/pull/19837

[2016-12-05 22:38] liggitt commented on #12133
Yeah, let's open an issue to address it upstream. We're not verifying certificates, I see no reason to be strict with ciphers

[2016-12-05 22:46] dcbw commented on #12150
Verified that kubelet, using local-up-cluster.sh, also uses -1:

container.ContainerGCPolicy{MinAge:0, MaxPerPodContainer:1, MaxContainers:-1}

[2016-12-05 22:52] dcbw commented on #12150
So MaxPerPodContainer:1 will make Docker GC remove all but one container for each pod.  But MaxContainers:-1 means that there will always be at least one container left around for each pod, and often that's the Infra container if that container failed.  Which means IPAM won't get torn down for it.

[2016-12-05 22:54] dcbw commented on #12150
One option is to not count the Infra container towards the MaxPerPodContainers.  Is there a great reason for keeping hte infra container around?

[2016-12-06 02:05] alikhajeh1 commented on #12130
I did some quick tests with modifying a running builder pod using `docker update --cpu-quota X --cpu-shares Y builder_pod_image_id_here` on nodes to override the LimitRange values, but this didn't seem to make a difference (whereas increasing the project LimitRange did make a difference). Any other workarounds I can try are appreciated!

[2016-12-06 08:35] tnozicka commented on #11479
@bparees I think you are right with the workaround.

You can still do a bit more by having a proper support for secrets like:
 -  Switch between them without modifying the Jenkinsfile (which you may not have under your control in case of integration solutions using OpenShift API)
 - Modifications require committing code (Jenkinsfile) to development repository
 - Say administrator wants to try to s

[2016-12-06 09:01] Mangirdaz commented on #4518
So how this one is going on? still bumpt?

[2016-12-06 10:52] jimmidyson opened #12152 "Support ECDSA keys in auto service cert issuer"
Currently keys provided ootb are RSA 2048 bit. Would it be possible to make this configurable, possibly via annotations on the service? Key type & length would be great. What do you think @deads2k?

[2016-12-06 12:48] kargakis opened #12154 "retryTimeout in Recreate strategy should be proportionate to TimeoutSeconds"
https://github.com/openshift/origin/blob/6eefa2a58356dfa91f1228f59c2980c40ead7659/pkg/deploy/strategy/recreate/recreate.go#L90

Currently set to 2min

Should be `config.Spec.Strategy.RecreateParams.TimeoutSeconds - (time.Now - deployerPodStartTime)`
We can either get the pod start time by getting the pod via the api or by using the downward api once we can get the pod start time (https://github.co

[2016-12-06 13:01] kargakis opened #12155 "The service is unavailable. Please try again shortly. (Fog::Compute::AWS::Error)"
[code]

[2016-12-06 13:31] stevekuznetsov commented on #12155
Looks like an AWS rate-limit. We don't want to be creating flake issues for these types of things. /cc @danmcp

[2016-12-06 13:31] #12155 closed

[2016-12-06 13:44] kargakis commented on #12155
I don't want to ask people to rekick Jenkins either.

[2016-12-06 13:46] pweil- commented on #12150
@derekwaynecarr @dcbw - this looks like a blocker to me.  Please re-prioritize if you disagree.

[2016-12-06 13:53] stevekuznetsov commented on #12155
I understand the frustration -- I've got to do it, too. When we implemented this feature, Dan and I had decided that we wanted admins to kick jobs in that case as:
  - the situation should be fairly rare
  - if there really were an outage, smashing against the API asking for more instances wouldn't be useful
  - if there really were an outage, it would most likely need some sort of admin interacti

[2016-12-06 14:05] Evgeniy-Bondarenko opened #12156 "No update :latest version docker image (Image Streams)"
No auto deploy :latest version docker image when have update on dockerhub
No manual update  :latest version docker image when have update on dockerhub

##### Version
oc v1.3.0
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v1.3.0
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
oc new-app --docker-image=mongo --name mongo
--> Creating resources with label app=m

[2016-12-06 14:24] eparis commented on #12150
I THINK that they have a workaround on the network side. So we might be able to survive until 3.5. I'll let @dcbw and @knobunc confirm. Do we have any concerns about other CNI based network plugins here?

I'd also like to know the risks here.

[2016-12-06 14:37] mfojtik commented on #12154
@kargakis i guess this is similar to lifecycle hook pods, correct?

[2016-12-06 14:40] derekwaynecarr commented on #12150
I will bring this up in today's SIG-NODE meeting.  I did not think the infra container was intended to count towards the MaxPerPodContainers setting.

[2016-12-06 14:42] mfojtik commented on #11004
@soltysh i think we should bump the timeout here as well (similar to the extended test)

[2016-12-06 14:45] kargakis commented on #12154
I am not following.

[2016-12-06 14:47] miminar commented on #12007
I failed to reproduce in jenkins in 10 out of 10 runs. I'm postponing investigation until someone hits this.

[2016-12-06 14:49] liggitt commented on #11004
Why? test-cmd isn't actually running pods… why would we need a longer timeout?

[2016-12-06 15:03] soltysh commented on #11004
We should have a closer look, Jordan is right we should not start any pods.

[2016-12-06 15:05] bparees commented on #4518
@Mangirdaz it's still an issue and we still want to fix it, it's not a trivial issue to resolve due to needing to refactor significant chunks of code and given that there are easy workarounds (wait a few seconds after creating a project before you create a build, or rerun your failed build), it's not a high priority.

[2016-12-06 15:07] deads2k commented on #12152
I'd rather be prescriptive in what we provide.  Is it unworkable for some reason?

[2016-12-06 15:16] kargakis commented on #11462
We will need to cherry-pick https://github.com/kubernetes/kubernetes/pull/38076 for this.

[2016-12-06 15:18] dcbw commented on #12150
@eparis we have a workaround for openshift, and upstream has a workaround for the 'kubenet' plugin.  But all other plugins either need their own workaround, or they will potentially leak IPAM and maybe other resources since the kubelet docker runtime doesn't clean these up.

So openshift has no risk for 3.4.

[2016-12-06 15:21] jimmidyson commented on #12152
It's not unworkable, I've just had discussions with people on various projects in the past & different people had different requirements placed on them in their environment. But it's not something I personally need so feel free to close if it's not something you feel necessary to add.

[2016-12-06 15:23] dcbw commented on #12150
@derekwaynecarr I can't see anything in the docker runtime that would always GC the infra container.  Perhaps you are thinking of when the docker runtime re-uses an old infra container?  If so, that's currently broken in at least two cases:

1) if the infra container is dead (eg, docker restart underneath kubelet/openshift) because SyncPod() calls killPodWithSyncResult() with ConvertPodStatusToRun

[2016-12-06 15:23] pweil- commented on #12150
removing this from the blocker list then.  Thanks @dcbw

[2016-12-06 15:27] kargakis commented on #9298
Last pieces left here:

* deploy --cancel to `rollout cancel` - https://github.com/openshift/origin/pull/10731
* `deploy --retry` to `rollout retry` (@mfojtik do you want this or should I open a PR for retry?)

[2016-12-06 15:38] PI-Victor commented on #12146
@jwforres can you try to rebuild your s2i image and then try again? i've added an additional test and it's passing locally, currently i'm trying to see if it passes in jenkins.
The message and reason appears for canceled builds because that's being done by the controller as opposed to the s2i builder image, for source builds.

[2016-12-06 15:41] PI-Victor commented on #12146
https://github.com/openshift/origin/pull/12153 PR  Link with extended tests.

[2016-12-06 15:43] jwforres commented on #12146
ahh that was it, pulled the latest builder and now i see the reasons

[2016-12-06 15:43] #12146 closed

[2016-12-06 15:49] jsafrane opened #12157 "flake: ExternalID should not be able to resolve "mesos3.internal.company.com""
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/9124/consoleFull

[code]

[2016-12-06 16:29] juanvallejo commented on #5255
No longer able to reproduce original issue in version:
[code]

[code]

will take a look at [upstream](https://github.com/kubernetes/kubernetes/issues/16061) issue.

[2016-12-06 16:57] timothysc commented on #10910
Even with https://github.com/openshift/origin/pull/11925, I still think it is a priority to have this for 1.5.  I just want to make certain we don't punt this out again.

[2016-12-06 16:57] mfojtik commented on #10910
@enj was looking into `ApplyOptions` recently in kube

[2016-12-06 17:07] soltysh commented on #10910
@enj copied our solution into upstream. What @timothysc is saying we should fix this in origin. Yes I'd like to have this in, right after the rebase. It's pretty high on my todo list.

[2016-12-06 19:48] jim-minter commented on #11464
@bparees there's clearly more to this than I had first thought.

The above link has expired and I can't now recall where we were running into space trouble - whether in the docker daemon storage, the storage backing the Openshift registry, or elsewhere.  I think maybe the former but presumably it would be good to take care of both pieces ideally.

If it's the docker daemon storage, then targeted r

[2016-12-06 19:51] jim-minter commented on #8223
@bparees if you fancy narrowing that down, I'll get to work on it (or not).

[2016-12-06 20:00] bparees commented on #8223
@jim-minter i was hoping there would be other votes :)

given that this hasn't gotten any other requests, i'm inclined towards (3).  @xcoulon given that you can specify --exclude multiple times, is introducing an --exclude-from flag still critical for you?

[2016-12-06 20:10] csrwng commented on #9470
@danwinship I setup an env similar to yours ... fedora 23 w/ devicemapper loopback storage driver + docker 1.10.3 (on a vm) but still can't reproduce.

If you can, please capture 2 goroutine stack traces for me:

1. Run 'oc cluster up' to the point that it hangs, then `kill -6 [pid of oc]`
2. Run it again to the point where it hangs, and `kill -10 [pid of docker daemon]`
The second one should make

[2016-12-06 20:29] jupierce opened #12160 "`oc logs -f bc/x` sporadically returns partial logs during active build"
Running `oc logs -f bc/x` on a running build will periodically fail to return all logs back to the console.

##### Version
oc v1.5.0-alpha.0+0c89011-92
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

docker version: Docker version 1.10.3, build f476348/1.10.3
journald version: systemd 229

##### Steps To Reproduce
1. Run https://gist.github.com/jupierce/d877e02c478c1c3127d73

[2016-12-06 20:29] jupierce commented on #12160
fyi @bparees

[2016-12-06 20:46] Evgeniy-Bondarenko commented on #12156
Are there any any webhook(link or etc) for this action ?

[2016-12-06 21:11] #5471 closed

[2016-12-07 00:23] Coyote5 commented on #12073
I confirmed that path /dev/disk/by-path/ip-10.1.123.241:3260-iscsi-iqn.2016-07-01.asiainfo:dbstore.disk1-lun-7 was created when the MYSQL POD was created, because the database was normally used.

My OS is CentOS 7.2 and I run openshift node standalone (VM on openstack).

Today,I did another test. I create two POD using iSCSI PV on the same openshift node. POD1 is created successfully, and can be

[2016-12-07 01:35] kargakis commented on #12157
This seems to have blocked the merge queue. @deads2k should we cherry-pick https://github.com/kubernetes/kubernetes/pull/38196?

[2016-12-07 01:48] ncdc commented on #12157
Yes

[2016-12-07 02:52] kargakis commented on #12156
This seems like a duplicate of https://github.com/openshift/origin/issues/10981.

There is an option with `oc tag` to schedule the import. Not sure about the interval (should be a setting in master configuration - ccing @soltysh to keep me honest.)
https://docs.openshift.org/latest/dev_guide/managing_images.html#importing-tag-and-image-metadata
Webhooks are something we want to add support for:
ht

[2016-12-07 04:07] louyihua opened #12166 "Exchange paths for routes with same host fails"
When two routes hold the same host and different paths, exchange their paths may fail with certain steps.

##### Version
v1.4.0-rc1+b4e0954

##### Steps To Reproduce
1. Create route A to serve www.example.com/pathA
2. Create route B to serve www.example.com/pathB
3. Modify route A to serve www.example.com/pathB
4. Modify route B to serve www.example.com/pathA

##### Current Result
Route B fails to

[2016-12-07 04:39] #12157 closed

[2016-12-07 05:34] getstek commented on #11311
The RFE is set to 'Closed WONTFIX' without any detail. Is there a specific reason it won't be looked at?

[2016-12-07 11:16] mgjadoul opened #12168 "LDAP Sync does not support groups of groups"
Using `oadm groups sync` , I get those errors:

[code]

Effectivelly the users mentionned are not users but other groups. We effectivelly use groups of groups.

This basically make this command useless, as to be really usefull, I shall reimplement it, or have only users in groups.

It would definitely be more usefull to correct the implementation in Openshift dirrectly. I would even provide a patc

[2016-12-07 11:27] mgjadoul opened #12169 "Need option for Converting user's ID to uppercase/lowercase in group LDAP Sync"
In an Classical Enterprise using Active Directory + ADAM for authentication and authorization, login are case insensitive. In Unix / openshift the UID are case sensitive apparently. In AD, there is no guarantee if the ID will be upper case, lower case or a mix. There is also no guarantee that it won't change later. We implemented an Apache config for authentication in Kerberos and including normal

[2016-12-07 11:50] mfojtik commented on #9298
@kargakis i will do it.

[2016-12-07 12:54] mfojtik commented on #11225
@kargakis the upstream does not have Patch() for RC client, so I think this will have to wait till the 1.5 rebase will land.

[2016-12-07 13:26] stevekuznetsov commented on #12168
If I remember correctly, today we do not support nested groups unless the group query given does the resolution in the LDAP server.

/cc @liggitt

[2016-12-07 14:12] jimmidyson commented on #12025
I've reopened - the CHECKSUM file downloaded has the wrong file name. I've seen this intermittently with previous releases so wonder if there is something wrong with the release scripts?

[2016-12-07 14:30] pgonyan commented on #11601
Same problem.

 oc version
oc v1.5.0-alpha.0+f1e59ea-254
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v1.5.0-alpha.0+f1e59ea-254
kubernetes v1.4.0+776c994

docker version
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.3

[2016-12-07 14:50] jim-minter commented on #9470
All a bit of a mystery so far - spent this morning trying to replicate but haven't managed it.  Finding it hard to believe this isn't a docker bug (e.g. their issue 27289 looks pretty similar, but I don't think it affects 1.10 servers), but who knows...

[2016-12-07 15:01] jupierce opened #12173 "Logging for CLI websocket interactions is insufficient"
`oc ... loglevel=8` gives exceptional debugging information for traditional RESTful interactions with the APIServer: HTTP headers, req/resp content, status codes, cURL equivalents, etc. However, websocket based interactions are difficult to debug from logs alone because they lack this level of detail.

Excerpt from oc logs -f bc/logtest --loglevel=8:
[code]

At log level 9:
[code]

Issues with the

[2016-12-07 15:37] danwinship commented on #9470
oc trace: http://paste.fedoraproject.org/501076/48112497/
docker trace: http://paste.fedoraproject.org/501077/81124981/

[2016-12-07 15:48] jim-minter commented on #9470
thanks - docker goroutine dump separated out at https://paste.fedoraproject.org/501081/12566214/

[2016-12-07 15:59] jim-minter commented on #8223
Documented ability to use `rsync` as an alternative to `oc rsync` at https://github.com/openshift/openshift-docs/pull/3339 , closing.

[2016-12-07 15:59] #8223 closed

[2016-12-07 16:16] csrwng commented on #9470
So on the `oc` client side, we're stuck waiting to copy from the network (~line 105 from http://paste.fedoraproject.org/501076/48112497/) after the hijack call. On the Docker side, it seems like we're trying to acquire a semaphore when reading from the network? (lines 298-318 from https://paste.fedoraproject.org/501081/12566214/)

[2016-12-07 16:29] smarterclayton commented on #12025
Yes - should be easy to fix though if someone can take a look - make release will generate it based out of code in hack/common.sh (just a mismatch between the new archive name and the internal git field)

[2016-12-07 16:39] soltysh commented on #12156
Correct, the image will be re-fetch every x-seconds, where that is configured at a cluster level in `master-config.yaml`, see [here](https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-config-image-config) and look for option named `ScheduledImageImportMinimumIntervalSeconds`.

[2016-12-07 16:42] jim-minter commented on #9470
The oc client is waiting to read on the hijacked connection.  The docker backend has multiple pairs of goroutines (one for each stdout, one for each stderr) sitting waiting in io.Copy for incoming data, as well as associated goroutines waiting for the former goroutines to terminate.

Effectively I suppose that the io.Copy goroutines have somehow missed the fact that the stream has ended and they s

[2016-12-07 16:46] enj commented on #12169
cc @stevekuznetsov @liggitt

[2016-12-07 16:53] liggitt commented on #12169
We do not use user input as user names directly, but use that to look up data from LDAP. The attributes read from LDAP should be canonical.

[2016-12-07 16:58] csrwng commented on #9470
We can simulate this by changing the place where we signal the attach goroutine to proceed:
Move https://github.com/openshift/origin/blob/master/pkg/bootstrap/docker/run/run.go#L237
to some place after
https://github.com/openshift/origin/blob/master/pkg/bootstrap/docker/run/run.go#L239

[2016-12-07 16:58] Evgeniy-Bondarenko commented on #12156
Fine!
`oc import-image mongo --from=mongo:latest --confirm=true`
`oc tag --source=docker mongo:latest  default/mongo:latest  --scheduled=true`
and edit `master-config.yaml`
`ScheduledImageImportMinimumIntervalSeconds=60`

[code]

How I can see what image is periodically updated? Or time last check?

[2016-12-07 17:03] dcbw commented on #12150
See https://github.com/kubernetes/kubernetes/pull/37036 for an upstream fix.

[2016-12-07 17:11] csrwng commented on #9470
@jim-minter maybe we can interrupt the attach if the WaitContainer call has returned and the attach is not done.
OR
at least for this case, we don't need an attach. Simply run the container. After it runs, get its output, then  remove it.

[2016-12-07 17:17] danwinship commented on #9470
It has so far. And I'm on bare metal, not a VM, so it's plausible that it could be happening because the code runs faster for me than for you

[2016-12-07 17:19] csrwng commented on #9470
@danwinship yup I was able to reproduce by simulating the container finishing before we proceed with the attach. All you have to do is get a slower computer :D ... that's your problem right thar

[2016-12-07 17:21] csrwng commented on #9470
@jim-minter an alternate solution is to change the command we run on the container to read from stdin and redirect to /dev/null before proceeding with the 'cat [blah]'. That way it has to wait for the attach to succeed.

[2016-12-07 17:29] liggitt commented on #12169
I'd rather see documentation for using attributes from LDAP as the username in Apache auth (should be possible with mod_lookup_identity), rather than trying to normalize the user-provided id in parallel ways in multiple components

[2016-12-07 17:30] liggitt commented on #12169
some documentation around mod_lookup_identity exists at https://docs.openshift.org/latest/install_config/advanced_ldap_configuration/configuring_extended_ldap_attributes.html

would like to see a reference configuration that pulls the uid from LDAP using that, which would remove the need for upper-casing in Apache, and would make group sync and auth agree

[2016-12-07 17:33] coreydaley commented on #11946
Submitted pull request #12174 for review

[2016-12-07 17:34] enj commented on #12168
So something like this should work?  http://stackoverflow.com/a/6202683/3777613

[2016-12-07 17:59] jim-minter commented on #9470
Note: also need to refactor to run TestPorts() once to return the list of ports - at the moment we run it multiple times, which can't help

[2016-12-07 18:08] csrwng commented on #9470
@danwinship can you please try with this binary? https://drive.google.com/open?id=0Bxi-kAIS_6Y7Qk9sZEtlUUludWM
I am making it read from input so that the attach will succeed.

[2016-12-07 18:18] stevekuznetsov commented on #9470
/cc @ncdc re: `exec` returning too quickly leading to races and hung connections

[2016-12-07 18:19] stevekuznetsov commented on #12168
If using Active Directory as the LDAP server, yes, that sort of query should resolve to the correct list of users.

[2016-12-07 18:58] danwinship commented on #9470
uh... can you give me a patch to test instead?

[2016-12-07 19:28] csrwng commented on #9470
@danwinship what... you don't trust random binaries from the internet? :)

Here it is
https://gist.github.com/csrwng/9057649d90e089a11e62b57208a30261

[2016-12-07 19:34] danwinship commented on #9470
yup, that works

[2016-12-07 19:38] bparees commented on #8571
@stevekuznetsov this is happening a lot again (or the FCM is too broad):
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/9190/

[2016-12-07 20:01] csrwng commented on #9470
thx, @danwinship. I'll put together a PR.

[2016-12-07 20:02] jwforres commented on #8047
instead of this we have been adding the table of pods to all the controller pages and the service page, its more useful to have the pods right there than to have to navigate away

[2016-12-07 20:02] #8047 closed

[2016-12-07 20:05] benjaminapetersen commented on #7853
Yeah, I don't think we want to go through the trouble of adopting `postcss` unless we are getting more than `autoprefixer` for it.  Seems like a big investment.  `grunt-autoprefixer` is deprecated, but build passes, etc.  We may want to reconsider some day in the future, but for now, I'd say we close this.

[2016-12-07 20:05] #7853 closed

[2016-12-07 20:36] ramr commented on #12166
This is related to the order in which the routes are processed if 4 is done before 3.  And that message is correct based on the facts at that point in time - routeA holds the pathA and so routeB is not admitted.

The easiest way to check that is working is to insert a delay between steps 3 and 4. Wait for route A to update before altering route B.  I just tested this and it works for me.

[2016-12-07 20:36] #12166 closed

[2016-12-07 20:54] #7947 closed

[2016-12-07 21:06] stevekuznetsov commented on #8571
Yeah, I don't think anyone ever fixed this and I'm not certain all the bits we needed are there in `oc ex dockerbuild` to make it happen. This will continue to have resurgences as EPEL rolls out large changes.

[2016-12-07 21:10] #7664 closed

[2016-12-07 21:12] gabemontero commented on #6560
@bparees going though my back log and am revisiting this one.  Ultimate goal I think is to either open a card for this or drop this idea (and close this issue out one way or the other).

LMKWYT.

I'll consolidate the key details from the referenced issues, along with some code analysis from me:

0. It might be nice if the UI could easily display the warnings / errors generated by `oc status`, whic

[2016-12-07 21:31] #8736 closed

[2016-12-07 22:47] smarterclayton commented on #8571
We need the bug in docker 1.12 (the race) fixed.  Might be a kernel thing

On Dec 7, 2016, at 4:07 PM, Steve Kuznetsov <notifications@github.com>
wrote:

Yeah, I don't think anyone ever fixed this and I'm not certain all the bits
we needed are there in oc ex dockerbuild to make it happen. This will
continue to have resurgences as EPEL rolls out large changes.

—
You are receiving this because you

[2016-12-07 23:31] bparees commented on #6560
i'm happy to close this for now.  people defining buildconfigs that reference imagestreams that don't exist (and then not understanding why their BC is broken) is not a thing i've seen as a common issue.

[2016-12-07 23:31] #6560 closed

[2016-12-07 23:38] jupierce commented on #12160
I've now seen three variations:
**I've not been able to reproduce any of these using a json-file driver for docker. All of these occurred with journald**

## Variation A: logs -f terminates early and log is permanently corrupt
The problem is reproduced with something like:
$ oc new-build ... --name=logtest
$ oc logs -f bc/logtest
[code]
**At this point, oc logs -f returns without reporting an erro

[2016-12-07 23:41] bparees commented on #12160
can you see if any of these issues can be reproduced in a generic pod with oc logs?  (run a onetime pod that prints some output and exits, follow the logs on it, rinse/repeat)

it would be good to understanding if it's fundamental the the logs endpoint(probably is) or something in our log relaying for build logs (probably isn't).

[2016-12-08 03:20] elyscape commented on #11551
The second part should also be doable by annotating the route with the OCSP response and having `openshift-router` export the annotation alongside the certificate.

[2016-12-08 05:35] vanloswang commented on #11089
@detiber @liggitt metrics deployer works ok now, the url is wrong, it should use 8443 instead of 443.

[2016-12-08 06:18] ibotty commented on #11551
That's what I meant. Afaict it's not possibly via template alone.

[2016-12-08 08:38] kalote opened #12181 "Env var with comma in it doesn't work on `new-app`"
When creating an app with 'oc new-app' command, i have an error:

my env var is a mongoDB cluster URI (mongo01:27017,mongo02:27017,mongo03:27017) and it should be working.

##### Version
oc v1.3.0-rc1
kubernetes v1.3.0+52492b4
features: Basic-Auth

Server https://stuff.private:443
openshift v3.3.1.5
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
1. Create a new nodeJS app with a connectivity

[2016-12-08 10:40] kargakis opened #12184 "Services should serve multiport endpoints from pods"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/9306/

[2016-12-08 12:22] mgjadoul commented on #12168
Our LDAP is an AD LDS (AD for authentication and AD LDS for authorization).
I tested with the following config: it works but it is very slow....

kind: LDAPSyncConfig
apiVersion: v1
url: ldaps://...:636
bindDN: CN=binduser,OU=Users,OU=Apps,O=acme
bindPassword: ...
insecure: false
ca: my-ldap-ca-bundle.crt
activeDirectory:
    groupsQuery:
        baseDN: OU=myapp,OU=Apps,O=acme
        scope: sub

[2016-12-08 13:20] mgjadoul commented on #12169
We do not use SSSD (yet).... It could take some time as in our case it requires implementing IPA.
If you do a reference implementation based on this only.... Some won't be able to use it.

As far as I understand, your solution does not solve fully the issue .... As stated above:  There is no guarantee if the ID will be upper case, lower case or a mix. There is also no guarantee that it won't chang

[2016-12-08 13:21] mgjadoul commented on #12169
In the mean time we currently implemented a filter and calling it like this:
$ oadm groups sync --sync-config=rfc2307_config.yaml --whitelist=whitelist.txt -o json | ./groupmember_to_upper.py | oc create -f -

The filter is basic:
#!/usr/bin/python
import json, sys
f = sys.stdin
grouplist = json.load(f)
i=0
for group in grouplist['items']:
     j=0
     if group['users'] is not None:
       for us

[2016-12-08 13:26] stevekuznetsov commented on #12168
How slow is the full sync? When we considered supporting nested groups in the past, we quickly realised doing so for server solutions other than AD would be extremely difficult. Future planning may change this, but today I'd say it's unlikely we will support nested groups as first-class concepts in the sync.

We have previously also taken the stance that LDAP group sync is an operation happening a

[2016-12-08 13:54] csrwng commented on #9470
@jim-minter so looking at this fix: https://github.com/docker/docker/pull/21048, it seems that `container.CancelAttachContext()` is only called when the start fails and the container needs to be cleaned up. However, in this case it looks like the container has finished before the attach starts copying. A possible fix on the Docker side would be to call CancelAttachContext when the container has fi

[2016-12-08 13:54] stevekuznetsov commented on #8571
@smarterclayton have we shared this need with Antonio/Lokesh/Dan?

[2016-12-08 14:04] runcom commented on #9470
@csrwng ack. Can you guys test if Docker 1.12.x has the same issue though? Docker-1.10.3 is pretty old at this point and we're moving towards 1.12.x. If you could fix this in origin it would be better w/o carrying another backport on the Docker 1.10 branch and rebuild everything for F24 (rhel is moving to 1.12 soon).