[2015-05-29 07:19] jimmidyson commented on #2517
@liggitt So is that a definite no to this? If so then I'll need to document how to reconfigure the openshift node config file on every node to enable this if you want cluster wide logging.

[2015-05-29 10:05] rhuss opened #2588 "`osc describe pod <pod>` doesn't show exposed ports"
I find the exposed ports of a pod to be a very important information. Currently I only can get it via `osc get pods <pod> -o json` but would like to have an easier way.

[2015-05-29 12:57] deads2k opened #2591 "Unify node config creation flows"
The command `create-node-config` and `openshift start node --write-config=` should have a unified path for serializing their configs

[2015-05-29 13:01] ironcladlou opened #2592 "Retryable deployment hooks can't be cancelled"
https://github.com/openshift/origin/pull/2582 implements the majority of the work needed to support cancelling deployments, hooks, and any other related pods for a deployment. However, a new bug with the cancellation mechanism is exposed: hook retries are implemented by automatically starting a new hook pod when the previous pod fails. This means the hook can't be cancelled.

Hook pod names should

[2015-05-29 13:02] ironcladlou commented on #2592
cc @abhgupta @smarterclayton

[2015-05-29 13:03] mfojtik opened #2593 "Retry pushing of the result image after successful build"
We've seen a lot of flake tests that fails because the push failed for random reason, like this:

[code]

When this happen and the build retries, it fails as well:

[code]

We should retry the first push if possible (and perhaps make the # of retries configurable, with some sane default).

[2015-05-29 13:03] mfojtik commented on #2593
@ncdc @soltysh @smarterclayton FYI

[2015-05-29 13:04] rhcarvalho opened #2594 "Inconsistent trigger name capitalization"
API v1 BuildConfigs have triggers: `github`, `generic`, `imageChange` ([source](https://github.com/openshift/origin/blob/a72d50170d7b38f0d3777dc4e80f7680a3c5683c/pkg/build/api/v1/types.go#L332-L344)), while DeploymentConfigs have: `ImageChange`, `ConfigChange` ([source](https://github.com/openshift/origin/blob/a72d50170d7b38f0d3777dc4e80f7680a3c5683c/pkg/deploy/api/v1/types.go#L226-L233)).

[2015-05-29 13:19] ncdc opened #2595 "Build ImageChangeController shouldn't return early if it encounters an Instantiate error"
The Build ImageChangeController tries to instantiate Builds for all BuildConfigs triggered by a given ImageStream. It currently returns early from the loop through the BuildConfigs if it encounters an error. Instead, it should keep track if it saw any errors, but continue and finish the loop. If it did see an error, it can return it so the retry controller can retry. Any BuildConfigs that were pro

[2015-05-29 13:22] danmcp commented on #2463
@gravis Okay that makes sense.  VMWare is in the config but not really being maintained currently. Sorry for the confusion.

[2015-05-29 13:27] ncdc commented on #2593
I know we can't prevent users from running `osc start-build` multiple times, but in the e2e test it would be nice to figure out why this happens. The 2nd build's error that it couldn't push because another push was already in progress means that there really was another push in progress. This means that 2 builds were both running at the same time, as best I can tell. I'd like to figure out why tha

[2015-05-29 13:33] gravis commented on #2463
I'm pretty sure this has nothing to do with vagrant nor vmware :)

[2015-05-29 13:34] spadgett commented on #2568
@liggitt Do you see this? I think it might be a clock skew between my laptop and OpenShift running inside a VM.

[2015-05-29 13:37] mfojtik commented on #2593
@ncdc I just realized that retrying push in build container won't help in this particular case as it will fail till the other build finish pushing.
However I still think that retry push is valuable especially when the registry is temporarily down and you don't want to restart the whole build just to retry the push (think that build can take long time in case if jboss apps...)

[2015-05-29 13:37] danmcp commented on #2463
@gravis Why would that be?  The images for virtual box are created by running through the os -> deps -> inst states of https://github.com/openshift/vagrant-openshift

And one of those steps is to run:

https://github.com/openshift/vagrant-openshift/blob/master/lib/vagrant-openshift/action/install_openshift_base_dependencies.rb#L62

And so when you launch the _inst images for virtualbox (and libvir

[2015-05-29 13:38] ncdc commented on #2593
@mfojtik retry can help. If you have 2 builds going at the same time, 1 starts pushing, the 2nd fails b/c of the 1st in-progress push. If the 2nd waits long enough (until the 1st push is done), it could push successfully.

[2015-05-29 13:41] gravis commented on #2463
Ho, I didn't see this part, sorry :)

[2015-05-29 13:48] liggitt commented on #2568
oh, that's fun... server clock skew

[2015-05-29 13:54] ironcladlou commented on #2433
@sosiouxme

Could [this change](https://github.com/GoogleCloudPlatform/kubernetes/commit/4f88d418c80eb6a395dd99e606e5f545404a17c6) be related? Seems to imply `spec.VolumeSource.NFS=nil` is now an acceptable state, which opens the door for a nil pointer [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/volume/nfs/nfs.go#L71), which seems to jive with the stack trace.

cc @mar

[2015-05-29 13:58] smarterclayton commented on #2593
I'm not opposed to retrying once or twice, but agree with Andys concern around understanding why there are two builds.  It's probably because the build is being triggered automatically by image import (it should *always*) trigger

[2015-05-29 14:07] mfojtik commented on #2593
@smarterclayton if this is 3.0 item, I can add retries into builder on Monday

[2015-05-29 14:14] smarterclayton commented on #2593
It's not

[2015-05-29 14:22] brenton commented on #2348
As best I can tell the problem is somehow related to this line of code: https://github.com/openshift/origin/blob/master/pkg/cmd/server/origin/master.go#L517

However, it's not as simple as just changing that value.  It seems as if the timeout only comes in to play while my pod is actively generating logs.  If it's not doing anything I can use curl to follow the logs "forever".  If in another termi

[2015-05-29 14:24] kargakis opened #2596 "Remove registry/router from `openshift ex`"
@smarterclayton is there any reason why it remains experimental?

[2015-05-29 14:26] liggitt commented on #2596
`registry` and `router` have already been added under `osadm`.

[2015-05-29 14:27] liggitt commented on #2596
need to sweep docs/examples to make sure all references point to `osadm ...`

[2015-05-29 14:28] kargakis commented on #2596
So these two commands are not going to be a part of `osc` right? I can remove them and replace all `ex` references.

[2015-05-29 14:38] liggitt commented on #2596
right, those are admin commands, so `osadm`

[2015-05-29 14:42] ianmiell opened #2598 "resolv.conf and ubuntu and openshift - 'Name or service not known'"
I was about to submit this before I managed to 'fix' it by manually hacking my resolv.conf to point to 8.8.8.8 and not 127.0.1.1. This info may be useful to others.

This was on a ubuntu:14.04 server. If anyone knows the 'right' way to fix it please let me know.

==========================================================================
If I run these commands:

[code]

The build fails:

[code]

I

[2015-05-29 15:07] mfojtik commented on #2598
@csrwng this should be fixed by https://github.com/openshift/source-to-image/pull/208 right?

[2015-05-29 15:11] sspeiche commented on #2537
Pulled latest, works for me now like a boss

  "gitVersion": "v0.17.1-804-g496be63",
  "gitCommit": "496be63",

[2015-05-29 15:20] #2537 closed

[2015-05-29 15:29] csrwng commented on #2598
yes

[2015-05-29 15:39] sosiouxme commented on #2433
That's the change we cherry-picked, so I'm sure it's *related* ...

[2015-05-29 15:43] markturansky commented on #2433
I'll be checking this out sometime today.  busy heads down getting the recycler/scrubber working.  sorry for the delay.

[2015-05-29 16:05] #2562 closed

[2015-05-29 16:26] deads2k opened #2601 "osc edit should handle users editing name"
I see two possible outcomes:
1. reject changes to name outright with a good message
2. create a new object with the new name, but everything else the same.  delete the old object

I like option 2 better, because I just tried to do that without thinking about it.  Perhaps a confirmation of the creation of a deletion of the old and creation new object to make sure the user really means it.

[2015-05-29 16:28] liggitt commented on #2601
option 3: create, leave old object

[2015-05-29 16:58] kargakis commented on #1721
Apparently the number of a service's pods is the number of its endpoints.

While working on changing it upstream, I argued that we shouldn't let the user guess about it, though I can see the point of not correlating services with pods but with endpoints. As @liggitt mentioned, you can derive the pod number from `osc describe svc <name>`.

[2015-05-29 17:17] ncdc opened #2604 "Build ImageChangeController is racy"
Example race scenario with the code as it is today:
1. The build triggers on changes to the ruby-20-centos7 image stream
2. The ruby-20-centos7 image stream has spec.dockerImageRepository set to point at a repo on the Hub
3. The image ImportController pulls down information about openshift/ruby-20-centos7 and posts an ImageStreamMapping for each tag, creating multiple watch events for the image st

[2015-05-29 17:20] ncdc commented on #2604
@smarterclayton @bparees @mfojtik @danmcp @ironcladlou @pmorie @deads2k @liggitt @soltysh

[2015-05-29 17:21] ironcladlou commented on #2604
I can't yet think of a reason not to retry BC update failures (other than conflict/notfound).

[2015-05-29 17:22] ncdc commented on #2604
@ironcladlou for a conflict, should it get the latest, apply the bump changes, and try to resubmit?

[2015-05-29 17:25] smarterclayton commented on #2604
In the future we would also change webhooks to only update the source revision part of the bc, which would result in a leve driven source build and dedup multiple hooks for the same source

[2015-05-29 17:26] ncdc commented on #2604
Which would be handled by a config change controller?

[2015-05-29 17:27] smarterclayton commented on #2604
The build controller notices the build config # doesn't match.

[2015-05-29 17:30] ironcladlou commented on #2604
@ncdc

Would throwing a retryable error for the ImageStream be fine? If the BuildConfig still needs updated next time through, then the version will get bumped appropriately, or no-op otherwise.

[2015-05-29 17:34] liggitt commented on #2517
I don't think we should turn on watching a directory for static pods by default. I think enabling that should be a choice admins make. @smarterclayton, what say you?

[2015-05-29 17:37] smarterclayton commented on #2517
Optional, defaults false

[2015-05-29 17:38] ncdc commented on #2604
@ironcladlou I think that would work, although it would have to do it at the end of the loop instead of restarting early, as we discussed previously.

[2015-05-29 17:41] ironcladlou commented on #2604
@ncdc

Yeah, efficiency penalty no-op'ing through everything over again, but it *should* be consistent. Or we could drop the failed event and just miss the build if the confidence level in the re-processing is low.

[2015-05-29 17:55] TomasTomecek commented on #2348
Is `osc` affected too?

[2015-05-29 18:06] liggitt opened #2607 "Filter deployment pods from overview based on label"
Additionally hide pods using a deployer label
c.f. https://github.com/openshift/origin/pull/2582/files#diff-352cbb41a6973115fc29b6c3f96619eeR144

[2015-05-29 18:08] danmcp commented on #2481
Please reopen if you can recreate.

[2015-05-29 18:08] #2481 closed

[2015-05-29 18:12] fabianofranz commented on #2449
I think most users are actually going to see a "forbidden" when doing `get minions`. I'd lower this to P3, any objections @smarterclayton @sosiouxme?

[2015-05-29 18:12] #2487 closed

[2015-05-29 18:19] #2517 closed

[2015-05-29 18:20] ncdc commented on #2604
I think we need to figure out something for this. We are currently including the revision in the BuildRequest that the webhook controller passes to the BuildGenerator, and that revision is persisted on the Build but not on the BuildConfig.

If we get rid of the BuildGenerator and BuildRequests, we need some way to include the revision in the Build that gets generated. Maybe we need a LastTriggered

[2015-05-29 18:21] liggitt commented on #2540
Related: https://github.com/openshift/origin/issues/2581

[2015-05-29 18:24] brenton commented on #2348
Yes.  I first hit the problem with `osc log` and the curl request I made was the exact same request `osc` was running.  I noticed the same behavior in Kubernetes and just filed https://github.com/GoogleCloudPlatform/kubernetes/issues/9013

[2015-05-29 18:24] danmcp commented on #2541
@sosiouxme ^^

[2015-05-29 18:30] liggitt commented on #2540
This is working as designed... registry, router, policy, and other commands use the current project. While there are things that currently assume the default namespace for the registry, that will not always be the case.

[2015-05-29 18:47] ncdc commented on #2604
I'm going to start prototyping this. Let's decide on Monday if we want to proceed with this kind of approach, or if there's something simpler that can work short term.

[2015-05-29 18:50] smarterclayton commented on #2604
Ben proposed writing the BC prior to starting the build, which would get us past 3.0.  That's something that someone on dev exp can look at Monday morning.

[2015-05-29 18:51] smarterclayton commented on #2604
Why would we get rid of build request?  It would just mutate BC.

We have a field for this - it's sourcerevision.

[2015-05-29 18:52] ncdc commented on #2604
That still doesn't solve the stale cache problem though, does it?

Sent from my iPhone

[2015-05-29 18:53] ncdc commented on #2604
BuildRequest is only used by the BuildGenerator to start a build, and it includes the revision info. The generator copies the revision to the new Build. I don't think we'll want BuildRequest any more.

Sent from my iPhone

[2015-05-29 19:02] smarterclayton commented on #2604
Yes, to trigger a build on a build config

[2015-05-29 19:05] ncdc commented on #2604
Could you describe that in more detail?

Sent from my iPhone

[2015-05-29 19:07] smarterclayton commented on #2604
I'm a client.  I want to build x based on a source repo.  Build request is a virtual resource that when you post to it updates the bc correctly.

[2015-05-29 19:20] soltysh commented on #2604
Shouldn't that controller watch for events on specific resources allowed in From field, that will be ImageStreamImage, ImageStreamTag and DockerImage?

The whole purpose of BuildGenerator was to create single place where all builds are created, at certain point in time we have 3 or even 4 such places, each creating builds slightly differently which was really hard to maintain. I'll be the first de

[2015-05-29 19:30] sosiouxme commented on #2540
Well then I guess the only "bug" is that the user might have fiddled around with their config before creating the registry and will be surprised if it lands somewhere other than `default`. I wonder if we could just have it provide a nice message indicating whether it is or isn't in the `default` namespace and what that implies?

[2015-05-29 19:30] #2571 closed

[2015-05-29 19:34] smarterclayton commented on #2604
The proposal changes so that only one place creates builds - a build controller.  At that point no one else creates builds.  Creating builds from multiple locations is part of the problem, not the solution.

[2015-05-29 19:41] soltysh commented on #2604
That's what I've meant, I'll be fighting to defend that solution. I was rather proposing limiting the amount of events the ImageChangeController is getting by not listening to ImageStream but specific object such as ImageStreamImage or ImageStreamTag, I'm not suer DockerImage allows that option.

[2015-05-29 19:47] smarterclayton commented on #2604
The solution is to use a level driven patrern

That's not really going to fix the problem, just move it around and reduce the frequency.  Ultimately, a user requests a build and gets a build object.  Since we already update the build config to change the version and last image id, we're already matching the DC pattern.  Basically a request modifies the BC, and the result of that modification is a

[2015-05-29 19:48] deads2k commented on #2292
depends on https://github.com/openshift/origin/pull/2578

[2015-05-29 19:54] sosiouxme commented on #2449
I dunno about most users, but cluster-admin (who is the only one likely to care) gets nothing at this time.

[2015-05-29 19:55] sosiouxme commented on #2449
It's a p3 though, unless it's super easy.

[2015-05-29 20:08] mrunalp commented on #1089
https://github.com/docker/docker/issues/12294

docker's stance is that one should save and restore iptables before restarting it. I think maybe we can
document this somewhere like @sosiouxme suggested.

[2015-05-29 20:08] ironcladlou commented on #2592
Spoke with @abhgupta and we thought of a way to handle retries sanely. Basically, when the Retry hook policy is set, we'll translate that to a pod OnFailure restart policy. This means the kublet will handle retrying the failed hook up until the hook deadline expires. We can then remove all manual retry handling and have correct deadline integration.

Since the retryable policy won't retry forever

[2015-05-29 20:09] mrunalp commented on #1607
We have a few more rules in node setup script now to decrease the likelihood of this happening. I will add things to watch out for in the docs if any.

[2015-05-29 20:18] #2556 closed

[2015-05-29 20:18] smarterclayton commented on #2592
Very clean.  Awesome.

[2015-05-29 21:07] spadgett commented on #2361
It's still a problem, although it's probably less likely to occur now. You have to have your mouse over the (?) icon just as the content loads.

[2015-05-29 22:01] mrunalp commented on #1707
@jpechane Could you give more details? I created a redis pod with a redis container specifying the containerPort. I then created a redis-service and a DNAT rule was created as expected. Next, I docker kill'ed the redis container, but the service DNAT rule was still present.

[2015-05-29 23:25] ncdc commented on #2604
I think we're ultimately basically on the same page, and I see your point that it's useful for a client to be able to request a build of a specific revision.

We're not currently ever modifying BuildConfig...Revision, even via the BuildRequest. The BuildGenerator takes the Revision from the BuildRequest and sets it on the new Build, but not on the BuildConfig. So my question still stands - when a

[2015-05-29 23:43] smarterclayton commented on #2604
Today?  Or in the future?  In the future, build request should modify the BC and set source revision onto the spec.  That would then be propagated.  The goal is for the BC to represent the desire for a build to exist representing a set of parameters, and hooks, requests, and image changes the BC.

[2015-05-30 00:01] ncdc commented on #2604
I'd say both today (so we can fix this for 3.0) and in the future so we know what to do long term.

[2015-05-30 00:37] #2510 closed

[2015-05-30 01:16] bparees commented on #2579
https://bugzilla.redhat.com/show_bug.cgi?id=1223662

[2015-05-30 01:25] bparees commented on #2604
keep in mind a level driven solution loses one of the current behaviors which is that you're guaranteed a build for every image change (or code change), not just the last one.  It sounds like we're ok losing that behavior, but it's an important distinction imho.

[2015-05-30 01:40] smarterclayton commented on #2604
Beyond just release risk there's also the slightly unusual behavior of the API.  I'd also want to discuss how we do build queuing in the new model.

[2015-05-30 08:10] #2598 closed

[2015-05-30 08:12] ianmiell opened #2615 "Docker standup and auth"
There doesn't seem to be a master.yaml or a way of restarting the docker openshift standup - is this intended/a consequence of the design?

[code]

[2015-05-30 16:49] derekwaynecarr commented on #2579
I guess my fedora 21 and docker 1.6 Kube setup did work and it was just the image that was the problem.  I am ashamed to say how much time I spent trying to debug this exact same issue.

Sent from my iPhone

[2015-05-30 17:16] ncdc commented on #2579
There is a tmpfs issue with our Docker RPM, and our hello-openshift binary needs to be built statically. Once both of those are fixed, the image will work again.

Sent from my iPhone

[2015-05-30 17:18] derekwaynecarr commented on #2579
Do you know if this affects many other images?  I had a pull to migrate upstream Kube vagrant setup to F21 and docker 1.6, but found issues with this and with selinux mounting /usr which we do with Kube-apiserver pod.

Sent from my iPhone

[2015-05-30 17:34] ncdc commented on #2579
The tmpfs issue appears to affect images built from scratch that are single binary images without a tmp dir (I think). Not sure what other images may have issues. I'd talk to Dan Walsh about the /usr selinux issues.

Sent from my iPhone

[2015-05-30 18:45] derekwaynecarr commented on #2540
Since I have done this same thing as well, I agree current behavior can be confusing.  Is there a benefit to ever having more than one registry?   Should the server reject creation of one if not in desired namespace per configuration?

[2015-05-30 18:57] danmcp commented on #2550
We do have osc stop today.  Which is essentially a shortcut to osc scale 0 (was osc resize).  And to restart you would do an osc scale 1 (or more).  If your use case is to restart a single container or maybe pod that belongs to a scaled up replication controller it doesn't exist yet.  It's possible targeted pod restart will be added at some point for debugging/development purposes.  But the genera

[2015-05-30 22:04] derekwaynecarr commented on #2601
I have issues with all 3 options.  What should happen with uid?

Sent from my iPhone

[2015-05-31 01:03] bparees commented on #2579
@ncdc are you saying we need to do "go build -ldflags '-d'" to construct the binary?

I tried that and now i just get a cryptic:
$ docker run hello
FATA[0002] Error response from daemon: : exit status 2

but perhaps that's progress.

[2015-05-31 01:06] derekwaynecarr commented on #2579
Ben I had seen both errors in my own use.  It appeared to be related to whether it was after a first pull of the image, or a subsequent run for me which made no sense at the time.

Sent from my iPhone

[2015-05-31 01:17] derekwaynecarr commented on #2583
Annotation or label?  Seems like we could have a namespaced label and if there it would be a simple label selector query

Sent from my iPhone

[2015-05-31 01:22] pmorie commented on #2583
I was thinking annotation because there's already an annotation.
On Sat, May 30, 2015 at 9:17 PM Derek Carr <notifications@github.com> wrote:

[2015-05-31 01:24] derekwaynecarr commented on #2583
Prefer label.  Seems like a good use case for a label to be honest.

Sent from my iPhone

[2015-05-31 01:46] derekwaynecarr commented on #2370
Assume you mean the image is pulled, container starts and has an issue.  In that case, if pod is restart never, pod is failed in next Kubelet synch loop (about 10s).  If pod is restart on failure, then never.  If pod is restart always, then never.

Sent from my iPhone

[2015-05-31 02:42] bparees commented on #2604
@ncdc the cache staleness issue could be solved by doing an explicit get of the BuildConfig for "well qualified" BuildConfigs that we find in the cache, before concluding shouldBuild=true.  What do you think?

[2015-05-31 02:53] thesteve0 commented on #2390
The new-app command is abigious on this. I tried the --template and pointed to a local file and it barfs. Not what I expected. please make sure everything can be executed based on local files

[2015-05-31 03:00] thesteve0 opened #2617 "New app doesn't work with local directory and Dockehub STI PHP image"
spousty@localhost sampleapp$ osc version
osc v0.5.3
kubernetes v0.17.1-804-g496be63

Trying to demonstrate a simple flow. I copied the test app from the PHP STI image repo onto my local machine.

spousty@localhost sampleapp$ ls
composer.json  index.php

I then try a bazillion different ways to start this with the PHP STI builder image
https://registry.hub.docker.com/u/openshift/php-55-centos7/

Al

[2015-05-31 03:35] smarterclayton commented on #2390
Did you pass -f?

[2015-05-31 03:58] liggitt commented on #2601
ok, I like option 1 the best now.

[2015-05-31 04:04] #2574 closed

[2015-05-31 04:52] smarterclayton commented on #2601
The code should be rejecting name changes

[2015-05-31 04:53] smarterclayton commented on #2601
That was the original intended behavior (and may have even worked, briefly)

[2015-05-31 05:13] soltysh commented on #2604
I'm backing @bparees idea of enot changing the behavior where each change (source/image) triggers a build. IMHO we should focus on fixing the cache or its contents. Is there a chance to invalidate value from the cache, that would allow us to use @bparees's idea of "well qualified" BC. Eventually we could force update of a value in cache, but that's too much overkill, because we'd do that for every

[2015-05-31 12:07] csrwng commented on #2390
new-app doesn't handle local files for templates. That fix is in my PR for this issue (along with other fixes) which should be in on Monday. It will work with the --file or -f param.

[2015-05-31 12:25] ncdc commented on #2604
That could certainly work. Let's talk tomorrow.

Sent from my iPhone

[2015-05-31 12:26] ncdc commented on #2604
You can't invalidate the cache easily across multiple controllers (HA setup).

Sent from my iPhone

[2015-05-31 15:26] thesteve0 commented on #2390
Then why is that the first example in the help? Please document properly in
new-app

On Sun, May 31, 2015 at 5:07 AM, Cesar Wong <notifications@github.com>
wrote:

[2015-05-31 15:56] smarterclayton commented on #2617
The message isn't great, but it's looking for you to give it a remote URL to your repo.  If you have a local repository, the builder can't pull from it, but if you had an "origin" set locally it should use that.  If your local source doesn't have a remote (origin, upstream) then you'll get this error.  Is that the case?

[2015-05-31 18:23] derekwaynecarr commented on #2601
I am good with 1 as well.

[2015-05-31 19:37] ianmiell commented on #2615
Ah, loading up the Vagrant equivalent of the Docker standup and there appears to be no master.yaml there either, so I'm guessing that this is a part of OSEv3, not the upstream.

[2015-05-31 19:37] #2615 closed

[2015-05-31 19:40] mfojtik commented on #2390
this works because I changed it to be in the suggested format (see my
migration PR)
On May 20, 2015 20:47, "Clayton Coleman" <notifications@github.com> wrote:

[2015-05-31 19:50] liggitt commented on #2615
You can generate a config using `openshift start --write-config=<output dir>`, but the docker and vagrant envs just run directly from the command line.

[2015-05-31 20:25] sdodson commented on #1921
I think we're just leaking something. Leave chrome sitting for five minutes on a project overview and the heap utilization goes from 40mb  to 70mb after collections.

I tried to follow https://developer.chrome.com/devtools/docs/javascript-memory-profiling#object-allocation-tracker but I got a bit lost trying to figure out what's creating them but I think we're leaking HTMLAnchorElement objects?

[2015-06-01 00:11] smarterclayton commented on #2583
This is just variants of osc get image streams.  The columns for an IS should show this info.

[2015-06-01 07:36] miminar opened #2618 "URL of generic webhook copied to clipboard lacks secret on build page"
On web console with URL https://os-master.miminar.local:8443/console/project/wiring/browse/builds
a generic webhook's URL stored to clipboard with a button click is invalid because it lacks secret:

    https://os-master.miminar.local:8443/osapi/v1beta1/buildConfigHooks/ruby-sample-build//generic?namespace=wiring

Correct URL which is exposed with a click on "Show URL" is:

    https://os-master.m

[2015-06-01 08:44] rhuss opened #2619 "Duplicate CORS headers when proxying service requests"
When a proxied backend set CORS headers on their own, they get not removed when the OpenShift proxy sets his `Allow-Origin` header. This results in duplicate headers, which makes the browser croak.

It seems, that this [code](https://github.com/openshift/origin/blame/945fb793cf68ba3836a75239b14b05fcbe44427a/pkg/util/httpproxy/upgradeawareproxy.go#L249-L256) is not called when doing a proxy request

[2015-06-01 08:56] mfojtik commented on #2618
@mnagy PTAL

[2015-06-01 08:57] mfojtik commented on #2617
@jhadvig PTAL (improving the error message)

[2015-06-01 09:04] kargakis commented on #2463
@danmcp I still get 1.3.3 for go and 1.4 for docker when running vagrant on the latest master...

[2015-06-01 09:30] rhcarvalho opened #2622 "`osc <command> --help` printing to stderr"
This will print usage information to stdout and we can pipe it through `less` just fine:

    osc --help | less                  # ok

However, the following won't work as expected:

    osc new-app --help | less          # not ok

I believe we should be always printing help messages to stdout as per the [GNU coding standard](http://www.gnu.org/prep/standards/html_node/_002d_002dhelp.html), unless

[2015-06-01 11:11] ajacobs21e commented on #2330
Sounds good thanks @spadgett

[2015-06-01 11:33] thesteve0 commented on #2617
The real problem in this narrow case is that the doc shows using a local
example but then doesn't work.

The larger problem is that there is a requirement for my source to be in a
git repo. Why can't I just use a local source folder?

On Mon, Jun 1, 2015 at 1:57 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-06-01 12:35] deads2k opened #2624 "builder images matches docker credentials differently"
The Kubelet matches docker credentials based on docker keyring logic that includes partial matches.  The builder images does not.  It should be updated.  See https://github.com/openshift/origin/blob/master/pkg/build/builder/cmd/dockercfg/cfg.go#L62  and https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/credentialprovider/keyring.go#

[2015-06-01 12:39] deads2k commented on #2601
Option 1 is fine, but why is the UID for creation any more complicated than clearing it?  Shouldn't the API server do that automatically anyway?

[2015-06-01 12:41] sosiouxme commented on #2482
https://github.com/openshift/origin/pull/2569 prevents skydns from resolving stuff it shouldn't. So this should be working now; @TomasTomecek can you verify?

Shortly, we will switch from having kubernetes insert skydns as the first resolver, to the expectation that nodes will have it at the top of their /etc/resolv.conf (which docker already passes on to nodes). This way, kubernetes pods, builder

[2015-06-01 12:49] smarterclayton commented on #2601
I just don't want to add it yet.  We can come back to it post 3.0

[2015-06-01 12:52] mfojtik commented on #2624
we have this logic already in https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L346 for ServiceAccount secrets... This matching is done only when you manually specify the PushSecret or PullSecret which in that case there is (IMHO) no need to go via keyring.

[2015-06-01 12:52] rhcarvalho opened #2625 "Improve error message in `osc new-app`"
[code]
Apparently `new-app` did not detect that the repo contains a Python app. I'd expect the message to be more clear about that.

[This](https://github.com/openshift/origin/blob/2e53c1fe514ebecdeb7b9eda526c747c9dcbb54e/pkg/generate/app/cmd/newapp.go#L506) is the line reported in the error message.

`new-app` works fine if I prefix the repo with a Python image:

[code]

[2015-06-01 12:52] smarterclayton commented on #2617
See my email.

[2015-06-01 12:53] rhcarvalho commented on #2594
@smarterclayton @bparees PTAL

[2015-06-01 12:55] pweil- opened #2626 "Security Context Constraints"
This issue tracks items for SCCs that are lower priority than the go path use case for 3.0.  Add items here that need addressed but are not must-haves for launch.

HostNetworkSources - migrate into SCC from capabilities.go

related PR https://github.com/openshift/origin/pull/2609

[2015-06-01 12:55] pweil- commented on #2626
The only piece that requires kubelet information to work would be the use case of "run as non-root" but not having preallocated uids.  In this case, the user may submit a pod with no `RunAsUser` specified and be expecting the image to container a `USER` directive that the kubelet would need to check and ensure is non-root.  If that use case is not required then we're fine with not changing the kub

[2015-06-01 12:56] deads2k commented on #2624
I'm not very familiar with the build code paths, but this looks like it would allow me to create a pull secret that works for regular image pulls, but fail when using it for a build because it matches URLs differently.  Is that not the case?

[2015-06-01 12:57] mfojtik commented on #2624
@deads2k yeah, I will rework that to use the same pattern as we use in generator (just with one secret)

[2015-06-01 12:57] deads2k commented on #2624
(I stumbled onto this when I realized that the deserialization path doesn't match the kube deserialization path: https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/credentialprovider/config.go#L159 .  I figured you'd get both at once, but I can make a new issue if you prefer.

[2015-06-01 12:57] markturansky commented on #2433
See https://github.com/GoogleCloudPlatform/kubernetes/pull/9055

[2015-06-01 13:02] smarterclayton commented on #2594
Constants should be CamelCase (type), fields should be camelCase

[2015-06-01 13:15] danmcp commented on #2463
@kargakis And you ran

`vagrant box remove fedora_inst`

before vagrant up on a new instance?

Are you running with DEV_CLUSTER?  If so you would instead want to run:

`vagrant box remove fedora_deps`

[2015-06-01 13:15] brenton commented on #2348
@smarterclayton, The short of this seems related to the design discussions in Kubernetes about watches timing out after 5 minutes and requiring clients to reconnect and resume where they left off.

Shouldn't we have `osc log` work that way and handling reconnecting behind the scenes?

[2015-06-01 13:18] smarterclayton opened #2628 "1.0 Punch List"
Items that must be complete prior to 1.0.  Items on this list should be expanded to issues and then self-assigned and linked to this issue.  In rough priority order.

* [x] rename `osc` to `oc` and `osadm` to `oadm` (https://github.com/openshift/origin/pull/2900)
* [x] enable registry authentication (Andy)
* [x] add descriptions to all v1 API resource fields across all APIs (#2632)
* [x] generate

[2015-06-01 13:25] smarterclayton commented on #2348
Hrm.  We don't have a great story about this today.  I don't want to leave connections open forever, 5 minutes is arbitrarily chosen, but reasonable.

----- Original Message -----

[2015-06-01 13:49] brenton commented on #2348
@smarterclayton, If we aren't going to address this in Origin my vote would be to close this and either open a card or use the upstream issue I filed to track the work in Kubernetes.  Originally I thought this was related to the Apache proxy in front which is why I grabbed it.  Feel free to re-open this if you think otherwise.

[2015-06-01 13:49] #2348 closed

[2015-06-01 13:49] ncdc commented on #2628
Enable registry authentication?

[2015-06-01 13:52] rhcarvalho commented on #2594
I'm referring to what end up as values for trigger types in JSON.
BuildConfigs and DeploymentConfigs' triggers differ in how their trigger names are capitalized.

@smarterclayton if we take [one template JSON file](https://github.com/openshift/origin/blob/b690eb9f8fb61f1c8d2c86f8c611f8a3248a9458/examples/sample-app/application-template-stibuild.json) as example:

[code]

Why one trigger is called

[2015-06-01 13:53] smarterclayton commented on #2594
----- Original Message -----

This is a bug in build configs, but needs to be handled only in v1beta3 (via a conversion) and @liggitt needs to be aware.

[2015-06-01 13:56] liggitt commented on #2594
@spadgett fyi if a fix for this happens in v1beta3, we need to update the UI here:
[code]

[2015-06-01 14:07] liggitt commented on #2619
That code only applies when OpenShift is proxying to an external Kubernetes.
When Kube itself is proxying a pod, it needs to do something similar. That needs to happen in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/rest/proxy.go

@csrwng

[2015-06-01 14:11] derekwaynecarr opened #2632 "add descriptions to all v1 API resource fields across all APIs"
https://github.com/openshift/origin/issues/2628

~~"github.com/openshift/origin/pkg/authorization/api/v1" (see pr)~~
~~"github.com/openshift/origin/pkg/build/api/v1" (see pr)~~
~~"github.com/openshift/origin/pkg/deploy/api/v1" (was already good)~~
~~"github.com/openshift/origin/pkg/image/api/v1" (see pr)~~
~~"github.com/openshift/origin/pkg/oauth/api/v1" (see pr)~~
~~"github.com/openshift/origin/p

[2015-06-01 14:16] ncdc opened #2633 "osadm registry --mount-host should require absolute paths or convert relative to absolute"

[2015-06-01 14:18] rhcarvalho commented on #2594
It's not clear to me what would be the right trigger names in JSON.

1. github, generic, imageChange, configChange
2. Github, Generic, ImageChange, ConfigChange
3. gitHub, generic, imageChange, configChange
4. GitHub, Generic, ImageChange, ConfigChange

1, 2, 3 or 4? ([GitHub](https://help.github.com/) is spelled with capital H)

[2015-06-01 14:20] anderssv opened #2634 "Not able to label services"
I'm creating a service (amongst other things), and trying to add labels to it to ease cleanup. Most items support metadata->labels, but this does not seem to work on services? Running on 0.5.3.

Template:
[code]

After osc create I get:
[code]

So obviously no labels here, I try to delete just to be sure:
[code]

[2015-06-01 14:26] bparees commented on #2594
@rhcarvalho sounds like @smarterclayton wants Generic, ImageChange, ConfigChange and I guess we better do GitHub.

so 4.

[2015-06-01 14:45] sosiouxme commented on #2433
Tested with https://github.com/GoogleCloudPlatform/kubernetes/pull/9055 and it works!! Thanks @markturansky Now we just need to get that merged and rebased into Origin.

[2015-06-01 14:48] TomasTomecek commented on #2482
We disabled skydns by removing it from master config (as suggested by @csrwng). I guess that I can verify this (but since this wasn't happening always, it will be hard to do).

[2015-06-01 14:50] markturansky commented on #2433
Glad to hear that was the fix.  Between this, a number of other upstream PRs, and the new recycling stuff, we've got quite a bit to get merged upstream and rebased downstream.

[2015-06-01 14:50] kargakis commented on #2625
new-app currently doesn't support detecting Python source code.

[2015-06-01 14:55] ironcladlou opened #2637 "Support canary for rolling deployments"
During rolling deployment, a canary check should be performed for the first new replica to avoid rolling out a bunch of broken replicas. Wait for the first replica, and fail the deployment if the pod doesn't start successfully.

Outstanding design issues:

* Should there be a distinct timeout on `RollingDeploymentStrategyParams` for the canary check? The only possible existing parameter which coul

[2015-06-01 14:58] ironcladlou opened #2638 "Recreate deployment strategy should scale down before scaling up"
Today, the recreate deployment strategy scales up before scaling down, which makes it essentially same as a rolling deployment. Instead, the recreate strategy should scale down and then scale up.

Punch list item for https://github.com/openshift/origin/issues/2628.

[2015-06-01 14:58] derekwaynecarr commented on #2366
The issue is fixed as noted.  I do not have a close button.

[2015-06-01 14:59] ironcladlou opened #2639 "Recreate deployment strategy should support a third intermediate hook"
Once the recreate strategy scales in the correct order (https://github.com/openshift/origin/issues/2638), it should support a third hook which executes after the scale down but before the scale up.

Punch list item for https://github.com/openshift/origin/issues/2628.

[2015-06-01 15:08] #1287 closed

[2015-06-01 15:33] rhcarvalho opened #2640 "Unprocessed template output in web UI pages"
![selection_015](https://cloud.githubusercontent.com/assets/88819/7916425/02758512-0884-11e5-8091-9817508a37fe.png)

@liggitt FYI

[2015-06-01 15:44] deads2k opened #2642 "ruby new-app cannot find image using v1beta3"
Be sure you have https://github.com/openshift/origin/pull/2641

[code]

The command succeeds, but the deployment is never created and I see these messages in the master log every 60 seconds or so:
[code]

@ironcladlou @csrwng

[2015-06-01 15:44] kargakis commented on #2463
I can confirm that the versions are updated :+1:

[2015-06-01 15:48] deads2k commented on #2642
The replication controller is created if you have new-app use `v1beta1`.  I suspect the problem is due to a missing tag on an image stream,

This for v1beta3
[code]

versus this for v1beta1
[code]

@ncdc Just in case something occurs to you.

[2015-06-01 15:51] liggitt commented on #2640
[code]

[2015-06-01 15:52] abhgupta commented on #2370
@sosiouxme @ironcladlou PTAL

[2015-06-01 16:15] #2549 closed

[2015-06-01 16:16] pravisankar opened #2643 "Create osc add-volume cmd that adds things to a pod template"
#2628

[2015-06-01 16:19] akostadinov commented on #2118
There were some issues with SDN and something else last week. Not sure if those were fixed. In any case, having your machines started automatically and managed from one place is much more convenient than spawning machines by yourself and doing manual preparations on them before you can get to automated setup. So I don't think ansible is solving this problem. Actually ansible could be made part of

[2015-06-01 16:58] ncdc commented on #2642
The output from v1beta3 actually looks more correct to me. From the v1beta1 output, it's creating an image reference to a repo on the Hub called ruby-hello-world (library is implicit).

What does generated BuildConfig look like?

[2015-06-01 17:16] deads2k opened #2646 "add osadm policy view commands for easier management"
`osadm policy` commands allow easy mutation of rolebindings, but do not provide functionality for:
 1. viewing bindings
 1. viewing roles
 1. mutating roles
 1. viewing your powers

@liggitt p3?

[2015-06-01 17:27] brenton opened #2647 ""osadm router --dry-run" not working"
If you haven't created the router yet this is what you see:
[code]

[2015-06-01 17:36] rhcarvalho commented on #2640
For I don't know what reason I'm not observing that anymore... if nobody can reproduce it we can close this issue.

[2015-06-01 17:37] liggitt commented on #2640
we can't reproduce... closing, can reopen if you see it again

[2015-06-01 17:37] #2640 closed

[2015-06-01 17:39] joeburke30 opened #2648 "OSC GET <multiple elements>"
osc get pods,services,routes,dc,bc
PRODUCES:
NAME      TYPE      SOURCE
NAME      TRIGGERS       LATEST VERSION
router    ConfigChange   2
POD              IP         CONTAINER(S)   IMAGE(S)                                                                 HOST                                      LABELS                                                      STATUS    CREATED
router-2-wcjjz   10.1.0.2

[2015-06-01 17:39] deads2k opened #2649 "404 error is too generic"
The error message for a 404 comes back as "the server could not find the requested resource".  That message should include the URL being requested.

@liggitt can you assign to me?

[2015-06-01 17:40] joeburke30 opened #2650 "Cannot add more than one label when creating app"
in UI only,   Can only add one label.   Would like to be able to add multiples.

[2015-06-01 17:41] liggitt commented on #2650
should be able to add multiple

[2015-06-01 17:44] rhcarvalho opened #2651 "Can't get favicon.ico in openshift dev server"
I'm running OpenShift in VirtualBox with:

    sudo /data/src/github.com/openshift/origin/_output/local/go/bin/openshift start --public-master=localhost

Looking at Chrome's console:
GET https://localhost:8443/favicon.ico 403 (Forbidden)

I'd expect to get 404 if the file didn't exist, not 403?

@liggitt FYI

[2015-06-01 17:48] rhcarvalho opened #2652 "Web files served with wrong MIME types"
When I browse to a page like "https://localhost:8443/console/project/demo2/create", Chrome's console shows:

[code]

@liggitt FYI

[2015-06-01 17:51] deads2k commented on #2642
The build actually works correctly, but `v1beta1` creates the tag ahead of time (before the runs) and `v1beta3` does not.  That causes the deployment controller to print that message in the `v1beta3` case.  After the build is run, the tag is created and the depoyment controller is happy.

[2015-06-01 18:00] ncdc commented on #2642
@deads2k there are 2 issues with the v1beta1 output:

1. Setting spec.tags[0].name=latest does nothing and is not needed (but it's harmless)
2. Setting status.tags[latest].items[0] to what it's doing above is incorrect. It is correct to have 0 tags until an image has been pushed, at which point there should be 1.

[2015-06-01 18:02] deads2k commented on #2642
Ok, so `v1beta3` is working correctly and `v1beta1` is behaving incorrectly?  I light of that, I will update `hack/test-cmd.sh`.

[2015-06-01 18:05] ncdc commented on #2642
@deads2k well... you said in the description that the deployment is never created. Is that still the case?

[2015-06-01 18:06] deads2k commented on #2642
After running the build, the deployment is created.

[2015-06-01 18:09] liggitt commented on #2651
We don't serve a favicon. Any urls not explicitly whitelisted return a 403.

[2015-06-01 18:11] liggitt commented on #2651
I don't think we want to whitelist a URL just to change a 403 to a 404... does the 403 cause any problems?

[2015-06-01 18:13] detiber opened #2655 "SDN conflicts with node self-registration"
When configuring a previously unregistered node with the sdn plugin enabled, the openshift-node process times out waiting for an assigned sdn subnet.

The node should attempt to self-register before initializing the sdn plugin, or at least not fail to reach the self-registration step before failing when an sdn subnet is not present.

[2015-06-01 18:14] ncdc commented on #2642
Which makes sense. Did the build not start automatically?

[2015-06-01 18:15] liggitt commented on #2652
application/font-sfnt is correct for TTF:
http://www.iana.org/assignments/media-types/application/font-sfnt

we should fix the config.js type

https://localhost:8443/console/%7B%7Bicon%7D%7D is returning html, so the mime-type is correct. I'm more interested in what is making Chrome request that URL, since it looks like an angular template that didn't get filled in correctly.

[2015-06-01 18:18] bparees commented on #2604
Working around this by double-checking the imageid value before launching the build here:
https://github.com/openshift/origin/pull/2654

lowering this to p3 so we can come back and do the refactor of the algorithm post 3.0.

[2015-06-01 18:22] spadgett commented on #2652
@liggitt We should be using `ng-src` to specify the icon `src` in `_custom-icon.html`.

https://docs.angularjs.org/api/ng/directive/ngSrc

[2015-06-01 18:22] rhcarvalho commented on #2651
I thought it could be this https://github.com/openshift/origin/blob/master/assets/app/favicon.ico...

Apart from semantics, I believe 403 cause no problems. If we do return 403 to all non-whitelisted URLs, then I agree we should not change it :-)

[2015-06-01 18:23] deads2k commented on #2642
No, is it supposed to?

[2015-06-01 18:25] ncdc commented on #2642
@csrwng ^^^^ ?

[2015-06-01 18:30] rettori opened #2656 "Add example command to connect to jboss-eap cli on the pod window"
In the pods window, if a pod is running jboss-eap, there should be a list of example commands one could use inside that pod, like how to access the jboss-cli.

[2015-06-01 18:34] bparees commented on #2593
if it's not a 3.0 item it should be p3.  But I think @mfojtik has started a fix for this anyway.

[2015-06-01 18:35] detiber commented on #2655
@rajatchopra @mrunalp

[2015-06-01 18:36] mfojtik commented on #2593
@bparees this is post-3.0... my fix is just temporary and we will eventually get something more intelligent in future :-)

[2015-06-01 18:36] bparees commented on #2617
@thesteve0 did the email thread resolve this for you?

[2015-06-01 18:37] kargakis commented on #2625
@smarterclayton @csrwng we should probably hardcode all of our images in our searcher for now until [this](https://github.com/openshift/origin/blob/6f3776993b7ac4b6c2340878f0e79f85ddc0648a/pkg/generate/app/builder.go#L27) happens.

[2015-06-01 18:38] smarterclayton commented on #2625
If rather fix the problem since its on the punch list

[2015-06-01 18:46] rajatchopra commented on #2655
Race condition here. We cannot start the openshift-sdn after registration because registration happens inside 'kubelet'.
Only quick solution I see is setting RegisterNode = false in kubelet and auto-register in ansible itself.

[2015-06-01 18:47] liggitt commented on #2651
@sg00dwin can you look into referencing the favicon we make available under the console context root in the index.html `<head>`? not sure that will prevent all browser requests to `/favicon.ico` but it might help.

[2015-06-01 18:48] liggitt commented on #2652
when you fix that, can you sweep for any other places we're setting `src` incorrectly?

[2015-06-01 18:52] fabianofranz opened #2657 "'openshift cli' must support the '<cmd> help <subcmd>' syntax for displaying help"
[code]

[2015-06-01 19:12] deads2k opened #2659 "make osc logs support builds"
Most `osc` commands use the resource builder format for arguments that looks like `resourcetype/name`, but `osc logs` does not.  It only respects pods, but it's very natural to try `osc logs builds/my-build` only to get a forbidden error about a non-existent subresource.

@bparees please tag appropriately.

[2015-06-01 19:53] thesteve0 commented on #2617
No - the doc needs to be cleared up. Do you want me to do it - just point
me to the source file to change for the -help flag on new-app

On Mon, Jun 1, 2015 at 11:36 AM, Ben Parees <notifications@github.com>
wrote:

[2015-06-01 19:58] thoraxe opened #2665 "can't hide details tab in console"
It would be nice if there was an "x" or some kind of button to hide the details tab in the console. I'm fine with it being open by default but I would think that tab/area would get annoying if I had a complicated project with lots of components.

[code]

[2015-06-01 20:22] rawlingsj opened #2667 "Is it ok to use docker push via the router on the OpenShift registry?"
Should it be possible to to a plain `docker push` of a custom image to the OpenShift private registry via a route and then run it?

I've got a route set up to a service from port 80 to 5000 so I can push an image successfully from my laptop to a cloud hosted.  When I try to run the image however it doesn't seem to find the imageStream unless I specify the service ip and port in the image name.

[c

[2015-06-01 20:29] liggitt opened #2669 "`osadm policy who-can` should indicate which namespace permissions are shown for"
Current output:
[code]

More helpful output:
[code]

[2015-06-01 20:40] #1721 closed

[2015-06-01 20:43] ncdc commented on #2667
You can do this, but not with an RC (which, as you've seen, requires a full image reference). You'll need to use a DeploymentConfig with an ImageChange trigger. See https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-stibuild.json#L195-L207 for an example.

[2015-06-01 20:45] thesteve0 opened #2670 "osc expose needs to add host option and the doc needs fixing"
the osc expose command should allow me to add the host in the command. For example:
osc expose apache -h www.example.com

should add the following metadata to the route

"spec": {
                "host": "www.example.com",
                "to": {
                    "kind": "Service",
                    "name": "apache"
                },

There is also some issues with the current doc.

The doc

[2015-06-01 20:48] bparees commented on #2617
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/newapp.go

[2015-06-01 20:50] rawlingsj commented on #2667
ah great, thanks @ncdc

[2015-06-01 20:50] #2667 closed

[2015-06-01 21:25] rajatchopra commented on #2655
The other way is to register the node in OpenShift itself. Copy this code and execute outside of kubelet -
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L732-L769

@smarterclayton your opinion needed here.

[2015-06-01 21:26] fabianofranz opened #2672 "new-app needs search/list functionality"
From the 1.0 Punch List https://github.com/openshift/origin/issues/2628.

[2015-06-01 21:28] fabianofranz commented on #2672
@smarterclayton @danmcp I'll start drawing a proposal for the command design (args, flags, etc). Feel free to fill if you have anything in mind already.

[2015-06-01 21:51] smarterclayton commented on #2672
I believe the original commit had examples

[2015-06-01 22:11] smarterclayton commented on #2628
Run-ats:

* Support a global setting (defaults to true for dev, false for ansible) that binds EmptyDir volumes to PVCs - enables devs to always use PVCs and see useful value
* Images should include metadata about which volumes need to survive restart - new-app and UI should take that into account
* All templates should have EmptyDir volumes and that metadata

[2015-06-01 22:13] smarterclayton commented on #2655
The kubelet should start first, openshift-sdn should not allow pods to be created until a subnet is bound.  Once a subnet is bound openshift-sdn shouldn't have to check again.

[2015-06-01 22:26] abhgupta commented on #2370
PR https://github.com/openshift/origin/pull/2613 is merged, closing issue.

[2015-06-01 22:26] #2370 closed

[2015-06-01 22:50] mrunalp commented on #1607
I think we can close this issue. We have iptables rules in the setup that should prevent this from happening. If anything else comes up, we can modify the setup script to add those rules as well.

[2015-06-02 00:19] thesteve0 commented on #2617
Fixed go ahead and close

On Mon, Jun 1, 2015 at 1:48 PM, Ben Parees <notifications@github.com> wrote:

[2015-06-02 03:07] #2617 closed

[2015-06-02 03:34] derekwaynecarr commented on #2233
Fix bug in quota describe output:
https://github.com/GoogleCloudPlatform/kubernetes/pull/9099

[2015-06-02 03:41] markturansky commented on #2233
Just a few.

https://github.com/GoogleCloudPlatform/kubernetes/pull/9069 (bug fix)
https://github.com/GoogleCloudPlatform/kubernetes/pull/9018 (PV Recycler)
https://github.com/GoogleCloudPlatform/kubernetes/pull/9020 (PV Recycler)
https://github.com/GoogleCloudPlatform/kubernetes/pull/9021 (PV Recycler)
https://github.com/GoogleCloudPlatform/kubernetes/pull/9024 (PV Recycler)

[2015-06-02 04:23] thesteve0 opened #2675 "JavaScript in the sample-app is incorrect"
In the latest version of sample-app it looks like the route only works over https. The problem is that in the javascript that does all the form interactions the code uses http.

    xmlHttp.open( "POST", "http://"+window.location.hostname+":"+window.location.port+"/keys/"+document.getElementById("key").value, false );

in latest chrome and FF this causes a mixed content error - which prevents the

[2015-06-02 06:10] #2283 closed

[2015-06-02 06:15] liggitt commented on #2633
I'd prefer converting to absolute

[2015-06-02 07:18] jacobkiers commented on #2463
Yes, removing and reinstalling the fedory box also worked for me.

[2015-06-02 08:20] kargakis commented on #2670
The help doc is baggage from [Kubernetes](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_expose.md) but I hope we can remove the defaults at least.

The `--port` flag is required for exposing services (`--generator=services/v1`), routes don't need any port specified.

" --name='': The name for the newly created service."

That message should be generic (*The name for th

[2015-06-02 09:03] rawlingsj commented on #2667
This worked perfectly.  Thank you.

[2015-06-02 09:52] anderssv opened #2680 "osc process fails with pipe"
This command works:

```$ osc process -f application-template-dockerbuild.yaml | osc create -f -```

While doing a pipe to osc process fails:

[code]

On 0.5.3 . I'm guessing this is because it's yaml?

[2015-06-02 11:03] #2593 closed

[2015-06-02 11:08] mfojtik commented on #2593
@bparees we can keep this closed for how, I created trello card to track this: https://trello.com/c/HcTaBOvI/589-make-push-retries-more-intelligent-future-build

[2015-06-02 11:14] kargakis commented on #2670
Opened this issue upstream which will solve the problem with the help doc if fixed: https://github.com/spf13/pflag/issues/28

[2015-06-02 11:31] mfojtik commented on #2680
@anderssv there should be no difference between JSON and YAML, this seems like the template has some syntax problem... are you able to create it without using pipe? (`osc process -fapplication-template-dockerbuild.yaml`)

[2015-06-02 12:16] thoraxe commented on #2159
@bparees I thought the whole purpose of `.sti/environment` was exactly for having environment variables during the build process?

[2015-06-02 12:19] anderssv commented on #2680
@mfojtik yes, it works without the pipe. I see I have a space in my command (first command in the first comment) after '-f', but that should make no difference? Retested, so it seems to be working without the space here too.

[2015-06-02 12:23] spadgett opened #2683 "Deprecation warning from moment.js"
I see this warning in the Chrome dev tools console from time to time. This time I was starting a build in the Web Console.

[2015-06-02 12:41] mfojtik opened #2685 "The osc edit shows errors on non-existing lines"
When I `osc edit` something and I make a mistake the comment on top gives me the exact line in the YAML where I made the mistake... However it reads the original content from server and all my changes are lost (first problem) and it points me to line that does not exists...

[2015-06-02 12:41] mfojtik commented on #2685
@smarterclayton @kargakis FYI

[2015-06-02 12:58] kargakis commented on #2295
@smarterclayton updating a dc by removing its triggers may trigger a new deployment right? So what happens in the meantime and until that new deployment propagates to the system?

Another question is shouldn't the dc reaper delete all the deployments of a config instead of just the latest?

[2015-06-02 13:10] smarterclayton commented on #2295
It should not.  If it does, that's a big.

Yes, if you're deleting a DC all rc should get removed.

[2015-06-02 13:13] smarterclayton commented on #2685
What actual mistake did you make?

[2015-06-02 13:15] thoraxe opened #2687 "cli quota display doesn't adjust to units"
[code]

[code]

[2015-06-02 13:31] mfojtik commented on #2685
@smarterclayton indentation error (i hope)

[2015-06-02 13:39] mfojtik opened #2689 "Make descriptions for template parameters more meaningful"
Current we have descriptions like this:

[code]

Since we want to display this to users the descriptions should be more informative and capitalized (otherwise they look pretty ugly in UI).

[2015-06-02 13:39] mfojtik commented on #2689
@bparees @soltysh @mnagy FYI

[2015-06-02 13:42] bparees commented on #2689
@mnagy since you're updating the templates can you take this?  thanks.

[2015-06-02 13:42] ncdc commented on #2579
@bparees either build with `-tags netgo` or install glibc-static prior to building.

[2015-06-02 13:43] spadgett commented on #2689
Was just about to open this. Here's what it will look like in the UI if we always show template parameters:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7937062/9e273b54-090b-11e5-9ef7-f2b1911e66e0.png)

[2015-06-02 13:44] liggitt commented on #2689
@spadgett descriptions should be tighter to the field they are describing... make sure we handle super long ones well

[2015-06-02 13:45] mfojtik commented on #2689
@liggitt currently we are not validating length of description... I guess we should set some reasonable maximum value.

[2015-06-02 13:49] bparees commented on #2159
@thoraxe .sti/environment serves two purpoes:
1) provide environment to the assemble script invocation
2) provide environment to the run script invocation (app image environment)

but it does not provide environment to the STI process, and it's the STI process that's doing the docker push, not the assemble script.  Regardless it sounds like the no_proxy config needs to be set at the docker daemon

[2015-06-02 13:57] ncdc commented on #2159
I believe that Docker push/pull get proxy and DNS info from the host. I don't think there's any way to influence from a client (i.e. STI).

[2015-06-02 15:14] liggitt commented on #2650
@spadgett can you reproduce?

[2015-06-02 15:15] spadgett commented on #2650
@joeburke30 I wasn't able to reproduce. What browser are you using?

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7939335/8901bd6e-0918-11e5-8161-b9187d8442ef.png)

[2015-06-02 15:15] wshearn opened #2693 "Inconsistent resource format for osc update"
In beta 3 how you pass the resource to osc update is inconsistent depending on which flag you pass in.

[code]

[2015-06-02 15:17] kargakis commented on #2693
There is discussion upstream about removing the `--upstream` flag for now.

Btw this is dupe of https://github.com/openshift/origin/issues/1642

[2015-06-02 15:20] sdodson commented on #2693
Fixed in beta4 builds FWIW.

[code]

[2015-06-02 15:21] liggitt commented on #2689
what I really want is `displayName string` (defaults to empty and UI falls back to showing `name`) and `required bool` (defaults to false). Most of the existing `description` fields are trying to be display names

[2015-06-02 15:34] liggitt commented on #2689
https://github.com/openshift/origin/issues/2179

[2015-06-02 15:37] smarterclayton commented on #2685
If those things fail we shouldn't be requerying the server or updating what the user sent.

[2015-06-02 15:41] soltysh opened #2695 "new-build command that creates a new build"
From the 1.0 Punch List #2628.

new-build command should be similar to new-app in that it should create *just* the `BuildConfig` object.

[2015-06-02 15:42] liggitt commented on #2695
`new-build` and `start-build` are going to be easily confused

[2015-06-02 15:45] deads2k opened #2696 "osadm overwrite-policy fails in some cases"
For some reason, running `overwrite-policy` isn't creating the "image-pruner" role from this file: https://gist.githubusercontent.com/ncdc/06b0449bd42e0a26cfe0/raw/47b9f18828c0072fba5ab2d1dde2f4cda4f0cbc7/policy.json

@liggitt p2 (1?) for me.

[2015-06-02 15:45] smarterclayton commented on #2695
Use cases for new-build

* An admin wants to fork an openshift image and add a layer which is built automatically - they want to take ruby:2.0 and add a layer that adds their own custom libraries.
* A user wants to customize the DB image that they get from their ops team by adding a config file in it to change how mysql works

[2015-06-02 15:54] derekwaynecarr commented on #2634
The Kubernetes v1beta1 API did not uniformly support labeling objects across all of its object types.

You can properly use labels by using the v1beta3 syntax like the following example:

[code]

Then the label selector on delete syntax will work fine.

[2015-06-02 15:55] derekwaynecarr commented on #2634
@danmcp - can you close this issue since the problem was lack of labeling support in v1beta1 for service objects?

[2015-06-02 16:00] #2634 closed

[2015-06-02 16:11] #2558 closed

[2015-06-02 17:09] sg00dwin opened #2698 "Console UI components-block not displaying properly in IE when content is left aligned at mobile res"
![ie11-components-flex-bug](https://cloud.githubusercontent.com/assets/1874151/7941938/988e052a-0928-11e5-8483-525f432ad98a.png)

[2015-06-02 17:15] #2518 closed

[2015-06-02 17:15] liggitt commented on #2698
IE only

[2015-06-02 17:21] smarterclayton commented on #2643
Please add a description of your proposed design here before starting implementation

[2015-06-02 17:23] soltysh commented on #2443
@bparees as discussed on IRC this is currently handled, so I'm closing this.

[2015-06-02 17:23] #2443 closed

[2015-06-02 17:41] bparees commented on #2586
reassigning to @soltysh since he went ahead and fixed it already...

[2015-06-02 17:50] bparees commented on #2579
i've pushed a staticly built version that works with "docker run -v /tmp:/tmp openshift/hello-openshift"

but we still need the /tmp problem fixed to fully solve this.

for now i'll update the pod definition to define a volume for tmp.

[2015-06-02 18:15] soltysh opened #2702 "origin-version-change trips over templates"
I was trying to update https://github.com/openshift/origin/blob/master/examples/project-quota/application-template-with-resources.json which is a template where resource limits are specified using template values, like this:
[code]

This causes origin-version-change to throw following, correct error:
[code]

Still the version update should work.

@mfojtik @smarterclayton fyi

[2015-06-02 19:03] bparees commented on #2675
i think the real issue here is that the route should be an http route.

[2015-06-02 19:07] bparees commented on #2675
or you can do the fix that @liggitt suggested on your PR so it'll work for https+http.

[2015-06-02 19:40] thesteve0 commented on #2670
What about the adding a host to the route

Sent from my phone please excuse typos,  grammar, and directness
On Jun 2, 2015 5:14 AM, "Michail Kargakis" <notifications@github.com> wrote:

[2015-06-02 19:40] sosiouxme opened #2707 "osc new-app and hello-openshift"
hello-openshift doesn't declare any ports, and `osc new-app` doesn't like it.

[code]

`docker describe` on the image doesn't say anything about ports, so maybe it should. Should `osc new-app` do something more helpful here?

[2015-06-02 19:42] sosiouxme opened #2708 "`osc new-app` help for app-from-image"
Help probably needs a little updating:
[code]
OK, let's try that.
[code]

`--docker-image=myregistry.com/mycompany/mysql` does work however.

[2015-06-02 19:46] smarterclayton commented on #2702
This is why we don't do conversions on templates generally.

----- Original Message -----

[2015-06-02 19:51] deads2k opened #2709 "create an endpoint to determine if a user's permissions cover a role"
Complex commands that perform multiple actions often require numerous permissions.  It would be nice to describe the required permissions in a role and ask if a user has sufficient permissions to perform the actions.  This is different than being bound to a role.  It's more of a variation on subject access review.

[2015-06-02 19:51] bparees commented on #2579
@thoraxe please retry after 2700 merges.

[2015-06-02 19:57] thoraxe commented on #2159
@adellape see @bparees comment about what `environment` does - we need to doc that explicitly!

[2015-06-02 19:59] fabianofranz commented on #2672
[This](https://github.com/openshift/origin/commit/c1f2d2ff1ea09c8a330a1ee4b12697e74e908124#diff-27232336beeebaf3f07c4c3d487ae5c9R22) seems to be the only reference in terms of proposed syntax still in the history. There is a rough searcher initial implementation in that commit. It was later removed [here](https://github.com/openshift/origin/commit/adfd0076be22aa7b884193c807ebdf98a61ad4e5#diff-afcd

[2015-06-02 20:00] bparees commented on #2159
@thoraxe we already did... http://docs.openshift.org/latest/dev_guide/builds.html#configuring-the-sti-environment

[2015-06-02 20:11] derekwaynecarr commented on #2366
@spadgett - if you agree with the doc fix that was merged, please close this issue ;-)

[2015-06-02 20:17] liggitt opened #2712 "Project resource does not allow update"
Gets method not supported

[2015-06-02 20:28] thoraxe opened #2713 "router docs are out of date"
https://github.com/openshift/origin/blob/master/docs/routing.md

Still showing v1beta1 and the old format.

[2015-06-02 20:29] thoraxe commented on #2713
@pweil- @pmorie

[2015-06-02 20:38] csrwng commented on #2642
@ncdc @deads2k - the build wasn't starting automatically, but it will now with -> https://github.com/openshift/origin/pull/2697

[2015-06-02 20:44] bparees opened #2715 "webconsole login is broken"
https://10.192.209.11:8443/console/error?error=user_fetch_failed

[2015-06-02 20:47] csrwng commented on #2625
related to https://github.com/openshift/origin/issues/1878

[2015-06-02 20:50] csrwng commented on #2672
Related issues:
https://github.com/openshift/origin/issues/2672
https://github.com/openshift/origin/issues/2625

[2015-06-02 20:51] derekwaynecarr commented on #2048
I tested a few scenarios on latest Kubernetes:

*Scenario 1: Create a pod that references a non-existent image*

[code]

This looks correct to me, after all the image may appear soon, and if so, it should be run.  The event count is incremented forever with every kubelet synch loop, so maybe after a few weeks it could reach too big a number ;-)

**Scenario 2 - Attempt to pull an image from a non-e

[2015-06-02 21:00] liggitt commented on #2715
Caused by API prefix switch for versions prior to v1

[2015-06-02 21:28] smarterclayton commented on #2048
Awesome testing

[2015-06-02 21:34] #2715 closed

[2015-06-02 21:59] #2638 closed

[2015-06-02 22:57] #2592 closed

[2015-06-02 23:16] spadgett commented on #2366
@derekwaynecarr I was waiting for #2610 although we also have issue #2412, so I'll close.

[2015-06-02 23:16] #2366 closed

[2015-06-02 23:32] #2393 closed

[2015-06-02 23:44] rajatchopra commented on #2655
Fixed with https://github.com/openshift/origin/pull/2719

[2015-06-02 23:49] #2586 closed

[2015-06-03 00:32] spadgett commented on #1921
I've identified at least one significant memory leak. The `hawtio-core-navigation` component we use for the left sidebar leaves JavaScript references to detached DOM nodes (as @sdodson notes, HTML anchor elements). These never get garbage collected and account for a significant amount of the memory usage of the web console. Thousands of these are created.

![new_tab](https://cloud.githubuserconten

[2015-06-03 00:55] thoraxe commented on #2159
[code]

To any "normal" person, "during the build process" includes any point in the build process, not only during the assemble script invocation.

[2015-06-03 01:10] thoraxe opened #2720 ""osc get all" doesn't prefix elements"
[code]

Each set of resources should be prefixed by its type. For example:

[code]

[2015-06-03 01:11] smarterclayton opened #2721 "Deployment config reaper does not appear to be deleting rcs"
Seeing this from hack/test-cmd against master - deleting the DC should have removed many more of those RCs prior to creation.

[code]

[2015-06-03 01:17] smarterclayton commented on #2721
I'm also seeing races here in hack/test-cmd on a slow machine:

[code]

where the last command fails (but never should).

[2015-06-03 01:26] smarterclayton commented on #2721
Failing in travis too:

[code]

[2015-06-03 01:32] thoraxe opened #2722 "can't modify default route when creating app via console"
When I point the console to a code repo and create an app, I can either create a route or not. The route that I create cannot be modified from its default.

[code]
![screenshot from 2015-06-02 21 31 56](https://cloud.githubusercontent.com/assets/94413/7950893/dc38ebc8-096e-11e5-8999-7a7ed70d1e24.png)

[2015-06-03 01:34] liggitt commented on #1921
@spadgett can you pull in https://github.com/hawtio/hawtio-core-navigation/releases/tag/v2.0.48

[2015-06-03 01:34] thoraxe opened #2723 "adding code via web console doesn't automatically start a build"
It's been more than 60 seconds and a build has not been automatically started since I've added code via the web console.

Should it have?

[code]

[2015-06-03 01:35] liggitt commented on #2723
What do you mean by "added code via the web console". Created from a source repository?

[2015-06-03 01:56] bparees commented on #2159
If you read the rest of the description in which we explicitly state exactly where the env variables are available and what is done with them:

If you provide a .sti/environment file in your source repository, STI reads this file during the build. This allows customization of the build behavior as the assemble script may use these variables.

In addition to builds, the specified environment variab

[2015-06-03 02:09] thoraxe commented on #2723
Yes. Specifying a source repository through the create dialogue in the console.

[2015-06-03 02:14] thoraxe commented on #2159
So, maybe I'm just nitpicking, but:

*If you provide a .sti/environment file in your source repository, STI reads this file during the build. This allows customization of the build behavior as the assemble script may use these variables.*

This does not say:

*These variables are not present outside of the assemble script*.

In fact, that document talks about the "assemble script" but doesn't actu

[2015-06-03 02:25] bparees commented on #2159
the STI scripts are documented here:
http://docs.openshift.org/latest/creating_images/sti.html#sti-scripts
which you can get to from here:
http://docs.openshift.org/latest/architecture/core_objects/builds.html#sti-build

is there room for some clarification and reorg?  probably, but the information is definitely all there.

The first sentence ("The environment variables are then present during the

[2015-06-03 02:28] thoraxe opened #2724 ""describe route" doesn't show TLS information"
[code]

[code]

[2015-06-03 02:30] #2292 closed

[2015-06-03 02:37] spadgett opened #2725 "Error in associateDeploymentConfigTriggersToBuild (overview.js)"
I noticed this error in the console after leaving the browser idle for a while.

[code]

Here is the line with the problem in overview.js:

[code]

[2015-06-03 02:47] bparees opened #2726 "deployment following build resets scale"
1) deploy the ruby sample template, it runs 2 pods
2) scale it up to 4 pods (osc scale --replicas=4 dc frontend)
3) see 4 pods running
4) trigger another build
5) after the build completes and deploys, the new deployment has only 2 pods running (and a desired replica count of 2)

my understanding is that we're supposed to preserve the old number of replicas in this situation.

@smarterclayton

[2015-06-03 03:54] liggitt commented on #2725
that's curious...the API doesn't seem like it can return null for `spec`

[2015-06-03 04:01] liggitt commented on #2723
@bparees what is helpful to get to debug this? dumps of buildconfig and imagestreams for the project?

[2015-06-03 04:14] liggitt commented on #2724
might be intentional to avoid dumping cert/key info... not sure. @pweil-?

[2015-06-03 04:15] liggitt commented on #2724
nevermind, misread the output... describe should at least show the termination info

[2015-06-03 07:52] anderssv commented on #2634
Thanks for the swift feedback guys. For future reference my cleaned up conversion to v1beta3 is;

[code]

[2015-06-03 08:46] kargakis commented on #2670
Fairly easy, I'll add it later today or tomorrow.

[2015-06-03 09:30] kargakis commented on #2721
We were deleting based on the latest version, switching to deleting based on the dc selector (https://github.com/openshift/origin/pull/2692) will probably solve this.

[2015-06-03 09:45] kargakis commented on #2720
https://github.com/openshift/origin/issues/2354

[2015-06-03 11:34] sebplorenz opened #2730 "Allow special characters for passwords in repository URLs"
On the create page in the web console (https://localhost:8443/console/project/openshift/create) I tried to enter a repository URL of the following format:

https://user:gehe!m@sf.company.com/gerrit/p/playground.git

This URL is working in an STI script. But the web console complains

"Source repository must be a URL"

as long as the exclemation mark is part of the password :(

[2015-06-03 12:03] thoraxe commented on #2159
Yeah, I think the issue right now is definitely organizational. Why is this split into three different places? I'll have to work with @adellape on it.

[2015-06-03 12:10] thoraxe commented on #2354
At a minimum I would think we would want to prefix the resource types:

[code]

[2015-06-03 12:27] spadgett commented on #2568
I've verified that my server clock is way off. This isn't a timezone issue.

@liggitt let me know how you want to handle this. I'd say either close or lower the severity.

[2015-06-03 12:29] bparees commented on #2723
i don't think we'd expect a build at all in that scenario.  The reason you get a build when you do the new-app and template flows is because those flows define a new imagestream which then gets populated by importing from the docker registry.

that import is effectively an "image change" so it triggers the image change trigger on the build.

but when you do new from source, you're referencing an e

[2015-06-03 12:35] thoraxe commented on #2723
If "new-app" creates a build automatically when pointed at source then the web console should as well. A user would expect the same behavior(s).

[2015-06-03 12:46] jimmidyson opened #2731 "DNS search suffixes wrong post v1 DNS schema change"
As discussed in https://github.com/openshift/origin/pull/2208#issuecomment-108311231:

The container search suffixes don't seem to have been updated to work with the new DNS schema. With 0.5.3 the search suffixes include `<namespace>.cluster.local` & `cluster.local` but not `<namespace>.svc.cluster.local`. Need to be able to query services in the same namespace from a pod without knowing namespace

[2015-06-03 12:56] kargakis commented on #2670
@pweil- @smarterclayton by specifying a host we should also specify another service that the route should point to right? Does adding a --hostname option to expose makes sense?

[2015-06-03 12:58] smarterclayton commented on #2726
Yes

[2015-06-03 13:12] spadgett commented on #2725
Hm, I'm not sure how this could happen unless the server sent us a deployment config with `spec` unset. I don't see us defaulting to `{}` or similar if `deploymentConfig` is `undefined`. I could add a null guard, but it shouldn't be necessary?

I also can't reproduce this problem. Looking at the stack trace, I see it happened when a deployment config was added or modified.

[2015-06-03 13:15] spadgett commented on #2725
Ah, this happens when the deployment config is deleted.

[2015-06-03 13:19] liggitt commented on #2725
good to know... as we start processing individual items in watch callbacks, we'll need to keep that in mind

[2015-06-03 13:22] liggitt commented on #2723
yeah, I thought the web "from source" flow did the same thing as `new-app`... as best as I can tell, it's creating an image stream as well.

[2015-06-03 13:24] bparees commented on #2723
I thought about this some more..a couple corrections.
1) new-app does create an imagestream if you pick an arbitrary image as your builder instead of an imagestream
2) the webconsole flow does not because it forces you to pick an existing imagestream, you can pick an arbitrary image
3) even if the imagestream does already exist (case 2) you will probably get a build within 2 minutes of creation be

[2015-06-03 13:26] thoraxe commented on #2723
I haven't tested recently but for beta3 it didn't happen within 5 minutes.

I can try it again at some point, but I'm blocked on both router and SDN issues so I'm not spending much time on OSE right now

[2015-06-03 13:32] pweil- commented on #2670
Allowing people to specify the host of the route through expose makes sense to me since not everyone will want an auto-generated name if they already own a domain.  If the service it is already pointing to is correct there is no need to create another.

[2015-06-03 13:38] bparees commented on #2726
@ironcladlou is this your area?

[2015-06-03 13:42] bparees commented on #2723
@thoraxe ok if you see it again, osc get is -o json,  osc get buildconfig -o json, osc get builds -o json
(from the right namespaces of course).  and only check after about 2 minutes.

[2015-06-03 13:48] ironcladlou commented on #2726
Yeah, I'll audit the replica count preservation behavior.

[2015-06-03 13:49] smarterclayton commented on #2726
Or get Michaelis involved

[2015-06-03 13:53] ironcladlou commented on #2726
@bparees is this with `examples/sample-app/application-template-stibuild.json`?

[2015-06-03 13:57] sosiouxme commented on #2707
@csrwng

[2015-06-03 13:58] jimmidyson opened #2734 "Provide sha1 sums of releases to verify downloads"
Would be really useful to be able to verify release downloads from github.

[2015-06-03 14:05] spadgett commented on #2725
`spec` is defined, but `triggers` is not. This can be reproduced by deleting a deployment configuration such as `database` in the ruby hello world sample.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7961839/f66518d2-09d7-11e5-8901-52d227f2a688.png)

[2015-06-03 14:06] liggitt commented on #2725
So that error, I understand (and we should always guard for), but the original error ("Cannot read property 'triggers' of undefined") I still don't get

[2015-06-03 14:12] ironcladlou commented on #2726
I tricked @kargakis into looking at it.

[2015-06-03 14:16] derekwaynecarr commented on #2048
Given the observed behavior in the reported testing, I think it's safe to close this issue, and just note that we will continue to try to pull the image in perpetuity but the system does report an event on why the image could or could not be retrieved, and now displays a message.

[2015-06-03 14:18] #2048 closed

[2015-06-03 14:28] kargakis commented on #2726
Yep, I reproduced it. Looking

[2015-06-03 14:32] spadgett opened #2736 "Overview tab is not highlighted as selected after creating from template"
After clicking `Create` when creating from a template, you're taken back to the project overview. The `Overview` tab on the left does not have the selected style, however.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7962480/8f42c484-09db-11e5-99aa-a9e9dc9b5748.png)

[2015-06-03 14:51] ncdc commented on #1876
We've updated the code a little bit. It's possible to still see a similar error (`glog.V(4).Infof("Failed to update BuildConfig %s/%s so no Build will be created", bc.Namespace, bc.Name)`) in the event that 2 build image change controllers both try to handle the same event. In the future, we'll update the way we process image changes and builds to try to avoid these log messages (with a fix for #2

[2015-06-03 14:52] #1876 closed

[2015-06-03 15:31] guidoos opened #2740 "Sample-app gives 500 error error when pushing ruby-sample-app (using Vagrant)"
When following the sample app using the vagrant image (https://github.com/openshift/origin/blob/master/examples/sample-app/README.md) I try to build the sample app by using the following command:

osc process -f application-template-stibuild.json | osc create -f -

However, the build of ruby-sample-app fails because it cannot push the image to the docker registry:

Pushing 172.30.8.217:500/test/or

[2015-06-03 15:35] rhcarvalho opened #2741 "ConfigChange build trigger"
Could we have a ConfigChange trigger for BuildConfigs on par with DeploymentConfigs?

Use case: I want my BC to build from a different branch, use `osc edit bc my-bc-name`, then rebuild.

@bparees @mfojtik PTAL

[2015-06-03 16:12] bparees commented on #2741
sounds like a reasonable idea to me.

[2015-06-03 16:13] sosiouxme opened #2743 "can't find out about wayward deployment"
Usually if your deployment goes south, you have *something* to look at. But not always it seems.

[code]

I assume there's something wrong with my docker or SDN config or something, but I don't even know which node to look on. I have literally no information about what is going wrong. Is there a command for describing a deployment? Don't see a pod, obviously.

[2015-06-03 16:20] sosiouxme commented on #2743
While the issue at hand is "I don't have any information as an end user" it's worth noting the source of the particular problem, which is probably this error from openshift-master:

`factory.go:68] couldn't create initial Deployment for DeploymentConfig demo/demo/mysql:0: DeploymentConfig "mysql" is invalid: triggers[1].imageChange.tag: invalid value 'latest': no image recorded for demo/mysql:late

[2015-06-03 16:37] sosiouxme commented on #2743
Of course, that works fine on an origin devenv. So I still don't know what the actual problem is.

[2015-06-03 16:48] spadgett commented on #1921
I've discovered another issue where we're not properly closing web sockets when navigating between pages. This results in many web sockets being open for watches on each resource type and might explain some of the CPU load.

[2015-06-03 17:01] smarterclayton commented on #2233
At this point I'm not planning on doing another rebase.  If this is a problem for you let me know right now.

[2015-06-03 17:06] smarterclayton commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/issues/2630 is must have fixed

[2015-06-03 17:24] smarterclayton commented on #2233
@pmorie please take point on 2630 (even if someone else fixes).

[2015-06-03 19:30] spadgett commented on #2652
Looks like this is the only place we use an expression in a `src` attribute.

[2015-06-03 19:53] spadgett commented on #2736
This also happens after creating a new project in the Web Console.

[2015-06-03 20:00] sosiouxme commented on #2314
In the API it's not distinguishable.

However, the client could make a reasonable guess that if it has a token for an identity, but the API rejects authentication, probably the token is expired.

It's pretty jarring to receive this as the user. At the very least, the client message could give a little context to why the server might be requiring credentials. IMHO...

[2015-06-03 20:13] sosiouxme opened #2767 "`osc new-app` setting up imageChange tag wrong?"
`osc new-app mysql` and you'll get the following in the master logs:

`factory.go:68] couldn't create initial Deployment for DeploymentConfig demo/demo/mysql:0: DeploymentConfig "mysql" is invalid: triggers[1].imageChange.tag: invalid value 'latest': no image recorded for demo/mysql:latest`

I'm guessing this might prevent future deployments when the image changes.

[2015-06-03 20:44] ncdc opened #2769 "Add 'osc import-image' command to re-import an image stream's tags"
Add a simple CLI command for re-importing an image stream's tags from an external registry.

[2015-06-03 20:44] ncdc commented on #2769
From 1.0 punch list #2628

[2015-06-03 20:50] pravisankar commented on #2643
CLI cmd for volumes:
--
`osc volume` cmd can be used to add, update, delete and list volumes on selected or all containers in pods or any object that has a pod template (rc or dc).

Like other cmds, cmd theme can be:

`osc volume <resource-selection> <operation> <mandatory-args> <optional-args>`

Resource selection:

* <name>, resource name, examples: dc/registry, pods
* --selector, label selector

[2015-06-03 20:52] smarterclayton commented on #2643
Please add examples of how you would actually use this (I want to see a CLI command line per use case)

1. A user adds a new volume to an existing deployment config based on a new directory.
2. A user wants to change the type of volume from emptyDir to a persistent volume

If you have additional use cases you've thought of please add them.

----- Original Message -----

[2015-06-03 21:03] spadgett commented on #1630
@thoraxe can you verify? We've added a copy-to-clipboard button for this URL, so the UI has changed since your screenshot.

[2015-06-03 21:04] spadgett commented on #2330
@liggitt or @ajacobs21e close this one?

[2015-06-03 21:07] #2330 closed

[2015-06-03 21:07] liggitt commented on #1630
closing, reopen if needed :)

[2015-06-03 21:07] #1630 closed

[2015-06-03 21:21] fabianofranz commented on #2672
One idea I just had here: instead of using the `-S|--search` flag as a string that takes the string query to search for, make it a `boolean` that, when specified, act as a search. That would allow searching as arguments *and* use some of the flags if you want to refine where to search for it. Examples:

[code]

and refined as

[code]

@csrwng @smarterclayton what do you think?

[2015-06-03 21:31] pweil- opened #2771 "Router: refactor the configuration writing to allow injection"
The router Commit() method needs to be refactored to allow the injection of code to write the configuration files.  The work to refactor the certificate writer is already complete.  This allows us to test the Commit() method easily.

[2015-06-03 21:35] smarterclayton commented on #2731
We need to back port the upstream changes to the Kubelet - just landed yesterday https://github.com/GoogleCloudPlatform/kubernetes/pull/9080

[2015-06-03 22:08] mwringe commented on #2731
It looks like we can also remove the need for headless services with the new "<name>.<namespace>.endpoints.cluster.local".

So we have:
<name>.<namespace>.svc.cluster.local
<name>.<namespace>.endpoints.cluster.local

But we can only ever setup resolv.conf to resolve 'foo' to one of those endpoints, not both. So adding svc.<namespace>.cluster.local isn't going to solve the problem.

It might make s

[2015-06-03 22:15] jimmidyson commented on #2731
True.

It's a shame that just endpoints was added tbh. Why couldn't just svc exist with A records for service ip & SRV records for service endpoints but using same name?

[2015-06-03 22:20] mrunalp commented on #1707
I think we can close this one as we are unable to reproduce the issue with latest origin. @danmcp ping.

[2015-06-03 22:21] mrunalp commented on #1089
This one can be closed as the documentation has been merged.

[2015-06-03 22:30] smarterclayton commented on #2731
What do you mean?  We can always expose endpoints differently.  Also, if you have port mappings the srv records won't be quite what you want.  Open to suggestions there

[2015-06-03 22:34] smarterclayton commented on #2731
What about _endpoints.<service>?

[2015-06-03 22:59] jimmidyson commented on #2731
I was thinking it would be nice to query DNS for different record types but same name, as in:

    dig srv <service>

to retrieve endpoints &:

    dig a <service>

to retrieve actual service IP.

Thinking about it though I guess it does make more sense to use a different name to retrieve the endpoints so you could use SRV records for a service to simply look up address & port for a service (using

[2015-06-03 23:14] abhgupta commented on #2447
Should be fixed with this PR: https://github.com/openshift/origin/pull/2742

[2015-06-03 23:32] ironcladlou commented on #2721
After a careful audit of the log and DeploymentConfigController code, I'm thinking this is the timeline (as suspected by @smarterclayton in https://github.com/openshift/origin/pull/2765#issuecomment-108607692):

1. The deployment/RC is deleted; at this time, the config version is 1
2. The reaper updates the config with empty triggers
3. The DeploymentConfigChangeController ignores the config event

[2015-06-03 23:37] ironcladlou commented on #2721
Right now my thought is that the deploymentConfig should always be deleted before its deployments. This would prevent any further system behavior for those deployments. We wouldn't need to update the triggers on the deploymentConfig before deleting it. Then prune the orphaned deployments.

Thoughts?

[2015-06-03 23:54] ironcladlou commented on #2721
Working on a PR with this approach.

[2015-06-03 23:58] smarterclayton commented on #2721
Why don't we set the triggers first?

[2015-06-04 00:06] ironcladlou commented on #2721
@smarterclayton

The triggers are on the config, deleting the config deletes the triggers atomically and ensures no behavior will be triggered (as none of the controllers react to the delete of the config, including the trigger controllers).

[2015-06-04 00:07] smarterclayton commented on #2721
Why are controllers reacting to trigger changes?

[2015-06-04 00:10] ironcladlou commented on #2721
Setting the field on the config causes a mod event which is picked up by the DeploymentConfigController. The DeploymentConfigController has no way to know that the absence of a deployment for the current version is because it never existed (in which case it should deploy) or because it was deleted by a pruning function which is implicitly signaling the death of the DeploymentConfig.

Rather than t

[2015-06-04 00:13] ironcladlou commented on #2721
This also prevents external clients from causing the same sort of scenarios during the stop.

[2015-06-04 00:19] ironcladlou commented on #2721
https://github.com/openshift/origin/pull/2772 is my take on the config-deleted-first approach.

[2015-06-04 00:26] smarterclayton commented on #2721
If there are no triggers... It does know that there shouldn't be a deployment.  Deployments shouldn't get created without a config change or image change trigger

[2015-06-04 00:32] liggitt commented on #2721
The update that removes the triggers is indistinguishable from a config change update, hence the deployment

[2015-06-04 00:34] liggitt commented on #2721
Are you saying that a deployment config without any triggers should never result in a controller-spawned deployment? If so, it sounds like the DeploymentConfigController is doing something different

[2015-06-04 00:34] ironcladlou commented on #2721
There's never a point in time we can guarantee this anyway: the config resource we're acting upon could have been updated while we were in the process of making the RC. We can double-check and narrow the window.

Or we could just delete the config first and avoid all potential side effects. Why not?

[2015-06-04 00:34] smarterclayton commented on #2721
The update doesn't have any triggers.  So it shouldn't cause a deployment.

[2015-06-04 00:35] smarterclayton commented on #2721
Yes.  If it's not, it's broken.  No triggers means no deployments.

[2015-06-04 00:37] ironcladlou commented on #2721
Lack of triggers is still valid and can cause deployments in our current design. If you have no triggers, you can still kick off deployments manually by incrementing the version yourself (which is what the `deploy --latest` command does). How does the controller distinguish between that config update and an "inert" config updated by the reaper?

[2015-06-04 00:42] smarterclayton commented on #2721
That's a fair point - deployments can be arbitrarily delayed.  The point is if we delete the DC we don't have any way, if interrupted, to go back and delete it again.  So we need to fix the trigger problem, and then we're at least in the state that we can check that post rc creation we have no subsequent updates.

[2015-06-04 00:43] smarterclayton commented on #2721
If you are kicking off manual deployment be you need to do that by creating a new rc.  The point of manual deployment is that they are "manual"

[2015-06-04 00:51] ironcladlou commented on #2721
@smarterclayton

We've never discussed trying to enable clients to construct deployment/RC directly... the DeploymentConfigController is the thing that knows how to construct a deployment.

I'm still not sure what trying to untangle this buys us, when deleting the config first seems like a simple side-effect free to tear the deployment stuff down

[2015-06-04 00:52] liggitt commented on #2721
it's not re-entrant...

[2015-06-04 00:53] smarterclayton commented on #2721
Not being able to turn off a deployment config is a serious issue.

[2015-06-04 00:54] ironcladlou commented on #2721
@liggitt

That depends. The reaper only needs the config namespace and name to do its work. If it couldn't find the config to delete, it could still go on and find all the related orphaned resources based on that name and tear them down to finish the job.

[2015-06-04 00:54] liggitt commented on #2721
No, the point is that you *triggered* it manually. I don't want multiple things needing to understand how to turn a deployment+strategy into a replication controller.

[2015-06-04 00:55] ironcladlou commented on #2721
Removing triggers from the config today "turns them off" for some useful definition of "turn off". Manual deployments would continue to work, which seems fine.

[2015-06-04 00:56] ironcladlou commented on #2721
Agree

[2015-06-04 01:04] smarterclayton commented on #2721
That's what an instantiate endpoint is for

[2015-06-04 01:05] smarterclayton commented on #2721
Would they?  That's my primary concern (no auto) but we can't redesign manual significantly at this point.

[2015-06-04 01:07] ironcladlou commented on #2721
Definitely... I use that often during testing. I create DCs with no triggers and use `deploy --latest` when I want a new one.

[2015-06-04 01:13] #2696 closed

[2015-06-04 01:15] ironcladlou commented on #2721
@liggitt succinctly outlined the surprising behavior with delete in this case:

I agree that's a bad thing.

[2015-06-04 01:19] ironcladlou commented on #2721
I think there's more conversation to have about this, and I agree we need more changes to how triggers/manual are handled. In the short term, a re-entrant config-deleting reaper gets us past the races and leaves us with the possibility of an auto-deployment in @liggitt's use case (which is a condensed user-oriented version of the current reaper/stop bug scenario).

So is the config-first reaping i

[2015-06-04 01:19] HyunsooKim1112 opened #2773 "update CONTRIBUTING.adoc"
Hi,
I had some problems when I setup my OpenShift development environment by using CONTRIBUTING.adoc guide.

1. $GOPATH is not clear. In "Installing Go." Web Page, there already exists "$HOME/go" when you use "Installing to a custom location" option.

2. There is no information about cloning, compiling and testing steps in "Develop locally on your host" chapter.

3. There is something confused in

[2015-06-04 01:22] liggitt commented on #2721
deleting is different than pausing... as long as it is re-entrant, I'm fine with deleting DC first in the reaper

separately, we do need to be able to pause a DC, and I like moving manual deployments to an instantiate pattern for that

[2015-06-04 01:25] smarterclayton commented on #2721
How can it be reentrant if we delete the DC first? What DC am I going to delete the second time?  What if the DC has already been deleted?  Do I stop?

[2015-06-04 01:26] smarterclayton commented on #2721
Let's talk in the morning.

[2015-06-04 01:26] liggitt commented on #2721
you can reap the RC's for the deployment without the deployment config object

[2015-06-04 01:27] smarterclayton commented on #2721
What if someone else has created a new DC in the meantime?

[2015-06-04 01:27] liggitt commented on #2721
fire them

[2015-06-04 01:29] pweil- opened #2774 "Uniquely identify BuildPodController user"
Currently builders are run under the user `system:openshift-client`.  However, builders may require escalated privileges which need to be controller by a security context constraint.  Granting an SCC to `system:openshift-client` is not a good solution since replication controllers also run with that user and we would effectively give escalated privileges to all pods.

/cc @csrwng @liggitt @pmorie

[2015-06-04 01:30] liggitt commented on #2774
To clarify, this is the user creating the build pod, not the service account for the pod itself

[2015-06-04 01:32] pweil- opened #2775 "Default Security Context Constraints"
Create a default set of security context constraints like the ones used in end to end testing that can ship with the cluster.  We need to decide if

1.  This is an admin action and we will provide some templates
1.  This is an automatic action with a set of default constraints
1.  Should we provide an admin command that can create a set of default constraints

From Clayton: this should be part of

[2015-06-04 01:36] smarterclayton commented on #2721
That's my line

[2015-06-04 03:04] derekwaynecarr commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/9235

Racing between delete controllers could cause project deletion to take O(minutes)
As part of this, need to update Origin namespace controller to also ignore item not found errors.

[2015-06-04 03:23] #2652 closed

[2015-06-04 03:23] #2721 closed

[2015-06-04 03:51] jpechane commented on #1707
I agree with the previous comment - it is quite an old issue and it seems it is not longer a problem.

[2015-06-04 03:51] #1707 closed

[2015-06-04 03:54] #2352 closed

[2015-06-04 04:02] smarterclayton commented on #2672
Not unreasonable, how complex is is to implement.

[2015-06-04 05:37] #2052 closed

[2015-06-04 06:51] pravisankar commented on #2643
Some use cases:

- Add new volume to deployment config 'registry' based on host directory

  `osc volume dc/registry reg-vol --add --mount=/reg --source='{"hostPath": {"path": "/opt"}}'`

- Add new volume to pod 'p1' based on secret
  `osc volume pod/p1 vol1 --add --mount=/etc --source='{"secret": {"secretName": "magic"}}'`

- Change rc 'r1' to use persistent volume instead of emptyDir (name: vol1

[2015-06-04 07:00] pravisankar commented on #2643
@smarterclayton @danmcp @markturansky  let me know your feedback

[2015-06-04 07:47] jstrachan opened #2778 "template parameter values to support expressions?"
it would be nice to default a template parameter value to use an expression.

e.g. when installing gogs (or any kind of SCM), you typically need to configure the hostname folks will use to access the git repos so folks can clone it. For a given namespace and environment that will map to some name. e.g. `gogs.${NAMESPACE}.mydomain.com.`

When creating services/routes, the `mydomain.com` would be pa

[2015-06-04 08:44] #2730 closed

[2015-06-04 09:52] dtschan commented on #341
The user should also be informed that there are problems pulling the builder image, including which image the build tries to fetch from which registry. Preferably through the Web Console and through `osc build-logs`. I hit this issue while working with a custom builder on OpenShift Enterprise 3 Beta 3. The build just hung in the pending state and it took me a while to figure out that it couldn't f

[2015-06-04 09:58] ncdc commented on #2643
You shouldn't be passing any json in on the command line (--source=...). It'd be much nicer to support flags for the range of volume types and their params.

[2015-06-04 10:28] #2596 closed

[2015-06-04 10:51] mfojtik commented on #2778
@jstrachan this is actually pretty easy to implement... see the PR

[2015-06-04 10:54] jstrachan commented on #2778
@mfojtik lovely!

[2015-06-04 12:28] sosiouxme opened #2783 "`osadm router --dry-run` doing test instead?"
[code]

Seems to me that first one should tell me everything is fine, not complain about the router not existing.

[2015-06-04 12:48] brenton commented on #2783
This is basically the same as https://github.com/openshift/origin/issues/2647.  I'll just close mine.

[2015-06-04 12:48] #2647 closed

[2015-06-04 12:52] spadgett commented on #2723
@thoraxe can you retest with the latest Web Console? I've noticed recently (in the last week or so) that builds are running automatically when creating from a source repository when they didn't used to. I just tested the openshift/nodejs-ex example builds automatically using the node.js builder image, and it worked.

@bparees any idea what changed?

[2015-06-04 12:53] jhadvig commented on #2420
This is an upstream issue. Will track it.

[2015-06-04 12:54] mfojtik commented on #1647
@smarterclayton +1 for cockroach

are they accepting patches? (mean if we want to add something in future, we will not be locked as we are now with glog)

[2015-06-04 12:55] spadgett commented on #2618
@csrwng didn't you look at a similar problem?

[2015-06-04 12:57] spadgett commented on #2618
See #2368

[2015-06-04 13:01] #2618 closed

[2015-06-04 13:07] #1652 closed

[2015-06-04 13:20] thoraxe opened #2785 "osadm policy remove-user doesn't have any effect"
Steps to recreate:

1. create a project with joe as admin
2. add stuff to project
3. add alice as admin
4. osadm policy remove-user joe

joe can still view and edit

I would expect that after joe is removed he should have **no** permissions on the project.

[code]

[2015-06-04 13:20] jhadvig commented on #1647
I've created a card for this issue so we track it
https://trello.com/c/GsiBwruf/594-replace-glog-with-other-logging-library-so-we-can-strip-the-header-from-logs

[2015-06-04 13:29] #2726 closed

[2015-06-04 13:33] deads2k commented on #2785
Please include the output from
1. `osc describe clusterpolicy/default osc`
1. `osc describe clusterpolicybindings/:default`
1. `osc describe policybindings/:default -n my-project`

[2015-06-04 13:34] liggitt commented on #2785
wondering if step 4 didn't specify the correct project to remove joe from

[2015-06-04 13:36] thoraxe commented on #2785
At what point in the process?

Here is the output after removing joe:

[code]

[2015-06-04 13:36] liggitt commented on #2785
and you ran `osadm policy remove-user joe -n demo`?

[2015-06-04 13:36] thoraxe commented on #2785
Step 4 was performed as alice when she was logged into and using the project in question.

I ran `osadm policy remove-user joe`

[2015-06-04 13:37] thoraxe commented on #2785
If I have to specify "-n demo" then it appears that "osadm policy remove-user" doesn't behave like other tools in that:

* It doesn't operate on the current namespace/project by default
* It doesn't give you an error when it does nothing or doesn't like your input

[2015-06-04 13:38] thoraxe commented on #2785
Or, worse, it did something somewhere else and didn't tell me what it was doing.

[2015-06-04 13:38] deads2k commented on #2785
Output of `osc config --view` ?

[2015-06-04 13:38] deads2k commented on #2785
`osc config view`

[2015-06-04 13:38] thoraxe commented on #2785
As what user in what namespace?

[2015-06-04 13:39] deads2k commented on #2785
whereever you you tried to do the `remove-user`

[2015-06-04 13:39] liggitt commented on #2785
It does use your current namespace, I just wanted to make sure you were operating on the project you thought you were.

I agree that policy commands should be explicit about what happened in response to your command ("Role admin added to user foo in project baz", "User joe removed from project baz", "User joe does not have any roles in project baz", etc)

[2015-06-04 13:39] thoraxe commented on #2785
[code]

[code]

[code]

The last one is alice's and was how the remove was run.

[2015-06-04 13:41] deads2k commented on #2785
make another issue about this path
[code]

[2015-06-04 13:46] thoraxe opened #2786 "osc login can create configs with back-step paths"
[code]

[code]

[2015-06-04 13:46] thoraxe commented on #2786
@deads2k

[2015-06-04 13:53] thoraxe commented on #2723
[code]

I am at 4 minutes and there has been no build started yet. How much longer should I wait?

[2015-06-04 13:54] liggitt commented on #2723
2 minutes should start it. dump the bits ben asked for?

[2015-06-04 13:54] smarterclayton commented on #2655
This causes docker to reboot every time SDN is initialized, but the kubelet is already started.  We're going to need to find a different solution.

[2015-06-04 13:55] #2693 closed

[2015-06-04 13:59] thoraxe commented on #2723
@bparees  After ~5 minutes:

The image stream of the app that was created in the project:
[code]

The buildconfig in the project:
[code]

The builds (there are none):
[code]

The image stream of the builder, which is in the openshift namespace/project:
[code]

[2015-06-04 14:02] deads2k commented on #2785
I'm betting you don't have e2529e6421f14e10d80c5a71a05c5f34e486f0a6

[2015-06-04 14:03] deads2k commented on #2785
That bug prevented remove-users from actually removing users (yes, that sounds ridiculous).  I'll fix up output so @liggitt can complain about my messages.

[2015-06-04 14:03] liggitt commented on #2785
+1

[2015-06-04 14:04] spadgett commented on #2568
I wonder if it's possible to have messages like "Build started 2 minutes from now" or "Build has been running for -2 minutes" ...

[2015-06-04 14:05] spadgett commented on #2725
@liggitt Lower the severity or close and reopen if we see it again? #2738 fixes the reproducible problem.

[2015-06-04 14:05] #2725 closed

[2015-06-04 14:06] liggitt commented on #2723
the output ImageStream might need "latest" in the spec.tags... not sure if that being missing would prevent the build from running

[2015-06-04 14:06] liggitt commented on #2723
@spadgett can you take a look?

[2015-06-04 14:06] liggitt commented on #2723
(and compare the results of the UI create-from-source with the command line new-app)

[2015-06-04 14:07] spadgett commented on #2736
Unfortunately this is still an issue with the latest `hawtio-core-navigation`. It also occurs when picking a project from the all projects page, so nothing to do with URL query parameters.

[2015-06-04 14:18] smarterclayton commented on #1647
Dunno - i think they've changed direction.  Post 3.0 we need to settle our logging story, the card will be where we discuss.

[2015-06-04 14:20] spadgett commented on #1921
The latest `hawtio-core-navigation` fixes the memory leak, but causes `item.isSelected()` to be called constantly. This causes high CPU load anytime the Web Console is open.

[2015-06-04 14:21] smarterclayton commented on #2643
This is intended for new users of Openshift - we need to easily be able to expose the most important options for the volume in a structured fashion and explain the arguments to users.  For this pull, let's concentrate on selecting the type of volume and emphasizing emptydir (the default) and a pv ref.

[2015-06-04 14:33] kargakis commented on #2295
https://github.com/GoogleCloudPlatform/kubernetes/pull/8999 will make this faster

[2015-06-04 14:34] #2624 closed

[2015-06-04 14:34] #2595 closed

[2015-06-04 14:35] bparees commented on #2595
fixed.

[2015-06-04 14:35] bparees commented on #2624
fixed.

[2015-06-04 14:38] bparees commented on #2420
@jhadvig even if it's an upstream message we should be able to do a better job wrappering more info around it when we catch the error.

[2015-06-04 14:43] bparees commented on #1642
--patch will be going away.

[2015-06-04 14:49] thoraxe commented on #2785
@sdodson looks like we need a particular commit (see https://github.com/openshift/origin/issues/2785#issuecomment-108908323 )

[2015-06-04 14:55] smarterclayton commented on #1642
Supposedly it's being resurrected.  No idea when though.

----- Original Message -----

[2015-06-04 14:57] kargakis commented on #1642
Is there a PR upstream about it? In master it's [disabled](https://github.com/GoogleCloudPlatform/kubernetes/blob/a161edb3960c01ff6e14813858c2eeb85910009b/pkg/kubectl/cmd/update.go#L57)

[2015-06-04 15:02] smarterclayton opened #2795 "Upstream Kubelet initialization order"
https://github.com/smarterclayton/origin/commit/bc5292ed3ed21dc89d0eed2764f51044d2aa7c04 needs to be upstreamed.

[2015-06-04 15:32] smarterclayton opened #2798 "Kubelet extended arguments config should also be checked in config validation"

[2015-06-04 15:34] deads2k commented on #2798
@liggitt assign this to me.

[2015-06-04 16:40] #2670 closed

[2015-06-04 17:10] sosiouxme commented on #2783
Slight difference, this is with enough params to create the router, without --dry-run.

[2015-06-04 17:22] sosiouxme commented on #2435
+1 thanks

[2015-06-04 17:22] #2435 closed

[2015-06-04 17:33] #2463 closed

[2015-06-04 17:52] bparees opened #2805 "need client tools in db images"
We need to make sure all the common client tools are installed in our db images.  it looks like they might be missing for mysql at a minimum.

@gshipley @thesteve0 fyi.

[2015-06-04 17:52] derekwaynecarr commented on #1656
Attempting to reproduce this now... the kubelet has changed so much, I cannot find that string in kubelet.go ;-)

[2015-06-04 17:55] derekwaynecarr commented on #1656
So just looking at this code, this predates changing to the SyncPods loop that ran every 10s in Kubelet.

The code does filter the list of pods it iterates against here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1322

Filters the terminated pods here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1591

So I guess I

[2015-06-04 18:02] csrwng commented on #2767
@sosiouxme - I am not able to reproduce this with the latest master. If you still can, please include the json (or yaml) of the generated deployment config.

[2015-06-04 18:03] mfojtik commented on #2805
@bparees what you mean with client tools? the mysql command shouldnbe there.

[2015-06-04 18:10] derekwaynecarr commented on #1656
@smarterclayton - you can close this issue.

See the analysis I provided on the upstream issue (that I also now closed) here:
https://github.com/GoogleCloudPlatform/kubernetes/issues/6641

Net:
Kubelet filters out terminated pods in its synch loop
As a result, Kubelet does not constantly update the pod status once its terminated
As a result, the resource version of a pod is stable once its termina

[2015-06-04 18:13] #1656 closed

[2015-06-04 18:19] ironcladlou opened #2809 "New deployment can sometimes be started absent any triggers"
This is a followup of the analysis from #2721. The following scenario can result surprising deployment behavior:

1. Create DC with no triggers,
2. Perform a manual deployment with `osc deploy --latest`
3. Delete the deployment/RC,
4. Update a DC field other than LatestVersion or wait for a reflector sync interval (~ 2 minutes)
5. Observe the auto-creation of a deployment named the same as the del

[2015-06-04 18:23] #2390 closed

[2015-06-04 18:26] abhgupta commented on #2809
Shouldn't this be considered expected behavior? A deployment is expected and it is not found and so a new deployment is created.

[2015-06-04 18:27] abhgupta commented on #2809
This should be resolved for us with the new etcd where we don't have to keep old deployments lying around with replicas set to 0 (inactive).

[2015-06-04 18:37] pmorie opened #2813 "Console: refresh is sometimes needed after starting build"
Sometimes when you trigger a build from the console, the UI doesn't show the build and you have to refresh in order to see it.

[2015-06-04 18:37] pmorie commented on #2813
@liggitt

[2015-06-04 18:44] liggitt commented on #2813
recreatable? steps?

[2015-06-04 18:45] liggitt commented on #2809
Working as coded, yes. As expected, probably not.

[2015-06-04 18:46] pmorie commented on #2813
Create a new project with build, click 'create build'.  ~30% of the time, you'll hit this bug.

[2015-06-04 18:46] pmorie opened #2815 "Console: pods which were in pending too long sometimes stay shaded yellow after transitioning to running."
Pretty much what it sounds like.  @liggitt

[2015-06-04 18:47] abhgupta commented on #2447
The issue seems to have been the fact that the deployments were not listed and hence any updates to the DC (other than a bump to the LatestVersion) resulted in an attempt to create a new deployment. The deployment creation failed since the deployment was already present.

PR #2742 fixes the code to list deployments correctly and hence an attempt to create a new deployment is not made in the first

[2015-06-04 18:47] liggitt commented on #2815
if you look at container status, are all the containers happy? can you include the API data for the pod in question?

[2015-06-04 18:51] abhgupta commented on #2447
Closing this issue.

/cc @smarterclayton

[2015-06-04 18:54] thoraxe opened #2818 "osadm router/registry should determine images from master config"
So, as an example, when using enterprise, we shouldn't be referencing origin issues by default. The master has a config setting for the image naming string, but osadm router/registry don't inherit that.

It would be nice if osadm router --create would figure out the right image based on the master's config. Otherwise I have to override it _every time_ even if my master is "correctly" configured...

[2015-06-04 18:54] thoraxe commented on #2818
@sdodson

[2015-06-04 18:55] abhgupta commented on #2809
@liggitt We would probably need a way to prevent a new deployment from being created for a DC. Hence marked this as an enhancement rather than a bug.

[2015-06-04 19:10] ironcladlou opened #2819 "Initial deployment of config with image and change triggers races with ImageStream tag event creation"
#2743 exposes some racy behavior between deployment controllers and ImageStream tag events on which the controllers rely. Given a DeploymentConfig with both image and change triggers, the following can happen:

1. The DeploymentConfigChangeController notices the new DeploymentConfig with LatestVersion 0 and attempts to generate a new DeploymentConfig with LatestVersion 1 (which would cause the ini

[2015-06-04 19:12] ironcladlou commented on #2743
I believe the error you see in the logs is a result of #2819. I think the particular error in question should result in an event. Then, calls to `osc status` and `osc describe dc` (and the console) would have reported the error to you (the end user). The error wouldn't have been actionable in this case, but we should have told you what we knew.

[2015-06-04 19:12] ironcladlou commented on #2819
cc @abhgupta @smarterclayton

[2015-06-04 19:13] bparees commented on #2805
@mfojtik @gshipley mentioned mysql-devel and i wasn't thinking at the time...  obviously mysql-devel makes no sense for the DB image since we're not building in them.  so we may have everything we need here.

i'm going to close it, @gshipley and @thesteve0 you can reopen if you find something critical missing.

[2015-06-04 19:13] #2805 closed

[2015-06-04 19:19] #1607 closed

[2015-06-04 19:19] sosiouxme commented on #2767
@csrwng I see it still with the most recent AWS vagrant image, running from systemd (`systemctl start openshift`) - don't know if you're looking at quite the same environment.

[2015-06-04 19:20] mfojtik commented on #1647
@smarterclayton i experimented with this couple weeks ago: https://github.com/mfojtik/source-to-image/blob/new-logging/cmd/sti/main.go#L271

(this is a rework of sti logging to use cockroach... however I can't figure out how to disable the prefix..)

[2015-06-04 19:23] thoraxe opened #2820 "Add ability to set cluster-wide quota defaults"
Steps to reproduce:
1. create an application by providing a code repository to the web console "create" dialogue
2. wait for it to be built
3. `osc resize --replicas=3 rc/myapp-1`

What happens:

The `osc` command hangs and the openshift-master log starts to fill up with:

[code]

until you break out of the `osc` command.

[2015-06-04 19:25] #2482 closed

[2015-06-04 19:25] #2024 closed

[2015-06-04 19:25] thoraxe commented on #2820
The replica count is updated, but no more pods were ever added:

[code]

[code]

So there's really an underlying error going on, but this is never reported to the user...

I think the issue here is that there is a quota on the project, but there is no default resource limit applied, which wants to create an unbounded pod, which is forbidden in a project with a quota...

[2015-06-04 19:26] smarterclayton commented on #2482
Fixed by the changes to put master DNS entry in host /etc/resolv.conf and disabling the open forwarding on the master

----- Original Message -----

[2015-06-04 19:26] smarterclayton commented on #2024
Fixed by the changes to put master DNS entry in host /etc/resolv.conf and disabling the open forwarding on the master

----- Original Message -----

[2015-06-04 19:33] thoraxe commented on #2820
`osc edit dc` and changing the resource limits of the pod template does not count as a config change..... which seems weird.

[2015-06-04 19:33] #2065 closed

[2015-06-04 19:34] #2071 closed

[2015-06-04 19:34] #2169 closed

[2015-06-04 19:37] danmcp commented on #2427
@sg00dwin @spadgett Any update here?

[2015-06-04 19:37] smarterclayton commented on #2065
Was delivered to master a few weeks ago.

----- Original Message -----

[2015-06-04 19:39] #2464 closed

[2015-06-04 19:42] spadgett commented on #2427
@danmcp PR #2563 from @sg00dwin contains the fix. Still under review.

[2015-06-04 19:43] bparees commented on #2723
@thoraxe you're not referencing an imagestream as your builder image, so there won't be an imagestream update that can trigger your build.  you're using DockerImage as your reference, which is basically a static reference to a docker pull spec.

 "strategy": {
            "type": "Source",
            "sourceStrategy": {
                "from": {
                    "kind": "DockerImage",

[2015-06-04 19:45] spadgett commented on #2813
@pmorie if you hit this again, please check if there are any errors in the browser's Javascript console.

[2015-06-04 19:47] thoraxe commented on #2820
ok, editing the dc is "fixed" by https://github.com/openshift/origin/pull/2597

However, I'm still having an issue adding a resourcelimit to the DC and manually bumping the version:

https://gist.github.com/thoraxe/e710285417247fc4e1a9

I'll open a separate issue for that.

[2015-06-04 19:47] thoraxe opened #2821 "once project quota is applied, builds and deploys fail due to lack of resource limits defined on them"
https://gist.github.com/thoraxe/e710285417247fc4e1a9

[2015-06-04 19:52] thoraxe commented on #2821
[code]

So the issue is actually with the deployer pod, not the application pod.

The deployer pod doesn't seem to be created with a memory limit, and this project has a quota, so openshift seems to be refusing to schedule the **deployer**.

[2015-06-04 19:56] ironcladlou commented on #2821
This would also apply to build pods, deployer pods, and hook pods.

[2015-06-04 19:57] thoraxe commented on #2821
The same thing happens when you try to start a build in a project with a quota:

[code]

So the issue appears to be that none of our "infra" pods are being launched within the namespace with any limits.

[2015-06-04 20:17] stevekuznetsov commented on #1370
@smarterclayton @danmcp Is this reproducible? I just restructured the policy & auth caches ( #2539 ) so I can look at this.

[2015-06-04 20:18] deads2k opened #2822 "make sure that all resources that update check objectmeta"
Make sure that all resources that allow updating check the objectmeta they are updating with.

[2015-06-04 20:21] pravisankar commented on #2643
Updated volume cli cmd options and the use cases
@smarterclayton @ncdc @jwhonce PTAL

[2015-06-04 20:28] liggitt opened #2824 "Convert pod poller to watch"
DeployerPodControllerFactory is still polling pods, even though watch is now implemented in the API

[code]

[2015-06-04 20:31] danmcp commented on #1370
@stevekuznetsov I believe so.

[2015-06-04 20:31] ironcladlou commented on #2824
Thank you sir, may I have another?

[2015-06-04 20:39] stevekuznetsov commented on #2063
@deads2k since EmbeddedObject embeds Object and doesn't offer any new methods with it as the receiver, is this find/replace?

[2015-06-04 21:00] #2707 closed

[2015-06-04 21:02] sspeiche commented on #2723
Made that change in https://github.com/openshift/nodejs-ex/blob/master/openshift/nodejs-template.json and confirmed it worked.  Thanks @bparees

[2015-06-04 21:11] thoraxe commented on #2723
@bparees I'm not doing anything -- OpenShift is setting all of this up because I'm just using the web console.

The only thing that exists prior to me typing my git repo url in the box is the rhel7 imagestream.

Are you saying that we need to update the builder imagestream definitions?

[2015-06-04 21:12] liggitt commented on #2723
also, did the CLI new-app behave differently given the same inputs? if so, we'd like them to be consistent

[2015-06-04 21:13] thoraxe commented on #2723
I don't know - I haven't tried it with new-app. I can.

[2015-06-04 21:16] bparees commented on #2723
@thoraxe no it sounds like we're not creating the right reference in the buildconfig object when we construct it.  you're picking an imagestream and then we're for some reason not defining the buildconfig to reference that imagestream, we're setting it up to reference a dockerimage instead.

[2015-06-04 21:18] smarterclayton commented on #2643
Add should be the default action, I think.

[2015-06-04 21:18] smarterclayton commented on #2643
`--mount` should be `--path`

[2015-06-04 21:20] smarterclayton commented on #2643
--delete should require --confirm

[2015-06-04 21:20] smarterclayton commented on #2643
`--delete` should be `--remove`

[2015-06-04 21:20] smarterclayton commented on #2643
Changing volume type should require `--confirm`

[2015-06-04 21:20] smarterclayton commented on #2643
Drop `--overwrite` since we have name uniqueness and `--confirm`

[2015-06-04 21:21] smarterclayton commented on #2643
`--source` for JSON string seems fine

[2015-06-04 21:21] smarterclayton commented on #2643
Looks really good Ravi - I think with those changes above we're good to go

[2015-06-04 21:22] bparees commented on #2723
@csrwng can you make sure osc new-app doesn't have this problem too?  the buildconfig it creates should reference an ImageStreamTag, not a DockerImage for the builder ref.

[2015-06-04 21:23] #2769 closed

[2015-06-04 21:25] liggitt commented on #2723
@thoraxe what version are you running? on 6/2 the UI made this change to the generated build config:
[code]

[2015-06-04 21:26] liggitt commented on #2723
I think that should be a correct ImageStreamTag-based build config now

[2015-06-04 21:28] liggitt opened #2827 "Clean up test scripts for build logs"
Some of the test scripts switch back to cluster-admin user to do builds in order to view build logs. This is no longer necessary, and should be cleaned up so we exercise build logs as a normal user.

[2015-06-04 21:42] ironcladlou opened #2828 "Rolling-update should have a tunable for the % of pods to bring up at once"
Make the rolling update scale amount configurable as a percent of the replica count.

Introduce a new optional deployment API field `strategy.rollingParams.updatePercent`. If specified, the amount of replicas scaled up and down each interval will be computed as a percentage of the desired replicas (for the new deployment) and the actual replicas (of the old deployment) respectively. If the field i

[2015-06-04 21:42] ironcladlou commented on #2828
cc @abhgupta @smarterclayton

[2015-06-04 21:45] danmcp commented on #2773
GOPATH and GOROOT are distinct concepts.  In normal cases GOROOT doesn't need to be set.  But the $HOME/go from Installing Go and $HOME/go examples for the GOPATH are unrelated concepts.  On fedora for example GOROOT would be /usr/lib/golang/ from yum installing golang.  But it's ok if they are set to the same thing.

Fixed with: https://github.com/openshift/origin/pull/2816

Is it right to execut

[2015-06-04 21:46] ironcladlou commented on #2828
This would have to be an upstream patch we'd carry, and seems nontrivial.

[2015-06-04 21:50] csrwng commented on #2767
@sosiouxme - I was able to reproduce it in aws. The messsage happens because the deployment config trigger is processed before the image stream tags are populated. However, when the image stream tags get populated, the deployment proceeds as normal. This should be ok.

[2015-06-04 21:54] mrunalp commented on #1089
https://github.com/openshift/openshift-docs/pull/449

[2015-06-04 22:06] smarterclayton commented on #2828
Why?  We're only going to carry this for a matter of weeks, and the upstream code shouldn't be changing.

[2015-06-04 22:40] #2432 closed

[2015-06-04 22:44] #2773 closed

[2015-06-04 22:52] smarterclayton commented on #2731
9080 needs to be backported, assigning to @derekwaynecarr

[2015-06-04 23:07] smarterclayton opened #2832 "Integration tests are slow"
Each integration test, on startup (on a fast 4 core 8 hyper threaded i7 mobile), takes about the following:

* 0-3s: creating certs - same in each test in the same run, so looks like we're not reusing the certs
* 3-10s: starting the server

The cert generation appears to not be reusing certs (or we are having to do expensive tests each time to verify):

Test 1:

[code]

Test 2:

[code]

The 7 seco

[2015-06-04 23:08] smarterclayton commented on #2832
@liggitt @deads2k for after 3.0

[2015-06-05 00:21] #1592 closed

[2015-06-05 01:24] liggitt commented on #2832
We are reusing the certs... they actually get reused between runs. If you delete /tmp/openshift-integration, the first run takes ~11 seconds to set up default master options.

[2015-06-05 01:46] smarterclayton commented on #2832
So the message is not indicating the fact that the certs are reused?  On my system on a clean run each execution takes the same amount of time, clean or no.  And why 3 seconds for startup?

[2015-06-05 02:03] liggitt commented on #2832
if you remove the tmp dir shown, it'll take more than 3 seconds to get through the cert bits

I guess it takes 3 seconds to verify the ca, cert, key, and regen the kubeconfig for those users... not sure

[2015-06-05 02:05] smarterclayton commented on #2832
Do we need to?  Probably worth a "skip" flow.

[2015-06-05 02:46] detiber opened #2834 "SDN assigns duplicate subnets"
When adding additional nodes to a running cluster, we are seeing that duplicate subnets are being defined.

output of osc get hostSubnet prior to adding nodes:
ip-172-19-48-236.ec2.internal   ip-172-19-48-236.ec2.internal   172.19.48.236   10.0.0.0/16
ip-172-19-53-204.ec2.internal   ip-172-19-53-204.ec2.internal   172.19.53.204   10.3.0.0/16
ip-172-19-53-205.ec2.internal   ip-172-19-53-205.ec2.int

[2015-06-05 02:48] detiber commented on #2834
@rajatchopra We are seeing this in the demo env. It only seems to affect us when adding nodes after the initial cluster spinup (say a day later).  openshift-master is also restarted in between the initial nodes being added and subsequent nodes being added.

@sdodson @brenton @thoraxe: FYI for beta4

[2015-06-05 04:11] liggitt commented on #2820
@derekwaynecarr I thought resource defaults were supposed to get applied to pods... am I making that up?

[2015-06-05 04:56] pmorie opened #2838 "Console: show the duration of completed run-once pods"
When displaying information about a run-once pod which has completed, the duration should be shown.

[2015-06-05 05:21] fabianofranz commented on #2672
Places where the existing resolvers framework don't fit very well in a searching/listing scenario (notes for myself to decide what to do):

- [ ] The `Resolve` method in the `Resolver` interface return one single `ComponentMatch` which is a struct, not an interface. For search results we would like every possible match to be returned. Could be changed to return a slice of `ComponentMatch`. Could m

[2015-06-05 05:52] rajatchopra commented on #2834
Fixed with https://github.com/openshift/openshift-sdn/pull/82
Tested on a running cluster and the fix works. Test with new cluster creation pending.

[2015-06-05 08:31] mfojtik commented on #2680
@smarterclayton @bparees this is indeed a bug in process. The problem is that when you pipe template to process it is converted to List and it should not be as you need to get parameters as well (the template is not just a simple List)...

I wonder whether we should disable streaming to process or fix it so instead of converting to list it will wait till EOF and then convert the whole content to T

[2015-06-05 08:34] mfojtik commented on #2680
Additionally this:

[code]

seems to decode the stream with Template as `*api.List`

[2015-06-05 11:32] deads2k commented on #2063
I'm not sure.  Feel free to try it.  We're using it for advanced authentication configs and for self-subject access reviews.

[2015-06-05 11:52] ironcladlou commented on #2819
Talking with @abhgupta we began to wonder if this behavior is possibly correct. When using image triggers, you've asked openshift to manage the image field on the containers in your deployment's pod templates. Every time there's a config change or image change trigger event, we re-compute the container images based on your triggers and the latest ImageStream tag events. If we're unable to find the

[2015-06-05 12:16] deads2k commented on #2832
Certs have to be verified in order to authenticate using certs.  Today, we authenticate using certs for internal controllers, so it's pretty non-optional.

[2015-06-05 12:43] sosiouxme commented on #2767
@csrwng Well then it's decidedly a p3. Or if you don't mind the message in the logs, I could just close this.

[2015-06-05 12:50] csrwng commented on #2767
I think this is working as designed. So yeah, go ahead and close it.

[2015-06-05 12:52] #2767 closed

[2015-06-05 12:54] csrwng commented on #2672
@fabianofranz I agree... call the things that do the actual searching Searcher instead of resolver. Keep the current searcher interface (https://github.com/openshift/origin/blob/master/pkg/generate/app/imagelookup.go#L307-L309) and make the low-level things that can return multiple results (like DockerClientResolver, DockerRegistryResolver, etc.) searchers. And the thing that aggregates them like

[2015-06-05 13:13] derekwaynecarr commented on #2233
Show resource limits in CLI
https://github.com/GoogleCloudPlatform/kubernetes/pull/9304

[2015-06-05 13:22] soltysh commented on #1647
Before actually starting to choosing/implementing something, I'd say we should create a card and write down all the requirements we have, on top of my head:
* ability to remove prefix (date, loglevel, etc)
* ability to log to stdout and stderr on demand

[2015-06-05 13:30] smarterclayton commented on #1647
If also want the ability to do structural separation for the CLI

[2015-06-05 13:31] derekwaynecarr commented on #2820
Will review this later this morning

Sent from my iPhone

[2015-06-05 13:32] frankcarey opened #2848 "Better documentation for getting started with Openshift3"
I ran into some snags that were confusing, and I think should be documented in the Getting started sections to save people some headache. It says docker is the easiest way to get started, but it should have a bit more info there to make it actually easy to get started. [I'll update this as I go, in getting things setup]
- _Needs to use https:// urls, not http_ - This really threw me for a loop. I

[2015-06-05 13:34] smarterclayton commented on #2832
Except we are explicitly rerunning the same flow over and over in a test suite, and if they get broken they will cause failures anyway.  Is this is going to fail safe in test cases.

[2015-06-05 13:35] stevekuznetsov commented on #1370
@danmcp this has nothing to do with the policy cache, I won't be effective at looking at it

[2015-06-05 13:36] smarterclayton commented on #1370
I believe he considers this a learning experience.

[2015-06-05 13:38] bparees commented on #2680
seems like should be fixing it.

[2015-06-05 13:41] deads2k commented on #2832
Not really.  If you disable the cert validation, then you have to disable authentication in order to get the controllers to run.  That means that integration tests won't be properly constrained by policy.  If you go in the other direction and stop the controllers from running, then you won't be testing the different interactions of the system.

[2015-06-05 13:43] smarterclayton commented on #2832
Why do we have to validate certs in order to use them

Most times we aren't

[2015-06-05 14:02] smarterclayton commented on #2819
You're asking Openshift to automatically redeploy you when you get new images on that tag.  If that tag doesn't exist when your DC is created, there are two options.  1. It's a race, and you expect a tag shortly, and you don't expect to deploy twice.  2. It's intentional, and you want the app deployed using the images in the pod template.

There has to be something that the user can specify that d

[2015-06-05 14:05] danmcp commented on #2818
@ncdc FYI

[2015-06-05 14:10] ironcladlou commented on #2637
The upstream implementation supports continuing a partial rollout. So, should the canary check be performed when the target replica count is currently 1, or should we do the canary check once per rollout attempt (on the first iteration, so when replica count is either 1, or whatever the last count was the next time we try to resume a partial rollout)?

One problem with doing the check "the first s

[2015-06-05 14:11] ironcladlou commented on #2637
cc @smarterclayton @abhgupta

[2015-06-05 14:12] danmcp commented on #2821
@derekwaynecarr FYI

[2015-06-05 14:13] danmcp commented on #2821
@bparees @csrwng FYI

[2015-06-05 14:14] TomasTomecek opened #2849 "custom-build: enable mounting volumes from host"
We have a use case where we want to mount a directory from host to build container during build. We would like to use this to propagate some build artifacts from build to some NFS shares. Does this make sense?

[2015-06-05 14:16] smarterclayton commented on #2672
Search

Search should call code that fetches the lists

Search

[2015-06-05 14:16] smarterclayton commented on #2672
Exactly what Cesar said

[2015-06-05 14:17] bparees commented on #2849
@markturansky how feasible is this?  if we define a build pod with some NFS volume, and then the build pod is deleted, i assume the NFS volume gets reclaimed?

@TomasTomecek is this output only?  or do you want those artifacts to be consumed by the next build too?

[2015-06-05 14:19] bparees commented on #1647
@smarterclayton structural separation of what?

a requirement from me would be:  abiility to enable logging for specific packages instead of just globally.

[2015-06-05 14:22] smarterclayton commented on #1647
Fabiano did a great write up of our CLI reqs a few months back - search for structured CLI in origin.

glog supports package filtering

[2015-06-05 14:26] fabianofranz commented on #2672
I agree, thanks folks. Relying on the existing `Resolver` would make sense if we wanted the search results behave like in create (e.g. if there's an exact match, return only that). The `Searcher` idea is pretty much what I started doing yesterday when using the existing stuff started to smell bad.

[2015-06-05 14:29] bparees commented on #1647
@smarterclayton hm, someone else told me it did not..is it just that we don't expose a way to set the package in our log arguments?

[2015-06-05 14:32] derekwaynecarr commented on #2821
@thoraxe - Is there a LimitRange in your project that specifies defaults?

see the example: https://github.com/GoogleCloudPlatform/kubernetes/pull/9264

I know I just tested this on upstream and defaults are getting picked up fine on any pod in the namespace that did not specify resource limits, will make sure there was no regression in OpenShift.

[2015-06-05 14:32] smarterclayton commented on #1647
Yeah, they have like 15 options so we only expose loglevel right now

----- Original Message -----

[2015-06-05 14:33] derekwaynecarr commented on #2821
@thoraxe - it is possible to set resources on a deployer pod, see the template in this example that sets limits on the frontend deployer.

https://github.com/openshift/origin/tree/master/examples/project-quota

[2015-06-05 14:34] smarterclayton commented on #2233
Everyone on this list - you need to be getting your UPSTREAMS in to OpenShift master soon.  Be sure to document your upstream patches well so that the next time we do a rebase I can decode what the causes are.

----- Original Message -----

[2015-06-05 14:35] smarterclayton commented on #2637
We should go up to 1 replica, wait for canary, then move on.

[2015-06-05 14:35] abhgupta commented on #2637
I believe that the readiness check for a "canary" is relevant only for the first pod. If the first pod for the RC passes that check, we don't need to repeat the check for subsequent pods. The check is aimed at validating the image (for the most part), and hence checking a single pod is sufficient.

[2015-06-05 14:38] ironcladlou commented on #2637
Agree, thanks.

[2015-06-05 14:39] smarterclayton commented on #2637
Well... in general, readiness IS relevant for rolling an update.  You shouldn't go from 0->1, then go from 1-50 without checking readiness.  Each *chunk* of rolling deployment should be judged by readiness.

----- Original Message -----

[2015-06-05 14:40] ironcladlou commented on #2637
Is there some way to know what RC was created when I'm doing a chunk and go from say 10 to 11? THe replica selector will match them all.

[2015-06-05 14:42] liggitt commented on #2818
router/registry commands don't have the master config...

[2015-06-05 14:43] smarterclayton commented on #2637
Do you have pods available on only replica selectors?  Either way, after a chunk, get pods, check for ready.  We can just do the first chunk now in this pull, but the other chunks will bear relevant later.

----- Original Message -----

[2015-06-05 14:43] danmcp commented on #2848
Where is the reference to http:// or a reference without https://?

[2015-06-05 14:49] liggitt opened #2851 "Update UI to oapi/v1"
oapi/v1
- [ ] de-embedding Image from ImageStreamTag and ImageStreamImage
- [ ] remove imageName from ImageStreamTag and ImageStreamImage
- [ ] Change trigger values to initial upper-case (GitHub, Generic, ImageChange)

api/v1
- [ ] status change from "termination" to "terminated"
- [ ] null `replicas` field in replication controller means 1, undefined means 0
- [ ] changes in https://github.com/o

[2015-06-05 14:50] ncdc commented on #2851
I'm working on de-embedding Image from ImageStreamTag and ImageStreamImage. The UI will need to be updated accordingly, e.g. scope.image = image.image (probably should rename the first image to imageStreamTag).

[2015-06-05 14:56] ncdc commented on #2233
Pluggable exec is in.

[2015-06-05 14:56] sdodson commented on #2818
Could they just submit the ${component} and let the master evaluate the image template for that component rather than submitting the full image name?

[2015-06-05 15:00] markturansky commented on #2849
@bparees Recycling an NFS volume is optional.  The field PV.Spec.PersistentVolumeClaimPolicy defaults to Retain but would need to be set to Recycle.  The volume is only recycled when the claim to it is deleted (volume is released).

Using NFS to keep builds around in between pods would work just fine.  When the build server pod deletes its PVC, that's when the NFS volume is recycled (if set to rec

[2015-06-05 15:06] rcernich commented on #2065
So how would I define a parameter in a template that represents:
 * the default domain configured for OpenShift
 * the namespace in which the template is being processed
For example, say I have a parameter APP_NAME and I'd like to configure the Host field on a Route to ${APP_NAME}.${DEFAULT_DOMAIN}.

[2015-06-05 15:10] ironcladlou commented on #2637
@smarterclayton @abhgupta we need to address "Outstanding design issues:" since it could be an API addition (I assume additive changes are fine, but want to be sure).

[2015-06-05 15:12] smarterclayton commented on #2637
Reuse the timeout.

[2015-06-05 15:13] smarterclayton commented on #2065
Infrastructure domain?  Not supported, but @pmorie can help.  What's the default domain being used for (to get the route?)

----- Original Message -----

[2015-06-05 15:14] ironcladlou commented on #2637
Reuse will be okay for now, but it's very rough... the time it takes to scale up the RC count is a scheduling timeout, while the canary time is how long it takes your app to start up.

[2015-06-05 15:18] rcernich commented on #2065
DEFAULT_DOMAIN would be the domain configured on OpenShift.  Another example might be that I want to configure the route to simply project-name.default-domain, where project-name is the name of the project in which the route is being instantiated and default-domain is the domain configured on OpenShift.  For example, out of the box default config might result in: default.cluster.local.

Likewise,

[2015-06-05 15:19] rcernich commented on #2065
Sorry if I didn't make this clear in my original comment.

[2015-06-05 15:21] deads2k commented on #2455
I'll take a stab at: I should be able to see that automatic deployments are disabled in osc status and osc deploy

[2015-06-05 15:23] abhgupta commented on #2455
@deads2k Thanks! Please spin off a new issue and link it here.

[2015-06-05 15:25] spadgett opened #2852 ""No description" is shown beside the display name field on the settings page"
If a project has an empty display name and an empty description, its settings page looks like this.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8009236/4c4895e6-0b75-11e5-9dc6-999d9583aa07.png)

[2015-06-05 15:26] deads2k opened #2853 "osc status and osc deploy should highlight deploymentconfigs with automatic triggers disabled"
Part of https://github.com/openshift/origin/issues/2455

[2015-06-05 15:26] abhgupta opened #2854 "Fail back a deployment"
Separate issue for item listed in https://github.com/openshift/origin/issues/2455

I should be able to "fail back" a deployment - scale back up the N-1 deployment and mark the latest failed, even after it's complete. Example - I rollout a change, I realize it's bad, i don't want to disable automatic updates, but I do want to not deploy until another automatic change happens. I want to scale N-1 ba

[2015-06-05 15:27] spadgett opened #2855 "Warning icon sometimes flickers briefly on browse deployments page"
Same as #2411, but on a different page.

[2015-06-05 15:28] smarterclayton commented on #2637
A deployment that is fast but you don't know whether it's broken isn't very useful :)

----- Original Message -----

[2015-06-05 15:30] smarterclayton opened #2857 "Deployment hook pods are left around"
[code]

Is this intentional?

[2015-06-05 15:32] thoraxe commented on #2723
I just noticed that adding items via the CLI does not automatically start a build. For example, the application sti template (slightly modified) as follows:

[code]

`osc process -f template.json | osc create -f -`

This will deploy the DB but a build never appears to start.

[2015-06-05 15:32] thoraxe commented on #2723
wait, i might have a bad buildconfig...

[2015-06-05 15:33] abhgupta opened #2858 "Deployment hook pods are left behind after deployment is complete"

[2015-06-05 15:35] abhgupta commented on #2455
I have picked up deployment "fall-back"

[2015-06-05 15:37] frankcarey commented on #2848
You are correct of course, that https is shown at https://github.com/openshift/origin/#web-console .. Where I had trouble was partly that I didn't notice the https:// there, but also since `localhost` wasn't relevant to me setting things up remotely, I had to change it to a specific ip address and when I did that without https:// specifically stated, the browser (chrome at least) assumes that it's

[2015-06-05 15:44] abhgupta commented on #2858
@smarterclayton @ironcladlou Need quick feedback/consensus on the approach:

I plan to delete the deployment hook pods once the entire deployment completes successfully. Also, the deployment hook pods will be deleted only on successful completion of the deployment and be left alone in case of a failure (allowing the user to inspect logs).

[2015-06-05 15:47] spadgett commented on #2813
@pmorie Is the build not showing on the overview page or the browse builds page (or both)?

[2015-06-05 15:47] abhgupta commented on #2854
@smarterclayton @ironcladlou Here are my thoughts/questions.

1. We will fail-back to the last successful deployment.
2. If the latest deployment is in new/pending/running state, the user will have to cancel it first.
3. If the latest deployment is in the failed state, we will simply revert back to the last successful deployment.
4. If the latest deployment is in the completed state, we will mark

[2015-06-05 15:51] smarterclayton commented on #2854
----- Original Message -----

What if I scaled up my failed deployment?

What do you mean by revert?

I don't know what that means.

[2015-06-05 15:55] spadgett commented on #2815
@pmorie Any of these container statuses trigger a warning.

*Looping Container*

Pod running
Container restart count > 2
Last started < 5 minutes ago

*Failed Container*

Pod running
Container terminated
Container exit code != 0

*Unprepared Container*

Pod running
Container running
Container ready == false
Container started > 5 minutes ago

[2015-06-05 16:03] abhgupta commented on #2854
----- Original Message -----

This is covered by point 2 and 4.

"Revert" was just the name of the flag that I was thinking about using for the <osc deploy> command.
Revert will behave the same as rollback to a specific previous deployment.
The user could use:
osc deploy <dc-name> --revert
and this could "revert" back to the last successful deployment.
Revert will create a new deployment, just as

[2015-06-05 16:05] spadgett commented on #2815
We opened issue #2380 to show a message about the cause of the warning.

[2015-06-05 16:08] smarterclayton commented on #2854
----- Original Message -----

Why would we have revert and rollback?  If a deployment fails it should clean itself up or stop.  If we just stop, then we need a clean up, which is either scale=0 or happens automatically.

Think about this from the perspective of an automated security update.

1. App is at deployment #2
2. Security update triggers, resulting in a new build
3. App starts rolling out

[2015-06-05 16:08] abhgupta commented on #2828
@smarterclayton I believe @ironcladlou's comments were in support of our argument for potentially pushing this past 3.0. Its ok if we don't want to make this determination right now and I am fine with it staying in P2. In the very least, I would suggest considering this lower priority than the other deployment items we are currently working on.

[2015-06-05 16:09] smarterclayton commented on #2828
Post 3.0

----- Original Message -----

[2015-06-05 16:11] pmorie commented on #2815
It would be awesome to have a config item for the 'last started > X minutes
ago' criteria for X.

On Fri, Jun 5, 2015 at 12:05 PM, Sam Padgett <notifications@github.com>
wrote:

[2015-06-05 16:14] ncdc opened #2861 "Add osc tag command"
Add image promotion CLI command (be able to take an image or tag and add it somewhere else).

Proposed command:

`osc tag [--docker] <source> <dest> [<dest>...]`

`<source>` is a valid ImageStreamTag (`<ns>/<stream>:<tag>`), ImageStreamImage (`<ns>/<stream>@<id>`) or DockerImage (pull spec) reference
`<dest>` is an ImageStreamTag reference
`--docker` indicates the source is a DockerImage

Examples

[2015-06-05 16:14] ncdc commented on #2861
For #2628

[2015-06-05 16:18] ncdc commented on #2861
@smarterclayton PTAL before I start coding :smile:

[2015-06-05 16:18] pweil- commented on #2233
Submitted https://github.com/openshift/origin/pull/2856 for https://github.com/GoogleCloudPlatform/kubernetes/pull/7893

[2015-06-05 16:20] smarterclayton commented on #2861
`osc tag`

[2015-06-05 16:20] smarterclayton commented on #2861
one source, many dests

[2015-06-05 16:20] smarterclayton commented on #2861
support docker image source

[2015-06-05 16:23] spadgett opened #2862 ""No deployments to show" message looks odd when deployment config exists"
On the browse deployments page. The message is not inaccurate, but it shows up in a confusing place above the deployment config.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8010344/7ceaa1f0-0b7d-11e5-8b2b-774012b023d9.png)

[2015-06-05 16:26] abhgupta commented on #2854
We currently don't perform any clean up when a deployment fails.

We will set the replica to 0 for the failed deployment. This update will be performed in a single shot (replicas updated to 0 directly).

Q: Should we automatically scale up the previous successful deployment? Also, can we simply set the replicas to the final/expected/desired value in a single shot? I don't think it makes sense to s

[2015-06-05 16:26] ncdc commented on #2861
@smarterclayton description updated

[2015-06-05 16:27] ironcladlou commented on #2857
Did the deployment fail? If so, we leave stuff around for inspection. If the deployment ultimately succeeds, we clean up the deployer pod. The [cleanup code for success](https://github.com/openshift/origin/blob/master/pkg/deploy/controller/deployment/controller.go#L138) should also be updated to use our new selector functionality so that it also cleans up hook pods on success. cc @abhgupta

[2015-06-05 16:28] ironcladlou commented on #2858
Is this a duplicate of #2857? My opinion on the correct behavior is at https://github.com/openshift/origin/issues/2857#issuecomment-109353070.

[2015-06-05 16:30] smarterclayton commented on #2857
It succeeded but was left around I believe.

[2015-06-05 16:32] ironcladlou commented on #2857
If it succeeded, then #2858 (or this one) is a duplicate.

[2015-06-05 16:32] abhgupta commented on #2858
Closing this as a duplicate of #2857

[2015-06-05 16:32] #2858 closed

[2015-06-05 16:34] smarterclayton commented on #2854
----- Original Message -----

If we scale down to 0, we have to restore the previous.  If we leave as is, we wouldn't change the previous.  If the attempt to reset the counters fails, we retry a few times and then die.  Restore to previous can be one shot.

[2015-06-05 16:36] ironcladlou commented on #2854
The previous deployment's desired replicas will be in the `DesiredReplicasAnnotation` annotation, so that's at least one way to restore a previously valid number, but it doesn't necessarily match what the replica count was at the time of scale-down (the user could have manually resized it).

[2015-06-05 16:40] abhgupta commented on #2854
@ironcladlou One possible solution is to use the `DesiredReplicasAnnotation` value of the current/failed deployment. I am leaning towards this at the moment.

[2015-06-05 16:40] ryanj commented on #2813
I'm hitting this issue with Firefox on Fedora21.  The green alert message seems to appear reliably, but these two UI triggers seem less reliable:

* The 'Build' button should automatically change state to 'disabled' whenever a build is in progress.
* A build's progress section (displaying total build time) should be displayed whenever a build is in progress.

I've also seen the timer reset back to

[2015-06-05 16:42] ironcladlou commented on #2854
That seems reasonable, as the value was computed based on the replicas of the prior deployment. Sounds like a winner to me.

[2015-06-05 16:43] pmorie commented on #2813
@spadgett this is scoped to the builds page from what I can tell but I was not especially vigilant about the other views that might be displaying a build's info / pod.

[2015-06-05 16:43] liggitt opened #2864 "Builds continue getting attempted after namespace and buildconfig is deleted"
I created a namespace, created a buildconfig, and the build controller started trying to run a build.
While that was happening, I deleted the namespace, which cleaned up all objects.
This continues in the log for a long time afterward (5 minutes and counting):
[code]

[2015-06-05 16:50] TomasTomecek commented on #2849
We would use it probably just for one build. Then we would spin another volume. Tbh I'm still not sure about the overall design. Let me think about this a bit more.

[2015-06-05 16:55] ironcladlou opened #2865 "More robust deployment e2e tests are needed"
We need e2e tests for deployment scenarios such as:

1. `oc deploy --latest`
2. `oc deploy --retry`
3. `oc deploy --cancel`
4. `oc rollback`

They should include a variety of hook scenarios as well.

[2015-06-05 16:56] liggitt commented on #2813
The `Build` button should disable as soon as the server notifies the UI of a build... if the UI is displaying a build in progress and the button is still enabled, that's a bug. Otherwise, the UI hasn't been notified yet.

The timestamp resets when the build changes state:
[code]

[2015-06-05 16:57] derekwaynecarr commented on #2864
It's determined to build!

Sent from my iPhone

[2015-06-05 17:14] ironcladlou commented on #2316
Keep in mind that if a user deletes a deployment, as described in #2809 the deployment might automatically get recreated on the next config update even without triggers or a trigger-worthy change.

[2015-06-05 17:25] sosiouxme commented on #2708
Help and functionality fixed.

[2015-06-05 17:25] #2708 closed

[2015-06-05 17:30] deads2k commented on #2853
@liggitt Please assign to me.

[2015-06-05 17:45] spadgett commented on #2813
After talking to @ryanj, I believe this is the same problem as #2529.

[2015-06-05 17:53] derekwaynecarr commented on #2821
This is a good reason why deployed and build pods should go in a namespace that is not subject to quota longer term.

[2015-06-05 18:05] #2813 closed

[2015-06-05 18:06] ironcladlou opened #2869 "Possible goroutine leak with deployment hook pod monitoring"
Opening this issue so we don't forget to investigate. [This code](https://github.com/openshift/origin/blob/master/pkg/deploy/strategy/support/lifecycle.go#L188) to monitor hook pods uses a Reflector with `Run` rather than `RunUntil`, which means that when we're done with the watch struct, the reflector goroutine will remain forever.

This seems like a pretty bad resource leak since repeated deploy

[2015-06-05 18:07] ncdc commented on #2818
https://bugzilla.redhat.com/show_bug.cgi?id=1228370

[2015-06-05 18:28] derekwaynecarr commented on #2820
@thoraxe @liggitt

I read the original problem description more closely, and am unsure what the desired system behavior should be for this issue.  @thoraxe notes that he has enabled quota on a project, but the project did not specify default resource limits.  as a result, when the deployer pod is created, its rejected properly.

@thoraxe - do you want the UI to warn the user of this situation?  do

[2015-06-05 18:50] sdodson commented on #2820
@derekwaynecarr I think we just need to add some default resource limits to all the places where we're creating quotas for projects in the training materials. I'll put together a PR for the training materials to do this.

[2015-06-05 18:53] liggitt commented on #1921
The following three issues have been addressed:
- [x] Reopening/accumulating open web sockets incorrectly while navigating between pages
  - This would mean you had a lot of open web sockets
  - When they expired (every 5 minutes) they would all reopen
  - When a watch event came in, callbacks were called multiple times if multiple watches were open
- [x] Removed $interval calls that were evaluati

[2015-06-05 18:58] derekwaynecarr commented on #2820
@sdodson - for your awareness, GKE is running with default limits in their 1.0 release for 100m cpu, but no defaults for memory.

[2015-06-05 18:58] spadgett commented on #2584
This is available in the browse deployments page, but easy enough to add to the overview.

From browse deployments:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8012955/4630340c-0b93-11e5-889e-fc42a78b4f4e.png)

[2015-06-05 19:00] sdodson commented on #2820
https://github.com/openshift/training/pull/244 Also, is this not a dupe of #2821 ?

[2015-06-05 19:25] jcantrill opened #2876 "osc help should alphabetize command"
It should either alphabetize the commands or possibly group them logically and then alphabetize them.  Its difficult to find a command in the existing list

[2015-06-05 19:27] spadgett opened #2877 "Pods in the web console show text "Allocating IP..." when terminating"
To reproduce:

1. Open the web console
1. Use `osc edit rc` to increase the number of desired replicas to a large number.
1. Use `osc edit` again to reduce to the number of desired replicas.

You can see in the web console the pods that are terminating have the incorrect message `Allocating IP...`, which we default to when the pod does not have an IP.

[2015-06-05 19:33] bparees commented on #2723
@thoraxe yeah your from reference is not valid there.  you've got the wrong imagestreamtag name i believe.

whatever happened with your original issue?  did you update to newer code like @liggitt suggested?  i'd like to get this closed.

[2015-06-05 19:55] soltysh opened #2880 "Allow debugging docker push"
This [commit](https://github.com/openshift/origin/commit/e957864a407db893019d77511f9c22efcf40adf2) silenced docker push, which is ok, but not where you're trying to debug the lengthy times of actual docker push. There should be an option or loglevel where we should allow seeing those push details.

[2015-06-05 20:05] spadgett opened #2881 "Remove button can wrap onto next line when editing labels at mobile sizes"
This can happen with labels and environment variable values.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8014163/6e4c217c-0b9c-11e5-9a33-33c50377e854.png)

It's supposed to look like this.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8014179/8e7f1f62-0b9c-11e5-8420-66de219f4b83.png)

[2015-06-05 20:08] spadgett opened #2882 "Can't see full env var value when it's not editable"
The value in the Web Console is elided, and it has no tooltip.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8014209/e0451874-0b9c-11e5-867a-52ecb64d628f.png)

In edit mode, you can move the cursor to see the rest of the value and copy it, but you can't see the full value at once.

[2015-06-05 20:09] pweil- commented on #2713
https://github.com/openshift/origin/pull/2846 fixed this so I closed my PR.  This issue can be closed.

[2015-06-05 20:10] liggitt opened #2883 "Build pods getting created with default serviceaccount"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/2817/artifact/origin/artifacts/e2e/artifacts/etcd_dump.json
[code]

Build pods should be created with the builder service account, not the default service account

[2015-06-05 20:16] spadgett opened #2885 "Details sidebar says build is both complete and not complete"
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8014347/f592f484-0b9d-11e5-8d61-ca22a3326632.png)

Here is the JSON. Build duration looks wrong as well.

[code]

[2015-06-05 20:18] #2834 closed

[2015-06-05 20:18] #2785 closed

[2015-06-05 20:18] #2852 closed

[2015-06-05 20:18] csrwng opened #2886 "New-app not generating valid names"
Lower-case names and ensure max lengths are enforced

[2015-06-05 20:19] liggitt commented on #2886
and minlengths = 2

[2015-06-05 20:20] liggitt commented on #2877
should only show that when status is pending or running, probably
/cc @pmorie

[2015-06-05 20:28] spadgett opened #2888 ""IP on node" shown with no value in details sidebar"
This is under Pod Status. If there is no IP, it should either be hidden or say `None`.

![screen shot 2015-06-05 at 3 28 16 pm](https://cloud.githubusercontent.com/assets/1167259/8014518/8cf4cfb8-0b9f-11e5-82b1-6098af9561a8.png)

(Not obvious from the screen capture, but there's no value.)

[2015-06-05 20:53] sdodson commented on #2731
https://bugzilla.redhat.com/show_bug.cgi?id=1228798

[2015-06-05 21:02] mwringe opened #2890 "Command in kubernetes config prevents container from being accessible"
If the 'command' section is added to the kubernetes configuration file, then the application will not be accessible at its IP endpoint.

See https://gist.github.com/mwringe/5abe6b5ec95bd093a7eb for a simple example illustrating this. There are two pods and services created, the only difference (other than the name) is that one has a 'command' section defined which contains the same content as the

[2015-06-05 21:12] #2506 closed

[2015-06-05 21:45] pmorie commented on #2233
We need an upstream patch for https://github.com/GoogleCloudPlatform/kubernetes/pull/5093.

[2015-06-05 22:14] #2731 closed

[2015-06-05 22:43] smarterclayton commented on #2065
The search order at a minimum should prevent you needing to know the cluster DNS suffix.  Seems reasonable that cluster namespace would be available via downward API, although that might be solvable via other clever mechanisms

[2015-06-05 22:50] rcernich commented on #2065
Right, I understand that for accessing services, but I was suggesting using something like this as the host name for a route.  That said, I would most likely default to application.project.domain, but it's always nice to have options. ;)

[2015-06-05 22:53] smarterclayton commented on #2065
Routes are in the search order internally - but you're mentioning the cluster DNS route?  That'll be available eventually from DNS on the service (this service is exposed as this name externally) or from the downward API.

[2015-06-05 22:59] rcernich commented on #2065
So are you saying, if I specify host=foo and the default domain is cluster.local, and my project bar, the router will route to the route's service if the host specified is foo.bar.cluster.local?  If so, that's great to know.

[2015-06-05 23:13] smarterclayton commented on #2065
If your route is named "foo" in namespace "bar", it will be available at "foo.bar.router.default".  You may want to set ndots to 3.

Host is special - you'd have to have internal DNS do that (which we don't yet do, but it's possible).

[2015-06-05 23:19] abhgupta commented on #2316
Agreed, but this is no different than the deployer pods being deleted for a successful deployment and then the user going ahead an deleting the deployment. A new deployment will be created for any DC update (without a trigger or a bump in LatestVersion) in such a case as well.

[2015-06-06 01:30] derekwaynecarr commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/issues/8814

[2015-06-06 01:30] derekwaynecarr commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/9358

[2015-06-06 01:39] #2695 closed

[2015-06-06 04:14] liggitt commented on #1921
Reopening... @spadgett found one more issue related to websockets getting reopening on failure

[2015-06-06 04:25] smarterclayton commented on #2632
Marking punch list closed (description unit test can finish after)

[2015-06-06 04:25] #2632 closed

[2015-06-06 04:54] #2713 closed

[2015-06-06 04:55] bparees commented on #2864
@liggitt i'm having trouble reproducing this...  1) how current was your code (i'm wondering if the pod/build sync deletion logic fixed/changed this behavior, it went in about a week ago...i doubt you're on anything that old, but...) 2) what state was the build in when you deleted the project?

my guess is that ultimately we'd give up on this anyway once we hit the retry time limit which is someth

[2015-06-06 04:57] bparees commented on #2864
@liggitt also if you can recreate it consistently, --loglevel=4 would be extremely helpful.

[2015-06-06 05:08] liggitt commented on #2864
I was running from master as of this morning... no idea on the state of the build. I'm fine with lowering severity.

[2015-06-06 05:19] detiber commented on #2813
@spadgett We've verified and the fix for https://github.com/openshift/origin/issues/2529 is deployed in the environment. Could it be related to https://github.com/openshift/origin/pull/2839?

[2015-06-06 05:21] liggitt commented on #2813
#2839 prevented builds from appearing on the overview page, but not on the builds page.

[2015-06-06 05:27] bparees commented on #2864
@liggitt take a look at my PR for this, my vote would be to optimistically close this when that merges.

[2015-06-06 06:42] bparees commented on #2579
neither installing glibc-static nor using the --tags netgo flag create a static binary on centos7.  still digging in to see if that's a known issue/limitation.

[2015-06-06 06:53] bparees commented on #2579
@vbatts might need your assistance here, seems like it has something to do with how the centos golang package is build vs the fedora one  (CGO_ENABLED=0)
https://groups.google.com/forum/#!topic/golang-nuts/S2WDcm47bhA

[2015-06-06 07:18] liggitt opened #2898 "newapp_test doesn't check source detection correctly"
The DeepEqual condition should error if `!reflect.DeepEqual`:
[code]

[2015-06-06 07:22] liggitt opened #2899 "ClusterSubjectAccessReviews / ClusterResourceAccessReviews run against default namespace"
Even though the client attempts to submit without a namespace, the default namespace gets added by the time it makes it to the registry.

On a related note, `resourceAccessReviewTest` and `subjectAccessReviewTest` are broken... they both have this test condition backwards:
[code]

Fixing that and checking for more specific error messages revealed that Cluster*AccessReviews were being run against t

[2015-06-06 11:49] vbatts commented on #2579
Try `-installsuffix netgo`? ( from https://groups.google.com/forum/m/#!topic/golang-dev/JKM7UaKRT6g )
I'll need test debug this on a centos7 machine

[2015-06-06 13:18] spadgett commented on #2813
@detiber Just confirming the fix for #2529 was there when the problem was observed? I'm not sure how often the server is updated, but we couldn't reproduce yesterday.

Your server is still using v1beta1 OpenShift API, so the change in #2839 would not apply to you.

[2015-06-06 13:25] liggitt commented on #2899
Should add a negative test for someone that has permissions in `default` but not cluster-level permissions and make sure the Cluster*Reviews return a correct result

[2015-06-06 14:07] spadgett commented on #2877
I looked closer at this, and I was wrong. Some of the pods were still pending when I lowered the replica count. It was those pods I saw and incorrectly assumed that the message was because they were terminating.

Closing as invalid.

[2015-06-06 14:08] liggitt commented on #2877
It's actually an issue we should fix. We should only show that text in pending and running states, probably

[2015-06-06 14:16] spadgett commented on #1921
@liggitt Here is the error from the server that causes the client to reopen web sockets again and again.

I saw this when I was changing the number of desired replicas.

Interestingly, I noticed the `Cannot read property 'triggers' of undefined` error from #2725 in the console as well:

[code]

I wonder if it's related.

[2015-06-06 14:24] liggitt commented on #1921
Ah yes. Our watch handler isn't dealing with ERROR responses. In that case we have to relist.

[2015-06-06 15:06] #2584 closed

[2015-06-06 15:11] smarterclayton commented on #1846
The deployment config count only takes effect on creation.  Use `osc scale` otherwise.

[2015-06-06 15:11] smarterclayton commented on #1877
This was fixed by #2476

[2015-06-06 15:11] #1877 closed

[2015-06-06 15:22] spadgett commented on #2725
I suspect we're getting an error object back from the server, but `_watchOpOnMessage` is passing it to the controller as the deployment config.

[2015-06-06 15:41] bparees commented on #2579
@vbatts awesome that worked, thanks... now to figure out how to bolt custom build args into our build release flow.

[2015-06-06 15:56] vbatts commented on #2579
Good to hear.
On Jun 6, 2015 11:41, "Ben Parees" <notifications@github.com> wrote:

[2015-06-06 17:00] #2883 closed

[2015-06-06 17:09] liggitt commented on #2725
Yeah, that's it

[2015-06-06 17:09] liggitt commented on #1921
I'm working on a fix for the relist

[2015-06-06 19:06] smarterclayton commented on #2861
I think --docker should replace the first argument -- `--docker=<image>` and then only specify destinations.  I don't know if someone would expect --docker as a boolean to apply to the destinations.

[2015-06-06 19:13] ncdc commented on #2861
My intent with --docker was to be able to distinguish between openshift/ruby as a reference to an image on the Hub vs a reference to an ImageStreamTag. I agree that it's not as intuitive as it could be. Do you have any thoughts on a nice clean way to do this? I'd prefer to avoid having to specify 1 of --from-docker=<pullspec>, --from-imagestream-tag=<istag>, --from-imagestreamimage=<isimage> for t

[2015-06-06 20:16] smarterclayton commented on #2861
It's fine for now we can change later

[2015-06-06 22:41] #1921 closed

[2015-06-07 01:26] liggitt commented on #2876
grouped in https://github.com/openshift/origin/pull/2897

[2015-06-07 01:26] #2876 closed

[2015-06-07 01:31] liggitt opened #2906 "`oadm help` shows all global flags by default"
All 56 of them, meaning the actual command help disappears off the screen.

Introduced in https://github.com/openshift/origin/pull/2897

[2015-06-07 03:42] bparees commented on #2579
fixed.

[2015-06-07 03:42] #2579 closed

[2015-06-07 11:09] liggitt commented on #2898
Raising priority, since right now this test is guaranteeing we don't get the ref we expect

[2015-06-07 11:12] liggitt commented on #2906
@smarterclayton fyi

[2015-06-07 14:57] smarterclayton commented on #2906
Flags, or commands?

[2015-06-07 16:09] smarterclayton commented on #2906
Fixed in #2909

[2015-06-07 18:36] #2906 closed

[2015-06-07 23:13] #2412 closed

[2015-06-08 00:21] smarterclayton commented on #2818
You can probably mutate the constant during the OSE build.  The only other option is take master config as an argument and that may not be appropriate for other reasons.

[2015-06-08 02:21] bparees opened #2913 "ImageStream not imported from registry"
twice now i've created an imagestream in one project, and then created basically the identical imagestream in a second project under the same user, and the second imagestream never gets imported (thus also no build ever gets kicked off).  it doesn't seem 100% consistent as i also saw it work at least once.

here's the "good" imagestream:
       {
            "kind": "ImageStream",
            "api

[2015-06-08 02:21] bparees commented on #2913
@ncdc @smarterclayton fyi

[2015-06-08 02:54] smarterclayton commented on #2913
P0

[2015-06-08 04:16] smarterclayton commented on #2655
What's the status on this?  This is still p0 for 1.0

[2015-06-08 04:21] smarterclayton commented on #2853
Link related issue here

[2015-06-08 04:25] smarterclayton commented on #2743
The race needs to be fixed, the warning is lower priority.

[2015-06-08 04:26] smarterclayton commented on #2642
Where are we on this?

[2015-06-08 04:27] smarterclayton commented on #2455
Reenabling triggers is the last item remaining here.

[2015-06-08 04:27] smarterclayton commented on #2449
Minions are dead.

[2015-06-08 04:27] #2449 closed

[2015-06-08 04:30] smarterclayton commented on #2420
Suggest `X cannot be updated: another client made an update to this object as version N`

[2015-06-08 04:31] smarterclayton commented on #1289
Someone needs to test this with a readiness check and without.

[2015-06-08 04:31] smarterclayton commented on #1696
Not going to be fixed in 3.0

[2015-06-08 04:41] smarterclayton opened #2915 "Infinite error: unable to find tagged image: no image recorded for drettori/jboss-eap6-openshift:${EAP_RELEASE}"
We need to handle this error in a cleaner way.  In this case, the URL is clearly invalid, so we shouldn't have gotten past validation of the DC (maybe?).  We probably also need to look at our backoff on this particular error.  It's filling up the error logs.

https://app.getsentry.com/red-hat/openshift-3-stg/group/66352110/

[code]

[2015-06-08 04:41] smarterclayton commented on #2915
We should look at what this is doing and then drop it to a p3 if there is no easy fix.

[2015-06-08 04:42] smarterclayton commented on #2890
What error do you get in the docker container?

[2015-06-08 04:43] smarterclayton commented on #2880
Don't we log a message immediately after push?

[2015-06-08 04:46] soltysh commented on #2880
We do we log start and end. I was rather I interested in a full debug
information about every single layer being pushed.
On Jun 8, 2015 6:43 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-06-08 08:50] TomasTomecek commented on #2849
We have figure this out: since build container is privileged, we can mount directly inside it -- no need to interact with host.

Another use case for this is for debugging: when you want bindmount stuff from your host inside build container without continual rebuilding of the build image.

Feel free to wontfix this.

[2015-06-08 09:38] kargakis opened #2916 "error: open /openshift.local.config/master/admin.kubeconfig: permission denied"
In a fedora box even after chmoding admin.kubeconfig (chmod had worked before but not now - not sure why), I hit the error in the title when I am trying to login.

cc: @liggitt @danmcp @mnagy

[2015-06-08 10:12] xjvs opened #2918 "Deployments fail with `User "system:anonymous" cannot get replicationcontrollers` error"
running the latest code (commit 4518893), docker-registry failed to be deployed with error:

    F0608 09:39:33.433826       1 deployer.go:65] User "system:anonymous" cannot get replicationcontrollers in project "default"

steps:

1. $ cd go/src/github.com/openshift/origin/examples/sample-app
2. $ openshift start &> logs/openshift.log &
wait for server to finish start
3. $ oadm registry --create -

[2015-06-08 10:12] sdminonne commented on #2233
Just added https://github.com/openshift/origin/pull/2917 for https://github.com/GoogleCloudPlatform/kubernetes/pull/5093

[2015-06-08 10:26] mnagy commented on #2689
Fix is in #2644

[2015-06-08 11:34] csrwng commented on #2642
builds should be getting triggered automatically now. @deads2k - can you please check that #2697 fixes this issue?

[2015-06-08 11:56] deads2k commented on #2853
@liggitt close

[2015-06-08 12:10] liggitt commented on #2918
make sure you have the latest origin-deployer docker image. It now reads a service account API token to talk to the API

[2015-06-08 12:13] #2853 closed

[2015-06-08 12:16] bparees commented on #2849
Thanks @TomasTomecek , closing.

[2015-06-08 12:16] #2849 closed

[2015-06-08 12:32] #2625 closed

[2015-06-08 12:33] TomasTomecek opened #2921 "RHEL docker image mount mounts /var/run/secrets, masks build and API secrets"
build json snippet
[code]

`osc describe secret pulpsecret`
[code]

Looks like that volumes with secret content are created:
[code]

Unfortunately, secrets are just not in build container:
[code]

SW used:
[code]

CC @csrwng @twaugh

[2015-06-08 12:36] csrwng commented on #2921
same as https://bugzilla.redhat.com/show_bug.cgi?id=1228189
@mfojtik fyi

[2015-06-08 12:37] liggitt commented on #2921
/run/secrets or /var/run/secrets?

[2015-06-08 12:38] csrwng commented on #2921
I believe rhel uses /var/run/secrets (same as k8s/openshift)

[2015-06-08 12:47] mfojtik opened #2923 "Namespace all build secrets"
We should add namespace to **all** build secrets we use so instead of claiming `/var/run/secrets/source` we have `/var/run/secrets/openshift.io/source` (similar with dockercfg).

[2015-06-08 12:56] liggitt commented on #2921
nm, /var/run/secrets is a symlink to /run/secrets

[2015-06-08 12:57] mwringe commented on #2890
None, the container starts up properly (I can docker exec into it and use localhost to access the site) it just that its not available at its endpoint or its service's endpoint. Maybe its an issue with the binding address and JBoss when setting it up this way. Let me check with a different container to see if that makes a difference or not.

[2015-06-08 13:10] kargakis commented on #2916
The following works:
[code]
The registry isn't running, not sure if it's related though:
[code]
Skimming through tags in [openshift/pod](https://registry.hub.docker.com/u/openshift/origin-pod/tags/manage/) I didn't find any 0.2 tag

[2015-06-08 13:12] liggitt commented on #2916
`v0.2`? what version of openshift are you running?

[2015-06-08 13:12] ncdc commented on #2880
+1 to being able to see the push details again. I was hoping for this a couple of days ago when debugging something.

[2015-06-08 13:13] liggitt commented on #2916
What does this show:
[code]

[2015-06-08 13:24] mfojtik commented on #2921
https://bugzilla.redhat.com/show_bug.cgi?id=1229319

[2015-06-08 13:28] smarterclayton commented on #2880
How about capture error, and on error dump a subset of them (all of the progress lines can be nuked).

[2015-06-08 13:29] mfojtik commented on #2880
+1 @smarterclayton

[2015-06-08 13:32] kargakis commented on #2916
Hmm, I had to chmod the absolute path in order for it to work. Probably the [sample-app](https://github.com/openshift/origin/blob/master/examples/sample-app/README.md#application-build-deploy-and-update-flow) example needs to be fixed to use that as well?

Re openshift version
[code]
Not sure how v0.2 sneaked in there, I always make clean build on the latest master (in my host)...

[2015-06-08 13:33] liggitt commented on #2916
Probably a mix of relative and absolute paths... the sample app readme assumes you run everything with the sample app as the working dir, iirc

[2015-06-08 13:33] kargakis commented on #2916
I am using the sample app dir too

[2015-06-08 13:36] ncdc commented on #2913
I saw this the other day, although with just a single repo I was trying to import. I kept seeing it get a 401 when trying to get the token from the Hub, and it wouldn't import until I restarted the master. I can't say for sure if restarting fixed the issue, or if it was just a coincidence of timing (perhaps the Hub was having issues and they were fixed right around the time I restarted). We do cac

[2015-06-08 13:36] liggitt commented on #2916
did you start openshift in that dir as per the readme, or was it running from a service?

[2015-06-08 13:37] liggitt commented on #2916
ah, I see that readme tries to address vagrant users as well... in that case, the paths to kubeconfig files are wrong...

[2015-06-08 13:38] kargakis commented on #2916
Most probably...

[2015-06-08 13:40] soltysh commented on #2880
I was rather interested in the whole process of push, especially the timing, so the error dump is not enough. I'd say this is similar to debugging tar contents, which we do for sti at the highest level (3 looking [here](https://github.com/openshift/source-to-image/blob/master/docs/cli.md#log-levels)).

[2015-06-08 13:52] smarterclayton commented on #2880
We can set that as an ENV var now, right (debugging it)?  Then include dump when glog.V(4) is true.

----- Original Message -----

[2015-06-08 13:53] smarterclayton commented on #2890
@rhcarvalho can you help mrwinge debug this?

[2015-06-08 13:57] soltysh commented on #2880
We do have an env var for builds its `BUILD_LOGLEVEL` but currently we don't use that for showing the push information. I can agree to even add 6th loglevel to cover just that.

[2015-06-08 14:04] robertoandrade opened #2927 "Running docker inside an app"
Do I actually need all the recent work done on Origin to make it Docker-based in order to run Docker client/daemon inside a cartridge/app?

I'm trying to do this with the current version of OpenShift Online and people keep referring me to the work done in Origin to support Docker. I don't want to run a Docker image in OpenShift, I just want to be able to run docker inside an app for the purpose fo

[2015-06-08 14:11] rhcarvalho commented on #2890
@smarterclayton yes, trying to reproduce it locally.

[2015-06-08 14:11] smarterclayton commented on #2880
Hooking it into the build log level makes sense to me.

----- Original Message -----

[2015-06-08 14:14] bparees commented on #2913
can't reproduce so far, still trying.  but i do we not have a controller that periodically scans for imagestreams that have not done a repo-check and runs one?  i guess i know we never implemented polling so maybe not.

[2015-06-08 14:18] ncdc commented on #2913
We do have such a controller

[2015-06-08 14:22] mnagy opened #2929 "Adding volume emptyDirs for new-app flows"
From the v1.0 punch list: #2628

Modify new-app to add emptyDir specification into created pods, by default. Eventually we should support a flag that would make the volumes persistent (optionally) or read metadata from the pod annotations about which volumes should be persistent by default.

This depends on upstream PR https://github.com/GoogleCloudPlatform/kubernetes/pull/9384

[2015-06-08 14:25] bparees commented on #2929
@smarterclayton the design for this is that when running new-app and creating a pod definition for an image that has a volume defined, we'll create an emptydir volume definition.  Is that what you had in mind?

[2015-06-08 14:31] smarterclayton commented on #2929
Yes, each volume should have an emptydir volume definition.  There are a few open design questions, like what to do if you create pods with multiple containers - should their volumes be shared if they have the same path, etc.

----- Original Message -----

[2015-06-08 14:33] rhcarvalho commented on #2890
@mwringe the problem was in the specification of the command. You need to pass each argument as a separate string: `["/opt/jboss/wildfly/bin/standalone.sh", "-b", "0.0.0.0", "-bmanagement", "0.0.0.0"]`

I was able to get both foo and bar working after updating your example:
https://gist.github.com/rhcarvalho/faecb6790731aeff6f5f

[2015-06-08 14:41] liggitt opened #2931 "Remove --nodes and static nodes list"
Nodes register themselves with the master now, remove --nodes arg and static nodes list from config

[2015-06-08 14:44] derekwaynecarr opened #2932 "DeploymentConfig keeps attempting to create a deployment even if exists"
I did the following:

[code]

I get a deployment and the pod running as expected, but I see the following event produced every minute.

[code]

[2015-06-08 14:45] xjvs commented on #2918
Unfortunately, I have the latest code and images already, and I double confirmed that with:

    # docker pull docker.io/openshift/origin-deployer:v0.5.4
    v0.5.4: Pulling from docker.io/openshift/origin-deployer
    6941bfcbbfca: Already exists
    41459f052977: Already exists
    fd44297e2ddb: Already exists
    739e4ff80aed: Already exists
    4fa32e2bc2d3: Already exists
    533823e74a13: Al

[2015-06-08 14:58] pweil- opened #2933 "SCC: manage security modes of the cluster"
Create commands to manage the default security modes of the cluster.  Currently there is a PR open to create a default SCC for the cluster https://github.com/openshift/origin/pull/2863 but the management of SCCs needs to be an administrative function.

[2015-06-08 15:01] smarterclayton commented on #2933
On startup we should be creating initial SCCs to match a configured default policy.

I'm imagining three global default config modes:

1. Isolated namespaces (each namespace gets its own uidrange / mcs label)
2. Non-root namespaces
3. ???

Those config modes on startup are like bootstrap policy and define initial SCCs.  Subsequent actions are edits of those SCCs.  Our default is probably 2.  We ca

[2015-06-08 15:05] pweil- commented on #2933
Just a reminder, since RunAsNonRoot required kubelet changes we pushed it as lower priority in https://github.com/openshift/origin/issues/2626#issuecomment-107431609.  We can start with isolated and open.

Isolated should create a set of SCCs that look up the namespace values, open would create an SCC that looks like the one in the linked PR.  Will discuss during the call.

[2015-06-08 15:14] liggitt commented on #2918
Make sure the "deployer" service account in your namespace has API tokens generated before running deployments (`osc describe serviceaccount deployer`). That should happen automatically when a namespace is first created, but can take a few seconds.

[2015-06-08 15:17] derekwaynecarr commented on #2932
@ironcladlou @abhgupta - is this expected?  it seems like whatever code is trying to create something could do a get to validate that its already there and then not generate an event which looks like an error scenario.

[2015-06-08 15:17] pweil- commented on #2775
PR submitted for mechanics and is under review.  Related: https://github.com/openshift/origin/issues/2933

[2015-06-08 15:18] smarterclayton opened #2935 "Should not log: apiserver received an error that is not an api.Status: timed out waiting for build"
It looks like build logs (maybe?) is returning an error that is not pkg/api/errors.  It should probably be errors.NewTimeout or something...

-----------------

https://app.getsentry.com/red-hat/openshift-3-stg/group/68317970/

[code]

[2015-06-08 15:22] ironcladlou commented on #2932
Agree, I don't think we should be creating an event in this case.

[2015-06-08 15:25] deads2k opened #2937 "oc <subcommand> --help is broken"
I'm getting a huge dump of help for all possible subcommands that isn't scoped to the ones I'm interested in.  This looks wrong.

@smarterclayton please confirm.

[code]

[2015-06-08 15:29] smarterclayton commented on #2937
Was briefly fixed but looks like it regressed.

[2015-06-08 15:29] deads2k opened #2938 "Add warning validation for missing SecurityAllocator"
If the SecurityAllocator config is missing, weird stuff can happen.  We should have a warning for that:
https://github.com/openshift/origin/blob/master/pkg/cmd/server/api/validation/master.go#L341

@liggitt  please tag.

[2015-06-08 15:29] liggitt commented on #2933
You can create the constraints for those three modes, then control configuration by adding and removing groups to the constraints.

[2015-06-08 15:30] spadgett commented on #2723
@liggit I see the following build config different when created by the web console vs command line. (The build did start automatically for me in the web console.)

* Web console adds labels `generatedBy` and `name`
* Web console adds `"ref": "master"` to `spec.source.git`
* Source strategy is a bit different

Web console:

[code]

Command line:

[code]

This is the command I ran:

[2015-06-08 15:31] thoraxe commented on #1630
For example, triple-click on a build name highlights an entire line and not just the text
![screenshot from 2015-06-08 11 30 43](https://cloud.githubusercontent.com/assets/94413/8038506/e5143f92-0dd1-11e5-8837-3e2cf82b8253.png)

This is kind of annoying to paste into a CLI in order to perhaps watch the build...

This is really minor but still.

[2015-06-08 15:32] smarterclayton commented on #2933
Groups for what?  Namespaces?  I'm more thinking about how admins want to apply SCC and it's likely to be on a per namespace basis.  In that case we want to apply the constraints at admission time via a lookup on the namespace annotation

[2015-06-08 15:32] liggitt commented on #2723
I think master is the default ref for builds. Labels shouldn't matter. Strategy you plaster looks identical.

[2015-06-08 15:32] thoraxe opened #2939 "dc defined with configchange trigger and scale of 1 isn't actually deploying anything (rc default to scale 0)"
[code]

Using the above json I get an RC with a scale of zero out of the box and no pod deployed.

[2015-06-08 15:36] liggitt commented on #1630
What happens when you paste that? Unlikely to fix this.

[2015-06-08 15:37] thoraxe commented on #2939
[code]

This is beta4, not origin.

[2015-06-08 15:39] thoraxe opened #2941 "osc describe route doesn't show endpoints"
Should it?

[code]

This is beta4.

[code]

The service shows them:

[code]

[2015-06-08 15:58] thoraxe commented on #2723
I'm also noticing this when processing a template and creating it from CLI:

[code]

[2015-06-08 16:28] rajatchopra commented on #2655
There is a workaround done in Ansible scripts.
1. Start node without network plugin. The node auto-registers.
2. Start node with network plugin.

If someone were to do this without ansible, the only way is to pre-register the node manually. That is how it is done in the vagrant setup as an example.

[2015-06-08 16:32] liggitt commented on #2933
So, that's three ways to figure out what SCC applies to a pod create?
1. user/group mapping of calling user (implemented)
2. user/group mapping of pod's service account (implemented)
3. some annotation on a namespace? first I've heard of this

[2015-06-08 16:33] liggitt commented on #2931
See https://bugzilla.redhat.com/show_bug.cgi?id=1228504

[2015-06-08 16:36] pweil- commented on #2933
Yes, good point.  All the SCCs can be created by default and the "cluster policy" is really just ensuring that the SCCs are managed in a way that gives access.

[2015-06-08 16:39] spadgett commented on #2723
@liggitt yep, pasted the wrong thing.

Here's web.

[code]

[2015-06-08 16:40] abhgupta commented on #2939
Set to priority to P1 assuming this is not just limited to v1beta4. Will verify this issue on the latest Origin codebase and reset the priority accordingly.

[2015-06-08 16:41] liggitt commented on #2939
rc replica default changed upstream between v1beta3 and v1... not sure that's the issue, but thought I'd mention it

[2015-06-08 16:47] liggitt commented on #2723
a missing namespace in a from ImageStreamTag defaults to the current namespace, I believe... so if that is in project1, that should be equivalent. what do the definitions of the nodejs (or nodejs-10-centos7? not sure why that was different in the latest paste) imagestreams look like (CLI vs UI)?

[2015-06-08 16:49] gabemontero commented on #2740
Hi - looked at a few permutations in trying to reproduce this, but did not have any luck.  I'll detail some of the specifics of my most recent attempt:

level of code:

[vagrant@openshiftdev ~]$ openshift version
openshift v0.5.4-34-g546fda9
kubernetes v0.17.1-804-g496be63

And I did it on a Fedora 21 system.

Of course, if there is a discrepancy of note with the openshift version, an upgrade in o

[2015-06-08 16:50] liggitt commented on #2723
This issue is getting tough to follow. Can someone clarify the following:
1. Is the issue reproducible from a clean state in the web console? Can you pastebin the build config and image streams?
2. Is the issue reproducible from a clean state in the CLI? Can you pastebin the build config and image streams?

[2015-06-08 16:51] bparees commented on #2723
+! @liggitt

[2015-06-08 16:52] smarterclayton commented on #2933
----- Original Message -----

If we can have

SCC 1 - assigned to all service accounts
SCC 2 - assigned to a subset of service accounts

Then we don't need 3.

[2015-06-08 16:52] danmcp commented on #2890
Please reopen if this is still a problem.

[2015-06-08 16:52] #2890 closed

[2015-06-08 16:52] smarterclayton commented on #2655
That's not acceptable - we need a real fix.  Yo shouldn't have to use crazy scripting just to work around a bug in the code.

----- Original Message -----

[2015-06-08 17:01] spadgett commented on #2723
@liggitt @bparees FWIW, I have not been able to reproduce this issue in the web console or command line.

@thoraxe ?

[2015-06-08 17:03] liggitt commented on #2723
Are you using image streams in a shared namespace or in the project?

[2015-06-08 17:07] smarterclayton commented on #2927
Unfortunately docker build requires root access to build images which is not available in OpenShift Online.

[2015-06-08 17:08] #2927 closed

[2015-06-08 17:18] bparees commented on #2913
I can't reproduce this today, will lower severity.

[2015-06-08 17:21] spadgett opened #2945 "Empty nav submenu after launching create flow from a browse page"
To reproduce:

1. Open one of the browse pages for a project.
1. Click the `Create...` button.
1. Finish the flow.

I suspect this is related to #2736.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/8040766/1042dc32-0de1-11e5-839c-6faeabdc0e82.png)

[2015-06-08 17:33] spadgett commented on #2736
It looks like this check fails in some cases.

hawtio-core-navigation.js line 680:
[code]

`path` is `"project/project1/overview"` and `href.path()` is `"/project/project1/overview"` with a leading `/`.

[2015-06-08 17:36] mfojtik commented on #2921
@TomasTomecek this is was fixed in RHEL7 docker package today. Please update your systems to >docker-1.6.2-8 and secrets should be working for you. Feel free to close this issue if it fixes the problem for you.

[2015-06-08 17:38] detiber commented on #2655
@smarterclayton @rajatchopra: We went back to pre-registering the node in openshift-ansible, since playing orchestration games to make the self-registration work (it also makes the node labeling more straight-forward, until we can do that with node self-registration).

[2015-06-08 17:39] spadgett commented on #2736
Changing `href.path()` above to `itemPath` fixes both this and #2945.

[2015-06-08 17:43] liggitt commented on #2736
Make sure that works when running  under the root context, and when running under a sub context, like /console when running the compiled version

[2015-06-08 17:43] abhgupta commented on #2932
@derekwaynecarr This was expected to be fixed by https://github.com/openshift/origin/pull/2742 that went in last Thursday. Can you confirm that you were using the latest code/build for your testing?

[2015-06-08 17:43] liggitt commented on #2736
The href check is attempting to normalize relative urls

[2015-06-08 17:46] smarterclayton commented on #2655
I need a code fix for this for 3.0

----- Original Message -----

[2015-06-08 17:46] pweil- commented on #2941
@thoraxe  - seems like a good update to me.

@danmcp let's p3 this and add the new data with the other route describe addition https://github.com/openshift/origin/issues/2724

[2015-06-08 17:49] spadgett commented on #2736
Earlier we have

[code]

The sub tab check looks like this.

[code]

It looks like it might be an oversight not using `itemPath` later on. I'll test with root and sub contexts.

[2015-06-08 17:53] thoraxe opened #2947 "[beta4] creating an instance of a database template doesn't result in any deployments"
template JSON:

[code]

[code]

resulting DC:
[code]

no rcs:
[code]

[2015-06-08 17:53] mfojtik commented on #2680
@anderssv the pipe should work now. additionally you can pass multiple templates to process.

@bparees I think we can close this now.

[2015-06-08 17:53] mfojtik commented on #2923
@bparees fixed.

[2015-06-08 17:54] pweil- commented on #2626
remove omitempty from the bool fields so they are shown in the `-o json` output.  re: https://github.com/openshift/origin/pull/2863#issuecomment-110090148

[2015-06-08 17:58] #2923 closed

[2015-06-08 17:59] liggitt commented on #2736
Ah, probably an oversight

[2015-06-08 18:01] abhgupta commented on #2932
I think I've found the issue - should be addressed shortly.

[2015-06-08 18:01] thoraxe opened #2949 "[beta4] osc describe pod doesn't show port"
[code]

[2015-06-08 18:04] deads2k opened #2951 "add key mapping options to osc secrets new"
We need to be able to specify a mapping between filenames and keys when creating secrets.  Some discussion happened here:  https://github.com/openshift/origin/pull/2866#issuecomment-109433597 .

I think I like the idea of `osc secrets new SecretName key-a=file1 key-b=file2` best out of the suggestions so far.  It means we couldn't use this command to handle secrets with `=` in them, but those peop

[2015-06-08 18:04] deads2k commented on #2951
@liggitt @mfojtik @smarterclayton for continued discussion.

[2015-06-08 18:08] bparees commented on #2680
@anderssv please confirm this resolves your issue.  thanks.

[2015-06-08 18:20] bparees commented on #2915
@smarterclayton define filling up the logs?  it should be occurring no more than once per second for 60 seconds, then pause for a minute or so, then once per second again.

plus an occasional burst of 10 entries with no interval.

I'm happy to do something better, just want to confirm this problem isn't worse than i think it is.