[2016-10-25 10:59] #11513 closed

[2016-10-25 10:59] #11333 closed

[2016-10-25 11:58] php-coder commented on #6788
I'm closing this because I don't see such error for a long time.

[2016-10-25 11:58] #6788 closed

[2016-10-25 12:02] kargakis commented on #11541
I am not familiar with the way JBossTools works and this is probably an issue for that component ie. not something we can do anything about in Origin. The common build-deploy flow we use in our pipeline and template examples spins a build and waits for it to finish before starting the deployer pod. For example, if you run examples/sample-app/application-template-stibuild.json and the build never s

[2016-10-25 12:08] kargakis commented on #11541
There is also https://github.com/kubernetes/kubernetes/issues/18568 upstream that once fixed will allow us to abort deployments that we know will never succeed such as trying to deploy an image that doesn't exist earlier than the timeout.

[2016-10-25 12:23] humblec opened #11556 ""permission denied" error when writing to provisioned gluster volumes."
A PVC is BOUND to a Gluster PV and attached to an app pod ( for ex: fedora container). When writing to this  mount path inside this container, it throws out "permission denied" error.

sh-4.3$ df -h .
Filesystem                                         Size  Used Avail Use% Mounted on
10.70.41.220:vol_cf226e24f9424425dd89e1df63f0f5de   50G   67M   50G   1% /mnt/glusterfs
sh-4.3$ pwd
/mnt/glusterfs

[2016-10-25 12:25] humblec commented on #11556
#### Additional Info or RCA
The issue is that volumes come with UID/GID of 0 (root).  For a container to be able to write to them, we need to have the container also have a root ID, but this, of course, is not a good solution.

[2016-10-25 12:49] robstryker commented on #11541
Sorry, this is not just a JBT bug. It is a bug in origin.   The only question is what the "deploy latest" action does. The fact is, the deploy pod sits around for 10 minutes waiting for the build pod, even if the build pod has failed.

@adietish Any comments?

[2016-10-25 13:07] stevekuznetsov commented on #11524
@legionus the regex that parses the versions/tags and image names has broken a number of times before.

[2016-10-25 13:12] mwringe commented on #11296
@bbguimaraes Can you please look into this?

[2016-10-25 13:21] kargakis commented on #11541
@robstryker the deployer pod should start once the build succeeds, otherwise what image are you trying to deploy if it's not built yet?

[2016-10-25 13:54] humblec commented on #11556
Tracked with PR # https://github.com/kubernetes/kubernetes/pull/35460

[2016-10-25 14:06] knobunc commented on #11547
This is https://trello.com/c/0BaxAOK9 and there's bug https://bugzilla.redhat.com/show_bug.cgi?id=1306216 open too.  We are working on it.

[2016-10-25 14:27] lpabon commented on #6331
Is this closed by https://github.com/kubernetes/kubernetes/pull/31854 ?

[2016-10-25 14:35] kargakis opened #11557 "Extended failure: project \"extended-test-cli-deployment-i2xjx-1ovzi\" already exists"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7802/consoleFull#-126999135156cbb9a5e4b02b88ae8c2f77

[2016-10-25 14:39] csrwng commented on #11553
This is working as designed. However, it does cause issues with saved config and such. A couple of other issues have been opened about it.

A workaround that you can try at least for now is to use `--public-hostname=127.0.0.1` with `oc cluster up`.

[2016-10-25 15:00] csrwng opened #11560 "test-cmd flake: quota.sh:32: executing 'oc describe appliedclusterresourcequota/for-deads-by-annotation -n bar --as deads'"
github.com/openshift/origin/test/cmd/quota/clusterquota.test/cmd/quota.sh:32: executing 'oc describe appliedclusterresourcequota/for-deads-by-annotation -n bar --as deads' expecting any result and text 'secrets.*1[0-9]'; re-trying every 0.2s until completion or 60.000s

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/7682/

[2016-10-25 15:02] csrwng commented on #11560
@deads2k that's a very incriminating test, if I ever saw one :)

[2016-10-25 15:03] smarterclayton commented on #11524
It should be fixed in master.

[2016-10-25 15:03] #11524 closed

[2016-10-25 15:24] bparees opened #11561 "services basic functionality should allow connections to another pod flake"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_networking/634/consoleFull

[2016-10-25 15:26] bparees commented on #11560
yeah, never put your own name in a test case :)  (I just hit this also)

[2016-10-25 15:29] stevekuznetsov commented on #11527
@smarterclayton your commit https://github.com/openshift/origin/commit/72d80847a5e448d696b3557d50780e1271d88952 introduced the `du` call. Did we want `mv` instead of `cp` for space reasons on the remote host running this step?

@coreydaley error handling is off during this routine, so this did not cause your failure. Please investigate further.

[2016-10-25 15:33] bparees opened #11563 "binary build timeout uploading artifacts"
[code]

Appears that the uploading of the binary artifacts timed out:

[code]

[2016-10-25 15:55] timothysc opened #11565 "Update kube dep to latest release-1.4 sha"
There are a number of fixes that have been patched to the version that we are currently carrying in our godeps.
##### Version

current origin master
##### Steps To Reproduce
1. checkout upstream release-1.4 branch
2. do a diff from our Godep sha to latest
   `git log --pretty=oneline 776c99451414ec6ba...origin/release-1.4 | wc -l`
##### Current Result

224 patches
##### Expected Result

much small

[2016-10-25 15:56] nsams commented on #9085
@mvlach I'm also getting this error:

AH00059: Remove it before continuing if it is corrupted.

How did you solve that? it's really strange as permissions are set correctly.

[2016-10-25 16:36] pweil- commented on #11565
@mfojtik - need to decide if there are critical patches that are required to pick, if we can safely (and quickly) do a refresh of the existing dependency), or if we cannot do this for 3.4.

cc @liggitt

[2016-10-25 17:00] pweil- commented on #11565
For the record I think there is too much risk and not enough time for a full refresh and that we should be looking for critical patches to pull in.

[2016-10-25 17:11] jstrachan opened #11566 "whats the canonical YAML way to add a Role and a RoleBinding for a ServiceAccount into a Template?"
I've seen how to add roles via the CLI, but how should we define the required `Role` and `RoleBinding` for a `ServiceAccount` inside an OpenShift Template?

I could create a role OK:

[code]

then struggled to refer to the role in the `RoleBinding`

[code]

Is there a way to refer to a role in the current namespace? I've seen `system:admin` to refer to global roles but haven't seen the magic prefi

[2016-10-25 17:38] liggitt commented on #11566
specify a namespace in the `roleRef` to refer to a locally defined role. note that a policybinding for for the local namespace must exist before you can bind to locally defined roles. You can create that with `oc create policybinding <myns>`

[2016-10-25 17:48] coreydaley opened #11567 "dnf update failure from category flake"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_networking/595/console

[code]

[2016-10-25 18:12] smarterclayton commented on #11522
If upstream deployments would be broken if the user mucked with the RS,
then we're ok mucking with it.

On Mon, Oct 24, 2016 at 8:06 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-10-25 18:12] smarterclayton commented on #11524
https://github.com/openshift/origin/pull/11516

On Mon, Oct 24, 2016 at 9:42 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-25 18:14] smarterclayton commented on #11509
Ha.  I just need to update the release, then it puts it in the right order.

On Mon, Oct 24, 2016 at 10:47 AM, Corey Daley <notifications@github.com>
wrote:

[2016-10-25 18:16] smarterclayton commented on #11524
Will fix later today

On Oct 24, 2016, at 8:57 AM, Alexey Gladkov <notifications@github.com>
wrote:

@stevekuznetsov <https://github.com/stevekuznetsov> /cc

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/11524#issuecomment-255732730>,
or mute the thread
<https://github.com/notifications/unsubscribe-a

[2016-10-25 18:16] kargakis commented on #11522
It would be nice if replica sets for deployments would be immutable except
rs.spec.replicas

On Tue, Oct 25, 2016 at 8:12 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-25 18:17] smarterclayton commented on #11511
I'm not sure it impacts you, just copied for reference.

On Oct 23, 2016, at 7:15 PM, Ben Parees <notifications@github.com> wrote:

Is there a reason we can't hold the switch until we finish landing 3.4
items?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/11511#issuecomment-255621732>,
or mute

[2016-10-25 18:24] smarterclayton commented on #11565
I'll push a rebase branch that contains the upstream cherry-picks to at
least test.  While someone evaluates the list.

On Tue, Oct 25, 2016 at 1:00 PM, Paul Weil <notifications@github.com> wrote:

[2016-10-25 18:25] smarterclayton commented on #11511
The code should work, your unit tests will fail.

On Mon, Oct 24, 2016 at 10:35 AM, Scott Dodson <notifications@github.com>
wrote:

[2016-10-25 18:34] smarterclayton commented on #11509
Spoke to soon.  It doesn't.  Hrm.

On Mon, Oct 24, 2016 at 1:31 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-25 18:50] sudhirpandey commented on #9584
For our use case on shipping images between two clusters
We followed this one
https://blog.openshift.com/remotely-push-pull-container-images-openshift/

and it worked great for 1.2 origin
we have upgraded the cluster lately to 1.3, and now imports are failing
The oc omports are failing
with initial logs on docker repository reports to be
``` level=debug msg="anonymous token request" go.version=go1

[2016-10-25 19:00] smarterclayton commented on #11527
Either way.  I just want to know how much was lost because that helps me
debug further.

On Tue, Oct 25, 2016 at 11:29 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-10-25 19:04] jstrachan commented on #11566
thanks @liggitt

So I need to do something like this...
[code]
then define the `NAMESPACE` expression in a Template parameter or something? I was hoping there was a notation to refer to a namespace local role - I guess not?

[2016-10-25 20:14] robstryker commented on #11541
I understand that the deployer pod should start once the build succeeds. This is working as expected.

The deployer pod should also FAIL QUICKLY if the build pod FAILS.

Currently, the deployer pod is sitting around waiting for build pod to succeed. Build pod fails, and deployer pod is still waiting. It is waiting for an event that will never happen. Build pod cannot succeed, since it already fail

[2016-10-25 20:14] #11541 closed

[2016-10-25 20:22] knobunc commented on #11381
This is happening over on release-1.3 branch.

[2016-10-25 20:25] #11352 closed

[2016-10-25 21:04] mkjsix commented on #11509
On my side, after downloading the oc command v 1.3.1 things seem to work.

[2016-10-25 21:58] timothysc opened #11573 "etcd clients and wrapping"
We're using 3 different clients, some are reaching through directly vs. using wrapped storage layer.

Clients include:
etcd3-v2-client
etcd3-v3-client
go-etcd (old) client
##### Version

latest master

Upstream we've wrapped all invocations through a factory in the storage layer, we should push all these instances through a similar mechanism or wrap appropriately to allow for switch, as etcd3 does

[2016-10-25 22:50] smarterclayton commented on #11573
etcd3 does not support old and new keys at the same time?

[2016-10-26 00:36] liggitt commented on #11566
No,
[code]

[2016-10-26 00:37] liggitt commented on #11566
Ah, the issue with not knowing the destination namespace when processing a template.

[2016-10-26 01:45] timothysc commented on #11573
So word is the etcd folks are trying to create a v2 proxy that supports v2 API on top of 3, but mixed mode is not supported, as mixed mode snapshotting + backup and recovery wouldn't make any sense b/c the data formats and incompatible.

[2016-10-26 01:50] ramr commented on #11496
Fixes in PR: https://github.com/openshift/origin/pull/11550

[2016-10-26 02:30] coreydaley commented on #11509
Great, glad that worked for you.  We will continue to look for a way to make the newer versions stand out.  Feel free to open a new issue if you encounter other problems.

[2016-10-26 02:30] #11509 closed

[2016-10-26 04:10] bparees commented on #11560
@stevekuznetsov this is starting to look like a good candidate for the "if it's not fixed in a day, back it out" philosophy.

[2016-10-26 05:33] #3946 closed

[2016-10-26 07:02] jstrachan commented on #11566
@liggitt yeah ;) I was hoping we could get a template parameter defined for the namespace the template is being created inside; like the downward API on env vars can be used to define an env var for a namespace - but I don't see how.

If the namespace is missed off the `roleRef` I would have thought it'd assume the current namespace though? If it was a global or system role I thought you'd have to

[2016-10-26 08:29] #11527 closed

[2016-10-26 10:22] padajuan opened #11580 "Error on 'docs/cluster_up_down.md' to perform an 'oc cluster up' on a latest release"
[provide a description of the issue]
The issue comes when you try to perform a `oc cluster up` on a 'latest' release published at Github, this is because if you create a new release on GitHub of a previous version of 1.3.X, you have not the proper release to perform this action

##### Version
N/A

##### Steps To Reproduce
1. Install Docker with your platform's package manager.
2. Configure the Doc

[2016-10-26 11:29] mmilata commented on #5776
I can't say I understand the coding/decoding machinery (are there any docs?) but it appears that if there's e.g. `build.BuildConfig` inside the template it gets deserialized as `runtime.Unknown`. I can think of three possibilities how to make this work:

1. When generating random template, generate concrete objects and then turn them into `runtime.Unknown`
2. When generating random template, gener

[2016-10-26 13:29] stevekuznetsov commented on #11560
@bparees not sure if we got buy-in on that or if I'm the one to do it, but yes I agree with you. @deads2k any updates?

[2016-10-26 13:36] bparees commented on #11560
@stevekuznetsov not yet, the leads call hasn't happened yet.  i'm just building the case :)

[2016-10-26 13:44] jayunit100 opened #11582 "Cherry picking: Some notes / thoughts on improving it..."
Problem:

hack/cherry-pick.sh is error prone and can be tricky to use.

Solution:

Not sure what the exact solution is, but here are some notes so far...
- We should state `remote upstream kubernetes` branches , rather than "remote upstream", which might help clarify things/prevent errors when setting up fetch remotes.
- We also should just directly show the snippet for kube:

[code]
- It appears

[2016-10-26 13:44] deads2k commented on #11560
Depends on what you mean by "back it out".  I think that commenting out the test (which @stevekuznetsov has proposed in the past) would be the wrong thing to do.  This was likely caused by https://github.com/openshift/origin/pull/11394 and so @mfojtik should have his chance to fix it before the pull is reverted (which I would be ok with).

But I don't see anyone referencing it in this issue, so I'

[2016-10-26 13:51] pweil- commented on #11582
the output there definitely looks like you would have had a dirty tree with items to resolve. @mfojtik @soltysh

[2016-10-26 13:58] stevekuznetsov commented on #11560
Even saying the magic words got the likely culprit PR mentioned and the right person assigned... not sure I even needed to think about _what_ to back out :)

[2016-10-26 14:05] soltysh commented on #11582
I recently fallback to manual wget <pr_link>.diff, replace dirs to `vendor/k8s.io/kubernetes` and `git apply --reject` since I was having some problems with that script, especially that I have to go paths for origin and k8s.

[2016-10-26 14:07] ncdc commented on #11582
@soltysh that's what `git apply --directory` is for :-)

[2016-10-26 14:08] bparees commented on #11560
@deads2k again, it needs to be discussed w/ the team, but i'm prepared to say

1) if we don't know what broke the test, the test gets disabled while the person who owns the test investigates
2) if we know what broke it, the pull that broke it gets reverted immediately.  it never should have gone in (it should have failed testing due to the flakes it introduced) so why would we leave it in?
3) in a

[2016-10-26 14:10] liggitt opened #11584 "`concurrent map read and map write` panic seen deleting namespaces"
I created three namespaces, waited about a minute, then deleted all three, and saw this in the server logs:

[code]

[2016-10-26 14:13] deads2k commented on #11560
This condition shouldn't be likely.  Even if we don't run it all the time, a bisect to find the offender ought to be something the test infrastructure can answer in a couple hours. Spawn 10+ concurrent jobs for every likely commit and see which ones flake on the new problem.  "I don't know" seems like an unreasonable thing to say.  For things like this, if the test got disabled, I think its unlike

[2016-10-26 14:13] liggitt commented on #11560
it's not a test break, it's a bug:
[code]

[2016-10-26 14:15] deads2k commented on #11560
That's neat.  I still don't think the right answer to comment out the test.

[2016-10-26 14:16] bparees commented on #11560
yeah that's a concern, obviously if we disable a test we need a tracking issue of high priority(p1/blocker) to ensure the test does get re-enabled at some point in the future.

[2016-10-26 14:19] liggitt commented on #11560
to reproduce, run this over and over until the last output shows the mismatch between the total and the sum of the individual namespaces:

[code]

[2016-10-26 15:01] bparees commented on #5776
i think we should be doing roughly what @mfojtik laid out above.  I still don't totally understand why his example test didn't work, but if we need to assert the api version of the objects as part of fuzzing them, we can do that.

[2016-10-26 15:31] liggitt commented on #11584
this also exits the apiserver process

[2016-10-26 15:41] smarterclayton commented on #11573
We don't need backup for the election service though.  It's not a huge deal
to change though

On Oct 25, 2016, at 9:45 PM, Timothy St. Clair <notifications@github.com>
wrote:

So word is the etcd folks are trying to create a v2 proxy that supports v2
API on top of 3, but mixed mode is not supported, as mixed mode
snapshotting + backup and recovery wouldn't make any sense b/c the data
formats and i

[2016-10-26 15:43] smarterclayton commented on #11573
I don't think we should be using go-etcd anywhere anymore.  Just haven't
removed the helper method that is unused.

I was completely unaware side by side v2/v3 mode was unsupported in the v3
client library.

On Tue, Oct 25, 2016 at 5:58 PM, Timothy St. Clair <notifications@github.com

[2016-10-26 15:46] padajuan commented on #11580
The new Pull request [Here](https://github.com/openshift/origin/pull/11585)

[2016-10-26 16:28] sudhirpandey opened #11587 "SSL_ERROR_RX_RECORD_TOO_LONG, while connecting to https:// route ends"
[provide a description of the issue]
The ssl  routes , both passthrough and edge termination now genereates SSL_ERROR_RX_RECORD_TOO_LONG, while connecting to the ssl routes, end points

[2016-10-26 16:29] liggitt commented on #11560
looks like checkAttributes()/checkQuotas() assumes they are free to modify the quotas returned from the accessor

if checkQuotas() fails to update a quota, it refetches from the accessor, and recurses into checkQuotas(), reapplying the request attributes to the returned quotas

the clusterresourcequota accessor does not return copies, but original fields from the cache

[2016-10-26 17:27] kenk667 opened #11590 "subdomain change in master-config.yaml doesn't work"
[provide a description of the issue]

##### Version 1.3.1
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
Docker Installation:
Add Docker repo:
cat > /etc/yum.repos.d/docker.repo << '__EOF__'
[docker]
name=Docker Repository
baseurl=https://yum.dockerproject.org/repo/main/centos/7/
enabled=1
gpgcheck=1
gpgkey=https://yum.dockerproject.org/gpg
__EOF__

I

[2016-10-26 17:28] liggitt commented on #11590
the configured subdomain is placed into the route at creation time

[2016-10-26 17:31] csrwng commented on #9848
@coreydaley I think what we want to have is a way to pull the images related to an origin release with a given version. Maybe it should be a separate command from 'cluster up'.

[2016-10-26 17:36] csrwng commented on #11409
Closing this one as dup of https://github.com/openshift/origin/issues/10807

[2016-10-26 17:36] #11409 closed

[2016-10-26 17:38] kenk667 commented on #11590
@liggitt

at creation time of the eap app? if that is the case, yes I understand that and I expect to see the route in the UI display the custom subdomain, the docs state that the default behavior is to create a route with app name-projectname-subdomain if one isn't specifically designated. the expected behavior isn't happening, it is still using router.default.svc.cluster.local

[2016-10-26 17:39] csrwng commented on #10860
This is no longer broken on the stable channel of Docker for the Mac. Will track the issue on other distros through #11314

[2016-10-26 17:39] #10860 closed

[2016-10-26 17:43] kenk667 commented on #11590
@liggitt

Here is a screen shot of what I mean

![default route example](https://cloud.githubusercontent.com/assets/7253142/19737605/173bcd48-9b82-11e6-8ac7-d86ae58c1385.jpg)

[2016-10-26 17:43] liggitt commented on #11590
can you attach the relevant portion of the master-config.yaml?

[2016-10-26 17:46] kenk667 commented on #11590
@liggitt

sure thing, here you are;

![master-config](https://cloud.githubusercontent.com/assets/7253142/19737729/9a68fd3a-9b82-11e6-8e9f-6ba35a841053.jpg)

[2016-10-26 17:46] liggitt commented on #11590
and the yaml of that route (oc get route -n test2 -o yaml)

[2016-10-26 17:48] kenk667 commented on #11590
@liggitt

here is the yaml for that route;

apiVersion: v1
items:
- apiVersion: v1
  kind: Route
  metadata:
    annotations:
      description: Route for application's http service.
      openshift.io/host.generated: "true"
    creationTimestamp: 2016-10-26T17:11:05Z
    labels:
      app: eap70-postgresql-persistent-s2i
      application: eap-app
      template: eap70-postgresql-persistent-s2i

[2016-10-26 17:51] danmcp opened #11591 "Tests failing with Docker 1.12"
From: https://ci.openshift.redhat.com/jenkins/job/base_ami/2460/console

I1026 13:28:47.178541   11616 router_http_server.go:208] Stopping listener at 172.18.1.127:8443
--- FAIL: TestRouter (0.30s)
	router_test.go:71: Error starting container openshift/origin-haproxy-router : API error (400): {"message":"starting container with HostConfig was deprecated since v1.10 and removed in v1.12"}
FAIL
Runn

[2016-10-26 17:51] liggitt commented on #11590
and to be clear, you restarted the master with the new config, then recreated the route?

[2016-10-26 17:52] kenk667 commented on #11590
@liggitt

Yes, several times

[2016-10-26 17:53] kenk667 commented on #11590
@liggitt

I've tried this in version 1.2.1, 1.3.0, and 1.3.1 and this hasn't worked once for me. The default route remains router.default.svc.cluster.local which is the default value in master-config.yaml

[2016-10-26 17:55] kenk667 commented on #11590
@liggitt

In case this matters, this is built on CentOS 7.2.1511

[2016-10-26 17:55] liggitt commented on #11590
did you create your service file yourself?
`ExecStart=/opt/openshift/v1.3/openshift start` doesn't tell openshift to use the config file you generated

[2016-10-26 17:57] kenk667 commented on #11590
@liggitt

It doesn't? I was under the impression that when openshift is started that the master-config.yaml is read no matter what? Is there a switch I'm missing?

[2016-10-26 17:58] kenk667 commented on #11590
@liggitt

Yes the service file is created as part of the build as I wanted to have openshift controlled as a service and started persistently

[2016-10-26 18:02] smarterclayton commented on #11591
This is the networking team.

[2016-10-26 18:02] smarterclayton commented on #11591
They need to stop passing host config to start container.

[2016-10-26 18:26] gnufied commented on #11094
@liggitt @derekwaynecarr so I did some more debugging around this and found that - origin finalizer is actually running multiple times when a namespace is deleted. And it isn't running multiple times because previous invocation of finalizer failed or something, but it is running even if previous invocation deleted all the origin resources and was successful.

So basically this https://github.com/o

[2016-10-26 18:41] kenk667 commented on #11590
@liggitt

You've given me the idea to look around how the service I wrote starts. When I run ./opeshift start --help a man page shows that the switch is --master-config=/path/to/master-config.yaml. After making the change the service doesn't start. Try running ./openshift start --master-config=master-config.yaml/path and I get an error stating that I need to define --node-config as well is I use t

[2016-10-26 18:44] kenk667 commented on #11590
@liggitt

as for why the second part of the switch fails, here is the man page for those switches

 --master-config='': Location of the master configuration file to run from. When running from configuration files, all other command-line arguments are ignored.
      --network-plugin='': The network plugin to be called for configuring networking for pods.
      --node-config='': Location of the node

[2016-10-26 18:52] timothysc commented on #11565
@jayunit100 try to see if you can cherry-pick back the check-service affinity patch again after this lands.

[2016-10-26 18:56] kenk667 commented on #11590
@liggitt

thanks for that lightbulb moment, here is what I needed to place in the ExecStart= line in my service file;

ExecStart=/opt/openshift/v1.3.1/openshift start master --config=/path/to/master-config.yaml

reloaded daemon with systemctl daemon-reload and restarted the service and tried creating a new project and it now finally uses the subdomain defined in the master-config.yaml

maybe I mis

[2016-10-26 18:59] liggitt commented on #11590
`openshift start` is a combination of `openshift start node` and `openshift start master` (including the flag help). both flags are required to be set or both unset for the combined command

[2016-10-26 19:08] danmcp commented on #11573
Tim is concerned about releasing the code as is.  Need to get that resolved.

[2016-10-26 19:37] liggitt commented on #11094
the plugin used to check if the namespace was terminating, but that meant a rapid (delete ns, create ns, create resource) would either fail (if the plugin rejected if it thought the ns was terminating), or incorrectly not add the origin finalizer (if the plugin skipped adding the finalizer if it thought the ns was terminating)

[2016-10-26 20:06] csrwng opened #11599 "hack/extract-release.sh won't work on MacOS"
`make release` fails when run on a Mac because the `hack/extract-release.sh` script fails. The script tries to find tars using $(os::build::host_platform). However, the release tars that were created are only linux.

[2016-10-26 20:37] stevekuznetsov commented on #11599
@smarterclayton do we want to support the release steps on non-Linux machines?

[2016-10-26 20:49] liggitt commented on #11560
start as:
[code]

run:
[code]

server dies with
[code]

[2016-10-26 20:50] #11591 closed

[2016-10-26 21:56] liggitt commented on #11560
clusterresourcequota status totals are getting out of sync with the sum of the namespaces. still debugging why. mustfix for 1.4

[2016-10-26 22:32] sudhirpandey commented on #11587
it turns out to be the external lb was posting on port 80 of the masters. So it was not offering any certificates. Changed it to be 443 and it works now.

[2016-10-26 22:33] #11587 closed

[2016-10-26 23:46] twk3 opened #11601 "serviceaccount/token: no such file or directory for Docker quick start"
The docker quickstart instructions here: https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container

Don't appear to work on CentOS 7, with docker 1.10.

I get the following error when deploying anything, (registry, router, etc)

[code]
##### Version

oc v1.3.1
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://104.236.167

[2016-10-27 03:07] GrahamDumpleton opened #11602 "one new-app applying language detection when doesn't need to causing an error."
According to:

* https://docs.openshift.com/container-platform/3.3/dev_guide/new_app.html#advanced-multiple-components-and-grouping

``oc new-app`` can be passed multiple applications to deploy as separate deployments.

There is one caveat on that though as explained in the note in that section.

Thus one can have two arguments where one is a builder image and the other is a source code repository

[2016-10-27 03:42] smarterclayton opened #11603 "Build tito in hack container"
- Sort out tito output directories (concerned about size of BASETMPDIR for most hack/env runs - should we just be using _output)
- Add tito to release images
- Need to create a fake golang package in the release images, because we're testing with upstream golang, and so we'll need to test against those and the centos packages.
- Need to get actual version injected
- Do we need the `-0` on the pack

[2016-10-27 03:43] smarterclayton commented on #11603
Also turn off test building.

[2016-10-27 03:44] smarterclayton commented on #11603
We don't need to actually build release zips in build-cross.  That might save some time.

[2016-10-27 03:45] smarterclayton commented on #11603
[code]

That's a bit painful.

[2016-10-27 04:38] liggitt commented on #11381
fix was in https://github.com/openshift/origin/issues/11393 if you want to cherry pick it

[2016-10-27 04:55] liggitt commented on #11094
debugged back as far as before the rebase onto kube 1.4 and still encountered the issue

[2016-10-27 06:34] GrahamDumpleton opened #11605 "oc run --dry-run gives error that cannot list all pods in the cluster."
If want to see what resources `oc run` would create when using `--dry-run` option, it fails with the error:

[code]

If try and do it as system admin via `sudoers` role, then times out.

[code]
##### Version

oc v1.3.1
kubernetes v1.3.0+52492b4
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v1.3.1
kubernetes v1.3.0+52492b4
##### Steps To Reproduce

Run the command:

[code]
##### Cur

[2016-10-27 07:37] jorgemoralespou opened #11606 "Failure to start a oc cluster when specifying --host-config-dir"
Failure to start a oc cluster when specifying --host-config-dir
##### Steps To Reproduce

[code]
##### Version

[code]

This is the docker for mac version I'm using (1.12.2-rc1-beta27):

[code]

[2016-10-27 09:03] sudhirpandey commented on #9584
From the same project i can easily deploy the app using
[code]
and the deployment is successfull. so it leads me to believe that oc import image is not picking up the dockersecrtes to sync the image streams from remote registry

[2016-10-27 10:00] mfojtik commented on #11573
@smarterclayton we still use `go-etcd` in `pkg/cmd/server/etcd/etcd.go` but I guess we can replace it with the helper.

[2016-10-27 10:01] adelton commented on #11108
Thank you, I confirm that adding `env` works.

If deployment was used on top (?) of pod, would it then be possible to change the value "on-the-fly", with some `oc patch`?

Currently, after rebuilding the container with `go build -tags netgo`, the pod is shown failing with `no such file or directory `. And I get the same error when I try to run the container locally with `docker run`:

[code]

Re-p

[2016-10-27 10:22] mfojtik commented on #11573
@smarterclayton when talking about backup for leader election, you mean `newControllerPlug` in master_config.go? what you mean we don't need a backup and how you would like to change it? (I tried to remove the helper above and I think master_config is the only user of that helper atm.

[2016-10-27 11:56] soltysh opened #11611 "RFE: show me groups I'm assigned to"
`oc whoami` can give you information about your current user, it would be nice to also present which groups I'm a member of, including the virtual groups.
Maybe something like `oc whoami --groups`?

@deads2k @liggitt thoughts?

[2016-10-27 11:56] #11590 closed

[2016-10-27 11:57] sudhirpandey commented on #9584
I can finally confirm that log level 5 on  masters reveals that .. it cannot find the secrete for importing the image
[code]

[2016-10-27 12:03] mfojtik commented on #11611
@deads2k I think we have "can-i" endpoint but we are lacking CLI tooling right?

[2016-10-27 12:03] mfojtik commented on #11611
I like the `oc whoami --groups --roles`

[2016-10-27 12:19] soltysh commented on #9584
[This method](https://github.com/openshift/origin/blob/125ed10fa7103f46c5aa1593210ca0e1d417ea4b/pkg/image/importer/credentials.go#L152-L182) is responsible for matching the secret with the remote repository. As you see from the [lookup call](https://github.com/openshift/origin/blob/125ed10fa7103f46c5aa1593210ca0e1d417ea4b/pkg/image/importer/credentials.go#L164) you need to match the remote endpoin

[2016-10-27 13:02] knobunc commented on #11108
If you have a dc or rc on top, you can just set it by running this command:
  oc set env ...

I do not understand the docker pull probkem.  @bparees do you have any insight?

[2016-10-27 13:25] stevekuznetsov commented on #11603
`_output` was always for things that we wanted to stick around after the fact, `$BASETMPDIR` for stuff Jenkins would download but we could throw away usually.

[2016-10-27 13:26] stevekuznetsov commented on #11603
https://github.com/dgoodwin/tito/pull/236 will allow us to tag versions correctly with `tito` and a `.spec` file that has `0.0.1`

[2016-10-27 14:07] bparees commented on #11602
I'm pretty sure we can't actually change this behavior now, but we should at least fix the docs to clarify what happens in each of these scenarios (and make sure we actually understand too):

[code]

[2016-10-27 14:14] bparees commented on #11108
I suspect this has to do w/ the need to statically build the hello-openshift binary.  I don't remember the details, but it causes issues like this.  When we build it for the image we publish to dockerhub we take some special actions to ensure the binary is properly statically built.

specifically we build it w/ these environment values set: CGO_ENABLED=0 OS_GOFLAGS="-a -installsuffix cgo"

see: ht

[2016-10-27 14:23] liggitt commented on #11601
@pmorie any thoughts?

[2016-10-27 14:24] timothysc commented on #10910
@pweil- my favorite short/mid term approach for handling https://bugzilla.redhat.com/show_bug.cgi?id=1378180 is to enable resource sharding , similar to what we did upstream.

[2016-10-27 14:26] kargakis opened #11616 "FAILURE after 1.195s: test/cmd/admin.sh:253: executing 'oc process -f test/extended/testdata/roles/policy-roles.yaml -v NAMESPACE='cmd-admin' | oc create -f -' expecting success: the command returned the wrong error code"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/7791/consoleFull#165233259156c25df4e4b05b79524e5d52

[2016-10-27 14:26] soltysh commented on #10910
Arh... I wasn't able to finish this one, it'll have to wait for the next release :/

[2016-10-27 14:27] liggitt opened #11617 "controller lease watcher watches from outdated index"
the controller lease watcher watches from the index of the lease etcd node:

[code]

if that index is outside the watch window, the watch will immediately fail. the controller retries, but keeps retrying from the index of the node (rather than the current cluster index)

this means the lease watching devolves into a 1 second poll, rather than a watch.

[2016-10-27 14:29] liggitt commented on #11616
dupe of https://github.com/openshift/origin/issues/11024

[2016-10-27 14:29] #11616 closed

[2016-10-27 14:31] enj commented on #11024
Update: I have reproduced this locally but even with client / server logs set at 100 I have seen nothing of note.  Not sure where to look next.

[2016-10-27 14:32] sudhirpandey commented on #9584
yes i have now created docker secrete to have
--docker-server=https://registry.test.origin.paas:443/openshift/token  and now  imagestream import works.

before i could just use --docker-server=registry.test.origin.paas and it used to have worked. so for now being able to import the image and run be acutally pull the image from this secured registry , i am having two secrets.

one secret with  --do

[2016-10-27 14:46] danmcp commented on #10910
@soltysh @mfojtik How big/risky of an item is this?  It sounds bad enough that we should attempt to get it in still if at all possible.

[2016-10-27 14:50] kargakis commented on #7522
ProgressDeadlineSeconds API will be merged soon in Kube and we should have the implementation merged by Kube 1.5. Adding this to the 1.5 milestone for Origin.

[2016-10-27 14:52] kargakis commented on #6782
Now that we have RC conditions (coming with the next rebase) we could have this be a condition in the RC.

[2016-10-27 14:59] stevekuznetsov commented on #11603
https://github.com/openshift/origin/pull/11618 lets us skip tests

[2016-10-27 15:34] liggitt commented on #11611
there's no user-accessible API which lists groups by user, or roles by user

roles would be at multiple levels, cluster-wide, and per-namespace

[2016-10-27 15:35] smarterclayton commented on #11573
We have it in the helper, but we don't use it.

On Thu, Oct 27, 2016 at 6:22 AM, Michal Fojtik <notifications@github.com>
wrote:

[2016-10-27 15:36] smarterclayton commented on #11599
Extract release is somewhat questionable right now but I don't see a reason
not to enable it.

On Oct 26, 2016, at 4:44 PM, Steve Kuznetsov <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> do we want to support
the release steps on non-Linux machines?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https:/

[2016-10-27 15:38] csrwng commented on #11599
Or maybe we shouldn't try to extract the release on a Mac because the release is linux only? We shouldn't fail 'make release' because of it though.

[2016-10-27 15:41] smarterclayton commented on #11573
What is the question?  Our configuration is etcd2 for v1.4 sounds like the
only plan we have at this point.

On Wed, Oct 26, 2016 at 3:08 PM, Dan McPherson <notifications@github.com>
wrote:

[2016-10-27 15:49] deads2k commented on #11560
found it in deep copies: https://github.com/openshift/origin/pull/11621

[2016-10-27 15:57] kargakis opened #11622 "`oc idle` should patch instead of update DCs/RCs"
@DirectXMan12 @openshift/cli-review

[2016-10-27 16:23] exowaucka opened #11623 "No way to access OpenShift Origin 1.2 documentation after the 1.3 release"
I'm still running OpenShift Origin 1.2.  I want to read the documentation without having to guess which parts only apply to 1.3.  If the 1.2 documentation exists anywhere, it's pretty well-hidden.  All Google queries lead to https://docs.openshift.org/latest (the 1.3 documentation).

[2016-10-27 16:30] kargakis commented on #11623
@openshift/team-documentation

[2016-10-27 17:50] smarterclayton commented on #11599
Client binaries are valid release targets.

On Thu, Oct 27, 2016 at 11:38 AM, Cesar Wong <notifications@github.com>
wrote:

[2016-10-27 18:14] ncdc commented on #10826
@smarterclayton do you still want this in 1.3.x or can we close and it'll be in 1.4?

[2016-10-27 18:14] danmcp opened #11625 "devenv_ami failing on missing zip"
https://ci.openshift.redhat.com/jenkins/job/devenv_ami/5258/consoleFull

which: no bsdtar in (/data/src/github.com/openshift/origin/_output/etcd/bin:/data/src/github.com/openshift/origin/_output/local/bin/linux/amd64:/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin:/home/ec2-user/.local/bin:/home/ec2-user/bin)
++ Creating openshift-origin-client-tools-v1.4.0-alpha.0+9f85202-857-mac.zip

[2016-10-27 18:22] ncdc commented on #11584
The opCache is a typedef'd map and it's used read-write in multiple goroutines :-(

[2016-10-27 18:25] #11625 closed

[2016-10-27 19:12] smarterclayton commented on #11625
You also need bsdtar.

[2016-10-27 19:29] ncdc commented on #11584
I tried a bit but wasn't able to repro locally. Must not have been doing the same things you did.

[2016-10-27 19:34] soltysh commented on #10910
This is a major change to align the storage layer with upstream. I don't feel strongly confident to finish it now. I'd prefer to wait for 1.5, personally.

[2016-10-27 19:44] eparis commented on #11164
If you are able to reproduce please let us know! Thank you.

[2016-10-27 19:44] #11164 closed

[2016-10-27 20:25] ivanthelad opened #11629 "Deployment config incorrectly created when deploying a imagestream from ui"
From the UI when creating from a existing image stream. The name you defined for the deployment (and other resources like service) is used as the imagestream name in the trigger section of the DC

for instance, a imagestream called "app:qa" is used, if you create a application from the ui called "helloworld" based on myapp:qa imagestream then the deploymentconfig, imagechange trigger, attempts to

[2016-10-27 20:26] danmcp opened #11630 "Extended.deploymentconfigs with failing hook [Conformance] should get all logs from retried hooks"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7944/

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7944/testReport/junit/(root)/Extended/deploymentconfigs_with_failing_hook__Conformance__should_get_all_logs_from_retried_hooks/

Stacktrace

[code]

[2016-10-27 20:38] danmcp commented on #11630
Note: This was with docker 1.12

[2016-10-27 20:59] ncdc commented on #11630
I don't think this is related to the bug. There is a change in what's logged between docker 1.10 and 1.12.

### 1.10

[code]

### 1.12

[code]

As you can see, 1.12 doesn't log the failure in the container's logs like 1.10 did.

[2016-10-27 21:03] ironcladlou commented on #11630
The offender is this [deployment test fixture](https://github.com/openshift/origin/blob/master/test/extended/testdata/deployments/failing-pre-hook.yaml#L17). I'll submit a PR which makes the test case portable across docker versions.

[2016-10-27 21:05] smarterclayton commented on #10826
It's in 1.4, we can live without 1.3.

On Thu, Oct 27, 2016 at 2:14 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-10-27 21:06] #10826 closed

[2016-10-27 21:09] liggitt commented on #11630
should we be concerned that a previous command no longer runs?

[2016-10-27 21:11] stevekuznetsov commented on #11623
Should probably open an issue with github.com/openshift/openshift-docs as that would be a more appropriate place to track

[2016-10-27 21:11] ncdc commented on #11630
@liggitt it never ran before...

[2016-10-27 21:13] exowaucka commented on #11623
[Issue](https://github.com/openshift/openshift-docs/issues/3128) opened on openshift-docs.

[2016-10-27 21:13] #11623 closed

[2016-10-27 22:10] GrahamDumpleton commented on #11602
In what scenario would running language detection still be valid when you have that image/repo case and know the image is a builder image, such that you can't change the behaviour? Or are you talking about the bigger picture of how ``oc new-app`` works and not just the specific issue I am raising with language detection being run when it shouldn't?

[2016-10-27 22:11] bparees commented on #11382
here are the rules the watch logic would need to honor to exclude the same set of paths as rsync:
https://www.samba.org/ftp/rsync/rsync.html
(INCLUDE/EXCLUDE PATTERN RULES section)

Need to find a go library that will allow easy comparison between those patterns and the files we find during recursive watching.

[2016-10-27 22:11] fabianofranz commented on #11605
Some flags like the ones that make `run` interactive (`--attach`, `--stdin` and `--tty`) must not be used with `--dry-run`, it doesn't make sense. The command should validate it and throw a proper usage error.

[2016-10-27 22:27] bparees commented on #11602
"oc new-app openshift/jenkins-1-centos7 https://github.com/openshift/nodejs-ex"

(do you want to build nodejs-ex w/ the jenkins image, which is a valid s2i image?  or do you want to deploy jenkins and build nodejs-ex with whatever builder we normally recommend for nodejs-ex based on source detection?)

yes

I think we need to run through the matrix I described above, see what the current behavior

[2016-10-27 22:55] smarterclayton commented on #10910
Agreed.  You can split Kube / Origin probably, but not origin.

On Thu, Oct 27, 2016 at 3:34 PM, Maciej Szulik <notifications@github.com>
wrote:

[2016-10-27 23:08] GrahamDumpleton commented on #11602
The matrix should also be perhaps be expanded to include checking what happens when the ``--strategy`` option is also included.

For example, what should:

[code]

do.

[2016-10-28 00:04] #10271 closed

[2016-10-28 02:02] #9779 closed

[2016-10-28 02:04] #11439 closed

[2016-10-28 02:04] #11560 closed

[2016-10-28 02:04] #11630 closed

[2016-10-28 10:28] metal3d commented on #9834
The problem is still here... with alpine image for example

[2016-10-28 10:59] #11094 closed

[2016-10-28 12:04] kargakis commented on #11629
Is this an issue for the web-console repo? cc: @jwforres @jhadvig

[2016-10-28 12:41] jwforres commented on #11629
@spadgett looks like an issue with Deploy Image

[2016-10-28 13:11] ncdc commented on #11240
The fix for this merged upstream to docker yesterday. If everyone wants, I can do a <carry> PR for origin's vendored copies of docker/engine-api and kube to add back support for retrieving logs at the beginning of attach. Let me know if I should do this.

[2016-10-28 13:16] liggitt commented on #11240
if we don't, is this a regression in 1.4?

[2016-10-28 13:17] ncdc commented on #11240
Not in 1.4, no. I was a regression in 3.3 I think.

[2016-10-28 13:48] bparees commented on #9834
@metal3d are you seeing the manifest unknown problem or something else?  can you provide a log?  what origin/openshift release version are you on?

@mfojtik assigning to you since manifest issues are the imagestream domain.

[2016-10-28 13:57] soltysh opened #11640 "Possible data race in TestPodManager"
Seen this in local env when running full suite, including k8s tests:

[code]

[2016-10-28 14:05] juanvallejo opened #11641 "deploymentconfigs with multiple image change triggers test flake"
conformance test flake: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7973/consoleFull#38955804356cbb9a5e4b02b88ae8c2f77

[code]

##### Version
oc v1.3.0-rc1+0403599-958-dirty
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://10.13.137.149:8443
openshift v1.3.0-rc1
kubernetes v1.3.0+52492b4

[2016-10-28 14:24] coreydaley commented on #10807
Closed via #11597

[2016-10-28 14:24] #10807 closed

[2016-10-28 14:26] coreydaley commented on #10665
Pull request #11600 was merged which does correct the checks to be warnings instead of failing, but does not yet correct this issue.  Another pull request will be opened for this issue.

[2016-10-28 14:36] knobunc commented on #11108
The current README tells you:

[2016-10-28 14:36] #11108 closed

[2016-10-28 14:50] legionus commented on #10228
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7979/consoleFull

[code]

[2016-10-28 15:04] kargakis commented on #11630
Should we be concerned about this is the correct question

[2016-10-28 15:07] ncdc commented on #11630
If you `docker inspect`, you see the info under `.State.Error`. I'm not overly concerned, but maybe @mrunalp can weigh in if he considers this a docker regression or not.

[2016-10-28 15:11] spadgett commented on #11629
@ivanthelad Thanks for the report. We've previously fixed this in

https://github.com/openshift/origin-web-console/pull/534

See also

https://bugzilla.redhat.com/show_bug.cgi?id=1375480

If you're running current master and still seeing the issue, let us know.

[2016-10-28 15:11] #11629 closed

[2016-10-28 15:27] knobunc commented on #11567
@danmcp I don't think this is a networking (well... at least the SDN) failure.  The test is bombing because the dnf command failed.  I'm not sure what to do with this bug... any thoughts?

[2016-10-28 15:39] coreydaley commented on #11580
Closed via #11585

[2016-10-28 15:39] #11580 closed

[2016-10-28 15:41] coreydaley commented on #11433
Closed via #11585
Please open a new issue for any other problems that you encountered that were not directly related to the firewall rules.

[2016-10-28 15:43] kargakis commented on #11641
[code]
Dupe of https://github.com/openshift/origin/issues/11557

[2016-10-28 15:53] liggitt commented on #10228
possibly fixed by https://github.com/openshift/origin/pull/11627

[2016-10-28 15:57] #11641 closed

[2016-10-28 16:35] sudhirpandey commented on #11170
We are having the same issue and we too upgraded the cluster from 1.2.0 to 1.3.0
we did how ever ran
[code]

and this
[code]

According to the upgrade manuals but stills we dont see build status on the web console
In the jenkins pod we do how ever see these logs

[code]

Are we missing any thing while reconciling the cluster-roles and cluster-role bindings.

[2016-10-28 16:44] danmcp commented on #11567
@knobunc AFAICT, it's logic in the networking tests failing while calling yum.  I can't say I have seen that particular error.

@stevekuznetsov Does it ring a bell for you?

It looks like @juanvallejo hit the same error., so we should probably figure out what's causing it.  The solution is probably going to be a retry a changing yum config.

[2016-10-28 16:48] bparees commented on #11170
are you sure your jenkins pod is running under the jenkins service account?

[2016-10-28 17:43] knobunc commented on #8388
Seems to be fixed by https://bugzilla.redhat.com/show_bug.cgi?id=1371826

[2016-10-28 17:55] coreydaley commented on #11433
Linking to PR #11624

[2016-10-28 19:56] bparees commented on #10336
hit this again: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/7880/consoleFull#-91861563756bf4006e4b05b79524e5923

[2016-10-28 19:59] bparees opened #11649 "[networking][router] weighted openshift router flake"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7997/consoleFull#39374030356cbb9a5e4b02b88ae8c2f77

[2016-10-28 20:04] stevekuznetsov commented on #11567
This is a dupe of #11452  which is describing network/infra flakes around the Fedora `@updates` repo, which other projects that interact with `dnf` also are seeing recently. This is best solved in Origin by breaking all of our image builds into two -- one to inject dependencies, and another to add volatile code like `oc`. See also #9622

[2016-10-28 20:04] #11567 closed

[2016-10-28 20:04] bparees commented on #10988
Seeing a slightly different form of this but i assume it's the same issue:
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7997/consoleFull#-44671450056cbb9a5e4b02b88ae8c2f77

[2016-10-28 20:09] bparees commented on #11649
(defaulting to p1 per new flake priorities)

[2016-10-28 20:24] soltysh opened #11650 "should expand the config map key to a value"
Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/7995/consoleFull:

[code]

[2016-10-28 20:34] coreydaley commented on #10665
@akram Yes, you would need to open a new issue to add a new parameter to change the default OpenShift base port.

[2016-10-28 20:43] bparees opened #11651 "oc cluster up not using unique certs"
If you run oc cluster up a second time, you'll find on logging in that the browser does not like the generated cert because it shares a serial number w/ an existing cert.

the workaround is to wipe out your config (/var/lib/origin by default), but it should be using a unique serial number each time it starts, if it is generating a new cert.

[2016-10-28 21:00] danmcp commented on #5881
I don't think this is valid here anymore.

[2016-10-28 21:00] #5881 closed

[2016-10-28 21:02] danmcp commented on #6053
I don't think this is an issue for this repo anymore.

[2016-10-28 21:02] #6053 closed

[2016-10-28 21:03] danmcp commented on #6533
I don't think this is an issue for this repo anymore.

[2016-10-28 21:03] #6533 closed

[2016-10-28 21:04] danmcp commented on #6618
I don't think this is an issue for this repo anymore.

[2016-10-28 21:04] #6618 closed

[2016-10-28 21:06] danmcp commented on #7291
Closing since no one has reported this in a long time.

[2016-10-28 21:06] #7291 closed

[2016-10-28 21:06] danmcp commented on #7509
Closing since no one has reported this in a long time.

[2016-10-28 21:06] #7509 closed

[2016-10-28 21:08] danmcp commented on #7655
Closing since no one has reported this in a long time.

[2016-10-28 21:08] #7655 closed

[2016-10-28 21:09] danmcp commented on #8307
Closing since no one has reported this in a long time.

[2016-10-28 21:09] #8307 closed

[2016-10-28 21:37] liggitt commented on #11651
Or a unique signer. How is cluster up generating certs?

[2016-10-28 22:31] bparees commented on #11651
it's entirely likely i misdescribed the problem :)

[2016-10-28 22:54] danmcp commented on #8573
Closing since no one has reported this in a long time.

[2016-10-28 22:54] #8573 closed

[2016-10-28 22:55] danmcp commented on #8651
Closing since no one has reported this in a long time.

[2016-10-28 22:55] #8651 closed

[2016-10-28 22:56] danmcp commented on #9076
Closing since no one has reported this in a long time.

[2016-10-28 23:39] csrwng commented on #11651
Cluster up generates certs along with the rest of the config with `openshift start --write-config`. @liggitt based on this issue it looks like that doesn't result in new certs every time. Is that right? Should we switch to explicitly calling the command to generate certs?

[2016-10-28 23:47] liggitt commented on #11651
It should. Does it have access to all the original files, including the serial.txt file?

[2016-10-29 00:30] csrwng commented on #11651
It should. But if the files already exist, no new certs are generated? The intent is to re-generate certs and config unless you specify --use-existing-config

[2016-10-29 00:36] kargakis commented on #11650
@mfojtik you like --follow on deploy and you bringed this in, all yours : )

[2016-10-29 00:37] kargakis commented on #11544
Should be fixed by #11627

[2016-10-29 00:37] #11544 closed

[2016-10-29 00:38] kargakis commented on #10988
fix in https://github.com/openshift/origin/pull/11634

[2016-10-29 00:46] kargakis commented on #11069
Fixed. Also linking the upstream hooks rfe (https://github.com/kubernetes/kubernetes/issues/14512) and the initial proposal (https://github.com/kubernetes/kubernetes/pull/33545). Closing this.

[2016-10-29 00:46] #11069 closed

[2016-10-29 04:04] smarterclayton commented on #11069
Start a timer at the beginning of the deployer process and calculate from
there.  Doesn't have to be perfect, just close.

On Oct 13, 2016, at 4:42 AM, Michail Kargakis <notifications@github.com>
wrote:

It seems that we are just setting the default activeDeadline currently:
https://github.com/openshift/origin/blob/bc0a4dc0a48ab4fbcd4a1756f075124706361389/pkg/deploy/strategy/support/lifecycle.go#L

[2016-10-29 12:01] coreydaley commented on #11433
Closed via #11624
Please open a new issue for any problems you encounter that do not directly relate to this firewall issue.

[2016-10-29 12:01] #11433 closed

[2016-10-29 12:32] coreydaley commented on #10665
@csrwng Currently, the only place I see a socat tunnel being configured is in the helper_unix.go, and it is for port 8443.  Could you point me towards where socat is being used to forward ports 80 & 443 ?

[2016-10-29 13:02] csrwng commented on #10665
@coreydaley the problem is not the port socat opens. It's the port that docker opens when running the router. It essentially exposes ports on the mac with the -p flag. However, we only do that when running socat.

[2016-10-30 02:44] alikhajeh1 opened #11652 "Using env for OAuth config clientSecret doesn't work?"
[The docs](https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-node-configuration-passwords-and-other-data) mention that [the OAuth configs](https://docs.openshift.org/latest/install_config/configuring_authentication.html) can use env variables instead of hard coding the clientSecret into master-config.yaml. However, an error complaining that the clientSecret is

[2016-10-30 12:37] liggitt commented on #11652
I don't think envvars exported from a terminal get picked up by systemd. I think you might need to use Environment or EnvironmentFile directives in the unit files

[2016-10-30 15:02] alikhajeh1 commented on #11652
Thanks! That was my issue... `/usr/lib/systemd/system/origin-master.service` had already defined `EnvironmentFile=/etc/sysconfig/origin-master` so I just needed to add the env vars to that file.

[2016-10-30 15:02] #11652 closed

[2016-10-31 09:34] sudhirpandey commented on #11170
yes the jenkins pod running seems to be under jenkins service account of same project

[code]

[2016-10-31 10:00] sudhirpandey commented on #11170
Besides i am trying a cross project build via jenkins /pipeline being in third project..
project ci=> has jenkins
project dev => to build the app
project test => to deploy the app

in project dev => ci/jenkins has edit role
in project test => ci/jenkins has edit role

The builds and pipleine go through and does what needs to be done.. only the web-console is not updated with status.

[2016-10-31 10:06] mfojtik commented on #11650
@kargakis what other options we have to verify that the environment variables were expanded? Any method I can think of assumes that the container is/was running which might suffer with timeouts. But I think I'm slowly inclining to say that `--follow` is not a good idea for tests.

Also bumping this to P1 as we now track all flakes as P1.

[2016-10-31 10:46] mfojtik opened #11656 "Deployment controller hot-looping"
Not sure what caused it but I see 100% of CPU usage and this messages in logs repeating really fast:

[code]

I was playing with `test/extended/testdata/deployments/deployment-with-ref-env.yaml` (oc deploy --latest / oc rollout / pause/ resume) but I don't know what exactly caused the hot-loop.

[2016-10-31 10:47] mfojtik commented on #11656
@kargakis feel free to decrease the priority.

[2016-10-31 10:57] kargakis commented on #11656
Found it, we are hotlooping between changing the condition from paused to complete. Working on a fix.

[2016-10-31 11:06] kargakis commented on #11656
Simple to reproduce: start a new rollout, pause it, observed the dc controller getting into the hotloop once the rolllout completes.

[2016-10-31 11:12] sudhirpandey commented on #11170
as said in this thread,.. we explicitly need to do this for this to be working..
`oadm policy reconcile-cluster-role-bindings --confirm`
So i the docs might need update
https://docs.openshift.org/latest/install_config/upgrading/manual_upgrades.html

[2016-10-31 12:45] kargakis commented on #10228
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8026/consoleFull#86299571056cbb9a5e4b02b88ae8c2f77
http://pastebin.com/rjQi3a34

The deployer pod is never scheduled, superseded and marked for deletion, but never deleted. @smarterclayton which component is responsible for deleting pending pods at this point? Node controller or pod GC?

[2016-10-31 12:46] kargakis commented on #10228
At least we don't start a new deployer pod until the old is gone.

[2016-10-31 12:50] kargakis opened #11661 "should update PodDisruptionBudget status"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8026/testReport/junit/(root)/Extended/_k8s_io__DisruptionController__Feature_PodDisruptionbudget__should_update_PodDisruptionBudget_status/

Haven't dug through the failure but it may be related to https://github.com/openshift/origin/issues/11016

[2016-10-31 12:52] kargakis opened #11662 "should support a client that connects, sends no data, and disconnects"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8026/consoleFull#-80183125256cbb9a5e4b02b88ae8c2f77

[2016-10-31 12:54] csrwng commented on #11207
@sdodson @mwringe did we decide how to proceed? If it will be a while before we switch the tagging for the metrics deployer image, I think we need to fix 'cluster up' to use the proper template.

[2016-10-31 12:56] mwringe commented on #11207
@csrwng 'cluster up' definitely needs to fix this while we figure out if we can handle tagging in a better manner

[2016-10-31 12:58] csrwng commented on #11207
@mwringe thx, will do

[2016-10-31 13:29] smarterclayton commented on #10228
An unscheduled pod shouldn't be able to be marked for graceful deletion -
it should go away instantly.  That means bad logic in the apiserver - can
you summarize the failure state here so I can check upstream for when this
was fixed (if it has).

On Oct 31, 2016, at 8:46 AM, Michail Kargakis <notifications@github.com>
wrote:

At least we don't start a new deployer pod until the old is gone.

—
You

[2016-10-31 13:30] bbguimaraes commented on #11296
@Shyckymn: it's hard to guess from the logs you provided because they are from
different points in time.

About the first message (Oct 25), did it happen continuosly or just once?
Maybe you recreated the DeploymentConfig while the scaler was trying to get the
metrics, I'm not sure.

The others are from a previous day (Oct 21) and it's not clear if they occurred
before or after you corrected the im

[2016-10-31 13:34] kargakis commented on #10228
Hm, it seems that the pod is scheduled but it never transitions to Running. Most probably https://github.com/openshift/origin/issues/11016

[2016-10-31 13:34] kargakis commented on #10228
[code]

[2016-10-31 13:44] pweil- commented on #11016
@mfojtik @soltysh bump.  Status here?

[2016-10-31 13:48] ncdc commented on #11016
I think the original issue description (post 1.4 rebase pod startup times have increased) is not happening because of the rebase. It's because of the upgrade from docker 1.9 to 1.10. Right?

[2016-10-31 13:49] soltysh commented on #11016
Yup, that's what we've identified. I haven't seen anything else in there.

[2016-10-31 13:49] mfojtik commented on #11016
@ncdc and we should now run all CI on docker 1.12 right? so this should no longer happen.

[2016-10-31 13:50] soltysh commented on #11016
I vote for closing this issue, and reopening if the problem bites us again.

[2016-10-31 13:51] ncdc commented on #11016
@mfojtik that will only be true if docker 1.12 is faster than 1.10

[2016-10-31 13:52] mfojtik commented on #11016
@ncdc I smell it is not: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8031/testReport/junit/(root)/Extended/_k8s_io__Services_should_serve_multiport_endpoints_from_pods__Conformance_/

[2016-10-31 13:53] ncdc commented on #11016
@danmcp @smarterclayton maybe we need 1 jenkins job that tests using overlay instead of devicemapper, for comparison

[2016-10-31 13:55] mfojtik commented on #11016
@ncdc @danmcp @smarterclayton or an option to job where you can choose the storage

[2016-10-31 13:57] #11605 closed

[2016-10-31 13:58] soltysh commented on #11016
Choosing is not good, it has to be permanent, iow. one job running on devicemapper, other on overlay.

[2016-10-31 14:27] bparees commented on #11170
@deads2k we're having a number of users running into pipeline/buildconfig permission issues when upgrading clusters, sounds like the reconcile roles instructions may need a review. (see https://github.com/openshift/origin/issues/11170#issuecomment-257268191)

[2016-10-31 14:33] danmcp commented on #11661
@kargakis New test-flakes should be marked as a P1 until triaged by the owner.

[2016-10-31 14:34] Shyckymn commented on #11463
Guys, you'll not believe...

I decided to delete all objects and create an additional node.
Now, I have one master server and one node server.

So, I created a new project and pushed some images (nginx and httpd) to it.
After deploy, create route, set resource limits and add autoscaler, everything works fine!

I don't know the reason why the "metrics collect" works with nodes but doesn't works wit

[2016-10-31 14:34] deads2k commented on #11170
@liggitt looks like a role was bound to `system:authenticated` and the default instructions say to exclude anything bound to that user from reconciliation.  Role was bound here https://github.com/openshift/origin/blame/master/pkg/cmd/server/bootstrappolicy/policy.go#L974 in this pull https://github.com/openshift/origin/pull/8693 .

Shall we reconsider the default excludes and do it based on annota

[2016-10-31 15:34] jcantrill commented on #11207
It was my understanding that logging and metrics would/could flow on a different cadence then OSE and it's conceivable that you might need to deploy logging separately.  To simplify things, it seems reasonable that we  retag logging and metrics images when you re-release OSE.  To my knowledge, however, the only way we provide these images now is to release OSE; there is no process to release them

[2016-10-31 16:28] derekwaynecarr commented on #11342
the kubelet does not speak to etcd, the kubelet speaks to the apiserver, which communicates with etcd.  are you having other issues with your apiserver creating resources (pods, events, nodes, etc.)?

[2016-10-31 16:49] sudhirpandey opened #11667 "JenkinsFile in private repos unusable even source secret provide in Pipeline build configs"
[provide a description of the issue]
We have a JenkinsPipeline file in a private app repo. We creating pipelines , the jekins instance in openshift responsible for the pipeline cannot check out the pipeline , hence the buid fails
##### Version
[provide output of the `openshift version` or `oc version` command]
origin 1.3.0
oc 1.3.0
##### Steps To Reproduce
create a pipeline from secured repo
[code

[2016-10-31 17:03] sudhirpandey opened #11668 "Pipelines cannot be created even as authenticated user but works form system:admin on masters"
[provide a description of the issue]
The authenticated user cannot create pilpelines, It could only be created from masters., which is logged in as system:admin
##### Version
[provide output of the `openshift version` or `oc version` command]
origin 1.3.0v
oc  1.3.0v
##### Steps To Reproduce
create a pipeline file
[code]
2. [step 2]
Try and create pipeline
 oc create -f pipeline2.yaml
[code]
#####

[2016-10-31 17:18] thomasmckay opened #11670 "atomic registry missing DOCKER_REGISTRY_SERVICE_HOST env var"
https://github.com/openshift/origin/blob/master/examples/atomic-registry/systemd/install.sh#L71

Without this env var, docker push to registry gives errors like this (note the invalid value message):
[code]

[2016-10-31 17:48] mmilata opened #11671 "flake: conformance: EmptyDir volumes should support (root,0644,default) hangs"
The test gets stuck on:
[code]

Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8030/console

[2016-10-31 17:49] derekwaynecarr commented on #11662
@sjenning -- am i remembering incorrectly that you signed up for port-forwarding after @ncdc moved on?

[2016-10-31 17:51] ncdc commented on #11662
This is happening upstream too occasionally. https://github.com/kubernetes/kubernetes/issues/26955

[2016-10-31 18:02] ncdc commented on #11662
@sjenning if you do take this over, I will happily give you a brain dump on how port forwarding works

[2016-10-31 18:04] bparees commented on #11667
dupe of https://github.com/fabric8io/openshift-jenkins-sync-plugin/issues/101

[2016-10-31 18:04] #11667 closed

[2016-10-31 18:41] sjenning commented on #11199
This is fixed by https://github.com/openshift/origin/pull/11642

[2016-10-31 19:26] mmilata commented on #11406
Seen in Jenkins: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8060/console

[2016-10-31 19:45] sosiouxme commented on #11207
Pretty sure we don't want to rebuild all the images every time there's a new OpenShift build. Seems to me this could go one of two ways:

1. retag shipped images to match each time there's a new version of OpenShift
2. have `oc cluster up` only use the x.y.z of the version, as that is what gets shipped

[2016-10-31 19:51] coreydaley opened #11672 "hack/update-generated-bootstrap-bindata.sh errors when binary on PATH but not GOPATH"
If the go-bindata binary is on your PATH but not your GOPATH, the hack/update-generated-bootstrap-bindata.sh script can pass the check here [https://github.com/openshift/origin/blob/master/hack/update-generated-bootstrap-bindata.sh#L10] but still fail to find the binary here [https://github.com/openshift/origin/blob/master/hack/update-generated-bootstrap-bindata.sh#L17].

##### Version
openshift v

[2016-10-31 20:43] coreydaley commented on #11661
Same issue here: https://ci.openshift.redhat.com/jenkins/job/test_pr_origin/10874/

[2016-10-31 21:49] sudhirpandey commented on #11668
It turns out that i was using oc client version 1.2( on one of the client) that was not working.
On masters the client were already on 1.3 hence it worked there,

I updated the oc client tool to be on version 1.3

so now it seems to work great.
Thanks.

[2016-10-31 21:49] #11668 closed

[2016-11-01 03:44] #11656 closed

[2016-11-01 09:49] kargakis opened #11682 "FAILURE after 0.334s: test/end-to-end/core.sh:423: executing 'oc logs dc/frontend' expecting success and text 'Connecting to production database': the output content test failed"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/7975/consoleFull#-14238278135762928fe4b031e1b25ced2a

[2016-11-01 10:35] abrahamjaison01 opened #11683 "Unable to push docker image to Openshift Origin Docker registry - no basic auth credentials"
I was trying to deploy a docker image I have created via Openshift. I followed the instructions in: [](http://www.opensourcerers.org/importing-an-external-docker-image-into-red-hat-openshift-v3/)

However, as I tried to push my docker image to the Openshift registry, it did not succeed, as shown.

##### Version

##### Steps To Reproduce

1. Build a custom docker image in the local docker repositor

[2016-11-01 12:10] kargakis opened #11685 "deploymentconfigs with multiple image change triggers test flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8096/consoleFull#-101340697156cbb9a5e4b02b88ae8c2f77

The pod that the test wants to deploy becomes ready around 5 min after it was created:
[code]
This is another instance of https://github.com/openshift/origin/issues/11016 where the 5min timeout of the test is not enough for the test to finish.

[2016-11-01 12:14] kargakis opened #11686 "Deployment config conditions follow-up work"
Currently the dc controller sets conditions based on the state of the rc that is set by the deployment controller. The following scenario can lead into missing progress report:
-- Deployer pod is created by the deployment controller, rc is set to Pending
-- Deployer pod runs and scales up the rc to 1
-- Deployment config controller sees the update to the rc but it is still tagged as Pending so it

[2016-11-01 12:18] kargakis commented on #11016
Most deployment flakes are related to this. @mfojtik @smarterclayton not sure if we should extend the deployment timeout any more. To be honest, I would prefer using the default deployment timeout (10m) and be done with this at the expense of some tests becoming slower.

[2016-11-01 12:42] miminar commented on #11683
Have you logged in to the registry before pushing as [described here](https://docs.openshift.org/latest/install_config/registry/accessing_registry.html#access-logging-in-to-the-registry)?

[2016-11-01 13:11] mwringe commented on #11199
Bugzilla opened for this: https://bugzilla.redhat.com/show_bug.cgi?id=1390502

[2016-11-01 13:13] hansmi opened #11688 "Global "--context" argument causes "oc whoami" to fail"
The `whoami` command has a `--context` option which conflicts with the global `--context` option:

[code]

##### Version
[code]

##### Steps To Reproduce
1. Set up at least one context, preferrably more
2. Get context name

[code]

2. Use context with a command like `get` (works):

[code]

3. Use context with `whoami` (fails):

[code]

##### Current Result
Command fails:
[code]

##### Expected Res

[2016-11-01 13:23] hansmi commented on #11688
A colleague has pointed out to me that `whoami --context` is meant to print the context of the currently active cluster/user combination. As such my reading of the description of the option was wrong. I assume everything works as expected in this regard.

[2016-11-01 13:23] #11688 closed

[2016-11-01 13:26] liggitt commented on #11688
In any case, deprecated in favor of --show-context in 1.4, will remove the special meaning of --context for whoami in 1.5 so it is consistent with all other commands

[2016-11-01 13:43] liggitt opened #11689 "Gitlab is not using custom transport"
https://github.com/openshift/origin/blob/master/pkg/auth/oauth/external/gitlab/gitlab.go#L97

Gitlab idp is using the default client for looking up user info, instead of using the configured transport

[2016-11-01 13:51] oatmealraisin opened #11691 "oc whoami reporting incorrect server address"
After using `oc cluster up` to set up OpenShift, `oc whoami --show-server` seems to report an address that doesn't resolve to anything. It is different from the address that `oc project` outputs.

##### Version
[code]

##### Steps To Reproduce
[code]
##### Current Result
[code]

##### Expected Result
[code]

@juanvallejo

[2016-11-01 13:54] oatmealraisin commented on #11691
Some additional info:

[code]

[2016-11-01 14:08] oatmealraisin opened #11692 "Oauth redirects to internal address"
When signing into the Jenkins Ephemeral template using oauth, I'm being redirected to
`https://openshift.default.svc/oauth/authorize?client_id=system:serviceaccount:myproject:jenkins&redirect_uri=https://jenkins-myproject.10.192.219.70.xip.io/securityRealm/finishLogin&response_type=code&scope=user:info%20user:check-access&state=OGNlOGU3OGUtNTQ5OS00`
which fails to resolve.

##### Version
[code]

#

[2016-11-01 14:08] oatmealraisin commented on #11692
@gabemontero Any ideas?

[2016-11-01 14:15] php-coder commented on #10566
I see it here: https://travis-ci.org/openshift/origin/builds/172277896

[2016-11-01 14:20] gabemontero commented on #11692
get the output for  `oc get sa jenkins -o yaml` and run `docker logs <jenkins container id>`

[2016-11-01 14:21] gabemontero commented on #11692
and how recent is the openshift version you posted?

[2016-11-01 14:22] liggitt commented on #11692
@gabemontero do you default to openshift.default.svc if you can't find the discovery info? That's unlikely to be a good default

[2016-11-01 14:25] gabemontero commented on #11692
@liggit we should only be using openshift.default.svc when the jenkins pod accesses the master; it is not intended to show up in a browser URL

[2016-11-01 14:27] liggitt commented on #11692
@oatmealraisin what do you see if you request `https://<master>:8443/.well-known/oauth-authorization-server`?

[2016-11-01 14:30] PI-Victor opened #11695 "remove unneeded vendored test files."
do we run any of tests that are in the vendor folder?
i know we run some/all kube tests ourselves, but i don't know anything about this.
i was wondering if we can remove them or if we should keep them?
[code]
@bparees @smarterclayton

[2016-11-01 14:31] smarterclayton commented on #11016
The aggressive timeout doesn't seem to help us.  Is there any evidence of
that?

On Nov 1, 2016, at 8:18 AM, Michail Kargakis <notifications@github.com>
wrote:

Most deployment flakes are related to this. @mfojtik
<https://github.com/mfojtik> @smarterclayton
<https://github.com/smarterclayton> not sure if we should extend the
deployment timeout any more. To be honest, I would prefer using the defa

[2016-11-01 14:32] oatmealraisin commented on #11692
@gabemontero
[oc get sa jenkins -o yaml](https://paste.fedoraproject.org/467324/80104131)
[docker logs](http://paste.fedoraproject.org/467329/47801055/)
[docker logs &> logs](http://paste.fedoraproject.org/467332/78010604/)

@liggitt
[code]
The openshift version is from last night at around 5pm

[2016-11-01 14:53] kargakis commented on #11016
@smarterclayton https://github.com/openshift/origin/issues/11685 the deployer pod succeeds around 5min after it started. The deployment pod was scaled up from the start but didn't transition to Ready until ~5min later. We end up failing the test.

[2016-11-01 15:00] smarterclayton commented on #11016
Why did it take 5 min?  That's completely unexpected.

On Tue, Nov 1, 2016 at 10:53 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-11-01 15:00] smarterclayton commented on #11695
We definitely run all the Kube tests, but not other vendors.  All the
examples you described above look like incorrect vending.

On Tue, Nov 1, 2016 at 10:30 AM, Ionut Palade <notifications@github.com>
wrote:

[2016-11-01 15:03] rudijs commented on #9834
@bparees @mfojtik  Hi Ben, Michal,

Seeing this issue as well.

We're using Docker 1.9
OpenShift Master: v1.1.4
Kubernetes Master: v1.2.0-origin-41-g91d3e75

We have a Dockerfile that wants to pull the official influxdb image:

[code]

I don't have access to the OS running Openshift, but I believe is Centos7 w/ Selinux enforcing.

If there's any more information I can provide, please let me know.

[2016-11-01 15:10] jwhonce commented on #11016
@rhvgoyal Please take a look at this.  Thanks.

[2016-11-01 15:16] bparees commented on #9834
@rudijs can I see your buildconfig yaml?   there is a workaround you can apply, but the better solution would be to upgrade to a newer openshift version that properly handles the v2 manifests.

[2016-11-01 15:17] oatmealraisin commented on #11692
this is @gabemontero with Ryan ..... when looking at the jenkins log with trace on, we see that the jenkins oauth plugin is getting a similar exception trying to access .well-known/oauth-authorization-server:

[code]

So a couple of notes:
- I need to fix the plugin to not default the login provider to oauth if we get this error
- but short term, we need to see if this is a general issue or someth

[2016-11-01 15:18] liggitt commented on #11692
is this an old cluster restarting against old etcd data? if so, run `oadm policy reconcile-cluster-roles --confirm`

[2016-11-01 15:21] oatmealraisin commented on #11692
Ryan says he uninstalled the reinstalled everything..... should be a fresh cluster.  Trying out reconcile anyway.

[2016-11-01 15:23] bparees commented on #11695
platform team seems like the team that is closest to owning the godep folder, assigning to @mfojtik

[2016-11-01 15:25] #10566 closed

[2016-11-01 15:40] php-coder commented on #10566
@stevekuznetsov If the bug is still here then why you closed it?

[2016-11-01 15:41] #4002 closed

[2016-11-01 15:41] knobunc commented on #11649
From docker.journal in artifacts:
[code]

Which means this is bug 1380669 [link](https://bugzilla.redhat.com/show_bug.cgi?id=1380669)

[2016-11-01 15:41] liggitt commented on #4002
prompting for insecure mode allows connecting to insecure servers without implying they are secure

[2016-11-01 15:45] pweil- commented on #11691
PR: https://github.com/openshift/origin/pull/11697

[2016-11-01 15:45] stevekuznetsov commented on #11517
This is fixed with #11571

[2016-11-01 15:45] #11517 closed

[2016-11-01 15:48] stevekuznetsov commented on #6852
Let's keep this issue open to track this flake. It's on Travis, so it's not a P1 as it doesn't block anything.

[2016-11-01 15:55] enj commented on #11467
So this seems to be failing for other reasons now.  @stevekuznetsov PTAL

[2016-11-01 16:00] oatmealraisin commented on #11692
@liggitt @gabemontero Ryan in control again, after remaking the openshift image and using @csrwng 's localup, everything is in order. Is there any possibility that a user could encounter this

[2016-11-01 16:06] gabemontero commented on #11692
IMO it is highly unlikely unless the user is developing origin and gets his install in an indeterminate state like yours appeared to be.

[2016-11-01 16:07] gabemontero commented on #11692
I am still updating the jenkins oauth plugin to no default to oauth when we get permissions error like you got.  But that is not a code change in the origin repo.

[2016-11-01 16:20] wanghaoran1988 opened #11701 "OpenShift API Documentation need update"
[OpenShift API Documentation](https://github.com/openshift/origin/tree/master/api)need update, cannot find "hack/update-generated-swagger-docs.sh" scripts in current repo.

[2016-11-01 16:39] stevekuznetsov commented on #6852
This is a test flake but does not occur on Jenkins, so we should not be using this flake to re-trigger Jenkins runs, ergo the tag drop.

[2016-11-01 16:39] #11467 closed

[2016-11-01 16:40] liggitt opened #11702 "Is TLSv1.2 minimum acceptable"
#11495 changed minimum TLS version of the API to 1.2, matching upstream

That caused problems with some clients (like old curl on travis, c.f. https://github.com/openshift/origin/issues/11517)

Are we comfortable requiring 1.2 minimum?

[2016-11-01 16:40] stevekuznetsov commented on #10566
This remains a dupe of https://github.com/openshift/origin/issues/6852. This should not be labeled with the test-flake label as, while it is a valid test flake, it does not occur on Jenkins (that I have ever seen -- if you have logs showing that, this would be very important to link) and should not be used as justification for re-testing Jenkins runs.

[2016-11-01 16:53] oatmealraisin commented on #11692
Closing :) thanks @gabemontero !

[2016-11-01 16:53] #11692 closed

[2016-11-01 18:10] dcbw opened #11707 "Extended networking tests fail on "Path /var/run/openvswitch/br0.mgmt is mounted on /run but it is not a shared or slave mount.""
[code]

[2016-11-01 18:20] rhvgoyal commented on #11016
This is so high level, that I have no idea. So far none of the data is suggesting that it is a storage issue. if this is a problem, please narrow it down.

[2016-11-01 18:25] ncdc commented on #11016
@rhvgoyal we have a doc (I need to get a link to it) showing that the devicemapper timings are slower when you go from docker 1.9 to 1.10. I apologize for not having this data handy right now. I believe @soltysh has it somewhere. We'll get it to you as soon as we can.

[2016-11-01 19:05] soltysh commented on #11016
It's https://docs.google.com/a/redhat.com/document/d/1AaNZTggal-OUjgJah7FV4mWYNS-in5cHTBLf0BDIkh4/edit?usp=sharing

[2016-11-01 20:34] #10285 closed

[2016-11-01 20:56] bparees commented on #11382
per a suggestion from @csrwng might be able to use --list-only to determine the list of files to watch. will look into it.

[2016-11-01 21:02] coreydaley commented on #11602
@bparees Can you point me to somewhere that clarifies (or can you clarify) the builder vs non builder images? (builder images are s2i images correct?)

[2016-11-01 21:22] jgoldsmith613 commented on #6516
Why was this closed?  Is there another issue that fixes the issue of a secure remote registry with new-app?  I can't seem to find it

[2016-11-01 22:50] bparees commented on #11602
@coreydaley yeah builder images are s2i-enabled images.  here's the new-app codes that decides if an image is an (s2i) builder image or not:
https://github.com/openshift/origin/blob/master/pkg/generate/app/builder.go#L12-L35

there are a couple things it checks, as you can see.

[2016-11-01 22:56] bparees commented on #6516
@jgoldsmith613 it was closed because we introduced the following behavior:

If new-app cannot locate the referenced image in a registry, it will still allow you to use that image, with a warning that things may not work correctly if the build environment also can't access the image.

Assuming the image exists locally (where you are running oc new-app) you should just see the warning and then the b

[2016-11-01 23:42] csrwng commented on #11651
@bparees so testing this on my RHEL machine it looks like from run to run we're just keeping the same certs, and it's something I never looked into since it's "just worked" (tm) before. I would like to understand what is causing the new certs to be generated on your machine. I also tried on a Fedora VM to see if I could get the same result as you, but I couldn't reproduce there either. If you can

[2016-11-02 01:19] rudijs commented on #9834
@bparees Hi Ben,

In my local dev it's not a problem using v1.3 (of course), it's the v1.1 in the datacenter that's the issue.

It's not so easy for them to upgrade - sadly.

I'd love to see the workaround and see if that can help.

Here's a build config:

[code]

[2016-11-02 01:28] bparees commented on #9834
@rudijs the workaround is to change this:

[code]

to something like this:
[code]

But you will lose the ability to do imagechangetriggers on your buildconfig.  (your build will no longer be based on an imagestreamtag, it will be just directly referencing a particular docker pull spec)

[2016-11-02 01:31] marun commented on #11707
I'm seeing this in the post-merge job, which suggests this is a problem in master rather than just #11613.  I'm puzzled what changed to cause this apparent regression.

[2016-11-02 01:32] liggitt commented on #11707
Did docker just change to 1.12?

[2016-11-02 01:33] bparees commented on #11651
@csrwng I think the issue is that my machine changed ips in between cluster ups?  but now i don't remember for sure.  I also have a recollection of recreating it just by doing cluster down/cluster up w/o changing IPs so i may have to do some recreate work to reestablish the conditions.

[2016-11-02 01:33] marun commented on #11707
Hmm, that may be it.  That is the version shown on the failing jobs.

[2016-11-02 01:35] marun commented on #11707
To be clear, this is only a problem for dind clusters and the fix is to ensure /run is mounted with shared propagation as per the fix included with @dcbw's PR.  Only the ovs e2e tests are affected, and they are only run post-merge or by ``[testextended][extended:networking]``.

[2016-11-02 01:59] rudijs commented on #9834
@bparees OK great. I'll implement this shortly and reply with the results.

Thank you very muchly!

[2016-11-02 03:16] rudijs commented on #9834
@bparees Ben,

Yep that's working OK now.

Here's some partial log output

[code]

Thanks again.

[2016-11-02 03:25] abrahamjaison01 commented on #11683
Well.. that seems to be a random error.. I restarted the services, created a new project and a docker registry etc., and started everything over again and it now works fine.. Not sure if it is a bug though..!
Also I couldn't find any commands such as ./openshift restart or ./openshift stop.. Only ./openshift start is available..! Thanks..

[2016-11-02 03:25] #11683 closed

[2016-11-02 03:26] bparees commented on #9834
Great, glad we could get you going.

[2016-11-02 03:57] rudijs commented on #9834
@bparees

Can we also apply this to deployment configs?

In the case of 'oc new-app' that pulls and uses an image from hub.docker.com - no build.

Here's a sample for mongodb:

[code]

[2016-11-02 04:18] rudijs commented on #9834
@bparees Regarding the previous message, if we can do the work around in the deployment config a work around is to use a github repo with a simple docker file.

For example:

Not this: `oc new-app --name=mongo --docker-image=mongo:latest`

Do this: `oc new-app --name=mongo https://github.com/rudijs/os-mongodb.git`

And the github repo has a Dockerfile with one line `FROM mongo:latest`

[2016-11-02 04:21] bparees commented on #9834
for the deploymentconfig you can do the same thing as the buildconfig..in that case you'd need to delete the imagechangetrigger section entirely, and then replace the template.spec.container.image field with the docker pull spec for the image you want to deploy (making sure to specify the openshift registry as part of the spec if it's an image that lives in the openshift registry as opposed to doc

[2016-11-02 04:26] rudijs commented on #9834
OK cool, I'm updating the wrong section then.

I'll try this out later today and report back here, useful for other who run into this as well.

[2016-11-02 04:31] abrahamjaison01 opened #11721 "Running a docker image in openshift origin without building it via web console"
I have a docker image developed and pushed onto the docker registry in openshift. Now I need to run the docker image as it is by passing some ENV variables. As shown below my docker image "mycustomdaemon:latest" was listed when I clicked "Add to project" link. However when I try to run it, it asks for the Git Repository URL and requires to build again. I just want to run the docker image as such a

[2016-11-02 05:01] abrahamjaison01 commented on #11721
I tried to run the image directly from the CLI by issuing the `oc new-app` command but got the following error output.

![capture3](https://cloud.githubusercontent.com/assets/14936005/19917243/6b47b7a2-a0e7-11e6-94d8-6ab76b79db79.JPG)

[2016-11-02 05:54] liggitt commented on #11011
is this still an issue?

[2016-11-02 06:28] rudijs commented on #9834
@bparees Ben,

Yep all good for deployment config.

Example usage:

`oc new-app --name=mongo2 --docker-image=mongo:latest`

Then exactly as you've directed, edit the deployment config, remove the imagechangetrigger completely, and edit the template.spec.container.image to point to the registry (docker.io in this case)

[code]

For launching an official image direct from hub.docker.com I prefer thi

[2016-11-02 08:47] #11691 closed

[2016-11-02 09:20] mfojtik commented on #11695
I would prefer to do some house-keeping after 1.4 to get rid of these. I'm not too much concerned about them now as they are not compiled when building origin, but I'm concerned about the amount of work this will need to make the commits right ;-)

[2016-11-02 09:22] mfojtik commented on #11670
@aweiteka are you working on the fix?

[2016-11-02 09:26] PI-Victor commented on #11695
@mfojtik  there's a PR https://github.com/openshift/origin/pull/11696 not yet merged, since i didn't realize i had to name it right, we can merge it after 1.4 drops.

[2016-11-02 11:23] soltysh commented on #10228
@kargakis can we increase all timeouts in deployments to 1min? We've experienced yesterday with @ncdc this flake in that cherry-pick PR where right after we've went overtime the pod went into ready state. This was one of the 30s timeouts towards the end of that file (can't remember the exact line), so I was thinking about increasing all of those 30s to 1min, wdyt?

[2016-11-02 11:24] soltysh commented on #11661
Fix waiting for merge in #11714

[2016-11-02 11:26] mfojtik commented on #11695
bump(*) ? nice try :-)

[2016-11-02 11:56] #11689 closed

[2016-11-02 12:16] kargakis commented on #10228
Yes, I believe it's fine.

[2016-11-02 12:22] soltysh commented on #10228
I'll create a PR later today.

[2016-11-02 12:28] liggitt commented on #10228
Needing to double timeouts is concerning.  Are we tracking finding and fixing the underlying issue for 1.4, and when we do, will we reduce the timeouts so we get notified again if they regress?

[2016-11-02 12:28] kargakis commented on #10228
thanks

On Wed, Nov 2, 2016 at 1:22 PM, Maciej Szulik <notifications@github.com>
wrote:

[2016-11-02 12:39] soltysh commented on #10228
@liggitt it all looks related to #11016 which is devicemapper inefficiency in docker 1.10. Nothing really regressed on our side (see the attached doc in that linked issue). One solution is to either switch to overlay (which rocks!) or upgrade 1.12 and hope it's better.

[2016-11-02 12:42] nsams opened #11724 "cluster up: router won't start on Ubuntu 16.10 (Yakkety)"
When trying to start a local OpenShift cluster using `oc cluster up` under Ubuntu 16.10 the router fails to start as it can't bind to ports 80 and 443. No process is using the ports, so it is probably some permissions issue.

##### Version

    oc v1.3.1
    kubernetes v1.3.0+52492b4
    features: Basic-Auth GSSAPI Kerberos SPNEGO

    Server https://192.168.0.37:8443
    openshift v1.3.1
    kube

[2016-11-02 12:44] #11661 closed

[2016-11-02 12:44] bparees commented on #9834
Great!

Ben Parees | OpenShift

On Nov 2, 2016 02:28, "Rudi Starcevic" <notifications@github.com> wrote:

[2016-11-02 12:51] liggitt commented on #10228
I thought we were on docker 1.12 in the devenvs. @danmcp?

[2016-11-02 12:53] soltysh commented on #10228
Actually, we are. Looking [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8031/consoleFull) gives me 1.12.2-rc2, I'd have to verify locally the tests from that doc.

[2016-11-02 12:59] danmcp commented on #10228
@liggitt Yep, still 1.12 afaict.

[2016-11-02 13:11] stevekuznetsov commented on #11701
Opened a PR to address this -- the script is currently named `hack/update-swagger-docs.sh`

[2016-11-02 13:16] stevekuznetsov commented on #11011
LDAP test seems pretty stable now, so I guess it went away ... that is a little disconcerting but I'll close this guy.

[2016-11-02 13:16] #11011 closed

[2016-11-02 13:18] knobunc commented on #11496
#11550 has landed.

[2016-11-02 13:18] #11496 closed

[2016-11-02 13:19] mfojtik commented on #11721
@abrahamjaison01 you seems to have two extra spaces in that command.

[2016-11-02 13:19] mfojtik commented on #11721
adding @jwforres to guide what label needs to be added to be able to run the image directly (I guess you have to use the different tab in the console to do so.)

[2016-11-02 13:22] nsams commented on #11724
I can not reproduce with the previous ubuntu version 16.04 (Xenial)

[2016-11-02 13:28] soltysh commented on #11016
I'll try to run 1.12 tests and add them to that document. @rhvgoyal where can I get 1.12 binaries/package for F24?

[2016-11-02 13:37] ncdc commented on #11016
I'm running a combination of http://koji.fedoraproject.org/koji/taskinfo?taskID=16262294 and http://koji.fedoraproject.org/koji/buildinfo?buildID=812817 (but you probably could update the latter to 1.12.3-2).

I have these packages installed:

- docker-latest (i.e. remove docker)
- docker-common
- container-selinux

[2016-11-02 13:38] jwforres commented on #11721
You need to use a newer version of openshift.  We added a "Deploy Image" feature in 1.3, see https://blog.openshift.com/whats-new-openshift-3-3-web-console/

[2016-11-02 14:20] jgoldsmith613 commented on #6516
@bparees

Even with the allow missing images flag It still returns with a 401 and does not make a dc.  (There is no source, just trying to create a pod from the image)
Running
oc new-app --insecure-registry --docker-image={image-location} --allow-missing-images

Same thing with --allow-missing-images=true

[2016-11-02 14:28] derekwaynecarr commented on #11662
per our discussion in blocker call, we are marking this p2 while we track the same flake upstream.

[2016-11-02 14:31] bparees commented on #6516
@jgoldsmith613 can you run with --loglevel=5 and provide the full output?

[2016-11-02 14:33] soltysh commented on #11682
Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8061/consoleFull

[2016-11-02 14:38] lorenzvth7 commented on #6516
@jgoldsmith613 I assume you pushed your image in the openshift registry. At the moment I'm doing the following. I create an image-stream once. (like described [here](https://blog.openshift.com/remotely-push-pull-container-images-openshift/)). (create the image-stream). Then I'm able to push my image `https://registry-xxx/projname/imagename` and go inside my openshift project and just perform: `oc

[2016-11-02 14:42] kargakis opened #11728 "--- FAIL: TestBuildOverrideNodeSelectors (14.25s)"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8064/consoleFull#127309647156c25e74e4b05b79524e5d56

[2016-11-02 15:10] soltysh opened #11732 "Revisit deployment timeouts introduced to mitigate problems from 110016"
As part of struggling with #11016 we've increased timeouts in extended deployments tests. We should revisit those times when the aforementioned issue is fixed.

[2016-11-02 15:11] soltysh commented on #11732
https://github.com/openshift/origin/pull/11729 is one example

[2016-11-02 15:12] soltysh commented on #11732
@liggitt fyi

[2016-11-02 17:25] jupierce opened #11735 "PR test flake: Base repository commit ID ### doesn't match evaluated commit ID ####"
https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/717/console

[code]

[2016-11-02 17:25] jim-minter opened #11736 "Triggering build with invalid branch will cause the invoke to fail and return a code 500"
Following from #11077, Wang has pointed out the following at https://bugzilla.redhat.com/show_bug.cgi?id=1373330 :

Triggering build with invalid branch will cause the invoke to fail and return a code 500 , internal error,. Should we return code 400, i.e. a bad request?

This is effectively a question of where we want to stand on the API backwards compatibility vs otherwise correctness continuum.

[2016-11-02 19:12] danwinship opened #11740 "HostSubnet handling is subject to multi-master race conditions"
@liggitt points out that the timeline in https://github.com/openshift/origin/pull/11628#discussion_r86171874 is not actually guaranteed safe, because it's possible that the HostSubnets().Get() call at t=4 will hit an etcd that hasn't yet observed the deletion that occurred at t=3, which will then cause us to do the wrong thing. The fix for this is to keep a cache and act based on whether the HostS

[2016-11-02 19:23] ncdc commented on #11199
#11642 was superseded by #11709 which has merged, so this can be closed now

[2016-11-02 19:23] #11199 closed

[2016-11-02 19:37] dcbw commented on #11740
@danwinship instead of the internal cache, use NewEventQueueForStore()

[2016-11-02 21:53] gnufied commented on #11671
According to the tests, this e2e test is not failing there. It failed on:

[code]

The EmptyDir specs actually passed successfully:

[code]

[2016-11-02 21:56] gnufied commented on #11671
Also the podDisruption test is being discussed here - https://github.com/openshift/origin/issues/11114

[2016-11-02 21:56] #11671 closed

[2016-11-02 22:06] #11701 closed

[2016-11-02 22:07] #11728 closed

[2016-11-03 00:54] GrahamDumpleton opened #11744 "oc binary crashes due to panic"
The ``oc`` program panic'd and crashed.

[code]
##### Version

[code]

##### Steps To Reproduce

Run the command:

[code]

##### Current Result

Crashes as above.

##### Expected Result

Should create binary build.

##### Additional Information

The command works if drop the ``--strategy=source`` argument.

[2016-11-03 00:58] GrahamDumpleton commented on #11744
Appears to be a transient issue. I could replicate it a number of times, but when came back later to do a run with ``--loglevel=9`` it then would succeed.

[2016-11-03 01:03] GrahamDumpleton commented on #11744
This is on MacOS X, bit not Sierra.

[code]

[2016-11-03 02:45] wanghaoran1988 commented on #11736
I think we should follow the k8s [api conventions](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#http-status-codes)

[2016-11-03 02:45] GrahamDumpleton commented on #11744
Run where crashes and have logging enabled.

[code]

[2016-11-03 02:58] marun commented on #11707
The fix for this merged with #11613

[2016-11-03 02:58] #11707 closed

[2016-11-03 04:42] debianmaster opened #11745 "port-forward throwing error (socat[25241] E connect(3, AF=2 127.0.0.1:5858, 16): Connection refused)"
[provide a description of the issue]

##### Version
oc v1.3.1
kubernetes v1.3.0+52492b4
features: Basic-Auth

Server https://10.0.0.249:8443
openshift v1.3.1
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
[code]
Remote debug from IDE  on  5858

##### Current Result
[code]

##### Expected Result
I should be able to debug from visual studio

[2016-11-03 05:19] soltysh commented on #11057
Another occurrence https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/8093/consoleFull

[2016-11-03 10:15] mmilata commented on #11671
@gnufied apologies, I haven't noticed the PodDisruptionBudget failure.

Still, the issue here was that the tests got stuck after the EmptyDir test finished. It's not obvious from the logs, however you can see that the job ran 5+ hours. Could this be caused by the earlier failure?

[2016-11-03 11:19] danwinship commented on #9076
just saw it again, https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8230/consoleFull

[2016-11-03 11:27] danwinship commented on #9355
This was fixed by #11082 though there's now a different failure in "Services should serve a basic endpoint from pods"

[2016-11-03 11:27] #9355 closed

[2016-11-03 11:33] danwinship opened #11747 "flake: Services should serve a basic endpoint from pods"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8227/consoleFull

    • Failure [137.094 seconds]
    [k8s.io] Services
    /data/src/github.com/openshift/origin/vendor/k8s.io/kubernetes/test/e2e/framework/framework.go:793
      should serve a basic endpoint from pods [Conformance] [It]
      /data/src/github.com/openshift/origin/vendor/k8s.io/kubernetes/test/e2e/

[2016-11-03 12:38] soltysh opened #11748 "1.5 k8s rebase prereqs"
To simplify the next rebase here's a list of items that should be fixed first:

- [ ] - align storage layer  (https://github.com/openshift/origin/issues/10910)
- [ ] - removing all references to `kube/pkg/client/unversioned` client code

[2016-11-03 12:38] pweil- commented on #11747
bumped to p1 since all test flakes are now being started as a p1 for triage.

[2016-11-03 12:38] soltysh commented on #11748
@deads2k @liggitt @smarterclayton anything else?

[2016-11-03 12:38] soltysh commented on #11748
@mfojtik fyi

[2016-11-03 12:59] jupierce opened #11750 "e2e Flake: Probing container [It] should be restarted with a exec "cat /tmp/health" liveness probe [Conformance]"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8232/consoleFull

/data/src/github.com/openshift/origin/vendor/k8s.io/kubernetes/test/e2e/common/container_probe.go:373

[2016-11-03 13:25] kargakis commented on #11682
@bparees flakes should be marked as P1 until triaged by their owners

https://github.com/openshift/origin/issues/11661#issuecomment-257309445

[2016-11-03 13:31] csrwng commented on #11399
@the-destro are you still having an issue or is it ok to close this one?

[2016-11-03 13:46] stevekuznetsov commented on #10773
@DirectXMan12 What's the status of you looking into this? This is a very wide-spread flake in our queue right now.

[2016-11-03 13:50] dobbymoodge commented on #11735
Yeah, that shouldn't be happening...

[2016-11-03 13:53] danwinship commented on #11740
to clarify, this only causes problems if you delete a node and then immediately recreate it again faster than the etcds can sync up (which is not something you'd really have any reason to do), and afaik the bug has been around since 1.0

[2016-11-03 13:58] bparees commented on #11682
@kargakis and with 4 people hitting it in the last 18 hours, what's the justification for triaging it as a p2?

[2016-11-03 13:59] bparees commented on #11682
(I raised it because at the time it had been hit a bunch of times, and that was *before* the 4 new ones)

[2016-11-03 13:59] dobbymoodge commented on #11735
Actually nevermind, I think that's the right behavior - did it kick off a new test automatically or did you have to update the [test] comment?

[2016-11-03 14:01] kargakis commented on #11682
You can blame @mfojtik @liggitt for not merging https://github.com/openshift/origin/pull/11725 :)

[2016-11-03 14:03] mfojtik commented on #11682
@kargakis one fix at the time... :-)

[2016-11-03 14:03] knobunc commented on #11740
Tracking this with https://trello.com/c/B56OdzdS

Since it is has been that way since 1.0 and is too risky to fix at the moment, dropping the priority.

[2016-11-03 14:06] smarterclayton commented on #10773
@knobuc can you find someone to look at this since 1.5 is closing and solly has changed to land?

[2016-11-03 14:09] smarterclayton commented on #11736
Adding new error classes is usually the problem (200->500).  Returning a
more correct error is fine and appropriate.  Any internal error can be made
more specific

On Nov 2, 2016, at 1:25 PM, Jim Minter <notifications@github.com> wrote:

Following from #11077 <https://github.com/openshift/origin/pull/11077>,
Wang has pointed out the following at
https://bugzilla.redhat.com/show_bug.cgi?id=1373330

[2016-11-03 14:14] bparees commented on #11736
sounds good, thanks @smarterclayton

[2016-11-03 14:14] deads2k commented on #11170
@bparees It would be possible add an annotation to a role that indicates that reconciliation should not add additional bindings.  Doing this would allow this feature to work out of the box.  @liggitt feels strongly that this is the wrong approach and that instead we should require users (or ansible) to understand any new role we want bound to all subjects and require them to run an additional step

[2016-11-03 14:17] bparees commented on #11170
/me gets popcorn.

[2016-11-03 14:48] zaina opened #11752 "openshift_facts Error: Gather Cluster facts and set is_containerized if needed"
I'm trying to upgrade an existing Origin cluster composed of RHEL7 Openstack VMs, but I'm getting this error on all nodes. Docker package is already installed and running. I tried setting containerized=false in the hosts file. Any ideas on what would be causing this?

##### Version
openshift origin v1.2.1

##### Steps To Reproduce
1. run v3_3/upgrade.yml playbook

##### Current Result
[code]

[2016-11-03 14:50] #11752 closed

[2016-11-03 15:00] #11682 closed

[2016-11-03 15:00] #11406 closed

[2016-11-03 15:27] bparees commented on #11744
@GrahamDumpleton oc version?

[2016-11-03 15:27] bparees commented on #11744
sorry, I see it's up there.

[2016-11-03 15:42] bparees commented on #11744
This seems like it should be a validation error anyway since you're not specifying a builder image, so you can't do an s2i build.

[2016-11-03 15:43] debianmaster commented on #11745
I'm trying to debug a nodejs application by forwarding the traffic from pod to localhost in this scenario

[2016-11-03 15:43] bparees commented on #11744
@GrahamDumpleton what did you actually expect the resulting buildconfig to do?  (not that i'm saying a panic is the right response, of course).

[2016-11-03 15:46] bparees commented on #11744
(works correctly if you specify a builder image to use:  oc new-build --name dunnies --binary --strategy=source centos)

marking p2 because the panic is ugly, but the invocation is invalid anyway.

[2016-11-03 15:47] danwinship commented on #11745
worksforme... can you run the node with --loglevel=5 and attach the logs (from when you first call "oc port-forward" until you make the failed connection attempt)

[2016-11-03 15:51] soltysh commented on #11565
https://github.com/openshift/origin/pull/11709 merged. I'm trying to cherry pick 35205 in https://github.com/openshift/origin/pull/11749, but that currently has quite a few tests issues. If those don't get addressed by tomorrow, we'll just go with what was introduced in the former.

[2016-11-03 15:52] danwinship commented on #11747
I'm not able to reproduce this locally...

FTR note that this is not an SDN error: it happens in the conformance test, using built-in kube networking.

[2016-11-03 16:12] mmilata commented on #10687
Closing this, as:
* implementing this feature likely out of scope, see discussion in #10952
* the issue where only the first line is read when using `--value` was fixed in #11539 (by removing support for comma separated values)

[2016-11-03 16:12] #10687 closed

[2016-11-03 16:17] danwinship commented on #10263
that test no longer exists

[2016-11-03 16:17] #10263 closed

[2016-11-03 16:22] csrwng commented on #7787
Closing due to age, please reopen if new info available.

[2016-11-03 16:22] #7787 closed

[2016-11-03 17:13] debianmaster commented on #11745
sorry silly mistake     my package json had
`node server.js --debug=5858`
instead of
`node --debug=5858  server.js `

i will try to compensate your time  for sure :)

closing this.

[2016-11-03 17:13] #11745 closed

[2016-11-03 17:13] csrwng opened #11755 "extended test flake: jenkins-plugin test imagestream SCM DSL failed"
Extended test failure:
[code]

[2016-11-03 17:14] csrwng commented on #11755
https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/730

[2016-11-03 17:32] pweil- commented on #11750
[code]

[2016-11-03 18:45] bparees commented on #11744
looks like maybe the intended behavior is for the --name argument to be used as the image since no other image was explicitly specified.  not sure i love that behavior.

[2016-11-03 18:50] csrwng commented on #11755
@jupierce @bparees Looks like the jenkins pod was killed with an OOM event

From the origin.log:
[code]

In the log of the pod itself, there's nothing indicating that it's out of memory:
https://gist.github.com/csrwng/98fea66d293e4ef7bcc75c778d8bae96

Is this an issue with how much memory we're assigning the pod?

[2016-11-03 18:56] thoraxe opened #11758 "oc new-project --as adds information to .kube/config which makes oc extremely slow"
when using "oc new-project --as" you end up creating entries in .kube/config for each --as user.

When creating 3 projects, it's not noticed. But when creating 100 user projects this way, by the 70th or 80th user things get really, really slow.

If you run "oc" with --loglevel=8 during this process you notice that all of the entries in .kube/config are being evaluated, which starts to slow down th

[2016-11-03 18:58] liggitt commented on #11758
creating a project switches your current context to that project

`--as` is not specific to the new-project command, it's a global option that makes the API requests use impersonation.

if you are batch creating projects, you should probably use `--skip-config-write`

[2016-11-03 18:58] #11758 closed

[2016-11-03 19:01] bparees commented on #11755
@csrwng is this jenkins coming from our standard template?  if so it's right on the edge of manageable, as @jupierce found during his investigation, but with the heap now set to 60% of the container memory, i would expect to see java OOMs, not actual native OOM kills.

[2016-11-03 19:30] #11043 closed

[2016-11-03 19:35] csrwng commented on #11755
It's jenkins from the modified template in the extended testdata files. But I don't think it's that diffent from the standard one. @derekwaynecarr do you know what kind of oom would generate the above messages?

[2016-11-03 20:14] thoraxe commented on #11758
OOOH thanks!

[2016-11-03 20:28] mvlach commented on #11186
We left the version 1.2.1 and moved to the 1.3.x. This version looks better :)

[2016-11-03 20:31] gabemontero commented on #11755
with @jupierce 's latest change the tests should no longer need the modified template; it instantiates the examples/jenkins/jenkins-ephemeral-template.json file now

[2016-11-03 20:42] thoraxe opened #11761 "during mass simultaneous build creations, Docker timeouts occur"
In my particular case, I am scheduling 100 builds simultaneously using a loop. In build logs I will see the following:

error: build error: timeout after waiting 1m0s for Docker to create container

It also seems to take builds quite a long time to move from Pending -> Running.

Out of 100 builds, 26 failed in this way (timeout after waiting). I have 6 m4.4xlarge nodes on EC2.

##### Version
oc v3

[2016-11-03 20:43] bparees commented on #11761
@jeremyeder I think we need some help from the performance team to understand why the docker daemon seems to become unresponsive(takes over a minute to response to a create container api call) in these conditions and whether there's anything we can do better.

[2016-11-03 20:43] mvlach opened #11762 "Deploy metrics - "401 Unauthorized", response: "Unauthorized""
Heapster cannot load statistics.

E1103 20:40:25.011250       1 kubelet.go:230] error while getting containers from Kubelet: failed to get all container stats from Kubelet URL "https://192.168.1.178:10250/stats/container/": request failed - "401 Unauthorized", response: "Unauthorized"

I tried to add the cluster-admin role, but without success.

##### Version
oc v1.3.0
kubernetes v1.3.0+52492b4
fe

[2016-11-03 20:50] liggitt commented on #11762
the right `who-can` query is `oadm policy who-can get nodes/stats --all-namespaces`

can you double check which service account the heapster pod is running as?

[2016-11-03 20:51] mvlach commented on #11762
[code]

[2016-11-03 20:52] mvlach commented on #11762
@liggitt  "can you double check which service account the heapster pod is running as?" - how to do it please :)

[2016-11-03 20:53] liggitt commented on #11762
`oc get pods -n openshift-infra`, find the heapster pod, then `oc get pod -n openshift-infra <heapster-pod-name> -o yaml` and see the service account name

[2016-11-03 20:55] mvlach commented on #11762
[code]

[2016-11-03 20:56] mvlach commented on #11762
[code]
It is correct ?

[2016-11-03 21:00] mvlach commented on #11762
Should it correlate ?

[code]

[2016-11-03 21:00] liggitt commented on #11762
Yes. Did you just upgrade from an older version manually? If so, you need to reconcile cluster roles (`oadm policy reconcile-cluster-roles --confirm -o name`)

[2016-11-03 21:02] mvlach commented on #11762
Yes - I did.

This is only applicable on the master nodes, isn't ?

[2016-11-03 21:12] mvlach commented on #11762
It looks like it is working. Thanks very much

[2016-11-03 21:12] #11762 closed

[2016-11-03 21:26] csrwng commented on #11755
Ahh ok, then that's what we're using :-)

[2016-11-03 21:31] GrahamDumpleton commented on #11744
You are correct that the image name was left off by mistake, but still shouldn't crash which is the point of the report.

Even so, the message displayed before the crash is also misleading anyway. That is, it still said:

[code]

This implies it would have gone on to create something, but what?

If you leave off the ``--strategy=source`` option it will default to ``docker`` build strategy and set

[2016-11-03 21:34] mvlach opened #11764 "No metrics on the left side"
There are no pod metrics rendered on the left side.

The metric are available on the Metric tab
![image](https://cloud.githubusercontent.com/assets/6176546/19985976/4887c8a4-a215-11e6-8bb1-b5397fb1fe51.png)

but not overview
![image](https://cloud.githubusercontent.com/assets/6176546/19985999/5d3dbe2a-a215-11e6-8fdb-c6998a7f22e1.png)

I found one request which returns "no data".

![image](https://

[2016-11-03 21:38] mvlach commented on #11764
I don't fully understand why, but it is problem with browser. I'm using Chrome on mac and when I visit this page with Internet Explorer, the metrics are visible.

[2016-11-03 21:46] #11640 closed

[2016-11-03 21:51] jupierce commented on #11755
I'm going to venture that we are still playing with fire with 512G Jenkins profiles -- even with the heap change. Unless cgroups have been extensively tested with embedded systems (embedded Java systems, at that), the amount of free memory we are dealing with is a rounding error in most environments.
Options that come to mind:
1. We can get approval to run 1GB Jenkins profiles everywhere.
2. We ca

[2016-11-03 22:09] copejon commented on #7311
@jayunit100 Do you remember how to reproduce this?  I'd like to dig into it but only just getting familiar w/ testing in origin

[2016-11-04 02:58] bparees commented on #11755
with a 60% heap setting that means we've got 200megs for native memory (which should be the only thing we'd be using that could cause an OOM kill).  i'm a little surprised we'd be chewing up that much native memory but it seems like it would be worth trying to gather some metrics from the pod...  maybe we can run jenkins w/ a background process the records native memory usage to stdout so we can s

[2016-11-04 04:28] smarterclayton commented on #11310
We need to move people to using `drain` and deprecate and remove --evacuate.

[2016-11-04 05:11] smarterclayton opened #11765 "Get output for templates with newlines in their descriptions is broken"
[code]

The "WARNING" lines are broken.  The printer for templates should trim on newline.

[2016-11-04 05:12] smarterclayton opened #11766 "jenkins template message is wrong"
Jenkins pipeline example description says:

[code]

but that is not the case in 1.4.0-alpha.1

[2016-11-04 05:14] smarterclayton opened #11767 "Printing the value of the router certificate in oc status is a security leak"
Running oc status after creating a sample app.

[code]

First, I didn't set that cert, so I shouldn't be seeing the value of it.  Second, we shouldn't be printing this value because it's a potential security leak (someone can screenshot it over my shoulder).  Third, it's way too much text.

The validation message should probably not include the current value for certificates.

[2016-11-04 05:15] smarterclayton commented on #11767
@ramr not sure who added this.

[2016-11-04 05:16] smarterclayton commented on #11767
@liggitt for security as well.

[2016-11-04 05:19] ganrad commented on #11342
Hi, no I don't think so.  I can see the node status (oc get nodes) is 'ready'.  Only when I try to issue the 'oadm registry...' command, I see a whole bunch of errors in the Origin console output (pasted above).  I haven't started Origin on my VM for a couple of days. Will fire it up again tomorrow and troubleshoot this some more.  Any help would be much appreciated.  Thanks.

[2016-11-04 08:44] priyanka5 opened #11770 "could not deploy registry pod"
I am installing origin 1.3.0 on centos 7.1 using ansible, but keep getting this in registry and router pod:

error: couldn't get deployment docker-registry-1: Get https://172.30.0.1:443/api/v1/namespaces/default/replicationcontrollers/docker-registry-1: dial tcp 172.30.0.1:443: ockopt: no route to host

##### Version
oc v1.3.1
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

[2016-11-04 08:56] mvlach commented on #11764
Today it is working, maybe some cache....

[2016-11-04 08:56] #11764 closed

[2016-11-04 09:34] ramr commented on #11767
Already fixed as part of #11716 review comments.

[2016-11-04 11:02] ricardohmon commented on #11601
Any news about this?

I ran into the same issue on Fedora 24 and Docker 1.12.3

OC version:

oc v1.4.0-alpha.1+9c565ab-8
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.1.108:8443
openshift v1.4.0-alpha.1+9c565ab-8
kubernetes v1.4.0+776c994

[2016-11-04 11:14] gabemontero commented on #11755
On Thursday, November 3, 2016, Ben Parees <notifications@github.com> wrote:

+1 I advocated this last go around as well

[2016-11-04 11:16] jorgemoralespou commented on #11606
@csrwng any update on this? Now that oc client 1.4.alpha.1 is out I expect more people filing due to this bug.

I have updated my docker client to latestand also factory resetted, to use overlayfs2, but still same issue:

[code]

[code]

[2016-11-04 11:20] jorgemoralespou commented on #11606
Siwtched back to 1.3.0 but using same docker in my mac and same images works, so problem is in "oc client".

[code]

[2016-11-04 11:26] jorgemoralespou commented on #11651
@csrwng @bparees yes, the ip issue with cert is really problematic and likely the cause.

That's why we (EVG) try to always be prescriptive on the ip (either 127.0.0.1 or a virtual loopback IP created on the host) so changing from network to network should not matter.

Then, the problem is that if you want to keep profiles, like we do (in oc-cluster wrapper script) then we might find that there's

[2016-11-04 11:36] liggitt commented on #11702
matches upstream, so I think we should leave this at v1.2

[2016-11-04 11:36] #11702 closed

[2016-11-04 11:45] jeremyeder commented on #11761
Ack -- @thoraxe can you share how you're triggering this please?  The exact reproducer including any images used.

[2016-11-04 12:38] jsafrane opened #11771 "Extended.[k8s.io] Services should serve multiport endpoints from pods [Conformance]"
see https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8246/consoleFull for full logs

[code]

[2016-11-04 12:49] knobunc commented on #11770
It looks like you kubernetes service is not working correctly.

Please run the debug.sh script referenced here:
  https://docs.openshift.org/latest/admin_guide/sdn_troubleshooting.html#further-help

And get me the resulting tar.

[2016-11-04 12:57] knobunc commented on #10773
Latest error was:

[code]

So it doesn't even get the pods up in 1 minute...

[2016-11-04 13:01] knobunc commented on #11649
Resolved by #11713

[2016-11-04 13:01] jupierce commented on #11755
I'm definitely +1 for more evaluation because I don't like to speculate. Just cautioning that I don't believe this will yield to simple monitoring (i.e. there is something else happening here with Linux buffers/caches that we have limited tools in this environment to effectively isolate).

[2016-11-04 13:03] kargakis opened #11772 "FAIL: TestTriggers_configChange"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8159/consoleFull#-94697474756bf4006e4b05b79524e5923

From the logs it seems that the test config was reconciled 20 times in one second which made the retry we already have for conflicts (max 5 retries) to blow up.

cc: @mfojtik @smarterclayton

[2016-11-04 13:10] gabemontero commented on #11755
On Fri, Nov 4, 2016 at 9:01 AM, Justin Pierce <notifications@github.com>
wrote:

Good point.  Minimally having the simpler form of monitoring baked into our
extended test here though would at least (help) confirm that a more
esoteric situation like you describe is occurring.  Once we have that
proof, we could work with the appropriate folks to put together the
additional diagnostics needed.

[2016-11-04 13:26] legionus opened #11773 "Imagestreamimport API regression"
The `imagestreamimport` needs to properly handle `*` as DockerImage name. The problem is that after refactoring `ParseDockerImageReference` the `*` is no longer valid name. Clients use this character to look up Docker images.

https://github.com/openshift/origin/pull/11440#issuecomment-258346246

[2016-11-04 13:40] bparees opened #11775 "[networking][router] openshift routers override the route host with a custom value flake"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8302/consoleFull#46994394856cbb9a5e4b02b88ae8c2f77

[2016-11-04 13:42] bparees opened #11776 "should be able to retrieve and filter logs flake"
[code]

[2016-11-04 13:53] bparees commented on #6236
@php-coder there's nothing devex specific about this, no reason you can't continue to own it.

[2016-11-04 13:56] bparees commented on #4199
trello'd https://trello.com/c/SAvLJLLl

[2016-11-04 13:56] #4199 closed

[2016-11-04 14:02] knobunc commented on #11775
Looking back a hair more:

[code]

The "INFO: Waiting up to 1m0s for all nodes to be ready" string seems to be the culprit, and that is common to many other flakes:
  https://github.com/openshift/origin/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20Waiting%20up%20to%201m0s%20for%20all%20nodes%20to%20be%20ready

[2016-11-04 14:13] thoraxe commented on #11761
Assuming you already have the projects created:

[code]

simple-java-s2i is a builder imagestream definition as follows:

[code]

The builder image is already cached on every node in the environment.

There are already several pods running on each node -- probably about 10 -- that are all the same image: docker.io/openshiftdemos/parksmap:0.4

[2016-11-04 14:13] jupierce opened #11777 "[flake] test/extended/conformance.sh:54: `return $out` exited with status 1"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8312/console

The conformance tests seem to pass, but the shell script still reports an error.

[code]

[2016-11-04 14:16] jupierce commented on #11735
Responded out of band in IRC. For posterity: no -- the test did not automatically restart. They had an opportunity to do so overnight, but I manually ran [test] the next day.

[2016-11-04 14:22] csrwng commented on #11755
We likely have that data from cadvisor already ... we should be able to just dump it when an error occurs

[2016-11-04 14:24] bparees commented on #10249
evidently hasn't recurred in forever. closing.

[2016-11-04 14:24] #10249 closed

[2016-11-04 14:28] jeremyeder commented on #11761
Thank you.  What specific version of docker were you running, and what instance size/hardware/resources were available on the nodes where docker is building?

[2016-11-04 14:31] jayunit100 commented on #7311
hmmm this is sufficiently old that we should close itt

[2016-11-04 14:31] #7311 closed

[2016-11-04 14:34] jayunit100 commented on #7311
@copejon

- test/extended: that wraps upstreams test/e2e suite, so look in vendor/src/k8s.io/kubernetes ... in order to see how the tests run ,

extended.test is the equivalent binary to upstream e2e.test

[2016-11-04 14:34] dobbymoodge commented on #11735
FWIW I haven't been able to reproduce this; my attempts lead to the test being re-kicked the next time the merge queue is processed.

If anyone spots this flake, please let me know right away so I can review the process_pull_requests logs before they're rotated out.

[2016-11-04 14:47] jupierce commented on #11755
@csrwng Sounds promising, but #4143 makes it sound like it might take some work to extract.

[2016-11-04 14:54] jim-minter commented on #11606
@jorgemoralespou please could you e-mail me the output of the command you're running with --loglevel=5 set?

[2016-11-04 14:56] csrwng commented on #11755
@jupierce my understanding is we could get the data by hitting an endpoint on the etcd server ... will play with it today

[2016-11-04 15:15] bparees commented on #11766
@smarterclayton what are you running?  that's been updated already:
https://github.com/openshift/origin/blob/master/examples/jenkins/jenkins-persistent-template.json#L14
https://github.com/openshift/origin/blob/master/examples/jenkins/jenkins-ephemeral-template.json#L14

[2016-11-04 15:15] #11766 closed

[2016-11-04 15:57] joekohut opened #11782 "docker push throwing error 500"
With latest atomic registry build -
Getting error 500 while trying to push an image:

##### Version
oc v1.4.0-alpha.1+9c565ab-8
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://localhost:8443
openshift v1.4.0-alpha.1+9c565ab-8
kubernetes v1.4.0+776c994

##### Steps To Reproduce
docker login using token issued from https://myregistry:9090 site
docker tag -f dock

[2016-11-04 17:02] csrwng commented on #11755
actually, not the etcd server ... the kubelet. This gets me a dump of metrics data on my server:
[code]

[2016-11-04 17:22] timothysc commented on #11565
Closing, thanks for the update!

[2016-11-04 17:22] #11565 closed

[2016-11-04 17:35] ncdc commented on #11782
Please pastebin/gist the logs from your docker-registry pod. Thanks!

[2016-11-04 17:50] pweil- commented on #11777
looks like a problem with the sudo command?  @stevekuznetsov maybe you can take a look?

[2016-11-04 17:53] ncdc commented on #11584
https://github.com/kubernetes/kubernetes/pull/36248

[2016-11-04 17:59] stevekuznetsov commented on #11777
Hmm... the stacktrace seems wrong. Weird. At `test/extended/setup.sh:54` (not `conformance.sh`) we see the failure line:
[code]

Something failed _before_ the cleanup step here.

[2016-11-04 18:01] stevekuznetsov commented on #11777
Oh, we are trying to call some k8s logger:
[code]

@bparees do we want the logger or not?

[2016-11-04 18:04] the-destro commented on #11399
I guess close for now. It is not a great user experience but I can write some wrappers around it to make sure everything works correctly

[2016-11-04 18:18] joekohut commented on #11782
those tools are blocked for me.

how's this:
[atomic-registry.docker.txt](https://github.com/openshift/origin/files/572340/atomic-registry.docker.txt)

[2016-11-04 18:22] ncdc commented on #11782
`error creating ImageStreamMapping: User \"system:anonymous\" cannot create imagestreammappings in project \"hello\"`.

Looks like your `docker login` didn't work?

[2016-11-04 18:30] bparees commented on #11777
what is it dumping the logs of?

[2016-11-04 18:30] bparees commented on #11777
and is this a flake? doesn't sound like one.

[2016-11-04 18:32] stevekuznetsov commented on #11777
I have no clue. Sounds like we can get rid of it.

I guess it depends on how you define flake.. this is a non-test failure that kills the job when all tests have passed.

[2016-11-04 18:37] stevekuznetsov commented on #11777
The script is being called by an upstream k8s extended test:
[code]

@derekwaynecarr could you please assign this?

[2016-11-04 18:58] joekohut commented on #11782
It certainly did - I used the token -
docker login -p D8XMbgJqSlur-CkCLvEAEay3wpkM6-7nx5iWpZPui1k -e unused -u unused myregistry.mydomain.com:5000
WARNING: login credentials saved in /root/.docker/config.json
Login Succeeded

[2016-11-04 19:01] ncdc commented on #11782
What does `oc project` print out?

[2016-11-04 19:28] liggitt commented on #11782
imagestreammappings are created using the registry's client... how is the registry starting up?

[2016-11-04 19:28] ncdc commented on #11782
Oh, right... So it sounds like the registry is misconfigured.

[2016-11-04 19:28] ncdc commented on #11782
Note this is atomic registry

[2016-11-04 19:58] joekohut commented on #11782
I don't know why it states ImageStream - I created a "new project" only.
Yes, it is atomic-registry.
Version
oc v1.4.0-alpha.1+9c565ab-8

[2016-11-04 20:02] ncdc commented on #11782
We manage image streams under the covers for you. When you push, you're pushing to an image stream. The act of pushing is actually creating an ImageStreamMapping resource, and that's what's failing. It appears that your registry is not properly authenticating to the master. Did you get any errors when you installed the registry? Did you change the configuration post installation in any way? Reinst

[2016-11-04 20:33] joekohut commented on #11782
This is all bare bones, which is why I am posting here ...
atomic install projectatomic/atomic-registry-install myregistry.mydomain.com
sudo systemctl enable --now atomic-registry-master.service
sudo /var/run/setup-atomic-registry.sh
goto port 9090
create project hello
scrape docker login line
docker tag
docker push
ERROR 500

[2016-11-04 20:54] liggitt opened #11794 ""unkeyable object" in sentry"
https://sentry.io/red-hat/openshift-3-dev-preview-int/issues/176887281/events/4583320669/

7k instances so far

[code]

not sure the source... maybe build based on some of the attempted key values

@deads2k @bparees

[2016-11-04 20:55] liggitt commented on #11794
p1 until triaged based on instance count

[2016-11-04 21:00] bparees commented on #11794
looks similar to this? https://github.com/openshift/origin/issues/9830

which was fixed here:
https://github.com/openshift/origin/pull/10581

possible online doesn't have this fix yet?

[2016-11-04 21:06] liggitt commented on #11794
online is on 3.4.0.21, and git says that fix is in it:
[code]

[2016-11-04 21:23] bparees commented on #11794
[code]

would seem to point to the sdn?

[2016-11-04 21:26] liggitt commented on #11794
totally missed that, yup.

[2016-11-04 21:30] bparees commented on #11794
the fix i referenced above may be relevant to the issue in the sdn eventqueue implementation.

[2016-11-04 21:32] smarterclayton commented on #11766
Ah, it was the embedded template from oc 1.3.0

On Fri, Nov 4, 2016 at 11:15 AM, Ben Parees <notifications@github.com>
wrote:

[2016-11-04 21:35] jupierce commented on #11755
That is an impressive amount of information, but it seems like we are still missing some key values (e.g. RSS of Java process). Perhaps we could doing something like PR #11795 ?

[2016-11-04 22:04] thoraxe commented on #11761
Docker version: 1.10.3-57.el7

Not sure how to answer the second part of your question. I've already said these were m4.4xlarge EC2 instances.

They are using the lvm docker-storage-setup stuff and that volume was an EBS with "standard" storage type.

[2016-11-05 01:45] #8922 closed

[2016-11-05 09:44] mffiedler commented on #11761
cf.  https://bugzilla.redhat.com/show_bug.cgi?id=1324180

We are seeing this much less frequently or not at all in 3.4 + Docker 1.12.x  /cc: @vikaslaad

[2016-11-05 11:13] #11399 closed

[2016-11-05 14:59] mvlach opened #11796 "Question: Share git credentials for all projects and all builder accounts"
Everytime the project is created I have to create id_rsa secret and link them to the builder service account. Is there any posibility to register this secret globally and link them to the all existing and new builder accounts ?

[2016-11-05 16:14] vikaslaad commented on #11761
In 3.3 concurrent builds failure were 25-30% with 40 concurrent builds (1 master, 1 infra and 2 nodes), initial testing of 3.4 + Docker 1.12.x shows no failure with 40 concurrent builds.

[2016-11-05 18:58] jorgemoralespou commented on #11606
@jim-minter Added into a gist for public reference.

You can find the output of the command using oc client versions 1.3 which is fine and 1.4 which is not working.

Same laptop, same install, same everything except the oc client.

https://gist.github.com/jorgemoralespou/89f2d7ecd9b8e36055de8819e6f94de9

[2016-11-06 15:00] bhalothia commented on #9487
@csrwng I'm still facing this issue intermittently with Docker for Mac.

`➜  ~ oc version
oc v1.3.0
kubernetes v1.3.0+52492b4
features: Basic-Auth
Unable to connect to the server: EOF
➜  ~ docker -v
Docker version 1.12.1, build 6f9534c
➜  ~ oc cluster up
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing OpenShift contain

[2016-11-06 15:04] bhalothia commented on #9487
@csrwng It seems socat was still running on 8443. I killed the process and now it's working as expected.

➜  ~ lsof -i :8443
COMMAND PID      USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME
socat   752 bhalothia    5u  IPv4 0xb86c8fe9cd37b973      0t0  TCP *:pcsync-https (LISTEN)
➜  ~ kill -9 752
➜  ~ oc cluster up
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Chec

[2016-11-06 17:17] bparees commented on #6347
Having had some more time to mull this over, i'm not convinced the current behavior is wrong.  New-app is designed around the openshift experience, which includes setting up imagestreams for your docker images and having your builds reference imagestreams/be triggered by imagestream changes.

What you are describing sounds like an advanced use case at which point a user can setup their own buildco

[2016-11-06 17:17] #6347 closed

[2016-11-06 17:19] bparees commented on #6347
(a few more thoughts on this:   I think it will only lead to more confusion on the part of users as to why sometimes they get an imagestream and other times they do not.  new-app has enough "magic" behavior and i'd rather not add more.  Also in the year since the original issue was opened, no one else has raised a concern about the current behavior.)

[2016-11-06 22:04] jdalton opened #11797 "Node 0.10 is EOL."
I noticed that openshift [supports Node.js applications](https://developers.openshift.com/languages/nodejs/).
Unfortunately it stats that it supports  nodejs-0.10 which is EOL.

For upgrading the [latest LTS](https://github.com/nodejs/LTS) is Node 6.

[2016-11-06 22:38] PI-Victor commented on #11797
@jdalton i think you want the other version of openshift. this repo's for the v3.
not sure 100% but i think you can open an issue at: https://github.com/openshift/origin-server

[2016-11-06 22:47] jdalton commented on #11797
Thanks, moved to https://github.com/openshift/origin-server/issues/6429.

[2016-11-06 22:47] #11797 closed

[2016-11-07 08:27] mfojtik opened #11799 "test/end-to-end/core.sh:423: executing 'oc logs dc/frontend' expecting success and text 'Connecting to production database':"
The error is:

[code]

Full log: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/8124/consoleFull#16575899455762928fe4b031e1b25ced2a

[2016-11-07 08:43] rudijs opened #11801 "oc rsh encryption"
Hi,

We've had an external security review and one of the items highlighted was 'oc rsh':

` Traffic sent between an rsh client and rsh server is unencrypted, meaning it is susceptible to eavesdropping`

I'm pretty sure 'oc rsh'  is tunneled through TLS, but I'm not able yet to find that clearly documented (so I can link to it in my follow up report on this advisory)

Is the security or encryption

[2016-11-07 09:07] mfojtik commented on #11310
@smarterclayton PR opened.

[2016-11-07 09:07] mfojtik commented on #11309
@soltysh closing as dupe of https://github.com/openshift/origin/issues/11310

[2016-11-07 09:07] #11309 closed

[2016-11-07 09:08] mfojtik commented on #11225
We need to pick up https://github.com/kubernetes/kubernetes/pull/31220 with the rebase first.

[2016-11-07 09:35] kargakis commented on #11799
Should be fixed by https://github.com/openshift/origin/pull/11725

[2016-11-07 09:35] #11799 closed

[2016-11-07 10:13] #11573 closed

[2016-11-07 10:58] alikhajeh1 opened #11806 "Getting latest security updates in Docker and Kubernetes"
This isn't a bug report, more of a question around best practices:
1. Installing Origin 1.3 via openshift-ansible installs docker 1.10.3, should we be updating to the latest docker version post-ansible to pickup the latest security fixes? and continually update docker when new security updates are released or are there restrictions on which docker versions Origin works with?
2. Are security update

[2016-11-07 12:11] #11310 closed

[2016-11-07 12:14] priyanka5 commented on #11770
Hi @knobunc sorry for late reply . Please see the attached tar

[2016-11-07 13:31] jim-minter opened #11809 "State of examples/data-population"
It's not clear what the purpose of examples/data-population is, or that what is there currently works with the latest tree.  Example: if I run populate.sh, my events fill up with "Error creating: pods "app-X-1-build" is forbidden: failed quota: quota: must specify memory"

It would be good to document the purpose of the example, add some testing to ensure it is behaving as specified, or remove it.

[2016-11-07 13:40] knobunc commented on #11794
This is bug 1389770 [link](https://bugzilla.redhat.com/show_bug.cgi?id=1389770)

PR is open https://github.com/openshift/origin/pull/11792

[2016-11-07 13:51] knobunc commented on #11770
bbennett@redhat.com  Thanks

[2016-11-07 14:03] ianmiell commented on #11809
Also: if you have other scripts you prefer to use, please point me at them :)

[2016-11-07 14:15] ncdc commented on #11782
I installed Atomic Registry and was able to follow your steps and push. Can you paste the output of `docker inspect atomic-registry`?

[2016-11-07 14:51] pweil- commented on #11809
@mfojtik are these useful anymore?

[2016-11-07 15:22] bparees commented on #11796
Not at present, no.

[2016-11-07 15:22] #11796 closed

[2016-11-07 15:34] joekohut commented on #11782
[atomic-registry.inspect.txt](https://github.com/openshift/origin/files/575762/atomic-registry.inspect.txt)

[2016-11-07 15:37] ncdc commented on #11782
Ok it looks like you're running into a similar issue that I encountered. Can you edit /etc/sysconfig/atomic-registry and add the line

[code]

Once you've done that, restart atomic-registry and see if that works any better. If it does not, could you please verify that /etc/atomic-registry/serviceaccount has files in it?

[2016-11-07 15:56] joekohut commented on #11782
Please share an example.

DOCKER_REGISTRY_SERVICE_HOST=<url of your registry>

 I tried  DOCKER_REGISTRY_SERVICE_HOST=myhost as well as DOCKER_REGISTRY_SERVICE_HOST=https://myhost:5000
and observe no change after restarting each time.

FROM THE HOST:
ls /etc/atomic-registry/serviceaccount
ca.crt  namespace  README  service-ca.crt  token

[2016-11-07 15:56] joekohut commented on #11782
Please share an example.

DOCKER_REGISTRY_SERVICE_HOST=<url of your registry>

I tried  DOCKER_REGISTRY_SERVICE_HOST=myhost as well as DOCKER_REGISTRY_SERVICE_HOST=https://myhost:5000
and observe no change after restarting each time.

FROM THE HOST:
ls /etc/atomic-registry/serviceaccount
ca.crt  namespace  README  service-ca.crt  token

From: Andy Goldstein [mailto:notifications@github.com]
Sent:

[2016-11-07 15:57] ncdc commented on #11782
myregistry.mydomain.com

[2016-11-07 16:09] joekohut commented on #11782
Unfortunately, the FQDN entry did not help.

As an aside, here is a snippet from atomic-registry-master log:

I1107 15:51:47.969149       1 master.go:392] Started Origin API at 0.0.0.0:8443/oapi/v1
I1107 15:51:47.969155       1 master.go:392] Started OAuth2 API at 0.0.0.0:8443/oauth
I1107 15:51:47.969161       1 master.go:392] Started Web Console 0.0.0.0:8443/console/
I1107 15:51:47.969167       1

[2016-11-07 16:10] ncdc commented on #11801
If your master and nodes are secured with certificates, then `oc rsh` is secured. If your masters/nodes allow insecure connections, then it's possible that `oc rsh` is unencrypted. But our default setup is to use certificates and encrypt communications.

[2016-11-07 16:10] ncdc commented on #11782
Ok, I'll have to turn this over to @legionus for further assistance.

[2016-11-07 16:12] joekohut commented on #11782
Thank you for looking at this issue.

[2016-11-07 16:21] #11584 closed

[2016-11-07 17:21] cameronbrunner commented on #9833
@enlinxu Navops Command respects the annotation as does the default scheduler included in OpenShift.  By having a value specified other than 'default' the default scheduler ignores it.  When running Navops Command we typically use the default scheduler to manage Navops Command since it runs as a pod inside of OpenShift and then annotate the pods we wish command to scheduler.  With the enhancement

[2016-11-07 17:23] cameronbrunner commented on #9833
The PR @smarterclayton and I referenced regarding the configuration of the default scheduler

https://github.com/openshift/origin/pull/10064

[2016-11-07 18:31] jwforres commented on #1977
closing this in favor of the UXD R&D trello story https://trello.com/c/iAbEy9X8

[2016-11-07 18:31] #1977 closed

[2016-11-07 18:46] ncdc commented on #8427
This was fixed in the 7.3 kernel, right?

[2016-11-07 18:48] mrunalp commented on #8427
Yes the fix is in the 7.3 kernel. If we saw the latest instance on 7.3 then I will follow up with kernel team.

[2016-11-07 18:49] ncdc commented on #8427
I was more asking in hopes of being able to close this now :-)

[2016-11-07 18:50] mrunalp commented on #8427
Oh okay :) maybe close now and we could reopen if necessary?

[2016-11-07 18:51] ncdc commented on #8427
SGTM.

[2016-11-07 19:01] jwforres commented on #2568
We have the Date header being returned by the API now and it is correctly allowed through the CORS security

[2016-11-07 19:08] jwforres commented on #2656
I don't think this is something that is going to be implemented as part of origin.  If someone wants to go write an extension that does this and needs an extension point to plug into, then a request can be opened in the origin-web-console repo for a new extension point.

[2016-11-07 19:08] #2656 closed

[2016-11-07 19:10] jwforres commented on #2957
@bparees is this being done at all today as part of the API or CLI?

[2016-11-07 20:13] knobunc commented on #11775
Can't reproduce and it's not happening after the initial flurry.  Dropping the priority.

[2016-11-07 20:30] ncdc commented on #11777
This is being invoked in the following places:

- test/extended/util/test.go#ExecuteTest, if `reportDir` is set, via a `defer` statement.
- vendor/k8s.io/kubernetes/test/e2e/e2e.go via a package-level variable as part of `ginkgo.SynchronizedAfterSuite`
- a few tests related to resizing the # of nodes

But the actual full method is this:

[code]

It doesn't return any errors or exit non-zero...

[2016-11-07 20:31] Conan-Kudo commented on #11670
Adding this variable manually in `/etc/sysconfig/atomic-registry` fixed the problem for me.

[2016-11-07 20:35] jwforres commented on #3834
I don't think we have any plans to do something like this. At some point we hope to show you a summary of what will be created by the template on the page after you pick the template.

[2016-11-07 20:35] #3834 closed

[2016-11-07 20:35] ncdc commented on #11777
Job 8312 actually failed because of this:

[code]

[2016-11-07 20:38] ncdc commented on #11777
This is not actually a flake or a bug. The PRs that have referenced this as the source of their failures actually failed for other reasons.

[2016-11-07 20:38] #11777 closed

[2016-11-07 20:39] jwforres commented on #4915
Need to consider what happens if they've chosen not to see the next steps page but the template they created has a post-processing message.

[2016-11-07 20:39] ncdc commented on #11777
Please do not reopen this. If you have trouble figuring out why something is flaking and you think it's this, please contact me and I'll help you determine the source of your flake.

[2016-11-07 20:42] jwforres commented on #5281
fixed

[2016-11-07 20:42] #5281 closed

[2016-11-07 20:44] bparees commented on #11777
ok but don't we still have an issue that when those tests fail, we aren't getting the logs we should get because the script doesn't exist?  are we going to fix that?

[2016-11-07 20:45] jwforres commented on #4918
This doesn't make sense anymore with the catalog redesign

[2016-11-07 20:45] #4918 closed

[2016-11-07 20:48] ncdc commented on #11777
@bparees in each PR linked to this flake, I was able to find the reason for the test failure in the jenkins console, and the s3 artifacts should contain everything else we need.... right?

[2016-11-07 20:49] jwforres commented on #5979
@juanvallejo while we are working on the service page we could do something about this issue.

You could update the routes section to something like a table with the route names, hostnames, and whether the route is accepting traffic.  @spadgett thoughts?

[2016-11-07 20:49] bparees commented on #2957
@jwforres if it's done anywhere, it might be done in oc status, @gabemontero would know, but it's not done in oc describe and it's definitely not part of the api.

[2016-11-07 20:50] bparees commented on #11777
i don't know, I assumed the dump logs script was dumping some container logs that would be of interest for debugging the test, but i'm not familiar w/ either the failing tests, or what the missing script actually does.

[2016-11-07 20:53] ncdc commented on #11777
It dumps logs for the kube components, kernel, docker, but no containers. I think what we're recording is mostly or entirely sufficient for now, except for truncation.

[2016-11-07 20:53] spadgett commented on #5979
+1, we might make the routes table from `app/views/browse/routes.html` a directive like we did for `pods-table`. Then we could reuse it here.

@juanvallejo see

https://github.com/spadgett/origin-web-console/blob/master/app/views/directives/pods-table.html
https://github.com/spadgett/origin-web-console/blob/c6dbf16e5584671d4d8c84343e890c5f3a9327cf/app/scripts/directives/resources.js#L161-L171
http

[2016-11-07 20:54] bparees commented on #11777
ok

[2016-11-07 20:59] ncdc commented on #11776
The test failure in 11763 was actually due to image pulling from gcr.io being too slow:

[code]

We might want to mark this as a dupe of #9444 (and retitle that one), and then actually finish the work to pre-pull images.

[2016-11-07 21:07] jwforres commented on #6174
Re-visiting this. Supporting the creation of multiple routes from the create from image workflow is complicating an already complicated workflow.  We make it easy enough to create another route for a service.

[2016-11-07 21:07] #6174 closed

[2016-11-07 21:12] jwforres commented on #6180
@bparees going through the backlog, do you feel like this issue should be closed?  I tend to agree that the UI detecting env var requirements and trying to generate ENV VARs on behalf of the user is going too far.

At best I could see us doing something like reading off a README type field from the image for when people use the Deploy Image page and we can show them that information.

[2016-11-07 21:15] jwforres commented on #6198
Realistically I don't know when we could get to this refactor, its a lot of effort with not a lot of gain compared to all of the other tech debt we have.  If we don't think this is going to happen in the next year, we should close this.  Personally I don't see it happening.

[2016-11-07 21:16] benjaminapetersen commented on #6198
Agree, this is pretty old :)

[2016-11-07 21:16] #6198 closed

[2016-11-07 21:17] jwforres commented on #6223
@rhcarvalho @php-coder do either of you still see this issue with hack/install-deps.sh in the new repo?  No one else has reported this problem.

[2016-11-07 21:18] jwforres commented on #6367
Closing this since the fix would have to be hacky.

[2016-11-07 21:18] #6367 closed

[2016-11-07 21:24] enj commented on #11208
So we don't support SOCKS proxies with `oc`, only HTTP proxies via the `HTTPS_PROXY` environment variable.  You may be able to do something like [this](http://unix.stackexchange.com/questions/71481/use-socks-proxy-for-commands-in-terminal) but I did not have luck with it locally.  Adding SOCKS proxy support would have to be an upstream PR to k8s.

[2016-11-07 21:26] rhcarvalho commented on #6223
I haven't tried recently. Anyway, I'm on Fedora 24 now, and this is just too old, closing it due to age. Thanks @jwforres.

[2016-11-07 21:26] #6223 closed

[2016-11-07 22:17] jwforres commented on #6017
We addressed a lot of these issues in a different way during 3.4, we could still consider whether the breadcrumb directive itself should read in the $routeParams and pass to the BreadcrumbsService to get the breadcrumbs if you don't pass a breadcrumbs object to the directive

[2016-11-07 23:02] danmcp commented on #11452
This seems to be happening about 1 out of every 3 runs.

[2016-11-08 00:31] bparees commented on #6180
yeah i think at this point we've bought in that templates and imagestreams are our mechanisms for layering metadata onto images.  Creating another set of metadata (at the image level) and expecting users to learn it and create images containing it seems unlikely.  I'd rather push harder at the template and imagestream level.

Otherwise we're going to create yet another experience where the UI look

[2016-11-08 00:31] #6180 closed

[2016-11-08 05:45] rudijs commented on #11801
OK great.

I've also done a wireshark packet capture and can see dest port 8443 is all encrypted.

Thanks!

[2016-11-08 05:45] #11801 closed

[2016-11-08 05:51] priyanka5 commented on #11770
@knobunc -  have send an email

[2016-11-08 07:08] erikauer commented on #11601
Same issue for me as well:

Installed openshift through docker:

[code]

After select image jenkins in openshift the deployment immediately breaks cause of  the error:

`error: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory`

openshift version:
[code]

OS:
`CentOS Linux release 7.2.1511 (Core) `

[2016-11-08 09:28] miminar commented on #11337
#11391 Fixes the issue. Nevertheless, distribution upstream consider our port forwarding as buggy: https://github.com/docker/distribution/pull/2008#issuecomment-254577993 :

The registry can deal with it with #11391 applied, nevertheless we should fix our router configuration as well. I'll reopen this against router.

[2016-11-08 09:39] marun commented on #11452
Do we want to start baking the dind images into the ami and having the default (minimal) networking job avoid building them?  The extended job should probably continue to build them.

Also, this seems like a pretty serious issue with fedora updates.  Is fedora aware of the problem?

[2016-11-08 09:48] miminar opened #11820 "Router forwards host urls without ports when serving on non-default ports"
With default haproxy router, if I expose registry on port `5000`, the router strips the port on each request from `Host` header.

When registry redirects the client as a response to POST request initiating blob upload, it will use just the url in `Host` header as a base for the value in `Location` header.

During the next client request, the `Location` will be used resulting in failure because por

[2016-11-08 09:50] miminar commented on #11337
A follow-up router issue for a reference: #11820

[2016-11-08 10:38] tommya24 opened #11823 "How to Hypnotize Yourself? – A Simple Self-Hypnosis Technique"
Do you know how to hypnotise yourself? If you master the techniques, you can do it at any time and in a very peaceful place so that you can help yourself to conquer many difficulties in your life such as quitting smoking, control your overeating habit, get rid of your fear, improve your sleep quality and relieve your stress.  Hypnotising yourself is easy. Here are some techniques and steps you can

[2016-11-08 10:38] tommya24 opened #11824 "Hypnosis For Sleep"
Do you suffer a sleeping disorder? You feel it very hard to fall asleep at night. If this is the case, you can try hypnotherapy to treat your difficulties. Actually, sleeping disorders are caused by stress and tension. Once your stress and tension are relieved from your mind, you won’t suffer any sleeping disorders.

The Effects of Hypnosis on Sleep

Hypnotherapy is to get a person into a trance s

[2016-11-08 10:39] tommya24 opened #11825 "Is Hypnosis Real or Fake?"
When hypnosis becomes a subject of discussion, some people doubt if it is real or fake and people feel it hard to distinguish it. However, according to both medical studies and clinical practices, hypnosis has been proven to be real and has been promoted and has become a very popular method to treat patients mental disorders such as insomnia, stress and anxiety; it is a totally pain free therapy a

[2016-11-08 10:39] tommya24 opened #11826 "Covert Hypnosis Techniques"
You might be aware of hypnosis because nowadays it is a very popular trend to cure some psychological and mental disorders. However, have you ever heard of convert hypnosis? What are the differences between traditional hypnosis and convert hypnosis?

In general, convert hypnosis is a form of conversation. One person performs hypnosis techniques on the other part without his/her knowledge. And the

[2016-11-08 10:39] tommya24 opened #11827 "he Ability to Hypnotize Someone isn’t Far Away!"
Let’s face it: from time to time, everyone has thought about the idea of how to hypnotize someone and become a hypnotist. It looks appealing and quite frankly it sounds appealing. Everyone is looking for unique and outside the box ways to make friends, keep friends, and catch the attention of the public. What better way to do that than by becoming a hypnotist? It is a tremendous conversation start

[2016-11-08 10:39] tommya24 opened #11828 "How To Hypnotize People Without Them Knowing"
A lot of people do not realize that it is possible to hypnotize someone without them knowing. Most people would think about circular mazes or pendulums when they think about hypnosis, but these instruments are not necessary. Experts would claim that most people are getting hypnotized several times each day, and most do not realize that they are being under the process. This article is going to cov

[2016-11-08 10:40] tommya24 opened #11829 "Hypnotize Someone A Beginners Guide"
Woody Harrelson played a talented street magician that used hypnosis to his advantage to bilk his marks out of all their spare cash. He would hypnotize the wife and then by using the power of observation would ask the husband questions to get incriminating information against him. He then requested a sizable payment from the husband to keep the information from the his wife. Sleazy? Yes! However t

[2016-11-08 10:40] tommya24 opened #11830 "How To Become A Hypnotist?"
Do you know why you want to become a hypnotherapist? Do you have your aim and objective towards becoming a hypnotherapist? Do you think that you are only curious about the techniques or do you want to practise the techniques on your own or help others solve psychological and mental disorders? Once you have convinced yourself, you can select a learning method. Keep in mind, you should always be hon

[2016-11-08 10:40] tommya24 opened #11831 "How to Hypnotize Someone Instantly?"
You might not believe that you can actually hypnotize someone instantly. The theory is very simple and highly possible. You don’t need to be very powerful and you just need to learn hypnosis techniques and understand and know how to apply them on a person who gives you permission to do so. It is not difficult at all but before doing it, you must believe hypnosis is real and it is not a magic trick

[2016-11-08 10:40] tommya24 opened #11832 "How to Hypnotize Someone Using Only Your Eyes"
Have you always wanted to learn how to hypnotize another person? Are you interested in hypnotizing another person for entertainment reasons or possibly as a part of a therapeutic experience you would like to offer potential clients? If you would like to learn how to hypnotize a person with only your eyes, practice makes perfect. Use the following steps and tips to learn how to hypnotize another pe

[2016-11-08 10:43] tommya24 commented on #11823
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:43] tommya24 commented on #11824
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:43] tommya24 commented on #11825
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11826
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11827
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11828
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11829
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11830
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11831
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 10:44] tommya24 commented on #11832
The Number One Home Study Hypnosis Course In The World!
http://puihei.cohypnosis.hop.clickbank.net

[2016-11-08 11:25] #11832 closed

[2016-11-08 11:26] #11824 closed

[2016-11-08 11:26] #11825 closed

[2016-11-08 11:26] #11826 closed

[2016-11-08 11:26] #11827 closed

[2016-11-08 11:27] #11831 closed

[2016-11-08 11:27] #11830 closed

[2016-11-08 11:27] #11829 closed

[2016-11-08 11:27] #11828 closed

[2016-11-08 11:27] #11823 closed

[2016-11-08 12:24] mfojtik commented on #9765
closing due to age.

[2016-11-08 12:24] #9765 closed

[2016-11-08 12:25] mfojtik commented on #11772
@kargakis do we want to bump the number of retries?

[2016-11-08 12:32] kargakis commented on #11772
20 resyncs in a second seem like a pathological case. The queue will rarely be empty and resyncs are unlikely to be popped that fast. It seems that this flake is a rare one so we don't really need to fix it now. I still need to get to reproduce this and understand why we had so many resyncs in such a short period of time.

[2016-11-08 13:11] knobunc commented on #11820
We are explicitly removing the port from the Host header.  @ramr @rajatchopra do you know why we want to do that?

[2016-11-08 13:22] pweil- commented on #11617
Currently a 3.4 blocker, is this going to make Friday?

@mfojtik FYI

[2016-11-08 13:23] pweil- commented on #8229
@deads2k - bump.  Currently a 3.4 blocker, will this make Friday or is this too risky?

@mfojtik FYI

[2016-11-08 13:24] deads2k commented on #8229
This is a long running effort.  No, it will not be resolved in 3.4 or 3.5.  Maybe 3.6.

[2016-11-08 13:39] #11794 closed

[2016-11-08 13:46] mfojtik commented on #11617
@pweil- @kargakis will have look

[2016-11-08 13:59] stevekuznetsov commented on #11452
Yes

Unclear

The easiest way to get the stuff baked in is to have build-base-images build the DIND ones as well. If we make that change it can go in whenever. If we want to reconfigure what goes into the ami on the vagrant side, it will have to wait for at least a week as the soonest we will update the plugin is post-3.4

[2016-11-08 14:40] mfojtik commented on #9490
bumping prio of this as this is no. 1 flake :-)

[2016-11-08 14:51] bparees commented on #9490
@mfojtik it's number one only because it's been around so long, if you look at the actual frequency with which it's hit, it's not very frequent (hasn't been seen in 15 days for instance).

Need to divide number of occurences by the age of the flake, to get at least a simplistic metric.

[2016-11-08 14:53] mfojtik commented on #9490
@bparees good idea :-) i will add that tonight to my flake reporter.

[2016-11-08 15:00] mfojtik commented on #11809
@derekwaynecarr @smarterclayton do we need examples/data-population?

[2016-11-08 15:03] mfojtik commented on #11806
@alikhajeh1 afaik old versions of Origin have problems running with Docker 1.12, but the latest version should work with 1.12 (our CI use that version of Docker atm.). @smarterclayton do we have any release docs/readme that highlights what versions of Docker are compatible with given version of Origin?

All security issues are applied to Origin immediately after they are fixed in Kubernetes and be

[2016-11-08 15:04] mfojtik commented on #11695
Assigning this back to @PI-Victor as he have PR out already.

[2016-11-08 15:18] gabemontero commented on #2957
[This](https://github.com/openshift/origin/blob/master/pkg/build/graph/analysis/bc.go#L79-L85) is what `oc status` provides.

At first blush I believe it covers what is in this issue's description.  But as alluded to, not part of the api.

[2016-11-08 15:46] liggitt commented on #11617
Not new in 3.4, not convinced it's a blocker. The fix *should* be small, but we might want more soak time.

[2016-11-08 15:54] harobed opened #11836 "Suggestion: append in `oc` a warning message if you use oc version < OpenShift server version"
I've lost many time with this mistake: http://lists.openshift.redhat.com/openshift-archives/users/2016-November/msg00071.html

« Your version of oc is too old. Your file works for me, when I use 1.3.0+, but I get the same error as you when using 1.2.0. »

Suggestion: append in `oc` a warning message if you use `oc` version < OpenShift server version.

[2016-11-08 16:08] stevekuznetsov opened #11837 "Dump etcdv3 contents in tests"
We're only getting stuff from etcdv2 right now.

/cc @deads2k

[2016-11-08 16:22] jayunit100 commented on #11565
Looks like checkServiceAffinity is still  > 1 commits behind, so , we wont be able to cleanly rebase it on to this one., wait till next rebase i guess.

[2016-11-08 16:35] jwforres commented on #6486
I don't see a warning that the BC has been deleted on the build page, so i think this is still an issue.

[2016-11-08 16:36] jwforres commented on #6638
we added the quota related warnings

[2016-11-08 16:36] #6638 closed

[2016-11-08 16:37] jwforres commented on #6721
this issue is pretty outdated at this point, especially now that we've got the Makefile and we just run most of our tests directly with grunt when running locally

[2016-11-08 16:37] #6721 closed

[2016-11-08 16:41] mfojtik commented on #11650
Not a 3.4 blocker, it does not happen often enough and the fix is just plumbing the tests to not use `--follow`

[2016-11-08 16:42] pweil- commented on #11170
bump @liggitt still a blocker for 1.4 and low enough risk to get in by Friday?

[2016-11-08 16:42] jwforres commented on #6997
actually im going to close this, having a legend is a requirement as part of this card https://trello.com/c/6s7TGjr3

[2016-11-08 16:42] #6997 closed

[2016-11-08 16:44] jwforres commented on #7036
Closing this issue, its a fairly significant effort for us to go do, it will be done as a story if we decide to ever do it.

[2016-11-08 16:44] #7036 closed

[2016-11-08 16:49] jwforres commented on #7077
I don't see us doing anything for images that are not part of an image stream.  Spamming the image import API just to get additional info about images that aren't coming from image streams seems like a bad idea.  @smarterclayton @mfojtik  ?

[2016-11-08 16:52] jwforres commented on #7095
@spadgett didn't you look at updating them and we decided the icons didn't display well at small sizes?

[2016-11-08 16:53] spadgett commented on #7095
That's right.

[2016-11-08 16:55] jwforres commented on #7421
@rhamilto was this fixed by the catalog updates?

[2016-11-08 16:59] jwforres commented on #7462
this was resolved when we switched to the KVE

[2016-11-08 16:59] #7462 closed

[2016-11-08 17:01] jwforres commented on #7577
it is unlikely we would add LABELS information to the overview, however if you are using imagestreams then the new image stream tag page added in 1.3 origin / 3.3 OCP shows the LABELS for that tag.

[2016-11-08 17:01] #7577 closed

[2016-11-08 17:05] jwforres commented on #7688
this was fixed in #8186

[2016-11-08 17:05] #7688 closed

[2016-11-08 17:10] jwforres commented on #7844
this was fixed

[2016-11-08 17:10] #7844 closed

[2016-11-08 17:10] mwringe commented on #7077
@jwforres a lot of the containers we ship don't have image streams associated with them, so this wont be useful to determine something from say our metric containers.

[2016-11-08 17:13] jwforres commented on #8014
Moving this to trello https://trello.com/c/NFhQawHD

[2016-11-08 17:13] #8014 closed

[2016-11-08 17:15] jwforres commented on #8421
looks like we fixed this in 3.3

[2016-11-08 17:15] #8421 closed

[2016-11-08 17:21] jwforres commented on #10016
I don't think we have any plans to do this from the web console.  You can easily create PVCs now as an end user and pick from storage classes. End users can't create PVs.

[2016-11-08 17:21] #10016 closed

[2016-11-08 17:23] #7095 closed

[2016-11-08 17:29] jwforres commented on #10096
consolidating this with this bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1386603

[2016-11-08 17:29] #10096 closed

[2016-11-08 17:31] #10180 closed

[2016-11-08 17:34] jwforres commented on #10294
@fabianofranz @juanvallejo did the CLI notifications end up going in as Warnings or as Info ?

[2016-11-08 17:36] jwforres commented on #10966
linking this discussion into the relevant trello card https://trello.com/c/6s7TGjr3

[2016-11-08 17:36] #10966 closed

[2016-11-08 17:39] gabemontero commented on #8980
@bparees a couple of quick thoughts:

1) We could switch the master-slave README to some minor instructions to explain how to update the existing `OpenShift Sample` job to run on the nodejs slave by checking `Restrict where this project can be run` and then specifying the Label `nodejs`; then delete all the other content - the templates, sample jobs, etc.  I just ran through the scenario manually

[2016-11-08 17:47] bparees commented on #8980
I think i like (1) best, because i'd like to keep the default sample job as simple as possible (at least in part because it's used by some of our tests too, so making it depend on slave pods makes it more fragile).

But doing that means we still haven't explained to users how to create their own slave images.  Perhaps the right solution for that is to add a tutorial section to the official product

[2016-11-08 18:00] jupierce opened #11841 "Short write during oc exec (long output) and oc rsh (long input & ouput)"
Attempting to cat the file https://gist.github.com/jupierce/c15f2ec12b6431f47eb6ae23a7519966
results in a consistent "short write" error from go.

v2.go:147] short write

##### Version
oc v1.4.0-alpha.0+567c5e1-854-dirty
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://192.168.1.103:8443
openshift v1.4.0-alpha.0
kubernetes v1.4.0-beta.3+d19513f

##### Steps To Reproduce
**To create f

[2016-11-08 18:12] deads2k commented on #10773
@ncdc You may have just found this one in your log.  Looks like https://github.com/openshift/origin/blob/master/pkg/unidling/controller/controller.go#L96 creates a fake List method, that when called will not return a valid resourceVersion for the reflector to use for its watch.

[2016-11-08 18:47] rhamilto commented on #7421
Yep.

![screen shot 2016-11-08 at 1 47 01 pm](https://cloud.githubusercontent.com/assets/895728/20112316/e985b28c-a5b9-11e6-9b39-5b0f682ef3fc.PNG)

[2016-11-08 18:50] #7421 closed

[2016-11-08 18:55] omajid opened #11842 "Support csproj files for identifying .NET Core projects"
(This is a heads up for something that will become an issue in the future)

OpenShift supports .NET Core images and relies on `project.json` files to [identify a project as .NET](https://github.com/openshift/origin/blob/85eb37b34f0657631592356d020cef5a58470f8e/pkg/generate/source/detector.go#L71). An upcoming version of .NET Core will switch from using `project.json` files to `${PROJECT_NAME}.cspr

[2016-11-08 19:12] ncdc commented on #10773
I can confirm in at least 1 jenkins failure for this flake that you see the unidling controller eventually repeatedly fails to watch Events with this:

[code]

Once that happens, unidling is busted...

[2016-11-08 19:19] ncdc commented on #10773
I have tried modifying the fake List function to return a resource version of "0" but that isn't helping. I'm still debugging this.

[2016-11-08 19:33] ramr commented on #11820
@knobunc @miminar one of the reasons we explicitly remove the port was to make path based routes to work (issue #8471) and also we did want `Host: x.y.com` and `Host: x.y.com:80` (or `:443`) to use the same cookies/backends. That said I can see this being an issue - maybe a config knob to do/not do it (default do it) would help here?

[2016-11-08 19:53] juanvallejo commented on #10294
@jwforres The liveness probe warnings ended up going in [as Warnings](https://github.com/openshift/origin/pull/10363/files#diff-5e2cc6c782846b03614c62e3d4d53d66R103) to match the severity of readiness probes

[2016-11-08 20:08] liggitt commented on #11820
It has to be set for non default ports to work

[2016-11-08 20:25] benjaminapetersen commented on #6017
Yeah, was thinking it should default to figure out something sensible via `$routeParams`, unless passed something to override.

[2016-11-08 20:46] bparees commented on #11649
happened again here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8472/

[2016-11-08 21:43] #11767 closed

[2016-11-08 21:53] maleck13 opened #11845 "Go client missing json struct tags"
When using the github.com/openshift/origin/pkg/client programatically, I noticed that json responses were not be decoded into the struct as expected.
Digging into this further, I believe it is because the client uses the type definition in https://github.com/openshift/origin/blob/master/pkg/project/api/types.go#L35
Which seems to be missing the struct tags. Locally I modified this struct definitio

[2016-11-08 21:55] juanvallejo opened #11846 "`oc describe events` fails with 'no description has been implemented for "Event"'"
When describing `events`, I am unable to receive an output due to the following error:
[code]

This does not happen with any other resource, such as `dc`s, or `bc`s. In these cases, I receive the expected output.

##### Version
oc v1.3.0-rc1+11fc4cd-1149-dirty
kubernetes v1.4.0+776c994
features: Basic-Auth

Server https://10.13.137.149:8443
openshift v1.3.0-rc1
kubernetes v1.3.0+52492b4

##### Ste

[2016-11-08 21:56] liggitt commented on #11845
Internal types should never be used for serialization

Are you importing the openshift client in combination with kubernetes code? Do you have the generated JSON codecs from kubernetes present? Those can cause problems because of the anonymous inclusion of ObjectMeta

[2016-11-08 22:12] maleck13 commented on #11845
@liggitt  Thanks for the quick reply. I am importing kubernetes code. Is there a way to use the client without importing code from kubernetes, they seem quite tightly coupled?
I am experimenting at the moment, so not sure I am doing things correctly. Here are what my imports look like for setting up the client:
[code]
I am not sure how to check if I have the  JSON codecs present.

[2016-11-08 22:24] PI-Victor commented on #11750
adding to this, because it seems to be apart of the same test suite.
i alos got this as a bonus
[code]

i don't think i need to open another issue for this, so just wanted to update this.
also full log here
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8480/consoleFull

[2016-11-09 00:55] liggitt commented on #11845
if you have the types.generated.go files with CodecEncodeSelf/CodecDecodeSelf implementations for kubernetes types, that can cause problems with serializing/deserializing openshift objects that embed those types

[2016-11-09 01:05] #11606 closed

[2016-11-09 01:22] #11744 closed

[2016-11-09 01:48] andrewklau opened #11850 "oc idle -n myproject --all selecting the current namespace"
The command `oc idle -n myproject --all` is idling the resources in the current project and myproject

##### Version
openshift/origin:latest

##### Steps To Reproduce

Start pod openshift/origin in the project infra with the following serviceaccount

[code]

run command

`oc idle -n myproject --all`

##### Current Result

Idles resources in myproject and infra

##### Expected Result

Idles resourc

[2016-11-09 02:18] andrewklau opened #11851 "unable to unlink secret after secret deleted"
[code]

basicsecret remains attached to the builder sa

[code]

[2016-11-09 02:43] andrewklau commented on #11850
Issue was KUBECONFIG was not writable. The error message does not show unless you explicitly switch project.

Setting KUBECONFIG to a location that the user can write to fixes the issue.

[2016-11-09 03:11] liggitt commented on #11850
Idle should respect the namespace parameter regardless of kubeconfig.

[2016-11-09 07:48] mfojtik commented on #7077
@jwforres we are even going to move the imported manifests back to registry container to not pollute the etc.

[2016-11-09 08:47] jerboaa commented on #11842
@bparees A heads-up for you so you can plan accordingly.

[2016-11-09 12:06] PI-Victor commented on #11851
yep. can confirm this.
can you, please, also output oc version and openshift version just for it to be here?

[2016-11-09 12:08] andrewklau commented on #11851
[code]

[2016-11-09 12:12] PI-Victor commented on #11851
@andrewklau thanks.
@mfojtik i'm not sure to whom this belongs, can you assign this accordingly and bump to p2 if p3 is too low.

[2016-11-09 12:45] kargakis commented on #11836
@openshift/cli-review

[2016-11-09 12:46] bparees commented on #11842
@jim-minter maybe while you're doing the updates for jenkinsfile support, you can go ahead and add this to the .net detection logic.

[2016-11-09 13:45] pweil- commented on #11841
related PR: https://github.com/openshift/origin/pull/11680

[2016-11-09 13:58] chouseknecht commented on #10117
*Use case*: Creating demos for Ansible Container that show the Ansible community how simple it is to deploy an application to OpenShift without having to a) introduce them to the joy of first creating a local registry; or b) exposing images on public Docker hub.

*Problem*: The `default` project seems to exists, which I assume is the same as the `default` project exposed in the All-In-One-VM, but

[2016-11-09 14:08] csrwng commented on #10117
@chouseknecht You can gain access to the default project by logging in as administrator. Instructions for that are printed when `cluster up` is invoked:

[code]

A route is not currently created for the registry, but perhaps we should. At the very least we can start by adding instructions on how to access the registry in the cluster up doc.

[2016-11-09 14:41] aveshagarwal commented on #11841
I am looking into it.

[2016-11-09 14:46] pweil- commented on #11170
@deads2k opinions on blocker status/risk here?

[2016-11-09 14:52] deads2k commented on #11170
One of those rare times we're not aligned.  As I understand @liggitt's position, we'll ship with new configs working out of the box and old configs broken out of the box unless they're using the ansible installer.  Makes this non-blocking, but @liggitt should probably make an issue against ansible and followup with @sdodson .

[2016-11-09 15:17] jupierce commented on #11841
@pweil- @aveshagarwal . I just pulled #11680 into my environment. I'm no longer able to reproduce this. Thank you.

[2016-11-09 15:17] #11841 closed

[2016-11-09 15:34] php-coder opened #11853 "os::log::warn function prints newline character as-is"
##### Version
Commit: 058a0d827b7184ade97c49b93fc1f1118ae640ae

##### Steps To Reproduce
[code]

##### Current Result
[code]

##### Expected Result
New line character shouldn't be shown.

##### Additional Information
This message is printed in `os::log::system::start` function:
[code]
Let's look at the `os::log::warn` implementation:
[code]
And to the `os::text::print_yellow` declaration:
[code]
A

[2016-11-09 15:35] php-coder commented on #11853
CC @stevekuznetsov

[2016-11-09 16:01] kargakis opened #11854 "Scrub deploymentConfig code for the use of the "deployment" word"
Should be replaced by "revision" or "replication controller" or a better suggestion.

cc: @mfojtik

[2016-11-09 16:17] sdodson commented on #11170
@deads2k Can you give us a one liner to fix that particular permission? We can add that to the 1.4 upgrade steps as a workaround. CC: @dgoodwin

[2016-11-09 16:18] stevekuznetsov commented on #11853
Rebase to current `master`, this is fixed.

[2016-11-09 16:18] #11853 closed

[2016-11-09 16:20] fabianofranz commented on #9076
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8482/

[2016-11-09 16:27] liggitt commented on #11170
Reconcile the bindings for the Jenkins pipeline role without excluding anonymous users:

oadm policy reconcile-cluster-rolebindings system:build-strategy-jenkinspipeline --confirm

[2016-11-09 16:33] dgoodwin commented on #11170
Am I correct that this requires first checking that the jenkins template has been used, otherwise the above will fail?

Does the --confirm imply interaction with the user?

[2016-11-09 16:42] knobunc commented on #11820
@JacobTanenbaum can you take a look at this please?

@ramr @liggitt can you think of a reason why we would not change this so we only do the rewrite if the ports are not the standard ones?  Is there a reason to add a config knob for it?  If we have to add config for it, then we should make it a global setting (with a default) and a per-route setting too.  But I'd rather not do that and only rewrit

[2016-11-09 16:44] liggitt commented on #11170
No, it can be done immediately after the normal role reconciliation, prior to anything template related

Reconcile operations default to dry runs. --confirm makes it take effect

[2016-11-09 16:46] liggitt commented on #11820
I can't think of a reason not to include non-default ports. Regarding the above comment, in what way was path routing not working until we excluded the ports? Did that issue only apply to the standard ports?

[2016-11-09 16:49] dgoodwin commented on #11170
Thanks that will save me some time.

[2016-11-09 17:13] mfojtik commented on #11854
replication controller sounds good to me.

[2016-11-09 17:16] enoodle opened #11856 "Reencrypt routes in 1.3 don't use the custom certificates"
Router images from version 1.3 do not propagate custom ssl certificates from reencrypt routes to the services.

As this is solved in 1.4 I would like to see if it is possible to backport this fix (I assume it comes from [2] but maybe more/other patches?) or, as a last resort, understand how to use a custom configmap [3] to work around it. I tried applying the PR [2] and  restart the router [3] but

[2016-11-09 17:31] pweil- commented on #11170
moving to p2 based on the work around in the installer.  Please reset if I've jumped the gun

[2016-11-09 18:08] danmcp commented on #11750
Closing as dup of: https://github.com/openshift/origin/issues/11016

[2016-11-09 18:08] #11750 closed

[2016-11-09 18:08] knobunc commented on #11649
I think the new symptom is a dupe of https://github.com/openshift/origin/issues/11016

[2016-11-09 19:02] kargakis commented on #11854
"rollout" is another option.

[2016-11-09 20:41] f-w commented on #6393
Hi @metal3d , @minhdoboi : I received same error for glusterfs pv. By endpoint do you mean service *glusterfs-cluster-app*? If so, this per-project service is so easy to be deleted by using `oc delete all --all`. How do I restore the end point? In particular, does the cluster IP auto-assigned?

[2016-11-09 20:55] fabianofranz commented on #11850
I could not reproduce this issue. Even with a not writable KUBECONFIG the `oc idle` command respected the `-n` flag correctly.

[code]

I'm closing this issue, feel free to reopen if it still happens with more information about how it can be reproduced.

[2016-11-09 20:55] #11850 closed

[2016-11-09 21:02] stevekuznetsov commented on #5382
Looks like we hit this [again](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8519/testReport/junit/(root)/Extended/_k8s_io__Port_forwarding__k8s_io__With_a_server_that_expects_a_client_request_should_support_a_client_that_connects__sends_no_data__and_disconnects__Conformance_/)? Did we change some SCC definitions?  /cc @ncdc @deads2k @liggitt

[2016-11-09 21:13] ncdc commented on #5382
@stevekuznetsov pretty sure what you linked is just #11662

[2016-11-09 21:13] #5382 closed

[2016-11-09 21:17] stevekuznetsov commented on #5382
Terrible search-fu... should leave that up to the bots :)

[2016-11-09 21:34] php-coder commented on #11853
For the history: related PR is https://github.com/openshift/origin/pull/11783

[2016-11-09 21:45] dobbymoodge commented on #10907
https://github.com/jenkinsci/s3-plugin/pull/94

[2016-11-09 21:47] andrewklau commented on #11850
@fabianofranz perhaps a serviceaccount permission issue?

These are the steps I did to reproduce on both 1.3.1 and latest

[code]

[2016-11-09 21:55] mwringe opened #11859 "oc cluster up fails to install metrics"
There has been a change in origin metrics where we now need to have the view permission for the Hawkular Metrics pod (required for clustering the application server).

Currently the Hawkular Metrics pod will fail with instruction on how to fix it, but we should update the oc cluster up command to add this.

[2016-11-09 21:55] mwringe commented on #11859
PR: https://github.com/openshift/origin/pull/11860

[2016-11-09 21:57] mwringe commented on #11859
@csrwng can you take a look at the PR?

[2016-11-09 22:13] maleck13 commented on #11845
@liggitt I don't have those present.  But I believe I figured out what I was doing wrong:
I needed to register the Scheme(s) and then use the scheme convertor as shown below when retrieving buildConfigs. Is this how you would expect it to work? Or is there a better way? I have cut down the example for brevity.

[code]

[2016-11-10 02:18] ramr commented on #11820
Some background:  as per the http spec, a client can send `host [:port]` in the HTTP `Host` header. So all of
   `Host: www.abc.test`,
   `Host: www.abc.test:80` and
   `Host: www.abc.test:443`
are valid `Host` header values - and could be more if you bind to other custom ports.

Now, when we do a path lookup today we check the map for something like `www.abc.test/path/to/resource` - if we added t

[2016-11-10 03:52] ramr commented on #11820
On second thoughts (and a drive to costco), there might be a simpler solution by just using regexps to ignore the port part - got to evaluate the cost though. Post this release ok? As it could be invasive.

[2016-11-10 06:03] smarterclayton commented on #7077
It might be useful to make it something you could look up.  But agree
it's not appropriate to be doing it on casual view.

[2016-11-10 07:52] soltysh commented on #10988
Seen again in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8529/consoleFull

[2016-11-10 09:18] smarterclayton commented on #10117
We should add the route.  We should also probably (in 1.5) start moving oc
cluster up to init the registry in another namespace.

On Nov 9, 2016, at 6:08 AM, Cesar Wong <notifications@github.com> wrote:

@chouseknecht <https://github.com/chouseknecht> You can gain access to the
default project by logging in as administrator. Instructions for that are
printed when cluster up is invoked:

   To logi

[2016-11-10 09:19] mfojtik commented on #10117
@smarterclayton where do we record that route? there is a card in PM board to have "shared" config map that will contain all useful infos (including registry URL) that console and users might need.

[2016-11-10 09:37] rhcarvalho commented on #5790
I won't have time to work on this anytime soon, @bparees feel free to reassign, or close if you think it is a path not worth pursuing.

[2016-11-10 09:48] mfojtik opened #11867 "Extended.[k8s.io] Generated release_1_2 clientset should create pods, delete pods, watch pods"
[code]

Observed here: https://github.com/openshift/origin/pull/11774

[2016-11-10 09:56] smarterclayton commented on #10117
External name vs internal name in API probably drives that.  In the
meantime we'd use the existing mechanism via env

On Nov 10, 2016, at 1:19 AM, Michal Fojtik <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> where do we record that
route? there is a card in PM board to have "shared" config map that will
contain all useful infos (including registry URL) that

[2016-11-10 10:24] maleck13 commented on #11845
@liggitt I am happy for this to be closed now as I can progress, but interested in any opinions. Also is there any initiative to reduce the number of dependencies and simplify the usage of the client as a lib for external projects

[2016-11-10 10:33] mfojtik commented on #11851
Fixed here: https://github.com/openshift/origin/pull/11868

[2016-11-10 11:21] #11773 closed

[2016-11-10 12:42] mfojtik commented on #6850
@php-coder can you do a quick sweep to make sure that all strategies use int64 now? (they should, just need confirmation)

[2016-11-10 12:42] mfojtik commented on #3915
@fabianofranz did a trello story for this was ever created? ;-)

[2016-11-10 12:47] mfojtik commented on #2162
@enj this might be related to the BZ :-)

[2016-11-10 13:09] mfojtik commented on #11845
@maleck13 https://trello.com/c/PTDrY0GF/794-13-provide-go-client-similar-to-kubernetes

[2016-11-10 13:59] aveshagarwal commented on #11771
I can not reproduce it locally, so trying to look through the code and logs if I can find something.

[2016-11-10 14:27] #11736 closed

[2016-11-10 14:45] stevekuznetsov opened #11870 "Conformance suite times out after five hours -- structural failure"
Looks like we have a structural failure (Docker daemon, maybe?) that leads to all of our timeouts getting hit in a conformance run, which then gets force-killed at 5hours.

See: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/8537/console

[2016-11-10 14:45] stevekuznetsov commented on #11870
/cc @danmcp @ncdc

[2016-11-10 14:46] stevekuznetsov commented on #11870
Similar thing happened in the past: https://github.com/openshift/origin/issues/9965

[2016-11-10 14:57] bparees commented on #5790
thanks @rhcarvalho, closing. 280s is bad but probably no worse than some others.  we have a general tech debt card to revisit slow tests as a whole.

[2016-11-10 14:57] #5790 closed

[2016-11-10 14:59] tnozicka opened #11871 "oc logs does not work for pipeline builds"
For a regular build you can get logs by `oc logs build/nodejs-ex-1`. But this doesn't work for build with pipeline strategy.

Problem is that even the API `/oapi/v1/namespaces/{namespace}/builds/{name}/log` is broken (probably not implemented) for this.

##### Version
[code]
##### Steps To Reproduce
- have a pipeline build
[code]
[code]

##### Current Result
Not found

##### Expected Result
Show l

[2016-11-10 15:30] stevekuznetsov commented on #8324
This seems to have resolved itself with time ...

[2016-11-10 15:30] #8324 closed

[2016-11-10 17:31] aveshagarwal commented on #11771
Issue here as per logs is one of containers in the first pod1 is failed and so this test failed.

[2016-11-10 17:42] aveshagarwal commented on #11771
[code]

[2016-11-10 17:42] bparees opened #11873 "Extended.deploymentconfigs with minimum ready seconds set [Conformance] should not transition the deployment to Complete before satisfied"
[code]

[2016-11-10 17:48] aveshagarwal commented on #11771
[code]

It seems that as restart count is zero and status is ContainersNotReady that may be there are times the pods (pod1, pod2) in this test might take more than 1 min (timeout) to get ready as I dont see any other issue right now.

[2016-11-10 18:05] aveshagarwal commented on #11771
kubernetes issue: https://github.com/kubernetes/kubernetes/issues/29831

[2016-11-10 18:36] bparees opened #11875 "github.com/openshift/origin/test/cmd/idle/all.test/cmd/idle.sh:34: executing 'oc get pod -l app=idling-echo -o go-template='{{ len .items }}'' expecting any result and text '2'; re-trying every 0.2s until completion or 60.000s"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/8444/consoleFull#-200691091856c25df4e4b05b79524e5d52

[2016-11-10 18:42] php-coder opened #11876 "Bash text utilities don't correctly detect when they are not ouputting to a TTY"
`verify-gofmt.sh` fails under TravisCI with error `tput: No value for $TERM and no -T specified`:
[code]

Log is here: https://travis-ci.org/openshift/origin/builds/174853593

[2016-11-10 18:42] php-coder commented on #11876
CC @stevekuznetsov

[2016-11-10 18:44] stevekuznetsov commented on #11876
Weird, shouldn't be running outside of a TTY.

[2016-11-10 19:40] stevekuznetsov commented on #11806
@mfojtik  @alikhajeh1 the Docker version required for OpenShift is documented in pages like [this one](https://docs.openshift.org/latest/install_config/install/host_preparation.html#installing-docker) on our documentation website.

No, a given version of OpenShift will not always be compatible with newer versions of Docker. Furthermore, if you are installing Docker from `yum` or `dnf` on Fedora/Ce

[2016-11-10 20:49] knobunc commented on #9076
Based on the logs, we are taking > 2m to pull images and start the pods before things are torn down.

This seems to be https://github.com/openshift/origin/issues/11016

[2016-11-10 20:56] knobunc commented on #10487
I suspect this is https://github.com/openshift/origin/issues/11016

It is happening when we are waiting for the pods to spin up, idling itself is not involved.

[2016-11-10 20:56] #10487 closed

[2016-11-10 20:57] knobunc commented on #11875
Dupe of https://github.com/openshift/origin/issues/10487

[2016-11-10 20:57] #11875 closed

[2016-11-10 21:06] knobunc commented on #11820
Based on what Ram said, and the fact that we've been this way since April, and that the submitter has worked around it, I'm lowering the priority and we will get to it in the next release.

[2016-11-10 21:20] knobunc commented on #11820
Tracking card https://trello.com/c/MEZZinj8

[2016-11-10 21:38] ncdc commented on #11867
I looked at the logs. I think this is just another general "slow" issue. Could be something about the VM, or something else, but stuff just didn't happen fast enough.

[2016-11-10 21:46] rhatdan commented on #11806
We also back port fixes to Red Hat based docker packages.

[2016-11-10 21:57] smarterclayton commented on #3915
This is merged.  "oc extract"

[2016-11-10 21:58] #3915 closed

[2016-11-10 22:35] juanvallejo commented on #7326
Unable to replicate this issue with version
[code]

I can successfully run the command causing this issue:
[code]

closing this issue, please re-open if you're still able to replicate

[2016-11-10 22:42] GrahamDumpleton commented on #7326
Please comment on the secondary issue I raised. That still occurs:

[code]

Version:

[code]

[2016-11-10 23:02] bparees commented on #11207
@csrwng @coreydaley is there a PR associated w/ this issue?

[2016-11-11 00:31] coreydaley commented on #11207
@bparees not at this time.  We have not heard back after the meeting that we had to determine a strategy to fix this issue, which was suggested to be tagging the images correctly.

[2016-11-11 00:40] Haybu commented on #9007
I get "bufio.Scanner: token too long" message with using this command:

kubectl create -f http://central.maven.org/maven2/io/fabric8/platform/packages/console/2.4.1/console-2.4.1-openshift.yml

[2016-11-11 00:51] Haybu commented on #9007
please ignore, i noticed I'm using an openshift file to install into k8s.

[2016-11-11 02:00] fabianofranz commented on #3915
Yes, *and* already implemented in `oc extract`.  :)

I'll close this, feel free to reopen if there's anything missing in `oc extract` to consider this done.

[2016-11-11 03:57] #11846 closed

[2016-11-11 04:07] ncdc commented on #10754
I assume we should bump this to 1.5?

[2016-11-11 04:11] ncdc commented on #6822
@mrunalp @derekwaynecarr @smarterclayton can we close this - I think all the fixes are in place now?

[2016-11-11 04:31] bparees commented on #6822
sounds reasonable to me, we have tests that fail when this doesn't work right and no one has reported that flake recently (The flake issues have been closed).

[2016-11-11 04:32] mrunalp commented on #6822
Sounds good to me.

[2016-11-11 04:49] bparees commented on #11207
@coreydaley who are we waiting to hear back from?  should this be assigned to the metrics team to fix the image tagging?

[2016-11-11 04:59] smarterclayton commented on #10754
These are already dropped.  May need release notes (I don't remember)

[2016-11-11 08:35] mfojtik commented on #11873
@bparees do you have link to Jenkins for this one?

It seems like the Kube finalizers took longer time than usual to complete which I think is pretty rare. Bumping to P2.

[2016-11-11 08:45] mfojtik commented on #11871
@tnozicka AFAIK the logs for pipeline builds are not implemented yet as it will require proxying logs from the Jenkins (IMHO).

[2016-11-11 08:47] mfojtik commented on #11867
@ncdc +1 i haven't seen this flake recently, however in last two days I saw at least 2 ultra-rare flakes all related to "slowness" (an empty namespace failed to remove and this.)

[2016-11-11 08:48] mfojtik commented on #11837
I rewrote the dumper recently when we got rid of go-etcd client. I can take a look on dumping etcd3 content as well, but AFAIK for 1.4 we staying on etcd2.

[2016-11-11 08:54] mfojtik commented on #2778
@bparees all yours now :-)

[2016-11-11 08:56] mfojtik commented on #5978
@bparees I think the work @PI-Victor is doing covers this, right?

[2016-11-11 08:56] mfojtik commented on #7176
@csrwng I think you fixed this a long time ago :-) Closing.

[2016-11-11 08:56] #7176 closed

[2016-11-11 08:59] mfojtik commented on #10134
@bparees this seems to me like a custom build that has configured GIT repo it watches, no output image and the only thing it does is to update the referenced ConfigMap (from BuildConfig). WDYT?

[2016-11-11 09:00] mfojtik commented on #9292
@kargakis still an issue?

[2016-11-11 09:02] mfojtik commented on #10171
@fabianofranz opinions about turning --validate on by default?

[2016-11-11 09:06] liggitt commented on #10171
no, client-side validate fails for schema-less types and required fields that are typically defaulted server-side

[2016-11-11 09:38] kargakis commented on #9292
Yes

[2016-11-11 09:47] tj13 opened #11881 "traffic splitting of A/B deployment is by replicas but not by service"
##### Version
$ oc version
oc v1.3.0
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://cjjoc01.sit.caijj.net:8443
openshift v1.3.0
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
1. config an  a/b deployment for application logresolver.
2. create two service logresolver-a with one replica and logresover-b with two replicas,
2. check the weight in haproxy con

[2016-11-11 11:54] e-bits opened #11882 "GitHub authentication based on teams"
Would it be possible to enhance the GitHub OAuth to authenticate against teams within an organisation? At the moment the authentication works against organisations and i think i would be nice to have a kind of a smaller unit to grant access, especally for larger organisations.

Is someone else intrestet in this? What do you think? @liggitt

[2016-11-11 13:28] wanghaoran1988 commented on #7176
Fixed by https://github.com/openshift/origin/pull/10873

[2016-11-11 13:47] sdodson commented on #11207
Productization has made the tagging changes in our most recent builds but that broke some of the existing process. The build we're doing today should have both the new tags 'v3.4.0.x' and old '3.4.0' easing the transition. So lets test with today's build.

[2016-11-11 14:55] bparees commented on #11873
no, sorry i forgot to include it.

[2016-11-11 14:58] bparees commented on #11871
trello'd https://trello.com/c/TcYufF8n

[2016-11-11 14:58] #11871 closed

[2016-11-11 15:00] csrwng commented on #11207
@tdawson assigning to you ... please close when the latest changes are in. Thanks!

[2016-11-11 15:03] bparees commented on #5978
no, it does not.

[2016-11-11 15:05] kargakis commented on #11873
Seems like another instance of https://github.com/openshift/origin/issues/10670

[2016-11-11 15:14] stevekuznetsov commented on #11837
@mfojtik I don't know what "the dumper" is but I mean this recursive dump: https://github.com/openshift/origin/blob/master/hack/lib/cleanup.sh#L16

[2016-11-11 16:12] jawnsy opened #11886 "etcd "required revision has been compacted" message in logs every second"
After stopping/starting my origin all-in-one development build, I'll occasionally see the logs fill up with the following messages:

[code]

##### Version

oc v1.4.0-alpha.1+0093383-83
kubernetes v1.4.0+776c994
docker 1.12.3 docker-common-1.12.3-5.git9a594b9.fc25.x86_64
Linux limelight 4.8.6-300.fc25.x86_64

Latest commit message:

[code]

##### Steps To Reproduce
1. ??? (seems to happen sporadica