[2016-02-02 15:04] smarterclayton commented on #6961
Use the origin image with args ["cli", "tags"], same outcome

[2016-02-02 15:05] mfojtik commented on #6961
@smarterclayton will it work out of box (pickup up the token from service account?)

[2016-02-02 15:10] liggitt commented on #6961
yes, it should

[2016-02-02 15:13] mfojtik commented on #6961
@smarterclayton @liggitt cool deal then. I assume that image will be on the node already, so the size is not a problem.

[2016-02-02 15:13] #6961 closed

[2016-02-02 15:42] brettneese commented on #6911
OK, I rebuilt.

Even if I abstract etcd onto a separate volume and mount it directly to the etcd instances, after 'oc delete node' the original master, I get:

```Feb 02 15:38:36 ip-172-31-58-77.ec2.internal origin-master[846]: E0202 15:38:36.328385     846 horizontal.go:69] Couldn't reconcile horizontal pod autoscalers: error listing nodes: the server has asked for the client to provide credentia

[2016-02-02 16:09] bparees commented on #6954
@smarterclayton has opinions on this.

[2016-02-02 16:20] brettneese commented on #6911
wondering if maybe this has something to do with builder and deployer service accounts.

on a new master there'd be different certs, and the old DeploymentConfig's will keep the old ones around?

anyway to regenerate those?

[2016-02-02 16:24] liggitt commented on #6911
I thought this was a new etcd... there shouldn't be any old dc's, right?

[2016-02-02 16:26] brettneese commented on #6911
It's a new instance, but we're pulling in the old `/var/lib/etcd`. Unless there's a better way to backup the `etcd` data store?

Basically we don't want to have to reconfigure everything if we need to launch a new cluster for whatever reason.

[2016-02-02 16:32] brettneese commented on #6911
https://docs.openshift.org/latest/install_config/upgrades.html#preparing-for-a-manual-upgrade talks about backing up etcd, but it doesn't say anything about how to actually *restore* that backup. So admittedly we're just kind of shooting in the dark here.

[2016-02-02 16:38] smarterclayton commented on #6954
I'm fine with a "Jenkins" strategy if we can figure out how to appropriately scope it.  However, when I create this build config, what happens if Jenkins isn't installed?  How does OpenShift securely communicate with Jenkins (web hook would need auth, where is that auth stored)?  How does build status get written back to OpenShift (will Jenkins have auth to mark OpenShift builds as complete and re

[2016-02-02 16:43] jwforres commented on #6931
the colorization is a dup of https://github.com/openshift/origin/issues/5453  but any other escape codes werent being considered in that original issue so we can leave this open for the newline problem

[2016-02-02 16:57] spadgett opened #6968 "Too much spacing between breadcrumbs and RC header"
This page has more spacing above the header than others. Only happens for vanilla replication controllers that have no deployment config.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12756954/fc66951c-c9a3-11e5-845f-efe852de829c.png)

/cc @jwforres @sg00dwin

[2016-02-02 17:26] smarterclayton commented on #6890
@eparis @rajatchopra do you know if we've hit something like this with f23?

[2016-02-02 17:29] soltysh commented on #6934
ImageStream resolving should be in sync with ImagePullPolicy for the user to have similar experience.

[2016-02-02 17:43] abhat commented on #6908
@danwinship @liggitt is there an eta on when this will be available as a config option?

[2016-02-02 17:47] timothysc commented on #6766
E2E libraryzation - https://github.com/kubernetes/kubernetes/pull/19624 for https://github.com/openshift/origin/pull/6541  /cc @jayunit100

[2016-02-02 17:47] spadgett opened #6972 "Mount text can overflow pod template box"
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12758597/0fab1e84-c9ab-11e5-99ed-6b29870b59af.png)

/cc @jwforres @sg00dwin

[2016-02-02 17:53] spadgett opened #6973 "Kebab dropdown menu easy to miss on some pages"
It's easier to miss the kebab on some pages now that we've moved away from the tile style. This is particularly true of pages that don't have primary actions.

Here is an example where the menu is far from the rest of the content:

![screen shot 2016-02-02 at 12 50 25 pm](https://cloud.githubusercontent.com/assets/1167259/12758735/c7805ede-c9ab-11e5-9955-210bf97892b2.png)

/cc @jwforres @sg00dwin

[2016-02-02 17:59] #6094 closed

[2016-02-02 18:03] smarterclayton commented on #6255
Still seeing this:

[code]

in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/10050/consoleFull

[2016-02-02 18:25] liggitt commented on #6908
https://github.com/danwinship/origin/pull/2 implements 2 (allow toggling between userspace/iptables) and part of 3 (all the options that make sense for our in-process proxy are plumbed). I'll let @danwinship pull it in and make sure it works as he expects. You'd configure it in the node config as an extended arg:
[code]
or
[code]

[2016-02-02 18:30] #6616 closed

[2016-02-02 18:31] #6964 closed

[2016-02-02 18:50] spadgett opened #6974 "Loading message no longer appears on most browse pages"
We have ng-if statements that prevent the loading message from ever displaying. For instance,

https://github.com/openshift/origin/blob/master/assets/app/views/browse/pod.html#L5-L11

Noticed this looking at https://github.com/openshift/origin/pull/6971#discussion_r51605665, but it seems to be a problem on other pages.

/cc @jwforres @sg00dwin

[2016-02-02 19:16] abhat commented on #6908
@liggitt thanks.

[2016-02-02 19:17] #6428 closed

[2016-02-02 19:22] mfojtik commented on #6954
@smarterclayton the current `openshift/jenkins-1-centos7` image is valid S2I builder image, which means you can point a S2I BuildConfig to your custom repository with your Jenkins configuration, jobs, plugins, .s2i/bin scripts and build fully customized Jenkins image.

By doing that you can also override "run" script and have the logic of auto-discovery other BuildConfig(s) and creating Jenkins jo

[2016-02-02 19:22] ajacobs21e commented on #6973
@spadgett The recommendation from patternfly is to change this to a button labeled something like "advanced" if there is no primary action button (start build, etc).

If there is a primary action button we'll have to see if it's better to still keep these secondary actions (edit, delete, etc) in an "advanced" dropdown button or to use the kebab.

[2016-02-02 19:24] mfojtik commented on #6954
Having some of this magic happen automatically, we can just create "openshift/jenkins-builder" that will base on top of official Jenkins image and just add the "run" script logic for all this. The "run" can even be a Go static binary which will match with other builders we have.

[2016-02-02 19:30] spadgett opened #6975 "Unnecessary scrollbars on a couple pages"
Topology view:

![openshift_web_console_and__urgent__second_reminder___rh_20161018us__request_for_invention_disclosure_interview__ls_05220_2010__l2010__--_privileged_and_confidential_-_spadgett_redhat_com_-_red_hat_mail](https://cloud.githubusercontent.com/assets/1167259/12761546/633df5ae-c9b9-11e5-95eb-1cc2329d320d.png)

Browse build config:

![openshift_web_console](https://cloud.githubuserconte

[2016-02-02 20:31] timothysc opened #6977 "odd 'oc' strace"
In validating master vertical scaling the cluster loader utility repeated calls `oc` command in a tight loop.    The performance of the operation seemed to take a long time and was very noticeable when running hundreds of operations.  I was hoping to run pprof, but it appears it's not enabled on the oc command.

Further inspection of the strace is odd, because it looks to be doing a bunch of weird

[2016-02-02 20:40] jeremyeder commented on #6977
A delay happens every time sched_yield gets called.  Look specifically line 340 of the strace.

![image 6](https://cloud.githubusercontent.com/assets/1919640/12763564/154ecab2-c9c3-11e5-8c02-4967a6a568ad.png)

I think each "step up" corresponds to a sched_yield call, which seems to come from go-dockerclient which gets godep'd into kube.  Why it's getting delayed and actually calling sched_yield...

[2016-02-02 20:41] timothysc commented on #6977
Which is slightly insane, b/c that should be nowhere in the call-path from client <> server.

[2016-02-02 20:44] jeremyeder commented on #6977
@elvirkuric I thought everything that pbench did was moved to using "watches" for just this specific reason.

15:12:27.093563 execve("/usr/bin/oc", ["oc", "get", "rc", "--all-namespaces"], [/* 27 vars */]) = 0

Thoughts ?

[2016-02-02 21:00] smarterclayton commented on #6954
That seems useful, but lower level.  I really, really, really REALLY do not
like triggers - either as an implementation tool or as an architectural
pattern.  Triggers don't guarantee delivery and cannot handle the vagaries
of the distributed system.  I want declarative state of the behavior...
i.e.:

1. User "declares" they want a jenkins build with certain configuration
(source URI, base image, j

[2016-02-02 21:47] jcantrill opened #6980 "Refactor 'deploy' code to be server-side for reuse by all clients"
JBossTools is looking to add 'redeploy' functionality to the IDE which requires a java client side impl that essentially duplicates: https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/deploy.go#L208

Would like to start making this and other cli logic to a server endpoint.

[2016-02-02 21:49] sjenning opened #6981 ""Error reading BEARER_TOKEN_FILE: permission denied" when deploying docker-registry"
I'm running v1.1.1.1 on Rawhide with Docker 1.10.0-rc2.  I am running into this when I try to deploy the docker-registry:

[code]

docker inspect on the origin-deployer container:

[code]

The token file on the host exists and is world readable.

[code]

v1.1.1.1 worked fine on F23 with Docker 1.9.1.  Possibly an issue introduced with root mount propagation in Docker 1.10?

I disabled selinux, but

[2016-02-02 22:06] smarterclayton commented on #6255
Was bad bash - ginkgo getting skip and focus will give skip priority.

[2016-02-02 22:45] sjenning commented on #6981
Further investigation shows that in docker 1.9, /run/secrets (/var/run is a symlink to /run) is a rw tmpfs, but in docker 1.10 it is a ro bind mount with mode 700, hence my permission denied error.

Volume mounts inside /run/secrets are not being honored.

It seems that docker has created there own mechanism for putting secrets into the container; however, I can find zero documentation about it.

[2016-02-02 22:52] sjenning commented on #6981
Clarification, docker is mounting _over_ /var/secrets:

[code]

[2016-02-02 23:09] mrunalp commented on #6822
The output of grep cgroup /proc/self/mountinfo

Sent from my iPhone

[2016-02-02 23:48] bparees commented on #6822
on a rhel system, uses "cpuacct,cpu":
[code]

on a fedora system uses "cpu,cpuacct":
[code]

from within a centos image run on a rhel system, uses "cpuacct,cpu"
[code]

from within a centos image run on a fedora system, uses "cpu,cpuacct":
[code]

i've modified my code to handle both paths so it's not critical, but it doesn't seem right.

[2016-02-03 00:51] spadgett opened #6985 "Web console: Log keeps following on manual scroll"
Previously, if you scrolled the window manually, the web console stopped following the log. It no longer does this.

/cc @jwforres @benjaminapetersen @sg00dwin

[2016-02-03 01:57] bparees commented on #6629
@smarterclayton what usability improvement do you have in mind here?  we now have the crashloopbackoff messaging, right?  That would seem to cover this scenario.

The only other fix i can see would be for images like this to actually work, but that's not going to happen without, at a minimum, usernamespaces, and i don't think even that would let images bind to privileged ports right?

[2016-02-03 02:48] liggitt commented on #6687
dupe of #6384

[2016-02-03 02:48] #6687 closed

[2016-02-03 03:12] liggitt commented on #6932
calling this fixed by the additional pre-reservation... a day without any of these flakes in the test runs.

[2016-02-03 03:12] #6932 closed

[2016-02-03 03:54] #6936 closed

[2016-02-03 04:40] bparees commented on #6071
@pstinghua are you still having issues?

@PiotrKlimczak is 172.30.0.1 in your host's /etc/resolv.conf?  is that the ip address of your master?

normally there should be something listening on port 53 on your master, and the /etc/resolv.conf for all pods should include the master ip as the primary DNS.

For additional debug i suggest you "oc run openshift/jenkins-1-centos7" and then "oc rsh" into t

[2016-02-03 04:41] bparees commented on #5693
new-app now warns you if the image declares "USER root"

I don't think we can do anything if the image declares any other user, because images have to declare a user (or default to root) so we'd be warning for every image if we did that.

[2016-02-03 04:41] #5693 closed

[2016-02-03 05:47] sjenning commented on #6981
The reason I could find documentation on this is because the Fedora docker packages are not pulled from upstream docker; they are pulled from a forked repo here:
https://github.com/projectatomic/docker

This patch is the issue I think:
https://github.com/projectatomic/docker/commit/202463d634484b52246995628eca6fd734fd65fb

[2016-02-03 06:54] smarterclayton commented on #6981
@mrunalp @rhatdan docker 1.10 fedora is mounting over the kubernetes secret path, which breaks kubernetes and Openshift.  I assume this is the docker secrets patch?

[2016-02-03 07:36] mfojtik commented on #5823
@jhadvig bump, still interested at investigating this?

[2016-02-03 07:37] mfojtik commented on #5691
Closing for age and cannot be reproduced.

[2016-02-03 07:37] #5691 closed

[2016-02-03 07:45] mfojtik commented on #4961
@smarterclayton @stevekuznetsov to summarize this (i'm going to open PR with initial tagging/renaming):

* Every test case should have the tag that matches the directory the test is located (./build -> [build])
* Additional tag is used when you want to group the test ([images][mysql])
* We should keep the amount of tags in single test description low
* Tests should have "good" descriptions that de

[2016-02-03 08:05] #6958 closed

[2016-02-03 08:28] AlbertoPeon opened #6989 "Hostsubnets not created after installation - problem with hardcoded network variables in Openstack integration"
We are seeing problems with the OpenStack integration. In a nutshell, the network variables contains hardcoded settings that doesn't fit all installations (including ours). More details in https://github.com/openshift/openshift-ansible/issues/1261.

This issue appears to be solved in upstream Kubernetes https://github.com/kubernetes/kubernetes/pull/18829, so I guess it's just a matter of time befo

[2016-02-03 09:24] liggitt opened #6990 "delete-link, edit-link mix up kind and resource"
Applies to all pages, but one example:

Edit link has `kind="services"`, etc. Kind should be upper-case, match the value in the API object (`kind: "Service"`, etc), and be transformed using `kindToResource` before passing to the data service.

Delete link has `resource-type="service"`, which then has an 's' appended to it (`DataService.delete(resourceType + 's', resourceName, context)`). Should pr

[2016-02-03 10:14] php-coder commented on #5460
@liggitt I would be grateful if you find a minute and take a look at this issue. Thanks!

[2016-02-03 10:23] mrunalp commented on #6981
Yes, we could detect that it is already mounted and skip it to prevent this issue.

[2016-02-03 10:49] #6255 closed

[2016-02-03 10:49] rhatdan commented on #6981
/var/run/secrets should be mounted before any user volumes are mounted.

[2016-02-03 11:12] rhcarvalho opened #6991 "Improve new-app output when processing invalid template JSON"
Today, if a template contains invalid JSON (perhaps because of a typo), `oc new-app` outputs the error followed by a verbose message about how new-app works:

[code]

Unless you know what you're looking for, it is very easy to miss the error message when confronted with 10+ lines of text.
## Proposal

The output should contain only the parsing error, or at least have it as the last bit of informat

[2016-02-03 11:12] rhcarvalho commented on #6991
@bparees @smarterclayton FYI

[2016-02-03 13:04] stevekuznetsov commented on #4961
Good summary.

I still like the idea of having one `hack/test-extended.sh` like we have for every other test, and that script can determine what to call. I think having a common cluster setup in `test/extended/core.sh` and allowing the other tests (like `ldap_groups.sh`) to do a pre-test setup and a post-test teardown would be a good idea so there isn't as much churn on setting up / tearing down t

[2016-02-03 13:32] spadgett opened #6992 "Web console terminal window too wide for mobile display"
Here is how it looks on an iPhone. Also it looks like the reconnect button is pushed onto the next line below the terminal and mostly offscreen.

![screenshot_2_3_16__8_29_am](https://cloud.githubusercontent.com/assets/1167259/12783574/58e5eae8-ca50-11e5-8485-a4d439c4a042.png)

/cc @jwforres @stefwalter

[2016-02-03 13:40] smarterclayton commented on #6977
Pprof should be enabled on oc the same way it is enabled on masters - OPENSHIFT_PROFILE=cpu - but if you're calling the repeatedly it won't be great.

Hot loop oc calls are dominated by TLS negotiation and elliptic curve in go, and some upstream bugs that require negotiating the available API versions too often.

[2016-02-03 13:42] rhcarvalho opened #6993 "Improve build validation error message"
Some validation error messages include complex Go structs that are hard to understand by an end user.
## Reproducing the problem

Try to create a BuildConfig with multiple strategies:

[code]

The error message shows up in any place that uses the API, including but not limited to `oc create`, `oc new-app`, `oc edit`, `oc patch`, etc.
## Possible offenders

[code]

Example:
https://github.com/opens

[2016-02-03 13:42] rhcarvalho commented on #6993
@bparees FYI

[2016-02-03 13:44] spadgett opened #6994 "Web console: prompt users before navigating away when editing"
See https://github.com/openshift/origin/pull/6528#issuecomment-178613757

/cc @jwforres @liggitt

[2016-02-03 13:48] spadgett commented on #6990
The `log-viewer` directive does this as well.

[2016-02-03 14:03] smarterclayton commented on #6981
Thanks for the lightning fast fix Dan

[2016-02-03 14:04] kargakis opened #6995 "e2e tests in Docker get stuck when trying to run MySQL"
I have seen this a couple of times lately. Tests will get stuck, run for 3h-4h because of this and eventually fail. @mnagy any idea why is this happening?
[code]

[2016-02-03 14:21] jhadvig opened #6996 "Pulling image should create an Event"
When the image is being pulled into ImageStream we should be able to detecting by creating an Event. We should use that eg. in the web console to show that the build is not running yet, just "Pulling the image" at this moment.

@mfojtik @bparees @jwforres @spadgett @thesteve0

[2016-02-03 14:27] pweil- commented on #6996
@soltysh

[2016-02-03 14:30] jhadvig commented on #6996
@pweil- :+1:

[2016-02-03 14:39] jhadvig opened #6997 "Topographic view is missing legend"
Topographic view in the web console is missing legend for the resource icons. @thesteve0 @stefwalter

[2016-02-03 14:49] jwforres commented on #6992
the reconnect button being pushed off is a known bug https://bugzilla.redhat.com/show_bug.cgi?id=1276216

[2016-02-03 14:51] jwforres commented on #6992
Resizing the terminal window is a general problem, i think we were waiting on some API plumbing to be able to send SIGWINCH signal through to the container

[2016-02-03 14:52] smarterclayton commented on #6991
So basically fork TemplateFileResolver to be separate, make sure it doesn't hit the server, and have it require certain extension types.  Makes sense to me.  Bonus points if we print out the line number the error happened on for both JSON and YAML

[2016-02-03 14:53] smarterclayton commented on #4961
Does this match what upstream is doing with their tags?  They've added a
bunch recently, where possible we should be consistent.  Otherwise,
excellent suggestions.

On Wed, Feb 3, 2016 at 8:04 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-02-03 15:10] jwforres commented on #6990
hasn't bit us yet but only a matter of time

[2016-02-03 15:12] jwforres commented on #6997
Someone else brought this up this morning, we should really add it somewhere, we already have descriptions in the details sidebar, we could just add icons next to those.

[2016-02-03 15:16] spadgett commented on #6992
Can we size it initially so it's not larger than the device width?

[2016-02-03 15:25] liggitt commented on #6990
especially with the `+'s'` bit... anything that ends in `s` or `y` would be wrong

[2016-02-03 15:27] jhadvig opened #6999 "Import Docker Hub image into my project from web console"
As as user I should be able to import any public (non-public after secrets..) DockerHub image from the 'Add to project' page.
@dmueller2001 @GrahamDumpleton

[2016-02-03 15:28] jhadvig commented on #6999
cc'ing @jwforres @smarterclayton

[2016-02-03 15:42] bparees commented on #6993
Can you provide a little more detail on how to recreate this?  what did you change in the BC?

but yeah, we should clean that up.

[2016-02-03 15:42] jhadvig commented on #6997
You mean into the sidebar or next to it ?

[2016-02-03 15:50] bparees commented on #6991
Sounds ok to me, but is the error handling framework setup to be able to stop searching after an error from TemplateFileResolver, even if it comes first?  I thought we're aggregating all the errors from all the resolvers now.

and not printing the "no matches" message is also going to go against the new error handling model.  After @smarterclayton just made it sane, i'm a little reluctant to reint

[2016-02-03 15:50] php-coder commented on #6993
It looks pretty similar to #6926
@kargakis Does #6959 fix this issue too?

[2016-02-03 15:50] kargakis commented on #6993
Yes, this is a dupe of #6926

[2016-02-03 15:57] jwforres commented on #6999
Already tracked in trello https://trello.com/c/fonu3qc5

[2016-02-03 15:57] #6999 closed

[2016-02-03 15:58] jwforres commented on #6997
into the sidebar

[2016-02-03 15:58] jwforres commented on #6997
although would need to see how it looked

[2016-02-03 16:05] stevekuznetsov opened #7000 "`oc login --token` with an invalid token interactively prompts for password"
When using `oc login --token=whatever`, and the token provided is incorrect, the `login` prompt hangs waiting for a password. This should not occur.

/cc  @liggitt

[2016-02-03 16:21] benjaminapetersen commented on #6985
Yup, the handler is on window only, so it works for mobile but otherwise the function doesn't run since we now have the div/window swap.  Updating.

[2016-02-03 16:29] benjaminapetersen opened #7003 "Web console: log links affix while scrolling"
With the new updates to the UI, the affix links no longer work consistently.  While scrolling the window (mobile view) the affix is fine.  Otherwise, we are scrolling a div & affix does not register.

Per comments on [this PR](https://github.com/openshift/origin/pull/6965)

@sg00dwin @spadgett

[2016-02-03 16:43] stevekuznetsov opened #7004 "`hack/test-cmd.sh` fails when bad regex is given"
For example:
[code]

If the API we have is "give us a regex and we run any matching buckets" this type of input should result in no buckets being run, but not this failure.

[2016-02-03 16:57] jwforres opened #7005 "Several issues with show annotations link in browse pages"
When it shows up right before a table there is no margin now that the tiles are gone.

![show_annotations](https://cloud.githubusercontent.com/assets/1467629/12789788/485b29be-ca6d-11e5-8e9e-92a70cf6b6ae.png)

Deployment config is completely missing annotations.

Build config has it under the Configuration tab which is not the first tab, are annotations really configuration?

[2016-02-03 16:58] jwforres commented on #7005
@spadgett fyi

[2016-02-03 17:01] sjenning commented on #6981
I can verify that this fix helps

[code]

But there is still an issue: /run/secrets is mode 700.  The deployer uses a not root user to do the work so I'm still getting permission denied.

With docker 1.9 /run/secrets was tmpfs mounted with mode 777.

[2016-02-03 17:25] timothysc commented on #6977
I dumped the profile, and it's dominated by tls.

[code]

However, there are still the oddities in the strace behavior such as stating all useradd and adduser programs.

[2016-02-03 17:32] spadgett commented on #7005
No bottom margin when it's the last thing on the page as well.

![openshift_web_console_and_openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12790822/338c1a98-ca72-11e5-9271-e5e4b71ff769.png)

[2016-02-03 17:45] spadgett opened #7006 ""Configuration" repeated on tab and in content of browse build config page"
A little odd that the word is repeated here. It's more noticeable with the new tabs because the style is much closer.

<img width="905" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/12791068/69951652-ca73-11e5-8946-efc670b46d9a.png">

/cc @jwforres

[2016-02-03 17:46] smarterclayton commented on #6977
user add/groupadd are coming from fsouza-godockerclient on init.  We should remove that - it's stupid.

[2016-02-03 17:46] smarterclayton commented on #6977
Sorry, it's coming from `docker/pkg/idtools` on init

[2016-02-03 17:48] smarterclayton commented on #6977
The TLS is a dupe of https://github.com/openshift/origin/issues/2304

[2016-02-03 17:49] smarterclayton commented on #6991
We could conceivably have generic errors in a full weight group stop
processing.  If we put templatefileresolver first, and it unambiguously
could say "i found something and it is broken", then we could at least know
to stop traversing to lower weight groups.

On Wed, Feb 3, 2016 at 10:50 AM, Ben Parees <notifications@github.com>
wrote:

[2016-02-03 17:53] timothysc commented on #6977
@jeremyeder -

The hand-shake overhead forces some tooling choices for the long haul.  Converting cluster-loader examples to straight up e2es, unless upstream decides to support a repl like env.

[2016-02-03 17:54] smarterclayton commented on #6977
Just run a local proxy.

On Wed, Feb 3, 2016 at 12:53 PM, Timothy St. Clair <notifications@github.com

[2016-02-03 18:00] sjenning commented on #6981
Clarification, the secret directory in the host is 700 so it is the same in the container.

This line in the patch:
[code]

is setting the mode.

For the purposes RHEL uses this for, it makes sense.  But not for kube.

[2016-02-03 18:22] sjenning commented on #6981
@rhatdan I can confirm that this modification fixes this issue completely for me.  I'm not sure if it is the correct way, but it is _a_ way.

https://github.com/sjenning/docker/commit/27f709fd6c383f7f5a7804188ad1aa5ffe888d5e

[2016-02-03 18:37] #7000 closed

[2016-02-03 18:39] jwforres commented on #6972
think i'd prefer to force it to wrap than hide the overflow, @spadgett opinion?

[2016-02-03 18:43] benjaminapetersen commented on #6957
Fix coming with [this PR](https://github.com/openshift/origin/pull/6965)

[2016-02-03 19:00] bparees commented on #6993
closing as dupe.  thanks for researching @php-coder and @kargakis

[2016-02-03 19:03] #6995 closed

[2016-02-03 19:05] bparees commented on #6991
yes that's the sort of generic solution i was thinking of...  a class of error that results in stopping and not processing additional resolvers.

[2016-02-03 19:14] benjaminapetersen commented on #6985
Planning on addressing this as well in [this PR](https://github.com/openshift/origin/pull/6965)

[2016-02-03 19:16] spadgett commented on #6972
+1, I think I agree about force wrapping. Even if we set a title attribute, you wouldn't be able to see the full path on mobile.

[2016-02-03 19:45] stevekuznetsov opened #7011 "After logging in using a serviceaccount token, logout is impossible"
Example:

[code]

@deads2k @liggitt

[2016-02-03 19:48] deads2k commented on #7011
Ok, you can't delete it and we should let you know, but logout should update the local kubeconfig.

Also, I think examples should use `oc get user/~ --token=<>`

[2016-02-03 20:03] stevekuznetsov commented on #7011
Updated tests to use `oc get user/~`.

You're saying that the error we see is from [this](https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/logout.go#L125) attempted `Delete`? Should we try to ascertain when we are and are not supposed to be deleting the token?

[2016-02-03 20:14] bparees commented on #6980
@openshift/api-review is there any chance of this being accepted?

[2016-02-03 20:28] eparis commented on #6989
Did you link to the correct openshift issue? That doesn't seem related...

[2016-02-03 20:29] deads2k commented on #7011
Tokens are opaque.

[2016-02-03 20:48] bparees commented on #4961
The reason we don't have a single hack/test-extended.sh is because the various extended tests want customized cluster configurations.  Trying to reuse a single cluster but reconfigure it for different test groups sounds painful.

Having a single test-extended.sh that calls all the other extended test scripts, passing through any focus it was given, would be ok, though it means that you're going to

[2016-02-03 20:49] #4201 closed

[2016-02-03 20:58] rhcarvalho commented on #6991
I remember seeing maybe under docs/ or proposals/ some old design notes
about new-app.
Just throwing the question out in the wild to avoid spending too much time
trying to learn the current implementation without help, do we have any
explanation somewhere about how searchers and resolvers and the error flow
should work?
On Feb 3, 2016 8:12 PM, "Ben Parees" <notifications@github.com> wrote:

[2016-02-03 20:59] smarterclayton commented on #6980
Triggering a deploy?  Yes - except that we're going to want to do it based on the integration with the upstream deployment API and controllers.

[2016-02-03 21:00] smarterclayton commented on #6980
They want an imperative API?  Can we describe exactly the action they'd want to take?

[2016-02-03 21:00] smarterclayton commented on #4961
yeah, let's not refactor extended until we get it fixed to run in less than
an hour and split appropriately.

On Wed, Feb 3, 2016 at 3:48 PM, Ben Parees <notifications@github.com> wrote:

[2016-02-03 21:08] marun commented on #4961
Given that test/extended/networking.sh does entirely separate test setup/teardown (uses dind to simulate multinode) from test/extended/core.sh, I'm also not sure how cluster reuse would make sense for networking unless we're talking about a real (not test-managed) cluster.  I can see how a single entrypoint could be valuable though.

[2016-02-03 21:09] rhcarvalho commented on #6993
It is not a dupe. @bparees, can you please reopen it?

My issue is that in several error messages we dump Go structs, that have no
relation with the API format (JSON/YAML). In extremely ugly cases we are
even printing pointers, which just makes no sense.

It is not related to oc edit, as I emphasized, perhaps not enough, in the
original issue description.

To reproduce it, you can for example crea

[2016-02-03 21:11] bparees commented on #6991
@rhcarvalho unfortunately i think your best hope is the code.

[2016-02-03 21:27] jeffvance opened #7014 "Namespace's sa.scc.uid-range should support a list of ranges"
A typical namespace:
kind: Namespace
metadata:
  annotations:
    openshift.io/sa.initialized-roles: "true"
    openshift.io/sa.scc.mcs: s0:c1,c0
    openshift.io/sa.scc.supplemental-groups: 1000000000/10000
    openshift.io/sa.scc.uid-range: 1000000000/10000
...

My existing nfs export dir has an owner of 99 and GID of 5555. I want a non-root pod to access this nfs mount, so I add `securityContex

[2016-02-03 21:41] pweil- commented on #7014
I think this is a good idea in general.  After dealing with sup groups it was clear that we could reuse strategies between the two and that UID was more complicated than it needed to be.

In the upstream PR I've suggested doing this exact thing: https://github.com/kubernetes/kubernetes/pull/7893/files#diff-e1c628c34c42840b0392c48481d41320R967

So the question is whether or not we want to implement

[2016-02-03 21:56] spadgett opened #7016 "Create from image page changes background color at bottom"
This page has a gray background, but the bottom of the page is white. There is quite a lot of bottom padding here, too.

To reproduce

1. Click add to project
1. Pick a builder image
1. Click the advanced options link

I believe this only happens at mobile widths.

![openshift_web_console_and__origin__force_mount_path_to_word_break_so_it_works_at_mobile___7009__-_spadgett_redhat_com_-_red_hat_mail

[2016-02-03 22:11] #2281 closed

[2016-02-03 22:11] #3493 closed

[2016-02-03 22:11] #4344 closed

[2016-02-03 22:11] #4885 closed

[2016-02-03 22:15] mwringe opened #7017 "Latest 'oc' breaks headless services"
The latest oc command breaks headless services, while older oc commands can still create headless services without issue (eg `portalIp: None`)

**Note**: the following example is running on the exact same OpenShift instance (built from master), the only difference is the `oc` command used.

With the latest version:
[code]

With an older version:
[code]

**Note**: There are also more recent changes

[2016-02-03 22:42] liggitt commented on #7017
likely happened at the last rebase boundary

[2016-02-03 23:06] liggitt commented on #6848
The downsides are significant:
* Makes binaries 15MB bigger
* Adds 10-15 minutes to our build/test time for verifying codec generation
* Makes any API change automatically get a 20k line conflicting diff
* Means we need to figure out codecgen of k8s codecs for our carried types and fields

[2016-02-03 23:22] danni opened #7018 "Support for Bitbucket web hooks"
Currently using the generic webhook with Bitbucket causes rebuilds for pushes to all branches. Propose natively supporting the [Bitbucket webhook format](https://confluence.atlassian.com/bitbucket/event-payloads-740262817.html#EventPayloads-Push).

[2016-02-04 00:52] stevekuznetsov commented on #6848
The diff is something I can work on if we decide we are going in this direction.

[2016-02-04 00:57] smarterclayton commented on #2335
We should fix this by double checking our default router config for the correct rolling parameters

[2016-02-04 01:13] kargakis commented on #6337
Generation is not what we want here. How about a spec.version field? And maybe have it updated via a subresource? @liggitt and @ironcladlou already mentioned those, not sure why I didn't process them until now

[2016-02-04 01:18] smarterclayton commented on #6337
Ultimately both types of clients should mutate the DC (or invoke an endpoint like instantiate) that masks this.  We can't drop support for old clients mutating the client - so we have to continue to have a field that works with the existing call patterns.  However, we can take control of the edit and say "the presence of a status.Version that is not zero and differs from the current value counts a

[2016-02-04 01:20] smarterclayton commented on #6337
If updating status.version did the same thing as updating metadata.generation, and that was the initial value that was used to convey changes to the effective deployment spec (the part that triggers mutation on config), then an instantiate / rollout endpoint can be added.

[2016-02-04 01:21] smarterclayton commented on #6337
Basically: can't drop back compat.  Need to handle it during strategy update.  Should use generation.  Should not let the user increment by more than 1.  Need to figure out how this translates to the deployment controller.  Better to have endpoint to trigger equivalent mutation when necessary.

[2016-02-04 01:27] kargakis commented on #6337
Ah, now it's clearer to me. I will start working on this asap since it's blocking a bunch of other issues.

[2016-02-04 01:29] smarterclayton commented on #6337
You can see an example of generation in image stream - that was blocked by we needed per tag generation, and old clients didn't set it, so we had to treat nil as "don't care" and 0 as "new".  I think here though we want to treat status.LatestVersion as "may only increment by one or be equal, otherwise this is treated as a conflict".  However, we'd need to do backcompat tests to validate that.

[2016-02-04 01:44] danni opened #7019 "Trigger to redeploy containers when a secret changes"
Updating a secret should redeploy all deployments who mount that secret so that the latest version of the secret is automatically reflected in the cluster.

[2016-02-04 01:59] #6972 closed

[2016-02-04 02:06] spadgett commented on #2881
This happens for the edit build config form, too (#6528).

[2016-02-04 02:07] smarterclayton commented on #3916
Can we easily convert expvar to prometheus?  If not, let's just expose a simple prometheus endpoint and collect the metrics we do have.

[2016-02-04 02:18] smarterclayton opened #7021 "Need SCC for hostnetwork for router to use"
We shouldn't be reusing the other ones.

[2016-02-04 02:33] smarterclayton opened #7022 "Cherry-pick validation on non-namespaced resources"
https://github.com/kubernetes/kubernetes/pull/16146 fixes it, but we have reports its clogging logs and blocking events.  But if we have to cherry-pick an upstream before the rebase... @deads2k your call but I think I'm just going to cut 1.1.2 without this.

[2016-02-04 02:34] smarterclayton commented on #7017
You have a typo in tester_yaml.txt - should be `portalIP`, not `portalIp`

[2016-02-04 02:35] smarterclayton commented on #7017
Not sure how this ever worked.

[2016-02-04 02:41] smarterclayton commented on #6996
You mean like:

[code]

[2016-02-04 02:46] smarterclayton commented on #6917
Have not seen this since 6670 merged.  Have seen a few newapp unit test stalls, but not the same scenario as before.

[2016-02-04 03:24] liggitt commented on #7017
ugorji is stricter about case when ummarshaling, that could be it

[2016-02-04 03:33] liggitt commented on #6848
I'd like the var name allocation made function-local in ugorji generally… if only for upstream

[2016-02-04 03:46] liggitt commented on #7017
The other changes I know of were typos like "Kind" and "Name" working previously, and now needing to be "name" and "kind". Are there changes other than case-sensitivity that you've noticed?

[2016-02-04 04:36] stevekuznetsov opened #7023 "new-app can't find imagestream for Jenkins example"
Deployment fails to trigger on image change, `oc status` claims no imagestream exists, but one does. This is the entire workflow:
[code]

/cc @bparees @gabemontero

[2016-02-04 04:40] bparees commented on #7023
It doesn't exist in the openshift namespace, which is where your DC(from
the Jenkins template) is looking for it.

create the image streams in the openshift namespace.

Ben Parees | OpenShift
On Feb 3, 2016 11:36 PM, "Steve Kuznetsov" <notifications@github.com> wrote:

[2016-02-04 04:43] bparees commented on #6917
But we don't know why that fixed it?   I'm happy to close this, but..  :/

[2016-02-04 05:00] smarterclayton commented on #6917
No need to close yet - but it's not our most common flake now

[2016-02-04 05:17] stevekuznetsov commented on #7023
We need to make that more obvious from `oc status`. Thanks @bparees

[2016-02-04 06:32] rhatdan commented on #6981
It should never have been 777, this would be a security issue.  If necessary we could make it 755, but I don't think you actually need it to be accessible by non root.

[2016-02-04 06:33] rhatdan commented on #6981
SHould be fixed in rc4.

[2016-02-04 07:28] mfojtik commented on #6996
@smarterclayton yes, but they want to see that in overview page...

[2016-02-04 07:34] #5717 closed

[2016-02-04 08:17] jimmidyson commented on #3916
Prometheus does have an expvar collector (https://godoc.org/github.com/prometheus/client_golang/prometheus#ExpvarCollector):

I guess we'd need to quantify what slow means & what the impact is. It's a shame we can't do more direct instrumentation of course.

[2016-02-04 08:46] AlbertoPeon commented on #6989
No, I did not :)

This is the right one - https://github.com/openshift/openshift-ansible/issues/1261
I've also edited the original post.

[2016-02-04 09:23] jimmidyson commented on #6954
Just to clarify, you see Jenkins integration working like this:

1. A new build strategy called e.g. `Jenkins`. This would be used for declaring requested state, only used for storage.
2. A Jenkins plugin watches OpenShift build configs for Jenkins build strategies, creates/updates jobs as required.
3. Part of Jenkins workflow is to update OpenShift builds/build configs with status, URLs, etc.

So

[2016-02-04 09:26] jstrachan commented on #6954
@smarterclayton if the CIBuilder can't communicate with the Jenkins / Teamcity / Bamboo server it can fail the build; just like if a git clone fails.

When doing something like `oc new-app` with a git repo that has a Jenkinsfile inside; we can check if there is a service called `jenkins` in the current namespace and if not the command can fail and tell the user to configure a jenkins service (via

[2016-02-04 09:32] jimmidyson commented on #6954
@jstrachan Like the idea for `oc new-app`. Can validate if `Jenkinsfile` exists in source repo if `jenkins` build strategy is requested via cmd line flag. If strategy isn't specified & `Jenkinsfile` exists in source repo then can recommend `jenkins` build strategy. Auto-provisioning Jenkins as required would be good too.

When you say CI builder what do you mean? If we just use OpenShift for stora

[2016-02-04 09:33] mfojtik commented on #6954
@jstrachan @jimmidyson is the `Jenkinsfile` something widely used by the Jenkins community? I like @jstrachan idea.

[2016-02-04 09:35] rawlingsj commented on #6954
@mfojtik yeah Jenkinsfile is the main effort behind [Jenkins 2.0 - Pipeline as code](https://wiki.jenkins-ci.org/display/JENKINS/2.0+Pipeline+as+Code)

[2016-02-04 09:37] jstrachan commented on #6954
@jimmidyson my use of the term "CIBuilder" - I just meant this new kind of BuildConfig kind. Sorry for being unclear.

I guess we need a jenkins bridge microservice; that watches BuildConfigs to create/update Jenkins jobs - then also watches Jenkins builds to ensure that the Build objects get created and updated with the status of the build etc. e.g. if a build gets triggered in the Jenkins consol

[2016-02-04 09:38] mfojtik commented on #6954
CC @arilivigni

[2016-02-04 09:38] jstrachan commented on #6954
@mfojtik BTW Jenkins can now be pointed at a github organisation; it then scans all projects and for any branch that has a Jenkinsfile inside it in the root directly; it automatically spins up a Jenkins job for running the Jenkinsfile pipeline

[2016-02-04 09:38] rawlingsj commented on #6954
@jstrachan yeah I think a jenkins bridge as you describe makes sense.

[2016-02-04 09:44] rhcarvalho commented on #6993
I've updated the issue description to include a more detailed example how to reproduce the problem.

[2016-02-04 09:47] jstrachan commented on #6954
I wonder should be be Jenkins specific right now or design up front for any CI tool from the start?

e.g. if a customer has an existing Teamcity or Bamboo installation and set of build jobs already (which seems fairly common right now), it would be nice to have a "TeamCity bridge" or "Bamboo bridge" that does the same kinda thing as a Jenkins bridge (watches BuildConfigs & ensures there's builds d

[2016-02-04 09:49] arilivigni commented on #6954
@jstrachan Does the Jenkinsfile and workflow 2.0 support Team City and Bamboo?

[2016-02-04 09:52] jstrachan commented on #6954
@smarterclayton on the operational side of jenkins; the jenkins could be hosted elsewhere, it could be a SaaS offering, or it could be a service and pod inside OpenShift.

I guess we could maybe use the new Service Catalog / ServiceClaim stuff to ensure that a suitable Jenkins service implementation gets provisioned for a users namespace? i.e. if there's no Service yet for jenkins, we create a Ser

[2016-02-04 09:59] jstrachan commented on #6954
@arilivigni a Jenkins pipeline can trigger builds in any of TeamCity, Bamboo, Jenkins or OpenShift then if required it can wait until they complete etc.

e.g. if a customer already has existing builds in TeamCity/Bamboo we can use a Jenkinsfile to orchestrate those builds then test & deploy the build artefacts in OpenShift

[2016-02-04 10:00] rhcarvalho commented on #6993
Looking at https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go, seems that in upstream they never use `field.Invalid` with a compound type.

For most usages I looked at, the second argument is always a string or number.

Cases when the problem is on a compound value, `""` is used: [pkg/api/validation/validation.go#L989](https://github.com/kubernetes/kubernetes/blo

[2016-02-04 10:47] BSchwetzel commented on #6733
I see that it is searching for an IP, which seems to call the function Addr() in Go itself: https://golang.org/src/net/interface.go

As my problem is not the search, but the choice of its result (being an IP that is not an IP of the server origin is running on). After using the script from https://github.com/kelseyhightower/go-examples/blob/master/network-interfaces.go I now think the bug may be i

[2016-02-04 10:47] #6733 closed

[2016-02-04 11:25] nak3 commented on #4733
@liggitt Since we close https://github.com/openshift/origin/pull/4760, we should close this issue?

[2016-02-04 11:29] mrosic opened #7026 "Feature request: --logfile for origin master/node"
We would like to be able to write the logs into a separate log file and not into /var/log/messages.
This would enable us to have detailed logging (for example log level 4) without completely spamming /var/log/messages and systemd-journald

At the moment the only way seems to be to create an rsyslog filter which is not a nice solution since that puts even more load on rsyslogd.

[2016-02-04 12:40] jimmidyson commented on #6954
I'd say it might be best to get Jenkins integration nice & tight first, bringing TeamCity/Bamboo into the picture later if there's a call for it.

[2016-02-04 12:50] mnagy commented on #6745
@praiskup, I think this means we need to add postgis package to the SCL collection?

[2016-02-04 12:59] mfojtik commented on #6954
@jimmidyson @jstrachan can you guys update this card? https://trello.com/c/ZFMTmd9d/413-5-autoconfigure-jenkins-build-jobs

[2016-02-04 12:59] deads2k commented on #7022
The pick wasn't perfectly clean, but lets see if #7027 resolves our problem.

[2016-02-04 13:01] praiskup commented on #6745
@mnagy, right, we would have to add it there.  Note that that there is no progress yet on
this topic, there is fair amount of dependencies not available in RHEL.
https://bugzilla.redhat.com/show_bug.cgi?id=1300650

[2016-02-04 13:05] mfojtik commented on #6745
@bparees that will not work for online image right? unless you build it yourself locally/on hub and push it to up to online :-)

[2016-02-04 13:14] liggitt commented on #4733
I think so, yes

[2016-02-04 13:14] #4733 closed

[2016-02-04 13:45] spadgett commented on #7006
I like the new tab style, but I feel like the tab text and h3 text inside the tab are too similar now. Same font, same gray line.

[2016-02-04 14:02] mwringe commented on #7017
Is there any way to have the oc command check things like this and output an error message? I suspect this may cause a lot of issues when people update to a newer version and the system now starts to silently ignore certain options.

[2016-02-04 14:05] liggitt commented on #7017
Not a good way, no.

[2016-02-04 14:06] liggitt commented on #7017
To be clear, all doc and all API returned objects had the correct attribute names. It was really a bug that incorrect case was accepted.

[2016-02-04 14:30] timothysc commented on #5765
@jayunit100 please re-open and refresh once pending next rebase cycle.

[2016-02-04 14:38] jayunit100 commented on #5765
ack will reopen pr that will assume libification  completed shortly

[2016-02-04 14:55] smarterclayton commented on #6954
The big question seems to be should the Jenkins integration ALWAYS write back build objects that reflect jenkins builds, or simply write status back to the build config.  I *think* it would be better if Jenkins was writing things to build config like:

(just an example)
[code]

If Jenkins keeps that up to date (periodically writing status) then the OpenShift UI would be able to react to it.  We've

[2016-02-04 15:01] smarterclayton commented on #6954
And we could build that in a way that informs service claims and helps us do a different integration.

I agree with the general concerns about being Jenkins specific - I guess it depends on how generic the user's request is - we could have it be ExternalCI and have a field where we could set the Jenkinsfile into it - the integrations could detect that it's Jenkinsfile type and "claim" it for Jenki

[2016-02-04 15:04] smarterclayton commented on #6954
Does a 1=1 correspondence between an openshift build config an a Jenkins/Pipeline make sense?

[2016-02-04 15:05] smarterclayton commented on #3916
We could simply have the prometheus expvar collector shim inside of the
registry code.

On Thu, Feb 4, 2016 at 3:17 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2016-02-04 15:09] bparees commented on #6745
@mfojtik until online offers docker builds, correct.  doesn't strike me as a huge blocker.

[2016-02-04 15:09] bparees commented on #6745
@mfojtik and to be clear i'm just offering a temporary workaround, not saying "we would never do this because you can do it yourself"

[2016-02-04 15:13] DirectXMan12 commented on #6766
AWS EBS Volume Limit Scheduler Predicate - kubernetes/kubernetes#19880

[2016-02-04 15:14] bparees commented on #6745
@hhorak @eliskasl can you add postGIS extensions to the SCL packaging wishlist?

[2016-02-04 15:22] smarterclayton commented on #6981
As long as /run/secrets/kubernetes.io doesn't get made to be 700 we should
be ok.

On Thu, Feb 4, 2016 at 1:33 AM, Daniel J Walsh <notifications@github.com>
wrote:

[2016-02-04 15:23] bparees commented on #7023
@stevekuznetsov can you create a new issue for that?

[2016-02-04 15:23] #7023 closed

[2016-02-04 15:27] hhorak commented on #6745
It's already been tracked on the wishlist for some time (https://bugzilla.redhat.com/show_bug.cgi?id=1008506), not easy to do and beyond our resources right now..

[2016-02-04 15:56] smarterclayton commented on #6996
Practically, aren't most builds that haven't yet started running but have been scheduled pulling?

[2016-02-04 16:00] mfojtik commented on #6996
@smarterclayton yes, if we can get that information to overview page, so you know what is happening when you just create the app. At least that was what marketings guys want.

[2016-02-04 16:15] ryanj commented on #6745
Thanks for the feedback. I was hoping that we could extend / add layers to our basic pg image.

I can tell people to use the CrunchyData team's image that provides PostGIS: https://github.com/CrunchyData/crunchy-postgres-container-94

[2016-02-04 16:26] #6456 closed

[2016-02-04 16:26] #4961 closed

[2016-02-04 16:26] bparees commented on #6745
@ryanj to be clear, you can do that, but we can't ship an image like that because we need the postGIS extension to come from an official SCL package, which doesn't exist yet.

[2016-02-04 16:26] #7022 closed

[2016-02-04 16:27] spadgett commented on #7016
Happens on the create route page as well.

<img width="787" alt="openshift_web_console_and_mozilla_firefox_start_page" src="https://cloud.githubusercontent.com/assets/1167259/12821667/50b7b7a6-cb32-11e5-8218-7ffea240f9ef.png">

[2016-02-04 16:36] spadgett opened #7030 "Web console: Image stream tags table has no empty message"
When there are no tags for an image stream, the table is empty with no message.

<img width="712" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/12821817/1edbef76-cb33-11e5-904b-7a3c5b3ef1ba.png">

/cc @jwforres

[2016-02-04 16:47] jwforres commented on #5115
zeroclipboard has made no progress on their html5 support, we are going to switch to clipboard.js, both bootstrap 4 and patternfly are using it on their websites, we will just use the recommended fallback behavior for safari

[2016-02-04 16:56] ryanj commented on #6745
got it - don't use our image, we're blocked

[2016-02-04 16:57] childsb commented on #4351
Does this problem still exist?

[2016-02-04 17:39] thesteve0 commented on #6996
Having a spinning wheel for 3 minutes without saying why it is spinning
looks a lot like "broken". It is just to give the end user feedback about
why it is taking so long

On Thu, Feb 4, 2016 at 8:00 AM, Michal Fojtik <notifications@github.com>
wrote:

[2016-02-04 17:42] spadgett commented on #5988
@jwforres added a checklist item for editing build configs

[2016-02-04 17:50] smarterclayton commented on #6996
We can just say "pulling image".  It's right 90% of the time.

[2016-02-04 17:58] timothysc opened #7032 "Namespace/Project leftovers"
For some time we have known namespaces leaves a directory structure under a resource objects it creates.  In openshift this is 1:1 with projects.  So as projects come and go there is a lot of leftover directories in etcd.  O(10^3)

We'll run a quick experiment to determine the space consumed by leftovers.

/cc @abhgupta @derekwaynecarr @jeremyeder

[2016-02-04 18:04] stevekuznetsov opened #7033 "`oc status` should identify objects with namespace, kind, and name"
For instance, when a build can't start because of a missing image stream, I should know that _a)_ and image stream is missing, _b)_ what that image stream's name is (and the tag), _c)_ it's namespace. Currently we lack the namespace info.

/cc @bparees

[2016-02-04 18:12] jwforres commented on #7030
yep i already have a fix for this in my loading messages PR actually.

[2016-02-04 18:14] liggitt commented on #7033
The namespace should only be included if it's different than the current one, to avoid unnecessary clutter

[2016-02-04 18:21] smarterclayton commented on #6911
I think your IP has changed - which means the certificates the master uses
are wrong.  If you're using a written out config, you'll need to generate
new certs for the new IP.

On Tue, Feb 2, 2016 at 11:32 AM, Brett Neese <notifications@github.com>
wrote:

[2016-02-04 18:22] bparees commented on #6745
reopening, we still do want to address this when an appropriate package is available that enables us to do so.

[2016-02-04 18:25] sg00dwin opened #7034 "Flash content issue when a project is empty"
There is a 'flash' content issue when a project is empty, where the white page header and filter bar flashes then is replaced with showGetStarted content.

[2016-02-04 18:32] sg00dwin opened #7035 "Project select 'display name' flickers if their are multiple projects, when switching views."
Initially the project  'name' is shown and switches to a 'display name' if it exists.

[2016-02-04 18:34] sg00dwin opened #7036 "Convert table list views to the new patternfly item list view design"
Patternfly list markup and styles
http://rawgit.com/patternfly/patternfly/master/tests/list-view.html

[2016-02-04 18:37] derekwaynecarr commented on #7032
The etcd leftover is a one directory per namespaced kind that existed in the namespace.

[2016-02-04 18:40] cpitman opened #7038 "IE11 in Intranet/Compatibility Mode is Served JSON Instead of HTML"
IE11, by default, serves any "intranet" sites using it's compatibility mode. This changes the `Accept` header sent in a request to `application/x-ms-application, image/jpeg, application/xaml+xml, image/gif, image/pjpeg, application/x-ms-xbap, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/msword, ​/`. When this happens, openshift responds back with json instead of html.

The

[2016-02-04 18:45] pweil- commented on #7017
@liggitt - is there anything we can do here then?  It sounds like there isn't.  Maybe this warrants a note in the upgrade.MD?

[2016-02-04 19:23] zenorocha commented on #5115
:tada:

[2016-02-04 19:42] jimmidyson opened #7041 "Daemonset doesn't default selector correctly"
As documented at https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L412-L415, selector should default to template labels. This isn't working in origin master as daemonsets conversions are missing & hence no defaulting funcs are run. I think this is fixed in kubernetes/kubernetes@bd3b476b, had a go at cherry-picking this in but a lot of other changes to files that ma

[2016-02-04 20:10] timothysc commented on #7032
A simple risk mitigation could be a cron util to periodically cleanup.

[2016-02-04 20:15] YannMoisan opened #7044 "switch to previous project"
Add a command to oc in order to switch quickly to a previous project, in the spirit of commands like `cd -` or `git checkout -`.

I would suggest `oc project -`.

[2016-02-04 20:47] YannMoisan opened #7045 "small improvements for oc deploy"
- for a project with only one dc, the dc could be optional for command `oc deploy`
- after `oc deploy <dc> --latest`, we could suggest to run `oc logs dc/<dc>` to get information on the deployment.

[2016-02-04 20:57] abhgupta commented on #7032
I have asked @jawnsy to run the quick experiment to assess the extent of the issue from a etcd memory perspective.

[2016-02-04 21:10] kargakis commented on #7045
@smarterclayton you mentioned something about `oc deploy --follow`. Do we want that?

[2016-02-04 21:27] liggitt commented on #7044
Not sure I want to keep track of multiple levels of project state required to know the previous project

[2016-02-04 21:51] smarterclayton commented on #7045
Kind of.  If it's easy (basically what oc dc/logs -f does but only on the
deploy that we just kicked off)

On Thu, Feb 4, 2016 at 4:10 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-02-04 21:51] smarterclayton commented on #7045
Also, we can't fail due to a timeout error - it literally has to run
forever.

On Thu, Feb 4, 2016 at 4:51 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-02-04 22:07] liggitt commented on #7017
Correct, just doc

[2016-02-04 22:08] liggitt commented on #7038
IE is saying it doesn't accept html?

[2016-02-04 22:09] smarterclayton commented on #7017
Please make sure it makes it into the release notes and I'll add it to the
1.1.2 release notes.

On Thu, Feb 4, 2016 at 5:07 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-04 22:10] YannMoisan commented on #7044
It is in the ~/.kube/config file, isn't it ?

[2016-02-04 22:12] liggitt commented on #7044
all projects visited are, not a record of which was previous

[2016-02-04 22:12] timothysc opened #7048 "label deletion of all namespaces (openshift & openshift-infra) - cluster inoperable restart required."
So I was automating some project deletion tests and I fat fingered my cluster to inoperable, where the only recovery was master restart.

[code]

Once that was done, further tests appeared as if they were executing, but on inspection, 0 pods were running.

In hindsight it was silly, but it doesn't appear that the openshift and openshift-infra namespaces auto recover like 'default'.

xref: #3274

/

[2016-02-04 22:13] liggitt commented on #7048
correct.

[2016-02-04 22:18] timothysc commented on #7048
I guess the point is, system services/namespaces etc should be recoverable from operator error.

[2016-02-04 22:22] liggitt commented on #7048
same issue as #3274

[2016-02-04 22:22] #7048 closed

[2016-02-04 22:40] YannMoisan opened #7050 "access .git during the build"
When I build from a Git Repository Source, the `.git` folder is not available.

But my build process need it to generate some info at build time, using command like `git describe`.

The main use case is to retrieve the commit id.

[2016-02-04 23:32] jayunit100 commented on #5765
cc @smarterclayton had a question of how we would build and distribute this.  We can discuss in this thread the end goal of how the make target will get embedded into rpm specs and so on...

[2016-02-04 23:47] timothysc commented on #5765
Same locs as what is done for k8s in rhel-extras,  ill dig up the details
later.  But essentially the end goal would be unifying cluster conformance
tests.
On Feb 4, 2016 5:32 PM, "jay vyas" <notifications@github.com> wrote:

[2016-02-04 23:49] cpitman commented on #7038
That above header is exactly what I get (according to the developer tools) when I force it into compatibility mode, and it matches symptoms we've had at two sites now where openshift was deployed on an intranet and users couldn't hit the console with IE.

[2016-02-05 00:11] liggitt commented on #7038
That's… unbelievable :(

[2016-02-05 00:25] smarterclayton opened #7051 "No describer for SCC"
Looks like it was never implemented

[2016-02-05 00:25] smarterclayton commented on #7051
Would like to get this in 3.2

[2016-02-05 00:37] liggitt opened #7052 "Rename humans group"
Per https://github.com/openshift/origin/pull/6789#issuecomment-174346898, rename humans group to something more prosaic, like system:authenticated:oauth

[2016-02-05 02:38] danni opened #7055 "Openshift Dashboard showing wrong build/commit ID for deployment"
My Openshift dashboard is stuck showing build #1 (with the commit message for build #1) and the old image id in the dashboard for my deployment. However it also states that the deploy redeployed 4 hours ago from an image change. `oc describe pod ...` is showing the right (current) image as is `oc describe dc ...`

[2016-02-05 02:47] liggitt commented on #7055
Dupe of https://github.com/openshift/origin/issues/6919 ? What version are you running?

[2016-02-05 03:00] danni commented on #7055
Looks like it could be.

[code]

[2016-02-05 03:02] liggitt commented on #7055
Looks like it. Fixed in https://github.com/openshift/origin/pull/6945, slated for 1.1.1.2

[2016-02-05 03:02] #7055 closed

[2016-02-05 03:29] liggitt commented on #7038
@jwforres the least awful things I can think of:
1. additionally display html instead of json if the user-agent looks like a browser (starts with "Mozilla/" or something)
2. flip the condition and only display json if the Accept header specifically asks for it

[2016-02-05 04:03] liggitt commented on #4351
Yes, the `volume` command hasn't switched to use patch yet, so it is still subject to resource conflicts.

[2016-02-05 04:31] #6956 closed

[2016-02-05 04:31] #6957 closed

[2016-02-05 04:31] #6985 closed

[2016-02-05 04:31] #7003 closed

[2016-02-05 06:29] #6974 closed

[2016-02-05 06:29] #6968 closed

[2016-02-05 06:29] #7030 closed

[2016-02-05 06:53] #7052 closed

[2016-02-05 08:32] rhatdan commented on #6981
I am not sure about that, if a non priv process needs to get to /run/secretes/kubernetes.io, they won't be able to since they will not be able to search through /run/secrets.
[code]

[2016-02-05 08:32] rhatdan commented on #6981
I can change the permissions to 755 to fix this.

[2016-02-05 08:50] jstrachan commented on #6954
@jimmidyson totally agreed - lets nail awesome Jenkins support from an implementation perspective first before worrying about anything else.

My comment was more to avoid calling everything a `JenkinsBuildStrategy` in the BuildStrategy type; maybe we call it a CIBuildStrategy or something so that its specifically defined to talk to some CI service via a named service at a given relative URL, with

[2016-02-05 08:52] jstrachan commented on #6954
@smarterclayton yes, there's a 1=1 correspondence between an openshift BuildConfig and a Jenkins job and a Jenkinsfile when using the Jenkins Pipeline. Then each build of the jenkins job maps to an openshift Build

[2016-02-05 08:58] arilivigni commented on #6954
FYI @smarterclayton you can also do this today with Jenkins Job Builder.  1 file to 1 multi-job.  I am working on support for JJB and the workflow plugin.  The format of JJB IMHO is a lot cleaner then a Jenkinsfile.  It is YAML based.

[2016-02-05 10:31] YannMoisan opened #7058 "NAME should be optional with oc get isimage"
The command `oc get isimage` doesn't work if you don't specified a `NAME`.

In order to be consistent with other commands and the doc, the name should be optional.

[2016-02-05 13:09] spadgett commented on #7035
As an optimization, we should the project name before the project response comes back. This causes flicker if there's a display name the select switches to.

We might need to some project data like display name to avoid the flicker.

[2016-02-05 14:05] YannMoisan opened #7060 "false negative warnings"
`oc status -v` displays this warning :

[code]

Regarding a change in [1.0.5.](https://github.com/openshift/origin/releases/tag/v1.0.5) related to security, the service account configuration is not required anymore.

[2016-02-05 14:06] liggitt commented on #7060
Fixed in https://github.com/openshift/origin/pull/6735

[2016-02-05 14:06] #7060 closed

[2016-02-05 14:07] charliemaiors opened #7061 "Horizontal Pod Autoscaler REST API"
Hi,

is possible to instantiate a Horizontal Pod autoscaler from the Openshift Origin REST API (Openshift Version 1.1.1.1)? If is possible which is the path to perform the request? on /api/v1beta1/namespace/<namespace>/horizontalpodautoscalers/ the user who own the <namespace> can't list (I've tried with a GET) this kind of objects.

[2016-02-05 14:21] liggitt commented on #7061
`/apis/extensions/v1beta1/namespaces/<foo>/horizontalpodautoscalers`

[2016-02-05 14:22] liggitt commented on #7061
HPA objects are in a new API group - extensions

[2016-02-05 14:25] charliemaiors commented on #7061
Can you please link the documentation to that object?

[2016-02-05 14:38] YannMoisan commented on #4198
In the meantime, my workaround is to run this command manually :

[code]

[2016-02-05 14:48] smarterclayton commented on #4198
We've discussed a couple of ways to implement this - id prefer for it to be in the image stream able to extract metadata from incoming images and give them dynamic tags.  I think that would be the easiest way to integrate many workflows, not just the build part.

[2016-02-05 14:53] smarterclayton commented on #6954
I'm fine with that - I'm most concerned that you have the necessary
API to store status data in this model, and what bits of job config we
want to have in Openshift (to allow an API consumer to spawn types).
Ie maybe under Pipeline there is a type "pull-request", "approval",
"stage-prod" that is the template of the outcome job.  That enables

    oc new-build --pipeline=approval

Down the road

[2016-02-05 14:57] smarterclayton commented on #6954
Ben and I chatted yesterday - do we always need to create an Openshift
build?  Or just when you need a particular image built?  If a user
creates the build config, but you guys create and drive the builds
(and we make sure there is flow back).  I'd definitely like to make
the flow of user from creation into the Jenkins experience be seamless
- they don't necessarily need to be able to oc get build

[2016-02-05 15:01] jwforres commented on #7038
@smarterclayton do you have an opinion here, since you chose the original conditions for when we would return json vs redirect to the console

[2016-02-05 15:13] smarterclayton commented on #7038
It says it accepts `/`, or `*/*`?

[2016-02-05 15:14] smarterclayton commented on #7038
I would put a specific conditional in for "if you didn't ask for HTML, didn't ask for JSON, but did ask for application/msword and your user agent looks like Mozilla then also send you to HTML"

[2016-02-05 15:16] jstrachan commented on #6954
@smarterclayton a Jenkins Pipeline job is a single Build (in the OpenShift sense) that starts and keeps running until completion/failure and has output.

Within the Jenkinsfile you can define stages which then are used to visualise its progress and group steps in long running pipelines (e.g. "make image", "run system tests", "approve promotion to Staging"). A particular Jenkinsfile may create a PR

[2016-02-05 15:16] jwforres commented on #7038
Complete with snarky comments in the code for why we are doing it...

On Fri, Feb 5, 2016 at 10:14 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-05 15:16] timothysc opened #7063 "Repeated project creation, delays far exceed resonable response times (minutes)"
Related to #6977 , but we'll keep them separate.

running against origin/master and etcd 2.2.2

In our testing jig, we need to repeatedly create projects in order to load the cluster.  As the number of projects increased, it became painfully slow for each subsequent new project creation, on the order of **minutes** per project creation when creating O(10^3)+ projects.  We've also confirmed that in

[2016-02-05 15:19] cpitman commented on #7038
I'm pretty sure it says it accepts `/`, that should be a straight copy/paste from the dev tools. When not in compatibility mode it explicitly says it supports '*/*'.

If it would help I can repeat and get a dump of all the headers in the request.

[2016-02-05 15:19] smarterclayton commented on #7038
The idea of returning a powerpoint deck describing the values of openshift
is going to haunt me for a long time.

On Fri, Feb 5, 2016 at 10:16 AM, Jessica Forrester <notifications@github.com

[2016-02-05 15:20] smarterclayton commented on #7063
when @deads2k and I looked at this before, the oc project command is
waiting for the project cache to acknowledge that you have access to the
project.  Minutes is certainly not expected, but each creation wipes the
cache.

On Fri, Feb 5, 2016 at 10:16 AM, Timothy St. Clair <notifications@github.com

[2016-02-05 15:21] smarterclayton commented on #7063
I agree this is definitely a test blocker

On Fri, Feb 5, 2016 at 10:20 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-02-05 15:21] jayunit100 commented on #7063
ack.  seen this as well in my tests on RHEL 7.2 os 3.1.1.2, average keys/sec is 2 even if we are continuously creating new resources - makes soaking impossible.  thanks for quantifying @timothysc

[2016-02-05 15:23] smarterclayton commented on #6981
Hrm - yeah, probably would be better for users to be able to see
/run/secrets.

Thanks

On Fri, Feb 5, 2016 at 3:32 AM, Daniel J Walsh <notifications@github.com>
wrote:

[2016-02-05 15:25] smarterclayton commented on #7063
As a work around, just create namespaces as an admin.

On Fri, Feb 5, 2016 at 10:22 AM, jay vyas <notifications@github.com> wrote:

[2016-02-05 15:30] jayunit100 commented on #7063
if OC client cache is the problem, does that mean this bottleneck goes away if we distributed the client calls across different nodes ?

[2016-02-05 15:34] liggitt commented on #7063
could also be accumulating hundreds of projects in the local kubeconfig file

[2016-02-05 15:39] gravis commented on #3072
docker 1.10 is out :)

[2016-02-05 15:44] smarterclayton commented on #6954
If they're mostly for the use of Jenkins (to have the environment for S2I, etc), then there's a slight disincentive to show them.  If end users can interact, there's a benefit.  Ultimately, Jenkins is keeping them in sync - as a first step, having Jenkins keep the build config in sync is enough.

Also, start-build should be using buildconfig/instantiate, which for a Pipeline strategy should be byp

[2016-02-05 15:46] timothysc commented on #7063
@smarterclayton so is the only way to side-band create a namespace with oc is via ```-f```?

[code]

[2016-02-05 15:48] jstrachan commented on #6954
creating an OpenShift Build for a jenkins job build is more for the user to see whats going on inside jenkins without having to leave the oc command line or the OpenShift console. Jenkins doesn't care either way; so maybe its a configuration option to whether or not we create the Build objects in OpenShift for the Jenkins job builds?

[2016-02-05 15:53] derekwaynecarr opened #7064 "oc status should report oom kill"
If a container has an OOM, the pod container status last termination state shows the Reason as `OOMKilled` and `ExitCode` is 137.

To help users understand the system better, we should have `oc status` report when this occurs so the user can request more memory/etc.

/cc @smarterclayton

[2016-02-05 16:06] bparees commented on #4198
that would require builds to be able to set LABELs on the images they produce, though, right?  (I assume you'd be using docker LABEL for the metadata)

[2016-02-05 16:13] benjaminapetersen commented on #6931
We have a couple options for doing this.  I don't think we want to reuse [our terminal](https://github.com/chjj/term.js/blob/master/src/term.js) for the logs, though it probably handles all the escape codes fine.  I imagine it would work for small logs, but once we get thousands of lines performance would worry me.

I'm looking at [ansi_up](https://github.com/drudru/ansi_up/blob/master/ansi_up.js)

[2016-02-05 16:36] #7017 closed

[2016-02-05 16:43] jwforres commented on #7038
Tested on an instance that doesn't have the other ms apps installed, the accept header it sends is only `*/*` but the user agent does contain Mozilla

[2016-02-05 16:52] smarterclayton commented on #4198
Yes - but I think we want to do that anyway.

On Fri, Feb 5, 2016 at 11:06 AM, Ben Parees <notifications@github.com>
wrote:

[2016-02-05 16:55] deads2k commented on #7063
This is what I found in the 3.1 timeframe.  Try clearing that file periodically.

[2016-02-05 16:59] smarterclayton opened #7066 "Print proxy information from serviceability code path"
Ensure that we always have logs that indicate what proxy is in play.

[2016-02-05 17:03] smarterclayton commented on #7063
@timothysc until david's next rebase (next week) yes, we don't have create
namespace yet.

On Fri, Feb 5, 2016 at 11:55 AM, David Eads <notifications@github.com>
wrote:

[2016-02-05 17:07] liggitt commented on #7066
could be as simple as logging these envvars:
[code]
need to be careful since authenticated proxies could include username/passwords in the URL

[2016-02-05 17:09] smarterclayton commented on #6954
Maybe - I definitely want to see the technical plan for how we integrate
s2i and the jenkins work - it's not clear to me now what benefit an s2i
user will get if their builds run in a different context, so i would expect
at least some of the time jenkins to be creating an s2i build.  Maybe we
need to sort that out first and then that'll tell us what the right thing
is here.

But in general, it sou

[2016-02-05 17:13] jayunit100 commented on #6766
E2E libraryzation also would need https://github.com/kubernetes/kubernetes/pull/19778 #7049

[2016-02-05 17:15] liggitt commented on #7038
according to microsoft docs, the user agent string always starts with Mozilla, both in compatibility mode and standards mode:
https://msdn.microsoft.com/en-us/library/hh869301%28v=vs.85%29.aspx
https://msdn.microsoft.com/en-us/library/bg182625%28v=vs.85%29.aspx#uaString
https://msdn.microsoft.com/en-us/library/ms537503%28v=vs.85%29.aspx#UnderstandUA

[2016-02-05 17:35] deads2k commented on #7058
@smarterclayton how do you feel about the fanout?

[2016-02-05 17:55] kargakis commented on #7061
https://docs.openshift.org/latest/dev_guide/pod_autoscaling.html
https://github.com/kubernetes/kubernetes/blob/175d0c57f2387774477ad581d14835f4a9d1a456/docs/design/horizontal-pod-autoscaler.md#horizontal-pod-autoscaling

[2016-02-05 17:57] #7034 closed

[2016-02-05 18:10] smarterclayton commented on #7058
I want to do this, but I want to fix up imagestreamtags to solve the other problems it has first.  Agree this should be next.

[2016-02-05 18:21] spadgett opened #7067 "Projects dropdown doesn't update immediately after editing project display name"
The selected project name in the projects dropdown doesn't update when saving display name edits on the settings page. (It will update when leaving the settings page, however.)

/cc @jwforres @benjaminapetersen

[2016-02-05 18:26] benjaminapetersen commented on #7067
This looks like a job for a nice simple pub-sub module!
([suggested in this PR](https://github.com/openshift/origin/pull/6187))

[2016-02-05 18:42] jcantrill commented on #6980
@smarterclayton Not sure what you are asking here but an api that would provide:

`oc deploy DEPLOYMENTCONFIG [--latest|--retry|--cancel|--enable-triggers]`

I would expect to be able to make a REST call with something like:

`https://localhost:8443/oapi/v1/mynamespace/deploymentconfig/foo/deploy?version=latest`
or maybe:
`https://localhost:8443/oapi/v1/mynamespace/deploymentconfig/foo/deploy?canc

[2016-02-05 19:13] liggitt commented on #7063
can you add a trace from one of the slow project creates? (`oc new-project --loglevel=8`). I'd like to see where the time is being spent from the client's perspective

[2016-02-05 19:37] liggitt commented on #7063
@jayunit100 can you also check the size of the kubeconfig file ($KUBECONFIG or ~/.kube/config)? I expect it is enormous, and decoding (possibly multiple times), adding a new project stanza, and re-encoding can start to take significant time

[2016-02-05 20:22] benjaminapetersen commented on #5913
Couple options for how we could display error messages:

- A user is probably already looking for the log output, so printing the error here will ensure it is read:
![screen shot 2016-02-05 at 3 12 05 pm](https://cloud.githubusercontent.com/assets/280512/12857974/306a794a-cc1b-11e5-9878-ecc1cf3d9cf4.png)

- Or we can reuse an alert box style in place of the log viewer.  This may be initially disor

[2016-02-05 20:26] benjaminapetersen commented on #5913
Per comment above, we prob should have an alert style message (or something like it) to handle 'logs not able to run yet':
[code]

[2016-02-05 20:41] timothysc commented on #7063
[code]

[2016-02-05 20:43] liggitt commented on #7063
thanks. is $KUBECONFIG set to a different path?

[2016-02-05 20:44] timothysc commented on #7063
nope.

[2016-02-05 20:45] YannMoisan opened #7070 "command to display a direct link to REST API"
I'd appreciate to have a command that for a given type, display or open a direct link to the corresponding section in the REST API.

The command might be `oc help bc` or enrich existing `oc types` to add a direct link to https://docs.openshift.org/latest/rest_api/openshift_v1.html#v1-buildconfig

[2016-02-05 21:53] mwringe opened #7074 "Support pending logs"
Right now if you try and get logs for a pod which is pending you will get the following error:

[code]

Pods in a pending state can and do provide logs, they can be retrieved using `docker log` just not `oc logs` or visible in the console. This is especially the case when dealing with containers which use postStart hooks.

It would be nice to be able to use the oc tools and console to view these l

[2016-02-05 22:07] liggitt opened #7075 "Exercise pod/build logs in UI e2e test"
Would be good to add an e2e test in the UI to prevent breakage of the log viewing feature

c.f. https://github.com/openshift/origin/pull/7073

[2016-02-05 22:14] timothysc commented on #7063
I've update the test to continually overwrite the $KUBECONFIG file and the repose time peaks out at 2 seconds, which is a lot better.

[2016-02-05 22:20] mwringe opened #7076 "Get logs from lifecycle scripts"
It would be nice to be able to fetch the logs from lifecycle scripts (postStart, preStop, liveness probes, etc).

[2016-02-05 22:25] mwringe opened #7077 "Display docker image information in the console"
It would be nice to be able to display in the console information about a docker image being run in a pod (similar to what we would get back from `docker inspect`).

This would make it easier to users to find information about the image itself (labels, author, etc).

[2016-02-05 22:40] gravis commented on #3072
I just tried with 1.10:

[code]

[code]

[code]

[code]

Am I missing something?

[2016-02-05 22:53] smarterclayton commented on #6917
I am still not seeing this.  I'm going to close and reopen if it comes up.

[2016-02-05 22:53] #6917 closed

[2016-02-05 22:54] smarterclayton commented on #6818
This hasn't happened since the last failure, and is basically either the etcd flake or the image import flake.  Simplifying down to one.

[2016-02-05 22:54] #6818 closed

[2016-02-05 23:02] smarterclayton commented on #6797
Haven't seen this since the merge.

[2016-02-05 23:02] #6797 closed

[2016-02-05 23:02] smarterclayton commented on #6676
Isn't this fixed now?

[2016-02-05 23:03] smarterclayton commented on #6533
Have not seen this recently

[2016-02-05 23:03] smarterclayton commented on #6437
I haven't seen this, I believe it can happen because the image was being pushed while it was running.

[2016-02-05 23:03] #6437 closed

[2016-02-05 23:04] smarterclayton commented on #6435
Scary, but have not seen this since then.

[2016-02-05 23:05] smarterclayton commented on #6384
No longer actionable - known timeouts in units are anything that fetches from github or docker hub when those are slow.

[2016-02-05 23:05] #6384 closed

[2016-02-05 23:05] YannMoisan opened #7079 "buildname could be optional in oc logs build"
When buildname is not specified, `oc logs build` could display the logs of the last build.

A workaround is possible with the following alias

[code]

[2016-02-05 23:05] smarterclayton commented on #6121
Unable to perform initial IP allocation should be resolved in the next PR.  I'm going to close since we haven't seen this again and there is a known fix for one cause.

[2016-02-05 23:05] #6121 closed

[2016-02-05 23:06] smarterclayton commented on #5881
Haven't seen since.

[2016-02-05 23:07] smarterclayton commented on #5881
Nm, caps was new.

[2016-02-05 23:08] smarterclayton commented on #5680
This should always fail now with my changes to deployment

[2016-02-05 23:08] #5680 closed

[2016-02-05 23:08] smarterclayton commented on #5605
Do we think is 100% related to the disk allocation issue?

[2016-02-05 23:12] liggitt commented on #7079
`oc logs build` is ambiguous. It could be asking for logs for a pod named build

[2016-02-05 23:12] #7079 closed

[2016-02-05 23:13] liggitt commented on #5605
Not sure. We never tracked the healthz timeouts to disk issues, and I still see those occasionally even with the disk issue (maybe) worked around

[2016-02-05 23:23] smarterclayton commented on #5605
I'm wondering if we've fixed disk.  I've certainly seen etcd 500
errors.  Need to remind myself to look at the gathered iostats since
we go to all the effort to watch them.

[2016-02-05 23:26] YannMoisan commented on #7079
What about `oc logs-build` or `oc logs build/` ?

[2016-02-05 23:29] liggitt commented on #7079
I think at least the name of the build should be required

[2016-02-05 23:47] bparees commented on #6435
@smarterclayton did you mean to reopen it?

[2016-02-06 01:50] #6676 closed

[2016-02-06 03:10] smarterclayton commented on #6435
I saw it had a recent entry and decided to leave it open for a bit
longer.  I want to catalog all the flakes and see what we can do to
make it easier to figure out when flakes are happening and search for
approximate counts.  Failure causes is leaving something to be desired
right now.

[2016-02-06 03:36] liggitt opened #7081 "Integration tests don't run on OS X"
[code]

[2016-02-06 03:47] liggitt commented on #7081
weird... can't recreate...

[2016-02-06 03:47] #7081 closed

[2016-02-06 04:19] #6372 closed

[2016-02-06 06:40] liggitt opened #7083 "Travis conversion generation verification failing on master for go 1.5"
seeing diffs:
[code]

[2016-02-06 07:07] #7038 closed

[2016-02-06 11:20] rhcarvalho opened #7084 "Lots of warnings in hack/update-generated-conversions.sh"
Looks like after the Kube rebase hack/update-generated-conversions.sh started to output a lot of warnings I haven't seen before, is this intentional behavior?

[code]

[code]

[2016-02-06 11:20] rhcarvalho commented on #7084
@smarterclayton @liggitt FYI

[2016-02-06 12:39] mfojtik opened #7085 "Unable to save changes with oc edit"
On latest master I run this:

[code]

After I add `incremental: true` to strategy, I get this error:

[code]

@kargakis (rebase issue?)

[2016-02-06 12:40] mfojtik commented on #7085
Also if I omit the `-o json` option and get yaml in VIM, after saving I get:

[code]

[2016-02-06 12:49] mfojtik commented on #7085
And another one ;-)

[code]

(note that I do not update the apiVersion, just add incremental to strategy).

[2016-02-06 13:01] mfojtik commented on #7085
Should be fixed in upstream, feel free to close this issue when this gets merged to origin

https://github.com/kubernetes/kubernetes/pull/20481

[2016-02-06 13:15] rhcarvalho opened #7086 "Vendored Kube SHA1 is not in any branch upstream"
I've been trying to checkout kubernetes at 9da202e242d8ceedb549332fb31bf1a933a6c6b6 (current ref in Godeps.json), and cannot find the ref.

https://github.com/kubernetes/kubernetes/commit/9da202e242d8ceedb549332fb31bf1a933a6c6b6 hints that this commit is not part of any branch.

The fact that we cannot checkout that ref will prevent us from running extended tests (#6583).

[2016-02-06 13:15] rhcarvalho commented on #7086
@smarterclayton @deads2k @liggitt FYI

[2016-02-06 13:17] liggitt commented on #7086
Add the openshift/kubernetes repo as a remote and fetch it. That's where the sha lives

[2016-02-06 13:20] rhcarvalho commented on #7086
Did we do this before? Extended tests will do a `go get -d k8s.io/kubernetes` and that will not add the remote automatically. Hopefully I can fix the extended tests as part of #7065.

[2016-02-06 13:25] rhcarvalho commented on #7086
@liggitt looking at https://github.com/openshift/kubernetes/commit/9da202e242d8ceedb549332fb31bf1a933a6c6b6 , that commit is also not in any branch.

Even after adding the remote, I cannot `git checkout` that ref.

What exactly the ref in Godeps.json point at?

[code]

[2016-02-06 13:36] mfojtik commented on #7085
cc @deads2k @smarterclayton seems like something that broken after rebase.

[2016-02-06 13:46] rhcarvalho commented on #7050
@YannMoisan what build strategy are you using?

[2016-02-06 15:21] spadgett commented on #5913
The first screenshot you have looks best, but I'm afraid it would be confused with an actual error in a log itself instead of an error loading the log.

I'd like a style for errors when an entire page or tab doesn't load that we can use everywhere. We don't  handle that very well today.

/cc @ajacobs21e

[2016-02-06 16:05] liggitt commented on #7086
The commit is at https://github.com/openshift/kubernetes/commit/9da202e242d8ceedb549332fb31bf1a933a6c6b6

Add the remote and fetch all.
@deads2k, should probably update the stable branch to point at the commit we godep-ed

[2016-02-06 16:18] rhcarvalho commented on #7086
No luck :(

[code]

[2016-02-06 16:22] rhcarvalho commented on #7086
According to GitHub's [help](https://help.github.com/articles/commit-exists-on-github-but-not-in-my-local-clone/), we might need to wait until the commit is pushed to some branch/tag by someone who has the commit locally.

[2016-02-06 16:30] liggitt commented on #7086
Can you not do `git fetch openshift 9da202e242d8ceedb549332fb31bf1a933a6c6b6`?

Agree we want it in a branch

[2016-02-06 16:32] rhcarvalho commented on #7086
I had tried that as well, and also other ways to fetch it from GitHub, no success.

[2016-02-06 17:06] liggitt commented on #7086
Created a branch from that commit https://github.com/openshift/kubernetes/tree/stable-9da202e so you can proceed. Will talk with @deads2k and @smarterclayton about how we want to handle tagging commit levels used in rebases.

[2016-02-06 17:12] smarterclayton commented on #7086
I'm just going to give it a real tag - unfortunately I forgot to tell David about that for this rebase so ill do the fix up and then add it to the docs

[2016-02-06 17:33] #7086 closed

[2016-02-07 02:30] smarterclayton opened #7090 "Horrifying error on edit"
[code]

Probably not what we want to show to users.

[2016-02-07 03:32] smarterclayton opened #7092 "Future: investigate unidle direct from router with PROXY protocol"
In the future, we could conceivably do a direct unidle from HAProxy by having the router point to an "unidler" endpoint and implement the PROXY protocol on that side: http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt

No significant advantage today over the service proxy approach, but has interesting implications if we want to avoid having services with zero endpoints loaded on the kube-p

[2016-02-07 12:26] YannMoisan commented on #7050
@rhcarvalho docker

[2016-02-07 13:12] charliemaiors commented on #7061
if I define a number of replicas in deploymentconfig, could I set that number as maximum replicas number in hpa and set the minimum number to 1?

[2016-02-07 14:48] kargakis commented on #7061
Whatever is the initial size of your deployment config, will be autoscaled based on the range you will provide with min-max.

[2016-02-07 14:50] charliemaiors commented on #7061
Perfect thank you

[2016-02-07 14:59] kargakis commented on #7061
Also note that `oc autoscale` in the command line tool is coming very soon.
https://github.com/openshift/origin/pull/6861
You will be able to setup an hpa just by pointing the dc you want autoscaled to `oc autoscale`:
[code]

[2016-02-07 15:39] spadgett opened #7095 "Update CPU and memory icons in web console"
Patternfly now has icons for CPU and memory.

https://www.patternfly.org/styles/icons/

/cc @jwforres

[2016-02-07 16:25] kargakis commented on #7090
This is not a problem with edit but with the underlying restmapper
https://github.com/kubernetes/kubernetes/blob/1f113d6a383e343803dedbaf45d0cfc34d02eb82/pkg/api/meta/restmapper.go#L304

[2016-02-07 17:46] liggitt commented on #7090
Does the same error surface with `oc get foo`?

Also,  I would expect to see more kinds registered in the rest mapper. @deads2k Does this mean that all lookups are chained through several rest mappers, one for each API package?

[2016-02-07 20:00] deads2k commented on #7090
Yeah that's awful.  We need more information for a user to debug this.  Perhaps we could include the full mapping to and from kinds, plural and singular resources, case and non-case sensitive, priorities, shortcuts, and expansions.   I'll work on it on Monday.  :)

@liggitt its the "fix union RESTMapper" in this issue: https://github.com/openshift/origin/issues/6906.  Once we have that, we'll get

[2016-02-07 21:56] smarterclayton commented on #6569
I don't think image-puller should be able to list images, image streams, or even image stream tags.  I might buy an argument they could fetch an individual image stream tag by name, or maybe an image stream, but that's probably it.  If we need a role above puller but below image viewer, just granting 'get' but not 'list' is roughly equivalent to what's in Kube.

[2016-02-07 21:56] smarterclayton commented on #6564
Partially mitigated in Docker 1.10 with the new "link" action.

On Mon, Jan 11, 2016 at 7:12 AM, Stef Walter <notifications@github.com>
wrote:

[2016-02-07 21:58] smarterclayton commented on #6282
I'm seeing other problems after that on `mysql` - haven't had time to dig
in, but still doesn't look like it's enough.

On Thu, Jan 14, 2016 at 12:33 PM, Paul Morie <notifications@github.com>
wrote:

[2016-02-07 22:18] smarterclayton commented on #6934
I would expect the deployer to resolve the IST onto the deployment config
prior to creating the RC.  I'm ok with updating the DC with that value
every time - it makes export correct, which I like.  It means that triggers
are just mutating the DC, which I like.  The only gap today is removing the
generators, which we wanted to do anyway.

On Tue, Feb 2, 2016 at 12:29 PM, Maciej Szulik <notification

[2016-02-07 22:56] smarterclayton opened #7096 "ConfigMaps need permissions and enabled in e2e post-rebase"
[code]

Going to disable them from e2e for now

[2016-02-07 23:36] smarterclayton opened #7097 "kubectl e2e "should support exec through an HTTP proxy" can't run on Origin"
Tries to build a static kubectl binary, which we don't support today.

Spawned by #7094

[2016-02-07 23:42] smarterclayton opened #7098 "kubectl e2e "should support port-forward" doesn't run on Origin"
[code]

Is run in a privileged service account but the caps aren't there.  We probably need to request "no dropped caps" in the upstream test or have an ADD on setgid.

[code]

Spawned from #7094

[2016-02-07 23:42] smarterclayton commented on #7098
@ncdc fyi

[2016-02-07 23:47] smarterclayton opened #7099 "supplemental groups e2e test fails on non-local system"
[code]

Shouldn't depend on local docker socket, not portable as a conformance test

Spawned from #7094

[2016-02-08 01:17] smarterclayton opened #7101 "Extended test "forcePull should affect pulling builder images" should not require local docker socket"
[code]

means that it can be added to a conformance test and run remotely.  Needs to launch pods that test that.

Spawned from #7094

[2016-02-08 01:23] smarterclayton opened #7102 "Extended test "openshift postgresql replication" does not work remotely"
[code]

Extended tests should not assume they are on the same host - they need to be using a container to do these manipulations.  Blocks running e2e against a remote cluster.

Spawned from #7094

[2016-02-08 04:01] bparees commented on #7101
Are we still operating under a single-node cluster assumption?  if not this is going to become very difficult to test i think.

[2016-02-08 04:09] bparees commented on #7102
how can they use a container to manipulate the host paths to provide PVs?  launch privileged containers as root with the host filesystem mounted into them?

The right solution to this imho is an extended test cluster environment that provides out of the box PVs so tests don't have to do this stuff.

And as with the other issue, if we can't assume a single-node cluster, other things are going to fa

[2016-02-08 04:53] smarterclayton commented on #7101
We are not going to be for much longer .  Upstream creates pods on the
destination system that prime and check data - that's one approach.

[2016-02-08 04:55] smarterclayton commented on #7102
Basically, e2e tests need to be run from the outside.  You can add
abstractions for ssh, or rely on pod exec, but tests that run from the
inside and make those assumptions can't be part of anything that tests
multinode (and we need tests that verify that builds on multinode
clusters work).  I didn't see anything in the testing that couldn't be
worked around - almost everything could be verified an

[2016-02-08 08:58] alejandronb opened #7104 "Persistentvolumeclaims "same-name" already exists"
Hi,

I expose my case:

I create a NFS Persistent Volume and I launch the 'mysql-persistent-template'.

Is there any way to launch an application named "Gandalf" from mysql-persistent-template, delete this application, and launch again the same application with the same name "Gandalf" for using the previously created PVC named "Gandalf"?

I don't want to delete the PVC, but if I don't delete the P

[2016-02-08 09:03] mfojtik commented on #6934
+1 @smarterclayton

[2016-02-08 09:20] mfojtik commented on #7077
@mwringe I think this makes sense. We should probably display also the size of the image in console. Dunno if we can get that information from the IST. @ncdc ?

[2016-02-08 09:21] mfojtik commented on #7077
@jwforres FYI

[2016-02-08 09:24] mfojtik commented on #6781
@GrahamDumpleton the event is there but I agree we should communicate this error in the UI. @jwforres @jhadvig ?

[2016-02-08 09:25] mfojtik commented on #6755
@rajatchopra @mrunalp do you guys know if it is possible to use SSH via router? I think only HTTP(s) protocols are allowed right now.

[2016-02-08 09:55] jstrachan commented on #6954
@smarterclayton a Jenkins pipeline build may invoke one or more S2I builds; then may orchestrate testing them in another environment, then promoting them. Or the Jenkins pipeline may built its own images using the new binary builder or using raw docker or trigger existing Jenkins or external CI jobs to build the images.

If someone wants S2I and Pipeline together in a single BuildConfig; we could

[2016-02-08 09:55] kargakis commented on #6934
@smarterclayton fyi, upstream both generators (rollback and config) are part of the controller.

[2016-02-08 10:22] rawlingsj commented on #6954
FWIW there's an couple of issues raised on the openshift jenkins plugin that relate to adding general s2i build capabilities to Jenkins pipeline
https://github.com/openshift/jenkins-plugin/issues/7#issuecomment-163944581

And another which is focused on promoting images across projects / namespaces https://github.com/openshift/jenkins-plugin/issues/8

[2016-02-08 10:27] kargakis opened #7105 "kubelet "container runtime sanity check failed" logs"
I am seeing the following logs repeatedly in the latest master
[code]

[2016-02-08 11:01] jsafrane opened #7106 "hack/cherry-pick.sh fails with "9da202e can not be resolved as commit"."
Following https://github.com/openshift/origin/blob/master/HACKING.md#cherry-picking-an-upstream-commit-into-origin, this does not work:

[code]

`9da202e` comes from

[code]

There is no commit `9da202e` in Kubernetes upstream.

[2016-02-08 12:25] rhcarvalho commented on #7105
I'm seeing the same, and after some time I see an extra line:

[code]

At that point builds won't start until I restart the server.

[2016-02-08 12:37] rhcarvalho commented on #7050
@YannMoisan one of the last steps of the build will insert in the image some metadata:

[code]

This includes the `OPENSHIFT_BUILD_COMMIT`, does that help you in your use case?
If not, please tell us more about what you're trying to achieve.

The example above is the result of:

[code]

[2016-02-08 12:53] deads2k commented on #7085
I'll take a look.  Can you include the output of what you have in `edit` and also note whether you can do an `oc update` with it?

[2016-02-08 12:57] rhcarvalho commented on #7105
The problem seems to be that https://github.com/coreos/go-semver/ doesn't handle `x.x.x.fcXX` format used by Fedora.

[2016-02-08 12:57] YannMoisan commented on #7050
Unfortunately, I need this information at the beginning of the build. My build (sbt) uses a plugin [sbt-git](https://github.com/sbt/sbt-git) that run git commands.

This extra step can be the starting point of a workaround.

[2016-02-08 12:59] rhcarvalho commented on #7105
There's a PR upstream (https://github.com/coreos/go-semver/pull/11) to fix that problem, but it might take time until it lands. I guess we'll need need a patch in OpenShift for the time being, working on it.

[2016-02-08 13:00] liggitt commented on #7106
Need to add the openshift/kubernetes repo as a remote to your kubernetes and fetch it. The vendored sha includes our carries.

[2016-02-08 13:00] #7106 closed

[2016-02-08 13:07] deads2k commented on #6569
I think this will be resolved by the new roles here https://github.com/openshift/origin/pull/6963 without modifying image-puller.

[2016-02-08 13:07] #6569 closed

[2016-02-08 13:10] deads2k commented on #7105
@eparis has recommended we don't bother with that level.  Upgrade your docker version.

[2016-02-08 13:11] deads2k commented on #7105
See comments here: https://github.com/kubernetes/kubernetes/pull/20705

[2016-02-08 13:24] rhcarvalho commented on #7105
Our vagrant VirtualBox image uses Fedora 21... what'd be the recommended solution?  /cc @danmcp

[2016-02-08 13:25] kargakis opened #7114 "Add MinReadySeconds to DCs"
Readiness in Kubernetes deployments is dictated by MinReadySeconds. We consider pods available as soon as they become ready w/o imposing any additional restriction.
[code]
This issue is for tracking this gap.

@ironcladlou @smarterclayton @pweil-

[2016-02-08 13:28] rhcarvalho commented on #7105
Hmm in the case of those of us using vagrant+VirtualBox, it's more like "upgrade the VM's distro". The latest Docker version for Fedora 21 is 1.8.2.fc21.

[2016-02-08 13:33] danmcp commented on #7105
@rhcarvalho It's Fedora 23.

[2016-02-08 13:34] kargakis commented on #7105
@rhcarvalho our vagrantfile is update to use fedora23. I just did
[code]

[2016-02-08 13:35] kargakis commented on #7105
We also use docker 1.9.1 in the latest image so I am going to close this issue.

[2016-02-08 13:35] #7105 closed

[2016-02-08 13:44] jsafrane commented on #7106
This is not documented anywhere, I filled PR #7115.

[2016-02-08 14:06] deads2k opened #7116 "Create fuzzer tests for configapi scheme"
The config api we use now has some pretty significant custom conversion code.  We need fuzzer tests for the roundtripping.

[2016-02-08 14:06] deads2k opened #7117 "ResolveResource should return a GroupVersionResource"

[2016-02-08 14:08] deads2k opened #7118 "field.Required now allows details. sweep for usage and proper messages"
We use this method extensively in various validation methods.

@pweil- This could be a "getting to know our API" task.

[2016-02-08 14:09] dgoodwin commented on #7085
Hitting this one too with oc edit scc/restricted, change a field (not apiVersion), and the result is: "error: apiVersion should not be changed"

[2016-02-08 14:10] deads2k opened #7119 "Upstream refactoring for scheme/codec"
- [ ] ConvertToVersion
- [ ] conversion.Meta
- [x] fix union RESTMapper
- [x] type RESTMapper errors - https://github.com/kubernetes/kubernetes/pull/20814
- [ ] `--output-version` needs to support multiple groups

[2016-02-08 14:12] deads2k opened #7120 "Get all update-generated, verify-, and test scripts working in the kube fork"
@pweil- This is something we want, but this is probably something the CI team is better suited to do.

[2016-02-08 14:13] kargakis commented on #7085
@dgoodwin @mfojtik syntax errors are not retried by `kubectl`. This is fixed in https://github.com/openshift/origin/pull/6959

[2016-02-08 14:15] deads2k opened #7121 "transitive bump checker improvements"
The rebase brought in a new transitive dependency tool, but its not very sophisticated.  See `hack/rebase-describe-bumps.sh`.  It should be improved to handle:
- [ ] multiple sorts on output, including "openshfit deps that are newer" and "kube deps that are newer"
- [ ] it should force the godeps that we're keeping to the correct level.  Something like

[code]
- [ ] look for `UPSTREAM` commits for

[2016-02-08 14:20] brenton commented on #7120
@deads2k, can you tell me a little more about this request?  To date the CI team is mostly @arilivigni and he focuses on the CI infrastructure primarily.  Is this issue "I just performed a rebase and now tests don't work" or "I need a way to run the rebased tests in CI"?

[2016-02-08 14:25] deads2k commented on #7120
@brenton Sorry, CI as in "Cluster Infrastructure", @ncdc @derekwaynecarr @eparis and company.

[2016-02-08 14:29] pweil- commented on #7120
my misunderstanding, I read it as continuous integration

[2016-02-08 14:30] jwforres commented on #5913
agree with @spadgett the first one looks like an error coming back in the log itself

[2016-02-08 14:34] pweil- commented on #7041
changes were picked up in the rebase that just landed.  I'll give this a test to make sure that the labels are defaulting now.

[2016-02-08 14:38] jwforres commented on #7095
oh nice, we really need to deal with that one issue in the tolopogy view so we can pick up a new patternfly version, also i'd like to do the bump to 3.x at the same time.

[2016-02-08 14:41] jwforres commented on #7077
i know not everything was available before but @smarterclayton just did a bunch of updates to the api

[2016-02-08 14:43] jwforres commented on #6781
@smarterclayton and I were discussing last week whether certain events should be pushed back to the objects as status conditions, the fact that this build is stuck in pending indefinitely because no secret exists seems like something I would expect to bubble up as a condition

[2016-02-08 14:44] danmcp commented on #7070
@jwforres FYI

[2016-02-08 14:56] liggitt commented on #7121
@deads2k would you want special handling of the k8s repo? I'd like something to validate the remotes (origin/upstream/openshift) and make sure openshift is fetched...

[2016-02-08 14:57] liggitt commented on #7116
most of the complexity is in defaulting, right, so round-trip would add stuff, not match 100%

[2016-02-08 15:01] liggitt commented on #6780
Fixed in https://github.com/openshift/origin/pull/6947/

[2016-02-08 15:01] #6780 closed

[2016-02-08 15:04] liggitt commented on #6606
Fix picked up in https://github.com/openshift/origin/pull/6947/

[2016-02-08 15:04] #6606 closed

[2016-02-08 15:06] liggitt commented on #5462
Picked up in https://github.com/openshift/origin/pull/6947/

[2016-02-08 15:06] #5462 closed

[2016-02-08 15:10] smarterclayton commented on #7077
Layers and size are the new additions.

[2016-02-08 15:11] liggitt opened #7125 "Make `oc explain` work for origin types"
Works for k8s types:
[code]

Does not work for origin types:
[code]

[2016-02-08 15:13] liggitt commented on #7070
CLI probably shouldn't have direct knowledge of deep-links to external websites (which differ by product and version). There are commands like `oc explain <type>` that are intended to provide information about types. Currently, that only works for k8s types. https://github.com/openshift/origin/issues/7125 opened to make it work for origin types as well.

You'll note that the k8s descriptions do co

[2016-02-08 15:13] #7070 closed

[2016-02-08 15:42] deads2k commented on #7121
I'm fine with that.

[2016-02-08 15:44] deads2k commented on #7116
Fuzzing fills all the fields, so defaulting rules should never apply.  Defaulting rules would need targeted tests.

[2016-02-08 16:13] liggitt commented on #7097
That should be opened upstream... that's insane for a test script to do, especially one that we want to run for conformance checking. cc @timothysc

[2016-02-08 16:15] derekwaynecarr commented on #6766
Quantity can lose formatting: https://github.com/kubernetes/kubernetes/pull/20505

[2016-02-08 16:38] rhcarvalho commented on #7050
@YannMoisan for the time being, one workaround would be to `git clone` you repository (again) as part of the build.
Add to your Dockerfile a line that clones the repo and builds from there.

A more elaborate workaround would be to use a Custom Builder image. Here's an example of one that does a Docker build:
https://github.com/openshift/origin/blob/master/images/builder/docker/custom-docker-builde

[2016-02-08 16:39] rhcarvalho commented on #7050
BTW, please let me know how would the workarounds work for you.

[2016-02-08 17:16] sub-mod commented on #6569
thanks @deads2k

[2016-02-08 17:26] smarterclayton commented on #7125
I'm already fixing this :)

[2016-02-08 17:27] smarterclayton commented on #7125
https://github.com/openshift/origin/pull/7089

[2016-02-08 17:50] smarterclayton commented on #7096
This was slated for 3.2

[2016-02-08 18:08] smarterclayton commented on #7084
I'lll look at this if you're on other stuff

[2016-02-08 18:09] pweil- commented on #7041
Tested on master by creating a DS with no selector label and labels on the pod template.  Confirmed that the selector on the DS was defaulted to

[code]

[2016-02-08 18:09] #7041 closed

[2016-02-08 18:12] #4775 closed

[2016-02-08 18:13] pweil- commented on #6766
Carry for SCC describer: https://github.com/openshift/origin/pull/7127 (fork pull: https://github.com/openshift/kubernetes/pull/5)

[2016-02-08 18:14] childsb commented on #7104
You do not need to re-create the claim.   I would have have to see the mysql-persistent-template, but i suspect you're creating a PVC in there.

I tend to separate the 3 items into different markup files.  One for the PV, one for the PVC, then one for the application that targets the PVC.  Then its easy to delete the application, and recreate.

[2016-02-08 18:50] spadgett opened #7131 "Web console scaling not working on latest deployment page"
Updating the replicas doesn't result in the deployment being scaled.

![openshift_web_console_and__deployment-details_html____go_src_github_com_openshift_origin_assets_app_views_browse__-_vim](https://cloud.githubusercontent.com/assets/1167259/12895508/d81acc66-ce6a-11e5-9e60-f10856435383.png)

[2016-02-08 19:09] ncdc commented on #7097
Jordan, we went through several involved discussions about how to test
this. The static build was the best option we could come up with. I'll link
the relevant discussions when I'm back at my desk.

On Monday, February 8, 2016, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-08 19:10] rajatchopra commented on #6755
@mfojtik ssh will not work through the router today. It's not about http only, the problem with TCP routing is figuring out which app it is meant for.

[2016-02-08 19:12] bparees commented on #7102
per discussion with @smarterclayton going to mark this test as LocalNode, reducing severity, but we will want to revisit/fix this behavior at some point.

[2016-02-08 19:12] bparees commented on #7101
per discussion with @smarterclayton going to mark this test as LocalNode, reducing severity, but we will want to revisit/fix this behavior at some point.

[2016-02-08 19:59] ncdc commented on #7097
@liggitt see https://github.com/kubernetes/kubernetes/pull/11694 and the various issues and PRs linked to it

[2016-02-08 20:26] liggitt commented on #7131
does that just edit the dc spec replicas?
@ironcladlou can you confirm the intended behavior here?

[2016-02-08 20:26] timothysc commented on #6766
@pweil - if there is a final rebase I believe you can drop most of the items I have listed above.

[2016-02-08 21:15] rhcarvalho commented on #7084
Sure, go for it
On Feb 8, 2016 9:01 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-02-08 21:23] spadgett commented on #7131
@liggitt All scaling for me is broken including `oc scale`. Testing now whether it's only a problem in my environment.

[2016-02-08 21:32] YannMoisan opened #7136 "Details: multiple ImageChange triggers refer to the same image stream tag"
I encounter the following error when I create the application from the template : `Details: multiple ImageChange triggers refer to the same image stream tag`.

It seems because I have 2 differents ImageChange on a BuildConfig.
Is it possible ? This need seems legit.

[code]

[2016-02-08 22:12] ironcladlou commented on #7131
Edits to rc.spec.replicas for an rc managed by a deploymentConfig will always be reverted eventually to match the dc. Scaling should occur via updates to dc.spec.replicas.

Old CLI clients might still manipulate the RC directly which we have some backwards compatibility for... if you found a case where an old `oc` binary isn't scaling right, please let me know so I can confirm whether that's expec

[2016-02-08 22:23] YannMoisan opened #7137 "oc delete all -l doesn't remove rolebinding"
First, I execute `oc delete all -l "template=xxx"`

And after that
[code]

[2016-02-08 22:33] liggitt commented on #7137
the `all` alias does not include all resources. see https://github.com/openshift/origin/issues/3740

[2016-02-08 22:33] #7137 closed

[2016-02-08 22:59] timothysc commented on #7063
So further update, the logic of updating that single local config file prevents local parallelization of operations.  If you start forking even non-project creation ops everything starts to bomb on
```error: No configuration file found, please login or point to an existing file:```

[2016-02-08 23:35] YannMoisan opened #7139 "Error using a sa credential inside a container"
I try to use a service account credential inside a container, as explained in the [documentation](https://docs.openshift.org/latest/dev_guide/service_accounts.html#using-a-service-account-s-credentials-inside-a-container)

Here is how I retrieve the token

[code]

Here is the error on the command `oc get istag`
[code]

[2016-02-09 00:06] liggitt commented on #7139
By default, service accounts have extremely limited permissions. If you want them to have more permissions in your namespace, add the roles you want with `oc policy add-role-to-user <role> -z service-account-name` or `oc policy add-role-to-group <role> system:serviceaccounts:<namespace-name>`

[2016-02-09 00:06] #7139 closed

[2016-02-09 00:10] liggitt commented on #7063
Create a base config file, then copy it for forked operations and set $KUBECONFIG to point to the copy for the forked operations

[2016-02-09 00:29] YannMoisan commented on #7139
Thanks a lot.
Here is the fix if anyone else has the same issue `oc policy add-role-to-user edit system:serviceaccount:xxx:builder -n xxx`

[2016-02-09 01:27] moortimis opened #7140 "Cannot list all componentstatuses in the cluster"
Seem to be still experiencing the issues discussed in https://github.com/openshift/origin/issues/5973. Hoping someone can help.

**Methods to reproduce**

1. Install OpenShift Origin v3.1 using byo playbook
2. Deploy ManageIQ Capablanca (capablanca-1.20160209142121_d9bbf5f)
3. Configure Kubenetes service account
- https://access.redhat.com/documentation/en/red-hat-cloudforms/version-4.0/managing-p

[2016-02-09 01:33] liggitt commented on #7140
Component status API objects are not enabled in default OpenShift policy because of inflexible assumptions in the way they were built that do not allow them to work within an openshift deployment. See https://github.com/openshift/origin/issues/3667 for details and to track enablement of that API object if upstream changes allow it to be enabled.

[2016-02-09 01:33] #7140 closed

[2016-02-09 01:40] liggitt commented on #3667
Current upstream proposal/replacement is at https://github.com/kubernetes/kubernetes/pull/13216, but may be stalled at the moment

[2016-02-09 02:32] spadgett commented on #7131
@ironcladlou web console always scales the DC when there is one. There must be something wrong in my environment unless scaling is broken.

[2016-02-09 03:07] #7083 closed

[2016-02-09 03:23] timothysc commented on #7063
Yeah I got that, but any admin writing automation scripts will hit this, so recording for posterity.

[2016-02-09 05:26] smarterclayton commented on #3072
Hope to get to this soon, we need to take a look at what is required.

[2016-02-09 08:13] alejandronb commented on #7104
Ok, I understand the best way to do this is to create the PV and PVC in different templates. Then, I create the application template. This template have the information to mount the previously created PVC.

[2016-02-09 08:40] simon3z opened #7141 "Utility tool to output tokens"
Currently to fetch accounts token we have complex bash tricks:

    $ oc get -n management-infra sa/management-admin --template='{{range .secrets}}{{printf "%s\n" .name}}{{end}}'
    management-admin-token-32f97
    management-admin-dockercfg-fvkso

    $ oc get -n management-infra secrets management-admin-token-32f97 --template='{{.data.token}}' | base64 -d
    eyJhbGciOiJSUzI1NiIsInR5cC...

We a

[2016-02-09 09:16] kargakis opened #7142 "integers in versioned objects"
We need to use int64 or int32 for integers in versioned objects.

Related: https://github.com/openshift/origin/issues/6850

@smarterclayton @deads2k @liggitt

[2016-02-09 10:10] SillyMoo commented on #6293
I'm also finding that HPA is non-functional (in 1.1.1.1 and 1.1.0.1) I have the HPA default policy fix. This is causing a bit of an issue for me, anyone know if this is likely to be fixed in a future release?

[2016-02-09 10:15] SillyMoo commented on #6293
Worth noting though that I get a slightly different error in my openshift log:

10:13:59.650413    5429 horizontal.go:190] Failed to reconcile es-master-scaler: failed to compute desired number of replicas based on CPU utilization for ReplicationController/openshift-infra/elasticsearch: failed to get cpu utilization: failed to get CPU consumption and request: failed to unmarshall heapster response

[2016-02-09 10:33] YannMoisan commented on #7139
BTW, I was surprised that, by default, builder can push image to _imagestream_ but can't push tag to _imagestreamtag_

[2016-02-09 10:39] harobed commented on #3859
Same error :

[code]

[2016-02-09 10:58] YannMoisan opened #7143 "ImageChange trigger is not taken into account with a custom strategy"
I have a BuildConfig using a custom strategy.

Here is the interesting part
[code]

When I look at the resource created with `oc get bc` :

[code]

It seems that my image change is silently overriden with an image change generated automatically by openshift from the docker image of my custom strategy.

I would appreciate to have two ImageChange trigger for a single BuildConfig.

[2016-02-09 12:32] deads2k commented on #7141
@simon3z see https://github.com/openshift/origin/pull/6941.  I didn't forget about you. :)

[2016-02-09 13:07] YannMoisan opened #7144 "oc port-forward deprecated examples"
`oc port-forward -h` displays examples that uses the deprecated syntax (with `-p`).

[2016-02-09 13:11] #5115 closed

[2016-02-09 13:29] simon3z commented on #7141
Thanks @deads2k ! @enoodle when you have some time can you give a try to what's implemented in #6941

[2016-02-09 13:52] spadgett commented on #7131
I can no longer reproduce after updating my environment. Closing.

[2016-02-09 13:52] #7131 closed

[2016-02-09 13:54] spadgett opened #7146 "Web console: follow logs doesn't keep following"
Still some issues where follow logs doesn't work consistently.

/cc @jwforres @benjaminapetersen

[2016-02-09 14:26] gemoya opened #7147 "ServiceContextConstraints edit privileged error: apiVersion should not be changed"
Hi,
I am using the docker based installation and I want to add a router.
1- I created he router Service Account
`echo '{"kind":"ServiceAccount","apiVersion":"v1","metadata":{"name":"router"}}' | oc remove -f -`
2- When I tried to add system:serviceaccount:default:router to scc privileged i got
`error: apiVersion should not be changed
A copy of your changes has been stored to "/tmp/kubectl-edit-0m4

[2016-02-09 14:28] ajacobs21e commented on #6411
I did user testing at Customer Convergence and here are the results:
[OpenShift Notifications.pdf](https://github.com/openshift/origin/files/123164/OpenShift.Notifications.pdf)

tl;dr:
![openshift notifications](https://cloud.githubusercontent.com/assets/6415742/12918856/626b10ca-cf0f-11e5-8d92-41f2aa0bcc32.png)

https://www.patternfly.org/patterns/inline-notifications/
https://www.patternfly.org/

[2016-02-09 15:19] deads2k opened #7151 "edit.sh needs to test edits using sed"
But mac OS has an incompatible level of `sed`, so we can't write it in a way that works on CI and mac os.

[2016-02-09 15:23] deads2k commented on #7147
upstream kube broke edit serialization and mutation.  We're fixing them now.  https://github.com/openshift/origin/pull/7135 will resolve your immediate problem.

[2016-02-09 16:07] liggitt opened #7156 "ImageStreamTags list contains no resource version"
[code]

[2016-02-09 16:08] liggitt commented on #7156
Also projects

[2016-02-09 16:10] deads2k commented on #7156
Choosing a resource version for a virtual list requires inspecting the (theoretically) opaque resourceVersion of its items.  That breaks the intended abstraction.

[2016-02-09 16:11] liggitt commented on #7156
I thought the list resource version came from the resource version of the server, not a particular child

[2016-02-09 16:12] deads2k commented on #7156
On a virtual resource that has no etcd storage and is the combination of two different sets of resources, which resource version would you use?

[2016-02-09 16:16] liggitt commented on #7156
I would expect a resourceVersion on any resource that supports watch. If imageStreamTags and projects don't, then I'm not as concerned

[2016-02-09 16:16] jcantrill commented on #7156
@liggitt Are you implying we should not watch on ImageStreamTags?

[2016-02-09 16:17] liggitt commented on #7156
They don't support watch, so no

[2016-02-09 16:58] abhgupta opened #7157 "Ability to restrict login based or orgs/domains with OAuth providers"
With Github or Google configured as the identity providers, we should be able to restrict the the set of users who can login to OpenShift. We can do this for Github using organizations and for Google using domains.

For Github, we should to be able to specify multiple organizations in the provider configuration. A check needs to be made to ensure that the Github user is part of at least one of the

[2016-02-09 16:58] abhgupta commented on #7157
@liggitt @sspeiche

[2016-02-09 16:59] ajacobs21e commented on #6403
Updates images with "Edit YAML" and showing the two options for showing the secondary menu. Patternfly's recommendation is to use an advanced (title tbd) dropdown button.

![secondaryactions2_page_1](https://cloud.githubusercontent.com/assets/6415742/12923615/6f5d1bec-cf24-11e5-9d60-c9d89388d9a7.png)
![secondaryactions2_page_2](https://cloud.githubusercontent.com/assets/6415742/12923617/6f6c4bd0-c

[2016-02-09 17:10] sspeiche commented on #7157
Agree, on the GitHub side. I've wondered how useful it was without restricting to orgs.  Google we already have the ability to restricted based on hostedDomain.

[2016-02-09 17:21] #7085 closed

[2016-02-09 17:21] #7147 closed

[2016-02-09 18:11] spadgett opened #7163 "Web console: "Name" table header visible with no content on mobile"
See screenshot. We should only display "No builds to show."

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12925849/6de119ee-cf2e-11e5-9c77-4ebd9b2dc156.png)

/cc @jwforres @sg00dwin @rhamilto

[2016-02-09 18:17] jwforres commented on #7163
is this all of our tables or is this just on builds

[2016-02-09 18:17] SillyMoo commented on #6293
I have a bit more info on this issue. It appears that kubernetes is looking for the heapster API point /api/v1/model/namespaces/{namespace]/pod-list/{pods}/metrics/{metricType}. However the version of heapster currently in the image openshift/origin-metrics-heapster:latest does not seem to expose this API (it says it is running version 0.18.0 but I think this is a bit of a lie as it is actually us

[2016-02-09 18:21] spadgett commented on #7163
Build and deployments. Others don't have it. PVC looks like this:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12926131/efb48d60-cf2f-11e5-8dfe-88c5242e3318.png)

[2016-02-09 18:26] smarterclayton opened #7165 "Triage extended run failures"
Assess the failing tests and put them into buckets

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/10462/consoleText

These probably are tho host volume path being wrong - I fixed this by adding VOLUME_DIR as a flag option but may not have ensured it was set in core.sh

[code]

We were sending the wrong scheduler name:

[code]

Untriaged

[code]

[extended-logs.txt.zip](http

[2016-02-09 18:28] smarterclayton commented on #7165
@jayunit100 fyi

[2016-02-09 18:34] smarterclayton commented on #7142
Yeah, can be post 1.2

[2016-02-09 18:48] smarterclayton commented on #7165
Also we want to identify tests that are too slow.

[2016-02-09 19:08] benjaminapetersen commented on #7067
A fairly simple fix for this would just use angular's `$scope/$rootScope` with `$emit`.  I'd rather we discuss & ensure we are happy with an eventing pattern before taking care of that with a one-off.  Thoughts?

[2016-02-09 19:25] benjaminapetersen commented on #7146
Far as I can tell this is related to window resize.  Autoscroll, follow, stop following, follow again all seem to function as expected until resize... then get funky.

[2016-02-09 19:31] rhamilto commented on #7163
I'll fix this one, but I'm unable to assign it to myself.

[2016-02-09 19:49] deads2k commented on #7156
Is there anything to do here?

[2016-02-09 19:51] bparees commented on #7143
This is almost certainly a bug...  you are supposed to be able to have multiple ICTs and we definitely shouldn't be changing your existing ICT that you defined.

[2016-02-09 19:51] #6814 closed

[2016-02-09 19:51] gravis commented on #3072
Can't wait to see that working :)

[2016-02-09 19:56] liggitt commented on #7156
still feels like we should include *something* in the resourceVersion, even a "0" or something

[2016-02-09 19:57] deads2k commented on #7156
Deceptive information is better than no information?  Zero only has special meaning because you've interpreted that opaque string.

[2016-02-09 20:00] liggitt commented on #7156
I'm thinking of clients that will crash if they get a nil resourceVersion attribute, even if they never use it

[2016-02-09 20:07] bparees commented on #7143
i'm not able to reproduce this, can you provide a more explicit set of recreate steps, and also the output of "oc version"?

you can see my custom BC here:
https://gist.github.com/bparees/241698be85fea620a072

as you can see the output still shows a trigger pointing to a random imagestream.

and here is my BC w/ two triggers, one using the "default" imagestream (the one the strategy references) an

[2016-02-09 20:08] deads2k commented on #7156
Would you be happy or sad if I gave you a fake git commit hash for something?  I'd be angry.

[2016-02-09 20:08] bparees commented on #7136
Yes that looks legit, I assume this is related to your other issue which appears to be corrupting the imagestream referenced by your imagechangetriggers, so let's debug it over there.

[2016-02-09 20:13] liggitt commented on #7156
Clients should be able to be written based on https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#lists-and-simple-kinds which says lists should have this field. I'd prefer "0" to nil

[2016-02-09 20:31] liggitt commented on #7151
If you write the tests, I'll make them work on osx or I'll stop whining (probably)

[2016-02-09 20:33] liggitt commented on #6908
extended arguments for the proxy implemented in #7088

[2016-02-09 20:34] liggitt commented on #6908
@smarterclayton you want to leave this open to track separating `openshift start node kubelet` and `openshift start node proxy` commands? should we lower priority?

[2016-02-09 20:40] smarterclayton commented on #6908
Yes and yes

[2016-02-09 20:49] deads2k commented on #7156
Do we disagree on the meaning of `SHOULD`?  I would claim that this is exactly the kind of "valid reasons" that the rfc specifies.

[2016-02-09 21:12] gravis commented on #3072
I just tried a vanilla Debian (instead of boot2docker), and the result is different:

[code]

At least, the shared volume mount seems to be working here.

[2016-02-09 21:18] csrwng commented on #3072
@gravis what happens if you use --pid=host and --ipc=host in your run command?

[2016-02-09 21:25] timothysc opened #7166 "bulk project deletion causes long controller response curve"
The response curve for bulk operations ```1<n<100``` is almost immediate, but once ```100<n<1000 ```the response curve becomes very slow, and cluster cleanup takes half hour on average.  I'm not exactly certain which controller on the openshift side is responsible for project deletion on state change...

```oc delete projects -l purpose=test```

Eventual consistency is reached, but it's very slow.

[2016-02-09 21:48] liggitt commented on #7166
how many projects is that operating on? what's the split between client time (how long does the `oc` command take to run) and server processing before projects transition from "Terminated" to actually being gone?

[2016-02-09 21:49] #7157 closed

[2016-02-09 21:52] benjaminapetersen commented on #5913
Hmm. Yeah, not sure the best approach here.

[2016-02-09 21:56] benjaminapetersen commented on #4313
I think we have resolved this.  Ok to close?

[2016-02-09 21:57] benjaminapetersen commented on #4313
Yeah, we are good here.

[2016-02-09 21:57] #4313 closed

[2016-02-09 22:16] gravis commented on #3072
@csrwng deployer is failing with

[code]

[2016-02-09 22:19] gravis commented on #3072
and /proc seems screwed :(

[2016-02-09 22:19] jawnsy commented on #7032
I did a test with @tiwillia and it seems that the difference in memory usage is about 10MB for 1,000 users. Our test was simplistic so may not be realistic of a true usage scenario.

OpenShift not running:

[code]

OpenShift started up, after 1,000 projects were created and deleted. There is some leftover folders in etcd at this point.

[code]

Cleared etcd directory, this is the baseline for an e

[2016-02-09 22:51] derekwaynecarr commented on #6766
Make container runtime's cgroup configurable
https://github.com/kubernetes/kubernetes/pull/20687

Fixes bootstrapping of the kubelet on systemd to no longer move docker daemon.

[2016-02-09 22:54] derekwaynecarr commented on #7166
Relevant upstream PR:
https://github.com/kubernetes/kubernetes/pull/20076

It allows us to run multiple workers in Kubernetes namespace clean-up, and
it moves all the resource deletion (except for pods and services) to
deleteCollection calls.

On Tue, Feb 9, 2016 at 4:48 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-09 22:55] derekwaynecarr commented on #7166
We would need to make corresponding changes in the origin namespace controller to use delete collection calls, and adopt worker pattern.

[2016-02-09 22:59] derekwaynecarr commented on #7166
What was in the projects?

[2016-02-09 23:00] jayunit100 commented on #6882
`test-origin --extended core -d --skip-check --skip-image-cleanup`   appears to be the command being run here.  I can also repro via running e2e's the 'normal' way.

[2016-02-09 23:37] moortimis opened #7170 "New deployment leaves persistent volume claim in Pending state indefinitely"
I seem to be having a few issues with creating persistent volume claims as each attempt results in a request that is stuck in Pending state.

Any help to debugg this issue further would be great.

**NFS Mount**

[code]
- mount -t nfs 172.16.229.12:/ose1 /mnt (success)

**Persistant Volume**

[code]

**Persistent Storage Claim**

[code]

[2016-02-10 00:40] thesteve0 opened #7171 "Link in "about" only goes to latest client tools"
The link in the about page on the console only goes to the latest tools. Are we sure that this won't cause breaking changes. I would prefer that we either
a) include the binaries in the distro and link to those files
b) just point to the releases page and tell them to get the one that matches the version they are running.

I am not sure how to handle this for OSE but that seems best for origin.

[2016-02-10 00:47] liggitt commented on #7171
I think latest is better. The value is overrideable for ose

[2016-02-10 02:32] timothysc commented on #7166
1000 takes > 1/2 hour.

Total time for oc command is less then a minute, and transition to "Terminating" is pretty fast.  Draining itself is very slow.

A several deploymentConfig objects that had a bunch of rcs etc as part of a vertical scaling test.

[2016-02-10 02:39] thesteve0 commented on #7171
But what if their version is not latest?

[2016-02-10 02:41] liggitt commented on #7171
That's why oc work to remain compatible with older servers

[2016-02-10 03:34] liggitt opened #7172 "Review deletecollection changes for origin"
Added upstream in https://github.com/kubernetes/kubernetes/pull/18290/files#diff-7cf62556f9392a93c45627f77bff3229R450
- [x] Upstream change to add a new verb (`deletecollection`) - #7209
- [x] Bootstrap policy changes for new verb - #7209
- [ ] REST handler changes to support DeleteCollection (things that inline generic etcd get it for free)
- [ ] namespace controller changes to use DeleteCollecti

[2016-02-10 08:59] YannMoisan commented on #7136
@bparees it may be related to https://github.com/openshift/origin/issues/7143 and the root cause may be the same. I've created 2 issues because triggers are configured differently and the error appears differently. In this case, an error is reported.

[code]

[2016-02-10 08:59] YannMoisan commented on #7143
[code]

[2016-02-10 09:18] YannMoisan commented on #7143
ok. got it. my bad. The property imageChange was missing in my config !

[2016-02-10 09:19] YannMoisan commented on #7136
ok. got it. my bad. The property imageChange was missing in my config !

[2016-02-10 10:38] #5947 closed

[2016-02-10 11:01] rhcarvalho commented on #6583
Fixed by #7094

[2016-02-10 11:01] #6583 closed

[2016-02-10 11:46] rhcarvalho opened #7174 "Watching logs fail when etcd event history is cleared"
According to @smarterclayton, the logs endpoint should handle expired watches.

From https://github.com/openshift/origin/pull/6715 / https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/10489/console:

[code]

The watcher is called in [pkg/build/registry/rest.go](https://github.com/openshift/origin/blob/f25c96c504450d23cabd40be7ce6db79408dbf13/pkg/build/registry/rest.go#L17-L23):

[2016-02-10 12:09] kargakis commented on #7165
We can skip all upstream deployment tests for now
[code]

[2016-02-10 12:24] mfojtik opened #7175 "The '%2F' character in the source url in web console"
![screen shot 2016-02-10 at 13 23 27](https://cloud.githubusercontent.com/assets/44136/12947125/99a53968-cff9-11e5-86c7-9ffa4d232de8.png)

This happens when I have build config with context dir and the branch other than master.

[2016-02-10 12:25] mfojtik commented on #7175
@jhadvig @jwforres FYI

[2016-02-10 12:31] mfojtik opened #7176 "Suppress the docker image pulling progress bar in build logs"
[code]

This looks pretty ugly, we should probably just print the message that we are downloading the image and report success/failure.

[2016-02-10 12:44] deads2k commented on #7172
Looks like it will be an additional verb upstream in the query handler and then changes to policy.  You want it or shall I?

[2016-02-10 12:51] gemoya opened #7177 "system:admin login asks for pass and ContainerManager Failed to ensure state of "/docker-daemon""
Hi,

I build a docker image from github Dockerfile of Openshift Origin.
when I try to login as system:admin with

`[root@localhost origin]# oc login -u system:admin
Authentication required for https://localhost:8443 (openshift)
Username: system:admin
Password:
error: username system:admin is invalid for basic auth`

origin asks for user password but system:admin is with credentials.
Also I tried w

[2016-02-10 12:54] jwforres commented on #7175
It's probably calling encodeURIComponent and encoding the slashes in the path, it still should call encode but then replace all the %2F with / again so you still maintain the path segments.

[2016-02-10 12:59] php-coder commented on #7151
If it's possible to use Perl then we could try to use it: `perl -pi -e 's/bar/baz/' file`

[2016-02-10 13:00] liggitt commented on #7175
I'm not sure about encoding/replacing. Is it already supposed to be a valid URL subpath?

[2016-02-10 13:38] csrwng commented on #3072
@gravis I got further with boot2docker. After creating and sharing /var/lib/origin/openshift.local.volumes like you did above, I started it with https://gist.github.com/59760280920f5cf764ba

The main problem was that with OPENSHIFT_CONTAINERIZED=true it was trying to use the nsenter mounter which requires findmnt on the host. The Boot2docker distro doesn't include findmnt. And now with mount propa

[2016-02-10 13:38] bparees commented on #7143
ah yes, sorry I missed that.  Can we close this?

[2016-02-10 13:39] bparees commented on #7136
great, can we close this?

[2016-02-10 13:39] SillyMoo commented on #6293
Also seems the proxying is timing out for some reason. I always see 30's between:

4210 metrics_client.go:138] Sum of cpu requested: {0.100 DecimalSI}

and

4210 horizontal.go:190] Failed to reconcile es-master-scaler: failed to compute desired number of replicas based on CPU utilization for ReplicationController/elasticsearch/elasticsearch: failed to get cpu utilization: failed to get CPU consump

[2016-02-10 13:40] pweil- commented on #6766
namespace deletion improvements: https://github.com/kubernetes/kubernetes/pull/20076 (for https://github.com/openshift/origin/issues/7166)

[2016-02-10 13:41] liggitt commented on #7174
starting a watch from a build's resource version might not work if enough other changes have occurred... if a watch fails for that reason, I think we have to re-list, filtered to that build, and take the list's resourceVersion as our watch resourceVersion

[2016-02-10 13:44] YannMoisan commented on #6961
Is there a way to pass a token to this image, to test locally

[2016-02-10 13:45] mfojtik commented on #6961
@YannMoisan to test locally you mean with "docker run" ? You can bind-mount the token using `-v`

[2016-02-10 13:46] liggitt commented on #6848
Fix for the massive diffs proposed at https://github.com/ugorji/go/pull/137 and https://github.com/kubernetes/kubernetes/pull/20770

[2016-02-10 13:46] gravis commented on #3072
@csrwng Good catch (even if I don't see why openshift in a container would work only when OPENSHIFT_CONTAINERIZED is false ;)

Anyway:

[code]

with

[code]

with `/var/lib/origin/openshift.local.volumes` previously mounted with shared propagation inside boot2docker vm.

[2016-02-10 13:47] liggitt commented on #7172
Actually, I don't see a new verb upstream in `GetRequestInfo`... I think it just looks like a delete without a resource name

[2016-02-10 13:49] liggitt commented on #7175
ah, it's just a directory, so it could have spaces... I think I've convinced myself that encode + replace %2F will work

[2016-02-10 13:50] deads2k commented on #7172
I glanced and saw this: https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/apiserver/api_installer.go#L598, which looks like a new verb, but I haven't drilled into it.

[2016-02-10 13:52] deads2k commented on #7172
Ah, I see.  Virtual verb wired into the same action on the route.  Awesome.  I don't know that I care about restricting it separately.

[2016-02-10 14:18] smarterclayton commented on #3072
The comma in the file name is normal - that's how cgroups files are laid
out.

On Wed, Feb 10, 2016 at 8:47 AM, Philippe Lafoucrière <
notifications@github.com> wrote:

[2016-02-10 14:18] bparees commented on #3072
it's not two files separated by a comma, that is the filename.  it has a comma in it.

and it won't exist in docker 1.7 because the cgroup stuff was added in docker 1.8, which we pre-req.

[2016-02-10 14:25] YannMoisan commented on #7143
yes.

BTW, validation of yaml files could be very helpful.

[2016-02-10 14:26] #7136 closed

[2016-02-10 14:26] #7143 closed

[2016-02-10 14:27] bparees commented on #7143
Yes i'll double check as to why specifying an ICT type, but no ICT body, did not trigger a validation error.

[2016-02-10 14:30] mfojtik opened #7179 "The </> character in overview page"
![screen shot 2016-02-10 at 15 28 30](https://cloud.githubusercontent.com/assets/44136/12949971/126b58f8-d00b-11e5-8fcf-9ffa48b3bdbb.png)

I don't really get what that character is standing for :-) Also:

1) It prevents from selecting the text if you double-click :-)
2) If the reason it exists is to divide between build number and commit message, maybe we can just make the commit message italic? :

[2016-02-10 14:31] mfojtik commented on #7179
@jhadvig and me talked about this some time ago :-)

[2016-02-10 14:41] csrwng commented on #3072
Yup, then it looks like the name of the files have changed in 1.10. At least in the boot2docker version, instead of
[code]
you have
[code]

[2016-02-10 14:44] bparees commented on #3072
@csrwng so on at least one of the systems I looked at, those dirs existed and then cpuacct,cpu was a symlink to them.  fun times.  i'll update the logic to check for those first.

[2016-02-10 14:44] smarterclayton commented on #3072
That differs based on kernel version and whether they've adopted other
cgroup settings, I believe. @derekwaynecarr?

On Wed, Feb 10, 2016 at 9:41 AM, Cesar Wong <notifications@github.com>
wrote:

[2016-02-10 14:47] abhgupta commented on #7032
@jawnsy The next step for us would be to come up with some command that we can execute to clear off these directories. This command (REST API call, CLI, curl, whatever makes sense) could be invoked by @ironcladlou as part of his reconciler. Please sync up with him on what sort of a command would make the most sense for him.

[2016-02-10 14:48] abhgupta commented on #7032
I realize that we will need a more generic solution for the mid/long term, but just wanted to capture the workarounds for the immediate term.

[2016-02-10 15:04] YannMoisan opened #7182 "Update one element of an array with oc patch"
Here is what I want to achieve : I want to deploy a new image : from tag v1 to tag v2

Here is an extract of my DC :
[code]

My idea is to use `oc patch` to modify an ImageChange trigger.

Is it possible to update one element of an array ?

I've tried without success :
[code]

[2016-02-10 15:18] bparees commented on #3072
fixing the path issue here: https://github.com/openshift/origin/pull/7181

but i think that's unrelated to the original issue here.

[2016-02-10 15:20] csrwng commented on #3072
Looks like the original issue here is fixed. @gravis do you agree?

[2016-02-10 15:58] YannMoisan commented on #4198
I've created a custom builder to do that :
- https://github.com/YannMoisan/openshift-tagger-custom-builder
- https://hub.docker.com/r/yamo/openshift-tagger-custom-builder/

[2016-02-10 16:02] gravis commented on #3072
@csrwng Let me do some more tests than just running a registry.
But I'm confident we'll able to put this issue behind us very soon!
Thanks again for your help

[2016-02-10 16:20] bparees commented on #4198
@YannMoisan very cool.

[2016-02-10 16:30] spadgett opened #7186 "Web console type error when image doesn't have env vars"
See screenshot. Not sure if it causes a problem, but we should fix.

![screen shot 2016-02-10 at 11 27 47 am](https://cloud.githubusercontent.com/assets/1167259/12953690/795aa900-cfe9-11e5-967b-8dfd272a1cf4.png)

/cc @jwforres

[2016-02-10 16:37] ajacobs21e commented on #6973
Mockups showing the two options for showing the secondary menu. Patternfly's recommendation is to use an advanced (title tbd) dropdown button.

![secondaryactions2_page_1](https://cloud.githubusercontent.com/assets/6415742/12923615/6f5d1bec-cf24-11e5-9d60-c9d89388d9a7.png)
![secondaryactions2_page_2](https://cloud.githubusercontent.com/assets/6415742/12923617/6f6c4bd0-cf24-11e5-952e-539847f472f2.p

[2016-02-10 17:07] spadgett commented on #6973
Would "Advanced" change to the kebab for mobile?

Some of the actions like "Delete" aren't really advanced. "Actions" maybe?

Some of the problem is positioning. In the original screenshot, having an "Advanced" button on the far right would make it easier to see, but it'd still look odd way off to the right. Adding tabs to the page for events might help.

[2016-02-10 17:09] YannMoisan commented on #6961
But even with the volume mounted, I'll need to login in local, won't I ?

[2016-02-10 17:22] php-coder opened #7188 "test/extended/core.sh: fails under Vagrant with cannot create directory because of protocol error"
After `make clean` on the host system I can't run extended tests under Vagrant:

[code]

[2016-02-10 17:52] kargakis opened #7190 "Our deployment controllers need to stop using special cased interfaces"
After digging a lot around our deployment controllers I have fully sympathized with @deads2k's request for this. Let the world know

cc: @ironcladlou

[2016-02-10 17:54] deads2k commented on #7190
:)

I'm pretty sure that last we left it @ironcladlou was ok with passing namespacers through instead, but we weren't going to rewrite until we needed to touch them signficantly again.

[2016-02-10 17:56] stevekuznetsov opened #7191 "consolidate error handling in ldap sync to single error handler approach"
Once the error handler in https://github.com/openshift/origin/pull/6834 is in, we should refactor the other error handling features of our LDAP sync to use it, so that we can ensure that any errors that bubble to the top of the sync job are errors we should be failing on, and so that we ensure that we are logging any errors we do not consider fatal.

/cc @liggitt

[2016-02-10 18:00] kargakis commented on #7190
I once started reworking them but the bulk of the work is in the tests, they are massive... and I quit..

[2016-02-10 18:04] ironcladlou commented on #7190
I've been using the fake clients for all new code. No objection to refactoring as you come across stuff...

[2016-02-10 18:05] YannMoisan opened #7192 "error with an ImageChange on another namespace"
I have defined an Image Change trigger on my DC
[code]
I don't have an ImageStream because the image comes from another namespace.

And I get this error :
[code]

Is it a false negative ?

[2016-02-10 18:06] stevekuznetsov opened #7193 "node configuration dump on server startup in tests is useless and annoying"
@smarterclayton please defend if you'd like to keep it. This is what I just got starting an extended test on my machine:
[code]

[2016-02-10 18:20] stevekuznetsov opened #7194 "possible deserialization issue"
On current master, commit f25c96c504450d23cabd40be7ce6db79408dbf13, when running `test/extended/ldap_sync.sh`, I see this error:

[code]

Here is the sync config:

[code]

/cc @deads2k @liggitt @smarterclayton

[2016-02-10 18:23] jeffvance opened #7195 "oadm policy option names are misleading"
[code]

The descriptions seem to be accurate but the option names are backwards. Eg.
`--add-user-to-role Add users to a role in the current project`
would be more accurate and easier for the user to remember.

If there's agreement on the above then I propose changing the oadm policy option names to reflect what each option actually does. For some period of time the current option names would also

[2016-02-10 18:24] liggitt commented on #7195
Roles do not contain users. Users are granted roles. I'd vote to keep the current names.

[2016-02-10 18:25] stevekuznetsov commented on #7194
Sync config above is printed using `cat sync-config.yaml` directly before the sync command, so I'm fairly certain that's actually the file being read in.

[2016-02-10 18:36] erinboyd commented on #7195
In this same policy descriptions the commands seem backwards:
  add-scc-to-user                 Add users to a security context constraint
  add-scc-to-group                Add groups to a security context constraint
  remove-scc-from-user            Remove user from scc
  remove-scc-from-group           Remove group from scc

You don't add an scc to a user..you add a user to an scc. @liggitt @jef

[2016-02-10 18:39] ebalsumgo opened #7196 "master.server.crt in multi master setup does not contain expected CN"
I dont think this is a problem but did notice it while researching and tackling a different issue. The master.server.crt contains the CN of one of my masters as an IP rather than what I would have expected and have my lb hostname or at the very least my public_hostname. The SAN contains... well everything including the lb and both masters hostnames and their IPs.

Either way, not sure that it is e

[2016-02-10 18:41] liggitt commented on #7196
can you move this issue to the openshift-ansible repo? I think the CN is the first hostname passed to the create-master-certs command, which is up to the ansible scripts

[2016-02-10 18:46] liggitt commented on #7195
SCCs containing users/groups is not the long-term direction. We'd like to keep terminology aligned with roles.

[2016-02-10 18:46] erinboyd commented on #7195
@liggitt is there a PR open for how this is changing?

[2016-02-10 18:47] smarterclayton commented on #7193
It's fine to only print if an error.  And fine to remove.

[2016-02-10 18:52] ebalsumgo commented on #7196
Yep. Will do

[2016-02-10 18:52] #7196 closed

[2016-02-10 19:01] liggitt commented on #7195
SCC is known as PodSecurityPolicy upstream, which is the long term direction. The upstream objects do not contain users/groups. Users would likely be allowed to use a SCC/PSP by being granted a role which permitted that use.

[2016-02-10 19:02] liggitt commented on #7195
I could be convinced of "grant-role-to-user", but the improvement is not significant enough to warrant the change an compatibility cost

[2016-02-10 19:06] stevekuznetsov commented on #7193
We'll fail if we can't set up the node. Config is saved and downloaded as an artifact as it is.

[2016-02-10 19:29] ironcladlou opened #7199 "Consider removing unused environment variables assigned to deployer pods"
Master connectivity info is provided to deployer pods via environment variables:

https://github.com/openshift/origin/blob/master/pkg/cmd/server/origin/run_components.go#L265

These variables are no longer required by the official deployer image as of https://github.com/openshift/origin/pull/7197. It's possible some custom deployer image or hook logic is using them.

[2016-02-10 19:42] rhamilto opened #7201 "Border on .ace_editor within .modal looks janky"
Currently, .ace_editor is set to have a border around it per https://github.com/openshift/origin/blob/master/assets/app/styles/_core.less#L900.  When put inside a .modal, this border looks a bit janky.

![screen shot 2016-02-10 at 2 33 45 pm](https://cloud.githubusercontent.com/assets/895728/12959250/a9a5b5e0-d003-11e5-8701-d3f0ccdff90e.PNG)

I propose we remove the border any time an .ace_editor

[2016-02-10 19:54] fabianofranz commented on #7033
cc @deads2k

[2016-02-10 19:55] fabianofranz commented on #7064
cc @deads2k

[2016-02-10 20:16] DirectXMan12 commented on #6293
I personally have not tested with the version on heapster-scalability -- you should probably wbe using the version that's built from master.

@mwringe has the image changed to be built off of a different version of heapster?

[2016-02-10 20:20] derekwaynecarr commented on #7166
So the upstream PR that merged today may improve the time, but we would also need to move the downstream controller to follow a similar pattern.  I can look to get a PR together to adopt a queue for openshift, but I am not sure if I should move to use delete_collection calls in OpenShift now or not...

[2016-02-10 20:24] rhamilto commented on #7201
Proposed fix:  https://github.com/openshift/origin/compare/master...rhamilto:ace-editor-modal?expand=1

[2016-02-10 20:34] derekwaynecarr commented on #7166
On further thought, I would prefer we measure after the rebase that includes the earlier mentioned PR to understand if we need further improvements since ultimately, I would like to move to a single shared controller in both Origin and Kube that uses the Discovery API.

[2016-02-10 20:35] SillyMoo commented on #6293
I am talking about the official image from https://github.com/openshift/origin-metrics, if you look at the dockerfile (https://github.com/openshift/origin-metrics/blob/master/heapster-base/Dockerfile) it pulls the code from the heapster-scalability branch.
Also the official version in docker hub (https://hub.docker.com/r/openshift/origin-metrics-heapster/, image name: (openshift/origin-metrics-hea

[2016-02-10 21:04] jwforres opened #7204 "No validation on create / update that the route's service is within the same namespace"
The logic under the covers is making the assumption that the service referenced in the To field is in the namespace, but nothing in the validation actually prevents you from posting an object that points to another namespace.  The service lookup happens against the route's namespace no matter what you specify.

[2016-02-10 21:05] jwforres commented on #7204
cc @liggitt

[2016-02-10 21:06] liggitt commented on #7204
both f5 and template routers ignore the service ref namespace. @smarterclayton should we change this to a localobjectreference (possibly orphaning data in etcd) or change defaulting/validation to allow namespace but default it to the current namespace and prohibit cross-namespace routes (for now)?

[2016-02-10 21:28] mwringe commented on #6293
@DirectXMan12 origin-metric is currently using a build from the heapster-scalability branch. We don't track HPA directly, its probably something we need to add to the origin-metrics e2e tests.

@SillyMoo It should be build using the heapster-scalability branch as of a couple of days ago, not sure why its not showing the right version for you, let me check.

[2016-02-10 21:44] derekwaynecarr commented on #3072
@smarterclayton - best i can tell, it depends on kernel version, systemd version, docker version.

[2016-02-10 21:53] benjaminapetersen commented on #5913
How about alert within the log?

![screen shot 2016-02-05 at 3 18 24 pm-boxes](https://cloud.githubusercontent.com/assets/280512/12963108/cd04c6a8-d016-11e5-930e-6f1cb3094a8f.png)
boxes. :smile:

[2016-02-10 22:07] #6862 closed

[2016-02-10 22:23] #7186 closed

[2016-02-10 22:30] cjryan opened #7208 "oc rsh showing stdin errors"
When running any 'oc rsh' command, the following error is observed. The command will execute successfully, despite the error.
[code]
The current setup is:
      oc version
      oc v3.1.1.6
      kubernetes v1.1.0-origin-1107-g4c8e6f4

To setup the testing environment, create a pod in a project using this json file:
https://raw.githubusercontent.com/openshift-qe/v3-testfiles/master/pods/pod_with_t

[2016-02-10 22:40] smarterclayton commented on #3072
@bparees sounds like you're going to have a lot of edge cases...

[2016-02-10 22:42] smarterclayton commented on #7204
I don't think we'll ever support cross namespace routes.  Do we need
to change something here other than document it is ignored?  Not
returning a field anymore is not backwards compatible.

[2016-02-10 22:44] kargakis commented on #7192
and

Currently, you cannot push to an image stream that doesn't exist, so you cannot deploy from an image stream that doesn't exist, too. @deads2k you wanted builds to be able to push into non-existent image streams (by creating and then pushing), right?

[2016-02-10 22:49] bparees commented on #3072
@derekwaynecarr is there any list of the likely candidates, or it's just the wild west where anyone can put the files anywhere they want?

@smarterclayton just has to last until we get cgroup parenting, right?  unfortunately the current behavior is to fail the build if we can't find the cgroup files...

[2016-02-10 22:55] spadgett commented on #5913
I was thinking of something along the lines of our empty state message.

<img width="786" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/12964670/66f52c6e-d01f-11e5-9952-f92490c61e5f.png">

[2016-02-10 22:55] ncdc commented on #7208
On what OS are you running `oc rsh`?

[2016-02-10 22:56] #7156 closed

[2016-02-10 23:08] #7061 closed

[2016-02-10 23:11] liggitt commented on #7204
it's omitempty, so unless someone put a value in it, we've never returned it

[2016-02-10 23:12] mwringe commented on #6293
@SillyMoo I figured out version issue you were seeing. We have a system in place to do the builds, but for some reason it was building the Heapster image using a specific SHA version of the heapster-base image which was too old. I have manually pushed out new images which should now be the correct version

[2016-02-10 23:16] smarterclayton commented on #7204
Ok, then let's drop it silently and hope no one is using it to store secrets.

[2016-02-10 23:22] YannMoisan commented on #7192
It's a DC (deployment config). So the aim is in fact to pull the image. And the deploy works fine because the IS exist in an other namespace. It is the reason why I think it's a false negative.

[2016-02-10 23:22] liggitt commented on #7177
From email list:

[2016-02-10 23:22] #7177 closed

[2016-02-10 23:26] kargakis commented on #7192
Ah, so the image stream exists.. Then, yes, this is a false negative related to oc status. I will look into fixing this tomorrow.

[2016-02-10 23:27] kargakis commented on #7190
@danmcp I think this is at most P3

[2016-02-10 23:32] YannMoisan opened #7213 "Still need to add secrets to service account"
I have a BC with a custom strategy and the docker image is located on an external registry.

Since security change in [v1.0.5](https://github.com/openshift/origin/releases/tag/v1.0.5), I don't need anymore to add secrets to service account.

But the build fails with a credential error until I add the secret with this command :

[code]

[2016-02-10 23:34] liggitt commented on #7213
You need to add them to the service account for the build to automatically pick them up. It will only search the secrets on the builder service account automatically. You can manually set the pullSecret in your custom strategy if you want without needing to add it to the service account

[2016-02-10 23:52] bparees commented on #7176
that's not coming from us, it's coming from the docker build process right?  So filtering it is possible but trying to then report success/failure is going to be error prone at best.

(ie we are not the ones pulling the image in this case, docker build is)

[2016-02-10 23:55] cjryan commented on #7208
Sorry, it's Fedora 23, 4.3.3-300.fc23.x86_64

[2016-02-11 00:33] #7116 closed

[2016-02-11 03:47] #7090 closed

[2016-02-11 04:21] smarterclayton commented on #7090
Thanks for running this down... It's little stuff like this that make
the difference in the end.

[2016-02-11 05:09] #7146 closed

[2016-02-11 05:50] derekwaynecarr commented on #3072
@bparees - I will try to investigate more tomorrow on set of possible
outcomes.

On Wednesday, February 10, 2016, Ben Parees <notifications@github.com>
wrote:

[2016-02-11 05:59] derekwaynecarr commented on #5138
https://github.com/docker/docker/issues/16256

[2016-02-11 06:11] TomasTomecek commented on #5138
Good point. This is resolved for me for some time.

[2016-02-11 06:11] #5138 closed

[2016-02-11 06:23] #7194 closed

[2016-02-11 08:26] mfojtik commented on #7176
@bparees I think what we can do is to suppress the output of docker build, check for the failure and if that happens flush that out to build log. The problem is that when you pulling multi-layer image, this floods the screen in webconsole so you have to always scroll down... Also the log streamer is not doing great job on rendering the progress bars, so each update is a new line...

[2016-02-11 09:01] SillyMoo commented on #6293
@mwringe That's great thanks for that, just pulling down the latest image now.

[2016-02-11 09:03] SillyMoo commented on #6293
This still leaves the proxy problem however. I finding that the proxy can not access the heapster image from the master, always saying that it can not reach the relevant IP Address (an SDN internal address). This also seems to be leading to the HPA issues (as the HPA is suffering from the same 30s timeout).
I am using a standard origin-ansible installation and I see the same problem on both 1.1.0.

[2016-02-11 09:10] YannMoisan commented on #7213
pullSecret is configured but not mounted automatically

[code]

[2016-02-11 09:15] rhcarvalho commented on #7174
FWIW, I believe this is not only affecting builds, but deployments as well, as the code is pretty much the same.

[2016-02-11 10:31] YannMoisan commented on #7213
Precision : it works with docker and STI but not with custom strategy

[2016-02-11 11:12] rhcarvalho commented on #7174
I'm working on a fix for this. Will detect the error code and retry.

[2016-02-11 11:27] kargakis commented on #6926
Fixed in https://github.com/openshift/origin/pull/7135

[2016-02-11 12:06] thoraxe opened #7215 "[RFE] webui should show events/info related to a pod's pending status"
As an example, if an NFS mount is failing, the pod status is permanently "pending" with no real way to figure out what's going on unless you dive into the events list.

[2016-02-11 13:12] YannMoisan opened #7217 "Easy Github Webhook Configuration"
When I create a new BC with a GitHub trigger, I'd like to have a message :

Don't forget to add this webhook URL : https://<server>.axaxx.nu:8443/oapi/v1/namespaces/foo/buildconfigs/foo/webhooks/mkjakrkp/github by going to : https://github.com/foo/bar/settings/hooks/new

Given the Git URI, it should be possible to determine the new hook URL.

[2016-02-11 13:14] mfojtik commented on #7217
@YannMoisan it is possible to add that message to `oc new-build` and `oc new-app`, but not to generic create BC. Also it might be possible to show this in web console @jwforres ?

[2016-02-11 13:22] mfojtik commented on #7215
@jhadvig FYI

[2016-02-11 13:24] mfojtik commented on #7213
I can take a look tomorrow.

[2016-02-11 13:59] jwforres commented on #7179
That is a standard icon that means "code" or "source" but I will think about alternatives.

@danmcp is there a reason you marked this as P1 ?

[2016-02-11 14:09] danmcp commented on #7179
@jwforres Feel free to change.  I think I thought it was worse when I first looked it over.

[2016-02-11 14:12] jwforres commented on #7179
The icon looks better when its next to the repo URL, when we have the commit info instead it does look a little off.

[2016-02-11 14:15] deads2k commented on #7191
This kind of consistency isn't a priority.  Most errors are just plain errors.  Having been down this path, wrapping every kind of error in a handler is not generally worth the effort.  You're better off targeting a few spots with the same interface.

See our limited usage `util.HandleError` as an example.  Most errors just fail, a few are special snowflakes.

[2016-02-11 14:15] jhadvig commented on #7215
There already is a PR for this -> https://github.com/openshift/origin/pull/7164
where you will be able to filter events based on the type

[2016-02-11 14:16] jwforres commented on #7217
@YannMoisan unrelated issue but i see your webhook URL has a double slash in it, do you remember where you copied it from?

[2016-02-11 14:22] jwforres commented on #7217
In the console after you create a new app from builder + source, the Next Steps page has a section that tells you to set up your webhooks and links to our docs.  I hesitate to put more github specific URL building into the code, if GitHub goes and changes their URL patterns for their web UI in the future we would have to patch a lot of old releases with the new URL pattern.

[2016-02-11 14:22] ncdc commented on #7208
This works for me on Fedora 23 from commit 4d1c1ba. Did you run out of available file descriptors, perhaps? (ulimit -n)

[2016-02-11 14:31] jwforres commented on #7215
Yeah @jhadvig's PR should help a lot.

We also have a plan to improve it further if it doesn't cause perf issues by fetching the events as soon as you go to the pod page and showing the number of "warning" level event on the events tab label.

A third improvement we are considering would be to always watch for warning events across the whole project and surface them at the top as a flagged list of

[2016-02-11 14:31] #7215 closed

[2016-02-11 14:35] jwforres commented on #7201
@rhamilto yes, open the PR

[2016-02-11 14:37] jwforres commented on #7175
bumping the priority up cause i'm betting these URLs are broken as is

[2016-02-11 14:42] timothysc opened #7219 "Automated publishing of origin/master rpms to copr repos."
Currently there are about 1/2 dozen folks who are hand building rpms and custom configuring repos for deploys for clusters against origin/master for performance evaluation and testing.   (rpms) are the most trusted+tested mechanism to deploy using the installer.

Everyone agrees this should be automated and we should just properly version the .rpms and point our installers at a maintained copr rep

[2016-02-11 14:44] jeremyeder commented on #7219
This will save millions of kittens.

[2016-02-11 14:47] liggitt commented on #7217
Agree, the fewer deep links to sites outside our control, the better

[2016-02-11 14:47] jeremyeder commented on #7219
@maxamillion

[2016-02-11 14:48] timothysc commented on #7219
xref: 6891 - as version-collide-itis-osis

[2016-02-11 14:50] YannMoisan commented on #7217
@jwforres

I create my project with the CLI. So adding that message to `oc new-app` is perfect.

Otherwise, don't worry about the double slash, it's result for a manual change.

[2016-02-11 14:50] brenton commented on #7219
@tdawson is working to have Origin built in CentOS which would make an RPM-based distribution easier to consume.  @smarterclayton, would you be OK with bumping the origin.spec whenever new releases are made?

I'm sure in the meantime we could keep the copr up to date until CentOS builds are available.

[2016-02-11 14:52] sdodson commented on #7219
This wasn't the case when we originally added the spec file, much to my dismay. So it's news to me that there's wide agreement on this.

[2016-02-11 15:19] benjaminapetersen commented on #5913
+1 to that, much better!  Others?  Thoughts?

[2016-02-11 15:25] rrati commented on #7219
I think there will always been a need to be able to install newer rpms than whatever the latest ones in a copr or other repo.  Whichever path we go down we should provide a means to disable installing our repo so a custom repo can be provided in the inventory file.

[2016-02-11 15:27] mfojtik commented on #7175
@jwforres they are not, or at least the browser can translate that character to '/' somehow ;-) It just looks ugly in console...

[2016-02-11 15:35] spadgett commented on #5913
@ajacobs21e thoughts on this?

[2016-02-11 15:36] brenton commented on #7219
There's also the issue of building the Origin images from the RPMs.  We would love to upstream all the things we do buildwise for OSE but, to @sdodson's point, months ago there was disagreement on whether it was appropriate for Origin or not.  I think now that CentOS is a target for Origin we should be able to move forward with providing an accurate specfile and Dockerfiles and build script for lo

[2016-02-11 15:42] jayunit100 commented on #7219
+1000 we need to
- test from source
- on a cluster
- from head
- reproducibly
- using identical deployment that is used in prod

This means we need

- hosted
- accessible from outside a vpn
- up to date

 in order to accomplish most of the stuff that we care about with confidence

[2016-02-11 15:44] brenton commented on #7219
@jayunit100, @arilivigni is working on updates to vagrant-openshift that would handle what you need.  Namely, you run a command to build RPMs from source.  It yields a local yum repo that is then used when you run the vagrant command to build all the images.  What we're missing is to finish that plugin update and then push the Dockerfiles/spec changes to Origin.

[2016-02-11 15:47] brenton commented on #7219
@smarterclayton, I'm pretty sure we can do what I'm describing without complicating the lives for people who prefer the current non-rpm dev workflow.  Are you OK with pushing specfile updates and the Dockerfiles to Origin?  We'd push the vagrant-openshift plugin updates at the same time along with docs on why someone might want to use the RPMs.

[2016-02-11 16:07] benjaminapetersen commented on #5913
Agree, with @ajacobs21e's :+1: I'll make the change to this.

[2016-02-11 16:10] spadgett commented on #5913
By the way, it's just the `empty-state-message` style with centered text and adjusted top margin.

[2016-02-11 16:11] spadgett commented on #5913
Example here: https://github.com/openshift/origin/blob/master/assets/app/views/browse/build-config.html#L72-L89

[2016-02-11 16:13] jwforres commented on #7005
@ajacobs21e before the re-design this link was always hanging out at the bottom of the white tile area, so it was visually separated from the table beneath the tile.  now that we don't have the tile it feels strange in its current location.  We don't feel like its worthy of its own tab, because annotations are not really intended for end users (we try to push labels for end users to use) but it is

[2016-02-11 16:16] stevekuznetsov opened #7224 "LDAP group extended test should use binary build from local repository"
This would allow us to update LDIF init files and add new extended tests at the same time.

/cc @liggitt @deads2k

[2016-02-11 16:26] dobbymoodge opened #7225 "Add subject whitelist to PodNodeConstraints plugin"
https://github.com/openshift/origin/pull/6979/

In the near future, I'd like to add a whitelist to the types for this plugin so that users (e.g. cluster-admin) can specify nodeName/nodeSelector when it is prohibited by policy for all other users.

@wshearn @twiest @deads2k

[2016-02-11 16:30] deads2k commented on #7225
@wshearn  @twiest Is this a feature you'd find useful?  If you don't have it, you'd have to create a separate project that pins pods to particular node every time you needed to run a pod on that node.

/cc @csrwng

[2016-02-11 16:36] Meems33 opened #7226 "Openshift import-image call via REST API"
Is this possible?

I'm looking for a way to import images from an artifactory docker repository into an openshift internal docker repository (without using CLI). So far I have been able to use the openshift REST API to create an image stream that pulls from the repository and auto loads tags using this json:

[code]

If my repository has three tags "test1", "test2", and "latest" this will cause th

[2016-02-11 16:37] DirectXMan12 commented on #6293
Does your proxy connect to other pods?  Can you ping the container IP directly from the master node?

[2016-02-11 16:46] liggitt commented on #7213
isn't that working as expected for custom builds? I would expect to have to explicitly set up the `secrets` list in the custom params for things you wanted mounted in

[2016-02-11 16:51] mwringe commented on #6293
it looks like something has changed and heapster is no longer accepting the connection from the api proxy. Investigating now

[2016-02-11 16:55] bparees commented on #7213
pullSecret is intended to use to pull the builder image itself, it's not supposed to be made available to the build-logic.  that's what secrets is for.

in this case the builder image is your custom image.  in s2i builds, the builder image is "ruby-22-centos7" or whatever.  So conceptually it's a little different.

For your custom scenario
1) use pullSecret to allow openshift to pull your custom i

[2016-02-11 16:56] ewolinetz opened #7227 "Daemonset deleting RC deployed pod"
Versions:
oc v1.1.2-121-gb79bbf9
kubernetes v1.2.0-origin

This is what I observed in the logs when I see my RC pod get terminated (and rescheduled):
[code]

Here is the -o yaml for my daemon set
[code]

Here is the -o yaml for my dc
[code]

Even if I remove the `provider: openshift` label I see this problem occur.

[2016-02-11 17:07] vbehar opened #7228 "docker build pullSecret broken in 1.1.2"
Hi,

we found a serious regression in 1.1.2 when building using the docker strategy and a pullSecret (to pull a private docker image as the base image), related to the new support of the .docker/config.json format :

previously, only the .dockercfg format was supported, and so the `PULL_DOCKERCFG_PATH` env var in the builder pod was set to `/var/run/secrets/openshift.io/pull/.dockercfg`

but now,

[2016-02-11 17:12] YannMoisan opened #7229 "[POST_REBASE] numeric ordering of `oc get pods` output"
It will be nice to have a numerically ordered output for `oc get pods` :

Here is the current output :

[code]

[2016-02-11 17:25] SillyMoo commented on #6293
So I did some more digging today. I found that if I have setup the master to also be a node (set to unscheduleable), then the proxy can connect to the heapster pod. Unfortunately the pod always replies 'Unauthorised', from the proxy (trying now to see if HPA works or not, as I guess the right keys are used in that case?).
I'm guessing it works when the master is also a node because it then has ope

[2016-02-11 17:41] bparees commented on #7228
Pull the new sti-builder and docker builder image.  It sounds like you have mismatched levels. You should have a warning in your build log about that.

[2016-02-11 17:50] SillyMoo commented on #6293
Well with the master as a node too the error message changes to:
Feb 11 17:48:50 openshift-master origin-master: I0211 17:48:50.526193   16102 metrics_client.go:138] Sum of cpu requested: {0.100 DecimalSI}
Feb 11 17:48:50 openshift-master origin-master: W0211 17:48:50.530452   16102 horizontal.go:190] Failed to reconcile es-master-scaler: failed to compute desired number of replicas based on CPU u

[2016-02-11 18:06] DirectXMan12 commented on #6293
Sounds like you have a cert problem.  The CA accepted by heapster needs to be the Kube CA (this should be automatically setup by the installer pod, unless something has changed there).  Additionally, the 'system:proxy' user must have permissions to access the metrics (again, this should be automatically set up, unless you overrode the accepted users during the setup process).

[2016-02-11 18:40] rhamilto opened #7230 "Text-only pages should have a white background instead of a gray one?"
Should pages like

![next-steps-gray](https://cloud.githubusercontent.com/assets/895728/12986345/c4605900-d0c4-11e5-8310-d4190e96560e.png)

use a white (or lighter) background instead to improve the legibility of the text and overall appearance of the page?

![next-steps-white](https://cloud.githubusercontent.com/assets/895728/12986361/dc2a6c38-d0c4-11e5-9afb-62c52ad8a3b7.png)

cc:  @jwforres, @sp

[2016-02-11 18:41] jwforres commented on #7230
cc @ajacobs21e

[2016-02-11 18:43] luciddreamz commented on #7230
+1

[2016-02-11 18:45] deads2k opened #7231 "admission attribute comparison must take into account group"
Admission attributes recently became group aware, so https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/admission/interfaces.go#L35 and https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/admission/interfaces.go#L45 return partially qualified types.

We need to sweep every call to those methods and make sure that any

[2016-02-11 18:48] SillyMoo commented on #6293
Note kube certs. If I deploy heapster on a http port not a https then I get the metrics just fine.
The Unauthorised in this case is heapster saying the proxy is unauthorised to use it's https API, not kube saying heapster can't use it's API.

[2016-02-11 18:49] SillyMoo commented on #6293
I guess more likely the latter one in that case, as you say though should be automatic as part of the deployment (I use metrics deployer).

[2016-02-11 18:51] SillyMoo commented on #6293
@DirectXMan12 How do I check the permissions of the system:proxy user (I'm guessing this is a special user like the SA users, as it does not appear when I do 'oc get users').

[2016-02-11 18:54] smarterclayton commented on #7219
I'm not opposed to the updates, but they'll need to go through review and
we can sort out technical issues there.

On Thu, Feb 11, 2016 at 10:47 AM, Brenton Leanhardt <
notifications@github.com> wrote:

[2016-02-11 19:00] SillyMoo commented on #6293
@DirectXMan12  and is it system:proxy? or system:master-proxy (as the deployer uses system:master-proxy by the looks of it).

[2016-02-11 19:03] vbehar commented on #7228
Ok I'll check that later (can't right now). but in the source code we found https://github.com/openshift/origin/blob/v1.1.2/pkg/build/builder/docker.go#L237

[2016-02-11 19:07] deads2k commented on #7182
Taking a look.

[2016-02-11 19:10] bparees commented on #7228
@vbehar i think you're correct, it looks like the docker codepath wasn't updated when the s2i codepath was updated.  will work on a fix.

@smarterclayton fyi.

[2016-02-11 19:16] benjaminapetersen commented on #7230
Fits the new theme better, though something about the grey background makes the page feel a bit more structured to me.  Not sure why...

[2016-02-11 19:28] ajacobs21e commented on #7230
@rhamilto a status type page like this looks like empty state to me https://www.patternfly.org/patterns/empty-state/

which also uses the grey background

[2016-02-11 19:28] luciddreamz commented on #7230
I think the improved structure above is (at least partially) an illusion created by the white background the images are pasted on.

Here they are with a browser window framing them:

![console_gray](https://cloud.githubusercontent.com/assets/928421/12987752/87d519b0-d0cb-11e5-807a-6076ab35dc54.png)

![console_white](https://cloud.githubusercontent.com/assets/928421/12987757/8db08ffe-d0cb-11e5-9ba5

[2016-02-11 19:33] benjaminapetersen commented on #7230
Fair enough on the browser window frame, I can roll with that.

Per @ajacobs21e, I tend to agree. I'd rather "Go to overview" be a main action button like in the [empty state page](https://www.patternfly.org/patterns/empty-state/).

[2016-02-11 19:43] akostadinov commented on #7208
@cjryan, are you running `oc rsh` manually or through script? Perhaps stdin is closed.

[2016-02-11 19:43] smarterclayton commented on #7228
Do we have enough tests around pull secrets?

[2016-02-11 19:44] #7163 closed

[2016-02-11 19:56] bparees commented on #7228
@smarterclayton clearly not, i'm working on adding one as part of the fix for this.

[2016-02-11 19:59] YannMoisan commented on #7213
Yes, I use the pull secret to pull the builder image on a private registry.

[2016-02-11 20:07] bparees commented on #7213
right.  and if you want a secret to be mounted into your container (because you have some logic in your image that needs to reference it), you specify it in the secrets section of the custom strategy.

[2016-02-11 20:07] #7213 closed

[2016-02-11 20:30] rhamilto commented on #7230
Where they differ is empty state is a gray box put on a white background, which plays in to the comments about "structure" by @luciddreamz.

[2016-02-11 20:31] jwforres commented on #7179
@spadgett putting in 1.2 since you already have that change we discussed

[2016-02-11 20:40] jwforres commented on #7171
As @liggitt mentioned oc tries to be backward compatible as a client.  "Latest" is right for what is checked into origin.  Enterprise can either be overridden to lock to where the versions for that release are hosted, to point to a generic location where all the releases are located, or could completely hide the oc download section by default.  Any running OS server is able to customize the links

[2016-02-11 20:40] #7171 closed

[2016-02-11 20:47] smarterclayton commented on #7192
We should definitely indicate the IS is in another namespace, and in the future warn / recurse as necessary.

[2016-02-11 20:52] thesteve0 commented on #7171
Tries being the operative word. How often do we actually test. Feels like
we are setting up for a bad experience here.

On Thu, Feb 11, 2016 at 12:40 PM, Jessica Forrester <
notifications@github.com> wrote:

[2016-02-11 20:53] smarterclayton commented on #7174
Make sure to limit the retry.

On Thu, Feb 11, 2016 at 6:12 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

[2016-02-11 20:56] rhcarvalho commented on #7174
The retry is limited by a timeout. We can also have some kind of throttling.
But first I need to see the retries actually eventually leading to a Build and not an Expired watch.

[2016-02-11 20:57] deads2k commented on #7182
It's a restriction in the upstream `patch` command.  I've submitted https://github.com/kubernetes/kubernetes/pull/21099 to add a flag to get the behavior you'd need for something like `oc patch dc/ruby-hello-world -p '[{"op": "replace", "path": "/spec/triggers/1/imageChangeParams/from/name", "value":"foobar:v2"}]' --type=json`.

For now, you could try `get | jq | update` for a script or `oc edit`

[2016-02-11 20:58] deads2k commented on #7182
Oh, and I don't see a way to do this using a strategic merge patch.

[2016-02-11 21:00] spadgett commented on #6757
The logs now show pod logs for an active deployment.

![deployment-logs](https://cloud.githubusercontent.com/assets/1167259/12990441/6bcd1ecc-d0d8-11e5-9665-ddac1afa2d12.png)

[2016-02-11 21:00] jwforres commented on #6744
closing since we are tracking the deployment config editor story in trello

[2016-02-11 21:00] #6744 closed

[2016-02-11 21:05] jwforres commented on #6725
according to @smarterclayton the fix is that the API server is going to return the latest available container log, whether that container has already died or is currently running. so we'll need that fix rebased from kube

[2016-02-11 21:09] jwforres commented on #6757
So remaining issue is just that we don't link to the pods from the deployment today in case you wanted to get the logs from other pods in the deployment (since the API just takes the first one's logs).  So that will be the fix in https://github.com/openshift/origin/pull/7134

[2016-02-11 21:16] ebalsumgo opened #7235 "Recycler pod is failing"
I have a number of PVs loaded up and I just released one of them and it ended up in Failed state with the following error:
----> oc describe pv pv0f32cf87
Name:		pv0f32cf87
Labels:		size=2Gi,type=localnfs
Status:		Failed
Claim:		openshift-infra/metrics-cassandra-1
Reclaim Policy:	Recycle
Access Modes:	RWO,RWX
Capacity:	2Gi
Message:	Recycling error: Unexpected error creating recycler pod:  Pod "pv-

[2016-02-11 21:18] jwforres commented on #6621
@liggitt with @smarterclayton's changes in https://github.com/openshift/origin/pull/6953 is there anything else the console needs to worry about here?

[2016-02-11 21:19] ebalsumgo commented on #7235
I am trying to dig through my masters (i have 2) logs to see if they have anything more than that.

[2016-02-11 21:21] jwforres commented on #6584
We should do something here, we arent showing all the available debugging info by not surfacing the reason anywhere.  At a minimum it probably needs to get surfaced on the pod page

[2016-02-11 21:23] jwforres commented on #6485
hmmm so this is actually a bigger problem when running under quota, you'd have no way to delete these builds from the UI and would be dependent on waiting for the reaper

[2016-02-11 21:26] liggitt commented on #6766
nice to have (allows running `oc` in pods without any manual setup): https://github.com/kubernetes/kubernetes/pull/21095

[2016-02-11 21:30] liggitt commented on #6621
I think the UI would need to change to use `route.status.ingress[n].host`

[2016-02-11 21:35] smarterclayton commented on #6766
No-op changes: https://github.com/kubernetes/kubernetes/pull/20897

[2016-02-11 21:47] jwforres commented on #6621
We should really update to show the new info.  If a route has no status.ingress then the route is "Pending"  if it has status.ingress then it could have multiple, in which case we need to decide which one is the best one to show in the overview and in the routes table, on the route itself we should just show all of them.  An ingress can be admitted or not, if it is not admitted that needs to show

[2016-02-11 21:53] ajacobs21e commented on #5913
@benjaminapetersen I'm here finally!

I agree with Sam's empty state style message however I suggesting using the (i) info icon. The warning looks like something is wrong, which I don't believe is the case if it's just that the log is archived.

Are we able to tell the difference between archived and something wrong? "could not be loaded" sounds like I did something wrong or something else went wr

[2016-02-11 21:54] ajacobs21e commented on #5913
although I do think

is adorable :)

[2016-02-11 21:56] benjaminapetersen opened #7236 "Web console: make live reload optional"
With the last fix enabling live reload I realize that I occasionally like to compare changes across a couple tabs, but this is no longer possible. I'd like to update `hack/serve-local-assets.sh` and `Gruntfile.js` to make live-reload optional.

Its been a while so I'll have to lookup how you pass args to grunt tasks but I'm thinking something along the lines of:

[code]

@jwforres @spadgett @sg00d

[2016-02-11 21:58] jwforres commented on #7236
+1 should do something, will think about the options tmrw

[2016-02-11 22:27] alejandronb commented on #6293
I'm in the same point that you @SillyMoo.
The following error appears to me:
failed to unmarshall heapster response: invalid character 'U' looking for beginning of value

Can it be because the secrets were created with the following command?
$ oc secrets new metrics-deployer nothing=/dev/null

In which project are you deploying the hpa? I'm deploying it in project "test" (not in openshift-infra)

[2016-02-11 22:32] mwringe commented on #6293
The latest origin-metrics components don't appear to be working with the HPA anymore due to an issue in Heapster that we need to resolve. I have the api proxy accessing working again locally, but I need to properly fix it and push out a PR

[2016-02-11 23:13] YannMoisan opened #7237 "Support for deletion of all projects starting with"
I use one project by environment, so I have

[code]

I search a way to delete them all, e.g. a command like `oc delete project "foobar*"`.

My current workaround is `oc get project -o json | jq '.items[].metadata.name' | grep foobar | xargs oc delete project`

[2016-02-11 23:19] liggitt commented on #7237
Could you label the projects, and use a label selector to delete them?

[2016-02-11 23:26] YannMoisan opened #7238 "oc get pods --all-namespaces should not return an error"
This command should display all pods that I can access instead of returning an error

[code]

[2016-02-11 23:29] mwringe commented on #6293
I pushed out a new image origin-metrics heapster image which adds back in support for accessing Heapster via the api proxy. It contains a custom patch at the moment while the pr for heapster is waiting.

Heapster issue: https://github.com/kubernetes/heapster/issues/967
PR: https://github.com/kubernetes/heapster/pull/968

In case anyone was wondering `failed to unmarshall heapster response: invalid

[2016-02-11 23:36] #6162 closed

[2016-02-11 23:36] #6346 closed

[2016-02-11 23:50] YannMoisan commented on #7217
@liggitt I understand your point

In the case of GitHub :
- OpenShift provides an explicit GitHub hook and I guess that the code depends on the payload returns by GH.
- Some concurrent PaaS provides a seamless integration with GH. so it's becoming a de-facto standard.

[2016-02-11 23:58] pweil- commented on #7227
@soltysh - do you have time to look at this?  I have my hands full with the rebase still

[2016-02-12 00:08] liggitt commented on #7217
I'm referring to the URL on the github website where you set up the web hooks (https://github.com/foo/bar/settings/hooks/new). That's not part of any API, or something we can depend on not changing.

[2016-02-12 00:30] liggitt commented on #4473
dupe of https://github.com/openshift/origin/issues/4473

[2016-02-12 00:30] #4473 closed

[2016-02-12 00:31] liggitt opened #7239 "TestMultipleImageChangeBuildTriggers test flake"
Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/10688/console
[code]

[2016-02-12 00:31] liggitt commented on #7239
@smarterclayton ring a bell?

[2016-02-12 00:52] #7201 closed

[2016-02-12 00:53] YannMoisan commented on #7237
@liggitt How can I label the projects ?

`oc new-project` doesn't seem to support `-l`

[2016-02-12 00:53] smarterclayton commented on #7239
Could be race condition with an import?

[2016-02-12 00:53] smarterclayton commented on #7239
Or this could be the watch race we fixed upstream

[2016-02-12 00:58] YannMoisan commented on #7217
[Creating a Web Hook](https://developer.github.com/webhooks/creating/) by calling the GH API or providing the curl command is also an option.

[2016-02-12 01:00] liggitt commented on #7217
Sure, but that requires an active github oauth access token, which the OpenShift web console or CLI will not have

[2016-02-12 01:05] liggitt commented on #7237
Yeah, labels would have to be on the underlying namespaces :-/

The resource builder bits (the part that turns arguments to `oc {create|get|delete|update} ...` into a specific list of resources are unlikely to support globbing

Cross-project-but-not-all-projects actions aren't supported at all by the API. I'm not sure what the best way to deal with those would be

[2016-02-12 01:07] YannMoisan commented on #7217
For the web console, it could be an integration like the one on Docker Hub.
For the cli, it could be an optional param `gh-token`. If provided, `oc`
configure the webhook automatically.
wdyt ?

On 12 February 2016 at 02:00, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-12 01:12] liggitt commented on #7217
the web console can't make cross-domain API requests unless explicitly allowed by the remote site because of cross-origin request limitations in browsers.

For the CLI, I'm not sure... is it easier to create a token on github.com and bring it to the OpenShift CLI or to take the webhook URL from OpenShift to github?

[2016-02-12 01:25] spadgett opened #7240 "No filter on build config or deployment config page"
No filter on these pages even though they have tables that can be filtered.

<img width="812" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/12996406/7fb35a30-d0fd-11e5-9b9c-7453af11db2a.png">

/cc @jwforres @sg00dwin

[2016-02-12 01:56] ncdc commented on #7227
There is an identical bz for this. I've asked @ewolinetz to close either this or the bz so we only track this in one place.

[2016-02-12 02:22] #7179 closed

[2016-02-12 02:39] smarterclayton opened #7241 "test-integration.sh tells me things I don't care about"
[code]

I don't need anything after 427 seconds

[2016-02-12 02:39] liggitt commented on #7238
--all-namespaces specifically maps to an unnamespaced API call, which requires cluster level permissions. We would not make that *sometimes* return results that were not actually from all namespaces.

[2016-02-12 02:42] liggitt commented on #7238
The API is not generally designed to return ACL filtered results. There is actually only a single API like that, which is listing projects.

[2016-02-12 02:54] smarterclayton opened #7243 "client: etcd cluster is unavailable or misconfigured"
https://ci.openshift.redhat.com/jenkins/job/origin_extended/617/consoleFull

Is this the disk stall thing?

[code]

[2016-02-12 02:57] liggitt commented on #7243
Hrmm, I don't remember seeing that error. I'm used to timeout and failed to propose issues

[2016-02-12 03:21] smarterclayton commented on #7165
`[Fail] Events [It] should be sent by kubelets and the scheduler about pods scheduling and running` was we weren't using the right scheduler name.

[2016-02-12 03:26] smarterclayton commented on #7165
[code]

are working now, probably fixed by perms

[2016-02-12 03:30] smarterclayton commented on #7165
[Fail] Proxy version v1 [It] should proxy to cadvisor [Conformance]
    /data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/proxy.go:275

Deliberately not exposed

[2016-02-12 03:47] smarterclayton commented on #7165
[Fail] Volumes [Feature:Volumes] iSCSI [It] should be mountable
    /data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/volumes.go:225

We need `iscsi-initiator-utils` installed on the test machine AND we need to have the SETGID cap.

[2016-02-12 04:03] smarterclayton commented on #7165
@pweil- the iSCSI one needs SETGID (I think) but is being assigned anyuid (even though privileged is available) when I request SETGID as an add cap (I'm getting denied by SCC to add that cap).  Shouldn't asking for a CAP that is in a higher SCC apply the higher SCC rules and *not* drop SETGID?

1. Pod has access to privileged and anyuid
2. Pod asks to Add SETGID
3. Pod is given anyuid and rejected

[2016-02-12 04:06] smarterclayton commented on #7165
GlusterFS and Ceph are likely the same

[2016-02-12 04:06] smarterclayton commented on #7165
Cinder should be skipped if we aren't on OpenStack - it has no innate server

[2016-02-12 04:07] smarterclayton commented on #7165
The filesystem e2e tests (anything that needs nginx) should be changed upstream to require SETGID as a cap or their nginx image needs to be changed to not require SETGID

[2016-02-12 04:09] smarterclayton commented on #7165
Guestbook tests (and anything else using redis) are failing because Redis needs SETUID cap, even with anyuid.  @pweil- may be evidence that anyuid is not effective for practical images without SETUID and SETGID.

[2016-02-12 04:15] smarterclayton commented on #7165
[code]

@pmorie Why does this take 60s to succeed?

[2016-02-12 04:17] smarterclayton commented on #7165
[code]

Worked fine directly, may be not working due to CPU contention.

[2016-02-12 04:18] smarterclayton commented on #7165
[code]

Worked fine directly

[2016-02-12 04:22] smarterclayton commented on #7165
[code]

because of

[code]

I believe the recycler is a known issue.

[2016-02-12 04:45] smarterclayton commented on #7165
@bparees which of the origin tests are known flakes?

[2016-02-12 05:01] bparees commented on #7165
origin extended tests?  it's been a while since i've tried to chase things down but last time I was looking I thought it was just the mysql replication test (which we've since removed) and the other flakes were k8s tests.

[2016-02-12 05:07] smarterclayton commented on #7165
Here are the long pole tests (over 100s) - ben can you put `[Slow]` on each of these?  If you think any of these are slow because of the pull, let me know which ones (don't add slow) and I'll mark them for pre pull.

[code]

[2016-02-12 05:07] smarterclayton commented on #7165
I mean, put on any of the ones your team owns

[2016-02-12 05:09] smarterclayton commented on #7165
Recycler failure is https://github.com/openshift/origin/pull/6884

[2016-02-12 05:09] bparees commented on #7165
@smarterclayton will do.

[2016-02-12 05:11] smarterclayton commented on #7165
@bparees also, if the test is <200s and is a good representative test for build / deploy that isn't covered by another test extensively, you can probably avoid putting Slow on.  I think with build we're going to have to pick a few for the core test and do the rest afterwards.

[2016-02-12 05:36] bparees commented on #7165
@smarterclayton this is going to be a particularly bad flake:
https://gist.github.com/bparees/342145848487c4c61ada

near as i can tell, the api server gave a 500 error when we were trying to create a new namespace for the test.

Since every test does that, it's going to be a whack-a-mole flake until we get to the bottom of it.

[2016-02-12 06:12] smarterclayton opened #7249 "Create SCC for hostnetwork"
Call it host network, give it network and host ports, and if our router doesn't need root let's not grant it.  `hostnetwork` probably works and we should update our tools to suggest that as the default SCC.

[2016-02-12 06:12] smarterclayton opened #7250 "Add an SCC "podSecurityPolicyReview" endpoint"
I died a little inside when I suggested that name, but we need to be able to submit something to the server and see if a service account has access to do it.  Possible phishing concerns.

[2016-02-12 06:16] smarterclayton commented on #7165
Local?

On Fri, Feb 12, 2016 at 12:36 AM, Ben Parees <notifications@github.com>
wrote:

[2016-02-12 06:26] SillyMoo commented on #6293
Thanks for the quick fix @mwringe

[2016-02-12 07:36] vbehar commented on #7237
how about supporting `oc delete project p1,p2` and then we could hack the completion (https://github.com/chmouel/oh-my-zsh-openshift ;-) to expand `oc delete project p*` to `oc delete project p1,p2` ?

[2016-02-12 07:57] YannMoisan commented on #7238
Let me explain what I want to achieve :

I use one project by environment, so I have

[code]

My use case is to select all pods with a given selector on my projects.

I'd like to be able to run `oc get pods --all-namespaces -l "app=foobar"`

[2016-02-12 08:03] vbehar commented on #7238
or `oc get pods --my-namespaces -l "app=foobar"` ;-)

[2016-02-12 08:07] vbehar commented on #7238
or `oc get pods -n p1,p2 -l "app=foobar"` if `-n` could supports multiple namespaces - yes, I just saw https://github.com/openshift/origin/pull/7216#issuecomment-182990276 ;-)

[2016-02-12 08:13] alejandronb commented on #6293
Thanks @mwringe.

@SillyMoo How do you deploy Heapster on a http port? Are you using metrics.yaml?

[2016-02-12 09:02] soltysh commented on #7227
I'll try to look at it.

[2016-02-12 09:03] SillyMoo commented on #6293
@alejandronb, I have only been concerned with HPA for now, so I use metrics-heapster.yml (after following the other steps defined in the readme).

[2016-02-12 10:19] SillyMoo opened #7253 "Proxy API not functioning when master is not also a node"
When the master is not also a node then the API:

[code]

Does not function, timing out with errors such as

[code]

Steps to reproduce:
Configure using openshift-ansible a system with one master and one or more nodes (not the master must not be a node), using the openshift-sdn. Install openshift-metrics (heapster only is fine) as described at: https://github.com/openshift/origin-metrics. Then try

[2016-02-12 10:20] msirovy commented on #6773
Hi I updated my cluster yesterday and since that time I have same problem, I tried reboot all nodes, set ---dns=8.8.8.8 in docker but it's still don't work... I need fast fix, users in our company need it

[2016-02-12 10:21] SillyMoo commented on #6293
@mwringe @DirectXMan12 - The heapster fix works fine thanks for that. However the issue with proxying when the master is not also a node still exists and breaks HPA in that configuration. I have raised a separate issue to track that problem: #7253

[2016-02-12 10:24] msirovy opened #7254 "After upgrade: Error: build error: timeout while waiting for remote repository"
Hi,

it's look like DNS issue, but when I start the same image via docker on node, it works. This error returns all templates in my cloud.
I have tried reboot nodes, set dns (--dns=8.8.8.8) to docker manualy and again restart.

I use this cloud for a month, but yesterday I did upgrade and since that time I am not able deploy anything.

[2016-02-12 10:36] rhcarvalho commented on #7174
FWIW, seems that just retrying with a new watcher is not a solution.

What the test runs in Jenkins showed is that every new `watcher.Watch` starts already in an expired state. Trying again makes it no better.

BTW I might have put the retry logic in the wrong place.

[code]

[2016-02-12 10:38] legionus commented on #7231
I'll try!

[2016-02-12 11:34] mfojtik commented on #7179
<img width="18" alt="screen shot 2016-02-12 at 12 33 43" src="https://cloud.githubusercontent.com/assets/44136/13005818/e29a4686-d184-11e5-9bc9-3bc0b9781c1a.png">

@spadgett @jwforres can't we steal the Github "commit" icon? It is just simple SVG ;-)

[2016-02-12 11:55] msirovy commented on #6773
update:
I found mistake in nasible hosts file, it set ip 10.3.2.1 as masterIP: so the svc/kubernetes route 53 port to bad ip

[2016-02-12 11:56] msirovy commented on #7254
update:
I found mistake in ansible hosts file, it set ip 10.3.2.1 as masterIP: so the svc/kubernetes route 53 port to bad ip. Interesting is, that ansible just config master-config.yaml but don't change ip of node or print error etc...

[2016-02-12 11:57] msirovy commented on #7254
please close this issue

[2016-02-12 12:21] deads2k commented on #5696
Fixed this.

[2016-02-12 12:21] #5696 closed

[2016-02-12 12:49] #7254 closed

[2016-02-12 12:52] mfojtik commented on #7243
do we health check etcd when starting the server?

[2016-02-12 12:57] alejandronb commented on #6293
Hi, I've also tried the new image heapster and it works, now the hpa gets the current CPU Utilization correctly.
Thank you all @SillyMoo @mwringe @DirectXMan12

[2016-02-12 13:33] deads2k commented on #7237
It supports `oc delete project p1 p2` already.  Will that do?

[2016-02-12 13:36] sspeiche opened #7255 "Firefox unresponsive with large number of builds ~400"
Running OSE 3.1.1 on stage cluster

Project: sspeiche-nodejs
To reproduce, I just logged in and when to overview page. Then got this error.

[code]

![screen shot 2016-02-12 at 8 32 59 am](https://cloud.githubusercontent.com/assets/727196/13008275/5ddd9130-d163-11e5-974c-54cc2282b29e.png)

/cc @spadgett