[2015-12-18 13:30] deads2k commented on #6394
Remove Fprint and godoc the method explaining the lack of ordering.  Lacking a proper `Set`, I think that returning a `map` is even less clear.

[2015-12-18 13:41] jimmidyson commented on #3916
Using logs sounds fine - might be worth looking at https://github.com/google/mtail?

[2015-12-18 14:01] knobunc commented on #6381
Me too:
[code]
 https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4398/consoleText

I've been hitting it for days :-(

[2015-12-18 14:04] knobunc commented on #6381
This is probably the same issue as https://github.com/openshift/origin/issues/6259

[2015-12-18 14:07] danwinship commented on #6381
I'd been seeing "mysql:latest" errors forever, but the "installable:file" one was new to me so I assumed it was different

[2015-12-18 14:10] knobunc commented on #6381
Based on @liggitt's analysis over on the other bug, it looks like it would affect any imageStreamTag... but I could well be wrong.

[2015-12-18 14:13] stevekuznetsov commented on #6382
The README I'm writing for `test-cmd` will benefit from knowing that this isn't enforced and that some suites are special.

[2015-12-18 14:13] #6382 closed

[2015-12-18 14:33] PI-Victor commented on #6165
i'm currently working on this

[2015-12-18 14:48] #4339 closed

[2015-12-18 14:48] #6361 closed

[2015-12-18 15:01] stevekuznetsov commented on #6259
If the reason for the flakes is that we hit a 30s timeout twice only because of the way the test environment is set up here, do we need to do anything other than changing the wait time? Is the logic for re-trying the import sound?

[2015-12-18 15:06] liggitt commented on #6259
changing the wait time is not the right solution. I would like to do the following things:
* shorten the timeout (we retry import failures up to 5 times anyway)
* parallelize the image import (up to some sane number, like 5-10)
* stop the import controller from retrying import for things that have been deleted

[2015-12-18 15:07] stevekuznetsov opened #6398 "test-cmd namespaces don't clean up correctly"
We see a lot of activity for objects that should have been deleted. In `test-cmd.sh` we delete the project that the test suite uses, but this doesn't clean up everything. A build from `test/cmd/admin` continues to be re-tried, deployment configs seem to pile up, *etc*.

@deads2k @liggitt @smarterclayton

[2015-12-18 15:11] stevekuznetsov commented on #6259
There seem to be a lot of problems with this sort of behavior - the logs for `test-cmd` show builds, deployments, etc, still being re-tried after their project is deleted.

[2015-12-18 15:13] liggitt commented on #6398
The namespaces are gone. The controllers retry loops are working off stale data.

[2015-12-18 15:14] liggitt commented on #6398
Dupe of https://github.com/openshift/origin/issues/6388

[2015-12-18 15:14] #6398 closed

[2015-12-18 15:24] deads2k commented on #6259
I'll parallelize and operate against live data after the cheap check

[2015-12-18 15:28] #6336 closed

[2015-12-18 15:49] PI-Victor commented on #6165
@rhcarvalho i think it would save me some time if i could get an answer at this question rather than trying to figure it out for myself but what if we change the flag `--template` in new-app to `--with-template` or `--from-template`. adding a logic to get upstream message from the kubernetes helper and workaround this sounds kinda hackish. i'm thinking it has some implications on the other hand i'

[2015-12-18 15:55] rhcarvalho commented on #6165
That has implications with backward-compatibility.

[2015-12-18 16:00] ajacobs21e opened #6403 "User testing suggestion: resource deletion from overview"
Users were asked to delete an application during a usability test 12/1. I was looking to see where users first looked for this (currently missing) functionality. 3 of 4 users expected to find a delete app option within the details panel for the service on the overview page. I have mocked up two options for including service/app deletion on the overview page:

![delete - actions](https://cloud.gith

[2015-12-18 16:07] rhcarvalho commented on #6165
At first, there are two easy fixes we can do, and leave one item as a follow-up:

1. Make `new-build -o wide` work and behave as `new-build -o ''`
2. Make `new-app -o wide` show the same error message as `new-app -o invalid`
3. The follow-up is to make `new-app` and `new-build` have the same output options. That is harder to do because of the conflicting flags with upstream.

[2015-12-18 16:09] rhcarvalho commented on #6065
One more time: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7960/

[2015-12-18 16:12] jwforres commented on #6403
yep we've actually talked about adding that recently, both delete and the raw editor, good to get user validation that its needed.

[2015-12-18 16:13] jwforres commented on #6403
@spadgett and i were thinking it would be the kebab dropdown at the top

[2015-12-18 16:18] PI-Victor commented on #6165
ok, thanks. i will do exactly that.

[2015-12-18 16:25] deads2k opened #6405 "test-cmd try-until failed output is annoying"
Failures when waiting for commands look really ugly.  It's not very useful to show me exactly the same failing text a bunch of times.

What about a time-lapse: This message 15 times for 10 seconds, then this message 5 times for 3 seconds, then this message, then the other message.

[2015-12-18 16:26] rhcarvalho commented on #2001
Summarizing my brainstorming with @hhorak on IRC earlier today:

- the `PATH` manipulation is an incomplete solution, because there are many other environment variables that need to be set for things to work correctly. Forgetting some of them would show problems only under some specific circumstances, causing unexpected bugs. E.g.: `LD_LIBRARY_PATH`, `X_SCLS`.

- @hhorak: "I tried to submit RFE fo

[2015-12-18 16:26] #2001 closed

[2015-12-18 16:27] ajacobs21e commented on #6403
@jwforres sounds good.

I updated the mockup. Let me know if there's more design work needed for this.

![delete - actions](https://cloud.githubusercontent.com/assets/6415742/11901595/609cdd64-a57a-11e5-8e2d-0a72557d2f88.png)

[2015-12-18 16:35] terrywong2 opened #6408 "Cannot find anyway to create cluster-admin without system:user"
I installed openshift in the VM via ansible playbook and just create the account call "user" and login this account, it cannot do any administration and i didn't create cluster-admin account before, so is there anyway can create the cluster-admin account or manage the openshift in this situation? thanks.

[2015-12-18 16:46] deads2k commented on #6408
Ansible should leave you with a file local to the master called `admin.kubeconfig`.  That file contains credentials for "system:admin" (a cluster-admin).  You can use that file to add more roles to various users by running

`oadm policy add-cluster-role-to-user cluster-admin <your username>`

@sdodson do you know the exact location right off?

[2015-12-18 17:20] bparees commented on #6388
Sounds like we need to add "namespace doesn't exist" to our set of fatal errors for which we do not retry in the retrycontroller.

@PI-Victor you were looking for things to do...

[2015-12-18 17:23] bparees commented on #6388
(currently we'll retry an event 60 times before giving up completely, unless a "fatal" error is returned from one of the attempts to handle it.)

[2015-12-18 17:25] ajacobs21e opened #6411 "User testing suggestion: notification styles"
Users mentioned that notifications that some notifications were hard to spot and some were too large.

I mocked up two notification styles based on PatternFly. For notifications where the user would like to see status information but does not need to take an action, a toast notification is used:
![notification - toast](https://cloud.githubusercontent.com/assets/6415742/11902673/ad1e39b0-a581-11e5-

[2015-12-18 17:26] bparees commented on #6267
closing since this is already possible, reopen if that solution does not work for you.

[2015-12-18 17:26] #6267 closed

[2015-12-18 17:29] bparees commented on #5841
@PI-Victor maybe you can help @mnagy with this also.

[2015-12-18 17:34] terrywong2 commented on #6408
cool.

`admin.kubeconfig` is local in `/etc/origin/master/` by default.

[code]

so, how can i log into system:admin/172-16-51-20:8443 account?  i tried to copy the certificate in `client-certificate-data`  field to a single file call `cert` and run the following command.

```oc login --certificate-authority=./cert```

it shows an error message.
[code]

finally, i was execute the following command

[2015-12-18 17:52] jwforres commented on #6244
I can't recreate this, when i specify contextDir of `/views` for the nodejs-ex repo i'm getting a URL like `https://github.com/openshift/nodejs-ex/tree/master/views`

[2015-12-18 17:52] jwforres commented on #6244
ahhh its when ref is not set

[2015-12-18 18:14] smarterclayton commented on #5715
Fixed in 1.1

[2015-12-18 18:14] #5715 closed

[2015-12-18 18:15] smarterclayton commented on #3942
The page is not updated automatically.  I've updated it since.

[2015-12-18 18:15] #3942 closed

[2015-12-18 18:15] smarterclayton commented on #3800
I think this is now fixed with the recursive lookup fix (we failed occasionally due to timeouts, that has been resolved).

[2015-12-18 18:15] #3800 closed

[2015-12-18 18:16] sdodson commented on #6408
@terrywong2 Can you try adding `--certificate-authority=/etc/origin/master/ca.crt`
@deads2k Are client-certificate-data and client-key-data in the kubeconfig encoded in some way?

[2015-12-18 18:22] bparees commented on #6348
presumably we also want to error if they specify USER root.

[2015-12-18 18:24] deads2k commented on #6408
You can't login using a certificate.  A cert-authenticating users identifies directly to the API server.

The intended usage is with `--config=`, sorry I left that out.

[2015-12-18 18:24] bparees commented on #6348
and if they are referencing an imagestreamtag do we care, or only if they're directly picking a docker image?

[2015-12-18 18:35] sdodson commented on #6408
@terrywong2

To summarize, system:admin is a special user that authenticates with a signed certificate. The root user, and the ansible_user if you've set one, should have the admin kubeconfig copied to their home directories during install. You'd want to have additional users login and assign them cluster-admin role as you've done in the last line of your previous comment, though you shouldn't hav

[2015-12-18 18:47] smarterclayton commented on #6348
i think if we have the metadata, do the check and show the warning.  if we
don't have the image metadata, don't warn.

On Fri, Dec 18, 2015 at 1:25 PM, Ben Parees <notifications@github.com>
wrote:

[2015-12-18 19:12] terrywong2 commented on #6408
@sdodson  adding ```--certificate-authority=/etc/origin/master/ca.crt``` is fine, it asks for username and password.

[2015-12-18 19:13] terrywong2 commented on #6408
@sdodson thanks.

[2015-12-18 19:13] #6408 closed

[2015-12-18 19:36] sosiouxme commented on #5757
https://github.com/openshift/origin/pull/6397 implements some of this. It checks that a pod's service account token authenticates to master and registry (doesn't test registry push though). It tests that the nameservers in `/etc/resolv.conf` are responsive and that the first knows about cluster.local domains, as well as checking for search domains that are wildcards. Being able to assess the situa

[2015-12-18 19:42] bparees commented on #6348
the new-app aspect of this is being addressed here: https://github.com/openshift/origin/pull/6414

assigning the rest of the issue (more debug suggestions in a crashloop backoff) to @pweil-

[2015-12-18 19:58] #6345 closed

[2015-12-18 19:58] #5952 closed

[2015-12-18 20:23] #6244 closed

[2015-12-18 20:24] smarterclayton commented on #5757
Awesome

[2015-12-18 20:38] spadgett opened #6415 "Web console: incorrect number highlighting showing up in editor"
We have a CSS rule to disable number highlighting in YAML files for Ace to avoid incorrect highlighting like this:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11906783/2fe8fcb6-a59d-11e5-8468-7226ddb8d07b.png)

It's not being used, however:

![openshift_web_console_and_web_console__warn_about_problems_with_routes_by_spadgett_ _pull_request__6353_ _openshift_origin]

[2015-12-18 20:45] jwforres commented on #6054
no longer valid, delete button is now under the menu icon

[2015-12-18 20:45] #6054 closed

[2015-12-18 20:59] #6368 closed

[2015-12-18 23:16] abhat commented on #5796
@danwinship seeing the same error with OSE3.1. Made sure pods have external connectivity by pinging github/such.

[2015-12-19 02:16] #6356 closed

[2015-12-19 05:35] kargakis opened #6419 "user cannot create template in project flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4416/consoleFull

[2015-12-19 06:03] #5926 closed

[2015-12-19 06:39] liggitt commented on #6381
same issue as #6259, closing as dupe

[2015-12-19 06:39] #6381 closed

[2015-12-19 10:29] thincal commented on #6318
Yes I am checking the DNS inside the container, the DNS name server doesn't have a entry pointing to internal openshift DNS server.

Is there anybody trying to configure the metrics components with the latest images ? is that ok still ?

[2015-12-19 12:42] roldancer commented on #6287
Hi @jeremyeder, here is the information about our node, by the way we are using OSE 3.1.

$ more /etc/redhat-release
Red Hat Enterprise Linux Server release 7.2 (Maipo)

$ uname -a
Linux XXXXXXXXXX 3.10.0-327.el7.x86_64 #1 SMP Thu Oct 29 17:29:29 EDT 2015 x86_64 x86_64 x86_64 GNU/Linux

The node has 16 CPU's and 128GB of memory

$ more /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu famil

[2015-12-19 15:09] deads2k opened #6421 "oc status shows build success before failure, not latest first"
When I use `oc status`, I want to see the most recent build first.  Knowing last successful is good, but I want the most recent at the top.

[code]

@fabianofranz thoughts?

[2015-12-19 15:14] deads2k opened #6422 "oc run doesn't seem to work with imagestream/istag"
I've got an istag/foo:latest.  I can't seem to do `oc run --tty -i --attach is/foo` or  `oc run --tty -i --attach istag/foo:latest`, both of which I'd expect to work.

User error or hole?

@fabianofranz @kargakis @smarterclayton

[2015-12-19 15:16] kargakis opened #6423 "oc status broken test"
[code]
cc: @deads2k

[2015-12-19 15:23] deads2k opened #6424 "oc get help for label selectors in inscrutible"
I forgot the format required an `=` and I got this helpful message.

[code]

Thanks guys, now I know how to use it.  How about a simplified explanation.  No one cares about the regex.

Probably need to fix this one upstream.

[2015-12-19 15:26] deads2k opened #6426 "oc status should let me know if all the pods for a DC are pending"
It's annoying that I can't look at status and know if my service or pod should be accessible.  If that pod isn't running, its not very useful to me.

[code]

[2015-12-19 15:44] kargakis commented on #6421
Agreed. I would always want the latest on top. Is it the same with deployments or it's only with builds?

[2015-12-19 15:51] kargakis commented on #6426
+1

I would expect "deployment running" to show up when at least one pod is ready. Please assign to me so I won't forget about it.

[2015-12-19 15:55] kargakis commented on #6424
Someone wanted to put that regexp in the help string for kubectl label........ :)
They sneaked it in an error as it turns out.

[2015-12-19 16:12] smarterclayton commented on #6422
Run takes an --image flag, but I don't remember whether we wired it up
for the source.

[2015-12-19 17:16] #6423 closed

[2015-12-19 17:24] jeremyeder commented on #6287
The deadlock issue is currently being worked in https://bugzilla.redhat.com/show_bug.cgi?id=1292481

If you'd like, you can subscribe to the bugzilla, but I'll make sure to post a note here as well once we have verified a fix...we're currently testing it.  Should know more next week; until then please use the latest RHEL 7.1.z kernel.

[2015-12-19 20:13] liggitt commented on #6065
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4431/console
https://github.com/openshift/origin/pull/6418
[code]

[2015-12-19 21:23] liggitt commented on #6031
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4432/

[2015-12-20 01:55] #6419 closed

[2015-12-20 02:20] liggitt commented on #6173
likely the same issue as https://github.com/openshift/origin/issues/6065#issuecomment-164042634, still trying to figure out how we appear to have multiple etcd writers

[2015-12-20 11:37] accursoft opened #6427 "expose s2i build assemble-user"
`s2i build` has an [`assemble-user`](https://github.com/openshift/source-to-image/pull/345) option which runs the `assemble` script as a specified user. This is good for security, as a malicious user exploiting a flaw in the app won't be able to modify application files (as these will be owned by the `assemble-user`, not the container's runtime user.).

OpenShift should enable this for s2i builds,

[2015-12-20 16:02] lestrade84 commented on #6287
Hi @jeremyeder. Right now @roldancer can't access the BZ you posted. It would be very appreciated if you update this issue as soon as we get any news on BZ 1292481.

[2015-12-20 20:23] smarterclayton opened #6428 "openshift-sdn godeps are wrong"
OpenShift-sdn is importing pkg/ and plugin/, neither of which are actual go packages.  It appears that openshift-sdn has never been properly godep imported (direct package imports, managed by godep save ./...).  This causes mild headaches every time we need to rebase / update a go package.

@ironcladlou @pweil- which ever person is working on rebase fixes should help @dcbw @danwinship @pravisankar

[2015-12-20 22:22] smarterclayton opened #6430 "Move all commands that are not part of the product out of cmd/ and into tools/"
The `cmd` package was intended for our delivered CLIs, not supporting tooling.  `tools` seems to be in fairly wide use in the Go ecosystem - everything in cmd that is not shipped as part of the product should be moved into tools.

[2015-12-21 03:21] abhat commented on #5796
@liggitt @danwinship do you think #6418 is related to this problem?

[2015-12-21 03:45] liggitt commented on #5796
No, #6148 was shortening an excessively long dial timeout solely for the image import controller (used to import image stream tags from a docker registry). It has no bearing on builds or any other dial timeouts.

[2015-12-21 10:00] thincal commented on #6318
@liggitt @soltysh Is there any way to debug the openshift dns ?

[2015-12-21 10:14] thincal commented on #6396
@kargakis @liggitt could you help with me about this question ? many thanks :)

[2015-12-21 10:31] kargakis commented on #6426
@deads2k "deployment running" here means the deployer. Shoule we reword it to something like "deployment process running"?

[2015-12-21 11:40] PI-Victor commented on #6388
ok, working on it.

[2015-12-21 11:51] miminar opened #6435 "Flake in cmd test"
With an error like this:

    Running hack/../test/cmd/builds.sh:81: executing 'oc patch bc/ruby-sample-build -p '{"spec":{"output":{"to":{"name":"origin-ruby-sample:latest"}}}}'' expecting success...
    FAILURE after 0.285s: hack/../test/cmd/builds.sh:81: executing 'oc patch bc/ruby-sample-build -p '{"spec":{"output":{"to":{"name":"origin-ruby-sample:latest"}}}}'' expecting success: the command

[2015-12-21 12:24] miminar commented on #6232
Should be resolved by #6335.

[2015-12-21 12:46] deads2k commented on #6426
I'm ok with "deployment running".  I'm frustrated that having "1 pod" can be in any state.  I think that only `Running` should be considered "1 pod"  Maybe just listing the state is sufficient.

[2015-12-21 13:44] liggitt commented on #6318
you are checking the full hostname (e.g. kubernetes.default.svc.cluster.local) with a DNS query from inside the container? Is the DNS server starting successfully on the master (can you include the first 100 lines or so of the log output after starting the master... you should see a line logged about DNS)

[2015-12-21 14:07] mwringe commented on #6318
There is a section in the origin-metrics troubleshooting guide on how to check the DNS server: https://github.com/openshift/origin-metrics/blob/master/docs/troubleshooting.adoc#openshift-dns-server

The origin-metrics components rely on the DNS server running properly

[2015-12-21 14:21] liggitt opened #6437 "TestRegistryClientImageV2 flake: error getting image for kubernetes/guestbook:latest"
https://github.com/openshift/origin/pull/6387
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4442
[code]

[2015-12-21 14:23] liggitt commented on #6384
panicing on timeout is not a problem (the process is getting terminated ungraciously)... timing out is the problem. Keep in mind the test that times out is not always the culprit... an earlier test could have taken way too long and used up the time)

[2015-12-21 14:54] miminar commented on #5116
Resolved by #5404.

`GET /` is used now being used in liveness probe.

[2015-12-21 14:57] miminar commented on #5900
#6439 is a last piece providing readiness probe for registry.

[2015-12-21 15:10] stevekuznetsov commented on #6384
Right, I understand that. The description for this was poorly worded. I'll update.

[2015-12-21 15:16] stevekuznetsov commented on #6384
Although aren't `go test` timeouts per-test?
[code]

[2015-12-21 15:17] PI-Victor opened #6440 "docker registry container is "unhealty" and keeps restarting"
after you create a new registry the created container keeps restarting:
[code]
i also tried to see what is going on inside the pod and it's getting a 404 response

[code]

[2015-12-21 15:37] stevekuznetsov opened #6444 "e2e container exec failure flake"
Flake in e2e [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8032/console):
[code]

[2015-12-21 15:53] #6415 closed

[2015-12-21 16:23] deads2k commented on #6435
Does anyone see how this can flake?

https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/third_party/forked/json/fields.go#L33-L57

[2015-12-21 16:26] deads2k commented on #6435
@liggitt @smarterclayton I'm not seeing the potential for inconsistent results.

[2015-12-21 16:54] #6144 closed

[2015-12-21 17:21] fabianofranz commented on #6421
+1

[2015-12-21 17:39] stevekuznetsov opened #6445 "`oc get all` should describe what it is getting"
Currently we just see the headers for each table, but not what type of object is in the table i.e. buildconfig, imagestream, etc. The output of `oc get all` would be easier to read if the tables were labeled.

[2015-12-21 17:42] kargakis commented on #6445
Dupe of https://github.com/openshift/origin/issues/2354

[2015-12-21 17:43] kargakis commented on #6435
:alien:

[2015-12-21 17:45] stevekuznetsov commented on #6445
Dang, that's an old issue...

[2015-12-21 17:45] #6445 closed

[2015-12-21 17:55] spadgett commented on #5115
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11937355/ec3bf242-a7e1-11e5-9a12-63274e161e17.png)

[2015-12-21 18:13] deads2k opened #6447 ""failed to propose on members [https://127.0.0.1:24001]""
This bug happens because the etcd server can successfully write, but the sync to the wal can be super slow. That results in the etcd server replying with a 500.  The etcd client then retries the call automatically, which fails because the action was already taken.

This can manifest as:
 1. unexpected error: namespaces "hammer-project" already exists
 2. etcdhttp: got unexpected response error (et

[2015-12-21 18:36] benjaminapetersen commented on #6403
Only thing I would suggest is considering if we can swap to a trash-can icon if we only have one "delete" item under the menu.... menus with a single option are kinda funny :smile:

Or just a "delete" text link, until we have enough actions to create a menu. I do like having the menu in place so it is obvious where future actions will go, helps enforce consistency.

[2015-12-21 18:57] dlbewley commented on #6326
I think I experienced the same or similar problem.

Recent OSE 3.1 install on RHEL7.2 was working initially, but at some point the Host IP of the master changed somehow. This broke the SDN, and made the router and registry unreachable from the rest of the cluster.

It took a while to discover that `oc get hostsubnet` returned the `tun0` 10.1.3.1 address as the hostip of the master instead of the a

[2015-12-21 19:04] jayunit100 opened #6448 "splitting logs out"
Looks like all the logs in openshift are combined.    This may be a feature, or just a convenience aspect of the fact that the binaries wrap things.

Is anyone considering splitting them out?  I'd sort of vote that it might be a good idea.

[2015-12-21 19:24] jayunit100 commented on #6448
Example:

logs from controller, kubelet, apiserver, are all in the openshift log outputs:

`/data/src/github.com/openshift/origin/_output/local/bin/linux/amd64/openshift start --loglevel=5 --public-master=localhost`

Results in (forwarded to openshift.log)
[code]

And these are all combined with logs from the kubelet (same file)
[code]

and so on.

[2015-12-21 19:51] deads2k commented on #6447
Another occurrence here:

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8043/consoleText
[code]

[2015-12-21 19:54] liggitt commented on #6448
Everything launched in a single process goes to a single log. If you are running the all-in-one, then everything (including the kubelet) will be in one log file. Normally, the master (API + controllers + scheduler) will be in one log, and each kubelet will have its own log file

[2015-12-21 19:55] deads2k commented on #6448
It looks like you've started the all-in-one.  That starts a kubelet, an api server, and controllers in a single process for easy development.

When installed on a production system, you'd normally have the kubelet, apiserver, and controllers in separate unit files.  That separates them and allows you to do things like `journalctl -u openshift-node`.

If you want to do it manually, you can start `o

[2015-12-21 19:58] jayunit100 commented on #6448
Ahhh.... Ok.  I think we can close this then.

cc @marun

[2015-12-21 19:58] #6448 closed

[2015-12-21 20:12] liggitt commented on #6065
With added logging, I can see the client getting a 500 error from etcd, then retrying:

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8036/consoleFull:
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8036/artifact/origin/artifacts/e2e/logs/integration-etcd-1450714866-TestAuthorizationSubjectAccessReview.log
[code]

listed processes before and a

[2015-12-21 20:53] spadgett commented on #6403
We should have at least "Edit (Raw)" for everything as well.

[2015-12-21 21:18] jwforres commented on #6200
there really is no "status" for an RC, we could change the column to be "Replicas" and just say 0 / 1 or 1 / 1   or could leave it as Status and just drop the icon and the status text and only show the "1 replica"

[2015-12-21 21:18] jwforres commented on #6200
Also the same applies to the RC's individual page, we show a status even though there really isnt one

[2015-12-21 21:28] liggitt commented on #6065
seems to correlate to this bit in the etcd server log:
[code]

[2015-12-22 00:01] #6405 closed

[2015-12-22 00:36] stevekuznetsov commented on #6447
flake [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8046/console):
[code]

[2015-12-22 00:39] stevekuznetsov opened #6452 "summary output from test-end-to-end makes everything green on Jenkins"
starts on this line:

[code]

It's annoying. I'll look into it.

[2015-12-22 01:04] #6201 closed

[2015-12-22 01:32] stevekuznetsov opened #6453 "template not found flake in test/cmd/templates.sh"
flake [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8055/console):
[code]

[2015-12-22 03:20] fabianofranz opened #6454 "Improve volumes and mounts visuals on the web console"
Deployment config, deployment and pod pages display volume mounts information in both the "pod template" box and also in a dedicated "volumes" section. We should make it explicit that volumes are part of the pod template and visually expand the presentation so that  it's clear that pod -> {containers -> volume mounts, policies, volumes}.

Follow-up of https://github.com/openshift/origin/pull/6358

[2015-12-22 03:21] fabianofranz commented on #6454
@jwforres please tag and assign accordingly.

[2015-12-22 04:14] liggitt opened #6455 "TestParseRepository error parsing git ssh URL"
https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3014/console
[code]

[2015-12-22 04:21] wanghaoran1988 commented on #6227
@bparees Hi, ben , I add a PR for this issue, could you please help review, thanks.

[2015-12-22 04:39] liggitt commented on #6014
nope

[2015-12-22 04:39] #6014 closed

[2015-12-22 04:40] liggitt opened #6456 "cmd_util.sh: line 490: test_succeeded: unbound variable on RHEL"
https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3013/
seen on RHEL
[code]

[2015-12-22 05:46] bparees commented on #6227
This falls under @pweil's team.

[2015-12-22 09:02] thincal commented on #6318
@liggitt now I can't check it inside the container since this container start failed at
[code]

I also check that the dns server is already started ok since ```DNS listening at 0.0.0.0:53```, so that if the metrics needs to be working, there should be one dns entry about ```hawkular-metrics``` inside the openshift dns server, right ? if so, how to check it in dns server ?

[2015-12-22 09:06] kargakis commented on #6447
Another
[code]
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4448/consoleFull

[2015-12-22 11:46] kargakis opened #6458 "oc status should warn about resource quota"
I have an overcommitted project where I cannot create any more deployments, builds, or whatever.

[code]

`oc get events` is super ugly and I had to `describe rc frontend-1` in order to see the problem. `oc status` was totally unaware of the problem.

[code]

It should let me know that there is a problem due to exceeded memory and maybe try to identify what is stuck.

@deads2k

[2015-12-22 12:11] kargakis commented on #1890
This is fixed by https://github.com/openshift/origin/pull/6379 cc: @deads2k

[2015-12-22 12:19] kargakis commented on #6458
Somewhat related issues:
https://github.com/openshift/origin/issues/4184
https://github.com/openshift/origin/issues/5191

[2015-12-22 12:38] deads2k commented on #6458
If you can find a way to do it without events, then I'd like to have it in `oc status`.  If you need to get events for it, we'll have to think of how we can bound it because in large projects we have tons of events.

[2015-12-22 12:39] #1890 closed

[2015-12-22 12:59] kargakis commented on #6065
the hottest flake in town

[2015-12-22 13:02] jwforres commented on #6454
@fabianofranz assigned to you for now but there is a larger discussion that I think needs to happen around these pages

cc @spadgett

Specifically for the pod template, I'm wondering if its time to dump the dashed line visual, there are too many things now that could and probably should be in that box when on these browse pages.

[2015-12-22 13:13] #6394 closed

[2015-12-22 13:24] deads2k commented on #6452
@liggitt I can't find the p99 label, you know where it is? :)

[2015-12-22 13:30] deads2k commented on #6227
The long timeout is probably fixed by https://github.com/openshift/origin/pull/6418

[2015-12-22 13:33] liggitt commented on #6227
not sure... I left timeouts long for oc operations... my PR just addressed server-side clients

[2015-12-22 13:33] liggitt commented on #6452
don't we want everything green on jenkins? :)

[2015-12-22 13:38] deads2k commented on #6227
client side waits until the server side indicates success or failure.

[2015-12-22 14:03] mwringe commented on #6318
The 'hawkular-metrics' hostname will only be resolveable if the Hawkular Metrics service is running with at least one running container behind it. So if the Hawkular Metrics is not running then this will be an issue.

You should be able to do this to see if the OpenShift dns server recognizes a host name:

dig @$OPENSHIFT_MASTER +short hawkular-metrics

[2015-12-22 14:11] smarterclayton commented on #6454
If you look at the structure of what we want to show here, it's:

This deployment config "deploys" this "pod template".  Details of how its deployed, distinct from what it deploys.

The how deserves more of an explanation - a description of the strategy, what the parameters mean, etc.  Which hooks are run.  This will vary across each type of controller (rc, PetSet, daemon set).  Also, the incomin

[2015-12-22 14:13] soltysh commented on #6428
I'll take care of it once the rebase will be in.

[2015-12-22 14:13] stevekuznetsov commented on #6452
@deads2k I've got to do *some*thing while waiting on that jUnit review :)

[2015-12-22 14:13] stevekuznetsov commented on #6065
The `e2e user can't list` is coming up as quick, though. We should hold flake races...

[2015-12-22 14:18] stevekuznetsov opened #6461 "flake in test/cmd/images: imagestream already exists"
flake on `test/cmd/images` [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8060/console):
[code]

[2015-12-22 14:25] liggitt commented on #6149
We really need the output of this command:
[code]
it is failing with exit code 1, but we never see the output because the failure exits early

[2015-12-22 14:41] stevekuznetsov commented on #6430
@smarterclayton to be clear, you mean:
 * `cmd/genbashcomp`
 * `cmd/genconversion`
 * `cmd/gendeepcopy`
 * `cmd/gendocs`
 * `cmd/origin-version-change`
 * `cmd/rebasehelpers`
 * `cmd/recycle`

[2015-12-22 14:58] smarterclayton commented on #6430
recycle and version change belong in cmds

On Dec 22, 2015, at 9:41 AM, Steve Kuznetsov <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> to be clear, you mean:

   - cmd/genbashcomp
   - cmd/genconversion
   - cmd/gendeepcopy
   - cmd/gendocs
   - cmd/origin-version-change
   - cmd/rebasehelpers
   - cmd/recycle

—
Reply to this email directly or view it on Gi

[2015-12-22 15:18] #2511 closed

[2015-12-22 15:45] liggitt commented on #6173
Same cause as https://github.com/openshift/origin/issues/6065 (failed etcd update). The issue is not specific to a test, it's a response to an etcd server error that is seen about 30-60 seconds into the integration tests. If a client request is in progress when that server error is received, the client gets a 500 error, and reacts by retrying the request. If the request is one that would fail on a

[2015-12-22 15:45] #6173 closed

[2015-12-22 15:46] liggitt commented on #6065
The issue is not specific to one test, it's a response to an etcd server 500 error that is seen about 30-60 seconds into the integration tests. If a client request is in progress when that server error is received, the client gets a 500 error, and reacts by retrying the request. If the request is one that would fail on a retry (like a delete or a conditional update), the test fails.

[2015-12-22 16:01] kargakis opened #6465 "DeploymentConfig Status Update"
**Blocked on #6337**

Forked from https://github.com/openshift/origin/pull/6233

We need a separate call for updating the DC status. One step closer to 1) what happens upstream and 2) what should happen in every object that has spec and status.

@ironcladlou @deads2k @liggitt @smarterclayton

[2015-12-22 16:40] rhcarvalho commented on #6447
One more: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8075/console

[2015-12-22 16:51] liggitt commented on #6447
Interesting... all of the linked failures are on rhel...

[2015-12-22 18:30] stevekuznetsov commented on #6456
Can't reproduce this with:
[code]

[2015-12-22 18:34] stevekuznetsov commented on #6430
I'll take this

[2015-12-22 18:48] jorgemoralespou commented on #6440
Hi,
This is also failing for me, since yesterday (I think). I removed the livenessProbe and it's stable now.

[2015-12-22 19:02] pweil- commented on #6440
I have seen this when running the latest master code against an older container.   Previously, we had our own health check url at /healthz.  With the latest rebase of the registry it has changed to a GET on /.

Can you curl <registry ip>:5000/healthz?  If so, this is probably the cause.

@miminar, should we retain the old healthz url for a bit to maintain backwards compatibility?

[2015-12-22 19:45] pweil- commented on #6440
@miminar - from the email chain wrt `/healthz`

[2015-12-22 20:16] kargakis commented on #5637
Why is this [not allowed](https://github.com/openshift/origin/blob/83c0e6a7541843cb954ccc2a144fba4197ee8680/pkg/image/api/validation/validation.go#L163) so far? cc: @ncdc

[2015-12-22 20:18] ncdc commented on #5637
You POST an ImageStreamMapping if you want to associate an image with a tag. ISM was created prior to ISTag. Maybe we should deprecate ISM and move its logic to POST ISTag?

[2015-12-22 20:18] ncdc commented on #5637
cc @smarterclayton

[2015-12-22 20:22] kargakis commented on #5637
+1

[2015-12-22 22:28] liggitt commented on #6065
Running a loop with curl doing PUTs against etcd alongside the integration tests, it looks like the etcd server is stuttering, maybe during a garbage collect?
[code]

[2015-12-22 22:31] smarterclayton commented on #5637
Let's hold off on this until I have import working and sorted.  I want to be sure what the API looks like for imports after my changes.

[2015-12-22 22:31] smarterclayton commented on #5637
ISM is a separate security endpoint.  ISM is allowed to create new images - IST is not (today).

[2015-12-23 02:45] thincal commented on #6318
@mwringe I am running the 'dig' from host, it shows nothing.
[code]

[2015-12-23 02:48] liggitt commented on #6318
Don't DNS queries have to be fully qualified (e.g. "hawkular-metrics.your-service-namespace.svc.cluster.local")?

[2015-12-23 03:02] thincal commented on #6318
@liggitt yes the search path in my host is not correct configured.
[code]

There are two questions:

1. hawkular-metrics pod/container is running , but the state of the pod is ```Waiting (CrashLoopBackOff)```, the oc output is here:
[code]

2. heapster pod state also is ```Waiting (CrashLoopBackOff)``` as bellow
[code]
and the heapster container is failed at:
[code]

[2015-12-23 03:13] thincal commented on #6396
@deads2k do you know who can help with this question ? thanks.

[2015-12-23 04:06] thincal commented on #6318
The situation changed that the DNS issue disappeared.

Now the error happened inside the hawkular-metrics container as bellow
[code]

but docker logs shows nothing about the error as bellow
[code]

[2015-12-23 07:15] thincal commented on #6318
@mwringe @danmcp @deads2k
I have tried the steps from [install guide](https://docs.openshift.org/latest/install_config/cluster_metrics.html) and re-installed several times, now it is stopped at ```hawkular-metrics``` container failure every time. I nearly want to give up until you guys could help have a verification with this metrics part. Many thanks.

[2015-12-23 07:25] thincal commented on #6318
@mwringe @danmcp @deads2k
and the openshift integrated registry is very unstable that:

- 10/20 chance will get bellow error
[code]
sometimes pull will be working after re-push this image again.
- 1/20 chance will get bellow error
[code]

so that it is very strange about this failure, when the failure is happened the ```oc get po metrics-cassandra-xxx -o yaml``` shows that the imagePullSecrete is

[2015-12-23 10:24] #6440 closed

[2015-12-23 10:48] kargakis commented on #6396
@ramr @pweil-

[2015-12-23 11:22] kargakis opened #6478 "Clean-up DC client interface"
I am opening this issue specifically for the Scale actions we have added in the interface. Upstream the two interfaces ([Deployment](https://github.com/kubernetes/kubernetes/blob/e24b328f4fe678b880aa111b1c35883785a24c62/pkg/client/unversioned/deployment.go#L31) and [Scale](https://github.com/kubernetes/kubernetes/blob/e24b328f4fe678b880aa111b1c35883785a24c62/pkg/client/unversioned/scale.go#L29)) a

[2015-12-23 12:15] ibotty commented on #3820
@nak3, can you please copy the gist of the solution here?

[2015-12-23 13:32] #5325 closed

[2015-12-23 13:32] kargakis commented on #6344
Another thing I just noticed is that currently this will poll forever on a failed deployment, right?
[code]
And then add the polling mechanism we want.

[2015-12-23 13:55] spadgett opened #6480 "Update deprecated $modal to $uibModal (angular-bootstrap)"
Seeing this message now that we've updated angular-bootstrap.

/cc @jwforres

[2015-12-23 13:56] spadgett commented on #6480
Also

and

[2015-12-23 14:34] thincal commented on #6283
@deads2k any comments so far with this question ?

[2015-12-23 14:36] liggitt commented on #6283
Changes to credential generation are in progress but won't be completed until the new year

[2015-12-23 14:38] liggitt commented on #6283
Once that is done, the image stream resolution could be changed to use DNS instead of IP. That would add a dns resolution requirement for services to the nodes. I'm not positive that is required today, so that may be a new requirement.

[2015-12-23 14:57] pweil- opened #6482 "oadm registry port option"
Currently the `oadm registry` command supports a `--port` option that allows you to set n ports or port pairs to be exposed on the container.  However, when this is specified it does not change the `config.yml` and it does not set a `REGISTRY_HTTP_ADDR` env var to override the config (~~which is not recommended by the docker docs anyway~~).

This option seems useful for custom images that may be e

[2015-12-23 15:30] PiotrKlimczak commented on #5796
Same problem here, using latest build: origin deployed with ansible.

I1223 15:28:16.371232       1 sti.go:163] The value of ALLOWED_UIDS is [1-]
2	I1223 15:28:16.375930       1 docker.go:230] Pulling image docker.io/centos/perl-520-centos7@sha256:061a792de4eda7371d84e50975028bdba6b9d43769a081e66a89227274c90bf6
3	I1223 15:29:21.873252       1 sti.go:185] Creating a new S2I builder with build confi

[2015-12-23 15:44] miminar commented on #6482
I'd prefer option 2. Export the `REGISTRY_HTTP_ADDR` with container's port value of the first item in the `ports` argument. That and a bit of clarification in command's help.

[2015-12-23 15:49] rhcarvalho commented on #6236
Run into a new problem:

[code]

[2015-12-23 15:50] rhcarvalho commented on #6236
`go get -d k8s.io/kubernetes/pkg/util` takes way too much time, even though I already have kubernetes checked out.

[2015-12-23 15:58] spadgett commented on #5988
Some small accessibility fixes to alerts in #6473.

[2015-12-23 15:59] gravis commented on #1394
We're having this today.
OS 1.1.0.1
The router is working for some minutes, than completely stop, with this in the logs

[code]

[2015-12-23 16:05] miminar opened #6484 "Registry deployment config needs to set http secret"
Upstream documentation advocates setting an [http secret as a must](https://github.com/docker/distribution/blob/master/docs/configuration.md#http) for a cluster of registries behind a load balancer. It coordinate uploads.

Exporting it as an environment variable `REGISTRY_HTTP_SECRET` during `oadm registry` should be sufficient.

By setting it, we'll also prevent similar warnings in a pod's log:

[2015-12-23 16:53] spadgett opened #6485 "Web console: no way to view old builds for deleted build config"
There's no way to see anything other than the most recent build when a build config has been deleted. For instance, I can't get to build/ruby-ex-1, which does exist.

<img width="723" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11980791/65d1edde-a96b-11e5-973d-0b29d535940b.png">

@jwforres

[2015-12-23 16:56] spadgett opened #6486 "No warning on browse build page when build config missing"
On the deployment page, we warn when the associated deployment config has been deleted. I don't see a warning on the build page when its build config has been deleted.

Also I noticed we don't show (or link to) the build config anywhere in the content, only in the breadcrumb.

/cc @jwforres

[2015-12-23 17:09] spadgett opened #6487 "Overview hides last successful deployment if it has 0 replicas and latest is cancelled"
In this case, databse-14 should be displayed because it was the last successful deployment, even though it has 0 replicas.

<img width="495" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11981140/c6206f74-a96d-11e5-808b-b0f3f324d569.png">

/cc @jwforres

[2015-12-23 17:11] liggitt commented on #5995
@csrwng did #6178 fix this?

[2015-12-23 17:33] liggitt commented on #6444
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8032/console
Error was:
[code]
Probably the same issue as https://github.com/openshift/origin/issues/6447, but in e2e

[2015-12-23 17:42] spadgett commented on #6480
Looks like we're also using angular-bootstrap dropdown in the catalog page, which needs prefixes.

[2015-12-23 17:47] spadgett opened #6489 "Image tag history icon sometimes wraps to next line"
<img width="732" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11981740/4d42df1e-a973-11e5-9de0-a5b7cff2c1aa.png">

/cc @jwforres

[2015-12-23 17:58] liggitt commented on #6149
https://github.com/openshift/origin/pull/6483 will capture output, which should help

[2015-12-23 18:01] smarterclayton commented on #6065
Hrm - maybe try against my 2.2.2 branch?

[2015-12-23 18:05] PiotrKlimczak commented on #6071
I have same issue with latest origin build with ansible on centos 7.1.
Answered to duplicated issue #5796.
In my i can curl from pods and can do git clone (with some strange result but still can).
See details in #5796.

So from my understanding it is not SDN related.

[2015-12-23 18:16] kargakis commented on #6149
Hm, I don't think `oc run` currently supports handling commands after dashes. It is fixed upstream but still not in Origin (will be brought in with the rebase).

[2015-12-23 18:18] kargakis commented on #6149
Also [--attach](https://github.com/openshift/origin/blob/0d4de0b1801e8c58a28c8bcd9d12b5d0c46de1cb/pkg/cmd/util/clientcmd/factory.go#L322-L353) may be an offender here. The dc will be generated, created, and then --attach will try to get it w/o checking if it is NotFound.

[2015-12-23 18:18] spadgett opened #6490 "Builder image tile tooltip never hidden if clicked directly"
If this tooltip is clicked directly, it stays open on the next page.

<img width="475" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11982256/87aa282a-a977-11e5-8bd7-a40dc34cbeb5.png">

For example,

<img width="815" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11982233/55d83bca-a977-11e5-8da0-5a9b1ae16f16.png">

/cc @jwf

[2015-12-23 18:19] spadgett commented on #6487
There's no way to scale back up from the overview if we hide the last successful deployment.

[2015-12-23 18:26] pweil- commented on #1394
@gravis are you able to reproduce this consistently?  If so could you elaborate on the steps taken.  Do you have any details about route creation or any actions taken on the pod prior to this showing?

@mrunalp - this has the same symptoms that were in https://github.com/openshift/origin/issues/1434 but resolved with using `syscall.WNOHANG` in the reaper.

[2015-12-23 18:35] liggitt commented on #6149
`--restart=Never` skips the dc generation and just makes a pod

[2015-12-23 18:53] gravis commented on #1394
It was on a production cluster, so I can't run many tests. We just took the errors from the log one by one. Most of them were related to mounted volumes (glusterfs). We destroyed the pod many times, and finally rebooted the nodes, and the issue was gone...

[2015-12-23 19:06] bparees commented on #6071
@PiotrKlimczak please share your buildconfig and build logs and any other information you can provide about the steps you took and the symptoms you observed.

[2015-12-23 19:36] PiotrKlimczak commented on #6071
Hi @bparees
Thanks for answer. Unfortunately no build log as I had logging switched off. But has 0 errors.
Inventory file used attached.
[hosts.txt](https://github.com/openshift/origin/files/71181/hosts.txt)

What is still strange for me, are:
1. No skydns pod
2. It fails immediately, is it possible it is failing on non existing unix socket?

[2015-12-23 19:41] bparees commented on #6071
what about your buildconfig?  and you can turn logging on in the buildconfig:
https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs

i'd prefer you start a new issue for this as i'm not convinced your config or symptoms match this issue.

[2015-12-23 19:43] PiotrKlimczak commented on #6071
Well sure I can create new issue, but I am thinking it is rather same issue:

My build log from openshift app seems to be exactly same as in topic:
I1223 19:34:29.152116       1 sti.go:163] The value of ALLOWED_UIDS is [1-]
2	I1223 19:34:29.155772       1 docker.go:213] Image docker.io/centos/perl-520-centos7@sha256:061a792de4eda7371d84e50975028bdba6b9d43769a081e66a89227274c90bf6 available locally

[2015-12-23 19:51] PiotrKlimczak commented on #6071
I guess I misunderstood which build logs you want :), i thought you want logs for whole Openshift install.
But i guess you mean log for that example project. Let me increase logging level and will add log soon.

[2015-12-23 20:17] PiotrKlimczak commented on #6071
Build debug attached
[build_debug.txt](https://github.com/openshift/origin/files/71204/build_debug.txt)

Hope this is what you meant.
Was built with
                    {
                        "name": "BUILD_LOGLEVEL",
                        "value": "5"
                    },

[2015-12-23 20:30] PiotrKlimczak commented on #6071
OK, so have no idea how, restarted service many times in web UI, on suddenly it started to work.
Was simply clicking rebuild, rebuild and suddenly succeed. That is disappointing, was in hope we will find the core of the issue.
I haven't made single change to environment/services/pods/etc! Was just clicking rebuild and suddenly worked.

Any idea?

[2015-12-23 20:43] liggitt commented on #6444
finally captured log at https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4475/artifact/origin/artifacts/e2e/logs/cli-with-token2.log
closing as dupe of #6447

[2015-12-23 20:43] #6444 closed

[2015-12-23 20:44] liggitt commented on #6149
finally captured log at https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4475/artifact/origin/artifacts/e2e/logs/cli-with-token2.log
closing as dupe of https://github.com/openshift/origin/issues/6447

[2015-12-23 20:44] #6149 closed

[2015-12-23 21:03] spadgett opened #6491 "Incorrect replication controller icon in topology view?"
@jwforres @stefwalter I'm guessing this icon is wrong?

<img width="868" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11984986/7104872a-a98e-11e5-8e1b-1b885249d971.png">

[2015-12-23 21:06] liggitt commented on #6491
looks right to me... a monolith, before which all pods bow, right?

[2015-12-23 21:36] benjaminapetersen commented on #6403
Perfect, then we should be good!

[2015-12-23 22:00] gravis commented on #1394
I wonder if it could be related to routes using the default certificate.
I have a lot of:

[code]

I have removed these routes for the night, and so far, no occurence of the `error reloading router: wait: no child processes` message.

[2015-12-24 00:49] pstinghua opened #6493 "how to fix the pod run user?"
My app is spring cloud config server. It use git to pull config files. So It uses git-config file to disable http ssl verify or use ssh private key to authenticate with git server. These files reside in the user home. The default user is 1001.

[2015-12-24 01:42] thincal commented on #6283
Thanks for your update.

I don't understand this quite well, since the registry hostname resolution to IP is done by external DNS server, what do you mean about here? thanks.

[2015-12-24 01:47] ramr commented on #6396
@thincal  so if you configure a DNS entry using a node's IP address - what happens if the node goes down? You would need some sort of IP failover mechanism to ensure something (in this case a router) is always serving on that IP.  If your environment is tolerant to downtime, you need to either update the DNS entry or start up a new node with that IP address.

Of course, this requires you to know w

[2015-12-24 02:19] thincal commented on #6396
@ramr thanks very much for detailed explanation !

About the VIP oriented solution provided by openshift, if referring a router's VIP in dns entry, so that this DNS server could contact with router via. its VIP, does that mean this DNS server should be inside the openshift network ? Now I am setting up my DNS server as a standalone host outside of openshift.

[2015-12-24 02:52] liggitt commented on #6283
There are multiple DNS names that could be used for the registry. The service DNS name (e.g. `docker-registry.default.svc.cluster.local`) only resolves using the in-cluster DNS. I meant that for the nodes to successfully pull using that name, they would have to be configured to use the in-cluster DNS nameserver, and I wasn't sure if they were or not.

The second set of DNS names that could be used

[2015-12-24 10:08] lorenzvth7 opened #6494 "OpenShift Registry: pull only possible on node which contains repository"
I have a clustered environment (1 master and 2 nodes) of Origin 1.1 on Centos 7 installed with ansible.
I have a secure registry which is using NFS.  By default it was on node1.
I was able to pull from node1 and from node2. But after a time it was only possbile to pull from node1. And not from node2 anymore. When I delete the registry pod, than it's recreated on node2. Than it's possible to pull f

[2015-12-24 14:48] stevekuznetsov commented on #6493
For security reasons OpenShift randomizes the uid that any pod is run under. There are two ways of fixing your problem. First, you could change your Docker image to not require a specific UID to run as (the `USER` field in the Dockerfile). Secondly, if you have the cluster administrative rights, you can edit the `restricted` security context constraint:
[code]
To change `runAsUser.Type` strategy t

[2015-12-24 14:54] stevekuznetsov opened #6495 "UI flake on protractor"
seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8102/console):
[code]

[2015-12-24 15:46] liggitt commented on #6495
Dupe of https://github.com/openshift/origin/issues/6053

[2015-12-24 15:46] #6495 closed

[2015-12-25 00:28] pstinghua commented on #6493
@stevekuznetsov Thanks a lot!

[2015-12-25 00:28] #6493 closed

[2015-12-25 03:09] paralin opened #6497 "Deployments failing when OpenShift is reset"
I'm running OpenShift under an existing Kubernetes production cluster as per the example in the kubernetes docs.

Our cluster scaled down and somehow the etcd setup got corrupted. I killed all of the etcd pods, reconfigured the rc to allow only one pod per host, and scaled it back up.

This means OpenShift is basically reset - all of the namespaces are just namespaces, not projects (as far as I ca

[2015-12-25 03:24] liggitt commented on #6497
There is an annotation on the default namespace that indicates the appropriate roles have been granted to the service accounts in that namespace. Deleting that annotation and restarting the API will readd the roles.

More broadly, you might need to readd default roles to service accounts in all namespaces. Without knowing more about what got reset, it's hard for me to know what to recommend, but y

[2015-12-25 11:07] thincal opened #6498 "About the s2i error: must specify a user that is numeric and within the range of allowed users"
I am following the steps from https://github.com/thincal/golang-ex, but it will report error:
[code]
it seems that this official golang-ONBUILD image can't be supported in latest openshift any more ?

and what's the way to handle the error ```must specify a user that is numeric and within the range of allowed users``` correctly ? besides modifying the image to fix USER issue.

[2015-12-26 21:19] ibotty opened #6499 "containerized origin/node:v1.1(.0.1) crashes on fedora atomic host"
See the log on https://paste.fedoraproject.org/305163/64696145/

A similar error happens on v1.1.0.1.

[2015-12-27 00:43] csrwng commented on #5995
yes, it should have

[2015-12-27 02:17] bparees commented on #5995
Not showing up in the latest run.

[2015-12-27 02:17] #5995 closed

[2015-12-27 12:16] ibotty opened #6500 "feature request: key rolling for openshift-managed secrets"
I'd like a `oadm` sub command that can generate new and invalidate old keys (docker secrets, oauth tokens, etc). Ideally it should support selectors, so that e.g. some secrets don't get invalidated (those handed to users).

[2015-12-27 13:34] roldancer opened #6501 "How to manage several volume manager in Openshift"
Hi All, I would like to know if it is possible to have several volume manager in Openshift, for instance we are planning to use CEPH and GlusterFS, my questions are:

1) It is possible to have more than one volume manager ?

2) How to define a PersistentVolumeClaim for a specific volume manager for instance this claim only should select GLusterFS volumes, it is possible?

Many thanks.

[2015-12-27 14:38] thincal commented on #6501
About 1):
actually you could define several PersistentVolume based on different storage backend such as CEPH, GFS, or NFS etc.

About 2):
It seems the current pvc.spec mainly declare the storage capacity, which is used to select which pv. but what is the requirement to specify which kind of storage backend ?

[2015-12-27 15:22] wenskys opened #6502 "deployed EFK error"
Hello,
when i deployed the openshift-EFK[1] ,that are error for this ,such as
![error](https://cloud.githubusercontent.com/assets/12937669/12010763/88d75400-acee-11e5-917d-e26e4d4a5bb6.png)

[ERROR][com.floragunn.searchguard.service.SearchGuardConfigService] [N'Gabthoth] Try to refresh security configuration but it failed due to org.elasticsearch.action.NoShardAvailableActionException: [.searchgua

[2015-12-27 16:23] stevekuznetsov commented on #6259
Looks like we sometimes import the stream but not the tag?

flake on getting an image stream tag [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8129/console):
[code]

[2015-12-27 17:57] roldancer commented on #6501
@thincal , that's the main question, how to specify at the PVC the kind of storage backend that the PVC must be associated with.
Any idea?

[2015-12-27 19:23] roldancer commented on #6501
The requirements could be shared storage like NFS/GluasterFS vs block device such as CEPH (RBD). Some applications like WebServers/Wordpress CMS in general terms fit perfectly on shared storage backend like NFS/GlusterFS but Databases fit better on block devices.

[2015-12-28 02:21] deads2k opened #6503 "`oc tag` should let me tag an image by pointing at a dc or bc"
I find myself wanting to tag a particular image associated with a given DC or BC. Something like `oc tag bc/foo tag`.  This would inspect the buildconfig, find the latest build, find its output, and using the same image stream point the new tag to the old output.  I could also deal with finding the source image hash via latest for istag.  I don't really want to care about which image or which imag

[2015-12-28 02:32] bparees commented on #6503
presumably you'd also want to  be able to run "oc tag build/somebuild sometag" while you're at it?

[2015-12-28 02:34] deads2k commented on #6503
Naturally.

[2015-12-28 02:37] deads2k opened #6504 "`oc rsh` should do a transitive authority check"
We prevent exec into privileged pods because a given user lacks the authority to create a given pod.  However, the SA being used usually has those rights and I have the power to view the SAs secret.  This gives me the power to impersonate the SA and make the connection.  I'd like to find a way have that check be transitive in nature.

@liggitt Any reasonable ideas?  This is more than the power to

[2015-12-28 02:40] bparees commented on #6503
guessing this would also be less important if we allowed you to specify multiple output tags for a given buildconfig (for which a separate issue exists).

[2015-12-28 09:41] nak3 commented on #3820
The solution is setup of DNS.
@ibotty
If your OpenShift host is xxx.example.com, then setup DNS as

`*.clooudapps.example.com 192.168.133.10`

Do ***NOT*** set as

`*.example.com 192.168.133.10`

Also, Do ***NOT*** add search path clooudapps.example.com in your `/etc/resolv.conf`.

`search example.com clooudapps.example.com`

The doc of this part might help you - https://docs.openshift.org/latest/

[2015-12-28 10:56] lorenzvth7 commented on #6494
Even after recreating a whole new cluster, I have the same issue..

[2015-12-28 11:15] thincal opened #6505 "About translate the existing docker image to s2i enabled image"
Is there any tool could adding the s2i stuff automatically into the existing docker image ? Since there should be many repeated settings/scripts to add the s2i support.

[2015-12-28 11:18] thincal commented on #6498
It seems that the existing image can't be used simply by the `oc start-build` in openshift, but can be by the ```s2i build``` tool.

[2015-12-28 12:36] lorenzvth7 commented on #6494
on the node where the registry is running I'm able to curl to the registry, but on the other node it takes a very long time before there will be a timeout.

This are the events in my webconsole
[code]
and
[code]

[2015-12-28 21:32] sosiouxme commented on #5753
So the existing messaging in this use case was like this:
[code]

Saying "Failed" is presumably what makes this alarming. And then when you keep reading, you wonder "wait a minute... I'm not cluster-admin??"

All it's trying to get across is that since you don't have a working client, the diagnostics we can run are pretty restricted; don't be surprised at the brevity of the output. Let me know if

[2015-12-28 21:39] deads2k commented on #6504
This might the be the use-case to describe for Eric Tune's act-as.

[2015-12-28 21:42] deads2k commented on #6503
Hard to say actually.  I've gotten myself in a bit of pickle.  My promotion flow failed to consider a case around transcoding which has apparently been busted for a couple micro versions.  The quest to find the working build is proving to be really annoying.

Is there an issue to allow annotating or tagging the output of a build based on information only available while performing the actual build

[2015-12-28 22:20] deads2k opened #6513 "oc status doesn't show me last successful build when I have a DC wired up"
[code]

[2015-12-29 00:05] smarterclayton commented on #5753
That's fine

On Mon, Dec 28, 2015 at 4:32 PM, Luke Meyer <notifications@github.com>
wrote:

[2015-12-29 01:59] deads2k opened #6514 "buildconfig should have a time-based trigger type"
I'd like to have my docker builds run nightly or weekly without having to set up manual cron jobs.

[2015-12-29 01:59] deads2k commented on #6514
@openshift/api-review since this would be an API change.

[2015-12-29 02:47] smarterclayton commented on #6514
Why would you want to do that?  Is it Tia void triggering and requiring that?

[2015-12-29 02:55] bparees commented on #6503
The existing issue mentions tagging based on a commit id that it built, the
idea could be generalized, though not trivially.

Ben Parees | OpenShift
On Dec 28, 2015 4:42 PM, "David Eads" <notifications@github.com> wrote:

[2015-12-29 02:59] smarterclayton commented on #6514
To avoid triggering and / or requiring a parent to be imported.  Or is it to periodically grab all security updates?

[2015-12-29 14:54] lorenzvth7 opened #6516 "Unable to create app from image of other repository"
I've created my own Docker image (with my Origin Cluster 1). So I performed a s2i build on cluster1. The new generated image came into the openshift registry. Than I pushed that image from my cluster1 to my docker server with a private Docker Registry (which is using selfsigned certificates) .
I've a Docker-server which has nothing to do with OpenShift.

On my Origin1.1 Cluster 2 I pulled that ima

[2015-12-29 14:58] lorenzvth7 commented on #6494
UPDATE:
This issue is only appearing when I've also configured cluster-metrics in the openshift-infra project. Otherwise the registry is working fine. Very weird because I don't see a link between the cluster-metrics and a secure docker registry

[2015-12-29 16:06] chmouel opened #6517 "RFE: explain the scheduler decisions"
The scheduler is very flexible with the way it decide to assign pods to a node. With the predicates and priorities mixed with the weighting system it could be hard to understand why the scheduler on a node or an another.

Currently the only log we have when the scheduler assign a node is the succinct :

<pre>
 22s        22s     1   {scheduler }                                        Scheduled   S

[2015-12-29 19:13] deads2k commented on #6514
I have three cases that I'm dealing with now:
 1. periodic check for docker hub image updates (I haven't searched for an existing issue yet, but I'd expect it against images)
 1. periodic re-build to pick up updates for RPMs.  I don't know if or how to detect when there's been an actual update.
 1. product I'm `wget`-ing keeps a logical "latest" and I want to pick up its updates.

I've also worked

[2015-12-29 19:52] kargakis commented on #6498
@mfojtik @bparees

[2015-12-29 20:53] smarterclayton commented on #6514
Ok.  I think the periodic import will be solved by image streams that
poll (part of my import changes), but the rpm update is actually a
really good one.  Just sounds like another trigger on build configs.

[2015-12-30 04:08] bparees commented on #6514
Running a full build regardless of whether the rpm (or other external
dependency) doesn't seem ideal. The right way to solve this imho is (for
now) use Jenkins to poll for rpm changes and then trigger a build.

When you say the rpm use case is a good one, are you suggesting an rpm
specific trigger, or just using periodic builds to solve the use case?
Because I don't see a lot of people doing the l

[2015-12-30 04:13] bparees commented on #6498
Correct, per my comment here:
https://github.com/openshift/golang-ex/issues/3#issuecomment-167266739

(which includes a doc reference for how to enable your openshift cluster to use this image as is)

[2015-12-30 04:13] #6498 closed

[2015-12-30 07:01] smarterclayton commented on #6514
There is no generic way to poll for everything in the software
universe except for "run the build again".  Building out specific rpm
hooks (or apt hooks, or curl hooks) is a dead end in effort and
maintenance.   That said, it should be easy to set up a repeating
scheduled job to launch builds across the cluster inside of a
container, which somewhat reduces the need to implement it inside
builds.

[2015-12-30 07:16] bparees commented on #6514
I think i agree with all of that which basically means today you use Jenkins (and the openshift plugin) to schedule things, and in the future you can drop Jenkins when we have scheduled jobs natively.

Neither of those would be a firs class time-based build trigger though.  (in particular the scheduled job would require a custom image that hit the build webhook or some similar mechanism)

Just try

[2015-12-30 07:46] lorenzvth7 commented on #6516
Update:
I'm able to run just a docker container by performing:
[code]

The container is running fine and it contains the right files.

[2015-12-30 10:14] lorenzvth7 commented on #6494
This issue only appears when I'm using a secure registry AND cluster metrics (heapster etc). I don't see the link between this components.

[2015-12-30 10:26] #6393 closed

[2015-12-30 10:27] minhdoboi commented on #6393
with endpoint created for each project, it works fine.

[2015-12-30 12:52] lorenzvth7 commented on #6516
[code]
Does not work --> error: no match for "dockerregistry:5000/myimage"

But a detour via the hub works
[code]
Does work --> Successfully pulled image "dockerhubuser/myimage

[2015-12-30 13:00] lorenzvth7 commented on #6516
I also tried to make my own image locally and create an app from it:
[code]

[2015-12-30 17:21] smarterclayton commented on #6514
The scheduled job would just call oc start-build.

In the short term, no, scheduled triggers are not high enough priority
that we would go do them over the other things we have in the queue.
They're a good design point though - a level driven build config with
a trigger that ensures there is a build for each time slice.  It's
just another type of trigger, and the use case is one we've missed
calli

[2015-12-31 01:47] ruyanghao opened #6519 "godep save fail: k8s.io/kubernetes/pkg/securitycontextconstraints not found"
1. go get github.com/openshift/origin
2. go get k8s.io/kubernetes
3. cd $GOPATH/src/github.com/openshift/origin
4. godep restore
5. cd $GOPATH/k8s.io/kubernetes
6. godep restore
7. cd $GOPATH/src/github.com/openshift/origin
8. godep save ./...
I get the below error:
godep: Package (k8s.io/kubernetes/pkg/securitycontextconstraints) not found

I checked the kuernetes, but I did not find the file ,
p

[2016-01-01 03:11] stevekuznetsov commented on #6519
Why are you attempting to use `godep save`?

[2016-01-01 20:38] jwendell commented on #6267
Please, see in the PR the reasonable.
It's not a mandatory thing, of course. I'm doing this mainly for learning purposes. But this was a real issue I experienced at my first contact with origin :)

BTW, it seems I cannot reopen the issue...

[2016-01-02 03:25] smarterclayton commented on #6516
This looks like a regression in parsing on our end - what version of Docker are you running?

[2016-01-02 08:57] lorenzvth7 commented on #6516
@smarterclayton

[code]

[2016-01-02 14:16] sdodson commented on #6499
Hmm, that sounds like https://github.com/openshift/openshift-sdn/issues/222 can you try openshift/node:latest it should've been built since the fix was merged into origin

[2016-01-03 19:52] smarterclayton opened #6521 "oc edit of an image stream results in an incorrect patch being created"
Running oc edit on an image stream results in the generated patch from jsonmerge containing the entire status subsection, which means conflicts on save are being created.

Repro:
1. create an image stream with dockerImageRepository, let it import status
2. Run oc edit against the image stream and change something in the metadata section with `--loglevel=8`
3. Observe the generated patch contains s

[2016-01-04 10:07] kargakis commented on #6040
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8134/console

[2016-01-04 13:39] deads2k commented on #6504
hmmm...  On further consideration, "act-as" wouldn't work either, since most SAs can't create pods, so the check would still fail.

There is a slightly more power if you're allowed to exec into a privileged pod because the SA has the SCC power to create it, but I think it only breaks down if you're doing a lot of work to restrict exactly which images can run.

@csrwng comments or advice?

[2016-01-04 13:55] csrwng commented on #6504
Just to clarify the build use case... the SA that creates the build pod is not accessible by regular users. (The build controller SA) The SA that the build pod 'runs as' is part of the project and regular users can see its secret. Because the pod is created in the current project, any admin, editor, etc can exec into it...  you don't need the secret of the SA running it.

[2016-01-04 14:00] csrwng commented on #6504
Once the pod is running there's nothing linking it back to the SA that created it. So not sure how a transitive check would work.

[2016-01-04 14:14] deads2k commented on #6519
@ironcladlou @pweil- @soltysh fyi

[2016-01-04 14:16] deads2k commented on #6519
Due to a couple different problems, our godeps do not restore/save cleanly.  We are looking at various options, but nothing in the super-near term.

What were you trying to do?  Perhaps we can help with an alternative approach.

[2016-01-04 14:19] deads2k commented on #6504
1.  Create an SA called sa-01 and grant it the power to use host ports.
1.  Create an RC with a PodSpec that specifies using sa-01
1.  RC manager creates a new pod that uses sa-01 and is admitted because sa-01 can use host ports.
1.  `oc rsh` is rejected, because my user doesn't have SCC permissions to use host ports.

The check wouldn't only need to look at the SA of the pod.  The question is whe

[2016-01-04 14:25] ncdc commented on #6482
Option 2 sounds good

[2016-01-04 14:39] deads2k commented on #6478
I like having nicely typed methods sitting directly on the DC interface.  When we're dealing with something specific to DCs, it makes sense to call those methods instead of calling the generic scale.

[2016-01-04 14:55] jwforres commented on #5881
Example with a screenshot https://github.com/openshift/origin/pull/6120#issuecomment-166998621

[2016-01-04 14:57] spadgett commented on #5412
Patternfly empty state for tables is on this page:

https://www.patternfly.org/patterns/table-view/

[2016-01-04 14:58] spadgett commented on #2146
This is arguably problem again now that we've updated the browse pages. The browse pages for deployment configs and build configs show all deployments and all builds in a table, although it should scale better than the tile view we used before.

We could add paging to the tables, but we'd still be getting all the data from the server.

[2016-01-04 15:16] jwforres commented on #6485
Yeah when this was originally designed you had the full build history accessible on this page by expanding the table but we took that out.

We could still link to the BC page and have that page still show something when there are builds but the BC itself is deleted.

[2016-01-04 15:19] jwforres commented on #6486
We did link to the build config, should be in the configuration tab, or it use to be, did it get removed in all the shuffling?

[2016-01-04 15:19] jwforres commented on #6486
Are we generating the warning for the missing deployment config or is it that warning coming from the server?

[2016-01-04 15:21] spadgett commented on #6486
The web console checks and shows the warning for missing DC.

[2016-01-04 15:23] spadgett commented on #6486
Ah, the link is there. I guess I missed it:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12092773/1b6d3ecc-b2cd-11e5-9d88-febfa5921ffa.png)

It's inconsistent with the deployment page, though.

[2016-01-04 15:24] jwforres commented on #6491
@stefwalter I suspect this happened in that last update you did to update a bunch of these SVGs

[2016-01-04 15:40] danwinship commented on #5796
Ignore the two "removing directory" lines; they presumably happen after the timeout happens but before it gets logged. So:

    I1110 17:38:25.362679 1 sti.go:136] Preparing to build 172.30.58.78:5000/test/nodejs-example:latest
    F1110 17:38:41.366493 1 builder.go:59] Build error: dial tcp: i/o timeout

So the timeout is 16 seconds... if it needed to do two DNS lookups in there, and DNS lookups

[2016-01-04 15:43] danwinship commented on #5796
Can master reach the pods by both name and IP? Can pods reach other pods by name and IP?

If so, then yeah, definitely seems non-SDN-related.

[2016-01-04 16:19] deads2k commented on #6501
@markturansky ptal

[2016-01-04 16:24] deads2k commented on #6500
Can you be a little more specific about exactly what you want to remove?

For instance, it is possible today to delete all the token secrets for a given service account and an cluster-admin has sufficient power to do that in all namespaces.  He could also control that delete via label selectors.  Likewise, a cluster-admin can delete arbitrary oauth tokens.

How would this be different than a targe

[2016-01-04 16:30] jwforres commented on #6491
https://bugzilla.redhat.com/show_bug.cgi?id=1293780

[2016-01-04 18:45] markturansky commented on #6501
@roldancer There is an upstream feature request (currently being worked) that will help you.

We're putting a PersistentVolumeSelector on PVClaim.  It will work similarly to a NodeSelector on Pod.  Essentially, the admin will label volumes and the user can add those labels as a selector to the claim.  The claim will only match a volume with the requisite labels.

You can use this approach to provi

[2016-01-04 19:32] ibotty commented on #6500
Well, it would have a known place and being part of oadm would make it clear that it's best practice to rotate every other time. In a way, oadm prune also does things that can be done with oc delete (and a little oc get). If you disagree, I'd like to have at least some documentation please ;).

[2016-01-04 19:33] roldancer commented on #6501
Hi @markturansky , that sounds interesting, is there any RFE or specification available for that feature ?
I would like to read it.

Many thanks.

[2016-01-04 19:35] ibotty commented on #6499
Sorry, that was a very terse bug report. Yes, it does not happen on `:latest`. Can we have a `1.1.0.2` release with the fix please? I don't feel like running `:latest` master, and I don't feel I should mix and match.

[2016-01-04 19:45] markturansky commented on #6501
No, just the agreed-upon idea that it would work like a pod's NodeSelector.  All selectors in the NodeSelector must match the labels on a node in order for a pod to be placed on that node.  That is the same approach being taken for PVSelector.  All selectors on claim must match the labels on the volume in order to bind.

[2016-01-04 20:01] deads2k commented on #6500
The `oadm prune` commands require building a graph to determine all the different transitive dependencies amongst the various resources to fully determine both utilization and referenceability.  For instance, image pruning requires an inspection of every `PodSpec` contained inside of any given resource type for a proper reaping decision.

Invalidating keys does not require such an intensive transi

[2016-01-04 20:46] marun commented on #3940
@sdodson Can this issue be closed due to your work on containerization?

[2016-01-04 20:47] rajatchopra commented on #1919
Closing this issue as a specific Nuage plugin is being built using the hooks mentioned above.

[2016-01-04 20:51] rajatchopra commented on #5745
@joeswaminathan We are going to move away from the exec based plugin soon. The network parameters will be captured natively and called out through CNI. Unlikely that we want to fix the exec pipe to uncapture the stdout/stderr. Lets say anything on the exec hook is a 'wont fix' unless it is critical because we plan to phase it out.

[2016-01-04 20:54] sdodson commented on #3940
@marun yes, I believe it can be.

[2016-01-04 21:04] #5745 closed

[2016-01-04 21:04] #1919 closed

[2016-01-04 21:04] danwinship commented on #6362
It's not. The error is harmless. (It happens because of some code in kubernetes that assumes you are using a linux bridge rather than OVS.)

So, if you're having problems, you should explain better what they are, because they have nothing at all to do with this message.

[2016-01-04 21:24] #6480 closed

[2016-01-04 21:24] #4538 closed

[2016-01-04 21:25] pweil- commented on #6350
migrated to BZ https://bugzilla.redhat.com/show_bug.cgi?id=1292964

[2016-01-04 21:25] #6350 closed

[2016-01-04 22:49] #6487 closed

[2016-01-04 23:07] #6396 closed

[2016-01-04 23:13] bparees commented on #6427
this basically already happens.  the assemble step runs as the default image user, the application image is run as a random user (or you can specify a particular user to run as), so i don't think this option would add any useful capability.

[2016-01-05 00:43] marun commented on #6214
@monisha-bhattacharya It is necessary to explicitly allow ingress nodeport traffic on hosts where firewall rules deny non-local traffic by default (e.g. fedora/centos/rhel with iptables-services package installed).  I've submitted a PR to kubernetes (https://github.com/kubernetes/kubernetes/pull/18804) intended to correct this problem.  Until that PR lands in k8s and is cherry-picked to origin, th

[2016-01-05 02:15] stevekuznetsov opened #6533 "e2e WebDriver structural flake"
more flakes with webdriver [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8167/console):
[code]

may be related to #6053

[2016-01-05 02:42] #6489 closed

[2016-01-05 02:45] liggitt commented on #6455
seen again at https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3068/console
[code]
this doesn't seem like the sort of thing that should flake...

[2016-01-05 02:46] liggitt commented on #6455
@gabemontero, you were in this recently, can you take a look

[2016-01-05 02:53] gabemontero commented on #6455
@liggitt yep i'll take a look in the AM

[2016-01-05 02:56] gabemontero commented on #6455
it *may* be related to a correction @rhcarvalho made either here or elsewhere wrt struct comparisons

[2016-01-05 03:40] #5019 closed

[2016-01-05 03:43] danmcp commented on #6497
Please reopen if you have additional concerns.

[2016-01-05 03:43] #6497 closed

[2016-01-05 04:01] bparees commented on #6505
There's not currently, but s2i (the standalone tool) does have the capability to generate a default set of scripts which you can then customize and add in to your docker image.

A generic tool would be tough since the assemble and run scripts are always going to be image specific, but something that added the standard labels+paths could be possible.

[2016-01-05 08:04] accursoft commented on #6427
This is the opposite of s2i's convention, which is to build as `assemble-user` then run as the default user. But agreed that this comes to the same thing, and is arguably more logical.

[2016-01-05 08:04] #6427 closed

[2016-01-05 11:38] rhcarvalho commented on #6455
@gabemontero the recent related PR is #6399, but I don't think it is related as the change involved only `IsRemoteRepository`, while `ParseRepository` that is failing here depends solely on `url.Parse` and `s2igit.New().MungeNoProtocolURL`.

I've changed the error message when that test fail in #6534 so we can understand the problem better and solve it if it flakes again.

[2016-01-05 12:58] stefwalter commented on #6491
This is: https://github.com/kubernetes-ui/topology-graph/pull/12

[2016-01-05 13:53] spadgett opened #6535 "Bar charts with few builds look weird"
The bar charts when there are only one or two builds... aren't great.

One build:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12116616/181b583c-b389-11e5-997c-8f8bcfed6120.png)

Two builds:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12116674/95bc5110-b389-11e5-846b-7f91481e5917.png)

@smarterclayton @jwforres

[2016-01-05 13:54] ironcladlou commented on #5787
Related: https://bugzilla.redhat.com/show_bug.cgi?id=1293859

[2016-01-05 14:44] jcantrill commented on #6502
duplicate of https://github.com/openshift/origin-aggregated-logging/issues/35

[2016-01-05 14:44] #6502 closed

[2016-01-05 15:20] bparees commented on #6516
if your registry requires authentication, then that is the problem. new-app cannot pull images from registries that require authentication (there is an existing issue for this), so as far as it's concerned the image does not exist in the registry.

[2016-01-05 15:26] bparees commented on #6453
the only way this is possible is either we are running other operations in parallel (eg something started cleaning up the namespace while this test was running), or we have an etcd dataloss bug.

[2016-01-05 15:28] gabemontero commented on #6455
Thx for the response @rhcarvalho and yeah, I certainly wasn't convinced it was directly related - I just couldn't remember off the top of my head last night the precise details regarding your change.
One point (though to be clear, I'm not advocating reverting anything), but I'm curious if the field by field check I used to have would have experienced this flake.
Otherwise, I'm of course not seeing

[2016-01-05 15:29] akram commented on #5796
I have the same issue here and I noticed that the DNS configuration of container is weird:

[code]
If I rapidly jump into the container and try a curl, DNS resolution does not work
But, if I the first entry DNS resolution seems OK and my curl from the build container works.

[2016-01-05 15:37] danwinship commented on #5796
So service IP addresses are failing; this is probably the same bug as https://github.com/openshift/openshift-sdn/issues/231

[2016-01-05 15:43] liggitt commented on #6453
Pretty sure this is the etcd error where the delete succeeds, but the server returns a 501 error, so the client retries the delete, which then fails.

[2016-01-05 15:51] bparees commented on #6453
is there an existing issue for that we can reference?

[2016-01-05 16:01] liggitt commented on #6453
Take your pick... it's the root cause for https://github.com/openshift/origin/issues/6065, and I think for https://github.com/openshift/origin/issues/6447

[2016-01-05 16:08] #6491 closed

[2016-01-05 16:48] gabemontero commented on #6455
Yep, the 2 git@[2001...] entries fall under the "url.Parse wets the bed for git clone specs" category.

The before and after results on the URL struct with %#v printing after calling `MungeNoProtocolURL` :
`ParseRepository git@[2001:db8::1]:/repository.git got &url.URL{Scheme:"", Opaque:"", User:(*url.Userinfo)(nil), Host:"", Path:"git@[2001:db8::1]:/repository.git", RawQuery:"", Fragment:""} from

[2016-01-05 17:30] rhcarvalho commented on #6455
@gabemontero perhaps I pointed us to the wrong PR earlier. In #6402 I changed the tests from field-by-field comparison to use `reflect.DeepEqual`. Would like to see the output of a failed run now... I could not reproduce it with go1.4.2.

[2016-01-05 17:46] akram commented on #5796
@xelfe can you check your openshift-master logs:
`journalctl -u  atomic-openshift-master -f

I personally realised that I was having the following error:
[code]

[2016-01-05 17:47] gabemontero commented on #6455
@rhcarvalho yep that is what I was referring to earlier ;-)

fyi - my repro attempts were with go 1.4.2 as well

[2016-01-05 17:49] #4069 closed

[2016-01-05 18:09] smarterclayton commented on #6535
Some suggestions

- if you have 1 or 2 builds - don't bother showing the chart.
- left align the builds

On Tue, Jan 5, 2016 at 8:53 AM, Sam Padgett <notifications@github.com>
wrote:

[2016-01-05 19:05] jayunit100 commented on #5765
Ive updated the fix to this in  the fresh PR #6541.

[2016-01-05 20:33] bparees commented on #6516
To be clear, @csrwng's fix will make it so new-app can use an image that appears to only exist locally (because new-app can't access the registry).  It will proceed to define the expected openshift objects (deploymentconfig, etc) with a reference to that image.  If the nodes are also not able to pull the image, the deployment will ultimately still fail.  (however unlike new-app, nodes are able to

[2016-01-05 20:59] spadgett opened #6547 "Breadcrumb broken on next steps page creating from source"
I was creating from a source repository, and I received this error clicking on the builder image name in the breadcrumb on the next steps page.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12127386/f74e1d38-b3c4-11e5-84a8-562369b58bed.png)

/cc @jwforres @fabianofranz

[2016-01-05 21:13] spadgett commented on #6547
@jwforres I have a fix, you can assign to me.

[2016-01-05 21:21] jayunit100 opened #6549 "Link CONTRIBUTING.adoc to the ansible, openstack, ec2, gce recipes."
There is a great CONTRIBUTING.adoc guide,

https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc

However, it doesn't talk about how to test openshift,
1. from source.
2. on a cluster.

There are also several projects for openshift plugins to vagrant, which aren't referenced from it. Lets link up the docs in:

https://github.com/openshift/vagrant-openshift

In CONTRIBUTING.adoc, so tha

[2016-01-05 21:24] jayunit100 commented on #6549
oops, sorry for the autocorrect typo unusable ansible :)

[2016-01-05 21:25] jayunit100 commented on #6340
Closing in favor of https://github.com/openshift/origin/issues/6549

[2016-01-05 21:25] #6340 closed

[2016-01-05 21:26] marun commented on #3940
@eparis Please close.

[2016-01-06 00:00] jayunit100 opened #6551 "Evaluate E2E Tests in context of local build product."
I will go through all the main tests (density, networking, volumes, and so on) as part of this issue, and create PRs separately to resolve them if necessary.

[2016-01-06 00:02] jayunit100 commented on #6551
1. networking.go (intra-pod communication) Is failing.

`sudo _output/local/bin/linux/amd64/e2e.test --host="https://0.0.0.0:8443" --provider="local" --ginkgo.v=true --ginkgo.focus=Networking --kubeconfig=_output/local/bin/linux/amd64/master/openshift-master.kubeconfig --repo-root=./`

Can run kube e2e's from a local openshift artifact (see #6541 ).

In doing so, on a local cluster created via the

[2016-01-06 01:00] #3940 closed

[2016-01-06 03:10] marun commented on #6551
@jayunit100 Not sure of the specific error you're seeing, but the intra pod test requires that the api server have connectivity to pods (to make the status calls), which is only possible with openshift-sdn when running an sdn node on the master.  This can be enabled for vagrant or dind installs in master by setting OPENSHIFT_SDN_NODE_ON_MASTER=true, or by applying the following commit which always

[2016-01-06 03:13] jayunit100 commented on #6551
Ah good point . I shouldn't even try the e2e on a local setup without the sdn enabled

[2016-01-06 03:34] marun commented on #5765
What is the relationship of this issue to the origin extended test suite's execution of the kube e2e tests?  At least in the case of the networking extended tests, it is already possible to run any of the kube tests in addition to openshift-specific tests.  The test binary is currently only built by the test runner, but this could be fixed easily enough.

I wrote hack/test-kube-e2e.sh as a stop-ga

[2016-01-06 03:36] #6516 closed

[2016-01-06 03:50] jayunit100 commented on #5765
the goal, for this issue, is an e2e build artifact which has parity with the upstream e2es, and which is packagable by openshift/extensible by openshift.

[2016-01-06 04:22] abhat commented on #5796
In my setup the issue was related to DNS. The kube's DNS was not starting correctly because of another dnsmasq instance on the master that was run to serve the nodes of the cluster. After moving that dns server to another (non-cluster) node, things started working well.

[2016-01-06 09:16] ibotty commented on #3820
Thank you. I have a different issue, unfortunately.

[2016-01-06 09:33] juhp commented on #5831
Should we create a document at https://github.com/openshift/origin/tree/master/docs/proposals to cover this proposal?

Is it possible to increase the priority for this?  There is real demand for this for Japanese, Korean and Chinese users.

[2016-01-06 12:51] clever88 commented on #6199
when will be this complete?

[2016-01-06 13:51] spadgett commented on #5881
See also https://github.com/openshift/origin/pull/6407#issuecomment-169320796

[2016-01-06 14:01] spadgett commented on #5881
Also https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4506/console

[code]

Screenshot:

![unauthenticated_user_should_be_able_to_log_in_png__1024x1987_](https://cloud.githubusercontent.com/assets/1167259/12144178/1659bfa4-b454-11e5-8e39-ed6e87460703.png)

[2016-01-06 14:09] spadgett commented on #5881
I wonder if adding the `ng-cloak` around the user dropdown made this worse. Looks like we're waiting for the presence of the `.username` element, which won't appear now until Angular is loaded and the template is compiled.

[code]

I'm not sure 3s is long enough.

[2016-01-06 14:10] spadgett commented on #5881
I realize there are different errors here, but the most common seems to be login.

[2016-01-06 14:25] spadgett commented on #6533
See also #5881

[2016-01-06 14:33] stevekuznetsov commented on #6549
[`HACKING.md`](../blob/master/HACKING.md) outlines testing Origin from source. We should link to that document for explaining how to test. Might also want to explain what recipes are being run on Travis/Jenkins once they make a PR.

[2016-01-06 14:35] spadgett commented on #5881
Hm, maybe `isElementPresent` will still return true with `ng-cloak` because the element is there, just not visible.

[2016-01-06 14:50] jayunit100 commented on #6549
Thanks.  Obviously I'm not in position to do this, as Im new to OS.  maybe @stevekuznetsov you can or someone else we can poke :)

[2016-01-06 15:20] spadgett commented on #6535
Experimenting with chart sizes so it's not always 100%. Centered doesn't seem too bad.

Left-aligned:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12145893/cdcb81d6-b45e-11e5-8613-2b7298d75c73.png)

Centered:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12145884/bebccae2-b45e-11e5-8bff-bce9938d21e1.png)

[2016-01-06 15:28] DirectXMan12 commented on #6293
Can you please post the logs from the heapster container as well?

[2016-01-06 15:58] lypht commented on #4851
Happy New Year, all!  Is there a branch that is in sync with the Openshift Origin documentation?  Running `oadm groups sync --type=openshift --sync-config=foo.yml` as per [these instructions](https://docs.openshift.org/latest/install_config/syncing_groups_with_ldap.html#running-ldap-sync) throws **unknown command: sync** and **unknown flag: --type** errors respectively.  We have validated that the

[2016-01-06 16:16] gabemontero opened #6553 "extended tests core.sh is broke"
Unless OS_ROOT/hack/version.go is somehow dynamically generated and I missed running the step needed to generate it, it would appear that test/extended.core.sh is broken.

It references that file and bombs since it does not exists:

`stat /data/src/github.com/openshift/origin/hack/version.go: no such file or directory
!!! Error in test/extended/core.sh:34
	'k8s_version=$(go run ${OS_ROOT}/hack/ver

[2016-01-06 16:35] stevekuznetsov commented on #4851
@lypht Current Origin `HEAD` is in sync with the documentation, and the last changes for this command were made in commit https://github.com/stevekuznetsov/origin/commit/6eb1b3652c461588c9eed5ea3e9d74e994d722a7, merged fifteen days ago. Perhaps the build is picking up an older version? Does `openshift ex sync-groups` work in place of `oadm groups sync`?

[2016-01-06 16:38] stevekuznetsov commented on #4929
This is fixed with `os::cmd`

[2016-01-06 16:38] #4929 closed

[2016-01-06 16:39] stevekuznetsov commented on #4892
This has been fixed with `os::cmd` somewhat, however there are some offenders still.

[2016-01-06 16:39] #4892 closed

[2016-01-06 16:40] stevekuznetsov commented on #5057
Jenkins is back to 1.4 so we're running both checks.

[2016-01-06 16:41] stevekuznetsov commented on #5236
@deads2k which tests should be updated?

[2016-01-06 16:41] gabemontero commented on #6553
@smarterclayton - hey, not sure what happened, but the `k8s_version=$(go run ${OS_ROOT}/hack/version.go ${OS_ROOT}/Godeps/Godeps.json k8s.io/kubernetes/pkg/util)` call `git blame` says you added to test/extended/core.sh is failing.

Is it possible somebody deleted/moved the version.go you are referencing?

[2016-01-06 16:49] #5057 closed

[2016-01-06 18:51] ebalsumgo opened #6555 "insecureEdgeTerminationPolicy: Allow does not get saved as normal user"
So I spoke with @pweil- about this. Seems there is a bug/weird config going on that prevents a regular user from adding insecureEdgeTerminationPolicy: Allow to their routes, in their own projects. As a normal user, I can go into my project oc edit route blah and add insecureEdgeTerminationPolicy: Allow, save, no errors are thrown, exit out of editor, then go right back into editing/viewing the rou

[2016-01-06 18:53] pweil- commented on #6555
@kargakis - FYI - not sure if you ran into anything like this with the expose command work

[2016-01-06 19:19] php-coder commented on #6553
+1 :(

[2016-01-06 19:23] jwforres opened #6556 "Can edit a build config to a strategy that isn't allowed by policy - builds still fail correctly"
If I apply the policy changes to restrict certain build strategies, I can create a BC with an allowed strategy and then edit the BC to use a restricted strategy, that edit should fail.  Instead it allows the modification.  It does still correctly prevent the builds from being launched.

[2016-01-06 19:28] jayunit100 opened #6557 "Decide whether the future E2Es should publish test/extended as single binary"
Given that there is a need to package end2ends from upstream, we should decide and implement a consolidation of the packages for the other "extended" tests.  I think there are two parts to this.

- define the scoping for e2e vs extended tests.
- determine what binaries we actually want to publish for tests.

cc @marun @smarterclayton @timothysc @pmorie

[2016-01-06 19:29] ironcladlou commented on #6478
Scaling is totally decoupled from specific resources conceptually, so I think the upstream approach makes more sense. We also need to converge the deployment API with upstream generally.

[2016-01-06 19:41] lypht commented on #4851
Thanks, Steve.  It looks like what is being deployed through Ansible is from December 2nd.  Should I build from origin source to get these commits?

[2016-01-06 20:03] bparees commented on #6553
@stevekuznetsov you broke this with #6525

[2016-01-06 20:10] #4917 closed

[2016-01-06 20:12] spadgett commented on #6053
Hit this again in #6548

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8225/console

[code]

[2016-01-06 20:18] bparees commented on #6557
@ncdc assigning to your team since this sounds like upstream packaging, but i'm not totally clear on the request.

[2016-01-06 20:23] ncdc commented on #6557
@jayunit100 could you please expand on what you're asking here?

[2016-01-06 20:23] gabemontero commented on #6553
I'll experiment with changing hack/version.go to tools/godepversion/godepversion.go in core.sh when I get out of a meeting I'm in.

[2016-01-06 20:33] jayunit100 commented on #6557
To be more concrete (sacrificing precision), it would be nice if we had a single artifact that can be used for E2E and integration testing which was minimally divergent from upstream.

[2016-01-06 20:55] stevekuznetsov commented on #4851
The version from December 2nd should have LDAP group sync, but `oadm groups sync` is invoked with `openshift ex sync-groups`, but unless you upgrade to at least December 9th (https://github.com/openshift/origin/commit/d2c519988d829b2df749d9a4b022d0e0dd01326c), you won't have `oadm groups prune`. I'd suggest you use the latest version you can.

[2016-01-06 21:00] stevekuznetsov commented on #6549
@bparees can we come to consensus on what additions should be made to the doc? Should we link externally or replicate content internally to the doc?

[2016-01-06 21:04] stevekuznetsov commented on #6553
@bparees ack

[2016-01-06 21:05] bparees commented on #6549
linking is generally preferred.  replicated content gets out of sync.

[2016-01-06 21:07] spadgett commented on #6053
And again:

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8230/console

[code]

[2016-01-06 21:11] stevekuznetsov commented on #6549
`HACKING.md` contents are:
 * building a release
 * running tests
 * installing Godep
 * fiddling with upstream commits
 * rebase instructions
 * troubleshooting
 * RPM packaging
 * swagger doc
 * performance debugging

`CONTRIBUTING.adoc` contents are:
 * download/install/develop workflow
 * networking tests
 * kube e2e tests
 * trello link
 * troubleshooting
 * irc links

What sections "belong"

[2016-01-06 21:14] stevekuznetsov commented on #6549
My opinions:
If we want `CONTRIBUTING.adoc` to be a guide for a new dev, I think it should be short and sweet. It should contain:
 * download/install/develop
 * run tests
 * troubleshooting
 * irc/trello links

Each one of the above should be their own doc. In the install flow we can link to dind, the vagrant plugin, etc.

I don't particularly think `HACKING.md` should exist. We can have an "advan

[2016-01-06 21:16] stevekuznetsov commented on #6549
Alternatively, we could have `CONTRIBUTING.adoc` outline the (non-formal at the moment) process for:
 * claiming issues
 * making proposals
 * implementation

This would mirror documents like the [Golang doc](https://golang.org/doc/contribute.html).

[2016-01-06 21:19] bparees commented on #6549
I agree that Hacking and Contributing are overlapping and we should just have Contributing.

i'd just have an advanced section within contributing for the more complicated stuff.

[2016-01-06 22:37] smarterclayton commented on #6557
When you say single artifact you're looking for a distributable binary
that executes the full test suite against a cluster?

[2016-01-06 22:56] gabemontero opened #6560 "add buildConfig status updates"
An ask for this came out of https://github.com/openshift/origin/pull/5641 to have the `oc status` additions around missing image stream inputs into build configs into the status.details the API returns as well.

This would be analogous to what was done for deploymentConfigs (but then reverted for performance reasons), and will be re-added with https://github.com/openshift/origin/pull/5530.  I woul

[2016-01-06 23:58] marun commented on #6373
@talset Can you please provide more detail as to the deployed configuration you are experiencing the problem with?  I don't seem to be able to replicate it against master.  I can see that you are using atomic openshift, and additional helpful details would include:

 - package version of atomic-openshift
 - version of atomic

[2016-01-07 00:23] jayunit100 opened #6561 "[dind] SDN_NODE=true -> "-o option doesn't exist""
Running openshift's dind starter I ran into the following issue on Fedora 21 (locally **without vagrant vm**, I get some kind of minor `-o` doesnt exist error.

[code]

I think just adding "o" to getopts in `provision-config.sh` fixes this `+while getopts ":i:n:c:fso" opt; do` ?

@marun

[2016-01-07 00:25] jayunit100 commented on #6561
To be clear, I discovered this only by setting the `SDN_NODE=true` and running `hack/dind-cluster.sh start` locally on a fedora box.

[2016-01-07 00:42] jayunit100 commented on #6561
(unrelated to the core issue) And, while I have your attention, what certs should I use when running the e2es from dind?

[code]

Seems not to work (INFO: Error getting replication controllers in namespace 'kube-system': Get https://172.17.0.38:8443/api/v1/namespaces/kube-system/replicationcontrollers?timeout=30s: x509: certificate signed by unknown authority)

[2016-01-07 01:09] GrahamDumpleton opened #6562 "oc new-app detection for Python"
I initially flagged this issue under the ``sti-python`` as https://github.com/openshift/sti-python/issues/85 with the aim of getting comments from the maintainers of it, but no response as yet, so adding it here now.

The problem is that ``oc new-app`` when detecting if a Git repository under the Source strategy is a Python application, is not looking for the ``setup.py`` file, which would identif

[2016-01-07 05:18] smarterclayton opened #6563 "Travis go 1.4 broke after #6475"
https://travis-ci.org/openshift/origin/jobs/100707374

[code]

[2016-01-07 05:18] smarterclayton commented on #6563
@deads2k did you see this?

[2016-01-07 06:10] #6547 closed

[2016-01-07 10:39] stefwalter opened #6564 "Identical tags pushed to image registry result in different Images in registry"
Identical docker tags pushed to the Openshift image registry result in different images being created in that registry. I would expect that a single image is created in the registry and referred to by the imagestream tags.

[2016-01-07 10:43] stefwalter commented on #6564
[code]

[2016-01-07 11:00] stefwalter commented on #6564
$ oc version
oc v1.1-668-g705a7dc
kubernetes v1.1.0-origin-1107-g4c8e6f4

[2016-01-07 12:51] deads2k commented on #6563
No, I'll start hunting for it with https://github.com/openshift/origin/pull/6565

[2016-01-07 13:01] mfojtik commented on #6563
@smarterclayton I see this in source-to-image repo, so it is not related to origin... maybe travis got broken

[2016-01-07 13:03] #6227 closed

[2016-01-07 13:42] jayunit100 commented on #6557
Oops, I missed this.

Yes.  One which ships and is usable/configurable by Quality Engineers and so on.  For example a binary that supports:

- I want to run Networking.go tests with a service density of 5 services per node
- I want to run the custom  open shift `oc ....` tests

[2016-01-07 13:48] deads2k commented on #6563
Reverting all the merges from Jan6 and Jan7, still leaves us with this.

[2016-01-07 13:58] deads2k opened #6567 "need to prevent ServiceAccounts from requesting projects"
Right now, our self-provisioner role is bound to `system:authenticated`.  That group includes all ServiceAccounts, because they are authenticated users.  We want to be able to distinguish between human-ish users and machine-ish users.

We could do this with system:authenticated, system:human, and system:service-account.  That would cause the least amount of churn.  We could also repurpose system:a

[2016-01-07 13:58] timothysc commented on #6557
TAMs and SAs could use it for conformance verification as well.

[2016-01-07 13:58] charliemaiors opened #6568 "cannot delete rc from cli version 1.101"
When I try to delete an rc from cli it return me this error `timed out waiting for the condition`
what I've to do?

[2016-01-07 14:01] deads2k opened #6569 "image-puller can pull images, but he has no way to know the name"
We created the `system:image-puller` role to allow service accounts to pull images, but for that usage there was no reason to grant them the power to list all the available images.

When we attempt to use that role for humans, its presents a problem.  They can pull whatever image they want, but they have no power to actually list the images available to them.  I think its probably reasonable to ex

[2016-01-07 14:02] ncdc commented on #6569
@deads2k it's not particularly useful to be able to list images. You're better off going through the ImageStream, viewing its tags, and then retrieving the image you want.

[2016-01-07 14:04] deads2k commented on #6569
@ncdc same problem, they have no power to do it.  Maybe list power on istags?

[2016-01-07 14:04] stevenpall opened #6570 "Extra Path Added to Docker Image Name After App Creation"
After running `new-app` with a Docker image as the parameter, the app gets created, but deployment fails due to the Docker image name being incorrect. `/library` is added to the path, changing an image name from `my.registry.com/test` to `my.registry.com/library/test`. The deployment fails as a result since the latter image does not exist on the remote registry.
[code]
I thought this might be the

[2016-01-07 14:05] ncdc commented on #6569
No objection to doing something like that, I just don't want to open up 'list images' as there will be hundreds/thousands/etc of images in the system, and there's no way to filter them unless you go through image streams.

[2016-01-07 14:05] sub-mod commented on #6569
Problem domain is Image registry UI
There can be multiple imagestreams under a project. If I assign a user only system:image-puller then I am hoping that this user can only pull images via pulling all imagestreams .
I could user "view" role But it has too many Resources .

[2016-01-07 14:07] ncdc commented on #6569
@sub-mod what do you need to be able to do in the UI w.r.t. images?

[2016-01-07 14:07] sub-mod commented on #6569
show all imagestreams and images

[2016-01-07 14:08] ncdc commented on #6569
Do you envision having a screen where you have a list of all images? I don't find that particularly useful... It makes more sense to me to show a list of image streams, and then within each image stream, a list of tags.

[2016-01-07 14:13] sub-mod commented on #6569
https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/kubernetes/projects.png
Have a look at the image where i assign Roles to Users.(they have view/edit/admin which dont map to openshift roles)

[2016-01-07 14:15] ncdc commented on #6569
? not sure what you're trying to show - could you explain in more detail?

[2016-01-07 14:17] sub-mod commented on #6569
Have a look at Sally user in the image , who has just Pull Role.  Which is assigned by project-admin / cluster-admin
when I login as Sally. I want to see all the images in the project .So that i can decide which images i am allowed to play with.

[2016-01-07 14:18] ncdc commented on #6569
You should be looking at image streams, not images. I just don't think it's useful to have a screen that is a list of all images.

[2016-01-07 14:20] ncdc commented on #6569
If you have a screen with a list of all images, it's going to look like this:

sha256:abcd1234
sha256:zzzzeeee
sha256:asdfasdf

But you can't actually refer to images just by their ID - you have to go through an image stream to pull an image. So you need to start with image streams, and then for each stream, show the list of tags and/or image IDs (SHAs).

[2016-01-07 14:22] ironcladlou commented on #5787
I'm still not sure I like the idea of ignoring a template change when the desired replica count is 0. I'd rather the new RC be created and marked complete so that the latest deployment reflects the changes even if it's not currently scaled up. The upstream rolling updater should just support returning early if the from/to counts are 0.

[2016-01-07 14:45] ncdc commented on #6569
cc @pweil- @miminar @smarterclayton

[2016-01-07 14:47] ncdc commented on #6569
cc @soltysh

[2016-01-07 14:58] ironcladlou commented on #5787
Submitted https://github.com/kubernetes/kubernetes/pull/19366 which will make the rolling updater compatible with a desired replica count of zero.

[2016-01-07 16:23] gabemontero commented on #6455
@liggitt @rhcarvalho  - any suggestions on how to monitor to see if the flake occurs again, other than pulling up the console logs for each failed job on the test / merge queues?

I tried ssh'ing into ci.openshift.redhat.com to do a recursive log scan, but don't have permission (or perhaps nobody is allowed to do this?)

thanks

[2016-01-07 16:29] marun commented on #6561
@jayunit100 by certs I assume you mean what kubeconfig to use?  dind drops an rc (dind-openshift.rc) that you can source (. dind-openshift.rc) to set KUBECONFIG.  By default the value will be /tmp/openshift-dind-cluster/openshift/openshift.local.config/master/admin.kubeconfig.

Also, #6559 will resolve this issue by making SDN_NODE=true the default for openshift-sdn.

[2016-01-07 16:30] stevekuznetsov commented on #6568
@charliemaiors What steps did you take to get to the issue? Did you create a replication controller yourself? Could you post the full log for the deletion you tried? In OpenShift the most common interaction with replication controllers is with [deployments](https://docs.openshift.org/latest/dev_guide/deployments.html) and deployment configurations, not replication controllers directly.

For instan

[2016-01-07 16:45] rhcarvalho commented on #6562
Totally agree with you @GrahamDumpleton. @bparees do we want to keep "config.py" there for backwards-compatibility? I'd just get rid of it since it indeed has no special meaning in a Python project.

[2016-01-07 16:46] csrwng commented on #6570
@ncdc @pweil- same issue that was brought up elsewhere... when parsing an image name, we're adding a library namespace by default.

[2016-01-07 16:47] aveshagarwal commented on #6553
I am also running into this issue.

Running TEST_REPORT_DIR=/tmp/openshift-extended-tests/junit/extended test/extended/core.sh...
stat /data/src/github.com/openshift/origin/hack/version.go: no such file or directory
!!! Error in test/extended/core.sh:34
	'k8s_version=$(go run ${OS_ROOT}/hack/version.go ${OS_ROOT}/Godeps/Godeps.json k8s.io/kubernetes/pkg/util)' exited with status 1
Call stack:
	1:

[2016-01-07 16:54] jayunit100 commented on #6561
okay.  Closed in favor of #6559 lets merge that soon.
re the certs, i found that the ones created in /tmp work.

[2016-01-07 16:54] #6561 closed

[2016-01-07 17:01] PI-Victor commented on #6165
what would fix this and the conflicting flag and pretty much everything else would be to override `cmd` flags in newapp, in other words, mutate the cmd returned [here](https://github.com/openshift/origin/blob/07228ff88079166d57501ef86106e5f66bf1f893/pkg/cmd/cli/cmd/newapp.go#L171) by removing the conflicting flags added by cmdutil.AddPrinterFlags and adding the `template` one that we have. This wa

[2016-01-07 17:09] lypht commented on #4851
Thanks again.  If I run the upgrade playbook from BYO, will it pull the latest stable, or is this only for versioning if not on 1.1?

[2016-01-07 17:13] jwhonce commented on #4591
@deads2k Do you have the answers for @rhvgoyal 's quetions?

[2016-01-07 17:19] stevekuznetsov commented on #4851
I'm not certain about that, @sdodson could you please chime in?

[2016-01-07 17:41] sdodson commented on #4851
The playbooks, unless you specify that you want a containerized install, rely on RPMs for installation and those are only built for tagged releases. If you like you can add containerized=true and give that a shot but it's definitely a less tested path at this point.

https://github.com/openshift/openshift-ansible/blob/master/README_CONTAINERIZED_INSTALLATION.md documents containerized installation

[2016-01-07 17:44] #6553 closed

[2016-01-07 17:46] bparees commented on #6562
@rhcarvalho i'm fine with getting rid of the config.py check.

[2016-01-07 17:49] rhcarvalho commented on #6165
Sounds like it could work. I see in cobra there's a way to remove a command from a parent command, but still haven't found how to remove a flag.

[2016-01-07 18:03] pweil- commented on #6570
cc @soltysh @miminar

[2016-01-07 18:38] bparees commented on #6570
@csrwng when you say "we", is this common code new-app is calling, or is new-app doing this?

[2016-01-07 18:39] csrwng commented on #6570
common code new-app is calling in the registry client

[2016-01-07 19:18] ajacobs21e commented on #6403
Is there anything we need to test with this? Or are we all in agreement on this design?
![41](https://cloud.githubusercontent.com/assets/6415742/12180244/762d81f4-b549-11e5-9931-b61bff317ed0.png)

[2016-01-07 19:36] liggitt commented on #6455
run the tests using go 1.5.2:
[code]

[2016-01-07 20:07] gabemontero commented on #6455
whoaaaa .... very cool tool; thx for the tip re: gvm !! repro'ed and working on fix; glad my speculation regarding go versions and DeepEqual proved relevant

[2016-01-07 20:15] jayunit100 opened #6577 "[E2E] [DIND] intra-pod communication tests should work OOTB."
When running the end to end kube networking `intra-pod` communications test, we get instant failure.    - - Ive created this cluster on DIND.
- I suspect a simlar error would happen in other environments.
- curious: if the exact same error happens in EC2 deployments?
- curious: should intra-pod communication tests work on openshift?

Be warned that @marun mentioned the lack of secrets service acco

[2016-01-07 20:16] jayunit100 commented on #6577
cc the usual suspects that might be interested in this @marun @liggitt @eparis @timothysc @pmorie

[2016-01-07 20:23] gabemontero commented on #6455
Note: the `RawPath` field is a new addition to url.URL in golang 1.5.

Either I switch back to a comparison of the relevant common fields between 1.4 and 1.5 (which are the ones we correct with `MungeNoProtocolURL`), or I figure out how to do an #ifdef equivalent in go (where preliminary google searching is not turning up promising results)

[2016-01-07 21:13] timothysc commented on #6577
I suspect the default config is wrong for DIND

[2016-01-07 21:25] marun commented on #6577
@timothysc I think I ran into the same issue with a vm-based devcluster, but haven't tested in that configuration for some time.  Verifying that the failure is not dind-specific would definitely be a good next step.

[2016-01-07 21:43] rhcarvalho commented on #6455
@gabemontero I don't mind if you revert back to field by field comparison.
That with a comment is better than ifdefs or other manipulations just to have tests work for 1.4 and 1.5.

[2016-01-07 21:50] adietish commented on #6143
@csrwng do you have any rough idea when this will be finished? We're getting closer Beta2, would appreciate a lot if we could count on this feature.

[2016-01-07 21:53] csrwng commented on #6143
@adietish I would expect soon... I submitted a new set of changes based on the approach agreed on in the PR discussion. They are pending review.

[2016-01-07 22:42] adietish commented on #6143
ok, cool. Looking forward to it :)

[2016-01-07 22:42] jhadvig opened #6579 "Dropdown in buildConfig browse page not displaying actions"
Secondary action dropdown in buildConfig browse page is no longer displaying any action.

Errors from console show:
[code]

Seems related to ui-bootstrap version - https://github.com/compact/angular-bootstrap-lightbox/issues/42

[2016-01-07 22:49] jhadvig commented on #6579
@spadgett

[2016-01-07 23:00] jhadvig commented on #6579
This issue is effecting not only buildConfig, but the dropdowns in all the resources browse pages

[2016-01-08 00:55] ramr commented on #6555
@ebalsumgo that's odd. Does this happen for all routes or just this one?
Can you try a simple test:
[code]
Does that work switching between Allow/Redirect? You should see the appropriately changed value in the oc get routes display (INSECURE column).

Also getting a dump of the etcd configuration might possibly give some clues. Do you mind running this
command on the master:
`sudo curl -q -s -k --

[2016-01-08 01:57] spadgett commented on #6579
Try hack/clean-assets.sh and hack/install-assets.sh. We recently updated the angular-bootstrap version.

[2016-01-08 09:47] hferentschik commented on #6362
I was having problems, but they were caused by something else and are resolved now.

If it is an harmless error maybe this should be made clear (in the message or by documenting what this error means). Otherwise it might side track the search for an actual problem as in my case. If I am having problem with my setup and look at the logs and see something which tells me that "xyz failed", I will of

[2016-01-08 10:35] charliemaiors commented on #6568
@stevekuznetsov I've tried to follow this guide https://blog.openshift.com/openshift-3-1-pod-autoscaling/#.Vm8aDdnQ4bw.twitter to test the Horizontal Pod Autoscaling but it fails the deployment and when I've tried to remove everything it will stuck on deleting deployment config; after a long time I got a timeout error, but the deployment config wasn't here and rc are there.

[2016-01-08 12:11] ncdc commented on #6564
This is not an OpenShift problem to solve. You will see this exact same behavior with any v2 registry because the tag is included in the image manifest. If you change the tag, you get a different sha256 identifier.

[2016-01-08 12:34] stefwalter commented on #6564
Interesting.

Using information available via the Openshift API, can one determine if two images are equivalent in all but their tag?

[2016-01-08 12:36] ncdc commented on #6564
You could probably take the raw manifests for both images, remove the tag, and recalculate the digests for them.

[2016-01-08 12:36] ncdc commented on #6564
I'm not sure offhand if the raw manifests contain varying timestamps anywhere, which would throw things off.

[2016-01-08 12:53] soltysh commented on #6564
My question is does end user care whether tge two image shas differ? I'm inclined to say no, but if so maybe we could provide some additional meta doing this, if possible...

[2016-01-08 12:56] ncdc commented on #6564
I agree. It all depends on how the information is presented to users. If they're shown a flat list of images (which I don't think we should do), then it would probably be nice to show one image instead of two. But if they're shown a list of image repositories, followed by a list of tags, this essentially becomes a non-issue.

[2016-01-08 13:05] rhcarvalho commented on #6236
Turns out that I need to `git checkout master` in the kubernetes repo to fix the problem I mentioned above, that always happen when executing tests for a second time.

[2016-01-08 13:37] rhcarvalho opened #6583 "Running extended tests messes with existing kubernetes checkout"
Since #5718, an existing working k8s checkout in GOPATH and run extended tests will interfere with each other.

A first execution of `test/extended/core.sh` leaves k8s with HEAD detached at 4c8e6f4, and a subsequent execution fails for me, unless I manually checks out master again.

If I had uncommitted changes or any other thing in my k8s checkout, the test execution will fail (failing to git che

[2016-01-08 13:39] rhcarvalho commented on #6583
@smarterclayton since it was added as a WIP, do we still need that step in `core.sh`?

[2016-01-08 14:20] spadgett opened #6584 "Web console pod status not as specific as CLI"
In the CLI, you can see a "DeadlineExceeded" status for some pods.

[code]

In the UI (browse pods), we just show "Failed."

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12199704/4583ee72-b5e8-11e5-87bb-4f2e9bd16d43.png)

We only show "Failed" on the inidividual pod page as well.

We also sort differently and order the table columns differently. The age value is diff

[2016-01-08 14:22] spadgett commented on #6584
Looks like the CLI is showing `reason`:

[code]

[2016-01-08 14:27] stevekuznetsov opened #6585 "`oc status` output doesn't read well"
`#1 build started` should be `build #1 started`, etc

@deads2k

[2016-01-08 14:37] stevekuznetsov opened #6586 "`oc describe` typo on describing scheduler actions"
`scheduler` is written with an extra space at the end:

[code]

[2016-01-08 14:42] fabianofranz commented on #6584
@spadget the CLI uses a logic that checks phase and reason and eventually even the status of containers, it's not just displaying a field as it is. The logic is here:

https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/kubectl/resource_printer.go#L554-L583

[2016-01-08 14:55] jayunit100 commented on #6577
To summarize where im at so far.

- @marun I think your right that there is an earlier failure in both.  Howerver, the failure is subtle difference once you dig into the container logs:
- On a VM based cluster: I'm currently getting X509 errors `2016/01/08 14:34:25 Unable to get server version: Get https://172.24.0.1:443/version: x509: certificate is valid for 10.1.236.12, 172.30.0.1, 192.2.4.238,

[2016-01-08 14:57] stevekuznetsov commented on #6568
@charliemaiors I haven't been able to reproduce the issue by going through the example myself. Did the error message tell you which condition it was waiting on to timeout? How are you removing everything to clean up? The easiest way is with `oc delete all --all`.

[2016-01-08 15:10] rhcarvalho commented on #6199
@clever88 it's in my list, hope to have a fix some time soon.

[2016-01-08 15:14] csrwng commented on #5937
Fixed with #5967. @bparees pls close

[2016-01-08 15:14] #5131 closed

[2016-01-08 15:22] #5937 closed

[2016-01-08 15:29] bparees commented on #5660
closing based on not having seen these sorts of issues lately.

If dockerhub becomes a consistent source of flakes again, we'll have to revisit how to solve this, but given that the point of the test is to confirm new-app is finding the image on dockerhub, i have no idea what that solution would look like, other than just moving it into an extended(non-merge-blocking) test.

[2016-01-08 15:29] #5660 closed

[2016-01-08 15:32] sosiouxme commented on #5753
@smarterclayton PR is merged, could you close this?

[2016-01-08 15:33] jayunit100 opened #6589 "[E2E][DIND] EmptyDir tests fail."
Looks like a high proportion of EmptyDir tests fail on DIND.  This could be related to why #6577 fails as well.

To reproduce (using #6541):

[code]
On DIND in a single VM cluster spun up w/ Vagrant.

[code]

Since several of the E2Es in general fail on openshift, I validated this on on VMs in a ansible based OpenShift cluster created for me by mister @timothysc.  Good news is that most of these t

[2016-01-08 15:36] dcbw opened #6590 "Jenkins flake: no space left on device"
During Jenkins run of https://github.com/openshift/origin/pull/6532 we get:

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8298/console

Stderr from the command:

2016-01-07 17:40:36.334592 I | profile: cpu profiling enabled, cpu.pprof
2016-01-07 17:40:36.400521 I | profile: cpu profiling enabled, cpu.pprof
2016-01-07 17:40:50.069137 I | profile: cpu profiling enabled, cpu.

[2016-01-08 15:43] ivanthelad commented on #6501
@roldancer
I have a RFE for such a feature https://bugzilla.redhat.com/show_bug.cgi?id=1284994
@markturansky isn't this the proposal for the feature your describe https://github.com/kubernetes/kubernetes/pull/17056

[2016-01-08 15:43] eparis commented on #6447
Weeeeeeeee
https://github.com/openshift/origin/pull/6543
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4551/

[2016-01-08 15:44] jayunit100 commented on #6589
cc @marun I think this might uncover some the issues with mounting certs in dind ?

[2016-01-08 15:47] bparees commented on #4759
closing based on age, please reopen if you are still having this issue with a current release.

[2016-01-08 15:47] #4759 closed

[2016-01-08 15:48] jayunit100 commented on #6577
Lets resolve The above issue before treading deeper into networking.  Without EmptyDir tests passing, there is no point in testing intra-pod communication (because, iirc intra-pod  requires certificate mounting for containers in EmptyDir).

[2016-01-08 15:49] bparees commented on #5600
REQUIRE_SERVER_AUTH should also be working now.  Please reopen if you are still having issues.

[2016-01-08 15:49] #5600 closed

[2016-01-08 15:59] ebalsumgo commented on #6555
@ramr the route gets created but the insecure allow is not even present. when I go to edit the line is not there and when I try to add it as the same user that just created the route, that line just keeps getting discarded.

As far as etcd goes i am on OSE 3.1 and just did this:
root@osmaster0s:/etc/origin/master:
----> curl -q -s -k --cert master.etcd-client.crt --key master.etcd-client.key https

[2016-01-08 16:16] rhcarvalho commented on #6435
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8336/console in #6587

[2016-01-08 16:21] charliemaiors commented on #6568
I've tried to run ```bash oc delete all --all``` but it fail again when it has to remove the replication controllers and says:
[code]
where the timeouts are the attempt of deleting the replication controllers

[2016-01-08 16:33] markturansky commented on #6501
@ivanthelad kind of.  The proposal in #17056 is going to become a little smaller.  The PVSelector in mentioned in there but is coming out as its own standalone feature.  It isn't necessary for provisioning, but it has been agreed upon that PVSelector is a Good Idea and we'll do it.  It's on our plate, currently.

[2016-01-08 16:43] liggitt commented on #6590
I think this is caused by hotloops in https://github.com/liggitt/origin/blob/master/pkg/image/controller/controller.go#L143, e.g.:
[code]
@deads2k

[2016-01-08 17:01] deads2k commented on #6590
Hmmm... unlucky.  This could happen if the same imagestream was listed multiple times as the only work in the channel.  The channel add should be de-duped.

[2016-01-08 17:02] bparees opened #6593 "test-cmd should call cleanup_openshift"
test-end-to-end.sh calls cleanup_openshift at the end, which among other things, has the benefit of deleting large log files so they don't end up on jenkins:
https://github.com/openshift/origin/blob/master/hack/util.sh#L537
https://github.com/openshift/origin/blob/master/hack/util.sh#L493

test-cmd should do the same thing.  Unfortunately today test-cmd doesn't launch openshift in a standard way,

[2016-01-08 17:03] bparees commented on #6593
@stevekuznetsov since you're becoming our test script guru, i'd appreciate if you could look into this.

[2016-01-08 17:22] stevekuznetsov commented on #6593
I noticed this today as well. There's a lot in store for these scripts. It's a real mess right now.

[2016-01-08 17:33] bparees commented on #6590
(also we're going to work on fixing the test-cmd script to not gather large log files to jenkins)

[2016-01-08 17:42] stevekuznetsov commented on #6593
@deads2k what is stopping us from using the extended startup script (`start_os_server`) for `test/cmd`, minus the node setup?

[2016-01-08 17:58] stevekuznetsov commented on #6568
The output is just `timed out waiting for the condition`, nothing further? I will open an issue against Kubernetes to document that error better.

The holdup may be pod reaping - deleting a replication controller will first reap all of it's pods, waiting for them to gracefully terminate. Are there still any pods running after the `delete all --all` operation fails?

[2016-01-08 18:01] stevekuznetsov commented on #6568
You can also try `oc delete rc <replication-controller-name> --cascase=false`, which will remove the replication controller but not the pods. If that succeeds, you can then delete all of the pods `oc delete pods --all`.

[2016-01-08 18:01] jhadvig commented on #6579
@spadgett yeap that and fighting the npm did the trick... Thanks !

[2016-01-08 18:01] #6579 closed

[2016-01-08 18:03] spadgett commented on #6403
@ajacobs21e The one thing I'm not sure of is the label we use for editing YAML, "Edit (Raw)". Will users will know what that means? Also we're adding an "Edit" menu item in places as well, so you have

[code]

See https://github.com/openshift/origin/pull/6528#discussion_r48782598

/cc @jhadvig

[2016-01-08 18:12] liggitt commented on #6403
edit source, edit yaml, etc, would be clearer to me

[2016-01-08 18:19] jhadvig commented on #6403
`edit source` might be misleading, since the user wont be editing the 'source' but the 'configuration'

[2016-01-08 18:21] rhcarvalho commented on #6199
Upon further inspection, it turns out that the `oc new-build ...` command above actually returns 2 build configs: one with only the git repo as source, and the other with only the Dockerfile in the source field.

This brings a question about behavior of the command line.

@bparees wdyt should be the behavior here? Apparently there is no way to create a single build config with multiple sources usi

[2016-01-08 18:36] bparees commented on #6199
imho oc new-build should only ever create a single build object and any existing behavior where it creates more than one should be considered a bug and therefore does not need to be kept for backwards compatibility.

@smarterclayton may have a different perspective.

[2016-01-08 18:38] ajacobs21e commented on #6403
Whichever you think will make the most sense to users. Edit YAML or maybe
Edit config?

On Fri, Jan 8, 2016 at 1:19 PM, Jakub Hadvig <notifications@github.com>
wrote:

--

Allie Jacobs
UXD

calendar
<https://www.google.com/calendar/b/1/embed?src=ajacobs@redhat.com&ctz=America/New_York>

[2016-01-08 19:05] jhadvig commented on #6403
+1 for the 'Edit YAML'

[2016-01-08 19:11] smarterclayton commented on #6199
I agree with ben.  This is most definitely a bug.

[2016-01-08 19:12] smarterclayton commented on #5660
This is going to get fixed by image import as well

On Fri, Jan 8, 2016 at 10:29 AM, Ben Parees <notifications@github.com>
wrote:

[2016-01-08 19:13] bparees commented on #5660
how's that?

[2016-01-08 19:15] smarterclayton commented on #6583
Yes, we need the examples.  How we get the examples can be cleaned up.

[2016-01-08 19:54] deads2k commented on #6555
Are you using the same `oc` for both your regular user and your system:admin?

[2016-01-08 19:58] ramr commented on #6555
@ebalsumgo hmm, ok - I tried it on origin (since this was filed as an origin issue).  Will try on OSE 3.1

Some questions before that though - what role does the user have in the project that you are trying to add the route to? Is the user an admin on the project?  The route resource is namespace scoped, so its possible the user is not an admin for the project? But its weird you can't see the fiel

[2016-01-08 20:01] ebalsumgo commented on #6555
oc version was different (the user one was older) and that seems to have been the issue!

[2016-01-08 20:02] deads2k commented on #6568
Running `oc delete all --all --loglevel=6` ought to give more details about which requests are being tried and what you're waiting for.

[2016-01-08 20:07] aveshagarwal commented on #6447
When I run ./hack/test-end-to-end.sh with latest origin, I am seeing similar issue:

[INFO] Running a CLI command in a container using the service account
Waiting for pod test/cli-with-token to be running, status is Pending, pod ready: false
Waiting for pod test/cli-with-token to be running, status is Pending, pod ready: false
Error attaching, falling back to logs: error executing remote command:

[2016-01-08 20:36] deads2k opened #6600 "Use swagger (or something) to detect client/server drift"
Since our clients have built-in conversions that used prior to contacting a server, an old client talking to a new server can strip out fields.  (See the problem this caused in https://github.com/openshift/origin/issues/6555).

Since we build both, we can detect whether the server level of a particular group,version,kind is different from our own.  There is enough information to know ahead of time

[2016-01-08 20:42] deads2k commented on #6593
Try using `start_os_master` similar to https://github.com/openshift/origin/blob/master/hack/update-generated-swagger-spec.sh#L43-L55

[2016-01-08 20:49] #5753 closed

[2016-01-08 21:17] marun commented on #6589
@jayunit100 I'm able to reproduce with the networking suite as well (command assumes 'hack/dind-cluster.sh start' has already been run):

NETWORKING_E2E_FOCUS="EmptyDir" OPENSHIFT_CONFIG_ROOT=dind test/extended/networking.sh

I'll see if the vm-based devcluster has the same failures as dind.

[2016-01-08 21:30] smarterclayton commented on #6600
Interesting.  Another suggestion has been a schema version (the unique
number that corresponds to the rev of this object schema, within an api
group). A third suggestion has been feature flags.  Swagger is a good place
to start since we have it available.  Detection of drift is more fraught,
since we can only apply the grossest calculations.

On Fri, Jan 8, 2016 at 3:36 PM, David Eads <notificatio

[2016-01-08 21:57] liggitt commented on #6065
trace logging:

Ran etcd with strace:
[code]

monitored iops during test-integration.sh run:
[code]

[2016-01-08 22:12] marun commented on #6589
I can confirm that a vm devcluster has the same 2 failures you report, so the fault is definitely with dind.

[2016-01-08 23:02] timothysc commented on #6577
The internal cert failure on native install is disconcerting, b/c it allows external ips but not the introspective endpoint that is needed for resolution.  @liggitt do you have any thoughts on this one?

```2016/01/08 14:34:25 Unable to get server version: Get https://172.24.0.1:443/version: x509: certificate is valid for 10.1.236.12, 172.30.0.1, 192.2.4.238, not 172.24.0.1.```

[2016-01-08 23:19] #5984 closed

[2016-01-09 00:15] liggitt commented on #6577
Which connection is complaining about that - node to master? Do you have the config files and certs captured so I can look at them? What IP are you expecting the node to use to talk to the master, and is that the IP the master is being told to use as its masterURL?

[2016-01-09 01:54] timothysc commented on #6577
We're expecting it to connect via the introspective service ip:

$ oc get services
NAME         CLUSTER_IP   EXTERNAL_IP   PORT(S)                 SELECTOR   AGE
kubernetes   172.24.0.1   <none>        443/TCP,53/UDP,53/TCP   <none>     1d

everything was setup via openshift-ansible.

[2016-01-09 02:08] liggitt commented on #6577
The service ip should already be in the cert. Can you include the JSON definition of the kubernetes service? @sdodson, any ideas why the service IP wasn't included?

[2016-01-09 03:10] jayunit100 commented on #6589
Asweoms, thanks for that.   Here is a spreadsheed comparing E2E results for DND for regular Openshift.  All in all about 10 failures in DIND happen that dont happen in VMs.

**So, I think the only major difference from DIND and VMs, is in  EmptyDir functionality**

I think That is really pretty impressive overall, for DIND.

[2016-01-09 04:03] liggitt commented on #5765
The kube e2e's are not built in a way that easily allows composing them into a bigger out-of-package e2e suite. The first attempts at a composed e2e suite containing origin and kube e2e tests had to go to extraordinary lengths to get around cross-package test dependency restrictions. If a strong case can be made for a single e2e binary compositing kube e2e tests and origin e2e tests, we should mak

[2016-01-09 04:43] timothysc commented on #6577
$ oc get -o json service kubernetes
{
    "kind": "Service",
    "apiVersion": "v1",
    "metadata": {
        "name": "kubernetes",
        "namespace": "default",
        "selfLink": "/api/v1/namespaces/default/services/kubernetes",
        "uid": "da470ebc-b590-11e5-8272-fa163ea585d3",
        "resourceVersion": "7",
        "creationTimestamp": "2016-01-07T22:49:04Z",
        "labels": {

[2016-01-09 04:46] liggitt commented on #6577
the cert contains 172.30.0.1 (which would be the service IP with the default services subnet of 172.30.0.0/16), but this machine has that set to 172.24.0.0/14

[2016-01-09 04:52] liggitt commented on #6577
This line is correct (https://github.com/openshift/openshift-ansible/blob/31a18b4e6096451bd81603b92a2d4cf7d21cecef/roles/openshift_master/templates/master.yaml.v1.j2#L100):
[code]

and from what I can see, this line correctly computes the service IP:
https://github.com/openshift/openshift-ansible/blob/59169a04580c8ae9a2594544dc75b994602da7ea/roles/openshift_facts/library/openshift_facts.py#L543

a

[2016-01-09 06:07] #6562 closed

[2016-01-09 07:05] #6455 closed

[2016-01-09 10:14] rhcarvalho commented on #6199
Ok, so new-build should operate on the premise that it always constructs one single build object.
OTOH, new-app would produce multiple components with similar input. I think to make new-build work with multiple sources will require diverging the new-app in the implementation level (today they share most of the code). Will look into that next week.

[2016-01-09 15:12] bparees commented on #6199
Personally I'd be ok with new-app also only supporting a single build. The
permutations of "what did the user intend" grow exponentially when multiple
inputs could mean a single build with all those inputs, or a build per
input, or any combination in between.

Not to mention how builder images being passed on the cli get matched to
each input.

@smarterclayton, I think you've rejected that proposa

[2016-01-09 16:18] charliemaiors commented on #6568
[code]
This is a part of the log (the first part is the same of the second) of the output of ```bash oc delete all --all --logleve=6```

[2016-01-09 19:45] smarterclayton commented on #6199
I have.  There is already core code in the newapp|build flow that
knows what the target is (build or app) and selectively restricts
interpretation.  I don't think any dramatic changes are required.

For now, I don't want to change new-app dramatically - I want us to
continue to refine and identify use cases.   Our online beta use case
is 100% the new-app user, so I want to polish rather than redir

[2016-01-09 20:44] bparees commented on #6199
@rhcarvalho with the introduction of "source from image", @csrwng made the assumption (not yet merged) in new-build that if you specify --image-source, that argument should be paired with the git repo argument, if there is one.  if there is more than one, it's an error (we can't know which one you wanted to pair it with) and if there is not a git repo argument, then the resulting buildconfig does

[2016-01-09 20:51] smarterclayton commented on #6199
I'm pretty comfortable with accepting bug reports for complex outcomes on
new-app as "deferred until online beta is out", and us spending our time
making new-build predictable first.

On Sat, Jan 9, 2016 at 3:44 PM, Ben Parees <notifications@github.com> wrote:

[2016-01-09 23:04] smarterclayton commented on #6600
We should try to get maximum value for minimum complexity - i.e. an "doesServerSupportFieldX" that returns `ok bool, err` and checks the local swagger cache for the field for an object.  I suspect in most places we would display warnings, rather than errors.

[2016-01-11 04:02] jayunit100 commented on #5765
So, I see your point: but, We can make the hack less ugly, or change the hack impl, but probably shouldnt backpeddle a defined requirement based on the fact that it requires an ugly implementation ....
- I agree we should work with upstream to libraricize the E2Es.  Issue created here: #19461.  We will see what the feedback is.
- In the meanwhile... My Devils advocate response: this feature adds a

[2016-01-11 09:53] rhcarvalho commented on #6199
I'm fine with this, though in fact when all changes get merged the grouping should apply to all source input types, not only git-repo+something:

[code]

Should result in a single buildconfig with source from Dockerfile and from Docker image.

The above doesn't exist, the `--dockerfile` flag is exposed only in `oc new-build`.

[2016-01-11 09:56] mfojtik commented on #6199
@bparees we also have to think how we can pass a secrets into new-build now, I don't think it is highly related to this issue, but the options should work together well, like:

[code]

[2016-01-11 10:02] rhcarvalho commented on #6583
What examples? Why can't we use the vendored copy of kube?

[2016-01-11 10:06] talset commented on #6373
@marun  Yes sure, so :

2 masters / 2 nodes setuped

RHEL version
[code]

OSE version
[code]

Specific ansible config
[code]

I only tried on the master1 nodes.

[2016-01-11 12:12] stefwalter commented on #6564
Showing identical tags as equivalent is a very common way of presenting docker images. For example run this command on your machine:

[code]

You should see images listed by tag next to each other with the indication that they are identical and have identical identifiers. For example:

[code]

In addition we are working on an Image Registry UI which displays images like this, see the various tags,

[2016-01-11 12:14] stefwalter opened #6606 "Unable to watch a single item"
It seems we're unable to watch a single item in openshift:

[code]

This forces clients to watch all the objects of a given resource type, and can lead to loading way more information than necessary into clients like browsers.

[code]

[2016-01-11 12:51] deads2k commented on #6447
It looks like this is being caused by sudden latency in disk IO.  See https://github.com/openshift/origin/pull/6542#issuecomment-170088066 for details.

Since this seems to be an environmental problem, we're currently working around this problem by using a ramdisk.  This frees the merge and test queue for now.

[2016-01-11 12:53] liggitt commented on #6606
That's not specific to origin, the same limitation exists upstream. The recommended approach is to watch the list, filtered by a field selector of metadata.name

[2016-01-11 13:02] stefwalter commented on #6606
Good to know. But am I doing this wrong?

[code]

[2016-01-11 13:28] deads2k commented on #6568
Ok, for some the pods haven't been successfully removed.

Assuming you haven't already gone to `oc delete all --all --cascade=false` (which I think would work for you), can you look at the RC.spec.replicas and their associated pods?  At one point there was a bug where skewed versions of master/node could permanently leave a pod trying to gracefully stop.

[2016-01-11 13:30] soltysh commented on #6307
This will be fixed in #6288.

[2016-01-11 13:35] #6590 closed

[2016-01-11 13:39] markturansky commented on #6103
The sync period has been lengthened to 10 minutes (from 10 seconds) and will no longer spam the logs.  This is already merged into OpenShift.

This issue can be closed.

[2016-01-11 13:42] markturansky commented on #6080
This issue can be closed.  The ability to implement a recycler custom to any filesystem is merged and working.

[2016-01-11 13:43] markturansky commented on #6005
@withinboredom Rob, would you please close this issue if it is no longer relevant?  The error you reported wasn't fatal, just log spam for the nil pointer.  But that's been fixed.

[2016-01-11 13:44] markturansky commented on #6282
I don't have sufficient permissions to reassign this issue.  Please reassign to @pmorie or @swagiaal, as they are the security feature owners.

[2016-01-11 13:45] #6080 closed

[2016-01-11 13:53] deads2k commented on #6065
@liggitt any chance of an executive summary for all those numbers?  Particularly the ones without timestamps.  Does the IO storm relate to anything else time-wise?  Did we see failures in the test?

[2016-01-11 13:54] smarterclayton commented on #6282
MySQL and mongodb from the DockerHub are also broken in the same fashion.

[2016-01-11 13:57] smarterclayton commented on #6583
Because you can't vendor directories via godep that don't have go source
code.

On Jan 11, 2016, at 5:02 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

What examples? Why can't we use the vendored copy of kube?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/6583#issuecomment-170494653>.

[2016-01-11 14:02] deads2k commented on #6478
Let's say we have something that wants to specifically scale a DC.  In that case, there's little value in making them go through a generic interface.  In fact, that loses the clarity of what they're doing for most tools.

I'm not arguing against allowing the usage of a `Scale` interface when actually operating generically, but when operating in a non-generic fashion, I'd prefer to have the strong

[2016-01-11 14:07] #6005 closed

[2016-01-11 14:15] deads2k commented on #5236
Read through the `*_and[_not]_text` tests.  If you run with verbose on, you should be able to see what they're matching.  Most are probably specific fields.

[2016-01-11 14:24] smarterclayton commented on #6199
I doubt we'll add more build option flags to new-app

[2016-01-11 14:28] rhcarvalho commented on #6583
@smarterclayton could you point what files you're referring to?

[2016-01-11 14:33] smarterclayton commented on #6583
Everything in examples/

[2016-01-11 14:41] liggitt commented on #6065
I think the numbers speak for themselves. Poorly.

I haven't seen a failure yet when stracing. Will try to correlate the three logs better when I have a second.

[2016-01-11 14:47] ironcladlou commented on #6478
We're not talking about reaper here, but the concrete implementation of the deploymentConfig scaler doesn't accept a `DeploymentConfig`, it accepts a namespace/name and should enforce the type internally (as it conforms to a generic scaling interface that deals in object references).

I think the notion of generic operations applied to object references is pretty common throughout the API and so a

[2016-01-11 14:52] stevekuznetsov commented on #6065
When we were debugging this flake and also the imagestream timeout flake it would have been really nice to see time stamps on when commands were executed. Do we want to include that information in `os::cmd`?

[2016-01-11 15:00] deads2k commented on #6065
I don't feel strongly, we should probably focus in other areas first.  As a for instance, gathering resource utilization is probably more valuable to start.

[2016-01-11 15:04] deads2k commented on #6065
@stevekuznetsov and while I'm wishing, graphing it so I can just click the image in the jenkins artifacts would be nice too.

[2016-01-11 15:20] bparees commented on #6199
:pray:

[2016-01-11 15:25] deads2k commented on #6478
Having typed methods on a `DeploymentConfigInterface` does not preclude using the untyped interfaces `ScaleNamespacer`/`ScaleInterface` that require a discovery/RESTMapper lookup (which don't exist today) in order to function properly.

You're saying we shouldn't provide a fully functional interface and instead force all Go clients to use the generic discovery/RESTMapper instead?

[2016-01-11 15:47] ironcladlou commented on #6478
I agree. I'm just saying that the upstream deployment namespacer (which should ultimately replace ours) does not follow that pattern, and since we're actively trying to replace origin's with upstream's, it seems reasonable to drive a pattern change from upstream downward.

I'm saying clients can use `ScaleNamespacer`.

[2016-01-11 15:54] deads2k commented on #6478
Yeah, that's the one that requires a discovery/RESTMapper lookup to function correctly.  Its definitely less efficient in some cases (discovery is a remote call), doesn't function properly at all today (the information isn't present to make a choice), and eliminates the ability for compiler to help with validity.

I'd prefer to have both so that we can avoid all three of those problems when possib

[2016-01-11 15:58] ironcladlou commented on #6478
I don't really have a problem with the specific interface methods. If they were available, I'd use them. My only overriding concern here is pattern divergence with upstream. If the consensus is it's not a big deal in this case, I'll be perfectly fine to go with the flow.

[2016-01-11 16:17] smarterclayton commented on #6282
@bparees @pweil- @pmorie I'd like to have a strategy to get this resolved.  At this point, every default DockerHub image that uses volumes is broken on OpenShift v3.  That's untenable to me.

[2016-01-11 16:27] eparis commented on #6066
https://github.com/openshift/origin/pull/6581
https://travis-ci.org/openshift/origin/jobs/100947397

[2016-01-11 16:29] sdodson commented on #6577
@jayunit100  I'm pretty sure that the ansible installer isn't even involved here. Is that correct? If it is involved can you show me how you're using it?

[2016-01-11 16:31] sdodson commented on #6577
Nevermind, i see Tim say it was.

[2016-01-11 17:40] pweil- commented on #6348
TODO:

When status detects that the pod is in a crash loop state we should make suggestions such as the following common troubleshooting steps or common causes:

1.  use `oc logs --previous`
1.  tell the user if the pod is running as a non-root UID
1.  filesystem permissions not allowing edit on files when running as non-root (should use a volume)

[2016-01-11 18:05] deads2k commented on #6348
Is there a way to detect that this is actually the problem or would we simply write it out.  Is it really that common?

[2016-01-11 18:06] smarterclayton commented on #6348
It's the single most common failure mode on openshift today.

On Mon, Jan 11, 2016 at 1:05 PM, David Eads <notifications@github.com>
wrote:

[2016-01-11 18:13] smarterclayton commented on #4234
Still happening

[code]

[2016-01-11 18:26] ramr commented on #6555
@ebalsumgo if this is no longer an issue, can you please close this. Thx

[2016-01-11 18:43] #6103 closed

[2016-01-11 18:46] danmcp commented on #6070
@rootfs Can you get the appropriate docs changes for this in place?

[2016-01-11 19:04] rootfs commented on #6070
@danmcp yes, doc fix is merged via #6167

[2016-01-11 19:06] #6070 closed

[2016-01-11 19:10] danwinship commented on #6362
Filed https://github.com/kubernetes/kubernetes/pull/19490 to get rid of the warning

[2016-01-11 19:12] #6362 closed

[2016-01-11 19:20] bparees commented on #6282
Seems like the logical behavior i'd expect as a user is:

Any dir i specified as a volume mount point in my podtemplate, should be owned by, and writable by, the pod user id.

Are there storage systems or scenarios under which that is not a rational assumption, or where that behavior is not possible?

Naive questions that would apply to persistent volume behavior:
1) do all the containers in a pod

[2016-01-11 19:22] #6555 closed

[2016-01-11 19:36] smarterclayton commented on #6282
1. Containers can have different uids, but if there is only one container
the behavior is obvious
2. Yes
3. Yes

On Mon, Jan 11, 2016 at 2:20 PM, Ben Parees <notifications@github.com>
wrote:

[2016-01-11 19:45] bparees commented on #6282
(1) sounds like a problem.  doesn't it imply that if i have two containers in a pod, they can't both write to the PV (unless the PV has global write permissions set)?  That feels pretty restrictive.

[2016-01-11 20:08] smarterclayton commented on #6282
That's what FSGroup is for.

On Mon, Jan 11, 2016 at 2:45 PM, Ben Parees <notifications@github.com>
wrote:

[2016-01-11 20:33] sdodson commented on #6577
For ansible installs there's https://github.com/openshift/openshift-ansible/issues/1161 and the fix in https://github.com/openshift/openshift-ansible/pull/1162

I'm not familiar enough with the e2e process or DIND to say which of those are leading to the certs created there not having the proper kube service ip, however from IRC conversations it sounds like if you stick to the defaults you don't r

[2016-01-11 20:53] ibotty opened #6613 "Dockerfile steps in Docker builder cannot access network"
I am using openshift-ansible installed openshift/node:latest (using docker containers) with openvswitch (multitenant plugin).

The problem seems to be that every docker-builder build fails, because the Dockerfile RUN commands cannot access the network. Regular pods can access internal and external network just fine, e.g. `oc exec ...-build curl google.com` works without any problem.

The following

[2016-01-11 21:25] deads2k commented on #6567
@liggitt bump.

[2016-01-11 22:57] marun commented on #6577
Given that I'm the assignee for the probably root cause of the failure (#6589), it may make sense for me to take this one as well.

[2016-01-11 23:46] bparees commented on #6282
and just to followup on a side discussion @smarterclayton and I had...  having group permissions on a dir does not enable you to chown that dir, so if you need to be the user-owner of a directory (as postgres requires), having group permissions isn't sufficient.

(we work around this today by creating a directory that we *do* own, within the mounted directory, but most images don't do that)

[2016-01-12 07:14] thincal opened #6614 "How to do with the "docker --link" in openshift"
For example, if the php container depends on another mysql container, traditionally in docker it could be running the mysql container firstly, then run the php container by `docker run --link`.

If I want to migrate them in openshift, what's the equivalent with the `docker --link` ? and how to ?

[2016-01-12 10:42] rhcarvalho commented on #6199
@clever88 FYI a fix is on its way... see the PR referenced above.

[2016-01-12 13:11] rhcarvalho commented on #6498
@thincal with the PR https://github.com/openshift/golang-ex/pull/6 in, the example should work out-of-the-box again :smile:

[2016-01-12 13:56] pweil- commented on #6307
Moving this out of the 3.1.1 blocker list based on https://github.com/openshift/origin/pull/6288#issuecomment-170578577

[2016-01-12 14:06] mfojtik commented on #6026
@csrwng i assume this was already fixed, correct?

[2016-01-12 14:07] #6026 closed

[2016-01-12 14:08] liggitt commented on #6066
@eparis not sure what that link was supposed to be to...

[2016-01-12 14:36] mfojtik commented on #5776
@liggitt can you give me a clue about how this should work? We intentionally don't convert anything in the Objects (or I think we should not be doing that) as you might have different versions of the objects inside the Template. I tried to write this:

[code]

But of course the test failed badly...

[2016-01-12 14:49] timothysc commented on #5765
cross-ref https://github.com/kubernetes/kubernetes/pull/19476

[2016-01-12 14:49] php-coder opened #6616 "Don't show "negative" date when the build in progress"
![negative-date-bug](https://cloud.githubusercontent.com/assets/87088/12266516/df0d9b0c-b943-11e5-88ed-c5e7351227b6.png)

When build is pending I see the leading dash in `Started` row. I believe that we shouldn't show it.

cc @jwforres

[2016-01-12 15:11] liggitt commented on #5776
Not sure... @bparees might know the guts of the template object better to know what's expected

[2016-01-12 15:59] rhcarvalho opened #6618 "e2e flake: Error: Element not found: .breadcrumb li a"
Seen on #6615

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4606/console

Not sure what's the main problem there, whether this:

[code]

or this:

[code]

[2016-01-12 15:59] bparees commented on #5776
i think that test is correct as is...  we fuzz the parameters and metadata, which do need conversion, and we use a fixed object for the ObjectList, which does not need conversion because the template logic doesn't process those as api objects, they're just opaque json.

[2016-01-12 16:03] smarterclayton commented on #6613
@knobunc / @rajatchopra

[2016-01-12 16:09] liggitt commented on #5776
The problem was that the template stuff was round-tripping JSON in a lossy way. Fixed in https://github.com/openshift/origin/pull/5774, but a fuzzing test might have caught it earlier.

[2016-01-12 16:38] liggitt commented on #6293
There is a bug (https://bugzilla.redhat.com/show_bug.cgi?id=1289503) in the default policy for the HPA role. Can you run this command and include the output:
[code]

[2016-01-12 17:35] bparees commented on #5776
@mfojtik why did that test fail?  it looks reasonable to me.

[2016-01-12 17:38] bparees commented on #6614
Services are the equivalent:
https://docs.openshift.org/latest/architecture/core_concepts/pods_and_services.html

I would also suggest you walk through this example: https://github.com/openshift/origin/tree/master/examples/sample-app

it uses a Template to define all the common objects in openshift, including using a Service to allow an Application to talk to a Database.

[2016-01-12 17:47] #6143 closed

[2016-01-12 17:49] ibotty commented on #6613
I _think_ this is fixed by using the right sysctl in openshift-sdn. I have a poc-pull open there. Please also look there.

[2016-01-12 18:08] eparis commented on #6613
I assume you are referring to https://github.com/openshift/openshift-sdn/pull/244

[2016-01-12 18:56] jwforres commented on #6616
Yeah there shouldn't be anything in started in that case, definitely a bug
there
On Jan 12, 2016 9:50 AM, "Vyacheslav Semushin" <notifications@github.com>
wrote:

[2016-01-12 19:13] fabianofranz opened #6620 "CLI commands usage should not infer [options] is wanted in the end"
Some commands like `oc exec` and `oc rsh` take commands to be executed remotely as arguments in the end, so the `[options]` of the given command must come before and should not be [appended to the end of every command usage](https://github.com/openshift/origin/blob/master/pkg/cmd/templates/templates.go#L40).

[2016-01-12 19:13] fabianofranz commented on #6620
@liggitt please p3 and assign to me.

[2016-01-12 19:16] deads2k commented on #6461
dupe of https://github.com/openshift/origin/issues/6447

[2016-01-12 19:16] #6461 closed

[2016-01-12 19:17] deads2k commented on #6453
dupe of https://github.com/openshift/origin/issues/6447

[2016-01-12 19:17] #6453 closed

[2016-01-12 19:20] deads2k commented on #6065
dupe of https://github.com/openshift/origin/issues/6447

[2016-01-12 19:20] #6065 closed

[2016-01-12 19:24] deads2k commented on #6066
@csrwng I think this is caused because the allocation succeeded, but etcd reported a failure, the client tried again and instantly failed.

Duping on https://github.com/openshift/origin/issues/6447, reopen if you disagree or hit it again.

[2016-01-12 19:24] #6066 closed

[2016-01-12 19:29] deads2k commented on #5855
dupe of https://github.com/openshift/origin/issues/6447

[2016-01-12 19:29] #5855 closed

[2016-01-12 19:29] deads2k commented on #5683
dupe of https://github.com/openshift/origin/issues/6447

[2016-01-12 19:29] #5683 closed

[2016-01-12 19:31] deads2k commented on #5679
dupe of https://github.com/openshift/origin/issues/6447

This could happen when the create against etcd succeeds, but the etcd server responds back with a failure, the next (automatic) attempt fails because the allocation has already created the entry in etcd.

[2016-01-12 19:31] #5679 closed

[2016-01-12 19:32] deads2k commented on #5681
dupe of https://github.com/openshift/origin/issues/6447

[2016-01-12 19:32] #5681 closed

[2016-01-12 19:35] deads2k commented on #6067
dupe of https://github.com/openshift/origin/issues/5627

[2016-01-12 19:35] #6067 closed

[2016-01-12 19:42] deads2k commented on #5096
@liggitt have you seen this recently?  I'm inclined to close

[2016-01-12 19:44] deads2k commented on #5075
closing due to age and inactivity.

[2016-01-12 19:44] #5075 closed

[2016-01-12 19:45] liggitt commented on #5096
not recently, no

[2016-01-12 19:45] deads2k commented on #5096
closing due to age.

[2016-01-12 19:45] #5096 closed

[2016-01-12 19:46] deads2k commented on #5056
@liggitt close due to age?

[2016-01-12 19:47] deads2k commented on #4591
closing due to age.

[2016-01-12 19:47] #4591 closed

[2016-01-12 19:53] deads2k commented on #3624
@liggitt are you making progress on this?  Doesn't really look like it.

Why not squash individual ones as they come up?

[2016-01-12 19:55] liggitt commented on #3624
I am not. dockerhub and github are our biggest dependencies, and they are pervasive.

[2016-01-12 19:56] liggitt commented on #5056
I think that was found to be a go 1.5.1 issue

[2016-01-12 19:56] #5056 closed

[2016-01-12 20:13] sanjibbag opened #6621 "Fully qualified Route is not shown in UI when a Route is create route.spec.host"
While creating a Route with route.spec.host the Openshift console doesn't show Fully qualified end point. For example when a host name is specified for a route as below then openshift console displays it as "etcd-test-discovery" instead of it's fully qualifies name which is ""etcd-test-discovery.router.default.svc.cluster.local"
[code]
This will be useful for user who may not know what is the defa

[2016-01-12 20:17] liggitt commented on #6621
If you specify a `host` in the route.spec, that is the fully qualified host, so the console is displaying the correct value.

[2016-01-12 20:25] sanjibbag commented on #6621
Yes that is true. In that case route.spec.host has to be specified as "etcd-test-discovery.router.default.svc.cluster.local" by developers who are creating the template or route. In our organization we are creating generic templates for multiple projects and developers to reuse. Developers may not be aware of subdomain used by Openshift, more of that they do not need to be aware of it. Also, very

[2016-01-12 20:27] liggitt commented on #6621
There is no facility today for a partially custom route host (custom prefxi + global suffix). Leaving route.spec.host empty will result in a generated, fully-qualified hostname (which the console would show correctly).

[2016-01-12 20:38] sanjibbag commented on #6621
Thanks. I have created a pull request to address this problem. I was working on a solution for this issue. The solution may not be a optimal solution. Please refer https://github.com/openshift/origin/pull/6622

[2016-01-12 20:56] Tebro commented on #3612
This is still a thing, thankfully Google led me here and my cluster now has a working registry.

[2016-01-12 21:29] deads2k commented on #6259
Seen again here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8470/consoleText, here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8472/consoleText, and here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8473/consoleText

just this afternon

[2016-01-12 21:45] stevekuznetsov opened #6623 "trap set by `os::log::install_errexit` doesn't work correctly when failing commands are within a trap"
Nonsensical output comes out of the stack trace if parts of  a trap fail.

[2016-01-12 22:45] stevenpall commented on #6570
Has the issue here been identified? This is a fairly big blocker for our testing of Origin.

[2016-01-12 23:25] #6199 closed

[2016-01-13 02:18] bparees commented on #6570
@stevenpall can you explain why this is a blocker for you?  You can work around it by simply adding a namespace to your docker tagging process, which you should probably be doing anyway.

[2016-01-13 02:53] smarterclayton opened #6628 "Metrics and logging origin images need to be folded into Origin release process"
We need to be tagging those images using the same internal process we use for regular images.

[2016-01-13 02:59] stevenpall commented on #6570
@bparees I suppose that would be possible, though I'm confused as to why a namespace (I'm assuming you mean the `/library` bit) would get added when a full Docker image name is being supplied to `new-app`. It's a blocker in that any invocation of `new-app` will fail (since Docker can't pull the image) until the pod config's image name is edited manually.

I also haven't really seen that convention

[2016-01-13 03:04] ncdc commented on #6570
@stevenpall this is because of required behavior when interacting with certain images on the Docker Hub. If you try to do something like `docker pull centos`, this is actually translated to a pull of `library/centos` because on the Hub, every image repository (centos) has to live in a namespace (library).

It looks like this maybe should only apply to images coming from the Hub. Perhaps we could u

[2016-01-13 05:05] smarterclayton commented on #2795
Upstreamed

[2016-01-13 05:05] #2795 closed

[2016-01-13 05:06] smarterclayton commented on #2712
Has been fixed

[2016-01-13 05:06] #2712 closed

[2016-01-13 05:09] smarterclayton commented on #6430
Resolved

[2016-01-13 05:09] #6430 closed

[2016-01-13 05:11] smarterclayton commented on #5504
What's the status of this?

[2016-01-13 05:13] smarterclayton commented on #5059
@stevekuznetsov didn't you just fix this?

[2016-01-13 05:31] smarterclayton commented on #6570
There were several changes recently that stopped changing the user provided value (using docker image reference .Exact() instead of String()).  I expect most of that will be fixed in 1.1.1.

[2016-01-13 06:28] thincal commented on #6614
thanks and I will close this question.

[2016-01-13 06:28] #6614 closed

[2016-01-13 06:37] thincal opened #6629 "How to deploy the apache server in openshift"
when running a container which using the apache server, there are two failures happened during the apache startup:

- port issue
(13)Permission denied: AH00072: make_sock: could not bind to address [::]:80
(13)Permission denied: AH00072: make_sock: could not bind to address 0.0.0.0:80

- log issue
(13)Permission denied: AH00091: apache2: could not open error log file /var/log/apache2/error.log.

B

[2016-01-13 06:57] thincal commented on #6629
I know that `runAsUser.Type: RunAsAny` could let the container run as the root UID, but it seems that this change is applied globally, right ? If there is no elegant way, at least let the `RunAsAny` only affect the specified image instead of globally. Thanks.

[2016-01-13 08:54] stefwalter opened #6630 "/projects should be watchable"
UIs need to be able to watch when the ProjectList at /projects changes.

There’s no way in the Openshift API to watch projects. Since a project IS A namespace … one would think you could watch namespaces instead and infer the existence of projects. But that’s not possible for folks without cluster admin level privileges. Namespaces are not listable or watchable by other users.

[2016-01-13 08:56] stefwalter commented on #6630
[code]

[2016-01-13 08:58] stefwalter commented on #6630
$ oc whoami
scruffy
$ oc proxy &
Starting to serve on 127.0.0.1:8001
$ curl http://localhost:8001/oapi/v1/projects?watch=true
{
  "kind": "ProjectList",
  "apiVersion": "v1",
...
$ curl http://localhost:8001/oapi/v1/namespaces?watch=true
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "User \"scruffy\" cannot list all namespaces in the cluster",

[2016-01-13 09:31] charliemaiors commented on #6568
Investigating I've found that after upgrade Openshift has the old Docker Registry and HA router images (v 1.0.5), there aren't still any pods running on the machine but I still can't delete the rc.

[2016-01-13 09:34] adietish opened #6631 "oc logs displays badly encoded output in windows (10)"
If I tail the logs of my nodejs example in windows

[code]

I get badly encoded outputs:

![oc-logs-bc-nodejs-example-windows](https://cloud.githubusercontent.com/assets/25126/12290371/b305367a-b9e1-11e5-8e61-2223ea615d00.png)

[2016-01-13 09:39] adietish commented on #6631
this was reported in https://issues.jboss.org/browse/JBIDE-21440 by @dgolovin

[2016-01-13 09:46] charliemaiors opened #6632 "Openshift Binaries v 1.1(.0.1) doesn't deploy router and docker registry"
Hi, after this [issue](https://github.com/openshift/origin/issues/6568) I've upgraded Openshift first on my VM and after I've decided to upgrade it on a physical machine replicating the steps (that consist in wiping all Openshift Docker images from the local machine, replace the binaries, wipe the openshift.local.* folders saving the user database) and restart everything; on my VM everything works

[2016-01-13 13:44] liggitt commented on #6630
The semantics of watch on an ACL-filtered list are unclear. Would you expect an ADD event for a project when you were granted access to a project (even if the namespace previously existed)? Would you expect a DELETE event for a project when your access was removed (even if the namespace still existed)?

[2016-01-13 13:55] stefwalter commented on #6630
Yes, you described it well.

A poor mans work around would be to invent another mechanism in /oapi that can be watched ... and fires when any changes, and the caller can retrieve the ACL filtered ProjectList again. Taken as a whole this is even less efficient ...

[2016-01-13 13:58] liggitt commented on #6630
We'd also want to make sure clients didn't display terrifying messages like "Project X was deleted", when maybe you just had your access removed

[2016-01-13 14:20] vbehar commented on #6629
If you want to fix the permission issue on /var/log/apache2/error.log, the best way is to chmod the /var/log/apache2 directory in your Dockerfile.
But what you should really do is log to stdout/stderr, not to log files.

You could also have a look at https://github.com/openshift/sti-php/tree/master/5.6 for an example of building an apache image.

[2016-01-13 14:24] ironcladlou commented on #5504
#5530 needs resurrected if the approach is still valid (hasn't been reviewed in a long time).

[2016-01-13 14:28] kargakis opened #6635 "TestRouter flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4615/console

[2016-01-13 14:49] stevekuznetsov commented on #5059
@smarterclayton in progress https://github.com/openshift/origin/pull/5334

[2016-01-13 14:50] stevekuznetsov commented on #6623
File and line number seem to print OK most of the time, actual 'line' that failed is not.

[2016-01-13 14:58] bparees commented on #6629
+1 @vbehar

[2016-01-13 15:04] bparees commented on #6570
@smarterclayton where were those changes made?  (trying to understand if new-app needs to be changing, or it's going to pick up that change for free)

[2016-01-13 15:41] pweil- commented on #6632
You should not have to manually pull the images.  What state do you end up in when the deployment fails?  Is there any indication in the logs for the deployment of the registry/router or events in the namespace that they're deployed in that indicate there was a failure pulling the image?

[2016-01-13 15:43] charliemaiors commented on #6632
There is no indication, just remaining in pending state. Could be an issue with docker storage (that I've left with default option and I've ran a lot of containers on that machine)?

[2016-01-13 15:44] spadgett opened #6638 "Web console "scaling to n..." message can be misleading"
We show a "scaling to..." message when rc.spec.replicas doesn't match the actual number of pods. Generally the message disappears when scaling completes. In some cases, actual replicas never match spec, however, and the message never goes away. For instance, scaling up might put the user over project quota. In these cases, the phrasing isn't appropriate.

![openshift_web_console](https://cloud.git

[2016-01-13 15:47] smarterclayton commented on #6570
new-app was what was changed (at some point recently)

On Wed, Jan 13, 2016 at 10:04 AM, Ben Parees <notifications@github.com>
wrote:

[2016-01-13 15:50] csrwng commented on #6570
New-app calls the imapi.ParseDockerImageRef function:
https://github.com/openshift/origin/blob/master/pkg/generate/app/imageref.go#L50
which adds the library namespace:
https://github.com/openshift/origin/blob/master/pkg/image/api/helper.go#L64

[2016-01-13 16:13] stevekuznetsov opened #6639 "Generate swagger field descriptions using Godoc comments like upstream Kube"
we should move to follow upstream on this

/cc @smarterclayton

[2016-01-13 16:18] smarterclayton commented on #4211
The specific implementation of this is covered by the PetSet proposal in Kubernetes.

[2016-01-13 16:20] smarterclayton commented on #6570
Sorry, yes, for that we need to have the fix to stop setting library, and
make sure we serialize that back correctly (using the same rules).  Before
we fixed Exact() usage, this didn't matter because library got appended
anyway.

On Wed, Jan 13, 2016 at 10:50 AM, Cesar Wong <notifications@github.com>
wrote:

[2016-01-13 16:28] pweil- commented on #6276
downgrade in priority based on convo with @stevekuznetsov

[2016-01-13 16:30] smarterclayton commented on #6276
Why?

On Wed, Jan 13, 2016 at 11:28 AM, Paul Weil <notifications@github.com>
wrote:

[2016-01-13 16:31] smarterclayton commented on #6276
Need reasons

[2016-01-13 16:31] smarterclayton commented on #6639
You mean the java one?

[2016-01-13 16:49] stevekuznetsov commented on #6276
@smarterclayton no migration/promotion of `openshift ex validate` commands needs to occur. We decided that `oadm validate` was not correct and that these commands should live as targets for `openshift ex diagnostics`. In parallel to my original build of `openshift ex validate`, `openshift ex diagnostics` maintainer @sosiouxme built node/master config validation targets for `openshift ex diagnostic

[2016-01-13 16:55] timothysc opened #6642 "Change active-passive leader election to upstream annotation mechanism"
Upstream mods for leader-election will land for 1.2 at this point, and can crib example for the scheduler+controller thunk from here: https://github.com/kubernetes/kubernetes/pull/19347/files#diff-c2f9e998f6bc0386be67c0fa4a9db7d5R115 .

Once we have a later rebase, I'll get a PR together on this to remove the existing mechanism: https://github.com/openshift/origin/pull/4137

[2016-01-13 16:57] smarterclayton opened #6643 "No way to move persistent volumes between namespaces"
When a user wants to migrate an application across namespaces, there needs to be an easy way to accomplish that (something that can be explained to a user in a few CLI steps).  An admin really shouldn't have to be involved if the user has access to both PVCs.  I.e. a "release to" annotation or similar.

[2016-01-13 16:58] smarterclayton commented on #6276
What about all the other ex commands?

On Wed, Jan 13, 2016 at 11:49 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-01-13 17:00] eparis commented on #6613
The fix is being tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1294061

Thank you so much for finding this @ibotty

[2016-01-13 17:00] #6613 closed

[2016-01-13 17:02] liggitt commented on #6638
not sure... if spec.replicas=2 and status.replicas=1, I'd say that is accurate... scaling could be blocked though, and it would be good if we could know that and surface that somehow

[2016-01-13 17:18] rhcarvalho commented on #4211
link: https://github.com/kubernetes/kubernetes/pull/18016

[2016-01-13 17:18] stevekuznetsov commented on #6276
@smarterclayton `openshift ex {sync,prune}-groups` was promoted already.

[2016-01-13 17:19] pmorie commented on #6282
I spent a fair amount of time looking at this yesterday.  I think the issue with both redis and postgresql is that they require root to run.  Both do a chown as root and then su to the package-specific uid.  Will confirm these work and report back.

[2016-01-13 17:19] stevekuznetsov commented on #6639
@smarterclayton no, the descriptions === comments thing upstream has. This is a tracker issue for your email.

[2016-01-13 17:23] Dtsr opened #6644 "How export a variable to all my pods?"
I have a database url and would like to export this information to all my pods .

Is there any way to do this? perhaps through a service in the default project.

I read a bit about integrating external services , but I think is not the way

https://docs.openshift.com/enterprise/3.0/dev_guide/integrating_external_services.html

thanks

[2016-01-13 17:26] smarterclayton commented on #6639
oh.

[2016-01-13 17:27] smarterclayton commented on #6276
And diagnostics?

On Wed, Jan 13, 2016 at 12:18 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-01-13 17:29] smarterclayton commented on #6282
And because the emptydir volume directory is mounted as root owned, they're
broken.  So how do we unbreak them.  Why would a volume not be owned by the
launching container user?

On Wed, Jan 13, 2016 at 12:19 PM, Paul Morie <notifications@github.com>
wrote:

[2016-01-13 17:34] pmorie commented on #6282
I should have been more specific with my comments:

Both the redis and postgres Dockerhub image rely on being root _and_ the volume they use being root-owned so that:

1.  They can do a chown _as root_ on the volume to the ownership they want (postgresql:root or redis:redis)
2.  They both then su to the uid they expect to run as

This is really tricky to unwind because the images both effectively

[2016-01-13 18:03] smarterclayton commented on #6282
So they don't chown to themselves, but to another user altogether?

On Wed, Jan 13, 2016 at 12:34 PM, Paul Morie <notifications@github.com>
wrote:

[2016-01-13 18:08] pmorie commented on #6282
@smarterclayton Correct, see:

1.  https://github.com/docker-library/postgres/blob/2c72165e4f9dc66a61998111f69b5eba0b6b71f4/9.5/Dockerfile#L5
2.  https://github.com/docker-library/postgres/blob/2c72165e4f9dc66a61998111f69b5eba0b6b71f4/9.5/Dockerfile#L39
3.  https://github.com/docker-library/postgres/blob/2c72165e4f9dc66a61998111f69b5eba0b6b71f4/9.5/docker-entrypoint.sh#L12
4.  https://github.com/d

[2016-01-13 18:12] smarterclayton commented on #6282
So yes, safe w/ caps as the default removes this, but then the fallback is
ensuring people know this isn't running as root (even though it thinks it
will)

On Wed, Jan 13, 2016 at 1:08 PM, Paul Morie <notifications@github.com>
wrote:

[2016-01-13 18:15] pmorie commented on #6282
@smarterclayton I wonder if we can provide some programmatic help for specific packages -- is it worth a whitelist to notify about?

[2016-01-13 18:24] pmorie commented on #6282
We could provide an SCC to enable that gives you the right settings for dockerhub images like this.

[2016-01-13 18:41] csrwng commented on #6556
@bparees or @jwforres can you change the priority of this issue to P1? It allows escalating privileges on a node. You don't need to explicitly be able to create a build once you've created a build config with a forbidden type. An image change trigger can do that for you.

[2016-01-13 18:41] deads2k commented on #6276
Do you think that one is ready?

[2016-01-13 18:42] stevekuznetsov commented on #6276
As written by @deads2k [here](https://github.com/openshift/origin/issues/6276#issuecomment-164451302), `openshift diagnostics` was not listed as a command in need of promotion.

[2016-01-13 18:43] deads2k commented on #6276
As a for instance, I think the command arguments should be changed, dropping the `--diagnostics` flag.  (See https://github.com/openshift/origin/pull/6634).  I'm pretty sure I'm allowed to drop the flag in `openshift ex`, but not in `oadm`, right?

[2016-01-13 18:55] liggitt commented on #6606
Missing fieldSelectors were added in https://github.com/kubernetes/kubernetes/pull/17986/
Will get picked up with the next rebase

[2016-01-13 19:04] stevekuznetsov commented on #6568
@charliemaiors does `oc delete rc <replication-controller-name> --cascase=false --loglevel=6` work to delete it?

[2016-01-13 19:14] markturansky commented on #6643
changing the namespace on the PVC and PV.Spec.ClaimRef would be all that's needed.  What is an appropriate way of doing that?

[2016-01-13 19:17] liggitt commented on #6643
Well, the PVC is namespaced, so you can't "change" the namespace on it... the new one with a different namespace is a different PVC. The trick is getting the PV to be ok with switching to a PVC in a different namespace without admin intervention.

[2016-01-13 19:17] erinboyd commented on #6643
What about the PV backing the PVC? That has to be considered in terms of permissions when doing the migration.

[2016-01-13 19:18] deads2k commented on #6635
Saw this again on https://github.com/openshift/origin/pull/6637

[2016-01-13 19:23] jwforres commented on #6635
And on https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8514/console from #6596

[2016-01-13 19:27] liggitt commented on #6635
Certs used in router tests expired today:
[code]

[2016-01-13 19:28] liggitt commented on #6635
https://github.com/liggitt/origin/blob/master/test/integration/router/router_certs.go

[2016-01-13 19:45] bparees commented on #6644
oc env will let you do this, eg:
[code]

[2016-01-13 19:53] fabianofranz commented on #2096
Help (of the command that was actually invoked) is now displayed by default when you try to use an invalid flag. @liggitt this can be closed.

[code]

[2016-01-13 19:54] #2096 closed

[2016-01-13 19:55] bparees commented on #6570
@smarterclayton sorry, still not following at which point in the code we want to fix this.

is https://github.com/openshift/origin/blob/master/pkg/image/api/helper.go#L64 going to be updated to not set library?  If so, by whom and when?

[2016-01-13 20:23] pmorie commented on #6282
I verified that `oc new-app redis` ran correctly when the service account for the project was granted use of the `anyuid` SCC.

[2016-01-13 20:25] spadgett commented on #6638
We could at least warn if you're at or near quota on the overview, instead of only on the settings page. I'm sure there are other possible causes. It'd be good to surface events in the sidebar as well.

[2016-01-13 20:36] spadgett opened #6649 "Web console: suppress quota warnings for ResourceQuota and LimitRange types"
The web console should suppress quota warnings for ResourceQuota and LimitRange types on the settings page. Reaching the quota limit for these types is not really a problem.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/12307037/e7a946d6-ba0a-11e5-98e1-1478c7d6f6a0.png)

/cc @jwforres @derekwaynecarr

[2016-01-13 20:39] #6635 closed

[2016-01-13 20:42] jwforres commented on #6649
showing resourcequotas and limitranges is a little silly to begin with, in a typical configuration only a cluster admin can even add those to a project

[2016-01-13 20:51] pmorie commented on #6282
Also had success to `oc new-app postgres` on anyuid SCC

[2016-01-13 21:46] smarterclayton commented on #6643
Either the user has to set something on the existing PVC that gives it to something else, or there has to be an interface on the PVC that gives it up to someone else.  Would have to be bound first.

[2016-01-13 21:49] smarterclayton commented on #6276
Diagnostics should be moved out of experimental - as long as we think the arguments pattern is right.  If we still want to tweak arguments it can miss 3.1.1

[2016-01-13 22:03] jeffvance commented on #6643
What about an oc migrate(or move) <old-proj> <new-proj>  command? I did some upstream searching and didn't find a plan for this. Initially the command could just deal with moving PVCs but later there may be other pieces to move...

[2016-01-13 22:23] lypht commented on #4851
openshift ex sync-groups works.  Thanks again!

[2016-01-13 22:38] markturansky commented on #6643
We have a controller that handles claims.  Seems easy enough to check for some var on the claim to trigger the move in the controller, which is an admin account.

How do we know the request to move from namespace $foo to namespace $bar is valid for that user?

[2016-01-13 22:46] markturansky commented on #6643
Nevermind.  If the user can update the PVC in a namespace, (s)he has access to that namespace.  Giving it to another is a choice, which should be allowed.  Is that agreeable?

[2016-01-13 22:50] liggitt commented on #6643
Still need a way to signal the controller that the currently bound PVC concurs with trnsferring the PV to the new PVC, so the PV controller knows it is ok to update the PV binding

[2016-01-13 23:37] markturansky commented on #6643
Only the people in the namespace would be able to set the variable (probably an annotation).  Is that not consent?

[2016-01-13 23:54] jeffvance commented on #6282
Does this issue turn into a doc issue? Or are there code changes needed?

[2016-01-13 23:55] jwforres opened #6651 "Asset tests broken - URI is not defined errors"
Getting errors like:

[code]

Seems to be on every test/merge that makes it to asset e2e tests

@liggitt @spadgett in case you can investigate before I can

[2016-01-13 23:58] jwforres commented on #6651
Last PR that merged had no ui changes, so I suspect it is some npm or bower dep that has been modified and wasn't version locked

[2016-01-14 00:03] jeffvance commented on #5924
It does not seem acceptable to require customers to change perms on their existing (brownfield) glusterfs-fuse mount dir. I cannot tell from @detiber's comment if the chmod 777 is still required to fix the issue.  If so then I think rather than chmod 777 it is better to define supplementalGroups in the pod spec to match the mount's GID, or change the project's default supp-GID to be the GID of the

[2016-01-14 00:09] stevekuznetsov commented on #4851
@lypht glad to hear! Feel free to send other feedback or thoughts to me on GitHub or to our mailing list.

[2016-01-14 00:17] eparis commented on #6259
And here:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/8537/console
https://github.com/openshift/origin/pull/6650#issuecomment-171472032

[2016-01-14 00:49] csrwng commented on #6651
My PR has no UI changes and it's failing with the same error

[2016-01-14 00:51] spadgett commented on #6651
I can't reproduce locally clean installing assets.

[2016-01-14 00:51] liggitt commented on #6651
Yeah, the whole queue is affected. I'll look into it in a few minutes if no one else grabs it

[2016-01-14 00:52] liggitt commented on #6651
Maybe the cached compiled assets in Jenkins bit us

[2016-01-14 01:01] jwforres commented on #6651
Yeah it has to be something specific in Jenkins env because I can't
reproduce it locally either

On Wed, Jan 13, 2016 at 7:52 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-01-14 01:02] smarterclayton commented on #6643
The security implication is whether the remote user wants that PV.  I
think the sending user would have to set name and uid for safety at a
minimum.

[2016-01-14 01:03] smarterclayton commented on #6276
Yes,  we can wait for 1.2 to promote it.

On Jan 13, 2016, at 1:43 PM, David Eads <notifications@github.com> wrote:

As a for instance, I think the command arguments should be changed,
dropping the --diagnostics flag. (See #6634
<https://github.com/openshift/origin/pull/6634>). I'm pretty sure I'm
allowed to drop the flag in openshift ex, but not in oadm, right?

—
Reply to this email directly or

[2016-01-14 01:29] liggitt commented on #6643
I feel like we'll have this pattern in multiple places (cross-namespace references, with a request and a confirmation)... should think broadly about what we'd want this to look like

[2016-01-14 01:29] markturansky commented on #6643
ok, so, the destination PVC must exist and the receiver would supply name/uid to the sender.  This would otherwise be secret information and by supplying it, both parties agree to the transfer of ownership.

The source PVC is deleted as a result, I presume.

[2016-01-14 01:31] liggitt commented on #6643
no, both source and destination PVC need to indicate they want the transfer. I could have view-only access to a PVC in a namespace... that doesn't mean I should be able to push a PV to it

[2016-01-14 01:32] liggitt commented on #6643
At the very least, unbound... not sure if it is deleted or not

[2016-01-14 01:33] liggitt commented on #6643
Definitely want to lay this out as a state machine, and think about how it interacts with other bits of the system, to make sure something doesn't try to provision/assign a PV to the destination PVC while you're in the process of transferring a PV to it

[2016-01-14 01:35] markturansky commented on #6643
source and destination PVCs would have corresponding annotations.  The former with the name/uid of the destination and the latter with the name/uid of the source?  If they match both ways, transfer ownership.

Another annotation on the source PVC that indicates delete vs. unbind?

[2016-01-14 01:42] liggitt commented on #6643
just thinking aloud. maybe something like this:

on the source PVC:
kubernetes.io/transfer.destination.namespace=myns2
kubernetes.io/transfer.destination.name=mypvc2
kubernetes.io/transfer.destination.uid=234234-234234-234234
kubernetes.io/transfer.onsuccess=[delete | unbind]
kubernetes.io/transfer.status=... filled in by controller with any errors, etc ...

on the destination PVC:
kubernetes.io/t

[2016-01-14 01:44] danmcp commented on #5627
Several of these are dups of https://github.com/openshift/origin/issues/6321 and https://github.com/openshift/origin/issues/1579

[2016-01-14 01:44] danmcp commented on #1579
Should be fixed with: https://github.com/openshift/origin/issues/1579

[2016-01-14 01:44] #1579 closed

[2016-01-14 01:44] markturansky commented on #6643
"volumes.alpha.kubernetes.io/storage-class" is the annotation to trigger dynamic provisioning.

If the destination PVC has any of your proposed annotations (which all look good to me), then it shouldn't attempt to bind or be provisioned.  That is easy to enforce.

[2016-01-14 01:52] danmcp commented on #5627
The remaining issues could easily be a side effect of: https://github.com/openshift/vagrant-openshift/pull/381

Please reopen if you see any of them again.

[2016-01-14 01:52] #5627 closed

[2016-01-14 01:52] danmcp commented on #6321
This issue could easily be a side effect of: https://github.com/openshift/vagrant-openshift/pull/381

Please reopen if you see any of them again.

[2016-01-14 01:52] #6321 closed

[2016-01-14 01:58] markturansky commented on #6643
Do we have a CLI command like @jeffvance suggested above?  It would require a bunch of params.  "oc edit pvc [name]"?  Post some JSON?

[2016-01-14 04:18] jwforres commented on #6651
Confirmed it was a bad base_ami, not sure what exactly caused the URI.js bower_component to only get partially extracted to the file system.

Latest base_ami and devenv_ami are fine so queue should be unblocked now.

[2016-01-14 04:27] liggitt commented on #6651
fixed in https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3143/
tests in https://github.com/openshift/vagrant-openshift/issues/382 should prevent it from happening again

[2016-01-14 04:27] #6651 closed

[2016-01-14 07:23] #6556 closed

[2016-01-14 07:35] gorg3b commented on #5924
hi,
the chmod was actually just a quick work around / for testing purposes,  since documentation on supplementalGroups was not available at the time.

[2016-01-14 08:03] chmouel commented on #3377
I haven't tested it but i guess this can be closed ? since we are now on etcd 2.1

[2016-01-14 08:21] #4234 closed

[2016-01-14 12:54] Dtsr commented on #6644
Thanks ben

But this would solve the problem only until the next construction.

Is there any way to expose variables between applications ?

My idea is to create a service with several variables and expose these variables for all my pods.

Thanks

[2016-01-14 13:06] stevekuznetsov opened #6655 "Our bash traps need a re-write"
We need to support having multiple traps for the same signal, which requires us to follow some conventions:
1. never use `exit` in a trap, instead use `return` - this ensures that traps that catch the signal after you get to run
2. always use utility functions to install traps so that you play nice with any other traps that exist

We'll also need utility functions to prepend or append traps to a s

[2016-01-14 13:26] liggitt commented on #5605
https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3146/console
[code]

[2016-01-14 13:29] #3377 closed

[2016-01-14 13:36] liggitt commented on #6031
https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3144/console

[2016-01-14 14:33] bparees commented on #6644
There's currently no way to do that.  What you want sounds loosely related to service linking as discussed in the service catalog proposal:  https://github.com/kubernetes/kubernetes/pull/17543/files#diff-06c8d9e12508ed6c6b573c85489f4b75R69

[2016-01-14 14:42] liggitt opened #6656 "serialization_test.go fails on Route diff TLSTerminationType=edge"
https://ci.openshift.redhat.com/jenkins/job/devenv_ami/3149/console
[code]

[2016-01-14 14:45] liggitt commented on #6656
Likely related to https://github.com/openshift/origin/pull/6076/
@kargakis PTAL

[2016-01-14 15:04] kargakis commented on #6656
hm, A should be invalidated..

[2016-01-14 15:11] liggitt commented on #6656
This isn't testing validation. It's testing round tripping and conversion.

[2016-01-14 17:33] pmorie commented on #6282
@jeffvance I think it mostly does; basically the TL;DR is that if you want to run images from dockerhub, the service account you use for them needs to be able to use the `anyuid` SCC.  I'll make a change to the docs to reflect this.

[2016-01-14 19:56] derekwaynecarr commented on #6649
I agree; we may end up with more than one, but I am not sure its worth displaying by default.

[2016-01-14 21:18] bparees opened #6664 "Build revision extended test is failing"
see:

https://ci.openshift.redhat.com/jenkins/job/origin_extended/485/testReport/junit/%28root%29/Extended%20Core/builds__parallel__build_revision_started_build_should_contain_source_revision_information/

[2016-01-14 21:18] bparees commented on #6664
has failed 8 times in a row, so probably not a flake.  haven't tried to run it on my own though.

[2016-01-14 21:20] jwforres opened #6665 "BuildConfig env vars should support valueFrom syntax"
Builds today use the k8s EnvVar struct definition which supports the ValueFrom field, so you could create a buildconfig / build object with ValueFrom defined, but the build controller will not do anything with that field.

[2016-01-14 21:20] jwforres commented on #6665
@csrwng @bparees

[2016-01-14 21:22] bparees commented on #6665
we should introduce our own EnvVar struct that just has key+value fields to avoid this confusion.

[2016-01-14 21:32] liggitt commented on #6665
... or... support the downward API for populating build envvars

[2016-01-14 21:35] brettneese opened #6666 "Running 'oc create-app' from command line results in "Server could not find the requested resource""
And no pods being created.

I've tried a few docker images (including the defaults, so I know it's not related to how openshift handles docker security), a few of the s2i images, etc... sometimes it will even appear multiple times. The service gets created but nothing else happens. Not sure even how to go about diagnosing this, I looked at journalctl and the docker registry logs and didn't see any

[2016-01-14 21:36] liggitt commented on #6666
What do you see if you add `--loglevel=8`?

[2016-01-14 21:37] bparees commented on #6665
@liggitt yeah we discussed and for the moment at least, rejected, that option based on complexity.

[2016-01-14 21:39] liggitt commented on #6665
in that case, I would use validation to block valueFrom for build envvars... hopefully we'd eventually support it

[2016-01-14 21:39] brettneese commented on #6666
![image](https://cloud.githubusercontent.com/assets/504279/12338390/f294a214-bad4-11e5-9422-92f9ba47bb6f.png)

[2016-01-14 21:40] liggitt commented on #6666
Looks like you have an older version of the command-line client, running against a server that has v1beta3 disabled. Try adding `--api-version=v1`

[2016-01-14 21:42] brettneese commented on #6666
That worked. That sounds right, too, my version was from the roadshow a few months back.

How do I update the command line client?

[2016-01-14 21:48] liggitt commented on #6666
For the ose distribution, you can download from https://access.redhat.com/downloads/content/290

[2016-01-14 21:49] bparees commented on #6665
adding validation is a good call.

[2016-01-14 21:51] brettneese commented on #6666
What about origin? I know somewhere once logged in there was something about downloading it.

[2016-01-14 21:52] brettneese commented on #6666
Ah. Found it. https://github.com/openshift/origin/releases

Closing this. Thanks for your help.

[2016-01-14 21:52] #6666 closed

[2016-01-14 22:47] #6656 closed

[2016-01-15 04:25] GrahamDumpleton opened #6671 "Local project image stream ignored, instead going to Docker Hub."
Bringing this over from RH aos-devel based on @smarterclayton suggestion.

Short summary is that I am creating an image stream in project which shadows image stream in ``openshift`` namespace for S2I builders. In my case ``python``. When using ``oc new-app`` and relying on automatic language detection, it is getting confused in some way and is ignoring the image stream in the project for ``python`

[2016-01-15 05:02] smarterclayton commented on #6671
Local image stream should always take priority over the hub.

[2016-01-15 05:02] smarterclayton commented on #6671
@bparees or @csrwng for triage

[2016-01-15 05:10] bparees commented on #6671
1) it's failing because we get multiple matches (the openshift python imagestream and the user's python imagestream) during imagestream searching, and as a result we ignore all the results from the imagestream searching and fallthrough to dockerhub searching.

basically ErrMultipleMatches isn't being handled properly.  I assume as soon as we get ErrMultpleMatches we should fail out and tell the us

[2016-01-15 05:17] smarterclayton commented on #6671
1 ErrMultipleMatches for exact matches should definitely stop processing, not continue to the next tier.

[2016-01-15 05:26] GrahamDumpleton commented on #6671
Why when you use the ``--image-stream`` option without providing a namespace does it appear not to error and instead does the right thing then? Surely in that case you would have multiple matches as well if it used same algorithm as when doing auto language selection or are using it with ``~``.