[2016-04-04 16:33] #6176 closed

[2016-04-04 16:35] kargakis commented on #6225
Still happening...
[code]
@sgallagher mind having a look at this issue? @pweil- fyi

[2016-04-04 16:39] liggitt commented on #6225
Run twice in succession. There's a set of cached calls to determine the "all" alias that can add noise to the debut log.

[2016-04-04 16:44] pweil- commented on #2540
We now have use cases of registries outside the default namespace, closing this as no longer valid.

[2016-04-04 16:44] pweil- commented on #2540
misread, reopening

[2016-04-04 16:45] timothysc commented on #7845
agreed

/cc @mattf

[2016-04-04 16:46] smarterclayton commented on #2540
I think this is "working as designed".  We need to come back to larger registry config story but I don't think this is the right place for it.

[2016-04-04 16:46] #2540 closed

[2016-04-04 16:48] bparees commented on #8345
@smarterclayton how do we fix the generated swagger doc?  not clear to me how it's determining the return type.

this doc is also wrong:
https://docs.openshift.org/latest/rest_api/openshift_v1.html#create-a-template

guessing that swagger just assumes POST operations are creates that return the type you posted.

[2016-04-04 16:51] kargakis commented on #1175
`patch` and `apply` work, and we have oc set {triggers,env,volume,probe} for updating a dc

So to summarize what's left here:
* oc set image
* oc set hooks (https://trello.com/c/YfElgSo0/585-make-it-easier-to-create-deployment-hooks-evg)
* oc set limits (https://github.com/openshift/origin/issues/8329)
* anything else?

[2016-04-04 16:51] pweil- commented on #3860
Now supported with read only root file systems

[2016-04-04 16:51] #3860 closed

[2016-04-04 16:54] pweil- commented on #3983
closing due to age

[2016-04-04 16:54] #3983 closed

[2016-04-04 16:57] pweil- commented on #4715
This is complete via better use of field paths.  We can open more specific issues if there are any other requests.

[2016-04-04 16:57] #4715 closed

[2016-04-04 16:58] kargakis commented on #7019
We should consider a solution similar to the outcome of https://github.com/kubernetes/kubernetes/issues/22368.

cc: @smarterclayton @ironcladlou

[2016-04-04 16:59] pweil- commented on #5187
ServiceSpec ports are now iterated and aggregated: https://github.com/openshift/origin/blob/1fd827d38ba7132f22dfa928a7d5e7e7f72734a0/Godeps/_workspace/src/k8s.io/kubernetes/pkg/api/validation/validation.go#L1697-L1700

[2016-04-04 16:59] #5187 closed

[2016-04-04 17:02] pweil- commented on #5509
Already changed upstream in the defaults for CMServer:
[code]

Do we still want to change these?
[code]

[2016-04-04 17:02] smarterclayton commented on #1175
oc rollout image is probably the alternate for oc set image.

I'm not aware of others.

On Mon, Apr 4, 2016 at 12:51 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-04-04 17:03] smarterclayton commented on #8345
We'd have to fix api registration in Kube and have additional info defined
on the Storage classes (of which there are a few examples).

On Mon, Apr 4, 2016 at 12:48 PM, Ben Parees <notifications@github.com>
wrote:

[2016-04-04 17:05] smarterclayton commented on #5509
We don't use deployment controller yet, but HPA controls how fast scaling
is tested.  Do we need an upstream patch for those intervals or is that
checked into master?

On Mon, Apr 4, 2016 at 1:02 PM, Paul Weil <notifications@github.com> wrote:

[2016-04-04 17:06] pweil- commented on #5509
already in master as the default for `NewCMServer()` calls

[2016-04-04 17:12] pweil- commented on #5509
Nothing left to do here.  Closing.

[2016-04-04 17:12] #5509 closed

[2016-04-04 17:13] kargakis commented on #7996
So we should start truncating older deployments here too.

[2016-04-04 17:22] pweil- commented on #6519
closing, we now use a forked version of the repo which contains the SCC dependencies.  That repo should be used when restoring as noted in https://github.com/openshift/origin/blob/master/HACKING.md#1-preparation

[2016-04-04 17:22] #6519 closed

[2016-04-04 17:34] sdodson commented on #8297
ETA on v1.1.6 for this?

[2016-04-04 17:41] smarterclayton commented on #8297
Waiting to see what problems people hit this morning.  Might be this
afternoon.

On Mon, Apr 4, 2016 at 1:34 PM, Scott Dodson <notifications@github.com>
wrote:

[2016-04-04 17:41] spolti commented on #8297
@pweil  Thanks.

[2016-04-04 20:09] bparees commented on #8345
@smarterclayton is there an upstream issue for this?

[2016-04-04 20:46] smarterclayton commented on #8345
Not today

On Mon, Apr 4, 2016 at 4:09 PM, Ben Parees <notifications@github.com> wrote:

[2016-04-04 21:33] jimmidyson opened #8352 "Allow labels & annotations to be passed to Build via instantiate"
It would be very useful to be able to add labels & annotations to builds created via instantiate. Currently if a user wishes to add labels/annotations to a build, the user first has to call instantiate & then add labels/annotations in an update to the build object. This would be very useful for the Jenkins Pipeline strategy (#7949) so that builds can be created with necessary annotations/labels in

[2016-04-04 21:40] jimmidyson commented on #5890
Think this is working properly now.

[2016-04-04 21:40] #5890 closed

[2016-04-05 03:40] dragon9783 commented on #7549
LGTM

[2016-04-05 04:33] smarterclayton opened #8354 "Support pull by short ID"
ImageStreamImage supports short hash lookups `oc get isimage/foo@9ab35f`.  In the registry, because 8ab35f doesn't parse as a real Digest, the registry falls back to GetByTag.  GetByTag checks ImageStreamTag, but if the tag doesn't exist we can fall back to doing an API call to ImageStreamImage.  However, since the daemon is fetching by digest it expects the response to match that digest, which fa

[2016-04-05 05:32] smarterclayton commented on #3261
In progress, closing since we have basic agreement

[2016-04-05 05:32] #3261 closed

[2016-04-05 05:33] smarterclayton commented on #3283
No longer relevant / priority.

[2016-04-05 05:33] #3283 closed

[2016-04-05 05:33] smarterclayton commented on #3319
Link was removed

[2016-04-05 05:33] #3319 closed

[2016-04-05 05:35] smarterclayton commented on #3765
Not a short term thing, we can reopen this if a need arises

[2016-04-05 05:35] #3765 closed

[2016-04-05 05:36] smarterclayton commented on #3740
Closing as we have other issues tracking this.  We don't plan on adding secrets to "all" in the short term

[2016-04-05 05:36] #3740 closed

[2016-04-05 05:37] smarterclayton commented on #3903
Is this actionable?  May want o close otherwise

[2016-04-05 05:37] smarterclayton commented on #3899
Anything here?

[2016-04-05 05:37] smarterclayton commented on #3899
Upstream standardized a number of their functions

[2016-04-05 05:38] smarterclayton commented on #4238
Has this been addressed?

[2016-04-05 05:39] smarterclayton commented on #4149
This is mostly implemented, we need to round it out in 1.3.  Going to close

[2016-04-05 05:39] #4149 closed

[2016-04-05 05:39] smarterclayton commented on #3828
Swagger 2.0 is probably the most significant blocker at this point.  Going to close until then (the process is ok).

[2016-04-05 05:39] #3828 closed

[2016-04-05 05:40] smarterclayton commented on #4199
This was requested again recently

[2016-04-05 05:40] smarterclayton commented on #4271
Better now with junits

[2016-04-05 05:40] #4271 closed

[2016-04-05 05:41] smarterclayton commented on #3521
Changes coming soon should fix this.  Closing since you have to have permissions on stream first

[2016-04-05 05:41] #3521 closed

[2016-04-05 05:42] smarterclayton commented on #4570
Are we fixed here?

[2016-04-05 05:43] smarterclayton commented on #4399
This has been fixed if the user specified.  The image default is not shown.

[2016-04-05 05:44] smarterclayton commented on #2304
Not a problem anymore

[2016-04-05 05:44] #2304 closed

[2016-04-05 05:47] smarterclayton commented on #3487
This is fixed in import image and import image stream.

[2016-04-05 05:47] #3487 closed

[2016-04-05 05:48] smarterclayton commented on #5004
Fixed

[2016-04-05 05:48] #5004 closed

[2016-04-05 05:49] smarterclayton commented on #5332
I think this is now fixed?

[2016-04-05 05:49] smarterclayton commented on #5299
Fixed

[2016-04-05 05:49] #5299 closed

[2016-04-05 05:50] smarterclayton commented on #3092
Fixed

[2016-04-05 05:50] #3092 closed

[2016-04-05 05:51] smarterclayton commented on #1899
Fixed

[2016-04-05 05:51] #1899 closed

[2016-04-05 05:52] smarterclayton commented on #1574
Closing due to age, reopen if there is additional discussion needed here

[2016-04-05 05:52] #1574 closed

[2016-04-05 05:53] smarterclayton commented on #1485
Prototyped, but compose kind of sucks.  Not sure yet how to best leverage this

[2016-04-05 05:54] smarterclayton commented on #1723
The update of registry has been fixed with apply

[2016-04-05 05:54] #1723 closed

[2016-04-05 05:55] smarterclayton commented on #5192
I believe this is now implemented in the scheduler, although I dont know that we enable the predicate or that it works correctly for digests

[2016-04-05 05:55] smarterclayton commented on #739
This is no longer a significant issue

[2016-04-05 05:55] #739 closed

[2016-04-05 05:56] smarterclayton commented on #3616
This is effectively done

[2016-04-05 05:56] #3616 closed

[2016-04-05 05:56] smarterclayton commented on #5558
This started being slow again

[2016-04-05 05:57] smarterclayton commented on #5245
Has been fixed

[2016-04-05 05:57] #5245 closed

[2016-04-05 05:57] smarterclayton commented on #5633
Fixed

[2016-04-05 05:57] #5633 closed

[2016-04-05 05:58] smarterclayton commented on #5133
We just fixed this again

[2016-04-05 05:58] #5133 closed

[2016-04-05 05:58] smarterclayton commented on #5389
Fixed

[2016-04-05 05:58] #5389 closed

[2016-04-05 05:59] smarterclayton commented on #5871
The relevant message was fixed

[2016-04-05 05:59] #5871 closed

[2016-04-05 08:08] miminar commented on #3887
Blocked on #3333.

[2016-04-05 09:10] prachitiple commented on #8342
Thanks... for your solution. It resolved issue.

[2016-04-05 09:11] #8342 closed

[2016-04-05 10:49] TomasTomecek commented on #1485
They also changed syntax recently. Would be nice if there was a command to create a basic template with deployment (which should be finalized by user afterwards).

[2016-04-05 11:58] miminar commented on #8327
To preserve the is as is, we already have the `oc get is/name` and `oc export --raw is/name`. To make the exported image stream usable, we could:

1. remove [DockerImageRepositoryCheckAnnotation](https://github.com/miminar/origin/blob/registry-quota-refactor/pkg/image/api/types.go#L23) from annotations
2. make `ImageStreamImage` references in the spec for all the built images stored in status; I'm

[2016-04-05 12:10] php-coder commented on #7188
Couldn't reproduce on openshift v1.1.5-95-gef1caba.

[2016-04-05 12:10] #7188 closed

[2016-04-05 12:16] lorenzvth7 opened #8358 "Container logs: EACCES: Permission denied - /var/log/es-containers.log.pos"
##### Version
oc v1.1.4
kubernetes v1.2.0-origin-41-g91d3e75

##### Steps To Reproduce
Followed [https://docs.openshift.org/latest/install_config/aggregate_logging.html](url)

##### Current Result
Possible to access Kibana webconsole but showing:
No results found

##### Expected Result
Showing logs

##### Additional Information
The logs of the pods are normal except the logs of my fluentd pods:
[c

[2016-04-05 12:42] knobunc commented on #8347
@weliang1 can you work with @marun to work out how to address this.  We want something for 3.3 and it won't be everything above, but I would like to have a more complete solution for 3.4.

[2016-04-05 12:58] bparees commented on #4570
yes, openshift-built application images now include an io.openshift.build.commit.xxxx set of labels w/ commit information.

[2016-04-05 12:58] #4570 closed

[2016-04-05 12:59] bparees commented on #5192
what exactly has been implemented and what does the build system need to do to take advantage of it?

[2016-04-05 13:12] weliang1 commented on #8347
@knobunc,  sure, I will work with @marun on it.

On Tue, Apr 5, 2016 at 8:42 AM, Ben Bennett <notifications@github.com>
wrote:

[2016-04-05 13:13] jwforres commented on #4238
no, we haven't put much effort into bugs in the sidebar because we are seriously leaning towards dropping it in the new overview layout

[2016-04-05 13:14] stevekuznetsov commented on #5332
I'm not sure either way, actually. Lots has changed since the pull wrss abandoned.

[2016-04-05 13:14] stevekuznetsov commented on #3899
It's on the TODO list.

[2016-04-05 13:28] deads2k commented on #3903
This is essentially the same problem as `oc status` across multiple namespaces that we rediscovered recently and very similar to requests we've gotten for "all of X that I can see".

I'd like to see progress on this by having a way to specify more than on target namespace on the cli.

[2016-04-05 13:30] deads2k commented on #5192
The scheduler is now aware of all images that are already pulled on a node, but I didn't think that it understood the layers too and the base image probably isn't selective enough.  Did they add something else?

[2016-04-05 13:41] sdodson commented on #7549
@mfojtik I think the better solution to that is to add  `daemon --exec-opt native.cgroupdriver=systemd` to `/etc/sysconfig/docker` in the `OPTIONS` variable, no?

[2016-04-05 13:43] mfojtik commented on #7549
@sdodson the crappy Docker Engine installer you btw. run as `curl -fsSL https://get.docker.com/ | sh` (!) does not create systemd service that is reading the defaults from /etc/sysconfig...

[2016-04-05 13:48] bparees commented on #5192
well and it's still going to have no idea about the s2i builder image (eg centos/ruby-22-centos7) we're going to ultimately launch on that node, which is what's really needed for builds to benefit.  It would only know whether openshift/origin-sti-builder is present.  Which is only half the battle.

[2016-04-05 13:48] bparees commented on #5192
So we'd need some way to annotate the pod with information about additional images we intend to use.  (the builder image, images we're going to use as source inputs, etc)

[2016-04-05 13:49] sdodson commented on #7549
:crying_cat_face:

[2016-04-05 13:51] crobby opened #8359 "Getting started example of tagging is not working"
Following the steps given at https://docs.openshift.org/latest/getting_started/administrators.html (I'm using the containerized version), things work well until I get to the step where I am trying to tag v2 of the deployment example with `oc tag deployment-example:v2 deployment-example:latest`

Instead of success, I get the following error message:

##### Version

oc v1.1.5-93-g84434f4
kubernetes

[2016-04-05 15:25] smarterclayton commented on #3903
There are already issues to cover that upstream.

On Tue, Apr 5, 2016 at 9:28 AM, David Eads <notifications@github.com> wrote:

[2016-04-05 15:28] smarterclayton commented on #5192
Once we change to using pods to run our builds we would have more image
info available.

On Tue, Apr 5, 2016 at 9:49 AM, Ben Parees <notifications@github.com> wrote:

[2016-04-05 15:30] sosiouxme commented on #8358
This is a duplicate of https://github.com/openshift/origin-aggregated-logging/issues/89

Short term fix is to use the `privileged` SCC instead of `hostmount-anyuid`.

[2016-04-05 15:49] bparees commented on #5192
sure, still won't handle the case where we have an add-on image as an input to the build though.  that's probably a less critical case though.

[2016-04-05 15:54] smarterclayton commented on #5192
It won't help incremental builds either.

On Tue, Apr 5, 2016 at 11:49 AM, Ben Parees <notifications@github.com>
wrote:

[2016-04-05 16:12] kargakis commented on #3903
Link those here and we can close this.

[2016-04-05 16:15] kargakis commented on #3765
ps. https://github.com/kubernetes/kubernetes/issues/18023

[2016-04-05 16:16] smarterclayton commented on #8327
We are probably going to move to a model where all clusters have a
public registry name, so images are available outside.  By doing so
we'd at least guarantee the content is accessible.  We could
potentially decide how to handle each tag based on its source.
External images get turned from tags to digests.  ImageStreamTags get
turned into imagestreamimages.

[2016-04-05 16:49] kargakis commented on #5332
pretty sure the deployment tooling doesn't use -o name

[2016-04-05 16:55] lorenzvth7 commented on #8358
Tried the short term fix but without success:
`oc edit scc privileged`

[code]
and

`oc edit oc edit scc hostmount-anyuid `

[code]

[2016-04-05 17:12] paralin opened #8361 "Insecure/default non-tls docker registry results in oversized TLS record"
With the default documentation for deploying a registry, a non-tls registry is deployed.

This results in:

[code]

It's attempting to use https for the registry when the registry is configured without https. Is there a way to force the builder to use http rather than https?

[2016-04-05 17:33] paralin commented on #8361
And now that I enabled tls I get unknown authority :(

[2016-04-05 17:36] liggitt commented on #8361
If you are using non-tls (or TLS without providing the CA to docker), you need to set `--insecure-registry` for the registry in your `/etc/sysconfig/docker` file

[2016-04-05 17:39] paralin commented on #8361
Odd, I have insecure enabled and somehow that never got persisted into my docker options...

[2016-04-05 17:40] liggitt commented on #8361
enabled where?

[2016-04-05 17:45] paralin commented on #8361
@liggitt It's a aws kube-up problem, the insecure option just never made it to the sysconfig. I'm figuring out what happened now.

[2016-04-05 17:48] bparees commented on #8352
So there are two options here:
1) we could just copy the annotations/labels from the buildrequest object into the build we create.
2) we can add new labels/annotations fields to the build request struct and use those.

(1) feels a little hacky, but since there is no reason for you to have annotations/labels on a buildrequest today (it's not a resource), i feel like maybe it would make sense.

@ope

[2016-04-05 17:57] liggitt commented on #8352
are there annotations/labels on builds we'd need to protect? (not everyone who can instantiate a build has the ability to create/update a build directly)

[2016-04-05 18:23] bparees commented on #8352
we have a few cases where we'd probably want to ensure our value took precedence:
the build pod name annotation and the build name label come to mind.

but that's orthogonal to how the labels/annotations are provided on the BuildRequest object.

[2016-04-05 18:40] derekwaynecarr commented on #5558
Is it frequently failing?  Deletion of kube content should be fast, we could make the origin content faster by eliminating the origin namespace controller and just using the upstream one, but we wanted to do that post 1.2

[2016-04-05 18:44] sosiouxme commented on #8358
I should have said re-create fluentd pods. The context is set on the pod definition so you'll get the same thing with a simple restart. Please delete them and let them be re-created.

[2016-04-05 19:22] mrunalp commented on #7927
Can we close this now since 1.1.5 is out?

[2016-04-05 19:23] mrunalp commented on #7549
This should be fixed the change that @bparees made.

[2016-04-05 19:25] bparees commented on #7549
@mrunalp i assume you're referring to https://github.com/openshift/origin/pull/8202, is that the final answer here, or do we still want to get to the bottom of why that fix was even necessary?

(we can lower the severity though)

[2016-04-05 19:26] lorenzvth7 commented on #8358
@sosiouxme I've deleted them, they were recreated automatically. But same error.

[2016-04-05 19:46] lorenzvth7 commented on #8358
Pod details of a fluentd pod
[code]

[2016-04-05 20:07] sosiouxme commented on #8358
I don't know what's going on, then, will have to investigate further.
Sorry. In the meantime, `setenforce 0` should get it working.

On Tue, Apr 5, 2016 at 3:26 PM, lorenzvth7 <notifications@github.com> wrote:

[2016-04-05 20:14] lorenzvth7 commented on #8358
@sosiouxme Where do I have to put that command?
Okay, I've this error on both environments I have. I've reproduced all the steps which I've performed in the mailing list.

[2016-04-05 20:17] bparees commented on #7549
closing based on comments in #8202

[2016-04-05 20:17] #7549 closed

[2016-04-05 20:33] elyscape commented on #8358
Try deleting and recreating the `logging-fluentd` daemonset.

[2016-04-05 20:39] lorenzvth7 commented on #8358
@elyscape How can you delete a role. I tried the following but did not seem to work:
[code]

[2016-04-05 20:40] lorenzvth7 commented on #8358
@elyscape How can you delete a role. I tried the following but did not seem to work:
[code]

[2016-04-05 20:59] lorenzvth7 commented on #8358
@elyscape I've deleted the daemonset:
[code]
I've deleted my fluentd pods and they were recreated but still the same error :/

[2016-04-05 21:21] smarterclayton commented on #5558
I've seen it fail a few times over the last X days. I may move it into the
serial tests.

On Tue, Apr 5, 2016 at 2:40 PM, Derek Carr <notifications@github.com> wrote:

[2016-04-05 21:32] lorenzvth7 commented on #8358
@elyscape I tried it this way. But still the same error.
[code]

[2016-04-05 22:13] elyscape commented on #8358
Run `oc get pods --selector=logging-infra=fluentd -o yaml` and paste the results here, after filtering out any sensitive information.

[2016-04-05 22:21] lorenzvth7 commented on #8358
@elyscape

[code]

[2016-04-05 22:27] lorenzvth7 commented on #8358
@elyscape I assume you wanted something like this. This is the yaml of a pod which is giving the error:

[code]

[2016-04-05 22:47] xuant commented on #8321
@rajatchopra
Yeah, I used --network-plugin=cni.
While I run nginx using `oc run`, the deployer always fail.
[code]

With log of the node:
[code]

Do I need to configure CIDR also in node-config.yaml or somewhere? (For kubernetes, I don't remember doing this.) Here are the network config in master-config.yaml and node-config.yaml:
[code]

[2016-04-05 23:16] rajatchopra commented on #8321
The cni plugin asks docker runtime to get the IP address of the pod (through the status call). And that seems to be returning something spurious. Does your CNI plugin get called with the ADD command? Try running openshift with loglevel 5 or something and you will see messages from this portion of the code: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L163

Me

[2016-04-06 00:09] elyscape commented on #8358
Okay, the problem is most likely that the container is being executed as an SELinux type that doesn't have access to the log files, just by default. One way to deal with this is to create a custom SELinux type that has access and then assigning that to the `logging-fluentd` daemonset.

The code for the type is:
[code]
This is based on [this blog post](https://www.projectatomic.io/blog/2016/03/seli

[2016-04-06 00:14] sosiouxme commented on #8358
it's a clusterrole. oc delete clusterrole daemonset-admin.

don't worry about running that each time though or getting all of it to
succeed if you do.

On Tue, Apr 5, 2016 at 4:46 PM, lorenzvth7 <notifications@github.com> wrote:

[2016-04-06 00:14] sosiouxme commented on #8358
Run `setenforce 0` on any nodes.

This does however remove the protection of SELinux.

On Tue, Apr 5, 2016 at 4:19 PM, lorenzvth7 <notifications@github.com> wrote:

[2016-04-06 02:22] smarterclayton opened #8367 "extended test: openshift mongo ephemeral consistently failing"
[code]

Has not passed once in the last 5-10 runs, probably not a flake.

[2016-04-06 02:46] bparees commented on #8367
@php-coder you might want to pull @mfojtik in also since it might be the new readiness check that is causing the deployment failure.

[2016-04-06 05:33] paralin commented on #8361
@liggitt I've fixed my cluster problems and now the docker opts are as such:

`-s aufs --insecure-registry 10.0.0.0/8  --bridge=cbr0 --iptables=false --ip-masq=false --log-level=warn`

It's still trying to push to `https` even though the registry is NOT tls-enabled.

How can I make the builder use http instead?

[2016-04-06 05:46] paralin commented on #8361
Never mind, it turns out on that one specific instance for some reason the old docker opts were still set...

Fixed now, thanks.

[2016-04-06 05:46] #8361 closed

[2016-04-06 06:13] lorenzvth7 commented on #8358
@elyscape Any idea what could be the issue for this behaviour? I've just a basic centos7 of Amazon EC2. So I don't really like to add additional configuration to let this work.

[2016-04-06 06:23] elyscape commented on #8358
Run `oc debug ds/logging-fluentd -- cat /proc/self/attr/current` and paste the output.

[2016-04-06 06:33] lorenzvth7 commented on #8358
@elyscape
[code]

[2016-04-06 06:42] elyscape commented on #8358
Run `oc get pods --selector=logging-infra=fluentd`, choose one of them, and then run: `oc debug pod/$THATPODNAME -- cat /proc/self/attr/current` and paste the output.

[2016-04-06 06:45] lorenzvth7 commented on #8358
@elyscape
[code]

[2016-04-06 06:47] elyscape commented on #8358
Yup. The problem was what I thought: it's being run under the `svirt_lsc_net_t` SELinux type, which doesn't have access to `var_log_t`. If you don't want to disable SELinux, you'll need to follow the instructions for creating a new SELinux type that I posted above.

[2016-04-06 07:04] lorenzvth7 commented on #8358
@elyscape Okay will try. What is the reason it's using that SELinux Type? Is it default for an OS or?

[2016-04-06 07:28] elyscape commented on #8358
Why what?

[2016-04-06 07:30] lorenzvth7 commented on #8358
@elyscape Sorry, it's a bit confusing why I have tis problem and I did not see it for other OpenShift users.
After some research I found some things like this `chcon -Rt svirt_sandbox_file_t /var/lib/openshift/openshift.local.volumes/` for people who also had selinux issues.
But my selinux knowledge is too minimal to understand.

[2016-04-06 07:46] elyscape commented on #8358
Ah, gotcha. I don't know about in earlier versions of OpenShift but, at least with the current version, all new users will be affected by this. We're working on it in openshift/origin-aggregated-logging#89.

[2016-04-06 08:07] dragon9783 opened #8368 "openshift build error with log `Failed to push image: Error parsing HTTP response: unexpected end of JSON input: ""`"
Could anyone help with the following build error please?
[Description]
openshift build error with log `Failed to push image: Error parsing HTTP response: unexpected end of JSON input: ""`
##### Environments

etcd *3
master *3 (containerized)
node *3 (containerized)
lb *1
##### Version

openshift: v1.1.4
oc:            v1.1.4
##### Steps To Reproduce
1. oc new-app https://github.com/dragon9783/dock

[2016-04-06 08:14] lorenzvth7 commented on #8358
@elyscape thanks for the info. But the other users are able to use the 'workaround' `Or, as an alternative, does everything still work out if we just keep fluentd in the privileged SCC?"` which isn't working for me?

[2016-04-06 08:25] elyscape commented on #8358
That I don't know. I went with the route I described here.

[2016-04-06 09:33] mfojtik commented on #8367
@bparees I've just tested mongo ephemeral locally and it passes the health checks and deploys successfully... wonder if this is rhel7 or centos7 image (going to get rhel7 image to make sure).

[2016-04-06 11:45] kargakis commented on #6782
This is actually a bigger problem that has to do with any timestamps we show when describing deployments (oc status, oc deploy, etc). The deployment describers are always using the creation timestamp of the deployment alongside completion/failure info which is misleading. How about the deployer controller start annotating deployments everytime they reach a terminal phase (failed, complete)? We cou

[2016-04-06 11:46] legionus commented on #8291
right now it falls:
[code]

[2016-04-06 11:51] deads2k commented on #8291
Failing is fine, but we probably want it to fail early instead of late with a pretty message that explains what's wrong.

If we find `system:admin` as the user, we should probably warn them against simply changing file permissions and suggest something like setting the `KUBECONFIG` env var or asking if they've accidentally signed in as root.

[2016-04-06 11:55] kargakis commented on #6782
Or we could simply use a more generic annotation that would be recorded each time a deployment transitions to another phase. I think this would be ideal.

[2016-04-06 12:01] kargakis commented on #6782
Or we could use Conditions which are desired upstream too. I feel we need to finish https://github.com/kubernetes/kubernetes/pull/19343 first.

[2016-04-06 12:16] kargakis commented on #6782
Actually conditions on the dc wouldn't be enough:/ We would need conditions on the rc/rs

[2016-04-06 12:29] mgbarbero opened #8372 "Error: build error: unable to get metadata for registry.access.redhat.com"
Hi guys, when I try a new build from any builder image or template from registry.access.redhat.com it fails with the following error.

I0406 08:10:54.219361       1 sti.go:173] The value of ALLOWED_UIDS is []
I0406 08:10:54.255142       1 sti.go:195] Creating a new S2I builder with build config: "Builder Image:\t\tregistry.access.redhat.com/jboss-eap-6/eap64-openshift:1.2\nSource:\t\t\tfile:///tmp

[2016-04-06 12:39] bparees commented on #8367
@mfojtik i think our extended tests usually run on the centos imagestreams.

[2016-04-06 12:49] mgbarbero opened #8374 "Unable to look up current user in the passwd file: no such user"
Hi guys, I have an error when I try a new docker build from a custom dockerfile.

If I run:
oc new-app https://github.com/VeerMuchandi/dockrbld-bin-dep.git  --name=petstore

The error is:
I0406 08:31:45.595757       1 source.go:189] Cloning source from https://github.com/VeerMuchandi/dockrbld-bin-dep.git
F0406 08:31:58.032333       1 builder.go:185] **Error: build error: fatal: unable to look up c

[2016-04-06 13:42] jorgemoralespou opened #8376 "Image source build does not work when source image doesn't have CMD specified"
I have an image source that's including files from a scratch image, and this image doesn't have CMD specified, and I get following error:

[code]

##### Version
oc v1.1.4

##### Steps To Reproduce
1. Create an image with following content:
[code]
2. Create a build that uses the image created with following snippet in BC
[code]
##### Current Result
Build fails.

##### Expected Result
Build succeeds

[2016-04-06 13:43] jorgemoralespou commented on #8376
If I add:

[code]

to the origin image, it will build, but this should not be required, and if it is, should be properly documented.

[2016-04-06 13:49] mfojtik commented on #8376
@jorgemoralespou what version of docker you build the image?

[2016-04-06 13:49] mfojtik commented on #8376
@jorgemoralespou can you docker inspect the image and see what is the Cmd set to?

[2016-04-06 13:59] php-coder opened #8379 "Extended tests: focus runs all the tests when pattern contains square brackets"
I was unable to run only small amount of extended tests with focus, it always tried to run all of them:

[code]

But it works when I'm escaping square brackets:

[code]
##### Version

Commit: e74de6956eea0df8bf668b7eba47c361c74d5e2f
##### Steps To Reproduce

`./test/extended/core.sh --focus="[images][mongodb]"`
##### Current Result

It always runs all tests.
##### Expected Result

Should run only

[2016-04-06 14:12] jorgemoralespou commented on #8376
Hi,
[code]

and
[code]

[2016-04-06 14:23] mfojtik commented on #8376
@jorgemoralespou it is a bug, see the PR. as a workaround you can set the CMD to whatever, it is ignored anyway ;-)

When the fix will be in place, you can safely remove it.

[2016-04-06 14:27] php-coder commented on #8367
I couldn't reproduce it too on my laptop.

[2016-04-06 14:27] jorgemoralespou commented on #8376
@mfojtik That's what I've done to keep working. Thanks.

[2016-04-06 14:29] bparees commented on #8367
at a minimum maybe add some more debug to the test case, doing an oc describe on the pods and deployments so we can see where it got stuck if it continues to fail. Perhaps waitforadeployment should always do that.

[2016-04-06 14:33] smarterclayton commented on #6782
Let's fix this in 19343 and understand what the outcome is, and also
suggest the recording of this in the upstream issue.

On Wed, Apr 6, 2016 at 8:16 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-04-06 14:35] php-coder commented on #8367
When test fails ginkgo should print all steps that were executed with their results. Sometimes these steps should be enough.

@smarterclayton could you provide the full trace or point to the place where I can find it?

[2016-04-06 14:38] bparees commented on #8367
@php-coder those steps are just going to show that we kept checking the oc deployment status and it never read complete.  it won't tell us anything useful about the actual details of the deployment status, i don't think.

there is a full etcd dump that's provided w/ the failure, that could provide more details on the state.

and the logs are in these runs:
https://ci.openshift.redhat.com/jenkins/j

[2016-04-06 14:48] jorgemoralespou opened #8383 "Image source's sourcePath doesn't allow for wildcard copy"
I want to copy all the contents of a directory in a source image into my destination image, but it's not possible

##### Version
oc v1.1.4
kubernetes v1.2.0-origin-41-g91d3e75

##### Steps To Reproduce
1. Create an image with files and dirs in /files

[code]

[code]

2. Use it as source image in BC to get the files
[code]
##### Current Result
I have in the image:
[code]

##### Expected Result
I wo

[2016-04-06 14:52] smarterclayton commented on #8367
Also remember that XFS quota is enabled on the extended servers, so it's
possible that your test is writing too much data.

On Wed, Apr 6, 2016 at 10:39 AM, Ben Parees <notifications@github.com>
wrote:

[2016-04-06 14:53] php-coder commented on #8367
@bparees Thank you for the logs! In the steps I see that `router-1-deploy` pod in the `Failed` state:
[code]
Is it possible that this pod affecting this and other failed tests?

[2016-04-06 14:55] bparees commented on #8367
It wouldn't affect this test, but the fact that it also failed is a sign something was very unhealthy about the cluster.

[2016-04-06 15:30] legionus commented on #8291
That is the message fits?
[code]
We can't check user  for `system:admin` because we don't have config file at early stage.

[2016-04-06 15:42] wenskys opened #8385 "openshift-ansible build error in install docker"
Version：oepnshift-origin-1.1.6
Environment：The new system did not install anything
                        3master+3etcd+3node+1lb[1]+DNS

Hi,
In the old releases,i run shell[2] to install origin ,that will begin to install automatically and will be ok(it had a bug for yum that we use `yum -y upgrade yum\*`[3]).
In the new release,i find a bug when run shell
![bug-1](https://cloud.githubuserconten

[2016-04-06 16:12] jorgemoralespou opened #8386 "Updated an existing BC has unexpected result when "oc start-build is run""
I have created a BuildConfig (example-bc) and created some builds "example-bc-1,example-bc-2".
If I replace/update my bc, as I've found an error in it, through "oc replace -f example-bc.json", if I trigger a new build using command line gives me an error for the number of previous builds done:

[code]

[2016-04-06 16:28] jorgemoralespou commented on #8386
I've just realised an error while replacing the resource

[code]

[2016-04-06 16:29] jorgemoralespou opened #8387 "Error while doing "oc replace -f service.json" for a service"
When doing an "oc replace -f myservice.json" with a service defined in a json file, I get the following error:

[code]

[2016-04-06 16:31] jorgemoralespou commented on #8387
Definition of my service is:

[code]

[2016-04-06 16:37] jorgemoralespou opened #8388 "oc replace route gives error "HostAlreadyReclaimed""
I'm working on deploying an instant app, and I've updated some resources, I have replaced the deployed resources with *oc replace -f my_resources.json" and the following message can be seen in the UI in the route definition:

[code]

Definition of my route is:

[code]

Obviously is the same route, and should update the hostname, releasing the previously assignation and doing a new one (in this cas

[2016-04-06 16:48] jorgemoralespou commented on #8388
I have deleted the project and recreated and still with that my route is marked with same error.

[2016-04-06 16:57] xuant commented on #8321
@rajatchopra
I got this with loglevel=5:
[code]

[2016-04-06 17:08] deads2k commented on #8387
`oc replace` is attempting to use the file content for the replacement, but
fields on the resource you created were defaulted and changed by
controllers.  That means that directly replacing your object yields a
different object and its running afoul of object validation.  If the
validation didn't protect you from changing that field, then you'd end up
with every reference to your previous service

[2016-04-06 17:10] deads2k commented on #8387
Speak of the devil.   Looks like some kinds of services are broken when
using `apply`: https://github.com/kubernetes/kubernetes/issues/23551.

On Wed, Apr 6, 2016 at 1:08 PM, David Eads <deads@redhat.com> wrote:

[2016-04-06 17:18] jorgemoralespou commented on #8387
@deads2k I guess that "oc replace" should then have better documentation and failure behavior.

I've looked up the docs and there's no usage of oc apply (not even here: https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html), but I've found usages of "oc replace".

- https://docs.openshift.org/latest/install_config/upgrading/manual_upgrades.html#updating-the-default-image-stream

[2016-04-06 18:06] liggitt commented on #6766
^^^^ everything above this point it now in the checklist ^^^^

[2016-04-06 18:13] rajatchopra commented on #8321
Right, so the failure is with the status call. Looks like the 'ADD' call really did not construct the 'eth0' interface. Debug the ADD call to the cni script, possibly?

[2016-04-06 18:13] liggitt commented on #8386
updates to a deployment config should not touch the object's status... cc @ironcladlou

[2016-04-06 18:17] liggitt commented on #8291
I'd prefer something like this:
[code]

[2016-04-06 18:26] xuant commented on #8321
@rajatchopra how to debug that?

[2016-04-06 18:55] rajatchopra commented on #8321
I meant to debug the executable 'calico' and 'calico-ipam'. Do they end up creating the correct interface on the container? If its a python/shell script then add some debug statements and echo stuff into a a temp file maybe.

And the message you see in logs is from the 'DEL' call, do you see it getting called for 'ADD'?

[2016-04-06 18:56] pweil- opened #8390 "Refactor registry command to use Complete-Validate-Run scheme."
refactor the registry command to use the recommended upstream scheme for complete-validate-run: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md#command-implementation-conventions

[2016-04-06 20:00] spadgett opened #8391 "Pod request values can have mB unit when set as percentage of limit"
See memory usage below. Values like this also appear in the pod template for memory request. It looks like we're using mB to avoid losing precision when calculating request as a percentage of limit.

![image](https://cloud.githubusercontent.com/assets/1167259/14330863/7ff9d530-fc10-11e5-89d4-ccb8161f65f7.png)

/cc @sspeiche @sosiouxme @jwforres @derekwaynecarr

[2016-04-06 20:00] timothysc opened #8392 "kubernetes defaults not held downstream."
Per conversation with @smarterclayton & @liggitt , defaults from upstream appear to have not taken hold downstream e.g.

--watch-cache=true

##### Version
[oc v3.2.0.9]

/cc @jeremyeder @mattf

[2016-04-06 20:01] ironcladlou commented on #8386
cc @kargakis

[2016-04-06 20:11] kargakis commented on #8386
Fixed in https://github.com/openshift/origin/pull/7149

[2016-04-06 20:26] timothysc commented on #8392
@liggitt could we get a list of what defaults have not been applied.

[2016-04-06 21:14] liggitt commented on #8392
looks like `--watch-cache` and `--delete-collection-workers` were the only relevant ones that origin was defaulting to something different on

#8395 will enable watch cache for etcd for kubernetes types. work is required to enable caching for origin types

[2016-04-06 21:36] xuant commented on #8321
@rajatchopra
I just started working on network plugin but yeah I'll try to write some test for the scripts.

I noticed that for the working Kubernetes cluster, I can create a running pod but still noticed the error `manager.go:309] NetworkPlugin cni failed on the status hook for pod 'mytomcat-b5qco' - invalid CIDR address: Device "eth0" does not exist.`. Is it something I should be aware of?

[2016-04-06 22:07] rajatchopra commented on #8321
Can you see the pod's IP address through kubectl in the kubernetes setup? If not its a problem.
You can also see the insides of the pod possibly and see if everything is correctly configured. Get the pid of the infra container and use 'nsenter' to see if kube api server is reachable.

[2016-04-06 22:48] ryanj opened #8396 "Include a reference list of popular image streams that are available from community sources?"
Filing an issue to keep track of this discussion with @dmueller2001...

We were reviewing ideas on how to help users find (and try) a few of our top community-maintained images.

Anyone have strong feelings about adding a reference list at: `examples/image-streams/image-streams-community.json`?
##### Current Status

We have a growing list of community solutions that we need to help showcase.  If a

[2016-04-06 22:48] xuant commented on #8321
@rajatchopra

Yeah, I can see IP addresses using kubectl in the working Kubernetes cluster and also using oc in the not-working OpenShift cluster.

I tried `docker run -it centos /bin/bash` on both the working and not-working cluster nodes. I was able to connect to the api-services on both cluster.

However, on the not-working OpenShift cluster, during the 30sec running time of the deployer, I tri

[2016-04-06 22:58] ryanj commented on #8396
I'll submit a PR with my list of [Nodejs S2I images](https://github.com/ryanj/origin-s2i-nodejs/blob/master/image-streams.json) if this idea gets enough :+1:s

[2016-04-06 22:58] xuant commented on #8321
I tried deploying a pod from a json file using `oc create -f mysql.json`, the pod was able to run. It seems that the problem is from the deployer of OpenShift.

[2016-04-07 00:34] spadgett commented on #8391
<img width="629" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/14336840/2d053998-fc36-11e5-9063-eb9c229f8bf0.png">

<img width="537" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/14336889/8ed5d97a-fc36-11e5-8b2d-4bb269c679be.png">

[2016-04-07 09:14] miminar opened #8397 "Flake in kubectl e2e test"
• Failure [337.093 seconds]
    Kubectl client
    /data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/kubectl.go:1146
      Update Demo
      /data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/kubectl.go:161
        should scale a replication controller [Conformance] [It]
        /data/src/github.com/openshift/origin/Godeps/_w

[2016-04-07 10:47] kargakis commented on #7045
@smarterclayton what do you think about this?

[2016-04-07 11:36] alexcern commented on #7629
Hello

We are also affected by this problem. It is not possible to use PATCH with key names containing '/'

[2016-04-07 12:13] mfojtik commented on #7911
@csrwng i think we can close this, right?

[2016-04-07 12:13] #7911 closed

[2016-04-07 12:15] csrwng commented on #7911
yes

[2016-04-07 12:36] kargakis commented on #8386
I think there are two separate issues reported here. Can we split them and assign the first one to someone from the devexp team?

[2016-04-07 13:15] ncdc commented on #8397
[code]

Upstream https://github.com/kubernetes/kubernetes/issues/22639 and/or https://github.com/kubernetes/kubernetes/issues/23607

[2016-04-07 13:15] #8397 closed

[2016-04-07 13:25] knobunc commented on #8388
@jorgemoralespou can you run:
  oc get routes --all-namespaces -o wide

And get me the output please?

[2016-04-07 13:56] mfojtik opened #8399 "Error: image cache/mysql:pullthrough not found"
Potential flake. Can be seen here: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5534/console

[code]

[2016-04-07 14:04] rhamilto commented on #4169
@spadgett or @benjaminapetersen, how do I get the createProject to produce one of these notification errors?  As best I can tell, there is no easy way using solely the web ui.

[2016-04-07 14:05] karelstriegel commented on #6331
@rootfs , @smarterclayton to be clear, to only workaround is to define the endpoints in each namespace?

[2016-04-07 14:08] spadgett commented on #4169
Easiest might be to temporarily remove the `metadata` stanza from the `DataService.create` request in the JS to force an error.

[2016-04-07 14:08] smarterclayton commented on #7045
I'd prefer not, I want to reserve that for implicit git repository
arguments (or until we close on that).  That would be a step that
connects a Git repo locally to a bc and DC - a few commands would then
fall back to that if no args provided.

[2016-04-07 14:16] rootfs commented on #6331
@karelstriegel you need to have a service to associate the endpoint.

[2016-04-07 14:17] bparees commented on #8383
so you want to copy the content of the directory w/o actually copying the directory itself?

[2016-04-07 14:18] soltysh commented on #8399
@miminar any idea why docker registry is falling to v1 registry, this is what I see in the logs:

[code]

It's downloading the image just fine, but suddenly it reaches for v1 registry, any ideas?

[2016-04-07 14:19] soltysh commented on #8399
I have the full docker registry log, if needed.

[2016-04-07 14:20] jorgemoralespou commented on #8383
Yup. Doesn't make sense? I would expect to be able to copy the directory or it's contents. Like with Docker ADD or COPY.

[2016-04-07 14:30] karelstriegel commented on #6331
@rootfs I have a service to associate the endpoints, both are in the default namespace. So guess I need to have both for each namespace? (as a workaround)

[2016-04-07 14:43] benjaminapetersen commented on #4169
You can fake it like this:

[code]

[2016-04-07 14:44] brenton commented on #8385
@wenskys, I was just able to install Origin 1.1.6 successfully.  Here's what I used:

[code]

I built the latest openshift-ansible from source: https://github.com/openshift/openshift-ansible.  If that's an option for you it would be helpful for us to try it.

I suspect you may be hitting https://bugzilla.redhat.com/show_bug.cgi?id=1324728 which is a recent bug that happened in pre-release builds o

[2016-04-07 14:51] bparees commented on #7979
closing per @kargakis request

[2016-04-07 14:51] #7979 closed

[2016-04-07 14:58] bparees commented on #8383
makes sense.

[2016-04-07 14:59] smarterclayton commented on #8399
If this is a flake that will affect users in production it's p0 (until we prove otherwise).

[2016-04-07 15:01] derekwaynecarr commented on #8392
@liggitt - what is the plan on --delete-collection-works?

[2016-04-07 15:18] screeley44 commented on #7902
Created upstream k8 PR:  https://github.com/kubernetes/kubernetes/pull/23122

[2016-04-07 15:25] jorgemoralespou commented on #8388
@knobunc
Starting from a blank install.

I have installed my app, and done what you say:

[code]

Then I execute the replacement code, with my original's route definition, which is shown above:

[code]

I try to expose my route on the default hostname that should get: "<SVC_NAME>.<PROJECT_NAME>.svc.cluster.local, but I get:

[code]

And since it exists, I delete the route and create it again:

[co

[2016-04-07 15:40] liggitt commented on #8392
The default is actually 1, which is what we were using.

[2016-04-07 15:54] timothysc commented on #8392
@derekwaynecarr I still believe delete-collection-workers is kind of a hack.  We'll have to re-re-re-address the delete semantics once etcd3 lands.

[2016-04-07 16:05] jsafrane commented on #6766
Containerized OpenShift should be able to mount volumes

https://github.com/kubernetes/kubernetes/pull/23435
https://bugzilla.redhat.com/show_bug.cgi?id=1313210

[2016-04-07 16:21] #8376 closed

[2016-04-07 16:49] rootfs commented on #6331
yes, service and endpoints live in the same namespace.

[2016-04-07 18:00] smarterclayton opened #8403 "Router fails to get endpoints during e2e"
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5537/

Happening fairly frequently

[code]

[2016-04-07 18:02] smarterclayton commented on #8403
Early in the run:

[code]

[code]

@kargakis @ironcladlou should this happen in e2e?  Getting two deployments of the router?

[2016-04-07 18:04] smarterclayton commented on #8403
NM, that's because of how the router install works.  It's triggering a reload by changing the env for the syn eater.

[2016-04-07 18:09] smarterclayton commented on #8403
This seems wrong:

[code]

[2016-04-07 18:10] derekwaynecarr commented on #8391
It looks to me that we are not preserving format somewhere.

[2016-04-07 18:14] smarterclayton commented on #8403
[code]

[2016-04-07 18:22] smarterclayton commented on #8403
So it *looks* like we schedule both deployment pods.  The second one? starts running, and creates at least one pod in the second group.  It scales up, then for some reason gets scaled down (failed, death?) at

[code]

It is incredibly worrying to me that we don't see the logs of the failed pods - it may be because they were empty, but not seeing how the deployment logs would be empty at all.

[2016-04-07 18:41] smarterclayton commented on #8403
Looks like we had two deployment pods running at the same time.  That shouldn't be happening?

[2016-04-07 18:41] smarterclayton commented on #8403
Moving this to @pweil-'s team for triage

[2016-04-07 18:44] smarterclayton commented on #8403
[deployment-failure-logs-20160407.zip](https://github.com/openshift/origin/files/209004/deployment-failure-logs-20160407.zip)

[2016-04-07 18:49] rajatchopra commented on #8321
The deployer pod is not any special one with respect to the network. Try reaching out to the internet from the deployer pod? ping google.com or something.

Also, when you do 'docker run -it centos /bin/bash' you are not using the calico plugin apparently. Its not a pod. From the mysql pod, can you reach the apiserver?

[2016-04-07 19:09] derekwaynecarr commented on #8391
A few options:

1) upstream could fail validation for any fractional request of memory
2) cluster overcommit admission controller can round up fractional values

I am pursuing 2 since I think 1 may impact backwards compatibility.

[2016-04-07 19:18] #5247 closed

[2016-04-07 19:39] derekwaynecarr commented on #8391
Another thing:

the current code allows for cpu precision below a millicore.  for example, 0.5m or 100.5m, we should also round those up.

[2016-04-07 19:41] marun commented on #8388
@jorgemoralespou Can you please post the complete steps required to reproduce the issue in question,  including links to json data via github or pastebin?  I'm unable to reproduce.

[2016-04-07 19:45] jwforres commented on #8391
so derek's fix will get rid of the fact that there are mB but we will still
end up with B as the unit so...
@spadgett I discussed briefly with @smarterclayton and I do think we want
to humanize the values when we display them like you did with image size,
one decimal place of precision

On Thu, Apr 7, 2016 at 3:09 PM, Derek Carr <notifications@github.com> wrote:

[2016-04-07 21:20] xuant commented on #8321
@rajatchopra
No, it cannot reach the api-server :(
Even for the Kubernetes cluster, the running pod cannot reach the apiserver. So there must be something wrong with the way I deploy the cluster.
I'm following this tutorial: http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/
I used Centos7 instead of Ubuntu15.04 since they both use systemd. Another difference is that I deploy these th

[2016-04-07 21:26] derekwaynecarr commented on #8391
@danmcp can this be labeled p1 since we are actually storing invalid data (i.e. a fractional byte, and a fractional millicore)

[2016-04-07 22:32] stevekuznetsov commented on #6846
After further investigation it seems like this is impossible to fix.

[2016-04-07 22:32] #6846 closed

[2016-04-07 23:40] pweil- commented on #8403
@kargakis - I haven't been able to reproduce this yet.  Of note in the logs, there were some scheduling issues due to the node not being registered.  I tried to reproduce that by deleting my node and re-adding right after a back off for scheduling deploy-1 after I triggered a config change but that didn't seem to work.

Sending your way to continue looking.  Will check in in the morning

[2016-04-07 23:44] smarterclayton commented on #8403
May be useful to run only install_router and then wait for endpoints,
then tear it down over and over.  The deploy race doesn't seem to be
correlated with other workloads.

[2016-04-08 01:39] rajatchopra commented on #8321
I think it's a calico networking thing then. It uses bgp to set up the network, which will not with on a public cloud. But I will leave that diagnosis to calico folks.

[2016-04-08 01:52] zhwenh opened #8414 "How to ssh the pod container service on the host"
How to set up the inside of the docker IP let host machine to be able to access .
how to  add a  **EXTERNAL-IP** for  CLUSTER-IP

[2016-04-08 03:06] bparees commented on #8374
can you docker pull registry.access.redhat.com/jboss-eap-6/eap-openshift:6.4 on all your cluster nodes?  i am not seeing this problem when i run your steps.  Alternatively, set force pull to true on your buildconfig:
https://docs.openshift.org/latest/dev_guide/builds.html#docker-force-pull

also if you can set the build log level to 5 and rerun, that might provide more information:
https://docs.op

[2016-04-08 03:06] bparees commented on #8374
(the point of the pull above is to ensure you have the latest version of the image)

[2016-04-08 03:10] zhwenh opened #8415 "build app show error"
Version  1.1.6
oc get svc
NAME              CLUSTER-IP       EXTERNAL-IP   PORT(S)                   AGE
docker-registry   **172.30.250.156**   <none>        5000/TCP                  18h
kubernetes        172.30.0.1       <none>        443/TCP,53/UDP,53/TCP     1d
router            172.30.187.69    <none>        80/TCP,443/TCP,1936/TCP   1d
##### Current Result

build app  show error：
I0413 04:11

[2016-04-08 03:32] bparees commented on #8372
are you able to `docker inspect registry.access.redhat.com/jboss-eap-6/eap64-openshift:1.2` on the cluster node that is performing the build?

[2016-04-08 03:32] bparees commented on #8372
it might also help if you provided level 5 build logs.

[2016-04-08 03:45] bparees commented on #8383
looks like you just need to use /. instead of /*:

this is the api we use to do the copy out of the source image:
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.20/#get-an-archive-of-a-filesystem-resource-in-a-container

```If path ends in /. then this indicates that only the contents of the path directory should be copied.```

let me know if that works for you.

[2016-04-08 03:52] bparees commented on #8083
@smarterclayton @rhatdan i'm inclined to close this as working as designed (your image can't run as root and perform pid kills, unless you run it as privileged). Any objections?

(and the reason it stopped working in 3.2 is because of the new capability drops being performed in non-privileged containers)

[2016-04-08 03:55] bparees commented on #7982
closing pending logs/output requested in my previous comment.  will reopen if provided.

[2016-04-08 03:55] #7982 closed

[2016-04-08 03:58] bparees commented on #6835
i think i've seen this issue just deploying the nodejs/mongo template and hitting the app in my browser (usually a refesh or two fixes it, so something isn't initializing right the first time.  maybe a race condition if the app comes up before the db is available or something?)

might need some more robust db connection initialization logic in the sample app?

[2016-04-08 03:58] jpechane commented on #8083
It is probably WAD as you say - but it might open the question whether privileged/non-privleged is not too coarse grained.
Should not we allow privileges to be assigned according to image needs?

[2016-04-08 04:23] smarterclayton commented on #8083
anyuid may need KILL.  I'm struggling to think of why we would let you run
as uid 0 but not stop processes in your pid namespace.

On Thu, Apr 7, 2016 at 11:58 PM, jpechane <notifications@github.com> wrote:

[2016-04-08 06:38] kargakis opened #8416 "oc status warning in case of automatic deployment rollbacks"
Having a deployment config running with its latest state being failed should be a warning in my opinion.
"dc/foo is running via an older deployment" and suggest to inspect the latest failure.

[2016-04-08 07:15] kargakis commented on #8403
The second deployment comes from the config generator
[code]
https://github.com/openshift/origin/blob/28e2e753a278d5c07191f8aeae19273fa282b7c5/pkg/deploy/controller/configchange/controller.go#L80-l89

What might have changed the router template between 1 and 2? Or is it probably a race? Looking

[2016-04-08 07:41] kargakis commented on #8403
[code]
ouch

[2016-04-08 08:19] kargakis commented on #8403
It seems that the first deployment is cancelled by the deploymentconfig controller because it noticed the second version:
https://github.com/openshift/origin/blob/28e2e753a278d5c07191f8aeae19273fa282b7c5/pkg/deploy/controller/deploymentconfig/controller.go#L94
The deployment switches from New to Failed:
[code]
Later, the already existing deployer is being scheduled
[code]
The deployer controller a

[2016-04-08 08:53] jorgemoralespou commented on #8383
Ben,
That's the first thing that I tried as can be seen in the description of the issue and it's not working, hence I opened the issue.

[2016-04-08 11:31] miminar opened #8419 "[RFE] Share image stream cache"
Create a shared imageStreamCache for image streams similar to [projectCache](https://github.com/openshift/origin/blob/388478c40e751c4295dcb9a44dd69e5ac65d0e3b/pkg/project/cache/cache.go#L17) for projects. Share it amongst resource quota controller, origin quota admission plugin, image import controller, image change controller and possible other controllers and thus improve performance and reduce

[2016-04-08 12:19] deads2k commented on #8387
Can you help describe what's missing in the docs for `replace`?  You tried to replace an object by mutating an immutable field and got a message that the field was immutable.  The help on `replace` does mention the `--force` flag to attempt to "replace-ish at all cost by deleting and recreating the object".

[2016-04-08 12:45] sgallagher commented on #4977
@liggitt
Question: how *should* the Basic Auth provider behave if it gets a redirection? Do we expect it to follow the redirection or are we expected to get back an error and have the administrator handle it?

Does it differ if we're talking about 302 (Found) vs. 301 (Moved Permanently)?

[2016-04-08 13:16] spadgett opened #8421 "Follow link misaligned for full screen logs"
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/14384698/7454669a-fd6a-11e5-832d-4363bb26f4d9.png)

Related to #8175

/cc @jwforres @benjaminapetersen @sg00dwin

[2016-04-08 13:40] bparees commented on #8383
i don't see where you say you tried "/.", you said you tried "/*".

I tried "/." before replying last night and it worked for me.

[2016-04-08 13:41] karelstriegel commented on #3345
As far as I can tell is the rc the only object that will spawn a new pod when an old pod crashes.
The issue with using an rc is that it also enables scaling, while there are services that need recovery but not scaling.
It is true that a human action is needed in order to scale up or down, but that fact that the up and down arrows are displayed implies that the service can handle it. It send the wr

[2016-04-08 13:42] jorgemoralespou commented on #8383
@bparees Ahh, I didn't noticed the dot at the end. WIll try, although to me doesn't look consistent, and definitely if that's the case there's a need for documentation :-D

[2016-04-08 13:45] bparees commented on #8383
yes a doc update will be in order, but hopefully it works for you so you can make progress at least.

[2016-04-08 13:48] bparees commented on #3345
it might be nice to have a scaling-disabled annotation on an RC which the UI and CLI would use to reject scaling requests (or use to preclude showing the arrows).  @smarterclayton @jwforres ?

[2016-04-08 13:49] bparees commented on #3345
(or it could be indicated on the image or imagestream and inherited by the RC based on the image the podtemplate is referencing)

[2016-04-08 13:52] liggitt commented on #4977
We doc that a non-200 response is treated like an error. I *really* would not want to follow redirects and send user credentials to some other endpoint.

[2016-04-08 13:59] smarterclayton commented on #3345
We've established we would not block scaling at the API - it would only be
a client recommending that it not be scaled.  At best, UIs can indicate
this item *desires* not to be scaled outside of a range, but UIs cannot
prevent mutation if the user confirms.

On Fri, Apr 8, 2016 at 9:49 AM, Ben Parees <notifications@github.com> wrote:

[2016-04-08 13:59] vbehar opened #8422 "RoleBindings not watchable"
Hi,

is there a reason why RoleBindings are not watchable ?

Thanks

[2016-04-08 14:02] liggitt commented on #8422
because they are a virtual resource (all rolebindings exist within the policybinding document)

[2016-04-08 14:02] sgallagher commented on #4977
OK, then I'll just write up a test that ensures that on referrals we get a 401 back from the `RequestToken()` call for any redirection response. That way we'll at least catch it if that changes.

[2016-04-08 14:02] sg00dwin opened #8423 "Alerts that are dismissible should be closed by clicking anywhere within the alert"
When an dismissible alert message (that is informational only) is displayed, it's unnecessarily annoying to require the user to click only the "x" to close the message.

I better experience would be to enable the user to quickly close the alert if clicked anywhere within it's boundary.

[2016-04-08 14:06] vbehar commented on #8422
ok perfect, thanks !

[2016-04-08 14:06] #8422 closed

[2016-04-08 14:08] karelstriegel commented on #3345
@smarterclayton so bottom line is if you use a rc, your service should be scalable? I can agree with that. Then for all non scalable services one could use a basic pod definition, but what is the pod crashes? A manual action is mandatory.

An example, a PostgreSQL database server with persistent storage, one wants to have it 24/7 online, so if the pod crashed a new pod should be spawned, but scali

[2016-04-08 14:14] smarterclayton commented on #3345
There are a number of controllers today:

1. Replication controllers - deals with fungible resources (things that can
come and go on demand)
2. DaemonSets - pods that live on particular nodes (their identity can come
from their node's name or location or disk)

Replication controllers don't even guarantee that only one pod exists when
scale = 1.  An RC creates a new pod as soon as the old pod *sta

[2016-04-08 14:16] mrosic opened #8424 "We need an easy way to gracefully migrate pods from one node to another"
`oadm manage-node xyz --evacuate` immediately kills all pods and will make your services go offline if they are backed by only one pod.
##### Version

1.1.4
##### Steps To Reproduce
1. oadm manage-node xyz --schedulable=false
2. oadm manage-node xyz --evacuate
##### Current Result

All pods are immediately terminated.
The current workaround is tedious: Scale DCs to two replicas, mark old node as u

[2016-04-08 14:19] karelstriegel commented on #3345
@smarterclayton thx for the information.
Is there a privilege that can maybe be revoked to avoid users from being able to scale?

[2016-04-08 16:03] #7616 closed

[2016-04-08 16:03] #7927 closed

[2016-04-08 16:05] bparees opened #8427 "cgroup quota shows up as -1"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/14128/testReport/(root)/Extended/_builds__Conformance__s2i_build_with_a_quota_Building_from_a_template_should_create_an_s2i_build_with_a_quota_and_run_it/

build knows the quota limit is 6000:

[code]

build creates a container with a quota value of 6000:

[code]

the container dumps the cgroup filesystem value and sees -1:

[co

[2016-04-08 16:06] bparees commented on #8427
@smarterclayton fyi.  i made it a p2 since the exposure is that some builds might be able to exceed an enforced cpu quota.  move up if you think it should be higher.

[2016-04-08 16:06] smarterclayton commented on #8427
Is that not a blocker for online?

[2016-04-08 16:17] bparees commented on #8427
i don't know.  it could be, i'd say it depends on how frequently it occurs and whether that makes it an avenue for abuse.  if 1/100 builds run w/o cpu quota i'm not sure that's a problem?  if it's frequent enough that someone could explicitly take advantage of it, maybe it is.  hence my putting the question to you :)  i wouldn't argue against p1, but i wasn't going to make it one either.

[2016-04-08 16:37] mrunalp commented on #8427
We have added #8406 to gather additional debugging information.

[2016-04-08 16:38] mrunalp commented on #8427
@bparees I am not sure if that is available in the link that you posted in this bug as the link doesn't open right now.

[2016-04-08 16:44] bparees commented on #8427
@mrunalp looks like jenkins is down at the moment. and of course the build itself may get cleared at some point.  but i put the relevant details from the failure in the description.

[2016-04-08 16:47] mrunalp commented on #8427
@bparees Were you able to capture the output of /proc/self/cgroup that we added?

[2016-04-08 16:58] bparees commented on #8427
@mrunalp sorry if i confused you, the job i linked was the original case where @smarterclayton hit it, it is not a new incident w/ your debugging added.

[2016-04-08 16:59] mrunalp commented on #8427
@bparees ack

[2016-04-08 17:18] smarterclayton opened #8430 "OpenShift should expose its own service"
There should be an openshift service exposed to pods via DNS.  We should move all items that explicitly depend on OpenShift API server behavior to that service (DNS).  Clients that talk to Kube to talk to OpenShift have to be upgraded in a backwards compatible manner.  It's ok if the service is the same on the backend, but it needs to be a distinct target.

[2016-04-08 17:19] bparees commented on #8383
doc pull: https://github.com/openshift/openshift-docs/pull/1879

[2016-04-08 17:32] bparees commented on #4207
i'm going to consider https://github.com/openshift/origin/pull/8323 to resolve this, users will get warned if new-app selected an image which isn't an s2i builder and they will have to take explicit action if they still want to use it as if it is an s2i builder.

[2016-04-08 17:35] bparees commented on #1228
was just coming in here to make the same comment @jstrachan made 8 months ago, i think this should be closed in deference to the jenkins pipeline work we're doing.  We already tried to implement this feature once (trigger builds when a build completes) and ended up deciding against it.

@smarterclayton @jstrachan any objection to closing this?

[2016-04-08 17:38] bparees commented on #4199
since we now update the build status with the commit id we built, we are probably have most of the pieces in place that we'd need to do this for the imageid that resulted from the build as well.

[2016-04-08 17:42] dinhxuanvu commented on #5986
Hi. I encounter the same issue even if the pod is in running state. I was simply using 'oc rsync' to copy some local files to the pod.

[2016-04-08 18:04] pweil- commented on #8301
@smarterclayton @pmorie @childsb we should ensure that this is high priority in the roadmap.  This was also the cause of https://bugzilla.redhat.com/show_bug.cgi?id=1324418.  The PV recycler was using an hostmount+anyuid SCC but is attempting to mount different volume types which were denied by the recent changes.

[2016-04-08 18:28] derekwaynecarr commented on #5558
namespace deletion tests upstream are marked serial, do those not carry
downstream?

On Tue, Apr 5, 2016 at 5:21 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-08 18:36] dinhxuanvu commented on #5986
Just a bit more details on this issue. I was using a Postgresql 9.2 image for the pod and somehow it looks like that image doesn't include rsync on it which causes this issue.

[2016-04-08 18:44] #5558 closed

[2016-04-08 18:44] smarterclayton commented on #5558
It looks like they are passing again.  We can close this.

On Fri, Apr 8, 2016 at 2:28 PM, Derek Carr <notifications@github.com> wrote:

[2016-04-08 19:05] pweil- opened #8431 "Create SCC specifically for the PV recycler"
Create an SCC that contain only the valid permissions for PV recycler.  It should contain:
1.  The ability to run as anyuid + any group
2.  The ability to perform volume mounts for ONLY what can be recycled

This allows us to change the hostmount+any SCC appropriately without affecting the PV Recycler as their permissions differ.

[2016-04-08 19:05] pweil- commented on #8431
@pmorie @childsb

[2016-04-08 19:48] stevekuznetsov opened #8433 "test/cmd/newapp flakes on finding mysql image"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/14320/console):
[code]

[2016-04-08 20:27] mgbarbero commented on #8374
Hi bparees ! Thank you for your reply.

Yes, docker pull registry.access.redhat.com/jboss-eap-6/eap-openshift:6.4 works as expected in all nodes.

Here is my build log, level 5, as you can see is a permission deny issue. I'm running an insecure internal docker registry.

I'm running as root.

Thank you for all your help.

I0408 15:58:15.956508       1 builder.go:41] $BUILD env var is {"kind":"Buil

[2016-04-08 20:40] mgbarbero commented on #8372
Hi bparees ! Thank you for your reply.

Yes, docker inspect registry.access.redhat.com/jboss-eap-6/eap64-openshift:1.2 works as expected in all nodes.

Here is my build log, level 5, as you can see is a permission deny issue. I'm running an insecure internal docker registry.

I'm running as root.

Thank you for all your help.

I0408 16:35:08.542047       1 builder.go:41] $BUILD env var is {"kind":

[2016-04-08 21:02] bparees commented on #8372
what are the permissions on /var/run/docker.sock ?

[2016-04-08 21:08] mgbarbero commented on #8372
[root@rhoscl02 registry]# ls -l /var/run/docker.sock
srw-rw----. 1 root root 0 Mar 31 17:37 /var/run/docker.sock

[2016-04-08 21:13] mgbarbero commented on #8374
Hi bparees !
Thank you for your help.
Yes, docker pull registry.access.redhat.com/jboss-eap-6/eap-openshift:6.4 woks as expected in all nodes.
Here is the build log level 5, the only difference is this line: Exec error: exit status 128

I0408 17:04:46.656060       1 builder.go:41] $BUILD env var is {"kind":"Build","apiVersion":"v1","metadata":{"name":"petstore-2","namespace":"mariano","selfLink":"

[2016-04-08 21:39] mgbarbero commented on #8372
After run chmod -R 777 /var/run/docker.sock the issue is solved !! But now I have the same error reported in #8374
Thank you @bparees

[2016-04-09 02:44] liggitt opened #8436 "test/cmd/builds.sh:64: multiple images or templates matched "openshift/origin:v1.1""
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/14357/console

[code]

[2016-04-09 02:52] wenskys commented on #8414
you can use oc create -f  xxxx.yaml to build a new services.
without ssh,use web console or oc exec -it podname that you will be easy to used.

[2016-04-09 12:28] spadgett opened #8437 "Accessibility: pod status screen reader text missing on overview page"
The text simply says "Pod status:" with no details.

<img width="363" alt="screen shot 2016-04-09 at 8 26 11 am" src="https://cloud.githubusercontent.com/assets/1167259/14403606/e4d6f38e-fe2c-11e5-86f2-006b7a15bc3a.png">

/cc @jwforres

[2016-04-09 13:59] kargakis opened #8439 "Investigate deployers deletion when cancelling deployments"
Currently when we cancel a running deployment, we set ActiveDeadlineSeconds to its deployers so that they will fail and subsequently transition the deployment phase to Failed. We should investigate deleting those deployers.

cc: @smarterclayton @ironcladlou @pweil-

[2016-04-09 16:15] mgbarbero commented on #8374
This error is raised only when a git repository is used in the new-app command. That's why oc new-app registry.access.redhat.com/jboss-eap-6/eap-openshift:6.4 --name=example (no git repository used) works as expected.
This is not related to the execution of the eap 6.4 container (as I previously thought). I am not sure which user needs to be in passwd file to successfully clone the repository.
I a

[2016-04-09 21:35] sosiouxme opened #8440 "oc import-image --insecure with specific tag creates istag that points to :latest"
When I create an imagestream for an insecure registry and the oc import-image --insecure name:tag, it's imported, but the tag is pointing at the :latest tag instead of the one I wanted.
##### Version

oc v1.1.6-48-g561e4fa
kubernetes v1.2.0-36-g4a3f9c5
##### Steps To Reproduce
1. Create the following IS:

[code]
1. `oc import-image --insecure logging-elasticsearch:3.1.0`
2. `oc describe istag logg

[2016-04-09 22:28] mgbarbero commented on #8374
Hi !!
Setting the following env vars in the deployment configuration resolved the issue.
GIT_COMMITTER_NAME
GIT_COMMITTER_EMAIL
Thanks @bparees and @csrwng for your help !

[2016-04-10 05:26] miminar opened #8441 "Flake in extended test suite (should scale a replication contoller)"
• Failure [321.361 seconds]
    Kubectl client
    /data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/kubectl.go:1146
      Update Demo
      /data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/kubectl.go:161
        should scale a replication controller [Conformance] [It]
        /data/src/github.com/openshift/origin/Godeps/_w

[2016-04-10 06:36] wenskys commented on #8385
@brenton Thanks for your help,I think this is a bug in a new create.
I update my openshift-origin from 1.1.4 to 1.1.6,and update docker to 1.9.1.25,and it is ok and useful.

[2016-04-10 16:09] mgbarbero commented on #8374
As @csrwng suggested I tried setting the following env vars, GIT_COMMITTER_NAME and
GIT_COMMITTER_EMAIL in some places, DC, RC, BC and as parameters in the new-app command.
It didn't work, the same error appeared.

[2016-04-10 16:12] alban opened #8442 "Vagrant fails: Timeout waiting for sdn node to register with the master"
The Vagrant file fails. The error message is:

##### Version

openshift/origin from git master: 561e4fa7cd56c2f23780da730dd2e7de6f451e80
Fedora 23
Vagrant 1.8.1
##### Steps To Reproduce
1. Git-clone the repository https://github.com/openshift/origin
2. Build: `make clean build`
3. Fix NFS in Vagrant (see [vagrant-nfs](https://developer.fedoraproject.org/tools/vagrant/vagrant-nfs.html))
4. Become r

[2016-04-10 19:25] csrwng commented on #8374
Hi @mgbarbero. Sorry for not explaining better. Please set those vars in your shell before invoking new-app.

[2016-04-10 19:28] mgbarbero commented on #8374
@csrwng, I tried that too, no luck, same error

[2016-04-11 01:27] csrwng commented on #8374
can you git clone a repository usung the same shell where you are running new-app?

[2016-04-11 03:50] mgbarbero commented on #8374
@csrwng, yes, I can git clone it without errors

[2016-04-11 04:19] liggitt opened #8444 "TestNewAppRunBuilds fails with unexpected error: no match for "centos/mongodb-26-centos7""
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5552/consoleFull

[code]

[2016-04-11 08:16] jstrachan commented on #1228
@bparees feel free to close it - I'm totally happy with the Jenkins Pipeline option

[2016-04-11 08:57] kargakis commented on #8439
A pretty simple fix would be to retain the current behavior of cancelling by setting ADS when New or Running, and cleanup when Complete (already happens) or Failed + Cancelled.

[2016-04-11 08:58] jorgemoralespou commented on #8387
@deads2k I used replace as there was no information about apply (which is really what I wanted). There's already an open bug in openshift-docs for it. https://github.com/openshift/openshift-docs/issues/1867 and https://github.com/openshift/openshift-docs/issues/1868.

Also, looking at the json I passed along, I didn't set clusterIp explicitly, so I would look into some documentation stating what y

[2016-04-11 09:04] jorgemoralespou opened #8446 "Can not access github from builder"
I'm trying to build an image with OpenShift latest all-in-one (1.1.6.2) and we're having issues from builder images to access github.

##### Version
oc v1.1.6-46-g9eaae7c

##### Steps To Reproduce
oc new-app warpdrive-python27 -p APPLICATION_NAME=hello-world -p REPOSITORY_URL=https://github.com/GrahamDumpleton/django-hello-world-runserver.git

##### Current Result
[code]

As can be seen, master bu

[2016-04-11 09:28] soltysh commented on #8446
@knobunc it looks like a networking issue, mind taking a look?

[2016-04-11 09:57] soltysh commented on #8439
Isn't migration to upstream deployment going to solve the problem of the deployer? IIRC they're not using any. On the other hand, deployer was created to allow creating users one by themselves, isn't this going to be backward compatibility issue?

[2016-04-11 10:06] kargakis commented on #8439
I think deployers will be always needed for running custom strategies. Also, until we get full feature parity, we will defer to our controller for feaures supported only by us.

This issue is about cleaning up deployers on cancelled deployments. I don't see any backwards compatibility implications but maybe I am missing something. Why do you think so?

[2016-04-11 10:10] kargakis commented on #8387
upstream issue: https://github.com/kubernetes/kubernetes/issues/24040

[2016-04-11 10:12] kargakis commented on #8419
cc: @deads2k

[2016-04-11 10:24] GrahamDumpleton commented on #8446
Problem occurs in attempting a Docker image build as well. So not just S2I build.

[code]

[2016-04-11 10:26] soltysh commented on #8439
I misunderstood your 'total removal' as entirely removing them ;)

[2016-04-11 10:28] soltysh commented on #8419
Dupe of https://github.com/openshift/origin/issues/8229

[2016-04-11 10:28] kargakis commented on #8439
reworded

[2016-04-11 10:29] david-strejc opened #8450 "Deployment failing since upgrade to 1.1.6"
After upgrade from 1.1.3 to 1.1.6 we got

##### Version
1.1.6

##### Steps To Reproduce
1. create new app

##### Current Result
[code]

##### Expected Result

Deploy passing.

##### Additional Information
[code]

[2016-04-11 11:21] kargakis commented on #8403
The second deployment happens because of https://github.com/openshift/origin/blob/28e2e753a278d5c07191f8aeae19273fa282b7c5/hack/util.sh#L628

I think 8417 and 8418 should be enough for this

[2016-04-11 11:31] mohammedzee1000 opened #8451 "Create cccp.yaml files for the dockerfiles in the images directory."
We need to add cccp.yaml to the images in the images directory so that the CentOS Community Container Pipeline can access and build the docker images present there.

[2016-04-11 11:33] mohammedzee1000 commented on #8451
I am currently testing if the builds are successful against my fork https://github.com/mohammedzee1000/origin

[2016-04-11 11:42] soltysh opened #8452 "oc import-image doesn't take insecure annotation into consideration when importing"
Spawned from #8440.

I create a repository an IS (like the one in #8440) that requires insecure flag, but I don't put it into yaml definition. After creating the IS the import will fail.
I edit the IS adding `openshift.io/image.insecureRepository="true"` and re-import image with `oc import-image` and the import again fails. But if I add `--inscure` flag to `oc import-image` the import succeeds. Im

[2016-04-11 12:01] soltysh commented on #8440
Your specific usecase works as follows. You've created an IS which points to `brew-pulp-docker01....:8888/openshift3/logging-elasticsearch`, since no tag is specified `latest` is always taken. We call this usecase where you specify entire repository you want to import.
Since this is insecure repo at the time you're invoking `oc import-image` there's no information about  tags that exists in the re

[2016-04-11 12:05] deads2k commented on #8419
Yeah, clayton's instrumenting will catch it as we try to squash them.

[2016-04-11 12:05] #8419 closed

[2016-04-11 12:09] #8385 closed

[2016-04-11 12:10] soltysh commented on #8440
There's also `--from` flag that you might use to address that use-case ;)

[2016-04-11 12:16] kargakis commented on #8386
Actually, there is https://github.com/openshift/origin/issues/6465 for the status updates for dcs. @bparees mind taking over the present issue which is related to buids?

[2016-04-11 12:17] soltysh commented on #8440
After looking more into the code, I'm changing my mind this is working as expected, see [this line](https://github.com/openshift/origin/blob/38600725dd147638cc708624b742e4c376282d4d/pkg/cmd/cli/cmd/importimage.go#L350).

[2016-04-11 12:18] jwforres commented on #8423
Hmm have to be careful here, this affects the usability of links in the alerts. If they click slightly off the link they close the alert instead of performing the action they were trying to do.

[2016-04-11 12:20] pweil- commented on #8452
@soltysh @smarterclayton - this seems like it should at least make a patch release if not approved for 3.2.

@soltysh if this is not in 3.2 it probably should be documented as a known issue since it seems like this could be a common use case

[2016-04-11 12:21] pweil- commented on #7792
@miminar @legionus - please make sure this gets a "known issues" mention in the release notes since we are not merging this for 3.2.

[2016-04-11 12:26] david-strejc commented on #8450
We have found, that this may be connected to:

https://bugzilla.redhat.com/show_bug.cgi?id=1322077

and we are trying this updated script:

https://github.com/pravisankar/openshift-sdn/blob/8cc73975cd49847e59a0d079e116113ce8344584/plugins/osdn/ovs/bin/openshift-sdn-ovs

I will have additional info soon.

[2016-04-11 12:27] kargakis commented on #8450
@pweil- seems like a networking issue

[2016-04-11 12:30] david-strejc commented on #8450
I don't know if this is the case but I've found that issue in bugzilla - so I am reporting it here and my college will try to update installation with script I've posted and we will see if this helps.

[2016-04-11 12:32] kargakis commented on #8450
@david-strejc in the diagnostics it is reported that you may be missing the latest deployer image

[2016-04-11 12:45] david-strejc commented on #8450
But this is fresh installation I've made using openshift-ansible.

[2016-04-11 13:04] csrwng commented on #8374
@mgbarbero can you add the following variable to your BC:
BUILD_LOGLEVEL=8
and pastebin the full build log where you see the error?

[2016-04-11 13:10] soltysh commented on #8440
@sosiouxme if you agree please close the issue.

[2016-04-11 13:14] legionus opened #8457 "oc import-image creates a invalid images"
##### Version
openshift v1.1.6-3-g9cc9434-dirty
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

[code]
In docker-registry log you can see:
[code]
but imagestream will be created:
[code]

[2016-04-11 13:14] bparees commented on #8386
use `apply`, not `replace`.  replace is going to reset the build sequence number so yes, you'll get collisions..  not a whole lot we can do about that, but we do have a card for it:
https://trello.com/c/2pgcGpn7/698-3-handle-build-naming-collisions

[2016-04-11 13:14] #8386 closed

[2016-04-11 13:15] bparees commented on #8374
i'm sure this issue is the same as this one:
https://github.com/openshift/origin/issues/8372

[2016-04-11 13:16] bparees commented on #8372
yw

[2016-04-11 13:16] #8372 closed

[2016-04-11 13:19] bparees commented on #8451
@mohammedzee1000 can you tell us more about the CCCP and why we need configuration for it here?

[2016-04-11 13:25] liggitt commented on #8423
agree, showing an "X" but making everything clickable is weird

[2016-04-11 13:29] #1228 closed

[2016-04-11 13:32] sg00dwin commented on #8423
Yes, by 'informational only' I meant it didn't contain links within the message. Originally thought our alerts were all ones that didn't have links, but I just hit one that did. And I assume we couldn't differentiate between ones with and without. So closing this.

[2016-04-11 13:32] #8423 closed

[2016-04-11 13:35] bparees commented on #8383
/. syntax documented.

[2016-04-11 13:35] #8383 closed

[2016-04-11 13:36] ironcladlou commented on #8439
I think it's arguable that cancelled deployers should be deleted, but I guess it's possible a user notices something's wrong and hits the cancel button so they can go inspect the pods immediately.

This is UX guesswork, so I'm not sure there's a right answer. Where's the use case coming from?

[2016-04-11 13:41] kargakis commented on #8439
By "the pods" I assume you mean the deployers since the new application pods will be scaled down. Won't the deployment fail either way if something wrong is noticed by the process?

[2016-04-11 13:42] mohammedzee1000 commented on #8451
CentOS Community Container Pipeline is a project being built as a part of the Red hat Developer Program and Project Atomic.

It is slated to provide end -to-end container building, testing, delivery and maintenance (CI/CD) from pulling the artifacts, including the dockerfile from a git repository, building the image, running the test cases against it and delivering it to container registries, incl

[2016-04-11 13:45] bparees commented on #8451
@mohammedzee1000 I think you're going to find you need more than cccp.yml since the dockerfiles in those directories require the entire origin repo be built first to provide the static go binaries that are added to the images by the dockerfiles.

[2016-04-11 13:48] smarterclayton commented on #8441
Likely fixed by #8412

[2016-04-11 13:55] smarterclayton commented on #8452
Would this break a normal admin upgrade / maintenance scenario?  If so it's effectively a regression.

[2016-04-11 13:58] smarterclayton commented on #8439
Does a user *need* the deployer pod if the deployment is cancelled?  We
used to *require* the pod to have logs, but in theory we have a solution
for that.  We have a card in plat-man to have logs for deployments / builds
/ pods that have been deleted be fetched from the logging service.  Would
that be sufficient that cancel deleting the deployer pod would be
sufficient?

On Mon, Apr 11, 2016 at 9:

[2016-04-11 14:08] soltysh commented on #8452
@smarterclayton it might be a regression, since the old import mechanism relied solely on the insecure annotation. The new introduces new, per-tag ImportPolicy, which handles that for us.

[2016-04-11 14:09] vanloswang opened #8458 "is it possible to write a template to create persistent volume?"
is it possible to write a template to create persistent volume by follow json file:
nfs-pv-template.json
{
  "kind": "Template",
  "apiVersion": "v1",
  "metadata": {
    "name": "nfs-pv-example",
    "annotations": {
      "description": "An example nfs persist volume.",
      "tags": "instant-app",
      "iconClass": "icon-default"
    }
  },
  "labels": {
    "template": "nfs-pv-example"
  },

[2016-04-11 14:14] smarterclayton commented on #8452
If it's a regression to an admin update path (@brenton @detiber for opinion) then this is a p0 (or at least, a very spicy p1)

[2016-04-11 14:19] mohammedzee1000 commented on #8451
@bparees

Is this true for the folders in the images directory as well?
Are you referring to building go files in the repository?

[2016-04-11 14:25] bparees commented on #8451
at least some, if not all, of the folders within the images directory contain Dockerfiles that reference go binaries that need to be built out of the origin repository via hack/build-release.sh

[2016-04-11 14:31] mohammedzee1000 commented on #8451
Ok, so i basically need to run hack/build-release.sh before building the images right?

[2016-04-11 14:33] kargakis opened #8459 "Move oc export functionality on the server"
Forked from https://github.com/openshift/origin/pull/8448#issuecomment-208263386

cc: @smarterclayton @deads2k

[2016-04-11 14:36] kargakis commented on #8459
Does this mean that we should deprecate `oc export` in favor of `oc get --export` or should we update the former (at least for now)?

cc: @fabianofranz

[2016-04-11 14:38] sosiouxme commented on #8440
@soltysh I've been fiddling with this for a bit and I think it would help for me to provide more context for the use case. The use case (logging deployer) is that I don't actually know in advance whether the repository will be secure or not. It's created according to a template where the user supplies the registry. This is enterprise software, so I don't want to just allow non-secure repositories

[2016-04-11 14:43] kargakis commented on #8439
Yeah, I don't think the deployer is any useful in case of a cancellation. I would say we could go ahead and remove deployers before we bring the logging service into play but they (deployer pods) would definitely be obsolete post-deployment in case of such an addition (fetch logs from deleted pods)

[2016-04-11 14:53] smarterclayton commented on #8459
oc export has other uses - I don't think oc get --export is enough, or even
solves 80% of the problem.  The problem with export is that it can't deal
with multiple conditions.

On Mon, Apr 11, 2016 at 10:36 AM, Michail Kargakis <notifications@github.com

[2016-04-11 14:53] brenton commented on #8452
Upgrades have other problems that prevent using authenticated registries with our playbooks for now so I don't consider this a blocker for upgrade.

[2016-04-11 14:56] bparees commented on #8451
yup.

[2016-04-11 14:57] bamachrn commented on #8451
@bparees is hack/build-release.sh included in Dockerfile, as a step? so that it gets included while building the Dockerfile. Or you run the script manually first then build the docker file?

[2016-04-11 14:59] vanloswang commented on #8458
finally i found out what i want in https://github.com/openshift/origin/blob/master/examples/jenkins/jenkins-persistent-template.json

[2016-04-11 14:59] #8458 closed

[2016-04-11 15:01] smarterclayton commented on #8451
hack/build-release.sh launches the build-cross.sh binary inside a container
that contains our execution environment.  You can run hack/build-cross.sh
from a Linux environment that has access to Windows and Mac OS X Go
cross-compile environments (or disable them with a flag).

The assumption with all image builds is that you have access to the release
zip (hack/build-images.sh)

On Mon, Apr 11, 201

[2016-04-11 15:02] smarterclayton commented on #8452
I'm referring to this breaking old upgrade paths (i.e. import-image would
now fail on repos that were HTTP).

On Mon, Apr 11, 2016 at 10:53 AM, Brenton Leanhardt <
notifications@github.com> wrote:

[2016-04-11 15:10] deads2k commented on #8459
Can you elaborate on this?  Which conditions are you thinking about?

[2016-04-11 15:10] soltysh commented on #8440
@smarterclayton do we want to allow importing not imported tags through import-image? Currently we will notify the user no such tag exists and that he should create one with oc tag, which is ok for the repos where we've previously fetched the tags. But for the cases where previous import failed, or for the cases where we've limited the no of imported tags, @sosiouxme has a right we would want to b

[2016-04-11 15:20] smarterclayton commented on #8459
Generally it's "is this for this cluster, or another cluster"?  As well as
"is this a 'locked' version or a development copy"?

For instance, what happens when I export an image stream?  Do you want to
export spec tags that point to exact images (by UID)?  Export spec tags
that point to the original upstream and schedule their import?  Do you want
to export a deployment config with triggers?  With

[2016-04-11 15:27] mgbarbero commented on #8374
@csrwng Here is the level 8 log ...

[root@rhoscl02 dockrbld-bin-dep]# oc logs -f bc/petstore24
I0411 11:00:46.688295       1 builder.go:41] $BUILD env var is {"kind":"Build","apiVersion":"v1","metadata":{"name":"petstore24-2","namespace":"mariano","selfLink":"/oapi/v1/namespaces/mariano/builds/petstore24-2","uid":"2a7d2e9a-fff6-11e5-ab9f-001a4a565f0c","resourceVersion":"433191","creationTimestamp

[2016-04-11 15:30] deads2k commented on #8459
@smarterclayton ok, so the objection is to the lack of expressive-ness in a boolean flag, not to the idea (pushed upstream) of moving export logic server-side to avoid lots of a client-side logic.

I think I'd want the boolean flag to cleanly handle a case of `oc get --export all -n source -o yaml | oc create -n destination -f -`.

[2016-04-11 15:31] mgbarbero commented on #8374
My admin.kubeconfig was not in /var/lib/origin/openshift.local.config/master/admin.kubeconfig, I copied the file there but I got the same error.

After run the start-build command I tried to clone the git repo by myself with the exact command that the log shows. I was able to do that:

[root@rhoscl02 master]# git clone --recursive https://github.com/VeerMuchandi/dockrbld-bin-dep.git /tmp/docker-bu

[2016-04-11 15:35] csrwng commented on #8374
@mgbarbero yup, it looks like it's only happening inside the sti-builder. However, it's puzzling because that container should be running as root, and the root user is in the /etc/passwd file. Can you include the output of ```oc get pod -o yaml [podname]``` where [podname] is one of the failed build pods?

[2016-04-11 15:36] csrwng commented on #8374
or rather the docker-builder pod

[2016-04-11 15:47] mgbarbero commented on #8374
@csrwng
[root@rhoscl02 master]# oc get pod -o yaml petstore25-2-build
apiVersion: v1
kind: Pod
metadata:
  annotations:
    openshift.io/build.name: petstore25-2
    openshift.io/scc: restricted
  creationTimestamp: 2016-04-11T15:37:55Z
  labels:
    openshift.io/build.name: petstore25-2
  name: petstore25-2-build
  namespace: mariano
  resourceVersion: "434059"
  selfLink: /api/v1/namespaces/mari

[2016-04-11 17:03] csrwng commented on #8374
@mgbarbero So I see in the pod spec

It really should not have the 'runAsUser' set. Somewhere it's picking up the wrong Security Context Constraint.

[2016-04-11 17:03] smarterclayton commented on #8441
Was not fixed by #8412, the container is in crash loop backoff. Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/79/console as well

@ncdc @derekwaynecarr @kargakis

[2016-04-11 17:03] csrwng commented on #8374
@bparees ^^ have you seen this before?

[2016-04-11 17:04] smarterclayton commented on #8441
PLEG says "ContainerDied"

[2016-04-11 17:07] csrwng commented on #8374
@mgbarbero do you know if the SCC's have been edited on this cluster?

[2016-04-11 17:07] bparees commented on #8374
@csrwng no...  sounds like the build-infra service account could be messed up?

[2016-04-11 17:10] ncdc commented on #8441
I can't find anything more in the logs captured by Jenkins. The docker.log starts too late - why is it not the full log?

[2016-04-11 17:12] smarterclayton commented on #8441
Just because we didn't know how much output it would generate.

[2016-04-11 17:19] rashtao commented on #4211
+1

[2016-04-11 17:49] mgbarbero commented on #8374
@csrwng Yes, I changed the runAsUser.Type strategy to RunAsAny in the restricted SCC. But I think that RunAsAny must work, am I wrong ?

Here is the output of oc edit scc, I don't see any runAsUser with a harcoded uid, take a look ..

# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will b

[2016-04-11 17:54] sgallagher commented on #6880
@liggitt
I assume this issue is talking about pkg/cmd/util/clientcmd/negotiate.go but I'm not sure precisely what needs to be unified (or where) with upstream code. Could you offer a pointer or two?

[2016-04-11 18:00] mgbarbero commented on #8374
@csrwng Yes, I changed the runAsUser.Type strategy to RunAsAny in the restricted SCC. But I think that RunAsAny must work, am I wrong ?

Here is the output of oc edit scc, I don't see any runAsUser with a harcoded uid, take a look ..

[code]

[2016-04-11 18:04] mgbarbero commented on #8374
[code]

[2016-04-11 18:16] csrwng commented on #8374
@mgbarbero the pod is running as if the runAsUser was set to 'MustRunAsRange' (It doesn't have to be hardcoded, it picks up the user range from the namespace attributes). However, I do see the service account is in the privileged SCC and that is set to 'RunAsAny'... looking into it.

[2016-04-11 18:19] csrwng commented on #8374
@pweil- would you know why the builder pod would pick up the ```restricted``` SCC even though it's created by the openshift-infra:build-controller service account which is assigned to the ```privileged``` SCC?

[2016-04-11 18:24] mgbarbero commented on #8374
What if I change the restricted SCC to RunAsAny ? Just to test ...

[2016-04-11 18:25] csrwng commented on #8374
@mgbarbero the build should work, but I don't think that's the solution

[2016-04-11 18:29] pweil- commented on #8374
@csrwng SCCs will validate with the most restrictive SCC that allows the request.  That means that if no privileged operations are requested on the builder pod then it will validate with the restricted SCC.  IIRC we are explicitly setting the `runAsUser` of our builder pods to 0 which violates the restricted SCC and moves on to anything else the builder user is granted (privileged).

[2016-04-11 18:38] csrwng commented on #8374
@pweil- ahh that explains it. We are *not* setting the runAsUser as 0. We are requesting that the pod run as privileged, which makes it use the 'privileged' SCC normally. However, in @mgbarbero's cluster, he changed the ```restricted``` SCC to allow privileged containers. Therefore it's picking the restricted one instead of the privileged. @mgbarbero is there a specific reason why you changed the

[2016-04-11 19:05] mgbarbero commented on #8374
You are right @csrwng, restricted SCC must not allow privileged pods. There is no reason to allow them there.
I changed it and It works now !!! Thank you @csrwng, @pweil- and @bparees for all your help !!!

[2016-04-11 19:07] mfojtik opened #8463 "Update build config name annotation on builds when renaming build config"
We should update the build config name annotation when renaming the BC, so we don't loose the reference to BC the builds were started from.

This might affect removing the builds when removing the build config. It might also break serial builds when we can't check what scheduling policy the BC associated with build has.

[2016-04-11 19:07] mfojtik commented on #8463
@bparees FYI.

[2016-04-11 19:08] deads2k opened #8464 "rebase issues"
scratchpad for me to keep track of problems as I go.

[2016-04-11 19:13] mfojtik commented on #8463
@mnagy we discussed with @bparees that we might switch to a first-class field for a reference to build config instead of an annotation.

[2016-04-11 19:16] deads2k commented on #8463
How are you going to implement a rename?  A delete and another create probably won't do what you want, since that requires different permissions than an update, must re-run the admission chain, will produce an object with a different UID, and will lose all status information.

[2016-04-11 19:17] bparees commented on #8463
@deads2k @smarterclayton do we have any rules on updating metadata.name today?

[2016-04-11 19:17] deads2k commented on #8463
It's disallowed and there's no way to do it.  Deleting and recreating doesn't do the same thing (see my comment above).

[2016-04-11 19:18] mfojtik commented on #8463
@deads2k so we should forbid renaming existing BC? dunno if that is implemented today.

[2016-04-11 19:19] bparees commented on #8463
@mfojtik sounds like it's already forbidden.

[2016-04-11 19:20] liggitt commented on #8463
no object can be renamed today, only deleted and a similar object with a different name created

[2016-04-11 19:20] deads2k commented on #8463
Yes, and it is by the `ValidateObjectMetaUpdate` call in `ValidateBuildConfigUpdate`

[2016-04-11 19:20] mfojtik commented on #8463
[code]

you're right.

[2016-04-11 19:20] mfojtik commented on #8463
@deads2k thanks, /me stop panics :-) closing this as no-issue then.

[2016-04-11 19:20] #8463 closed

[2016-04-11 19:21] deads2k commented on #8463
That's actually a different path that gets blocked client-side, but you're still good and we have a test to enforce it: `TestObjectMetaUpdate`

[2016-04-11 19:22] ncdc commented on #8441
Because we run tests in parallel, each test's namespace needs to be added to the various SCCs to ensure upstream e2es can pass against OpenShift's security model. It looks like that code was resulting in each namespace stomping on the other namespaces such that only a single e2e namespace at a time was ever a member of the various SCCs.

#8465 should fix this issue.

[2016-04-11 20:09] bparees commented on #8374
thanks for running this down, @csrwng @pweil-

[2016-04-11 20:09] #8374 closed

[2016-04-11 20:34] pecameron opened #8466 "FailedSync: Error syncing pod, skipping failed to apply oom-score-adj to container"
[TEST] fails in extended tests with:
Apr 11 13:40:43.112: INFO: At 2016-04-11 13:40:22 -0400 EDT - event for deployment-test-1-hook-pre: {kubelet 172.18.14.69} Created: Created container with docker id c097e409c7ab
Apr 11 13:40:43.112: INFO: At 2016-04-11 13:40:23 -0400 EDT - event for deployment-test-1-hook-pre: {kubelet 172.18.14.69} FailedSync: Error syncing pod, skipping: failed to "StartConta

[2016-04-11 20:36] liggitt commented on #8466
dupe of https://github.com/openshift/origin/issues/8397?

[2016-04-11 20:42] pecameron commented on #8397
liggitt, not sure of root cause. src/k8s.io/kubernetes/pkg/kubelet/dockertools/manager.go:	return kubecontainer.ContainerID{}, fmt.Errorf("failed to apply oom-score-adj to container %q- %v", err, containerInfo.Name)
I have run [TEST] for PR 8334 many times. The tests end in failure in different places. I am not sure what is going on.

[2016-04-11 20:43] ncdc commented on #8397
@pecameron your error should be fixed by #8412

[2016-04-11 20:57] liggitt opened #8469 "enable etcd watch cache for origin types"
Prevent all watch API calls on origin types from hitting etcd

Requires plumbing storage decorators through all the origin REST handlers

related to https://github.com/openshift/origin/pull/8395

[2016-04-11 22:09] elyscape commented on #6914
To deal with situations like this (and others), I made a modified router with support for regular expressions in the paths. The GitHub repo is at elyscape/origin-router-regexp and it's on the Docker Hub as [elyscape/origin-haproxy-router-regexp](https://hub.docker.com/r/elyscape/origin-haproxy-router-regexp/).

[2016-04-11 23:44] thesteve0 commented on #8446
This seems to be an issue only on F23, the main system for the evangelists. Can we please raise the priority on this as it blocks shipping the 1.1.6 release of the all-in-one image

[2016-04-12 00:00] rafabene commented on #7182
+1 for this issue since I'm trying to find a way to automatically insert readinessProbe in the DeploymentConfig using
`oc patch dc/hello -p '{"spec":{"template":{"spec":{"containers[0]":{"readinessprobe":{"httpGet":{"path":"/api/hello","port":8080}}}}}}}'`

[2016-04-12 00:07] smarterclayton commented on #8403
Saw this happen again https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/14441/artifact/origin/artifacts/test-end-to-end-docker/logs/container-router-1-deploy-deployment.log

[2016-04-12 00:10] spadgett opened #8470 "Incorrect data in web console network metrics"
jwforres/console_1.3 branch only

It looks like there is a suspicious spike in network metrics near where a container starts. I think this data is wrong.

<img width="1081" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/14446164/07e91744-0021-11e6-97d3-f5a2411e7162.png">

There are also some negative values in the tooltip at the end.

![screen shot 2016-04-11 a

[2016-04-12 00:11] spadgett commented on #8470
The values when the container is not running should be gaps in the chart instead of 0 values.

[2016-04-12 00:23] ironcladlou commented on #8403
@kargakis One thing I don't think we accounted for is the strategy code itself checking to ensure the deployment it's about to execute is still valid. Even though we take steps to prevent their scheduling in the first place, and handle the outcomes more correctly, it's still possible the invalidated deployer pod gets scheduled and then spins up before deadlines or deletions are effective. I'm thin

[2016-04-12 00:25] ironcladlou commented on #8403
I think by [this point](https://github.com/openshift/origin/blob/master/pkg/cmd/infra/deployer/deployer.go#L162) we have more than enough context to exit early if we detect the deployment is superceded.

[2016-04-12 00:37] ccustine commented on #7744
The first 6 tests will run if you have OS env variables pointing to a running OpenStack environment.

The last one is checking for dbus-launch, which is installed by dbus-x11 so it will run if that package is installed wherever the tests are run.

[2016-04-12 00:53] elyscape opened #8471 "Path-based routes fail when the Host header includes a port"
Path-based routes are not correctly dispatched if the client includes the port in the `Host` header. While including the port number in requests to HTTP(S) endpoints on standard port numbers is unusual, it is not against [the spec][rfc2616], and [some clients force it][qwebsocket].

##### Version
[code]

##### Steps To Reproduce
0. Save `root.yml` and `subpath.yml` from [this gist][services] to yo

[2016-04-12 00:56] elyscape commented on #8471
It occurs to me that a simpler reproduction case would be to not bother with the `root` service at all:

##### Steps To Reproduce
0. Create the service for the path-based route: `oc create -f subpath.yml`
0. Create a path-based route for the service: `oc expose svc nginx-subpath --hostname=pathtest.$ROUTERDOMAIN --path=/subdir/`
0. `curl` the subdir: `curl http://pathtest.$ROUTERDOMAIN/subdir/`
0.

[2016-04-12 00:59] fabianofranz commented on #8470
Hrm, I'm aware about null/undefined being gaps. This might be related to the first/last element of a bucket and how I check the last value to normalize the data from cumulative to rate. Looking.

[2016-04-12 01:07] smarterclayton opened #8472 "oc rsh gives inappropriate error"
Start a restart=Never pod

[code]

Message should be more accurate - `pod is no longer running`, or even better, a server defined error.  Not sure if this is a problem with rsh, exec, or the kubelet.

[2016-04-12 01:14] smarterclayton opened #8473 "Integrated DNS doesn't return the correct error on service not found"
We need to be returning a known etcd error type to get the proper "not a valid name" behavior.

[2016-04-12 01:14] smarterclayton commented on #8473
Not technically a regression, but fairly serious deviance from upstream.

[2016-04-12 01:17] spadgett commented on #8470
We might start using the min/max values from individual points instead of comparing to the previous point. I've been meaning to make that change.

[2016-04-12 01:17] spadgett commented on #8470
As long as point.samples > 1

[2016-04-12 02:05] smarterclayton commented on #8403
Question is - are we running multiple here, or just one?  And what
changed that suddenly we're running parallel deployments?  Is this
new?  Old?  Why did this start happening now?

[2016-04-12 03:10] smarterclayton commented on #8403
Let's chat in the morning but I would expect if we did:

[code]

That at the very end of this there should be exactly one deployment running and successful - the 50th.  If we can't do that, that worries me immensely.

[2016-04-12 03:51] liggitt commented on #3951
--credentials has been deprecated for both router and registry commands. I'd like to stop generating the cert-based credentials for the register and router post-1.2, and remove the --credentials option entirely by 1.3

[2016-04-12 11:27] ironcladlou commented on #8403
Looked to me like router-2 deployed successfully, and then the router-1-deploy pod got scheduled and executed. The common deployer logic which detects the "from" deployment and "old" deployments has a problem: it considers the latest of all completed deployments not equal to the target (router-1 in this case) to be the "from" and everything else to be "old". So if router-2 is completed before rout

[2016-04-12 12:00] ncdc commented on #8466
This is a dupe and was fixed by #8412

[2016-04-12 12:00] #8466 closed

[2016-04-12 12:04] ncdc commented on #8472
This sounds like an rsh issue

[2016-04-12 12:07] #8441 closed

[2016-04-12 12:18] ironcladlou commented on #8403
Didn't realize @kargakis is out of the office- I'll be digging into this later in the morning.

[2016-04-12 12:24] legionus commented on #8457
https://github.com/openshift/origin/blob/master/pkg/image/importer/importer.go#L305-L307

[2016-04-12 13:02] sgallagher commented on #6882
@jayunit100 @liggitt
Just to confirm, the following are the remaining tests that need investigation:
[code]

[2016-04-12 13:05] sdodson commented on #3951
Deprecated in 1.2? it's littered all over our docs currently.

[2016-04-12 13:07] liggitt commented on #3951
It's still present, functional, and supported, but isn't necessary and is discouraged. Docs still need updating, on my list.

[2016-04-12 13:17] legionus commented on #8457
New output:
[code]

[2016-04-12 13:42] chunyunchen commented on #8440
I tried the below two workarounds, but both do not work well:

1. $ oc import-image logging-auth-proxy:3.2.0 --insecure=true --from brew-pulp-docker01...com:8888/openshift3/logging-auth-proxy:3.2.0

error: the tag "3.2.0" points to "brew-pulp-docker01...com:8888/openshift3/logging-auth-proxy" - use the 'tag' command if you want to change the source to "brew-pulp-docker01...com:8888/openshift3/logg

[2016-04-12 14:05] soltysh commented on #8440
This will not work, because you're trying to change the tag. That's why it's suggesting to use `oc tag` instead.

Works perfectly ok, just run:

[code]

@chunyunchen can you show me the output of the import command?

[2016-04-12 14:10] kargakis commented on #8403
Instead of waiting for previous cancelled deployments, can't we just delete
any older deployers if we find out there is a newer deployment? Or cleanup
on failed cancelled:
https://github.com/openshift/origin/issues/8439#issuecomment-208238974

Also, the deployer code seems broken.

On Tue, Apr 12, 2016 at 2:27 PM, Dan Mace <notifications@github.com> wrote:

[2016-04-12 14:11] ironcladlou commented on #8403
Thinking about this yet again, patching the deployer CLI is only a bandaid. The router-2 RC shouldn't exist since router-1-deploy exists/is non-terminal and router-1 is presumably not complete/failed. That seems to be the root issue from what I can see.

[2016-04-12 14:13] kargakis commented on #8403
Wouldn't it be confusing if a second deployment is expected but we still
hang on the first?

On Tue, Apr 12, 2016 at 5:11 PM, Dan Mace <notifications@github.com> wrote:

[2016-04-12 14:14] smarterclayton commented on #8403
We should *NEVER* have more than one deployer pod running at a time.  Ever.

On Tue, Apr 12, 2016 at 10:13 AM, Michail Kargakis <notifications@github.com

[2016-04-12 14:15] kargakis commented on #8403
Agreed. That;s why I am proposing deletion of older deployers when a newer
deployment is detected.

On Tue, Apr 12, 2016 at 5:14 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-12 14:25] soltysh commented on #8399
After several investigations the problem I've managed to identify is this error:
[code]
The #8461 wrapped image-import and docker pull commands into `os::cmd::expect_success`, which should either fix the problem or give us some more info. I'm especially hoping to get stdout and stderr from the image-import command which might fail for some unknown reason leading to failing docker pull.
For now I'm

[2016-04-12 14:31] ironcladlou commented on #8403
This is a problem: https://github.com/openshift/origin/blob/master/pkg/deploy/controller/deployment/controller.go#L61

If we set the RC phase to failed without waiting for the deployer pods to resolve to a terminal phase, the deployment config controller will see the RC in a terminal phase and decide that there are no outstanding deployments, and make a new one.

I don't think we should ever trans

[2016-04-12 14:32] sosiouxme commented on #8440
[code]

Note the PullSpec ends up with :latest in it.

[2016-04-12 14:34] fabianofranz commented on #8470
In network metrics the values of min/max/avg are always equal, so it would not help with this issue. Fixed in https://github.com/jwforres/origin/pull/47.

[2016-04-12 14:34] kargakis commented on #8403
Good catch, I think this is the only place we do such a thing and never
felt good about it.

On Tue, Apr 12, 2016 at 5:31 PM, Dan Mace <notifications@github.com> wrote:

[2016-04-12 14:35] ironcladlou commented on #8403
Actually, that failed update is only happening when the RC is in New, in which case how would any deployer pods have been created to cause an issue? Maybe I jumped the gun...

[2016-04-12 14:39] kargakis commented on #8403
We create the deployer when the deployment is New, right?

On Tue, Apr 12, 2016 at 5:35 PM, Dan Mace <notifications@github.com> wrote:

[2016-04-12 14:39] spadgett commented on #8470
How many samples in the bucket?

[2016-04-12 14:41] soltysh commented on #8457
@legionus in which way the newly created IS is invalid? It's pointing to exactly that tag you've specified in the import-image command. If you're talking about the error - that's working as expected.

[2016-04-12 14:42] sosiouxme commented on #8440
Only thing that worked for me:

[code]

This also will not work (even with `--confirm`) if you've attempted to import the tag by another method previously. In order to get it to work I have to recreate the IS and do only this. Example of failure:

[code]

(note, "latest" actually points at the 3.2.0 tag, "3.2.0" points at :latest)

[2016-04-12 14:45] fabianofranz commented on #8470
Always 1 afaik. Dumping the result of a request:

[code]

[2016-04-12 14:47] legionus commented on #8457
But the resulting imagestream is not suitable for anything. What's the point to create an image if none of tag or digest failed to import ?

@miminar

[2016-04-12 14:58] soltysh commented on #8440
@sosiouxme here are the differences between different calls you're doing:
[code]
Is saying import `logging-elasticsearch:3.2.0` into `logging-elasticsearch`, which means import into `latest` tag, because none was specified. You need to have the IS in place, otherwise it'll complain about it and suggests adding `--confirm`.

[code]
Assuming you don't have IS will create one with just single tag poi

[2016-04-12 15:00] soltysh commented on #8457
If there will be temporary error in the import (network down, temporary remote registry misbehavior) re-importing the image will fix the problem. You can't assume the spec is wrong. Only user upon verification will know that. @smarterclayton intentionally pushed this solution to do as much as we can during import and let the user identify those single errors.

[2016-04-12 15:02] liggitt commented on #7429
flake in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/2/console on https://github.com/openshift/origin/pull/8443

[2016-04-12 15:05] jayunit100 commented on #6882
Yes these are new failures  which are sort of different then the original issue.  Should we close this and carry on in #7903 ?

[2016-04-12 15:13] miminar commented on #8457
What I consider wrong is the message `The import completed successfully.` showing up regardless of the number of tags imported successfully.

[2016-04-12 15:14] legionus commented on #8457
You right I can't. But result of `oc import-image ...` shouldn't be successful because we failed when importing. At the time of the command execution is the actual execution result.
I'm wrong that don't show detailed information about the imagestream.

[2016-04-12 15:18] spadgett commented on #8470
Yeah, it's because the default sampling is once every 30s. If we request 60 buckets for 30 minutes, there will be one sample per bucket.

[2016-04-12 15:22] sgallagher commented on #6882
@jayunit100
OK, this was assigned to me the other day, so I was trying to get a handle on what it entailed, but it looks like #7903 is in your court?

@pweil- Should I keep working on this, split the work with @jayunit100 or other?

[2016-04-12 15:27] pweil- commented on #6882
No need for two of the same thing.  Let's consolidate.  Feel free to split the work if necessary.

Closing in favor of #7903

[2016-04-12 15:27] #6882 closed

[2016-04-12 15:30] jayunit100 commented on #7903
can we reassign to @sgallagher  , as he is working on this now.....   @sgallagher
- i can help on the e2e side of things
- im not quite sure how to replicate a openshift cluster for testing this.

[2016-04-12 15:32] sosiouxme commented on #8440
You're right, this worked perfectly, thanks:

    oc import-image logging-elasticsearch:3.2.0 --from=brew-pulp-docker01.web.prod.ext.phx2.redhat.com:8888/openshift3/logging-elasticsearch:3.2.0 --insecure=true

I thought you were [telling @chunyunchen](https://github.com/openshift/origin/issues/8440#issuecomment-208923294) that wouldn't work as it's trying to change the tag. Perhaps I misread.

The

[2016-04-12 16:20] ironcladlou commented on #8403
I just noticed that we create the pod and then break without transitioning out of New, so if before the next sync there's a cancellation, we'll enter the scenario I describe. So yeah, I think my analysis still stands.

[2016-04-12 17:25] jayunit100 commented on #7311
@rootfs may have some.  i think these fail by default if you dont have privileged containers

[2016-04-12 18:22] fabianofranz commented on #8470
Got it, thanks.

[2016-04-12 18:49] jcantrill commented on #6628
@smarterclayton merged into metrics and logging.  can this be closed?

[2016-04-12 18:52] smarterclayton commented on #6628
Yes but can you link to the open question about where the deployer pod belongs?

[2016-04-12 19:02] jcantrill commented on #6628
Adding link to @smarterclayton question regarding moving the deployer into origin; https://github.com/openshift/origin-aggregated-logging/pull/110#discussion_r58912486

[2016-04-12 19:18] brettneese opened #8482 "Unable to specify TLS termination on routes ("refused to connect")"
When specifying TLS "edge" termination, the route returns "refused to connect."

##### Version
openshift v1.1.3

##### Steps To Reproduce

1. Create a test project (for instance, CakePHP)
2. Add routes, and upload the certs
3. Attempt to visit the new secure route

##### Current Result
![image](https://cloud.githubusercontent.com/assets/504279/14472375/87fe20cc-00b8-11e6-963b-0004b6782c98.png)

##

[2016-04-12 19:31] #6628 closed

[2016-04-12 19:54] smarterclayton commented on #8457
The message is wrong, but even more than that, I don't think the output of import-image is even really well suited to the use case anymore.  There's three cases:

1. Creating a new image stream by importing a docker hub image
2. Updating an existing image stream with changes
3. Updating an existing image stream with no changes

All of those could be either successful or failed.  For the latter two

[2016-04-12 20:12] soltysh opened #8485 "oc import-image should inform users about the imported changes"
Currently running `oc import-images` returns the description of the image stream. This description isn't helpful as it should inform user what has changed (in case of re-import) or provide more details in case of new IS. See [this comment](https://github.com/openshift/origin/issues/8457#issuecomment-209077542) for more info.

[2016-04-12 20:12] soltysh commented on #8485
@pweil- mind assigning this one to me?

[2016-04-12 20:13] soltysh commented on #8457
Agree with @smarterclayton.  Created https://github.com/openshift/origin/issues/8485 to track it. This issue and accompanying PR can be safely closed.

[2016-04-12 20:15] pweil- commented on #8485
@soltysh there has also been a request to have a `--dry-run` ability.  Want to make it part of this?

[2016-04-12 20:15] #8457 closed

[2016-04-12 20:17] soltysh opened #8486 "oc import-image add --dry-run"
We need `--dry-run` in the `oc import-image` which will present how the image stream will look like but without actual import happening.

[2016-04-12 20:18] soltysh commented on #8485
@pweil- prefer a separate one, created: https://github.com/openshift/origin/issues/8486

[2016-04-12 20:28] smarterclayton opened #8487 "oc status now showing pods not properly owned?"
This looks like a regression @deads2k @kargakis

[code]

[code]

[2016-04-12 21:35] #8176 closed

[2016-04-12 22:31] elyscape commented on #8482
Did you convert them into PEM format? Also, what do the logs on your router say?

[2016-04-12 23:15] elyscape commented on #8471
Okay, I did some experimentation and modifying the template to add another line with the correct port does indeed work. I'll submit a pull request shortly.

[2016-04-12 23:18] brettneese commented on #8482
Yes, they are in PEM format, I think. I `cat`'d them from the host and
pasted them in files locally. The output of the logs is:

[code]

[2016-04-12 23:44] elyscape commented on #8471
I have submitted #8490, which provides a solution to this issue.

[2016-04-13 00:29] elyscape commented on #8482
You can ignore this if you didn't specify a certificate for a given route. It just means that it'll use the default cert.

Your certs are in PEM format if they look something like this (Google's cert):
[code]

`openssl x509 -in CERTFILE -out certificate.pem -outform PEM`

Yes.

This is necessary for the default certificate. All the components should be in PEM format.

Nope. There are separate fiel

[2016-04-13 00:39] smarterclayton opened #8491 "Extended test flake due to user not having permissions"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/148/consoleFull

[code]

@deads2k looks like a policy cache race, or possibly the permission assignment flake @ncdc spotted

[2016-04-13 00:40] brettneese commented on #8482
Thanks for the clarification.

Yep, they all look like that and appear to be valid but I'm still getting
the "refused to connect" error. :(

Brett Neese
563-210-3459

On Tue, Apr 12, 2016 at 7:30 PM, Eli Young <notifications@github.com> wrote:

[2016-04-13 00:52] elyscape commented on #8482
That seems likely to be a firewall issue. Another possibility is that the router service Duran doesn't have port 443 exposed properly. Run `oc get svc $ROUTER_SERVICE_NAME -o yaml` and post the prio output here after making sure nothing sensitive is in it.

[2016-04-13 01:23] brettneese commented on #8482
I tried taking down all of our firewalls and double checking that 443 was open for iptables, but that didn't fix the issue either. I just looked at the router logs again, however, after deploying a new one from scratch and noticed this:

[code]

[2016-04-13 01:29] elyscape commented on #8482
What about the router deployment config?

[2016-04-13 01:40] brettneese commented on #8482
With the certs scrubbed:

[code]

[2016-04-13 01:41] brettneese commented on #8482
Other detail to note: these certs appear to work with the web console, so it's not a mismatch between the private key and the cert.

[2016-04-13 02:07] chunyunchen commented on #8440
@sosiouxme @soltysh
I tried below two workarounds, both work well:

1. $ oc import-image logging-elasticsearch:3.2.0 --from=brew-pulp-docker01...com:8888/openshift3/logging-elasticsearch:3.2.0 --insecure=true

2.
2.1 $ oc tag --source=docker brew-pulp-docker01.web.prod.ext.phx2.redhat.com:8888/openshift3/logging-kibana:3.2.0 logging-kibana:3.2.0

2.2 $ oc import-image brew-pulp-docker01...com:8888

[2016-04-13 02:09] brettneese commented on #8482
Also, when I generate a new router with a default cert and ensure the cert concatenation looks like the instructions detailed here: https://coolaj86.com/articles/haproxy-with-https-tls-ssl/, I don't get any errors in the router logs but I still get "connection refused" on the routes that would be served using the default certs from the router.

[2016-04-13 05:42] liggitt commented on #8399
seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/41/console

[2016-04-13 06:32] soltysh commented on #8486
@smarterclayton are there any other requirements for the '--dry-run' other
than showing what the IS will look like?
On Apr 12, 2016 10:46 PM, "Paul Weil" <notifications@github.com> wrote:

[2016-04-13 08:03] soltysh commented on #8440
@smarterclayton do we want to allow importing not imported tags through import-image? Or current `oc tag` suggestion we're giving is sufficient. This is for cases where initial import failed, and I know about the specific tag existing but since there's no one previously imported we'll fail and suggest `oc tag` instead.

[2016-04-13 08:11] soltysh commented on #8399
This looks like a different error:
[code]

Looking into it.

[2016-04-13 11:38] deads2k commented on #7182
Check out the new `oc set triggers --help`.

[2016-04-13 11:56] dragon9783 commented on #8321
Focusing

[2016-04-13 12:03] PI-Victor opened #8494 "configcontroller spams on new build"
[code]

Whenever kicking off a new build without the image being available locally the the config controller retries a lot of times. Not sure if it's docker replying back that the image is available or what. Maybe it needs some sort of delay or something.
@bparees @mfojtik @rhcarvalho  what do you think?

[2016-04-13 12:10] dragon9783 commented on #8083
LGTM

[2016-04-13 12:42] mfojtik commented on #8494
@bparees seems like the retry manager for config change trigger needs more intelligence...

@PI-Victor is this default log level?

[2016-04-13 13:29] thescouser89 opened #8496 "Suggestions on OSE Secrets documentation"
The OSE secrets documentation (found [here](https://docs.openshift.com/enterprise/3.0/dev_guide/secrets.html)) does not mention that the value of the secrets have to be base64 encoded.

Another suggestion would be to also say that we can mount those secrets in the deployment config, instead of just showing an example of mounting it into a pod.

[2016-04-13 13:45] bparees commented on #8494
it's basically working as designed, we retry very fast until the token bucket is empty.  we can debate the log level, but trying to divide errors into "retry quickly" and "retry slowly" is going to get ugly.

the logging is handled by k8s' "handleError" logic though.

[2016-04-13 13:46] bparees commented on #8494
also you won't get that spam on every new build, only new builds where the imagestreamtag doesn't exist yet.  @PI-Victor can you confirm that?

[2016-04-13 13:54] PI-Victor commented on #8494
@bparees  yes. only happens when the imagestream isn't available yet and also it displays on loglevel 0. so if it's not serious i think it's best if we don't display this on log level 0, as @mfojtik suggested we can make it V(2). My question is now, can something else happen that we need to display in loglevel 0 that we would mute if we change the logic to log-level 2?

[2016-04-13 14:06] bparees commented on #8494
@PI-Victor we can't easily control when it gets logged because it goes through the k8s error handler, we aren't the ones directly logging it.  It might be worth investigating if it should be going through the k8s error handler, but that was the pattern we used.

As for distinguishing...  right now, not easily.  If you look at the code in question, we called Instantiate and got an error.  Right now

[2016-04-13 14:23] dgoodwin commented on #8491
@smarterclayton I assume this surfaced in #8483, does anyone know if it has surfaced before? Is it limited to this specific extended test or does it appear in other places?

Am I correct in assuming there is no way to reproduce reliably?

The failure is happening here: https://github.com/openshift/origin/blob/master/test/extended/localquota/local_fsgroup_quota.go#L25 As far as I can tell the test

[2016-04-13 14:44] stevekuznetsov commented on #8496
@thescouser89 You may want to duplicate/move this issue to the tracker for [openshift-docs](https://github.com/openshift/openshift-docs)
/cc @deads2k

[2016-04-13 14:54] ironcladlou opened #8498 "Provide a way to distinguish hook pods from other deployer pods"
All deployer pods (the strategy pod and hook pods) are assigned an `openshift.io/deployer-pod-for.name` label so they can be identified as deployers. However, it's also useful to further identify these pods by their specific role. For example, a label like `openshift.io/deployer-pod.type=strategy` or `openshift.io/deployer-pod.type=pre-hook`.

[2016-04-13 14:56] stevekuznetsov opened #8499 "'installable' resolving to a machine address makes test-cmd newapp very slow"
When `installable` resolves to a name:
[code]

We see `test/cmd/newapp.sh` tests take ~5min each to run:
[code]

The time is taken waiting for `git ls-remote`:
[code]

/cc @csrwng

[2016-04-13 14:58] smarterclayton commented on #8498
Or annotation in this case.  The hook type will be per strategy, so we should keep in mind that we have to reserve space for the strategy to define its own annotations.

[2016-04-13 15:16] thescouser89 commented on #8496
Done! https://github.com/openshift/openshift-docs/issues/1895

Closing it.

[2016-04-13 15:16] #8496 closed

[2016-04-13 15:46] smarterclayton opened #8500 "Hook pods are not terminated by the deployment controller when a deployment is cancelled or aborted"
I would expect that we would preserve the invariant that all hook pods have terminated (are in failed/succeeded/deleted) before we launch a new deployer pod, but that appears that is not the case today.  What would we have to change to guarantee that?

@ironcladlou @kargakis

[2016-04-13 16:57] smarterclayton opened #8502 "TestRouter integration flake"
[code]

from https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5581/consoleFull#112541649156bf4006e4b05b79524e5923

[2016-04-13 16:58] smarterclayton commented on #8502
This may be the go reuse of closed network transactions, i.e. a test side error vs a server side (if you are using pooled connections you can occasionally fail to get a real connection).

[2016-04-13 17:07] jeremyeder opened #8503 "Make the list of builds sortable/default sort to most-recent-at-the-top"
Hi, right now the list of builds in the web interface doesn't seem to be sorted "most recent at the top".
Also, the headers are not clickable to allow the user to sort these columns.  And finally, it does not list the "completed" time.

Is it possible to add these?

[2016-04-13 17:57] liggitt commented on #6766
https://github.com/kubernetes/kubernetes/pull/24208/

[2016-04-13 18:42] xuant commented on #8321
Explicitly setting --ipip and --nat-outgoing solved my problem.

[2016-04-13 18:42] #8321 closed

[2016-04-13 18:56] brettneese commented on #8482
Ah, we figured out what it was. Turns out it was on our end - we have our masters running behind an elastic load balancer that wasn't configured to let traffic on port 443 through.

[2016-04-13 18:56] #8482 closed

[2016-04-13 19:10] pweil- opened #8504 "Create system-logger SCC"
Create a new SCC to support system loggers.  Policy should require SELinux labels noted in http://www.projectatomic.io/blog/2016/03/selinux-and-docker-part-2/.

[2016-04-13 19:35] thesteve0 opened #8505 "Error on rsync not in container"
When I try to rsync to a container that doesn't have rsync available the error message is not formatted properly. @bparees  suggested @csrwng look at it - though I may have misinterpreted.

This line is the error line
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/rsync/copymulti.go#L29

as it catches and returns from this line:

https://github.com/openshift/origin/blob/master/pkg

[2016-04-13 20:07] smarterclayton commented on #8491
I think this may just be a general flaw with our e2e tests, they need to use something similar to https://github.com/openshift/origin/blob/master/test/util/policy.go#L20 in all e2e tests (to ensure permissions converge before use)

[2016-04-13 20:19] bparees commented on #8427
@mrunalp looks like it recreated w/ your debug here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/167/testReport/junit/%28root%29/Extended/_builds__Conformance__s2i_build_with_a_quota_Building_from_a_template_should_create_an_s2i_build_with_a_quota_and_run_it/

[2016-04-13 20:32] maxamillion commented on #3951
Wait, what is 1.2 and 1.3? The git tags show the latest stable release as v1.1.6

[2016-04-13 20:37] liggitt commented on #3951
the future :)

[2016-04-13 21:27] mrunalp commented on #8427
@bparees Thanks! I am looking into it.

[2016-04-14 04:04] elyscape commented on #8482
Yep, that could do it. I'm glad you figured it out!

[2016-04-14 04:40] livelace opened #8507 "Add ability to orchestrate multiple (depending) deployments"
Main discussion - https://github.com/openshift/jenkins-plugin/issues/33

@ironcladlou

If your concern is the updater scaling up without regards to pod readiness, we'll need to take the discussion to origin/kubernetes, because the rolling updater progresses scale-ups based on replica count of the RC which doesn't take readiness into account.

[2016-04-14 09:13] hrobertson opened #8508 "Compatibility with docker-engine RPMs"
It would be desirable to have the flexibility to use the latest `docker-engine` RPMs with Origin.

The origin RPM spec requires `docker-io`.
The [RPMs published by Docker](https://github.com/docker/docker/tree/master/hack/make/.build-rpm) provide `docker-engine`, and conflict with `docker` and `docker-io`

[Boolean dependencies](https://fedoraproject.org/wiki/Packaging:Guidelines#Rich.2FBoolean_de

[2016-04-14 11:38] jstrachan commented on #4693
actually we can probably close this - I figure its probably easier to just use a ConfigMap for this data on a Project

[2016-04-14 12:16] pweil- commented on #8403
@ironcladlou - assigning this to you since you're already working it and @kargakis is on PTO until the end of the week.

[2016-04-14 12:21] jhadvig opened #8510 "Enabling the Start Build button"
There is going to be change in the way in what order the builds will get fired(parallel vs. serial), where serial will be default. In that case it doesn't make sense to disable the `Start Build` button when launching a build or have a running build.
In case of parallel build order it does make sense to have it disabled, although not necessarily.
Based on  https://github.com/openshift/origin/pull/8

[2016-04-14 12:26] ironcladlou commented on #8403
@smarterclayton is this now considered fixed as of https://github.com/openshift/origin/issues/8478?

[2016-04-14 12:29] pweil- commented on #8500
This isn't a regression.  Can we make this a p2 for 3.2?

[2016-04-14 12:30] #4693 closed

[2016-04-14 12:41] mfojtik opened #8511 "Travis is flaking on verifying conversions"
The flake looks like this:

[code]

This PR was not even touching types nor conversions... I saw that couple times for other PR's as well. Also @jimmidyson encountered this issues in Jenkins Pipeline PR.

@deads2k suggested that this might be related to imports ordering.

[2016-04-14 12:45] deads2k commented on #8511
@smarterclayton save us?

[2016-04-14 12:54] jwforres commented on #8503
@jeremyeder i assume you are talking about the list of different build configurations?  If you go to a particular build configuration those builds should be sorted most recent first.

Sortable columns is something we want to do, but we want to do it across all of these tables at the same time.

Also curious why you specifically want to see the completed time, i think we just removed it from the CL

[2016-04-14 12:57] jwforres commented on #8510
If they are choosing to have parallel builds then that implies their builds can run in parallel and we probably shouldn't disable it.

[2016-04-14 13:21] mfojtik commented on #7549
@bparees @mrunalp good news! it seems like Docker 1.11.0 works without any workaround, out of box.

[2016-04-14 13:24] mfojtik commented on #8510
@jwforres is the logic here that the button is disabled until the build completes? that kinda mimic the serial builds in a creepy way in web console... I can still go to `oc` and start 10 parallel builds.

I think the main reason that disabling existed is to prevent users fat-fingering that button and accidentally starting more builds that they wanted. Maybe that can be solved by disabling the but

[2016-04-14 13:28] legionus commented on #8498
@ironcladlou What is the use case for this? Are you going to filter by `openshift.io/deployer-pod.type` or you just want to add an annotation to deployer pod ?

[2016-04-14 13:31] jwforres commented on #8510
On Thu, Apr 14, 2016 at 9:24 AM, Michal Fojtik <notifications@github.com>
wrote:

Exactly why I want to remove it :)  we were doing it because we knew there
were issues with the docker push (at the time we did it) if people launched
multiple builds at once.

What we should do is disable it until the request to create the build comes
back, at which point it pops up the success (or failure) message

[2016-04-14 13:37] maxamillion commented on #3951
Ah, ok. The way @sdodson said "depricated in 1.2?" sounded past tense and I was confused. Thanks :)

[2016-04-14 15:04] liggitt commented on #6766
^^^^ everything above this point it now in the checklist ^^^^

[2016-04-14 15:16] liggitt commented on #6880
Yeah, looking at unifying what was added in https://github.com/openshift/origin/pull/6320/commits/6b7f6f9cb0bf4eab4f1214ed4d143d47f0360598

The main issue is that upstream makes assumptions about where version information lives (they hardcode `/api`, origin types are under `/oapi`)

[2016-04-14 16:18] eparis commented on #8328
Should the same be true of the registry?  @detiber does the installer set limits/requests or allow them to be set?

[2016-04-14 16:33] pweil- commented on #8328
Yes https://github.com/openshift/origin/issues/8329

[2016-04-14 19:35] detiber commented on #8328
@eparis it does not currently, once the command line support for this lands, we can add the ability to set it (for versions of Origin/OSE that support the flags)

[2016-04-14 19:41] kargakis commented on #8403
@ironcladlou can we have an issue to fix the deployer too? Not a blocker but I think we should fix it for 1.3

[2016-04-14 19:48] ironcladlou commented on #8403
@kargakis

It'll always be racing with something (cancellation, other deployments it might *just miss* when looking, etc.)

Seems more valuable to keep on top of enforcing the "only 1 deployer pod should exist at a time" invariant externally.

It's still probably useful to have a "last line of defense" in the deployer code. Not sure about 1.3- I'll let @pweil- and @smarterclayton chime in there.

[2016-04-14 19:50] kargakis commented on #8500
The deployment controller can try to identify any preexisting deployers for the config of the deployment (before creating the new deployer) and delete if it finds any.

[2016-04-14 19:51] kargakis commented on #8403
Related: https://github.com/openshift/origin/issues/8500

[2016-04-14 21:03] liggitt opened #8517 "escalating rolebinding edit returns 401 instead of 403"
As a project admin, edit a rolebinding in a way that attempts to grant escalating powers:
[code]

A 401 error is returned, when it should be a 403 error.

This confuses clients like the web console, which react by triggering a login flow.

cc @deads2k @jwforres

[2016-04-14 21:14] jwforres opened #8518 "Websocket watch against openshift resources that dont support watch is behaving like a list"
Open a websocket watch against a resource like rolebindings and it will attempt to return a 200 with the JSON list response.  This confuses browsers that aren't expecting to see a 200 on a websocket upgrade request.

Arguably this should throw something like a 405 method not allowed instead.  Although it feels wrong to reuse 405 for that.

cc @deads2k @liggitt

[2016-04-14 21:18] liggitt commented on #8518
Happened when Watch collapsed to List with `watch:true` in ListOptions. Custom List impls that don't support watch have to explicitly check if `options.watch==true` and fail.

[2016-04-14 23:58] smarterclayton commented on #8511
It is import ordering, we have to probably stabilize the order with an explicit dependency.

[2016-04-14 23:58] smarterclayton commented on #8500
Yes post 1.2

[2016-04-14 23:59] smarterclayton commented on #8403
Deployers should bail if their invariants are violated and they detect it.  We can do more in 1.3.  Leaving open to ensure its well and truly gone.

[2016-04-15 00:03] dragon9783 commented on #1612
+1 integrate external service only inject service name into pod without credentials, and service pod must run in sort order.

[2016-04-15 00:08] dragon9783 commented on #1764
LGTM

[2016-04-15 01:07] nak3 commented on #4479
cobra started to support `argAliases`, and it will fix this issue. - ref. [bash_completions.md](https://github.com/spf13/cobra/blob/master/bash_completions.md#plural-form-and-shortcuts-for-nouns)

upstream fixed some of commands like `get`, `delete`, `edit` and so on as below.
https://github.com/kubernetes/kubernetes/pull/23262/commits/7e0bb885f14cfc248fcbe301dfe6c64690094ec9
https://github.com/ku

[2016-04-15 02:44] danni commented on #8336
I should add this is containerized on CentOS atomic, installed with a hacked up openshift-ansible.

[2016-04-15 02:49] andrewklau commented on #8336
@danni I think your issue is related to and fixed by #8501

[2016-04-15 02:51] danni commented on #8336
Is that in Origin 1.1.6? I upgraded but am still getting no joy.

[2016-04-15 03:40] danni commented on #8336
For reference, I've worked around this by doing the following:
* Creating the directory with `mkdir -p var/lib/origin/openshift.local.volumes/plugins/kubernetes.io/aws-ebs/mounts/<vol id>`
* Creating the disk label with fdisk (that was appearing in the logs, not sure if it was actually required)
* Allowing write permission to non-root to the directory

[2016-04-15 10:00] kargakis commented on #8507
@smarterclayton I remember you were saying the rolling updater shouldn't care about readiness when scaling up.

[2016-04-15 12:34] pweil- commented on #8403
removing from the blocker list for now then

[2016-04-15 13:43] smarterclayton commented on #8507
Growth should not be readiness limited.  Deployments must satisfy their readiness criteria to succeed and ensure that failed deployments are recognized

[2016-04-15 13:52] siamaksade opened #8523 "Build error is not communicated to the user when ImageStream is missing"
When creating an application from a template, the build fails silently if the referenced ImageStream does not exist. From the user's perspective there are no errors and at the same time no pods or builds get created:
[code]

All the above return empty result. The error is only visible on the master node through _journalctl_:
[code]

##### Version
oc v3.1.0.4-16-g112fcc4
kubernetes v1.1.0-origin-11

[2016-04-15 14:25] jhadvig opened #8524 "Watch projects on the project list in the console"
Add watcher that will watch for updates in the list of projects on the root page, since ATM the page has to be refreshed to get the update.
@jwforres thoughts ?

[2016-04-15 14:43] liggitt opened #8526 "reconcile-cluster-roles restores build capabilities to project roles"
The default policy includes docker, custom, and source build permissions for the admin and edit roles.

We [document](https://docs.openshift.org/latest/admin_guide/securing_builds.html#disabling-a-build-strategy-globally) removing those permissions, but running `oadm policy reconcile-cluster-roles --confirm` re-adds those permissions.

cc @deads2k

[2016-04-15 15:28] bparees commented on #8507
the fundamental issue in my mind is that the replication controller is reporting an active count of 1 despite the fact that the only pod that exists is in a FAILED state.

[2016-04-15 15:46] jwforres commented on #8524
@jhadvig projects don't support watch, at one point @deads2k was looking at implementing it, not sure where that ended up...

[2016-04-15 15:56] liggitt commented on #8526
talking with @deads2k, the options we see are:

1. Track all released versions, remember the default policy for each version, record the release version at reconcile time, and make reconcile optionally only add permissions added to the default policy since that version.
2. Special-case reconcile to not add permissions we expect people will want to remove (or we document removing)
3. Record removed

[2016-04-15 17:03] deads2k commented on #8526
This would change the doc to do things like granting a cluster-wide permission to "create" "builds/docker".  It's safe because it doesn't actually commute the power to create builds, just that if you *can* create builds, those builds can be docker builds.

This could resolve the general problem of "I've changed a role and I want reconcile to the 'right' thing".  Its possible, but its a lot more wo

[2016-04-15 17:09] deads2k commented on #8524
https://github.com/openshift/origin/pull/6828  Its on my "day or so from completion, but no one wants it as badly as other things" list.

[2016-04-15 17:14] bparees commented on #8083
@sspeiche fyi

[2016-04-15 17:16] sspeiche commented on #8083
There is some work going with with the GitLab team to provide an image https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1233 @bparees fyi

[2016-04-15 17:59] miminar commented on #8399
Here's another: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5597/console (PR #8438)

[2016-04-15 18:51] smarterclayton commented on #8083
Can someone test with anyuid and removing the user mod capdrop?

[2016-04-15 20:08] pweil- commented on #8450
@knobunc is this the same as https://bugzilla.redhat.com/show_bug.cgi?id=1322077 that was fixed in https://github.com/openshift/openshift-sdn/pull/277 ?

[2016-04-15 21:18] smarterclayton opened #8529 "Origin resources don't respect `oc get --show-labels`"
They should.

[2016-04-16 00:54] liggitt commented on #6766
closing, will track items individually from here on

[2016-04-16 00:54] #6766 closed

[2016-04-16 06:06] GrahamDumpleton opened #8533 "Docker Hub description for origin-deployer has dead links."
On the page:

* https://hub.docker.com/r/openshift/origin-deployer/

on Docker Hub, the description for origin-deployer image has a link to GitHub for the image of:

* https://github.com/openshift/origin/blob/master/images/deploy/customimage

This doesn't work.

Perhaps should be:

* https://github.com/openshift/origin/tree/master/images/deployer

[2016-04-16 12:44] GrahamDumpleton opened #8534 "Problems setting generated secret for build web hook using 'oc set triggers'."
Using 1.1.6 all-in-one VM.

The help output for ``oc set triggers`` says:

[code]

with the explanation of the ``--from-webhook`` option being:

[code]

This is confusing. The example suggests I can run it just as given, but if you do that you get the error:

[code]

It looks like the example shouldn't have the trailing ``=``, as one can say:

[code]

Probably same for GitHub style web hook as wel

[2016-04-16 15:00] #8526 closed

[2016-04-16 15:39] fabianofranz commented on #8487
@smarterclayton can you confirm the web console (project overview) behaves correctly in the same scenario?

[2016-04-16 18:01] smarterclayton commented on #8487
Yes

On Apr 16, 2016, at 11:39 AM, Fabiano Franz <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> can you confirm the web
console (project overview) behaves correctly in the same scenario?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/8487#issuecomment-2108412

[2016-04-16 21:36] GrahamDumpleton opened #8536 "Enabling WebHooks from web console doesn't add Generic WebHook."
On 1.1.6 in all in one VM, if you create a build configuration via a template in web console and you do not include triggers for WebHooks in templates, then none is included as expected.

If you now go into the Edit page of the build configuration through the web console and select:

* Enable the webhook build trigger

then that only adds a GitHub WebHook and does not add or provide a way of addin

[2016-04-17 19:23] JohnKelty commented on #7973
Hi, I am receiving a DP1003 error, and this thread is about the only information on that error I can find from a google search.  I am rather new to Openshift Origin so was wondering, if you could summarize what if anything from this thread addressed your DP1003 issue.  I'm on OC 1.1.5 but hopefully it will translate across those versions.

Thanks,
John

[2016-04-17 19:25] paralin commented on #7973
@JohnKelty you should be getting more of an output than just a error code, right? Do you have any logs or other info?

[2016-04-17 19:27] JohnKelty commented on #7973
My full diagnostic output is:
[code]

[2016-04-17 19:30] paralin commented on #7973
@JohnKelty There's something wrong with how your cluster was deployed, it's attempting to hit the internal nameserver and getting "no route to host", so you need to check that the 10.x CIDR is being routed properly (that's the internal pod IP range).

[2016-04-17 19:53] JohnKelty commented on #7973
@paralin Thanks for the quick tip.  I'm going to look into this with my network expert and will let you know how it goes.

[2016-04-18 02:40] danni opened #8537 "Retrieve build metadata (image labels) from downwards API"
It would be useful to get the build metadata (as shown on the overview) in the downward API for a pod, so that it can be included in error and performance reports.

[2016-04-18 08:37] soltysh commented on #8399
@miminar good catch, now that we have the import output this is what we got:
`import failed: you may not have access to the Docker image "mysql:latest`
We're currently being hit by this problem in two different places:

1. at import time
1. at pull time

To nail the problem we'd have to log entire traffic between us and docker registry. It looks like docker registry is sometimes blocking us, requi

[2016-04-18 09:23] soltysh commented on #8399
For no 1. we could modify our tests in such a way that if it detects unauthorized error it'll retry, no idea how to address no 2. without code modifications, yet.

[2016-04-18 09:53] augabet opened #8542 "Pacemaker to Native : Kubernetes endpoints are not updated when a master is down"
We switched our **two masters from Pacemaker to Native**, running the ansible playbook, and following [the documentation](https://docs.openshift.org/latest/install_config/upgrading/pacemaker_to_native_ha.html).

When we are stopping **one of both** masters, the **kubernetes endpoint still references both masters**, making deploy **failing one in two requests**. The masterCount in the master-config

[2016-04-18 11:37] danmcp commented on #8533
Fixed.

[2016-04-18 11:37] #8533 closed

[2016-04-18 12:39] brenton commented on #8542
@abutcher, @sdodson The upcoming DNS work that's landing should address this, right?

[2016-04-18 12:55] sdodson commented on #8542
The dnsmasq work i'm doing relies on the kubernetes service ip being available to answer skydns queries. I guess we could switch that work to use either the master IP or the master VIP instead. As long as haproxy does the right thing that'd help. However I'm not sure that we can expect everyone to have 8053 open on their master VIP, we'd have to ammend our documentation.

Here's the bug that deals

[2016-04-18 13:04] jwforres commented on #8536
This just seems like a bug, we set up both from the initial create flow.

[2016-04-18 13:26] smarterclayton commented on #8399
Has the integration test flaked recently?

[2016-04-18 13:28] abutcher commented on #8542
Upstream PR from the bug: https://github.com/kubernetes/kubernetes/pull/20975

[2016-04-18 13:29] smarterclayton commented on #8399
Can we get more tracing in those cases?   Possibly the entire response body
and headers so we can compare?

On Apr 18, 2016, at 5:23 AM, Maciej Szulik <notifications@github.com> wrote:

For no 1. we could modify our tests in such a way that if it detects
unauthorized error it'll retry, no idea how to address no 2. without code
modifications, yet.

—
You are receiving this because you were mentione

[2016-04-18 13:35] deads2k commented on #7592
I'd really like this command to do a priority order search for locating "a thing with a podspec with the name foo". This is an uncommon command and when I use it I really want it to "just work". Given the weight of what its going to be doing afterwards, running a series of GETs to find a pod or rc or dc seems like it would be a nice feature.

[2016-04-18 14:04] soltysh commented on #8399
That's what I was thinking about, but not sure if it's possible post-mortem. I'll dig into it.

[2016-04-18 14:36] bparees commented on #8537
@danni so you want to be able to create a pod who's definition includes references to fields/metadata from an existing Build object in your namespace?

[2016-04-18 14:47] ncdc commented on #8542
@sdodson "cluster vip" meaning what specifically here? cc @smarterclayton

Assuming the solution in pr 20975 for bz 1300028  is sufficient, I would like to close this so we don't have 2 places tracking the same bug.

[2016-04-18 15:12] sdodson commented on #8542
The hostname of the load balancer in front of our api-servers. +1 to just fixing kube svc endpoint

[2016-04-18 17:21] jeremyeder opened #8547 "Using nodeallocatable allocatable memory"
Before:
[code]

Set a system-reserve and restart the node service:
[code]

Check if it was set properly:
[code]

The allocatable CPU makes sense.  The allocatable memory does not.  I was expecting capacity:memory minus 1024^2 Ki (it's close, but not exact).

Now...if I change it to Gi instead of just G (the example in the docs is just 'G', it keeps the Ki unit suffix and the number is lower than t

[2016-04-18 18:27] jhadvig opened #8551 "Properly handle multiple webhook triggers for a BuildConfig"
Currently the buildConfig trigger array can hold multiple triggers per one type - eg. multiple github/generic triggers. This could lead to a confusion since there is no point to have multiple triggers of one type and so it should be limited one per type.
Based on conversation with @bparees

[2016-04-18 18:28] liggitt commented on #8551
not true... I like being able to trigger builds from different repos with different secrets so I can revoke just one

[2016-04-18 18:29] bparees commented on #8551
@liggitt well you can't today since the existing implementation is broken :)

[2016-04-18 18:30] liggitt commented on #8551
then we should fix that

[2016-04-18 18:48] bparees commented on #8551
the issue here is this code:
https://github.com/openshift/origin/blob/master/pkg/build/webhook/generic/generic.go#L27
(and the equivalent in the github webhook) which just finds the first trigger of type Generic and tries to match the secret against it.

I guess we should be iterating all the triggers of type Generic and checking if the supplied secret matches any of them, though something about t

[2016-04-18 19:01] #8534 closed

[2016-04-18 19:42] smarterclayton commented on #8166
Haven't seen this

[2016-04-18 19:42] #8166 closed

[2016-04-18 19:54] smarterclayton commented on #7429
Going to add debugging - if I can find a run of it.

[2016-04-18 19:57] smarterclayton commented on #8444
This is lower priority because this is calling our legacy `pkg/dockerregistry` code path (we use ImageStreamImport everywhere else now).  However, ImageStreamImport calls pkg/dockerregistry, so this may expose a crazy legacy flake

[2016-04-18 19:57] smarterclayton commented on #8367
Is this still failing?

[2016-04-18 19:58] smarterclayton commented on #8302
I *think* this s resolved now.

[2016-04-18 19:58] smarterclayton commented on #8302
This was the cgroup race I believe.

[2016-04-18 20:15] bparees commented on #8367
yes, looks like it recently failed here waiting for deployment:
https://ci.openshift.redhat.com/jenkins/job/origin_extended/818/testReport/junit/%28root%29/Extended/_images__mongodb__openshift_mongodb_image_creating_from_a_template_should_process_and_create_the___data_src_github_com_openshift_origin_examples_db_templates_mongodb_ephemeral_template_json__template/

[2016-04-18 21:08] crobby opened #8554 "Contributing doc for using vagrant as dev environment fails on fedora 23"
When following https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant on a fresh fedora 23 machine, things seem to work until I attempt to access https://localhost:8443, I only see the following error.

##### Version
openshift v1.1.6-46-g9eaae7c-dirty
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

##### Steps To Reproduce
1. Follow the guide at https:

[2016-04-18 21:09] liggitt commented on #8554
accessing an https server using self-signed certificates will show that prompt

[2016-04-18 21:21] smarterclayton commented on #8399
[code]
STEP: dockercfg with svrAddr 172.30.165.70:5000 user serviceaccount pass eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJleHRlbmRlZC10ZXN0LWZvcmNlcHVsbC1oYmtjeC00djh2aSIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJidWlsZGVyLXRva2VuLXRzbzlqIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ

[2016-04-18 21:22] smarterclayton commented on #8399
This kind of looks like a race condition.

[2016-04-18 21:26] smarterclayton commented on #8444
If anyone sees this again please look for the debugging output I added in #8552

[2016-04-18 21:29] smarterclayton opened #8555 "oc new-app -f - should accept template files (only)"

[2016-04-18 21:29] crobby commented on #8554
I do not get an option to bypass/accept it like I do on other sites with
self-signed certs.  I see similar behavior on both firefox and chrome.

The Firefox error looks like this:
Secure Connection Failed

The connection to localhost:8443 was interrupted while the page was loading.

    The page you are trying to view cannot be shown because the
authenticity of the received data could not be verif

[2016-04-18 21:37] liggitt commented on #8554
What details are under the "learn more" link?

[2016-04-18 21:54] crobby commented on #8554
It is a link to:
https://support.mozilla.org/en-US/kb/what-does-your-connection-is-not-secure-mean

On Mon, Apr 18, 2016 at 5:37 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-04-18 21:58] liggitt commented on #8554
Are you accessing the console with either the --master or --public-master address (or the detected master IP if you aren't providing either of those?)

[2016-04-18 22:03] crobby commented on #8554
Per the guide, I'm using `sudo `which openshift` start
--public-master=localhost &> openshift.log`

Netstat on my host shows:
netstat -anp | grep 8443
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
tcp        0      0 127.0.0.1:8443          0.0.0.0:*
LISTEN      12561/ssh
tcp6       0      0 ::1:8443                :::*

[2016-04-18 22:11] danni commented on #8537
The metadata the overview shows, those docker image LABELs. Maybe the image
LABELs could be written into the annotation.

The sort of things I'm looking to record in our monitoring is what build an
error/performance issue is associated with. Also the SCM labels would be
useful so I don't need to have Git in my container to retrieve them.

On Tuesday, 19 April 2016, Ben Parees <notifications@github

[2016-04-18 22:12] crobby commented on #8554
Ok, maybe on to "something".  On my vagrant box, whenever I try to connect
via my browser to https://localhost:8443, my journalctl -f gives me the
following line:

Apr 18 22:09:53 localhost.localdomain sshd[2042]: error: connect_to
192.168.121.215 port 8443: failed.  For what it's worth 192.168.121.215 is
the IP address of the vagrant box.

Seems to point to a potential network/firewall issue or m

[2016-04-18 22:13] crobby commented on #8554
Also noteworthy perhaps, on my vagrant machine, netstat is not showing port
8443, so it makes sense that nothing could  connect to that port.

On Mon, Apr 18, 2016 at 6:12 PM, Chad Roberts <croberts@redhat.com> wrote:

[2016-04-18 22:42] sosiouxme commented on #8555
[code]

The error is fairly confusing too.

[2016-04-18 23:21] dragon9783 opened #8556 "Integrated sky dns can't resolve service short hostname in pod"
[Description]
Integrated sky dns can't resolve service short hostname in pod

##### Version
Openshift 1.1.6

##### Steps To Reproduce
1.  oc get service
2.  oc rsh pod-name
3. ping service-name (short hostname), can't resolve
4. ping service-name.project-name.svc.cluster.local, resolve correct ipaddress

##### Current Result
can't resolve with service short hostname
##### Expected Result
resolve s

[2016-04-18 23:44] dragon9783 commented on #8122
Upgrade openshift origin need reboot ? I run a small containerized cluster , also need to reboot master after upgrade.

[2016-04-19 01:17] smarterclayton commented on #8444
Debug output:

[code]

[2016-04-19 01:21] smarterclayton commented on #8444
So this looks like some sort of race condition with the docker registry - we have a valid token, but then we get a 401 from the registry.  I bet this is also happening on import.  I think what we need to do is track when we have a token and the age on it - then retry if it's within a window.  If it's a truly public image, and we get this error, we should retry a lot more times - there is no reason

[2016-04-19 02:46] smarterclayton commented on #8444
Looks like a transient flake in the registry:

[code]

We import two, back to back, then fail on one.  We succeed first, then fail second, which may be token propagation or possibly even that one of the Hub registry services has a clock skew and is rejecting newly minted tokens.

[2016-04-19 02:49] smarterclayton commented on #8444
I'm going to try to do a confined fix - where if we get a 401, we retry a few times - and if we've successfully pulled an image we replenish the retry.  Or something complex like this.  I assume this may also happen on the protected registry, and on docker trusted registries.

[2016-04-19 05:02] smarterclayton commented on #8444
I think I have a fix.  Was able to consistently recreate it, it's around ~1/200 calls to the hub, and usually happens on the first request to the hub after getting an auth token.

[2016-04-19 05:05] smarterclayton commented on #7429
Fix in https://github.com/openshift/origin/pull/8558

[2016-04-19 05:06] smarterclayton commented on #8399
I think this is fixed in https://github.com/openshift/origin/pull/8558, the docker hub occasionally returns 401 on import.  Need to clean the fix up and make it even more targeted (discuss whether to preserve this for DTR, which I bet has this problem as well).

[2016-04-19 05:07] smarterclayton commented on #8444
I'll need to have a separate bit of code for pkg/dockerregistry - debating whether it's even worth it since we only call the v2 code path in that one test.  I may just switch the test to imagestreamimport and declare the old code path for pkg/dockerregistry dead.

[2016-04-19 10:27] jimmidyson commented on #8556
This can be to do with the base image you're using. One example is if you're using Alpine Linux as a base image this has different semantics in how it tries to resolve addresses, e.g. only uses DNS search domains in alpine:edge IIRC.

[2016-04-19 11:42] danni commented on #7784
I can't reproduce this any more since upgrading to Openshift v1.1.5.

[2016-04-19 11:42] #7784 closed

[2016-04-19 14:44] smarterclayton commented on #8556
We have a fix for this in https://github.com/openshift/origin/pull/8474 where we switch to recursive by default

[2016-04-19 15:01] kargakis opened #8559 "oc status take on host ports and deployments"
and

@deads2k forked from https://github.com/openshift/origin/issues/8338 which is a different issue.

[2016-04-19 15:02] kargakis commented on #8338
Opened https://github.com/openshift/origin/issues/8559 for the second part of this issue.

[2016-04-19 15:04] deads2k commented on #8559
@smarterclayton would be possible with a server-side graph API.

[2016-04-19 15:33] crobby commented on #8554
Ok...I tried these same steps on an Ubuntu 15 machine and I got an instance up and running.  When I ran the openshfit start command there [where it worked], I got the following in openshift.log

Generated new key pair as openshift.local.config/master/serviceaccounts.public.key and openshift.local.config/master/serviceaccounts.private.key
W0419 15:23:24.017173   22886 start_master.go:270] assetConf

[2016-04-19 16:50] #8391 closed

[2016-04-19 17:12] marun commented on #8132
@danmcp I think this can be closed.

[2016-04-19 17:26] #8132 closed

[2016-04-19 17:31] fabianofranz opened #8561 "Validate oc on PowerShell for Windows"
Brought up to @soltysh by an user in one of the OpenShift Workshops. It seems that `oc` doesn't work on PowerShell for Windows at all, we need to test it to check the issues and decide if we want to support it, or either make it clear we don't.

[2016-04-19 19:32] mrunalp commented on #8427
Looking into systemd as possible cause per the debug output.

[2016-04-19 20:01] fabianofranz commented on #8487
This fixes the issue and re-enable monopods on status: https://github.com/openshift/origin/pull/8563

[2016-04-19 20:08] soltysh commented on #8561
@marekjelen fyi

[2016-04-19 22:07] PI-Victor commented on #8551
i'm on it, will submit a PR shortly.

[2016-04-19 23:51] dragon9783 commented on #8556
Thanks for your response

[2016-04-19 23:51] #8556 closed

[2016-04-20 03:53] GrahamDumpleton opened #8568 "S2I build should not fail when group set in USER of Dockerfile."
It appears that S2I uid validation for an S2I builder may assume that the USER directive in a Dockerfile will only ever be set to a single integer value.

The USER directive can though also be provided a group. For example:

[code]

There is no reason why providing a group as either an integer or named group should stop S2I working as it is only the user that it needs to validate.

There may be re

[2016-04-20 09:57] kargakis opened #8569 "kubelet spam"
Deleted a deployment that was using emptyDir (https://raw.githubusercontent.com/openshift-qe/v3-testfiles/master/deployment/testhook.json) and since then kubelet hasn't stopped logging stuff like the following - it seems to have ended up in a loop:

[code]

@ironcladlou not sure why but this is fairly easy to reproduce with the setup you suggested to me

[2016-04-20 11:23] soltysh commented on #7429
I'm reopening since we're reverting changes from #8558, @smarterclayton please link this issue in your new PR.

[2016-04-20 12:55] jimmidyson commented on #8511
I've tried adding a blank import of `_ k8s.io/kubernetes/pkg/apis/extensions/batch` & v1 too to  `Godeps/_workspace/src/k8s.io/kubernetes/pkg/apis/extensions/install/install.go` - no luck. Also tried adding it to `tools/genconversion/conversion.go` but again no luck. Any pointers?

[2016-04-20 13:14] kargakis commented on #8338
Is this a dupe of https://github.com/openshift/origin/issues/6357?

[2016-04-20 13:16] kargakis commented on #8302
Open if you see it again.

[2016-04-20 13:16] #8302 closed

[2016-04-20 13:31] stevekuznetsov opened #8571 "Infrastructure Flake on Jenkins when building openshift/node image: [Errno -1] repomd.xml does not match metalink for epel"
When building the openshift/node docker image:

[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/208/console

[2016-04-20 13:43] deads2k commented on #8338
Not quite.  I'll have `to` and `from` without any build-chain at all.

[2016-04-20 14:01] augabet commented on #8542
Thank you all. We will use Pacemaker waiting the K8S PR then. What do you think about a warning in the Openshift Origin documentation ?

[2016-04-20 14:25] stevekuznetsov opened #8573 "Jenkins Integration Test Flake: TestPodNodeConstraintsAdmissionPluginSetNodeSelectorClusterAdmin"
Seen at https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/207/
[code]

[2016-04-20 14:36] crobby commented on #8554
Ok, somehow, this is working for me now.  I might have been issuing the start openshift command from the wrong directory, that's the only thing I can think of, which I wouldn't think would make the difference, but it certainly did in my case.  I'm happy to close this.

[2016-04-20 14:36] #8554 closed

[2016-04-20 14:52] spadgett commented on #6191
Fixed by https://github.com/jwforres/origin/pull/57

[2016-04-20 14:52] #6191 closed

[2016-04-20 16:25] stevekuznetsov opened #8576 "Jenkins Integration Test Flake: TestBuildOutputCycleDetection"
Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/222/

[code]

[2016-04-20 16:30] sosiouxme opened #8577 "`oc new-app -p` is inconsistent with `oc process -v`"
`oc new-app` and `oc process` use a different flag name for the same concept of supplying template parameters. Since they both do the same thing with templates, this should be consistent.
##### Version

oc v1.1.6-88-gbaf4504
kubernetes v1.2.0-36-g4a3f9c5
##### Steps To Reproduce
1. `oc new-app -h |& grep pairs`
2. `oc process -h |& grep pairs`
##### Current Result

[code]
##### Expected Result

[c

[2016-04-20 16:32] sosiouxme commented on #8577
@csrwng your opinion welcome...

[2016-04-20 17:06] csrwng commented on #8577
@sosiouxme I would tend to favor -p just because -v means verbose in a lot of other commands, and they are template 'parameters' (https://github.com/openshift/origin/blob/master/pkg/template/api/types.go#L16). But I agree that either way, we should make them consistent.

[2016-04-20 17:33] sosiouxme commented on #8577
Yeah it's fine with me either way.

[2016-04-20 17:39] smarterclayton commented on #8576
This is a dupe of #8558

[2016-04-20 17:39] #8576 closed

[2016-04-20 17:40] smarterclayton commented on #8436
Dupe of https://github.com/openshift/origin/issues/7429

[2016-04-20 17:40] #8436 closed

[2016-04-20 17:40] smarterclayton commented on #8433
Dupe of https://github.com/openshift/origin/issues/7429

[2016-04-20 17:40] #8433 closed

[2016-04-20 17:55] stevekuznetsov commented on #8576
@smarterclayton you linked a PR of yours... not an issue. what's the correct dupe? Nothing comes up with a  `TestBuildOutputCycleDetection` search.

[2016-04-20 17:59] smarterclayton commented on #8576
Follow the PR chain.  It was unable to import an image.

[2016-04-20 18:12] spadgett commented on #8573
That's an impressive test name.

[2016-04-20 19:38] spadgett opened #8578 "Long, unbroken words in events page are clipped"
![screen_shot_2016-04-19_at_10_08_09_am](https://cloud.githubusercontent.com/assets/1167259/14687916/da45a99e-070d-11e6-8019-ee535c648e9e.png)

@jwforres @sg00dwin

[2016-04-20 20:06] ibotty commented on #6331
@rootfs I personally like to specify the gluster endpoints separately, it is an abstraction I do like and use. What about adding a `namespace` key, so that the `default` glusterfs endpoint can be chosen, also from pods in a different namespace.

[2016-04-20 21:50] sdodson opened #8581 "Cannot push to registry based on dns"
Builds cannot push to the registry when OPENSHIFT_DEFAULT_REGISTRY=docker-registry.default.svc.cluster.local because they at least lack secrets, possibly other things. I wasn't able to follow all the technical details, but for some reason secrets aren't generated when using dns name.

There may be other issues too. @liggitt and @csrwng mentioned these as being related
https://github.com/openshift/

[2016-04-20 22:01] smarterclayton opened #8582 "Swagger generation fails due to bind address already used"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/232/console

[code]

@deads2k

[2016-04-20 23:54] GrahamDumpleton commented on #8568
Any idea how complicated this may be to fix and how long it would take?

In trying to get Jupyter Notebooks working out of the box with the official images, this may well end up being the primary blocker. That is, they rely on the user the container runs as being in ``users`` group for file system permissions.

I don't necessarily think they get it totally right as the don't actually specify the g

[2016-04-21 04:02] smarterclayton opened #8584 "Test flake in jobs extended test"
Extended test uses the DockerHub perl image, which takes more than 2minutes to pull sometimes, which causes it to fail.

We should switch to an image we have and do a simpler test (centos or origin, test bash).

@soltysh can you knock this one out real quick so we can finally get origin_extended passing?

[code]

[2016-04-21 05:19] smarterclayton commented on #8491
Nm, put a fix up

[2016-04-21 07:23] jpechane commented on #8083
I made a copy of anyuid SCC and removed KILL drop capability. The image works then correctly.

[2016-04-21 09:19] jorgemoralespou commented on #8446
It seems to be related with this setting in Vagrantfile on F23:

[code]

[2016-04-21 09:19] #8446 closed

[2016-04-21 10:19] ibotty commented on #7978
Well, it works now with docker image openshift/node:v1.1.6. It does not include gluster packages, so whatever it was, it's working now.

[2016-04-21 10:19] #7978 closed

[2016-04-21 10:22] ibotty commented on #6499
Fixed: current-release

[2016-04-21 10:22] #6499 closed

[2016-04-21 12:26] soltysh commented on #8039
It's being addressed in https://github.com/kubernetes/kubernetes/pull/24382

[2016-04-21 12:30] soltysh commented on #7619
Seen in: https://ci.openshift.redhat.com/jenkins/job/test_pr_origin_extended/83/consoleFull

[2016-04-21 13:07] bparees commented on #8083
thanks @jpechane!

@rhatdan @smarterclayton so is there a good reason not to make that the default?

[2016-04-21 13:21] bparees commented on #8568
i'm guessing it should be fairly easy to add `\d+:{0,1}\d*` to the list of supported regexes (ok i'm not positive on that syntax, but you get the idea), though i am wondering if it exposes any additional risk for users masquerading 1001:100 as uid 0.

[2016-04-21 13:26] bparees commented on #8568
@GrahamDumpleton would you need this in 3.2 or origin is fine?

[2016-04-21 14:56] kargakis commented on #6458
https://github.com/kubernetes/kubernetes/issues/11994 might be useful for this

[2016-04-21 15:42] timothysc commented on #8392
Closing as https://github.com/openshift/origin/pull/8395 fixes this.

[2016-04-21 15:43] timothysc commented on #7845
There is a lot less cpu-saturation post https://github.com/openshift/origin/issues/8392

[2016-04-21 16:33] jawnsy commented on #8568
Just adding a reference to the PR that fixes this: https://github.com/openshift/source-to-image/pull/471

[2016-04-21 16:39] bparees commented on #8568
@jawnsy that PR does not fix this since this issue is against origin.  we will need to do a bump of the s2i deps in origin (after that PR merges) to pick up the change before this is fixed.

[2016-04-21 16:43] jawnsy commented on #8568
@bparees Fair enough, it's only half the fix, with the dependency bump being the remaining half.

[2016-04-21 16:51] kargakis commented on #8329
@eparis assigning to @JacobTanenbaum for the set limits command

[2016-04-21 17:23] smarterclayton opened #8589 "Test flake in integration test TestRunOnceDurationAdmissionPluginProjectLimit"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/256/console

[code]

@csrwng

[2016-04-21 18:34] rootfs commented on #6331
sure, i'll look into that. @smarterclayton

[2016-04-21 18:43] ncdc commented on #7424
When you SSH to a server, part of the SSH protocol includes retrieving the client's TERM and sending that over the wire to the SSH server. When the SSH server starts bash for you, it sets up the process's environment to include the TERM it received from the client.

When you `docker run -it`, Docker will set up TERM for you.

When you `docker exec -it`, Docker executes a process that inherits the

[2016-04-21 19:01] bparees commented on #7424
option (3) seems expedient and no worse than the current behavior (dumb terminal).

i always like vt100 as a default term value myself, as a pure lowest common denominator.

[2016-04-21 19:02] ncdc commented on #7424
I think 3 is the best option. I'm currently working on terminal resizing support, so that + 3 will be a nice win.

[2016-04-21 19:22] caruccio commented on #7424
#3 looks good for me too.
Maybe a flag (-t $TERM ?) could be useful.
Em 21/04/2016 16:02, "Andy Goldstein" <notifications@github.com> escreveu:

[2016-04-21 19:37] csrwng commented on #8589
The admission control plugins that throws this error is using a cache:
https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/plugin/pkg/admission/serviceaccount/admission.go#L294
while the code we run to ensure the token is ready uses the API directly:
https://github.com/openshift/origin/blob/master/test/util/server/server.go#L404

We can introduce retry logic to

[2016-04-21 19:47] deads2k commented on #8589
I think I'd rather see a live check on a miss.  It should a single call on misses, so the fanout wouldn't be too bad.

if @liggitt complains about a fanout of one on failures, add a per-user LRU remembering how many live-lookups you've done to prevent abuse.  I doubt he'll care about a fanout of one case.

[2016-04-21 20:48] rhcarvalho commented on #7424
Does it need to be `bash` for this to work? We had agreed to use `/bin/sh` whenever possible -- that's what we use in build hooks.

[2016-04-21 20:49] ncdc commented on #7424
Presumably it'd be ok with `sh` too. Would need to test

[2016-04-21 21:48] liggitt commented on #8581
the dockercfg format is keyed by server, and the generated secrets for the internal registry only include the registry service IP, not the internal hostname(s) or any hosts for routes pointing at the registry service. @deads2k had https://github.com/openshift/origin/pull/6385 in progress as a first refactor to begin allowing using the generated dockercfg secrets to automatically match the dns name

[2016-04-21 21:51] GrahamDumpleton commented on #8568
Having it in Origin is fine. Right this minute happy that is an S2I fix. If can just get new s2i binary with change I can test on straight Docker whether that will be sufficient for me to get Jupyter working with minimal changes.

[2016-04-21 22:48] smil2k opened #8593 "null refernce in case docker manifest does not contain "signatures" section"
I've tried to import-image an imagestream which is connected to a nexus3 docker repo.

##### Version
oc v1.1.6
kubernetes v1.2.0-36-g4a3f9c5

##### Steps To Reproduce
1. oc image-import
2. exception comes

##### Current Result

[stacktrace on the server](https://github.com/openshift/origin/files/230844/stacktrace.txt)
[manifest file](https://github.com/openshift/origin/files/230847/latest.json.txt

[2016-04-21 23:31] smarterclayton commented on #8083
@pmorie and I could not think of a reason within a pid namespace for
uid 0 to not have kill.

[2016-04-21 23:46] GrahamDumpleton commented on #8568
Based on some tests I don't think this change will actually be enough.

The next problem is how Docker works when the ``-u`` option is supplied.

If a ``Dockerfile`` for an S2I builder used:

[code]

When you do a straight ``docker run`` then the identity of the user on the container will be:

[code]

So is inherited from the ``USER`` meta data from Docker image.

If however you supply the ``-u``

[2016-04-22 00:45] GrahamDumpleton commented on #8568
Taken this latter issue to aos-devel to try and get wider comment.

[2016-04-22 01:02] andrewklau commented on #8336
Origin 1.2.0-rc-1 seems to have the fix but doesn't fix the issue, also the workaround you found earlier no longer seems to be valid, directory paths seem to have changed.

[2016-04-22 01:54] alberttwong opened #8595 "No easy way to create or build json templates"
So I am building an aspnet template for OpenShift.   How I went about it was create a working project and then export those settings out to create a template that others can use.   This didn't work out that well.
##### Version

OSE 3.1
##### Steps To Reproduce
1. [step 1]
2. [step 2]
##### Current Result
##### Expected Result
##### Additional Information

 I think I have everything right but it wo

[2016-04-22 02:23] smarterclayton commented on #8593
@miminar @legionus

[2016-04-22 02:25] smarterclayton opened #8596 "Extended flake `manifest unknown` when trying to pull base image for build"
In "Extended.[builds][pullsecret][Conformance] docker build using a pull secret Building from a template should create a docker build that pulls using a secret run it"

https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/origin_extended/lastCompletedBuild/testReport/(root)/Extended/_builds__pullsecret__Conformance__docker_build_using_a_pull_secret_Building_from_a_template_should_

[2016-04-22 02:25] smarterclayton commented on #8596
@mfojtik

[2016-04-22 02:49] liggitt commented on #4417
fixed in 1.6

[2016-04-22 02:49] #4417 closed

[2016-04-22 02:50] liggitt commented on #4687
dupe of https://github.com/openshift/origin/issues/3336

[2016-04-22 02:50] #4687 closed

[2016-04-22 02:51] liggitt commented on #5114
closing since I can't reproduce this, and due to age. please reopen if you still see this

[2016-04-22 02:51] #5114 closed

[2016-04-22 02:52] liggitt commented on #4973
everything but GetRequestAttributes is resolved upstream, and we don't plan to expand use of GetRequestAttributes

[2016-04-22 02:52] #4973 closed

[2016-04-22 02:53] liggitt commented on #5914
logging improved in https://github.com/openshift/origin/pull/7425

[2016-04-22 02:53] #5914 closed

[2016-04-22 03:12] liggitt commented on #8392
actually close?

[2016-04-22 05:45] bparees commented on #8083
Ok, who should own this to make the change?

[2016-04-22 06:37] #8584 closed

[2016-04-22 08:00] kargakis commented on #8444
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/257/consoleFull

[2016-04-22 09:22] miminar commented on #8593
Fixed by #8599.

[2016-04-22 10:54] dragon9783 commented on #8321
@xuant could you tell me how to configure openshift node service with calico network plugin details , following  your steps, i got error when origin node start. Related Issues: https://github.com/openshift/openshift-sdn/issues/298, thanks

[2016-04-22 12:24] Cicatrice opened #8600 "Unexpected builds when pushing on Git repo"
I configured OpenShift to automatically build a service when a push request is send to a git repo using webhooks provided. But when I push on a branch, all the build processes run, even if there is no modification pushed on their branch.

##### Version
openshift v1.1.6-48-g561e4fa
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

##### Steps To Reproduce
1. Add the builds in the attached zip file
[openshi

[2016-04-22 12:36] soltysh commented on #8600
The [1st comment](http://stackoverflow.com/a/36793088/606583) is also relevant to the bug, since the user tried `refs/heads/dev`:

Thanks for your comment. I tried using format ref/heads/dev, but I get the following error in log Error: build error: error: pathspec 'refs/heads/dev' did not match any file(s) known to git.. By the way, build has run also on prod and master env. I will try to open a b

[2016-04-22 12:37] Cicatrice commented on #8600
@soltysh thanks, I actually wrote this comment few minutes ago :)

[2016-04-22 12:38] smarterclayton commented on #8083
@pweil- probably.

[2016-04-22 14:24] stevekuznetsov commented on #8499
@csrwng what was your proposed fix for this? I can take a stab at it if you think I've got enough knowledge about `new-app`

[2016-04-22 14:39] csrwng commented on #8499
@stevekuznetsov My first thought would be to set a timeout on the 'git ls remote' call:
https://github.com/openshift/origin/blob/master/pkg/generate/git/repository.go#L199

[2016-04-22 15:14] stevekuznetsov commented on #8499
`git ls-remote` doesn't seem to support a timeout natively, we can add one on top of the exec call. What do you think is a reasonable timeout? 20s?

[2016-04-22 15:17] csrwng commented on #8499
I'd prefer shorter, 10s sounds good. Otherwise I think it's a bad experience for the CLI user.

[2016-04-22 15:49] stevekuznetsov commented on #8499
I'm thinking we could make a timer with a `switch/case` and `time.After` in [`command()`](https://github.com/openshift/origin/blob/master/pkg/generate/git/repository.go#L294). This would however break the return value -- it isn't necessarily a `git` error anymore.

[2016-04-22 15:55] csrwng commented on #8499
I don't think we want the timeout for other calls... a clone could take a while. Why not at the ListRemote level?

[2016-04-22 16:02] stevekuznetsov commented on #8499
Ah, if we don't want it for other commands, sure. I'll do that.

[2016-04-22 16:46] smarterclayton opened #8606 "Test flake in kubernetes etcd.TestGuaranteedUpdate_CreateCollision"
Kube pkg/storage took longer than 2 minutes in https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5660/console, the test was at etcd.TestGuaranteedUpdate_CreateCollision but it may have just run long.

The test needs to take less time.

[2016-04-22 17:14] alberttwong commented on #8595
https://docs.openshift.com/enterprise/3.0/dev_guide/templates.html#export-as-template says it'll work but it doesn't.

[2016-04-22 18:07] #7429 closed

[2016-04-22 18:13] smarterclayton commented on #8303
@liggitt did we fix this or change in any way?

[2016-04-22 18:14] gabemontero opened #8609 "semantic version tag breaking regsitry start"
@smarterclayton - per the dev list email exchange, opening this issue to track the fix you are working on.

Details:

E0422 13:18:25.771505    1184 manager.go:1858] Failed to create pod infra container: ImagePullBackOff; Skipping pod "docker-registry-1-deploy_default(257b451d-08ae-11e6-bf78-68f7287398a7)"
E0422 13:18:25.771558    1184 pod_workers.go:138] Error syncing pod 257b451d-08ae-11e6-bf78-6

[2016-04-22 18:15] smarterclayton commented on #8078
This is fixed, it was a race in the DC

[2016-04-22 18:16] smarterclayton commented on #8027
I think this is fixed by the other deployment config fixes.  Going to close for now.

[2016-04-22 18:16] #8027 closed

[2016-04-22 18:17] smarterclayton commented on #7729
This is effectively fixed by #8558, so changing the title.

[2016-04-22 18:18] smarterclayton commented on #7706
Not related to #8558 - will need a separate fix.

[2016-04-22 18:20] smarterclayton commented on #7279
I stopped pulling them, will roll this up in a later issue to reenable more tests as we scale out the test infra.

[2016-04-22 18:20] #7279 closed

[2016-04-22 18:20] smarterclayton commented on #6447
I think this is resolved now.

[2016-04-22 18:20] #6447 closed

[2016-04-22 18:21] smarterclayton commented on #6077
This is the etcd timeout issue.

[2016-04-22 18:21] #6077 closed

[2016-04-22 18:21] smarterclayton commented on #6053
Do we know what the cause of this is?

[2016-04-22 18:21] smarterclayton commented on #6040
Closing because this isn't really actionable without undue effort.

[2016-04-22 18:21] #6040 closed

[2016-04-22 18:22] smarterclayton commented on #6031
The LDAP job needs to get david's etcd fix thing.

[2016-04-22 18:22] smarterclayton commented on #5930
Still happening?

[2016-04-22 18:22] smarterclayton commented on #5605
Fixed

[2016-04-22 18:22] #5605 closed

[2016-04-22 18:23] smarterclayton commented on #5352
I'm going to consider this effectively fixed unless someone knows otherwise.

[2016-04-22 18:23] #5352 closed

[2016-04-22 18:23] smarterclayton commented on #3624
We've moved some to integration.  For now, this is unactionable.

[2016-04-22 18:26] liggitt commented on #8303
not that I know of

[2016-04-22 18:32] stevekuznetsov commented on #6731
@kargakis it's not clear to me which controller(s) should call the cleanup logic.

[2016-04-22 18:37] jwforres commented on #6053
nope, google has failed me many times trying to resolve this.

On Fri, Apr 22, 2016 at 2:21 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-22 19:24] xuant commented on #8321
@dragon9783
You need to add the network config:
[code]
And replace <CALICO_ETCD_LOCATION>.

[2016-04-22 19:55] kargakis commented on #6731
@stevekuznetsov the main deploymentconfig controller should handle this.

[2016-04-22 20:19] smarterclayton opened #8613 "HEAD on the docker registry for a pull through image looks like it is downloading contents"
That's bad.  Or at least not good.

[2016-04-22 21:01] #8609 closed

[2016-04-23 00:24] smarterclayton commented on #8367
Failing again, I'm going to kick it out of the suite unless we know why https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/origin_extended/lastCompletedBuild/consoleFull

[2016-04-23 01:33] #8491 closed

[2016-04-23 11:27] Anandanr commented on #6855
Hi, When I trying to add public master like follows, no success. any clue.
root@apachestratos-1a:~# docker run -d --name "origin"         --privileged --pid=host --net=host     --public=master=https://10.10.103.246:8443  -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /var/lib/docker:/var/lib/docker:rw         -v /var/lib/origin/openshift.local.volumes:/var/lib/origin/openshift.local.volum

[2016-04-23 11:27] Anandanr commented on #2848
Hi, When I trying to add public master like follows, no success. any clue.
root@apachestratos-1a:~# docker run -d --name "origin"         --privileged --pid=host --net=host     --public-master=https://10.10.103.246:8443  -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /var/lib/docker:/var/lib/docker:rw         -v /var/lib/origin/openshift.local.volumes:/var/lib/origin/openshift.local.volum

[2016-04-23 12:11] jwforres commented on #6855
You have --public=master=https://10.10.103.246:8443
should be --public-master=https://10.10.103.246:8443
first = needed to be a -

On Sat, Apr 23, 2016 at 7:27 AM, Anandanr <notifications@github.com> wrote:

[2016-04-23 12:49] donovanmuller commented on #7878
Further on this, I have a few Gluster volumes, one of which is home to the OpenShift internal registry volume. Checking for the top 10 largest directories in `/var` brings back the following:

![screen shot 2016-04-23 at 2 37 45 pm](https://cloud.githubusercontent.com/assets/1175891/14761440/fc0e2d34-0961-11e6-998f-c7876521cdad.png)

So looks like `/var/lib/origin/openshift.local.volumes/pods/bef2

[2016-04-23 12:55] jwforres commented on #7900
moved to trello https://trello.com/c/a5rIil2b

[2016-04-23 12:55] #7900 closed

[2016-04-23 14:19] Anandanr commented on #6855
Thanks but no success: see the out put below:

flag provided but not defined: --public-master
See 'docker run --help'.
root@apachestratos-1a:~#

[2016-04-23 15:06] jwforres commented on #6855
--public-master is not a docker run argument, it's an argument to the
openshift start command
On Apr 23, 2016 10:20 AM, "Anandanr" <notifications@github.com> wrote:

[2016-04-23 16:56] smarterclayton commented on #5450
Just failed https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/test_pull_requests_origin_integration/281/console

[2016-04-23 19:49] sosiouxme opened #8616 "oc volume should support configmaps"
We have oc create configmap but no support for actually adding a configMap as a volume.

##### Version
v1.2-rc1

##### Steps To Reproduce
1. oc volume -h

##### Current Result
  -t, --type='': Type of the volume source for add operation. Supported options: emptyDir, hostPath, secret, persistentVolumeClaim

##### Expected Result
  -t, --type='': Type of the volume source for add operation. Supporte

[2016-04-24 04:28] dragon9783 commented on #8321
Thanks very much, i will try later.

[2016-04-24 05:23] Anandanr commented on #6855
Thanks for your help, this solved my problem,, see the command I used:
 docker run -d --name "origin" -p  --privileged --pid=host --net=host -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /var/lib/docker:/var/lib/docker:rw  -v /var/lib/origin/openshift.local.volumes:/var/lib/origin/openshift.local.volumes   openshift/origin start  --public-master=https://10.10.103.246:8443

[2016-04-24 08:26] andrewklau commented on #8336
I re-ran a new install and this seems to be fixed in v1.2.0-rc1 (at least for me now)

[2016-04-24 20:25] barkbay commented on #8542
Pacemaker is no more an option in Origin 1.2 : https://github.com/openshift/openshift-ansible/commit/039dda58b3cd9b34abccf1f8f46eb825c1d45545

If I understand correctly without https://github.com/kubernetes/kubernetes/pull/20975 there will be no way to have a reliable H.A. deployment

[2016-04-24 20:26] marun commented on #7610
This error has also been causing networking_extended job [1] failures for some time.  ~20% of recent jobs have failed due this issue.  It wasn't being detected as this flake because openshift in a dind cluster is managed by systemd.  The logs are collected as artifacts rather than being output to the console (e.g. [2]).

cc: @openshift/networking

1: https://ci.openshift.redhat.com/jenkins/job/net

[2016-04-24 20:28] liggitt commented on #7610
Likely needs the same etcd disk fix in the Jenkins setup

[2016-04-24 21:41] marun commented on #7610
@liggitt What needs to be done to make that happen?

[2016-04-24 22:04] smarterclayton commented on #7610
Copy the segment around RAMDISK out of the test_pr_origin_conformance /
check / integration jobs.

On Sun, Apr 24, 2016 at 5:41 PM, Maru Newby <notifications@github.com>
wrote:

[2016-04-25 00:43] bparees commented on #8568
sounds like the second half of this problem is a more general openshift/k8s/docker issue that can't be solved here anyway, so we should proceed w/ the fix @csrwng is preparing, to at least address the parts we(devex) can control.

[2016-04-25 01:12] bparees commented on #8595
what do you mean by it doesn't work?

I ran your command to create some objects (note that i did not specify the openshift namespace though, i created them in my user's personal project):
[code]

and then i exported it as a template via:
[code]

and mytemplate.json contains a valid openshift template in json format.

near as i can tell the only broken aspect is that "--as-template" claims that you

[2016-04-25 01:17] bparees commented on #5930
probably won't be able to tell until we get the extended image tests jenkins job straightened out, i believe that's the one @gabemontero is looking into for the disk quota issue.  The job isn't currently completing so we don't get decent test results and i don't want to crawl through them to see.

[2016-04-25 01:29] bparees commented on #8367
well it failed waiting for deployment again, so either there's an issue with the readiness check ( @mfojtik ) or there's a legitimate deployment problem.

[2016-04-25 02:22] smarterclayton commented on #8367
Did it fail to import the image?  @ironcladlou on deployment

[2016-04-25 03:34] bparees commented on #8367
I don't think we know currently, but that would be a good thing to add debug for, @php-coder

[2016-04-25 03:45] smarterclayton commented on #8487
Fixed by the revert

[2016-04-25 03:45] #8487 closed

[2016-04-25 03:48] smarterclayton commented on #8367
You can check by looking at the openshift server log in that time period -
it would tell you whether an import failed.

On Sun, Apr 24, 2016 at 11:34 PM, Ben Parees <notifications@github.com>
wrote:

[2016-04-25 04:15] smarterclayton commented on #8595
--as-template takes the name of the template to generate - it should not be
generating to a file.  That's why we have redirection and pipes.  Maybe bad
docs.

On Sun, Apr 24, 2016 at 9:12 PM, Ben Parees <notifications@github.com>
wrote:

[2016-04-25 06:02] GrahamDumpleton opened #8618 "Group should be honoured for Docker image when overriding user."
At the current time, when running a Docker image and OpenShift overrides the user ID that the Docker container runs as, any group that the Docker image advertised via the ``USER`` statement is being ignored.

This means that if an S2I builder or other Docker image was using group membership and file system permissions as the mechanism to allow file system access for reading and updating, then the

[2016-04-25 10:14] PI-Victor opened #8619 "GitHub webhook panics when source is different than git"
Opening just for reference. Will fix this in https://github.com/openshift/origin/pull/8580

when trying to trigger a github webhook on a buildconfig with the source that is not git the webhook panics and doesn't trigger the build.

reproducing this:

`oc new-build -D $'FROM centos:7\nRUN yum install -y httpd'`
yields:
[code]

executing:
[code]

yields:
[code]

[2016-04-25 10:30] ingvagabund commented on #8547
All quantities are represented as big numbers [1]. Not sure if there is a maximum. Most likely determined by available memory only.

So for the memory:

```65694716Ki - 1G = 67271389184 - 1000000000 = 66271389184``

As shown in allocatable:memory

For the second case:

```65694716Ki - 1Gi = 67271389184 - 1073741824 = 66197647360 = 64646140Ki```

The math is correct.

[1] https://godoc.org/github.c

[2016-04-25 10:47] jeremyeder commented on #8547
These end up displaying in different units.  Is that worth fixing.

[code]

[2016-04-25 12:10] soltysh commented on #8581
/sub

[2016-04-25 13:59] smarterclayton commented on #5450
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/295/console

[2016-04-25 14:07] alberttwong commented on #8595
PR for the oc export command.   https://github.com/openshift/openshift-docs/pull/1939

[2016-04-25 14:12] alberttwong commented on #8595
@bparees

What I mean is the user story - As an OSE admin, I want to build and deploy a (aspnet) s2i image and make it available to all users in the OSE web console.  My assumption was that if I build the image and it deploys to my project, I should be easily be able to export the known, working config and then just put it in the -n openshift namespace and the s2i should be available to all users

[2016-04-25 14:14] rhcarvalho opened #8620 "Uncomment some 'oc run' examples"
From https://github.com/openshift/origin/pull/8454#discussion_r60917441.

There's an old TODO in [pkg/cmd/cli/cmd/wrappers.go#L328-L335](https://github.com/openshift/origin/blob/642f0af178edfa5910d218d7f5c9524f794e1271/pkg/cmd/cli/cmd/wrappers.go#L328-L335) to uncomment some examples.

Require extra tests to cover those example usages.