[2018-02-05 23:53] bparees commented on #18315
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18416/test_pull_request_origin_extended_conformance_gce/15621/

[2018-02-06 01:22] thoraxe commented on #2818
`oc adm router` is still a command. It looks like #54 that @sdodson referenced fixed this a long time ago?

[2018-02-06 01:23] thoraxe commented on #2509
Is this still relevant? It's ancient.

[2018-02-06 01:23] warmchang commented on #14994
Close it by https://github.com/openshift/origin/commit/e6ec2150f79444aa40f272c740ca3ea1b6af914c

[2018-02-06 01:23] #14994 closed

[2018-02-06 02:00] sdodson commented on #2818
It's fixed in so much that the default image for OCP points at registry.access.redhat.com/openshift3/ose-... it's not fixed if you truly want the the image format string to be evaluated. I don't see this ever being fixed though.

[2018-02-06 03:12] glennswest commented on #18115
This seems to be a bit more complicated, in the timing of the setup and weather the registry is setup. In the case of single vm, its straight forward.

Form multi-vm:
Assuming:
  Setup the registry to use azure blob using the ansible variables.
Then:
  Install the cluster (Without Cloud Provider)
  Setup the azure.conf on all nodes and restart the appropriate services
  Reset all the nodes openvsw

[2018-02-06 05:35] containscafeine commented on #8960
Closing this since this is no longer applicable!

[2018-02-06 05:35] #8960 closed

[2018-02-06 05:38] #9153 closed

[2018-02-06 05:40] #8860 closed

[2018-02-06 05:41] #8859 closed

[2018-02-06 05:44] #8904 closed

[2018-02-06 06:53] surajssd commented on #9083
this can be closed

[2018-02-06 06:54] #8939 closed

[2018-02-06 07:01] thesteve0 commented on #9347
/close

On Mon, Feb 5, 2018 at 10:55 PM, OpenShift Bot <notifications@github.com>
wrote:

[2018-02-06 07:01] #9347 closed

[2018-02-06 07:24] #9083 closed

[2018-02-06 07:43] tnozicka opened #18467 "Routes should support Generation and ObservedGeneration"
https://github.com/kubernetes/community/blob/master/contributors/devel/controllers.md

It's hard to build controllers on top of it otherwise because they have no way of reporting what generation they have already reconciled. And you end up with flaky tests full of sleep(magic_number).

Should be an easy change:
1. In admission set `generation==1` on Create.
1. In admission raise `generation` for e

[2018-02-06 08:16] tnozicka commented on #18315
@sdodson `masters/qqcm/journals/origin-master-controllers.service` is still unusable (1,9 MiB)

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/15621/s3/

[2018-02-06 08:29] #9266 closed

[2018-02-06 08:55] kargakis commented on #8665
Closing in favor of https://github.com/kubernetes/kubernetes/issues/29679

[2018-02-06 08:55] #8665 closed

[2018-02-06 10:02] #9514 closed

[2018-02-06 10:15] soltysh commented on #18447
@simo5 I'm worried that the upstream (I do hope you're talking about gssapi project) isn't maintained for quite a while, but I'll give it a try, maybe we just have some older version. /me crosses fingers and tries...

[2018-02-06 10:42] kargakis commented on #18315
I don't think the gce job is using those vars. @smarterclayton will know better but my guess is https://github.com/openshift/release/pull/581

[2018-02-06 10:54] kargakis commented on #9087
Closing in favor of https://github.com/kubernetes/kubernetes/issues/39775

[2018-02-06 10:54] #9087 closed

[2018-02-06 10:59] kargakis commented on #8561
/remove-lifecycle stale
/lifecycle frozen

[2018-02-06 11:05] kargakis commented on #7902
Seems fixed now

[2018-02-06 11:05] #7902 closed

[2018-02-06 11:14] kargakis commented on #18467
/kind feature

[2018-02-06 11:14] kargakis commented on #18458
@openshift/sig-master

[2018-02-06 11:17] kargakis commented on #18392
@openshift/sig-networking

[2018-02-06 11:20] kargakis commented on #18433
@openshift/sig-master

[2018-02-06 11:22] kargakis commented on #18467
/assign @knobunc

[2018-02-06 11:24] mojsha commented on #18406
@tnozicka Thank you for this suggestion - it worked!

If you fix this, will it be released as part of a 3.7.x-release or will we have to wait for 3.9.x to have this fix?

[2018-02-06 11:25] kargakis commented on #18345
/sig security

[2018-02-06 11:41] soltysh commented on #18447
I've opened https://github.com/apcera/gssapi/issues/54 and waiting to hear from maintainers.

[2018-02-06 12:28] mrsiano commented on #18289
yep, thanks.

[2018-02-06 12:44] frobware commented on #17883
I switched my testing to use overlay2 (similar to CI) and was able to reproduce a little quicker. The quickest has been 36 minutes in 4 iterations, the other occurrence happened after 50 minutes.

[2018-02-06 13:17] kargakis opened #18471 "User "system:unauthenticated" cannot "get" on "/healthz" flake"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18469/test_pull_request_origin_verify/8823/
@openshift/sig-master
/kind test-flake
/priority P1

[2018-02-06 13:18] mfojtik commented on #18471
@kargakis there is already an issue for this. This is etcd server dying because of /tmp

[2018-02-06 13:19] mfojtik commented on #18471
See: https://github.com/openshift/origin/issues/18240

[2018-02-06 13:19] #18471 closed

[2018-02-06 13:24] liggitt commented on #18433
I didn't think floating point was allowed

[2018-02-06 13:57] #8508 closed

[2018-02-06 14:03] akorneta opened #18472 "Occasionally OpenShift pods creation fails"
Hi, I'm from the [Che](https://github.com/eclipse/che) team.
We have a problem while executing our integration tests.
A small intro what’s going on. We deploy Che on an OpenShift instance(OCP deployed on docker). Che is configured with user credentials to be able to create the OpenShift objects(pods, services, routes) on behalf of the user in different projects. For interaction with OpenShfit API,

[2018-02-06 14:14] tnozicka opened #18473 "`oc get all` lost backward compatibility from 3.9 to 3.6"
For some reason `oc get all` (on 3.9) shows nothing when talking to 3.6 server.
@deads2k @juanvallejo can this be related to something we did when 3.9 stated to show some resources twice?

[code]

[2018-02-06 14:16] tnozicka commented on #18473
`oc get route` works so this is likely something about discovery

[2018-02-06 14:17] deads2k commented on #18473
We support n-1 from oc/kubectl.  This is beyond the scope.  In this case, it's because 3.6 discovery doesn't have categories.

[2018-02-06 14:17] #18473 closed

[2018-02-06 14:29] sosiouxme commented on #15545
Feel free to reopen if still relevant.

[2018-02-06 14:29] #15545 closed

[2018-02-06 14:30] brenton commented on #7026
I don't think this will be prioritized.  Our focus is on improving systemd support.

[2018-02-06 14:30] #7026 closed

[2018-02-06 14:33] brenton commented on #8508
We already support a number of container runtimes and we aren't currently planning support for Docker rpms.

[2018-02-06 14:45] tnozicka commented on #18473
Ok, tried 3.7 (which is n-1 since 3.8 doesn't count) and it shows the route there (in `oc get all`), but twice :/

[2018-02-06 14:48] jboyd01 commented on #18125
"Forbidden: currentOperation must not be present when reconciledGeneration and generation are equal"  looks to be the same issue that is causing https://bugzilla.redhat.com/show_bug.cgi?id=1535902 (try to delete an instance or binding while it is being provisioned async).

[2018-02-06 14:50] #9166 closed

[2018-02-06 14:50] sdodson commented on #9166
the installer defaults to using centos paas sig

[2018-02-06 14:52] deads2k commented on #18473
3.7 is bugged.  Need picks of https://github.com/openshift/origin/pull/18219 and https://github.com/openshift/origin/pull/18085 into 3.7 I guess.

@juanvallejo

[2018-02-06 14:56] bparees commented on #18449
@juanvallejo is this the issue w/ docker secret being created in the wrong format?  (what level did that issue exist in, what level is it fixed in, and assuming it is that issue, is there a workaround we can give @feedm3 ?)

[2018-02-06 14:58] DonSchenck commented on #17441
FYI, running this on Windows 10, Build 16299.192 on a Mac using Parallels, I get:
`PS C:\Users\dschenck> oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth
PS C:\Users\dschenck> powershell -Command "Measure-Command {oc.exe --help}"

Days              : 0
Hours             : 0
Minutes           : 0
Seconds           : 0
Milliseconds      : 267
Ticks             : 2672607

[2018-02-06 14:59] jim-minter commented on #18449
Hi @feedm3 :)

I'm assuming that with the username and password that you're using, a docker login / docker pull will work?  Please make sure.

I think the issue is probably down to the --docker-server argument: it must match the remote server otherwise OpenShift won't select the secret when it's trying to pull the image down.  Please could you try each of the following arguments (one at a time) an

[2018-02-06 15:10] bparees commented on #9565
@juanvallejo this can probably be closed at this point (at a minimum i think we've fixed all our flags that used to use comma separated multivalue args) but will let you guys make the call.

[2018-02-06 15:13] juanvallejo commented on #18449
@bparees

This looks likely to be the same issue. I believe only `oc secrets new-dockercfg` was affected on the Origin side. `oc create secret docker-registry` should be a workaround - I will test this locally to make sure.

We did address part of the problem in 3.7: https://github.com/openshift/origin/pull/18062
But missed the second half of this fix: https://github.com/openshift/origin/pull/1822

[2018-02-06 15:19] juanvallejo commented on #18473
@deads2k on it

[2018-02-06 15:24] juanvallejo commented on #17776
Closing as I am assuming the issue is the one described in https://github.com/openshift/origin/issues/17776#issuecomment-356017565

Please re-open if that's not the case.

[2018-02-06 15:24] #17776 closed

[2018-02-06 15:26] juanvallejo commented on #18016
Closing via https://github.com/openshift/origin/pull/18422

[2018-02-06 15:26] #18016 closed

[2018-02-06 15:26] bparees commented on #18048
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18461/test_pull_request_origin_extended_conformance_install/6857/

[2018-02-06 15:30] juanvallejo commented on #9565
@bparees thanks, closing.
@soltysh fyi

[2018-02-06 15:30] #9565 closed

[2018-02-06 15:34] sdodson commented on #18315
@tnozicka After https://github.com/openshift/aos-cd-jobs/pull/1064 the controllers log is now > 60MiB.

[2018-02-06 15:36] danwinship commented on #18373
"google.com.contaboserver.net"? That seems wrong. Is your DNS misconfigured?

[2018-02-06 15:39] juanvallejo commented on #17441
@dernasherbrezon could you post the full (redacted if needed) output of --loglevel=8?

[2018-02-06 15:40] spadgett commented on #17637
I don't think this is necessary if there is no simple fix. It's still possible to run individual tests like `console` by passing them as args to test/extended/clusterup.sh

/close

[2018-02-06 15:40] #17637 closed

[2018-02-06 15:57] smarterclayton commented on #18282
Will need to look at it again.  Something is fiddly with these downloads.

On Feb 6, 2018, at 7:23 AM, Juan Vallejo <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> friendly ping

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/18282#issuecomment-363455686>,
or mut

[2018-02-06 16:03] smarterclayton commented on #18467
For routes it’s a bit more complex.  Routes can have multiple controllers.
The status field is subdivided.  We also are very judicious about routers
setting status because it can generate write storms.

We should add generation for sure.  We should probably output generation
into the template for debugging.  Not sure how much further we should go.

On Feb 5, 2018, at 11:43 PM, Tomáš Nožička <notif

[2018-02-06 16:37] #10231 closed

[2018-02-06 16:46] simo5 commented on #18447
Ok, if they do not reply timely we will then just fork ...

[2018-02-06 16:50] tnozicka commented on #18467
I am fine with having at least Generation as that will provide a base for higher level controllers to report their own observedGeneration (using an annotation).

I guess observedGeneration wouldn't really mean that much for Routes as the controller doesn't do a lot that's externally visible as the admission is set by the appropriate router.

On a side note, if I recall correctly, I couldn't figure

[2018-02-06 16:59] legionus commented on #8291
@bparees ping

[2018-02-06 16:59] #10499 closed

[2018-02-06 17:00] legionus commented on #8849
/cc @bparees

[2018-02-06 17:04] legionus commented on #12474
It looks like an issue in idle state. Reopen if the problem is still relevant.

[2018-02-06 17:04] #12474 closed

[2018-02-06 17:07] legionus commented on #12863
It looks like the issue in idle state. Reopen if the problem is still relevant.

[2018-02-06 17:07] #12863 closed

[2018-02-06 17:10] legionus commented on #12287
Now you can use hard prune to cleanup the storage.

https://docs.openshift.org/latest/admin_guide/pruning_resources.html#hard-pruning-registry

[2018-02-06 17:10] #12287 closed

[2018-02-06 17:17] bparees commented on #8849
the ship has pretty clearly sailed on this one. closing.

[2018-02-06 17:17] #8849 closed

[2018-02-06 17:18] bparees commented on #8291
round and round it goes, where it stops, nobody knows!  but this isn't @legionus' area anymore, so sending back to the master team.

[2018-02-06 17:46] feedm3 commented on #18449
I tried both `auth.docker.io/token` and `index.docker.io/v1/` as server but neither didn't work. I also tried `oc secrets new-dockercfg pull-secret` and `oc create secret docker-registry pull-secret` but also there neither didn't work.

[code]
I'm always getting the same unauthorized error :(

@jim-minter

Can you go a little bit more in detail what you mean? I'm pretty new to OpenShift/Kubernetes

[2018-02-06 18:20] jim-minter commented on #18288
@pmorie's error, at least, is caused by using the latest (to be v3.9) oc to provision a previous version of openshift (v3.7.1).  It does not work because the server APIs are incompatible between the two versions.  See https://bugzilla.redhat.com/show_bug.cgi?id=1530069.  Download a v3.7.1 oc from https://github.com/openshift/origin/releases/tag/v3.7.1 then run `oc cluster up --service-catalog`.  T

[2018-02-06 18:21] bparees commented on #18449
I can confirm the docker-server value should be "docker.io", i was able to make the `oc create secret docker-registry` syntax work, however i'm on a level that includes all the fixes, so i don't know if it's a valid workaround on v3.7 or not.  @feedm3 if you didn't set the docker-server to "docker.io" try that.  If you did try that, i guess we'll have to wait for @juanvallejo to get back.

The oth

[2018-02-06 18:56] feedm3 commented on #18449
Thanks @bparees, it works! What is important is that by default docker stores it's secrets in the [credentials store](https://docs.docker.com/engine/reference/commandline/login/#credentials-store) and not in the config. Therefore you need to put an empty value for the `credsStore` key in the `~/.docker/config.json` and redo a `docker login docker.io`.

So, short working conclusion:
1. Check for em

[2018-02-06 18:57] juanvallejo commented on #18449
Per the current state of the release-3.7 branch, `oc create secret docker-registry` behaves correctly, but creates secrets in the old `dockercfg` format, rather than the new `config.json` format [1][2].

The same is true of `oc secrets new-dockercfg` [3][4].

It could be that the docker server expects the new format. If that is the case, newer clients updated both of these commands to create secre

[2018-02-06 18:57] jwforres commented on #18472
cc @liggitt

[2018-02-06 19:00] #18472 closed

[2018-02-06 19:06] pmorie opened #18483 "oc cluster up should check for node readiness before deploying stuff"
If you attempt to run oc cluster up on a machine that will count as under disk pressure, things will fail with a non-obvious error like 'timed out waiting for condition'. Recently I ran into this while in a sleep-deprived and jet lagged state and it was not clear to me at all what the problem was. We should instead have oc-cluster-up check that the localhost node is ready and has no conditions tha

[2018-02-06 19:09] bparees commented on #18449
closing this since it seems like the issue is fixed in newer code and we've got a workaround for @feedm3's env.

[2018-02-06 19:09] #18449 closed

[2018-02-06 19:10] juanvallejo commented on #10272
This issue no longer occurs on new clients.

Please re-open if still relevant.

[2018-02-06 19:10] #10272 closed

[2018-02-06 19:16] jwforres commented on #18434
It sounds like you are hitting expected behavior because you have not explicitly set requests / limits on your pod template.

If you want defaulting behavior, you must have a limit range.  Adding quota that affects resources like cpu and memory without also having a limit range generally creates a subpar user experience.

If you want quota on cpu / mem but do not want the defaulting behavior of a

[2018-02-06 19:25] juanvallejo commented on #5878
/unassign
/assign bparees

[2018-02-06 19:52] bparees commented on #14631
@legionus since you're looking for stuff to do, can you look into this one?

[2018-02-06 19:57] bparees commented on #11602
@mjudeikis very related to the PR you were already working related to not doing source detection when a builder image is provided.

[2018-02-06 20:02] mjudeikis commented on #11602
@bparees will check, thanks.

[2018-02-06 20:16] bparees commented on #14214
not seen in almost a year.

seems like the --request-timeout probably should have been increased, so if this recurs maybe someone should do that.

/close

[2018-02-06 20:16] #14214 closed

[2018-02-06 20:17] bparees commented on #14082
closing due to cosmic rays.

/close

[2018-02-06 20:17] #14082 closed

[2018-02-06 20:18] bparees commented on #13065
@miminar any other thoughts or should we close this as can't recreate?

[2018-02-06 20:27] bparees commented on #3333
/close

pretty sure hard-prune implemented some of the suggestions and here and prune itself looks a lot like the other discussions i read, with the exception of the proposed "mark+sweep" technique, though i think even if that is basically what oc adm prune does (it doesn't update the etcd image objects to mark them as being deleted, but it builds the full graph in cache and then goes through and

[2018-02-06 20:27] #3333 closed

[2018-02-06 20:44] bparees commented on #8327
part of https://trello.com/c/wGB9TRJS
/close

[2018-02-06 20:44] #8327 closed

[2018-02-06 20:52] bparees commented on #9910
pretty sure everything related to this is resolved(manifest import issues) or working as expected(can't run images that run as root, by default).  The hello-openshift image actually did run as root, but that has been fixed recently.

/close

[2018-02-06 20:52] #9910 closed

[2018-02-06 22:24] aveshagarwal opened #18486 "[Area:Networking] network isolation when using a plugin that isolates namespaces by default should allow communication from default to non-default namespace on the same node [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18475/test_pull_request_origin_extended_networking_minimal/13883/

[code]

[2018-02-07 00:06] Firstyear commented on #10655
/remove-lifecycle stale

[2018-02-07 00:06] Firstyear commented on #10661
/remove-lifecycle stale

[2018-02-07 00:06] Firstyear commented on #10658
/remove-lifecycle stale

[2018-02-07 00:13] bparees opened #18491 "[Feature:DeploymentConfig] deploymentconfigs when changing image change trigger [Conformance] should successfully trigger from an updated image"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18461/test_pull_request_origin_extended_conformance_gce/15729/

[2018-02-07 00:45] bparees opened #18492 "idling and unidling idling with a single service and ReplicationController should idle the service and ReplicationController properly"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18485/test_pull_request_origin_extended_conformance_gce/15742/

@mfojtik @knobunc not sure which of you owns idling?

[2018-02-07 02:09] stevekuznetsov commented on #10201
Not unreasonable but no intent to make changes here.

/close

[2018-02-07 02:09] #10201 closed

[2018-02-07 02:11] stevekuznetsov commented on #10723
@adellape is this something Docs is interested in?

[2018-02-07 02:12] stevekuznetsov commented on #7033
/cc @openshift/sig-user-interface

[2018-02-07 02:13] stevekuznetsov commented on #7997
/close

[2018-02-07 02:13] #7997 closed

[2018-02-07 02:17] stevekuznetsov commented on #8004
This is effectively finished. Some use of `grep` exists but it's minimal.

[2018-02-07 02:17] stevekuznetsov commented on #8004
/close

[2018-02-07 02:17] #8004 closed

[2018-02-07 02:19] stevekuznetsov commented on #9171
/close

[2018-02-07 02:19] #9171 closed

[2018-02-07 02:20] stevekuznetsov commented on #8987
Without more information, we cannot chase this.

/close

[2018-02-07 02:20] #8987 closed

[2018-02-07 02:20] stevekuznetsov commented on #8624
@openshift/sig-user-interface

[2018-02-07 02:20] stevekuznetsov commented on #8227
Not tech debt worth tackling at this point.

/close

[2018-02-07 02:20] #8227 closed

[2018-02-07 02:21] stevekuznetsov commented on #8226
Not tech debt worth tackling right now.

/close

[2018-02-07 02:21] #8226 closed

[2018-02-07 02:22] stevekuznetsov commented on #17787
@rhvgoyal `dmesg` output [here](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/18440/test_pull_request_origin_extended_image_ecosystem/511/artifacts/generated/dmesg.log) for the log @bparees just linked to

[2018-02-07 02:23] stevekuznetsov commented on #8060
@openshift/sig-user-interface

[2018-02-07 02:23] stevekuznetsov commented on #6549
Not really a useful tracker, out of date.

/close

[2018-02-07 02:23] #6549 closed

[2018-02-07 02:23] stevekuznetsov commented on #7944
Not debt we need to tackle today.

/close

[2018-02-07 02:23] #7944 closed

[2018-02-07 02:24] stevekuznetsov commented on #7320
@enj we did this, right?

[2018-02-07 02:24] stevekuznetsov commented on #7224
Not debt that is worth tackling.

/close

[2018-02-07 02:24] #7224 closed

[2018-02-07 02:24] stevekuznetsov commented on #7191
Not debt that is worth tackling.

/close

[2018-02-07 02:24] #7191 closed

[2018-02-07 02:25] stevekuznetsov commented on #6623
Not worth tackling this debt, happens fairly rarely.

/close

[2018-02-07 02:25] #6623 closed

[2018-02-07 02:25] stevekuznetsov commented on #6655
Not worth tackling this debt right now.

/close

[2018-02-07 02:25] #6655 closed

[2018-02-07 02:25] stevekuznetsov commented on #5236
Should be mostly solved.

/close

[2018-02-07 02:25] #5236 closed

[2018-02-07 02:26] stevekuznetsov commented on #6042
@openshift/sig-user-interface

[2018-02-07 06:31] cpitman commented on #9489
/remove-lifecycle stale

[2018-02-07 06:44] #9051 closed

[2018-02-07 07:08] jorgemoralespou commented on #10315
This is still a legitimate request.

[2018-02-07 10:32] #5570 closed

[2018-02-07 10:37] kargakis commented on #10315
@jorgemoralespou is the bot's comment hard enough to follow?

You can either:
/remove-lifecycle stale
and if you want to exclude this from going stale again after 90d
/lifecycle frozen

I am going to fix the comment to include the `/lifecycle frozen` command.

[2018-02-07 10:38] kargakis commented on #9407
I think we already do that now

/close

[2018-02-07 10:38] #9407 closed

[2018-02-07 10:44] ingvagabund commented on #10088
@ravishankarhassain feel free to re-open the issue if you feel the clarification is still needed.
/close

[2018-02-07 10:44] #10088 closed

[2018-02-07 10:44] #18458 closed

[2018-02-07 10:47] jorgemoralespou commented on #10315
@kargakis I wasn't sure I was capable of altering the lifecycle of the issue.
It won't happen again, as I know now I have superpowers.

[2018-02-07 10:50] sttts opened #18496 "Data race in grpc lib used by etcd client"
Seen in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18444/test_pull_request_origin_unit/9098/.

[code]

[2018-02-07 10:51] sttts commented on #18496
/cc @liggitt @deads2k @mfojtik

Have never seen this before and couldn't reproduce in upstream master either.

[2018-02-07 11:05] #2820 closed

[2018-02-07 11:06] kargakis commented on #10237
Closing in favor of the upstream issue

[2018-02-07 11:06] #10237 closed

[2018-02-07 11:11] kargakis commented on #10723
/kind documentation

[2018-02-07 11:13] tnozicka opened #18497 "`test_pull_request_origin_unit` sometimes fails without an explanation or (obvious) reason"
It says:
[code]

Started to see this here https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18495/test_pull_request_origin_unit/9196/
Went through the S3 artifacts but couldn't see what failed :/ (Apparently something in the test image does.)

The I saw the same just now with https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18495/test_pull_request_o

[2018-02-07 11:13] tnozicka commented on #18497
/cc @stevekuznetsov

[2018-02-07 11:14] tnozicka commented on #18497
/cc @mfojtik

[2018-02-07 11:35] kargakis commented on #1811
/remove-lifecycle stale
/lifecycle frozen

[2018-02-07 11:38] kargakis commented on #4811
/remove-lifecycle stale
/lifecycle frozen
/sig master

[2018-02-07 12:02] kargakis commented on #6390
Closing in favor of https://github.com/kubernetes/kubernetes/issues/43846

[2018-02-07 12:02] #6390 closed

[2018-02-07 12:06] kargakis commented on #9045
/remove-lifecycle stale
/lifecycle frozen

[2018-02-07 12:14] kargakis commented on #10390
What do your application metrics have to do with the openshift node?

Have a look into running Prometheus on Openshift - you should be able to collect metrics for your app by setting the correct annotations in your service.

https://github.com/openshift/origin/tree/master/examples/prometheus

[2018-02-07 12:14] #10390 closed

[2018-02-07 13:05] brenton commented on #8542
/close

[2018-02-07 13:05] #8542 closed

[2018-02-07 13:20] glennodickson opened #18499 "Accessing Jolokia - TLS Handshake Timeout"
I've successfully deployed the [Camel AMQ QuickStart](https://github.com/fabric8-quickstarts/karaf2-camel-amq) to Openshift and would like to view the queues, messages etc from console from the "Open Java Console" link. Everytime I click this I get TLS timeout error.

So I ran this command on the master and this is the results.

##### Current Result
Command:
`curl -v https://192.168.99.100:8443/ap

[2018-02-07 13:25] #10436 closed

[2018-02-07 13:55] tnozicka commented on #16728
It will be part of 3.9.x

[2018-02-07 13:58] tnozicka commented on #18406
I'll check and see how much conflict there will be in `release-3.7`.

[2018-02-07 13:59] tnozicka commented on #18406
Not sure whether there will be another release of 3.7.x though.

[2018-02-07 14:00] e-minguez opened #18500 "Avoid using routes for prometheus by using services instead"
https://github.com/openshift/origin/blob/d5f8d8b4877885df02fe09082ac7ed07696209ac/examples/grafana/setup-grafana.sh#L53

I think it would be better to avoid going through the route to query prometheus. Maybe deploying grafana in the same project than prometheus or joining the projects will be better instead.

[2018-02-07 14:01] thoraxe commented on #3747
@smarterclayton @liggitt not sure this is still a problem, and SkyDNS for service discovery has always been kinda lacking.

[2018-02-07 14:03] e-minguez opened #18501 "Grafana NAMESPACE description says Heapster"
https://github.com/openshift/origin/blob/d5f8d8b4877885df02fe09082ac7ed07696209ac/examples/grafana/grafana.yaml#L22

s/heapster/grafana

[2018-02-07 14:18] jorgemoralespou commented on #10866
/lifecycle frozen

[2018-02-07 14:37] jwforres commented on #18483
@sig/master

[2018-02-07 14:39] testfielder opened #18502 "use oauthauthorizetoken can not obtain an OAuthAccessToken"
`# oc get oauthauthorizetoken -o yaml`
[code]
[code]

[2018-02-07 14:43] testfielder commented on #18502
Hi all, pls help about that,thx.

[2018-02-07 14:45] testfielder commented on #18361
thx.

[2018-02-07 15:05] liggitt commented on #18496
see https://github.com/kubernetes/kubernetes/issues/54863 and https://github.com/kubernetes/kubernetes/issues/53124 ?

[2018-02-07 15:16] sosiouxme commented on #2783
[code]

Obviously... issue has been around for years, does not seem to raise much concern. Perhaps we'll be doing the router and registry differently soon anyway.

[2018-02-07 15:20] bparees commented on #18483
i'd expect the output to be more like:  `Node did not achieve a ready state due to condition: %s` but sure.

That said i'm not in favor of doing anything here at the moment since cluster up is about to be blown up and how this is checked/handled will probably change w/ that refactor.  I think it should be taken into account as part of/after the refactor though.

[2018-02-07 15:30] jwforres commented on #18486
@openshift/sig-networking

[2018-02-07 15:41] sttts commented on #18496
Fixed by https://github.com/kubernetes/kubernetes/pull/57480

[2018-02-07 15:42] benjaminapetersen commented on #8518
We have since updated the console to `rbac`, so for us I think this issue has gone away. Perhaps we can close it?

@enj thoughts?

[2018-02-07 15:51] jwforres commented on #8518
if this only affected the RBAC related APIs sure, but if we had any other virtual resources impacted by this we should keep it open until those also move upstream or the issue is fixed

/remove-lifecycle stale

[2018-02-07 15:58] stevekuznetsov commented on #18497
Yeah, I've noticed this as well but wasn't really sure what to do here... the process had no output to `stderr` and just exited non-zero. Wasn't really sure how to debug this in any way. @tnozicka any thoughts?

[2018-02-07 16:09] liggitt commented on #8518
fixed in https://github.com/kubernetes/kubernetes/commit/da8ae29620811f3dc058e0e665d402a208a1fe6c in 3.7

/close

[2018-02-07 16:09] #8518 closed

[2018-02-07 16:22] bparees commented on #14631
@larkly @inspired @matthewpdias i'm confused by what is being asked here.  The code in question fails the import if you don't have a spec.DockerImageRepository AND you don't have any spec.tags.  If that is the state of your imagestream, what are you expecting to see imported?  What remote repository do you expect to import from, when there isn't one specified in the imagestream?

[2018-02-07 16:31] #17552 closed

[2018-02-07 16:34] tnozicka commented on #18497
Not really sure what that could be, I guess we hide the error somewhere. Can we run with `bash -x` for a while inside the image?

[2018-02-07 16:34] stevekuznetsov opened #18506 "can we get `ist` as shorhand for imagestreamtag"
Works:

[code]

Does not:

[code]

Every time I need to type out the (lengthy) `ImageStreamTag` I cry inside.

/cc @deads2k @bparees @smarterclayton

[2018-02-07 16:35] kargakis commented on #18506
[code]

[2018-02-07 16:37] kargakis commented on #18506
^works

[2018-02-07 16:39] pollyrobin opened #18507 "Openshift masters node registered and started but not reachable"
The openshift environment runs in 3 master 3 nodes setup. The 3 masters are running fine and the three nodes are running fine as well. 3 masters all have the 3 nodes as output for oc get nodes.

However the masters are also running as node. The service atomic-openshift-node is running however it is not being able to communicate with their own local node.

openshift v3.5.5.31.48
kubernetes v1.5.2+4

[2018-02-07 16:54] sosiouxme commented on #18364
@smarterclayton https://github.com/openshift/origin/releases has 3.9.0-alpha.4 and 3.10.0-alpha.0 releases however they don't have client binaries at all. Is there automation that's supposed to be putting those in place?

I'm assuming we don't want minishift to use the gcsweb storage as outlined in https://lists.openshift.redhat.com/openshift-archives/dev/2018-January/msg00024.html

Not having cli

[2018-02-07 17:09] bparees commented on #14631
@legionus explained this to me, i'm set, thanks.

[2018-02-07 17:09] juanvallejo commented on #6042
No longer applies, as `openshift cli` has been deprecated

[2018-02-07 17:09] #6042 closed

[2018-02-07 17:09] bparees commented on #14631
(the scenario appears to be invoking ` oc import-image --confirm --all --from docker.io/busybox foobar` with an empty foobar imagestream)

[2018-02-07 17:12] jwforres commented on #18499
@openshift/sig-master

since the TLS timeout is the proxy communicating with the pod

[2018-02-07 17:23] jwforres commented on #18502
@openshift/sig-security

[2018-02-07 17:24] jwforres commented on #18506
@stevekuznetsov sufficient?  close?

[2018-02-07 17:28] liggitt commented on #18502
The authorize token was obtained with a PKCE challenge (note the codeChallenge and codeChallengeMethod fields set), so the token request must also include a code_verifier parameter.

See https://tools.ietf.org/html/rfc7636 for more information

/close

[2018-02-07 17:28] #18502 closed

[2018-02-07 17:31] oourfali commented on #18501
To be honest this isn't my responsibility. Who handled those in the past?

[2018-02-07 17:32] stevekuznetsov commented on #18506
That's still two extra chars :D

[2018-02-07 17:32] stevekuznetsov commented on #18506
/close

[2018-02-07 17:32] #18506 closed

[2018-02-07 17:33] jwforres commented on #18507
@openshift/sig-master

[2018-02-07 18:04] stevekuznetsov commented on #18497
We could but not sure that would help, the `stderr` redirect is below that level

https://github.com/openshift/origin/blob/master/hack/test-go.sh#L140

[2018-02-07 18:43] danwinship commented on #18486
This eventually ends up being a dup of #13241. It keeps failing to be able to create the pod with errors like:

    Feb 06 17:35:20 nettest-node-1 dockerd-current[192]: container_linux.go:247: starting container process caused "process_linux.go:327: setting cgroup config for procHooks process caused \"failed to write a *:* rwm to devices.deny: open /sys/fs/cgroup/devices/system.slice/docker-871fc6

[2018-02-07 18:43] #18486 closed

[2018-02-07 18:53] stevekuznetsov commented on #18497
It is empty because `go test` had no output to `stderr`

[2018-02-07 18:53] gabemontero commented on #17881
I'll defer to @stevekuznetsov and @jupierce on whether to reopen this, but I just saw this with
PR https://github.com/openshift/origin/pull/18272 and unit test run https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18272/test_pull_request_origin_unit/9214/

This is the first time I've seen it with this PR

about to retest there  .... I'll report back if there is any consiste

[2018-02-07 19:06] danwinship commented on #13241
There's some sort of dind/cgroup problem. These errors often show up with weird nested cgroup paths like `/sys/fs/cgroup/devices/system.slice/docker-871fc6f89264c02a8812d6ebfe72dd6b1215652b59d7f521db3fd01d116e0d7b.scope/system.slice/docker-871fc6f89264c02a8812d6ebfe72dd6b1215652b59d7f521db3fd01d116e0d7b.scope/system.slice/docker-3c93353d77d95c6b6114de44c0ca765d0252df9a56e0321f87c80aa027133d07.scop

[2018-02-07 19:10] tnozicka commented on #18497
badly phrased; meant the same thing. The question is why there is no error output but exit status 2.

`bash -x` was really all I had :(

[2018-02-07 19:12] juanvallejo commented on #11038
@jimmidyson a client-side request timeout has been added.
I am closing this issue, but please re-open if it is still not fixed.

[2018-02-07 19:12] #11038 closed

[2018-02-07 19:23] pweil- commented on #2783
/close

[2018-02-07 19:23] #2783 closed

[2018-02-07 20:05] #11191 closed

[2018-02-07 20:23] #11083 closed

[2018-02-07 20:40] xavierbaude opened #18512 "Allow namespace admin to create label on the namespace"
I try by different way to allow a "self-provisioner" to set label -and only label- on his namespace.
The idea is to let a admin user to set label and some script do certain job like : monitoring, node-selector, ingresspolicy... with a habilitation control.

What I only found is to create a ClusterRole like:

[code]
But by this method, the user can modify everything on a namespace.
I also tried:
[c

[2018-02-07 20:51] smarterclayton commented on #18506
istag

On Feb 7, 2018, at 8:34 AM, Steve Kuznetsov <notifications@github.com>
wrote:

Works:

$ oc get is

Does not:

$ oc get ist

Every time I need to type out the (lengthy) ImageStreamTag I cry inside.

/cc @deads2k <https://github.com/deads2k> @bparees
<https://github.com/bparees> @smarterclayton
<https://github.com/smarterclayton>

—
You are receiving this because you were mentioned.
Reply to

[2018-02-07 21:07] sdodson commented on #18360
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7007/test_pull_request_openshift_ansible_extended_conformance_gce/515/

[2018-02-07 21:10] xavierbaude commented on #18512
#10315

[2018-02-07 21:14] GrahamDumpleton commented on #8310
Going to close this since things moved to new swagger version. Will create new issue if when validating later still find issues.

[2018-02-07 21:14] #8310 closed

[2018-02-07 21:42] stevekuznetsov opened #18516 "What are our plans for exposing utilities for consumers of client-go?"
There are loads of utilites in places like `pkg/image/apis/image/helper.go` that are super useful when working with the ... intricacies ... of some of our API surfaces. Do we have a plan to expose these in a stand-alone repository so they can be imported by *i.e.* consumers of `client-go`?

/cc @smarterclayton @deads2k @bparees
/kind question

[2018-02-07 21:43] stevekuznetsov commented on #18497
See also https://github.com/openshift/origin/issues/17881

[2018-02-07 21:51] sosiouxme commented on #5527
Yes, fixed years ago with https://github.com/openshift/origin/pull/6518 but for some reason issue left open.

[2018-02-07 21:51] #5527 closed

[2018-02-07 22:31] bparees opened #18519 "Cannot update ImageStreamTags created via Push"
When an image is push to the internal registry, an imagestreamtag is created in the form:

[code]

Now, normally when an IST is created or updated, the associated imagestream is also updated to add the IST to the imagestream.spec.tags list.

However when the IST is created via push, it is created via an imagestreammapping which means that the imagestream associated w/ the IST is *not* updated.  So

[2018-02-07 22:32] #11140 closed

[2018-02-07 23:01] brenton commented on #10553
@tiwillia  I'm assuming this is stale now, would you might sanity checking?

[2018-02-07 23:03] stevekuznetsov commented on #10220
/shrug

[2018-02-07 23:28] bparees commented on #18519
As it stands today, no one can update an IST if the tag ref is nil, so the only thing we'd be breaking is now those updates would succeed(while still not updating the IS) instead of failing entirely.

[2018-02-07 23:59] sosiouxme commented on #11063
I think this request is finally being fulfilled in the form of audit logging and advanced audit configuration. See https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-node-config-advanced-audit

[2018-02-07 23:59] #11063 closed

[2018-02-08 01:24] tiwillia commented on #10553
@brenton I'd say this is stale and safe to close.

[2018-02-08 01:24] tiwillia commented on #5897
/close

[2018-02-08 01:24] #5897 closed

[2018-02-08 01:43] ncoghlan commented on #11480
/remove-lifecycle stale

As far as I know, it's still really unclear how to emit a stable external endpoint reference for use in logs, etc.

[2018-02-08 02:15] testfielder commented on #18502
hi, @liggitt i follow this [tutorial](https://tools.ietf.org/html/rfc6749#section-4.1.3)
[code]

[2018-02-08 02:18] liggitt commented on #18502
Yes, but that assumes you obtained the authorization code using https://tools.ietf.org/html/rfc6749#section-4.1.1

The authorization code you referenced was obtained with additional PKCE parameters as described in https://tools.ietf.org/html/rfc6749#section-4.1.1

[2018-02-08 02:27] testfielder commented on #18502
@liggitt that is very nice of you,thx. I will learn more deeply.

[2018-02-08 02:41] testfielder commented on #18502
‵‵‵
# oc get oauthauthorizetoken -o yaml
apiVersion: v1
items:
- apiVersion: oauth.openshift.io/v1
  clientName: openshift-challenging-client
  expiresIn: 500
  kind: OAuthAuthorizeToken
  metadata:
    creationTimestamp: 2018-02-08T02:36:36Z
    name: hPYr_7kKPoughokLf2piKo1IX9jdtu_3sfzVcrYzAho
    namespace: ""
    resourceVersion: "337469"
    selfLink: /apis/oauth.openshift.io/v1/oauthauthoriz

[2018-02-08 02:52] liggitt commented on #18502
Your client id and secret are incorrect. Client id should be `openshift-challenging-client` and your client secret should be empty, not `''`

[2018-02-08 03:22] testfielder commented on #18502
@liggitt thanks a lot.

[2018-02-08 05:16] reemanaik24 opened #18520 "How to resolve the below error?"
I copied and pasted mapspipeline.yaml and started the pipeline. I got below error in the jenkins.
In progressConsole Output
OpenShift Build hello/openshift-jee-sample-1
[Pipeline] timeout
Timeout set to expire in 20 min
[Pipeline] {
[Pipeline] node
Running on master in /var/lib/jenkins/jobs/hello-openshift-jee-sample/workspace
[Pipeline] {
[Pipeline] stage
[Pipeline] { (Initialize)
[Pipeline] }
[P

[2018-02-08 06:56] jorgemoralespou commented on #11301
/lifecycle frozen

[2018-02-08 07:00] gauravojha opened #18521 "OpenShift Deployments cannot reach GitHub"
When I try to deploy the ruby-ex example on my OpenShift Origin instance, it times out when trying to clone the repo from GitHub. However, the host on which OpenShift is running on can easily clone the same.

If it is cluster networking issue, can someone post any ideas as to where I might look. For instance, a list of ports I could enable and check if that helps. I currently have opened ports 844

[2018-02-08 07:36] GrahamDumpleton commented on #7326
/lifecycle frozen

[2018-02-08 07:37] GrahamDumpleton commented on #7326
Problem still occurs on 3.7.

[2018-02-08 07:41] GrahamDumpleton commented on #8618
/lifecycle frozen

[2018-02-08 09:09] kargakis opened #18522 "test/end-to-end/core test/end-to-end/core.sh:38: executing 'curl -s -X POST http://172.30.156.163:5432/keys/foo -d value=1337' expecting any result and text 'Key created'"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/9240/consoleFull#-12440632375898c58db7602c31c0eab717

/kind test-flake

[2018-02-08 09:14] mfojtik commented on #18521
Ben, we should probably have some troubleshooting for these problems somewhere :-)

[2018-02-08 09:19] mfojtik commented on #18519
/cc deads2k

[2018-02-08 09:29] reemanaik24 commented on #18520
Do we need to configure maven in jenkins??

[2018-02-08 09:35] mfojtik commented on #18522
Quick investigation:

The internal error is coming from:
[code]

Which indicates the database schema was not created?

[2018-02-08 09:36] mfojtik commented on #18522
Hrm. it seems like the hook was not finished in time?

[code]

[2018-02-08 09:42] mfojtik commented on #18516
instead of moving them to client-go, we can clean them up to be importable externally without importing half of origin :-)

[2018-02-08 09:54] tnozicka commented on #18522
looks like the the post hook pod was started
[code]
not sure why it didn't wait for the rollout to complete

[2018-02-08 09:58] mfojtik commented on #18522
Interestingly this is also failing for OSE 3.6 branch:

[code]

I'm 95% sure there is something broken in the images or templates or DockerHub :-)

[2018-02-08 09:59] mfojtik commented on #18522
@tnozicka it might be the script for hook pod ran but it does not have `set -e` so it might have failed but the hook succeeded?

[2018-02-08 10:15] kargakis commented on #18522
This job is officially broken since yesterday
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_end_to_end/
https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_end_to_end

[2018-02-08 10:15] kargakis commented on #18522
/priority P0
/remove-priority P1

[2018-02-08 10:47] mvlach opened #18523 "Cannot find own template"
I created simple template and tested it in private oc cluster up. After importing to private openshift cluster (instaled by ansible) can't find the template in service catalog.

[code]
##### Version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
oc create -f teplate -n openshift

##### Current Result
![image](https://user-images.githubusercontent.com/6176546/359689

[2018-02-08 10:48] kargakis commented on #18282
Fixed now.

[2018-02-08 10:48] #18282 closed

[2018-02-08 10:52] pollyrobin commented on #18507
I just manually created a node object and added it through the oc create -f node.yaml.
This seems to add the node and it seems to be working fine, however when i restart the atomic-openshift-node i need to manually create the node object again. Should this not be done during the atomic-openshift-node start process?

[2018-02-08 11:00] kargakis commented on #2591
@mfojtik back to you unless node config is the pod team

[2018-02-08 11:02] tnozicka commented on #17595
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_extended_conformance_install/7087/

[2018-02-08 11:10] mfojtik commented on #18522
The revert https://github.com/openshift/ruby-hello-world/pull/67 fixed the e2e tests (they are green again).

[2018-02-08 11:19] kargakis commented on #14597
Cluster provisioning in GCE is still an issue: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_extended_conformance_gce/15850/

[2018-02-08 11:34] kargakis commented on #11372
godep is not used anymore

[2018-02-08 11:34] #11372 closed

[2018-02-08 11:35] #10553 closed

[2018-02-08 11:37] kargakis commented on #11480
@openshift/sig-networking

[2018-02-08 11:43] kargakis commented on #14597
Raising priority since this is happening frequently today
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18437/test_pull_request_origin_extended_conformance_gce/15858/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/13701/test_pull_request_origin_extended_conformance_gce/15857/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs

[2018-02-08 11:46] kargakis commented on #14597
The api server seems to never turn ready.

[2018-02-08 11:47] kargakis commented on #14597
@openshift/sig-master

[2018-02-08 11:47] jwforres commented on #4915
/close

These pages have almost all moved to the confirmation step in wizards now

[2018-02-08 11:47] #4915 closed

[2018-02-08 11:52] jwforres commented on #4914
/assign @spadgett

Not sure we've got room to add more stuff at this point with it in the modal

[2018-02-08 11:56] tnozicka commented on #16728
backport to 3.7 https://github.com/openshift/origin/pull/18524

[2018-02-08 11:57] tnozicka commented on #18406
backport to 3.7 https://github.com/openshift/origin/pull/18524

[2018-02-08 12:02] junaruga commented on #18522
The reason of the above error is the PR https://github.com/openshift/ruby-hello-world/pull/66/files that I sent to update `Gemfile.lock`. I created `Gemfile.lock` again.
The new version of `activerecord` and `mysql2` related to the error.

What I wanted to do is to run `ruby-hello-world` without errors and warnings on Ruby 2.5.
https://github.com/openshift/ruby-hello-world/blob/master/Gemfile

[2018-02-08 12:14] syy6 commented on #17740
+1, also have this issue

[2018-02-08 12:26] spadgett commented on #11859
Looks like this was fixed by #11860

/close

[2018-02-08 12:26] #11859 closed

[2018-02-08 12:32] mfojtik commented on #14597
Inspected the API logs, there is no error there. From the error in ansible log it seems like ansible can't reach the DNS: https://internal-api.prtest-5a37c28-15849.origin-ci-int-gce.dev.rhcloud.com:8443/healthz/ready as the "curl" command exit with 6 code which means `CURLE_COULDNT_RESOLVE_HOST`.

[2018-02-08 12:33] mfojtik commented on #14597
Moving back to @sdodson as this is unlikely API server issue.

[2018-02-08 12:34] zeari commented on #18500
@e-minguez What would be the benefit of joining them? I dont think going through ha route is that much overhead

cc @mrsiano

[2018-02-08 12:39] kargakis opened #18525 "Cluster provision failed - ansible cannot reach API (DNS issue)"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18437/test_pull_request_origin_extended_conformance_gce/15858/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/13701/test_pull_request_origin_extended_conformance_gce/15857/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18478/test_pull_request_origin_extended_conformance_

[2018-02-08 12:40] kargakis commented on #14597
Opened a separate issue: https://github.com/openshift/origin/issues/18525

[2018-02-08 12:49] e-minguez commented on #18500
Basically avoid generating unneeded network traffic to the routers using services instead. I have no idea if grafana generates a big amount of traffic, but I think *ideally* you don't want to go outside the OCP SDN through the router to go "inside"

[2018-02-08 13:01] mrsiano commented on #18500
Intersting.
the traffic depends on queries \ the dashbord which holds collection of diffrent queries and their duration.
the thing is grafana must have some datasource in our case is prometheus, and by design any datasource typically needs a url.

to use the service directly, we probably gonna need a custom grafana datasource form.

but on the other hand, we should have the ability to use route.

[2018-02-08 13:55] sosiouxme commented on #18392
/unassign

[2018-02-08 14:00] bparees commented on #18522
@mfojtik if the breakage is reverted why did you reopen this?

[2018-02-08 14:00] jeremyeder commented on #18500
A route to prometheus is itself useful (and probably a requirement at least for us as it is the best place to prototype new queries).  But that does not mean Grafana has to talk to Prometheus over the route.  I agree there's no reason for Grafana to talk to Prom over a route if a service also works.  And co-locating them is also a useful optimization in that it will reduce network bandwidth and la

[2018-02-08 14:20] bparees commented on #18520
How did you deploy jenkins?  our jenkins image has a slave configuration labeled "maven" out of the box.

[2018-02-08 14:44] gabemontero commented on #17881
Yeah no more failures for me on several test runs after seeing this.

[2018-02-08 15:27] #10529 closed

[2018-02-08 16:01] stevekuznetsov commented on #12290
@smarterclayton did we fix this?

[2018-02-08 16:04] gauravojha commented on #18521
Solved it by using the following instructions at the following [link](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md)

firewall-cmd --permanent --new-zone dockerc
firewall-cmd --permanent --zone dockerc --add-source 172.17.0.0/16
firewall-cmd --permanent --zone dockerc --add-port 8443/tcp
firewall-cmd --permanent --zone dockerc --add-port 53/udp
firewall-cmd --permanent --

[2018-02-08 16:04] #18521 closed

[2018-02-08 16:10] stevekuznetsov commented on #5255
/close

[2018-02-08 16:10] #5255 closed

[2018-02-08 16:29] stevekuznetsov commented on #11977
Mostly fixed these days
/close

[2018-02-08 16:29] #11977 closed

[2018-02-08 16:29] stevekuznetsov commented on #18516
Also true!

[2018-02-08 17:12] smarterclayton commented on #18525
I’m on a plane.  @sdodson or someone from @openshift/sig-master is going to need to look.

[2018-02-08 17:14] sosiouxme commented on #7637
/remove-lifecycle stale
this remains relevant. probably can add into AppCreate or NetworkCheck.

[2018-02-08 17:36] stevekuznetsov commented on #12370
This AMI is not supported.

/close

[2018-02-08 17:36] #12370 closed

[2018-02-08 17:37] stevekuznetsov commented on #12380
Nice tech debt but not worth tracking

/close

[2018-02-08 17:37] #12380 closed

[2018-02-08 17:37] stevekuznetsov commented on #12334
Can't progress without more information.

/close

[2018-02-08 17:37] #12334 closed

[2018-02-08 17:37] stevekuznetsov commented on #12315
Didn't end up being necessary

/close

[2018-02-08 17:37] #12315 closed

[2018-02-08 17:39] jperville commented on #18406
Hello @tnozicka , I try to apply your workaround from https://github.com/openshift/origin/issues/18406#issuecomment-363067144 which is to set the DC's container.image to " " (string containing a space).

Using OSE v3.7.0, I am unable to deploy the DC with container.image set to " " and automatic imageChangeTrigger, the following messages appears in Events "Couldn't deploy version 5: ReplicationCon

[2018-02-08 17:43] aveshagarwal opened #18527 "Configure nodes [localhost] nickhammond.logrotate : nickhammond.logrotate | Setup logrotate.d scripts"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18475/test_pull_request_origin_extended_conformance_install/7120/

[code]

Node logs:

[code]

@sdodson

[2018-02-08 17:46] sdodson commented on #18527
Need @openshift/networking to check why the sdn registration failed.

[2018-02-08 18:06] DanyC97 commented on #17464
i guess no luck to grab anyone attention no matter how much i tried .... oh well

[2018-02-08 18:10] aveshagarwal opened #18528 "could not find a service account token for service account"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18475/test_pull_request_origin_extended_conformance_gce/15884/

[code]
@sdodson

[2018-02-08 18:11] sdodson commented on #18525
`fatal: [ci-prtest-5a37c28-15857-ig-m-km2p]: FAILED! => {"attempts": 120, "changed": false, "cmd": ["curl", "--silent", "--tlsv1.2", "--cacert", "/etc/origin/master/ca-bundle.crt", "https://internal-api.prtest-5a37c28-15857.origin-ci-int-gce.dev.rhcloud.com:8443/healthz/ready"], "delta": "0:00:00.012001", "end": "2018-02-08 10:56:15.785153", "msg": "non-zero return code", "rc": 6, "start": "2018-0

[2018-02-08 18:16] DanyC97 commented on #18302
@php-coder  i can confirm after a new cluster was deployed that i get the same behavior as mentioned above.

any chance you guys can look into this please ?

[2018-02-08 18:18] sdodson commented on #18528
/assign kwoodson

[2018-02-08 18:19] bparees commented on #18519
ok so (as i come to understand the image resource apis), adding an annotation to an imagestreamtag necessarily requires adding the tag to the imagestream.spec.  So for a tag that was only pushed, you literally cannot add annotations to it, unless you're willing to accept that said tag gets added to imagestream.spec in the process.

I can make that happen (by defaulting the referencepolicy as we're

[2018-02-08 18:21] DanyC97 commented on #18184
@ibotty i believe due to the issue which @dgoodwin said he will look into it ?

[2018-02-08 18:50] jwforres commented on #18523
It will not immediately show up, there is a delay between the catalog syncing back to the template service broker.  If you waited and it never showed up, we would need logs from where the service catalog controller synced against the template service broker.

[2018-02-08 18:51] jwforres commented on #18512
@openshift/sig-master

[2018-02-08 18:51] ianmiell opened #18533 "Error from server: User "system:admin" cannot "get" on "/oapi""
I have been automatically spinning up clusters without issue in regression tests for over a year.

Recently I have been seeing this error intermittently:

[code]

when I run, on any master:

[code]

I'm not sure how to begin to debug this, since my understanding is that the provisioned kubeconfig should 'just work'. I've tried the usual restarts of etcd, master services etc, and hard reboots with

[2018-02-08 18:52] jwforres commented on #18527
@openshift/sig-networking

[2018-02-08 18:52] DanyC97 opened #18535 "pod application in go code sees i/o: timeout error when making a put request to HTTP server"
We have observed in one capture a pause, the dump file is available in a box location

##### Version
[code]

##### Steps To Reproduce
We still trying to have a consistent reproducible test case however we do have the initial tcpdump capture (took from a node using `tcpdump -i any`) which i can share

##### Current Result
The application log receive a `i/o timeout` error which is causing packets to

[2018-02-08 18:58] jwforres commented on #18533
@openshift/sig-master

[2018-02-08 19:01] #17941 closed

[2018-02-08 20:26] dxlr8r commented on #16171
[code]

This workaround worked for me. Dunno what was wrong with the old certificate/chain.

[2018-02-08 20:54] jwforres commented on #18535
@openshift/sig-networking

[2018-02-08 20:56] dexterac commented on #4650
I tried `oc login -u system:admin -n default --config=.kube/config` and it still would ask me for a password

[2018-02-08 20:58] rajatchopra commented on #18535
Assuming its the openshift-sdn plugin running,
Is the http request okay from the node?
Can you capture tcpdump on the tun0 device also and share?

[2018-02-08 21:00] liggitt commented on #18533
@openshift/sig-security

[2018-02-08 21:11] kargakis commented on #12462
@openshift/sig-networking

[2018-02-08 21:11] #12498 closed

[2018-02-08 21:18] sdodson commented on #18360
https://github.com/openshift/openshift-ansible/pull/7056 make sure that it waits until ansible is actually able to establish an ssh connection hopefully fixing this.

[2018-02-08 21:18] #18360 closed

[2018-02-08 21:28] stevekuznetsov commented on #12422
Unless we feel strongly, not worth tracking this tech debt.

/close

[2018-02-08 21:28] #12422 closed

[2018-02-08 21:29] stevekuznetsov commented on #12350
These recently got fixed with the new GCP job

/close

[2018-02-08 21:29] #12350 closed

[2018-02-08 22:20] #14631 closed

[2018-02-08 22:20] #17925 closed

[2018-02-08 22:30] stevekuznetsov commented on #9309
Looks like a manifestation of our favorite `journald` bug

/close

[2018-02-08 22:30] #9309 closed

[2018-02-08 23:22] liggitt commented on #18512
Labels on namespaces are used for applying cluster level policy. It is unlikely control over those labels will be given to namespace constrained users.

[2018-02-09 00:29] dagwieers commented on #11338
/remove-lifecycle stale

[2018-02-09 00:52] #18173 closed

[2018-02-09 03:20] dcbw commented on #17464
Investigated and was able to reproduce locally (at least a variant of the issue) using the nginx daemonset and restarting docker.  Analysis:

1) when docker is restarted, kubelet notices the sandbox has died and terminates it.  That termination clears the hostport chains too
2) kubelet tries to start a new sandbox, but docker is down and this fails
3) kubelet tries to start a 3rd sandbox, which wo

[2018-02-09 03:21] dcbw commented on #17464
One question for the reporter: does the container ever become ready and start but without the hostport rules?  Or does the container never become ready?

[2018-02-09 03:33] vfreex commented on #17464
@dcbw Thanks for your investigation. Regarding to your question, I need time to confirm. Will follow up later.

[2018-02-09 05:24] reemanaik24 commented on #18520
I deployed it through openshift console.I have shared the screenshot of the same below.

https://user-images.githubusercontent.com/24244859/36012818-c06a131c-0d86-11e8-9d19-2be70adfe254.png

When I am creating pipeline which has maven as the node it throws the below error:
Otherwise it works fine.

Still waiting to schedule task
maven-a6ad246e934d is offline
Running on maven-a6ad246e934d in /tmp/w

[2018-02-09 09:10] Jens-vd commented on #17523
We have changed the way we authorize pods for pulling images from the docker registry. Since the imagePullSecrets were not working as desired for us (and are more intended for pulling from external registries), we decided to investigate how we could authorize pods to the registry using their service account token.

This was not working when using the docker registry route (docker-registry-default.

[2018-02-09 11:25] mvlach commented on #18523
IMHO There was no delay in the previous version (1.3, 1.5).

Where can I find the log - only log I have is /var/log/messages with all logging mess.

[2018-02-09 12:01] DanyC97 commented on #17464
@dcbw in my case the is the former situation, pod up, no iptables rule

[2018-02-09 12:07] #12971 closed

[2018-02-09 12:07] kargakis commented on #12971
Fixed in https://github.com/openshift/origin/pull/13752

[2018-02-09 12:08] kargakis commented on #12371
@openshift/sig-networking

[2018-02-09 12:10] kargakis commented on #12773
Closing since upstream flake seems fixed

[2018-02-09 12:10] #12773 closed

[2018-02-09 12:24] kargakis commented on #13191
We do store master and node logs today but it seems they are pushed only in S3, right @stevekuznetsov @smarterclayton ?

[2018-02-09 12:24] #13191 closed

[2018-02-09 13:40] sdodson commented on #13359
/close

[2018-02-09 13:40] #13359 closed

[2018-02-09 13:51] aveshagarwal commented on #18527
This has been failing so many times that this PR https://github.com/openshift/origin/pull/18475#issuecomment-364318633 seems to just stuck.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18475/test_pull_request_origin_extended_conformance_install/7162/

[code]

[2018-02-09 14:24] sttts commented on #18496
Have bumped grpc alone, but etcd compilation breaks. So we have to bump etcd, grpc and probably grpc-gateway all at once. Do we want that? Kube 1.9.2 is also on an older version (v3.1.11), a bit younger though than ours.

[2018-02-09 15:00] mtbvang opened #18548 "Pod fails to start with MountVolume.SetUp failed for volume error"
I'm trying to create persistent volumes and use it as a claim in a pod and am getting an error similiar to [issue 13232](https://github.com/openshift/origin/issues/13232).

I have tried to restart rpcbind service on all severs as mentioned by geekyfox90 in the issue with no success.

I'm running the vagrant based demonstration project from the openshift-ansible-contrib project. It took a few tweak

[2018-02-09 15:33] bparees commented on #18520
stdout:
stderr: fatal: unable to access 'https://github.com/openshift/openshift-jee-sample.git/': Failed connect to github.com:443; No route to host

Well this is different than your original issue so i'm not sure which one we're debugging, but this issue is caused by DNS/networking configuration issues in your cluster.  It sounds like your pods are unable to access remote hosts.  Can you oc rsh i

[2018-02-09 15:45] kargakis commented on #6924
Closing in favor of the trello card

[2018-02-09 15:45] #6924 closed

[2018-02-09 15:47] kargakis commented on #12280
@openshift/sig-networking

[2018-02-09 15:47] #11770 closed

[2018-02-09 15:48] danwinship commented on #18527
The node is failing to start because the master is failing to start. origin-master-controllers.service is looping over and over again failing with:

    Feb 08 16:57:44 ip-172-18-6-38.ec2.internal origin-master-controllers[21128]: F0208 16:57:44.937222   21128 plugins.go:234] Invalid configuration: Predicate type not found for NoVolumeNodeConflict

[2018-02-09 15:50] juanvallejo commented on #18159
@jorgemoralespou friendly ping

[2018-02-09 16:07] dcbw commented on #17464
If either of you is able to run the node process with the command-line argument --loglevel=5 and get node logs, that would be helpful.  I'm looking for a line like:

`Sandbox for pod "nginx-rx4vn_default(dc407878-0d25-11e8-ba8d-0242aa43501a)" has no IP address.  Need to start a new one`

[2018-02-09 16:08] aveshagarwal commented on #18527
`NoVolumeNodeConflict` has been removed so should not be used.

[2018-02-09 16:24] stevekuznetsov commented on #12934
Fixed in our latest `/tmp` shuffling

/close

[2018-02-09 16:24] #12934 closed

[2018-02-09 16:24] stevekuznetsov commented on #13332
Seems like we are confident this will never happen?

/close

[2018-02-09 16:24] #13332 closed

[2018-02-09 16:25] stevekuznetsov commented on #13191
Correct

[2018-02-09 16:26] stevekuznetsov commented on #13019
Should be an upstream issue.

/close

[2018-02-09 16:26] #13019 closed

[2018-02-09 16:26] stevekuznetsov commented on #12854
@knobunc

[2018-02-09 16:26] #12799 closed

[2018-02-09 16:26] stevekuznetsov commented on #12830
No longer a problem

/close

[2018-02-09 16:27] #12830 closed

[2018-02-09 16:29] stevekuznetsov commented on #12519
This is not supported any longer.

/close

[2018-02-09 16:29] #12519 closed

[2018-02-09 16:29] #12568 closed

[2018-02-09 16:30] wagnersza commented on #13506
+1

[2018-02-09 16:31] kargakis commented on #9397
Haven't seen for some time

[2018-02-09 16:31] #9397 closed

[2018-02-09 16:32] #13426 closed

[2018-02-09 16:38] stevekuznetsov commented on #13464
Not important.

/close

[2018-02-09 16:38] #13464 closed

[2018-02-09 16:48] kargakis commented on #13422
@mfojtik is this fixed now?

[2018-02-09 17:14] mtbvang commented on #18548
I had to:
- create my nfs export directories in /srf/nfs for the persistent volumes so they matched the existing registry volume created during the installation
`drwxrwxrwx. 2 nfsnobody nfsnobody  6 Feb  9 16:51 pv0003`
- added line to  /etc/exports.d/openshift-ansible.exports:
`/srv/nfs/pv0003 *(rw,root_squash)`
-  restart nfs service.
`sudo systemctl restart nfs`

[2018-02-09 17:14] #18548 closed

[2018-02-09 18:29] #18522 closed

[2018-02-09 19:36] DirectXMan12 commented on #12362
/remove-lifecycle stale

I seem to recall working on this, but need to verify that it got fixed.

[2018-02-09 20:09] tknodell commented on #13487
/close

[2018-02-09 20:09] #13487 closed

[2018-02-09 22:19] liggitt commented on #18499
is the pod running successfully? if you run `oc port-forward` to that pod on that port, are you able to access it via localhost?

[2018-02-10 01:57] #12150 closed

[2018-02-10 02:02] #13434 closed

[2018-02-10 06:53] ybaumy opened #18560 "access to docker registry through other subnet via the load balancer?"
Trying to get docker registry to work from another network through the loadbalancer HAproxy.

Im getting an error here and need help setting up the haproxy.cfg

docker login -u $(oc whoami) -p $(oc whoami -t) docker-registry-default.os.vdc1-ext.local:5000
WARNING! Using --password via the CLI is insecure. Use --password-stdin.
Error response from daemon: login attempt to https://docker-registry-de

[2018-02-10 09:58] kargakis commented on #13853
@mfojtik fixed?

[2018-02-10 09:58] #13770 closed

[2018-02-10 09:58] #13812 closed

[2018-02-10 10:07] kargakis commented on #18560
@openshift/sig-networking
/kind question

[2018-02-10 10:15] kargakis commented on #13749
The Jenkins build is dead, reopen if a new occurence pops up

[2018-02-10 10:15] #13749 closed

[2018-02-10 12:17] megian commented on #17943
Unable to reproduce it constantly. Closing issue.

[2018-02-10 12:17] #17943 closed

[2018-02-10 13:24] glennodickson commented on #18499
Thanks for your responce. Yep tried the following:

Returns 'site can't be reached'
The image in the pom.xml is :
    <docker.from>registry.access.redhat.com/jboss-fuse-6/fis-karaf-openshift:1.0</docker.from>
I'm really unsure how to explore this issue as I'm kind of new to OCP so any suggestions would be really great!

[2018-02-10 19:09] mvlach commented on #18523
The syncing took 20 minutes. It is normal ? How can I debug this feature ? Or how can I monitor the sync process ?

Thanks very much...

[2018-02-10 20:07] kargakis commented on #13913
@mfojtik this should be fixed now, right?

[2018-02-10 20:07] kargakis commented on #13931
Closing as stale

[2018-02-10 20:07] #13931 closed

[2018-02-10 20:08] kargakis commented on #8622
We have CRDs now so I guess this is done.

[2018-02-10 20:08] #8622 closed

[2018-02-10 20:34] jwforres commented on #18523
@jboyd01 @jpeeler

[2018-02-10 21:26] DanyC97 commented on #17464
@dcbw  yes i do
[code]

[2018-02-10 23:41] coreydaley opened #18562 "index out of range when running oc new-app --template=foo"
[provide a description of the issue]
Running oc new-app --template=foo, a stacktrace is dumped to the terminal
It looks like the classification is not being set for some reason as classification.String() is blank

##### Version
[provide output of the `openshift version` or `oc version` command]
oc v3.9.0-alpha.4+ffa6a47-270-dirty
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SP

[2018-02-11 04:46] roshan-mr commented on #12359
Issue is fixed. Newly added node was running a latest version of Openshift packages. We manually downgraded packages to previous version(same as that of our cluster) and ran the playbook again. This time the node was able to join the cluster.

[2018-02-11 04:57] #10738 closed

[2018-02-11 05:00] kargakis commented on #14218
Not sure this is important enough to track.

[2018-02-11 05:00] #14218 closed

[2018-02-11 05:04] kargakis commented on #14212
It's unlike we will make other `rollout` commands default to DC. Could be fixed if the kubectl supported configuring defaults in the resource builder but I don't see that happen anytime soon (or ever).

[2018-02-11 05:04] #14212 closed

[2018-02-11 05:15] kargakis commented on #14135
Doesn't sound like an issue for openshift/origin. Please open an issue in the [docs](https://github.com/openshift/openshift-docs) repo.

[2018-02-11 05:15] #14135 closed

[2018-02-11 05:16] kargakis commented on #14081
Not something that needs to be tracked in our issue tracker.

[2018-02-11 05:16] #14081 closed

[2018-02-11 05:17] kargakis commented on #13596
Please ask at the openshift users mailing list.

[2018-02-11 05:17] #13596 closed

[2018-02-11 05:26] kargakis commented on #14105
@mfojtik is this fixed now with the openshift publishing bot?

[2018-02-11 05:31] kargakis commented on #3804
I guess this is fixed now.

[2018-02-11 05:31] #3804 closed

[2018-02-11 05:33] #12359 closed

[2018-02-11 06:35] galderz commented on #18303
This appears to be a known issue now:
https://github.com/openshift/origin/issues/18406#issuecomment-363067144 (via https://github.com/fabric8io/fabric8-maven-plugin/issues/1130#issuecomment-364101775)

[2018-02-11 10:49] aliscott opened #18564 "Unauthenticated requests to internal docker registry spamming logs"
After upgrading from 3.6.0 to 3.7.0 I'm seeing issues with the origin-master-controllers making unauthenticated requests to the internal docker registry which is spamming the logs multiple times per second for origin-master-api, origin-master-controllers and the internal docker registry. Any pointers as to what the issue could be?

[code]

In the origin-master-api logs I see:
[code]

In the origin

[2018-02-11 11:57] galderz commented on #18288
Hmmm, I think something else got on the way, maybe my minikube set up. Anyway, I've stopped using the service catalog since I don't actually need it.

[2018-02-11 11:57] #18288 closed

[2018-02-11 12:27] jffree commented on #18179
@missnebun Have you solved this problem? I have the same question.

[2018-02-11 13:14] mvlach commented on #18523
![image](https://user-images.githubusercontent.com/6176546/36073740-e55fa35c-0f35-11e8-9cc0-afd4f1551e63.png)

[2018-02-11 13:19] mvlach commented on #18523
There is no deployment controller for pod apiserver ?

[2018-02-11 13:19] mvlach commented on #18523
![image](https://user-images.githubusercontent.com/6176546/36073785-9095c3f0-0f36-11e8-8f92-4ed8d8a5dfb5.png)

[2018-02-11 16:07] missnebun commented on #18179
Yes ... you need to clone the 3.7 branch instead of master.

[2018-02-11 18:15] glennodickson commented on #18499
@jimmidyson  hi I read your [article](https://blog.fabric8.io/fabric8-s-kubernetes-tooling-for-java-developers-c8edd1617383) and was wondering if you could assist regarding jolokia. It's really frustrating!

Thanks

[2018-02-11 19:55] enj commented on #18447
https://github.com/apcera/gssapi/issues/54#issuecomment-363989014

[2018-02-11 19:55] #18447 closed

[2018-02-11 20:04] enj commented on #18512
Duplicate of #3819

[2018-02-11 20:04] #18512 closed

[2018-02-11 21:03] enj commented on #18564
What process did you use to upgrade the cluster?

@openshift/sig-security

[2018-02-11 21:10] aliscott commented on #18564
The ansible upgrade runbook

[2018-02-11 23:26] debianmaster commented on #14179
this is not resoled yet.

[2018-02-12 01:56] jffree commented on #18179
@missnebun Can you share your ansible inventory or any other deploy doc to me? Thank you!

[2018-02-12 02:09] pgier opened #18566 "Openshift reports a project as deleted before it's completely removed"
Using the 'oc delete project <name>' command returns quickly with the message "project <name> deleted".  However, at this point it has only been marked for deletion and has not been removed from the system.  The message should say instead "project <name> marked for deletion".

Immediately after the oc delete command has returned, using 'oc projects' will still show the deleted project.  In additio

[2018-02-12 04:28] masales commented on #17505
@fisache how do you solve this problem? I'm facing the same here. I don't understand "I solved it by getting token from private IP with ca." Can you be more clear? thanks.

[2018-02-12 06:53] eyakcn commented on #17740
same here.

```cat /etc/centos-release```
CentOS Linux release 7.4.1708 (Core)

```openshift version```
openshift v3.7.1+ab0f056
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

```cat /etc/os-release```
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos

[2018-02-12 07:01] fisache commented on #17505
@masales
Are you using aws ec2?
In this case, I solved this problem with 2 ways.

1. If you have not ca.
Use keycloak public ip or dns for authorize uri, and keycloak private ip for token uri.

2. If you have ca.
Make ca using openssl with dns and apply to keycloak. (refer to @wanghaoran1988 posting)
then, insert crt file to your openshift master config path (/etc/origin/master)

[2018-02-12 07:15] tnozicka commented on #14421
@mfojtik you fixed this reacently, right?

[2018-02-12 07:23] kumarranja opened #18568 "unable to deploy sample ruby-ex application in openshift origin"
Hi,

i successfully installed openshift-ansible using the ansible code i.e https://github.com/openshift/openshift-ansible , but when i am trying to deploy an app in openshift enterprise edition i am getting the following error :-

[root@master demo]# oc new-app https://github.com/openshift/ruby-ex.git
--> Found image 6789724 (10 days old) in image stream "openshift/ruby" under tag "2.4" for "ruby"

[2018-02-12 07:30] sttts commented on #13857
/remove-lifecycle stale

[2018-02-12 09:34] mfojtik opened #18569 "[localhost] openshift_web_console : Verify that the web console is running"
See: https://openshift-gce-devel.appspot.com//build/origin-ci-test/pr-logs/pull/18524/test_pull_request_origin_extended_conformance_install/7274/

[code]

[code]

Flaked 40 times in last 10 days, marking as P0. The controller logs for webconsole deployment: https://gist.github.com/mfojtik/4206e4d49253dba05137d0159345eef3

[2018-02-12 09:50] mfojtik commented on #18569
@spadgett @tnozicka according to controller logs I can see that the replica set reached 1 replica and there is no indication of deployment error. I would help if we can dump the `oc get all --all` when this happen to see what state the console pods are.

[2018-02-12 10:22] tnozicka commented on #18569
I see this failure permanently blocking 3.7 https://github.com/openshift/origin/pull/18524
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18524/test_pull_request_origin_extended_conformance_gce/16046/

[2018-02-12 10:56] tnozicka commented on #18569
still looking into it but can this new health check be failing? https://github.com/openshift/origin/pull/18411/files

[2018-02-12 11:05] containscafeine opened #18571 "Feedback on `oc new-app` behavior for deploying from local code"
If I need to deploy an application with from local source code, I need to follow the following steps:

`oc new-app  <path to code>`
This will detect the language, choose a builder image, and deploy the application from the "origin" remote found at the path. _this does not deploy the code that's there at the path_
If I need to deploy the local code, I need to run an additional `oc start-build --fro

[2018-02-12 11:46] tnozicka commented on #18569
I didn't see anything broken on controller side for this in master logs; looks like the pod there, just not up.

[2018-02-12 12:09] tnozicka commented on #14646
/lifecycle frozen

[2018-02-12 12:10] tnozicka commented on #14592
/lifecycle frozen

[2018-02-12 12:27] tnozicka commented on #10683
I am going to close this as DC features are frozen. We might consider something like this for upstream - feel free to open the issue there.

[2018-02-12 12:27] #10683 closed

[2018-02-12 12:42] tnozicka commented on #18406
Hi @jperville, that backport is not merged yet (hitting unrelated flake)

OSE backport will follow once that PR makes it through the queue in Origin ;)

That is strange as this is just short time failure as the image in DC will get eventually rewritten by image trigger causing a new rollout with valid image.

[2018-02-12 12:45] tnozicka commented on #18406
maybe it doesn't get synced; that part is being fixed in that backport as well

[2018-02-12 12:47] tnozicka commented on #18315
@sdodson thanks!

I'll see if we get another report of this issue here.

[2018-02-12 13:44] runcom commented on #18365
Fixed by increasing disk size of test instances

[2018-02-12 13:44] #18365 closed

[2018-02-12 13:48] spadgett commented on #18569
The webconsole container is crash looping.

We need the console container logs to debug. @stevekuznetsov do you know if the console container logs are available or if that is something we can capture?

Typically the container would crash loop either because:

1. The console config is bad and fails validation on startup, or
2. The console can't connect to the API server to determine if the template

[2018-02-12 13:51] deads2k commented on #18569
You could also update to not fail if the check fails on a non-404.  The error ought to be in your logs though.

[2018-02-12 13:51] jcantrill commented on #17901
/assign @zgalor
/unassign @jcantrill

[2018-02-12 13:58] sosiouxme commented on #9888
/remove-lifecycle stale

[2018-02-12 14:06] zgalor commented on #17901
@smarterclayton is this also caused by https://github.com/openshift/origin/issues/18317 as https://github.com/openshift/origin/issues/17529?

[2018-02-12 14:06] spadgett commented on #18569
I plan to

1. Remove or relax the TSB check so it won't crash loop the pod. I'd like to do this check on the client anyway so that we catch when TSB is enabled after the console pod starts.
2. Add some additional logging to openshift-ansible when the console install fails like the tail of the container log to make these problems easier to troubleshoot.

[2018-02-12 14:24] tnozicka opened #18573 "[3.7][blocked] - openshift-web-console install block realease-3.7 where it even shouldn't be installed"
installing openshift-web-console **permanently blocks** tests/merges on release-3.7 branch where it shouldn't be installed at all (per https://github.com/openshift/origin/issues/18569#issuecomment-364927103)

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18524/test_pull_request_origin_extended_conformance_gce/16052/

and 20+ more

@openshift/sig-continuous-delivery

[2018-02-12 14:51] simo5 commented on #8618
/assign @runcom

[2018-02-12 14:56] tnozicka commented on #11522
/lifecycle frozen

[2018-02-12 15:00] enj commented on #18533
@ianmiell can you point me to the steps that you are using to spin up your cluster?  Are you waiting for it to report healthy?

[2018-02-12 15:13] php-coder commented on #8618
Yes, it requires changes in Kubernetes. Here is the proposal: https://github.com/kubernetes/community/pull/756

There is also PR that adds `runAsGroup` field to the `SecurityContext`: https://github.com/kubernetes/kubernetes/pull/52077 At this time it's still in progress and isn't merged.

[2018-02-12 15:20] smarterclayton commented on #17901
It’s likely

On Feb 12, 2018, at 9:06 AM, Zohar Galor <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> is this also caused by
#18317 <https://github.com/openshift/origin/issues/18317> as #17529
<https://github.com/openshift/origin/issues/17529>?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://githu

[2018-02-12 15:20] enj commented on #18096
Leaving open for future deprecation.

[2018-02-12 15:24] ianmiell commented on #18533
Sure:

I use a script here:

https://github.com/ianmiell/shutit-openshift-cluster

It's quite hard to follow if you're not familiar with shutit, but
essentially those are bash commands wrapped in pexpect.

The bit that it's getting the error on is here:

https://github.com/ianmiell/shutit-openshift-cluster/blob/master/shutit_openshift_cluster.py#L349-L352

which runs 'oc get nodes' over and over u

[2018-02-12 16:09] runcom commented on #8618
This is something we would handle in CRI-O as well

[2018-02-12 16:16] #17754 closed

[2018-02-12 16:31] juanvallejo commented on #14188
Hi @cammil is this issue still happening?
The `--timeout` option for commands that rely on streaming connections, such as `rsh`, is meant to apply only when fetching the desired pod from the server. It could be likely that the node is the one dropping the connection in this case, after you have fetched the desired pod, and have established a streaming connection to it. You might need to adjust the

[2018-02-12 16:31] #14188 closed

[2018-02-12 16:43] sdodson commented on #14709
/close

[2018-02-12 16:43] #14709 closed

[2018-02-12 17:18] PhilipGough opened #18574 "Add support to update specific environment variables from resources"
[Add support to update specific environment variables from resources]

When running the `oc env --from` command, I would like to be able to specify which keys from the ConfigMap or Secret that should be set.

This is useful incases where there is a ConfigMap or Secret shared between multiple applications in a namespace, but all environment variables might not be required/wanted in the application

[2018-02-12 17:35] php-coder commented on #18345
I couldn't reproduce it on 3.6, 3.7 and the master. Looks like origin isn't affected by this. I'll try to find OSE 3.6 to reproduce it there.

[2018-02-12 18:14] sdodson commented on #14023
/close

[2018-02-12 18:14] #14023 closed

[2018-02-12 18:14] soltysh commented on #11240
/remove-lifecycle stale
/lifecycle frozen

[2018-02-12 18:17] jpeeler commented on #17641
From https://github.com/openshift/openshift-ansible/pull/7095:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7095/test_pull_request_openshift_ansible_extended_conformance_install_crio/2218/

[2018-02-12 18:17] jpeeler commented on #17882
From https://github.com/openshift/openshift-ansible/pull/7095:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7095/test_pull_request_openshift_ansible_extended_conformance_install/5078/

[2018-02-12 18:24] runcom commented on #17556
we got the very same flacky in CRI-O as well https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18536/test_pull_request_origin_extended_conformance_crio/4135/

[2018-02-12 18:31] richm commented on #14515
/remove-lifecycle stale

[2018-02-12 18:34] php-coder commented on #18345
@alicealvy Could it be related to a user or specific namespace? Please, provide the output of the `oc project` and `oc whoami` commands.

[2018-02-12 18:52] sdodson commented on #18573
@smarterclayton @stevekuznetsov Sam's PR will make this problem go away, but we should look into making the GCE jobs use the same branch of openshift-ansible as they do for origin.

[2018-02-12 19:05] smarterclayton commented on #14731
/lifecycle frozen

On Mon, Feb 12, 2018 at 11:36 AM, OpenShift Bot <notifications@github.com>
wrote:

[2018-02-12 19:25] ianmiell commented on #18533
Sure.

On Mon, Feb 12, 2018 at 7:25 PM, Mo Khan <notifications@github.com> wrote:

--
My book on Docker in Practice: Get 39% off with the code 39miell2
<https://www.manning.com/books/docker-in-practice-second-edition?a_aid=zwischenzugs&a_bid=550032fc>

[2018-02-12 19:32] alikhajeh1 commented on #12985
/remove-lifecycle stale
any update on this?

[2018-02-12 19:41] spadgett commented on #18573
/assign

[2018-02-12 19:49] spadgett commented on #14100
/remove-lifecycle stale

[2018-02-12 19:50] rhatdan commented on #7851
I think at this point, people should look at CRI-O which is a Docker replacement for container workloads, supports runc as well as Kata Containers.  It is fairly easy to swap out other OCI compliant runtimes as well.

[2018-02-12 20:20] tnozicka commented on #17638
see some concrete failures at loglevel 5
[code]

[2018-02-12 21:07] spadgett commented on #18569
The five PRs to change the TSB discovery are

https://github.com/openshift/origin-web-catalog/pull/642
https://github.com/openshift/origin-web-console/pull/2800
https://github.com/openshift/origin-web-console-server/pull/31
https://github.com/openshift/origin/pull/18580
https://github.com/openshift/openshift-ansible/pull/7120

It's not clear if this is the cause of the flake without container logs

[2018-02-12 21:10] tnozicka commented on #17017
@rthallisey did you ever get to file that upstream issue? I think I am hitting this now on Travis with nsenter missing

[2018-02-12 21:16] tnozicka commented on #17638
travis is missing `nsenter` and the detection kube is wrong (per https://github.com/openshift/origin/issues/17017#issuecomment-339085804)

[2018-02-12 21:39] sjenning commented on #17595
Opened a PR upstream:
https://github.com/kubernetes/kubernetes/pull/59767

[2018-02-12 21:44] joelsmith commented on #17017
FYI to anyone tracking this issue, I have opened https://github.com/kubernetes/kubernetes/pull/59770

[2018-02-12 21:45] joelsmith commented on #17638
@tnozicka I'm not sure that is the issue you're seeing in 3.7 since it shouldn't be using the containerized kubelet in 3.7. If you've moved on to 3.9, then perhaps that is responsible for your issue. Either way, I've opened an upstream PR to address the broken detection. https://github.com/kubernetes/kubernetes/pull/59770

[2018-02-12 22:36] enj opened #18582 "Need test for remove-user with invalid role binding name"
See https://github.com/openshift/origin/pull/18550#discussion_r167689447

[2018-02-12 22:40] enj opened #18583 "RBAC Migration Followup #26: Possible improvements to policy commands"
- [ ] They should not fail on conflicts (should retry)
- [ ] They should constrain their delete operations to UID + RV matches

[2018-02-12 22:43] #18573 closed

[2018-02-12 23:20] tnozicka commented on #17638
@joelsmith thanks for addressing the detection. Here is where I got: I am running v3.7.1 but travis was missing `nsenter`, after I've compiled it manually it now fails on missing `systemd-run` which I am trying to address now to see where it takes me

[2018-02-12 23:32] tnozicka commented on #17638
[code]

[2018-02-13 00:40] simo5 commented on #14811
/lifecycle frozen

[2018-02-13 01:11] joelsmith commented on #17638
There is a related issue that prevents pods from starting if they try to mount secrets. The issue has been reported to occur on Fedora 26 and 27 and produces the error that @sjenning mentioned above. If you see anything like this:
`caused \\\\\\\"mkdir /var/lib/docker/ ...snip...  /run/secrets/kubernetes.io: read-only file system\\\\\\\"\\\"\"\n"}`
Then there's a good chance that your docker is af

[2018-02-13 02:07] enj commented on #14854
/lifecycle frozen

[2018-02-13 02:26] johnfosborneiii commented on #17316
I ran into this exact same issue with a fresh installation of OCP 3.7 on a RHEL 7.4 VM.

The outbound networking worked from the VM. The outbound networking also worked when I ran a container out of band from Kubernetes (using docker run). OCP ran the container, the outbound networking broke but it could be fixed by removing the options ndots:5 or "search josborne.com". I couldn't figure out where

[2018-02-13 10:02] sreekanth-ragi commented on #17233
@Lazast: Could you please elaborate on the modifications you did to the template to get this working, My apologies as I wasn't too sure of what has been changed in the template.

Appreciate your help on this.

Thanks,
Sreekanth

[2018-02-13 10:35] tnozicka commented on #17638
This is Travis CI - so Ubuntu Trusty unfortunately still on InitV; although there are some detections in kube for systemd-run (not present there), it still tries to use it

[2018-02-13 11:32] MansM commented on #18184
any news @dgoodwin?

[2018-02-13 12:04] soltysh commented on #12273
Haven't seen this in a while.
/close

[2018-02-13 12:04] #12273 closed

[2018-02-13 12:04] soltysh commented on #12689
Now that deletion happens server-side, I think we can close this.

/close

[2018-02-13 12:04] #12689 closed

[2018-02-13 12:05] soltysh commented on #11732
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 12:08] soltysh commented on #12501
I don't recall seeing it recently.
/close

[2018-02-13 12:08] #12501 closed

[2018-02-13 12:10] soltysh commented on #13422
Yeah, all the bits are in.
/close

[2018-02-13 12:10] #13422 closed

[2018-02-13 12:13] soltysh commented on #3624
/remove-lifecycle stale
/lifecycle frozen

[2018-02-13 12:24] tnozicka commented on #14797
/lifecycle frozen

[2018-02-13 12:25] soltysh commented on #13776
This is properly handled with `WithTimeoutForNonLongRunningRequests`, which excludes watches among other things.

/close

[2018-02-13 12:25] #13776 closed

[2018-02-13 12:27] soltysh commented on #14108
Done.

/close

[2018-02-13 12:27] #14108 closed

[2018-02-13 12:29] dgoodwin commented on #18184
The issue is with the custom tagger in use by origin: https://github.com/openshift/origin/blob/master/.tito/lib/origin/tagger/__init__.py#L42 does not match the method signature for https://github.com/dgoodwin/tito/blob/master/src/tito/tagger/main.py#L570.

[2018-02-13 12:48] danwinship commented on #17316
Right, so the problem is that if the domain that gets listed in the `search` line does wildcard matching, then because of the `ndots:5`, basically all hostnames will end up being treated as subdomains of the default domain. Eg, `*.josbourne.com` appears to resolve to a particular AWS hostname, so if you look up, say, `github.com`, it ends up matching as `github.com.josbourne.com` which resolves to

[2018-02-13 12:54] ikus060 commented on #17316
Since the way to install openshift is to go with ansible playbook. I would add extra validation in ansible to make sure the provided DNS domain is behaving as you like. If not, the playbook should fail and warn the user.

[2018-02-13 14:01] cneira opened #18594 "hack/env make release fails with error "unable to pull image""
On Centos7, trying to build openshift fails with  error "unable to pull image".
[code]

[2018-02-13 14:13] sosiouxme opened #18595 "[k8s.io] InitContainer should not start app containers and fail the pod if init containers fail on a RestartNever pod [Suite:openshift/conformance/parallel] [Suite:k8s]"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7110/test_pull_request_openshift_ansible_extended_conformance_install/5085/

[2018-02-13 14:15] tnozicka commented on #18262
closing as dupe of https://github.com/openshift/origin/issues/17638 as that seems to be the root cause

[2018-02-13 14:15] #18262 closed

[2018-02-13 14:15] php-coder commented on #13858
Here is the content of `es-master.yaml` file:
[code]

[2018-02-13 14:19] php-coder commented on #18345
I was unable to reproduce this issue on
[code]
I tried to delete the secrets from different users and by different commands.

@alicealvy If it's possible, provide more details for reproducing the issue. Try to create a new project and delete its secrets, for example. Ideally, it's better to upgrade a cluster to a newer version.

[2018-02-13 14:19] #18345 closed

[2018-02-13 14:27] php-coder commented on #18302
@DanyC97 How did you install your cluster? Did you use ansible installer? What OS do you have on the nodes?

If you can provide an access to your cluster, let me know, this will streamline the process.

[2018-02-13 14:32] soltysh commented on #13858
/remove-lifecycle stale
/lifecycle frozen

[2018-02-13 14:38] php-coder commented on #18302
@DanyC97 as this information could be related, all the additional details also could help. Could you share installer configuration, for example? (of course, don't forget to mask all the sensitive information)

[2018-02-13 14:54] csrwng opened #18596 "cluster up fails to push to the registry on Docker for Mac CE 17.12.0 and newer"
Docker for Mac CE  17.12.0 introduced an internal proxy for Docker that prevents pushes into the local OpenShift registry when running a cluster with *cluster up*

You also get a warning when starting cluster up like:

[code]

For now, the workaround is to downgrade Docker to a version prior to 17.12.0. You can find download links to previous releases in their release note page:
https://docs.docke

[2018-02-13 14:55] csrwng commented on #18596
@mfojtik @deads2k
/cc @mpbarrett

[2018-02-13 15:05] spadgett commented on #18569
We won't be able to confidently know we've fixed this or troubleshoot future problems without having the console pod logs when install fails. @stevekuznetsov can you help with that?

/assign @stevekuznetsov

[2018-02-13 16:11] glennodickson commented on #18499
@rhuss I saw your [post](https://github.com/fabric8io/agent-bond/issues/14) and was wondering if you could suggest anything pls? I would greatly appreciate it.

[2018-02-13 16:29] tnozicka commented on #17638
So I've finally got this working with the 2 hacks bellow confirming what's the exact issue is.

1. `oc cluster up` >=3.7 requires `nsenter`
I don't think there is a way to avoid it's just required.
**Action item**: We should fail with `nsenter` not present. (Now we just log "... exit 1" on Info level 5 and continue.)

2. `oc cluster up` >=3.7 has a bug detecting Systemd vs. Init and forces `system

[2018-02-13 17:06] eriknelson opened #18600 "oc cluster up docs should not list --service-catalog as tech preview >3.7"
##### Current Result

The [docs describe](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#installing-the-service-catalog) an `oc cluster up` cluster as tech preview >3.6.

##### Expected Result

The catalog is GA as of >3.7, it shouldn't be considered experimental.

Minishift also considers service catalog support experimental, which it should not be anymore: https://github

[2018-02-13 17:49] spadgett commented on #18569
I have an openshift-ansible PR open to log more details when console install fails:

https://github.com/openshift/openshift-ansible/pull/7132

[2018-02-13 18:31] sjenning commented on #18595
/assign

[2018-02-13 18:38] sudheerchekka commented on #17441
Running in to the same issue. On my mac, oc version is taking 12 secs to respond. Here is the output with --loglevel=10

https://pastebin.com/tCLm01Z3

[2018-02-13 18:55] elyscape commented on #11551
/remove-lifecycle stale

[2018-02-13 19:48] joelsmith commented on #17638
Nice work figuring it out! Once the upstream detection PR is ready, we can try to get it backported for 3.9. But I'm not sure how high of a priority it will be considering that we mostly only support distros that have nsenter and systemd. So if the backport isn't pretty quick, this will probably not be considered a blocker for 3.9.

[2018-02-13 21:26] juanvallejo commented on #17441
cc @soltysh
From the logs, it looks like about 8 seconds are spent between [this line](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/transport/round_trippers.go#L386) and [this one](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/transport/round_trippers.go#L405). Per the logs, the actual round trip only seems to take 88ms - whi

[2018-02-13 21:36] sosiouxme commented on #18127
@pweil- @mfojtik any idea how this issue should be directed?

[2018-02-13 23:13] stevekuznetsov commented on #13516
Without more information, cannot aid any more.

/close

[2018-02-13 23:13] #13516 closed

[2018-02-13 23:13] stevekuznetsov commented on #12063
This is no longer applicable.

/close

[2018-02-13 23:13] #12063 closed

[2018-02-13 23:14] stevekuznetsov commented on #10248
/shrug
/close

[2018-02-13 23:14] #10248 closed

[2018-02-13 23:14] stevekuznetsov commented on #7952
Addressed by the linked PR

/close

[2018-02-13 23:14] #7952 closed

[2018-02-13 23:15] stevekuznetsov commented on #8962
@mfojtik should this remain open?

[2018-02-13 23:15] stevekuznetsov commented on #13771
@knobunc is this still valid?

[2018-02-13 23:16] stevekuznetsov commented on #13347
@marun what was the SELinux denial for DIND? Is it still valid?

[2018-02-13 23:18] stevekuznetsov commented on #9370
Vagrant box not supported any longer.

/close

[2018-02-13 23:18] #9370 closed

[2018-02-13 23:18] stevekuznetsov commented on #14089
Not an issue any longer

/close

[2018-02-13 23:18] #14089 closed

[2018-02-13 23:20] stevekuznetsov commented on #13945
Not pertinent anymore
/close

[2018-02-13 23:20] #13945 closed

[2018-02-13 23:25] DanyC97 commented on #18302
@php-coder see below:

[code]

yes

Regarding access to cluster, i can setup a webex if that works for you, i'm in Europe. will that work for you ?

[2018-02-13 23:25] DanyC97 commented on #17464
@dcbw any luck or you need more info from my side ?

[2018-02-13 23:25] stevekuznetsov commented on #13919
Closing, please comment if this is still an issue for our current `master`.
/close

[2018-02-13 23:25] #13919 closed

[2018-02-13 23:27] stevekuznetsov commented on #13759
Not important

/close

[2018-02-13 23:27] #13759 closed

[2018-02-13 23:28] stevekuznetsov commented on #14807
/remove-lifecycle stale
/cc @openshift/sig-user-interface @juanvallejo @fabianofranz

[2018-02-13 23:28] stevekuznetsov commented on #14648
No longer applicable

/close

[2018-02-13 23:28] #14648 closed

[2018-02-13 23:29] stevekuznetsov commented on #14898
Transient error with external repo.

/close

[2018-02-13 23:29] #14898 closed

[2018-02-13 23:30] stevekuznetsov commented on #15003
Doesn't seem like the problem still exists.

/close

[2018-02-13 23:30] #15003 closed

[2018-02-13 23:31] stevekuznetsov commented on #14371
/remove-lifecycle stale
/lifecycle frozen

This remains a royal PITA

[2018-02-13 23:31] stevekuznetsov commented on #13693
Picked up in the rebase

/close

[2018-02-13 23:31] #13693 closed

[2018-02-13 23:32] stevekuznetsov commented on #11452
We've pruned out dependencies on `@updaets` and `@epel` so this should be fixed.

/close

[2018-02-13 23:32] #11452 closed

[2018-02-13 23:34] stevekuznetsov commented on #18569
@sdodson do we want to grab logs in the installer if this fails or do we want this only for the CI?

[2018-02-14 02:05] enj commented on #7320
@stevekuznetsov yeah, the process to use nested AD groups is documented at https://docs.openshift.org/latest/install_config/syncing_groups_with_ldap.html#sync-ldap-nested-example

[2018-02-14 02:05] #7320 closed

[2018-02-14 02:10] enj commented on #14989
/lifecycle frozen

[2018-02-14 02:12] enj commented on #14524
/lifecycle frozen

[2018-02-14 05:30] kumarranja opened #18607 "unable to deploy sample ruby-ex application in openshift"
Hi,

i successfully installed openshift-ansible using the ansible code i.e https://github.com/openshift/openshift-ansible , but when i am trying to deploy an app in openshift enterprise edition i am getting the following error :-

[root@master demo]# oc logs ruby-ex-build
Cloning "https://github.com/openshift/ruby-ex.git" ...
WARNING: timed out waiting for git server, will wait 1m4s
error: Unable

[2018-02-14 09:20] peerster commented on #11566
@anderssv On 3.7 I still need to specify `namespace` when doing the RoleBinding

[2018-02-14 09:59] mfojtik commented on #18596
I would hold on fixing this until @deads2k finish the internal refactoring of cluster up.

[2018-02-14 13:17] pazzipanda opened #18609 "Issue with adding new express routes"
Can't get new express routes to work

##### Version
oc v3.7.1+ab0f056
kubernetes v1.7.6+a08f5eeb62
openshift v3.7.23

##### Steps To Reproduce
1. Install the repository
2. copy the app.get('/pagecount' [...]) and change it to app.get('/page'[..]) ((or basicly anything)

##### Current Result
Throws  Cannot GET /page

##### Expected Result
Same as GET /pagecount

##### Additional Information
So I tr

[2018-02-14 13:22] robdaems opened #18610 "oc : how to set dockerfile path during new-app/new-build"
I've a repo where my Dockerfile is called and located in /docker/Dockerfile.x86_64 (different architectures to build).
The rest of my source is located in /
I know it's possible to set the Dockfile path in the yaml, but I'd like to do it directly when creating the app/build. Now I've to make dummy app/build and adapt the yaml.

Has anyone an idea how to give the dockerfile path when using oc new-a

[2018-02-14 13:27] pazzipanda commented on #18609
here's the link to my server.js file

https://github.com/pazzipanda/leagueStatus/blob/master/server.js

[2018-02-14 14:07] sosiouxme commented on #18497
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16658/test_pull_request_origin_unit/9523/ yesterday

[2018-02-14 14:14] TimMoran commented on #17981
@knobunc This ticket seems to have gone stale and is in the process of being escalated. Is the logs that @garagatyi provided sufficient?

Thanks for looking back at this. The priority has raised on it.

[2018-02-14 14:18] bparees commented on #15171
@sjenning I think you might have worked this elsewhere?  (or be working it elsewhere?)

[2018-02-14 14:18] bparees commented on #15171
/remove-lifecycle stale

[2018-02-14 14:18] sosiouxme commented on #18127
@pweil- since it also showed up in the router pod it seems likely to be a wider issue. But obviously we're not getting other reports of this, so there's something triggering about this reported environment.

@micah by any chance do you have a reproducing environment we can poke around in to see if we can track it down? Otherwise, I think we'll need to close this as no one has any further ideas.

[2018-02-14 14:23] bparees commented on #15173
/close
(based on my last comment i guess we're happy w/ the tools we have for this)

[2018-02-14 14:23] #15173 closed

[2018-02-14 14:26] sosiouxme opened #18614 "Service Catalog [localhost] openshift_service_catalog : wait for api server to be ready"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18555/test_pull_request_origin_extended_conformance_install/7432/#service-catalog-localhost-openshift_service_catalog-wait-for-api-server-to-be-ready

[code]

[2018-02-14 14:31] sosiouxme opened #18615 "[k8s.io] EmptyDir volumes volume on default medium should have the correct mode [Conformance] [Volume] [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18556/test_pull_request_origin_extended_conformance_gce/16210/ against release-3.7

[code]

[2018-02-14 14:38] sosiouxme opened #18616 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s]"
It is not clear to me if this is an updated instance of https://github.com/openshift/origin/issues/12072 or something new. Close if duplicate.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18556/test_pull_request_origin_extended_conformance_gce/16210/ against release-3.7

[code]

[2018-02-14 15:10] bparees opened #18618 "retried pre-deployment hook doesn't progress deployment"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18597/test_pull_request_origin_extended_conformance_gce/16232/

As best I can tell, the deployment attempted to run a pre deployment step, that failed(?) then it retried it(?) and it succeeded, but the deployment got stuck anyway:

here's the deployment pod logs:
[code]

here's the current pre-deploy pod logs (note that they

[2018-02-14 15:32] stevekuznetsov commented on #12676
Other issues tracking this,

/close

[2018-02-14 15:32] #12676 closed

[2018-02-14 15:32] stevekuznetsov commented on #10773
Kind of amazing this stopped flaking out.

/close

[2018-02-14 15:32] #10773 closed

[2018-02-14 15:36] bparees commented on #10773
sssshhh..you'll wake the beast.

[2018-02-14 15:54] akostadinov commented on #15184
/remove-lifecycle stale

[2018-02-14 17:37] mwitzenm commented on #18115
@glennswest very interested in the outcome!! I have 2 different customers asking about this ( I believe this is how you were pulled into this at first ).

[2018-02-14 17:39] php-coder commented on #18302
@DanyC97 Could you share installer configuration? And is there a special reason of why you're using 3.7 instead of 3.7.1?

[2018-02-14 20:35] #18330 closed

[2018-02-14 20:41] sudheerchekka commented on #17441
thanks for looking into it. here is the output:

https://pastebin.com/Wd4VHw3k

[2018-02-14 20:45] simo5 commented on #18564
@legionus is this something you would ow/know how to deal with ?

[2018-02-14 21:18] enj commented on #17067
Tracking via https://trello.com/c/pFw2YC9I

[2018-02-14 21:18] #17067 closed

[2018-02-14 21:59] #18582 closed

[2018-02-14 22:51] DanyC97 commented on #18302
@php-coder i'd love to use 3.7.1 but the rpms are not available in CentOS repo unfortunately. If you can help on that i'll move to 3.7.1 in a blink of an eye ;)

I'll sanitize and share the inventory file shortly

[2018-02-14 23:07] bparees commented on #18519
So basically (I'm realizing) it's impossible to update an IST if there is no imagestream.spec.tag for it because there is nowhere to store the update content.  The error may not be great(users get a weird validation error reported from the imagestream, when they were trying to update the imagestreamtag), but the behavior seemingly can't be fixed (the only way to add annotations to a pushed IST wou

[2018-02-15 05:02] sjenning commented on #18507
Restarting the node service should not result in the Node resource being deleted from the API server.  Are you saying that is happening?

[2018-02-15 05:17] ramr opened #18626 "Test flakes with error No API token found for service account "default", retry after the token is automatically created"
See: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/18587/test_pull_request_origin_extended_conformance_gce/16274/build-log.txt

The above mentioned PR is hitting it consistently. There are 4 of the same type of failures in the attached log and all the failures are within a couple of seconds of each other.

It looks like the test creates a service account and then tries to create a pod

[2018-02-15 09:54] frobware commented on #17883
I'm still investigating this but it is very hard to reproduce. This week, and on a whim, I  switched from docker 1.12.6 to docker 1.13 and got 1 error in 25 hours. Last night/today I have had one occurrence in 13 hours. Looking through the logs I believe this "context cancelled" error happens each time:

    Feb 15 08:26:13 rhel-74-vm-1 etcd[1287]: failed to receive watch request from gRPC stream

[2018-02-15 10:16] legionus commented on #18564
/cc @dmage

[2018-02-15 10:17] dmage commented on #18564
https://bugzilla.redhat.com/show_bug.cgi?id=1543122

[2018-02-15 10:20] legionus commented on #18564
@simo5 Some thing trying to get a signature without authorization. You can see that request is comming to `/extensions/v2/my-namespace/my-app/signatures/...`

[2018-02-15 10:23] dmage commented on #18564
@legionus it's the signature import controller:
[code]

[2018-02-15 10:40] legionus commented on #18564
@simo5 @dmage So I can congratulate ourselves on the fact that we created a DDoS attack on ourselves. Since for every request from this  controller we are going back to master API to check auth.

[2018-02-15 12:13] enj commented on #18564
So why does the signature importer not use a token to authenticate?  Note that this type of spam would occur from a person using curl, a controller with an invalid token, etc.  There is no DDOS here.

[2018-02-15 13:02] jeremyeder commented on #15167
/lifecycle frozen

On Thu, Feb 15, 2018 at 5:47 AM, OpenShift Bot <notifications@github.com>
wrote:

--

-- Jeremy Eder

[2018-02-15 13:55] ianmiell commented on #18533
What's the best way to dump the db?

I wrote this script:

[code]

which outputs:

https://gist.github.com/ianmiell/35882a353c4b4cf59f6a6a189acddb47

[2018-02-15 13:55] ianmiell commented on #18533
NB I put a newline for each comma to make it slightly more legible

[2018-02-15 14:28] simo5 commented on #15349
/lifecycle frozen

[2018-02-15 14:40] smarterclayton commented on #14031
@openshift/sig-networking please triage thid

[2018-02-15 14:40] smarterclayton commented on #14031
This

[2018-02-15 15:26] taneem-ibrahim commented on #18083
@cringdahl did you also notice x509 cert messages in the node log? This [PR](https://github.com/openshift/origin/issues/18083) might be relevant.

[2018-02-15 15:31] stevekuznetsov commented on #15200
/close

[2018-02-15 15:31] #15200 closed

[2018-02-15 15:58] php-coder commented on #18610
@openshift/sig-developer-experience

[2018-02-15 15:59] php-coder commented on #18607
@openshift/sig-networking

[2018-02-15 16:00] ybaumy commented on #18560
even a .. thats not how it works and nobody works like that ..  would help me

[2018-02-15 16:00] php-coder commented on #18571
@openshift/sig-developer-experience

[2018-02-15 16:17] bparees commented on #18571
As you note, you can always run a binary build against the buildconfig that is produced, even if the buildconfig references your remote repo.

if you use oc new-build, you can do `oc new-build --binary` to avoid building/deploying your remote code.

because new-app predates the ability to run binary builds, meaning when it was created, the *only* way for it to work was if you had a valid git remot

[2018-02-15 16:20] bparees commented on #18610
There's no way to do so currently.  new-app/new-build have a limited ability to influence the shape of the buildconfig they create.  Beyond the basic capabilities, the expectation is that you will either:

1) craft your own buildconfig from scratch
2) tweak the buildconfig it produces.

to aid with (2) you can use "oc new-build -o yaml > somefile.yaml", then edit the yaml before doing an "oc creat

[2018-02-15 16:20] #18610 closed

[2018-02-15 16:25] bparees commented on #18571
also if you remove your .git folder, new-app will create a binary build for you.  I realize that may not be an ideal solution but fyi.

converting this to a trello card since it's an RFE: https://trello.com/c/XJSisZuD

[2018-02-15 16:25] #18571 closed

[2018-02-15 16:43] cringdahl commented on #18083
Unsure, I've reset the environment and gone to 3.6 since then. I can have a look.

[2018-02-15 16:54] enj commented on #18533
@ianmiell your cluster is hosed since it missing this key:

`/openshift.io/authorization/cluster/policybindings/:default`

The holds the data that gives `system:admin` its bootstrap powers.

`oc adm overwrite-policy` can be used to go directly to ETCD and fix the missing data, but I have no idea what would cause that.

[2018-02-15 16:58] knobunc commented on #14031
@smarterclayton I think the right answer is that the all-in-one needs to use a networking plugin by default.  Perhaps the kubenet one (to be as light as possible).  Otherwise there's no good way for us to set the hairpin.

@dcbw do you have any thoughts?

[2018-02-15 16:58] stewartshea commented on #17677
In my case this was a configuration issue, but possibly also not clearly documented. In 3.7 the newer service catalogue should be installed by default, but our lack of understanding that this would happen, and not wanting to introduce new capabilities just yet, this was set to not install.

In order to add on after install;
- set this in the inventory file
[code]
- and then manually run the servic

[2018-02-15 17:04] hadess commented on #15251
Still relevant from what I can tell.

[2018-02-15 17:17] ianmiell commented on #18533
I can't run the oc command as I have no access!

Is there a way I can prod anything to get it to reload etcd with the
'right' data, eg re-install rpms?

On Thu, Feb 15, 2018 at 4:55 PM, Mo Khan <notifications@github.com> wrote:

--
My book on Docker in Practice: Get 39% off with the code 39miell2
<https://www.manning.com/books/docker-in-practice-second-edition?a_aid=zwischenzugs&a_bid=550032fc>

[2018-02-15 17:39] bparees commented on #15252
/remove-lifecycle stale
/lifecycle frozen

[2018-02-15 17:53] #7851 closed

[2018-02-15 18:02] enj commented on #18533
@ianmiell that command interacts with ETCD directly so you just need the master config of the server.  It does _not_ go through the openshift API (so it is impossible for you to not have access).

[2018-02-15 18:53] #18257 closed

[2018-02-15 19:08] jcantrill commented on #15243
/remove-lifecycle stale

[2018-02-15 19:52] jlebon opened #18632 "oc new-app throws segfault on invalid build strategy"
`oc` crashes when trying to instantiate a template with an invalid buildconfig strategy:

[code]

##### Version

[code]

##### Current Result

Segfaults.

##### Expected Result

 Doesn't segfault, gives clean error.

[2018-02-15 21:15] DanyC97 commented on #18184
@dgoodwin are you tackling the issue since it seems you know / are familiar with it or don't have the bandwidth ?

[2018-02-15 21:32] marcelomrwin commented on #17505
@fisache thanks. I solved my problem puting the ca.crt and ca.key in openshift certs route https.

[2018-02-15 21:35] spadgett commented on #15020
/remove-lifecycle stale

[2018-02-15 22:19] tnozicka commented on #17638
Sure, we don't want to block 3.9 release for this as it is now conformed that it doesn't affect the main platforms; backport is fine.

[2018-02-15 22:35] juanvallejo commented on #17441
It looks like about 8 seconds are being spent decoding and returning cached discovery data.
@sudheerchekka are you also using version 3.5? could you post your `oc version` output?

[2018-02-15 22:50] blurtonator opened #18635 "Unable to Access Service Subnet"
After a fresh install of Openshift Origin, I am not able to access services on pod services subnet from within a pod. I can ping from pod-to-pod using the pod IP address.

##### Version
[code]

##### Steps To Reproduce
1. Deploy OpenShift, leave pod/service subnets at default
2. Deploy pods
3. Enter a pod and ping or curl a service IP(:port)

##### Current Result
Ping hangs
CURL returns "Empty rep

[2018-02-16 00:27] coreydaley commented on #17675
@bparees
If you build using this PR and run the command leaving off the --binary, it still comes up as sourceStrategy in the BuildConfig.  If you specify `--strategy docker` should it override the build strategy no matter what?

Test Command:
`oc new-build --source-image centos:latest --source-image-path /tmp --image-stream httpd --to test:testing --strategy=docker -o json --dry-run`

Strategy sec

[2018-02-16 00:30] bparees commented on #17675
yes. and in particular, "oc new-build --binary --strategy=docker foo" should result in a binary build w/ strategy docker.

--strategy should override any auto-detection logic we have that attempts to guess at the build strategy.

[2018-02-16 00:32] sudheerchekka commented on #17441
I am using 3.7

**oc v3.7.23
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth
Server https://192.168.64.7:8443
openshift v3.7.14
kubernetes v1.7.6+a08f5eeb62**

I realized I was using OpenShift version of oc client.
When I switched over to Origin version, no more delay and here is the output of that oc client:

**oc v3.7.1+ab0f056
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

Server https://

[2018-02-16 00:32] coreydaley commented on #17675
The example command given above (using httpd instead of foo) results in a correct build config.

[code]

[2018-02-16 00:36] bparees commented on #17675
well whatever command @stevekuznetsov ran didn't, see his comment:
https://github.com/openshift/origin/issues/17675#issuecomment-350136307

he says he passed --binary and --strategy docker and got a source strategy build.

also your example for `oc new-build --source-image centos:latest --source-image-path /tmp --image-stream httpd --to test:testing --strategy=docker -o json --dry-run` shows the w

[2018-02-16 08:12] MansM commented on #18184
Weird that that tagger issue pops up now, the OS line is 9 months old and the tito line is over a year old

[2018-02-16 10:32] aliscott opened #18638 "Build not re-pushing previously pruned layers to registry storage"
An "unknown blob" error happens after building an image that has a layer with the same SHA as one that was pruned recently. It appears the build isn't properly pushing the layer to the registry storage.

##### Version
[code]

Registry version:
[code]

##### Steps To Reproduce

Registry is configured with Aliyun OSS storage and these keys exist in OSS before running the pruner:
* `/images/docker/re

[2018-02-16 10:47] miminar commented on #8849
This gives us opportunity to:

1. make a new deployment(config)/registry for quay
2. deprecate dc/docker-registry
3. profit

:smile:

[2018-02-16 11:06] runcom commented on #17641
CRI-O tests report the same flake:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18260/test_pull_request_origin_extended_conformance_crio/4416/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15409/test_pull_request_origin_extended_conformance_crio/4397/

[2018-02-16 11:06] runcom commented on #17641
/cc @mrunalp @sjenning @derekwaynecarr

[2018-02-16 11:24] ianmiell commented on #18533
Thanks - that did the trick. For anyone else that come across this issue, these were the steps to resolve:

[code]

I'll bake these steps into my automated tests.

Thanks!

[2018-02-16 11:40] ianmiell commented on #18533
Hmmm, now I'm knee deep in other issues:

Nodes can't start because:

[code]

I assume something fundamentally went wrong at install, but I'm unsure as yet where to look.

[2018-02-16 11:51] #17556 closed

[2018-02-16 12:39] djlindstr commented on #12169
liggitt wrote:

Although I personally agree that having usernames on a canonical form is to be preferred, I think this standpoint is too strict for interoperability with other systems. Especially since LDAP user IDs are case-insensitive in most implementations, in accordance with the LDAP specification.

Ref. https://tools.ietf.org/html/rfc4519#section-2.39
/remove-lifecycle stale

[2018-02-16 12:50] dgoodwin commented on #18184
@DanyC97 apologies I do not have the bandwidth, I tried to build origin while debugging but couldn't get it working offhand. For someone who is setup for origin building it should be a very quick Python fix, most likely just adding "release=None" to that method signature and you'll be good to go.

@MansM probably surfaced late because of delay in when it was released to Fedora/EPEL repos in Decemb

[2018-02-16 13:17] containscafeine opened #18642 "`oc whoami` should not return an error when logged out"
When no user is logged in to the cluster, `oc whoami` should return `system:anonymous`, not an error.

##### Version
[code]

##### Steps To Reproduce
1. Logout from the cluster
2. Run `oc whoami`

##### Current Result
[code]

##### Expected Result
[code]

[2018-02-16 14:37] AuHau opened #18644 "oc editing all resources - '--all' unknown parameter"
I am trying to patch all resources in my namespace with following command:

`oc patch dc --all -p '{"spec":{"template": {"spec": {"containers": [{"resources": {"limits" : {"cpu": "150m", "memory": "150Mi"}}}]}}}}'`

But I get an error `unkown flag: --all`.

When I run it without it I get an error: `error: resource(s) were provided, but no name, label selector, or --all flag specified`.

Am I missi

[2018-02-16 15:10] AuHau commented on #18644
Small update I tried similar thing with the `scale` command (I wanted to scale all DeploymentConfigs to fixed number of replicas) and got the same error and messages.

[2018-02-16 16:48] jorgemoralespou opened #18645 "[RFE] oc CLI should preserve name of contexts"
When working with OpenShift, it might happen that you connect to multiple clusters. These can be cloud clusters, on-premises, or even multiple profiles of minishift.
When you connect to a cluster, oc creates an entry for that context including cluster, user and namespace. These contexts that are created are given an automatic name by oc.

e.g.

[code]

These names are difficult to handle and remem

[2018-02-16 16:59] jorgemoralespou commented on #15239
/lifecycle frozen

[2018-02-16 17:52] stevekuznetsov commented on #15251
Would you be willing to write a PR adding the phrasing you'd expect there?

[2018-02-16 17:54] stevekuznetsov commented on #15510
/shrug

[2018-02-16 17:58] hadess commented on #15251
No, sorry. I had to do a mandatory training with work, found the documentation lacking, and was asked by the trainer to open an issue. That's as far as my involvement goes.

[2018-02-16 17:59] aveshagarwal commented on #18528
This keeps failing its seems: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18475/test_pull_request_origin_extended_conformance_gce/16405/

[2018-02-16 18:02] pollyrobin commented on #18507
Yes it does. I created a simple script to output oc get nodes every second while i started the atomic-openshift-node.service
[code]
Did the same for the oc describe node e-omaster-t-1
[code]

i actually figured out another thing
in the master 1 logs i can't find any information (looking in atomic-openshift-master-controller.service logs
it is saying
but in the same logs on master 2 i can see
Feb 1

[2018-02-16 18:07] stevekuznetsov commented on #12169
Case insensitivity is only part of the problem here, LDAP would have to be giving _inconsistent_ casing for this to be a problem. Origin won't care if they are cased one way or another, just that LDAP is consistently putting them in the same case.

[2018-02-16 18:47] spadgett commented on #18569
I'll defer to @sdodson but it might make sense just to add it to the installer. This would help anyone troubleshoot console install failures. For instance, if I set an incorrect `openshift_web_console_prefix` it would be clear that the install failed because the image couldn't be pulled. Today I'd just see the message in the description with no hints on how to troubleshoot.

[2018-02-16 18:56] jorgemoralespou commented on #18159
@juanvallejo sorry for taking so long, I missed the notification. I've tried with a clean install. No kubeconfig

All of the below, are using the macOS clients.

[code]
I've tried with:
[code]
and
[code]
and
[code]
and
[code]

All giving me the same behaviour. 30s timeout.

[2018-02-16 19:24] mgjadoul commented on #12169
Identity management in international large organization is on constant
evolution. It is large and complexe.
Companies merge.... Then one system is eliminated. And thus we have no
guarantee that a uid which is case insensitive won't change.
So we normalize both at user authentication and when we import groups for
authorization.
By precaution.
Marc.

Le ven. 16 févr. 2018 à 19:07, Steve Kuznetsov <n

[2018-02-16 19:58] smarterclayton commented on #8849
We aren't going to be removing the integrated registry anytime soon.
However, we may just move to an operator model to deploy the registry
component in which case the migration can potentially be handled in that.

On Fri, Feb 16, 2018 at 5:48 AM, Michal Minář <notifications@github.com>
wrote:

[2018-02-16 20:45] enj commented on #18533
@ianmiell in general the data in your ETCD seems to be corrupted / missing.  I have no idea how you set it up so cannot tell you what has gone wrong there.  I suppose since this is a test environment you could just delete all data from ETCD and start from scratch?

[2018-02-16 20:49] juanvallejo commented on #18159
@jorgemoralespou no problem, thanks for posting that log output. From what I can see, the 30-second delay is happening when we make the HEAD request, to see if the server can even be reached. Although we set a timeout value in the restclient config we use to obtain a round-tripper, that value ultimately does not appear to be relayed to the round tripper that ends up making the request here: https:

[2018-02-16 21:03] jorgemoralespou commented on #18159
@juanvallejo can you build/attach a client built for this PR for
darwin/Mac. I can't build origin. Or point to the ci server location for
the binary, if there's one.

[2018-02-16 21:07] enj commented on #15511
/lifecycle frozen

[2018-02-16 21:23] nikolicjakov commented on #17936
@sylvainar

Hi, i am having the same problem. I have latest GitLab running behind custom domain and i cant get it to work.

I have tested creating 2 secrets one for _**gitlab.mydomain.com**_ and one for _**registry.mydomain.com**_. But nothing seems to help.

I have also tested using curl to get the domain of authentication and it is gitlab.mydomain.com.

[code]

Am i doing something wrong here be

[2018-02-16 22:20] soltysh commented on #17441
@juanvallejo so it's the OCP v3.7.23, that's causing this delay, only. It was reported elsewhere (ping me for the source) the exact same situation. Switching to origin 3.7.1 solved the problem.

[2018-02-17 09:55] cedrico2016 opened #18655 "no route to github from pod"
[provide a description of the issue]
Creation of a new app using S2I providing a github repository. A backslash is added a the end of the repository URL causing a failure while pulling the repository.

##### Version
[provide output of the `openshift version` or `oc version` command]

oc v3.7.23
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443

[2018-02-17 13:58] nikolicjakov commented on #17936
I would just like to post an update for all of you that are having trouble getting this to work.
This is what i have did and what has worked out for me.

1. Login to your gitlab docker registry and gitlab domain using docker..
[code]
and
[code]

This will create docker _**config.json**_ in your user home directory under _**~/.docker/config.json**_
Now you can use this file to generate openshift se

[2018-02-17 15:53] djlindstr commented on #12169
Perhaps I should open a new ticket. I have some difficulties following the original post; it might be that I am mixing things up.

My problem can be summarized as follows: users are imported into Openshift from LDAP (AD). Authentication works regardless of case, since it's delegated to the LDAP backend. Authorization is case-sensitive, since it's done in Openshift. I would like the authorization t

[2018-02-17 16:16] liggitt commented on #12169
How LDAP resolves the user-entered login name is entirely up to LDAP (and happens to be done case insensitively), but the user id attribute LDAP reports back to openshift is treated case sensitively. That is the value used for authorization.

 There are no plans to make authorization case-insensitive.

[2018-02-17 16:36] lambiase commented on #17740
Same here, using exactly the same OS and openshift versions as @eyakcn

[2018-02-17 16:36] enj commented on #15011
/lifecycle frozen

[2018-02-17 20:55] smarterclayton commented on #18626
Probably introduced by #18508

/assign @deads2k

[2018-02-17 20:58] smarterclayton commented on #18626
Created a bug since this may break end user apps https://bugzilla.redhat.com/show_bug.cgi?id=1546466

[2018-02-17 22:58] xxwassyxx commented on #17685
Since this does not appear to work, why is it even in the config then? This is very confusing as I have now spent a lot of time thinking that it was me that was doing something wrong, when in reality prometheus doesn't even support this option. It would be nice if it did, so don't get me wrong. But again its just very misleading and should be removed.

[2018-02-17 23:26] michaelgugino commented on #9789
Replying here because it's a top hit for search.

The issue I was having was that the domain name for my cluster was appended into /etc/resolv.conf on the 'search' line.  This was causing dns to attempt to resolve external requests as github.com.mydomain.com.

Removing the domain from the node's resolv.conf and restarting the node service allowed new pods to resolve dns properly.

[2018-02-18 00:29] smarterclayton commented on #17282
SRPMS have been added to the build jobs

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_gce/2516/
will be the v3.7.1 SRPM, the release branches all have SRPMs

https://storage.googleapis.com/origin-ci-test/releases/openshift/origin/release-3.8/origin.repo
https://storage.googleapis.com/origin-ci-test/releases/openshift/origin/release-3.7/origin.repo
https://sto

[2018-02-18 00:29] #17282 closed

[2018-02-18 01:18] michaelgugino commented on #9789
Replying here because it's a top hit for search.

The issue I was having was that the domain name for my cluster was appended into /etc/resolv.conf on the 'search' line.  This was causing dns to attempt to resolve external requests as github.com.mydomain.com.

Removing the domain from the node's resolv.conf and restarting the node service allowed new pods to resolve dns properly.

[2018-02-18 04:35] coreydaley commented on #16557
It looks like the other side of this race condition si
Events:

  Warning	BuildConfigTriggerFailed	4m	buildconfig-controller	error triggering Build for BuildConfig cdaley/ruby-ex: Internal error occurred: build config cdaley/ruby-ex has already instantiated a build for imageid ...

[2018-02-18 05:00] GrahamDumpleton commented on #15894
/lifecycle frozen

[2018-02-18 06:49] #17675 closed

[2018-02-18 08:37] djlindstr commented on #12169
Thank you for clearing that up (even though I don't agree with the decision :) ).

[2018-02-18 09:18] marekjelen commented on #14340
@dobbymoodge @smarterclayton @brenton is there still chance to get this or should it be closed as `wontfix`?

[2018-02-18 09:33] sydneybadminton opened #18657 "I am always getting Failed Mount and POD doesn't get created when PVC is added"
I have one project with single deployment and persistent storage. Whenever I add PVC to the deployment I do not get POD created and I am keep getting following error,

Unable to mount volumes for pod "badminton-3-pqm98_maddydeva(71a2d367-148a-11e8-a26f-06e7d92b1aa4)": timeout expired waiting for volumes to attach/mount for pod "maddydeva"/"badminton-3-pqm98". list of unattached/unmounted volumes=[

[2018-02-18 14:46] #18533 closed

[2018-02-18 18:00] ksemaev commented on #15449
This issue is actual for release 1.5, but all releases newer then that are fine

[2018-02-18 18:00] #15449 closed

[2018-02-18 18:02] ksemaev commented on #15729
/close

[2018-02-18 18:02] #15729 closed

[2018-02-18 19:14] smarterclayton commented on #14340
Did you not see the email?  This has been implemented.

[2018-02-18 19:18] marekjelen commented on #14340
@smarterclayton nope, but found it, thanks so much for getting this implemented!

[2018-02-18 23:26] bparees commented on #13214
/remove-lifecycle stale
/lifecycle frozen

[2018-02-19 05:26] GrahamDumpleton commented on #16121
/remove-lifecycle stale

[2018-02-19 07:48] rhuss commented on #18499
I guess you already spotted the typo here, should be `localhost`, not `locahost`.
If you can rule out that's a typo, then Jolokia has not been properly attached to the JVM during startup. Unfortunately I'm on the road this week, but I can have a look to the mentioned quickstart to try to reproduce it.

But please check first, whether you can't really connect (you can also try a 'telnet localhost 5

[2018-02-19 08:27] legionus commented on #16097
This again happened:
[code]
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/388/

[2018-02-19 08:44] legionus commented on #18384
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_registry/122/consoleFull

[2018-02-19 08:55] adelton commented on #15879
/remove-lifecycle stale

[2018-02-19 09:41] legionus commented on #18564
Have no idea.

The signature importer should not try to import signatures from integrated registry at all because the signatures are stored in the images in the master API. The importer is trying to import what he already has. Importing signatures makes sense only for external servers.

If the multiplication of requests to master API (one client request costs  2-3 requests to the master API) witch

[2018-02-19 12:46] dmsimard commented on #14384
/remove lifecycle stale

[2018-02-19 12:46] dmsimard commented on #14384
/remove-lifecycle stale

[2018-02-19 13:24] spadgett commented on #15877
My understanding from @derekwaynecarr is that this is a known issue with quota. Invalid resources can temporarily count against quota, but it eventually corrects. The console is simply reporting what it sees in quota status, so I don't believe this is a console issue.

/unassign
/assign @sjenning

[2018-02-19 13:24] spadgett commented on #15877
/remove-lifecycle stale

[2018-02-19 13:42] jmprusi commented on #16724
@knobunc Any update on this issue?

[2018-02-19 15:13] php-coder commented on #7014
/lifecycle frozen

[2018-02-19 15:14] php-coder commented on #7014
/remove-lifecycle stale

[2018-02-19 15:33] stevekuznetsov commented on #13115
Should have squashed this one again ...

/close

[2018-02-19 15:33] #13115 closed

[2018-02-19 15:36] stevekuznetsov commented on #14772
I think we've squashed this bad boy.

/close

[2018-02-19 15:36] #14772 closed

[2018-02-19 15:37] stevekuznetsov commented on #15943
Please re-open if this is still an issue.

/close

[2018-02-19 15:37] #15943 closed

[2018-02-19 15:39] stevekuznetsov commented on #13977
/shrug
/close

[2018-02-19 15:39] #13977 closed

[2018-02-19 15:39] stevekuznetsov commented on #13977
Ignoring problems until they go away is ultimately the best approach...

[2018-02-19 15:40] stevekuznetsov commented on #15699
@sttts did this get fixed upstream?

[2018-02-19 15:41] stevekuznetsov commented on #14368
/shrug
/close

[2018-02-19 15:41] #14368 closed

[2018-02-19 15:41] stevekuznetsov commented on #13672
/shrug
/close

[2018-02-19 15:41] #13672 closed

[2018-02-19 15:51] legionus commented on #17787
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/379/consoleFull#-169259343956c60d7be4b02b88ae8c268b
[code]

[2018-02-19 16:34] stevekuznetsov commented on #17787
@rhvgoyal ping

[2018-02-19 17:19] enj commented on #15835
/lifecycle frozen

[2018-02-19 17:19] enj commented on #15830
/lifecycle frozen

[2018-02-19 17:20] enj commented on #15813
/lifecycle frozen

[2018-02-19 17:43] wabouhamad opened #18664 "Cluster Loader (test/extended/cluster/cl.go) does not report the correct number of pods in Pending state"
Cluster Loader (test/extended/cluster/cl.go) does not report the correct number of pods it created when they are in Pending state.  It reports success immediately after creating the pods and exits.

##### Version
openshift v3.9.0-0.45.0
kubernetes v1.9.1+a0ce1bc657
etcd 3.2.8

##### Steps To Reproduce
1. create a config file with pod template containing pod affinity rules and where pods will fail

[2018-02-19 17:43] wabouhamad commented on #18664
@sjug  PTAL

[2018-02-19 18:05] sjug commented on #18664
Hey @wabouhamad, right now we only wait for pods to be in `Running` state when your step size has been met. In this instance if you changed your `TuningSet` step size to 10 rather than 40, it would wait.

If you want to give that a try to verify it works, that's the current implementation and not a bug. If we want to change behaviour, we should open a RFE instead.

[2018-02-19 18:37] enj commented on #4306
/lifecycle frozen

[2018-02-19 18:38] enj commented on #14363
/lifecycle frozen

[2018-02-19 18:41] enj commented on #15120
/lifecycle frozen

[2018-02-19 18:43] enj commented on #15121
/lifecycle frozen

[2018-02-19 18:48] enj commented on #15825
/lifecycle frozen

[2018-02-19 18:48] enj commented on #15937
/lifecycle frozen

[2018-02-19 19:03] enj commented on #18564
@legionus who owns that component?

The code is built to handle this (everything is heavily cached).  The docker auth stuff is a bit of a snowflake because it does not use the remote auth bits directly (like the kubelet for example), meaning it does not cache locally (it is not a big deal because the master still bases all decisions off of a cache).

[2018-02-19 20:42] wabouhamad commented on #18664
Hey @sjug, with step size 10 it actually waited indefinitely since the pods were stuck in Pending state. When I hit control-C to kill it, it exited with a Failure message but it still shows 1 Passed 0 Failed 0 Pending:

Ran 1 of 99 Specs in 647.201 seconds
FAIL! -- 1 Passed | 0 Failed | 0 Pending | 98 Skipped

Is this expected behavior ?

[code]

[2018-02-19 21:02] sjug commented on #18664
Are you asking if the waiting indefinitely is expected or the reponse to SIGINT?

The timeout for the tuningset is user configurable so just set the `tuning.Pods.Stepping.Timeout` in the config and it will not wait indefinitely.
As far as the SIGINT handle, at the point where it is recieved during the wait, there's nothing after that would fail. So it is expected behaviour for CL.

[2018-02-19 21:05] DanyC97 commented on #17464
@dcbw sorry to keep nudge you, any chance you can spare some time to get to the bottom of it please? (i know this might be in your spare time hence will be much appreciated the extra mile effort)

[2018-02-19 21:51] wabouhamad commented on #18664
@sjug, I was referring to the counts in the last FAIL message.  Should the Failed counter be 1 and Passed 0, since none of the pods made it to running state, instead we see:

Ran 1 of 99 Specs in 647.201 seconds
FAIL! -- 1 Passed | 0 Failed | 0 Pending | 98 Skipped

[2018-02-19 21:56] sjug commented on #18664
How would it know if the pods made it into running state, you sent SIGINT during execution? As I said in my last message (quoted above) there's nothing else that would fail after that check, so therefore it passed all checks.

[2018-02-19 22:12] wabouhamad commented on #18664
that's right since your are not trapping the SIGINT.  Closing this issue since it is expected behavior.  Thx.

[2018-02-19 22:12] #18664 closed

[2018-02-19 22:20] legionus commented on #18564
@enj I did not really understand what component you're asking. If you ask about the signatures, then it's definitely not me. I can only tell you how the part of the signatures code that is in the integrated registry works.

And yet our auth is pretty slow in my opinion. And if I can disrupt the work of other users with requests to master API through the registry (and I believe that I can), then I

[2018-02-19 22:39] enj commented on #18564
The signature importer is what I was referring to.  @bparees maybe you can assist?

Based on what exactly?  If you find the docker registry auth code to be slow, then replace it with the correct cached implementation that the kubelet uses (or do a 10 second cache at the very least): https://trello.com/c/kyTpWLYu

If you want to DOS the cluster, just make direct curl requests.  The registry might m

[2018-02-19 22:44] bparees commented on #18564
nope. still @mfojtik for now.  he had PRs to address this (spamming the api server w/ requests), i don't know what happened to them, i don't think they were merged yet.

[2018-02-19 22:47] enj commented on #18564
I am not really worried about spamming the API server (any bad actor can do that).  I am mostly trying to figure out why the signature importer makes unauthenticated requests (the rate of which is a different issue).

[2018-02-19 22:48] bparees commented on #16097
/cc @danwinship @dcbw

[2018-02-19 23:36] legionus commented on #18564
Based on the measurements at my playground. I have nothing better. Sorry.

You're not kidding? The direct requests require the capacity of the API server or API servers, since the ratio will be one to one. The one-to-one attack is only effective against very non-scalable and slow services. Also I want to note that such requests are easily filtered/limited by the client.

The attack from the servic

[2018-02-20 01:03] #16557 closed

[2018-02-20 05:25] apekshasao opened #18671 "proxy protocol is not working"
hi,
 I am trying to enable proxy protocol in my setup which is running in AWS after running the oc command my total openshift stack is unreachble. Could you please help me with the same.

##### Version
[provide output of the `openshift version` or `oc version` command]
oc v1.4.1

##### Steps To Reproduce
1. [step 1]oc env dc/(your)router ROUTER_USE_PROXY_PROTOCOL=true

##### Current Result
 It is

[2018-02-20 10:13] dernasherbrezon commented on #17441
Hi @juanvallejo, here it is:

According to logs there is 1.211 seconds between reading response from server and failed attempt to save into H:\.kube.

The issue is definitely in the shared disk.

[2018-02-20 10:59] vikaschoudhary16 commented on #17698
I think we can close this now since vendored kube has this fix PR:
https://github.com/kubernetes/kubernetes/pull/53028

[2018-02-20 10:59] #17698 closed

[2018-02-20 11:09] daald opened #18672 "Why is the oc tool so big?"
The file openshift-origin-client-tools-v3.7.1-ab0f056-linux-64bit.tar.gz is 38.4M in size, and the extracted oc tool has a size of 191M.

This is far the biggest linux executable file I've ever seen, and the high compression ratio of almost 5:1 shows that there is not that much binary inside.

Looking inside, I find uncompressed html and css, which could at least be compressed. But I also wonder w

[2018-02-20 12:37] myniva opened #18673 "OpenID is writing sensitive client secret to log file"
If your OpenShift installation has an OpenID Connect identity provider (see https://docs.openshift.org/3.6/install_config/configuring_authentication.html#OpenID) configured, the sensitive `client_secret` is written to the logs:

    Feb 20 09:54:41 master-node origin-master[18966]: I0220 09:54:41.313861   18966 handler.go:66] Authentication needed for &{{oidc ... {<client_id> <!!!CLIENT_SECRET!!!>

[2018-02-20 12:55] droslean opened #18674 "Build is failing with HTTP 502 for big repositories."
Build is failing when trying to clone a big repository.
strategy: sourceStrategy
type: Git

##### Error
error: RPC failed; result=22, HTTP code = 502
fatal: The remote end hung up unexpectedly

##### Version
oc v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f

[2018-02-20 12:59] DanyC97 commented on #18657
@sydneybadminton can you please format your deployment config ?

[2018-02-20 13:33] myniva opened #18675 "OpenID Connect IdP not sending client secret with token request"
We configured the OpenID Connect identity provider to work with OneLogin (https://onelogin.com). The initial part of the Authorization Code Flow is working well: When a user tries to access the OpenShift console, he's redirected to OneLogin. After successful authentication, he sent back to OpenShift with this HTTP GET request:

    <master>/oauth2callback/oidc?code=<code generated by OneLogin>&sta

[2018-02-20 15:09] danwinship commented on #16397
the switch to shared informers (#16766) should have fixed this

[2018-02-20 15:09] #16397 closed

[2018-02-20 15:13] deads2k commented on #18626
fixed

[2018-02-20 15:13] #18626 closed

[2018-02-20 16:26] mjudeikis commented on #11602
k, I can still see that issue is still there. But before jumping to the code, lets flush right behavior (and update doc after).

`oc new-app <command>`
command:

| Case Num | Command       | Behaviour |
| -- | ------------- | ------------- |
| 1 | non-builder-image https://detectable-repo | Code detection is done. IF builder found - use it, else Fail. Non-builder image is ran as image without buil

[2018-02-20 16:40] bparees commented on #18674
/assign @coreydaley

[2018-02-20 16:40] bparees commented on #18674
/unassign

[2018-02-20 16:41] juanvallejo commented on #17441
@dernasherbrezon

Thanks for confirming this. Does it still take ~1 second to save when you place (and use) ~/.kube in a local drive?

[2018-02-20 16:50] dernasherbrezon commented on #17441
@juanvallejo Unfortunately, I cannot change home directory (I am not an administrator).

I was wondering if there is a way to change cache directory?

[2018-02-20 17:09] sudheerchekka commented on #17441
In my case, I have OpenShift running locally on my laptop. So the client and the server on the same laptop

[2018-02-20 17:13] ogunheper opened #18679 "Missing Centos PaaS RPM packages for openshift origin v3.7.1"
Although the latest release seems to be 3.7.1 at https://github.com/openshift/origin/releases/latest since 16th of Jan., the Centos PaaS RPMs seems missing at http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/

Would it be possible to build RPM packages for v3.7.1 and release them on the Centos PaaS repository?

I will be more then happy if I could help to build those rpms, so feel fr

[2018-02-20 17:28] bparees commented on #16484
/close

[2018-02-20 17:28] #16484 closed

[2018-02-20 17:59] coreydaley commented on #18674
@droslean How big of a repo are you using?  Is it publicly available so that I can test with it?

[2018-02-20 18:27] stevekuznetsov commented on #16086
@kargakis this mirrors the web console vendor in that we need to find a way to get these into the queue and coalesce multiple updates in case they come in faster than the PRs can merge

[2018-02-20 18:28] stevekuznetsov commented on #16254
/close

[2018-02-20 18:28] #16254 closed

[2018-02-20 18:28] nelsong opened #18681 "Upgrade from 1.5.1 to 3.6 fails."
I'm trying to do a test upgrade before hitting up the production servers and I'm getting an error when running the upgrade playbook.

##### Version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. ansible-playbook -i ../dev playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml -e openshift_disable_check=disk_availability,memor

[2018-02-20 18:28] stevekuznetsov commented on #16238
No repro
/close

[2018-02-20 18:28] #16238 closed

[2018-02-20 19:11] vaibhavpatil123 opened #18682 "OC cluster oc v3.9.0 up webconsole not access from centos 7 vm to outside and not able to pull image in oc cluster getting timeout error"
[provide a description of the issue]

##### Version
oc v3.9.0-alpha.3+78ddc10
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. After oc cluster up running on VM not accesable outside vm
 ./oc cluster up --host-data-dir=/mydata --use-existing-config  --public-hostname='127.0.0.1'
![image](https://user-images.githubusercontent.com/9848325/36443968

[2018-02-20 19:25] Yajuvendradesai commented on #18682
I am also getting same exception, please help here.

[2018-02-20 20:15] ewolinetz opened #18683 "RunPodSandbox from runtime service failed"
During a CI job run, seeing the following error in the kubelet logs

[code]
I was able to get the deployment to 'take' by either removing and then re-adding the node label (for the daemonset) or running `oc rollout latest` for the DCs that ended up failing to deploy for the same reason.

docker-1.12.6-71.git3e8e77d.el7.x86_64

Original CI job url: https://ci.openshift.redhat.com/jenkins/job/test_p

[2018-02-20 20:56] droslean commented on #18674
@coreydaley The repo I used is 160MB with a lot of files (specific 4235).
Unfortunately, the repo is not publicly available to test it.

[2018-02-20 21:01] spadgett commented on #18569
I don't see any instances of this in snowstorm in the last 48 hours. @mfojtik let me know if I'm looking at it correctly. Note that openshift/origin-web-console-server#31 recently merged, which could have fixed the problem.

openshift/openshift-ansible#7132 is in the merge queue and should give us more detail if it happens again.

[2018-02-20 21:03] spadgett commented on #18569
https://github.com/openshift/openshift-ansible/pull/7108 also disables the console install for releases before 3.9.

Closing this issue.

/close

[2018-02-20 21:03] #18569 closed

[2018-02-20 21:37] coreydaley commented on #18674
@droslean Thanks for the info.

[2018-02-20 21:51] coreydaley commented on #18674
@droslean I was able to set the source for a build to https://github.com/torvalds/linux, which is quite large, and did not encounter any issues or errors.

Can you try using a large repo on github as the source and see if you have the same issues?  It could potentially be an issue with cloning over a VPN to the internal source?  Are you able to clone that repository to your workstation that is run

[2018-02-20 21:55] coreydaley commented on #18674
It may also be worth checking the origin logs and see if you are running out of resources on your workstation.

[2018-02-20 22:21] bparees commented on #18674
Is it hosted on github or elsewhere? There could be an issue in the git server, certainly a 502 would make me think it's a git server problem.

[2018-02-20 22:55] sdodson commented on #13918
This is now possible.

https://github.com/openshift/openshift-ansible/blob/master/inventory/hosts.example#L221-L227

/close

[2018-02-20 22:55] #13918 closed

[2018-02-21 05:37] mar1ged commented on #16521
/remove-lifecycle stale
/lifecycle frohen

I think this is still of interest for me and others, therefore commenting accordingly

[2018-02-21 05:41] mar1ged commented on #18672
What you describe applies to all binaries compiled by golang, so openshift can't be blamed for the admittedly inefficient way Go creates its binaries

[2018-02-21 05:46] mar1ged commented on #18681
I would say going from 1.5 to 3.6 is a giant leap. If possible at all I guess you need to update to some of the versions in between first

https://docs.openshift.org/latest/install_config/upgrading/index.html

[2018-02-21 08:51] tnozicka commented on #16330
likely already fixed with a rebase since last report is 90 days old

[2018-02-21 08:51] #16330 closed

[2018-02-21 10:11] tnozicka opened #18689 "OpenShift webcosole naming inconsistency"
namespace: `openshift-web-console`
deployment.Name: `webconsole`
deployment.labels.webconsole
command: `/usr/bin/origin-web-console`
config: `webconsole-config.yaml`
image: registry.reg-aws.openshift.com:443/openshift3/ose-web-console:v3.9.0-0.42.0
...

We might want to consider how we spell `webconsole` (or `web-console`) and use it in unified way. Ideally before shipping this with 3.9 where it f

[2018-02-21 10:18] droslean commented on #18674
The strange thing is that I am able to clone the repo from a container but not from a Build.  I am convinced that the problem should be in the git server but it's a pity that openshift doesn't give us the ability to find out why. Maybe it's needed to make more configuration in git for builds to include also cases like this.

Is there any way to provide you more information on what is happening whi

[2018-02-21 10:21] marob opened #18690 "Build Input Secret fails when destinationDir has trailing "/""
Build Input Secret fails when destinationDir has trailing "/"

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://daaclx11.dns21-3.socgen:8443
openshift v3.6.173.0.21
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. provide a build configuration with a secret having a destinationDir with a trailing "/"

[code]

2. run the build. The file can'

[2018-02-21 11:14] nelsong commented on #18681
I tried running the 3.5 upgrade to get to the latest 1.5 release and it said the same thing. I'll be closing this issue and moving it to openshift-ansible since it really isn't an openshift problem.

[2018-02-21 11:14] #18681 closed

[2018-02-21 11:29] runcom commented on #17641
another flake here https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18684/test_pull_request_origin_extended_conformance_crio/4614/

[2018-02-21 12:00] coreydaley commented on #18674
@droslean
Are you using an http proxy on your workstation?

[2018-02-21 12:06] enj commented on #16579
/lifecycle frozen

[2018-02-21 12:44] spadgett commented on #18689
This is very difficult to fix at this point because

1. We've deployed 3.9 to several clusters already
2. The proxy in master find the service by its name

We'd probably need to create services with both the old and new names for a time to avoid having a window where the install and CI is broken since this requires change to both openshift-ansible and the origin proxy.

There will be a downtime fo

[2018-02-21 13:00] deads2k commented on #18689
I don't feel strongly, but if we're going to do it, doing it now is more reasonable than doing it after 3.9.

[2018-02-21 13:18] spadgett commented on #18689
@sdodson

[2018-02-21 13:49] DanyC97 commented on #18184
sure, thanks @dgoodwin .
@stevekuznetsov done it already +1

With that said, who is the best person to tag so that it can push the rpms into the centOS repo ?

[2018-02-21 13:51] DanyC97 commented on #18679
@ogunheper i think this can be closed in favor of https://github.com/openshift/origin/issues/18184

[2018-02-21 14:00] sdodson commented on #18689
The image name is going to be impossible to change at this point, so if we change anything I think we should gravitate towards 'web-console'. I'm not too worried about internal clusters where the old deployment exists, we can manually clean that up.

[2018-02-21 14:04] cordeta opened #18693 "Filipino Localization"
I would like to offer free Filipino Translation to your documents. Rest assure that my service is credible

[2018-02-21 14:50] sspeiche commented on #4405
/close

[2018-02-21 14:50] #4405 closed

[2018-02-21 14:51] sosiouxme commented on #16596
/remove-lifecycle stale

[2018-02-21 14:54] droslean commented on #18674
@coreydaley no

[2018-02-21 15:11] mhutter commented on #12893
Issues is resolved as per 3.6.1

[2018-02-21 15:11] #12893 closed

[2018-02-21 15:13] danwinship commented on #11740
oh, hello random old bug that probably explains the weird HostSubnet behavior we were seeing on Online (#18617).

cc @pravisankar because I think you were digging into this?

/lifecycle frozen

[2018-02-21 15:15] sosiouxme opened #18695 "FAILED - RETRYING: Wait for API to become available"
gcp test fails because master API never became responsive. No clear reason why.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18654/test_pull_request_origin_extended_conformance_gce/16550/

[code]

[2018-02-21 15:55] php-coder commented on #18672
@stevekuznetsov @smarterclayton

[2018-02-21 15:55] php-coder commented on #18642
@enj @simo5

[2018-02-21 15:56] jwforres commented on #18693
When you say documents do you mean our documentation website, if so this issue should go here https://github.com/openshift/openshift-docs/issues

[2018-02-21 16:01] stevekuznetsov commented on #18672
We've had this comment a number of times. The comment about this being an issue with Go, the compiler, and generated code is correct. Not sure we can really do much about it. See also [the official doc](https://golang.org/doc/faq#Why_is_my_trivial_program_such_a_large_binary).

[2018-02-21 16:02] stevekuznetsov commented on #18672
/close

[2018-02-21 16:02] #18672 closed

[2018-02-21 16:02] jwforres commented on #18682
sounds like a networking issue, but also including @spadgett in case there are issues related to console now being in a pod

[2018-02-21 16:03] jwforres commented on #18679
closing in favor or #18184

[2018-02-21 16:03] #18679 closed

[2018-02-21 16:03] jwforres commented on #18675
@openshift/sig-security

[2018-02-21 16:04] php-coder opened #18696 "oc rsh should support -n option"
`oc rsh` silently ignores `-n` option.

##### Version
[code]

##### Steps To Reproduce
1. `oc cluster up`
2. `oc login -u system:admin`
3. `oc get pods -n openshift-web-console`
4. `oc rsh webconsole-67475666c5-5l89z -n openshift-web-console`

##### Current Result
[code]
##### Expected Result
The shell session to a pod should be created.

[2018-02-21 16:06] jwforres commented on #18673
@openshift/sig-security

[2018-02-21 16:11] jwforres commented on #18671
@openshift/sig-networking

[2018-02-21 16:13] jwforres commented on #18657
@openshift/sig-storage

[2018-02-21 16:14] jwforres commented on #18655
@openshift/sig-developer-experience

[2018-02-21 16:16] jwforres commented on #18645
@openshift/sig-master

[2018-02-21 16:16] jwforres commented on #18642
@openshift/sig-security

[2018-02-21 16:18] jwforres commented on #18638
@openshift/sig-developer-experience

[2018-02-21 16:18] spadgett commented on #18682
It looks like the console isn't working because the console image couldn't be pulled. If we can solve the image pull problem, it should also solve the console problem.

[2018-02-21 16:18] aliscott opened #18698 "Incorrect SSL certificate returned for routes when using a slow connection"
When using or simulating a slow network connection hitting a route can sometimes cause the default router certificate to be returned instead of the route's certificate.

This is an issue because for mobile users or users on unreliable connections it shows a certificate warning when accessing the site, instead of an expected timeout.

##### Version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5ee

[2018-02-21 16:18] jwforres commented on #18635
@openshift/sig-networking

[2018-02-21 16:21] jwforres commented on #18698
@openshift/sig-networking

[2018-02-21 16:21] liggitt commented on #18675
looks like we're configuring it to use client authentication method `client_secret_post`:
https://github.com/openshift/origin/blob/master/pkg/oauthserver/oauth/external/openid/openid.go#L116

An option to use `client_secret_basic` (defined in http://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) could be added to the OIDC identity provider, but the openshift OIDC IDP behavior

[2018-02-21 16:28] erinboyd commented on #18657
Do you have the quota to create another PVC?

[2018-02-21 16:38] jsafrane commented on #18657
edited yaml formatting

[2018-02-21 16:42] dclairac opened #18699 "Add ntp dependancy in origin-master-api.service to avoid unability"
On master reboot, If NTP generates a negative time offset (return in the past) after starting the origin-master-api service, the API does not work.

##### Version
oc v3.7.23
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. On an OpenShift cluster with 3 master:
2. Restart one of the 3 master
3. On master 3: curl https://master-host:8443/healthz/ping -k

##### Current Result
User "system:a

[2018-02-21 16:45] bparees commented on #18638
/assign @legionus

[2018-02-21 16:47] bparees commented on #18655
The slash is not the issue. You're networking is broken. Hence no route to github.

@jwforres fyi.

[2018-02-21 16:54] bparees commented on #18674
Try doing the clone manually from within a pod running on your cluster (via
oc rsh).  The jenkins image is good for this.  That will allow you to debug
whatever you want and simulates what the build is doing.

Ben Parees | OpenShift

On Feb 21, 2018 02:18, "Nikolaos Leandros Moraitis" <
notifications@github.com> wrote:

[2018-02-21 17:00] bparees commented on #14043
/close

Ben Parees | OpenShift

On Feb 20, 2018 21:11, "OpenShift Bot" <notifications@github.com> wrote:

[2018-02-21 17:00] #14043 closed

[2018-02-21 17:00] bparees commented on #16601
/close

Ben Parees | OpenShift

On Feb 20, 2018 21:11, "OpenShift Bot" <notifications@github.com> wrote:

[2018-02-21 17:00] #16601 closed

[2018-02-21 17:06] cordeta commented on #18693
I believe I am referring to your documentation website how may I be of help for Filipino Localization?

[2018-02-21 17:13] php-coder commented on #18693
@openshift/team-documentation

[2018-02-21 17:30] enj commented on #18675
@myniva perhaps you should ask OneLogin to support `client_secret_post`?  The spec does not make it clear if supporting it is required, but it does state that it may be configurable per client.

[2018-02-21 17:53] jim-minter commented on #16201
/remove-lifecycle stale

[2018-02-21 18:03] sosiouxme commented on #11315
Got it twice today. https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18654/test_pull_request_origin_extended_networking_minimal/14578/ is the latest

[2018-02-21 18:39] DanyC97 commented on #17047
@dcbw @sjenning any input as to where the issue might be?

[2018-02-21 19:08] sethgagnon commented on #7237
Did anyone get a script working for this? I tried the following command from a bash terminal:
oc get projects -o name | grep -E '^seth' | xargs oc delete project

but I get the following error:
$ oc get projects -o name | grep -E '^seth' | xargs oc delete project
error: resource(s) were provided, but no name, label selector, or --all flag specified

[2018-02-21 19:15] jorgemoralespou opened #18701 "[RFE] Create a --user-created-all flag to select everything project namespaced that has been created by the user"
There should be a flag that selects every single resource that has been created by a user so he can clean everything he has deployed/created.
In the scenario where a user is not given project auto provision capabilities, he might want to delete everything that's there and he created so he can get back to a clean initial state.

It can be a command like __oc project --clean__ or similar. Not sugges

[2018-02-21 19:26] jorgemoralespou opened #18702 "manually deleting a service created via the TSB does not delete the Serviceinstance and binding"
If I deploy a service through the TSB (e.g. mongodb) and then I do an "oc delete all --all" which will delete the service and deployment, then the ServiceInstance and Binding remains, but with invalid information as the service implementation is no longer available or valid.

##### Version
3.7.1

##### Steps To Reproduce
1. Create a mongodb through the service broker with a binding
2. oc delete al

[2018-02-21 19:44] enj commented on #16648
/lifecycle frozen

[2018-02-21 19:46] TimoL commented on #15132
closing old issue

[2018-02-21 19:46] #15132 closed

[2018-02-21 20:16] sosiouxme opened #18705 "AggregatedLogging breaks oc adm diagnostics"
If logging is not installed, you cannot run `oc adm diagnostics`.

##### Version
[code]

##### Steps To Reproduce
1. `oc cluster up` or `minishift start`
2. `oc adm diagnostics`

##### Current Result
[code]

... except you *can't* specify `--logging-project` at this level. And execution halts entirely.

##### Additional Information

This was [supposed to be an optional parameter on a sub-command](

[2018-02-21 20:30] liggitt commented on #7237
probably need `xargs -n1 ...`

[2018-02-21 21:32] jwforres commented on #18632
@openshift/sig-developer-experience

[2018-02-21 21:34] jwforres commented on #18702
The question here is should `oc delete all --all` be deleting service instances and service bindings if the CLI sees types exist during API discovery.

[2018-02-21 21:34] jwforres commented on #18702
@openshift/sig-master

[2018-02-21 21:36] jwforres commented on #18701
@openshift/sig-master

[2018-02-21 21:55] liggitt commented on #18702
If the service catalog wants service instances and bindings to be included in the `all` category, it can choose to do so by adding the "all" category. See an example here:

https://github.com/kubernetes/kubernetes/blob/2a604f6358698ae63de1861ef2f214709de674b3/pkg/registry/batch/job/storage/storage.go#L78-L84

It is unclear to me who is considered to own those objects:
* should the broker decorate

[2018-02-21 22:03] jwforres commented on #18702
@openshift/sig-ansible-service-broker @pmorie @jboyd01 @jpeeler

based on jordan's comment above there are two issues here, one for svc cat team, and one for the TSB

[2018-02-21 22:08] #18562 closed

[2018-02-21 22:10] jwforres commented on #18616
@ravisantoshgudimetla please double check that this is indeed a duplicate and close if so

[2018-02-21 22:11] jwforres commented on #18615
@openshift/sig-storage

[2018-02-21 22:14] jwforres commented on #18609
@openshift/sig-developer-experience

[2018-02-21 22:19] jwforres commented on #18600
@pmorie assigning to you guys since this is docs in the origin repo and not the docs owned by the docs team

[2018-02-21 22:20] jwforres commented on #18594
@openshift/sig-continuous-infrastructure

[2018-02-21 22:21] jwforres commented on #18594
sorry wrong sig  @openshift/sig-continuous-delivery

[2018-02-21 22:21] coreydaley commented on #18609
Same issue as here, which was resolved: https://github.com/sclorg/nodejs-ex/issues/164

[2018-02-21 22:22] #18609 closed

[2018-02-21 22:39] ravisantoshgudimetla commented on #18616
@jwforres @sosiouxme This is a dupe of #12072. So, closing this.

[2018-02-21 22:39] #18616 closed

[2018-02-22 00:06] smarterclayton commented on #18642
If we change this, anyone who has scripted this and expects that behavior would be broken.  We could add a flag that ignores error on specific cases (although changing the API to allow anonymous access to `users/~` would also break this).

[2018-02-22 04:04] jherson commented on #17047
Seeing this the last couple of days on pro-us-east-1 as well

[2018-02-22 04:59] wanghaoran1988 commented on #15020
It works well now with:

openshift v3.9.0-0.47.0
kubernetes v1.9.1+a0ce1bc657
etcd 3.2.8

[code]

[2018-02-22 04:59] wanghaoran1988 commented on #15020
/close

[2018-02-22 04:59] #15020 closed

[2018-02-22 05:14] bparees commented on #11602
@mjudeikis I think those look fine for expected behaviors.  I could quibble with (5) (it's possible we should error in that case and force you to use the ~ syntax) but then it would be unclear what to do for (7) and (8) where you can't use the ~ syntax.

[2018-02-22 05:47] #18632 closed

[2018-02-22 05:50] #17927 closed

[2018-02-22 07:13] eivantsov commented on #14031
Is there any way to pass `--network-plugin=kubenet` to oc or maybe manually do that?

I tried tried adding plugin in node-config.yaml in networkConfig section but it did not help.

[code]
Restarting produces the following error:
[code]

[2018-02-22 07:54] calston commented on #17774
Can confirm this after upgrade. Any ideas?

[2018-02-22 08:15] wozniakjan commented on #18705
Not having logging deployed has always been an error in diagnostics, just never a fatal one. @pravisankar recommended in https://github.com/openshift/origin/pull/18437 we make it a fatal error so I will defer to him for a rationale.

The original intention was to use sensible defaults and report normal error if defaults fail. Also, allow the user to rout diagnostics to own `--logging-project` as a

[2018-02-22 08:24] mjudeikis commented on #11602
@bparees this is where I was in doubt too. I tend to "put a dot here and say `~` is supported without flags only. I think backend changes will be easier this way too. So if I detect `~` - it will be one logic, and no - other. As If I recall right logic is already complex enough there.

[2018-02-22 09:30] martinpitt opened #18715 "3.9 alpha 3/4 regression: Certificate verification fails with GnuTLS"
SSL certificate based authentication fails with 3.9 alpha 3 when using GnuTLS (which Cockpit does, via glib-networking). This has worked fine so far, up to 3.7.

Things work fine with the `oc` client:
[code]

To illustrate it with OpenSSL vs GnuTLS, let's extract the certificate into standard X.509 files:
[code]

Now, authentication with curl works:
[code]

It also works with OpenSSL:
[code]

But

[2018-02-22 09:36] martinpitt commented on #18715
This is with GnuTLS 3.5.18 in current Fedora 27, and also happens with GnuTLS 3.6.2 in Rawhide.

[2018-02-22 10:22] martinpitt commented on #18715
Confirmed with 3.9-alpha.4 aka v3.9.0 (which is on [dockerhub](https://hub.docker.com/r/openshift/origin/tags/), but not on the [GitHub release page](https://github.com/openshift/origin/releases) yet).
[code]

[2018-02-22 11:17] calston opened #18717 "Poor to no documentation around persistent volume permissions"
With the automated PV provisioning disks are created with root ownership and 0755 permission, which means by default no container can actually write to it.

This could sometimes be fixed with the hostpath-anyuid SCC however the documentation for this is sparse, confusing, and offers conflicting statements in may parts.

In fact, in the VSphere provider configuration documentation this issue isn't

[2018-02-22 11:22] Peque commented on #13411
@enj Any updates on this matter? :innocent:

[2018-02-22 11:27] tnozicka commented on #13411
/assign @tnozicka
The plan is to adpot https://github.com/tnozicka/openshift-acme/pull/48 when that merges.

Now has its trello card https://trello.com/c/nmh6J8ly/1140-adopt-openshift-acme

[2018-02-22 11:32] #18673 closed

[2018-02-22 11:40] spicysomtam commented on #16769
It would be cool to get this. Otherwise we have to continue using a nginx service to do the path splitting.

[2018-02-22 12:11] mguillem commented on #16699
Refreshing.
/remove-lifecycle stale

[2018-02-22 13:09] vikram-redhat commented on #18693
@cordeta - you are welcome to submit a PR against the origin docs and it can then be evaluated.

[2018-02-22 14:35] sosiouxme commented on #18705
Previously, the logic would look for a master config, and (if there) look for the loggingPublicURL to identify where logging was deployed. If master config was not available, the diagnostic was skipped. If loggingPublicURL was missing, the diagnostic logic returned without raising an error. That's what I'd like to continue happening, although the detection method has changed. If you haven't deploy

[2018-02-22 14:43] php-coder commented on #15647
@openshift/sig-storage

[2018-02-22 14:49] jsafrane commented on #18657
I checked starter-us-west-1 cluster and one of the cluster masters experienced some hiccups around Feb 14 13:42 UTC:

[code]

But it healed pretty quickly and I don't see any issues with your volume right now.  Can you try again?

And please note, this github repository tracks OpenShift Origin release, which is a community project. Use [Red Hat Bugzilla]( to get support for OpenShift Online, which

[2018-02-22 14:49] simplenotezy opened #18718 "hawkular-metrics.apps.10.2.2.2.xip.io unexpectedly closed the connection."
Followinng the OpenShift For Developers Red Hat free e-book, under `Initial Login from the Web Console | 17`, point 4, tells you:

     Inside this project you will see a service and a route:
     hawkular-metrics.apps.10.2.2.2.xip.io
     Go ahead and click that link. If you get a browser warning go ahead and accept the certificate.

When I click the link I get:

      hawkular-metrics.apps.10.2.

[2018-02-22 14:52] jwforres commented on #18718
@openshift/sig-integration-services

[2018-02-22 14:56] simplenotezy opened #18719 "Cannot oc login https://10.2.2.2:8443 - error: Missing configuration"
Followinng the OpenShift For Developers Red Hat free e-book, on page 36 at "Now Log In from the Command Line", it tells you to run `oc login https://10.2.2.2:8443`, however it fails.

	[simplenotezy:~/openshift/project]$ oc login https://10.2.2.2:8443                     (openshift✱)
	The server uses a certificate signed by an unknown authority.
	You can bypass the certificate check, but any data

[2018-02-22 15:51] jwforres commented on #18699
@openshift/sig-cluster-lifecycle

[2018-02-22 15:56] jwforres commented on #18719
@openshift/sig-master

[2018-02-22 15:57] jwforres commented on #18719
@GrahamDumpleton added you since the steps are coming from the book

[2018-02-22 15:58] jwforres commented on #18717
@openshift/team-documentation

[2018-02-22 15:59] jwforres commented on #18717
@openshift/sig-storage

[2018-02-22 15:59] php-coder commented on #18717
@calston I feel your pain and I'm sorry to hear about the experience that you had :(

Yes, you're right. As far I understand, in this case the advice is to leverage `securityContext.fsGroup` field to specify a group explicitly. We have a dedicated chapter about it: https://docs.openshift.com/container-platform/3.7/install_config/persistent_storage/pod_security_context.html#fsgroup

@openshift/sig-

[2018-02-22 16:05] calston commented on #18717
Thanks a lot. Sorry wasn't aware of the other repository. Should I move the issue?

Since this stuff basically seems mandatory it feels like the flow of the documentation should hilight it all better

[2018-02-22 16:10] gabemontero commented on #11315
See https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18703/test_pull_request_origin_extended_networking_minimal/14586/

[2018-02-22 16:33] kincl commented on #14656
This is still an issue in 3.7

[2018-02-22 16:33] kincl commented on #14656
/remove-lifecycle stale

[2018-02-22 16:36] kincl commented on #14636
This is still an issue in 3.7

[2018-02-22 16:36] kincl commented on #14636
/remove-lifecycle stale

[2018-02-22 16:37] soltysh commented on #13732
I think at this point all of the points are either handled or already outdated.
/close

[2018-02-22 16:37] #13732 closed

[2018-02-22 16:52] feedm3 commented on #18449
@bparees I would like to reopen this issue. Unfortunately, it's currently not possible to deploy an image from a private repository form hub.docker.com.

After creating the image pull secret, I was able to create an image stream. The image stream also seemed fine as the configuration and information about the image were correct. But deploying from this image stream doesn't work. I tried all comman

[2018-02-22 17:06] myniva commented on #18675
Thanks for all the information. We were able to configure the OneLogin integration to use POST as authentication method and everything is working smoothly now.

I nevertheless think it would make sense to add support for basic authentication as well. Seems to be implemented in many providers.

[2018-02-22 17:10] jwforres commented on #18715
@openshift/sig-security

[2018-02-22 17:15] jwforres commented on #18568
@openshift/sig-networking the errors in the diagnostics log are networking related

[2018-02-22 17:17] liggitt commented on #18715
fixed by https://github.com/openshift/origin/pull/18713

[2018-02-22 17:17] jwforres commented on #18566
@openshift/sig-master

[2018-02-22 17:18] enj opened #18721 "[Fail] [k8s.io] Pods [It] should support remote command execution over websockets [Suite:openshift/conformance/parallel] [Suite:k8s]"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18713/test_pull_request_origin_extended_conformance_install/7843/

@openshift/sig-pod

[2018-02-22 17:19] enj commented on #18715
Cool I break and fix this without even realizing.

[2018-02-22 17:20] liggitt commented on #18566
that is expected, and is caused by the permissions for the user (which are recorded inside the names) getting removed as part of namespace termination, prior to the namespace itself being removed.

[2018-02-22 17:20] icaroerasmo commented on #16097
I was able to pull a new image until yesterday. Today I needed to fix a bug and when I tried to make a new build, It didn't work.

[2018-02-22 17:26] jwforres commented on #18527
@openshift/sig-master

[2018-02-22 17:29] herzogf commented on #15950
We ran into the same problem and opened a support ticket at Red Hat. They now pointed to bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1484899 which mentions the capability selinuxRelabel in OCP 3.7. With this option we finally got our cifs flexvolume plugin running :-)

We changed our init method in the flexvolume script to this to make it work:
`{"status": "Success", "capabilities": {"att

[2018-02-22 17:43] jwforres commented on #16714
/lifecycle frozen

[2018-02-22 17:44] jwforres commented on #16714
/remove-lifecycle stale

[2018-02-22 18:44] deads2k opened #18722 "service-catalog test assumes location of master config from cluster-up"
There is a single script that doesn't take into account openshift levels for testing service-catalog in the CI.  https://github.com/openshift/aos-cd-jobs/blob/master/sjb/config/test_cases/test_pull_request_origin_service_catalog.yml#L75-L84

`oc cluster up` in 3.9 unconditionally wrote to a specified `--host-config-dir`, making the behavior while running from config unreliable.  To match `openshif

[2018-02-22 19:21] stevekuznetsov commented on #16720
/close

[2018-02-22 19:21] #16720 closed

[2018-02-22 19:24] deads2k commented on #18527
@openshift/sig-pod
/assign @aveshagarwal
@jwforres I think I saw @aveshagarwal link an ansible pull somewhere.

[2018-02-22 19:25] deads2k commented on #18527
@jwforres oh, also, pretty sure that's in the scheduler

[2018-02-22 19:26] stevekuznetsov commented on #15695
@bparees still an issue?

[2018-02-22 19:29] aveshagarwal commented on #18527
https://github.com/openshift/openshift-ansible/pull/7089

[2018-02-22 19:35] stevekuznetsov commented on #18594
You need to build the base images first (`hack/build-base-images.sh`)

[2018-02-22 19:38] GrahamDumpleton commented on #18719
That chapter was written for old VirtualBox all in one, which isn't available any more. The link in the book will send you to Minishift, which is different. Use the instructions on the Minishift site for installing it and logging in. Minishift shouldn't use address 10.2.2.2 that I know of and there is definitely no 3.7 version of old all in one VM.

Can you explain how you installed OpenShift and

[2018-02-22 19:57] juanvallejo commented on #18645
There is a related discussion about context management here: https://github.com/openshift/origin/pull/16161#issuecomment-328577474

cc @liggitt for thoughts on this

[2018-02-22 20:09] aidun opened #18724 "examples should run on OpenShift online"
While investigating a another issue with the examples provided in the repository I tried to deploy the sample-app at OpenShift online. While create the app, some error showed up, saying that I not have the permission to do something.

Also the resource limits of the examples are sometimes to big for the default account.

It would be a good behavior, that all examples run flawlessly at the free acc

[2018-02-22 20:29] martinpitt commented on #18715
@enj: Nice, thanks! Is there some trick how I can get a build (just the compiled binary or a docker container etc.) with that fix included? Peter Volpe mentioned that OpenShift 3.9 has some other API changes that need adjustment in Cockpit, and I'd like to start with that ASAP.

[2018-02-22 20:46] sdodson commented on #18699
I think you mean to use `After=chronyd.service` if we want to start the API after chronyd. But even that i don't think there's any assurance that just because chrony or ntpd have started before the API server that it will have fully adjusted the clock by the time the API starts. Do you have a BZ or Case number I can follow for the support ticket?

[2018-02-22 20:55] phemmer opened #18725 "external services not exposed as environment variables"
The [documentation]( https://docs.openshift.org/latest/dev_guide/integrating_external_services.html#mysql-define-service-using-fqdn) states that external services will be exposed to pods as environment variables. This is not happening. The service is discoverable via DNS, but not as environment variables.

##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result
[code]

##### Ex

[2018-02-22 21:00] jboyd01 commented on #18722
@jpeeler FYI, are there other jobs we should update like this?

[2018-02-22 21:08] bparees commented on #15695
Haven't seen it recently.
/close

[2018-02-22 21:08] #15695 closed

[2018-02-22 21:46] liggitt commented on #18626
fixed in https://github.com/openshift/origin/pull/18661

[2018-02-22 21:56] gabemontero opened #18726 "[Fail] [k8s.io] Pods [It] should support remote command execution over websockets [Suite:openshift/conformance/parallel] [Suite:k8s]"
See https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/7855/consoleFull#-169259343956c60d7be4b02b88ae8c268b

The failed test highlighted that `` Feb 22 20:21:07.165: Got message from server that didn't start with channel 1 (STDOUT): [2]``

The pod for the test was in fact running.

I saw no errors in the node log for the pod prior to the namespace get

[2018-02-22 21:56] gabemontero commented on #18726
@openshift/sig-kube-origin

[2018-02-22 21:57] gabemontero commented on #18726
@sjenning fyi

[2018-02-22 22:20] smarterclayton commented on #18715
The :latest and :v3.9 tags are continuously updated as fixes merge to
master.

On Thu, Feb 22, 2018 at 3:29 PM, Martin Pitt <notifications@github.com>
wrote:

[2018-02-22 22:33] jayunit100 opened #18728 "Unpredictable Connection refused over service endpoints..."
[provide a description of the issue]

##### Version

oc v3.7.23
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Deploy a service
2. continuously curl the service, like so (side note: that basically inside a container vs. from an API Server node, ive seen the same unreliable behaviour in clusters)

[code]

##### Current Result

Only 20% or so of

[2018-02-23 00:01] jpeeler commented on #18722
Yes, I'll comment on the jobs PR.

[2018-02-23 00:31] juanvallejo commented on #18696
Looking into this. Something appears to be clearing the value of the `--namespace` flag by the time its value is parsed in the `rsh` command.

[2018-02-23 01:06] gaurav-nelson commented on #18717
@tmorriso-rh PTAL

[2018-02-23 01:40] bparees commented on #18638
I suspect it is indeed one of the caches.  @legionus is the expert here and can tell you more(and what we can do about it, if anything)

[2018-02-23 05:00] dclairac commented on #18699
You are right, this does not prove that the time adjustment will be complete (even if in our case, the result is immediate).

We did not open a ticket on this point because it is not an Openshift bug (the case of synchronization is linked to a RHV bug, which is not the normal case). On the other hand, we have an open ticket at Red Hat for the time problem on RHV (but not related to OpenShift).

In

[2018-02-23 09:05] DanyC97 commented on #18184
@sdodson @michaelgugino anyone of you able to ping the person responsible with creating the rpms and who has access to publish them to centos repo?

thx for your help

[2018-02-23 09:25] kargakis commented on #8329
/unassign JacobTanenbaum
/assign bparees

[2018-02-23 09:52] kargakis commented on #5849
/remove-lifecycle stale

[2018-02-23 11:49] spicysomtam commented on #16948
This was a 3.7.0 alpha release. Lets close it since 3.7.0 is now released?

/close

[2018-02-23 11:49] #16948 closed

[2018-02-23 11:57] sosiouxme commented on #18726
subject looks similar to https://github.com/openshift/origin/issues/18721 but not sure failure is the same.

I saw this too in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18709/test_pull_request_origin_extended_conformance_install/7879/

[2018-02-23 12:32] lightyou opened #18730 "Allows to trigger multiple branches with single webhook"
Jenkins allows what they call multibranch builds. A single build (jenkinsfile type) can be triggered from any branch or PR. This launches the build in Jenkins with the commit/branch/PR.
It seems to be how blue ocean ui is designed for (each build is associated to a branch ou PR).

Today, build are triggered only for the branch specified in the buildconfig .spec.source.git.ref matches exactly the t

[2018-02-23 12:37] deads2k commented on #18726
Is this flaking or just straight out failing?

[2018-02-23 12:38] deads2k commented on #18726
No successful runs in the last 18 hours.  Bumping to p0.

[2018-02-23 12:43] deads2k commented on #18726
The commit suggested by https://deck-ci.svc.ci.openshift.org/?job=test_branch_origin_extended_conformance_install doesn't make any sense.  It must be a side-effect of something else.

@kargakis @stevekuznetsov @derekwaynecarr there was a docker something in our ami, right?

[2018-02-23 13:15] runcom opened #18732 "CRI-O: CI broken"
This is the first build that started the red row in Prow: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_crio/4618/

Prow is basically red (whether we were 1 red/20 jobs before the break): https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_conformance_crio

The test failing is:

[code]

We're pretty sure CRI-O hasn't caused the br

[2018-02-23 13:31] kargakis commented on #16086
@stevekuznetsov since this change concerns openshift-ansible where tests are faster and we don't care as much about breaking batches, we could put together an external plugin that pushes commits from origin into openshift-ansible. Or batch them into bumps. This sort of syncing has some overlap with the publishing bot.

@mfojtik @sttts does the publishing bot sync code between repos based on specif

[2018-02-23 13:35] php-coder commented on #18302
As there is workaround and not so many people affected by this, I'm lowering priority to P2.

[2018-02-23 13:37] php-coder commented on #18302
@DanyC97 Do [these steps](https://bugzilla.redhat.com/show_bug.cgi?id=1525014#c12) work for you?

[2018-02-23 13:51] php-coder commented on #18302
I don't know whether service catalog enabled by default or it's not. Perhaps, if you don't use it, you have to explicitly disable it.

@openshift/team-service-catalog @sdodson Is the Service Catalog is enabled by default in installer (and if yes, from what version)?

[2018-02-23 13:52] riuvshin commented on #18596
same here, is there any workaround for this?

[2018-02-23 14:15] runcom commented on #18726
This has been broken by the upgrade to docker 1.13 (very very likely). First build with 1.13 broken:

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/7843/consoleFull#51637152658b6e51eb7608a5981914356

Previous build with 1.12 success: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18625/test_pull_request_origin_extended_

[2018-02-23 14:27] gabemontero commented on #18726
removed all "flake" indicators from this issue

[2018-02-23 14:29] runcom commented on #18726
@sjenning @deads2k @gabemontero could you guys assist us with narrowing down the issue to a docker issue? Not sure what in origin triggers that error.

[2018-02-23 14:50] enj commented on #18721
Closing since #18726 is tracking this as P0

[2018-02-23 14:50] #18721 closed

[2018-02-23 14:53] jwforres commented on #16969
/remove-lifecycle stale
/lifecycle frozen

[2018-02-23 15:06] smarterclayton commented on #18732
_install is broken due to a 1.13 issue, it’s possible this is related (either via exec or build).

[2018-02-23 15:06] smarterclayton commented on #18732
Docker 1.13 that is

[2018-02-23 15:15] #14975 closed

[2018-02-23 15:15] #16056 closed

[2018-02-23 15:17] runcom commented on #18732
@smarterclayton the failure in question goes back before the switch to 1.13 (yesterday). Is it possible something else got merged that broke CRI-O?

[2018-02-23 15:30] sdodson commented on #18726
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7235/test_pull_request_openshift_ansible_extended_conformance_install/5564/#k8sio-pods-should-support-remote-command-execution-over-websockets-suiteopenshiftconformanceparallel-suitek8s

[2018-02-23 15:33] smarterclayton commented on #18732
Look at the commits that merged before and after the last good build and the first break?

[2018-02-23 15:43] stevekuznetsov commented on #18726
Reverted the 1.13 AMI

[2018-02-23 15:44] spadgett commented on #16969
Fixed in 3.9: https://github.com/openshift/origin-web-console/pull/2805

/close

[2018-02-23 15:44] #16969 closed

[2018-02-23 15:45] wozniakjan commented on #18705
@sosiouxme looking at the last working AggregatedLogging diagnostics, I dare to disagree. If masterConfig or loggingPublicURL were not found, it appears diagnostics would fatal error
https://github.com/openshift/origin/blob/042a63f8c1effc2fb911ce2cf494458872e9f8a3/pkg/oc/admin/diagnostics/diagnostics/cluster/aggregated_logging/diagnostic.go#L163-L177

and then if it was unable to fetch the project

[2018-02-23 15:55] deads2k commented on #18726
It's failing here: https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/test/e2e/common/pods.go#L526 after an exec call.  The websocket appears to be passed through https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/kubelet/server/remotecommand/websocket.go#L73

it's not obvious to me why docker levels matter, but perhaps @sjenning knows.

[2018-02-23 15:56] sosiouxme commented on #18705
Ooh, cool new github feature :)

@wozniakjan `CanRun()` errors only bubble up as skip messages. Not reported to the user as an error. I can see how that's confusing to the developer though. `Complete()` errors bomb the whole run, `CanRun()` errors are just notes.

The second bit of code ran only if there was a `loggingPublicURL` specified, which would only be the case if logging was deployed. You

[2018-02-23 16:06] sdodson commented on #16086
BTW, the structure of openshift-ansible has changed so that templates for each component are no co-located with their roles so we'll want to establish a clear structure that maps components in origin to roles in openshift-ansible. ex https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_web_console/files

[2018-02-23 16:27] wozniakjan commented on #18705
@sosiouxme I see, the test that I performed was still returning an error
[code]

but this was due to the fact I specifically requested AggregatedLogging diagnostics, right? I will update the PR to make it determine the valid logging project in `CanRun()` and that should give us what we want.

[2018-02-23 17:03] sosiouxme commented on #18705
Right - you get an error if all diagnostics get skipped, because it's kind of silly to report success when you haven't tested anything. There are still a lot of ways the logic and messaging could be improved *sigh*.

[2018-02-23 17:16] spadgett commented on #18207
Closing per my comments above.  #18680 adds a better error page when the console is not installed.

/close

[2018-02-23 17:17] #18207 closed

[2018-02-23 17:20] spadgett commented on #18203
@lanliu99 Just following up to make sure this is still an issue. Do you have the problem with any other middleware templates or just this one? Are you using the same template as @jim-minter in his comment above? https://github.com/openshift/origin/issues/18203#issuecomment-359462064

[2018-02-23 17:28] jwforres commented on #17021
@simo5 I would suggest tracking this in Trello given the scope, and closing the issue. There is already a card on the UI side tracking CSP

[2018-02-23 17:28] jwforres commented on #16694
/close

[2018-02-23 17:28] #16694 closed

[2018-02-23 17:31] spadgett commented on #18693
@cordeta Thanks for the offer. Please work with team in the openshift/openshift-docs repo

/close

[2018-02-23 17:31] #18693 closed

[2018-02-23 17:32] spadgett commented on #15803
@beanh66 FYI, I know you are looking at this editor.

[2018-02-23 18:27] debianmaster commented on #13500
/remove-lifecycle stale

[2018-02-23 20:01] beanh66 commented on #15803
Yes thanks @spadgett!

[2018-02-23 20:37] sdodson commented on #18699
/assign fabianvf
Lets add 'After=chronyd.service' and 'After=ntpd.service' to our api, controllers, and node services. The installer will accept either ntp implementation so we should add both. We should not add Requires as we don't know for sure which service is in use.

[2018-02-23 20:42] jwforres commented on #18724
@openshift/sig-developer-experience

[2018-02-23 20:45] jwforres commented on #18725
@openshift/sig-networking @openshift/sig-pod not sure who should look into this, or if the docs are just wrong

[2018-02-23 20:45] bparees commented on #18724
we provide quickstarts in the online env that work in online.    The online env has its own set of constraints and we aren't/can't/shouldn't going to constrain our generic examples to those limitations.

/close

[2018-02-23 20:45] #18724 closed

[2018-02-23 20:47] jwforres commented on #18728
@openshift/sig-networking

[2018-02-23 20:50] jwforres commented on #18728
@knobunc not obvious to me on this one whether its environmental or actually a bug, please triage it into the right bucket

[2018-02-23 20:52] jwforres commented on #18730
@openshift/sig-developer-experience

[2018-02-23 20:55] bparees commented on #18730
trello'd.
https://trello.com/c/m2koT73W

[2018-02-23 20:55] #18730 closed

[2018-02-23 20:56] jwforres commented on #18732
Also see https://github.com/openshift/origin/issues/18726  in case it is the same issue

[2018-02-23 21:01] sdodson commented on #18302
Yes it's enabled by default in 3.7 onwards.

[2018-02-23 21:06] sjenning commented on #18726
I'm seeing this in the node log
[code]
Seems that we are getting a 302 redirection from the endpoint.

[2018-02-23 21:24] eduardobaitello commented on #6331
Is that problem solved? I'm in the same situation, my endpoints are in th `default` namespace and pods in another namespaces can't got them.

Too bad that this issue is stalled :(

[2018-02-23 21:25] DirectXMan12 commented on #18725
The docs don't tell the full story -- the Kubernetes logic behind this code *explicitly* ignores services that don't have a ClusterIP set (https://github.com/openshift/origin/blob/e28a3b2fdb4671a3277bb44a2c32a2e08752283e/vendor/k8s.io/kubernetes/pkg/kubelet/envvars/envvars.go#L37-L42) since the `_HOST` is based off of IP.

We should probably fix the docs.

At any rate, I'd probably recommend using

[2018-02-23 21:51] sdodson commented on #18184
@arilivigni @tdawson Can we get 3.7.1 rpms built?

[2018-02-23 21:51] greenled commented on #10658
I am facing the same issue. Any workaround?

[2018-02-23 22:52] sjenning commented on #18726
I see that 302 on both versions of docker in my local cluster so that isn't it.

I have near zero knowledge about websockets, spdy, http/2, etc so this could take me a while to figure out.  Anyone that knows more is welcome to figure it out faster. @smarterclayton ?

However, it seems that the test is reading the stream for STDERR with stream id 2 rather than STDOUT with stream 1 id as the test ex

[2018-02-23 22:54] sjenning commented on #18726
I do wonder if we just removed this line if it would resolve the situation since the test does not expect to read from STDERR
https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/test/e2e/common/pods.go#L499

[2018-02-23 23:00] liggitt commented on #18726
The 302 is a redirect followed by the API server before returning anything to the client, and has to do with redirecting to  what will eventually be a CRI endpoint  on the node. For now, it is still served by the kubelet.

[2018-02-23 23:04] liggitt commented on #18726
We are requesting both stdout and stderr output from running the command be sent to us, *but* we are not expecting to actually receive any stderr output from that command, which is why the test fails if it receives a message on the stderr channel. We should not change the test to ignore error output. I do wonder if docker changed to send zero byte writes to the standard error output stream. I coul

[2018-02-23 23:17] smarterclayton commented on #18726
Sorry I didn't respond, I think ignoring empty stderr channel messages is totally fine.  We use them in other contexts and if we have websockets support ever we will deliver zero byte messages.

[2018-02-24 01:02] lanliu99 commented on #18203
@spadgett the template can be found under openshift project, but not in the home page, seems it needs some extra attentions to make it displayed on home page, but making them appeared under openshift project had solved my issue, thanks for your attention.

[2018-02-24 01:02] #18203 closed

[2018-02-24 02:38] vaibhavpatil123 commented on #18682
@spadgett Can you porvide point cuts for above issue ? We are using centos7. In short I am facing below issues:
1 Webconsole url - not acceable from Window machine but on VM machine I can access same
2 On VM machine I cant able to docker images

[2018-02-24 09:39] wanghaoran1988 commented on #18696
hmm, oc rsh -n <namespace> <pod> works well

[2018-02-24 10:51] #16616 closed

[2018-02-24 14:35] spadgett commented on #18682
It would be better for someone on the networking team like @knobunc to comment, but this seems like a networking configuration issue in your VM. I wouldn't expect using `localhost` on the host system to connect to the web console running inside a VM. (That also doesn't match the public hostname you used for cluster up.)

[2018-02-24 17:29] neisw commented on #18719
Greetings Graham.  I too found myself in a similar situation.  Pulling down minishift was easy enough and resolved the issue.

I think what happened was:
The ebook points to https://openshift.org/vm for the latest install instructions.

https://openshift.com/vm is not found (note the missing www)

The url in the ebook for the vagrant file is https://www.openshift.org/vm/Vagrantfile and it works pr

[2018-02-24 20:10] enj commented on #18715
@martinpitt #18713 is merged, can you see if it fixes your issue?

[2018-02-24 20:23] DanyC97 commented on #17464
@danwinship @smarterclayton @dcbw @liggitt i don't know who else to tag, i'm _screaming_ for help please, can one of you keep looking into this issue as it does hurt me a lot running Origin internally.

I'm very surprised to see that this issue doesn't get much attention, i wonder if this doesn't happen in OCP ? is a very common scenario which can trigger a disaster in production since there is no

[2018-02-24 22:30] GrahamDumpleton commented on #18719
I believe they have changed where openshift.org site is hosted. In moving it they likely forgot to implement a redirect from openshift.org to www.openshift.org. I will chase it up.

[2018-02-25 01:12] GrahamDumpleton commented on #18719
The problem with ``https://openshift.org`` not redirecting, plain ``http://openshift.org`` does, is now being looked at.

FWIW, we hope to start working on updating that book to latest OpenShift version, including Minishift, and adding new material, some time this year. We will also have a completely new book on OpenShift available around May.

[2018-02-25 01:22] vaibhavpatil123 commented on #18682
@spadgett/@jwforres thanks colleageus for point cuts, issue was due to local VM network firewall settings.
I have fixed this issue using below link
Install Docker with your platform's package manager.

Configure the Docker daemon with an insecure registry parameter of 172.30.0.0/16

In RHEL and Fedora, edit the /etc/sysconfig/docker file and add or uncomment the following line:

INSECURE_REGISTRY=