[2016-03-04 22:22] smarterclayton commented on #7243
It takes 3 minutes to read the entire disk.  We have to do this for each instance we want to test to avoid read stalls.  This is not write specific.

[2016-03-04 22:31] smarterclayton commented on #7243
Nope, 37 minutes

[2016-03-04 22:41] smarterclayton commented on #7243
Best fio seems to be able to do is 40 minutes (reading) because we're limited to 100 iops.  Writing 8gb isn't enough.  It might be possible to do randreads and writes for a probabilistic part of the disk (randomly write enough blocks) but my fio-fu does not extend that far.  I'm going to merge the timeout increase in the meantime and we can roll it back if someone can figure out a way to make this

[2016-03-04 23:09] smarterclayton commented on #7801
Also, multi tenant SDN is watching services, and fetching the local pods.  So basically we have double the traffic of the kubelet.

[2016-03-04 23:13] smarterclayton commented on #7801
Digging in a bit more, I'm surprised to see that the multi tenant plugin needs access to all pods for a reason other than the filtering rules?

[2016-03-05 00:47] smarterclayton commented on #7801
@jeremyeder @timothysc are your cluster performance tests including multi-tenant SDN or just regular SDN?

[2016-03-05 00:53] jeremyeder commented on #7801
always multi-tenant from my side.

[2016-03-05 01:24] ramr commented on #7785
@soltysh sorry had a long day and just catching up on this. Thx for the PR. The only fixes probably  needed for go 1.5 really are the lock around the counter (not do dirty reads) and the close. The index variable passed to Invoke method is not really required for this test - we are just checking that its called - that's all - the resource its called [the index variable in this case] on is not impo

[2016-03-05 01:27] smarterclayton commented on #7243
BAHAHAHA https://travis-ci.org/openshift/origin/jobs/113777883

[2016-03-05 01:28] liggitt commented on #7243
...

[2016-03-05 02:01] smarterclayton commented on #7243
I'm wondering whether ansible zeros the disk now...

On Mar 4, 2016, at 8:28 PM, Jordan Liggitt <notifications@github.com> wrote:

...

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/7243#issuecomment-192544067>.

[2016-03-05 03:09] smarterclayton commented on #7797
Can you retrieve the registry logs?  That is typically a configuration issue with filesystem, or possibly network.

[2016-03-05 03:10] smarterclayton commented on #7793
Editing an image stream can also result in a tag - how are you gating that?

[2016-03-05 03:39] smarterclayton opened #7808 "Secure service externalIPs with admission"
`externalIPs` can be used to masquerade node traffic, such as interfering with pods using hostNetwork.  We should control admission on services into an externalIP CIDR.

In the future, we'll want to use externalIP to handle external traffic, but externalIP has no security controls.  Ideally, only administrators or higher level processes would be able to set externalIP, but we would need to disting

[2016-03-05 03:39] smarterclayton commented on #7808
Not a regression, but has some security impact.

[2016-03-05 04:17] Yashu5 commented on #7797
Hi Below are the registry pod logs:

time="2016-03-04T15:53:42.141320826Z" level=info msg="version=v2.1.0+unknown"
time="2016-03-04T15:53:42.146758522Z" level=warning msg="No HTTP secret provided - generated random secret. This may cause problems with uploads if multiple registries are behind a load-balancer. To provide a shared secret, fill in http.secret in the configuration file or set the REGI

[2016-03-05 04:50] smarterclayton commented on #7243
It looks like there are no stalls now in the tests (that I can see) - peaks of 40-60% iowait for up to a second or two, but that's it.  It *kills* me to spend 12 minutes on this at the beginning of a build.

[2016-03-05 05:00] smarterclayton opened #7809 "Explain server/api types (requires them to be in swagger)"

[2016-03-05 05:09] smarterclayton opened #7811 "Edit with an admission failure drops user out of edit without printing error"
Perform an edit that will result in a 403 (testing an admission controller in this case)

[code]

Did not print the error.  I think this is a bug in error handling, and is very confusing to the user.

[2016-03-05 05:10] smarterclayton commented on #7811
@kargakis

[2016-03-05 05:42] luxas commented on #3072
@gravis Yeah

[2016-03-05 05:50] smarterclayton commented on #7084
glog was eating log.  Fixing.

[2016-03-05 06:04] smarterclayton commented on #7797
Ah, you need to run `oadm policy reconcile-cluster-roles` - the registry was upgraded to track quota.

[2016-03-05 06:05] smarterclayton commented on #7797
@miminar if you can't get quota due to Forbidden you need to bypass the quota check, otherwise the changes aren't backwards compatible.

[2016-03-05 06:05] smarterclayton commented on #7797
you can use apierrors.IsForbidden(err) and if you get that error, skip the quota check.

[2016-03-05 09:51] #7646 closed

[2016-03-05 09:51] #7726 closed

[2016-03-05 13:31] gravis commented on #3072
![it s_a_trap](https://cloud.githubusercontent.com/assets/12752/13547763/6e135d14-e2ac-11e5-866b-3ba491d24c21.jpg)

Make sure your service file contains the line `MountFlags=slave`:

[code]

[2016-03-05 15:55] smarterclayton commented on #7779
[code]

are the big ones

[2016-03-05 16:55] marun commented on #7773
cc: @openshift/networking

[2016-03-05 17:06] marun commented on #3072
systemd defaults MountFlags to 'shared', so mount propagation (and secrets) would also work by removing MountFlags or setting to empty string.  A nice way to set this is via a drop in unit file (e.g.  ``/etc/systemd/system/docker.service.d/clear_mount_propagation.conf``) to override the setting in the unit file without modifying it directly:

    [Service]
    MountFlags=

[2016-03-05 17:07] stevekuznetsov commented on #7773
This should have been resolved. The publishing step is turned off for now.
On Mar 5, 2016 11:56 AM, "Maru Newby" <notifications@github.com> wrote:

[2016-03-05 17:25] marun commented on #7773
@stevekuznetsov When did the change take effect?  I noticed that the post-merge networking job failed due to this problem this morning:

https://ci.openshift.redhat.com/jenkins/job/networking_extended/610/

[2016-03-05 17:37] stevekuznetsov commented on #7773
That seems to be an independent issue, the publish steps for
extended-networking and test-pull-reqests-origin are independent. It
warrants a new issue. I'll look into that as well.
On Mar 5, 2016 12:25 PM, "Maru Newby" <notifications@github.com> wrote:

[2016-03-05 18:23] livelace opened #7817 "Build strategy Docker: "noCache" working, "nocache" not working"
Overall documentation contain "nocache" as example, but it not working in real.

If I import (oc create -f build.yaml):

" strategy:
    type: "Docker"
    dockerStrategy:
      nocache: true
      forcePull: true"

Than I get (oc get -o yaml bc build):

" strategy:
    dockerStrategy:
      forcePull: true
    type: Docker"

[2016-03-05 20:07] #6577 closed

[2016-03-05 20:15] luxas commented on #3072
@marun @gravis @csrwng Thanks for your help! Managed now to run it... on a Raspberry Pi! I didn't tell you that, but all these commands ran on my Pi. Resetting `MountFlags=` was the solution to my problem. Now we've got rid of `--containerized` in [kubernetes-on-arm](https://github.com/luxas/kubernetes-on-arm) :+1:

[2016-03-05 21:48] gravis commented on #3072
Wow, nice!

[2016-03-06 00:42] smarterclayton commented on #7616
Happened again https://ci.openshift.redhat.com/jenkins/job/origin_extended/707/console

[code]

[2016-03-06 00:44] smarterclayton opened #7818 "Extended tests not including JUnit results"
[code]

https://ci.openshift.redhat.com/jenkins/job/origin_extended/707/console

Looks like it broke in the last few days.  @danmcp did we change directories?

[2016-03-06 02:31] stevekuznetsov commented on #7773
`networking_extended` is publishing OK now.

[2016-03-06 02:32] stevekuznetsov commented on #7818
fixed: https://ci.openshift.redhat.com/jenkins/job/origin_extended/709/testReport/

[2016-03-06 12:57] pospispa commented on #7298
I'm @jizi's colleague and I'm experiencing similar problem.

Note: my setup: notebook with Ubuntu 14.04, downloaded 64bit Linux binaries as decribed [here] (https://docs.openshift.org/latest/getting_started/administrators.html#downloading-the-binary).
I do not have any insecure registry configured. I've installed a certificate for the `cid.dev` registry.
[code]

@bparees as you asked for I've run

[2016-03-06 13:58] miminar commented on #7797
@smarterclayton I see, will do.

[2016-03-06 16:18] bparees commented on #7298
@smarterclayton @pweil- this appears to be an issue w/ imagestreamimport not being able to access the custom external registry in question.  Can you recommend some debug/tracing?

I assume if the registry has authentication enabled, this will not work w/o creating an imagestream, right?
If the registry has auth disabled, but does have a certificate, is there something that needs to be done?

[code

[2016-03-06 16:29] smarterclayton commented on #7298
To import an image from a secured external registry, you just have to
create a pull secret in your project that contains the relevant
credentials.  You don't need an image stream first (image streams
don't contain any credentials or links to credentials).

[2016-03-06 17:03] pospispa commented on #7298
@smarterclayton I use an external registry that does not have any authentication and I do not have any username and password for the external registry. So should it be possible to integrate OpenShift with such external registry?

[2016-03-06 17:53] smarterclayton commented on #7298
Generally these problems are being unable to access the registry from
the masters (due to a proxy, misconfiguration, or DNS issue).  If
you've ruled that out (by trying a docker pull from a master), then
turn on --loglevel=4 on the master and try your import again.

What registry are you running?

[2016-03-06 18:47] pospispa commented on #7298
We run official Docker registry: [registry:2.1.1](https://hub.docker.com/_/registry/)

Please, see below results of the command with `--loglevel=4`:
[code]

[code]

And after `docker pull`:
[code]

[2016-03-06 19:04] bparees commented on #7298
@pospispa for the second case there appears to be a bug in our handling of errors that come from imagestreamimport.  We should be reporting, but otherwise ignoring those errors.  Instead it appears to cause the entire operation to fail even if the image is found locally.  However the root problem here is still that the imagestreamimport failed.

[2016-03-06 19:08] bparees commented on #7298
@smarterclayton @pweil- also it appears that the imagestream import is returning the wrong error code in the case of failure:
`Internal error occurred: the repository "master/szn-opes-metasearch" was not found`

a not found error should be a 404 but it appears to be returning a 500 error, which is part of why new-app proceeds to do the wrong thing.

[2016-03-06 20:23] pospispa commented on #7298
@bparees, you suggested that as an workaround I might create an image stream with the image and then create a new-app from the image stream.

FYI, I tried to used the `--allow-missing-images=true` option to create a new-app and an image stream that I would edit afterwards, however, it failed. IMHO, the `--allow-missing-images=true` option was ignored even though it shouldn't. Please, see the comma

[2016-03-06 20:33] bparees commented on #7298
allow-missing-images failed for the same reason that things failed when you have a local image:  the imagestreamimporter is returning an incorrect error code when it can't find the image repository.

`F0306 21:08:43.376229   11616 helpers.go:104] error: can't look up Docker image "cid.dev/master/szn-opes-metasearch:master": Internal error occurred: the repository "master/szn-opes-metasearch" was n

[2016-03-06 21:42] #7797 closed

[2016-03-06 21:46] akram opened #7821 "f5 plugin hardcodes admin user name"
Hi,

the admin user is hardcoded in the plugin:
https://github.com/openshift/origin/blob/master/pkg/router/f5/f5.go#L1517

For security reasons, it may be required to use another user (with restricted privileges) to configure the f5.
https://support.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/tmos-concepts-11-4-0/10.html

Having to support these use cases may lead to errors that we do not

[2016-03-07 02:20] gabemontero opened #7822 "Additional improvements to `oc status` in the build config / input image stream area"
Some follow up items from https://github.com/openshift/origin/issues/5077
1) Explore if the outputs of other build configs and match the missing inputs for build configs we've located, and adjust the messages; use a warning message if such build config output exist and tell the user to start those builds, but then use an error message if no such possibilities exist

2) ImageStreamImage nodes curre

[2016-03-07 05:48] danni commented on #7784
origin v1.1.3
kubernetes v1.2.0-origin
etcd 2.2.2+git

[2016-03-07 05:49] danni commented on #7784
Check was 1 minute, which probably took around 12h to eat all the memory on the node. Now it's 5 minutes and about 5 times as long.

[2016-03-07 05:53] danni commented on #7784
I don't know what the request structure is exactly, can I get this information from Openshift somewhere? I'm guessing it doesn't execute JS.

[2016-03-07 07:51] david-strejc opened #7824 "Deployment fails unexpectedly"
I've created 30 builds via:

for i in $( seq 1 30 ); do oc new-project gogo$i && oc new-app --template="redmine"; done

And some of them failed with:

`I0305 16:43:02.072052       1 recreate.go:131] Performing acceptance check of gogo28/redmine-app-1
4   I0305 16:43:02.072136       1 lifecycle.go:445] Waiting 600 seconds for pods owned by deployment "gogo28/redmine-app-1" to become ready (checking

[2016-03-07 08:02] david-strejc opened #7825 "Push of image failed "no basic auth credentials""
I've been told to open new issue for failing push of image into Docker Registry. (I don't know if it is duplicit with: https://github.com/openshift/origin/issues/4518 or not)
- my first build of my template passed in namespace1
- my second build of the same template failed in namespace2 (I was still logged in as same user)
- my third build inside namespace3 failed - both of them failed with:
- Err

[2016-03-07 08:17] david-strejc opened #7826 "Duplicit route whithout warning confuses developers"
I've created two projects P1 and P2. In second project I've created same route (same URL) as in P1. This passed without warning.

Then I was confused by Open Shift not rebuilding my P2 project - but everything was OK according to logs.

I've found that I got same URL for P1 and P2.

Maybe this is just theoretical but when I will be the "bad guy" I can allocate many URLs (which I don't own) and blo

[2016-03-07 12:09] jeremyeder commented on #7784
Hi @danni what else is going on in your cluster during "certain period of time"...has this really been isolated to hitting /console ?

Can you enable pprof debugging for the master daemon, and then reproduce this issue?

Here are instructions:
https://github.com/openshift/origin/blob/master/HACKING.md#performance-debugging

[2016-03-07 12:25] #5077 closed

[2016-03-07 12:42] kargakis commented on #6766
Deployment bug fixes:
https://github.com/kubernetes/kubernetes/pull/22516 (only the first commit)
https://github.com/kubernetes/kubernetes/pull/22526

oc edit fix:
https://github.com/kubernetes/kubernetes/pull/22634

[2016-03-07 13:40] liggitt commented on #7826
The router honors the oldest route to request a URL. Whether a route was honored or not is reported back in the route status, and surfaced in the UI (as of https://github.com/openshift/origin/pull/7725)

[2016-03-07 13:43] deads2k commented on #7243
Ok, so now we have both the long etcd timeout and the pre-read?  Why not create a smaller block device and use that.  I wouldn't expect us to use more than 100 megs or so in etcd.

[2016-03-07 13:47] miminar commented on #7793
@smarterclayton I'm addressing both scenarios in a follow-up (to be submitted soon).

What I'm still unsure of is dealing with `imageStream.Spec.Tags["tagName"].From.Kind == "ImageStreamTag"` during admission check. It's quite easy to work around the quota by referencing some small or even non-existent image when setting the tag and then updating the source ist to point to a large one. Shall we di

[2016-03-07 13:51] rhcarvalho opened #7831 "test/cmd/policy.sh flake"
Seen in https://github.com/openshift/origin/pull/7713

[code]

Full logs: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5212/console

[2016-03-07 13:53] deads2k commented on #7831
@liggitt figures.  I'll add the `who-can` updates to the list.

[2016-03-07 13:53] deads2k commented on #7831
p2, unless it becomes more prevalent.

@rhcarvalho can you add the indicator to the failure causes so we can keep track of frequency?

[2016-03-07 14:01] marun commented on #6577
This is fixed for non-dind, but won't work for dind without docker 1.10.

[2016-03-07 14:23] derekwaynecarr commented on #6766
Quota replenishment perf:
https://github.com/kubernetes/kubernetes/pull/22628

[2016-03-07 14:28] smarterclayton commented on #7793
We can't prohibit ImageStreamTag.

This raises another question - with the current admission quota, what
happens if I have the same image tagged into multiple image streams in the
same namespace?  Do I get charged multiple times?

The original discussion (given some of these problems) was to make quota be
on number of unique images tagged per namespace, and size of each
individual namespace, and p

[2016-03-07 14:36] kargakis opened #7832 "oc status should inform me that my route won't work..."
...because there is no router running... Similar to how we inform about a missing integrated registry. Not sure though how can we convey the information about a running router to the route. Probably a status field?

cc: @ramr @pweil- @deads2k

[2016-03-07 14:39] deads2k commented on #7832
It doesn't have to be right 100% of the time.  If a route has no status updates for X minutes, it's probably doomed, right?

[2016-03-07 14:46] rhcarvalho commented on #7831
@deads2k sorry I don't understand, could you please clarify?

[2016-03-07 14:48] deads2k commented on #7831
We have failure cause analysis turned on for jenkins, so you can describe a regex that matches when certain kinds of failures happen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/failure-cause-management/ .  By doing that the jenkins status page will show the flake and you can link to this issue.

It also tallies up the number of failures for that cause, so we know wh

[2016-03-07 14:50] miminar commented on #7793
The particular image is counted only once per image stream. Actually the granularity is not an image but layer: each layer is counted only once per image stream.

Therefor a layer of 10MiB tagged into `nm/is1:latest`, `nm/is1:oldest` and `nm/is2:new` will increase the usage of:

- is `nm/is1` by 10MB
- is `nm/is2` by 10MB
- project `nm` by 20MB because it occurs in two different image streams

[2016-03-07 14:56] rhcarvalho commented on #7831
@deads2k thank you. I've added an entry there.

[2016-03-07 15:24] knobunc commented on #7826
The ability to have one route mask another is desirable to allow seamless cut-over from one to the other.  Add the second route, and then remove the first when ready to cut.  Without that, there would be a gap.

As to whether someone has permission to create a router for a particular domain, I think that is a policy question that would need to be handled on an installation by installation basis us

[2016-03-07 15:24] #7826 closed

[2016-03-07 15:26] knobunc commented on #7821
This is a duplicate of https://bugzilla.redhat.com/show_bug.cgi?id=1315157

[2016-03-07 15:26] #7821 closed

[2016-03-07 15:26] jsafrane commented on #6766
fix for bz#1311868:  "No tags for dynamic provisioned volume in AWS":  https://github.com/kubernetes/kubernetes/pull/20900

[2016-03-07 15:28] jsafrane commented on #6766
fix for bz#1311312 "AWS and GCE Dynamic provisioners do not work": https://github.com/kubernetes/kubernetes/pull/21738

[2016-03-07 15:33] spadgett commented on #7832
/cc @jwforres

[2016-03-07 15:37] spadgett commented on #7826
Here's what the warning looks like in the UI:

![screen shot 2016-03-07 at 10 32 47 am](https://cloud.githubusercontent.com/assets/1167259/13574047/688310f6-e450-11e5-9d0d-369e680d6416.png)

[2016-03-07 15:40] jwforres commented on #7832
We debated this for the console too... whether we should add a warning about the router possibly being down for a route that has been pending longer than X amount of time.  Is there any other reason why the route would have no status on it?

[2016-03-07 15:46] ncdc commented on #7616
I still get this sporadically too. I think we need someone from the containers team to help us figure it out. cc @runcom @jwhonce @mrunalp

Also, with https://github.com/kubernetes/kubernetes/pull/21349 upstream, the behavior changed such that the pod is immediately deemed Failed if a container fails to start. https://github.com/kubernetes/kubernetes/pull/22607 is an attempt at restoring the previ

[2016-03-07 15:46] ncdc commented on #6766
Keep an eye on https://github.com/kubernetes/kubernetes/pull/22607. We'll most likely want it, assuming it merges.

[2016-03-07 15:48] mrunalp commented on #7616
Thanks guys, I suspect an issue around dbus call to create the scope and will try to isolate that. Also, will have a PR ready to enable additional debugs in docker today.

Sent from my iPhone

[2016-03-07 15:49] ncdc commented on #7616
@mrunalp sometimes I can repro quickly, sometimes not. If you would like me to try out a new build, just let me know. Thanks!

[2016-03-07 15:50] mrunalp commented on #7616
Yes, will let you know once the PR is ready later today and we have a new build.

Sent from my iPhone

[2016-03-07 16:03] jayunit100 commented on #6882
These two are the last two bits for getting it all working.   7820 is now merged, so just 22613...

- https://github.com/openshift/origin/pull/7820
- https://github.com/kubernetes/kubernetes/pull/22613
merge

So I think we can close soon.  I'll of course doublecheck the CI .

[2016-03-07 16:38] vbatts commented on #7549
@mfojtik Sorry. I'm not familiar with this issue.

[2016-03-07 16:44] smarterclayton commented on #7793
We don't want that - we want layers to be shared across the namespace.  I
should be able to tag an image multiple times and it should incur no quota
change.

On Mon, Mar 7, 2016 at 8:50 AM, Michal Minar <notifications@github.com>
wrote:

[2016-03-07 16:46] jayunit100 opened #7834 "empty config file is reported as no config file `"
empty config file...
[code]
sais no config file
[code]

[2016-03-07 16:49] liggitt commented on #7834
that is working as designed. the alternative is a more confusing error saying "default cluster is not defined".

[2016-03-07 16:51] jayunit100 commented on #7834
s `error: No configuration file found, please login or point to an existing file:` to error: `No configuration DATA found, please login or point to an existing file:`

[2016-03-07 17:00] smarterclayton commented on #7808
Spawned https://github.com/kubernetes/kubernetes/issues/22650 for upstream

[2016-03-07 17:15] smarterclayton commented on #7243
Yeah, we don't need to run our tests on the base volume (anything that has
snapshots has this behavior, it's reads and not writes), we only need to
run our tests on a drive.  We could do memory (fast), block (slow), or a
combination.  We can shrink the size of the main drive, use local disk (if
available), or split into two devices.  But whatever device we use can't be
based on a snapshot.  Once w

[2016-03-07 17:51] deads2k opened #7838 "Create re-useable function for parsing git version"
Create re-useable function for parsing git version from https://github.com/openshift/origin/blob/master/pkg/version/version.go

[2016-03-07 18:27] ramr commented on #7832
@kargakis @jwforres  a route would have no status on it if a router is not running or because the selectors passed to any configured router (infra router configured via `--fields`, `--labels`, `--project-labels`, `--namespace-labels`)  don't include that route.
We did chat a while back about adding some router status information that allows the user interface (UI + command line + any integrations)

[2016-03-07 18:31] enlinxu opened #7840 "Question regarding on could not resolve host"
Hi,
I built the openshift on top of my Ubuntu VM. But when I tried to build a simple ruby hello-world, I keep getting. F0307 18:18:50.810159 1 builder.go:204] Error: build error: fatal: unable to access 'https://github.com/openshift/ruby-hello-world.git/': Could not resolve host: github.com; Unknown error

I tried restart my docker but still it doesn't work during rebuild. What did I miss?

Thanks

[2016-03-07 18:52] ramr commented on #7273
Found this clearing my stack of emails from when I was out - this is a duplicate of #7657 (the other way around really but the other issue has the discussion trail).

[2016-03-07 18:56] enlinxu opened #7841 "Deploy openshift with Kubernetes cluster"
Openshift origin comes with Kubernetes. I have built a Kubernetes cluster on top of Rhel vms following https://access.redhat.com/documentation/en/red-hat-enterprise-linux-atomic-host/7/getting-started-with-containers/chapter-3-creating-a-kubernetes-cluster-to-run-docker-formatted-container-images . But if I want to install openshit origin with a kubernetes cluster, shall I just follow https://acce

[2016-03-07 19:01] derekwaynecarr commented on #6766
Kubelet stats is wrong on systemd
https://github.com/kubernetes/kubernetes/pull/22656

[2016-03-07 19:42] #7708 closed

[2016-03-07 19:56] rhcarvalho commented on #7708
@GrahamDumpleton could you please double check #7713 fixed the problem for you? Thanks!

[2016-03-07 19:57] GrahamDumpleton commented on #7708
I am always relying on all-in-one VM. Will need to find out how I can build it myself against latest. I think they have a way, but just have to work it out.

[2016-03-07 20:01] mrunalp commented on #7616
@ncdc What version of systemd do you have?

[2016-03-07 20:03] ncdc commented on #7616
@mrunalp systemd-222-14.fc23.x86_64

[2016-03-07 20:05] mrunalp commented on #7616
@ncdc Thanks! It is looking like this may be a systemd issue as we are passing this as a property to start transient unit in systemd. https://github.com/projectatomic/docker/blob/fedora-1.9/vendor/src/github.com/opencontainers/runc/libcontainer/cgroups/systemd/apply_systemd.go#L187 I am debugging further.

[2016-03-07 20:12] spadgett opened #7844 "Route warnings not visible when route hostname truncated on overview"
The warning icon is truncated along with the route.

Route not truncated:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13581836/ea1eaf0a-e476-11e5-8c47-91c956825471.png)

Same route truncated:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13581866/fd343024-e476-11e5-92ab-ac8e9c12ecf6.png)

/cc @jwforres

[2016-03-07 22:14] timothysc opened #7845 "Controller repeatedly loses leader lease under heavy load"
We've created conditions under heavy load https://github.com/kubernetes/kubernetes/issues/22669 that to the point where CPU starvation forces a master fail-over.  During that fail-over, our data shows that we have indeed caused a split-brain condition occur.

**Precondition:** Heavily load a master in a HA configuration to the point of complete cpu saturation.  Network is also near saturation as w

[2016-03-07 22:38] smarterclayton commented on #7616
Another
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5233/artifact/origin/artifacts/test-end-to-end-docker/logs/container-ruby-sample-build-1-build-sti-build.log

On Mon, Mar 7, 2016 at 2:06 PM, Mrunal Patel <notifications@github.com>
wrote:

[2016-03-07 22:39] sferich888 opened #7846 "hello-openshift example should build binary as part of docker build file"
If you run the following and try and build the example hello-openshift example, you get an error, because the binary has to be built and checked into the repository.

[code]

You end up with errors like:

[code]

However adding go binaries, so that builds can be done in this image may be a problem as, this image is abased on [scratch](https://github.com/docker-library/hello-world)

[2016-03-08 00:01] #7700 closed

[2016-03-08 00:13] mrunalp commented on #7616
I have created https://github.com/projectatomic/docker/pull/71 as a potential fix. Will work on getting an rpm for that to test.

[2016-03-08 00:23] kargakis commented on #7335
Is `oc set triggers dc/name --manual` doing what you want?

[2016-03-08 00:34] kargakis commented on #3781
@smarterclayton needs closing

[2016-03-08 00:35] kargakis commented on #3659
@smarterclayton needs closing

[2016-03-08 00:40] kargakis commented on #7824
Can you post the output of `oc get all --all -o yaml` from a project where the deployment failed?

[2016-03-08 00:51] jawnsy commented on #7840
Maybe a silly question, but have you verified that you can do a "git clone" from that repository directly on the node? This sounds like an external DNS issue of some sort, so we should first verify that it's not something obvious.

[2016-03-08 00:54] jawnsy commented on #7846
This sounds like something relatively simple that I could take on. @danmcp can you assign this to me?

[2016-03-08 01:06] rajatchopra commented on #7651
We probably need a good document on this. But broadly the steps will be on these lines:

1. Select a node to run the lb, and label the node
2. Launch your lb as a pod (using the label) with host network or run it as a process
3. Run a lb-config pod which has credentials to access apiserver/master. This config pod should have custom code that can read routes/services/endpoints and can configure/rel

[2016-03-08 01:30] #5191 closed

[2016-03-08 01:30] #7295 closed

[2016-03-08 01:30] spadgett opened #7847 "Builder version should be sorted as numbers when possible in UI"
Builder wildfly:10.0 should appear after wildfly:9.0. Versions aren't always numbers, but we should compare them as numbers when sorting if possible.

<img width="380" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13589056/f8bb137e-e4a2-11e5-9ca9-318f7f320c25.png">

/cc @bparees @jwforres

[2016-03-08 01:31] sferich888 commented on #7846
There are other samples that have the same issue and it might just be a matter of choosing a different base image.

[2016-03-08 01:35] spadgett opened #7848 "Should not link to full view of log that's not available"
<img width="720" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13589167/d8993034-e4a3-11e5-9016-da783459155b.png">

/cc @benjaminapetersen @jwforres

[2016-03-08 01:42] jawnsy commented on #7847
I think this can be a difficult problem to solve in general, though perhaps it would be reasonable to assume that all versions match the [Semantic Versioning](http://semver.org/) conventions.

For example, in some languages (I think Perl works like this), 1.9 > 1.10, because the versions are treated simply as floating-point numbers, and 1.9 = 1.90, which is greater than 1.10 = 1.1.

If we're okay

[2016-03-08 01:44] jawnsy commented on #7848
Is this an easy bug that I could help with? I've done some JS before but would need to learn how to build our assets, which is something I'd like to learn at some point anyway :)

[2016-03-08 01:47] #7740 closed

[2016-03-08 01:48] #6990 closed

[2016-03-08 01:48] #7757 closed

[2016-03-08 01:49] smarterclayton commented on #3659
I changed my mind :)  I think web hooks (generic triggers) on a lot of objects is great idea.  Just need to figure out how to do it.

[2016-03-08 01:50] #3781 closed

[2016-03-08 02:04] jwforres commented on #7847
@smarterclayton did something server side to sort by semver on the image
stream import api.  Don't think that has been added to the regular IS APIs
yet?
On Mar 7, 2016 8:42 PM, "Jonathan Yu" <notifications@github.com> wrote:

[2016-03-08 03:06] timothysc commented on #7801
same.

[2016-03-08 03:10] csrwng commented on #7846
@jawnsy @sferich888 At some point, I created an example in extended tests to build the hello-openshift image. Unfortunately, as you discovered, this can't yet be done in a single step. The way that s2i builds currently work is that the s2ibuilder image along with built artifacts are committed to a new image. However, for hello-openshift, we don't want the golang compiler, along with other tools to

[2016-03-08 03:12] smarterclayton commented on #7847
We need to sort by the Version using the library method on the way out
(in decorate or in conversion).

[2016-03-08 03:14] csrwng commented on #7846
The source for the hello-builder can be found here:
https://github.com/openshift/origin/tree/master/test/extended/fixtures/hello-builder

[2016-03-08 04:22] #7328 closed

[2016-03-08 07:59] miminar commented on #7793
It won't be hard to change - I'll add it to the follow-up.

[2016-03-08 08:21] jfcoz opened #7850 "Kibana fatal error : : NetworkError: A network error occurred. (:0)"
Hello

I've installed openshift with ES/Kibana ...

oc version :
oc v1.1.3
kubernetes v1.2.0-origin

When I expand a document in Kibana, I'm always redirected to an error page :

[code]

On the log of the kibana pod I get :

`{"name":"Kibana","hostname":"logging-kibana-1-03m6b","pid":8,"level":30,"req":{"method":"GET","url":"/worker-json.js","headers":{"if-none-match":"W/\"11bf8-873763449\"","if-m

[2016-03-08 09:24] ibotty opened #7851 "support using rkt and runC"
It would be great to support running rkt and runC containers. That includes integration into the docker registry etc.

[2016-03-08 09:37] kargakis commented on #3659
relevant: https://github.com/coreos/krud

[2016-03-08 10:22] mdshuai opened #7852 "Should control user create "NodePort" service"
Now scc and policy can't control user create "NodePort" service. Create a "NodePort" service will open a port on all the node.
Should control user do this and only admin create this type service.

[2016-03-08 10:25] mdshuai commented on #7852
@ncdc

[2016-03-08 12:43] spadgett opened #7853 "Adopt PostCSS autoprefixer"
See conversation in #7559.

https://github.com/postcss/postcss
https://github.com/nDmitry/grunt-postcss

/cc @jwforres @benjaminapetersen @sg00dwin @rhamilto

[2016-03-08 12:44] spadgett commented on #7559
Closing sine the original issue has been addressed in #7572. Opened #7853 to adopt the autoprefixer.

[2016-03-08 12:44] #7559 closed

[2016-03-08 13:09] rhatdan commented on #7851
We are experimenting with rkt and runc currently.  I know CoreOS is working to get rkt to work with k8s, which is critical.

[2016-03-08 14:01] jim-minter commented on #7335
It looks good to me; I'll ask my customer who mentioned it what they think as well.
@smarterclayton some minor nits: `oc set triggers` as a mechanism to *view* seems a bit clumsy (I'm objecting to the use of the word set in this context), and it would be nice also to support flags like `--all`.

[2016-03-08 14:09] php-coder opened #7855 "MongoDB extended tests: cover case of changing the password"
Extracted from https://github.com/openshift/origin/pull/7393#issuecomment-193692757

Related links:
- Original Trello card: https://trello.com/c/ZNMI7j81/625-3-make-it-possible-to-change-mongodb-image-admin-and-user-password
- Docs: https://docs.openshift.org/latest/using_images/db_images/mongodb.html#mongodb-changing-passwords
- README: https://github.com/openshift/mongodb/tree/master/2.4#changin

[2016-03-08 14:16] jwforres opened #7856 "console does not mention development lifecycle features like hot deploy and rsync"
Users coming in from the web console would have no idea that we have support for hot deploy or rsync today.  At a minimum we should probably mention these features from the Next Steps page.  We should consider whether we need to tag / label an image as supporting hot deploy so that we can notify you when looking at a deployment that you can do hot deploy to develop.

[2016-03-08 14:16] jwforres commented on #7856
cc @bparees @spadgett

[2016-03-08 14:20] spadgett commented on #7847
Need to remove the client sort here if the server sorts for us.

https://github.com/openshift/origin/blob/master/assets/app/views/catalog/_catalog-category.html#L18

[2016-03-08 14:29] liggitt commented on #7852
SCC is only for pods. Policy is only for object-level control, not field-level. This is one more example of field-level authorization we need.

[2016-03-08 14:37] benjaminapetersen commented on #7848
@jawnsy this is probably a pretty simple fix.  Ping me on IRC, can help you get setup if you are really interested in helping out!

[2016-03-08 14:39] spadgett commented on #7848
Remove the "Log from..." message as well when there's no log?

[2016-03-08 14:42] danwinship commented on #7801
No, it shouldn't. There's a function that will theoretically get a list of all the pods on any given host, but it's only ever used to get the list of pods on the local host.

[2016-03-08 14:43] rhamilto commented on #7036
One thing that has come up in discussion with @ajacobs21e while reviewing the existing tables is that data lists lack column headers, so using them as a wholesale replacement for tables doesn't necessarily make the most sense as most of OpenShift's tables need column headers.  That said, we've discussed finding a middle ground that incorporates the styling of data lists but maintains the column he

[2016-03-08 15:16] enlinxu commented on #7840
Hi Jawnsy,
Yes, I can do git clone from the node. Basically I am deploying openshift origin on my Ubuntu VM, and I deployed it by git clone from git repo, and build the binary.

[2016-03-08 15:17] benjaminapetersen commented on #7848
Yeah, we should just `ng-if` hide all that as well.

[2016-03-08 15:17] david-strejc commented on #7825
Should I provide some more info? This is in my opinion serious case.

[2016-03-08 15:22] smarterclayton commented on #7801
Ok, all I see is createAndRunEventQueue("Pod") which fetches all pods, and
then the use of namespaceOfPodIP in filter.  It would be good to
discriminate in the Registry which methods are called on client and on
server so it's easier to audit.

On Tue, Mar 8, 2016 at 8:42 AM, Dan Winship <notifications@github.com>
wrote:

[2016-03-08 15:41] jfcoz commented on #7850
Update : it fails with Firefox (latest stable).
Works OK with Vivaldi/Chrome/IE

[2016-03-08 16:01] miminar commented on #7825
@david-strejc `oc version` and the version of registry image would be helpful. Thanks!

But it seems to me you're hitting #4518. If the first build in a new namespace fails, does the second always succeed?

[2016-03-08 16:31] kargakis commented on #7335
Another way to achieve disabling triggers will be `oc rollout pause` and `oc rollout resume`... Related issue: https://github.com/openshift/origin/issues/6896

[2016-03-08 16:40] lsm5 commented on #7616
could one of you please file an rhbz so we can include this in the docker advisory

[2016-03-08 16:49] brentos opened #7862 "Openshift CLI should warn users when they are running a different version client than the server"
It would be nice if the Openshift CLI gave a warning when the client/server versions don't match up. When there is a mismatch, strange behavior can be experienced and it is not always clear what the problem is.

[2016-03-08 16:57] bparees commented on #7856
would we label the image or annotate/tag the imagestream?  I assume the latter, though I hate the disconnect (when are getting labels on images created as annotations on imagestreamtags again?)

[2016-03-08 17:03] smarterclayton commented on #7845
Does one of the controllers eventually terminate?

[2016-03-08 17:35] jawnsy commented on #7840
Can you run these commands and share the output?

[code]

Also do the same commands from within a Docker container, by using:

[code]

to get a shell. This will help us rule out whether there may be network problems from inside the Docker infrastructure. This could happen if there's a problem with the iptables rules or bridge configuration (docker0.)

Are you building with `oc new-app` or using th

[2016-03-08 17:39] jwforres commented on #7856
I hate the disconnect in this case as well, I'd prefer the image itself be
able to say that it supports hotdeploy.

On Tue, Mar 8, 2016 at 11:57 AM, Ben Parees <notifications@github.com>
wrote:

@smarterclayton ?

[2016-03-08 18:00] jwforres opened #7865 "Github settings link in Next Steps page will always 404 for people using the example respositories"
If you use the example repository for an image, like https://github.com/openshift/nodejs-ex  then in the Next Steps page you will get a link to the settings page for that repository to set up the webhook.

![inaccessible_github_settings_page](https://cloud.githubusercontent.com/assets/1467629/13610730/292f003a-e52d-11e5-9b9f-17ab6091e724.png)

There is probably a larger issue here that you can't r

[2016-03-08 19:03] jawnsy commented on #7862
Related: [Bug 1306590 - [RFE] Optionally reject connection from older client versions [NEEDINFO]](https://bugzilla.redhat.com/show_bug.cgi?id=1306590)

[2016-03-08 19:13] jawnsy commented on #7862
Also copying @fabianofranz's comment from the Bugzilla entry:

[2016-03-08 20:32] smarterclayton commented on #7845
Can you triple the lease timeout and try to recreate?

[2016-03-08 20:35] spadgett commented on #7426
A pod donut was added (#7134) that links to a filtered list.

We'll track adding a pods table in #7685.

[2016-03-08 20:35] #7426 closed

[2016-03-08 20:41] sg00dwin opened #7870 "Name, Value fields on the create form are not truncating properly and expanding to the right in Firefox on Mac and Windows"
The name/value fields under Build Config., Deployment Config., and Labels will expand beyond their grid container with have long values.

<img width="257" alt="screen shot 2016-03-08 at 2 56 38 pm" src="https://cloud.githubusercontent.com/assets/1874151/13615296/a2a2c220-e542-11e5-9b19-cd342cd034b3.png">
<img width="1025" alt="screen shot 2016-03-08 at 3 33 02 pm" src="https://cloud.githubusercont

[2016-03-08 20:54] jcantrill commented on #7850
@jfcoz Can you provide steps on how you produced this error.  We have some changes that are forthcoming which it would be nice to figure out if this issue would be resolved by them

[2016-03-08 21:16] sdodson commented on #7694
/me nominates this for P1 if my global proxy config stuff is to happen for 3.2 we need to sort this and the linked issue out.

[2016-03-08 21:32] timothysc commented on #7845
On further inspection it's slightly more complicated then straight up split-brain, it appears to be a cycling with short overlaps.

![image](https://cloud.githubusercontent.com/assets/169553/13617140/bc3d11f4-e542-11e5-91c2-4bbf04197d4f.png)

We're seeing a bunch of revokes, and it's hoping around.

[2016-03-08 21:36] timothysc commented on #7845
It looks like we're denial of service attacking etcd on controller-restarts.

[2016-03-08 21:42] smarterclayton commented on #7845
Try setting master-config.yaml controllerLeaseTTL to 120 seconds

On Tue, Mar 8, 2016 at 3:32 PM, Timothy St. Clair <notifications@github.com>
wrote:

[2016-03-08 22:29] dvohra opened #7873 "Content-Type specified (plain/text) must be 'application/json'"
Docker version 1.10.2, build c3959b1

The following command generates error `Content-Type specified (plain/text) must be 'application/json'`

`oc rsh <pod>`

![openshift-rsh-pod](https://cloud.githubusercontent.com/assets/3654431/13618586/cd017394-e539-11e5-870e-75d679bf9165.gif)

Output from `oc version`
[code]

[2016-03-08 23:21] smarterclayton commented on #7856
I really think images should say they support hot deploy.

[2016-03-08 23:30] bparees commented on #7856
that's fine, but we still have to put it on the imagestream also until/unless we are turning image labels into imagestreamtag annotations.  unless you're suggesting the console go interrogate the image associated w/ the imagestream (in which case i'm pretty sure @jwforres is headed your way w/ something sharp)

[2016-03-08 23:42] sg00dwin commented on #7870
After dissecting the markup and flex rules associated with the areas that should be truncated, then moving up the markup structure, I've learned the problem is associated with the way Firefox assigns width to the ```fieldset```. In order to enable responsive like behaviors twbs recommends making ```fieldsets {display:table-cell}```.

1) Firefox and fieldsets
http://getbootstrap.com/css/#tables-res

[2016-03-08 23:53] jawnsy commented on #7870
Thanks @sg00dwin, I was looking at this too and was able to reproduce your problem, but was scratching my head as to how to fix it.

Does this mean we just need to add this:

[code]

to our CSS somewhere?

[2016-03-08 23:58] jawnsy commented on #7870
I can confirm that `display: table-cell` fixes it (when I add it via the Inspector), I'll open a PR with that change.

[2016-03-09 00:48] jawnsy commented on #7873
Hmm, I tried reproducing this problem with the latest build of Origin (built from source) and couldn't do so. Is the error message specific to a particular image?

For me it seems to just work correctly, so maybe the problem was fixed? Or potentially it could be an issue with an intermediate proxy?

[code]

[2016-03-09 00:52] jawnsy commented on #7733
@spadgett Is this something I can take on?

[2016-03-09 00:58] dvohra commented on #7873
The issue was found with the following image, did not test with another image.

https://hub.docker.com/r/sath89/oracle-xe-11g/

Does the sath89/oracle-xe-11g image generate the issue?

[2016-03-09 01:10] jawnsy commented on #7848
Added a simple ng-if for the link text. I still have to hunt down the "Log from" message and fix that, and I will need to test it.

@spadgett @benjaminapetersen Do you have instructions to reproduce this condition? I guess I just need to run a build, which I haven't done yet (so far I've only created from a template, but it wasn't triggered by any build.) Is there a simple example that I could run

[2016-03-09 01:15] jawnsy commented on #7873
Google turns up this issue: https://github.com/kubernetes/kubernetes/issues/20884 which references this https://github.com/kubernetes/kubernetes/issues/19720 which has similar error messages listed.

I'm still using Docker 1.9.1, so that might be why. Can you try downgrading your Docker version and seeing if that helps?

[2016-03-09 01:25] smarterclayton commented on #7873
It was not supported but we'll put patches in for 1.1.4 and 1.2.
Upstream Kube has not certified on 1.10 yet though so it's likely we
won't officially support it for a while.

[2016-03-09 01:26] smarterclayton commented on #7856
Ultimately Image stream tags are supposed to be a stopgap, not a solution.

[2016-03-09 01:26] liggitt commented on #7873
Looks like the docker client patched for this. Would need to see what additional changes bumping that would pull in

[2016-03-09 01:49] spadgett commented on #6193
Just saw this again. It's still an issue although rare.

/cc @jwforres

[2016-03-09 01:56] spadgett commented on #7848
@jawnsy Easiest way is to run a build, and then delete the build pod manually. When you look at the build log in the web console, you'll see the log not available error. If you have an old build, you might not need to delete the pod, just open the log.

[2016-03-09 02:23] smarterclayton commented on #7852
You should be able to disable this totally by setting the node port range to the empty string (or 0).  Agree that we want finer grained control and it is related tonpolicyc

[2016-03-09 03:07] mdshuai commented on #7852
field-level authorization SGTM

[2016-03-09 03:09] liggitt commented on #7852
Yes… it's not for lack of wanting that we don't have it :)

[2016-03-09 04:38] smarterclayton commented on #7335
I agree, but at the same time, it's the only place where we have a "trigger focused view".  And it's the only place we have that would unify triggers across bc / dc.

For all, `oc set triggers dc --all` should show you all triggers on all dcs.

[2016-03-09 04:38] smarterclayton commented on #7335
Agree rollout pause and resume will get hooked into triggers.

[2016-03-09 04:39] smarterclayton commented on #7335
And we'll probably add more triggers to more objects, like daemon sets and scheduled jobs.

[2016-03-09 04:41] smarterclayton commented on #7793
If the quota is "size of unique images across the namespace" then it just
needs to be periodically assessed.  I don't know that we can handle the
complexity of a change to ImageStreamTag PUT/POST/DELETE, ImageStream
PUT/POST/DELETE, ImageStreamImport, and such in the short time we have.  If
we had a lazy quota (where it didn't aggressively calculate on change, or
waited for the recalculate to catc

[2016-03-09 04:41] smarterclayton commented on #7793
Tagging costs us nothing, so if someone can tag extra images in I don't
worry.  It's only push / pull.

On Tue, Mar 8, 2016 at 10:41 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-03-09 04:42] smarterclayton commented on #3659
Yeah, I'm going to write up a suggestion about how we can make triggers
that apply equally to all objects and then support them transparently.

On Tue, Mar 8, 2016 at 3:37 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-03-09 05:31] donovanmuller opened #7878 "Possible to clean /var/lib/origin/openshift.local.volumes?"
My `/var/lib/origin/openshift.local.volumes` is taking up a large amount of space and the volume that it is mounted on is running low on space.

Is it safe to remove items under `/var/lib/origin/openshift.local.volumes` or is there another suggestion on how to reclaim some space?

[2016-03-09 05:43] donovanmuller opened #7879 "Pushing to the internal registry with a corporate proxy in play"
I have the unfortunate requirement to use a corporate proxy in our environment.
I have configured (Chef) both Docker and OpenShift to use this proxy and in general it works well.

However, there is one scenario that I cannot seem to automate.
I'm using the `Docker` build strategy to build images. So once the container is built successfully it pushes the image to the internal registry.
The URI of t

[2016-03-09 07:46] bparees commented on #7817
docs have been fixed, thanks!

[2016-03-09 07:46] #7817 closed

[2016-03-09 07:59] jfcoz commented on #7850
@jcantrill , It's just a fresh install with this documentation : https://docs.openshift.org/latest/install_config/aggregate_logging.html (already re-installed two days ago).

Then on the discover tab, when searching *, I get a correct document list. But when I click the expand button (right arrow) on front of the document, the detail table appears for a few ms and then redirect to the error page.

[2016-03-09 08:37] webdizz commented on #7549
Any updates on this? I'm starting with OpenShift Origin using Vagrant and by default Docker 1.10.2 is installed.

[2016-03-09 08:58] kargakis commented on #7335
@smarterclayton note that `kubectl rollout pause` will halt deployments in the middle of a rollout because the upstream controller (where the strategy is backed into) will ignore paused deployments.

[2016-03-09 09:42] stefwalter opened #7880 "No dockerImageManifest in ImageStreamImages"
When loading images via `/oapi/v1/images` there is a `dockerImageManifest` present in the JSON result. When loading the same image via `http://localhost:8001/oapi/v1/namespaces/<ns>/imagestreamimages/<name>@sha256:<hash>` then the dockerImageManifest is not present.

[2016-03-09 09:46] stefwalter commented on #7880
[code]

[2016-03-09 09:56] stefwalter commented on #7880
I couldn't figure out where ImageStreamImage is generated using ```git grep``` any tips?

[2016-03-09 10:13] kargakis commented on #7880
cc: @miminar @smarterclayton @ncdc

[2016-03-09 10:30] jstrachan opened #7881 "oc exec seems to have broken on 1.1.3: Content-Type specified (plain/text) must be 'application/json'"
I've been using `oc exec` alot to open bash shells inside containers to noodle around when things go wrong. Since moving to 1.1.3 it seems to have stopped working; it hangs with the message:
[code]
here's a debug output in case it helps
[code]

[2016-03-09 10:55] jstrachan commented on #7881
Looks like the Terminal tab in the OpenShift console has the same issue

[2016-03-09 10:58] kargakis commented on #7881
Dupe of https://github.com/openshift/origin/issues/7873

[2016-03-09 11:14] miminar commented on #7880
See https://github.com/openshift/origin/blob/master/pkg/image/registry/imagestreamimage/rest.go#L84 in commit https://github.com/openshift/origin/commit/730f1f52a33feb979e5996fb52aae1f6ba2293a9 . I'm not sure why. @smarterclayton would know the best.

[2016-03-09 11:29] caruccio opened #7882 "oc new-app --list dies"
Trying to list usable templates and imagestream gives a segfault with backtrace:

[code]

[2016-03-09 11:54] #6266 closed

[2016-03-09 12:37] ncdc commented on #7880
`dockerImageManifest` is the raw JSON of the actual Docker image manifest, and (at least up until now), it's only populated when you retrieve /images because that's needed for the registry to serve up manifests. Do you have a need for the raw JSON when retrieving an ImageStreamImage?

[2016-03-09 14:44] stevekuznetsov commented on #7818
@smarterclayton @danmcp unless this persists, we can close this issue, yes?

[2016-03-09 14:45] #7818 closed

[2016-03-09 14:46] danmcp commented on #7862
Closing in favor of the bug.

[2016-03-09 14:46] #7862 closed

[2016-03-09 14:51] ewolinetz commented on #7850
@jcantrill I was able to recreate this even with our origin code, but only with Firefox.

This is the error displayed on the Kibana page:

Error: Error: Script file not found: worker-json.js (:0)
window.onerror@https://kibana.example.com/index.js?_b=7562:46032:24

[2016-03-09 14:51] stevekuznetsov commented on #7773
@danmcp this can be closed, yes?

[2016-03-09 14:53] #7881 closed

[2016-03-09 14:56] jwforres opened #7885 "Handle downward api and configmap volume types in the Volumes section on DC/RC/Pod in console"
We should handle showing more details about DownwardAPIVolumeSource (show the list of Path -> FieldRef ) and ConfigMapVolumeSource (show the name of the referenced ConfigMap and the list of Key -> Path if its been specified ).

Note: ConfigMapVolumeSource will be in the next rebase

[2016-03-09 14:56] #7773 closed

[2016-03-09 14:57] jwforres commented on #7885
cc @spadgett I'd like to see this fixed if we have time after the rebase lands. but not the end of the world if not, we'll show the volume name and volume type for any volumes we don't specifically handle

[2016-03-09 15:02] jwforres opened #7886 "Handle env vars that use From in the environment directive"
today i think its just going to have a blank value column since value is not defined.  ValueFrom can be any of these (ConfigMap will be in the next rebase):

[code]

[2016-03-09 15:02] jwforres commented on #7886
cc @spadgett

[2016-03-09 15:06] sg00dwin opened #7887 "Connector icon between service and deployment-block is clipped"
<img width="781" alt="screen shot 2016-03-09 at 9 59 45 am" src="https://cloud.githubusercontent.com/assets/1874151/13639394/8b0591dc-e5de-11e5-81e9-c91ef3a03938.png">

[2016-03-09 15:11] sg00dwin commented on #7887
Caused by addition of ```overflow:hidden``` to .deployment-block
https://github.com/openshift/origin/blob/master/assets/app/styles/_components.less#L144

@spadgett is this is needed?

[2016-03-09 15:14] pweil- commented on #7879
A route can be created for the registry using the following steps: https://docs.openshift.org/latest/install_config/install/docker_registry.html#exposing-the-registry

However, since a change in the registry service IP address requires a restart of the master it is recommended that you reuse the IP address if recreating the internal registry: https://docs.openshift.org/latest/install_config/instal

[2016-03-09 15:14] #7879 closed

[2016-03-09 15:16] stefwalter commented on #7880
Yes that would allow us to implement the designs for an image registry pased on openshift. One of the things we do is render a graph of the various image layers, and what each image layer represents. For this, the dockerImageManifest is important.

In additon, since Images cannot be accessed by most users, having dockerImageManifest in ImageStreamImage is important.

[2016-03-09 15:19] liggitt commented on #7880
those embedded raw JSON API types are pretty bad to maintain... not excited about spreading their use :-/

[2016-03-09 15:20] spadgett commented on #7887
@sg00dwin It's there to prevent a long replication controller or deployment name from overflowing the box, but obviously causes other problems :(

[2016-03-09 15:24] liggitt commented on #7879
a route cannot be used with the internal registry until the generated credentials take additional hostnames into account

[2016-03-09 15:24] ncdc commented on #7880
I think it'd make more sense to extend the go types to include layer information. Yes it's some more data duplication, but that's better than passing around the raw JSON. That's only there because we have to be able to serve up the manifest unmodified (including preserving whitespace), and it's the safest way to make sure we can do that.

[2016-03-09 15:41] spadgett commented on #7887
@sg00dwin This is what it's guarding against, but we might not need it. Or possibly we can move the style to a child element.

I'll check what the longest name is.

<img width="203" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13640613/5d5a40b6-e5e3-11e5-86b1-6d01a68b44b2.png">

[2016-03-09 15:44] spadgett commented on #7887
Replication controller name can be 253 characters.

[2016-03-09 16:20] sg00dwin opened #7891 "Annotations table is clipped"
<img width="709" alt="screen shot 2016-03-09 at 11 16 26 am" src="https://cloud.githubusercontent.com/assets/1874151/13642009/c9b062f4-e5e8-11e5-9710-e6eadb8b7cf7.png">

[2016-03-09 16:22] csrwng commented on #7882
@danmcp @caruccio this was fixed with https://github.com/openshift/origin/pull/7433

[2016-03-09 16:24] sg00dwin opened #7893 "Deployment config details with long names overlays circle chart"
<img width="919" alt="screen shot 2016-03-09 at 11 22 03 am" src="https://cloud.githubusercontent.com/assets/1874151/13642160/5cfa3030-e5e9-11e5-9761-242105d5d338.png">

[2016-03-09 16:35] caruccio commented on #7882
Thanks. I could not find any issue related to this by searching for `new-app`.

[2016-03-09 16:35] #7882 closed

[2016-03-09 16:50] mwringe opened #7894 "cluster-reader should be able to GET from the api proxy"
A user with cluster-reader permissions should be able to perform GET requests against the api proxy.

A user with cluster-reader permissions should be able to perform the following command:

curl --insecure -H "Authorization: Bearer `oc whoami -t`" -X GET https://localhost:8443/api/v1/proxy/namespaces/openshift-infra/services/https:heapster:/

[2016-03-09 17:07] kargakis commented on #7746
I was hitting this as well and it turned out that it's a router service account permission issue.
For those not following the users list, make sure that the router service account has the following permissions:
[code]
The last command is redundant in the case the router was created w/o `--credentials`.

@deanpeterson is everything ok for you? If so, please close this issue.

[2016-03-09 17:10] stefwalter commented on #7880
The following information is what I would consider interesting:

 * The layer digest
 * The size of the layer
 * Description of what changed in the layer (eg: the DockerFile line for Docker image layers)
 * Creation date of the layer
 * Layer Signatures

There's probably more, but just suffice it to say that the current dockerImageLayers omits several interesting pieces of info.

[2016-03-09 17:16] miminar commented on #7880
@stefwalter and it will be even worse. With manifest [schema v2](https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-2.md#image-manifest-field-descriptions) (which we will sooner or later) implement you'll see just the first two of the mentioned.

[2016-03-09 17:17] liggitt commented on #7894
Root proxy is not partitioned by verb, and GET on proxy cannot be guaranteed to be non escalating

[2016-03-09 17:18] #7894 closed

[2016-03-09 17:35] deanpeterson commented on #7746
Yes,  that was my issue as well.  Yes, I am working now.

[2016-03-09 17:35] #7746 closed

[2016-03-09 18:14] ncdc commented on #6766
Add user-agent default for discovery client: https://github.com/kubernetes/kubernetes/pull/22746

[2016-03-09 18:28] jawnsy commented on #7891
I can reproduce this, and it sounds like something I might be able to fix. Luckily, there's a nice x-axis scrollbar that shows up at the bottom, so it's not actually a functional issue (can still get to the overflowed data), it's just not great UX.

I suggest we just hide the `openshift.io/encoded-deployment-config` completely or make it a link (e.g. "download deployment config" or "open deploymen

[2016-03-09 18:40] fabianofranz opened #7899 "--output usability issues in some commands"
`--output=json|yaml|...` was initially introduced to specify the output format of "get" and "list" (read-only) actions in `oc get`. That makes sense.

However it's currently being used in mutating commands with nonstandard / unpredictable behaviours. Examples:

[code]

Probably affects other commands as well. We need a standardized way of changing the behaviour of a mutable output to not actually

[2016-03-09 18:40] fabianofranz commented on #7899
CC @kwoodson

[2016-03-09 19:02] jwforres commented on #7891
We should not hide any annotations.  Annotations are not *really* intended for end users to begin with, that's what labels are for.  We give you a way to look at them as a debugging mechanism if something's going wrong, so that you don't have to drop to the CLI to do it.

@spadgett this seems to be because of the addition of your pod donut / and max-width stuff, assigning it to you

[2016-03-09 19:04] jwforres opened #7900 "Indicate a DC/RC has been idled"
Once idling comes in we'll need to indicate when a DC / RC has been idled vs manually scaled to zero.  Hopefully a relatively small change, just adding an extra indicator on overview / DC / RC pages.

[2016-03-09 19:05] jwforres commented on #7900
networking card for reference https://trello.com/c/U8WVvD1D

[2016-03-09 19:09] mchudgins commented on #5946
One use case:  TLS encryption is desired all the way to the application.  Rather than have two sets of certs (one for the router, one for the app) and use"reencrypt", it may be more convenient/desirable to use "passthrough".  However, in this case the route api does not allow either a "redirect" (can only be used with edge termination) nor does it allow a second http route to the application (whic

[2016-03-09 19:25] screeley44 opened #7901 "UXP: Add Validated SCC to 'oc describe <pod>'"
Add ability to see which SCC the pod was validated against when using 'oc describe pod mypod'.  Better user experience as user doesn't have to search for it in the -o yaml

[code]

one liner from what I can tell by adding in pkg/security import for allocator:
[code]

@smarterclayton @erinboyd @jeffvance  - thoughts?

[2016-03-09 19:25] smarterclayton commented on #7880
Short term, which calls do you need this info on?  The reason we don't
return it is size of calls and the escaping of schema control.

Date on layers is reasonable (for whatever that means).  I hate
signatures and want them to die.  Description is generic but what
docker gives us isn't very good.

[2016-03-09 19:34] jayunit100 commented on #6882
ok folks, I'm pretty sure *we can finally close this.*  There may be a new issue that popped up or pops up, but the overall first pass is done and there is no test listed in here which isnt now either skipped or fixed......

[2016-03-09 19:36] screeley44 opened #7902 "UXP: Confusing or Unclear errors in 'oc describe' when mounting volumes - bubble up useful errors as events to be displayed"
As an example, if I'm submitting a pod with PV/PVC for GlusterFS and the endpoints are missing - a generic error is received:  Error syncing pod, skipping: unsupported volume type

this error is misleading and the user is then left wondering/searching for the real cause, even something simple like in this case that the endpoints for the gluster cluster is missing or gone.  I would like to add an e

[2016-03-09 19:36] jayunit100 opened #7903 "Confirm "all green" on extended tests"
After the next rebase  we will want to hunt down the extended.test results and confirm 100% green.

Follow up issue to #6882 .

Please assign to me...

UPDATE

Here are the currently failing tests as (_April_)

[code]

[2016-03-09 19:45] deads2k commented on #7903
@liggitt guess you should at least try a run on the rebase before merging.

@jayunit100 have you considered creating two special kube buckets.  One of a set of whitelisted, known good e2e tests and one of the a blacklisted set of known bad.  We *might* block the rebase on a whitelisted failure.  Then the blacklisted set would give you pass/fail information on the new tests that came in on the reba

[2016-03-09 19:49] csrwng opened #7904 "Router: default cert for edge route not being used"
I am creating a router with
[code]

When I create an edge route to a service and I hit that route, the certificate I'm getting back is not the one I created the router with.

Looking into the router pod, the certificate I gave it on create is at:
[code]

but the certificate I'm getting back when hitting the route looks like the one at:
[code]

This is causing the gitserver extended test to fail be

[2016-03-09 19:50] csrwng commented on #7904
@smarterclayton @liggitt

[2016-03-09 19:53] screeley44 opened #7905 "UXP: Add resolution hints or feedback based on volume mount type errors received to be displayed in the 'oc describe'"
Analyze and massage error messages to provide generic hints for volume plugin type errors, for example, below are some common NFS and GlusterFS type errors that users receive that I caught and mocked up for real examples:

Connection Timeout Example:

[code]

Denied Access Example:

[code]

GlusterFS mocked up Example:

[code]

@smarterclayton @erinboyd @jeffvance - thoughts?

[2016-03-09 19:53] spadgett commented on #7891
Yes, I introduced this one :(

[2016-03-09 19:56] csrwng opened #7906 "new-app: should not complain about circular image-stream reference if not generating objects itself"
When creating a list of objects with ```new-app -f incremental-auth-build.json```
using this file:
https://github.com/openshift/origin/blob/master/test/extended/fixtures/incremental-auth-build.json

new-app should not complain about a circular image reference:
1) because the build will not loop indefinitely... there's no triggers to do that
2) because you are creating from a list of objects and ne

[2016-03-09 19:56] csrwng commented on #7906
@bparees

[2016-03-09 20:03] jayunit100 commented on #6882
@liggitt  i mean to say, im assuming https://github.com/openshift/origin/issues/7903 <- this is a good placeholder, and we could close this ticket since there is alot of noise in it, and all the tests that were causing problems now appear to be working with the SCC/hostPath non-Conformance annotations/Volumes nonnginx mods.

[2016-03-09 20:06] smarterclayton commented on #7905
Is this info in the status of the pod as well (i.e. do we get reason failed
mount)?  Anything on the pod already is a great candidate for adding to
status (we have markers and helper text that diagnoses problems)

On Wed, Mar 9, 2016 at 2:53 PM, Scott Creeley <notifications@github.com>
wrote:

[2016-03-09 20:08] spadgett opened #7909 "Attach storage link too close to deployments table"
Browse deployment config page:

<img width="710" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13648837/ced122da-e608-11e5-80e9-bd8e6f945693.png">

[2016-03-09 20:13] jayunit100 commented on #6882
@liggitt  ok, currently we have four failing extended tests on master.
[code]
- ive confirmed all emptyDir tests passing on OSE, so those are probably flake.
- Kubectl/service basic endpoint Im not sure about.
But the list is significantly lower now, and i dont see any overlap with this and the original issue.

[2016-03-09 20:19] csrwng opened #7910 "new-build: complains about circular reference when creating a new build from Dockerfile"
Either we need to create distinct imagestreams by default or not complain about the circular imagestream reference.

[2016-03-09 20:20] csrwng commented on #7910
@bparees

[2016-03-09 20:23] bparees commented on #7906
@rhcarvalho I think you're working on something related to this and have an issue for it?

[2016-03-09 20:23] bparees commented on #7910
@rhcarvalho i think you're working on something related to this and/or have an issue for it?

[2016-03-09 20:25] screeley44 commented on #7905
@smarterclayton - I'm not familiar with the markers and helper text - can you point me to an example so I can look into it.

As far as the status, in this case "FailedMount" the message can be more detailed sometimes - as seen with NFS or very vague like missing endpoints #7902.   So the GlusterFS example above, is not really what the user sees when that error happens, they only see "unsupported v

[2016-03-09 20:25] csrwng opened #7911 "build extended tests: build secrets test points to non-existent file"
https://github.com/openshift/origin/blob/master/test/extended/builds/secrets.go#L22

[2016-03-09 20:30] mfojtik commented on #7911
@csrwng dunno who removed that fie :-) good catch

[2016-03-09 20:30] derekwaynecarr commented on #6766
In case this does not make kube 1.2, we should carry the following for cadvisor:

https://github.com/google/cadvisor/pull/1152

cAdvisor hangs for 20s on startup when not on GCE/AWS.

This means that the kubelet also hangs for 20s on startup.

[2016-03-09 20:38] xionglingfeng opened #7912 "Latest docker image missing 'ip'"
The latest origin image (docker.io/openshift/origin) cannot start SDN correctly.
At least, `/usr/sbin/ip` is missing, which causes SDN failed to start in node:

    E0309 20:30:42.744482   15972 controller.go:138] Failed to configure docker bridge: ip is not installed
    F0309 20:30:42.744495   15972 node.go:258] error: SDN node startup failed: Failed to start plugin: ip is not installed

After f

[2016-03-09 20:44] smarterclayton commented on #7904
@ramr @knobunc

[2016-03-09 20:53] jayunit100 commented on #7903
@deads2k Yup, so, everything that passes extended test filtering is a white feature, so that is the bucket...
 The skipped tests I guess in your analogy are "bad ones".

It used to be the case that many tests failed for unknown reasons, now we have a good understanding of most failures, so the amount of unknown unknowns is quite small (was around 20, now under 5).

[2016-03-09 21:19] jeffvance commented on #7901
@screeley44 this seems simple enough to go directly to a PR. I have not had a chance to look at the code, but I suspect you can leverage the scc display from `oc export pod` annotations output.

[2016-03-09 22:05] spadgett opened #7916 "Can't read selected log text in Firefox"
<img width="854" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13652177/ba69891c-e618-11e5-8ad7-2b90ed6062cc.png">

I believe it's possible to change the selected text styles in CSS. Not a problem in Chrome.

/cc @jwforres @sg00dwin

[2016-03-09 22:11] spadgett commented on #3901
We have a general card for improving the usability of the catalog. I'll link back to this issue.

https://trello.com/c/xlQaSaxT

[2016-03-09 22:11] #3901 closed

[2016-03-09 22:31] jawnsy commented on #7848
It took me longer than I'd care to admit to realize that you can check ng-if state from a child element of the `log-viewer` element. Anyway, this seems to work when testing locally - I reproduced the empty log situation by deleting the build pod manually (using `oc get pods` and `oc delete pod`.)

I tested on Chrome Beta, haven't tried other browsers but I don't imagine that I'd need to in this ca

[2016-03-09 22:43] jawnsy commented on #7916
It looks readable to me, though I don't know if the contrast ratio is sufficient to pass WCAG guidelines. I think I've used this tool in the past to test this: [Colour Contrast Tester](https://www.paciellogroup.com/resources/contrastanalyser/) and there are similar checks we could run (e.g. using Chrome's Accessibility Developer Tools)

It looks like both browsers are using a default highlighting

[2016-03-09 22:57] jawnsy commented on #7848
Ah, nevermind. Got too excited. This also breaks the case where logs actually are present.

Has logs, "Open in viewer" link appears, but "Log from" information is missing:

![screenshot from 2016-03-09 14-54-38](https://cloud.githubusercontent.com/assets/52710/13653528/1985695a-e607-11e5-9d3e-d558d415f973.png)

No logs, so link is suppressed and "Log from" information is removed:

![screenshot fro

[2016-03-09 23:02] ramr commented on #7904
@smarterclayton  I think was broken with the secrets changes. I will look at it.

Meanwhile @csrwng  can you run the router option with  `--secrets-as-env=true`  and see if that gets you going.

[2016-03-09 23:03] jawnsy commented on #7909
Looks like a job for the new guy! (me)

I'll work on this. I guess we just need to add a margin-bottom to the "Attach storage" class or a margin-top to the table? Not sure what the preferred conventions are here.

[2016-03-09 23:11] jawnsy commented on #7909
I can reproduce this, but interestingly, it only seems to be a problem when _only_ the "Attach storage" link is available:

![screenshot from 2016-03-09 15-08-18](https://cloud.githubusercontent.com/assets/52710/13653878/05bb0db0-e609-11e5-966b-88aa7868cf85.png)

If there are two links then it renders fine (or, well, at least it looks a bit better -- IMO this feels like it leaves _too_ much space)

[2016-03-09 23:36] smarterclayton commented on #7904
The path changed in the image - it's possible that one of them was dropped.

On Wed, Mar 9, 2016 at 6:02 PM, Ram Ranganathan <notifications@github.com>
wrote:

[2016-03-09 23:39] ramr commented on #7904
yeah, I think the defaultCertificatePath is not set. Did make the fix - testing it right now.

[2016-03-10 00:01] smarterclayton commented on #7845
I checked the code, we log any errors we have from etcd, including whether we lost the lease.  So we should have all the debugging we need.  Let's try to recreate if possible so we know what the failure mode is.  Hold on tuning the TTL.

I opened https://github.com/openshift/origin/pull/7918 to change the code slightly but it has no impact that upping the lease TTL wouldn't have.

[2016-03-10 00:08] smarterclayton commented on #7335
I like pause.  We just need to upgrade deployment config to have all the
same benefits.  I'll want to pause a recreate deployment.

On Wed, Mar 9, 2016 at 3:58 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-03-10 01:23] spadgett commented on #7848
@jawnsy I'm not sure what to recommend other than moving the timestamps back into the directive so it can hide them. We just pulled those out, though :(

@benjaminapetersen Any ideas?

[2016-03-10 01:24] spadgett commented on #7916
@jawnsy Was your screenshot from Chrome? Because that's much more legible than what I see in Firefox.

[2016-03-10 02:43] #7723 closed

[2016-03-10 03:27] benjaminapetersen commented on #7848
Ah, hmm.... thinking....

[2016-03-10 04:13] #7870 closed

[2016-03-10 05:10] liggitt commented on #6766
API changes to scale subresources
https://github.com/kubernetes/kubernetes/pull/22769
https://github.com/kubernetes/kubernetes/pull/22724

API change to replicaset:
https://github.com/kubernetes/kubernetes/pull/22758/

[2016-03-10 05:19] xionglingfeng commented on #7912
Just noticed multi-node deployment requires run separate 'openshift/node' and 'openshift/openvswitch' containers on compute nodes. 'openshift/origin' is not a true all-in-one container.

[2016-03-10 05:19] #7912 closed

[2016-03-10 06:43] stefwalter commented on #7880
Broadly speaking: It needs to be viewable at a project level, by both users in the role of project admin and project viewer.

I imagined It would be included in ImageStreamImage, since other parts of Image are available there. But if there is another better location for retrieving this info at a project level, open to adjusting to that.

Here's an example of a view that uses this info. There are a

[2016-03-10 09:19] ikke-t commented on #6674
wouldn't this do the same: https://github.com/openshift/origin/pull/6775 ?
It doesn't do UNICAST, but gives you option to alter the ID of keepalived VRRP. Then you don't need to know the IPs.

[2016-03-10 09:23] jkroepke commented on #6674
I think, the vrrp offset option is good enough.

Ilkka Tengvall <notifications@github.com> schrieb am Do., 10. März 2016,
10:20:

[2016-03-10 10:02] #7904 closed

[2016-03-10 11:30] #6620 closed

[2016-03-10 13:52] ekuric opened #7925 "Add option for pprof profiling endpoint to support custom ip address"
## Version
[provide output of the `$ openshift version` or `$ oc version` command]

oc version
oc v3.1.1.910
kubernetes v1.2.0-alpha.7-703-gbc4550d

## Description
when using go pprof to profile openshift with web profile then specifying
OPENSHIFT_PROFILE=web
configuration file will enable that.

later on, it is possible with

$ elinks http://localhost:6060/debug/pprof

to check profile and get in

[2016-03-10 14:43] tdawson commented on #7615
Sorry for the delay.  As of right now this is the latest

Image: openshift3/ose:v3.1.1.6-14
rpm: atomic-openshift-3.1.1.6-4.git.21.cd70c35.el7aos.x86_64
version:
openshift v3.1.1.6-21-gcd70c35
kubernetes v1.1.0-origin-1107-g4c8e6f4
etcd 2.1.2

[2016-03-10 14:47] soltysh commented on #7615
@Tebro I guess in that case you'll have to wait for the 3.2 release we're currently working on getting finished. Sorry for that.

[2016-03-10 14:58] danmcp opened #7927 "cgroup.procs error in devenv_ami"
We are getting this a lot in devenvs:

[8] System error: open /sys/fs/cgroup/devices/system.slice/docker-fc2e8c0bfdef0d585ed13e784ccc1024ec33f4f01e3c4c992ea15b38abca58b7.scope/cgroup.procs: no such file or directory
!!! Error in hack/build-images.sh:91
	'docker build -t $1:latest $2' exited with status 1
Call stack:
	1: hack/build-images.sh:91 image(...)
	2: hack/build-images.sh:104 main(...)

Ex:

[2016-03-10 15:26] #7916 closed

[2016-03-10 15:30] deads2k commented on #6766
ThirdPartyResources is still targeted for 1.2 and is big enough to impact whether future patches apply cleanly: https://github.com/kubernetes/kubernetes/pull/18835

[2016-03-10 16:08] kargakis commented on #7792
Do we want to somehow link the invalid istag location in the registry to the valid one?

[2016-03-10 16:24] rhcarvalho commented on #7910
@bparees the issue is https://github.com/openshift/origin/issues/7718. Though I'm not sure they're duplicates.

Perhaps @csrwng has encountered a different case, @csrwng could you provide an example?

What I can say is that

[code]

Was meant to error on circular ref because both input and output would be the IST "centos:latest".
Clayton was for the error and opposed to generating arbitrary names

[2016-03-10 16:25] rhcarvalho commented on #7906
This is a dupe of https://github.com/openshift/origin/issues/7718

[2016-03-10 16:26] mrunalp commented on #7927
This may not get fixed by https://github.com/projectatomic/docker/pull/71 (which is for #7616). I am looking into this one.

[2016-03-10 16:30] csrwng commented on #7910
@rhcarvalho The case I encountered is in our extended tests. I guess we need to fix the test. Will paste a URL when I come back.

[2016-03-10 16:34] rhcarvalho commented on #7910
@csrwng so this' a dupe of  #7718. It was a regression, I'm working on a fix and better test cases to avoid new regressions in that area.

[2016-03-10 16:34] miminar commented on #7792
@legionus can you please verify you can pull with older Docker version (like 1.6)? So we know it's not a regression in the registry but a way, how docker works nowadays. This used to work in past ages.

If this is indeed caused by a change in Docker's behaviour, then it's a hard one. The solution is to create layer links in the repository referenced by IST, ISI or docker image for all the layers r

[2016-03-10 16:40] bparees commented on #7906
thanks @rhcarvalho

[2016-03-10 16:40] #7906 closed

[2016-03-10 16:44] bparees commented on #7910
yeah we should not have to change the test case, so the fix for #7718 should make the test work again.

closing this as a dupe.

[2016-03-10 16:44] #7910 closed

[2016-03-10 16:54] #7785 closed

[2016-03-10 16:55] jawnsy commented on #7916
@spadgett Screenshot from Firefox (actually Iceweasel 44.0.2 ... sorry, I run Debian :blush:)

I wonder if this depends on a default system highlight color defined somewhere? If so, it might make more sense to apply the same selection style to Chrome (and other browsers) as well.

[2016-03-10 16:57] php-coder commented on #7911
Looks like It was broken in 16a3adc9420fba6f6c9b6330a53c3bf945607bca commit when fixture file was renamed:

[code]
and file with the same name was renamed:
[code]
But code tries to use file from different directory: `test/extended/fixtures/build-secrets`.

No one, the file is still here:
[code]

[2016-03-10 17:47] csrwng commented on #7910
Just for reference, the test cases that were failing are these:
https://github.com/openshift/origin/blob/master/test/extended/builds/dockerfile.go#L37
https://github.com/openshift/origin/blob/master/test/extended/builds/dockerfile.go#L60

[2016-03-10 17:48] csrwng commented on #7910
Reading the comments on #7718, it doesn't look like that fix would fix the test cases above.

[2016-03-10 18:43] rhcarvalho commented on #7910
@csrwng the first case builds from `FROM openshift/origin-base`, I'm not sure if that used to work before the regression. I believe in that case you have circular builds, input and output being IST "origin-base:latest".

The second case is `FROM centos:7`, this has worked and is correct, input comes from IST "centos:7", output goes to IST "centos:latest".

Thanks for the pointers to those tests, I

[2016-03-10 18:44] rhcarvalho commented on #7718
Ensure these extended tests will be correct as well:

https://github.com/openshift/origin/blob/master/test/extended/builds/dockerfile.go#L37
https://github.com/openshift/origin/blob/master/test/extended/builds/dockerfile.go#L60

[2016-03-10 19:25] smarterclayton commented on #7901
@kargakis since this is a change to the CLI

[2016-03-10 19:35] spadgett opened #7932 "Long, unbroken words don't wrap in pod template"
![screen shot 2016-03-10 at 2 32 40 pm](https://cloud.githubusercontent.com/assets/1167259/13681822/2164b5ec-e6cd-11e5-9c2b-0c94232759d9.png)

/cc @jwforres @sg00dwin @rhamilto

[2016-03-10 19:54] derekwaynecarr commented on #6766
Loosen LimitRange validation @aveshagarwal

https://github.com/kubernetes/kubernetes/pull/22766

This is not targeted 1.2, but is just a small change to validation.

[2016-03-10 20:39] kargakis commented on #7832
Darn, didn't realize we now include info about the route being admitted by the router in its status. I guess the first thing to warn about is that: a route that hasn't been admitted yet.

[2016-03-10 20:43] kargakis commented on #7832
Hm, we already do that: https://github.com/openshift/origin/blob/d513e9739d778ff2ea576619c0ec8d1ad02c5361/pkg/route/graph/analysis/analysis.go#L175

So, looking at the status and not finding any condition at all would most probably mean that a router is not running.

[2016-03-10 20:52] fweimer commented on #7925
Does this mean the profile web server can now be accessed over a trust boundary?

Is there any form of authentication planned?

[2016-03-10 21:23] timothysc commented on #7845
So it's difficult to repro, and we don't have much log data from the condition, but we have some:

http://fpaste.org/336962/57644843/

During flapping we saw a lot of
```lost lease openshift.io/leases/controllers at 19671388: another client has revoked the lease openshift.io/leases/controllers```

[2016-03-10 22:25] gabemontero commented on #4255
Granted this is an old one, but I did not see this with a build I just tried.  Looking at the gist, I seems to leverage an incremental build.  In case that has some bearing, I'll see about finding/building such an example and try that as well.

[2016-03-10 22:37] bparees commented on #4255
it's definitely an old enough bug that i wouldn't be shocked if it's magically gone away.

make sure you're streaming the logs (ie `oc build-logs mybuild-1 --follow`) though.  (that's probably the command i was using back then, i should have included it in the report)

[2016-03-10 22:52] smarterclayton opened #7939 "S2I build where docker registry responds with a 400 does not print any output"
1.1.3 S2I image - registry was returning 400 error, and the output of the build log showed nothing.  Is this a flushing output failure?

[2016-03-11 00:23] #7887 closed

[2016-03-11 06:28] #7613 closed

[2016-03-11 07:24] karelstriegel commented on #2778
Use case : auto generation of routes, I allow users to define the prefix of their route, not the full address.
E.g : <user_defined>.apps.mycloud.com

It would be an improvement if I could make use of the project/namespace in the template design, to force something like <user_defined>.<project>.apps.mycloud.com

[2016-03-11 07:32] karelstriegel commented on #4609
+1

[2016-03-11 08:25] jimmidyson commented on #7873
Docker 1.10.3 released with a fix for this issue - docker/docker#20706

[2016-03-11 09:28] #7865 closed

[2016-03-11 09:39] mfojtik commented on #7939
@smarterclayton what BUILD_LOGLEVEL you have?

[2016-03-11 09:47] Yashu5 opened #7942 "deployment doesn't start automatically from deployment config"
## Version
oc v1.1.0.1
kubernetes v1.1.0-origin-1107-g4c8e6f4

I have created a deployment config taking reference from some example. Here whenever I create my app using this, it doesn't start  deployment automatically. Each time I need to click on "deploy"  button on console to deploy my app. Below is the deployment config definition I am using:

{
    "kind": "DeploymentConfig",
    "apiVersion"

[2016-03-11 11:27] kargakis commented on #7942
Note that a bunch of deployment related bugs have been fixed ever since 1.1.0.1. Not sure why you can't automatically start with a ConfigChange, we had a similar regression but it was much later (not between versions) and related to having both a ConfigChange and an ImageChange trigger (automatic set to false). I am able to run the initial deployment for your dc on latest master.
[code]
A couple o

[2016-03-11 11:39] Yashu5 commented on #7942
@kargakis : thanks for having look , may be I will try this in new version. :) deployment gets started fine for other apps except this one. Yes I had to modify dc to take test/spring-petclinic image. It pulls  image fine.

[2016-03-11 12:16] Yashu5 commented on #7942
Hi @kargakis thanks for having a look , may be I will try this in new version. Deployment gets started fine for other apps except this. Yes I had to modify dc to take test/spring-petclinic image. It pull image fine and deploys application fine but only after clicking on deploy button on console. Thanks again :)

[2016-03-11 12:16] #7942 closed

[2016-03-11 14:18] stevekuznetsov opened #7944 "Fix EdgeFunc Implementation for Graph"
Currently we have this definition:

[code]

In the context of using an `EdgeFunc` as we use a `NodeFunc`, _i.e._ using the boolean return value for filtering, we should strictly disallow graph mutation. The following methods would _surprise_ me if the `EdgeFunc` were mutating:

[code]

All of these furthermore call the `EdgeFunc` by taking an existing edge and passing through `edge.From()` and `ed

[2016-03-11 14:19] spadgett commented on #7932
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13704500/4ae56996-e76a-11e5-96c7-c1796d91093a.png)

[2016-03-11 14:27] rhamilto commented on #7932
Since I've already been tinkering with pod templates, I'll take this one.

[2016-03-11 14:55] bparees commented on #7939
the log showed literally nothing (no content at all), or nothing w/ respect to the push failure?

[2016-03-11 15:21] spadgett opened #7947 "Clicking pod donut for one pod should take you straight to that pod"
Right now it takes you to a pods table with one row.

[2016-03-11 15:24] spadgett commented on #7909
@rhamilto I think you already have a fix in #7937?

[2016-03-11 15:26] deads2k commented on #6766
If https://github.com/kubernetes/kubernetes/pull/22853 merges, then we'll need to pick it to get consistent client tool capability.

[2016-03-11 15:29] benjaminapetersen opened #7948 "Web console: Jolokia link display is broken"
Working on fixing this in my extensions PR, but here's a screenshot:

![screen shot 2016-03-11 at 10 26 44 am](https://cloud.githubusercontent.com/assets/280512/13706656/fc41fb92-e773-11e5-9cad-fc08838cc088.png)

- Im assuming the icon / text should align with items above.
- Is "Connect" clear enough?

@jwforres @sg00dwin

[2016-03-11 15:58] rhamilto commented on #7909
@spadgett, yep.  #7937 should fix this one.

[2016-03-11 16:06] benjaminapetersen commented on #7948
@gashcrumb I believe you are the guy to ping about this, can we swap to "Connect to JVM" or something a bit more descriptive?

[2016-03-11 16:10] gashcrumb commented on #7948
Yeah, for sure!  'Connect to JMX' would probably be the most accurate, but 'Connect to JVM' would work as well.  And +1 for it lining up for sure.

Actually, maybe 'Open Java Console' would be better?  It'd avoid any acronyms then :-)

[2016-03-11 16:12] jwforres commented on #7948
@ajacobs21e thoughts?

[2016-03-11 16:34] jayunit100 opened #7952 "Create [conformance] tags for extended.test"
**Requirement**

Validating a base level of functionality for an openshift cluster, in under 20 minutes.

**Problem**

Validating an openshift cluster, even if skipping Upstream tests, can take 100s of minutes, and possibly hang.

**Example**

The following test run from today hung after well over an hour (even after filtering out all upstream tests using synthetic skips).

[code]

**Solution**

M

[2016-03-11 16:35] smarterclayton commented on #7939
Showed node running then nothing at all.  Default log level for Openshift.

[2016-03-11 16:51] benjaminapetersen commented on #7948
Yeah, agree. Saying 'JVM' even sees weird, but 'Java Console' I think I'd feel confident clicking that and knowing what I'm getting into.

[2016-03-11 17:00] stefwalter commented on #7880
Opened the obvious pull request #7956 (thanks @minimar) but not attached to it. I'd be happy if it was replaced with a better fix, either before or after merging.

[2016-03-11 17:04] kargakis opened #7957 "oc status should warn about hpas on test deployments"
Test deployments are always scaled down to zero pods so there is no reason to autoscale them. @deads2k please assign.

Depends on https://github.com/openshift/origin/pull/7799

[2016-03-11 17:25] knobunc commented on #7444
https://bugzilla.redhat.com/show_bug.cgi?id=1316698 is the same issue

[2016-03-11 17:32] bparees commented on #7939
were you able to get anything out of docker logs for the container?

[2016-03-11 17:37] smarterclayton commented on #7880
Trying to peer into the crystal ball.

1. We won't be only supporting Docker images.
2. We want to support historical browsing of layered images (where
possible) but not all future images will be layered (i.e. image A has
parent image A', vs just being a whole cloth image)
3. We want to have detached signatures (API call X allows ui to assert
image is valid), but docker has it innately.  Suggestio

[2016-03-11 17:43] smarterclayton commented on #7939
[code]

[2016-03-11 17:44] smarterclayton commented on #7939
Corresponded to a 400 on the server.

[2016-03-11 18:09] stefwalter commented on #7880
Yup, makes sense.

Currently there's no way to list images for users that don't have global read access to the cluster. Would be ideal to be able to fetch images, layers, signatures in a list for a single project.

[2016-03-11 18:25] deads2k commented on #7957
What's a test deployment?  Something in the upstream deployments?

[2016-03-11 18:27] smarterclayton commented on #7880
GET /imagestreamimages doesn't work?

On Fri, Mar 11, 2016 at 1:09 PM, Stef Walter <notifications@github.com>
wrote:

[2016-03-11 18:32] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/22865 secrets in envvars don't obey SA limits

[2016-03-11 18:42] ncdc commented on #6766
https://github.com/kubernetes/kubernetes/pull/22802 ensures that spdystream goroutines are cleaned up when the exec/attach/portforward spdy connection is closed. Requires https://github.com/kubernetes/kubernetes/pull/22804 to function 100% properly.

[2016-03-11 19:12] spadgett opened #7963 "Affixed "Follow" link no flush with right edge of log in Firefox"
It jumps to the left a bit when you scroll from the top of the page. This is not a problem in Chrome.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13712713/2d78f84a-e793-11e5-8509-2732d3af0869.png)

/cc @jwforres @benjaminapetersen

[2016-03-11 19:26] dvohra commented on #7873
Thanks for fixing the issue.

[2016-03-11 19:44] jayunit100 commented on #7952
cc @timothysc

[2016-03-11 19:47] timothysc commented on #7952
Can't not state enough how much this is needed... Validating a large installation takes days atm b/c running the entire suite takes days.

/cc @jeremyeder

[2016-03-11 20:28] mrunalp commented on #7927
Created https://bugzilla.redhat.com/show_bug.cgi?id=1317059 to get help from systemd devs.

[2016-03-11 20:47] gabemontero commented on #4255
I've tried the streaming form of `oc start-build` and `oc build-logs` and well as trying `oc logs`, and tried a iteration with incremental=true with no luck at reproducing.

If you can reproduce, shoot me the relevant json/yaml and I'll start digging. Otherwise I think we should close this one.

[2016-03-11 21:08] benjaminapetersen commented on #7963
Neat.  browser specific styles for the win!!! :grimacing: (erm, firefox?)

[2016-03-11 21:26] bparees commented on #4255
good enough for me, thanks for checking into it.

[2016-03-11 21:26] #4255 closed

[2016-03-11 21:27] gabemontero commented on #4255
cool deal / np / yw

[2016-03-11 21:30] #3571 closed

[2016-03-11 21:33] spadgett opened #7968 "Browse pages switch to stacked definition lists too soon"
We should probably switch the the stacked lists only at narrower screen widths. There is a lot of whitespace to the right here.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13716011/63558dee-e7a6-11e5-95c9-25a576309a27.png)

/cc @jwforres @sg00dwin @rhamilto

[2016-03-12 01:33] #7718 closed

[2016-03-12 03:25] paralin opened #7970 "GitHub Organizations Delayed Update"
## Version
v1.1.3

## Description

Signing in with the GitHub auth provider with the membership to an organization private, as expected, results in an authentication error as the OpenShift system can't see the organization membership. However, I changed my membership visibility and tried again 5+ minutes later, and the organization list doesn't update.

This might be a GitHub API problem, but I su

[2016-03-12 03:28] liggitt commented on #7970
There is no organization caching on the openshift side. Has the organization allowed third party access?

"If the GitHub OAuth application configured in clientID is not owned by the organization, an organization owner must grant third-party access in order to use this option. This can be done during the first GitHub login by the organization admin, or from the GitHub organization settings."

[2016-03-12 03:31] paralin commented on #7970
Ah this is probably the case. I suspected it wasn't an OpenShift issue

[2016-03-12 03:34] liggitt commented on #7970
With sufficient verbosity (--loglevel=4 or higher, I think), the server will log information about the group membership retrieved during login, which might help debugging

[2016-03-12 03:43] paralin commented on #7970
It does log the organizations. I think it is the case that the public view permissions aren't set on GitHub's end.

Should be all good here. I would love it if there was a better error message than "Authentication error" but this is good for now.

[2016-03-12 03:43] #7970 closed

[2016-03-12 06:06] #7939 closed

[2016-03-12 07:28] paralin opened #7972 "Use internal DNS for internal communications."
Currently the OpenShift config creation setup generates files like `openshift-registry.kubeconfig` with absolute IP addresses such as `https://10.0.62.64:8443` for the cluster server field.

This might apply only to deploying on Kubernetes.

Would it not be better to generate something like `https://openshift.openshift-origin.svc.cluster.local:8443/` for this field? Seems more reliable.

[2016-03-12 07:28] paralin commented on #7972
@derekwaynecarr

[2016-03-12 07:36] #7657 closed

[2016-03-12 08:36] paralin opened #7973 "External kubernetes master connections failing with authentication failure"
## Version
oc v1.1.3

Server Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-beta.1", GitCommit:"77eff081f022242e5736b8c2e1ca2058ca61a733", GitTreeState:"clean"}

## Description

It seems that deployments under Kubernetes Stock don't seem to work properly. They are stuck in the "new" state with a 0 replica RC.

## How reproducible

1. Deploy to an existing cluster. I used my [deplo

[2016-03-12 08:39] paralin commented on #7973
@derekwaynecarr Probably this is related to running under Kubernetes

[2016-03-12 09:21] kargakis commented on #7957
Nope, a field in the spec recently added in DCs by @smarterclayton noting that we just want to test a deployment and once it finishes, scale down to zero. Since test dcs are always (except during a deployment) scaled down to zero, does it make sense to have autoscalers set up on them? HPAs currently work based on getting cpu utilization from the pods, but if there are no pods then does it make sen

[2016-03-12 09:36] kargakis commented on #7880
Nope

[2016-03-12 10:12] cw-aleks opened #7974 "Add 'log ${LOGSERVER}:${LOGPORT}' to haproxy-config.template"
## Version
any

## Description

HAProxy does not provides to write logs to stout you must add a log line to the config with a logserver or fifo.

This will not be changed in the near future.

http://thread.gmane.org/gmane.comp.web.haproxy/26708

The log line is documented in haproxy doc.

http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#log%20%28Process%20management%20and%20security%29

[2016-03-12 13:37] liggitt commented on #7972
The two credentials generated for use inside pods (registry and router) are actually being replaced with service account credentials, so those files will go away after a deprecation period

[2016-03-12 15:33] smarterclayton commented on #7957
Deployments can run for a very long time.  HPA supports equally, it
doesn't deserve a warning.

[2016-03-12 15:36] smarterclayton commented on #7729
This is a bug in new-app - if we have a tag specified on image name we are being specific and should *not* be searching for partial matches on repository name.

[2016-03-12 15:38] smarterclayton commented on #6435
This is happening on anything using patch, which means it affects a good slice of our commands.  This is P0 because it can result in non-deterministic behavior of admin scripting or tools in production.

[2016-03-12 15:44] smarterclayton commented on #7880
I suppose we can fix that with a list that includes manifests as well
(or side by side).  We can also support field select if necessary on
image stream for Jessica's "get all images on this image stream" need.

[2016-03-12 15:57] #7607 closed

[2016-03-12 17:24] #7932 closed

[2016-03-12 19:48] #7909 closed

[2016-03-12 21:51] paralin commented on #7972
@liggitt Nice, that seems better. However, is the internal communication still absolute IP based?

[2016-03-12 22:05] liggitt commented on #7972
it uses the service IP today, which is guaranteed reachable from inside the pod, but it will likely switch to dns names eventually

[2016-03-12 22:07] paralin commented on #7972
Is it still env variable driven? I'd like to make a deploy under Kube use kube best practices as much as possible (dns)

[2016-03-12 22:13] kargakis commented on #7957
Even if deployments can run for a very long time (got to be a huge one), we still can't scale them either manually or automatically due to the nature of the deployer (set desired count).

[2016-03-12 22:20] smarterclayton commented on #7957
Which is really just a limitation of the current deployer, not a
fundamental obstacle to the right solution.

On Sat, Mar 12, 2016 at 5:13 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-03-13 07:17] rhuss opened #7976 "spec.source.type == "Binary" not used for creating default"
## Version

1.1.3

## Description

When using binary source validation fails when only a `type: "Binary"` is given but no `binary: {}`. This behaviour is different for the build strategy where a `type: "Docker"` is sufficient without providing a `dockerStrategy:`

This behaviour is inconsistent and either providing only the `type` is allowed, too for both parts of forbidden for both (but not allow

[2016-03-13 11:09] geoHeil opened #7977 "docker issue"
## Version

[code]
## Description

I try to execute:

[code]

to run open shift origin in a docker container.

The signal to start the container is sent to the docker daemon. However the container is not started as can be verified in syslog:

[code]
## Steps To Reproduce
1. Execute the docker run command
2. Check syslog
## Current Result

The container is not started.
## Expected Result

The conta

[2016-03-13 13:08] ibotty opened #7978 "Mounting glusterfs with containerized openshift on docker 1.8 does not work"
## Version
oc v1.1.3-1-gc11b335-dirty
kubernetes v1.2.0-origin
(dirty because of some additional files)

## Description

Mounting glusterfs either directly via volumes or indirectly via persistent volume claims fails with (when directly using a volume):

    Error syncing pod, skipping: can't use volume plugins for registry-storage: no volume plugin matched

or (in case of pvc/pv):

    Error sync

[2016-03-13 14:09] kargakis commented on #7957
Agreed but until the deployer is fixed (plus implement proportional scaling which makes more sense than always scaling the latest during deployments), having an autoscaler on a test DC is essentially useless now. We can have the warning and remove it once we fix everything else.

[2016-03-13 14:53] livelace commented on #7549
I join to previous orator, when all be fine ? :)

[2016-03-13 14:55] smarterclayton commented on #7957
It's such a vanishingly small percentage of users affected I don't
think it's worth it.  Also, it's not a warning - it's a "this may not
actually work like you expect".  We don't warn for bugs.

Let's focus on fixing actual warnings in status first - there's only
so much space to show warnings.

[2016-03-13 20:07] mfojtik commented on #7977
@geoHeil there is related issue opened for docker: https://github.com/docker/docker/issues/12701#issuecomment-96907107

it appears to have something to do with iptables. can you please check the docker logs and look for the iptables command?

[2016-03-13 20:11] xionglingfeng opened #7979 "containers with status=exited are not cleanned"
## Version
[root@master origin]# oc version
oc v1.1.3-553-g19dbf2a
kubernetes v1.2.0-alpha.7-703-gbc4550d

## Description
on compute node, exited containers are expected to be deleted to reduce space waste. But OpenShift did not do the cleaning automatically.

## Steps To Reproduce

1. In Browser -> Builds, choose one build configuration
2. Click on Start build, or rebuild
3. Run `docker ps -af st

[2016-03-13 20:20] mfojtik commented on #7979
@xionglingfeng have you tried to run `oadm prune builds` ? I dunno if OpenShift prune exited containers automatically. @kargakis do you know?

[2016-03-13 21:09] geoHeil commented on #7977
Unfortunately `docker.logs` are empty. I could only find the error above in syslog. A `iptables -N DOCKER` results in:
`iptables: Chain already exists.`

[2016-03-14 00:21] xionglingfeng commented on #7979
@mfojtik No it doesn't. It only deleted old builds, but not containers. I think it is a fundamental function to clean used containers automatically for production environment, because the compute node do have infinite disk space :-)
Also, old build images are stored in docker registry and not cleaned. This may be reasonable because it is a good feature to save old builds for rollback, but I also t

[2016-03-14 04:15] xionglingfeng opened #7982 "Cannot fetch from a self-signed HTTPS git repository"
## Version
oc v1.1.3-553-g19dbf2a
kubernetes v1.2.0-alpha.7-703-gbc4550d

## Description
it is impossible to create a service (e.g. PHP 5.6) with a HTTPS-based self-signed git repository.

## Steps To Reproduce
1. Create a service, such as PHP 5.6
2. Use a HTTPS with self-signed certificate as git source

## Current Result
Build failed with

    F0314 04:14:47.738178 1 builder.go:204] Error: build

[2016-03-14 07:36] jfcoz opened #7983 "Ceph : Unable to mount volumes for pod ... : rbd: image ext4-0002 is locked by other nodes"
## Version

oc v1.1.3
kubernetes v1.2.0-origin
## Description

All pods using a ceph persistent storage are in state :
Unable to mount volumes for pod ... : rbd: image ext4-0002 is locked by other nodes
## Steps To Reproduce
1. All pods were running correctly on all nodes
2. A node crash during the week-end (don't know why wet)
## Current Result

All pods using ceph persistent volumes are in this

[2016-03-14 10:24] kargakis commented on #7979
`oadm prune` is for OpenShift resources. For cleaning up dead containers you most probably need image gc enabled in the kubelet: https://docs.openshift.org/latest/admin_guide/garbage_collection.html

[2016-03-14 10:44] #7957 closed

[2016-03-14 11:21] miminar opened #7985 "Cannot import an image from internal registry if source and destination projects differ"
## Version

    openshift v1.1.3-600-g8c064d9-dirty
    kubernetes v1.2.0-origin-41-g91d3e75
    etcd 2.2.5

## Description
Cannot import image from internal registry due to:

    Reason:"Unauthorized", Message:"you may not have access to the Docker image \"172.30.163.69:5000/extended-test-imagequota-admission-6znr2-shared/src@sha256:bb08da7a0b99af72aebe0ead77009d28771a30dbe4d99f49bf3d29407c72e48f

[2016-03-14 11:22] miminar commented on #7985
/cc @soltysh

[2016-03-14 11:48] jim-minter commented on #7335
@kargakis fyi the customer response was that they thought it looked good too.

[2016-03-14 11:55] kargakis commented on #7335
@jim-minter that's cool! Please close this issue, if there isn't anything else here to be done.

[2016-03-14 12:03] #7335 closed

[2016-03-14 12:40] bparees commented on #7729
hm. I don't think i agree.  Obviously if there's an exact match, it's moot, we'll use the exact match, but if there's not, why wouldn't we be trying to help the user find matches in case of a typo?

@csrwng i think this has bearing on the behavior we just settled on for imagestreams.

[2016-03-14 12:55] aweiteka opened #7987 "Proposed: registry-cluster-admin role"
With the registry-admin and registry-viewer roles I think we also need a "registry cluster admin" role to expose an appropriate set of permission to manage a registry at the cluster level. Otherwise they're left with cluster-admin which exposes a lot of unnecessary resources, or a custom role which is difficult to create.

cc @deads2k

[2016-03-14 12:55] spadgett commented on #7968
We can set `@dl-horizontal-breakpoint` in variables.less, but it looks like it requires Bootstrap 3.3.6. I believe we're on 3.3.5.

[2016-03-14 13:01] deads2k commented on #7987
What would you like the `registry-cluster-admin` to do?  It's true that a `cluster-admin` has a lot of power, but it seems like you'd want about the same power for your `registry-cluster-admin` right?

[2016-03-14 13:27] soltysh commented on #7615
@Tebro can we close this issue with this information?

[2016-03-14 13:31] aweiteka commented on #7987
Clearly the registry admin needs to do a lot of cluster-level management: the registry (pods, including the nodes it runs on), users, policies, images, etc.

What they *don't* need to do:

- builds
- SDN(?)
- deployments and management of resources that aren't in the project that the registry users ("default").

Would it be better to do some work with project scoping? For example, limit certain ac

[2016-03-14 13:35] Tebro commented on #7615
@soltysh yes, go ahead. We have to go back to the drawing table.

[2016-03-14 13:35] #7615 closed

[2016-03-14 13:59] stevekuznetsov opened #7990 "Separate Compile and Run Steps for Test-Go"
Piping all of our test output through the jUnit tool into XML has uncovered a case that jUnit was not meant to handle: compilation errors.

jUnit XML schema does not have a way to show that a test or suite failed to compile. jUnit XML schema doesn't even have a way to show that a suite failed - only tests can have a failure field. Creating a synthetic test for compilation and marking it as failed

[2016-03-14 14:03] spadgett opened #7991 "No padding above quota table if no CPU or memory quota"
When there are no quota donuts, there's no padding above the table.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13746892/f5dc7336-e9cb-11e5-8779-42d5bc616977.png)

[2016-03-14 14:13] smarterclayton commented on #7729
Ok, maybe I'm most concerned with the number of suggestions shown then, rather than them being there at all.  By the time I get to the end of the list it looks like a bug.  At some point, we should probably be showing a max N (or reasonable max N) and then telling the user to use -S to see the full list.  The levenshtein distance I would expect to be a component of match score.  As a user, I'm pre

[2016-03-14 14:27] sdodson commented on #7694
@danmcp I believe this is a blocker if we want 'Global Proxy' as a 1.2/3.2 feature.

[2016-03-14 14:31] stevekuznetsov commented on #7990
One downside of this is that `go test -c` can only be called for one package, so we'd need to handle `./...` expansion ourselves again.

[2016-03-14 14:37] kargakis commented on #7973
Seems to be a problem with some Origin controllers not starting. Just by looking at what you ve got here I am guessing at least the deployment controller never started (deployment stuck in New phase with no deployer in the output of `kubectl get all`). cc: @ironcladlou @ncdc

[2016-03-14 15:00] paralin commented on #7973
Yeah that seems correct. I've re-deployed several times and it just doesn't seem to happen.

[2016-03-14 15:06] paralin commented on #7973
Builds aren't starting either :(

[2016-03-14 15:14] paralin commented on #7973
@kargakis Anything I can do to debug this? It's a huge blocker on our end, I'm working on moving our entire app and backend to OpenShift/Kube but I can't start any deployments / builds

[2016-03-14 15:18] paralin commented on #7841
@enlinxu See http://github.com/paralin/openshift-under-kubernetes

You can just deploy it on top of kube

[2016-03-14 15:21] kargakis commented on #7973
@ncdc or @derekwaynecarr can you please help

[2016-03-14 15:22] paralin commented on #7973
I'd also be happy to provide credentials to the cluster of you would like to debug the situation. It's just a development environment.

[2016-03-14 15:31] smarterclayton commented on #7990
If you're testing normally, go test is probably just as good as hack/test-go.sh.  If you want junit, doing something special to catch compilation is fine.  We already have to run individual packages for coverage, so junit running individual compiles is probably ok.

[2016-03-14 15:31] smarterclayton commented on #7990
Problem is, it's going to be really really slow.

[2016-03-14 15:32] paralin commented on #7973
I don't think this is an authentication or permissions issue as OpenShift is able to create namespaces, scale replication controllers, and "edit yaml" just fine.

[2016-03-14 15:33] ncdc commented on #7973
@paralin we probably won't have time to dig into this until later (we're working on getting a release out the door)

[2016-03-14 15:34] paralin commented on #7973
This could be something:

[code]

[2016-03-14 15:35] paralin commented on #7973
However, `oc get serviceaccounts --namespace=test` yields:

[code]

[2016-03-14 15:37] paralin commented on #7973
I got rid of the handshake errors by changing my AWS Elastic Load Balancer to not use a TCP health check. The build pod issue still stands.

@ncdc I'm going to keep poking around and see if I can figure out what's wrong. I have to fix this to proceed with anything so hopefully I can find the problem :)

[2016-03-14 15:39] paralin commented on #7973
@ncdc Could this be it?

[code]

[2016-03-14 16:00] ncdc commented on #7973
@paralin yes if you want service account tokens, you have to provide a key

[2016-03-14 16:34] kargakis opened #7996 "dc describer highlights the latest deployment"
It should highlight the active, right?
[code]
@fabianofranz @smarterclayton @ironcladlou

[2016-03-14 16:43] stevekuznetsov commented on #7990
Why would it be slower than the normal route? I was under the impression that `go test` does the same two steps?

[2016-03-14 16:54] mrunalp commented on #7616
@lsm5 https://bugzilla.redhat.com/show_bug.cgi?id=1317616

[2016-03-14 16:54] stevekuznetsov opened #7997 "Create Extended Tests for `manage-node`"
Currently, the following tests are commented out in `test-cmd`:

[code]

They should me moved to an extended bucket so they can function.

/cc @smarterclayton

[2016-03-14 16:57] jwforres opened #7998 "web console api discovery proposal"
This is an early proposal for doing API discovery in the web console.  The goal is to move away from a dynamically generated config.js

1. Get k8s api versions - request /api
  1. Pre-fetch preferred console version (v1) - request /api/v1 - if this version doesn't exist, fallback to fetching the server's preferred version?
  2. Other versions:
    1. Will be fetched on demand, e.g. creating things

[2016-03-14 16:58] jwforres commented on #7998
cc @liggitt @deads2k @spadgett   poke holes in this

[2016-03-14 17:22] deads2k commented on #7998
Why do you care about these until you need to use them?  It seems like there could be several API groups you don't care about ever.  For instance, if you don't deal with `batch`, why retrieve `batch/v1`?

[2016-03-14 17:25] deads2k commented on #7998
These sort-of work, but if we start exposing the ability to enable/disable specific resources (the feature already exists upstream), then this won't work well.  For instance, what if they decide to expose `jobs.v1.batch` at a later time.  How bad is it to simply refresh the cache very X minutes or in background every re-login or something?

[2016-03-14 17:26] jwforres commented on #7998
The alternative is "maintain a list of groups I care about" in the console

On Mon, Mar 14, 2016 at 1:22 PM, David Eads <notifications@github.com>
wrote:

[2016-03-14 17:27] deads2k commented on #7998
That seems pretty reasonable for the `GET` cases where you're deciding what information to display.  That way you'd know whether you were going to show `jobs.batch` or whatever new thing we make next release.

[2016-03-14 17:29] paralin commented on #7973
@ncdc But would this cause the builds to not start?

[2016-03-14 17:30] paralin commented on #7973
Also if this is the case, do you know of any way to get that key from the Kubernetes API without actually doing any SSHs into the server?

Currently I get the service account public key by running a pod in the cluster, I'd really like to avoid ssh at all because it's provider specific.

[2016-03-14 17:30] jwforres commented on #7998
Login won't work, expect some environments to have very long access token
life.  Every X minutes seems like needless churn against the server.  I
thought I put another option in there somewhere in the notes that said the
alternative is to always refresh it in the background on a page load
(navigating around the UI does not cause page load).

On Mon, Mar 14, 2016 at 1:25 PM, David Eads <notificatio

[2016-03-14 17:31] liggitt commented on #7973
running on external kube, all you need is the public service account key.

[2016-03-14 17:32] deads2k commented on #7998
You had on a section that specifically dealt with creating resources.  Since you also have read-only cases for deciding whether to show categories on the left, that's insufficient for a "late enablement" case.

[2016-03-14 17:39] smarterclayton opened #8000 "Tracking Issue: Initial flow through Origin"
Install path:
1. ansible cluster-up
   1. requires ansible, requires inventory config, requires default parameterization or cloud account
   2. can we get to the Kube equivalent cluster/up.sh?  yes
2. openshift start (self-contained cluster) #7675
   1. needs to set up registry / router / templates
   2. designed to show ease of use flow
   3. not multi-node
   4. still requires something to work

[2016-03-14 17:43] jwforres commented on #7998
On Mon, Mar 14, 2016 at 1:33 PM, David Eads <notifications@github.com>
wrote:

I don't think we have this problem today.  We don't "decide" whether to
show things on the left.

Now down the road, maybe, if say we wanted to allow to you point a given
console client against multiple servers

cc @smarterclayton

[2016-03-14 17:52] paralin commented on #7973
@liggitt Alright, this should work then. Is there anything else I could examine to see why the build / deploy pods are not being created?

[2016-03-14 18:02] gabemontero commented on #3563
@bparees - hoping to scope the inventory of this change to the following json files under origin's example directory which define templates:

./sample-app/application-template-custombuild.json:  "kind": "Template",
./sample-app/application-template-pullspecbuild.json:  "kind": "Template",
./sample-app/application-template-dockerbuild.json:  "kind": "Template",
./sample-app/application-template-sti

[2016-03-14 18:20] php-coder opened #8002 "Extended tests: consider running with --latest-images"
To simplify debugging/developing extended tests I suggest to add ability to run OpenShift with `--latest-images` option. Possible ways could be the following:

[code]
or
[code]

##### Version
openshift v1.1.3-649-ga81b41f

##### Steps To Reproduce
`./test/extended/core.sh`

##### Current Result
OpenShift is running without `--latest-images` option.

##### Expected Result
OpenShift is running with

[2016-03-14 18:28] paralin commented on #7973
Full logs, running on v1.1.4, will be re-spinning a fresh cluster in a few minutes with the new version as well.

[code]

[2016-03-14 18:52] bparees commented on #3563
@gabemontero i'd scope it even further:
db-templates
jenkins
jenkins-master
quickstarts (which need to be updated in their upstream repos and then vendored to origin, of course)

we don't need to do this for all our toy examples, just the real first class ones we point users to.

[2016-03-14 18:53] gabemontero commented on #3563
cool deal

On Mon, Mar 14, 2016 at 2:52 PM, Ben Parees <notifications@github.com>
wrote:

[2016-03-14 18:58] #7786 closed

[2016-03-14 19:09] paralin commented on #7973
Totally clean cluster running on 1.1.4 under Kubernetes 1.2.0-beta.1 still having this problem.

Is the issue that I'm running 1.2.0-beta.1?

[2016-03-14 19:23] bparees commented on #7982
You need to supply a .gitconfig secret which configures git to allow self-signed certs, please see this documentation:
https://docs.openshift.org/latest/dev_guide/builds.html#other-authentication

[2016-03-14 19:31] ramr commented on #7611
@wenskys  what does running `oc describe pod <router-pod-name>` (you can get the router pod name from `oc get pods`) say? That might provide more clues.

[2016-03-14 19:55] ajacobs21e commented on #3901
I included a few ideas for handling this in wireframes posted to that trello card

[2016-03-14 20:00] stevekuznetsov opened #8004 "Refactor `test-cmd` to use JSONPath`"
every time we do an `oc get` or `oc describe` and `grep` through it for something we should use JSONPath instead

@deads2k I hear you're volunteering to help do this? :)

[2016-03-14 20:07] bparees commented on #7976
@rhuss i'd be happy to take a PR on this that implements the same flow as is currently used for the docker strategy. (ie creates an empty binarybuildsource when the type is Binary).

[2016-03-14 20:15] markpaychex opened #8005 "Failed to pull external docker image - Error image not found / endpoint does not support v2 API"
Hello,

I am attempting to pull an image from an artifactory instance through a reverse proxy setup. Artifactory (v4.5.1) has the docker plugin setup. I have tried many things, two of which are blow. Note this appears to be similar to https://github.com/openshift/origin/issues/6222 but the solution given there will not work (see below). The problem persists even if anonymous access is enabled on t

[2016-03-14 20:38] gabemontero commented on #3563
I think for the templates in jenkins-master, all the ImageStream refs are for ImageStreams created in those templates ... don't think we want to parameterize the namespaces there ... same for the application template in the jenkins dir

[2016-03-14 20:41] gabemontero commented on #3563
well ... maybe one in the jenkins-slave .... a sample form I've not seen much:

`    {
      "kind": "ImageStream",
      "apiVersion": "v1",
      "metadata": {
        "name": "${IMAGE_STREAM_NAME}"
      },
      "spec": {
        "dockerImageRepository": "openshift/${IMAGE_STREAM_NAME}"
      }
    },
`

[2016-03-14 20:43] bparees commented on #3563
true.

basically it's only the places where we've hardcoded "openshift" today that we need to parameterize.

[2016-03-14 20:45] ncdc commented on #6766
https://github.com/google/cadvisor/pull/1158 to reduce high cpu load from collecting network stats

[2016-03-14 20:58] rhuss commented on #7976
@bparees thanks, I added it to the `v1` package's conversion as a [defaulting function](https://github.com/rhuss/origin/blob/d1980ec716d58d4b147167acd31369c5d384163d/pkg/build/api/v1/conversion.go#L215-L222) and will add a test, too.

However, it seems that for the current `api` there's no `Type` [anymore](https://github.com/rhuss/origin/blob/26e798bea2f765fcb48ae351321b7ae38a329201/pkg/build/api/

[2016-03-14 21:01] bparees commented on #7976
the v1 api is the external api, the "api" package is the internal api.  We removed "Type" from the internal objects, but not from the external api, so it should not be removed from the docs.

v1 is the latest external api (there is also v1beta3 which is the older one)

So the idea is that when converting from the external api to the internal api, we look at the Type, and construct the appropriate

[2016-03-14 21:05] rhuss commented on #7976
Got it, thanks for the clarification !

[2016-03-14 21:15] ramr commented on #7273
@smarterclayton  can you please close this one out - is a dup of #7657 and was closed with -https://github.com/openshift/origin/pull/7805

[2016-03-14 21:17] smarterclayton commented on #7990
It would be slower because you can't pass multiple packages at the same
time, so it can't necessarily build multiple packages from the same half
loaded data - instead, it has to reload all of them each time the process
is run.  So you pay the cost to bring most packages into memory each time.

On Mon, Mar 14, 2016 at 12:43 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-03-14 21:17] legionus commented on #7792
@miminar It seems to regression. Take a look at the screencast:

https://gist.github.com/legionus/47b5ff3435a5daa16bb9

[2016-03-14 21:18] #7273 closed

[2016-03-14 21:24] jimmidyson commented on #2734
I've seen this has been done for 1.1.4 - thanks!

[2016-03-14 21:24] #2734 closed

[2016-03-14 21:50] ajacobs21e commented on #7948
@jwforres Whatever text is most accurate is best - either open java console or connect to java console. And yes to aligning it with the other icons.

[2016-03-14 23:51] marun commented on #7403
@ramr Is there a reason to accept bad key/cert data in the first place?  That seems like something that would best be caught on object creation/update.  Assuming routes/router objects that were sufficiently validated, how likely is it that configuration generation is going to produce a syntactically correct result but subsequently fail to do so?

[2016-03-15 00:30] ramr commented on #7403
@marun it is true that we can and should do a better job validating the routes (certs + keys) but there could be scenarios beyond the initial validation where it could fail. Example key and certificate combination is not valid (both could be valid independently) or dest CA cert has no provided keys etc. And some errors might be only occur at run-time (when the pod returns content) - certificate no

[2016-03-15 00:51] marun commented on #7403
@ramr I understand that field-level validation (i.e. certs and keys in isolation) wouldn't be enough, but what would object-level validation (i.e. all fields of a route) not be able to catch?

Regarding runtime cert issues in a 'reencrypt' configuration, what kind of resiliency would be possible?  Even with a previous configuration that was known to be 'good', reverting might not fix the problem i

[2016-03-15 00:55] #4718 closed

[2016-03-15 00:58] liggitt commented on #7403
it's the multi-tenant nature of the router that is the issue. if a bad cert/config for a particular route made if through other validation layers, the router shouldn't take down other routes because of a bad generated config

[2016-03-15 01:03] marun commented on #7762
@david-strejc I would like to try to reproduce the problem you are experiencing, but require more detail.  Including configuration where applicable, please provide:

- the steps taken to create the router
- the steps taken to create the service
- relevant output of iptables on the node(s) involved
- the steps taken to verify connectivity

[2016-03-15 01:07] marun commented on #7403
@liggitt So long as the configuration generation mechanism is well-tested, and the data is validated before generation is attempted, how would bad configuration result?

[2016-03-15 01:11] marun commented on #7403
Apologies if this is an obvious question.  I'm still learning about routes/routers and don't understand how bad cert/config could slip through creation/update validation.

[2016-03-15 01:13] liggitt commented on #7403
unless we can prove we know all the conditions that could cause a config to fail (doubtful), we should make sure we handle the failure case gracefully

[2016-03-15 01:15] marun commented on #7409
I'm going to tackle this.

[2016-03-15 01:25] marun commented on #7403
Fair enough.  So failing gracefully involves reverting to known-good configuration and potentially blocking further router updates until the bad routes are fixed or removed manually?  If bad routes can't be caught on creation/update I'm not clear how they could be otherwise detected after the fact, and configuration updates being coalesced would seem to further complicate detection of the offendin

[2016-03-15 02:14] dotam opened #8010 "Failed to push image"
##### Version Origin v1.1.3

##### Steps To Reproduce
Step 1: Install openshift two node: 1master + 1 node -> Success
Step 2: Install registry -> Success

Step 3: Deploy nodejs-example app -> Fail with error log:

[code]
------end------------
![osv3-error](https://cloud.githubusercontent.com/assets/1217151/13765692/456368b6-ea8e-11e5-80b8-2f348bb4c1f7.png)

[2016-03-15 02:20] marun commented on #6557
#8011 ensures a single test binary (extended.test) that includes both origin extended and kube e2e tests.

[2016-03-15 02:22] wenskys commented on #7611
@ramr nothing,the pod can't be up,and the rc is always 0 when i use "oc scale --replicas=1 replicationcontrollers router-1"
may be i can try again for the new release.

[2016-03-15 05:03] wenskys commented on #7611
@ramr The new version was successful,and the route is runing.may have been repaired in new.
At the new test ,i find a bug for "ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml" when install origin*,i will try again.
if it is a bug,i will report for you.
thanks.

[2016-03-15 07:54] lorenzvth7 opened #8012 "oc new-app fails on image in OpenShift Registry"
I push an image into my openshift registry (once by defining the service IP, once by defining the hostname). When I perform `oc new-app` on the image which starts with the service IP it's working fine. But when I try the same for the image with the hostname it fails

##### Version
oc v1.1.3
kubernetes v1.2.0-origin

##### Steps To Reproduce
tag image
[code]

authenticate in OpenShift
`oc login -u

[2016-03-15 09:15] soltysh commented on #7996
:+1: maybe active could be the first on the list and then old deployments section with less details - maybe one-liners or alike.

[2016-03-15 09:18] liggitt commented on #6766
https://github.com/kubernetes/kubernetes/pull/22847 for API change

[2016-03-15 09:22] #8012 closed

[2016-03-15 10:05] soltysh commented on #8005
From your description and errors messages I see the biggest problem is authorization. First of all I'd suggest upgrading to v3.2 as soon as one will be available (unless you're using origin then looking into latest available release is fine). The reason for that is we've did major changes in how images are imported, especially we've introduces the possibility to import images from secured private

[2016-03-15 10:09] soltysh commented on #8010
Can you show me the logs from the docker pod? Apparently there's some problem on the docker side that might help to solve your build problem. Also, does it happen with every build?

[2016-03-15 10:25] miminar commented on #7792
@legionus Commented on the gist. It's necessary to remove all the references to the image you're about to pull from the ist.

[2016-03-15 10:25] dotam commented on #8010
I'm build two sample app and fail all.
and logs here (

):
[code]

[2016-03-15 10:28] vbehar opened #8014 "Show all templates a user can list (in the web UI)"
this is the second issue from #3563 : in the Web UI, when a user wants to create a new application, he should see all the templates from all the projects he has access to - instead of just the templates from the shared `openshift` project and the current project.

Our use case is to allow people to share templates between them, without the need to give them write access to the shared `openshift` p

[2016-03-15 10:29] dotam commented on #8010
`Name:		docker-registry-1-ih00a
Namespace:	default
Image(s):	openshift/origin-docker-registry:v1.1.3
Node:		osv3-node2.example.com/192.168.33.102
Start Time:	Tue, 15 Mar 2016 03:39:59 +0100
Labels:		deployment=docker-registry-1,deploymentconfig=docker-registry,docker-registry=default
Status:		Running
Reason:
Message:
IP:		10.1.0.2
Controllers:	ReplicationController/docker-registry-1
Containers:

[2016-03-15 12:07] geoHeil commented on #7977
Confirmed this issue on a fresh Ubuntu 14:04

[2016-03-15 12:20] kargakis commented on #7996
I am ok with the order of the deployments. I believe it would be more intuitive to just highlight the active deployment wherever that may be. One-liners for the rest of the deployments sounds good to me.

[2016-03-15 12:24] markpaychex commented on #8005
Thank you for your quick response. Unfortunately upgrading to 3.2 is not an option right now but it is on the list. As for setting up secrets I'm not sure how it will help in this situation. In this POC environment authentication has been disabled to try to get the basics working. I am able to hit a REST URL in my browser without auth and download files without issue. The "this may be because ther

[2016-03-15 12:31] pweil- commented on #7403
also, last time I checked, golang didn't provide the ability to validate all the different kinds of cert formats that a router could support.  We would have to enforce particular formats on the api side which is too restrictive.  Much better to require the routers handle failures gracefully and update route status with rejection reasons.

[2016-03-15 12:35] liggitt commented on #8014
There's too much fan out to fetch from all projects (it's one API request per project). It might be good to have a way to specify a particular one.

[2016-03-15 12:53] stevekuznetsov commented on #7997
Not sure I should own this one, no domain knowledge. @smarterclayton who
owned this originally?
On Mar 15, 2016 8:51 AM, "Dan McPherson" <notifications@github.com> wrote:

[2016-03-15 12:55] stevekuznetsov commented on #8002
@bparees was saying stale images could cause lots of weirdness - should this be the default setting?

[2016-03-15 13:38] bparees commented on #8002
@stevekuznetsov ironically, --latest-images is *more* likely to result in you running w/ stale images.

--latest-images says "just use whatever i have locally" whereas w/o that, openshift will attempt to pull an image that matches the commit level of your binary.

so it's quite easy to end up w/ a local image that's actually older than the commit level of your binary, and in that case, --latest-im

[2016-03-15 13:39] stevekuznetsov commented on #8002
Ah, that's definitely a counter-intuitive name, but perhaps its too late to change it.

@php-coder what are the use-cases for this setting, taking @bparees feedback into account? Running regression or compatibility tests?

[2016-03-15 13:40] stevekuznetsov commented on #6852
@smarterclayton @kargakis have you seen this lately?

[2016-03-15 13:41] stevekuznetsov commented on #6549
@jawnsy since you've been doing some work on the in-repo doc recently, FYI

[2016-03-15 13:42] liggitt commented on #8002
It runs using the images tagged "latest" without doing a force pull. The counterintuition runs deep into docker with that.

[2016-03-15 13:47] kargakis commented on #6852
nope

[2016-03-15 13:50] jwforres commented on #8014
cc @spadgett @jhadvig

[2016-03-15 13:52] smarterclayton commented on #6852
It was probably squirreliness upstream.

On Tue, Mar 15, 2016 at 9:47 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-03-15 13:58] smarterclayton commented on #8000
This is P0 but it doesn't block the release.

[2016-03-15 14:10] stevekuznetsov commented on #6852
@smarterclayton should we close this issue, then?

[2016-03-15 14:24] smarterclayton commented on #7996
We should be following the logic of status as much as possible.

On Tue, Mar 15, 2016 at 8:20 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-03-15 14:24] timothysc commented on #6557
@jayunit100 you can close this one out now.  It appears it's rolled and now in the rpms.

[2016-03-15 14:27] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/21373 would help integration with manageiq and is contained.  I'd like to pick it even though kube 1.2 will not have it.  Testing has been discussed.

[2016-03-15 14:27] smarterclayton commented on #7927
@rhatdan @mrunalp I think at this point this is a 3.2 blocker - are we getting the appropriate attention from the other side?

[2016-03-15 14:32] jhadvig commented on #8014
I can imagine there to be a selectbox with all the available users projects, from which he can pick and only those template will be listed. On the other hand dont know how it will fit into our current design of the 'create' page

[2016-03-15 14:41] eparis commented on #6766
^^^^^^^^^^^^^^^^^^^^^ everything above this point it not in the checklist ^^^^^^^^^^^^^^^^^^^^^^^^^

[2016-03-15 14:48] kargakis commented on #6766
oc edit fix: https://github.com/kubernetes/kubernetes/pull/22634. related issue: https://github.com/openshift/origin/issues/7811

[2016-03-15 15:06] php-coder commented on #8002
Use case: I'm writing test for MongoDB and I found a bug. I'm fixing MongoDB image and I need to run test again and prove that I really fixed this bug.

[2016-03-15 15:08] stevekuznetsov commented on #8002
I see. Flag coming your way. It won't apply to `test-cmd` at the moment as that test does not use the same startup framework.

[2016-03-15 15:20] bparees commented on #8002
--latest-images has no impact on which mongodb image you use, it only affects infrastructure images.

[2016-03-15 15:23] php-coder commented on #8002
Ah, yes... But anyway it could be useful for testing builder images, right?

[2016-03-15 15:34] bparees commented on #8002
yes

[2016-03-15 15:44] legionus commented on #7792
@miminar I've tested origin (v1.1.4-12-g77757b8) with docker (9d26a07/1.6.0, e949a81/1.10.3). Both are unable to pull from istag referencing image.

[2016-03-15 15:57] knobunc commented on #7444
The PR to fix this has been merged:
  https://github.com/openshift/origin/pull/8003

[2016-03-15 15:57] #7444 closed

[2016-03-15 16:03] #7096 closed

[2016-03-15 16:05] kargakis opened #8022 "oc status should handle multiple bcs pointing to the same tag"
Assumes there is only one bc per tag currently. @deads2k @stevekuznetsov @bparees @gabemontero

[2016-03-15 16:29] screeley44 commented on #7902
Created an issue upstream:  https://github.com/kubernetes/kubernetes/issues/22992

[2016-03-15 16:32] jayunit100 commented on #6557
yup, thanks to everyone for the feedback on this goal ; closing -

[2016-03-15 16:32] #6557 closed

[2016-03-15 16:34] smarterclayton opened #8023 "Misplaced log output "Generating node credentials ...""
[code]

Should not be writing that middle line to server output.

[2016-03-15 16:35] smarterclayton commented on #8023
Same problem for

[code]

These should probably be suppressed or put into glog.

[2016-03-15 16:43] mrunalp commented on #7927
@smarterclayton We have got some responses. I will try it out. As a backup plan I can backport some PRs and we can use the cgroupfs driver.

[2016-03-15 16:47] rhatdan commented on #7927
Right worse case we just use cgroupfs driver.  @smarterclayton you can probably test that by just changing the /etc/sysconfig/docker

[2016-03-15 16:52] mrunalp commented on #7927
Setting this option will use the cgroupfs driver
[code]

[2016-03-15 17:15] mrunalp commented on #7927
I have created this PR per the feedback we got on systemd-devel list. https://github.com/projectatomic/docker/pull/76 We need to build a new RPM and test it out.

[2016-03-15 17:16] deads2k commented on #8023
@stevekuznetsov that's probably coming from a delegated command that we DO want that output for.  You should be able to capture the output and direct it differently for the delegation cases.

[2016-03-15 17:16] deads2k commented on #8023
Or more cleanly, create a wrapper on the out stream.

[2016-03-15 18:52] smarterclayton opened #8027 "test-end-to-end flake: - dc/failing-dc reported error"
[code]

Did not expect that error.  @kargakis, familiar?

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5322/artifact/origin/artifacts/test-end-to-end-docker/logs/container-failing-dc-2-deploy-deployment.log

[code]

[code]

[2016-03-15 19:18] bparees opened #8029 "Extended Core.ServiceAccounts should ensure a single API token exists - failure"
/data/src/github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/service_accounts.go:152
Expected error:
    <*errors.errorString | 0xc208b83290>: {
        s: "default service account has too many secret references: []api.ObjectReference{api.ObjectReference{Kind:\"\", Namespace:\"\", Name:\"default-token-urnz3\", UID:\"\", APIVersion:\"\", ResourceVersion:\"\", FieldPath:\"\

[2016-03-15 19:19] bparees commented on #8029
@deads2k can we move this test to the jail bucket?  it's one of the last ones preventing us from getting a clean extended test run.

[2016-03-15 19:24] liggitt commented on #8029
no, fixed in the rebase, hopefully landing tomorrow

[2016-03-15 19:25] bparees commented on #8029
even better.

[2016-03-15 20:01] deads2k commented on #7694
Opened https://github.com/kubernetes/kubernetes/pull/23003 upstream

[2016-03-15 20:07] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/23003 fixes https://github.com/openshift/origin/issues/7694

[2016-03-15 20:11] markpaychex commented on #8005
It turns out it was a proxy configuration issue - the OpenShift docker daemon was erroneously going through the proxy when trying to hit the v2 endpoint of the external docker registry. All set.

[2016-03-15 20:11] #8005 closed

[2016-03-15 20:43] ramr opened #8030 "Add integration/extended test to create a router failure and check recovery and logs"
Create a new integration/extended test to simulated a router failure with a bad route (invalid cert/key etc) and check that an error is logged and the router is still up.
Ref: https://github.com/openshift/origin/pull/8028#issuecomment-197008790

[2016-03-15 20:45] allen13 opened #8031 "oc exec failing on containerized openshift"
When attempting to exec or rsh into a container I receive:
  error: unable to upgrade connection: Forbidden (user=system:anonymous, verb=proxy, namespace=, resource=nodes)

Additionally the web console exec terminal also displays:
Could not connect to the container. Do you have sufficient privileges?

The same thing applies to docker logs as well.

##### Version
oc v1.1.4
kubernetes v1.2.0-origin-

[2016-03-15 21:24] stevekuznetsov opened #8034 "End-to-End tests fail locally"
@abutcher any thoughts on why this is happening?:

[code]

[2016-03-15 21:25] liggitt commented on #8034
Is dnsmasq running, preventing the master from running DNS?

[2016-03-15 21:33] stevekuznetsov commented on #8034
@liggitt yes, I think that's the cause. How should I reconfigure my system to allow the test to run?

[2016-03-15 22:47] liggitt commented on #8034
@sdodson probably knows the right way. I usually just kill dnsmasq

[2016-03-15 22:57] soltysh commented on #8005
Thanks for the info @markpaychex.

[2016-03-15 23:14] ramr opened #8036 "haproxy router SYN packet eater throws iptables errors"
With the SYN packet changes, am seeing errors in the HAProxy router reload script saying an getsockopt operation is not permitted. Think this is selinux related.

##### Version
oc v1.1.4-16-gb5da002-dirty
kubernetes v1.2.0-origin-41-g91d3e75

##### Steps To Reproduce
1. If this fix has not merged #8028 , you will need to do step 2 to see the router logs.
2. Build and create a new  haproxy router i

[2016-03-15 23:19] ramr commented on #8036
@knobunc  - am seeing these errors in the router logs - looks like it is selinux related. The script works fine (well with the expected route error) if I nsenter into the router container and run `cd /var/lib/haproxy && ./reload-haproxy'.
<nsenter-router-container> # runcon
unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023

Whereas the script runs as: system_u:system_r:svirt_lxc_net_t:s0:c584,

[2016-03-15 23:34] ramr commented on #8036
@knobunc  hmm,  seems to be related to my F23 setup, which has selinux enabled. Closing this out but its possible we would hit this on a node (where the router pod is running) with selinux enforcing.

[2016-03-15 23:34] #8036 closed

[2016-03-16 01:12] allen13 commented on #8031
I've been pouring through the openshift/kubernetes code trying to trace out the path of execution. Any insights into this would be a great help! Thanks!

What I understand so far:
oc --config=/root/.kube/config exec ... > builds and sends api request > presumably hits the apiserver?? >  loses authentication somewhere along the way > hits the kubelet node api server > no authentication so it throws

[2016-03-16 02:27] sdodson commented on #8034
What OS? Do you have a .conf file in /etc/NetworkManager/ that has dns=dnsmasq ? Try commenting that and restarting NetworkManager.

[2016-03-16 02:29] sdodson commented on #8034
Beyond that, I'm in favor of changing skydns to listen on 8053 by default, the kube svc IP will still route from 53 to 8053 on masters. I'm doing this as part of my clusterdns on nodes work in ansible now fwiw.

[2016-03-16 05:50] #8002 closed

[2016-03-16 06:21] wenskys opened #8037 "a import error in openshift-ansible when use ansible-playbook"
Version：The latest version(may be more than tree)
Environment：1master+N nodes[1] / 3master+3etcd+3node+1lb[2]
also i have build a DNS server.

At the old releases,when i run[3],that will begin to install automatically and will be ok.but the new which have some bugs in the latest version(i try 2~3 releases,may be more than it)
![bug-1](https://cloud.githubusercontent.com/assets/12937669/13803486/ed

[2016-03-16 06:26] wenskys commented on #8037
i found that is a bug for “ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml” in the new release yesterday，that the multiple can't be install,but today it isn't repeat,May be repaired.
![bug-6](https://cloud.githubusercontent.com/assets/12937669/13803848/ff67910c-eb82-11e5-8aa1-31393e659c92.png)

[2016-03-16 08:30] vbehar commented on #7549
Here we maintain our patch through origin versions : https://github.com/AXA-GROUP-SOLUTIONS/origin/branches and deploy our custom builder images to all nodes, but it would be better to have a real solution to this problem ;-)

[2016-03-16 08:42] vbehar commented on #8014
if it's too much requests to do, we could indeed have a specific "shared" project (not the `openshift` one), to which we would give everyone write access, so that they can share their templates.

But I think it would be better to really list the templates from all available projects. I think this page is not used so often, so it's not a real issue if it does a lot of requests. And we could load th

[2016-03-16 09:09] jsafrane commented on #6766
https://github.com/kubernetes/kubernetes/pull/22942 helps with bz#1316095

[2016-03-16 09:32] kargakis commented on #8027
Haven't seen it before. Might it be related to the etcd flake? I cannot explain it in any other way.

[2016-03-16 09:39] soltysh commented on #8031
@ncdc fyi

[2016-03-16 10:41] ncdc commented on #8031
I am not able to reproduce locally. Could you please provide more information about how you deployed containerized?

Also, could you please provide a gist of `oc exec` when it fails, with `--loglevel=8`?

[2016-03-16 10:54] vbehar opened #8038 "confirmation before project deletion"
Hi,

how do you feel about confirmation before deleting a project ?

It would be cool to be able to "protect" a project (or any other resource, btw), so that deletion requires a confirmation (at least from the `oc` CLI). Something like what is done by github for protected branches. It could use a specific label that would be check prior to deletion.

what do you think ?

[2016-03-16 11:09] kargakis commented on #8038
Related issue: https://github.com/openshift/origin/issues/4141

[2016-03-16 12:10] kargakis opened #8039 "TestTryOrdering fail"
[code]

[2016-03-16 12:16] stevekuznetsov commented on #8034
@sdodson I'm on Fedora 21
[code]

Will simply `kill -SIGTERM` on the `dnsmasq` process(es) have adverse effects for me?

[2016-03-16 12:21] stevekuznetsov commented on #6031
@pweil- are you still looking into this? The LDAP extended run hits this pretty often, and there's never seemingly any other OpenShift-related processes up at the time. Seems like a deeper failure of the API server init

[2016-03-16 12:23] paralin commented on #7973
Still completely blocked by this... Been digging through the code trying to figure out what's going on.

Can someone from openshift test this and confirm if either:

 - OpenShift completely can't build or deploy anything running under Kubernetes at all

or

 - Something about how I'm deploying / configuring OpenShift is wrong.

Thanks.

[2016-03-16 12:29] paralin commented on #7973
Alright, I upped the logging level and this seems like it could be the issue:

[code]

Will look into how I am configuring the kubernetes auth.

[2016-03-16 12:35] pweil- commented on #6031
no, not at the moment.  There was an update in the timeout and more debugging added so we closed my debug PR https://github.com/openshift/origin/pull/6171#issuecomment-189739348.

[2016-03-16 12:36] vbehar commented on #8038
yes thanks, the upstream PR is https://github.com/kubernetes/kubernetes/pull/17740

[2016-03-16 12:41] stevekuznetsov commented on #6031
Hm. We're not seeing it terribly often on the PR job as things fail in the verify/unit test phase often, but there is still some prevalence of this issue. On the LDAP job, there is very little that could flake before this so we're seeing it more often. Doesn't seem as though the fixes you mention did much to alleviate the problem.

[2016-03-16 12:53] gabemontero commented on #8027
I had a merge job fail with a somewhat similar flake (though in my PRs' merge job, the oc scale from the end-to-end test worked, but the subsequent oc get rc timed out).

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5329/consoleFull

Any chance these are related, or should a separate issue be opened?

[2016-03-16 12:59] kargakis commented on #8027
This is different, the phase of the deployment never transitioned to Complete
[code]

[2016-03-16 13:07] gabemontero opened #8040 "test end-to-end flake: deployment never transitioned to Complete"
Already had a brief exchange with @kargakis on this.

From https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5329/console

FAILURE after 59.895s: hack/../hack/../test/end-to-end/core.sh:239: executing 'oc get rc/test-deployment-config-1 -o yaml' expecting any result and text 'Complete'; re-trying every 0.2s until completion or 60.000s: the command timed out
Standard output fro

[2016-03-16 13:10] stevekuznetsov opened #8041 "End-To-End flake waiting for database pod to be running"
flake on `e2e` [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5323/consoleFull#100957321356cf27b1e4b0ecce0b4ec162):
[code]

/cc @deads2k

[2016-03-16 13:14] paralin commented on #7973
Master config:

[code]

I have confirmed that `kubectl get pods --config=external-master.kubeconfig` and `kubectl get pods --config=openshift-master.kubeconfig` work fine. So the kubeconfigs themselves should be fine..

[2016-03-16 13:23] sdodson commented on #8037
@wenskys I believe you may be hitting a bug with yum and ansible which leads to it silently ignoring our requests to install packages. We've researched it a bit in https://github.com/openshift/openshift-ansible/issues/1138 but can you run `yum upgrade yum\*` on all your hosts before trying again?

Can you run `journalctl -lu origin-master-api.service` on the hosts where the master api has failed t

[2016-03-16 13:45] stevekuznetsov opened #8044 "`oc process` fails incoherently when bad values are given for a template"
Given a template YAML like:
[code]

With an invocation of `oc process` without any values works (but shouldn't?):
[code]

With an invocation of `oc process` with an incorrect value, an incoherent error message is given:
[code]

With an invocation of `oc process` with a correct value, things work as expected:
[code]

Issues:
 - Should there be an error message when a template parameter is not given

[2016-03-16 13:46] jorgemoralespou commented on #8014
The problem would be if you have templates in multiple projects, which one is shown, and which would be the instantiation order?
Right now, when new-app it looks for a template in your project and then in openshift namespace. What would happen if the same template is also in project A and project B. Which would need to be instantiated?

[2016-03-16 13:49] vbehar commented on #8014
maybe we could use the namespace as a prefix, like `project/template` ?
and if there is no prefix, keep the current behaviour.

[2016-03-16 13:51] stevekuznetsov commented on #8044
Seems like in the case where the parameter that is specified to `oc process` doesn't exist, the error gets written into the object YAML:
[code]

[2016-03-16 13:55] stevekuznetsov commented on #8044
@fabianofranz it seems that your change [here](https://github.com/openshift/origin/blame/master/pkg/cmd/cli/cmd/process.go#L286) prints the error message - seems like you need an `err` writer as well?

[2016-03-16 13:57] jhadvig commented on #8014
@jorgemoralespou good point. @vbehar I would rather avoid displaying all the templates, could get messy, even with prefix.
We need some mechanism to fetch only templates from a single project, similar to to one I've suggested in my previous comment.
Anyway we will (most probably) incorporate this into our new design that @ajacobs21e is working on ATM.

[2016-03-16 13:59] liggitt commented on #8014
Unbounded fan out is always an issue. I could see an option to browse from another project (didn't we do something similar with image stream selection when editing a build config?)

[2016-03-16 13:59] deads2k commented on #8044
Not given a value should not fail.
Given an invalid param assignment (we can't figure out what they mean), should be a failure.
Setting a value that doesn't exist in the template should probably be ignored and printed to stderr.

[2016-03-16 14:00] jhadvig commented on #8014
@liggitt yep, that's what I'm kinda referring to

[2016-03-16 14:03] sdodson commented on #8034
Just disable it if you're not using it. libvirt will use dnsmasq for nat'd networks but it will be start dnsmasq on its own and should only be binding to the bridge interfaces.

[code]

[2016-03-16 14:08] vbehar commented on #8014
@bparees please help me here ;-) in #3563 you wrote

[2016-03-16 14:16] allen13 commented on #8031
Thanks for recommending --loglevel=8, it returns a lot of great info! Here is the gist: https://gist.github.com/allen13/68d4d20cfb621bdb05d4

Additionally here is the playbook I am using to spin up the containerized openshift: https://github.com/allen13/kube-cloud . Let me know if you need any other info. I will be continuing to work this problem until it is solved.

[2016-03-16 14:25] ncdc commented on #8031
@allen13 you originally filed this as being unable to run `oc exec`, yet the gist you pasted is for `oc logs`?

[2016-03-16 14:27] allen13 commented on #8031
Sorry, good point. Here are the logs for exec: https://gist.github.com/allen13/f774303cc8ac73405a5f

[2016-03-16 14:29] stevekuznetsov commented on #8034
Is `dnsmasq` on by defauilt? Should we add a test for it to E2E @liggitt ?

[2016-03-16 14:29] ncdc commented on #8031
@allen13 could you please gist the logs from the master?

[2016-03-16 14:31] stevekuznetsov commented on #8034
@sdodson that didn't seem to help, actually
[code]

[2016-03-16 14:32] pweil- opened #8045 "Test with git volumesource"
Spawned from https://github.com/openshift/origin/pull/7641#discussion_r56342026.

Test gitvolumesource in builds, deployments, and restrictions via SCC to ensure that it functions properly for containers within the confines of a default security policy (restricted) and the anyuid policy.

[2016-03-16 14:37] sdodson commented on #8034
So are you sure it's dnsmasq that's bound to port 53 on the host?

[code]

On Wed, Mar 16, 2016 at 10:31 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-03-16 14:37] smarterclayton commented on #8027
Etcd flake is gone at this point, you'd have to prove it.

On Wed, Mar 16, 2016 at 8:59 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-03-16 14:37] wenskys commented on #8037
@sdodson thanks for your help,I will try again and runing `yum upgrade yum\*`.
The master api has enable to start,but today it isn't repeat,i will try again too.

[2016-03-16 14:39] stevekuznetsov commented on #8034
@sdodson it does seem to be:
[code]

However it seems like the `systemctl` doesn't kill it...

[code]

[2016-03-16 14:43] abutcher commented on #8034
Are you running libvirtd? Libvirt will autostart dnsmasq along with networks.

[2016-03-16 14:44] jwforres commented on #7948
Fixed

[2016-03-16 14:44] #7948 closed

[2016-03-16 14:44] allen13 commented on #8031
The openshift-master logs had no noticeable reaction to the command being run. The node did have an error response: https://gist.github.com/allen13/2864b4f49e6baa06c03a

[2016-03-16 14:44] sdodson commented on #8034
Sorry, I should've added -n in there so we'd see the numeric ip it's bound
to. For me it's running but only bound to libvirt bridges.

[code]

On Wed, Mar 16, 2016 at 10:40 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-03-16 14:46] stevekuznetsov commented on #8034
@abutcher `libvirtd` is running, yes:
``

[2016-03-16 14:55] bparees commented on #8014
@vbehar @jhadvig I liked the suggestion of a drop-down that lets you select from any of the projects you can view, and then show you the templates from that project (and the openshift project).  That seems like the simplest win here.

Though I think @liggitt is going to tell me that even figuring out which projects you can view is hard.

[2016-03-16 15:00] abutcher commented on #8034
Okay, probably the default network?

[code]

The only way to stop dnsmasq from starting with the default network is to not start the default network which is less than ideal if you're using it.

This will probably allow the tests to run but @sdodson's suggestion about using a different skydns port for the end to end tests sounds like a good idea.

[code]

[2016-03-16 15:03] jwforres opened #8047 "Make selectors in the UI look like labels and make them clickable"
Everywhere we show selectors they are selecting based on labels, they should look like labels.  You should also be able to click on them to see the things (pods) that label applies to

[2016-03-16 15:06] jwforres commented on #7963
lets try and fix this for 1.2 if its not too scary of a change

[2016-03-16 15:09] jwforres opened #8048 "Env var editor should allow re-ordering of env vars"
Today you can only remove and append

[2016-03-16 15:11] vbehar commented on #8014
ok, we could do that in 2 steps: first select the project, then the template.

isn't "figuring out which projects you can view" the same as what is done for "oc get projects" ?

[2016-03-16 15:15] liggitt commented on #8014
UI already has the list of projects you can view (we show it in the drop down)

[2016-03-16 15:21] childsb commented on #7670
Closing issue since this is environment / setup.

[2016-03-16 15:21] #7670 closed

[2016-03-16 15:21] stevekuznetsov commented on #8034
@abutcher killing `libvirtd` and then killing `dnsmasq` made me able to run the tests, but this is not an ideal workflow.

[2016-03-16 15:24] rootfs commented on #7983
The crashed node probably has a lock on the rbd image. At this time, you have to unlock the image manually if you think no other pod is using it. We'll have a better way to resolve it when we have attach/detach controllers from @swagiaal

[2016-03-16 15:30] stevekuznetsov opened #8050 "End-To-End tests are not re-entrant"
Running `hack/test-end-to-end.sh` with `docker` installed, I get the following error on the second+ times:
[code]

Do we need to wipe the `etcd` volumes in the tmpdir?

/cc @smarterclayton @liggitt @deads2k

[2016-03-16 15:34] smarterclayton commented on #8050
test-end-to-end should be doing that.  It could be because you previously
ran this with sudo hack/test-end-to-end.sh

On Wed, Mar 16, 2016 at 11:30 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-03-16 15:40] stevekuznetsov commented on #8050
@smarterclayton I haven't run it with `sudo`, and even removing the tmpdir myself doesn't seem to help:

[code]

[2016-03-16 15:41] stevekuznetsov commented on #8050
Ah, it's using `/tmp/openshift-e2e`. I'll fix that.

[2016-03-16 15:46] kargakis commented on #7792
Talked with @legionus offline and we realized a possible solution would be that when our registry detects a "not found" response, it could query the apiserver for the missing image (oc get is), look into its tags, find the real link, and serve that. @miminar WDYT?

[2016-03-16 15:56] wenskys commented on #8037
@sdodson yes,you are right.this is a bug for yum,now it is working.thanks a lot.
The master api has enable to start,it isn't repeat.
May be `yum upgrade yum\*` can be run in openshift-ansible or in openshift-docs?

[2016-03-16 16:00] spadgett opened #8052 "Image stream tag table cut off at narrow widths"
On page load:

![screen shot 2016-03-16 at 11 57 47 am](https://cloud.githubusercontent.com/assets/1167259/13819000/652bee9e-eb6e-11e5-8d2e-a17a06014853.png)

After scrolling right:

![screen shot 2016-03-16 at 11 58 41 am](https://cloud.githubusercontent.com/assets/1167259/13819010/746cea20-eb6e-11e5-9024-026cebe77fb1.png)

@jwforres

[2016-03-16 16:03] sdodson commented on #8037
Thanks, yeah we're considering that.

On Wed, Mar 16, 2016 at 11:57 AM, wenskys <notifications@github.com> wrote:

[2016-03-16 16:04] sdodson commented on #8037
If you don't mind, close the issue unless you're still having problems.

On Wed, Mar 16, 2016 at 12:03 PM, Scott Dodson <sdodson@redhat.com> wrote:

[2016-03-16 16:05] miminar commented on #7792
@kargakis yeah, that's what outlined earlier. It's super easy but not much efficient. It has to be done for every layer of the image being pulled. You can speed it up with some sort of caching though.

[2016-03-16 16:05] wenskys commented on #8037
ok,Thanks again

[2016-03-16 16:09] liggitt commented on #7973
This bit:
[code]

In order for openshift to verify service account tokens, it need the publicKeyFile corresponding to the private key file the remote kubernetes is using to generate the service account tokens. You need to copy that file from the kubernetes deployment and provide it to openshift here. You can provide the private key (which includes the public key) or the public key if you have it s

[2016-03-16 16:09] ncdc commented on #6766
https://github.com/kubernetes/kubernetes/pull/23020 (contains cadvisor 1158), part of a round of 1.2 cherrypicks here https://github.com/kubernetes/kubernetes/pull/23024

[2016-03-16 16:20] paralin commented on #7973
@liggitt But it has the public key file serviceaccounts.public.key, right?

[2016-03-16 16:21] paralin commented on #7973
I grab that file with this script: https://github.com/paralin/openshift-under-kubernetes/blob/master/images/kube-serviceaccount/Dockerfile#L4

[2016-03-16 16:23] liggitt commented on #7973
the ca.crt is not the service account token signing key

[2016-03-16 16:24] paralin commented on #7973
@liggitt Ouch. Any way to access that from inside a container? I can't use SSH anywhere in this deploy process, it has to be fed out of the cluster via pods or API

[2016-03-16 16:25] liggitt commented on #7973
no... that key is not published currently.

[2016-03-16 16:37] paralin commented on #7973
@liggitt alright, in the meantime, maybe I can use a privileged pod to escape the container and use the host environment to connect to the master or something.. ouch

[2016-03-16 16:38] paralin commented on #7973
@liggitt do the nodes have the key stored anywhere in the host env?

[2016-03-16 16:41] liggitt commented on #7973
No, it's only needed by the API auth chain today

[2016-03-16 16:43] paralin commented on #7973
@liggitt I wonder how OpenShift is able to list pods currently in the web UI but not in the internal controllers

[2016-03-16 16:45] liggitt commented on #7973
hmm... are you running openshift against an etcd that previously had openshift generating its own service account tokens?

[2016-03-16 16:51] paralin commented on #7973
@liggitt No I am sure to make a fresh etcd each deployment. Weiird ;)

[2016-03-16 17:12] liggitt commented on #7973
oh, the internal controllers use service account tokens (generated by kube) and talk to openshift, which verifies those tokens using the publicKeyFiles in the master config (which do not currently have the right public key).

the web UI uses OAuth tokens, not service account tokens.

[2016-03-16 17:20] kargakis opened #8055 "oadm registry should recreate the dc if the service exists"
Should check if the ports and the selector match and let me have that brand new dc created. Works for the other way around (creates justs a new service in the presence of a dc).

@miminar @soltysh @smarterclayton

[2016-03-16 17:21] liggitt commented on #6766
^^^^^^^^^^^^^^^^^^^^^ everything above this point it now in the checklist ^^^^^^^^^^^^^^^^^^^^^^^^^

[2016-03-16 17:22] paralin commented on #7973
@liggitt ah that makes sense. is there some way to trick OpenShift into using the oauth tokens for everything? is there any security problem with this?

Because our org needs a 1 button deploy everything to existing Kubernetes cluster type thing, I can't use provider-specific stuff like SSH commands. So this is why I'm putting such a massive effort into something usually unnecessary (the key grab

[2016-03-16 17:24] miminar commented on #8055
:+1:

[2016-03-16 17:33] liggitt commented on #7973
no, OAuth tokens and service account tokens are for different purposes

OAuth tokens: expiring, only known to OpenShift, only granted to login users
Service account tokens: non-expiring (but revocable), created by Kube, injected into pods

[2016-03-16 17:36] paralin commented on #7973
@liggitt Alright. I'll close this for now then. But I'm still searching for a good way to get that public key without using SSH. Probably will end up using some kind of crazy hack until it's published somewhere.

[2016-03-16 17:36] #7973 closed

[2016-03-16 17:42] ajacobs21e commented on #8014
@liggitt @jhadvig Can one of you show me what this looks like please?

[2016-03-16 17:47] jorgemoralespou commented on #8014
@liggitt Even you can view a project,  acces to view templates resource can not be restricted as well? I find a lot of checks needed for the value.
What would be the real use case? I haven't been anybody asking this before.

[2016-03-16 17:53] jorgemoralespou commented on #8014
Having read the originating issue, actually kind of make sense. I would have a way to reference which project I want to look for templates although from a usability perspective is not nice.

[2016-03-16 17:53] smarterclayton commented on #8055
oadm registry -o yaml | oc apply -f -

On Wed, Mar 16, 2016 at 1:24 PM, Michal Minar <notifications@github.com>
wrote:

[2016-03-16 17:55] mrunalp commented on #7549
https://github.com/projectatomic/docker/pull/71 should probably fix this issue. The fix will be available in 1.10.3

[2016-03-16 18:20] gabemontero commented on #8022
Will tackle after https://github.com/openshift/origin/pull/8017 merges, as this issue is a follow up for a new method added with that PR.

[2016-03-16 18:22] jwforres commented on #8052
Does it just need break-word?

@rhamilto or @sg00dwin one of you have time to look at it?

[2016-03-16 18:26] rhamilto commented on #8052
@jwforres, @sg00dwin, I'll take a look.

[2016-03-16 18:26] kargakis commented on #8022
Not really new, I just made it public and moved it to a more common place. This isn't a high priority but it would be good to have it eventually.

[2016-03-16 18:29] liggitt commented on #8014
Sure, we'd have to handle that as well... select a project (from the list available to you), and if we get rejected listing templates in that project, tell you

[2016-03-16 18:35] jhadvig commented on #8014
@ajacobs21e
![image4144](https://cloud.githubusercontent.com/assets/1668218/13824400/25770bea-ebae-11e5-8a49-aee79161e68e.png)

[2016-03-16 18:48] liggitt opened #8056 "Allow storage versions for API groups to be configurable"
Storage versions for API groups must be configurable in order for jobs and hpa objects to be able to be stored as `batch/v1` and `autoscaling/v1` objects prior to 1.3

Changes needed:
1. Config for specifying a storage GroupVersion for an API Group
2. Config for specifying a storage GroupVersionKind for an API GroupResource (GroupVersionResource?)
3. Validation for which storage versions are valid

[2016-03-16 18:51] childsb commented on #6766
https://github.com/kubernetes/kubernetes/pull/21758

[2016-03-16 18:51] spadgett commented on #4169
Need to change the CreateProjectController to use alerts instead of notifications. We use alerts for errors elsewhere that can be copied.

/cc @benjaminapetersen

[2016-03-16 18:51] liggitt commented on #6766
anything merged to kube master prior to 3/11/2016 is already in origin

[2016-03-16 19:01] childsb commented on #6766
https://github.com/kubernetes/kubernetes/pull/21738

[2016-03-16 19:23] kargakis opened #8058 "output of docker push while pushing via our builder"
While playing around with our registry and S3, it occured to me that I have no info of what is happening when the builder is trying to push to the integrated registry. Especially with external storage it can take some time to push.
[code]
Nevermind about the error, I had recreated the registry service.

It would be more intuitive to show the output from docker.

cc: @bparees @mfojtik

[2016-03-16 19:26] bparees commented on #8058
https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs

Available log levels for Source builds are as follows:
Level 0
Produces output from containers running the assemble script and all encountered errors. This is the default.
Level 1
Produces basic information about the executed process.
Level 2
Produces very detailed information about the executed process.
Level 3
Produces

[2016-03-16 19:26] #8058 closed

[2016-03-16 19:30] kargakis commented on #8058
I see. Since this an env var, I would like to have it defaulting to 5 for all of my builds w/o the need to specify it for each bc. Is that possible?

[2016-03-16 19:31] kargakis commented on #8055
Good enough for now.

[2016-03-16 19:31] #8055 closed

[2016-03-16 19:31] ncdc commented on #6435
Moar debugging:

[code]

[2016-03-16 19:32] ncdc commented on #6435
Fun times converting hex to ascii :)

[2016-03-16 19:33] stevekuznetsov opened #8060 "Refactor CLI Commands Written Without Options or the Complete-Validate-Run Flow"
Some of our CLI commands look more like upstream Kube commands - no `Options` struct with distinct `Complete`, `Validate` and `Run` methods, _etc_. It seems like we should refactor them to look more like the rest of our commands.

Incomplete list:
- `oc process`
- `oc build-logs` (deprecated, maybe not worth it?)
- `oc cancel-build`
- `oc create route`
- `oc debug`
- `oc export`
- `oc expose`
- `o

[2016-03-16 19:35] ncdc commented on #6435
Easier to read:

[code]

[2016-03-16 19:39] bparees commented on #8058
1) if you launch openshift w/ level 5 logging, builds will pick up that log level by default.
2) https://docs.openshift.org/latest/admin_guide/build_defaults_overrides.html#setting-build-defaults

[2016-03-16 19:41] kargakis commented on #8058
cool, thanks!

[2016-03-16 19:57] liggitt commented on #7166
rebase just pulled in deletecollection changes for upstream types

[2016-03-16 20:26] liggitt opened #8063 "Fix slow etcd unit tests"
Upstream switch to TLS-enabled etcd in unit tests slows down some packages enormously

github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/pkg/storage/etcd    45.833s coverage: 70.2% of statements

github.com/openshift/origin/Godeps/_workspace/src/k8s.io/kubernetes/pkg/registry/generic/etcd   28.310s coverage: 57.5% of statements

Unit test timeout was lengthened from 60s to 120s i

[2016-03-16 20:27] liggitt opened #8064 "Sweep component config/initialization to ensure matches with upstream"
follow up from https://github.com/openshift/origin/pull/7975

sweep upstream config/initialization to make sure we're initializing the same way
  - [x] kube-apiserver - https://github.com/openshift/origin/pull/8131
  - [x] kubelet - https://github.com/openshift/origin/pull/8131
  - [x] kube-proxy - https://github.com/openshift/origin/pull/8131
  - [x] kube-controllermanager

[2016-03-16 20:29] liggitt opened #8065 "Update node_auth to use nodes/proxy in SAR check"
as of https://github.com/openshift/origin/pull/7975 nodes now have a proxy subresource.

node_auth.go should switch to checking that subresource so that verb information can be preserved

Need to be careful to make sure policy is updated to allow the subresource before nodes are upgraded (if master is upgraded first, then policy reconciled, then nodes are upgraded, that should work fine)

[2016-03-16 20:31] liggitt opened #8066 "update callers to handle partial success from reconcile-cluster-role-bindings"
https://github.com/openshift/origin/pull/7975 added the ability to reconcile particular role bindings, and return partial success

sweep callers and decide if any should pay attention to returned roles in partial success cases

[2016-03-16 20:33] liggitt opened #8067 "determine a preferred GVK to pass to `InfoForObject` in bulk create"
If a bulk create (for example, from a project template) contains a resource that has an ambiguous rest mapping (like HPA or Job), InfoForObject picks an arbitrary mapping.

If the group/version/kind of the original item is available, that should be passed to InfoForObject as a preferred version

[2016-03-16 20:34] liggitt opened #8068 "Enable ServerAddressByClientCIDRs in discovery doc"
`ServerAddressByClientCIDRs: s.getServerAddressByClientCIDRs(req.Request)` allows server info to be published in the API discovery doc

determine what we should include and ensure we are consistent with what is surfaced under `/apis`, `/oapi`, and `/api`

[2016-03-16 20:35] liggitt opened #8069 "Enable client generation for origin types"
Upstream generates go client implementations based on annotations in types.go files

Enabling this could eliminate hand-written clients and ensure clients are consistently implemented

[2016-03-16 20:36] liggitt opened #8070 "Use genericapiserver framework"
Upstream provides a generic api server framework. Using that for the /oapi apiserver could simplify and make consistent the way we start the master APIs

[2016-03-16 20:49] ncdc commented on #6435
Gist with debugging using https://github.com/ncdc/origin/tree/flake/6435: https://gist.github.com/ncdc/1806bab78c1fd5fd759b

[2016-03-16 20:53] ncdc commented on #6435
My current theory is that most of the time it will determine the fields for a type, cache them, and reuse them, but it appears that when the tests flake, it's maybe because it's using an internal type that doesn't have json tags, instead of an external type that does. Not sure why...

[2016-03-16 21:03] smarterclayton commented on #6766
Potentially https://github.com/kubernetes/kubernetes/pull/23035 -
controller failover can flush the endpoints list (make them zero)

On Wed, Mar 16, 2016 at 3:01 PM, bradley childs <notifications@github.com>
wrote:

[2016-03-16 21:44] jawnsy commented on #7848
@benjaminapetersen Thoughts? Should I do what @spadgett suggested and just move the timestamps back into the directive? Is there another, better, way to do this? It seems unfortunate to undo recent changes, but I can't think of any better solution.

cc @jwforres

[2016-03-16 21:53] paralin opened #8074 "OpenShift builds cannot start due to cgroup error (when cgroups are not enabled)"
On the default "jessie" deployment for Kubernetes (under aws), I finally have OpenShift builds working (thank you @liggitt  and @ncdc)

It seems now that issue #7297 has resurfaced.

Contents of `/sys/fs/cgroup/cpu/`:

[code]

Error output from build:

[code]

I would probably assume that this was an issue with the privileged flag not working correctly (perhaps due to Kubelets being potentially co

[2016-03-16 22:50] jawnsy opened #8076 "Better error message when JavaScript is disabled"
The OpenShift Web Console requires JavaScript to function. If JavaScript is disabled, a message appears that states simply:

![screenshot from 2016-03-16 15-44-17](https://cloud.githubusercontent.com/assets/52710/13831056/16a2fde2-eb8e-11e5-89e1-7e4ca19b803b.png)

However, it does not explain how to do this, why it is needed, or provide alternate options (i.e. just using the command-line interface

[2016-03-16 22:57] sureddy opened #8077 "1.1.4 Installation broken"
Installation of  Openshift Origin 1.1.4 Installation on CentOS 7 is failing consistently with the following error messages.

<pre>
TASK: [openshift_node | Start and enable node] ********************************
failed: [xx.x.xxx.120] => {"failed": true}
msg: Job for origin-node.service failed because the control process exited with error code. See "systemctl status origin-node.service" and "journa

[2016-03-16 23:51] paralin commented on #8074
Okay the kernel option `CONFIG_CFS_BANDWIDTH=y` is not enabled on the AWS jessie OS.

Could be classified as a Kubernetes deploy bug, maybe. I think OpenShift should handle the situation that this cgroup feature is not enabled because end-users might deploy to bare metal with an unknown OS installed.

[2016-03-16 23:58] #3563 closed

[2016-03-17 00:16] pat2man commented on #8077
Installing the `origin-sdn-ovs` package fixed that for me.

[2016-03-17 01:30] stevekuznetsov opened #8078 "E2E Flakes Waiting on RC"
This is a good candidate for JSONPath (#8004):
[code]

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5343/consoleFull#-65141768856cf27b1e4b0ecce0b4ec162

[2016-03-17 01:31] sureddy commented on #8077
@pat2man installing that package did the magic. isn't this supposed to be installed from RPMS?

[2016-03-17 01:32] eparis opened #8079 "67f17ff2bc Is a patch to skydns which should be pushed upstream"
We carry https://github.com/smarterclayton/origin/commit/67f17ff2bc13f441697ad63eef0dec71eb82caab

There was an attempt to solve this upstream in:
https://github.com/skynetservices/skydns/pull/211

But the patch was refactored in origin and never offered upstream.

[2016-03-17 01:45] #8037 closed

[2016-03-17 01:45] #7611 closed

[2016-03-17 03:34] #7886 closed

[2016-03-17 03:34] #7808 closed

[2016-03-17 03:34] #8052 closed

[2016-03-17 04:09] dotam commented on #8010
hi @soltysh, do you have any idea?

[2016-03-17 06:53] liggitt commented on #8078
@ironcladlou seeing this a lot. what field in the RC is expected to contain "Complete" after the DC scale?

[2016-03-17 07:41] soltysh commented on #8039
Shouldn't that be upstream, since it's k8s test? Or are you suspecting origin has some influence on this?

[2016-03-17 07:41] #7968 closed

[2016-03-17 09:03] jpechane opened #8083 "gitlab-ce image cannot be executed from inside OpenShift"
Follow the procedure described here - https://blog.openshift.com/getting-any-docker-image-running-in-your-own-openshift-cluster/

The net result is that GitLab will start but then the pod crashes with a message in the log
[code]

I even tried to give it *privileged* scc but the issue persists.
If I run the image via docker run then it starts correctly.

The same image runs in OSE 3.1 or in CDK fla

[2016-03-17 09:12] akram opened #8084 "privileged parameter is not taken into account for DeploymentConfig"
privileged parameter is not taken into account for DeploymentConfig

##### Version
oc v1.1.3-645-gf78f941
kubernetes v1.2.0-origin-41-g91d3e75

##### Steps To Reproduce
https://gist.github.com/akram/a2c9f633dd56e20c002e
1 - Use a DeploymentConfig with "privileged: true" in securityContext.
2 - Import the deploymentConfig : oc create -f dc.yaml
3 - edit the dc again:  oc edit dc my-dc
##### Current

[2016-03-17 09:15] kargakis commented on #8039
Saw this prior to the rebase and there has been a change to the test ever since so I am going to close this issue until we see it again.

[2016-03-17 09:23] kargakis commented on #8078
dupe of https://github.com/openshift/origin/issues/8040

[2016-03-17 10:56] spadgett opened #8086 "Certificate values cut off on browse route page"
This happens at narrow browser widths. Made worse by #8051, but it happens at mobile widths even when the `dl` stacks.

<img width="400" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13843931/f833bb24-ec0c-11e5-8d3b-272d6ac1f259.png">

<img width="400" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13843960/3434a35e-ec0d-11

[2016-03-17 12:01] paralin commented on #8074
This particular problem doesn't apply to "wily" on AWS, and I think most newer distributions, so I'd say it's lower priority

[2016-03-17 12:19] stevekuznetsov commented on #8078
@gabemontero do you have a failure management filter set up to point to #8040?

[2016-03-17 13:02] mfojtik commented on #7548
Trelloed: https://trello.com/b/wqe9UaaZ/developer-experience

[2016-03-17 13:02] #7548 closed

[2016-03-17 13:18] sdodson commented on #7978
@childsb For some reason I thought all these components only required the packages be installed on the host because they used nsenter?

[2016-03-17 13:21] sdodson commented on #7978
#8057 is tangentially related. I think if we're going to have to add drivers for all the filesystems we support then we should probably only do that in the node image and consider `openshift/origin` as a simple all-in-one no sdn, no filesystem drivers image. Otherwise we're going to bloat it and all downstream images considerably.  `openshift/node` is already pretty fat because it's got components

[2016-03-17 13:47] jwforres commented on #8076
I wouldn't add the CLI link even if it was just a doc link because it would be hard coded in index.HTML and have to be modified for every release and we claim support for fully customizable doc links now.

[2016-03-17 13:56] benjaminapetersen commented on #7848
Yeah, the problem there is that they are semi-unique now.  Build, Pod, Deployment all have a slightly different handling of the presentation.  If we back step to something generic we can share that may work, but I think we lose the clarity we were striving for here.

I suppose adding an attribute to the directive `<log-viewer has-logs="{{hasLogs}}">` and letting the directive publish out to that a

[2016-03-17 14:03] donovanmuller commented on #7878
Sorry to be a pain but this is becoming an issue.
I was forced to remove everything under `/var/lib/origin/openshift.local.volumes/pods` because of 100% usage and things seemed to recover fine, although there were some funnies but might have been unrelated. I might have to do this again very soon and will feedback on how it goes.

Just out of interest, what info is actually kept in this directory

[2016-03-17 14:11] deads2k commented on #8084
privileged is a attribute on the security context for a container, not on a podspec.

[2016-03-17 14:14] deads2k commented on #8084
https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/api/v1/types.go#L1495 versus https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/api/v1/types.go#L1126 .  It is confusing.

[2016-03-17 14:16] stevekuznetsov opened #8092 "`import-image` flakes consistently on test/extended/cmd"
Seeing this in PR https://github.com/openshift/origin/pull/6592 and on master

[code]

/cc @soltysh

[2016-03-17 14:17] stevekuznetsov commented on #8092
@pweil- this should be pretty high priority - in my tests this flakes at around 95% probability, rendering this test useless

[2016-03-17 14:30] akram commented on #8084
@deads2k thanks, that was it indeed
closing the issue

[2016-03-17 14:30] #8084 closed

[2016-03-17 15:02] gabemontero commented on #8078
@stevekuznetsov never heard of failure management filters before you mentioned it.  Just learned I should log onto our Jenkins and take a look.

[2016-03-17 15:10] stevekuznetsov commented on #8078
@gabemontero since I've got one set up and pointing to this issue maybe you can close yours as a dupe?

[2016-03-17 15:11] stevekuznetsov commented on #7616
related(??) e2e flake [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/13076/console):
[code]

[2016-03-17 15:16] liggitt commented on #7616
yup:
[code]

[2016-03-17 15:18] gabemontero commented on #8078
@stevekuznetsov will do.

[2016-03-17 15:20] gabemontero commented on #8040
closing as dup of https://github.com/openshift/origin/issues/8078 since @stevekuznetsov already has a Failure Cause in Jenkins that references this.

[2016-03-17 15:20] #8040 closed

[2016-03-17 15:27] liggitt commented on #7616
I'd love to add a failure indications for this. The message "cpu.shares: no such file or directory" in the /artifact/origin/artifacts/test-end-to-end-docker/logs/container-origin.log file is what to look for. Not sure failure indications can look in artifacts.

[2016-03-17 15:29] stevekuznetsov commented on #7616
Is the `Error from server: User "e2e-user" cannot list all buildconfigs in the cluster` message always present? Should we just indicate on that?

[2016-03-17 15:29] liggitt commented on #7616
that is unrelated

[2016-03-17 15:43] paralin opened #8093 "Build logs under Kubernetes don't work, while regular pod logs are fine"
Running OpenShift under kubernetes.

Logs for regular pods under Replication Controllers work fine, but I get the "logs not available" message for currently running builds.

The logs for OpenShift indicate a certificate error:

[code]

This doesn't make much sense, though, as the logs work perfectly fine for the pods. Is this another case of OpenShift using the Kubernetes API to access logs for on

[2016-03-17 15:57] aveshagarwal commented on #6435
I am not sure about root cause, but also as @ncdc said that it is surely because internal types dont have json tags. However, I am confused by the different json imports in upstream kube: pkg/util/strategicpatch/patch.go has "encoding/json"

and in latest origin repo: Godeps/_workspace/src/k8s.io/kubernetes/pkg/util/strategicpatch/patch.go:
"k8s.io/kubernetes/pkg/util/json"

[2016-03-17 15:58] aveshagarwal commented on #6435
Not sure if that is intention, because otherwise I dont see any different in that files other than that import.

[2016-03-17 15:59] liggitt commented on #6435
We're carrying a commit with an upstream PR that fixes a bug with lossy numeric conversion

[2016-03-17 16:11] ncdc commented on #6435
I can confirm that this is flaking because the object that is passed to LookupPatchMetadata is e.g. api.BuildConfig, not v1.BuildConfig.

[2016-03-17 16:27] smarterclayton commented on #7978
Origin is definitely all-on-one.

[2016-03-17 16:37] smarterclayton commented on #6435
Which should never happen, which probably means something else is seriously
wrong.

On Thu, Mar 17, 2016 at 12:11 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-03-17 16:43] liggitt commented on #6435
is this client side or server side (or both)?

[2016-03-17 16:47] ncdc commented on #6435
[code]

[2016-03-17 16:47] ncdc commented on #6435
Server

[2016-03-17 16:51] ncdc commented on #6435
This is from commit 7e38050 with some extra logging I added to fields.go

[2016-03-17 16:56] paralin commented on #6822
Issue #8074 might be relevant.

Also I get this error sometimes:

[code]

Error is: `[8] System error: The minimum allowed cpu-shares is 1024`

This is on a build, I can't find any notation on the pod about requests or limits so I'm confused where this is coming from.

[2016-03-17 17:07] mrunalp commented on #6822
https://github.com/projectatomic/docker/pull/71 is a possible fix for this.

[2016-03-17 17:09] liggitt commented on #6435
opened https://github.com/openshift/origin/pull/8098 to use versioned object when recomputing patches

[2016-03-17 17:11] #8050 closed

[2016-03-17 17:37] ncdc commented on #6435
@liggitt's fix seems to nail it

[2016-03-17 17:41] bparees commented on #8074
@derekwaynecarr @mrunalp @smarterclayton what would we want to do in the case that the cgroup filesystem is not available?  I really don't want to fallback to "no limit" in that scenario, but i'm not sure what else would be appropriate.

Is it even valid to run k8s/openshift w/o the CONFIG_CFS_BANDWIDTH=y kernel option, given that it makes our quotas impossible to enforce(I assume)?

[2016-03-17 17:44] bparees commented on #6435
assigning to Andy since he deserves the credit for chasing this down.

[2016-03-17 17:53] bparees commented on #8083
you ran this command `oadm policy add-scc-to-user anyuid -z default` to grant anyuid permissions?  I'm able to run the image with no problem on the latest origin master code.

[2016-03-17 18:00] swagiaal commented on #6766
https://github.com/openshift/origin/pull/8100
Fixes: https://bugzilla.redhat.com/show_bug.cgi?id=1310587

[2016-03-17 18:00] liggitt commented on #8093
Looks like the build log rest handler assumes it has a transport that is valid to talk to the node: https://github.com/openshift/origin/blob/master/pkg/build/registry/buildlog/rest.go#L121

[2016-03-17 18:05] liggitt commented on #8093
you need to make sure the info in `kubeletClientInfo` in the master config is valid for the remote nodes (ca, client cert/key, and port)

[2016-03-17 18:05] bparees commented on #8041
There's not much magic here.  We instantiated a template which defines a DC for the database pod and apparently that pod never got created.  Should start w/ the deployments team, maybe we need to add some debug that probes the states of the deploymentconfigs when this fails.

[2016-03-17 18:11] smarterclayton commented on #8074
In general, I would expect us to gracefully degrade if it's a configuration thing (warn).  What I'm concerned with is flakes - cgroup being notoriously racy at the best of times, what happens if we tolerate missing cgroups, but instead of it failing, we continue (thus the admin has only a small chance of catching it)?   That seems risky.

What might make sense is to have a Kube/Origin flag for "al

[2016-03-17 18:12] paralin commented on #8093
@liggitt They are defined as "ca.crt", "master.kubelet-client.crt", "master.kubelet-client.key"

Maybe these are wrong? Where do they come from when I do `openshift start master --write-config` in the setup process? Where should they come from? I don't suppose there's any way to get this info via API operations (running pods and checking output)?

[2016-03-17 18:19] paralin commented on #8074
Unfortunately this fails under the default AWS deploy for Kubernetes. @justinsb

Maybe we can escalate this to a "let's fix this in Kubernetes AWS deploy" then, if you want to enforce the option being enabled.

[2016-03-17 18:23] paralin opened #8101 "Repository rejects pushes with system:serviceaccount:test:builder privilege errors"
Attempting to build something called "docker-node-hello" under the "test" namespace:

[code]

The build is successful but the registry rejects the push. In the logs it mentions that the builder service account cannot check the image streams in that namespace.

I have run `reconcile-cluster-roles --confirm` multiple times and it is clean (no output after the first run).

`oc get serviceaccounts -n

[2016-03-17 18:25] mrunalp commented on #8074
I think that either our installer or the openshift binary could check for the cgroups subsystems on startup and fail if the expected cgroups subsystems aren't found. This can be checked by either parsing /proc/self/cgroup or /proc/cgroups files.

[2016-03-17 18:38] paralin commented on #8101
@liggitt Yet another weird issue I'm encountering with this kubernetes deploy stuff :)

[2016-03-17 18:46] justinsb commented on #8074
We can fix this in our debian image, I think - or at least look into doing so.  Can you open an issue please?

In the meantime, you might want to use wily (export KUBE_OS_DISTRIBUTION=wily)

[2016-03-17 18:46] paralin commented on #8101
Also @derekwaynecarr maybe you have hit this when trying to deploy to Kube

[2016-03-17 18:47] liggitt commented on #8101
did you create the namespace directly, or as a project using `oc new-project`?

[2016-03-17 18:48] liggitt commented on #8101
`oc new-project` sets up openshift roles for the service accounts in the namespace

[2016-03-17 18:52] paralin commented on #8101
@liggitt Directly, is there some way to make OpenShift set this stuff up on vanilla Kube namespaces? When we make namespaces via the API we want to hit the bare kube cluster and not OpenShift or using a cli

[2016-03-17 18:52] liggitt commented on #8041
Same cpu.shares issue in the origin.log:
[code]

[2016-03-17 18:53] jpechane commented on #8083
yes I did - just different project name
[code]
And the error is different to one that happens when you do not run as a root

[2016-03-17 18:54] liggitt commented on #8101
the openshift roles can be granted on an existing namespace, but there isn't an automatic process to do it

[2016-03-17 18:55] paralin commented on #8101
@liggitt is it documented anywhere the API calls to do this? I'm going to have to write a temporary cluster daemon to watch the namespaces and apply the roles automatically :)

[2016-03-17 18:56] bparees commented on #8041
@mrunalp ^^^

[2016-03-17 18:59] mrunalp commented on #8041
@bparees Thanks! Can we dupe these to one ore two issues?
There are two classes:
1. Like #7616
2. Like #7927
I have created potentail fixes for both which should be available as rpm updates.

[2016-03-17 19:02] liggitt commented on #8101
[code]

[2016-03-17 19:03] liggitt commented on #8101
it's three RoleBinding objects

[2016-03-17 19:09] mrunalp commented on #8041
Can we check if we have docker version docker-1.9.1-23.el7 running?

[2016-03-17 19:10] bparees commented on #8041
[code]

[2016-03-17 19:10] mrunalp commented on #8041
@bparees thanks, the version needs to be updated. I am not sure who does that.

[2016-03-17 19:10] bparees commented on #8041
@mrunalp should happen the next time we build a base ami.

[2016-03-17 19:11] mrunalp commented on #8041
@bparees @liggitt One more question. When a pod fails to start because of a cgroups issue, is there an attempt made to restart it? (I would think that the kubelet should be doing it.)

[2016-03-17 19:12] bparees commented on #8041
@mrunalp we build the base ami yesterday and it picked up 19, when did 23 drop?

[2016-03-17 19:12] bparees commented on #8041
@mrunalp i don't think it will attempt to restart it if there's no replication controller around it.

[2016-03-17 19:16] allen13 commented on #8031
Have tried multiple config changes including using the default configs that the openshift start command generates. Have also tried switching from fedorda23/atomic-host to centos/atomic-host. I've also looked through a great deal of openshift and kubernetes code and I have narrowed it down to the auth exchange between the api server and the node server. The api server proxies to the node server usi

[2016-03-17 19:18] bparees commented on #8041
dupe of https://github.com/openshift/origin/issues/7616

[2016-03-17 19:18] #8041 closed

[2016-03-17 19:24] mrunalp commented on #7616
@liggitt Are we archiving the systemd journal as well? It might be helpful to debug (especially if we are running into oom).

[2016-03-17 19:24] liggitt commented on #7616
you can check under artifacts, but I don't think so

[2016-03-17 19:30] paralin commented on #8074
On wily I now almost instantly get this build error:
[code]

Cpu-shares.

[2016-03-17 19:31] bparees commented on #8074
@paralin can you provide the rest of the build log?  I believe we dump out the cgroup settings we are using (at least if you enable loglevel 5 in your build)

[2016-03-17 19:32] bparees commented on #8083
@jpechane can you make sure your node pulled the latest version of the image?

[2016-03-17 19:33] mrunalp commented on #8074
@paralin What version of docker do are you running?

[2016-03-17 19:34] paralin commented on #8074
@mrunalp  `1.9.1`

[2016-03-17 19:35] paralin commented on #8074
@bparees how do I enable loglevel 5 in a build?

[2016-03-17 19:35] smarterclayton commented on #7616
We are not.  Do you want a specific unit, or the entire journal?

On Thu, Mar 17, 2016 at 3:24 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-03-17 19:36] ncdc commented on #6435
Catch @liggitt, you're it!

[2016-03-17 19:36] paralin commented on #8101
alright I'll make a daemon

[2016-03-17 19:36] #8101 closed

[2016-03-17 19:37] paralin commented on #8093
This works fine if you leave the `ca` field empty.

Fixed: `https://github.com/paralin/openshift-under-kubernetes/commit/3b49b8cb7f5f01ee7fa680eab20814eb9fdaf37d`

[2016-03-17 19:46] bparees commented on #8074
@paralin discussed here: https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs

[2016-03-17 19:58] derekwaynecarr commented on #6766
cpu limits must be >= 10m

https://github.com/kubernetes/kubernetes/pull/23143

[2016-03-17 20:01] mrunalp commented on #7616
@smarterclayton The entire journal. That's where we can grep and search for ooms (that could be a possible race when cgroup.procs go missing).

[2016-03-17 20:03] jwforres opened #8106 "Should not be able to edit a PVC that has been bound to a PV"
In the web console I shouldn't be able to edit a PVC once it has been bound.  The api server has added validation that prevents the spec from being modified once it is bound so it will throw an error, so we should remove the action completely on bound PVCs.

[2016-03-17 20:03] jwforres commented on #8106
@fabianofranz @spadgett

[2016-03-17 20:04] jwforres commented on #8106
cc @markturansky

[2016-03-17 20:11] markturansky commented on #8106
PVCs are "Bound" when `pvc.Spec.VolumeName != ""`

[2016-03-17 20:42] brenton commented on #8077
openshift-sdn-ovs isn't a hard dependency.  I would suspect there's a bug in the playbook.  @sureddy, could you move this over to the https://github.com/openshift/openshift-ansible repo?

[2016-03-17 21:46] liggitt commented on #8031
Can you use curl with the ca, client cert and key referenced in the master config to hit the same URL?

[code]

[2016-03-17 23:31] #7811 closed

[2016-03-17 23:39] kargakis commented on #8039
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/13102/consoleFull
Back again:/

[2016-03-18 00:01] paralin commented on #8074
Big props to your work on the web UI. Much easier to make quick tweaks to things like the trigger list and such.

Log level 5:

[code]

Odd also that it says it can't "put builds". This is probably related to another issue I made regarding the internal Kube stuff.

[2016-03-18 00:02] paralin commented on #8093
Okay fixed I suppose

[2016-03-18 00:02] #8093 closed

[2016-03-18 00:06] liggitt commented on #8093
Only because that makes the master stop verifying the TLS connection to the node. The nodes also may not even be verifying the client cert presented by the master.

[2016-03-18 00:08] paralin commented on #8093
@liggitt I don't know where the CA for the kubelets comes from - It's something I'll look into at a later point. If it's a tiny bit insecure right now I'd prefer that to the logs not working at all.

[2016-03-18 00:12] liggitt commented on #8093
Right. You'd have to check how the kube API server is being invoked. It is likely doing the same thing (not verifying the kubelet and not authenticating to the kubelet)

[2016-03-18 00:41] paralin opened #8110 "External Kubernetes: Builder and registry attempt to hit the base Kubernetes API instead of the OpenShift API for OpenShift resources"
Running under Kubernetes as usual.

Here are the build errors, notice the error near the beginning about being unable to PUT builds:

[code]

While the error did not fail out the build, and registry errors resulted in the push failure, I think this indicates that the registry may be attempting to connect to the Kubernetes cluster host instead of the openshift master, despite OPENSHIFT_MASTER being