[2015-03-06 16:26] jimmidyson commented on #1228
@bparees So using the "webhook on build complete" would mean that the workflow for build pipelines would have to be managed externally to OpenShift? You could do linear pipelines A->B->C in OpenShift using the webhooks there but for any more complex e.g. fan out/fan in pipelines would require an external engine to receive the webhook & process accordingly. If that is the case then definitely need

[2015-03-06 16:34] bparees commented on #1228
@soltysh the git info is optional.  what other input information do you feel should be supplied on an input trigger?

@jimmidyson I'm definitely not looking to tackle fan in with the card i created.  we need to be careful how far we go here as we're not trying to turn openshift into the ultimate build management tool.  I'm ok with adding "triggerOnFailure:true/false" as part of the output trigger

[2015-03-06 16:48] soltysh commented on #1228
Some info regarding the source of the invocation, if that was build then some info about that build.

[2015-03-06 16:58] jimmidyson commented on #1228
@bparees - boooo! As long as we can trigger on completion then we can build whatever we need on top of that I guess.

[2015-03-06 17:00] soltysh commented on #1228
@bparees but this might lead us to adding every now and then new field to the generic webhook, thus I'd prefer to have some generic info there, rather then specific fields each for its own purpose.

[2015-03-06 17:05] smarterclayton commented on #1242
In general, the 3rd option is most sane.  We have systemd container for this, also supervisor and a few others.  None of them are ideal.  The important thing is that haproxy must know it is being restarted.

There may be a golang library already for acting as pid 1 - you should investigate that.

[2015-03-06 17:29] pweil- commented on #1242
@smarterclayton

HAProxy knows it is being restarted, the old pid is stopped and is defunct. I think the issue is the parent process (the router plugin) doesn't care and isn't gathering the exit code so it lingers until the parent process stops (which running under init would do if it inherited the child).

But, I can do this without anything crazy or OS specific code if I have the restart script

[2015-03-06 19:21] smarterclayton commented on #1242
There's a golang process manager written by brad fitz.  It's worth a look.

[2015-03-06 19:35] pweil- commented on #1242
checking out dinit, and baseimage-docker.  Will check that one out too.

[2015-03-06 19:37] smarterclayton commented on #1242
BaseImage docker is a terrible pattern

[2015-03-06 19:47] pweil- commented on #1242
`rm -Rf pauls_brain/baseimage-docker`

[2015-03-06 20:00] bparees commented on #1158
I have a theory on what is happening here...  @ironcladlou you're most familiar w/ the watch logic so maybe you can confirm.

1) we create the image repo with the "ref-1" tag
2) we create the buildconfig w/ the imagechangetrigger
3) the image change controller gets the event for the imagerepo creation *after* the buildconfig was created
4) the image change controller triggers a build using the "re

[2015-03-06 20:27] brenton opened #1249 ""openshift ex login" fails with "unknown flag: --certificate-authority""
We need this for beta2 and @sdodson noticed it's failing.  I just built the lasted origin and I see the same problem.

[code]

[2015-03-06 21:41] #1158 closed

[2015-03-07 21:19] smarterclayton commented on #1228
To clarify, outbound web hooks are different from inbound webhooks.  Triggers are inbound, there should be something else (a different list) that defines outbound.  Maybe notifications.

[2015-03-07 21:39] smarterclayton commented on #1228
Whatever we do here should be logically consistent with deployment configs and #1224.  A deployment and a build have similar characteristics (a process that runs to completion, is triggered, and which has an outcome).  While a deployment hook is not the same thing as a completion notification, the "triggers", "hooks", "notifications" triangle should be preserved.  Builds may have externally define

[2015-03-08 00:06] rawlingsj commented on #1214
hi @ironcladlou, yes it's as you've described.  If it helps the build config I'm using is below which you should be able to run.  Just getting to grips with it all so there's every chance there's something in the way I've set up the triggers that's causing the problem, but if that's the case there maybe something we can do to protect against this endless loop.

[code]

[2015-03-08 03:34] bparees commented on #1228
@smarterclayton yes outbound vs inbound will be distinct sections, i think the subtlety is in the fact that the initial use case for outbound webhooks will be to call our inbound webhooks, so obviously we need to ensure that connection is logical.

i'm currently envisioning that the outbound webhook configuration will look something like:
url: (url to call, get parameters can be specified as part

[2015-03-09 03:00] smarterclayton commented on #1228
Before we go any further with this, I'd like everyone involved to read through the api and feature design of:

* Go CD http://www.go.cd/documentation/user/current/introduction/concepts_in_go.html

And also take a look at what Jenkins build pipeline does:

* https://wiki.jenkins-ci.org/display/JENKINS/Build+Pipeline+Plugin

Both offer deep pipelines of flow.  The questions we have to answer every t

[2015-03-09 04:56] smarterclayton opened #1255 "test-integration.sh not required anymore in make test"
test-integration-docker.sh runs all the tests that test-integration.sh runs.

[2015-03-09 05:04] smarterclayton commented on #1245
@fabianofranz something we should fix upstream

[2015-03-09 05:06] smarterclayton commented on #1244
I'm really hesitant to introduce hierarchy but I agree the use case is valid and we need to have a way to solve this for efficiency reasons.  I do *not* want to do nested ACL traversals, but there may be a way to simplify this.  We should try to sketch out a couple of designs on how to do this.

[2015-03-09 05:09] smarterclayton commented on #1243
We have swagger, which is supposed to most of this.  Upstream has been tracking towards a fix for some of the issues.  However, we're still gated by the golang JSON parser which (while generally awesome) has some limitations when you want to deeply control the structure.  That's covered by https://github.com/GoogleCloudPlatform/kubernetes/issues/3338 which I'll say covers this issue.

[2015-03-09 05:09] #1243 closed

[2015-03-09 05:13] smarterclayton commented on #1242
My preferred solution here would be a simple addition to our Go binaries which detect when they are PID 1 and enable a simple minimal behavior for reaping (Wait on child processes in a goroutine) and proper signal handling.  Docker may already have this from the old dockerinit code - I'd be surprised if someone hasn't handled it. @mrunalp you aware of anything like that?

[2015-03-09 05:14] #1234 closed

[2015-03-09 05:15] #1198 closed

[2015-03-09 05:15] smarterclayton commented on #1175
As a side node I think we should invert --create and make it the default, with --dry-run or --check being the optional behavior.

[2015-03-09 05:15] #1137 closed

[2015-03-09 05:16] smarterclayton commented on #1123
Can you get the log output of the deployment pod?

[2015-03-09 06:06] mrunalp commented on #1242
@smarterclayton delved into that last week in lib container. Should be possible to put something together. I will take a closer look at the router tomorrow and see what we can do.

[2015-03-09 08:11] jstrachan commented on #1244
Agreed. I'm hoping this can be lightweight really and not involve massive changes.

Mostly its about having an easy way to discover services in a parent/inherited namespace; we could maybe leave the ACL stuff as it is (each namespace defines its own ACL) and just have a way to import services (e.g. populate the service environment variables for inherited services etc)

[2015-03-09 08:27] jstrachan commented on #1228
Agreed. I'm thinking having a way to chain sequential builds together seems too limiting right now; I'd prefer inbound triggers so we can support fan out. Ideally we'd need fan in (joining) and to configure build retries and so forth too.

Maybe its better to try develop a separate prototype "build pipeline engine" above OpenShift which takes a pipeline model of how builds are chained together (wi

[2015-03-09 12:30] pweil- commented on #1242
@smarterclayton @mrunalp - that doesn't seem too difficult.  I will wait to see if Mrunal knows of something already done.  I looked at runsit, it seems to do the trick but makes setting up the image a little less obvious.  Still solvable but if we'd prefer a simpler solution (I would) then I won't spend more time diving in.

@mrunalp - let me know if there is anything I can do to help

[2015-03-09 13:07] deads2k commented on #1249
It's a bizarre and misleading error message that I'll look into, but for now eliminating the `name` flag.  `name` doesn't exist and it's causing instigating the failure resulting in the bad message.

[2015-03-09 13:51] brenton commented on #1249
QE found this too so I'm going to assign it to you: https://bugzilla.redhat.com/show_bug.cgi?id=1199954

[2015-03-09 13:51] brenton commented on #1249
Sorry, didn't mean to hit "close". :)

[2015-03-09 14:18] ironcladlou commented on #1214
@pmorie @smarterclayton @bparees

I haven't yet tried to reproduce this use case, but I can imagine that if a build succeeds and produces a new image which can't actually be used to run containers for whatever reason, the following would happen:

1. Deployment is triggered based on new tag
2. Deployment strategy turns up the replicas for the new deployment
3. Kubelet spins up containers
4. Contain

[2015-03-09 14:23] deads2k commented on #1249
It's caused because of this `if` block:  https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/spf13/cobra/command.go#L462

@fabianofranz You've spent some time in cobra, any idea why this is special cased?  It seems like it would be covered in one of the two cases directly above.  Upon exiting here: https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/g

[2015-03-09 14:25] smarterclayton commented on #1214
----- Original Message -----

5 is a flaw in the Kubelet.

It's the Kubelet's decision to control this behavior and mark pods as not ready or perm failed.  The replication controllers should recognize perm failed.  The deployment process will eventually need to recognize perm failed.  At a minimum, the deployment process needs to observe the rollout of the deployment for failure-like behavior and

[2015-03-09 14:30] ppalaga commented on #1123
I hope this is what you want:
[code]

[code]

[2015-03-09 14:36] ironcladlou commented on #1214
Okay, so dead container accumulation is beside the point.

...

Should this issue basically serve as a use case for rolling deployment? I agree that the rolling strategy will need to start taking terminal states into account and also deal with failure modes arising from failed pods.

[2015-03-09 16:05] ppalaga commented on #1123
I guess that `10.0.2.15:8443` is supposed to be the master. Looking at master, I see the following:

(1)  `10.0.2.15` is up:
[code]

(2) But the `8443` port seems to be served only over ipv6:

[code]

[2015-03-09 16:09] ppalaga commented on #1123
It looks like setting `KUBERNETES_MASTER` has no effect:
[code]

[2015-03-09 16:16] ncdc commented on #1123
Do you have firewalld enabled?

[2015-03-09 16:26] ppalaga commented on #1123
No, `firewalld` is off on master:
[code]

[2015-03-09 17:11] kargakis commented on #1123
Confirming that
http://pastebin.com/66b1Y0DV

[2015-03-09 17:12] mrunalp commented on #1242
@pweil- I am going to prototype what @smarterclayton suggested; basically make the process act as a simple init that reaps zombies. If it works reliably, then we can use that else look for a real init.

[2015-03-09 17:25] pweil- commented on #1242
@mrunalp - this may not be the ideal implementation since it doesn't catch /any/ child process but it seemed to work fine for me as a general solution.  https://github.com/openshift/origin/compare/master...pweil-:router-reaper

[2015-03-09 18:43] brenton opened #1261 "Portal's are not namespaced"
If I run `openshift ex registry --create` today it will create a service in the default namespace called docker-registry.  If I then create a project and create a service in that probject with the same name as the (but different IP) it will shadow the original one thereby breaking my registry.

[2015-03-09 18:45] brenton commented on #1261
@derekwaynecarr, @smarterclayton, do you happen to know if there is upcoming work in kubernetes to prevent this from happening?

[2015-03-09 18:48] smarterclayton commented on #1261
You said "create a project and a service in that project" it will shadow it - docker-registry shouldn't be showing up in other projects anyway?

[2015-03-09 18:54] brenton commented on #1261
That was really just an example.  I hit this in another case where two templates I used happen to create services with the same name.  What I'm trying to say is that if anyone in another namespace creates a service that happens to match the name of someone else's it will break their service's iptables nat rule.

[2015-03-09 19:04] ncdc commented on #1261
@brenton is this the same issue (upstream)? https://github.com/GoogleCloudPlatform/kubernetes/issues/4288

[2015-03-09 19:13] brenton commented on #1261
That is exactly issue.  My github issue search-fu failed me.

[2015-03-09 19:13] #1261 closed

[2015-03-09 19:23] brenton commented on #1261
@jianlinliu, this would a good situation to have a test case for.  We'll likely get the fix during the next kubernetes rebase.

[2015-03-09 19:31] #1255 closed

[2015-03-09 23:16] bparees commented on #1228
@jstrachan Was there a particular use case you had in mind that lead to this, or were you just identifying a general gap?  I'm asking mainly so we can put the right priority around this and also figure out if we need to do something tactical in the short term to address it.

[2015-03-10 12:40] kargakis commented on #1115
This has been fixed now

[2015-03-10 12:54] TomasTomecek commented on #1115
is this part of 0.4.1?

[2015-03-10 12:57] kargakis commented on #1115
Yes. See https://github.com/openshift/origin/releases/tag/v0.4.1
It was an upstream problem

[2015-03-10 13:11] TomasTomecek commented on #1115
I asked because I was lazy to dig in origin's or k8s' git.

[2015-03-10 13:33] brenton commented on #1115
@jianlinliu, we should have an OSE 0.4.1 build soon.  Can you have someone at a regression test for this case so we verify it in beta3?

[2015-03-10 13:56] thoraxe commented on #1115
So is this not in 0.4.0?

[2015-03-10 14:28] ppalaga commented on #1123
Upgrading to v0.4.1 solves the problem. It was probably fixed by this commit: https://github.com/openshift/origin/commit/b60ea6714b1476e40c5f85c1963567a6acb1830b

Thank you all for the assistance!

[2015-03-10 14:28] #1123 closed

[2015-03-10 14:43] brenton commented on #1115
@thoraxe, correct.  The logs for running builds should at least work for OSE v0.4 now that the permissions problem was resolved.

[2015-03-10 15:21] TomasTomecek opened #1268 "no errors when logging to console using non-existent usernames/passwords"
I just tried logging in to console by typing whatever and when I submitted the form, the page didn't output anything. I find this to be a UX bug.

[2015-03-10 15:58] sdodson commented on #1236
It looks like this may be covered in https://github.com/GoogleCloudPlatform/kubernetes/issues/2959 but I've created https://github.com/GoogleCloudPlatform/kubernetes/issues/5250

[2015-03-10 19:41] jmccormick2001 opened #1271 "curl to Kube API not working starting with v.0.4"
in v0.3.4 I was able to enter curl commands to the Kube API, but it appears
starting in v.0.4 and also in v.0.4.1 I now get a "Forbidden" error.

command I'm testing with:
curl -X GET https://admin:admin@192.168.0.108:8443/api/v1beta1/pods

I have the following env vars set:

CURL_CA_BUNDLE=/home/jeffmc/origin-0.3.4/origin/openshift.local.certificates/admin/root.crt
KUBECONFIG=/home/jeffmc/origin-

[2015-03-10 20:52] rawlingsj opened #1272 "[custom build] image isn't getting custom environment variables that are set"
I've double checked and I can't see that I'm doing anything wrong but I admit what I'm seeing does sound strange.

I'm using a custom build image to run a bash script.  The default openshift env vars (for example $OUTPUT_IMAGE and $OUTPUT_REGISTRY) are available however any custom ones I use in the build strategy don't seem to be available - I followed the same approach detailed here https://githu

[2015-03-10 20:53] rawlingsj commented on #1272
This is using the Openshift v0.3.4 docker image

[2015-03-10 21:39] smarterclayton commented on #1214
Yes, and the primary mechanism needs to be the upstream rolling update code (let's get the behavior right there).

[2015-03-10 22:11] bparees commented on #333
https://trello.com/c/jaBsS4IZ/520-name-builds-sequentially

[2015-03-10 22:12] bparees commented on #528
https://trello.com/c/jaBsS4IZ/520-name-builds-sequentially

[2015-03-10 22:16] bparees commented on #332
https://trello.com/c/UPzNPdLM/521-timestamp-for-build-completion-time

[2015-03-11 06:10] jstrachan commented on #1228
There's a bit of background here: https://github.com/fabric8io/fabric8/issues/3541.

Generally fabric8 users want an integrated Continuous Deployment pipeline tool. Once an image is created (e.g. by the initial CI flow or STI in OpenShift) they want the image to move through multiple environments (soak testing -> regression testing -> UAT -> staging -> production) where workflow pipelines are used

[2015-03-11 12:23] soltysh commented on #1228
After spending some time reading through the discussion once again, I came up with this idea. I'd propose to create an interface, which will be capable of returning info about the result in a generic way so that interested parties will be able to consume it. This way we'll create basics for building quite complicated pipelines with different resource types. Currently I'm thinking about Builds and

[2015-03-11 14:47] thoraxe opened #1279 "[RFE] support "additive" scripts for STI process"
Currently, when customizing the STI scripts, one must take the original script and then add to it.

It would be nice if we supported some kind of additive mechnaism. Either by indicating it in the script, or by having a script of the same name with a number (eg: ##-assemble [happens before assemble] and assemble-## [happens after assemble])

[2015-03-11 14:48] bparees commented on #1279
this should be opened against https://github.com/openshift/source-to-image instead as that is the component that provides the override functionality.

[2015-03-11 16:05] thoraxe opened #1283 "quota not being enforced"
when creating a project with a quota limiting to 3 pods, I am finding that I can create more pods without issue.

[code]

[code]

[code]

[2015-03-11 16:44] akram commented on #1084
@smarterclayton according to our discussion, it looks like that at some point we used a buggy behaviour of the template creation that were doing creation of the pods even on template creation.

We do agree that ```osc create file.json``` on a template file only creates the template
Where, ```osc process file.json | osc create -f -```process the template and hence create the pods

[2015-03-11 16:44] #1084 closed

[2015-03-11 17:11] jmccormick2001 commented on #1271
I have it working using this curl command:

export CURL_CA_BUNDLE=/home/jeffmc/originmaster/origin/openshift.local.certificates/admin/root.crt
cd origin/openshift.local.certficates
curl --key ./admin/key.key  --cert ./admin/cert.crt https://192.168.0.108:8443/api/v1beta1/pods

[2015-03-11 17:11] #1271 closed

[2015-03-11 17:29] bparees commented on #1228
@soltysh isn't that interface the Build REST resource?  The Build object contains the Status field that indicates the outcome.

[2015-03-11 17:39] brenton opened #1285 ""openshift ex" commands trigger the SkyDNS port configuration logic"
If you are running SkyDNS on port 53 and then on the same system (or any system listening on port 53) attempt to run "openshift ex router" you see this error message:

[code]

This is really minor, but it would likely cause confusion during beta3 since we rely a lot on the experimental commands.

[2015-03-11 18:20] csrwng opened #1286 "Docker image registry client not locating images for new-app"

[2015-03-11 18:22] csrwng opened #1287 "Dockerfile context not used in generated BuildConfig with 'openshift ex generate'"
Context is specified in the command line but is not included in the output BuildConfig

[2015-03-11 18:55] thoraxe commented on #1279
Opened: https://github.com/openshift/source-to-image/issues/154

[2015-03-11 18:55] #1279 closed

[2015-03-11 19:06] thoraxe opened #1288 ""ex generate" doesn't create services for all exposed ports in Dockerfile"
Given the Dockerfile at https://github.com/thoraxe/centos7-wordpress/blob/master/Dockerfile

The following JSON is generated:

[code]

Only a single service is created, and trying to specify multiple ports with "-p" does not work.

[2015-03-11 20:58] soltysh commented on #1228
@bparees I was thinking about something more than just Status field, besides my idea was to generalize this output so we can put other resources underneath it, eg. Deployments.

[2015-03-11 20:59] pweil- opened #1289 "Rollback orchestration with routes"
@thoraxe noticed that while performing a rollback you can get into a situation where the current pods are deleted prior to the service being updated with new endpoints.  The effect on the route was that you would receive a 503 until the new pods are up and can be resolved by the router.

Opening this issue to discuss if we can orchestrate the ordering of rollback, if we want to possibly use route

[2015-03-11 21:05] ironcladlou commented on #1289
I wonder if this would be naturally resolved for deployments using a rolling strategy (coming soon). Rollbacks for deployments using the recreate strategy (all of them) inherently have the race you describe since they don't benefit from any availability checking, checkpointing, etc that would be present in a smarter (e.g. rolling) strategy.

[2015-03-11 21:09] abhgupta commented on #1289
@ironcladlou beat me to it. I would completely agree. We should handle this with rolling deployments and other deployment strategies that can be created to deal with any specific cases.

[2015-03-11 21:15] abhgupta commented on #1289
@pweil- route parking would not be my first approach for the default implementation. That is an option that can be excercised during upgrades that will require downtime. Eventually, we could have a deployment strategy that did "park" the routes during a deployment.

[2015-03-11 21:16] pweil- commented on #1289
I agree that it does sound like a rolling strategy is what we're looking for here.

[2015-03-11 21:47] csrwng commented on #1288
@thoraxe - this is by design. @smarterclayton thought that we shouldn't try to do too much in the generation tools. If you specify a port, we use that, otherwise we pick the first (lowest in number) and generate a service for that. If you need more, you can edit the resulting config.

[2015-03-11 21:48] csrwng commented on #1286
Closing. This is not the issue.

[2015-03-11 21:48] #1286 closed

[2015-03-12 03:27] smarterclayton commented on #1228
Why would a build rest result contain arbitrary resources?  In general if the types are specific we should use something strongly typed vs generic.  Would like to see a proposal before we go too far here

[2015-03-12 16:01] sdodson opened #1296 "--etcd flag does not accept a list of machines"
--etcd flag should accept a list of etcd 'machines' for HA purposes. It currently only allows you to provide one machine and will automatically determine the leader from there, but if that machine is down openshift will fail even if there's still a majority available.

[2015-03-12 17:15] derekwaynecarr commented on #1283
There was a bug upstream where compare and swap was swallowing an error that broke quota.  I will investigate if this is the same underlying issue.

Sent from my iPhone

[2015-03-12 19:23] rawlingsj commented on #1272
I've created a simple custom builder image that recreates the issue.  The build config is below, the image is on docker hub so anyone can run it.  The image runs a bash script

https://github.com/rawlingsj/builder-issue/blob/master/builder.sh

and echo's an openshift env var as well as a custom one set in the build config, the later is not available in the image and can be seen by looking at the e

[2015-03-12 19:25] rawlingsj commented on #1272
Output from running the above is..
[code]
You can see the custom env vars are not set.

[2015-03-12 20:09] jmccormick2001 opened #1300 "skydns errors"
running the master branch today, skydns is working, but I'm seeing many lines in the log
that appear to be errors:

2015/03/12 15:58:16 skydns: can not forward, name too short (less than 2 labels): `othyupzude.'
2015/03/12 15:58:16 skydns: can not forward, name too short (less than 2 labels): `tfyvmhdrkgirb.'
2015/03/12 15:58:16 skydns: can not forward, name too short (less than 2 labels): `aqmiin

[2015-03-12 22:00] hingstarne opened #1302 "Keep openshift.spec uptodate"
Dear all,

i would appreciate if it would be possible to have the https://github.com/openshift/origin/blob/master/openshift.spec file uptodate at least in the released versions. Due to the multiple parts that needs to be updated for every build it would be nice to have it generic like the build scripts.

[2015-03-13 04:24] detiber commented on #1302
@hingstarne The spec file is managed by tito (http://rm-rf.ca/tito).  You can generate the rpm from a checkout using tito build --test --rpm

[2015-03-13 09:19] hingstarne commented on #1302
@detiber
Thank you for your reply. But in the following output the package should be version 0.3.1 and not hardcoded 0.2.2 release 4 . So this tito workflow is very nice indeed but it does not cover the version numbering at the moment or did i used tito in a wrong way?

[code]

[2015-03-13 13:07] soltysh commented on #1272
You have an error in strategy definition, `env` is part of `customStrategy` (see [here](https://github.com/openshift/origin/blob/master/pkg/build/api/types.go#L177)). So that part should look like this:

[code]

[2015-03-13 13:42] detiber commented on #1302
@hingstarne you are indeed correct. you would need to either edit the version in the spec file before doing `tito build --test --rpm`.

@brenton @smarterclayton: can we incorporate `tito tag` into the release tagging process or origin?

[2015-03-13 14:06] hingstarne commented on #1302
@detiber
Is this part handled by tito tag too?

[code]

[2015-03-13 14:09] brenton commented on #1302
I think the intention is for Origin to be deployed solely as containers.  The rpm spec file is there to provide distro maintainers a starting point.  I'm not totally sure we'll stick with this tito process much longer anyway so this may go away.

I guess technically since we need a git tag to create the releases in github we could technically do it with tito.  I'll defer to clayton if he's OK with

[2015-03-13 14:14] brenton commented on #1302
@hingstarne, tito does handle that.  It's done by a custom plugin under https://github.com/openshift/origin/tree/master/rel-eng/lib/openshift.  However, I'm not sure if the latest tito plugin has made it to this repo yet.

It's related to the larger discussion of "do we even want to continue using tito".  @sdodson, I'm guessing the tito plugin is pretty stable now.  Would you want to create a PR a

[2015-03-13 14:57] sdodson commented on #1302
tito will update the ldflags so the resultant binary will properly identify its version. However, unfortunately it will not update the version and release in the specfile so the rpm version will be incorrect. This is in the custom builder and tagger already.

I was getting close to having tito tag things in the format that the scripts in hack/ expect 'vX.Y.Z' I think if we do that we could use tit

[2015-03-13 18:00] rawlingsj commented on #1272
ah many thanks @soltysh!

[2015-03-13 18:00] #1272 closed

[2015-03-14 03:30] smarterclayton commented on #1300
That's very strange - it looks like you have something hitting your DNS endpoint that is not Openshift.  Or something is misconfigured in the containers.

[2015-03-14 03:32] smarterclayton commented on #1289
Also without graceful shutdown you can't prevent connections from being interrupted.  Rolling and that need to land, with readiness checks taking the third part.  Endpoints on containers going down should be updated more rapidly which depends on kubelet posting status.

[2015-03-14 03:33] smarterclayton commented on #1289
A pod going into shutdown should remove its endpoint immediately

[2015-03-14 03:34] smarterclayton commented on #1288
We'll eventually have "expose-port"

[2015-03-14 03:51] #1151 closed

[2015-03-14 16:12] smarterclayton commented on #1242
Fixt

[2015-03-14 16:12] #1242 closed

[2015-03-14 17:18] sdodson commented on #1302
https://github.com/openshift/origin/pull/1309 should allow one to use tito to tag the repo without breaking the normal hack/build-go.sh build process. We should discuss how / if we want to use this in the normal release process.

[2015-03-15 17:45] kargakis opened #1312 "Duplicate libraries in bundled dependencies"
We currently bundle

[code.google.com/p/goauth2/oauth](https://github.com/openshift/origin/blob/ab1d409b09155dcd691c4148699aaf3a09c5846f/Godeps/Godeps.json#L19)
[golang.org/x/oauth2](https://github.com/openshift/origin/blob/ab1d409b09155dcd691c4148699aaf3a09c5846f/Godeps/Godeps.json#L725) (which redirects to [github.com/golang/oauth2](https://github.com/golang/oauth2))

and

[code.google.com/p/gop

[2015-03-16 03:53] smarterclayton commented on #1312
Some of these are coming from upstream dependencies - can you find those and open issues / pulls to them?

[2015-03-16 04:13] smarterclayton opened #1315 "TestOnlyResolveRolesForBindingsThatMatter is flaky"
Test failed in 1.3 on Travis a few times:

[code]

[2015-03-16 04:15] smarterclayton commented on #1285
Fixed in #1263

[2015-03-16 04:15] #1285 closed

[2015-03-16 09:33] jstrachan opened #1317 "webhooks to work with gogs and github projects"
we've been trying to setup [gogs](http://gogs.io/) which uses github style webhooks so that a git push in gogs results in a new build in OpenShift. There's no errors in openshift but the webhook request is ignored.

However we can use the webhook REST API (generic) without passing any payload and it works fine - a build is actually triggered. (We use this in hawtio-kubernetes to trigger new builds

[2015-03-16 12:29] kargakis commented on #1312
For protobuf, we need to rebase the Prometheus client (they started bundling their dependencies so I think we won't need to import protobuf)

[2015-03-16 12:39] kargakis commented on #1312
For protobuf, we need to rebase the Prometheus client (they already made the switch), etcd (they still haven't replaced the google code links though), the golang-protobuf-extensions ([they also have made the switch](https://github.com/matttproud/golang_protobuf_extensions/commit/a54dae06c0faf29d6809624404a44565a1097efe)).

[2015-03-16 16:16] csrwng commented on #1288
@smarterclayton - are we going to take a list of ports in the expose-port flag?

[2015-03-16 16:51] kargakis opened #1321 "Incorrect error message when using osc create"
I am trying to set up a list of buildConfigs (`test.json`) in Vagrant:
[code]

Obviously, my json file has an error (or many) but it definitely doesn't have to do with converting a YAML file to JSON.

[2015-03-16 21:49] jmccormick2001 commented on #1300
interestingly, I started fresh with origin master today, and started getting these same errors immediately after running "osc process  -f cpm-template.json  | osc create -f -" and "osc process -f cpm-admin-template.json  | osc create -f -", I don't get these errors in the log afterwards it appears, crazy, I'll do some more debugging and try to narrow this down.

[2015-03-17 06:07] smarterclayton commented on #1321
This is covered by other changes upstream - Kubernetes #5533

[2015-03-17 06:09] smarterclayton commented on #1317
Are you using the generic webhook?  That's what supports arbitrary schemas.

[2015-03-17 06:21] jstrachan commented on #1317
Yes, generic webhook.

[2015-03-17 06:22] jstrachan commented on #1317
Our workaround for now is to write a custom proxy to strip the JSON payload out and send an empty body so that we can get gogs to trigger builds on a git push

[2015-03-17 11:01] jim-minter commented on #268
Now that there are more installation pieces for standard usage, personally this doesn't bother me any more.

[2015-03-17 13:26] smarterclayton commented on #268
You ok with closing then?

[2015-03-17 13:30] jim-minter commented on #268
Yes.

[2015-03-17 15:34] #268 closed

[2015-03-17 15:45] soltysh commented on #1317
@jstrachan if you have a look at our webhook controller, you'll notice we're sending the error back to the source of the request (see [here](https://github.com/openshift/origin/blob/master/pkg/build/webhook/controller.go#L72-L76)). The other things being checked besides json are listed [here](https://github.com/openshift/origin/blob/master/pkg/build/webhook/generic/generic.go#L66-L79), this includ

[2015-03-17 17:30] jwforres commented on #1171
Fixed in #1325

[2015-03-17 17:30] #1171 closed

[2015-03-17 17:41] deads2k opened #1335 "config - resolve relative file references relative to the master and node config files"

[2015-03-17 17:42] deads2k opened #1336 "config - write out bootstrap roles and role bindings"

[2015-03-17 17:43] deads2k opened #1337 "config - create certificates and users for...."
- [x] router
 - [x] registry

@liggitt  others?

[2015-03-17 17:45] deads2k opened #1338 "config - validation"
need validation for master and node config files.  This includes:

 - [x] fields filled in
 - [x] certs provided for tls connections
 - [ ] certs signed by correct CA
 - [x] agreement on addresses
 - [ ] client connections pointing to started servers
 - [x] fields have correct format

[2015-03-17 17:46] deads2k opened #1339 "config - make auth config"
allow configuring options for the oauth endpoint chains.

[2015-03-17 17:47] deads2k opened #1341 "config - create certs ahead of time for the vagrant environment"

[2015-03-17 17:50] liggitt commented on #1337
add roles/bindings at the same time

[2015-03-17 17:50] liggitt commented on #1337
role/binding for node group, probably

[2015-03-17 17:50] smarterclayton commented on #1317
Generic web hooks should not fail if the JSON is invalid, period.  We should log it, and move on.

----- Original Message -----

[2015-03-17 19:43] soltysh commented on #1317
@smarterclayton updated PR with that behavior.

[2015-03-17 20:27] jwforres opened #1342 "Oauth server not handling state when requesting a token directly"
This results in the web console not returning to the page you were previously on before being redirected to login.

[2015-03-18 01:15] smarterclayton opened #1348 "'osc login' displays no help options"
[code]

can't see help options, not very useful.

[2015-03-18 01:19] smarterclayton opened #1349 "`osc project` doesn't check context first"
If I have a context set called "foo" and I do `osc project foo`, I should go into that context.  The current code does not do that - I'm pretty sure I added that as a comment on that pull request.

[2015-03-18 01:20] smarterclayton opened #1350 "`osc project` doesn't use the provided 'out' io.Writer"
It should.

[2015-03-18 01:38] smarterclayton opened #1351 "Triggered panic during regular update"
When updating this object:

[code]
to
[code]

[code]

Also, the panic should have been recovered.

[2015-03-18 08:35] TomasTomecek opened #1352 "running all-in-one openshift on localhost: lots of 403"
Running it as `openshift start --loglevel=5 --listen=https://127.0.0.1:8443/ --master=https://127.0.0.1:8443/`

First error:
[code]
and plenty of these:
[code]

Looks like that everything ends with 403.

0.4.1 release

EDIT: auth setup:
[code]

[2015-03-18 09:04] jimmidyson opened #1353 "Support Github compatible webhooks from non-Github sources"
Some other services, e.g. Gogs (https://github.com/gogits/gogs) have chosen to adopt the Github API as a de-facto standard & be fully compliant with it. This includes webhooks: they are sent in the same format, with the same info as a Github webhook.

The Github webhook currently checks that the webhook actually comes from Github by checking the `User-Agent` & `X-GitHub-Event` headers (https://git

[2015-03-18 14:31] fabianofranz commented on #1348
I have a TODO for this one, the major reason is that all flags in `login` are also persistent flags, and we are hiding the persistent ones by default. We need a way in our templates or Cobra to be able to display some pre-selected flags even if they are persistent. So 2 things:

 - Expose `server`, `context`, `username`, `password`, `insecure-skip-tls-verify` and other persistent flags that have a

[2015-03-18 14:35] deads2k commented on #1335
@liggitt This has merged, correct?

[2015-03-18 14:35] liggitt commented on #1335
yes

[2015-03-18 14:35] liggitt commented on #1335
resolved by https://github.com/openshift/origin/pull/1340

[2015-03-18 15:34] brenton commented on #1126
As best I can tell this has greatly improved with the latest rebase.  I'm going to close this for now.

[2015-03-18 15:34] #1126 closed

[2015-03-18 16:49] thoraxe commented on #1249
Should we close this since "osc login" is now a "real" command? @brenton

[2015-03-18 16:51] thoraxe opened #1356 ""osc login" generates bad .config file"
After running:

[code]

[2015-03-18 17:05] brenton commented on #1283
Looks like this is fixed in the latest builds.

[2015-03-18 17:05] #1283 closed

[2015-03-18 17:20] sdodson opened #1357 "openshift admin create-server-cert stutters"
This throws an error as the flags are --**signer-signer**-{cert,key,serial} rather than other commands which are --**signer**-{cert,key,serial}
[code]

[2015-03-18 17:24] thoraxe opened #1358 "console says "to port 0" in service overview"
[code]

Looking at the overview page:
`hello-openshift-service - routing TCP traffic on 172.30.17.151:27017 to port 0`

Shouldn't this say "to port 8080" as that is where the pod is listening?

Here's the definition JSON for the whole thing:

[code]

[2015-03-18 18:00] #1357 closed

[2015-03-18 18:15] bparees commented on #134
@deads2k this is the issue i was thinking of, guess it was in fact still in progress, sounds like you're fixing it so thanks! :)

[2015-03-18 18:17] deads2k commented on #134
@bparees see https://github.com/openshift/origin/pull/1257

[2015-03-18 18:26] #1356 closed

[2015-03-18 18:43] thoraxe opened #1363 "when starting a build if you are at your pod quota, insufficient information is relayed to user"
[code]

[code]

[code]

[code]

When I attempt to start this build, I should be told that I have reached my limit or something to that affect. If I try to create a pod directly:

[code]

In the current state, the build will just look like it's never starting, but I won't really have an idea why.

[2015-03-18 18:49] derekwaynecarr commented on #1363
There were changes upstream to ensure that we do not count inactive pods against your active quota.
https://github.com/GoogleCloudPlatform/kubernetes/pull/4803

The issue here is that the code that kicks off builds needs to better handle a 403 response when the quota limit is reached to error appropriately.

[2015-03-18 18:50] derekwaynecarr commented on #1363
In a related issue, see https://trello.com/c/1dZ3gw5l/372-as-an-openshift-operator-i-need-a-way-to-set-default-resource-usages-for-pods-run-in-the-system-quota-codefreeze - where we need to ensure that builds we run actually have cpu/memory limits applied to them.  Once we do that, we will also potentially run into states where user is exceeding allowed cpu and memory limits of the project.

[2015-03-18 18:58] fabianofranz commented on #1356
Fixed in https://github.com/openshift/origin/pull/1360

[2015-03-18 19:05] thoraxe opened #1364 "osc describe "never" returns data"
It never seems to return, although I haven't waited more than 5 minutes:

[code]

At this point, it just seems to be hung.

[2015-03-18 19:05] thoraxe commented on #1364
[code]

[2015-03-18 19:08] derekwaynecarr commented on #1364
As for why this is hung, not sure, but for clarity:

osc describe service frontend

results in:
get the service [should not be hanging since you were able to list them]
get the endpoints for that service [could be hanging depending on pod cache]
get the events related to that service [could be hanging depending on volume of events in etcd]

[2015-03-18 19:28] brenton commented on #1115
This has been fixed.

[2015-03-18 19:28] #1115 closed

[2015-03-18 19:43] thoraxe commented on #1364
It's not just "describe service".

[code]

Hangs.

`osc describe route` seems to work instantly. `osc describe build` does, too.

So, something is up.

[2015-03-18 20:09] #1336 closed

[2015-03-18 20:19] #1335 closed

[2015-03-18 20:55] soltysh commented on #1353
For #1317 I've created #1333 to ignore errors from json unmarshalling. Have a look at it and lemme know it that works for you?

[2015-03-18 20:57] soltysh commented on #1351
Shouldn't that go upstream, since it's Pod related or were you using some OpenShift specific tool for that?

[2015-03-18 20:58] smarterclayton commented on #1348
In the short term, just adding a custom help template that reused the default but added those specific options would help.

----- Original Message -----

[2015-03-18 21:04] smarterclayton commented on #1351
Someone should try to repro upstream, yes

[2015-03-18 21:12] smarterclayton commented on #1288
For generate?  That's fine.  For new-app probably not.  You may also want to wait until the port-range change drops, because this gets more complex.

----- Original Message -----

[2015-03-18 21:27] thesteve0 opened #1370 "OpenShift becomes unresponsive after suspending laptop"
Fedora 20
OpenShift V 0.4.1

Started openshift with:
 sudo ./openshift start &> /tmp/openshift.log &

Suspended my Lenovo T440s (closed the lid)
After coming back to life I get this:

spousty@localhost openshift$ ./osc describe service docker-registry
F0318 14:19:27.292608    2245 describe.go:47] Get https://192.168.1.119:8443/api/v1beta1/services/docker-registry?namespace=default: dial tcp 192.16

[2015-03-18 21:29] smarterclayton commented on #1370
At a minimum the cluster is too fragile to IP changes on the master.  We should be using cluster DNS to get the master IPs where possible.

[2015-03-18 22:16] jimmidyson commented on #1353
Yes that looks fine. We can use generic webhooks instead, even if the gogs webhook is GitHub api compatible AFAIK. Is there any different behaviour when using generic webhook vs GitHub webhook?

[2015-03-18 22:17] smarterclayton opened #1371 "TestSecondDeploymentFailedInitialRetries flaked"
[code]

[2015-03-18 22:49] ironcladlou commented on #1371
What branch was this run invoked from? I'm seeing a supicious line number discrepancy with master I'd like to rule out as related.

[2015-03-19 01:52] fabianofranz commented on #1348
Fixed in https://github.com/openshift/origin/pull/1372

[2015-03-19 02:58] smarterclayton opened #1374 "Many OpenShift resources in etcd are not namespaced under a key"
We have to fix this prior to beta3.

@ncdc (images) @pweil- (routes)

[2015-03-19 10:14] ncdc commented on #1374
Images are supposed to be global. Not sure what you mean exactly?

Sent from my iPhone

[2015-03-19 11:57] kargakis commented on #1312
False alarm for etcd, they seem to use gogoprotobuf which is an extension of goprotobuf. grep tricked me because of the vendored gogoprotobuf package which contains links in comments from the original goprotobuf google repository. So rebasing the Prometheus client and the golang-protobuf-extension will probably suffice in order to remove the goprotobuf google repo dependency.

[2015-03-19 12:35] pweil- commented on #1374
Will look

[2015-03-19 12:47] pweil- commented on #1374
Is this key incorrect?  It uses the namespace via the `MakeEtcdItemKey`

[code]

[2015-03-19 13:13] brenton commented on #1089
In the latest code if I clear out iptables I can at least restart the Node and it will quickly reinitialize all the portal NAT'ing.

[2015-03-19 13:53] thoraxe commented on #1364
`describe quota` hangs as well.

[2015-03-19 13:59] soltysh commented on #1353
From the user perspective there are none, both trigger a build. The only difference is that github webhook is prepared to specifically run with github whereas generic has broader application.
Still I'll have a look at gogs to see how much it differs from what we expect in github webhook.

[2015-03-19 14:29] derekwaynecarr commented on #1374
LGTM

----- Original Message -----
From: "Paul" <notifications@github.com>
To: "openshift/origin" <origin@noreply.github.com>
Sent: Thursday, March 19, 2015 8:47:05 AM
Subject: Re: [origin] Many OpenShift resources in etcd are not namespaced under a key (#1374)

Is this key incorrect?  It uses the namespace via the `MakeEtcdItemKey`

[code]

---
Reply to this email directly or view it on GitHub:
h

[2015-03-19 14:31] smarterclayton commented on #1374
No OpenShift etcd resource should be at the root of etcd.  It should be at /registry or similar.  Derek owns driving this.

[2015-03-19 14:34] ncdc commented on #1374
Oh, ok. Your description made it sound like images were missing namespaces.

[2015-03-19 14:35] derekwaynecarr commented on #1374
https://github.com/GoogleCloudPlatform/kubernetes/issues/3476#issuecomment-83520832

There is a in-flight from upstream community to support a centralized prefix.

We will be able to use that to prefix origin and k8s separately.

----- Original Message -----
From: "Clayton Coleman" <notifications@github.com>
To: "openshift/origin" <origin@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Se

[2015-03-19 14:43] smarterclayton commented on #1371
https://travis-ci.org/openshift/origin/jobs/54909216

[2015-03-19 14:46] fabianofranz commented on #1348
@smarterclayton Seems I can't close an issue myself, can you close it?

[2015-03-19 14:51] mfojtik opened #1379 "E2E tests are flaky"
I saw couple failures in merging/testing related to this error:

[code]

It seems like the endpoint creation timeouts... @smarterclayton any tips on whom to ask about this?

[2015-03-19 15:05] ironcladlou commented on #1371
It was right in front of me the whole time.

[2015-03-19 15:14] brenton commented on #1296
@smarterclayton, should this issue also track the fact that we don't have a way to have the embedded etcd find it's peers?

[2015-03-19 15:18] #1249 closed

[2015-03-19 15:39] #1371 closed

[2015-03-19 15:41] deads2k commented on #1352
benign

[2015-03-19 15:42] deads2k commented on #1352
Can you give a pastebin of the whole log, are you setting any authentication environment variables, and what is your authentication config?

[2015-03-19 15:44] ironcladlou commented on #1371
Fixed by #1380.

[2015-03-19 15:55] TomasTomecek commented on #1352
resolution: the issue was trailing slashes, therefore it should be:
[code]

[2015-03-19 15:57] #1348 closed

[2015-03-19 16:00] smarterclayton commented on #1312
Going to handle this after the rebase.

[2015-03-19 16:30] soltysh commented on #1228
In the end we've decided that Build resource will provide a webhook-like mechanism, where OpenShift will notify configured endpoint by sending a POST request with the result of the Build. In future Deployments will also be supported.

[2015-03-19 17:40] deads2k commented on #1352
Just adding information as I find it.  The issue isn't with the master config, it's with the generated .kubeconfig files.  They include a server stanza like:
[code]

which causes the client to build URLs like `https://127.0.0.1:8443/v1beta1/deploymentConfigs?namespace=` instead of `https://127.0.0.1:8443/api./v1beta1/deploymentConfigs?namespace=`

[2015-03-19 17:48] deads2k commented on #1352
Alright, found it in the code.  Feature, not a bug.  The trailing `/` indicates a URL path.  If you were hosting your API on a different context root, then this would be the only way you had to describe the "no prefix on my api" case.  See code: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/helper.go#L307.

@liggitt I think we should strip a trailing URL path `/` on the

[2015-03-19 18:20] thoraxe commented on #1356
This does not appear to be fixed by #1360

[2015-03-19 18:45] rawlingsj opened #1386 "high cpu usage of openshift when running in a docker container for a few days"
After having openshift running for a few days and actively using it the machine's performance degrades.  Doing a simple top shows it's the openshift process chewing up the cpu.

I know this is not much information but I wanted to track the issue incase others are seeing this.

https://gist.github.com/rawlingsj/2decbccf024d19e3ab48

Are there any suggestions on where to start to investigate?  I've

[2015-03-20 00:50] #1352 closed

[2015-03-20 03:15] sdodson opened #1393 "Auto generated node kubeconfigs have null server value"
When a master automatically creates kubeconfig for nodes specified via --nodes it does not set the server address.

[code]

[code]

[2015-03-20 03:16] sdodson commented on #1393
@deads2k ^^

[2015-03-20 03:25] smarterclayton opened #1394 "Router displays error on startup"
[code]

[2015-03-20 03:25] smarterclayton commented on #1394
The first reloading error shouldn't be displayed.

[2015-03-20 11:47] deads2k commented on #1393
I'll take care of it today.

[2015-03-20 13:59] ironcladlou commented on #865
This should be fixed now, right?

[2015-03-20 14:00] ironcladlou commented on #731
Can we re-enable race detection as of https://github.com/openshift/origin/pull/1092?

[2015-03-20 14:00] ironcladlou commented on #824
This should be closed.

[2015-03-20 14:32] ironcladlou commented on #1020
Here's the important section of the current job:

[code]

What if we...

Changed the main build step to omit the coverage flag, and unset `--skip-image-cleanup`:

[code]

And made the first post-build step set to execute only if the build succeeds:

[code]

This does mean we'd run the tests twice, but having failures return faster seems worth it.

[2015-03-20 15:07] soltysh commented on #865
Yeah it is, thanks to @bparees with https://github.com/openshift/origin/pull/1248

[2015-03-20 15:20] bparees commented on #865
The issue I fixed manifested a little differently but maybe it was the same issue.  Far as i know it's not happening anymore either way.  @smarterclayton ?

[2015-03-20 15:56] smarterclayton commented on #865
Haven't seen it.

----- Original Message -----

[2015-03-20 15:57] smarterclayton commented on #1020
Before changing this we should copy what upstream does in hack/test-go (or bits of it) to aggregate the results.  You can cat the samples together apparently as long as you trim a few lines.

----- Original Message -----

[2015-03-20 16:05] #865 closed

[2015-03-20 16:24] deads2k commented on #1337
closed by https://github.com/openshift/origin/pull/1369

[2015-03-20 16:24] #1337 closed

[2015-03-20 18:12] fabianofranz commented on #1349
@smarterclayton When doing `osc project <something>` try to use a context first, correct? In case you have a ctx *and* a project with the same name.

[2015-03-20 18:19] smarterclayton commented on #1349
Precedence (i think):

User says `osc project foo`

1. I have a context called "foo" -> switch to it, no calls to the master
2. Check for a project called "foo" on the current server and user
   1. If one exists, create a new context "foo" pointing to project foo, reuse current server and user
   2. If none exist, tell the user (and list the contexts you have)

When you switch projects, display th

[2015-03-20 18:24] fabianofranz commented on #1349
@smarterclayton Sounds good, pretty much what I was thinking about precedence. Let me check how subsequent commands will behave when switching to a ctx without calling master and that context behaves like session expired, context does not make a namespace explicit, etc. But should be good.

[2015-03-20 18:29] fabianofranz commented on #1349
@smarterclayton BTW I'm finding a little confusing how the naming logic works when saving to config files - clusters named `localhost:8443` and contexts named `localhost:8443-ffranz`. I think I'll change it to replace `:` and `.` and make it `name: localhost-8443` for example. Is it just me?

[2015-03-20 19:27] #1393 closed

[2015-03-20 19:42] smarterclayton commented on #1349
I do like that better.  Maybe the first server should have no port, but later ones should have (choose context name in order of ease of use, with more specificity if someone claimed the general name).

[2015-03-20 19:50] smarterclayton commented on #1349
We need to have stuff upstream for error handling, I want to see that happen independently.

[2015-03-20 22:29] fabianofranz commented on #1349
PR opened: https://github.com/openshift/origin/pull/1405. See comments.
Not yet addressing the naming logic change.

[2015-03-23 05:26] thesteve0 opened #1410 "osc describe locks up with new binary"
brought down the following build:
https://ci.openshift.redhat.com/jenkins/job/openshift3_ami/1093/artifact/origin/artifacts/release/

There was a previous installation on my machine. I did the following before replacing the binary

Erase the docker-registry service
Remove any Docker containers running
   docker ps
   docker kill “container id”
Delete the OpenShift directory
   rm -r $HOME/openshif

[2015-03-23 05:31] thesteve0 commented on #1364
Seeing the same thing so my issue might be a bug. I also notice that osc is at 100% CPU once I enter this command.

[2015-03-23 05:32] thesteve0 commented on #1410
Did this again and get the same lock up with 'osc describe kubernetes' as well.

CPU is at 100%. OSC get services has no problem.

[2015-03-23 10:05] soltysh commented on #1364
Linking https://github.com/openshift/origin/issues/1410

[2015-03-23 10:05] mfojtik commented on #1364
describe secrets as well... I think there is some endless loop inside openshift cli itself (when I shot server it does not exits)

[2015-03-23 10:06] soltysh opened #1412 "Unify build strategy fields"
Currently we're starting to copy&paste fields between different build strategies. So far there's almost two of them that are shared between strategies: `Image` and `Env` (although the latter isn't present in `DockerBuildStrategy`). Additionally when @mfojtik PR https://github.com/openshift/origin/pull/1411 lands there'll be `DockerRegistrySecretRef`. We should move those fields into `BuildStrategy

[2015-03-23 10:07] mfojtik commented on #1412
+1 (I don't want to do that in my PR, but rather in separate PR, ideally when #1411 lands ;)

[2015-03-23 10:08] mfojtik commented on #1364
it hangs after readin config:

[code]

[2015-03-23 12:38] smarterclayton commented on #1364
Ctrl+\ is your friend

[2015-03-23 14:42] smarterclayton commented on #1386
We have an integrated debug - restart openshift and set the environment variable OPENSHIFT_PROFILE=web.  That'll expose the profiling endpoint on http://127.0.0.1:6060/debug/pprof

You should be able to capture a CPU graph via http://127.0.0.1:6060/debug/pprof/profile?debug=1 (that'll run for 30 seconds by default and you may have to remove the debug flag to get it to generate a file output).  Can

[2015-03-23 15:59] fabianofranz commented on #1364
Core dumpof `osc describe service docker-registry`: http://ur1.ca/jytsk
FYI @deads2k

[2015-03-23 16:01] ncdc commented on #1364
Here's 1 from me: https://gist.github.com/ncdc/e6854a29a10f54fd3a94

I added a `fmt.Println` to https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/client/transport.go#L149 and I see it printing out infinitely

[2015-03-23 16:04] fabianofranz commented on #1364
@liggitt might be of your interest too.

[2015-03-23 17:04] deads2k commented on #1364
I think it's caused by the anonymous inclusion of a kubecmd.Factory and then overwriting some methods and wanting to delegate others.

@smarterclayton spot where we really want inheritance and instead ended up with anonymous composition?

[2015-03-23 17:05] smarterclayton commented on #1364
Haha

----- Original Message -----

[2015-03-23 17:28] fabianofranz commented on #1364
Fixed in https://github.com/openshift/origin/pull/1414

[2015-03-23 17:38] sosiouxme commented on #1410
does sound like a duplicate of #1364, fix is merging...

[2015-03-23 17:39] #1364 closed

[2015-03-23 18:01] sosiouxme opened #1415 "osc login/project output tweaks"
[code]

1. I think it would be more welcoming if that "Welcome to OpenShift" line came first.
2. "You don't have any project" should be projectS
3. If a user is logging in this way, they are probably not the cluster admin and probably can't run openshift ex new-project. Perhaps reword as something like:

[code]

Somewhat related; if you then add the user to a project, it won't be obvious to them w

[2015-03-23 18:02] sosiouxme commented on #1415
@fabianofranz

[2015-03-23 18:03] #1410 closed

[2015-03-23 19:01] thoraxe opened #1416 "[RFE] internal skydns should be able to serve ootb routing, infra"
Currently for beta testing we are using a dnsmasq configuration that looks like the following:

/etc/hosts has FQDNs for ose3-master.example.com and ose3-node1/2.example.com
wildcard *.cloudapps.example.com pointing at ip for master, where the router is guaranteed to be

What would be extremely useful is if the integrated SkyDNS on the master could do the same thing:

1) serve DNS resolution for m

[2015-03-23 19:02] smarterclayton commented on #1416
We need to figure out whether we'll get in an infinite loop if we have the master in its own /etc/resolv.conf (because skydns looks up /etc/resolv.conf to find other name servers), and also whether we can easily set up a wildcard domain with a simple change to etcd (should be able to set up wildcard forwarding from external to the service IP or the host of the router).

[2015-03-23 20:09] soltysh opened #1418 "Unify describers for Build and BuildConfig for common fields"
Top of my head we have BuildParameters in both of them, both should use single describer.

/cc @bparees

[2015-03-23 22:05] smarterclayton opened #1421 "Security filter should output standard json error when hitting /api and /osapi"
In general, we should always return JSON errors from API style endpoints.

[2015-03-24 10:07] TomasTomecek opened #1424 "running openshift on localhost with auth proxy makes kubelet queries impossible"
# Setup

## openshift

[code]

## httpd

apache listens on remotely accesible network interface and forwards everything to localhost:
[code]
We have kerberos authentication in the apache proxy, meaning everything what access' `https://<address>:10250` has to have valid kerberos ticket. And that's the problem.

# Issue

kubelet is attached to localhost and when openshift tries to make calls to it,

[2015-03-24 10:43] chmouel opened #1425 "Using yaml for templates instead of Json"
writing manually Json templates is quite hard to write, It's wonderful for machines and parsing but to write it's a bit of a pain.

would it be possible to get yaml templates format supported?

Thanks,

[2015-03-24 12:17] brenton commented on #1424
Typically the master and the node are not on the same host.  The Master knows how to contact the Node based on it's DNS name.  You can name it anything you want so long that it resolves from each Master.  I'm certain if you registered the Node with a name that resolved to 127.0.0.1 then it would reach the Node over the loopback interface.

That said, the scenario you're describing sounds like it w

[2015-03-24 13:36] chmouel commented on #1425
As pointed out it's already supported natively, sorry for the noise

[2015-03-24 13:36] #1425 closed

[2015-03-24 14:39] TomasTomecek commented on #1424
You are right, my use case is very specific.

How can I configure that? I didn't set up anything, I've just started all-in-one openshift with the command in my first post.

Yes, we are planning to have only one master and one node on same machine.

The scenario is simple:
 1. create build (`POST /.../builds`)
 2. get build logs (`GET kubelet:10250/.../containerLogs/...`)

[2015-03-24 14:46] brenton commented on #1424
Technically the only way to do this today is to start the Master and Node in separate processes but still on the same node.  When you do this you have to explicitly create the node via the api.  We could probably patch the code easily to ensure the all-in-one process situation accesses the Node over the loopback.

Alternatively you could see what the hostname is being set to.  Check`'osc get nodes

[2015-03-24 15:36] mfojtik opened #1429 "The Build logs verbosity should depend on the Origin log verbosity"
Currently we set the --log-level for all builds to '5' which makes the Build logs very noisy. We should be inheriting the log level from the OpenShift server.

[2015-03-24 16:41] smarterclayton opened #1431 "`openshift ex config` does not use the same clientcmd.Config as `osc`"
Needs to be updated to take the factory (or at least take the same client.config)

Also, expose both `openshift admin config *` and `osc config *` at that time.

[2015-03-24 17:15] smarterclayton commented on #1431
@deads2k as we discussed

[2015-03-24 18:50] pweil- opened #1434 "Router doesn't start if there are no child processes for Wait"
@mrunalp @thoraxe

[code]

[2015-03-24 20:00] mrunalp commented on #1434
@pweil- I am looking into it.

[2015-03-24 22:02] smarterclayton opened #1441 "Duplicate errors when running `osc hel`"
[code]

[2015-03-24 22:08] smarterclayton opened #1442 "TestDNS integration test getting flaky on travis"
[code]

We may not be waiting long enough in StartTestMaster.  Needs to be investigated.

[2015-03-24 22:10] smarterclayton opened #1443 "TestSimpleImageChangeBuildTrigger is racy now"
[code]

It looks the order of the replication controller resize is out of order with the creates.  Tests need to be more resilient.  @bparees @ironcladlou

[2015-03-24 22:40] bparees commented on #1443
@smarterclayton that's definitely not the issue for the imagechange_buildtrigger_test, can't speak to the deploy_trigger_test.

for imagechange_buildtrigger_test, we create a build, watch for an ADD event, and then watch for a MODIFIED event...  we're successfully getting the ADD event, so i can't imagine why we're getting a second ADD event instead of a MODIFIED event...that would mean a 2nd buil

[2015-03-24 22:52] bparees commented on #1443
@smarterclayton also does this issue mean that https://github.com/openshift/origin/pull/1432 is absolved from the blame for this race?

[2015-03-24 22:59] #1434 closed

[2015-03-24 23:03] smarterclayton commented on #1443
Yes

[2015-03-24 23:05] smarterclayton commented on #1443
It probably means someone is modifying the build in quick succession.  It's possible our code was too slow before to trigger the race.

[2015-03-24 23:08] bparees commented on #1443
why would we get an ADD event if it was someone modifying the build?

it's absolutely the case that we are now ADDing and then immmediately MODIFYing the build, this is in part because the buildcontroller didnt' used to be running in this test (as @ironcladlou has noted), but that would result in ADD+MODIFIED, not ADD+ADD which is what the test case is seeing.

[2015-03-24 23:09] smarterclayton commented on #1443
Add add means two builds are created

[2015-03-24 23:11] bparees commented on #1443
yes.... that's what i said " so i can't imagine why we're getting a second ADD event instead of a MODIFIED event...that would mean a 2nd build is being created, unless events are being replayed for some reason?"

[2015-03-24 23:12] bparees commented on #1443
only way to find out is to dump the two build events and see what's in them.  if you can easily recreate it, can you do that?  i have not recreated this.

[2015-03-24 23:26] smarterclayton commented on #1443
[code]

[2015-03-25 00:06] #824 closed

[2015-03-25 00:06] smarterclayton commented on #731
Yes

[2015-03-25 01:01] smarterclayton commented on #1443
e2e failure

[code]

[2015-03-25 01:16] smarterclayton opened #1445 "`osc project --help` does nothing"
There should be a help flag registered.

[2015-03-25 02:46] smarterclayton opened #1447 "Cobra is eating the first argument when it matches the first original argument"
https://github.com/openshift/origin/pull/1446 added an "admin" sub command, which coincidentally is a common first argument for policy addition.  It exposes a bug in cobra:

    openshift admin policy add-user admin anypassword:adduser -n ui-test-project

returns arguments ["anypassword:adduser"] instead of ["admin", "anypassword:adduser"], so it looks like Cobra is getting confused and eating the

[2015-03-25 03:53] #1349 closed

[2015-03-25 12:31] ironcladlou commented on #1443
Deployment image change triggers will continue to be suspect until https://github.com/openshift/origin/pull/1433 is resolved (very soon).

[2015-03-25 14:20] brenton commented on #1424
@TomasTomecek, any luck?

[2015-03-25 18:48] #1421 closed

[2015-03-25 20:19] danmcp opened #1460 "Should allow insecure connection as a backup"
osc login
Please provide the server URL or just <enter> to use 'https://localhost:8443': https://130.211.183.187:8443
F0325 16:14:34.223890   31660 login.go:38] Get https://130.211.183.187:8443/oauth/authorize?client_id=openshift-challenging-client&response_type=token: x509: certificate is valid for 10.240.130.195, 127.0.0.1, not 130.211.183.187

I tried to connect to a remote server and got the a

[2015-03-25 20:20] danmcp opened #1461 "osc login hangs with KUBECONFIG set"
Steps to recreate:

- Set KUBECONFIG
- Run `osc login`

[2015-03-25 20:26] TomasTomecek commented on #1424
Didn't have time, tomorrow, hopefully. I think that the `/etc/hosts` trick could work.

[2015-03-25 21:08] smarterclayton opened #1462 "Tag annotations for image repositories are not sufficiently well scoped"
`<tag>.<field>` isn't going to be specific enough.  Please namespace it `tags.openshift.io/<tag>.<field>`

[2015-03-26 04:24] smarterclayton commented on #1461
Caused by https://github.com/openshift/origin/issues/1431

[2015-03-26 04:24] smarterclayton commented on #1415
See the latest updates

[2015-03-26 15:03] fabianofranz commented on #1415
@sosiouxme At least a few of these were addressed in the latest updates. I'll check if there's anything else to fix.

[2015-03-26 16:06] jimmidyson opened #1469 "Secret volumes content is not available in containers"
Working through with @pmorie.

Secrets/RC created via following manifest:

[code]

Volume is mounted in container but contains no files, either visible in container or on host. Logs from a customized origin image provided by @pmorie with extra logging are available at https://gist.github.com/jimmidyson/d378d4a0e7c6f0fdfe0a, specifically see https://gist.github.com/jimmidyson/d378d4a0e7c6f0fdfe0a#f

[2015-03-26 20:26] soltysh opened #1475 "Router failures in integration tests"
While running `hack/test-integration-docker.sh` on jenkins I hit:
[code]
Full output is [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_openshift3/1466/consoleFull)
// cc @pweil- @bparees

[2015-03-26 21:49] pweil- commented on #1475
I'll take a closer look at this, I was also having some flakiness with the router in e2e today for my rebase and @sallyom also noticed a similar issue earlier this week.  I'm going to rebuild the image tomorrow, look through any recent changes, and try to narrow down the cause since this seems to have just crept up.

[2015-03-27 08:14] TomasTomecek commented on #1424
The architecture was changed and we are not hitting this issue anymore (apache listens on 9443, proxies requests to 8443 (master is running on all interfaces), hence kubelet requests are not going through proxy anymore)

[2015-03-27 08:14] #1424 closed

[2015-03-27 13:18] jwforres commented on #1358
the service definition in that config is missing the containerPort.  it should look like this:

[code]

because the containerPort wasn't specified the API returns 0 for the port

[2015-03-27 13:25] jwforres commented on #948
This has already been fixed.

![hostport](https://cloud.githubusercontent.com/assets/1467629/6868589/250332e6-d463-11e4-83cd-7f95add52e1b.png)

[2015-03-27 13:25] #948 closed

[2015-03-27 13:33] sallyom commented on #1475
Great, thanks.  I'm a new intern in Westford and anything that turns out to be "not me" builds confidence :)
Sally

----- Original Message -----
From: "Paul" <notifications@github.com>
To: "openshift/origin" <origin@noreply.github.com>
Cc: "sallyom" <somalley@redhat.com>
Sent: Thursday, March 26, 2015 5:50:00 PM
Subject: Re: [origin] Router failures in integration tests (#1475)

I'll take a closer

[2015-03-27 13:36] jwforres commented on #1358
We do need to fix this so that it doesn't say "port 0" in these cases since that is not actually a valid port.  services without a container port can be used to describe endpoints things can hit like the k8s master service

[2015-03-27 13:58] soltysh commented on #1475
On Fri, Mar 27, 2015 at 2:33 PM sallyom <notifications@github.com> wrote:

That is a very Friday thing to say :wink:

[2015-03-27 14:21] liggitt commented on #1268
I can't reproduce this. Do you mean web console or CLI? What version (`openshift version`) and configuration (`openshift start <YOUR ARGS> --write-config --master-config=master.yaml --node-config=node.yaml`) are you using?

[2015-03-27 14:51] thoraxe commented on #1358
Not having the containerport specified seems to be a valid and functional configuration.

I guess I don't understand why it would work without it?

[2015-03-27 14:56] TomasTomecek commented on #1268
web console

[2015-03-27 15:02] soltysh opened #1480 "Properly parse http accept header"
Currently we're doing this:
[code]
which is error prone, looking at [this http spec](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html), which allows you to specify the accept header in quite sophisticated way.
Unfortunately I couldn't find any go lib to cover this, but [here](https://github.com/mitsuhiko/werkzeug/blob/80d674429f3ea76a706e6dc2419a3cecf7b2a33b/werkzeug/datastructures.py#L1648-

[2015-03-27 15:18] brenton opened #1482 "If the port is not specified in the for --public-master it will default to 8443, even if the scheme is explicitly declared"
If I set `--public-master` to https://myproxy.example.com the automatically generated oauth clients will have redirect URIs like `https://myproxy.example.com:8443/oauth/token/display`.

I had to explicitly set `:443` on the end.  I think this will be surprising to admins trying to configuration authentication proxies.  If the code gets messy to implement the least surprising cases I would prefer:

[2015-03-27 15:20] liggitt commented on #1482
Admins doing configuration *should* be working from config files, which have none of the nasty surprises the command line defaults do. Config files are fully specified, and we don't default ports or anything else from them.

[2015-03-27 15:20] liggitt commented on #1482
The built-in clients get updated from config every time the server starts

[2015-03-27 15:24] brenton commented on #1482
Ahh, I haven't had time to look at the latest config work in detail.  If those configs don't suffer from these issues we can just close this.

[2015-03-27 15:24] #1482 closed

[2015-03-27 15:25] brenton commented on #1482
I still think we'll need the diagnostics check for the oauth clients though.  If two masters had different values that could get confusing depending on how things are restarted.

[2015-03-27 15:26] smarterclayton commented on #1358
the defaulting behavior on services has changed significantly.  I'm not even sure what is required anymore, but i don't think container port isn't.

[2015-03-27 15:27] liggitt commented on #1482
Our approach:

Command-line args are minimal, and are targeted at development/kick-the-tires scenarios (mint all my certs, autodetect my local IP, derive one value from another, etc, etc).

Config files are fully specified and don't do magic for you. If something isn't right, you should be able to look at the config file and see it. We can add validation errors or warnings to detect common problem

[2015-03-27 15:27] liggitt commented on #1482
Yes, that is one of many things we'll need to make better once we have multi-master

[2015-03-27 15:40] liggitt commented on #1268
Issue was `--master` host was unreachable by browsers. Adding `--public-master` solved the issue.

[2015-03-27 15:42] #1268 closed

[2015-03-27 15:46] sosiouxme commented on #1482
The cmdline-vs-config dichotomy makes good sense to me and should be prominently stated in our docs :)  (@adellape where?) I don't think the beta3 ansible installer has been updated to use the new server config but should soon be (this should make server diagnostics way easier too).

[2015-03-27 15:47] liggitt commented on #1482
initial docs here: https://github.com/openshift/openshift-docs/pull/244

[2015-03-27 15:54] pmorie commented on #1469
@jimmidyson I believe this is all sorted out now, want to comment with the resolution?

[2015-03-27 15:55] pmorie opened #1483 "No events shown by 'describe pod'"
When I do `osc describe pods foo`, I don't get any events.

[2015-03-27 16:19] jimmidyson commented on #1469
@pmorie um, well the resolution was to try again :) I think it was to do with a version mismatch between the client I was using & the server, but after a clean clone & build all worked fine. Thanks for your help @pmorie!

[2015-03-27 20:33] jimmidyson commented on #1469
Although this worked fine with clean build from master earlier today, I've just tried again with docker image openshift/origin:latest from Docker hub & the issue still exists: secrets volume is mounted but contains no files & no files on host filesystem at mounted dir either.

[2015-03-28 21:23] TomasTomecek opened #1485 "understand syntax of docker-compose.yml"
It would be great, that when creating deployment, openshift would recognize `docker-compose.yml` and would deploy the app using the docker compose's yaml file (so user wouldn't have to specify links, volumes etc.).

Does that make sense?

[2015-03-28 23:25] codnee commented on #1441
It appears to be fixed.

[code]

[2015-03-29 07:10] mfojtik commented on #1485
i was thinking the same also with `fig`

[2015-03-30 09:45] soltysh commented on #1485
@mfojtik docker-compose is a replacement for `fig` see their [website](http://www.fig.sh/) at the top.

[2015-03-30 09:59] soltysh opened #1488 "osc describe buildconfig mybuildcfg should show 10 last builds"
When invoking `osc describe buildconfig mybuildcfg` one should see detailed buildConfig information + a list of 10 most recent builds with it's name, start time, time it took, and status (discussion starts [here](https://botbot.me/freenode/openshift-dev/2015-03-26/?msg=35143719&page=7)).

@bparees can you assign this one to me, as discussed on IRC, I'll handle this later this sprint, when I'm done

[2015-03-30 10:02] soltysh opened #1489 "osc describe build mybuild-1 should show buildConfig it was generated from"
The discussion starts [here](https://botbot.me/freenode/openshift-dev/2015-03-26/?msg=35143719&page=7).

@bparees I can handle this one with #1488 if you don't mind :smile:

[2015-03-30 10:05] soltysh commented on #1418
@bparees I think we can close this, don't you?

[2015-03-30 10:09] mfojtik opened #1490 "A lot of house-keeping messages in logs"
Running Vagrant with libvirt driver causes OpenShift to produce a lot of these messages:

[code]

(there is much more)....

Also I can see that pods gets stuck in Pending state and then keep restarting (docker-registry for example).

[2015-03-30 10:09] mfojtik commented on #1490
@smarterclayton @deads2k any clues?

[2015-03-30 10:11] mfojtik commented on #1490
fyi, I'm running up-to-date f21 box in vagrant.... these messages started to appear last week, so I assume something in k8s changed and it is touching things it should not touch...

[2015-03-30 10:19] mfojtik commented on #1490
another weirdness is that right now my 'docker ps' command get stuck... no output, just hangs...

[2015-03-30 11:04] soltysh commented on #1490
I'm seeing those messages as well (I'm using f21 vbox vagrant) whenever starting a pod (either through builds or deployments). But once pods are all started up the logs are gone. Additionally I can still run any command eg. `docker ps`.

[2015-03-30 11:10] mfojtik commented on #1490
In libvirt I can see only 'pod' container running, any other container is ran and then stopped and restarted... There is nothing in logs...

[2015-03-30 12:11] bparees commented on #1489
I already did this one on friday:
https://github.com/openshift/origin/pull/1474/

[2015-03-30 12:11] #1489 closed

[2015-03-30 12:15] bparees commented on #1418
looks like it...

[2015-03-30 12:15] #1418 closed

[2015-03-30 12:30] soltysh commented on #333
@bparees the PR is merged, can you close this now, please.

[2015-03-30 12:30] soltysh commented on #528
@bparees the PR is merged, can you close this now, please.

[2015-03-30 12:38] bparees commented on #333
yup, thanks!

[2015-03-30 12:38] #333 closed

[2015-03-30 12:38] bparees commented on #528
yup, thanks!

[2015-03-30 12:38] #528 closed

[2015-03-30 13:05] soltysh commented on #1489
Right :wink:

[2015-03-30 13:27] smarterclayton commented on #1490
These are from cAdvisor, you'll want to engage Victor or Vish upstream about it.

[2015-03-30 13:28] mfojtik commented on #1490
@smarterclayton can we make them more silent? ;-)

[2015-03-30 13:28] deads2k commented on #1490
It came in with the last rebase.  Kube had it for a while, but our kubelet start up has drifted from upstream.

[2015-03-30 13:33] soltysh commented on #941
@jcantrill this is fixed already, can you close this, or is there something left there?

[2015-03-30 13:35] soltysh commented on #332
This should be fixed by now, can we close this @jwforres @bparees ?

[2015-03-30 13:36] soltysh commented on #134
@bparees can we close this?

[2015-03-30 13:42] #332 closed

[2015-03-30 14:09] bparees commented on #134
yeah looks like it's working right now...thanks @fabianofranz and @deads2k

[2015-03-30 14:09] #134 closed

[2015-03-30 14:13] nak3 opened #1494 "No Examples by 'osc describe --help'"
`osc desccribe --help` should show some command Examples like other operations. It is unclear the number of arguments with current help.

***Current***
[code]

***TOBE***
[code]

[2015-03-30 15:32] smarterclayton opened #1497 "tokencmd.RequestToken does not properly handle server errors"
[code]

The server error is because the host IP changed.  Also, RequestToken should be using the osin client library, not our own thing.

[2015-03-30 19:19] fabianofranz commented on #1350
Fixed in https://github.com/openshift/origin/issues/1486

[2015-03-30 19:25] brenton opened #1504 "Router liveness probe failures"
I hate filing issues like this (ie we don't yet know exactly how to reproduce the problem) but @sosiouxme, @sdodson, @thoraxe  and I have hit an edge case where the router liveness check will fail which results in a tight loop of "destroy the router / launch the router".

Right now we mostly want to raise awareness of this problem to see if anyone is hitting it upstream.  The code we're testing wi

[2015-03-30 20:21] brenton commented on #1504
After working for almost an hour my router just went in to the liveness probe failure loop.  After several minutes of looping it came back.

[2015-03-30 20:23] fabianofranz commented on #1200
Fixed in https://github.com/openshift/origin/pull/1503

[2015-03-30 20:32] sdodson commented on #1504
I put in a bit of instrumentation.

[code]
And this is what I get
[code]

[2015-03-30 23:35] smarterclayton commented on #1490
I believe some of these have been squelched by my pull to cAdvisor last week.

[2015-03-31 02:33] smarterclayton opened #1509 "`openshift start` with invalid arguments displays long description"
Should only display arguments and the usage.

[2015-03-31 04:06] smarterclayton commented on #1469
/tmpfs mounting maybe?

[2015-03-31 04:19] smarterclayton commented on #1416
I tried this on a Mac with the following config:

[code]

I then verified dig was able to resolve both - but I don't know whether that was causing broken recursive queries.  It *seemed* like it was ok.  I'd recommend going ahead and trying this from the master in a normal configuration, and opening an issue if you hit something.  At worst, we can omit the current host IP from the resolver list as

[2015-03-31 04:20] smarterclayton commented on #1416
Note that if you're not running a kube proxy locally service IPs won't resolve.

[2015-03-31 04:21] smarterclayton commented on #1412
ENV should be in DockerBuildStrategy - we already have use cases for it.  We should be clear though that it has different meaning between STI and DockerBuild - in DockerBuild it will be part of the image, vs STI where it's not necessarily part of the final image.

We should make Git repository optional and allow a Docker build if the user just specifies ENV.

[2015-03-31 04:22] smarterclayton commented on #1504
Probes are always run from the node.  I would increase the timeout.

[2015-03-31 07:46] mfojtik commented on #1412
@smarterclayton how do you get the Dockerfile if you leave Git repository empty?

Or do you wandto make one from baseImage + Env ?

[2015-03-31 11:39] andrefernandes opened #1512 "PLEASE publish openshift/origin (and other stuf) on "registry.access.redhat.com""
Latest docker version available on Satellite (1.4.1) suggests (as per "/etc/sysconfig/docker") that there is a public Red Hat docker registry at "registry.access.redhat.com".

Querying this registry (search REST API) lists a number of rhel official images, but openshift/origin is not one of them.

PLEASE, publish on "registry.access.redhat.com" the same releases from docker hub so that we, unhappy

[2015-03-31 12:27] mfojtik opened #1514 "The Build Status is not updating properly"
I saw this bug yesterday and I can see some of these today. The problem is that I can see my 'build' finished (by looking at `docker ps -a`):

[code]

However, the `osc get builds` command display the Status as 'Running' for another ~60-100 seconds. Since I'm using Watch(), this is causing that the test i'm writing is taking unnecessary long time.

[2015-03-31 12:37] mfojtik commented on #1490
@smarterclayton what is interesting is that this message cause the openshift to hang:

[code]

(there is no log output after this point)

The osc:

[code]

[2015-03-31 13:06] smarterclayton commented on #1490
What does CTRL+\ tell you?

[2015-03-31 13:08] mfojtik commented on #1490
@smarterclayton I killed it :-( but next time I will provide that output

[2015-03-31 13:11] brenton commented on #1512
The most official OpenShift v3 images we have right now are under registry.access.redhat.com/openshift3-beta/.  Unfortunately, those won't be useful to you unless you have a beta subscription (there are some required RPM components).  I'll have someone from our customer engagement team follow up with you to see if you want to participate.

Just to be clear, my understanding is that registry.access

[2015-03-31 13:56] bparees commented on #1514
@mfojtik what's the pod state at the time?

[2015-03-31 14:00] fabianofranz opened #1516 "Better error messages on osc"
As a follow-up of https://github.com/openshift/origin/pull/992 we need a reliable mechanism to customize the error messages that end up being printed in `osc`. Will probably require a `printer` of messages upstream, that is used for example by the commands under `kubectl` that we reuse.

We need to replace for example, for first-time users, things like `No server found for` with `You need to log i

[2015-03-31 14:01] fabianofranz commented on #1516
@smarterclayton @deads2k fyi

[2015-03-31 14:30] smarterclayton commented on #1516
The factory should have an interface for these sorts of things (utility messages, generic error handling).

[2015-03-31 14:35] smarterclayton commented on #1412
Make one.  This isn't super high priority for 3.0, but we eventually want to be able to make Git repo optional and let a user specify a dockerfile in the build config itself.

----- Original Message -----

[2015-03-31 17:21] deads2k opened #1520 "get master config files located in a single directory"
This will make it easy to package the master config as a secret in order to pass the information to a pod.

@derekwaynecarr needs this to get openshift running on top of kubernetes in GCE.

[2015-03-31 17:30] derekwaynecarr commented on #1520
darn!  i was hoping this was a PR I could merge ;-)

[2015-03-31 18:26] liggitt opened #1521 "Validate cookie session secret config"

[2015-03-31 18:47] smarterclayton commented on #1497
Fixed

[2015-03-31 18:47] #1497 closed

[2015-03-31 18:50] thoraxe opened #1522 "new-app examples doesn't include http(s) git repo"
[code]

There's not an indication that you can point at a git repo directly. This works:

[code]

[2015-03-31 19:47] brenton commented on #1512
I'm closing this for now.  I talked with someone today that said they would reach out to you.  If that doesn't happen don't hesitate to open this back up.

[2015-03-31 19:47] #1512 closed

[2015-03-31 19:48] andrefernandes commented on #1512
Sure. Thanks!

De: Brenton Leanhardt [mailto:notifications@github.com]
Enviada em: terça-feira, 31 de março de 2015 16:48
Para: openshift/origin
Cc: Andre de Oliveira Fernandes
Assunto: Re: [origin] PLEASE publish openshift/origin (and other stuf) on "registry.access.redhat.com" (#1512)

I'm closing this for now. I talked with someone today that said they would reach out to you. If that doesn't ha

[2015-03-31 22:14] #1494 closed

[2015-03-31 23:10] smarterclayton opened #1529 "osc default help shows all options"
Regression?  Missed upstream commit?

[2015-03-31 23:10] smarterclayton commented on #1529
@pweil- did you have a bad upstream commit on cobra by any chance?

[2015-03-31 23:11] smarterclayton commented on #1529
We should add a negative test to hack/test-cmd on showing options.

[2015-03-31 23:37] sosiouxme commented on #1516
+1000

Any chance we can intercept k8s glogs and give something user-friendly?

[2015-03-31 23:40] sosiouxme opened #1530 "openshift-master leaks memory"
I have observed over the span of several weeks of different builds that if I leave openshift-master running for a few days (doing nothing in particular), it will consume at least a GB of RAM by itself. Not sure it's just the master, nodes may be as bad, but I just thought I'd open this. I'm not sure the best way to debug this, any pointers to information I should gather would be helpful.

[2015-03-31 23:49] smarterclayton commented on #1516
There are no more glog fatals upstream.  There would only be glog errors, which should be omitting the ugly prefix when verbosity is at lower levels.  That issue is still open.

[2015-04-01 00:03] fabianofranz commented on #1529
Looking

[2015-04-01 00:18] nak3 commented on #1494
Thanks!

[2015-04-01 01:06] pweil- commented on #1529
It would not surprise me although I had @fabianofranz's commit picked.

[2015-04-01 02:05] pweil- commented on #1529
I think this is a regression.  We're on the same version of spf13/cobra as upstream, which was bumped 8 days ago https://github.com/GoogleCloudPlatform/kubernetes/commit/a18ec3be8809e2f4082bf0baf539d6d35c43bbd5#diff-681659ab9abb4b4883e78e8aaa980dba.  If I revert command.go to the last rebase which has the older spf13/cobra version then it works fine.

@fabianofranz  One change that has me suspicio

[2015-04-01 02:26] fabianofranz commented on #1529
The issue was introduced in https://github.com/spf13/cobra/commit/b96dd75141f233adeb39cbe63c41c962585a1c7a and https://github.com/spf13/cobra/commit/5c9146990baf14f44c4c470befa56c7ee5b62130 by the removal of `AllPersistentFlags` that we use in our templates (we fork the help templates, see [here](https://github.com/openshift/origin/blob/master/pkg/cmd/templates/templates.go)). `lflags` may also ha

[2015-04-01 03:25] smarterclayton commented on #780
https://github.com/openshift/origin/pull/1510 exposes openshift.default.local via DNS but does not create an extra service.

[2015-04-01 03:25] #780 closed

[2015-04-01 03:26] #941 closed

[2015-04-01 03:26] smarterclayton commented on #914
Removed namespace

[2015-04-01 03:26] #914 closed

[2015-04-01 03:27] smarterclayton commented on #733
Validation errors now returns the appropriate limits.

[2015-04-01 03:27] #733 closed

[2015-04-01 03:28] smarterclayton commented on #944
The most recent release has a zip

[2015-04-01 03:28] #944 closed

[2015-04-01 03:29] smarterclayton commented on #267
Closing due to age, please reopen if this is still an issue

[2015-04-01 03:29] #267 closed

[2015-04-01 03:30] smarterclayton commented on #196
Also we now have DNS (openshift.default.local resolves).  Marking fixed.

[2015-04-01 03:30] #196 closed

[2015-04-01 03:31] smarterclayton commented on #398
Fixed now.

[2015-04-01 03:31] #398 closed

[2015-04-01 03:31] smarterclayton commented on #601
I don't think this is happening anymore.

[2015-04-01 03:31] #601 closed

[2015-04-01 03:32] smarterclayton commented on #606
Will track upstream

[2015-04-01 03:32] #606 closed

[2015-04-01 03:32] smarterclayton commented on #685
Is this still happening?

[2015-04-01 03:33] smarterclayton commented on #769
Fixed upstream and now in our codebase

[2015-04-01 03:33] #769 closed

[2015-04-01 03:33] smarterclayton commented on #1296
This is fixed with Jordan's changes

[2015-04-01 03:33] #1296 closed

[2015-04-01 03:35] smarterclayton commented on #1353
We should remove the requirement to have the  user agent and x-github-event headers checked unless it's a security issue

[2015-04-01 03:37] smarterclayton commented on #1483
Probably security. @deads2k ?

[2015-04-01 03:38] smarterclayton commented on #1480
goautoneg is a package we already vendor from upstream

[2015-04-01 03:40] smarterclayton commented on #1530
Run with OPENSHIFT_PROFILE=web set, you can then trigger a heap dump via http://127.0.0.1/debug/pprof

[2015-04-01 03:40] smarterclayton commented on #1522
They should match osc help examples

[2015-04-01 03:50] jzelinskie commented on #606
If you want to know, we resolved this by simply using `GOOS=linux go get -d ./...` for `go get` on OSX.

[2015-04-01 04:07] fabianofranz commented on #1529
Fixed in https://github.com/openshift/origin/pull/1533.

[2015-04-01 04:08] fabianofranz commented on #1529
@smarterclayton BTW should we just take the `osc` help template and make it default in every command, *including* the top-level `openshift`? I don't recall any reason not to, and it would favor consistency.

[2015-04-01 08:58] wangzhezhe opened #1536 "Fail to build ruby-sample-app"
I was trying to build the images as the guide in the
https://github.com/openshift/origin/blob/master/examples/sample-app/README.md
by the container way , when i was trying to use the command:
osc start-build ruby-sample-build -n test
I could see the build process is started from the console , but it always fail to build at last ,could anyone give me some suggestions to solve this problem , thank y

[2015-04-01 10:20] soltysh commented on #1536
@wangzhezhe thx for comment. Could you please provide us with detailed build output using:
`osc build-logs your-build-name`?

[2015-04-01 10:47] wangzhezhe commented on #1536
thanks for your suggestions!
this is the log info when i use osc build-logs ruby-sample-build ， it seems that i have not got the details:
{
  "kind": "Status",
  "creationTimestamp": null,
  "apiVersion": "v1beta1",
  "status": "Failure",
  "message": "Build: not found 'ruby-sample-build'",
  "code": 500
}

[2015-04-01 11:39] soltysh commented on #1514
+1 on that, I've observed that happening just recently

[2015-04-01 11:42] soltysh commented on #1536
@wangzhezhe your build name is in the image it's `ruby-sampe-build-45a67...` unfortunately you need to type it all to get the right build information.

[2015-04-01 11:51] deads2k commented on #1483
Is there anything unusual about what your set up?  I just ran through the step 6 in our sample app and `test-admin` is able to see the events:

[code]

[2015-04-01 11:53] pweil- commented on #1529
:relieved:

[2015-04-01 11:57] pweil- commented on #1394
Looks like it has to do with the reaper not having children.  Probably just needs suppressed in all cases.  I'll take a look.

[2015-04-01 12:10] rawlingsj commented on #1214
Not sure if this is the same problem but the same effect occurs if a replication controller is created which starts a pod that errors when launching.  The failed pod is left 'Exited' and 30 seconds later a new pod is scheduled.

Also even if the replication controller is deleted the pods are still endlessly scheduled.

Thought it might be related to this issue but happy to raise another one here o

[2015-04-01 12:13] wangzhezhe commented on #1536
It's still useless to get the full  build info , was I got some place wrong?
![image](https://cloud.githubusercontent.com/assets/7677214/6940660/932f96e6-d8ab-11e4-8d0d-a2956a4b2c95.png)

[2015-04-01 12:35] soltysh commented on #1536
@wangzhezhe if you followed our [sample-app](https://github.com/openshift/origin/tree/master/examples/sample-app) tutorial then I'm pretty sure you've also used the `test` namespace, you need to pass that to `osc build-logs` as well. So your command should look like:
[code]

[2015-04-01 12:50] smarterclayton commented on #1529
Yes

[2015-04-01 13:04] wangzhezhe commented on #1536
Thanks for your suggestions, it's maybe some problems with git clone?
but it is ok to test git clone git://github.com/openshift/ruby-hello-world.git locally

[root@ubuntu sample-app]# osc build-logs -n test ruby-sample-build-4ad642d8-d86e-11e4-ae37-001c42fd68ba
2015-04-01T12:54:54.643900520Z I0401 12:54:54.643760       1 sti.go:52] Creating a new STI builder with build request: &api.Request{BaseIm

[2015-04-01 13:06] soltysh commented on #1536
@wangzhezhe apparently your VM/machine running OpenShift does not have access to internet or at least DNS, per:
[code]
Check that first.

[2015-04-01 13:21] smarterclayton commented on #606
So simple :)

[2015-04-01 13:49] smarterclayton commented on #1214
Hrm, it might be something to raise upstream.  I'm not sure.

[2015-04-01 14:04] rawlingsj commented on #1214
ok thanks @smarterclayton raised https://github.com/GoogleCloudPlatform/kubernetes/issues/6291

[2015-04-01 14:10] xjvs opened #1541 "doc: the osc login command breaks the steps in doc"
The recently merged change in doc (https://github.com/openshift/origin/blob/master/examples/sample-app/README.md) added a new line of command to be executed, but it breaks the followed commands.

The new command in step 3:

    $ osc login -u test-admin --client-certificate=`pwd`/openshift.local.certificates/admin/cert.crt --client-key=`pwd`/openshift.local.certificates/admin/key.key --certificate

[2015-04-01 14:22] vtts commented on #1541
sorry, I forgot to point out which the doc is:
https://github.com/openshift/origin/blob/master/examples/sample-app/README.md

[2015-04-01 14:31] tomgross opened #1542 "Vagrant image does not work on Windows Host - line endings"
Running the Vagrant image as described in Step 6 of CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant fails with because of CRLF line endings

[code]

[2015-04-01 14:47] tomgross opened #1544 "Vagrant image does not work on Windows Host - Symlinks"
Running the Vagrant image as described in Step 6 of CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant fails with because of CRLF line endings

[code]

This is an issue of the vboxvfs (https://www.virtualbox.org/ticket/818). Is there a way to handle the symlinks outside the shared folder?

[2015-04-01 14:49] sdodson commented on #1504
I don't think the timeout is relevant here as it's not waiting a second for the socket, it fires off the three checks in just 1ms based on the output above so the port must be closed. There doesn't seem to be any sleep time between checks which is probably a problem too but I think something else is going on here. Yesterday we tried setting initialDelaySeconds=10 and, at least in my testing, this

[2015-04-01 15:32] fabianofranz commented on #1445
This is fixed.

[2015-04-01 15:33] fabianofranz commented on #1441
This is fixed.

[2015-04-01 15:36] brenton opened #1545 "Writing the node config is not working"
When I run `openshift start node --write-config --config=node.yaml` it doesn't appear to do anything.  It doesn't write node and it simply returns 0.  With `--loglevel=4` I see the following and then it exits:

[code]

I'm running from the latest merged code (currently https://github.com/openshift/origin/commits/862caa729b3b4c939e2409434878560ed5968946).

[2015-04-01 15:46] bparees opened #1546 "osc new-app broken for conflicting image names"
I created an image repo in namespace test:
   {
      "apiVersion": "v1beta1",
      "dockerImageRepository": "openshift/mysql-55-centos7",
      "kind": "ImageRepository",
      "metadata": {
        "name": "mysql"
      },
      "tags": {
      }

and then I invoke new-app:
osc new-app -n test git://github.com/openshift/ruby-hello-world.git openshift/ruby-20-centos7 mysql

The resulting message

[2015-04-01 15:49] thoraxe opened #1547 "routing documentation still refers to round-robin DNS as viable HA strategy"
We had had some internal discussions regarding whether or round-robin DNS is a viable HA strategy for routing, and came to the determination that it is not.

tl;dr:
If a DNS entry points to a dead router, a client will still end up trying to send traffic to the dead router until the TTL of the cached DNS entry expires. Upon expiry of the cached DNS entry, the client will perform another DNS lookup

[2015-04-01 15:52] wangzhezhe commented on #1536
It's ok to use sti to build image on my VM directly , but it always fail when I use osc to build the image as I described above?
sti build git://github.com/openshift/ruby-hello-world.git openshift/ruby-20-centos7:latest --forcePull=false --loglevel=5
I0401 23:47:47.888894 26008 docker.go:157] Image openshift/ruby-20-centos7:latest available locally
I0401 23:47:47.892424 26008 sti.go:111] Building

[2015-04-01 15:56] brenton commented on #1545
@deads2k, I'm guessing this is a WIP? https://github.com/openshift/origin/blob/master/pkg/cmd/server/start/start_node.go#L117

[2015-04-01 17:03] brenton commented on #1545
Actually, looking again after lunch I see it's actually the RunNode function that handles this....

[2015-04-01 17:04] thoraxe commented on #1522
"osc help"'s example is not complete enough documentation for new-app.

There's also no mention of how to specify a branch (eg: --ref from ex generate)

[2015-04-01 17:30] brenton commented on #1545
Upon further investigating, it's bailing at https://github.com/openshift/origin/blob/master/pkg/cmd/server/admin/create_nodeconfig.go#L143

It doesn't look like we're returning these error messages.  I'm not sure where it's suppose to get that value.  Setting --master doesn't work:

[code]

[2015-04-01 17:31] deads2k commented on #1545
I see it.

[2015-04-01 17:49] brenton commented on #1545
If I tell it not to creates the certs it will at least write out the node.yaml.  However, it doesn't format it correctly.  It's all on one line.

[2015-04-01 18:17] deads2k commented on #1545
That last will be fixed by https://github.com/openshift/origin/pull/1539

[2015-04-01 18:36] brenton commented on #1545
Cool, so I guess we just need to the error messages to print and then the defaults to set correctly in the config.

[2015-04-01 19:15] smarterclayton opened #1555 "Builds can go into hot loop with this failure:"
[code]

[2015-04-01 19:17] smarterclayton commented on #1555
[code]

The image repository was deleted.

[2015-04-01 19:18] smarterclayton commented on #1555
Even after deleting the builds, the hot loop continues.

[2015-04-01 19:21] smarterclayton commented on #1555
By hot loop I mean it looks like the controller is continually trying this, never making any progress.  It highlights that the controller is not making progress either (it looks like this is going to the head of the queue and tried again immediately).

[2015-04-01 19:32] bparees commented on #1555
so the only broken part about this in my mind is that after deleting the buildconfig, the loop does not break.

the part where it spins because the repo doesn't exist is intentional, if you create the repo you'll resolve it and it'll make progress...  we don't consider it a fatal error for the repo to temporarily not exist.

[2015-04-01 19:35] deads2k commented on #1545
If all you want is the node config, try `osadm create-node-config`

[2015-04-01 19:54] smarterclayton commented on #1546
Will handle the service name separately.

[2015-04-01 20:01] smarterclayton commented on #1555
This was not a build config.  This was a build.

The hot loop is horrible if it never ends.  This was continuously hot looping for over an error, and no other builds could get scheduled.  That is a "bug".

----- Original Message -----

[2015-04-01 20:14] pmorie commented on #1469
Our next step for this is to debug the all-in-one binary on @jimmidyson's system and step through what's happening.  This behavior happens in permissive mode, so I don't think it's an selinux issue.

[2015-04-01 20:22] smarterclayton opened #1557 "As admin, switching from default to master gives me this message"
[code]

It should be able to tell me I'm moving to master namespace.  NamespaceInUse being empty is wrong.

[2015-04-01 20:23] smarterclayton commented on #1557
Also, it doesn't seem to create a config file for me when I do that, or the config file is still empty.

[2015-04-01 20:27] smarterclayton opened #1558 "Message for forbidden is amusing and probably too generic"
[code]

We should probably reword that.

[2015-04-01 20:27] bparees commented on #1555
not denying there is a bug here, just trying to clarify the expected portion of the behavior.

it should not block other builds because this is using the requeue logic, so other events should be processed before the requeued event.

the hot loop ends when you update your configuration to be valid by either modifying the build definition or creating the missing imagerepository.

I agree that deleti

[2015-04-01 20:28] smarterclayton commented on #1555
It's also trying too fast - tens of times a second.

[2015-04-01 20:32] deads2k commented on #1558
<user> cannot <verb> on <resource> with <resource name> in <namespace>?

[2015-04-01 20:32] deads2k commented on #1558
`<user> cannot <verb> on <resource> with <resource name> in <namespace>?`

[2015-04-01 20:34] bparees commented on #1555
yes, that was a fundamental limitation of the retry queuing logic that @ironcladlou and I came up with, we noted it at the time that handling "backoff" is significantly more complicated due to the race conditions introduced.  All the controllers that use retry have this behavior..the only difference is that the deployment controller chose to only retry a few times, whereas for builds I elected to

[2015-04-01 20:34] smarterclayton commented on #1558
Trying too hard to make it a sentence I think.  Either customize the message per verb: `because bob cannot retrieve pods from project foo` or make the sentence shorter and have additional data at the end.

[2015-04-01 20:35] bparees commented on #1555
one way to limit the retry spinning would be for the controller to track state and when it sees the same event twice in a row, it delays itself before processing that event.  but that will also delay anything else in the queue.  (presumably nothing, which is why we got the same event twice)

[2015-04-01 21:35] smarterclayton commented on #1557
Fixed

[2015-04-01 23:39] #1542 closed

[2015-04-01 23:44] #1557 closed

[2015-04-02 00:43] smarterclayton commented on #1504
What's really interesting is I can think of no good reason for that check to fail.  The router should be reusing sockets, which means this is a true failure of the router somewhere.  Three checks right after each other also sound wrong but we'll need to run that down upstream.

[2015-04-02 03:37] liggitt opened #1562 "`osc login` can generate invalid config file"
Run `osc login  --certificate-authority=openshift.local.certificates/ca/cert.crt`

This file gets generated in `~/.config/openshift/.config`:
[code]

Note that the certificate-authority path is still relative.

Now run `osc get ...`. The certificate authority file cannot be loaded, because it is resolved relative to the config file. When writing the config file, paths need to be absolutized, then

[2015-04-02 04:34] wangzhezhe commented on #1536
was i got some place wrong? it is ok to user
git clone git://github.com/openshift/ruby-hello-world.git locally , but the build log show there was some place wrong with clone?

[2015-04-02 05:03] smarterclayton opened #1565 "Unit tests on master fail on clean system"
[code]

Might be mac related.

[2015-04-02 05:05] smarterclayton commented on #1565
Also hack/test-cmd.sh fails

[code]

[2015-04-02 05:05] smarterclayton commented on #1565
Might be @liggitt

[2015-04-02 06:02] jpechane opened #1567 "Cannot create https-only route"
There is no way how to configure route to not expose http protocol if TLS is configured.

[2015-04-02 11:48] scollier opened #1569 "Vagrant cluster configuration fails"
I am on a Fedora 21 host with a libvirt / vagrant configuration:

$ rpm -qa | grep vagrant
vagrant-1.7.2-3.fc21.1.noarch
vagrant-libvirt-0.0.24-3.fc21.noarch
rubygem-vagrant-libvirt-0.0.20-2.fc20.noarch

$ cat /etc/redhat-release
Fedora release 21 (Twenty One)

Top of the branch I'm working on:

commit 11f00abc77ffd25d73aaa4c58cd92be461ce8fce
Merge: 9c90068 dc21506
Author: OpenShift Bot <dmcphers+

[2015-04-02 11:57] deads2k commented on #1565
Doesn't fail locally.  I don't even see a string "was not valid" in master.

@liggitt any suggestions?

[2015-04-02 12:12] jimmidyson commented on #1504
I'm seeing this on a clean 0.4.2 install. Anything I can add to help diagnose?

[2015-04-02 13:03] pweil- commented on #1504
The last significant change to the router was the reaper which is started by the command.  I don't think it is the cause but to rule it out, if you can reproduce this can you try commenting out https://github.com/openshift/origin/blob/master/pkg/cmd/infra/router/router.go#L86 and see what happens?

[2015-04-02 13:56] brenton commented on #1567
Hmm... setting up an example in my environment and looking through `/var/lib/haproxy/conf/haproxy.config` in my router container I see that `/var/lib/haproxy/conf/os_http_be.map` will be populated whenever edge tls is set in the route.

It seems like one option would be to set 'reencrypt' or 'passthrough' but I'm not sure if that's what you want.  That would require your pod actually listening on

[2015-04-02 14:12] jimmidyson commented on #1504
@pweil- no that didn't help... updated code, rebuilt image, copied over to server having the problem & still couldn't start router.

This works fine on my laptop, just not on the cleanly built server I'm running.

Any more ideas?

[2015-04-02 14:28] pweil- commented on #1504
Anything at all in the router logs?  I don't think the verbose logging is on by default in the image, you may want to add `--loglevel=4` to the image you rebuilt to see if it gives any more clues.

One other thing that may be worth trying is to create the container, allow it to start coming up and then kill openshift to see if you can diagnose the issue before k8s starts killing and restarting thi

[2015-04-02 15:10] brenton commented on #1545
Yeah, I eventually came across that command.  Thanks!

Do we want to leave this issue open to track the printing of error messages and the possible certificate generation bug with `openshift start node --write-config` ?

[2015-04-02 15:12] jimmidyson commented on #1469
Just to confirm that this happens only when running OpenShift in a container. When running on host it works perfectly.

[2015-04-02 15:24] jimmidyson commented on #1504
Now I've gone back to it the router seems to have started now & running fine... there are about 350 terminated containers before this one started successfully though!

[2015-04-02 15:26] jimmidyson commented on #1504
Even with loglevel 4 the container terminates with no log output

[2015-04-02 15:27] pweil- commented on #1504
hrm, well that is frustrating :-\

[2015-04-02 15:29] jimmidyson commented on #1504
Thing is that the container that started did so with same image as those 350 previous failures so must be something timing wise

[2015-04-02 15:30] pweil- commented on #1504
My next debugging step would be to eliminate the probe from the ex command in case there is a bug there somewhere.  If the router is really the issue it shouldn't come back up magically unless there is an issue with how config is loaded that works on the 350th try (unless you took a different action in between 349 & 350 like making a service or route)

[2015-04-02 15:31] jimmidyson commented on #1504
Wondering if the health check which is think just tcp connects port 80 is just happening too quickly while container is coming up?

OK I'll get rid of health check & see if it works.

[2015-04-02 15:31] pweil- commented on #1504
Thanks, sorry for the trouble!

[2015-04-02 15:32] jimmidyson commented on #1504
No trouble! Well that's a lie, but I honestly don't mind :)

[2015-04-02 15:37] liggitt opened #1572 "Cannot log into web console using Safari"
On login, the API access token is sent to the web console in a URL fragment in a redirect:
[code]

There is a WebKit bug that drops the fragment from the redirect when redirecting to the same domain: https://bugs.webkit.org/show_bug.cgi?id=24175

That means the browser arrives at `https://localhost:8443/console/oauth`, and the console has no API token to use to contact the API.

Note that WebKit k

[2015-04-02 15:41] jimmidyson commented on #1504
@pweil- interestingly the output from `-o json` doesn't work with `create -f` - missing kind for one thing.

[2015-04-02 15:44] jimmidyson commented on #1504
This is the output from `openshift ex router --create --credentials=openshift.local.certificates/openshift-router/.kubeconfig -o json`:

[code]

[2015-04-02 16:01] wangzhezhe opened #1574 "Deploy origin in mutiple nodes"
I have tested the openshift/origin in container way and binary way as the guidance in https://docs.docker.com/installation/ubuntulinux/#create-a-docker-group
It seems the overall architecture of origin is similar with the kubernetes except some extra components in master node . It's also based flannel to meet the net requirements of kubernetes in aii-in-one container way.  So, how could I deployme

[2015-04-02 16:14] jimmidyson commented on #1504
@pweil- Adding the `kind`s in to the output JSON & removing the `livenessProbe` all works fine so I'd say it's something wrong with `livenessProbe`s being over eager. Adding in a `initialDelaySeconds` to the descriptor should do it.

[2015-04-02 16:18] smarterclayton commented on #1504
That means the output is not versioned which means it not even an api version.  This likely broke in the last rebase, or was never right in the first place.

The root object has to be converted to a version before any output.

[2015-04-02 16:25] jimmidyson commented on #1504
@smarterclayton - this is obviously pretty critical functionality for anything that you want to expose externally. Would really appreciate this being looked at ASAP. This & #1469 are our top 2 issues right now.

[2015-04-02 16:29] smarterclayton commented on #1469
It's probably that no volumes that have to mount work properly in a container right now because the kubelet is not in the host's root namespace.  That's an issue that we need to pursue upstream.

[2015-04-02 16:33] jimmidyson commented on #1469
Empty dir volumes work fine IIRC. Wouldn't that be affected in this case?

[2015-04-02 16:39] bparees commented on #1536
I suspect your docker daemon itself has issues.  try running a docker container directly and see if you can reach external sites, eg
"docker run -it centos /bin/bash" and then try to ping github.com.  I'm guessing you will not be able to reach it.  If so, try restarting your docker daemon ("systemctl restart docker")

[2015-04-02 16:44] deads2k commented on #1565
@csrwng reports no problems with hack/test-go.sh.

[2015-04-02 16:45] ncdc commented on #1565
It worked cleanly for me last night too. I can try again if needed.

Sent from my iPhone

[2015-04-02 16:51] smarterclayton commented on #1469
No because the daemon manages that from the host mount namespace.

@pweil- @pmorie can you guys start a discussion upstream today about whether there is an easy fix that would allow a container running in a mount namespace to properly mount in the root?  Bring the appinfra guys in on SPC (Dan Walsh) if you have to.  If we are truly blocked on this without a workaround we can get upstream then we c

[2015-04-02 17:03] pweil- commented on #1469
I believe this is the quick fix: https://github.com/GoogleCloudPlatform/kubernetes/issues/6238#issuecomment-88961848

[2015-04-02 17:04] pweil- commented on #1469
Sorry, that was the issue, this is the pr https://github.com/GoogleCloudPlatform/kubernetes/pull/6319

[2015-04-02 17:37] deads2k commented on #1545
Yes.  I think #1554 will address it.  At the very least, it gives you a shot by providing a good error message.

[2015-04-02 17:50] ncdc opened #1577 "Cleanup items from ImageRepository -> ImageStream change"
- [ ] revisit ImageStream.Status.DockerImageRepository
- [ ] consistent tag ordering (if not already there)
- [X] make sure you can't set both spec.tags.dockerImageReference and spec.tags.from (#1628)
- [x] ...

[2015-04-02 18:02] smarterclayton commented on #1565
Looks like it was a transient... or related to my upstream changes to configuration which will impact us.

[2015-04-02 18:06] pweil- commented on #1394
Actually, I tried reproducing this.  My container seems fine.  I tried deleting and recreating it a couple of times and it always came up ok.

[code]

[2015-04-02 18:37] ncdc opened #1579 "Flaky jenkins test failures - hack/test-cmd.sh: line 73: openshift: command not found"
I've seen this off an on for a while now. Pretty infrequent, but I've seen it at least twice today.

[code]

[2015-04-02 20:12] #1529 closed

[2015-04-03 04:35] #1572 closed

[2015-04-03 04:36] liggitt commented on #1562
@fabianofranz

[2015-04-03 06:54] xjvs opened #1589 "sample-app example: database container failed to start up due to permission error while selinux is enabled"
I can reproduce it by steps:

[code]

selinux denials:

[code]

As you see in the `docker run` command line, I didn't mount any directory from host to that container, so I'm wondering why there are denials from host. How can I fix this without disabling selinux?

[2015-04-03 07:16] xjvs opened #1590 "regression 61a8212 : server crash while processing template to resources"
61a8212 introduced a regression which cause server crash while processing template to resources.
How to reproduce:

1. Open a terminal A, and start openshift
[code]
2. Open another terminal B, and run commands:

[code]

in terminal A, you'll see openshift crashed immediately. There are 9000+ lines of error messages (from 900+ go routines) printed on console, so I'm not going to paste it here. You

[2015-04-03 07:22] xjvs commented on #1541
it has been updated (bda8e88) in the latest version. close.

[2015-04-03 07:22] #1541 closed

[2015-04-03 09:14] goldmann opened #1591 "Cannot access v0.4.2 console"
I followed the [instructions](https://github.com/openshift/origin/tree/v0.4.2#getting-started) for running OSv3 `v0.4.2`, but when I point my broser to the console, I get:

[code]

Later I tried to execute: `openshift admin --config=/var/lib/openshift/openshift.local.certificates/admin/.kubeconfig policy add-role-to-group cluster-admin system:authenticated system:unauthenticated` but it fails with

[2015-04-03 11:46] ncdc commented on #1590
I'll take a look at this

Sent from my iPhone

[2015-04-03 12:11] ncdc commented on #1590
I'm not able to reproduce. Can you please redirect the output from `openshift start` to a log file, and when you reproduce, paste the first lines you see related to a panic?

[2015-04-03 12:11] ncdc commented on #1590
Or just paste the entire log to fpaste or something like that, if you want.

[2015-04-03 13:55] xjvs commented on #1590
hi, I just reproduced it with another host and paste part of the log here: http://ur1.ca/k3ria

[2015-04-03 13:57] smarterclayton commented on #1591
@fabianofranz is this the help text problem we opened?  It's not showing policy, which means that it knows policy is a command but is actually hiding it?

@goldmann you may need to move the config argument later in the command.  Do you have the KUBECONFIG or OPENSHIFTCONFIG env vars set?

[2015-04-03 13:59] ncdc commented on #1590
What git commit are you currently at?

[2015-04-03 14:01] goldmann commented on #1591
I'm just following the instructions in `README.md`. This is what I have:

[code]

When used like this:

[code]

It works.

[2015-04-03 14:11] smarterclayton commented on #1591
KUBECONFIG is broken right now - I've updated the readme to fix both of these.

Fabiano, --config should be registered on admin - did that recently change?

[2015-04-03 14:19] xjvs commented on #1590
My fault, Andy just talked with me on irc, I'm running the old binary without make clean build. The latest code doesn't crash indeed. I'll update here after go through the sample-app guide.

[2015-04-04 07:00] jimmidyson opened #1592 "Router reloads even with no route changes"
Logs grow with same message:

[code]

The time between reloads is inconsistent, not obvious what is causing the reload.

I assume we should only be reloading router when there are actually route changes?

[2015-04-04 13:44] xjvs commented on #1590
I confirmed it works well with the latest code. sorry, closing this.

[2015-04-04 13:44] #1590 closed

[2015-04-04 16:02] smarterclayton opened #1595 "Builds started from a build config should have a structural reference to the creating build config"
A build that is unambiguously created from a build config should be associated to the creating build config via an ObjectReference.  The label can remain, but the build should point to its creator.  Is related to the triggering information, but is a primary structural field.  Should be set by the generator.

[2015-04-05 05:23] wangzhezhe commented on #1536
Thanks for your suggestions , I have  already fixed that problem but i have got another new problem:
I have already add the --insecure-registry 172.30.17.83:5000 (my private docker-registry service  ) in /etc/sysconfig/docker and restart the docker deamon , it seems thart i can't connect the private docker registry?
[vagrant@openshift-master sample-app]$ openshift cli build-logs -n test ruby-sampl

[2015-04-06 01:30] smarterclayton opened #1596 "Build cancelled when pod is not created never goes into cancelled"
Created a build on a mac (no Docker installed, which means pod never runs).  Build goes into running status.  Tried to cancel the build, but the status is not updated.  Pod doesn't exist, so build should be able to be cancelled and go into the cancelled state.

[code]

Pod has been deleted at this point.

[2015-04-06 01:30] #1565 closed

[2015-04-06 12:48] bparees commented on #1536
the configuration in your /etc/sysconfig/docker just tells the docker daemon which registries should be trusted, it does not tell openshift where the registry is.  This is why you should specify the entire subnet in your --insecure-registry argument:  --insecure-registry 172.30.17.0/24  (172.30.17.* appears to be the subnet your openshift services are running on, which is the default)

So first, f

[2015-04-06 13:23] TomasTomecek opened #1598 "PUT with `Expect: 100-continue` results in 500"
I am trying to `PUT` a custom json with modified labels to master's REST api. Master is hidden behind httpd auth proxy.

Unfortunately the master is unable to handle header `Expect: 100-continue\r\n` properly.

Request forwarded from httpd proxy to master:
[code]

Response from master to httpd proxy:
[code]

Master should react to `Expect: 100-continue` by sending `HTTP/1.1 100 Continue\r\n\r\n` a

[2015-04-06 14:52] #1545 closed

[2015-04-06 17:29] xjvs opened #1607 "sample-app: the frontend can't talk to database"
I'm following the guide (https://github.com/openshift/origin/blob/master/examples/sample-app/README.md) to build the sample app, after the front-end and database containers are started, the frontend can not talk to the database, here is the steps I took to check:

1. Confirm the database is up and running:
[code]
2. Connect to database from host, it has no problem:
[code]
3. Check frontend:
[code]

[2015-04-06 17:44] mrunalp commented on #1607
Could you take out this rule "-A FORWARD -j REJECT --reject-with icmp-host-prohibited" ?

[2015-04-06 18:08] xjvs commented on #1607
**Before take out the rule of "-A FORWARD -j REJECT --reject-with icmp-host-prohibited"**:

==================
from host:
[code]
from the container which boot up from the image used by frontend:
[code]
From host:
[code]
and seeing this on host while pinging:
[code]
**After take out the rule of "-A FORWARD -j REJECT --reject-with icmp-host-prohibited"**:

comment out the following 2 line in host's

[2015-04-06 18:10] xjvs commented on #1607
BTW: Here is the steps I took to setup the env (in a F21 vm): http://fpaste.org/207646/

[2015-04-06 19:26] roldancer opened #1612 "OpenShift Marketplace/Hub"
Hi All, I would like to know if OpenShift Marketplace/Hub will be supported in the OpenShift Enterprise /Origin V3.0, we have several services with different plans that we want to expose via Marketplace.

Many thanks

[2015-04-06 19:44] thoraxe opened #1613 ""delete --all" offers no sanity check"
This is dangerous!

[2015-04-06 19:58] thoraxe opened #1614 "rpm packaging should create /etc/openshift"
Since we now have real "config files" for openshift, we should probably have a config file folder, which might logically reside in something like `/etc/openshift`. This can store both master and node configs, as well as any other relevant configuration files.

[2015-04-06 20:53] thoraxe opened #1615 ""Creating ruby-keyvalue-quickstart in project Frontend/Backend" spins forever"
In the web console, when creating from a template, I am seeing:

[code]

And the spinner running forever on the project overview page.

[code]

[2015-04-06 21:13] thoraxe opened #1618 "osc login with non-existent project gives spurious error message"
[code]

[code]

[code]

[2015-04-06 21:14] thoraxe commented on #1618
sorry, user error -- should not have done the login as root.

[2015-04-06 21:14] #1618 closed

[2015-04-06 21:17] sdodson commented on #1614
I can provide /etc/openshift in the 'openshift' rpm but I'm trying to figure out what our next step would be. Should we make any attempt to provide a skeleton/default config files in /etc/openshift/master.yaml and/etc/openshift/node.yaml in the RPM? How about merging defaults and local config modifications?

@sosiouxme @detiber @deads2k @liggitt seem like interested parties here.

[2015-04-06 21:21] thoraxe opened #1619 "when trying to build sample-app, error about imagerepository occurs"
[code]

This just repeats ad-infinitum.

I have created a template like so:

[code]

And then I am trying to create an instance of this template. When starting the build, the error above occurs.

Note, this may also somehow be related to #1615

[2015-04-07 02:12] wangzhezhe commented on #1536
Thans for your suggestions and  patience , actrually , the registry service did not started properly last time , and everything is OK now !
However , I got another problem to customize my own services , for example I want to use origrin to deploy a service which contains a Jboss . if I use sti directly , it may seems like:
sti build /home/wangzhe/Downloads/test openshift/wildfly-8-centos test-jee-

[2015-04-07 02:42] bparees commented on #1536
Starting from the BuildConfig section of the sample template json, you'd change:

in the "source" section, change the "uri" to be your github repo for your application.

in the "stiStrategy" section change the "image" to be "openshift/wildfly-8-centos"

that's the minimal changes you need to make.  Note that "image change triggers" won't work with just those changes, but you'll be able to manually

[2015-04-07 03:09] detiber commented on #1614
I'd vote to not include default configs at this point. We can reassess once things have settled down. Otherwise, we are going to have to keep updating it as the config format changes.

[2015-04-07 04:44] smarterclayton commented on #1612
There will be no direct integration (from Enterprise or Origin) to the Marketplace when 3.0 is available.  Hub integration will come a bit later, although OSE3.0 will have a built in hub that means organizations can publish their own content.

w.r.t. the marketplace, what integration are you looking for?

[2015-04-07 06:10] roldancer commented on #1612
HI @smarterclayton we would like to instantiate and bind corporate services from OpenShift V3, we are looking for something similar to Cloud Foundry service broker API http://docs.cloudfoundry.org/services/api.html, OSE V3.0 will have something similar?

[2015-04-07 10:45] soltysh commented on #1619
This creates *just* the template object itself and not the objects from that template. I just did that:
[code]
You should have a look at [sample-app](https://github.com/openshift/origin/tree/master/examples/sample-app) step 15, which first of all processes the template (`osc process` part) and only after creates (`osc create`) the objects, see below output:
[code]

[2015-04-07 11:01] soltysh commented on #1488
@bparees since you were faster with #1609 can you please close this?

[2015-04-07 11:11] wangzhezhe commented on #1536
Thanks for your suggestions , but what should I set the "type" parameter in "source" if I want to upload a local war file ? Is there any tutorials to introduce how to create the customize .json config file?

[2015-04-07 11:14] soltysh commented on #1429
@mfojtik can you please close this?

[2015-04-07 11:45] xjvs commented on #1607
I've checked this again today, rebuild the sample app from the very beginning (just comment out the icmp reject rule and restart iptables & docker & openshift **with** the old openshift.local.* doesn't work).

Confirmed the most important point is removing icmp reject rule from INPUT chain, have the reject rule in FORWARD chain is ok.

* the issue exists when there is icmp reject rule in INPUT cha

[2015-04-07 11:56] deads2k commented on #1614
I would really like to avoid merging unless there's an incredibly strong case for it.  Merging has been the bane of .kubeconfig.

[2015-04-07 12:49] soltysh commented on #1536
Unfortunately this is not possible yet, but we already noticed that gap and create a card for this https://trello.com/c/IpN78bHa/430-5-binary-artifacts-can-be-used-for-deployments-without-checking-them-into-source-control-devexp-future

[2015-04-07 12:59] #1488 closed

[2015-04-07 13:16] bparees commented on #1536
whoops, we have this one too: https://trello.com/c/po7XXxco/525-3-use-http-zip-archive-for-source-location-build-future

i'll merge them :)

[2015-04-07 13:18] bparees commented on #1536
The best place to look to understand how to write a BuildConfig at this point is, unfortunately, the source...this file describes the BuildConfig type and fields pretty well:
https://github.com/openshift/origin/blob/master/pkg/build/api/types.go

[2015-04-07 13:22] chmouel opened #1625 "Make .kubeconfig *not* a dotfile"
We currently use the path `~/.config/openshift/.kubeconfig` for configuration by default. It's confusing for the new users not seeing the kubeconfig since the dotfiles are hidden by default with ls and not sure it's needed to be hidden when in this directory.

What about making `~/.config/openshift/kubeconfig.yml` or something like this instead (or at least not a starting by a dot)

[2015-04-07 13:24] sosiouxme commented on #1614
Agreed, no default configs or merging. Just need the directory to exist to put stuff in.

[2015-04-07 13:57] thoraxe commented on #1619
Clicking the "create" button in the web console should be the same thing as "osc process -f template | osc create -f -".

Otherwise, what is the purpose of "osc create -f template"?

CLI and the WebUI "experience" are different.

But it appears that something more sinister is going on on the back-end when using the WebUI to create an instance of a template.

I think you are talking about something

[2015-04-07 14:02] soltysh commented on #1619
On Tue, Apr 7, 2015 at 3:57 PM Erik M Jacobs <notifications@github.com>
wrote:

This creates the template object, the same way you create other objects. To
create objects from that template you need to process the template which in
result gives you a Config, which under the hood is a list of objects to be
created.

I think you are talking about something different than the bug references.

[2015-04-07 14:24] soltysh commented on #1596
I just tried to reproduce that, but I just stopped docker service. It worked without any problems, the build was canceled. Can you try that once again?

[2015-04-07 14:24] thoraxe commented on #1619
The issue this bug describes is that, after creating a template, when it is instantiated from the web UI and then the build is started, the error in the first comment is found -- the build will never complete.

[2015-04-07 15:53] mrunalp commented on #1607
@xjvs Thanks! Yes, the INPUT rule to icmp rule can't be there. I somehow misread your iptables rules yesterday and thought that there was an ACCEPT rule for icmp before the REJECT and hence it was harmless.

[2015-04-07 17:14] smarterclayton commented on #1612
We've already started documenting how you bind external services here: http://docs.openshift.org/latest/using_openshift/integrating_external_services.html

As far as automatic provisioning, that's something we've been working upstream in Kubernetes on and so there should be an OpenShift/Kubernetes specific solution that allows pluggable provisioning of resources on demand.  I don't think it will b

[2015-04-07 17:46] roldancer commented on #1612
Hi @smarterclayton , thanks for your response, but it is not exactly I'm looking for, I would like to see something automatic, I mean the ENV variables for the endpoints injected automatically by the PaaS runtime.

[2015-04-07 18:09] jwforres commented on #1577
When there is no spec for the image stream it seems to be both adding the images to the list of images for the "latest" tag, and creating unique tags for the image.  See origin-ruby-sample in the gist.

https://gist.github.com/jwforres/a28ac9893894465f4247

Can be recreated by creating from examples/sample-app/application-template-stibuild.json and running a few builds

[2015-04-07 18:13] smarterclayton commented on #1612
That sort of automatic injection is on the roadmap, but not currently implemented.  https://github.com/GoogleCloudPlatform/kubernetes/issues/1768 tracks the underlying upstream issue with injecting and mutating the variables provided by a service.  The extra environment for a service being injected is something we can track in this issue.

----- Original Message -----

[2015-04-07 18:19] ncdc commented on #1577
This shouldn't be related to spec or no spec.

We technically are creating 2 tags with the v1 registry, but if we don't want to see them, I can remove the by-id tag from status.tags. Note, this won't be an issue with the v2 registry.

Sent from my iPhone

[2015-04-07 18:24] jwforres commented on #1577
If this is temporary until we have v2 registry then I'm ok either way.

On 04/07/2015 02:19 PM, Andy Goldstein wrote:

[2015-04-07 18:28] jwforres commented on #1577
When I have an ImageStream like the one below it creates the image record under the tag but the "image" field is set to empty string, is that expected?

ImageStream in the template:
[code]

ImageStream returned from api:
[code]

[2015-04-07 18:41] ncdc commented on #1577
Yes, that is expected. With `spec.tags`, you will only ever see `image` populated when using `from` with `kind=ImageStreamTag` or `kind=ImageStreamImage`. And even then, it's possible to have a blank image. The rationale behind this is that if you set a spec tag to a dockerImageReference, it's an opaque string to us at that point, and we don't inspect it to try to determine the image id. Maybe if

[2015-04-07 18:50] jwforres commented on #1577
In that case if I want to get more info on the image (like if i wanted to look at the ENV), is it imageStreamImage@<dockerImageReference>  or can I not get more details?

[2015-04-07 18:51] jwforres commented on #1577
Sorry meant to say imageStreamImage/\<imageStream\>@\<dockerImageReference\>

[2015-04-07 19:10] ncdc commented on #1577
Only if it comes from an image stream and we know about it. If stream A points at opaque dockerImageReference foo/bar@sha256:..., there's no guarantee that we have any record of that image in OpenShift.

Sent from my iPhone

[2015-04-07 19:51] jstrachan opened #1629 "easy way to import apps into the OpenShift template library?"
we create [lots of apps](http://fabric8.io/guide/fabric8Apps.html) for running on OpenShift in each fabric8 release. Here's the [source for them all if you want a look](https://github.com/fabric8io/quickstarts/tree/master/apps).

then each release ships with a zip of them all. e.g. the 2.0.39 release:
http://central.maven.org/maven2/io/fabric8/jube/images/fabric8/apps/2.0.39/

see the [app.zip fil

[2015-04-07 20:13] thoraxe opened #1630 "triple-click on build commandline in console results in highlighting whole screen"
![screenshot from 2015-04-07 16 13 10](https://cloud.githubusercontent.com/assets/94413/7032504/117d8bea-dd41-11e4-94de-fd43af3374dd.png)

This is a little inconvenient for copy/paste.

[2015-04-07 20:45] thoraxe commented on #1615
![screenshot from 2015-04-07 16 45 17](https://cloud.githubusercontent.com/assets/94413/7033077/8459a028-dd45-11e4-83bb-4ca92d34f98b.png)

[2015-04-07 20:46] thoraxe commented on #1619
Still happening with latest puddle:

[code]

[2015-04-07 20:53] #1546 closed

[2015-04-08 03:26] smarterclayton commented on #1629
I don't see why not.  One way (maybe not the best way, but a possible way) is to do the following transformation:

1. The name of the directory becomes a template name
2. The body of the template is kubernetes.json (the "objects" field can be the config "items" field)
3. Store the readme as the description (we should supported limited markdown in descriptions, or have a way to indicate the descrip

[2015-04-08 03:27] smarterclayton commented on #1619
The error you're seeing may be due to a change in how image streams were created.  @ncdc

[2015-04-08 03:28] smarterclayton commented on #1612
A design previously discussed was loading environment variables from a service (defined as annotations) when a deployment was calculated.

[2015-04-08 03:29] smarterclayton commented on #1607
Where is the best place to document this, or record it so it doesn't catch anyone else?

[2015-04-08 03:33] smarterclayton commented on #1598
Is this with mod_auth or something more sophisticated?

[2015-04-08 05:18] TomasTomecek commented on #1598
httpd with basic auth (can provide whole config)
client is curl (I think that `curl -X PUT -d @build.json ...` should reproduce it)

[2015-04-08 05:24] wangzhezhe commented on #1536
Thanks for your advices and information , hope the origin will be better in future !

[2015-04-08 05:35] #1429 closed

[2015-04-08 09:01] chmouel commented on #1625
related kubernetes issue https://github.com/GoogleCloudPlatform/kubernetes/issues/4615

[2015-04-08 09:48] palonsoro commented on #1612
Yes. It would be interesting to automatically inject not only URLs but also other information from a service, such as credentials, only to containers consuming that service. Maybe the best way would be to define a variable (or group of variables) where a service can inject any kind of data to its consumers (thus, the content of that variable would be service-dependant).

[2015-04-08 10:06] palonsoro commented on #1612
On the other hand, what I think that should be interesting is having a catalog of service kinds, from which someone can provision and de-provision services. Those provisioned services would then be bindable to applications.

A very very concrete example would be: If I offer the "MySQL shared database" service kind, I would be able to:
- Provision a service of that kind: I create a new schema insid

[2015-04-08 10:35] TomasTomecek opened #1634 ""watch/builds/<build_id>/" returns states for all builds on the namespace"
My build has finished and master is producing inconsistent results:

[code]

and

[code]

`watch` is of course incorrect since the container exited with 0:
[code]

My workflow:
 1. create build: `POST /builds/`
 2. during build, get build json `GET /builds/<build_id>`, add metadata to labels and store the build json: `PUT /builds/<build_id>`
 3. watch the build on client (`GET /watch/builds/<build

[2015-04-08 11:35] kargakis commented on #1613
I guess this is an upstream issue

[2015-04-08 11:41] deads2k commented on #1625
@smarterclayton Three questions:
 1. What filename should I use in $HOME?  `~/.config/openshift/openshiftconfig`?
 1. What filename should I use in `cwd`? `./.openshift/openshiftconfig`?
 1. Must I migrate existing files or simply abandon in place?

[2015-04-08 11:45] bparees commented on #1536
you're welcome, can we close this issue?  feel free to open more if you hit additional problems.

[2015-04-08 12:19] bparees opened #1636 "template customizability"
Currently only ENV values can be parameterized in openshift templates.  There are several additional places where it would be useful to be able to provide customized values when instantiating the template:

**naming**:  currently services/deploymentconfigs/buildconfigs/etc all have a fixed name defined in the template.  This means you can't instantiate a template more than once in a given project.

[2015-04-08 13:28] wangzhezhe commented on #1536
Ok, of course ! Thanks again for your help!

[2015-04-08 13:32] jcantrill opened #1637 "Load template error while running asset tests"
Adding here so we can investigate.  Get the following error when running 'grunt test'.  It doesn't appear to effect the tests but we should resolve it
[code]

[2015-04-08 13:47] brenton commented on #1567
Gently bumping this...

[2015-04-08 13:52] pweil- commented on #1567
Sorry, didn't see this.  Your findings are the correct cause of this: right now edge and unsecure use the same backend map since they were both unsecure http connections.  Once the connection is decrypted we're looking at the same place.  This is a pretty simple change, we need to separate them into separate files in the haproxy template.  We can still reuse the same backend.

Specifically though:

[2015-04-08 14:05] smarterclayton commented on #1598
Looking at the Go docs there's comments that they already handle this, but maybe we're doing something specific that blocks it.

----- Original Message -----

[2015-04-08 14:07] jpechane opened #1639 "Rename command osc log to osc logs"
I think it would be good to rename comand 'osc log' to 'osc logs' or support both variants. The reasoning behind is

1) Docker uses 'docker logs'
2) There is 'osc build-logs'

This means that 'osc log' is anomaly and is frequently mis-type as 'osc logs'

[2015-04-08 14:16] bparees commented on #1536
you're welcome.

[2015-04-08 14:16] #1536 closed

[2015-04-08 14:40] ncdc commented on #1619
Working on a fix now.

[2015-04-08 14:43] bparees commented on #1636
@smarterclayton @jstrachan @goldmann @mfojtik feedback please.

[2015-04-08 14:45] mfojtik commented on #1636
@bparees the generic approach is already done, I had PR for that. I can adapt the PR to selectively enable on what items we want to support substitutions.

[2015-04-08 15:09] smarterclayton commented on #1636
I would rather allow all values to be substituted (numbers and strings).

[2015-04-08 15:18] bparees commented on #1636
@mfojtik remind me...did you PR only do values, or did it do keys and values?

[2015-04-08 15:23] ncdc commented on #1619
I believe this is also fixed by #1638

[2015-04-08 15:25] rcernich commented on #1636
Here's a list of the fields I was trying to use parameters for in one of my templates:
 * id fields (service, route, etc.)
 * metadata/name fields (route, image stream, build config, deployment config, etc.)
 * build
  * image change trigger (tag)
  * git source (uri, ref, context dir)
  * sti (tag)
  * output to (name, tag)
 * deployment
  * image change trigger (container name, from/name, tag)

[2015-04-08 15:35] jstrachan commented on #1636
allowing all values to be parameterised sounds like a nice thing to me

[2015-04-08 16:21] sosiouxme opened #1641 "admin kubeconfig public-master context doesn't point at public-master cluster"
The kubeconfig openshift-master automatically generates for admin includes these contexts:

[code]

Note the second one is still pointing at the internal master. The public-master cluster is defined, just needs to be used here.

[2015-04-08 16:32] sosiouxme opened #1642 "osc update --patch doesn't work as advertised"
[code]

OK, let's try that out:

[code]

Now, it could easily be the case I did something wrong. But if so, it should tell me what that is, because I clearly followed the example and provided the parameters. If I need to add kind or name to the json, it should tell me that, not this. Or if the help is wrong, fix that and this message.

While fixing this might be a good time to also have --patch su

[2015-04-08 16:40] sosiouxme opened #1643 "confusing error message for broken kubeconfig"
[code]

I ran into this by accident with a "broken" .kubeconfig. Unfortunately I blew it away so I'm not sure the exact scenario, but I could reproduce it using the generated admin .kubeconfig and simply editing the file to set current-context: none. I would surmise there are likely other ways to break it.

The error message is... inscrutable. If what you're trying to say is that there's no such c

[2015-04-08 16:50] soltysh commented on #1607
Maybe here https://github.com/openshift/origin/blob/master/docs/debugging-openshift.md ?

[2015-04-08 17:25] jstrachan commented on #1629
thanks @smarterclayton that sounds good to me. I'm a little nervous of the size of pod / RC json having icons in there by value rather than reference; I'd prefer a real URI path to icons but I guess thats a more long term optimisation.  e.g. to avoid loading a 30k icon for every pod when you've lots of pods with the same icon.

I'm gonna take a stab porting the fabric8 maven plugin that generates

[2015-04-08 17:29] fabianofranz commented on #1245
Fixed in https://github.com/openshift/origin/pull/1640

[2015-04-08 17:31] smarterclayton commented on #1629
Oh, I wasn't expecting to put that into the pod.  We should be able to tie image repositories to icons maybe.

Yeah, it should be a single command "osc create -f <directory>" which will bulk import all the files.

[2015-04-08 17:34] jstrachan commented on #1629
@smarterclayton oh you mean just annotate the template; but not annotate the pod / RC right? If so sure thats good ;)

Am just wondering how we'd find the icon URL for a pod/RC/service; do kubernetes resources get annotated with the template ID?

[2015-04-08 17:36] smarterclayton commented on #1629
We could annotate the service actually - that one seems like the natural fit.  So the template itself could put the annotation on its services.

[2015-04-08 17:44] rcernich commented on #1636
I'm also using generated parameters for build trigger git/generic secrets.

[2015-04-08 17:45] smarterclayton commented on #1636
Secrets should be created automatically, is that because you're using the url in another resource as an ENV var?

[2015-04-08 17:56] rcernich commented on #1636
@smarterclayton no, this is for the source triggers in the build config (i.e. BuildConfig/triggers/type=github/github/secret and BuildConfig/triggers/type=generic/generic/secret).  If secrets can be used for those settings, then that would probably be preferable.

[2015-04-08 17:58] smarterclayton commented on #1636
Gotcha.  I was thinking about webhooks, and secret data still has to be filled out.  It does mean eventually the UI should be able to provide a file as a parameter value.

[2015-04-08 18:41] smarterclayton opened #1646 "Deleting a build pod does not seem to be detected by the build controller"
No new pod was created within a few minutes, nor was the build marked failed.

Scenario:

1. Start openshift with --images="openshift/origin-${component}:non-existent-tag"
2. Start a build
3. The build and build pod stays in pending forever (no such image origin-sit-build:non-existent-tag)
4. Delete the build pod

Observe:

1. Build pod is not recreated
2. Build is not marked failed (stays in pend

[2015-04-08 18:48] smarterclayton opened #1647 "Build logs should not include timestamps"
[code]

Getting timestamps from two sources.  It's probably due to the glog prefix, which probably means our STI code needs to stop using glog.

[2015-04-08 18:51] sspeiche opened #1648 "No way to (programmatically or not) get list of resource types for "osc get""
I only see 2 ways, both don't make it too easy on an end user:
 1. **cli**
[code]
 1. **rtfm**
   [See docs](https://ci.openshift.redhat.com/openshift-docs-master-testing/latest/using_openshift/cli.html#cli-object-types)

I prefer either I get error message with valid types when I select invalid or something like `osc get-types`.

[2015-04-08 18:51] smarterclayton opened #1649 "Multiple deployment pods created on restart"
On restarting OpenShift, a whole bunch of new deploy pods were created and not cleaned up:

[code]

It looks like multiple deployments are being triggered (maybe due to the history?)

[2015-04-08 18:54] smarterclayton opened #1650 "Unable to run start-build after restarting my server"
I restarted my server after running a few builds, and now start-build is broken:

[code]

This should never happen

[code]
[code]

[2015-04-08 19:10] ironcladlou commented on #1649
@smarterclayton Can you give me some more detail for reproducing this? What I've tried so far is creating a simple deployment and bouncing the server, which seems to be working fine.

[2015-04-08 19:14] smarterclayton commented on #1649
I had two deployments of the docker registry, one that failed (because i was using --images for 0.4.3 which doesn't exist yet).  I then deleted my dc and service and recreated (without deleting the old dc).  I then restarted the server.  The new dc started a deployment-2 (because 1 already existed) but i bet the current version was 0 (not 2).  So that's a place to start looking.

----- Original Me

[2015-04-08 19:17] ncdc opened #1652 "Update image group policy for Docker 1.6 & v2 registry"
Once Docker 1.6 and our v2 registry are out, we'll need to have the image resources in the policy like this:

- only the registry is allowed to access images and imagestreammappings
- any client may access imagestreams, imagestreamimages, imagestreamtags
- remove any references to imagerepositorymappings

@smarterclayton @deads2k @jwforres PTAL

[2015-04-08 19:52] smarterclayton opened #1655 "Proxier goes bananas (ba-n-a-n-a-s)"
Kube-proxy lost its mind.  A restart of the server retrieved it.

[code]

[2015-04-08 19:53] smarterclayton commented on #1655
This is almost certainly an upstream thing.

[2015-04-08 19:54] smarterclayton opened #1656 "Kubelet loops endlessly looking at run once pods"
Created a number of run once pods that ran to completion, then restarted the all-in-one.  The Kubelet appears to be looping (seeing the pods, that are complete) without ignoring them forever like it should.

[code]

Possible there's a bug in Kubelet log where it doesn't properly ignore run-once pods.

[2015-04-08 19:56] smarterclayton commented on #1655
After a restart of the server, it stops happening for a few minutes, then happens again.  Maybe a bug in the list-watch behavior?

[2015-04-08 19:57] maxandersen commented on #1636
+1 for not limiting replacement to specific locations but open up for any attribute value.
Then provide additional smarter ways to generate values based on kubernetes/OS3 state (to avoid overlapping names etc.) and the template mechanism would become really useful really fast.

[2015-04-08 19:58] ironcladlou opened #1657 "Define delete behavior for DeploymentConfigs"
Deleting a DeploymentConfig which has associated deployments can result in undefined and problematic behavior, especially if the DeploymentConfig is subsequently recreated. See #1649 for an example.

Deleting a DeploymentConfig should have defined behavior, and deleting/recreating a DeploymentConfig should be a safe operation. This issue will track the design for DeploymentConfig delete handling.

[2015-04-08 19:59] ironcladlou commented on #1649
This bug should serve as a use case to drive the design of #1657.

[2015-04-08 20:03] mfojtik commented on #1636
@bparees only values, keys would be more tricky :)

[2015-04-08 20:04] mfojtik commented on #1636
@bparees for reference, this is the PR: https://github.com/openshift/origin/pull/827

[2015-04-08 20:06] mfojtik commented on #1636
@bparees taking my previous comment back, the PR do support replacing keys in map (if I reading my code correctly ;-)

[2015-04-08 20:10] bparees commented on #1650
that's pretty odd since the BC specifically shows LastVersion=4.

[2015-04-08 20:12] bparees commented on #1646
We can't get events for deleted things, right?  so we have to handle this via reconciliation?

[2015-04-08 20:13] bparees commented on #1646
btw I assume #3 is expected behavior?  so the expected behavior is that either we should recreate the build pod, or fail the build.

[2015-04-08 20:14] bparees commented on #1636
and here's the trello card: https://trello.com/c/50JUEZtO/336-2-as-a-user-i-would-like-to-generically-substitute-template-parameters-composition-future

[2015-04-08 21:39] #1615 closed

[2015-04-08 21:43] pweil- commented on #1567
@brenton I have this working locally.  I ran into probe failure issue on https://github.com/openshift/origin/pull/1603 and got side tracked but I should be able to open a PR for it once we come to a conclusion about the probe.

[2015-04-08 22:01] smarterclayton commented on #1636
I don't want to replace keys unless someone can make a really strong argument.  And even then, I'll probably say no :)

----- Original Message -----

[2015-04-08 22:01] smarterclayton commented on #1646
Can't guarantee you get the event in all cases, correct.

----- Original Message -----

[2015-04-08 22:01] smarterclayton commented on #1646
Probably fail the build.

[2015-04-08 22:02] smarterclayton commented on #1650
Can a controller update that?  It's possible the controller was still processing on restart when I ran the command (it shouldn't have failed to start the build though).

----- Original Message -----

[2015-04-08 22:09] bparees commented on #1650
I don't think the controller should be updating it, it should be updated when we create the build which is now the responsibility of the instantiate/clone endpoint.  but @soltysh is the expert here since that's all his new code.

i guess i'm wondering if you'd run start-build a second time, what would have happened.  (would it have gotten "5" as i'd expect?  and if so, who got "4"?)

[2015-04-08 23:41] #1445 closed

[2015-04-08 23:41] #1441 closed

[2015-04-08 23:41] #1350 closed

[2015-04-08 23:42] #1245 closed

[2015-04-09 01:27] smarterclayton commented on #1648
Covered upstream by https://github.com/GoogleCloudPlatform/kubernetes/issues/3060

[2015-04-09 01:27] smarterclayton commented on #1643
This is fixed upstream and will be in the next rebase.

[2015-04-09 01:29] smarterclayton commented on #1642
Doesn't seem anything obviously wrong on the command or the json.

[2015-04-09 01:30] smarterclayton commented on #1639
Agreed, something we need to open as an upstream issue.

[2015-04-09 02:21] liggitt commented on #1521
fixed by https://github.com/openshift/origin/pull/1540

[2015-04-09 02:21] #1521 closed

[2015-04-09 02:22] liggitt commented on #1338
required fields, certs provided, address agreement, and field format is done

signed certs and server connection checks probably go beyond what we want to validate (should you have to be online to validate the config? seems like you shouldn't)

[2015-04-09 07:10] Vishalkale0409 opened #1660 "Unable to access openshift origin API"
Hi all,
I am facing issue while accessing openshift origin API's. I am facing error as "\"/osapi/v1beta1/authorizeTokens\" is forbidden because system:anonymous cannot list on authorizeTokens in ",

I don't understand how to provide authentication to it. I tried with creating token using cli and providing that using authentications.But still it is not working.Please Help. Thank you in advance.

[2015-04-09 08:08] mfojtik commented on #1639
+1

[2015-04-09 09:54] mfojtik opened #1662 "Unable to start openshift server - no locks available"
[code]

Seems like it has something to do with the etcd PR.

This is libvirt Vagrant box running F21 with latest master.

[2015-04-09 10:03] mfojtik commented on #1662
@smarterclayton FYI

[2015-04-09 10:04] ncdc commented on #1662
I've been able to. Try wiping your etcd dir perhaps, and make sure you've done at least 1 make clean?

Sent from my iPhone

[2015-04-09 10:05] mfojtik commented on #1662
@ncdc did make clean build twice, wiped all etcd dirs after git pull.

[2015-04-09 10:07] mfojtik commented on #1662
(doing vagrant destroy / up right now... that box was pretty old anyway)

[2015-04-09 10:12] mfojtik commented on #1662
no, still the same error, even with the fresh new machine... 2015/04/09 10:11:02 etcdserver: create wal error: no locks available

[2015-04-09 10:12] ncdc commented on #1662
What os? I'm on f21.

Sent from my iPhone

[2015-04-09 10:14] mfojtik commented on #1662
@ncdc figured it out :-) It is NFS mount that Vagrant is doing when you use libvirt provider. I tried to start OpenShift on NFS mount and got this error.

If I do:

[code]

Everything works :-)

[2015-04-09 10:15] ncdc commented on #1662
Great. Funnily enough, when I googled the error, nfs results showed up :-)

[2015-04-09 10:16] mfojtik commented on #1662
@ncdc I feel I should document this somewhere ;-)

[2015-04-09 12:14] deads2k opened #1665 "subresources on namespace don't work properly"
Accessing a subresource on a namespace in v1beta3 is indistinguishable from doing a list on a different resource.

@derekwaynecarr Any advice?

[2015-04-09 12:16] brenton commented on #1567
That's awesome Paul.  Thanks for the update.

[2015-04-09 12:45] mfojtik commented on #1636
@smarterclayton yeah, I also think that replacing in map keys is not ideal and I can't make a good use case for that in my brain.

[2015-04-09 12:51] kargakis commented on #1648
There is also a [Trello card](https://trello.com/c/1jmGVmMK/522-2-list-all-resources-on-the-client-uicomp-future) for this but I guess upstream work will be sufficient.

[2015-04-09 12:52] sosiouxme commented on #1530
More specifically, http://127.0.0.1:6060/debug/pprof/heap?debug=1

[2015-04-09 12:56] derekwaynecarr commented on #1665
Match reserved sub resource names (finalize / status ) before assumption of kind?

[2015-04-09 12:56] kargakis commented on #1642
We just wrap `update` so this is an upstream problem.

[2015-04-09 13:02] kargakis commented on #1613
@thoraxe can you report this in Kubernetes and close this issue?

[2015-04-09 13:04] brenton commented on #1660
If you want to poke around areas of the api it's probably best to use the admin account.  It's easiest to do this by finding the `openshift.local.certificates/admin/.kubeconfig` that openshift creates on startup and the copy it to `~/.kube/.kubeconfig`.  At that point all the osc commands you run will be done as the admin user.

If you want to use curl or another client simply use the client certi

[2015-04-09 13:04] #1660 closed

[2015-04-09 14:19] mmilata opened #1666 ""panic: runtime error: invalid memory address or nil pointer dereference" on armhfp"
I am unable to start openshift (9e304e5c3b8bb131fa484ced064ab7cfbb7e0531) on armhfp - it produces the following stacktrace:

[code]

Operating system is Fedora 21.

cc @vpavlin

[2015-04-09 14:30] kargakis commented on #1666
Can you run it again? Looks like this issue is already known upstream: https://github.com/coreos/etcd/issues/2308

[2015-04-09 14:47] mmilata commented on #1666
Thanks for your response @kargakis. When I run it for the second time it fails with

[code]

I checked and DNS seems to be configured correctly so that shouldn't be an issue. No iptables rules and selinux in permissive mode.

[2015-04-09 15:30] bparees commented on #1636
@mfojtik does your PR implementation support partial replacement (eg "$MYPARAM-foo") or only exact matches?

[2015-04-09 16:59] pmorie commented on #1469
@pweil- Unfortunately, that is not the fix; that is only to set the rootcontext of the tmpfs mountpoint to the same as that of the kubelet root dir.  The issue @smarterclayton is getting at is that the kubelet process itself is not is the same mount namespace as the host.  The container and kubelet wind up not sharing mount namespaces and thus the pod's containers do not see the mounts the kubelet

[2015-04-09 17:14] csrwng commented on #1634
@TomasTomecek what you are seeing is the state of a different build. Currently the watch will return the state of all builds on that namespace and not just the build you're requesting. This will be resolved when we switch the builds storage to use the upstream etcd generic controller. One workaround you can do for now is look at the object you're getting with the watch and check that the name equa

[2015-04-09 17:48] sosiouxme commented on #1530
@smarterclayton or whoever... I did above heap dump, ran it through pprof web, and came out with this.
![heap](https://cloud.githubusercontent.com/assets/29690/7073033/a09ae6aa-debe-11e4-8594-3e9e9d03fb06.png)

I'm... not quite sure how to read that. I'm not sure if "heap" dumps current state of heap, or profiles heap allocations (I think the latter). Seems like tls and json are burning a lot of R

[2015-04-09 17:50] sosiouxme commented on #1530
Trying the attachment again.
![heap](https://cloud.githubusercontent.com/assets/29690/7073130/4d73e07a-debf-11e4-9ac1-2517dedd80d8.png)

[2015-04-09 17:51] sosiouxme commented on #1530
Trying the attachment again.
![heap](https://cloud.githubusercontent.com/assets/29690/7073169/82fa2100-debf-11e4-92e0-d1df84cac14a.png)

[2015-04-09 17:51] sosiouxme commented on #1530
Apparently github just hates me.

[2015-04-09 18:07] kargakis commented on #1312
No more duplicates in our deps.

[2015-04-09 18:07] #1312 closed

[2015-04-09 18:08] jimmidyson commented on #1469
@pmorie @pweil- Do you think there is a solution to this coming soon or should we stop recommending running OpenShift itself in a container for now?

[2015-04-09 18:09] pmorie commented on #1469
@jimmidyson I don't have a read on it yet; I will let you know.

[2015-04-09 18:09] kargakis commented on #1666
@smarterclayton this and other issues should be fixed upstream. If we want to keep them open, we should probably add an `upstream` label?

[2015-04-09 18:18] smarterclayton commented on #1656
That output is looped over and over

[2015-04-09 18:20] smarterclayton opened #1674 ""address already in use" integration test flake"
[code]

We think it has something to do with unstarted HTTP listeners racing.  Maybe.

[2015-04-09 18:24] sosiouxme commented on #1530
Trying the attachment again.
[heap](https://cloud.githubusercontent.com/assets/29690/7073843/2f15ed12-dec4-11e4-8ec9-7bbf8b59f0c0.png)

[2015-04-09 18:40] smarterclayton commented on #1530
I think someone is forgetting a request body.Close()

[2015-04-09 19:23] pmorie commented on #1469
@jimmidyson Were you using a privileged container?

[2015-04-09 19:25] pmorie commented on #1469
Looks like there's a relevant upstream issue for this: https://github.com/docker/docker/issues/10088

[2015-04-09 19:40] thoraxe opened #1677 "openshift admin new-project doesn't indicate how to specify project name"
[code]

We probably want some indication that you need to do:

[code]

Or something to that effect.

[code]

[2015-04-09 20:07] thoraxe opened #1679 "quota units seem to cause issues (eg: Mi)"
Given the quota json:

[code]

M, Mi, and MiB all produce the same error:

[code]

[code]

[2015-04-09 20:29] smarterclayton commented on #1636
Also please sync with Paul on the requirements for substitution I gave him.  Always require ${name}, support proper escaping

[2015-04-09 20:38] jimmidyson commented on #1469
Yes using a privileged container to run openshift all-in-one, but not for
all other containers obviously.

On 20:25, Thu, 9 Apr 2015 Paul Morie <notifications@github.com> wrote:

[2015-04-09 20:51] derekwaynecarr commented on #1679
The v1beta1 syntax had memory in bytes and cpu in millicores.

For v1beta3 syntax, you can specify memory in power of two and cpu in processor cores.

v1beta1: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/resourcequota/resource-quota.json

v1beta3: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/resourcequota/v1beta3/resource-quota.json

[2015-04-10 01:51] ncdc commented on #1579
Another one: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_openshift3/1761/console

[2015-04-10 01:59] ncdc commented on #1579
For the failures, it's not doing a release build. I see this output:

[code]

Normal run:
[code]

[2015-04-10 03:48] smarterclayton opened #1683 "Remove sti-image-builder from our build-images flow"
It's not dependent on openshift, and should be built somewhere else.

[2015-04-10 03:50] smarterclayton commented on #1677
There is a general cleanup that needs to be done for all commands

1. Set usage for all commands
2. Add examples for all commands
3. Ensure eric's Manual / Markdown documentation generates it (i.e., follow the upstream style).

We should do all of that at once (@fabianofranz).

[2015-04-10 03:52] smarterclayton commented on #1662
Can we get etcd to return a more verbose error?

[2015-04-10 03:52] smarterclayton commented on #1662
Or, if they're returning the error to us, we should explicitly show it.

[2015-04-10 06:01] liggitt commented on #1338
closing as the initial validation pass is complete

[2015-04-10 06:01] #1338 closed

[2015-04-10 10:43] mfojtik opened #1688 "Post-`osc login` message doesn't check if user has permission to create projects"
@liggitt maybe I'm doing something wrong here, but I can't create a new project after login:

[code]

[2015-04-10 12:03] liggitt commented on #1688
You need to create the project as a cluster admin. The user you are logged in as does not have project creation permission

[2015-04-10 12:07] ncdc commented on #1688
Why can't users create their own projects?

Sent from my iPhone

[2015-04-10 14:07] TomasTomecek commented on #1634
Wow, totally missed that. Thanks Cesar!

[2015-04-10 16:12] mfojtik commented on #1688
@liggitt maybe we should then remove the suggestion about creating new projects, or check if the user has right to do so and replace the content if the help message with something like 'contact the cluster admin to create a project for you'

[2015-04-10 16:13] liggitt commented on #1688
To be fair, the suggestion does say "If you have access to create a new project...", but checking and tailoring the suggestion could be reasonable.

[2015-04-10 16:14] mfojtik commented on #1662
@smarterclayton they return just

2015/04/09 09:54:02 etcdserver: create wal error: no locks available

Can we capture this error and give users some suggestions (like you're running on NFS volume, use --etcd-dir... )

[2015-04-10 16:32] bparees opened #1692 "convert buildConfigHooks to REST resource"
buildConfigHooks should be implemented as a standard REST resource.

@soltysh fyi.

[2015-04-10 16:55] thoraxe commented on #1679
Following v1beta3's example:

https://raw.githubusercontent.com/GoogleCloudPlatform/kubernetes/master/examples/resourcequota/v1beta3/resource-quota.json#

I get an error:

[code]

[2015-04-10 17:10] thoraxe opened #1696 "osc status doesn't show anything if I only have pods"
[code]

I'm not sure that that is desired.

[2015-04-10 17:12] ncdc commented on #1679
That example has multiple invalid trailing commas and will need fixing

[2015-04-10 18:20] thoraxe commented on #1679
[code]

This seems to work - the commas was it.

[2015-04-10 18:20] #1679 closed

[2015-04-10 18:26] smarterclayton commented on #1657
Also, deployment process pods should hang around for a few minutes if they succeed, or a few more minutes if they fail (and builds should be consistent) @bparees as per discussion

[2015-04-10 18:28] #1665 closed

[2015-04-10 19:21] deads2k commented on #1625
@jwforres unlucky string compare.  Can you reopen this?

[2015-04-10 20:23] jwforres opened #1701 "selfLink returned from ImageStreamImage and ImageStreamTag calls is not a valid link"
It returns a URL like:

`/osapi/v1beta1/imageStreamImages/b85d88371cd9f8189637e57d65844dc57547360f6aadf8b5bdd46a6e5b288505?namespace=`

Which can't be retrieved because imageStreamImages expects the name to be \<imageStreamName\>@\<imageId\>

[2015-04-10 20:25] liggitt opened #1702 "`osc delete type name` makes API GET call before deleting"
This breaks the assumption that you can have permission to delete things you cannot read.

This is very useful for things like access tokens.

Visit $MASTER/oauth/token/request:

[2015-04-10 23:25] ncdc commented on #1701
I think this comes from upstream. After we return the object in question (in this case, an image), I believe control goes to https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/apiserver/resthandler.go#L99, where it calls https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pk

[2015-04-10 23:25] ncdc commented on #1701
@smarterclayton thoughts?

[2015-04-11 00:30] liggitt commented on #669
Closing since console docs and readme have been updated:

http://docs.openshift.org/latest/using_openshift/console.html#overview
https://github.com/openshift/origin/blob/master/README.md#management-console

[2015-04-11 00:30] #669 closed

[2015-04-11 00:33] liggitt commented on #803
Switched build logs to proxy in https://github.com/openshift/origin/pull/1383

[2015-04-11 00:33] #803 closed

[2015-04-11 00:35] liggitt commented on #1080
fixed in https://github.com/openshift/origin/pull/1174

[2015-04-11 00:35] #1080 closed

[2015-04-11 00:36] #1200 closed

[2015-04-11 00:40] liggitt commented on #1339
Fixed in:

* https://github.com/openshift/origin/pull/1631
* https://github.com/openshift/origin/pull/1585
* https://github.com/openshift/origin/pull/1540
* https://github.com/openshift/origin/pull/1532
* https://github.com/openshift/origin/pull/1426

[2015-04-11 00:40] #1339 closed

[2015-04-11 00:41] liggitt commented on #1341
Pre-created for clustered Vagrant env in https://github.com/openshift/origin/pull/1534/

Still need to pre-create for all-in-one Vagrant

[2015-04-12 05:41] thesteve0 opened #1704 "after ./osc login no other auth works"
I ran ./osc login with the combination admin/password but when I think try to pass flag to ./osc it barfs.

spousty@localhost openshift-client$ ./openshift ex new-project testproject --username='anyuser' --password='anypassword'
F0411 22:41:27.025906   29605 new_project.go:44] Error getting client: more than one authentication method found for  admin.  Found [token basicAuth], only one is allowed

[2015-04-13 05:17] jpechane opened #1706 "HAProxy routes stop working when invalid cert/key is uploaded for any of route"
If a user misconfigures SSL for one of its routes then HAProxy stops completely serving all routes with message in log
2015-04-13T05:04:55.840373604Z [ALERT] 102/010455 (9097) : Fatal errors found in configuration.
2015-04-13T05:05:43.460748843Z E0413 01:05:43.460661       1 router.go:126] Error reloading router: exit status 1
2015-04-13T05:05:43.460748843Z  Reload output: + config_file=/var/lib/h

[2015-04-13 12:59] brenton commented on #1704
The only authentication mechanisms that are valid for the openshift api are token and client certificate.  Other authentication methods are used only for obtaining tokens.  I'm guessing we shouldn't allow `--usename` and `--password` on the rest of the cli.  @deads2k, @liggitt, either of you know who this should be assigned to?

[2015-04-13 13:04] brenton commented on #1706
@abhgupta could someone on the runtime team look into this?

[2015-04-13 13:06] deads2k commented on #1704
I'll take a stab at it.

[2015-04-13 13:26] smarterclayton commented on #1701
We should be returning image stream tag and image stream image.

[2015-04-13 13:39] jwforres commented on #1701
@ncdc how much will this affect the response, other than kind/name?

[2015-04-13 13:51] ncdc commented on #1701
@jwforres it shouldn't affect it at all; my plan is to set the embedded `Image` to inline the json.

[2015-04-13 14:21] #1613 closed

[2015-04-13 14:21] thoraxe commented on #1613
https://github.com/GoogleCloudPlatform/kubernetes/issues/6760

[2015-04-13 14:28] jpechane opened #1707 "Service with containerPort set stops working after pod restart"
When there is a service whose configuration does container containerPort then the nat table contains a record like
[code]

If I locate the container that represents the pod behind the service and execute ```docker kill``` then the record in question is removed from the NAT and the service stops working.

If I modify the same config file to not contain containerPort then the record is updated and s

[2015-04-13 14:46] ncdc commented on #1701
Is this acceptable for `ImageStreamTag`? Note that it still returns what is actually an `Image`, but the `kind` is `ImageStreamTag`, and the metadata has `name=busybox:latest` and `selfLink=/osapi/v1beta1/imageStreamTags/busybox:latest?namespace=p1`. The contents of the image may change over time, but the `name` and `selfLink` will always stay the same.

[code]
[code]

[2015-04-13 15:03] jwforres commented on #1701
Yeah that is what I would expect for ImageStreamTag. ImageStreamImage I
would not expect to change since it should be pointing to a specific image.

On 04/13/2015 10:46 AM, Andy Goldstein wrote:

[2015-04-13 15:05] ncdc commented on #1701
@jwforres ImageStreamImage will change slightly to correct name and selfLink in a similar manner.

[2015-04-13 15:07] jstrachan opened #1708 "have a place to store DeploymentConfigs that are generated by a build before they become active then a way to tag them?"
in a CI system where we run a build we typically generate a new docker image with a tag each build. We can then use tags on images to choose when that generated image gets deployed into a particular environment.

e.g. a build could make a dev/latest image, then folks can try it out and then label it 'test' to get it auto-deployed to a test environment. So doing a build doesn't always immediately d

[2015-04-13 15:38] jstrachan commented on #1708
if its not clear from my comments above - the problem is that DeploymentConfigs change over time as containers are added/removed to pods, labels change, env vars change. Then the images referenced in each DeploymentConfig change too. So you can't really just use 1 DeploymentConfig for a project across all environments (dev, tests, uat, pre-prod, prod) and just change the tags inside per environmen

[2015-04-13 15:49] abhgupta commented on #1706
@pweil- Can you please take a look at this?

[2015-04-13 16:18] thesteve0 commented on #1704
But then how would we handle someone who has two or three different
accounts? Do you have to run through osc login each time you want to switch
accounts?

On Mon, Apr 13, 2015 at 6:06 AM, David Eads <notifications@github.com>
wrote:

[2015-04-13 16:28] pweil- commented on #1706
Yes, I'll take a look to see what kind of validations we can put in place.

[2015-04-13 16:33] ncdc commented on #1462
This isn't an issue any more, now that annotations are part of spec.tags. Please close :smile:

[2015-04-13 16:43] #1462 closed

[2015-04-13 16:45] deads2k commented on #1704
There are a couple ways to organize it, but I think our go-to would be to use `osc project`.  `osc project` actually takes a namespace or a **context** as its argument.  The context includes, server, user identity, and namespace name.  That would allow a user to switch back and forth between projects located in different clusters with different identities.

[2015-04-13 18:54] bparees opened #1712 "ICT triggered builds not guaranteed to use correct image"
this change:
https://github.com/openshift/origin/commit/c431087f0321a0da31f6c975d0421e67bde2e94e#diff-717854e27d42bef56a972e64d148b529L78

though line 90 means that when we have a build triggered by an ICT, we are no longer guaranteed to build using the image that caused the ICT to fire, we're using the current image associated with the tag when the build finally runs (because that's when the refe

[2015-04-13 19:50] jimmidyson commented on #1317
@soltysh - we've just tried that out with 0.4.3 & sadly this doesn't work. I guess something needs updating in webhook controller to work properly if there is no source revision available from the webhook payload?

[2015-04-13 20:16] brenton commented on #1302
https://github.com/openshift/origin/pull/1309 is merging so I'm going to close this.  @hingstarne, let us know on dev@lists.openshift.redhat.com if you need help with tito.

[2015-04-13 20:16] #1302 closed

[2015-04-13 20:17] brenton commented on #1614
Looks like we can close this now.

[2015-04-13 20:17] #1614 closed

[2015-04-13 20:21] #1701 closed

[2015-04-13 21:01] thoraxe opened #1714 "build-logs for running build tells me "build not found""
[code]

[code]

[2015-04-13 22:53] thesteve0 opened #1721 "get services should show # of running pods"
doing
'osc get services' should also show the number of running pods per service. The web console does this and it would be very helpful for 1) debugging non running services 2) quick estimates of resource usage

Here is an example of how it could look:
spousty@localhost openshift-client$ ./osc get services
NAME                LABELS                                   SELECTOR            IP

[2015-04-14 02:49] liggitt opened #1723 "DefaultRegistry resolver continues pointing to removed registry"
It looks like the default registry resolver only resolves a single time.

Create an image stream, and see that it has no dockerImageRepository:
[code]

Create a registry, and see that the image stream now has a dockerImageRepository:
[code]

Delete the registry, service, pods, and replication controllers:
[code]

See that the image stream (and new image streams) still remember the old registry:
[c

[2015-04-14 02:49] liggitt commented on #1723
@ncdc

[2015-04-14 12:59] jstrachan commented on #1317
I was looking at the swagger for 0.4.3 and couldn't find the /osapi/v1beta1/buildConfigHooks/{name}/{secret}/{type} URI any more to trigger a build from a webhook but I spotted this URI:
[code]
Is this the new URL used to trigger a build? Only I couldn't seem to invoke it from 0.4.3; gets a 404 when I try use it. Maybe buildConfigHooks is still there it just isn't in swagger?

[2015-04-14 13:03] ncdc commented on #1723
I believe this was intentional; I'll have to defer to @smarterclayton on this question.

[2015-04-14 13:08] smarterclayton commented on #1723
Yes, you have to restart the masters.

[2015-04-14 13:08] smarterclayton commented on #1317
It's not in swagger yet - there's an issue open to move it into the framework that will allow that.

[2015-04-14 13:09] jstrachan commented on #1317
@smarterclayton thanks!

[2015-04-14 13:24] jstrachan commented on #1317
FWIW trying to POST to the webhook from java on 0.4.3 I get:
[code]

[2015-04-14 13:26] smarterclayton opened #1724 "Race during TestDNS integration test to create default namespace"
Seeing this happen in some integration tests, which means it's racing for the default namespace which seems very strange.  Should we be waiting for the default namespace to be created in this test (or in StartTestMaster) @derekwaynecarr @deads2k ?

[code]

[2015-04-14 13:26] #1704 closed

[2015-04-14 13:35] brenton commented on #1714
@abhgupta, please excuse the noise.  I thought this was a different issue.

@bparees, any idea who could investigate this?

[2015-04-14 13:35] smarterclayton commented on #1317
Hrm, that may be swagger setting that (since there's no response defined).  Definitely a bug @soltysh

[2015-04-14 13:42] brenton commented on #1723
I don't necessarily think this should be a GA blocker as long as our diagnostic tooling can detect this situation and provide guidance.  Changing the registry service IP shouldn't happen too often.

However, this is definitely a bad experience for admins.  My vote would be to leave this issue open or create a card to track this.  It's going to be surprising for admins to have to restart masters be

[2015-04-14 13:51] liggitt commented on #1723
Definitely looks intentional. In ServiceResolverCache:
[code]

Still feels weird when so many other parts of the system watch and react

[2015-04-14 13:54] brenton commented on #1723
Is resolving services expensive enough to require a cache?

[2015-04-14 14:13] smarterclayton commented on #1723
There really should be no reason to delete the docker registry service ever.

[2015-04-14 14:29] thoraxe opened #1725 "router and registry installation from "ex" command results in service that describes with "errors""
[code]

[code]

[2015-04-14 14:29] brenton commented on #1723
I agree with that in practice.  Production environments shouldn't hit this and therefore it's technically not a GA blocker.  However, here's what happens in non-prod environments:

* Admin fat fingers the `osc ex registry --create` arguments (but doesn't realize it)
* Builds are failing and the admin investigates
* Admin realizes the wrong kubeconfig was passed in for the registry creation
* Admin

[2015-04-14 14:43] smarterclayton commented on #1723
We should really prevent users from deleting services - rerunning `osadm registry` should be updating the deployment config, and everything should Just Work (tm).

----- Original Message -----

[2015-04-14 14:46] derekwaynecarr commented on #1724
It could be that the namespace actually does exist, but the watch/list in the admission control has not been propagated with that state.  For Origin resources, I added a hook where if a namespace is not found in the store, we make a final call to etcd to check again for the namespace.  This avoided a similar race for Origin resources, looks like if you are still seeing it I need to add that change

[2015-04-14 14:54] bparees commented on #1714
@kargakis you've been in this space relatively recently, can you take a look?

[2015-04-14 14:56] thoraxe opened #1727 "when using scheduler and serviceAffinity, unexpected node placements occur"
Given the following scheduler configuration:

[code]

When creating a pod with a `NodeSelector` requesting a specific region, pods are placed in the wrong region.

They also fail to start, and I'm not sure if that's related or unrelated.

@abhgupta is aware, this issue is for him.

[2015-04-14 15:34] thoraxe opened #1728 "cannot create sample app frontend from web console"
Using the sample app code from https://github.com/openshift/ruby-hello-world

If I try to create this using the web console, I get an error:

[code]

![screenshot from 2015-04-14 11 33 33](https://cloud.githubusercontent.com/assets/94413/7140606/33df92d8-e29a-11e4-9608-b329ea087ab1.png)

[code]

[2015-04-14 15:41] soltysh commented on #1317
We should accept that, probably our accept logic is wrong, I guess our
acceptance for 'application/json' is hard coded. Definitely a bug.

On Tue, Apr 14, 2015 at 3:35 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-04-14 15:43] smarterclayton commented on #1317
Probably.  We should be very flexible about what we accept, and log an error if it doesn't quite match the expected input (not fail).

----- Original Message -----

[2015-04-14 15:45] soltysh commented on #1317
This will be related to #1480 as well, in that we should exactly the same
mechanism used here.

On Tue, Apr 14, 2015 at 5:43 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-14 15:55] smarterclayton commented on #1725
We need to remove this logging here and in upstream probably.

[2015-04-14 15:56] smarterclayton commented on #1723
This is WAD, but highlights a gap in osadm registry, so it should be an enhancement to that call (in general, we want to be able to update the registry definition and force a deployment).

[2015-04-14 15:57] smarterclayton commented on #1692
The necessary upstream work has been done so that you can implement `rest.GetterWithOptions` and get the subpath of the resource (so you can get access to `/buildconfighooks/<buildconfig>/(secret:*)/(type:*)`

[2015-04-14 15:57] sosiouxme commented on #1642
@kargakis i haven't worked directly with kube yet, could do this but it would likely be faster if you did :)

[2015-04-14 18:19] thoraxe commented on #1728
From the master log:

[code]

[2015-04-14 18:23] thoraxe opened #1733 ""cache" issues in web console cause weird behaviors"
I have noticed a lot of issues with the console that I can only attribute to "caching". What I mean by this is that, for example, if I click the "OpenShift Origin" logo at the top, I am taken to the project list, but it displays old information.

It seems that to force an actual reload of a page I can't click anything. I have to use F5 or re-enter the URL in the browser and hit enter.

I can't rea

[2015-04-14 18:36] thoraxe opened #1734 "osc log not working"
[code]

This is true for any running pod.

[code]

[2015-04-14 18:45] thoraxe opened #1735 "webhooks cause multiple builds to happen, build loops"
Given the following template:

[code]

When initially processed and created, a single build happens. That's fine. (-1)

If you then start a new build via curl/webhook, you immediately get 2 builds. (-2, -3)

When those 2 builds finish, then you get one more build (-4) before everything finally stops.

If you issue a curl again, the same thing happens:

2 builds immediately (-5, -6)
1 more build af

[2015-04-14 18:55] bparees commented on #1735
does osc start-build result in the same behavior as invoking the webhook?

[2015-04-14 19:01] thoraxe commented on #1735
"start-build" does not give me two builds. I am waiting to see if the loop starts.

[2015-04-14 19:32] thoraxe commented on #1735
I can't seem to reproduce so I will close this unless I see it again.

[2015-04-14 19:32] #1735 closed

[2015-04-14 19:56] thoraxe opened #1738 "creating from template or console causes a build to occur......... a long time later"
I've noticed that a few releases back we started automatically starting to run builds, which is awesome.

But, within the last few drops, I've noticed that those builds will start....... eventually. It seems to take at least 60-90 seconds before the build starts. And there's no indication in the UI or CLI that a build is GOING to start. It just seems to happen, but later.

Which might result in so

[2015-04-14 19:58] thoraxe commented on #1738
I was watching logs but I don't think controller or image_change are telling me when the build starts:

[code]

I'm not sure what to grep for to see when the resources were defined (via adding from console) and when the build started.

[code]

[2015-04-14 20:03] thoraxe commented on #1738
creation of template:
[code]

start of build:
[code]

OK, that's less than 60 seconds, but even 20 seconds is still confusing to the user, I would think.

[2015-04-14 20:36] thoraxe opened #1740 "openshift mysql image won't start"
[code]

Created from the following JSON:

[code]

[code]

[2015-04-14 21:31] smarterclayton commented on #1714
This is a dupe of an existing issue, but started with the last rebase.

[2015-04-14 22:03] kargakis commented on #1714
Sure, will do tomorrow.

[2015-04-14 22:21] kargakis commented on #1734
This is an upstream issue. @smarterclayton is it related with [this](https://github.com/openshift/origin/issues/1714) and the latest Kube rebase?

[2015-04-15 02:27] wjiangjay commented on #1728
The root issue is the the service json generated in _generateService function of assets/app/scripts/services/applicationGenerator.js file can not match the api object - ServiceSpec.

[2015-04-15 03:34] liggitt commented on #1460
Should be prompted to accept an insecure connection now. Can you verify and close?

[2015-04-15 07:51] xjvs commented on #1740
There is another similar issue I reported before https://github.com/openshift/origin/issues/1589

[2015-04-15 08:27] xjvs opened #1742 "sample-app: can't push image to registry"
Tried to build the sample app by following the guide. I'm running the latest code with v0.4.3 images (openshift start) and also tried with "openshift start --images='openshift/origin-${component}:latest'", both have the issue, here is the log:
[code]

Beside of that, sometimes, the build status is 'Complete' rather than 'Failed' when it failed with above error:
[code]

[2015-04-15 09:04] xjvs commented on #1742
server log: http://fpaste.org/211137/

[2015-04-15 09:24] xjvs commented on #1742
Nevermind, just figured out that openshift CIDR expanded to "172.30.0.0/16" recently, but I didn't update the /etc/sysconfig/docker accordingly.

[2015-04-15 09:24] #1742 closed

[2015-04-15 09:29] mfojtik commented on #1740
@smarterclayton this should be assigned to @mnagy as mysql owner

[2015-04-15 09:39] mnagy commented on #1740
@thoraxe You need to use /var/lib/mysql/data for the volume, not /var/lib/mysql.

@xjvs this seems unrelated to #1589.

[2015-04-15 12:04] kargakis commented on #1702
Upstream issue?

[2015-04-15 13:07] sosiouxme opened #1744 "osc get nodes still showing "Schedulable""
AIUI the "Schedulable" status has gone away, but it's in the output of "osc get nodes" messing up the output.

[code]

Same for "get minions"

[2015-04-15 13:15] sosiouxme opened #1745 "should truncate large env vars in `osc describe`"
For things with certs and such in env vars, the output should be truncated by default, expanded by option.

[code]

[2015-04-15 13:19] kargakis commented on #1714
Hmm, doesn't seem I can reproduce this in the current master neither with [build-logs](http://pastebin.com/CJj4Xhwt) nor with [start-build --follow](http://pastebin.com/BLuuedUh)

[2015-04-15 13:24] smarterclayton commented on #1714
Try commenting out the set +e I added to test end to end.

It looks like it happens after builds complete.

[2015-04-15 13:29] sdodson commented on #1589
@xjvs This shouldn't be an issue using docker-1.5. Can you verify you're using docker-1.5?

[2015-04-15 13:31] csrwng commented on #1734
The issue is that we're still using "minions" instead of "nodes" after switching to v1beta3 for the proxy call. It was fixed with this PR: https://github.com/GoogleCloudPlatform/kubernetes/pull/6701
@smarterclayton should we cherry-pick that fix?

[2015-04-15 14:12] smarterclayton commented on #1734
Yes

[2015-04-15 14:52] sosiouxme commented on #1727
The scheduler seems to have a bit of split-brain. It will ignore the region predicate when scheduling and put the pod on whatever node; but that pod will immediately be rejected at the node because the predicate is not matched. I end up with a number of failed placements until it actually lands on a satisfactory node.

I deployed the router and updated it to specify `"nodeSelector": { "region": "i

[2015-04-15 15:10] jcantrill commented on #1728
@thoraxe @smarterclayton @wjiangjay fixed in https://github.com/openshift/origin/pull/1726

[2015-04-15 17:29] sosiouxme opened #1751 "--write-config produces node with empty name"
[code]

Regardless of what use case is in play, a node should never end up in this list with an empty name.

[2015-04-15 18:06] sosiouxme commented on #1530
I'm pretty sure this is resolved now.

[2015-04-15 18:06] #1530 closed

[2015-04-15 18:42] csrwng commented on #1734
Fixed with https://github.com/openshift/origin/pull/1749

[2015-04-15 19:07] rcernich opened #1753 "Need mechanism for registering certs for private docker registries"
Currently, using a private docker registry in an image stream produces the following output in the openshift master instance logs:

[code]

In this case, there is a cert in /etc/docker/certs.d/private-registry/.  If that could be used, that would be great, but there should be some way to register the cert with openshift.

[2015-04-15 19:11] ncdc commented on #1753
Note, this is for registries that use certificates.

If we do this, we'll need to have a way for users/admins to supply certs, since /etc/docker/certs.d is host specific.

[2015-04-15 19:59] brenton commented on #1370
@smarterclayton, should we remove the 0.5.0 milestone from this?

[2015-04-15 20:00] smarterclayton commented on #1370
I think pointing to an ip is fragile, and it's not a small fix.

[2015-04-15 20:03] brenton commented on #1370
Given 0.5.0 is scheduled for tomorrow I'm going to label this 0.6.0 then.

[2015-04-15 20:05] brenton commented on #1725
@thoraxe, yeah, this is ugly but I'm thinking we should remove this from 0.5.0 if it isn't going to be fixed by tomorrow.  Are you OK with that?

[2015-04-15 20:18] liggitt commented on #1702
Yes, opened at https://github.com/GoogleCloudPlatform/kubernetes/issues/6859

[2015-04-15 20:21] brenton commented on #1656
@smarterclayton, do we think this will make 0.5.0?  While annoying, I don't think it's going to block beta3.

[2015-04-15 20:24] #1728 closed

[2015-04-15 20:24] smarterclayton commented on #1656
It does not

[2015-04-15 21:06] pmorie commented on #1469
Opened https://github.com/GoogleCloudPlatform/kubernetes/issues/6848 upstream for this.

[2015-04-15 23:27] abhgupta commented on #1727
I ran my own tests on pods and replication controllers and this seems to be working fine, at least now. Also, I checked with Clayton and it seems that v1beta3 is the only version that supports  `NodeSelector`. You can try the rc below to test out the scheduler.
[code]

[2015-04-16 01:32] sdodson commented on #1740
So, I've worked with this example from the training quite a bit tonight. The things I've found are that the template lacks required parameters, namely `MYSQL_USER` and `MYSQL_PASSWORD` this is a difference between `mysql` and `openshift/mysql-55-centos7`. Beyond that I got the same permissions errors that Erik got but I think it's because the volume is misconfigured and it's re-using a volume from

[2015-04-16 07:14] vchepeli commented on #1569
Same error for me, do not why it tries to restart networking service with no rights
Bringing machine 'master' up with 'libvirt' provider...
Bringing machine 'minion-1' up with 'libvirt' provider...
Bringing machine 'minion-2' up with 'libvirt' provider...
==> master: Uploading base box image as volume into libvirt storage...
==> minion-1: An error occurred. The error will be shown after all tasks

[2015-04-16 09:49] gpei commented on #1738
Hi, when I go through the "wiring" example in beta3 training doc, I found the build was not started automatically after run "osc create -f frontend-config.json".  Couldn't get any build running even wait for several minutes.
And after database pod created, coudn't connect to mysql. This should work well when testing with db-template.json in beta2.
 [alice@master beta3]$ osc get services | grep dat

[2015-04-16 10:41] kargakis commented on #1714
@thoraxe can you

1) get the build-logs from a build in the default namespace?
2) process a template in another namespace than default?
eg. openshift cli process -n test -f examples/sample-app/application-template-stibuild.json

[2015-04-16 11:07] roberto-gomez opened #1764 "OpenShift and billing"
Hello.

I am very interested in if you have some idea or plan for the billing in OpenShift v3

[2015-04-16 11:48] smarterclayton commented on #1738
@bparees or @soltysh

[2015-04-16 12:36] deads2k commented on #1431
There's been a lot of action on this and there's more to come as we collapse the loading chain even further.  For now, this particular problem has been fixed here: https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/config.go#L16.

@jwforres close please?

[2015-04-16 12:38] #1431 closed

[2015-04-16 12:53] smarterclayton opened #1766 "I/O timeout when connecting to server that is not up"
Should probably not try to connect for as long as it does (30s?).  TCP connection establishment should be shorter in most cases.

[2015-04-16 13:00] xjvs commented on #1589
@sdodson I believe you're right, I was using docker 1.4, and I just confirmed this issue doesn't happen with docker 1.6.

[2015-04-16 13:02] sosiouxme commented on #1727
@abhgupta have you tried the example of modifying router dc? At least in my example the json came out wtih `"apiVersion": "v1beta1"` so maybe that's the problem (I fed it back in with just the labels inserted). Although that doesn't really explain why (per my example above) the scheduler initially ignored the pod nodeSelector and then properly rejected pods according to the nodeSelector *after* th

[2015-04-16 13:22] thoraxe commented on #1738
@gpei your problems with mysql are because of https://github.com/openshift/origin/issues/1740

We have to fix the db template still. The current iteration of the db template has some old workarounds for selinux+docker 1.4

See: https://github.com/openshift/origin/issues/1740#issuecomment-93612782

[2015-04-16 13:35] bparees commented on #1738
@smarterclayton my first guess would be that this relates to the import of the images not happening (or taking a long time), since that's what's really required to trigger a build here.

@gpei and @thoraxe can you dump osc get imagestreams -o json for your namespace while you're waiting for the build to show up?

also @thoraxe i have a request to @mnagy and @jhadvig to significantly enhance the lo

[2015-04-16 13:40] smarterclayton commented on #1738
Specifically look for the annotation about image import and the timestamp it provides there relative to the creation timestamp of the image stream.

----- Original Message -----

[2015-04-16 14:15] detiber commented on #1751
This has also been addressed in the latest v3-beta3 installer code.

[2015-04-16 14:20] TomasTomecek commented on #1634
When do you plan to change the controller?

[2015-04-16 14:25] #1751 closed

[2015-04-16 14:34] sdodson commented on #1714
Both the default and a created namespace works as 'system:openshift-client' user. I suspect this is a user permissoins issue, it doesn't work as 'joe' which is a user defined via htpasswd identity provider.

Default namespace -- works
[code]
Make a new namespace, re-test -- works
[code]

Here it is as 'joe'
[code]

[2015-04-16 15:10] #1734 closed

[2015-04-16 15:12] sdodson commented on #1734
@csrwng confirmed, looks fixed.

[2015-04-16 15:31] smarterclayton commented on #1714
@csrwng please get involved here as well

[2015-04-16 15:57] liggitt opened #1770 "`osc login` with an existing invalid ca cert fails"
Prompts to accept insecure connection, then fails with an error that ca and insecure can't both be provided

[2015-04-16 16:06] sosiouxme commented on #1727
@abhgupta just tried the latest build, scheduling a pod as you said works great. The problem I'm having now is that if i just patch the podTemplate in a dc to add a nodeSelector, I still get the above behavior. I even tried changing the "version" in the podTemplate manifest to "v1beta3" from "v1beta2" and it was the same.

If you want to schedule a router to a specific region/zone, how do you do t

[2015-04-16 17:18] bparees commented on #1636
@mfojtik we're getting pushed to move on this, can you reopen/rebase your PR so we can have the discussion/review?

@danmcp @johnkeck fyi.

[2015-04-16 17:19] jwforres opened #1773 "UI should redirect to login page when websocket reconnections fail with 401 errors"
When the web console's websockets timeout and attempt to reconnect, if the auth token is no longer valid the websocket connection will fail.  Our websocket retry logic kicks in and eventually displays the message that the connection to the server was interrupted and to refresh, refreshing will then trigger the login flow.

It would be better if we can detect on the websocket reconnect that the fai

[2015-04-16 17:32] liggitt commented on #1721
`osc get` is just a passthrough to the API call for that one object type. Try `osc describe service [name]`

[2015-04-16 17:50] abhgupta commented on #1727
@sosiouxme the scheduler ignored it because they weren't (somehow) present  in the pod when  it checked. However, the error was thrown by the kubelet when it made the exact same check. I am a bit lost here, but its definitely an api version issue and the client api version (scheduler/master vs the kubelet) is perhaps the issue.

[2015-04-16 18:25] sosiouxme commented on #1727
@abhgupta my uninformed hypothesis was that maybe when it's coming from a DC, the scheduler examines it with v1beta2 protocol and doesn't see the nodeSelector; then when the pod is actually scheduled for a node that checks in, it's created with v1beta3 protocol and the nodeSelector appears. Mismatch between pre-create and post-create. But I dunno. Maybe @smarterclayton or @derekwaynecarr can shed

[2015-04-16 18:32] bparees opened #1775 "no feedback when user cannot instantiate template in selected project"
if you try to instantiate a template in a project you do not have access to, you get no feedback when you click create.

[2015-04-16 19:28] csrwng commented on #1714
So the issue is that because we are now using the proxy to get at the build logs, we're exposing an issue in the Kubernetes proxy. It is responding with a 301 because the original request doesn't end with a "/" in the path, but the location in the 301 response doesn't include parameters that were passed in the original response, so we lose the namespace parameter:
A request to
[code]
results in a

[2015-04-16 19:41] abhgupta commented on #1727
Apparently, NodeSelector doesn't work well for API versions prior to v1beta3. The router is created from the deployment config and currently we have v1beta1 being specified for the replication controller.
[code]
We need to enable v1beta2 for deployment related APIs and use v1beta3 for any K8s resources that they refer. The bulk of this work has already been done by @smarterclayton and I should be