[2019-07-02 11:18] ted-bunny commented on #23188
Hello @edysli

No, it doesn't

(...) while RedHat already released [OpenShift Container Platform 4.1](https://access.redhat.com/announcements/4180011) a month ago, does it?

At least it clarifies a bit why OKD hadn't a 4.0 release so far.

[2019-07-02 13:18] fjakop commented on #22892
I have the very same issue as well. How did you add HTTP_PROXY and HTTPS_PROXY to openshift-apiserver?

[2019-07-02 13:36] krumware commented on #20263
Same thing

oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth SSPI Kerberos SPNEGO

Also verified that 3.9 cli does work. Installed via: `choco install openshift-cli --version 3.9.0`

[2019-07-02 13:50] exhuma commented on #7019
Has this ever been solved? Trello shows a "sign-up" popup and then redirects to the default board, making it impossible to read the card details.

[2019-07-02 15:41] zak-nye commented on #21774
@shockogit or anyone else. Did you manage to get anywhere on this. I'm suffering the same issues with oc new-app or import-image not using the proxy settings used when originally setting up the cluster. I'm on Windows 10 1607 with Minishift version v1.31.0+d06603e.

There are multiple issues open about this on the Minishift repo but I'm informed changes to proxy values in Openshift origin may be t

[2019-07-02 15:44] zak-nye commented on #21774
/remove-lifecycle stale

[2019-07-02 18:03] nehaberry commented on #22958
@travisn so what is the fix for this issue? Do we need to change the apiVersion in cluster.yaml ?

Current content

apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph

[2019-07-02 18:14] travisn commented on #22958
@nehaberry A fix was needed for the rook operator to generate the correct apiVersion. If you see `apiVersion: ceph.rook.io/v1` in the ownerreferences for a resource, you've already picked up the fix. See https://github.com/rook/rook/pull/3350 for more context.

[2019-07-02 20:55] #17441 closed

[2019-07-03 04:37] nehaberry commented on #22958
@travisn thanks. It worked .

But strangely,  the last edit in  cluster.yaml in [rook repo](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml) is 2 months old, so the apiVersion must already have been " ceph.rook.io/v1". Thus, why did we face this issue while testing in the 2019-05-24 .

Thanks.

[2019-07-03 04:48] karstengresch commented on #22468
This issue is as fresh as the morning dough.

[2019-07-03 05:04] karstengresch commented on #22468
B.t.w. closing issues with a bot because there is no activity on them is IMHO bad practice: this can lead to suppressing critical problems just because nobody in the project's takes over responsibility.

[2019-07-03 06:34] dernasherbrezon commented on #17441
Always wondered about these auto-close bots. I've spent hours trying to help improve application, logged in, raised issue, gave detailed explanation and steps to reproduce. And now this. Really demotivated helping the community.

[2019-07-03 18:02] adambkaplan commented on #22468
/remove-lifecycle stale
/lifecycle frozen

We use the similar bots as upstream Kubernetes - the feature lifecycle bot ensures that old issues get triaged.

@openshift/openshift-team-developer-experience

[2019-07-03 21:30] kb7791 commented on #12863
/reopen

[2019-07-03 21:31] kb7791 commented on #12863
same issue here pushing an image

received unexpected HTTP status: 503 Service Unavailable

[2019-07-03 21:55] karstengresch commented on #22468
@adambkaplan Doh, reading GH comments on mobile devices leads to ignorance of hints like "commenting /remove-lifecycle stale" for me. Sorry.

Thanks for adding the comment.

Regarding the bot: Especially when issues come in from the wild, this procedure might be quite risky as devs who submitted a valid issue could move along/pass away/loose focus/whatever.

IMHO a better approach would be to allo

[2019-07-04 05:59] Vandborg commented on #22216
I am facing the exact same problem. So I'll just watch this issue, if anybody comes up with a solution. :)

[2019-07-04 08:23] praveenkumar commented on #23266
https://github.com/golang/go/issues/12524

[2019-07-04 08:25] gbraad commented on #23266
especially: https://github.com/golang/go/issues/12524#issuecomment-499525771

[2019-07-04 14:12] skonto commented on #20543
@sttts hi, I am facing the same issue where I am trying to patch a pod at the webhook side linked to a specific scc.
So here is my printed pod before I patch at the webhook side:
[code]

`FSGroup:*1000390000` is correct as it will get the default one, initially the pod is submitted without a security context.

my scc is applied correctly:
[code]
[code]
I got this error:
[code]

[2019-07-04 15:43] sttts commented on #20543
@skonto the validating SCC admission run after your webhook will try to find a matching SCC, but doesn't find it. Can that be?

About the topic of this issue: 1.15 will bring reinvocation of webhooks. So in OpenShift 4.3 native admission steps will be run after your webhook has be mutated an object.

[2019-07-04 22:03] skonto commented on #20543
Thanks @sttts, it does not make sense so far, because I can match my scc if I create the pod within the running pod via kubectl. The problem is for some reason the webhook cannot apply the patch. When the response is returned to the K8s api server what does the validation do? Coudl you point me to the validation code?  Let's say I modify the scc annotation in metadata will validation detect it? Wh

[2019-07-05 07:23] sttts commented on #20543
Here is the validation logic for SCCs: https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/security/sccadmission/admission.go#L105

[2019-07-05 09:29] cfergeau commented on #23266
After building `oc` with `CGO_ENABLED=1`, I can confirm it will use `/etc/resolver/` content for DNS resolution
[code]

The binary from `https://mirror.openshift.com/pub/openshift-v4/clients/oc/latest/macosx/oc.tar.gz` fails to resolve the DNS name:
[code]

[2019-07-05 09:47] praveenkumar commented on #23266
https://github.com/kubernetes/kubernetes/issues/23130 upstream issue from kubernetes  side.

[2019-07-05 10:48] skonto commented on #20543
@sttts thanks how can I debug this and get these kind of logging: 	```klog.V(4).Infof("getting security context constraints for pod %s (generate: %s) in namespace %s with user info %v", pod.Name, pod.GenerateName, a.GetNamespace(), a.GetUserInfo())```

[2019-07-05 11:24] reabetswem commented on #3714
You can use `oc adm top pods --all-namespaces`

I don't know how to get percentage usage though.

[2019-07-05 11:32] jota2016 commented on #22249
/close

[2019-07-05 11:32] #22249 closed

[2019-07-05 11:47] sttts commented on #20543
@skonto you have to increase verbosity in the kube-apiserver operator config, and then watch the logs for the 3 running kube-apiserver pods.

About the issue: if a webhook mutates a pod in a way that another SCC/PSP applies **leading to another security context** in the pod, this fails the validating phase of the SCC/PSP (because it cannot change the security connects that late anymore).

With the

[2019-07-05 11:49] normanschlatter commented on #23188
fyi 4.1 is missing the Dev Console, in a nutshell its a unfinished product, I already deployed 4.1 on premise.

wait for 4.2

![image](https://user-images.githubusercontent.com/37834432/60720639-ae686c80-9f2b-11e9-87f1-eac6a68352c1.png)

[2019-07-05 11:54] skonto commented on #20543
I think that is the problem. When I dont patch the security context the correct scc is applied, the rest of the patching is done as expected (with a small unrelated issue: my custom scc allows SETGID, but my final pod dropped it?)!!!

[2019-07-05 12:22] skonto commented on #20543
@sttts one othe rthing I noticed is that if I run things with a cluster-admin credentials at the pod submission time to the api server everything works.

[2019-07-05 12:55] sttts commented on #20543
maybe because you have access to more SCC/PSPs then?

[2019-07-05 12:59] skonto commented on #20543
I just want to apply my custom scc to much a specific fsGroup. So I added the service accounts to that scc and I was expecting this to work as it works with any normal pod submission done via kubectl remotely.

[2019-07-05 13:20] markusdd opened #23325 "cri-o uid/gid mapping fails for root inside container, pod does not work"
we use openshift 3.11 on bare metal with single master and 3 nodes for our CI cluster purposes. We switched to crio when installing 3.11 but are facing issues when spawning our gitlab-runner pod. When looking inside the main user gets not properly mapped to root but has some arbitrary user id, causing all kinds of weird side effects because it cannot access /root (e.g. it tries to create a .gitcon

[2019-07-05 17:04] atgreen commented on #22276
/remove-lifecycle stale

This is an annoying limitation.  I hope that it is fixed.

[2019-07-05 21:05] #21969 closed

[2019-07-06 15:08] #21974 closed

[2019-07-07 03:10] #21980 closed

[2019-07-07 03:10] #21981 closed

[2019-07-07 21:10] #21338 closed

[2019-07-08 12:47] PhilippeA1 opened #23330 "error: build error: Failed to push image: Get https://docker-registry.default.svc:5000/v1/_ping: dial tcp 172.30.120.155:5000: connect: no route to host"
I have an issue after installing a fresh okd 3.11 with 1 master and 2 nodes :

error: build error: Failed to push image: Get https://docker-registry.default.svc:5000/v1/_ping: dial tcp 172.30.120.155:5000: connect: no route to host.

[provide a description of the issue]

**Version**

oc v3.11.0+62803d0-1
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v3.11.0+3a34

[2019-07-08 18:10] zdzichu commented on #22246
Ping?

[2019-07-09 00:54] srinivas-kandula commented on #22269
I am having the same issue Getting below error:
`
       Info:  Service account token successfully authenticated to master

       ERROR: [DP1014 from diagnostic PodCheckAuth@openshift/origin/pkg/oc/cli/admin/diagnostics/diagnostics/client/pod/in_pod/auth.go:172]
              Request to integrated registry timed out; this typically indicates network or SDN problems.

       [Note] Running diagnos

[2019-07-09 01:16] rjhowe commented on #23330
This looks like an issue with the install of your cluster.
On the node where the build ran, see you can connect to the registry service ip and pod endpoint ip, if those fails check to make you have 4789/udp open between your nodes.

[2019-07-09 01:24] rjhowe commented on #23325
Not an issue with the runtime, by default OKD runs pods with the restricted SCC, which sets the user for the containers to a high UID based on the `openshift.io/sa.scc.uid-range` project annotation.

If you wish to run as a different user you will need to add the service account used by your pod to a SCC that allows you to run as a user of your choosing.
<https://docs.okd.io/3.11/admin_guide/manag

[2019-07-09 06:52] PhilippeA1 commented on #23330
How can i connect to the registry service ip and pod endpoint ?

On my firewall 4789/udp seems open :

[root@tstoshiftm1 ~]# firewall-cmd --list-ports
10250/tcp 10256/tcp 80/tcp 443/tcp **4789/udp** 9000-10000/tcp 1936/tcp 2379/tcp 2380/tcp 8443/tcp 8444/tcp 8053/tcp 8053/udp 5000/tcp

[2019-07-09 08:37] Reamer commented on #20194
/remove-lifecycle stale
Updated initial issue message.

[2019-07-09 09:16] #21991 closed

[2019-07-09 10:42] #23195 closed

[2019-07-09 12:44] relief-melone commented on #2162
looks like still nothing on this topic. Storing Private Keys and Certificate information completely blocks any projects from being easily shared in git repos across multiple teams. Would be see this as an important feature.
Sad to see something this important to go stale for more than 4 years now.

[2019-07-09 13:42] jsliacan opened #23344 "Typo in output of help command"
The output of `oc new-build --help` contains a typo " to to " in
[code]
When you grep for " to to " string in `openshift/origin` you get many such instances - most of them in the comments.

##### Version
[code]

##### Steps To Reproduce
1. `oc new-build --help`

[2019-07-09 18:28] #23308 closed

[2019-07-11 06:38] 62mkv commented on #21686
why ohhh why has this been closed (((

[2019-07-11 06:39] 62mkv commented on #21686
@brocoly27 did you resolve it yourself, by any chance? Or just lost interest (as it usually happens, lol)

Having the exact same thing with 'nodejs-ex' project from Quick Start

[2019-07-11 14:30] philipp1992 opened #23364 "Security Fixes for OpenShift Images and 3rd party Images"
Hello,

could you please provide some information about how to handle critical security issues in the openshift images as well as in the 3rd party images like Grafana, Prometheus or Elastic?

As i can see, the origin/openshift images are published to dockerhub regularly, but they dont contain all the available centos fixes.

For example haproxy:

CentOS   Security Update for python (CESA-2019:1587

[2019-07-11 17:21] 3RX0 commented on #20862
@spadgett
Can you please elaborate on your solution.
I need to edit configmaps and secrets of my monitoring stack deployed by default by ansible and I'm having same issue.

Thanks

[2019-07-11 21:23] #22007 closed

[2019-07-11 22:08] marcd0801 commented on #23364
Wtf CA Agent Discloses Exact Operating System Version

[2019-07-11 22:18] rhnewtron commented on #23364
There seems to be an updated version of haproxy available https://cbs.centos.org/kojifiles/repos/paas7-openshift-multiarch-el7-build/latest/x86_64/toplink/packages/haproxy/1.8.17/3.el7/x86_64/haproxy18-1.8.17-3.el7.x86_64.rpm

I was able to update haproxy18 in the router image with a simple buildconfig. Afterwards, the router deployment can be adjusted to use the updated Image:

**Note**: the orig

[2019-07-11 22:49] stratus-ss commented on #18013
This is the same thing with grafana

https://community.grafana.com/t/auth-generic-oauth-no-id-token-found/19259/3

From @enj comments I assume this will never work as expected

[2019-07-12 06:09] pingers commented on #22541
Another solution without installing dnsmasq would be to copy the actual systemd resolv.conf into your openshift data-dir and restart your cluster. E.g.
[code]
I.e. that file contains the actual nameservers.
I found this thanks to: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues

[2019-07-12 08:56] tsmaeder opened #23369 "Make random user a real user"
I'm aware that OpenShift runs containers as an arbitrary user (not root). That's fine by me. However, a lot of docker images out there have a problem when running as a user that is not "complete" in that it does not have a home directory, password, etc.

My suggestion would be that the workarounds described [here](https://docs.openshift.com/enterprise/3.1/creating_images/guidelines.html) be someho

[2019-07-12 12:27] steimntz commented on #20009
I've been trying it a lot these days but without success I had tried with others annotations such as `nginx.ingress.kubernetes.io` and variations however it had not been working properly because it doesn't make any change on the Ingress behavior.

[2019-07-12 12:49] 62mkv commented on #21774
@zak-nye @shockogit probably related with Minishift 1.34.0 / OpenShift 3.11.0 (my pain is in the latest comments here: https://github.com/minishift/minishift/issues/3125#issuecomment-510418238)

[2019-07-12 13:40] cgwalters commented on #23302
This is fixed now.
/close

[2019-07-12 13:40] #23302 closed

[2019-07-12 13:41] cgwalters opened #23371 "`oc debug node/` is broken"
Using an oc from master as of ~yesterday:

[code]

Works fine when built from the `v4.1.0` tag.

[2019-07-12 14:01] mliker commented on #23188
Hi @normanschlatter can you share your notes on onpremise okd 4.1 install? I don't mind the missing bits a pieces since I build and run Openshift clusters for living and would like to familiarise myself with the new stack.

[2019-07-12 14:06] normanschlatter commented on #23188
sorry, Im talking about OCP, OKD isnt ready right now, there is no Fedora CoreOS download right now available, please see: https://blog.openshift.com/openshift-commons-briefing-okd4-release-and-road-map-update-with-clayton-coleman-red-hat/

[2019-07-12 15:19] ironcladlou commented on #20009
I'm unable to locate any documentation upstream about the cited annotations being part of the "spec" for an ingress controller:

https://kubernetes.io/docs/concepts/services-networking/ingress/
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#ingress-v1beta1-networking-k8s-io
https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/

I could very well be miss

[2019-07-12 15:23] #20510 closed

[2019-07-12 20:19] rhatdan commented on #23369
CRI-O now has support for adding the entry of the user to the /etc/password if it does not exists in /etc/passwd.

[2019-07-12 21:24] #22022 closed

[2019-07-12 21:40] spadgett commented on #20447
/remove-lifecycle stale
/close

In OpenShift 4.1, the console URL is in the `console-public` config map in the `openshift-config-managed` namespace with key `consoleURL`. All authenticated users can read this config map. You can get the URL using oc with the command:

[code]

[2019-07-12 21:40] #20447 closed

[2019-07-13 02:23] DRAKUN opened #23374 "ImagePullbackOff OPENSHIFT 4.2"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

[code]
##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result
daemonset
[code]

pods
[code]

[code]
##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue rel

[2019-07-13 03:24] #22027 closed

[2019-07-13 07:38] Tyranwyn opened #23375 "Error: error creating node config: could not create OpenShift configuration: cannot start container"
I'm trying to run `oc cluster up` but something goes wrong when creating the 'origin' container.

##### Version

oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

on Ubuntu Server 18.04.2

##### Steps To Reproduce
1. `oc cluster up`

##### Current Result
`sudo oc cluster up`

Checking if image openshift/origin-control-plane:v3.11 is available ...
Creating s

[2019-07-13 12:12] rhuss commented on #20447
fyi @zregvart , might be useful for the integration of the console link into syndesis activity tracking view --> https://github.com/openshift/origin/issues/20447#issuecomment-511042444

[2019-07-13 12:14] davidwindell commented on #20424
@zeyuanpinghe do you mind me asking how you solved this? I am having a similar problem (permission denied on /plugins/sidecars) on a non-openshift infrastructure using a node persistent volume path. Thanks!

[2019-07-13 21:27] #21180 closed

[2019-07-13 23:55] elyscape commented on #11551
/lifecycle frozen

[2019-07-14 20:07] dutta64 opened #23377 "Volume with buildconfig"
Is it possible to mount an emptydir volume with a buildconfig using custom build strategy? Or any way to share data between the builder container and any docker containers it creates during the build process?

[2019-07-14 21:46] Exordian commented on #17013
/remove-lifecycle stale

[2019-07-15 03:28] #21238 closed

[2019-07-15 03:28] #21240 closed

[2019-07-15 03:28] #21218 closed

[2019-07-15 08:22] tsmaeder commented on #23369
@rhatdan not being super familiar with this space, how does that relate to this issue? And does it include home directory, etc. as well?

[2019-07-15 12:46] rhatdan commented on #23369
Yes it will generate the homedir.
[code]
Basically this checks if HOME is set in the environment, if so then it sets this as homedir, else it will set the homedir to the Current Working Directory, which I believe defaults to "/"

[2019-07-15 13:50] marcosoliveirasoares94 opened #23378 "Parameters with = and, are not accepted."
Hello everyone, First of all I do not know if I should post my problem here.

I have a SonarQube + LDAP template in the template, it has parameters for the LDAP entries, as follows:

oc new-app sonarqube \
  -p SONARQUBE_PERSISTENT_VOLUME_NAME_DATA= \
  -p SONARQUBE_PERSISTENT_VOLUME_NAME_CONF= \
  -p SONARQUBE_PERSISTENT_VOLUME_NAME_EXTENSIONS= \
  -p SONARQUBE_POSTGRESQL_VOLUME_NAME_DATA=  \
  -

[2019-07-16 01:44] zeyuanpinghe commented on #20424
Open permissions on mounted pv volumes

[2019-07-16 06:28] mkumatag opened #23385 "Umbrella Issue: Make openshift projects architecture independent"
Umbrella Issue: Make Openshift projects architecture-neutral

**Goal**: Make all the build scripts architecture-neutral to build successfully on `non-amd64` platforms. There are few projects which are already architecture-neutral but not all the projects, so this issue is to track those missing projects and make them architecture-neutral.

List of projects need to be fixed:

- [x] https://github.c

[2019-07-16 08:37] ekuric opened #23386 "cl - clusterloader fails if project supposed to be deleted is in "terminating" state"
[provide a description of the issue]

cl - clusterloader has option to delete project prior creating new one. If this is set, and if project is deleted manually via `oc delete project <project> ` then clusterloader will fail with

[code]

##### Version
[provide output of the `openshift version` or `oc version` command]
clusterloader running on OCP ( OCP v3.11 / v4.x )

##### Steps To Reproduce
1.

[2019-07-16 08:38] ekuric commented on #23386
/cc @sjug I got this 2x , not urgent  / or critical , but just to track it.

[2019-07-16 11:45] KurtStam opened #23388 "Openshift uses 65% of my CPU - clean system - no apps"
##### Version
oc version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth

Server https://192.168.42.164:8443
kubernetes v1.11.0+d4cacc0

General information

Minishift version:
OS: Linux / macOS / Windows
Hypervisor: KVM / xhyve / Hyper-V / VirtualBox / hyperkit
Steps to reproduce

Install XHyve and Minishift
After install the CPU goes down to 65% and stays there. My machine sta

[2019-07-16 12:09] sttts commented on #23258
We have the oauth tests on the radar and will focus on working on them in the next sprint, tracked in https://jira.coreos.com/browse/MSTR-736 and https://jira.coreos.com/browse/MSTR-511. So they shouldn't block splitting.

[2019-07-16 18:37] sttts opened #23393 "[infra] openshift-origin-bot synchronization issues"
This is an issue tracker for openshift-origin-staging-bot. The bot will report any errors that happened during synchronization under this issue.

(this is not a bug, just a placeholder for the bot to log errors)

[2019-07-16 19:16] mcandre opened #23394 "Image SHA often omitted, and sometimes tag as well"
The different sections of the Web UI often omit the exact hash of an image, and occasionally omit the tag as well. This makes troubleshooting any problems more difficult.

[2019-07-16 20:38] egnoriega commented on #19501
/reopen

I'd say this is a good add; perhaps using some type of annotation.

[2019-07-17 10:39] brahmaa commented on #19699
Running below steps resolved this redirecting problem

1) oc cluster down

2) mv openshift.local.clusterup to /tmp
     or
   rm -r openshift.local.clusterup

3) oc cluster up --public-hostname=10.10.72.140 --routing-suffix=10.10.72.140.xip.io

4) Open Web Console URL as "https://10.10.72.140:8443/console/"

[2019-07-17 20:33] devops-42 commented on #20474
/remove-lifecycle stale

[2019-07-18 09:40] #21467 closed

[2019-07-18 10:26] tux1980 opened #23416 "Openshift: Ansible Installer - oreg_auth_password;'REGISTRY_TOKEN' is undefined"}"
### Description
OpenShift All-in-One (AIO) for Labs
Im trying to install Openshift AllinOne for Demo and POC purposes.
https://blog.openshift.com/openshift-all-in-one-aio-for-labs-and-fun/

I get the following after roughly 3 minutes running to the ansible playbook:
fatal: [ocp3.kimmlingen-online.com]: FAILED! => {"msg": "last_checked_host: ocp3.kimmlingen-online.com, last_checked_var: oreg_auth_p

[2019-07-18 11:12] nehagup commented on #13955
I also faced the same error, in my case the registry was full. So I added archival policy to the images and made some space, it solved my problem.

[2019-07-18 13:01] tux1980 commented on #23416
I placed my RH credentials (User/Pass) in the "oreg_auth" section instead of using variables. It is running now.

[2019-07-18 13:01] #23416 closed

[2019-07-18 14:12] Pensu commented on #23385
Have sent the PRs for following ones:

- https://github.com/openshift/cluster-network-operator - https://github.com/openshift/cluster-network-operator/pull/254
- https://github.com/openshift/cluster-version-operator - https://github.com/openshift/cluster-version-operator/pull/223
- https://github.com/openshift/console-operator - https://github.com/openshift/console-operator/pull/256
- https://gith

[2019-07-18 15:23] mcandre opened #23423 "Enhancement: Warn on resources out of proportion for simple builds"
Really simple builds, such as yum/apt/apk, wget/curl, tar/gunzip; or ADD/COPY of a static artifact, do not require much in the way of resources to quickly and successfully complete a build. I wonder if OpenShift could detect these opportunities for driving down cost, by reminding the user to set more appropriate resource constraints.

Even with the implicit `git clone` that often runs as part of t

[2019-07-18 15:41] #22067 closed

[2019-07-19 09:34] DanielChuDC commented on #20726
Hi those workaround does not work... Any update?

Running on redhat 7.6, docker version 18.09.6 using the openshift-origin-server-v3.11.0-0cbc58b-linux-64bit.tar.gz release file.

[2019-07-19 09:50] DanielChuDC commented on #20726
Hi all, in the end, I access the console successful though https:/<public-ip>:8443/console/.

Even after you have run `oc cluster up --public-hostname=<server-ip> --routing-suffix=<server-ip>.nip.io`, you will need to access link as https:/<public-ip>:8443/console/ and not  https:/<public-ip>:8443.

The default route  https:/<public-ip>:8443/ will still bring you to 127.0.0.1.

The route  https:/<

[2019-07-19 13:05] arlindo-agencia-tmd commented on #21061
I'm having the same problem using Ubuntu 18.04

[2019-07-19 15:49] #22073 closed

[2019-07-19 17:10] yselkowitz commented on #23385
Here are some more PRs:

https://github.com/jimmidyson/configmap-reload/pull/34
https://github.com/openshift/etcd/pull/15
https://github.com/openshift/kubefed/pull/12
https://github.com/openshift/kubefed-operator/pull/42
https://github.com/openshift/openshift-tuned/pull/19
https://github.com/openshift/sriov-network-operator/pull/21

[2019-07-19 17:16] yselkowitz commented on #23385
Other issues for which we don't have patches yet:

* ghostunnel: vendor/golang.org/x/sys/unix needs fixes/rebase for at least ppc64le
* node-feature-discovery contains arch-specific code in source/cpu/cpu.go

[2019-07-19 21:46] #21056 closed

[2019-07-20 21:50] #22101 closed

[2019-07-20 21:50] #22107 closed

[2019-07-20 23:56] kamimi123 opened #23442 "Metric subsytem installation failure"
I was trying to install the metric subsystem for Openshift and when I launched the Openshift metrics playbook I got the following error :+1:
TASK [Evaluate groups - Fail if no etcd hosts group is defined] ***********************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Running etcd as an embedded service is no longer supported. If this is a new install please define an 'etcd' grou

[2019-07-21 02:52] svenstaro commented on #21316
/remove-lifecycle stale

[2019-07-21 09:52] #22115 closed

[2019-07-21 09:52] #22116 closed

[2019-07-21 14:46] faust64 commented on #22353
/remove-lifecycle rotten

that's still an issue, on 3.11. Couldn't check 4.x as of yet.

[2019-07-21 15:53] #22084 closed

[2019-07-21 21:54] #22117 closed

[2019-07-22 09:10] mkumatag commented on #23385
@yselkowitz thanks for the PR, I have updated the first comment with all the PR you have submitted.
Will look into these issues as well.

[2019-07-22 09:56] #21560 closed

[2019-07-22 11:20] ibuziuk commented on #23369
@rhatdan any plans to enable  CRI-O [1] as a default container engine. Otherwise, would it be possible to prioritize an option that would do all the tricks related to `Arbitrary User IDs` support [2] on OpenShift end? Currently on Eclipse Che side in order to properly support language runtime images on OpenShift we have to do the patching explicitly [3] (on pure K8S those images work OOTB without

[2019-07-22 11:26] rhatdan commented on #23369
I would think CRI-O is the default contianer engine now.  It is in OpenShift 4.0 so it should be here.

[2019-07-22 11:31] ibuziuk commented on #23369
@rhatdan cool, thanks - I believe we need to play with this a bit after our Che 7 GA release cc: @l0rd @amisevsk

[2019-07-22 11:37] sunix commented on #23369
@rhatdan I don't know if it is the place to report this:

On one of my containers, I have got that `/etc/passwd` line that has been added:
[code]
for this container image: https://github.com/quarkusio/quarkus-images/tree/graalvm-1.0.0-rc16/centos-quarkus-maven

However, `/project` is not writable for the arbitrary user which doesn't make sense.

[2019-07-22 11:49] rhatdan commented on #23369
That must be the current working directory, if HOME is not set in the environment, that is all the tool can deal with.

[2019-07-22 16:24] mcandre opened #23449 "Glitchy build log buttons"
In the Web UI, the build log follow buttons are quite glitchy.

* Follow / Go to End / Stop Following and Go to Top buttons often disappear.
* Following frequently stops on its own, spontaneously.

I'm using Chrome on macOS, in case that matters.

Not a bug, but relevant to UX: Follow should probably be the default behavior on a fresh page load.

[2019-07-22 16:31] jhjaggars commented on #22125
@mchoma Have you tried via wget? Does your version of curl use NSS rather than openssl?  I only had the problem when trying to use OpenSSL.

[2019-07-22 18:18] MarkRx commented on #4211
/remove-lifecycle stale

[2019-07-22 19:17] sunix commented on #23369
Yes this is the current directory. Arbitrary user doesn't have permission on it. But even if HOME were set, the arbitrary user wouldn't have write access permission on it, right ?

[2019-07-22 21:24] lance commented on #23371
I am experiencing the same problem while following these steps to access the registry from the cluster following these steps. https://docs.openshift.com/container-platform/4.1/registry/accessing-the-registry.html#registry-accessing-directly_accessing-the-registry

[2019-07-22 21:58] #22121 closed

[2019-07-22 22:39] #23377 closed

[2019-07-23 12:58] yeganx opened #23456 "topology reload in heketi gluster"
I have install containrized glusterfs storage on my openshift cluster by ansible
[code]

[code]
openshift cluster restart and heketi can not connect to cluster

[code]
all gluster pod conncted :
[code]
then I try to load topology.json
but this are errors
[code]
after that the result is :
[code]
now I dont know haw add devices and volums ?

[2019-07-23 15:54] mcandre opened #23459 "Logs implicitly dropping equals sign from ENV directives"
When my build executes in OpenShift, then `ENV key=value` directives are logged as `ENV key value`. This happens with multi-key directives as well: `ENV key1=value1 key2=value2` is rendered as `ENV key1 value1 key2 value2`. This is confusing for two reasons.

First, there is now a difference between the literal characters in my Dockerfile versus what is logged. Now I have to carefully mentally tra

[2019-07-24 06:25] daghb commented on #18932
/remove-lifecycle stale

[2019-07-24 09:01] xavierbaude opened #23464 "Service not accessible after a new deployment (iptables keeps old pod ip)"
I have a simple hello-world application with a service on top. When redeploying the pod, from a node If curl the service, I get a "No route to host".

Indeed the problem is, when redeploying my deploymentconfig, a new pod is coming with a new pod-IP, the iptbales should update the NAT rules with the new IP, but on most of nodes iptables have the old one. (only 2 or 3 nodes have the new)

After 1 o

[2019-07-24 09:34] rhatdan commented on #23369
It would be up to the container image.   For example /tmp or /var/tmp would probably be writeable by the user, or if the volume was mounted into the container, which is what something like OpenShift does.

But it is also the case that in a alot of situations the user process inside of a container does not need to write to it's home directory, so this is not an issue.  The main reason for having th

[2019-07-24 12:25] sunix commented on #23369
Yes thanks it makes sense

[2019-07-24 14:33] ecwpz91 commented on #21061
I searched for package that provides `libcrypto.so.10` and installed it.

`yum provides "*libcrypto.so.10"`

AND

`yum install compat-openssl10`

[2019-07-24 16:43] yselkowitz commented on #23385
@mkumatag FYI I'm working on patches for node-feature-discovery.  Will update once PRs are filed.

[2019-07-24 16:52] mkumatag commented on #23385
sure, hope that will take care cpu feature for power platform as well(in fact we can just return empty string array for cpu features for power platform as we don't get any flags when we run `lscpu` command)

[2019-07-24 17:22] yselkowitz commented on #23385
In general, we are trying to fix both IBM Power LE & Z in tandem.  PR filed:
https://github.com/kubernetes-sigs/node-feature-discovery/pull/262

[2019-07-24 18:22] smarterclayton commented on #21061
This should have been marked fixed, if it's not then please report exact versions.

[2019-07-24 18:46] yselkowitz commented on #23385
PR for ghostunnel:
https://github.com/operator-framework/ghostunnel/pull/9

[2019-07-24 18:54] zvonkok commented on #23385
How are the multi-arch images going to be managed, regarding a registry? Is the near time plan to support manifest lists or distinct repositories for each architecture?

How one will make sure that the right arch-image lands on the right node?

[2019-07-24 19:11] yselkowitz commented on #23385
Red Hat uses manifest listing on its registry, and has since Power LE has been supported in various containers for ~1 year.  But I'm not sure how that's relevant to this topic.

[2019-07-24 19:21] zvonkok commented on #23385
By registry you mean the internal origin registry? Does quay.io has support
for manifest lists?

On Wed., Jul. 24, 2019, 4:11 p.m. Yaakov Selkowitz <notifications@github.com>
wrote:

[2019-07-24 21:45] yselkowitz commented on #23385
Another PR:
https://github.com/openshift/cluster-api-provider-gcp/pull/38

Do you see any value to fixing the builds of AWS & Azure machine controllers?

[2019-07-25 04:41] mkumatag commented on #23385
well, this can help when we have control plane installed on the non-amd64 platform and add AWS and Azure machines to the cluster, but not sure are there any such use-cases exist. At the moment those two can be a low priority

[2019-07-25 04:45] mkumatag commented on #23385
As far as I know, openshift internal registry does not support fat manifest list, I remember reading quay.io started supporting fat manifest on an incremental basis. I'm not sure where the official openshift 4.x images have been pushed to quay or openshift cluster registry?

[2019-07-25 10:06] #21689 closed

[2019-07-25 18:17] #21061 closed

[2019-07-26 05:30] ShraddhaAg opened #23490 "Djnago SETTINGS_MODULE not found while deploying application"
[provide a description of the issue]
I'm trying to deploy a Django application to OpenShift. I'm using `kompse` to use the docker-compose.yml[1] file to deploy the application. My web application container is failing with the `ModuleNotFoundError: No module named 'happinesspackets.settings'` as seen from the web console error logs[2].

[1]: https://pagure.io/fork/shraddhaag/fedora-commops/fedora-h

[2019-07-26 09:22] xavierbaude commented on #23464
My problem was :
https://bugzilla.redhat.com/show_bug.cgi?id=1545577
 eg : a lot of idling app lock the iptables process too often, then NAT update are too long.

so you can close this.

[2019-07-26 09:27] #23442 closed

[2019-07-26 09:38] Reamer opened #23492 "Missing network metrics from cadvisor after some time"
Hi,

I'm using okd 3.11 with cri-o. After some uptime of origin-node, cadvisor doesn't report all network metrics (e.g. `container_network_transmit_packets_total`).

##### Version
I've build own RPMs for Origin and installed this RPM yesterday (25.07.2019) without any changes from branch `release-3.11`. My hope was a possible fix.
[code]

##### Steps To Reproduce
1. RSH to Prometheus instance
2. `

[2019-07-26 12:36] jankleinert commented on #23266
This seems to impact odo as well - does that need to be raised as a separate issue in their tracker?

[2019-07-26 12:51] sspeiche commented on #23266
Note this affects `openshift-installer` and other binaries

[2019-07-26 16:22] nate-duke commented on #21508
@yocum137 I work on the same cluster @clcollins was referring to, we're not using either of those registries. the registries in our openshift namespace are mostly on docker.io or registry.centos.org

We're OKD, not OCP.

[2019-07-26 19:33] ivandov commented on #22381
I hit this as well after doing an `oc cluster down` ... restarting the Docker service seems to fix it pretty quickly.

[2019-07-26 22:10] #21311 closed

[2019-07-26 22:18] accorvin opened #23495 "DNS resolution fails in oc 3.11 cluster up on a Fedora 30 VM"
After deploying an openshift cluster (using `oc cluster up --public-hostname=$IP_ADDRESS`) I'm finding that pods/builds are unable to access external hosts (e.g. github.com). I first discovered this while trying to trigger a build (I got a `could not resolve host` error while trying to clone the source for the build). This is on a Fedora 30 VM running in OpenStack. I suspect that running in OpenSt

[2019-07-27 04:11] #22162 closed

[2019-07-27 16:13] #22144 closed

[2019-07-27 16:13] #22164 closed

[2019-07-27 16:13] #22167 closed

[2019-07-27 22:14] #22122 closed

[2019-07-28 00:01] PushpamSaxena opened #23498 "OpenShift fails to read the base image in Dockerfile, if it is defined using ARG"
I am using Git repo https://github.com/nginxinc/docker-nginx-unprivileged.git to deploy an application on my openshift cluster (origin, running as a VM locally).

I am running the command -
oc new-app --name=dockerfile-nginx https://github.com/nginxinc/docker-nginx-unprivileged.git --context-dir=mainline/buster/

The Dockerfile, at the above source, is using ARG to define the base image -
ARG IMAG

[2019-07-28 10:49] nimrodshn commented on #20368
`sudo systemctl start docker.service` - Solved it for me.

[2019-07-28 11:13] hostingnuggets commented on #21382
/remove-lifecycle stale

[2019-07-28 16:11] jasuryak commented on #20862
Hi,
For for v3.10 (or prior V3.11), can I edit the configMap to add the script URLs programatically?
If so do you have example how can I get to the extension.scriptURLs?
Thank you.

[2019-07-28 16:17] #22187 closed

[2019-07-28 16:17] #22189 closed

[2019-07-28 16:48] spadgett commented on #20862
@jasuryak if you installed via ansible, you should be able to edit the console config map directly in 3.10

@3RX0 if you are asking about Prometheus, I'd check the docs here: https://docs.okd.io/3.11/install_config/prometheus_cluster_monitoring.html

[2019-07-28 21:22] markusdd commented on #23325
Yes, we have figured that out by now. I recommend that this is made clearer in the documentation because it wasn't obvious in any way and caused a 1 day debugging session for 2 people until we understood what is causing this remapping.
But it's all good now, this can be closed (except for the documentation request maybe)

[2019-07-28 21:45] markusdd opened #23499 "High log rate and container throughput causes node failure"
We are on a cluster with 4 worker nodes (full blown bare metal  24 core servers, SSDs, 2GBit link aggregation using teamd) for CI jobs, 1 dispatcher node which runs only a single gitlab-runner instance (a VM) and a master node (also a VM). Everything is on latest greatest CentOS7, all updates applied.

We are experiencing bad instabilities, which usually end up with nodes going into NotReady state

[2019-07-28 21:48] abdennour commented on #22437
@openshift-bot thank you for the feedback

[2019-07-28 22:18] #22166 closed

[2019-07-28 22:18] #21400 closed

[2019-07-28 23:52] jasuryak commented on #20862
@spadgett
Thank you for your reply. I think I asked the wrong question.
I am able to update the extensions.scriptURLs for the openshift web console ConfigMap using GUI.
What I am need to do is being able to update that programmatically.
I am able to read and added scriptURLs field on open shift 3.11 using nodeJS script but not prior 3.11
The configMap for openshift webconsole look different.
Prior

[2019-07-29 12:32] Reamer commented on #23492
Maybe it's because the active API server was changed or gone.

[2019-07-29 16:23] gsimon75 commented on #14452
The [OKD doc](https://docs.okd.io/latest/architecture/core_concepts/builds_and_image_streams.html#pipeline-build) says that

On the other hand, the [Openshift Online doc](https://docs.openshift.com/online/using_images/other_images/jenkins.html#jenkins-creating-jenkins-service-from-template) suggest to explicitely start Jenkins by either `oc new-app jenkins-persistent` or `oc new-app jenkins-epheme

[2019-07-29 17:34] bparees commented on #14452
@gsimon75 what version of Openshift are you on?  Openshift v4 no longer auto-instantiates jenkins for you.

The v4 docs are here:  https://docs.openshift.com/container-platform/4.1/welcome/index.html

There is technically no "OKD4" yet, so the okd docs are reflecting 3.x behavior.

[2019-07-29 20:50] blentz opened #23506 "ImageChangeTrigger creates new ReplicationControllers even when disabled."
I'm resurrecting issue #20172 , as it still persists on v3.11. I haven't tested any 4.x versions, but expect it to still be present, as it has not been fixed.

##### Version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.64:8443
kubernetes v1.11.0+d4cacc0

##### Steps To Reproduce
1. Create DC with the following trigger:
[code]

[2019-07-29 22:22] #21645 closed

[2019-07-30 07:07] R1310328554 opened #23507 "openshift/okd cannt start up when config with OpenIDIdentityProvider"
### Desc
I am working with okd 3.11, I want to login okd with keycloak. Got stuck to login okd, according to https://docs.okd.io/3.11/install_config/configuring_authentication.html.

so, what's going on here?   Is that OpenIDIdentityProvider cant be resolved ?

### OC Version
oc v3.11.0+62803d0-1
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://console.192.168

[2019-07-30 07:52] gsimon75 commented on #14452
I'm on Openshift Online, so it's v3 and it indeed doesn't instantiate Jenkins implicitely.

So when I forgot to do that manually, the symptoms were exactly the same as @fesenko experienced: no progress, builds stuck at 'new' (and an intense feeling of a great disturbance in the Force :) ).

That's why I thought it's worth a note, so if someone finds this issue by searching for the symptoms (like @

[2019-07-30 13:18] blentz commented on #23506
Additionally, the docs clearly state that setting `automatic: false` is supposed to disable the creation of new ReplicationControllers: https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/basic_deployment_operations.html#image-change-trigger

[2019-07-30 13:36] shalberd opened #23510 "possibility to push images from external registry to internal straight-through"
I am using openShift 3.11 and have yet to find a way to seamlessly move images on demand from an external docker registry to the openshift-internal registry without using docker tooling.

I am aware of the  docker way, but would prefer something akin to the BuildConfig in openShift, declaratively in yaml.

This did not work, as it leads to a builder image, not to a from-to straight-through pull/pu

[2019-07-30 14:20] bparees commented on #14452
fyi We do have v4 Online cluster available now.

v3 is being phased out as users roll off.

[2019-07-30 15:08] shiliy opened #23511 "installation failed with 'Control plane pods didn't come up' on dual homed RHEL 7.6 VMs"
[provide a description of the issue]
Trying to install OKD 3.11 on RHEL 7.6 VMs following instructions here:
https://docs.okd.io/latest/install/running_install.html#running-the-advanced-installation-rpm

It failed on step: `ansible-playbook -e openshift_disable_check=memory_availability playbooks/deploy_cluster.yml ` with error `Control plane pods didn't come up'.

##### Version
[provide output of

[2019-07-30 16:27] #22215 closed

[2019-07-31 18:19] niteshthakur commented on #21420
Workaround which has worked for me :
1) Using hyperv + oc 3.11 +  minishift v1.34.1+c2ff9cb.
2) Problem only on not so good internet connections.
3) Once minishift start command fails for the first time, ssh into minishift vm. Run `oc cluster down` followed by `oc cluster up` (copy this from the logs). Repeat this down/up step till your cluster is up. It could be 10-20 times or more or less depend

[2019-07-31 21:28] yselkowitz commented on #23385
Another PR:

https://github.com/openshift/cluster-image-registry-operator/pull/346

[2019-07-31 21:48] adambkaplan commented on #23510
Sounds like you want to use imagestream import with the "pull-through" option:

[code]

See https://docs.okd.io/3.11/dev_guide/managing_images.html#importing-tag-and-image-metadata

[2019-08-01 09:12] R1310328554 commented on #21253
I have the same issue, Im using cnetos7, I solved this by add vm mem from 8G to 10G ^_^
![image](https://user-images.githubusercontent.com/9073658/62281021-95e26800-b47f-11e9-8f00-d3aaa5ec96a4.png)

[2019-08-01 09:24] R1310328554 commented on #21420
believeit or not, I solved this by add some mem to my vm from 8G to 10G ..

[2019-08-01 10:30] #22221 closed

[2019-08-01 14:21] adambkaplan commented on #23385
@mkumatag you are correct - we explicitly don't support fat manifest lists in the internal registry. The primary reason is that manifest lists are not compatible with the imagestream API.

fyi @dmage

[2019-08-01 14:41] mkumatag commented on #23385
that's right, will have to fix imagestream, imagestreamtag APIs to accommodate registry changes for manifest list media type.

[2019-08-01 18:27] nqbao commented on #9584
Thanks @zonArt , this is the only solution that works for me!

[2019-08-02 06:35] ShaoLun6503 commented on #22381
[code]
Then use `systemctl stop` to stop service which you think it might be relative to OKD.
Now `oc cluster up` works

[2019-08-02 06:40] Steinbjarne commented on #22381
This is an old case, and case is closed. Both last two suggestings were attempted, either dreict or indirect.
Full clean of all containers, restarting docker, tweeking docker, manually removing kubernetes containers, restarting all related services and so on. One of the bugfixes in release after fixed the issues.

[2019-08-02 10:34] #10931 closed

[2019-08-02 13:43] davi-romero commented on #21230
@stevef1uk You don't need to worry about the proxies warning messages unless you are really behind a proxy. Anyway, if it were the case, add the suggested IP from OC startup message to docker using it's GUI (preferences > proxies > bypass...).

[2019-08-02 14:18] davi-romero commented on #21420
I've solved this issue by performing the following steps:
1. Reset docker to its factory state (Preferences > Reset > Reset to factory defaults).
2. Add OC insecure IP (172.30.0.0/16) to docker (Preferences > Daemon).
3. Add docker filesystem access to the openshift folder:
`docker run -it --rm --privileged --pid=host justincormack/nsenter1 /bin/sh -c 'mkdir -p /var/lib/kubelet/device-plugins'`
4.

[2019-08-02 16:49] jozefizso commented on #21952
/remove-lifecycle stale

[2019-08-02 16:49] jozefizso commented on #21952
This issue still exists.

[2019-08-02 17:59] mrafieee opened #23539 "openshift/origin-deployer pod VersionedFieldType runtime_error"
We are facing openshift/origin-deployer pods are returning some go errors,

[code]

##### Version
openshift v3.11.0+92b7c41-132
kubernetes v1.11.0+d4cacc0

[2019-08-02 18:43] mcandre opened #23540 "Notification bell cache out of date on page reload"
When I refresh the page, the notification bell displays old, already cleared away notifications.

[2019-08-02 19:35] mcandre opened #23541 "Build log nav buttons imply termination on browser disconnect"
When the Web browser disconnects from OpenShift, then the build log navigation buttons change to "Go to End". This can happen, for example, when briefly closing a laptop and reopening it.

As a workaround, I am manually refreshing the page in order to get the "Follow" button back.

[2019-08-02 19:39] mcandre opened #23542 "Enhancement: Select active project with login snippet"
When a user copies the login snippet from the Web UI, he or she really expects the project to match the Web UI project. Otherwise, the user may accidentally spawn resources in the default project.

Can we modify the snippet to include an `oc project <project>` command appended to the auth command?

[2019-08-02 22:34] shuttr commented on #21230
A bit late... like almost a year haha.

Are they ever going to release 4.1?  On Prem?  On hardware?

[2019-08-02 22:36] #22237 closed

[2019-08-02 22:36] #22240 closed

[2019-08-02 22:36] #22242 closed

[2019-08-03 04:37] #22243 closed

[2019-08-03 10:38] #22216 closed

[2019-08-04 16:40] #21933 closed

[2019-08-04 16:40] #22019 closed

[2019-08-04 22:06] ainiml commented on #22216
/reopen

having the same issue, unable to use `kube-dns.kube-system.svc.cluster.local` as the resolver

[2019-08-05 06:32] Zemond opened #23547 "overlay is not supported over overlayfs"
[provide a description of the issue]

##### Version
$oc version
oc v3.11.0+62803d0-1
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://ip-172-31-100-171.eu-central-1.compute.internal:8443
openshift v3.11.0+01dd962-225
kubernetes v1.11.0+d4cacc0

##### Steps To Reproduce
1. I add new build (Add to project -> import YAML)
2. My build is fail

##### Current Result

[2019-08-05 14:54] dlakatos847 commented on #12111
This issue is still present with Origin v3.11 running on Docker 19.03.1, OpenSuSE Tw. Not sure why this is closed. The workaround resolves the issue but seems like an ugly hack to me: `sudo ip link set docker0 promisc on`

[2019-08-05 22:12] clnperez commented on #23385
Would we *have* to? Would it be possible to add that support first and then work it into the imagestream way of working? I'm not familiar with the openshift image-registry codebase, so, for all I know this would break something. Just brainstorming ways that we could keep from having teams who take advantage of manifest lists now re-do their workflows when moving to OpenShift.

[2019-08-05 22:43] #21443 closed

[2019-08-05 23:12] lemol commented on #21420
I've solved this issue reducing the amount of memory for the minishift Virtualbox Machine.
By default minishift uses 4GB of RAM, I opened Virtualbox and go to Machine configuration and set it to 2GB and now it works correctly.

My host is 6GB memory.

[2019-08-05 23:25] thecrudge opened #23554 "Official OKD 4 Timeline"
Could use a timeline for the OKD 4 release

##### Version

4

##### Steps To Reproduce
1. Try to install branch release-4.*

##### Current Result
Not able

##### Expected Result
Install OKD 4

##### Additional Information

[2019-08-06 08:54] dlakatos847 commented on #21612
Issue still present with v3.11 on OpenSuSE Tw.

[2019-08-06 09:02] dlakatos847 commented on #13873
Still present with Origin v3.11 on OpenSuSE Tumbleweed.

[2019-08-06 10:08] joost-van-weenen commented on #6422
We have use case where we don't want to `oc create ` but want to start a pod to be able to use a cli query tool.

You can work around the limitation in bash by doing de following:

`oc run --image=$(oc get is NAME -o=go-template='{{ .status.dockerImageRepository}}' -n NAMESPACE) `  etc...

[2019-08-06 16:21] mcandre opened #23561 "Follow button sometimes scrolls too far down"
Sometimes the Follow button scrolls way past the last line of the log. Like, a 2-line build pod log ends up off the top of the screen, with Follow placing the scroll many vertical em's past this point.

[2019-08-07 01:36] wantg opened #23563 "How to build my branch"
How to build my branch

##### Version
3.11

##### Steps To Reproduce

1.fork https://github.com/openshift/origin to my repos
2.pull from my repos
3.switch branch to 3.11
4.create my branch my3.11
5.do some change in pkg/oauthserver/server/login/templates.go like set a new html attr to inputbox
6.commit to my branch
7.do build
  hack/env hack/build-base-images.sh
8.do build
  hack/env make release

[2019-08-07 04:48] #21821 closed

[2019-08-07 06:35] AkihiroSuda commented on #23554
see https://github.com/openshift/origin/issues/23188#issuecomment-508733375

[2019-08-07 08:44] Reamer commented on #23492
Started an extra cadvisor process with root privileges in parallel at the same time, when I noticed that metrics disappear.

##### Steps to Reproduce
1. Start `cadvisor` version `0.30.2`
2. `curl` metrics
[code]
3. Make the same `curl` to origin-cadvisor from prometheus pod - RSH to prometheus pod
[code]

##### Temporary Bugfix
1. Restart `origin-node` - `systemctl restart origin-node`
2. Make a `

[2019-08-07 13:58] AdemirP commented on #9052
Hi @smarterclayton I've tried follow the link but it's missing! Do you still have the Doc about what is shown in each Log Level? Could you share it, please? Thanks!

[2019-08-07 14:14] shiliy commented on #23511
setting ectd_ip= <private IP> in the ansible inventory file on the master solved the issue.

[2019-08-07 14:14] #23511 closed

[2019-08-07 17:51] thecrudge commented on #23554
Hi @AkihiroSuda

I guess my point of this Issue, is that I did not ass an issue opened so that the community could follow the progress being made for OKD 4, and that maybe there should be.

[2019-08-08 07:02] Reamer commented on #23492
Related Ticket in Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1646886

[2019-08-08 07:55] anvpetrov commented on #22789
Same problem with 3.11.129 and CEPH RBD resize

[2019-08-08 08:43] h4wkmoon commented on #22789
When asked about it, the redhat support answered : "maybe in 4.x"

Le jeu. 8 août 2019 à 09:56, anvpetrov <notifications@github.com> a écrit :

[2019-08-08 08:44] TarunTater commented on #22200
I have come across same issue does anyone have any pointers or solution to this ?

[2019-08-08 08:47] Reamer commented on #23492
@sjenning
Can confirm your described steps to reproduce this issue in https://github.com/google/cadvisor/pull/2284
I can also confirm, that your PR fixed this issue. Just updated my test environment.
Hopefully this fix is merged soon into cadvisor and origin.

[2019-08-08 11:52] wambowams commented on #22892
I need the HTTP_PROXY on the openshift-apiserver too. It would be nice if u can tell us how u did it.

[2019-08-08 11:58] malins commented on #22892
$ cat ./openshift.local.clusterup/openshift-apiserver/master.env
set HTTP_PROXY=proxy:8080
set HTTPS_PROXY=proxy:8080
set NO_PROXY=172.17.0.0/16

[2019-08-08 12:11] wambowams commented on #22892
Thank u. Did u add the path to this file somewhere or will it automatically appended to the pod

[2019-08-08 12:29] malins commented on #22892
No, this file is picked up automatically, IIRC.

[2019-08-08 12:57] wambowams commented on #22892
Hmm that doesn't work for me, but thank u.

[2019-08-08 14:02] wambowams opened #23575 "Inject env to openshift-apiserver"
I need to add environment variables to the openshift-apiserver pod to add proxy settings to it. I already tried to add a master.env file to the openshift-apiserver folder, but it doesn't add the environment varaibles to the pod

##### Version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://172.24.25.125:8443
kubernetes v1.11.0+d4cacc0

####

[2019-08-08 15:15] infinitewarp commented on #18596
/remove-lifecycle stale

[2019-08-08 16:18] sjenning commented on #23492
@Reamer the process is somewhat complicated unfortunately.  Things have to be done in different repos in different versions in a particular order.  I'll move it along as quickly as process allows :crossed_fingers:

[2019-08-09 06:07] Reamer commented on #23364
It's up to the Centos team to upload a new centos:7 base image, which the updated software version you mentioned.

[2019-08-09 06:21] rhnewtron commented on #23364
For the haproxy part:

Actually the haproxy18 package looks like coming from CBS in origin:

This is from within a Router Pod OKD 3.11:

[code]
So I do not see dependencies to CentOS here.

[2019-08-09 08:53] amalic commented on #23188
It is becoming obvious that OKD has not only low priority at Redhat/IBM.

Here's what is completelly useless for the community:

- The name change from OpenShift Origin to OKD
- The introduction of OpenShift Commons

What the community wants to see:

- A community release with a parallel release cycle to the Enterprise Version
- **A migration path from 3.11 to 4**

If OpenShift continues this path

[2019-08-09 14:13] AnotherOneByteToDust opened #23583 "Editing hostsubnets with oc causing flawed record in etcd"
When we change manually hostsubnet HostIP parameter it revert to his previous value after master reboot.

The first guess there is the bug in oc tool or something.
What makes me thinking this way.

there are an openstack project with internal net 192.168.0.0/24
and an external network  10.10.10.0/24 connected to openstack and used as a pool for floating ips
and also there is an openshift cluster l

[2019-08-09 22:58] #22299 closed

[2019-08-11 21:18] IDCS1426 commented on #21253
The only way I got ride of it (I'm new to all this) is with:

`$ minishift stop`
`$ minishift delete`
`$ minishift config set --global memory 15000`
`$ minishift config set --global disk-size 75g`
`$ minishift config set --global cpus 4`
`$ minishift start --vm-driver virtualbox --memory=15000 --cpus=4 --disk-size=75g`

If global is not set, gofabric8 must be started as follow:
`$ gofabric8 start

[2019-08-11 22:17] eedrah opened #23588 "Should `oc ... -o json` have warnings on stderr, not stdout?"
I'm new to Openshift, so let me know if this belongs somewhere else, or if I'm doing something wrong :)

When I do a command that outputs JSON, yet also produces a warning, my warning shows up in the output, and I cannot parse this as JSON. Example below.

##### Version
[code]

##### Steps To Reproduce
1. `cd` to a git repository (mine is private, but that may not be necessary)
2. `oc new-app $(gi

[2019-08-11 22:22] eedrah commented on #23588
# Current workaround
(Will try and keep this updated with a link to the best solution in the below comments)

Manually examine and pass to `tail -n +2` if one line of warnings is shown

[2019-08-12 05:07] #22129 closed

[2019-08-12 08:59] #23575 closed

[2019-08-12 10:34] maniannam opened #23589 "Openshift"
Hi Team,

Am very new to openshift. and I need your help please

am doing the a online course, in the the is a LAB session called

LAB question :

In your lab environment, you will act as a router and ask the routes from the lab-7 project to the master with an API call.

HINT: This exercise aims to use curl by redirecting the output in the /root/lab-7.ex file on master1.example.com:

#> curl -s xx

[2019-08-12 12:32] JohanNordlinder commented on #22538
/remove-lifecycle stale

[2019-08-12 12:32] JohanNordlinder commented on #22538
/remove-lifecycle rotten

[2019-08-12 12:33] JohanNordlinder commented on #22538
/remove-lifecycle stale

[2019-08-12 16:14] flaviosakakibara commented on #18092
You should use the redhat/openshift-ovs-multitenant plugin on the parameter networkpluginname.

[2019-08-12 17:05] mkumatag commented on #23385
As internally registry is tightly coupled with openshift and creates an object of type imagestream for every image, so not really sure whether we can really ignore that part. I don't see any easy solution, a customer may end up maintaining their own registry which supports manifest or use an external one.

[2019-08-13 20:17] bryantson commented on #23371
Encountering the same issue as well. What is the underlying cause of this?

[2019-08-15 15:38] dwamara commented on #21420
Tried the base-dir, the firewall settings, nothing is working for me. It started the first time and now not anymore after I tried to configure the domain name for the UI.

[2019-08-16 08:42] thrix commented on #19483
This does not seem to work on our openshift 3.11 deployment, I have

[code]

And I get

[code]

[2019-08-16 12:04] #23492 closed

[2019-08-16 14:40] bparees commented on #19483
@thrix can you file a bug at bugzilla.redhat.com?  I would expect that to have worked.

[2019-08-16 14:40] bparees commented on #19483
@coreydaley i believe you implemented docker build-arg support, so fyi, incoming.

[2019-08-16 17:24] #21532 closed

[2019-08-16 17:24] #20460 closed

[2019-08-17 07:19] yeganx opened #23623 "Failure to push image to OpenShift’s Registry when backed by gluster storage"
I have install containrized glusterfs storage on my openshift cluster.
[code]
my docker register backed by gluster
and every thing was ok
now I have error in pushing images to registery
`error: build error: Failed to push image: received unexpected HTTP status: 500 Internal Server Error`
I check the registery pod :
[code]
how can I increase the volume or set it dynamic size?

[2019-08-18 11:52] jkroepke commented on #23188
I recommend to look for alternative before installing OKD 4.

If you really want to use Openshift you have to buy a subscription.

[2019-08-18 23:33] #22384 closed

[2019-08-19 11:35] #22392 closed

[2019-08-19 11:35] #22393 closed

[2019-08-19 14:31] danwinship commented on #18852
sdn is no longer in this repo, and this bug is unlikely to be fixed since it only applies to the deprecated multitenant plugin

[2019-08-19 14:31] #18852 closed

[2019-08-19 14:37] danwinship commented on #11042
This works for ovs-networkpolicy, and is not going to be fixed for ovs-multitenant.
/close

[2019-08-19 14:37] #11042 closed

[2019-08-19 14:45] danwinship commented on #10655
openshift-sdn doesn't support IPv6 (and at the time the bug was originally filed, I don't think kubernetes supported IPv6 at all). There is not currently a timeline for when openshift-sdn will support IPv6, though in recent OpenShift releases, you should be able to have an IPv6-only cluster if you use a different network plugin. (IPv6 dual stack support still has not yet landed in kubernetes upstr

[2019-08-19 14:45] #10655 closed

[2019-08-19 14:46] danwinship commented on #20474
/remove-sig networking
/sig network-edge

[2019-08-19 14:46] danwinship commented on #20009
/remove-sig networking
/sig network-edge

[2019-08-19 14:47] danwinship commented on #18467
/remove-sig networking
/sig network-edge

[2019-08-19 14:47] danwinship commented on #18395
/remove-sig networking
/sig network-edge

[2019-08-19 14:48] danwinship commented on #10665
/remove-sig networking
/sig network-edge

[2019-08-19 14:50] danwinship commented on #11740
No idea if this is still an issue, but migrated to https://github.com/openshift/sdn/issues/25

[2019-08-19 14:50] #11740 closed

[2019-08-19 17:35] #21498 closed

[2019-08-19 17:35] #21789 closed

[2019-08-19 17:35] #22394 closed

[2019-08-19 18:02] adambkaplan commented on #23623
The disk for the registry is full. You need to allocate more storage to your gluster storage, and then you may need to delete the registry pod (a new one will spawn with the larger volume).

[2019-08-19 18:02] adambkaplan commented on #23623
/close

[2019-08-19 18:02] #23623 closed

[2019-08-19 22:54] amalic commented on #23188
Don't get me wrong. I have 3.11 running, and am mostly happy with it.

But at some point projects will require Kubernetes 1.12 and higher. And if there's no upgrade path, people will look for alternatives.

My organisation can not afford an infrastructure group for on-premise cloud computing.

[2019-08-20 06:20] thanhnamit commented on #23588
It seems under the path /pkg/oc/lib/newapp/app/sourcelookup.go Line 318, the warning message is redirected to standard out:

`fmt.Print("warning: Cannot check if git requires authentication.\n")`

Where the common pattern in other file is using

`fmt.Fprint(io.Writer, "Message")`

Should it be: `fmt.Fprint(r.ErrOut, "warning: Cannot check if git requires authentication.\n")`

[2019-08-21 07:21] greg-pendlebury opened #23638 "Expose `OPENSHIFT_BUILD_*` parameters as Docker Build `ARG` values."
## Feature Suggestion
Expose `OPENSHIFT_BUILD_*` parameters as Docker Build `ARG` values.

Unless I am missing something (apologies if so) I cannot see a way for the Dockerfile to reference these values. Reading through `builder/common.go` and `builder/docker.go` it looks like the various `OPENSHIFT_BUILD_*` values are provided in string literal form and appended onto the Dockerfile to provide `EN

[2019-08-21 13:02] MrMEEE opened #23642 "Can't import image via imagestreams"
I can't get imagestreams to work with my local registry.....

`
[root@aptacmaster01 spilbraetv1]# oc create secret docker-registry harbor-secret --docker-server=registry.aperta.dk:5000 --docker-username=************* --docker-password="***********"
secret/harbor-secret created
[root@aptacmaster01 spilbraetv1]# oc create imagestream fafnir-sso
imagestream.image.openshift.io/fafnir-sso created
[root

[2019-08-21 15:07] harshalkwagh commented on #18776
in my case i already have   --exec-opt native.cgroupdriver=systemd  option in /usr/lib/systemd/system/docker.service file but still my CgroupDriver is using cgroupfs

ExecStart=/usr/bin/dockerd-current \
          --add-runtime docker-runc=/usr/libexec/docker/docker-runc-current \
          --default-runtime=docker-runc \
          --exec-opt native.cgroupdriver=systemd \
          --userland-prox

[2019-08-21 15:29] FabianWilms opened #23643 "Adding labels to images built with S2I binary build"
To have a better overview what each image we built contains we want to add a label to each image with the artifacts version as a value.

To build the images we start a S2I binary-build by uploading a .jar-File to Openshift with the `oc start-build` command. I expected to be able to define labels with the start-build-Command and tried adding `--build-arg --label="foo=bar"` for testing purposes and

[2019-08-21 16:50] cmoulliard opened #23644 "okd doc is not longer up to date to use Binary - "openshift start""
## Issue

The okd latest doc is not anymore up to date as it mentions that to start a ocp cluster, we must execute this command `openshift start` as described here [1]
while in fact this command is deprecated and replaced by the following commands

[code]

Is it possible to update the doc like also to document how to use the others commands please ?

[1] https://docs.okd.io/3.10/getting_started/ad

[2019-08-21 21:12] alauzon commented on #18046
@marusak, I have the same problem too. I run actually docker-1.13.1-102.git7f2769b.el7.centos.x86_64.  In your last comment you specified a version not working and another one working but you have put the same version for both.  So which version was working exactly?

[2019-08-22 02:53] magick93 commented on #23495
Try going into your openshift folder (created in the directory you ran `oc cluster up` in) and edit the `kubedns/resolv.conf`, set nameserver to `8.8.8.8`.

Then up the cluster.

[2019-08-22 05:44] #21954 closed

[2019-08-22 07:22] marusak commented on #18046
Ah, that is typo. I am sorry, but I have no idea today anymore. But I guess it was something around that `1.13.1-51`, maybe something like `-50` or `-49`ish.

[2019-08-22 07:46] mohanr opened #23647 "The exposed URL doesn't return a proper result"
Even though the pod is running and I can see the Spring REST service logs showing that it is started the exposed URL doesn't return a proper result.

##### Version
[code]
##### Steps To Reproduce
_oc get routes_

`spring-cloud-gateway       spring-cloud-gateway-firstservice.192.168.42.79.nip.io                 spring-cloud-gateway       8080-tcp                 None`

[code]
/etc/hosts
[code]
[cod

[2019-08-22 11:30] mohanr commented on #23647
I also tried this example. Doesn't work. What could be the problem ?

[code]

[2019-08-22 12:29] dariodsa commented on #10134
/remove-lifecycle rotten

[2019-08-22 12:29] dariodsa commented on #10134
/reopen
/remove-lifecycle rotten

[2019-08-22 12:30] dariodsa commented on #10134
/reopen
/remove-lifecycle rotten

[2019-08-22 15:03] accorvin commented on #23495
Nope, no luck. Here's my resolv.conf file:

[code]

To apply the change, I first started OpenShift (by running `oc cluster up --public-hostname=10.0.154.53`), then stopped the cluster, then applied the above change, than reran the cluster up command.

[2019-08-22 17:46] #22400 closed

[2019-08-23 09:19] MaheshZ commented on #19699
I had to delete the folder and also set no_proxy=my_vm_ip

[2019-08-23 17:50] #22404 closed

[2019-08-24 05:21] eramlawi commented on #11692
having this issue after trying to do this
https://computingforgeeks.com/setup-openshift-origin-local-cluster-on-centos/

on fresh  CentOS Linux release 7.6.1810 (Core)
up to date

[2019-08-24 17:53] #22413 closed

[2019-08-24 20:19] shilpa481 commented on #18159
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2019-08-24 20:22] shilpa481 commented on #18159
I am still seeing this issue.

I am running minishift (minishift v1.34.1+c2ff9cb), openshift-origin-client-tools-v3  on Mac Mojave 10.14.6
Minishift & Minikube are running
When I try oc login I get this error. error: dial tcp 192.168.99.115:8443: i/o timeout - verify you have provided the correct host and port and that the server is currently running
I have cleaned up, restarted-no luck.

Currentl

[2019-08-25 08:43] eramlawi commented on #11692
okay never run oc cluster up , if you do so it will create alot of entries with 127.0.0.1 you need to always use your public IP

[2019-08-25 13:30] amalic commented on #23642
I had similar issues. Was in the end a misconfigured MTU setting in the router node. I recommend checking the network troubleshoting guide from openshift.

[2019-08-25 17:57] #22194 closed

[2019-08-25 23:58] #21639 closed

[2019-08-26 05:59] saraAlizadeh opened #23666 "how to change glusterfs min block size in okd?"
##### Version
OKD 3.11

##### Steps to recreate
when I create pv using yaml file, if the storage size is less than 1G, it is rounded to 1G.
this means I cannot create smaller volumes, that I need desperately.
Is there any configuration for openshift to change min block size of glusterfs?

this is my yaml file:

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gluster-claim
spec:
  acce

[2019-08-26 07:38] dariodsa commented on #10134
/remove-lifecycle stale

[2019-08-26 07:39] dariodsa commented on #19905
/remove-lifecycle stale

[2019-08-26 11:36] bguruprasad commented on #16395
Do we have any resolution on this issue? I am facing same issue on CentOS 7. I verified that my `resolv.conf` have nameserver entry.

[2019-08-26 16:40] Gladskih commented on #19769
So, has anyone managed to get "oc image mirror" working?
Or I just spent the day flogging a dead horse.

[2019-08-26 18:57] dmage commented on #19769
@Gladskih yes, the next command copied the image successfully:
[code]

[2019-08-26 19:44] Gladskih commented on #19769
@dmage
But not in my case: running on Windows for two internal docker registries of different Openshift clusters even if I have plain credentials in my config.js.

[2019-08-26 19:59] dmage commented on #19769
@Gladskih feel free to open a new issue. Please include steps to reproduce and output of the mirror command with --loglevel=6.

[2019-08-27 08:41] p17n opened #23678 "Merge template fix from openshift/router"
In the HAProxy template there is an extra }. This has been fixed in https://github.com/openshift/router/commit/e9961a1eb712f79fbfe9c9b3d2902d833d784ea5

Please include this fix also in 3.X images.

[2019-08-27 09:33] Gladskih commented on #19769
Sorry for not creating a new Issue but... let place information fast and easy googleable.

Your @dmage advice about `--loglevel=6` is really hellpfull! Thank you, Oleg!
I just figured out that oc image mirror command looking for a config by paths other than the default for docker (%USERPROFILE%\.docker).

When Jenkins pipeline (on Windows worker node) run oc:

- C:\jenkins\workspace\MyProject\conf

[2019-08-27 10:45] dariodsa commented on #19905
It worked when I change apply to replace, so you can try with it.

[2019-08-27 11:41] Gladskih opened #23680 "oc image mirror fails with wincred"
`oc image mirror` on Windows 10 fails to authenticate in Docker registry when credentials are stored in **wincred**.
It logs

 and

but then just `curl -k -v -XGET  '<scope token url>'` without Authorization header!
If credentials saved in config.json explicitely all work correctly.
Looks like the problem could be imported from github.com/docker/distribution/registry/client/auth

##### Version

##

[2019-08-27 13:52] abhinavsinha1991 commented on #18358
Any progress on this so far?

[2019-08-28 00:07] #22437 closed

[2019-08-29 06:19] mydockergit opened #23691 "When starting OpenShift cluster, getting error: "timed out waiting for the condition""
I started my cluster:
`[root@master openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit]# oc cluster up --skip-registry-check=true`

After a while it exit with timeout:
[code]

I checked the status:
[code]

I can't login:
[code]

I can see the pods status (notice that the "openshift-apiserver" is down):
[code]

I don't see that the kubelet is exist:
[code]

I tried to reinstall it:
[code]

B

[2019-08-29 09:00] MaheshZ commented on #20617
I found that this was because of no connectivity to the internet. Although I do not know why it would fail, or give such an error while failing. Probably tries pulling something from dockerhub and fails.

[2019-08-29 13:36] yelaissaoui commented on #21252
Hello,
I've got the same issue with Minishift, when I curl the given URL I get :
"apiservices.apiregistration.k8s.io is forbidden: User \"system:anonymous\" cannot watch apiservices.apiregistration.k8s.io at the cluster scope: no RBAC policy matched",

Anyone ?

[2019-08-29 17:54] amalic commented on #15360
I would also be interested.
@phracek Ever came to your mind to tell us what you did?

[2019-08-29 19:08] crmarques opened #23696 "Reapplying BuildConfig manifest triggers unnecessary build"
Reappling same BuildConfig manifest triggers unnecessary builds because it clears `lastTriggeredImageID` properties from `imageChange` trigger. This is very inconvenient when using an automation tool that ensure configuration from a config repo.

##### Version
[code]

##### Steps To Reproduce
1. Create a build config manifest, for example:

[code]

2. Apply manifest:

[code]

3. API processes and

[2019-08-30 00:26] magick93 commented on #15147
Am facing the same issue with 3.11.

Dont think the PR has helped.

[2019-08-30 04:12] jxadro opened #23699 "Expose TCP/IP (No HTTP/s) services"
Hi

How can be a service that does not use HTTP/s be exposed in OKD 3.11?

I think routes only support HTTP/s traffic.

I have read about using ExternalIP configuration for services but that makes the operation of the cluster complicated and static compared to routes/ingress.

NodePort is more for development that for production due to the opening of ports in all the nodes, lack of control about p

[2019-08-30 16:02] mcandre opened #23701 "Inconsistent response from oc apply"
Some `oc apply`'s note when a resource configuration has been altered, other `oc apply`'s merely remark `configured`. This appears to happen on a resource type basis.

Could `oc apply` please always indicate whether resources have changed, in order to provide users with more information about the state of their clusters?

[2019-08-30 18:16] #21716 closed

[2019-08-30 18:16] #22321 closed

[2019-08-30 19:15] adambkaplan commented on #23643
@FabianWilms you can add a label to an image by editing the `output` portion of the BuildConfig. However, this isn't something that can be set on a per-build basis (as one would with `oc start-build`).

[2019-08-30 19:58] adambkaplan commented on #23696
@tnozicka @soltysh Does this occur because `triggers` is a list, and `oc apply` sees these as different lists.

[2019-08-30 21:35] crmarques commented on #23696
I know this implies a great modification. But shouldn't `lastTriggeredImage` be in `status` section instead of `spec`?

[2019-08-31 00:17] #22422 closed

[2019-08-31 11:46] #23563 closed

[2019-08-31 17:54] smarterclayton commented on #22246
If externalIPCIDR is unset the controller should be disabled.

[2019-09-01 12:22] #22474 closed

[2019-09-02 14:50] soltysh commented on #23696
@adambkaplan this is the answer to your question, when users applies an empty config that's the modification it will get. So this situation is perfectly valid approach.

[2019-09-03 05:40] Super169 opened #23713 "How to config the openshift/router to accesss local OKD server from internet?"
I have downloaded the OKD and installed on CentOS, it works fine using the local IP.  I can now access those service via intranet connection.  And now, I'd like to access from internet.

Assume my router's internet IP is 123.45.67.89, and I have a domain xyz.com pointed to this IP, and my server has local intranet IP 192.168.1.31.

I have set the port forwarding of 8443 to 192.168.1.31, then I try

[2019-09-03 06:30] Super169 commented on #23713
It seems some previous configuration file affected the result.
It works using xyz.com after start over from reinstall CentOS.

[2019-09-03 06:30] #23713 closed

[2019-09-03 06:55] phracek commented on #15360
The problem was caused on my side. Therefore I closed this issue.

[2019-09-03 06:56] phracek commented on #15360
Sorry I did not know, how I solved this issue. It was a year ago.

[2019-09-03 10:23] pyates86 commented on #18125
This is still an issue on some 3.11 clusters.

It's because of the finalizer 'kubernetes' not being removed from the project:
  finalizers:
  - kubernetes

I cleared up 1000's of projects by following these steps:

1. Do:
oc get projects |grep Terminating |awk '{print $1}' > mylist

2. Create and run this script to create a json file for each terminating project (while removing kubernetes finalize

[2019-09-03 12:33] xapundel commented on #16395
The same issue for CentOS7. @bguruprasad do you have any updates?

[2019-09-03 23:01] Piping commented on #16097
I used ansible to setup the openshift 4.1.
But I cannot use podman to install docker images.

Get an error like this
[code]

what is the host should be registry?

[2019-09-03 23:39] Piping opened #23721 "How to access default image registry in OpenShift 4.1"
How can I use `podman` to login the openshift default registry in 4.1?

I have read through the documentation and cannot find any useful information that
1) get server address either with dns name or ip address for the image registry
2) cannot use docker/podman command to login the registry and push the image/container.

The current install is default installtion with 3 mater and 4 nodes.
And curr

[2019-09-04 01:30] skynardo commented on #22491
Unfortunately this problem persists at OKD v3.11.  This past weekend we temporarily lost our primary master which triggered the start of the "ALPN callback dropped: HTTP/2 is disabled." (We have now dubbed this the Alpine Loop) on our 40 plus Jenkins PODS which in turn flooded the master-api and ran the EC2 instance out of memory.

[2019-09-04 07:15] bparees commented on #16097
assuming you're trying to push from a machine that's not part of your cluster, you should create a route for the registry and push to the route hostname.

https://docs.openshift.com/container-platform/4.1/registry/securing-exposing-registry.html#registry-exposing-secure-registry-manually_securing-exposing-registry

[2019-09-04 12:55] FabianWilms commented on #23643
@adambkaplan Thanks for the reply!

Do you have another solution on how to add this information to an image via `start-build`? We just want to be able to determine the contents of the image without creating loads of tags.

[2019-09-04 19:40] adambkaplan commented on #23638
fyi @openshift/openshift-team-developer-experience

[2019-09-04 20:03] sttts commented on #22268
/remove-lifecycle stale

[2019-09-04 20:08] Piping commented on #16097
Thanks @bparees !
Using your provided link, I am able to find the HOST and use `podman login` to login to the registry .

But now I cannot push the image successfully.
Some error output like this:
[code]
The second command uses `kubeadmin:password` taken from `podman login -u kubeadmin -p password`

The apparently the authentication does not work. What is the right/updated approach for push images

[2019-09-04 20:46] adambkaplan commented on #23721
fyi @openshift/openshift-team-developer-experience

[2019-09-04 20:59] bparees commented on #16097
see: https://docs.openshift.com/container-platform/3.11/install_config/registry/accessing_registry.html#access-logging-in-to-the-registry

you can also use "oc registry login" to update your docker config.json w/ auth creds for pushing to the registry.

but the key is that you can't be using the default cluster-admin account as it has no token.  You need to create a regular user or use a service a

[2019-09-04 21:01] bparees commented on #16097
(looks like the 4.x docs are here: https://docs.openshift.com/container-platform/4.1/registry/accessing-the-registry.html#registry-accessing-directly_accessing-the-registry but they are a bit mixed up since they talk about accessing the registry from within the cluster and using the registry service hostname instead of exposing a route and using the route hostname).

[2019-09-04 21:49] Piping commented on #23721
Question is answered here:
https://github.com/openshift/origin/issues/16097#issuecomment-527774854

[2019-09-04 21:49] #23721 closed

[2019-09-05 03:32] shneha opened #23729 "Openshift v3.11 :: pod fails and restarts frequently - CrashLoopBackOff - Back-off restarting failed container"
Created one pod using Docker image, which contains simple Hello World! JAVA code.

I analysed logs for pod but it gives no error, all log data is as expected for a successfully running app.
Log showing Hello World! - as expected.

Events for reference -

Events:
  Type     Reason     Age               From                                   Message
  ----     ------     ----              ----

[2019-09-05 07:07] ashishxooa commented on #19699
@MaheshZ thanks that worked for me.

[2019-09-05 07:48] crazytaxii commented on #21789
@pangzheng I encountered the same problem too.

no kind \"InitializerConfiguration\" is registered for version \"admissionregistration.k8s.io/v1beta1\" in scheme \"k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:29\"

Did you find out the answer?

[2019-09-05 12:43] mfranczy commented on #22901
@cben did you create a bugzilla for that? If yes, could you send a link?

[2019-09-05 13:00] bendehaan opened #23732 "Feature request: support for Jenkins scheduled pipeline trigger"
In similar fashion to the Jenkins scheduled pipeline, I would like to be able to automatically periodically trigger an OpenShift pipeline according to a cron(-like) specification.

The use case is for a security pipeline: long-running security jobs should not disrupt the regular build pipeline, and new security findings could arise in code that hasn't been touched for a while. A solution is to run

[2019-09-05 13:49] svenstaro commented on #21400
/reopen

[2019-09-05 14:06] SteveKeller commented on #20194
same issue here..

- etcd is installed on master nodes
- openshift version: v3.11.117
- kubernetes version: v1.11.0+d4cacc0

[2019-09-05 20:36] toubib commented on #23729
If your program exits, your pod will be on failure state.
If you want a daemon you can run a webserver who print Hello World! as a response of http requests.

[2019-09-05 21:46] jglick commented on #19501
I think #20474 is the refiled version.

[2019-09-05 22:52] Piping commented on #16097
@bparees

This information is critical. But how to create a user just for a setup lap environment?  Does setting up a ldap server mandatory?  I tried the `htpasswd` approach but it shows internal error for on the command line.
[code]

assume HOST is the exposed default registry route.
can I have to create a repo name first to push my container image?

for example, if I tag my image like this, `$HO

[2019-09-06 05:08] waveywaves commented on #23732
@bendehaan It would make more sense if you could reopen this issue in https://github.com/openshift/jenkins-sync-plugin and close this on as this is not the right place. We can continue the discussion there.

[2019-09-06 08:55] cello86 opened #23736 "OKD 3.10 : a lot of csr pending state after node certs renewal"
On our cluster OKD 3.10 some nodes had a expired certificate for node side and we updated them via che oc adm certificate approve. We noticed that there are a lot of pending request in this cluster after the operation but also on an other cluster where the certificates will expire in October.
Also the rsh and logs command into OC are not working for TLS issues.

##### Version

##### Steps To Repro

[2019-09-06 09:55] bparees commented on #16097
Htpassword is fine. Creating a service account and using its token is even
easier.

The image repository name maps to an openshift project/namespace name. You
have to have permissions to create imagestreams in the namespace to be able
to push an image to it.

Ben Parees | OpenShift

On Fri, Sep 6, 2019, 00:53 Piping <notifications@github.com> wrote:

[2019-09-06 19:18] Piping commented on #16097
easier.

Thanks for tips. I used a service account and successfully pushed my local image to `imagestream` inside the openshift.  But the process stuck again. I tried to create a yaml file in pod and run the service. But it failed to pull the image. The yaml files looks like this? Do I miss anything here?

[code]

[2019-09-06 20:05] adambkaplan commented on #16097
@Piping refer to the following to reference an ImageStream tag directly in a pod or other k8s resource:

https://docs.okd.io/3.11/dev_guide/managing_images.html#using-is-with-k8s

[2019-09-07 06:42] #22269 closed

[2019-09-08 07:47] yehaha9876 opened #23748 "cant reslove dns for docker-registry.default.svc:5000"
when run oc login it wait a long time then this error：

[code]

**tdnsmasq log:**
[code]

**but sometimes:** this is right
[code]

my /etc/resolv.conf
[code]

/etc/dnsmasq.d/origin-upstream-dns.conf
[code]

the seconde is right any helps?

[2019-09-08 15:56] deepakmessage opened #23749 "what is command for create nodeport in openshift?"
I am able to create nodeport by yaml file. but unable from command . please help to create nodeport by command.

[2019-09-08 18:46] #22547 closed

[2019-09-09 06:14] mohanr commented on #23647
I don't know what is missing here. But the following works. I mistakenly believed that custom ports will work without any additional configuration. The doc. and other resources let me to believe so.

[code]

[2019-09-09 11:56] philipp1992 commented on #23188
any news on this? is there any official information about when the open-source version of OpenShift 4.x will be released and installable?

[2019-09-09 12:36] jkroepke commented on #23188
@philipp1992 since Openshift 4 requires RH CoreOS we have to wait utils Fedora CoreOS is ready.

https://getfedora.org/en/coreos/download/

[2019-09-09 15:08] m86194 opened #23754 "openshift 3.11: Rollback of external image deployment does not use then-current image but newest."
The image used for rollback is not the then-current one.  Image is built externally and put on the openshift external registry (migrated from build configuration)

##### Version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth SSPI Kerberos SPNEGO

Server https://liquid.tdk.dk:443
openshift v3.11.43
kubernetes v1.11.0+d4cacc0

##### Steps To Reproduce

1. Push docker image to ope

[2019-09-10 05:37] ashishxooa commented on #20604
No action was taken on this?

[2019-09-10 07:58] bendehaan commented on #23732
@waveywaves thanks! We can continue here: https://github.com/openshift/jenkins-sync-plugin/issues/336

[2019-09-10 07:58] #23732 closed

[2019-09-10 11:37] shneha commented on #23729
Thanks for the reply!
Will create a web service and try to deploy,

[2019-09-10 13:19] bparees commented on #20604
@ashishxooa reading through the history it looks like some ansible changes were made that resolved the problem.  not aware of this still being an issue anywhere, and it works significantly differently in 4.x.

[2019-09-10 13:55] mcandre opened #23757 "Enhancement: Procedure for tenants to collect container core dumps"
Please provide an automated, straightforward procedure for tenants to collect core dumps for failing applications.

While there are a handful of tutorials for collecting core dumps with a simple Docker deployment, it is not clear how non-administrative OpenShift users should go about getting core dumps. This makes it difficult to diagnose why a application is failing at scale.

[2019-09-10 14:27] bsquizz commented on #13581
@rascasoft this syntax currently works for me:

[code]

[2019-09-11 00:52] #21190 closed

[2019-09-11 09:32] TomC4D commented on #21061
The solution above
yum provides "*libcrypto.so.10"

AND

yum install compat-openssl10

works on RHEL8

[2019-09-11 21:32] ikatson commented on #21636
/remove-lifecycle stale

[2019-09-12 05:01] morningspace opened #23769 "What's the simplest way to setup IP host mappings for OpenShift single node local cluster?"
I have a single node cluster run by `oc cluster up`. I also need pods that can access some hosts in local network. I don't want to setup a custom DNS server since it's just a couple of simple ip host mappings that essentially can be added into `/etc/hosts`.

For Kubernetes using `coredns`, I can use its [hosts](https://coredns.io/plugins/hosts/) plugin to configure these static mappings quite easy

[2019-09-13 01:06] greg-pendlebury opened #23780 "How to supply Base64 encoded data to Jenkins?"
When data is unsafe to provide in a string form to a template, such as:
 * passwords with a hash character breaking YAML parsing (our specific issue);
 * or similarly raw data with a quotation ('"') that breaks JSON;
we are currently (using YAML) providing the data into a Secret or ConfigMap via Base64 encoding.

Our problem arises when trying plumb the data up to the Jenkins pipeline. It "works"

[2019-09-13 06:59] #22578 closed

[2019-09-13 20:20] tdolphin opened #23786 "router drops http2 connection. net::ERR_SPDY_FLOW_CONTROL_ERROR"
request from browser is multipart/form-data carrying a binary file.
The request immediately fails with "No response"
with Network error
Failed to load resource: net::ERR_SPDY_FLOW_CONTROL_ERROR

All other h2 requests from the same client to the same server seem to go through fine.
Problem is experienced immediately on multiple client test machines with browser restarting, clearing cache ... etc.
D

[2019-09-14 07:03] #22337 closed

[2019-09-14 07:03] #22579 closed

[2019-09-15 14:30] alokmajumder opened #23787 "Cloning "https://github.com/openshift/cakephp-ex.git " ... error: fatal: unable to access 'https://github.com/openshift/cakephp-ex.git/': Could not resolve host: github.com; Unknown error"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2019-09-15 14:35] alokmajumder commented on #23787
description: When trying to build a php application using git link getting the following error.

version:
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
kubernetes v1.11.0+d4cacc0

Steps To Reproduce
1. click php catalog.
2. put git link https://github.com/openshift/cakephp-ex.git
3. build

[2019-09-15 17:14] rmros opened #23788 "i cant find any rest api references document openshift 4.1 version, where is?"

[2019-09-16 09:40] youness951 opened #23790 "ERROR: Job failed: exit code 1"
Successfully built 930a0443b40d
Successfully tagged spring-petclinic-microservices_grafana-server:latest
Image for service grafana-server was built because it did not already exist. To rebuild this image you must use `docker-compose build` or `docker-compose up --build`.
Pulling config-server (registry.gitlab.com/youness951/spring-petclinic-microservices/spring-petclinic-config-server:2.1.5)...
ma

[2019-09-16 10:21] m86194 commented on #23787
If you create a pod in your cluster and `oc rsh` to it, can you then access the outside world or do you need to use a https proxy to do so?

[2019-09-16 12:15] thor1704 opened #23792 "44"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2019-09-16 12:22] jonathancross commented on #23792
FYI: This user (*thor1704*) is just creating nonsense PRs, comments and issues. Please report them.

[2019-09-16 13:54] alokmajumder commented on #23787
Hi, I ran my oc as
oc cluster up --http-proxy

oc cluster up --http-proxy=proxy.host --https-proxy=proxy.host

after that I created a demo app using php which gives the error at the time for build. Document attached with screenshot

![Screenshot from 2019-09-16 15-46-40](https://user-images.githubusercontent.com/49674329/64963875-407ce180-d89a-11e9-852f-aed0359601fc.png)
![Screenshot from 2019-09-

[2019-09-16 14:48] mcandre opened #23795 "Problems with Metrics plots"
The Metrics graphs have some subtle problems, that make it more difficult to accurately diagnose errors:

Sometimes metrics reset on pod redeploy, such as when the rc creates a fresh pod.

Other times, metrics continue past the redeploy point in time, creating a false smooth curve between the two data sets. For example, memory usage will blend from an OOM event in an old dead pod into the fresh po

[2019-09-16 16:02] miikamoi opened #23799 "[OKD 3.11] Testing GitLab Build Trigger - payload includes 3 commits and triggers build based on wrong commit"
Hello you lovely people!

I'm posting in hopes of verifying and/or identifying a bug.

When testing the integration in GitLab to trigger an OpenShift build, the webhook payload sent by GitLab contains an array commits containing the last 3 commits.

OpenShift triggers a build, but clones the oldest commit (which is the last one in the array) and not the newest (meaning it reverts to an older code

[2019-09-16 17:58] wabouhamad commented on #23192
/remove-lifecycle stale

[2019-09-16 19:31] mcandre opened #23804 "Enhancement: Autocomplete YAML kinds in Other Resources dropdown menu"
When I enter a custom kind of resource such as `PerconaXtraDBCluster` in the "Other Resources" dropdown menu, then it doesn't select the `Percona Xtra DB Cluster` result.

This makes it much harder to find resources, because most of the time we're using the YAML / oc CLI name not this silly friendly name with spaces.

##### Version

* OpenShift v3.11

[2019-09-17 09:11] ThinkBriK commented on #23188
From https://github.com/coreos/fedora-coreos-tracker

[2019-09-17 09:20] ricardo-aspira commented on #23188
My main concern is how we would be able to migrate from 3.11 to 4.1 or 4.2.

[2019-09-17 13:10] aneagoe commented on #23188
afaik it won't be possible to upgrade from 3.11 to 4.x. however, migrating resources and projects should be trivial. With an external LB, you should have an easy time setting up a separate 4.x cluster and migrate workloads at your convenience. You get a fresh start and probably drop a lot of baggage you've accumulated in 3.11. And on the upside, once you're on 4.x it *should* be trivial to stay up

[2019-09-17 13:11] #22615 closed

[2019-09-17 19:12] #22616 closed

[2019-09-18 10:20] kaushik9845 opened #23824 "Build fails with error non-zero (13) exit code from registry.access.redhat.com/jboss-webserver-3/webserver31-tomcat8-openshift@sha256:d4b33223601547f3b4e8d3e88710ef3c734b19f97f1e6e795532d817e6a55e2a"
I have installed oc v3.11.0+62803d0-1
Build runs fine if I am using wildfly template.
I have also imported the template/images for  jws31-tomcat8-basic-s2i .But the
Build fails with error non-zero (13) exit code from registry.access.redhat.com/jboss-webserver-3/webserver31-tomcat8-openshift@sha256:d4b33223601547f3b4e8d3e88710ef3c734b19f97f1e6e795532d817e6a55e2a

Non-resolvable import POM: Could no

[2019-09-18 13:30] jetztgradnet commented on #18932
Are there any updates on this for OpenShift 3.11? I have tried all workarounds mentioned here and couldn't pull an image from a private repository on Docker Hub. Pulling the image using `docker pull` with the same credentials works.

[2019-09-18 13:32] daghb commented on #18932
We have moved away from Docker Hub to use Quay instead. Works as a charm both on 3.9 and 3.11.

[2019-09-18 18:07] DanilaSobolev commented on #17311
Hi!
Did you solve the proplem? I still get the error:
oc set resources bc/test --limits=cpu=1,memory=1Gi
error: {build.openshift.io v1 buildconfigs}/test the object is not a pod or does not have a pod template: *v1.BuildConfig

openshift v3.11.129
kubernetes v1.11.0

[2019-09-18 18:29] rndmh3ro commented on #23223
/remove-lifecycle stale

[2019-09-18 19:01] ashiq54689 opened #23827 "Question regarding the Logo"
What's the font name of the Logo text "Origin"?

[https://blog.openshift.com/wp-content/uploads/imported/openshift-origin-logo.png](url)

I was not sure where to ask this question, so my apologies, if this is the wrong place to ask this.

[2019-09-18 19:14] george-rudenko commented on #21898
Seems that it does not work. Have you got some other ideas how to fix that problem?

[2019-09-18 19:16] george-rudenko commented on #21898
@Hakulaku, have you solved the described problem?
I've got the same(

[2019-09-19 13:20] faust64 commented on #22353
yet-another-customer contacting me about this.
Running 3.11.141. with crio and docker runtime.

[2019-09-19 13:53] psimonski commented on #21185
I'm currently facing the same problem behind a proxy. Without a proxy on a different minishift profile it's working like a charm. Which strange proxy settings is "oc new-app" using?!

===== SOME INFORMATION =====

C:\dev\minishift-1.34.1-windows-amd64>minishift version
minishift v1.34.1+c2ff9cb
C:\dev\minishift-1.34.1-windows-amd64>minishift openshift version
openshift v3.11.0+739ab57-285
C:\dev\m

[2019-09-19 14:21] Reamer commented on #20311
/remove-lifecycle stale
Still present

[2019-09-19 16:08] bparees commented on #21185
new-app uses nothing specific, standard golang libs which respect the traditional http/https proxy env vars.

the issue you are hitting is cluster-side.  The imagestreamimport failed within the cluster because the cluster could not reach docker.io to do the import.

[2019-09-19 16:08] bparees commented on #21185
[code]

[2019-09-19 19:59] adambkaplan commented on #23799
fyi @openshift/openshift-team-developer-experience

[2019-09-20 14:47] mcandre opened #23836 "Confusing layout for metrics in Web UI"
One of the metrics is displayed in the Web UI as explicitly "X resource used". Another metric is explicitly "Y resource available". And the plotline isn't even labelled.

Please use a consistent axis for all three charts, in order to ensure that users correctly interpret the metrics. For example, all three charts could be in terms of "X resource used", which is the typical chart direction.

Screen

[2019-09-21 13:24] #22646 closed

[2019-09-21 13:24] #22647 closed

[2019-09-21 14:57] PushpamSaxena opened #23838 "Openshift 4.1: How to add password to users.htpasswd file on AWS"
I have configured a new cluster on AWS. I created a users.htpasswd file locally with a few users in it.
I then uploaded this file from the Console, so that OAuth can be configured to use htpasswd identity provider.

I can add more identity by command - oc create identity <PROVIDER_NAME>:<PROVIDER_USER_NAME>

But my question is how to provide a password for this identity.
Earlier I would have logge

[2019-09-21 16:54] erickhagstrom commented on #21553
/remove-lifecycle stale

[2019-09-21 17:02] erickhagstrom commented on #21553
I'm working through the O'Reilly book, _DevOps with OpenShift_. It guides readers through the **oc cluster up** process, and references the subject document (_cluster_up_down.md_). If you don't want people to use that process any more, that's cool, but please provide SOME document called _cluster_up_down.md_ so that people can learn about the new process when they come here looking for the old one

[2019-09-23 08:23] stramzik opened #23840 "OC Cluster never goes up Error: timed out waiting for the condition"
HI All,

When ever i try to get the cluster up using "oc cluster up"
Below is the error I get
[code]
Found few article but cant find a solution please guide me if there is a solution for the issue

##### Version
OC version
[code]

##### Additional Information
[code]

[2019-09-23 11:06] mfojtik opened #23843 "Master Branch Frozen For Merging | branch:master"
The master branch is freeze until the Kubernetes 1.16.0 lands: https://github.com/openshift/origin/pull/23811

Contact the @openshift/sig-master team for more information.

[2019-09-23 13:29] #22680 closed

[2019-09-23 15:56] #23843 closed

[2019-09-23 18:19] borehack commented on #23188
is a little frustrating to have openshift commercial 4x available for month and no progress nor timeline for openshift open-source . as I understand the Red Hat business model that they create commercial products from the open-source base and do some hardening. am I misunderstanding something ?

[2019-09-24 05:39] rniksch commented on #23840
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Seeing same issue on centos 7

[2019-09-24 07:32] shamonshan opened #23851 "Web console access failed in oc cluster"
I am trying to up a cluster in my ubuntu server which in the virtual box using  the `public host`

` sudo oc cluster up --public-hostname=<ip-address>`

I got this in console
[code]

cluster is up without any problem

I can able to log in through the command line with `oc login -u system:admin`
But when i try to access the web console its not reachable ` https://192.168.99.2:8443`

##### Version
[

[2019-09-24 08:44] Drakkai commented on #23371
Did anyone find a workaround for this issue? I faced the same problem.

[2019-09-24 15:33] bguruprasad commented on #21627
Sure @bparees  I'll do that.

Yes, I did the initial investigation, everything looks good but still the image fails to run with error below. I'll put the detailed bug in bugzilla as suggested. Thanks.

![image](https://user-images.githubusercontent.com/3767545/65526454-08ece580-dee9-11e9-95f9-ef9548304924.png)

[2019-09-26 09:52] morningspace opened #23864 "How to detect if apiserver is fully restarted and ready for use"
I'm using `oc cluster up` to deploy some app, where it requires admission webhooks, which are not enabled by default on OpenShift v3.11.

Then, I followed [this](https://github.com/minishift/minishift/pull/3044/files?file-filters%5B%5D=.addon#diff-2b549c9279e7ee4c89b656c523d99fd8R13-R22) to restart the apiserver.

However, after it passed health check by curling /healthz that returns `ok`, I still

[2019-09-26 10:40] pavenova commented on #21695
/reopen

[2019-09-26 10:41] pavenova commented on #21695
Issue is still in place (oc client v 3.11)

[2019-09-26 10:42] pavenova opened #23865 "Unable to connect to the server: Forbidden (ref #21695)"
Hi,
issue is still in place, looks like oc -version is forcing this error.

Please investigate possible fix, thanks

[2019-09-26 14:23] adambkaplan commented on #23787
@alokmajumder can you update the BuildConfig YAML to set the log level to 6? This turns on verbose logs so we can (hopefully) see the proxy connect info.

[code]

[2019-09-26 15:21] danwinship opened #23867 "k8s.io/cSi-api dep in glide.yaml points to cRi-api"
openshift/sdn vendors k8s.io/csi-api, which has no `v1.16*` tags, so I wasn't sure what to pin it to. So I checked what origin did and found:

    - package: k8s.io/csi-api
      repo:    https://github.com/openshift/kubernetes-cri-api.git
      version: origin-4.3-kubernetes-1.16.0-rc.2        ^

and indeed, [`origin/vendor/k8s.io/csi-api/`](https://github.com/openshift/origin/tree/6ae0a501/vendo

[2019-09-26 17:45] bsquizz opened #23869 "Unable to look up dockerImageLayers information for all ImageStreamTag objects at once"
Is there a more efficient way to obtain the dockerImageLayers for all images? Currently with `oc get istag --all` the dockerImageLayers info is omitted. I get the same result when listing all ImageStreamTags via the REST API as well. Is there a flag I can pass to have the imageLayer data returned in a `v1.ImageStreamTagList`?

[code]
##### Steps To Reproduce
`oc get istag --all -o yaml`

##### Cur

[2019-09-26 19:39] #22703 closed

[2019-09-26 19:39] #22708 closed

[2019-09-27 08:49] datamuc commented on #21789
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-27 13:33] dsutherland1492 commented on #7050
I'm having this same issue, was a fix ever created for this?

[2019-09-27 13:35] dsutherland1492 opened #23873 "access .git during the build"
When I build from a git repository, using a docker strategy, I need to access the .git directory at build time.  However, this folder appears to be unavailable to open shift causing an error during the Docker build process...

Step 9/15 : COPY .git/ /usr/source/app/.git/error: build error: lstat .git/: no such file or directory

Any thoughts of how to work around this?  Someone previously had an i

[2019-09-27 13:36] bparees commented on #21789
the recommended solution to this issue is to use `oc process -f template.yaml | oc create -f -` instead of `oc new-app -f template.yaml`

oc new-app is unlikely to receive further enhancements to address this issue (as of v4 we recommend always using oc process to instantiate templates, instead of oc new-app)

[2019-09-27 20:09] bparees commented on #7050
I believe we are still stripping the .git folder out automatically currently.  There was some discussion about introducing an api to allow overriding of this behavior, or controlling the filtering in general, but i don't think it went anywhere.  @adambkaplan may be able to dig up the RFE from our backlog (unfortunately our backlog is in jira which is not yet public..hopefully soon).

[2019-09-28 01:44] #22617 closed

[2019-09-28 10:03] devops-42 commented on #20986
/remove-lifecycle stale

[2019-09-28 10:07] stramzik commented on #21420
Could someone please help me fixing the issue please?
Centos7
Firewall configured as per this doc https://docs.okd.io/latest/install/prerequisites.html#install-config-network-using-firewalld
Yet I am still getting the below error please help :(
[code]

[2019-09-28 12:46] niteshthakur commented on #21420
@stramzik Try to follow this. Its shud work eventually

[2019-09-28 19:26] uselessidbr opened #23881 "Can't bind PVC to StorageClass using gluster block"
Unable to claim a PVC from a StorageClass of a block storage.

The claim still on pending state. On events it show:

  | waiting for a volume to be created, either by external provisioner "gluster.org/glusterblock-infra-storage" or manually created by system administrator
-- | --

##### Version
oc v3.11.0+62803d0-1
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v

[2019-09-29 03:34] uselessidbr commented on #23881
On heketi pod i got this message on deploy:

etting up heketi database
  File: /var/lib/heketi/heketi.db
  Size: 65536           Blocks: 104        IO Block: 131072 regular file
Device: 100004h/1048580d        Inode: 12260247531261666053  Links: 1
Access: (0644/-rw-r--r--)  Uid: (    0/    root)   Gid: (    0/    root)
Access: 2019-09-29 02:35:55.934796553 +0000
Modify: 2019-09-29 02:45:25.8561855

[2019-09-29 13:00] lubuxnl commented on #21420
I have also been struggling for a while starting openshift on my Windows 10 laptop with VirtualBox, both with minishift and with vagrant. When I run minishift or vagrant however from a command prompt with administrator privileges openshift just starts fine.

[2019-09-29 17:41] uselessidbr commented on #23881
Hello!

I think i managed to resolve the problem.

As i noticed that the pvc was waiting for the provisioner, and i couldnt see any log at the provisioner i thought that the "provisioner" tag should be wrong at storageclass definition:

Provisioner: gluster.org/glusterblock-infra-storage

Altought there was a environment in the pod:

![image](https://user-images.githubusercontent.com/45802599/6583

[2019-09-29 18:26] uselessidbr commented on #23881
Update.

The only thing i'm concerned about is that i have two provisioners (app-storage and infra-storage) and both are receiving request to delete volumes. I'm not sure that it would be a problem unless the name matches on both ends.

Is that an expected behaviour? Both have distinct resturl on storageclass but something is definitely wrong with the environment "provisioner_name" that is what i

[2019-09-29 19:49] #21423 closed

[2019-09-30 01:25] rgov commented on #22997
/lifecycle frozen

Security issues should not be closed out for being stale.

[2019-09-30 01:49] #22751 closed

[2019-09-30 07:50] svettwer opened #23882 "'from.name' declaration in source strategy always adds 'latest' as tag"
Hi! :wave:

I've created a OpenShift template for one of our applications leveraging OpenShift S2I. The template provides the possibility to not only specify the builder image name but also the builder image tag to use during S2I. After applying the template, OpenShift  added a `:latest` to the builder image name no matter whether I've provided a tag myself or not. That results in a broken build c

[2019-09-30 08:03] syzmekk opened #23883 "ProgressDeadlineExceeded cannot be extended"
Pods getting killed after 100 minutes and marked as _Failed progressing_.
We have some **big** boys in our environment. Our image is about ~5GB and needs around 90-110 minutes to be up and running (1st deployment).
After approximately 100 mins our pod(s) is/are getting deleted without a reason, even though everything inside was going well.

##### Version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cac

[2019-09-30 08:59] svettwer commented on #23882
Hey!

Silly me used `ImageStream` instead of `ImageStreamTag`. :man_facepalming:
I'll close this one.

BR
Sven

[2019-09-30 08:59] #23882 closed

[2019-09-30 19:52] #22760 closed

[2019-10-01 04:00] greg-pendlebury commented on #18125
We too got hit by this today. Quite stumped until we found this post. The solution from @pyates86 resolved it for us.

[code]

[2019-10-01 11:32] moritzluedtke opened #23890 "Service(s) in OKD is not available after one hour of inactivity"
### Description
We have our project hosted in OpenShift (OKD to be precise. We host it ourselves). The setup is as follows:

- Routing server (Spring Boot 1.5.8 with Zuul): This one takes all the incoming traffic and routes it to the correct services

- Multiple services (all with Spring Boot): Here is all the business logic

We use SOAP for calling other services in this project.

Currently, when

[2019-10-01 22:50] greg-pendlebury commented on #18125
Spoke too soon... our team tried reusing that project name today and it immediately went back into the same `Terminating` state after it was created.

FWIW, it is almost exactly the same issue reported here: https://bugzilla.redhat.com/show_bug.cgi?id=1507440#c45

Right down to it being a persistent Jenkins `serviceinstance` and reporting:
[code]

I have now read a number of reports that indicate

[2019-10-02 01:18] greg-pendlebury commented on #19351
I love the bot policy of closing old bugs just because they are old... particularly when they are confirmed and assigned. It is certainly way better to have a clean ticketing system than bug free software...

We hit this Yesterday as well and _seemed_ to workaround it by deleting the finalizer on the `serviceinstance` (not the project, as per comments in #18125). It didn't really go away though, a

[2019-10-02 02:32] greg-pendlebury commented on #19351
We finally have a usable project again, but we were forced to change the Jenkins template parameter for `${JENKINS_SERVICE_NAME}`. I assume whatever is broken under-the-hood remains broken and is related to that; we are just avoiding it.

The symptoms of our 'broken' deployments were traced down to the PVC being mounted with incorrect permissions (for reasons which remain unknown), causing Jenkins

[2019-10-02 02:43] jmrodri commented on #19351
@greg-pendlebury yeah, it's definitely a trouble spot and we've been advising to remove the finalizers. Based on your comment above it looks like you're using the template service broker with the service catalog. There are a couple things at play here.

The service catalog will create an manage a serviceinstance. The template service broker will create and manage the templateinstance as well as th

[2019-10-02 02:48] greg-pendlebury commented on #19351
Interesting. That explains something else we saw, but I didn't mention because we couldn't reproduce. After deleting the finalizer, then the project, we created the project afresh and deployed Jenkins only to see it delete on us. We only happened once though, then the above errors related to mount permissions happened whenever we deployed.

[2019-10-02 09:05] Reamer opened #23895 "Newest Sparkoperator doesn't work on okd 3.11"
After updating to [spark-operator-v1beta2-1.0.0-2.4.4](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/releases/tag/v1beta2-1.0.0-2.4.4) the crd (Custom Resource Definition) was changed in [PR#578](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/578).

The new crd doesn't work at Openshift 3.11

##### Version
[code]
##### Steps To Reproduce
1. Setup Openshift 3.11
2.

[2019-10-02 11:38] syzmekk commented on #23883
Another pod randomly deleted after about an hour:
`Events:
  Type    Reason            Age   From                    Message
  ----    ------            ----  ----                    -------
  Normal  SuccessfulCreate  1h    replication-controller  Created pod: t24-wls-10-mtlpz
  Normal  SuccessfulDelete  13m   replication-controller  Deleted pod: t24-wls-10-mtlpz`

I have been forwarding the logs

[2019-10-02 11:39] syzmekk commented on #23883
Another pod randomly deleted after about an hour:
`Events:
  Type    Reason            Age   From                    Message
  ----    ------            ----  ----                    -------
  Normal  SuccessfulCreate  1h    replication-controller  Created pod: app-wls-10-mtlpz
  Normal  SuccessfulDelete  13m   replication-controller  Deleted pod: app-wls-10-mtlpz`

I have been forwarding the logs

[2019-10-02 12:56] adambkaplan commented on #7050
@dustymabe we have the RFE in JIRA - https://jira.coreos.com/browse/DEVEXP-69

This was imported from Trello from here, and hasn't changed since. For folks who can't access our JIRA, link to archived Trello card: https://trello.com/c/C1gwxci3

[2019-10-02 13:50] Reamer opened #23898 "No kubelet_volume_stats_* metrics with crio and "unix://" endpoint"
Hi,

I use crio container engine and changed `container-runtime-endpoint` and `image-service-endpoint` to `unix:///var/run/crio/crio.sock`, because `/var/run/crio/crio.sock` is deprecated. I compiled and installed a relative new okd version. I thought that metrics problems should be fixed with #22804
I recognize that `kubelet_volume_stats_*` metrics are not present in metric output if using `unix:

[2019-10-02 15:10] mcandre opened #23900 "Explicitly label timezones across Web UI elements"
Whenever the Web UI displays a timestamp, please explicitly label the timestamp with the relevant timezone, be it UTC or whatever else. This provides users with more confidence that they are correctly interpreting the timestamp.

[2019-10-02 19:12] chrisc66 opened #23902 "OpenShift 4.1 Docker login internal registry error: x509: certificate signed by unknown authority"
I have an OpenShift 4.1 cluster installed recently. I am trying to access OpenShift cluster internal docker registry. It is a 3 master, 5 worker nodes cluster. I am having trouble with finding internal registry certificate.

##### Version: OpenShift 4.1
[code]

##### Steps To Reproduce
1. oc login with cluster admin (`kubeadmin`) credentials
[code]
2. docker login with same credentials
[code]

###

[2019-10-03 14:05] franckgr commented on #23032
/remove-lifecycle stale

[2019-10-03 14:06] franckgr commented on #23032
This is still an active issue. Let me know if there is anything I can do to help with

[2019-10-03 14:10] 29x10 opened #23911 "Could not login using OpenID Connect"
I am configuring auth0 as openid provider, but when I use oc login --token=id_token, it says

`error: The token provided is invalid or expired.`

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]

##### Steps To Reproduce
Here is my identity configuration for openid:

[code]

##### Current Result
`error: The token provided is invalid or expired.`

##### Expec

[2019-10-03 19:29] MartijnStraatman opened #23916 "pvc binding very slow on Openshift 3.11 with Openstack Cinder"
kubectl create pvc.yml

Somehow since last week it takes about 5 ~ 45 minutes until the pvc and pv are bound.

Until we restart de api-server and controller-managers the problem disappears. It can run for a few hours and the problem re-appears.

##### Version
openshift v3.11.82
kubernetes v1.11.0+d4cacc0

##### Steps To Reproduce
wait until pvc binding times out while deploying pods and recreate t

[2019-10-03 20:03] #22780 closed

[2019-10-03 20:47] woland7 commented on #22599
/close

[2019-10-03 20:47] #22599 closed

[2019-10-03 22:07] sapkra commented on #15159
The trello board says that the feature was migrated but I couldn't find any documentation about it.
Does anyone has some information about it?

[2019-10-03 22:10] bparees commented on #15159
@sapkra it was migrated to our jira board here:
https://jira.coreos.com/browse/DEVEXP-57

unfortunately the board is not currently public (we're working on making it public).

However it is not currently a high priority item in our backlog.

[2019-10-03 22:29] sapkra commented on #15159
Ahh ok now I understand: not the feature was migrated...the ticket was just migrated to JIRA.
And yeah it would be great to have more transparency in issues etc.

[2019-10-04 02:04] PushpamSaxena opened #23919 "OpenShift 3.10 on AWS - Unexpected failure during "update the sysconfig to have necessary variables""
I am installing a 3 node cluster on AWS using OpenShift 3.10. Prerequisites run fine, but during the deploy_cluster.yml execution, it fails -

Failure summary:
  1. Hosts:    ip-172-31-34-124.ec2.internal, ip-172-31-43-23.ec2.internal, ip-172-31-46-23.ec2.internal
     Play:     node bootstrap config
     Task:     update the sysconfig to have necessary variables
     Message:  Unexpected failure

[2019-10-04 02:04] #22491 closed

[2019-10-04 09:19] franckgr commented on #23032
Hi,

I just tested again with openshift 3.11.141
Issue is still present

[code]
----------------------------------------------------------------------------------------

[code]

[2019-10-05 02:05] #22013 closed

[2019-10-05 20:06] #22801 closed

[2019-10-06 08:08] #22807 closed

[2019-10-06 20:10] #22639 closed

[2019-10-07 06:12] moritzluedtke commented on #23890
After further investigation it seems that this problem is not related to OpenShift.

[2019-10-07 06:12] #23890 closed

[2019-10-07 11:43] Alveel opened #23926 "[3.x] Incomplete test suite for route validation"
For 3.11, the route `routeapihelpers` validation test suite only tests keys and certificates with an RSA private key. This should also include the other supported keys (from what I know, at least elliptic curve or ECDSA).

- [Relevant code](https://github.com/openshift/origin/blob/de4b42be1abf12c2510e9fd0871fc7daf51ac717/pkg/route/apis/route/validation/validation_test.go).
- Indirectly related to

[2019-10-07 14:12] #22005 closed

[2019-10-07 14:12] #22200 closed

[2019-10-07 15:13] Alveel commented on #23926
I think pull #23918 actually fixes this already.

[2019-10-07 15:41] adambkaplan commented on #23902
Since you're exposing via the default route, the registry uses the certificates configured by the ingress operator. Out of the box, the ingress operator uses a self-signed certificate.

You have a few options:

1. Configure docker to recognize the OpenShift registry as an insecure registry.
2. Update the ingress operator to use a cert signed by a trusted CA (ex: LetsEncrypt) [1]
3. Update the imag

[2019-10-07 15:41] #23902 closed

[2019-10-07 17:23] adambkaplan commented on #15159
@sapkra there is a project under way to make our JIRA issues/stories public. I want to say the goal is to complete this by the end of 2019/early 2020.

[2019-10-09 05:20] ChaitanyaKr commented on #20773
@Jorge-Dacal Hi, were you able to get this working? I tried the list thing and using the `oc patch ...` command too, but it always reports `spec.externalIPs: Forbidden: externalIPs have been disabled` despite it being set in master-config.yaml.

I have been using the `oc` binary on an Ubuntu VM, to toy around with OpenShift and I'm able to do most things (deploy, expose services), except getting e

[2019-10-09 12:51] jmencak commented on #4517
Doesn't `CAP_SYS_RESOURCE` help?  Can this not be done by something like:

[code]

And `setrlimit()` inside the container?

[code]

[2019-10-09 17:52] mhofstetter opened #23937 "Incorrect reconciliation of OpenShift Route based on K8s Ingress"
When OpenShift reconciles and therefore creates an OpenShift `Route` for each Kubernetes `Ingress`, the property `spec.port.targetPort` is set with the name of the port on the `Pod` instead of the name of the port on the referenced `Service`. This gets problematic when they differ in their names, as the referenced name doesn't exist on the `Service`.

Responsible controller: https://github.com/ope

[2019-10-09 20:19] #21606 closed

[2019-10-10 06:31] simonyangcj opened #23940 "Image environment variable don`t match apiserver.yaml"
Currently I been working on some openshift coding. I'm trying to use kubernetes client in apiserver container to get some information about certain objects.
So I have to initial the clientset object first with method BuildConfigFromFlags(url: "xxx", "admin.kubeconfig") then I realize instead of the hard code the path of file admin.kubeconfig I should use the environment variable of the image origi

[2019-10-10 08:20] #22822 closed

[2019-10-10 10:58] gbraad commented on #23266
@derekwaynecarr how to handle this? So far we haven't gotten anywhere with this and it affects us on macOS, and we find out the workaround with `/etc/hosts` we have is a rats nest, as it is not guaranteed to work due to permissions being modified outside of our control.

[2019-10-10 13:33] kthallam opened #23943 "how to fix the cert issue for the new elastic search pods in openshift."
we are trying to do installation of the new elastic search cluster in open shift along with the default one. when trying to bring up the pod we are getting following ssl error in the logs . Can some one help me in fixing this issue.

Thank you in advance.

2019-10-10 12:05:54 INFO  transport:420 - [Misty Knight] failed to get node info for {#transport#-1}{127.0.0.1}{127.0.0.1:9300}, disconnecting.

[2019-10-10 14:20] #22823 closed

[2019-10-10 14:31] jgrumboe commented on #23937
We can also reproduce the exact issue with OpenShift Master: v3.11.146!

[2019-10-10 15:38] micheleberg commented on #3820
When I had this same error, it turned out that my Secret Key in OpenShift didn't match the deploy key I'd created in github.  As soon as I fixed that, it was fine.

[2019-10-10 16:59] sspeiche commented on #23266
Does `kubectl` have this same problem too?

[2019-10-11 10:37] ironcladlou commented on #23937
Thanks for the detailed report! I'm adding this to our list of bugs to triage for the upcoming 4.3 release, so we should get around to it soon.

[2019-10-11 10:49] cfergeau commented on #23266
I just tried it, and yes it behaves the same, it needs an entry in /etc/hosts and is not making use of /etc/resolver/

[2019-10-11 11:42] seal-tol commented on #18932
I'm also lost with pulling images from private docker repos.
We are using Openshift Online on version 3.11.43
Tried every suggested secret creation, but still no luck:

`Error: ErrImagePull`

`Failed to pull image "docker.io/<org>/<repo>@sha256:<...>" rpc error: code = Unknown desc = repository docker.io/<org>/<repo> not found: does not exist or no pull access`

[2019-10-11 12:54] sspeiche commented on #23266
@cfergeau Should this be raised upstream? Seems like `odo` should follow what `kubectl` does.

Curious what @soltysh thinks

[2019-10-11 13:03] gbraad commented on #23266
I'd rather see us solve the problem than having to rely on others going first. There is no impact to the software delivered, but rather inthe build process as Apple-branded hardware needs to be involved, although this can be solved by using CircleCI.

[2019-10-11 13:12] Mach7ne opened #23949 "Minishift - oc login - error: dial tcp [::1]:8443: connect: connection refused"
Using web console on remote machine, however when I want to login to cluster locally using oc login i get connection refused.

This solution works well for web console remote access, console is accessible on https://127.0.0.1.nip.io:8443
However when I try to login locally using oc command i get following error:

$oc login
Server [https://localhost:8443]:
error: dial tcp [::1]:8443: connect: conne

[2019-10-11 15:33] mcandre opened #23953 "Web UI log Follow says "Go to end" when browser disconnects"
The OpenShift Web UI log Follow button mistakes network disconnection for process termination.

Please distinguish these in the code, so that the button says "Go to end" only after the process has actually terminated.

[2019-10-11 19:17] brutif opened #23956 "problems building openshift"
I'm trying to build from source on RHEL as described here:

https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc

export BUILD_LOGLEVEL=5
hack/env hack/build-base-images.sh

produces:
[code]

I got similar results on a Mac.  Adding a few echo statements to image.sh shows the "no such file" message is coming from imagebuilder, but I'm not sure how to fix this so the file is available.

[2019-10-12 01:51] yeuleh commented on #23956
I met the same problem while following the contributing document on the branch release-4.2 and release-4.3

[2019-10-12 01:59] yeuleh commented on #23956
The file `/go/src/github.com/openshift/origin/images/source/Dockerfile` is removed in commit 7aedc3cb19c39e22b382eff96380bef245f92352. Message in this commit may help.

[2019-10-12 14:49] cgruver commented on #23956
The HACKING.md and CONTRIBUTING.md files don't appear to have been updated for building the 4.X family of Openshift.  The instructions are still relevant to the 3.X family.

If anyone has insight into how to build the OKD 4.X components, I would love to get access to those instructions.

[2019-10-13 02:28] #21462 closed

[2019-10-13 02:28] #22842 closed

[2019-10-13 02:28] #22838 closed

[2019-10-13 20:31] #22587 closed

[2019-10-14 02:31] #22851 closed

[2019-10-14 13:19] soltysh commented on #23266
If we want that fixed, this has to be fixed upstream first, imo.

[2019-10-14 13:52] alwinmark commented on #3946
As referenced here: https://github.com/openshift/origin/pull/11068

There is a workaround using `${{ VARIABLE }}` instead of `${ VARIABLE}`, but I missed that. Hopefully this comment helps somebody in the same situation

[2019-10-14 14:56] marcosoliveirasoares94 commented on #23378
/remove-lifecycle stale

[2019-10-14 17:14] deepakdk13 commented on #21898
yes i did 3 months back

[2019-10-14 20:19] danehans commented on #23937
PR from @derkoe https://github.com/openshift/origin/pull/23951

[2019-10-14 21:06] danehans commented on #23937
The route api [docs](https://github.com/openshift/api/blob/master/route/v1/types.go#L102-L105) indicate that port should be a service port reference and not a pod port.

[2019-10-15 06:03] Reamer commented on #23895
Maybe related to https://github.com/kubernetes/kubernetes/pull/65357

[2019-10-15 13:51] Gl4di4torRr opened #23970 "Add User Metadata: Last Login"
When doing a `oc get user <user> -o json` there is not metadata of the user's last login.

##### Version
I have not found this on any version.

##### Steps To Reproduce
`oc get user <user> -o json`

##### Current Result
[code]

##### Expected Result
[code]

[2019-10-15 13:52] ServerNinja opened #23971 "oc login redirects to publicURL when used internally"
We recently upgraded to OpenShift 3.11 from 3.6. We noticed that the `oc login` command behaves differently and it seems to be a change in how the oc client cli behaves. It forces a redirect to the publicURL when it does a curl to `/.well-known/oauth-authorization-server`. As you can see below, when our Jenkins node tries to oc login to `https://osemaster01.ops.example.local`, it eventually tries

[2019-10-15 18:28] mcandre opened #23973 "Web UI: Sort pods by column"
Please add client-side scripting to sort pod tables ascending and descending by the different columns, including name, status, ready, restarts, and age.

[2019-10-15 18:45] mikecarr commented on #20263
Was this dropped?

[2019-10-16 10:33] soltysh commented on #23696
That's what I remember, other option would be to whitelist some of `.spec` fields when triggering builds.

[2019-10-16 14:22] BostjanBozic opened #23979 "Upgrade 3.11 CNI to v0.3.x"
Applying `istio-cni` CNI plugin does not work with latest `3.11` release, as it was not backported (PR became stale).

##### Version
[code]

##### Steps To Reproduce
1. Install `istio-cni` via helm templating (https://github.com/istio/cni):
[code]
2. Run Istio with `istio_cni=true` parameter
3. Try to run deployment without `anyuid` and `privileged` scc attached to `serviceAccount`

##### Current

[2019-10-16 15:02] enj commented on #17257
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:02] enj commented on #15121
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:02] enj commented on #15120
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:02] enj commented on #15011
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:02] enj commented on #14989
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:03] enj commented on #14854
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:03] enj commented on #14524
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:04] enj commented on #13156
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:04] enj commented on #12206
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:04] enj commented on #10386
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:04] enj commented on #9994
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:05] enj commented on #4851
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 15:05] enj commented on #4306
/unassign

@stlaz @sttts @mfojtik

[2019-10-16 16:13] amorozov87 commented on #19488
@suomiy how did you do it. I try to install origin-node-3.10 package and it requires docker-1.13.1 as s dependency which conflicts with docker-ce.

[2019-10-17 11:22] cgruver commented on #23881
Good catch!  I was having similar issues with a newly deployed OKD 3.11 cluster.  An older cluster is working fine.  After comparing the two, your notes matched up.  The older cluster uses a provisioner type of "gluster.org/glusterblock".  I suspect a bug was introduced into the Ansible playbooks, or an Ansible version upgrade has broken logic in the playbooks that is deprecated.

[2019-10-17 11:32] cgruver commented on #23881
This may be it right here:

openshift-ansible/roles/openshift_storage_glusterfs/templates/gluster-block-storageclass.yml.j2

You will see that it sets "provisioner: gluster.org/glusterblock-{{ glusterfs_namespace }}".  I suspect that this should really be "provisioner: gluster.org/glusterblock"

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: glusterfs-{{ glusterfs_name }}-b

[2019-10-17 11:44] cgruver commented on #23881
This change was introduced on Aug. 28 to address this:

https://bugzilla.redhat.com/show_bug.cgi?id=1738394

So, we may be missing some additional context?  Perhaps there's a necessary change to the provisioner itself to indicate which namespace it is in.

At this point, I am suspecting that the glusterblock-provisioner container image is not properly consuming the parameter: PROVISIONER_NAME from

[2019-10-17 11:54] cgruver commented on #23881
Also look here:

https://github.com/kubernetes-incubator/external-storage/issues/1168

The provisioner was modified to use the PROVISIONER_NAME provided in the environment.

This functionality is either still not working, or we ended up with older container images that still have the bug.

[2019-10-17 20:43] #22871 closed

[2019-10-17 23:16] mikecarr commented on #21420
Is this system just buggy? At one point I had everything running and working properly, I was deploying apps and was able to connect to the apps. One I shut it down I can no longer bring it back up, same issue as above.

[2019-10-18 02:44] #22876 closed

[2019-10-18 02:44] #22873 closed

[2019-10-18 02:44] #22877 closed

[2019-10-18 02:44] #22878 closed

[2019-10-18 10:09] cgruver commented on #23881
The containers currently in quay.io or docker hub are older than the code changes to the Ansible role for Gluster install.  There also appear to be some lingering issues with the glusterblock-provisioner code.  It looks like it has "gluster.org/glusterblock" set as a global constant for the provisioner name, but does not replace that constant everywhere with the environment variable.

I'm testing

[2019-10-18 10:37] cgruver commented on #23881
I have a fix working in my OKD 3.11 cluster.  The repo at "https://github.com/kubernetes-incubator/external-storage" is marked as deprecated, so I don't know if anyone will answer a pull request.  However, you can get the fix from here: "https://github.com/cgruver/external-storage".

You will need to build a local instance of the `glusterblock-provisioner` container image and push it to your regis

[2019-10-18 11:15] ajaysimha opened #23985 "Latest CRC Installer does fails to run"
[provide a description of the issue]
When I start CRC I get an error "Error getting bundle metadata: xz: data is truncated or corrupt"
##### Version
[asimha@asimha-fedora crc-linux-1.0.0-rc.0-amd64]$ crc version
version: 1.0.0-rc.0+34371d3
OpenShift version: 4.2.0-0.nightly-2019-09-26-192831 (embedded in binary)

##### Steps To Reproduce
Download and install CRC on Fedora 30.
Download pull-secret.

[2019-10-18 11:50] praveenkumar commented on #23985
@ajaysimha did you verified the sha256sum of the downloaded binary, this looks like you have corrupted binary. sha256sum available https://mirror.openshift.com/pub/openshift-v4/clients/crc/latest/sha256sum.txt here.

[2019-10-18 11:50] praveenkumar commented on #23985
@ajaysimha Also this is `crc` issue not the `openshift/orgin` one so better to create it https://github.com/code-ready/crc/issues

[2019-10-18 11:51] praveenkumar commented on #23985
/assign @praveenkumar

[2019-10-18 12:54] fvaleri commented on #18125
The cleanup procedure from @pyates86 works fine with minishift `v1.34.1+c2ff9cb` (oc `v3.11.0+0cbc58b`), but you need to be `cluster-admin` and do the following JSON replacements:

- `"kind": "Project"` --> `"kind": "Namespace"`
- `v1` --> `project.openshift.io/v1`

[2019-10-18 14:46] #22880 closed

[2019-10-18 16:08] fasho commented on #16763
Is this idea still in works?

[2019-10-18 19:14] mcandre opened #23986 "Make image pull backoff exponential"
In order to reduce strain on image repository.

[2019-10-18 20:00] alagappan-al commented on #22249
Got same issue, @jita2016 did you resolved this issue?

[2019-10-18 20:47] #21708 closed

[2019-10-18 20:47] #22881 closed

[2019-10-19 15:09] vboulaye commented on #18932
I also spent hours trying to get an image from private registries (github then gitlab), until I found this thread.
I just added a new secret for `gitlab.com` (I already had one for `registry.gitlab.com`) and now the image gets pulled and deployed.
This is quite frustrating but now I am able to try out openshift a bit further!
Thanks.

[2019-10-20 12:25] jkroepke opened #23993 "CVE-2019-11253 on DockerHub"
Hi,

are the fixes from https://github.com/openshift/origin/pull/23948 available in OKD as prebuild image on dockerhub?

[2019-10-20 14:52] #22868 closed

[2019-10-20 14:52] #22891 closed

[2019-10-20 20:54] #22895 closed

[2019-10-21 02:53] #21703 closed

[2019-10-21 07:56] jota2016 commented on #22249
Hi all,
In my case the problem seemed to be related to the compilation used. A simple update solved the issue.

[2019-10-21 08:55] #22900 closed

[2019-10-21 13:37] svenstaro commented on #21316
/remove-lifecycle stale

On Sat, Oct 19, 2019, 10:53 OpenShift Bot <notifications@github.com> wrote:

[2019-10-21 16:21] b1zzu commented on #20846
I'm facing the same issue, did someone found a workaround for it?

[2019-10-21 23:29] Miciah commented on #23937
@mhofstetter, can you post the corresponding endpoints resource and the pod spec, and verify that the service is working?  I don't understand how the service can be working if the pod does not have a port named "default".

[2019-10-22 15:03] mhofstetter commented on #23937
hi @Miciah

the goal is not that the pod doesn't have a port named `default`. the issue is that the current implementation of the Ingress -> Route reconciliation (which creates OpenShift Routes for each Kubernetes Ingress) expects that the name of the port on the `Service` and on the `Pod` needs to be the same - otherwise the created `Route` isn't valid. and that shouldn't be the case.

[2019-10-22 21:11] derkoe commented on #23937
This only happens when the Service references the Pod port via name (as in the example above with `default`) and the Service port name is different from the Pod port name (or the Service port name is not set).

So, there are tow workarounds:
1. Use the numeric port value of the Pod port in the Services's `targetPort`
2. Use the same name in the Service and Pod port spec

The fix in https://github.

[2019-10-23 07:50] tsmaeder commented on #23369
/remove-lifecycle stale

[2019-10-23 14:15] iamhariram opened #24007 "pods evacuating if primary master is restart"
[provide a description of the issue]
we have a 3 master for openshift origin . I am observe a issue that when I restarted my primary master. other nodes like compute and infra are going to not ready state . this is resulting in pod evacuation from nodes .
##### Version
[provide output of the `openshift version` or `oc version` command]
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Bas

[2019-10-24 03:32] bsquizz commented on #18932
For anyone else that winds up here due to image pull issues when running a build that is based on an ImageStream tied to a private repo -- I struggled getting a builder pod to be able to pull from a private repo because I had only linked the secret to builder with `--for=pull`. I could import the image to an ImageStream just fine but the build would fail with the error:
[code]

Once I linked with

[2019-10-24 06:17] akram commented on #19351
Hi @greg-pendlebury and @jmrodri  ,
@waveywaves and I (@akram) are maintaining the Jenkins images and templates for OpenShift, and we got another issue raised by a customer related to this thread.

Indeed, it is catching my eye that many issues related to this talk about Jenkins. So, we want to investigate more on our side also.
@greg-pendlebury you wrote previously that jenkins-ephemeral and jenk

[2019-10-24 14:13] chirino opened #24020 "Idle CRC install has high CPU usage"
See https://github.com/code-ready/crc/issues/707 for more details.

[2019-10-24 18:17] vtlrazin commented on #18125
for OCP 4.1 working with
"kind": "Project" --> "kind": "Namespace"
apiVersion: "project.openshift.io/v1" -->apiVersion: "v1"

[2019-10-25 00:12] greg-pendlebury commented on #19351
Hi @akram,

The uid 'issue' was a red herring. I just incorrectly eyeballed two uids that were extremely similar:
`oc edit template jenkins-ephemeral -n openshift` => `uid: a4c43696-a208-11e9-a166-000d3ad2a02b`
`oc edit template jenkins-ephemeral -n openshift` => `uid: a4c73ce4-a208-11e9-a166-000d3ad2a02b`

Definitely wasn't talking about anything that qould correlate back to file permissions.

[2019-10-25 13:22] Reamer commented on #21508
/remove-lifecycle stale

[2019-10-25 15:13] rarguello commented on #23881
Another workaround: Revert this commit (openshift-ansible):

https://github.com/openshift/openshift-ansible/commit/3f19e9b7c1f399f84443f4b4087f32c716b4628d#diff-2d2e8abc086610e44d88bbb4810b6acd

[2019-10-25 16:49] mcandre opened #24030 "CronJob's not appearing in Other Resources menu dropdown"
[code]

[2019-10-26 14:10] mohamedhagag commented on #20263
/remove-lifecycle stale

[2019-10-26 14:11] mohamedhagag commented on #20263
can we have an update ?

[2019-10-26 21:55] #22917 closed

[2019-10-26 21:57] markusdd commented on #23499
/remove-lifecycle stale

[2019-10-27 04:53] #22955 closed

[2019-10-27 10:29] hostingnuggets commented on #21382
/remove-lifecycle stale

[2019-10-28 18:17] MaiHameed opened #24035 "Minishift not notarized to run on macOS Catalina"
The new Mac update Catalina, requires apps to be notarized, and thus the minishift CLI stopped working for me. I tried reinstalling using `brew cask reinstall minishift`, but same error occurred.

![image](https://user-images.githubusercontent.com/26514093/67705523-88a91c80-f98d-11e9-85cc-da9da4b6c5d0.png)

It occurs whenever I try running any minishift command. Is there a temporary workaround for

[2019-10-28 18:24] MaiHameed commented on #24035
Nevermind, temporarily disabled gatekeeper using `sudo spctl --master-disable`, everything works fine.

[2019-10-28 20:58] jorge-romero commented on #23495
Did hoy have any luck with this problem? I have the same problem running it on vmware in my w10 desktop.

[2019-10-28 21:33] accorvin commented on #23495
Nope, I have not solved this yet.

[2019-10-29 12:42] ilkka opened #24044 "Incorrect checksum for CHECKSUM file"
It seems that the checksum for the CHECKSUM file, in the CHECKSUM file, for at least release 3.11.0 is incorrect. Just tried downloading the file in an Ubuntu 18.04 container and `sha256sum CHECKSUM` gives me de4f3c4761cade3cc6b472d64978ac9cd0993a4652b59fd98f61f20f610b3deb, while the content of the CHECKSUM file lists it as e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.

##### V

[2019-10-29 22:00] magick93 commented on #23303
This was a case of having an expired session.

`oc login` fixed the problem.

[2019-10-29 22:00] #23303 closed

[2019-10-29 22:59] #21811 closed

[2019-10-30 03:22] mkumatag commented on #23385
All the mentioned PR are merged, hence closing this task now

[2019-10-30 03:22] #23385 closed

[2019-10-30 08:56] yami12376 opened #24054 "Order of instruction to install OKD on Windows does not make sense"
https://docs.okd.io/latest/minishift/getting-started/preparing-to-install.html

First step before installation of minishift requires:
https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html

But hey, i have not installed it yet, cause it is in step number three.
So i get:

[code]

[2019-10-30 09:09] yami12376 opened #24055 "Insufficient privleage after loging out and logging back in and adding to hyper-v admin group"
Regarding https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#insufficient-privileges

I get:

And see the screen that i am member of `Hyper-V` group:
https://imgur.com/a/p8plU3t

As mentioned i logged out  and logged back in. Opened brand new PowerShell session  as admin but the output is the same.

Windows 10 here.

Bypassing the issue with:

[2019-10-30 12:08] #23393 closed

[2019-10-30 14:45] gaurs commented on #20726
/remove-lifecycle stale

[2019-10-31 01:29] apastel commented on #18125
@vtlrazin Thanks your comment helped when the original suggestion was giving me
"the API version in the data (project.openshift.io/v1) does not match the expected API version (v1)"

[2019-10-31 07:47] rblaine95 opened #24060 "OpenAPI spec marking optional v1.Route fields as required"
When using Helm v3-rc.1, which includes OpenAPI validation before executing an install or upgrade, Route objects fail if they're missing optional fields (such as `spec.host`, `status`, `spec.to.weight`).

After raising on the Helm Github (https://github.com/helm/helm/issues/6830), I was pointed to the [OKD v3.11 OpenAPI](https://raw.githubusercontent.com/openshift/origin/v3.11.0/api/swagger-spec/o

[2019-10-31 23:05] #23009 closed

[2019-10-31 23:05] #23010 closed

[2019-11-01 05:53] mkumatag opened #24068 "[Feature:ImageExtract] Image extract should extract content from an image [Suite:openshift/conformance/parallel] fails on ppc64le platform"
[provide a description of the issue]

##### Version
[code]
##### Steps To Reproduce
1. Build openshift-tests
2. Run `_output/local/bin/linux/ppc64le/openshift-tests run-test "[Feature:ImageExtract] Image extract should extract content from an image [Suite:openshift/conformance/parallel]"`

##### Current Result
[code]
##### Expected Result
Test is suppose to pass

##### Additional Information
The t

[2019-11-01 05:54] mkumatag commented on #24068
/assign

[2019-11-01 09:14] shinebayar-g commented on #23188
This is no brainer, they don't wanna release open source version for community. :P

[2019-11-01 10:14] sapkra commented on #23188
They have to wait until Fedora CoreOS is stable and have to adapt the docs and installer scripts I guess.

The Fedora release is scheduled for late 2019.

[2019-11-01 12:58] aneagoe commented on #23188
As per https://blog.openshift.com/introducing-red-hat-openshift-4-2-developers-get-an-expanded-and-improved-toolbox (section "Note for community users of OKD") RedHat has actively started working on releasing OKD 4.x. Even more information can be found on the forum: https://groups.google.com/forum/#!forum/okd-wg
However, it is somewhat frustrating to have to go out of your way to understand the cu

[2019-11-01 17:07] #23016 closed

[2019-11-02 23:29] DatHT commented on #21420
after I added it, but still have error.

Error: timed out waiting for the condition

[2019-11-03 05:11] #23048 closed

[2019-11-03 17:17] mkumatag opened #24079 "[Feature:OAuthServer] tests fails with Waiting for the OAuth server route to be ready: x509: certificate signed by unknown authority error"
[provide a description of the issue]

##### Version
[code]

##### Steps To Reproduce
1. Run `[Feature:OAuthServer]` tests

##### Current Result
currently, tests are getting timeout error with x509: certificate signed by unknown authority
[code]

##### Expected Result
Tests should pass
##### Additional Information
Tests are failing because of https request without proper CA bundle attached with the

[2019-11-03 17:17] mkumatag commented on #24079
/assign

[2019-11-03 23:12] #23062 closed

[2019-11-04 05:13] #22725 closed

[2019-11-04 05:13] #23038 closed

[2019-11-04 10:03] pierreprinetti opened #24080 "Provide information on the release cycle"
I struggle finding authoritative information on the release cycle phases for the OpenShift project.

Providing contextual and punctual information on this project management could be an additional display of openness to contribution.

In particular:
- list the phases (e.g. freezes) with their approximative timing and scope
- add a **Feature Freeze definition**
- add a **Code Freeze definition**
-

[2019-11-04 17:15] #22901 closed

[2019-11-04 19:52] tcharette opened #24086 "ovs/sdn pods won't spawn on new node"
Description
Node had bad formatting, re-imaged it and now when doing a scaleup, it fails at 'Waiting for node to be ready' because the network pods never spawn on the host. I'm using default sdn networking.

I have 3 identical hosts that are working.

In the openshift-sdn event viewer, I see this error:

[code]

I never modified the sdn/ovs daemonset, so I'm not sure what's going on here.

Only th

[2019-11-04 21:54] tcharette commented on #24086
Turns out the imagestream tag for the openshift-sdn namespace was missing

Manually creating this object:
https://github.com/openshift/openshift-ansible/blob/release-3.11/roles/openshift_sdn/files/sdn-images.yaml

Resolved the issue

[2019-11-04 21:54] #24086 closed

[2019-11-05 11:18] h-vetinari commented on #23188
Fedora CoreOs has an associated github [project](https://github.com/orgs/coreos/projects/84) that gives an overview over the open issues. Late 2019 seems ambituous IMO, but maybe the tracker is not fully representative / up to date.

Also, a roadmap for OKD was merged in openshift/community#55 about a week ago.

[2019-11-05 13:50] mkumatag opened #24091 "Umbrella Issue: Build openshift test images for multi-arch"
This task is to work with respect to build/publish container images required for openshift tests to work on multi-arch platforms(ppc64e, s390x)

- [ ] docker.io/mrogers950/origin-openldap-test:fedora29  - https://github.com/openshift/openldap.git
- [ ] docker.io/openshift/test-build-simples2i:latest - https://github.com/openshift/build-test-images/tree/master/simples2i
- [ ] docker.io/openshift/te

[2019-11-05 13:50] mkumatag commented on #24091
/assign

[2019-11-05 21:08] mcandre opened #24097 "Dead link for alert documentation"
The first few Google results for OpenShift alert documentation point to https://docs.openshift.com/online/dev_guide/notifications.html , which is now a dead link.

Please help Google point results to the right link, such as by redirecting from this URL to a valid one.

[2019-11-05 23:21] #24068 closed

[2019-11-06 09:26] trumbaut commented on #18125
Similar issue and workaround described at https://access.redhat.com/solutions/4165791.

[2019-11-06 16:24] perelengo commented on #21645
/remove-lifecycle stale
Still happens to me.

[2019-11-06 22:28] akostadinov commented on #1753
How does one do this for v4.x cluster?

[2019-11-06 22:33] bparees commented on #1753
@akostadinov https://github.com/openshift/origin/issues/1753#issuecomment-377929424

[2019-11-07 08:12] stlaz commented on #24079
Are you using the adminconfig you get from the installer?

[2019-11-07 08:22] mkumatag commented on #24079
yes

[2019-11-07 13:16] mkumatag commented on #24079
Mad bad! kubeconfig from auth folder is copied before completing the installation which usually will not have the router-ca added, hence closing this issue. -Thanks.

[2019-11-07 13:16] #24079 closed

[2019-11-07 16:27] mcandre opened #24106 "TimezonedCronJob"
Unfortunately, Kubernetes implicitly executes CronJob's against master timezone, with no parameter for disambiguation.

https://github.com/kubernetes/kubernetes/issues/47202

Users are often surprised by master timezone, expecting local time, UTC, etc., when in fact their master configuration may be wildly different. Daylight savings can cause jobs to run at different periods over the course of th

[2019-11-07 19:04] Gl4di4torRr opened #24110 "Deployment Quota Scope: Feature"
# Deployment Scope Feature

When running a centralized OpenShift in a large organization, right-sizing the applications is very key to success. There are multiple levels to right-size an application. One level is at the namespace quota level.

Per the [Resources quotas per project](https://docs.openshift.com/container-platform/4.2/applications/quotas/quotas-setting-per-project.html#quotas-scopes_q

[2019-11-08 05:24] #22815 closed

[2019-11-08 13:56] rblaine95 commented on #24060
This is causing a blocker for using any Helm version `>=v3.beta-5`, including the recent `RC` versions and any future versions of Helm v3 (at least until Helm v3.1.0 which will allow you to disable OpenAPI Validation https://github.com/helm/helm/pull/6819)

[2019-11-08 21:55] mcandre opened #24120 "git clone fails with submodules when more than one source secret is involved"
BuildConfig's don't provide a clear mechanism for cloning version control repositories when multiple source secrets are required. For example, when the main repository uses one SSH deploy key and the main repo depends on a secondary git module repository with a different SSH deploy key.

I tried listing out keys:

[code]

I tried explicitly linking these secrets to the builder and to the default O

[2019-11-08 23:26] #23129 closed

[2019-11-10 09:57] shulinwz commented on #23188
Com'on guys, it's been over a year since the last stable release of OKD...

[2019-11-10 10:45] ricardo-aspira commented on #23188
I have just migrated to Rancher.

On Sun, Nov 10, 2019, 6:58 AM shulinwz <notifications@github.com> wrote:

[2019-11-10 12:35] gaetanquentin commented on #21253
go away openshift-bot! we are still waiting for the solution!

[2019-11-10 13:34] shinebayar-g commented on #23188
@ricardo-aspira when I move to Rancher I miss Openshift's "PaaS" feeling. Rancher is more like vanilla kubernetes. But good project tho.

[2019-11-10 23:16] jboxman commented on #21253
@gaetanquentin, if you aren't tied to OCP 3.x, you can use CodeReady Containers[0] instead. I switched to using it on my Mac and it's working fine.

[0] https://github.com/code-ready/crc

[2019-11-11 04:28] rajputvishwas opened #24122 "Not able to start cluster"
Hi,
I am using openshift origin and it was working fine until last Friday.  When I issue command to start the cluster it fails.

[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

Docker version
---------------
Client: Docker Engine - Community
 Version:           19.03.4
 API version:       1.40
 Go version:        go1.12.10
 G

[2019-11-11 17:37] #23173 closed

[2019-11-11 20:03] adambkaplan commented on #24120
I believe we only support one source clone secret.

See https://docs.okd.io/3.11/dev_guide/builds/build_inputs.html#manual-addition-of-a-source-secret-to-a-build-configuration

[2019-11-11 20:04] adambkaplan commented on #24120
@openshift/openshift-team-developer-experience

[2019-11-11 23:41] akostadinov commented on #1753
I later found doc about adding registries with custom CAs [1] and it works.

It will be useful to have ability to add CAs without linking to specific registry in the case one has multiple repos with same trusted CA that is not present in standard operating system CAs.

The document you list sounds like manually editing node file system. But in 4.x nodes are managed by OpenShift. Is it for 3.x? Or

[2019-11-12 01:46] bparees commented on #1753
you're correct, those were 3.x docs, i should have double checked the link.  For 4.x there's this (what i think you were linking to above) which as you note requires a specific entry for each registry:
https://docs.openshift.com/container-platform/4.2/registry/configuring-registry-operator.html#registry-operator-config-resources-configmap_configuring-registry-operator

and also this for configurin

[2019-11-12 07:53] magic-chenyang opened #24132 "Can origin run on the mips64el architecture?"
I want to run origin on the mips64el architecture，but I didn't find a suitable image for mips64el in DockerHub。
I've built origin-source on mips64el architecture。Now，I try to build origin-base image，but centos-release-ceph-luminous didn`t install on it。
So，what should I do？

[2019-11-12 09:49] slaterx commented on #17025
For any 3.11 users (like myself), executing this leads to pod startup failure with error "Readiness probe failed: HTTP probe failed with statuscode: 401".

In that case, you also need to update the readiness check to the old metrics:

`oc patch dc router -p '"spec": {"template": {"spec": {"containers": [{"name": "router","readinessProbe": {"httpGet": {"path": "healthz"}}}]}}}'`

[2019-11-12 12:31] s1hofmann commented on #18932
We also encountered problems when trying to pull a private builder image from Dockerhub, which is why I'm here.
Our setup works fine on a 3.7 cluster, but fails on 3.10 and 3.11.
We did find a solution, however, I do have questions why our setup actually works.

First of all, our OpenShift Version:

[code]

We're setting up the following resources (which works perfectly on 3.7):

[code]

Unfortuna

[2019-11-12 13:44] szEvEz commented on #23223
Are there any updates regarding this issue?

[2019-11-13 01:13] naveen0111 opened #24139 "Unable to resolve Openshift service name from another container (docker)"
##### Version
-bash-4.2# oc version
oc v3.10.0+52f8df2-159
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://osmaster-1.mydomain.com:8443
openshift v3.10.0+52f8df2-159
kubernetes v1.10.0+b81c8f8
-bash-4.2#

##### Steps To Reproduce
-bash-4.2# oc get all default  -o wide | grep busybox
pod/busybox-846f897fbc-mktwh    1/1       Running            0          7h

[2019-11-13 03:27] jnach commented on #22725
/remove-lifecycle rotten

[2019-11-13 08:36] CermakM commented on #21668
Hello! Any update on this? Still hitting this issue.

[2019-11-13 12:18] Ask149 opened #24141 "Expose actuator endpoints on Intermediate generated URL"
I am working on developing a Spring Boot Admin based Monitoring Service.

I have two data centers, and inorder to connect the services ( pods ) in it, I need to provide health actuator endpoints individually for each of the services in each data centers, and not provide the one in the load balancer.

So, I need to expose the actuator endpoints for each of the services ( pods ).

[2019-11-13 17:43] #21898 closed

[2019-11-13 20:50] Chive commented on #18698
Any chance we can get this reopened and looked at? We're also experiencing this quite frequently and can reproduce it by using @aliscott's method described above.

**Version**
OpenShift Master: v3.11.141
Kubernetes Master: v1.11.0+d4cacc0

[2019-11-14 10:02] jarielpa opened #24151 "Dockerfile build in OpenShift 4 fails but succeeds with docker"
[provide a description of the issue]
Building https://github.com/sonatype/docker-nexus/tree/master/oss  from Dockerifle fails

##### Version
Client Version: v4.2.5
Server Version: 4.2.2
Kubernetes Version: v1.14.6+868bc38

##### Steps To Reproduce
1. Create Docker fbuild from e.g.
  git url: https://github.com/sonatype/docker-nexus.git
  context dir: /oss
2. Start build

##### Current Result
Cloni

[2019-11-14 13:22] rblaine95 commented on #24060
Now that Helm v3.0.0 has been tagged and [released](https://github.com/helm/helm/releases/tag/v3.0.0), this bug is preventing anyone using OKD from upgrading to Helm 3.

[2019-11-14 15:11] dmarkdvt opened #24153 "Missing API /apis/metrics.k8s.io/v1beta1/pods"
Hello, I want to get some metrics into Zenoss via the Kubernetes API /apis/metrics.k8s.io/v1beta1/pods. This URL is not available even with openshift_hosted_metrics_deploy=true and installed via Ansible. AFAIK this is the only option to handle metrics with OKD openshift Kubernetes.

##### Version
openshift v3.11.0+bd0bee4-337
kubernetes v1.11.0+d4cacc0

##### Steps To Reproduce
[code]

##### Curre

[2019-11-14 16:23] jarrpa commented on #24151
Wrong tag, I believe. :)

[2019-11-14 16:58] jarielpa commented on #24151
Perhaps Dockerfile is wrong.. but as docker has been replaced with CRI-O OS 4, I thought this could be something to check.
$ docker version
Client: Docker Engine - Community
 Version:           19.03.4
 API version:       1.40
 Go version:        go1.12.10
 Git commit:        9013bf5
 Built:             Thu Oct 17 23:44:48 2019

[2019-11-14 17:30] jarielpa opened #24156 "Developer UI Add From Git complains about invalid URL"
UI Git Repo URL accepts only http or https urls without port number.
Even ssh://git@git.p... is not accepted

##### Version
Client Version: v4.2.5
Server Version: 4.2.2
Kubernetes Version: v1.14.6+868bc38

##### Steps To Reproduce
1. Add+ -> From Git,  Add value to GIt Repo URL form field
2. add any git http(s) that has port number
3. add any ssh git url

##### Current Result

##### Expected Resul

[2019-11-14 17:48] #21330 closed

[2019-11-14 23:48] #20295 closed

[2019-11-14 23:48] #21893 closed

[2019-11-15 01:35] davidshepard989 commented on #23223
I'm having a similar issue - I think it's due to no backends being defined in the haproxy [config](https://github.com/openshift/router/blob/master/images/router/haproxy/conf/haproxy-config.template#L354)

[2019-11-15 09:25] mkumatag opened #24158 "[Feature:DeploymentConfig] deploymentconfigs with minimum ready seconds set fails with "watch closed unexpectedly" error"
[provide a description of the issue]

##### Version
[code]
##### Steps To Reproduce
[code]

##### Current Result

[code]
Complete test result: https://gist.github.com/mkumatag/8b6ccb3e62d72236626953575da58c26
##### Expected Result
Test should pass

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to bui

[2019-11-15 19:32] jomeier opened #24162 "Could someone release a new version 3.11.x ?"
Dear developers,

the last release of OKD in the 3.x series occured over a year ago. The first OKD 4 release will - hopefully - be released next year.

Wouldn't it be a great idea, if someone would release (regular?) version 3.11.x because since last year so much bugfixes and backports have been commited to this project. It would be far easier to live with patched 3.11.x releases until the first O

[2019-11-15 19:51] TomSweeneyRedHat commented on #24151
@redhatdan @nalind FYI

[2019-11-15 19:51] TomSweeneyRedHat commented on #24151
I'll try @rhatdan this time, might work better.

[2019-11-15 21:35] jomeier commented on #24162
I just had a chat with @vrutkovs, @dani_c and @claytonc at slack on the openshift-dev channel.

It seems as if OKD is a rolling distro. Because every commit is built with their CI system and tested, we can use the artifacts (also RPMs) and the Docker Images from quay to get updates also for version 3.11.

I'm so happy to hear that. Cheers to the community and thank you for this great software !

J

[2019-11-15 21:35] #24162 closed

[2019-11-15 23:50] #23158 closed

[2019-11-15 23:50] #22846 closed

[2019-11-16 06:43] patlachance commented on #17311
@DanilaSobolev use **'oc patch ...'** instead, example:

[code]

[2019-11-16 10:07] BostjanBozic commented on #23499
I am experiencing exactly the same issue, version `openshift v3.11.0+62803d0-1`.

Been digging around the issue, but so far the only thing I found is what you mentioned - half of the system goes down for no apparent reason.
In our case what happens at the same time that pods are actually not rescheduled on this node, but are kept in error state (we are using `cri-o` underneath, though it might hav

[2019-11-16 17:53] #23209 closed

[2019-11-16 23:54] #23213 closed

[2019-11-16 23:54] #23214 closed

[2019-11-17 11:31] Exordian commented on #17013
/remove-lifecycle rotten

[2019-11-17 13:57] ZeeFiix commented on #21423
We also are looking in our company for such a possibility

/remove-lifecycle rotten

[2019-11-17 13:59] ZeeFiix commented on #21423
/reopen

[2019-11-17 14:03] ZeeFiix commented on #18958
@phemmer Why you have closed it ?
It's still not possible to use it in this way

[2019-11-17 14:44] Exordian commented on #23364
/remove-lifecycle stal

[2019-11-17 14:44] Exordian commented on #23364
/remove-lifecycle stale

[2019-11-17 17:13] phemmer commented on #18958
Because this is more of a kubernetes problem than openshift. The corresponding kubernetes issue can be found here: https://github.com/kubernetes/kubernetes/issues/56582#issuecomment-545636707

[2019-11-17 17:58] #23216 closed

[2019-11-17 18:05] devops-42 commented on #20474
/remove-lifecycle stale

[2019-11-18 08:58] trumbaut commented on #21508
We have this issue too:

- Using OCP v3.11.146 (Kubernetes v1.11.0+d4cacc0).
- After enabling `importPolicy.scheduled: true` for some imagestreams.
- These imagestreams are pointing to registry.redhat.io.
- They are correctly being synchronized.
- They produce a `KubeAPILatencyHigh` alert in Prometheus (`The API server has a 99th percentile latency of 7.826666666666666 seconds for POST imagestream

[2019-11-18 09:41] suomiy commented on #19488
@amorozov87

rolling release distro

[2019-11-18 19:22] CermakM commented on #24060
There are IMHO more resources with fields that shouldn't be marked as required, for example:

[code]
or
[code]

[2019-11-19 00:00] #23240 closed

[2019-11-19 08:52] freeeflyer opened #24170 "Is 3.11 the last version of Origin/OKD ?"
Openshift commercial continues to be regularly updated, but Origin/OKD stays stuck to the 3.11 version since more that one year.
I know it's a community based product, so I'm not blaming anyone, I'm just asking for infos.
Will there be a release 4.x and so on ?

[2019-11-19 08:55] freeeflyer opened #24171 "Router fails to start after deploying a fresh install of a 3.11 OKD cluster"
After a fresh install of a 3.11 cluster the router does not start..

All I have as a diagnosis stuff is that :
[code]

When it is trying to launch the actual router pod the only thing I have is that:
[code]

For reference here is the diagnostic output : [oc_adm_diagnostics.txt](https://github.com/openshift/origin/files/3862808/oc_adm_diagnostics.txt)

And my inventory file: [inventory.txt](https:/

[2019-11-19 11:26] aqib3990 opened #24172 "Router is not working on multiple ports"
Hi,

I am using free trial account of Openshift cloud for learning perpouse.

I have deployed activemq image and i have created two routes
1. for  web gui on 8161
2. for stomp on 61613.

I can access web gui on 8161 .

but when i am trying to connect via stomp, it is giving me below error:

![image](https://user-images.githubusercontent.com/57070831/69142745-75e9b980-0aed-11ea-8b38-d214d278437a.pn

[2019-11-19 18:12] cmoulliard commented on #23644
Can we have please an update ?

[2019-11-20 11:16] trumbaut commented on #21508
For your reference: the same issue is being described at [Red Hat Bugzilla - Bug 1670380 - Alertmanager triggers error when updating the image](https://bugzilla.redhat.com/show_bug.cgi?id=1670380).

[2019-11-20 12:03] JaroslavMajera commented on #24170
It's not the last version of OKD. I don't know if its officially released/annouced but there is a first preview of 4.3 in https://github.com/openshift/okd.

[2019-11-20 13:19] skorunka commented on #11046
Hello, I'm trying to host Seq on OpenShift
PODs are  dying with: `/run.sh: line 37: /bin/seq-server/Seq: Permission denied`

I think it has something to do with @bparees response.

Unfortunately, I don't know how to run CHMOD as part of SEQ startup and what directory it should change permission to. Did anyone was successfull with hosting Seq on OpenShift?

[2019-11-20 14:01] hegde-codes commented on #21715
I tried updating label via https://docs.openshift.com/container-platform/3.11/rest_api/api/v1.Namespace.html

I have set the headers right and the token has admin access to the project which I want to add label.

My request body is
{
    "kind": "projects",
    "apiVersion": "v1",
    "metadata": {
        "labels": {
            "test-label":"test"
        }
    }
}

 But I am constantly getting

[2019-11-20 14:18] jixuju opened #24179 "openshift router metrics are gauge but counter"
When using openshift version 3.9, relevant metrics are normal, but after upgrading to 3.11, we found that some metrics information is growing, which looks like counter, however, in the notes, the type is guage, for example：
[code]
By view the code change, it is found that there is this code in [`[8f0119b]`](https://github.com/openshift/origin/commit/8f0119bdd9c3b679cdfdf2962143435a95e08eae#diff-58

[2019-11-20 20:16] jomeier commented on #24170
Some of the core binaries of OKD v3.11 still are built through Openshift‘s CI and can be found online if you know where. But its nothing „official“. The RPMs are neither signed nor published in the Repos.

Some Docker images are up to two years old. You must patch them with „yum update“ to get them through the security scanner. Some images are built every hour.

I wish there would be an intermedia

[2019-11-21 19:43] nccurry commented on #24060
I opened a bugzilla for this:
https://bugzilla.redhat.com/show_bug.cgi?id=1773682

[2019-11-22 18:02] fabstao commented on #23840
Same issue here with CentOS 7:

[code]

[2019-11-23 13:30] ameagol commented on #21156
**Just follow that, the only effective approach**

- As ROOT let resolve.conf changeable.
`chattr -ai /etc/resolv.conf`

- Edit it
`vi /etc/resolv.conf` 

- Add those on search entry

`search cluster.local default.svc.cluster.local svc.cluster.local cluster.local default.svc`

- Activate it
`systemctl restart NetworkManager`

[2019-11-23 13:33] ameagol commented on #22599
As ROOT let resolv.conf editable.
`chattr -ai /etc/resolv.conf`

Edit it
`vi /etc/resolv.conf`

Add those on search entry
`search cluster.local default.svc.cluster.local svc.cluster.local cluster.local default.svc`

Activate it
`systemctl restart NetworkManager`

[2019-11-23 18:13] #22600 closed

[2019-11-25 00:16] #23291 closed

[2019-11-25 00:16] #23292 closed

[2019-11-25 07:17] pJaideep commented on #24141
I am having a similar requirement, could anyone please comment at the earliest

[2019-11-25 08:19] DanielChuDC commented on #16395
same here when using rhel 7.6. Any updates?

[2019-11-25 09:07] freeeflyer commented on #24171
Anyone ?

[2019-11-25 10:21] h-vetinari commented on #23188
Some movement with https://github.com/openshift/origin/commit/8189ff86d2478d3701c3aa0e7486de7db07ec2ad (pointing to new OKD info [repo](https://github.com/openshift/okd)), first preview release [here](https://github.com/openshift/okd/releases)...

OKD4 github project [here](https://github.com/orgs/openshift/projects/1).

[2019-11-25 11:13] tinytongolai commented on #21774
What is the status of this potential issue ? i am not attaching any logs.... as i do have the same behavior.... Thanks..

[2019-11-25 11:21] biels commented on #20263
Facing this same issue. Any updates?

[2019-11-25 14:23] franckgr commented on #23032
/reopen

[2019-11-25 14:41] Andrei-Stepanov commented on #24060
Got the the similar error:

[code]

[2019-11-25 16:18] scniro commented on #24060
same, any update?

[2019-11-26 00:19] #21953 closed

[2019-11-26 09:29] jomeier opened #24215 "Set different MTU for docker interfaces if hosts are in VLAN"
Hi,

I created a OKD4 cluster on Hetzner with Proxmox. The cluster consists of two servers which are combined in a vSwitch (VLAN).

Hetzner recommends to lower the MTU of each tagged interface to 1400.

I sshed into the masters and workers of OKD 4 and checked the interfaces with ip addr.

The docker0 interface still has a MTU of 1500.

Doesn't it conflict with the host NIC MTU of 1400? Can I conf

[2019-11-26 09:56] denikaryadi-2606 commented on #21560
Hi Bro.. This issue same as with my problem.
Openshift cannot import-image for nexus repository, the sintax is
_oc import-image nexus-coba:3.5 --from=192.168.250.250:8083/node-nexus --confirm_
error: tag latest failed: Internal error occurred: Get https://192.168.250.250:8083/v2/: x509: certificate signed by unknown authority
imagestream.image.openshift.io/nexus-coba imported with errors
This Solu

[2019-11-26 15:45] tcharette opened #24220 "Missing step on migration from ovs-subnet to ovs-multitenant in documentation"
Hey everyone,

This is purely a documentation request, as I've found the problem.

I followed this to migrate an existing cluster  from ovs-subnet to ovs-multitenant.
https://docs.okd.io/3.11/install_config/configuring_sdn.html#migrating-between-sdn-plugins

Everything worked great! However, in the cluster console, my node view kept timing out. Also, my graphs weren't populating. I assumed I had t

[2019-11-27 01:10] mvdelaluz commented on #20653
For me, these solved my issue:

subscription-manager repos --enable="rhel-7-server-rpms" --enable="rhel-7-server-extras-rpms" --enable="rhel-7-server-ansible-2.6-rpms" --enable="rhel-7-server-ose-3.11-rpms" --enable="rh-gluster-3-client-for-rhel-7-server-rpms";

then; yum update; systemctl reboot; and run again prerequisities.yml

Good Luck!

[2019-11-27 15:11] bszeti opened #24231 "oc cli - oc set probe skips query parameters"
Trying to set readiness/liveness probe with oc command line:
oc set probe dc/myapp --readiness --get-url='http://:8080/health?param=1&param=2'

Query parameters are ignored.
A workaround is to urlencode '?'. This works:
oc set probe dc/myapp --readiness --get-url='http://:8080/health%3Fparam=1&param=2'

##### Version
Client Version: v4.3.0
Server Version: 4.2.2
Kubernetes Version: v1.14.6+868bc38

[2019-11-28 03:23] Peterchenhc opened #24235 "origin 3.11 redeploy node certificates error .the oc client don‘t get pod logs/terminal etc. error message: Error from server: error dialing backend: x509: certificate signed by unknown authority"
Issue:
origin 3.11 redeploy node  certificates error .the oc client don‘t get pod logs/terminal etc. error message: Error from server: error dialing backend: x509: certificate signed by unknown authority
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]
1. [step 1]
ansible-playbook  /usr/share/ansible/openshift-ansible/pl

[2019-11-28 09:01] BostjanBozic commented on #23499
What happened in our case in the end was extremely high CPU utilization on particular worker node. This in the end causes `cri-o` to fail, which due to bug sends SIGTERM to all processes in root namespace:

`Correct, cri-o should not be sending SIGKILL to all root namespace processes. This was treated as a high severity bug and has already been addressed in an updated version of cri-o. cri-o-1.11.

[2019-11-28 11:34] josemdiaza commented on #7182
Thanks 💃

[2019-11-28 11:35] josemdiaza commented on #7182
Thanks 💃

[2019-11-28 18:26] #23305 closed

[2019-11-29 00:27] #23312 closed

[2019-11-29 06:04] warmchang commented on #23188
[OKD 4.x]: first preview drop
https://lists.openshift.redhat.com/openshift-archives/dev/2019-November/msg00005.html
https://mobile.twitter.com/smarterclayton/status/1196477646885965824

[2019-12-01 22:19] benscottub opened #24242 "origin-node service crashing on 3.11 - "failed to run Kubelet: cannot create certificate signing request: Unauthorized""
All of our control plane and worker nodes have suddenly gone into Not Ready state. I believe this is
 due to an internal certificate expiring and causing the kubelets to shut down on each host. The error message in journalctl (from one of the control plane servers) is as follows:

Dec 01 17:08:42 osm1.acsu.buffalo.edu origin-node[57436]: E1201 17:08:42.224397   57436 bootstrap.go:195] Part of the

[2019-12-02 10:00] praiskup commented on #22147
This is first-hit when googling;  what's the way to do this?

[2019-12-02 12:44] omnibrain commented on #22216
/reopen

Having the same problem

[2019-12-02 14:00] ingvagabund opened #24247 "Not every pod in the vanilla openshift installation set cpu resource request"
Pod's resource request is very important information for a scheduler. It's evaluated in predicate phase to find all nodes with sufficient resources left for the pod to run. Vanilla OpenShift cluster runs a lot of core pods which are necessary for its proper functionality. In CI environment, worker nodes have "just" enough resources to run all the core pods. There are many ways how to distribute ne

[2019-12-02 14:11] ingvagabund commented on #24247
`kube-rbac-proxy` container does not set cpu resource request

@bison

`machine-controller` container does not set cpu resource request

`kube-rbac-proxy` container does not set cpu resource request

@enxebre

[2019-12-02 14:12] huang-cn commented on #24179
We're experiencing exact same issue in our environment, we're using the metric `haproxy_server_http_average_response_latency_milliseconds`, but it seems the value gradually increasing overtime.
 in our case, a simple html page which only takes less than 10ms to load, the latency begin with 7ms and now the `haproxy_server_http_average_response_latency_milliseconds` is increasing to 13,000+ ms, the

[2019-12-02 14:22] ingvagabund commented on #24247
kube-rbac-proxy container does not set cpu resource request

@runcom

[2019-12-02 14:29] ingvagabund commented on #24247
`alertmanager-proxy` container does not set cpu resource request

`grafana-proxy` container does not set cpu resource request

`node-exporter` container does not set cpu resource request

`thanos-sidecar` container does not set cpu resource request

`telemeter-client` and `reload` containers do not set cpu resource request

@paulfantom

[2019-12-02 14:32] ingvagabund commented on #24247
`scheduler` container does not set cpu resource request

`kube-scheduler-operator-container` container does not set cpu resource request

@damemi :P

[2019-12-02 14:34] ingvagabund commented on #24247
`operator` container does not set cpu resource request

@jboyd01

[2019-12-02 15:28] rhatdan commented on #22147
Doesn't https://cri-o.io cover this?
https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md

[2019-12-03 00:39] #22276 closed

[2019-12-03 18:49] FabianWilms commented on #23643
/remove-lifecycle stale

[2019-12-05 10:25] hppanja commented on #21774
I have this issue as well, and tried many possible solutions. I am on Windows with oc running in Centos7 Virtualbox. Looks like this is impossible for the moment, until a newer release, hopefully.

[2019-12-05 15:31] Reamer commented on #20194
/remove-lifecycle stale
Can not reproduce this with okd 4.3. I'll let this issue open, because okd 4.3 is still in alpha and I have okd 3.11 in production.

[2019-12-06 07:10] gkarthiks commented on #16769
It would be nice to have this capability in-build with the openshift router.

[2019-12-06 07:10] gkarthiks commented on #16769
/reopen

[2019-12-06 08:02] Asgoret commented on #20617
Same issue in full OKD installation 3.11.156-1. In my case, etcd can't connect to each other due connection refused, but I do the same playbook several times and all was good.

[2019-12-06 12:50] #23330 closed

[2019-12-06 18:00] scniro commented on #24060
FWIW I was able to move forward by stubbing out a junk `status` object

[code]

[2019-12-07 18:23] cdjohnson commented on #23680
It appears that `oc image mirror` doesn't support the Mac osx keychain credential store either.

A workaround is to do the following:
1.  Edit the `~/.docker/config.json` file
2.  Remove the line with `credStore`

This will force docker to store the credentials directly in the `config.json` file which is NOT secure.

[2019-12-09 06:57] #23344 closed

[2019-12-09 12:59] #22541 closed

[2019-12-09 14:41] guimou opened #24268 "oc logs not working with label selector (kubectl working)"
When fetching logs using oc with labels, an error is thrown, whereas it works well with kubctl.

##### Version
oc version
Client Version: openshift-clients-4.2.2-201910250432
Server Version: 4.2.4
Kubernetes Version: v1.14.6+dc8862c

##### Steps To Reproduce
1. oc logs -l serving.knative.dev/service=logevents -c user-container -n event-display -f => error
2. kubectl logs -l serving.knative.dev/ser

[2019-12-10 07:03] #23374 closed

[2019-12-10 07:44] ybrock commented on #24156
I confirm,
if you try to add a Git Repo URL with either : a port number (:port) or a user  (gituser@server), Openshift complains about the validity of the URL with "Invalid Git URL".

To be able to use our internal Bitbucket server with Openshift, I need to be able to use URL like this :

ssh://git@git.domain.net:7999/dci/docker-sftp.git
https://git.domain.net:8443/scm/dci/docker-sftp.git

[2019-12-10 07:56] llomgui commented on #24153
Hello,

I have the same issue. I would like to set autoscaler.
Unfortunately, "pods.metrics.k8s.io" is not available.

Version:
openshift v3.11.0+f6acaf1-349
kubernetes v1.11.0+d4cacc0

[2019-12-10 09:58] dmarkdvt commented on #24153
In the meantime try this.

[code]

[2019-12-10 13:02] #23375 closed

[2019-12-13 13:52] dalejrodriguez commented on #21420
I am having the same issue as well.

[2019-12-13 19:14] #23386 closed

[2019-12-13 19:14] #23388 closed

[2019-12-13 19:14] #23258 closed

[2019-12-13 20:25] dividebyzero commented on #21466
/reopen
/remove-lifecycle rotten

[2019-12-13 20:28] dividebyzero commented on #21466
I ended up here as this **is**  a problem, especially if running spring boot that uses the dot syntax excessively.

[2019-12-13 21:28] jam01 commented on #21466
/reopen
/remove-lifecycle rotten

[2019-12-13 21:30] jam01 commented on #21466
Hey @dividebyzero I ended up putting my project on the shelf so I have not been following this issue. Feel free to add any more details if you think it'd help.

[2019-12-15 02:09] mmacfadden commented on #24170
What's the relationship between this repo and the new OKD repo?

[2019-12-16 09:53] #23394 closed

[2019-12-16 09:53] #23423 closed

[2019-12-16 11:48] rajputvishwas opened #24307 "not able to deploy pod with new configuration"
Hi I have deploy prometheus and fluentbit on all in one okd cluster. I want to send fluentbit metrics to prometheus.

I have configure my Fluentbit-config's output section using.

[OUTPUT]
    Name            prometheus
    Match           *
    Host            172.17.0.14
    Port            9090

 I am able to produce prometheus metrics from fluentbit endpoints.

http://fluent-bit-myproject.10.6

[2019-12-16 18:25] infinitewarp commented on #18596
/remove-lifecycle rotten

[2019-12-17 09:33] didona opened #24310 "oc cluster up only working with sudo"
`oc cluster up` does not work without sudo priviledges.

##### Version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Run `oc cluster up` as a regular user

##### Current Result
Getting a Docker client ...
Checking if image openshift/origin-control-plane:v3.11 is available ...
Creating shared mount directory on the remote host

[2019-12-17 15:14] Gladskih commented on #20759
/reopen

[2019-12-17 23:18] mdditt2000 commented on #19084
Restarted docker

[root@ose-3-11-master openshift-3-11]# oc cluster up
Getting a Docker client ...
Checking if image registry.redhat.io/openshift3/ose-control-plane:v3.11 is available ...
Checking type of volume mount ...
Determining server IP ...
Checking if OpenShift is already running ...
Checking for supported Docker version (=>1.22) ...
Checking if insecured registry is configured properly in

[2019-12-18 00:34] treilly1969 opened #24317 "BuildConfig not always pulling image from external registry"
[provide a description of the issue]

BuildConfig Docker Strategy settings seem to be ignored.

##### Version
[provide output of the `openshift version` or `oc version` command]

oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth

Server https://openshift.infra.xxxx:443
openshift v3.11.0+d0c29df-98
kubernetes v1.11.0+d4cacc0

##### Steps To Reproduce
1. We have a BuildConfig that c

[2019-12-18 19:38] marcd0801 commented on #23364
I never wanted this in my routers or phones or tables. I really need to sue
you openshift or open source and what it who ever stole my accounts and
corrupted all my electronics with root access and stealing my private
information.

Who do I contact to get this garbage off my computers phones tablets and
even my tv. So going to take this to the authorities. You people are
probably part of the whole

[2019-12-19 08:02] Reamer commented on #20311
/lifecycle frozen
/remove-lifecycle stale

[2019-12-19 08:06] jfcoz commented on #22353
Issue is still present

/remove-lifecycle stale

[2019-12-19 12:56] xingxingxia commented on #24268
https://bugzilla.redhat.com/show_bug.cgi?id=1774366

[2019-12-19 14:06] xingxingxia commented on #24231
The cause seems to be from "net/url" package per https://github.com/openshift/oc/blob/913a2b5/pkg/cli/set/probe.go#L221-L238 :
[code]
[code]
/assign @soltysh

[2019-12-20 04:05] #23449 closed

[2019-12-20 04:05] #22125 closed

[2019-12-20 04:05] #4211 closed

[2019-12-20 22:09] #23456 closed

[2019-12-21 00:16] lordbentner opened #24342 "The build pod was killed due to an out of memory condition."
Hi , i tried to build a golang github project in the console-openshift-console but it give me
this error when i click to star build : The build pod was killed due to an out of memory condition.

I tried also to install the client-go github but i have some errors
Thank you

[2019-12-21 04:09] #23459 closed

[2019-12-23 16:20] #23464 closed

[2019-12-23 16:23] Gl4di4torRr opened #24345 "Allow server to parse empty strings"
### Version
4.2

##### Steps To Reproduce
1. Template I pulled from the docs and removed some of the values

[code]

2.  `oc process -f fulllimitrange.yaml `
This will return valid json

3.
[code]

##### Expected Result

The server should see the empty strings and omit those from the structure.

##### Additional Information
There are a number of tools that are trying to solve for this problem. If

[2019-12-25 07:08] teamdefinex commented on #19905
/remove-lifecycle stale

[2019-12-25 07:14] teamdefinex commented on #19905
"The imperative replace command replaces the existing spec with the newly provided one, dropping all changes to the object missing from the configuration file. This approach should not be used with resource types whose specs are updated independently of the configuration file."
It is not an alternative for apply.
We are still having the same issue.

[2019-12-25 10:25] #23498 closed

[2019-12-25 16:26] #23032 closed

[2019-12-26 04:28] #23325 closed

[2019-12-27 16:35] #23507 closed

[2019-12-27 22:35] #23506 closed

[2019-12-29 04:40] #23510 closed

[2019-12-29 13:16] bsquizz commented on #23869
/remove-lifecycle stale

On Wed, Dec 25, 2019, 5:27 PM OpenShift Bot <notifications@github.com>
wrote:

[2019-12-29 14:26] lambotchi opened #24355 "How to debug a non-working authorization webhook mode config?"
Trying to debug why authorization webhook mode (for open policy agent) seems not to be working, can't even see logs in the audit

##### Version
v3.9.0+2e78773-56

##### Steps To Reproduce
  1. install minishift and virtualbox
  2. `minishift config set vm-driver virtualbox`
  3. `minishift config set openshift-version v3.9.0`
  4. oc login -u system:admin
  5. oc new-project demo
  6. oc label ns

[2019-12-29 22:07] devops-42 commented on #20986
/remove-lifecycle stale

[2019-12-30 15:12] devopstales commented on #22789
/remove-lifecycle stale
/lifecycle frozen

[2019-12-30 15:19] nandor-poka commented on #24310
Does docker in general work for you as normal user? If your user is not in the docker group docker will not work.

[2019-12-31 04:47] #23539 closed

[2019-12-31 04:47] #23540 closed

[2019-12-31 04:47] #23541 closed

[2019-12-31 04:47] #23542 closed

[2019-12-31 04:47] #21230 closed

[2019-12-31 21:19] gWOLF3 commented on #6265
I can confirm that this is still an issue. The actual behavior does not match the expected, and doesn't make sense. If we define a targetPort: <name>, that should match to a containerPort name on the pod.

[2019-12-31 21:19] gWOLF3 commented on #6265
/bump

[2020-01-01 08:35] yuvalk opened #24356 "Running with SchedulingDisabled masters leave a pending pod after test RequestHeaders IdP"
https://github.com/openshift/origin/blob/ae96064ab640c9e2206b28472f17163fefad022b/test/extended/oauth/requestheaders.go#L93

test fails and:
$ oc get pod -n openshift-authentication
NAME                               READY   STATUS    RESTARTS   AGE
oauth-openshift-65848b9c46-2g9z2   1/1     Running   0          17h
oauth-openshift-65848b9c46-jl8h7   1/1     Running   0          17h
oauth-openshif

[2020-01-02 16:57] #23547 closed

[2020-01-02 17:50] hexfusion commented on #20311
/assign

[2020-01-03 05:13] yasassri opened #24360 "Unable to create native Threads in OCP containers"
In OCP 4.2 we are unable to create many native threads.

##### Version
4.2

### Steps To Reproduce
1. Create a container with JDK and execute the following java class.
[code]
2. The container will hit the process limit after creating arond 1000 Threads.

### Description

Recently we were getting the following exception in one of our Containers which was running a Java application. This container u

[2020-01-03 12:10] syzmekk commented on #23883
/remove-lifecycle stale
/lifecycle frozen

[2020-01-03 13:30] nasirhm commented on #21420
I'm facing the Same Problem while running `minishift start`
Error:
`I0103 13:20:27.344142    2549 interface.go:41] Finished installing "kube-proxy" "kube-dns" "openshift-service-cert-signer-operator" "openshift-apiserver"
`
`
Error: timed out waiting for the condition
`

[2020-01-03 20:04] murphye commented on #21246
For those that may still care about running 3.11 on a Mac, I can confirm that https://github.com/Maistra/origin/releases is a workaround for this problem. It does **not** seem to have the error documented here, but is using 3.11 images for **oc cluster up**.

However, I had problems getting authentication working with **registry.redhat.io** to pull down images. You will not be able to deploy any o

[2020-01-03 22:17] nasirhm commented on #21420
Guy's If any ones Facing this Problem, It's a Internet Connection Problem, Kindly Go into `minishift ssh` and manually run what comman you're failing with.
Try to restart it by :
 `minishift stop` then `minishift start`
it would solve half the Problems.

Good Luck With Minishift

[2020-01-03 23:02] #23561 closed

[2020-01-04 11:03] #21774 closed

[2020-01-05 05:06] #23554 closed

[2020-01-05 23:09] #22892 closed

[2020-01-06 09:16] Alveel commented on #23926
/close

[2020-01-06 09:16] #23926 closed

[2020-01-06 21:50] adambkaplan commented on #24342
Not an issue.

Check the memory limits on the pod that ran the build - depending on your environment the project can set default resource limits for builds that can be exhausted quickly.

[2020-01-06 21:50] #24342 closed

[2020-01-06 22:00] adambkaplan commented on #24345
@Gl4di4torRr Does `oc apply` work if the objects with empty values are removed?

[2020-01-06 23:13] #23583 closed

[2020-01-07 06:22] JohanNordlinder commented on #22538
/remove-lifecycle rotten

[2020-01-07 18:16] ammarzia opened #24372 "Can't export resources and use them in different namespaces using get --export."
If I backup a resource in a namespace using `$ oc get --export` and then apply it to a different namespace, I get the following error:

`error: the namespace from the provided object "dev" does not match the namespace "prod". You must pass '--namespace=dev' to perform this operation.`

`$ oc get --export` exported the `dev` namespace which means I can only apply it in that namespace. I can't apply

[2020-01-08 09:14] rajputvishwas opened #24375 "oc cluster up fails with unexpected EOF"
[provide a description of the issue]
I want to setup all in one OKD (3.11) cluster on ubuntu hosted on AWS instance. I did this earlier as well I came across strange error

##### Version
[provide output of the `openshift version` or `oc version` command]

root@CapstoneNode-Test-new1:~/okd# oc version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### S

[2020-01-08 11:18] rajputvishwas opened #24376 "oc cluster fails with multiple errors"
[provide a description of the issue]
I want to setup OKD (3.11) on ubuntu platform using oc client. Each time oc cluster up command fails with different set of errors.

##### Version
[provide output of the `openshift version` or `oc version` command]
oc version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
root@CapstoneNode-Test

[2020-01-08 13:06] tamalsaha opened #24377 "How to enable DynamicProvisioningScheduling feature gate in 3.11 ?"
I am creating OpenShift cluster on GitHub actions using `oc cluster up --skip-registry-check=true`. I want to enable the DynamicProvisioningScheduling feature gate so that I can install rancher/local-path-provisioner to dynamically provision PVCs.

I was able to get this working using Kind on Github actions for 1.11. https://github.com/tamalsaha/k8s-111-local-path-demo/blob/master/hack/kubernetes/

[2020-01-08 13:50] dajester2013 commented on #21280
using --insecure-registry is not a solution.  there needs to be a simple way **from the web console** to add a CA for a private registry

[2020-01-08 20:32] timbrd commented on #24377
Here you can find the documentation on how to configure the cluster: https://github.com/openshift/origin/blob/release-3.11/docs/cluster_up_down.md#configuration

If you initalize the cluster with ```oc cluster up --skip-registry-check=true --write-config=true```, it generates all the necessary config files:

[code]

You can find the master-config.yaml file in the directory ```/root/openshift.local

[2020-01-08 21:19] Gl4di4torRr commented on #24345
@adambkaplan `oc apply` will work if I remove the objects with empty values.

 For instance, if I use this object where I removed the empty values.

[code]

However, this does not solve my problem. In our current environment, we have over 10 OpenShift clusters. In the sandbox environment, I want to supply a min, max, default, etc. for a LimitRange. In the higher environments (INT, PROD), I do NOT

[2020-01-09 09:04] philipp1992 opened #24379 "oc adm drain node is stuck"
We are using oc adm drain <node> within our patching and automation processes.
It often happens, that the oc adm drain command does not return, exit or fail, which resulsts in a stuck ansible playbook for example.
It seems, that this is caused by pods, that cant be terminated. Even with --force and grace-period=0

Example of a command, that does not exit within 5 minutes:

[xxx@master-0 ~]$ oc adm

[2020-01-09 11:34] tamalsaha commented on #24377
@timbrd , I tried your command and found that scheduler was not getting this flag. So, I added this flag to scheduler and controller-manager and built my own oc binary and tried.
https://github.com/kmodules/origin/commit/085aea1165c49c0e3bb7fe3876856e942087ff3c

Now, I see that PVC get the `volume.alpha.kubernetes.io/selected-node` annotation from scheduler. But it is still missing the `volume.bet

[2020-01-09 17:19] 86rishab commented on #23495
I am facing same issue?

[2020-01-09 17:23] #23589 closed

[2020-01-09 21:37] timbrd commented on #24377
@tamalsaha Sorry, I can't help you with that. I don't have any insight into the openshift code.

Are you sure, Red Hat is shipping the DynamicProvisioningingSchedule feature with OpenShift 3.11? It's actually not listed in the [feature list.](https://docs.openshift.com/container-platform/3.11/admin_guide/disabling_features.html#admin-guide-list-feature-gates).

[2020-01-10 02:26] tamalsaha commented on #24377
@jsafrane , I wonder if you have why the dynamic volume provisioning is not working with OpenShift 3.11 .

[2020-01-10 02:28] tamalsaha commented on #24377
@timbrd , It is the `DynamicVolumeProvisioning` feature. Since I was able to get it wroking on k8s 1.11, I would think that it will work on Openshift 3.11 .

[2020-01-10 05:04] reddybhavaniprasad opened #24383 "Springboot application in one pod not able to connect to mongodb on another pod deployed through Openshift"
I am trying to deploy mongodb pods (1 Primary & 2 Secondary) in OpenShift, they got deployed but went to "Error" state with the following error,

	exception in initAndListen: IllegalOperation: Attempted to create a lock file on a read-only directory: /data/db, terminating

The mongo pods are up and running successfully after the issue of following adm policy after switching to mongo project in ope

[2020-01-10 05:31] #21253 closed

[2020-01-10 10:21] Lakshmi-devgit opened #24384 "Connection refused error while connecting to exposed MongoDB service using curl or from remote location"
My basic requirement is I have to access mongodb which is installed in one cluster from a mean application which is installed on another cluster/host/remote location

How could I do that ? these are the following steps I used to deploy mongodb and created external IP address

Openshift version : 4.2

Steps:
1) deployed mongodb with persistent storage in openshift server
     $ oc new-app --templat

[2020-01-10 11:37] Gerrit-K commented on #6914
@ErikLundJensen there are several reasons, some of which are:
* You don't want to pay for a second domain
* You are not authorized to create subdomains
* You don't want to hassle with CORS errors

The example @marouim gave is in fact a common configuration.

@eparis since this issue is assigned to you, could you please give a statement whether this is possible by now and - if not - reopen this iss

[2020-01-10 11:50] Gerrit-K commented on #20474
I've now seen @marouim 's request at least three times here and two of the issues were closed due to inactivity. I don't understand why this happened, as path rewriting is a quite common thing in web servers.
@ironcladlou can anyone of the openshift team please give a statement on this? Even if it isn't planned in the far future?

[2020-01-10 12:30] MisterMX opened #24385 "oc login password input is visible on Windows/msys/git bash"
When using the `oc login` command the password input is visible on the console.

This happens when using git bash on Windows. The password is hidden when logging in with Windows Powershell.

##### Version

Openshift version:
[code]

Git bash version:
[code]

##### Steps To Reproduce
1. Open new console window
2. Login to openshift cluster using `oc login`

##### Current Result
When typing in the p

[2020-01-10 14:13] ironcladlou commented on #20474
IMO it's highly unlikely we're going to expand the Route API in this way. At this point I think we'd actually like to deprecate Route entirely and start converging with the upstream around the proposed Kubernetes [Ingress V2 API](https://github.com/kubernetes-sigs/service-apis). You'll find that the rewriting use case is already accounted for there.

I'd recommend becoming familiar with the upstre

[2020-01-10 17:05] Gerrit-K commented on #20474
Thank you for the quick and detailed response. The plan to converge to upstream is good news!

[2020-01-10 17:18] ironcladlou commented on #20474
I've been thinking about this some more.

The beta v1 Ingress API doesn't support rewriting, but users are loudly encouraged to use vendor annotations. It's clearly useful and we wouldn't be out of alignment with what's being actually used today in the community.

If we have a reasonable confidence of a lossless migration to Ingress v2, what other major risks are there to adding this API?

cc @fro