[2017-12-01 08:12] gbraad commented on #17525
Originally they weren't published on Github as can be seen here: https://github.com/openshift/origin/issues/17527#issuecomment-348102372 Since they have been published for the 3.7.0 release at: https://github.com/openshift/origin/releases/tag/v3.7.0 this issue can be closed. Thanks

[2017-12-01 08:36] surajssd commented on #17168
Yes anyone looking at this issue?

cc: @mfojtik

Also another question on top of it, when is the OpenAPI specification for OpenShift being released?

[2017-12-01 09:13] miminar commented on #17238
@helletheone can you elaborate? Do you use artifactory as well?

[2017-12-01 09:20] dernasherbrezon commented on #17441
Run the command with ```--loglevel=8```:
[code]

Took almost 1 sec to fail.

Is it possible to change cache directory without changing windows profile location?

[2017-12-01 11:51] exquisitus commented on #17447
Sorry, I think you are right that this is intended behaviour and I was confused.

I have seen an Alertmanager web interface e.g. here: https://thenewstack.io/contributing-prometheus-history-alertmanager/ . But the example prometheus.yaml does not try to expose that in a service or route.

What it exposes instead as "alerts" route is (port 9099, behind a proxy on port 9443) the alert-buffer API, an

[2017-12-01 11:59] soltysh commented on #17416
Fixed in #17417.

[2017-12-01 11:59] #17416 closed

[2017-12-01 12:52] spadgett opened #17552 "Image stream status tags no longer sorted newest first"
The web console relies on the server sorting the image stream status tags according to semver so that we can show the newest first in the UI. The tags no longer seem to be sorted in that order.

See

https://github.com/openshift/origin-web-catalog/issues/573
https://github.com/openshift/origin-web-console/pull/302

##### Version
oc v3.8.0-alpha.0+24cf6b7-321
kubernetes v1.8.1+0d5291c
features: Bas

[2017-12-01 14:07] deads2k commented on #17446
We should remove the categories from the /oapi endpoints.  `kubectl` won't ever use them and old clients won't be using the category expander code at all, so we'll be fine.

[2017-12-01 15:07] gbraad commented on #17525
In light of the comment: https://github.com/minishift/minishift/issues/1775#issuecomment-348516242 I rather re-open the issue.

[2017-12-01 15:13] lcarva commented on #15646
I saw this after upgrading from 3.5 to 3.6 in a rhel 7.4 vagrant box. Changing the deployment strategy from `Rolling` to `Recreate` in deployment config for router fixed the issue.

[code]

[2017-12-01 15:16] miminar commented on #17552
Why is it a responsibility of master API to return an array which is actually a serialized map (inherently unsorted) sorted?

This functionality isn't documented anywhere. It's the client's responsibility to sort items according to its liking - different client may have different sorting preferences and master shouldn't care.

[2017-12-01 15:34] smarterclayton commented on #17495
And we're broken again, going to have to strip out more

[2017-12-01 15:43] smarterclayton commented on #17524
@openshift/sig-pod

[2017-12-01 16:00] dustymabe opened #17554 "oc adm drain: add `--selector` and `--pod-selector`"
`oc adm manage-node --evacuate` is now deprecated but there was some functionality there that is missing in the new drain command. Particularly `--selector` and `--pod-selector`. The `--pod-selector` on `evacuate` allowed me to workaround https://github.com/openshift/origin/issues/17522. See https://github.com/openshift/origin/issues/17522#issuecomment-348017506:

[code]

[2017-12-01 16:05] polaru commented on #16688
@hundt : what is 172.30.0.1? The IP of the node where the pod is running?

[2017-12-01 16:06] spadgett commented on #17552
It was a change made to fix this bug:

https://bugzilla.redhat.com/show_bug.cgi?id=1325069
https://github.com/openshift/origin/pull/9606

We used to sort on the client. I believe it was changed to the server so we could get proper semver sorting since we don't have a client library for that.

[2017-12-01 16:06] spadgett commented on #17552
@jwforres

[2017-12-01 16:09] bparees opened #17555 "unable to get logs for a pod"
In this failure:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/2014/#featurebuildstiming-capture-build-stages-and-durations-should-record-build-stages-and-durations-for-docker-suiteopenshiftconformanceparallel

we see that the pod exists:
[code]

It appears to have run two init containers and the main container is running.

Yet pod lo

[2017-12-01 16:17] sjenning opened #17556 "[k8s.io] Projected should update annotations/labels tests flaking"
Projected labels/annotations are not being updated within the 2m timeout

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17357/test_pull_request_origin_extended_conformance_install/3306/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17543/test_pull_request_origin_extended_conformance_install/3315/

@smarterclayton

[2017-12-01 16:28] hundt commented on #16688
@polaru It is the service IP for the kubernetes master service:
[code]

[2017-12-01 16:39] raffian commented on #17524
@smarterclayton  broken link?

[2017-12-01 16:40] juanwolf opened #17558 "Docker Registry v3.7.0: Deployment fails using S3 in eu-west-2 region"
We recently upgraded our cluster to the new version of openshift (v3.7.0), everything was fine until I tried to upgrade manually the docker registry. I incremented the deployment configuration to the new version, but the new pods were continuously crashing.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://my.master.internal:8

[2017-12-01 17:03] smarterclayton commented on #17524
No, I'm assigning the appropriate team.

[2017-12-01 17:17] smarterclayton commented on #17494
This is really bad.  Combined sdn_pod_setup and sdn_pod_teardown account for almost 1/5 of ALL of our metrics.  Bumping this to p1, i'd like to see cardinality reduced to per node and then we can add later.  That means removing all the labels for pods.

[2017-12-01 17:21] smarterclayton commented on #17494
I'm unfortunately going to have to block this metric in starter until it gets fixed.

[2017-12-01 17:30] dcbw commented on #17494
@smarterclayton this should be fixed in https://github.com/openshift/origin/pull/17250 which was being held for 3.9

[2017-12-01 17:46] stevekuznetsov opened #17559 "TestTriggerController unit test is racy"
as seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_check/2077/

[code]

/cc @mfojtik @deads2k
/assign @smarterclayton

[2017-12-01 17:50] stevekuznetsov opened #17560 "jUnit Report Segfaults"
Started seeing this on the branch builds 100% from https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_check/2084/

[code]

/cc @smarterclayton @liggitt
Have we changed the `os::cmd` output or parser in... forever? How is this happening only on branch builds and not on PRs?

[2017-12-01 17:52] smarterclayton commented on #17494
Thanks, will disable for 3.7 and when we get a new version deployed remind me and i'll remove the filter

[2017-12-01 18:05] shadycuz commented on #9241
Have same issue, what is the work around? I don't think I can remove search from my resolv.conf

[2017-12-01 18:17] Karthikeyashastry commented on #16529
@gamkiller77 Could you help me out by indicating how ingress load balancer can be set up  ?

[2017-12-01 18:34] gamkiller77 commented on #16529
@Karthikeyashastry not sure how to private message in GIT but hit me up and i try and help.

[2017-12-01 18:49] sjenning commented on #17318
@aveshagarwal PTAL

[2017-12-01 18:59] sjenning commented on #17298
@DirectXMan12 PTAL

[2017-12-01 18:59] sjenning commented on #17190
@vikaschoudhary16 PTAL

[2017-12-01 18:59] sjenning commented on #17180
@ravisantoshgudimetla PTAL

[2017-12-01 18:59] sjenning commented on #16832
@frobware PTAL

[2017-12-01 19:00] sjenning commented on #16746
@ingvagabund PTAL

[2017-12-01 19:00] sjenning commented on #16662
@aveshagarwal PTAL

[2017-12-01 19:00] sjenning commented on #16407
@joelsmith PTAL

[2017-12-01 19:00] sjenning commented on #16245
@DirectXMan12 PTAL

[2017-12-01 19:00] sjenning commented on #16211
@vikaschoudhary16 PTAL

[2017-12-01 19:04] sjenning commented on #15092
@ravisantoshgudimetla PTAL

[2017-12-01 19:04] sjenning commented on #15079
@frobware PTAL

[2017-12-01 19:04] sjenning commented on #15024
@ingvagabund PTAL

[2017-12-01 19:04] sjenning commented on #14920
@aveshagarwal PTAL

[2017-12-01 19:04] sjenning commented on #14266
@joelsmith PTAL

[2017-12-01 19:05] sjenning commented on #13852
@DirectXMan12 PTAL

[2017-12-01 19:05] sjenning commented on #10357
@vikaschoudhary16 PTAL

[2017-12-01 19:54] dustymabe opened #17563 "oc adm drain no longer handles BuildControllers"
Older versions of `oc adm drain` binary handled BuildControllers just fine. Seems like after it was upstreamed into k8s [it no longer does](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/drain.go#L331)

[code]

<details><summary>Version:</summary>

[code]
</details>

[2017-12-01 20:02] juanvallejo commented on #17563
cc @fabianofranz @smarterclayton @deads2k

[2017-12-01 20:24] jmrodri commented on #17531
I'm seeing this timeout issue
[code]

I'm using the following version:
[code]

[2017-12-01 20:34] jmrodri commented on #17201
+1 I'm trying to start it with `oc cluster up --service-catalog=true` and it is failing. Yet not quite sure how to debug it.

[2017-12-01 20:40] rareddy commented on #15038
I upgraded from F25 -> F26 got into the same issue, @runcom solution seems to be working. Thanks.

[2017-12-01 20:44] jmrodri commented on #17531
Here's the full output I'm seeing.

[code]

[2017-12-01 21:16] DirectXMan12 commented on #13852
please confirm that you can `docker pull` that image normally as well.  If you can, can you check to see if the issue occurs with Docker 1.10, as suggested by @sjenning ?

[2017-12-01 21:19] DirectXMan12 commented on #16245
as @pweil- mentioned, I'd check to make sure Docker is actually functioning properly, since it sounds like there are underlying system issues with the Docker daemon going on

[2017-12-01 21:39] deads2k commented on #17563
@juanvallejo drain really shouldn't care what controller is dealing with a particular pod.

[2017-12-01 21:41] smarterclayton commented on #17563
Wow, that's fail.

[2017-12-01 22:05] juanvallejo commented on #17563
Per a brief discussion with @smarterclayton and David's feedback in https://github.com/kubernetes/kubernetes/pull/56713#discussion_r154458010:
- `drain` should be updated to not care about the existence of a controller (only care if a pod is managed by one)
- Pods should have an annotation / label that drain can use to decide if a pod is safe to delete or not
- PodFilters belong in a factory

[2017-12-01 22:48] smarterclayton commented on #14920
I thought this was fixed in 3.7

On Fri, Dec 1, 2017 at 2:04 PM, Seth Jennings <notifications@github.com>
wrote:

[2017-12-01 22:53] juanvallejo commented on #17522
An immediate workaround for draining a node with pods managed by a DaemonSet that also have local storage, is to use both the `--ignore-daemonsets` and `--delete-local-data` flags. Having both flags causes the command to succeed, and will in fact leave any daemonset-managed pods (and their storage) intact, as those are never deleted by the `drain` command.

[2017-12-02 04:09] sjenning commented on #14920
Very true, fixed by https://github.com/openshift/origin/pull/16419 and pulled in on the rebase for 3.8.  Nothing to see here!

[2017-12-02 04:09] #14920 closed

[2017-12-02 04:10] shadycuz commented on #9241
Just some more details. I'm launching my Openshift Cluster using the AWS quickstart. When I don't specify DHCP options. My `/etc/resolv.conf` looks like this
[code]
And the Cluster is fine.

When I do turn on DHCP options to point to my personal DNS server. My `resolv.conf` looks like this
[code]
The actual hosts have DNS as I can ssh in and clone a git repo but it appears the contains do not.

![

[2017-12-02 04:10] shadycuz commented on #9241
@danmcp @knobunc ^ Bump =)

[2017-12-02 05:59] eliu commented on #17551
I figured it out by specifying `openshift_repos_enable_testing=true` in ansible inventory file.
This issue is related to #17199 and the respected solution refers to as follows:

[https://github.com/openshift/origin/issues/17199#issuecomment-342494842]()

[2017-12-02 05:59] #17551 closed

[2017-12-02 09:48] hygl commented on #17317
There is still no origin-ansible image for v3.7.0 https://hub.docker.com/r/openshift/origin-ansible/tags/

[2017-12-02 14:27] fisache commented on #17505
@abstractj
Thanks for your help.

I'm testing on my pc (keycloak port : 8543, origin port : 8443)

the oc log seems to be refused by firewall, but firewall is stopped or using another port?

- Keycloak version
**3.4.0.Final**

- Keycloak log files
Look like nothing relative to this problem(server.log, audit.log).

- OC log files
[code]

- oc mater-config.yaml
[code]

- realm JSON file
https://gist

[2017-12-03 19:23] antaka1 opened #17567 "Build stuck on pending for hours"
I am trying to do the most basic stuff. I've created a new application using Tomcat and tried to build and deployed the application ( Spring Boot application) from GitHub ( public repo ).

##### Version
openshift v3.6.173.0.5
Servet https://api.starter-us-west-1.openshift.com:443

##### Steps To Reproduce
1. Create new app with Tomcat and add git url

##### Current Result
Build is stuck on pending

[2017-12-04 02:27] wanghaoran1988 commented on #17505
@fisache
I'd more prefer this is a keycloak setup problem, I write a simple step by step doc about how to setup a keycloak server and integrated with openshift, you can have a look.
https://uptoknow.github.io/post/openshift-with-keycloak-openid/

Hope this can help you

[2017-12-04 02:27] yangpeng14 commented on #17318
I've found the reason for this, because the fluentd service mounts the container log directory (/var/log/containers /), because the fluentd service USES the dead container directory, resulting in the container being unreleased. But now the new question comes, why the dead container, the fluentd service why not release the dead container directory?

[2017-12-04 06:04] fisache commented on #17505
@wanghaoran1988 @abstractj
Thanks for your helps.

This problem came from wrong certificating.
I solved it by getting token from private IP with ca.

@wanghaoran1988  your posting is helpful for me. :)

[2017-12-04 06:46] wanghaoran1988 commented on #17505
/close

[2017-12-04 06:46] #17505 closed

[2017-12-04 09:37] mfojtik commented on #17559
@smarterclayton seems like https://github.com/openshift/origin/pull/17500 was not it...

I made https://github.com/openshift/origin/pull/17569 which copies the input BC which should make this 100% race proof ;-)

[2017-12-04 09:44] mfojtik commented on #17558
The new regions were added here in January:

https://github.com/docker/distribution/commit/9e510d67f5ea7f8814e0c6e54da5649ef84f217e#diff-a9205dcfd4a6f7c2cbe8be01566ff84a

Not sure if/how we dropped this in 3.7 or if the aws library registry uses was bumped and does not include these regions now.

//cc @miminar @legionus

[2017-12-04 09:46] mfojtik commented on #17548
I think I heard that `nip.io` is dead, maybe we should switch to a new provider?

[2017-12-04 09:51] mfojtik commented on #17535
@bparees that controller watching image streams / images and updating different resources sounds like you own that controller as it serves as interface for triggering based on image changes? :-)

@tnozicka so the problem here is the trigger controller won't re-populate the image field after you change it manually? Why would you change that field manually when it is controlled by the controller?

T

[2017-12-04 10:08] juanwolf commented on #17558
Hi @mfojtik,

I digged a bit more on this issue and found that it's related to https://github.com/docker/distribution-library-image/issues/63.

I saw that a new version of the `registry:2` image is available. I'll give a try to build the openshift-registry image and I let you know if it fixed my issue.

[2017-12-04 10:18] tnozicka commented on #17535
Yes, it doesn't and I believe it should reconcile the state you declared. Image comes from image stream; if it doesn't overwrite it so the state corresponds to what you've declared.

e.g. `oc apply` does that but it should get reconciled either way

It also leaves the DC a bad state and we already have 1 GH issue and 1 BZ for 3.7, my vote is for P1.

[2017-12-04 10:27] tnozicka commented on #17535
/cc @smarterclayton

[2017-12-04 11:30] mfojtik opened #17570 "Misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs""
On OSX with the latest master (on empty config dir) you get this when running via `oc cluster up`:

[code]

I figured that to fix this you have to stick this into node-config.yaml:

[code]

@smarterclayton @sjenning i wonder if we should make this default for cluster up.

[2017-12-04 12:10] hansmi opened #17571 ""oc observe --resync-period=1s …" without "--names" panics"
Specifying `--resync-period` for `oc observe` without `--names` and `--delete` leads to a panic. The usage output (`-h`) says that `--names` is required, but one would expect an error message rather than a panic.

##### Version
[code]

##### Steps To Reproduce
1. `oc -n default observe --resync-period=1s pod`
2. Wait ~1 second

##### Current Result
[code]

##### Expected Result
Error message and/o

[2017-12-04 12:49] helletheone commented on #17238
yes, we use Artifactory in version 5.4.2 and we have the same issue ...

[2017-12-04 14:08] smarterclayton commented on #17535
Before, resolution was done by the generic DC trigger controller.  It sounds like when that was removed we missed fixing the trigger controller to resolve?

Would be helpful to verify behavior before and after trigger controller was removed.  Also, surprised we don’t have an e2e test verifying this.

[2017-12-04 14:10] smarterclayton commented on #17535
Was this an actual regression?

[2017-12-04 14:12] smarterclayton commented on #17535
Ie are we sure we are not compatible with how DC have always worked?

[2017-12-04 14:30] vikaschoudhary16 commented on #16994
@jim-minter Looks to me `m.mu.Lock()` is missing here:
https://github.com/openshift/origin/blob/master/vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/apply_systemd.go#L290
WDYT?

[2017-12-04 14:41] helletheone commented on #17238
is maybe the problem the --docker-email ? is the field for any use? because we dont use the email for login

[2017-12-04 14:44] php-coder opened #17574 "hack/test-cmd.sh:107: executing 'oc login' fails with "error: Missing configuration""
`hack/test-cmd.sh` has many failures, but looks like the most important is this:
[code]

The log is here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17512/test_pull_request_origin_cmd/6902/

[2017-12-04 15:41] bigg01 commented on #17460
We are running containerized installation. It looks like upgrade doesn't update the /usr/local/bin/oc client.
Is there a possibility to run it ? openshift_container_binary_sync

[2017-12-04 15:49] krbarn commented on #17367
I had the same issue, found this to load templates into catalog

https://docs.openshift.org/latest/install_config/imagestreams_templates.html

[2017-12-04 15:56] megian commented on #17460
Possible that the client has been upgraded afterwards. The current version is:

/usr/local/bin/oc version
oc v3.7.0-rc.0+e92d5c5
kubernetes v1.7.6+a08f5eeb62

[2017-12-04 15:57] antaka1 commented on #17567
Update : the build is completed now but the deployment fails with the following error :

W1204 15:27:53.359451       1 reflector.go:323] github.com/openshift/origin/pkg/deploy/strategy/support/lifecycle.go:509: watch of *api.Pod ended with: too old resource version: 477843242 (477872712)
error: update acceptor rejected lp-3: pods for rc "lp-3" took longer than 600 seconds to become ready

[2017-12-04 16:15] shawkins commented on #17230
A somewhat related question, should the uri include a protocol?  It seems like that will be an issue as the identifier varies by client.  For JDBC you need postgesql://, for python/sqlalchemy you also need to specify the driver - postgresql+psycopg2://

Is the expectation that the bound service will need logic to modify the uri to turn it into the necessary url?

[2017-12-04 16:26] sjenning commented on #17570
@mfojtik when was the last version that defaulted to cgroupfs?

since fedora/centos/rhel all use systemd, that is the safe default.  though, iiuc, it seems like it was able to autodetect this in the past? or the default changed?

[2017-12-04 16:29] smarterclayton commented on #17570
Might be a bug caused by refactoring the master config and defaulting

On Mon, Dec 4, 2017 at 11:26 AM, Seth Jennings <notifications@github.com>
wrote:

[2017-12-04 16:29] sjenning commented on #17570
seems there is code to handle this:
https://github.com/openshift/origin/pull/13964/files

maybe it isn't working right on OSX?

[2017-12-04 16:46] bparees commented on #17567
On events tab I see the following message : No nodes are available that match all of the following predicates:: Insufficient memory (88), MatchNodeSelector (5).

@mfojtik that would pretty clearly point to infrastructure issues.  But now it's a deployment issue anyway (though probably really an infrastructure issue also, likely a container failing to start?):

error: update acceptor rejected lp-3:

[2017-12-04 17:10] jim-minter commented on #17487
@tnozicka I still think there's problems here.  See:

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/303/testReport/junit/(root)/Extended/_image_ecosystem__jenkins__Slow__openshift_pipeline_plugin_jenkins_plugin_test_context___jenkins_plugin_test_create_obj_delete_obj__Suite_openshift__2/

`05:05:00.227779   19467 wrap.go:42] DELETE /api/v1/namespaces/exten

[2017-12-04 17:27] php-coder commented on #17574
This is a simple race, we need to wait unit server will be ready.

[2017-12-04 17:39] frobware commented on #16832
- I was unable to repro locally on fedora 26 with v3.6 or v3.9 (i.e., tip of master).
- Now investigating the jenkins job and trying to repro on an AWS instance.

[2017-12-04 17:51] mjudeikis commented on #17571
Cant recreate on 3.8+
[code]

Confirmed it works as expected in 3.7:
[code]

on  3.6.1 confirmed:
[code]

[2017-12-04 17:53] mjudeikis commented on #17571
Closing, as fixed in next release. 3.6<->3.7 clients are compatible. Please reopen if you need something else.

[2017-12-04 17:53] mjudeikis commented on #17571
@pweil do we need to have this if it works?

[2017-12-04 17:56] php-coder commented on #17574
It 100% reproducible on master locally (just run `hack/test-cmd.sh`). I also was able to fix it:
[code]
The question is: would such a patch will be accepted? This race also signalizes that OpenShift server became slowly. I wasn't able to quickly identify a cause unfortunately.

CC @stevekuznetsov

[2017-12-04 17:58] pweil- commented on #17571
@juanvallejo since this is a panic I'll let you make the call on whether you think it's worth fixing 3.6.x.  Lowering priority though.

[2017-12-04 18:15] php-coder commented on #17574
I submitted https://github.com/RangelReale/osincli/issues/6 to improve the error reporting here.

[2017-12-04 19:02] jim-minter commented on #17330
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/291/testReport/junit/(root)/Extended/_Feature_Builds__Slow__build_can_have_Docker_image_source__creating_a_build_with_an_input_source_image_and_s2i_strategy_should_resolve_the_imagestream_references_and_secrets__Suite_openshift_/
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/292/testRepo

[2017-12-04 19:05] php-coder commented on #17574
So far I found the following:

1) the error "Missing configuration" is happening here: https://github.com/openshift/origin/blob/b85f66046c68e1fbd78b1a88e20ce82fe7cd170f/vendor/github.com/RangelReale/osincli/client.go#L35-L39
I printed the values of required members and get the following output:
[code]
So, the caller haven't fully configured a config (authorizeUrl and tokenUrl are empty).

2) here

[2017-12-04 19:14] jim-minter commented on #16994
@vikaschoudhary16 I'm not really qualified to answer :confused: but I'll ask: if a missing `m.mu.Lock()` there is the root issue, can you explain how it causes the symptoms seen?

[2017-12-04 19:20] bparees opened #17581 "deploymentconfigs when run iteratively [Conformance] should only deploy the last deployment"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17429/test_pull_request_origin_extended_conformance_crio/185/

[2017-12-04 19:29] php-coder commented on #17574
Yes, there is a problem, when we invoke `request()` method is returns 403 error (Forbidden) because some RBAC initialization is still in progress. Later, if we invoke it again, the data will be available. We should add check for a response code here at least.

[2017-12-04 19:44] karmab commented on #16860
closing this as i m not getting the issue anymore with openshift 3.7.0. and fission 0.4.0
deploys perfectly fine

[2017-12-04 19:44] #16860 closed

[2017-12-04 19:45] juanvallejo commented on #17571
@pweil- Sure, opened a pick of the [upstream fix](https://github.com/kubernetes/kubernetes/pull/53830) against the release-3.6 branch: https://github.com/openshift/origin/pull/17582

[2017-12-04 20:15] php-coder commented on #17574
@simo5 @enj BTW do we know why initialization is slower than it was?

[2017-12-04 20:29] simo5 commented on #17574
Probably because k8s RBAc forces reconciliation on each start

[2017-12-04 20:54] dmage commented on #17558
We've lost openshift/origin#12451

[2017-12-04 21:00] bparees commented on #17558
any reason https://github.com/docker/distribution/pull/2140 wasn't also contributed to the upstream release-2.6 branch?  Do they not accept that sort of change?

[2017-12-04 21:08] mfojtik commented on #17581
/assign tnozicka

[2017-12-04 21:10] mfojtik commented on #17567
@bparees seems like `Insufficient memory` might mean it is not able to find a node with enough memory to run the build?

[2017-12-04 21:14] mfojtik commented on #17558
I can open a PR against that branch in docker-registry, we might need to backport https://github.com/openshift/origin/pull/12451 to release-3.7 branch in origin.

[2017-12-04 21:18] bparees commented on #17567
insufficient memory presumably means the cluster can't find a node w/o enough memory to meet the pod's "memory request" value.  In this case, the pod's request is typical, 300megs:

[code]

[2017-12-04 21:18] enj commented on #17574
@php-coder feel free to add a check to `SetDefaultOsinConfig` that errors out if the response code is not 200.  Do not add any retry logic.

The test scripts wait for the master to report its healthy, but that does not mean the RBAC cache is ready (only that the post start hook completed).

@deads2k do we need another post start hook for such things?  Or I suppose we could add further checks in `h

[2017-12-04 21:33] bparees commented on #17558
@mfojtik

origin3.7: https://github.com/openshift/origin/pull/17585  (though I don't think we need it).
ose3.7: https://github.com/openshift/ose/pull/959

i'll leave you to push the change through upstream docker-distribution, at which point we'll have to update our openshift fork of docker-distribution and then bump the image-registry deps...

[2017-12-04 21:55] #17560 closed

[2017-12-04 22:05] stevekuznetsov commented on #17574
We already have to wait for the `kubernetes` service to be running, so adding another thing to wait for is not the end of the world ... just terrible UX. Server startup is generally an edge case though that I wouldn't expect customers to hit so realistically let's just make the test scripts more robust.

[2017-12-05 01:51] smarterclayton commented on #16860
Good to hear

On Dec 4, 2017, at 1:44 PM, Karim Boumedhel <notifications@github.com>
wrote:

Closed #16860 <https://github.com/openshift/origin/issues/16860>.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/16860#event-1371235767>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/ABG_p

[2017-12-05 03:27] sosiouxme opened #17588 "fatal error: gpgme.h: No such file or directory"
`go test` and other tools (`go guru`) are broken with this error; similar to https://github.com/openshift/origin/issues/14181 but on my Linux workstation.

##### Version
origin master (v3.9.0-alpha.0-5-g3d3b9c5b30)
golang-1.8.5-1.fc26.x86_64

##### Steps To Reproduce
1. check out origin master
2. `hack/test-go.sh`

##### Current Result

[code]

##### Additional Information

Seems like something ev

[2017-12-05 06:03] eliu opened #17590 "No logs available for all containers running on master node"
There's no logs displaying of all docker containers running on openshift master node.

- No logs by checking `docker logs <container_id>`
- No logs by checking `oc logs -c <container_name> <pod_name>`
- No logs at OpenShift Web Console

Note: the other nodes are normal ( 2 extra nodes: node01, node02 )

##### Version
[code]
##### Steps To Reproduce

Pls refer to issue description for the steps.

#

[2017-12-05 06:45] jtcressy opened #17591 "Router overrides custom certificates with self-signed cluster cert"
I cannot use any custom certificates when the route matches the base domain which the cluster shares with the wildcard zone. It seems like HAproxy is overriding my SSL certificate to favor the wildcard cert, even though it is self-signed.

##### Version
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce  (replace example.com with real domain)
1. deploy router with defa

[2017-12-05 07:00] praveenkumar opened #17592 "oc cluster up --logging rewrite config to ~/.kube/config file instead append"
`oc cluster up --logging` currently destroy (rewrite) ~/.kube/config instead append the kube configuration.

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]

##### Steps To Reproduce
1. Check your current `~/.kube/config` file.

[code]

2. Start oc cluster up using `logging` option

[code]

3. Check again your `~/.kube/config` file content.
[code]

##### Cu

[2017-12-05 07:00] praveenkumar commented on #17592
CC @csrwng

[2017-12-05 08:18] jtcressy commented on #17591
I decided to try regenerating the routers' default certificates via [this help document](https://docs.openshift.com/container-platform/3.3/install_config/redeploying_certificates.html#redeploying-router-certificates) and this solves the issue for now. I suppose this might be a workaround, but the issue still occurs if you happen to follow my steps to reproduce. The new certs generated by the above

[2017-12-05 08:30] tnozicka commented on #17581
this looks suspicious
[code]
and likely kubelet

@bparees could you rebase your PR to pick up https://github.com/openshift/origin/pull/17514
Judging by age of your commits you are probably missing it

[2017-12-05 08:36] kargakis commented on #12629
Different failure, same test

<details>

[code]
</details>
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17589/test_pull_request_origin_extended_conformance_install/3493/

[2017-12-05 09:09] tnozicka commented on #17535
3.6 is not working either but it syncs on next DC edit. I've found out that 3.7 syncs on master restart.

I think I see why it is not working in DC reactor. @bparees I am fine taking it but maybe since you say we own the reactor, that should move to `/pkg/apps`? @mfojtik WDYT?

/assign @tnozicka
/unassign @mfojtik

[2017-12-05 09:18] mibaboo opened #17593 "Cannot push image to Internal Registry"
Hi

I have followed this guide to push an image into the OpenShift internal registry. I am able to login to the registry however I cannot push.

##### Version
 oc version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://10.28.102.29:8443
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7

openshift version
openshift v3.6.1+008f2d5
kubern

[2017-12-05 09:20] tnozicka opened #17594 "CI: [ERROR] Can not determine install and upgrade version for the `atomic-openshift-utils` package"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17513/test_pull_request_origin_extended_conformance_install_update/9781/

[code]

[2017-12-05 10:03] kargakis opened #17595 "Pod shall not transition from terminated phase: "Failed" -> "Succeeded""
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17589/test_pull_request_origin_extended_conformance_install/3497/

/sig master
/kind test-flake
/assign mfojtik tnozicka

xref https://bugzilla.redhat.com/show_bug.cgi?id=1534492

[2017-12-05 10:23] kargakis opened #17596 "[Feature:Builds] forcePull should affect pulling builder images ForcePull test case execution docker"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17534/test_pull_request_origin_extended_conformance_gce/12371/

/sig developer-experience
/kind test-flake
/assign bparees

[2017-12-05 11:01] tnozicka commented on #17594
at least twice in a row - this seems permanently broken and blocking CI
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17513/test_pull_request_origin_extended_conformance_install_update/9783/

[2017-12-05 11:18] soltysh commented on #14785
I've double checked the logs you've pointed to @tnozicka and it doesn't look like it's related to journald rate limiting. The test happened after the journald was modified and during the test time I have not seen indication that journald is rate limiting any messages. I will close this issue when https://github.com/openshift/origin/pull/17597 merges and I'm more assured this is not happening anymo

[2017-12-05 11:18] vikaschoudhary16 commented on #16994
@jim-minter Failures are occurring in `manager.Apply()` and looks to me that it can happen only if there a parallel `manager.Destroy()` gets invoked and that executed rmdir eventually. Then I noticed that said lock is missing in `Apply()`.   If my guess about the scenario is correct, a lock in Apply() would hold `Destroy()` from proceeding until cgroup join is complete.
But still not sure exactly

[2017-12-05 11:25] jffz opened #17598 "Installation issue with multiple master and LB"
Load Balancer is not provisioned using multiple masters / nodes and a loadbalancer setup

##### Version
master

##### Steps To Reproduce
 ansible-playbook -i hosts playbooks/byo/config.yml

##### Current Result
[code]

[code]
##### Expected Result

Expect the loadbalanccer to be up

##### Additional Information
hosts file
[code]

[2017-12-05 11:31] tnozicka commented on #17595
@sjenning it seems to already have https://github.com/openshift/origin/pull/17514

I don't think your condition prevents failed->succeded https://github.com/openshift/origin/blob/21271eb4836769b48102b02dd9170219ada3d9ae/vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go#L286

There few other flakes likely caused by kubelet not respecting pod state transition diagram:
 - https://github.c

[2017-12-05 11:35] tnozicka commented on #17011
for reference this still seems broken https://github.com/openshift/origin/issues/17595 just now it is Failed -> Succeeded

[2017-12-05 11:36] tnozicka commented on #17595
(previous issue https://github.com/openshift/origin/issues/17011)

[2017-12-05 11:45] mfojtik commented on #17593
/assign bparees
/priority P1

[2017-12-05 11:48] tnozicka commented on #17487
kubelet still seems to have issues https://github.com/openshift/origin/issues/17595

pod.status.phase can make invalid transitions; if DC sees failed deployer pod it will delete it

[2017-12-05 11:57] php-coder commented on #17574
@enj @deads2k @simo5 When we're waiting for master, we query `oc get --raw /healthz/ready`. WDYT about modifying `/healthz/ready` so it will take into account all this RBAC reconciliation things?

[2017-12-05 12:29] hrishin commented on #17210
New release https://github.com/openshift/origin/releases/tag/v3.7.0 seems to be working well.

[2017-12-05 12:43] tnozicka commented on #17594
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17513/test_pull_request_origin_extended_conformance_install_update/9790/

permanently failing

[2017-12-05 12:45] tnozicka opened #17601 "Flake: [Feature:Builds][pruning] prune builds based on settings in the buildconfig should prune completed builds based on the successfulBuildsHistoryLimit setting [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17513/test_pull_request_origin_extended_conformance_install/3498/

[code]

[2017-12-05 12:48] tnozicka opened #17602 "Flake: idling and unidling unidling should work with TCP (when fully idled) [Conformance] [local] [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17513/test_pull_request_origin_extended_conformance_install/3498/

[code]

[2017-12-05 13:21] bparees commented on #17601
Failed due to dev mapper, there's an open issue for that already (owned by the container team)

[2017-12-05 13:21] #17601 closed

[2017-12-05 13:22] kargakis opened #17604 "executing 'oc get secrets -o name --all-namespaces; oc describe appliedclusterresourcequota/for-deads-by-annotation -n quota-bar --as deads' expecting any result and text 'secrets."
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_cmd/6974/

@deads2k you've got your name on it, you own it

/assign deads2k
/kind test-flake
/sig master

[2017-12-05 13:23] soltysh commented on #17460
@sdodson can you verify that in our ansible installer, it looks like a bug in the installer. Nothing the master team can own.

[2017-12-05 13:26] bparees commented on #17593
@mfojtik why p1?

[2017-12-05 13:32] sdodson commented on #17460
@megian If it's been updated afterwards you should be able to re-run the playbooks and complete the upgrade. We'll look into ordering to ensure that the client is updated after the control plane is updated and before the second storage migration.

[2017-12-05 13:32] dmage commented on #8354
[code]

This format check happens on the client side and we can't change this.

[2017-12-05 13:32] #8354 closed

[2017-12-05 13:32] bparees commented on #17581
PRs are always merged on top of master before being tested. Rebasing my PR
wouldn't change anything in terms of testing.

Ben Parees | OpenShift

On Dec 5, 2017 03:30, "Tomáš Nožička" <notifications@github.com> wrote:

[2017-12-05 13:35] dmage commented on #13698
Now we have unit tests TestSignatureGet and TestSignaturePut.

[2017-12-05 13:35] #13698 closed

[2017-12-05 13:47] tnozicka commented on #17601
please link the issue when you are closing it as dupe

[2017-12-05 13:50] tnozicka opened #17605 "Flake: [k8s.io] Downward API volume should update annotations on modification [Conformance] [sig-storage] [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17513/test_pull_request_origin_extended_conformance_install/3509/

[code]

[2017-12-05 14:04] php-coder commented on #17574
https://github.com/openshift/origin/pull/17606 has been submitted.

[2017-12-05 14:27] ingvagabund commented on #15024
The https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/ currently blocked on https://github.com/openshift/origin/issues/17594

[2017-12-05 14:28] enj commented on #17574
@php-coder it already does that.  But just because reconciliation finished does not mean that the RBAC shared informer cache that backs the authorizer is ready to process requests.  Running a curl in a loop until it says 200 for `/.well-known/oauth-authorization-server` could work as a proxy (access to that URL is protected by RBAC but anymore is allowed to see it since its part of the discovery r

[2017-12-05 14:37] bparees commented on #17601
@tnozicka was responding on my phone.  Didn't really consider linking the dupe all that important in this case.  but here: https://github.com/openshift/origin/issues/17330

[2017-12-05 14:38] bparees commented on #17330
This is flaking a huge number of our build tests and resulting in excess triage work having to be done by our team.

[2017-12-05 15:00] bparees commented on #17593
Seems like your registry pod is not running.  Please confirm it is running and gather the logs from it.

[2017-12-05 15:05] bparees commented on #17596
@jim-minter this seems likely to be a race condition since we're modifying the system wide cluster role to perform this test.  We need to find a different way to do it.

[2017-12-05 15:07] bparees commented on #17596
actually I guess we're just modifying the user.  A simple retry might be sufficient here, though I also kinda wonder if we should even be exposed to this or if RBAC should be handling it for us.  @enj ?

we're running
[code]

and getting
[code]

[2017-12-05 15:08] bparees commented on #17596
(Is the race here that our call has to update the system:build-strategy-custom object to add our user?  If so, should oc adm policy be handling that via an apply instead?)

[2017-12-05 15:08] bparees commented on #17596
@deads2k ^^

[2017-12-05 15:21] ingvagabund commented on #15024
The https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/12388 reports "No space left on device".

[2017-12-05 15:39] juanvallejo commented on #17522
Related issue: https://github.com/openshift/origin/issues/17563

[2017-12-05 15:44] rhvgoyal commented on #17330
Is there a way to reproduce this problem. Right now only error message I see is "invalid argument" and that  really does not tell much in terms of what went wrong.

So that means we need to narrow it down. Is there a docker file which I can take and run on my VM and reproduce this?

Is the storage still fine in the system after the error occurs or one needs to reset storage to get going again.

[2017-12-05 15:47] #17435 closed

[2017-12-05 16:07] stevekuznetsov commented on #17574
@php-coder adding a `curl` for `/.well-known/oauth-authorization-server` would be appropriate.

[2017-12-05 16:11] ingvagabund commented on #17594
So this atomic-openshift-utils-* are available:

atomic-openshift-utils-3.0.98-1.git.0.248113a.el7aos.noarch
atomic-openshift-utils-3.2.57-1.git.0.96a2896.el7.noarch
atomic-openshift-utils-3.3.138-1.git.0.21e2ccb.el7.noarch
atomic-openshift-utils-3.4.152-1.git.0.8635b40.el7.noarch
atomic-openshift-utils-3.5.146-1.git.0.fee1c99.el7.noarch
atomic-openshift-utils-3.6.173.0.78-1.git.0.b499fd4.el7.noar

[2017-12-05 16:14] stevekuznetsov commented on #17594
Dupe of https://github.com/openshift/origin/issues/17263

There is no 3.8 release.

This job is non-blocking.

/close

[2017-12-05 16:14] #17594 closed

[2017-12-05 16:27] ingvagabund commented on #15024
This is not an urgent issue so I will wait once the 3.8 rpms are released so I can run the job and get the exactly same environment. The GCE does not seem to produce the failure so far but it's a flake, I will check more jobs to see if it occurs.

[2017-12-05 16:32] ingvagabund commented on #15024
Blocked on https://github.com/openshift/origin/issues/17263

[2017-12-05 17:13] jim-minter opened #17610 "OpenShift types are missing from OpenAPI and swagger endpoints"
This means that the types are missing from the API documentation https://docs.openshift.org/latest/rest_api/index.html and from any dynamically generated clients that use the OpenAPI / swagger spec.  Since https://github.com/openshift/origin/pull/17115 .

[2017-12-05 18:03] bparees opened #17611 "ansible install doesn't set nodeselector for template service broker?"
@jwforres and @spadgett indicated that the ansible installer may not be setting the NODE_SELECTOR value, meaning the TSB pod will run everywhere:
https://github.com/openshift/origin/blob/master/install/templateservicebroker/apiserver-template.yaml#L18

the ansible installer should be setting the node selector to the infra nodes by default (and i guess allowing the admin to choose a different nodes

[2017-12-05 18:06] megian commented on #17460
I can confirm that the second migration did complete without any issue. It seams to be an sequence problem, when the client will be deployed.

[2017-12-05 18:07] spadgett commented on #17611
I didn't see it set here:

https://github.com/openshift/openshift-ansible/blob/master/roles/template_service_broker/tasks/install.yml#L43-L48

In fact, I don't see the parameter defined in the template in openshift-ansible, so they might be out of sync?

https://github.com/openshift/openshift-ansible/blob/master/files/origin-components/apiserver-template.yaml

[2017-12-05 18:11] sdodson commented on #17460
Yeah, for RPM based installs the client gets updated as soon as the master packages are updated due to RPM dependencies. However with containerized installations that has to be a deliberate step.

[2017-12-05 18:57] bparees commented on #17574
hitting this on every run of https://github.com/openshift/origin/pull/17314

[2017-12-05 20:27] fabianofranz commented on #17411
Fixed in Origin and OSE by the 2 PR's linked.

[2017-12-05 20:27] #17411 closed

[2017-12-05 21:00] sosiouxme commented on #17588
Same thing with golang-1.9.1-1.fc27.x86_64

[2017-12-05 21:31] bparees commented on #17581
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17429/test_pull_request_origin_extended_conformance_crio/185/

[2017-12-05 21:33] bparees commented on #17605
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17429/test_pull_request_origin_extended_conformance_install/3524/

[2017-12-05 21:49] matthewvalimaki opened #17615 "`oc adm groups` command missing success/failure output"
`oc adm groups` command does not output success or failure messages. In comparison `oc adm policy add-cluster-role-to-group cluster-admin group1` outputs `cluster role "cluster-admin" added: "group1"`. For consistency output should exist and be similar.

##### Version
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

##### Steps To Reproduce
1. Execute `oc adm groups add-users grou

[2017-12-05 21:51] bparees commented on #17341
getting consensus on how to fix this proved unreasonably difficult, so i'm just doc'ing the limitation: https://github.com/openshift/openshift-docs/pull/6621

[2017-12-05 23:13] #17574 closed

[2017-12-05 23:19] eliu commented on #17590
i think it had something to do with `journald` log driver of the docker engine 'cause the logs came back when i changed the log driver into `json-file`.

however journald is required for openshift installation.

any ideas?

[2017-12-06 00:10] bparees opened #17618 "404 pushing to imagestream in registry"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17429/test_pull_request_origin_extended_conformance_gce/12430/

build got an error pushing to the imagestream:
[code]

why wouldn't it just create the repo?

registry logs:
[code]

[2017-12-06 00:18] jim-minter commented on #17330
I don't have a simplified way to reproduce the problem but it is happening on pretty much every test_branch_origin_extended_builds job, so it is hardly rare.

[2017-12-06 01:18] jkroepke opened #17619 "Router should be accept proxy protocol on port 1936"
I'm using on the AWS the new NLB for loadbalancing the router.

AWS supports the proxy protocol days ago. I configure the IP:1936/healthz as healthcheck.

If the target group of the loadbalancer has active proxy protocol, the healthcheck are fired with proxy protocol, too. Since the port 1936 is handeld by the openshift-router process, it must be accept the proxy protocol to response valid answers

[2017-12-06 02:40] chenleji commented on #14450
Is this a k8s issue? I found this issue on k8s v1.7.3.

[2017-12-06 06:47] patronluther commented on #17490
May I ask if there was any progress of this please? From the logs it appears that for the legit resolution of the domain github.com, the system tries to resolve it but appending it to that domain, part of the hostname(git.home.com) which will obviously result in failure.

[2017-12-06 08:15] sverboven commented on #17523
@pweil-, @amather  I just wanted to report that we are seeing identical problems when upgrading a fully automated installation from 3.6 to 3.7. The only difference being the version of OpenShift. I does seem like something has changed between these versions causing this registry problem.

[2017-12-06 08:32] mibaboo commented on #17593
The registry pod is running
docker-registry-1-2tp44         1/1       Running                0          1d

logs

`172.17.0.1 - - [06/Dec/2017:08:30:26 +0000] "GET /healthz HTTP/1.1" 200 0 "" "Go-http-client/1.1"
172.17.0.1 - - [06/Dec/2017:08:30:26 +0000] "GET /healthz HTTP/1.1" 200 0 "" "Go-http-client/1.1"
172.17.0.1 - - [06/Dec/2017:08:30:36 +0000] "GET /healthz HTTP/1.1" 200 0 "" "Go-http-cli

[2017-12-06 08:39] vikaschoudhary16 commented on #16246
Here is the experimental PR, https://github.com/openshift/origin/pull/17600
I found a lock missing in `runc`. With this PR, i am verifying if this missing lock is the reason for this flake. I will keep this PR open for a very long time and keep rerunning CI tests to see if this same flake re-appears on the PR.
Meanwhile if the flake is observed often on other PRs and not on this experimental PR ev

[2017-12-06 09:18] eliu commented on #17590
Finally I resolved it by restarting `journald` service, yet the root cause **remains unknown**.

Anyways, there is the commad i ran to solve my problem:

[code]

[2017-12-06 09:18] #17590 closed

[2017-12-06 09:56] mfojtik commented on #17610
/assign maszulik

[2017-12-06 09:57] mfojtik commented on #17610
/assign soltysh

[2017-12-06 10:39] dmage opened #17621 "cmd/oc wants gssapi/gssapi.h"
[code]
/cc @mfojtik

[2017-12-06 11:03] kargakis opened #17622 "Configure nodes [localhost] openshift_node : Restart cri-o"
This test fails consistently in the postsubmit job for crio.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_crio/195/
https://deck-ci.svc.ci.openshift.org/?type=postsubmit&job=test_branch_origin_extended_conformance_crio

/assign mrunalp runcom
/area tests

[2017-12-06 11:32] vikaschoudhary16 commented on #17190
As the log indicates, there is a mismatch between docker and kubelet's cgroup-driver configuration. Following should be helpful:
https://github.com/kubernetes/kubernetes/issues/43805#issuecomment-290191993

Try adding `--cgroup-driver=systemd` to kubelet args.

[2017-12-06 11:34] #17190 closed

[2017-12-06 12:37] mfojtik commented on #17621
@deads2k seems like this was introduced by glide bump.

[2017-12-06 12:37] mfojtik commented on #17621
/cc @enj since this is likely related to krb support.

[2017-12-06 12:38] runcom commented on #17622
This is an issue with the installer, not an original test failure. We're discussing it here https://github.com/openshift/aos-cd-jobs/pull/901#issuecomment-349451695

[2017-12-06 12:50] ingvagabund commented on #16746
Found the same error message in https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/305/console:
[code]

[2017-12-06 12:50] miminar commented on #17618
My guess is that the registry was not ready at the time the build started. The docker always hits `/v2/` endpoint first. If it fails, it continues with `/v1/` endpoint. The fallback to `/v1/` often happens when the test doesn't wait for the registry to be ready.

Unfortunately, the log doesn't reveal much. It's oddly short. I think we should capture at least +10s more context or use timestamps ins

[2017-12-06 12:51] mfojtik commented on #17529
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17626/test_pull_request_origin_extended_conformance_gce/12464/

[2017-12-06 12:58] pweil- commented on #17523
@sverboven thanks for the report.  Did you also test trying to log in to the registry with a service account manually?  Do you have registry logs from the times when the authorization is failing?  Can you also detail the env a bit for us, version numbers at least.  Thanks!

While we need to avoid using GH as a support channel I think we need a little more information to determine if this is a bug

[2017-12-06 13:10] deads2k commented on #17621
I don't think that's new. Came in ages ago when we added support, right?

On Wed, Dec 6, 2017 at 7:37 AM, Michal Fojtik <notifications@github.com>
wrote:

[2017-12-06 13:11] kargakis commented on #17622
Awesome.

[2017-12-06 13:11] #17622 closed

[2017-12-06 13:15] mfojtik commented on #17602
My guess here will be that the bootstraping roles are not ready yet and the user running the test has no access to "endpoints/restricted".

[2017-12-06 13:28] dmage commented on #17621
No,

[code]

[2017-12-06 13:45] sdodson commented on #17598
@jffz can you provide full logs somewhere? Did the openshift_loadbalancer role not run?

As to the first error, that's very odd, what's the OS and version of ansible on the control host? Also the OS and version of the target hosts? @sosiouxme any idea on the error from memory_availability ?

[2017-12-06 13:48] jffz commented on #17598
CentOs 7.4 on all hosts (control / target). The only failed tasks are the one I put in the issue, every other tasks are running fine.

[2017-12-06 14:30] bparees commented on #17523
were RBAC roles reconciled during/after the upgrade process?

[2017-12-06 14:33] bparees commented on #17618
it's an extended test running on the cluster shared by the extended test framework, so if something should be waiting for the registry to be"up", it should be the extended test framework that stood up the cluster.  Can you look into what we're doing there and make sure it's the right thing?

I'm not sure how +10s logging context would help...  we dumped the entire registry log after the push had f

[2017-12-06 14:41] sosiouxme commented on #17598
CHECKs run in parallel and the output gets intermingled, so you can't easily tell which check actually had a module error without -vvv output (as you can see in this output, two different hosts reported results after the CHECK header, and the one that failed doesn't correspond to the header).

I've seen and fixed something like this before, but I can't recall what the root cause was at this moment

[2017-12-06 14:43] sosiouxme commented on #17598
I would guess the API didn't come up because that one master install failed out first, and it never got to the LB role.

[2017-12-06 14:46] jffz commented on #17598
@sosiouxme `openshift_disable_check=docker_image_availability` is because the playbook was stopping on this step and then i saw there was an issue opened about it and the fix of the moment was to disable this check.

The LB is not a master, it's another host. If i comment the LB part in my hosts file, then I have no issue at all.

[2017-12-06 14:55] jim-minter opened #17629 "Extended.[Feature:Prometheus][Feature:Builds] Prometheus when installed to the cluster should start and expose a secured proxy and verify build metrics"
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/299/testReport/junit/(root)/Extended/_Feature_Prometheus__Feature_Builds__Prometheus_when_installed_to_the_cluster_should_start_and_expose_a_secured_proxy_and_verify_build_metrics__Suite_openshift_conformance_parallel_/

[2017-12-06 14:56] jim-minter commented on #17629
I think the issue is that the test ran concurrently with some other builds, which showed as Cancelled.  Therefore the terminal test which expected # Cancelled builds to be zero failed.

[2017-12-06 14:57] jim-minter commented on #17629
I'm not sure if there's much else to be done but remove the tests which expect # Cancelled and # Failed each to be zero?

[2017-12-06 15:09] gabemontero commented on #17488
This has still not reoccurred.  Lowering down the p2.  Should be cutting a plugin release with the diagnostic PR today or tomorrow.

[2017-12-06 15:09] juanvallejo opened #17630 "Tracking (even more) deps from origin on cli"
Followup to https://github.com/openshift/origin/pull/17309
Intent: https://docs.google.com/document/d/1mS-KRkU8zjCleBNi3WWhLtkH10hb8h4ajpFM743jnqg

Tracks dependencies on `kubectl` from anywhere outside of `pkg/oc`that need to be broken:

- [ ] pkg/config/cmd/cmd_test.go
- [ ] pkg/config/cmd/cmd.go
- [ ] pkg/templateservicebroker/cmd/server/start.go
- [ ] pkg/generate/app/templatelookup.go
- [ ] p

[2017-12-06 15:10] php-coder opened #17631 "[Conformance] deploymentconfigs with custom deployments should run the custom deployment steps flakes"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17606/test_pull_request_origin_extended_conformance_gce/12465/

A full log:
[code]

[2017-12-06 15:11] php-coder commented on #17631
CC @tnozicka

[2017-12-06 15:12] enj commented on #17621
Seems like we went from requiring GSSAPI only when the flags are set to always requiring it?  No sure I care too much, but @stevekuznetsov or @smarterclayton will probably have some thoughts.

cc @simo5

[2017-12-06 15:12] fabianvf commented on #14490
As far as I can tell this prevents the use of FlexVolumes on CoreOS/atomic systems. I've been having a lot of trouble configuring a flex volume plugin on Fedora Atomic because of this issue.

[2017-12-06 16:04] cmoulliard opened #17632 "ingress resources arent' displayed or deleted using oc get/delete all --all"
When we use the oc client of openshift 3.7, create an Ingress yaml resource such as this one

and push it to the platform,

[code]

then it is not displayed or deleted using these commands

[code]

[2017-12-06 16:05] gabemontero commented on #17629
I think your cause analysis is spot on @jim-minter - I come to the same conclusion

And yeah, with tests running concurrently (I failed to remember that detail when first constructing the tests, and to be frank, I'm surprised this is the first we've noticed this), and the total metric being cross namespace, testing for precise values for *ANY* of the states is problematic.  We's either need to

a)

[2017-12-06 16:12] kaveh981 opened #17633 "Can't open my deployed nodejs app"
Just created a very simple hello world app using node put it on github and deployed it on openshift. pod created and server running fine but when I browse [the route](http://kavehnode-kaveh.193b.starter-ca-central-1.openshiftapps.com/) which I could find it in Application>>routes menu it says:
[code]
I guess I'm using the latest version of openshift since just created an account.

[2017-12-06 16:22] bparees commented on #17629
As a slight variation on (c) you can just check that the values are greater than or equal to what you expect.  (which admittedly in the case of expecting zero, is a pretty loose test but at least ensures something is being returned, as @gabemontero aluded to in (c))

[2017-12-06 16:28] valentinabojan commented on #17523
@pweil @bparees I will come with the detailed scenario of @sverboven.

 **Version**
`master-host$ oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master-ip:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62`

**Steps To Reproduce (steps that worked perfectly fine using Openshift 3.6, but that are not giving the expected

[2017-12-06 16:38] mfojtik commented on #17631
seen here as well https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17628/test_pull_request_origin_extended_conformance_gce/12469/

/assign tnozicka

[2017-12-06 16:40] mfojtik opened #17634 "build without output image building from templates should create an image from a docker template without an output image reference defined"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17627/test_pull_request_origin_extended_conformance_install/3608

[code]

/assign bparees
/priority P1

[2017-12-06 16:46] bparees commented on #17634
dev mapper.
https://github.com/openshift/origin/issues/17330

[2017-12-06 17:34] #17341 closed

[2017-12-06 17:53] tnozicka opened #17636 "jobcontroller can't create pods because it can't find RESTMapping"
[code]
[code]

master log here: https://travis-ci.org/tnozicka/openshift-acme/builds/312537376#L2182

[2017-12-06 17:59] spadgett opened #17637 "cluster up extended tests do not run on mac"
TSB provision.sh script appears to call `base64` with an option that doesn't work on macOS.

[code]

cc @bparees @jim-minter @csrwng

[2017-12-06 18:07] bparees commented on #17637
i don't think the wrapping is needed, @jim-minter ?

[2017-12-06 18:09] tnozicka opened #17638 "3.7.0 cluster can't run pods: MountVolume.SetUp failed for volume..."
Cluster was created by `oc cluster up --version=v3.7.0`

[code]

All pod (including deployers for registry and router) are stuck on `ContainerCreating` (https://travis-ci.org/tnozicka/openshift-acme/builds/312537376#L1389)

This error is repeating very frequently:

[code]

master log is here: https://travis-ci.org/tnozicka/openshift-acme/builds/312537376#L2196

[2017-12-06 18:11] tnozicka commented on #17638
(3.6.1 works fine)

[2017-12-06 18:32] spadgett commented on #17637
Hm, it still fails for me without `-w` since it tries to hit an IP that is not accessible:

[code]

[2017-12-06 18:34] #14785 closed

[2017-12-06 18:51] mrsiano opened #17639 "node exporter runs only on nodes with region=primary label"
In order to use node-exporter we have to issue the command
`oc annotate ns openshift-metrics openshift.io/node-selector= --overwrite`

otherwise, the node selector pod + node exporter pods will fail, or will work only for primary node

Bug-Url:
https://bugzilla.redhat.com/show_bug.cgi?id=1522797

##### Version
openshift v3.7.0-0.190.0

[2017-12-06 20:05] dmage opened #17641 "deploymentconfigs with minimum ready seconds set [Conformance] should not transition the deployment to Complete before satisfied"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17585/test_pull_request_origin_extended_conformance_gce/12478/

/kind test-flake
/component apps
/assign @tnozicka

[2017-12-06 20:38] jim-minter commented on #17637
* I didn't put the -w in there, but it's needed if requesterUsername is longer than 5 characters.
* The cluster up test in question should be talking to the service catalog, not the TSB - it shouldn't be calling those test-scripts.
* Are we supposed to be guaranteeing that test shell scripts run on MacOS?

[2017-12-06 21:10] megian opened #17642 "no matches for servicecatalog.k8s.io"
##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master1:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
##### Steps To Reproduce
ansible-playbook -i hosts playbooks/byo/openshift-cluster/service-catalog.yml

##### Current Result
TASK [ansible_service_broker : Create the Broker resource in the catalog]
fatal: [maste

[2017-12-06 21:57] mangokingTW opened #17644 "LDAPPasswordIdentityProvider TLS connection failed while OpenLDAP server uses ssf=256."
Openshift origin uses ssf=128 for TLS connection and can not be changed to ssf=256.

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. OpenLDAP server and set Security Strength Factors(ssf) to 256 (AES-256). `security ssf=256`
2. Using LDAPPasswordIdentityProvider for identity.
3. `oc login`

##### Current Result
o

[2017-12-06 22:36] juanvallejo opened #17646 "Fix direct calls to printSuccess"
Tracks https://github.com/openshift/origin/pull/17576/commits/d28ac0c1938ee3e79e69c5c30e87711d9ea519d1 and potentially other cases where calls to `k8s.io/kubernetes/pkg/kubectl/cmd/util.PrintSuccess` are no longer valid due to the function being moved to the cmdutil factory

[2017-12-07 00:06] elyscape opened #17648 "oc >= 3.7.0-rc.0 cannot talk to OpenShift servers < 3.6.0-rc.0"
Attempting to log in to an OpenShift server running any version prior to `3.6.0-rc.0` using `oc` with version of `3.7.0-rc.0` or newer fails with an error.

##### Version
[code]

##### Steps To Reproduce
1. Set up an OpenShift server running version 1.5.1 or older
2. Using `oc` version 3.7.0, run `oc login`

##### Current Result
[code]

##### Expected Result
Login is able to proceed.

##### Additi

[2017-12-07 00:58] jim-minter opened #17649 "Extended.[image_ecosystem][Slow] openshift sample application repositories [image_ecosystem][nodejs] test nodejs images with nodejs-ex db repo Building nodejs-mongodb app from new-app should build a nodejs-mongodb image and run it in a pod [Suite:openshift]"
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/305/testReport/junit/(root)/Extended/_image_ecosystem__Slow__openshift_sample_application_repositories__image_ecosystem__nodejs__test_nodejs_images_with_nodejs_ex_db_repo__Building_nodejs_mongodb_app_from_new_app_should_build_a_nodejs_mongodb_image_and_run_it_in_a_pod__Suite_openshift_/

[2017-12-07 00:58] jim-minter commented on #17649
Nodejs server never returned a page with page view count "1".  Bit of a mystery.

[2017-12-07 01:02] jim-minter opened #17650 "clusterup.sh should not reference pkg/templateservicebroker/servicebroker/test-scripts"
if testing the TSB, it should do so via the service catalog.

[2017-12-07 01:03] jim-minter commented on #17637
https://github.com/openshift/origin/issues/17650

[2017-12-07 01:16] stevekuznetsov commented on #17621
Yeah, the linked commit from @smarterclayton does change build flags. I'd expect that to be the issue.

[2017-12-07 01:21] jim-minter opened #17651 "FailedMount: Unable to mount volumes for pod "mysql-slave-1-622rn_extended-test-mysql-replication-0-5nw8g-lkzjc(2f1d5ac3-da43-11e7-ab75-0ee1f589dd4a)": timeout expired"
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/306/testReport/junit/(root)/Extended/_image_ecosystem__mysql__Slow__openshift_mysql_replication__MySQL_replication_template_for_5_7__https___raw_githubusercontent_com_sclorg_mysql_container_master_examples_replica_mysql_replica_json__Suite_openshift_/

[2017-12-07 01:21] jim-minter commented on #17651
@bparees looks like the test failed because mysql-slave-1-622rn failed to mount a PV in time.  @mfojtik please could one of your team take a look?

[2017-12-07 01:52] jim-minter opened #17652 "test_branch_origin_extended_clusterup"
clusterup test flaked not able to access master API:

[code]

[2017-12-07 01:52] jim-minter commented on #17652
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_clusterup/50/console

[2017-12-07 02:04] jim-minter commented on #17652
@bparees @knobunc it rather looks like MASTER_IP contained the text "; Name or service not known" - any thoughts how this could happen?

[2017-12-07 02:21] jim-minter commented on #16622
https://github.com/openshift/origin/pull/17219: so this works in ci/openshift-jenkins/extended_conformance_install, but not in ci/openshift-jenkins/extended_conformance_install_update, because install_update doesn't enable the TSB as part of the update process.  Not sure whether that means that this issue can't be dealt with for now?

[2017-12-07 04:05] bparees commented on #16622
install/update ought to work now since install/update should be installing 3.7 (which should install the TSB, right?) and then updating to 3.9.

install/update is also disabled currently for reasons i'm not entirely clear on.

[2017-12-07 04:08] stevekuznetsov commented on #16622
Install/update today is installing 3.8 and upgrading to 3.9. There is no 3.8 release. The job is broken until we have a 3.8 release.

[2017-12-07 04:16] bparees commented on #17652
digging through the cluster up logic it seems like it just runs the origin container with "openshift start --print-ip" and that value becomes the MASTER_IP value.  Certainly not immediately clear to me how that would go wrong.

probably worth poking @csrwng too.

[2017-12-07 04:16] bparees commented on #16622
thanks @stevekuznetsov.  so @jim-minter when install/update is re-enabled this should work fine since 3.8 would install the TSB.

[2017-12-07 04:17] bparees commented on #17651
probably more a question for @sjenning or possibly the storage team.

[2017-12-07 05:30] miminar commented on #17618
You can see `--since=12.130927986s` added to the log dumper. The few lines printed is certainly not the full log. Initialization part is not shown.

I'll look into the test framework.

[2017-12-07 09:02] propyless commented on #17376
Having the same issue after adding AWS cloud-provider to OpenShift 3.6.
Found this BZ https://bugzilla.redhat.com/show_bug.cgi?id=1367229 which could be related, but should have been fixed a couple of releases ago.

[2017-12-07 10:26] Jens-vd commented on #17523
@pweil- @bparees

From the internal docker registry logs, we can derive that the pods are being authorized as `system:anonymous`. This is not what we expected, since we defined imagePullSecrets for the deployment which contains a secret with a user that has roles `system:image-builder`, `system:image-puller` and `system:registry`. Additionally, we added role `system:image-puller` to the service ac

[2017-12-07 11:38] #16552 closed

[2017-12-07 12:39] aliscott opened #17658 "GitHub oauth provider gets blank email"
When using the GitHub oauth provider to log in, the user's email does not always get added to the identity's extra meta data.

This is because the call to `https://api.github.com/user` can return null for the email if user has not selected a Public email in their public profile here https://github.com/settings/profile.

However, with the `user: email` scope, you can call `https://api.github.com/us

[2017-12-07 13:04] mfojtik opened #17659 "remove all builds when build configuration is removed oc delete buildconfig should start builds and delete the buildconfig"
Flaking hard today.

[code]

It might be not related to builds?

[2017-12-07 13:25] rhvgoyal commented on #17330
If we want to solve this issue, we will have to narrow it down. Otherwise I don't see how to make progress on this. So somebody needs to spend some time and try to reproduce it on smaller cluster and narrow it down.

[2017-12-07 13:46] bparees commented on #17330
@rhvgoyal You can add any debug/system information gathering you want to the extended test framework and repeatedly run the test jobs against your debug PR.

[2017-12-07 13:47] bparees commented on #17659
@mfojtik link to the job?  And yes, we've seen this EOF in various places and I believe @jim-minter noted that it's not build related, it's something just crashing hard.

[2017-12-07 13:57] bparees commented on #17618
@miminar ok, i don't know why that was put in place but it should be removed. we should be dumping full registry logs.

[2017-12-07 13:58] rhvgoyal commented on #17330
@bparees Sorry, I don't know enough about openshift to be able to do that. I will expect somebody in openshift team to narrow it down for me.

[2017-12-07 14:01] bparees commented on #17330
I don't consider that an acceptable expectation.  The containers team is part of the openshift team.  @jwhonce @derekwaynecarr

[2017-12-07 14:06] #15215 closed

[2017-12-07 14:10] adelton commented on #17067
Is this merely wrong usage, or do we expect anything to be done about OpenShift's behaviour?

[2017-12-07 14:13] liggitt commented on #17067
Yes, it is incorrect usage

[2017-12-07 14:18] #17359 closed

[2017-12-07 14:38] jim-minter commented on #17659
Previous instance of this happening was https://github.com/openshift/origin/issues/16732 - I had only seen it happen once.
Depending on the logs that @mfojtik appends, perhaps the thing to do is instrument util.FatalErr and get it to print a backtrace and see if that helps?

[2017-12-07 14:41] mfojtik commented on #17659
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17627/test_pull_request_origin_extended_conformance_gce/12550/

This is the fresh one, I've seen this many times today.

[2017-12-07 14:47] jim-minter commented on #17659
I think this looks very similar to #16732 - still looking, but seems highly likely the failure is occurring in the generic k8s BeforeEach.  If so, nothing to do with builds at all.

[2017-12-07 14:50] zonArt opened #17660 "How to customize template metadata.annotations.tags"
Hi,

I've a very simple question: Is it possible to create some custom metadata.annotations.tags within openshift template (in order that they don't fall into the default "Uncategorized" if none is matching what you want) ? If yes how ?

Thank you in advance

[2017-12-07 15:11] enj commented on #17596
@adelton @mrogers950 @simo5 any thoughts on adding some generic conflict handling to the policy commands?  They already handle races with regards to creation of objects.

[2017-12-07 16:11] simo5 commented on #17596
@enj I have no objection if this is not going to cause unexpected (fail open) results

[2017-12-07 16:26] jim-minter commented on #17611
@sdodson @ewolinetz I'm concerned that this is an issue that will need to be addressed in 3.7 - have a report on IRC:
[code]

[2017-12-07 16:55] bparees opened #17665 "github.com/openshift/origin/vendor/k8s.io/apiserver/pkg/registry/generic/registry TestStoreCreateInitialized"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17661/test_pull_request_origin_unit/6638/

[2017-12-07 16:57] bparees commented on #14261
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17661/test_pull_request_origin_cmd/7138/

@deads2k can the test be loosened to tolerate the counting problem?

[2017-12-07 17:59] jim-minter opened #17667 "[k8s.io] Projected should update annotations on modification"
[code]

[2017-12-07 17:59] jim-minter commented on #17667
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17219/test_pull_request_origin_extended_conformance_install/3678/

[2017-12-07 18:09] #17629 closed

[2017-12-07 18:17] pweil- commented on #17633
@kaveh981 unfortunately this is not the best location for general support.  I would suggest stack overflow or the dev mailing list.

That said, usually when a route is showing unavailable for the app it is because endpoints are not available.   I would take a look at the following:

1.  Your service is using the right selector
2.  `oc get endpoints <service name>` shows the ips of the pods
3.  the

[2017-12-07 18:17] #17633 closed

[2017-12-07 18:20] pweil- commented on #17639
as this is already tracked in Bugzilla I am closing the GH issue.  Thanks for providing the link!

[2017-12-07 18:20] #17639 closed

[2017-12-07 18:28] pweil- commented on #17660
Hi @zonArt.  Since this is for reporting bugs/issues please submit this question to the mailing list or stack exchange.  Thanks!

[2017-12-07 18:28] #17660 closed

[2017-12-07 18:29] pweil- commented on #17667
Dupe: https://github.com/openshift/origin/issues/17556

[2017-12-07 18:29] #17667 closed

[2017-12-07 18:31] kaveh981 commented on #17633
@pweil- ok right for the next time
so the pod is running as the screen shot shows and i put a console.log in the code to show me on which ip and port is it running basically this is the whole code just for test:
[code]
<img width="1033" alt="screen shot 2017-12-07 at 1 24 47 pm" src="https://user-images.githubusercontent.com/12487716/33731845-67da9958-db52-11e7-8bcd-41315ca45f1d.png">

it means th

[2017-12-07 18:33] kaveh981 commented on #17633
I'll take this to overflow

[2017-12-07 18:38] #17558 closed

[2017-12-07 18:42] bparees commented on #17523
@Jens-vd can you confirm via the pod.yaml what the service account is for the pod?

I think there are also some issues/changes in 3.7 w/ the format of the dockercfg secret to be used.  The old .dockercfg format is no longer accepted and only the docker/config.json format is allowed.  Can you show us your secret content (redacting the token value of course)?  And/or show us how you're creating your

[2017-12-07 19:27] jim-minter commented on #11114
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17666/test_pull_request_origin_extended_conformance_install/3727/

[2017-12-07 19:31] gabemontero commented on #17488
centos image has the diagnostic update

given intermittent nature of this one (i believe it has only happened the one time that lead to the opening of this issue) closing this out ... if we see again, we can open a new issue and should have diags to better drill down the root cause

[2017-12-07 19:31] #17488 closed

[2017-12-07 19:37] enj commented on #17644
Please provide your master config and a minimum reproducer (something like a docker container with the LDAP bits set up).

[2017-12-07 20:05] simo5 commented on #17644
@mangokingTW before providing a reproducer, may I ask why don't you just configure your server to offer only TLS ciphers of your chosing so the client/server negotiation ends up selecting only ciphers you want, rather than letting TLS negotiate any random cpher and then fail to pass the minimum SSF requirement ?

[2017-12-07 20:21] dsutherland1492 commented on #15920
Has anyone solved this?  Experiencing same behavior on OpenShift enterprise 3,6

[2017-12-07 20:33] evanshortiss opened #17669 "hawkular metrics not starting"
When I run `oc cluster up --metrics=true` metrics fails to start. I'm running on macOS 10.12.6 (Sierra)

##### Version
[code]

##### Steps To Reproduce
1. Run `oc cluster up --metrics=true`

##### Current Result
Metrics appears to not be starting.

##### Expected Result
That metrics will be available.

##### Additional Information
Opening the hawkular link using the "Open Metrics URL" in the OpenS

[2017-12-07 21:00] mangokingTW commented on #17644
@enj My problem is about origin its own identity provider, not about the docker.
And this is the configuration of my LDAPPasswordIdentityProvider:
[code]
As much as I know, there is no coloumn for the TLS encryption algorithm.
====
@simo5
I am trying to make origin negotiate with OpenLDAP server by using AES256, but it's failed.
If I downgrade ssf to 128, it works.
However, I wonder why can't orig

[2017-12-07 22:07] gnufied opened #17672 "Panic Error in disruption controller"
Just saw this on latest build from origin:

[code]

[2017-12-07 22:12] gnufied commented on #17672
I think this should be pretty easy to fix, the panic is because the listing is being set after adding the event handler and sometimes that can cause problems if cluster already had pods.

[2017-12-07 22:23] simo5 commented on #17644
@mangokingTW as far as I know the SSF value in openLDAP does not influence the algorythm selection, it only enforces post-facto a security strenght factor. This means that if your server offers AES-128 and the client and the server prefer that, then TLS will negotiate AES-128 and only then the server will fail.
@tiran can you tell if my recollection is correct, given you recently dived in openldap

[2017-12-07 22:30] ewolinetz opened #17673 "Deploymentconfig trigger: {} value not allowed"
When trying to disable the config change trigger by providing an empty trigger spec, a value that I used on a 3.6.1 server no long works on a 3.9.0-alpha server.

##### Version
oc v3.9.0-alpha.0+f9f2130-61
kubernetes v1.8.1+0d5291c
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://ip-172-18-3-182.ec2.internal:8443
openshift v3.9.0-alpha.0+f9f2130-61
kubernetes v1.8.1+0d5291c

##### Steps

[2017-12-07 22:57] gnufied commented on #17672
This appears to be a recurring problem. Noticed similar panic error from daemon controller.

[2017-12-07 23:16] stevekuznetsov opened #17675 "oc new-build: can't figure out how to specify image stream to overwrite FROM"
I'm trying to create a `Build` that will take in source from one image and use another image as the build FROM. I've got this:
[code]

So I add the `--strategy=docker` and I get:

[code]

This seems wonky.

/kind bug
/cc @bparees @csrwng

[2017-12-07 23:22] bparees commented on #17675
i'm not sure it's possible to use new-build to create a buildconfig w/ just image inputs, which it sounds like is what you're trying to do.

and if that's the case, this is "won't fix" because there's only so much flexibility we're going to put into oc new-build.  At some point you have to just sit down and write the buildconfig yaml yourself because the tool isn't going to do it for you.

[2017-12-07 23:25] bparees commented on #17675
also what kind of build are you actually trying to do?  a docker build or an s2i build?  if it's a docker build, where is your dockerfile supposed to come from?

[2017-12-07 23:41] gordillo-ramon-redhat opened #17676 "Origin ansible dockerhub images missed the third digit version from v3.6"
Metrics for origin fails to be deployed due to misalignment between origin versions and ansible ones. From dockerhub:

origin | origin-ansible
-- | --
latest | latest
v3.9.0-alpha.0 | v3.9
v3.8.0-alpha.1 | v3.8
v3.7.0 | v3.7
v3.8.0-alpha.0 |  
v3.7.0-rc.0 |  
v3.6.1 | v3.6.1
v3.7.0-alpha.1 | v3.7.0-alpha.1
v3.6.0 | v3.6.0

That makes that oc cluster up and minishift cannot start metrics and loggin

[2017-12-07 23:43] stevekuznetsov commented on #17675
This is the type of build I would like to create:

[code]

[2017-12-07 23:45] stevekuznetsov commented on #17675
So for that example I was hoping

[code]

Would get me what I want

[2017-12-07 23:50] juanvallejo commented on #17632
@fabianofranz I suspect that the `ingress` resource is not in the `all` api category?
Would it be reasonable to add it?

[2017-12-07 23:58] stevekuznetsov commented on #17675
FWIW I would also love to keep using `oc` as my YAML generator.

[2017-12-08 00:20] bparees commented on #17675
so there's a dockerfile inside is:src/path ?

[2017-12-08 00:21] stevekuznetsov commented on #17675
Yes

[2017-12-08 00:23] bparees commented on #17675
you could try passing --binary
I forget if we let you launch a binary build w/o actually supplying binary content.

[2017-12-08 00:23] bparees commented on #17675
(along with --strategy=docker)

[2017-12-08 00:24] stevekuznetsov commented on #17675
Yep, that works!

[2017-12-08 00:25] stevekuznetsov commented on #17675
/close

This was a user error (but maybe the message could suggest something -- the first error was 100000x amazing since it suggested `--strategy=docker`).

[2017-12-08 00:27] stevekuznetsov commented on #17675
/reopen

Wait no with `--binary --strategy docker` I get:

[code]

I was too eager.

[2017-12-08 00:29] bparees commented on #17675
well that's certainly not right.

[2017-12-08 00:31] bparees commented on #17675
Seems like there are two bugs:

1) --binary is ignoring the --strategy=docker flag
2) providing an image input should count for purposes of supplying "source" (you shouldn't have to pass --binary to trick oc new-build into creating the build w/o providing an explicit source repo)

[2017-12-08 00:43] tiran commented on #17644
AFAIK SSF is for SASL, not for TLS. At least I only know the TLA *SSF* from SASL configuration only, https://www.cyrusimap.org/sasl/sasl/authentication_mechanisms.html

From http://www.openldap.org/software//man.cgi?query=ldap_get_option&sektion=3&apropos=0&manpath=OpenLDAP+2.4-Release

[code]

**wild guess** If you increase SASL SSF, then you must make sure that the TLS handshake establishes a co

[2017-12-08 01:00] mangokingTW commented on #17644
Thanks all of you.
I messed up something.
After changing TLSCipherSuite to AES256 in slapd.conf, `oc login` works fine.
The old one settings (High:TLSv1.2) works with other ldap clients, but I don't know why.

[2017-12-08 01:05] #17644 closed

[2017-12-08 01:45] davistran86 opened #17677 "Origin 3.7 - Missing Database, CI/CD, Others in front page Catalog"
I just install a new openshift origin cluster v3.7, and I noticed that I'm missing a lot of templates in web console catalog like database, CI/CD, Others. How can i get them to display there ?

![image](https://user-images.githubusercontent.com/23651625/33747151-db27b282-dbf3-11e7-98fb-23c6558cf583.png)

I still see them installed using oc get template -n openshift

[code]

##### Version
Openshift

[2017-12-08 02:06] stevekuznetsov opened #17678 "rbac: self-provisioner doesn't help serviceaccounts to create projects"
What's going on here?

[code]

/cc @enj @deads2k @liggitt

[2017-12-08 02:09] stevekuznetsov commented on #17678
Should be a cluster role, nvm.

/close

[2017-12-08 02:09] #17678 closed

[2017-12-08 05:31] jtower525 commented on #17611
jim i have the same setup as pschiffe and opened a redhat case 01989456 earlier today

[2017-12-08 06:24] mibaboo opened #17679 "oc new-app give an error unauthorized: authentication required"
I have an image on my local Docker server "test/hello" . When I try to create a new app using this docker image it does not deploy. I get the error in oc events

So for testing purposes I downloaded the docker.io/openshift/hello-openshift
and ran
`oc new app docker.io/openshift/hello-openshift`
This works as expected.
If I tag this docker image test/hello
and run new-app
`oc new app test/hello`

I

[2017-12-08 08:45] kargakis commented on #17330
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17662/test_pull_request_origin_extended_conformance_gce/12607/

[2017-12-08 10:05] valentinabojan commented on #17523
@bparees I will paste the command that we used to create the secret (for @Jens-vd)

[code]

[2017-12-08 13:25] tnozicka opened #17682 "[k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] [Suite:openshift/conformance/serial] [Suite:k8s] 10m9s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_extended_conformance_gce/12622/

[code]

[2017-12-08 14:02] soltysh commented on #17673
@mfojtik started looking into it, so I'll assign it to him.

[2017-12-08 14:10] tnozicka opened #17684 "Flake: hack/build-images.sh fails with "stat examples/gitserver/bin/gitserver: no such file or directory""
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17620/test_pull_request_origin_extended_conformance_install/3776/

[code]

[2017-12-08 14:24] simonpasquier opened #17685 "Prometheus example can't get metrics from the router instance"
I've deployed the Prometheus application from the examples directory and I've noticed that Prometheus discovers the router instance but scraping fails.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. Instantiate the template fro

[2017-12-08 14:33] simonpasquier commented on #17685
AFAIU this relates to https://github.com/prometheus/prometheus/issues/2614.  The 500 error is what the router returns for unauthenticated requests (tested manually from a browser). The Kubernetes service discovery can't use relabeling to override the authentication parameters used during scraping as the [example](https://github.com/openshift/origin/blob/b5918211e28031558baaeaf8b0348adc8e21ce89/exa

[2017-12-08 14:41] tnozicka commented on #17682
again https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_extended_conformance_gce/12627/

[2017-12-08 14:55] simo5 commented on #17644
@mangokingTW as far as I know the SSF value in openLDAP does not influence the algorythm selection, it only enforces post-facto a security strenght factor. This means that if your server offers AES-128 and the client and the server prefer that, then TLS will negotiate AES-128 and only then the server will fail.
@tiran can you tell if my recollection is correct, given you recently dived in openldap

[2017-12-08 14:56] simo5 commented on #17644
@tiran @mangokingTW , ignore, I had the comment in the buffer and inadvertently clicked submit before realizing the issue had already been closed

[2017-12-08 15:49] bparees commented on #17523
@mfojtik @sjenning @pweil- I can never remember, does the secret need to be linked to the pod's service account in order for it to be able to use a particular secret when pulling the image?

What other debug can we do to determine why it would appear that the secret is not being picked up when the pod attempts to pull the image?  (Or is there a way to see what secret the pod *is* using when it att

[2017-12-08 15:59] php-coder commented on #17679
@openshift/sig-developer-experience

[2017-12-08 16:23] tnozicka commented on #17682
again https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_extended_conformance_gce/12631/

[2017-12-08 16:25] tnozicka commented on #17682
blocking queue for release-3.7

[2017-12-08 16:34] vindvaki opened #17691 "A lot of actions are (wrongly) forbidden since upgrading `oc` from `3.6` to `3.7`"
A lot of actions have become forbidden since upgrading from `3.6` to `3.7`.

##### Version
[code]

##### Steps To Reproduce
(after logging in successfully):
[code]

##### Current Result
[code]

where the actual values of `$PROJECT` and `$USER` can vary

##### Expected Result

It should trigger a rollout as it used to with version `3.6`

##### Additional Information

The diagnostics were pretty use

[2017-12-08 16:43] php-coder commented on #17684
Hm.. it should be fixed already (https://github.com/openshift/origin/issues/17345).

CC @jupierce

[2017-12-08 16:45] php-coder opened #17692 "Reconcile with RBAC file step fails with error unknown shorthand flag: 'f' in -f""
[code]

Seen there: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17687/test_pull_request_origin_extended_conformance_install/3790/

[2017-12-08 16:45] php-coder commented on #17692
CC @stevekuznetsov

[2017-12-08 17:23] enj commented on #17692
Uh from the error output it also looks like the entire `reconcile` command is missing from under `oc auth`?

cc @simo5 @deads2k @juanvallejo

[2017-12-08 17:25] enj commented on #17692
Also do pipes / stdout / stderr work correctly when a command is run like this?

[2017-12-08 17:39] simo5 commented on #17692
Uhmm why are there escaped quotes around the file name ? is that right ?

[2017-12-08 17:43] enj commented on #17691
@vindvaki could you provide details on how you upgraded?  For example, did you use ansible?  Did the 3.7 server reconcile RBAC on start? (you will see this on start up).

cc @simo5

[2017-12-08 17:48] enj commented on #16008
Seen in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_extended_conformance_install/3574/

[2017-12-08 17:53] bparees commented on #16008
@enj different issue.  you hit https://github.com/openshift/origin/issues/17330

[2017-12-08 17:53] #16008 closed

[2017-12-08 17:53] enj opened #17693 "[Feature:Prometheus][Conformance] Prometheus when installed to the cluster should start and expose a secured proxy and unsecured metrics [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_extended_conformance_gce/12593/#featureprometheusconformance-prometheus-when-installed-to-the-cluster-should-start-and-expose-a-secured-proxy-and-unsecured-metrics-suiteopenshiftconformanceparallel

[code]

[2017-12-08 17:54] enj opened #17694 "[Feature:Prometheus][Feature:Builds] Prometheus when installed to the cluster should start and expose a secured proxy and verify build metrics [Suite:openshift/conformance/paralle]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_extended_conformance_gce/12491/

[code]

[2017-12-08 17:57] bparees commented on #17694
@gabemontero is this another race where something else produced metrics in the cluster that we didn't expect to see in our test?

[2017-12-08 17:57] enj opened #17695 "[Feature:Builds][Conformance] s2i build with a quota Building from a template should create an s2i build with a quota and run it [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_extended_conformance_install/3767/

[code]

[2017-12-08 17:58] bparees commented on #17695
Issue w/ getting the pod logs, so sending to pod team.

[2017-12-08 18:00] bparees commented on #17695
note that despite what this claims:
[code]

the pod does exist and has run:
[code]

(I think there may already be an issue for this.  Likely related to GC cleaning up the containers too quickly/aggressively or something)

[2017-12-08 18:01] enj opened #17696 "[Feature:DeploymentConfig] deploymentconfigs when run iteratively [Conformance] should only deploy the last deployment [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_extended_conformance_gce/12598/

[code]

[2017-12-08 18:01] enj commented on #17696
cc @bparees

[2017-12-08 18:05] enj opened #17697 "[k8s.io] Projected should update labels on modification [Conformance] [sig-storage] [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_extended_conformance_install/3778/

[code]

Maybe related to https://github.com/kubernetes/kubernetes/issues/44227 ?

[2017-12-08 18:06] bparees commented on #17696
dupe of https://github.com/openshift/origin/issues/17581

[2017-12-08 18:06] #17696 closed

[2017-12-08 18:10] enj opened #17698 "k8s.io/kubernetes/pkg/kubelet/deviceplugin TestDevicePluginReRegistration"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17617/test_pull_request_origin_unit/6710/

[code]

[2017-12-08 18:36] juanvallejo commented on #17692
@enj

Yeah, will try to look into this

Usually the [resource builder "FilenameParam"](https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/kubectl/cmd/auth/reconcile.go#L98) takes care of reading from stdin if `-` is passed

@simo5

Yeah, I believe this should not impact the filepath parsed by `process`

[2017-12-08 18:40] juanvallejo commented on #17692
If I'm reading the linked logs correctly, it looks like the tests are using oc ~v3.6?
If so, only `can-i` was available under `oc auth` back then https://github.com/openshift/origin/blob/release-3.6/vendor/k8s.io/kubernetes/pkg/kubectl/cmd/auth/auth.go

[2017-12-08 18:42] simo5 commented on #17692
then that's the bug, oc v3.7 is needed here

[2017-12-08 19:21] tnozicka commented on #17684
this PR was for release-3.7 branch and it doesn't have https://github.com/openshift/origin/pull/17373

[2017-12-08 19:52] bparees commented on #17679
"test/hello" only exists on your local machine, it doesn't exist in a registry, thus openshift cannot pull it and run it.

You need to push your image to a registry (such as dockerhub) and reference it at that location.

if you can't "docker pull foo/bar" then you can't run it on openshift either.  Tagging it locally isn't sufficient.

[2017-12-08 19:52] #17679 closed

[2017-12-08 20:00] vindvaki commented on #17691
Thanks for the quick response @enj !

I think I should clarify my situation: This is only after an upgrade of the Client (`oc`). I installed `openshift-cli` via homebrew; I am on macOS Sierra (not High Sierra), and this is broken after a `brew upgrade openshift-cli.

Does your question still apply? If it does, could you please clarify what you meant by "server" and how I can find out if it "reconc

[2017-12-08 20:25] stevekuznetsov commented on #17692
That was a PR against `release-3.6`. Newer OC is not appropriate. Looks like the wrong version of the installer was used

[2017-12-09 07:41] eliu opened #17703 "`oc cluster up --host-volumes-dir` Not Working"
The option `--host-volumes-dir=/path/to/custom/volumes/dir` does not work when using `oc cluster up` to launch a all-in-one openshift origin cluster.

##### Version
[provide output of the `openshift version` or `oc version` command]

[code]

##### Steps To Reproduce
1. launch origin using `oc cluster up --host-volumes-dir=/path/to/dir`

##### Current Result
The origin still uses `/var/lib/origin/o

[2017-12-09 10:07] GrahamDumpleton opened #17704 "oc new-build running language detection when shouldn't."
If I run:

[code]

then ``oc new-build`` should not be doing language detection as I have explicitly told it source strategy is to be used and what the image stream for the builder is.

It is instead pulling down the repo and then giving error:

[code]

If instead use:

[code]

it works fine and creates the build.

The latter doesn't even attempt to pull down the git repo locally.

Can't see why l

[2017-12-09 10:30] ToroNZ commented on #17459
Same problem, it started working after hard coding the ip in /etc/hosts as @mlbiam metioned.

[2017-12-10 06:06] #17658 closed

[2017-12-10 10:35] hrishin opened #17705 "application redeployment is getting failed for OpenShift v3.7"
In redeploying scenario on OpenShift v3.7/minishift v1.7.0 may be Deployment/DeploymentConfig is not happening correctly.
Its unable to pull the images from OpenShift's internal registry as pod status keeps shuffling between ErrImagePull/ImagePullBackOff for a long time before pod comes up. Tough it looks like imagestream build happening correctly.

https://github.com/fabric8io/fabric8-maven-plugi

[2017-12-11 08:31] vindvaki commented on #17691
Ok, just verified that downgrading to 3.6.1, everything works again.

[2017-12-11 09:24] Jens-vd commented on #17523
@bparees Here is more detailed information regarding our configurations.

Configuration of the service account:

`$ oc describe sa <custom-service-account>
Name:		<custom-service-account>
Namespace:	<custom-project>
Labels:		<none>
Annotations:	kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"v1","kind":"ServiceAccount","metadata":{"annotations":{"kubernetes.io/change-cause":"oc app

[2017-12-11 09:49] mfojtik commented on #17570
@sjenning @smarterclayton yeah, on OSX this is broken, the `oc cluster up` fails with:

[code]

[2017-12-11 10:03] mfojtik commented on #17570
I think I found the problem... It seems to be related to version detection for Docker on Mac (it use different semver...)

[2017-12-11 10:21] mfojtik commented on #17570
Alright, pebkac... I had some old `oc` for testing stuff in 3.6 branch... The detection is enabled starting at version 3.7...

[2017-12-11 10:25] mfojtik opened #17708 "oc export gives legacy api resources, should produce group api"
When using `oc export` the openshift resources returned have `apiVersion: v1`.

Example:

[code]

This should be `apps.openshift.io/v1` ?

@deads2k @sttts

[2017-12-11 11:31] rhuss commented on #13197
@bparees @derekwaynecarr Any news on this ?

[2017-12-11 11:54] mfojtik commented on #17708
@deads2k actually all `oc` calls perform `/oapi/v1` calls and `-o yaml` use `apiVersion: v1` in the master branch. I think we must broke something?

[2017-12-11 12:37] ingvagabund commented on #16746
Oct  9 04:01:59.404: INFO: Log for pod "dancer-mysql-example-1-jnvfq"
 ---->
json: cannot unmarshal array into Go value of type types.ContainerJSON
<----end of log for "dancer-mysql-example-1-jnvfq"

The error message ``json: cannot unmarshal array into Go value of type types.ContainerJSON`` is part of the container logs as is signified by the starting ``---->`` and ending ``<----end of log for "d

[2017-12-11 12:42] ingvagabund commented on #16746
This pretty looks to me as a docker bug. @lsm5 @runcom after some googling I found discussions saying the problem could be caused by a wrong version of the runc: https://github.com/docker/for-linux/issues/61#issuecomment-316067468

[2017-12-11 13:25] michalkutyla opened #17712 "Pipeline is visualised with wrong order"
Openshift Pipeline is executed in correct order. However it is incorrectly visualized.

##### Version
-> oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
Create a pipeline in openshift.

Jenkins file:
[code]

##### Current Result
Stages are visualised in wron

[2017-12-11 13:27] michalkutyla commented on #17712
It is also incorrectly visualized in Jenkins:
![screen shot 2017-12-11 at 14 24 29](https://user-images.githubusercontent.com/151397/33833235-5ae2792a-de7f-11e7-95e8-c7449905c0ac.png)

[2017-12-11 14:12] jffz commented on #17598
Here is the verbose version of the playbook run. Attached it as it's *a bit* huge

[openshift.log](https://github.com/openshift/origin/files/1548057/openshift.log)

[2017-12-11 14:14] ingvagabund commented on #16746
[code]

[2017-12-11 14:51] bparees commented on #13197
/cc @sjenning

[2017-12-11 15:08] enj commented on #17481
@mfojtik @pweil- @eparis @simo5 @liggitt marking this as P1 since we have 0 coverage for GSSAPI without these tests.

[2017-12-11 15:14] enj commented on #17698
@eparis @pweil- bumping this to P1 since I have seen it flake unit tests a lot.

[2017-12-11 16:00] tnozicka commented on #17595
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17713/test_pull_request_origin_extended_conformance_install/3886/

@sjenning any progress on this?

[2017-12-11 16:05] tnozicka commented on #17631
@mfojtik I think those are 2 different flakes

in the first case this is either journald (@soltysh ?) or docker logs issue because the deployer pod completed succesfully
[code]

in the second case it got stuck on failed (regular) pods:
[code]
not really sure how `/bin/bash sleep 10` could fail with ` Back-off restarting failed container` so this is likely something wrong on a pod/infra level

[2017-12-11 16:17] coreydaley commented on #17330
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/304/testReport/junit/(root)/Extended/_Feature_Builds__Conformance__build_without_output_image__building_from_templates_should_create_an_image_from_a_docker_template_without_an_output_image_reference_defined__Suite_openshift_conformance_parallel_/

[2017-12-11 16:19] coreydaley commented on #17330
@rhvgoyal Do you have any updates on resolving this issue?

[2017-12-11 16:30] derekwaynecarr commented on #17330
@jwhonce -- what do you think about also moving to overlay in this test environment?

[2017-12-11 16:37] csrwng commented on #17548
nip.io is working now, but yes we should look for an alternative that doesn't force us to depend on them.

[2017-12-11 16:37] csrwng commented on #17548
/assign @mfojtik

[2017-12-11 16:50] coreydaley opened #17714 "mkdir: cannot create directory '/var/lib/pgsql/data/userdata': Permission denied"
Looks like maybe an issue writing to the persistent volume.

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/314/testReport/junit/(root)/Extended/_image_ecosystem__postgresql__Slow__local__openshift_postgresql_replication__postgresql_replication_works_for_postgresql_9_2__Suite_openshift_/

##### Version
oc v3.6.0-rc.0+d1561b6-2902
kubernetes v1.8.1+0d5291c
f

[2017-12-11 16:59] sjenning commented on #16245
same as https://github.com/openshift/origin/issues/16211.  tracking there.

[2017-12-11 16:59] #16245 closed

[2017-12-11 17:03] smarterclayton commented on #17693
This means that the build and the prometheus tests ran in parallel at the same time.

[2017-12-11 17:05] coreydaley commented on #17487
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/314/testReport/junit/(root)/Extended/_image_ecosystem__jenkins__Slow__openshift_pipeline_plugin_jenkins_plugin_test_context___jenkins_plugin_test_create_obj_delete_obj__Suite_openshift_/

[2017-12-11 17:13] jocelynthode opened #17715 "Attach a storage class to a specific project"
Hi,

I'm currently using Openshift v3.6.0. I would like to use storage classes to quickly provision new PV, however I would like my Storage Classes to be linked to a project. This way users from project Y could not see that a storage class for project X exists (and thus would not know that project X exists).

Is there a way to achieve this currently ?

[2017-12-11 17:22] vikaschoudhary16 commented on #16246
was this flake noticed recently? I am not able to notice it in past couple of days.

[2017-12-11 17:34] sjenning commented on #16211
docker is trying to create a directory under `/var/lib/docker/volumes` because the Dockerfile for the mysql image being used has a VOLUME declaration for the mysql data directory.  If the pod spec does not have an overriding volumeMount for this path, docker attempts to create a local volume for it under `/var/lib/docker/volumes`.

[2017-12-11 17:52] bparees commented on #17693
@gabemontero @smarterclayton so it sounds like both tests need to be updated to tolerate the existence of the service account/prometheus installation.  (Unless the build test already does).

[2017-12-11 18:20] coreydaley opened #17716 "oc cluster up: did not find version in command output"
Unable to reproduce locally, will continue to monitor tests to see if it was just a one time flake

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_clusterup/55/consoleFull#-4939476675898c58db7602c31c0eab717

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. oc cluster up --loglevel=2

##### Current Result
   Crea

[2017-12-11 18:30] bparees commented on #17716
Seems like we need to run at a higher log level or add more logging to cluster up in order to understand what is actually happening when this goes wrong.  Can you look into that?

[2017-12-11 18:50] sjenning commented on #16211
For images that are built with docker VOLUME, you will need to mount a volume on that path.

https://docs.openshift.com/container-platform/3.7/dev_guide/deployments/deployment_strategies.html#pod-based-lifecycle-hook

You can add the volume from the pod spec into the hook pod with the `--volumes` option.

[2017-12-11 18:50] #16211 closed

[2017-12-11 19:09] pweil- commented on #17715
Hi @jocelynthode storage classes are a cluster-scoped object and are do not exist in the project scope.  There is no way to tie them specifically to a project.

[2017-12-11 19:09] #17715 closed

[2017-12-11 19:24] pweil- commented on #17705
Are you saying that it stays in backoff for some time and then it can all of a sudden pull the image again?
What errors is it getting from the registry during the fail-to-pull scenario?  Is the deployment being launched by a trigger?  If you can link to the DC that will help folks debug.  Thanks!

[2017-12-11 19:33] abhgupta commented on #17455
The issues should now all be resolved and you should be able to create your application.

[2017-12-11 19:37] pweil- commented on #17347
consolidating to https://github.com/openshift/origin/issues/17676

[2017-12-11 19:37] #17347 closed

[2017-12-11 19:38] pweil- commented on #17669
likely https://github.com/openshift/origin/issues/17676, let's track with that issue.

[2017-12-11 19:38] #17669 closed

[2017-12-11 19:47] bparees commented on #17704
dupe of https://bugzilla.redhat.com/show_bug.cgi?id=1470374

[2017-12-11 19:47] #17704 closed

[2017-12-11 19:51] bparees commented on #17714
Seems likely to be an issue with whatever/however PVs are configured in the test cluster, or getting the permissions set correctly when the volume is mounted to the pod.

[2017-12-11 19:51] pweil- commented on #17712
If this is rendering as it does in Jenkins then it appears there could be an issue with how the data is retrieved from Jenkins, this should be reported upstream.   I do not think this is a bug in OpenShift itself so closing for now.  cc @gabemontero feel free to reopen if you disagree.

[2017-12-11 19:51] #17712 closed

[2017-12-11 19:53] pweil- commented on #17677
This appears to be a configuration question rather than a bug report.  Closing the issue but please reach out to the dev mailing list or stack exchange to get some help.  Thanks!

[2017-12-11 19:53] #17677 closed

[2017-12-11 19:53] bparees commented on #17714
The PV is actually created by the test itself:
https://github.com/openshift/origin/blob/master/test/extended/util/framework.go#L1079-L1122

and we did have to change the chcon rules at some point to ensure it was writable, but assuming this is only failing intermittently, that should not be the issue here.

[2017-12-11 19:56] bparees commented on #17714
@coreydaley I don't see the error you quoted (`cannot create directory`) in the logs you linked.

[2017-12-11 20:07] gabemontero commented on #17712
that sounds right @pweil-

the sync plugin passes the same metadata to the openshift UI that the jenkins UI leverages, so it makes sense that if there is an upstream jenkins problem the openshift UI would be impacted as well

[2017-12-11 20:27] enj commented on #17691
@vindvaki you have probably not reconciled cluster roles after upgrading.  In 3.6-, this must be manually done.  So with your 3.6 client, run:

`oc adm policy reconcile-cluster-roles --additive-only=true`

This will do a dry run and show you all the cluster roles it plans to update.  Run it with `--confirm` to commit the changes.  After this your 3.7 client should work fine.

Note that a lot of ch

[2017-12-11 20:38] coreydaley commented on #17714
@bparees the cannot create directory came from my machine, i was able to duplicate the error locally.

[2017-12-11 22:00] jcantrill commented on #17676
@sdodson @jupierce How do we get the ansible images tagged?.  @wozniakjan do you know if our release job allows us to build a specific commit and tag it with a specific tag?

[2017-12-11 22:30] bparees commented on #15731
at this point we're going to move forward with N-1 support.  For the moment nothing enforces this(you want get warned/errored if you stand up an older cluster), but the oc client doesn't guarantee anything beyond N-1 compatibility, so if you use a v3.x client to stand up a v3.(x-2) cluster, there is no guarantee your oc client will even be able to talk to that cluster.

[2017-12-11 22:30] #15731 closed

[2017-12-11 22:52] matthewpdias commented on #14631
+1 I just ran into this today, and I was expecting the external tags to be imported.

[2017-12-11 23:43] enj opened #17718 "Audit failures due to no context"
[code]

@eparis can provide better logs, but this is all the data I have.

cc @smarterclayton

[2017-12-12 00:31] bparees commented on #16735
@coreydaley i would hope this is an easy fix (that we're just not properly checking a return code on pulling the image).

[2017-12-12 00:32] bparees commented on #17548
this is working again and we're not going to be the ones to drive a replacement for nip.io

[2017-12-12 00:32] #17548 closed

[2017-12-12 02:15] woopla commented on #17370
Hi @xiaods  sorry about the delay. Let's say I'm user1 on Linux. I'm also a member of group1. I have access to a large NFS share called `/data` that is available to all members of group1.

It would be great that all the projects that I create on Origin run as user1 (the user I'm logging  in through LDAP on Origin), because then I'd have access to this /data NFS share, without needing the Origin ad

[2017-12-12 03:18] linzhaoming commented on #16193
Using following command, solve my problem.
[code]
But should it provisioned with the ansible install?

My Version:
[code]

[2017-12-12 03:23] sjenning commented on #17523
Honestly, I'd need to look into it more.  I can recreate this situation though; that being an image pushed to the internal registry from outside the cluster and can't deploy pods that reference that image because whatever is doing the pulling is not authorized (resolves to system:anonymous) according to the internal registry logs.

I did notice that the `error authorizing context: authorization he

[2017-12-12 03:46] liggitt commented on #17523
presumably the URL used to reference the registry inside and outside the cluster is different? are you manually creating the image pull secret for use inside the cluster

[2017-12-12 04:10] sjenning commented on #17698
@vikaschoudhary16 PTAL.  coming from the device plugin tests.

[2017-12-12 04:18] sjenning commented on #13197
Init containers were alpha in 3.3 IIRC and not fully baked.  Can this be reproduced against 3.7?

[2017-12-12 04:29] sjenning commented on #17638
When I try, I get this error event on all pods:
[code]
@jsafrane likely a problem with containerized node mounting volume.  Any help?

[2017-12-12 04:47] sjenning commented on #17651
Node logs show that the `mysql-slave` PVC is in `Pending` state.  Seems that a PV is not available for binding.

[code]
controller logs confirm there is no volume available
[code]

[2017-12-12 05:10] sjenning opened #17721 "e2e core.sh: executing 'oc logs dc/failing-dc' expecting success"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17479/test_pull_request_origin_end_to_end/6613/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17553/test_pull_request_origin_end_to_end/6603/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17479/test_pull_request_origin_end_to_end/6606/

https://openshift-gce-devel.app

[2017-12-12 06:07] wewang58 commented on #17716
@coreydaley I cannot reproduce your issue, here is my result:
# oc cluster up --loglevel=2
-- Checking OpenShift client ...
-- Checking Docker client ...
-- Checking Docker version ...
-- Checking for existing OpenShift container ...
-- Checking for openshift/origin:v3.7.0-rc.0 image ...

   Pulling image openshift/origin:v3.7.0-rc.0
   Pulled 2/4 layers, 51% complete
   Pulled 3/4 layers, 93% com

[2017-12-12 07:32] albgus commented on #17593
I had the same issue. Turned out that it was because my load balancer (AWS ALB) in front of the routers doesn't pass TLS SNI headers. Since the registry and console is using a passthrough route the routers only look at the SNI header.

[2017-12-12 07:50] iocanel commented on #13197
That's a good question. I will try and let you know.

[2017-12-12 08:01] wewang58 commented on #17714
I tried, pvc is always pending, cannot mount any pv, pv is automaticlly created in origin now?

[2017-12-12 08:39] bnusunny commented on #15751
We have exactly the same issue.

[2017-12-12 08:47] iocanel commented on #13197
Since March, when I initially opened the issue a lot of things have changed, including our templates which no longer make use of init containers. So we are no longer exposed to that issue and thus I think its best to close the issue.

[2017-12-12 08:47] #13197 closed

[2017-12-12 09:08] cjsrinivas commented on #6283
This is a problem, since a project export and restore, through oc export and oc create commands fail, because the image streams are pointing at the wrong service ip for the image stream. Is there a solution for this, since getting to move 7 production OSE instances to 3.6 is not an immediate option.

[2017-12-12 09:11] wozniakjan commented on #17676
@jcantrill not at the moment, but it shouldn't be too difficult to change it so it does

[2017-12-12 09:19] vikaschoudhary16 commented on #17698
There are known race conditions in the way this test is currently written. Here is the PR upstream to fix its behavior:
https://github.com/kubernetes/kubernetes/pull/52616

[2017-12-12 09:43] miminar commented on #6283
@cjsrinivas Exporting image streams is a complex topic with no perfect solution. Is the purpose of export a backup of the current state of current cluster? Or should the exported streams point to a new registry in another cluster with migrated images? Or should it be imported in other cluster with URLs pointing back to the original registry's external URL in order to use pullthrough to migrate the

[2017-12-12 09:52] wewang58 commented on #17703
I used oc v3.6.0+c4dd4cf, the origin uses dir which I pathed.

[2017-12-12 09:54] eliu commented on #17703
@wewang58 Strange it is. Have you already checked the logs of the origin container?

[2017-12-12 10:07] wewang58 commented on #17703
@eliu I didn't see info about volume path, but can see dir's size are larger ,and default volume dir size is no change, how do you check using default volume path?

[2017-12-12 10:12] wewang58 commented on #17703
just info : Checking type of volume mount ...
   Using nsenter mounter for OpenShift volumes

[2017-12-12 10:27] eliu commented on #17703
@wewang58 i'll trying to reproduce it and get the log details. will get u updated later..

[2017-12-12 10:38] eliu commented on #17703
what is your output of `oc cluster status`? @wewang58

Here is mine:

[code]

[2017-12-12 10:40] eliu commented on #17703
Hey, you're right. the size of that volume directory is actually growing. I was fooled by `oc cluster status`, where list volume info as `Volumes are at host directory`

[2017-12-12 10:41] eliu commented on #17703
I can close this issue since it's been clarified. thanks everyone.

[2017-12-12 10:41] #17703 closed

[2017-12-12 11:36] enj commented on #17698
Can we disable this until it get fixed upstream?

[2017-12-12 12:21] mfojtik commented on #17682
This is flaking also on 3.9 branch now. For 3.7 I think we can pick https://github.com/openshift/origin/pull/17724

[2017-12-12 12:31] mfojtik commented on #17682
@sjenning @deads2k said this is an important feature and we should know why we are flaking here. I made a PR that disable the test for master to unblock the queue, but PTAL before merging that if there is something obvious that is broken.

[2017-12-12 13:25] gvm1111 commented on #11156
I've seen the same issue with Openshift Container Platform (3.6 currently).
If you set these 2 env variables in lowercase (e.g. debug instead of DEBUG) the pods will crash continuously without any explanation:

CURATOR_SCRIPT_LOG_LEVEL
CURATOR_LOG_LEVEL

I'm not sure this is the same issue but I got here by searching the error I got so I thought it might help someone else.

[2017-12-12 13:28] sherl0cks opened #17727 "Support Merge Request Events in Build Config Webhooks"
This is a feature request.

##### Version
All versions supporting webhooks

##### Steps To Reproduce
1. See latest docs https://docs.openshift.org/latest/dev_guide/builds/triggering_builds.html#webhook-triggers and https://docs.openshift.com/container-platform/3.7/dev_guide/builds/triggering_builds.html#webhook-triggers

##### Current Result
from the docs:

##### Feature Request
Support the abilit

[2017-12-12 14:14] aveshagarwal commented on #17682
I am looking into this.

[2017-12-12 14:35] kargakis opened #17729 "Failed to scale a DC with oc"
[code]
/kind bug
/sig master

@openshift/sig-master

[2017-12-12 14:39] liggitt commented on #17729
fixed in 3.7.x in https://github.com/openshift/origin/pull/17517

[2017-12-12 14:39] #17729 closed

[2017-12-12 15:10] kargakis commented on #17729
@liggitt this is happening with an `oc` built from master (I just tested with `v3.9.0-alpha.0+4d15c88-84`). Assuming 3.8 is not a release that will be shipped, shouldn't 3.9 clients work against 3.7 masters?

[2017-12-12 15:11] kargakis commented on #17729
Ok, I think we just need to update our cluster in order for this to work.

[2017-12-12 15:16] liggitt commented on #17729
3.6 and 3.7 shipped with the scale subresource under apps.openshift.io/v1 broken. It is fixed in the 3.6.x, 3.7.x, 3.8.x and master branches.

[2017-12-12 15:17] ravisantoshgudimetla commented on #15092
@judavi Can you elaborate on -

Are you seeing some error when pod is creating? If yes, can you share the steps to reproduce it? I have created a signed image and was able to pull it successfully in OpenShift after setting the .DOCKER_CONTENT_TRUST=1

[2017-12-12 15:17] bparees commented on #17651
@coreydaley is already chasing another of our replica tests that is having (different) PV issues.

@coreydaley this test creates its own hostpath PV and then mounts it.  I wonder if either something else is grabbing our PV, or we're not freeing it properly.  A simple workaround might be to just create some extra PVs and call it a day:

https://github.com/openshift/origin/blob/master/test/extended/

[2017-12-12 15:19] vmaksimov opened #17730 "Failed to get cgroup stats for "/user.slice/..": unknown container "/user.slice/...""
##### Version
openshift version
openshift v3.9.0-alpha.0+4d15c88-84
kubernetes v1.8.1+0d5291c
etcd 3.2.8

##### Steps To Reproduce
1. docker pull openshift/origin
2. sudo dokerd  --exec-opt native.cgroupdriver=systemd
3. sudo docker run -d --name "origin" \
        --privileged --pid=host --net=host \
        -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /sys/fs/cgroup:/sys/fs/cgroup:rw

[2017-12-12 15:23] php-coder opened #17731 "The HAProxy router should expose prometheus metrics for a route" flakes with error "timed out waiting for the condition""
Seen there: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17702/test_pull_request_origin_extended_conformance_install/3946/

[2017-12-12 16:16] kargakis opened #17732 "inode usage metrics seem incorrect"
cadvisor seems to expose metrics related to inode usage in containers (cc @stevekuznetsov) but from a look it seems that some of these metrics are incorrect for some containers.

For example, **[container_fs_inodes_free == 0](https://prometheus-kube-system.svc.ci.openshift.org/graph?g0.range_input=12h&g0.expr=container_fs_inodes_free%20%3D%3D%200&g0.tab=0)** returns containers that have actually p

[2017-12-12 16:33] gabemontero commented on #17694
no it is something else @bparees

the test logic should have ignored the `mydockertest-1` build that is in the result data in the error message in the description

and I see the `frontend-1` build running and completing during the test's polling window

and I see a `prometheus-0` pod up and running (though I thought prometheus was converted to a stateful set ... though maybe that entails a pod und

[2017-12-12 16:42] stevekuznetsov commented on #17732
/cc @derekwaynecarr @sjenning

[2017-12-12 17:10] coreydaley commented on #17716
I will continue to monitor and see if it happens regularly

[2017-12-12 17:33] soltysh commented on #17631
Journals can be easily checked, look for 'Suppressed x messages from....',
if it doesn't exist it's not journald. If it does ping me.

On Dec 11, 2017 5:06 PM, "Tomáš Nožička" <notifications@github.com> wrote:

[2017-12-12 17:34] gabemontero commented on #17694
confirmed the stateful set still maps to a pod (instantiated the example prometheus template manually)

[2017-12-12 18:32] bparees commented on #17694
it does.  pods are the fundamental unit of any workload. (well, containers are, but you can't have a container w/o a pod)

[2017-12-12 18:53] aveshagarwal commented on #13731
it is duplicate of https://github.com/openshift/origin/issues/17682 so closing this.

[2017-12-12 18:53] #13731 closed

[2017-12-12 18:54] aveshagarwal commented on #11197
no activity for long time. Closing, please reopen with latest details you still the issue. thanks.

[2017-12-12 18:54] #11197 closed

[2017-12-12 19:18] aveshagarwal commented on #17682
it seems that the test is not even running as its timed out here (`WaitForStableCluster`): https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/test/e2e/scheduling/predicates.go#L310

[code]

Still looking what else is going on that is causing this to time out.

[2017-12-12 19:33] aveshagarwal commented on #17682
The issue is that router pod is failing to schedule:

[code]

[2017-12-12 19:45] liggitt commented on #17481
seeing these errors:

Dec 11 20:11:51 ip-172-18-4-167.ec2.internal dockerd-current[1381]: time="2017-12-11T20:11:51.723307032Z" level=error msg="Handler for GET /v1.24/images/docker.io/gssapiproxy/fedora-gssapi-base:latest/json returned error: No such image: docker.io/gssapiproxy/fedora-gssapi-base:latest"

the local builds we're building/tagging aren't matching the unqualified pullspecs

[2017-12-12 19:52] cben opened #17736 "`oc get images --show-labels` doesn't show labels"
`--show-labels` works for most resource types but not images — it only adds a `LABELS` headers but doesn't actually add a column with labels.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.99.100:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

(via minishift 1.9.0)

##### Steps To Reproduce
[code]

#####

[2017-12-12 19:53] liggitt commented on #17481
the problem is that the image couldn't run, not that the watch timed out

[2017-12-12 20:15] aveshagarwal commented on #17682
@mfojtik can you share link for 3.9 logs too? want to make sure if its always router pod or some other pod that is causing time out.

[2017-12-12 22:16] #17714 closed

[2017-12-12 23:13] shawkins opened #17738 "Expectation for protocol in the binding uri"
The binding uri for pg and other databases includes the protocol:

https://github.com/openshift/origin/blob/de09446f1f3c8ff96da472e3ee71492a378db023/examples/db-templates/postgresql-ephemeral-template.json#L45

However this does not map directly to the needs of the various clients.  For JDBC you need postgesql://, for python/sqlalchemy you also need to specify the driver - postgresql+psycopg2://

[2017-12-13 00:39] jsafrane commented on #17638
Containerized mount is alpha (i.e. behind a feature gate) in 1.9, mount propagation is alpha in 1.8, still behind a gate. This must be something else.

[2017-12-13 02:34] EamonZhang commented on #14766
[code]
[code]
[code]

[2017-12-13 03:18] wewang58 commented on #17703
@eliu , thank you too

[2017-12-13 06:50] liggitt commented on #17523
wondering if https://github.com/kubernetes/kubernetes/issues/25435 is related... normalization of the URL for the passed credentials... can you try creating the credential for `--docker-server=docker-registry-default.router.default.svc.cluster.local:443` as well?

[2017-12-13 09:02] EamonZhang opened #17740 "unable to periodically refresh dnsmasq status: The name uk.org.thekelleys.dnsmasq was not provided by any .service files"
##### Version

Linux: CentOS Linux release 7.4.1708 (Core)

openshift version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### Steps To Reproduce
1. openshit start

##### Current Result
[code]
##### Expected Result
[code]
##### Additional Information

[2017-12-13 10:08] pennpeng opened #17742 "how can i Using Prometheus in Grafana with origin 3.7?"
##### Version
[code]

##### Steps To Reproduce
1. i have deploy prometheus use ansible "openshift-ansible/playbooks/byo/openshift-cluster/openshift-prometheus.yml"
2. and  i deploy grafana,but  prometheus use https, the grafana datasource can't connect the prometheus.......

[2017-12-13 12:20] Jens-vd commented on #17523
The result is the same. I created a second secret (trying 2 different ways taking @sjenning 's comment into account):

[code]

[code]

I updated the pod's configuration accordingly:
[code]

I also created the deployment using 2 different values for the image:
[code]
and

[code]

[2017-12-13 13:07] hansmi opened #17743 ""oc observe" emits "wait: no child processes" errors, terminates after max errors"
We're using the [openshift/observe Docker image](https://hub.docker.com/r/openshift/observe/) to run an object observer in a pod. The observer invokes a Python script for events and resyncs. Every once in a while, it seems indeterministic, the observer emits `error: wait: no child processes`. After the number of retries given via `--maximum-errors`, default 20, the observer terminates. It appears

[2017-12-13 14:30] coreydaley commented on #17330
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/306/testReport/junit/(root)/Extended/_Feature_Builds__Slow__starting_a_build_using_CLI__start_build_test_context_binary_builds_should_reject_binary_build_requests_without_a___from_xxxx_value__Suite_openshift_/

[2017-12-13 14:48] ctron opened #17745 "Patternfly Icons stopped working in templates"
In the past (and according to documentation is still is) possible to use Patternfly icons in templates:
See: https://docs.openshift.org/latest/dev_guide/templates.html#writing-description – Number 6

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Create template.xml with "pficon-"
2. Process template with Web UI

[2017-12-13 14:54] wanghaoran1988 commented on #17523
Can you try this:
1. docker login using your user/token to the internal registry
2. Create the secret like this:
oc secrets new my-secret .dockerconfigjson=path/to/.docker/config.json
3. link the secret to the service account

I am still wondering the command you used create the old docker config secret.

[2017-12-13 14:54] simonpasquier commented on #13401
I'm hitting this issue as well using oc cluster up (v3.7).

### How to reproduce

Apply this template

[code]

After deployment:

[code]

Then from one of the containers, try to ping the other one using its name:

[code]

### Analysis

AFAICT this is because the Endpoints resource doesn't have the `hostname` fields defined which is what the DNS resolver looks up to resolve `example-0.example.<name

[2017-12-13 15:25] stevekuznetsov commented on #17721
Also:

[code]

/assign @bparees
/kind bug

@soltysh this can't have anything to do with the `journald` changes lately, could it? Looks like a lot of `oc logs` bugs.

[2017-12-13 16:00] Jens-vd commented on #17523
I managed to get the pod running by performing the steps you suggested. I first created the secret as we did before. Then, I captured the base64 contents shown when exporting the secret and put the decoded content in a new file dockercfg.json. I used this file to create a new secret which I linked to the service account we are using for the pod. This was not sufficient for getting the pod to run,

[2017-12-13 16:07] tnozicka opened #17747 "container logs lose line(s) (the last one)"
At least the last line of logs get lost sometimes causing flakes in various tests. Test use `oc logs` command.

I've found some old hack with [sleep 1](https://github.com/tnozicka/origin/commit/28e79e24dc67f08896ce0dec9ac1b8add3202156#diff-10eb0b1a257069656bc468c050aa1d0bR29) at the end of the container command which appear to mitigate the issue mostly, but flake sometimes as well.

Here are some

[2017-12-13 16:07] tnozicka commented on #17631
closing in favor of https://github.com/openshift/origin/issues/17747

[2017-12-13 16:07] #17631 closed

[2017-12-13 16:15] bparees commented on #17523
@juanvallejo @liggitt seems like there's still an issue w/ how oc secret is creating secrets when you use the `oc create secret docker-registry` helper, though I don't see any obvious difference between the secrets it creates and the secrets we put into the project by default. (both use the .dockercfg key, not the .dockerconfigjson key)

[2017-12-13 16:18] tnozicka commented on #17747
this is likely related:
https://github.com/openshift/origin/pull/12143#discussion_r94793391
https://github.com/moby/moby/pull/29863

[2017-12-13 16:42] juanvallejo commented on #17523
@bparees will take a look

[2017-12-13 17:05] soltysh commented on #17747
So I was talking about https://github.com/openshift/origin/issues/9285, but it looks like the bits mentioned in https://github.com/projectatomic/docker/pull/218 should be in already.

[2017-12-13 17:20] tnozicka commented on #17747
@soltysh I don't think we have https://github.com/projectatomic/docker/pull/218 that pr was closed

[2017-12-13 17:22] tnozicka commented on #14140
the actual seems to be https://github.com/openshift/origin/issues/17747

[2017-12-13 17:23] tnozicka commented on #13980
@mfojtik close in favor of https://github.com/openshift/origin/issues/17747 ?

[2017-12-13 17:29] soltysh commented on #17747
We'd need to check the current docker or get @runcom look into it

[2017-12-13 17:33] smarterclayton commented on #17682
MatchNodeSelector can only happen if either ansible or the installer broke how node labels are working.

[2017-12-13 17:34] runcom commented on #17747
I guess we can re-open https://github.com/projectatomic/docker/pull/218 for the latest docker(s) we support and have @nalind ack on it to get it in

[2017-12-13 17:37] tnozicka commented on #17747
https://github.com/projectatomic/docker/pull/291

[2017-12-13 17:54] stevekuznetsov commented on #17747
In our test AMIs we are using

[code]

[2017-12-13 18:28] tnozicka commented on #17747
that version of docker already has that particular fix (https://github.com/projectatomic/docker/blob/ec8512ba42f349cbe5a63140c4d9c810f7afa527/daemon/logger/journald/read.go#L262-L269)

It must be something else then

[2017-12-13 18:39] tnozicka commented on #17721
@stevekuznetsov your failure is caused by https://github.com/openshift/origin/issues/17747

the original one is pod not starting in 5s; the timeout is being raised in https://github.com/openshift/origin/pull/17728 but that hangs on flakes

[2017-12-13 18:45] tnozicka commented on #17747
- https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17479/test_pull_request_origin_end_to_end/6606/
- https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17479/test_pull_request_origin_end_to_end/6613/
- https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17553/test_pull_request_origin_end_to_end/6603/

[2017-12-13 18:45] tnozicka commented on #17721
actually I think all are https://github.com/openshift/origin/issues/17747
here is the pull to disable the frequently failing test https://github.com/openshift/origin/pull/17746

[2017-12-13 18:45] #17721 closed

[2017-12-13 18:55] juanvallejo commented on #17523
@bparees There [was a PR from a few months ago](https://github.com/openshift/origin/pull/16868) that defaulted secrets created using the `new-dockercfg` helper to `config.json` format.

Based on what I've seen locally with the `docker-registry` helper, it creates a secret in the old .dockercfg format, which I'm suspecting is the cause behind this issue. Will open a PR updating the docker-registry

[2017-12-13 19:03] deads2k opened #17750 "re-enable "should only deploy the last deployment""
This test was disabled to land the rebase.  it needs to be re-enabled.

[2017-12-13 19:04] deads2k opened #17752 "re-enable router tests"
specifically
[code]

They were disabled to land the rebase

[2017-12-13 19:12] deads2k opened #17754 "re-enable intra-pod and node-pod networking tests"
https://github.com/openshift/origin/blob/master/test/extended/util/test.go#L260-L262 were disabled in the rebase along with https://github.com/openshift/origin/issues/17750 and https://github.com/openshift/origin/issues/17752.

They should pass (they passed in 3.8).  The latest thoughts are around pod node selectors.  I'd suggest an approach like https://github.com/openshift/origin/pull/17753 or h

[2017-12-13 19:17] deads2k opened #17755 "re-enable router integration tests"
They required a golang 1.9 node and were failing without it, so they were disabled in the rebase here: https://github.com/openshift/origin/blob/master/Makefile#L188 .

Specifically, we no longer run `COVERAGE_SPEC=' ' DETECT_RACES='false' TIMEOUT='10m' hack/test-go.sh ./test/end-to-end`

@openshift/sig-networking

[2017-12-13 19:26] ironcladlou commented on #17754
Scheduler logs indicated that the scheduler was aware of 4 nodes during the failing tests, but in each case one of the `netserver-` pods created during the test failed to be scheduled on any of the test nodes due to a MatchNodeSelector predicate failure against all 4 nodes. On the surface I think this indicates the node selector for the pods was somehow mismatched against the nodes cached in the s

[2017-12-13 19:27] ironcladlou commented on #17754
Example scheduler error:

[code]

Also of interest is that scheduling doesn't seem to be retried for the failing pod.

[2017-12-13 19:34] bparees commented on #17523
@liggitt @juanvallejo i'm still a little confused because if you look at the SA secrets we create, they are in the old format and seem to work fine:

[code]

[2017-12-13 19:35] stevekuznetsov commented on #17755
Can we determine today:

 - is it possible to run these tests without direct access to the Docker daemon
 - is it possible to run these tests using DIND?
 - can we allocate the bandwidth to get these tests into a container right now?

This is going to become more and more of a pain point the longer we wait. We've been asking for containerized tests in this place and for the registry (/cc @bparees

[2017-12-13 19:44] stevekuznetsov commented on #17282
@arilivigni can you confirm that using the `OS_BUILD_SRPM=y` option is working for you?

[2017-12-13 19:48] deads2k opened #17757 "unit test k8s.io/kubernetes/pkg/kubelet/rkt TestVersion"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17749/test_pull_request_origin_unit/6882/

[code]

Seen post 1.9 rebase.

@sjenning are flakes still automatic p1s?

[2017-12-13 19:51] danwinship commented on #17754
given that it failed because (allegedly) none of the nodes matched its NodeSelector, it makes sense for it to not be retried until a node is added or modified

[2017-12-13 20:00] ironcladlou commented on #17754
I'm not sure that's how the scheduler works. Pods only appear to be queued internally in response to pod informer events (and resyncs) and unhandled errors (which this particular one is not). Maybe I'm missing something in the code.

[2017-12-13 20:20] aveshagarwal commented on #17682
@smarterclayton @stevekuznetsov @sdodson where to check what is deploying `router-1-deploy` in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/12622/consoleFull  . Also why I dont see the same `router-1-deploy` being run/deployed in recent runs of gce conformance tests: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_confo

[2017-12-13 20:33] pweil- commented on #17742
Thanks for contacting us @pennpeng.   For general support/configuration questions please direct this to stack exchange or the dev mailing list.  Thanks!

[2017-12-13 20:33] #17742 closed

[2017-12-13 20:41] bparees commented on #13401
I can't recreate this:

[code]
[code]

[code]
[code]

[2017-12-13 20:42] bparees commented on #13401
and my endpoints (no hostnames indicated):
[code]

[2017-12-13 20:57] liggitt commented on #17523
the content of the `.dockercfg: <redacted>` bit is the interesting part for image pull secrets

[2017-12-13 20:58] liggitt commented on #17523
that doesn't sound proper... the name should match the format

[2017-12-13 20:59] aveshagarwal commented on #17682
@mfojtik in recent runs of gce conformance tests, I dont see that any scheduler predicates are being run. For example this one: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/12864/consoleFull

[2017-12-13 21:03] bparees commented on #17727
If you're running a jenkins pipeline you should use the various jenkins plugins for triggering your job from the jenkins side(based on SCM changes), rather than openshift webhooks.

[2017-12-13 21:03] #17727 closed

[2017-12-13 21:05] bparees commented on #17523
@liggitt that's what I figured, and yet:
https://github.com/openshift/origin/issues/17523#issuecomment-351435439

[2017-12-13 21:08] rhamilto commented on #17745
@ctron, try using "pficon pficon-*" in your template.  The icon won't render without the standalone "pficon" being specified, too.

[2017-12-13 21:13] stevekuznetsov commented on #17747
We need to revert the `journald` limit disable PR.

[2017-12-13 21:18] stevekuznetsov commented on #17682
@aveshagarwal I would assume that the installer is placing the router down. /cc @sdod

[2017-12-13 21:18] stevekuznetsov commented on #17682
@sdodson may be able to help you figure that out

[2017-12-13 21:23] jwforres commented on #17745
we should fix either our docs or the patternfly docs to make it clear that the extra class is needed

[2017-12-13 21:26] JamesDrummond commented on #16547
There is now Openshift Commons on Slack. Anyone interested contact Diane Mueller dmueller@redhat.com .

[2017-12-13 21:26] #16547 closed

[2017-12-13 21:28] ctron commented on #17745
Adding "pficon" does not fix this. I already tried that.

[2017-12-13 21:35] smarterclayton opened #17763 "Duplicate list watches in controllers"
3.7 has duplicate watch caches in the controller (which is probably intentional) but should be addressed in 3.8/3.9.  This is a tracking issue to ensure after the controller split we have no duplicate watches.

[code]

[2017-12-13 21:43] Jens-vd commented on #17523
This is the contents of .dockercfg for our docker-registry-secret:

[code]

Where \<encoded\> translates to the following:

[code]

[2017-12-13 21:47] bparees commented on #17523
this does not appear to be a registry issue(registry auth appears to be working fine when a valid secret is presented), this is an issue w/ how k8s creates/finds/uses secrets, so fixing the issue ownership.

[2017-12-13 21:50] smarterclayton opened #17765 "Top allocator in 3.7 controller in large cluster"
Object allocation hotspots in the controller manager in a very large AWS cluster:

[code]

^ needs to be fixed (reduce allocations)

[code]

^ we're using the default converter, which is bad.  not sure who is calling it

[code]

^ yuck, AWS calls are a significant portion of our total allocations

[code]

^ also ugly

[code]

As far as in-use, top consumers cumulative was:

[code]

This list is wh

[2017-12-13 21:50] smarterclayton commented on #17765
@mfojtik

[2017-12-13 22:03] sherl0cks commented on #17727
@bparees I'll take a look again if that is doable. possible new features are out there in the ecosystem. my experience with that approach is that it requires configuration outside of the Jenkinsfile on per a job basis in order to get branching / merging / triggers configured correctly ([example](https://jenkins.io/blog/2015/12/03/pipeline-as-code-with-multibranch-workflows-in-jenkins/)). If this i

[2017-12-13 22:06] sdodson commented on #17682
@michaelgugino can you look into this? I don't see any reason for it, but it looks like it's using the default selector of `region=infra` rather than the selector that's specified in the group vars using `openshift_hosted_infra_selector: "role=infra"` I believe this is only happening on release-3.7 based on all of the reported failures above.

Can someone confirm that those jobs would have used th

[2017-12-13 22:06] sdodson commented on #17682
/assign michaelgugino

[2017-12-13 22:06] sdodson commented on #17682
/assign sdodson

[2017-12-13 22:06] rhamilto commented on #17745
@ctron, it's possible the icon you're trying to use isn't part of the PatternFly distribution included in the code.  @jwforres mentioned you're running OpenShift v3.6.x, which should include PatternFly v3.24.0.  Unfortunately, there isn't an easy way to see which icons are included in that specific version of PatternFly.  Can you supply the name of the icon you're trying to use?  Additionally, can

[2017-12-13 22:22] juanvallejo opened #17766 "`oc explain` fails with openshift resources"
Might be related to switch from swagger to openapi upstream

[2017-12-13 22:24] danwinship commented on #17754
OK, so the problem is that the pods are getting `role: app` added to their NodeSelectors, causing them to be unable to deploy to the master node, which is labeled `role: infra`. Presumably that comes from the Namespace `node-selector` annotation, but #17760 doesn't seem to be fixing it.

[2017-12-13 22:25] juanvallejo opened #17767 "PrintSuccess should be used through the cmdutil.Factory"
The cmdutil.PrintSuccess helper was moved to be a method in the cmdutil.Factory (factory_builder.go)
A copy of this helper was created during the rebase in order to be able to use it in places where a cmdutil.Factory is not passed through. This needs to be fixed

[2017-12-13 23:18] deads2k opened #17769 "pkg/apis/core/validation TestValidatePersistentVolumeClaimUpdate 0.01s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17749/test_pull_request_origin_unit/6887/

validation_test.go:1428: Unexpected failure for scenario: valid-size-update-resize-enabled - [spec: Forbidden: is immutable after creation except resources.requests for bound claims]

[code]

@openshift/sig-storage

[2017-12-13 23:19] deads2k opened #17770 "[sig-storage] Projected should update labels on modification [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 2m26s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17749/test_pull_request_origin_extended_conformance_install/4039/

[code]

@openshift/sig-storage

[2017-12-14 00:10] juanvallejo commented on #17766
@deads2k This is happening due to factory_object_mapping no longer handling resources under /oapi when accessing openapi data. Here is how we did this before: https://github.com/openshift/origin/blob/release-3.7/pkg/cmd/util/clientcmd/factory_object_mapping.go#L460

[2017-12-14 00:16] dmage commented on #17755
@stevekuznetsov you are talking about test/end-to-end/core.sh, right? Can we split it into smaller pieces and run each piece with its own master api and DinD? Though, to run DinD we still need direct access to the Docker daemon.

[2017-12-14 00:28] stevekuznetsov commented on #17755
No, I mean the integration suite that was written for the registry and uses the Docker socket: https://github.com/openshift/image-registry/blob/master/pkg/testframework/master.go#L60-L67

These router tests and those registry tests need to be written to work like e2e -- assume an OpenShift cluster is running, deploy your application under test into the cluster using the Go client, test it, etc.

T

[2017-12-14 06:27] #17494 closed

[2017-12-14 06:27] #15015 closed

[2017-12-14 06:55] pennpeng opened #17774 "heapster: summary.go:376] Node openshift-37-3 has no valid hostname and/or IP address: openshift-37-3"
[provide a description of the issue]

##### Version
# oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
i delpoy the metrics use  openshift-ansible

##### Current Result
[code]

[2017-12-14 07:15] hrishin commented on #17705
@pweil-

Yes

how can I find it? This is the event log

Time | Severity | Reason | Message
-- | -- | -- | --
12:24:14 PM | Warning | Failed | Error: ImagePullBackOff6 times in the last 4 minutes
12:24:14 PM | Normal | Back-off | Back-off pulling image "http-vertx:latest"6 times in the last 4 minutes
12:23:48 PM | Warning | Failed | Error: ErrImagePull4 times in the last 4 minutes
12:23:48 PM | War

[2017-12-14 07:19] yeshy1987 opened #17775 "error: unable to recognize kind=HorizontalPodAutoScaler"
We are using json file format template to create the deployment config. I am also trying to include the auto scaler object as part of this deployment template. While including this in the template and trying to process the same, encounter this issue:
error: unable to recognize /v1, Kind=HorizontalPodAutoscaler: no matches for /, Kind=HorizontalPodAutoscaler.

Env: OpenShift v3.4.1.44.26.

Apprecia

[2017-12-14 07:28] vikaschoudhary16 commented on #16246
This issue is definitely not an Origin issue. Here its reported on OSP:
https://bugzilla.redhat.com/show_bug.cgi?id=1523043

[2017-12-14 07:44] #17353 closed

[2017-12-14 08:28] soltysh commented on #17718
@enj this is not a bug, but a consequence of the avalanche of the problems we've seen during that time. I'm going to close this for now, since I can't figure out what would be the situation when this can actually happen. Feel free to re-open if you don't agree.

[2017-12-14 08:28] #17718 closed

[2017-12-14 08:31] soltysh commented on #17747
We've discussed this with Steve yesterday, I'll open a PR which will enable the journald for all our tests, for now the revert in #17758 should stabilize the queue, slightly.

[2017-12-14 08:38] dmage commented on #17755
@stevekuznetsov for a while? Those tests were written a month ago and they are written the way that they can be executed in parallel. We have global OpenShift resources called `image`, and we care a lot about the `openshift.io/image.managed` annotation, to prevent interference from other tests we need a separate instance of OpenShift for some tests. Also we have the stop-the-world routine pruning,

[2017-12-14 09:02] tnozicka commented on #17747
Is this really just jurnald rate limit? I find it suspicious that rate limiting would strip only the last line in the same specific test.

[2017-12-14 09:21] tnozicka commented on #3819
@soltysh I could really use this :) My testing framework (based on kube and openshift e2e) creates project per namespace and when debugging I set it not to delete automatically. Having to delete every one of them (with generated names) manually sucks. Making labels work would help a lot when cleaning up.

[2017-12-14 09:30] maxPowelll opened #17776 "problem with oc login"
Hi

when I try to login with oc login I always obatein the same request

Server [https://localhost:8443]: https://github.com/xxxxx/yyyy
error: invalid character '<' looking for beginning of value - verify you have provided the correct host and port and that the server is currently running.
error: invalid character '<' looking for beginning of value

I need help please

Thanks

[2017-12-14 09:33] simonpasquier commented on #13401
@bparees IIUC you aren't testing exactly the same thing. You've checked the service's DNS name which works fine for me too (same for the OP I guess).

What isn't working is the DNS resolution for the individual endpoint names of the **StatefulSet** resource (eg example-0.example in my setup). To be fair, the [OpenShift documentation](https://docs.openshift.org/latest/architecture/networking/networ

[2017-12-14 09:44] jtudelag commented on #17716
@coreydaley It happens to me from time to time with oc origin client, version 3.7.

$ oc cluster up
Starting OpenShift using openshift/origin:v3.7.0 ...
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing OpenShift container ...
   Deleted existing OpenShift container
-- Checking for openshift/origin:v3.7.0 image ... OK
--

[2017-12-14 09:54] jocelynthode opened #17777 "Ceph RBD needs keyring on nodes to release lock"
When releasing the lock, rbd tries to use a keyring located in /etc/ceph/ instead of using the secret provided to unlock the image.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Start a pod with a volume mounted using a secret while the keyring is not present in /etc/ceph
2. Scale down the pod
3. Scale up the pod in a way that makes it scale up on a new

[2017-12-14 10:26] mfojtik commented on #17776
@maxPowelll can you provide the exact command you use for login? Seems like the server/port is wrong and you are hitting the HTML page.

[2017-12-14 10:30] mfojtik commented on #17765
Adding storage team for tracking the attachdetach.

@sttts @deads2k we should have big fat log about anything that use the reflector path for conversions, ideally giving up the stack trace of what is calling it.

[2017-12-14 10:32] maxPowelll commented on #17776
Hi

I use simply oc login

C:\Users\tomas.varea>oc login
Server [https://localhost:8443]: https://github.com/maxPowelll/checkmovil
error: invalid character '<' looking for beginning of value - verify you have provided the correct host and port and that the server is currently running.
error: invalid character '<' looking for beginning of value

Thanks

[2017-12-14 10:41] ctron commented on #17745
I am using `pficon-topology`. But I tried a few others. None worked. I haven't tried all of course.

The template is available on GitHub: https://github.com/ctron/hono/blob/feature/support_s2i/openshift/hono.yml

[2017-12-14 11:23] mfojtik commented on #13068
fresh logs:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17746/test_pull_request_origin_unit/6934/

[2017-12-14 11:25] dmage commented on #14771
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_image_registry_integration/54/console

[2017-12-14 11:27] mfojtik opened #17778 "Track usage of default converter"
- [ ] pkg/image/apis/image/v1/conversion.go:122

[2017-12-14 11:48] sttts commented on #17765
Do we have any legitimate use-case for this reflection based converter? We should record calls in tests and have a whitelist.

[2017-12-14 12:54] bparees commented on #13401
Ok, thanks for clarifying.  So this does not sound like a cluster up specific DNS issue, it is a question about kubernetes statefulset hostname resolution behavior.  Reassigning.

[2017-12-14 12:56] geromunoz commented on #14786
So, basically, there's no way to add tolerations by default now? Anywhere where we can follow progress?

[2017-12-14 13:03] bparees commented on #14786
@geromunoz https://trello.com/c/LNxlMjjU

[2017-12-14 13:20] kargakis opened #17780 "integration failure: TestProjectRequestError"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_integration/11977/#githubcomopenshiftorigintestintegrationrunner-testintegration

/assign mfojtik deads2k
Assuming it's caused by the rebase
/sig master

[2017-12-14 13:22] kargakis opened #17781 "TestProjectRequestError"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_integration/11977/#githubcomopenshiftorigintestintegrationrunner-testintegrationtestprojectrequesterror
<details>

[code]
</details>

/assign @mfojtik
/sig master
/area tests

[2017-12-14 13:22] danwinship commented on #17754
OK, #17760 doesn't fix it because the Namespace doesn't actually have either of the `node-selector` annotations:

    STEP: removing the node-selector annotations on &v1.Namespace{ ... Annotations:map[string]string{"openshift.io/sa.scc.supplemental-groups":"1000960000/10000", "openshift.io/sa.scc.uid-range":"1000960000/10000", "openshift.io/sa.scc.mcs":"s0:c31,c15"} ... }

(from the latest run of

[2017-12-14 13:23] kargakis commented on #17769
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/batch/test_pull_request_origin_unit/6932/

[2017-12-14 13:25] geromunoz commented on #14786
@bparees thank you. Do you have any suggestions on how to achieve the same behaviour in 3.6 using build defaults? I'm looking at pod affinity, those alpha annotations seems to have been kept in this release.

[2017-12-14 13:37] bparees commented on #14786
@geromunoz if the toleration annotation is valid in your cluster version, you can use the buildconfig defaulter to get the annotation set on your build pods:
https://docs.openshift.org/latest/install_config/build_defaults_overrides.html#manually-setting-global-build-defaults

[2017-12-14 13:41] mfojtik commented on #17781
/assign deads2k

[2017-12-14 13:44] geromunoz commented on #14786
@bparees we're on 3.6 so sadly not an option. Real pity that was dropped as the taint was perfect for our use case, but we need to add the toleration by default, hence why I'm looking at pod affinity now..

[2017-12-14 13:49] deads2k commented on #17780
/assign enj

@enj Slow namespace cleanup maybe?  Can you at least sort out what's stuck?

[2017-12-14 14:00] kargakis opened #17782 "[k8s conformace failure] validates resource limits of pods that are allowed to run"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_k8s/182/consoleFull#9553647145898c58db7602c31c0eab717

/sig pod
/area tests
@openshift/sig-pod
/assign sjenning

[2017-12-14 14:01] kargakis commented on #17682
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_k8s/182/consoleFull#9553647145898c58db7602c31c0eab717

[2017-12-14 14:02] kargakis commented on #17782
Seems broken
/priority P0
/kind test-flake

[2017-12-14 14:02] kargakis commented on #17782
https://deck-ci.svc.ci.openshift.org/?job=test_branch_origin_extended_conformance_k8s

[2017-12-14 14:04] mfojtik opened #17784 "Unable to monitor quota for openshift resources"
Seen in integration test logs:

`
E1214 09:29:03.747036   30369 resource_quota_controller.go:170] initial monitor sync has error: [couldn't start monitor for resource {"route.openshift.io" "v1" "routes"}: unable to monitor quota for resource "route.openshift.io/v1, Resource=routes", couldn't start monitor for resource {"image.openshift.io" "v1" "imagestreamtags"}: unable to monitor quota for resou

[2017-12-14 14:05] #17778 closed

[2017-12-14 14:13] deads2k commented on #17769
Well, this flakes because it is racing another test that is also twiddling global feature flags.

[2017-12-14 14:19] dmage opened #17786 "Image resource quota should deny a push of built image exceeding openshift.io/imagestreams quota"
[code]

/kind test-flake

[2017-12-14 14:20] mfojtik commented on #17765
We can build the whitelist in https://github.com/openshift/origin/pull/17779 and panic() instead of warning. The list of calls to reflection based converter is here: https://gist.github.com/mfojtik/4915b1e20741fda8f693d372818230c9

Waiting for tests to run in that PR and will update the list from the test.

[2017-12-14 14:24] aveshagarwal commented on #17682
Again both scheduler predicate tests are failing for the same reason as the test for stable cluster is timing out because router-1-deploy pod is failing to schedule:
[code]

[2017-12-14 14:26] mfojtik commented on #17765
@smarterclayton `cache.getPodsFromMap` looks suspicious regarding to 'Pods' memory usage. Seems like they building a a lot of 'small/big' maps with keys being unique pod names and values are pods.

[2017-12-14 14:43] aveshagarwal commented on #17782
This one and the other scheduler predicate tests here https://github.com/openshift/origin/issues/17682 are failing for the same reason that the router-1-deploy pod is failing to scheduler due to following reason:

[code]

[2017-12-14 14:45] aveshagarwal commented on #17782
[code]

Either we changed something w.r.t. NodeSelectors or the node where the router-1-deploy pod could be scheduled is going into Unscheduable state.

[2017-12-14 14:45] rhamilto commented on #17745
D'oh!  Sorry, @ctron.  This is indeed a bug.  We've got a CSS specificity issue with the different icon fonts: [Font Awesome](http://fontawesome.io/icons/) ("fa"), PatternFly ("pficon"), and [OpenShift](https://rawgit.com/openshift/openshift-logos-icon/master/demo.html) ("font-icon").  It looks like [we put in a fix so that Font Awesome would work with OpenShift](https://github.com/openshift/origi

[2017-12-14 15:08] jwforres commented on #17745
Ok I don't see us backporting this more than 1 release if it wasn't working
at all before, I think we just assumed it worked because the font was there.
@rhamilto we should update the previous enterprise branches of the docs
that claimed it worked and remove that reference.  For 3.7 if its a small
change we should backport to that release.  And then a fix for master of
course.

On Thu, Dec 14, 201

[2017-12-14 15:25] gnufied commented on #17769
/assign

[2017-12-14 15:59] #15119 closed

[2017-12-14 15:59] #17615 closed

[2017-12-14 16:01] tnozicka opened #17787 "ContainerCannotRun: devmapper: Error activating devmapper device for ''46d82310de547f7f9e3e87d95f6a5af6420fe4b69ea3e1142bfc86486999e0f0'': devicemapper: Error running deviceCreate (ActivateDevice) dm_task_run failed"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17751/test_pull_request_origin_extended_conformance_install/4109/

[code]

[2017-12-14 16:14] stevekuznetsov commented on #14771
/shrug

[2017-12-14 16:16] stevekuznetsov commented on #17747
I think it ends up being how reproducible our tests are -- always run the same N tests in the same order and generate the same log lines, so if we trigger a rate-limit it will be fairly often in the same place.

[2017-12-14 16:18] dmage commented on #17786
Looks like the rebase broke quota for image streams.

[2017-12-14 16:21] dmage commented on #17784
it might affect the registry extended tests: openshift/origin#17786

[2017-12-14 16:22] bparees commented on #17786
well that didn't take long(for an origin change to break image-registry while passing all origin tests). @stevekuznetsov @smarterclayton what is our plan for having cohesive CI across repos such that origin PRs actually have to pass the tests of their dependent repos?

[2017-12-14 16:24] stevekuznetsov commented on #17755
I may be misremembering but when we tried to put integration tests into a container in January or so there were router and registry tests that needed Docker. If I'm not remembering that correctly, my apologies.

How difficult would it be to make your tests non-disruptive and clean up after themselves? I believe the contract with e.g. `test-cmd` suites or the normal Ginkgo e2es is similar -- keep t

[2017-12-14 16:26] stevekuznetsov commented on #17786
What job did this break in? We are running the registry tests in Origin e2e

[2017-12-14 16:28] bparees commented on #17755
basically impossible.

They could run serially to possibly deal w/ the pruning challenges (except that @smarterclayton yells at us every time we create a serial test), but they still need unique configuration for the registry so at a minimum i think they'd need to delete the deployed registry and recreate it.  There may be master configuration required as well, at which point there's no solution b

[2017-12-14 16:29] bparees commented on #17786
@stevekuznetsov https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_image-registry/29/test_pull_request_image_registry_extended/55/

from this pull: https://github.com/openshift/image-registry/pull/29

[2017-12-14 16:30] tnozicka commented on #17747
Last time it was on the last line of different test and we had to add `sleep 1` there. Seems like too much of a coincidence.

[2017-12-14 16:30] stevekuznetsov commented on #17755
Are they mostly testing through the Origin API or the registry API? Can we deploy multiple registries, or are they all under the assumption they're a singleton in the cluster?

[2017-12-14 16:36] deads2k commented on #17769
opened https://github.com/kubernetes/kubernetes/pull/57199 to fix it upstream

[2017-12-14 16:36] deads2k commented on #17769
@liggitt want https://github.com/kubernetes/kubernetes/pull/57199 or want a giant lock for a pick?

[2017-12-14 16:37] stevekuznetsov commented on #17747
There was also some weirdness with the way that the logs were gathered in `docker` that Andy was working around by asking for them twice, but I don't think that ever made it in.

[2017-12-14 16:37] stevekuznetsov commented on #17786
And which PR in Origin broke the registry but passed the tests?

[2017-12-14 16:37] stevekuznetsov commented on #17786
Like, if the registry built and deployed from `master` doesn't pass e2e in Origin I don't see how that would work

[2017-12-14 16:39] bparees commented on #17786
@stevekuznetsov https://github.com/openshift/origin/issues/17786#issuecomment-351758738

So are we really running the image-registry extended tests against origin repo PRs?

[2017-12-14 16:40] xqianwang commented on #13122
@bbrfkr  Thanks a lot!

[2017-12-14 16:40] gnufied commented on #17769
@deads2k are you sure this is because of feature flag? it sounds like, the feature flag was turned on - https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L1797 but the PVC had some other change other than storage size.

[2017-12-14 16:42] dmage commented on #17786
@stevekuznetsov #17576 `ci/openshift-jenkins/extended_image_registry Skipped`

[2017-12-14 16:48] gnufied commented on #17769
This is related to https://github.com/kubernetes/kubernetes/pull/56395

[2017-12-14 16:57] deads2k commented on #17769
In a serially run for loop, how would that mutation flake?

[2017-12-14 16:58] deads2k commented on #17769
As an alternative theory, the global feature flag was switched before you entered the if and instead of tolerating some changes, you ran in the very tight "only allow X" block.

[2017-12-14 16:59] deads2k opened #17791 "pick kubernetes/kubernetes#56758"

[2017-12-14 17:01] deads2k opened #17792 "update openshift admission to have mutators and validator"
to enforce invariants

[2017-12-14 17:02] deads2k opened #17793 "Add our types to the kubectl scheme"
add our types to the kubectl scheme and drop `UPSTREAM: <carry>: switch apply to use the legacyscheme so our types can be handled`

[2017-12-14 17:02] liggitt commented on #17769
testcases are iterating over a map, so order is random

[2017-12-14 17:03] deads2k opened #17794 "update openshift to use role aggregation"
Role aggregation makes composition with upstream easier.  We need to use it and decide what to do about the new upstream roles to aggregate.

[2017-12-14 17:03] gnufied commented on #17769
I am not sure how will that happen. My theory is -`ValidatePersistentVolumeClaimUpdate` mutates  the oldPVC at least in 2 places and each test case gets same copy of `pvc` (at least for old version). It is likely that one test case is using side-effect of another test case.

[2017-12-14 17:04] deads2k opened #17795 "drop`skip scheduler configz error` once we run it in a separate process"
drop`skip scheduler configz error` once we run it in a separate process

[2017-12-14 17:04] deads2k opened #17796 "drop `skip controller metric error` once we run it in a separate process"
drop `skip controller metric error` once we run it in a separate process

[2017-12-14 17:05] deads2k opened #17797 "collapse onto the upstream lease_endpoint_reconciler.go"
Upstream now has a reconciler.  We need to migrate

[2017-12-14 17:05] dmage commented on #17755
They are testing through both API, Origin is a configuration storage for the registry. Deploying multiple registries is the way how to scale, they should serve the same content (if they are started with the proper storage backed). You cannot have two integrated registries that will serve different images.

[2017-12-14 17:06] deads2k opened #17798 "Update the idler to use owner refs"
The idler may be broken today.

[2017-12-14 17:10] deads2k opened #17799 "remove DelegatingScaleNamespacer"
This is still used by the idler

[2017-12-14 17:11] deads2k opened #17800 "crio constants are inconsistent (and perhaps wrong)"
@derekwaynecarr as I recall, you have upstream pulls in progress.  You'll need to do a search downstream too.

[2017-12-14 17:12] deads2k opened #17801 "update quota to auto-ignore resources that aren't gettable or deletable"
This would auto-exclude most virtual resources and if you can't get or delete it, it probably isn't really there.

[2017-12-14 17:13] deads2k opened #17802 "make a quota union registry"
having a union registry would easier than building different registries

[2017-12-14 17:13] deads2k opened #17803 "replenishment controller for origin evaluators, possibly generic for namespace"
We need replenishment controller kicks for the origin image quota evaluators

[2017-12-14 17:14] deads2k opened #17804 "etcd storage test failures"
weird storage problems for IntializerConfigurations (alpha), volumeattachments (alpha), and event.events.k8s.io (this one is a validation problem on the server we need to fight through)

[2017-12-14 17:20] deads2k opened #17805 "[Feature:DeploymentConfig] deploymentconfigs when run iteratively [Conformance] should immediately start a new deployment [Suite:openshift/conformance/parallel] 7.12s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17762/test_pull_request_origin_extended_conformance_gce/12893/

[code]

@tnozicka can you investigate whether the root cause of this is an empty patch?

[2017-12-14 17:41] dmage commented on #14771
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_image_registry_integration/60/

[2017-12-14 17:57] ravishankarhassain commented on #16529
@gamkiller77 : Can you point me to some link or document where I can configure ingress in openshift to expose routes backed by service running in different ports

[2017-12-14 18:41] Karthikeyashastry commented on #16529
@ravishankarhassain : Instead of ingress, simplest thing to do would be to delete your existing service, and create individual service for each of the exposed port, and create routes for these new services

[2017-12-14 18:59] bparees commented on #17786
@deads2k the broken quota issue i just mentioned to you.

[2017-12-14 19:12] gabemontero opened #17811 "github.com/openshift/origin/test/cmd/observe test/cmd/observe.sh:34: executing 'oc observe services --once --all-namespaces -a "bad{ .metadata.annotations.unset }key" --strict-templates' expecting failure and text 'annotations is not found'"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17717/test_pull_request_origin_cmd/7451/

[code]

Seems like a rebase kind of thing, but did not investigate in detail.  Re-categorize if needed please.

Marking as test flake as well, but did not see if it happens consistently locally.

[2017-12-14 19:16] danwinship commented on #17754
so... where else can the amended pod NodeSelector be coming from?

[2017-12-14 19:19] stevekuznetsov commented on #17786
IIRC some of the registry tests were in the normal conformance e2e bucket, no? Other than that -- unless we want to make the image registry job mandatory, it should have been on the author of the rebase PR to run the other tests as well.

[2017-12-14 19:20] stevekuznetsov commented on #14771
@dmage there is really nothing we can do about this -- not sure reporting every AWS API flake is worth your time

[2017-12-14 19:25] stevekuznetsov commented on #17755
Right now are the tests serial? I understand your point @bparees about serial but if it's not changing the status quo and stopping us from having to deploy a separate cluster per test to parallelize it ...

[2017-12-14 19:34] dougtoppin commented on #17636
I've been having a similar/same problem with deploying jenkins-ephemeral when running oc cluster up on an EC2 Amazon Linux ami. This does work using oc 3.6.

The deploy fails with volume mount errors.

[code]

What I'm seeing in the log:

[code]

[2017-12-14 19:44] tnozicka commented on #14950
@JacobTanenbaum any chance you could review the fix https://github.com/openshift/origin/pull/15847 ?

[2017-12-14 19:47] woopla commented on #17370
@xiaods I do already have storage used by tools external to Origin. Now I want to access that storage from pods running on Origin, without creating a PV/PVC combination.

This part: https://docs.openshift.com/container-platform/3.6/install_config/persistent_storage/persistent_storage_nfs.html#nfs-supplemental-groups, combined with an SCC that has hostmount set to true, might do the trick, right?

[2017-12-14 19:57] tnozicka commented on #17636
@dougtoppin FYI the volume mount issue https://github.com/openshift/origin/issues/17638

[2017-12-14 20:03] dmsimard opened #17812 ""oc auth can-i" command should not exit 0 if the user can't execute a command"
Right now, regardless if a user has the privileges to execute a command or not, the "oc auth can-i" command will exit 0.

This means when programmatically using the command, we need to rely on parsing the string response of the command instead of using the exit code.

(Simplified) example:
oc auth can-i prune images && oc prune images
oc auth can-i prune images || echo "error: current user can't p

[2017-12-14 20:06] mhofstetter commented on #17238
@helletheone

the docker email shouldn't be the problem.

we're using artifactory with the reverse proxy method "sub domain" which results in the following url's:
- artifactory-url: _artifactory.example.com:443_
- docker-registry-url for local artifactory repository "test": _test.artifactory.example.com_

we had to define two secrets in openshift - one for getting the manifest infos from artifacto

[2017-12-14 20:13] ravishankarhassain commented on #16529
yeah sounds good I will try it

[2017-12-14 20:27] gnufied commented on #17765
I am going to look into allocations from attach/detach controller. Thanks for spotting this. Most of allocations from attach/detach could be new goroutines it allocates for each attach/detach operation.

[2017-12-14 20:51] jim-minter opened #17814 "automatically lint examples yaml and json files in make verify"
should lint these files to detect errors such as duplicate keys

[2017-12-14 21:26] flaviostutz commented on #16193
It solved my issue too! Thanks.
Using v3.6.0+c4dd4cf

[2017-12-14 22:26] #17611 closed

[2017-12-14 22:42] sjenning commented on #17730
There is no bug here.  Only problem is that the templates are not added to Openshift when you start it this way.  Please use `oc cluster up`.

[2017-12-14 22:42] #17730 closed

[2017-12-14 23:22] tnozicka commented on #17747
@stevekuznetsov it is in the docker version you've pasted https://github.com/openshift/origin/issues/17747#issuecomment-351479695

[2017-12-15 00:56] #17750 closed

[2017-12-15 01:14] jeffcpullen commented on #15910
Same issue, looking forward to a solution. @pravisankar thanks for looking at this!

[2017-12-15 06:36] LalatenduMohanty opened #17821 ""oc cluster up --version v3.6.1" is failing with oc v3.6.0 binary"
`oc` binary v3.6.0 can not provision OpenShift instance of v3.6.1 using `oc cluster up --version v3.6.1`

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. Get `oc` binary of v3.6.0
2. Run `oc cluster up --version v3.6.1`

##### Current Result
[code]

##### Expected Result
There should be no failure in the output of `oc cluster up --vers

[2017-12-15 06:54] praveenkumar commented on #17821
Once oc cluster fails then following logs which we got from origin container which already fixed for https://github.com/openshift/origin/pull/15868 and respective BZ https://bugzilla.redhat.com/show_bug.cgi?id=1481801 with using new version oc binary it works as expected.

[code]

[2017-12-15 07:38] ckurdekar opened #17822 "openshift ansible playbook should read network interface name runtime"
OpenShift installation SDN (Router) gets failed if network interface name is different than "eth0".
Request you read network interface name runtime

affected files in 3.7
/usr/share/ansible/openshift-ansible/roles/nuage_master/templates/nuage-node-config-daemonset.j2
/usr/share/ansible/openshift-ansible/roles/openshift_logging_mux/tasks/main.yaml
/usr/share/ansible/openshift-ansible/roles/kuryr/te

[2017-12-15 08:00] GrahamDumpleton commented on #17738
My opinion so far is that the current variables injected by the service binding are actually quite useless. The chances of the names of the variables matching what frameworks/applications already expect in different languages is pretty slim. The current names and values, the form of which was possibly inherited from existing service broker world, may well work for a subset of Java applications but

[2017-12-15 08:22] fisache opened #17823 "openshift bootstrapPolicyFile is not applied when cluster up"
[provide a description of the issue]
Create `policy.json` and `bootstrapPolicyFile` in `master-config.yaml`,
however don't create new role when `cluster up`.

##### Version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. Create `openshift.local.config/master/policy.json`
2. Add `Cluster Role` in `policy.json`
[code]
3. `oc cluster up` and `oc login -u system:admi

[2017-12-15 08:35] hussainaljamri opened #17824 "No external connectivity to Services (Apps)"
Using a route to gain external access to services fails, connection refused.

##### Version
[provide output of the `openshift version` or `oc version` command]
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

i installed Openshift Origin 3.7 on AWS using the advanced installation method (Ansible). it is a 4-node setup. Everything works as expected. I can access pods/services from

[2017-12-15 08:45] kargakis opened #17825 "TestStartingResourceVersion flake"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17746/test_pull_request_origin_unit/7012/
/sig storage
/kind test-flake
/area tests
@openshift/sig-storage

[2017-12-15 08:46] jsuchenia commented on #15910
As a workaround I'm extending configuration in my environment file to:
[code]
As name of this machine in OopenStack is still `my-worker-1` all the configuration will be correct, however still, I think that this should be fixed in the same way as on GCE (where openshift_hostname is calculated from FQDN)

[2017-12-15 11:06] jsafrane commented on #17825
/sig master
@openshift/sig-master
"storage" here refers to storage of API objects in etcd, not storage volumes.

[2017-12-15 11:09] dmage commented on #17755
The integration tests in the image-registry repository are parallel.

[2017-12-15 12:48] simonpasquier commented on #17685
@pgier noted that there is a typo in the example template. The relabeling section expects the annotations on the router service to be `prometheus.io/username` and `prometheus.io/password` while they are named `prometheus.openshift.io/username` and `prometheus.openshift.io/password`.

### Prometheus config
[code]

### Router service
[code]

Nevertheless I've fixed the typo in the `relabel_configs`

[2017-12-15 12:49] simonpasquier commented on #17685
I've also confirmed that when I configure an additional scrape job for the router that uses the annotated credentials, Prometheus can pull the metrics successfully.

[2017-12-15 13:03] tnozicka commented on #17805
@deads2k I don't think this a PATCH related; namespace creation / user switching failed

[2017-12-15 13:28] deads2k commented on #17708
/assign @juanvallejo

[2017-12-15 13:31] bparees commented on #17755
But they're able to run in parallel because they each have their own registry and cluster (effectively) right? If they ran the way Steve wants, they'd need to be serial to avoid interfering with each other. (among other changes that would be required to manage the unique configuration each test requires)

[2017-12-15 13:37] shawkins commented on #17738
I agree that the current binding have a lot of limitations.  The only thought is that it would better to just have the uri containing host:port without the protocol.  That also may not match many existing applications, but it would be broadly applicable via simple substitution with most clients.

[2017-12-15 13:43] hufon commented on #17777
Hi!, i reproduce the issue with OpenShift 3.7

[2017-12-15 13:45] hufon commented on #17777
the solution is to have the keyring in /etc/ceph ?

[2017-12-15 14:15] dmage commented on #17755
Right.

[2017-12-15 14:34] delubi opened #17828 "how to configure origin/oauth to use public ip"
I'm building origin on Azure. Would like to know how to configure origin/oauth on public/external IP instead of 127.0.0.1.

##### Version

[root@OpenShiftMaster1 ~]# oc version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce

oc cluster up

Start

[2017-12-15 15:31] tnozicka opened #17829 "[Feature:Builds] forcePull should affect pulling builder images ForcePull test case execution docker [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_gce/13038/

[code]

[2017-12-15 15:45] jocelynthode commented on #17777
Yes having the key in etc/ceph solves the issue. However I think it is impractical to have to copy a key for each user, especially if you intend to have a user per project.

And since openshift is fully capable of locking and mounting the image without having this keyring (which it doesn't need as it has everything it needs with the secrets) I think it should unlock and/or blacklist without the ne

[2017-12-15 15:46] stevekuznetsov commented on #17747
No, @soltysh knows more about that patch from Andy

[2017-12-15 15:59] tnozicka commented on #17829
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_gce/13038/

[2017-12-15 16:00] bparees commented on #14771
@stevekuznetsov if we're seeing this this much, perhaps the jobs themselves need to detect this and be rerun?

[2017-12-15 16:01] bparees commented on #17829
dupe of https://github.com/openshift/origin/issues/17596

[2017-12-15 16:01] #17829 closed

[2017-12-15 16:28] stevekuznetsov commented on #14771
If we were seeing it much more commonly, maybe.

[2017-12-15 17:50] jwhonce commented on #17787
@rhvgoyal excerpts from logs.  Looks like your patch for additional debugging is not in this build.

[code]

[code]

[2017-12-15 18:11] deads2k commented on #17781
same as https://github.com/openshift/origin/issues/17780 ?

[2017-12-15 19:30] GrahamDumpleton commented on #17738
The convention that existed in OpenShift 2 was better. Separate fields for all entities. With them separate, you can at least compose them together in different ways easily, and don't have to rip apart composite fields to get out separate values for host and port as have to now if need to pass them separately. You could still then have separate variable which has a full URI with all fields as can

[2017-12-15 19:57] shawkins commented on #17738
Bringing back the separate fields would also be fine.

[2017-12-15 20:26] gabemontero opened #17836 "[Feature:Builds] forcePull should affect pulling builder images obj conflict"
/go/src/github.com/openshift/origin/_output/local/go/src/github.com/openshift/origin/test/extended/builds/forcepull.go:72

  /go/src/github.com/openshift/origin/_output/local/go/src/github.com/openshift/origin/test/extended/builds/forcepull.go:76
    ForcePull test case execution s2i [Suite:openshift/conformance/parallel] [BeforeEach]
    /go/src/github.com/openshift/origin/_output/local/go/src/gi

[2017-12-15 23:07] bparees commented on #17836
dupe of https://github.com/openshift/origin/issues/17596

[2017-12-15 23:07] #17836 closed

[2017-12-16 00:03] #17693 closed

[2017-12-16 00:03] #17752 closed

[2017-12-16 09:54] hussainaljamri commented on #17824
Solved. The IP I should use in the Routes needs to point to the openshift router. I was using the master node IP for some reason. There is (I believe) nothing that explains that in the docs.

[2017-12-16 10:27] #17455 closed

[2017-12-16 10:31] syui opened #17844 "504 Gateway Time-out"
http access : `504 Gateway Time-out / The server didn't respond in time.`

## version

[code]

## timeout

[code]

[2017-12-16 15:08] runcom commented on #16403
We got to 0 here so closing!

[2017-12-16 15:08] #16403 closed

[2017-12-16 17:09] #17828 closed

[2017-12-17 00:55] msenmurugan commented on #12111
@csrwng  - I'm using OC client tool version 3.7 and latest docker version in RHEL. Please find the instructions that I have used to install the Docker and OC client

**Docker Install**
    yum -y remove docker docker-common container-selinux
    yum -y remove docker-selinux
    yum install -y yum-utils
    yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
    yu

[2017-12-17 16:08] jfchevrette commented on #17776
@maxPowelll the Server parameter has to correspond to your OpenShift API server endpoint. Usually that is 'https://localhost:8443' when connecting to a local cluster provisioned with 'oc cluster up'.

[2017-12-17 17:35] geromunoz opened #17845 "The pods/binding role seems missing in 3.6. Unable to bypass labels blacklist."
I'm trying to allow only build pods, configured via build overrides plugin, to be able to use certain labels as selectors. Users should not be able to use those selectors. My understanding is that I need to:

1. Blackist the labels. This is done and working.
2. Give the builder service account in the project the pods/binding role.

This particular role is mentioned in documentation for older versi

[2017-12-17 23:22] esquare666 opened #17847 "node to master communication : error x509: certificate signed by unknown authority"
Description of the issue:
We have installed openshift with 3 master, 3 infra node and 3 application node. created F5 VIP with own CA certificate for master. When node is trying to connect to master and ends up with an error
Dec 18 10:12:06 infra-01 atomic-openshift-node[130154]: I1218 10:12:06.294946  130154 start_node.go:251] Reading node configuration from /etc/origin/node/node-config.yaml
Dec 1

[2017-12-18 03:52] sjenning commented on #17595
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17839/test_pull_request_origin_extended_conformance_install/4317/

[2017-12-18 08:30] miminar commented on #17238
@mhofstetter thank you for the detailed report. This needs to be fixed together with #9730.

[2017-12-18 08:31] miminar commented on #9730
#17238 should be addressed when fixing this.

[2017-12-18 08:31] adelton commented on #17359
By the way, how does one find out if the fix merged via https://github.com/openshift/origin/pull/17580 actually addressed the fluke? Is there some statistics available?

[2017-12-18 08:39] hussainaljamri commented on #17598
I am also new to openshift, but I had this issue only yesterday on my AWS setup, it was due to some required (unkown to me) ports being closed between nodes. Are all the ports between the nodes open?

Just about every problem I faced during or after installation was related to networking.

[2017-12-18 08:48] adelton commented on #17067
So is this OK to close this issue?

[2017-12-18 08:58] jffz commented on #17598
Hi,

There is no port locking on any of my node, both on the same lan without any firewall rule set before the playbook launch.

[2017-12-18 10:08] helletheone opened #17851 "oc cluster status = OpenShift cluster is not running but the Cluster is running..."
We Setup a HA-Setup with 7 Nodes:

1 LB
3 Masters
3 Nodes

the Cluster is running. Webconsole, Router, Registry etc. is running.
But i got this Error:

[root@master1 ~]# oc cluster status
Error: OpenShift cluster is not running

i dont know why

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://lb.example.de:8443
openshift v3.6

[2017-12-18 10:22] zonArt commented on #17238
@mhofstetter Thanks for this very well detailed explanation. I'll check if I have the same (but obviously I would say it's similar). Anyway, it really helped me a lot understand (and accept) why both secret are needed.

[2017-12-18 10:29] hufon commented on #17777
What is the behaviour, if the node has a "brutal" shutdown ? Who is responsible to unlock in this case?

[2017-12-18 11:00] jocelynthode commented on #17777
If you look into rbu_utils.go you can see that in this case the other than has the charge of recreating the pod will remove the previous lock if this lock has no more watchers.

Le 18 décembre 2017 11:29:25 GMT+01:00, Hubert FONGARNAND <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2017-12-18 11:21] jerboaa opened #17852 "Project-local image streams not showing up in catalog"
When importing an ImageStream into a local project the ImageStream does not show up in the web console's catalog. Not even when "Select from Project" is being clicked.

##### Version

    openshift v3.7.0+7ed6862
    kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. `oc project myproject`
2. `oc create -f https://raw.githubusercontent.com/redhat-developer/s2i-dotnetcore/master/dotnet_image

[2017-12-18 11:24] jerboaa commented on #17852
FWIW this used to work fine with:

     OpenShift Master:  v3.6.0+c4dd4cf
     Kubernetes Master: v1.6.1+5115d708d7

[2017-12-18 11:29] jerboaa commented on #17852
$ oc describe is dotnet
    Name:			dotnet
    Namespace:		myproject
    Created:		About an hour ago
    Labels:			<none>
    Annotations:		openshift.io/display-name=.NET Core Builder Images
                            openshift.io/image.dockerRepositoryCheck=2017-12-18T11:14:18Z
    Docker Pull Spec:	172.30.1.1:5000/myproject/dotnet
    Image Lookup:		local=false
    Unique Images:		4
    Tags:

[2017-12-18 11:30] jerboaa commented on #17852
@bparees Thoughts?

[2017-12-18 11:52] php-coder commented on #17851
@helletheone Looks like you have a fully-featured OpenShift server that was configured and run with commands/scripts other than `oc cluster up`. I don't know the details of your installation, but most likely you are using systemd, so the following commands should help: `systemctl status origin-master` (on masters) and `systemctl status origin-node` (on nodes).

`oc cluster status` and `oc cluster

[2017-12-18 11:54] judavi commented on #15092
@ravisantoshgudimetla there is no error and that's the issue, if you try to run an unsigned image with DOCKER_CONTENT_TRUST=1  Openshift should not create containers with that image... that is the idea of content trust.

[2017-12-18 12:37] helletheone commented on #17851
systemctl status origin-master
● origin-master.service
   Loaded: masked (/dev/null; bad)
   Active: inactive (dead)

@php-coder i hope you are right ;)

[2017-12-18 13:34] php-coder commented on #17851
@helletheone Could you close the issue then?

[2017-12-18 14:09] madddi opened #17853 "Ceph RBD user secret should be optional in StorageClass"
`userSecretName` is a mandatory parameter for the `kubernetes.io/rbd` storage provisioner. Ceph RBD persistent volumes however don't need the `secretRef`. If no secret is given, a local keyring file (`/etc/ceph/keyring`) on the node will be used. This behaviour should also work with the storage provisioner. If no `userSecretName` parameter is given, no `secretRef` should be created in the resultin

[2017-12-18 14:13] csrwng commented on #12111
@msenmurugan that sounds like the original issue we had with the kubelet not able to update the virtual network device hairpin_mode, which is why we added this bind mount to the origin container:
https://github.com/openshift/origin/blob/master/pkg/oc/bootstrap/docker/openshift/helper.go#L298-L300
Can you run `docker inspect origin` (and include the output) while cluster up is running to see if tha

[2017-12-18 14:23] helletheone commented on #17851
./close

[2017-12-18 14:23] #17851 closed

[2017-12-18 14:26] php-coder commented on #17853
Looks like upstream issue.

CC @openshift/sig-storage

[2017-12-18 14:49] helletheone opened #17854 "Openshift Origin Multi Master Setup: how many masters must be online"
We have a Multi-Master Setup with the following Setup:

1 LB
3 Master
3 Nodes

We test the Failover from our Cluster and we fail ....
If 2 Masters are offline the api dont deliever any Informations back to the cli
It looks like the Cluster is down but the webconsole is there...

Any Ideas?

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Se

[2017-12-18 14:55] bparees commented on #17852
@spadgett @jwforres would be the ones to ask on this.

[2017-12-18 15:15] php-coder commented on #17854
This is expected behavior. It happens because every master also has etcd instance. etcd uses [RAFT](https://raft.github.io/) algorithm that is responsible for persisting the data. RAFT requires to have a majority of the nodes to be available, otherwise it doesn't provide you access to the data:

In other words, when you turn down 2 masters, you loose the majority and etcd stopped to response. Henc

[2017-12-18 15:15] #17854 closed

[2017-12-18 15:49] mark-00 commented on #7182
Very nice just what I wanted. I had to remove the last comma though to get it to work

oc patch dc <your deployment config> -p '{"spec": {"template": {"spec": {"containers": [{"name": "<your container name>","resources": {"limits": {"cpu": "500m","memory": "512Mi"}}}]}}}}'

[2017-12-18 16:34] jim-minter commented on #12111
I haven't been able to reproduce an issue using the latest AWS RHEL AMI and the instructions above.  @msenmurugan when you say "The containers within the host are unable to communicate with each other", what are you trying to do, what are you expecting to happen, and what happens?  If you're still having problems, I suggest opening a new issue.

[code]

[2017-12-18 19:31] smarterclayton commented on #13401
In the most recent example, you need to set the service reference from the statefulset in order for the hostname field on endpoints to be populated. Did you do that?

[2017-12-18 19:34] jim-minter commented on #17652
@knobunc @csrwng any thoughts on the above?

[2017-12-18 19:34] jim-minter commented on #17649
Closing because additional debug has been added and haven't seen recurrence

[2017-12-18 19:35] #16622 closed

[2017-12-18 20:51] pathakala opened #17864 "router has no liveness probe to verify pods are still running."
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2017-12-18 20:52] #17864 closed

[2017-12-18 20:52] pathakala commented on #17864
NA

[2017-12-18 21:38] jim-minter opened #17867 "Re-enable `oc cluster up --service-catalog --version=v3.7.0` test"
[code]

[2017-12-18 21:39] jim-minter commented on #17867
I think that master `oc` is trying to GET the admin cluster role via /apis/rbac.authorization.k8s.io/v1/clusterroles/admin - which doesn't work on 3.7 ?

[2017-12-18 21:40] jim-minter commented on #17867
https://ci.openshift.redhat.com/jenkins/view/All/job/test_branch_origin_extended_clusterup/61/console

[2017-12-18 21:40] jim-minter commented on #17867
@coreydaley fyi

[2017-12-18 21:43] jim-minter commented on #17867
Adding @liggitt - 1.9 rebase breakage?

[2017-12-18 21:49] #17745 closed

[2017-12-18 22:01] liggitt commented on #17867
Looks like the test hardcodes 3.7.0, which is not the previous version for 3.9 dev. Hardcoding a moving target into the test seems pretty fragile.

It's clear that `cluster up` is not currently designed to support multiple versions of the cluster setup… it mostly lucked into that working previously.

[2017-12-18 22:11] jim-minter commented on #17867
Also adding @bparees

[2017-12-18 22:34] csrwng commented on #17652
Hey @jim-minter I looked through the code and don’t see where we would try to resolve a dns name when `openshift start —print-ip` is invoked. The only thing I can think of to do for the future is to output any env vars that were used when invoking the `docker run` that failed.

[2017-12-18 22:59] tomcooperca opened #17870 "'oc describe -f <file>" requires that object to exist in current project"
Using `oc describe -f myTemplateFile.yml` with the filename option fails if the object described in the filename does not exist as the corresponding Openshift object (for example, a template). Either the usage output of `oc describe` should clarify this or possibly remove the `--filename` option altogether if that's not the intended use.

##### Version
[code]
##### Steps To Reproduce
1. Execute `o

[2017-12-19 00:36] bparees commented on #17867
@liggitt we are moving to N-1 support for cluster up and we have added explicilt logic to attempt to make this more supportable (and may have to continue to add more such logic).

This aligns with what the oc client is supposed to support.  I realize the 3.7 is not technically "N-1" from v3.9 but i have started several threads on this subject trying to get to the bottom of what we're actually goin

[2017-12-19 07:04] mohansidda opened #17871 "OC login : TLS handshake timeout in macSierra (Version 10.12.6)"
I am unable to login using oc command in mac latptop. can you please help me to fix this issue??

1. I tried with OCP 3.7.9 (latest and tried) still seeing same error.

dhcp-65-177:Downloads msidda$ oc version
oc v3.7.9
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

error: server took too long to respond with version information.

2. I downloaded OCP 3.6 and tried. same error:
dhcp-65-177:Down

[2017-12-19 10:44] php-coder opened #17872 "[regression] oc explain doesn't work"
`oc explain` doesn't work anymore on the latest version:

[code]

##### Version
oc v3.9.0-alpha.0+1c24d18-233-dirty
kubernetes v1.8.1+0d5291c
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://10.34.129.148:8443
openshift v3.9.0-alpha.0+1c24d18-233-dirty
kubernetes v1.8.1+0d5291c

##### Steps To Reproduce
1. `oc cluster up --version=latest`
2. `oc explain Pod`

##### Current Result
[code]

[2017-12-19 10:45] php-coder commented on #17872
CC @enj @deads2k @liggitt

[2017-12-19 10:48] php-coder commented on #17872
I tried to use older versions but it didn't work too, that surprised me. I tried to remove `~/.kube` but the error remains the same. I tried to grant `system:discovery` role (and clusterrole) to the `developer` and it also didn't work. I don't know what is it.

[2017-12-19 11:00] simonpasquier commented on #13401
@smarterclayton my bad, i didn't do it but setting `serviceName` in the statefulset fixed my issue indeed.

[2017-12-19 11:39] php-coder opened #17873 "deploymentconfigs paused should disable actions on deployments flakes because of panic"
[code]
The full log is here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17856/test_pull_request_origin_extended_conformance_gce/13192/

[2017-12-19 12:22] pweil- commented on #17871
I do not think we have enough information to go on here.  It appears the client is not getting a response so you'd need to ensure that it is actually reaching the server and if so, what is happening servers side (via the logs, set to an appropriate log level for debugging).

Just as a quick test, I was able to reach master.hb.rht-labs.com, the console displays fine and a cli login attempt seems to

[2017-12-19 12:22] #17871 closed

[2017-12-19 12:31] pweil- commented on #17844
not enough info and does not appear to be a bug.  Closing.  Please direct general support questions to stack exchange or the dev mailing list.  Thanks.

[2017-12-19 12:31] #17844 closed

[2017-12-19 12:36] pweil- commented on #17824
Thanks for following up.  We briefly mention in docs that routers must be exposed externally and that configuration of a CNAME for a route should point to the router's canonical host name.  In order to help usability would you mind telling us where you were looking in the docs, maybe we can put some of this information in a more obvious section.  Thanks!

[2017-12-19 12:41] mohansidda commented on #17871
Hi Paul,
Thanks for quick response. find here screen snippets -

msidda-OSX:~ msidda$ oc login -u test -p test https://master.hb.rht-labs.com --loglevel=9
I1219 20:35:50.963874    2599 round_trippers.go:386] curl -k -v -XHEAD  https://master.hb.rht-labs.com:443/
I1219 20:36:01.831396    2599 round_trippers.go:405] HEAD https://master.hb.rht-labs.com:443/  in 10867 milliseconds
I1219 20:36:01.83141