[2015-05-13 11:56] #2184 closed

[2015-05-13 12:57] pweil- commented on #2194
In the master, the route allocation plugin will take the default `OpenShiftRouteSubdomain   = "router.default.local"` or use an env var `subdomain := env("OPENSHIFT_ROUTE_SUBDOMAIN", OpenShiftRouteSubdomain)`.

/cc @ramr - this is one of the last config items still using an env var and needs to be updated.

[2015-05-13 14:04] spadgett opened #2214 "Object describer outline styles showing up at mobile resolutions"
The object describer outlines are showing up on the Overview page when I hover my mouse over items, but nothing happens when I click because my browser window is too narrow. I don't think we should show the blue border at these resolutions.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7612189/45368374-f957-11e4-9bd7-73174a93ed45.png)

/cc @liggitt

[2015-05-13 14:13] spadgett commented on #2201
@derekwaynecarr Not always from what I've observed... I'm looking at a response to `/osapi/v1beta1/projects` now where `items` isn't ordered by `metadata.name`.

Either way, we should sort by display name since it's what we're showing.

[2015-05-13 14:37] bparees commented on #2051
@kargakis global scheme for what?  suggestions for what?

[2015-05-13 14:42] sspeiche opened #2216 "Create Node.js app from GitHub broken. Error: "Service xyz is invalid: spec.ports: required value""
Using https://github.com/openshift/nodejs-example and imageStreams/nodejs-010-centos7 I observe the following error (this has worked for weeks):

![create-app-failed](https://cloud.githubusercontent.com/assets/727196/7612921/bdc98472-f95b-11e4-8a7c-198c82caadbe.png)

[code]

The 422 response body:

[code]

The 422 error shows a little more detail in the JavaScript console

[code]

/cc @spadgett

[2015-05-13 14:49] spadgett opened #2217 "Typo in osc create error message"
Notice the missing 'n' in namespace: ` in amespace=foo`
[code]

[2015-05-13 14:54] kargakis commented on #2051
@bparees I was thinking of [this](https://github.com/openshift/origin/pull/1747#issuecomment-95326022) discussion. Even though this issue is for git links, shouldn't we finally decide on a global scheme?

[2015-05-13 15:13] smarterclayton commented on #2051
Not now.  Just got syntax for now and the multi image support (grouping images together).

[2015-05-13 15:19] smarterclayton commented on #1995
We can potentially support a default resource type in builder.  It has to be opt in (someone has to explicitly support it).

[2015-05-13 15:20] smarterclayton commented on #2212
Isn't this what @ironcladlou's changes do?

[2015-05-13 15:25] liggitt commented on #2194
Oops, I misspoke, there is no config option in master-config.yaml... there is `dnsDomain` in the node config

[2015-05-13 16:34] ironcladlou commented on #2212
I think he meant me, not @ncdc. The thing in my gist is a huge hack that takes a local origin binary and commits it into the `latest` tag for `openshift/origin-deployer`. It doesn't count as an image rebuild since it doesn't do a docker build at all.

[2015-05-13 17:04] mfojtik commented on #2212
@ironcladlou yes, I meant you :-) Right, I can execute the same commands to get origin-sti-builder image updated. The command I propose just simplify this process.

[2015-05-13 17:17] smarterclayton commented on #2211
Why are we still adding template label?  That should have been removed.  That's what object labels are for.

[2015-05-13 17:50] smarterclayton commented on #1639
Did this get opened upstream?

[2015-05-13 17:54] derekwaynecarr commented on #2201
Oh yeah, good point, I forgot we added the sort in the CLI and not the API.

----- Original Message -----
From: "Sam Padgett" <notifications@github.com>
To: "openshift/origin" <origin@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Wednesday, May 13, 2015 10:13:21 AM
Subject: Re: [origin] Projects dropdown is not always ordered (#2201)

@derekwaynecarr Not always from what I've obse

[2015-05-13 18:40] spadgett commented on #1805
@smarterclayton What situations should we flag in the web console? I talked to @liggitt, and we considered the following:

1. Looping Container
  * Restart count > n
  * Recent last start time

1. Failed Container
  * Pod is running
  * Container is terminated

   Is this ever expected? Should we consider Pod `restartPolicy`?

1. Stuck Container
  * Pod is running
  * Container is waiting

  Is th

[2015-05-13 18:42] liggitt commented on #1805
maybe some delta after pod start time?

[2015-05-13 18:44] #1020 closed

[2015-05-13 18:55] spadgett opened #2224 "Image streams not showing up in web console"
Sometimes the Browse -> Image Streams page is empty. Note that the "No images stream" message is not there, and there are no errors in the Chrome dev tools console. I only see this in some projects.

/cc @gshipley

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7618373/c3c3f9b0-f97f-11e4-894c-a0ec3b53b564.png)

[2015-05-13 18:59] spadgett commented on #2224
Same problem when creating from source repository.

![openshift_management_console_and_spadgett_on_freenode_irc_network_ _gshipley__gshipley_138_91_145_100_and_css_ _bootstrap](https://cloud.githubusercontent.com/assets/1167259/7618524/93bb292c-f980-11e4-9789-b7bf36364f5b.png)

[2015-05-13 19:05] smarterclayton commented on #1805
Yeah, containers restarted recently should pop out to a user (not as an error, but as a note).

----- Original Message -----

[2015-05-13 19:05] smarterclayton commented on #1805
----- Original Message -----

Failed is possible, a failed restart policy always pod means something different than a failed run once pod.  A failed pod is "done" like a successful pod, so those phases / states are important to visually present.

Pending > X time is important.

[2015-05-13 19:06] spadgett opened #2225 "CatalogImagesController.templatesByTag is never called"
The `templatesByTag` function in `CatalogImagesController` never appears to be used.

[2015-05-13 19:18] spadgett commented on #2224
We're not showing image streams missing `status.tags`.

@ncdc @smarterclayton should that always be defined?

[2015-05-13 19:20] spadgett commented on #2199
Same as #2224?

[2015-05-13 19:26] kargakis commented on #1995
How about making the `--from-build` flag a boolean that will dictate that default type?

[2015-05-13 19:42] brenton commented on #1516
I'm guessing this is related.  It would be nice if login failures didn't default to dumping the error message.  Here's an example of what happens when you type the wrong password and are using the `RequestHeaderIdentityProvider`:

[code]

Here's another issue that shows what happens when token expires: https://github.com/openshift/origin/issues/2132.  It definitely seems weird to print "Unauthoriz

[2015-05-13 20:19] sspeiche commented on #2216
This is blocking me from doing much of anything, including getting some demos recorded for upcoming conference.  Wondering if @jcantrill has any thoughts on it?

[2015-05-13 20:49] smarterclayton commented on #1995
Not sure - could go either way.

----- Original Message -----

[2015-05-13 21:09] liggitt commented on #2199
I don't think so, they appeared on next refresh

[2015-05-13 21:10] spadgett commented on #2216
I'm seeing the same error as @sspeiche creating from source repositories. I'm also seeing a similar error creating from templates.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7621186/cfb6300e-f992-11e4-89e4-652648261c94.png)

[2015-05-13 21:45] derekwaynecarr commented on #1805
It's helpful to refer to the following:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1724

A pod in failed phase is always failed and done forever and ever.

A pod with failed containers may or may not result in a failed phase depending on the restart policy.

Only way I could follow was that method, so its useful to reference.

[2015-05-13 22:30] #2201 closed

[2015-05-13 22:45] smarterclayton commented on #2224
You can have empty image streams.  We probably want to revisit the visual display of image stream tags right now.  Let's talk tomorrow.

----- Original Message -----

[2015-05-13 22:55] gshipley opened #2231 "Error: Service "myphpapp" is invalid: spec.ports: required value when using STI"
When using:
 https://raw.githubusercontent.com/openshift/origin/master/examples/image-streams/image-streams-centos7.json

for the image stream and trying to create a php application using:
https://github.com/gshipley/simplephp.git

I get the above error.

[2015-05-13 23:06] gshipley commented on #2231
[gshipley@172 ~]$ osc new-app openshift/php-55-centos7 --code=https://github.com/gshipley/simplephp.git -o json --loglevel=5
I0513 23:04:58.740466   22423 newapp.go:105] No local Docker daemon detected: dial unix /var/run/docker.sock: no such file or directory
I0513 23:04:58.742540   22423 imagelookup.go:265] checking image stream openshift/php-55-centos7 with ref ""
I0513 23:04:58.759916   22423

[2015-05-14 00:02] smarterclayton opened #2233 "Finalize Kube items"
Unmerged/open issues upstream:

- [ ] GoogleCloudPlatform/kubernetes#2630
- [x] GoogleCloudPlatform/kubernetes#5093
- [ ] GoogleCloudPlatform/kubernetes#7372
- [ ] GoogleCloudPlatform/kubernetes#7893
- [x] GoogleCloudPlatform/kubernetes#8119
- [x] GoogleCloudPlatform/kubernetes#8203
- [x] GoogleCloudPlatform/kubernetes#8607
- [ ] GoogleCloudPlatform/kubernetes#8890
- [x] GoogleCloudPlatform/kubern

[2015-05-14 00:23] derekwaynecarr commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/7868

Needed to time box rogue build pods and deployments from running "forever".

[2015-05-14 01:10] pweil- commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/7893

Required to provide security context constraints at a cluster level to allow definition of UID allocation, SELinux labels, service account permissions, and user permissions.

https://github.com/GoogleCloudPlatform/kubernetes/pull/8203

Supporting PR to allow admission controllers to be aware of `UserInfo`

[2015-05-14 02:37] liggitt commented on #2217
To use the long form, I think you have to use two dashes: `--namespace=foo`
It seems like `-namespace=foo` is parsing as `-n amespace=foo`, which surprises me.

[2015-05-14 03:31] smarterclayton commented on #2231
Hrm, can't reproduce this.  Not sure why, the error is pretty clear cut.  I wonder if we failed to load something the first time, but the second time it worked.

[2015-05-14 04:46] liggitt commented on #1805
@spadgett looking at the godocs, I think I found one more scenario we should probably flag... a running container where `ready` is false even N minutes after `startedAt`... indicates a container that started, and has a readiness check, which is not passing. @smarterclayton is that a reasonable thing to surface as a potential problem?

[2015-05-14 04:53] liggitt commented on #1805
@spadgett I think `state.termination.exitCode != 0` is an indicator of whether a terminated container should be considered potentially problematic

[2015-05-14 04:54] smarterclayton commented on #1805
Absolutely.  Also, make sure there are good comments on these cases so we can copy them in the cli

[2015-05-14 06:57] mnagy opened #2235 "Can't get to console with Firefox with bad certificate"
When using either libvirt or aws vagrant provider, following the sample-app walkthrough, I fail to get to the web console. After warning that the connection is insecure, clicking on "Add exception" does nothing. Using chrome works.

[2015-05-14 07:04] mnagy commented on #2235
cc @rhcarvalho

[2015-05-14 07:59] rhcarvalho commented on #2235
Isn't it a Firefox bug? The problem for me was that clicking the button to
ignore the certificate has no effect.
On May 14, 2015 9:04 AM, "Martin Nagy" <notifications@github.com> wrote:

[2015-05-14 08:55] mnagy commented on #2235
I'm not sure, but this never happened to me for other sites, so I suspect that maybe retrieving the certificate from the server might have failed and chrome doing something different. Would be nice to test it with some other firefox version.

[2015-05-14 09:18] kargakis opened #2236 "Can't stream build logs back"
Both `start build --follow` and `build-logs` will just exit and I 'll get the following error on the server:
[code]

[2015-05-14 11:16] spadgett commented on #2217
The space after `-n` is optional using POSIX command-line conventions. I don't think we should change it. My mistake.

[2015-05-14 11:16] #2217 closed

[2015-05-14 11:18] spadgett commented on #2231
@sspeiche Ran into this, too. See #2216

[2015-05-14 11:43] kargakis commented on #2231
@gshipley are you sure you are running on the latest master?
I am not able to reproduce this as well and the line numbers of our logs differ:
[code]

[2015-05-14 11:46] kargakis commented on #2231
eg.
[code]
and
[code]

[2015-05-14 12:01] ironcladlou commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/7868 is also the foundation of user-initiated depoyment cancellation.

[2015-05-14 12:09] jcantrill commented on #2194
@liggitt  @sspeiche   The widgit to support all the routing stuff is in the code base but it is not currently available in the UI.  There were some changes made during 'new-app' development the complicated the route generation and made it clear what was the expected outcome, one of which was the service generation that needed a service to support multiple ports.  That feature of services is now in

[2015-05-14 12:15] jcantrill commented on #2216
@spadgett your error looks like either a change in deployment configs that is not addressed by the UI flow or a scenario we did not account for.  It would also mean the template most likely was not crafted correctly.  Can you please provide more details about your issue?  You may even wish to spin it off since the template flow is different then the 'new-app flow'. @sspeiche your error would imply

[2015-05-14 12:24] brenton commented on #2233
It would be great to have this fixed: https://github.com/GoogleCloudPlatform/kubernetes/issues/7370

The short of it is that because there's no locking or retrying around the iptables initialization code there is a case that can happen on OpenShift startup where the iptables rules for the kube-proxy will never be initialized.  You'll typically only see this if you are running the SDN and launch it

[2015-05-14 13:20] jcantrill commented on #2216
@sspeiche The issue is the the generation tool was unable to find the exposed ports for the image.  It looks like the info on the imagestreamtag moved.  I'll work on fixing.

[2015-05-14 13:40] sosiouxme commented on #1643
@cmoulliard in the end it means your client configuration is not fully specified. You'll get this with an empty config file. What you are doing above creates a new docker container for each invocation of "osc" so it will never store the login configuration and starts with an empty file each time.

Not having any config is probably the most common case where you get that specific message. You could

[2015-05-14 13:56] spadgett commented on #2216
@jcantrill I'm using `examples/sample-app/application-template-stibuild.json`

[code]

Then I created from a template in the web console taking all of the defaults.

[2015-05-14 14:11] jstrachan commented on #1629
I'm cool with annotating just the templates. What worries me is the 64k limit on annotations; that rules out lots of possible icons already; many PNG icons are over 30k before they get base64 encoded (and some are over 64k as binaries).

I'm thinking we need a place to store icons out of band from the annotations then we can just use links in the annotations. I guess anyone can plugin in a microse

[2015-05-14 14:22] liggitt commented on #1629
we could allow putting an actual network URL in the icon annotation... there were just implications we hadn't fully thought through, so we didn't enable that immediately:
1. mixed-mode errors (or blocked icon loads) if the console is https and the url is http
2. security implications of loading images from remote URLs specified in templates

[2015-05-14 14:39] jstrachan commented on #1629
@liggitt yeah, it feels like there should be a safe place we can put icons to avoid using remote URLs and so that it works nicely with OpenShift Routes so the URLs can be shared with browsers etc

[2015-05-14 14:44] liggitt commented on #1629
so I think the right thing to do is probably put a real URL in the `icon` annotation... at the moment, the UI will not make use of it, but once we figure out security implications, we could in some cases

[2015-05-14 14:54] jstrachan commented on #1629
yeah, the question is what the URL points to and where we put the icons I guess ;)

[2015-05-14 15:06] spadgett commented on #2224
@smarterclayton @liggitt

Here's how I loaded the images streams.

[code]

Here's the JSON. `status.tags` is missing, which the web UI requires.

[code]

[2015-05-14 15:24] #2051 closed

[2015-05-14 15:49] jcantrill commented on #2216
@sspeiche https://github.com/openshift/origin/pull/2241

[2015-05-14 15:56] jcantrill opened #2242 "Rolling Params missing in application-template-stibuild.json"
Ref https://github.com/openshift/origin/issues/2216#issuecomment-102035323

@ironcladlou  A change you made to the sample template?

/cc @spadgett

[2015-05-14 16:12] ironcladlou commented on #2242
The params are missing in the template because they're not required: we supply defaults. I'll check into why that might not be happening in #2216.

[2015-05-14 16:21] mmilata commented on #1859
@smarterclayton Does this mean that the GC runs every 10 seconds and tries to keep number of completed containers under 100? What do you mean by five per?

[2015-05-14 16:42] #2066 closed

[2015-05-14 16:54] jim-minter commented on #2116
I reckon that "osc all --all" plus fixing #2043 does everything I need.  As far as I'm concerned this can be closed.

[2015-05-14 16:54] #2116 closed

[2015-05-14 17:01] ironcladlou commented on #2242
Looks like there's some issue with the REST API causing defaults to not be applied (whereas create the same resource w/ the same JSON payload with `osc create` works fine). Still investigating.

[2015-05-14 17:17] brenton opened #2245 "Failed to decode DeploymentConfig from controller: couldn't get version/kind: unexpected end of JSON input"
Has anyone seen this?  I just built the latest from master and I tried creating the registry with --latest-images.

[2015-05-14 17:29] liggitt commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/8257

We'll want this so we can run the controller to ensure two service accounts exist per namespace:
* "default", with some read-only level of access, maybe to services/endpoints/imageStreams in the namespace, etc.
* "builder", with additional write access to imageStreams in the namespace

[2015-05-14 17:41] csrwng commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/8233

If we allow you to exec to pods in your project, we should not let you exec into build pods (or anything else that's privileged) that basically give you root access to the node.

[2015-05-14 17:42] smarterclayton commented on #2233
We need more than this for 3.0 though - we need this to be an escalation check, right?  Just want to clarify that we don't physically need this change - we need the other one.

----- Original Message -----

[2015-05-14 17:53] smarterclayton commented on #1859
Here's how the policy is defined:

// Specified a policy for garbage collecting containers.
type ContainerGCPolicy struct {
	// Minimum age at which a container can be garbage collected, zero for no limit.
	MinAge time.Duration

	// Max number of dead containers any single pod (UID, container name) pair is
	// allowed to have, less than zero for no limit.
	MaxPerPodContainer int

	// Max number of

[2015-05-14 17:56] smarterclayton commented on #2224
That means the image change controller is not running.

----- Original Message -----

[2015-05-14 18:04] mmilata commented on #1859
@smarterclayton So in case of finished build pods which always have two containers, only the total maximum applies by default, right?

[2015-05-14 18:05] liggitt commented on #2199
Might have been a slow image change controller... c.f. https://github.com/openshift/origin/issues/2224#issuecomment-102117686

[2015-05-14 18:23] brenton commented on #2245
@smarterclayton, it seems like something is wrong with the v0.5.1 deployer image in the dockerhub.  I built the latest images locally and things are working as expected.

[2015-05-14 18:28] smarterclayton commented on #2245
@ironcladlou ?

[2015-05-14 18:32] brenton commented on #2245
Specifically the image that is failing is `docker.io/openshift/origin-deployer                v0.5.1              c4dd8800050b`

[2015-05-14 18:42] ironcladlou commented on #2245
That one's new to me... when will new images be pushed to dockerhub?

[2015-05-14 18:45] liggitt commented on #2235
There is a bug with the "Add exception" button in Firefox 37 (fixed in Firefox 38)

[2015-05-14 18:47] jorgemoralespou opened #2248 "multinic master does not work properly"
I have a libvirt setup on a linux where each master/node is using 2 NICs/IPs
Adapter one is a Bridged Adapter (eth0) and gets a DHCP address from my broadband router with access to the internet (192.168.121.x) .
Adapter two is a host only adapter (eth1) that I use for the beta3 addressing 192.168.133.x

I have tried many configurations, but get critical problems when it comes to the router deploym

[2015-05-14 18:48] smarterclayton commented on #2245
So 0.5.1 is broken.

----- Original Message -----

[2015-05-14 18:49] liggitt commented on #2235
That said, we were just made aware of another issue with Firefox 38 which is rejecting certificates containing IP addresses as DNS subjectAltName entries. The bootstrap certificates we generate contain IP addresses as DNS subjectAltName entries for compatibility with various TLS implementations (Python and Windows prior to Windows 10, to name a couple).

[2015-05-14 18:57] spadgett commented on #1805
Another helpful link: [Life of a pod](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pod-states.md) (Wasn't that a book by Yann Martel?)

Thoughts on the following? I plan to flag the pods somehow on the overview page.

**Scenario 1**

* Pod running
* Container restart count > 2
* Last started < 5 minutes ago

**Scenario 2**

* Pod running
* Container terminated
* Container exi

[2015-05-14 19:02] danmcp commented on #2206
Closing as dup.

[2015-05-14 19:02] #2206 closed

[2015-05-14 19:10] csrwng commented on #2236
@kargakis - I can't reproduce this locally. Can you add details of your env?

[2015-05-14 19:19] smarterclayton commented on #1859
Correct, each finished build pod should only leave 2 containers each.  Once the pods are deleted those containers should be removed.

----- Original Message -----

[2015-05-14 19:37] danmcp commented on #2235
Closing in favor of: https://bugzilla.redhat.com/show_bug.cgi?id=1218486

[2015-05-14 19:37] #2235 closed

[2015-05-14 19:47] spadgett opened #2249 "Container env vars show text 'none' in sidebar even when some are defined"
Seen in details sidebar when clicking on a pod.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7640299/61621b7c-fa50-11e4-82f7-dc39df02c765.png)

[2015-05-14 20:42] #2242 closed

[2015-05-14 20:54] mmilata commented on #1859
Hmm, I played around with git version, created over 100 builds -> over 200 pods -> over 200 containers and it doesn't look like any got deleted.

https://mmilata.fedorapeople.org/osc_get_builds
https://mmilata.fedorapeople.org/osc_get_pods
https://mmilata.fedorapeople.org/docker_ps_a

[2015-05-14 21:04] smarterclayton commented on #1859
Did you delete the pods?

----- Original Message -----

[2015-05-14 21:06] rajatchopra commented on #2248
Whats your /etc/hosts saying? golang's net.LookupIP will fetch from there first.

[2015-05-14 21:22] mmilata commented on #1859
I didn't when posting the previous comment, however now I did and the containers are still there.

[2015-05-14 21:24] spadgett commented on #2249
See kubernetes-ui/object-describer#12

[2015-05-14 21:40] csrwng commented on #1859
@smarterclayton @mmilata I found that the current code in origin is not purging terminated pods. However current code in kubernetes is. I would think that when we are rebased we will get whatever is broken fixed. Of course, we'll need to verify.

[2015-05-14 21:45] smarterclayton opened #2254 "HA: Double deployment pods created"
Two master configuration, deployment controller races against itself to create two deployments.

If the deployment process pod name was predictable this would be impossible.  That's probably the right solution.

[code]

[2015-05-14 22:05] smarterclayton commented on #1859
I rebased last night.  Is there a fix from today?

----- Original Message -----

[2015-05-14 22:12] smarterclayton opened #2255 "HA: Masters fight to reserve endpoints"
In a two master configuration the endpoints flip between the two registered masters, mostly due to the algorithm used in master/controllers.go#SetEndpoints.  Consider changing this to merge or have per master identities.

[2015-05-15 00:03] liggitt commented on #1805
Scenario 1, 2, and 4 look pretty good to me, though I'd want someone better versed in container status to take a look as well.

Scenario 3 is important, but I'm not sure you have the data to compute "pending > 5 minutes". The container `waiting` state doesn't include a timestamp, nor does pod status. All you have left is the creationTimestamp of the pod itself, which is not a good indication of wh

[2015-05-15 00:05] liggitt commented on #1805
I wonder if you could do something clever with the container status lastState (if it exists) or the timestamps of peer container status objects (if they exist).

[2015-05-15 00:55] smarterclayton commented on #1805
Although technically if a pod hasn't been scheduled or started in 5 minutes that's also a problem.

[2015-05-15 01:41] liggitt commented on #1805
Pods that aren't getting scheduled (`pod.status.phase == "Pending" && (now() - pod.metadata.creationTimestamp) > X minutes`?) is a good scenario to flag, albeit a separate one.

If it took a long time (e.g. 4:59) to schedule, but finally did, it feels weird to only give the container 1 second to start before we'll flag it again as worrisome.

[2015-05-15 01:42] smarterclayton commented on #1805
We may want to show the age of a pod in seconds / minutes when < 10 minutes when not in running.  Ie "pending 30s"

[2015-05-15 03:15] smarterclayton commented on #2216
Please verify

[2015-05-15 03:17] smarterclayton commented on #2194
We aren't running masters in production on macs so local resolution isn't that critical.  Also, we're stepping up a level Indus to cluster.local so you should be able to configure a priority rule on that sub domain if necessary

[2015-05-15 03:17] smarterclayton commented on #2187
Please open an upstream issuers this.

[2015-05-15 03:19] smarterclayton commented on #2162
This is desirable..., but not required for 3.0.  It will incur a migration cost post 3.0 to fix if we do ship like this

[2015-05-15 03:21] smarterclayton opened #2258 "Rename STI acronym in api and public repos to S2I or "Source""
I would prefer "Source" for our inner API constants.  They can still be changed in v1beta3

[2015-05-15 03:23] smarterclayton commented on #2233
Brenton pleas spawn an issue in our repo for the proxy lock, I'll port my upstream change and add the loop

[2015-05-15 03:23] smarterclayton commented on #2152
Consider this fixed.

[2015-05-15 03:23] #2152 closed

[2015-05-15 03:24] smarterclayton commented on #2112
Apparently was just recently fixed upstream

[2015-05-15 03:27] smarterclayton commented on #2087
Will be fixed by https://github.com/openshift/origin/pull/2208

[2015-05-15 06:11] rajatchopra commented on #2108
This issue should be closed now. A similar situation faced by QE has been fixed and marked verified.
https://bugzilla.redhat.com/show_bug.cgi?id=1221019

[2015-05-15 08:02] #2108 closed

[2015-05-15 08:17] cmoulliard opened #2263 "No option/parameter to define log-level when we launch openshift server"
When we launch openshift binary, I don't see an option to specify the log-level to be used :
[code]
Is there such option ?

[2015-05-15 09:24] wjiangjay opened #2264 "Label filter display ugly with overflow-x:scroll"
Hello:

After this PR(https://github.com/openshift/origin/pull/2098), the label filter display well with small screen device, but make label filter display ugly too.
![snapshot3](https://cloud.githubusercontent.com/assets/4132382/7650242/04fb28c4-fb27-11e4-8f00-dccb20e203df.png)

And when without "overflow-x: scroll" for label filter, it display well.
![snapshot4](https://cloud.githubusercontent.c

[2015-05-15 09:42] kargakis commented on #2236
Not sure if it's of much help since my env is plain simple: I'm running OpenShift in vagrant, everytime following the sample-app flow.

[2015-05-15 12:01] jorgemoralespou commented on #2248
It has same content as the hosts in the beta3 folder of the training.

[2015-05-15 12:34] jcantrill commented on #2216
@smarterclayton please verify what?

[2015-05-15 12:48] kargakis commented on #2236
I had asked @rhcarvalho to try and reproduce it as well but he wasn't able as well. It's very strange...

[2015-05-15 12:57] csrwng commented on #2236
to troubleshoot, can you curl the log endpoint on a pod directly?
[code]

[2015-05-15 13:04] deads2k commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/8072
https://github.com/GoogleCloudPlatform/kubernetes/pull/7974
https://github.com/GoogleCloudPlatform/kubernetes/pull/7966

All of these are related to attaching image pull secrets to pods.  Once these settle, there will be follow-on for pull secrets in service accounts.

[2015-05-15 13:09] kargakis commented on #2236
Getting back the error I mentioned in the first post [in the server]

[2015-05-15 13:10] brenton opened #2266 "kube-proxy should retry iptables initialization if the lock cannot be acquired"
It turned out the problem was in Origin.  A summary of the problem can be found here: https://github.com/GoogleCloudPlatform/kubernetes/issues/7370#issuecomment-102132585

To reproduce the problem on RHEL7 you can follow the `gdb` steps mentioned here: https://github.com/GoogleCloudPlatform/kubernetes/issues/7370#issuecomment-97475070

Thinking more about this I think the best thing is to simply r

[2015-05-15 13:11] mmilata commented on #1859
Tried today with cc9bdf8 with 101 failed builds. Still no change:
[code]

[2015-05-15 13:11] brenton commented on #2233
@smarterclayton, I just opened https://github.com/openshift/origin/issues/2266.  I set the priority to P0 but feel free to change it if that's not right.

[2015-05-15 13:14] csrwng commented on #1859
same here. @smarterclayton I'll take a look at our code, we may be configuring something differently than kube

[2015-05-15 13:51] sspeiche commented on #2194
Understand for production but for demos and development, it is handy to not have to jump through too many hoops.  Though using some of the ways mentioned above, I can make sure I set env var prior to launch.  Though a slightly different default would ease, though not a high priority

[2015-05-15 14:22] csrwng commented on #2236
What if you curl the kubelet directly?
[code]

[2015-05-15 14:26] smarterclayton commented on #2255
We have to set MasterCount in kubernetes/master.go to a value that comes from config (the expected number of masters).

[2015-05-15 14:29] derekwaynecarr commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/7372

Needed to ensure that we do not have dangling folders for each resource type after namespace deletion.  Enables ability to delete entire collection in etcd for a namespace.

[2015-05-15 14:30] smarterclayton commented on #2194
What is the environment you're set up with?  We are weak on the design of "i want to demo and dev on Mac" in a way that is truly sustainable.  I would want to have a really clear solution.

----- Original Message -----

[2015-05-15 14:33] mmilata commented on #1530
I have tried to find out if this is fixed in master (0189d1e) and found that 0.4.4 looks good while the git version leaks somewhat:

![os044](https://cloud.githubusercontent.com/assets/85857/7654754/a3dc04b6-fb1f-11e4-8951-4bc98bbc83be.png)
![osgit](https://cloud.githubusercontent.com/assets/85857/7654758/a9c1a796-fb1f-11e4-9fb3-e5fad7488158.png)

These are two identical VMs with 1G RAM. The 0.4.4

[2015-05-15 14:35] spadgett commented on #1733
We're already watching projects in nav.js to update the projects dropdown.

[code]

I'm not clear on the difference here. It seems like we should watch in both places or neither if there's a performance concern. @liggitt ?

[2015-05-15 14:38] smarterclayton commented on #1530
You'd need to trigger a heap profile.  Turn on OPENSHIFT_PROFILE=web, then from http://localhost:6060/debug/pprof you can trigger a heap profile.  Do it over an hour interval and then send both to me.

[2015-05-15 14:40] derekwaynecarr commented on #1733
There is no ability to WATCH projects since its auth-filtered, you have to poll LIST.

[2015-05-15 14:42] smarterclayton commented on #2266
It's p0

[2015-05-15 14:42] kargakis commented on #2236
@csrwng same error again

[2015-05-15 14:43] liggitt commented on #1733
`$scope.$watch` is an angular subscription to the `projects` field. We're only making `list` calls on projects:

[code]

[2015-05-15 15:04] sspeiche commented on #2194
For demo, I try to use `docker run openshift/origin:latest`, run scripts to create router and registry, setup image streams. I now have an additional setting to set the env var.  I use dnsmasq on my Mac host to for *.domain routes.  That way I can stay in the console and demo new app from GitHub, build it and click on the route with my browser on Mac.  Similar setup for dev, though I use vagrant.

[2015-05-15 15:14] pmorie commented on #2233
I am trying to get https://github.com/GoogleCloudPlatform/kubernetes/pull/7936 and related changes in but we may need to carry it as a patch for 1 release.

[2015-05-15 15:16] csrwng commented on #1859
So the issue is that we don't start the garbage collector like kube does:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubelet/app/server.go#L694
However, I'm seeing errors when I do start it in the openshift all-in-one... digging a little further
[code]

[2015-05-15 15:27] soltysh opened #2269 "How to treat builds upon unsuccesfull retries"
**Problem**

1. I create a `BuildConfig` object with non-existing `ImageStream`. When a new build is created from such BC, current build controller implementation will retry to schedule that build for ever, because this error is  marked as recoverable.

1. I create a `BuildConfig` object with non-existing `pullSecretName` or `sourceSecretName'. When a new build is created from such BC the build po

[2015-05-15 15:28] smarterclayton commented on #2194
Can dnsmasq on the mac properly send *.cluster.local to the vm?  That's the new DNS suffix that will be defaulted.

----- Original Message -----

[2015-05-15 16:09] mmilata commented on #1530
@smarterclayton here they are: https://mmilata.fedorapeople.org/openshift/openshift-cc9bdf8-pprof-heap1 https://mmilata.fedorapeople.org/openshift/openshift-cc9bdf8-pprof-heap2

[2015-05-15 16:27] kargakis opened #2273 "new-app: Tags are not imported if new stream is backed by a Docker repo"
Background: https://github.com/openshift/origin/pull/2089#issuecomment-101212486

If I do the same thing on the latest master, imported tags are gone.
[code]

Probably happens due to the latest api conversions? @smarterclayton @bparees

[2015-05-15 16:56] bparees commented on #2273
if tags aren't being imported, e2e would be failing since we create+reference the ruby-20-centos7 imagestream there too and the build can't succeed if we haven't imported from the repository.  is there any difference in how new-app is defining the imagestream object vs how the STI template json does it?

[2015-05-15 16:57] csrwng commented on #2236
make sure you're doing a 'make clean' before building, seems like something in the kubelet

[2015-05-15 17:04] smarterclayton commented on #2273
Hrm - @csrwng may have seen this as well, definitely a bug.  The test-cmd.sh should be catching this - @kargakis you were the last one to touch that code in hack/test-cmd.sh, can you try with the old hack/test-cmd.sh commands to verify?

----- Original Message -----

[2015-05-15 17:37] sspeiche commented on #2216
@jcantrill @smarterclayton I just pulled image from docker hub and things work now.  So perhaps you can consider it verified.  Thanks!

[2015-05-15 17:39] kargakis commented on #2273
@bparees new-app relies on setting spec.dockerImageRepository to the Docker repo: https://github.com/openshift/origin/blob/3b03c184f0ad1e37b2fa3c601ba4ce4df9fe83e5/pkg/generate/app/app.go#L259

[2015-05-15 17:40] #1042 closed

[2015-05-15 17:42] #1056 closed

[2015-05-15 17:43] sspeiche commented on #2194
Here's what I observe, so somewhere something isn't working as advertised.  I will continue to look into it.  As said before, I just set the env var on all-in-one and I'm moving.

[code]

[2015-05-15 17:46] #1135 closed

[2015-05-15 17:46] smarterclayton commented on #2273
Which should trigger import.

----- Original Message -----

[2015-05-15 17:49] bparees commented on #2273
@kargakis that's exactly what the sti sample does:
https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-stibuild.json#L54

[2015-05-15 17:51] #1351 closed

[2015-05-15 17:52] danmcp commented on #1370
@thesteve0 Are you able to recreate still?

[2015-05-15 17:54] #1374 closed

[2015-05-15 17:55] danmcp commented on #1394
@smarterclayton ^^

[2015-05-15 17:55] kargakis commented on #2273
Nuked my vagrant and started over. Seems like a false alarm:)
[code]

[2015-05-15 17:55] #2273 closed

[2015-05-15 17:55] #1469 closed

[2015-05-15 17:55] liggitt commented on #1374
the etcd helper does the namespacing now.
https://github.com/openshift/origin/issues/2104 and https://github.com/openshift/origin/issues/1870 open to track generic etcd conversions

[2015-05-15 17:56] #1483 closed

[2015-05-15 17:58] danmcp commented on #1555
Closing due to age without prejudice.

[2015-05-15 17:58] #1555 closed

[2015-05-15 17:58] bparees commented on #1555
also it was fixed :)

[2015-05-15 17:59] #1569 closed

[2015-05-15 18:03] smarterclayton commented on #1592
The router reloading when no changes are happening has performance impacts on routes

[2015-05-15 18:04] smarterclayton commented on #1592
This is P1 unless we can show the interval for the reload is going to be less than pod changes in general.

[2015-05-15 18:04] #1619 closed

[2015-05-15 18:05] #1634 closed

[2015-05-15 18:09] pmorie commented on #1483
I think it was PEBCAK

On Fri, May 15, 2015 at 1:56 PM, Dan McPherson <notifications@github.com>
wrote:

[2015-05-15 18:13] smarterclayton commented on #1649
Core thing I want to see solved is that we don't create more than one deployment pod per deployment

[2015-05-15 18:15] #1657 closed

[2015-05-15 18:16] smarterclayton commented on #1662
This could be the ulimit problem (we also need to document that ulimit need to be higher, if that's the root cause).

[2015-05-15 18:17] danmcp commented on #1666
Closing without prejudice due to age.

[2015-05-15 18:17] #1666 closed

[2015-05-15 18:17] #1688 closed

[2015-05-15 18:19] spadgett opened #2275 "Every page has vertical scrollbar even if content doesn't fill page"
Seemingly every page in our web console has a vertical scrollbar even if it's not needed.

/cc @sg00dwin @liggitt

[2015-05-15 18:24] liggitt commented on #1733
We need to make sure that clicking the logo while already on the projects page makes another API call to get the projects again.

[2015-05-15 18:25] smarterclayton commented on #1724
This is fixed.

[2015-05-15 18:25] #1724 closed

[2015-05-15 18:27] danmcp commented on #1818
@sdodson We believe this is fixed.  Please reopen if still an issue.

[2015-05-15 18:27] #1818 closed

[2015-05-15 18:28] #1825 closed

[2015-05-15 18:30] deads2k commented on #1853
dupe of https://github.com/openshift/origin/issues/1558

[2015-05-15 18:35] bparees commented on #1818
was fixed here:
https://github.com/openshift/origin/commit/129f2cb4f3f7cd19686d96350db06774a6896b1e#diff-b9627ec6ab0689e50e5fa3e5d958c1d3

[2015-05-15 18:35] smarterclayton commented on #1370
This is still a problem and is high severity.  IP address changes result in an unusable deployment or default config.  However, it only occurs when an IP changes which is not a production scenario (today).

----- Original Message -----

[2015-05-15 18:42] bparees commented on #377
i'm not fully understanding how the deployment pod handles this (it calls back to the api server to get the details about the deploymentconfig?  what access token does it use to do that?) but it seems like how builds are doing it (essentially passing the buildconfig as a parameter via an environment variable) isn't unreasonable as a solution, so i don't see why we'd invest in changing this.

but a

[2015-05-15 18:54] bparees commented on #2269
I would vote for eventual build failures in both cases, because build failures are more obvious to users than builds that never complete (eg in the case of jenkins, one sends you an email, the other you just forget about).

But with regards to the secret issue, i'm not sure builds can solve it themselves.  they are waiting for a pod to complete/fail that never will.  We're dependent on what k8s de

[2015-05-15 18:56] #1853 closed

[2015-05-15 19:05] smarterclayton commented on #2255
To reserve, set masterCount in the config file to > 1

[2015-05-15 19:05] #2255 closed

[2015-05-15 19:18] smarterclayton commented on #2269
The message from the pod status should probably be reflected back to the build status. Ben I think your position is reasonable.

[2015-05-15 19:21] bparees commented on #2269
Reflecting pod status messages in the build status is a good idea.  Probably related to the story we need to do to put events into the build itself as we track it through it's lifecycle.

[2015-05-15 19:36] sdodson commented on #2115
I'm running into forever pending pods as well.

[code]

I do see repeated failed to find ip for pod messages in my master logs.
[code]

pod json
[code]

[2015-05-15 19:42] deads2k commented on #1889
@liggitt fixed by https://github.com/openshift/origin/pull/2226

[2015-05-15 19:45] #1889 closed

[2015-05-15 19:56] sdodson commented on #2115
The culprit in my environment seems to have been failed sdn, restarting the sdn resolved the issues.

[2015-05-15 20:07] liggitt commented on #2072
https://github.com/openshift/origin/pull/2267 will no longer write the template to the openshift namespace, which will fix this issue

[2015-05-15 20:13] deads2k commented on #1851
I accidentally fixed this at some point.  You now get
[code]

@liggitt please close.

[2015-05-15 20:17] smarterclayton commented on #1530
I don't see anything excessive here.  Can you let the master run and get a heap dump later?  The info you have doesn't have an excessive amount of held references for anything I can detect.

----- Original Message -----

[2015-05-15 20:17] #1851 closed

[2015-05-15 20:24] mfojtik commented on #1662
@smarterclayton in my case it was NFS volume (vagrant+libvirt), I am taking to do to document this.

[2015-05-15 20:29] liggitt opened #2281 "Indicate the version of the server in a way that surfaces in the UI"
on the login page, or in a footer, or...

[2015-05-15 20:33] liggitt opened #2282 "The UI should discard user/token info after the token expiration time"
Currently, the UI stores the info, and only removes it when explicitly logging out or when completing a login flow for another user.

When the token is granted, the UI should remember the expiration time of the token and discard user/token info after that point.

[2015-05-15 20:37] liggitt opened #2283 "Update the UI to use osapi/v1beta3"

[2015-05-15 20:49] brenton opened #2284 ""osc exec" results in a dumb terminal and no tty"
It's important to the users coming from 2.x that `osc exec` be roughly the same experience as ssh in earlier versions.  This issue is meant to track progress towards making this a reality for GA.

#### Current State ####
Right now we're using nsenter under the covers.  As best I can tell nsenter doesn't actually create a tty nor have the ability to.  In addition a `dumb` terminal is set up by defa

[2015-05-15 20:49] spadgett commented on #2146
@liggitt So nothing to do?

[2015-05-15 20:50] brenton commented on #2284
@ncdc, you might want to follow along here too.

[2015-05-15 20:50] mfojtik commented on #2269
How is having a PodTemplate with non-existing (yet) Secret different from having a PodTemplate with Image which does not exists (yet)? Can we allow users to set the maximum build retry count for a build or allow them to set the maximum time that the build will be considered as failed (or the Build status will change from Pending to "Staled" (or Failed) ?

Example: I'm leaving from work and I start

[2015-05-15 20:51] brenton commented on #2284
@smarterclayton, what labels/milestone should we put on this?

[2015-05-15 20:54] spadgett commented on #2145
Fixed by #2178.

[2015-05-15 21:07] mmilata commented on #1666
I checked that the issue is still there 3 days ago, see the linked PR. Please reopen.

[2015-05-15 21:14] thoraxe commented on #1630
Still haven't gotten to it. Probably another week or so :-/

[2015-05-15 21:18] bparees commented on #2269
it's different because we (the build controller) have to resolve the ImageStream to an Image before we can create the pod.

We don't have to resolve the secret before creating the pod.

[2015-05-15 21:22] smarterclayton commented on #2284
P2, bug, component/kubelet

----- Original Message -----

[2015-05-15 21:45] rajatchopra commented on #2248
Can you run this program on the master, and see if the IP address is correctly resolved.
http://fpaste.org/222467/17261831/
sudo go run checkip.go ose3-master.example.com
The first IP of the list is what node is considered bound to.

[2015-05-15 22:00] #1796 closed

[2015-05-15 22:08] soltysh commented on #2269
I like the additional validation @bparees mentioned and I also vote for build failures as this is more natural flow for developers (build-fail over and over again until you get build-success-run).
As for pods we're currently stuck to what k8s decides, on handling them in situations such as the one with missing secrets, so probably putting events into build logs/messages makes sense. In the future

[2015-05-16 00:45] #2249 closed

[2015-05-16 00:52] liggitt commented on #1674
not specific to OAuth test...

[2015-05-16 01:03] liggitt commented on #2283
needs to wait until v1beta3 is baked (probably when we switch storage to it), then happen as fast as possible. @smarterclayton, ideas on timeframe for the storage switch?

[2015-05-16 01:26] #2200 closed

[2015-05-16 01:27] liggitt opened #2286 "Flake in phantomjs e2e UI test"
[code]

[2015-05-16 01:29] liggitt commented on #1342
The osin library is not including state in the hash for the implicit flow

[2015-05-16 01:42] liggitt commented on #1342
Fixed in https://github.com/RangelReale/osin/pull/32
Will look into updating osin or cherry-picking if the delta is too big

[2015-05-16 01:47] liggitt commented on #1342
Diff between where we are and `master` isn't that big: https://github.com/RangelReale/osin/compare/1f4e9754a8931fbd9834ab11592f358418efc9ff...master

Most of the changes are changes to examples or a refactor of token expiration checking

[2015-05-16 02:53] smarterclayton commented on #2283
~week.  Still stomping on conversion problems.  @bparees or @derekwaynecarr or @pweil- if they have any API changes to v1beta3 they want to see done before then.

[2015-05-16 03:39] bparees commented on #2269
I was a actually suggesting we not do that additional validation as validating pod configuration shouldn't be the job of the build controller imho, and once we start adding those rules it's not clear where we stop.

We'd also have to look for the secret using the user's credentials. Not even sure that's possible, but at best it seems messy.

[2015-05-16 03:40] #2264 closed

[2015-05-16 04:33] #1342 closed

[2015-05-16 04:39] liggitt opened #2289 "Set TTL on oauth tokens"
They have an expiration time that cannot be extended. It would save us having to write a cleanup controller. @smarterclayton, any reason you can think of not to auto cleanup oauth tokens?

[2015-05-16 12:58] liggitt opened #2292 "Remove v1beta1 API"
Must be done before GA

UI changes done in #2578
Has doc, test, UI impact

[2015-05-16 14:26] smarterclayton commented on #2289
Nope.

[2015-05-16 15:12] smarterclayton opened #2293 "Options help message is not rooted properly under `start`"
Options help message is not rooted properly.

[code]

Should be `openshift options`

[2015-05-16 15:14] smarterclayton commented on #2293
Also... `openshift options` doesn't work.

[2015-05-16 18:52] thesteve0 commented on #1370
Assuming that clayton's response covers it. Please let me know if you need
me to try and reproduce as well
Thanks
Steve

On Fri, May 15, 2015 at 11:35 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-05-16 19:37] bparees commented on #2283
i think the STI->source changes are the only imminent changes we'd want in v1b3 that immediately come to mind for me.

Do we consider the single Status.Message string to be sufficient for any status we want to provide about the build?  As opposed to an array of strings that represent significant events in the lifecycle of the build that have occurred?

Obviously we can concatenate into that field

[2015-05-16 20:55] smarterclayton commented on #2283
Should be consistent with Pods - I think a single Reason is adequate for now.

[2015-05-16 21:12] smarterclayton opened #2295 "Replication controllers fight with each other during `delete all --all` in hack/test-cmd.sh"
Deletion of the project (delete all --all) is incredibly slow now.  It looks like it's related to the serial nature of the deletion reaper with upstream changes.  It's also possible that the replication controller is getting backlogged, which means that it takes O(minutes) to wait for the controller to reach zero.

This is probably unacceptable for production use, so we need to optimize and fix th

[2015-05-16 21:26] derekwaynecarr commented on #2295
So this is just deleting the content in the project but not the project itself?

Sent from my iPhone

[2015-05-16 21:47] smarterclayton commented on #2295
This is the cli deletion code for the deployment config and replication controllers

[2015-05-16 23:10] smarterclayton opened #2296 "Build OpenShift using Go 1.4 on RHEL"
We need to tag in the 1.4 packages to our build chain to build.  The perf benefits from 1.4 are sufficient enough that we need to do it for 3.0.

@detiber / @sdodson

[2015-05-16 23:21] derekwaynecarr commented on #2295
Ok.  Project deletion is much faster now so was wondering if there was something odd there.

Sent from my iPhone

[2015-05-16 23:33] smarterclayton commented on #2284
We need `dockerexec` in our builds and packages stat.  We probably want to vendor it into the all in one binary since I *think* 99% of the things it calls are already part of our import tree.

[2015-05-17 02:26] smarterclayton commented on #2263
`--loglevel=X` - 4 is verbose, 6 is debug.

[2015-05-17 02:26] #2263 closed

[2015-05-17 02:27] smarterclayton commented on #2263
Log level doesn't show up due to historical reasons (glog).  Hopefully this will be fixed soon.

[2015-05-17 02:27] smarterclayton commented on #2258
Fixed by #2274

[2015-05-17 02:27] #2258 closed

[2015-05-17 02:28] smarterclayton commented on #1674
.... The OS gives us the same address we asked for via DNS.

[2015-05-17 03:02] liggitt commented on #1232
Also see https://bugzilla.redhat.com/show_bug.cgi?id=1190052

[2015-05-17 12:30] nak3 opened #2303 "self-subject access reviews (IsPersonalSubjectAccessReview) doesn't work"
Please see following output.

[code]

Even though `printIsPersonalSubjectAccessReview()` is implemented in [`pkg/cmd/cli/describe/printer.go`](https://github.com/openshift/origin/blob/53e8a0d27c6a7e8ee663898a437fde6908c368c5/pkg/cmd/cli/describe/printer.go#L449-L452), its rest API is not implemented and `master.go` doesn't register the API during the start.

However, according to this discussion [

[2015-05-17 13:34] derekwaynecarr commented on #1232
We proxy project creation so in theory we could further restrict validation.

Sent from my iPhone

[2015-05-17 13:56] liggitt commented on #1232
We can, but maybe just on create? Don't want to prevent updating an existing namespace with a short name using the project proxy

[2015-05-17 16:22] #2289 closed

[2015-05-17 18:22] smarterclayton opened #2304 "Client TLS negotiation is slow, consider a temporary session ticket cache"
The CLI spends a fair amount of CPU and network back and forth establishing TLS connections to the server.  It might be nice to have something like ssh-agent that reuses connections to the server in the background to reduce the startup cost of the cli.

Essentially, this would be a local tls proxy over http that required a unique secret between the cli and the proxy to work.

Possible flow:

1. `o

[2015-05-17 18:34] smarterclayton opened #2305 "Build a client and admin client binary during release"
As the server binary has grown it's increased the startup time for clients.  We should test building a separate binary that holds the user facing cli (osc, kubectl) and measure both total size and startup time.  Assuming it is smaller and faster to startup, build-cross should make a separate binary and update the symlinks.

[2015-05-17 18:36] smarterclayton commented on #2303
Personal subject access review is called by other methods.  The printer may still need to be called, but it's possibly not wired up correctly.

[2015-05-17 18:37] smarterclayton commented on #2295
Deletion should be sub second of an rc and deployment config.

[2015-05-18 00:22] liggitt commented on #2303
IsPersonalSubjectAccessReview isn't an API resource... it's a possible attribute restriction on a role. You can see it in use in the default policy with `osc describe clusterrolebindings default`

[2015-05-18 00:23] #2303 closed

[2015-05-18 04:53] nak3 commented on #2303
I understand.

So, the below column is not used?

https://github.com/openshift/origin/blob/cdd1903e0576b178669c2e83866cdf67db3b7356/pkg/cmd/cli/describe/printer.go#L52-L53

Actually I hope that the resource which can't get by `osc get <RESOURCE>` isn't included in [`NewHumanReadablePrinter()`](https://github.com/openshift/origin/blob/cdd1903e0576b178669c2e83866cdf67db3b7356/pkg/cmd/cli/describe/pr

[2015-05-18 06:45] soltysh commented on #1102
Already done as part of this commit https://github.com/openshift/origin/commit/2e188016aa957efe6b55744930941495a5673b5b. @danmcp pls close.

[2015-05-18 08:11] kargakis opened #2307 "Messed up STATUS & CREATED info when getting pods"
[code]

[2015-05-18 08:11] kargakis commented on #2307
This is most probably an upstream issue.

[2015-05-18 08:52] kargakis commented on #2295
@smarterclayton did you try to run a deletion locally? Doesn't seem slow on my machine... [Except if 6 seconds for spinning down 20 pods is regarded as slow](http://pastebin.com/Bf8C5pCg). There are some parts of the reaper interface I would like to rewrite though, specifically reducing HTTP calls since both `stop` and `delete` already use the resource builder (and then go on GETing the objects).

[2015-05-18 08:58] TomasTomecek opened #2309 "getting logs via API prepends timestamp"
In our case the timestamp is a bit disturbing since our logs already have timestamps:

`docker logs`
[code]

API
[code]

`osc build-logs`
[code]

Would it possible to disable timestamping? Or even better, make it configurable.

[2015-05-18 09:17] mfojtik commented on #1629
@liggitt @jstrachan @smarterclayton so to summarize here what have to be done:

* Import icons provided by the URL (how to store them? wouldn't be easier to just have them as links to external locations in UI?
* README as annotation... Isn't better to just link the README.md from the external location as well and fetch it in UI? The only drawback might be when OpenShift is behind proxy or firewall

[2015-05-18 09:32] kargakis opened #2310 "Deployment pod name differs from 'deploy-rc_name` pattern"
[code]

If I use [this](https://github.com/openshift/origin/blob/cdd1903e0576b178669c2e83866cdf67db3b7356/pkg/deploy/util/util.go#L54) helper I won't get the right pod name back.

@ironcladlou @smarterclayton

[2015-05-18 09:40] jstrachan commented on #1629
@mfojtik agreed. For public open source projects we can just link to docs and images on github. Thats not going to work too well for private on premise projects though; which may be behind a proxy/firewall or even not have internet access.

[2015-05-18 10:09] mfojtik commented on #2309
@TomasTomecek +100 this is annoying me for a pretty long time. I think we should not use 'glog' to return logs here but just Printf()

[2015-05-18 10:14] kargakis commented on #2310
While at it, deployment pods are not labeled.

[2015-05-18 10:23] mfojtik commented on #2309
@smarterclayton @TomasTomecek wonder if this add the first timestamp or the second...

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L223

[2015-05-18 10:36] mfojtik commented on #2309
Upstream: https://github.com/GoogleCloudPlatform/kubernetes/pull/8407

[2015-05-18 11:25] cmoulliard opened #2311 "Failed to find an IP for pod default/router-1-87gwk"
When I boot openshift using a vagrant fefora 21 box provisioned with Docker 1.6 & openshift v0.5.1, I get these errors using loglevel=4

[code]
Console :
![screenshot 2015-05-18 13 19 22](https://cloud.githubusercontent.com/assets/463790/7679860/fde42004-fd60-11e4-9c81-d1b6f144a03c.png)

The scenario can be reproduced using the following project : https://github.com/cmoulliard/tech-knowledge/blob/

[2015-05-18 11:42] 126ium commented on #2245
I got the same error. After I rolled back to a version released on last week, everything works perfect with v0.5.1 c4dd8800050b. So is something wrong with our new code updates instead of the image?

[2015-05-18 12:09] deads2k commented on #2303
The human readable printer is used to print AttributeRestrictions from https://github.com/openshift/origin/blob/cdd1903e0576b178669c2e83866cdf67db3b7356/pkg/cmd/cli/describe/describer.go#L739 and provides a somewhat discoverable way to print them.

I could see other envision other factorings, but changing the factorization for bash completion seems weak.  Bash completion lists should be built from

[2015-05-18 12:09] brenton commented on #2296
Looks like we're already building with 1.4:
[code]

[2015-05-18 12:09] #2296 closed

[2015-05-18 12:11] brenton commented on #2296
I verified that is the package we're using in the brew output as well.

[2015-05-18 12:26] #1102 closed

[2015-05-18 12:44] pweil- commented on #2283
I'd like to see the route get a secret name instead of the keys but I don't think there will be time for that in the next week.

[2015-05-18 12:54] mfojtik opened #2312 "Building origin using ./hack/build-release.sh is broken"
We initially found this when we were doing release of STI v0.0.5 and we were not able to cross-compile the binary for Mac and Windows. We were getting this error:

[code]

It turns out that `yum install go` pulls the GO 1.4 which is not compatible with some of the packages we have in GoDeps (namely `github.com/Sirupsen/logrus` and some Docker pkgs). The problem as described here: http://stackoverf

[2015-05-18 13:19] bparees commented on #2236
closing due to inability to reproduce.

[2015-05-18 13:19] #2236 closed

[2015-05-18 13:24] mfojtik commented on #1860
Can this be done by validation?

[2015-05-18 13:29] bparees commented on #1860
should print out a final message saying "something went wrong pushing this image, check if your registry is running and see logs for more details"

[2015-05-18 13:32] nak3 commented on #2303
No, I mean the column headar below is not used anywhere.
https://github.com/openshift/origin/blob/cdd1903e0576b178669c2e83866cdf67db3b7356/pkg/cmd/cli/describe/printer.go#L52-L53
[code]
But please ignore if I misunderstand. I will understand it by myself.

As you said, it looks like `RESTMappings` should be used for resources lists.

[2015-05-18 13:35] smarterclayton commented on #2312
We need to get fixes in upstream and then carry them as UPSTREAM patches.

----- Original Message -----

[2015-05-18 13:35] smarterclayton commented on #2283
It's less important than getting security of pods done.

----- Original Message -----

[2015-05-18 13:36] liggitt commented on #2162
@smarterclayton so editors and readers won't be able to see routes? which means they won't know the URLs for things?

[2015-05-18 13:39] mmilata commented on #1530
@smarterclayton here's couple more hours of idling: https://mmilata.fedorapeople.org/openshift/openshift-cc9bdf8-pprof-heap3.xz (forgot to not suspend my computer over weekend:()

Please let me know if you want another profile later or if I can delete the VM.

[2015-05-18 13:57] smarterclayton commented on #2245
@abhgupta this may have broken.

[2015-05-18 14:09] cmoulliard commented on #2311
I don't know if this is related or not but If I check the events, errors are reported
[code]

[2015-05-18 14:11] nak3 opened #2314 "Token expired message should be implemented"
When token has expired, the client would get following error message.

[code]

It should say `Token expired, please login again` or something.

I tested a little bit old version, so if it has already done, I'm sorry.
[code]

[2015-05-18 14:18] smarterclayton commented on #2311
The messages from endpoints_controller don't mean anything specific - it can happen normally.

I'll need to see log messages above

[code]

That may mean that you can't pull the openshift/origin-pod image, you can't start containers properly (problem with Docker?), or another error before the creation.

[2015-05-18 14:24] cmoulliard commented on #2311
I can pull the docker image

[code]

And the docker containers looks good

[code]

[2015-05-18 14:27] ncdc commented on #2284
@smarterclayton last I read, upstream just wanted `docker exec` and wasn't interested in our `dockerexec`. How do you want to handle this? I'd like to avoid permanent UPSTREAM commits that add support for `dockerexec` if at all possible.

[2015-05-18 14:29] ncdc commented on #1175
At worst, this can be a docs-only fix, where we describe what `osadm registry` creates and how to edit it. Better would maybe be an `--edit` flag to `osadm registry` or something along those lines. @smarterclayton @danmcp any preference?

[2015-05-18 14:32] ncdc commented on #2224
I don't think this will make a difference (and if it does, it's probably a bug that needs fixing), but please remove `spec.tags` from your json and try again. You only need to include entries there if you're configuring tag annotations or tag tracking.

[2015-05-18 14:36] ncdc commented on #1577
@danmcp I believe we can close this

[2015-05-18 14:36] #1577 closed

[2015-05-18 14:38] ncdc commented on #1652
We need to decide if consumers other than our integrated registry are allowed to create ImageStreamMappings. @smarterclayton ?

[2015-05-18 14:39] cmoulliard commented on #2311
Docker receives the instruction to create the pod but it dies immediately

[code]

[2015-05-18 14:42] cmoulliard commented on #2311
Here is info about container creation received from openshift

[code]

[2015-05-18 14:42] kargakis opened #2316 "Deployer pod isn't deleted when the deployment is"
When deleting a replication contoller in the cli, its respective deployer pod stays around.

cc: @ironcladlou @smarterclayton

[2015-05-18 14:49] smarterclayton commented on #2316
@abhgupta FYI, also @bparees / @csrwng because of parallels to build pods (same solution should be in both)

[2015-05-18 14:51] smarterclayton commented on #2284
Upstream needs to support arbitrary executors, and we should get our stuff as a plugin in the upstream code.

[2015-05-18 14:56] #2130 closed

[2015-05-18 15:05] smarterclayton commented on #1652
Why do we have to decide that?  Someone can create a policy if they want to enable it.  For now we don't need it.

[2015-05-18 15:06] smarterclayton commented on #1175
Post 3.0

[2015-05-18 15:11] fabianofranz commented on #2142
@liggitt this can be closed.

[2015-05-18 15:11] #2142 closed

[2015-05-18 15:12] ncdc commented on #1652
Ok

[2015-05-18 15:12] fabianofranz commented on #2132
@liggitt this is fixed in master.

[2015-05-18 15:13] liggitt commented on #2132
Fixed by #2226

[2015-05-18 15:20] cmoulliard commented on #2311
Here is the openshift log file : https://www.dropbox.com/s/3ign65n13vh78xk/openshift.log?dl=0

[2015-05-18 15:40] cmoulliard commented on #2311
Problem has been identified :

[code]

Workaround : restart the docker daemon

[2015-05-18 16:15] spadgett commented on #2224
This is working for me now. I believe the issue was environmental. I'll reopen if I can reproduce.

[2015-05-18 16:15] #2224 closed

[2015-05-18 16:44] #2132 closed

[2015-05-18 16:47] liggitt commented on #2314
An expired token is currently not distinguishable from an invalid token from the API

[2015-05-18 16:59] bparees commented on #1363
@derekwaynecarr can we consider this closed?

@soltysh has a separate effort going on to better handle the scenarios were pod creation fails (such that we eventually fail the whole build) but you seem to have solved the "provide more information" aspect.

[2015-05-18 17:03] bparees commented on #2159
@roberto-gomez is there a proxy configured on your node's host?  the docker push that STI performs does not use any environment variables from your .sti/environment file, so whatever is causing the push to utilize a proxy, it's not the .sti/environment file.

[2015-05-18 17:06] derekwaynecarr commented on #1363
I think we can close this.

[2015-05-18 17:19] pweil- commented on #1547
I believe this can be closed, @ramr has added the keepalived section to the documentation.

[2015-05-18 17:24] kargakis commented on #2310
Just realized that that helper function is used only for setting the deployer pod name. Closing this in favor of #2316 since that's the reason behind this issue.

[2015-05-18 17:24] #2310 closed

[2015-05-18 17:32] smarterclayton commented on #2295
There should be no reason deleting 20 pods should take longer than about 30ms.

----- Original Message -----

[2015-05-18 17:45] smarterclayton commented on #2187
Should be fixed, please verify.

----- Original Message -----

[2015-05-18 17:50] liggitt opened #2322 "Pod template rendering fails"
Deployment of the EAP+mysql template and this showed on the Deployments screen:

![deployment](https://cloud.githubusercontent.com/assets/980082/7686565/a6d23d38-fd64-11e4-8f93-3dbb9ce30082.png)

[2015-05-18 17:53] #2282 closed

[2015-05-18 17:53] liggitt commented on #2322
@fabianofranz can you take a look? might be related to #2054

/cc @gashcrumb

[2015-05-18 18:20] ajacobs21e opened #2324 "Add padding around the dropdown icon"
![screen shot 2015-05-18 at 2 17 27 pm](https://cloud.githubusercontent.com/assets/6415742/7687107/d0d0a062-fd68-11e4-886a-6905a4c45fe2.png)

Long project names blend into the down caret dropdown icon. Adding padding around this icon will prevent this.

[2015-05-18 19:05] mfojtik opened #2326 "Switch PullSecretName and PushSecretName to be ObjectReferences"
Have to switch from simple strings to ObjectReference for these fields as that is currently the way that upstream agreed on.

Validation needs to check if the namespace is set or not. Currently only 'Name' field will be supported.

Discussion: https://github.com/GoogleCloudPlatform/kubernetes/issues/7018#issuecomment-99630042 and https://github.com/GoogleCloudPlatform/kubernetes/issues/8190#issuec

[2015-05-18 19:05] mfojtik commented on #2326
@bparees -> can you assign this to me? will fix this tomorrow morning.

[2015-05-18 19:05] bparees commented on #1876
@rcernich please go and and update this issue with loglevel=5 logs and the output of osc get imagestreams, osc get builds, osc get buildconfigs  if/when you reproduce this again with the latest openshift (where I added the additional level of error logging so we can see why the etcd update is failing)

[2015-05-18 19:06] bparees commented on #1443
closing due to antiquity and not seeing it lately.

[2015-05-18 19:06] #1443 closed

[2015-05-18 19:07] bparees commented on #2326
you own it.

[2015-05-18 19:07] kargakis commented on #2295
Gonna have a look at the controller tomorrow

[2015-05-18 19:08] liggitt commented on #2326
Make sure we only allow values we honor (currently, just `Name`) to be set.

[2015-05-18 19:08] bparees commented on #2326
should change the BuildSource SourceSecretName field too, I think.  (including renaming it)

[2015-05-18 19:09] mfojtik commented on #2326
@bparees I believe there will be more fields.

[2015-05-18 19:11] mfojtik commented on #2326
cc @smarterclayton

[2015-05-18 19:11] liggitt commented on #2326
I think that ideally, you would end up with an ObjectReference with Kind, Namespace, and Name set. Kind would be locked to "Secret", Namespace would be locked to the build's namespace, Name would be free, and all other fields would be empty.

[2015-05-18 19:12] mfojtik commented on #2326
@liggitt Namespace should be empty, or not? And if set, then validation will have to check if it match with Build namespace.

[2015-05-18 19:22] #1674 closed

[2015-05-18 19:38] ajacobs21e opened #2329 "Remove icons from buttons"
![screen shot 2015-05-18 at 2 17 33 pm](https://cloud.githubusercontent.com/assets/6415742/7688607/c08e8ae2-fd73-11e4-99d9-26b35f595fad.png)

Icons on buttons are unnecessarily and add visual clutter. Remove icons (+, -, ->, etc) from all buttons (not just the three shown as examples)

[2015-05-18 19:39] ajacobs21e opened #2330 "Inconsistent tooltips"
![screen shot 2015-05-18 at 1 24 57 pm](https://cloud.githubusercontent.com/assets/6415742/7688622/e88a5ee0-fd73-11e4-908a-84af0d764130.png)
![screen shot 2015-05-18 at 1 25 14 pm](https://cloud.githubusercontent.com/assets/6415742/7688623/ea368b4c-fd73-11e4-999f-020a4b37044c.png)
![screen shot 2015-05-18 at 1 30 39 pm](https://cloud.githubusercontent.com/assets/6415742/7688626/eccffe88-fd73-11e4-

[2015-05-18 19:43] ajacobs21e opened #2331 "Clear failure messages"
![screen shot 2015-05-18 at 1 43 09 pm](https://cloud.githubusercontent.com/assets/6415742/7688679/81b4a5b2-fd74-11e4-809a-20348d9cbaab.png)

Failure messages build up if not cleared. Alerts should be shown for the latest event with link to view more.

[2015-05-18 19:44] ajacobs21e opened #2332 "Remove ellipses"
![screen shot 2015-05-18 at 1 43 09 pm](https://cloud.githubusercontent.com/assets/6415742/7688698/b0a64ad8-fd74-11e4-93fd-7f88c37e5aa7.png)

Remove ellipses from link (and all links/buttons within the UI).

[2015-05-18 19:45] ajacobs21e opened #2333 "Remove or collapse details on success messages"
![screen shot 2015-05-18 at 1 52 17 pm](https://cloud.githubusercontent.com/assets/6415742/7688701/b9cfbdf6-fd74-11e4-857c-73a3ab956eb6.png)

Success message displays with details expanded. Details are redundant for a success message and should not be displayed or if they must be displayed should be collapsed with a “more details” link.

[2015-05-18 19:45] ajacobs21e opened #2334 "Add "manage all projects" link"
![screen shot 2015-05-18 at 12 59 49 pm](https://cloud.githubusercontent.com/assets/6415742/7688712/dcdf712e-fd74-11e4-9cf1-2076af73cbb2.png)

Add “Manage all projects” link below project list, separated by a horizontal rule.
[FUTURE: add “create project” link here as well.]

[2015-05-18 19:46] mfojtik commented on #2326
FYI, we are going to just rename the fields and update documentation (no conversion/backward compat) as it was not out long enough.

[2015-05-18 20:05] spadgett commented on #2334
@ajacobs21e where does "manage all projects" take you?

[2015-05-18 20:08] ajacobs21e commented on #2334
@spadgett https://console.stg.openshift.com/console/

[2015-05-18 20:08] liggitt commented on #1870
@pweil- at least ensure the right etcdhelper is being used so the configured prefix (`openshift.io/` by default) is used

[2015-05-18 20:10] ncdc commented on #1857
Can we close this and reopen if we see it again, especially since we've switched to the v2 registry?

@smarterclayton @danmcp

[2015-05-18 20:11] danmcp commented on #1953
@mfojtik ^^

[2015-05-18 20:13] #1857 closed

[2015-05-18 20:14] smarterclayton commented on #1870
This is mustfix because there is objectmeta validation not being done.

[2015-05-18 20:17] smarterclayton commented on #2018
https://github.com/openshift/origin/issues/2254 is the deterministic pod name that is mustfix for the release, this is a nice to have.

[2015-05-18 20:21] #2032 closed

[2015-05-18 20:24] pweil- opened #2335 "Rolling updates of routers"
As an administrator how do I perform a rolling update of routers when a router is binding to host ports and running in an HA mode.

Issue: if there are limited nodes (ie. 2) and a router is running on both nodes the rolling update has nowhere to bring up new routers since no nodes will be considered as available due to the host port being taken.

/cc @smarterclayton @ramr @ironcladlou @abhgupta

[2015-05-18 20:25] #2041 closed

[2015-05-18 20:25] smarterclayton commented on #2335
This may mean rolling-update is fundamentally broken in the context of scheduler constraints, which is another big problem.

[2015-05-18 20:25] #2044 closed

[2015-05-18 20:25] smarterclayton commented on #2335
Or that we need a strategy or tunable that takes that into account

[2015-05-18 20:29] smarterclayton commented on #2065
Will come in the next rebase

[2015-05-18 20:30] #2072 closed

[2015-05-18 20:30] #2087 closed

[2015-05-18 20:35] derekwaynecarr commented on #2115
Is this a similar issue to what you opened here:
https://github.com/openshift/origin/issues/2048

If so, are you ok with tracking a fix to a deployment that took too long in the referenced issue?

[2015-05-18 20:36] liggitt commented on #1773
We currently do sensical things (show an error about the connection being interrupted with a "Refresh" button... when you refresh, you get prompted to log in again), so lowering the priority

[2015-05-18 20:36] #2135 closed

[2015-05-18 20:38] #2145 closed

[2015-05-18 20:46] bparees commented on #2183
@mfojtik i think is all addressed between your PR and my comments, can we close?

[2015-05-18 20:48] #2115 closed

[2015-05-18 20:54] spadgett commented on #2334
Not sure on the label because you can't really manage the projects from that page, only look at them and click on them. "View All Projects" or "Console Home"?

Create project is done, so we could add a Create Project option.

[2015-05-18 20:57] bparees commented on #2141
double escapes appear to be required for json format so certs end up with newlines in the right place.
https://github.com/openshift/origin/blob/master/pkg/route/registry/route/rest.go#L154

(please reopen if you read that differently than me)

[2015-05-18 20:57] ajacobs21e commented on #2334
“View all projects” and “Create a project” work

Allie
calendar: https://www.google.com/calendar/b/1/embed?src=ajacobs@redhat.com&ctz=America/New_York

On May 18, 2015, at 4:55 PM, Sam Padgett <notifications@github.com> wrote:

[2015-05-18 21:04] bparees commented on #2141
more background:
https://code.google.com/p/v8/issues/detail?id=616

[2015-05-18 21:10] bparees commented on #263
e2e passes with selinux enforcing in my f21 environment.  closing.

[2015-05-18 21:10] #263 closed

[2015-05-18 21:19] liggitt commented on #2141
we want newlines encoded in the JSON. `"foo":"bar\nbaz"` is the right way to do that.

[2015-05-18 21:20] liggitt commented on #2141
for spec compliance, see the JSON "string" definition at http://json.org/

You can't embed a literal newline (because it's a control character), but a string can include an escaped newline, (e.g. `\n`)

[2015-05-18 21:23] #2183 closed

[2015-05-18 21:24] liggitt commented on #2141
The example on the code.google.com site is misleading. See the comment: https://code.google.com/p/v8/issues/detail?id=616#c2

The first step is to construct the string you want to parse, like this:
[code]
Because JavaScript is interpreting the string, `\\n` becomes `\n` in the string. That is equivalent to loading a JSON file with the content:
[code]

You can then pass it to `JSON.parse(...)`

[2015-05-18 21:54] bparees commented on #2141
thanks for the clarification.

[2015-05-18 23:43] #2322 closed

[2015-05-19 00:35] smarterclayton commented on #2295
Stop docker and run hack/test-cmd (you should see the problem then)

[2015-05-19 01:04] #2293 closed

[2015-05-19 01:04] #2324 closed

[2015-05-19 02:18] smarterclayton opened #2342 "hack/test-cmd flaking on deleting replication controllers"
[code]

[2015-05-19 03:25] liggitt commented on #2334
Right now, knowing whether we have project creation ability requires a request to the server.

[2015-05-19 03:27] liggitt commented on #2332
Not all buttons, surely...
without ellipsis, change text to "Show details"/"Hide details"?

[2015-05-19 03:27] liggitt commented on #2331
@csrwng was the persistence of failure messages time-based? I vaguely remember that

[2015-05-19 03:34] liggitt commented on #2329
Is `Filter` clear enough by itself? Would you want `Add Filter` instead?

I like having `...` on action buttons that require more information to do what they say. Clicking "Create" doesn't create, it asks you for more info. `...` is a hint that makes me feel safer clicking something, knowing I'll have at least one more step to back out if I want.

[2015-05-19 03:46] csrwng commented on #2331
It wasn't... only success messages.

[2015-05-19 03:48] csrwng commented on #2331
https://github.com/openshift/origin/blob/master/assets/app/scripts/services/tasks.js#L57-L62

[2015-05-19 04:11] ajacobs21e commented on #2332
Ellipses should only be used when text is cut off, like this https://github.com/openshift/origin/pull/2328

In this case they're used to try to show an action so any cases like that ellipses should be removed.

And yes action words like "show" "hide" are better than "more / less"

[2015-05-19 04:24] ajacobs21e commented on #2329
Let me check with patternfly tomorrow about filter vs add filter.

I mentioned on the other issue that ellipses are used to denote truncated text, not additional actions. The button names should be clear what they do and whether or not you're at the end of a task. I don't think having a button that says "Create" on the overview page implies that you'll create something just by clicking that button

[2015-05-19 05:39] liggitt commented on #2326
Follow the comment thread in https://github.com/GoogleCloudPlatform/kubernetes/pull/7974/files#r30552925 ... eight seconds after that gets resolved, @deads2k will have his PR updated, and you can cherry pick any new type (e.g. `LocalObjectReference`) to use

[2015-05-19 07:41] roberto-gomez commented on #2159
I fixed the problem. The docker daemon has a proxy configuration but I didn't exclude the OpenShift registry ip (172.30.17.251) with the NO_PROXY variable.

The problem now is I can not set a range of ip's (172.*) with this variable. What is the correct format to set it?

[2015-05-19 08:18] jorgemoralespou commented on #2248
I have run the go program, and this is what I get:

[code]
As you see, there is only one IP resolved back to the DNS name. I get the same result on every box.

[2015-05-19 08:32] kargakis commented on #2342
This happens because that replication controller should already be removed when deleting its deploymentConfig above.

[2015-05-19 09:09] mfojtik commented on #2326
@liggitt i'm going to implement the ObjectReference now and do follow up when @deads2k PR lands. I think it would be useful to have at least 'Kind' in the LocalObjectReference. In future we can have more Secret types for example.

[2015-05-19 11:54] deads2k commented on #2326
I expect that we'd still handle those like we do today: One `Secret` kind subdivided by `Type`.

[2015-05-19 12:00] mfojtik commented on #2326
@deads2k does LocalObjectReference has 'Type'? I mean I can have something like:

[code]

[2015-05-19 12:03] deads2k commented on #2326
For my immediate purpose, I only need a `name` since it's a list of all one `kind`.  I wasn't going to add more yet, figuring that fewer fields would lead to less contention.

[2015-05-19 12:04] mfojtik commented on #2326
@deads2k I'm OK with that, was just asking for the future. Current the name of the field (`pushSecret`) already contain the kind.

[2015-05-19 12:32] TomasTomecek opened #2348 "connection between client and proxy breaks when client is receiving logs"
We are using httpd as proxy between client and master. Here's the configuration:

[code]

Unfortunately, when we are fetching logs, the connection tends to break when pod is stuck on some operation which doesn't produce logs (therefore I thought it's timeout). Then I looked into httpd's logs and saw some errors there:

[code]

Is it possible that master is sendind invalid chunks to proxy?

[code]

[2015-05-19 13:06] brenton commented on #2348
I'll take a look to see if I can reproduce and capture some packets to see where the problem exists.  Thanks for filing this.

[2015-05-19 13:24] rhamilto commented on #2329
I agree with @liggitt about "Add Filter" vs "Filter".

I agree with @ajacobs21e about ellipses in button labels and @liggitt about using "Create" if there is more to go.  Maybe the button label on this page is simply "Next"?

[2015-05-19 13:24] ncdc commented on #1232
I'd like to propose that we add validation somewhere that a namespace must be at least 2 characters, and then for ImageStreams, add validation that len(namespace + / + name) <= 255. Thoughts?

[2015-05-19 13:28] TomasTomecek commented on #2348
I can provide access to the VM if needed.

[2015-05-19 13:44] brenton commented on #2348
How long do you usually have to wait?

[2015-05-19 13:50] kargakis commented on #2295
The times @smarterclayton mentioned regarding pod deletion align with what I've [found](http://pastebin.com/gaLPpqSU).

It turns out that the reaper uses a high poll interval ([3 seconds](https://github.com/GoogleCloudPlatform/kubernetes/blob/10339d72b66a31592f73797a9983e7c207481b22/pkg/kubectl/stop.go#L30)) and deletion ends up finishes in times, multiples of 3 (6 seconds, 9 seconds, 12 seconds,

[2015-05-19 14:02] bparees commented on #2159
looks like there is no simple way to set a range with no_proxy, you'll have to script setting each ip in the range, comma separated:
https://unix.stackexchange.com/questions/23452/set-a-network-range-in-the-no-proxy-environment-variable

closing this since the original issue appears to be resolved.

[2015-05-19 14:02] #2159 closed

[2015-05-19 14:12] ajacobs21e commented on #2329
"Add Filter" works for me then.

The "Create" button on the overview page is how you enter the create wizard. Within that wizard any intermediate steps should say Next (which it already does) and the final step should be "Create". I don't think having a "Create" button on the overview page implies that there are no secondary steps.

Here's an example from our support case list - There's a "Create"

[2015-05-19 14:20] liggitt commented on #1232
We can add validation on Project create (but not update) and for ImageStream.

[2015-05-19 14:25] liggitt commented on #2329
@rhamilto is very agreeable today :)

I still prefer an ellipsis on the button that launches you into create wizard. Ellipses have been used to indicate "more information required" by both major operating systems for decades. `Open File...`, `Save Page As...`, and `Print...`, just in my Firefox File menu.

[2015-05-19 14:27] derekwaynecarr commented on #1232
A name is immutable post create, so it should not be a concern.

[2015-05-19 14:30] liggitt commented on #1232
if we say a project with a single character name is invalid, that could block a project update to add an annotation to a namespace that was created with a single-character name

[2015-05-19 14:31] liggitt commented on #1232
we can also do namespace validation on image streams... not let them be created in single-character namespaces

[2015-05-19 14:40] liggitt commented on #2245
We need a new tag. Starting with --latest-images works

[2015-05-19 14:41] liggitt commented on #2245
The problem is the 0.5.1 tagged version of the deployer not being able to find the annotations when running against a daily build. The annotation was changed in https://github.com/openshift/origin/pull/2227

[2015-05-19 14:42] liggitt commented on #2245
/cc @sg00dwin

[2015-05-19 14:43] ajacobs21e commented on #2329
While using ellipses on a menu or even on a button isn’t wrong it is an older UI style and doesn’t match patternfly. It adds length to the button and isn’t necessary from a UX perspective.

Allie
calendar: https://www.google.com/calendar/b/1/embed?src=ajacobs@redhat.com&ctz=America/New_York

On May 19, 2015, at 10:25 AM, Jordan Liggitt <notifications@github.com> wrote:

[2015-05-19 14:50] smarterclayton commented on #2245
The annotations should have been backward compatible.

[2015-05-19 14:50] liggitt commented on #2245
not sure how that's possible. by double annotating?

[2015-05-19 14:51] liggitt commented on #2245
I thought the point was to stop adding unnamespaced annotations to core k8s objects...

[2015-05-19 15:05] ajacobs21e commented on #2329
@liggitt I talked with @smarterclayton and he mentioned that in the CLI the closest equivalent to this action uses the command "New". Would you be ok with renaming the button on the overview page to "New"?

[2015-05-19 15:07] liggitt commented on #2329
sure, Create, New, Add, I'm fine with whatever. I like the ellipsis leading into a wizard flow, but I'm not going to die if it's removed.

[2015-05-19 15:12] ajacobs21e commented on #2329
If you're ok with it I think changing this button to "New" to match the CLI command and distinguish it from the final action (create) is the best option.

[2015-05-19 15:13] smarterclayton commented on #2245
We should have been to be forward compatible.  But someone didn't think through the implications.

----- Original Message -----

[2015-05-19 15:23] smarterclayton commented on #2295
It's a pretty terrible experience for an end user - how can we tune the reaper for a more reasonable behavior for users?  We definitely want to limit the amount of simultaneous requests to the server, but that's also something the server is capable of managing.

----- Original Message -----

[2015-05-19 16:23] liggitt opened #2352 "build scripts don't give a nice message when run with go < 1.4"
[code]

They should tell you 1.4 is required nicely

[2015-05-19 16:39] #2342 closed

[2015-05-19 16:51] liggitt opened #2354 "`osc get all` is messy"
[code]

Not sure if we should suppress empty lists, or label types, or...

[2015-05-19 16:55] rajatchopra commented on #2248
Ok I tried this with a virtualbox (will try with libvirt next) setup with two interfaces, eth0 (for internet) and eth1(meant to be used intra-cluster), with the hostnames resolving to the IP address assigned to eth1.
I get correct addresses all the way through.

To debug what is possibly wrong with your setup, can you pass the command line args that openshift is running with? Also when you created

[2015-05-19 16:59] tnguyen-rh commented on #2354
FWIW, i like the "all" catchall, personally.
That's why i tried it in the first place.

[2015-05-19 17:06] spadgett commented on #2330
@ajacobs21e Where did you see the "Please fill out this field" tooltip? That one comes from the browser, not us, but there might be something we can do.

[2015-05-19 17:08] spadgett commented on #2199
@liggitt close? It sounds like there's simply a delay as they're processed.

[2015-05-19 17:08] #2199 closed

[2015-05-19 17:10] jorgemoralespou commented on #2248
Hi,
It seems as it is only a display problem, as it seems to be working.
I have followed training/beta3 steps, so all commands are those shown there.

I have to admit, that disabling NetworkManager was crap, and I had to do a lot of fixing to have it working.

openshift-master.service
[code]

openshift-node.service
[code]

master.yaml
[code]
I didn't explicitly create any certificate. Maybe ansibl

[2015-05-19 17:42] TomasTomecek commented on #2348
if I look at timestamps in the log above, it looks like ~116 seconds

[2015-05-19 17:44] TomasTomecek commented on #2348
I think I should reproduce it without proxy: we'll know then if the issue is in master, httpd or libcurl

[2015-05-19 17:45] rajatchopra commented on #2248
Ok, something wrong with ansible then, the master certs are usually created with a hostnames arg e.g.
/usr/bin/openshift admin create-master-certs \
    --cert-dir=${CERT_DIR} --hostnames=${MASTER_IP},${MASTER_NAME}

I am guessing that MASTER_IP didnt match the right one on MASTER_NAME. Will try with ansible and see if that is what happens.

Meanwhile, do you have improvement ideas/suggestions on

[2015-05-19 17:50] ajacobs21e commented on #2330
![tooltip 1](https://cloud.githubusercontent.com/assets/6415742/7709876/f73d6b8e-fe2d-11e4-98b7-cb82bc867917.png)

I can't recreate it now though. I think @rhamilto originally found this tooltip

[2015-05-19 18:00] brenton commented on #2348
Here's what I'm seeing:

* As the admin I can run `osc log -f` and follow a pod's logs indefinitely.  In my environment the Admin accesses the Master directly
* As a normal user I try the same and it ends after exactly 1 minute.  In my apache logs I see:

[code]

That's a little different then your situation.  I haven't reproduced the `AH01590: Error reading chunk--` problem yet.  Various suggesti

[2015-05-19 18:05] derekwaynecarr opened #2355 "Project is not empty, yet I am told it is"
I have a project with pods I create on my own.

I go to the console and see the following:

![si2bz6u](https://cloud.githubusercontent.com/assets/6233452/7710185/27051982-fe30-11e4-8017-48e63d5ff552.png)

[2015-05-19 18:06] derekwaynecarr commented on #2355
/cc @liggitt @spadgett

[2015-05-19 18:14] TomasTomecek commented on #2348
looks like we may need some help from an apache guru

[2015-05-19 18:25] smarterclayton commented on #2295
Causing travis to fail randomly:

[code]

[2015-05-19 19:11] brenton commented on #2348
I'm thinking I should ignore the `TCP Previous segment not catpured` errors for now.  It seems as if they are caused by the tcpdump not processing packets as fast as the kernel sends them.  I tuned a few networking knobs and was able to get the percentage of dropped packages in the capture much lower.  When I did that I didn't see the same TCP errors at the end of the capture.

[2015-05-19 19:34] fabianofranz opened #2358 "'osc login' fails when host includes trailing slash"
When a host is provided to `osc login`, either as argument or through the `--server` flag, if a trailing slash is present the login will fail.

[code]

Without a trailing slash it succeeds:

[code]

I didn't check the code but it is known that [net/url#Parse](https://golang.org/pkg/net/url/#Parse) is not very smart. We should be smarter about parsing the URL provided - for example, we could (try t

[2015-05-19 19:35] fabianofranz commented on #2358
@deads2k @liggitt @smarterclayton can you properly tag this, please?

[2015-05-19 19:37] spadgett commented on #2330
The tooltip on the settings page is actually a Bootstrap popover, which is a different component. We can change it to a tooltip to get the hover behavior and adjust the Bootstrap tooltip styles so it is black text on a white background.

[2015-05-19 19:44] ajacobs21e commented on #2330
That sounds good. I did find another issue that seems like it won't be an issue if the popovers are switched to tooltips - if you click on a (?) before the content has loaded, once the page loads, the popover stays where it was instead of 'following' the tooltip icon. In this case it's now floating in the middle of the table.
![screen shot 2015-05-19 at 3 43 11 pm](https://cloud.githubusercontent.

[2015-05-19 19:46] liggitt commented on #2330
can you open another issue for that?

[2015-05-19 19:46] ajacobs21e commented on #2330
@liggitt will it still be an issue if the tooltip only appears on hover?

[2015-05-19 19:47] liggitt commented on #2330
I don't know

[2015-05-19 19:53] ajacobs21e opened #2361 "Popover doesn't move with tooltip icon if more content loads"
if you click on a (?) before the content has loaded, once the page loads, the popover stays where it was instead of 'following' the tooltip icon. In this case it's now floating in the middle of the table.
![screen shot 2015-05-19 at 3 43 11 pm](https://cloud.githubusercontent.com/assets/6415742/7712411/40a83fea-fe3f-11e4-9924-fb623a4a55cf.png)

[2015-05-19 19:58] brenton commented on #2348
I finally stumbled across ` SetEnv proxy-sendchunked 1` and now I see you already have that in your configuration.  With that set before my proxypass directives I now see:

[code]

That's closer to the error you're seeing.  So far I'm able to tail logs through the proxy however long I set the `ProxyTimeout` so I think things are working as expected.  I'll see if QE has hit this.

[2015-05-19 20:07] #2216 closed

[2015-05-19 20:08] #2231 closed

[2015-05-19 20:10] #2266 closed

[2015-05-19 20:14] danmcp commented on #2292
@csrwng FYI

[2015-05-19 20:18] danmcp commented on #2307
@kargakis Is this still an issue with docker running?

[2015-05-19 20:18] #2309 closed

[2015-05-19 20:18] #2311 closed

[2015-05-19 20:22] smarterclayton commented on #1490
These have all been muted.

[2015-05-19 20:22] #1490 closed

[2015-05-19 20:24] TomasTomecek commented on #2348
This is the reason I used `proxy-sendchunked`:

    Setting proxy-sendcl ensures maximum compatibility with upstream servers
    by always sending the Content-Length, while setting proxy-sendchunked
    minimizes resource usage by using chunked encoding.
http://httpd.apache.org/docs/2.4/mod/mod_proxy.html#request-bodies

I increased `timeout` in `ProxyPass` in hope that it will get rid of the prob

[2015-05-19 20:25] smarterclayton commented on #1859
Was merged with https://github.com/openshift/origin/pull/2323, will be in 0.5.2

[2015-05-19 20:25] #1859 closed

[2015-05-19 20:27] smarterclayton commented on #1662
I believe this is fixed by https://github.com/openshift/origin/pull/2317

[2015-05-19 20:27] #1662 closed

[2015-05-19 20:28] smarterclayton commented on #2043
This is fixed

[2015-05-19 20:28] #2043 closed

[2015-05-19 20:28] brenton commented on #2348
I think they actually have the same effect.  `ProxyTimeout` probably has a larger scope.  I will be surprised if that setting improves your situation.

[2015-05-19 20:30] TomasTomecek commented on #2348
Will check out when I get to work tomorrow.

[2015-05-19 20:31] smarterclayton commented on #2112
This has been fixed with https://github.com/openshift/origin/pull/2323

[2015-05-19 20:31] #2112 closed

[2015-05-19 20:48] spadgett opened #2366 "Following instructions in the Resource Quota topic: "error: no objects passed to create""
Following instructions here, I see a "no objects passed to create" error.

http://docs.openshift.org/latest/dev_guide/quota.html

[code]

[2015-05-19 20:54] ncdc commented on #2366
@spadgett not sure if this is the issue, but there are extraneous trailing commas that need to be removed.

[2015-05-19 21:25] sdodson commented on #2305
First estimate, 40% smaller binary, no noticeable change in `osc get pods` on a host with one pod over 10 iterations.

[code]

If we strip both binaries osc still roughly 40% smaller and both seem marginally faster like 0.38s versus 0.42s.

[code]

[2015-05-19 21:29] akostadinov opened #2367 "bad encoding creating certificates"
Looks like openshift is generating certificates with wrong encoding (at least according to firefox 38 and RFC 5280).
I was wondering whether to file the issue against openshift-ansible or here. But it appears to me that the openshift executable is generating the certs so bug should belong to origin. Let me know if I'm wrong.

So the issue is that after following instrucitons from v3 beta3 training

[2015-05-19 21:39] smarterclayton commented on #2305
You may have to trim more dependencies, can you send me the branch you used?

[2015-05-19 22:12] liggitt commented on #2367
Fixed in master in https://github.com/openshift/origin/pull/2259

More details in that pull

[2015-05-19 22:12] #2367 closed

[2015-05-20 01:24] sdodson commented on #2305
Yeah, it looks like a lot of things got pulled in that I wasn't expecting.

https://github.com/openshift/origin/compare/master...sdodson:build-clients

[2015-05-20 01:41] smarterclayton commented on #2305
It's possible there's also too much crosslinking.  We don't want to strip symbols, and I'm not sure a 20 meg reduction is a benefit.  Maybe we can do a quick look this week and dig into whether there is anything else we can tease apart.

[2015-05-20 03:10] detiber commented on #2248
The beta3 branch of openshift-ansible creates the certificates when generating the master config using openshift start master --write-config, it also sets the hostnames and IPs based on certain detected values as follows:
- if a cloud provider is detected (aws, gce, openstack), then openshift.common.hostname, openshift.common.public_hostname, openshift.common.ip, and openshift.common.public_ip are

[2015-05-20 04:11] sosiouxme opened #2370 "Recovering from deployment pod that failed without reporting state"
I deployed a router, it was supposed to be broken but not quite like this.

[code]

Alright, not very helpful, but the point is it's broken. What do I do now?

[code]

It's not pending, it's failed. I should be able to just run another one.

Other than delete everything I honestly don't know how to proceed. Could there be some better directions on this?

[2015-05-20 06:06] TomasTomecek commented on #2348
Am pretty puzzled: ran two builds, one displayed all logs, the other one errored out on the `Error reading chunk`. Will test more. Used this setup:
[code]

[2015-05-20 09:05] jorgemoralespou commented on #2248
It seems like the problem is in the ansible installer, since the default gateway, in my setup was the ip used for internet access and not meant for Openshift setup.
I guess that setting up /etc/ansible/hosts with the appropriate values can solve the issue.
Then, what is needed is proper documentation (if not available) I haven't seen it.

Also, how could I resinstall the nodes after changing this

[2015-05-20 09:32] mmilata commented on #1859
Confirmed working, thank you!

[2015-05-20 10:56] spadgett commented on #2366
@ncdc That was the issue. Thanks.

`osc create` should tell you it's invalid JSON. The doc also has those trailing commas.

[2015-05-20 11:45] kargakis commented on #2307
@danmcp no it's not. Closing this...

[2015-05-20 11:45] #2307 closed

[2015-05-20 12:14] kargakis commented on #2295
This is not a reaper but a resizer problem. Some higher level places we can probably change and get something out of it are reducing the poll interval and make `osc resize` wait for the replicas it spins up so we can be sure that all replicas are up and running when we are going to spin them down.

Other than that we will probably have to make changes deeper in the rc controller.

[2015-05-20 14:37] spadgett opened #2376 "Long env var values look awful in details sidebar"
We should add the click to show ellipsis for long values.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7728240/034a7080-fedc-11e4-8713-25753cd7833e.png)

[2015-05-20 15:30] spadgett commented on #2329
@ajacobs21e @smarterclayton The proposal is to change both `Create` buttons to `New`, right? On the projects page as well as the overview?

@ajacobs21e @liggitt How do you feel about just `Add` for the add filter button? It does say `Filter by labels` above the field.

[2015-05-20 15:37] ajacobs21e commented on #2329
@spadgett what page do you mean by "projects page"?

[2015-05-20 15:37] spadgett commented on #2329
The initial console page that shows all the projects.

[2015-05-20 15:38] ajacobs21e commented on #2329
![screen shot 2015-05-20 at 11 38 10 am](https://cloud.githubusercontent.com/assets/6415742/7729797/b86cfd7c-fee4-11e4-8dce-d2f8d0bfce1e.png)

That page? I don't see a create button. Is there going to be one added?

[2015-05-20 15:40] spadgett commented on #2329
Yeah, sorry. It's merged, but the staging server doesn't have it.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7729849/f93c8944-fee4-11e4-9bd8-6b7c7d415e50.png)

[2015-05-20 15:40] soltysh commented on #2269
Based on the outcome from https://github.com/GoogleCloudPlatform/kubernetes/issues/8178 I'm suggesting to go with the mixed approach. Where we can control objects and validation makes sense before doing actual build, because without it we cannot continue build we'll fail the build (I'm talking about non-existent ImageStream, for example). In all the other cases where we rely on external mechanism

[2015-05-20 15:49] ajacobs21e commented on #2329
Ah ok thanks Sam. Yeah I would make that button also "New" assuming that it will take you to some sort of wizard to create a project with "Create" being the final step of that wizard.

[2015-05-20 16:38] spadgett commented on #2329
Right. It's a one page form rather than a wizard, but `Create` is the button label when you're done.

[2015-05-20 16:49] liggitt opened #2378 "Surface route details on services page"
Routes have additional info (tls termination type, etc) that isn't getting surfaced anywhere in the UI. The services page already lists all routes for each service... might be a good place to show that info

[2015-05-20 16:53] liggitt opened #2379 "Allow route to be selected on overview page to view details"
Route and service are combined into a single block in the overview page... clicking the block currently selects the service. The route is shown as a hyperlink, so clicking the route takes you to the route. There is no way to select the route to view details on the overview page.

[2015-05-20 16:54] liggitt opened #2380 "Show tooltips on pods with warning or failed status"
Also need separate styles for warning/failure

[2015-05-20 17:08] rcernich opened #2382 "Improvements for Vagrant scripts"
Sorry for not simply providing a patch, but I don't have a working Vagrant setup to test with.  These suggestions come from manually setting up an OS instance with libvirt/kvm and our user experience of the last couple of months:
- docker.service should be added to After clause for openshift-node.service
- --dns-ip should be added to create-node-config command (and maybe --volume-dir too)
- sdn sc

[2015-05-20 17:27] smarterclayton opened #2384 "osadm manage-node --list-pods should error"
It currently returns nothing and exit code 0

[2015-05-20 17:28] smarterclayton commented on #2384
Also, all of the commands should be erroring if you give it no input.

[2015-05-20 17:28] smarterclayton commented on #2384
Also, hack/test-cmd.sh can't rely on scheduling working, so these tests belong in integration test cases or need to be redesigned a bit.

[2015-05-20 17:29] smarterclayton commented on #2384
If you need to test evacuation you can do it from end-to-end

[2015-05-20 17:30] mfojtik commented on #2269
+1
On May 20, 2015 5:40 PM, "Maciej Szulik" <notifications@github.com> wrote:

[2015-05-20 17:31] bparees commented on #2269
@soltysh

we'll fail it only after some retry period though.

[2015-05-20 17:43] soltysh commented on #2269
@bparees this means the 30 mins retry period we talked about is still
applicable, or maybe we want to have it configurable by the user at the
BuildConfig level?

On May 20, 2015 7:31 PM, "Ben Parees" <notifications@github.com> wrote:

actual build, because without it we cannot continue build we'll fail the
build "

[2015-05-20 17:54] spadgett opened #2388 "Source repository input does not validate value as URL"
When creating from a source repo in the web console, I can type anything into the `Source repository` field and click next. We make no attempt to validate the URL. Using `<input type="url">` would fix this.

[2015-05-20 18:37] bparees commented on #2269
yes, we still need to retry for a while before failing the build, for the reasons previously stated (asynchronous create may mean necessary objects aren't present immediately at the time the build is created).

as for configurable, i don't know that we need that immediately, but i suppose it couldn't hurt.

[2015-05-20 18:45] bparees commented on #2141
@liggitt you still want this open for @pweil- 's updates?

[2015-05-20 18:45] pravisankar commented on #2384
@smarterclayton
manage-node takes list of nodes or node selector as input
'osadm manage-node --list-pods' will not error because when no nodes are given, it uses default node selector="". So it will try to list all pods on all nodes.

You said hack/test-cmd.sh can't rely on scheduling working, what's the reason?
In the current test case, it marks the node as unschedulable but doesn't revert back t

[2015-05-20 18:46] smarterclayton opened #2390 "new-app from our sample template fails"
[code]

1. It shouldn't fail
2. The message is insufficient - looks like it's failing to find the referenced image (which we don't care about)
3. It's probably failing to round trip the image stream correctly
4. It's possible the changes @kargakis made to creating image streams is also breaking
5. It should be prefixed with "error: " because that's how our errors are supposed to be handled by cmdu

[2015-05-20 18:47] smarterclayton commented on #2390
[code]
works as expected

[2015-05-20 18:47] smarterclayton commented on #2390
We need to add this test to hack/test-cmd as well.

[2015-05-20 18:52] smarterclayton commented on #2384
----- Original Message -----

We shouldn't do that - user must provide input.  That's why we have --all on 'get'.  Users have to give us some input

In travis, we don't run as root and you don't have access to cAdvisor info.  Also, it breaks in macs.

No, it's that scheduling in hack/test-cmd isn't guaranteed because there may be 0 resources on a node.

[2015-05-20 19:14] pravisankar opened #2393 "Make Pod eviction timeout configurable"
Currently in openshift, node controller uses default pod eviction timeout of 5 mins. We need to make this value configurable to give flexibility to the user when dealing with failed nodes.

[2015-05-20 19:16] liggitt commented on #2141
no, I'll spawn a lower priority one

[2015-05-20 19:16] #2141 closed

[2015-05-20 19:18] liggitt opened #2394 "Remove escapeNewLines"
route/rest.go#escapeNewLines is not needed, and allows submitting incorrect JSON containing `\\n` to indicate a newline, rather than `\n`. This should be removed before people start to rely on it.

Related to #2141

[2015-05-20 19:18] deads2k commented on #2233
pull secrets on service accounts: https://github.com/GoogleCloudPlatform/kubernetes/pull/8582

[2015-05-20 19:24] pweil- commented on #2394
gracias

[2015-05-20 19:25] pweil- commented on #2394
reminder: update hello-nginx-docker and related test repos

[2015-05-20 19:37] fabianofranz commented on #2390
It was working when `new-app <template` was initially merged, but only from stored templates referred by name. That seems to be broken as well.

[2015-05-20 19:46] smarterclayton commented on #2390
Actually, I don't even think this scenario should work, but the error needs to be either "use -f to pass a template to this command" or "you can't use a filesystem template to create apps.

[2015-05-20 19:53] csrwng opened #2397 "New-app shouldn't return about image permissions if there's other possible matches to an argument"
per Mike Barrett:
[code]
It should attempt to pull it from docker hub instead of returning with the error.

[2015-05-20 20:14] adellape opened #2399 "projectNodeSelector doesn't appear in master config via --write-config"
Per https://github.com/openshift/origin/pull/2148, expected to see `projectNodeSelector` in a default master config file created with `openshift start --write-config`, but it's absent:

https://gist.github.com/adellape/23c1167e1e1ef2df1534

Same when using `openshift start master --write-config`.

[code]

cc: @pravisankar @deads2k @liggitt

[2015-05-20 20:30] spadgett opened #2400 "Show `none` when no container statuses"
In the details sidebar, we show an empty section rather than showing the message `none`.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7735782/6c6303a8-ff0d-11e4-88d2-c1786e4163a9.png)

[2015-05-20 20:33] kargakis commented on #2295
Seems like this isn't a very random flake.
[code]

Same place as the one posted above. There are five replication controllers brought down by that delete all --all instance and another one hangs around due to timeout (named `frontend-app-1` -not sure it's the same as the one from @smarterclayton's report). Maybe related to the [number](https://github.com/openshift/origin/blob/359d7d639d33f2fd49c44

[2015-05-20 20:50] spadgett opened #2401 "Deployment pods are showing up in web console"
Possibly a side effect of #2227?

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7736166/0545b56e-ff10-11e4-9280-55cc51d854b3.png)

[code]

Looks like we're still keying on...

[code]

/cc @liggitt

[2015-05-20 20:55] liggitt commented on #2401
will fix

[2015-05-20 20:55] spadgett opened #2403 "Can't see long annotation names in details sidebar"
The annotation names are aggressively elided. There's enough room to show more. Notice the empty whitespace in the screenshot.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7736270/a5dcfbf4-ff10-11e4-83c7-4aa85e6d021a.png)

Hovering your mouse over the value does show the full name, at least on Chrome.

[2015-05-20 21:04] thoraxe opened #2406 "[RFE] orchestration / provisioning of external service/endpoint"
Codifying the information in https://lists.openshift.redhat.com/openshift-archives/dev/2015-February/msg00089.html into an official RFE.

User story:

As a user of OpenShift
I want to be able to
Specify an external service/endpoint (eg: MS SQL DB running on Azure)
Provide credentials (eg: API credentials)
Provision the service using the credentials

This is a real customer use case today with V2 a

[2015-05-21 00:30] #2401 closed

[2015-05-21 03:22] thesteve0 opened #2409 "Logout command does not remove the server information"
When I do

osc logout

it removes the auth information but not the server information. There is also no documentation in the

osc login -h

that shows how to change the server.

---------------------

spousty@localhost v05$ ./osc logout
Error from server: the server has asked for the client to provide credentials (get users ~)
spousty@localhost v05$ ./osc login
Username: admin
Authentication requi

[2015-05-21 06:33] ramr commented on #2335
So in the past [in a square world], we have used a procedure where we operated on 1 instance at a time to do a stop/deploy new code/start.
In the brave new [perfectly kubeoid] world (minecraft), could this be done via a procedure that's something like:
1. There exists a current replication controller RC1 with  'n' replicas. For true HA, n > 1, anything else means you like your downtime!!
2.  Creat

[2015-05-21 08:25] liggitt commented on #2329
Fine with me

[2015-05-21 08:27] liggitt commented on #2409
`osc logout` is only intended to remove auth info.

Some of the help issues are fixed in master:
[code]

[2015-05-21 08:29] liggitt commented on #2400
could just hide the section...

[2015-05-21 08:37] liggitt opened #2411 "Warning icons flash when loading overview page"
If deployments load before deployment configs, the overview page flashes warning icons briefly beside deployment names.

The icons are intended to indicate that the deployment config the deployment was created from no longer exists, but is concerning and looks bad if it shows when you enter the page for the first time.

We should wait until we have a positive indication that deployment configs hav

[2015-05-21 10:52] wzheng1 commented on #2236
@csrwng I tried to curl container log by following  "curl --cacert ${CERT_DIR}/ca.crt --cert ${CERT_DIR}/master.kubelet-client.crt --key ${CERT_DIR}/master.kubelet-client.key https://openshiftdev.local:10250/containerLogs/[namespace]/[podName]/[containerName]", and it returns "curl: (58) unable to load client key: -8178 (SEC_ERROR_BAD_KEY)". Could you please help on how to get the container log vi

[2015-05-21 13:21] ncdc commented on #2284
@smarterclayton @mrunalp FYI I tried to swap in our dockerexec late last night. 1st issue I hit was its attempt to get the `hostname` file - this exists in the infra container's directory, but not the target container's. I commented that out, and the next thing I got was a panic trying to terminate the spawned process (apparently the initial spawning failed, so it tried to kill it, and that panick

[2015-05-21 13:45] #1558 closed

[2015-05-21 13:53] csrwng commented on #2236
@wzheng1 You may be getting the error due to your version of curl. If curl is not compiled with openssl, it can't understand the key format. You may need to convert the key beforehand. See https://github.com/openshift/origin/blob/master/hack/util.sh#L151-L161. Or just run a container like openshift/origin-base that has an curl+openssl and use that.

[2015-05-21 14:02] spadgett commented on #2400
If we hide the section, we should probably do the same in other places. For instance,

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7750141/88a6a766-ffa0-11e4-9dd9-2145074e97f0.png)

[2015-05-21 14:09] smarterclayton commented on #2335
It sounds like a custom rolling update strategy which is n-x, where x is the downtime you're willing to accept.

[2015-05-21 15:07] sosiouxme opened #2412 "osc create doesn't announce parse failures"
[code]

I would like to find out that there was a parsing error (I left out a comma) without having to crank up the loglevel.

[2015-05-21 15:07] #2358 closed

[2015-05-21 15:22] sosiouxme opened #2413 "Ordinary user can't create or even list PersistentVolumeClaims"
@deads2k or @liggitt I *think* this is probably just a matter of adding PVCs to the default policy for things project admins/editors/viewers should have access to?

[code]

[2015-05-21 15:30] sosiouxme commented on #2413
[code]

I'm... honestly not sure if ordinary users ought to be allowed to see the backing volumes. I don't think there's a need for it unless the PVs have some user-required information that's not expressed by the claim.

[2015-05-21 15:35] mfojtik commented on #2269
CC @deads2k

[2015-05-21 15:37] liggitt commented on #2413
@markturansky what is the expected level of access for users to persistent volumes and persistent volume claims?

[2015-05-21 16:30] timothysc commented on #2233
perf regression - https://github.com/GoogleCloudPlatform/kubernetes/issues/8119

[2015-05-21 16:46] spadgett commented on #2412
See also #2366

[2015-05-21 17:00] spadgett opened #2415 "Angular expression visible in deployment config warning tooltip"
See screenshot.

![screen_shot_2015-05-21_at_12_56_19_pm](https://cloud.githubusercontent.com/assets/1167259/7754221/e6f7cc38-ffb8-11e4-9150-e2ba23464e95.png)

/cc @liggitt

[2015-05-21 17:02] spadgett commented on #2415
I've seen problems using Angular expressions inside of `title` attributes with Bootstrap tooltips. Might be easiest just to leave the ID out of the message, particularly if it doesn't exist anymore anyway.

[2015-05-21 17:20] liggitt commented on #2415
might be related to #2411

[2015-05-21 17:24] johnkeck opened #2417 "osc first class support for a terminal"
Would be nice if instead of
    osc exec -p PODID -c CONTAINER -i -t -- bash -il

you could do something like
    osc terminal -p PODID -c CONTAINER

and the terminal command would attempt to use a list of shells in the container and automatically setup terminal features.

[2015-05-21 17:57] liggitt commented on #2415
feel free to remove the id, but I question whether we even want to show the warning if it's missing. @smarterclayton, I got the impression that deleting a deployment config was likely to delete all the deployments spawned from it... if so, not sure we need to worry about the "deployment config doesn't exist any more" case

[2015-05-21 18:01] smarterclayton commented on #2415
You can bypass it, so they could be left behind.  They're still deployments, just orphaned.

----- Original Message -----

[2015-05-21 18:01] wshearn opened #2420 "Update "error" is ambiguous"
We got in error in the logs saying:

    imageStream "jboss-mongodb-24" cannot be updated: the resource was updated to 668732

This is unclear as to if there was an error or not.

[2015-05-21 18:47] sosiouxme commented on #2413
It occurred to me, actually, creating these might be something we don't want to allow by default (let the user change that policy).

However, if a cluster administrator creates one in your namespace, it seems reasonable for an ordinary user of that project to be able to list it. I don't think you could even create a pod to use a volume claim otherwise.

[2015-05-21 19:03] #2119 closed

[2015-05-21 19:33] spadgett commented on #2403
Different to see what's what with namespaces.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7756908/5c41be32-ffcc-11e4-86dd-7c59870baede.png)

[2015-05-21 20:12] ivanthelad opened #2426 "Updating project quota has no effect on project . Based on beta3 training"
I’m trying to update the quota after applying  changes to  the config file but it does not take effect (quota.json )

Steps performed, see (1)
1) apply quota.json to a project
2) confirm quota is applied (getting details )
3)update quota.json file. changing replication controllers from 3 to 4
4) apply using command osc update -f quota.json
	doing osc edit also has no effect
5) view quota for proje

[2015-05-21 20:27] spadgett opened #2427 "Port mappings text extends outside service box"
See screenshot.

![openshift_management_console](https://cloud.githubusercontent.com/assets/1167259/7758243/35ef3db8-ffd6-11e4-8853-1d75e9ac8a40.png)

/cc @liggitt @sg00dwin

[2015-05-21 20:44] adellape opened #2429 ""osc get deployments" does not list deployments"
Web console and `osc status`/`osc describe dc <deploymentconfig>` show that I have active deployments, so I expected `osc get deployments` to show the same, however the output is blank:

[code]

More details:

https://gist.github.com/adellape/6e00683f81ebf7723da1

Interested to know whether this is just a bad expectation on my part.

[code]

[2015-05-21 21:36] spadgett commented on #2361
Unfortunately, using a tooltip rather than a popover doesn't fix the problem.

[2015-05-21 22:21] derekwaynecarr opened #2432 "osc project resets the current-context"
Running OpenShift as pod on Kubernetes:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/openshift-origin

I do the following:

[code]

Expected result:
The current namespace for the public-default context should be "default" and the current-context should not change.

Actual result:
The context switches back to default from "public-default", and now osc cant contact the serv

[2015-05-22 00:29] derekwaynecarr commented on #2426
This is fixed at head but if required I can back port to beta3.

Sent from my iPhone

[2015-05-22 01:36] markturansky commented on #2413
PersistentVolumes are expected to be provisioned by an administrator without any namespace.

PersistentVolumeClaims will be created by users within a namespace.

[2015-05-22 01:55] liggitt commented on #2413
@markturansky can you add the correct permissions to the `admin` (and `edit`) roles in `GetBootstrapClusterRoles`? Might be as simple as adding "persistentvolumeclaims" to the `KubeExposedGroupName` list in the `GroupsToResources` map. @deads2k can probably give guidance there.

[2015-05-22 01:56] markturansky commented on #2413
@liggitt will do.

[2015-05-22 02:14] #2411 closed

[2015-05-22 02:14] #2415 closed

[2015-05-22 02:56] #1232 closed

[2015-05-22 03:08] sosiouxme opened #2433 "Pod can't consume a PVClaim - storage plugins not loaded?"
I fixed up the docs on creating an example PV + PVC + pod:
https://github.com/openshift/openshift-docs/pull/395

... however something is still not quite working. When I created my pod, it sits in Pending forever and OpenShift has this message in the journal:

`I0522 03:05:47.267683    1654 event.go:203] Event(api.ObjectReference{Kind:\"Pod\", Namespace:\"whatever\", Name:\"mypod\", UID:\"46114970

[2015-05-22 03:40] sosiouxme commented on #2413
I think the `view` role ought to see PVCs too.

[2015-05-22 03:54] sosiouxme opened #2434 "PersistentVolume remains Bound after PVC is deleted"
Wondering if there is supposed to be a controller for this too, or if this is just a gap.

Following [the docs](https://github.com/sosiouxme/openshift-docs/blob/e675db4e8ac7dcde582a17dd8e1e83c68348d421/dev_guide/volumes.adoc) if I then delete my pod and PVC, the PV remains in Bound state:

[code]

I don't know if it should go back to being unbound, or proceed to some other phase (completed? so tha

[2015-05-22 04:03] sosiouxme commented on #2434
Update: I tried creating the PVC again. At that point I noticed the PV actually was in Released state, though still had the claimRef from before. The new PVC remained in Pending, wasn't attached to the released PV. This is repeatable:

[code]

Is this as expected (currently)? Need to document the full lifecycle here, as well as failure cases...

[2015-05-22 04:15] sosiouxme commented on #2434
For instance, should we allow deleting the PVC when a pod refers to it? Currently this is just peachy.

Also, once the PVC is deleted, the describe for PV looks wonky:

[code]

[2015-05-22 04:17] sosiouxme opened #2435 "The describe for a bound PersistentVolume looks wonky"
[code]

[2015-05-22 04:49] thesteve0 commented on #2409
So then how can I change the server once I have set oe?

On Thu, May 21, 2015 at 1:27 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-05-22 04:50] derekwaynecarr commented on #2434
@markturansky

[2015-05-22 04:51] ivanthelad commented on #2426
not required.

cheers
ivan

Sent from a phone

[2015-05-22 04:56] liggitt commented on #2409
`osc login https://new-server.com`
or
`osc login --server=https://new-server.com`

[2015-05-22 07:11] TomasTomecek commented on #2348
After a couple of days this is happening quite often. I'm using origin 0.4.4. On Monday I'm planning to play with 0.5.2. Will report whether the issue persists.

[2015-05-22 08:20] jstrachan commented on #1629
Incidentally the fabric8 [maven fabric8:json](http://fabric8.io/guide/mavenFabric8Json.html) goal now generates OpenShift templates with annotations for the documentation, summary and icon URL.

We default to using a data URL for icons which base64 encoded are less than 40K (its configurable how big is too big); then for larger icons it tries to link to github (by default) to provide an external U

[2015-05-22 08:21] jstrachan commented on #1629
Am thinking we can close this issue now; thanks for all the feedback!

[2015-05-22 08:21] #1629 closed

[2015-05-22 08:22] jstrachan commented on #2026
as an aside a workaround for this issue; we've a simple command for java folks to lazily create any missing routes: [mvn fabric8:create-routes](http://fabric8.io/guide/mavenFabric8CreateRoutes.html).

It'd be much nicer for this to happen on the fly by OpenShift though

[2015-05-22 11:48] deads2k commented on #2432
Yeah.  In `osc project <arg>`, the `arg` is actually **either** a context or a project.  If it matches on context, then that's the match that wins.  In your case, you have a context named "default", so it switched to it.

Address complaints to @smarterclayton.

An issue regarding keys that don't look like the keys we generate from `osc project` and `osc login` would be in order.

[2015-05-22 12:10] markturansky commented on #2434
pv.Spec.ClaimRef will remain non-nil and phase will be "Released" until manual reclamation occurs.

There is a "Recycler" PR upstream that will take a PV from "Released" through "Recycled" phases and finally "Availalble" again.   https://github.com/GoogleCloudPlatform/kubernetes/pull/8334

[2015-05-22 12:14] brenton commented on #2348
Thanks for the update.

[2015-05-22 12:28] deads2k commented on #2432
Thinking about it, fixing the keys could be a candidate for @stevekuznetsov

[2015-05-22 12:28] smarterclayton commented on #2432
Should we flip the names?  Are most admins going to be using the internal address or the external address?  Seems like initially they'll use internal then switch to external.

[2015-05-22 12:28] deads2k commented on #2432
internal is the default.

[2015-05-22 12:41] markturansky commented on #2435
Thanks, Luke.

Here is the fix:  https://github.com/GoogleCloudPlatform/kubernetes/pull/8665

[2015-05-22 12:42] markturansky commented on #2433
They are not all nil.  Your PVClaimVolumeSource is "claim1", which looks correct.

Is the claim and PV bound?

[2015-05-22 13:05] pweil- opened #2441 "Remove temporary validation of double escapes"
As a short-term item, a temporary validation for double escapes in a cert was added in https://github.com/openshift/origin/pull/2408#issuecomment-104135943 to ensure folks using old example files update to the newer examples that don't include the unnecessary double escapes.  This should be removed after a sprint or two.

[2015-05-22 13:08] bparees commented on #2312
fixed.

[2015-05-22 13:08] #2312 closed

[2015-05-22 13:09] #2016 closed

[2015-05-22 13:22] sosiouxme commented on #2433
I was getting "nil" from seeing ` NFS:(*api.NFSVolumeSource)<nil>` and `no volume plugin matched`

[2015-05-22 13:25] markturansky commented on #2433
NFS will be nil for this pod.  You are using a claim as your volume (which is not nil).

The claim needs to be bound correctly to the NFS PersistentVolume.  Can you show me that status?

Also, NFS as a persistent volume was merged upstream 15 days ago.  I see it in OpenShift head as a PV.  We need to make sure the version of OpenShift you're using is recent to have this change.  Without it, you wo

[2015-05-22 13:33] soltysh opened #2443 "Make sure we allow specifying ImageStreamTag and DockerImage in BuildConfig To field"
@bparees per our discussion, I'm creating an issue that'll be working on to allow specifying `ImageStreamTag` and `DockerImage` in `BuildConfig` `To` field, analogically to `From` field which allows aforementioned and `ImageStreamImage` (which does not make sense in `To` as this defines image by id).

[2015-05-22 13:41] adellape opened #2444 ""Management Console" terminology"
From a conversation recently with @joefern1 and @mpbarrett, there was a desire to sync up language in marketing materials and documentation to "web console" instead of "Management Console". After some brief poking around, the only spot I could find of an actual reference to "Management Console" in the product was the title bar in browser.

If the decision is indeed to switch that terminology, I pr

[2015-05-22 13:45] sosiouxme commented on #2433
This was my origin devenv, so very recent. It's blown away, I'll need to recreate.

[2015-05-22 13:59] markturansky commented on #2413
Thanks to @deads2k for his guidance.  See https://github.com/openshift/origin/pull/2445

[2015-05-22 14:06] smarterclayton opened #2447 "DeploymentConfig sends pointless event"
We're sending:

[code]

It has zero value and we should not send it.

[2015-05-22 14:09] sosiouxme commented on #2433
@markturansky I have reproduced at http://pastebin.test.redhat.com/285172 -- any help appreciated

[2015-05-22 14:15] markturansky commented on #2433
Thanks, I'll run through that and try to find where it's going wrong.

[2015-05-22 14:31] sosiouxme commented on #2434
Alright, so currently we can manually reclaim (by nuking the PV, doing whatever needs to be done to clear what's stored, and creating the PV again). The move from "Bound" to "Released" seems a little slow but this is pretty much wiorking as expected until the recycler comes through. We should just document the current "lifecycle" to set expectations.

[2015-05-22 14:36] rjleaf opened #2448 "Accessing web console via HTTP results in garbage being returned"
**Issue:**
When accessing the web console via a browser, if I fail to connect via HTTPS, the server returns a file called "download."

**Version:**
Latest version available via Docker, using the instructions provided on the README for this repo.

**How to Reproduce:**
Open a browser and navigate to "http://localhost:8443/console".

**Comments:**
Perhaps it should redirect users to an HTTPS connect

[2015-05-22 14:41] sosiouxme opened #2449 "`osc get minions` has no output whatsoever"
[code]

I'm not sure what output `osc get minions` *should* have but I think it should probably be *something*. Either a deprecation notice or more like `osc get bogus`.

[2015-05-22 14:52] mmilata commented on #1634
Confirming fixed in 0.5.2.

[2015-05-22 14:55] smarterclayton commented on #2449
Minions is going to get nuked shortly so this lowers the priority a bit

[2015-05-22 15:29] sdodson opened #2451 "osadm registry doesn't support --selector flag"
Like the router, users may wish to specify where their registry runs by providing a nodeSelector via `--selector` flag when creating the registry.

[2015-05-22 15:52] thesteve0 commented on #2409
Those didn't work with 0.5

Sent from my phone please excuse typos,  grammar, and directness
On May 21, 2015 9:56 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2015-05-22 16:03] abhgupta commented on #2447
@smarterclayton Are you testing with multiple masters? If not, this would require some digging as it may be a symptom of a bigger issue.

[2015-05-22 16:11] markturansky commented on #2434
Discussed this with @smarterclayton in email.  I am going to push #8334 upstream and hopefully get this piece merged, but we can carry a patch as necessary.  I'd rather update the docs with the ability to recycle than to describe that limitation :)

[2015-05-22 16:54] smarterclayton opened #2455 "Usability issues with deployments"
* Verify `osc rollback` disables triggers and it's possible to restore them (probably something osc deploy should do) (https://github.com/openshift/origin/issues/3008)
* I should be able to "fail back" a deployment - scale back up the N-1 deployment and mark the latest failed, even after it's complete.  Example - I rollout a change, I realize it's bad, i don't want to disable automatic updates, bu

[2015-05-22 16:56] smarterclayton commented on #2447
[code]

[2015-05-22 17:10] #2198 closed

[2015-05-22 17:33] csrwng commented on #2390
@smarterclayton - unless we do some extra magical checking, we can't tell that this is not a valid image repo, until we try to resolve it, which is much later in the process. We could check beforehand to see if the argument corresponds to an existing file, but even if there is a file named "foo/bar/baz", you really may mean to use image "foo/bar/baz".

Would you be ok with us checking if there's a

[2015-05-22 17:35] markturansky commented on #2433
Should be resolved by #2457.

[2015-05-22 18:05] smarterclayton opened #2458 "osadm registry should be able to update the registry"
Messed up my credentials, had no way to update the registry short of deletion and recreate.

[2015-05-22 18:16] smarterclayton commented on #2458
Needs to be a flag that allows that

[2015-05-22 18:16] smarterclayton opened #2459 "Sample app templates should have ConfigChange triggers"
Frontend does not, which means config changes don't trigger deployments

[2015-05-22 18:17] smarterclayton commented on #2455
I should be able to enable/disable triggers on osc deploy.

[2015-05-22 18:22] ncdc commented on #2458
--update?

[2015-05-22 18:25] derekwaynecarr commented on #2426
Since this is fixed at HEAD, are you ok with closing the issue?

Upstream fix was here:
https://github.com/GoogleCloudPlatform/kubernetes/pull/6935

[2015-05-22 18:28] derekwaynecarr commented on #2169
@stevekuznetsov for historical purposes, this is the PR that went and originally set the annotation that we need to now prefix, should give you a hint of where to change: https://github.com/openshift/origin/pull/1868

[2015-05-22 18:38] liggitt opened #2461 "Nest `osadm` certificate sub-commands"
We have several cert-related commands:
[code]

Might be good to combine them under a subcommand

[2015-05-22 18:40] liggitt opened #2462 "Surface warnings in server config validation"
There are several non-error conditions we detect in server config validation that would be useful to surface as warnings:

For example:

[code]

[2015-05-22 18:49] jacobkiers opened #2463 "Vagrant instructions not up-to-date"
While trying to start openshift using Vagrant, as shown in the [Contributing Guide](https://github.com/openshift/origin/blob/172863875cb5b7dfe160033455b61e163d6a8270/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant), I ran into two errors:

1. The go version installed is too old, therefore it requires a `yum update`.
2. The systemd file in `/usr/lib/systemd/system/openshift.service` need

[2015-05-22 19:07] deads2k opened #2464 "osadm new-project should use a template like osc new-project"
and it should allow a `--template` argument

[2015-05-22 19:08] liggitt commented on #2464
How is this different than just using `osc process <f> | osc create -f -`?

[2015-05-22 19:09] liggitt commented on #2464
`osadm new-project` makes assumptions about what parameters are in the template, right?

[2015-05-22 19:11] deads2k commented on #2464
Yes, and our default template isn't written anywhere.

[2015-05-22 19:24] liggitt commented on #2464
that's why I made `osadm create-bootstrap-project-template`

[2015-05-22 19:26] deads2k commented on #2464
Yeah.... I'm still going to say that `new-project` is a whole lot nicer to use to get started.  Templates feel hard when you're first starting.

[2015-05-22 19:29] liggitt commented on #2464
should it use the default template by default?

[2015-05-22 19:30] liggitt commented on #2464
outside my head, that question sounds stupid

[2015-05-22 19:30] derekwaynecarr commented on #2464
but when is a default really default?

[2015-05-22 19:31] liggitt commented on #2464
actually, maybe it's not stupid... the template assumes a project admin... if you don't provide one, what happens?

[2015-05-22 19:32] smarterclayton commented on #2390
Yes.  "You must provide an unambiguous argument", and support -f for templates or configs.

[2015-05-22 19:33] sosiouxme commented on #2434
Sounds good to me +1

[2015-05-22 19:33] deads2k commented on #2464
empty string?  Could be worse.

[2015-05-22 19:52] liggitt commented on #1773
#2302 actually fixed the timeout issue. This now only surfaces if the token is invalidated server-side, while viewing a page using watches. On navigate (or refresh, which you are prompted to do), you are directed to log in.

[2015-05-22 19:57] liggitt commented on #2448
It isn't possible to send a valid http response on a port serving TLS connections (https). Public sites can direct http to https because they are actually serving on different ports:
`http://foo.com` is using the implied port `80`
`https://foo.com` is using the implied port `443`

Because the port is specified in `http://localhost:8443/console`, the server only has a single handler that can respon

[2015-05-22 19:57] #2448 closed

[2015-05-22 20:03] spadgett commented on #2388
I'd classify this as a bug because there's an attempt to do validation, but it's not working (at least not for me).

[2015-05-22 20:05] spadgett commented on #2388
Fixing this will also get rid of the "Please fill out this field" tooltip mentioned in #2330.

[2015-05-22 20:14] brenton commented on #2348
I looked in to this some more today.  I think I'm seeing the same problem as you with fairly recent Origin code built with go 1.4.2.  The weird thing is that every time I run the test with curl it ends right around the 5 minute mark:

[code]

While I'm running this test I'm basically hitting the application in another process to generate log messages.

[2015-05-22 20:15] brenton commented on #2348
Oddly enough I just ran the same test against a kubernetes instance and say the same results only it happened after 10 minutes.  There has to be a configuration setting somewhere.

[code]

[2015-05-22 20:34] csrwng commented on #2397
Fixed by https://github.com/openshift/origin/pull/1866

[2015-05-22 20:35] #2397 closed

[2015-05-22 22:16] rcernich commented on #1876
Some more info:
[code]

[2015-05-22 22:23] rcernich commented on #1876
This output is interesting:
[code]
I don't see buildConfigs in there.

[2015-05-22 22:26] rcernich commented on #1876
Sorry, apparently, I can't read.  buildconfigs is there.

[2015-05-22 22:28] bparees commented on #1876
@csrwng if you could look into this while i'm out i'd appreciate it.  the failure mode is pretty basic (image_change_controller.go is trying to update the buildConfig around line 129), but the meaning of the etcd error is not very obvious to me.

[2015-05-22 22:29] rcernich commented on #1876
One thing that is odd, is that it seems like the update succeeds if you curl the key for the build config.

[2015-05-22 23:14] sosiouxme commented on #2458
But you just said it was P3 :) https://github.com/openshift/origin/issues/1175

[2015-05-22 23:30] TomasTomecek commented on #2348
This looks very close to what I'm seeing.

[2015-05-23 02:11] liggitt opened #2471 "Template errors in hack/test-cmd.sh"
Seen in https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/2069/consoleFull
[code]

[2015-05-23 02:14] liggitt commented on #2471
The test continued and eventually said `imageStreams: ok`. Marking as p2 because I don't know if this is an actual problem (and the test is not detecting it correctly). If it's just a test change needed, feel free to lower the priority.

[2015-05-23 02:19] liggitt commented on #2444
@adellape, yeah, just let me know if that's decided on

[2015-05-23 02:20] rcernich commented on #1876
I think I can confirm that after you issue a get request for the buildconfigs key using curl, the spawning of builds stops.  In this last case, the request was for buildconfigs/project.

[2015-05-23 03:13] liggitt commented on #2169
So, for display name, `openshift.io/display-name` everywhere?

[2015-05-23 03:16] liggitt commented on #2169
@stevekuznetsov see #2227 as well for central places to put mappings to a new annotation key

[2015-05-23 04:43] #2394 closed

[2015-05-23 09:41] joefern1 commented on #2444
I would like to go ahead with the switch to "Web Console" to be in line with our marketing materials and web copy.

[2015-05-23 15:01] withinboredom opened #2473 "When first connecting to console ui, get redirected to internal ip"
I'm experimenting with openshift origin 3, and using boot2docker. When trying to connect for the first time: https://192.168.99.100:8443/console/ gets redirected to https://10.0.2.15:8443/oauth/authorize...

The bug is that it shouldn't redirect to another host. In the real world, there would probably be some kind of VIP that the machine is behind and the user would be unlikely to be able to acces

[2015-05-23 15:24] liggitt commented on #2473
Pass `--public-master=https://192.168.99.100:8443` when starting OpenShift to tell it the public address to use.

[2015-05-23 22:23] sosiouxme commented on #2449
That ought to "fix" it.

----- Original Message -----
From: "Clayton Coleman" <notifications@github.com>
To: "openshift/origin" <origin@noreply.github.com>
Cc: "Luke Meyer" <lmeyer@redhat.com>
Sent: Friday, May 22, 2015 10:55:12 AM
Subject: Re: [origin] `osc get minions` has no output whatsoever (#2449)

Minions is going to get nuked shortly so this lowers the priority a bit

—
Reply to this email

[2015-05-23 23:35] #2459 closed

[2015-05-24 01:14] withinboredom commented on #2473
Thanks, that's a great workaround!

[2015-05-24 01:18] liggitt commented on #2473
That's the official way to indicate the web-facing address to use. It can't just use the requesting address, because the server needs to know the hostname at start time to generate a valid certificate and set up allowed OAuth login redirect URLs.

[2015-05-24 01:18] #2473 closed

[2015-05-24 03:10] withinboredom opened #2474 "Strange failures in West Pennsylvania..."
Saw this in the logs:

[code]

and

[code]

Apparently an ISP in West PA overrides DNS failures with a "pretty search page" ... This is easily resolved by changing dns settings to opendns/google dns. However, this has left my openshift installation in a completely broken state.

Mostly reporting this so that if someone else hits this, they know what to do... start over from scratch.

[2015-05-24 03:21] liggitt commented on #2474
Well, we're unlikely to support the `<html><head><meta http-equiv="refresh" content="0;url=http` url scheme, popular as it is in PA ;)

I would be interested to know what broke in that scenario. Seems like that would be similar to recovering from a DNS cache poisoning attack, etc, which we do care about.

[2015-05-24 03:50] smarterclayton commented on #2471
Should be a test change, I believe this is looking up the IS before it's been imported

[2015-05-24 10:07] kargakis commented on #2463
The Docker version also is >1.6

[2015-05-24 10:18] kargakis commented on #1639
https://github.com/GoogleCloudPlatform/kubernetes/pull/8634

[2015-05-24 10:20] kargakis commented on #1288
ex generate is no more: https://github.com/openshift/origin/commit/f61a83fa3361e4148c7ea89276eb3ebb34066a13
@danmcp this can close.

[2015-05-24 10:21] kargakis commented on #1287
This can close now as well: https://github.com/openshift/origin/commit/f61a83fa3361e4148c7ea89276eb3ebb34066a13

[2015-05-24 10:58] kargakis commented on #739
If resize was the problem, this can close now as you can use osc resize.

[2015-05-24 10:59] kargakis commented on #739
And of course it's [tested](https://github.com/openshift/origin/blob/1d7cfce4f3b48d78e00ffe306a7de864761b07ea/hack/test-cmd.sh#L437-L446) in test-cmd.sh

[2015-05-24 13:59] #1288 closed

[2015-05-24 18:45] withinboredom commented on #2474
Basically everything broke. Any attempt to start a new build would fail, even after fixing the dns issue, keys in the kv store were probably still completely boinked. I'm still too new to openshift to be able to just look at something and know what is broken... Wouldn't be hard to reproduce with a simple bind config.

[2015-05-25 06:06] #2433 closed

[2015-05-25 12:47] kargakis commented on #2236
@csrwng fyi, seems like my problem had to do with the Docker and Go versions in Vagrant.

[2015-05-25 21:14] fabianofranz commented on #2412
The `create` command is [configured to run](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/create.go#L83) as `ContinueOnError` upstream, which allows it to ignore entries that are not recognized as API objects, and continue to process valid entries after failures.

So requires a change of behavior upstream. Another option would be to always run `create` with a higher

[2015-05-26 01:12] liggitt opened #2479 "Remove recreate.go#podWatch"
Watching pods for status updates works via the API now. I'm assuming this can be removed:
[code]

[2015-05-26 06:38] TomasTomecek opened #2481 "Error in logs: "Image garbage collection failed""
[code]
[code]
The node was running for ~16 hours. It's `0.5.2`.
Is this an error? Should I be concerned?

[2015-05-26 07:25] TomasTomecek opened #2482 "internal DNS queries fail sometimes during build"
My `git clone` during build failed with:

[code]

Unfortunately, this is not 100% reproducible. Only happens sometimes. When I compare `docker inspect`, `/etc/hosts`, `/etc/resolv.conf` of "wrong" and "good" build container, they match precisely.

## Logs

### container's `hosts`

[code]

### container's `resolv.conf`

[code]

### host's `resolv.conf`

[code]

### `docker inspect $build_container`

[2015-05-26 07:29] soltysh commented on #2269
@bparees @smarterclayton close please, since #2220 is merged.

[2015-05-26 07:30] wjiangjay opened #2483 "Project create page should be updated"
Due to this PR(https://github.com/openshift/origin/pull/2351), project name rules has been changed.
And better to let the Create button is disabled when the input can not pass validation.
For the current codebase,  the create button is active when I just type one char.

[2015-05-26 08:17] TomasTomecek commented on #1634
Also verified; thanks Cesar!

[2015-05-26 08:21] soltysh commented on #2326
@mfojtik is there still something left in here to be done or can we close it as is?

[2015-05-26 08:25] mfojtik commented on #2326
this is done

[2015-05-26 08:25] #2326 closed

[2015-05-26 09:07] TomasTomecek commented on #2348
I reproduced this with `0.5.2`.

Since Fedora/RHEL curl maintainer is sitting next to me, I discussed this issue with him. According to error from pycurl `pycurl.error: (18, 'NSS: client certificate not found (nickname not specified)')`, it looks like that master asks for client certificate after a period of time (which is a valid request according to TLS spec).

Could this be related to configura

[2015-05-26 10:52] mfojtik opened #2485 "The origin-version-change command problems with templates"
I'm trying to convert all samples we have in origin repo to v1beta3 and I found interesting error. One sample (examples/project-quota/application-template-with-resources.json) failed to convert throwing this:

[code]

When I looked into the template I found this:

[code]

@smarterclayton can we somehow relax the k8s validation to ignore the following errors?

[2015-05-26 10:57] #2269 closed

[2015-05-26 11:14] TomasTomecek opened #2487 "Regression: it takes node more than 3 minutes to schedule a build"
My build request was submitted on 6:50:24 and it got scheduled at 6:53:47. Why did it take so long?

### Logs

[code]

[2015-05-26 11:22] mfojtik opened #2488 "Deprecate / Remove the osc build-log command"
As the build pods now matches the name of the build, there is no difference between doing `osc log foo` and `osc build-log foo`.

@smarterclayton @jhadvig  PTAL

[2015-05-26 11:34] soltysh commented on #2488
:+1: agreed

[2015-05-26 12:41] liggitt commented on #2483
@spadgett should be super quick

[2015-05-26 12:42] liggitt commented on #2485
I'm surprised a straight serialize/deserialize is running validation

[2015-05-26 12:53] mfojtik commented on #2485
@liggitt it might be conversion error but I can't find any in k8s conversion functions...

[2015-05-26 14:14] ashcrow commented on #2370
I hit a very similar problem. I deleted the service and the deploymentConfig to get the status removed. I'm interested to see how to fix this as well!

[2015-05-26 14:18] smarterclayton commented on #2485
V1beta1 resources were messed up, so they have to be converted.  Not sure you're going to be able to automatically change this.

[2015-05-26 14:19] sosiouxme commented on #1089
Probably same issue as https://bugzilla.redhat.com/show_bug.cgi?id=1190096

[2015-05-26 14:27] brenton commented on #2348
@TomasTomecek, in your last comment about reproducing on 0.5.2 were you hitting the master directly or via apache?  It seemed to me like we've identified there is at least one problem with the Master's SSL connection that triggers this.

Did you ever try running `time`? I'm curious if you saw the same behavior I did where it would break after almost exactly 5 minutes.

[2015-05-26 14:29] csrwng commented on #2482
@smarterclayton - potentially the same issue as https://github.com/openshift/origin/issues/2024

[2015-05-26 14:35] pweil- commented on #2370
@sosiouxme - this is due to an incompatibility in older deployer images.

If you could, can you please:

1.  Check to see if you have images in docker that have both a docker.io prefix and a non-docker.io prefix
1.  Delete the `openshift/origin-deployer` images
1.  Redeploy - you likely have to delete the existing deployer.  @abhgupta - is that in line with the work you've been doing for cancellin

[2015-05-26 14:40] smarterclayton commented on #2488
SGTM, don't have time today to review.

[2015-05-26 14:44] derekwaynecarr opened #2494 "Need a common cache for Policy and Project Auth"
There is a race condition that can occur if the Policy cache is not in synch with the Project auth cache.

Specifically, if the Project auth cache has a more recent view of the Policy system then the authorization endpoint, it can take up to 5 minutes (when a full re-list, synch) would occur for a project to become visible.

We believe the fix is to have both the policy system and the project auth

[2015-05-26 14:45] derekwaynecarr commented on #2494
@stevekuznetsov - is this something you want to take a stab at fixing?

[2015-05-26 15:19] sosiouxme commented on #2370
@pweil why does it matter what images are in use? Sometimes things will go wrong with the deployer, that's just reality, but what should a user do when the deployer has failed in some way? There should be some better way to clear/reset/override deployment state than to nuke everything.

[2015-05-26 15:25] #1775 closed

[2015-05-26 15:27] liggitt opened #2498 "UI shows "no builders available" message while loading builders"
Should show a loading message until we've completed loading both the current and openshift namespaces. Might be an issue for templates as well.

[2015-05-26 15:29] pweil- commented on #2370
@sosiouxme Agreed.  There was a forward compatibility issue with an annotation in the deployer image that resulted in the decode error you're seeing.  (ie. using newer code against an older image)

@abhgupta was working on something for cancelling in flight deployments, I'll let him comment on that piece.

[2015-05-26 15:37] sosiouxme commented on #2370
Alright thanks. I'm not so concerned about why the deploy failed - I can think of a lot of ways that could happen and some just can't be prevented. More interested in what the user is supposed to do to recover.

[2015-05-26 16:11] gravis commented on #2463
Same here, I don't have any openshift.service file :(

[2015-05-26 16:24] abhgupta commented on #2370
In your specific case, as @pweil- pointed out, it was an incompatibility issue that was introduced in the latest code (with the older images). This is not something that is expected to happen and is not user-serviceable. We fixed it by cutting a new version and the users (internal/dev) were required to delete older images from their systems in order to move forward with the deployment.

More gener

[2015-05-26 16:26] smarterclayton commented on #2482
My suspicion is that the upstream is either taking too long or not responding.  We should be able to reproduce this against the internal name server and determine whether it's a timeout/cache problem.

[2015-05-26 16:41] brenton opened #2499 "Deleting a project doesn't delete the deploymentConfigs"
This can be reproduced with the router.  Create it, delete the default project.  Once it comes back automatically try to recreate the router.  The old deploymentConfig will still be there.

[2015-05-26 16:46] TomasTomecek commented on #2348
Ah, I'm already off the work. Totally forgot to comment. I tried some requests and all of them took less than 5 minutes, therefore I haven't hit this.

[2015-05-26 17:02] brenton opened #2500 "router status handler should not use a hardcoded password"
https://github.com/openshift/origin/blob/master/images/router/haproxy/conf/haproxy-config.template#L32

Apologies in advance if this is already being tracked elsewhere.

[2015-05-26 17:13] brenton commented on #2451
It's technically true we could live without this, however we know admins are going to use `osadm` to create the registry.  Having to manually add the node selector after the fact and recreate the pod is going to be a hassle.

[2015-05-26 17:28] sosiouxme commented on #2370
@abhgupta  thanks, I think --cancel will get what we need. Could it be mentioned when --latest or --retry refuse due to a pending deploy?

I added a layer `ENTRYPOINT ["/usr/bin/openshift-BORK"]` on origin-deployer and used that to recreate. Once it fails:

[code]

All of those would be good places to mention that if you don't want to wait (forever) for that pending deployment, then use `--cancel`

[2015-05-26 17:30] #2444 closed

[2015-05-26 17:53] abhgupta commented on #2370
Good points - will incorporate these.

Also, another important thing to note is that deployer pods now have 6 hours to complete the deployment task and will be killed after that, if still pending/running. This aims to address "stuck" deployments and builds on top on the work that Derek did for introducing ActiveDeadlineSeconds for a pod. This duration cannot be set by a user as of now for the depl

[2015-05-26 17:55] abhgupta commented on #2370
Note that the above only addresses cases where a deployer pod is stuck and is running forever.

[2015-05-26 17:56] #2483 closed

[2015-05-26 18:54] pweil- commented on #2370
@abhgupta you want to put this one in your name?  Anything to make my list shorter :smile:

[2015-05-26 19:18] deads2k commented on #2233
still waiting on GoogleCloudPlatform/kubernetes#8582.  Supposedly I'm just waiting on a few other in the merge queue ahead of me.

[2015-05-26 19:18] abhgupta commented on #2370
@pweil- there you go. :)

[2015-05-26 19:20] pmorie commented on #2233
Env expansion: have acheived LGTM status on https://github.com/GoogleCloudPlatform/kubernetes/pull/8149 but awaiting merge

[2015-05-26 19:21] pweil- commented on #2233
Security Context Constraints update:

https://github.com/GoogleCloudPlatform/kubernetes/pull/7893 is expected to be carried as a patch, we have not had adequate feedback for this to be merged

https://github.com/GoogleCloudPlatform/kubernetes/pull/8203 has been merged into upstream

https://github.com/GoogleCloudPlatform/kubernetes/pull/8607 is required by SCC but is already in OpenShift as an ups

[2015-05-26 19:21] sg00dwin opened #2505 "Update to the latest patternfly code base which now has v3.3.4 of Bootstrap"
Post V3 launch

and remove
.table-responsive {
 overflow-x: auto; // remove when we update to latest patternfly with twbs 3.3.4
}

[2015-05-26 19:23] pweil- commented on #2370
:beers: :beers: :beers:

[2015-05-26 19:28] liggitt opened #2506 "Use serviceaccount for deployments"
The credentials used by the deployer pod to create replication controllers are currently injected via the container environment variables. These are inspectable by anyone with read access to pods in the deployment pod's namespace.

Because deployment pods run in the namespace of the target deployment, that means we cannot use credentials with cross-namespace access.

We have to switch to using a p

[2015-05-26 19:37] markturansky commented on #2233
These two PRs fix the CanSupport func for most PersistentVolume implementations.  The volume plugins won't work in PV without them.

https://github.com/GoogleCloudPlatform/kubernetes/pull/8688
https://github.com/GoogleCloudPlatform/kubernetes/pull/8732

PV Recycler (basic "rm -rf" scrub of NFS volumes):

https://github.com/GoogleCloudPlatform/kubernetes/pull/8334

[2015-05-26 19:55] ironcladlou commented on #2429
The `deployment` resource won't be in v1 final. It has been deprecated for a long time.

Use `rc` to view the deployment as a replication controller instead.

@smarterclayton, do we need to take any special action right now to prepare for removing these old types?

[2015-05-26 19:57] smarterclayton commented on #2429
Yank them from old and new versions, remove all traces.

[2015-05-26 20:00] sosiouxme commented on #2433
@markturansky I'm afraid it still failed, but at least it failed differently. Same scenario:

[code]

Any pointers what to look for now?

[2015-05-26 20:34] #2329 closed

[2015-05-26 20:34] #2376 closed

[2015-05-26 20:34] #2400 closed

[2015-05-26 20:37] markturansky commented on #2433
https://github.com/GoogleCloudPlatform/kubernetes/pull/8688

I think this PR will fix your issue.

[2015-05-26 20:41] derekwaynecarr commented on #2499
This is tricky.

The ```default``` namespace is created in Kubernetes.

The list of ```Finalizers``` on a Namespace is immutable post-creation.

Option A: Change upstream to allow Finalizers to be mutable
1) Allow the list of Finalizers to be appended in upstream
2) Author OpenShift admission controller to ensure that if you create OpenShift resource in a Namespace, that that Namespace has OpenShi

[2015-05-26 20:50] smarterclayton commented on #2499
Can we make finalizers append / add only?

[2015-05-26 20:50] thoraxe opened #2509 "DC, RC and pods don't indicate nodeSelector"
Looking at the DC or the RC via "describe" doesn't provide any indication that a nodeSelector is
applied, and looking at a pod doesn't give any indication why it was scheduled where it was scheduled.

[code]

[2015-05-26 20:58] abhgupta commented on #2509
This was created based on discussion in an email thread and the proposed resolution was to include the node selector for al three resources in their "describe" output.

[2015-05-26 21:06] derekwaynecarr commented on #2499
I will submit a PR to do that and go Option A.

[2015-05-26 21:19] ironcladlou opened #2510 "Deployment config trigger uses very poor Pod comparison algorithm"
The deployment config triggering logic uses a very [naive comparison implementation](https://github.com/openshift/origin/blob/master/pkg/deploy/util/util.go#L94) which predates any of the upstream type-based support for semantic API object comparison. Porting the logic to use newly available libraries got lost in the shuffle. As it stands, there's at least one known bug with the current comparison

[2015-05-26 21:28] csrwng opened #2511 "DeploymentConfig ImageChange trigger should use an object reference of ImageStreamTag and not ImageStream"
Changes needed:
* Validation needs to be updated to support the ImageStreamTag format
* The deployment ImageChange controller needs to be updated to work with ImageStreamTags

[2015-05-26 21:28] csrwng commented on #2511
@ironcladlou fyi

[2015-05-26 21:30] ironcladlou commented on #2511
This one can be assigned to me. Spoke earlier with @csrwng and @ncdc and deployments should support From.Kind=ImageStreamTag *only* just as builds do.

[2015-05-26 21:36] ironcladlou commented on #2510
cc @abhgupta @pmorie

[2015-05-26 21:37] ironcladlou commented on #2510
@derekwaynecarr do you know which upstream library is most appropriate for this sort of comparison?

[2015-05-26 22:07] #1805 closed

[2015-05-26 22:51] #2388 closed

[2015-05-26 22:55] #2399 closed

[2015-05-27 02:58] pmorie commented on #2233
Found a nit that needs to be fixed in https://github.com/GoogleCloudPlatform/kubernetes/pull/8149 and self-unLGTM'd.  hopefully this will get in tomorrow.

[2015-05-27 03:12] wjiangjay commented on #2483
After this fix, when I enter some invalid name "#$%&^$%&*", the prompt message "Project anmes may only contain lower-case letters, numbers, and dashes. They may not start or end with a dash." will not come out.

[2015-05-27 03:14] liggitt commented on #2483
I think the message appears when the focus leaves the field.

[2015-05-27 03:22] wjiangjay commented on #2483
@liggitt oh, yes, you are right.

[2015-05-27 03:35] smarterclayton commented on #2481
That error seems to be coming from cAdvisor.  What does cAdvisor print for `Filesystem partitions: ...` in the logs?  It looks like it's not detecting your docker installation.

[2015-05-27 03:50] pmorie commented on #2487
Seems like it should take zero minutes @smarterclayton
On Tue, May 26, 2015 at 11:28 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-05-27 04:39] smarterclayton opened #2513 "Origin login page must be brandable to enterprise"
It's hardcoded today.

[2015-05-27 04:41] liggitt commented on #2513
OSE is carrying a patch that modifies the login page text and css. @brenton are we good for release? Can revisit post-release to make it more convenient to rebrand.

[2015-05-27 04:50] pmorie commented on #2233
Lgtm status re-acheived

[2015-05-27 07:13] #1733 closed

[2015-05-27 09:46] rhcarvalho opened #2516 "OpenShift regenerates admin.kubeconfig upon restart"
Steps:
1. start OpenShift server
2. change to an existing project "demo": `osc project demo`
3. restart the server
4. `osc project` returns `Using project "default" on server "https://10.0.2.15:8443".`

I expected the last command to return `"demo"`. If the server restarts while a client is interacting with `osc`, there's no way to know that the context for the next command has suddenly changed an

[2015-05-27 09:47] TomasTomecek commented on #2487
Okay, so this is not 100% reproducible. Right now I fired off some builds and it took 7 seconds to schedule.

[2015-05-27 11:28] TomasTomecek commented on #2348
[code]
Request was initiated at:
[code]
It failed here:
[code]

[2015-05-27 12:19] liggitt commented on #2516
The cluster admin kubeconfig (openshift.local.config/master/admin.kubeconfig) is currently regenerated when running `openshift start`. This is to ensure the kubeconfig has the correct hostname and credentials for the cluster admin.

Normal users should probably not be running from the cluster-admin's kubeconfig, though it would be nice to handle that situation better.

[2015-05-27 13:11] jimmidyson opened #2517 "Default pod manifest config dir for a node"
Right now there seems to be no default config dir for per-pod manifests (see https://github.com/openshift/origin/blob/cdd1903e0576b178669c2e83866cdf67db3b7356/pkg/cmd/server/start/node_args.go#L126).

Does making this configurable & also defaulting to something like `openshift.local.volumes` with a 1 second watch would seem reasonable?

[2015-05-27 13:16] deads2k opened #2518 "Bad cobra subcommand exits 0"
`openshift admin asdfasdf && echo $?` prints help and echo's a `0` exit code.  This is probably because of https://github.com/openshift/origin/blob/master/pkg/cmd/admin/admin.go#L39

@liggitt this makes it impossible to chain commands together.  Assign to me?

[2015-05-27 13:25] brenton commented on #2348
In your comment from a day ago were to testing by hitting the Master directly?  I'm assuming in your last comment you were going through Apache.

[2015-05-27 13:26] markturansky commented on #2413
@sosiouxme can this issue be closed?

[2015-05-27 13:30] thoraxe opened #2520 "[rfe] delay post-deployment hook until readiness check complete"
The post-deployment hook container should not be started until the first readiness check completes successfully.

[2015-05-27 13:44] TomasTomecek commented on #2481
I checked logs briefly and couldn't find any such message. Will try to restart node and master and will report again.

[2015-05-27 13:58] sosiouxme commented on #2413
Yes, looks good. Thanks!

[2015-05-27 13:58] #2413 closed

[2015-05-27 14:10] rhcarvalho opened #2523 "Web UI more/less details bug"
When there are multiple info boxes about a failure to create a project, clicking on "more details" will toggle the details visibility of both boxes instead of just the one you clicked:

![os_web_ui](https://cloud.githubusercontent.com/assets/88819/7837984/b807a912-048a-11e5-91da-3911b931c6ee.gif)

[2015-05-27 14:46] liggitt commented on #2517
I really don't want to default to enabling static pods... it should be possible, but discouraged

[2015-05-27 14:55] mnagy opened #2526 "new-app does not support insecure docker registries"
When using new-app like this:
[code]
the deployment will fail, because we have no way to specify that the registry is insecure. To fix it, one has to add an annotation:
[code]
Should we add an `--insecure` flag?

cc @csrwng @ncdc @mfojtik

[2015-05-27 14:58] jimmidyson commented on #2517
Why not? In the absence of a per-node controller as we've discussed when talking about secrets in static pods, this is the only option for certain supporting services, like fluentd logging, unless we just deploy normal docker containers which would lose the benefits of running in openshift.

[2015-05-27 15:29] derekwaynecarr commented on #2499
@smarterclayton - I have been working too much and became scatter-brained.

We need no upstream change to support this.  I will just modify the admission controller in Origin to verify that the Namespace.Spec.Finalizers list has openshift listed prior to admitting OpenShift content, if it does not, I will update the list with /finalize, and things will be fine.

[2015-05-27 15:54] smarterclayton commented on #2499
K

[2015-05-27 16:18] pmorie commented on #2233
https://github.com/GoogleCloudPlatform/kubernetes/pull/8149 is merged
https://github.com/GoogleCloudPlatform/kubernetes/pull/8582 is merged

[2015-05-27 16:30] markturansky commented on #2233
GoogleCloudPlatform/kubernetes#8688 merged
GoogleCloudPlatform/kubernetes#8732 merged

[2015-05-27 16:41] ncdc commented on #2233
Add support for pluggable Docker exec handlers: https://github.com/GoogleCloudPlatform/kubernetes/pull/8864

[2015-05-27 17:07] sspeiche opened #2529 "Web console overview not showing running build"
Steps to repeat:
  1. Create brand new project
  2. Create from source, I used https://github.com/openshift/nodejs-ex
  3. Observe in overview that build not running
  4. navigate to build page, kick off build, observe build is running
  5. return to overview, now sign of running build

Error from browser console:
[code]

[code]
  "gitVersion": "v0.17.0-441-g6b6b47a",
  "gitCommit": "6b6b47a",

/c

[2015-05-27 17:27] spadgett commented on #2529
I can reproduce. Here's the un-minified trace.

[code]

[2015-05-27 17:30] fabianofranz commented on #2409
@thesteve0 Is this issue still valid? If so can you specify what's happening when using `osc login <server>` to switch between servers?

[2015-05-27 17:34] ncdc opened #2531 "RunCmd* functions shouldn't call glog.Fatal"
RunCmd* functions shouldn't call glog.Fatal. Instead, they should return error and the caller should invoke `cmdutil.CheckErr`. See e.g. https://github.com/openshift/origin/blob/master/pkg/cmd/experimental/router/router.go#L123

[2015-05-27 17:59] TomasTomecek commented on #2348
no, I switched my setup to go to master directly; so all my comments for like 7 days are after hitting master directly

[2015-05-27 18:17] brenton commented on #2348
Thanks.  I'm finishing up another bug right now and plan to spend the rest of the day on this.

[2015-05-27 18:23] spadgett commented on #2529
This occurs when the first build for a project is started manually in the web console. The `buildConfigBuildsInProgress` map is not initialized correctly, causing a runtime error on the builds page. The error prevents the build from showing up on the builds page and also keeps the data service from invoking other watch callbacks, including overview.

[2015-05-27 18:43] derekwaynecarr commented on #2233
Stop setting contianer.Requests since not supported in 1.0 as part of LimitRanger:
https://github.com/GoogleCloudPlatform/kubernetes/pull/8875

[2015-05-27 18:49] spadgett opened #2536 "Don't show "no templates" message while templates still loading"
The Web Console shows a "no templates" message before templates have loaded. We should show a loading message while still requesting templates.

See also #2527.

[2015-05-27 19:12] sspeiche opened #2537 "Web console fails to auto-deploy app: stating an unrelated pod with the same name as this deployment is running"
I'm seeing an error and nothing ever deploys.  Here's what I see in my events log.  I'm running my "happy path" Node.js example from console.  Though I think the issue is the build pod and deploy pod have the same name.

[code]
Tried to manually deploy it using CLI
[code]
Using `osc new-app` works fine oddly enough

  "gitVersion": "v0.17.0-441-g6b6b47a",
  "gitCommit": "6b6b47a",

[2015-05-27 19:13] sosiouxme commented on #2451
AKA https://trello.com/c/3Yba4GAv/720-enable-specifying-node-selectors

[2015-05-27 19:16] sg00dwin commented on #2427
@spadgett The nowrap class on the span is the issue. If we can put each port mapping their own <span class="nowrap">... that will allow multiple mappings to stack. I assume like this.. http://pastebin.test.redhat.com/286111 ,but I don't have a way to test. If this does wrap each in their own span I can add this to my next pull request.

[2015-05-27 19:25] liggitt opened #2538 "Confusing message when removing role from user or group"
1. Create a new project `myproject`
2. Run `osadm policy remove-role-from-user edit someuser -n myproject`

The resulting error message is confusing:
[code]

The message should say something like "someuser does not have the edit role in this project"

[2015-05-27 19:32] danmcp commented on #663
@ncdc FYI

[2015-05-27 19:33] ironcladlou commented on #2537
Related to https://github.com/openshift/origin/pull/2357

[2015-05-27 19:35] ncdc commented on #663
@smarterclayton what was the SELinux issue - was each new pod getting a unique mcs label that didn't mesh with the label on the host dir?

[2015-05-27 19:38] ncdc commented on #663
@smarterclayton also, are you looking for `osadm registry` to support some flags related to volumes and claims?

[2015-05-27 19:40] markturansky commented on #663
/subscribe

[2015-05-27 19:41] #1394 closed

[2015-05-27 19:42] #1547 closed

[2015-05-27 19:42] pweil- commented on #1394
I was unable to reproduce this @smarterclayton.  If you aren't still having this issue this can be closed.

[2015-05-27 19:55] spadgett commented on #2427
@sg00dwin Your proposed fix works.

[2015-05-27 20:05] smarterclayton commented on #663
For 3.0 no.

[2015-05-27 20:09] sosiouxme opened #2540 "osadm registry --create puts it in the current project"
I'm not certain if this is a bug or feature, but I'm leaning toward bug.

If you switch projects before creating a registry with osadm registry, it goes into that project, not default.

I may be wrong, but I don't think you can actually use a registry that's in a project. If I'm wrong and builds/deploys in a project can just start using it as a registry, it's *still* very surprising and confusing

[2015-05-27 20:19] jhadvig commented on #2488
:+1: sounds good

[2015-05-27 20:25] sosiouxme opened #2541 "build-logs error is confusing when build pod is gone"
[code]

While *I* know that the real problem is that the build pod has disappeared (or in the case of "Pending", not been created yet), the relationship is not going to be immediately obvious to the user.

Could `build-logs` go on to explain that builds run in pods and if the pod is not there yet/anymore, you can't get the build logs, sorry?

[2015-05-27 20:53] liggitt commented on #2540
the registry always goes in a namespace... question is which one

[2015-05-27 20:59] ncdc commented on #2540
We expect it in `default`

[2015-05-27 21:00] liggitt commented on #2540
I don't like assuming it is in the default namespace. What depends on that?

[2015-05-27 21:00] derekwaynecarr commented on #2540
It's possible we may not have rights to ```default``` in future deployment topologies.  Prefer it to be configurable as well.

[2015-05-27 21:10] ncdc commented on #2540
@liggitt https://github.com/openshift/origin/blob/master/pkg/cmd/server/origin/master.go#L156-L161

[2015-05-27 21:27] liggitt commented on #2540
When did that go in? We shouldn't be getting that from an environment variable, that should be part of config. While were at it, so should the namespace we expect the registry service to be in, right?

[2015-05-27 21:37] #2355 closed

[2015-05-27 22:18] #2498 closed

[2015-05-27 22:36] bgrant0607 commented on #663
cc @thockin

[2015-05-27 22:45] abhgupta commented on #2233
Allowing ActiveDeadlineSeconds to be updated for a pod: https://github.com/GoogleCloudPlatform/kubernetes/pull/8890

Added UPSTREAM patch in the meantime: https://github.com/openshift/origin/pull/2546

[2015-05-27 22:50] ncdc commented on #2540
@liggitt that's been in there for a long time

[2015-05-27 23:06] smarterclayton commented on #663
This is related GoogleCloudPlatform/kubernetes#598 and https://github.com/GoogleCloudPlatform/kubernetes/issues/7562#issuecomment-97967400

[2015-05-28 00:00] #2529 closed

[2015-05-28 00:19] bparees commented on #1646
fixed with https://github.com/openshift/origin/pull/2465, close at your leisure.

[2015-05-28 00:53] #1852 closed

[2015-05-28 02:57] liggitt commented on #2479
Fixed by #2496

[2015-05-28 02:57] #2479 closed

[2015-05-28 04:15] liggitt opened #2549 "Getting namespace does not exist error on admission"
With the NamespaceExists admission controller in place, I'm seeing spurious "Namespace X does not exist" errors.

I see this when I create a namespace and immediately try to create something in it. The store used by the admission controller must not be up to date yet, so it rejects.

[2015-05-28 04:40] liggitt commented on #2361
Not sure we'll be able to fix the issue with tooltips following shifting content. An alternative fix might be to wait until the content is loaded to show the quota section at all...

[2015-05-28 05:01] cmoulliard opened #2550 "How to start/stop a pod / docker container without recreating a new one"
If, for any reasons, we have to restart a docker container created by openshift/kubernetes, the only way to achieve that is to use the `docker stop` and `docker start` cmd. The issue is that when we run a docker stop, then openshift/kubernetes will recreate a new docker container

[code]

Questions :
- Can we avoid this behavior - that a new docker container is recreated ?
- Is it planned to offer

[2015-05-28 10:32] wzheng1 commented on #2236
@csrwng Thanks! It works now!

[2015-05-28 12:13] spadgett commented on #2361
I believe the problem was `data-container="body"`, which I didn't remove when first testing the tooltip. #2543 may fix. I'll test.

[2015-05-28 12:19] spadgett commented on #2330
#2388 removes the "Please fill out this field" tooltip. #2543 changes the popup to a tooltip on the settings page. These were the two inconsistencies I knew of. I haven't changed the styling to a white background, but I don't think we should do that for 3.0. I think we can close when #2543 is merged.

[2015-05-28 13:01] pweil- commented on #2500
On my list of TODOs but not tracked.  Thanks for the issue, @brenton

[2015-05-28 13:26] ironcladlou opened #2556 "Cancelled deployments leave orphaned hook pods"
When cancelling a deployment during a hook execution, only the deployer pod is cancelled. Whatever hook pod it was executing will continue running to completion.

[2015-05-28 13:31] rhcarvalho commented on #1846
I was experimenting with this yesterday and noticed that `osc edit dc` and changing:
* number of replicas
* triggers
* pod labels

All of the above does not trigger "configChange".

However, changing ENV vars of a container does trigger "configChange".

Is it documented somewhere what fields are actually supposed to trigger the event?

[2015-05-28 13:44] ironcladlou opened #2558 "Deployment retry is broken"
Deployment retries are now broken due to deterministic deployer pod naming. When the retry command resets the deployment status to New, the deployment controller sees the existing deployer pod from the failed deployment, assumes that there's nothing to do, and transitions the deployment to Pending. Then a later reconciliation sees the previously failed deployer pod and transitions the deployment b

[2015-05-28 14:02] ironcladlou commented on #2558
cc @abhgupta

Unfortunately, I think the deterministic names invalidate the approach I took for retries. I can think of two ways to go about it now:

1. Retry deletes the existing deployer pod (and hook pods?) before resetting the deployment phase
2. Retry becomes a synonym for `--latest` and we don't re-use the deployment.

[2015-05-28 14:04] ironcladlou commented on #2556
cc @abhgupta

Hook names aren't deterministic at the moment. If we made them deterministic, we could discover the pods and also set deadlines on them.

[2015-05-28 14:04] liggitt commented on #2558
does approach 1 mean logs from the failed deployment immediately disappear?

[2015-05-28 14:05] spadgett opened #2560 "Banner doesn't fill browser width with wide events table"
I had to scroll horizontally to see the full events table. The banner filled the visible window width, but not the full width when there's a scrollbar.

![openshift_web_console_and_new_issue_ _openshift_origin](https://cloud.githubusercontent.com/assets/1167259/7861939/f4b07ba0-0520-11e5-8d3d-c10a4e731ce2.png)

/cc @liggitt @sg00dwin

[2015-05-28 14:07] liggitt commented on #2560
steve is already working on a fix for this

[2015-05-28 14:07] ironcladlou commented on #2558
@liggitt

Yeah. That's a pretty big drawback.

[2015-05-28 14:19] kargakis opened #2562 "kubectl resize renamed to kubectl scale"
https://github.com/GoogleCloudPlatform/kubernetes/pull/8596

We need to pick this up for osc

[2015-05-28 14:20] ironcladlou commented on #2429
The deployment resource was removed with https://github.com/openshift/origin/pull/2534, so this issue can be closed.

[2015-05-28 14:21] soltysh commented on #2541
The https://github.com/openshift/origin/pull/2465 was addressing this problem (meaning syncing builds and their build pods), can you please check once again with this change?

[2015-05-28 14:25] ironcladlou commented on #2558
I think at this point, rather than trying to introduce more complexity around retry, I think it might be best to just use `--latest` to start a new deployment if the last one failed. It eats a version number but behaves correctly.

@smarterclayton thoughts? I'd say either remove `--retry` (and update docs to suggest `--latest` when a retry is desired), or make `--retry` a synonym for `--latest`.

[2015-05-28 14:38] smarterclayton commented on #2558
Retry should start a new deployment.

[2015-05-28 14:39] soltysh commented on #2488
Given https://github.com/openshift/origin/pull/2552 I think we'd better leave build-log command as is.

[2015-05-28 14:41] #2429 closed

[2015-05-28 14:43] brenton commented on #2500
Yeah, with all the choas I just wanted to make sure we didn't miss this. :)

[2015-05-28 14:48] smarterclayton commented on #2488
Build log should continue to exist.  I thought this was a different issue.  Build logs provide additional semantics over pods - build logs guarantee waits prior to the pod existing.  Closing.

[2015-05-28 14:48] #2488 closed

[2015-05-28 14:52] sosiouxme commented on #2482
I suspect SkyDNS (as configured for OpenShift) is the problem here. It seems to be answering queries for things it shouldn't, acting as an open resolver which is already a problem, but beyond that it doesn't answer consistently if it's chained to more than one nameserver. So if you configure a node /etc/resolv.conf with two nameservers (one for internal components, one for "real" DNS), you'll get

[2015-05-28 14:52] #1646 closed

[2015-05-28 15:01] ncdc commented on #2482
@sosiouxme it looks like we can configure SkyDNS not to forward

[2015-05-28 15:02] smarterclayton commented on #2482
See https://github.com/skynetservices/skydns/blob/master/server/config.go

[2015-05-28 15:10] sosiouxme commented on #2482
Looking for the config file options that feed into that config...

It should really be the default to not forward requests, BTW.

[2015-05-28 15:12] ncdc commented on #2482
@sosiouxme I've tested setting `config.Nameservers = []string{}` and that stops it from forwarding. It also results in printing out this any time a DNS lookup fails: `skydns: can not forward, no name servers defined` and this anytime you look up e.g. the docker-registry service: `skydns: incomplete CNAME chain: no nameservers configured can not lookup name`. DNS resolution does work and I'm able t

[2015-05-28 15:20] sosiouxme commented on #2482
@ncdc I think for OpenShift we need some more options in https://github.com/openshift/origin/blob/master/pkg/cmd/server/origin/master.go#L773-L796 although if we just hardcode do-not-forward that would be fine (at least for now). It shouldn't spew warnings though, it's not noteworthy to respond NXDOMAIN and let the next resolver handle it...

[2015-05-28 15:22] sosiouxme commented on #2482
I think what we need is NoRec https://github.com/skynetservices/skydns/blob/master/server/config.go#L41

[2015-05-28 15:24] ncdc commented on #2482
@sosiouxme NoRec isn't in our vendored copy, but we can update.

[2015-05-28 15:32] pmorie commented on #2487
@TomasTomecek 7 seconds is on order of what I would expect.  I'll leave this open for now but let me know if it happens again.

[2015-05-28 15:36] ncdc commented on #2482
I've updated the vendored copy and enabled NoRec. It seems to be working - it responds with SERVFAIL. I do see this show up in the log every time I try to curl the docker-registry service via DNS:

[code]

Not exactly sure what that means.

[2015-05-28 15:46] #2451 closed

[2015-05-28 15:52] soltysh commented on #2487
I've spent a couple of days trying to chase the problem as part of my build optimization card, but I wasn't able to reach anything longer than a couple of seconds. @TomasTomecek if you are able to reproduce it, I'll be very interested in seeing what caused it and nail it down.

[2015-05-28 15:54] smarterclayton commented on #2482
If you update be sure to grab the upstream patch we have applied over it

[2015-05-28 16:12] abhgupta commented on #2558
Posting here since this is the original issue:

@liggitt @ironcladlou @smarterclayton If we create a new deployment, there won't be a difference between --latest and --retry any more.

Also, retries originally retried the previous deployment faithfully since the deployment config was serialized as an annotation and not affected by subsequent changes to the deployment config. If we implement option

[2015-05-28 16:18] abhgupta commented on #2558
@liggitt @ironcladlou I really don't see an issue with deleting the deployer pod for the previous failed deployment. This is a user-driven command and the user has the option to check/backup any log files before the retry command.

[2015-05-28 16:38] ironcladlou commented on #2558
@abhgupta

Good point...

[2015-05-28 16:44] pweil- commented on #2500
PR is submitted.  I've also emailed @bmeng to add the new config items to a QE test case since this is in github only (not trello or BZ).  Will make a docs pr to specify the required input (FYI, it's only `stats-password` when using osadm, the user/port will default to admin/1936)  Happy routing!

[2015-05-28 17:04] ryanj opened #2566 ""osc help get" should return a complete list of resources that support "get""
For new users that are unfamiliar with kubernetes and V3 terminology.

The current response includes:

[code]

[2015-05-28 17:06] sosiouxme commented on #2482
Well as long as the resolver moves on to the next I guess it's not important if the return code is a little funny and there is some extra spew in the log (we should probably fix the log spew though, this is not an error of any kind).

[2015-05-28 17:13] liggitt commented on #2558
Are we sure it is always user-driven? Is it expected that retrying will remove access to the previous failure?

[2015-05-28 17:13] pmorie commented on #2566
+1 to this; I've had to dig through the code to find the correct resource name before.

[2015-05-28 17:15] spadgett opened #2568 "Use server time for UI time difference calculations"
The UI uses relative time in several places:
- Showing how how long a build has been running
- Determing when to warn that a pod has been pending for a long time
- ...

Those differences are currently calculated using creation timestamps on objects and comparing with browser time. When the client or server clocks are off, times can get weird, causing problems like:
- As a pod starts, it briefly sh

[2015-05-28 17:16] liggitt commented on #2568
something in isTroubledPod?

[2015-05-28 17:45] fabianofranz commented on #2409
Fixed in master.

[2015-05-28 17:50] abhgupta commented on #2558
@liggitt A retry is always user-driven ( @ironcladlou pls confirm ). User expectation is something that can be set via docs and usage text. If not acceptable, I would suggest removing the retry option altogether.

[2015-05-28 17:54] ironcladlou commented on #2558
The only user facing way we provide to retry is via the CLI. There's no discrete API for it. So, as it stands, always user driven.

[2015-05-28 18:01] smarterclayton commented on #2558
Retry shouldn't restart a successful deployment.  That's the difference

[2015-05-28 18:04] abhgupta commented on #2558
Agreed - Retry will always retry the last deployment, provided it failed. If not, it errors and exits. However, you missed addressing the main question/concern:

Retries originally retried the previous failed deployment faithfully since the deployment config was serialized as an annotation and not affected by subsequent changes to the deployment config. If we implement option 2, we are not guarant

[2015-05-28 18:07] smarterclayton commented on #2558
How would they have changed?

[2015-05-28 18:09] liggitt commented on #2558
If I'm reading correctly, if the deployment config had changed, retry would actually revert the config back to the one it was retrying

[2015-05-28 18:11] smarterclayton commented on #2558
The intent of retry is to redeploy the most recent failed deployment if it exists.  A delta between DC and RC should be something the user needs to know about

[2015-05-28 18:12] abhgupta commented on #2558
@liggitt Retry does not revert the "config" back. It merely tries to run a deployment using the previous config/strategry/hooks.

[2015-05-28 18:13] liggitt commented on #2558
ah

[2015-05-28 18:14] abhgupta commented on #2558
Here is a sequence of events:

 - Deployment 5 started
 - DC updated without bumping up LatestVersion
 - Deployment 5 fails
 - User retries deployment 5
 - Deployment 6 is created (as part of retry) with newer config

[2015-05-28 18:15] abhgupta commented on #2558
The above assumes the implementation where retry just starts a NEW deployment.

[2015-05-28 18:15] spadgett opened #2571 "[object Object] appears in error message when build failed to start"
This happens when clicking `Start Build` fails in the browse builds page. In this case, I didn't have the right image stream tag for the build.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7867399/e17a7df6-0543-11e5-834c-1a5fec22a4b0.png)

[2015-05-28 18:18] smarterclayton commented on #2558
I think retry should use 5 as the base or warn the user and require --confirm to recreate 5, or tell the user to use --latest for 6.

[2015-05-28 18:24] ironcladlou commented on #2556
After some discussion, we decided it would be nicer to make a new label for hook pods like `openshift.io/depoy-hook.deployment=<deployment name>` for use in a pod query to find and terminate hook pods.

[2015-05-28 18:32] abhgupta commented on #2558
Great! At least we have consensus on the problem statement.
So, our options are:

1. Reset the status of the failed deployment and delete the deployer pod
 - We seem to have a dislike for this given that the pod logs will be lost
2. Create Deployment 6 (New) using DC annotation from Deployment 5 (Failed)
 - If the LatestVersion for the deployment and the DC annotation will not match (potential iss

[2015-05-28 18:36] smarterclayton commented on #2558
I'd be fine with 1 or 2, no time for 3.  1 seems simplest.

[2015-05-28 18:37] abhgupta commented on #2556
- We decided on labels since we can query on them.
 - We can recommend users to apply those labels on deployment hook pods in case they use custom deployment strategies. This would allow us to reap them in case of cancellation.
 - Initially, we've stayed away from using labels for these purposes (favoring annotations instead) since labels could conflict with service/RC selectors. However, with pre

[2015-05-28 18:43] spadgett opened #2572 "Container status errors look ugly in details sidebar"
Better to have the message than not have it, but we could present it better.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7868097/a7416876-0547-11e5-93da-e1221734360f.png)

/cc @liggitt

[2015-05-28 18:57] abhgupta commented on #2556
@smarterclayton Need a quick +1 from you on this.

[2015-05-28 19:10] danmcp commented on #1865
@csrwng Any updates?

[2015-05-28 19:14] danmcp commented on #1953
Closing due to age without prejudice.

[2015-05-28 19:14] #1953 closed

[2015-05-28 19:14] danmcp commented on #2024
@smarterclayton Any updates?

[2015-05-28 19:15] smarterclayton commented on #2024
This is being investigated in #2482

[2015-05-28 19:19] #2104 closed

[2015-05-28 19:21] danmcp commented on #2187
@mfojtik ^^

[2015-05-28 19:22] mfojtik commented on #2187
it works, thanks!

[2015-05-28 19:22] #2187 closed

[2015-05-28 19:24] jwhonce commented on #2118
@akostadinov Have you reviewed the work in [openshift-ansible](https://github.com/openshift/openshift-ansible) to see if that provides what you need?

[2015-05-28 19:26] mrunalp commented on #2071
@roldancer Did you ever see the issue again?

[2015-05-28 19:26] danmcp commented on #2211
Closing in favor of: https://bugzilla.redhat.com/show_bug.cgi?id=1213273

[2015-05-28 19:26] #2211 closed

[2015-05-28 19:29] danmcp commented on #2305
@sdodson Any updates?

[2015-05-28 19:30] sdodson commented on #2305
No, I've not looked at this recently. I'll look at it early next week.

[2015-05-28 19:34] derekwaynecarr commented on #2549
Will cherry-pick:

https://github.com/GoogleCloudPlatform/kubernetes/pull/8696

[2015-05-28 19:35] spadgett opened #2574 ""Cannot create undefined undefined" error message"
If the `details` property is missing in the error response, we show `undefined` in the UI. This was creating from a source repository in the web console.

The error itself is legitimate, but we should handle error responses with no `details` in the client.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/7869132/bf8d3a34-054e-11e5-81d2-ba1111459b7a.png)

[code]

[2015-05-28 19:35] #2409 closed

[2015-05-28 19:37] #2426 closed

[2015-05-28 19:37] spadgett commented on #2574
Related to #2313, but in a different controller.

[2015-05-28 19:38] liggitt commented on #2574
Can you do a quick sweep, and maybe see if there's something you could factor out to get details consistently?

[2015-05-28 19:41] liggitt opened #2575 "Enable strict dependency injection in web UI"
https://docs.angularjs.org/error/$injector/strictdi

Will help prevent minification errors

[2015-05-28 19:55] derekwaynecarr commented on #2366
Trailing commas used to be OK when we had different conversion logic in Kubernetes.

I wonder how many other examples in our docs have trailing commas.

[2015-05-28 20:05] csrwng commented on #1865
So the issue that @sdodson was seeing has been fixed because we are now actually doing gc in origin. Just as in Kube. So the only thing is that we need to add it to the user doc. I wouldn't say this is a release blocker.

[2015-05-28 20:23] thoraxe commented on #2482
If SkyDNS doesn't forward requests, what happens when a container asks for something that isn't in SkyDNS? eg: google.com

[2015-05-28 20:24] sdodson commented on #2482
It should move on to the next nameserver, which will be the host's nameserver[s].

[2015-05-28 20:26] thoraxe commented on #2482
Should the hosts be able to use SkyDNS for resolution? This came up in a dev list thread regarding using SkyDNS for finding the registry at the host level.

If the hosts use SkyDNS for resolution, then the "next nameserver" would again be SkyDNS, unless we configure SkyDNS to forward...

[2015-05-28 20:30] ncdc commented on #2482
@thoraxe I've tested this on my host, with this for /etc/resolv.conf:

[code]

It works fine for DNS resolution on the host. It will resolve cluster DNS entries. It will resolve non cluster DNS entries like google.com - skydns doesn't find google.com, so the host tries the next nameserver. I can't say I've specifically looked at how resolution works in the containers with this change in place.

[2015-05-28 20:33] derekwaynecarr commented on #2233
Fix latency conditions in NamespaceExists admission plugin:
https://github.com/GoogleCloudPlatform/kubernetes/pull/8696

[2015-05-28 20:33] thoraxe commented on #2482
Yeah you would have to test from inside a container launched pointing at SkyDNS as its only resolver.

My assumption is that your host tries to resolve the entry, SkyDNS rejects, and then it moves to the next resolver. Who actually answered your query for google.com? The normal DNS server?

[2015-05-28 20:33] vbatts commented on #2348
poking around to reproduce with a simplest example, and not seeing this. https://github.com/vbatts/tls-example

[2015-05-28 20:36] ncdc commented on #2482
Yes

[2015-05-28 20:37] sdodson commented on #2482
This is from within a pod, 192.168.122.90 is my master.
[code]

[2015-05-28 20:41] danmcp commented on #2463
@jacobkiers @kargakis @gravis Are you using fedora and vitualbox?  The latest images are using docker 1.6 and the openshift.service is there:

dmcphers@mcpherson:~/gocode/src/github.com/openshift/origin (master)$ vagrant up
Bringing machine 'openshiftdev' up with 'virtualbox' provider...
==> openshiftdev: Importing base box 'fedora_inst'...
==> openshiftdev: Matching MAC address for NAT networking

[2015-05-28 20:42] thoraxe commented on #2482
I guess this is a positive sign?

[2015-05-28 20:43] gravis commented on #2463
for me, the group addition solved the pb:

[code]

[2015-05-28 21:18] smarterclayton commented on #2305
Let's come back to this post 3.0.  We can live with it with no user impact.

[2015-05-28 21:34] smarterclayton commented on #2556
Why aren't hook pods deterministic?

[2015-05-28 21:35] smarterclayton commented on #2556
Why would there ever be more than one?

[2015-05-28 21:35] abhgupta commented on #1649
Fixed with https://github.com/openshift/origin/pull/2357

The deployer pod name is now deterministic and only a single deployer pod can be created for a deployment.

[2015-05-28 21:35] #1649 closed

[2015-05-28 21:36] abhgupta commented on #2254
Fixed with #2357

The deployer pod name is now deterministic and only a single deployer pod can be created for a deployment.

[2015-05-28 21:36] #2254 closed

[2015-05-28 21:44] TomasTomecek commented on #2487
I've been scheduling lots of builds lately but haven't been successful with reproducing this again. Looks like that my VM had just bad day back then. I'm in favor of closing this.

[2015-05-28 22:06] #2384 closed

[2015-05-28 22:15] #2499 closed

[2015-05-28 22:24] thoraxe opened #2579 "hello-openshift won't run with "no such file or directory""
When I try to define a pod, I get this error. Then, trying to run the image directly doesn't seem to work, either.

[code]

[code]

[code]

[2015-05-28 22:32] abhgupta commented on #2556
@smarterclayton Agree - we need to make hook pod names deterministic as well. For custom deployment strategies, the user manages the hooks and we won't be able to guarantee deterministic pod names. However, as a simple measure, we can recommend that users apply a certain label on their deployment hook pod that will allow us to identify and terminate such pod(s) if the deployment were cancelled or

[2015-05-28 22:52] #1639 closed

[2015-05-28 22:56] danmcp commented on #2463
@gravis Are you using virtualbox?

[2015-05-28 23:13] abhgupta commented on #2245
We cut a new version and built new images. We chose not to fix this.

[2015-05-28 23:13] #2245 closed

[2015-05-28 23:19] abhgupta commented on #2370
@derekwaynecarr At what point does a container that fails to start result in the pod being placed in the failed state?

[2015-05-29 00:10] smarterclayton commented on #2556
Im fine with labels as long as the things we control are deterministically named.

[2015-05-29 00:45] liggitt opened #2581 "Make registry namespace configurable"
This code assumes the registry lives in the default namespace:

[code]

The namespace (currently pinned to "default") and service name (currently pulled from env vars, defaulting to "docker-registry") for the default registry should be part of configuration

[2015-05-29 01:06] ironcladlou commented on #2556
Agree, no reason to not use deterministic naming where possible. We can use @csrwng's new utility in https://github.com/openshift/origin/pull/2552 for hook names just like with the deployer pod.

[2015-05-29 01:42] gravis commented on #2463
Nope VMware :)

[2015-05-29 01:59] sosiouxme commented on #2482
Containers don't get SkyDNS as their only resolver. Containers get the /etc/resolv.conf from the host plus SkyDNS at the top. Currently. Andy's proposing putting it at the front of the host /etc/resolv.conf too, in which case it wouldn't need inserting at all.

[2015-05-29 02:37] ironcladlou commented on #2558
https://github.com/openshift/origin/pull/2582 will provide a the support to easily identify the group of deployer and related pods to delete.

[2015-05-29 02:54] sdodson commented on #2305
Change the milestone to 1.1 then?

[2015-05-29 03:59] sosiouxme commented on #2433
@markturansky since this hasn't been rebased into origin yet, I cherry-picked it to try it out. We did the same for enterprise trying to get it into beta4.

https://github.com/sosiouxme/origin/blob/20150528-PVCs/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/volume/nfs/nfs.go

In both tests, things seemed to go well until it came time to actually create the container. Then ope

[2015-05-29 03:59] thockin commented on #663
Yes.  I am not against the idea outright, but the lifetime management is fugly.  Why not run a per-node memcache-like thing that you could access through a virtual IP but it would always choose your local-node instance, and let the lifetime management, chargeback, etc be tied to that cache daemon rather than "the node".

[2015-05-29 04:58] pmorie opened #2583 "Wanted: osc command that shows only builder images in a namespace"
I had a couple requests today for an analog for `rhc cartridge-list` -- seems like this might be a virtual resource on top of image stream that is only streams w/ the builder annotation.

[2015-05-29 05:07] pmorie opened #2584 "Wanted: show replica count / current number of pods in deployment view"
This view should show the current replica count for the deployed RC and pod count.

http://www.screencast.com/t/sIG8C83OP0

[2015-05-29 06:19] soltysh commented on #2487
:+1: on closing, if it repeats we can always reopen that.

[2015-05-29 06:21] soltysh opened #2586 "Add validation to support only single ImageChangeTrigger in builds"
Quoting @ncdc:
"We used to support multiple image change triggers, but we've removed that and simplified things so the only image stream that it's watching is the strategy's from reference. We should probably add validation that you can only have 1 image change trigger, and put in break statements appropriately in the loops."