[2018-04-19 17:17] #13869 closed

[2018-04-19 17:17] #14876 closed

[2018-04-19 17:17] #15977 closed

[2018-04-19 17:17] #15980 closed

[2018-04-19 17:17] #15978 closed

[2018-04-19 17:17] #12989 closed

[2018-04-19 17:17] #15948 closed

[2018-04-19 18:04] adietish commented on #19365
@csrwng turns out that we need the following additional flags:
* --no-g
* --no-o
* --omit-dir-times

Here's the output of what I ran, incrementally adding the above flags:
[code]
[code]
[code]

[2018-04-19 18:18] csrwng commented on #19365
@adietish so it sounds like you always want these flags to be passed, right? owners/groups are going to be different anyway inside a container vs the host system. I would think that if the flags don't need to be exposed, then that seems like a less disruptive fix.

@bparees wdyt?

[2018-04-19 18:27] adietish commented on #19365
@csrwng sounds reasonable to me, no objections.

[2018-04-19 18:47] bparees commented on #19365
@csrwng you're proposing those flags be the default behavior for oc rsync?

[2018-04-19 18:47] bparees commented on #19365
(default and not user selectable)

[2018-04-19 18:59] knobunc commented on #13638
@andreasvirkus we need to work out how we want to allow it.  https://trello.com/c/qzvlzuyx is tracking the work.  Perhaps for 3.11.

[2018-04-19 19:07] bparees commented on #19436
can't do this since it would potentially break existing users/isn't a compatible change.

i'd definitely prefer to start with this.  document the difference in behavior and move on w/ our lives.  We've exhausted enough of your time on this :(

if we get pushback on the doc, we can revisit adding the flag you propose.

for future reference, this is in relation to
https://bugzilla.redhat.com/show_bu

[2018-04-19 19:56] csrwng commented on #19365
@bparees yes

[2018-04-19 20:07] bparees commented on #19365
i guess i can convince myself that's ok.

[2018-04-19 21:56] gregswift commented on #10315
Additional use case:

I started working on a method to use `ob observe` to allow users to follow a labeling structure that facilitates self service.

One of my primary thoughts was that a user could create a namespace label request, and the script would auto remediate the request based on policy, and potentially create approval requests in an external ticketing system for anything beyond that.

So

[2018-04-20 00:06] haroldwongms opened #19440 "Metrics for OpenShift Origin 3.9 fails due to incorrect image tags"
When deploying Metrics on OpenShift Origin 3.9, I get errors that the following images are not found:
docker.io/openshift/origin-metrics-cassandra:v3.9.0
docker.io/openshift/origin-metrics-hawkular-metrics:v3.9.0
docker.io/openshift/origin-metrics-heapster:v3.9.0

I looked at docker hub and see that these images have a tag of v3.9 and not v3.9.0.

##### Version
oc v3.9.0+ba7faec-1
kubernetes v1.9.

[2018-04-20 01:14] lindao99 opened #19441 "router-3-deploy pod Error"
#### Description

when run ansible to deploy openshift v3.6.1
                                     on    centos  7.2
pod router-3-deploy status become error

ansible logs:
[code]
Run " oc get all -o wide":
[code]
and the logs of pod router-3-deploy
[code]

run "oc edit scc restricted"

[code]

[2018-04-20 04:04] Natarajan77 commented on #19237
Finally seeing the below messages.
o build github.com/openshift/origin/cmd/oc: /usr/lib/golang/pkg/tool/linux_amd64/link: signal: killed
go build github.com/openshift/origin/cmd/openshift: /usr/lib/golang/pkg/tool/linux_amd64/link: signal: killed
# github.com/openshift/origin/vendor/k8s.io/kubernetes/cmd/hyperkube
/usr/bin/ld: error: $WORK/github.com/openshift/origin/vendor/k8s.io/kubernetes/cmd/h

[2018-04-20 04:05] Natarajan77 commented on #19237
Finally i was able to get build done moving to the next steps

root@localhost origin]# make clean build
rm -rf _output
hack/build-go.sh
++ Building go targets for linux/amd64: cmd/hypershift cmd/openshift cmd/oc cmd/oadm cmd/template-service-broker vendor/k8s.io/kubernetes/cmd/hyperkube pkg/network/sdn-cni-plugin vendor/github.com/containernetworking/plugins/plugins/ipam/host-local vendor/github.c

[2018-04-20 04:15] Natarajan77 commented on #19237
https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-locally-on-your-host

[2018-04-20 04:57] sjenning opened #19443 "TestUpdateExistingNodeStatusTimeout: Expected 5 attempts, got 6"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19420/test_pull_request_origin_unit/12171/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19407/test_pull_request_origin_unit/12181/

[2018-04-20 06:53] Scisci75 commented on #19196
Hi, sorry but I think that the error was because in repository http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/  there aren't the packages for version 3.8 that are needed to upgrade  from version 3.7 to 3.9.

[2018-04-20 09:39] eivantsov commented on #14031
Is this going to be solved somehow or are there any workarounds?

[2018-04-20 11:51] cldmnky commented on #16797
The PR #19418 works fine!

And while were at it, `oc create route` doesn't allow us to set route labels. That would be nice, I'll open a separate issue for that!

[2018-04-20 12:21] cldmnky opened #19447 "oc create route cannot label routes"
We use route labels to select routers when creating routes. When using `oc create route edge` there is no option to add labels to the route being created.

##### Version
[code]
##### Steps To Reproduce
1. Create a route using `oc create route edge [options]`, try adding `-l key=value` at creation.

##### Current Result
[code]

[2018-04-20 12:29] Natarajan77 commented on #19237
[root@localhost origin]# hack/env make release

OS_ONLY_BUILD_PLATFORMS='linux/amd64' hack/build-rpms.sh
[INFO] [05:27:16+0000] Building release RPMs for /go/src/github.com/openshift/origin/origin.spec ...
Executing(%prep): /bin/sh -e /var/tmp/rpm-tmp.yGfwMy
+ umask 022
+ cd /tmp/openshift/build-rpms/rpm/BUILD
+ cd /tmp/openshift/build-rpms/rpm/BUILD
+ rm -rf origin-3.10.0
+ /usr/bin/gzip -dc /tmp

[2018-04-20 13:13] crobby opened #19449 "oc cluster up (v3.9.0) seems to timeout waiting for the API server to start listening when running on Travis-ci"
When running oc cluster up within Travis-ci, the cluster up fails seemingly due to a timeout.  Below is the end of the output where the error is thrown.  I have seen our setup on Travis-ci run correctly about 2 out of 20 runs.  For the full log of the travis-ci job with the cluster-up failing, you can go to:  https://travis-ci.org/crobby/oshinko-webui/jobs/368800182

I0419 19:11:36.089373    6754

[2018-04-20 14:57] ge0ffrey opened #19450 "Java mvn build that fails with "Generic Build failure” but no maven error should give a helpful error message"
I build a maven project on OpenShift Dedicated with S2I, but the build fails with a "Generic Build failure - check logs for details."

![](https://i.stack.imgur.com/YXqar.png)

However, **the build log shows no error**. So there is no clue what can cause this.

![](https://i.stack.imgur.com/Kx5Lg.png)

Apparently, it might be because the maven build went out of memory (although the log would show

[2018-04-20 15:07] atulrenapurkar commented on #15147
Hi
I am also facing same issue. But what I need to do for fixing same issue . I am installing 3.7.2.

Thanks in advance.
Atul

[2018-04-20 16:18] gbraad commented on #19360
@praveenkumar can we check this now?

[2018-04-20 16:38] ahmadou opened #19451 "Gluster-block command not found in glusterfs pods"
[provide a description of the issue]

I want to be able to create pvc on a glusterfs block storage.
I followed this tutorial to add a glusterblock storage class

https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/container-native_storage_for_openshift_container_platform/block_storage.

I'm able to create the storageclass but the pvc then cannot be created.

##### Versio

[2018-04-20 16:41] sjenning commented on #19443
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16004/test_pull_request_origin_unit/12252/

[2018-04-20 17:01] #19422 closed

[2018-04-20 17:05] gkarthiks commented on #19399
@mfojtik  I followed this to delete my ns. [delete namespace](https://github.com/gkarthiks/quick-commands-cheat-sheet/blob/master/force-delete-kubernetes-namespace.md) and is deleted successfully.

[2018-04-20 17:05] #19399 closed

[2018-04-20 17:27] jeremyeder opened #19454 "Add logging-rate and flow detection to cluster-config-mirror"
We need to incorporate a logging rate to the cluster-config-mirror.

* Quantity of pods
* Rate of log lines per pod
* Histogram of logging rates per pod
* Length (bytes) of log lines

Cluster-loader must then be extended to support these inputs.

@sjug @mffiedler @portante @tkatarki @richm @jcantrill

[2018-04-20 17:42] richm commented on #19454
something like this?  https://github.com/ViaQ/logging-load-driver

[2018-04-20 18:11] jeremyeder commented on #19454
No, we have load generators, what we don't have is a way to build a "load profile" from an existing cluster and build test scenarios to replay that load.

[2018-04-20 18:29] stevekuznetsov commented on #17897
/close

[2018-04-20 18:29] #17897 closed

[2018-04-20 20:05] stevekuznetsov opened #19459 "How does a user see that an SA is missing for a pod started by a DeploymentConfig?"
I wrote a DC spec that referenced a nonexistent SA. I saw that the DC was not rolling out but could not get any information on why until I went to the UI and saw the event:

<details>
<summary><code>oc describe dc $name</code></summary>

[code]

</details>

<details>
<summary><code>oc describe pod $name-deploy</code></summary>

[code]

</details>

<details>
<summary><code>oc logs dc $name</code></

[2018-04-20 20:06] stevekuznetsov commented on #19459
FWIW the actual pod created by the RC was not visible in `oc get pods` -- maybe it stuck around only for a tiny bit?

[2018-04-20 21:26] abhgupta commented on #14583
/remove-lifecycle rotten

[2018-04-20 21:30] jmontleon opened #19461 "oc cluster up does not work when specifying --image"
oc cluster up does not work when specifying --image

##### Version
 oc version
oc v3.10.0-alpha.0+5f7eae1-812
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO
Unable to connect to the server: x509: certificate signed by unknown authority

##### Steps To Reproduce
1. oc cluster up --image=docker.io/openshift/origin-control-plane --tag=latest

##### Current Result
oc cluster up

[2018-04-20 21:32] fortinj66 opened #19462 "Template in openshift namespace show up twice when Template Service Broker installed"
Template show up twice when Template Service Broker installed

##### Version
oc version
oc v3.7.1+c2ce2c0-1
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
Install Origin 3.7 with Service Catalog and default templates installed

##### Current Result
Templates installed in openshift namespace show up twice in UI

##### Expected Result
Templates sho

[2018-04-21 05:33] #19443 closed

[2018-04-21 10:37] #19142 closed

[2018-04-21 11:24] #6782 closed

[2018-04-21 11:24] #16373 closed

[2018-04-21 11:24] #16410 closed

[2018-04-21 12:57] #17460 closed

[2018-04-21 15:04] bevinhex commented on #13411
about openshift-acme, it is working great for routes, not sure how to configure it for console as well, any ideas?

[2018-04-21 15:25] membrive commented on #18449
I can confirm the same issue. I can get the image metadata from `docker.io` but when I create the application, OpenShift can't pull the image: `Failed to pull image "membrive/test-image:latest": rpc error: code = Unknown desc = repository docker.io/membrive/test-image not found: does not exist or no pull access`.

[2018-04-21 16:12] pmorie opened #19464 "We should test that the console and service-catalog work correctly together when installed by oc cluster add"
I found a bug where the service-catalog did not work correctly with the console when they were both installed by oc cluster add (see https://github.com/openshift/origin/pull/19460 for fix). We should have a test in the service-catalog job that establishes that the console correctly shows serviceclasses/plans.

##### Version

master

##### Steps To Reproduce
1. create a cluster with `oc cluster up`

[2018-04-21 16:12] pmorie commented on #19464
@luksa are you interested in this at all?

[2018-04-21 16:49] bdaw commented on #19237
@soltysh sorry for late reply - no extra env like this present on CentOS

Actually after giving up for over a week and trying fresh today latest master now builds fine with original instructions from contributors guide for me (https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-locally-on-your-host)

Tested on fresh F27 installation today.

[2018-04-21 17:25] #16400 closed

[2018-04-21 17:25] #16342 closed

[2018-04-21 17:25] #16364 closed

[2018-04-21 17:25] #14962 closed

[2018-04-21 17:25] #15711 closed

[2018-04-21 17:25] #15290 closed

[2018-04-21 17:25] #16346 closed

[2018-04-21 17:25] #16433 closed

[2018-04-21 17:46] bparees commented on #18449
@feedm3 @mxxk @membrive if your pod can't pull the image you have not setup your service account secrets properly.  that is unrelated to imagestreams.

if you'd like help w/ that issue, please open a new issue and describe how you've created your secret and pod, preferably w/o imagestreams just to keep the configuration simple (just a pod referencing the docker hub image directly).

[2018-04-21 23:26] #14518 closed

[2018-04-21 23:26] #15280 closed

[2018-04-21 23:26] #16473 closed

[2018-04-21 23:26] #16530 closed

[2018-04-22 05:27] #4021 closed

[2018-04-22 05:27] #16574 closed

[2018-04-22 05:27] #3554 closed

[2018-04-22 05:28] luksa commented on #19464
@pmorie Sure, why not.

[2018-04-22 06:33] mandibuswell commented on #18408
I have this issue my versions are
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v3.9.14
kubernetes v1.9.1+a0ce1bc657

[2018-04-22 11:27] #5757 closed

[2018-04-22 11:27] #7316 closed

[2018-04-22 11:27] #10570 closed

[2018-04-22 11:27] #11019 closed

[2018-04-22 11:27] #13414 closed

[2018-04-22 11:27] #14514 closed

[2018-04-22 17:27] #14995 closed

[2018-04-22 17:27] #14619 closed

[2018-04-22 17:27] #16610 closed

[2018-04-22 17:27] #16460 closed

[2018-04-22 17:27] #16642 closed

[2018-04-22 17:28] mjudeikis opened #19466 "ovs and docker does not clean interfaces"
##### Version
[code]
##### Steps To Reproduce
1. install 3.9 containerized on rhel
2. create pod with rolling failure forever.
3. Check ip a on nodes where it gets cheduler

##### Current Result

`veth` ovs interfaces stays forever until we exceed open file limit.

##### Expected Result
`veth` ovs interfaces should be rotated and lifecycle.

##### Additional Information
Logs on the node:
[code]

p

[2018-04-22 17:30] mjudeikis commented on #19466
ping @openshift/networking @openshift-docker
Any ideas?

[2018-04-22 17:39] mjudeikis commented on #19466
network plugin `os_sdn_network_plugin_name='redhat/openshift-ovs-networkpolicy'` and same with downgraded docker to `1.12.1`

[2018-04-22 23:28] #16370 closed

[2018-04-22 23:28] #16628 closed

[2018-04-22 23:28] #16668 closed

[2018-04-22 23:28] #14681 closed

[2018-04-22 23:28] #16504 closed

[2018-04-23 05:28] #16632 closed

[2018-04-23 05:28] #1975 closed

[2018-04-23 05:28] #8174 closed

[2018-04-23 05:28] #11169 closed

[2018-04-23 05:28] #11255 closed

[2018-04-23 05:28] #11208 closed

[2018-04-23 05:51] nak3 commented on #19351
Yes, [bz#1541350#c3](https://bugzilla.redhat.com/show_bug.cgi?id=1541350#c3) would be the workaround, if serviceinstance caused the isssue.

However, it is interesting for me that you hit the issue on v3.9. As per bz#1541350 (c#8, c#11), the issue was considered as solved on 3.9.

[2018-04-23 07:54] mfojtik commented on #19461
This is being fixed here: https://github.com/openshift/origin/pull/19339 i'm going to make that PR mergeable today.

/cc @deads2k
/assign @mfojtik

[2018-04-23 07:57] mfojtik commented on #19461
@jmontleon maybe you misunderstood the flag, the flag is to set a 'format' for the images to use, like:

[code]

This allows you to override the default repository and use your set of images if needed, or use a registry different than DockerHub. (this is not yet working).

[2018-04-23 09:46] mipam007 opened #19469 "Cannot create security context constraints "anyuid". securitycontextconstraints.security.openshift.io "anyuid" already exists."
updating security context constraints "anyuid" in project via application template failed with error:

Cannot create security context constraints "anyuid". securitycontextconstraints.security.openshift.io "anyuid" already exists.

##### Version

[code]

[code]
##### Steps To Reproduce
1. In project click to add project button
2. and selecting json template

[code]

##### Current Result
receiving e

[2018-04-23 11:15] fisache commented on #19402
Oops.. I was mistaken between quota and limit range.

[2018-04-23 11:15] #19402 closed

[2018-04-23 11:28] #13156 closed

[2018-04-23 11:28] #6282 closed

[2018-04-23 11:28] #14736 closed

[2018-04-23 11:28] #16743 closed

[2018-04-23 12:36] jmontleon commented on #19461
@mfojtik Thanks. We had been successfully using it just set to docker.io/openshift/origin (or set to our internal registry where we've sync'd the openshift+our images) up until about a week ago. Regardless I'll start setting it as you described.

[2018-04-23 13:34] spadgett commented on #19143
Best I can tell, this is a networking issue accessing the service. @knobunc who can help me debug?

/assign @knobunc

[2018-04-23 13:49] eparis commented on #19466
using github issues will never get you the response times you want. please use bugzilla. file in the openshift container platform product under the networking component. In that BZ please include the atomic-origin-node logs.

[2018-04-23 13:59] jwforres commented on #19469
Are you trying to update the anyuid SCC or do you want to create a new SCC object? Your error message is that you are creating an SCC that already exists.

If you want to create a new one then you should parameterize the metadata.name of the resource, that is generally a good rule to follow for Templates or you'll just get errors when you re-create it in the same project.

If you want to update an

[2018-04-23 14:14] mipam007 commented on #19469
Hi, thank you for answer! I am trying to update template. My goal is to create template which cloudform could use for deploying application. Your proposal is good but means some additional steps. I have to think about it again :)

Thank you very much
Jindra
23. 4. 2018 v 16:00, Jessica Forrester <notifications@github.com>:

[2018-04-23 15:14] bparees commented on #19469
i think @jwforres covered all the suggestions/comments i'd have.

also note that in general using templates to update cluster scoped resources has some issues and i'd encourage you to avoid it.  Such templates won't work well(if at all) when instantiated via the TemplateInstanceController or the TemplateServiceBroker.

[2018-04-23 15:14] #19469 closed

[2018-04-23 15:26] jwforres commented on #19459
If only we had a backend graph API that could detect missing nodes it sure would make problems like this easier to detect.... just sayin...

[2018-04-23 15:29] jwforres commented on #19451
@openshift/sig-storage

[2018-04-23 15:42] fortinj66 commented on #19462
Hi Jessica,

The cluster was installed/upgraded with openshift-ansible and the Service Catalog, ASB, and TSB installed with ansible after the cluster was installed.  There were several issues with ASB which led to the Service Catalog and other components being removed and reinstalled several times.

I have also created a new 3.7 cluster using openshift-ansible with the same result.

What portion o

[2018-04-23 16:35] spadgett commented on #19462
Please make sure the following file exists:

[code]

With this content:

[code]

It must also be set as an extension in master-config.yaml:

[code]

I believe there is an installer bug where the extension doesn't always get set up properly, although that's been fixed indirectly in 3.9 since the extension is no longer needed.

[2018-04-23 16:57] fortinj66 commented on #19462
@spadgett

Thanks!!  That did the trick!

--John

[2018-04-23 16:58] #19462 closed

[2018-04-23 17:12] ServerNinja opened #19474 "504 Gateway Timeout on some static assets"
We have a pod that runs a few containers (1 for rails/unicorn and 1 for nginx). Assets are precompiled during the docker image build. When the pod starts up, the rails/unicorn container copies assets to a shared-volume that the nginx container has access to. Both containers run under a limited user context. All assets have same permissions and ownership (same user nginx runs as in the container)

[2018-04-23 17:29] #16708 closed

[2018-04-23 17:29] #16712 closed

[2018-04-23 17:29] #15750 closed

[2018-04-23 17:29] #16427 closed

[2018-04-23 17:29] #14022 closed

[2018-04-23 17:29] #6914 closed

[2018-04-23 19:17] bparees commented on #19431
pretty sure that is never a problem.  once the api exists, people you granted permission to will be able to use it.

Anyway I think https://github.com/openshift/origin/pull/19396 will also address this issue from a resource serialization perspective.

There is still an open question about how the templateinstance SA should be granted permission to create these resources..for now, that's not really

[2018-04-23 19:53] pmorie opened #19477 "cluster up docs should have a prerequisite around disk space"
The docs currently at https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#prerequisites

There's no mention of free disk space, and I've seen this torpedo a number of `oc cluster up` users - they try to run oc cluster up on a system where `/` is 95% full and it doesn't work. We should have a note about this in the doc.

##### Version
master

[2018-04-23 22:18] akostadinov commented on #12414
I'll plug here my blog about creating a suitable ssh image for running within OpenShift unprivileged:
https://rboci.blogspot.bg/2016/06/creating-docker-images-suitable-for.html

I believe it is still valid.

[2018-04-23 23:23] ustm opened #19478 "Pods fail to start after server reboot"
I use origin 3.7, both master and node on the same server.
After server reboot all pods fail to start with following errors in origin-node logs.
The only way I found is to reset and recreate docker storage. Is there a way to avoid/fix this bug?
[code]
##### Version
openshift v3.7.1+282e43f-42
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### Steps To Reproduce
1. just reboot

##### Current Result

##

[2018-04-23 23:29] #15637 closed

[2018-04-23 23:29] #15950 closed

[2018-04-23 23:29] #16168 closed

[2018-04-23 23:29] #13651 closed

[2018-04-23 23:29] #13708 closed

[2018-04-23 23:29] #15988 closed

[2018-04-23 23:29] #11837 closed

[2018-04-23 23:47] djohnston89 opened #19479 "oc apply on dc patch fails after creation with new-app"
Patching deployment config fails after creation by new-app. (https://github.com/openshift/jenkins-client-plugin/issues/149)

##### Version
I'm using OpenShift DSL Jenkins pipeline plugin (https://github.com/openshift/jenkins-client-plugin) for OpenShift Jenkins v3.9 and the issue was recreated by @gabemontero with the oc cli.

##### Steps To Reproduce
https://github.com/openshift/jenkins-client-pl

[2018-04-24 00:10] gabemontero commented on #19479
Actually I figured this one out ... continuing the discussion in https://github.com/openshift/jenkins-client-plugin/issues/149

[2018-04-24 00:10] #19479 closed

[2018-04-24 05:29] #16835 closed

[2018-04-24 05:29] #16131 closed

[2018-04-24 05:29] #16881 closed

[2018-04-24 05:29] #3743 closed

[2018-04-24 05:29] #14580 closed

[2018-04-24 06:07] fajnatakibana opened #19480 "Openshift Origin 3.9 - Ansible - WebConsole"
I do successful ansible installation of openshift 3.9, but WebConsole not working and i guess not exist.

##### Version

oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server: ***
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce

1. Install WebConsole from playbook

`INSTALLER STATUS ***********************************

[2018-04-24 07:09] jsafrane commented on #15647
/reopen
/remove-lifecycle rotten
/lifecycle frozen

It takes a long time, however we're fixing this.

[2018-04-24 08:21] chmouel opened #19481 "Jenkins Build and completionDeadlineSeconds is not working"
[provide a description of the issue]

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

##### Steps To Reproduce
1. create a BuildConfig of type JenkinsPipeline
2. Add option `completionDeadlineSeconds: 60` to the spec.

##### Current Result

Nothing, openshift is not taking this into account, like done for example on docker based build :

https://github.com/opensh

[2018-04-24 08:26] HP-dufeng opened #19482 "Peer's certificate issuer has been marked as not trusted by the user"
#### Description
when start build , occurs errors:
[code]

I after set GIT_SSL_NO_VERIFY = false, then occurs errors:
[code]
##### Version
openshift-origin: v3.9

[2018-04-24 09:46] rakk opened #19483 "oc start-build and pass ImageStreamTag version"
##### Version
oc v3.6.173.0.96
kubernetes v.16.1+5115d708d7
features: Basic-Auth

#####  Question

Problem to solve:
Create pipeline, which will create docker image in specific version (including Jenkins build number, eg. 1.0.1-117). Then it will deploy it to integration environment and then push docker image to external registry (as version 1.0.1-117).

How to pass current version (eg. 1.0.1-117)

[2018-04-24 10:19] praveenkumar opened #19484 "oc cluster up error message doesn't provide much info about timeout failure."
##### Version
[code]

##### Steps To Reproduce
1. Create a remote VM or use minishift (1.16.0) to create one.
[code]
2. export the docker connection env.

[code]

3. Run oc cluster up on the remote docker daemon.

[code]

4. Do the cluster down and also delete the VM

[code]

5. Repeat steps 1-3 and this time your VM will get different IP but since you are using `--base-dir` flag it will try again

[2018-04-24 10:36] gbraad commented on #19484
So, actually the changed IP problem has been amplified... as in this case if it is recorded in a configuration that will be re-used. This is risky, as at the moment there is no way to change the IP address for the certificates.

In #13112 a fix was added to at least bind on a default IP (or local adapter)

The issue was originally caused by: https://github.com/openshift/origin/blob/master/pkg/oc/b

[2018-04-24 11:30] #15900 closed

[2018-04-24 11:30] #16757 closed

[2018-04-24 11:30] #16937 closed

[2018-04-24 11:30] #16972 closed

[2018-04-24 11:30] #16959 closed

[2018-04-24 13:15] praveenkumar opened #19486 "oc cluster down leave hypershift process running when using docker for mac"
##### Version

[code]

##### Steps To Reproduce
1. Do oc cluster up on `docker for mac`

[code]
2.  oc cluster down

[code]

3. Again do cluster up

[code]

4. Login to docker for mac VM and check the process.

[code]
##### Current Result
Error to start oc cluster up again once you do the cluster down seamlessly.

##### Expected Result
There should not be any error and cluster down should have cle

[2018-04-24 13:28] rassie opened #19487 "CentOS PaaS RPM packages for 3.8.0 have not propagated from testing to production repository"
http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/ is currently missing `origin-3.8` packages, which is required for upgrades from 3.7 to 3.9. The error message is:

[code]
NB: `origin-3.9` packages are available, only the "temporary" 3.8 packages are missing.

[2018-04-24 13:34] soltysh commented on #19237
Apparently a combination of master + state of Centos :wink:

[2018-04-24 14:32] rareddy commented on #17738
@bparees This issue is along with #17230 getting to be cumbersome to provide further solutions to enhance the consumption of database properties in platfoms like RHOAR. The issues are
* URI is not usable (in the case of Postgres it is wrong) in any of sources it is defined. It can be kept as is provided below is corrected.
* Service name can not be found from bound properties in credentials, thus

[2018-04-24 15:06] suomiy opened #19488 "Openshift 3.9.0 does not work on docker 18.04"
Openshift does not work and containers do not start. Docker 18.03 works fine

[code]

##### Version

oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

[code]

##### Steps To Reproduce
1. oc cluster up

##### Additional Information

[code]

[2018-04-24 16:42] jnach commented on #18115
Wondering if there is a roadmap yet for azure integration in the inventory? We've solved with a post-install scripting but it adds a significant amount of time and won't be supported beyond the scope of the engagement.

[2018-04-24 16:46] mjudeikis commented on #19466
https://skydive-project.github.io/skydive/getting-started/kubernetes/ DS was keeping interfaces "busy" and they were not cleaned :/  no logs or any info in those around this.

[2018-04-24 16:46] #19466 closed

[2018-04-24 17:14] rthallisey commented on #19431
@bparees What permission(s) would I need to grant and to what service account(s)? templateservicebroker-client?

In parallel to this work, I'm looking at aggregated roles that @enj suggested. The application we're deploying is KubeVirt and it runs as a 'system apb', so it already has cluster-admin. Perhaps I could add the TSB permissions into that APBs provision?  That's also where I'm looking to

[2018-04-24 17:31] #16086 closed

[2018-04-24 17:31] #16300 closed

[2018-04-24 17:31] #16999 closed

[2018-04-24 17:34] bparees commented on #19431
for testing purposes you can just run
[code]

if you want to get more narrow than that, you'd have to grant cluster permissions to that SA to create CRDs or whatever other resources you want it to be able to create, but that's the SA in question.

[2018-04-24 17:44] bparees commented on #9730
/lifecycle frozen
/remove-lifecycle stale

[2018-04-24 18:04] rthallisey commented on #19431
Just to clarify, this would be testing with #19396 and adding the permissions? @bparees

[2018-04-24 18:07] bparees commented on #19431
yeah.

[2018-04-24 20:48] sbuvaneshkumar opened #19495 "Feature Request: Rename an application with oc command"
Sometimes I need to rename the application that I've created earlier using `oc new-app --name=foo...`.
It's quite a bit time-consuming task to redeploy the application with the desired name.
The other way is to change the definition of service, route, deployconfig etc files just to rename the application.

It would be great if we have a command line option in oc to rename the application.
Somethin

[2018-04-24 21:57] smarterclayton opened #19497 "Too many events about mount volume success"
![events](https://www.dropbox.com/s/r0qyz87geaik70m/Screenshot%202018-04-24%2017.55.11.png?raw=1)

Almost all real containers have multiple mounts, and so the amount of mount volume events drown out all the others.  I'm not sure I need these mount volume events.  Certainly if mount fails I would like them, but for any of the normal volumes succeeding (secrets, config map, empty dir) it seems a bit

[2018-04-24 23:32] #15803 closed

[2018-04-24 23:32] #6331 closed

[2018-04-24 23:32] #17005 closed

[2018-04-24 23:32] #12626 closed

[2018-04-24 23:32] #13975 closed

[2018-04-24 23:32] #17022 closed

[2018-04-24 23:32] #11721 closed

[2018-04-24 23:32] #12355 closed

[2018-04-25 01:54] pennpeng commented on #19488
just support  redhat docker 1.13.1

[2018-04-25 01:58] pennpeng commented on #19480
you shoud make the master node openshift_schedulable=true, because the webconsole pod would be run on master node。

[2018-04-25 02:11] pennpeng commented on #19440
```-e openshift_metrics_image_version=v3.9```  will be ok

[2018-04-25 03:38] bparees opened #19500 "github.com/openshift/origin/test/cmd/quota/clusterquota test/cmd/quota.sh:22: executing 'oc get secrets --all-namespaces; oc get appliedclusterresourcequota/for-deads -n quota-foo --as deads -o jsonpath=used={.status.total.used.secrets}' expecting any result and text 'used=9'; re-trying every 0.2s until completion or 60.000s 59s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19499/test_pull_request_origin_cmd/12939/

[code]

[2018-04-25 03:40] bparees commented on #19500
/cc @liggitt @deads2k
wasn't there hope this was fixed recently?

[2018-04-25 03:52] liggitt commented on #19500
Yeah, the last flake was failing on 25% of runs. This appears to be different

[2018-04-25 04:11] marouim commented on #6914
/reopen

Here is my use case:
Front-end application running in a POD.
Back-end running in a différent POD.

Route are:
myapp.example.com/  -->  Front-end
myapp.example.com/api --> Back-end

I would like to be able to rewrite the path and remove the "/api" portion, so the Backend would not see this path. Otherwise, I have to tell evey backend developer to add a "/api" or something else prefix to th

[2018-04-25 04:11] marouim commented on #6914
/reopen

[2018-04-25 04:13] marouim opened #19501 "Openshift route path rewrite"
Hello,

Here is my use case:
Front-end application running in a POD.
Back-end running in a différent POD.

Route are:
myapp.example.com/ --> Front-end
myapp.example.com/api --> Back-end

I would like to be able to rewrite the path and remove the "/api" portion, so the Backend would not see this path. Otherwise, I have to tell evey backend developer to add a "/api" or something else prefix to their

[2018-04-25 05:33] #16298 closed

[2018-04-25 05:33] #16301 closed

[2018-04-25 05:33] #16946 closed

[2018-04-25 05:33] #17024 closed

[2018-04-25 05:33] #10825 closed

[2018-04-25 05:33] #17069 closed

[2018-04-25 06:06] fajnatakibana commented on #19480
@pennpeng , In v3.9 master are schedulable by default, to be sure i did the command for making schedulable, and this not take any effect on webconsole :(

[2018-04-25 07:12] tnozicka commented on #18406
Both backports are merged now.

[2018-04-25 07:12] #18406 closed

[2018-04-25 07:14] tnozicka commented on #18315
no flake report for 2+ months

[2018-04-25 07:14] #18315 closed

[2018-04-25 07:50] praveenkumar commented on #19484
CC @mfojtik @smarterclayton

[2018-04-25 07:51] praveenkumar commented on #19486
cc @mfojtik

[2018-04-25 08:10] eoftedal commented on #18914
The current state seems to be contradictory to the Openshift documentation. On https://docs.openshift.com/container-platform/3.7/dev_guide/deployments/advanced_deployment_strategies.html we can read:

However Openshift will continue to send requests to the pod for some seconds after sending it SIGTERM, and these requests will fail if we stop accepting connections.

[2018-04-25 08:36] patlachance commented on #8176
@anandbaskaran if command provided by @ncdc still hangs, you can try forcing it with --force. It gives:
oc delete pod/<name of pod> --grace-period=0 --force

[2018-04-25 09:21] luxiangqing opened #19503 "openshift Jenkins pipeline build faild at sti build stage"
[provide a description of the issue]
I use the openshift jenkins pipeline for source code build and image deploy,but sometimes there are errors at jenkins build logs,but it is normal after rescheduling the build task.this error is accidental, i tried to solve this problem, but did not succeed

The partial jenkins build logs:
[Pipeline] sh
[cicd-ilifesoa-test] Running shell script
+ rm -rf oc-build

[2018-04-25 11:34] #16402 closed

[2018-04-25 11:34] #16955 closed

[2018-04-25 11:34] #16498 closed

[2018-04-25 11:34] #17122 closed

[2018-04-25 11:34] #17154 closed

[2018-04-25 11:34] #17156 closed

[2018-04-25 12:02] mfojtik commented on #19486
yeah, I know about this (have to restart docker everytime this happen....)... No idea why the hypershift keeps running when the "docker ps -a" shows nothing to me...

[2018-04-25 12:25] vrutkovs opened #19505 "Flake: [Conformance][templates] templateinstance readiness test should report ready soon after all annotated objects are ready [Suite:openshift/conformance/parallel]"
See https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/8115/test_pull_request_openshift_ansible_extended_conformance_gce/3380/:

[code]

Previous issues: #16702, #16672

[2018-04-25 12:42] sdodson commented on #19505
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/8122/test_pull_request_openshift_ansible_extended_conformance_gce/3378/

[2018-04-25 13:51] mfojtik commented on #19486
Reported in Docker4Mac: https://github.com/docker/for-mac/issues/2844

This is not OpenShift issue, but Docker4Mac bug.

[2018-04-25 13:54] priyanka5 opened #19506 "1 ExistingPodsAntiAffinityRulesNotMatch, 1 MatchInterPodAffinity, 2 CheckServiceAffinity"
I get this error in events - 0/3 nodes are available: 1 ExistingPodsAntiAffinityRulesNotMatch, 1 MatchInterPodAffinity, 2 CheckServiceAffinity

has anyone ever seen this error , pods are stuck in pending state, and I see this in events. Can anyone help me explaining what this means?

[2018-04-25 13:56] mfojtik commented on #19486
as a workaround you can use `/containers/services/docker-ce/lower/usr/local/bin/docker kill` inside the nsenter to kill the containers... I'm really against to running this inside `oc cluster down`.

[2018-04-25 14:09] soltysh commented on #19237
Interesting, my VM has only 2 cpus, but 8gb of ram.

[2018-04-25 15:32] jsacapdev opened #19511 "Deployment using ARM template with Azure CLI fails"
Deploying an origin cluster using an ARM template as described in https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-origin fails.

Whats strange is that this has worked once, but all subsequent attempts fails with an error, see below.

##### Version
n/a

##### Steps To Reproduce
1. Complete prerequisites as described in https://docs.microsoft.com/en-us/azure/virtual-machines/

[2018-04-25 15:46] eoftedal commented on #18914
The current behaviour is quite weird:
"Dear pod, please die. Also please handle these requests"
The service should remove the pod from the LB before signalling TERM.

[2018-04-25 16:45] coreydaley opened #19513 "Operation cannot be fulfilled on namespaces (extended image ecosystem tests failure)"
"Operation cannot be fulfilled on namespaces "<namespace>": The system is ensuring all content is removed from this namespace.  Upon completion, this namespace will automatically be purged by the system.

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/458/

[2018-04-25 16:46] bparees commented on #19513
@coreydaley you may need to pull in the master team, but since we're only seeing this on our pipeline test, for now i'm going to assume it's something specific we are doing in that test.

[2018-04-25 17:30] otmanel31 commented on #19143
I have same error as @wozniakjan when installing OC using openshift-ansible installer and more precisely **3.9 release**:
`TASK [openshift_web_console : Verify that the web console is running] ******************************************************************************************************
Wednesday 25 April 2018  16:15:07 +0200 (0:00:00.041)       0:40:48.394 *******
FAILED - RETRYING: Verif

[2018-04-25 17:35] #16771 closed

[2018-04-25 17:35] #16816 closed

[2018-04-25 17:35] #14742 closed

[2018-04-25 17:35] #17065 closed

[2018-04-25 17:35] #15097 closed

[2018-04-25 17:35] #17162 closed

[2018-04-25 17:35] #17187 closed

[2018-04-25 17:35] #17194 closed

[2018-04-25 17:35] #17206 closed

[2018-04-25 17:45] otmanel31 commented on #19143
Full logs:
`FAILED
RETRYING: Verify that the web console is running (1 retries left).
fatal: [xxxxxxcom]: FAILED! => {"attempts": 60, "changed": false, "cmd": ["curl", "-k", "https://webconsole.openshift-web-console.svc/healthz"], "delta": "0:00:00.065267", "end": "2018-04-25 19:26:16.214900", "msg": "non-zero return code", "rc": 6, "start": "2018-04-25 19:26:16.149633", "stderr": "  % Total    %

[2018-04-25 18:25] jwforres commented on #19255
@openshift/sig-pod

[2018-04-25 18:35] bparees commented on #17650
if cluster up tests are still exercising the TSB, it's probably still valid.

if cluster up tests are restricted to core cluster up functionality then it's not.

[2018-04-25 18:37] #8289 closed

[2018-04-25 18:39] bparees commented on #17230
this template is now owned by the SCL team and lives here:
https://github.com/sclorg/postgresql-container/blob/master/examples

/close

[2018-04-25 18:47] jwforres commented on #19290
@openshift/sig-master

[2018-04-25 18:55] jwforres commented on #19309
@openshift/sig-developer-experience

[2018-04-25 19:05] sdodson commented on #19294
There's a lot going on here. The packages that were updated to 3.7.42 are completely independent binaries with no versioned dependencies or often dependencies of any sort on the base packages.

Additionally, all of those packages that were updated to 3.7.42 only exist so that they can be embedded in images. They should never actually be installed on a host.

I'm not sure what the right thing to do

[2018-04-25 19:08] jwforres commented on #19267
@mfojtik sounds like this issue stems from folks using docker for mac

[2018-04-25 19:12] jwforres commented on #19342
What system are you running oc cluster up on? Fedora / Mac?

[2018-04-25 19:13] jwforres commented on #19351
@openshift/sig-ansible-service-broker

[2018-04-25 19:14] gabemontero opened #19516 "The HAProxy router should expose prometheus metrics for a route Expected <float64>: 10 to be >= <float64>: 20"
Seen https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19496/test_pull_request_origin_extended_conformance_gce/19606/#conformanceareanetworkingfeaturerouter-the-haproxy-router-should-expose-prometheus-metrics-for-a-route-suiteopenshiftconformanceparallel

Seems different than https://github.com/openshift/origin/issues/17731

[2018-04-25 20:05] tibers commented on #19143
OK I've tried this 10 different ways and I can consistently duplicate the problem. Fire up that terraform and do this:

main.tf:
[code]

openshift.tf - make the appropriate substitutions for your VPC:
[code]

Shell into the provisioner box and run `ansible-playbook -i /var/provisioner /openshift-ansible/playbooks/deploy_cluster.yml` or check `/var/provisioner/provisioner.log`.

Unless I am doing s

[2018-04-25 23:36] #17139 closed

[2018-04-25 23:36] #17164 closed

[2018-04-25 23:36] #10960 closed

[2018-04-25 23:36] #17157 closed

[2018-04-25 23:36] #17231 closed

[2018-04-26 01:55] mlbiam opened #19519 "Can't mount flexdriver in origin 3.9"
I'm trying to deploy a cifs flex volume (https://github.com/andyzhangx/kubernetes-drivers/blob/master/flexvolume/cifs/cifs) into Origin 3.9 on CentOS 7.  Once deployed the node didn't recognize it with the following error (on level 8):

[code]

 until it was copied from ```/usr/libexec/kubernetes/kubelet-plugins/volume/exec/azure-cifs/cifs``` to ```/usr/libexec/kubernetes/kubelet-plugins/volume/ex

[2018-04-26 05:37] #16230 closed

[2018-04-26 05:37] #17123 closed

[2018-04-26 05:37] #15892 closed

[2018-04-26 05:37] #14129 closed

[2018-04-26 05:37] #15708 closed

[2018-04-26 05:46] praveenkumar commented on #19486
@mfojtik thanks, so should we keep this as a tracker or close it?

[2018-04-26 08:50] g33kyaditya opened #19523 "Bad permission issue when deploying postgresql 9.5 from openshift template"
mkdir /var/lib/pgsql/data/ permission denied

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://rio-staging.exp.rapyuta.io:443
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
##### Steps To Reproduce
From the web console:
1. Add To Project -> Browse Catalog -> Data Stores -> Postgres (Persistent)
2. [step 2]

##### Curren

[2018-04-26 09:26] martinpitt opened #19524 "How to whitelist a local image registry"
Somewhere between 3.9rc3 and 3.9 final the concept of "image registry whitelist" ([imagePolicyWhitelist](https://docs.openshift.org/latest/admin_guide/image_policy.html#image-policy-configuring-the-image-policy-admission-plug-in)) got introduced. This broke our cockpit tests, which run a local image registry to test the image stream creation and import.

Note that we run openshift with `/usr/bin/o

[2018-04-26 10:10] LalatenduMohanty opened #19526 ""oc cluster up" failing for oc version v3.10.0-alpha.0+a7199cf-874"
"oc cluster up" is failing with error "Error: could not run "openshift-image-registry": rc=1"

I am using the docker from Docker for Mac. Docker version : Version 18.03.0-ce-mac60 (23751)

Compiled the master source code on macOS to generate the oc binary. The HEAD was at https://github.com/openshift/origin/commit/a7199cf6e0dec6cc044a7c96d8c35585c4013056

[code]

##### Version

[code]

##### Steps

[2018-04-26 10:11] LalatenduMohanty commented on #19526
cc @deads2k @praveenkumar Not sure if you are seeing the issue.

[2018-04-26 10:26] ahmadou opened #19527 "Openshift v3.9 router seem broken"
[provide a description of the issue]

When i deploy a gitlab image on my cluster it overwrites all the routes i defined and everything resolves to the gitlab service.

##### Version

oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master-lb.xxxxxxxxxxxx:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduc

[2018-04-26 10:44] ramato-procon commented on #18914
The problem with the recommended process "application code [...] should stop accepting new Connections" in java environments this is part of the application server.
@ReToCode created a workaround for Tomcat (Embedded/SpringBoot), as Tomcat doesn't support graceful shutdown at all.
Undertow supports it, but reacts with a HTTP Return Code 503 during shutdown process.
I adopted this for SpringBoot wi

[2018-04-26 11:02] praveenkumar opened #19528 "Application deployment failing when cluster setup using oc cluster up on Mac"
##### Version
$ ./oc version
oc v3.10.0-alpha.0+a7199cf-874
kubernetes v1.10.0+b81c8f8
features: Basic-Auth

##### Steps To Reproduce

1. Start the cluster using oc cluster up
[code]

2. Deploy an aplication from existing template.
[code]

##### Current Result
Not able to push to registry.
##### Expected Result
Able to push to registry and application should be deployed.

##### Additional Informat

[2018-04-26 11:38] #17256 closed

[2018-04-26 11:38] #17279 closed

[2018-04-26 11:38] #17306 closed

[2018-04-26 11:38] #17272 closed

[2018-04-26 11:38] #17277 closed

[2018-04-26 11:38] #15741 closed

[2018-04-26 12:29] deads2k commented on #19526
/assign @mfojtik

docker for mac

[2018-04-26 12:31] ahmadou commented on #19527
For additional information , the routes will continue to work until you connect the first time to the gitlab instance. After that all the request sent from the browser seem to resolve to the gitlab instance.

On the other hand if i open a browser in private mode and open the gitlab instance the problem does not seem to show up.
I guess it's related to cookies or something.
It might be specific to

[2018-04-26 12:52] knobunc commented on #17306
This is obsolete with OpenShift 3.9.  There we have haproxy 1.8 and take advantage of the seamless reloads.

[2018-04-26 12:53] ahmadou commented on #19527
The problem seems fixed by setting up gitlab to listen on port 80 and changing the route from passthrough to edge.

I still would like to get an explanation (if possible) to avoid future mistakes.

[2018-04-26 12:54] knobunc commented on #17256
I suspect you are not using a network plugin.  Was this created with `oc cluster up`?  If so, nothing enables hairpin mode on the docker bridge, so the service traffic flows from the pod to the node, gets natted, and then returns to the docker bridge, at which point it is dropped.

[2018-04-26 13:30] kincl commented on #17125
This also happens when switching to a cloud plugin like vSphere with an existing cluster. I also experienced this when I cherry-picked https://github.com/kubernetes/kubernetes/issues/59602 which changes the vSphere node externalID and I had to restart docker daemons across the cluster so when Origin rebases 1.9 or upgrades to 1.10 vSphere people running the openshift-sdn will be hit by this again.

[2018-04-26 15:25] liggitt commented on #11617
controllers no longer hit etcd directly for leases

/close

[2018-04-26 15:25] #11617 closed

[2018-04-26 16:09] tdawson commented on #19196
This has been fixed (There are now 3.8.0 origin packages in that repo).
Since 3.9.0 has been released, I am closing this ticket.
Hopefully we have the update issue with 3.8.0 resolved, but if you do have other updating issues, please open a different issue.

[2018-04-26 16:09] #19196 closed

[2018-04-26 16:11] tdawson commented on #19013
I am marking this issue closed because it looks like we've resolved this a few weeks ago.
If you continue to have problems, please re-open, or create a new issue.

[2018-04-26 16:11] #19013 closed

[2018-04-26 18:25] mlbiam commented on #19519
Someone pointed out my problem.  The directory needed to be `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/azure~cifs` (the tilde `~` being the key)

[2018-04-26 18:25] #19519 closed

[2018-04-26 19:48] tdudgeon commented on #19013
Yes, this has been resolved.

[2018-04-26 20:11] nhenderson commented on #11963
I thought I would include a deployment strategy of `type: Custom`. I could not find any concrete examples online or in the OpenShift documentation about this. So, I came up with the following method that works in my Minishift environment:
[code]
 *  Fill in the value of the `LOGIN_TOKEN` env var above with a token of a service account that has permission to `scale` your replication controllers. Fo

[2018-04-26 20:37] xiaods commented on #5831
OMG. /close it asap.

[2018-04-27 01:06] jfmatth commented on #19482
getting the same on 3.6 as of yesterday.

WTF?

[2018-04-27 02:36] lindao99 commented on #19441
now it`s ok.
because docker must close selinux
edit /etc/sysconfig/docker   "----selinux-enabled=false"

[2018-04-27 02:36] #19441 closed

[2018-04-27 06:52] LalatenduMohanty commented on #19488
So I am expecting that `oc cluster up` will fail if I do it on macOS using Docker for Mac. Correct me if I am wrong.

[2018-04-27 06:55] sadahamrc opened #19535 "Openshift Origin server 3.9 Failed to get system container stats for "/user.slice/user-0.slice/session-4.scope": failed to get cgroup stats for "/user.slice/user-0.slice/session-4.scope": failed to get container info for "/user.slice/user-0.slice/session-4.scope": unknown container "/user.slice/user-0.slice/session-4.scope""
I'm having issues when starting openshift server. When I start it by
./openshift start (as instructed in the origin docs)
it produces this error all the time. (see ##### Current Result)

##### Version
openshift v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
etcd 3.2.16

##### Steps To Reproduce
1. ./openshift start

##### Current Result
I'm getting two errors.
[One]
E0427 12:19:34.473195   11668 summ

[2018-04-27 07:41] vikaschoudhary16 commented on #18914
@jmencak this seems familiar :)

[2018-04-27 07:48] praveenkumar commented on #19526
This is very unpredictable, I am also getting same issue time to time but not consistent.

[code]

[2018-04-27 08:11] #16227 closed

[2018-04-27 09:29] mfojtik commented on #19486
@praveenkumar close

[2018-04-27 09:29] #19486 closed

[2018-04-27 09:32] mfojtik commented on #19528
/cc @csrwng

I think this is a known issue, there is no workaround AFAIK. This is also not a regression, this issue pre-existed the cluster up refactoring.

[2018-04-27 09:35] mfojtik commented on #19526
@praveenkumar @LalatenduMohanty can you check the logs in `/tmp/base_occlusterup/logs` directory. Look for openshift registry and check what output the command returned.

[2018-04-27 11:42] #14073 closed

[2018-04-27 11:42] #13873 closed

[2018-04-27 11:42] #15054 closed

[2018-04-27 11:42] #14327 closed

[2018-04-27 11:51] praveenkumar commented on #19526
@mfojtik I am able to resolve it after removing all the images and again starting fresh. @LalatenduMohanty can you also try that once?

[code]

[2018-04-27 12:01] praveenkumar opened #19538 "Image Pull Back-off when run oc cluster up on a VM which just restarted."
##### Version
[code]

##### Steps To Reproduce
1. Create a remote VM or use minishift (1.16.1) to create one.

[code]
2. export the docker connection env.
[code]

3. Run oc cluster up on the remote docker daemon.
[code]
4. Deploy an sample application
[code]

5. stop the VM and start again
[code]

6. start the oc cluster up using same config
[code]

7. Check the application status which deployed b

[2018-04-27 12:09] jorgemoralespou commented on #19538
@praveenkumar
- have you checked the registry is up and running?
- have you checked the images on the VM?

Since the image that seems to fail is the one built I would look into that direction.

[2018-04-27 12:58] kincl commented on #17464
This appears to be an issue in 3.9 as well and I am seeing it with the prometheus daemonset.

[2018-04-27 13:33] gabemontero commented on #19513
Based on
- the description of https://github.com/openshift/origin/commit/9404da7a04f2ae0e2e0e699a48b4f6a51c56ced8 from @smarterclayton
- when the commit dropped (Apr 23)
- when we started seeing these failures (I believe the first instance was early morning Apr 24 with run https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/457/)

Either the changes to that comm

[2018-04-27 13:40] Gh0s7 opened #19540 "Enabling NetworkPolicy breaks internal networking"
(tried with both a pod's terminal and master node's bash)
_before enabling NetworkPolicy_

Each pod can ping any service and deploying any sample image from git works.

_after enabling NetworkPolicy_

Ping doesn't work anymore, even between services from the same project.
Deplyoing from git doesn't work either, as it fails to push into our private registry (which is in the default project).
I can'

[2018-04-27 15:42] csrwng commented on #19528
That is correct. The only known work-around is to downgrade Docker for Mac to version 17.09 or earlier

[2018-04-27 17:43] #17368 closed

[2018-04-27 17:43] #17384 closed

[2018-04-27 17:43] #17397 closed

[2018-04-27 17:43] #17399 closed

[2018-04-27 17:43] #17401 closed

[2018-04-27 17:43] #17463 closed

[2018-04-27 18:14] adambkaplan opened #19543 "Deployment extended test fails "Command deploy is deprecated""
Test flake - gcp test fails with following message:

[code]

Link to failing test: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19532/test_pull_request_origin_extended_conformance_gce/19691/

[2018-04-27 18:27] gabemontero commented on #19543
@openshift/sig-master

[2018-04-27 18:48] mfojtik commented on #19543
known, this is the test loosing the parts from log...

[2018-04-27 18:54] liggitt commented on #19543
same issue as https://github.com/openshift/origin/issues/13980 ?

[2018-04-27 23:13] bparees opened #19548 "github.com/openshift/origin/test/cmd/migrate test/cmd/migrate.sh:17: executing 'oc get ns --template "{{ range .items }}{{ if not (eq .status.phase \"Active\") }}1{{ end }}{{ end }}"' expecting any result and not text '1'; re-trying every 0.2s until completion or 60.000s"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19546/test_pull_request_origin_cmd/13076/

[2018-04-27 23:17] bparees opened #19550 "github.com/openshift/origin/test/integration/runner TestIntegration/TestAuthorizationResourceAccessReview"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19546/test_pull_request_origin_integration/17313/

[2018-04-27 23:44] #7237 closed

[2018-04-27 23:44] #16992 closed

[2018-04-28 02:56] bparees commented on #19550
this was caused by a role i added in my pr.

[2018-04-28 02:56] #19550 closed

[2018-04-28 05:45] #6786 closed

[2018-04-28 05:45] #17458 closed

[2018-04-28 06:22] #19484 closed, assigned to nobody

[2018-04-28 07:34] FreddyShen opened #19551 "Mac oc cluster up --version=v3.6.0 does not work"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
openshift version v3.6.0
oc version
oc v1.4.1+3f9807a
kubernetes v1.4.0+776c994
features: Basic-Auth

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result
<img width="689" alt="6" src="https://user-images.githubusercontent.com/20896372/39393569-61b74438-4af9-11e

[2018-04-28 07:44] gkarthiks commented on #19353
Any help is much appreciated!

[2018-04-28 07:51] #19513 closed

[2018-04-28 08:40] #19551 closed

[2018-04-28 16:05] paivaric commented on #19267
Any fix or workaround for this?

[2018-04-28 16:43] bparees opened #19552 "mysql/mongodb replica tests failing"
we're seeing failures in the image ecosystem tests when setting up NFS for PVs:

[code]

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/463/testReport/junit/(root)/Extended/_Conformance__image_ecosystem__mongodb__Slow__openshift_mongodb_replication__with_statefulset___should_instantiate_the_template__Suite_openshift_/

/cc @gabemontero

[2018-04-28 16:44] bparees commented on #19552
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/463/testReport/

[2018-04-28 16:54] bparees commented on #19552
actually it looks like maybe the patch errors are benign but the tests are definitely consistently failing.

[2018-04-28 17:00] bparees commented on #19552
(it's affecting both the mongo and mysql tests, but not the jenkins)

[2018-04-28 17:31] coreydaley commented on #19552
From taking a quick look at the mysql test, this may be the same issue as the cakephp error, looks like it's failing the readiness probe to localhost (127.0.0.1) also.  I'll try to look deeper into it later tonight.

[code]

[2018-04-28 17:32] coreydaley commented on #19552
The test for the patch command shows as failed if it doesn't pass, which is kind of annoying but that is how it works, but that failing won't cause the test to fail.

[2018-04-28 18:08] bparees commented on #19552
i think the ioctl part is benign but the can't connect certainly isn't (unless that's just an early failure before the pod came up).

i'd be sort of surprised if it was related to the php errors, but i suppose it's possible something changed in pod networking that broke 127.0.0.1 in a weird way.

[2018-04-28 23:48] #14651 closed

[2018-04-28 23:48] #17324 closed

[2018-04-29 08:03] FantomX1 commented on #6629
I stumbled upon too many issues and restricted directories along cumbersome way of building, pushing and pulling images to see minor incremental changes, so I rather used pre-build S-2-I https://github.com/sclorg/httpd-container based on redhat, thats what worked for me (along studying its source more, issues might image clear what I was doing wrong)

[2018-04-29 12:12] enj commented on #2162
/remove-lifecycle stale
/lifecycle frozen

[2018-04-29 17:51] #17519 closed

[2018-04-29 22:30] iamarshadameer commented on #9080
I am experiencing the same error
Using 5.2 VirtualBox
build error: timeout while waiting for remote repository.
Any help on resolving this issue?

[2018-04-29 23:52] #17144 closed

[2018-04-30 00:40] Schnitzel opened #19554 "Pull fails if remote registry image is deleted even it has already been mirrored"
We are ImageStreams with remote registries and `referencePolicy.type: Local` and `mirrorpullthrough: true`. Everything works fine, if an image is pulled the first time it is mirrored (visible in the registry logs). But if the image in the remote registry is deleted the local registry also stops working, even the image is fully mirrored. I believe that there is probably still a remote registry mani

[2018-04-30 05:53] #17485 closed

[2018-04-30 05:53] #17502 closed

[2018-04-30 05:53] #17518 closed

[2018-04-30 07:44] praveenkumar commented on #19538
Yes registry is up and running.
[code]

Yes, required images are present.

[code]

[2018-04-30 08:07] nak3 commented on #19256
Yes, the cobra was updated by https://github.com/openshift/origin/pull/19137 last month. Thank you.

I installed and used correct completions. But the https://github.com/openshift/origin/pull/19137 was merged between my report and your verify.. :cry:

[2018-04-30 09:12] hdonati opened #19560 "Can't upgrade from 3.7 to 3.9 via ansible"
Hi,
I'm trying to upgrade our cluster from 3.7 to 3.9. It had been installed with ansible, so I'm using the same method to perform upgrade.

It fails with message :
      _1. Hosts:    oomaster1.in.ac-caen.fr
         Play:     Determine openshift_version to configure on first master
         Task:     assert openshift_release in openshift_image_tag
         Message:  openshift_image_tag must matc

[2018-04-30 09:42] legionus commented on #19554
Manifest mirroring added in v3.10.0-alpha.0 [1]. Prior to this, only blobs were mirrored. This was done to speed up the work, and not for fault tolerance.

[1] https://github.com/openshift/image-registry/commit/263bb041308286023c43973c5accafdbbeb113ed

[2018-04-30 09:46] dmage commented on #19554
in v3.9.0-alpha.4. Please update your cluster at least to 3.9.

[2018-04-30 09:46] #19554 closed

[2018-04-30 10:18] andreaseger commented on #17997
just in case someone else stumbles upon this issue. Support for bitbucket server was apparently added in 3.7 https://bugzilla.redhat.com/show_bug.cgi?id=1500731

[2018-04-30 13:43] hdonati commented on #19560
In -vvv mode :
[code]
(Please note that /root/openshift-ansible is a symlink to /root/openshift-ansible-3.9)

openshift_image_tag remains v3.9 while openshift_release is then set to 3.8

So it can't work. Did I forget or misunderstand Something ?

[2018-04-30 14:41] stevekuznetsov commented on #18240
This got fixed?

/close

[2018-04-30 14:41] #18240 closed

[2018-04-30 14:50] stevekuznetsov commented on #17621
/close

[2018-04-30 14:50] #17621 closed

[2018-04-30 15:08] Schnitzel commented on #19554
@legionus @dmage awesome, thank you :)

[2018-04-30 15:16] spadgett commented on #19143
@otmanel31 It looks like your error is happening because the node is out of disk space:

[2018-04-30 15:35] otmanel31 commented on #19143
Ok thank you @spadgett  ... i try it on virtual machine with memory requirements and it works. But this error persist on test server (physical machine)  ... :)

[2018-04-30 15:41] spadgett commented on #19143
Changing back to P1 for now since the original problem breaking the nightly tests was fixed.

[2018-04-30 17:05] bparees commented on #9080
Generally this means either your VM can't reach the outside internet, or there's a networking config issue in your cluster.

I suggest you open a new issue against origin to request help investigating your configuration.

things you can do to help debug it:

1) oc rsh into a running pod and check if you can reach github.com from it
2) oc rsh into a running jenkins pod and try to do the git clone o

[2018-04-30 17:53] #17168 closed

[2018-04-30 18:09] hansmi commented on #17163
/remove-lifecycle stale

@juanvallejo, it appears as if your changes weren't merged. An `oc` binary versioned `v3.10.0-alpha.0+30a3676-736` still fails, though not with a panic. I guess this isn't supposed to happen and `-o ''` (the default) works as expected. Should I consider this to "work as designed"?

[code]

[2018-04-30 18:56] knobunc commented on #19058
Argh... and it's happening again.

[2018-04-30 19:07] jwforres commented on #17650
@deads2k see previous comment, what is the scope of the cluster up tests now?

[2018-04-30 19:13] jwforres commented on #19353
Your deployer service account does not appear to have the correct permissions in the project by default. If you check the role bindings in your project, there should be a role binding that has the deployer service account getting the system:deployer cluster role. Does that role binding exist?

How was this cluster installed? Are you overriding the default project template in any way?

@openshift/s

[2018-04-30 19:16] jwforres commented on #19354
@openshift/sig-master

[2018-04-30 19:25] deads2k commented on #17650
The template service broker is independent of the service catalog and should be testable separately the same way that we test our template processing API outside of the template instance controller.

If someone wants to write an additional test that ensure that the service catalog can interoperate with the TSB when both are installed, that great, but I don't see why we should couple our tests toge

[2018-04-30 19:29] johnr-spindance commented on #19474
Update on this:

So it seems to be an issue where assets over 6.5K are getting the 504 Gateway Timeout response...

[2018-04-30 19:30] jwforres commented on #17650
/remove-lifecycle stale

I'm actually going to assign this to the service broker team, we just had a discussion last week about needing better testing that svc cat end to end flows are right in a cluster up env

cc @pmorie @jwmatthews

[2018-04-30 19:31] jwforres commented on #19362
@openshift/sig-master

[2018-04-30 19:31] jwforres commented on #19362
might overlap with @openshift/sig-developer-experience

[2018-04-30 19:33] jwforres commented on #19370
@openshift/sig-user-interface

[2018-04-30 19:34] jwforres commented on #19379
@openshift/sig-developer-experience do you guys still own this example or is this SCL?

[2018-04-30 19:37] jwforres commented on #19382
@openshift/sig-networking

[2018-04-30 19:41] jwforres commented on #19403
@openshift/sig-pod @openshift/sig-storage

[2018-04-30 19:45] jwforres commented on #19434
@Natarajan77 Is the version number in your comment correct?  1.1 of origin?

cc @stevekuznetsov

[2018-04-30 19:51] jwforres commented on #19440
@smarterclayton looks like we are missing 3.9.0 image tags for metrics

[2018-04-30 19:55] jwforres commented on #19447
@openshift/sig-networking

also an issue of general CLI consistency @soltysh

[2018-04-30 19:56] jwforres commented on #19449
@openshift/sig-master

[2018-04-30 19:57] jwforres commented on #19560
@openshift/sig-cluster-lifecycle

[2018-04-30 19:58] jwforres commented on #19474
@openshift/sig-networking

[2018-04-30 20:00] jwforres commented on #19501
@openshift/sig-networking

[2018-04-30 20:01] jwforres commented on #19481
@openshift/sig-developer-experience

[2018-04-30 20:02] jwforres commented on #19503
@openshift/sig-developer-experience

[2018-04-30 20:03] jwforres commented on #19516
@openshift/sig-networking

[2018-04-30 20:03] jwforres commented on #19540
@openshift/sig-networking

[2018-04-30 20:22] #19447 closed, assigned to soltysh, knobunc

[2018-04-30 20:51] gabemontero commented on #19362
just tried it, and it confirms my understanding ...

1) pushing the image to docker hub is not sufficient for updating the deployment ...
2) either an `oc import-image` needs to be run, to take the update from dockerhub and update the imagestream / internal registry
3) or `oc tag --schedule` on the latest needs to be run so that it periodically checks the source for updates

Once 2) or 3) is in pl

[2018-04-30 21:11] rareddy commented on #17230
captured here https://github.com/sclorg/postgresql-container/issues/275

[2018-04-30 21:11] rareddy commented on #17738
captured at software collections  https://github.com/sclorg/postgresql-container/issues/275

[2018-04-30 21:16] gabemontero commented on #19481
Yeah `CompletionDeadlineSeconds` is only supported by the build strategies where the build controller running in openshift is in play

For this to work in Jenkins, with no build controller, etc. in play, we would have to update the sync plugin to check for that value and abort the job if the deadline is exceeded

So the lack of support is not an omission per se

Interesting idea ... but IMO featur

[2018-04-30 21:24] bparees commented on #19362
i think you nailed it.

I don't think we'd default to defining the imagestreamtag as scheduled, it's just another one of those "post new-app invocation tweaks" you need to do if you want something more fine tuned.

[2018-04-30 21:44] bparees commented on #19379
we don't use that because our E2E tests validate that that app is reporting the pagecount correctly and we don't want healthchecks incrementing it in the background.  The test could be made more flexible, but currently that's the main limitation.

@jwforres technically SCL owns the examples now, but if they change this they will break our image_ecosystem tests.  This is the fun world we live in.

[2018-04-30 21:45] bparees commented on #19379
@wozniakjan

1) need to update our nodejs imageeco system tests to make their page count checking logic more tolerant
2) submit a change to the nodejs-ex repo's templates to change the readiness+liveness probes

[2018-04-30 22:03] bparees commented on #19370
Yeah this is an upstream restriction, see: https://github.com/kubernetes/kubernetes/issues/16863#issuecomment-154984982

and see also:
[code]

/close

[2018-04-30 22:03] #19370 closed

[2018-04-30 22:28] #19362 closed

[2018-04-30 23:25] ryanj commented on #19379
For context, I filed this issue based on partner feedback:  The user had expected the catalog entry to be a viable starting point for deploying an existing app that relies on NodeJS+MongoDB.  They already had a working repo, so they choose the "NodeJS+MongoDB" catalog item to launch it.

I think our intention (currently) is to offer a catalog of examples that can be used as a development reference

[2018-04-30 23:53] #16688 closed

[2018-04-30 23:53] #17495 closed

[2018-04-30 23:53] #17525 closed

[2018-04-30 23:53] #17447 closed

[2018-05-01 00:49] sdodson commented on #19560
Do you have both the 3.8 and 3.9 repos enabled on the hosts?

[2018-05-01 01:51] jwforres commented on #19524
@openshift/sig-developer-experience

[2018-05-01 02:47] nak3 opened #19573 "diagnotics comamnd causes panic by missing error catch"
##### Description

diagnotics comamnd causes panic by missing error catch. Please refer to reproduce steps below.

##### Version

Build by 26d7dd21707a165ed4a87edfd3e0dca525480943

##### Steps To Reproduce
1. Use invalid KUBECONFIG (e.g - pointing to wrong server URL or logout from the server) and run `oc adm diagnostics`

##### Current Result

[code]

##### Expected Result

- Catching the error a

[2018-05-01 02:51] nak3 commented on #19573
This issue was introduced by this commit https://github.com/openshift/origin/commit/52649452cfa326e0d1930f66233b5313f66d656a

[2018-05-01 05:53] #16407 closed

[2018-05-01 05:53] #17201 closed

[2018-05-01 05:53] #17298 closed

[2018-05-01 05:53] #13852 closed

[2018-05-01 05:53] #14266 closed

[2018-05-01 06:54] hdonati commented on #19560
@sdodson
No version mention in repo on the master :
[code]
This was, I presume, populated by ansible 3.7 install.
Same thing on nodes, except thar repos are all enabled.
Do I need to enable all repos on master ?

[2018-05-01 09:36] bevinhex commented on #11168
To make it clear, let me give my example
I created a new mongodb-persistent app
after that ```oc get svc``` results
```mongodb   172.30.164.147   <none>        27017/TCP   31m```
Now I created wekan with ```oc new-app quay.io/wekan/wekan:v0.89```
now '''oc get svc``` gets
[code]
So mongodb service name is "mongodb", so for wekan I provide MONGO_URL variable as
MONGO_URL=mongodb://user:password@mon

[2018-05-01 11:40] rvm8h commented on #18033
@csrwng  What is the line command for resetting Docker data ?

[2018-05-01 11:47] spadgett commented on #18033
@rvm8h Try Preferences -> Reset -> Remove all data

[2018-05-01 11:53] #9241 closed

[2018-05-01 12:12] spadgett commented on #19480
@fajnatakibana Can you run this command to see if the masters are correctly labelled and ready?

[code]

[2018-05-01 13:14] jonkstevenson opened #19575 "nvidia-device-plugin fails with unknown capability and permission denied on nvidia.sock creation"
Using the following blog as a starting point:

https://blog.openshift.com/use-gpus-with-device-plugin-in-openshift-3-9

I was able to work through everything but the deployment of the nvidia-device-plugin is failing.

##### Version

oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://xxxxxx.:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+

[2018-05-01 13:16] jonkstevenson commented on #19575
Just on a side note:

The docker configuration looks good:

[root@awslosedgpu1 lib]# docker run  -e NVIDIA_VISIBLE_DEVICES=all --rm debian:stretch nvidia-smi
Unable to find image 'debian:stretch' locally
Trying to pull repository registry.access.redhat.com/debian ...
Trying to pull repository docker.io/library/debian ...
stretch: Pulling from docker.io/library/debian
cc1a78bfd46b: Pull complete
Di

[2018-05-01 13:57] jwforres commented on #19477
@pmorie you should probably open this issue against openshift-docs repo instead

[2018-05-01 14:10] jwforres commented on #19478
@openshift/sig-pod

[2018-05-01 14:11] jwforres commented on #19482
@openshift/sig-developer-experience any thoughts here?

[2018-05-01 14:13] jwforres commented on #19483
@openshift/sig-developer-experience

[2018-05-01 14:14] jwforres commented on #19487
@openshift/sig-cluster-lifecycle

[2018-05-01 14:17] jwforres commented on #19488
@openshift/sig-containers

also @mfojtik for the oc cluster up question

[2018-05-01 14:18] sdodson commented on #19487
@rassie they're there as of the 25th, can you try again?

[2018-05-01 14:28] jwforres commented on #19506
@openshift/sig-pod

[2018-05-01 14:32] bparees commented on #19505
This was caused by a change to the CakePHP example which broke the post commit test. It's been fixed.

/close

[2018-05-01 14:32] #19505 closed

[2018-05-01 14:42] bparees commented on #19495
It's not possible to change kubernetes resource names after creating them so the best we could do is delete and recreate which you can already do yourself so I don't see much value in wrapping that operation.

See: https://github.com/kubernetes/kubernetes/issues/13629#issuecomment-139041750

/close

[2018-05-01 14:43] #19495 closed

[2018-05-01 15:02] gabemontero commented on #19482
@HP-dufeng @jfmatth - how were the build configs created?  and how long ago were they created?

I just did an `oc new-app https://github.com/nodejs-ex` for example and the build worked fine.

[2018-05-01 15:12] ravisantoshgudimetla commented on #19575
cc @zvonkok

[2018-05-01 15:13] gkarthiks commented on #19353
@jwforres  I guess you are right. Let me try that and get back.

[2018-05-01 15:16] jwforres commented on #19511
@openshift/sig-cluster-lifecycle

[2018-05-01 15:27] sjenning commented on #19478
The checkpoint to which the message is referring is under `/var/lib/dockershim/`.  You might try removing everything in that directory and doing a `docker rm -f $(docker ps -a -q)` to remove all existing docker containers to get back to a pristine state.

[2018-05-01 15:28] jwforres commented on #19538
@openshift/sig-master

[2018-05-01 15:31] jwforres commented on #19573
@deads2k im assigning you since the commit referenced above was authored by you

[2018-05-01 15:32] jwforres commented on #19575
@openshift/sig-pod

[2018-05-01 15:32] gabemontero commented on #19483
Yep, there is no variable substitution performed by the build controller leveraging the env vars for the value in  `build.Spec.Strategy.DockerStrategy.From.Name`.

Using existing capabilities, your pipeline could create a new build config, which you do via `oc new-build..`, and leverage the `--source-image` option to point what your are trying to leverage with 'my-project:$VERSION'

Depending on f

[2018-05-01 15:32] #19483 closed

[2018-05-01 15:32] sjenning commented on #19403
This is a known issue on PVs with large numbers of files. The node must chown all the files in the PV to make them accessible to the uid the pod is using.  Depending on the speed of the storage, this can take a very long time.

https://bugzilla.redhat.com/show_bug.cgi?id=1459106

There is no known solution to this other than to architect your application to not store a bunch of files in a single P

[2018-05-01 15:34] jwforres commented on #19357
Based on discussion im assuming this is resolved, closing.

[2018-05-01 15:34] #19357 closed

[2018-05-01 15:37] dmlond opened #19579 "Service accounts with local roles are not behaving the same in 3.9 as before"
role bindings changed in 3.9

##### Version
oc version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

Server https://192.168.99.100:8443
openshift v3.9.0+d0f9aed-12
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. oc new-project foo
2. oc create serviceaccount cbuilder
3. oc create role cbuilder-role --verb=list --resource=builds
4. oc policy add-role-to-user cbuilde

[2018-05-01 15:40] aveshagarwal commented on #19506
@priyanka5 agree with what @sjenning said above. Also would like to add that it seems that other 2 nodes (failing with CheckServiceAffinity) seems to have different labels than the first node. Could you verify it?

Seems like what is happening is that when first pod is scheduled to the one node (failing with ExistingPodsAntiAffinityRulesNotMatch,), no other pods can be scheduled to this node due t

[2018-05-01 15:51] mtnbikenc commented on #19511
Two masters were not reachable:
[code]

[2018-05-01 16:26] jeremyeder commented on #19575
Yeah, apparently @zvonkok can reproduce this...

[2018-05-01 16:48] bparees commented on #19483
There is one other possibility.  If you're doing a Docker strategy build, you can do this:

make your "FROM" be a docker build arg value:

[code]

then invoke "oc start-build yourbuild --build-arg image=whateverimage"

Docker will substitute "whateverimage" into $image, achieving the result you want.

you can't use imagestreams this way, and you can't use this w/ s2i, but perhaps it's sufficient f

[2018-05-01 17:31] gabemontero commented on #19483
re: https://trello.com/c/nOX8FTRq/686-5-support-multiple-tags-for-a-build-output-builds yeah I took some creative license in that the solutions I saw could conceivable by applied to inputs, but clarification noted

[2018-05-01 17:59] ravisantoshgudimetla commented on #19575
@jeremyeder It happened with us too but I removed `defaultAddCapabilities` and the error has gone away, I have not reached a stage where we could test the GPU pod successfully yet.(It is getting scheduled though).

[2018-05-01 18:15] jwforres commented on #19579
@openshift/sig-security

[2018-05-01 18:35] liggitt commented on #19579
`oc create role` finds resources the server has that match your specified resources.

As part of switching to use API-group-qualified OpenShift APIs (available since 3.6), "builds" now prefers the group-qualified API: `/apis/build.openshift.io/v1/namespaces/foo/builds`

You can see the output with `oc create role cbuilder-role --verb=list --resource=builds --dry-run -o yaml`:

in 3.7:
[code]

in 3

[2018-05-01 18:35] #19579 closed

[2018-05-01 19:16] adambkaplan commented on #17731
Potentially similar issue with:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19532/test_pull_request_origin_extended_conformance_gce/19841/

[2018-05-01 20:09] sjenning opened #19582 "extended_conformance_install failing with "Error response from daemon: no such id: openshift/origin:v3.10""
test_pull_request_origin_extended_conformance_install started failing today at about 1020AM with:

`Error response from daemon: no such id: openshift/origin:v3.10"`

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_pull_request_origin_extended_conformance_install

@stevekuznetsov @smarterclayton @jpeeler

[2018-05-01 20:12] sjenning commented on #19582
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19514/test_pull_request_origin_extended_conformance_install/11077/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19580/test_pull_request_origin_extended_conformance_install/11078/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19576/test_pull_request_origin_extended_conf

[2018-05-01 22:45] mbarnes commented on #19294
Interesting.  Looking at yum history on the hosts for these 3.7.42 packages, it appears they were installed as part of a security update procedure.  Probably whomever applied it just grabbed all available `atomic-openshift-*` rpms.

Good to know they're not needed on hosts.

Also, looking at commit history for `origin.spec`, it appears almost all the problematic subpackages have been removed over

[2018-05-01 22:45] #19294 closed

[2018-05-01 23:36] smarterclayton commented on #19582
I temporarily disabled this and notified vadim

On May 1, 2018, at 4:09 PM, Seth Jennings <notifications@github.com> wrote:

test_pull_request_origin_extended_conformance_install started failing today
at about 1020AM with:

Error response from daemon: no such id: openshift/origin:v3.10"

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_pull_request_origin_extend

[2018-05-01 23:57] HP-dufeng commented on #19482
I found this is probably a problem with my DNS setup.
I used a separate machine for DNS server.
Below is my /etc/dnsmasq.d/openshift-cluster.conf file config
192.168.3.53 is my openshift master node
[code]
when I change this line `address=/cefcfco.com/192.168.3.53`
with  `address=/apps.cefcfco.com/192.168.3.53`
The above problem has not appeared.

Why?

[2018-05-02 01:45] smarterclayton commented on #19582
@vrutkovs

[2018-05-02 06:26] smarterclayton commented on #19356
I think it was broken in 3.9.

[2018-05-02 06:28] smarterclayton commented on #19356
Moved to https://bugzilla.redhat.com/show_bug.cgi?id=1573717

[2018-05-02 07:04] bparees commented on #19482
/cc @knobunc @danwinship @dcbw as they can probably answer dnsmasq config+network/cert questions better than we can.

[2018-05-02 07:37] priyanka5 commented on #19506
@sjenning thanks , @aveshagarwal  yes I added same value to  label region to all 3, then serviceAffinity error goes :)  thanks I will keep you informed if I face other issue

[2018-05-02 08:25] agajdosi commented on #17934
The issue can still occur with v3.9.

[2018-05-02 08:26] agajdosi commented on #17934
/remove-lifecycle stale

[2018-05-02 08:27] hdonati commented on #19560
I git cloned branch release-3.9 either than latest  and this error disappeared. Upgrade could go on, even if I have another issue later (I will open another ticket)
Consider this one as closed

[2018-05-02 08:27] #19560 closed

[2018-05-02 08:36] hdonati opened #19583 "Console install failed when upgrading from 3.7 to 3.9 via ansible"
While upgrading cluster from 3.7 to 3.9 with branch release-3.9, console refuses to start and upgrade is stopped.
Pod webconsole in CrashLoopBackOff state with error "Error: unable to load server certificate: open /var/serving-cert/tls.crt: permission denied"

##### Version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://oomaster1.in.ac-

[2018-05-02 09:39] bparees commented on #19370
My only suggestion would be to set the key without the colon and as part of your container entrypoint script, detect the key and set a new var using the key with a colon.

[2018-05-02 10:19] HackToHell opened #19585 "destionationDir does not respect contextDir in Openshift Builds"
##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://cluster:443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
When you create a build of type S2I and add in binary files to be pulled in from images, as an separate input source, the paths of the image, specifically the `destinationDir` does not

[2018-05-02 10:33] runcom commented on #19488
could be selinux? try `setenforce 0`

[2018-05-02 11:08] suomiy commented on #19488
selinux not installed on the machine

[2018-05-02 11:27] aveshagarwal commented on #19506
@priyanka5 if your issue is resolved, could you close it? You can always reopen if you have similar issue or create a new issue for any other errors.

[2018-05-02 11:48] #19506 closed

[2018-05-02 13:10] adambkaplan opened #19587 "Cmd test fails "github.com/openshift/origin/test/cmd/newapp test/cmd/newapp.sh:428: executing 'oc delete all -l app=testapp2' expecting success 1.66s""
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2018-05-02 13:13] adambkaplan opened #19588 "Cmd test fails "oc delete all -l app=testapp2""
Test flake in cmd tests - the "delete all" test seems to fail, potentially because the application under test has already been deleted.

##### Version
v3.10.0-alpha0

##### Current Result
Test failure: github.com/openshift/origin/test/cmd/newapp test/cmd/newapp.sh:428: executing 'oc delete all -l app=testapp2' expecting success 1.66s

##### Expected Result
Test passes.

##### Additional Informatio

[2018-05-02 13:20] adambkaplan opened #19589 "test flake: install origin prerequisites"
Permission denied error creating ansible retry file.

##### Version
v3.10.0-alpha0

##### Current Result
Test failure: **Configure os_firewall [localhost] os_firewall : Install iptables packages 20s**

##### Expected Result
Test passes.

##### Additional Information
Failed tests:
1. https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19532/test_pull_request_origin_extended_bu

[2018-05-02 14:18] danwinship commented on #19482
`address=/cefcfco.com/192.168.3.53` means "if a client asks about any host in the `cefcfco.com` domain, say that that host has IP `192.168.3.53`". Which is a weird thing to configure. Are you sure you didn't mean `server=/cefcfco.com/192.168.3.53`? ("if a client asks about any host in the `cefcfco.com` domain, then delegate that query to the DNS server at `192.168.3.53`.")

[2018-05-02 14:24] jmontleon opened #19590 "oc cluster up with --enable=service-catalog is failing"
docker exec -it `origin pod` /bin/bash
oc logs -f -n kube-service-catalog                `apiserver pod` -c apiserver

The apiserver pod shows:
[code]

##### Version
oc v3.10.0-alpha.0+2075da4-930
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://172.17.0.1:8443
openshift v3.10.0-alpha.0+2075da4-930
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. oc clu

[2018-05-02 14:27] juanvallejo commented on #17163
@hansmi changes now merged into 3.6. Currently no plan to support `wide` printer for this command. The error message you see will improve in the next rebase as part of ongoing upstream work on the printers.
Thanks

[2018-05-02 14:29] hansmi commented on #17163
@juanvallejo Thank you for the feedback. Considering this closed then as the command is no longer panicking.

[2018-05-02 14:29] #17163 closed

[2018-05-02 14:43] jmontleon commented on #19590
It looks like there is a new option:
--admission-control-config-file string                    File with admission control configuration.

I guess this might need to be created and pointed at.

[2018-05-02 14:46] jsacapdev commented on #19511
hi, do you know if there is a fix for this?

[2018-05-02 14:51] jwforres commented on #19590
cc @pmorie

[2018-05-02 14:52] jwforres commented on #19583
@deads2k @sjenning any thoughts why console would get a permission denied accessing the mounted secret for the serving cert?

[2018-05-02 14:55] jwforres commented on #19585
@openshift/sig-developer-experience

[2018-05-02 14:57] jwforres commented on #19587
@adambkaplan was this a test flake in CI or an issue you hit locally, if it was in CI please include a link to the job where you saw it

[2018-05-02 14:58] jwforres commented on #19587
actually is this a duplicate of https://github.com/openshift/origin/issues/19588 ?

[2018-05-02 15:00] jwforres commented on #19588
@openshift/sig-developer-experience

[2018-05-02 15:04] adambkaplan commented on #19587
yes...not clear how this was posted twice...

[2018-05-02 15:04] #19587 closed

[2018-05-02 15:05] spadgett commented on #19583
@deads2k @sjenning for reference, console template is here: https://github.com/openshift/openshift-ansible/blob/release-3.9/roles/openshift_web_console/files/console-template.yaml

[2018-05-02 15:21] #19585 closed, assigned to bparees

[2018-05-02 15:31] travisn commented on #18784
@liggitt is this issue fixed with https://github.com/kubernetes/kubernetes/pull/62810? I don't see a reference to the TODO anymore. Thanks!

[2018-05-02 15:57] mtnbikenc commented on #19589
Permission denied on that retry file is normal.  You have to look just before that to find the actual error.

[code]

This is a yum flake.

[2018-05-02 15:59] bparees commented on #19588
this is really an issue w/ how oc delete operates, what is happening is the buildconfig is deleted which triggers reaping (GC i think?) of the builds.  Regardless, oc delete has already grabbed the list of builds while it still existed, and then when it tries to delete it, finds it is already deleted.

there is already an open issue for this, hopefully @soltysh  or @juanvallejo  know where it is (

[2018-05-02 15:59] mtnbikenc commented on #19589
Speaking of retry files, we should probably update the ansible.cfg in CI to not create retry files.
[code]

[2018-05-02 15:59] liggitt commented on #18784
it was fixed in https://github.com/kubernetes/kubernetes/pull/62659

[2018-05-02 16:17] stevekuznetsov commented on #19589
@mtnbikenc could you add that to the `aos-cd-jobs` repo? That would be terrific.

[2018-05-02 16:17] stevekuznetsov commented on #19589
Or just pass it to `ansible-playbook` as a flag?

[2018-05-02 16:17] stevekuznetsov commented on #19589
Closing, NOTABUG

/close

[2018-05-02 16:17] #19589 closed

[2018-05-02 17:39] richm opened #19593 "router cert and console ui cert have same issuer and serial"
Install OpenShift 3.7 or 3.9 from openshift-ansible, the router cert and the console ui cert are issued with same serial and issuer:

router cert:
[code]
api server cert:
[code]
This causes the browser problems if trying to use TLS with a service behind the router e.g. Kibana for logging.

##### Version
latest 3.7 and 3.9 e.g.

openshift v3.7.44
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

# rpm -q op

[2018-05-02 19:09] bparees commented on #17496
/remove-lifecycle stale
/lifecycle frozen

[2018-05-02 19:54] yychy opened #19597 "pod-to-service communication is broken and got "No route to host" error for both Origin v3.6.0 and v3.7.1"
[provide a description of the issue]

In Origin v3.6.0 or Origin v3.7.1 pod, we cannot connect to any services in the project and got "No route to host" error. But after restart origin node service, sometimes it works.

##### Version
[provide output of the `openshift version` or `oc version` command]

# openshift version
openshift v3.7.1+c2ce2c0-1
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

# oc v3.7

[2018-05-02 20:41] ramr opened #19599 "DeviceManager TestRun failed to dial device plugin: context deadline exceeded"
Unit test failure for `github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/kubelet/cm/devicemanager TestRun`

##### Current Result
Test failed with
[code]

##### Expected Result
Test passes

##### Additional Information
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19418/test_pull_request_origin_unit/12651/

[2018-05-03 00:30] shenjh369 commented on #17740
I am using a virtual CentOS 7 and got the same issue, and now solved by the method @auyer provided, thanks!

OpenShift Version:

kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

System Version:

My Solution:

systemctl restart dnsmasq.service
openshift start --dns='tcp://0.0.0.0:8053'

[2018-05-03 01:11] #19305 closed

[2018-05-03 04:30] wenchma commented on #19535
I have the same issue:

##Environment info
[code]

##Got results

[code]

[2018-05-03 07:15] jsafrane commented on #19358
Fixed by #19508

/close

[2018-05-03 07:15] #19358 closed

[2018-05-03 07:59] grandflash commented on #18395
/lifecycle frozen

[2018-05-03 08:04] grandflash commented on #18395
/remove-lifecycle stale

[2018-05-03 09:06] Misterhex opened #19604 "SandboxChanged Pod sandbox changed. StopPodSandbox x from runtime service failed: rpc error: code = 2 desc = NetworkPlugin cni failed to teardown pod x network: could not retrieve port mappings: checkpoint is not found."
We are seeing pods not getting rescheduled and getting stuck after encountering the event "SandboxChanged    Pod sandbox changed, it will be killed and re-created"

What I noticed was these pods are emitting this event in a loop ( 288883 count ) and getting stuck

“openshift-infra            4m          44d          288883    hawkular-metrics-5t5cs.151d5bb4148eb74f                Pod

[2018-05-03 09:09] Misterhex commented on #18827
I am having a similar issue #19604

[2018-05-03 09:47] Reamer opened #19605 "origin 3.9.0 - Unable to create vSphere storage - nodeVmDetail is empty"
Unable to create vSphere storage with origin 3.9.0

Error-Message: "Kubernetes node nodeVmDetail details is empty. nodeVmDetails : []"

##### Version
[code]

##### Additional Informations
I found this [Bug-Ticket](https://bugzilla.redhat.com/show_bug.cgi?id=1534955)
The fix is for this bug are the ClusterRole "system:vsphere-cloud-provider" and the ClusterRoleBinding "system:vsphere-cloud-provider

[2018-05-03 10:26] vrutkovs opened #19606 "v3.10: Service Catalog crashes during installation using system containers"
Service catalog crashes during ansible installation
[code]
See https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/8235/test_pull_request_openshift_ansible_extended_conformance_install_system_containers/7756/

##### Version

openshift/origin-cli:93f12e5

openshift/origin-service-catalog:758bcc2

[2018-05-03 12:16] LalatenduMohanty commented on #19526
@praveenkumar @mfojtik I am still seeing this issue, here are the steps I did

1. Deleted all docker images
2. Compiled oc again from latest code
3. Restarted the docker for mac
4. rm -rf /tmp/base_occlusterup/ ; mkdir /tmp/base_occlusterup/
5.  ./oc cluster up --base-dir=/tmp/base_occlusterup

[code]

[code]

[2018-05-03 13:47] adambkaplan opened #19608 "test flake: Timeout due to ruby version mismatch in docker source image tests"
Extended test `[Feature:Builds][Slow] build can have Docker image source creating a build with an input source image and docker strategy` times out because underlying Docker build fails.

Root cause - ruby version mismatch leads to error running `scl enable rh-ruby22`

##### Version
v3.10.0-alpha0

##### Current Result
Test times out - underlying build errors.

##### Expected Result
Test passes

#

[2018-05-03 13:47] adambkaplan commented on #19608
/assign @adambkaplan

@openshift/sig-developer-experience

[2018-05-03 13:58] hdonati commented on #19583
Set openshift_web_console_install=false in ansible hosts and went on
Upgrade seems to perform normally but... I have now an issue with scheduler and will open a new ticket about it.

[2018-05-03 13:58] #19583 closed

[2018-05-03 14:03] hdonati opened #19609 "Unable to schedule pods after upgrade from 3.7 to 3.9"
[provide a description of the issue]

##### Version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://oomaster1.in.ac-caen.fr:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. Upgrade from 3.7 to 3.9 with ansible-playbook openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_9/upgrade.yml
2.

[2018-05-03 14:07] hdonati commented on #19609
Some pods are running but in "home-made" environments no one can't launch
[code]
Maybe something I didn't understand with scheduling ?

[2018-05-03 14:24] kraunikumar commented on #18285
these are my events

[oc get events.txt](https://github.com/openshift/origin/files/1971302/oc.get.events.txt)

[2018-05-03 14:42] junsaw commented on #19143
Hey All,

Are there any updates on this or any possible or potential work around ?  Do know what is the root cause ?  Any help will be appreciated.

[2018-05-03 15:04] kargakis commented on #3819
@bjartek this is probably the issue about setting labels in project requests we were discussing today

[2018-05-03 17:39] jonkstevenson commented on #19575
okay excuse me for my absence from the conversation. When I really thought I was crazy and completely thrashed the cluster. Took some time to rebuild.

I am presently again at those errors presented above.

Additional info:  @jeremyeder  I did remove the defaultAddCapabilities  and that did remove the error. However, when the device plugin is deployed the pod crashes over and over again with.

nvi

[2018-05-03 17:49] jeremyeder commented on #19575
can you run ```ls -alZ /dev/nvidia*``` on ip-10-6-67-18 please?

[2018-05-03 17:56] jonkstevenson commented on #19575
Now here's a twist.

Usually number by number by but just tried to do this:

apiVersion: v1
kind: Pod
metadata:
 name: cuda-vector-add
 namespace: nvidia
spec:
 restartPolicy: OnFailure
 containers:
   - name: cuda-vector-add
     image: "docker.io/mirrorgooglecontainers/cuda-vector-add:v0.1"
     env:
       - name: NVIDIA_VISIBLE_DEVICES
         value: all
       - name: NVIDIA_DRIVER_CAPABILIT

[2018-05-03 18:17] ashearer23 opened #19614 "Cannot access master readiness URL on oc cluster up"
I am trying to run OpenShift Origin on my CentOS 7.4 behind a corporate firewall and a static IP address. I have the server and the client tools tar files unzipped on my machine and 'oc' added to my PATH.

##### Version
oc v3.9.0+191fece

##### Steps To Reproduce
1. oc cluster up --http-proxy='...' --https-proxy='...' --public-hostname='MACHINE'S IP'

##### Current Result
Using nsenter mounter for

[2018-05-03 19:14] adambkaplan commented on #19543
@mfojtik @liggitt close as duplicate?

[2018-05-03 19:26] jwforres commented on #19593
@openshift/sig-cluster-lifecycle

[2018-05-03 19:27] jwforres commented on #19597
@openshift/sig-networking

[2018-05-03 19:27] jwforres commented on #19599
@openshift/sig-pod

[2018-05-03 19:28] jwforres commented on #19604
@openshift/sig-pod

[2018-05-03 19:40] liggitt commented on #19543
/close
duplicate of #13980

[2018-05-03 19:40] #19543 closed

[2018-05-03 21:02] jperville commented on #15854
/remove-lifecycle stale

[2018-05-03 21:09] bparees commented on #19608
@adambkaplan this test doesn't actually care if the build succeeds or not, so actually these builds always fail.  Fixing it is good to avoid confusion, but it's not the root cause of the test failure.

I think what actually happened here is the build transitioned from new to failed so fast that this check:
[code]

never saw the pod as running.  we should make that check more robust.  (Making it wa

[2018-05-03 21:12] bparees commented on #19608
(actually i don't know that this test even needs the pod to be running, i think it just needs the pod to exist, so that might be an easier check to implement)

[2018-05-03 21:14] gnufied commented on #17765
/remove-lifecycle stale

[2018-05-03 21:42] sjenning commented on #19604
fyi @dcbw

I would delete that Node i.e oc get node <node>, which will cause all the pods on it to be deleted and restarted elsewhere (since a drain will not work as the pod sanboxes are blocked from terminating cleanly), stop the node service, delete everything from under /var/lib/dockershim where the CNI checkpoint files reside on the node, and restart the node service so it will re-register wit

[2018-05-03 21:43] sjenning commented on #19599
@vikaschoudhary16  can you take a look?

[2018-05-03 22:07] mshutt commented on #19045
@sjenning @liggitt 3.9 upgrade indeed has fixed this.  Thank you all for your tireless efforts!

[2018-05-04 00:03] #17367 closed

[2018-05-04 00:24] Misterhex commented on #19604
@sjenning Thanks for your help. Has this bug been fixed in 3.9? Thanks.

[2018-05-04 01:13] smarterclayton commented on #19430
Opened an upstream

[2018-05-04 02:02] #19368 closed

[2018-05-04 03:35] vikaschoudhary16 commented on #19599
sure

[2018-05-04 03:46] JasonGiedymin commented on #13013
I know this is old but I figured I'd chime in with some information, and a caveat.

Even though `heketi` can dynamically provision, you should still go about and create both the PV and PVC.

Once a volume is created, you should see the volume info both from using the `heketi-cli` from the `heketi` pod, or the `gluster-cli` from the `gluster` pod.

For testing, you can see that there is a large lis

[2018-05-04 03:51] JasonGiedymin commented on #13013
I'm going to reopen this issue, only to see if I can illicit a hands on test/response from RH. :-)

/reopen

[2018-05-04 03:53] JasonGiedymin commented on #13013
/remove-lifecycle rotten ?

[2018-05-04 03:56] JasonGiedymin commented on #12985
I'm going to link my update to a related ticket:  https://github.com/openshift/origin/issues/13013

[2018-05-04 06:04] #17537 closed

[2018-05-04 06:04] #17555 closed

[2018-05-04 06:04] #17538 closed

[2018-05-04 06:29] praveenkumar opened #19621 "[oc cluster up] Failed to install "openshift-image-registry": error ensuring remote host registry directory permissions (docker for mac)"
##### Version
[code]
##### Steps To Reproduce
1.  oc cluster up

##### Current Result
[code]
##### Expected Result
Should be successful.

##### Additional Information
[code]

CC @mfojtik

[2018-05-04 06:32] praveenkumar commented on #19614
@ashearer23 You might have to add your server IP in no proxy to make sure when oc cluster up makes the request to check server status it doesn't go through the proxy.

[2018-05-04 07:08] praveenkumar opened #19622 "[oc cluster up] PV is not created when remote docker daemon used."
##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result
No PV directory available.
##### Expected Result
PV should be there.

CC @mfojtik

[2018-05-04 07:16] #19379 closed

[2018-05-04 07:41] rokukapsch commented on #19583
I ran into the same issue, but even without upgrading. Looks like there was a change in openshift-ansible which led to wrong permissions beeing setup on tls.crt. The old version I was using (https://github.com/openshift/openshift-ansible/commit/fabeed583c2d409f8a881fedda4a24ff216c821f) is still working fine. Wondering why noone else has this problem.

[2018-05-04 08:04] hdonati commented on #19609
It seems that new defaultNodeSelector is the culprit. If we restore it to empty, pods can start :
[code]

[2018-05-04 11:47] bparees commented on #19608
that's weird, i definitely removed your "fixes" text from the PR, dunno why this got closed.  reopening per my comments above.

[2018-05-04 11:49] hdonati commented on #19583
- Updated the cluster with _openshift_web_console_install=false_
- Then installed manually webconsole => Failed just like previously
- Followed https://access.redhat.com/solutions/3428351

It works !

[2018-05-04 11:51] #18232 closed

[2018-05-04 11:51] #17794 closed

[2018-05-04 11:57] hdonati commented on #19609
I would nevertheless understand how this could occur and if I have to perform something on my nodes

[2018-05-04 11:57] #19609 closed

[2018-05-04 13:07] #7074 closed

[2018-05-04 14:35] jwforres commented on #19605
@openshift/sig-storage

[2018-05-04 16:02] jonkstevenson commented on #19575
I would have to boot backup the gpu system.
But did follow the documentation and executed: chcon -t container_file_t  /dev/nvidia*

If found that the changes aren't persistent across reboots.  But if I fail to do this, the container will not start.

As you saw though in my post, I am able to get GPU containers both scheduled and running correctly now without the use of the nvidia plugin pod.  In m

[2018-05-04 16:13] spadgett commented on #19143
https://bugzilla.redhat.com/show_bug.cgi?id=1574935

I think the fix is just to check pod readiness instead of trying to curl the service from the master. The readiness probe will already check the health endpoint, so I don't see a real benefit to using curl.

[2018-05-04 17:35] MohamedElso opened #19626 "Docker build failed :No route to host"
Hi All,
i hope someone can give me some suggestions for this I have this error when i try to build docker file
it stuck at this step:
==========
RUN yum install -y php-cli.x86_64
# RUN yum install -y php-common.x86_64 ## Should already be there installing cli

ENV HTTP_PROXY= HTTPS_PROXY= http_proxy= https_proxy=
======
here some info
==============
openshift v3.7.42
kubernetes v1.7.6+a08f5eeb62

[2018-05-04 18:06] #16769 closed

[2018-05-04 18:25] jwforres commented on #19614
@openshift/sig-master

[2018-05-04 18:26] jwforres commented on #19621
@openshift/sig-master

[2018-05-04 18:27] jwforres commented on #19622
@openshift/sig-master

[2018-05-04 18:27] bparees commented on #19608
Ah, probably. I looked at that but I guess github just showed me the first line of the text. [shrug]

[2018-05-04 18:29] jwforres commented on #19626
@openshift/sig-developer-experience

[2018-05-04 18:35] bparees commented on #19626
How are you building it? And can you provide your dockerfile?

[2018-05-04 19:02] MohamedElso commented on #19626
Hi ,
i am build from inside openshift , kind: BuildConfig

here is the dockerfile
======
FROM docker.elastic.co/logstash/logstash:6.2.3

USER root
RUN yum install -y php-cli.x86_64
# RUN yum install -y php-common.x86_64 ## Should already be there installing cli

ENV HTTP_PROXY= HTTPS_PROXY= http_proxy= https_proxy=

RUN chgrp -R 0 /usr/share/logstash && \
    chmod -R g+w /usr/share/logstash && \

[2018-05-04 19:35] spadgett commented on #19143
https://github.com/openshift/openshift-ansible/pull/8274 changes how we verify the console is installed, which will workaround problems resolving the service hostname

[2018-05-04 19:42] MohamedElso commented on #19626
Hi,
xyz:80 is the proxy url.
P.S : just replace any critical data by "xyz"
this my buildConfig.yaml

==================
apiVersion: v1
kind: BuildConfig
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewBuild
  creationTimestamp: ''
  labels:
    build: elastash
  name: elastash
  namespace: elastic-connector
  resourceVersion: '23164912'
  selfLink: /oapi/v1/namespaces/xyz/build

[2018-05-04 19:54] bparees commented on #19626
can I see the full output from your build log?  preferably using --build-loglevel=5

it seems like your "env http_proxy=" line is not clearing out the http_proxy env var you are setting in your buildconfig, i'd like to see which is being processed first.

[2018-05-04 20:13] wabouhamad opened #19628 "New feature request for Cluster-Loader to support passing option "--skip-config-write=true" when creating new projects"
Need cluster-loader (test/extended/cluster/cl.go) to supporting passing the option "--skip-config-write=true" when creating new projects with oc new-project command.  This will accelerate the time it takes to create large number of projects during scale and system tests.

##### Version
oc v3.10.0-0.32.0
openshift v3.10.0-0.32.0
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce
1. Create 500+ pr

[2018-05-04 20:37] MohamedElso commented on #19626
Cloning "http://xyz/elastash.git" ...
	Commit:	xyz (add proxies)
	Author:
	Date:
Step 1 : FROM docker.elastic.co/logstash/logstash@xyz
 ---> 5ce052f3ad18
Step 2 : ENV "HTTP_PROXY" "http://xyz:80/" "HTTPS_PROXY" "http://xyz:80/" "NO_PROXY" "
 ---> Using cache
 ---> 218ff1879986
Step 3 : USER root
 ---> Using cache
 ---> 214e3c4cb425
Step 4 : ENV HTTP_PROXY xyz:80 HTTPS_PROXY xyz:80 http_proxy xyz:8

[2018-05-04 20:45] bparees commented on #19626
are you sure your dockerfile says
[code]

because this log would imply otherwise:
[code]

Also the commit message for the commit the build cloned says:
[code]

So I strongly suspect your dockerfile doesn't say what you think it says.

[2018-05-04 21:08] MohamedElso commented on #19626
yes, I am sure even if I added the proxy url directly inside the dockerfile it is not working also, i don't know if it is a network problem or something else, related to yum Repo. in the machine , or proxy policy block the traffic.
Thanks

[2018-05-04 21:16] bparees commented on #19626
Adding the proxy url *is* the problem.

[code]

means your docker network cannot reach your proxy host.

I thought you were trying to *unset* the proxy.  If you are trying to make sure all your yum traffic goes through that proxy, then you need to sort out why your docker containers are unable to resolve "xyz".

[2018-05-04 21:36] junsaw commented on #19143
@spadgett  that allowed me to by pass the web_console installer.
Thanks Once Again.

[2018-05-05 00:09] HP-dufeng commented on #19482
Oh, I,m sorry,
I made a mistake in this paragraph
**192.168.3.52** is my dns server
192.168.3.53 is my openshift master node
[code]
when I change this line address=/cefcfco.com/192.168.3.53
with address=/apps.cefcfco.com/192.168.3.53
The above problem has not appeared.

[2018-05-05 02:42] mmclanerh opened #19631 "OpenShift 3.9 client sometimes drops rsh output or returns success when errorcode is not successful"
When using oc -n project rsh whatever -- I will intermittently have the following happen:
- Not get any output (and get a successful errorcode from oc)
- Get maybe 1500bytes or less of output, truncated (again, with a sucessful errorcode from oc)
- Get full output, but not receive an error code back (when the command returns an error)

##### Version
$ oc version
oc v3.9.0+191fece
kubernetes v1.9.1

[2018-05-05 05:43] #19497 closed

[2018-05-05 06:08] #17419 closed

[2018-05-05 06:08] #17438 closed

[2018-05-05 06:08] #17439 closed

[2018-05-05 11:45] spadgett commented on #19143
@junsaw Thanks for verifying the fix. Can you confirm that the web console is actually working for your cluster?

[2018-05-05 12:09] #14450 closed

[2018-05-05 15:18] ducpham1996 opened #19632 "Unable to mount volumn to pod"
Version: starter-ca-central-1

**Steps To Reproduce**

1. Add storage to the deployment
2. Wait for deployment processes

**Current Result**

Binding persistent storage failed.

**Expected Result**

Mount volume successfully

[2018-05-05 18:10] #17490 closed

[2018-05-06 00:11] #17591 closed

[2018-05-06 00:11] #17592 closed

[2018-05-06 00:11] #17602 closed

[2018-05-06 01:29] #19632 closed

[2018-05-06 04:55] alikhajeh1 commented on #13013
/reopen

[2018-05-06 12:12] #6293 closed

[2018-05-06 18:12] #17376 closed

[2018-05-07 00:12] #17665 closed

[2018-05-07 02:10] Misterhex commented on #19604
@sjenning you mentioned to delete everything under '/var/lib/dockershim', do you know what the directory structure would be like for 'overlay2'?

are there any articles/documentations about CNI checkpoints files and where they reside?

many thanks.

[2018-05-07 02:16] Misterhex commented on #19604
@sjenning would it be possible to disable checkpoints?

[2018-05-07 03:26] donovanmuller commented on #17210
Confirmed this is working in the 3.9.0 release.

[2018-05-07 03:26] #17210 closed

[2018-05-07 06:12] #17630 closed

[2018-05-07 07:24] Kisen-Chin opened #19633 "TASK [openshift_version : Get available origin version] pkg_version['release'] = pkg_info[1] IndexError: list index out of range"
[root@master ~]# openshift version
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
etcd 3.2.16

[root@master ~]# oc version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.example.com:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
[root@master ~]#

I have master and three nodes. And during the installation, I

[2018-05-07 09:53] calston opened #19634 "Separate identityProvider name from the login screen name"
The 'name' field of an identityProvider is used in the login template.

Currently there seems no way to separate these two things, so you get ugly provider names in the login screen unless you rewrite the whole template, or use a pretty name as the name (which limits your choice of names and grammar).

There should be a "display name" or some such field to let people customise how an identity prov

[2018-05-07 10:46] praveenkumar opened #19635 "make build fail on master (go version 1.9.4) [Mac OS]"
##### Steps To Reproduce

[code]

##### Current Result
Failed with error.

##### Expected Result
Should be successfully

##### Additional

[code]

[2018-05-07 13:01] adambkaplan commented on #19526
@mfojtik looks like a more recent change is also breaking `cluster up` on macOS:
[code]
I believe the challenge is that on macOS, cluster up sets the `DOCKER_HOST` env var to a local unix socket.

Adding @openshift/sig-master and @openshift/sig-developer-experience

[2018-05-07 13:03] mfojtik commented on #19635
@smarterclayton @openshift/sig-master will bump the limit in the linked PR

[2018-05-07 13:14] mfojtik commented on #19526
@adambkaplan i think the Docker4Mac does not set that var up, so in OSX everything should work as before... Can you provide the logs from the container?

[2018-05-07 13:30] adambkaplan commented on #19526
also @LalatenduMohanty Docker CE for Mac 18.0.3 has a bug that breaks the OpenShift registry. Use [17.09.1 instead](https://docs.docker.com/docker-for-mac/release-notes/#docker-community-edition-17091-ce-mac42-2017-12-11)

[2018-05-07 14:16] sjenning commented on #19604
No, they are a well kept secret unfortunately

No. Checkpointing is needed by the CNI in order to re-associate network resources with pods in the event of a node/kubelet restart.

[2018-05-07 14:25] megastallman opened #19636 "Cannot schedule hostPorts on masters"
My deployment breaks on pods scheduling on master nodes. It has successfully been  working with Tectonic, but now I'm planning to move to Openshift.
##### Version
openshift v3.9.14
##### Steps To Reproduce
This is just a simplified example, used to detect this problem.
[code]
##### Current Result
[code]

##### Expected Result
I should have all those pods scheduled.
##### Additional Information
[co

[2018-05-07 15:03] jwforres commented on #19628
@openshift/sig-scalability

[2018-05-07 15:07] jwforres commented on #19631
@openshift/sig-master

[2018-05-07 15:09] jwforres commented on #19634
@openshift/sig-security

[2018-05-07 15:10] jwforres commented on #19633
@openshift/sig-cluster-lifecycle

[2018-05-07 15:15] crmarques commented on #17676
Any news?

Docker is trying to pull the image "docker.io/openshift/origin-metrics-cassandra:v3.9.0", however the tag "v3.9.0" does not exist. Only "v3.9".

https://hub.docker.com/r/openshift/origin-metrics-cassandra/tags/

[code]

[2018-05-07 15:16] jwforres commented on #19636
@openshift/sig-pod

[2018-05-07 15:34] ashearer23 commented on #19614
Thank you @praveenkumar, that worked!

[2018-05-07 15:34] #19614 closed

[2018-05-07 16:27] sjug commented on #19628
Hey @wabouhamad is there any reason this shouldn't be the default for project creation?

[2018-05-07 16:28] megastallman commented on #19636
Resolved it myself. The labels need tuning. Here is my inventory file snippet:
[code]
The fourth node, not included to master section, already has the compute label.

[2018-05-07 16:28] #19636 closed

[2018-05-07 16:38] mffiedler commented on #19628
@sjug It should be the default.   Having it set to false puts the user into the context of the new project which is good for interactive, but unnecessary for automation and scripts.

[2018-05-07 16:55] enj commented on #19634
The expectation is that you customize the template as you see fit (either via Go code or JS).  There are no plans to add a "display name" field to the identity providers struct.

[2018-05-07 17:28] #19634 closed

[2018-05-07 17:42] gabemontero commented on #19058
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19612/test_pull_request_origin_extended_conformance_gce/20075/

[2018-05-07 18:08] jpeeler commented on #19058
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19637/test_pull_request_origin_extended_conformance_gce/20084/

[2018-05-07 18:48] calston commented on #19634
Seems excessive to require people write a custom login screen for such a simple thing

[2018-05-07 18:57] simo5 commented on #19634
It's just a tweak of existing templates, not a whole new log-in screen.

[2018-05-07 19:51] DanyC97 commented on #17464
@dcbw fyi just sent you an email, again sorry for very long delay.

[2018-05-07 20:14] ashearer23 opened #19640 "Unable to resolve proxy from git clone of openshift-jee-sample repo"
I have Origin 3.9 installed on my CentOS 7.4 VM and I am trying to install the sample Java project in Wildfly

##### Version
openshift v3.9.0+d0f9aed-12
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. Go to webconsole
2. Select Wildfly
3. click Next
4. Add to an open project
5. for the Git Repository, just under it click 'try Sample Repository' and it is auto filled with: https://github.

[2018-05-08 00:12] #17673 closed

[2018-05-08 00:55] Kisen-Chin commented on #19633
Hi, I found my node2 is centos 7.4 and other nodes are 7.3.  I reinstalled my node2 to be 7.3 and the issue don't happen again. Maybe the system version cause this issue?

[2018-05-08 02:06] #19143 closed

[2018-05-08 04:33] Misterhex commented on #19604
@sjenning it seems like we are running the "kubelet" (atomic.node) in a container and the "/var/lib/dockershim" folder was not mount on the host machine, in the event of container restart, the checkpoint files are lost.  Could this be the issue you would envision? Thanks.

[2018-05-08 06:28] rokukapsch commented on #19583
Thanks! That really helped.

[2018-05-08 06:48] Misterhex commented on #19604
We resolved the issue by bind mounting "/var/lib/dockershim" in atomic-kubelet-node container to the host "/var/lib/dockershim"

[2018-05-08 06:48] #19604 closed

[2018-05-08 08:32] jcias commented on #19124
It looks like this was resolved actually somewhere between 1.5.1 and 1.7 (3.7) version as after we've upgraded to 3.7 we did not encounter such behavior any more. It appears this is a known bug which was described [here](https://access.redhat.com/solutions/3077711) and [here](https://bugzilla.redhat.com/show_bug.cgi?id=1462338), resolved by OpenShift version 3.5.5.31, most probably not resolved in

[2018-05-08 08:32] #19124 closed

[2018-05-08 10:36] containscafeine opened #19644 "dc.status returns stale data"
Retrieving the replica count in 2 different ways returns different results.

[code]

So dc.status does not return the current state of the Deployment Config. The pods are up and running and healthy, the expected replica count is 1, but dc.status returns 0.

##### Version
[code]

CC: @jaseemabid

[2018-05-08 12:46] wabouhamad commented on #19628
@sjug we can probably wait for the concurrency PR to merge if it is close to completion

[2018-05-08 12:46] sjug commented on #19628
Closing, created PR https://github.com/openshift/origin/pull/19645

[2018-05-08 12:46] #19628 closed

[2018-05-08 12:47] sdodson commented on #19633
@Kisen-Chin That shouldn't cause this problem. It was likely a temporary repository problem, the error message is less than helpful but I don't think this is a reproducible problem.

[2018-05-08 12:47] #19633 closed

[2018-05-08 12:49] Kisen-Chin opened #19646 "openshift stuck at cloning a repo"
Cloning "https://github.com/nichochen/mybank-demo-maven.git " ...
  | Commit:	5f550ef361dc1abad8a32a00334a327f3e713568 (Fix Chinese characters)
  | Author:	Geng Chen <nicosoftware@msn.com>
  | Date:	Thu Aug 25 23:30:23 2016 +0800

I want to build a simple java app on openshift web console. But after create project->add to project -> select wildfly -> filled github repo url ->start build and deploy

[2018-05-08 13:52] olc commented on #19605
Just to let you known that I face a similar problem. I have installed the vsphere provider with ansible. Not sure it is the proper way to do that though.

[code]

[code]

[code]

[2018-05-08 14:05] cpitman commented on #9489
/remove-lifecycle stale

[2018-05-08 14:16] deads2k commented on #19588
I accidentally fixed this in https://github.com/openshift/origin/pull/19616

[2018-05-08 14:16] #19588 closed

[2018-05-08 14:30] nickdk commented on #13771
@stevekuznetsov @knobunc  Any update on this? Also a relevant and annoying issue for some of our use cases that these headers simply get overridden even if they are already set.

[2018-05-08 14:39] gnufied commented on #19605
Opened https://github.com/openshift/origin/pull/19648 to remove the need of client access altogether from vmware cloudprovider.

[2018-05-08 15:08] travisn opened #19649 "Privileged pod cannot write to hostPath volume"
In OpenShift a privileged pod cannot write to a `hostPath` mounted volume. The pod is denied access from any writes. The writes are denied if the scc constraints `allowHostDirVolumePlugin` and `allowPrivilegedContainer` are set to `true`.

It is entirely possible that some policy is missing on the cluster role, although when the policies are set as described above, even `system:admin` hits this is

[2018-05-08 15:13] knobunc commented on #13771
@nickdk you can customize the router template (https://docs.openshift.com/container-platform/3.3/install_config/router/customized_haproxy_router.html)

I'll have to check, but I thought our default configuration added another x-forwarded for header, so you could look N back to see the right one for your environment.

[2018-05-08 16:02] rvm8h opened #19651 "Could not create Openshift Configuration"
Starting a clean install of Openshift Origin V3.7.2  I got the following error.
 Error: could not create OpenShift configuration

##### Steps To Reproduce
oc cluster up

##### Current Result
Image pull complete
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing OpenShift container ... OK
-- Checking for openshift/origin:v

[2018-05-08 16:23] mdunnerelx opened #19652 "Memory disparity, possible leak."
Description:

When examining memory utilization I see a disparity between what open shift reports via hawkular, and what docker stats reports. This creates issues when setting resource limits.

##### Version

oc version
oc v3.7.2+282e43f
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

Server https://openshift-master.els-ols.com:443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### St

[2018-05-08 18:12] #17459 closed

[2018-05-08 18:57] cjohnston23 commented on #19583
I'm having the same prob after 3.9 upgrade.  Is there a less aggressive way to fix the current SCC's?  It makes me nervous resetting them back to default since I have other custom entries in SCC that would be affected by this.

[2018-05-08 19:01] cjohnston23 commented on #19583
rokukapsch do you remember the tag for openshift-ansible you used that didn't have this issue?

[2018-05-08 20:37] strowk commented on #13771
Well, yes we do that, but it's a hack, which needs to be maintained during upgrades. Not cool.

Well if you mean the default one - https://github.com/openshift/origin/blob/master/images/router/haproxy/conf/haproxy-config.template
so configuration by default is
`  http-request set-header X-Forwarded-Proto http if !{ ssl_fc }`
where `set-header` means - "HAProxy can set a Header field in the request

[2018-05-08 23:13] dempile commented on #19646
I have the same problem

Cloning "https://github.com/openshift/openshift-jee-sample.git" ...
--
 pulling image "openshift/wildfly-101-centos7@sha256:e6b024745274fc786155a5103fbe4913bbfe1d5c51a31bd7f634a08c3b012750" timed out after 2m0s

[2018-05-09 00:56] Kisen-Chin commented on #19646
more log here:
Cloning "https://github.com/nichochen/mybank-demo-maven.git " ...
	Commit:	5f550ef361dc1abad8a32a00334a327f3e713568 (Fix Chinese characters)
	Author:	Geng Chen <nicosoftware@msn.com>
	Date:	Thu Aug 25 23:30:23 2016 +0800
pulling image error : pulling image "docker.io/openshift/wildfly-101-centos7@sha256:e6b024745274fc786155a5103fbe4913bbfe1d5c51a31bd7f634a08c3b012750" timed out afte

[2018-05-09 00:57] Kisen-Chin commented on #19646
But the main problem is that git clone is so slow...if I git clone directly on master or slave node, the speed is fast . But if I use web console to deploy, the git clone could be very very slow.

[2018-05-09 03:26] pennpeng opened #19659 "error setting the external host value: "openstack" cloud provider could not be initialized: could not init cloud provider "openstack": Authentication failed"
### origin:
[code]
### openstack ocata

deploy use openshift-ansible,the api service can't start:
[code]

[2018-05-09 03:33] system-dev-formations commented on #19651
Sorry  I am using the latest version of Docker which is not suitable for Openshift now.

[2018-05-09 03:50] shaunmp opened #19660 "Project with provisioned service stuck in marked for deletion state"
Upon deleting a project containing a provisioned service (via ASB), the provisioned service gets stuck in a marked for deletion state.

##### Version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. Provision an ASB item to a new project.
2. Delete the project.

##### C

[2018-05-09 04:44] #19608 closed

[2018-05-09 05:48] rokukapsch commented on #19583
@cjohnston23 I did not upgrade Openshift. But back then when using https://github.com/openshift/openshift-ansible/commit/fabeed583c2d409f8a881fedda4a24ff216c821f I didn't encounter that problem. But maybe now also something in openshift itself changed.

[2018-05-09 06:07] mali0190 commented on #17449
Same error... Any one resolve this error...
when I login my openshift cluster with command:
oc login -u system:admin --config=/etc/origin/master/admin.kubeconfig
but I get an error
error: Forbidden

Version
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
etcd 3.2.1
oc v3.6.1+008f2d5

Steps To Reproduce
oc login -u system:admin --config=/etc/origin/master/admin.kubeconfig

Current Result
erro

[2018-05-09 06:13] #15895 closed

[2018-05-09 07:02] wozniakjan commented on #17649
https://github.com/openshift/origin/pull/19584 given we now tolerate any nonzero page count, is it safe to assume this issue can be closed?

cc @jim-minter @bparees @coreydaley

[2018-05-09 09:30] tnozicka commented on #18127
@micah could you also dump the namespace? `oc get namespace <name> -o yaml` There is additional annotation configuring project default node selector which might possibly cause this.

[2018-05-09 10:00] wenchma opened #19661 "helm cannot connect to tiller in openshift"
helm cannot connect to Tiller server  installed by openshift tiller-template

##### Version
[code]

##### Steps To Reproduce
1.
[code]
2.
[code]

##### Current Result
Error: cannot connect to Tiller

##### Expected Result
success to connect to Tiller

##### Additional Information
[code]

[2018-05-09 10:44] mfojtik commented on #19644
@containscafeine does it eventually update? it might that just the controller is slow updating the DC state.

[2018-05-09 10:52] jaseemabid commented on #19644
@mfojtik We were playing around on a relatively low load cluster and the update did not propagate for at least 15 minutes. Would you want us to wait longer and check if it will eventually happen or is 15m too long anyway? Happy to help! :+1:

[2018-05-09 11:55] rvm8h commented on #19651
Ok, you should use docker version docker-ce-17.09.1.ce-1.el7.centos, this version of docker is the latest for running Openshift
ATTENTION: If you do a `yum -y update,` your docker version is upgraded and Openshift doesn't work anymore.

[2018-05-09 12:17] #19526 closed

[2018-05-09 12:17] #19622 closed

[2018-05-09 12:17] #19635 closed

[2018-05-09 12:27] sdodson commented on #15692
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/8227/test_pull_request_openshift_ansible_extended_conformance_gce_39/249/

[2018-05-09 12:31] Reamer commented on #19605
@gnufied Why do you think that PR #19648 fixes this problem? Do I have a problem with the node to vSphere connection?

[2018-05-09 12:44] tnozicka commented on #19644
use `oc get dc <name> -o yaml` if you want to see the status.

[code]

/close

[2018-05-09 12:44] #19644 closed

[2018-05-09 12:57] dmage commented on #10585
/remove-lifecycle stale

[2018-05-09 13:03] knobunc commented on #18914
The problem is that there is no tight coupling between the pieces of the system. The router only learns that the backing pods are gone when the endpoint updates.  BUT the router can't immediately reload (reloads are rate limited, and even when it can immediately reload, a reload can take a few seconds to a minute depending on the number of routes and the speed of the box).

With haproxy 1.8 we can

[2018-05-09 13:03] #18914 closed

[2018-05-09 13:18] containscafeine commented on #19644
@tnozicka ah, got it. But then `oc export` should not even print the `dc.status` field because that is printing incorrect information which is very misleading for the end user. Is there an issue to remove the status field for `oc export` output altogether?

[2018-05-09 13:49] bparees commented on #17649
yeah we'll hopefully not see this anymore w/ that test change.

[2018-05-09 13:49] #17649 closed

[2018-05-09 14:50] sdodson commented on #15692
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/8307/test_pull_request_openshift_ansible_extended_conformance_gce_39/252/

[2018-05-09 15:36] nicolaferraro opened #19663 "ImageStream lookupPolicy is ignored in 3.9.0"
On Openshift 3.7.x we used to set "lookupPolicy" -> "local" to true on ImageStreams in order to use them in StatefulSets or other Kubernetes-only objects (for all builds with the fabric8-maven plugin).

But Openshift 3.9.0 seems not to lookup image streams with local lookup policy from the same project.
In the following example, the `spring-boot-camel-xa:latest` image is ignored and Openshift trie

[2018-05-09 16:29] djzager commented on #19661
My belief is that you will have to specifically target the namespace in which tiller resides in helm. Example:

[code]

[2018-05-09 16:38] djzager commented on #19661
I can confirm that you must supply the `--tiller-namespace` argument to helm.

[code]

[2018-05-09 17:29] travisn commented on #19649
This really does look like an issue with the `restricted` scc. When using the `privileged` scc, the writes succeed to the host path volume. Now to find what needs to be added to the scc...

[2018-05-09 18:30] travisn commented on #19649
Ok, i found that setting the following on the restricted scc allows the pod to be created:
[code]

Is there a more restrictive policy that would be better to use? If not, we can close this.

[2018-05-09 18:51] stevekuznetsov commented on #14597
/close

[2018-05-09 18:51] #14597 closed

[2018-05-09 18:51] simo5 commented on #19649
Not clear to me why you would modify the restrictive SCC instead of creating a new one, but seem like there is nothing to be actually solved in this issue, so closing.
Thanks.

[2018-05-09 18:51] #19649 closed

[2018-05-09 18:52] jwforres commented on #19640
do any of the examples work? sounds like a problem with your default proxy settings

@openshift/sig-developer-experience

[2018-05-09 18:55] jwforres commented on #19646
the web console isn't doing anything special here, everything is happening on the backend, its just streaming the build logs to the console

if you get the logs for that same build through the CLI, does it still look stuck?

@openshift/sig-developer-experience @openshift/sig-user-interface

[2018-05-09 18:57] jjo opened #19666 "AWS: Creating LoadBalancer service fails if more than one SGs with same `kubernetes.io/cluster/openshift-cluster` tag are attached to worker nodes"
[provide a description of the issue]
Creating a Service `type=LoadBalancer` in AWS fails if worker nodes have more than one SG with same
`kubernetes.io/cluster/openshift-cluster` tag, error message:

[code]

This was reported in Kubernetes upstream at kubernetes/kubernetes#23339 , fixed 2 years ago by kubernetes/kubernetes#23340

##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
feature

[2018-05-09 19:01] bparees commented on #19646
based on this:

[code]

it is not the clone that is timing out, it is docker attempting to pull an image.  Can you successfully pull this image from your docker daemon on your host nodes?

[2018-05-09 19:26] jwforres commented on #19659
@openshift/sig-cluster-lifecycle

[2018-05-09 19:29] jwforres commented on #19660
@openshift/sig-ansible-service-broker

[2018-05-09 19:33] jwforres commented on #19661
@wenchma if this answers your question please close the issue

@openshift/sig-developer-experience

[2018-05-09 19:38] jwforres commented on #19663
@openshift/sig-developer-experience

[2018-05-09 19:49] sdodson commented on #19659
@pennpeng how was this environment provisioned?

[2018-05-09 19:52] bparees commented on #19663
image lookup behavior is controlled by the master-config settings:
https://docs.openshift.org/latest/admin_guide/image_policy.html#image-policy-configuring-the-image-policy-admission-plug-in

to get the default behavior, the imagepolicyconfig must at least be present (even if only w/ an empty config).

So you'll need to check what the master-config looks like.

[2018-05-09 19:53] bparees commented on #19663
Also I would advise you to open this issue against the minishift repo where the minishift team can address any changes they've made in default configuration settings: https://github.com/minishift/minishift

[2018-05-09 19:53] jwforres commented on #19666
@openshift/sig-networking

[2018-05-09 20:09] bparees commented on #19663
i've checked the default config for a minishift v3.9 instance and indeed the admissionconfig section has not enabled the imagepolicyconfig admission controller:
[code]

the config would need to contain:
[code]

at a minimum to enable the plugin.

i'm going to close this but you can open the issue against minishift to change how they are defining their config to enable it properly.

[2018-05-09 20:09] #19663 closed

[2018-05-10 02:36] ashearer23 commented on #19640
Looks like I didn't have git installed on the machine. once I installed it and configured the global http and https proxies it worked.

[2018-05-10 02:36] #19640 closed

[2018-05-10 02:44] ashearer23 opened #19669 "Unable to log into Jenkins pod"
When I installed the Jenkins application to its own pod and go to the provided route I get the login screen for Jenkins, but I don't have a login that I know of for this service.

##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Install the Jenkins service to a project
2. go to the project you installed jenkins to

[2018-05-10 05:17] jaseemabid commented on #19644
@tnozicka I'd expect export to either return the correct value or return nothing at all. This is quite non intuitive and i'd say is a bug.

[2018-05-10 07:08] Kisen-Chin commented on #19646
Hi, I think the git clone now works fine. Maybe these days I have poor network. Thanks your help on this issue.

[2018-05-10 07:08] #19646 closed

[2018-05-10 07:18] Kisen-Chin opened #19670 "openshift failed to deploy django+postgresql due to no module django"
When I use this url https://github.com/openshift/origin/blob/master/examples/quickstarts/django-postgresql.json to deploy the django+postgresql on to openshift, the postgresql started successfully but django app failed
The failed log is:
`
  | Cloning "https://github.com/openshift/django-ex.git " ...
-- | --
  | Commit:	37f7fc41432b9c07265c5896a4fb226caa870427 (Merge pull request #115 from hhorak/

[2018-05-10 07:52] wenchma commented on #19661
it works for the following running cmd:
[code]

[2018-05-10 09:17] mfojtik commented on #19644
@containscafeine @jaseemabid i agree it looks bad, but the status field is not optional and thus the serializer will default all fields when exporting the object. The export is more suitable when you want to backup and then restore (apply/create) the object again, where the status does not matter at all. If you want to introspect the YAML of the resource, the `oc get -o yaml` will get you want you

[2018-05-10 09:19] mfojtik commented on #19621
@praveenkumar I think we fixed this with my last PR, can this be closed?

[2018-05-10 09:38] praveenkumar opened #19671 "oc cluster up put json data to openshift-apiserver/master-config.yaml instead yaml format."
##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result
It is json data dump instead a yaml format.

##### Expected Result
This should be yaml data.

CC @mfojtik

[2018-05-10 09:41] mfojtik commented on #19671
@deads2k I think @liggitt was asking about this a week or two ago...

[2018-05-10 09:58] containscafeine commented on #19644
@mfojtik the field not being optional and hence printing default values, is an implementation detail, which should be fixed so as to not output incorrect information to the end user. The point is to not return incorrect information, right?
The status field could be explicitly deleted after serialization, WDYT?
IMO, printing incorrect information to the user is a pretty serious bug.

[2018-05-10 10:05] wenchma commented on #19661
@djzager  I have another problem,  any idea ? Thanks.
[code]

[2018-05-10 10:32] ftcvlad commented on #16529
@tocosonic exactly!

My app does http and websocket requests. So, I need to map to two ports. I can do it with 2 routes, but in this case since host names are different, I cannot use same session cookie

[2018-05-10 11:11] soltysh commented on #19644
`oc export` is deprecated, in favor of `oc get --export`.

[2018-05-10 12:05] praveenkumar commented on #19663
@bparees  @nicolaferraro  Minishift doesn't change the openshift config file and solely depend on `oc cluster up` if you try to do `oc cluster up` with 3.9 then also you are going to get the same configuration.

I think this should be tagged with oc cluster up instead closing if at all it's possible.

[code]

[2018-05-10 12:13] #17531 closed

[2018-05-10 12:47] djzager commented on #19661
@wenchma I'm glad that I was able to help out, even if only a little bit. I have played around with helm & tiller in OpenShift to have know what is needed for helm to be able to communicate with tiller, but I do not have a whole lot of experience with specific helm charts (or even what this specific error message is trying to tell you). According to [Helm's listed support channels(https://github.c

[2018-05-10 13:10] lrhazi commented on #17593
The comment above about TLS SNI was key for me... I had same issue, https traffic was being terminated and then re-encrypted by a loadbalancer... I made the LB pass traffic through, without terminating ssl, and the issue is gone! Am sure this documented somewhere?  that kube needs TLS SNI to identify the hostnames and be able to route traffic. Thank you!

[2018-05-10 13:26] sjug commented on #19454
Wouldn't passing a file or environment variable be sufficient for the functionality listed? What were you thinking as a mechanism for passing this into the pods?

[2018-05-10 13:27] sjug commented on #19454
Where can one measure these metrics?

How were you thinking that cluster loader passes this information to the pods?

[2018-05-10 13:47] bparees commented on #17593
@lrhazi https://docs.openshift.org/latest/dev_guide/expose_service/expose_internal_ip_router.html#overview

"A router is configured to accept external requests and proxy them based on the configured routes. This is limited to HTTP/HTTPS(SNI)/TLS(SNI), which covers web applications."

[2018-05-10 14:52] stevekuznetsov commented on #18516
/lifecycle frozen

[2018-05-10 14:53] bparees commented on #19058
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19664/test_pull_request_origin_extended_conformance_gce/20199/

[2018-05-10 15:09] dusansusic opened #19678 "Pods are not started when defined with DaemonSet - MatchNodeSelector failed"
Daemon set is applied but cannot run pods.

##### Version
[code]

Nodes:
[code]

Lables are applied:
[code]

##### Steps To Reproduce
1. Deploy ds
2. Pods are insanely fast recreated but not ever being run.

##### Current Result
[code]
##### Expected Result
To run pods normally.

if I create pod:
[code]
It will work without issues but registering pods with daemonset is not possible. Also, deployin

[2018-05-10 16:49] bparees opened #19679 "[Feature:DeploymentConfig] deploymentconfigs with multiple image change triggers [Conformance] should run a successful deployment with a trigger used by different containers"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19677/test_pull_request_origin_extended_conformance_gce/20211/

[2018-05-10 16:51] jwforres commented on #19678
@openshift/sig-pod

[2018-05-10 16:58] aveshagarwal commented on #19678
@dusansusic did you check the pods logs why are they failing?

[2018-05-10 18:52] enj commented on #19669
You log in with your OpenShift credentials.

cc @gabemontero

[2018-05-10 19:18] bparees opened #19681 "[Feature:DeploymentConfig] deploymentconfigs with test deployments [Conformance] should run a deployment to completion and then scale to zero"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19677/test_pull_request_origin_extended_conformance_gce/20221/

[2018-05-10 19:37] gabemontero commented on #19669
@enj is correct .... use the same login you use for entering the openshift console ... or if you are only using the cli, run `oc whomai` and use that ID

[2018-05-10 20:13] bparees commented on #19015
@fenggolang i think we've addressed your question but please comment back if we have not.

[2018-05-10 20:13] #19015 closed

[2018-05-10 20:25] bparees commented on #8771
looks like this is resolved so we might actually be able to fix this now: https://github.com/kubernetes/kubernetes/issues/2707
/remove-lifecycle stale
/lifecycle frozen

[2018-05-10 20:39] bparees commented on #19058
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19677/test_pull_request_origin_extended_conformance_gce/20223/

Seems pretty frequent again.

[2018-05-10 20:47] php-coder commented on #19575
Unfortunately, the SCC from the blog is incorrect and that's why you have this error.

[code]
Specifying this makes no sense, because these values are passed to a container runtime directly. So, essentially, it invokes Docker with `--cap-app CAP_*` parameter.

[2018-05-11 00:13] #16746 closed

[2018-05-11 02:12] wenchma commented on #19661
@jim-minter  I see your blog [getting-started-helm-openshift](https://blog.openshift.com/getting-started-helm-openshift/), it's very good for a beginner.  Do you run into the problem of installing helm chart ? Do I also need to modify `.kube/config` or other config ?  thanks.

[2018-05-11 02:12] wenchma commented on #19661
@djzager thanks for your msg, it's very helpful 👍

[2018-05-11 03:35] jaseemabid commented on #19644
@soltysh Returning wrong information even through a deprecated command seems wrong imo. We could just delete the keys after the serialization step?

[2018-05-11 04:50] dusansusic commented on #19678
As I said, they are insanely fast created/removed so I cannot see the log of any.

[2018-05-11 08:26] dusansusic commented on #19678
simply, it's not able to schedule anything, pods are not created at all:

`oc get ev` gives:

[code]

`daemonset.yaml` file:
[code]

[2018-05-11 08:43] mfojtik commented on #19681
per conversation with @tnozicka we should stop deleting the deployer pods and rather keep them around till the revision history limit kicks in and remove the RC (which the deployer pod has ownerRef to)... We depend on deletion in deployer controller now, but @tnozicka is refactoring that area.

[2018-05-11 11:06] dusansusic commented on #19678
<img width="417" alt="screen shot 2018-05-11 at 13 06 09" src="https://user-images.githubusercontent.com/4550386/39921666-1b4d3796-551c-11e8-996f-5e11c4d57c8f.png">

[2018-05-11 11:59] aveshagarwal commented on #19678
@dusansusic I am suspecting that podnodeselector plugin is also adding some other node selector causing pods to not get scheduled. Can you provide output of "oc describe pod" for one of the failed pods?

[2018-05-11 12:12] dusansusic commented on #19678
@aveshagarwal No, because pods are recreated and when I do:
[code]

i get:
[code]

[code]

I cannot catch any but any pod log.

[2018-05-11 12:57] aveshagarwal commented on #19678
It should be:
oc describe pod hello-daemonset-h7pz8

[2018-05-11 13:16] joelsmith commented on #19678
@dusansusic If you're having trouble catching one, just do:

[code]

which will show yaml output of all pods (which hopefully will include one of your disappearing pods on one of your runs).

[2018-05-11 13:27] wozniakjan commented on #18912
looks like this has been fixed, maybe https://github.com/openshift/origin/pull/19262?

[code]
also pushing and pulling seems to work well

<details>
<summary>oc pod & svc</summary>

[code]
</details>

<details>
<summary>git push</summary>

[code]
</details>

<details>
<summary>git pull</summary>

[code]
</details>

[2018-05-11 13:27] #18912 closed

[2018-05-11 14:45] stevekuznetsov commented on #19681
@smarterclayton where should the logs be for GCE?

[2018-05-11 15:35] jim-minter commented on #19661
I've retested the instructions at https://blog.openshift.com/getting-started-helm-openshift/ on a clean openshift cluster, with both helm 2.6.1 and 2.9.0.  Both worked fine.
Make sure you are using the same version of the helm client and tiller server - in your comment above there's a mismatch (2.6.1 / 2.8.2).  I wouldn't be surprised if that's causing the `server has asked for the client to provi

[2018-05-11 15:44] jim-minter commented on #19661
I have updated the blog post to reference 2.9.0 seeing as 2.6.1 was a little stale.

[2018-05-11 16:22] jwmatthews opened #19690 "RFE: Need ability to specify multiple protected registry credentials for all nodes in cluster at a global scope"
I'm looking for the ability to configure multiple protected image registries at a global basis for entire cluster, so all nodes would be given the credentials and able to pull from the protected registries....i.e. I don't want to limit credentials to ImagePullSecrets linked to specific service accounts and/or namespaces.

I'm looking for ability to configure at a global scope credentials so anyone

[2018-05-11 17:02] deads2k commented on #19690
Not configuring the host seems like more of a statement about how you're putting the credentials on the node today (SSH) than a statement about the node/kubelet being the wrong place to indicate which set of credentials to use.

You're describing a credential for pulling an image that the pod creator does not own, does not set, and does not logically require visibility to.  It is exactly the use-c

[2018-05-11 17:45] jwforres commented on #19670
@openshift/sig-developer-experience

[2018-05-11 18:13] #11110 closed

[2018-05-11 18:13] #11135 closed

[2018-05-11 21:11] dusansusic commented on #19678
Seems I am unable to deploy just in default namespace.
i created new project:

[2018-05-11 21:15] dusansusic commented on #19678
Seems I am unable to deploy daemon sets only in Default namespace/project:
I create this:
[code]

In DS, I have privileged set to `true` and mounts declared to `hostPath` but pods are not created.

Am I missing some privileges?

[2018-05-11 23:20] smarterclayton commented on #19681
Not sure how gce related to logs?

The approach described here sounds fine for me.

[2018-05-12 03:52] rvm8h opened #19696 "Unable to run maven on Jenkins-Persistent pod"
I installed Jenkins persistent out-of-the Openshift origin catalog,  I am unable to use Maven (mvn) on that pod.
I checked in Manage Jenkins -> Configure System this is a kubernetes  Pod Templates with a name Maven referencing a container template `docker.io/openshift/jenkins-slave-maven-centos7:v3.9 ` but that's all.

##### Version
Jenkins 2.89.4 core and libraries:
##### Steps To Reproduce
insta

[2018-05-12 05:51] rvm8h commented on #19696
Ok,I found this issue I have to install Maven manually from Jenkins using  Manage Jenkins -> Global Tool Configuration

[2018-05-12 06:09] aliscott commented on #18698
@knobunc any update on this?

[2018-05-12 12:55] #19311 closed

[2018-05-12 13:41] micah commented on #18127
Tomáš Nožička <notifications@github.com> writes:

sorry, I've since destroyed the cluster, so I cannot gather anymore data
:(

--
        micah

[2018-05-12 23:45] kardasa commented on #18013
I found this issue report while trying to achive the same thing as @boeboe using OpenShift 3.9 enterprise - and failed. Just to update I tried to add  /oapi/v1/users/ as user info url and  /oapi/v1/users/~ and With the first end point Gitlab is displaying info as such:

[2018-05-13 00:14] #13980 closed

[2018-05-13 00:14] #15079 closed

[2018-05-13 05:57] #19671 closed

[2018-05-13 18:14] #15297 closed

[2018-05-13 18:14] #15300 closed

[2018-05-14 00:14] #17791 closed

[2018-05-14 00:14] #17792 closed

[2018-05-14 00:14] #17803 closed

[2018-05-14 06:14] #16193 closed

[2018-05-14 06:14] #17370 closed

[2018-05-14 09:00] jchraibi commented on #14327
/reopen

[2018-05-14 09:36] dgabrysch commented on #19068
Same for me :(

[2018-05-14 09:50] praveenkumar opened #19699 "[oc cluster up] Redirect of web console happen to be https://127.0.0.1:8443/console instead https://<VM_IP>:8443 in case of remote docker daemon."
##### Version
[code]

##### Steps To Reproduce
[code]
Now open the URI `https://192.168.42.137:8443` and accecpt cert.

##### Current Result
After accepting the cert it redirect to `https://127.0.0.1:8443/console` instead `https://192.168.42.137:8443/console`

##### Expected Result
After accepting the cert it should redirect to `https://192.168.42.137:8443/console`  instead `https://127.0.0.1:8443

[2018-05-14 10:26] oeresundsgruppen opened #19700 "new_build timeout - can it be increased ?"
Getting:

Error from server (Timeout): Timeout: timed out waiting for build XXX to start after 10s

oc new-build.... this is not re-produceable, and works 90% of the time, but fails at times, so need the command to wait bit longer...

[2018-05-14 11:51] mfojtik commented on #19699
@deads2k i will look at this in afternoon...

[2018-05-14 12:05] Kisen-Chin opened #19701 "can't run scripts due to permission denied"
When I deploy myself images to openshift, it can't run script due to permission denied.

##### Version
[root@master rct]# openshift version
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
etcd 3.2.16

##### Steps To Reproduce
this is my image's Dockerfile:

[code]

I use this Dockerfile to generate a image and pushed it into openshift registry.

Then I use 'user-2/password' to create a pro

[2018-05-14 12:14] #17705 closed

[2018-05-14 13:52] jaseemabid commented on #19644
Can we please reopen this till the command either returns no data or the correct data? "Its said in the manual" or "the serializer does so" are both not good enough arguments to return incorrect data.

[2018-05-14 14:22] gbaufake opened #19703 "oc adm policy add-cluster-role-to-user cluster-admin is not working oc v3.9.0"
### Description
Executing `oc adm policy add-cluster-role-to-user cluster-admin user` is not adding cluster admin

##### Version
`oc version`

kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEG

##### Steps To Reproduce
1.  Install Openshift Client Tools 3.9
2.  Execute oc adm policy add-cluster-role-to-user cluster-admin gbaufake (my user)
3.  Execute oc get clusterrolebindin

[2018-05-14 16:14] flightofthunder opened #19705 "Easy way to check login status via OC?"
Hello, I am looking for a concise way to verify that a user is currently logged in to the OC client. I have been using `oc status` as this gives me the following error when I am l logged out `error: You must be logged in to the server`

However, after I've logged in once, and subsequently logout and try `oc logout`, I no longer get the error and instead get `You don't have any projects. Contact yo

[2018-05-14 20:03] gabemontero commented on #19669
reopen if you still have questions @ashearer23 after processing the responses from @enj and myself

[2018-05-14 20:03] #19669 closed

[2018-05-15 00:14] #15951 closed

[2018-05-15 00:14] #14771 closed

[2018-05-15 00:40] elyscape commented on #11551
/remove-lifecycle stale

[2018-05-15 00:54] wenchma commented on #19661
@jim-minter thanks for your reply, it very benefits me. 👍

[2018-05-15 08:02] DanyC97 commented on #19138
@sjenning while i understand and not question RH backport policy, what should users who were on v3.7.0 and just migrated to v3.7.2 should do?

Telling them to "run extra lap" (ie - v3.7. -> v3.8 -> v3.9) although they just tried to complete first lap surely doesn't work in a production environment.

I'm curious how you guys handle this issue in OCP? i suspect it has been cherry picked otherwise yo

[2018-05-15 08:09] aramalipoor commented on #19354
@mfojtik Any updates on this? I'd be happy to send a PR if we know what exactly is the problem here.

[2018-05-15 10:00] DanyC97 commented on #19138
@sjenning after more digging ..surprise, surprise ;) https://bugzilla.redhat.com/show_bug.cgi?id=1576777#c2

A bit disappointed to see that such a nasty bug which seems is present even in 3.7.1 is not being considered "critical" for origin but is for OCP ...

[2018-05-15 10:01] DanyC97 commented on #18827
see the BZ mentioned in https://github.com/openshift/origin/issues/19138#issuecomment-389112756

[2018-05-15 10:01] DanyC97 commented on #19478
see the BZ mentioned in https://github.com/openshift/origin/issues/19138#issuecomment-389112756

[2018-05-15 11:25] ingvagabund opened #19715 "make check fails on missing _output/local/release directory"
Running

[code]

on the latest master HEAD the script fails with:

[code]

[2018-05-15 11:26] mfojtik commented on #19363
@tnozicka @jasjeetkaur2211 another way to do this is to write a custom controller watching the deployments and triggering POST requests when the scale of the RC owned by the DC change. I think this should be possible to do with `oc observe`, right @smarterclayton ?

[2018-05-15 11:51] Reamer commented on #19703
I can confirm this bug.
It seems that "oc adm policy add-cluster-role-to-user cluster-admin [user]" creates a new ClusterRole Object for every added user.
My User is in the cluster-admin-0 ClusterRole. The user of my colleague is in cluster-admin-1.

[2018-05-15 11:53] HackToHell opened #19716 "Creating a GCP Cloud Loadbalancer results in nodes without the pod, denying the request"
##### Version
Server https://master-v39.xxx.xxx:443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

calico_url_policy_controller: "quay.io/calico/kube-controllers:v2.0.2"
calico_node_image: "quay.io/calico/node:v3.0.3"
calico_cni_image: "quay.io/calico/cni:v2.0.1"
cni_version: v0.6.0

##### Steps To Reproduce
1. Create a GCP LoadBalancer for a service

##### Current Result
Some requests f

[2018-05-15 12:16] praveenkumar opened #19717 "[oc cluster up] Info logs for oc cluster up sents to stderr instead stdout"
##### Version
[code]

##### Steps To Reproduce

[code]

##### Current Result
Info logs are part of stderr

##### Expected Result
Info logs should be part of stdin

CC @mfojtik

[2018-05-15 12:31] vrutkovs opened #19718 "Flake: [Conformance][Area:Networking][Feature:Router] router headers The HAProxy router should set Forwarded headers appropriately"
Fails a lot during `ci/openshift-jenkins/gcp` tests:

[Conformance][Area:Networking][Feature:Router] router headers The HAProxy router should set Forwarded headers appropriately [Suite:openshift/conformance/parallel] 1m21s

go run hack/e2e.go -v -test --test_args='--ginkgo.focus=\[Conformance\]\[Area\:Networking\]\[Feature\:Router\]\srouter\sheaders\sThe\sHAProxy\srouter\sshould\sset\sForwarded\sh

[2018-05-15 13:13] ingvagabund commented on #19715
Nvm

[2018-05-15 13:13] #19715 closed

[2018-05-15 13:33] wozniakjan opened #19719 "test flake: docker timeout"
number of tests timeout pulling an image

[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19673/test_pull_request_origin_cross/1728/

[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19688/test_pull_request_origin_extended_conformance_gce/20345/

[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_unit/13053/c

[2018-05-15 14:03] lomori commented on #19001
+1.

[2018-05-15 15:56] ahmadou commented on #19527
Hi,

Do you have some new informations on this ?

[2018-05-15 16:09] jwforres commented on #19696
closing since it sounds like you resolved your issue

[2018-05-15 16:09] #19696 closed

[2018-05-15 16:27] ahmadou commented on #19451
If i may, i made it work by ditching the containerized gluster install and setting up an external glusterfs cluster.
I then installed the cluster with the supported external cluster setting.
With a bit of tweaking it is working now and i can provision volumes with gluster block.

[2018-05-15 17:51] barakbd opened #19724 "ImageStream poll with webhook"
Is there a way to trigger an ImageStream update with a webhook from third party registry (non-OpenShift)?

##### Version
OpenShift Master:
v3.6.173.0.49
Kubernetes Master:
v1.6.1+5115d708d7

Sorry if this is not the right place to ask. I would appreciate being referred to the correct forum.

[2018-05-15 18:04] HackToHell commented on #19716
Appears to be a bad configuration issue, fixed by.
https://github.com/openshift/openshift-ansible/pull/8099

[2018-05-15 18:04] #19716 closed

[2018-05-15 20:41] akostadinov commented on #15184
bump

[2018-05-15 20:46] jwforres commented on #19700
@openshift/sig-developer-experience

[2018-05-15 20:57] jwforres commented on #19701
@openshift/sig-security

[2018-05-15 20:59] jwforres commented on #19705
`oc whoami`

[2018-05-15 21:00] jwforres commented on #19705
@openshift/sig-security

[2018-05-15 21:02] liggitt commented on #19705
yes, `oc whoami`

/close

[2018-05-15 21:02] #19705 closed

[2018-05-15 21:02] jwforres commented on #19703
@openshift/sig-security

[2018-05-15 21:04] jwforres commented on #19718
@openshift/sig-networking

[2018-05-15 21:09] bparees commented on #19724
Not a webhook per se.

The typical solution is to just used scheduled imports so the imagestream polls the external registry for updates.

If you want to force an imagestream to refresh/import, you can create an imagestreamimport object via the openshift rest api:
https://docs.openshift.org/latest/rest_api/apis-image.openshift.io/v1.ImageStreamImport.html

[2018-05-15 21:09] #19724 closed

[2018-05-15 21:13] bparees commented on #19700
@oeresundsgruppen do you mean `start-build`?  I don't think new-build ever waits for the build.  Can you give me your exact command invocation?

We are addressing the logs timeout issues here: https://github.com/openshift/origin/pull/19695

[2018-05-15 21:13] bparees commented on #19700
/cc @adambkaplan

[2018-05-15 21:48] simo5 commented on #19701
sounds more for @mrunalp team  ?

[2018-05-15 21:51] simo5 commented on #19703
If you want to add into a specific cluster-role binding then you need to specify it. eg:
oc adm policy add-cluster-role-to-user cluster-admin user --rolebinding-name=cluster-admin

Otherwise a new binding is created, having a different binding name has no functional difference, the user will be a cluster-admin it just uses a separate binding to give the user that role.

[2018-05-15 21:51] #19703 closed

[2018-05-15 22:28] oeresundsgruppen commented on #19700
Great you are looking into this - we use cmd-lines like : oc --namespace=XX --loglevel=1 new-build https://gitlab.XX --context-dir=deploy --image-stream='XX:0.1' --to=XX --allow-missing-images=true --name=XX -l jenkins=XX --strategy=docker --to-docker=true -o=name

[2018-05-15 22:29] oeresundsgruppen commented on #19700
can give --request-timeout a try...

[2018-05-15 23:55] bparees commented on #19700
i don't think --request-timeout will make a difference, but i'm still unclear on why you'd be getting a "timeout waiting for build to start" from that invocation, unless it's related to the -o=name flag.  i'll have to look into it further.

[2018-05-16 01:23] nak3 opened #19729 "Many diagnosics command codes do not have unit tests"
[provide a description of the issue]

- Current diagnostics codes do not have their unit tests except for `aggregated_logging`.
- `diagnostics aggregated_logging` has the utils especially [pkg/oc/admin/diagnostics/diagnostics/cluster/aggregated_logging/diagnostic_test.go](https://github.com/openshift/origin/blob/9dae2335a826caeeb19c60503df556617a2817a2/pkg/oc/admin/diagnostics/diagnostics/cluster/

[2018-05-16 03:05] praveenkumar commented on #19621
Yes it is fixed now, closing it now.

[2018-05-16 03:05] #19621 closed

[2018-05-16 03:07] praveenkumar commented on #19538
This is also fixed in recent PR by @mfojtik , so closing it.

[2018-05-16 03:07] #19538 closed

[2018-05-16 06:14] #17524 closed

[2018-05-16 10:08] hrishin commented on #15143
@bparees
Are we sure this issue is fixed? In openshift.io, we are still observing the similar pattern once users run 2 or more builds simultaneously. Sometimes build gets fail due to quota limit or sometimes we don't know the exact reason for build failure. Usually, OpenShift clients receive connection timeout response.

[2018-05-16 10:12] #8771 closed

[2018-05-16 10:38] SS-TT opened #19735 "[NetworkPolicy] Deny all works on every project but one"
I'm trying to use NetworkPolicy with a [default-deny](https://github.com/redhat-cop/openshift-toolkit/blob/master/networkpolicy/policies/baseline/default-deny.yml) policy.

From my understanding this policy should prevent *any* traffic to *any* pod, and this is exactly what happens on all of my projects. For one of them, however, it doesn't.

This project contains 2 .Net Core apps (frontend + back

[2018-05-16 11:31] cmoulliard commented on #3039
Is there a doc/note explaining for recent versions of OpenShift what should be done during installation to configure it to use a different port number ? Is there an option part of the OpenShift Playbook to configure the port to be used (e.g 8443 -> 80, ....) ?

[2018-05-16 11:33] geoand commented on #3039
@cmoulliard [This](https://docs.openshift.com/container-platform/3.9/install_config/install/advanced_install.html#configuring-host-port) part of the doc is probably applicable.

However it doesn't tell us what to do to change the port of an already running cluster :(

[2018-05-16 12:11] anshulbehl opened #19736 "[RFE]Is there a way to pull the redhat container catalog images from UI (Not using oc client)?"
on the link below

https://access.redhat.com/containers/?tab=images&platform=openshift#/registry.access.redhat.com/rhcertification/redhat-certification-management

It says:

Container images that are made to run with OpenShift platforms can either be pulled from the command line (using the oc command) or from the OpenShift Dashboard GUI interface. The following is one command line you could use to

[2018-05-16 13:34] bparees commented on #15143
@hrishin "2 or more simultaneous builds" is not anywhere near the scale of builds that were causing the problems that resulted in this issue being opened.

if clients are receiving connection timeouts that is usually indicative of an overloaded api server (or a bad network connection).

I suggest you open a new issue and provide the exact steps you're performing (how are you starting the builds?

[2018-05-16 13:46] adambkaplan commented on #19700
@oeresundsgruppen can you please re-run the command with `--loglevel=8` and attach the log here? We'd like to see what is going on, even if the timeout error does not occur.

[2018-05-16 13:50] jwforres commented on #19719
@openshift/sig-continuous-infrastructure starting with you guys, any recommendations?

[2018-05-16 13:53] jwforres commented on #19719
@stevekuznetsov not sure who best to send this to sends it sounds like general network load?

[2018-05-16 13:55] flightofthunder commented on #19705
Thanks, that works better.

Is it the expected behaviour for `oc status` to still display `You don't have any projects. Contact your system administrator to request a project.` **after** I've logged in and the subsequently logged out?

[2018-05-16 14:00] simonpasquier commented on #19681
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19318/test_pull_request_origin_extended_conformance_gce/20422/

[2018-05-16 14:37] kincl opened #19740 "ipfailover check port script does not work"
While the keepalived process is starting up it throws this error:

[code]

I think it is because /dev/tcp is a bash-specific redirection. In this example `10.91.197.13` is the IP address of the host that keepalived is running on

##### Version

Image: openshift/origin-keepalived-ipfailover:v3.9.0

##### Steps To Reproduce

Create a ipfailover deployment: `oc adm ipfailover vip`

##### Current Resu

[2018-05-16 15:05] jwforres commented on #19736
We have a "Deploy Image" action but that is if you intend to run the image.  Are you asking about a GUI for setting up a new image stream?

@openshift/sig-user-interface

[2018-05-16 15:06] jwforres commented on #19735
@openshift/sig-networking

[2018-05-16 15:09] jwforres commented on #19740
@openshift/sig-networking

[2018-05-16 16:31] cmoulliard commented on #3039
And the problem could be that this ansible doc

[2018-05-16 18:14] #15047 closed

[2018-05-16 19:20] mfojtik commented on #19717
@deads2k do you know if we can tweak glog to log to stdout instead?

[2018-05-16 19:28] deads2k commented on #19717
I don't know offhand.  There's probably a way.

[2018-05-16 19:51] dwinchell commented on #6316
I would like to help with this. I am new to OpenShift and looking for ways to get involved.

[2018-05-16 20:38] gbaufake commented on #19703
@simo5 thanks!

[2018-05-16 20:59] juanvallejo commented on #6316
/remove-lifecycle stale

Hi @dwinchell thanks for wanting to help with this.
You could get started by taking a look at a few of our "test-cmd" tests which live as shell scripts under `test/cmd` (you can run a specific test via `./hack/test-cmd.sh annotations`, for example). If you see a particular test that could be feasibly converted into a unit test, most command unit tests live under `pkg/oc/cl

[2018-05-16 21:29] dwinchell commented on #6316
Great, thanks @juanvallejo. I will take a look.

I have another project in the works so it might be a week or so before I follow up, but I will do so!

[2018-05-16 23:47] mshutt commented on #19138
Yeah I mean I'm 3.9 in our lab but we can only move so fast.  I just had a fire drill with this when a user created cronjobs that didn't exit clean and the cronjob scheduler just kept creating pods ad infinitum.  I can't control how users define these things and the restartPolicy and such and if one goes awry, I just have to deal with nodes that have issues and report PLEG timeouts and bounce from

[2018-05-16 23:47] sparty02 opened #19745 "Support mapping configMaps and secrets in BuildConfigs"
OpenShift BuildConfigs should support buildArgs being sourced from secrets (or config maps for that matter).

Here is an example of what using this feature would look like:

[code]

Note that the example above is showing a mixture of a buildArg literal, a buildArg mapped from a configMap and a buildArg mapped from a secret.  Also note that this particular example is for mapping buildArgs in a dock

[2018-05-17 01:11] Kisen-Chin commented on #19701
I solved this issue .
It's not due to can't run script
The root cause is I can't access /tmp/Tomcat6 this dir.
Thanks all of you and close this issue.

[2018-05-17 01:11] #19701 closed

[2018-05-17 07:33] intershopper commented on #19699
as workaround you can use
`oc cluster up --public-hostname=<your VM ip adrdress>`

Please keep sure that you have export no_proxy variable

`export no_proxy=<your VM ip adrdress>`

[2018-05-17 07:34] abhaynayak24 commented on #4360
Any idea about how to get the token information? because `oc whoami -t` responds with `error: no token is currently in use for this session` I dont know what the issue is

[2018-05-17 08:03] alikhajeh1 commented on #18131
/lifecycle frozen

[2018-05-17 08:19] anshulbehl commented on #19736
@jwforres  That is correct, is there a way in UI to add a new image stream. I have also filed an RH bugzilla for the same and letting you know the ID just so we don't end up doing duplicate efforts.

https://bugzilla.redhat.com/show_bug.cgi?id=1572068

For the suggestion of the enhancement here, additions of image streams in UI for registries of Docker and RHCC(Container Catalog) should prove bene

[2018-05-17 08:49] hrishin commented on #15143
makes sense.

Would investigate in the context OSO.

:+1:  thanks for the pointer.

[2018-05-17 10:08] tinexw commented on #14450
/reopen

This issue still exists. The selector cannot be applied to a list, just to objects.

I want to create objects from a template by processing the template, piping the output to oc apply and pruning everything matching a certain label:

`` oc process -f <filename> | oc apply --prune -l foo=bar -f -``

This works if I don't use the template but store all object configurations in a directory.

[2018-05-17 10:16] tinexw opened #19746 "oc apply with label selector returns error if oc process output is piped to it"
I want to create objects from a template by processing the template, piping the output to oc apply and pruning everything matching a certain label:

``oc process -f <filename> | oc apply --prune -l foo=bar -f -``

This fails with the error ``error: object does not implement the Object interfaces`` (Same as  #14450 but I couldn't reopen that issue.)

Note that it's not related to the prune option,

[2018-05-17 11:59] mfojtik commented on #19746
Fix: https://github.com/kubernetes/kubernetes/pull/63966

Will pick it to master once it merges in upstream.

[2018-05-17 12:03] mfojtik commented on #19717
@praveenkumar is this a regression from the previous version of cluster up?

[2018-05-17 12:40] bparees commented on #19745
moved to trello backlog: https://trello.com/c/WGscHeax

[2018-05-17 12:40] #19745 closed

[2018-05-17 13:59] ahmadou commented on #19451
First pain is to have all the necessary librairies up and running.
Fortunately I made an ansible playbook to install and configure the gluster cluster with gluster block enabled
[code]

This one will install and configure heketi

[code]

Here is a sample heketi.json

[code]

Sample topology file
[code]

You'll have to edit your topology file according to your hosts and devices.
Then you have to lo

[2018-05-17 14:13] mfojtik commented on #3039
I guess editing the master config manually and replacing the port should do the trick, maybe @liggitt will be more skeptical ;-)

You can also change that in the ansible hosts file and rerun the playbook? /cc @sdodson

[2018-05-17 14:16] geoand commented on #3039
Changing the port manually doesn't work because then the certificate doesn't match.

Running some playbook would be nice, but which playbook would that be?

[2018-05-17 14:40] sdodson commented on #3039
Yes, re-running playbooks/deploy_cluster.yml on >= 3.9 or playbooks/byo/config.yml on <= 3.7 will reconfigure this.
https://docs.openshift.com/container-platform/3.9/install_config/install/advanced_install.html#configuring-host-port

I don't think the original question was based on an openshift-ansible install however.

[2018-05-17 16:47] rajatchopra opened #19751 "Deployment Config does not work for Windows"
##### Version
3.9

##### Steps To Reproduce
1. Create new-app with a windows based pod

##### Current Result

The deployment fails because the deployer pod is launched on the Windows node, but it is a Linux container.

##### Expected Result

The deployer pod should be launched on Linux and the actual pod should be launched on Windows.

##### Additional Information
A potential fix:  #19521

[2018-05-17 17:16] sudhaker opened #19753 "OpenShift demo cluster doesn't auto-start on node reboot"
OpenShift demo cluster doesn't auto-start on node reboot

##### Version
[provide output of the `openshift version` or `oc version` command]
v3.6.1
or v3.9.0

##### Steps To Reproduce
1. Install a single node demo cluster using `oc cluster up` ; validate - all good?
2. Reboot the host VM; the OpenShift service (origin container) won't start

##### Current Result
Origin container (and others) doesn'

[2018-05-17 17:59] jwforres commented on #19753
oc cluster up is not designed to for this, if you want to make sure you can bring the cluster back up then you should use the command line flags (check `oc cluster up --help`) that will persist your config/data/volumes to disk. You can then run oc cluster up again to bring the cluster back up with the same config and data

@openshift/sig-master fyi

[2018-05-17 17:59] #19753 closed

[2018-05-17 18:10] #19746 closed

[2018-05-17 18:18] #17598 closed

[2018-05-17 18:36] mpbarrett commented on #19751
![](https://github.trello.services/images/mini-trello-icon.png) [Use of Kube deployments for Windows](https://trello.com/c/IEBUoVB2/1561-use-of-kube-deployments-for-windows)

[2018-05-17 20:48] mcelep opened #19758 "[RFE] Egress static ip enhancements"
Egress static IP enhancements
##### Version
3.9
##### Current Result
Current Egress static IP solution has the following limitation:

##### Expected Result
Egress static IP solution should be configurable for IP's that are not on the primary network and/or in the same subnet as the node’s primary IP. Customers want to be able to set different IP's as egress source that are part of different VLANs.

[2018-05-17 20:50] jwforres commented on #19758
@openshift/sig-networking

[2018-05-17 23:02] #15830 closed

[2018-05-18 06:07] ddeimeke commented on #19758
This is driven by us, since our network zoning concept uses several VLANs to separate application traffic. OpenShift App nodes have a bonded interface configured with the VLANs needed.

[2018-05-18 06:18] bortek commented on #16097
I am hitting this only on some of the nodes after I upgraded from 3.6 to 3.7.42-1. I potentially have the same issue on one 3.6 node too as it's resolv.conf looks different than the others.

In my case it was fixed by just restarting NetworkManager. I rebooted the node too to see if it was still ok and it was OK. Apparently some race condition still going on.

[2018-05-18 09:29] simonpasquier commented on #17685
Closed by #19318

[2018-05-18 09:29] #17685 closed

[2018-05-18 10:06] duxianpeng opened #19761 "Deploy in dependency for mono project(all apps in same git uri)"
Hi, Experts,

I encounter a scenario which cannot be found solution in internet and documents, can you please share your idea.

My project is using Spring Cloud, there will be multiple application such Eureka, Config, Hytrix etc, I put all applications in same GIT URI, I saw this kind of source management called Mono project structure, the prop is that we don't need to create a individual git repo

[2018-05-18 10:41] mfojtik commented on #19699
The fix was merged to master, closing.

[2018-05-18 10:41] #19699 closed

[2018-05-18 11:13] Lee303 opened #19762 "import-image returns 'access forbidden' for private repository"
When attempting to issue `oc import-image` to create an image stream from a private repository, I receive the following error:

[code]

I have followed the steps within the documentation for configuring the required image pull secret, and I am able to issue `docker login` and `docker pull` without issue.

If it helps, the registry I am attempting to pull from is within a private-hosted Gitlab inst

[2018-05-18 12:26] lentzi90 commented on #19451
Thank you for the help! I was able to get it working following [this](https://docs.openshift.org/3.9/install_config/persistent_storage/persistent_storage_glusterfs.html#install-example-full-external) guide when first installing
- NetworkManager
- centos-release-gluster40
- glusterfs-server
- gluster-block

on all gluster nodes, as well as starting and enabling `NetworkManager`, `glusterd` and `glu

[2018-05-18 12:45] mfojtik commented on #19681
from the api server:

[code]

from controller log:

[code]

@tnozicka I wonder if we need to increase the timeout for this test or we have bug in the log endpoint where we should retry.

[2018-05-18 13:00] mfojtik commented on #19681
OK, my theory here is that the rollout will finish really fast (the hook just echo a message) and the logs endpoint don't have enough time to catch the "running" deployment (it will wait and fail)...

Actually I guess we should also test if the rollout is not in the final state in the logs endpoint to confirm this.

[2018-05-18 13:56] lomori commented on #17317
This is just frustrating.... I'm having this problem with standard 3.9. The issue is that apparently they got rid of v3.9 in Docker Repo (https://hub.docker.com/r/openshift/origin-node/tags/) even though 3.10 is not even out yet and the latter is the only one available. It happened to me a few days ago with origin-node, which they put back. What is going on there, Red Hat?

[2018-05-18 14:15] DanyC97 opened #19767 "field allowedFlexVolumes for v1.SecurityContextConstraints is required"
Given the Origin version below
[code]
and the SCC + SA `scc.yaml`
[code]
Now the very odd thing is that running

`kubectl --loglevel 8 apply -f scc.yaml` it spits the error below
[code]

but `oc --loglevel 8 apply -f scc.yaml` works w/o any prob

@php-coder i saw you were the person who implemented the FlexVolumes, any thoughts on how this works?
What i am confused is that `kubectl` is a symlink t

[2018-05-18 14:49] pennpeng commented on #19659
@sdodson  the problem is the openstack password contains special characters.

[2018-05-18 14:58] gnufied commented on #19605
@ReadmeCritic The linked BZ was because of vphere cloud provider unable to fetch node info from api-server. It is possible that - this BZ is different, so I am going to try and isolate that.

[2018-05-18 15:43] legionus opened #19769 "some `oc image mirror` issues"
1. __Not canonical repository name__

According to the documentation:
[code]
Actual result:
[code]
It happens because this command uses `ParseDockerImageReference` to parse image reference, but this function requires that reference be canonical.

https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/image/mirror/mappings.go#L29
https://github.com/openshift/origin/blob/master/pkg/oc/cli/cm

[2018-05-18 17:06] bparees opened #19771 "service catalog image v3.10 tag isn't being updated"
[code]

service catalog stdout:
[code]

service catalog stderr:
[code]

[2018-05-18 17:07] bparees commented on #19771
[code]

[2018-05-18 17:28] sdodson commented on #19659
Have you set it enclosed in single quotes? ex
`openshift_cloudprovider_openstack_password='Pa$$W0rd!'`

[2018-05-18 20:16] GrahamDumpleton opened #19775 "openshift.io/ImagePolicy.resolutionRules[1].policy: Required value"
When trying to apply ``ImagePolicy`` rules in the ``master-config.yaml`` under Minishift using the documented example in:

* https://docs.openshift.com/container-platform/3.9/admin_guide/image_policy.html#image-policy-configuring-the-image-policy-admission-plug-in

You would get the error:

[code]

I logged this as issue against example in the docs:

* https://github.com/openshift/openshift-docs/i

[2018-05-18 23:43] git001 commented on #19758
How about to add the `host network` permission to a squid dc and set the `source ip` in squid?
This requires a own squid image.

[2018-05-19 00:20] #17822 closed

[2018-05-19 00:20] #17845 closed

[2018-05-19 00:20] #17824 closed

[2018-05-19 12:06] #16171 closed

[2018-05-19 14:43] jeffrey4l opened #19780 "Seems egress router not works with other cni plugin"
The egress router works find when using openshift sdn. But not when using calico plugin.
the macvlan0 devices seems not added when using calico plugin.

So question is:

- is egress router supports other cni plugin?
- if so how can i make it work?

##### Version

    origin 3.9

[2018-05-19 15:40] fmq commented on #19001
I'm getting this same error.

[2018-05-19 16:18] rsevilla87 opened #19782 "Print request/response headers and cookies in the router http log"
It would be nice to be able to configure HAProxy router to print additional request/response information in the http log without having to modify the default haproxy router template.
HAProxy allows this using the `capture request/response header` and 'capture cookies` options as stated by the official docs https://cbonte.github.io/haproxy-dconv/1.7/configuration.html#8.7

This PR tries to address

[2018-05-20 07:14] GrahamDumpleton commented on #16121
/remove-lifecycle stale

[2018-05-21 00:16] klmcwhirter opened #19783 "[question] How to use origin to build custom s2i builder image"
What is the idiomatic approach for building a custom S2I builder image in Origin?

##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.30:8443
openshift v3.9.0+46ff3a0-18
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. stuck here - while I can use s2i locally and push to Docker Hub, create an ImageStream and

[2018-05-21 02:02] pennpeng commented on #19659
@sdodson  yes，when i set it enclosed in single quotes，it's will be ok

[2018-05-21 03:12] Caplost commented on #17965
any solutions ?

[2018-05-21 06:09] DanyC97 commented on #19451
@ahmadou can you let me know the openshfit-ansible version you are using ?

[2018-05-21 06:10] DanyC97 commented on #19451
and i'd suggest to close and open this issue on openshift-ansible git repo as this is not a origin issue but might be an installer issue

[2018-05-21 08:20] eivantsov opened #19784 "No route to host: when pulling images from local registry"
##### Version

Origin  3.9
Fedora 28
Cluster started just with `oc cluster up --routing_suffix=$suffix`

##### Steps To Reproduce

I am trying to create a pod from the image that is pushed to an internal registry
`docker-registry.default.svc:5000/openshift/rhel-php`. It's in the list of imagestreams.

[code]

Everything is OK when cluster IP, however, I want to use an internal registry dns in a po

[2018-05-21 09:40] mfojtik opened #19785 "executing 'oc get pods' expecting any result and text 'jenkins-1-deploy"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19778/test_pull_request_origin_extended_clusterup/1466/

This seems to be flaking pretty hard for last few days.

[2018-05-21 09:46] mfojtik commented on #19785
@bparees does something changed in the way how Jenkins is provisioned in TSB?

[2018-05-21 09:53] mfojtik commented on #19785
found this locally:

[code]

[2018-05-21 10:01] legionus commented on #19785
I can't get manifest from the `registry.access.redhat.com`:
[code]

[2018-05-21 10:03] mfojtik commented on #19785
@legionus the importer error is different, are we failing to forward the original error to users? We should probably report this as '500 - failed to get manifest from registry x.y.z'

[2018-05-21 10:26] mfojtik commented on #19785
@bparees so here is what is happening...

I ran `oc cluster up ` locally, basically following the cluster-up extended test... I got into a broken state as described in https://github.com/openshift/origin/issues/19785#issuecomment-390608309

At this point the DC will just wait for the IS update as that tag does not exists in RH registry (v3.10)....

Now, while I was digging, I updated my centos Doc

[2018-05-21 10:31] mfojtik commented on #19785
OK explained by @dmage ... the problem is with the LDFLAG in constants is using old path after @deads2k moved it from `pkg/boostrap` to `pkg/clusterup`... if that is not set, we will import both image streams...

He will send the PR soon.

[2018-05-21 11:39] #19785 closed

[2018-05-21 12:31] deads2k commented on #19771
/unassign

Install problems with a component using `cluster add` are for that component.  fwiw, it looks like the manifests are created, but the WaitFor condition [here](https://github.com/openshift/origin/blob/master/pkg/oc/clusteradd/components/service-catalog/service_catalog.go#L105-L115) wasn't met.  Any chance it was just a slow image pull?

[2018-05-21 13:46] bparees commented on #19771
I have logs implying the service catalog container was running (logs from the pod) so no.

[2018-05-21 13:47] bparees commented on #19771
well, maybe i misunderstood what those logs are saying.  If those are just "install logic" logs and not pod output, then perhaps but i did this like 10 times, and was on the wired network, so I still doubt it.

[2018-05-21 14:39] danwinship commented on #19758
closing this; customer RFEs should go in bugzilla, not github (and this has already also been filed in bugzilla)

[2018-05-21 14:39] #19758 closed

[2018-05-21 15:34] bparees commented on #19771
(and the "latest" tag is newer)

[2018-05-21 17:12] bparees commented on #19771
(I was able to get this running w/ the newer image but it still seems problematic that the v3.10 tag is outdated).

[2018-05-21 20:29] #19430 closed

[2018-05-21 22:05] bparees opened #19793 "cluster up ordering issues"
When using oc cluster up to start multiple components, most of them don't come up properly due to ordering dependencies.

Notably, if you enable the service catalog and web console, the web console doesn't actually recognize the SC is available unless you restart the WC pods.

It seems like this really only works if you use oc cluster add to explicitly add each component manually in the right orde

[2018-05-21 22:06] bparees opened #19794 "oc cluster up - template service broker doesn't register"
`oc cluster add template-service-broker` doesn't seem to create a ClusterServiceBroker resource for the TSB (works fine for the ASB).  (doesn't work if specified as a componet during `oc cluster up` either)

including @deads2k in case it's an issue in the general component add/install logic.

[2018-05-22 10:26] jwmatthews commented on #19794
cc @jmontleon  @johnkim76

[2018-05-22 11:44] mfojtik commented on #19794
@bparees https://github.com/openshift/origin/tree/master/install/templateservicebroker and https://github.com/openshift/origin/blob/master/pkg/oc/clusteradd/components/template-service-broker/template_service_broker.go

If that resource isn't there, I'm happy to review a PR from the component owner adding it to the component installer ;-)

[2018-05-22 11:47] mfojtik commented on #19793
@deads2k should we handled this via operator? (eg. the service catalog updating the openshift web console CR).

@bparees we discussed this with David couple times during arch calls and I think the result was that we don't want to introduce ordering ever. The components should be smart enough to determine stuff they require to run or make modification to other components themself.

[2018-05-22 12:21] sdodson commented on #19690
@smarterclayton Create a configmap for docker/config.json then have the node sync pod land it in /var/lib/origin/.docker/config ?

[2018-05-22 12:36] deads2k commented on #19793
Yes we should.  That's *exactly* the sort of thing that the operator is for.

@bparees @spadgett What conditions does the operator need to kick the webconsole pods for re: service catalog?

[2018-05-22 12:54] sjug commented on #19628
@wabouhamad @mffiedler Can you please review and /lgtm the PR?

[2018-05-22 13:22] php-coder commented on #19783
@openshift/sig-developer-experience

[2018-05-22 13:30] php-coder commented on #19767
@DanyC97 Does it work with `--validate=false` option?

[2018-05-22 13:36] php-coder commented on #19767
@liggitt @deads2k Is it expected behavior of `kubectl` or it's a bug in the API type? I see that external type doesn't have `// +optional` comment that could be a root cause (but I'm not sure).

External type:
https://github.com/openshift/origin/blob/b89edde21a383ff0ab88317b8d74aedf892239cf/vendor/github.com/openshift/api/security/v1/types.go#L58-L61
Internal type:
https://github.com/openshift/ori

[2018-05-22 13:36] soltysh opened #19799 "test/cmd/login.sh is not indepotent"
Majority of our command tests can easily be run separately from each other, but that is not the case for `test/cmd/login.sh` which appears to rely on data from other tests. This might bite us as some point in the queue, so it's worth fixing reasonably asap.

[2018-05-22 13:39] liggitt commented on #19767
yes, it should be +optional and omitempty. can you open an upstream PR?

[2018-05-22 13:41] mrogers950 commented on #16579
@enj will do.

[2018-05-22 13:41] alebedev87 opened #19800 "error validating data: couldn't find type: v1.DeploymentConfig"
`oc apply --validate` option doesn't work for OpenShift objects.

##### Version
[code]

##### Steps To Reproduce
1. ` oc project openshift`
2. `oc process jenkins-ephemeral | oc apply --dry-run --validate -f -`

##### Current Result
`error: error validating "STDIN": error validating data: [couldn't find type: v1.Route, couldn't find type: v1.DeploymentConfig, couldn't find type: v1.RoleBinding]; i

[2018-05-22 13:49] php-coder commented on #19767
@liggitt It doesn't have such issue because it was detected during code review: https://github.com/kubernetes/kubernetes/pull/53179#discussion_r150297296

Should I create PR for OpenShift then? Against what repo -- origin or api?

[2018-05-22 13:52] liggitt commented on #19767
got it. yes, against openshift/api

[2018-05-22 13:54] spadgett commented on #19793
It doesn't need to be kicked now. Since 3.9, we detect if service catalog and template service broker are there on console load without needing config.

[2018-05-22 13:55] spadgett commented on #19793
No longer a problem :)

[2018-05-22 13:56] jmontleon commented on #19794
@mfojtik At the end of the TSB install it's supposed to run the register template service broker install:
https://github.com/openshift/origin/blob/master/pkg/oc/clusteradd/components/template-service-broker/template_service_broker.go#L83
https://github.com/openshift/origin/blob/master/pkg/oc/clusteradd/components/register-template-service-broker/register_tsb.go

Which should use this template:
htt

[2018-05-22 13:57] bparees commented on #19793
as of when?  I just hit this yesterday w/ all v3.10 images.

[2018-05-22 14:11] spadgett commented on #19793
Since 3.9. If you can recreate, I'd like to debug because the order shouldn't matter.

[2018-05-22 14:12] spadgett commented on #19793
Specifically since this PR: https://github.com/openshift/origin-web-console/pull/2800

[2018-05-22 14:15] jmontleon commented on #19794
I was pretty sure this was working at one point as I've seen it before. I did notice it had dropped off recently.

It looks like this was changed about a month ago.
https://github.com/openshift/origin/commit/94e032a6b5bbd12cedf4543c3cb82c58923c2143

[2018-05-22 14:38] php-coder commented on #19767
https://github.com/openshift/api/pull/52 has been submitted.

@liggitt Does it require PR against client-go repo also?

BTW what are the differences between `+optional` and `omitempty`? I see that some fields have only one of these keywords.

[2018-05-22 14:49] liggitt commented on #19767
Do a dep update and see. I don't expect it will result in any client-go changes, but will bump the referecned dependency version, which we want to keep coherent

[2018-05-22 14:56] git001 opened #19803 "RFE: Add `client_max_body_size` annotation for routes"
In some cases could it be necessary that the post size must be increased. This could be done via the `client_max_body_size` directive.
https://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size

##### Version
3.10 I assume

[2018-05-22 15:59] priyanka5 opened #19804 "custom routing in openshift"
Hi I have openshift 3.9 running and I need to set custom routing, so that request from route goes to the specific pods instead of providing weights to services.

I came  across this link https://blog.openshift.com/ocp-custom-routing/ but somehow I can not access app on Wildcard DNS after providing DNS with HTTP header.

Attached is my haproxy config file. Please let me know if there is anything el

[2018-05-22 16:58] #19793 closed

[2018-05-22 17:09] deads2k commented on #19794
Yeah, open a pull with that change.  I suspect that slipped.  Most unit tests I can think of would have slipped the same way because of duplicate wiring.  Thoughts on how to write tests in general would be appreciated.

[2018-05-22 17:52] jmontleon commented on #19794
https://github.com/openshift/origin/pull/19808

[2018-05-22 17:57] #15825 closed

[2018-05-22 18:22] #17847 closed

[2018-05-22 18:22] bparees commented on #19783
i've opened https://github.com/openshift/openshift-docs/pull/9493 to clean up these docs.

[2018-05-22 19:05] #19783 closed

[2018-05-22 20:21] germansosa opened #19809 "sourceStrategy builds do not mantain symlinks"
In builds that use sourceStrategy, symlinks are replaced with a copy of the target file.

##### Version
$ openshift version
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
etcd 3.2.16

##### Steps To Reproduce
1. Create a build with strategy "sourceStrategy" and a source to a repository containing a regular file and a  symlink pointing to the other file (example: https://github.com/germans

[2018-05-22 21:53] juanvallejo commented on #14807
/remove-lifecycle stale

[2018-05-23 02:12] djdevin opened #19813 "can't connect to docker-registry.default.svc from router (but only on fedora 28)"
Little bit of a crazy issue and can't figure it out.

On Fedora 27 Atomic from the router pod:

[code]

On Fedora 28 Atomic from the router pod:
[code]

Which breaks a lot of things. In this case it was the exposed route to the registry since the router can't talk to it. Registry console also wouldn't work.

Since it's Atomic host I was able to switch between 27/28 to confirm the issue. It require

[2018-05-23 06:28] klmcwhirter commented on #19783
Thanks @bparees. That certainly does. Now that you explain it I suppose it should have been obvious. That solves the other problem i saw coming - executing as non-privileged user for a regular build I cannot install packages that are needed. Of course, that could only happen with the dockerStrategy.

Got caught in a bit of S2I recursion ... thanks to you I made it out.

Thanks for taking the time

[2018-05-23 06:48] mar1ged commented on #16521
I still do not know about alternatives, so this FR is still of interest

/remove-lifecycle stale

[2018-05-23 10:46] mfojtik opened #19817 "prune builds based on settings in the buildconfig should prune completed builds based on the successfulBuildsHistoryLimit setting"
[code]

Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19815/test_pull_request_origin_extended_conformance_install/11792/

[2018-05-23 11:20] billyfoss commented on #19633
I ran into this during a test build last night.

TASK [openshift_version : Get available origin version] ************************
Wednesday 23 May 2018  05:16:09 +0000 (0:00:00.055)       0:00:24.059 *********
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: IndexError: list index out of range
fatal: [oshiftmaster-10-10-14-7.mydomain....com]: FAILED!

[2018-05-23 11:52] #19681 closed

[2018-05-23 11:53] bparees commented on #19783
Great! Glad to help.

Ben Parees | OpenShift

On Wed, May 23, 2018, 02:29 klmcwhirter <notifications@github.com> wrote:

[2018-05-23 12:04] bparees commented on #19817
[code]

presumably spurious network issue

/close

[2018-05-23 12:04] #19817 closed

[2018-05-23 13:07] simo5 commented on #16521
Sounds like this is something [Istio](https://istio.io/) is in a better position to deliver to you.

[2018-05-23 13:08] #19794 closed

[2018-05-23 13:40] wozniakjan commented on #16940
@enj as discussed in https://github.com/openshift/origin/pull/19790, the flakes appear to be caused by part of turning off the client rate limiting in https://github.com/openshift/origin/pull/16850
https://github.com/openshift/origin/blob/85420ea55d71cefd12631d0855cad52ded499c82/test/util/client.go#L237

Reassigning this issue back to you, if you think there is still something wrong with it, let m

[2018-05-23 13:42] bparees commented on #16940
specifically the default timeout setting, as i undestand it.

[2018-05-23 14:13] enj commented on #16940
Thanks.  I am going to close this and take care of it my PR.

[2018-05-23 14:13] #16940 closed

[2018-05-23 14:20] mrogers950 opened #19819 "remove template wrapper from the bootstrap policy file"
Wrapping the default bootstrap stuff in a template just makes it so that you have to run the file through `oc process --local` before passing to `oc auth reconcile`

[2018-05-23 14:22] mrogers950 opened #19820 "Add -dry-run and -additive-only flags to oc auth reconcile"

[2018-05-23 14:26] wozniakjan opened #19821 "TestOAuthServiceAccountClientEvent is timing sensitive"
in reference to https://github.com/openshift/origin/pull/16850, https://github.com/openshift/origin/issues/16940, and https://github.com/openshift/origin/pull/19790

TestOAuthServiceAccountClientEvent is one of the integration tests that still appears to be flaky
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19759/test_pull_request_origin_integration/18011/
https://open

[2018-05-23 16:54] DanyC97 commented on #19767
@php-coder @liggitt  much thanks for responding so quickly.

Is any info you need from me ?
Fyi the workaround i found so far was to set `allowedFlexVolumes: null` and that will do for now.

I suspect the changes made won't make it in 3.9 or 3.7 origin ?

[2018-05-23 17:18] php-coder commented on #19767
It was actually slow because I was on vacation 4 days and couldn't react on your issue.

Yes, most likely it won't but it can.

[2018-05-23 17:38] DanyC97 commented on #19767
@php-coder who will be in position to decide ? i think at minimum it should be in 3.9

[2018-05-23 17:39] php-coder commented on #19767
@liggitt Jordan, WDYT about backporting it?

[2018-05-23 18:27] #16674 closed

[2018-05-23 19:41] jwforres commented on #19813
@openshift/sig-networking

[2018-05-23 19:42] jwforres commented on #19809
@openshift/sig-developer-experience

[2018-05-23 19:42] jwforres commented on #19804
@openshift/sig-networking

[2018-05-23 19:46] bparees commented on #19809
@adambkaplan we've been through a number of issues w/ symlink management so it's possible at this point the behavior is intentional, but take a look through the code in question and we can figure out what the right solution is.

[2018-05-23 19:48] jwforres commented on #19803
@openshift/sig-networking