[2018-01-17 12:34] sttts commented on #18123
https://github.com/kubernetes/kubernetes/issues/46705#issuecomment-306090567 concludes that these messages are normal.

[2018-01-17 12:38] sttts commented on #18123
The "Fast watcher, slow processing." messages suggest that there is either a cpu bottleneck on the apiserver, or a network bottleneck to the nodes. Compare e.g. https://github.com/kubernetes/kubernetes/issues/33653 for a discussion, though that's older than 3.7.

[2018-01-17 12:54] henning-cg commented on #18125
Not the original poster, but we are have the same problem. The controller logs obtained via `service atomic-openshift-master-controllers status -l -f` show:

[code]

[2018-01-17 13:25] badreddine16 commented on #17963
Hola Chicos ! Any news regarding this issue ?!

[2018-01-17 13:42] gbaufake commented on #18125
Some Logs from

`service atomic-openshift-master-controllers status -l -f`

`Jan 17 08:37:21  atomic-openshift-master-controllers[4416]: E0117 08:37:21.335320    4416 namespace_controller.go:148] unable to retrieve the complete list of server APIs: istio.io/v1alpha1: the server could not find the requested resource, servicecatalog.k8s.io/v1beta1: an error on the server ("Error: 'x509: certificate

[2018-01-17 14:31] jim-minter commented on #12111
@msenmurugan and @garagatyi thank-you both for your report, I've now been able to reproduce this.  It's a new issue in an old area; I have opened https://bugzilla.redhat.com/show_bug.cgi?id=1535510 to track.

[2018-01-17 14:35] danwinship commented on #17754
Right, forgot about this bug. So the current status is that Pods are getting `role: app` added to their NodeSelectors, which makes the test fail, but I can't figure out where that label is coming from; the Namespace does not appear to have a `node-selector` annotation. So where else could the `role: app` be coming from?

[2018-01-17 14:46] nevadascout commented on #17047
Still having this problem on `starter-us-west-2`.

I've got 7 failed deployments in a row for this error message.

[2018-01-17 15:06] helletheone commented on #13212
seriously?? but i thought  journald  is the only supported

[2018-01-17 15:11] asatsi commented on #18115
@edsonmarquezani I have used the fix from the branch I mentioned which was done by Microsoft. Sorry don't have much details.

[2018-01-17 15:34] stevekuznetsov commented on #18095
For posterity, `fdisk` output from before the switch:

[code]

And after:

[code]

[2018-01-17 15:45] smarterclayton commented on #18123
These messages (and the corresponding EOF etcd mvcc version expired) are mostly spam and need to be cleaned up.  I've never seen `Fast watcher, slow processing` lead to any useful debugging outcome.

[2018-01-17 15:46] smarterclayton commented on #17330
We've seen this happening in `docker-1.12.6-68.gitec8512b.el7.x86_64` in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18133/test_pull_request_origin_extended_conformance_install/5693/

[2018-01-17 15:47] liggitt commented on #17798
see https://bugzilla.redhat.com/show_bug.cgi?id=1529473

[2018-01-17 15:58] asatsi commented on #18134
Looks like nip.io is back online again! Looks like this is a frequent issue with nip.io

[2018-01-17 15:58] #18134 closed

[2018-01-17 16:13] edsonmarquezani commented on #18115
As far as I could see, Microsoft scripts now sets the cluster up without any `cloud-provider` at first, doing that later, after nodes have ingressed in the cluster (as I have figured out on my tests). Seems like a workaround, actually, not a real fix for the problem (whose cause remains unknown for me).

[2018-01-17 16:25] sosiouxme commented on #18127
@php-coder that commit was against master, so I don't think it's relevant to 3.7. Also since the router deployment is seeing the same message...

My guess would be admission config, default nodeSelector, or something like that is breaking things. @micah can you post the `master-config.yaml`? Or at least give some information about the server setup.

[2018-01-17 16:54] jfchevrette commented on #18123
@sttts Thanks. I'm going to consider those errors harmless for now. Cluster seem to be running just fine.

Could this explain why the watches are constantly being restarted on all 3 masters? (every few seconds) This may be entirely normal but I don't recall seeing this before. In essence I'm seeing "Starting watch for xyz" every few seconds for ~50 endpoints.

[2018-01-17 17:18] liggitt commented on #18125
if you have an API group that is unresponsive (as you do), the namespace controller cannot guarantee it has cleaned up all the resources in the namespace.

It is expected that the namespace will remain in Terminating state until the controller can ensure it has discovered and removed all the resources in that namespace.

[2018-01-17 17:38] sosiouxme opened #18141 "openshift-diagnostics binary missing from origin images"
`oc adm diagnostics DiagnosticPod|NetworkCheck` are broken because there is no diagnostics binary to run in the origin-deployer image as expected.

##### Version
3.9

##### Steps To Reproduce
1. `oc adm diagnostics DiagnosticPod -l 0`
2. `oc get events`

##### Current Result
[code]
[code]

##### Additional Information
For the 1.8 kubernetes rebase in origin 3.8 `openshift infra diagnostics` was fa

[2018-01-17 18:23] jim-minter commented on #17891
Can't replicate an issue; `oc patch is XXX -p '{"spec":{"tags":[{"$patch":"delete","name":"YYY"}]}}` works for me.  Closing issue - re-open if required.

[2018-01-17 18:23] #17891 closed

[2018-01-17 18:31] gbaufake commented on #18125
@liggitt Is there a way to restart API group specifically?

[2018-01-17 18:53] micah commented on #18127
@sosiouxme - sure, I'm happy to provide any details, or do any debugging that can help!

The server is an atomic centos system, at version 7.1712. I deployed the openshift-ansible advanced recipes to get things going on the system. I tried to disable the stats port for the router, according to the docs, but it did not work, and may be the cause of this issue. Because the documentation did not work

[2018-01-17 18:58] tnozicka commented on #17581
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18074/test_pull_request_origin_extended_conformance_install/5715/#featuredeploymentconfig-deploymentconfigs-with-revision-history-limits-conformance-should-never-persist-more-old-deployments-than-acceptable-after-being-observed-by-the-controller-suiteopenshiftconformanceparallel

[2018-01-17 19:41] stevekuznetsov commented on #17330
We are waiting to tag in `docker-1.12.6-71.git3e8e77d.el7.x86_64.rpm` - the job tagging it in is broken, @michaelgugino is working on fixing it in https://github.com/openshift/aos-cd-jobs/pull/999

[2018-01-17 20:08] ivanthelad commented on #18115
hey guys,
specifically, whats required here is a restart of openshift multi-tenant sdn (same apples to the flat sdn )
https://github.com/ivanthelad/openshift-origin/blob/master/scripts/deployOpenShift.sh#L515

Executing `ansible all -b  -m service -a 'name=openvswitch state=restarted` and then the node service should fix it

[2018-01-17 20:13] bparees commented on #17968
opened docs PR to improve this:
https://github.com/openshift/openshift-docs/pull/7214

[2018-01-17 20:13] #17968 closed

[2018-01-17 20:15] bparees commented on #17892
doc update:
https://github.com/openshift/openshift-docs/pull/7214

[2018-01-17 20:15] #17892 closed

[2018-01-17 20:23] bparees commented on #17322
i'm not aware of any issues w/ this test failing, the watch timeout might be unnecessarily high but i'm not interested in refactoring something that's working and not obviously wrong.

in cases where it does fail, 6 minutes to hit a failure isn't egregious (and again, if it starting failing, it needs to be fixed, not just have the "timeout before it fails" reduced)

[2018-01-17 20:23] #17322 closed

[2018-01-17 20:26] #17169 closed

[2018-01-17 20:26] bparees commented on #16988
closing due to lack of information

[2018-01-17 20:26] #16988 closed

[2018-01-17 20:34] bparees commented on #15521
I don't envision a way for us to address this feature request in a way that's both:

1) going to satisfy a significant set of users  (what to do for users consuming plugins that don't respect the proxy config?  or just running shell commands in their job?  or for proxies that require additional config such as username/password?)  (see: https://wiki.jenkins.io/display/JENKINS/JenkinsBehindProxy)

2

[2018-01-17 20:34] #15521 closed

[2018-01-17 20:47] bparees commented on #15233
@dmage i don't actually understand this issue anymore.

is the suggestion that when pulling the base image, builds should (ideally) do a pullthrough against the repository (which would require the imagestreams be defined using the local reference policy) so that when they push the application image, the base image layers are already cross-mountable?

[2018-01-17 20:48] bparees commented on #15233
(there's no bug here, the buildconfig is defined in terms of an imagestream reference, the build controller resolves that imagestream reference to an image reference as part of creating the build.  If the imagestream is being resolved to the "wrong" image reference, that's a symptom of how the imagestream is defined(not using local reference policy), not a bug in the build controller).

[2018-01-17 20:49] bparees commented on #14554
@derekwaynecarr @smarterclayton this is fixed right?

[2018-01-17 20:51] bparees commented on #10063
closing based on age.

[2018-01-17 20:51] #10063 closed

[2018-01-17 20:55] gabemontero commented on #15521
+1

this has come up through a few other avenues as well

in addition to the concerns @bparees noted, even with the plugins that honor proxy, there are some short comings wrt honoring env vars and allowing for support of multiple settings; I in fact have a PR submitted to the git plugin; the maintainer is still waiting for other users to try it and confirm it works for them before he'll merge it;

[2018-01-17 20:58] bparees commented on #6745
moving this issue to the postgres image repo:
https://github.com/sclorg/postgresql-container/issues/225

[2018-01-17 20:58] #6745 closed

[2018-01-17 21:13] jorgemoralespou commented on #17986
@praveenkumar Seems like it is finally fixed for 3.7.0

@smarterclayton Now, for 3.7.1 we still need origin-ansible 3.7.1 (https://hub.docker.com/r/openshift/origin-ansible/tags/)

It looks like cutting an origin release should automate the release of some images in the CI process.

[2018-01-17 21:15] tnozicka commented on #17581
this is bad
[code]

I'll continue searching for the cause tomorrow but the only place it creates a deployer is when the current status is `deployapi.DeploymentStatusNew` which after it's done is Complete. I am not sure it's because the informer is not synced - it looks like it has to see other states to transition to Complete in the first place. Maybe something is doing retry update on the RC wron

[2018-01-17 21:33] dmage commented on #15233
The builder should pull a base image from the internal registry to be able to crossmount its layers into another repository.

It's a problem how the image stream in the `openshift` namespace are defined. Not a registry problem.

[2018-01-17 22:03] smarterclayton commented on #14554
Dunno

On Wed, Jan 17, 2018 at 3:49 PM, Ben Parees <notifications@github.com>
wrote:

[2018-01-17 22:06] smarterclayton commented on #14554
Looks like good and bad

Good: i see the cpu on the slice
Bad: there are zero labels on it (pod, container name, namespace) so it's
not much use.

Looks like cadvisor needs to set the pod and namespace labels on the slices.

On Wed, Jan 17, 2018 at 5:02 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2018-01-17 22:08] bparees commented on #15233
right, so it's not really up to the builder, it depends on the imagestream definition.  I think we're on the same page.

@dmage yeah, i put the imageregistry label on it for lack of a better one.  "image" might have been more appropriate. sorry for any confusion.

[2018-01-18 01:25] louyihua commented on #18125
It's the problem of the 'Service Catalog' API group under the `kube-service-catalog` namespace.
Please check the states of the two pods under this namespace.

[2018-01-18 01:30] louyihua commented on #18125
@gbaufake
[code]
Your log shows there is a **certificate problem** of the `ServiceCatalog` API group. Please fix this issue first.

[2018-01-18 01:36] louyihua opened #18153 "Update the vendor package 'github.com/containers/storage'"
Currently, openshift has a reference to the deprecated package `github.com/docker/engine-api` **only** from the vendor package 'github.com/containers/storage'. This package is updated recently to remove the dependency of this deprecated package. Maybe it is the time to update this package, so that openshift can also eliminate the reference to the deprecated package `github.com/docker/engine-api`.

[2018-01-18 06:37] vfreex commented on #17464
@knobunc Any updates? I can also help by providing an environment that can reproduce this issue.

[2018-01-18 07:19] aizuddin85 commented on #17952
Having same trouble, despite unable to get scc but seems like policy is still in working order.

[2018-01-18 09:07] #18072 closed

[2018-01-18 09:20] mfojtik commented on #18153
@rhatdan FYI

[2018-01-18 09:53] soltysh commented on #17952
For reference, this bug is affecting `oc get scc` for some unknown reason to me. See https://bugzilla.redhat.com/show_bug.cgi?id=1525014 for further details.

[2018-01-18 10:18] sujeshchirackkal commented on #17776
I had a similar issue for the cluster which I set up locally.

`oc login https://192.168.99.101:8443 --insecure-skip-tls-verify=true` this worked fine for me where as the error was thrown when I tried `oc login https://192.168.99.101:8443/console --insecure-skip-tls-verify=true` It has to be the exact server address. removing /console did work for me

[2018-01-18 11:26] tocosonic commented on #16529
by doing so, it is still not possible to use the same host name for different ports. When using one service with multiple ports you can also create routes for each of those ports, but you have to use different host names :-(

[2018-01-18 11:29] soltysh commented on #18125
Seems like the cert issue is related to #17952. From https://bugzilla.redhat.com/show_bug.cgi?id=1525014#c14 one possible solution was to re-create the service catalog.

[2018-01-18 11:45] badreddine16 commented on #17740
Th same with version 3.7.1

[2018-01-18 12:40] sosiouxme commented on #16994
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6757/test_pull_request_openshift_ansible_extended_conformance_install/4011/

[2018-01-18 12:52] mfojtik commented on #17938
@tnozicka seems like the trigger should trigger as the ImageStreamTag 'latest' is present.

[2018-01-18 14:33] gbaufake commented on #18125
@soltysh Using this workaround that you mentioned may lead to https://github.com/openshift/openshift-ansible/issues/6572?

[2018-01-18 15:08] tnozicka opened #18156 "Something is wrong with our build"
It used to work just fine before pulling today but now the openshift binary is 2MB on every second compile and broken
[code]

[2018-01-18 15:21] mfojtik commented on #18156
/shrug

[2018-01-18 15:37] sjenning commented on #18135
Are you seeing the error mentioned in https://github.com/openshift/origin/issues/18115#issue-288679927 when the node fails to start the second time?
[code]

[2018-01-18 15:51] tnozicka commented on #18156
well, `git clean -xfd` helped for now

[2018-01-18 16:01] fretboarder commented on #18135
Exactly.

[code]

While doing some more investigations in the meantime I came across https://github.com/Microsoft/openshift-container-platform/blob/master/scripts/deployOpenShift.sh. These is the installation script for OCP (not Origin!!!)

Line 659,660:
[code]

In fact, rebooting the nodes seems to be a workaround for the moment.

[2018-01-18 17:16] matthewvalimaki opened #18158 "Egress router pod and no macvlan0"
After following instructions at https://docs.openshift.org/3.6/admin_guide/managing_networking.html and especially `DEPLOYING AN EGRESS ROUTER POD IN REDIRECT MODE` I am unable to get the egress pod to work as expected.

##### Version
[code]
On CentOS 7
[code]

##### Steps To Reproduce
Follow steps in mentioned documentation for `DEPLOYING AN EGRESS ROUTER POD IN REDIRECT MODE`.

##### Current Res

[2018-01-18 17:32] sosiouxme commented on #18127
It looks like this error message comes from parsing a label or label selector, the combination of [this](https://github.com/openshift/origin/blob/release-3.7/pkg/util/labelselector/labelselector.go#L197) and [this](https://github.com/openshift/origin/blob/release-3.7/pkg/util/labelselector/labelselector.go#L259). It looks like something was empty or simply lacked the `=` it was expecting, but I ca

[2018-01-18 17:42] jorgemoralespou opened #18159 "oc login does not honor --request-timeout option"
Try to log into a cluster that is not up, e.g. 127.0.0.2

[code]

Even though I've set a 1s timeout, it takes 30s to fail

##### Version
oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

[2018-01-18 17:53] pweil- commented on #18127
@mfojtik do you have any thoughts here?  I have also never seen this launching a router pod.

[2018-01-18 18:54] jpeeler commented on #17951
I highly suspect that this (https://github.com/openshift/openshift-ansible/pull/6736) solves the problem.

[2018-01-18 19:05] edsonmarquezani commented on #18115
@ivanthelad It didn't work for me. I'm
- setting up a fresh cluster without cloud-provider
- re-configuring master components with cloud-provider Azure and restarting
- re-configuring node agents with cloud-provider Azure
- restarting `openvswitch`
- deleting node and restarting node agent

No luck so far.

[2018-01-18 19:10] pravisankar commented on #16080
Fixed by https://github.com/openshift/origin/pull/16766

[2018-01-18 19:10] #16080 closed

[2018-01-18 19:29] knobunc commented on #17981
Can you see if your bridge is in promiscuous mode:
  ip link show docker0

And can you see if your node logs mention "Hairpin mode" please?

[2018-01-18 21:09] sjenning commented on #17974
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18165/test_pull_request_origin_unit/8206/

[2018-01-18 21:15] sjenning commented on #18135
Ok, I'm going to close this issue then as a dup of #18115.

[2018-01-18 21:15] #18135 closed

[2018-01-18 21:35] sjenning commented on #16994
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18167/test_pull_request_origin_extended_conformance_gce/14496/

[2018-01-18 21:38] smarterclayton opened #18173 "Strange error when getting logs for terminating pod"
3.9 master, using json-file driver with docker 1.12.6-68

I had just deleted this pod.  I get this when I call logs briefly

[code]

@openshift/sig-pod

[2018-01-18 21:38] smarterclayton commented on #18173
I'll move this to a bug if this isn't already known

[2018-01-18 23:24] rajatchopra commented on #15772
pull #18177 to allow admin to update routes/custom-host by default.
Also see discussion in https://bugzilla.redhat.com/show_bug.cgi?id=1524707

[2018-01-18 23:40] lucastheisen opened #18179 "openshift-web-console pod fails to start due to Error: User "system:serviceaccount:openshift-web-console:webconsole" cannot get clusterservicebrokers.servicecatalog.k8s.io at the cluster scope: User "system:serviceaccount:openshift-web-console:webconsole" cannot get clusterservicebrokers.servicecatalog.k8s.io at the cluster scope"
I am using [openshift-ansible](https://github.com/openshift/openshift-ansible) to provision my cluster.  It seems to be happy up until it attempts to [_Verify that the web console is running_](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_web_console/tasks/install.yml#L94) where it fails:
[code]
However, when i check in the web console from a browser using my public ho

[2018-01-19 02:16] wanghaoran1988 opened #18180 "Make immortal namespace configurable"
Feature Request:

We are adding more projects after a fresh installation, logging, kube-service-catalog(if we enable this in ansible) openshift-console ..., and currently the immortal namespace are hard coded, when we enable like service-catalog in openshift ansible, we should make sure this is a immotal namespace, also some customer want to preserve some projects that created themself, and I thin

[2018-01-19 02:35] liggitt commented on #18180
the current immortal namespaces are designated as such because they house system controllers that would be required in order to recreate those namespaces.

it is not a catch-all for "important namespaces". it is only to prevent deleting namespaces that would require going to etcd to restore cluster operations

/close

[2018-01-19 02:35] #18180 closed

[2018-01-19 02:58] sjenning commented on #17901
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18147/test_pull_request_origin_extended_conformance_install/5850/

[2018-01-19 03:07] wanghaoran1988 commented on #16674
Instead of saying share a secret cross namespace, I'd like we can have a way to let the user custom the provision of a sa: like what SA will be created after a namespace created, and what secret will be created and embed in the SA.
@mfojtik

[2018-01-19 03:34] sjenning commented on #14296
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18020/test_pull_request_origin_extended_conformance_install/5853/

[2018-01-19 03:35] sjenning commented on #18048
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18020/test_pull_request_origin_extended_conformance_gce/14530/

[2018-01-19 06:11] glennswest commented on #18115
actually been injecting the azure.conf for quite a while in the ref arch. And I run it rather regularly, worked fine 3.5-3.6. Some time in december something changed, and no longer will the cluster work if you inject during the setup. The post cluster restart was not as reliable during this as the pre-install inject.

[2018-01-19 07:34] miminar commented on #17694
See it here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17783/test_pull_request_origin_extended_conformance_install/5804/

[2018-01-19 08:26] garagatyi commented on #17981
<details>
<summary>ip link show docker0</summary>

[code]
</details>

<details>
<summary>docker logs origin 2>&1 | grep -i hair</summary>

[code]
</details>
If provided logs are not what you were asking for, please, let me know how I can get those logs.

[2018-01-19 08:58] rathinikunj opened #18183 "oc exec command gives an error"
On trying to execute a remote command on one of the pods using 'oc exec', the command fails with below errors:

##### Command Executed:
[code]
##### Console Error:
[code]
##### Journalctl Error:
[code]
##### Version
###### openshift version
[code]

##### Steps To Reproduce
Not sure. Probably multiple reboot of Openshift Masters and Nodes

##### Additional Information
Output of `oc adm diagnostics`

[2018-01-19 10:06] pennpeng opened #18184 "build 3.7.1 rpms"
[code]

[2018-01-19 11:02] php-coder commented on #18184
Look like you have to set `user.name` in the git configuration.

[2018-01-19 11:34] aizuddin85 commented on #18183
what is the output for below command(as system:admin user):

`oc get pods -n default`
`oc get route -n default`
`oc get svc -n default`

[2018-01-19 11:37] aizuddin85 commented on #18179
are you able to query `oc get scc` as system:admin user?

[2018-01-19 11:41] rathinikunj commented on #18183
Hi @aizuddin85 ,

Thanks for looking in to the issue. Here are the requested outputs.

**oc get pods -n default**
[code]
**oc get route -n default**
[code]
**oc get svc -n default**
[code]

[2018-01-19 11:55] mfojtik commented on #18159
/sig master
/assign juanvallejo

[2018-01-19 12:32] #13316 closed

[2018-01-19 12:33] #15816 closed

[2018-01-19 12:56] spadgett opened #18188 "[Feature:Builds][Conformance] build without output image building from templates should create an image from a docker template without an output image reference defined [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18114/test_pull_request_origin_extended_conformance_install/5863/

[code]

/kind test-flake
/priority p1
/assign @bparees

[2018-01-19 13:08] inspired commented on #14631
Running v3.7.0 and also ran into this.

resolved it

[2018-01-19 14:20] bparees commented on #18188
devmapper https://github.com/openshift/origin/issues/17330:

2018-01-19T05:45:36.542567746Z F0119 05:45:36.541915       1 helpers.go:119] error: build error: devmapper: Error mounting '/dev/mapper/docker-202:2-79751976-243ae3d90c1b19bdd417c2649f868783ebbecdd28924d6470be64a568dd39cb3' on '/var/lib/docker/devicemapper/mnt/243ae3d90c1b19bdd417c2649f868783ebbecdd28924d6470be64a568dd39cb3': invalid arg

[2018-01-19 14:20] #18188 closed

[2018-01-19 15:37] ayen-tibco commented on #17460
I got the same error message and my containerized Openshift got upgrade to 3.7 while my oc client tool remains at 3.6. How do I upgrade my client tools? I don't sse in the Quick or Advance installation docs. Was it left out intentionally?

https://docs.openshift.com/container-platform/latest/install_config/install/rpm_vs_containerized.html

# oc version
oc v3.6.173.0.83
kubernetes v1.6.1+5115d708d

[2018-01-19 15:57] lucastheisen commented on #18179
@aizuddin85 , from the master node it works just fine:
[code]
From any other node it fails (which i believe is expected)...

[2018-01-19 16:18] gabemontero opened #18190 "bump disk storage capacity for ami used with build/image_ecosystem extended tests"
First, apologies if the quantity of labels is a negative ... wanted to make sure it had the right exposure (and all the colors are pretty :-) )

Opening as part of my hand off as devexp extended test runner from last sprint at @bparees request.

Per recent communications between @stevekuznetsov , @bparees , @pweil- , and myself, we've started seeing a fair amount of image pruning during the build

[2018-01-19 16:22] sjenning commented on #18190
Pick from upstream to protect the sandbox image from imageGC
https://github.com/openshift/origin/pull/18189

[2018-01-19 17:17] liggitt commented on #15772
how is that reasonable? certificates expire.

gating updating the certificate on an update host permission doesn't make sense to me

[2018-01-19 17:28] gabemontero commented on #17694
the failure in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17783/test_pull_request_origin_extended_conformance_install/5804/ was the same test as this issue is tracking, but the failure was different than the symptoms originally reported in this issue, and not related to the prometheus build stats being verified.

The sample app build we launched started and failed qu

[2018-01-19 18:07] gabemontero commented on #17694
If I do delete the active build query, I'll do it in a separate item.  Reclosing this issue per original symptom.

[2018-01-19 18:07] #17694 closed

[2018-01-19 18:09] sjenning commented on #17605
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18189/test_pull_request_origin_extended_conformance_install/5898/

[2018-01-19 18:13] gabemontero commented on #17694
separate item - https://github.com/openshift/origin/pull/18193

[2018-01-19 18:42] juanvallejo commented on #18159
This was originally patched in https://github.com/openshift/origin/pull/12062
Will take a look

[2018-01-19 19:29] rajatchopra commented on #15772
@liggitt
Would you prefer something like this: https://github.com/openshift/origin/pull/18195
This removes TLS update out of routes/custom-host resource and keeps it in 'routes' resource only.

[2018-01-19 19:31] #17493 closed

[2018-01-19 19:32] #17798 closed

[2018-01-19 20:00] juanvallejo commented on #18159
@jorgemoralespou I can't seem to replicate this using the same version of the client.

[code]
[code]

Any chance you could post `--loglevel 8` output / your kubeconfig contents?

[2018-01-19 20:05] jcantrill commented on #18107
Please run [1] so we can get an idea of what your topology looks like.  @pweil-  who from the storage team can chime in here?  I am unaware of logging being supported on gluster

[1] https://github.com/openshift/origin-aggregated-logging/blob/master/hack/logging-dump.sh

[2018-01-19 20:53] jorgemoralespou commented on #18159
@juanvallejo I'm on Mac, maybe that makes a difference. Will post log web
back on computer on Monday.

[2018-01-19 21:15] sosiouxme commented on #17974
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_unit/8295/

[2018-01-19 22:29] bparees commented on #15233
trello'd https://trello.com/c/HHQn17y0

[2018-01-19 22:29] #15233 closed

[2018-01-19 22:34] bparees commented on #15233
@dmage just to confirm, if we pullthrough a base image in the "openshift" namespace, a user who later pushes an image built on top of that base image, to their own namespace, will be able to cross-mount the base layers from the openshift namespace?

I'm surprised we can/do that level of access checking.

[2018-01-19 22:35] bparees commented on #6996
closing since i can't get details on what is being asked for here.

[2018-01-19 22:35] #6996 closed

[2018-01-19 22:39] bparees commented on #7058
trello'd https://trello.com/c/ZaluQBiF

[2018-01-19 22:39] #7058 closed

[2018-01-19 22:41] bparees commented on #8486
oc import-image --dry-run exists now.

not sure it does quite what @soltysh had in mind, but it does show information about the image being imported.

[2018-01-19 22:41] #8486 closed

[2018-01-19 22:49] bparees commented on #17238
@miminar is this covered by https://trello.com/c/o8tqoSAp ?

If not, should it be? (should that card be extended to cover this)

[2018-01-19 23:02] bparees commented on #9730
@soltysh @miminar why do we need multiple secrets to resolve this?

Can one of you provide an updated summary of exactly what scenario is broken?

What I am seeing is:

1) push an image in one project
2) as the same user, import that image into a second project (from the registry)
3) the imagestream is marked insecure(and the registry is) but the import fails with:
[code]

I would assume the issue

[2018-01-19 23:03] bparees commented on #10078
trello'd https://trello.com/c/NOyQHfiU

[2018-01-19 23:03] #10078 closed

[2018-01-19 23:06] bparees commented on #10079
trello'd https://trello.com/c/z5JvS6Dx

[2018-01-19 23:06] #10079 closed

[2018-01-19 23:10] bparees commented on #12562
trello'd https://trello.com/c/SmuU6O2Y

[2018-01-19 23:10] #12562 closed

[2018-01-19 23:16] bparees commented on #13243
I thought cross-mount was supposed to handle this already(assuming of course that we pullthrough'd the layers at some point in the openshift namespace)?  What *are* the conditions under which a layer can be successfully cross-mounted on push?

I'm not understanding what the hub has to do with this.  Is the idea that any layer we pullthrough'd from a public repository, should be marked as public wh

[2018-01-19 23:22] bparees commented on #16531
part of https://trello.com/c/wGB9TRJS

[2018-01-19 23:22] #16531 closed

[2018-01-19 23:30] bparees commented on #8663
trello'd https://trello.com/c/oLPEjyle

[2018-01-19 23:30] #8663 closed

[2018-01-19 23:36] bparees commented on #13135
@smarterclayton what do you see as the direction on this?  It seems to me the right solution is something generic, e.g.  maybe a way to annotate your replicationcontroller/replicaset with a resource type/json-path to watch for?  (which, when seen, unidles the RC)

[2018-01-19 23:38] bparees commented on #16184
trello'd https://trello.com/c/YjUxMm1P

[2018-01-20 00:06] aveshagarwal commented on #17897
It seems to happen again: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18198/test_pull_request_origin_extended_conformance_gce/14615/

I am reopening the issue.

[2018-01-20 00:32] bparees commented on #17897
push started at:
[code]

registry logs indicate it was just starting up at 22:00:11:
[code]

so unless the registry was restarted, it does seem like something probably didn't wait for it to be up before our tests started running.

[2018-01-20 01:05] evanshortiss opened #18200 "metrics failing to initialise in 3.7.0"
When starting a cluster with metrics in using v3.7 the ansible metrics job fails. This could be some misconfiguration on my end, but I'm not 100% sure yet.

##### Version
[code]

##### Steps To Reproduce
1. Run `oc cluster up --metrics=true`

##### Current Result
The cluster starts but metrics fails to initialise.

##### Expected Result
Cluster should start with metrics enabled.

##### Additional

[2018-01-20 06:36] liggitt commented on #15772
the check in that PR is a duplicate of the check the apiserver already does. it's still unclear to me why we are preventing updates of the certificate.

secondly, even if we did restrict that, it should not be coupled to the same permission that allows updating the host field.

[2018-01-20 07:56] huliangfei commented on #17740
+1

[code]

[2018-01-20 09:23] oleio opened #18201 "openshift3.7.0 router start failed , error : limiter.go:137] error reloading router: exit status 1"
**openshift 3.7.0 start router failed ,  container error message as follows:**

[code]

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://server101.lan:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

[2018-01-20 12:55] lanliu99 opened #18203 "No xpaas template showed on admin console"
After successfully created is/jboss-webserver30-tomcat7-openshift and template/jws31-tomcat7-basic-s2i, no template was showed on master:8443->browse catalog->middleware

language template (such as java, http server, ruby...) can be seen.

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://master.exampledis.com:8443
openshift v3.7.9
kubernetes v1.7.6+

[2018-01-20 19:31] nazarewk commented on #14766
Same here.

[code]

Tried on following systems (`uname -a`):
- Arch Linux `Linux krna 4.14.13-1-ARCH #1 SMP PREEMPT Wed Jan 10 11:14:50 UTC 2018 x86_64 GNU/Linux`
- CoreOS `Linux localhost 4.14.11-coreos #1 SMP Fri Jan 5 11:00:14 UTC 2018 x86_64 Intel(R) Core(TM) i5-2500K CPU @ 3.30GHz GenuineIntel GNU/Linux`

[2018-01-20 20:55] lucastheisen commented on #18179
Just pulled the latest openshift-ansible today...  Seems resolved.  Perhaps it was resolved by [this commit](https://github.com/openshift/openshift-ansible/commit/7d7499efb48b00a320148d71e915193635707ea6)

[2018-01-20 20:55] #18179 closed

[2018-01-21 08:33] greut commented on #14766
@nazarewk @chenray844 follow @mcastelino advice `--exec-opt native.cgroupdriver=systemd`

[2018-01-21 12:43] pennpeng commented on #18184
@php-coder that's WARNING， not the error

[2018-01-21 12:44] php-coder commented on #18184
Yes, but when it tries to get this value it fails:

[2018-01-21 13:21] php-coder commented on #18184
CC @stevekuznetsov

[2018-01-21 18:35] #17522 closed

[2018-01-22 00:18] sosiouxme commented on #17882
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18186/test_pull_request_origin_extended_conformance_install/5951/

[2018-01-22 00:18] sosiouxme commented on #18136
Is this different from https://github.com/openshift/origin/issues/17882 ?

[2018-01-22 00:20] sosiouxme commented on #17882
Is this different from https://github.com/openshift/origin/issues/12629 ?

[2018-01-22 03:10] fushilong commented on #7878
I am encountering this issue too,could anyone please give a suggestion on this?

[2018-01-22 03:42] davistran86 opened #18206 "Missing default serviceaccount, roles, rolebinding for every new project after upgrading from 3.6 to 3.7"
I'm using multi master cluster with origin 3.6
I upgraded to 3.7 using command

[code]

After sucess upgrading it to 3.7 I got errors and cannot deploy new project because of missing role binding. Every new project created is missing rolebinding, roles, default serviceaccount

[code]

![image](https://user-images.githubusercontent.com/23651625/35204480-f54d8d5e-ff60-11e7-8ad8-0fad97a502e7.png)

I

[2018-01-22 06:51] queer opened #18207 "missing service/route (service "webconsole" not found)"
After applying the workaround suggested in #14766, I get this issue when connecting to the origin container at `https://ip:8443/`.

##### Version
[code]

##### Steps To Reproduce
1. Run `openshift/origin` with the exact command listed in the docs.
2. Wait a few minutes for it to come up
3. Attempt to go to `https://ip:8443/`

##### Current Result

Error from the title:
[code]

##### Expected Resul

[2018-01-22 08:06] miminar commented on #17238
@bparees it definitely should be.

[2018-01-22 09:13] ravitri commented on #16844
Hi, I faced this exact issue as well and resolution regarded opening port in firewall. The deployments for persistent volumes, docker registry and router started working as expected.

[2018-01-22 09:13] ravitri commented on #17636
Hi, I faced this exact issue as well and resolution regarded opening port in firewall. The deployments for persistent volumes, docker registry and router started working as expected.

[2018-01-22 10:39] php-coder commented on #18206
@simo5 @enj Looks like RBAC-related. Is it something related to our area or it's about upgrade mechanism?

[2018-01-22 10:40] php-coder commented on #18203
@openshift/sig-developer-experience

[2018-01-22 10:41] php-coder commented on #18201
CC @knobunc

[2018-01-22 10:43] php-coder commented on #18200
CC @csrwng

[2018-01-22 11:27] riuvshin commented on #14031
same issue with `3.7.0`.
any news about current status of this?

[2018-01-22 12:09] kargakis opened #18208 "EmptyDir volumes should support (root,0644,tmpfs)"
[code]

Maybe a GCE issue? @smarterclayton
Maybe not @openshift/sig-storage

/kind test-flake

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18074/test_pull_request_origin_extended_conformance_gce/14727/

[2018-01-22 12:24] #14950 closed

[2018-01-22 13:39] sosiouxme opened #18212 "new "gcp" test fails without evident failure"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17857/test_pull_request_origin_extended_conformance_gce/14722/

[code]

This is not particularly enlightening.

[2018-01-22 14:41] simo5 commented on #18096
@deads2k @liggitt  @smarterclayton ping ?

[2018-01-22 14:47] simo5 commented on #18206
@php-coder sounds like a 3.6 master with the policy controller is still running and actively deleting all RBAC that are created by 3.7 masters, to keep them consistent with it's view of the world (3.6 policy controller considers only 3.6 policy authoritative and syncs RBAC to conform to it).

[2018-01-22 14:50] php-coder commented on #18206
For the record: https://github.com/openshift/openshift-ansible/issues/6787 (the same issue but for the installer).

[2018-01-22 15:05] bparees commented on #18203
@lanliu99 which project did you create the imagestream and templates in?  you should be creating them in the openshift namespace.

[2018-01-22 15:11] bparees commented on #17238
part of https://trello.com/c/o8tqoSAp

[2018-01-22 15:11] #17238 closed

[2018-01-22 15:27] MichalDuma opened #18213 "Failed to create container (Pod error 'CrashLoopBackOff')"
I try to get the pod running in Openshift. I used 2 Docker images: CentOS base and Ubuntu. None of them successfully got up. I keep getting the error 'CrashLoopBackOff'. After some time it changes the state into 'Error'. Logs show nothing and 'oc describe' still shows 'Error syncing pod'.

All steps are taken as system:admin under the default project. To avoid the privileges issues I added the fol

[2018-01-22 15:40] jim-minter commented on #18203
To load the template, I'm doing:
[code]
If I've already got the console open, I find that I need to press F5 to refresh it before the Tomcat template image appears.  @spadgett ?

Note that the images in jboss-image-streams.json don't show up as builders in the console because they are marked as hidden.

[2018-01-22 15:59] jcantrill commented on #18200
@evanshortiss Please attach via a file the entire ansible pod log

[2018-01-22 16:12] spadgett commented on #18203
Yeah, this is expected. We don't watch templates since they don't change often (and I don't think watch is supported for the templates resource?)

[2018-01-22 16:24] DirectXMan12 commented on #13135
is idling the controller watching a particular resource a common pattern?  It seems like it's mostly a problem if you have some sort of controller that runs on a per-namespace basis.

[2018-01-22 16:35] stevekuznetsov commented on #18184
Looks like you need a `git` environment with user name, etc.

[2018-01-22 16:40] stevekuznetsov commented on #18190
/assign @paradigm

[2018-01-22 17:56] smarterclayton commented on #18173
@sjenning if you can have someone at your team look at this - not sure what we're doing wrong, but looks broken.

[2018-01-22 18:48] sjenning commented on #18173
@joelsmith PTAL

[2018-01-22 19:04] sjenning commented on #18173
xref https://bugzilla.redhat.com/show_bug.cgi?id=1537237

[2018-01-22 19:04] rajatchopra commented on #15772
@liggitt
Fixed the duplicate in the PR.
TLS is not coupled to routes/custom-host now (through #18195).

I agree that TLS update should not need that much privilege, but we can discuss that as follow up. The current behaviour is that not even the project admin can modify the fields, and that needs to be fixed immediately.

[2018-01-22 19:19] sjenning commented on #17943
Sounds like a daemonset controller panic to me

[2018-01-22 19:35] sjenning commented on #18048
@DirectXMan12 PTAL

[2018-01-22 19:35] sjenning commented on #18045
@vikaschoudhary16 PTAL

[2018-01-22 19:35] sjenning commented on #18031
@ravisantoshgudimetla PTAL

[2018-01-22 19:36] sjenning commented on #17883
@frobware PTAL

[2018-01-22 19:36] sjenning commented on #17732
@ingvagabund PTAL

[2018-01-22 19:36] sjenning commented on #17695
@aveshagarwal PTAL

[2018-01-22 19:36] sjenning commented on #17638
@joelsmith PTAL

[2018-01-22 19:36] sjenning commented on #17523
@DirectXMan12 PTAL

[2018-01-22 19:37] sjenning commented on #17177
@vikaschoudhary16 PTAL

[2018-01-22 19:37] sjenning commented on #12072
@ravisantoshgudimetla PTAL

[2018-01-22 19:48] sjenning commented on #17595
I'm looking into this now.  Sorry for the delay.

[2018-01-22 20:46] ibotty commented on #17685
It does not work with any upstream release. See prometheus/prometheus#1176.

[2018-01-22 22:08] smarterclayton commented on #18173
I *think* I opened a bug, but can't find the tab anymore.

[2018-01-22 22:33] abutcher opened #18222 "aws node bootstrapping fails with default instance hostname"
Nodes provisioned with default hostnames (eg `uname -n` returns `ip-172-31-49-88`) are unable to register.

I'm following [openshift-ansible AWS provisioning](https://github.com/openshift/openshift-ansible/blob/master/playbooks/aws/README.md) which starts nodes with a bootstrap kubeconfig.

Bootstrapped nodes generate a CSR and the CN of the certificate request matches the default instance hostnam

[2018-01-22 22:53] smarterclayton commented on #18222
My worry is that we lost something in the rebase with regards to hostname
handling.  Looking at the current code, node name should have been honored
by the kubelet.

On Mon, Jan 22, 2018 at 5:33 PM, Andrew Butcher <notifications@github.com>
wrote:

[2018-01-22 23:08] davidaah commented on #16834
@liggitt i'm just coming across this issue (happy to open up a new one) but this design seems to be inconsistent to the design of other components distributed with origin such as the hosted router which expect the CA file to be separated from the certificate.

Further the openshift installer seems to indicate (though I could be misinterpreting) that if a CA is present it should be separate files h

[2018-01-22 23:27] smarterclayton commented on #18222
I don't see how this ever worked (the cloud provider overrides the hostname we provide).  I think we're going to have to stop setting NodeName, but not sure who else that might break.

[2018-01-22 23:31] arslanabbasi commented on #16448
Is there any update on this issue? Is using kubectl in OpenShift supported? If yes, till what level? Can I see all the constructs created using kubectl in OS UI or through oc?

[2018-01-22 23:38] liggitt commented on #16834
Neither. This issue is about *intermediates*, which must be included in the serving certificate file, so that they are sent from the server to clients as they connect.

[2018-01-23 00:33] sosiouxme commented on #14296
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6716/test_pull_request_openshift_ansible_extended_conformance_install/4222/

[2018-01-23 01:10] davidaah commented on #16834
What I mean to say is that for the purposes of each component with
certificates, including the master, the intermediate CA is expected
separately. To me then it sounds like it may just be (my) confusion in what
the openshift-ansible installer wants you to do. Today the installer does
not take the intermediate CA file and merge it with the named certificate
but it sounds like it should from what yo

[2018-01-23 01:15] thoraxe commented on #16951
@sabre1041 can you share the workaround that @shraderdm is referring to?

This issue is still open and still open upstream as well.

[2018-01-23 01:17] davidaah commented on #16834
If i'm understanding what you're saying however is that the CA referred to in the above docs is actually a client CA, not the intermediate CA?

[2018-01-23 01:31] liggitt commented on #16834
No, it is expected in the same PEM file as the serving cert, appended after the serving cert. This method is supported by many types of servers, including Apache.

No, if your named certificate requires sending an intermediate chain, append that chain to the file that contains the named certificate.

This issue is for cases where a custom *serving* cert was provided for the web console, though the

[2018-01-23 01:32] lanliu99 commented on #18203
I always press F5 after I created a new template in openshift namespace, could this be an issue of my subscription on the hosts?

[root@node1 ~]# subscription-manager list --available --matches '*OpenShift*'
No available subscription pools were found matching the expression "*OpenShift*".

[2018-01-23 01:35] davidaah commented on #16834
thanks for the detailed explanation! i was able to adjust accordingly

[2018-01-23 02:04] davistran86 commented on #18206
hi guys,
Is there any command to recreate (fix) them for whole cluster ?
Every new project will have no default serviceaccount and roles, and I also see them using old 3.6.1 deployer image for S2I,

Thanks alot.

[2018-01-23 02:44] enj commented on #18206
@davistran86 looks like you have a partial upgrade (mixed 3.6 and 3.7 components).  You need to downgrade everything back to 3.6 (restore a backup).  Then run `oc adm migrate authorization` and report its output.

[2018-01-23 03:15] davistran86 commented on #18206
@enj thanks, I will try it :)

[2018-01-23 03:33] davistran86 commented on #18206
hi @enj this is what I got ( I restored from snapshot not backup though):
summary (dry run): total=209 errors=0 ignored=0 unchanged=209 migrated=0

[2018-01-23 04:23] bparees commented on #18203
no, subscriptions are not causing this.

@spadgett what tags/annotation must a template have for it to show up under "middleware"?

[2018-01-23 07:01] ayen-tibco commented on #15920
+1 on Openshift Enterprise 3.7 Container Platform

1. Install 3.7 with 'atomic-openshift-installer install'
2. ansible-playbook -i ~/.config/openshift/hosts /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/openshift-metrics.yml    -e openshift_metrics_install_metrics=True
3. oc get all -n openshift-infra

hawkular-metrics pod reports the following

  | 2018-01-23 06:56:37 Start

[2018-01-23 08:02] pennpeng commented on #18184
@php-coder @stevekuznetsov  look the real error.  when i config git environment ,same error:
[code]

[2018-01-23 08:06] mwringe commented on #15920
For the enterprise versions, we normally require that a bugzilla be opened as that is where they are normally tracked.

That being said, we probably need more information that what is attached to this issue. The endpoint you are using (https://kubernetes.default.svc/api/v1/namespaces/openshift-infra/replicationcontrollers/hawkular-metrics) is just the endpoint to get the information about the repl

[2018-01-23 09:38] mfojtik commented on #18213
When the container is in CrashLoop, can you see the container logs via `oc logs pod/test300-1-ggpnj` ?

Additionally can you describe the pod? `oc describe pod/test300-1-ggpnj` ? That should reveal the events.

[2018-01-23 09:43] siddharthjoshi745 commented on #18207
I am running openshift origin in a container and i can see the same message on my browser.
missing service (service "webconsole" not found)
missing route (service "webconsole" not found)

Openshift origin service seems to run on the correct port.
[root@master ~]# netstat -nlp | grep 8443
tcp        0      0 0.0.0.0:8443            0.0.0.0:*               LISTEN      12622/openshift

But somehow co

[2018-01-23 11:07] #12672 closed

[2018-01-23 11:19] lanliu99 commented on #18203
I used another browser, it doesn't help.
I can use this template to new-app, but can not see it on screen, only language(java, php, etc.) templates are shown on http://master.example.com:8443  -> browse catalog
I can get the template from -n openshift as the following:
$ oc describe template jws31-tomcat7-mysql-persistent-s2i-new -n openshift
error: You must be logged in to the server (the server

[2018-01-23 11:54] #17197 closed

[2018-01-23 12:10] soltysh commented on #17523
It looks like your problem seems to be related with the one described in https://bugzilla.redhat.com/show_bug.cgi?id=1531511, can you please verify?

[2018-01-23 13:31] spadgett opened #18230 "Both Jenkins and Jenkins (Ephemeral) installed by cluster up"
We don't install the ephemeral templates for databases. Is it intentional that we're adding Jenkins (Ephemeral)?

![openshift web console 2018-01-23 08-29-10](https://user-images.githubusercontent.com/1167259/35278300-9752ef70-0017-11e8-99a0-0faa450f68c5.png)

cc @csrwng

[2018-01-23 13:55] mfojtik commented on #16674
@bparees i'm not sure what sharing secret between namespaces mean, but secrets cannot be shared (except copying them automatically)

[2018-01-23 13:58] mfojtik commented on #16674
the project templates should be able to automatically create SA and secret.

[2018-01-23 14:13] kargakis commented on #17970
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18210/test_pull_request_origin_extended_conformance_gce/14734/

[2018-01-23 14:32] wanghaoran1988 commented on #16674
Thanks, yes, update the project templates add the SA and secret you needed will address this.
https://docs.openshift.org/latest/admin_guide/managing_projects.html#modifying-the-template-for-new-projects

[2018-01-23 14:35] bparees commented on #16674
i meant accessing/using/referencing a secret in one namespace, from another namespace.

[2018-01-23 14:57] kargakis commented on #15631
Still an issue: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18176/test_pull_request_origin_extended_conformance_gce/14788/
[code]

[2018-01-23 15:11] enj opened #18232 "Need docs for cluster role aggregation"
@deads2k you added the feature, add the docs as well.

@openshift/sig-security

[2018-01-23 15:12] jim-minter commented on #18203
I am unable to recreate this issue on origin or ose v3.7.9 (which you indicate you're running).
[code]

"Red Hat JBoss Web Server 3.1 Apache Tomcat 7 + MySQL" icon is present in console under Middleware / Runtimes & Frameworks.

[2018-01-23 15:13] enj commented on #18232
I do not care if you just copy https://kubernetes.io/docs/admin/authorization/rbac/#aggregated-clusterroles into our docs, but I don't want more of https://bugzilla.redhat.com/show_bug.cgi?id=1537426

[2018-01-23 15:14] jim-minter commented on #17330
@stevekuznetsov any update?

[2018-01-23 15:20] apupier commented on #13864
with latest version of Jboss Tools (which will be released in few days) I still have a permission denied error:

[2018-01-23 15:22] deads2k commented on #18232
@ahardin-rh the docs already exist upstream.  Can you do the copy?

@enj You sort of get lucky on this one, but in general anyone can add new features and @openshift/sig-security ends up owning them (including whatever docs you want).

[2018-01-23 15:27] spadgett commented on #18203
@lanliu99 Are you using the template service broker? If so, there's a 15 minute re-list interval. You can force it to relist with `oc edit clusterservicebroker template-service-broker` and incrementing `relistRequests`

[2018-01-23 15:46] stevekuznetsov commented on #17330
The job trying to push this up is [here](https://buildvm.openshift.eng.bos.redhat.com:8443/job/ci/job/package-dockertested/). It has flaked in the last four runs on conformance testing. If we need this faster, we can tag the new `docker` RPM through manually but in the past that has broken the entire Origin queue, hence the testing. If y'all feel like we need to manually tag this in, please let me

[2018-01-23 15:47] stevekuznetsov commented on #18184
@dgoodwin does that stacktrace from `tito` ring any bells?

[2018-01-23 15:50] dgoodwin commented on #18184
It doesn't but that code saw some churn in the latest version and I've seen other issues around that which broke users and still need fixing. Is this with tito 0.6.11?

[2018-01-23 15:57] rootfs opened #18236 "need cifs-utils in origin package"
Running origin node on Azure needs cifs-utils package to mount Azure file (i.e. SMB), as documented [here](https://github.com/kubernetes/examples/blob/master/staging/volumes/azure_file/README.md)

##### Version
1.8

[2018-01-23 15:58] dcbw commented on #18136
Looks like the same one...

[2018-01-23 15:59] rootfs commented on #18236
cc @stevekuznetsov

[2018-01-23 16:02] apupier commented on #13864
[code]

[code]

[2018-01-23 16:10] Rado2137 opened #18238 "Prometheus scrape config problem in customized origin/examples/prometheus/prometheus.yaml"
Hello,

I started playing with prometheus example from
https://github.com/openshift/origin/blob/master/examples/prometheus/prometheus.yaml
however I removed oauth-proxy and all its dependencies, exposing Prometheus and Alert Manager directly - this is working fine, I am able to connect to it via web browser.

The problem is, that Prometheus is not able to scrape from some of the targets configured

[2018-01-23 16:14] bparees commented on #17330
looks like that job is about to fail again.  What caused the breakage last time? The rpm was actually bad?

[2018-01-23 16:15] bparees commented on #17330
btw it's going to fail because of the image GC problem:
[code]
so if we could get the storage issue fixed, the job might have passed.

[2018-01-23 16:55] stevekuznetsov commented on #17330
The job was broken before because the installer entrypoints were changed but that job was not updated. Hmm. I'll see if I can get the storage stuff tackled today.

[2018-01-23 17:05] enj commented on #18206
@davistran86 what is the output of `oc version` run against each of your masters now?

[2018-01-23 17:07] deads2k opened #18240 "test-cmd and test-end-to-end not using tmpfs for etcd"
etcd needs to run on fast storage during our test-cmd and test-e2e runs.  We used to run on a ramdisk.
 This is a known problem that we've fixed before, but has slipped.  https://github.com/openshift/origin/pull/18160 proved the problem, but trying to wire a fix is beyond my level of knowledge.

2 of the last 10 test-cmd runs have failed on this. This caused 3 of the last 5 failures in test-cmd.
2

[2018-01-23 17:26] stevekuznetsov commented on #18240
Need to turn on the checks from that PR and rebase https://github.com/openshift/origin/pull/16686 to fix it

/assign

[2018-01-23 17:46] #17872 closed

[2018-01-23 18:16] bparees commented on #17325
still seeing this:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/348/

[2018-01-23 19:04] dcbw commented on #17697
Dupe of https://github.com/openshift/origin/issues/17556 ?

[2018-01-23 19:11] edsonmarquezani commented on #18115
Same behavior with Origin 3.7. SDN restart won't have any effect. Does anyone have a clue on this?

[2018-01-23 19:33] gabemontero commented on #8074
@bparees @derekwaynecarr  - with the CRI-O related changes via https://github.com/openshift/origin/commit/1c1f6538b641268de4bee29e03f83cd05a98f8c5#diff-bb3dfd2a9b83662fd66fdf176d55aa53 from last fall, we seem to tolerate the lack of a cgroup files.

See https://github.com/openshift/origin/blob/master/pkg/build/builder/util_linux.go#L59-L62 in particular

Seems like we can close this out as fixed

[2018-01-23 19:40] bparees commented on #8074
@gabemontero huh. good for us :)  Yeah I guess it can be closed out.

[2018-01-23 19:40] #8074 closed

[2018-01-23 19:53] evanshortiss commented on #18200
Here's the full log.

[oc-ansible.log.txt](https://github.com/openshift/origin/files/1657382/oc-ansible.log.txt)

[2018-01-23 20:02] simo5 commented on #18013
@boeboe does the comment from @enj help ?

[2018-01-23 20:27] edsonmarquezani commented on #18115
Additional info. Debbuging node agent, I noticed the absence of these requests when it is Azure-enabled (request bodies ommited), which I suppose is the node registration. Can't tell why, though.
[code]

So,

[2018-01-23 20:51] #17581 closed

[2018-01-23 21:47] bparees commented on #17757
evidently still happening: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18250/test_pull_request_origin_unit/8486/

[2018-01-23 22:49] bparees commented on #17697
looks like it.

[2018-01-23 22:49] bparees commented on #17556
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18250/test_pull_request_origin_extended_conformance_install/6185/

[2018-01-23 22:50] bparees commented on #17697
wait, one is annotations and one is labels.  *might* be the same, but it's two different tests.

[2018-01-23 22:50] bparees commented on #17697
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18250/test_pull_request_origin_extended_conformance_install/6185/

[2018-01-24 00:56] resouer commented on #13503
Maybe use local-volume: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#option-3-baremetal-environments instead? It is designed to work with StatefulSet.

[2018-01-24 03:01] stevekuznetsov commented on #18190
Should be addressed by https://github.com/openshift/origin-ci-tool/commit/57be583045146475fee46cb31233ead39d1c95f0

Launching new AMI jobs to get the updated images now

[2018-01-24 03:03] IBM-Ronnie opened #18257 "error: error converting YAML to JSON: yaml: line 311: mapping values are not allowed in this context"
Hi,

Source: https://github.com/openshift/origin/blob/release-3.6/examples/quickstarts/cakephp-mysql.json

When I try to execute oc create -f https://github.com/openshift/origin/blob/release-3.6/examples/quickstarts/cakephp-mysql.json -n openshift to add the cakephp-mysql this template to my own project in Openshift origin v3.7, the linux throws the error, "error: error converting YAML to JSON: ya

[2018-01-24 03:38] pennpeng commented on #18184
@dgoodwin
hi,
[code]

[2018-01-24 04:16] smarterclayton commented on #18238
No route to host is suspicious.  Do you have firewalls blocking port 10250?

[2018-01-24 04:17] smarterclayton opened #18258 "Flake: no route to host from service to pod IP test"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18254/test_pull_request_origin_extended_conformance_gce/14885/

[code]

But there is error logging in the test now

@openshift/networking

[2018-01-24 04:27] lanliu99 commented on #18203
Thanks, I don't think I am using service broker, this issue happened for days.

[2018-01-24 05:31] #18230 closed

[2018-01-24 05:34] davidaah opened #18259 "Should ipfailover be provided (optionally) as a daemonset?"
We have specific nodes that we would like to dedicate for failover. Today's strategy for creating an ipfailover is via a deploymentconfig which does not guarantee we will get an even distribution of pods across these nodes. I was wondering if making ipfailover feature available as a daemonset had been considered or if it was previously ruled out (couldn't find any existing "issues" specifically re

[2018-01-24 06:22] mwringe commented on #15920
From the attached txt file, the issue there is that the volume for Cassandra cannot be mounted:

Unable to mount volumes for pod "hawkular-cassandra-1-gldkz_openshift-infra(4b18ef2f-0005-11e8-9939-0050569acd22)": timeout expired waiting for volumes to attach/mount for pod "openshift-infra"/"hawkular-cassandra-1-gldkz". list of unattached/unmounted volumes=[cassandra-data]

You might want to see wh

[2018-01-24 07:33] MichalDuma commented on #18213
@mfojtik - thank you for answer.
`oc logs pod/test300-1-ggpnj` doesn't show anything
`oc describe pod/test300-1-ggpnj` gives a lot of output. In my opinion "error syncing pod" is the most interesting (but whole output I attached to this issue)
[pod-test300.txt](https://github.com/openshift/origin/files/1658943/pod-test300.txt)

[2018-01-24 11:28] kargakis opened #18261 "oc explain does not work for cronjobs"
[code]
/assign @soltysh
/sig master
/kind bug

[2018-01-24 11:53] hudecof commented on #17740
+1
[code]

[2018-01-24 12:08] tnozicka opened #18262 "3.7.1 oc cluster up can't run pods"
`oc cluster up --version=v3.7.1`
after 5 minutes all container are stuck on containerCreating

[code]
Errors I see:
[code]

Looks like the case is the mount issue again (https://github.com/openshift/origin/issues/17638) but the other errors shouldn't be there as well like /healthz panicking

Full log is here https://travis-ci.org/tnozicka/openshift-acme/jobs/331402532#L2383

/cc @joelsmith

[2018-01-24 12:09] tnozicka commented on #17638
oc cluster up for 3.7.1 seems borked as well https://github.com/openshift/origin/issues/18262

[2018-01-24 12:12] tnozicka commented on #18262
@mfojtik any chance you recall us fixing panic in /healthz in any of the following releases?

[2018-01-24 12:14] kargakis opened #18263 "kubectl does not show cronjob AGE in an Openshift cluster"
[code]
[code]
@juanvallejo @openshift/sig-master

[2018-01-24 12:24] Tsoa27 commented on #14004
hey guys, i'm newby in openshift and i've got the same issue.  It try to deploy an application by using git but it always fails. My DNS work proprelly  and i am using a proxy behind a firewall.

[2018-01-24 12:30] kargakis commented on #18263
Disregard, this seems fixed in a later kubectl verison

[2018-01-24 12:30] #18263 closed

[2018-01-24 12:47] php-coder commented on #18262
Could it be the same as https://github.com/kubernetes/kubernetes/issues/58348 ? Looks very similar.

[2018-01-24 12:48] php-coder commented on #18257
@openshift/sig-developer-experience

[2018-01-24 12:49] php-coder commented on #18257
@IBM-Ronnie What OpenShift version you are using? `oc version` output could be helpful.

[2018-01-24 12:55] php-coder commented on #18261
CC @juanvallejo

[2018-01-24 13:29] ayen-tibco commented on #15920
Corrected the issue below with "openshift_metrics_cassandra_storage_type=emptydir" as per instruction in the docs. Apparently one needs to set it as a requirement for the  storage to be created.  Now on to the next issue with Hawlukar Cassandra pod not starting while creating/initializing tables.   Created separate ticket in bugzilla for you @mwringe. :)

WFLYEJB0034: EJB Invocation failed on comp

[2018-01-24 14:16] jim-minter commented on #18257
Please do `oc create -f https://raw.githubusercontent.com/openshift/origin/release-3.6/examples/quickstarts/cakephp-mysql.json -n openshift`.

[2018-01-24 14:56] danwinship commented on #18258
dup of #14385. current best guess is a race condition in kube-proxy but I'd forgotten to dig in further

[2018-01-24 14:56] #18258 closed

[2018-01-24 15:10] soltysh commented on #18261
Seems like #18157 didn't fix all the problems.

[2018-01-24 15:14] bparees commented on #14004
@Tsoa27 please open a new issue, provide your buildconfig yaml definition and level 5 build logs (oc start-build yourbuild --build-loglevel=5)

[2018-01-24 15:32] soltysh commented on #18261
A temporary workaround is to pass `--api-version=batch/v1beta1` and that will work.

[2018-01-24 15:38] edsonmarquezani commented on #18115
Follow up.

Made it work **without removing nodes** (as recommended by Red Hat). So, the following steps **does work**.
- set up a fresh cluster without cloud-provider
- reconfigure master components with cloud-provider Azure and restart
- restart openvswitch
- reconfigure node agents with cloud-provider Azure and restart

(notice nodes wasn't deleted during the process)

Nonetheless, **nodes won'

[2018-01-24 15:55] jcantrill opened #18266 "Unable to login to remote api server after using 'oc cluster up'"
1. Start cluster 'oc cluster up' on vm
1. Switch to localhost
1. Attempt to log into remote server

Host:
[code]

VM:
[code]

[2018-01-24 15:55] jcantrill commented on #18266
cc @deads2k

[2018-01-24 16:02] soltysh commented on #8486
@bparees you present the information during the process, the idea was to create a dummy IS to show the user how the IS will look like. But since the entire process is happening on the server it'd be a speculative show. So I'm fine with this being closed.

[2018-01-24 16:03] smarterclayton commented on #17697
I'm closing in favor of the centralized one #17697

[2018-01-24 16:03] #17697 closed

[2018-01-24 16:03] smarterclayton commented on #17556
Closing in favor of #17697

[2018-01-24 16:04] smarterclayton commented on #17556
Wrong one, this is the new tracker.

[2018-01-24 16:05] soltysh commented on #9730
Sorry, I can't remember a thing 😢 I'll defer to @miminar since he's still playing with images and registry.

[2018-01-24 16:07] bparees commented on #17556
the title change has made it such that probably no one will find this on search.  Maybe this will help:

[sig-storage] Projected should update annotations on modification [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s]

[k8s.io] Projected should update labels on modification [Conformance] [sig-storage] [Suite:openshift/conformance/parallel] [Suite:k8s]

[2018-01-24 16:11] smarterclayton commented on #17556
Moved to https://bugzilla.redhat.com/show_bug.cgi?id=1538216

[2018-01-24 16:12] deads2k commented on #18266
So I have good news, good news, and good news.  The good news is that I suspect this is proof that our `oc login` flow properly respects the `.well-known` endpoint.  The next bit of good news is that this is configurable by setting `master-config.yaml.oauthConfig.masterPublicURL`.  The last bit of good news is that the `oc cluster up` takes the public host as an argument, so you should be able to

[2018-01-24 16:14] #18266 closed

[2018-01-24 16:31] deads2k commented on #17556
@derekwaynecarr This is responsible for 3 of our last 10 failed conformance_install jobs

[2018-01-24 16:35] stevekuznetsov opened #18269 "api: published field deploymentconfig.status.conditions.reason is not typed"
Cuerently the published type in `openshift/api` is

[code]

I would expect the `Reason` field to be correctly typed as it is in Origin:

[code]

/kind bug
/cc @deads2k @mfojtik

[2018-01-24 16:38] deads2k commented on #18269
We'll need a pull to openshift/api to add these constants.  Something similar to https://github.com/openshift/api/pull/24 .  The reasons are API, the messages are not.  And remember that because conditions can be added, any logic relying on them needs to consider the tristate of "true, false, unset", not just a boolean.  That's probably worth a little extra doc on the field.

/assign @tnozicka

[2018-01-24 17:18] stevekuznetsov commented on #18190
Should be fixed

[code]

[2018-01-24 17:18] stevekuznetsov commented on #18190
/close

[2018-01-24 17:18] #18190 closed

[2018-01-24 17:46] sjenning commented on #17556
related https://github.com/openshift/origin/issues/17605

[2018-01-24 17:46] sjenning commented on #17605
related https://github.com/openshift/origin/issues/17556

[2018-01-24 18:36] gabemontero commented on #17925
The PR I am about to submit no produces this:

[code]

[2018-01-24 18:37] smarterclayton commented on #13014
We haven't seen this in a while. Closing

[2018-01-24 18:37] #13014 closed

[2018-01-24 18:37] smarterclayton commented on #17755
Did these get reenabled?  @deads2k @knobunc ?

[2018-01-24 18:38] smarterclayton commented on #17159
Did we mostly fix this?

[2018-01-24 18:39] bparees commented on #17925
looks better to me.  @GrahamDumpleton ?

[2018-01-24 18:40] smarterclayton commented on #16877
This is no longer failing (last comment was because GitHub.com didn't resolve)

[2018-01-24 18:40] #16877 closed

[2018-01-24 18:40] smarterclayton commented on #15633
I'm not seeing this anymore, reopen if you are.

[2018-01-24 18:40] #15633 closed

[2018-01-24 18:41] smarterclayton commented on #15798
Closing, looks unrelated

[2018-01-24 18:41] #15798 closed

[2018-01-24 18:41] bparees commented on #13014
Well, there's another issue open for what I think is the same thing:
https://github.com/openshift/origin/issues/17787

so we can close this as a dupe of that, but i think it's still happening.  (perhaps it will be resolved by the same thing that fixes https://github.com/openshift/origin/issues/17330, which we're supposed to be getting in our AMIs very soon now)

[2018-01-24 18:42] smarterclayton commented on #15630
I am not seeing this anymore, there is a 9/10 one that I think is a network problem, but there's another issue tracking that.

[2018-01-24 18:42] #15630 closed

[2018-01-24 18:42] smarterclayton commented on #15244
Closing, haven't seen this recently.

[2018-01-24 18:42] #15244 closed

[2018-01-24 18:42] smarterclayton commented on #14523
Was a network related issue.  Closing.

[2018-01-24 18:42] #14523 closed

[2018-01-24 18:43] smarterclayton commented on #14385
@danwinship I've seen this happen a few times recently, I'm assuming this isn't "new"?

[2018-01-24 18:44] smarterclayton commented on #17263
This is not happening anymore.

[2018-01-24 18:44] #17263 closed

[2018-01-24 18:44] smarterclayton commented on #15024
This test no longer run.

[2018-01-24 18:44] #15024 closed

[2018-01-24 18:45] smarterclayton commented on #15631
What known issues exist on 3.6 for informers?

[2018-01-24 18:49] aveshagarwal commented on #17695
was trying to find if there is any recent failure and I did find: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18235/test_pull_request_origin_extended_conformance_install/6251/

[2018-01-24 18:56] pweil- commented on #18213
[code]

You're trying to run a base image.  There is no long running command that would keep this container alive.  To be specific, if you `docker run` that image you'll get:

[code]
and the container will exit which is what is happening in your environment.  You can see from the output that your container completed with exit code 0:

[code]

[2018-01-24 18:56] #18213 closed

[2018-01-24 19:04] #18156 closed

[2018-01-24 19:27] danwinship commented on #14385
Hm... #18258 shows something different actually. It looks like it's probably the kernel-namespaces-leaking-into-random-goroutines bug discussed in #15991. The logs are full of "impossible" networking errors, like the KUBE-SERVICES table temporarily not existing when trying to add the rules for this service:

    Jan 23 23:44:50 ci-prtest-5a37c28-14885-ig-n-bfkx origin-node[2198]: I0123 23:44:50.29

[2018-01-24 19:28] danwinship commented on #15991
@dcbw it looks like this *does* happen sometimes: https://github.com/openshift/origin/issues/14385#issuecomment-360245987

[2018-01-24 19:42] plmnko opened #18275 "Intermittent resolve failure for heketi-storage-glusterfs.router.default.svc.cluster.local causing more volume created than requested in glusterfs"
When creating pvc of glusterfs with heketi, there is intermittent resolve failure for name **heketi-storage-glusterfs.router.default.svc.cluster.local**. However, heketi did receive the rest call, and created a volume, but pv_controller retried the volume creation, and causing more volume created than requested.

`Jan 24 18:28:53 master1 origin-master-controllers[28766]: I0124 18:28:53.872676   28

[2018-01-24 20:07] juanvallejo commented on #18183
It seems likely that node hostnames cannot be resolved by the apiserver.
Are you able to perform `nslookup` on all of your nodes?

Related upstream issue:
https://github.com/kubernetes/kubernetes/issues/39026

cc @soltysh in case you have additional input

[2018-01-24 20:16] bparees commented on #17325
@mfojtik we're still seeing this a lot in our extended test runs.  Any suggestions?

/cc @derekwaynecarr

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/359/#showFailuresLink

[2018-01-24 20:18] bparees commented on #17325
/cc @liggitt @deads2k

[2018-01-24 20:54] tnozicka opened #18276 "[3.6] Flake: OpenShift Health Checks [localhost] Run health checks (install) - EL 44s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18248/test_pull_request_origin_extended_conformance_install/6276/#openshift-health-checks-localhost-run-health-checks-install---el

[code]

[2018-01-24 21:02] tnozicka commented on #18276
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18248/test_pull_request_origin_extended_conformance_install/6237/

[2018-01-24 21:02] tnozicka commented on #18276
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18248/test_pull_request_origin_extended_conformance_install/6246/

[2018-01-24 21:03] tnozicka commented on #18276
seems to be failing consistently on 3.6, raising to P0

[2018-01-24 21:16] tnozicka commented on #18262
@php-coder I think you are right, thx.

Let's triage the rest:
`W0121 09:02:30.697640   20676 network.go:234] Failed to retrieve node info: nodes "localhost" not found`
_not sure who owns that_

`E0121 09:02:31.112752   20676 reflector.go:216] github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/client/informers/informers_generated/internalversion/factory.go:72: Failed to list *api.Endpoints:

[2018-01-24 21:21] tnozicka commented on #17638
/cc @smarterclayton

[2018-01-24 21:23] tnozicka commented on #18269
looks reasonable

[2018-01-24 21:35] deads2k commented on #17325
"Still" or "just started again".  What percentage of jobs are failing on it?

@stevekuznetsov I've got master and node metrics, but not controller metrics.  Where is the script that describes what to gather?

[2018-01-24 21:37] bparees commented on #17325
@deads2k i've only started looking into this again but the last 3 times i ran our extended tests, I saw this in several test failures for each run.  so, 100% over the last few days, that i've looked at.

As to whether there was ever a period in recent history where it wasn't happening, i'm not sure.

[2018-01-24 21:38] bparees commented on #17325
(i'm also not sure why our extended jobs would be particularly vulnerable to it, vs conformance jobs)

[2018-01-24 21:39] sosiouxme commented on #15059
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18186/test_pull_request_origin_extended_conformance_gce/14947/

[2018-01-24 21:41] deads2k commented on #17325
Is there any sane way for you to see if it spiked about two weeks ago?  I re-sliced some startup code that seemed to significantly improve our normal CI, but if it suddenly started spiking, that's where I'd be starting my search.

[2018-01-24 21:43] stevekuznetsov commented on #18276
We don't accept backports for Origin 3.6 branches, we are not planning another 3.6 point release. Please make PRs to OSE.

/close

[2018-01-24 21:43] #18276 closed

[2018-01-24 21:45] stevekuznetsov commented on #17325
What do you mean by "controller metrics"? We dump `pprof` output but I'm not sure we do anything from Prometheus?

[2018-01-24 22:09] bparees commented on #17325
not really.  our extended test jobs have been a mess for a month and a half due to storage issues and devmapper issues and I don't really want to try to weed through that.

[2018-01-24 22:28] aveshagarwal commented on #17695
The issue:
[code]
might be related to some similar issues related to symlink in kube upstream: https://github.com/kubernetes/kubernetes/issues/45911
https://github.com/kubernetes/kubernetes/issues/52172

Still investigating though.

[2018-01-25 01:28] IBM-Ronnie commented on #18257
@php-coder First, thanks for your feedback.
# oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

Thanks

[2018-01-25 03:00] bparees commented on #18257
@IBM-Ronnie did you see @jim-minter's solution to your problem?

[2018-01-25 06:27] surajnarwade opened #18282 "Segmentation Fault error"
for openshift version v3.9.0-alpha.3, I am getting following error,

[code]

[2018-01-25 06:41] #16568 closed

[2018-01-25 08:49] yangpeng14 opened #18283 "The new pods have a slow response?"
##### Version
openshift 1.5

##### Steps To Reproduce
1. New pods, the pods respond to the first request about 15s, and the second or NTH response is fast.
2. SDN is the default setting.
3. node set networkConfig mtu:1450 networkPluginName: redhat/openshift-ovs-subnet

##### Current Result
1. The first response was slow (about 15s)
##### Expected Result
1. In theory, the first response is fast, no

[2018-01-25 09:23] theute commented on #18238
@pweil- Sounds more like an installation issue than an issue in Prometheus itself

[2018-01-25 09:33] IBM-Ronnie commented on #18257
@jim-minter I try your command in my own environment, but it showed this template was existed in server.
However, I can not find this template in the browse catalog of the project. It's strange.
Sorry, I am junior on Openshift Origin, maybe this kind of question is easy...
And one more question, how can I import the jenkins, gitlab, nexus etc. Devops tools to Openshift Origin v3.7.....
Thanks.
And

[2018-01-25 09:47] Rado2137 commented on #18238
Indeed, the issue was caused by firewall. Sorry to have bothered you.

However, maybe it is a silly question, is it expected behaviour for prometheus to access kubernetes endpoints using external cluster ip?

[2018-01-25 10:32] tnozicka commented on #15631
@smarterclayton watch cache is broken on 3.6 for sure (breaking informers) but I had to close that PR (https://github.com/openshift/origin/pull/18248) as [steve said he won't fix 3.6 CI in origin anymore](https://github.com/openshift/origin/issues/18276#issuecomment-360283477)

[2018-01-25 10:38] sbuvaneshkumar opened #18285 "Unable to deploy Gitlab on OpenShift: getting "error: update acceptor rejected gitlab-ce-postgresql-1: pods for rc "gitlab-ce-postgresql-1" took longer than 600 seconds to become ready""
I'm trying to deploy Gitlab on OpenShift.
While deploying, I'm getting following error.
I have tried this in two different openshift environments - openshift 3.5 and openshift 3.6, and getting the same error.
I have followed below two articles for the reference[1][2].
"--> Scaling gitlab-ce-postgresql-1 to 1
--> Waiting up to 10m0s for pods in rc gitlab-ce-postgresql-1 to become ready
error: updat

[2018-01-25 10:45] kargakis commented on #18282
@smarterclayton

[2018-01-25 11:01] php-coder commented on #18275
@openshift/sig-storage

[2018-01-25 11:05] php-coder commented on #18285
@sbuvaneshkumar Could you post the output of `oc get events`?

@akram Any ideas why it has happened?

[2018-01-25 11:08] kargakis commented on #18282
/priority P0

[2018-01-25 11:11] mfojtik commented on #18282
(it works on master branch)

[2018-01-25 11:15] mfojtik commented on #18282
@smarterclayton the OSX zip https://github.com/openshift/origin/releases/download/v3.9.0-alpha.3/openshift-origin-client-tools-v3.9.0-alpha.3-78ddc10-mac.zip.download.zip contains another zip that is broken :-) (can't unpack it).

[2018-01-25 11:46] sbuvaneshkumar commented on #18285
@php-coder
In OpenShift 3.6 environment:
`➜  ~ oc get events
LASTSEEN   FIRSTSEEN   COUNT     NAME                  KIND      SUBOBJECT                     TYPE      REASON        SOURCE                                 MESSAGE
13m        13m         1         postgresql-1-deploy   Pod                                     Normal    Scheduled     default-scheduler                      Successfully as

[2018-01-25 11:53] php-coder commented on #18285
Looks like some issues with storage.

CC @openshift/sig-storage

[2018-01-25 12:23] galderz opened #18288 "Unable to start OpenShift Origin with service catalog"
Hi,

I'm using OpenShift Origin 3.7.1 and I'm getting this error when trying to start with service catalog:

[code]

This has started appearing after starting to play with minishift and minikube for other projects. Do you know what could be causing this or how to workaround it?

I have `kubectl` 1.7.12 in the path when using OpenShift Origin 3.7.1. I'm wondering if my minikube installation is gett

[2018-01-25 12:45] miminar commented on #17947
I've just hit this and can confirm that running `oc delete -n default dc deploy-heketi-storage` followed by a new playbook run solved the issue for me.

[2018-01-25 13:01] mrsiano opened #18289 "Use grafana datasrouce as configuration"
In continuing to https://github.com/openshift/origin/pull/17114
We should use datasource file as configuration, once grafana 5.0 will be released.

motivation:
 -use the most updated grafana
 -tune it accordingly if needed.

see also
https://github.com/grafana/grafana/pull/9504

[2018-01-25 13:01] mrsiano commented on #18289
/cc @kargakis

[2018-01-25 13:04] kargakis commented on #18289
/area examples

[2018-01-25 13:43] kargakis commented on #18238
Closing as this doesn't seem like an issue. @Rado2137 you will have a better chance at getting a reply to your question by asking at the users mailing list.

[2018-01-25 13:43] #18238 closed

[2018-01-25 13:48] kargakis commented on #8289
@mfojtik is this still an issue now that the publishing bot is running for Openshift?

[2018-01-25 13:49] kargakis commented on #4736
Doesn't seem like an issue anymore.

[2018-01-25 13:49] #4736 closed

[2018-01-25 13:49] kargakis commented on #4174
@deads2k @mfojtik still an issue?

[2018-01-25 13:54] #9562 closed

[2018-01-25 13:55] kargakis commented on #9594
@mfojtik still an issue?

[2018-01-25 14:00] kargakis commented on #10134
@ibotty you can use `oc create configmap config --from-file=filename -o yaml --dry-run | oc apply -f -` into your pipeline and automate updating configmaps in a cluster. FWIW, we already use that kind of automation in our CI cluster.

Not clear whether this is something that will be automated by Openshift (at least in the short term).

[2018-01-25 14:00] #9158 closed

[2018-01-25 14:02] droslean commented on #18282
same issue here
gdb says
oc": not in executable format: File format not recognized

./oc
Segmentation fault

And when trying to untar it
tar -xvf openshift-origin-client-tools-v3.9.0-alpha.3-78ddc10-linux-64bit.tar.gz
tar: Ignoring unknown extended header keyword 'LIBARCHIVE.xattr.security.selinux'
openshift-origin-client-tools-v3.9.0-alpha.3-78ddc10-linux-64bit/oc

gzip: stdin: unexpected end of

[2018-01-25 14:09] dmage commented on #15233
@bparees if the client gets an image from a registry, it will try to reuse its blobs in another repository on the registry. That is, the client will send the request for cross-mounting blobs and we may allow it. If Docker doesn't ask for cross-mount, we will not do it.

[2018-01-25 14:12] kargakis commented on #10956
@mfojtik fixed?

[2018-01-25 14:13] kargakis commented on #11129
Closing due to inactivity.

[2018-01-25 14:13] #11129 closed

[2018-01-25 14:14] kargakis commented on #10186
@mfojtik fixed now?

[2018-01-25 14:18] kargakis commented on #12620
Removed in https://github.com/openshift/origin/pull/18192

[2018-01-25 14:18] #12620 closed

[2018-01-25 14:19] kargakis commented on #12436
Please use the mailing list for this kind of questions

[2018-01-25 14:19] #12436 closed

[2018-01-25 14:19] kargakis commented on #11980
@mfojtik fixed?

[2018-01-25 14:27] #13930 closed

[2018-01-25 14:29] deads2k commented on #4174
If it is, it would be a problem to address in kube.

@derekwaynecarr @mfojtik did you two ever sort out scheduler ownership?

[2018-01-25 14:29] #4174 closed

[2018-01-25 14:30] bparees commented on #10134
@mfojtik that does sound like it could work.  could also be done via jenkins i suppose.

[2018-01-25 14:31] kargakis commented on #15646
Rolling deployment should also work if you use percentages (the defaults are 25%-25%).

[2018-01-25 14:34] kargakis commented on #14647
@deads2k all TODOs seem ticked

[2018-01-25 14:34] #14647 closed

[2018-01-25 14:36] kargakis commented on #14641
Is this issue addressed by the publishing bot?

[2018-01-25 14:37] kargakis commented on #14576
@jcantrill seems like yeah. @mfojtik @bparees what metrics from @smarterclayton's list do we miss today?

[2018-01-25 14:42] kargakis commented on #15777
/shrug

[2018-01-25 14:42] bparees commented on #14576
@kargakis i can only speak to build metrics, for which we have what @smarterclayton asked for.

[2018-01-25 14:42] kargakis commented on #17214
@tnozicka is this still an issue?

[2018-01-25 14:43] PhilipGough commented on #18207
Seeing this also on MacOSX with `oc cluster up`

[2018-01-25 14:47] kargakis commented on #16523
Maybe related to https://github.com/openshift/origin/issues/16728

@mfojtik @tnozicka these issues need triaging

[2018-01-25 14:52] kargakis commented on #15176
@ghost make sure the readiness probe is valid and maybe tweak `failureThreshold` to a higher value?

[2018-01-25 15:14] bparees commented on #15941
not aware of this recreating, closing based on age.

[2018-01-25 15:14] #15941 closed

[2018-01-25 15:16] bparees commented on #17652
doesn't seem to have recreated that i'm aware of. closing.

[2018-01-25 15:16] #17652 closed

[2018-01-25 15:17] sosiouxme commented on #14640
Resolved with https://github.com/openshift/origin/pull/17773

[2018-01-25 15:17] #14640 closed

[2018-01-25 15:30] stevekuznetsov commented on #17330
The AMIs now have `docker-1.12.6-71.git3e8e77d.el7`

[2018-01-25 15:30] stevekuznetsov commented on #17787
The AMIs now have `docker-1.12.6-71.git3e8e77d.el7`

[2018-01-25 15:32] rhamilto opened #18291 "oc cluster up --metrics broken for v3.9.0"
Metrics fails to run using `oc cluster up --metrics`.

Metrics pod logs include:

[code]

##### Version
oc v3.8.0-alpha.0+189d01b-1092-dirty
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.9.0-alpha.3+189d01b-196
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. oc cluster up --metrics
2. visit https://hawkular-metrics-openshift-infra.127.0.0.1

[2018-01-25 15:32] ibotty commented on #10134
@kargakis Of course that will work. But given a CI cluster, do you need buildconfigs? or even deployments? I think you don't, but there are the very helpful and lead to more robust design.

[2018-01-25 15:44] bparees commented on #17787
@jwhonce do we think this would have also been addressed by the devmapper fix in the new docker?  it's a different error.

[2018-01-25 15:45] bparees commented on #17330
closing in the assumption this is supposed to be fixed by that level.  will reopen as needed.

[2018-01-25 15:45] mindfury commented on #18207
Same result as well.

[2018-01-25 15:49] kargakis commented on #10134
We actually use a deployment that is configured to receive github events and updates configmaps accordingly (unlike the command I posted, we don't use `oc` but our own k8s client). I guess it would be nice to have this as part of the BC API, if it makes sense to @bparees.

[2018-01-25 15:51] bparees commented on #10134
not as part of the api no.  I am ok with @mfojtik's suggestion that someone could, today, use a custom buildconfig to accomplish this, but it has no business being something the buildconfig api officially provides.

[2018-01-25 15:55] tnozicka commented on #16523
Hard to say without more detailed info provided (oc get dc,is,build -o yaml).

Origin 1.5.1 is also not supported release anymore and it got significant rewrite since that time. Could you try it with 3.7.1 to see if the issue got fixed?

[2018-01-25 16:02] tnozicka commented on #16728
quickly looking at this, `Couldn't deploy version 1: ReplicationController "fck-1" is invalid: spec.template.spec.containers[0].image: Required value` should be fixed by https://github.com/openshift/origin/pull/17539

[2018-01-25 16:20] jwhonce commented on #17787
@bparees If not addressed, the AMI should provide more detailed logging which will have root causing the issue.

[2018-01-25 16:44] miminar opened #18292 "integrated registry always falls back to pullthrough if manifest cannot be found"
See [bug#1538000](https://bugzilla.redhat.com/show_bug.cgi?id=1538000#c0) for more details.

Version: OCP 3.7

**Reproducer:**

1. deploy&secure registry
2. push image
3. delete manifest from the registry's storage
4. delete the registry pod and wait for it to come back
5. try to pull the image and watch it fail:

[code]

**Explanation:**

The problem is that registry falls-back to manifest pull t

[2018-01-25 16:44] miminar commented on #18292
@bparees FYI

[2018-01-25 16:47] bparees commented on #18292
thanks @miminar

[2018-01-25 17:08] arbhoj commented on #18207
Are you using the docker based quick start for Openshift? If yes then this looks like a bug with the current build. Try with an older build. e.g.:
sudo docker run -d --name "origin" \
        --privileged --pid=host --net=host \
        -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
        -v /var/lib/docker:/var/lib/docker:rw \
        -v /var/lib/orig

[2018-01-25 17:23] tnozicka commented on #17214
I haven't seen it lately but master has moved, not sure how 3.7 will do.  Should be easy to check the traceback and verify if there has been a fix already delivered or needs to be backported.

[2018-01-25 17:50] aveshagarwal commented on #17695
Openshift default logging driver is journald, why are we running these tests with json-file (which is default for docker) driver? is there any specific reason for that? @stevekuznetsov  do you have idea about it?

[2018-01-25 17:50] bparees opened #18293 "Confusing(and broken?) deployment behavior"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18278/test_pull_request_origin_extended_image_ecosystem/450/

specifically the `[image_ecosystem][ruby][Slow] hot deploy for openshift ruby image Rails example should work with hot deploy [Suite:openshift] 10m29s` test

In this test we create a buildconfig and DC that is triggered by that build.  The DC also has a config cha

[2018-01-25 17:58] aveshagarwal commented on #17695
Discard this comment, as I verified that the default now is `json-file`.

[2018-01-25 18:13] aveshagarwal commented on #17695
So my current investigation says that when the pod's logs were being obtained, the pod's container existed, but symlink to the log file was missing. Because the error was:

[code]

Because if the container was not present, the error would be different and look something following (`No such container`) (the following error is from my local cluster just to show the difference in the error):

[code]

[2018-01-25 18:15] aveshagarwal commented on #17695
So it does not seem like GC cleaning containers too early, see my previous comment: https://github.com/openshift/origin/issues/17695#issuecomment-360552207

[2018-01-25 18:20] rhvgoyal commented on #17787
I don't think -71 has the fix for this issue. We will have to root cause this issue. Given libdm is complaining about some errors, something is wrong with thin pool or some other condition. Lets enable libdm logging to get more verbose messages. Use following docker daemon parameter to enable libdm logs.

'--storage-opt dm.libdm_log_level=3'

[2018-01-25 18:44] stevekuznetsov opened #18294 "We're still vetting Docker RPMs ourselves"
Symptom:

[code]

The [repo](https://mirror.openshift.com/enterprise/rhel/dockertested/x86_64/os/Packages/) has `skopeo-0.1.27-3.dev.git14245f2.el7.x86_64.rpm` FWIW, no clue how an older `skopeo` was installed.

[2018-01-25 18:45] bparees commented on #15233
this is the part i'm asking about though.  If the blob exists in an image in the "openshift" namespace, will we actually recognize the user has access to it?  What is the logic that is implemented when checking if a user has access to a particular blob?  Do we find all the imagestreams in the entire cluster that reference that blob, and see if the user has access to any of them?  Or do we only che

[2018-01-25 18:48] bparees commented on #18257
@spadgett another case of a user loading templates and them not showing up in browse catalog...

@IBM-Ronnie not sure what you mean.  How to load the templates for these things?  How to deploy them?

[2018-01-25 19:09] stevekuznetsov commented on #18294
Should be fixed in https://github.com/openshift/aos-cd-jobs/commit/38e99d4269f7d9201b8e0eb0b7076c088c430d7d ?

Basic idea is:

 - we gather full list of necessary RPMs to install bleeding edge Docker
 - when we validate bleeding edge Docker, we publish those in the dockertested repo
 - when we install Docker, we turn that repo on and then off again
 - when we install Docker, it installed skopeo-co

[2018-01-25 19:10] stevekuznetsov commented on #18294
The whole approach to this needs to be 100000% rethought. As an aside, this whole process was a crutch until the Docker team could run Origin e2es as a test before they push out new RPMs. @jtligon did that happen?

[2018-01-25 19:34] dmage commented on #15233
Docker, when it wants to mount a blob from another repository, sends an HTTP request like

The registry will just check that the client has read access to the repository *openshift/nodejs* and that the repository contains the blob.

No other imagestream is checked.

[2018-01-25 19:40] bparees commented on #15233
Ok, so this all depends on the docker client being aware that cross-mount might be possible.  Any idea how the client decides which repository to try to cross-mount from?

[2018-01-25 19:58] jtligon commented on #18294
Nope it did not 🤨

On Thu, Jan 25, 2018 at 8:10 PM Steve Kuznetsov <notifications@github.com>
wrote:

--

JEFF LIGON

MANAGER, SOFTWARE ENGINEERING

Red Hat RDU <https://www.redhat.com>

jligon@redhat.com     T: 919.301.3170 <javascript:void(0);>     M:
919.522.2698 <javascript:void(0);>     gpg key
<http://file.rdu.redhat.com/~jligon/jligon.asc>
<https://red.ht/sig>
TRIED. TESTED. TRUSTED. <https

[2018-01-25 19:59] dmage commented on #15233
Docker remembers all places where it saw the blob. If it saw the blob in several repositories on the registry, it will try all of them, one by one.

[2018-01-25 20:54] tnozicka commented on #18293
It should wait for the image to be injected on the first deployment. In addition we now have explicit check not to deploy when empty image is " ". So if it was really caused by that, it's not intentional.

I am out today but will check master logs when I am back what caused those deployments.

[2018-01-25 21:00] stevekuznetsov commented on #18294
/assign @jtligon
/unassign

We need to get rid of our Docker testing jobs and just pull from RHEL 7 Next. We have delivered all the bits that are necessary to get Origin conformance to be simple to run.

[2018-01-25 21:02] stevekuznetsov commented on #17787
@rhvgoyal can you add the requisite changes [here](https://github.com/openshift/origin-ci-tool/blob/master/oct/ansible/oct/roles/docker/tasks/main.yml) so we configure Docker correctly in our tests please.

[2018-01-25 21:03] stevekuznetsov commented on #17695
So we should be reasonably certain that the doubling of storage will keep GC at bay and this should be fixed (ish) for now?

[2018-01-25 21:07] bparees commented on #17695
@stevekuznetsov i don't think so.  @aveshagarwal's last update says it does NOT seem like GC cleaning was the issue.

[2018-01-25 21:10] gregswift opened #18297 "Backport ceph luminous upgrade to 3.6 and 3.7?"
We recently installed a new data center, and our new ceph cluster was installed with Luminious. Our Openshift cluster is at v1.5.  We could never get PVs working, despite proving that they worked manually from any of the OpenShift nodes.

After digging in further we found that all of the current 'stable' origin images only have 0.94.5 (hammer) of ceph-common installed.  This was fixed in #17350, b

[2018-01-25 21:11] stevekuznetsov commented on #17695
Reading comprehension in my drive-by review here was at an all time low ... :(

[2018-01-25 21:17] aveshagarwal commented on #17695
@stevekuznetsov yes GC does not seem an issue as I checked in the node logs that the container was present even after the error occurred. Seems like either the symbolic log file got deleted or not even created though I suspect the former more for now.

[2018-01-25 21:19] aveshagarwal commented on #17695
So these symlink log files are being created here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L150  when a container is being started and I do not think after looking at the code that there is any issue that the log file wont be created. In case, someone disagrees let me know why.

So still investigating what might have deleted the log fil

[2018-01-25 22:05] sosiouxme commented on #18291
With 3.9 the playbook has moved to `playbooks/openshift-metrics/config.yml` and similar for logging.

[2018-01-25 22:10] sosiouxme opened #18298 "oc cluster up v3.9.0-alpha.3 fails due to panic"
`oc cluster up` fails because the server start panics inside the container.

##### Version

[code]

##### Steps To Reproduce
1. Build from latest master (`4f709b48f8e52e8c6012bd8b91945f022a437a6a`)
2. `oc cluster up`

##### Current Result

[code]

[2018-01-25 22:11] sosiouxme commented on #18298
/cc @csrwng

[2018-01-25 22:16] sosiouxme commented on #18298
It seems no better with alpha.2 so it's entirely likely it's something about my environment.

[code]

[2018-01-25 22:46] aveshagarwal commented on #17695
I think I see the reason why the log file symlink was not created, and the reason is that I see "Started Container" event for init containers (git-clone and manage-dockerfile) but NOT for the main container (sti-build) in the node logs:

Dec 08 06:48:18 ip-172-18-15-47.ec2.internal origin-node[20160]: I1208 06:48:18.260152   20160 server.go:228] Event(v1.ObjectReference{Kind:"Pod", Namespace:"exte

[2018-01-25 22:49] aveshagarwal commented on #17695
And there are "Created container" event for all 3 containers: 2 init and 1 main:

Dec 08 06:48:17 ip-172-18-15-47.ec2.internal origin-node[20160]: I1208 06:48:17.396425   20160 server.go:228] Event(v1.ObjectReference{Kind:"Pod", Namespace:"extended-test-s2i-build-quota-gsfc7-28ksz", Name:"s2i-build-quota-1-build", UID:"c2cbd02c-dbe3-11e7-85de-0e10bc5ac50a", APIVersion:"v1", ResourceVersion:"4537",

[2018-01-26 02:52] sjenning commented on #17901
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18216/test_pull_request_origin_extended_conformance_gce/15049/

[2018-01-26 04:23] davistran86 commented on #18206
@enj Hi, this is what I got:
[code]

[2018-01-26 04:32] sjenning commented on #18298
I am seeing it as well

[code]

[2018-01-26 04:38] sjenning commented on #18298
Looks like `AssetConfig` is nil and that https://github.com/openshift/origin/pull/18068 fixed this

[2018-01-26 04:44] sjenning commented on #18298
I think @deads2k requested the tag as well https://github.com/openshift/origin/pull/18068#issuecomment-358714684

[2018-01-26 09:18] jsafrane commented on #18285
`no persistent volumes available for this claim and no storage class is set`: It looks like there is no storage configure in your cluster. Where is it deployed? You need to set a default storage class. https://docs.openshift.com/container-platform/3.5/install_config/persistent_storage/dynamically_provisioning_pvs.html. You can copy the one that's working in your 3.6 deployment.

And I don't see an

[2018-01-26 09:55] sbuvaneshkumar commented on #18285
@jsafrane I see same log messages in both environments. But oc get events only showing the actual cause.
Thanks @jsafrane, I got the point that my 3.5 environment storage was not configured properly.
But you see, there is no storage issue in 3.6 environment, but still it is failing.

[2018-01-26 10:01] JonnyGoldenGonads commented on #17740
Same issue:

# openshift version
openshift v3.7.23
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

[2018-01-26 10:57] yves-vogl commented on #14184
Hi Folks,

afaik you cannot use persistent volumes when you haven't configured an appropriate provider before.

[2018-01-26 11:50] wdbasson commented on #18107
[logging-20180126_133926.tar.gz](https://github.com/openshift/origin/files/1667596/logging-20180126_133926.tar.gz)

Deployed with ephemeral storage.

[2018-01-26 12:27] DanyC97 commented on #16210
@pweil- what is funny is that on my case i can't even use scc anymore

[code]

[code]
and is not [this](https://bugzilla.redhat.com/show_bug.cgi?id=1525014) bug as i haven't deployed the service catalog

[2018-01-26 12:42] spadgett opened #18301 "[Feature:Builds][pruning] prune builds based on settings in the buildconfig should prune completed builds based on the successfulBuildsHistoryLimit setting [Suite:openshift/conformance/parallel]"
@bparees I wasn't sure if this is the same cause as #17601, so I'm opening a new issue.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6882/test_pull_request_openshift_ansible_extended_conformance_gce/112/

[code]

/kind test-flake
/priority p1
/assign @bparees

[2018-01-26 12:48] DanyC97 opened #18302 "server doesn't have a resource type "scc""
Running Origin 3.7

[code]

and being logged as `system` user with `cluster-admin` it seems i'm not longer able to run

[code]
however using `oc get securitycontextconstraints` works.
Please note that i have not deployed serviceCatalog like is been mentioned [here](https://bugzilla.redhat.com/show_bug.cgi?id=1525014)

any idea why this changed behavior ?

[2018-01-26 12:54] DanyC97 commented on #17464
any chance this issue priority can be bumped please ?

It does happen on 1.5/3.6/3.7 when origin-node service is restarted ..

@smarterclayton any chance you might be aware of any K8 bug related to this issue? _i couldn't find anything_

[2018-01-26 13:10] pweil- commented on #16210
@DanyC97 that is certainly a different problem then cli suggestions.  I see you've filed https://github.com/openshift/origin/issues/18302 already.  Thanks!

[2018-01-26 13:12] pweil- commented on #18107
@openshift/sig-storage

[2018-01-26 13:16] DanyC97 commented on #16210
fair point @pweil-  ..sorry to hijack this issue

[2018-01-26 13:44] smarterclayton commented on #18301
It is.

[2018-01-26 13:45] smarterclayton commented on #18301
It's https://github.com/openshift/origin/issues/17330 actually

[2018-01-26 13:45] #18301 closed

[2018-01-26 13:46] smarterclayton commented on #17330
Linked a run that failed that started at 2018-01-25 21:48 EST.  Did that include the fix?

[2018-01-26 13:49] smarterclayton commented on #17330
It's probably not in the GCP image if the change didn't make it to the ops mirror or another prerelease location (tagged into centos7).

[2018-01-26 14:20] galderz opened #18303 "OpenShift unable to complete deployment"
Hi,

I'm using OpenShift 3.7.1 and Fabric 8 maven plugin version 3.5.33.

Sometimes when I call `mvn fabric8:deploy` OpenShift cannot complete deployment, I see these messages appearing in the event log in a loop:

[code]

Any idea what could be causing it? I'm using `oc cluster up` and a Mac with Docker 1.13.1.

Cheers,
Galder

[2018-01-26 14:48] bparees commented on #17330
/assign @stevekuznetsov

[2018-01-26 15:56] galderz commented on #18303
I've been doing some testing with 3.6.1 and seems to work fine so far...

[2018-01-26 16:09] sosiouxme commented on #18298
If it's just a rebuild, could it also include uploading the oc binary to the tagged release? Otherwise minishift is hard to use:

[code]

See https://github.com/minishift/minishift/issues/1922

[2018-01-26 16:15] sjenning opened #18306 "Retrieve images in the origin-node family fails w/ no active account selected"
During test_pull_request_origin_extended_conformance_gce

[code]

[2018-01-26 16:53] bparees commented on #18293
this happened again here:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/353/consoleFull

build starts:
[code]

build completes/frontend-1 deployment starts
[code]

frontend deployment 2 starts a few seconds later and cancels deployment 1
[code]

[2018-01-26 16:59] sjenning commented on #18306
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18286/test_pull_request_origin_extended_conformance_gce/15064/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18274/test_pull_request_origin_extended_conformance_gce/15065/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18295/test_pull_request_origin_extended_conformanc

[2018-01-26 17:09] smarterclayton commented on #18306
This is due to another bug in sjb we haven't tracked down.  I'm manually stomping this until we figure out the cause.

[2018-01-26 17:10] smarterclayton commented on #18306
@stevekuznetsov this is the issue with sjb syncing in a post step from a different job that I pinged you about.  We don't need an immediate fix (I'm just updating the job everytime someone syncs), but could keep happening.

[2018-01-26 17:13] spadgett commented on #18298
oc built from HEAD currently needs `--version=latest`

oc built from tag `v3.9.0-alpha.3` will work with `--version=v3.9.0-alpha.3`

cc @deads2k

[2018-01-26 17:43] danwinship commented on #15991
Ugh. It looks like this happens a lot.

In the last few weeks of post-commit extended networking tests:
- https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_networking/1418/ failed for unclear reasons, but the logs show that at roughly the same time as the test was failing, NodeIPTables.syncIPTableRules() failed because after ensuring that the OPENSHIFT-M

[2018-01-26 18:10] dobbymoodge commented on #14682
I'm assuming the measures we've taken have satisfactorily addressed this problem. Reopen if it happens again.

[2018-01-26 18:10] #14682 closed

[2018-01-26 18:32] stevekuznetsov commented on #18306
I noticed in my latest PR that you had a mis-configured XML checked in for that job in SJB ... can you make sure you're rebased on master and regenerating it from the latest congfig?

[2018-01-26 18:33] stevekuznetsov commented on #17330
We're pushing Docker into the `dockertested` repo as we always have been. What do you mean?

[2018-01-26 18:35] smarterclayton commented on #17330
/assign @smarterclayton

[2018-01-26 18:48] stevekuznetsov commented on #18240
Fixed in https://github.com/openshift/aos-cd-jobs/pull/1037

Seeing jobs run like https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_cmd/9249/consoleFull

/close

[2018-01-26 19:36] aveshagarwal commented on #17695
After the main container created, the node rebooted:

[code]

[2018-01-26 19:45] aveshagarwal commented on #17695
And the cause of node restart is:

Dec 08 06:48:40 ip-172-18-15-47.ec2.internal origin-node[20160]: F1208 06:48:40.732534   20160 healthcheck.go:96] SDN healthcheck detected unhealthy OVS server, restarting: <nil>

[2018-01-26 19:45] deads2k commented on #18298
@smarterclayton is working on a tag for us.  It got derailed earlier this week.

[2018-01-26 20:13] sdodson commented on #16994
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18304/test_pull_request_origin_extended_conformance_gce/15093/

[2018-01-26 21:29] ravisantoshgudimetla commented on #12072
I have been trying to reproduce this locally but without luck. The main idea of this test is to check that a good container won't restart. Looking at the code and the history of this issue, following are my observations.

- We are bringing up a nginx container and trying to check if <container_IP:80> is available.
- While this is not a bad idea, there are many things that could go wrong because of

[2018-01-26 21:30] smarterclayton commented on #17330
https://github.com/openshift/release/pull/570 will merge after the overlay fix merges

[2018-01-26 21:34] stevekuznetsov commented on #17695
@knobunc for triaging SDN issues

[2018-01-27 00:20] stevekuznetsov commented on #15068
/close

[2018-01-27 00:20] #15068 closed

[2018-01-27 00:20] stevekuznetsov commented on #14085
/close

[2018-01-27 00:20] #14085 closed

[2018-01-27 01:59] #15627 closed

[2018-01-27 10:49] tnozicka commented on #18293
Finally managed to download logs from the first case; (conference wifi sucks)

Both are caused by config change and around the same time.

[code]

@mfojtik this reminds me the case of the registry decorator. Once it injects image with registry IP and the second one with registry DNS name. WDYT?

[2018-01-27 14:59] spadgett opened #18315 "[Feature:DeploymentConfig] deploymentconfigs with test deployments [Conformance] should run a deployment to completion and then scale to zero [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18307/test_pull_request_origin_extended_conformance_gce/15138/

[code]

/kind test-flake
/priority p1

[2018-01-27 17:18] bparees commented on #18293
It does look like the registry url is not configured:
[code]

i'm not sure why that is, seems like the extended test job is not deploying the registry properly (ie with a registry url configured).  Which is odd since I thought it used the ansible installer to set up the cluster and the ansible installer definitely sets that value.  i will dig into this some more from my side as well.

[2018-01-27 17:22] bparees commented on #17787
this is definitely still happening:
[code]
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/354/

[2018-01-27 17:25] bparees commented on #18293
@mfojtik @tnozicka incidentally did something change w/ regards to this recently?  because i'm pretty sure we weren't seeing this before (certainly not as of 2 months ago when these tests were all passing regularly).

[2018-01-27 17:59] DanyC97 commented on #18302
i've also run `oc get scc --loglevel=6` and i got everything captured in [here](https://hastebin.com/rokaleduxi.cs)

any help would be much appreciated

[2018-01-27 18:02] DanyC97 commented on #18302
and with `loglevel=8` i see

[code]

is this the real issue ?  or is just red herring ...

[2018-01-27 21:04] #17330 closed

[2018-01-27 21:09] kareiva commented on #17570
This issue still persists with`oc cluster up --version=v3.9.0-alpha.3`

[2018-01-27 23:15] smarterclayton commented on #18306
I corrected the underlying issue (pull request jobs inheriting from branch jobs) in https://github.com/openshift/aos-cd-jobs/pull/1039

[2018-01-27 23:15] #18306 closed

[2018-01-28 00:49] smarterclayton opened #18317 "openshift-sdn failed health check with "link not found" on GCP, failed test"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18229/test_pull_request_origin_extended_conformance_gce/15151/#conformanceareanetworkingfeaturerouter-openshift-routers-the-haproxy-router-should-serve-the-correct-routes-when-scoped-to-a-single-namespace-and-label-set-suiteopenshiftconformanceparallel

exec pod was trying to curl the router (which was up) but wasn't able to

[2018-01-28 00:53] smarterclayton commented on #18317
Is this the health check being too aggressive, or a symptom of a bigger problem on the node?

[2018-01-28 12:26] mfojtik commented on #18293
@bparees double-check what version of registry we run in the CI, didn't you consolidated the variables recently?

We can perhaps fix the create call for image stream to automatically rewrite the pull spec, similar to decorator... If you change the DNS for registry later, you will be broken anyway, but we can fix the case of double-triggered DC.

[2018-01-28 19:11] bparees commented on #18293
I fixed ansible to use what is supposed to be the "current" variable for setting the url, but the registry doesn't appear to actually respect that variable (hence the issue i opened above, and reverting the change in ansible for now).

you mean rewrite it based on the hostname in the push request like we discussed the other day?  yeah, that would be ideal, but for now i think the short term soluti

[2018-01-28 19:17] bparees commented on #17787
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/355/consoleFull

[code]

[2018-01-28 20:07] kargakis commented on #11650
Back with a different failure mode:
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18244/test_pull_request_origin_extended_conformance_gce/15173/

[2018-01-28 20:07] kargakis commented on #11650
/reopen

[2018-01-28 20:07] kargakis commented on #11650
@openshift-ci-robot wrong

[2018-01-28 21:10] kargakis commented on #17883
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18244/test_pull_request_origin_extended_conformance_gce/15179/

[2018-01-28 21:19] missnebun commented on #18179
I have the same problem. I got the latest openshift-ansible. I run the installer few times. Same problem. Not sure what is wrong ...

[2018-01-28 21:27] gbaufake commented on #18125
After correcting the certs, I brought a new cluster up and faced the same problem on deleting projects.

I used @soltysh workaround `oc delete apiservices.apiregistration.k8s.io/v1beta1.servicecatalog.k8s.io -n kube-service-catalog` then ran the service-catalog playbook again.

The only problem is the serviceBinding which is staying behind.

`oc get servicebinding`

jenkins-persistent-7fhmj-7wg7q

[2018-01-28 21:31] missnebun commented on #18179
[root@nyvm3103 ~]# curl -k https://webconsole.openshift-web-console.svc/healthz
curl: (7) Failed connect to webconsole.openshift-web-console.svc:443; Connection refused

[2018-01-29 01:23] pennpeng commented on #18184
no one help me????

[2018-01-29 02:34] missnebun commented on #18179
I have 3 Masters 3 Infra and 3 DataNodes with openshift_master_cluster_method=native.
Looks like the web console is trying to run in master

        "nodeSelector": {
            "node-role.kubernetes.io/master": "true"
        },
Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason			Message
  ---------	--------	-----	----			-------------	--------	------			-------
  8m		2m		26	def

[2018-01-29 03:06] Lazast commented on #17233
I also meet the a same problem . My router is openshift/origin-haproxy-router:v1.4.1, with environment variable  ROUTER_USE_PROXY_PROTOCOL set to true and the haproxy before router configured to  send-proxy, it doesn't work. Request to router via the haproxy failed with 400.

I check the conf file in router, no 'accept-proxy' set after the  bind :443 and bind:80, I add 'accept-proxy' to the haprox

[2018-01-29 03:36] bparees opened #18324 "Extended.[Feature:Builds][Slow] openshift pipeline build Pipeline with env vars should build and complete successfully"
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/356/

[code]

[2018-01-29 03:57] bparees commented on #18293
This looks to be fixed by my reverting the ansible changes, so we'll chase it from there.

[2018-01-29 03:57] #18293 closed

[2018-01-29 05:37] missnebun commented on #18179
Found the problem ...
Looks like @spadgett changed openshift_web_console_nodeselector variable to
openshift_web_console_nodeselector: {"node-role.kubernetes.io/master":"true"} . But if you have dedicated masters and Scheduling is Disabled then the web-console never comes online.
The sad part is that there is no documentation about this variable anywhere. https://docs.openshift.org/latest/install_c

[2018-01-29 08:04] rhuss commented on #16728
Cool ! @tnozicka quick question: Which version of Origin / OCP will have this fix ?

[2018-01-29 10:03] lichyc commented on #2162
As this issue is silent for a some time, while it's not solved I like to ask on timeline indication - cheers

[2018-01-29 11:47] soltysh commented on #18125
This looks like a problem that @openshift/team-service-catalog should look into

[2018-01-29 11:52] soltysh commented on #18183
[code]
Clearly state the apiserver cannot reach the node on which the pod is running. The other option would be to verify firewall settings, see https://docs.openshift.com/container-platform/3.6/install_config/install/prerequisites.html#required-ports

[2018-01-29 12:29] spadgett commented on #18179
@missnebun It's not documented because you're running pre-release code. Can you give us some more detail on what you're doing so we can help? Are you installing 3.9?

[2018-01-29 12:50] galderz commented on #18303
I've created an [issue](https://github.com/fabric8io/fabric8-maven-plugin/issues/1168) in the Fabric8 Maven Plugin, but they're hinting this is actually a [problem](https://github.com/fabric8io/fabric8-maven-plugin/issues/1130) with OpenShift itself. Anyone care to comment?

[2018-01-29 13:16] spadgett opened #18329 "[sig-storage] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 25s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18307/test_pull_request_origin_extended_conformance_gce/15145/

[code]

/kind test-flake
/priority p1
/sig storage

Related to #14128 and #18061

[2018-01-29 13:48] pweil- commented on #18297
Hi @gregswift.  Generally, as an upstream repository, Origin is forward only feature-wise.  There are some exceptions made but that is usually reserved for critical security fixes.  However, if you are using OCP rather than Origin, a back port can be requested through a customer case.

[2018-01-29 13:48] #18297 closed

[2018-01-29 13:55] missnebun commented on #18179
@spadgett Not at all. I installed origin 3.7. The mistake I made was to clone https://github.com/openshift/openshift-ansible repo and use that for the install. I spend entire weekend to get this ready for a POC today. More than 10 hours looking at the ansible playbooks and after 89 install runes finally worked  ... Just a default variable :( Also the documentation needs to reflect:
ansible-playboo

[2018-01-29 13:59] spadgett commented on #18179
@missnebun You shouldn't be using current master to install 3.7. The master branch is the prerelease installer for OpenShift 3.9. You want to switch to the release-3.7 branch to install 3.7. This is why the doc doesn't match what you see.

[2018-01-29 14:01] missnebun commented on #18179
@spadgett I find out in the hard way everything ... the cool part is that I have ansible-wmware-snapshot role done ... and few others cool tricks :) so not a total disaster :)) My wife said thank you do the 2 days spa :))) All good !!!

[2018-01-29 14:07] tmds opened #18330 "Add .NET Core image streams"
Openshift Container Platform includes RHEL-based image streams for .NET Core built from https://github.com/redhat-developer/s2i-dotnetcore/. Recently we have added [CentOS based image streams](https://github.com/redhat-developer/s2i-dotnetcore/blob/master/dotnet_imagestreams_centos.json). Can those be included out-of-the-box in OpenShift Origin?

[2018-01-29 14:14] pweil- commented on #18283
@yangpeng14 I do not think our networking team has enough information to go on here.  What is running in the pod, how are you doing a request, are you using the service, going through the router, are you pinging from a node or from a machine outside the cluster?  To start off with please include some yaml of the pod and any debugging you've already done.

[2018-01-29 14:27] deads2k commented on #18240
This doesn't appear to fixed.  https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18310/test_pull_request_origin_cmd/9317/ warned with

`[WARNING] Expected `/tmp/openshift/test-cmd/etcd` to be mounted on `tmpfs` but found `xfs` instead.`

[2018-01-29 14:29] php-coder commented on #18302
I unable to reproduce it locally :(

@soltysh Do you have any pointers/ideas?

[2018-01-29 14:32] mfojtik commented on #10134
@bparees maybe an example custom builder as a PoC that people can use might be useful. Could be an interesting intern project ;-)

[2018-01-29 14:43] Tirke opened #18332 "Error syncing catalog from ServiceBroker"
Hello,

I deployed Openshift Origin with Ansible using tag openshift-ansible-3.9.0-0.22.0 because the latest (openshift-ansible-3.9.0-0.31.0) fails to deploy the web-console.
After the install is over I get the usual broken asb because asb-etcd pvc fail to bind a volume because openshift-ansible doesn't take account of this line in my inventory : ` openshift_hosted_etcd_storage_kind=glusterfs`

I

[2018-01-29 14:50] php-coder commented on #18330
@openshift/sig-developer-experience

[2018-01-29 14:51] gabemontero commented on #18324
Hmmm ... from the jenkins pod logs, this is most likely the cause:

[code]

The big question will be why that is occurring now.  This test passed with the last sit of PR validations for sync plugin, and recent overnight runs best as I noticed.

Will be seeing if I can reproduce locally.

[2018-01-29 14:52] php-coder commented on #18332
@openshift/sig-ansible-service-broker

[2018-01-29 14:54] bparees commented on #10134
@mfojtik it's a fine workaround for someone who really needs it.  it's a terrible solution for us to build and show people (because it's effectively an abuse of builds.  If you're going to do this, why not just write a standalone pod that watches git and updates a configmap? or a pod that exposes a github webhook?).  The "right" solution to this, if there is one, is for configmaps to support pulli

[2018-01-29 14:54] bparees commented on #10134
(so no, we won't do this as a poc or an intern project)

[2018-01-29 14:55] mfojtik commented on #10134
standalone pod sounds reasonable to me as well

[2018-01-29 14:57] bparees commented on #18330
@tmds yes, just submit a PR updating the centos imagestreams in origin:  https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json

[2018-01-29 15:03] mindfury commented on #18207
That works, thanks for the tip!

[2018-01-29 15:34] mfojtik commented on #14261
See here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18328/test_pull_request_origin_cmd/9314/

[2018-01-29 15:58] jboyd01 commented on #18125
Looks similar to https://bugzilla.redhat.com/show_bug.cgi?id=1535902

[2018-01-29 16:14] boeboe commented on #18013
Hi @simo5 and @enj

Sorry for the lat reply. In the meanwhile we have chosen to not deploy GitLab in OpenShift cluster, because there were more issues then just this one. As a result I do not have an easy setup/env anymore to test whether this would work or not.

Suggesting to close this issue but still some good points for someone that wants to try the same integration once GitLab did it's homewo

[2018-01-29 16:23] stevekuznetsov commented on #18240
🤔

[2018-01-29 16:25] rikkuness commented on #18013
From some of the implementations I've seen where it suggests an endpoint in "OpenID" format, although arbitrary it would seem one key field a lot of implementations look for is "email", but that's not really something you could have exposed in this context unless you spoofed it with something like `<metadata.name>@openshift.local`. Not ideal.

[2018-01-29 16:26] ibotty commented on #10134
That was my feature request all along.

[2018-01-29 16:39] stevekuznetsov commented on #18240
Amazing. `docker-1.12.6-6.gitae7d637.fc25.x86_64` on my host will mount correctly, `docker-1.12.6-71.git3e8e77d.el7.x86_64` on the CI hosts will now.

[2018-01-29 16:44] stevekuznetsov commented on #18184
@dgoodwin any thoughts here?

/unassign
/assign @dgoodwin

[2018-01-29 17:20] dgoodwin commented on #18184
Apologies I haven't had time yet to look and fix, it certainly looks like a bug in tito but I'm unclear why this is only surfacing here. Will try to find some time soon.

[2018-01-29 17:22] deads2k commented on #18298
New level is tagged.  I think this is fixed.

[2018-01-29 17:22] #18298 closed

[2018-01-29 17:40] gabemontero commented on #18324
Figures ... with the latest openshift and jenkins image, I'm not seeing this problem when running this manually (either command line or extended test).  And correspondingly the WARNING message I noted above does not appear.

So a timing issue.

With that in mind, upon further perusal of the jenkins pod log, I this time also noticed:

[code]

This means the build event arrived before the build conf

[2018-01-29 17:42] stevekuznetsov commented on #18240
Specifically, on the Docker on my workstation (`docker-1.12.6-6.gitae7d637.fc25.x86_64) I see:

[code]

<details>
<summary>Full output</summary>

[code]

</details>

On the Docker we have in CI (`docker-1.12.6-71.git3e8e77d.el7.x86_64`) I see:

[code]

<details>
<summary>Full outpuut</summary>

[code]

</details>

[2018-01-29 17:44] stevekuznetsov commented on #17787
@jwhonce @rhvgoyal ping

[2018-01-29 17:50] stevekuznetsov commented on #18240
Changing the order in CI doesn't matter, either:

[code]

<details>
<summary>Full output</summary>

[code]

</details>

[2018-01-29 17:55] derekwaynecarr commented on #18240
@runcom can you assist here?

[2018-01-29 17:59] mrunalp commented on #18240
@stevekuznetsov Can you get output of /proc/1/mountinfo for both cases?

[2018-01-29 18:00] mshutt opened #18334 "oc status reporting error with hpa attempting to scale an object that doesn't exist when the object, in fact, exists and the HPA is working as intended."
Command

[code]

returns:

[code]

When in fact that the deployment/caasdemo does exist and the HPA is currently functioning as expected:

[code]

[code]

##### Version

[code]

##### Steps To Reproduce
1. Create project 'cassdemo'
2. Import deployment yaml to project with 'oc create -f'
3. Import HPA yaml with 'oc create -f' which indicates Kind: deployment Name: caasdemo in the scaleTargetRef
4.

[2018-01-29 18:04] stevekuznetsov commented on #18240
Debug info with the more specific mount first:

<details>
<summary><code>docker inspect</code></summary>

[code]

</details>

<details>
<summary><code>cat /proc/1/mountinfo</code></summary>

[code]

</details>

[2018-01-29 18:06] stevekuznetsov commented on #18240
Debug info with the more specific mount second:

<details>
<summary><code>docker inspect</code></summary>

[code]

</details>

<details>
<summary><code>cat /proc/1/mountinfo</code></summary>

[code]

</details>

[2018-01-29 18:07] stevekuznetsov commented on #18240
So it does look like the mounts are in the container config

[2018-01-29 18:11] stevekuznetsov commented on #18240
Hm. Maybe false alarm? If the sub-mount is a different fstype it shows up fine in the `df` output. Even if it's not, `docker inspect` and the mount table both show the sub-mount anyway.

[2018-01-29 18:12] enj commented on #18013
The internal OAuth server in openshift does not implement the OpenID spec (it just does OAuth2) so I doubt we will ever support anything more than the `users ~` endpoint.  Using something like http://www.keycloak.org via the `OpenIDIdentityProvider` is a better solution for users that require the OpenID features.

[2018-01-29 18:12] #18013 closed

[2018-01-29 18:20] stevekuznetsov commented on #18240
@deads2k I can see that the `test-cmd` jobs are not fixed but if I SSH into a machine where `test-cmd` is running, I cannot reproduce this.

[2018-01-29 19:13] gabemontero commented on #18324
OK I tried delays varying from 5 seconds to 5 milliseconds, and while I could reproduce the build event comes before the build config event, I could not reproduce the skipped undefined param issue.

At delays of less than 5 seconds, I could not even reliably reproduce forcing the event order a certain way.

My instincts still tell me this is some sort of concurrency issue between job create and ru

[2018-01-29 20:08] sbuvaneshkumar commented on #18285
UPDATE: I have configured storage successfully in openshift 3.5 environment.
But still, it's failing.
[code]
[code]
[code]

[2018-01-29 20:47] rohithkrishnan commented on #17740
Having the same issue. Tried to run Openshift Origin (ver 3.7.1) on RHEL 7.4(Maipo).

[2018-01-29 20:51] RobertKrawitz commented on #17757
Two issues:
1) fakeRuntime.Start() must not return until it has successfully created the listener.  remote.createAndStartFakeRemoteRuntime() must call fakeremote.Start() normally, and fakeRemote.Start() must call RemoteRuntime.server.Serve() as a goroutine.

2) Various places in remote_runtime_test.go must require.noError() rather than assert.noError().

Preparing the PR now.

[2018-01-29 20:54] #18236 closed

[2018-01-29 22:36] pmorie commented on #17621
You can work around this by installing the `krb5-devel` package.

[2018-01-29 23:08] juanvallejo commented on #18282
@droslean I believe you might have better luck using `delve` instead of `gdb`: https://blog.gopheracademy.com/advent-2015/debugging-with-delve/

Mind posting your output using delve?

@surajnarwade Is `Segmentation fault` the only output you are seeing?

[2018-01-29 23:14] juanvallejo commented on #18282
@mfojtik I am getting the same error that @droslean is seeing when trying to untar [the client tools for linux](https://github.com/openshift/origin/releases/download/v3.9.0-alpha.3/openshift-origin-client-tools-v3.9.0-alpha.3-78ddc10-linux-64bit.tar.gz.download.zip):

[code]

[2018-01-30 01:26] smarterclayton commented on #18317
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18331/test_pull_request_origin_extended_conformance_gce/15216/

on node ci-prtest-5a37c28-15216-ig-n-t1xb

[2018-01-30 01:29] smarterclayton commented on #18317
Moved to https://bugzilla.redhat.com/show_bug.cgi?id=1539987

[2018-01-30 01:31] yangpeng14 commented on #18283
@pweil-   I ran the nodejs program in pods. In a node machine in the cluster, wget requests and ping requests, the new pods will delay 15s for the first time. This is not the case for the next n requests. Here is the pods yaml configuration file.

#######################################################
apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubernetes.io/created-by: |
      {"kind":

[2018-01-30 05:51] alicealvy opened #18345 "[secret] When the secret is deleted, a new one isn't automatically generated"
my new project  have three default service account,When their secret is deleted, a new one isn't automatically generated

##### Version
# oc version
oc v3.6.173.0.49
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.example.com:8443
openshift v3.6.173.0.49
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. get sa
[code]
2. get secret
[code]
3. d

[2018-01-30 06:05] silentwu opened #18346 "Failed connect to github.com:443; Connection refused"
hello,
i build java project , face this error. can not access github.com

Cloning "https://github.com/silentwu/openshift-tomcat.git" ...
--
  | error: build error: fatal: unable to access 'https://github.com/silentwu/openshift-tomcat.git/': Failed connect to github.com:443; Connection refused

[2018-01-30 08:12] sttts commented on #18125
![](https://github.trello.services/images/mini-trello-icon.png) [[Design] Contribute to Istio side car PSP issue https://github.com/kubernetes/kubernetes/issues/55435](https://trello.com/c/cUzSlimy/1104-design-contribute-to-istio-side-car-psp-issue-https-githubcom-kubernetes-kubernetes-issues-55435)

[2018-01-30 08:56] droslean commented on #18282
Yea basically a re-compression of the binary is needed.

[2018-01-30 09:22] soltysh commented on #18302
Yes, this might be related to https://bugzilla.redhat.com/show_bug.cgi?id=1525014 and https://github.com/openshift/origin/issues/17952

[2018-01-30 09:47] rathinikunj commented on #18183
@juanvallejo hostnames are all resolvable from all the nodes.

@soltysh I do have an iptables entry that allows port 10250, but i do not see the counters increasing for that rule at all. It is in 'OS_FIREWALL_ALLOW' chain.

**iptables -nvL**
[code]

[2018-01-30 10:04] mconcas commented on #17740
Same here, trying the all-in-one:

### os version
[code]
### system
[code]

[2018-01-30 10:06] agajdosi commented on #17934
@budhrg With https://github.com/minishift/minishift/pull/1951 merged we will get more info why `not all successfully rolled out`. Hopefully we would be able to move this issue then.

The latter failure in your paste:
[code]
is expected, as the `oc delete all --all` did not run due to the failure on rollout in previous step.

[2018-01-30 11:09] soltysh commented on #18183
It looks like some configuration issue on your end in that case. Not sure where exactly, since I'm not a networking expert, but I'd try to verify if you can reach those ports from the api server (or all of them, if you have > 1).

[2018-01-30 11:25] pmorie commented on #18288
I got a different error while trying to reproduce this:

[code]

[2018-01-30 11:57] abergmeier opened #18349 "Support for Bazel"
Would be good to have rules for deployment and similar to enable IaC when using Bazel.

[2018-01-30 11:58] rathinikunj commented on #18183
Hi @soltysh

Yep, you are right, i had a faulty iptables entry injected, which was making all the traffic to port 10250 go to that app instead of to the api endpoint.

Thanks a lot for suggesting to verify the firewall settings.

We can close this issue now.

[2018-01-30 11:58] #18183 closed

[2018-01-30 12:19] pavolloffay opened #18350 "Add Helm version parameter tiller-template"
Hi,

I would find it useful if helm version in https://github.com/openshift/origin/blob/master/examples/helm/tiller-template.yaml would be configurable. Helm users already have local helm installation which can be reused for openshift.

[2018-01-30 12:53] mfojtik commented on #17731
According to http://snowstorm-dev.app.mfojtik.io this flaked 15 times in last 5 days.

[2018-01-30 12:53] mfojtik commented on #17731
@knobunc FYI

[2018-01-30 12:54] mfojtik commented on #17604
@deads2k flaked 11 times in last 5 days (http://snowstorm-dev.app.mfojtik.io)

[2018-01-30 13:56] deads2k commented on #17604
I was looking for this.  Fixed by https://github.com/openshift/origin/pull/18338

[2018-01-30 14:21] php-coder commented on #18349
@openshift/sig-developer-experience

[2018-01-30 14:21] php-coder commented on #18346
@openshift/sig-developer-experience

[2018-01-30 14:23] bparees commented on #18349
@abergmeier please elaborate.  And what is "IaC"?

[2018-01-30 14:23] php-coder commented on #18345
Why do you think that it should automatically generated? Is is documented somewhere?

[2018-01-30 14:25] bparees commented on #18346
this is a networking issue in your environment.

[2018-01-30 14:43] mshutt commented on #18334
I've been directed to: https://github.com/openshift/origin/pull/18344.

This issue can probably be closed once this makes it to release-3.7.

Thanks!
--Miranda

[2018-01-30 15:57] juanvallejo commented on #17163
Lowering severity as this does not affect >= 3.7 client versions

[2018-01-30 16:00] gabemontero commented on #18324
After @bparees and I talked, set out with conjuring up verification logic that the job has new "dynamic parameter"  ... in doing so, I believe I've discovered a) where we could force the persistence of the job update to avoid the timing window, b) perhaps learned where we need to insert an impersonate call so that we can read the job and verify its contents

Should have a PR up soon

[2018-01-30 16:47] php-coder commented on #18302
@DanyC97 Is your cluster was upgraded from 3.6 or it's a fresh installation? Also in the output I see complain about non-existent prometheus.io/v1 and grafana.com/v1 api groups. Are these third party resources or are they somehow related to service catalog? Do you know why they don't exist?

[2018-01-30 16:59] sjenning commented on #17595
@tnozicka just wondering, have you seen this one lately?  Doesn't look like we have hit this one for a while now.  Did it disappear at the same time we bumped the disk size on the CI instances?

[2018-01-30 18:56] jwforres commented on #18334
/assign @juanvallejo
/kind bug
/priority P2

[2018-01-30 19:16] tnozicka commented on #18315
was looking into it but master-controllers.service is just 2MB.
V4 logs are missing

@stevekuznetsov any changes in CI setting recently?

[2018-01-30 19:51] gabemontero commented on #17974
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18272/test_pull_request_origin_unit/8781/

[2018-01-30 20:17] gabemontero commented on #18324
actually I'll reopen until I cut the new openshift jenkins centos image

[2018-01-30 22:23] stevekuznetsov commented on #18315
@sdodson @michaelgugino any idea on loglevel settings for controllers?

[2018-01-30 23:45] #18324 closed

[2018-01-31 02:15] davidblum commented on #14766
Ran into this exact issue tonight `--exec-opt native.cgroupdriver=systemd` in `/usr/lib/systemd/system/docker.service` with: `ExecStart=/usr/bin/dockerd --exec-opt native.cgroupdriver=systemd`+ docker and kubelet restarts, got this working for me.

Running:
[code]

[2018-01-31 03:10] alicealvy commented on #18345
@php-coder
please look
https://docs.openshift.com/container-platform/3.7/dev_guide/service_accounts.html
[Managing Service Accounts]

[2018-01-31 03:53] DKBgit opened #18358 "How to set a custom DNS server when using the oc cluster up?"
I have an Openshift Origin cluster up and working on a **Ubuntu 4.13.0-31-generic** machine by following/using the oc cluster up command found at https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md.

I am now trying to get the pods created in the cluster to use a custom DNS server (or an upstream Nameserver) so the pods can resolve hostnames on my local network.

I would like t

[2018-01-31 04:01] #18350 closed

[2018-01-31 05:43] sjenning opened #18360 ""SSH Error: data could not be sent to remote host" during "Gathering Facts" step when provisioning cluster"
Happened 4 times in the last ~10hrs

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18323/test_pull_request_origin_extended_conformance_gce/15311/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18102/test_pull_request_origin_extended_conformance_gce/15298/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18102/test_pu

[2018-01-31 06:25] testfielder opened #18361 "facing an error when install flex volume driver"
OS: Atomic Host release 7.4

when i install flexvolume drive like that as https://docs.openshift.org/latest/install_config/persistent_storage/persistent_storage_flex_volume.html#flex-volume-installation :
[code]

[2018-01-31 08:38] bikej opened #18362 "CrashLoopBackOff"
##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.****:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. oc new-app centos or oc new-app alpine or oc new-app debian...
2. oc status -v
Errors:
  * pod/centos-1-dl5dp is crash-looping

    The container is starting and exiting repeatedl

[2018-01-31 10:11] praveenkumar opened #18364 "Release artifacts are not in standard format for v3.9.0-alpha.3"
The current release of v3.9.0-alpha.3 has different type of tarball for release than it used to have. This is becoming a blocker for minishift when user trying to use it :(

[code]

Also when you extract those artifacts it doesn't look as expected.

[code]

[2018-01-31 10:58] tnozicka commented on #17595
I haven't. @ironcladlou @mfojtik got any flakes looking like this? (Those are usually different tests as the detector is asynchronous and run for every deployment test.)

Any chance that this might be related https://github.com/openshift/origin/pull/18233?

[2018-01-31 11:19] alexcern commented on #16951
This behavior seems to depend on the docker version on centos7.

We're having the same issue with docker-1.12.6-55 but using subPath with a configMap works fine with docker-1.12.6-61 and docker-1.12.6-68: the more recent docker versions mount the target of the symlink (cf. https://github.com/kubernetes/kubernetes/issues/50345). The file is visible as expected in the container, but is never updated

[2018-01-31 11:27] budhrg commented on #18364
I am able to reproduce it too.

[2018-01-31 11:51] tnozicka opened #18365 "flake: crio: Back-off pulling image "openshift/origin-deployer:4762d6a""
crio job is failing because it can't pull deployer image `openshift/origin-deployer:4762d6a`

This is #1 flake (49 times) in https://snowstorm-origin-ci.svc.ci.openshift.org/

@mfojtik @stevekuznetsov @runcom

deployer image should be pre-pulled likely or at least pulled faster than 5 minutes.

[code]

[code]

[2018-01-31 12:02] zonArt commented on #9584
@miminar

This is actually working, thanks

[2018-01-31 12:34] runcom commented on #18365
This is because the image is being removed by the image GC. We're working with @stevekuznetsov to upgrade disk size on CFI-O instances to fix the issue.

[2018-01-31 13:16] tnozicka commented on #18365
@runcom is that also the reason why it doesn't get pulled again? The test is waiting for 5 minutes on the pull.

/assign @runcom @stevekuznetsov

[2018-01-31 13:21] runcom commented on #18365
yes, that images can't be pulled, it's built as part of the whole test so that's why it's failing to pull it.

[2018-01-31 13:31] tnozicka opened #18366 "Flake: [Feature:DeploymentConfig] deploymentconfigs keep the deployer pod invariant valid [Conformance] should deal with cancellation after deployer pod succeeded [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com//build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/2314/

[code]

[2018-01-31 13:40] tnozicka commented on #18365
makes sense, thx for explaining it ;)

[2018-01-31 13:51] galderz commented on #18288
It appears this is [known issue](https://github.com/fabric8io/fabric8-maven-plugin/issues/1130) when redeploying applications using Fabric8 Maven Plugin S2I in OpenShift 3.7. It's yet unknown whether the issue is an maven plugin issue or OpenShift one.

The service catalog is not required AFAIK to replicate the issue.

[2018-01-31 14:07] php-coder commented on #18361
@openshift/sig-storage

[2018-01-31 14:15] php-coder commented on #18362
What was the expected result of the running `oc new-app centos`? CentOS/Debian/Alpine images don't do anything useful and typically are used as a base image for the application images. In this case, I'd say that the behavior you're seeing is expected.

CC @openshift/sig-developer-experience

[2018-01-31 14:16] php-coder commented on #18364
@smarterclayton

[2018-01-31 14:17] php-coder commented on #18358
@openshift/sig-developer-experience

[2018-01-31 15:05] kargakis opened #18369 "oc cluster up broken in 3.9.0"
[code]
@openshift/sig-master

[2018-01-31 15:11] bparees commented on #18362
yeah, if the image's entrypoint is not a long running process, the container will simply terminate after starting, and get restarted, hence crashloop.  you need to use an image w/ a long running entrypoint.

[2018-01-31 15:11] #18362 closed

[2018-01-31 15:17] heatmiser commented on #18115
@edsonmarquezani I experienced similar behavior to what you were seeing. I too am using automation outside of the MS arm template deployment, I'm utilizing Terraform to deploy everything.  In my particular case, I was setting the name of VM instances in Azure to a different value than the actual hostname configured within each VM.  When the cloud-provider configuration step ran and then nodes were

[2018-01-31 15:24] #18346 closed

[2018-01-31 15:35] pweil- commented on #18349
There is not enough info here to create a feature request or reply with how the platform may satisfy what you need already.  If you'd like to pursue this please describe your use cases and requirements in more detail.

[2018-01-31 15:35] #18349 closed

[2018-01-31 15:36] juanvallejo commented on #18334
3.7 backport: https://github.com/openshift/origin/pull/18371

[2018-01-31 16:27] #18366 closed

[2018-01-31 16:32] simo5 commented on #18345
/assign @php-coder

[2018-01-31 16:37] runcom commented on #18294
/unassign @jtligon
/assign @runcom

[2018-01-31 16:48] simo5 commented on #18059
@soltysh is this resolved? or is there a reason the issue is still open ?

[2018-01-31 16:49] simo5 commented on #18028
@mfojtik @enj can we close this one ?

[2018-01-31 17:05] enj commented on #18028
@smarterclayton any strong reason to add `--exclude`?  Seems like we always want people to run `--include=*` (which migrates everything it can and never quits early).  `--exclude` only makes sense if you have something you never want to migrate (which is an invalid scenario) or if you know migrate will fail because of some resource `x` (which is also invalid because we allow you to skip the migrat

[2018-01-31 17:09] enj commented on #18028
cc @sdodson @jupierce in case they have opinions.

[2018-01-31 17:16] stevekuznetsov commented on #18360
We've seen this manifest in a couple of different ways for a while now but the root cause seems to be EC2 instance connection instability. I'm fairly certain the Ansible connection logic has a retry, I'm not sure what else we can do here.

[2018-01-31 18:04] sdodson commented on #18028
I think as long as we have a way to list the resources that would be included in `--include=*` we can build an --include to exclude anything we want. Are those resource types defined in the client or dynamically from the API?

Side though, How does migrate work when features like builds are disabled?

[2018-01-31 18:09] runcom commented on #18294
we can definitely rework this as:

- we gather full list of necessary RPMs to install bleeding edge Docker
- we validate docker bleeding edge by running the whole origin tests from something like https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/2350/artifacts/rpms
- regardless of flackies, if we get to a point where we can _at least_ instal

[2018-01-31 18:51] aveshagarwal commented on #16662
I can not open the original link https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/237/display/redirect

Do we still want to keep it open? Not sure if the issue occurred again. If not, is it ok to close this?

[2018-01-31 18:57] sjenning commented on #17695
yikes, origin-node self terminating in the middle of a test run?! nasty

[2018-01-31 18:57] bparees commented on #16662
this was most likely caused by image gc which has been resolved by increasing storage, we can close it.

[2018-01-31 18:57] #16662 closed

[2018-01-31 19:54] dvlro opened #18373 "pods don't have access to external resources"
I have been having this issue for some time.
Can someone assist me in solving it?
For example I want to clone a github repository and get timeout every time I run a build.

[2018-01-31 20:05] deads2k opened #18374 "newImpersonatingRoundTripper needs to use current impersonation headers"
right now it is using the old "scopes" header, not the extra header.

/assign enj
/assign simo5

@openshift/sig-security

[2018-01-31 20:06] deads2k commented on #18374
Making a p1 for now.  If we can fix this in 3.9, we have a shot at removing the debt in a release or two.

[2018-01-31 20:54] enj commented on #18028
@sdodson

It is built using client side knowledge and discovery and is logged: https://github.com/openshift/origin/blob/master/pkg/oc/admin/migrate/migrator.go#L219

It should, though I have never tested such a thing.

[2018-01-31 21:03] spadgett commented on #18291
cc @oourfali

[2018-01-31 22:01] simo5 commented on #18096
Ok folks #18102 is all green and implements the above, PTAL
@deads2k @liggitt @smarterclayton

[2018-01-31 22:49] csrwng commented on #18303
@galderz after you run `mvn fabric8:deploy` can you inspect the following in OpenShift and include the results in a gist?

[code]

I don't think this is Mac specific. It looks like the image that the deployment config expects is not getting tagged in the image stream.

[2018-01-31 23:05] csrwng commented on #18358
@DKBgit have you tried adding the DNS server to your host machine's resolv.conf?

[2018-02-01 01:36] DKBgit commented on #18358
Thanks for the hint.
I realize after more research that the pods could not resolve a local hostname (eg. trdrdev) while the host could resolve that hostname.
What I found out was when a DNS server's **/etc/dnsmasq.conf** file has
[code]
then it would not resolve the hostname (eg. trdrdev).

My local network's DNS server does not have that config so it was able to resolve a hostname (eg. trdrdev) b

[2018-02-01 02:04] oourfali commented on #18291
Hawkular is in the responsibility of @theute

[2018-02-01 02:32] smarterclayton commented on #18364
Those downloads / uploads probably just failed

[2018-02-01 06:23] surajnarwade opened #18381 "Incorrect schema"
In this schema https://raw.githubusercontent.com/openshift/origin/master/api/swagger-spec/oapi-v1.json from master, keys like `replicas`, `test` shown as `required` but they are not.

[2018-02-01 07:54] theute commented on #17529
@oourfali it seems to be an installer issue rather than an issue in P8s itself ?

[2018-02-01 07:55] theute commented on #17676
Who can work on that one ?

[2018-02-01 07:56] theute commented on #17901
@oourfali it seems to be an installer issue rather than an issue in P8s itself ?

[2018-02-01 08:17] rhinoceros commented on #17740
[code]
run:
openshift start
---------------------------------------
[code]

[2018-02-01 08:39] zgalor commented on #17901
@tnozicka was prometheus installed using openshift-ansible?
what inventory file was used?

[2018-02-01 08:39] zgalor commented on #17529
@kargakis was prometheus installed using openshift-ansible?
what inventory file was used?

[2018-02-01 08:58] bikej commented on #18362
Thanks guys, I didn't have the big picture here.

[2018-02-01 09:20] mfojtik commented on #17731
Raising severity as this is now flaking for every second PR. @smarterclayton @knobunc will you be fine to disable this test until the problem is resolved?

[2018-02-01 09:39] mfojtik commented on #17731
(also this is not just 3.8 but master as well)

[2018-02-01 09:41] kargakis commented on #17529
@zgalor this issue comes up in [extended_gce](https://github.com/openshift/aos-cd-jobs/blob/master/sjb/config/test_cases/test_branch_origin_extended_conformance_gce.yml). Unclear how Prometheus is installed in that job but I think openshift ansible is used.

cc: @smarterclayton

[2018-02-01 10:22] frobware commented on #17883
I have been trying to reproduce this error for quite a few days but without success.

I did run into the following yesterday:

[code]
but that took some effort:

[code]

[2018-02-01 10:58] DanyC97 commented on #18302
@php-coder the cluster is a green deployment of 3.7, no upgrade from 3.6.
the non-existent groups they are due to service catalog which i have not enabled it however i don't know why they exist ...

i'll redeploy the cluster again and triple check ...

[2018-02-01 10:59] DanyC97 commented on #17464
@knobunc @vfreex any chance more info can be provided or is anyone looking at ?

[2018-02-01 11:02] wtrocki commented on #9690
Issue is outdated. Multiple options to do that at the moment.

[2018-02-01 11:45] php-coder commented on #18381
@openshift/sig-master

[2018-02-01 11:48] php-coder commented on #18373
About what exactly pod you're talking about? Did you create a pod manually and trying to do `git clone` from it or you're using Builds that creates a pod and clones a repo?

[2018-02-01 12:28] tnozicka commented on #17901
It is installed as part of the test:
https://github.com/openshift/origin/blob/e274a1408ced03a73960156dd34e6871927a5ace/test/extended/prometheus/prometheus.go#L41
https://github.com/openshift/origin/blob/e274a1408ced03a73960156dd34e6871927a5ace/test/extended/prometheus/prometheus.go#L297

[2018-02-01 13:12] toredash commented on #18059
This issue is still present in oc v3.7.1+ab0f056

[2018-02-01 13:45] bparees opened #18384 "Extended.[Feature:ImagePrune][registry][Serial] Image prune with default --all flag should prune both internally managed and external images"
test flaked.

[code]

as seen in:

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_registry/103/testReport/junit/(root)/Extended/_Feature_ImagePrune__registry__Serial__Image_prune_with_default___all_flag_should_prune_both_internally_managed_and_external_images__Suite_openshift_/

[2018-02-01 13:50] dobbymoodge commented on #11735
No longer applicable, test_pull_requests doesn't build origin any longer.

[2018-02-01 13:52] #11735 closed

[2018-02-01 13:52] bparees commented on #18089
closing based on the recommendations to either do this in minishift, or use the oc cluster wrapper, but it's "too big" to fit into the core cluster up mission.

[2018-02-01 13:52] #18089 closed

[2018-02-01 13:54] dobbymoodge commented on #14313
I'm 99% sure nobody cares about this anymore. @juanluisvaladas is this still a concern for you?

[2018-02-01 13:55] bparees commented on #17188
@dmage is there additional logging we could introduce to help debug this if it recurs, or is it all distribution code?

[2018-02-01 13:56] bparees commented on #16940
@enj is this still a thing we need to worry about?

[2018-02-01 14:20] nak3 opened #18386 "`oc adm policy remove-cluster-role-from-group` does not remove the group from role"
##### description of the issue

`oc adm policy remove-cluster-role-from-group` does not
remove the group from role.

##### Version

Confirmed with the latest build ed354cf337c58d073e121051a5db5c76dd958881 and
 OCP 3.7's binary both.

[code]

##### Steps To Reproduce

###### 1. Add role to group

[code]

###### 2. Remove role from the group

[code]

###### 3. Check the rolebinding

[code]

##### Cu

[2018-02-01 15:10] jsafrane commented on #18361
Unfortunately, Atomi Host is immutable. OpenShift / Kubernetes considers to have this directory configurable, https://github.com/kubernetes/features/issues/500, but not in the short term.

How do you install Kubernetes there? On AtomicHost, OpenShift runs inside container(s) and flex volume drivers should be in these containers.

[2018-02-01 15:35] juanluisvaladas commented on #14313
@dobbymoodge I'm building it on my workstation, so if you want to remove the feature it's ok for me.

[2018-02-01 15:38] #17604 closed

[2018-02-01 15:52] dmage commented on #17188
@bparees it is distribution code, probably they missed error handling.

[2018-02-01 16:05] bparees commented on #17188
@dmage can you open an upstream issue and close this pointing to that?

[2018-02-01 16:07] damemi commented on #18016
I can work on this

[2018-02-01 16:07] bparees commented on #18373
regarding @php-coder's suggestion, the easiest way to investigate this is to deploy the jenkins image and then oc rsh into it and attempt a git clone (the jenkins image includes git).  This will replicate what the build is doing when it tries to clone your code.

Assuming that fails, show us the output, but it's almost certainly either a DNS configuration issue, or a networking configuration issue

[2018-02-01 16:12] csrwng commented on #18358
I'm not sure.

@openshift/sig-networking any thoughts?

[2018-02-01 16:29] #17605 closed

[2018-02-01 16:41] bparees commented on #10702
is the dockerImageReference not what you're looking for?

pod shows the image w/ digest:
[code]

getting the image by digest shows the dockerImageReference which is the pull spec:
[code]

(may not have existed at the time this issue was opened, so i am proactively closing this but we can reopen if that is not what you were asking for)

[2018-02-01 16:41] #10702 closed

[2018-02-01 16:42] tnozicka commented on #17595
likely not caused by the informers issue I pointed you to as @deads2k just saw it and the watch cache is already fixed on master

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18387/test_pull_request_origin_extended_conformance_install/6640/

[2018-02-01 16:45] tnozicka commented on #18315
bump; we need V4 logs for master controllers to hunt down flakes

[2018-02-01 16:48] aveshagarwal commented on #17695
I have created upstream issue for this: https://github.com/kubernetes/kubernetes/issues/59206#issuecomment-362322284

I also have a preliminary fix, not sent to upstream yet as still discussing ways to address this more appropriately:  https://github.com/aveshagarwal/kubernetes/pull/9  (note this PR is not sent to upstream yet).

[2018-02-01 16:49] enoodle commented on #10702
@bparees Thanks for taking notice, this should have been close for some time now.

The addition of `docker-pullable://` style reference and `dockerImageReference` on the image itself really did enable me to match image more reliably with the repo-digest of the container images.

[2018-02-01 17:00] debianmaster commented on #18292
im seeing this issue on . ocp enterprise 3.7.23

[2018-02-01 17:05] parthasarathi-DXC opened #18392 "OADM diagnostic SDN errors"
After multiple reinstallation (on newly built RHEL7 VMs) oadm diagnostic shows 2 SDN error. Unable to create pods. Kindly help me to resolve this error.

###oc version

oc v3.6.173.0.49
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master1.cat.test:8443
openshift v3.6.173.0.49
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce

1. oadm diagnostic

###

[2018-02-01 17:09] dmage commented on #17188
@bparees I don't know what I can ask the upstream guys, the error is not written to the log, but its consequences are caught (the size of the blob on the storage doesn't match the size specified by the client). And it doesn't seem that they care about logging at this place:

[code]

Has it happen again?

[2018-02-01 17:35] jwhonce commented on #17787
See https://github.com/openshift/origin-ci-tool/pull/152 for additional debugging and setting json-file for debugging driver

[2018-02-01 17:43] bparees commented on #17188
seems like we should ask that the registry return a better error than "blob unknown" such as "blob corrupt" or something.

not that i'm aware of, but assuming it was a networking hiccup during a blob update, there's nothing to prevent it happening again, right?  I'm going to lower the severity but it would be useful to have a better message for diagnostic purposes when a customer hits this.

[2018-02-01 17:54] grandflash opened #18395 "Unexpected behavior after configuring HAProxy Template Router Settings"
There's possible to open any quantity of multiple parallel socket connections from one IP on route's host and port 80 over configured 'rate-limit-connections.concurrent-tcp' and 'rate-limit-connections.rate-tcp' parameters.

Openshift version 3.6

##### Steps To Reproduce
1. Create route and configure it with the following annotations:
haproxy.router.openshift.io/rate-limit-connections: 'true'
hap

[2018-02-01 18:00] micah opened #18396 "`oc get all` not getting all"
I wanted to remove all resources related to a prometheus deployment I did, so I looked for them all this way:

[code]

and then deleted them.... but I was surprised because pods were still being created, and eventually I found there was a daemon-set configured, but that did not show up in the `get all`. I even tried a `oc get all` scoped to the namespace that it was in, and it did not show it at a

[2018-02-01 18:12] juanvallejo commented on #18396
The `all` alias does not include all resources.
See https://github.com/openshift/origin/issues/3740

[2018-02-01 18:12] #18396 closed

[2018-02-01 18:27] tnozicka opened #18397 "Regular user can't grant update privileges to update route.openshift.io/routes/custom-host"
role.authorization.openshift.io "openshift-acme" is forbidden: user "developer" cannot grant extra privileges:
{Verbs:["update"], APIGroups:["route.openshift.io"], Resources:["routes/custom-host"]}

he can grant create though. I think he can also update it manually so not being able to grant update seems like a bug. (likely he should be also able to do patch, ...)

@liggitt @enj ?

[2018-02-01 18:32] enj commented on #18397
See https://github.com/openshift/origin/pull/18177#issuecomment-360660024 https://github.com/openshift/origin/pull/18312

Closing this since it will get sorted out in that PR.

[2018-02-01 18:32] #18397 closed

[2018-02-01 18:34] micah commented on #18396
@juanvallejo indeed, it does not include all resources, but #3740 only indicates that it does not include secrets, and that is by design. This issue is about it not including other non-secret resources.

[2018-02-01 18:38] tnozicka commented on #18397
thanks @enj

For the record I was wrong, I couldn't even update it. That PR is what I need.

[2018-02-01 19:27] juanvallejo commented on #18396
@micah looking at this further, 3.7 clients expanded `all` a bit differently than newer clients.
3.7 clients expand `all` to the set of available resources in the server from the union of [an Origin-specific resource list](https://github.com/openshift/origin/blob/release-3.7/pkg/cmd/util/clientcmd/factory_object_mapping.go#L85-L91) and an [upstream-specific resource list](https://github.com/opensh

[2018-02-01 19:30] stevekuznetsov commented on #12072
@ravisantoshgudimetla do you feel like you can deliver the change to the liveness probe to move away from HTTP?

[2018-02-01 19:33] ravisantoshgudimetla commented on #18031
I started looking into the issue and I am not able to reproduce it. I tried manually what the test does, for sure the pods are having Readiness problem initially but that is a different problem.

After going through the trace, I believe that replication-controller is asking the pod to be deleted and the deletion is delegated to kubelet because the event
`Jan  8 23:38:49.208: INFO: At 2018-01-08 23

[2018-02-01 19:34] ravisantoshgudimetla commented on #12072
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/15413/console

[2018-02-01 20:36] dvlro commented on #18373
@bparees I did what you suggested, deployed jenkins and tried to git clone. As a result: Failed connect to github.com:443; Connection timed out.

Also pinged google the same result.
bash-4.2$ ping google.com
PING google.com.contaboserver.net (91.194.91.220) 56(84) bytes of data.

Regarding the steps that I made to install it on Centos 7 are here : http://gdbb.blog.fc2.com/blog-entry-1183.html .

i

[2018-02-01 20:38] bparees commented on #18373
@dcbw @danwinship can one of you help w/ @dvlro's networking issue?

[2018-02-01 21:14] bparees commented on #16118
on further analysis, this EOF is coming from the client as it reads the log stream from the apiserver:
https://github.com/openshift/origin/blob/ddd1f926d749c914e479b2c54e385137a99873c2/pkg/oc/cli/cmd/startbuild.go#L425

Ultimately I think a connection got closed prematurely somewhere.  I was (sort of) able to reproduce this by cntrl-c'ing the api server while streaming logs:

[code]

Based on that

[2018-02-01 21:14] #16118 closed

[2018-02-01 21:52] sdodson commented on #18315
@stevekuznetsov Assuming these vars applied it should set loglevel 5 https://github.com/openshift/aos-cd-jobs/blob/master/sjb/inventory/group_vars/OSEv3/general.yml#L2
Where are the artifacts like /etc/sysconfig/* and the controller logs in the referenced job?

[2018-02-01 22:28] sjenning commented on #17595
@tnozicka still trying to get to the root cause on this https://github.com/kubernetes/kubernetes/issues/58711#issuecomment-362402686

[2018-02-02 03:09] #18361 closed

[2018-02-02 03:10] enj commented on #18206
@davistran86 ok run `oc adm migrate authorization` again and confirm no errors.  Also make sure the controllers you are running are version 3.6 as well (check the RPM version probably).

Once that is done, make a backup, and upgrade to 3.7 again (make sure no changes are made to the cluster during upgrade).  Then check that every component is restarted and upgraded to 3.7 (clients, server, control

[2018-02-02 03:16] enj commented on #18386
This is working as expected.  @nak3 you are combining commands that work against different resources - cluster role binding vs role binding.

@simo5 I will let you close.

[2018-02-02 05:28] sjenning commented on #17605
I don't believe that will fix this issue.  Time will tell though.

[2018-02-02 05:57] smarterclayton commented on #17529
This is likely caused by #18317.  This is the stock prometheus config in origin.

[2018-02-02 05:58] smarterclayton commented on #17731
No, this is just exposing a very serious bug in openshift-sdn, and there are several tests that flake.  #18317.

[2018-02-02 06:08] shopatlemo commented on #7614
you have to put a "/" at the end.  If you don't do that, this error will cause.  here is the example the last slash after github-webhook
http://2bea0e50.ngrok.io/github-webhook/

[2018-02-02 07:10] nak3 commented on #18386
@enj Actually I still don't understand it what was wrong... (I'm sorry, my bad knowledge).

1. When I ran `oc adm policy add-role-to-group`

[code]

2. Surely I can see that it was added to `rolebinding`.

[code]

But it was not added to cluster rolebinding

[code]

3. Then, even if I ran `remove-cluster-role-from-group`, the added group in step-1 was not removed.

[code]

If it was not a bag, how

[2018-02-02 07:17] tnozicka commented on #18315
I always find them in jenkins in S3 artifacts because in the other artifacts they are missing

[2018-02-02 07:41] #18386 closed

[2018-02-02 09:17] mfojtik commented on #17757
This flakes seems to occur 1 per day or so https://snowstorm-origin-ci.svc.ci.openshift.org

[2018-02-02 09:24] mojsha opened #18406 "DeploymentConfig behaviour change from 3.6 to 3.7"
In 3.6, using F-M-P which updates the both the container image reference and the image trigger reference, there was no automatic re-deployment when trigger is set to automatic false.

In 3.7, it seems like an update to the container image reference automatically re-deploys.

This breaks our workflow.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

openshift v3.7

[2018-02-02 09:41] dmage commented on #17188
The registry sends "blob upload invalid", but the client API intentionally replaces the detailed error with a general one:

https://github.com/docker/distribution/blob/85b4d46b4f4ab02aa90a172d9f4d3ca8114fe33b/registry/client/blob_writer.go#L32-L34

[2018-02-02 10:15] 0polar commented on #3415
Question: how to do this in OpenShift Online v3?

[2018-02-02 10:24] wtrocki commented on #3415
@0polar I believe that's not possible as it requires admins to assign some public ports.
Better to ask about that on StackOverflow.

Best to use port forwarding.

[2018-02-02 12:01] vrutkovs opened #18408 "oc cluster up should install webconsole for 3.9"
The cluster is up, but no web console available when `oc cluster up --version='v3.9.0'` is running

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.9.0-alpha.4+49100d9-88
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. `oc cluster up --version='v3.9.0'` ( or `--version=latest`)
2. Open `h

[2018-02-02 12:58] tnozicka commented on #17638
@joelsmith bump

I'll like to see what's the root cause of it ; with 3.9 approaching we should figure out what's the cause so we don't release it broken even for 3.9

[2018-02-02 13:42] kargakis commented on #18369
Logs from the container
[code]

[2018-02-02 14:29] rhvgoyal commented on #17787
Apart from debug output, are there any kernel messages on the system. libdm seems to say that a device activation failed. May be kernel has logged something which might give a clue also.

[2018-02-02 14:52] ravisantoshgudimetla commented on #18031
I don't see a possible code path for this happen either. I will create a dummy PR and if we have extended tests enabled, see if we are hitting the issue.

[2018-02-02 14:56] bparees commented on #17188
that seems like something worth opening an issue against (that detail is being lost from the error).

If it's truly intentional (as in they made an explicit choice to hide the error information for security reasons or something else) then perhaps the issue will be closed, but right now the behavior seems rather non-user-friendly in terms of diagnosing what went wrong and i'd hope they'd be open to

[2018-02-02 14:58] bparees commented on #18406
starting as a p1 because it's a regression/change in behavior (possibly intentional and justifiable)

[2018-02-02 14:59] bparees commented on #18406
(if anything it sounds like the 3.6 behavior was broken, so perhaps this was a bug fix in 3.7)

[2018-02-02 15:01] simo5 opened #18412 "Flake: [Conformance] build without output image building from templates should create an image from a S2i template without an output image reference defined"
GCE test flaked on this:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18378/test_pull_request_origin_extended_conformance_gce/15494/

[2018-02-02 15:11] #18292 closed

[2018-02-02 15:18] bo8888 commented on #17740
rhel7.4 +1

[2018-02-02 15:48] sdodson commented on #18315
It'd be awesome if we emitted all command line args during startup or at least log level.

[2018-02-02 15:55] Andreas-Maier-NTT opened #18413 "Patching a DC - Image is not possible"
I'm trying to patch the image of a deployment using
 oc patch dc dc-name --patch='{"spec":{"template":{"spec":{"containers[0]":{"image":"image-name:tag"}}}}}'

However, if I try that the log says that the dc is not patched.

##### Version
$ oc version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server server name
openshift v3.7.23
kubernetes v1.7.6+a08f5eeb62

##### Steps

[2018-02-02 15:56] stevekuznetsov commented on #18315
Artifacts [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/15138/s3/), @tnozicka is correct, we currently do not push that to GCS, only S3.

@smarterclayton @deads2k y'all like the idea of

[2018-02-02 16:00] stevekuznetsov commented on #17787
@rhvgoyal PID 1 log is [here](https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/355/s3/download/generated/pid1.journal) for the job last linked by Ben. Can you take a look?

[2018-02-02 16:22] #13108 closed

[2018-02-02 16:22] #14385 closed

[2018-02-02 16:22] #15991 closed

[2018-02-02 16:22] #18317 closed

[2018-02-02 16:29] dmage commented on #17188
@bparees thanks for moving it forward, https://github.com/docker/distribution/issues/2512

[2018-02-02 16:41] smarterclayton commented on #11175
Did this make it to 3.7.1?

[2018-02-02 16:46] kargakis commented on #8459
/lifecycle frozen

[2018-02-02 17:53] bparees commented on #18412
[code]

api server flake retrieving logs for the container.

[2018-02-02 17:57] bparees commented on #16507
@mfojtik since you have the env to test/repro this can you try the fix @danwinship suggested and create the PR?

[2018-02-02 17:59] bparees commented on #15854
@juanvallejo looks like you're reviewing the PR that fixes this, so assigning to you.

[2018-02-02 18:00] bparees commented on #15573
@smarterclayton @kargakis @stevekuznetsov who should own this?

(i'm trying to get all our open origin issues to have owners)

[2018-02-02 18:01] bparees commented on #15040
closing in deference to https://github.com/openshift/openshift-ansible/issues/4686

[2018-02-02 18:01] #15040 closed

[2018-02-02 18:03] bparees commented on #14053
@stevekuznetsov looks like we think this is resolved, can you confirm?

[2018-02-02 18:04] bparees commented on #13688
@jupierce @stevekuznetsov is this still a relevant issue since we're on go1.9.2 now?

[2018-02-02 18:07] bparees commented on #11611
@simo5 i think this falls under your area?  if not you can assign it over to @mfojtik

[2018-02-02 18:07] bparees commented on #10380
@simo5 not sure if this is you or @mfojtik

[2018-02-02 18:08] bparees commented on #10362
doesn't seem likely we're going to proceed on this, at least not generically.

[2018-02-02 18:08] #10362 closed

[2018-02-02 18:12] bparees commented on #9406
the contributing guide now provides separate instructions for developing using a local cluster and a DIND cluster.

the hacking guide covers running tests:
https://github.com/openshift/origin/blob/master/HACKING.md

[2018-02-02 18:12] #9406 closed

[2018-02-02 18:14] bparees commented on #7118
@deads2k @mfojtik I assume this really needs to be broken down into separate issues for each api resource that isn't doing this correctly today.

[2018-02-02 18:15] bparees commented on #7376
we've lived this long (and actually removed most of our support for comma separated values to args) so this can probably be closed, but will let the team that owns the CLI decide.

[2018-02-02 18:19] bparees commented on #17188
closing in deference to https://github.com/docker/distribution/issues/2512

[2018-02-02 18:19] #17188 closed

[2018-02-02 18:26] bparees commented on #1897
@smarterclayton yours unless you decide to close it or pick a victim

[2018-02-02 18:28] bparees commented on #2583
have heard no recent requests for this

[2018-02-02 18:28] #2583 closed

[2018-02-02 18:29] #2827 closed

[2018-02-02 18:30] bparees commented on #2976
@liggitt is this still a thing?

[2018-02-02 18:33] bparees commented on #2991
this has not caused any user angst in the last 2.5 years that i'm aware of.

[2018-02-02 18:33] #2991 closed

[2018-02-02 18:34] bparees commented on #3099
we don't have plans to extend templates in this manner.  For more sophisticated use cases like this, other tools may be appropriate.

[2018-02-02 18:35] #3099 closed

[2018-02-02 18:37] bparees commented on #4583
https://github.com/kubernetes/kubernetes/issues/13687 looks dead.

[2018-02-02 18:37] #4583 closed

[2018-02-02 18:38] bparees commented on #5231
@deads2k i assume this issue is wildly irrelevant/outtdated at this point

[2018-02-02 18:39] spadgett commented on #18207
Note that in 3.9, the web console no longers runs as part of the master. It runs in a pod in the openshift-web-console namespace. oc cluster up and openshift-ansible will both install the console for you.

If you run OpenShift a different way, you'll have to instantiate the console template. Edit install/origin-web-console/console-config.yaml for your cluster and run

[code]

[2018-02-02 18:44] danwinship opened #18414 "spurious errors on pod termination"
There's some sort of race/bad coordination in kubelet when pods are terminated, such that it keeps trying to do status checks even after it has started terminating the pod, often resulting in:

    Feb 01 18:20:44 ci-prtest-5a37c28-15429-ig-n-qzmw origin-node[10940]: I0201 18:20:44.622016   10940 kubelet.go:1852] SyncLoop (DELETE, "api"): "dns-test-8a31e45e-077c-11e8-9376-0e8c3420a542_e2e-tests-dn

[2018-02-02 18:49] LarsMilland commented on #17086
@coreydaley With the OpenShift Origin 3.7.1 release now announced on the github website 17 days ago I don't think the RPM binaries are yet to find on the Centos mirror. Could it  possible be so that the release process can get a consistent process from release to release.

[2018-02-02 18:57] spadgett commented on #18408
Your `oc` is too old. You need a current `oc` from master to install the console.

[2018-02-02 18:57] #18408 closed

[2018-02-02 18:58] spadgett commented on #18408
Please reopen if see the issue with `oc` built from current master.

[2018-02-02 18:59] pravisankar commented on #18414
This looks like existing bug: https://bugzilla.redhat.com/show_bug.cgi?id=1434950
cc: @dcbw

[2018-02-02 19:02] deads2k commented on #5231
We still use a crazy bash script that attempts to pick these things and that few people can make work.  I wish it wasn't so, but I got questions on this thing last week from someone.

Might actually have been @ironcladlou

[2018-02-02 19:27] stevekuznetsov commented on #15573
Go build chain writes to `/tmp` which is a volume and this is the root cause of the `etcd` issues in CI. Consider this fixed.

/close

[2018-02-02 19:27] #15573 closed

[2018-02-02 19:28] stevekuznetsov commented on #7376
@openshift/sig-user-interface

[2018-02-02 19:29] stevekuznetsov commented on #14053
[code]

/close

[2018-02-02 19:29] #14053 closed

[2018-02-02 19:30] dcbw commented on #18414
Yeah, and it shouldn't be happening.  Any way to get better node logs here?  I tried to reproduce yesterday but could not.

[2018-02-02 19:39] sjenning commented on #13081
Closing due to age and problem on old alpha build.  Please repoen if still an issue in 1.7 or master.

[2018-02-02 19:39] #13081 closed

[2018-02-02 20:37] sspeiche commented on #1764
I think the best way to handle this is to look at how solutions were done with [tools like ManageIQ/CloudForms](https://access.redhat.com/documentation/en/red-hat-cloudforms/4.0/monitoring-alerts-and-reporting/chapter-5-chargeback) There is no plans to provide native support for billing.

[2018-02-02 20:37] #1764 closed

[2018-02-02 20:37] danwinship commented on #18414
"Better node logs" as compared to what?

Note that you can click "View job in Jenkins" at the top of a test run and then "S3 artifacts" from there to get to the full origin-node.service logs. Eg, all 4 nodes on https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_gce/2380/s3/ are full of "failed to read pod IP" errors.

[2018-02-02 21:03] rhvgoyal commented on #17787
@stevekuznetsov These are pid1 logs. I am looking for logs by kernel.

[2018-02-02 21:11] micah commented on #18396
Thanks for finding that!

Where can I find the details of 3.9 clients? I only see a 3.7 release.

[2018-02-02 21:17] spadgett commented on #18207
I've added these instructions to the origin-web-console-server README. We might link to that somewhere from the origin repo.

https://github.com/openshift/origin-web-console-server#installing-the-console

Let me they work for you.

[2018-02-02 21:19] jcantrill commented on #17986
@smarterclayton Can this be full filled with your new tagging scheme and process?  This issue is still most likely blocked and would dup: https://github.com/openshift/openshift-ansible/issues/7006

[2018-02-02 21:24] jcantrill commented on #13398
Closing with no activity.  Please consider upgrading to latest reopen if still an issue

[2018-02-02 21:24] #13398 closed

[2018-02-02 21:26] jcantrill commented on #7074
@mwringe  did you ever open an upstream issue?  can you link it in here and close this one?

[2018-02-02 21:43] mwringe commented on #7074
ah, nope, I forgot about this issue :/ I don't even know if its still a problem or not

[2018-02-02 22:11] jupierce commented on #13688
@bparees Looks like it could work now, but will need to hold off on testing the theory since every build of 3.9 is time sensitive atm.

[2018-02-02 22:23] #18374 closed

[2018-02-02 22:39] stevekuznetsov commented on #17787
@rhvgoyal I mis-remembered, thought we got kernel logs in that file too. Adding kernel logs to the jobs now, will have to get a new report to see them.

[2018-02-02 22:46] dcbw commented on #18414
Ah I was looking at the extended networking test logs which don't appear to have the node journals.

[2018-02-03 00:35] joelsmith commented on #18173
Upstream issued filed here: https://github.com/kubernetes/kubernetes/issues/59296
Upstream PR posted here: https://github.com/kubernetes/kubernetes/pull/59297

[2018-02-03 04:24] #16229 closed

[2018-02-03 05:04] dcbw commented on #18414
upstream fix: https://github.com/kubernetes/kubernetes/pull/59301

[2018-02-03 18:22] rrezel opened #18426 "Importing origin/examples/image-streams/image-streams-rhel7.json results in a broken image"
Importing origin/examples/image-streams/image-streams-rhel7.json results in a broken image. This is because tag 3.9 doesn't exist for registry.access.redhat.com/openshift3/jenkins-2-rhel7. The latest version is 3.7

##### Version
v3.7.1+ab0f056

##### Steps To Reproduce
1. `oc -f https://raw.githubusercontent.com/openshift/origin/master/examples/image-streams/image-streams-rhel7.json -n openshift`

[2018-02-03 18:45] ibotty commented on #18184
Is that bug the reason why there are no 3.7.1 rpms in centos' paas repo yet?

[2018-02-03 21:24] danwinship commented on #18414
They do, it's just not obvious where: `artifacts/scripts/networking/logs/{subnet,multitenant,networkpolicy}/{nettest-master,nettest-node-1,nettest-node-2}/systemd.log.gz`

[2018-02-03 21:46] rrezel commented on #18426
I've submitted a PR to fix this:

https://github.com/openshift/origin/pull/18427

[2018-02-04 17:32] spadgett commented on #18291
This fixes the playbook path, but metrics still don't install.

[code]

Fails with this error:

[code]

oc v3.9.0-alpha.3+4f520a1-351
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.9.0-alpha.4+bd6b0ce-90
kubernetes v1.9.1+a0ce1bc657

[2018-02-04 19:51] skoorupa commented on #17047
^same

[2018-02-04 22:48] kargakis commented on #3246
We have audit log now

/close

[2018-02-04 22:48] #3246 closed

[2018-02-05 00:52] enj commented on #16940
@bparees yes, unless something changed to make it not flake when rate limiting is turned off.

[2018-02-05 01:22] kargakis commented on #10411
/area techdebt

[2018-02-05 01:22] kargakis commented on #10411
@mfojtik mind fixing the milestone?

[2018-02-05 01:50] kargakis commented on #17128
Closing in favor of the upstream issue

[2018-02-05 01:50] #17128 closed

[2018-02-05 02:56] lanliu99 opened #18431 "Need to chown 777 to hostpath when using mysql image"
[provide a description of the issue]

##### Version
oc v3.7.23
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.example.com:8443
openshift v3.7.23
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. Create local dir on host
chown -R mysql /root/mypath
chgrp -R mysql /root/mypath
chmod -R 777 /root/mypath

stat /root/mypath
  Size: 24        	Blo

[2018-02-05 04:57] lanliu99 commented on #18431
Well, OCP runs pod with arbitrary uid and gid=0, I should mode of 775 and chgrp -R root for /home/mypath, after that, it works.

[2018-02-05 04:57] #18431 closed

[2018-02-05 05:58] vfreex commented on #17464
@DanyC97 I think the information provided here is sufficient to reproduce this issue. It seems to me that the priority of this issue is low.

[2018-02-05 06:00] YueHuali opened #18433 "When set 0.2Gi to memory of limit range, it would be changed to other value"
[code]

[2018-02-05 06:06] YueHuali opened #18434 "When only set the quota but not set the limit range, it couldn't be deployed."
Steps To Reproduce
1. Set quota
2. Deploy any one like nginx

My version:
openshift v1.4.1

BTW, I couldn't install the latest version in my host.

[2018-02-05 06:40] parthasarathi-DXC commented on #18392
Hi Team,

Greetings. Any updates on this?

[2018-02-05 07:17] wanghaoran1988 opened #18435 "oadm panic with no args"
[provide a description of the issue]
$oadm
DEPRECATED: The 'oadm' command is deprecated, please use 'oc adm' instead.
panic: runtime error: index out of range

goroutine 1 [running]:
main.main()
	/builddir/build/BUILD/atomic-openshift-git-0.8f8b69d/_output/local/go/src/github.com/openshift/origin/cmd/oadm/main.go:31 +0x471

##### Version
[provide output of the `openshift version` or `oc version` c

[2018-02-05 08:19] mojsha commented on #18406
@bparees From my perspective, a change in the DC - any change - should _only_ be triggered if there is a ConfigChange trigger. That is, after all, why we have the ConfigChange trigger.

If anything else in the DC is changed, it does not re-deploy. So if this is intentional behaviour, it would effectively amount to an implicit/hidden trigger on the container image reference being introduced.

@Lars

[2018-02-05 09:10] mojsha commented on #18406
Ok, after further analysis I can see that F-M-P is doing a PUT which triggers the re-deploy.

If I do a PATCH with the same content and change the container image reference, it does not seem to trigger a re-deploy.

[2018-02-05 09:59] mfojtik commented on #18413
@Andreas-Maier-NTT does the DC have image change trigger defined?

[2018-02-05 10:05] frobware commented on #17883
First time I have seen this error now. Running via:

    ./ginkgo -p -nodes=4 -focus=".*Builds" -untilItFails=true extended.test

[code]

I have been trying to reproduce this bug for a while now but maybe my
invocations have been too short. This (and the only time I have seen
this) failed after 25 hours.

[code]

[2018-02-05 10:09] kargakis commented on #4202
Should be covered by `set`, and the still TBD `unset`, and `view` commands. There are upstream issues for tracking both.

[2018-02-05 10:09] #4202 closed

[2018-02-05 10:16] Andreas-Maier-NTT commented on #18413
Not yet. I just had a "full qualified" image in there including the tag to use. And I want to update that.

[2018-02-05 10:21] tnozicka commented on #18413
@Andreas-Maier-NTT could you please provide `oc get dc <name> -o yaml` before applying the patch and after?

I think it says not patched when the value is already there.

[2018-02-05 10:27] tnozicka commented on #18413
More precisely it says not patched when the object hasn't changed.

Your patch line seems wrong - you are adding a new key instead of indexing the array - should be like this:

`oc patch dc <name> --patch='{"spec":{"template":{"spec":{"containers":[{"name": "<container-name>", "image":"image-name:tag"}]}}}}'`

[2018-02-05 10:37] kargakis commented on #18406
What is FMP?

[2018-02-05 10:39] mojsha commented on #18406
@kargakis Sorry, I thought it was a known abbreviation/acronym... it stands for Fabric8 Maven Plugin.

[2018-02-05 10:44] kargakis commented on #18406
Can you post the DC before and after doing a PUT and before and after doing a PATCH?

cc @tnozicka

[2018-02-05 10:49] tnozicka commented on #18406
That what I was going to ask, please always provide the DC's YAML and exact steps to reproduce (ideally commands) - it will save us time when trying to understand and resolve the issue.

[2018-02-05 11:08] frobware commented on #16781
/unassign - I am looking at other issues.

[2018-02-05 11:21] Andreas-Maier-NTT commented on #18413
That seems to work! Thank you so much! But I at least think it worked previously. Anyways...thanks for helping! :)

[2018-02-05 11:21] #18413 closed

[2018-02-05 11:35] mojsha commented on #18406
Ok, I think I was wrong about the PUT vs PATCH thing.  The behaviour is the same regardless.

But I will try to provide all the steps with a higher level of detail:
I use a disabled (automatic = false) ImageTrigger in order to be able to refer to images using the ImageStream tags, so the "before" is going to be the state after which it has been rolled out and the container image resolved.

**Befor

[2018-02-05 11:44] mojsha commented on #18406
And finally, the reason I was wrong about the difference between PUT / PATCH:

When you PUT / PATCH an _undeployed_ (i.e. not yet had 'oc rollout' executed against it) application, it seems to work fine, i.e. it does not trigger a deployment. I had executed the PATCH against an undeployed application.

Here is the DC before and after an undeployed app has been patched:

**Before**
[code]

**After*

[2018-02-05 12:04] #18435 closed

[2018-02-05 12:11] tnozicka commented on #18406
Thanks for the info I think I now now what's wrong. The trigger controller won't inject an image because it's paused, but since you set it "manually" the DC controller thinks there has been an image injected and considers that an image change.

Think that should be fixable by the DC controller also checking if the trigger isn't paused.

There should be an easy way to around it in the mean time: If

[2018-02-05 12:52] edsonmarquezani commented on #18115
@heatmiser Thanks for you contribution, but that hasn't never been my case. I've been always using the default hostnames set by Azure, thus the same for internal hostname X VM name.
Anyway, I managed to workaround it, although the original problem remains (nodes won't register for the first time with cloud-provider set).

I also published my full automation, if anyone find it useful. https://githu

[2018-02-05 14:12] jcantrill commented on #18200
closing as a dup to #17237

[2018-02-05 14:12] #18200 closed

[2018-02-05 14:21] DanyC97 commented on #17464
@vfreex @sdodson  any chance you can help with increasing the priority of this issue please ?

[2018-02-05 14:31] spadgett commented on #18291
@jcantrill I see there's another bug tracking the second problem. I'll close this agin. Sorry for the noise.

https://github.com/openshift/openshift-ansible/issues/7006

/close

[2018-02-05 14:31] #18291 closed

[2018-02-05 14:40] tnozicka opened #18441 "oc impersonification doesn't work on v3.7.1"
**v3.6.1**
[code]

**v3.7.1**
[code]

@enj any idea why it stopped working or who should I bother about it?

[2018-02-05 15:14] buehner commented on #17852
same problem here!
custom s2i image showed up in v3.6.0, but does not show up in the catalog in v3.7.0

[2018-02-05 15:32] spadgett commented on #17852
This was a functional gap when we moved to the new catalog in 3.7. The new catalog was not in the context of a project, so image streams from a specific project won't show up. Select from Project unfortunately only shows templates as you've found.

The problem has been fixed in 3.9 when we added back the ability to browse the catalog from within a specific project in https://github.com/openshift/o

[2018-02-05 15:32] #17852 closed

[2018-02-05 15:40] ntxt commented on #10134
IMHO this is one of the few steps backwards, compared to Openshift 2. The git repositories there were tracking every smallest change. Looking forward to this feature. To be honest, I would be happy to host all JSON/yaml definitions of my cluster in a git repo, but I see it somewhat conflicts with etcd role.

[2018-02-05 15:49] sosiouxme commented on #5527
Gotta check if this got fixed. I thought it did.
/remove-lifecycle stale

[2018-02-05 15:51] soltysh commented on #18059
The fixed I linked was merged after that release, so this is fixed.

[2018-02-05 15:51] #18059 closed

[2018-02-05 15:57] deads2k commented on #18369
Pull head and try again. My guess is bad tag.  Eventually, the rolling tag will help.

[2018-02-05 15:58] sjenning commented on #17883
@frobware this looks yet another "quick container GC" where the container and its logs are GCed before the test can read them

[2018-02-05 16:14] mfojtik commented on #18369
I cannot reproduce this with openshift HEAD binary mounted into alpha4. Can you try with alpha4 ?

[2018-02-05 16:24] tnozicka commented on #18441
cc @liggitt

[2018-02-05 16:27] soltysh commented on #18381
This might be related to https://github.com/openshift/origin/issues/17610, I'll try to check it out later this week.

[2018-02-05 16:30] kargakis commented on #18369
Yeah, works fine on alpha4

[2018-02-05 16:30] #18369 closed

[2018-02-05 16:32] mfojtik commented on #18136
Attempted fix: https://github.com/openshift/origin/pull/18444.

The other failure related to downward api seemed to be fixed in https://github.com/openshift/origin/pull/18387, maybe this one will be same.

[2018-02-05 16:36] mfojtik commented on #10411
@kargakis i guess this is more like 3.10.0 at this point

[2018-02-05 16:38] wtrocki commented on #18433
@YueHuali What is the "other value"? What OpenShift version is used?
If you set memory without `"` does it work?

Example
[code]

[2018-02-05 16:39] liggitt commented on #18441
consequence of https://github.com/openshift/origin/pull/16155

you need to include the group memberships you want to impersonate (in this case `--as-group=system:authenticated --as-group=system:authenticated:oauth`, since the project creation permission is granted to the `system:authenticated:oauth` group)

[2018-02-05 16:39] #18441 closed

[2018-02-05 16:40] sosiouxme commented on #18392
@parthasarathi-DXC are you noticing any problems aside from diagnostics reporting errors?

Diagnostics are intended to help point you in a helpful direction and give information when something is going wrong. It would be nice if they could say exactly what and why is going wrong, but it's unusual problems are so simply solved, so we kind of have to settle for pointers.

Here we're seeing a few thi

[2018-02-05 16:43] wtrocki commented on #18434
Cannot replicate that on current version of OpenShift.
Can you provide version and actual error you are getting?

[2018-02-05 16:50] wtrocki commented on #18289
Changes are now available in beta release: https://github.com/grafana/grafana/releases/tag/v5.0.0-beta1

[2018-02-05 16:53] jim-minter opened #18446 "templates appear twice with `oc cluster up --service-catalog`"
When I run `oc cluster up --service-catalog` and browse the console, each template appears twice - once as a TSB item, once as a legacy template item - is this intended?

[2018-02-05 16:58] wtrocki commented on #18288
Verified `oc cluster up --service-catalog=true` on last release.
Service catalog started with success, I was able to provision pods using sample apb.

@galderz are you ok to close this issue?

[2018-02-05 17:01] soltysh opened #18447 "Unable to build origin with golang 1.10rc1"
So I've tried building origin with `go1.10rc1` and that fails with:
[code]

@openshift/sig-security since we'll have to solve it soon, I guess.

[2018-02-05 17:02] soltysh commented on #18447
@openshift/sig-master fyi

[2018-02-05 17:04] tnozicka commented on #18441
@liggitt thx for the pointer!

[2018-02-05 18:08] spadgett opened #18448 "[image_ecosystem][ruby][Slow] hot deploy for openshift ruby image Rails example should work with hot deploy [Suite:openshift]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18440/test_pull_request_origin_extended_image_ecosystem/511/

[code]

/kind test-flake
/priority p1
/assign @bparees

[2018-02-05 18:14] bparees commented on #18448
postgres failed to deploy due to:
[code]

and the ruby deploy depends on reaching the DB.

so that makes this a dupe of: https://github.com/openshift/origin/issues/17787

[2018-02-05 18:14] #18448 closed

[2018-02-05 18:15] bparees commented on #17787
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18440/test_pull_request_origin_extended_image_ecosystem/511/

[code]

[2018-02-05 18:19] spadgett commented on #18446
@jim-minter This should be fixed in latest. Can you make sure you've pulled the latest openshift/origin-web-console image? You might need to use

[code]

[2018-02-05 18:26] bparees commented on #18426
this is intentional(though unfortunate) and won't be fixed.  The expectation is if you're using rhel images, you're installing via the openshift-ansible installer which has version aligned tags.

We have a chicken/egg problem in terms of when we can update this imagestream to reference the v3.9 image (we can't update the imagestream after v3.9 ships because then the imagestream would be wrong in w

[2018-02-05 18:26] #18426 closed

[2018-02-05 18:27] bparees commented on #16781
(trying to ensure all issues have a clear owner, so if it's not @frobware, sending it back to @sjenning)

[2018-02-05 18:58] #18261 closed

[2018-02-05 19:03] bparees commented on #6877
trello'd: https://trello.com/c/GYm4D3OM

[2018-02-05 19:03] #6877 closed

[2018-02-05 19:08] donovanmuller commented on #17210
Using the `3.9.0-alpha.3` release produces a successful build. See https://travis-ci.org/donovanmuller/spring-cloud-deployer-openshift/jobs/337055121

I'll leave this issue open until the `3.9.0` release produces a successful build.

[2018-02-05 19:34] feedm3 opened #18449 "Cannot create image stream from private hub.docker.com registry"
I want to deploy a docker image which I have pushed to `hub.docker.com` but whenever I import the private registry as image stream I get an unauthenticated error although I have created a docker secret within openshift ([related docs](https://docs.openshift.com/online/dev_guide/managing_images.html#private-registries)).

##### Version
[code]

##### Steps To Reproduce
1.  Create a secret to be auth

[2018-02-05 19:45] juanvallejo commented on #18396
@micah you can see the changelog and download a binary of the latest client here https://github.com/openshift/origin/releases/tag/v3.9.0-alpha.3

[2018-02-05 20:02] sjenning commented on #17556
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18417/test_pull_request_origin_extended_conformance_install/6737

[2018-02-05 20:03] sjenning commented on #17883
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18417/test_pull_request_origin_extended_conformance_gce/15596

[2018-02-05 20:08] juanvallejo commented on #11175
@smarterclayton yes: https://github.com/openshift/origin/commits/v3.7.1?before=ee2e38215f562d6dad9b30da8dcec2fbf5a6cf60+35

[2018-02-05 20:24] sjenning commented on #17556
This *is* flaking upstream as well I just discovered via a previously unknown tool
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&sig=storage&test=on%20modification

[2018-02-05 20:36] simo5 commented on #18447
So did go1.10 start to become annoying with C const casting ?
This is not going to be fun ...

[2018-02-05 20:38] simo5 commented on #18447
@bparees @soltysh wouldn't it be more effective to open an issue on the upstream repo ?

[2018-02-05 20:55] bparees commented on #18447
@simo5 definitely not my area of expertise.  I'm just handling issue assignment duties for some group leads.  You're welcome to make it an upstream issue as far as i'm concerned.

[2018-02-05 21:11] simo5 commented on #18447
@enj FYI

[2018-02-05 21:18] jim-minter commented on #18446
Can't reproduce with `--version=latest`, thanks

[2018-02-05 21:18] #18446 closed

[2018-02-05 21:43] mrogers950 opened #18458 "cannot update deps with error on pkg/cmd/server/config"
I'm trying to bump the osin version as a follow-up to #18419

I killed ~/.glide and checked out the repo in a new directory just to make sure there's no funny business with the cache. I still might be doing it wrong, though.

[code]

[2018-02-05 21:46] rajatchopra commented on #7566
Close issue based on [comment](https://github.com/openshift/origin/issues/7566#issuecomment-198499935). Release 11.6 fixes the issue.

[2018-02-05 21:46] #7566 closed

[2018-02-05 22:25] #8839 closed

[2018-02-05 22:56] GrahamDumpleton commented on #7327
The answer to this is likely that ``oc set image-lookup`` should be used to have image stream be used. Confirmation required.