[2015-11-09 13:47] liggitt commented on #5737
That seems like a likely optimization target to me as well. Were you thinking of a check to see if expansion was even necessary, or a single expansion when populating the authorizer cache (or both)?

[2015-11-09 13:50] deads2k commented on #5737
Whether its necessary.  That's easy to do without significant refactoring.  The list of permissions are also relatively small, so it may be worthwhile to trade O(1) for O(n) when n < 50 compared to the GC cost.

[2015-11-09 13:53] deads2k commented on #5737
What do you know, already a set.  I'll put it together this morning.

[2015-11-09 13:54] bparees commented on #5788
@mfojtik you're not going to be able to do what you did in s2i because there are a ton of log statements you'd have to if/else.

[2015-11-09 13:54] ironcladlou commented on #5737
FWIF, despite the fix @deads2k made for the request count inflation on the auth path, we still have no explanation yet (that I've seen) for the massively disproportionate amount of request handling/auth handling in both idle states and post project creation.

[2015-11-09 13:55] bparees commented on #5788
i don't know why you guys hate useful logging information so much.

[2015-11-09 13:57] ironcladlou commented on #5737
Take a look at the cachegrind data during the creation of just 100 projects (this includes #5760 and uses curl for the project creation): https://drive.google.com/a/redhat.com/file/d/0BxiBh6KZZAOWN212UFRLWmlYN28/view

The `.out` files in `pprof.cpu/` are the cachegrind files.

[2015-11-09 13:57] mfojtik commented on #5788
@bparees I don't hate the timestamps (they are useful) I just hate the sti.go:XYZ prefix which is not that useful for normal users and it is duplicated. The prefix also makes the log a little bit messy in the result for 'regular users'

[2015-11-09 13:58] mnagy opened #5790 "Hot deploy test for Perl S2I hot deploy takes too long"
We're using Dancer example repository for hot deploy testing. The build of it can take longer than 20 minutes, which is way too much for hot deploy tests. We need to change it so it uses something different.

Feel free to assign this to me.

[2015-11-09 14:01] kargakis commented on #5788
Well, because --timestamps ?

[2015-11-09 14:33] benjaminapetersen commented on #5773
I see a server error when I try to get logs from the registry pod:

[code]

[2015-11-09 14:34] benjaminapetersen commented on #5773
I'm gonna try `vagrant box remove fedora_inst` and clean slate everything, just in case something old is causing issues.

[2015-11-09 14:52] pweil- commented on #5781
Marking p2 for now since this is slated for the 1.1.1 milestone

[2015-11-09 14:53] deads2k commented on #5737
Can you add the pprof pngs to your script?

[2015-11-09 15:08] markturansky commented on #5739
The linked PR contains a fix.  A privileged container is required and the deployer image requires a few additional tools.

The new "hostmount" service account means users are forced to explicitly partake in this feature by enabling privileged containers in the SCC.

[2015-11-09 15:11] kargakis commented on #5787
This is expected and I don't think we can support 0->1 now since it's asymmetric, right @ironcladlou ? Or maybe we could special-case rolling-updates from zero?

[2015-11-09 15:11] rootfs commented on #5739
The script has two parts: one to mount the nfs share via nfs v3, the other is sudo. The first part needs privilege escalation, the second part maybe doesn't need it.

Mounting through nfs v3 is to work around [nfs v4 acl](http://linux.die.net/man/5/nfs4_acl) restriction. If the nfs v4 server doesn't set delete permission, recycler won't be able to delete files/directories. The workaround is to mou

[2015-11-09 15:24] kargakis commented on #5773
Did you restarted the server at some point?

[2015-11-09 15:25] bparees commented on #5789
should be able to handle this in the github webhook documentation:
https://docs.openshift.org/latest/dev_guide/builds.html#webhook-triggers

[2015-11-09 15:26] bparees commented on #5789
to be clear, you have to leave the "secret" blank on the the github interface when setting up a webhook, right?  (or at best it doesn't matter what you put in that field)

[2015-11-09 15:27] benjaminapetersen commented on #5773
I ran through the whole process at least 5 times friday, `vagrant destroy` all the way through the setup instructions, always ending in the same place.

[2015-11-09 15:28] soltysh commented on #5789
We should fix that in the docs (will work on a PR tomorrow). And just like you said it does not matter what you put in that field in gh, we don't check it, but I'll stick with leave it empty. Furthermore we've discussed back then we want to support that field, that's why I've opened this issue.

[2015-11-09 15:34] benjaminapetersen commented on #5773
For reference, I ran into these issues while [working on a PR to update the contributing doc](https://github.com/openshift/origin/pull/4970).

[2015-11-09 15:37] kargakis commented on #5773
Did you run `vagrant box remove fedora_inst` prior to get up and running with a new box?

ps. the following error is most probably https://github.com/openshift/origin/issues/5640 which is fixed upstream and soon will be in Origin too.
[code]

[2015-11-09 15:37] spadgett opened #5793 "Use a different color in the overview donut for pods that are running, but not ready"
There's currently no way to tell if a pod is running, but not ready on the overview.

/cc @smarterclayton @jwforres

[2015-11-09 15:42] ncdc commented on #5739
Wouldn't it be better to say "if you're using nfs v4, you must set the delete permission"?

[2015-11-09 15:48] rootfs commented on #5739
@ncdc yes, that's a good idea, or we suggest disabling nfs v4 acl.

[2015-11-09 15:54] pweil- opened #5795 "Update oadm registry to add session affinity to the docker-registry service"
Use ClientIP for the docker-registry service that is created.  Ref: https://github.com/openshift/origin/pull/5761#issuecomment-154718324

[2015-11-09 16:00] derekwaynecarr commented on #5759
@gravis - can you open a new issue specific to the build config / image stream config issue?

[2015-11-09 16:03] gravis commented on #5759
We're waiting for the new rpms (1.0.8) to test if it's present. If not, I think we can close this directly (?)

[2015-11-09 16:03] derekwaynecarr commented on #5759
@gravis - ok, thanks

[2015-11-09 16:08] benjaminapetersen commented on #5773
@kargakis running that this morning... and getting more interesting results once i reach `make clean build`:
[code]
[Contributing.adoc](https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc) suggests `export OPENSHIFT_MEMORY=2096`.  I've also tried `export OPENSHIFT_MEMORY=3144` and `export OPENSHIFT_MEMORY=4192` to keep bumping memory but no change.

[2015-11-09 16:14] pweil- commented on #5769
@ironcladlou - as discussed this morning, we should just add a USER directive to the deployer Dockerfile.

Also, please check the registry image which can run under the restricted SCC.  The router and builder pods requires access to an elevated SCC so this shouldn't be an immediate issue when someone changes the restricted SCC but let's open a follow up for the corner case of an elevated SCC with

[2015-11-09 16:16] kargakis commented on #5773
@benjaminapetersen I am not sure about this error. Maybe try to compile on your host?

[2015-11-09 16:20] bparees commented on #5788
doesn't give me filenames or line numbers.

[2015-11-09 16:25] xelfe opened #5796 "Build error: dial tcp: i/o timeout"
I got this on anybuild/deploy since my fresh install this week-end;

build;
cleanup.go:23] Removing temporary directory /tmp/s2i-build539997888
fs.go:99] Removing directory '/tmp/s2i-build539997888'
builder.go:55] Build error: dial tcp: i/o timeout

event;
Error syncing pod, skipping: failed to delete containers ([exit status 1])

I tryed with Centos 7.1 and Fedora 21 as host and I always get the

[2015-11-09 16:29] kargakis commented on #5788
Why a user should care about these info? I see how filenames and line
numbers are useful for debugging but these are logs that end up in clients
and people won't really have any use for them anyway.

On Mon, Nov 9, 2015 at 5:20 PM, Ben Parees <notifications@github.com> wrote:

[2015-11-09 16:32] bparees commented on #5788
because logs end up coming to us when things break and having to send the user back to recreate it so we can get the information is not a good experience.

[2015-11-09 16:33] pweil- commented on #5773
did you do a `vagrant reload` or kill/restart after adjusting the mem?  I usually run with 4192 and have not had an issue compiling lately.

[2015-11-09 16:38] ironcladlou commented on #5787
@paralin

Just to clarify the scenario: are you saying that your latest deployment (a replicationController) has `spec.replicas=0` prior to the deployment?

The way replica counts are handled in openshift deployments is:
* If there are no existing successful deployments, use the replica count of the deploymentConfig for the next deployment
* If there are existing successful deployments, use the re

[2015-11-09 16:42] ncdc commented on #5389
Upstream issue: https://github.com/kubernetes/kubernetes/issues/17018

[2015-11-09 16:42] benjaminapetersen commented on #5773
@pweil- just did, and 4192 works. I'll update the contributing doc to this new val.

[2015-11-09 16:42] php-coder opened #5797 "HACKING.md: command for running unit tests with code coverage leads to unexpected result"
Quote from [HACKING.md](https://github.com/openshift/origin/blob/769ca7a58178d1e6c914af2cdb0da407f5acabbc/HACKING.md#unit-tests):

When I run this command it creates directory `true` inside of current directory. I believe that we should update example, because it looks like `OUTPUT_COVERAGE` is a boolean parameter, but in fact it's a path to directory with report.

[2015-11-09 16:43] ncdc commented on #5389
Upstream has 1 change that we don't have that attempted to get rid of the flake, but on Kube master as of this morning, I'm still able to get a failure.

[2015-11-09 16:54] ironcladlou commented on #5759
@gravis

Where will you be getting the updated RPMs? Just trying to determine who or what you're waiting on in case I can assist.

[2015-11-09 16:56] deads2k commented on #5013
See https://github.com/openshift/origin/pull/5635

[2015-11-09 16:56] #5013 closed

[2015-11-09 16:57] deads2k commented on #5120
I think this is resolved.  Please re-open if there is still a problem.

[2015-11-09 16:57] #5120 closed

[2015-11-09 16:58] mfojtik commented on #5788
@bparees we can always just grep the line of code, I assume as we go the numbers in logs might always reflect the reality

[2015-11-09 16:59] deads2k commented on #4799
This ended up fixed, correct?

[2015-11-09 16:59] benjaminapetersen opened #5799 "Automatically follow log when log fills up screen"
I've been building repeatedly and find myself waiting for the 'follow' link to appear so I can click it.  If on the log tab, I think it may be a better experience to auto follow (once the follow link appears also run the fn) and let the user opt out if they don't want this.

[2015-11-09 17:03] mfojtik commented on #5797
+1 @php-coder can you do a PR ?

[2015-11-09 17:04] liggitt commented on #4799
yes

[2015-11-09 17:04] #4799 closed

[2015-11-09 17:14] benjaminapetersen commented on #5773
@bparees @kargakis running `vagrant box remove fedora_inst` and ensuring latest image may be resolving everything in this issue.  I'm going to run through the whole process a couple more times & confirm.

[2015-11-09 18:14] benjaminapetersen commented on #5773
Confirmed, fixes issue.

I'll add a note under Vagrant #4 of the contributing file suggesting `vagrant box remove fedora_inst` if you have had a previous version setup & close this issue.

[2015-11-09 18:14] #5773 closed

[2015-11-09 18:25] kargakis commented on #5773
@benjaminapetersen there is already a note in CONTRIBUTING regarding `vagrant remove box`, we may want to position it better though: https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant (See tip below 11.)

[2015-11-09 18:31] benjaminapetersen commented on #5773
@kargakis yup, I ping you on the PR for review.

[2015-11-09 18:33] jwforres commented on #2575
We run https://github.com/mzgol/grunt-ng-annotate to switch everything over to the safe injection style before minification occurs.

We don't have a way to actually enable strict-di today because it must either be done on the ng-app element if there is one, or on the call to angular.bootstrap.  The call to angular.bootstrap is run by the hawtioPluginLoader and not by us and bootstraps all plugins

[2015-11-09 18:41] ironcladlou commented on #5769
@pweil-

You're right- the registry will fail to deploy using `MustRunAsNonRoot` due to the lack of a `USER` directive.

[2015-11-09 18:49] ironcladlou opened #5803 "Registry fails to deploy when using MustRunAsNonRoot strategy"
The registry will fail to deploy (via `oadm registry`) when the restricted SCC `MustRunAsNonRoot` user strategy is used. This is because the registry image Dockerfile has no `USER` directive. The registry doesn't requrie a privileged container, so adding a `USER` directive for a non-root UID should be fine.

Depends on #5769 since the registry is implemented as a deployment.

[2015-11-09 18:58] fabianofranz commented on #5335
PR here: https://github.com/openshift/origin/pull/5800
Note that I added a migration for Windows users currently relying on existing files, but we can debate whether it's needed or not.

[2015-11-09 19:14] deads2k commented on #3775
@smarterclayton I still don't like the `...`.  Do you still like it?

[2015-11-09 19:17] smarterclayton commented on #5787
If you scale up will a deployment automatically happen?

On Nov 9, 2015, at 8:38 AM, Dan Mace <notifications@github.com> wrote:

@paralin <https://github.com/paralin>

Just to clarify the scenario: are you saying that your latest deployment (a
replicationController) has spec.replicas=0 prior to the deployment?

The way replica counts are handled in openshift deployments is:

   - If there are no e

[2015-11-09 19:19] smarterclayton commented on #5600
Yes

On Nov 9, 2015, at 2:38 AM, Sumit Arrawatia <notifications@github.com>
wrote:

Thanks. Do i need to upgrade to 1.0.8 to get this fix ?

On Saturday, November 7, 2015, Clayton Coleman <notifications@github.com>
wrote:

--
Regards,
Sumit

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5600#issuecomment-155024800>.

[2015-11-09 19:25] ironcladlou commented on #5787
Scaling doesn't change the template and so can't trigger a new deployment

[2015-11-09 19:43] #2575 closed

[2015-11-09 19:48] liggitt commented on #5739
+1. Requiring delete permission makes a lot of sense (to me, anyway) if you want origin to recycle those volumes for you.

[2015-11-09 19:51] ncdc commented on #5633
I just tested this with the latest kube and origin on a new RHEL 7 VM, and am not able to reproduce.

[2015-11-09 19:58] smarterclayton commented on #5787
Will the DC pick up that a new image is available?

Failing the deployment is definitely wrong.  If we did nothing because it's
scaled to zero (and later picked it up) would be better.

On Nov 9, 2015, at 11:25 AM, Dan Mace <notifications@github.com> wrote:

Scaling doesn't change the template and so can't trigger a new deployment

—
Reply to this email directly or view it on GitHub
<https://githu

[2015-11-09 20:04] ironcladlou commented on #5787
The deploymentConfigController computes the desired replicas for each new deployment before creating the RC. If the desired replicas is 0, it could simply generate an event and no-op (as long as the events are efficiently compressed). If the changed deployment were scaled up to >0 later, the deployment would get created as usual.

[2015-11-09 20:12] smarterclayton commented on #5787
Let's queue something for this up for 1.1.1 along with the deployment
status update.

On Nov 9, 2015, at 12:05 PM, Dan Mace <notifications@github.com> wrote:

The deploymentConfigController computes the desired replicas for each new
deployment before creating the RC. If the desired replicas is 0, it could
simply generate an event and no-op (as long as the events are efficiently
compressed). If the

[2015-11-09 20:36] mwringe opened #5809 "Invalid error messages when starting with an empty hostname"
If you go to create the configuration with an empty hostname you will get an error message about `--node` missing:

`$ ./openshift start --write-config=openshift.local.config --hostname=`

F1109 15:31:29.847067   26849 start_allinone.go:91] Server could not start: --node must be provided

If you add the `--node` option it will complain the `--node` is an unknown flag:

`$ ./openshift start --write

[2015-11-09 20:38] liggitt commented on #5809
The validation and message come from the `openshift start node` command, where that option *is* `--node`

[2015-11-09 20:39] liggitt commented on #5809
Why are you trying to create the config with an empty node hostname?

[2015-11-09 20:47] mwringe commented on #5809
I wasn't exactly trying to set an empty hostname :) it was a configuration problem on my end. It was actually `--hostname=$HOSTNAME` but that environment variable was not set.

This issue was opened to better handle the error message since its confusing

[2015-11-09 21:14] bparees commented on #5789
ok can you reword this issue description so it is just about supporting the github "secret" value?   The docs change i think you can handle w/o an issue.

[2015-11-09 21:18] bparees commented on #5789
@soltysh i've created a trello card for the github secret support.

[2015-11-09 21:19] bparees commented on #5789
err, created it here: https://trello.com/c/ez141U00/753-support-github-s-secret-for-invoking-webhooks

[2015-11-09 21:20] bparees commented on #5789
closing this, @soltysh says he doesn't need an issue to remind him to update docs :)

[2015-11-09 21:20] #5789 closed

[2015-11-09 21:21] liggitt commented on #5627
#5272: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3968/
[code]

[2015-11-09 21:47] bparees commented on #5185
agree with @kargakis, the issue is presumably in the content being streamed by the api and it looks like the fix is going to fix the content being streamed (append a closing sequence), so closing this as a dupe.

[2015-11-09 21:48] bparees commented on #5247
@fabianofranz I won't be at the CLI meeting tomorrow morning but this might be a good topic.

[2015-11-09 21:52] bparees commented on #5511
@smarterclayton logs are now being gathered but if it's all the same to you i'd like to close this issue and if it gets hit again it can be reopened with logs.

[2015-11-09 21:54] bparees commented on #5383
closing based on age, please reopen if you are still having trouble after you move to 1.1.

[2015-11-09 21:54] #5383 closed

[2015-11-09 22:00] bparees commented on #5247
for reference here's the current BC output:
[code]

and build output:
[code]

[2015-11-09 23:43] bparees commented on #3738
@pmorie can you point me to some doc/information about this "variable expansion" feature you'd like tested?

[2015-11-09 23:44] bparees commented on #3417
closing this issue since we've amply covered it in trello now (linked above).

[2015-11-09 23:44] #3417 closed

[2015-11-10 03:35] paralin opened #5815 "Add kubernetes-native ingress system as a router option"
Would be good to integrate the upstream Kubernetes ingress extension as a routing option.

[2015-11-10 08:06] mnagy opened #5816 "oc env doesn't handle update error"
I've seen this flake in our extended tests:
[code]

I think oc env should handle this by itself, since this is not a user error and can be handled by just refreshing the object and attempt the update again.

[2015-11-10 08:07] #5769 closed

[2015-11-10 08:08] mfojtik commented on #3738
@bparees https://github.com/kubernetes/kubernetes/blob/master/docs/design/expansion.md

[2015-11-10 08:32] Mangirdaz opened #5817 "GUI generate BuildConfig Environment variables not visible in Assemble"
I want capability to abstract user from knowing what is inside the images. In example user sets variables in STI build: (via GUI, sti/environment or BuildConfig) OPENSHIFT_VERSION_JDK=default_7
And inside the Builder image i contains separate "alternatives" structure where i manage versions of resources (in this case JDK):
default -> /usr/java/default
default_7 -> /usr/java/jdk1.7.x_xx
default_8 -

[2015-11-10 08:35] mfojtik commented on #5817
@Mangirdaz does creating custom `run` and `assemble` scripts solve this problem?

[2015-11-10 08:48] Mangirdaz commented on #5817
I cant produce in example JAVA_HOME variable in assemble and still be able to see in RUN with user who runs the container. I may missed something how to achieve it but i think environment variables cant be produced inside the container to be permanent (i can produce something in one scrip scope, but not store them in something like /etc/environment )

[2015-11-10 08:53] Mangirdaz commented on #5817
Long story short i want to be able to abstract users from knowing JAVA_HOME location (only one usecase) and just give "marker" default_7 and i will manage all the paths and JRE_HOME, JAVA_HOME, _RUNJAVA. etc.

Same with databases. User provides ORACLE=11 and i know what i need to load particular 11.2.0.3 drivers to classpath, with modules. and when 11.2.0.4 becomes available i will just switch it

[2015-11-10 09:23] Mangirdaz commented on #4885
Thanks :+1:

[2015-11-10 09:34] mfojtik commented on #5247
@bparees the output is also different for other build strategies, right? For example in Dockerfile strategy we display the Dockerfile (but we don't format it ;-), etc

[2015-11-10 10:08] hferentschik opened #5818 "Unable to use ssh access to GitHub repo"
I am trying to use ssh git URL to specify the location of my sources. When doing so, I'll get the following in the build log:

[code]

I did the following to create the OpenShift secret:

[code]

I then added the following to the build config:

[code]

When debugging the the failing pod, I can see that the secret is available under `/tmp/tmpsecret332138224/ssh-privatekey`, however, there seems to

[2015-11-10 10:11] mfojtik commented on #5818
@jhadvig @csrwng FYI

[2015-11-10 10:13] mfojtik commented on #5818
@pmorie PTAL as well... this might be related to how secrets are delivered to pods, I'm sure we had some QE for private keys and they worked :-)

[2015-11-10 10:17] hferentschik commented on #5818
FYI, I am running on OS X and using Openshift in a all-in-one setup running in a VirtualBox vm.

[2015-11-10 10:22] mfojtik commented on #5816
@mnagy the error is correct (should be better formatted ;-) we should check what is modifying the rails RC on behalf and wait till that modification is done. Then do `oc env`.

[2015-11-10 10:22] hferentschik commented on #5818
When running:

[code]

and decoding base64 string, the resulting key seems to be correct. So the problem seems to occur when the key is placed onto the builder pod.

[2015-11-10 10:34] mfojtik commented on #5818
@hardys @smarterclayton this should fix this right? https://github.com/openshift/origin/pull/5778

@sdodson I think we need this into rcm ose image :-)

[2015-11-10 12:36] kargakis commented on #5816
Should be fixed by https://github.com/openshift/origin/pull/5819

[2015-11-10 12:58] mfojtik commented on #5193
@kargakis should we then also support this behavior for logs? `oc logs build-config-name` should give me logs from the last build?

[2015-11-10 13:01] kargakis commented on #5193
`oc logs bc/build-config-name` already does that.

[2015-11-10 13:06] mfojtik commented on #5193
@kargakis very cool :-)

[2015-11-10 13:13] kargakis opened #5820 "Duplicate request to negotiate against /oapi"
In every oc call, I see we try to negotiate twice. Is this expected?
[code]

@liggitt @deads2k

[2015-11-10 13:22] liggitt commented on #5820
That's not authentication, that's version negotiation, but no, I wouldn't expect it twice. Are you using inputs with two different API versions (v1beta3 and v1)?

[2015-11-10 13:26] kargakis commented on #5820
I get the same result even with or w/o specifying an --api-version

[2015-11-10 13:28] kargakis commented on #5820
Also
[code]
Is this expected based on @ironcladlou's changes?

[2015-11-10 13:41] deads2k commented on #5185
I don't think that mutating container logs in the server API before handing them back to the client makes sense.  A diff between what I get from container logs and the server logs API should be empty.  Also, there's no guarantee that the client will even get the last response from the server.  In such a case, it shouldn't just leave my terminal red.

@fabianofranz You're working on a server-side p

[2015-11-10 13:48] bparees commented on #5185
closing since this is still a dupe of https://github.com/openshift/origin/issues/5184

if you want to debate the solution, you can debate it there.

[2015-11-10 13:48] #5185 closed

[2015-11-10 14:10] fabianofranz commented on #5185
@deads2k My initial proposal (although I still want to review it to something clear) is to do it in the client, not server-side. Trap the signals + defer and print a ASCII color reset before exiting.

[2015-11-10 14:18] liggitt commented on #5184
@fabianofranz did you ever see what `ssh`, etc, do with ansi color resetting? If `ssh` doesn't handle it, I don't feel strongly that we should.

[2015-11-10 14:21] liggitt commented on #5820
hmm

well... the server *doesn't* support v1beta3, so if you make v1beta3 calls, they will fail, so yes, it is expected

[2015-11-10 14:22] deads2k commented on #5820
Fixed by #5822

[2015-11-10 14:24] soltysh commented on #5193
With deployments you can have only one deployment active, builds are different, you can have multiple build active and as @liggitt mentioned this command will be ambiguous in that case.

[2015-11-10 14:28] sdodson commented on #5818
@mfojtik should be in the latest  as of yesterday evening

[2015-11-10 14:34] deads2k commented on #5193
That's an uncommon case that can be inspected before completing the call.  We can simply fail the command in that case.

[2015-11-10 14:35] kargakis commented on #5193
With something like "multiple builds are running in parallel".

[2015-11-10 14:36] hferentschik commented on #5818
I'll give it a go

[2015-11-10 14:36] kargakis commented on #5193
Thinking about it, if I was trying to cancel a bc I would expect to cancel all of its builds... No?

[2015-11-10 14:37] soltysh commented on #5193
Definitely not.

[2015-11-10 14:51] mfojtik opened #5823 "Check the usage of filepath.Join() in CLI"
See: https://github.com/openshift/source-to-image/issues/314

In some cases, the `filepath.Join()` is not doing what you would expect from it. In case you're constructing a path that will be used inside container (iow. a path to a script or command) and you run this on Windows, you will be surprised by the output of this function.

`filepath.Join("/usr/local/bin", "foo")` become `usrlocalbinfoo`.

[2015-11-10 14:52] mfojtik commented on #5823
@liggitt FYI

[2015-11-10 15:47] hferentschik commented on #5818
@sdodson, @mfojtik works with the latest image. Thanks.

[2015-11-10 15:47] #5818 closed

[2015-11-10 16:00] derekwaynecarr opened #5827 "Unable to edit quota using oc edit but can using kubectl edit"
Scenario:

1. ```oc create -f quota.yaml```
2. Wait for quota calculation to complete so quota.status is calculated
3. ```oc edit quota/quota --v=8```

Expected result:
quota was edited

Actual result:
resource version conflict error

Testing same scenario with ```kubectl edit``` I am able to complete the task.

Looking at the output, it looks like ```kubectl edit``` is doing a PATCH instead of PU

[2015-11-10 16:04] chmouel opened #5828 "Fedora23 crash"
I just installed a Fedora23 and have been trying to install ``origin`` using the ansible install. openshift-node wasn't starting due of docker crashing and this seems to be caused on origin-node starts :

<pre>
[root@node1 ~]# rm -rf /var/lib/docker/*
[root@node1 ~]# systemctl start docker
[root@node1 ~]# systemctl status docker
* docker.service - Docker Application Container Engine
   Loaded: loa

[2015-11-10 16:07] spadgett opened #5829 "Metrics x-axis tick labels too compressed at mobile resolutions"
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11067553/12b2bd3c-879b-11e5-87dc-3854b862dddb.png)

@jwforres please assign to me

[2015-11-10 16:12] spadgett commented on #5186
Related: #5826, builds trends in the web console

[2015-11-10 16:14] sosiouxme commented on #5753
If the client connection doesn't work then there's no way to tell you have cluster admin access. However you should get a notice from the client diagnostic that it couldn't reach the server:

[code]

Are you not getting this? Or just saying that the message about cluster-admin should be clearer?

[2015-11-10 16:16] derekwaynecarr commented on #5827
I think I have localized the problem to admission control updating quota during admission.

[2015-11-10 16:19] smarterclayton commented on #5769
Is there an issue open for that?

On Nov 9, 2015, at 10:41 AM, Dan Mace <notifications@github.com> wrote:

@pweil- <https://github.com/pweil->

Also, please check the registry image which can run under the restricted
SCC.

You're right- the registry will fail to deploy using MustRunAsNonRoot due
to the lack of a USER directive.

—
Reply to this email directly or view it on GitHub
<https://github.c

[2015-11-10 16:25] ironcladlou commented on #5769
@smarterclayton

See the linked #5803

[2015-11-10 16:29] smarterclayton commented on #5753
The message led me to believe that diagnostics was broken, rather than the
condition you described was in play.  Either one being improved would
prevent that impression.

On Nov 10, 2015, at 8:14 AM, Luke Meyer <notifications@github.com> wrote:

If the client connection doesn't work then there's no way to tell you have
cluster admin access. However you should get a notice from the client
diagnosti

[2015-11-10 16:32] derekwaynecarr commented on #5827
The issue is as follows:

If you were doing an UPDATE operation to any Kubernetes resource that was not a Pod, you would get an increment of the quota resource version because it was doing an unnecessary write.

This did not impact an UPDATE_STATUS call because admission control is already filtering out status operations.

[2015-11-10 16:37] jwforres opened #5831 "How do we approach translation (i18n) of openshift"
See https://github.com/openshift/origin/pull/4332#issuecomment-155479889  for some background.

[2015-11-10 16:41] bparees commented on #5796
Can you please provide the full build logs?  Even better would be verbose build logs:
https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs

If you docker run an image on your node, does it have network connectivity?

Can you also provide the logs from your failed deploy?

Is this a multinode or single node deployment?

[2015-11-10 16:44] deads2k commented on #5448
@pweil- This comes from the the SCC admission control plugin, right?

[2015-11-10 17:05] derekwaynecarr commented on #5827
Fixed in upstream PR:
https://github.com/kubernetes/kubernetes/pull/17061

Will make an Origin cherry-pick.

[2015-11-10 17:07] bparees commented on #5817
@Mangirdaz if you set an environment variable on a BuildConfig, the variable is available to the assemble script and the run script, which can use that variable value to do whatever configuration they need to.

I'm not seeing how that's insufficient for you to implement what you want here?

If you want to have your assemble script itself define a new env variable, you can have it write a list of e

[2015-11-10 17:33] ironcladlou commented on #5597
The solution we previously discussed for this is to make the DeploymentConfigController responsible for reconciling a deployment's replica count with its associated config. The auto-scaler (or manual scaler) would target only the deploymentConfig. This allows the controller to safely decide whether to scale up now (if the latest deployment is complete) or later (after an in-progress deployment com

[2015-11-10 17:46] xelfe commented on #5796
this is what I get;
1 I1110 17:38:25.267262       1 sti.go:163] The value of ALLOWED_UIDS is [1-]
2 I1110 17:38:25.291097       1 docker.go:213] Image registry.access.redhat.com/openshift3/nodejs 010-rhel7:latest available locally
3 I1110 17:38:25.291182       1 sti.go:185] Creating a new S2I builder with build config: "Builder Name:\t\tNode.js 0.10\nBuilder Image:\t\tregistry.access.redhat.com/op

[2015-11-10 17:55] pweil- commented on #5448
yes

[2015-11-10 18:05] pweil- commented on #5803
moved to 1.1.1 based on https://github.com/openshift/origin/pull/5805#discussion_r44430146

[2015-11-10 18:21] kargakis commented on #5597
I find this reasonable.

[2015-11-10 18:33] spadgett commented on #5799
I tried this, and it's jarring when you open the log and there is already more than a page of content. You jump straight to the middle with no context. Maybe if we make the follow link always visible so you don't have to wait? Or at least animate the initial scroll?

/cc @jwforres

[2015-11-10 18:38] ncdc commented on #5597
cc @danmcp @devop-mmcgrath @eparis

[2015-11-10 18:42] deads2k commented on #5448
The admission controller works against a cache.  We'd need a unified cache and an access review endpoint to fix this problem.

@pweil- you want me to keep this or would you like to take it?

[2015-11-10 18:47] Mangirdaz commented on #5817
File approach may work. I would really would like to see the variables produced inside assemble inside pod's description, but I can live without this.
But i still have some other doubt, but i think it may need to be reaised as separate story if my findings comes true:

So I have set variable in GUI STI build TEST=mytest and set bunch of variables in .sti/environment in GIT. So using both ways (By

[2015-11-10 18:55] sosiouxme commented on #5757
@smarterclayton I'd certainly like diagnostics to do as much as possible. Regarding promoting to `oc` @deads2k contends that everything specific to a project (as opposed to the whole cluster) should be reported via `oc status` or similar mechanism and diagnostics won't be too useful to end users. I'm of two minds about it as it would be nice not to have a bunch of different commands to run in orde

[2015-11-10 18:57] bparees commented on #5817
@PI-Victor this sounds like a bug if we're not ensuring both the BuildConfig env variable values and the .sti/environment file variables are available to the assemble script during the build.  Can you do some testing and see what the behavior is?

[2015-11-10 18:58] deads2k commented on #3220
Closing in favor of https://trello.com/c/YqfYqKdS/545-policy-related-endpoints-need-work

[2015-11-10 18:58] #3220 closed

[2015-11-10 19:04] Mangirdaz commented on #5817
Renamed. If needed tommorow in will be able to provide more info how this occurs in our env.

[2015-11-10 19:05] DirectXMan12 commented on #5597
So, AFAICT, the actual scaling action for our DeploymentConfig implementation occurs in the deployer pod (except for "cleanup failed deployment" part which happens in the deployer pod *controller*), which happens in  which dies when the deployment is complete.  Since this plan would require adding in another place that manipulates deployments, we have to be careful that we don't accidentally add i

[2015-11-10 19:18] ironcladlou commented on #5597
The DeploymentConfigController might also need to take care of ensuring that deployments older than the latest complete deployment are scaled down to zero (to eventually correct mistaken scaleups concurrent with new deployment creation in an HA setup). I think that might close any remaining gaps, but I won't be surprised if somebody thinks of other issues... :grin:

[2015-11-10 19:22] ironcladlou commented on #5597
Trello card: https://trello.com/c/CCv7OpxE

[2015-11-10 19:33] jwforres commented on #5799
i would vote for make follow link appear right away over automatically following

[2015-11-10 19:46] deads2k commented on #5189
Opened https://trello.com/c/pqGl8CVe/546-api-types-should-be-able-to-express-do-not-export to cover the general problem.  I just extended the existing `!exact` mechanism for this.

[2015-11-10 19:48] xelfe commented on #5796
So. I've tried with a minimal install with Centos 7 and Fedora 21 server images with the "advanced installation" method and bith fails. This morning i vie a try to the fedora-cloud-21 images and everything is going fine and it's work.

[2015-11-10 19:52] deads2k commented on #4782
Closing for trello: https://trello.com/c/YqfYqKdS/545-policy-related-endpoints-need-work

[2015-11-10 19:52] #4782 closed

[2015-11-10 19:53] bparees commented on #5796
Thanks for the update, sounds like an issue (or config/usage issue) in the installer then.

[2015-11-10 19:55] deads2k commented on #5133
@smarterclayton can you give an example command to trigger this?

[2015-11-10 20:15] danmcp commented on #5739
Closing in favor of https://bugzilla.redhat.com/show_bug.cgi?id=1279335 and https://github.com/openshift/origin/pull/5792

[2015-11-10 20:15] #5739 closed

[2015-11-10 20:39] sosiouxme commented on #4287
tested, it works well, thanks!

[2015-11-10 20:39] #4287 closed

[2015-11-10 20:41] benjaminapetersen commented on #5799
Is a good point, I can see how that would be jarring as well.  Always showing the link would probably work, though might be a little odd if the log is short.

[2015-11-10 20:42] #5827 closed

[2015-11-10 20:44] fabianofranz commented on #5184
@liggitt Neither `ssh` (from the OpenSSH source) nor `tail.c` (from both GNU and FreeBSD repos) do it. This can be tested easily by running `printf '\x1b[31m'` in a ssh session: after you exit, the console is still red.

[2015-11-10 20:51] liggitt commented on #5184
then we shouldn't either, imo

[2015-11-10 20:53] liggitt commented on #5781
When we make it configurable, we also need to adjust the bootstrap policy, and/or document what permissions you have to grant the HPA service account to query the service

[2015-11-10 21:02] deads2k commented on #5184
If a thousand people do a foolish thing....

[2015-11-10 21:14] PI-Victor commented on #5817
@bparees sure, i'll take a look  tomorrow and see what's going on.

[2015-11-10 23:18] smarterclayton commented on #5184
Lrn2sttyreset

On Nov 10, 2015, at 1:03 PM, David Eads <notifications@github.com> wrote:

then we shouldn't either, imo

If a thousand people do a foolish thing....

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5184#issuecomment-155564897>.

[2015-11-10 23:18] bparees opened #5841 "need postgresql extended tests"
postgresql with EmptyDir storage got broken about a week ago but we only learned it today from QE testing.  We should have extended tests for postgres like we do for mysql.

Further more i'm not sure the existing mysql test is sufficient since it just looks for endpoints but doesn't actually confirm the pods is successfully running.  it's possible the postgres image would pass a test like that sin

[2015-11-11 01:57] smarterclayton commented on #5597
Can you document how this proposal differs/aligns with the upstream DC
today (specifically what upstream allows w.r.t. changes in scale, and what
the upstream controller will do to old RCs)

On Nov 10, 2015, at 11:18 AM, Dan Mace <notifications@github.com> wrote:

The DeploymentConfigController might also need to take care of ensuring
that deployments older than the latest complete deployment are

[2015-11-11 03:01] tagoh commented on #5831
Maybe good to follow up here.

angular-gettext supports "contexts". see https://github.com/rubenv/angular-gettext/issues/223#issuecomment-145459238 for what I got from upstream when I have same question earlier.
Honestly speaking, I don't mind either but IMO using an actual identifier like the way angular-translate and so on takes may introduces the poor outlook during the development cycle, parti

[2015-11-11 05:12] ncoghlan commented on #2001
In https://github.com/ncoghlan/rf-apitest/blob/master/Dockerfile (which installs the upstream SCL directly) I handled this for the main command by using ENTRYPOINT to always enable the SCL, and then CMD to run the desired operation.

This handles `docker run` (since that invokes ENTRYPOINT), but doesn't help with `docker exec` (since that bypasses both ENTRYPOINT and CMD)

[2015-11-11 05:47] thesteve0 opened #5842 "Need a simple client download"
We need a download for just the client 'oc' for each release. This should be available for windows, mac, and linux. It should have nothing but the oc executable and it should not contain symlinks. The current download is confusing (relying on simlinks and such) and has a lot of pieces which are not documented in the download.

We will also need this for the online dedicated beta's and for develope

[2015-11-11 08:16] rhcarvalho commented on #2001
@ncoghlan any reason you preferred that over the approach in [sti-base](https://github.com/openshift/sti-base)?

In sti-base we [set a few env vars](https://github.com/openshift/sti-base/blob/master/Dockerfile#L23-L29) that are picked up by bash to make it enable SCL by sourcing a file.
For instance, this is what [the file](https://github.com/openshift/sti-python/blob/master/2.7/contrib/etc/scl_en

[2015-11-11 08:39] ncoghlan commented on #2001
Why would I do that when ENTRYPOINT natively handles the use case? I'm OK with needing to enable the SCL manually under exec, since that lets me choose whether to access the system Python or the SCL one.

[2015-11-11 10:34] kargakis commented on #5827
Should docs be updated after this change?

https://docs.openshift.org/latest/dev_guide/quota.html#quota-enforcement

[2015-11-11 11:18] dragon9783 commented on #3859
i got same issue, and capture some logs from docker(/var/log/message centos), hope to a bit help for fix
Nov 11 19:09:11 iZu15atz2x8Z origin-node: I1111 19:09:11.300061   27195 helpers.go:96] Unable to get network stats from pid 9149: couldn
't read network stats: failure opening /proc/9149/net/dev: open /proc/9149/net/dev: no such file or directory
Nov 11 19:09:12 iZu15atz2x8Z origin-node: I1111

[2015-11-11 13:10] jstrachan commented on #1708
Something like helm is looking like a good option for this (i.e. a git repo with a helm like versioned packaging)
http://helm.sh/

more background:
https://github.com/kubernetes/kubernetes/issues/17027

[2015-11-11 13:12] stevekuznetsov opened #5843 "We need to homogenize our TEMPDIR approach"
Our current scripts in `hack` use quite a large number of temporary directories for storing things during swap, depositing artifacts, etc. This leads to a heterogeneous approach to [downloading artifacts](https://github.com/openshift/vagrant-openshift/blob/master/lib/vagrant-openshift/action/download_artifacts_origin.rb#L40-L42) for Jenkins, for example. Furthermore, many commands do not clean up

[2015-11-11 13:13] mfojtik commented on #5843
+1

[2015-11-11 13:17] deads2k commented on #5843
You shouldn't clean up when you're done.  You should cleanup on the next attempt to run.  Saving artifacts by default makes debugging a lot easier.

[2015-11-11 13:21] stevekuznetsov commented on #5843
What would the behavior be when a developer wants to turn off this feature, then?

[2015-11-11 13:23] deads2k commented on #5843
And doesn't just want to wait for the next run to clear its directory and re-run?  `rm -rf`

[2015-11-11 13:25] stevekuznetsov commented on #5843
No, that's not what I meant. In the "clean up after yourself" mode, you can set a flag that says - hey, keep the output. In the "clean up before yourself" mode, if we expose that flag, what is the desired effect? Where do the files currently in that folder that will not be cleaned up be placed?

[2015-11-11 13:26] stevekuznetsov opened #5844 "We need to better structure our bash support code"
Currently we store most of our support functions for bash in `hack/util.sh` (800+lines) and `hack/common.sh` (600+ lines). I think the approach upstream has merit, so I think we should
1. divide our utility functions into functional files (think `build.sh`, `util.sh`, _etc_)
2. ensure that our functions are all correctly namespaced as a result, and
3. move them into a new directory structure like

[2015-11-11 13:27] deads2k commented on #5843
"cleanup before yourself" is what we currently do.  There's no flag at all.  Artifacts are left in place until the next run, at which point they are deleted.

[2015-11-11 13:28] deads2k commented on #5844
I don't think that I'd want to follow upstream off the bash cliff unless we have to.

[2015-11-11 13:42] stevekuznetsov commented on #5843
That is not the case. `test-cmd` doesn't do cleanup (and my 50 tempdirs under `/tmp/openshift-cmd` can attest to that. The `generate` scripts clean up after themselves.

[2015-11-11 13:42] stevekuznetsov commented on #5844
I hardly think that these changes would vault us off that cliff.

[2015-11-11 13:43] jwforres commented on #5831
cc'ing some folks @spadgett @liggitt @smarterclayton @bparees @stefwalter

[2015-11-11 14:04] bparees commented on #5817
@PI-Victor @Mangirdaz please see my update to the related bug(https://bugzilla.redhat.com/show_bug.cgi?id=1280216)... there is no way to set BuildConfig env variables via the GUI, the GUI only lets you set DeploymentConfig env variables.  The ability to set BuildConfig env variables would be a new feature.

[2015-11-11 14:08] Mangirdaz commented on #5817
Just a logical question. DeploymentConfig is used during deployment. And deployment happens is Assemble (application deployment). So this is crosses logic in my head :)

But as you told, it should be possible as now it is limiting in possible use-cases.

[2015-11-11 14:19] bparees commented on #5817
@jwforres will let you decide what you want to do with this and the associated bug/RFE.

[2015-11-11 14:20] knobunc commented on #3859
Unfortunately, those error messages are not really indicative of anything.  Can you try to use the SDN troubleshooting guide (https://docs.openshift.org/latest/admin_guide/sdn_troubleshooting.html).  If you can't work it out using that, please make sure you follow the instructions in "Further Help" and point me at the generated file.

[2015-11-11 14:33] Mangirdaz commented on #5817
wups, miss-click. (cat on keyboard) :)

Thanks, will wait for answer.

[2015-11-11 14:36] spadgett opened #5845 "Use readiness probe initial delay for pod warning checks"
Currently, the web console warns about a pod if its containers take more than 5 minutes to become ready. We should check if the container has a readiness probe with an initial delay. We shouldn't warn about pods until after that initial delay has passed, possibly adding N minutes rather than hard-coding 5 minutes.

Related to #5793

/cc @jwforres @liggitt

[2015-11-11 14:45] ironcladlou commented on #5597
A quick note since the terms are different upstream: In OpenShift, "deployments" are replication controllers, and the template for a deployment is a "deploymentConfig". In Kubernetes, the template for a deployment is called a "deployment", and the thing that's deployed is just a replication controller.

Upstream RC scaling is managed entirely by the deployment controller. The autoscaler targets th

[2015-11-11 14:56] pweil- commented on #5759
any update here?

[2015-11-11 14:58] derekwaynecarr commented on #5827
@kargakis - there is no need to update documentation.  the bug that was fixed was just causing an unnecessary edit of the quota document, but no actual change to a value except ```quota.ResourceVersion```

[2015-11-11 15:03] ironcladlou commented on #5597
I outlined another upstream alignment wrt scaling here: https://github.com/openshift/origin/issues/5597#issuecomment-155500847

[2015-11-11 15:47] ironcladlou commented on #5597
We'll also need to fix the CLI and console so they adjust the deploymentConfig.spec.replicas directly when RCs are owned by a deploymentConfig. cc @jwforres @spadgett

[2015-11-11 15:50] bparees commented on #4966
closing due to age and inability to reproduce.

[2015-11-11 15:50] #4966 closed

[2015-11-11 15:54] gravis commented on #5759
I confirm the 1.0.8 is not eating memory like the 1.0.7.
This morning we using 750MB of memory on our master (was 580MB yesterday).
So I would say, the new timeouts solved the issue temporary. Yet, it seems to still leak slowly (at an acceptable rate for now).
Please let me know if we can provide more info.

[2015-11-11 15:59] pweil- commented on #5759
Thanks @gravis.  We will continue to look into it and open specific issues for anything new.

[2015-11-11 15:59] mnagy commented on #5841
@rhcarvalho requesting for help with MongoDB, I'll take care of MySQL and PostgreSQL

[2015-11-11 16:01] pweil- commented on #5759
(hit the wrong button.  Leaving this open since there is still a leak)

[2015-11-11 16:09] spadgett commented on #3970
Jasmine doesn't support this natively. karma-jasmine-diff-reporter can highlight differences, but requires Jasmine 2.0. I don't think it's worth the risk of moving to a major new Jasmine version for just these few tests.

Closing for now.

[2015-11-11 16:09] #3970 closed

[2015-11-11 16:12] spadgett commented on #2572
We might just close this. We have individual pod pages now and don't show pod details in the sidebar.

[2015-11-11 16:15] deads2k opened #5849 "oc status doesn't handle jobs"
`oc status` doesn't show me my jobs at all.

We might want to wait for API discovery so that we can properly determine whether or not to look before adding this.

[2015-11-11 16:18] spadgett commented on #5845
5 minutes might be on the short side as a default as well.

[2015-11-11 16:21] ironcladlou commented on #5597
The scale subresource handling will also need updated to scale just the deploymentConfig. The CLI and console should use the subresource instead of manipulating the DC directly, I think.

[2015-11-11 16:21] smarterclayton commented on #5759
A heap dump would be the best way to diagnose and triage this.  The
instructions here can guide you to doing that:
https://github.com/openshift/origin/blob/master/HACKING.md#performance-debugging

Using the web mode and capturing two heaps spaced out in time will probably
allow is to very quickly identify your issue.

On Nov 11, 2015, at 7:54 AM, Philippe Lafoucrière <notifications@github.com>
wro

[2015-11-11 16:27] smarterclayton commented on #5844
It does involve touching every other bash script - in the long term, are
there other cleanups in bash that reduce the need for bash more?  Reduce
our dependence on certain things in util?  I'm always a fan of cleanliness,
but it's good to do it while also reducing the cost of long term
maintenance. Bash has some level of unintended consequences when you
refactor it (because it is not as free of si

[2015-11-11 16:28] smarterclayton commented on #5843
Test-cmd should be more like e2e and extended - clean up at the beginning
of the run, leave it after.

On Nov 11, 2015, at 5:42 AM, Steve Kuznetsov <notifications@github.com>
wrote:

That is not the case. test-cmd doesn't do cleanup (and my 50 tempdirs under
/tmp/openshift-cmd can attest to that. The generate scripts clean up after
themselves.

—
Reply to this email directly or view it on GitHub
<

[2015-11-11 16:30] php-coder opened #5850 "Simplify README.md for sample-app"
When I follow the instructions from the https://github.com/openshift/origin/tree/master/examples/sample-app I always have the similar issues:

- our binaries reside in `/data/src/github.com/openshift/origin/_output/local/bin/linux/amd64` directory but it's not in `$PATH` and we should always specify the full path (but some commands still in a short form and you can't just copy&paste them)

- by de

[2015-11-11 16:38] jwforres commented on #5597
I would prefer that, do you have an example of what we would post to the
scale subresource?

On Wed, Nov 11, 2015 at 11:21 AM, Dan Mace <notifications@github.com> wrote:

[2015-11-11 16:41] jwforres commented on #5845
agree 5 is a bit short for certain kinds of apps,  10 minutes maybe?
@bparees thoughts?

On Wed, Nov 11, 2015 at 11:19 AM, Sam Padgett <notifications@github.com>
wrote:

[2015-11-11 16:51] ironcladlou commented on #5597
Talking with @kargakis I found a pretty big problem stemming from behavior I had forgotten about, which is failure handling/automatic "rollback". Given:

1. Deploy RC.version 1 (success)
2. Deploy RC.version 2 (success)
3. Deploy RC.version=3 (failed)

Openshift will:

1. Scale down RC.version=3 to 0
2. Scale up RC.version=2 to its previous replica count

This is a problem because now we have a di

[2015-11-11 16:54] smarterclayton commented on #5597
Why would scaling operations target 3?

On Nov 11, 2015, at 8:51 AM, Dan Mace <notifications@github.com> wrote:

Talking with @kargakis <https://github.com/kargakis> I found a pretty big
problem stemming from behavior I had forgotten about, which is failure
handling/automatic "rollback". Given:

   1. Deploy RC.version 1 (success)
   2. Deploy RC.version 2 (success)
   3. Deploy RC.version=3 (fail

[2015-11-11 16:56] bparees commented on #5845
i like the proposal to base it on the readiness probe.  For apps that don't have a readiness probe, what is the web console using to declare a pod "ready"?

[2015-11-11 16:56] ironcladlou commented on #5597
The scaling operations will target the DC, which is at version=3. Normally we'd then use that as the basis of finding the latest RC for scaling. But with the current model, we must now have a special case where we go look for the "latest successful deployment" which could be any version.

That might work, but my confidence level in covering all edge cases is pretty low at this very moment. There a

[2015-11-11 16:59] jwforres commented on #5845
the api always returns ready status for containers, i assume if there are
no probes then that is true as soon as the container is started

On Wed, Nov 11, 2015 at 11:56 AM, Ben Parees <notifications@github.com>
wrote:

[2015-11-11 17:01] smarterclayton commented on #5597
If we have code that is assuming latest = active, we have a bigger problem.

The scaler sets the DC.

The deployment controller should be able to know that a scale event
happened and target the right RC (it's the controller for responsible for
knowing what the latest rc is) What am I missing?

On Nov 11, 2015, at 8:57 AM, Dan Mace <notifications@github.com> wrote:

Why would scaling operations tar

[2015-11-11 17:07] PI-Victor commented on #5850
See https://github.com/openshift/origin/pull/5112

[2015-11-11 17:16] ironcladlou commented on #5597
The deployer pod controller is going to also be trying to scale RCs in parallel, competing with the deployment controller.

If we want to keep the current general failure handling behavior, I think the way we implement it needs reworked so that only the deployment config controller is responsible for scaling outside the deployment process.

[2015-11-11 17:18] bparees commented on #5845
then it sounds like 5 minutes ought to be more than ample in the case that no readiness probe is defined.

and if there is a readiness probe+initial delay defined, then just waiting the initial delay should be appropriate, right?

[2015-11-11 17:27] jwforres commented on #5115
zeroclipboard is actively working on using the HTML5 api by default and falling back to flash https://github.com/zeroclipboard/zeroclipboard/issues/171   so lets just pick up the new version of zeroclipboard once that's in so that we keep Safari support and so that we hopefully don't have to make a bunch of changes on our side.

[2015-11-11 17:53] bparees commented on #5850
see also: https://github.com/openshift/origin/pull/4970

we should NOT be suggesting setting $KUBECONFIG, it's a bad pattern.  if you need admin credentials you should always use --config

[2015-11-11 18:17] spadgett commented on #5845
The 5 minutes includes time to pull the image if necessary, right?

[2015-11-11 18:24] bparees commented on #5845
hm.  good point.  so in the case of a readiness probe being defined, the "initial delay" (from a k8s perspective) probably only starts counting after the pod goes to "running".

so yes if you want to account for scheduling time+image pulling, you need some additional buffer.  10 minutes still sounds too high, but 5 minutes might be ok.

[2015-11-11 19:11] deads2k opened #5854 "UI flake - chrome not reachable"
@jwforres

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7053/consoleText

[code]

[2015-11-11 19:14] deads2k opened #5855 "flake deploymentConfig "failing-dc" already exists"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7049/consoleText

[code]

[2015-11-11 19:18] smarterclayton commented on #5597
On Nov 11, 2015, at 9:16 AM, Dan Mace <notifications@github.com> wrote:

The deployer pod controller is going to also be trying to scale RCs in
parallel, competing with the deployment controller.

The deployer has to back off, or the deployment pod controller has to know
the deployment pod is in progress.

If we want to keep the current general failure handling behavior, I think
the way we impleme

[2015-11-11 19:28] ironcladlou commented on #5597
What I mean is, the logic that's currently in the deployer pod controller needs moved into the deployment config controller so that the deployer pod controller is responsible only for looking at the outcome of a deployer pod and updating the deployment phase. The deployment config controller should be looking at the deployments it owns and making all the scaling decisions.

[2015-11-11 19:45] spadgett commented on #5487
#5856 adds deployment logs to the UI.

[2015-11-11 20:20] ebalsumgo opened #5858 "Webhook's secret in Console vs Describe is missing capitalization in OSE 3.0.2"
So I have been trying to figure this out for a couple of days, but a co-worker just discovered the problem. in 3.0.2 (not sure for later code) in the UI when you reveal both the generic and github webhook URLs they are all displayed as lowercase, but if you do oc describe bc/yourbuild the webhook URLs have some letters capitalized. If you try and use the URL from the console builds are not trigger

[2015-11-11 20:21] ebalsumgo commented on #5858
ah... never mind, just managed to do some creative searching and found out you guys fixed it 20ish days ago in https://github.com/openshift/origin/pull/5196 gonna close this.

[2015-11-11 20:21] #5858 closed

[2015-11-11 21:09] deads2k commented on #4202
@fabianofranz you brought this up the CLI meeting.  You want this one?

[2015-11-11 21:15] deads2k commented on #2709
Closing in favor of https://trello.com/c/YqfYqKdS/545-policy-related-endpoints-need-work

[2015-11-11 21:15] #2709 closed

[2015-11-11 21:17] deads2k commented on #1643
@sosiouxme I'm pretty sure that clayton fixed this in 3.1. Can you confirm?

[2015-11-11 21:40] fabianofranz commented on #4202
@deads2k yes, assign to me.

[2015-11-11 22:20] smarterclayton commented on #5597
Yes.  I had a quick discussion with Brian today about potentially not
having "failed" deployments per se.  I still want it for custom deploy
strategies, but maybe for rolling we just always try, and have a condition
on the deployment config that says "hasn't reached terminal state in X
minutes, warning"

On Nov 11, 2015, at 11:28 AM, Dan Mace <notifications@github.com> wrote:

What I mean is, the

[2015-11-11 22:25] stevekuznetsov commented on #5844
The value-adds that I see from a restructure/cleanup are:

 1. it's easy to read the helper function libraries
 * we can import with more specificity
 * we can easily see which functions do and do not have tests
 * it becomes easier to create a new utility script and stick reusable code there

I know with one or two monolithic utility functions I have hesitated to add code to them, knowing that 99

[2015-11-11 22:42] kargakis commented on #5855
wut

[2015-11-11 23:38] simon3z opened #5865 "Cluster reader cannot list all component statuses"
It seems that a cluster-reader user cannot list all component statuses:

    User "system:serviceaccount:default:manageiq" cannot list all componentstatuses in the cluster

This is on v1.0.8.

cc @deads2k

[2015-11-11 23:58] liggitt commented on #5865
Policy is the least of the issues preventing component status from functioning in origin. We should fix policy to include it at the same time we work through the architectural issues to enable it. Will handle as part of  https://github.com/openshift/origin/issues/3667

[2015-11-11 23:58] #5865 closed

[2015-11-11 23:58] liggitt commented on #3667
Bootstrap policy also needs to include this resource for cluster reader

[2015-11-12 00:35] thoraxe opened #5866 "deployments area of web ui should show hook information"
Currently it doesn't appear that hook info is shown in the webui, even when they are defined (eg looking at the YAML output of a DC).

[2015-11-12 06:20] Jooho opened #5867 "oc rollback --change-strategy is not working as expected."
I tried to test "rollback" and I encounter it is not working as I expected.

From my understanding, if I give this option " --change-strategy=true", the original parameter of strategy in build should be changed but it does not work :

`# oc rollback jbosswebapp --to-version=2 -o json --change-strategy=true --dry-run

Result :
* Deployment Configure strategy "Rolling"    ==>  "--change-strategy=tru

[2015-11-12 06:26] Jooho opened #5868 ""oc label --help output" is not enough to understand how to remove label."
Hi all,

The "oc label --help" output should also describe how to do this. In addition, there should probably be a "remove" argument to the "oc label" command for a more comprehensive user experience.

 "-" option end of label key can remove the key but it is a little bit difficult to understand only with the --help output. Hence, adding "remove" is a good idea.

Thanks in advance.
Jooho Lee.

[2015-11-12 08:11] evenit commented on #5545
Ain't there a limitation with SELinux ? In the documentation it is stated that NFSv4 is mandatory due to the fact that it implements SELinux labeling : https://docs.openshift.org/latest/install_config/persistent_storage/persistent_storage_nfs.html.

However it seems that extended attributes are also implemented in NFSv3 (http://lwn.net/Articles/392944/). Is that enough to get SELinux labeling work

[2015-11-12 08:31] evenit commented on #5545
@ebalsumgo How did you force NFSv3 ? Is there an attribute to set at the Persistent Volume level ? Or did you remove NFSv4 support on your filer ?

[2015-11-12 09:54] soltysh commented on #5849
When API discovery is planned to land, next rebase?

[2015-11-12 10:02] PI-Victor opened #5869 "fedora vagrant image needs kernel-devel package"
@danmcp the fedora 21 image that is used for the vagrant virtualbox provider needs the kernel-devel package installed by default so that the virtualbox guest additions compile properly. the problem is more obvious on f23.

GuestAdditions versions on your host (4.3.34) and guest (4.3.20) do not match.
The guest's platform is currently not supported, will try generic Linux method...
Copy iso file /u

[2015-11-12 10:45] kargakis commented on #5868
[code]

Last example is about removing. I don't think we should add an extra flag since KEY- is supported but we may have to document it better?

[2015-11-12 10:57] kargakis commented on #5867
[code]

Say, you have a deploymentConfig with version=4, strategy=Recreate and rollback to version=2. By default your rollbacked deployment will use strategy=Rolling (because that's the strategy we are defaulting to if none is specified). If you want to preserve Recreate, you will need to use --change-strategy=true. @ironcladlou can confirm.

[2015-11-12 10:58] kargakis commented on #5849
Lucky you @soltysh !! :)

[2015-11-12 11:00] soltysh commented on #5849
:stuck_out_tongue_winking_eye:

[2015-11-12 12:17] mnagy opened #5871 "Extended test output still verbose"
There should be exactly two lines of output for successful tests. What tests produce on stdout (and stderr perhaps) gets printed out right away. This goes for fmt.Printf() and running oc exec. We should capture the output and hide it, making sure it only gets printed out if the test fails, along with rest of ginkgo output (e.g. STEPs). This will make debugging a lot easier.

As a bonus, it'd also

[2015-11-12 12:49] danmcp commented on #5869
https://github.com/openshift/vagrant-openshift/blob/master/lib/vagrant-openshift/action/install_origin_base_dependencies.rb#L42

[2015-11-12 13:15] evenit commented on #5545
Ok, so I reproduced with NFSv3 and it works great. To answer my own questions:

 - Forcing NFSv3 is done by setting "Defaultvers=3" in /etc/nfsmount.conf
 - NFSv3 is able to label files through genfs rather than xattr

[2015-11-12 13:16] mfojtik commented on #5871
@mnagy I thought we do that now with the custom formater. There are some cases when the stdout is not easy to capture and even ginkgo does not capture it.

[2015-11-12 13:30] gravis commented on #5759
805MB this morning, I have opened a ticket to get to heap dumps.

[2015-11-12 13:47] ironcladlou commented on #5867
If `--change-strategy` is NOT specified, then the current strategy on the deploymentConfig is preserved. If `--change-strategy` is specified, the strategy on the deploymentConfig is replaced by the strategy that was in use at the time of the deployment specified by `--to-version`.

[2015-11-12 13:57] mnagy commented on #5871
@mfojtik It seems that lines that get printed out are printed out by us, explicitly, for example here:
https://github.com/openshift/origin/blob/master/test/extended/util/cli.go#L297

[2015-11-12 14:04] ebalsumgo commented on #5545
@evenit keep in mind there are all sorts of issues currently with the volumes getting recycled so you may have a bunch of unscrubbed and unusable, refer to: https://github.com/openshift/origin/pull/5792 and more importantly https://github.com/openshift/origin/pull/5847

[2015-11-12 14:45] spadgett commented on #4918
Potential problem, the dropdown can obscure as-you-type search results.

<img width="583" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11121090/ea4b1f64-8921-11e5-918c-2353dcf18ba7.png">

[2015-11-12 14:46] spadgett commented on #4918
Maybe it isn't bad if we filter the suggestions to only those that match.

[2015-11-12 14:50] spadgett commented on #4918
<img width="661" alt="openshift_web_console"
src="https://cloud.githubusercontent.com/assets/1167259/11121261/cf2462da-8922-11e5-8141-5b5060fa36e3.png">

[2015-11-12 14:53] spadgett commented on #4918
After filtering the suggestions... Would be nice if we can avoid covering the group heading.

<img width="602" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11121278/e3240a06-8922-11e5-9815-4493d32f9522.png">

<img width="661" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11121293/faaf0022-8922-11e5-813d-8a77a3201c2c.png">

[2015-11-12 15:13] soltysh commented on #5068
Fix problems that appeared in https://github.com/openshift/origin/issues/5068

[2015-11-12 15:30] gravis commented on #3773
while it can be done in the service itself, it's more the role of the router to handler this case, I agree.

[2015-11-12 15:32] jstrachan opened #5876 "provide a REST API for invoking binary builds from inside existing large multi maven builds?"
folks in the Java community often have huge multi-maven builds which make many kinds of versioned binary artefact (jars / wars, source jars, javadoc jars etc) which result in possibly multiple docker images. A typical integration project generates many images for example which are usually inside the same git repository.

Its possible to split the build up into a 'Java only' build making just Java

[2015-11-12 15:49] jwforres opened #5877 "Allow UI e2e tests to be run independent of the rest of e2e"

[2015-11-12 16:28] smarterclayton opened #5878 "Retry new-app install when service account token not ready yet"
We should retry that specific error as noted by @csrwng

[2015-11-12 16:35] mnagy commented on #5871
@mfojtik I think we basically just need to turn any outstanding Printfs (if there are any) into logging statements and also handle the output in the function I mentioned in the same way.

[2015-11-12 17:53] spadgett opened #5880 "Tooltips disrupt layout in mobile Safari"
You can see the tooltip content by pressing the icon, but it shrinks other content to make room (see screenshot).

![screen shot 2015-11-12 at 12 50 58 pm](https://cloud.githubusercontent.com/assets/1167259/11126284/2a0fa2cc-893c-11e5-9455-053f16d27c67.png)

/cc @jwforres

[2015-11-12 17:55] jwforres opened #5881 "UI Flake - Wait timed out"
[code]

[2015-11-12 18:02] fabianofranz commented on #5868
Enterprise bug: https://bugzilla.redhat.com/show_bug.cgi?id=1281252

[2015-11-12 18:49] sg00dwin opened #5883 "Additional image tiles on the create page should display their individual logo icon"
We have most, if not all, logos for these in the icon-font set. Currently the generic cube icon is being used.

<img width="854" alt="missing-logos" src="https://cloud.githubusercontent.com/assets/1874151/11127790/fe45e306-8943-11e5-86de-72999e941602.png">

[2015-11-12 18:50] #5869 closed

[2015-11-12 19:14] liggitt commented on #5191
@jwforres

[2015-11-12 21:17] #4030 closed

[2015-11-12 21:39] stevekuznetsov commented on #5844
Another value add can come from updating our current bash to reflect best practices as reported by tools like [ShellCheck](http://www.shellcheck.net/). A cursory run of this over some of our scripts reveals quite a large amount of potential errors. I'm not sure we need to include it as a vetter in our CI for bash PRs but it's definitely got a lot of good checks.

[2015-11-12 21:45] spadgett commented on #5883
@bparees Opinion on this? We need an `iconClass` annotation to show the icon.

[2015-11-12 22:23] smarterclayton commented on #5844
It would be good to at least make it easy to run.

On Nov 12, 2015, at 4:39 PM, Steve Kuznetsov <notifications@github.com>
wrote:

Another value add can come from updating our current bash to reflect best
practices as reported by tools like ShellCheck <http://www.shellcheck.net/>.
A cursory run of this over some of our scripts reveals quite a large amount
of potential errors. I'm not sure we need

[2015-11-12 22:45] bparees commented on #5883
i'm happy with that icon.

but shouldn't the builder images still have a builder image icon?

[2015-11-13 05:52] #5363 closed

[2015-11-13 08:07] #5820 closed

[2015-11-13 09:10] #5829 closed

[2015-11-13 09:42] Mangirdaz commented on #5817
@jwforres, can we expect this for Next year Q1 release for origin and OSE? as conscious for current upcoming one it will not make in :)

[2015-11-13 10:26] #5354 closed

[2015-11-13 10:27] stefwalter commented on #5831
The translation approach that I've seen openshift is in the right direction. My comments would be:

 * The source for translations needs to be pluggable. We have Cockpit loading po JSON files for a long time now (even though our i18n stuff isn't perfect), we probably want to keep the loading/delivery parts.
 * As @tagoh said contexts are the accepted solution for the same string meaning different

[2015-11-13 11:49] #5793 closed

[2015-11-13 13:56] #5360 closed

[2015-11-13 14:35] liggitt opened #5889 "push-release.sh fails in devenv ami"
Seeing failures pushing release images in devenv ami builds like https://ci.openshift.redhat.com/jenkins/job/devenv_ami/2693/console

No output is given from the push release script

[code]

[2015-11-13 14:35] liggitt commented on #5889
@danmcp

[2015-11-13 14:49] miminar commented on #5450
I guess I started reproducing too late. The oldest build jenkins remembers is 10 days old. I've checked all 199 failed builds from its available history and there's no such build failing with `oadm prune images`.

[2015-11-13 14:55] miminar commented on #5450
The good news is that the collection of logs works in recent builds.

[2015-11-13 15:38] #2975 closed

[2015-11-13 15:39] #5188 closed

[2015-11-13 15:39] #5795 closed

[2015-11-13 15:39] #5415 closed

[2015-11-13 15:40] #5589 closed

[2015-11-13 15:40] #5692 closed

[2015-11-13 15:40] #3118 closed

[2015-11-13 15:40] #5766 closed

[2015-11-13 15:51] smarterclayton commented on #5133
It used to be describe of a resource in Origin - Jordan may have fixed this
though.

On Tue, Nov 10, 2015 at 2:55 PM, David Eads <notifications@github.com>
wrote:

[2015-11-13 15:57] jimmidyson opened #5890 "Incorrect root paths returned with new API groups (extensions)"
Extensions path at `/apis/extensions/v1beta1` isn't present in returned root paths. This works upstream & is useful in determining what is enabled/disabled on the API server.

[code]

[2015-11-13 16:23] liggitt commented on #5890
should be fixed, but I think doing a GET on `/api` and `/apis` is the official way to discover enabled groups and versions

[2015-11-13 16:26] jimmidyson commented on #5890
Ah OK thanks for that - that makes much more sense.

[2015-11-13 16:27] iocanel commented on #5890
shouldn't this get aligned with upstream anyway?

[2015-11-13 16:27] liggitt commented on #5890
yes, not closing it, just noting the more correct way to discover that info

[2015-11-13 16:52] #5677 closed

[2015-11-13 17:40] jwforres commented on #5817
@Mangirdaz https://github.com/openshift/origin/pull/5893

[2015-11-13 17:57] bparees commented on #5889
@liggitt what do you say to just adding a -x to push-release.sh for now so we can get some feedback on this?

[2015-11-13 18:16] spadgett commented on #5883
These are the images without the builder tag. The "real" builder images have icon for the technology because they have `iconClass` set.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11153716/c03eed8a-8a08-11e5-9f12-c5c728ef6598.png)

[2015-11-13 18:17] spadgett commented on #5883
Looking at this, I'm not sure we're using the right generic icon, either.

/cc @jwforres

[2015-11-13 18:20] spadgett commented on #5880
We should check that the tooltips work in Android with Chrome. Most are set to trigger on hover. The first press on iOS will open the tooltip, but I'm not sure offhand if it works on mobile Chrome.

Changing the trigger to `"hover click"` is probably a good idea.

[2015-11-13 18:20] jwforres commented on #5883
Nope, should be pficon-image  https://www.patternfly.org/styles/icons/

[2015-11-13 18:20] jwforres commented on #5883
And we need to actually use the new pficon-build-image for the builders

[2015-11-13 18:21] jwforres commented on #5883
We have icons for all of those databases, are we not setting iconClass on the imagestreams for those

[2015-11-13 19:08] jwforres commented on #5817
@Mangirdaz to clarify, you are correct that it will not make 1.1.0 of origin

[2015-11-13 19:08] liggitt commented on #5889
bumping priority, this is failing the devenv ami

[2015-11-13 19:10] liggitt commented on #5889
has failed every build since #2​68​2 Nov 12, 2015 2:31 AM

[2015-11-13 19:15] bparees commented on #5889
docker repos had not been created, have been now.  should work now.

[2015-11-13 19:58] benjaminapetersen commented on #4313
TODO list of remaining controller/view refactors needed based on the appearance of `ng-controller="ProjectController"`:

- [ ] views/browse/routes.html
- [ ] views/builds.html
- [ ] views/create/fromimage.html
- [ ] views/create/nextSteps.html
- [ ] views/create.html
- [ ] views/deployments.html
- [ ] views/events.html
- [ ] views/images.html
- [ ] views/newfromtemplate.html
- [ ] views/pods.html

[2015-11-13 20:21] tiwillia opened #5897 "Project cache takes very long to update at high scale"
With increasing numbers of resources in etcd on an openshift system, an issue is seen where after a user creates a project, the project cache takes too long to update. This originally resulted in an issue with the `oc new-project` command where the access validation check would fail due to the project cache not being up-to-date (issue #4870). This was resolved by skipping the access validation che

[2015-11-13 21:20] smarterclayton commented on #2520
@ironcladlou is this fixed?

[2015-11-13 21:22] smarterclayton opened #5900 "Router and Registry should have readiness checks and health checks"
Both should have those set up by default.

@ramr @pweil- @miminar

If we have them, then we should be using them in the registry / router generators.  Both should not return true until the members are ready to be in rotation.

[2015-11-13 22:16] #5758 closed

[2015-11-13 22:16] #5235 closed

[2015-11-13 22:18] liggitt commented on #5889
fixed, https://ci.openshift.redhat.com/jenkins/job/devenv_ami/2703/ passed

[2015-11-13 22:18] #5889 closed

[2015-11-13 23:25] stevekuznetsov opened #5906 "Jenkins Flake - Timed out waiting for etcd on test-integration"
Seen this flake [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7128/consoleFull):
[code]

[2015-11-13 23:28] stevekuznetsov commented on #5871
I am currently going through all of our test output and changing it one at a time. At the moment I am working on `test-cmd` but once that's done, I'll move on to extended tests. I agree with you on what the best type of output would be on the tests, that's exactly what I am implementing for the other test suites. The simple, concise, human-readable output will be paralleled with verbose output to

[2015-11-13 23:37] stevekuznetsov commented on #5850
I don't think changing a user's `$PATH` is good form.

[2015-11-13 23:58] bparees commented on #5850
It's telling them to change it. If they care that much they can figure out their alternatives.. If we were doing it in a hidden shell script if be more concerned.

[2015-11-14 00:02] stevekuznetsov commented on #5850
Ah sorry I thought this was in a setup script. Showing a user how to do it is fine, sure. We'd need to do it relative to the working directory though, I'm not sure where the `/data/` path is from.

[2015-11-14 00:20] #4478 closed

[2015-11-14 00:27] ironcladlou commented on #2520
This is complete since the recreate and rolling strategies check readiness when scaling.

[2015-11-14 01:23] #5728 closed

[2015-11-14 03:03] #5817 closed

[2015-11-14 04:11] #2520 closed

[2015-11-14 15:17] PI-Victor commented on #5850
the host GOPATH is mounted inside the virtual machine's /data/ path. i think the compromise would be to add to vagrant-openshift commands the export path and whatnot and let the user configure his own machine optionally with one command and update the docs here. if that doesn't work either, we can leave it as it is. however and i know i sound like a broken record, the images need to be updated to

[2015-11-14 21:54] gravis commented on #4848
#5224 fits our needs for now. I don't see a use-case where http would be serving content different from https. And if it was the case, it's probably worth creating a dedicated service for that, with a dedicated route.
The `insecureEdgeTerminationPolicy` covers most of the needs I think.

[2015-11-14 22:04] smarterclayton commented on #4848
Great - if that changes please let us know

On Nov 14, 2015, at 4:54 PM, Philippe Lafoucrière <notifications@github.com>
wrote:

#5224 <https://github.com/openshift/origin/pull/5224> fits our needs for
now. I don't see a use-case where http would be serving content different
from https. And if it was the case, it's probably worth creating a
dedicated service for that, with a dedicated route.
The i

[2015-11-15 17:32] jawnsy opened #5909 "Consider upgrading Modernizr JS library"
Hi,

On OpenShift Online, the following warning can be seen in the console (seems to appear for most pages in the webapp):

This comes from a modernizr.min.js file which has the following comment at the top:

As the latest version of the [Modernizr JS library](https://modernizr.com/news) is 3.2.0, it seems likely that this warning has been fixed in subsequent versions. Would you consider updating

[2015-11-15 22:49] paralin opened #5910 "Builder is not updating submodules"
To reproduce:

 - Create a git repository.
 - Add a submodule to it.
 - Deploy the repository using the Docker strategy (Dockerfile)
 - Update something in the submodule, git commit, git push
 - Add the update in the parent repository (git add -A git commit)
 - Push everything.
 - Trigger a build

The submodule will not be updated, while the parent repo is.

I think the solution is just to run `gi

[2015-11-15 22:52] paralin commented on #5910
In particular this command should be run after another branch is checked out.

Currently I think it will clone master, the submodule will be at the version in master, then it checks out "branch" and doesn't update the submodule.

[2015-11-15 23:17] mfojtik commented on #5910
Is this S2I builder? S2I should fetch all submodules, it uses recursive
clone.
On Nov 15, 2015 11:52 PM, "Christian Stewart" <notifications@github.com>
wrote:

[2015-11-15 23:24] paralin commented on #5910
@mfojtik Yeah, it uses recursive clone, then it checks out another branch, and builds.

There needs to be a step in there:

 - Clone recursively
 - Check out branch
 - Update submodules
 - Build

[2015-11-15 23:42] paralin commented on #5910
At https://github.com/openshift/source-to-image/blob/master/pkg/scm/git/git.go#L417

There needs to be a new function called update, which executes

`git submodule update`

and then a call at pkg/build/builder/source.go that does that command after the checkout.

[2015-11-16 00:25] liggitt commented on #5910
Would it be better to do `-b <branch> --single-branch --recursive`? Not sure if that would both save clone cost for large repos and avoid updating submodules twice (once for the master clone and once after checking out a specific branch)

[2015-11-16 00:35] paralin commented on #5910
Updating a submodule is just checking out a specific commit. It doesn't take any extra time.

[2015-11-16 01:40] liggitt commented on #5910
Not necessarily... if the submodule definition has changed between master and the newly checked-out branch, a full clone of the submodule repo could be needed.

Consider the following:
1. Your `master` branch has submodules A and B defined
2. Your `buildme` branch has submodules B and C defined

Cloning `master` with `--recursive` is a wasted clone of submodule A, since we would immediately checko

[2015-11-16 01:42] paralin commented on #5910
@liggitt That's probably a better option, yes. I can contribute the PRs towards that if you'd like.

[2015-11-16 01:55] liggitt commented on #5910
sure... might want to relocate this issue to the source-to-image repo. relevant code looks to be in https://github.com/openshift/source-to-image/blob/master/pkg/scm/git/git.go

[2015-11-16 05:19] deanpeterson commented on #3773
It seems this should already be possible with the default HAProxy router.  Can anyone provide instructions for this.  I am now running into this problem as well.

[2015-11-16 07:33] lorenzvth7 commented on #4708
I had to specify required environment variables (they're not automatically generated):
```oc new-app mysql -e MYSQL_USER=user,MYSQL_PASSWORD=pass,MYSQL_DATABASE=db```

[2015-11-16 07:33] #4708 closed

[2015-11-16 07:54] lorenzvth7 opened #5911 "wildcard dns with dnsmasq"
I have OpenShift origin installed on instances of EC2 with OS: Centos7. I have one master and 2 nodes. I have a registry, router and routes to my applications. The pod and container of my router is running on my OpenShift-master. Till now I was accessing my applications by defining them in my /etc/hosts on my real computer (not on a server).
[code]

For example (what I was doing till now):
[code]

[2015-11-16 08:10] gravis commented on #3773
Yes, solution is in #5224
and already available. @smaterclayton  We can safely close this issue. Thanks

[2015-11-16 08:15] wjiangjay commented on #5911
[code]

The error is related with ec2, since you change the dns server to the one which can not resolve *.eu-west-1.compute.internal.

And if you want use the external dns to do this, you need:
1. No changes for openshift
2. Setup external dns server, and add the data to it for "apps.example.com"
3. Change the dns server for "curl" machine, not the ec2 instance
4. `curl myapp.apps.example.com`

[2015-11-16 09:09] lorenzvth7 commented on #5911
@wjiangjay Thanks, okay I've deleted my configurations from OpenShift. The DNS-server has the same configuration as in my first post (is the ```address=/apps.example.com/52.18.xx.xx```, the IP of the openshift-server?
I went into the bash of my real computer and edited its /etc/resolve.conf to the following:
[code]

[2015-11-16 09:15] wjiangjay commented on #5911
@lorenzvth7 yes, and if you have some dns issue, you can check with dig:
`dig @52.17.xx.xx myapp.apps.example.com` to make sure dns server work well.

[2015-11-16 09:21] lorenzvth7 commented on #5911
@wjiangjay It's even not possible to access the server:
[code]

[2015-11-16 09:31] mfojtik commented on #5910
@paralin lemme know if you are interested in fixing this in S2I, I can review and merge the fix. Thanks for reporting this!

[2015-11-16 09:32] lorenzvth7 commented on #5911
When I change this:
[code]
Then I get the following when I'm curling from my real PC (I changed the nameserver)
[code]

[2015-11-16 09:42] miminar commented on #5900
#5892 partially addresses this by adding liveness probe to `docker-registry`. I'll build on top of it to add readiness checks to both registry and route pods.

[2015-11-16 09:45] wjiangjay commented on #5911
@lorenzvth7 Obviously your macbook not use 52.17.xx.xx as the dns server

[2015-11-16 09:51] lorenzvth7 commented on #5911
@wjiangjay
Weird: my ```/etc/resolv.conf``` only contains: ```nameserver 52.17.xx.xx```
I changed ```vi /etc/dnsmasq.conf``` on my DNS-server back to ```address=/apps.example.com/52.18.xx.xx (IP of OpenShift-server)```. Because It seems clear I have to refer to your OpenShift server (that one serves the apps). But 'dig' is not possible after that change. Does it have to contain apps.example.com or

[2015-11-16 09:56] wjiangjay commented on #5911
@lorenzvth7 http://www.macinstruct.com/node/434

[2015-11-16 10:14] lorenzvth7 commented on #5911
@wjiangjay I can apparently not change the dns nameserver on my real machine because I'm on a network which does not allow that. So now I want to curl from my dnsserver itself. Is that possible?
So a little overview:
OpenShift-server --> no configuration

DNS-server

 ```/etc/dnsmasq.conf``` contains ```address=/apps.example.com/52.17.xx.xx``` (IP of OpenShift Master)

[code]

```/etc/resolv.conf`

[2015-11-16 10:21] wjiangjay commented on #5911
@lorenzvth7 Or you can do this on the machine which you can change the dns server

[2015-11-16 12:53] #5911 closed

[2015-11-16 12:56] spadgett opened #5913 "Improve error message when web console can't display logs"
This error message implies that something went wrong, although it usually just means the logs are no longer available. If we don't know the real cause of the error, we might use a more generic message like "Could not load logs." I also don't like the big, empty black box with no content.

<img width="438" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11182187/

[2015-11-16 13:10] danmcp commented on #5909
@jawnsy It's probably better to open this here instead:

https://github.com/openshift/origin-server/

[2015-11-16 13:12] miminar commented on #5900
Blocked by #4339.

[2015-11-16 13:13] deads2k commented on #5897
That error suggests that the watch from etcd isn't populating the cache of roles and rolebindings in time for the next create.

It's really painful to wait for create cases.  We could add an additional check against the live etcd data before sending a deny.  With proper rate limiting (something like a max of 10 re-lookups that result in a deny per minute), that wouldn't be too bad performance-wise

[2015-11-16 13:17] miminar commented on #5116
Blocked on #4339.

[2015-11-16 13:27] jeremyeder commented on #5765
Is this working now?

[2015-11-16 13:54] jayunit100 commented on #5765
Not yet, me and Paul will be syncing on it today, discussed it some during kubecon.. I'll update this thread with notes paul had

[2015-11-16 14:26] rhcarvalho commented on #5296
Getting my hands dirty to implement this.

1. @smarterclayton could you list at least one use case for this feature? When is it meant to be used?

2. Should we add this to both `oc new-app` and `new-build`?

3. What is the intended effect of setting the `--no-build-output` flag to true? I imagine it should set buildconfig.spec.output.to to the empty string.

[2015-11-16 14:27] liggitt opened #5914 "Surface user identity claim failures to cluster admin better"
Follow up to https://github.com/openshift/origin/pull/5060

When the "claim" mapping strategy is used, authentication can fail if a user with the preferred username is already mapped to a different identity. In that case, a cluster admin may want to switch to the `add` or `generate` strategy. We should ensure the authentication error is logged appropriately, and possibly call out the existence of

[2015-11-16 14:28] jawnsy commented on #5909
Fair enough, I've opened https://github.com/openshift/origin-server/issues/6313

[2015-11-16 14:28] #5909 closed

[2015-11-16 14:30] liggitt opened #5915 "Surface user identity claim failures to user better"
Follow up to #5060

When the "claim" mapping strategy is used, authentication can fail if a user with the preferred username is already mapped to a different identity. Currently, a user experiencing that failure would get a 500 Internal Error. Internally there's a UserIdentityMapping NotFound error or a ClaimError.

The error a user receives should make better sense. Treating this case as a failed

[2015-11-16 14:35] deanpeterson commented on #3773
Great, thanks!

[2015-11-16 14:41] gravis commented on #3773
Notifications don't seem to work when I reply by email, so @smarterclayton: you can close this issue.

[2015-11-16 15:13] spadgett opened #5917 "Icon on project settings page not vertically aligned with text"
<img width="256" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11185403/9cbd8224-8c4a-11e5-8ba6-5eaf5ed06c0d.png">

/cc @jwforres

[2015-11-16 15:15] kargakis opened #5918 "API field for keeping track of all replicas for a dc"
Forked from https://github.com/openshift/origin/pull/5875#issuecomment-157041277

We need a field similar to the upstream [deployment.status.replicas](https://github.com/kubernetes/kubernetes/blob/1bcf03f3fbafd00f74e2e0a80ebbe1201e8449da/pkg/apis/extensions/types.go#L281) in order to 1) get closer to the upstream model and 2) have that field computed only in the controller where we already list al

[2015-11-16 15:18] spadgett commented on #5487
@php-coder I've added a failed message to an overview. There's a link to the deployment, which now has a logs tab. OK to close this issue?

[2015-11-16 15:21] spadgett opened #5920 "Don't request logs in UI until pod, build, or deployment has started"
We try to fetch logs when a pod, build, or deployment is still in the New or Pending phases. This will always fail. We should wait until it has started running.

/cc @jwforres @benjaminapetersen

[2015-11-16 15:23] bparees commented on #5850
Given that the sample app doc references the contributing doc for initial setup:

[code]

do we still need to do something here?

[2015-11-16 15:32] derekwaynecarr commented on #5897
I guess it's not clear to me that we should look to fundamentally change the project cache, or if we should just look to optimize the other areas that may be starving resource (deployment configs / replication controllers / etc.)  Fundamentally, any solution is going to be blocked waiting for a WATCH response from etcd.

Some thoughts that come to mind:

1. we could store openshift resources in a

[2015-11-16 16:35] benjaminapetersen commented on #5920
Got it, a watch & a `_.once(function() { })` will prob take care of this.

[2015-11-16 16:39] #5687 closed

[2015-11-16 16:59] jwforres commented on #5693
We are talking about letting you run an arbitrary docker image from the console create flow as well.  So whatever approach you take here we should make sure it will work for the console.

For reference: https://trello.com/c/fonu3qc5

[2015-11-16 17:06] jwforres commented on #5460
weird to show both when different?

[2015-11-16 18:24] #3773 closed

[2015-11-16 18:25] smarterclayton commented on #5296
1. A user should be able to set a build up to see whether the build works
against the latest code, without having to push that build somewhere else
2. Only to new-build
3. It would set spec.output.to to nil.

On Mon, Nov 16, 2015 at 9:26 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

[2015-11-16 18:26] smarterclayton commented on #4339
Do we have adequate attention on making sure this lands as fast as is possible?  This is now a serious blocking issue for a huge number of issues.

[2015-11-16 18:28] ncdc commented on #4339
We still need an upstream PR merged before we can proceed, plus code review on the origin changes.

[2015-11-16 18:34] smarterclayton commented on #4339
Timeframe on upstream pr?

[2015-11-16 18:48] ncdc commented on #4339
I just asked for an update; not sure at this point.

[2015-11-16 19:18] bparees commented on #5460
showing both feels more confusing for the user.

it seems like the public host (as defined in the master domain config) should always be a reasonable choice..       @liggitt are you thinking of a scenario where it wouldn't be?

[2015-11-16 19:23] liggitt commented on #5460
The public host certainly feels more reasonable for "webhooks". Trying to think of places you might run this where the public host wouldn't be resolveable... can't really think of any. Thing is, I'm pretty sure the CLI doesn't know the "public" hostname, only the hostname it is currently using to talk to the server.

[2015-11-16 19:26] bparees commented on #3738
fixed by https://github.com/openshift/origin/pull/5903

[2015-11-16 19:26] #3738 closed

[2015-11-16 19:33] jwforres commented on #5920
clean up the watch as part of what gets run by the _.once,  no need to keep firing something that isn't going to do anything,  also clean up the watch in the on destroy, in case it never gets fired.

[2015-11-16 19:34] jwforres commented on #5920
which actually in that case you wouldn't even need to call _.once

main point is, I don't want to have useless watches hanging around

[2015-11-16 19:56] timothysc commented on #5765
@jeremyeder b/c of the P3 prio and most tests can run, we're not going to switch focus unless folks deem it a priority.  We have other large issues that are in flight upstream that we are working on atm.  Both storage enablement and backoffs.

[2015-11-17 03:04] xuant opened #5923 "s2i builder fail to push created image into internal registry."
I'm testing S2I and met with this error today. The build is trying to push the successfully created image to the internal registry. Registry pod is running well.

[code]

[2015-11-17 11:06] pstinghua opened #5924 "registry does not have write permission when use glusterfs as back storage"

[2015-11-17 11:16] pstinghua commented on #5924
glusterfs endpoints
[code]

add registry volume
[code]

[2015-11-17 11:50] PI-Victor commented on #5850
from my perspective, i think it's ok. @php-coder PTAL and close if it's ok with you :)

[2015-11-17 13:36] eddytruyen opened #5925 "How to develop locally from version 1.1?"
I am new to using github, so appologies if I sent this question to the wrong website or forum of openshift

I think I have problems with getting the source of the lastest release of openshift 3, in particular I suspect I get the source of v1.0 and not version 1.1

I followed the instructions on https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-locally-on-your-host.

This pa

[2015-11-17 13:39] detiber commented on #5924
If you deployed with openshift_ansible it is probably related to https://github.com/openshift/openshift-ansible/pull/903

[2015-11-17 14:34] pstinghua commented on #5924
yes, but after set virt_sandbox_use_fusefs, it still have not write permision

[2015-11-17 14:51] ironcladlou opened #5926 "Improve web console handling of deployment scaling"
With #5875, the deployment scaling subresource API should be used exclusively for scaling deployments. All scaling operations should flow through the scaling API and so target deploymentConfigs (DC) rather than replicationControllers (RC) owned by the DCs.

For any views which allow direct scaling of RCs, I think we'll want to disable direct scaling of those RCs if they are owned by a DC.

@opensh

[2015-11-17 15:04] liggitt commented on #5926
or switch to scaling the parent DC...
* how responsive is that? the number displayed is from the RC replicas setting, but scaling will manipulate the DC scale subresource, which (we hope) affects the RC replicas setting fast enough to not feel laggy to the user?
* what should the UI do when a deployment is in progress?
* is it possible to easily detect a deployment is in progress?

@spadgett @jwfo

[2015-11-17 15:15] ironcladlou commented on #5926
That makes sense for the active deployment/RC, but not for any other inactive/older RC. Scaling up the latter will be weird and ineffectual (although you can technically still scale them like any other RC, the deployment controller will reconcile them later, likely undoing whatever it is you did.)

Should be in the ballpark of scaling the RC directly. Updating the replicas on the DC causes the dep

[2015-11-17 15:34] soltysh opened #5927 "Too much information presented about image streams"
Currently doing `oc describe` on an image stream will give us 3 pull specs, pointing to somehow different docker images:

[code]

`Docker Pull Spec` comes from internal docker registry, `Spec` comes from tag's spec, `PullSpec` comes from tag's status. The outcome from today's CLI meeting is we should:
1. Change `Docker Pull Spec` into something like `Following` and present there `spec.dockerImageR

[2015-11-17 15:56] bparees commented on #5247
@soltysh @jwforres fyi

[2015-11-17 16:06] bparees opened #5928 "python scl extended test failure"
[code]

https://ci.openshift.redhat.com/jenkins/job/origin_extended/303/consoleFull

[2015-11-17 16:09] bparees commented on #5928
(actually looks like this test might be failing for every image)

[2015-11-17 16:10] bparees opened #5929 "start-build --from repo extended test failure"
[code]

[2015-11-17 16:10] jwforres commented on #5247
Current state of the web console for reference

![20151117_111004_](https://cloud.githubusercontent.com/assets/1467629/11216931/dd665a7c-8d1b-11e5-825a-e433da76fb42.png)
![20151117_111020_](https://cloud.githubusercontent.com/assets/1467629/11216932/dd6656b2-8d1b-11e5-8ae3-3f7c4283ab9b.png)

[2015-11-17 16:12] bparees opened #5930 "s2i perl hot deploy extended test failure"
[code]

[2015-11-17 16:19] smarterclayton commented on #5247
Given more time (not saying we do that here), I'd make the strategy section
much more important, with Source being dramatically different than Docker
being dramatically different than custom, with a description of what it
does, and specific layout of the inputs.  I.e.:

### Docker
Build the provided source code using a direct Docker build.
FROM <base image> # updated automatically
<if custom Docke

[2015-11-17 16:25] smarterclayton commented on #5927
Suggest "Imported From" instead of "Following" for now (following is a bit
more active).  I don't think we need to show the historical tags for each
(as we discussed on the call), just the most recent, and maybe another
column in the future (Previously Tagged) that shows only the time of the
older tag.

On Tue, Nov 17, 2015 at 10:34 AM, Maciej Szulik <notifications@github.com>
wrote:

[2015-11-17 16:27] bparees commented on #5927
isn't `Docker Pull Spec:   172.30.248.198:5000/openshift/python` a push spec, not a pull spec and not an imported from?

[2015-11-17 16:28] bparees commented on #5927
nm, i see you are also going to change the information being presented.

So are we not going to present a push spec at all?

[2015-11-17 16:36] liggitt opened #5933 "thirdPartyResourceDataMapper needs to use KindToResource"
it is currently hardcoding an incorrect conversion of kind to resource:
[code]

[2015-11-17 19:58] mfojtik commented on #5929
@bparees i'm currently working on the start-build from local source, so I can look at this as well

[2015-11-17 20:05] bparees commented on #5929
@mfojtik thanks, should have assigned it to you in the first place.  i remembered @rhcarvalho had a backlog card for binary builds but forgot you had the current card for it.

[2015-11-17 20:13] smarterclayton commented on #5923
Interesting - are all your registry pods up?  What storage backend is your registry using?

[2015-11-17 22:40] jawnsy opened #5936 "Releases are exploding tarballs / tar bombs"
Hi,

At the moment, the releases downloaded via [openshift/origin/releases](https://github.com/openshift/origin/releases) are so-called "exploding tarballs" or "[tar bombs](http://www.linfo.org/tarbomb.html)."

It would be nicer if all the binaries were inside a folder in the tarball, preventing this situation:

[code]

In this case, my homedir started empty (because I used "vagrant up" to provisi

[2015-11-17 22:54] bparees commented on #5923
There's something very weird about the fact that the build was trying to push to s2i-djangoapp/djangoapp-bc:
[code]

but the docker error we got back was for the s2i-horizon/horizon-bc repository?
[code]

[2015-11-17 23:00] bparees opened #5937 "concurrent build controller integration test flake"
--- FAIL: TestConcurrentBuildControllers-2 (7.26s)
    buildcontroller_test.go:109: Error: received unexpected build status: New
FAIL

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7192/console

logs available:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7192/artifact/origin/artifacts/

[2015-11-17 23:10] bparees commented on #2821
pretty sure this is resolved since as @derekwaynecarr illustrated, you can set limits on deployment pods and build pods, as well as automatically picking up the project default limits.

@derekwaynecarr any reason not to close it?

[2015-11-17 23:14] jawnsy commented on #5925
Hey,

Not an OpenShift maintainer or contributor, so take this suggestion with a grain of salt... I'll tell you what worked for me:

I cloned directly from upstream (e.g. `git clone https://github.com/openshift/origin.git`) and then built with that (actually I just did this to use `vagrant up` to provision a VM, then downloaded the [1.1 release via the Releases tab](https://github.com/openshift/or

[2015-11-17 23:15] bparees commented on #4759
*now* it's available: https://github.com/openshift/origin/releases/tag/v1.1

[2015-11-18 00:48] xuant commented on #5923
Turns out to be my "no-proxy" flag for internal registry doesn't work for docker. If I just don't setup the http_proxy at all, the build will actually push to the internal registry. @bparees sorry about the mess, I was just trying to modify the log a little bit, forgot to modify the last one.

[2015-11-18 01:11] jawnsy commented on #3918
I must've followed the [same steps as you](https://docs.openshift.org/latest/getting_started/administrators.html#downloading-the-binary). Found this as I was seeing the same error.

For some reason, the code is trying to truncate the file according to `strace`:

[code]

Thanks to your comment about `$KUBECONFIG` being read-only, I fixed this by setting permissions to `rw-rw-rw-` (666):

`sudo chmo

[2015-11-18 01:28] #5538 closed

[2015-11-18 01:46] thoraxe commented on #2821
This is really old. I don't think it applies any longer. I believe it can be closed.

[2015-11-18 04:08] #2821 closed

[2015-11-18 05:24] deanpeterson opened #5939 "Route for service pointing to www.example.com and example.com?"
Is there a way to make a route point to both www.example.com and example.com?  Or, is there a way to add multiple routes to the same service?

[2015-11-18 08:36] mfojtik commented on #5923
@xuant no-proxy flag should work for docker. How did you set it up? Adding an env var to BuildConfig?

[2015-11-18 08:38] mfojtik commented on #5928
@bparees this is flake or permanent failure?

[2015-11-18 08:40] mfojtik commented on #5928
@bparees it seems like the test pod is stuck in `pending` state which might indicate the images are not pushed. Did we flushed the internal rhel7 registry?

[2015-11-18 09:30] mnagy commented on #5871
@stevekuznetsov fyi: https://github.com/kubernetes/kubernetes/pull/17212

[2015-11-18 09:35] mfojtik commented on #5729
@bparees I think that logs are gone by now, but I haven't seen any failures like this recently. Also based on this being a timeout, I assume that it failed to pull the image or something (so a dockerhub flake/internal registry pruned/etc?)

[2015-11-18 09:39] #4477 closed

[2015-11-18 09:39] #5695 closed

[2015-11-18 09:57] mfojtik opened #5941 "Add `--build-loglevel` option for start-build"
Would be nice to have an option for `start-build` to change the default build loglevel without actually modifying the build config manually. To make this work we just need to set the `BUILD_LOGLEVEL` env to whatever user specifies as a value.

This will help extended tests as we can verify more things in build log output without defining that env var for each build config.

Should be relatively ea

[2015-11-18 10:46] kargakis commented on #5941
Can't --loglevel already work for this?

[2015-11-18 11:09] mfojtik commented on #5941
@kargakis that will set verbosity for the `oc` command itself. IOW. i'm not interested to see HTTP requests when I want just more verbose logs

[2015-11-18 11:23] mnagy commented on #5871
After latest rebase, while running extended tests, I get spammed constantly with a lot of these:
[code]

[2015-11-18 11:47] mfojtik opened #5942 "TestConcurrentBuildControllers flake"
[code]

Source: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7200/console

[2015-11-18 11:47] mfojtik commented on #5942
@bparees FYI

[2015-11-18 11:53] kargakis commented on #5942
dupe of https://github.com/openshift/origin/issues/5937

[2015-11-18 11:57] #5942 closed

[2015-11-18 11:57] mfojtik commented on #5942
thanks @kargakis

[2015-11-18 13:24] sosiouxme commented on #1643
@deads2k I would say the message is vastly improved for the most common case:

[code]

However it's worth mentioning that this is misleading in a couple cases. One is if the file is simply empty (as with our AMIs before starting the server), another is if you've specified a bogus context:

[code]

If we wanted to be really clear, we'd distinguish between "no config file" and "no context found in y

[2015-11-18 13:28] bparees commented on #5923
@mfojtik docker proxy settings have to be configured on the node, not in the buildconfig.

@xuant can this be closed?

[2015-11-18 13:30] deads2k commented on #1643
I think that case is a little pathological.  If you use something other than `oc login` and `oc project`, you're a pretty advanced user.

In both cases, the advice to login is good.

[2015-11-18 13:30] #1643 closed

[2015-11-18 13:31] bparees commented on #5928
@mfojtik don't know if the registry was flushed, you can check the push job to see if it ran recently, i got Dan to schedule the push job to run whenever the registry gets flushed.

and I think it was a flake, but not sure, i didn't go digging through the history of extended builds to see.

[2015-11-18 13:31] mfojtik opened #5944 "The httpProxy and httpsProxy settings does not work when source URI has git:// prefix"
@bparees I'm addressing this in https://github.com/openshift/origin/pull/5573

Basically, when you have git:// prefix GIT will just ignore the HTTPS/HTTP proxy settings.
See: http://stackoverflow.com/questions/27856378/bower-cant-fetch-packages-through-proxy-git-is-working-fine

Update:

To fix this, we should validate the BuildConfig.Source and check the URI when the http(s)Proxy fields are set.

[2015-11-18 13:32] bparees commented on #5729
i don't think we want retry built into s2i (if anything we want less clone intelligence there, not more).

will close this as a potential github flake for now.

[2015-11-18 13:32] #5729 closed

[2015-11-18 13:58] #5189 closed

[2015-11-18 14:25] php-coder commented on #5487
@spadgett Thank you, now it looks more informative!

Where is this link? `#10`? If I click on the `FAILED` will it open the logs?

Yes, I'm closing it.

Thanks!

[2015-11-18 14:25] #5487 closed

[2015-11-18 14:30] php-coder commented on #5460
Yes, this is why this ticket is still open -- I cannot find a way how to get the public host parameter on the client.

[2015-11-18 14:31] liggitt commented on #5944
git:// shouldn't use httpProxy/httpsProxy... it's not http-based

[2015-11-18 14:33] liggitt commented on #5944
Further details at https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols#The-Git-Protocol

I don't think this is an issue

[2015-11-18 14:34] mfojtik commented on #5944
@liggitt this is issue when you set the proxy. Or we should document to use only https:// when behind proxy?

[2015-11-18 14:35] liggitt commented on #5944
if `git clone git://...` doesn't make use of http_proxy/https_proxy envvars, we shouldn't make it do so in the container, imo

[2015-11-18 14:35] mfojtik commented on #5944
@liggitt the PR I have will first detect that you set HTTPS_PROXY up. If that is true and you have the git:// prefix in URL, I execute the git config command to translate it into https.

[2015-11-18 14:36] liggitt commented on #5944
You can't assume https is available... they may have surfaced the repo over https, but may not have

[2015-11-18 14:37] mfojtik commented on #5944
@liggitt so if you are behind proxy and just copy&paste the git:// url from github you will be broken until you change it to https://

I would rather try https than failing and telling user to manually switch to https.

[2015-11-18 14:42] liggitt commented on #5944
That has the potential to break things that would otherwise work, and is doing things with http_proxy/https_proxy that git itself doesn't do, right? I don't want to go down that road.

[2015-11-18 14:48] mfojtik commented on #5944
@liggitt I'm not sure I agree here. The check (and clone) will fail anyway without this. If the HTTPS_PROXY is set and the URL starts with git:// the build just error out with connection refused (if you have no connection other than via proxy). It will succeed but will not wire through proxy (which might not be what you want).

Rewriting this to https (only when the proxy is set) is what >80% user

[2015-11-18 14:49] liggitt commented on #5944
How does git expect you to proxy git:// urls? We should do that, not switch to https

[2015-11-18 14:49] mfojtik commented on #5944
@liggitt + we print that we are rewriting the URI to https:// into build logs so you will see what is going on.

[2015-11-18 14:50] mfojtik commented on #5944
@liggitt  https://gist.github.com/sit/49288 :-) this is what I found when I was googling it

[2015-11-18 14:51] csrwng opened #5945 "panic on 'oc status' when BuildConfig with no output exists"
After creating a build config with no output:

[code]

Run 'oc status', you get:
[code]

[2015-11-18 14:51] csrwng commented on #5945
@gabemontero

[2015-11-18 14:51] mfojtik commented on #5944
@liggitt full article: http://www.emilsit.net/blog/archives/how-to-use-the-git-protocol-through-a-http-connect-proxy/

I think this is uglier than rewrite ;-)

[2015-11-18 14:53] liggitt commented on #5944
beautiful and incorrect is still incorrect :)

[2015-11-18 14:56] mfojtik commented on #5944
@liggitt it would be incorrect to do this without telling user what we do, but we do tell and it actually make the user experience better than spending hours googling and trying to get the git:// via `httpsProxy` field work to realize that git:// does not support them and you have to use `https://` (in most cases)

[2015-11-18 15:16] mfojtik commented on #5944
@liggitt how about this:

We won't allow you to create BC that has URI with git:// protocol and in the same time http(s)Proxy field set. It will be validation error. In that case we fix the case git:// might succeed but it is not wired via proxy.

[2015-11-18 15:19] bparees commented on #5945
@gabemontero since you're already mucking about in oc status, can you fix this while you're at it?  thanks.

[2015-11-18 15:24] bparees commented on #5944
Validation error (and documentation update) definitely sounds like a better way to go than rewriting user provided urls.

[2015-11-18 15:37] liggitt commented on #5944
I would be fine with validation preventing proxy settings with git:// URLs, or logging warnings/errors if http_proxy/https_proxy is used with a git:// URL, but attempting anyway

[2015-11-18 15:39] mfojtik commented on #5944
@liggitt I think warnings are tricky because they might not be spotted in the build logs. Also if we run the build with proxy + git:// protocol and that build actually succeeded, we are silently bypassing the proxy user set which might not be good.

[2015-11-18 15:41] bparees commented on #5944
@mfojtik +1, ignoring the proxy setting would be bad.  if it only works for https/http then let's enforce that in validation and update the docs.

[2015-11-18 15:43] jpechane opened #5946 "Combination of http and passthrough routes bound to the same host confuses ha-proxy"
Use route configuration

[code]

Haproxy creates record in  os_sni_passthrough.map and os_tcp_be.map instead of http and passthrough

[2015-11-18 15:54] liggitt commented on #5933
oops, meant to open against upstream

[2015-11-18 15:54] #5933 closed

[2015-11-18 16:01] kargakis opened #5947 "oc autoscale"
Upstream added an autoscale command that adds autoscaling for replication controllers and deployments. We may want to re-use it and make it work for dcs too.

Should be as simple as bundle the command and do something similar to https://github.com/kubernetes/kubernetes/pull/17269

@ironcladlou @DirectXMan12 @smarterclayton @ncdc

[2015-11-18 16:04] smarterclayton commented on #5947
Does it support non-Kube resources yet?  :)

On Wed, Nov 18, 2015 at 11:01 AM, Michail Kargakis <notifications@github.com

[2015-11-18 16:05] ncdc commented on #5947
Not the last time I looked

[2015-11-18 16:06] miminar commented on #5559
This looks like network related. Do we want to ignore `connection reset by peer` or skip it if `https://registry.access.redhat.com/v2/` is unavailable/unresponsive?

Seems like a rare flake. I've found just one newer [occurrence](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/6881/console).

[2015-11-18 16:22] kargakis commented on #5947
What should support non-Kube resources?

[2015-11-18 16:22] eddytruyen commented on #5925
Below you find some additional info on my problem

ping to IP of docker registry failed, but ping to endpoint worked:

[fedora@openshift-master amd64]$ oc login
Authentication required for https://localhost:8443 (openshift)
Username: test-admin
Password:
Login successful.

You don't have any projects. You can try to create a new project, by running

    $ oc new-project <projectname>

[fedora@open

[2015-11-18 16:26] kargakis commented on #5947
I see that the hpa controller is working with scale subresources (and we have one for dcs). As for the command, that's what the factory is for.

[2015-11-18 16:30] PI-Victor commented on #5925
@eddytruyen Heya, i see you already forked the project, what you want to do at this point is add the upstream branch to it so that you can fetch the latest changes.
In your origin fork git repo, do this
`git remote add upstream https://github.com/openshift/origin`
your fork is behind the upstream, personal forks don't track upstream changes so you have to fetch them in your git repo and push them

[2015-11-18 16:52] withinboredom opened #5949 "Documentation for starting a router is incorrect"
Is there anyway to debug what is going on in the router? I get a 503, but the route appears to be registered:

[code]

[code]

[code]

[2015-11-18 16:54] thesteve0 commented on #4024
@rhcarvalho  if we had a valid JSON schema we could actually at least allow the proper nesting of elements and also give hints like "oneOf:" and regex's for the form.

[2015-11-18 17:00] #5640 closed

[2015-11-18 17:15] rhcarvalho commented on #4024
@thesteve0 thanks for the comment, I've extracted it into a docs issue -> https://github.com/openshift/openshift-docs/issues/1220. Please comment if you have further ideas or clarification.

[2015-11-18 17:48] thesteve0 opened #5952 "Icons and connecting lines are not dark enough in network view"
For the web console, the icons and the connecting lines are not dark enough making them hard to see. Particular standouts are the route icon, the deployment config, and the connecting lines.

Please increase the contrast of these pieces with the diagram.

![screenshot from 2015-11-18 09-47-06](https://cloud.githubusercontent.com/assets/1404099/11249056/7ab2d752-8dd9-11e5-9508-5d74c538cd8b.png)

[2015-11-18 18:10] withinboredom commented on #5949
By following the instructions [in the admin guide](https://docs.openshift.com/enterprise/3.0/admin_guide/router.html) I was able to see this in the router:

[code]

[2015-11-18 18:51] eddytruyen commented on #5925
Thanks for the helpful info! I will try it asap. I can't use vagrant because I have installed openshift on an openstack instance.
On this openstack instance paravirtualization is not possible. So virtualbox will not work correctly.

[2015-11-18 19:10] xuant commented on #5923
@bparees yes plz

[2015-11-18 19:34] #5923 closed

[2015-11-18 19:48] eddytruyen commented on #5925
After fetching 1.1 I still run into the same problem that I can't push an image to the private docker registry.

Here is some info:

1) I  have installed openshift on fedora21

2) I have added 2 options in etc/sysconfig/docker:
# /etc/sysconfig/docker
other_args="'--selinux-enabled --insecure-registry 172.30.0.0/16"

3) Results of oc describe registry:

Name:                   docker-registry
Name

[2015-11-18 19:51] PI-Victor commented on #5925
just a thought, did you try disabling the firewall?

[2015-11-18 20:00] thesteve0 commented on #4024
Nope, I want the enum in the schema - not just in the doc. Would be good to
have in the doc but if you also put it in the schema then the doc can
autogenerate it and it can be checked with tooling.

On Wed, Nov 18, 2015 at 9:15 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

[2015-11-18 20:30] eddytruyen commented on #5925
I think I did disable the firewall. I just did it again.
I also put SELinx into permissive mode and rebooted.
Unfortunately, the problem remains.

[2015-11-18 20:56] withinboredom opened #5954 "Stopping the router actually deletes it"
Running `oc stop all -l router=default` deletes all the resources.

[code]

This may be intentional, but was unexpected.

[2015-11-18 22:05] jimmidyson commented on #3667
Is this going to be given any time? This endpoint is really useful for a snapshot of component status in a kubernetes cluster, one shot request to get a quick snapshot of component health.

[2015-11-18 22:08] liggitt commented on #3667
it's not the most pressing thing on the list... an upstream issue to extract those assumptions would probably be a good place to start

[2015-11-19 01:22] ramr commented on #5900
@smarterclayton  we can do it by checking the router itself - aka check port `80/443`. Currently, we have a liveness probe for haproxy  and can add a readiness one which is same/similar.

However, the waiting for members to be ready in rotation will probably not work for the router case ... won't be correct to wait for multiple routes + multiple backends to all be available as some routes might be

[2015-11-19 01:49] ramr commented on #5939
@deanpeterson currently we only allow a single host spec per route - see: https://github.com/openshift/origin/blob/master/pkg/route/api/types.go#L21

So the way to do create multiple routes to the same service is to create 2 different routes - see example for ```header.test``` and ```www1.header.test``` to the same service named ```header-test```.

[code]

[2015-11-19 01:59] ramr commented on #5900
Ignore previous comment, didn't realize @miminar already had a PR for this - thanks @miminar

[2015-11-19 02:58] withinboredom commented on #5949
The page in the documentation [on docs.openshift](https://docs.openshift.org/latest/install_config/install/deploy_router.html) is incorrect.

Instead of:

[code]

According to the [github docs](https://github.com/openshift/origin/blob/master/docs/routing.md), instead of `$KUBECONFIG`, it should be `${CONFIG_DIR}/master/openshift-router.kubeconfig`

Using the `$KUBECONFIG` causes the router to not

[2015-11-19 04:46] gravis commented on #4711
I'm having the same issue with an `EmptyDir` volume.
The volume doesn't seem to be mounted when the command executes, resulting in a real "EmptyDir" for the pod.
I tried to add the `volumes` field to the `execNewPod` with no success.

[2015-11-19 09:30] PI-Victor commented on #5925
@eddytruyen what version of docker are you using? it seems you're not the only one that is reporting this issue. for what i understand this happens in docker 1.9 but is okay in docker 1.8.2.

[2015-11-19 10:43] jkhelil opened #5960 "Deploying registry failed behind a http proxy"
I have installed origin v3 on openstack. Our openstack infrastructure get to internet through a proxy (I a m on a entreprise context, security relies a lot in our context).
Deploying internal registry on openshift failed with theses messages even if I set the https and http proxy environment variable

[root@os-master ~]# openshift version
openshift v1.0.8-1-g8f1868d
kubernetes v1.1.0-origin-1107-g

[2015-11-19 12:13] eddytruyen commented on #5925
@PI-Victor I launched a clean and up-to-date Fedora 21 instance on openstack, I installed docker 1.8.2 and other prerequisites. I coudn't install and execute docker-storage-setup (as specified in Prerequsiites).

I download the binary v1;1 into home dir and deployed private registry using the following commands:

sudo chmod a+rw openshift.local.config/master/openshift-registry.kubeconfig
sudo chmo

[2015-11-19 12:54] PI-Victor commented on #5925
seems that we do have heat templates, give this a try: https://github.com/redhat-openstack/openshift-on-openstack
@rhcarvalho @mfojtik any of guys have a clue why the openshift registry upload would fail with that error above? i'm out of ideas. i was thinking bad user permissions or something, but it seems it's not that.
selinux, insecure-registry and the firewall have been properly configure, so

[2015-11-19 13:39] eddytruyen commented on #5925
I asked some linux expert for input and he said that the linux kernel routing table did not include the 172.30.x.x. address but did include the 172.18.x.x. address. So pushing the image that IP address should resolve the issue?

Below you find the commands the linux expert executed

[fedora@openshiftmaster2 ~]$ ./oc describe service docker-registry --config=openshift.local.config/master/admin.kube

[2015-11-19 14:05] jwforres opened #5964 "Allow overriding environment variables and log level during start build from console"
See https://github.com/openshift/origin/pull/5961

[2015-11-19 14:24] ironcladlou commented on #4711
@gravis which version of origin are you using? There was a bug (fixed in #5664) where the `volumes` were copied to the hook pods, but not the `volumeMounts`. Can you dump the YAML for your broken hook pod and your deploymentConfig so we can reconcile differences?

[2015-11-19 14:51] gravis commented on #4711
I'm using openshift 1.0.8, maybe it was fixed in 1.1 only?

Thanks

[2015-11-19 14:54] ironcladlou commented on #4711
@gravis I believe #5664 is part of 1.0.8. Can you provide your full deploymentConfig YAML as well as the YAML for the broken hook pod?

[2015-11-19 14:54] thoraxe opened #5966 "include link to "more details" on details pane"
I noticed that in the topology view there's no easy way to go directly to an object's page (eg: the pod overview page with the metrics, logs, etc. tabs).

When you select an item in either the overview or the topology view, some details are presented in the right-hand details pane. It would be nice if there was a link to "more details" that then took you to the details page for that particular ite

[2015-11-19 15:03] gravis commented on #4711
I dont' want to publicly share this, can I leave a private message somewhere to you?

[2015-11-19 15:09] #5945 closed

[2015-11-19 15:12] ironcladlou commented on #4711
@gravis absolutely; feel free to email me directly using dmace@redhat.com

[2015-11-19 15:17] #4564 closed

[2015-11-19 15:17] #5944 closed

[2015-11-19 15:20] gravis commented on #4711
@Dan: I get it.
If the prehook is executed in a dedicated pod, the EmptyDir is attached to
this pod only, and lost after the pod is destroyed.
This pod should (must?) become the final pod deployed, but I'm not 100%
sure it's the case currently
​

[2015-11-19 15:29] ironcladlou commented on #4711
@gravis yeah, that's it. EmptyDir isn't reusable across pods. You need to use something backed by shared storage, a persistent volume, etc.

[2015-11-19 15:39] PI-Victor commented on #5925
no, i have exactly the same config as you. 172.30.x.x  isn't in my routing table either

[2015-11-19 15:42] gravis commented on #4711
That's too bad. the `EmptyDir` fits exactly this need (store and share generated assets). If we replace that with a persistent volume, we will corrupt the files as soon as the replica will have more than 2 pods :(

[2015-11-19 15:52] gravis commented on #4711
I think I understand, os can't exec a pre command, BEFORE the actual pod command.
If the container is `created`, it's not running, hence we can't exec the pre hook inside.
Makes sense. Probably worth a bit of explanation in the doc :)

[2015-11-19 17:01] deanpeterson commented on #5939
Thank you, that works!

[2015-11-19 17:01] #5939 closed

[2015-11-19 17:58] mfojtik commented on #5925
v2 ping attempt failed with error: Get https://172.30.248.152:5000/v2/: tls: oversized record received with length 20527

this is interesting. @ncdc any ideas?

[2015-11-19 17:59] ncdc commented on #5925
That means it's either not listed as an insecure registry, or it's not being respected as insecure. Oversized tls record length errors like this mean it's trying to talk https to an http endpoint.

[2015-11-19 18:18] rhcarvalho commented on #5841
@bparees could you split this into 2 issues and assign me to the mongodb half?
When @mnagy's PR merges it can close the postgresql half.

[2015-11-19 18:28] #5929 closed

[2015-11-19 18:58] ramr commented on #5949
@withinboredom  hmm, ok. So what is the `KUBECONFIG` environment variable set to? Is it empty?
That could cause issues. The admin user should have the access of course as long as the  `KUBECONFIG` environment variable pointing to a valid config `admin.kubeconfig`.  Thx

Will update the docs to say use an appropriate kubeconfig file if `KUBECONFIG` is not set.

[2015-11-19 19:33] bparees opened #5969 "need mongodb extended tests"
We should have extended tests for mongodb like we do for mysql.

Further more i'm not sure the existing mysql test is sufficient since it just looks for endpoints but doesn't actually confirm the pods is successfully running.

[2015-11-19 19:33] bparees commented on #5969
@pmorie fyi

[2015-11-19 19:34] bparees commented on #5841
@rhcarvalho done: https://github.com/openshift/origin/issues/5969

@pmorie also fyi.

[2015-11-19 20:27] withinboredom commented on #5949
$KUBECONFIG would be set to the admin.kubeconfig which is **wrong** it should be pointing to openshift-router.kubeconfig

[2015-11-19 20:32] kargakis commented on #5954
stop is actually deleting things instead of just stopping them. It has been deprecated though in favor of delete.

[2015-11-19 20:32] kargakis commented on #5954
@withinboredom do we use stop anywhere in our docs? If so, we should update to delete.

[2015-11-19 20:34] kargakis commented on #5855
:alien: :alien: :alien:

[2015-11-19 22:09] #5517 closed

[2015-11-19 22:44] simon3z opened #5973 "Admin role is not allowing the head verb"
The `admin` role (and probably other), cannot use the `head` verb:

    curl -v -k -H 'Authorization: Bearer <token>' -X HEAD \
      https://<apiserver>:8443/api/v1/namespaces/<namespace>/pods/<pod>
    < HTTP/1.1 403 Forbidden
    < Cache-Control: no-store
    < Content-Type: application/json
    < Date: Thu, 19 Nov 2015 22:39:59 GMT
    < Content-Length: 384

This may not be particularly intere

[2015-11-20 00:48] urashidmalik commented on #5960
Getting same error with ansible installer on Vagrant : opened https://github.com/openshift/openshift-ansible/issues/942

[2015-11-20 06:32] ramr commented on #5946
@jpechane  that looks correct because both the routes have the same hostname `ws.jpechane.cloudapps.example.com`

and the algorithm for multiple routes w/ the same name causes the oldest route to win and in this case the route for the passthrough termination wins  and really is the equivalent of this config:

[code]

[2015-11-20 06:36] ramr commented on #5946
Do you want to add an secure (passthrough) + unsecure route?  The only way to currently do that is have a secure edge terminated route and use an insecure edge termination policy on that route that  allows traffic on the insecure scheme (aka `http`).
See: https://docs.openshift.org/latest/architecture/core_concepts/routes.html#secured-routes  for more details - example 7 and 8 in particular.

 Doe

[2015-11-20 06:43] ramr commented on #5949
I'll fix the docs to say router config - its true that is better thing to use anyway.

But your comment on `$KUBECONFIG` not working/causing the haproxy router to not work was what threw me off. Its probably something in your setup ... because using the path to admin.kubeconfig also works - there's nothing wrong with using that (not recommended true but the instructions still work).

[2015-11-20 08:25] lorenzvth7 opened #5977 "SSL termination method: Reencrypt is not recognized"
I want to create a secure route to my application using the termination method reencrypt.
I already did it for the edge and the passthrough-method and they are both working.
In the beginning, reencrypt is very similar to edge. So the first thing I'm doing is editing my existing route and changing the tls determination method:
[code]
When I want to save this I get this error:
[code]
(I know I did n

[2015-11-20 09:35] mfojtik opened #5978 "Allow to annotate the build started manually"
Related discussion: https://github.com/openshift/origin/pull/5961#issuecomment-158159105

This will work similar to the `-e` parameter, but will accept a list of annotations that will be applied to the build output image (if the build output is set).

It should also be added as label to the Build object itself. Alternatively we can copy all labels from the Build object to the Docker image.

We mig

[2015-11-20 09:35] mfojtik commented on #5978
@smarterclayton @bparees FYI

[2015-11-20 12:46] spadgett opened #5979 "Service page should link to routes page"
We show the routes for the service, but we have no link to the route's page in the web console with additional route details.

<img width="706" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11300146/9fb07136-8f5a-11e5-952f-cf4b0fcf89d4.png">

/cc @jwforres

[2015-11-20 13:14] deads2k commented on #5973
I'm assuming this permission is leading to the `ClusterRole` here: https://github.com/simon3z/manageiq.org/blob/containers-docs/source/documentation/getting-started.html.md#service-accounts ?

[2015-11-20 13:15] deads2k commented on #5973
@liggitt You want to explicitly list the `head` verb or assume that our API works correctly and power to `get` implies power to `head`

[2015-11-20 13:16] simon3z commented on #5973
@deads2k correct (there should be a note in that doc to this Issue).

Adding `head` didn't work for me. Maybe I overlooked something (or maybe `head` is not expected as verb).

[2015-11-20 14:41] bparees commented on #5978
@mfojtik please don't do any work on this until we determine how we actually want to implement build pipelines.

[2015-11-20 15:15] mfojtik commented on #5978
@bparees yeah, I'm holding off this till we reach some agreement/have some user stories out.

[2015-11-20 15:46] liggitt opened #5984 "`openshift ex diagnostics --help` should list available diagnostics"
Currently, you have to specify `-d InvalidValue` to be told what the valid values are

cc @sosiouxme @rjhowe

[2015-11-20 16:42] sosiouxme commented on #5984
The standard mechanism of putting possible values with the parameter seemed like a bad idea once the list of diagnostics gets long. They should probably be listed separately.

[2015-11-20 16:45] liggitt commented on #5984
Can be part of the long desc

[2015-11-20 16:54] jcantrill opened #5986 "oc rsync provides odd message for pod in pending state"
[code]
I would have expected some other message.

[2015-11-20 18:28] jwforres opened #5988 "checklist for improving console accessibility"
### Overview / Pod templates / Status and Scaling Donuts
- [x] scale down link has no tooltip when disabled, we should also properly disable the link, right now its just visually disabled
- [x] pod status has nothing except "Pod status:" in the screen reader only content, suspect something broke here ( fixed in https://github.com/openshift/origin/pull/6117 )
- [ ] overview view switcher is not key

[2015-11-20 18:32] jwforres commented on #5988
cc @benjaminapetersen @spadgett @liggitt @fabianofranz @jhadvig @sg00dwin dumped this in one large checklist for now, we should look at breaking off smaller chunks of this when we are doing other work in these areas.

[2015-11-20 18:33] deads2k opened #5989 "test-cmd flake: Waiting for command to finish: 'oc get is ruby-20-centos7 | grep latest'..."
@csrwng @bparees

[code]

[2015-11-20 18:38] bparees commented on #5989
apparently 10s isn't enough time for the registry to do it's importing?  i'll bump the timeout.

[2015-11-20 18:57] liggitt commented on #5973
@simon3z `head` method wasn't handled at all. https://github.com/openshift/origin/pull/5985/files#diff-d8a717a6f0dc0916348eea8de58caac5R505 maps it to "get" for API requests

[2015-11-20 19:37] ramr commented on #5954
@kargakis  - there's some in the docs at: https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html#application-modification-cli-operations

which will needs updating.

[2015-11-20 19:53] ramr commented on #5946
@danmcp  I can't update the labels on this issue - this one needs an enhancement tag. Thx

[2015-11-20 19:59] spadgett opened #5994 "Route path is shown in both hostname and path fields in UI"
If we have the path in the hostname, we can remove the path field below.

<img width="351" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11310375/309d605a-8f97-11e5-8233-849851ff9f41.png">

/cc @jwforres

[2015-11-20 20:18] bparees opened #5995 "gitauth extended test failing"
[code]

https://ci.openshift.redhat.com/jenkins/job/origin_extended/317/consoleFull

[2015-11-20 20:20] kargakis commented on #5954
@ramr opened https://github.com/openshift/openshift-docs/pull/1241

[2015-11-20 20:38] jwforres commented on #5994
So this was intentional from the perspective that I wanted users to know
path is a separate configurable field.  Maybe the link next to hostname
should include the path in the href but not show it visually.
On Nov 20, 2015 2:59 PM, "Sam Padgett" <notifications@github.com> wrote:

[2015-11-20 21:10] spadgett commented on #5994
It seems a little odd that the path is in a value labeled hostname. We're already hiding the protocol in the link text, so I'd vote for hiding the path, too.

[2015-11-20 22:27] smarterclayton commented on #5978
The data I had envisioned was annotations.  Labels are relevant for a subset of use cases, so I would like to see that set before it's clear

[2015-11-20 23:14] ramr commented on #5954
Thx @kargakis  - this can be closed once @adellape merges the docs PR.

[2015-11-21 00:05] goraxe commented on #5327
Just as a 'me too' comment, I'm also seeing a similar issue where I have a BuildConfig, ImageStream, DeploymentConfig and I'm not seeing the trigger occur after a build and attempting a manual deploy results in failure due to attempting to pull library/<image>

[2015-11-21 01:09] #5850 closed

[2015-11-21 02:16] #5941 closed

[2015-11-21 03:11] bparees commented on #5989
[code]

even with a 60s timeout the imagestream isn't showing up.

[2015-11-21 03:21] #5973 closed

[2015-11-21 04:25] #4172 closed

[2015-11-21 06:01] chmouel opened #6001 "Secure delete when recycling"
We used to have 'shreding' of the files when recycling files of a PV :

https://github.com/openshift/origin/commit/ac8cee50ce7dc55f44f03fe8d6bbcdc2afb8f08c#diff-cc1688e32a2e8c141eb5ef80bcabdfdfL30

but since this was changed to a binary, it now uses just a simple Remove :

https://github.com/openshift/origin/commit/ac8cee50ce7dc55f44f03fe8d6bbcdc2afb8f08c#diff-eda26588662d12c1173c056f4541d14eR14

[2015-11-21 10:37] smarterclayton commented on #5327
Can you paste your deployment config / build config / image stream yaml (oc
get dc/foo is/foo bc/foo -o yaml) ?

On Nov 20, 2015, at 7:05 PM, goraxe <notifications@github.com> wrote:

Just as a 'me too' comment, I'm also seeing a similar issue where I have a
BuildConfig, ImageStream, DeploymentConfig and I'm not seeing the trigger
occur after a build and attempting a manual deploy results in failu

[2015-11-21 12:18] liggitt commented on #6001
The shred documentation has a long list of filesystems and conditions in which it does not work as advertised. For many (most?) of the persistent volume types we support, writing zeros to a file would not actually overwrite the same data blocks on disk. @eparis, care to weigh in?

[2015-11-21 12:22] liggitt commented on #6001
cc @markturansky

[2015-11-21 14:30] gorg3b opened #6002 "Build of Dockerfile Fails no Network connectivity"
When building a new Image from a Dockerfile, since there seems to be now Network connectivity. Other Running pods in the Namespace seem to Work fine.
Problem only occurs with Docker 1.8.2

oc version
oc v1.0.8-1-g8f1868d
kubernetes v1.1.0-origin-1107-g4c8e6f4

Thanks for the help

[2015-11-21 14:31] markturansky commented on #6001
@chmouel for 3.2 we're planning the ability to configure many types of recyclers that match volumes by selector.  Is the ability to provide a custom recycler sufficient for you to shred files, etc.?

[2015-11-21 23:00] sdodson commented on #5290
@fabianofranz Any thoughts on bundling completions for users who download the client only?

[2015-11-21 23:50] smarterclayton commented on #5290
I assume we're just going to have an oc config autocomplete or something?

On Nov 21, 2015, at 6:00 PM, Scott Dodson <notifications@github.com> wrote:

@fabianofranz <https://github.com/fabianofranz> Any thoughts on bundling
completions for users who download the client only?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5290#issuecomment-15868902

[2015-11-22 03:57] withinboredom opened #6005 "Persistent volume won't mount"
I have a template I'm writing that has a persistent volume claim that looks something like:

[code]

The Persistent volume definition looks something like:

[code]

However, I find this in the logs:

[code]

I should also add that this is the first time openshift has tried to mount this, and there are already files present in the mount location (/export/persistent) ... dunno if that helps or not.

[2015-11-22 04:05] withinboredom opened #6006 "oc delete all should actually delete all"
When putting a label on a persistent volume claim and doing `oc delete all -l some=label` the pvc still remains. This seems to create issues when using templates that have claims in them, ie, `oc delete all -l template=jenkins`

[2015-11-22 04:21] liggitt commented on #6006
Dupe of https://github.com/openshift/origin/issues/3740

[2015-11-22 04:21] #6006 closed

[2015-11-22 04:23] liggitt commented on #6005
@markturansky

[2015-11-22 20:12] gorg3b commented on #5924
had the same problem, fix was to change the posix permission inside the mounted volume (eg on glusterfs server)
chmod 777 .
did the trick

[2015-11-22 20:19] #5989 closed

[2015-11-22 23:58] #5335 closed

[2015-11-23 00:22] benbarclay commented on #5796
Also seeing this behaviour when following the Advanced Install method to spin up a dev cluster.

[2015-11-23 08:47] #6002 closed

[2015-11-23 08:47] gorg3b commented on #6002
new instance...

[2015-11-23 08:50] chmouel commented on #6001
@markturansky custom recycler would be awesome, would that be for 3.1.x ?

[2015-11-23 10:24] rawlingsj commented on #2026
+1 - it would be great to see this happen.

[2015-11-23 10:36] jstrachan commented on #2026
I'm wondering if OpenShift should follow the GKE approach of respecting the `type: 'LoadBalancer` on the Service; if that type is set to `LoadBalancer` then auto-create a Route?

Then as a developer making a service which needs an external load balancer (like a web app), you'd just set `type: 'LoadBalancer'` and know your service will work properly on at least GKE and OpenShift. Then any other kub

[2015-11-23 10:50] stefwalter commented on #5952
To fix this, I'll be making the links both darker, and changing the dotted lines to dashes. An example (this screenshot is of the same component, albeit not in openshift).

![screenshot from 2015-11-23 11-49-33](https://cloud.githubusercontent.com/assets/795070/11334899/57f0a174-91d8-11e5-820a-795ab44fbda8.png)

[2015-11-23 10:55] jpechane commented on #5946
Hi, this worked on 3.0.x. A use case can be web service deployed on EAP that is accessible via https but it wants to publish its WSDL over http.

[2015-11-23 13:41] deads2k opened #6013 "disable test-cmd.sh colors based on tty"
Piped and redirected output using the new commands is really hard to read because of the colors.  Add a flag to disable and try to detect if there's a tty.  Without one, don't do colors.

[2015-11-23 13:56] stevekuznetsov opened #6014 "os::cmd::expect_* expands variables when it shouldn't"
Found while translating [this line](https://github.com/openshift/origin/blob/master/test/cmd/volumes.sh#L18) from:
[code]
to
[code]

This fails with `test/cmd/volumes.sh: line 19: ecret: unbound variable`.

The path of the command as it is routed through the helper methods is `"${cmd}"` in [`os::cmd::expect_failure_and_text`](https://github.com/openshift/origin/blob/master/hack/cmd_util.sh#L41), `

[2015-11-23 14:07] wattsteve commented on #4211
+ @erinboyd

To the best of my knowledge, in a non-containerized (traditional) MongoDB environment, you don't use network storage for individual MongoDB instances. Why are we trying to do so just because Mongo is running in containers? Shouldn't you just be specifying a HostPath Volume Plugin in your MongoDB RC and problem solved?

[2015-11-23 14:21] fabianofranz commented on #5290
`oc login` could perform the check and update along with the config file handling, and we could have an explicit command to force it manually, `oc config complete` like @smarterclayton mentioned, for example.
@sdodson I agree this is for the UI team, @danmcp please reassign?

[2015-11-23 14:25] withinboredom commented on #6005
IMHO, it should fail the deployment if it can't mount a PV correctly instead of showing up to the rest of the openshift stack that "everything is good" ... it can result in the rest of the deployed application being in a VERY inconsistent state that may be unrecoverable.

[2015-11-23 14:55] Miciah commented on #6014
In the first snippet, you have single-quotes `'$ecret'` inside the command for a command substitution `$()`.  In the second example, you have single-quotes `'$ecret'` inside a double-quoted string.  In a command, single-quotes quote; inside a double-quoted string, single-quotes are just literal single-quotes, so they don't prevent Bash from interpolating variables.

[2015-11-23 14:55] stevekuznetsov commented on #6014
On further thought I *think* this is working as expected, as `" ... '\$ecret' ... "` is actually passed into the first function as `" ... '$ecret' ... "`. The above issue can be solved by using single quotes `''` around the entire clause and *not* using quotes around `'$ecret'`. In this case, this is fine as the single quotes aren't necessary for the flag. However, in another case, they are:
[code

[2015-11-23 14:58] stevekuznetsov commented on #6014
More clearly, we need to quote the entire string `oc describe secrets/dockercfg | grep "dockercfg:" | awk '{print $2}' > ${HOME}/dockerconfig` but *also* need single quotes around the `awk` parameters *and* would like to not have to use `\$` to keep the var from being expanded.

[2015-11-23 15:00] liggitt commented on #5290
not sure I want `login` to do that... config file is within it's set of responsibilities... autocomplete installation probably isn't

[2015-11-23 15:02] markturansky commented on #6005
@withinboredom I'll find the nil pointer, Rob, and let you know.

[2015-11-23 15:04] withinboredom commented on #6005
Thanks man, I like your profile pic, looks just like you :p

[2015-11-23 15:11] stevekuznetsov commented on #6014
I'm not particularly happy with this solution, but `' ... '"'"' ... '` works.

[2015-11-23 15:30] benjaminapetersen opened #6016 "Enhance the alerts service in the web console"
Original discussion on [this PR](https://github.com/openshift/origin/pull/5953).

Creating an Alerts service would provide us another way to keep `$scope` out of our services but still update the UI with important events. Usage could be something like this:

[code]

Since alerts seem to be context oriented, we would have to update the alerts directive to use the alerts service to get its data, rat

[2015-11-23 15:34] benjaminapetersen opened #6017 "Update breadcrumbs directive to provide defaults"
The breadcrumbs directive can probably assess `$routeParams` on its own & generate sensible defaults in most contexts, allowing us to eliminate some more code in our controllers.  We could still allow `$scope.breadcrumbs` to be set if we wanted to provide an override option.

[2015-11-23 15:38] rhcarvalho commented on #4211
@wattsteve thanks for weighting in.

Relying on HostPath has several limitations as well. The obvious one: if your pod gets scheduled to a different node than the one it resided before, you lose access to existing data. HostPath is not a production-oriented feature, as warned in the documentation of [OpenShift](https://docs.openshift.org/latest/architecture/additional_concepts/storage.html#types-o

[2015-11-23 15:57] wattsteve commented on #4211
"if your pod gets scheduled to a different node than the one it resided before, you lose access to existing data. HostPath is not a production-oriented feature, as warned in the documentation of OpenShift and Kubernetes, and therefore does not solve the problem."

I contend this is actually not an issue as Scale Out Software Defined Storage Platforms are designed from the ground up to expect this

[2015-11-23 16:27] stevekuznetsov commented on #6013
Can you give an example of what is difficult or not difficult to read, specifically?

[2015-11-23 17:10] #5917 closed

[2015-11-23 17:32] goraxe commented on #5327
This is the source yml file I have redacted the src uri cos ... reasons.  I have been trying to figure out if it was a typo or other syntax error for a little while could not see anything obvious, hence stumbling on this bug.

---
kind: "BuildConfig"
apiVersion: "v1"
metadata:
   name: "cwg-inventory"
spec:
    triggers:
        - type: "Generic"
          generic:
            secret: "build-it"

[2015-11-23 17:35] bparees commented on #4211
@wattsteve Aside from the valid issues @rhcarvalho listed, how does that work if two pods from the same RC get scheduled on the same node?  they're going to use the same hostpath and clobber each other.  So i need to manually define a unique hostpath for each pod i create?  That seems very error prone.

Aside from this specific use case, it's the responsibility of the PaaS to provide storage to po

[2015-11-23 17:46] deads2k commented on #6013
[code]

[2015-11-23 17:46] mnagy opened #6018 "new-app won't complain about unsupported build strategy"
Doing this
[code]
will work perfectly fine, but will actually create a BC with a `Source` type strategy. I would expect an error that would tell me that `lalalala` is not a supported build strategy.

@csrwng

[2015-11-23 17:56] stevekuznetsov commented on #6013
This occurs when you use one of the commands and redirect / pipe the output somewhere, right? I have a commit in https://github.com/openshift/origin/pull/6012 that changes the aliases to functions and does a TTY check. If that runs well on Jenkins I will break it out into a separate pull to fix this issue.

[2015-11-23 17:58] benjaminapetersen commented on #6017
@jwforres

[2015-11-23 17:58] jwforres commented on #6016
We have one, it was added in the "let me delete anything" PR https://github.com/openshift/origin/blob/master/assets/app/scripts/services/alertMessage.js

You probably just need to rebase to pick it up.

If its missing something you need feel free to update it, just make sure it still works with Delete.  It specifically does not clear itself on refresh

[2015-11-23 18:00] benjaminapetersen commented on #6016
Ah, i see it.  But it doesn't look like the `<alerts>` directive is using it.  I'll have to dig in and see if the usage is similar enough/same & we can connect them up.

[2015-11-23 18:13] markturansky commented on #4211
The upstream suggestion for this is to include a PersistentVolumeClaimTemplate on the RC side-by-side with the PodTemplate.  This way, each pod replica gets its own volume.

The details are not more fully formed than that.  I don't know, for example, what happens if a pod goes away (e.g, replica count decreased).  Is the claim cascade deleted?  If it sticks around, does it get re-used when the RC

[2015-11-23 18:17] jwforres commented on #6017
Hmm yeah some of the pages there are defaults that make sense, there are some that are more complex for builds and deployments because we use the build/deployment number in the breadcrumb and we only know that after we go and fetch the object.

[2015-11-23 18:44] sspeiche opened #6021 "Message for deprecated 'oc build-logs' doesn't give pod name"
Receiving this message:

[code]
A user doesn't know what pod name to use, perhaps the message could be updated to say:
"Command "build-logs" is deprecated, use "oc logs green-1-build" instead"

[2015-11-23 19:10] ironcladlou commented on #5327
@goraxe Is that the entirety of your `cwg-inventory` ImageStream record? Your deploymentConfig references `cwg-inventory:latest` which has no corresponding tag entry in the ImageStream you listed.

[2015-11-23 19:26] goraxe commented on #5327
@ironcladlou yep that's it.  using this -> https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-dockerbuild.json as a guide neither or the imageStreams there have tags

[2015-11-23 19:49] fabianofranz commented on #4360
@liggitt https://github.com/openshift/origin/pull/6023 exposes the `--token` flag in `oc login --help`.

[2015-11-23 19:51] fabianofranz commented on #4243
Looks like this one is fixed, @smarterclayton should close?

[2015-11-23 19:54] wattsteve commented on #4211
@bparees I think I addressed @rhcarvalho's concerns in my response to his comments.

WRT the additional questions you brought up. Just so you know where I am coming from, first, I acknowledge that this is an issue if you want to use RCs and have each new pod that gets spin up get assigned a new NETWORK block device. What I'm disagreeing with is that people that want to run Mongo &  Cassandra shoul

[2015-11-23 19:57] ramr commented on #5946
@jpechane , k I can understand needing both http and https but what I was asking was could the secure connection be terminated at the edge? In any case, working on a PR to support this with passthrough termination. Thx

[2015-11-23 20:09] #5038 closed

[2015-11-23 20:34] spadgett opened #6025 "Route link on overview is truncated even at wide browser widths"
![screen shot 2015-11-23 at 3 13 45 pm](https://cloud.githubusercontent.com/assets/1167259/11348981/a61d2704-91f7-11e5-8df4-2109568ae27f.png)

/cc @jwforres @sg00dwin

[2015-11-23 21:05] csrwng opened #6026 "TestCheckRemoteGit unit test pauses to ask for credentials on OS X with git 2.5.0"
[code]

[2015-11-23 21:06] csrwng commented on #6026
@mfojtik

[2015-11-23 21:38] bparees commented on #4211
@wattsteve and i spoke offline about this and i think we've come to an agreement that while this feature request makes sense and fills a valid need, we should proceed with the replicated mongo sample by using emptydir storage which is generally more suitable since it will likely be more performant, and aligns with the expectations of a mongo deployer that each cluster member is basically expendabl

[2015-11-23 22:47] stevekuznetsov opened #6028 "test-integration doesn't use os::cmd::expect_success, but could"
@liggitt What do you think? The helper method in `test-integration` is actually what `os::cmd::expect_success` is based on. I think this would be a positive change because it would DRY out the code, as well as allowing for a single point of interaction with a jUnit-producing script that would allow the jUnit parser to use the same rules for `test-cmd` and `test-integration`. The only differences w

[2015-11-23 23:02] #4360 closed

[2015-11-23 23:37] stevekuznetsov opened #6031 "Jenkins flake on pinging /healthz"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7387/console):

[code]

[2015-11-23 23:40] stevekuznetsov commented on #5559
Seen again [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4119/console):
[code]

[2015-11-24 00:49] #6013 closed

[2015-11-24 08:04] stevef1uk opened #6039 "oc login woes"
Hi,

Sorry newbie question, but after lots of Googling I can't solve this myself.

I have installed Origin V3 on a linux server (mint distribution) and all was ok. I then tried to install the fabric8 stuff and I couldn't get the console to work so I decided to start again. Now I find that whenever I try oc login I get the error:
'The server uses a certificate signed by an unknown authority.
You ca

[2015-11-24 08:21] jpechane commented on #5946
What if I want to have certificates managed by the application users/admins? In that case it would be quite difficult to achieve this with edge termination - this I consider to be the main use case.

[2015-11-24 09:02] rhcarvalho commented on #4211
Since this issue is for tracking "Independent persistent storage for replicated pods", I would like to move the conversation about how to implement MongoDB replication to https://github.com/openshift/mongodb/issues/114.

[2015-11-24 10:56] jkhelil commented on #5960
I find a workaround, to unlock users,, deploying the registry behind a proxy, it is possible to fix the proxy using the systemd env variables
create /etc/systemd/system/origin-node.service/http_proxy.conf
and add
[Service]
Environment="HTTP_PROXY=http://proxy.example.com:80/"

then
systemctl daemon-reload
systemctl show origin-node --property Environment
systemctl restart origin-node

Inspired by

[2015-11-24 12:18] jhadvig commented on #5732
@jwforres could you assign this issue to me please. Thx :)

[2015-11-24 12:22] stevekuznetsov opened #6040 "Jenkins flake on build - timeout to external endpoint"
Seeing failures in the initial build phase [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4125/) and [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4124/):
[code]

Between the flakes on this ping and those on the registry endpoints for integration tests (#5559), I'm wondering if something is wrong with the networking on the devenv ami,

[2015-11-24 13:03] liggitt commented on #6039
The ca.crt in the master directory is what you need

[2015-11-24 13:22] stevef1uk commented on #6039
Yes, that was the first one I had tried, but no joy.

[2015-11-24 13:29] stevekuznetsov opened #6042 "openshift cli help {update,replace,patch} not working"
Neither `openshift cli help update`, `replace`, or `patch` are giving the correct output. All error with:

[code]

[2015-11-24 13:29] stevekuznetsov opened #6043 "oc help update gives help text for replace"
[code]

[2015-11-24 13:31] stevekuznetsov commented on #6043
Once this is fixed, the `grep` string in `test/cmd/help` should be tightened from `'openshift'`

[2015-11-24 13:31] stevekuznetsov commented on #6042
Once these are fixed, their tests in `test/cmd/help` need to be fixed and enabled.

[2015-11-24 13:49] deads2k commented on #6028
I don't think this would be worth it for `test-integration`.  Those tests are already well structured, they're actually standard go tests.

[2015-11-24 13:59] deads2k commented on #6043
I suspect this is simply an alias.

[2015-11-24 14:00] deads2k commented on #6042
I think the intent here is to have `oc help update` be the same as `openshift cli help update`.

[2015-11-24 14:13] sdodson commented on #5960
@jkhelil You should have an /etc/sysconfig/origin-node file already, if you add HTTP_PROXY="http://proxy.example.com:80/" there it will achieve the same.

See this for a somewhat comprehensive guide on configuring OpenShift for proxy use. If you find something that's not documented there please let us know.

https://docs.openshift.org/latest/install_config/http_proxies.html

[2015-11-24 14:47] stevekuznetsov opened #6050 "wait_for_command and tryuntil do the same thing"
These are utility functions in `hack/util.sh`. Neither are namespaced, both shouldn't exist together.

@bparees  please assign to me

[2015-11-24 14:54] stevekuznetsov commented on #5906
Seen at https://github.com/openshift/origin/pull/5859

[2015-11-24 15:09] stevekuznetsov opened #6053 "e2e webdriver timeout flake"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7416/console):
[code]

[2015-11-24 15:11] spadgett opened #6054 "Delete button larger on some pages than others"
We should try to be consistent with the size.

<img width="391" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11370804/5a0ef9b8-9293-11e5-9258-a873a00cda7d.png">

<img width="384" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11370817/606c2682-9293-11e5-9ef4-fb249104834e.png">

[2015-11-24 15:15] liggitt opened #6055 "`oadm ca` should generate serial.txt that is compatible with openssl"
OpenSSL requires the serial.txt to be "a text file containing the next serial number to use in hex"

`oadm ca` currently consumes and writes serial.txt as a text file with decimal numbers. Switching to hex would be a strict increase in serial number, so would not cause problems with existing certs, and would allow the serial text file to be used by openssl as well.

[2015-11-24 15:15] liggitt commented on #6055
cc @detiber @sosiouxme

[2015-11-24 15:20] csrwng commented on #5995
In that particular run, it seems some pods were just not starting. Based on these lines in the log, it looks like the build pod never started:
[code]

I don't think the errors had anything to do specifically with the git authentication test.

[2015-11-24 16:02] Ian-Stewart-Binks opened #6058 "oc rsync takes 5 minutes to complete"
I'm using `oc rsync` to rsync local files up to a docker container in a running pod on OpenShift Origin 1.1 (OS v3.1). The files are successfully `rsync`'d, but then `oc rsync` will wait for ~5 minutes to complete.

Here's the output running with `--loglevel=8`:

[code]

What's going on?

[2015-11-24 16:06] bparees commented on #5460
@liggitt do we need to add an api that lets the CLI ask the master what it's public hostname is?

[2015-11-24 16:09] ubreu opened #6059 "Is it possible to upgrade origin 1.0.7 to 1.1 via ansible playbook?"
This document states that it should be possible:
https://docs.openshift.org/latest/install_config/upgrades.html#upgrade-playbook

However, that playbook does not exist on the master branch.

I am currently running:
openshift v1.0.7-2-gd775557-dirty
kubernetes v1.2.0-alpha.1-1107-g4c8e6f4
etcd 2.1.2

[2015-11-24 16:51] bparees commented on #5995
seems to be consistently failing in the last few extended test runs.

[2015-11-24 17:43] liggitt commented on #5946
Are you expecting the application admin to not have API access to this route in the namespace?

[2015-11-24 18:08] liggitt commented on #6043
yes, "update" is an aliased for replace. this is expected

[2015-11-24 18:08] #6043 closed

[2015-11-24 18:35] sosiouxme commented on #6055
+1

[2015-11-24 19:06] fabianofranz commented on #6042
Also here: https://github.com/openshift/origin/pull/5670/files#diff-a1889a7743ca6296d75affc270e527a9R108

[2015-11-24 19:40] benjaminapetersen commented on #6017
Feel free to assign me!

[2015-11-24 20:09] ncdc commented on #6058
I'm guessing, since you said 5 minutes, that you're hitting the default 5-minute idle timeout for a streaming connections like this. It's supposed to detect when a process such as rsync has completed and terminate the connection immediately. It appears in your case that that detection is failing, and it's instead waiting until the idle timeout.

Could you please paste the output of `oc version`? A

[2015-11-24 20:10] ncdc commented on #6058
@csrwng have you seen this recently?

[2015-11-24 20:16] csrwng commented on #6058
@ncdc I haven't, but someone else ran into the same issue: http://stackoverflow.com/questions/33814286/openshift-oc-rsync-takes-long-time-to-complete

I don't see anything that jumps out from the log above.

@Ian-Stewart-Binks can you run "export DEBUG=1" before running 'oc rsync' ?

Also does it make a difference if you specify --strategy=rsync-daemon ?

[2015-11-24 21:07] stevekuznetsov opened #6065 "TestAuthorizationRestrictedAccessForProjectAdmins / TestAuthorizationSubjectAccessReview flake"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4127/consoleFull):
[code]

[2015-11-24 21:08] stevekuznetsov commented on #3710
Seeing this again https://github.com/openshift/origin/issues/6065

[2015-11-24 21:09] csrwng opened #6066 "etcd errors in automated tests"
At least in a couple of merge runs, the test dies because somehow etcd can't be started

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4133/consoleFull
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4135/consoleFull

The latter run has the following in the openshift.log:
[code]

[2015-11-24 21:10] csrwng commented on #6066
@ncdc @derekwaynecarr @bparees

[2015-11-24 21:10] #4243 closed

[2015-11-24 21:11] smarterclayton commented on #5290
Agree - being able to source an autocomplete file is probably all we should
do for now.

On Nov 23, 2015, at 10:01 AM, Jordan Liggitt <notifications@github.com>
wrote:

not sure I want login to do that... config file is within it's set of
responsibilities... autocomplete installation probably isn't

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/529

[2015-11-24 21:12] ncdc commented on #6066
I've seen a handful of tests, going back months, where either etcd doesn't start or one of the /healthz checks times out. No idea why as it happens infrequently (or at least did).

[2015-11-24 21:16] fabianofranz commented on #6042
Seems like a regression because of recent Cobra changes, `help` is always being registered in the root command (so `openshift help cli update` works). I'll take a look at it.

[2015-11-24 21:28] stevekuznetsov opened #6067 "Jenkins failed to build binaries"
`hack/update-generated-swagger-spec` flaked [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7443/console):
[code]

[2015-11-24 21:59] liggitt opened #6068 "Cascading delete of deployment configs makes `oc replace --force` destructive"
`oc replace --force` does a delete/recreate. Since upstream handles cascading client-side, they can default `--cascade=false` during a force recreate and avoid deleting all dependent objects. However, since deployment configs cascade to deleting deployments server-side, replacing a deployment config removes all active deployments. This is not obvious (especially when `oc replace --help` shows `--c

[2015-11-24 22:00] liggitt commented on #6068
This came up when implementing similar server-side cascade deletion for build configs in https://github.com/openshift/origin/pull/5208

I like server-side cascade, I just want a way to opt out

[2015-11-24 22:06] liggitt commented on #6068
If the only time we'd want to opt-out is during a force replace, I could maybe see reworking that to do an unconditional update instead of a delete/recreate

[2015-11-24 22:06] bparees commented on #6068
Where/when do you want to make the decision to opt-out?  As discussed in #5208 one solution is to add a Cascade=false/true, but then that would depend on the client implement setting that properly before invoking the replace/force, and i'm sure that's not going to fly.

[2015-11-24 22:06] bparees commented on #6068
we could also ignore delete requests for 60s :)

[2015-11-24 22:48] jimmidyson commented on #3916
We have metrics for the router now.

@ncdc Any thoughts on registry metrics?

[2015-11-24 22:49] Ian-Stewart-Binks commented on #6058
@csrwng @ncdc That StackOverflow post is mine. Sorry for the redundancy.

Running `export DEBUG=1` and `--strategy=rsync-daemon` produce the following dump:
[code]

My local machine is Fedora 21.

Thanks,
Ian

[2015-11-24 22:49] jimmidyson commented on #3366
I'm happily using websockets for exec now thanks- can this be closed or is there more to do?

[2015-11-24 22:50] jimmidyson commented on #3774
This should now be sorted.

[2015-11-24 22:50] #3774 closed

[2015-11-24 23:14] Ian-Stewart-Binks commented on #6058
Sorry @ncdc, I didn't see your first comment. I'll reply tomorrow morning when I'm back in the office.

[2015-11-25 00:25] kargakis commented on #6068
Are you sure about this? I think we were cascading client-side: https://github.com/openshift/origin/tree/master/pkg/deploy/reaper

[2015-11-25 00:29] pstinghua opened #6070 "lost glusterfs endpoints"

[2015-11-25 00:34] kargakis commented on #6068
Upstream the intention is to implement cascading to the server but I cannot find the issue/comment now.

[2015-11-25 00:36] pstinghua commented on #6070
[code]

[2015-11-25 01:26] pstinghua opened #6071 "build always failed"
[code]

[2015-11-25 01:38] pstinghua commented on #6071
Builder does not use local dns server

[2015-11-25 01:58] #3366 closed

[2015-11-25 02:54] liggitt commented on #6014
I think unquoting `$ecret` would re-enable interpretation of it as an envvar again when the cmd is eval-ed

example 1:
level 1: `eval "echo '\$ecret' "`
level 2: `echo '$ecret'`
echo command sees: `$ecret` as the arg

example 2 (your proposal):
level 1: `eval 'echo $ecret'`
level 2: `echo $ecret`
echo command sees bash-substituted value of envvar `$ecret` as the arg

[2015-11-25 05:25] deanpeterson opened #6072 "Certificate signed by unknown authority"
I purchased a PositiveSSL Wildfly certificate from Namecheap to secure my Openshift Registry.  I installed the certificate into my /etc/pki/tls/certs folder using "update-ca-trust".  When I run: "openssl verify -CApath /etc/pki/tls/certs __example_com.crt",   I get __example_com.crt: OK

When I use a browser to go to the route of the registry I can see the certificate info and everything looks ok.

[2015-11-25 05:47] pstinghua opened #6073 "kubernetes service endpoints are updated frequently until all HA masters are online"
[code]

[2015-11-25 07:15] #6059 closed

[2015-11-25 08:08] pstinghua opened #6074 "dns error when deploy registry"
origin.sj.net -> 193.0.10.169
[code]

[2015-11-25 08:25] lorenzvth7 opened #6075 "OpenShift Origin: Wordpress Example: AH00558: apache2 Error"
I'm deploying a wordpress-app which is using a MySQL-database with OpenShift Origin. I'm using this example: https://github.com/openshift/origin/tree/master/examples/wordpress
[code]

I'm using NFS for my MySQL-database. It's deploying fine. So everything is running and OpenShift does not show errors. I'm creating a route to my frontend (wordpress). But when I want to visit the app I get a:
[code]

[2015-11-25 10:52] #5559 closed

[2015-11-25 11:35] #6074 closed

[2015-11-25 12:49] CuriousA62A2A commented on #6070
I do believe that I've seen the same issue.
1. I create a glusterfs endpoint
2. I deploy pods that use the endpoint for persistant storage
3. The day after, if I redeploy the pods they won't start with the above error message.

Recreating the glusterfs endpoint fixes it temporarily.

What data do I need to supply to make this viable for troubleshooting?

[2015-11-25 14:50] soltysh commented on #6068
@kargakis I think you were looking for this: https://github.com/kubernetes/kubernetes/issues/1535#issuecomment-156185924

[2015-11-25 14:55] stevekuznetsov opened #6077 "e2e waiting for dc timed out flake"
Flake in e2e [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4143/console):
[code]

[2015-11-25 15:06] soltysh commented on #6071
Can you run your build with increased log level, see https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs

[2015-11-25 15:13] liggitt commented on #6072
How are you doing that pull? Is this from a command-line, from a node (during a pod container image pull), or something else?

[2015-11-25 15:13] kargakis commented on #6068
yes, this is it : )

On Wed, Nov 25, 2015 at 3:50 PM, Maciej Szulik <notifications@github.com>
wrote:

[2015-11-25 15:14] vilppuvuorinen opened #6080 "Recycler fails on zfs"
Volume root contains ```.zfs``` directory on a zpool managed zfs that cannot be deleted when scrubbing. Recycling manually is not a long term plan and custom recyclers are not exactly just around the corner (#6001).

Full error:
[code]

[2015-11-25 15:16] stevekuznetsov opened #6081 "flake in test-cmd/images on image import"
Flake in `test-cmd` [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7460/console):
[code]

[2015-11-25 15:17] liggitt commented on #6080
That directory appears to have no write permissions enabled. That is one of several cases the currently recycler is not able to overcome (see description in https://github.com/openshift/origin/pull/5847)

cc @markturansky

[2015-11-25 15:32] deads2k commented on #4189
@kargakis since you're taking a first pass here.  We can open another issue if we end up needing more (likely).

[2015-11-25 15:50] deanpeterson commented on #6072
Actually I do not even get to the pull.  On the local machine I am able to login.  On any remote machine when I run:  docker login -u myopenshiftuser -e peterson.dean@gmail.com -p <my-token-generated-from-oc-whoami-t> registry.example.com I get this (I have replaced the real url with example.com):

Error response from daemon: invalid registry endpoint https://registry.example.com/v0/: unable to pi

[2015-11-25 15:51] vilppuvuorinen commented on #6080
To clarify, resources in the ```.zfs``` directory cannot and should not be modified by recycler. Volume containing only the ```.zfs``` dir is considered empty.

[2015-11-25 16:02] liggitt commented on #6072
Do you see differences in the cert chain when connecting from the local machine, vs the remote machine:

[code]

[2015-11-25 16:19] liggitt opened #6087 "Use terminationMessagePath to capture fatal recycler errors"
If the recycler pod fails, it is quickly deleted and no log is available. The recycle command should be able to take a path to write a termination message to, and write the final success or fatal error to that path.

[2015-11-25 16:19] liggitt commented on #6087
cc @ebalsumgo

[2015-11-25 16:22] markturansky commented on #6087
+1.  Debugging why a recycler pod fails requires looking at "docker ps -a" and finding the appropriate container for its logs.

[2015-11-25 16:28] stevekuznetsov opened #6088 "flake in test/cmd/newapp searching for imagestreams"
Flake in `test/cmd/newapp` [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7464/console):
[code]

[2015-11-25 16:42] jhadvig commented on #5690
@jwforres please close this one.

[2015-11-25 16:45] deanpeterson commented on #6072
It is the same on both machines but the certificate is not right at all.  This is the start of the output:
depth=0 C = --, ST = SomeState, L = SomeCity, O = SomeOrganization, OU = SomeOrganizationalUnit, CN = ip-10-35-63-192, emailAddress = root@ip-10-35-63-192
verify error:num=18:self signed certificate
verify return:1
depth=0 C = --, ST = SomeState, L = SomeCity, O = SomeOrganization, OU = SomeO

[2015-11-25 16:48] liggitt commented on #6072
When you go to the registry url, what port are you using?

[2015-11-25 16:50] deanpeterson commented on #6072
I type in https://registry.example.com without specifying a port.  I thought by default that uses 443.

[2015-11-25 16:55] liggitt commented on #6072
yup... the browser and openssl command are both running on the same machine?

[2015-11-25 17:11] deanpeterson commented on #6072
I use the browser on a remote machine.  I get the same strange output from the openssl command on both the remote machine and local machine.

[2015-11-25 17:25] #5690 closed

[2015-11-25 17:31] kargakis opened #6091 "Need for test funcs that will check for multiple strings"
The plural version of `os::cmd::expect_success_and_text` and relatives.

@stevekuznetsov @liggitt

[2015-11-25 17:35] deads2k commented on #6091
In bash, its really easy to lose a nested quote and accidentally do things you didn't intend to do, soI like being able to check for accidents by counting the args going into the test functions.  If allow a variable number of arguments through, we'll lose that ability.

How many times have we wanted this?

[2015-11-25 17:37] kargakis commented on #6091
We have you as a reviewer, we are not afraid of such details.

[2015-11-25 17:45] liggitt commented on #6073
no, that shouldn't be recurring. @abutcher, PTAL

[2015-11-25 17:47] liggitt commented on #6073
@pstinghua can you provide the output of the following:
[code]

[2015-11-25 17:50] stevekuznetsov commented on #6091
@kargakis with the smackdown

[2015-11-25 17:58] stevekuznetsov commented on #6088
Flake in `test/cmd/newapp` [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7465/console):
[code]

[2015-11-25 18:02] spadgett opened #6093 "Browse routes table should show TLS termination"
Termination is too important not to show. More important than age if space is a concern. We should probably show path, too.

/cc @jwforres

[2015-11-25 18:05] stevekuznetsov commented on #6091
In all seriousness, though, there has been one use-case where more than a couple of things were being expected. In all of the `test-cmd` refactors I think there was one case where we were checking for two separate outputs and I was able to tighten the regex to contain both. I wonder if using a Go template to format the output or changing the regex to include all your cases would be better than imp

[2015-11-25 18:25] #4278 closed

[2015-11-25 18:41] jwforres opened #6094 "oc expose - unclear whether I can specify the target port when exposing a service with a new route"
1) I should be able to specify the target port when exposing a service, new app and the console are being changed to always specify a target port on a route because we want to promote that behavior
2) The help text leads me to believe that --target-port is only for when i'm exposing something like a dc by creating a service, and NOT when i am creating a route to expose a service

At a quick glance

[2015-11-25 18:41] spadgett opened #6095 "Add labels to web console create route page"
You can specify labels during the create flow, but not when creating a route later in the web console.

Follow-on issue to #5997. See https://github.com/openshift/origin/pull/5997#discussion_r45793078

/cc @jwforres

[2015-11-25 18:42] jwforres commented on #6094
cc @liggitt @derekwaynecarr @kargakis

[2015-11-25 18:44] deads2k commented on #6094
You can see the result of how we're trying to share the same command to build different things here: https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/expose.go#L156.  I don't think this easier than subcommand approach.

[2015-11-25 19:07] kargakis commented on #6094
https://github.com/openshift/origin/pull/5578 fixes this. I opted in using --port instead of --target-port but I don't feel strong on it. Any preferences?

[2015-11-25 19:11] deads2k commented on #6094
`--target-port` seems more natural to me

I'm more concerned about having many mutually exclusive flags with generic help.

[2015-11-25 19:13] Ian-Stewart-Binks commented on #6058
@ncdc
[code]

Not sure what sort of setup it is. It's Red Hat's engint.openshift.com instance, if that helps.

[This](https://github.com/openshift/sti-nodejs/blob/master/0.10/Dockerfile) is essentially the Dockerfile I'm using, building from src.

I'm apparently not the only one on my team who's experiencing this issue with deploying nodejs apps on OpenShift.

[2015-11-25 19:14] deads2k commented on #6094
To be a little more crisp.  We have lots of flags that may be used in some contexts and not others.  Given that we end up having to have separate paths to handle flag validation in these cases and then we're stuck dealing with conflicting flags or different meanings, I'm hard pressed to say that this makes it easier to users to do what they want.

Given that it makes it harder for users to predict

[2015-11-25 19:16] liggitt commented on #6094
[code]

[2015-11-25 19:17] kargakis commented on #6094
@liggitt nah, then the user has to know what each generator does with these options.

[2015-11-25 19:18] liggitt commented on #6094
which is exactly what we have now

[2015-11-25 19:18] #4808 closed

[2015-11-25 19:20] kargakis commented on #6094
Well, not really. We could document mutually exclusive flags if it's a real pain point. Or validation can teach a user.

[2015-11-25 19:22] liggitt commented on #6094
Once expose supports pods, rcs, ingress, services, and routes, we will have so many conflicting mutually exclusive or ignored or differently-interpeted flags that the only sane flag help will be "See extended documentation for usage". That's a sad state of affairs

[2015-11-25 19:22] deads2k commented on #6094
"uh uh uh, you didn't say the magic word.  uh uh uh, ..."

Printing the help for this command is really difficult.  "This flag means X sometimes and Y other times".  "If you say 'foo' here, then you use 'bar' there".  "Oh, you can't specify that flag when you're running this time"

[2015-11-25 19:31] kargakis commented on #6094
I see a couple of steps here:

1) Clear examples, it's two groups of resources in play: routes, ingress and all the rest. We already default generators based on the input resource and once upstream supports ingress it will be official. If I want to expose a {route,ingress} there are these flags I *may* need to use.

2) Documentation for generators. We should already have some on them. For more adv

[2015-11-25 19:32] liggitt commented on #6094
route and ingress already behave differently re: targetport (I think)

[2015-11-25 20:01] pmorie commented on #6070
@markturansky @rootfs @childsb

[2015-11-25 20:06] gravis commented on #6070
We're having the same issue here. These endpoints are used in 2 projects, and both have lost the endpoints.

[2015-11-25 20:07] gravis commented on #6070
We're using 1.0.8 btw.

[2015-11-25 20:15] benjaminapetersen commented on #6016
Current usage looks like this:

[code]
Have to think about this, we could probably streamline further.

[2015-11-25 20:16] CuriousA62A2A commented on #6070
We're on 1.0.8 too

[2015-11-25 20:27] vbehar commented on #6070
same here, also 1.0.8

[2015-11-25 21:27] sosiouxme opened #6097 "`oc process` does not fill in parameters given"
[code]

If I switch the order of the parameters, then it switches to complaining about PUBLIC_MASTER_URL missing instead. It is as if parameters after the first are being dropped...

[2015-11-25 21:31] sosiouxme commented on #6097
Actually it is as if -v is no longer splitting on commas.

[2015-11-25 21:47] sosiouxme commented on #6097
I think this is related to #5746 which removed the StringList utils,which did magical splitting of strings on commas. That behavior wasn't carried over. @fabianofranz

[2015-11-25 21:49] liggitt commented on #6097
Not sure we want that behavior, actually… means you can't have a value containing a comma, right?

[2015-11-25 22:11] deanpeterson commented on #6072
I had to install two CNAME records in the Domain's DNS provider.  Does that have something to do with the Openssl command failing but the browser showing the certificate ok?  I am still stuck on why I am getting the unsigned certificate error just trying to log into the registry on a remote machine.

[2015-11-25 22:38] deanpeterson commented on #6072
I just found this in the documentation:
"TLS termination in OpenShift relies on SNI for serving custom certificates. Any non-SNI traffic received on port 443 is handled with TLS termination and a default certificate, which may not match the requested host name, resulting in validation errors."

I read a little about SNI and it seems to indicate only browsers are likely to support SNI.  So when I a

[2015-11-26 00:27] liggitt commented on #6072
Good catch about SNI. To test that with openssl, add "-servername registry.example.com" to the openssl invocation.

Not just browsers support SNI, many (most?) TLS implementations do now (c.f. https://en.wikipedia.org/wiki/Server_Name_Indication#Implementation)

[2015-11-26 01:13] pstinghua commented on #6073
oc get services kubernetes -n default -o yaml
[code]
oc get endpoints kubernetes -n default -o yaml
[code]

[2015-11-26 01:18] ebalsumgo opened #6098 "WebUI should prompt a warning if scaling set to 0"
Basically due to lag in the UI and pods creation/deletion I managed to get myself in a situation where I wanted to have 1 pod running, but for a while had gone up to 3 and while clicking down to get back to 1 I arrived at 0 without any sort of "hey are you sure you want to set your replication to 0?" note from the system.

it seems like a good idea to have the UI warn a user if they try to go belo

[2015-11-26 01:24] liggitt commented on #6098
Yeah, the big number is what is actually running. That doesn't instantly change in response to scale events. The "lag" is actually likely in the replication controller reacting to the desired change in the rc replica count.

Was the "scaling to X" text not noticeable enough? @jwforres/@spadgett, wonder if we can emphasize that more… I know we're space constrained, but maybe a background highlight/

[2015-11-26 01:25] kargakis commented on #6098
Maybe something we should also have in the cli - which means upstream changes?

[2015-11-26 01:28] liggitt commented on #6098
Nope :)
Typing "0, <enter>" is a lot harder to do accidentally than clicking twice instead of once.
That would be the equivalent of hitting `<enter>` twice scaling you to 0

[2015-11-26 01:33] ebalsumgo commented on #6098
Yeah i am with @liggitt I dont think this is a CLI problem and more of a Web UI issue. it is just too easy to shoot yourself in the foot with the current up/down arrows and not noticing/reading the text (which is what I 100% did until I realized what I was doing and in my case was saved by the "lag")

[2015-11-26 01:36] ebalsumgo commented on #6087
yes this is currently biting me in the butt as I have two Failed PVs that I had to delete, but I have no idea as to why they failed :cry:

[2015-11-26 03:29] liggitt commented on #6073
Are you running HA masters? What is `masterCount` set to in your master config?

[2015-11-26 03:30] pstinghua commented on #6073
three

  - ip: 193.0.10.170
  - ip: 193.0.10.171
  - ip: 193.0.10.172

[2015-11-26 03:31] liggitt commented on #6073
In the master-config.yaml, what is kubernetesMasterConfig.masterCount set to?

[2015-11-26 03:32] pstinghua commented on #6073
masterCount: 3

[2015-11-26 03:42] liggitt commented on #6073
I think I found the issue... are you still seeing the log messages, or have they stopped?

The controller running on each master that ensures that all masters IP's are present in the kubernetes endpoints looks at two things:
1. the current master's IP in the list
2. the number of IPs in the list exactly matching the masterCount

If either of those are false, it ensures it's IP is in the list, trun

[2015-11-26 03:49] liggitt commented on #6097
pity that's what we document :-/
[code]

@fabianofranz, I don't like the comma-separated value parsing, but we may have to keep it. did you intend to drop it?

[2015-11-26 03:50] liggitt commented on #6097
and we should have at least one test for that format :-/

[2015-11-26 04:08] deanpeterson commented on #6072
<b>On the local machine I get: </b>
Start Time: 1448510705
    Timeout   : 300 (sec)
    Verify return code: 0 (ok)

<b>On the remote machine I get:</b>
Start Time: 1448510467
    Timeout   : 300 (sec)
    Verify return code: 21 (unable to verify the first certificate)

[2015-11-26 04:09] detiber commented on #6055
@abutcher this is the CA serial issue I was discussing with you.

[2015-11-26 04:13] #4226 closed

[2015-11-26 04:27] liggitt commented on #6072
was there other info, like the cert chain presented? did it match on the remote and local machine?

[2015-11-26 04:48] deanpeterson commented on #6072
<b>Local Host</b>
CONNECTED(00000003)
depth=3 C = SE, O = AddTrust AB, OU = AddTrust External TTP Network, CN = AddTrust External CA Root
verify return:1
depth=2 C = GB, ST = Greater Manchester, L = Salford, O = COMODO CA Limited, CN = COMODO RSA Certification Authority
verify return:1
depth=1 C = GB, ST = Greater Manchester, L = Salford, O = COMODO CA Limited, CN = COMODO RSA Domain Validation Se

[2015-11-26 05:03] pstinghua commented on #6073
have stopped now

[2015-11-26 05:13] sosiouxme commented on #6097
I don't like comma-separated either but no idea if we want to break it to make it better.
https://trello.com/c/rbATqhY7/166-templating-alternatives-to-comma-separated-parameters is apropos

[2015-11-26 05:15] liggitt commented on #6097
Yeah, it is still generally supported. process was using the old string list slightly differently which is why the conversion broke it. Fixed in #6099

[2015-11-26 06:43] liggitt commented on #6072
When the local machine verified the CA, it looks like it was a chain of four certs:
[code]

However, only two of those certs were sent by the server:
[code]

I would expect everything but the Root CA to be sent by the server. Do you need to include one more intermediate in the certificate provided to the route?

When you did `update-ca-trust` locally, you may have picked up the additional intermed

[2015-11-26 10:27] rhcarvalho commented on #6065
One more instance: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7486/console

[2015-11-26 11:18] soltysh commented on #6091
I agree with @deads2k here, this kind of logic will only introduce us to errors, whereas current multiple checks cost us only a few additional gets, which I don't mind. I've though about it for a bit while reviewing the images part, but in the end realized it's not worth the effort.

[2015-11-26 13:04] liggitt commented on #6091
What about commands with side effects that we can't run multiple times?

[2015-11-26 13:10] soltysh commented on #6091
Do we have such cases? You can always execute the command and test the output manually, I guess.

[2015-11-26 13:19] gravis opened #6103 "Scheduler sending too many events when volume plugin is not found"
Following #6070, and the discussion on the openshift-users mailing list, the scheduler will send many events when a volume plugin can't be found.

See: https://gist.github.com/gravis/6d28292afc9f51b6032a

The event `Could not recycle volume spec: Could not find recyclable volume plugin for spec: no volume plugin matched` is sent every 10s, which is probably too often.

This occurs with os 1.0.8

[2015-11-26 13:29] stevekuznetsov commented on #6091
It is not intended for people to capture the output of `os::cmd` functions. I still think Go templates would be the better solution to this problem - they leave little room for errors, you ensure you're reading the fields you expect to be testing, etc.

[2015-11-26 13:55] fabianofranz commented on #6097
@liggitt If it was removed by the `StringList` change, that was unintended. We have an issue to support multiple `-v` instead of commas, but I guess the commas will have to stay for some time for backwards compatibility.

[2015-11-26 15:22] #6097 closed

[2015-11-26 15:22] php-coder commented on #5969
I'm working on it BTW.

[2015-11-26 17:05] jhadvig opened #6105 "`oc env` should support `--override` flag to overwrite the key values"
In upstream commands like oc label and oc annotate, user has to specify the --overwrite flag to redefine the value of specified key(s). We should be consistent and have the same behavior for the oc env command

[2015-11-26 17:08] jhadvig commented on #6105
In upstream commands like `oc label` and `oc annotate`, user has to specify the `--overwrite` flag to redefine the value of specified key(s). We should be consistent and have the same behavior for the `oc env` command

[2015-11-26 17:09] #6105 closed

[2015-11-26 17:09] jhadvig opened #6106 "`oc env` should support `--overwrite` flag to overwrite values of specified key(s)"
In upstream commands like oc label and oc annotate, user has to specify the --overwrite flag to redefine the value of specified key(s). We should be consistent and have the same behavior for the oc env command

[2015-11-26 17:12] kargakis commented on #6106
+1 for keeping them consistent.

[2015-11-26 17:16] jhadvig commented on #6106
Also wouldn't it make sense to have `env` cmd upstream ?
@fabianofranz thoughts ?

[2015-11-26 17:16] kargakis commented on #6106
Definitely.

[2015-11-26 17:23] stevekuznetsov commented on #6050
Note: `tryuntil` is less sophisticated, doesn't wait between tries.

[2015-11-26 19:02] fabianofranz commented on #6106
+1

[2015-11-26 19:09] liggitt commented on #6106
I like consistency, backwards compatibility on suddenly requiring --overwrite will be tough. Upstream would also need to use the common pattern of being able to apply it to origin types (bc, dc, etc)

[2015-11-26 19:49] kargakis commented on #5323
https://github.com/kubernetes/kubernetes/pull/17108 is in so we can override using our own env vars

[2015-11-26 22:14] ivanthelad opened #6107 "Docker secret not created/used correctly when docker-server property missing /v2 as part of url"
issue discovered when trying to get a openshift cluster to consume from registry in a another openshift cluster (DEV and qa-cloud)

To reproduce
1)expose registry on DEV
Securing and exposing the DEV registry via a route. Does not need to be TLS
Implemented by following the steps outlined here to expose the DEV registry to the outside world
https://docs.openshift.com/enterprise/3.0/install_config/

[2015-11-26 23:11] adietish commented on #6058
I'm hitting this too, with a cakephp example.
fc21 and
`
oc v1.0.3-2022-g5954394-dirty
kubernetes v1.2.0-alpha.1-1107-g4c8e6f4
`

[2015-11-27 01:23] paralin commented on #5383
I'm getting this now with a fresh cluster running kubernetes latest... openshift under kube.

[2015-11-27 03:16] paralin commented on #4518
Anyone who's having this problem (including me probably in a week, I've figured this out at least 4 times now).

 - Make totally sure the registry is deployed properly.
 - Delete the project that's having the problem.
 - Restart the openshift server (this refreshes everything)
 - Re-create the project / namespace.
 - Create the build config
 - Create the target image stream
 - Start a build.

Fixe

[2015-11-27 04:49] deanpeterson commented on #6072
Yes, that was it.  I had to use the caCertificate part correctly.  I did try adding that once but I entered the information incorrectly.  I have a .ca-bundle file that has three being and end sections.  I entered that into the route's caCertificate exactly the way it appears in the .ca-bundle file and now it works.  Thanks!

[2015-11-27 04:49] #6072 closed

[2015-11-27 05:28] pstinghua opened #6108 "DNS error when deploy app"
we use windows dns server, the dns server is 193.0.0.1.

origin.sj.net -> 193.0.10.169

[code]

[2015-11-27 05:42] pstinghua commented on #6108
could not reach internal dns

[2015-11-27 08:17] wjiangjay commented on #6108
Actually this not the DNS issue,
the error is "tcp 60.191.124.236:8443: i/o timeout"

So
1. you must ensure the mapping of origin.sj.net<--> 60.191.124.236 is correct
2. you must ensure the firewall does not prevent the package about 8443 port if dns mapping is correct

[2015-11-27 08:43] miminar commented on #6031
Can also be seen in #5141, #5578. #5819, #5932, #5971, #5997, #6020, #6063.

[2015-11-27 12:22] soltysh commented on #4100
#5932 addresses that partially by clearing the import annotation, but that's only for tags that are pointing to external images (eg. docker hub).

[2015-11-27 13:03] jpechane commented on #5946
The application admin can be an application-level role - separated pro OS project admin

[2015-11-27 13:32] adietish opened #6109 "oc rsync requires you to log in, global options --token= --server= --user= seem to have no effect"
The oc cmds that we're using so far can be fully configured (--server= --token= --user=) so that the login context that you're in ("oc login") doesnt matter. We currently port forward and stream logs in this way so that oc run within Eclipse wont affect the cmd-line and the inverse.
This isnt the case for "oc rsync" though. It will accept these (global) options but seems unaffected by them. "oc rs

[2015-11-27 13:54] liggitt commented on #6109
@csrwng

[2015-11-27 21:35] #6055 closed

[2015-11-27 23:02] detiber opened #6114 "`oadm ca` should be able to generate a combined client and server cert"
Currently we are having to manage a separate CA using openssl for etcd certs since etcd peer certs are required to be both client and server certs.

To avoid having to manage cert management with openssl in openshift-ansible only for the peer certs, it would be nice to generate all of the needed certs for deployment using `oadm ca`

[2015-11-27 23:02] detiber commented on #6114
cc @liggitt @abutcher

[2015-11-28 02:24] sbadakhc commented on #4561
I'm seeing the same issue with Openshift 3.1.  I can confirm the service account exists.
[code]

[2015-11-29 07:42] smarterclayton commented on #6070
Upstream https://github.com/kubernetes/kubernetes/issues/13511 may be related - what version of Gluster are you using?  @rootfs

[2015-11-29 07:43] smarterclayton commented on #6070
We need to also verify the endpoints controller didn't start deleting endpoints that don't have a service.

[2015-11-29 08:49] max-zelinski commented on #2848
@liggitt add where?

[2015-11-29 09:42] stevef1uk commented on #6039
This may be because the default password has changed from admin and that the error message is misleading me.

[2015-11-29 09:42] #6039 closed

[2015-11-29 14:12] liggitt commented on #2848
To the docker run, as args to the `start` command

[2015-11-29 23:45] bilalyasar opened #6116 "couldn't access resources from cli"
I want to login open shift as cluster-admin, but couldn't succeed.

[code]

i want to run this command:
`oc describe clusterPolicy default`

But couldn't login as cluster-admin, how can i login as cluster-admin?

[2015-11-29 23:56] liggitt commented on #6116
The first command pointed at a config file containing cluster admin credentials. The second command needs to point to the same config file (or the KUBECONFIG envvar should be pointed to that file, or that file should be copied to ~/.kube/config)

[2015-11-30 08:24] bilalyasar commented on #6116
thanks.

[2015-11-30 08:24] #6116 closed

[2015-11-30 08:38] bilalyasar commented on #6116
@liggitt, now i create a pod.
Then i attach inside the docker container.

i want to use kube api:
` KUBE_TOKEN=$(</var/run/secrets/kubernetes.io/serviceaccount/token)`
`curl -sSk -H "Authorization: Bearer $KUBE_TOKEN"       https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_PORT_443_TCP_PORT/api/v1/namespaces`

this gives me:
[code]

How can i fix?

[2015-11-30 10:46] jstrachan commented on #2026
BTW for now I've patched [our fork of helm](https://github.com/fabric8io/helm) to do this for us when creating a Service which is of type `LoadBalancer` as a workaround. We basically just run `oc expose service cheese` after creating the service if its type is `LoadBalancer` https://github.com/fabric8io/helm/blob/openshift-all/action/openshift.go#L56

[2015-11-30 13:04] #4109 closed

[2015-11-30 14:20] rootfs commented on #6070
@gravis @pstinghua @CuriousA62A2A @vbehar what version of glusterfs you are using? Do you see anything in glusterfs logs? The log file name is glusterfs.log in /var/

[2015-11-30 14:24] liggitt commented on #5946
I think application-managed certs being surfaced through the route would only be doable with the passthrough TLS type.

[2015-11-30 14:24] gravis commented on #6070
[code]

On the server, and on the nodes:

[code]

I haven't found anything in the logs yet.

[2015-11-30 14:25] ncdc commented on #3916
@pweil- @miminar for registry metrics ideas

[2015-11-30 14:36] ironcladlou commented on #6068
Wanted to note that reparenting RCs with a new DC is theoretical/untested at the moment. Previous discussion in #3660.

[2015-11-30 14:45] rootfs commented on #6070
as far as I can see there are two probable Kubernetes related issues:
- possible missing glusterfs spec glusterfs mount helper that produced "unsupported volume type". [Here](https://github.com/openshift/origin/blob/v1.0.8/Godeps/_workspace/src/k8s.io/kubernetes/pkg/volume/glusterfs/glusterfs.go#L58) is the detail. @pstinghua can you check if your openshit nodes have glusterfs client package insta

[2015-11-30 14:52] sosiouxme commented on #6097
Confirming fixed, thanks.

[2015-11-30 14:57] gravis commented on #6070
the glusterfs endpoint was deleted. @CuriousA62A2A @gravis when you have the issue, are you able to see the endpoints? => No, the endpoints were missing.
Just a guess, we've seen this after a lot of failing deploys, during tests. Since our tests are over, the endpoints haven't moved.