[2016-06-13 19:13] smarterclayton commented on #9290
lowering priority

[2016-06-13 19:15] bparees commented on #9302
Once you update the plugin binary in the fabric s2i jenkins config repo (if
you guys are still doing that), the image should auto build and push to the
dev tag.

Ben Parees | OpenShift
On Jun 13, 2016 1:14 PM, "Jimmi Dyson" <notifications@github.com> wrote:

[2016-06-13 19:16] jimmidyson commented on #9302
Aha! Thanks!

[2016-06-13 19:51] bparees commented on #9301
what do you mean by "jenkins"?  where is jenkins in this scenario?

what is your shell script doing?

start-build does not behave the way you are describing, so there's more to this picture.

@csrwng @gabemontero since i'm likely to be unavailable as this progresses, please keep an eye on it and help @tnozicka

[2016-06-13 19:58] bparees commented on #9301
Are you updating the buildconfig object?  the buildconfig object stores the build count, so if you are updating it, you're resetting that value.  I seem to recall from some discussions with @detiber and @knrc that you might be creating new buildconfig objects for each build.

[2016-06-13 20:03] tdawson commented on #7268
CentOS now has these rpms in their Paas/OpenShift repo.

http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/

The older rpm's do not expire.

If you want the source rpm's, or grab a newer package that is still being tested, you can get them from the CentOS koji site (called cbs)
https://cbs.centos.org/koji/packageinfo?packageID=3175

The one downside is this CentOS repo only starts at

[2016-06-13 20:10] stevekuznetsov commented on #9303
Sorry, misunderstood this -- thought it was pre-existing to my PR.

[2016-06-13 20:10] #9303 closed

[2016-06-13 20:14] deads2k opened #9307 "403 during discovery doesn't fall back to compiled RESTMapping and versions"
[code]

gives back
[code]

you should get past that and end up with something like this:
[code]

[2016-06-13 20:23] liggitt commented on #9307
the fundamental issue is legitimate (continuing with known info in discovery error cases), but if they're getting a 403 for using `--as`, I'd actually expect an impersonation error, not a list pods error

[2016-06-13 20:27] stevekuznetsov opened #9309 "test/end-to-end/core:183: `oc status` output fragmented across `oc run --attach`"
Seeing this in AWS-based image.

[code]

We see some of the output from `oc status` ... but not all of it?

@deads2k @ncdc thoughts?

[2016-06-13 20:31] tdawson commented on #7219
The CentOS process is *not* automated.
We are still manually creating the rpm's.  We're also still working on the testing.  The testing is closer than the automated building though.

[2016-06-13 20:45] deads2k commented on #9307
"Something like" as in "readable message that indicates a forbidden".  The message is about like this:
`User "deads" cannot "impersonate" "users" with name "bob" in project ""`.  I don't exactly what will come out, but it should be obvious that you've made progress.

[2016-06-13 21:08] tnozicka commented on #9301
Sorry, It was just my set up in which the error manifested and the logs were from Jenkins. I did not meant to imply that it's fault.

@bparees Yes, I am and I did not think there would be a counter in it. Thanks, you most probably found the real issue!

I am doing this with every pipeline build (cycle):
[code]

Although I would expect it to work this way.

[2016-06-13 21:10] oatmealraisin opened #9312 "oc cluster up fails when KUBECONFIG is set"
When KUBECONFIG is set, ```oc cluster up``` fails to find the kube config.

This happens on a clean install of openshift as well as with images/projects installed and whatnot

oc v1.3.0-alpha.1-219-gabe0248-dirty
kubernetes v1.3.0-alpha.1-331-g0522e63

##### Steps To Reproduce
export KUBECONFIG=openshift.local.config/master/admin.kubeconfig
oc cluster up

##### Current Result
[code]

##### Expecte

[2016-06-13 21:30] bparees commented on #9301
Yeah so you're reverting the build sequence number each time you do that.
Take the sequence number (lastVersion I think) out of your buildconfig in
the template and then hopefully apply will just preserve the existing
value. You might need to use "patch" instead of apply, I can't remember the
nuances right now (on my phone, can't check).

Ben Parees | OpenShift
On Jun 13, 2016 5:08 PM, "Tomáš Noži

[2016-06-14 00:01] gravis commented on #9168
@runcom is there somewhere more private to post this kind of information? The images are used in production, and are related to some of our customers.

Thanks

[2016-06-14 00:02] mrunalp commented on #9168
Could either email or create a private bugzilla.

[2016-06-14 07:33] frankvolkel commented on #9241
Got this with a private git repo on bitbucket after following through instructions on https://blog.openshift.com/using-ssh-key-for-s2i-builds/:

[code]

Tested the key and it works. How do I debug source.go and builder.go?

[2016-06-14 07:44] tnozicka commented on #9301
@bparees ok, I will try that as an workaround, but I still believe this is a bug. As a user I don't really care about how the counter is implemented and when I run `oc start-build` on a valid BC, I expect it to work.

So here are some options on top of my mind right now:
 1. Delete corresponding builds when deleting BC
 2. When running `oc start-build` skip the build with colliding numbers and sta

[2016-06-14 08:12] siamaksade opened #9314 "Instantiating a template with new-app and template file doesn't work properly"
I have a template file in yaml:
https://github.com/OpenShiftDemos/openshift-cd-demo/blob/master/cicd-gogs-template.yaml

If I use `oc new-app /path/template.yaml` to instantiate the template, resources don't get created properly and I get errors like:
`Couldn't deploy version 1: ReplicationController "gogs-1" is invalid: spec.template.metadata.labels: Invalid value: {"app":"jenkins","deployment":"

[2016-06-14 08:49] lifei825 opened #9315 "Error syncing pod, skipping: failed to "StartContainer" for "POD" with ImagePullBackOff: "Back-off pulling image \"openshift/origin-pod:v1.2.0-1-g7386b49\"""
## Error syncing pod, skipping: failed to "StartContainer" for "POD" with ImagePullBackOff: "Back-off pulling image \"openshift/origin-pod:v1.2.0-1-g7386b49\""
## Why are there -1-g7386b49

openshift-ansible version:\* master d3a69bb Merge pull request #2020 from dgoodwin/docker-upgrade-services
openshift version:origin 1.2.0
yum : CentOS-OpenShift-Origin.repo

[2016-06-14 08:56] lifei825 commented on #9315
docker version:1.9.1

[2016-06-14 10:47] soltysh commented on #9273
+1 on the idea itself and I guess it will be in @stevekuznetsov area :D

[2016-06-14 10:47] GrahamDumpleton opened #9317 "Dash in project name causes 'oc status -o dot' to produce invalid output."
When running:

[code]

if the project name has a dash in it, the generated dot graph is invalid.

This is because it will start with:

[code]

and looks like can't have dash in name of digraph.

Remove the dash and it works.

[2016-06-14 10:53] kargakis commented on #9317
@deads2k the only special character supported in DOT is the underscore: http://www.graphviz.org/doc/info/lang.html. We should turn dashes (and any other special character we allow on resource names) to underscores.

[2016-06-14 11:15] sttts commented on #8472
The error message `pod does not exist` is probably from here: https://github.com/sttts/kubernetes/blob/6224f44717effa17914fac41f13a4f2be7b5c21b/pkg/kubelet/server/server.go#L569-L569

[2016-06-14 11:16] deads2k commented on #9317
@enj or @juanvallejo who wants it?

[2016-06-14 11:30] kargakis opened #9319 "Allow me to run extended tests on an existing cluster"
Most if not all of the time I just want to run a specific test. Building up and tearing down a cluster, a registry, and a router every time for a single test that may not even use the infra components is not optimal. I should be able to run the test I want  on an already exisitng cluster.

@stevekuznetsov @smarterclayton @deads2k

[2016-06-14 11:41] stevekuznetsov commented on #9319
@derekwaynecarr @mfojtik since you two were so supportive of Ginkgo -- how reasonable is it to do this with our current framework?

[2016-06-14 11:42] deads2k commented on #9319
There are two broad categories of extended tests:
 1. tests that only need a kubeconfig file.
  1. tests that mess with cluster-wide objects in a way that affects others
  1. tests that are project scoped.
 1. tests that need a whacky server setup.

If we can properly categorize the tests, the breaking apart server init from running the tests makes a lot of sense.  I spoke with @soltysh and @mfojt

[2016-06-14 11:44] stevekuznetsov commented on #9273
Since we can do multiple assignments now, do we want to just assign anyone that's an owner of a directory that the PR touches a file under?

[2016-06-14 11:44] deads2k commented on #9319
Much as I may dislike ginkgo, I don't think it makes this problem easier or harder.  We have to decide what a canonical server looks like, then start scoping and tagging the buckets.

[2016-06-14 12:07] legionus commented on #9273
I think yes.

[2016-06-14 12:07] stevekuznetsov commented on #9202
@jwforres still seeing this, and only when spinning up one, or two or five images -- no way I'm getting rate-limited. Here are the [NPM debug log](http://pastebin.test.redhat.com/383528)  and [console output](http://pastebin.test.redhat.com/383524) of a recent failure in case you can divine something from them.

If we can't, how can we configure the install-assets to be more resilient to these sor

[2016-06-14 12:49] tnozicka commented on #9301
Btw. similar case: you have DC and 2 deployments. After you do `oc apply` on DeploymentConfig it will deploy `#3` not `#1`, so the concept already works somewhere although the implementation surely differs.

[2016-06-14 12:56] jimmidyson commented on #9302
I've updated fabric8io/openshift-jenkins-s2i-config with latest plugin versions including required fixes.

[2016-06-14 13:12] #8066 closed

[2016-06-14 13:25] xcoulon commented on #9302
@jimmidyson, can you provide me with the instructions to test this ? Should I just pull the latest version of the `docker.io/openshift/jenkins-1-centos7:dev` image to get all the fixes you've made ?

[2016-06-14 13:29] eparis commented on #9273
I always feel like group assignment means that no one has responsibility...

[2016-06-14 13:30] eparis commented on #9273
I'll just believe @pweil- is gonig to hanve this issue and he's going to think that I will....

[2016-06-14 13:33] stevekuznetsov commented on #9273
Before we implement anything, first we need to have a conversation on what it means to assign someone a PR. In Origin today we don't even do that. Then I'd like to see a clear set of gains for an OWNERS impl in general and some consensus on what that sort of impl would look like.

[2016-06-14 13:37] csrwng commented on #9247
For now we will change anything logged at level 1 or 2 to "0". Does that sound acceptable?

[2016-06-14 13:41] mfojtik commented on #9319
@deads2k i'm OK with tagging some tests to run against real cluster but we will have to be careful in cleaning things up. Also as @deads2k mentioned, we can only test things that does not require admin perms...

@stevekuznetsov are we thinking about running a cluster in Jenkins setup? or is this more like "we want to share the cluster with other tests to speed up things" ?

[2016-06-14 13:44] jupierce commented on #9235
Appears to pre-req fix for #9247 before I can test my changes. @csrwng

[2016-06-14 13:44] mfojtik commented on #9309
This seems to be more like a CLI issue. @kargakis can you look this up? If it turns to be CLI and not platform specific, please re-assign to @fabianofranz

[2016-06-14 13:49] kargakis commented on #9319
I was thinking of a flag I could use that would run the extended test or suite I want in my own cluster that I use for development. It would also be better for debugging.

[2016-06-14 13:59] #7427 closed

[2016-06-14 14:08] mfojtik opened #9320 "Replace fsouza/go-dockerclient with docker/engine-api"
Kubernetes already moved to use the docker/engine-api, we should follow that as well. The rebase will have wrapper that allow us to transition to new Docker client without breaking stuff.

We will also need to switch S2I to use engine-api.

[2016-06-14 14:17] stevekuznetsov commented on #9309
I'm not sure if it's CLI -- I guess it's possible there are cases where `oc status` doesn't print everything it needs to, but perhaps it's an `oc run --attach` problem

[2016-06-14 14:22] sosiouxme opened #9321 "Template cannot fill keys with parameters"
When filling in a template it is helpful to be able to vary the keys, e.g. for label names or annotation names. But you can't; only values appear to get substitutions from template parameters.

##### Version
oc v1.3.0-alpha.1-189-gde2a8bc-dirty
kubernetes v1.3.0-alpha.1-331-g0522e63

##### Steps To Reproduce
1. Create a template like the following:

          apiVersion: "v1"
          kind: "Temp

[2016-06-14 14:26] stevekuznetsov opened #9322 "test/integration: test fails because of unreachable etcd"
Logs filtered as such:
[code]

/cc @liggitt @deads2k

[2016-06-14 14:28] liggitt commented on #9322
I doubt that has anything to do with that test in particular. That's the classic symptom of the etcd disk hang.

[2016-06-14 14:31] stevekuznetsov commented on #9322
Not using RAMdisk on local AWS setups ... this is fixed

[2016-06-14 14:31] #9322 closed

[2016-06-14 14:31] mfojtik opened #9323 "Follow up to look at the anti-affinity scheduler feature"
See if there are other aspects we should be concerned about for multi-tenant.

[code]

[2016-06-14 14:32] smarterclayton commented on #9319
You mean... TEST_ONLY=1?

[2016-06-14 14:33] smarterclayton commented on #9319
or

[code]

?

[2016-06-14 14:33] smarterclayton commented on #9319
Or

[code]

[2016-06-14 14:34] #9319 closed

[2016-06-14 14:34] stevekuznetsov commented on #9309
Confirm I've seen this more than once, same log.

[2016-06-14 14:35] smarterclayton commented on #8472
This should now be translated into a correct errors.IsNotFound warning on
the client, so we should be able to detect pod not found and give a better
message.

On Tue, Jun 14, 2016 at 7:15 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2016-06-14 14:35] bparees commented on #9235
@jupierce no that shouldn't be a prereq, this is about test code logging, not product logging.

[2016-06-14 14:39] bparees commented on #9247
@csrwng it sounds like the right starting point for the PR.  we can review what messages that ends up including in the PR.

[2016-06-14 14:41] bparees commented on #9302
latest dev image has been rebuilt/pushed, so probably.

[2016-06-14 14:42] smarterclayton commented on #9319
That already exists.  It's KUBECONFIG

(also, this was a humorous close, not a mean close.  I should have added an
emoji).

On Tue, Jun 14, 2016 at 9:49 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-06-14 14:43] smarterclayton commented on #9319
Emoji added.

[2016-06-14 14:44] kargakis commented on #9319
Ah, sweet

[2016-06-14 14:44] deads2k commented on #9319
I think its reasonable to refactor the launch script to allow specifying a different cluster set-up mechanism to extended the tests.  In @soltysh's case, the goal is to run conformance tests with a particular config.  He doesn't want to do it as a one off, he wants to do it as an extended run on the AMIs.

[2016-06-14 14:46] bparees commented on #9301
well it's not a valid BC because it's a BC that's reusing a version number.  like i said, if the BC you were applying didn't set the build counter, it would probably be fine.  did you try that?

and we do have logic that deletes all builds when you delete a BC, but you aren't deleting the BC, you're updating it.

we do have trello cards in our backlog for better handling build number collisions.

[2016-06-14 14:49] smarterclayton commented on #9319
[code]

[2016-06-14 14:51] liggitt commented on #9323
marking as p1 until we determine whether or not there are multi-tenant implications

[2016-06-14 14:56] liggitt commented on #9321
I know we're trying to limit feature additions to templates to ease transitioning to eventual upstream templating... @bparees, this seem likely or not?

[2016-06-14 14:57] csrwng commented on #9235
@bparees, what @jupierce was seeing is that some extended tests that expect to find certain strings in the log are failing. He didn't want to deliver his change with failing tests.

[2016-06-14 15:03] xcoulon commented on #9302
ok, so I pulled the latest image:
`docker pull docker.io/openshift/jenkins-1-centos7:dev`

created the project again (after deleting it)
`oc new-project kitchensink-cli`

applied the template
`oc new-app -f pipelinetemplate.json -p NAME=kitchensink-cli -p SOURCE_REPOSITORY_URL=https://github.com/redhat-kontinuity/kitchensink-html5-mobile.git`

and got the following error in the Jenkins pod:

[code

[2016-06-14 15:06] jimmidyson commented on #9302
Yes that's the correct issue which I'm working on fixing right now. It's to do with Jenkins non-isolated classloaders for (de-)serializing config & conflicting versions of same JAR in global classpath. Switching to only using classes internal to the sync plugin for config elements.

[2016-06-14 15:12] stevekuznetsov commented on #9319
How does `set_up_the_cluster_like_i_want.sh` dynamically determine what I want?

[2016-06-14 15:36] deads2k commented on #9321
Opened https://github.com/openshift/origin/pull/9324 so we can argue about whether we want it, not about whether or not it will be hard.

[2016-06-14 15:47] knobunc commented on #8773
This fix https://bugzilla.redhat.com/show_bug.cgi?id=1320233 drastically reduces the number of reloads.  Before it would reload periodically, even if there were no changes.  Now it only reloads when there are changes.

The reason there are drops is because haproxy uses the PORT_REUSE flag on the socket to do the reload.  There is a kernel bug that sometime packets can get dropped if they get sent

[2016-06-14 15:47] #8773 closed

[2016-06-14 15:50] marun commented on #6589
Fixed by #7668

[2016-06-14 15:50] #6589 closed

[2016-06-14 15:54] deads2k commented on #9319
@stevekuznetsov I was thinking more like `test/extended/conformance.sh --config=test/extended/setup/[multimaster|default|audit-on].sh`

[2016-06-14 15:58] #7834 closed

[2016-06-14 16:04] oatmealraisin opened #9326 "oc get --help should mention "oc get" to list available resources"
Right now the ```oc get --help``` command does not provide enough information about possible resources.  You can get a full list of resources from ```oc get```, but this isn't mentioned in the ```--help``` page.

##### Version
oc v1.3.0-alpha.1-285-g09a2910
kubernetes v1.3.0-alpha.1-331-g0522e63

##### Current Result
[code]

##### Expected Result
[code]
or something similar

@juanvallejo

[2016-06-14 16:07] smarterclayton commented on #9319
Probably because you tell it what you want.  There is no setup step that is
required to be integrated into the test in that fashion.

On Tue, Jun 14, 2016 at 11:54 AM, David Eads <notifications@github.com>
wrote:

[2016-06-14 16:14] bparees commented on #9314
@csrwng ptal.

[2016-06-14 16:24] smarterclayton commented on #9319
Note that if you want to create an "init" script that is run by a
particular suite, that makes sense.  But it doesn't make much sense to make
conformance parametrizable to setup when you can implement setup outside of
conformance.  Inversion of concerns.

On Tue, Jun 14, 2016 at 12:07 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-06-14 16:32] bparees commented on #9235
@csrwng ah, ok.

[2016-06-14 16:33] bparees commented on #9321
it seems reasonable to me.

[2016-06-14 16:45] #8439 closed

[2016-06-14 16:45] #8500 closed

[2016-06-14 16:45] #9289 closed

[2016-06-14 17:09] deads2k commented on #9319
Forcing a setup "registration" into a particular location will make it easier to track all variation and write automated automation.  There are other spots to do it, but I think the alternatives end up looking like our vagrant-openshift versus openshift problems.  I'd really prefer to keep setup contained if at all possible.

[2016-06-14 17:12] smarterclayton commented on #9319
I'm totally ok with keeping setup constrained.  I just think you should do
setup before you call the test, not by passing a script into the test.

On Tue, Jun 14, 2016 at 1:09 PM, David Eads <notifications@github.com>
wrote:

[2016-06-14 17:13] oatmealraisin commented on #3230
I've managed to get some output similar to what he was talking about.  If you give new-app a bogus file it complains about the FROM section.  I gave it a .jpg and it outputs . . .

[vagrant@localhost ~]$ oc new-app https://github.com/oatmealraisin/docker-nfs-server --strategy=docker -o  yaml > not_broken.txtA
error: the Dockerfile in the repository "/tmp/gen260586057" has no FROM instruction

Howe

[2016-06-14 17:15] bparees commented on #3230
sgtm.

[2016-06-14 17:15] #3230 closed

[2016-06-14 17:17] deads2k commented on #9326
@juanvallejo assigned to me as a request for help trying to figure out how?

[2016-06-14 17:20] juanvallejo commented on #9326
@deads2k Ah just want your feedback whether or not the issue should be pursued

[2016-06-14 17:23] deads2k commented on #9326
There are *lots* of possible resources, I don't think we want to suggest all of them.  Updating `oc describe` to actually pull a dynamic list from the server seems pretty reasonable, but I don't think this is a high priority problem unless @fabianofranz really wants it.

[2016-06-14 17:32] fabianofranz commented on #9326
@deads2k Actually I understand what's being suggested here is to add the following line to the help of  `oc get` so that users know where to go to list what's supported by `get`:

[code]

Makes sense to me and quite simple to do.

[2016-06-14 17:47] deads2k commented on #9326
I count 107 resources listed in discovery so far, just oapi, api, and extensions, not counting additional groups.  Are you sure you want to list them all in help for `oc get`?  How would we try to organize them to keep it from scrolling several pages?

[2016-06-14 17:48] derekwaynecarr commented on #9319
I think the focus flag covered all that I would offer to this discussion ;-)

[2016-06-14 17:50] fabianofranz commented on #9326
@deads2k We are talking different things. What I mean and understand is the proposal of this issue, is just to add the following phrase to `oc get --help`: "Use "oc get" for a full list of possible resources".  :)

[2016-06-14 17:53] liggitt commented on #9326
`oc get` doesn't return a full list of possible resources today, does it? It returns a list of 20-30...

[2016-06-14 17:56] fabianofranz commented on #9326
@liggitt yes - limited to what's important to the average user of `oc`.

[2016-06-14 17:59] knobunc commented on #8811
What version are you running?  This PR added locking to the router reloads:
  https://github.com/openshift/origin/commit/437ead66376dc1941e593b7eb2a6fcf1ca1fabb2

[2016-06-14 18:02] liggitt commented on #8811
https://github.com/openshift/origin/pull/8893 fixed this issue, and was merged on 5/17

[2016-06-14 18:03] knobunc commented on #8811
Cool.  Thanks @liggitt

[2016-06-14 18:03] #8811 closed

[2016-06-14 18:05] deads2k commented on #9326
I'm pretty sure that's what `oc describe` is intended to do, isn't it?

[2016-06-14 18:08] danwinship commented on #9255
OK, my idea for using `SO_MARK` to preserve the VNID through the userspace proxy doesn't work, because `SO_MARK` is actually write-only. There doesn't seem to be any way to discover the fwmark value on incoming traffic from userspace, nor do there seem to be any other spare bits we could use for this (at least under IPv4). So that plan is dead for now at least.

So we're back to the admission cont

[2016-06-14 18:17] jwendell opened #9330 "haproxy restarting"
Sometimes client->server connection is dropped while data is being exchanged...
Sometimes client get 503 errors.

Investigating the logs, I see those on proxy pod logs:
[code]

This looks similar to #8825. But I don't see the "concurrent map read and map write" message reported there.

##### Version
openshift v3.2.1.1-1-g33fa4ea
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

[2016-06-14 18:25] oatmealraisin commented on #9326
@deads2k You mean ```oc describe get```?

[2016-06-14 18:44] tracyrankin commented on #8826
@smarterclayton can we close this now that this PR is merged?
https://github.com/openshift/origin/pull/9211

[2016-06-14 18:46] deads2k commented on #9326
`oc describe`

[2016-06-14 19:03] smarterclayton commented on #8826
Yes

[2016-06-14 19:03] #8826 closed

[2016-06-14 19:25] csrwng commented on #9314
I get similar errors with new-app and process:
[code]

[2016-06-14 19:25] csrwng commented on #9314
[code]

[2016-06-14 19:27] csrwng commented on #9314
Actually scratch that, wrong file

[2016-06-14 19:41] #8880 closed

[2016-06-14 20:06] oatmealraisin commented on #5986
I believe https://github.com/openshift/origin/pull/9281 also fixes this.
#8505 is very similar.

[2016-06-14 20:09] sttts commented on #8472
The error message from the kubelet is actually not too wrong. I doesn't see a local pod because it terminated. Compare https://github.com/kubernetes/kubernetes/issues/27359, that's the better fix IMO, and inline with kubectl-attach.

[2016-06-14 20:21] gravis commented on #9168
I tried to remote some dead containers today:

[code]

Could this be related?

[2016-06-14 20:22] soltysh commented on #9273
I'd assume it looks similar to the one k8s has. Iow. from the list of OWNERS for dir one is picked randomly and he gets the assignment. In general I think it's all about having someone getting the notification that there's such issue, so he can either work on it or re-assign to more appropriate person if such exists. That, I believe, is how it works for k8s, but @eparis will know better.

[2016-06-14 20:25] eparis commented on #9273
that is what we do, yes. The bot reads the OWNERS files in master, does a little heuristic to weigh people and then from the weight randomly picks the a person and assigns the PR to that person.

[2016-06-14 20:27] csrwng commented on #9314
Testing with the right file, both 'oc new-app' and 'oc process' work for me using the latest released origin client (v1.3.0-alpha.1). Will look into the OSE 3.2 version.

[2016-06-14 20:33] stevekuznetsov commented on #9273
Since that workflow currently lives under the purview of @danmcp  -- two questions:
 - is the way @danmcp is doing it now not sufficient?  how so? how can this approach remedy that?
 - @danmcp would you rather not do this yourself?

[2016-06-14 20:41] eparis commented on #9273
The OWNERS stuff upstream only touches PRs. And I know @danmcp looks at both PRs and issues. (we have minimal issue management, if you create a PR that fixes and issue, the issue gets assigned to you)

[2016-06-14 20:44] danmcp commented on #9273
@stevekuznetsov I actually haven't been assigning PRs for review all that much.  We haven't actually had a high enough number of external PRs that we have needed an automated system either.  I did happen to go through all the PRs today and found 5 or 6 of a few hundred PRs that were submitted externally that hadn't gotten enough attention in the last few months.  It would have been useful to auto

[2016-06-14 20:49] csrwng commented on #9314
I'm not able to reproduce with the latest v3.2:
[code]

[2016-06-14 20:55] bparees commented on #9314
What does work mean in this context? I got the impression from the issue
report that the problem was not actually instantiating the template, it was
that the deployment that resulted from the DC failed in one case and not
the other. Did your stuff fully deploy successfully in both cases?

Ben Parees | OpenShift
On Jun 14, 2016 13:28, "Cesar Wong" <notifications@github.com> wrote:

[2016-06-14 20:58] soltysh commented on #9203
Seen earlier in #9021.

[2016-06-14 21:00] csrwng commented on #9314
ahh, then I was looking at the wrong thing... let me try again

[2016-06-14 21:06] stevekuznetsov commented on #9203
Underlying issue is https://bugs.centos.org/view.php?id=10685 as diagnosed in #9230

[2016-06-14 21:07] ripcurld00d commented on #8880
Please be advised, that https://github.com/kubernetes/kubernetes/pull/26539 needed to be merged to fix this completely.

[2016-06-14 21:25] jupierce commented on #9235
@bparees , @csrwng Unfortunately, fixing #9247 does not address the extended build test failures in my environment.

Focusing in on one spec failure (of 5 in my env): secrets.go, which checks build output for the presence of a string "secret1=secret1" which is supposed to be echo'd from test/extended/testdata/build-secrets/Dockerfile during build.

This echo is only sporadically visible in my bc/t

[2016-06-14 21:58] #9321 closed

[2016-06-14 22:58] csrwng commented on #9314
ok so the reason it's behaving differently with new-app is that new-app will set labels on all produced objects, and not all in the same way.

When labels are not specified, new-app decides that it will label all resources with 'app=[name]' where [name] is the first name it finds in the objects/images it needs to deploy. The template itself already contains several app=[blah] labels throughout.

I

[2016-06-14 23:21] bparees commented on #9235
if you setup the dockerfile to always fail (RUN exit 1 as the last line), you'll always get the full output.  See:
https://github.com/openshift/origin/blob/master/test/extended/testdata/build-quota/Dockerfile#L7-L8

(this is only an acceptable solution if it's ok for the test to expect failure of the build, of course).

[2016-06-15 02:38] sosiouxme commented on #9321
thanks!

[2016-06-15 03:40] #8645 closed

[2016-06-15 06:48] siamaksade commented on #9314
I see. Will this behaviour (overwriting labels) in `oc new-app` be consistent with `oc process -f file.yaml | oc create -f -`?

[2016-06-15 07:46] mfojtik opened #9337 "Unify testclient action types"
Kubernetes refactored the `Action` handling in testing:

[code]

We should unify this across all tests.

[2016-06-15 08:26] soltysh opened #9338 "[builds][Conformance] s2i build with a quota"
Seen in #9021.
[code]

Full log is [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2062/consoleFull).

@bparees or @miminar I'm not quite sure which of the two of you can have a look at it.

[2016-06-15 08:54] jorgemoralespou commented on #9314
@csrwng Let me understand future behavior:

If I have a template that has a label of "application=example".

* If I do `oc new-app template.yaml` what will I get as application label in the resulting objects?
* If I do `oc new-app template.yaml --name=myapp` what will I get as application label in the resulting objects?
* If I do `oc new-app template.yaml -l application=otherapp` what will I get a

[2016-06-15 09:07] kargakis opened #9339 "Add Conditions alongside Phases"
In a similar fashion to https://github.com/kubernetes/kubernetes/issues/14181

Our build and deployment config API should[1] transition from Phases to Conditions
Deployment related changes are tracked in https://trello.com/c/OIggCmzo/699-5-deployments-downstream-conditions so I am handing this issue to @bparees

[1] Is it something we want to do? I would say that we should follow upstream conventi

[2016-06-15 09:11] kargakis commented on #9339
Also another thing I realized while reviewing https://github.com/openshift/origin/pull/9308 even though I had written than [part of code](https://github.com/openshift/origin/blob/6ab98bc15240c74fc921379e1d7c50f1388b51ef/pkg/build/graph/analysis/bc.go#L195-L205) before: why do we separate Failed from Error and Cancelled for builds? Upstream pod conditions seem to use different kinds of Reasons (Cra

[2016-06-15 09:41] mfojtik commented on #9222
Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2068/console

[2016-06-15 11:25] mfojtik commented on #9320
@bparees is this something devexp will want to own? I think builds is the biggest user of go-dockerclient.

[2016-06-15 11:28] #9144 closed

[2016-06-15 12:04] jimmidyson opened #9341 "Git source ref is dropped when creating build config"
Creating a build config with git ref specified seems as though the git ref is dropped.

Example build config:

[code]

Getting back the created build config with `oc get buildconfig eap` returns:

[code]

Notice the missing ref in git build source. Editing & adding this back in works fine.

##### Version
Local build of master:

[code]

[2016-06-15 12:15] jimmidyson commented on #9341
Doh! Was a dodgy Jenkins instance updating build configs removing it. Sorry for the noise!

[2016-06-15 12:15] #9341 closed

[2016-06-15 12:50] knobunc commented on #9330
I believe this is caused by excessive router reloads.  This is fixed by:
  https://bugzilla.redhat.com/show_bug.cgi?id=1320233 (issue https://github.com/openshift/origin/issues/7409)

There is an underlying kernel bug that causes haproxy reloads to occasionally drop packets if the incoming connection is placed in the socket for the old process, but that process exits before handling it:
  https://

[2016-06-15 12:50] #9330 closed

[2016-06-15 13:14] csrwng commented on #9314
Not quite. It's a "feature" of new-app to set a common label to all the objects it creates, while `oc create -f` is strictly passthrough. I'm not saying this is the way that is should be, but that's what it is right now.

[2016-06-15 13:19] csrwng commented on #9314
@jorgemoralespou

The same application=example, plus app=[some name] that new-app comes up with. Note that only the `app` label is special for new-app. Which is why @siamaksade was seeing an issue. His template already includes `app` labels.

You'll get existing labels + name=myapp

Your existing labels (application=example) will be overwritten with `application=otherapp` throughout all objects th

[2016-06-15 13:31] miminar opened #9343 "S2I push with docker 1.10 reports success for failure"
I'm running a test s2i build using `oc new-app openshift/ruby-22-centos7~https://github.com/openshift/ruby-hello-world.git` with a default `docker.io/openshift/ruby-22-centos7:latest` source image. The build succeeds (I see a message `Push successful`) at the end of `oc logs -f bc/ruby-hello-world` but no layer have been pushed successfuly. I'd expect the builder to do a proper job in reporting pu

[2016-06-15 13:40] liggitt commented on #9320
Related items from rebase:
* engine-api supports token auth as well
* re-enable new-app integration test
* remove wrapper holding go-dockerclient and engine-api objects
* fix DOCKER_HOST env workaround on OS X

[2016-06-15 14:03] stevekuznetsov commented on #9249
Will be fixed by bringing in https://github.com/kubernetes/kubernetes/pull/27168

[2016-06-15 14:03] #9249 closed

[2016-06-15 14:16] jupierce commented on #9235
@bparees  Unfortunately, secrets.go expects a successful build. Your description sounds like stdout from RUN can be buffered and lost, so I tried forcing the secrets to unbuffered stderr:
RUN (test -f /secrets/secret1 && echo -n "secret1=" && cat /secrets/secret1) >&2
RUN (test -f /secret2 && echo -n "relative-secret2=" && cat /secret2) >&2

See screenshot for ginkgo output
![screenshot from 2016-

[2016-06-15 14:23] stevekuznetsov commented on #9235
Yes, this definitely does not seem like it should be done within the Dockerfile. If you can't make that switch work, you could always do a 'contains' check for your output instead of a 'equal' check so that you can ignore the colorization output sent to the terminal.

This actually is a little bit of a pain point for me working with Ginkgo and not with a TTY -- in our text lib I make sure to only

[2016-06-15 14:29] stevekuznetsov opened #9345 "build-images flakes with `transfer closed with XX bytes remaining to read`"
Seeing this:

[code]

Hopefully this is one-in-a-million thing, but this is here to track it just in case

[2016-06-15 14:32] jupierce commented on #9235
@stevekuznetsov The check that is failing is actually a contains (vs equals). So it as if Docker is colorizing each character and throwing off the string substring match.

[2016-06-15 14:37] stevekuznetsov commented on #9235
@jupierce incredible

[2016-06-15 14:44] vbatts opened #9346 "Add pointer to docs (url?) for configurations"
After starting the all-in-one in container, there is a WARNING of no registry configured, but _how_ to configure this is not clear. Perhaps add it to the warning output of the cli, and maybe to the docs as well.

##### Version
[code]

##### Steps To Reproduce
1. `oc new-project demo`
2. `oc new-app centos/ruby-22-centos7~https://github.com/openshift/ruby-ex.git`

##### Current Result
[code]
#####

[2016-06-15 15:24] bparees commented on #9338
dupe of https://github.com/openshift/origin/issues/8427 but @mrunalp should be alerted it's still happening.

[2016-06-15 15:24] #9338 closed

[2016-06-15 15:29] bparees commented on #9339
We wanted to preserve "failed" for indicating an actual build failure (eg compile error) as compared with error (infrastructure problems) or canceled (user choice).

could it be done with reasons?  it could.  but that means requiring the user look at an additional field and makes filtering/sorting harder.

[2016-06-15 15:55] vbatts opened #9347 "Disable dnf makecache on vagrant image"
while testing the https://www.openshift.org/vm/, the vagrant machine on VirtualBox was throttled for a bit by the dnf-makecache unit file. Something like this should suffice: ```
[vagrant@localhost ~]$ sudo systemctl mask dnf-makecache.timer
Created symlink from /etc/systemd/system/dnf-makecache.timer to /dev/null.
[vagrant@localhost ~]$ sudo systemctl mask dnf-makecache.service
Created symlink fr

[2016-06-15 15:57] jorgemoralespou commented on #9314
@csrwng

So, I think I should reformulate my question, if the template as a label of `app` and you create an application through new-app, app label will be replaced? Is this documented?

Is `app`the label we'll be using to standardise grouping in overview?

[2016-06-15 16:05] csrwng commented on #9314
@jorgemoralespou

Yes, the existing app label on your template will be replaced (iff you don't specify your own labels for new-app with `-l mylabel=blah`).

This is currently not documented, and as I said before, the behavior in the code has been inconsistent up to now. When the rebase lands we'll need to update the documentation to explain the behavior.

I am not aware that it has a special meani

[2016-06-15 16:22] kargakis commented on #9339
I don't think the user would need to do anything different than today if we correctly surfaced the reasons on the output of`get` and `describe`. Same story with pods today, when you do `oc get pods` and have a CrashLooping pod you will not see Running (phase) but CrashLooping in the STATUS column.

[2016-06-15 16:25] bparees commented on #9339
Reasons do not tend to be as tightly enumerated as Phase, they are more freeform and likely to have new ones added.  So again, sorting/filtering is harder (both for users, and for the UI components).

[2016-06-15 16:37] bparees commented on #9235
@csrwng's approach sounds fine.

[2016-06-15 16:38] bparees commented on #9320
i guess we can drive it. don't hold your breath :)

[2016-06-15 16:45] smarterclayton opened #9348 "Generate man pages like upstream Kube"
Ref https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/cmd/genman/gen_kubectl_man.go

@eparis @fabianofranz something we should think about doing.

[2016-06-15 16:46] fabianofranz commented on #9348
+1

[2016-06-15 16:48] smarterclayton commented on #9339
I think we want to add conditions. But existing phases can't change
(we can't add to them either).  So we should focus on adding
conditions that convey info we need.

[2016-06-15 17:09] lvthillo commented on #9315
same issue (I'm using my own repository but it contains the same images as in the openshift registry on docker hub). But the tag v1.2.0-1-g7386b49 does not exist.

[2016-06-15 17:11] spadgett commented on #9314
We show the app label if it's set in the new overview. Service grouping isn't controlled by the app label, though. It is set through annotations on the services. For example,

https://github.com/openshift/origin/blob/master/examples/jenkins/pipeline/pipelinetemplate.json#L62-L64

This is temporary until we have true service linking.

[2016-06-15 17:32] smarterclayton commented on #9339
All error conditions should have well defined reasons and those
reasons should be on conditions.  We should not add fields to status
that belong on conditions (in general).

On Wed, Jun 15, 2016 at 12:48 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-06-15 17:36] bparees commented on #9339
Can someone summarize, or point me to a summary definition and intended usage for:

* Phase
* Condition
* Reason

?

[2016-06-15 17:45] smarterclayton commented on #9339
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md

On Wed, Jun 15, 2016 at 1:36 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-15 18:24] dgoodwin commented on #9315
I believe this is related to the assumptions we make about reading the version from "openshift version" and then assuming it is a valid image tag. I'm going to try to handle this with the release/version refactor in https://github.com/openshift/openshift-ansible/pull/1945

[2016-06-15 18:37] #8022 closed

[2016-06-15 18:55] deads2k commented on #9339
1. Phase: State of the object.  Only one per resource allowed.  Interpreting the phase requires understanding of the state machine.
1. Condition: State of an individual aspect of the resource.  Multiple allowed per resource. Every condition can be true, false, or unknown.
1. Reason: One word explanation of why the condition is true, false, or unknown.  "APIServerUnreachable"
1. Message: Long, huma

[2016-06-15 18:58] bparees commented on #9339
If Phase is being replaced by Condition, but we now have multiple conditions at a time, that does not seem to lend itself to the current "oc get" output format with a single row per resource and single column per field being reported.  Has someone address how conditions should be reported in that format?

[2016-06-15 18:59] lvthillo commented on #9315
@dgoodwin So as I understand it will be possible to define the version of Origin in you playbook?
Any idea when this future will be implemented?

[2016-06-15 19:05] gabemontero commented on #8338
Do we want the chains displayed as separate lines similar the `standaloneDC` / `standaloneImage` / `standalondRC` stuff, or somehow underneath the `describeDeploymentInServiceGroup` umbrella?

If a separate section, perhaps preceding the Errros/Warnings sections.  Something like:

[code]

[2016-06-15 19:26] dgoodwin commented on #9315
@lvthillo not too far off, I've got most of it done just trying to wrap up and hitting issues with origin's versioning I'll be working on. I'd say within the next week or so.

[2016-06-15 19:29] stevekuznetsov commented on #9346
We suggest `oc cluster up` now, right? And that does all of this for you? Perhaps make that link clearer in the startup as well?

/cc @csrwng

[2016-06-15 19:56] smarterclayton opened #9355 "extended networking flake: subnet: Services should serve a basic endpoint from pods"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_networking/1301/ failed subnet tests

[code]

Due to what looks like a race / failure to setup the subnet plugin.

[code]

[2016-06-15 19:57] mfojtik opened #9356 "Add fuzzer for RateLimiter in clientcmd_test"
We need to fuzz the RateLimiter in clientcmd_test (TestAnonymousConfig ) to see if the config is serialized properly. See:

https://github.com/openshift/origin/pull/8856/commits/53d9db2bbcb49113d48ad7f5b2028b98d66e1e10#diff-9b042190d0f0f247ba56f50b7499a7d4R25

[2016-06-15 19:57] smarterclayton commented on #9355
In https://github.com/openshift/origin/pull/7918

[2016-06-15 19:58] deads2k commented on #9339
So far?  Just a column that has the `[Not]Condition.Type` in a comma delimited list.

[2016-06-15 19:58] mfojtik commented on #9356
@deads2k @liggitt opened to track this. I will fix this tomorrow.

[2016-06-15 19:59] smarterclayton commented on #9339
Phase is not being replaced by condition.  No new phases should be added to
any new objects, conditions do that job better and safer.  Pods summarize
conditions in their describer.  See the pod output for more.

On Wed, Jun 15, 2016 at 2:58 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-15 20:01] sosiouxme opened #9357 "oc route template needs a newline"
`oc get routes` doesn't put a newline between entries.

##### Version
$ oc version
oc v1.3.0-alpha.1-341-g9bf11ed-dirty
kubernetes v1.3.0-alpha.1-331-g0522e63

##### Steps To Reproduce
1. create multiple routes
2. oc get routes

##### Current Result

[code]

##### Expected Result

[code]

[2016-06-15 20:11] bparees commented on #9339
"Some resources in the v1 API contain fields called phase, and associated message, reason, and other status fields. The pattern of using phase is deprecated. Newer API types should use conditions instead."

certainly sounds like phase is being replaced by condition (that doesn't mean we're changing existing usage, but going forward it is taking the place of where phase was used previously).

[2016-06-15 20:12] jhadvig opened #9358 "SelfSubjectRulesReview request from a user with a cluster-admin role"
Encountered a strange thing, where when sending the `SelfSubjectRulesReview` request from the web-console. Response for a non-clusterAdmin user will have an array of rules but for a  user which is clusterAdmin I'm get back a empty rules array.
The way I've created the cluster admin user was:
`oadm policy add-cluster-role-to-user cluster-admin admin --config=openshift.local.config/master/admin.kube

[2016-06-15 20:13] liggitt commented on #9358
guessing that cluster-scoped permissions don't appear in `*SubjectRulesReview` responses... they probably should

[2016-06-15 20:20] bparees commented on #9339
that seems problematic for any constrained width console.  we already struggle to keep the get output to 80 chars.

[2016-06-15 20:20] smarterclayton commented on #9339
They are actually consolidated.  In practice they don't matter as much.

On Wed, Jun 15, 2016 at 4:20 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-15 20:27] jwendell commented on #9330
Thanks for you reply.

I tried the workaround but it didn't work...

Do you happen to know when the fix merged in #8287 will get into openshift the product? I'm using openshift v3.2.1.1-1-g33fa4ea. Tomorrow we are going to upgrade to 3.2.1.2.

[2016-06-15 20:31] stevekuznetsov opened #9359 "Break up test/cmd/admin.sh"
We've reached almost 500 lines in there, we need smaller suites either in a directory `test/cmd/admin` or in the top-level dir.

/cc @smarterclayton @deads2k @liggitt

[2016-06-15 20:35] csrwng commented on #9346
@stevekuznetsov not sure I understand what you're suggesting... which startup are you referring to?

[2016-06-15 20:39] danwinship commented on #9355
So the logs don't show how we got into this situation (which appears to be that docker never got restarted and told to use lbr0). At least somewhat related to https://trello.com/c/LPDKU4Nz though (which is that we don't wait for docker to finish restarting after we restart it).

[2016-06-15 20:51] stevekuznetsov commented on #9346
We refactored the use of the container into the `oc cluster up` invocation in the tests, so I was assuming that @vbatts could have used `oc cluster up` instead of his startup procedures, and `oc cluster up` sets up the registry, right?

[2016-06-15 20:52] inlandsee commented on #9241
And this, also a private repo.

[code]

Notes:

- copying ssh key to the container and invoking clone works as expected
- unaltered s2i build worked properly with source secret prior to recent origin/docker upgrade

[code]

[2016-06-15 20:56] pweil- opened #9361 "Check sup groups in PV beta feature"
See https://github.com/kubernetes/kubernetes/issues/27197.

At a minimum we'll need to do a policy check to ensure the groups are allowed (build already does something similar for UID access).

[2016-06-15 20:59] csrwng commented on #9346
yup `oc cluster up` does all that for you.
The part that I didn't get is where were you suggesting to make changes so that we make it obvious that you should be running `oc cluster up` and not something else.

[2016-06-15 21:20] smarterclayton commented on #9355
Ok, thanks for investigating.  We can bump to p2

[2016-06-15 21:24] #8390 closed

[2016-06-15 21:40] roldancer opened #9363 "Question about --security-opt=no-new-privileges"
Hi All, I would like to know if it possible to configure this "docker run" parameter in OpenShift --security-opt=no-new-privileges, any idea ?

Many thanks.

[2016-06-15 21:42] smarterclayton opened #9364 "extended flake: build without output image building from templates should create an image from ".../test-docker-no-outputname.json" docker template without an output image reference defined"
[code]

[code]

[2016-06-15 21:44] smarterclayton commented on #9364
Docker failure in 1.10 in device mapper on RHEL7 @runcom @mrunalp

[code]

[2016-06-15 21:44] smarterclayton commented on #9364
This was in cleanup of a `docker build`

[2016-06-15 21:46] runcom commented on #9364
Ping @rhvgoyal

[2016-06-15 22:27] kargakis commented on #9339
The latest condition. Conditions also have timestamps.

[2016-06-15 23:54] #4398 closed

[2016-06-15 23:54] #9314 closed

[2016-06-16 00:24] fabianofranz commented on #7144
Fixed in https://github.com/openshift/origin/pull/9351

[2016-06-16 00:24] #7144 closed

[2016-06-16 02:49] liggitt commented on #9363
That's not surfaced as an option in the pod spec, but fine grained control over add/drop capabilities is available under the pod security context. Since the kubelet launches containers, and runs as root, I'm not sure a generic "no new privileged" option makes sense on a pod spec

[2016-06-16 02:49] #9363 closed

[2016-06-16 04:03] adohe opened #9367 "should avoid burst in haproxy reload"
Currently, we use token bucket to control reload rate limit in router, I think this way can cause frequent reload in  a short period some times, like reload 3 times in five seconds. I really think backoff is more appropriate here. @smarterclayton wdyt?

[2016-06-16 04:37] smarterclayton commented on #9367
Yeah makes sense - Ideally reload rate is inversely proportional to time
spent doing a reload and the CPU used during that process, but agree bucket
is not optimal.

On Thu, Jun 16, 2016 at 12:03 AM, TonyAdo <notifications@github.com> wrote:

[2016-06-16 04:57] frankvolkel commented on #9241
Removing all `searchdomain` entries in `/etc/sysconfig/network-scripts` or `/etc/resolv.conf` file fixed the issue.

This was discovered by testing on a local setup with DHCP addressing instead of a manually assigned IP with the host in my original question, which worked fine, which helped to narrow down the issue to networking differences between both environments.

[2016-06-16 04:58] smarterclayton opened #9368 "Significant regression in API server due to policy code path"
... the bad news is that we're allocating too much in policy again :)

From test-cmd in memprofile, it looks like we are bypassing / flushing the policy cache very aggressively (in an N^2 or N^3 pattern, maybe?) and so we are allocating lots of objects.  For a test-cmd run we make ~40k API calls, but we are allocating ~26.5 million objects.  It looks like confirmNoEscalation is the source of the G

[2016-06-16 06:59] priyanka5 commented on #9080
@csrwng @bparees : Now I am running origin version:
oc v1.2.0
kubernetes v1.2.0-36-g4a3f9c5

everything is OK but app deployment again gives this:

builder.go:204] Error: build error: timeout while waiting for remote repository "https://github.com/bparees/openshift-jee-sample.git"

any idea? or could you please tell me the steps to debug.

Now a days I am seeing lot of challenges while testing ori

[2016-06-16 07:03] bparees commented on #9080
can you instantiate the jenkins template in your cluster, then use oc rsh to get a shell in the jenkins container?  from there, run "git clone https://github.com/bparees/openshift-jee-sample.git" and report your results.

[2016-06-16 07:07] priyanka5 commented on #9080
Hi @bparees - I have tried creating app using "oc new-app openshift/jenkins-1-centos7" but after going into container using oc rsh and then git clone. it gives permission denied are you a root user.

[2016-06-16 07:35] priyanka5 commented on #9080
Hi Ben @bparees - pasting exact result:

sh-4.2$ git clone https://github.com/bparees/openshift-jee-sample.git
fatal: could not create work tree dir 'openshift-jee-sample'.: Permission denied

[2016-06-16 07:58] soltysh commented on #9319
I've already started working on changing our extended tests in such way that we'll be able to setup the server in non-standard way (see #9220). Generally I've reshuffled the scripts so that it's easy to setup the server, change the configs (big kudos to @deads2k for `openshift ex config patch`) but still run the entire conformance suite. I've talked with @stevekuznetsov we'll add those to our dail

[2016-06-16 10:20] priyanka5 commented on #9080
@ben @soltysh : In my VM NetworkManager was installed which was causing error time out during clone. I disabled it but now other problem came up. Docker registry pod is not able to connect to master which is causing build to fail as exactly this https://github.com/openshift/origin/issues/8010

would be really really helpful if you can help me on this?

thanks you so much for constantly helping.

[2016-06-16 10:51] mfojtik opened #9369 "Generate client sets"
The upstream now provide tool to generate Go clientset from the API:  https://github.com/kubernetes/kubernetes/blob/master/docs/devel/generating-clientset.md

I experimented a little bit and it works for OpenShift types as well, but since our API is split into multiple package directories, I think we will have to create our own generator.

@smarterclayton FYI

[2016-06-16 11:08] kargakis opened #9370 "Vagrant issue with etcd after the rebase"
[code]

The workaround is to run with `--etcd-dir` pointing to a new etcd directory but I believe there is value in fixing it for the default case (without using `--etcd-dir`)

cc: @mfojtik @smarterclayton @danmcp @deads2k @liggitt @derekwaynecarr

[2016-06-16 11:09] priyanka5 commented on #8010
@dotam what did you do to resolve the issue. I am also facing the same issue where docker registry pod can not reach master and gives the same error in logs.

[2016-06-16 11:09] mfojtik commented on #9370
@kargakis this is related to the vagrantfs, I reported this upstream.

[2016-06-16 11:29] kargakis commented on #7272
Just tested this scenario with #9002. The deployment was immediately rolled back.
[code]

[2016-06-16 11:30] kargakis commented on #7272
[code]

[2016-06-16 11:31] deads2k commented on #9368
@smarterclayton How about holding on the re-run until I've had time to plumb through shared caches?

[2016-06-16 11:53] inlandsee commented on #9241
@frankvolkel Eliminating search entries from resolv.conf strikes me as problematic but I was curious to know if it would change the behavior of my s2i build.  It didn't.

On Fedora, my resolv.conf links to NetworkManager's /var/run/NetworkManager/resolv.conf which, in its [main] includes the entry 'dns=dnsmasq', which permits dnsmasq to resolve a local wildcard .dev domain.  In support, NetworkMan

[2016-06-16 11:53] stevekuznetsov opened #9371 "`os::cmd` sometimes doesn't find text in output"
e.g.

[code]

[2016-06-16 12:32] soltysh commented on #9080
@priyanka5 reading through the post, all that comes to my mind is networking issue. You should be able to rsh into the docker pod and check if you can access master healthz endpoint, like so: `curl http://<master_ip>:<master_port>/healthz`. Other option will be that service account didn't get created properly, but start with that.

[2016-06-16 12:34] priyanka5 commented on #9080
@soltysh : i tried that I could not curl on this from registry pod http://<master_ip>:<master_port>/healthz . it gives could not resolve hostname. How to set service account?

[2016-06-16 12:35] lifei825 commented on #9315
Found that this version is the most stable relatively new openshift-ansible-3.0.96-1.tar.gz

[2016-06-16 12:36] priyanka5 commented on #9315
@lifei825 could you please give the link to download this?

[2016-06-16 12:38] soltysh commented on #9080
@priyanka5 if curl is not working it's networking issue still. No need to worry about service accounts in that case.

[2016-06-16 12:39] priyanka5 commented on #9080
@soltysh : thanks , how to debug any idea?

[2016-06-16 12:48] lvthillo commented on #9315
@priyanka5 Same happens if you perform `git clone https://github.com/openshift/openshift-ansible` and install

[2016-06-16 12:49] soltysh commented on #9080
@priyanka5, sorry I'm not a network person, either [docs](https://docs.openshift.org/latest/install_config/index.html) or somebody from networking team (eg. @knobunc) will be able to help you out.

[2016-06-16 12:49] priyanka5 commented on #9315
@lvthillo thanks , how to check if this this only openshift-ansible-3.0.96-1.tar.gz

[2016-06-16 12:50] smarterclayton commented on #9368
This seems a straight up regression, unless there's something I don't know
about the policy caches.  That not the case?

On Jun 16, 2016, at 7:31 AM, David Eads <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> How about holding on
the re-run until I've had time to plumb through shared caches?

—
You are receiving this because you were mentioned.
Reply to this

[2016-06-16 12:51] frankvolkel commented on #9241
@inlandsee resolv.conf should not have all settings eliminated; it should
have a valid namserver entry, otherwise it wouldn't be able to lookup
bitbucket's domain for checkout.

Try `nameserver 8.8.8.8`?

On 16 June 2016 at 19:53, inlandsee <notifications@github.com> wrote:

[2016-06-16 12:54] soltysh commented on #9368
/sub

[2016-06-16 12:57] deads2k commented on #9368
There are a couple spots to do with scoped tokens that bypass the cache since we didn't have clean plumbing for them.  Fixing that is near the top of my list.  I also want to re-wire our existing caches to use the new cache style we have.

[2016-06-16 13:05] danwinship commented on #9355
@dcbw: once we switch to being CNI-based we won't need to edit $DOCKER_NETWORK_ARGS and restart docker any more, right?

[2016-06-16 13:06] jupierce commented on #9235
Tried using a deployment config to run the newly designed docker image, but DC's do not allow restartPolicy:Never. Changing to define/launch Pod manually.

[2016-06-16 13:24] lvthillo opened #9374 "My own docker.io/my-repo isn't in the deploymentConfig"
I try to pull images from docker.io/openshift/.., retag and push the images to my own repo.
We are setting up a POC (like we did for 1.1.6) but after the release of 1.2.0 some openshift origin images lost their 1.1.6 tag (so we had to work with images for 1.2.0 on an 1.1.6 environment.
So now we want to use our own images of 1.2.0 from our repo in our POC environment.

##### Version
[code]

#####

[2016-06-16 13:35] smarterclayton commented on #9368
Ok.  Will keep this as a high priority so we don't lose sight.  We
should make sure performance knows not to start testing until we land
this.

@timothysc

[2016-06-16 13:42] inlandsee commented on #9241
@frankvolkel - Thanks but I don't think my issue has anything to do with dns.  Because the s2i build adds public dns entries to the container's /etc/resolv.conf the domain resolves properly.

[code]

I suspect my problem is the result of a permission error when the s2i build fails to pass the associated secret during interactions with the repository.  As there are no ssh keys stored in the contain

[2016-06-16 13:44] soltysh opened #9375 "Image limits lack of information to the end user"
##### Version
[code]

##### Steps To Reproduce
Create following limits, purposefully low:
[code]

Push image to integrated registry, I've used `openshift/origin-pod`.
Currently I have one image, having single tag and within the storage size.

oc edit is/origin-pod and add 2nd tag, like so:
[code]

oc describe that is gives me:
[code]
oc get istag gives me just `latest`:
[code]

There are no messag

[2016-06-16 13:47] soltysh opened #9376 "Image limits to tags not applies"
Similarly to #9375.

##### Version
[code]

##### Steps To Reproduce
Create following limits, purposefully low, but this time just `openshift.io/image-tags`:
[code]

Push image to integrated registry, I've used `openshift/origin-pod`.
Currently I have one image, having single tag and within the storage size.

oc edit is/origin-pod and add 2nd tag, like so:
[code]

oc describe that is gives me:
[cod

[2016-06-16 13:51] inlandsee commented on #9241
Also, for what its worth the same s2i build/template that fails under Fedora 24, docker 1.10.3 build successfully on another system running Fedora 23, docker 1.9.1.  I could roll back my development system but hate to do that as everything else appears to be working as expected.

[2016-06-16 14:03] jwendell opened #9377 "Router: Error parsing template"
Router log is showing the error:
[code]

##### Version
penshift v3.2.1.2-1-g64665fc
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

[2016-06-16 14:32] stevekuznetsov commented on #9203
Fixed upstream

[2016-06-16 14:35] stevekuznetsov opened #9379 "Failed connect to copr.fedorainfracloud.org:443; Connection refused"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2164/consoleFull):

[code]

[2016-06-16 14:37] stevekuznetsov commented on #9379
Technically just a `curl` failure ...

[2016-06-16 15:33] #9058 closed

[2016-06-16 16:45] kargakis opened #9384 "Deployment config controller should deep-copy before mutating"
Will be needed before https://github.com/openshift/origin/pull/9002 lands. Opening the issue so I will get to it tomorrow.

@deads2k @smarterclayton fyi

[2016-06-16 17:23] sdodson commented on #9377
This is an OSE specific router image build issue. I'm fixing this and will notify you when a new image is available.

[2016-06-16 17:23] #9377 closed

[2016-06-16 17:27] timothysc commented on #9368
ack /cc @mffiedler

[2016-06-16 17:35] gabemontero opened #9385 "oc cluster up; oc cluster down; oc cluster up sequence produces stale config in /tmp"
Run `oc cluster up; oc cluster down; oc cluster up` and you should see in `/tmp` openshift config and master subdirs from both `up` invocations.

I also *think* I saw two sets of subdirs in /tmp if I put a `rm -rf /tmp/master*` and `rm -rf /tmp/openshift*` prior to the last `oc cluster up`, but it was late at night ... perhaps I misread something.

@csrwng FYI

[2016-06-16 17:49] deads2k commented on #9384
@kargakis thanks, I'm not super familiar with the dc controller code, so it helps me to have this separate.

[2016-06-16 18:02] #9317 closed

[2016-06-16 18:30] sspeiche commented on #2194
@csrwng I've been working ok with .local TLD for some time and dnsmasq. I think this issue should be closed. I think some odd network behavior from time to time but ruled out the special TLC .local as the cause.

[2016-06-16 18:30] #2194 closed

[2016-06-16 19:01] rhvgoyal commented on #9364
I am wondering if we hit the device suspend/resume race here with deferred device removal. Shishir has queued up a patch upstream. hopefully that fixes it.

https://github.com/docker/docker/pull/23497

[2016-06-16 19:01] rhvgoyal commented on #9364
CC @shishir-a412ed

[2016-06-16 19:14] mrunalp commented on #9364
We will need a backport though.

[2016-06-16 19:34] smarterclayton commented on #7125
Fixed

[2016-06-16 19:34] #7125 closed

[2016-06-16 19:44] juanvallejo opened #9388 "curl: (6) Could not resolve host: copr.fedoraproject.org; Name or service not known"
Identifies problem as "Image build failed"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2195/

##### Version
[code]

##### Steps To Reproduce
[test]

##### Current Result
[code]

[2016-06-16 19:53] stevekuznetsov commented on #9388
Most likely related to #9379

[2016-06-16 21:28] smarterclayton commented on #9221
We have more output now:

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2188/testReport/junit/(root)/Extended/_builds__Conformance__build_without_output_image_building_from_templates_should_create_an_image_from___data_src_github_com_openshift_origin_test_extended_testdata_test_docker_no_outputname_json__docker_template_without_an_output_image_reference_defined/

[2016-06-16 21:29] smarterclayton commented on #9221
@csrwng issues

[2016-06-16 21:29] smarterclayton commented on #9221
I'm going to disable the test for now because it's blocking the queue

[2016-06-16 21:58] #9358 closed

[2016-06-16 22:36] smarterclayton opened #9391 "kubectl and oc built with Origin fail against a Kube server because of missing `/oapi`"
Discovery... does not discover.

[2016-06-17 00:26] csrwng commented on #9221
@smarterclayton so for the `net/http: request canceled` problem, the cause is the use of the new Docker client in the kubelet. We're basically timing out any container logs call at 2 minutes:

https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/kubelet/dockertools/kube_docker_client.go#L241

https://github.com/openshift/origin/blob/master/Godeps/_workspace/s

[2016-06-17 00:39] liggitt commented on #9221
Does that apply to pulls as well?

[2016-06-17 00:46] liggitt commented on #9221
Or exec/attach?

[2016-06-17 00:58] csrwng commented on #9221
Looks that way:
https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/kubelet/dockertools/kube_docker_client.go#L201

I don't think the timeout applies to exec/attach because it only times out the call to get/hijack the connection, but then you own the connection.

[2016-06-17 01:02] smarterclayton commented on #9221
Let's open an upstream issue - logs and pull are both concerning.  We def
want the ability to selectively choose this.

On Jun 16, 2016, at 8:58 PM, Cesar Wong <notifications@github.com> wrote:

Does that apply to pulls as well?

Looks that way:
https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/kubelet/dockertools/kube_docker_client.go#L201

I don't think

[2016-06-17 01:05] csrwng commented on #9221
There's already an issue for pulls https://github.com/kubernetes/kubernetes/issues/26626

[2016-06-17 01:11] csrwng commented on #9221
Looks like upstream the timeout for pulls was removed, but not for logs:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/kube_docker_client.go#L300

[2016-06-17 01:13] smarterclayton commented on #9221
I think that's a 1.3 blocker

On Jun 16, 2016, at 9:11 PM, Cesar Wong <notifications@github.com> wrote:

Looks like upstream the timeout for pulls was removed, but not for logs:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/kube_docker_client.go#L300

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.

[2016-06-17 01:18] csrwng commented on #9221
Issue created for logs: https://github.com/kubernetes/kubernetes/issues/27588

[2016-06-17 01:20] smarterclayton commented on #9221
I'm going to create and merge a carry patch for both of those.

On Thu, Jun 16, 2016 at 9:18 PM, Cesar Wong <notifications@github.com>
wrote:

[2016-06-17 01:23] smarterclayton commented on #9221
https://github.com/openshift/origin/pull/9392

On Thu, Jun 16, 2016 at 9:20 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-06-17 02:24] smarterclayton opened #9393 "Quota enforcement in registry is not disabled by default"
The quota enforcer is always running (but it should be disabled unless the user opts in).  Breaks users who don't give limit range access to clients and is a regression.

@miminar

[2016-06-17 02:30] smarterclayton commented on #9393
This is blocking alpha.2 and the summit images, please give this high priority tomorrow.

[2016-06-17 04:13] smarterclayton opened #9394 "Registry pull-through adds ~1s to each layer push because we check the remote registry"
When pushing an image layer we've never seen before to the registry, if pull-through is enabled and there is at least one remote image in the image stream (candidate for pull-through) we search all the images for a matching layer, even though this is going to be a push.  That adds a substantial amount of time to the check.

Since the daemon invokes `HEAD /blobs` prior to the registry, we have no c

[2016-06-17 04:13] smarterclayton commented on #9394
@miminar @legionus

[2016-06-17 04:15] smarterclayton commented on #9394
Another option - denormalize all reachable image layers at tag time into the image stream.  Layers will be roughly 5-20x per tag, and will often be duplicated, so practical count might be 5-10x tags.  Then the stat check becomes O(1).

[2016-06-17 04:29] smarterclayton commented on #9309
Before or after rebase?  Looks like before.

[2016-06-17 04:46] lifei825 commented on #9315
https://github.com/openshift/openshift-ansible/archive/openshift-ansible-3.0.96-1.tar.gz

[2016-06-17 06:10] yoshiwaan opened #9395 "External Registry ImageStream source trying to pull over HTTP"
I'm trying to configure a BuildConfig to use an imagestream source. I specify the imagestream and the buildconfig and run a build, but the build fails, stating the image pull failed. The URL that the pull attempt is from states HTTP instead of HTTS

##### Version
[code]

##### Steps To Reproduce
1. This is our imagestream:
[code]

This is our buildconfig:
[code]

Triggering a build with those two

[2016-06-17 06:28] lvthillo opened #9396 "forward-journal[xxx]: level=error msg="Error reading loginuid: open /proc/xxx/loginuid: no...directory""
##### Version
[code]

##### Steps To Reproduce
`tail -n 100 /var/log/messages`

##### Current Result
[code]

##### Additional Information
The logs are showed when executing` sudo service docker status`

Can someone explain this behaviour? The logs dissapear when I perform `sudo service origin-node stop`

[2016-06-17 06:59] mfojtik opened #9397 "[k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected"
Seen: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2224/consoleText

(it seems like a bug in error parsing).

[code]

[2016-06-17 07:13] mfojtik commented on #9309
@smarterclayton i don't think this is related to the other attach flake... but rebase could make this worse. any suggestion who would be the best candidate to look it up?

[2016-06-17 07:20] mfojtik commented on #9388
@stevekuznetsov yes, it is s dupe of that one. closing this.

[2016-06-17 07:20] #9388 closed

[2016-06-17 07:21] mfojtik commented on #9379
@stevekuznetsov it seems like DNS failure to me...

[2016-06-17 07:37] dotam commented on #8010
@priyanka5 you remote to docker registry container and check dns, my error is registry can't connect to origin master and in my case i don't have dns server so i config IP origin master in host file of docker registry container

[2016-06-17 07:40] priyanka5 commented on #8010
@dotam : thanks but it doesnt allow me to edit hosts file of docker-registry pod . gives permission denied. any help?

[2016-06-17 07:56] dotam commented on #8010
you need to ssh container with root and  you can edit any thing @priyanka5

[2016-06-17 08:00] priyanka5 commented on #8010
@dotam , sorry would you mind telling how to do that :( I just ran oc rsh <dokcer-pod> , which doesnt allow me to edit files

[2016-06-17 08:12] #9221 closed

[2016-06-17 08:13] ghost opened #9398 "openshift and flocker"
#### Feature request

Kubernetes support flocker as a persistent volume type

http://kubernetes.io/docs/user-guide/volumes/#flocker

it would be nice to have this type also in openshift.

This would be enhance the openshift pv type to this back-ends.

https://clusterhq.com/flocker/introduction/#storage-options
##### Version

all versions

[2016-06-17 08:17] dotam commented on #8010
use can use docker command directly without oc

[2016-06-17 08:48] priyanka5 commented on #8010
ok , thanks will try that

[2016-06-17 09:16] miminar commented on #9394
No, but the `HEAD` doesn't occur during a pull. During the pull there are only `GET` requests. But the `Stat()` call happens nevertheless for both pull and push. We could check `ctx.Value("http.request.method")` in the `Stat()` call to determine whether the client pulls (`GET`) or does something else (`HEAD`). The latter means a high probability of push going on.

This will be useful in image prun

[2016-06-17 09:22] jhadvig commented on #9358
@deads2k :+1:

[2016-06-17 10:05] stevekuznetsov commented on #9379
@sdodson since you're knowledgeable... How would I go about debugging this on an affected machine?

[2016-06-17 10:21] miminar commented on #9393
@smarterclayton #9400 changes the default of `oadm registry --enforce-quota` flag to `false` so that new registry deployments won't enforce it by default.

[2016-06-17 10:27] mfojtik commented on #9397
@smarterclayton I wonder if we need this test when it is not marked as `[Conformance]` in upstream.

[2016-06-17 10:30] mfojtik commented on #9395
@csrwng do you have any idea why builder use http over https?

[2016-06-17 11:28] kargakis commented on #9222
One more at https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2229/consoleFull

[2016-06-17 11:45] deads2k commented on #9391
Well, that could be better.

[2016-06-17 11:56] sahlex commented on #8508
vote++

[2016-06-17 12:01] csrwng commented on #9395
@yoshiwaan can you please set the build log level to 5 and include the first part of your log before the error?
[code]

[2016-06-17 12:01] miminar opened #9402 "Flake in integration tests: TestRouterReloadCoalesce: connection reset by peer"
[code]

Happened in [job 2114](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2114/console) PR #9400.

[2016-06-17 12:43] danwinship commented on #9355
Replying to myself, yes, so this should be fixed by https://github.com/openshift/openshift-sdn/pull/320

[2016-06-17 12:56] miminar commented on #9376
@soltysh as documented in related [docs PR](https://github.com/openshift/openshift-docs/pull/1850/files#diff-64e8dd2de02857927723c20336bb447bR306), `openshift.io/image-tags` doesn't restrict pushed to internal registry. You can do it with `openshift.io/images`.

Unfortunately the docs PR isn't merged yet. I hope it will be understandable once there and with proper rendering.

[2016-06-17 12:57] sdodson commented on #9379
Unless it's a persistent issue I'm not sure there's much to debug short of
us mirroring that repo locally so we're not prone to failures of The
Internet.

On Fri, Jun 17, 2016 at 6:05 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-06-17 13:11] eparis commented on #9398
@childsb

[2016-06-17 14:22] smarterclayton commented on #9394
On Jun 17, 2016, at 5:16 AM, Michal Minar <notifications@github.com> wrote:

Does the daemon set any headers on HEAD before push?

No, but the HEAD doesn't occur during a pull. During the pull there are
only GET requests. But the Stat() call happens nevertheless for both pull
and push. We could check ctx.Value("http.request.method") in the Stat()
call to determine whether the client pulls (GET) or

[2016-06-17 14:24] smarterclayton commented on #9397
Is NodeAffinity new in 1.3?

On Jun 17, 2016, at 6:27 AM, Michal Fojtik <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> I wonder if we need
this test when it is not marked as [Conformance] in upstream.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/9397#issuecom

[2016-06-17 14:26] smarterclayton commented on #9391
It looks like we guard but it's still failing.  Haven't dug.

On Jun 17, 2016, at 7:45 AM, David Eads <notifications@github.com> wrote:

Well, that could be better.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/9391#issuecomment-226749044>,
or mute the thread
<https://github.com/notifications/u

[2016-06-17 14:37] stevekuznetsov commented on #4183
@deads2k is this real life? What's happened since August?

[2016-06-17 14:38] dcbw commented on #9355
@danwinship yes https://github.com/openshift/openshift-sdn/pull/320 will fix the issue.

@smarterclayton in this case, openshift-node has overflowed the systemd journal limits.  Pretty hard to figure out what the issue is unless we could (a) get more logs (which might not even help), or (b) poke around the system...

[2016-06-17 15:22] jupierce commented on #9235
I was able to get the docker s2i secrets.go test passing using a pod template and new-app, but found another, more direct, pattern in the test cases to achieve the same thing using k8s test APIs directly. The docker s2i secrets test now passes consistently in my environment.
Moving on to the other test spec in secrets.go which relies on the inconsistent docker build output stream capture.

[2016-06-17 15:25] csrwng commented on #9235
@jupierce are you going to submit a PR for that fix?

[2016-06-17 15:40] yoshiwaan commented on #9395
Nothing specific of interest that I can see:
[code]

[2016-06-17 19:03] #5059 closed

[2016-06-17 19:04] fabianofranz commented on #2566
`oc get` without args or flags also print a bunch of them.

[2016-06-17 19:04] #2566 closed

[2016-06-17 19:26] csrwng commented on #9343
I'm able to reproduce this on Docker 1.9.1
It looks like it's an issue with the go Docker client. Inspecting the response of the POST call, I see a "200":

[code]

However, if I try a direct push using the docker command-line client, I can see the error:
[code]

[2016-06-17 19:32] jayunit100 opened #9406 "Move CONTRIBUTING.adoc to a series of getting-started guides."
_Problem_
- The simplest way to setup openshift from source is DIND... however, its at the bottom of the CONTRIBUTING.adoc.
- The running tests section is at the bottom of the doc, so anyone wanting to run tests and setup a cluster has to read the top of the doc, and then skip to the bottom.  Its not clear where dev instructions begin and test instructions begin.
- Some mechanisms (like vagrant-di

[2016-06-17 19:44] sdodson opened #9407 "Utilize generated completions and man pages during rpm build process."
Followup to #9354 is that the binaries themselves will be capable of generating completion. We should do away with contrib/completions while still ensuring that completions are installed when installing the rpms. We could do this by generation the completions at compile time when building RPMs.

[2016-06-17 19:44] #9384 closed

[2016-06-17 20:02] csrwng commented on #9343
After further inspection, it looks like the culprit is the progress writer. If using a simple output stream, the error is reported correctly.

[2016-06-17 20:03] smarterclayton commented on #9284
Beyond the change in the linkedBlobStore (which is the bulk of the issue), there may be further problems.  Working with Jason I was seeing some long delays and other unexpected timeouts on push.

Pullthrough #9394 issue is partially to blame, and *think* that we may have a a flake that is caused by us initializing the client libraries once per registry request that also sometimes fails (which I pl

[2016-06-17 20:18] sspeiche opened #9409 "oc policy add-role-to-user doesn't help me find what are the valid roles"
To help with usability of the `oc policy add-role-to-user` it would be helpful if it guided you to find what valid roles there are.

##### Version
oc version
oc v1.3.0-alpha.1-411-g13d4b7e-dirty
kubernetes v1.3.0-alpha.3-599-g2746284

##### Steps To Reproduce

I'd expect either this command:
` oc policy add-role-to-user -h`
or this command
`oc policy add-role-to-user`
to help me to know how to pro

[2016-06-17 20:44] juanvallejo opened #9410 "Failure executing 'oadm registry -o yaml --credentials=/tmp/openshift/test-cmd//openshift.local.home/.kube/non-default-config'"
https://github.com/openshift/origin/pull/9354
Jenkins test fails when executing `oadm registry -o yaml --credentials=/tmp/openshift/test-cmd//openshift.local.home/.kube/non-default-config`, expecting text, but receiving no output.

##### Version
oc v1.3.0-alpha.0-1100-gaf02c04-dirty
kubernetes v1.3.0-alpha.3-599-g2746284

##### Steps To Reproduce
[test]

##### Current Result
FAILURE after 0.276s:

[2016-06-17 21:02] #8505 closed

[2016-06-17 23:43] smarterclayton opened #9414 "extended broken: ResourceQuota should create a ResourceQuota and capture the life of a secret"
Appears to have regressed during the rebase, is currently disabled so that we can reenable e2e.

[code]

[2016-06-18 02:05] #9357 closed

[2016-06-18 09:51] DarkSkull91 opened #9415 "OpenShift Origin always asks for credentials after reboot"
I had a cluster OpenShift with a master and a node. Today, it doesn't work anymore, OpenShift continously asks me the credentials, the following is the command and the output:

[code]
The yaml configuration file is this:
[code]

[2016-06-18 12:12] kargakis commented on #9232
Moving to @fabianofranz since I won't get to it any time soon

[2016-06-18 13:13] mjudeikis opened #9416 "Go Deps in code is out of sync with external vendors repos"
Origin Go libs uses some libraries for external repos. And they where moved or does not exist anymore.
/github.com/openshift/origin/pkg/cmd/cli/describe/describer.go:14:2: cannot find package "github.com/docker/docker/pkg/units" in any of:

Describer.go uses docker units, which does not exist anymore on
https://github.com/docker/docker/tree/master/pkg

and looks like it was moves to:
htps://github

[2016-06-18 15:28] xelfe commented on #9315
Theres a quick workaround ? Or any way to dowgrade ? I need to retrieve some stuff on my pods

[2016-06-18 16:19] lvthillo commented on #9374
still have this issue. Also after rerunning the playbook.

[2016-06-18 18:30] tnozicka commented on #9301
So I have been looking into that closer. The value is in status and I just want to point out that I am not setting it in my BC. It is called {{.status.lastVersion}}

Looking into the same thing in DC, there is {{.status.observedGeneration}} but apply works there!

I have a workaround, but it is quite ugly:
[code]
(I know there is a race condition in case BC would have ConfigChange trigger.)

And I

[2016-06-18 18:42] tnozicka opened #9417 "oc apply does not work correctly with host: """
`oc apply` will fail if you use it twice in a row with the same file which has `host: ""`

[Docs](https://docs.openshift.org/latest/architecture/core_concepts/routes.html#route-hostnames) clearly states that if you leave route empty, if will generate one for you in format `<route-name>[-<namespace>].<suffix>`.

##### Version
$ oc version
oc v1.3.0-alpha.1-430-g7f154be
kubernetes v1.3.0-alpha.3-599

[2016-06-18 18:54] liggitt commented on #9417
You can create a route with no host and one will be generated, but you cannot change the host once created.

[2016-06-18 19:00] tnozicka commented on #9417
If you specify a host this works and results in:
[code]

Basing this on what Docs says:
`If a host name is not provided as part of the route definition, then OpenShift automatically generates one for you.`

It is fully equivalent to the example with hostname provided and it should work the same.

[2016-06-18 19:18] tnozicka commented on #9417
And I am not changing the name to base this on @liggitt reasoning. I am asking OpenShift to generate the same name as it did before and update the rest of the resource. Since the field is generated to the same value, no change is required on the immutable field.

**Use case**:
I have a template with route. I cannot specify the route, because it is xip.io route and that depends on what your cluster

[2016-06-18 19:20] liggitt commented on #9417
@smarterclayton, want to no-op requests to clear the route spec host on update, rather than rejecting as a mutation?

[2016-06-18 20:34] smarterclayton commented on #9417
Yes.

[2016-06-18 20:34] smarterclayton commented on #9417
For backcompat, if nothing else.

On Sat, Jun 18, 2016 at 3:20 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-06-18 21:13] smarterclayton commented on #9247
Reopening this, see my comments in the PR but this undid the very careful work to hide a bunch of info that is not useful for most users.

Regular users of the platform don't need this info unless they ask for it.

[2016-06-18 21:29] smarterclayton commented on #9247
Here's some rules of thumb for how to be a good logging agent that should define the foundation of what the builders should be logging

1. Build log output is a UI.
2. Don't tell users things they can't do anything about - you waste their attention on meaningless info, which hides critical info
3. Never, ever, EVER print JSON output to a user who didn't ask for it
4. Don't tell me the same thing t

[2016-06-18 21:30] smarterclayton commented on #9247
Bumping the priority of this up to p1 - I'm trying to record a screencast for summit that is demonstrating how awesome and succinct we are from cluster up all the way to the UI, and so I need this fixed by Monday afternoon, because we aren't.

[2016-06-18 22:09] smarterclayton opened #9418 "cluster up creates a project... that I can't access"
Probably regressed when we added the admin thing.

[code]

[2016-06-18 22:09] smarterclayton commented on #9418
Bumping priority so we can get this fixed, not a good experience.

[2016-06-18 22:15] smarterclayton commented on #9247
Also, the warning message we print about mismatched versions is not actionable by any user of the platform, and is just a debugging message for OpenShift developers.  It should be at v(3).  No one will ever be able to do anything about it who isn't a cluster admin.

[2016-06-18 22:24] csrwng commented on #9418
Fixed by https://github.com/openshift/origin/pull/9381
Can you please take a look ?

[2016-06-18 22:31] #9393 closed

[2016-06-18 22:38] smarterclayton opened #9419 "First push to a docker registry from latest fails with 404"
On latest:

[code]

Server returns 404 to the PUT.

[code]

Is this a race condition in the registry (some data it needs is not available yet)?

Subsequent builds and pushes work fine.

[2016-06-18 23:39] bparees commented on #9247
they can't do anything about it, but when they send us their "my build isn't working, here's the output" log, it's nice that we can immediately see that warning without having to go back to them and get more verbose logging.  Warnings aren't necessarily for users to fix, they are for users to be aware that "something isn't right" and perhaps to consult their admin or support.

Afterall, that is no

[2016-06-19 00:02] kargakis commented on #9301
The respective value in DC is {{.status.latestVersion}}

@bparees seems like buildconfigs should have a separate call for updating status, thus disabling status updates from oc

[2016-06-19 00:09] csrwng commented on #9100
@smarterclayton I have not been able to reproduce this. What do you want to do with it?

[2016-06-19 00:13] smarterclayton commented on #9247
Who is that?  OpenShift Online users?  When is this ever going to be actioned?  Why does the exact commit matter?  What if we release a new version of the master, but don't rev the sti-builder (which is what happens all the time)?

It might be useful rarely.  It's not useful enough that it's worth clogging up user output with.  It's also spurious the majority of the time it's shown.  If you can re

[2016-06-19 00:31] bparees commented on #9247
we don't do releases w/o doing that, do we?  So any OSE or origin release user should have matching levels.  And online should also have matching levels.

I would only expect this to be showing up for people doing active openshift development, if it's showing up for users who did a proper install of a packaged release then i agree, something has gone wrong and it needs to be revisited.

[2016-06-19 00:37] smarterclayton commented on #9247
OSE does not rev sit-builder in all cases.  Origin does not rev sti-builder in all cases.

[2016-06-19 00:50] bparees commented on #9247
loglevel 3 it is, then.

[2016-06-19 00:52] smarterclayton commented on #9247
Another alternative on a build error is to always print that if it's true - i.e. at the very end.

[2016-06-19 00:52] smarterclayton commented on #9247
I kind of regret --build-loglevel now - users having to select a level is very unintuitive.  I think we probably want to have a --verbose flag instead and set the level ourselves (to 3 or 4 or similar).

[2016-06-19 00:53] smarterclayton commented on #9419
This was `docker-1.9.1-5.git64eb95e.fc22.x86_64`.

[2016-06-19 01:05] smarterclayton opened #9420 "Build push failure does not fail build"
[code]

I'm seeing builds succeed even though the registry was down while the push was happening, resulting in push failure.  That should not be happening.  I'm also seeing builds succeed even when the registry fails the pull.  I'm also not seeing a clear failure output (did we lose a flush somewhere)?

This is with latest images.

[2016-06-19 01:06] smarterclayton commented on #9420
Docker 1.10 latest.  If this turns out to be a real issue we need to get an e2e/extended test that demonstrates a failure to push causes build to fail.

[2016-06-19 01:08] smarterclayton commented on #9420
`oc cluster up` doesn't currently wait for the registry to be ready, but we should expect this scenario to work every single time.  That means either push retries in builds need to be longer when the server returns connection refused, or we need to gate somewhere in cluster up.  If we gate in cluster up that's going to make cluster up *painfully* slow.

[2016-06-19 02:18] bparees commented on #9301
@tnozicka the other workaround would be to delete the BC before creating the new one.  Deleting a BC will delete all associated builds, thus resetting the build count to 0.

@kargakis i'll need to chat w/ you more about your suggestion, i don't know enough about how patch works but i take it it's somehow related to what patch is doing.

[2016-06-19 02:20] csrwng commented on #9301
@kargakis @bparees we have an issue open for that https://github.com/openshift/origin/issues/6886

[2016-06-19 02:24] smarterclayton commented on #9420
I don't know whether this is retry loop or not, but this certainly is pushing me back to wanting at least some retry loop for these cases, and some better output.

[2016-06-19 02:32] smarterclayton opened #9422 "Prehook pod with Retry policy doesn't get reported correctly in deployer logs"
[code]

The prehook (cakephp-mysql-example-1-hook-pre) for the web framework races against the database starting.  I am seeing it fail the first, time, get restarted (or deleted and recreated) and then succeed.  However, the deployment logs do *not* reflect a successful run

Deployment pod logs:

[code]

Actual hook pod (which reports success), probably from the retry.

[code]

I think there's a b

[2016-06-19 02:32] smarterclayton commented on #9422
@kargakis something to look at on monday (trying to get this scenario rock solid so we can make it our "demo openshift" scenario).

@bparees whoever is the owner of the cakephp example can we clean up these crappy messages?

[2016-06-19 02:35] bparees commented on #9301
@csrwng i still need to understand why a patch against a BC is resetting the lastVersion field on the status object...doesn't seem intuitive to me that status would be touched in that scenario.

[2016-06-19 02:38] smarterclayton commented on #9422
It looks like we're not re-reading the logs when the container restarts due to a failure (and we're prematurely saying success).

[2016-06-19 02:38] bparees commented on #9422
doesn't have an owner anymore (@jhadvig wrote it), so if he's feeling generous with this time he can fix it, otherwise i'll find someone on devex.... @oatmealraisin maybe you'd like to take a look at cleaning up the messages (not the main issue @smarterclayton is reporting here)?  the repo is https://github.com/openshift/cakephp-ex

[2016-06-19 02:43] smarterclayton opened #9423 "oc deploy should support --follow (like --start-build)"
The best feature of logs -f and start-build -f is that I can get the ability to wait until the build completes.  I want that for deployments, and I don't care what I have to do to get it (in both oc deploy and oc rollout).

[2016-06-19 02:48] smarterclayton opened #9424 "Readiness checks have terrible latency"
The retry loop on readiness checks leads to interminable waits, and a lot of sitting around waiting for things to actually work.  We need to figure out how to effective keep the latency for readiness < 10s from the time of actual ready.  Right now, it can take minutes.  Since this blocks deployments, it makes deployments look flaky and slow.

It's likely we can afford to be more aggressive on the

[2016-06-19 02:51] smarterclayton commented on #9424
Alternatively, if it's our apps that are the problem (due to the parameters we are using) we need to fix them.  @bparees

Scenario:

[code]

It took 8 minutes on one run for cakephp to respond to readiness.  Something is seriously broken.

[2016-06-19 03:12] bparees commented on #9424
what's the time like on a re-deploy or delete the pod?  (trying to remove the build/push time from your equation).

also what is the readiness retry interval?

[2016-06-19 03:15] smarterclayton commented on #9424
the build takes about 30 seconds.  Once it's there the hook pod restarts 2-3 times, but is usually done within 20 seconds.  At that point it takes anywhere from 1-6 minutes for the pod to be ready, restarting multiple times in the process.

[2016-06-19 03:15] smarterclayton commented on #9424
You can easily reproduce this by running the steps above (this is with everything precached that can be precached)

[2016-06-19 03:20] bparees commented on #9424
so do we just need to bump the initialdelay on our liveness check?  that's probably what's killing the pod.

[2016-06-19 03:21] bparees commented on #9424
(it's currently 30s)

[2016-06-19 03:22] bparees commented on #9424
i'm in a hotel w/ horrible wifi so recreating is a dubious proposition at the moment.

[2016-06-19 03:23] smarterclayton commented on #9424
Not sure - I'll need to try again on monday.

[2016-06-19 05:18] #9417 closed

[2016-06-19 10:34] kargakis commented on #9301
@bparees it doesn't have to do with how patch works, it has to do with what you allow to be updated in your rest strategy. Right now, in the bc rest strategy you allow both spec and status updates. What you need is to identify which components update LastVersion[1] (I think this happens only in the /instantiate and /clone endpoints but I may be wrong as I am not familiar with all the build codebas

[2016-06-19 10:46] kargakis commented on #9422
@smarterclayton currently we don't even retry on Retry: https://github.com/openshift/origin/blob/604ae179d78568dea1512e0b60fdf2b1d58b1ff1/pkg/deploy/strategy/support/lifecycle.go#L82-L85

How did you see the hook being retried?

[2016-06-19 16:22] smarterclayton commented on #9422
The pod has a restart on failure which cause it to retry.  But we aren't
properly handling repeat container executions.  So it does the right thing,
but the deployer log gives a very misleading output.

On Jun 19, 2016, at 6:46 AM, Michail Kargakis <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> currently we don't even
retry on Retry:
https://github.com/opens

[2016-06-19 16:34] bparees commented on #9301
What I still don't understand is if the update path can modify the field in
question, and the existing value is correct, and the patch is not supplying
a value for that field, why is it getting changed? I assume it must mean
lastVersion is not a pointer and thus defaults to zero in the supplied
patch argument.

Ben Parees | OpenShift
On Jun 19, 2016 3:34 AM, "Michail Kargakis" <notifications@githu

[2016-06-19 21:19] jupierce commented on #9247
@smarterclayton @bparees Hopefully these two PRs cover what is required for Monday's screencast.

[2016-06-20 02:39] yanliao commented on #8841
@mnagy Hi, is there any update?

[2016-06-20 08:28] mfojtik commented on #9356
@deads2k can you remind me why we need this? The `RateLimiter` is just an interface and it does not have any public variables we can fuzz AFAIK. I can implement RateLimiter that does (and also include all the functions), but I can't see a reason why.

[2016-06-20 08:31] mnagy commented on #8841
@yanliao I will raise the topic on tomorrow's CLI meeting and let you know.

[2016-06-20 09:12] soltysh commented on #9376
@miminar I didn't do any pushes, I've just edited the image stream spec. Shouldn't that limit stop me from doing that? If not, what's the purpose of it?

[2016-06-20 09:41] miminar commented on #9376
@soltysh I see, in that case, it should have stopped you. I'll look into it. Thanks.

[2016-06-20 10:02] kargakis commented on #9422
I just skimmed through the logs and noticed the problem. Will work on a fix later today

[2016-06-20 10:51] mfojtik commented on #9294
@kargakis i'm not 100% positive we want to display the logs from the previous deployment.

1) The `oc logs dc/mysql` will give you logs from the `LatestVersion` which is the one that failed. I want to be able to debug the failure.
2) In case we will display the 'new-but-previous' logs, I will have to check the pod logs to get the 'failed' one.

To make this work, we will have to record what is the

[2016-06-20 11:13] mkumatag opened #9431 "Warning: '-f' is deprecated while making release"
`Warning: '-f' is deprecated, it will be removed soon. See usage.` message deplaying while making release for openshift.
##### Version

##### Steps To Reproduce
1. hack/build-base-images.sh
2. make release

##### Current Result
e.g : while running `make release` command seen following deprecated message

[code]
##### Expected Result

##### Additional Information

[2016-06-20 11:25] mfojtik commented on #9294
@ironcladlou FYI

[2016-06-20 11:30] mkumatag commented on #9431
This is happening because of https://github.com/openshift/origin/blob/master/hack/build-images.sh#L100 , docker image build sending -f which is not required. Submitting PR to take care this.

[2016-06-20 11:36] deads2k commented on #9356
We need to be sure that `AnonymousClientConfig` is faithfully passing fields.  Right now, there's no proof that it is preserving the `RateLimiter`.  In fact, that appears to be broken now.

[2016-06-20 11:38] mfojtik commented on #9356
@deads2k k, I will create fake one and see if it is passing or not. thanks

[2016-06-20 12:45] kargakis opened #9434 "Update custom errors for deployment controllers to embed actual errors"
@deads2k @mfojtik

[2016-06-20 13:12] kargakis opened #9435 "Surface fatal errors in the deployment config status"
Fatal errors in the deployment config controller are conversion  errors from `MakeDeployment`. We may want to surface them in the deployment config status and stop reconciling those configs until the errors are somehow resolved.

Tagging as P3 since I think in order to hit a fatal error, our conversions must be broken.

@deads2k @smarterclayton @mfojtik @ironcladlou

[2016-06-20 13:37] #9307 closed

[2016-06-20 14:20] danmcp commented on #9406
One potential problem with this approach is anything shared between the different docs after the beginning will be copied into each sub document.

@openshift/team-project-committers Thoughts?

[2016-06-20 14:23] smarterclayton commented on #9406
I don't know anyone who uses DinD other than the networking team.   I would not advocate making it the default way to develop OpenShift - since it doesn't match the default way people work.

[2016-06-20 14:33] mfojtik commented on #9410
@enj can you check this ?

[2016-06-20 14:40] bparees commented on #9406
-1 to making DIND the primary dev approach.  but +1 to breaking out "how to get a cluster up and running"(And providing instructions for all the different ways) from other dev activities.

[2016-06-20 14:45] danmcp commented on #9420
Dup of https://github.com/openshift/origin/issues/9343 ?

[2016-06-20 14:46] mfojtik commented on #9416
@Mangirdaz I believe we vendor docker/docker so it might exists in the version OpenShift uses. @legionus do you know if we migrated ourself to docker/go-units with the distribution bump?

[2016-06-20 14:48] mfojtik commented on #9416
@eparis ptal

[2016-06-20 14:51] bparees commented on #9420
where is this part coming from?  assuming we fix the issue where the build is not detecting the push failure, is the existing retry logic not sufficient?  (I forget exactly which push errors we retry and how long we retry for).

[2016-06-20 14:59] Mangirdaz commented on #9416
@mfojtik  it exists. But its so frustrating to handle all stuff. In example if you just coding with origin project all is good, you just take your branch and make things happen.

But if you want to use origin pkg as imports in external project, and do not take your dependencies but doing fresh install with "go get" it downloads origin, which specifies k8s and some docker, and other dependencies, w

[2016-06-20 15:01] jayunit100 commented on #9406
Ok, removed lines that indicate DIND as default

[2016-06-20 15:10] deads2k commented on #9415
Has this cluster been running from the same config for about a year?

[2016-06-20 15:13] legionus commented on #9416
No. Last time it was [updated](https://github.com/openshift/origin/commit/faef31672d86b3b55a6e639f5558c5d8cba9aa94) by @deads2k .

[2016-06-20 15:14] DarkSkull91 commented on #9415
No, it's running in about half an hour. I had to reboot the master and then it doesn't work anymore.

[2016-06-20 15:16] kargakis opened #9437 "crashlooping container in oc status"
If there is only one container in the pod then we should show something like:
[code]
instead of:
[code]
@deads2k thoughts?

[2016-06-20 15:21] liggitt commented on #8517
fixed by https://github.com/openshift/origin/pull/9106/

[2016-06-20 15:21] #8517 closed

[2016-06-20 15:22] liggitt commented on #6193
fixed by https://github.com/openshift/origin/pull/8587

[2016-06-20 15:22] #6193 closed

[2016-06-20 15:25] legionus commented on #9416
@Mangirdaz `go get` will not be enough anyway. You need to use our dependencies placed in Godeps. Some of them have specific patches. We care about these patches until they will be moved to upstream. So even if you get all the dependencies yourself you can't compile the origin.

[2016-06-20 15:36] Mangirdaz commented on #9416
@legionus so basically i'm stuck with your version of Dep as long as I want to use origin packages (like api and cmd ones...) and as they have hard deps to k8s ones, they are locked too..

[2016-06-20 15:40] deads2k commented on #9437
I agree.  @enj should be an easy CLI update.

[2016-06-20 16:04] smarterclayton commented on #9420
I think this is effectively a dupe, as long as our retry is enough.  I
don't have a good number but it could be a while before the registry image
pulls in some cases.  We need to test for this really.

On Mon, Jun 20, 2016 at 10:51 AM, Ben Parees <notifications@github.com>
wrote:

[2016-06-20 16:05] juanvallejo commented on #9410
test seems to be passing now, seems to fail once in a while

[2016-06-20 16:21] smarterclayton commented on #9294
The user does want to debug, but they didn't ask for the latest failure logs, they just said "get me the logs for the DC".  In a rollback, there are pods running.  Displaying the latest deployment pod, regardless of state, means users can't easily see the running pods.

[2016-06-20 16:43] mfojtik commented on #9294
@smarterclayton the other way around, users will not able to easily see the failure that caused rollback. We were discussing couple options with @kargakis, one of them was introducing the `--active` flag for logs that will cause to display logs for "active" running deployment.

Other option was bump the latest deployment version when rollback happen, so users will be able to see the logs from a ru

[2016-06-20 16:51] pweil- commented on #9406
IMO we should promote the vagrant plugin a bit more, getting a dev environment is as easy as `vagrant up`.  We include all the recommended versions of required software and starting with multiple minions simply setting some env vars.

[2016-06-20 17:02] smarterclayton commented on #9294
If I pushed a failure, then rolled back, how long before those failed logs
become irrelevant to me?  After all, I may not care once I've looked once.
Or I may not look after that.  Assuming the user cares about a failed
deployment logs once a rollback has happened doesn't seem like a very
strong argument right now.

On Mon, Jun 20, 2016 at 12:43 PM, Michal Fojtik <notifications@github.com>
wrote:

[2016-06-20 17:09] kargakis commented on #9294
@smarterclayton note that the rollback is automatic. I have an issue that we should warn for automatically rolledback configs: https://github.com/openshift/origin/issues/8416

[2016-06-20 17:20] smarterclayton commented on #9294
We aren't shy about displaying rollback / failure information in the
console and oc status.  To an end user, the failed deployment, while
important, is not as important as their running application.  If there is
something going wrong "right now", the logs for the currently running pods
are more important than the logs for the failed deployment.

On Mon, Jun 20, 2016 at 1:09 PM, Michail Kargakis <n

[2016-06-20 17:21] stevekuznetsov commented on #9286
@smarterclayton this is the issue tracking what you saw

[2016-06-20 17:23] kargakis commented on #9294
I think I agree with the logs for the running application that's why I opened the issue but there are places like `oc status` where we should warn users that their configs are broken and they are one button away from breaking their apps again.

[2016-06-20 17:24] jayunit100 commented on #9406
Agree that we should have one of these md files be the "official" way for testing - and  That can be added in The new contributing doc in a follow on pr

[2016-06-20 17:25] kargakis commented on #9294
Well, they won't break their apps because minimum availability but anyway I think it's reasonable to warn.

[2016-06-20 17:28] kargakis opened #9438 "oc cluster up suggestion"
[code]
@csrwng how about assuming zero knowledge and suggest `oc cluster down`? Helps also in copy-pasting.

[2016-06-20 17:37] smarterclayton commented on #9406
We're using asciidoc for our contributing docs so that it's easily portable to our other doc areas down the road.

[2016-06-20 17:44] jwforres commented on #9253
Yeah that definitely wasn't intentional, the hover states are being done automatically by c3 by lightening whatever color the arc is by some set amount. @spadgett we may need to either tweak the Not Ready color or look at adjusting how much it fades the non-focused arcs.

[2016-06-20 17:44] jayunit100 commented on #9406
Yeah I meant adoc, the pr above is adoc

[2016-06-20 18:12] liggitt commented on #9415
It looks like something modified `openshift.local.config/master/openshift-master.kubeconfig` or `openshift.local.config/master/ca.crt` since the config was set up. Are you aware of anything that could have modified either of those files?

[2016-06-20 18:30] csrwng commented on #9438
Makes sense. I had that message there before 'oc cluster down' existed.

[2016-06-20 18:38] gabemontero opened #9441 "implement `oc describe` logic for JenkinsPipelineBuildStrategy"
see https://github.com/openshift/origin/blob/master/pkg/cmd/cli/describe/describer.go#L347-L348

@bparees @smarterclayton FYI

[2016-06-20 18:42] DarkSkull91 commented on #9415
No, I didn't edit anything.
I've just ask a new bearer token to use the Kubernetes/Openshift API. Is it possible that this is the problem?

[2016-06-20 18:42] ncdc commented on #9309
I was seeing this before the rebase, using go-dockerclient.

[2016-06-20 18:46] ncdc commented on #9396
@runcom does this ring a bell?

[2016-06-20 18:47] ncdc commented on #9396
@lvthillo what OS? What docker version? If you have docker running and origin-node is not running, do you see additional error messages like this when you run commands like `docker ps`?

[2016-06-20 19:04] runcom commented on #9396
@ncdc is that with Docker 1.10.3?

[2016-06-20 19:06] runcom commented on #9396
Btw, yes, that's coming from a patch we're carrying (the audit one) - @nalind wrote it, not sure what's going on honestly (except the pid isn't there anymore and we can't read loginuid)

[2016-06-20 19:34] deads2k opened #9443 "TestDeployScale test-integration flake"
[code]

[2016-06-20 19:34] deads2k commented on #9443
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2184/consoleFull#-46929419256bf4006e4b05b79524e5923

[2016-06-20 20:00] eparis commented on #9416
Right. One should do
`godep restore`
Which will fill out $GOPATH with the package versions necessary in origin. if you then choose to update or change those versions of course you will need to update everything...

But should then be able to use origin in your code since all of the deps will be solved in GOPATH.

That's the theory. Reality is quite different. At the moment origin has 3 major Godep

[2016-06-20 20:05] Mangirdaz commented on #9416
For this main reason we have like 4-6 good projects in github which all of them I tried to fork, but failed due they all use different version of origin code which is now broken and does not even compile (for the cases kike 1 or 4 )

Thanks for info and hints... and looking forward to some dep tiding.

[2016-06-20 20:33] stevekuznetsov commented on #8571
This has gotten worse ...
[code]

@tdawson did you say this was just EPEL mirrors being out of sync with the source? Can we mitigate failures like this in CI?

[2016-06-20 20:41] bparees commented on #8338
is this going to deprecate the existing oadm build-chain tool?

[2016-06-20 20:51] sjenning commented on #9416
The last bump for github.com/coreos/etcd didn't update Godeps.json
https://github.com/openshift/origin/commit/e20b7480b71d75bc7d165bef35e0788009cc4e0f

[2016-06-20 20:52] csrwng opened #9444 "Extended.[k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance]"
Test flake: kubectl expose test fails while waiting for redis container
##### Version

v1.3.0-alpha.1-380-g4965f56
##### Steps To Reproduce
1. Run extended tests core
##### Current Result

Extended test failure:

[code]
##### Expected Result

Test passes
##### Additional Information

Times out waiting for redis RC:

[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conf

[2016-06-20 20:55] gabemontero commented on #8338
On Mon, Jun 20, 2016 at 4:41 PM, Ben Parees <notifications@github.com>
wrote:

I would think "no" (I believe oadm build-chain has a more image stream
centric look), but this is the type of discussion
when we have the cli / UI alignment discussions ... I'll update the trello
card.

[2016-06-20 22:13] #9312 closed

[2016-06-20 22:13] #9418 closed

[2016-06-20 22:14] juanvallejo opened #9449 "Travis build fails to find k8s dep "k8s.io/kubernetes/cmd/genutils""
https://travis-ci.org/openshift/origin/jobs/139049154
https://github.com/openshift/origin/pull/9448

##### Version
oc v1.3.0-alpha.0-1132-gbc32091-dirty
kubernetes v1.3.0-alpha.3-599-g2746284

##### Steps To Reproduce
[test]

##### Current Result
[code]

[2016-06-20 22:17] #9449 closed

[2016-06-20 22:18] kargakis commented on #9260
Actually this won't be needed with https://github.com/openshift/origin/pull/9002
* Deployer pod updates deployment
* DC controller notices deployment update, resyncs parent config
* Profit

[2016-06-20 22:19] bparees commented on #9301
@tnozicka were you able to work around this by deleting the old BC before creating the new one (so the old builds get deleted)?

[2016-06-20 22:43] kargakis opened #9450 "Deployment issues for 1.3"
Since there are a lot of things going on in deployments lately, I am opening this issue to keep track of work that we want to get in for 1.3. We are keeping track of some of the work on [Trello](https://trello.com/c/Mljldox7/643-8-deployments-downstream-support-for-upstream-features) but not all.

So in a nutshell:
- [x] caches in the deployment config controller (https://github.com/openshift/orig

[2016-06-21 00:17] stevekuznetsov commented on #9449
@juanvallejo any reason you closed this? dupe of https://github.com/openshift/origin/issues/9286 but a real problem

[2016-06-21 00:20] stevekuznetsov commented on #8571
Upgrading this since we're seeing quite a lot of it.

@danmcp @tdawson is there any possible way for us to latch onto a stable EPEL mirror from RH so our CI doesn't suffer needlessly? Can we cache the RPMs we're actually using somewhere?

[2016-06-21 01:15] danmcp commented on #8571
Mirrors are certainly possible.  @tdawson Do you have any particular recommendations or advice on the best approach?

[2016-06-21 01:42] #9343 closed

[2016-06-21 01:42] #9420 closed

[2016-06-21 02:33] bparees opened #9452 "oc start-build --wait --follow handles a failed build incorrectly"
If you use --wait and the build actually fails in between the client retrying waiting for the build/logs, oc client will error out telling you cannot wait for a failed build.

What should happen is the normal behavior, the build logs should be printed (if any), and --wait should exit with an appropriate failed return code, as it does for a normal build --wait flow.

[2016-06-21 02:46] smarterclayton commented on #9452
We also have the problem that `oc logs bc/foo`, if invoked immediately after a build config is created, will fail because the build does not exist yet.  If we start logging a build config within X seconds of its creation, we should wait for a while for a build to exist (under the principal that the user either expects the build to start, or they are scripting).  If we want to get clever, we can ch

[2016-06-21 06:52] lvthillo commented on #9396
@ncdc @runcom

The logs are only on servers which are running my nodes

Centos 7.2

[code]

sudo service origin-node status gave me:
[code]
sudo service docker status:
`time="2016-06-21T08:48:24.971651035+02:00" level=error msg="Error reading loginuid: open /proc/xxxx/loginuid: no such fil... directory"`

Now I stop my node (docker keeps running):
docker status: `level=error msg="Error reading log

[2016-06-21 08:13] tnozicka commented on #9301
@bparees Yes, I went with that workaround at the end and it works. It was much simpler that re-setting the lastVersion which had also potential race condition. Sadly this way we lose build history, but that is something we can live with until this is fixed.

Btw. this issue of re-writing values with apply that user did not specify seem to be generic problem in OpenShift. I have run into it e.g. ht

[2016-06-21 08:31] jameswilkins commented on #9268
Little bit more information if it helps as we're still struggling with this one.

I updated one of the node to latest for origin-node and we're still seeing the issue (containrised model)

If i grab the rename its trying to do

[root@node01 /]# mv /var/lib/origin/openshift.local.volumes/pods/72942c0e-3783-11e6-b29a-001dd8f01d93/volumes/kubernetes.io~secret/dockercfg /var/lib/origin/openshift.local

[2016-06-21 08:34] ingvagabund commented on #9268
@jameswilkins thanks for additional info

[2016-06-21 09:37] mfojtik commented on #7142
Rebase landed, we should be converted by now.

[2016-06-21 09:38] mfojtik commented on #9260
@kargakis do we still think the event is a good idea? I can add one there.

[2016-06-21 09:41] kargakis commented on #7142
@smarterclayton is this done?

[2016-06-21 09:42] mfojtik commented on #7142
@kargakis https://github.com/openshift/origin/pull/9366

[2016-06-21 09:42] mfojtik commented on #7142
@smarterclayton feel free to close this.

[2016-06-21 09:45] mfojtik commented on #9260
actually, the hook executor is running independently from the controller, so I don't think we can emit events here.

[2016-06-21 09:45] kargakis commented on #9260
Yes, events on the hook executor are fine. Not sure if we can enhance the config status to reflect running hooks but that's something we should do upstream first.

[2016-06-21 10:04] sahlex opened #9455 "pushing to internal registry stops after some time with "authentication required" message"
I installed openshift origin v1.3.0-alpha.1 (both master and node ion one machine) and managed to install the internal registry. I created a non-system user and obtained the access token which I used to login from my local repository on a second machine. I used the instructions from https://docs.openshift.org/latest/install_config/install/docker_registry.html#access to assign appropriate access ri

[2016-06-21 10:42] mfojtik commented on #9260
@kargakis I think events are fine, not sure if we need to update the status, if you want to know when the hooks run, you can just watch the events.

[2016-06-21 11:06] kargakis commented on #9260
@mfojtik for now yes. Updating the status is an API change that we may want to consider after we move hooks upstream.

[2016-06-21 11:25] mfojtik commented on #9455
@miminar PTAL as well

[2016-06-21 11:44] danmcp commented on #9269
https://ci.openshift.redhat.com/jenkins/job/base_ami/2023/console

[2016-06-21 11:44] kargakis commented on #9419
I think this is because sometimes the registry crashloopbacks: http://pastebin.com/Me3P5DAw
The build completes, but in the meantime the registry is restarted. `oc cluster up` should wait for the registry deployment to complete before finishing provisioning. cc: @csrwng @legionus

[2016-06-21 11:56] stevekuznetsov opened #9457 "Go builds fail due to not finding packages"
We're seeing failures like this:

[code]

[code]

[code]

Unfortunately `sar` only seems to be able to get FS stats for file systems backed by disk so it's not going to be as simple to get the utilization numbers for things like `/tmp`. Furthermore it seems RHEL7 ships `sar sysstat version 10.1.5` which doesn't even have the filesystem capabilities. @smarterclayton.

[2016-06-21 11:56] stevekuznetsov commented on #9449
tracking issue here: https://github.com/openshift/origin/issues/9457

[2016-06-21 11:56] stevekuznetsov commented on #9286
closing in favor of https://github.com/openshift/origin/issues/9457

[2016-06-21 11:56] #9286 closed

[2016-06-21 11:57] stevekuznetsov commented on #9457
@smarterclayton also re: your `/tmp` thrashing theory -- are the error messages we're getting not really showing us what is going on? Otherwise the failure to open files in `_output` shouldn't touch `/tmp`, right?

[2016-06-21 12:00] kargakis commented on #9419
Note that I am running with 2.4 but I have observed this crashloopback in the registry in our current version too

[2016-06-21 12:13] mnagy commented on #5841
Fixed by: https://github.com/openshift/origin/pull/5874

[2016-06-21 12:13] #5841 closed

[2016-06-21 12:22] gabrielscheffer commented on #9396
Hello guys, the same is happening here.
A lot of spamming messages from origin-node.service, filling up the /var/log/messages.

GCE
OS: CentOS Linux release 7.2.1511 (Core)

OpenShift Origin
oc v1.2.0
kubernetes v1.2.0-36-g4a3f9c5
Same Client & Server version of docker daemon described on this thread.

If you need any more info or help on this matter.
I will be glad to provide.

Best regards
Gabri

[2016-06-21 13:10] juanvallejo commented on #9449
@stevekuznetsov Managed to solve this particular one by including a copy of the "genutils" directory. Apparently we don't have those files yet in our copy of k8s.

[2016-06-21 13:17] miminar commented on #9455
Can you please provide also logs from docker registry (`oc logs dc/docker-registry`) from the time of failed push.

It seems quota enforcement related to me (#9400). If I'm right you'll probably need to reconcile cluster roles `oadm policy reconcile-cluster-roles --help`, `oadm policy reconcile-cluster-role-bindings --help`. Or you'll have to update to v1.3.0-alpha.2 and disable quota enforcement

[2016-06-21 13:27] bparees commented on #9301
thanks for the reference, i'll see if we can do something similar here.

On Tue, Jun 21, 2016 at 4:13 AM, Tomáš Nožička <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2016-06-21 13:28] ncdc commented on #9444
The openshift log was truncated at 20MB and doesn't contain anything related to the failing test case. The Jenkins console has this as the last event related to the pod:

[code]

I'm guessing this is a gcr.io flake but without logs, I can't say for sure. Please reopen if this happens again, and maybe we'll have more useful logs.

[2016-06-21 13:28] liggitt commented on #9415
what do the following commands show:
[code]

[2016-06-21 14:29] ncdc commented on #9396
@lvthillo @gabrielscheffer please **stop** origin-node, then run some docker commands (`docker images`, `docker ps`, etc) - do you continue to see the loginuid error messages showing up for the docker daemon?

[2016-06-21 15:14] csrwng commented on #9419
The false build success has been fixed with https://github.com/openshift/origin/pull/9421

@kargakis not sure this is the best approach. For most cases, I think it's better for `oc cluster up` to let you interact with the system as quickly as possible. If it takes longer to start, it's going to become less useful to people. If the registry is crashing on first deploy, we should look into that. On

[2016-06-21 15:18] kargakis commented on #9419
The issue is probably a too fast liveness probe. @legionus is looking at it.

[2016-06-21 15:18] kargakis commented on #9419
cc: @mfojtik

[2016-06-21 15:28] #5986 closed

[2016-06-21 15:52] smarterclayton commented on #9457
I think the error messages are potentially overlap with other errors.

On Tue, Jun 21, 2016 at 7:57 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-06-21 16:05] smarterclayton commented on #9247
Can you paste the output in one of the PRs so we can look?

[2016-06-21 16:11] kargakis opened #9463 "Script to build individual images"
As per various discussions and a recent thread in the mailing list, it's pretty obvious that there is a clear need for a tool/script that will build individual images being part of the origin repo.

There are a couple of different solutions already existing, we should pick one and integrate it.

@stevekuznetsov @smarterclayton @danmcp @rhcarvalho @ironcladlou @csrwng et al

[2016-06-21 16:16] lvthillo commented on #9396
@ncdc (in my case) the logs aren't showed anymore. It's only showed when the origin node is also running.

[2016-06-21 16:25] smarterclayton commented on #9463
Are these production images or "fake" images?  If they're production images, how will you decide whether to rebuild the parent layers?

[2016-06-21 16:25] jupierce commented on #9247
Sorry about the delay on the logs. I'm not able to get a clone of the current source-to-image repo running in my development environment. Will work with Ben.

[2016-06-21 16:33] kargakis commented on #9463
@smarterclayton this is merely for a better development workflow. Currently I am using a script built by @rhcarvalho, you are probably using your own script, others are using different tools. While using different tools is totally fine, it can be cumbersome for newcomers to figure out what they need to do in order to avoid rebuilding all the images with `make release` just for a change in the buil

[2016-06-21 16:45] kargakis opened #9468 "Revisit error handling in the deployment controllers"
Will be needed once we extend the resync period.

@deads2k @ironcladlou @smarterclayton @mfojtik

[2016-06-21 16:54] gabrielscheffer commented on #9396
Same as here, the logs only show up when origin-node is running.
And I noticed the following logs on the service status:

origin-node[49497]: E0621 13:40:46.056433   49497 container_manager_linux.go:267] failed to detect process id for "docker" - failed to find pid of "docker": exit status 1
origin-node[49497]: E0621 13:45:46.063560   49497 container_manager_linux.go:267] failed to detect process

[2016-06-21 16:55] enj commented on #9410
I am also unable to reproduce this @mfojtik

[2016-06-21 17:10] stevekuznetsov commented on #9457
Seen [here]():
[code]

[2016-06-21 17:17] ncdc commented on #9457
@stevekuznetsov that etcd error was because of a PR that has since been reverted and is unrelated

[2016-06-21 17:18] #9374 closed

[2016-06-21 17:22] stevekuznetsov commented on #9457
@ncdc good news, thanks

[2016-06-21 17:23] stevekuznetsov commented on #9463
Some of the scripts I noticed in that e-mail thread simply replace the `oc` binary, etc, in the image -- what API are we looking at here?

[2016-06-21 17:24] lvthillo commented on #9396
@gabrielscheffer did you maby try it on centos 7.1 or 7.0? Don't know if 7.2 is recommended?

[2016-06-21 17:29] gabrielscheffer commented on #9396
@lvthillo Hmm, didn't know that. I just got the default Centos 7 image from my cloud provider. I will give a try on an older version.

[2016-06-21 17:30] sdodson commented on #8571
@stevekuznetsov Can you try adding a `yum clean all` prior to attempting to use the repos?

[2016-06-21 17:31] stevekuznetsov commented on #9201
Closing as the fix went in and I don't think we've seen it recently.

[2016-06-21 17:31] #9201 closed

[2016-06-21 17:32] cgwalters commented on #8571
It has nothing to do with the yum caches - due to the way the repo is managed updates will *always* be racy.  It would be a lot less racy if 2 copies of the RPM data were cached and the RPMs were sync'd before the repodata.

[2016-06-21 17:39] stevekuznetsov commented on #9457
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/2210/console):
[code]

[2016-06-21 18:21] smarterclayton commented on #9463
Do you expect to get incremental compilation and incremental build?

On Tue, Jun 21, 2016 at 1:23 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-06-21 18:46] quintesse opened #9470 "`oc cluster up` hangs at "checking for available ports""
Following the instructions at https://www.openshift.com/devpreview/register.html I'm running

[code]

And this is what I get:

[code]

until I break it off manually (waited hours at some point, no difference).
##### Version

oc v1.3.0-alpha.1
kubernetes v1.3.0-alpha.1-331-g0522e63
##### Steps To Reproduce
1. run `oc cluster up --version=v1.3.0-alpha.1`
##### Current Result

[code]
##### Expected R

[2016-06-21 19:35] jupierce commented on #9247
s2i test was blocked briefly by openshift/source-to-image#520 . @bparees was able to get me going again. PR  openshift/source-to-image#519 has now been accepted. Now working on integrating this into my openshift/origin dev environment.

[2016-06-21 19:43] gabrielscheffer commented on #9396
So, I created a small cluster from scratch.
But I've some bad news, unfortunately even on CentOS Linux release 7.1.1503 (Core) I got those spam logs.

[2016-06-21 21:21] tdawson commented on #8571
I'd say use openshifts mirrors, they have epel mirrored and are only updated once a day, so you won't get a weird update halfway through your build.

Instead of installing epel-release, do the following

RUN wget -O /etc/yum.repos.d/epel7.repo https://mirror.openshift.com/mirror/epel/epel7.repo

[2016-06-21 21:30] lvthillo commented on #9396
I reinstalled it multiple times but every time the same issue on each node.

[2016-06-21 21:31] gabemontero commented on #3902
After revisiting this, my interpretation was that the circular build check was the only one that really applied here; pending receiving some enlightenment during review, I followed the KISS principle for this one.  We also have the recently commissioned https://trello.com/c/hHx4HrCG/966-integrate-pipeline-stages-into-oc-status potentially having some bearing on `oadm build-chain`.

Will submit PR

[2016-06-21 22:31] kargakis commented on #9463
All I care about in the first iteration of this is to avoid `make release` for building a single image.

[2016-06-21 22:34] #9441 closed

[2016-06-21 22:35] #1828 closed

[2016-06-22 02:08] bparees commented on #9222
@kargakis your build failed on the s2i_quota issue where the quota values is -1, it's not the same as what was reported here.  The issue you want is https://github.com/openshift/origin/issues/8427

[2016-06-22 02:08] bparees commented on #8427
another occurance: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2229/consoleFull

[2016-06-22 02:10] bparees commented on #9222
@mfojtik's build has gone away, so unfortunately i don't have logs available for this.

[2016-06-22 03:15] jupierce commented on #9247
Output at all log levels with new s2i and logging tweaks: https://gist.github.com/jupierce/303fa169792c2a646976d3ff097f4be8

Noticing a few printf %!q(MISSING) entries.

[2016-06-22 03:58] bparees commented on #9247
the MISSING items appear to be a bug in @smarterclayton's glog wrapping logic, because i don't see anything else wrong with:
`glog.V(4).Infof("Starting S2I build from %s/%s BuildConfig ...", s.build.Namespace, s.build.Name)`

and

`glog.V(4).Infof("The value of %s is [%s]", api.DropCapabilities, dropCaps)`

[2016-06-22 04:16] smarterclayton commented on #9247
There should be no glog prefixes at v1 or v2...

[2016-06-22 04:17] smarterclayton commented on #9247
Means some code is not using the right package and is logging its own errors (instead of returning errors).

[2016-06-22 04:18] smarterclayton commented on #9247
[code]

What is this?

[code]

Should have no glog prefix.

[code]

This is not a message a user cares about.

[code]

What is this?  Not useful at 2.

[code]

[2016-06-22 04:45] bparees commented on #9247
@smarterclayton most of s2i is still using glog, you only changed the docker package w/ your wrapper pr.

[2016-06-22 05:22] #9101 closed

[2016-06-22 06:41] #9226 closed

[2016-06-22 08:44] kargakis opened #9479 "oc status should warn about missing rolebindings"
See https://github.com/openshift/origin/issues/9216#issuecomment-225552898

We should warn about missing rolebindings for the default service accounts (default, deployer, builder) in a project and show appropriate warnings depending on the role of the user? Throwing out some ideas: If you cannot touch rolebindings, we should have a warning similar to the missing registry/router warning. If you are

[2016-06-22 08:45] kargakis commented on #9216
https://github.com/openshift/origin/pull/9228 is merged and I opened https://github.com/openshift/origin/issues/9479 for adding a warning in `oc status` that could help. Closing this

[2016-06-22 08:45] #9216 closed

[2016-06-22 08:46] jstrachan commented on #9216
thanks @kargakis!

[2016-06-22 08:59] mfojtik commented on #7996
@kargakis or just display them on single line.

[2016-06-22 09:04] kargakis commented on #7996
Single line for the inactive deployments. Also have a look at how `oc status` works. It always show the three latest deployments.

[2016-06-22 09:17] mfojtik commented on #9463
@smarterclayton the problem that some of the scripts I saw was addressing is simply inject the `openshift` binary you just built to existing images so you can test/develop things like deployer, builder, etc.

[2016-06-22 09:24] mfojtik commented on #9463
@smarterclayton this also might be useful when using `oc cluster up` for development (I built openshift binary and I can now upload it to `openshift/origin` image).

[2016-06-22 09:35] kargakis opened #9480 "FAILURE after 0.016s: test/end-to-end/core.sh:181: executing 'cat '/tmp/openshift/test-end-to-end-docker//logs/cli-with-token2.log'' expecting success and text 'system:serviceaccount:test:default': the output content test failed"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2417/consoleFull
Probably a dupe of another issue but I couldn't find it. Assigning to @stevekuznetsov for triaging.

[2016-06-22 09:44] mfojtik commented on #6289
I will look at this today

[2016-06-22 09:50] rhcarvalho commented on #9463
FWIW, here's an old branch with a WIP to integrate the scripts I've been using into origin:
https://github.com/rhcarvalho/origin/commits/dev-rebuild-builder-images
Anybody working on the tool feel free to steal from it.

The original code I'm using is in:
https://github.com/rhcarvalho/openshift-devtools/tree/master/extras

[2016-06-22 10:01] sahlex commented on #9455
Please find attached the logs...
[registry_output.txt](https://github.com/openshift/origin/files/327500/registry_output.txt)

[2016-06-22 10:40] stevekuznetsov commented on #9480
Looks like a dupe of https://github.com/openshift/origin/issues/9309

[2016-06-22 10:40] #9480 closed

[2016-06-22 10:50] csrwng commented on #9470
@quintesse can you please include a run with a `--loglevel=5` argument ?

[2016-06-22 10:58] quintesse commented on #9470
Sure:

[code]

[2016-06-22 11:39] lvthillo commented on #9396
@gabrielscheffer which cloud provider are you using. We want to rule out that it is our provider or something.

[2016-06-22 11:45] gabrielscheffer commented on #9396
@lvthillo  Google Compute Engine.
But a friend of mine has the same problem on AWS.

[2016-06-22 11:45] lvthillo commented on #9396
@gabrielscheffer Okay good to know. We are using OVH and same problem too so it's an openshift issue.

[2016-06-22 11:46] deads2k commented on #9479
I like the idea of having a "project should have things that look roughly like this" check, but I'd probably want to build it as a set of those things rather than a one off for particular rolebindings.

RoleBindings and Roles in `oc status` are an interesting idea in their own right.  Given the rules review endpoint and API discovery, it's now possible to make more intelligent choices.

[2016-06-22 11:54] ncdc commented on #9396
Are you all running OpenShift containerized?

[2016-06-22 12:05] lvthillo commented on #9396
@ncdc No using the ansible installation. Reinstalled it every day since friday and always the same issue.

[2016-06-22 12:21] #7272 closed

[2016-06-22 12:21] #9053 closed

[2016-06-22 12:30] csrwng commented on #9470
@quintesse so I tried to reproduce on fedora 24, same Docker version ... started a vm, installed docker, got the 'oc' client. I ran `oc cluster up` and it got stuck in the same place. I then restarted the vm and ran it again, and everything worked ok and I couldn't reproduce again. I will try a new vm and see if I can get it in the same state. In the meantime, can you try just restarting your mach

[2016-06-22 12:36] gabrielscheffer commented on #9396
@ncdc Nope mate, running the default install from Ansible master branch.

[2016-06-22 12:44] gabrielscheffer commented on #9315
@xelfe Hello mate, try [this workaround](https://github.com/openshift/openshift-ansible/issues/2045#issuecomment-227715124).

[2016-06-22 12:46] stevekuznetsov commented on #5448
@smarterclayton I'm not sure about this, but I recently started seeing this again on Jenkins and added a failure cause pointing to this issue -- did anything ever happen to fix this issue or has it simply laid latent since October? Is this issue still relevant to HEAD?

[2016-06-22 13:01] quintesse commented on #9470
I've rebooted but still the same.

Which was more or less what I expected because I actually upgraded to F24 yesterday and it didn't work for me under F23 either. So I already had rebooted a couple of times.

[2016-06-22 13:19] smarterclayton commented on #9247
Ok.  So something else that needs to get fixed.

[2016-06-22 13:35] ncdc commented on #9396
I'm spinning up a Centos VM to check things out.

[2016-06-22 13:54] csrwng commented on #9470
I'm no longer able to reproduce even in a new vm. There must be something else in the environment that's causing this. Can you include the output of `docker info` from your machine?

Also, try running the same command manually (this is the point where it seems to be getting stuck):
`docker run --rm --privileged --net=host --pid=host --entrypoint=/bin/bash openshift/origin:v1.3.0-alpha.1 -c "cat /p

[2016-06-22 14:20] csrwng commented on #9100
@bparees

[2016-06-22 14:20] csrwng commented on #9242
@bparees

[2016-06-22 14:22] csrwng commented on #9385
@bparees

[2016-06-22 14:23] csrwng commented on #9438
@bparees

[2016-06-22 14:23] csrwng commented on #9470
@bparees

[2016-06-22 14:33] quintesse commented on #9470
`docker info`:

[code]

[2016-06-22 14:34] quintesse commented on #9470
`docker run ...`:

[code]

[2016-06-22 14:43] csrwng opened #9487 "'oc cluster up' not working with latest Docker beta for Mac"
With the latest Docker beta for Mac, running 'oc cluster up', fails at finding an IP address to use.

##### Version
v1.3.0-alpha.1-492-gff6d006

##### Steps To Reproduce
1. Install latest Docker beta for Mac
2. Run 'oc cluster up'

##### Current Result
Fails to start due to IP address not found

##### Expected Result
Starts succesfully

##### Additional Information
The latest Docker beta has no do

[2016-06-22 14:43] csrwng commented on #9487
@bparees

[2016-06-22 14:48] fabianofranz commented on #5290
Fixed by https://github.com/openshift/origin/issues/9354

[2016-06-22 14:48] #5290 closed

[2016-06-22 15:03] bparees commented on #9247
@jupierce can you please update the rest of s2i to use the utilglog wrapper as seen here:
https://github.com/openshift/source-to-image/blob/master/pkg/docker/util.go#L16
https://github.com/openshift/source-to-image/blob/master/pkg/docker/util.go#L22

[2016-06-22 15:06] bparees commented on #9242
@tnozicka @csrwng is there still progress to be made on this?

[2016-06-22 15:26] cpitman opened #9489 "Routers and Health Checks?"
This is more of a RFE/question.

Right now it looks like neither the HAProxy or F5 router plugins take advantage of health checks to stop routing traffic to specific pods. Openshift is polling these via liveness probes (at what frequency?), and will eventually kill a pod, which triggers it being removed from the service, which will then be detected by the router plugin and synced with the router c

[2016-06-22 15:34] stevekuznetsov commented on #8571
We can address this by switching to the `mirror.openshfit.com` EPEL mirror for AMI builds, etc, but we will need `oc ex dockerbuild` capability to inject secrets (sslclientcert/key) for the mirror into our Docker builds, where we see the majority of these flakes.

This will be blocked on @smarterclayton implementing that secrets feature.

[2016-06-22 15:38] lvthillo commented on #9396
@ncdc Where you able to reproduce the issue?

[2016-06-22 15:40] ncdc commented on #9396
Not yet, at least not with the latest origin master code. I didn't try an ansible install - I was just building and running from source. I'm checking out v1.2.0 and will try that tag to see if the behavior is any different.

[2016-06-22 15:40] tdawson commented on #8571
You do not need the certs/key for that area https://mirror.openshift.com/mirror/epel/

Since there is nothing private in that repo, you do not need a certificate to access it.

[2016-06-22 15:41] tnozicka commented on #9242
@bparees Not sure. Last time I have updated docker images and tried the same I run into DNS issues not resolving github.com so it did not get to the push phase. It started DNS on 8053 as always, but might have some collision with ADB. Since then I have not yet have time to investigate further but I will try is again after summit.

[2016-06-22 15:43] lvthillo commented on #9396
@ncdc I've done multiple installs and my `oc version` seems sometimes a bit different but the issue is always coming up.

[2016-06-22 15:43] ncdc commented on #9396
Are you running pods on the node, or is the node empty of containers?

[2016-06-22 15:45] lvthillo commented on #9396
@ncdc I'm able to run pods (router&registry) on my node, but the errors are there after the playbook is finished. So when the node is empty of pods/containers

[2016-06-22 15:55] smarterclayton commented on #5448
We had a big slowdown in the API server on the rebase which David is fixing - lots of rare flakes suddenly became less rare.

[2016-06-22 16:16] ncdc commented on #9396
Trying an ansible install now. Will report back.

[2016-06-22 16:18] jupierce commented on #9247
Sure thing.

[2016-06-22 16:25] ncdc commented on #9396
I get this, which I assume has a similar root cause: `level=error msg="Failed to get pwuid struct: user: unknown userid 4294967295"`

[2016-06-22 16:26] ncdc commented on #9396
Actually, that's https://bugzilla.redhat.com/show_bug.cgi?id=1335635

[2016-06-22 16:29] kargakis opened #9490 "[builds][Conformance] build without output image"
[code]

@stevekuznetsov known flake?

[2016-06-22 16:29] kargakis commented on #9490
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2426/consoleFull

[2016-06-22 16:31] smarterclayton commented on #9490
@bparees didn't we fix these flakes?

[2016-06-22 16:33] #9422 closed

[2016-06-22 16:33] ncdc commented on #9396
@lvthillo @gabrielscheffer are you able to look for `/proc/<pid>/loginuid` - does it exist?

[2016-06-22 16:34] lvthillo commented on #9396
@ncdc for me it does not exist. What steps are you following to install openshift origin without ansible?

[2016-06-22 16:35] ncdc commented on #9396
@lvthillo I'm using an ansible-based install now. And I'm hitting the bz I linked above. But I can't reproduce your error locally.

[2016-06-22 16:37] lvthillo commented on #9396
@ncdc I want to install openshift v1.2.0 without using ansible so that the issue isn't coming up (you didn't saw the issue when you did not use the ansible install)

[2016-06-22 16:39] bparees commented on #9490
@smarterclayton this looks different, looks like docker daemon wackiness.  from the build log:

I0622 13:45:23.317312       1 glog.go:50] Removing container
"20aa7dc686459824a457d6cb01e1e84cce2365ab76912178ff0927c7efa45043" ...
warning: Failed to remove container "20aa7dc686459824a457d6cb01e1e84cce2365ab76912178ff0927c7efa45043": API error (500): Driver devicemapper failed to remove root filesyste

[2016-06-22 16:39] ncdc commented on #9396
I generally do something like this (assuming you have a working go environment):

1. Grab a clone of origin from git and put it in the right place in your GOPATH
1. cd origin
1. git checkout v1.2.0
1. make
1. sudo _output/local/bin/linux/amd64/openshift start --write-config=openshift.local.config
1. sudo _output/local/bin/linux/amd64/openshift start --master-config openshift.local.config/master/ma

[2016-06-22 17:05] double16 opened #9491 "Custom S2I image fails to pull from Docker Hub"
I have created a custom S2I builder for Grails 2.x applications. When I try to use it, the sha256 value is found correctly, yet OpenShift cannot pull it.

##### Version
OpenShift Origin via Vagrant box. v1.3.0-alpha.1-31-g81aecc8

##### Steps To Reproduce
1. `oc new-app docker.io/pdouble16/openshift-s2i-grails2:0.1.2~https://bitbucket.org/double16/cukebooks.git`
2. Review build logs

##### Current

[2016-06-22 17:06] stevekuznetsov commented on #9490
@kargakis new flake? Have you added a Jenkins Failure Cause Management entry?

[2016-06-22 17:07] derekwaynecarr commented on #8894
In the future, we would like to use `blkio` , but we do not have a design in mind for how to achieve this yet.  The initial use case was around logs, but yes, builds hit same issues.

[2016-06-22 17:08] stevekuznetsov commented on #8571
@tdawson ah, incredible. I assumed I would need them due to some other repos on the domain needing them.

@smarterclayton since our internal mirror doesn't need the secrets, can you see anything wrong with simply disabling the upstream EPEL repo in the RHEL base image that I think we use for all of our builds?

[2016-06-22 17:09] double16 commented on #9491
If I pull the image manually (inside the VM):
[code]

So the digest looks valid.

[2016-06-22 17:10] stevekuznetsov commented on #9490
Devicemapper issues... @runcom @rhvgoyal maybe you will be able to shed some light on it?

[2016-06-22 17:18] gabrielscheffer commented on #9396
@ncdc so, /proc/<pid>/loginuid does not exist here too.
My ansible installation come deployment_type=origin from [master](https://github.com/openshift/openshift-ansible/) of openshift-ansible on github.

Steps to reproduce:

1. Provisioning a machine Centos 7.2 or 7.1
2. Enable Epel repo
3. Install pre-req. packages:
  - ansible
  - bash-completion
  - bind-utils
  - bridge-utils
  - docker
  - gi

[2016-06-22 17:38] ncdc commented on #9396
Can you paste the current pid with the loginuid error along with the output of `ps auxwf`?

[2016-06-22 17:52] gabrielscheffer commented on #9396
Sure, but after last reinstall I'm just getting these errors:
------/var/log/messages------
[code]
-------------ps auxwf------------------------
[code]

Is that it?

[2016-06-22 17:53] ncdc commented on #9396
`Failed to get pwuid struct: user: unknown userid 4294967295` is the bz listed above

[2016-06-22 17:53] lvthillo commented on #9396
@ncdc
`level=error msg="Error reading loginuid: open /proc/11976/loginuid: no such file or directory"`

`root      11976  1.7  0.1 833564 46292 ?        Ssl  19:51   0:01 /usr/bin/openshift start node --config=/etc/origin/node/node-config.yaml --loglevel=2`

[2016-06-22 17:54] ncdc commented on #9396
@lvthillo does /proc/11976 exist?

[2016-06-22 17:54] lvthillo commented on #9396
@ncdc
yes:
[code]

[2016-06-22 18:09] lvthillo commented on #9396
@gabrielscheffer How did you perform your new install? (I  performed a new git clone but same issue)

[2016-06-22 18:11] gabrielscheffer commented on #9396
@lvthillo So, like [described up](https://github.com/openshift/origin/issues/9396#issuecomment-227814522)

[2016-06-22 18:14] ncdc commented on #9396
@lvthillo can you `grep loginuid /etc/pam.d/*`?

[2016-06-22 18:14] derekwaynecarr commented on #9424
I cant get this scenario to work at all right now.

[code]

@cewong

On Sat, Jun 18, 2016 at 11:23 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-06-22 18:30] ncdc commented on #9396
This is not an OpenShift issue. The kernel needs to be compiled with audit support enabled, and you may need to have pam_loginuid configured. Once you do have `/proc/pid/loginuid` files in place for the OpenShift processes, they will be MAXINT, and you'll end up with the `Failed to get pwuid struct: user: unknown userid 4294967295` "error" until a newer version of Docker is available that doesn't

[2016-06-22 18:30] #9396 closed

[2016-06-22 18:30] eparis commented on #9396
@ncdc this has nothing to do with pam.

This is NOT a CentOS kernel. This is NOT a RHEL kernel. The kernel was built without CONFIG_AUDIT and/or CONFIG_AUDIT_SYSCALL.

This is a bug in docker. It should support such kernels.

Please file a BZ against 'docker' at bugzilla.redhat.com.  Tell them that they need to support kernel's without CONFIG_AUDIT.

[2016-06-22 18:35] runcom commented on #9396
it's not against upstream docker though, the issue should be filed under projectatomic/docker since it's our patch causing this

[2016-06-22 18:35] runcom commented on #9396
@lvthillo ^^

[2016-06-22 18:42] lvthillo commented on #9396
@runcom okay, was an older issue which I wanted to close .

[2016-06-22 18:56] gabrielscheffer commented on #9396
Thank you all for the support =)

[2016-06-22 19:34] double16 commented on #9491
Maybe this? http://stackoverflow.com/questions/37709594/api-error-500-manifest-unknown-manifest-unknown

I've done `oc cluster up` with a docker-machine 1.11.2 VM on Mac OS X and I'm getting the same thing.

[2016-06-22 19:40] smarterclayton commented on #8571
Are these official images?

On Wed, Jun 22, 2016 at 1:08 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2016-06-22 19:59] stevekuznetsov commented on #8571
@smarterclayton I'm not sure exactly how the official images are built. What I'm concerned about is the images built during a Jenkins test run. Probably the release images are built off of the same AMI, though. We could then add a flag or something to `vagrant-openshift` to make this configurable? @danmcp WDYT?

[2016-06-22 20:02] stevekuznetsov commented on #9470
@quintesse you can also attempt to harvest stacktraces from the process by killing it while it's hung like so, where `$OC_PID` is the process ID of the `oc` command:
[code]

This should dump a stacktrace to `stderr`.

[2016-06-22 20:05] stevekuznetsov commented on #9463
@mfojtik to confirm the two wants here are:
 - ability to build one image at a time
 - ability to "re-build" any image by updating `oc/openshift/oadm` binary in the image

Are these orthogonal in your mind? Or are you *not* looking for a means by which to build a specific image from scratch?

How do you want to handle dependent images?

[2016-06-22 20:06] stevekuznetsov commented on #9463
Or, maybe this is a better question:

What's missing from @rhcarvalho's implementation?

[2016-06-22 20:35] bparees commented on #9302
pretty sure this is resolved, @xcoulon let me know if it's not working for you.

[2016-06-22 20:35] #9302 closed

[2016-06-22 20:40] danmcp commented on #8571
@stevekuznetsov An option sounds reasonable.

[2016-06-22 21:03] quintesse commented on #9470
Sure, here you are: [oc.out.txt](https://github.com/openshift/origin/files/328751/oc.out.txt)

[2016-06-23 00:11] GreatSUN opened #9497 "Build not starting after webhook (http status 200)"
After webhook is issued, no build is starting.

Any help appreciated. Thanks!

##### Version
openshift v1.3.0-alpha.1-473-gb617847
kubernetes v1.3.0-alpha.3-599-g2746284
etcd 2.3.0+git

##### Steps To Reproduce
1. configure a webhook in github enterprise with ssl verify ignore, commit/push or just execute with curl:
curl -H "Content-Type: application/json
X-GitHub-Event: push" -X POST -k -i --data

[2016-06-23 04:55] smarterclayton opened #9499 "oc cluster up should queue temporary container deletes and process them in the background"
They are very slow and we don't need to wait for them.  Create a delete queue, shuttle them off and dispatch deletes for each.  May need to test whether this blows up docker.

[2016-06-23 07:57] #9431 closed

[2016-06-23 08:35] ramr commented on #4907
Closing this issue as it has been fixed.

[2016-06-23 08:35] #4907 closed

[2016-06-23 09:50] #9437 closed

[2016-06-23 10:17] soltysh opened #9502 "oadm prune --namespace=myns does not limit to specified namespace"
While working on my pruning image card, I wanted to test the pruning only within my test namespace, but invoking `oadm prune images -n test --loglevel=4` showed me that all namespaces were taken into consideration. Looking at the pruning source code ([builds.go](https://github.com/openshift/origin/blob/16bcdd0e49490976c2c942ed90b0de7db757a8cf/pkg/cmd/admin/prune/builds.go#L70), [deployments.go](ht

[2016-06-23 10:28] sttts commented on #5762
Compare https://github.com/kubernetes/kubernetes/issues/16976#issuecomment-228010465: date header exists already?

[2016-06-23 10:46] kargakis opened #9503 "TestBuildRunningPodDeleteController flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2360/consoleFull

[2016-06-23 11:47] mfojtik commented on #9491
@double16 what version of docker you have?

[2016-06-23 11:47] mfojtik commented on #9491
@double16 and what version of docker you used to push the image to hub?

[2016-06-23 11:48] mfojtik commented on #9502
@soltysh I agree. If we support `-n` on prune we should take it into account when pruning.

[2016-06-23 12:02] livelace commented on #8503
The large list (Project -> Browse -> Builds) - it's not comfortable. If we can sort by columns, it will be great.

[2016-06-23 13:01] lvthillo commented on #9396
@runcom Any idea when this will be fixed?
Is it possible to start an OpenShift environment with the 'broken' docker. And after the fix remove docker and reinstall it (so will it remain 1.9.1) + are there also functional problems with the docker version or only the 'error-bug'. Sorry for this big amount of questions but we're a bit stuck in here.

[2016-06-23 13:10] deads2k opened #9505 "RC being mutated in the cache!"
GOT ONE!

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/2363/artifact/origin/artifacts/test-cmd/logs/openshift.log

[code]

[2016-06-23 13:13] bparees commented on #9497
please provide your buildconfig json definition and the content of data.json

[2016-06-23 13:14] bparees commented on #9490
per my comment above, this is a docker daemon problem

[2016-06-23 13:30] double16 commented on #9491
@mfojtik I'm using the Docker Hub automated build to publish the image. I've tried with docker versions 1.10.3, 1.11.2 and whatever comes with the Vagrant box for 1.3.0.alpha.1.

@miminar Thanks, I'll push these to a local registry and see how it goes. Any idea which pre-release for 1.3.0 will have v2 support?

[2016-06-23 13:33] rhcarvalho opened #9508 "Environment variables passed to oc new-app are ignored by template"
`oc new-app` has a flag `--env` that is documented as:

[code]

And one of the multiple uses of `new-app` is to instantiate a template with `-f`:

[code]

One could then assume that both options would work together:

[code]

However the environment variables are effectively ignored.

##### Version

[code]

##### Steps To Reproduce
1. `oc new-app -f https://raw.githubusercontent.com/openshift/origi

[2016-06-23 13:34] rhcarvalho commented on #9508
Thanks to @mikenairn for spotting the problem.

@bparees what's your take here? Documentation omission, lacking validation or bug?

[2016-06-23 13:39] bparees commented on #9508
@rhcarvalho for now it's a documentation omission, we've discussed this problem before, the challenge is we aren't sure where we should add the env variables (just add them to the DCs in the template?  just the BCs?  both?).  And we tend to assume the template should be defining env vars that are needed (potentially as parameters).

[2016-06-23 13:56] AlbertoPeon commented on #9146
I vote for this as well. It would be awesome to have this for both ConfigMaps and secrets.

[2016-06-23 14:14] deads2k commented on #9502
I don't understand.  Given an image that isn't used in a particular namespace, what would you do?  You can't remove it unless other namespaces aren't using it, but if you're checking other namespaces, it's no longer contained to a namespace.

How about you simply detect if they specified `-n` and then fail?

[2016-06-23 14:33] deads2k commented on #5448
This was being flagged by a bad indication that was getting triggered during a cleanup step.

[2016-06-23 14:34] smarterclayton commented on #9502
It's likely that prune could prune just the image streams for -n.  But it
definitely can't remove images.

On Thu, Jun 23, 2016 at 10:14 AM, David Eads <notifications@github.com>
wrote:

[2016-06-23 14:36] deads2k opened #9512 "[ ERR] Gave up waiting for: '[[ "$(curl -s -X POST http://${FRONTEND_IP}:5432/keys/foo -d value=1337)" = "Key created" ]]'"
from e2e: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2370

[code]

[2016-06-23 14:37] gabrielscheffer commented on #9396
@lvthillo Hello mate, based on this [patch](https://github.com/projectatomic/docker/pull/156)
I released my own docker-1.9.1-40.
For me it's fixed, you can dig up my changes at my repo https://packagecloud.io/gabrielscheffer/centos7

Steps to install fixed docker:

[code]

Cheers

[2016-06-23 14:41] deads2k opened #9513 "volumes.go is spamming log"
We only have a few pods in e2e, but we're getting this
[code]

every second. That's excessive.

@markturansky anything we can do about that?

[2016-06-23 14:44] deads2k commented on #9512
@bparees are you familiar with the e2e app?  My look at the logs suggests that it should be successfully POSTing.

[2016-06-23 14:49] bparees commented on #9512
yeah, it's not obvious to me.  based on the output it appears the curl request never even got to the app (the wait_for_command timed out on the curl, it didn't return a failure code).

if we have container logs for the app pod, that might shed some light, but given that the welcome page returned successfully it seems like the app is working, unless the DB connection failed.

[2016-06-23 14:49] markturansky commented on #9513
Perhaps that message isn't worthy of log.V(4) ?  I agree it's spammy.

`glog.V(4).Infof("Making a volume.Unmounter for volume %s/%s of pod %s", volume.Kind, volume.Name, podUID)`

This would be an upstream change.

[2016-06-23 14:51] smarterclayton opened #9514 "Post rebase work"
For the 1.3 rebase
- Init container SCC
- Enable petset auth controller
- Remove upstream fast path conversions that exist in upstream

[2016-06-23 14:51] deads2k commented on #9512
Those are attached to the jenkins job under status and labeled with the container names.  There are actually two pods started and they both seem to be getting the POSTs.

[2016-06-23 14:52] smarterclayton commented on #9512
Hrm, I've never seen that one fail before (or not in months).

[2016-06-23 14:52] deads2k commented on #9513
Yeah, we'd either pick it or get it in the next rebase.  It's worth fixing.

[2016-06-23 14:52] bparees commented on #9512
yeah was just looking at the posts...  sure looks like the app is getting the post and responding with a 200.  No idea why curl isn't getting that response back.

[2016-06-23 14:54] deads2k commented on #9512
It was triggering the SCC flake issue people started linking recently, so something broke.

[2016-06-23 14:54] markturansky commented on #9513
SGTM. I'll submit some PRs today.  I presume you'll merge the change into Origin without it necessarily being merged upstream?  Not sure if that will get into the 1.3 milestone or not.

[2016-06-23 14:58] deads2k commented on #9513
I will.  Just having the upstream pull will be sufficient.

[2016-06-23 14:58] rhcarvalho commented on #9508
Correct, now I remember that discussion.

What we could do here is note on the help for `--env` that is doesn't apply to objects created from a template.

[2016-06-23 15:02] bparees commented on #9508
yeah, i think that'd be sufficient for now.

[2016-06-23 15:25] soltysh commented on #9502
I like @smarterclayton idea. I'll go with that, esp. it's reasonable to reason about, with images being non-namespaced resources.

[2016-06-23 15:29] inlandsee opened #9515 "Set initial user for 'cluster up'?"
Make it possible to set initial user and password for 'cluster up"

##### Version
oc v1.3.0-alpha.2-171-g16bcdd0-dirty

##### Steps To Reproduce
1. modify master-config.yaml to perform htpasswd_auth with certs
2. oc cluster up

##### Current Result

oc cluster up reports 'Login to server ... FAIL' because initial user/pw is no longer valid

##### Expected Result

valid login if allowed to specify

[2016-06-23 15:45] #5918 closed

[2016-06-23 15:45] #9505 closed

[2016-06-23 15:52] kargakis commented on #6426
Finally fixed

[2016-06-23 15:55] kargakis commented on #7114
@mfojtik https://github.com/openshift/origin/pull/6233 is merged so you can start working on this. Note that it's part of https://trello.com/c/Mljldox7/643-8-deployments-downstream-support-for-upstream-features

[2016-06-23 17:00] #9244 closed

[2016-06-23 17:13] deads2k commented on #9503
Seeing

[code]

[2016-06-23 17:24] gabemontero commented on #8338
A reader digest version of discussion in the pull:  there are broader concerns with aligning with the UI in how both build config dependencies (the essence of this issue) and pipelines in general (a superset of build config dependencies) are depicted via the CLI.

The https://trello.com/c/hHx4HrCG/966-integrate-pipeline-stages-into-oc-status card has been opened to track.

I'm leaving this issue a

[2016-06-23 18:18] jawnsy opened #9519 "Unclear message when oadm create-node-config is missing --node-client-certificate-authority"
Hello,

When configuring Origin on Fedora 24 (using the RPM packages) according to the [installation guide](https://docs.openshift.com/enterprise/3.0/admin_guide/master_node_configuration.html), detailed error messages are returned for various flags (--signer-cert, --signer-key) but not for --node-client-certificate-authority.

Additionally, the paths default to /openshift.local.config rather than

[2016-06-23 18:18] #9290 closed

[2016-06-23 18:35] markturansky commented on #9513
I see significant refactoring upstream in pkg/kubelet and can no longer find this glog message.

We do have it in our current Godeps version of Kube, but it'll stop being spammy after a rebase.

[2016-06-23 18:50] #3902 closed

[2016-06-23 19:38] jupierce commented on #9247
s2i to use utilglog in openshift/source-to-image/pull/#524

[2016-06-23 20:11] #9503 closed

[2016-06-23 20:38] sdodson commented on #9407
See also #9448

[2016-06-23 20:40] gabemontero opened #9524 "build extended test "should allow to change build log level" fails consistently"
@bparees FYI: this fails both locally for me and on ci.openshift.

Logs contain a message that the test does not think should be there.

I have not looked in detail, but I wonder if the recent work from @jupierce either lead to this, or if not, if he could look into fixing this as part of what he is doing.

file is test/extended/builds/start.go

[2016-06-23 20:48] gabemontero opened #9525 "build extended test "should accept --from-repo with --commit as input" fails consistently"
@bparees FYI: this fails both locally for me and on ci.openshift.

The start-build fails with this flavor (again, both locally and on ci.openshift):
[code]

file is test/extended/builds/start.go

[2016-06-23 20:48] smarterclayton commented on #9368
[mem.pdf](https://github.com/openshift/origin/files/330785/mem.pdf)

[2016-06-23 20:51] smarterclayton commented on #9368
[code]

[2016-06-23 20:52] smarterclayton commented on #9368
This is @ 7c4fc5a067b22ef9b303cfbb955ee924399c6ad3

[2016-06-23 20:57] gabemontero opened #9526 "build extended test "should create a image via new-build" fails consistently"
@bparees FYI: fails consistently both locally and on ci.openshift

We've discussed this previously, and there is a long term plan, so this is more for tracking purposes.  It uses the origin-base image, which has not been re-published since the docker v1.10 debacle.  The build fails with

[code]

file is test/extended/builds/dockerfile.go

[2016-06-23 20:58] smarterclayton commented on #9368
[code]

which I think is the same, is the bulk of them.  It looks like we make ~1-3 per mutation call.

[2016-06-23 20:58] jupierce commented on #9524
@gabemontero This would have definitely been broken by my changes but should subsequently be fixed by #9428

[2016-06-23 21:00] gabemontero commented on #9524
cool - thanks for the confirm @jupierce

[2016-06-23 21:02] bparees commented on #9526
yeah this will be fixed when the docker1.10 issues are addressed.

[2016-06-23 21:03] bparees commented on #9526
assigning to @danmcp since he's tracking when we get the docker1.10 rhel patches in our infrastructure.

[2016-06-23 21:03] double16 commented on #9491
Verified building and pushing with docker 1.9 fixes the issue. Feel free to close if this is captured in another issue.

[2016-06-23 21:04] bparees commented on #9524
let's leave this open until the PR merges.

[2016-06-23 21:07] jupierce commented on #9247
Integrated fix for Missing Infof parameters into PR #9428 . The utilglog package is duplicated in source-to-image and origin (I fixed the problem in both places). Would be make sense to make this a Godep?

[2016-06-23 21:09] bparees commented on #9525
i'm not sure how that ever worked since the directory in question is not a git repo.

[2016-06-23 21:11] danmcp commented on #9526
Do we want to dup this on: https://github.com/openshift/origin/issues/9122

[2016-06-23 21:27] bparees commented on #9526
I'm inclined to say no.  there are really two issues/fixes:
1) openshift tolerating images pushed w/ "bad' manifest data (9122)
2) us pushing our infrastructure images with correct manifest data (this issue)

if we got (1) then we wouldn't need (2) of course.  but i'm not clear what path we're on for resolution, i thought we were more on path (2) (updating the rhel docker1.10 distribution to push

[2016-06-23 21:30] bparees commented on #9247
probably not, we'd either have to either:
1) create a separate repo for just the utilglog package (ugh)
or
2) make the origin code just use the utilglog package directly out of s2i (ugh-ish)

so while duplicating it also kinda sucks, for now i think we're going to stick with that.

[2016-06-23 21:47] kargakis opened #9528 "TestAuthorizationResolution flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2409/console

[2016-06-23 21:48] kargakis commented on #9528
Probably related
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/2404/consoleFull

[2016-06-23 22:02] kargakis commented on #9528
And another one: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2413/consoleFull

[2016-06-23 22:03] gabemontero opened #9530 "build extended tests "build can have Docker image source" fail consistently"
@bparees FYI fails both locally and on ci.openshift

file test/extended/builds/images_source.go, both tests there fail.

In both cases the pods fail to deploy after the build, even though the build succeeded.  But otherwise there is no useful data available otherwise, so some addition debug logic will need to be added (a different method is being used for pod validation and the previously added po

[2016-06-23 22:04] tdawson commented on #9407
Do we want to do *all* the binaries for bash autocompletion or just some?
I figured we do them all for man pages, but didn't know for automcompletion.

[2016-06-23 22:10] kargakis opened #9532 "Rework the deploymentconfig reaper"
The way the dc reaper currently works:
[code]

Now that we have pausing, we should move the deletion of the config in the end and delete rcs first.
[code]

cc: @mfojtik @bparees

@mfojtik assigning to you since you are working on the reaper already

[2016-06-23 22:14] kargakis commented on #9435
On a second thought, a user will be unable to do anything anyway. Logging those is the best we can have.

[2016-06-23 22:14] #9435 closed

[2016-06-23 22:18] gabemontero opened #9533 "build extended test "SerialLatestOnly" fails intermittently"
@bparees see this *sometimes* on ci.openshift for this test out of test/extended/builds/run_policy.go:

[code]

Last instance I see:  https://ci.openshift.redhat.com/jenkins/job/origin_extended_build_tests/lastCompletedBuild/consoleFull

I have not been able to reproduce locally.  With existing debug data on the failures in ci.openshift, I only see events for sample-serial-latest-only-build-1

[co

[2016-06-23 22:22] kargakis commented on #4329
This is fixed

[2016-06-23 22:22] #4329 closed

[2016-06-23 22:31] kargakis commented on #3051
Superseded by https://github.com/openshift/origin/issues/9468

[2016-06-23 22:31] #3051 closed

[2016-06-23 22:33] kargakis commented on #2865
We now have extended tests that cover a variety of hook scenarios. I am adding an extended test for rollback in https://github.com/openshift/origin/pull/9135, and `deploy` is already covered.

[2016-06-23 22:33] #2865 closed

[2016-06-23 22:42] kargakis commented on #4184
As part of https://github.com/openshift/origin/issues/4192 I am going to tail the last line from the deployer pod (in case of a failed deployment) and emit it as an event. As part of https://github.com/openshift/origin/issues/8416, I am going to add a similar suggestion to the one we have for failed builds (`oc logs dc/foo` or `oc logs pod/foo-deploy-N` if we do https://github.com/openshift/origin

[2016-06-23 22:42] #4184 closed

[2016-06-23 22:42] liggitt commented on #9528
Probably caused by https://github.com/openshift/origin/pull/9516 and fixed by https://github.com/openshift/origin/pull/9523

[2016-06-23 22:47] kargakis commented on #9294
How about showing both and in between let them know what they look at?
[code]

[2016-06-23 22:53] kargakis commented on #9292
Or at least they should have a much higher resynv interval

[2016-06-23 23:01] kargakis opened #9534 "Add a pvc reaper"
Scoped to deployment configs at start

Forked from https://github.com/openshift/origin/issues/9059

cc: @smarterclayton @mfojtik @ironcladlou

[2016-06-23 23:06] kargakis commented on #4330
Is this still an issue? I've got an idea about adoption but that's a separate issue.

[2016-06-23 23:16] kargakis commented on #7522
@smarterclayton ProgressDeadlineSeconds will be configurable for upstream Deployments, meaning that nil will always retry to deploy. We could do the same for deployment configs but with the current default being the default?

[2016-06-23 23:33] danmcp commented on #9526
@bparees Okay I get the distinction now.  Assigning to jwhonce as this is a tracker for: https://github.com/projectatomic/docker/pull/169

[2016-06-23 23:38] smarterclayton commented on #9247
SGTM, least bad of all options.

On Thu, Jun 23, 2016 at 5:30 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-23 23:39] smarterclayton commented on #7522
Sure

[2016-06-23 23:43] smarterclayton commented on #9534
I struggle with why I want this.  Pvcs don't own deployment configs or vice
versa.  How often does a user actually want this behavior (total, as well
as on deletes)?

On Jun 23, 2016, at 7:01 PM, Michail Kargakis <notifications@github.com>
wrote:

Scoped to deployment configs at start

Forked from #9059 <https://github.com/openshift/origin/issues/9059>

cc: @smarterclayton <https://github.com/smar

[2016-06-23 23:44] smarterclayton commented on #9534
Note that my general opinion is that no one should be allowed to
deleted PVCs without filling out forms in triplicate and solving
Fermat's Last Theorem.

[2016-06-23 23:45] smarterclayton commented on #9292
Yeah, we've fixed all the known "lost update" problems now?

[2016-06-23 23:46] smarterclayton commented on #4184
This is what termination logs are designed for, we shouldn't have to
read the logs.  Can we fix termination logs to be useful?

[2016-06-23 23:49] liggitt commented on #9534
Agree. That's like saying your documents folder should be deleted automatically when you uninstall OpenOffice

[2016-06-23 23:51] liggitt commented on #9534
The title of this may be misleading… is this to remove PVC references from DCs when a PVC is deleted?

[2016-06-23 23:55] smarterclayton commented on #9534
What if the reason I deleted my PVC was to get a new one?

On Jun 23, 2016, at 7:51 PM, Jordan Liggitt <notifications@github.com>
wrote:

The title of this may be misleading… is this to remove PVC references from
DCs when a PVC is deleted?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/9534#issuecomm

[2016-06-23 23:56] smarterclayton commented on #9534
(And thus want my references)?

[2016-06-24 00:00] liggitt commented on #9534
Yeah, and I'm not even sure what the reference reaper would do. Remove the volume (It would have to remove any volume mounts as well. At which point your DC redeploys and those paths are no longer persisted or shared between containers) or change the volume to empty dir (at which point the DC redeploys and maaaaybe keeps working with ongoing ephemeral data loss)

[2016-06-24 01:09] inlandsee commented on #9241
For anyone who might stumble across my comments in this thread, I skirted my s2i build failures by moving to origin 1.3.  The same templates that failed with origin 1.1.6 build and run properly under 1.3 alpha.

fedora 24
origin 1.3.0-alpha
docker 1.10.3

Apologies to @frankvolkel for tagging along on an issue I now believe was unrelated to his original post.

[2016-06-24 02:21] csrwng commented on #9247
why not pass in a logger in the s2i config? If no logger is passed then s2i can use a default one that's just a glog passthrough? We also need s2i to display the same image pull progress that we have in origin. I don't think the solution is to copy the image progress class to s2i as well. I'd rather pass a writer in the config to use for the pull call.

[2016-06-24 03:18] bparees commented on #9247
not sure what problem you're trying to solve.  we want passthrough behavior in both openshift and s2i.  s2i has to be able to run w/o openshift present, so passing something from openshift to s2i doesn't help.  Same for the pull progress implementation.

[2016-06-24 03:55] bparees commented on #9533
fyi that jenkins link is not a link to a specific build, it's a link to the last completed build.

[2016-06-24 03:56] bparees commented on #9533
looks like this is the build in question: https://ci.openshift.redhat.com/jenkins/job/origin_extended_build_tests/311/consoleFull

[2016-06-24 04:08] csrwng commented on #9247
- Add a field of a new interface, type Logger to s2i.Config (https://github.com/openshift/source-to-image/blob/master/pkg/api/types.go#L44).
- In s2i's Strategy method (https://github.com/openshift/source-to-image/blob/master/pkg/build/strategies/strategies.go#L19), check for a nil Logger (case when s2i is run standalone), and provide a default implementation that knows nothing about origin's glog

[2016-06-24 04:12] csrwng commented on #9247
Why do we want the logging behavior to be the same in s2i standalone as when it's called from origin? It's a different use case.

[2016-06-24 04:17] csrwng commented on #9247
For example, image progress for standalone s2i can be the default docker progress because most likely it's going to be output to a terminal, and it's not necessarily a bad experience.

[2016-06-24 04:32] bparees commented on #9247
we can discuss that for a followup.  right now this p1 has been open for a week and it's easily solved by updating the existing s2i code to use the existing s2i log wrapper implementation with the correct log levels, so i'd like to get that landed before we start re-architecting things.  @smarterclayton is talking about ripping glog out entirely anyway, so this isn't the right place to try to inve

[2016-06-24 04:34] bparees commented on #9525
@gabemontero ptal, the test in question passed, the remaining failure is the one to be addressed by @jupierce's logging changes.

[2016-06-24 06:38] #9528 closed

[2016-06-24 07:42] mfojtik commented on #9361
@pweil- can you guide me what exactly need to be done here? The original kube issue mention "At a minimum we'll need to do a policy check to ensure the groups are allowed (build already does something similar for UID access)."

[2016-06-24 07:46] mfojtik commented on #9361
@pweil- builds have `AllowedUIDs` (https://github.com/openshift/origin/blob/master/pkg/build/api/types.go#L33)

[2016-06-24 07:49] mfojtik commented on #9361
@pmorie do we need to pick https://github.com/kubernetes/kubernetes/pull/27639 ?

[2016-06-24 07:53] mfojtik commented on #9323
@liggitt can you think of a person who can determine the multi-tenant implication of this? I think this admission plugin is enabled right now.

[2016-06-24 07:58] mfojtik commented on #5776
@bparees do you have anyone to pick this up? I might get to this next week (maybe).

[2016-06-24 08:05] mfojtik commented on #8039
@kargakis @soltysh closing (rebase should fix this). Reopen if this happens again.

[2016-06-24 08:05] #8039 closed

[2016-06-24 08:07] mfojtik commented on #8289
@jimmidyson is this fixed now? I think the best we can do every time this happens is to keep the fork in sync.

@stevekuznetsov @deads2k is there something we can do to automate the sync (iow. every pick merged to origin will be automatically added to the fork, etc..)

[2016-06-24 08:10] mfojtik commented on #8596
@smarterclayton I thought the manifest unknown is the issue with image pushed using 1.10. Is this fixed? Or still flaking regularly?

[2016-06-24 08:12] mfojtik commented on #9337
This require internal client sets.

[2016-06-24 08:13] mfojtik commented on #9356
@deads2k this was merged, closing.

[2016-06-24 08:13] #9356 closed

[2016-06-24 08:14] mfojtik commented on #9410
@juanvallejo still seeing this failing? or you are ok with closing this?

[2016-06-24 08:14] mfojtik commented on #9532
@kargakis we have pausing?

[2016-06-24 08:24] kargakis commented on #9532
@mfojtik ever since https://github.com/openshift/origin/pull/9086

[2016-06-24 08:29] jimmidyson commented on #8289
@mfojtik AFAIK this is not fixed. PRs still need to be sent to openshift/origin vendored deps & upstream (if applicable) & then reconciled on rebase.

[2016-06-24 08:36] miminar commented on #9491
Personally, I hope the #8938 will be merged today. So very possibly the next alpha/beta release will have it.

Thanks for verifying and letting us know!

[2016-06-24 08:40] charliemaiors opened #9538 "Docker-compose with sti build"
Hi,

this is a generic question, not really an issue. I would know if is possible to define a docker-compose build with one image which came from a build process with s2i build procedure. Thanks in advance.

Best Regards

[2016-06-24 08:41] miminar commented on #8596
@mfojtik I believe we can close this now since our images are build with docker 1.9 / or with 1.10 pushing just schema v1.

[2016-06-24 08:47] kargakis commented on #9534
`oc delete pvc/foo --cascade=false`

Anyway, this is keeping track of the cli work for https://bugzilla.redhat.com/show_bug.cgi?id=1337696. I don't really carea bout it, just wanted to discuss it further.

We could pause the DC so no new deployment would run.

[2016-06-24 08:57] kargakis commented on #4184
What are termination logs? How can I get them from where?

[2016-06-24 09:00] kargakis commented on #9292
Are these "lost updates" on the replication controller? If we move to a single point of updates (deployment controller) instead of two (deployment controller, deployer pod controller) we can retry updates.

[2016-06-24 09:02] kargakis commented on #9532
@mfojtik for a reference have a look at the upstream reaper for Deployments: https://github.com/kubernetes/kubernetes/blob/c0c2e9d9fd928b7deaaf09ea40b1a9a4e3488845/pkg/kubectl/stop.go#L362

[2016-06-24 09:33] sttts commented on #5762
https://github.com/kubernetes/kubernetes/issues/16976 is closed. I guess this one can be closed as well?

[2016-06-24 09:54] kargakis commented on #9444
Once again: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2548/consoleFull

[2016-06-24 10:29] stevekuznetsov commented on #8289
Best choice we have is to add the Kube code as a git submodule

[2016-06-24 10:37] miminar opened #9540 "Push regression with new registry"
With the new registry 2.4 (about to land with #8938) and docker 1.10+ a feature called cross-repo mount is utilized during image push. It works like this:

- docker keeps a database of source references for each blob
  - it is updated whenever a blob is downloaded from a any registry/repository or successfully pushed to a new one
- when pushing a blob *B* to a repository *R*/*foo* while a mapping

[2016-06-24 10:38] miminar commented on #9540
/cc @legionus
/cc @mfojtik - it seems like a P1 to me

[2016-06-24 10:40] mfojtik commented on #9540
yes, definitely p1

[2016-06-24 11:08] ncdc commented on #9444
This is what I suspected - pulling the image is just taking too long.

[code]

[code]

Upstream has taken to pre-pulling all the images used in tests to avoid situations like this.

[2016-06-24 11:22] ncdc commented on #9444
See https://github.com/kubernetes/kubernetes/blob/ee7ca66dbad52b453bede0da5d1f8b10f972c360/cluster/saltbase/salt/e2e-image-puller/e2e-image-puller.manifest

Looks like that is installed via salt. We could modify our test scripts to do something similar.

Also see e.g. https://github.com/kubernetes/kubernetes/blob/dd4dae4a57129c40d4496ca6ad37ee3a4fa045fa/test/e2e/e2e.go#L128

[2016-06-24 11:29] ncdc commented on #9444
@derekwaynecarr do you think we should just try to run the upstream image puller manifest in origin's e2e test?

[2016-06-24 11:53] deads2k commented on #9368
How easy/hard is it to get the comparison mem chart for 1.2?  Do you have a script?

Given that its the `GetEffectivePolicyRules` call, I'd suspect this copy: https://github.com/openshift/origin/blob/master/pkg/authorization/rulevalidation/find_rules.go#L130-L145, but its been around forever.  I can refactor it to `[][]PolicyRule` and avoid copying all the rules every request.

[2016-06-24 12:25] miminar commented on #9085
@mvlach Sorry for the delay.

You should be able to access the registry at `http://172.30.69.98:5000/healthz` or `http://172.30.69.98:5000/v2/`

[2016-06-24 12:42] tnozicka opened #9543 "[Documentation] - Add webhooks examples using curl"
Would be great if there were some simple curl examples for triggering the build through hooks for each type: https://docs.openshift.org/latest/dev_guide/builds.html#webhook-triggers

CC: @mfojtik

[2016-06-24 13:00] pweil- commented on #9361
@mfojtik - it looks like the PR to remove the mutation may be enough for now.  I think we should circle back with @pmorie on this when he returns

[2016-06-24 13:30] bparees commented on #9538
sure, images that come from s2i are just like any other docker image, so you can use them in the same way you'd use any other image.

[2016-06-24 13:30] #9538 closed

[2016-06-24 13:31] liggitt commented on #9534
defaulting to removing data is what concerns me, especially when there's not a clear ownership relationship either direction between pvcs and dcs
[code]

[2016-06-24 13:39] liggitt commented on #9323
on our side, @smarterclayton, @abhgupta, and @derekwaynecarr have poked at bits of the scheduler, but I don't know if anyone knows this new anti-affinity TopologyKey implications in depth

[2016-06-24 13:40] mvlach commented on #9085
Hi, the progress is that I correcly install the docker registry. The main problem was the insecure registry. Now I have problem with running builded image:
[code]
the log in the deployment is

[code]

[2016-06-24 13:44] bparees opened #9544 "flake in authorization_test.go"
--- FAIL: TestAuthorizationResolution (3.35s)
	authorization_test.go:244: unexpected error: role "with-group" not found

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2429/console

[2016-06-24 13:47] liggitt commented on #9544
fixed by https://github.com/openshift/origin/pull/9523

[2016-06-24 13:47] #9544 closed

[2016-06-24 14:01] bparees commented on #5776
not really (that is, this isn't any more important than any of our other vast amount of tech debt), but i can add it to our tech debt backlog, no reason for you to own it.

[2016-06-24 14:06] miminar commented on #9085
I see. In that case you'd rather talk to a producer of the base image or the application or consult their documentation. @marekjelen could know.

Anyway, this is no longer an OpenShift issue. I'm closing this now.

[2016-06-24 14:06] #9085 closed

[2016-06-24 14:09] smarterclayton commented on #9534
Yeah, pvcs don't "own" DCs or vice versa unless a user explicitly tells us.

[2016-06-24 14:20] smarterclayton commented on #9368
I think the command has worked since 1.0.

On Jun 24, 2016, at 7:54 AM, David Eads <notifications@github.com> wrote:

which I think is the same, is the bulk of them. It looks like we make ~1-3
per mutation call.

How easy/hard is it to get the comparison mem chart for 1.2? Do you have a
script?

Given that its the GetEffectivePolicyRules call, I'd suspect this copy:
https://github.com/openshift/or

[2016-06-24 14:27] smarterclayton commented on #9292
Effectively yes.  Is that slated for 1.3?

[2016-06-24 14:28] kargakis commented on #9292
Nah, more like 1.4.

[2016-06-24 14:30] kargakis commented on #9534
How can they explicitly tell us this?

[2016-06-24 14:33] smarterclayton commented on #9534
The new "ownership" field that server side cascading deletion will use.

On Jun 24, 2016, at 10:30 AM, Michail Kargakis <notifications@github.com>
wrote:

Yeah, pvcs don't "own" DCs or vice versa unless a user explicitly tells us.

How can they explicitly tell us this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshif

[2016-06-24 14:43] lpabon opened #9546 "Godeps kubernetes hash does not match any commit"
Question:
Why do the Godeps kubernetes hashes never match any commit hash from Kubernetes?  Where do they come from?

[2016-06-24 14:58] kargakis commented on #8078
This is back, @smarterclayton what race were you talking about?
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_integration/2442/console

[2016-06-24 15:13] liggitt commented on #9546
they come from the https://github.com/openshift/kubernetes repo, which includes the base kubernetes repo and various carries we have for maintaining compatibility with previous releases

[2016-06-24 15:13] #9546 closed

[2016-06-24 15:16] gabemontero commented on #6835
Update:  This test has started to pass intermittently on ci.openshift, and passes locally for me now as well.

[2016-06-24 15:18] bparees opened #9548 "devmapper driver flake"
[code]

as seen in:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2563/consoleFull

Not sure what component label to use for this, @danmcp.

[2016-06-24 15:32] gravis commented on #9168
Since we have updated our atomic host to latest 3 days ago:

[code]

We don't see this problem any more, the nodes seem to be stable now.
I suggest to wait a few more days before claiming victory, and closing this.

Thanks

[2016-06-24 15:33] spadgett commented on #8524
This has been implemented.

[2016-06-24 15:33] #8524 closed

[2016-06-24 15:34] spadgett commented on #8048
@rhamilto and @benjaminapetersen have already started looking at this.

[2016-06-24 15:38] bparees opened #9549 "k8s framework test flake "should create services for rc""
[code]

seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2568/consoleFull

[2016-06-24 15:40] benjaminapetersen commented on #5412
@MDeMariaRH this is a good one to hit.  I'll create a new issue in origin-web-console & reference this.

[2016-06-24 15:43] miminar opened #9550 "Docker registry should handle a case of upload without a tag"
The new registry 2.4 is [structured in a way](https://github.com/docker/distribution/blob/release/2.4/registry/storage/manifeststore.go#L113) that allows for a separated push of a manifest without a tag and a later assignment of tag. Right now tag is passed as an option to a `manifestStore.Put()` which we handle. In the future, it's possible that tag won't be even passed and that docker client wil

[2016-06-24 15:44] spadgett commented on #5412
We should look at using the empty state styles we use elsewhere for this. One example:

https://github.com/openshift/origin-web-console/blob/a08db604494995962b9cc717c2d2d0703c43b865/app/views/browse/build-config.html#L78-L95

[2016-06-24 15:44] kargakis opened #9551 "Build controllers should use a shared cache for builds/buildconfigs/imagestreams/pods"
Similiar to the work done in https://github.com/openshift/origin/pull/9485 for deployments

cc: @bparees @deads2k @smarterclayton

[2016-06-24 15:45] spadgett commented on #5412
See also https://www.patternfly.org/pattern-library/communication/empty-state/#_

(Although the styles we use predate the pattern, so they might be slightly different.)

[2016-06-24 16:22] lpabon commented on #9546
Awesome! Thanks!

[2016-06-24 16:26] derekwaynecarr commented on #9444
:+1: on pre-pulling e2e images

[2016-06-24 16:26] benjaminapetersen commented on #8048
Have a [branch here](https://github.com/rhamilto/origin-web-console/tree/angular-key-value-editor) soon to be a PR.

[2016-06-24 16:40] spadgett commented on #5412
Closing in favor of https://github.com/openshift/origin-web-console/issues/109

[2016-06-24 16:40] #5412 closed

[2016-06-24 16:57] bparees commented on #9192
recurred here:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_conformance/2573/consoleFull

[2016-06-24 17:28] smarterclayton commented on #9192
This is because the pod runs to completion before the e2e test looks at it,
which is a bug in the test logic.  It should tolerate the pod having run to
completion when it starts to watch.  Probably occurs anywhere else we do
the watch based tracking.

On Fri, Jun 24, 2016 at 12:57 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-24 17:53] rajatchopra commented on #6755
There are no plans for a special support for ssh in the openshift router. There are plans to support tcp routing soon which should cover ssh too. See this work: #9454
The only alternative until then is to have ssh tunnel through https. The client needs to provide SNI though (e.g. use ssh with stunnel).

Please do not hesitate to re-open the issue if anything is unresolved.

[2016-06-24 17:53] #6755 closed

[2016-06-24 17:58] ncdc commented on #9444
Ok, we can't reuse the upstream e2e-image-puller pod as is, at least not on Fedora 24, because our /usr/bin/docker is dynamically linked, and trying to run it bind-mounted into a busybox container results in unresolved shared libraries. I modified the manifest to use fedora:24 and everything is pulling as it should be. We just need to decide how we want to approach this. I assume we don't have the

[2016-06-24 18:00] ncdc commented on #9444
It also looks like it's over 5GB of image data

[2016-06-24 18:02] #9525 closed

[2016-06-24 18:15] juanvallejo commented on #9410
@mfojtik I have not seen this issue pop up lately, it should be okay to close, thanks!

[2016-06-24 19:28] knobunc commented on #9241
@frankvolkel it sounds like it is resolving to the wrong IP address if changing the search path fixed it.  Is that correct?  If so, can you find out what IP it resolves to when it fails, and what it resolves to when it works, and get me both resolv.confs?

[2016-06-24 19:42] #9410 closed

[2016-06-24 19:45] jupierce commented on #9235
@csrwng PR for secrets failure submitted & merged: #9412

[2016-06-24 19:53] bparees opened #9557 "oadm router test flake"
[code]

as seen in:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_check/2465/console

[2016-06-24 20:01] knobunc commented on #9557
@weliang1 Please take a look

[2016-06-24 20:43] timothysc commented on #8894
xref: https://github.com/kubernetes/kubernetes/issues/27000

[2016-06-24 21:42] gabemontero commented on #6357
Things appear to have evolved a bit since this was opened.

When a dc consumes the image produced by a bc, the bc's output image is denoted via [this](https://github.com/openshift/origin/blob/master/pkg/cmd/cli/describe/projectstatus.go#L690)

When a standalone bc situation exists, the bc's output image is denoted via [this](https://github.com/openshift/origin/blob/master/pkg/cmd/cli/describe/proj

[2016-06-24 21:43] bparees commented on #8877
@spadgett this card is complete https://trello.com/c/GkBJsZxf/935-8-programmatically-associate-pipeline-build-to-deployment so i think we've given you want you need, can this be closed?

[2016-06-24 21:52] gabemontero commented on #6357
sorry ... forgot to mention that the output image wasn't always set in the image pipeline;  fixing that

[2016-06-24 23:50] PI-Victor commented on #9519
partly a dupe of https://github.com/openshift/origin/issues/8312

[2016-06-25 00:43] kargakis commented on #9549
Dupe of https://github.com/openshift/origin/issues/9444

[2016-06-25 00:43] #9549 closed

[2016-06-25 05:23] #9533 closed

[2016-06-25 06:43] #9530 closed

[2016-06-25 10:26] kargakis opened #9560 "Extended test for DC with ImageChange trigger only"
We need one since https://github.com/openshift/origin/pull/9535

[2016-06-25 10:43] #8699 closed

[2016-06-25 13:13] #9524 closed

[2016-06-25 15:31] kargakis opened #9562 "Add Patch in our clients"
Currently added upstream in various pulls, this issue is for the work that needs to be done for our namespacers.

@deads2k @smarterclayton @mfojtik

[2016-06-25 15:32] kargakis commented on #9562
https://github.com/kubernetes/kubernetes/pull/27600 adds to clientset

[2016-06-25 20:44] donnydavis opened #9563 "Origin Pod never pulls from dockerhub"
level=error msg="Handler for GET /images/openshift/origin-pod:v1.2.0/json returned error: No such image: openshift/origin-pod:v1.2.0"

docker pull openshift/origin-pod results in
Trying to pull repository docker.io/openshift/origin-pod ...
and nothing ever happens.
Fired up a new centos 7 vm on the same network and pulled this image with no issue to confirm there is no upstream firewall problem.
#

[2016-06-25 21:18] spinolacastro commented on #7983
@rootfs Does https://github.com/kubernetes/kubernetes/pull/26351 solve this issue ?

[2016-06-26 00:21] bparees opened #9565 "don't split string args on commas by default"
pflag automatically splits any StringSlice arguments on commas:
https://github.com/spf13/pflag/blob/master/string_slice.go#L52

This means arguments like -v and -p that take env variables and parameter values, can't contain commas in the value.  Instead of using this default behavior, so we need our own String arg implementation in our cli tools.

@smarterclayton

assigning to @fabianofranz for no

[2016-06-26 04:31] bparees commented on #6835
(sorry to steal this from you, @php-coder, was just in a test-flake fixing mood tonight)

[2016-06-26 08:46] kaspro opened #9569 "Adding certificates fails on creating new advanced origin installation (Centos7 or Fedora24)"
Advanced installation (1 master 2 nodes) fails on "TASK [Unarchive the tarball on the node]" after "TASK [Ensure certificate directory exists]"
##### Steps To Reproduce
1. Use the example config from the advanced installation, uncomment the htaccess config
2. Run the ansible on Centos7 or Fedora24
##### Current Result

fatal: [node-i01.oc.example.loc]: FAILED! => {"changed": false, "failed": true,

[2016-06-26 17:31] smarterclayton opened #9570 "oc login api.preview.openshift.com fails, oc login https://api.preview.openshift succeeds"
Both should work - I think this is something to do with port defaulting (we should not default to port 8443) unless 443 doesn't resolve.

@fabianofranz

[2016-06-26 17:55] smarterclayton commented on #9565
This is really an upstream issue too - it affects anything naively using
stringslice and expecting it to not mangle inputs.

On Jun 25, 2016, at 8:21 PM, Ben Parees <notifications@github.com> wrote:

pflag automatically splits any StringSlice arguments:
https://github.com/spf13/pflag/blob/master/string_slice.go#L52

This means arguments like -v and -p that take env variables and parameter
values,

[2016-06-26 19:53] #8596 closed

[2016-06-26 19:53] #9122 closed

[2016-06-26 19:53] #9284 closed

[2016-06-26 19:53] #9491 closed

[2016-06-26 21:04] legionus commented on #7792
Since the #8938 is merged this issue must be solved.

[2016-06-26 21:19] smarterclayton commented on #7792
Can we create an extended test to verify this continues to work?  Or add it
to e2e?

On Jun 26, 2016, at 5:04 PM, Alexey Gladkov <notifications@github.com>
wrote:

Since the #8938 <https://github.com/openshift/origin/pull/8938> is merged
this issue must be solved.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/ori

[2016-06-26 21:23] legionus commented on #7792
@smarterclayton Yes. In fact @soltysh already did it. I will create PR on Monday.

[2016-06-26 21:25] legionus commented on #7792
https://github.com/openshift/origin/pull/8326/commits

[2016-06-26 22:34] #9301 closed

[2016-06-26 23:00] smarterclayton opened #9572 "Many commands do poorly when pods take ~30s to go to pending"
[code]

all behaved badly (user was effectively broken).  Need to evaluate timeouts and wait periods.  Taking upwards of a minute for a pod to transition to running is reasonable, and the CLI needs to do a better job of dealing with .

[2016-06-26 23:00] smarterclayton commented on #9572
@fabianofranz @kargakis

[2016-06-26 23:00] smarterclayton commented on #9572
@bparees

[2016-06-26 23:11] smarterclayton opened #9573 "Wildfly s2i build doesn't print any maven output until it completes?"
Ran an s2i build from openshift/wildfly-100-centos7@sha256:3d794405cca3676ca09f7b7798b1122fc9bf2e0c2b5bda6bf050b8e5542380b7 and didn't see any maven output until it had successfully completed.  Docker showed nothing.

If there's some buffering setting turned on we need to turn it off - terrible build experience.

[2016-06-26 23:18] smarterclayton opened #9574 "Projects with display names are misaligned on `oc projects`"
[code]

[2016-06-26 23:18] smarterclayton commented on #9574
https://github.com/openshift/origin/pull/9439

[2016-06-26 23:19] smarterclayton commented on #9574
@juanvallejo possibly introduced by the asterisk change.

[2016-06-26 23:20] smarterclayton commented on #9574
We might as well change up the ordering too, because mixing the short name and display name doesn't look great.  Should be:

[code]

or similar.

[2016-06-27 00:26] bparees commented on #9573
that's not the behavior i observe....  i just ran a wildfly s2i build using the wildfly-100-centos7 image and it streamed the maven output to oc logs in realtime.

you want to give me an exact recreate?  (I tested on relatively current master).

we are passing -B (batch mode) to maven, but i think that just strips out the coloring, it shouldn't buffer anything.

[2016-06-27 00:28] bparees commented on #9573
in fact i recall we explicitly added flush calls to s2i to deal w/ this.

[2016-06-27 00:43] smarterclayton commented on #9573
Tried locally with latest master of everything (including sit-builder), on
a Docker 1.9.1 system.

On Sun, Jun 26, 2016 at 8:28 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-27 00:50] bparees commented on #9573
how was the buildconfig created and how are you viewing the logs?

[2016-06-27 00:50] bparees commented on #9573
(and what source repo are you using)

[2016-06-27 02:00] bparees commented on #9573
i rebuilt master (including all images) on a docker1.10 system and it worked as i'd expect.  I doubt docker1.9 is the difference (especially since i don't recall a time when this didn't work).

[2016-06-27 02:04] nak3 commented on #8415
It is not same issue with https://github.com/openshift/origin/issues/8010 ?
Could you please check registry log by `oc logs <REGISTERY_POD>` and you cannot see  `tcp: lookup <MASTER_HOST>: no such host`?

[2016-06-27 02:08] smarterclayton opened #9575 "Cancelling a deployment hung for 2 minutes and then did nothing"
Ran oc cluster up, then almost immediately switched to the default project and ran:

[code]

The pod was killed but no new pod launched until the next sync window.  So looks like we still have some races.

[code]

@kargakis

[2016-06-27 02:28] smarterclayton opened #9576 "Deployment Config describer doesn't show mount path for volume"
[code]

Shows

[code]

which is missing the mount path.