[2018-05-23 19:50] jwforres commented on #19782
@openshift/sig-networking

[2018-05-23 19:52] jwforres commented on #19784
@openshift/sig-networking

[2018-05-23 19:52] jwforres commented on #19780
@openshift/sig-networking

[2018-05-23 19:53] jwforres commented on #19762
@openshift/sig-developer-experience

[2018-05-23 19:55] jwforres commented on #19761
have you considered using a jenkins pipeline to control your rollout of new deployments?

@openshift/sig-developer-experience

[2018-05-23 19:55] pgier commented on #18566
/close

[2018-05-23 19:55] #18566 closed

[2018-05-23 19:57] jwforres commented on #19761
could also consider using operators https://github.com/operator-framework/operator-sdk

[2018-05-23 20:04] sudhaker commented on #7177
Enjoy!

=== setup (public network) ===
cat > /etc/systemd/system/openshift.service << 'EOF'
[Unit]
Description=Openshift Demo Cluster
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="MY_OPENSHIFT=/opt/openshift"
ExecStart=/opt/openshift/bin/oc cluster up \
--public-hostname=${HOSTNAME} \
--host-data-dir=${MY_OPENSHIFT}/data \
--host-config-dir=$

[2018-05-23 20:08] bparees commented on #19762
@legionus @dmage is there any issue w/ importing from repository paths that have multiple slashes?  (the import path in this case is `registry.myrepo.co.uk/infrastructure/myapp-container/myapp`)

everything else about the config looks right to me...

[2018-05-23 20:18] Lee303 commented on #19762
I have managed to solve this - I failed to notice that the gitlab registry uses a different url for authentication (gitlab.myrepo.co.uk). I have seen other issues regarding this for hosted gitlab.com registry, but this also appears to apply for on-prem gitlab.

After adding a second deploy secret into openshift for the second domain, I've been able to add the image stream successfully.

[2018-05-23 20:18] #19762 closed

[2018-05-23 20:20] bparees commented on #19762
ah, yeah that would do it.

[2018-05-23 20:42] danwinship commented on #19780
Right. The egress router uses a custom annotation to get openshift-sdn to create a macvlan for it.

In the future, when the whole "multi-network" thing is worked out, we can redo it so that it uses two CNI plugins, one for the ordinary network connection, and one for the macvlan, and in that case you'd be able to use an alternative plugin for the "ordinary" connection. But for now, egress-router i

[2018-05-23 20:42] #19780 closed

[2018-05-24 02:48] #19659 closed

[2018-05-24 04:05] liggitt commented on #19045
fixed in the release-3.7 branch in #19437

[2018-05-24 04:05] #19045 closed

[2018-05-24 05:46] jorgemoralespou commented on #18645
/lifecycle frozen

[2018-05-24 08:28] nirtal opened #19830 "Pods not evicted when node is out of memory"
When a node runs out of memory and the containers get OOM killed, the pods is not evicted so the containers will start up on the same node creating an infinite loop of OOM kills.

When looking into eviction limit I noticed that the openshift node seem to see available memory different from what is actually available, compared to /proc/meminfo or free.
Since how much this differs is unique from eac

[2018-05-24 08:50] Ananasr commented on #17504
+1

[2018-05-24 09:29] debianmaster commented on #18784
is there any workaround till upstream k8s is merged ?

[2018-05-24 10:34] DanyC97 commented on #17464
@dcbw let me know if i should resend the email, will be great if you have few min spare to look into it so we know if / when will get fixed. I don't want to move to 3.9 the entire prod envs and find out that we have same issue like @kincl mentioned, that will be a disaster for me anyway

[2018-05-24 11:53] dongascan opened #19832 "Openshift unable to find internal image stream to Import images it search for imagestreams.image.openshift.io DNS name externally"
I m working with groovy based openshift deployment pipeline , ones i try to import openshift/base-centos7 image openshift it can't find the image to import . it search for   imagestreams.image.openshift.io externally . This is not a DNS so it given 502 Bad Gateway error . I have pushed the image manually to default openshift project and my pipline project ( devlop) image streams as well . Im worki

[2018-05-24 11:55] benwaine commented on #18860
Apologies for the late response.

Thanks for supplying a resolution!

[2018-05-24 12:04] mar1ged commented on #16521
Technically this can be correct, but the company I work for wants to use Redhats Openshift with as few additional components as possible. Therefore my suggestion.

[2018-05-24 12:38] sanjusoftware commented on #19528
I am not able make the downgraded version of docker-for-mac to start.. it just gets hung in the starting mode. I am on:
![image](https://user-images.githubusercontent.com/232573/40485842-3df10e38-5f7d-11e8-9f9d-3c7486b19145.png)

and I am trying install version 17.09.0-ce-mac35 build 19611 https://download.docker.com/mac/stable/19611/Docker.dmg

any help will me much appreciated!

[2018-05-24 12:45] jeremyeder opened #19833 "Update docs to reflect change to pods-per-core default (no more out of the box limit)"
@ahardin-rh this change https://github.com/openshift/origin/pull/19190/files#diff-34104ca6d09d05f3cfea899724059869L73

needs to be reflected in https://docs.openshift.org/latest/scaling_performance/cluster_limits.html

@openshift/svt fyi

[2018-05-24 12:50] csrwng commented on #19528
@sanjusoftware try resetting docker to factory defaults. See https://docs.docker.com/docker-for-mac/#reset

[2018-05-24 13:01] sanjusoftware commented on #19528
@csrwng problem is that I am not able to get to that menu at all because as soon as I start docker app, it just doesn't come up

![image](https://user-images.githubusercontent.com/232573/40487017-7fc54326-5f80-11e8-9907-2a7d6b72cf33.png)

I also tried : https://github.com/docker/for-mac/issues/2117#issuecomment-334778824 but to no avail.

[2018-05-24 14:06] DanyC97 commented on #19833
this is quite important change, so i agree needs to get documented

[2018-05-24 15:05] jwforres commented on #19830
@openshift/sig-pod

[2018-05-24 15:05] jwforres commented on #19832
@openshift/sig-developer-experience

[2018-05-24 15:07] jwforres commented on #19761
Closing since we've offered a few recommendations here

[2018-05-24 15:07] #19761 closed

[2018-05-24 15:09] bparees commented on #19832
@dongascan can you share the pipeline you're running and in particular the command you're executing that is failing?

[2018-05-24 15:41] jppoulain opened #19836 "Build stuck in status New in openshift v1.4.1"
When running a build, the status stays in "New" status. No log is displayed.

##### Version
oc v1.4.1+3f9807a
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://paas.pleiade.fr:8443
openshift v1.4.1
kubernetes v1.4.0+776c994

##### Steps To Reproduce
1. Select the project to build
2. Click "Build"

##### Current Result
Nothing happens

##### Expected Result
Proje

[2018-05-24 16:19] yychy commented on #19597
can someone help to answer this question or suggestion

[2018-05-24 16:41] billyfoss commented on #19633
Following up...
I reran the job and did not see the error again.

[2018-05-24 18:57] jwforres commented on #19836
@openshift/sig-developer-experience

[2018-05-24 19:03] bparees commented on #19836
claims to be "running for 2s" so i suspect the status is just being updated incorrectly.  we had issues around this before and they've been fixed in more recent origin versions.

can you look at the build pod: `cervintest-28-build`  ?  is it complete?  can you look at its logs?

[2018-05-24 19:18] robenj commented on #19836
I work with jppoulain, the build is always with duration 1 or 2s, even if created many hours before. It state is always new, there is no event, no pod created, no node assignment, no logs in the web console and with command line we have timeout waiting for log. This issue appear 6 days ago and it's for all builds and all projects, we run this version of openshit since one year and it's the first t

[2018-05-24 19:32] bparees commented on #19836
i'd strongly recommend you upgrade as even if there is a bug here, we aren't going to backport a fix to origin 1.4.1 at this point.

That said, the next thing to investigate would be your controller logs, you'll need to up the loglevel to 5 and reproduce the issue so we can see what the build controller is doing w/ respect to the build.

[2018-05-24 19:37] mrogers950 commented on #15813
@enj can you add some details on these items?

[2018-05-24 19:45] robenj commented on #19836
I don't find how to up the controller log level in the documentation, can you tell me how I can do this

[2018-05-24 19:48] bparees commented on #19836
pass --loglevel=5 to the master process on startup.

[2018-05-24 20:17] robenj commented on #19836
Thanks a lot for your help, controllers restart solve the problem, I don't now what was the problem because we looked controllers log yesterday (with default log level) and we didn't found anything. We will consider upgrade the cluster, You can close this issue.

[2018-05-24 20:26] bparees commented on #19836
glad it's working again, sorry we won't be able to determine why the controllers stopped running.

/close

[2018-05-24 20:26] #19836 closed

[2018-05-24 21:20] bparees commented on #19769
@smarterclayton any feedback on this?

@legionus i did have a hallway conversation in which he suggested the s3 aspects of `oc image mirror` should be marked experimental at best and probably don't need tests/doc/etc right now (of course the entire command is marked experimental today, but if we lifted that, we'd want to keep it for the s3 use cases)

[2018-05-25 00:43] Firstyear commented on #10658
/remove-lifecycle stale

[2018-05-25 00:44] Firstyear commented on #10658
/lifecycle frozen

[2018-05-25 00:45] Firstyear commented on #10658
This is still an issue.

I want to raise a strong objection to the use of your "bot" to close out issues that you don't work on. I think it's offensive to the community and your users, and the issues we face.

I raise issues because they are of concern to myself in production and others who may face them. To disregard them so blatantly is not a positive thing.

Please stop automatically closing is

[2018-05-25 00:48] bparees commented on #17325
@smarterclayton heh......

/remove-lifecycle rotten
/lifecycle frozen

@deads2k @mfojtik @smarterclayton indicated he has a bug open for this (issues w/ the service account controller getting bogged down)

[2018-05-25 01:29] #13500 closed

[2018-05-25 03:26] liggitt commented on #19767
not opposed, probably means making a branch for openshift/api and maybe openshift/client-go, and adjusting 3.9 deps

[2018-05-25 05:59] dongascan commented on #19832
@bparees

package main.groovy.lib

import groovy.transform.Field

@Field centosBaseImageMapping =
  [
    remoteTagToImport   : "openshift/base-centos7",
    localImageStreamName: "base-centos7"
  ]

def setupVertxApplicationBaseImageStreamIn(String targetNamespace)
{

  lock('imageAvalability') {

   // withEnv(["PATH+OC=${tool name: 'IAS oc client 1.4.1', type: 'oc'}"]) {
      openshift.withClu

[2018-05-25 09:32] addozhang commented on #19583
Any plan to fix this issue?

[2018-05-25 09:43] hdonati commented on #19583
As said in https://access.redhat.com/solutions/3428351 you can delete your SCC (don't forget to bakcup it) and restart your master so it will be recreated :

[code]

Of course it is not a very good solution because you have then to update the new SCC with what you provided before deleting it (your backup is useful there)

[2018-05-25 09:52] priyanka5 commented on #19804
hi , can anyone please put some comments on the issue? thanks

[2018-05-25 10:53] addozhang commented on #19583
@hdonati Thanks for your reply.

I tried by following steps below, but scc annotations of pod is still `anyuid`. BTW, the cluster is installed via ansible with `openshift-ansible-3.9.26-1`

1. clean webconsole deployment and pods
2. delete scc `restricted` and restart master
3. add scc to sa by `oc adm policy add-scc-to-user restricted -z webconsole -n openshift-web-console`
4. create webconsole d

[2018-05-25 11:53] bparees commented on #19700
@oeresundsgruppen you can put it in gist.github.com.  Just redact any sensitive information.

[2018-05-25 11:56] praveenkumar opened #19844 "Can't login to egde terminated route for registry"
##### Version
$ ./oc version
oc v3.10.0-alpha.0+2dcfb32-1299
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.111:8443
openshift v3.10.0-alpha.0+2dcfb32-1299
kubernetes v1.10.0+b81c8f8

##### Steps To Reproduce

[code]

##### Current Result
[code]
##### Expected Result
Should able to login.

##### Additional Information
These steps work perfectly on

[2018-05-25 12:34] spadgett commented on #19583
Can you check if the anyuid scc is assigned to system:authenticated? I believe that would cause this.

[code]

You might reset the SCC if the defaults are OK.

https://docs.openshift.org/latest/admin_guide/manage_scc.html#updating-the-default-security-context-constraints

cc @sdodson

[2018-05-25 13:19] michaelpaesold commented on #17986
/remove-lifecycle stale

[2018-05-25 13:20] michaelpaesold commented on #17986
Can this be fixed, or is there a work around?

[2018-05-25 14:51] cmoulliard opened #19848 "Allow to add a new component defined externally with `oc cluster add`"
The new `oc cluster add` command allows to add a component, part of [a defined list](https://goo.gl/QoyiCj). Unfortunately, the list is static and can't be extended excepted if we commit new components within the origin openshift project.

Could it be possible to extend the existing code to provide a generic component that we could use to add a new component ? This component could be designed as a

[2018-05-25 15:34] grdryn opened #19850 "oc create gives an error if an annotation name has a hyphen (when passed via --annotation)"
If I try to add an annotation to an object using the `--annotation` option when creating with `oc create`, then it will fail if the annotation name contains a hyphen. Given that `oc annotate` can create the annotation with a hyphen just fine, this would seem to be a bug.

##### Version
[code]
(I noticed this originally with a version 3.7.2 of `oc`, but I installed the newer version above before op

[2018-05-25 16:01] soltysh opened #19851 "Remove oc deploy"
`oc deploy` has been deprecated in 3.9 in favor of `oc rollout`. 3.11 is the perfect time to entirely drop this command from oc.

[2018-05-25 16:02] simo5 opened #19852 "make verify fails in master"
Running make verify on master fails with the following error (also seen in CI on various PRs):
[code]

[2018-05-25 16:04] simo5 commented on #19852
Running a git bisect to identify likely recent commit triggering this

[2018-05-25 16:16] simo5 commented on #19852
My git bisect points the finger at f15c48dbfe26f5abf37dec421c73e0527294bcd6

Introduced with PR #19802 by @mfojtik

Michal, can we back it out ?

[2018-05-25 16:16] simo5 commented on #19852
/assign @mfojtik

[2018-05-25 16:57] bparees commented on #19832
can you add --loglevel 8 to your import command and provide the resulting output?

[2018-05-25 17:29] #19852 closed

[2018-05-25 21:32] php-coder commented on #19767
Should be fixed in https://github.com/openshift/origin/pull/19806

[2018-05-25 21:32] #19767 closed

[2018-05-26 00:49] addozhang commented on #19583
@spadgett yes, it is assigned to system:authenticated.

Finally, we re-installed cluster and it's solved. But still not sure why this occurred suddenly. It seems it came after one of nodes crashed.

We will keep focus on this.

[2018-05-26 12:55] oeresundsgruppen commented on #19700
Log file now in https://gist.github.com/oeresundsgruppen/19826bbbcba02d7486c949789da8a492

[2018-05-26 13:46] bparees commented on #19700
it looks like you're running a pipeline and the pipeline is executing first `oc new-build` and then `oc logs` and it is the `oc logs` command which is timing out, not `oc new-build`, which makes much more sense.

since https://github.com/openshift/origin/pull/19695 increased the length of time to wait for the build to start from 10s to 30s, this is probably resolved for you in master.

we also hav

[2018-05-26 13:46] #19700 closed

[2018-05-26 17:11] rgordill commented on #10134
Currently, I have talked with several people that are using spring-cloud-config with configuration stored in git, and they see the lack of this feature a blocker for adopting spring-cloud-kubernetes for configuration.

I think it will be a great value for microservices in openshift if we can provide similar features, and version control in a transparent way IMHO is one of this.

[2018-05-26 18:36] #17125 closed

[2018-05-26 18:36] #16011 closed

[2018-05-26 18:36] #16782 closed

[2018-05-26 18:36] #17244 closed

[2018-05-26 18:36] #17382 closed

[2018-05-27 00:36] #5831 closed

[2018-05-27 12:35] tobru commented on #19290
Is there any chance that someone from @openshift/sig-master could have a look into this? Would be very lovely to get OpenShift running on ARM boards, just for demo purposes (conferences, Meetups, techtalks, ...)

[2018-05-28 02:05] gomesp opened #19858 "Cannot install oc inside jenkins container"
This is related to this ticket (possibly belongs here, not in the other repo): https://github.com/openshift/jenkins-client-plugin/issues/158

I am trying to use the plugin on a Jenkins instance running in a docker container (outside openshift).
I am running the ```jenkins/jenkins:2.124-alpine``` image and installing the default recommended plugins and then later adding the openshift client plugin

[2018-05-28 07:09] cmoulliard commented on #17632
Such ingress resources are created when we deploy on OpenShift, Istio servicemesh.

[2018-05-28 07:36] mliker opened #19860 "HSTS annotations for routes dont seem to work"
[provide a description of the issue]
Annotating external route with hsts header does not result in the header being set.

##### Version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://XXX.XXX.XXX:8443
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. create an external route with edge termination
2. ann

[2018-05-28 08:50] containscafeine commented on #18642
hey @simo5, so what was decided on this?

[2018-05-28 09:16] bugrep0rter opened #19861 "Openshift/origin-node docker images no longer available (except 3.10)"
All versions of origin-node are no longer available, except 3.10. I may well be wrong here, so feel free to close if it's easily answered.

https://store.docker.com/community/images/openshift/origin-node/tags

Other images have tags for 3.7/8/9 etc.

##### Version
...

##### Steps To Reproduce
Go to url... above.

##### Current Result
Attempting to pull origin-node for v3.9.

##### Expected Result

[2018-05-28 09:28] warmchang commented on #19086
@fxcoudert You can test :
https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-locally-on-your-host
`Currently, OpenShift is built with go 1.9 and uses Docker 1.13 on Fedora/CentOS/RHEL. MacOS supports builds with go 1.9 and Docker CE 17.09.1 - newer versions of go and Docker are not supported. The exact requirement for Docker is documented here.`

[2018-05-28 09:52] bugrep0rter commented on #19861
Closing because i'm an idiot... git checkout release-3.9 on openshift-ansible... clever me.

[2018-05-28 09:52] #19861 closed

[2018-05-28 12:15] LalatenduMohanty commented on #19848
@mfojtik @deads2k What do you guys think about the proposal? I think we need  this as it will allow users to have their own add-on kind of stuff in general without being dependent on "cluster up" code base change. I somehow thought it will be possible to add an add-on to `cluster up` without code changes.

[2018-05-28 12:40] odra opened #19862 "buildconfig deletion leftover issue"
Deleting all buildconfigs from a project (`oc delete bc -n myproject --all`) doesn't delete all of them leaving one "leftover" buildconfig.

The leftover buildconfig removes all existing labels and contains the following annotations:

[code]

##### Version
oc v3.7.2+282e43f
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v3.9.0+4814d4a-3
kubernetes v1.9.1+a0ce1b

[2018-05-28 13:39] enj commented on #18642
Based on Clayton's comment I will consider such a change backwards incompatible.  Thus the existing behavior will not change.

[2018-05-28 13:39] #18642 closed

[2018-05-28 13:57] containscafeine commented on #18642
I find this "closing the issue" behavior across the entire OpenShift ecosystem very weird. The OP is never communicated as to what exactly is wrong, the discussions are not really transparent and public, the communication is not clear and defaulting to closing the issue is actually very unwelcoming for a community to build.
I explained my use case, what is wrong with the use case? Is the suggested

[2018-05-28 21:34] gomesp commented on #19858
I now realise that there's another issue similar to this. https://github.com/openshift/origin/issues/18942

[2018-05-29 00:52] dmsimard commented on #17812
@fbac thanks for the PR! It's a small quality of life thing :)

[2018-05-29 06:47] calston commented on #18717
/close

[2018-05-29 06:47] #18717 closed

[2018-05-29 07:27] addozhang commented on #19583
@hdonati @spadgett got root cause.

After cluster installed, we assigned `anyuid` to `system:authenticated` group. Due to environment not stable, some node crashed results in `web-console` pod restarted. During restart, it uses `anyuid` to create pod, **not restricted**. `system:authenticated` also has `restricted`, but on idea why it uses `anyuid` in stead.

[2018-05-29 07:30] johnfriz commented on #19848
Big +1 - Going to need this for mobile unless we can make the list...

[2018-05-29 07:31] dongascan commented on #19832
@bparees  sorry i was out during the time , here what you asked

ERROR: raw command [import-image,  openshift/base-centos7, --from, base-centos7, --confirm, --loglevel 8] returned an error;
{reference={}, err=I0529 07:25:35.660174    1878 round_trippers.go:414] GET http://IAS/apis/image.openshift.io/v1/namespaces/devlop/imagestreams/base-centos7
I0529 07:25:35.664470    1878 round_trippers.go:421]

[2018-05-29 10:06] malc0lm opened #19865 "Importing image from non-https external registry"
##### Version
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://****:8443
openshift v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
##### Steps To Reproduce
1. Create a private docker registry secret with a regular domain 'example.com'.
2. Use oc import-image --insecure=true example.com/test/web-test --confirm

##### Current Result
The import

[2018-05-29 12:32] vishaldodiya commented on #16748
Hello,

How can we use kompose yaml files in `oc import`?

[2018-05-29 13:13] mfojtik commented on #19848
We would like to introduce the support for external components using the kubectl plugin mechanism (@soltysh && @juanvallejo). That way, you can provide your commands that will register under `oc cluster add` and that commands will be able to install any components. The commands can benefit from the interface the component installer provides (which provide admin kubeconfig bytes and base dirs).
I d

[2018-05-29 13:21] adambkaplan commented on #10665
@openshift/sig-master in your wheelhouse since this is related to `cluster up`

[2018-05-29 13:34] php-coder commented on #19862
Sounds like all build configs were deleted but one of them was re-created.

CC @openshift/sig-developer-experience

[2018-05-29 13:54] spadgett commented on #19583
PR to change the file permissions to avoid this problem:

https://github.com/openshift/openshift-ansible/pull/8558

[2018-05-29 14:12] cmoulliard commented on #19848
The `kubectl plugin` command will imply that post `oc binary` installation, a process to install under the `${KUBECTL_PLUGINS_PATH}`,`${XDG_DATA_DIRS}/kubectl/plugins` or `.kube/plugins` directory the content of the different plugins will be then required.

While this process could be managed by minishift/cdk (= provisioning of the plugins), guidance will be required from `openshift` team to expla

[2018-05-29 14:46] simo5 commented on #18642
@containscafeine the bug was closed because changing behavior is a backwards incompatible change and would break existing scripts. Although returning system:anonymous may be a reasonable choice, returning an error is also just fine because "anonymous" is not actually a user. Given there is no overwhelming advantage in changing behavior but there are downsides, we chose not to change behavior at th

[2018-05-29 14:49] uvwild commented on #16367
yeah, bad style to not mention the resolution.

[2018-05-29 14:57] php-coder commented on #18642
Could we introduce a command line parameter (for example, `--no-fail-for-anonymous`) that will activate a new behavior when it's specified?

[2018-05-29 14:59] juanvallejo commented on #17632
/remove-lifecycle rotten

[2018-05-29 15:08] liggitt commented on #18642
It's not just command-line behavior. The CLI is just a wrapper around the `/apis/users.openshift.io/~` API. When anonymous, that returns:

[code]

[2018-05-29 15:29] php-coder commented on #18642
@liggitt ... and I don't see why CLI can't have more logic to handle such a specific case. The simple check like `if strings.Contains(response.message, "User \"system:anonymous\" cannot get")` would be sufficient IMHO.

[2018-05-29 15:31] liggitt commented on #18642
That is precisely the sort of logic we want to avoid baking into our CLI. Strings of error messages are not an API, and that treats it like one.

[2018-05-29 15:40] php-coder commented on #18642
:-)

@containscafeine Sorry, you see, it mostly impossible to change something now :-/

[2018-05-29 16:57] kargakis commented on #17213
/remove-lifecycle stale
/lifecycle frozen

[2018-05-29 18:32] JuniorCtba opened #19871 "There is no command to close a port forward"
[provide a description of the issue]
I am exposing my mongo by the command
oc port-forward mongodb-0 27017:27017 --request-timeout=30s

First the timeout of 30s is not closing the connection.
Also there is no command to close the port forward in another thread

##### Version
oc v3.7.1+ab0f056
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

Server https://ocp-admin.got.xxx.net
openshift v3.6.173

[2018-05-29 19:46] bparees commented on #19832
@dongascan what is "IAS"?  Where is that value coming from?

[code]

that seems to be what the is being used as your openshift api server hostname and that is what is not being looked up successfully.

[2018-05-29 19:46] bparees commented on #19832
Note that you may need to set a NO_PROXY value to prevent your requests to openshift api server from going through your proxy, if they are not supposed to.

[2018-05-29 20:45] #19821 closed

[2018-05-29 21:41] muheric commented on #19084
Hello guys,

Still I am not able to fix this problem of ports, when I perform "OC CLUSTER UP" I get the error

-- Checking for available ports ... FAIL
   Error: a port needed by OpenShift is not available
   Caused By:
     Error: ports in use: [8443 10250 53 8053]

How to get rid of it?

Thanks for your help

[2018-05-29 23:40] cmcconnell1 commented on #18596
Confirming that I'm still seeing this with
`2018-04-30 18.03.1-ce-mac65`

[2018-05-30 01:31] sbht04 commented on #19597
The main root cause of our issue here is that kube-proxy that runs on every node is not updating the IP tables when a new "pod" is created. However when a new service is created,  IP tables are updated to reflect the IP address of this new service.

The kube-proxy is running in the "iptables" mode See below the settings from node-config.yaml file
proxyArguments:
  proxy-mode:
     - iptables

How

[2018-05-30 06:28] dongascan commented on #19832
@bparees i found the issue using --loglevel 8. I missed to configure open shift client in my Jenkins settings.  Im bit new to openshift . Thank you

[2018-05-30 06:28] #19832 closed

[2018-05-30 08:41] containscafeine commented on #18642
Thanks for this conversation, I understand this now.
Sorry for being a bit rough in the previous comments :)

[2018-05-30 08:45] mfojtik opened #19874 "FAIL: TestWaitsForAllInformersToBeSynced2"
Looks like k8s unit test flake: .github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/controller/endpoint

[code]

Seen here: https://deck-ci.svc.ci.openshift.org/log?job=test_pull_request_origin_unit&id=13502

(P1 initially as all unit test failures are relatively high prio)

[2018-05-30 09:30] rgordill opened #19877 "oc cluster up (v3.10) creates an static resolv.conf for kubedns, not working if it changes"
When doing a first cluster up, some files are stored in local persistent volumes (folders). One of this folders is kubedns, and one file is resolv.conf, which configures the upstream DNS for skydns.

If someone moves from a network to another network with different nameservers, this file is not renewed anyway, so any external cluster resolution is completely lost.

##### Version
oc v3.10.0-0.50.0

[2018-05-30 10:59] lulf opened #19878 "Invalid certificate created for front-proxy-ca"
The certificate generated by 'oc cluster up' in 'front-proxy-ca.crt' is not a valid x509 certificate. This prevents the certificate to be trusted by a x509-compliant implementation, such as Java keystore. This certificate is in turn used in the 'extension-apiserver-authentication' configmap in the field 'requestheader-client-ca-file'.

According to https://tools.ietf.org/html/rfc5280#section-4.1.2

[2018-05-30 11:35] slaskawi commented on #19663
@deads2k @bparees I've just hit this issue with a brand new 3.9 `oc cluster up` (see my email on SME mailing list, subject: "StatefulSets and ImageStreams").

So my question - is this working correctly and all `oc cluster up` users, from now on will have to modify their `/var/lib/origin/openshift.local.config/master/master-config.yaml`? This doesn't sound right to me.

[2018-05-30 12:08] deads2k commented on #19663
There are a couple threads going.  We stopped automatically, unconditionally, configuring a beta feature.  We're discussing whether it should be promoted.  Even so, it's a niggly thing to do because logically that changes the way config is used and how running clusters behave.

[2018-05-30 12:56] slaskawi commented on #19663
@deads2k Ok, thanks for the insight. Could you please let me know once you get into a conclusion?

[2018-05-30 13:18] mrogers950 commented on #19878
@lulf front-proxy-ca.crt is no longer created in 3.10 cluster up. It was created separately from frontproxy-ca.crt and other master certs and I don't think it was referenced in the default config.

[2018-05-30 13:27] lulf commented on #19878
@mrogers950 Would it be possible to have the fix in #19880 (or another fix) backported to 3.9? Also, is there a 3.10 nightly/snapshot that I can use to verify/test that it works?

[2018-05-30 13:29] sammarland-rh opened #19881 "Jolokia port not named when using oc new-app which results in the Jolokia link not appearing in the OCP UI."
The DC created via the UI

[code]

The DC created via the oc new-app command

[code]

##### Version
./oc version
oc v3.9.27
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

Server https://192.168.99.100:8443
openshift v3.9.0+46ff3a0-18
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
Using the OpenJDK xPaas image to create with the defaults correctly names the Jolokia port in the deploymen

[2018-05-30 13:56] gabemontero opened #19882 "need instructions or disclaimer of some sort for running `oc` as is on linux distros like alpine"
See https://github.com/openshift/jenkins-client-plugin/issues/158

Already had some preliminary discussions with @juanvallejo and @deads2k on this.

Whether its saying "certain linux libs need to be present...", or "oc is only certified on ..." or "you need to make X adjustments", I at least don't have a strong preference.

Ultimately, I want to link to whatever doc update is made (either the READ

[2018-05-30 14:42] mrogers950 commented on #19878
@lulf I checked on master (not sure about a proper nightly repo) and the extension-apiserver-authentication configmap contains the valid frontproxy-ca cert in 3.10, so a more correct fix for 3.9 would probably be to update the configmap with frontproxy-ca.crt.

[2018-05-30 15:00] mrogers950 commented on #19878
@lulf Ah, I see #19880 does just that.

[2018-05-30 15:56] mfojtik commented on #19877
/cc @openshift/networking

[2018-05-30 16:00] mfojtik commented on #19877
@rgordill you can copy the /etc/resolv.conf over to that volume which should work. The resolv.conf is created during MakeKubeDNSConfig phase which is only ran when the baseDir is empty.

Maybe we can relax this check: https://github.com/mfojtik/origin/blob/e67f48d8107781c34e4fba7b651bd1e0d4988dd0/pkg/oc/clusterup/run_self_hosted.go#L336 and write it every time you run cluster up, but it sounds ugl

[2018-05-30 16:27] harriswong commented on #8997
To set the json config above on Macs' installation, you can go to Docker's "Preference" and add it here:
![image](https://user-images.githubusercontent.com/572862/40733871-fddb2646-63f3-11e8-91be-85c5196b0586.png)

[2018-05-30 17:00] deads2k commented on #19877
Keeping that file up to date seems reasonable.  I'd do it by adding an extra copy step *after* the configs are written and before we start the kubelet.

[2018-05-30 17:15] simo5 opened #19887 "[flake] [Conformance][Area:Networking][Feature:Router] router headers The HAProxy router should set Forwarded headers appropriately"
release-3.9 gcp e2e test reliably fail on this test with a timeout:
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19856/test_pull_request_origin_extended_conformance_gce_39/179/

[2018-05-30 20:49] juanvallejo commented on #19882
Adding a note on the docs here: https://github.com/openshift/openshift-docs/pull/9681

[2018-05-30 21:34] tpolekhin commented on #19403
Thanks for the explanation!

[2018-05-30 21:34] #19403 closed

[2018-05-30 22:46] bparees commented on #19862
@gabemontero @coreydaley I assume this is the known issue w/ the sync plugin recreating the buildconfig after it gets deleted.  Not sure what version of the sync plugin that was fixed in?

[2018-05-31 03:57] #19819 closed

[2018-05-31 11:08] rgordill commented on #19877
Is there any alternative to check periodically and update it if needed? I am also concerned to have to restart the cluster any time the DNS resolver is changed.

[2018-05-31 13:27] mfojtik commented on #19844
/cc @ironcladlou @Miciah

[2018-05-31 13:37] deads2k commented on #19844
The router is a component installed using cluster add.  The components are owned by the individual component owners.

See the code here: https://github.com/openshift/origin/tree/master/pkg/oc/clusteradd/components/router

@mfojtik is it them or @openshift/sig-networking ?

[2018-05-31 14:02] gabemontero commented on #19862
most likely @bparees - assuming that being at openshift v3.9 means they are using the 3.9 version of the jenkins image ... that correlates to v1.0.7, which has the bug you mentioned.

@odra - can you either inspect the jenkins image stream you are using to confirm the version of the image, or log into a jenkins instance that is started when you create the pipeline strategy build config you noted,

[2018-05-31 14:36] stevekuznetsov opened #19894 "commitchecker: not working as expected in Jenkins"
For the same PR, in Travis, we see:

[code]

In Jenkins, we see:

[code]

I imagine this may be because we are not copying `.git` into the container volume before `hack/env` runs in that directory.

/cc @deads2k @smarterclayton
/kind bug

[2018-05-31 15:27] jwforres commented on #19881
@openshift/sig-developer-experience

[2018-05-31 15:50] sbht04 commented on #19597
@knobunc Do you have any suggestions or feedback for this issue

[2018-05-31 16:01] knobunc commented on #19597
What network plugin are you using?  My bet is that you are using the docker default, and hairpin mode is not set on the docker bridge, so when the natted service traffic comes back to the same pod, the bridge drops it.

[2018-05-31 16:23] sbht04 commented on #19597
We are using redhat/openshift-ovs-multitenant as our Network Plugin..How do we check hairpin mode on the docker bridge?

[2018-05-31 16:30] stevekuznetsov commented on #17732
/remove-lifecycle rotten
/cc @sjenning @ingvagabund

[2018-05-31 17:46] crobby commented on #19449
It looks like maybe our travis script was trying to start oc cluster up with sudo, which may have been causing our issues.  We have removed our unnecessary and probably wrong use of sudo and our tests are running nicely.  I'd be ok with closing this issue.

[2018-05-31 17:46] #19449 closed

[2018-05-31 18:29] sbht04 commented on #19597
@knobunc  We have Hairpin Mode set to None (see below the sample log output from Origin Node). Docker cri networking managed by cni. What else are we missing here?? Any other suggestions or feedback for this issue

May 31 12:58:52 node1.abc.com origin-node[51331]: I0531 12:58:52.816305   51331 server.go:838] Using root directory: /var/lib/origin/openshift.local.volumes
May 31 12:58:52 node1.abc.co

[2018-05-31 20:58] skynardo opened #19899 "Node labels are lost after Deregister/Register Node events"
After stopping/starting a Node (AWS EC2 instance) node labels:
logging-infra-fluentd=true,node-role.kubernetes.io/compute=true
Are missing after the node registers and becomes READY

##### Version
openshift v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. oc get node ip-177-77-77-100.ec2.internal --show-labels
NAME                            STATUS    ROLES     AGE

[2018-05-31 22:10] mbach04 commented on #19143
Is this going to receive a change to the source to move away from the curl check? I'm seeing this problem frequently.

[2018-06-01 02:35] smarterclayton commented on #19894
Hrm, yeah, this is the old release behavior (we sent a clean git archive
into the container).  We can probably stop doing that now.

On May 31, 2018, at 10:36 AM, Steve Kuznetsov <notifications@github.com>
wrote:

For the same PR, in Travis, we see:

13.81s$ make verify-commits
hack/verify-upstream-commits.sh
[INFO] [13:38:15+0000] No compiled `commitchecker` binary was found.
Attempting to build

[2018-06-01 07:47] #19661 closed

[2018-06-01 11:29] simonpasquier commented on #19887
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/8596/test_pull_request_openshift_ansible_extended_conformance_gce_39/339/

[2018-06-01 13:05] mixer3d commented on #15879
/remove-lifecycle stale

[2018-06-01 13:28] spadgett commented on #19143
Yeah, we've switched to checking pod readiness instead in master. We're seeing this enough I think we should backport the change to 3.9.

@sdodson sound OK?

[2018-06-01 13:39] sdodson commented on #19143
Yeah that sounds good to me.

[2018-06-01 13:51] oeresundsgruppen opened #19900 "routes with port"
I can set up routes to service. E.g. the route ABC points to service S1 with port 9011. Now I cannot use ABC:9011 from external, but only ABC. How can I allow to use port also ?

[2018-06-01 15:18] stevekuznetsov commented on #19894
Can you own this?

/assign @smarterclayton

[2018-06-01 15:58] spadgett commented on #19143
Yeah, we switched to checking ready replicas instead in master. I just opened a PR that backports the change to 3.9

https://github.com/openshift/openshift-ansible/pull/8608

@sdodson FYI

[2018-06-01 16:10] nemonik commented on #18125
I'm seeing the same thing

[code]

The project is denoted as

[code]

in the web console.

[2018-06-01 17:49] smarterclayton opened #19902 "Some unit tests fail in a pod because they use in cluster context"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19827/pull-ci-origin-unit/1002401727812472832/

has a number of failures due to being run in a pod on a kube cluster:

[code]

Blocks moving origin unit tests to ci-operator (which runs the tests in a pod on the cluster).  We can do one of two things - work around this in the unit tests by clearing the env var explicitly, or

[2018-06-01 18:40] #17956 closed

[2018-06-01 18:55] spadgett commented on #18757
It sounds like this is fixed. @jim-minter let me know if you are still seeing problems.

/close

[2018-06-01 18:55] #18757 closed

[2018-06-01 21:11] juanvallejo opened #19905 "oc apply does not work on objects created with a resourceVersion field"
Related comment: https://github.com/openshift/release/pull/901#issuecomment-393963467

When creating an object via `oc apply -f resource.yaml`, subsequent patches to that object fail if the initial object in `resource.yaml` contained a `metadata.resourceVersion` field.

Example:

[code]

If I run the steps above without setting a `metadata.resourceVersion` field when I create the dc via `oc apply`

[2018-06-01 22:06] stevekuznetsov commented on #19902
We fixed this by removing the k8s in-cluster vars last time AFAIK.... @csrwng do you remember?

[2018-06-02 00:40] #17949 closed

[2018-06-02 18:40] #17795 closed

[2018-06-02 18:40] #17796 closed

[2018-06-02 18:40] #17800 closed

[2018-06-02 18:40] #17801 closed

[2018-06-02 18:40] #17802 closed

[2018-06-02 18:40] #17797 closed

[2018-06-02 18:40] #17821 closed

[2018-06-03 00:40] #17765 closed

[2018-06-03 00:40] #17919 closed

[2018-06-03 00:40] #17879 closed

[2018-06-03 00:40] #17880 closed

[2018-06-03 00:40] #17918 closed

[2018-06-03 00:40] #17933 closed

[2018-06-03 00:40] #17930 closed

[2018-06-03 00:40] #17939 closed

[2018-06-03 01:56] bparees commented on #19881
I think in the first case @sammarland-rh created the DC via the template:

https://github.com/openshift/library/blob/f9919276cbde8e9cd7de256dd2d8b55b68424cc9/official/java/templates/openjdk18-web-basic-s2i.json#L168-L183

which is different from what happens when you create an app by pointing new-app to an image, and isn't something we can fix.

@sammarland-rh comment back if my understanding is i

[2018-06-03 01:56] #19881 closed

[2018-06-03 05:42] yychy commented on #19597
In the link, https://github.com/kubernetes/kubernetes/issues/44187, mentioned "In v1.6, kubernetes no longer configures hairpin mode. hairpin mode should now be configured by the 3rd-party CNI plugin in use.". So, in our Origin 3.6 or 3.7, CNI is openshift-sdn. does this CNI support "hairpin mode"? do you or someone have any idea how to configure openshift origin CNI plug-in's"hairpin mode"?

[2018-06-03 06:02] nak3 opened #19906 "RFE: Support command to switch oc client version"
##### Motivation

There are two motivations.

1. Some users have different clusters with different version. Although it is possible to switch server context by `oc login`, client version cannot. Since k8s/openshift supports only N±1 version, oc client sometimes incompatible.
2. During upgrade, [playbook upgrade.yml](https://github.com/openshift/openshift-ansible/blob/73079a70fc93d63abfbb31fe33104b

[2018-06-03 06:40] #17937 closed

[2018-06-03 07:03] sammarland-rh commented on #19881
Can you give me a bit more information on what happens when using the new-app command line in this case?

[2018-06-03 09:37] leoterry-ulrica commented on #19535
I have the same issue as above.

Failed to get system container stats for "/user.slice/user-0.slice/session-882.scope": failed to get cgroup stats for "/user.slice/user-0.slice/session-882.scope": failed to get container info for "/user.slice/user-0.slice/session-882.scope": unknown container "/user.slice/user-0.slice/session-882.scope"
E0603 17:36:08.269943    2033 dnsmasq.go:105] unable to perio

[2018-06-03 09:54] leoterry-ulrica commented on #17740
I am also using a virtual CentOS 7 and got the same issue, but don't be solved  by the method @auyer provided.

Get the wrong message below：
Failed to get system container stats for "/user.slice/user-0.slice/session-882.scope": failed to get cgroup stats for "/user.slice/user-0.slice/session-882.scope": failed to get container info for "/user.slice/user-0.slice/session-882.scope": unknown containe

[2018-06-03 11:58] jperville commented on #15854
/remove-lifecycle rotten

[2018-06-03 12:40] #17948 closed

[2018-06-03 12:47] bparees commented on #19881
new-app inspects the image for "EXPOSE" metadata and defines a container port for each EXPOSEd port.  It also defines a service for those ports (unfortunately i believe the service load balances traffic across the ports, which isn't super useful, so images that expose multiple ports don't result in great defaults w/ new-app.  we've been thinking about extending the behavior of new-app to define a

[2018-06-03 12:48] bparees commented on #2957
/remove-lifecycle rotten
/lifecycle frozen

[2018-06-04 00:40] #15910 closed

[2018-06-04 06:11] DanyC97 commented on #17086
@LarsMilland not sure if you still interested in this issue however i'll make few notes...

In case you haven't seen few months back (beginning of the year) the CentOS PaaS SIG people in charge of releasing the rpms decided to pass on the baton and step down.

As such myself and others step up trying to help and not let it go south.
there are few backlog items to improve however in meantime we are

[2018-06-04 06:13] DanyC97 commented on #17947
@megian @miminar can you please close this issue and open a new on on openshift-ansible repo as that is the right location for this issue and not origin.

Tag me when you done and will see if can help out, thx

[2018-06-04 09:37] vicky18Dec commented on #19871
This is one of they way you can use it in your scripts.

#  oc port-forward nginx 8090:8080 > /dev/null 2>&1 &
# ps -ef | grep nginx

root      87849      1  0 14:58 pts/0    00:00:00 oc port-forward nginx 8090:8080
root      88431  85086  0 15:02 pts/0    00:00:00 grep --color=auto nginx
# kill -9 87849

[2018-06-04 12:00] coreydaley commented on #19552
Closing as fixed via https://github.com/openshift/origin/pull/19776

[2018-06-04 12:00] #19552 closed

[2018-06-04 12:05] mrogers950 commented on #15836
Our test coverage for RBAC should be sufficient now.

[2018-06-04 12:05] #15836 closed

[2018-06-04 12:47] danwinship commented on #18852
/remove-lifecycle stale
/lifecycle frozen

[2018-06-04 13:45] akram commented on #19084
@coreydaley #11600 ?

[2018-06-04 14:41] sbht04 commented on #19597
@knobunc  Do you have any suggestions or feedback for this issue?

[2018-06-04 15:17] stevekuznetsov commented on #18269
/remove-lifecycle stale

[2018-06-04 15:17] stevekuznetsov commented on #7376
/close

[2018-06-04 15:17] #7376 closed

[2018-06-04 16:47] surajssd opened #19909 "`oc cluster up` lot of containers in `Created` state"
When I do `oc cluster up` I see lot of containers in `Created` state. Which grows to a point that the machine becomes unresponsive.

[code]

in another terminal...

[code]

all of the above containers have logs

[code]

`origin` pod logs, [here](http://pastebin.centos.org/810561/).

##### Version

openshift client

[code]

docker

[code]

[code]

##### Steps To Reproduce
1. `oc cluster up`
2. see

[2018-06-04 16:49] surajssd commented on #19909
[code]

[2018-06-04 17:53] eivantsov commented on #17981
/remove-lifecycle stale

[2018-06-04 18:57] jkroepke commented on #17619
/remove-lifecycle stale

[2018-06-04 20:55] PhilipGough commented on #18574
/close

[2018-06-04 20:55] #18574 closed

[2018-06-05 01:40] GrahamDumpleton commented on #18822
/lifecycle frozen

[2018-06-05 06:38] surajssd commented on #19909
Which was always the case for me, the port was always moved to `8053`, but I don't see any relevant errors which say `could not resolve name`, I see the errros at system level which are of cgroups.

[2018-06-05 06:41] #13013 closed

[2018-06-05 08:55] mfojtik opened #19910 "Default ImagePolicy in openshift master config properly"
https://github.com/openshift/origin/pull/19908 introduced ugly for cluster up, but we should default this properly in master config, otherwise people won't be able to resolve image streams in kube resources.

Defaulting in master config will mean people will need to opt-out if they don't want this admission controller running...

/cc @soltysh
/cc @deads2k

[2018-06-05 09:03] soltysh commented on #19905
I wonder if it's worth the hassle now that there's work upstream towards server-side apply.

[2018-06-05 10:38] surajssd commented on #19909
Same with `oc` `3.7.2`, the only difference is that the command `oc cluster up` completes successfully. But when checked no new container than the origin is created. Still lot of containers in `Created` state.

[2018-06-05 10:40] surajssd commented on #19909
Also `setenforce 0` does not help.

[2018-06-05 12:50] ironcladlou commented on #19844
Might be a few days before anybody looks at this unless it's blocking the 3.10 release; /cc @ramr

[2018-06-05 13:00] #18784 closed

[2018-06-05 14:28] gnufied opened #19914 "master-config.yaml with invalid keys are not validated"
Sometimes our users put keys in YAML in subtly incorrect indentation. This does not cause any validation errors or anything like that and master controllers start just fine but intended purpose of putting the key in YAML does not work.

YAML being whitespace senstive makes it harder to notice. Can we just start validating the keys in YAML and print warning or errors or even refuse to start the pro

[2018-06-05 14:28] gnufied commented on #19914
cc @liggitt @smarterclayton

[2018-06-05 15:57] kargakis commented on #17533
@openshift/sig-master

[2018-06-05 15:57] kargakis commented on #17533
/remove-lifecycle stale

[2018-06-05 15:59] kargakis commented on #17470
/sig master

[2018-06-05 16:01] kargakis commented on #17221
/sig master

[2018-06-05 16:07] kargakis commented on #16127
/sig master

[2018-06-05 16:08] kargakis commented on #16127
/remove-lifecycle rotten

[2018-06-05 16:09] kargakis commented on #15185
/sig master

[2018-06-05 16:09] kargakis commented on #15369
/sig master

[2018-06-05 16:11] kargakis commented on #14287
/sig master

[2018-06-05 16:11] kargakis commented on #13824
/sig master
/remove-lifecycle rotten

[2018-06-05 16:13] kargakis commented on #11522
I think upstream is moving on the opposite direction with Deployments.

[2018-06-05 16:14] kargakis commented on #4141
/sig master

[2018-06-05 16:15] kargakis commented on #6316
/sig master

[2018-06-05 16:15] kargakis commented on #6458
/sig master

[2018-06-05 16:15] kargakis commented on #8416
/sig master

[2018-06-05 16:15] kargakis commented on #8459
/sig master

[2018-06-05 16:16] kargakis commented on #9479
/sig master
/sig security

[2018-06-05 16:17] kargakis commented on #10411
/sig master

[2018-06-05 16:39] johnarok commented on #19597
It looks like there is a stalled listener.. we added some logging to the shared_informer and we see the length of the pending notifications queue keeps increasing at the range of 2000 to 5000+..  Any suggestions on how to debug this further? are we looking at the right code path for endpoints?  I have asked this question on kubernetes-dev slack as well, waiting for reply.

[2018-06-05 17:07] #14296 closed

[2018-06-05 17:08] #14371 closed

[2018-06-05 17:12] #17559 closed

[2018-06-05 17:13] #18516 closed

[2018-06-05 19:06] ramr commented on #19844
Based on the error message you had:

### Error:
Error response from daemon: Get https://docker-registry-default.192.168.42.110.nip.io/v1/users/: x509: certificate is valid for *.router.default.svc.cluster.local, router.default.svc.cluster.local, not docker-registry-default.192.168.42.110.nip.io

Which means the router is ok but the error you are getting is coming back from the docker daemon. Not s

[2018-06-05 20:55] jwforres commented on #19860
@openshift/sig-networking

[2018-06-05 20:58] jwforres commented on #19865
@openshift/sig-developer-experience

[2018-06-05 20:58] jwforres commented on #19871
@openshift/sig-master

[2018-06-05 22:31] kargakis commented on #11522
https://docs.google.com/document/d/10LFy30JTfTD3qgCsBZ2S8ZpuWao9mqT_xqkcbvPzVf4/edit?ts=5b036da4#heading=h.l3tv7bl8l1r1

[2018-06-05 22:32] #11522 closed

[2018-06-05 23:23] bparees commented on #19865
`example.com` or `testos39.com` ?  I would expect the latter

so it worked for you once you added the port to the url in your docker secret?

[2018-06-06 05:07] praveenkumar commented on #19909
@surajssd which host you are using for `oc cluster up`?  f28/centos ?

[2018-06-06 06:43] surajssd commented on #19909
@praveenkumar
[code]

[2018-06-06 07:18] edmacabebe opened #19921 "oc cp called from a container to pull file from another container"
[provide a description of the issue]

##### Version
oc v3.9.0+191fece
--
  | kubernetes v1.9.1+a0ce1bc657
  | features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. bake into the container oc v3.9 client
2. oc cp somepod:/tmp /home/me

##### Current Result
error: /tmp no such file or directory

##### Expected Result
The folder exist, copy its contents to local fs folder

##### Ad

[2018-06-06 07:42] #17901 closed

[2018-06-06 09:53] slaskawi commented on #19663
@deads2k @bparees Just FYI:

I've been looking how this can be incorporated into our CI loop (we use `oc cluster up` to do our functional tests on our CI slaves, so far it worked quite nicely).

At first I tried to temporarily use `oc v3.9` with a bit older image - `3.7.2`. Unfortunately, I hit https://github.com/openshift/origin/issues/18288.

Then I thought about creating a custom `master-config

[2018-06-06 12:04] mfojtik commented on #14287
@kargakis i think it is too late for 3.10, but I will do this in 3.11 if you are ok with it.

[2018-06-06 12:07] mfojtik commented on #10411
@kargakis this should be already done

[2018-06-06 12:07] mfojtik commented on #10411
we also support statefulsets

[2018-06-06 12:07] #10411 closed

[2018-06-06 12:10] MarWestermann commented on #19440
I face the same error

[2018-06-06 13:53] soltysh commented on #19906
I don't this kind of functionality should ever be handled by oc itself. It's rather a higher level tool that would do that. Similarly to others available for switching runtime language (python, go, etc).

[2018-06-06 13:53] #19906 closed

[2018-06-06 13:59] jpeeler commented on #19887
Based on a quick glance at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce_39/, it looks like the last time this test was successful was on April 27th. The next execution failed (and all times since) on May 30th. I'm not sure if there are missing logs, but there are less than a dozen of commits after that last successful run.

[2018-06-06 14:11] bparees commented on #19663
the default config was added back in and is being backported to 3.9 as well.

https://github.com/openshift/origin/pull/19911  (3.9)
https://github.com/openshift/origin/pull/19908 (3.10)

[2018-06-06 14:12] bparees commented on #19865
sure, I agree, just wanted to make sure i understood what you were doing.  thanks!

[2018-06-06 14:13] liggitt commented on #19871
I don't think `--request-timeout` applies to API calls like exec and port-forward

saving the PID of the running port-forward command and sending it a termination signal is what I would expect

[code]

[2018-06-06 14:14] slaskawi commented on #19663
@bparees @deads2k Wow! Thank you guys! I highly appreciate it! You have just made our lives much, much easier!

[2018-06-06 15:44] soltysh commented on #17533
This should be implemented upstream first.

[2018-06-06 15:45] soltysh commented on #19882
The docs pr merge, so I think this is fixed. @gabemontero feel free to re-open if you don't agree.

[2018-06-06 15:45] #19882 closed

[2018-06-06 15:49] gabemontero commented on #19882
On Wed, Jun 6, 2018 at 11:46 AM Maciej Szulik <notifications@github.com>
wrote:

I agree.  Already referring to the new doc with our Jenkins stuff that uses
‘oc’

[2018-06-06 15:59] #19503 closed

[2018-06-06 16:06] kargakis commented on #17533
Does `kubectl` have `set volumes` now? Can't see it in `v1.10.0+b81c8f8`
[code]

[2018-06-06 16:08] gabemontero commented on #19481
Short term submitted update to docs to clarify support here.

[2018-06-06 16:09] JuniorCtba commented on #19871
Hello on the bash i could have this working, but on the jenkins pipeline build i got an error.
The line from the pipeline
 sh "oc login ${openshiftUrl} --token=${openshiftToken}"
                        sh "oc port-forward mongodb-0 27017:27017 > /dev/null 2>&1 &"
                        sh "PORT_FORWARD_PID=\$!"
                        sh 'kill -9 $PORT_FORWARD_PID'

From the console with the err

[2018-06-06 16:10] gabemontero commented on #19862
Closing under the assumption this is the known issue noted above.

@odra - please reopen if you still see this after using v1.0.19 or later of the sync plugin.

[2018-06-06 16:10] #19862 closed

[2018-06-06 16:38] gabemontero commented on #19481
Actually, we are just going with the doc restriction.  We'll continue to monitor both upstream and subscription customer usage to see if further demand / requests arise.

[2018-06-06 16:38] #19481 closed

[2018-06-06 16:57] jwforres commented on #19900
@openshift/sig-networking

[2018-06-06 17:42] vicky18Dec commented on #19871
Could you try and pass the variable in curly bracket.
${PORT_FORWARD_PID}

[2018-06-06 17:53] #19865 closed

[2018-06-06 17:58] JuniorCtba commented on #19871
Seems that the problem is here
sh "PORT_FORWARD_PID=$!"

Running shell script
[mongodb] + PORT_FORWARD_PID=

Because the PORT_FORWARD_PID is not getting any value.

See
mongodb] + kill -9 '{}'

[2018-06-06 18:03] jpeeler commented on #19718
This is the same as #19887

[2018-06-06 19:51] knobunc commented on #18892
/remove-lifecycle stale

[2018-06-06 19:51] knobunc commented on #18892
@jhaohai No good reason... I'll make the change.

[2018-06-06 23:49] nicolasroger17 commented on #13503
@Tiboris were you able to resolve this issue or found a workaround ?

[2018-06-07 03:31] enj commented on #19914
Just waiting on Go 1.10 for #19106

It warns on unexpected fields but does not fail.

[2018-06-07 07:06] mvlach opened #19930 "Error: ErrImagePull"
Installed OpenShift Origin 3.7 version. When pulling images from internal registry there are sometimes errors

Failed to pull image "docker-registry.default.svc:5000/production/ccv-module@sha256:94f7e44fd70f8351aed27ee56736abd8aa622eb5d6639c2db38d76cbdafb9127": rpc error: code = 2 desc = error parsing HTTP 404 response body: json: cannot unmarshal number 2410577256473952587930430597780256365901947

[2018-06-07 07:09] #19573 closed

[2018-06-07 09:45] jocelynthode opened #19931 "ErrorFetchingCatalog/ErrorListingServiceClasses on ServiceCatalog"
On a multi-master setup with only the template service catalog (no ansible service catalog) I get:

Curling the api endpoint results int 404 most of the time. Templates are still visible on home page.
##### Version
[code]

##### Steps To Reproduce
1. curl -vvv https://openshift.XXX/apis/rbac.authorization.k8s.io/v1beta1

##### Current Result
Sometimes I get 404 and sometimes I get the json. This h

[2018-06-07 10:09] jocelynthode commented on #19931
Ok I found out that it is sometime having a timeout on the service apiserver in kuber-service-catalog.

For example doing  `curl https://apiserver.kube-service-catalog.svc:443 --insecure` I will sometimes get timeouts.

The apiserver pods have a lot of http handshake error:

I0607 10:07:55.506393       1 wrap.go:42] GET /: (118.353µs) 200 [[Go-http-client/1.1] 10.129.0.1:40764]
I0607 10:07:59.0808

[2018-06-07 10:40] soltysh commented on #17533
Nope, my bad, I spoke too soon :wink:

[2018-06-07 11:55] dmage commented on #19930
@mvlach was the image in ccv-module created by import-image or by pushing into the internal registry?

If it was created by import-image, that that's a problem on the remote registry (an invalid certificate, the error contains details about the certificate which the Docker client can't parse). We'll fix the error reporting in the next release.

[2018-06-07 12:10] kkorada commented on #19440
same problem here
please tag it with v3.9.0

[2018-06-07 15:52] dwinchell commented on #6316
Hey guys, sorry for the long silence on this. My day job needed some extra cycles after I volunteered.

I am looking at it now.

What does "/sig master" mean? Should I still be working on this?

Thanks!

[2018-06-07 17:34] jwmatthews commented on #19690
cc @mhrivnak

[2018-06-07 18:12] jwforres commented on #19909
@openshift/sig-master

[2018-06-07 18:15] jwforres commented on #19899
@openshift/sig-pod

[2018-06-07 18:16] jwforres commented on #19887
@openshift/sig-networking

[2018-06-07 18:27] jwforres commented on #19850
@openshift/sig-master

[2018-06-07 18:42] #17988 closed

[2018-06-07 18:42] #17969 closed

[2018-06-07 19:03] kargakis commented on #6316
oc is owned by the master team and I am satisfying my inner librarian by
labeling this issue as such. Feel free to work on it though! I know
@soltysh will be happy about it :)

On Thu, Jun 7, 2018, 18:52 Dillon Winchell <notifications@github.com> wrote:

[2018-06-07 19:33] dwinchell commented on #6316
Ah, got it. Thanks :)

[2018-06-07 20:28] alikhajeh1 opened #19937 "Login with GitLab is broken due to their V3 API no longer being supported"
Logging in with GitLab shows an authentication error; the master logs show `AuthenticationError: Could not retrieve GitLab id`. The issue seems to be that GitLab's V3 API, which is [used by Origin](https://github.com/openshift/origin/blob/v3.7.2/pkg/auth/oauth/external/gitlab/gitlab.go#L26
), stopped working tonight:
[code]

If the GitLab code is being updated, it might also be nice to address htt

[2018-06-07 20:44] bilalx20 commented on #10698
Thanks bro! I've been literally working on that shit about a week.

[2018-06-07 21:07] liggitt commented on #19905
apply should likely do something better here, but creating with a resourceVersion to begin with is suspect

[2018-06-08 06:04] th-lee commented on #19482
# vi /etc/resolv.conf

search cluster.local
nameserver 192.168.3.53
nameserver 8.8.8.8

# chattr +i /etc/resolv.conf

then,
master process restart

[2018-06-08 07:42] mfojtik opened #19940 "unable to determine resource for scale target reference"
In ca-central-1 I can see a lot of errors in controller manager like this:

[code]

We do carry a patch here I believe: https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/controller/podautoscaler/horizontal.go#L402

We have this so we can handle OpenShift oapi DeploymentConfig, what is not clear to me is why the passed GroupKind is "extensions.DeploymentConfig" (?) and al

[2018-06-08 07:45] mfojtik commented on #19940
OK, I checked and we indeed have some HPA with wrong scaleTargetRef:

[code]

@DirectXMan12 shouldn't we validate this when the HPA is created and refuse to create HPA that points to an non-existing resource? (well that resource might start to exists later...)...

[2018-06-08 07:46] liggitt commented on #19940
see https://github.com/openshift/origin/pull/18517#issue-167822169

[2018-06-08 07:47] jocelynthode commented on #19931
[code]

Here is the output of `oc describe all -n kube-service-catalog`: https://gist.github.com/jocelynthode/79388c71b212a466ecb33568211364ac

I do not see any restarts.

The machines should not be under heavy load as it is a clean install with no application pods running and no metrics/logging installation. Each master (3 total) has 8CPU / 24G of RAM

[2018-06-08 07:59] apupier commented on #19365
What is the status exactly?
A solution has been accepted and needs to be implemented? Or I misunderstood the comment threads?
Do you have an estimated time when it will be fixed? Or how much effort it will require?

[2018-06-08 08:19] kkorada opened #19941 "HPA showing unkown cpu utilization"
I am unable to get cpu utilization from HPA. So as a result my pod is not getting auto scaled.

##### Version
v3.9

##### Steps To Reproduce
1. Create a HPA for any project
2. Try to List HPA

##### Current Result
C:\Users\kkorada>oc get hpa
NAME      REFERENCE             TARGETS           MINPODS   MAXPODS   REPLICAS   AGE
lb        DeploymentConfig/lb   <unknown> / 90%   1         10        0

[2018-06-08 10:49] kkorada commented on #19941
i am getting below warning in the web console
![image](https://user-images.githubusercontent.com/16150723/41154391-a9dc0330-6b37-11e8-8e6c-ead730cdc877.png)

[2018-06-08 11:16] DanyC97 commented on #19899
@skynardo how did you sent the labels nodes in first place ?

[2018-06-08 11:46] aliscott commented on #19937
Relevant GitLab discussion: https://gitlab.com/gitlab-org/gitlab-ce/issues/47565#note_80041904 (Consider bringing back v3 endpoint for OAuth endpoints)

[2018-06-08 12:11] J5Dev commented on #4609
Having seen the card, I felt I needed to add my support for this, as I am also in need of the ability to do this, for the exact reasons give anove.

Essentially I need to be able to supply env vars that point to certain services etc., such as

[code]

This would be really useful to have

[2018-06-08 13:04] skynardo commented on #19899
We ran the playbook below after upgrading to version 3.9 to deploy openshift logging. These playbooks must set the logging-infra-fluentd=true on all nodes.
/usr/share/ansible/openshift-ansible/playbooks/openshift-logging/config.yml

We ran the upgrade playbook below which sets the role.kubernetes.io/compute=true /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_9/upg

[2018-06-08 13:16] jboyd01 commented on #19931
I agree @jocelynthode, this all looks healthy.  Did you try the curl against the catalog apiserver during this time - were you getting timeouts?

You also said you were having issues with template service broker - those pods look fine as well?  `oc get pods -n openshift-template-service-broker` ?

[2018-06-08 13:29] bparees commented on #19365
yes

it's not the highest priority, so no one is actively working on it.  it shouldn't take much work to implement.

[2018-06-08 13:34] bparees commented on #19482
@HP-dufeng is this resolved based on your comment above?

[2018-06-08 14:21] liggitt opened #19944 "skip kubectl.ScalerFor in deployer and scale directly"
follow up from https://github.com/openshift/origin/pull/19137

[2018-06-08 14:22] liggitt opened #19945 "buffered audit setup"
follow up from https://github.com/openshift/origin/pull/19137

[2018-06-08 14:23] liggitt opened #19946 "implement server-side printers for origin types"
legacy printers were adapted in https://github.com/openshift/origin/pull/19934, but we need to convert our printers to actually have good names, descriptions, formats, etc

[2018-06-08 14:24] liggitt opened #19947 "sweep commands outputting ungrouped objects with `-o name` in test/cmd tests and update to use grouped APIs"
follow up from https://github.com/openshift/origin/pull/19137

[2018-06-08 14:27] liggitt opened #19948 "resolve handling of RootFsInfo() error on kubelet start"
follow-up from https://github.com/openshift/origin/pull/19137

https://github.com/openshift/origin/commit/b61c00c7ff95788abd5e76025fbda0074119ec3f made the RootFsInfo() lookup failure on kubelet startup non-fatal because it was blocking CI (it fails when run on tmpfs/bindmounts I think)

need to determine the impact of continuing the kubelet even without the EphemeralStorageCapacityFromFsInfo resu

[2018-06-08 14:34] liggitt opened #19949 "resolve different etcd resource prefix for APIService objects"
we are passing a different storage constructor that results in APIService objects being stored in a non-standard location in etcd

upstream: `<prefix>/apiregistration.k8s.io/apiservices/...`
origin: `<prefix>/apiservices/...`

[2018-06-08 15:15] ironcladlou commented on #17825
Closing. Please re-open if there's still a problem.

[2018-06-08 15:15] #17825 closed

[2018-06-08 15:16] ironcladlou commented on #18131
Closing due to age. Pretty sure graceful shutdown was solved in one way for 3.9 and of course the apiserver and control plane were switched to self-hosted components, so I doubt this issue still applies.

[2018-06-08 15:16] #18131 closed

[2018-06-08 15:18] ironcladlou commented on #10665
To make sure I understand: this issue pertains only to `oc cluster up` against a remote docker daemon (e.g. MacOS use cases), correct?

[2018-06-08 15:22] ironcladlou commented on #19900
@oeresundsgruppen can you provide a use case in the form of the YAML or JSON for the `Route` and `Service` objects you're working with? Thanks.

[2018-06-08 15:37] oeresundsgruppen commented on #19900
Service S has ports P1 and P2. Route R1 points to S:P1 and R2 points to S:P2. Now we can use R1 and R2 in a browser/javascript/frontend, but we cannot use R1:P1 or R2:P2 - or can this be made possible somehow ?

[2018-06-08 15:57] jocelynthode commented on #19931
[code]

I also noticed that doing : `curl https://apiserver.kube-service-catalog.svc:443 --insecure` from a master node sometimes results in timeout and sometimes list me the different paths.

[2018-06-08 16:44] alberttwong commented on #17570
Confirmed issue on latest v3.9.30-2

[code]

[2018-06-08 16:46] alberttwong commented on #14101
https://github.com/openshift/origin/issues/17570

[2018-06-08 16:47] alberttwong commented on #17474
https://github.com/openshift/origin/issues/17570

[2018-06-08 17:08] ironcladlou commented on #19900
Ports are static per router deployment (80/443 by default), and can't be customized by an individual `Route`. If you need external ports exposed per service, you might consider [exposing Services directly](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).

/cc @knobunc to fact check me

[2018-06-08 17:33] alberttwong commented on #17570
So it's fixed after I resetted my docker machine (mac 17.09.1-ce-mac42) and then running

`oc cluster up --image=registry.access.redhat.com/openshift3/ose --version=latest`

[2018-06-08 17:55] knobunc commented on #19900
LGTM.  Thanks @ironcladlou

[2018-06-08 17:55] #19900 closed

[2018-06-08 18:42] #15692 closed

[2018-06-08 20:59] itewk commented on #8618
With the changes made in Kubernetes, is there still a change needed in OpenShift?

[2018-06-09 14:10] runcom commented on #8618
`RunAsGroup` is handled in kube 1.10 and CRI-O has patches being merged to support that

[2018-06-09 18:43] #17593 closed

[2018-06-09 18:43] #16273 closed

[2018-06-09 18:43] #17799 closed

[2018-06-10 06:00] mvlach commented on #19930
The image is created via the S2I build process. When I build  application after some time the image "disappear".

[2018-06-10 06:38] GrahamDumpleton commented on #10665
Don't know about remote docker daemon. If you mean where docker runs in a VM, such as on macOS and Windows, then yes.

[2018-06-10 12:43] singhcl commented on #16265
@pweil- can you please confirm if dc/docker-registry need not to be run as a pod since the config has desired pods as 0.

# sudo oc get dc/docker-registry
NAME              REVISION   DESIRED   CURRENT   TRIGGERED BY
docker-registry   3          0         0         config

[2018-06-10 13:59] wgbeckmann commented on #18046
I have the same Problem, but with 208GB (99%) free so do you have another Idea?

[2018-06-10 14:43] bparees commented on #16265
@singhcl yes the registry runs as a pod.  sounds like someone/something scaled your deployment to zero replicas.

[2018-06-11 04:31] praveenkumar commented on #19717
@mfojtik yes, that was not the case for previous version of oc cluster up.

[2018-06-11 06:23] #19353 closed, assigned to mfojtik

[2018-06-11 07:45] Poltorackiy opened #19955 "Can't deploy MySQL because it contains unresolved images"
Hello, I created MySQL database service and when I try to deploy it says that it contains unresolved images.

![unresolved images](https://user-images.githubusercontent.com/4964993/41218465-5d71e8de-6d85-11e8-8846-a57aa96ac1ec.PNG)

Steps To Reproduce
1. Create MySQL service in Catalog
2. Added route to this service
3. Go to Application -> Deployments -> MySQL service -> Click Deploy

I have no im

[2018-06-11 10:41] mfojtik commented on #19844
@bparees since this was working out of box I guess in 3.9, this looks like a regression in 3.10. The minishift folks can fix that, but I think we can do this step in registry cluster up installer. I will defer to registry guys to pick the fix they prefer.

[2018-06-11 11:38] praveenkumar commented on #19844
I am going to close this issue after having the conversation with @mfojtik for the current location of kubeconfig file.

[2018-06-11 11:38] #19844 closed

[2018-06-11 13:48] wozniakjan commented on #18771
happening again with "Exception: Tag openshift-ansible-3.10.1-1 already exists!"

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_aggregated_logging_ansible_json_file/1349/
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/494/consoleFull#-133243262958b6e51eb7608a5981914356

/cc @openshift/sig-developer-experience

[2018-06-11 15:27] bparees commented on #19626
/close

[2018-06-11 15:27] #19626 closed

[2018-06-11 15:29] bparees commented on #19450
yes most likely the container was oom killed for trying to exceed the resource limit.  because of the way builds work (spawning a separate container) k8s is left unaware of what happened.

ultimately we want to move away from doing builds in this way, so once we do that hopefully you'll be able to see a standard oom kill event on the build pod if this happens.

[2018-06-11 16:22] Miciah commented on #19887
Looks like `router-http-echo-server.yaml` defines a deployment config that uses `socat` to run a `perl` command, but the deployment config specifies the `openshift/origin-base` image, which has no `perl` command.

[2018-06-11 16:47] jpeeler commented on #19887
I think you meant curl instead of perl.

[2018-06-11 17:05] jocelynthode commented on #19931
@jboyd01 I'm really at a loss at what could cause this problem

[2018-06-11 17:32] enj commented on #17954
@alikhajeh1 have you tried using GitLab's OIDC support to reduce the scope to `openid`?  See https://trello.com/c/DXntmEOV for details.

[2018-06-11 17:47] jpeeler commented on #19887
I'm looking here, which seems to be what's reporting the 127 error:
https://github.com/openshift/origin/blob/a96a520e292b5034ab11360f7bdd51349d43cbb8/test/extended/router/scoped.go#L149-L166

Perl is installed as a dependency of git. If I'm wrong about this, I'll know soon enough. Test in progress now.

[2018-06-11 17:47] Miciah commented on #19887
I did an `oc rsh` into the pod and ran `which perl`; there was no `perl`.

[2018-06-11 17:51] stevekuznetsov commented on #18771
/close

Issues in the jobs are due to a configuration issue.

[2018-06-11 17:51] #18771 closed

[2018-06-11 18:04] Miciah commented on #19887
https://github.com/openshift/origin/commit/4333db3960e1f134bbf606bd5a8ea7f4fd062c93 dropped the Git dependency, but that's 3.10, not 3.9.  openshift/origin-base:v3.9 does have `perl`.  For some reason, my devenv is using openshift/origin-base:latest; is CI doing the same?

[2018-06-11 18:35] jpeeler commented on #19887
As you both suspected, adding curl doesn't fix the problem.

https://github.com/openshift/origin/blob/release-3.9/test/extended/testdata/router-http-echo-server.yaml#L23

CI calls hack/build-base-images.sh which uses the Dockerfiles from the images directory and tags it as latest. It does look like CI might be pulling the latest image, even though a local one exists:

Jun 11 15:45:22.527: INFO: At

[2018-06-11 18:37] knobunc commented on #19887
The goal was to have an http endpoint that echoed back everything sent
without adding anything to the image.  We could replace the perl with
python perhaps.

-ben

On Mon, Jun 11, 2018 at 2:35 PM, Jeff Peeler <notifications@github.com>
wrote:

[2018-06-11 18:39] Miciah commented on #19887
`router-http-echo-server.yaml` does not specify an image pull policy.  The default image pull policy when using the "latest" tag is "Always"; otherwise it's "PullIfNotPresent".

We don't need Python; Bash should suffice.  https://github.com/openshift/origin/pull/19963 is a tentative fix.

[2018-06-11 18:42] jpeeler commented on #19887
@Miciah So if the default pull policy is always and the image doesn't specify a version implying latest, then I think the best fix is to change the image pull policy to IfNotPresent. What do you think?

[2018-06-11 18:45] #18081 closed

[2018-06-11 18:45] #17763 closed

[2018-06-11 18:51] Miciah commented on #19887
@jpeeler, if we set an explicit image pull policy of IfNotPresent but kept (implicitly) using the latest tag, wouldn't that just mean we'd end up pulling the wrong image once instead of pulling it many times? We should probably explicitly specify the v3.y tag when testing the release-3.y branch.

[2018-06-11 19:02] johnarok commented on #19597
Removing egress policies in the cluster allowed the endpoints changes to be propagated immediately on the nodes. thank you @knobunc @jwforres for checking on this, will open a new issue with detailed steps to reproduce when we get to it.

[2018-06-11 19:05] #19597 closed

[2018-06-11 19:42] jboyd01 commented on #19931
Let's bypass the Service and see if each Catalog API Server is experiencing the same timeout issue.  Could you please try curling each of these urls a handful of times and see if only a subset are failing with timeouts?

curl -vvv https://10.128.0.28:6443/apis/servicecatalog.k8s.io/v1beta1 --insecure
curl -vvv https://10.129.0.29:6443/apis/servicecatalog.k8s.io/v1beta1 --insecure
curl -vvv https:/

[2018-06-11 20:08] jpeeler commented on #19887
The CI process builds images and tags them as latest, but they are based on the content of the 3.9 branch. I assume the idea is to not have to go and retag everything with specific versioning/tagging once a branch is cut.

[2018-06-11 20:35] jpeeler commented on #19887
I really don't have a strong preference between those two really. I just want to see the next CI run pass so the root cause is finally confirmed. I have a feeling that if the image isn't built and tagged properly, that some other job would fail way sooner. But changing to Never makes sense.

[2018-06-11 21:13] pmorie commented on #19931
@jocelynthode What is the output of the following:

`oc get apiservices servicecatalog.k8s.io -o yaml`
`oc get clusterservicebrokers`

Thanks!

[2018-06-11 21:36] biconou opened #19966 "CronJobs in OpenShift web console"
It seems like *CronJobs* is a kind of object not shown in the web console.

If I want to list then I must issue this command :
`oc get cronjobs`

##### Version
origin 3.9

[2018-06-12 05:45] #16272 closed

[2018-06-12 05:45] #17692 closed

[2018-06-12 05:58] tnozicka opened #19973 "[3.9] 3 test jobs permanently borked on SYNC REPOSITORIES"
blocks:
 - ci/openshift-jenkins/extended_conformance_install (https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_39/95/console)
 - ci/openshift-jenkins/gcp (https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce_39/266/console)
 - ci/openshift-jenkins/extended_clusterup (https://ci.openshift.redhat.com/jenkins/jo

[2018-06-12 07:35] juvlarN opened #19974 "Creating a Role fails with "attempt to grant extra privileges" error"
I am trying to deploy [Googles Spark Operator](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator). My user account has the /admin role in the project I want to install the Spark Operator in. Issuing `oc create -f spark-operator-rbac.yaml` or `oc create -f spark-rbac.yaml` ends up in an permission error.

##### Version
[code]

##### Steps To Reproduce
0. Use a namespace/project of your c

[2018-06-12 08:16] ksemaev commented on #18872
update to 3.9 resolved the issue

[2018-06-12 08:16] #18872 closed

[2018-06-12 08:48] Deepthroat commented on #18125
Side question: Is there a way to set TTL for temporal project to delete everything in that project (and itself) after a fixed amount of time?

[2018-06-12 09:01] slawekgh commented on #19535
i have the same issue

[2018-06-12 09:13] marusak commented on #18046
I also have the same problem.
[code]

``` oc cluster --loglevel=10 up ``` ends up with the whole bunch of these messages:
[code]
and after around 10 minutes ends up with ```Error: failed to start the web console server: timed out waiting for the condition ```

Using Fedora 28 with the newest updates (origin-clients-3.9.0-2.fc28)

[2018-06-12 12:29] agajdosi commented on #17047
I am facing similar issue using OCP v3.9.30 with CDK. In my case I have Che deployed on OpenShift and when I start a new workspace, its node crashes on `sandbox changed`:
[code]
Is there any update on this issue @dcbw?

[2018-06-12 12:32] marusak commented on #18046
It seems to be related to the version of docker.
Docker version `2:1.13.1-51.git4032bd5.fc28` (with docker-common and docker-rhel-push-plugin with the same version) does not work, but version `docker-1.13.1-51.git4032bd5.fc28.x86_64` works like charm.
@wgbeckmann you can try to downgrade docker, maybe it will help you as well :) (the credit goes to @mfojtik )

[2018-06-12 12:48] php-coder commented on #13486
/remove-lifecycle stale

[2018-06-12 13:21] mkieboom commented on #13599
I'm experiencing the same timeout message when using Openshift Origin containerized deployment. When doing an RPM install it all works fine.

@alvaroaleman: can you please explain what exactly you changed in the openshift-ansible to get it working? My guess is the timeout in a containerized environment comes from dns lookup issues using incorrect hostnames.

[2018-06-12 14:37] mirekphd commented on #19084
In my case OpenShift's port 8443 was taken as a result of previous SSL port forwardings, which left over a running sshd daemon on that port. The bug seems to affect a wide range of OpehShift versions: I reproduced it for precompiled oc builds v3.7.2 to v3.9.0 (with corresponding Docker Hub imagers of openshift/origin) .

The workaround is to find the PID of the process using this port and kill the

[2018-06-12 14:44] jocelynthode commented on #19931
First, thanks for the all the help guys.

@jboyd01: You seem to be on something. When I curl directly the pods some fails. We have two subnets in two datacenters. These subnets are firewalled, but we have opened ANY/ANY on any ip in these subnets. However I can see that when from a master I try to curl a pod directly by its ip 10.128.0.31 for example and this pod resides on a node that is in the o

[2018-06-12 15:46] jboyd01 commented on #19931
good news, @jocelynthode, that certainly looks like the issue.  I'm not in a position to give any guidance on the cross subnet routing, sorry.

[2018-06-12 15:48] stevekuznetsov commented on #19973
api.ci issue on registry?

/cc @smarterclayton

[2018-06-12 16:12] 14yannick commented on #17047
I used Openshift for more more than 5 years. Spend a lot time making my app running on v2 again. At the end traffic was just not rooted anymore. Mooved to heroku took me 2 hours to migrate all my data(db) and make the necessary Source Code changes. Since then no more Problems. Sorry Openshift

[2018-06-12 16:17] alberttwong opened #19979 "Problem with "oc cluster up". Issue in events is 1 Insufficient memory."
Env: Using "oc cluster up" with Docker on Mac Version 17.09.1-ce-mac42 (21090).

Problem: When you provision more pods, you run into an issue where you can't provision more pods.  Looking at pod events, it says "1 Insufficient memory".

[2018-06-12 16:17] alberttwong commented on #19979
Answer is to go into Docker -> Preferences -> Advanced and increase the memory from 1GB to something larger like 4GB or more.

[2018-06-12 16:17] #19979 closed

[2018-06-12 17:47] smarterclayton commented on #19973
Yes, things were broken from 1am EDT last night to 2:30am EDT

On Tue, Jun 12, 2018 at 11:48 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-06-12 18:45] #9499 closed

[2018-06-12 18:53] whitel opened #19984 "oc cp does not error when not logged in"
If you are not logged in, "oc cp" fails silently.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.41:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. oc logout
2. oc cp <podname>:/dir1/dir2 /localdir/

##### Current Result
appears to complete correctly

##### Expected Result

[2018-06-12 20:28] skynardo opened #19985 "Grafana Alert Test Rule returns 403 error and Prometheus prom_proxy logs system:anonymous" cannot get namespaces in project "openshift-metrics""
[Trying to set an Alert Rule in Grafana and getting error: tsdb.HandleRequest() error bad_response: bad response code 403. When checking prometheus pod logs, find  User "system:anonymous" cannot get namespaces in project "openshift-metrics" oauthproxy.go:657: 10.131.0.1:45352 Cookie "_oauth_proxy" not present]

##### Version
[oc version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basi

[2018-06-12 22:12] abernardino opened #19988 "os"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2018-06-13 02:36] bparees commented on #13239
Not that I'm aware of.

[2018-06-13 03:07] barleyer commented on #19820
@mrogers950 hi，for option `-dry-run`，is there new PR for openshift? thanks.

[2018-06-13 04:51] malmo1 commented on #19084
The openshift version, I am using is

sudo openshift version
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

and when I try to start openshift using **sudo openshift start** , i get

66913 server.go:869] Started kubelet v1.6.1+5115d708d7
I0613 04:42:27.454391   66913 server.go:127] Starting to listen on 0.0.0.0:10250
I0613 04:42:27.457608   66913 server.go:298] Adding debug handl

[2018-06-13 14:23] stevekuznetsov commented on #18961
/shrug
/close

[2018-06-13 14:23] #18961 closed

[2018-06-13 14:23] stevekuznetsov commented on #19973
Seems fixed now

/close

[2018-06-13 14:23] #19973 closed

[2018-06-13 15:13] smarterclayton commented on #18525
/close

On Sun, Jun 10, 2018 at 8:44 PM, OpenShift Bot <notifications@github.com>
wrote:

[2018-06-13 15:13] #18525 closed

[2018-06-13 15:51] skynardo commented on #19985
After doing more troubleshooting today and turning up log level on the prometheus proxy container, we found the query being sent by the Alert Rule was going to /api/v1/query_range while the query being sent to prometheus was going to /metrics.  We also found that in the prometheus stateful set configuration the following container arg was being set for oath-proxy - '-skip-auth-regex=^/metrics'.  W

[2018-06-13 16:19] rimolive opened #19995 "Proposal to add --force-pull into `oc new-build` command"
@openshift/sig-developer-experience  As discussed in #openshift channel on Freenode, I'd like to create a new build but parametrizing it in order to force pull the base image, but there is no way to do that via command line. This is important when you need to run the build incrementally by adding more code into the base image.

[2018-06-13 18:00] abernardino commented on #19988
There must be a problem with Github.  I did not file this issue, or someone hacked my account.   Changing passwords

[2018-06-13 18:00] #19988 closed

[2018-06-13 18:08] DirectXMan12 commented on #12362
/remove-lifecycle rotten

We still need to get around to this.

@smarterclayton what specifically do you mean by this?

[2018-06-13 18:10] DirectXMan12 commented on #19940
I know about `extensions.DC` (the webconsole was doing interesting stuff), but I've never seen `apps.RC`, and I don't think we handle that, because it was not a known case (webconsole creates everything as `extensions.XYZ`, so all of those should be handled).

[2018-06-13 18:11] DirectXMan12 commented on #19940
Any idea what created `apps.RC`?  Could just be a user error.

[2018-06-13 18:17] DirectXMan12 commented on #19652
There's an "issue" with stats reporting for build pods, but that's somewhat expected.  Can you clarify what exactly the issue is?  Are the hawkular stats always showing the limit?  You'll need to provide more details.

[2018-06-13 20:31] adambkaplan commented on #19809
@bparees it looks like we have a few snowflakes for Windows, but otherwise symlinks should be respected.
Running s2i locally on MacOS respects the symlink.

[2018-06-13 20:57] bparees commented on #19809
@adambkaplan this is running in openshift so it'd be linux.  There may be some different behavior inside the openshift logic that clones/manipulates the source.  Did you try to recreate w/ @germansosa's repo inside openshift?

[2018-06-13 21:11] adambkaplan opened #19998 "Update example repos that were moved to sclorg"
Many of the GitHub repos for our example templates (ex: `django-ex`) have been moved to sclorg.

These should be updated so we don't rely on the redirect.

[2018-06-13 21:11] adambkaplan commented on #19998
@openshift/sig-developer-experience

[2018-06-13 21:16] bparees commented on #19998
the templates actually live in those upstream repos (the imagestreams also have this issue, in their sampleRepo field), so the changes need to be made there and then propagated down.

[2018-06-14 04:50] liggitt commented on #18874
this is resolved, etcd_storage_path_test.go verifies the stored versions are groupified

/close

[2018-06-14 04:50] #18874 closed

[2018-06-14 04:53] liggitt commented on #19974
the `admin` role does not include unbounded verbs like `*`, or write access to cluster scoped resources like CustomResourceDefinitions, or to the custom resources you included in your role.

the message is accurate, you are attempting to define a role containing permissions you do not have, which is not permitted.

the role you are defining requires cluster-level access, which is granted with the

[2018-06-14 04:53] #19974 closed

[2018-06-14 05:20] enj commented on #19966
@openshift/sig-user-interface

[2018-06-14 06:49] lomholdt opened #20001 "`oc get dc` deprecated?"
In older versions of the CLI (oc v3.6.173.0.83) i could do a `oc get dc` where the `dc` was a shorthand for `deploymentconfig`. But in the newest version `oc v3.9.0+191fece` it gives an error `the server doesn't have a resource type "dc"`.

##### Version
`oc v3.9.0+191fece`

##### Steps To Reproduce
1. `oc get dc`

##### Current Result
`the server doesn't have a resource type "dc"`

##### Expected

[2018-06-14 08:28] Miciah commented on #19887
Oops.  #19963 was for the master branch, but this issue is for the release-3.9 branch and thus needs #19990.

[2018-06-14 09:17] adietish commented on #19365
Given that this bug affects Windows, which is the vast majority of our users, we'd appreciate if this small issue could get fixed in a timely manner.

[2018-06-14 09:20] soltysh commented on #19909
This is problem with docker, I can't find the right bugzilla atm, but downgrade docker to previous version and that should do the trick (cc @runcom you might know the BZ behind it).

[2018-06-14 09:22] mfojtik commented on #19909
@Miciah @runcom this is the F28 thing, feel free to close when the docker in distro is fixed.

[2018-06-14 09:50] mfojtik opened #20002 "When build feature is disabled, new-app should not attempt to create buildconfigs"
In case where the builds are disabled in master-config and thus the build/buildConfig endpoint is not exposed, the new-app should give user error when user is trying to create an app from the GIT repo.

Today, users will get something like this:

[code]

If we know beforehand that we can't create BuildConfig, instead of creating resources we should error out (and tell user that the cluster configu

[2018-06-14 09:52] mfojtik commented on #20001
I can't reproduce this in 3.9 cluster using 3.9 oc binary.

[2018-06-14 09:54] soltysh commented on #20001
@lomholdt can you include `oc get dc --loglevel=9` here?

[2018-06-14 10:52] lomholdt commented on #20001
Hm, the output is full of my auth Bearer tokens, I will have to clean the output.

[2018-06-14 10:59] lomholdt commented on #20001
I am however running on:
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

Server https://myopenshiftplatform
openshift v3.6.173.0.113
kubernetes v1.6.1+5115d708d7

[2018-06-14 11:06] dhanugithub commented on #14192
Hello,
I am also getting same error. I am deploying Openshift directly on VMs on a server.
§ git describe
openshift-ansible-3.6.173.0.124-1
§ ansible-playbook -i /etc/ansible/hosts /home/stack/openshift-ansible/playbooks/byo/config.yml --ask-pass -v
These are my commands.

Failure summary:
  1. Hosts:    openshift-master.bips.com
     Play:     Configure masters
     Task:     restart master

[2018-06-14 11:08] dhanugithub commented on #14192
/repopen

[2018-06-14 11:49] dhanugithub commented on #14192
/reopen

[2018-06-14 11:52] soltysh commented on #20001
The fact you're running new client against old server might be the problem. In newer versions we rely on the server to provide the information about aliases, such as `ds`, whereas previously these were hardcoded. By definition we only provide +/-1 version compatibility, so I'd suggest running 3.6 client against 3.6 cluster.

[2018-06-14 12:04] lomholdt commented on #20001
Ah, I understand. That makes total sense. Thank you @soltysh and @mfojtik.

Thanks!

[2018-06-14 12:04] #20001 closed

[2018-06-14 12:34] spadgett commented on #19966
It looks like CronJob isn't showing up in Other Resources because it's not in the batch/v1 API group, only batch/v1beta1. We're only showing batch/v1 resources there.

/kind bug
/priority p2
/assign

[2018-06-14 12:41] adambkaplan commented on #19809
@bparees yes, and I was able to reproduce for 3.9. Currently investigating why that's the case, as git clone respects the symlink in a CentOS-based container.

[2018-06-14 13:36] liveaverage commented on #19605
Seeing the exact same issue as @Reamer on both OCP (3.9.27) and Origin (v3.9.0+ba7faec-1) deployments. I'm Working to test OCP 3.9.30 since it's supposed to be fixed but haven't made any progress on diagnosing/fixing the issue with origin installs.

[2018-06-14 13:53] benjaminapetersen commented on #19966
@spadgett should we migrate to web console repo?

[2018-06-14 14:09] bparees commented on #19365
@adietish there's now a PR in flight: https://github.com/openshift/origin/pull/19972

[2018-06-14 14:32] dmetzler opened #20005 "502 error on webconsole"
After redeploying certificates, I get a 502 error when trying to access the web console.

The other APIs look fine and `/healthz/ready` responds `ok`

##### Version

oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

openshift v3.9.0+a96a520-22
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce

- Launch a redeploy certificates
- Try to access the web console

##### Current R

[2018-06-14 14:41] sdodson commented on #14192
@dhanugithub all of those logs have lines truncated way too short to be useful. Can you gather logs with the --no-pager option specified so we get the whole line?

[2018-06-14 15:23] bparees commented on #20002
more background in the original bug: https://bugzilla.redhat.com/show_bug.cgi?id=1591003

[2018-06-14 15:46] enj commented on #20005
@openshift/sig-master @openshift/sig-user-interface

[2018-06-14 15:48] enj opened #20007 "All users in OpenShift org should be able to approve bindata changes"
@stevekuznetsov I assume the bot does not have the concept of an organization?

cc @deads2k

[2018-06-14 15:58] megastallman opened #20009 "Openshift router does not respect ingress.kubernetes.io annotations"
[provide a description of the issue]
Openshift router does not respect ingress.kubernetes.io annotations, when tuned for kubernetes-ingress compatibility(https://docs.openshift.org/latest/admin_guide/managing_networking.html).

##### Version
$ oc version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
I'm using the same ingress c

[2018-06-14 15:59] gtema opened #20010 "xfs quota detection"
Setting `openshift_node_local_quota_per_fsgroup=512Mi` and `/var/lib/origin/openshift.local.volumes` being located on xfs system with `gquota` option prohibits start of origin-node service:

[code]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. mount volume with xfs and gquota option under `/var/lib/origin/openshift.local.volumes` of

[2018-06-14 16:10] stevekuznetsov commented on #20007
No. There is a mechanism for defining "groups" but in general we did not want to use GitHub groupings as there is no audit trail for membership changes to them. How often is this an issue?

[2018-06-14 16:15] Miciah commented on #19909
@mfojtik, did you mean to tag me?

[2018-06-14 16:17] runcom commented on #19909
I don't have the bz handy (on my mobile) but yeah, this is a docker/runc issue we've fixed and docker from updates-testing in F28 has the fix, feel free to test

[2018-06-14 17:11] deads2k commented on #20007
Not very often.  It's a frustrating thing we don't need for bindata though.  We want to control that at the source.

[2018-06-14 18:53] #13127 closed

[2018-06-14 18:53] #18061 closed

[2018-06-14 18:53] #18090 closed

[2018-06-14 18:53] #2581 closed

[2018-06-14 18:53] #15177 closed

[2018-06-14 18:58] Miciah commented on #19887
Meh.  I shouldn't have put that "Fixes" line in the commit message.

[2018-06-14 21:40] stevekuznetsov commented on #18497
/close

[2018-06-14 21:40] #18497 closed

[2018-06-15 04:27] lletelier commented on #19955
Which version are you running?
`minishift version
minishift v1.18.0+756b128`

[2018-06-15 06:53] praveenkumar commented on #19909
I can confirm this is resolved with updated docker version in fedora. @surajssd Can you give it a try and close this issue here.

[2018-06-15 07:35] akostadinov commented on #15184
bump

[2018-06-15 08:38] tnozicka commented on #18689
/lifecycle frozen

[2018-06-15 08:59] #17445 closed

[2018-06-15 09:03] adietish commented on #19365
@bparees awesome!

[2018-06-15 09:07] tnozicka commented on #18467
/lifecycle froze

[2018-06-15 09:31] DanyC97 commented on #15623
@cello86 any chance you can close this issue please ? thx

[2018-06-15 09:44] kargakis commented on #18467
/lifecycle frozen

On Fri, Jun 15, 2018, 12:07 Tomáš Nožička <notifications@github.com> wrote:

[2018-06-15 09:57] martinpitt commented on #19524
Any idea here? This is still blocking us for testing and e. g. fixing https://bugzilla.redhat.com/show_bug.cgi?id=1373332

[2018-06-15 12:15] pmacko1 opened #20018 "update docs for ``oc cluster up``"
update docs for ``oc cluster up`` (I'm using fedora 28)
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#overview

##### Original docs
``docker network inspect -f "{{range .IPAM.Config }}{{ .Subnet }}{{end}}" bridge``

##### Updated docs
``sudo docker network inspect -f "{{range .IPAM.Config }}{{ .Subnet }}{{end}}" bridge``

##### Why?
all ``docker`` cmd's require ``sudo``
h

[2018-06-15 12:45] kadhonn commented on #20005
I just ran into the same issue. Seems like the ansible playbook does not recreate the secret/webconsole-serving-cert from the webconsole, which is a autogenerated [service serving certificate](https://docs.openshift.com/online/dev_guide/secrets.html#service-serving-certificate-secrets).

From the docs it should be sufficient to delete the secret to regenerate it, but for some reason this didn't wo

[2018-06-15 14:23] jocelynthode commented on #19931
@jboyd01 : Ok I tried to do a clean install (recreated hosts) and restarted the openshift ansible playbook as the network looked fine and the only explanation I could find is that somehow something got misconfigured during the installation. However it looks like I'm unable to register the TSB with the broker:

[code]
One specialty of my installation is that I do not want to install the ansible ser

[2018-06-15 14:35] dmetzler commented on #20005
Thank you that worked. Instead of re-executing the playbook I did the following:

[code]

After deleting the secret, it is automatically recreated by the service. You then have to restart all pods to take the newly generated secret

[2018-06-15 14:35] #20005 closed

[2018-06-15 14:37] jboyd01 commented on #19931
You don't need to install Ansible Service Broker.  TSB and Service Catalog will work fine without it.

The new error you are seeing indicates the Service Catalog extension is not registered with Kubernetes.  Can you try  `kubectl get apiservices`  and see if  catalog is listed?  Actually output from `oc describe apiservices v1beta1.servicecatalog.k8s.io -n kube-service-catalog` would be best.

You

[2018-06-15 14:38] martinpitt commented on #19524
Thanks, that already helps. The trick with `openshift start --write-config` to generate a master-config.yaml  works, so I can patch its `imagePolicyConfig`. Generating `node-config.yaml` with `oc adm create-node-config` seems to be much more involved and require a lot of repetitive CLI args, but still looks doable. I'll look into that soon (next week our team has a sprint), thanks!

I'll also look

[2018-06-15 14:41] martinpitt commented on #19524
It [says](https://docs.openshift.org/3.9/admin_guide/image_policy.html#configuring-registries-allowed-for-import): "You can configure registries allowed for import in master-config.yaml under imagePolicyConfig:allowedRegistriesForImport section as demonstrated in the following example. If the setting is not present, all images are allowed."

As we don't have any explicit `imagePolicyConfig`, and n

[2018-06-15 15:55] miminar commented on #19524
I'm afraid I've got bad news for you. You still need to generate that config and patch it somehow and then pass it to the `oc cluster up`. Well, I'm not really fond of watching `openshift start` go away either, but pros shall outweight the cons in the long run.

Fair point. The documentation assumes that there's a configuration file being used. While in your case, no config file means the default

[2018-06-15 16:09] bparees commented on #19524
i think @smarterclayton just changed this recently, i don't think there's any whitelist in effect by default anymore, under any conditions:
https://github.com/openshift/origin/pull/19829

[2018-06-15 17:10] jpeeler commented on #19718
Fixed now.

[2018-06-15 17:10] #19718 closed

[2018-06-15 17:11] jpeeler commented on #19887
Looks like it's fixed now!

[2018-06-15 17:11] #19887 closed

[2018-06-15 18:57] #17228 closed

[2018-06-15 18:57] #18025 closed

[2018-06-15 18:57] #15982 closed

[2018-06-15 18:57] #18116 closed

[2018-06-15 19:57] potthastbenjamin commented on #18507
/remove-lifecycle stale

[2018-06-15 20:00] potthastbenjamin commented on #19003
Any other solutions to this? I checked out the release branch but ansible still fails when trying to start  the Openshift Node service for the master node.

[2018-06-15 20:14] mtnbikenc commented on #19003
Release branches should be used for installing a particular version:
release-3.7 branch for installing 3.7
release-3.9 branch for installing 3.9
release-3.10 branch for installing 3.10 (branched today)
master branch for installing 3.11 (give us some time to make sure this is working since we just branched and packages have not been built)

If there is a specific problem using the release branch, w

[2018-06-15 20:26] bparees opened #20022 "imageimportcontroller can't use host CAs anymore"
With oc cluster up and v3.10 both moving controllers into containers, they no long have access to the host system CAs.

That means that for components like imageimport, the admin cannot add self-signed certs to the host system to enable imageimport to talk to in-house registries.

@deads2k has suggested this is basically a flaw in how imageimport always worked (it never should have used system cer

[2018-06-15 20:41] martinpitt commented on #19524
@bparees: Heh, funny - so I was right for the wrong reasons :-) Either way, I understand it now, and I see how this sentence is a bit ambiguous. Thanks for the fix!

[2018-06-16 09:27] gtema opened #20025 "Can't install 3.9 with /var/lib/origin/openshift.local.volumes being a mount"
With the same inventory file and deployment preparation as for 3.7 (/var/lib/origin/openshift.local.volumes is being a mountpoint) I am not able to install openshift. Not a single pod is being able to start with the following message in `oc get events`:

[code]
It is relevant not only for glusterfs pods, but simply anything. Unmounting device (does not matter, whether this is ext4 or xfs) immediat

[2018-06-16 10:46] patrickHub commented on #19614
Thanks @praveenkumar, it's also work for me.

[2018-06-16 13:00] #18122 closed

[2018-06-16 19:01] #13212 closed

[2018-06-16 19:01] #17963 closed

[2018-06-16 19:01] #18123 closed

[2018-06-16 19:03] dmetzler commented on #20005
I'll open a new ticket on the ansible repo, this one is not done for that purpose.

[2018-06-16 23:17] michaelcourcy opened #20026 "How can I use a custom icon in the catalog for a new template ?"
I create a new template. It shows up in the catalog but I want to associate a custom icon. How can I achieve that ?

##### Version
3.9

##### Additional Information
I read the whole documentation about customizing the web-console but I could not find anything related to this.

[2018-06-17 00:28] kadhonn commented on #20005
ahh, ok, thanks :)

[2018-06-17 01:02] #14055 closed

[2018-06-17 01:02] #14554 closed

[2018-06-17 09:04] michaelcourcy commented on #20026
I'm sorry this answer is in the doc https://docs.openshift.org/latest/dev_guide/templates.html#writing-templates

[2018-06-17 09:04] #20026 closed

[2018-06-17 18:50] smarterclayton commented on #20022
We need to start moving config into the apiserver as configmaps or CRD.
Lots of other components have similar needs.

What is the change that puts us on that path?

On Jun 15, 2018, at 4:27 PM, Ben Parees <notifications@github.com> wrote:

With oc cluster up and v3.10 both moving controllers into containers, they
no long have access to the host system CAs.

That means that for components like imag

[2018-06-17 18:59] smarterclayton commented on #20022
I think the controller should load a secret or config map from a known
location and refresh periodically.

That’s roughly equivalent to secrets and also sets the stage for global
import secrets (look at a docker config json secret for all imports and
layer it in).  We’d need for that to try multiple on failure so that can be
a later thing.  That then bridges the gap for centrally managed generic
r

[2018-06-17 22:47] bparees commented on #20022
location and refresh periodically.

This is likely going to be painful for dealing w/ things like certs.  I haven't inspected the code, so perhaps there's an easy solution, but I would guess the cert configuration is going to be controlled by libraries/dependencies deeper in the stack than the controller is operating at, and the easiest way for the controller to add a trusted certificate to its re

[2018-06-17 22:48] bparees commented on #20022
(I don't disagree that for configuration data that didn't previously come from the local filesystem, having code pick it up directly from a configmap makes sense)

[2018-06-18 05:04] wgbeckmann commented on #18046
You are right. It works after a downgrade.
Thanks!

[2018-06-18 06:35] gtema commented on #20010
This can be actually linked to https://github.com/openshift/origin/issues/20025, since even after replacing xfs with ext4 I am not able to proceed with the installation. The origin-node service starts, but not a single pod is able to mount storage

[2018-06-18 07:09] surajssd commented on #19909
yes this was fixed for me on docker version

[code]

[2018-06-18 07:44] gtema commented on #20025
Addition: I was able to proceed, when I mount storage under `/var/lib/origin` instead of `/var/lib/origin/openshift.local.volumes`

[2018-06-18 08:46] mfojtik commented on #20018
@pmacko1 can you send a PR with this fix?

[2018-06-18 09:03] pmacko1 commented on #20018
@mfojtik apologies, busy. could you ping someone from openshift-docs?

[2018-06-18 11:48] deads2k commented on #20022
I don't like seeing pods directly inspecting configmaps.  As we start moving to components running in pods, I'd expect those pods to read configuration from disk that was mounted via a configmap.  Using the master-config.yaml with a file reference (like we commonly use today for other things), would allow an admin to manage a configmap and config pointing to it.

I do not think that all trust is t

[2018-06-18 12:10] jocelynthode commented on #19931
I recreated the cluster from scratch again and this time I guess I was lucky during the ansible run as it was able to register the TSB.

I checked the commands:

- First one is having sometimes 404 as before. (probably when hitting a wrong combination of master -> nodes)
- Second one is having timeouts sometimes as well.

When I get a timeout the apiservice will say what is below:

[code]
When I d

[2018-06-18 12:41] Tiboris commented on #13503
Hello @nicolasroger17 I will look into it ASAP :)

[2018-06-18 13:21] knobunc commented on #17233
Yeah, 1.4 is too early for the proxy protocol support.  I'd encourage you to upgrade to a later version.

[2018-06-18 13:21] #17233 closed

[2018-06-18 13:58] adambkaplan commented on #19809
@germansosa this is an underlying issue with Source-to-Image. Moving this to an issue on that project.

[2018-06-18 14:07] dongascan opened #20030 "How to get latest deployment in openshift"
Hi All,

I have a openshift cluster and  daily there are lot deployments are happening . I have a requirement to get the latest deployment based on age . Does any one have a method or script using for that ?

[2018-06-18 15:13] bparees commented on #20022
So the proposal as I understand it is:

1) add a "path to extra CAs" field to the imageimport section of the master-config:
2) for cluster up, require admins to i) tweak the pod yaml to mount the extra certs to the path they specify in (1) and ii) tweak the master-config to indicate the path they chose
3) for ansible installs, provide ansible variable(s?) that allow the admin to pick a host path t

[2018-06-18 16:47] deads2k commented on #20022
Correct for 1 and 2.  I'm not sure of the exact mechanism for 3, but that seems plausible.

[2018-06-18 19:09] knobunc commented on #18924
/remove-lifecycle stale
/assign @squeed

[2018-06-18 19:40] simo5 commented on #18922
This was by design and the "bug" was fixed in a different way

[2018-06-18 21:41] stevekuznetsov opened #20037 "Unknown types take forever to resolve as missing"
Something to do with APIServer responses?

Compare a type that does not exist:
[code]

With an object that does not exist:
[code]

Why?

/cc @smarterclayton @deads2k @liggitt
/kind bug
/area kubernetes

[2018-06-18 21:48] liggitt commented on #20037
Unknown types force full rediscovery, to see if the type you specified exists in a hitherto undiscovered group version. This is run in parallel in 1.11, which speeds it up immensely

/close

[2018-06-18 21:48] #20037 closed

[2018-06-18 21:51] juanvallejo commented on #18927
/remove-lifecycle stale

[2018-06-19 01:03] #13243 closed

[2018-06-19 02:21] t0ffel opened #20039 "`oc cluster up` imagePolicyConfig should allow registry.centos.org"
`oc cluster up` fails because imagePolicyConfig generated by oc cluster up doesn't allow registry.centos.org, while `oc cluster up` tries to import imagestream from registry.centos.org

##### Version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce

1. run `oc cluster up`

##### Current Result
Cluster startup fails. The section of

[2018-06-19 03:34] Valien commented on #18596
So decided to try this again and still broken with docker version 18.03.1-ce. At least it's nice to know it's a verified issue/bug. Bummed there is no resolution besides using an older version of docker though.

[2018-06-19 05:43] nak3 opened #20040 "Unable to reconcile bootstrap cluster roles{-bindings} without backup file"
##### provide a description of the issue

- Although `oc adm policy reconcile-cluster` is deprecated and it suggests `oc auth reconcile`, `oc auth reconcile` needs a FILE to specify and reconcile. Hence wihtout backup it is not possible to reconcile default(bootstrap) roles.

[code]

##### Version

[code]

##### Current Result
- No way to reconcile bootstrap cluster roles without backup files.
- N

[2018-06-19 08:56] miminar commented on #19524
@bparees Thanks for pointing that out. Didn't know about this. It applies to 3.10 and above though.

[2018-06-19 11:05] soltysh commented on #19909
I'm confirming as well that `docker-1.13.1-59.gitaf6b32b.fc28.x86_64` works just fine.
/close

[2018-06-19 11:05] #19909 closed

[2018-06-19 11:54] miminar commented on #19524
Documentation fixes for 3.9 and 3.10+:

- openshift/openshift-docs#10217
- openshift/openshift-docs#10205

[2018-06-19 13:04] #16797 closed

[2018-06-19 14:32] gtema commented on #20010
It definitely depends on #20025. After changing mountpoint to `/var/lib/origin` instead of `/var/lib/origin/openshift.local.volumes` everything works.

[2018-06-19 14:32] #20010 closed

[2018-06-19 16:06] bparees commented on #20022
ok, slightly modified plan.

Since we already mount /etc/origin/master into the control plane, my intent is to do the following:

1) instruct users to create a /etc/origin/master/imageimportcertificates directory containing their additional certs
2) always mount that directory to /etc/pki/ca-trust/imageimportcertificates in the api server pod
3) update the imageimport api to always use additional

[2018-06-19 19:16] dmsimard commented on #14384
/remove-lifecycle rotten

[2018-06-19 19:31] cmcconnell1 commented on #18596
Apologies, I previously automated workarounds for our team shortly after my posts above and then I forgot about this issue.  I'm new to Minishift/Openshift (coming from deis workflow && looking at OS Origin to provide a solid PaaS solution), and not sure if this would work for everyone.

TL;DR:
Here is my initial POC (with docker for mac minishift workaround) for a local minishift cluster:
[minish

[2018-06-19 19:46] bparees commented on #20022
(there is officially a bug for this now: https://bugzilla.redhat.com/show_bug.cgi?id=1592936)

[2018-06-19 20:15] liveaverage commented on #19605
Confirmed the same issue exists on OCP 3.9.30

[2018-06-19 20:31] hetzbh opened #20044 "openshift 3.7 (origin) does not want to start"
Centos 7.5, Openshift 3.7. Everything works ok so I decided to add metrics:

[code]

Playbook running is succesfull, but when trying to access http://hawkular-metrics.apps.hetzlabs.io gives "Application not found".

so I checked the pods in openshift-infra

[code]

Trying the diagnostic part gives:

[code]

I followed the instructions on the web site (without persistent storage).
Have I forgot any

[2018-06-19 21:13] hetzbh commented on #20044
I wish there was a FAQ...
Anyway, for those who will find themselves with this issue, follow these instructions to fix it.
Reason for error? By default, openshift ansible pulls the **latest** version and not the 3.7.1 version.

Instructions:

- remove old metrics stuff: use ```oc login -u system:admin``` and then ```oc project openshift-infra```
- run: ```oc delete all,secrets,sa,templates --selec

[2018-06-19 21:38] #19365 closed

[2018-06-19 21:52] mshutt commented on #19931
We're actually seeing a totally different issue but seemingly related.  Sometimes when we take a master down by cordoning it and then stopping the services, we're seeing issues wherein the service itself is having issues.  Sometimes we see the iptables on one of the remaining masters with literally no service nat rules at all for the kube-service-catalog/apiserver service.  Sometimes, we'll see `o

[2018-06-19 21:59] davidaah commented on #18259
i think this feature ask is still relevant even in 3.9

/remove-lifecycle stale

[2018-06-19 22:01] davidaah commented on #18259
@pweil- @knobunc -- just wanted to follow up on this. is it possible to take a look at this or let me know if it should be reassigned?

[2018-06-19 23:02] japplewhite commented on #14184
same here

[2018-06-20 03:39] ffly827 opened #20046 "GitHub webhook couldn't connect to server"
I'm a complete starter on OpenShift so please forgive me if I'm wrong about stuffs XD.

I was setting up the webhook for my ruby example on GitHub, following the guide here: https://docs.openshift.org/3.9/getting_started/developers_console.html#developers-console-configure-auto-builds. But GitHub is giving me a "We couldn’t deliver this payload: Couldn't connect to server" error when delivering th

[2018-06-20 07:04] #17965 closed

[2018-06-20 07:22] jocelynthode commented on #19931
@jboyd01 : I'm using the openshift-sdn multitenant, the kube-service-catalog has a NETID of 0 if it's any help.

[2018-06-20 07:38] jocelynthode commented on #19931
@jboyd01 Here are some logs from the api service on one of the master. I can attest that UDP packets flow from one master to the other.
[code]

I also noticed some discrepancy between the iptables rules displayed on one machine and the other:
https://gist.github.com/jocelynthode/55e1956360fcf09abd332a5e1261fb10
https://gist.github.com/jocelynthode/a60605f64b0bd7c826a14eb115265ed3

Both are using t

[2018-06-20 08:02] Reamer commented on #19605
@liveaverage Thanks for description of your workaround. I'll try it.

[2018-06-20 08:20] mikz commented on #18596
@cmcconnell1 I just settled on `oc cluster up --create-machine`.

[2018-06-20 09:22] Reamer commented on #19605
@liveaverage Thanks for your workaround. It seems to work correctly.

[2018-06-20 13:18] pweil- commented on #18259
@ironcladlou WDYT?

[2018-06-20 13:35] jboyd01 commented on #19931
@jocelynthode:
I believe  the first set of log msgs you posted from the master-api are "normal".  OpenAPI AggregationController messages with Service Catalog can be ignored - catalog is not integrated with OpenAPI at this point.

I'm not so certain about `available_controller.go:295] v1beta1.servicecatalog.k8s.io failed with: Get https://172.30.5.22:443: net/http: request canceled while waiting fo

[2018-06-20 13:45] ThiefMaster commented on #6786
How is this closed? The lack of a sane way to update secrets without going through the webinterface and manually base64 encoding it or messing with JSON/YAML on the CLI seems like a major annoyance / missing feature.

/reopen

[2018-06-20 14:24] ironcladlou commented on #18259
On the surface DaemonSet seems more appropriate to me, with a rolling update strategy; that said, I also wonder about any prior discussion and will reach out to the team.

[2018-06-20 14:55] jboyd01 commented on #19931
@mshutt that is really interesting what you are seeing.  May be related.  Is this on AWS?  Do you have SDN configured?

Can you clarify "but curls to the remaining two pods are both working fine" ?  Do you mean the same command, or if you curl against the catalog APIServer pod directly?  One of the catalog apiserver pods is deliberately down and hangs if you curl against it?

I'd be very curious t

[2018-06-20 14:58] ironcladlou commented on #18259
https://trello.com/c/gnujjOX5

[2018-06-20 15:09] pmorie commented on #19931
This sounds very much like intermittent network/sdn issues to me.

[2018-06-20 15:15] pmorie commented on #19931
@mshutt would you mind creating a distinct issue for the problem you're hitting? Your problem and @jocelynthode's definitely sound related, but having a distinct issue will help us keep the exact symptoms straight and debug effectively.

[2018-06-20 15:27] pmorie commented on #19931
@jocelynthode Would you clarify this text from the issue description?

I believe that's what you meant from some comments in this issue but want to be certain.

Does this mean that you're running the curl command from the nodes where the masters are running?

@jocelynthode I think based on my read-through of this issue that you've encountered intermittent connectivity issues in a few different sce

[2018-06-20 15:27] dhanugithub commented on #14192
@sdodson thank you for quick reply.
I am not getting the error mentioned above now. Somehow when I tried to re-run ansible-playbook command I am now having SSH authentication issues, which I am struggling with. In the process of solving this ssh error I am quite stuck.
I will get back to this when I solve ssh error.
Thank you.

[2018-06-20 16:33] jocelynthode commented on #19931
@jboyd01 @pmorie  To recapitulate:  **Deployment on-premise**

When I try to  `curl -vvv -X GET https://openshift-internal.XXX/apis/servicecatalog.k8s.io/v1beta1 --insecure` Sometimes I get the expected JSON, sometimes I get a `404 page not found`.

When I try to `curl -vvv https://apiserver.kube-service-catalog.svc:443 --insecure` directly from a master, sometimes I get the expected JSON, sometim

[2018-06-20 16:34] aossama commented on #20046
I noticed that the exposed URL is a nip.io and the server is localhost, which means that this is a local installation, probably using "oc cluster up". For GitHub webhooks to be able to trigger remote builds on your OpenShift, the OpenShift needs to be exposed to the internet and GitHub must be able to access it.

Is your OpenShift instance exposed to the internet at all and accessible by GitHub we

[2018-06-20 16:54] aossama commented on #20039
You need to add the registry in the allowedRegistriesForImport, and restart the `origin` container:

[code]

[2018-06-20 17:29] mshutt commented on #19931
Openshift hosted, bare metal, on premise with ovs-subnet.  No fancy network
bells and whistles underneath.  Just straight untagged ethernet, legacy
style.

On Wed, Jun 20, 2018, 10:55 AM Jay Boyd <notifications@github.com> wrote:

[2018-06-20 20:08] wbrefvem commented on #16304
/close

[2018-06-20 20:08] #16304 closed

[2018-06-20 20:38] mshutt opened #20050 "haproxy Master API load balancers behaving like `balance first` backend rather than `balance source`"
haproxy load balancers deployed by `openshift-ansible` and using the `openshift/origin-haproxy-router:v3.9.0` are behaving like they are configured for `balance first` rather than the defined `balance source` (from `/etc/haproxy/haproxy.cfg`)

The previous version which used `openshift/origin-haproxy-router:v3.7.2` behaved more as expected.

This MAY or MAY NOT belong to the `openshift-ansible` pr

[2018-06-21 02:08] ffly827 commented on #20046
Oh gotcha! I won't be exposing my OpenShift instance for now so I guess I'll just do the manual rebuild as an alternative :).

[2018-06-21 02:08] #20046 closed

[2018-06-21 02:56] davidaah commented on #18259
thanks @ironcladlou ! completely agree with the description in the linked card. operationally we've found the current model to be somewhat challenging, especially in scenarios where we consider re-allocating nodes or cluster expansion. Today, that requires a lot of careful/manual modifications to redistribute these pods. a daemonset w/ rollingUpdates should enable us to much more effectively manag

[2018-06-21 06:43] fvanraem commented on #17952
Running into a very similar looking problem on a OCP 3.9.30 master.

root@master6:~ # oc version
oc v3.9.30
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://cluster.example.com:8443
openshift v3.9.30
kubernetes v1.9.1+a0ce1bc657

root@master6:~ # oc get dc
the server doesn't have a resource type "dc"

root@master6:~ # oc get deploymentconfig
NAME

[2018-06-21 06:59] Cariaga commented on #18929
/close

[2018-06-21 06:59] #18929 closed

[2018-06-21 07:15] fvanraem commented on #17952
/remove-lifecycle rotten

[2018-06-21 07:46] finp commented on #20018
@pmacko1  I run docker on Fedora without sudo, see https://docs.docker.com/install/linux/linux-postinstall/

[2018-06-21 07:54] jorgemoralespou commented on #19002
/lifecycle frozen

[2018-06-21 08:29] finp opened #20054 "Docs enhancement request: cluster_up_down.md to .adoc format"
Convert  cluster_up_down.md to asciidoc format

See https://github.com/openshift/origin/pull/20053

[2018-06-21 08:40] dusansusic commented on #14192
I can confirm I have this problem.

[2018-06-21 08:52] galderz opened #20055 "OpenShift w/ service catalog fails to start with default firewall settings in CentOS"
OpenShift cluster with service catalog should be able to start with default firewall settings on CentOS 7.5. With OpenShift 3.9 or 3.7.1 it does not.

OpenShift cluster, without service catalog, starts fine with default firewall settings.

With service catalog, it fails to do so: OpenShift logs are [here](https://gist.github.com/galderz/6cafaf35c8458986ed7ea160fc7e978b) and docker logs [here](http

[2018-06-21 10:31] jamesddube commented on #19535
I facing the same issue, trying to install openshift will try dig around and come up with a solution

[2018-06-21 11:52] pmacko1 commented on #20018
@finp and that was what i actually had to do in order to get oc cluster up working.

[2018-06-21 12:09] pmacko1 opened #20057 "[docs] update oc cluster up linux docker prereqs"
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#prerequisites
### Which section(s) is the issue in?
oc cluster up linux prereqs

### What needs fixing?
Docker versioning system is for non experienced users not clear.
CE version is now ~v18.
~Docker Engine is a Superseded product
https://docs.docker.com/cs-engine/1.13/~

Update the docs: ~Docker Version~ Docker API Version

[2018-06-21 12:11] pmacko1 commented on #20018
Very good point @finp I suggest then to tell user to configure docker to do this procedure https://docs.docker.com/install/linux/linux-postinstall/#manage-docker-as-a-non-root-user

[2018-06-21 13:05] #17636 closed

[2018-06-21 13:10] oskarkorczak commented on #2162
`/remove-lifecycle stale`

[2018-06-21 15:54] jim-minter opened #20060 "api server informers use openshift-master.kubeconfig, should connect to localhost instead"
Today the api server informers use openshift-master.kubeconfig to connect back to the local api server.  The post start hooks use a different mechanism and connect directly to localhost.

The api server informers should use the same mechanism as the post start hooks.

The issue is that the informers need to work for the api server to report healthy.  When running the api server in a pod with readi

[2018-06-21 15:55] jim-minter commented on #20060
@kargakis @pweil- @deads2k fyi

[2018-06-21 15:58] jim-minter commented on #20060
Should watch out in case there are any other API server loopback connections in the same bucket - presumably there should be none?

[2018-06-21 17:17] jboyd01 commented on #19931
Thanks for the update @jocelynthode.  If you get a chance I'd like to read an update assuming you guys resolve it with network configuration.

[2018-06-21 17:30] jorgemoralespou opened #20062 "oc cluster up does enable default component on existing install"
Starting an origin cluster with `oc cluster up` with some components (not all the defaults) and keeping the config, when stopping and starting again, it does install the default components.

##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result
centos-Imagestreams are applied

##### Expected Result
centos-imagestreams should not be available, as the cluster was already bootsr

[2018-06-21 17:34] jocelynthode commented on #19931
@jboyd01 Will do, also in case anyone encounters the same kind of issue they will at least have some pointers

[2018-06-21 17:50] mshutt commented on #19931
This is definitely not us.  I'll be opening a new issue as soon as is
possible, but I just had another node go haywire and it's been a rough
couple of days!!!

Latest patches of CentOS 7.5 and the 3.9.0 upgrade were too close to one
another!!!

On Thu, Jun 21, 2018 at 1:35 PM, Jocelyn Thode <notifications@github.com>
wrote:

[2018-06-21 18:00] leoluk opened #20063 "Add option to disable S2I submodule update"
Right now, the S2I builder always clones submodules.

However, for complex repositories, this is not ideal - the S2I assemble script might want to selectively update submodules itself or specify a `--depth`.

https://github.com/openshift/source-to-image/blob/78a76d9704793852ec10829cb00b331fd6054758/pkg/api/types.go#L113

[2018-06-21 18:47] MrFishFinger opened #20065 "openshift-3-jenkins-example - glusterfs PVC issue"
openshift-3-jenkins-example does not seem to work "out of the box" with glusterfs storage back-end

##### Version
oc v3.9.0+b8265d6-31
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://openshift-internal.qvie.qitasc.com:8443
openshift v3.9.0+b8265d6-31
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. Build openshift-origin cluster with glusterfs usin

[2018-06-21 19:06] #13135 closed

[2018-06-21 20:08] MrFishFinger commented on #20065
what I omitted to include in the original description, was that I am using Atomic host for the Openshift nodes.
I followed a suggestion in the issue https://github.com/openshift/openshift-ansible/issues/7324 to resolve this situation.
Basically I just needed to add this entry to my inventory file:
`[OSEv3:vars]
openshift_storage_glusterfs_storageclass_default=true
`

[2018-06-21 20:18] ironcladlou commented on #18259
@davidaah I don't know if you're already aware of it, but this issue led me to the upstream [keepalived-vip](https://github.com/kubernetes/contrib/tree/master/keepalived-vip) project which implements keepalived with a DaemonSet in a more Kube-native fashion. Going to be taking a closer look at it in the very near future.

[2018-06-21 20:20] mshutt commented on #20050
Oh hey, here is the fix:

`http://git.haproxy.org/?p=haproxy-1.8.git;a=commit;h=22ca440f0ab444336deadc992059e2b5510b8c1d`

Apparently this is an issue that affected all haproxy 1.8's and I don't know off hand if this would have any effect on the use case of the router pod.

[2018-06-21 20:26] deads2k opened #20067 "test-integration never reports failed even with failed tests"
Working on the [rebase branch](https://github.com/openshift/origin/pull/20033) it seems that test-integration never reports red.

/assign @stevekuznetsov

[2018-06-21 20:28] mshutt commented on #20050
I see this in the a running pod's `/var/lib/haproxy/conf/haproxy.config`

[code]

Yeah looks like this might cause issues in the router pod as well.

[2018-06-21 20:44] mshutt commented on #20050
Yes, it looks like this will definitely cause all external traffic to the docker-registry or the kube-service-catalog to use the first endpoint in the list?  Perhaps it's for every SSL Passthru Route?

[2018-06-21 22:39] bjwschaap commented on #18222
/remove-lifecycle stale
Any updates on this issue? I'm hitting the same problem..

[2018-06-22 00:02] stevekuznetsov commented on #20067
This does seem to only be on your branch.

The way the test logs get cut off mid-run makes me thing something is killing the test container. Can you export `OS_DEBUG=true` at the top of `hack/lib/init.sh` in your PR so we can see more information?

[2018-06-22 00:03] stevekuznetsov commented on #20067
Hmm... the latest run on your PR [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20033/test_pull_request_origin_integration/18742/) exported jUnit results and failed as expected.

[2018-06-22 00:05] stevekuznetsov commented on #20067
As seen [here](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/20033/test_pull_request_origin_integration/18729/artifacts/scripts/shell/logs/scripts.log) the test container exited with zero code when it failed that weird way...

[code]

[2018-06-22 00:06] stevekuznetsov commented on #20067
Let's revisit this if it's consistent on your PR again since it seems to have abated

[2018-06-22 00:30] rojcosta commented on #10864
Hi,.

I've been facing the same situation. After reading this thread and done some tests I've realized it's possible to use *oc rollout status* with CI/CD to determine if the rollout was completed successfully. You can see my tests bellow:

Monitoring the status without stopping the deploy using the web console:
[code]

Monitoring the status while I stop the deploy using the web console:
[code]

S

[2018-06-22 02:01] #15772 closed

[2018-06-22 02:01] #18045 closed

[2018-06-22 02:01] #17177 closed

[2018-06-22 11:07] mfojtik commented on #20062
@jorgemoralespou we don't know what components you started it first (we don't store the list). We can probably serialize the list of components you picked in the initial run and store it in a file inside base-dir (then attempt to read that file on next run and set the components from there). @deads2k would you be fine with that?

[2018-06-22 11:16] jorgemoralespou commented on #20062
@mfoktik, if the config is preserved, why would it apply any component install on the second run? I would assume that the first bootstrap selects the components and creates the config. In second start, if there's a config, it should just start.
No wonder why it's substantially slower now on second start than before.

[2018-06-22 11:30] jorgemoralespou commented on #20062
@mfojtik, I understood, but was wondering why if the config is preserved this step is run, and such a json file needed. I guess that currently as this is an implicit flag it gets reinterpreted no matter what. My comment was only on interpreting the implicit component enablement only when config is not detected.
In any case, any fix will work.

[2018-06-22 12:09] mfojtik commented on #20039
@smarterclayton @bparees  i think we should add this registry to default whitelist?

[2018-06-22 12:10] mfojtik commented on #20030
/cc @tnozicka

[2018-06-22 13:54] bparees commented on #20039
as of v3.10 there is no longer a default whitelist (everything is allowed).

[2018-06-22 13:54] #20039 closed

[2018-06-22 15:12] bparees opened #20078 "Extended.[Feature:Builds] forcePull should affect pulling builder images ForcePull test case execution custom"
[code]

despite us having granted custom strategy permissions:

[code]

Perhaps a caching/updating issue?

[2018-06-22 15:13] miminar opened #20079 "Make registry tests using docker.socket dockerless"
The tests using the docker socket fail because the access is not granted anymore in pods.
Therefore they are now being marked with `[local]`.

This issue is a reminder to rewrite the tests in a dockerless way.

See the related discussion:
- https://github.com/openshift/image-registry/pull/87#issuecomment-399261119

And related `[local]` PRs:
- https://github.com/openshift/origin/pull/20077
- https

[2018-06-22 17:10] bparees commented on #20078
test job: https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/506/

[2018-06-22 18:04] jwechsler10 commented on #15097
Not sure if people are still looking but node_collector_unhealthy_nodes_in_zone seems to at least give some insight into this.

[2018-06-22 18:31] #17970 closed

[2018-06-22 18:31] #13864 closed

[2018-06-22 20:06] snimmagadda1 opened #20084 "Cannot create image stream from private registry with secret?"
I am trying to pull from a private docker registry hosted on Microsoft Azure and create an image stream from it. I have created a secret with the credentials I am able to pull from the registry with; however, when I run my oc import-image command it tells me i am unauthorized (see below).. Note: I have also tried with the --insecure flag as well.

##### Version
oc v3.6.173.0.5
kubernetes v1.6.1+51

[2018-06-22 20:10] snimmagadda1 commented on #20084
#18449

[2018-06-23 18:33] #15920 closed

[2018-06-24 00:33] #14525 closed

[2018-06-24 00:33] #18212 closed

[2018-06-24 00:33] #18158 closed

[2018-06-24 00:33] #18201 closed

[2018-06-24 00:33] #18208 closed

[2018-06-24 00:33] #17747 closed

[2018-06-24 12:32] #15631 closed

[2018-06-24 13:22] sekaijin opened #20088 "does not start on MacOS with virtualbox"
Hi

-- Starting profile 'minishift'
-- Check if depereccated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.9.0' is valid ... OK
-- Checking if requested OpenShift version 'v3.9.0' is supported ... OK
-- Checking if requested hypervisor 'virtualbox' is supported on this platform ... OK
-- Checking if VirtualBox is instal

[2018-06-25 00:32] #9594 closed

[2018-06-25 00:32] #17755 closed

[2018-06-25 00:32] #10956 closed

[2018-06-25 00:32] #11980 closed

[2018-06-25 00:32] #15646 closed

[2018-06-25 00:32] #10186 closed

[2018-06-25 00:32] #14641 closed

[2018-06-25 00:32] #14783 closed

[2018-06-25 00:32] #15777 closed

[2018-06-25 00:32] #17814 closed

[2018-06-25 06:33] #14576 closed

[2018-06-25 06:33] #15539 closed

[2018-06-25 06:33] #16523 closed

[2018-06-25 06:33] #17214 closed

[2018-06-25 10:12] Reamer commented on #17774
Possible related to https://github.com/kubernetes/kubernetes/issues/48760
I doesn't have this problem on
[code]

[2018-06-25 10:41] calston commented on #17774
Yup, not seeing it anymore. Was possibly in my case related to renaming nodes for vsphere to authenticate properly.

[2018-06-25 11:57] georgesak84 opened #20089 "Docker Images in OpenShift"
I'm working with dotnet core building and deploying micro-services using openshift, How can I prevent intruders to copy source code under app/src from docker images generated by Openshift Builder ! any method to not ship source code inside docker image ?

if any build configuration or environment variable that prevent this , it would be appreciated.

[2018-06-25 11:58] mfojtik commented on #20088
/cc @praveenkumar

[2018-06-25 12:21] praveenkumar commented on #20088
@mfojtik  Thanks, I mapped the issue https://github.com/minishift/minishift/issues/2499 please close it from here.

@sekaijin We can have discussion over minishift issue to more info.

[2018-06-25 13:00] enj commented on #18922
The underlying issue of not being able to scope system:masters still remains right?  Or is there some changes in the upstream loopback token?

/remove-lifecycle stale
/lifecycle frozen

[2018-06-25 13:05] simo5 commented on #18922
My understanding is that system:master is and will remain unscoped, but I'll defer to anyone that want sto do otherwise I guess.

[2018-06-25 15:30] mshutt commented on #20050
Bump? :P  I know that I cannot be the only person using SSL Passthru style routes (no termination until container).

[2018-06-25 17:14] elyscape commented on #17013
/remove-lifecycle stale

[2018-06-26 00:00] nak3 commented on #20040
ping @enj I think you developed oc auth reconcile. Is there any way to achieve this?

[2018-06-26 00:34] #18107 closed

[2018-06-26 00:34] #16210 closed

[2018-06-26 00:53] enj commented on #20040
You are giving me too much credit 😁

https://docs.openshift.org/latest/admin_guide/manage_rbac.html#updating-policy-definitions is incomplete and partially incorrect but it provides an example on how to do this.

`oc adm create-bootstrap-policy-file --filename=policy.json` is the important bit.

Please close if that works for you.

[2018-06-26 00:54] #20088 closed

[2018-06-26 01:41] debianmaster commented on #13336
/remove-lifecycle rotten

[2018-06-26 06:35] #16994 closed

[2018-06-26 06:42] nak3 commented on #20040
Thank you. So, if we did not have `policy.json` by `oc adm create-bootstrap-policy-file --filename=policy.json` beforehand, it is not possible to restore default clsuter-role? (Or `/etc/origin/master/policy.json` on OCP can be used?)

Having said that, I think that `oc adm create-bootstrap-policy-file --filename=policy.json` will not restore cluster roles as `oc adm policy reconcile-cluster-roles`

[2018-06-26 10:07] soltysh opened #20097 "Restore -v in set deployment-hook and status commands"
As part of the 1.11 rebase (https://github.com/openshift/origin/pull/20033) we've dropped `-v` support in `oc set deployment-hook` and `oc status` commands we need to restore them back.

[2018-06-26 12:06] sjug commented on #17070
/remove-lifecycle rotten

[2018-06-26 12:56] bparees commented on #20089
@tmds what does the .NET assemble script do?  Can it be given an option to delete the source after compilation if it does not already?

@georgesak84 assuming the assemble script does not provide a way to delete the source, you can always provide your own assemble script (typically this is done by providing your own assemble script which invokes the built in assemble script, and then also does what

[2018-06-26 13:03] tmds commented on #20089
s2i-dotnetcore doesn't have an option for that. @georgesak84 can you create an issue to request this feature at https://github.com/redhat-developer/s2i-dotnetcore/?

[2018-06-26 13:18] calston opened #20098 "Multiple binding of RWO volumes leads to insanity"
[code]
Who, what where?

Ah, you have tried to bind an RWO PV to two different mount points. But how did Openshift allow that even to pass validation!

##### Version
3.9

##### Steps To Reproduce
1. Make RWO PVC
2. Do something silly with it

##### Current Result
Nonsensical storage timeout errors

##### Expected Result
Clear error telling you to fix it.

##### Additional Information
I like pizza

[2018-06-26 15:39] enj commented on #20040
Correct.  This is the expected behavior.  The deprecated reconcile commands will be removed in a future release.

Do not use that file, as you have no way to know what it contains.  Use `oc adm create-bootstrap-policy-file` with and `oc` binary that matches the version of `openshift` being used (and see below).

You need to use the latest `oc` from master for it work (the policy file has the wrong

[2018-06-26 17:20] deads2k opened #20101 "conformance install is solid red in build step"
Since AWS came back up conformance_install has been red: https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_conformance_install

It's failing on messages like this:
[code]

[2018-06-26 17:23] deads2k commented on #20101
also
1. https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_conformance_install
2. builds https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_builds
3. E2E https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_end_to_end
4. cluster up https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_clusterup

I probably don't

[2018-06-26 18:42] sjug commented on #17070
Functionality now exists. As of https://github.com/openshift/origin/pull/19388.

[2018-06-26 18:42] #17070 closed

[2018-06-26 20:10] deads2k commented on #20097
@soltysh @mfojtik I think we're less likely to miss a bugzilla.  This is a backwards compatibility thing.

[2018-06-26 21:00] hetzbh opened #20104 "A simple question about .. powering off OpenShift"
The following question is related to almost any Openshift - Commercial or Origin, 3.6.x and above.

I've built a "lab" using 5 nodes of OpenShift origin for testing, but one of the amazing thing that I cannot find in any documentation is .. how to turn off all the nodes so when I turn it back on, it will work correctly?
The official documentation is only talking about powering off/rebooting a sing

[2018-06-26 21:47] bparees opened #20107 "new-app creates unnecessary imagestream"
https://github.com/openshift/origin/pull/20052 appears to have broken new-app's behavior.

Running in an empty project:
[code]

creates an imagestreamtag named "nodejs:10" in the current namespace.

The buildconfig it creates references the openshift/nodejs:10 IST as expected, but the currentnamespace/nodejs:10 IST is also created.

[2018-06-26 21:48] bparees commented on #20107
(I haven't confirmed that was the PR that broke it, but it seems suspicious anyway)

[2018-06-26 22:00] stevekuznetsov commented on #20101
Should be fixed by https://github.com/openshift/imagebuilder/pull/82 once a new AMI is build with that `imagebuilder` code and marked as ready

[2018-06-26 22:28] bparees opened #20108 "oc import-image doesn't retain reference policy?"
if you have an imagestreamtag defined w/ `referencepolicy=local` and then run "oc import-image" against it, it will change the reference policy to `source`.

You can avoid this by passing `--reference-policy=local` to oc import-image, but it seems like it should keep the existing policy when it's (re)-importing a tag that already exists?

@smarterclayton since i'm guessing you know what the intend

[2018-06-27 00:31] smarterclayton commented on #20108
Definitely an accident.  Absence of the flag should not mutate the policy.

On Jun 26, 2018, at 6:28 PM, Ben Parees <notifications@github.com> wrote:

if you have an imagestreamtag defined w/ referencepolicy=local and then run
"oc import-image" against it, it will change the reference policy to source.

You can avoid this by passing --reference-policy=local to oc import-image,
but it seems like it

[2018-06-27 00:32] smarterclayton commented on #20101
Was a regression in imagebuilder.  Fixed, and we need more tests there.

On Jun 26, 2018, at 1:23 PM, David Eads <notifications@github.com> wrote:

also

   1.
   https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_conformance_install
   2. builds
   https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_builds
   3. E2E
   https://deck-ci.svc.ci.opensh

[2018-06-27 01:00] addozhang commented on #13506
Same issue here. After click button 'Continue', it starts loop. Close tab and wait minutes, or restart safari, it works fine. But minutes later, it popups to ask client key again.

Issue went away after delete the cert from keychain.

![image](https://user-images.githubusercontent.com/2224492/41947140-74a62f96-79e8-11e8-894c-c1f5402d2eed.png)

[2018-06-27 07:13] tmds commented on #20089
This issue may be closed.

[2018-06-27 08:09] dongascan commented on #20030
Any one have a idea on this ?

[2018-06-27 08:55] yves-vogl commented on #16272
I guess you are running into a privilege problem. We are experiencing a similar issue (ORA-01031). The only workaround is to allow running the container with root privilegies (anyuid). But this does not work on OpenShift online and is a security concern anyway.

[2018-06-27 09:44] tnozicka commented on #20030
Could you be more specific?

Do you mean latest deployment (RC) of one particular DC:
https://github.com/openshift/origin/blob/e6467058c2ef1766de3eeda95804abab127ead77/pkg/apps/util/util.go#L127-L142

or latest deployment (RC) in general for any deployment?

[2018-06-27 09:51] dongascan commented on #20030
@tnozicka   I have a requirement to change the routes in some deployments. assume in the dev environment there are lot of deployments are happening inside same project with same sort of application name only different from build-id.  so need to identify the least deployment happened by the time identify by shell script and using oc commands need to change them to custom route for developer testing

[2018-06-27 10:32] soltysh commented on #20097
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1595669 but I'll leave this one open. I have a few of these that I'll be sweeping through post-rebase.

[2018-06-27 10:39] jeusdi opened #20109 "Empty namespace"
I need to get access to current namespace. I've look up `KUBERNETES_NAMESPACE` and `OPENSHIFT_NAMESPACE` but they are unset.

    $ oc rsh wsec-15-t6xj4
     $ env | grep KUBERNETES
    KUBERNETES_SERVICE_PORT=443
    KUBERNETES_PORT=tcp://172.30.0.1:443
    KUBERNETES_PORT_53_TCP_ADDR=172.30.0.1
    KUBERNETES_PORT_53_UDP_ADDR=172.30.0.1
    KUBERNETES_PORT_53_TCP_PORT=53
    KUBERNETES_PORT_53_T

[2018-06-27 10:43] amrit28 opened #20110 "Error: failed to start the web console server: timed out waiting for the condition"
I am able to successfully build and create image of openshit/origin from customized openshift/origin source code.
Now i am facing issue with oc cluster up with locally created image .
"Error: failed to start the web console server: timed out waiting for the condition"

##### Version
oc v3.9.0+191fece-dirty
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO
Docker version 18.0

[2018-06-27 14:01] dobbymoodge commented on #14313
Stale, and the fix is no longer relevant/possible

[2018-06-27 14:01] #14313 closed

[2018-06-27 14:54] wozniakjan commented on #19719
haven't seen it happen again, closing

[2018-06-27 14:54] #19719 closed

[2018-06-27 15:13] enj commented on #20078
@bparees you need to add some logic that waits (after creating the cluster role binding) until this command does not error (or timesout after ~30 seconds or so):

`oc auth can-i --all-namespaces --quiet create builds.build.openshift.io --subresource=custom` (must be run as the user who was granted the access or you use `--as=<username>` if you want to run it as cluster admin)

[2018-06-27 15:53] bparees commented on #20078
@enj thanks, adding that logic here:
https://github.com/openshift/origin/pull/20114

[2018-06-27 18:31] #20101 closed

[2018-06-28 00:38] #11650 closed

[2018-06-28 00:51] MohamedElso opened #20121 "Failed to pull image "registryip:5000/openwhiskpoc/action-nodejs-6@sha256"
Hi guys,
i am trying to deploy openwhisk on RedHat openshift cluster, I got this error when spinning up the pods, I tried to deploy on minishift and it works well. any suggestions would be appreciated. thanks
================
Failed to pull image "registryip:5000/openwhiskpoc/action-nodejs-6@sha256:bd3176824ead9191cbdd4b87ab2ec594c14f9b86cf37f7bab4d254a19792ef16": rpc error: code = 2 desc = error

[2018-06-28 06:29] #20062 closed

[2018-06-28 07:51] mfojtik commented on #20110
Can you please provide logs from cluster up origin container? Just grep for "console".

[2018-06-28 11:21] soltysh commented on #18833
/close
This is picked as part of #20033

[2018-06-28 11:21] #18833 closed

[2018-06-28 12:43] miminar opened #20127 "post-1.11-rebase: reenable event handling while image pruning"
Underlying gonum/graph assigns conflicting IDs to new nodes after a node deletion. Thus two different nodes amy be assigned the same ID. This leads to panic when an edge is set between them.

The following PR temporarily disables event handling until the package is fixed. This ensures that no new nodes will be added to the graph after the first node gets removed.

https://github.com/deads2k/origin

[2018-06-28 12:44] miminar commented on #20127
/cc @openshift/sig-developer-experience

[2018-06-28 13:22] briantward commented on #15979
This was fixed in OpenShift 3.7 and backported to OpenShift 3.6
https://bugzilla.redhat.com/show_bug.cgi?id=1491331
https://bugzilla.redhat.com/show_bug.cgi?id=1527973

[2018-06-28 13:22] briantward commented on #15979
/close

[2018-06-28 13:39] nak3 commented on #20040
Thank you. I understand.

It sounds like running `create-bootstrap-policy-file`/`auth reconcile` with mismatched oc and server(openshift binary) causes serioous issue.. Error or warning will not be implemented for this? Another command's same issue https://github.com/openshift/origin/pull/19843 is disregarded, though...

Anyway, I got an answer what I wanted, so please feel free to colse this repo

[2018-06-28 13:45] bparees commented on #20121
looks like a certificate issue w/ the openshift registry not trusting "https://registry-1.docker.io/v2/" for some reason.  Do you have a proxy in place?

/cc @dmage

[2018-06-28 13:51] enj commented on #20040
It is no different than `reconcile-cluster-roles` so nothing to worry about.  In the worse case we add something back that we "removed" in a later release, which is always fine because we know we cannot rely on any such behavior (since we never remove anything).

No.  This is exactly why the reconciliation was moved to the server.  You are responsible for knowing what you are doing if you want to

[2018-06-28 14:04] dmage commented on #20121
[code]

It's not a valid certificate for the Docker registry.

[2018-06-28 14:08] bparees commented on #20127
we'll also need to fix this behavior in 3.10.z

[2018-06-28 14:11] bparees commented on #20121
good eyes.

[2018-06-28 14:11] davidaah commented on #18259
i wasn't previously aware of it, seems to be promising... looks like it supports some sort of discovery based on kubernetes service which would be good for fronting `openshift-router`. thoughts on how this would apply to support an HA floating pool of IngressIPs where you may need to provision/configure this on a set of nodes before there are Kubernetes services which get ingressIPs allocated

[2018-06-28 14:14] bparees commented on #20127
Does gonum/graph allow us to generate our own ids?

[2018-06-28 14:28] dmage commented on #19930
Which storage is used for the registry? Do all images disappear or only some of them?

[2018-06-28 14:29] miminar commented on #20127
Good idea. The generation is quite simple: https://github.com/openshift/origin/blob/master/vendor/github.com/gonum/graph/simple/directed.go#L51

We can use our own function though.

[2018-06-28 17:30] bparees commented on #20121
I'd start by creating your own pod in the cluster, oc rsh'ing in, and dig into the networking flow that is happening when you try to access docker.io.  Again, it seems like there is a proxy or dns issue here where you're not getting directly connected to docker.io, something is intercepting the traffic and providing its own cert.

[2018-06-28 17:32] sjenning commented on #19899
This is a known issue:
https://bugzilla.redhat.com/show_bug.cgi?id=1559271

Upstream discussions:
https://github.com/kubernetes/kubernetes/pull/45986
https://github.com/kubernetes/kubernetes/issues/46442

[2018-06-28 17:55] miminar opened #20131 "3.10 oc cluster up cannot write config"
Using the binaries and images compiled from the latest release-3.10 I get:

[code]
And in the docker log I see:

[code]
Version:
[code]

Docker:

[code]

[2018-06-28 18:07] mvlach commented on #19930
The storage is the NFS mounted on the POD. Only one image disappear - I'm able to pull s2i builder image... @dmage

[2018-06-28 18:08] sudksing commented on #1791
Edit the Service YAML file as mentioned in image below;
![image](https://user-images.githubusercontent.com/25577192/42052407-58226a3e-7b2c-11e8-9976-808219202066.png)

[2018-06-28 18:27] miminar opened #20134 "3.10 misleading oadm deprecation message"
Self describing issue:
[code]

Binary built from latest origin/release-3.10

[2018-06-28 18:39] #18275 closed

[2018-06-28 19:03] deads2k opened #20136 "github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/kubelet/util/pluginwatcher panic"
See in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20033/pull-ci-origin-unit/542/ and others.

[code]

/assign @sjenning

This one is fairly common

[2018-06-28 19:04] sjenning commented on #20136
/assign @vikaschoudhary16

[2018-06-28 19:07] sjenning commented on #20136
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/pluginwatcher/plugin_watcher_test.go#L127

[2018-06-28 19:22] sjenning commented on #19948
https://github.com/kubernetes/kubernetes/pull/65595

[2018-06-28 20:54] mike-newman commented on #19267
'error: build error: Failed to push image: Get http://172.30.1.1:5000/v2/:  net/http: request canceled (Client.Timeout exceeded while awaiting headers)
'

Having the same issue on Mac.

[2018-06-28 20:57] simo5 opened #20140 "oc status -v stopped working"
previously oc status -v would return identified issues, now it returns an error instead.

##### Version
3.11 master

##### Steps To Reproduce
1. run oc status -v

##### Current Result
[code]

Note how the help itself tells you to run `oc status -v`

##### Expected Result
oc status -v returns output like before, or at the very least the help text is fixed.

[2018-06-28 21:13] sjenning commented on #19948
@liggitt since https://github.com/openshift/origin/commit/b61c00c7ff95788abd5e76025fbda0074119ec3f is already in 3.11 and the upstream PR kubernetes/kubernetes#65595 does roughly the same thing do we want to

1. revert the drop comment and pick the upstream one for 3.11 or
2. stay for 3.11 and get the upstream fix in the 3.12 rebase

[2018-06-28 23:53] bparees opened #20141 "hack/update-deps yields uncompilable results"
hack/update-deps on master results in an unbuildable source tree.  This is blocking our ability to update apis.

[code]

/cc @wozniakjan @php-coder

[2018-06-29 02:01] liggitt commented on #20141
fixed that error by pushing a correct marker commit to the upstream branch. watching the bot publishing now, will update

[2018-06-29 02:53] liggitt commented on #20141
this is now resolved. example diff in https://github.com/openshift/origin/pull/20142

/close

[2018-06-29 02:53] #20141 closed

[2018-06-29 03:14] liggitt opened #20143 "publisher bot cannot reset branch"
seen in deployment/openshift-kubernetes-bot:

[code]

should ensure we are not on the branch we are trying to force reset

/assign @mfojtik @sttts

[2018-06-29 03:15] liggitt opened #20144 "publisher bot cannot check out new repo"
seen in deployment/openshift-kubernetes-bot:

[code]

I'm not sure if our image is old or has an old version of git, but I had to clone that repo manually, omitting the `--no-tags` arg

/assign @mfojtik @sttts

[2018-06-29 03:57] liggitt commented on #19948
if we don't plan to enable the feature in 3.11, it's largely moot. if we do, then we should revert/pick that PR, right?

[2018-06-29 04:35] liggitt opened #20147 "vendor/k8s.io/kubernetes/pkg/kubelet/util/pluginwatcher flake"
seen frequently after the 1.11 rebase: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20145/pull-ci-origin-unit/573/?log#log

[code]

/assign @sjenning  @vikaschoudhary16

[2018-06-29 06:15] vikaschoudhary16 commented on #20136
@sjenning issue causing code has got changed in this PR which merged recently, https://github.com/kubernetes/kubernetes/pull/64660/files

Should we cherry-pick this origin?

[2018-06-29 06:40] #18283 closed

[2018-06-29 08:21] wozniakjan opened #20149 "pull-ci-origin-unit: operator Run the tests for unit in a pod and wait for success or failure"
the test appears to be flaky, few different PRs recently failed some of the runs with the same message

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19673/pull-ci-origin-unit/581/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20145/pull-ci-origin-unit/575/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20145/pull-c

[2018-06-29 10:08] sttts commented on #20143
Yes.

What worries me more: the `LoadRules` above that call does not specify the branch. @mfojtik should we go to master or some other branch specified in the config?

[2018-06-29 10:51] sttts commented on #20144
`--no-tags` was added in git 2.14. We have 2.1.4 in the image.

[2018-06-29 13:30] adambkaplan commented on #20149
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20064/pull-ci-origin-unit/595/

[2018-06-29 13:40] #13214 closed

[2018-06-29 14:20] #20144 closed

[2018-06-29 14:49] #9690 closed

[2018-06-29 14:57] deads2k opened #20157 "gcp provision failure"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20152/pull-ci-origin-e2e-gcp/209/

[code]

[code]

[2018-06-29 14:58] deads2k commented on #20149
@wozniakjan @adambkaplan Hey guys, this is helpful, but can you chase it the extra step to find the test that actually failed?

@wozniakjan you're hitting https://github.com/openshift/origin/issues/20136

@adambkaplan you have a different error

[2018-06-29 15:00] deads2k commented on #20136
This is failing better than 1/10 jobs.  Bumping priority.

[2018-06-29 15:16] wozniakjan commented on #20149
got it, thanks! I don't know why I thought that was actually the name of the failing test, closing this as a dupe

[2018-06-29 15:16] #20149 closed

[2018-06-29 15:47] sjenning commented on #20147
@deads2k already has an issue for this and @vikaschoudhary16 is working on it
https://github.com/openshift/origin/issues/20136

[2018-06-29 15:47] #20147 closed

[2018-06-29 15:59] sjenning commented on #19948
agreed.  I'll keep this in mind if we decide to go forward with LSI in 3.11 (which would be a stretch, I think)

[2018-06-29 16:53] gabemontero opened #20159 "Reconcile clusterup extended test removal, 1.11 rebase"
During the rebase, @deads2k had to comment out https://github.com/openshift/origin/blob/master/test/extended/clusterup.sh#L217-L218 in the cluster up extended test for TSB.

Using the jenkins image was just a matter of convenience back when we included this end to end test.

And when we diagnosed, it looked like the jenkins process was never even started.  The pod got OOMKilled before that happene

[2018-06-29 18:06] makentenza opened #20160 "Add to `oc process` the capability to refer URL source for parameters file as we do for template files"
When processing OpenShift Templates using `oc` cli, we support URL sources for the template file:

```-f, --filename='': Filename or URL to file to read a template```

But we don't support this for the parameters file:

```--param-file=[]: File containing template parameter values to set/override in the template.```

We have different use cases where this capability would be really helpful and it

[2018-06-29 19:23] juanvallejo opened #20162 "Certain tools should be split from the Origin repo"
There are a number of tools, listed below, with dependencies on our vendored copy of kubernetes.
These tools should be split out either into their own separate repo, aggregated with others in a different repo, or re-writen to not depend on k8s packages, in order to prevent the overhead of dependency conflicts during rebases:

- **tools/clicheck** (depends on)
  - k8s.io/kubernetes/pkg/kubectl/cmd/

[2018-06-29 19:23] juanvallejo commented on #20162
cc @soltysh

[2018-06-29 20:19] gregswift commented on #17743
Any protips for those of us not on 3.10+ (where this landed) ?

[2018-06-29 22:10] batarian71 opened #20165 "Logo"
Hello. I am a graphic designer. I want to volunteer support for open source projects. If you want, I can design a logo for you. What do you say? Also tell me if you want something. I can design.

[2018-06-29 23:33] adambkaplan opened #20167 "openshift-jenkins/cmd test fails after 4 hours"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20064/test_pull_request_origin_cmd/14857/

[2018-06-29 23:39] adambkaplan opened #20168 "TestEnsureInternalBackendServiceGroups fails"
Failing tests:

1. pkg/service/controller/ingressip TestBasicControllerFlow
2. vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/gce TestEnsureInternalBackendServiceGroups (multiple)

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20064/pull-ci-origin-unit/627/

[2018-06-30 00:40] #17974 closed

[2018-06-30 06:40] #14766 closed

[2018-06-30 06:45] gbraad commented on #17527
/close

[2018-06-30 06:45] #17527 closed

[2018-06-30 18:40] #18334 closed

[2018-06-30 18:40] #16951 closed

[2018-06-30 21:45] leoluk opened #20169 "Add "oc new-project" flag which keeps current context"
Right now, `oc new-project` always switches to the newly created project.

However, this is not always desirable. For example, I'm currently building a CI hook which creates new projects for each commit, and I don't want to override the user's current context.

[2018-06-30 21:55] leoluk commented on #20165
OpenShift Origin does have a logo.

[2018-06-30 22:02] kargakis commented on #20165
Doesn't seem like an issue for this repo.

[2018-06-30 22:02] #20165 closed

[2018-07-01 00:40] #18028 closed

[2018-07-01 00:40] #18294 closed

[2018-07-01 11:05] runcom commented on #18732
/remove-lifecycle rotten

[2018-07-01 14:57] #20078 closed

[2018-07-01 18:41] #11431 closed

[2018-07-01 18:41] #18358 closed

[2018-07-02 00:41] #12072 closed

[2018-07-02 00:41] #15176 closed

[2018-07-02 02:45] enj commented on #20040
@nak3 can we close this?

[2018-07-02 04:50] nak3 commented on #20040
Sure, I am closing it now.

[2018-07-02 04:50] #20040 closed

[2018-07-02 06:41] #17529 closed

[2018-07-02 06:41] #18206 closed

[2018-07-02 10:51] georgesak84 opened #20170 "Change master and node static IP's without reinstalling"
Can we change our master or node static ip without doing any re-installation using playbook ansible? is there any variables or a configuration in ansible to change the IPs?

We tried manually but failed to start node or master services .

[2018-07-02 11:14] soltysh commented on #20162
This is tightly integrated with openshift API as well, since this is used to read objects from etcd. I'm not sure why you didn't list origin deps here as well.

[2018-07-02 11:15] soltysh commented on #20162
Additionally, of all the tools `etcdhelper` might be the hardest to split out.

[2018-07-02 12:39] deads2k commented on #20162
I care most about tools that are copy/pasted into new repos and have bad packages that need fixing and deps I don't care about.  Let's say these as the starting point:

https://github.com/openshift/service-serving-cert-signer/tree/master/tools

[2018-07-02 14:00] soltysh opened #20171 "oc should complete discovery calls when discovery partially fails"
This is coming from these BZ https://bugzilla.redhat.com/show_bug.cgi?id=1525014 and https://bugzilla.redhat.com/show_bug.cgi?id=1596546 where due to an error in discovery the `oc` fails badly with weird errors. It should be able to continue operate with an information that something went bad along the way.

[2018-07-02 14:13] victorvoronin opened #20172 "ImageChange trigger disabled but triggered on apply"
I have DeplymentConfig with ImageChange trigger configured with automatic=false. When I change form.image.name with apply command and deployment triggers with ImageChange clause.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. Create DC with the following trigger:
[code]
2. Apply DC from file with the following section:
[code]
##### Current Result
Deploym

[2018-07-02 14:43] smarterclayton commented on #20162
The new gotest2junit replaces junitreport and has no dependencies outside of stdlib, so you can omit that one.  See https://github.com/openshift/service-catalog to see the absolute latest go 1.10 version of the hack tools.

[2018-07-02 15:25] deads2k opened #20174 "vendor/k8s.io/kubernetes/pkg/kubelet/config -run=TestInvalidPodFiltered"
Using golang 10.2.

`GOCACHE=off go test github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/kubelet/config -run=TestInvalidPodFiltered -count=1000 -v` managed to reproduce https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20064/pull-ci-origin-unit/687/ once for me locally.  It wasn't super obvious to me and muxing logic is reasonably involved (and appears to leak goro

[2018-07-02 18:41] #17642 closed

[2018-07-02 18:41] #18031 closed

[2018-07-02 18:41] #17421 closed

[2018-07-02 18:41] #18412 closed

[2018-07-02 18:41] #16556 closed

[2018-07-02 18:41] #16317 closed

[2018-07-02 18:41] #16507 closed

[2018-07-02 18:50] jocelynthode commented on #17777
/remove-lifecycle stale

Do we have any feedback on this?

[2018-07-02 22:57] juanvallejo commented on #20162
@deads2k

`changelog` and `import-verifier` do not appear to depend on any non-stdlib packages

[2018-07-03 00:40] #13068 closed

[2018-07-03 00:40] #6874 closed

[2018-07-03 00:40] #7199 closed

[2018-07-03 00:40] #10380 closed

[2018-07-03 00:40] #7118 closed

[2018-07-03 00:40] #8069 closed

[2018-07-03 00:40] #8167 closed

[2018-07-03 00:40] #1766 closed

[2018-07-03 00:40] #2026 closed

[2018-07-03 05:30] alicealvy opened #20182 "How to test my openshift cluster"
How to test my openshift cluster

When my openshift cluster is installed, how to ensure the correctness and robustness of the cluster, is there a test framework  in openshift like tempest or rally?

[2018-07-03 06:40] #1897 closed

[2018-07-03 06:40] #2248 closed

[2018-07-03 06:40] #2462 closed

[2018-07-03 06:40] #2976 closed

[2018-07-03 06:40] #4009 closed

[2018-07-03 06:40] #6600 closed

[2018-07-03 06:40] #3918 closed

[2018-07-03 06:40] #5125 closed

[2018-07-03 09:16] epichiori opened #20184 "Ubuntu 16.04 error on starting openshift cluster"
I was succesfully runnning two version of openshift cluster 3.7.2 and 3.9.0.
From a determinated moment, in the middle of fine refinement of a template, I loose the possibility to run each kind of cluster.
Docker seems to be correctly installed, but when I try to run oc cluster up this is my result:

$ oc cluster up
Starting OpenShift using openshift/origin:v3.7.2 ...
-- Checking OpenShift client

[2018-07-03 10:37] #19201 closed

[2018-07-03 12:40] #5231 closed

[2018-07-03 12:40] #13688 closed

[2018-07-03 13:35] rflorenc opened #20187 "Unable to mount volumes for pod "pod-name (pod_uuid)": timeout expired waiting for volumes"
Mounting Secrets/Tokens/Volumes are intermittently taking a long time being reclaimed/recycled.
This seems like normal cluster operation but the deployment slowdowns are getting worst by the day.

##### Version
`oc version`
oc v3.7.23
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Select project
2. Click deploy

##### Current Result
Users are

[2018-07-03 14:25] #13336 closed

[2018-07-03 14:56] radicalentity opened #20190 "Self signed certificate on api even with configured with a Let's Encrypt cert."
Using GitLab Kubernetes integration and installing Helm Tiller, I get the following error:
Kubernetes error: SSL_connect returned=1 errno=0 state=error: certificate verify failed

However, when accessing the dashboard at https://cloud.dewitt.cf/ it is the correct Let's Encrypt cert.

I used a wildcard certificate in this case.

Further investigation below...

##### Version
oc v3.9.0+ba7faec-1
kube

[2018-07-03 15:28] jorgemoralespou opened #20193 "oc new-app sets wrong label in DeploymentConfig"
I'm instantiating a template, when using `oc new-app` with a label to be set, it borks the deploymentConfig. If I use `oc process` instead it works fine.

[provide a description of the issue]

##### Version
oc v3.10.0-rc.0+c20e215

##### Steps To Reproduce
1. Execute:
[code]

##### Current Result
DeploymentConfig is not created because following error
[code]

##### Expected Result
Everything shoul

[2018-07-03 15:30] Reamer opened #20194 "apiserver with etcd metric and all values are "0""
Metric endpoint of apiserver/controller reports etcd metric and all values of etcd metrics are "0"

##### Version
[code]

##### Steps To Reproduce
1. Install Openshift 3.11
2. Login to Openshift `oc login openshift.mycompany.com`
3. Get Your Token `oc whoami -t`
4. curl apiserver metric endpoint with a valid Token
[code]
##### Current Result
[code]

##### Expected Result
In case of an external etc

[2018-07-03 15:58] wongma7 opened #20196 "race in TestVSphereLogin vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20117/pull-ci-origin-unit/775/#githubcomopenshiftoriginvendork8siokubernetespkgcloudproviderprovidersvsphere-testvspherelogin
[code]
/kind test-flake

[2018-07-03 16:00] wongma7 commented on #20196
also TestStuckMethodCount failed but it has no logs so...

[2018-07-03 17:47] jwforres commented on #19941
@openshift/sig-pod

the web console warning sounds similar to the known issues we had with the HPAs the web console was creating  @DirectXMan12 is this the same issue?

Related: https://github.com/openshift/origin/pull/18517#issue-167822169

[2018-07-03 17:51] jwforres commented on #19955
As a cluster administrator you may want to check the imagestreams in the "openshift" namespace. That is where the OOTB mysql imagestream is defined. See if there are any issues there with those imagestreams not getting synced.

@openshift/sig-developer-experience

[2018-07-03 17:53] jwforres commented on #19985
The installation and configuration of the prometheus monitoring stack are changing significantly in 3.11 so this issue may no longer even be valid

@pgier for the 3.9 stack
@brancz for the latest stuff

[2018-07-03 17:54] jwforres commented on #19985
@openshift/sig-monitoring

[2018-07-03 17:58] jwforres commented on #20009
@openshift/sig-networking

[2018-07-03 18:14] deads2k commented on #20168
@adambkaplan one issue per unit test package at least

[2018-07-03 18:17] deads2k commented on #20168
This is flaking a fair number of unit tests.

/assign @enxebre

[2018-07-03 18:19] deads2k commented on #20196
/assign @enxebre

[2018-07-03 18:20] deads2k commented on #20168
This was failed 6 out of the last 10 unit test failures

[2018-07-03 18:20] deads2k commented on #20196
this was 3 of the last 10 failures.

[2018-07-03 18:21] brancz commented on #19985
In 3.11 Grafana will come preconfigured with the cluster monitoring stack so this is not something you will need to worry about. To my knowledge there is no solution to this pre 3.11 any type of bearer authentication was only recently added to Grafana. @mrsiano has more information on the Grafana authentication via ServiceAccount tokens and when this will land in OpenShift (separate from the clust

[2018-07-03 19:46] jwforres commented on #20054
@bparees assigned since it looked like you were reviewing the PR

[2018-07-03 19:50] jwforres commented on #20025
@openshift/sig-storage

[2018-07-03 19:54] jwforres commented on #20098
There was definitely an existing BZ around this @childsb

[2018-07-03 19:59] #20044 closed

[2018-07-03 20:05] jwforres commented on #20055
@openshift/team-service-catalog

[2018-07-03 20:07] jwforres commented on #20065
@openshift/sig-developer-experience @openshift/sig-storage

[2018-07-03 20:09] jwforres commented on #20084
@openshift/sig-developer-experience

[2018-07-03 20:16] bparees commented on #20065
I don't know what else we (devex) can do here, @childsb should our PVC be defined differently?  (clearly setting the gluster storage class would be bad since it wouldn't work on any cluster w/o gluster PVs).

our PVC definition is here:
https://github.com/openshift/jenkins/blob/master/openshift/templates/jenkins-persistent.json#L45-L60

[2018-07-03 20:18] bparees commented on #20084
@snimmagadda1 the issue is that the oc 3.6 client had issues creating proper docker secrets and the workaround from the thread was to create a generic secret from your .docker/config.json file (after doing a docker login to populate your config.json):

[code]

[2018-07-03 20:19] bparees commented on #20084
please try that and let me know if it gets your import to work.

[2018-07-03 20:46] juanvallejo opened #20201 "Make tools used in Origin (and other repos) "go get"-able"
The main goal is to have all repositories that make use of certain tools, such as https://github.com/openshift/origin/tree/master/tools/junitreport, be able to obtain these tools via `go get ...` rather than have each repo that needs a tool to host their own copy of it.

### Possible solution
A solution can be to have tools that are used across multiple OpenShift repos live in their own repository

[2018-07-03 20:55] smarterclayton commented on #20201
That's because you are including the branch.

go get -u github.com/openshift/release/tools/gotest2junit

works

On Tue, Jul 3, 2018 at 4:46 PM, Juan Vallejo <notifications@github.com>
wrote:

[2018-07-03 21:19] jpeeler commented on #20055
I have a feeling you have firewalld enabled, but have not added the necessary rules to allow proper access. The lines are documented in https://github.com/openshift/origin/blob/release-3.9/docs/cluster_up_down.md. Try the following and then run cluster up:
[code]

[2018-07-04 06:41] #17086 closed

[2018-07-04 09:07] jsafrane commented on #20065
From storage point of view, each cluster should have a default storage class. Clusters without default storage class can't dynamically provision PVCs, because they don't know how and things like this happen.

[2018-07-04 09:57] mmyumu opened #20202 "-a"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2018-07-04 09:58] #20202 closed

[2018-07-04 10:58] kargakis opened #20203 "Failed to install "openshift-web-console-operator""
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_clusterup/2664/consoleFull#-166338428758b6e51eb7608a5981914356

@openshift/sig-user-interface

/kind test-flake

[2018-07-04 11:15] anjannath opened #20204 "File permission issue in application container: Failed to open '/proc/1/fd/2' as root: Permission denied"
The issue was originally filed as https://github.com/minishift/minishift/issues/2058

[Copied from the there]
/cc @mhabrnal @xsuchy

I've prepared docker image [1] with suided application which just takes an argument and writes it into /proc/1/fd/2.

[1] https://hub.docker.com/r/mhabrnal/logger-test/

Inside of the image, there is setuid binary (similar to /usr/bin/sudo). When you execute setuid b

[2018-07-04 13:36] soltysh commented on #19921
@juanvallejo mind looking at this?

[2018-07-04 13:37] soltysh commented on #19850
@juanvallejo since you're touching currently

[2018-07-04 14:19] #20060 closed

[2018-07-04 18:29] rishikapoor028 commented on #19535
Did anybody manage to get this resolved, I am facing the same issue.

[2018-07-04 21:47] sbourlon opened #20209 "Get the version of a Docker build from directory"
I am building an image stream using the Docker strategy, Binary input and pushing the code from a local directory. It works well but the `oc start-build` command does not output the version of the artifact that it built.

##### Version
[code]

##### Steps To Reproduce
1. Create a directory
2. Add a Dockerfile in this directory
3. Run the following script:
[code]

##### Current Result
[code]

#####

[2018-07-05 05:36] #19914 closed

[2018-07-05 09:18] epichiori commented on #20184
Waiting the cluster was up I started receving the following error:

`oc cluster status
Error: Error response from daemon: {"message":"no space left on device"}`

Runned "docker system prune -a" to clean everithing and restarted docker.
Waiting some more time than before the cluster started in every container, but it's still not possible to push an image in the origin repository.

I report the proc

[2018-07-05 09:43] sp1d3rino opened #20210 "Unable to start oc cluster up"
I'm not able to start openshift origin with oc cluster up

`oc version

oc v3.10.0-rc.0+c20e215
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO`

When I start with `oc cluster up --tag=latest --skip-registry-check=true --loglevel=10` the installation starts and it loops on this errore message
`
I0705 11:35:51.698018   20916 readiness_apigroup.go:44] waiting for readiness: v1

[2018-07-05 10:39] sp1d3rino commented on #20210
I solved simply removing openshift.local.clusterup directory... and restart with
oc cluster up

[2018-07-05 10:39] #20210 closed

[2018-07-05 11:29] simo5 commented on #18096
I do not see us deprecating the policy commands @enj, should we keep this card around ?

[2018-07-05 11:50] alexcern opened #20211 "Forwarded header does not comply with rfc7239 when using router v4v6/v6 mode"
Since the upgrade to HAProxy 1.8 in the Openshift 3.9 Haproxy router image, the `Forwarded` header is not compliant with rfc7239 anymore (IPv6 addresses should be double-quoted).

This breaks applications that parse the `Forwarded` header in order to obtain information about the initial client IP address and protocol.

##### Version

oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657
features: Basic

[2018-07-05 12:19] seferovic commented on #19740
Hi,

there is a fix for this error in #19890.

Why not use a shell script that does exactly this?

[2018-07-05 12:55] skynardo commented on #19985
I installed grafana via ansible-playbook -vvv /usr/share/ansible/openshift-ansible/playbooks/openshift-grafana/config.yml

[2018-07-05 13:29] enj commented on #20169
The `--skip-config-write` flag should work for you use case.  Feel free to reopen if that is not the case.

[2018-07-05 13:29] #20169 closed

[2018-07-05 13:30] nak3 commented on #20040
Oh, that is nice! thank you @enj

[2018-07-05 13:39] bparees opened #20214 "Stage FORWARD PARAMETERS TO THE REMOTE HOST [00h 00m 00s] failed. Indication 1"
Seeing this w/ increasing frequency.  Is there no retry logic that can be added?

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/536/

[2018-07-05 13:42] bushidocodes commented on #19267
I am also having this issue on Docker for Mac. I'm pretty sure that [this issue is the culprit.](https://github.com/openshift/origin/issues/18596)

[2018-07-05 13:51] speedfl commented on #18804
Any news?

[2018-07-05 15:48] tmds opened #20216 "build fails because it can't checkout the ref due to local changes."
Version used: OpenShift Online v3.9

I'm trying to `oc create` a build config and it fails because it can't move to the git ref 'due to local changes'.

build.json:
[code]
reproduce:
[code]
The build fails with status `Fetch source failed`.
The log shows it is executing the following git commands:
[code]
The last one fails with:
[code]

_Secondary issue:_

When I then go and click 'Edit YAML' for

[2018-07-05 16:14] sjenning commented on #19941
possibly related
https://github.com/openshift/origin/issues/19045
https://github.com/openshift/origin/pull/19437

[2018-07-05 17:14] bparees commented on #19516
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20176/test_pull_request_origin_extended_conformance_install/12911/

i think it's the same (slightly different expected values):
[code]
@ironcladlou

[2018-07-05 17:26] sjenning opened #20219 "TestVSphereLoginByToken data race"
This is a new test as of kube 1.11

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20158/pull-ci-origin-unit/900/

[code]

@smarterclayton

[2018-07-05 17:39] sjenning commented on #20219
looks like all tests share a `VSphereInstance` so running them in parallel could cause this

[2018-07-05 17:44] MohamedElso commented on #20121
@bparees @dmage hi guys i am not sure if the cause of the error because of the registry, [https://ibb.co/ewuMCJ](url) as you can see all of the pods in the project spinning up except one pod with this error that i mentioned before
Failed to pull image "registryiphere:5000/openwhiskpoc/action-nodejs-6@sha256:bd3176824ead9191cbdd4b87ab2ec594c14f9b86cf37f7bab4d254a19792ef16": rpc error: code = 2 desc

[2018-07-05 18:01] bparees opened #20220 "TestServerRunWithSNI failure"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20064/pull-ci-origin-unit/846/

@openshift/sig-master

[2018-07-05 18:43] #18136 closed

[2018-07-05 18:43] #18381 closed

[2018-07-05 19:13] benjaminapetersen commented on #20203
@spadgett curious if we need to worry about this?

[2018-07-05 21:24] bparees opened #20225 "Race between creation of a Pod and adding image pull secret to SA, that never gets reconciled"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_image-registry/106/pull-ci-image-registry-e2e/70/

The image pulls are failing because these tests are not waiting for the service account secrets to be created before creating the pods, so the pull is being done w/ no credentials.  That was fine when the pull went to docker.io, but now the pulls go to the internal

[2018-07-06 00:14] smarterclayton opened #20226 "Incorrect CLI error for CRD on `oc logs`"
Origin 3.11 post-rebase

[code]

The error is wrong, should have said something like "no logs could be found for type prowjob" (which is a CRD)

@openshift/cli-review

[2018-07-06 00:43] #16781 closed

[2018-07-06 00:43] #17567 closed

[2018-07-06 01:55] juanvallejo commented on #19850
This appears to have been fixed in newer clients. I am no longer able to replicate this error with 3.10 and above.

[2018-07-06 01:56] smarterclayton commented on #20168
Moved this upstream https://github.com/kubernetes/kubernetes/issues/65883 - the upstream fails 1/5 when i run it

This is our #1 blocker right now in unit.

[2018-07-06 07:07] amon-ra commented on #19633
@billyfoss  same problem here but I rerun and it is not fixed. Anyone has a solution

[2018-07-06 07:41] amon-ra commented on #19633
I have solved! It was a DNS error, changed DNS and got working. Hope it helps anyone that came here

[2018-07-06 09:07] epichiori commented on #20184
With docker ps I see:
[code]
Using docker exec to enter the container I see:
[code]

If my user is id 1001 gid 0 and I cant access the repository and the process started with my user how can it work?
Why with "oc cluster up" I obtain something like this?

Have some one some help for me?

[2018-07-06 09:21] epichiori commented on #20184
As integration:

[code]
Configuration seems to be right.
The socker is open and service up. I'm able to login to repository but I cant push nothing.

It seems to me a wrong configuration of docker image: wrong user for repository directory that result not writable.

I home I'm wrong or I cannot sanate this situation.

There is anyone out there?

[2018-07-06 09:29] epichiori commented on #20184
A new clue is that I can pull:
[code]

[2018-07-06 10:30] epichiori commented on #20184
The docker daemon is started qith this cmdline:

[code]

[2018-07-06 11:02] #20184 closed

[2018-07-06 11:02] epichiori commented on #20184
From web console, in the registry pod I found what follows:
[code]
The solution is:

`$ sudo chown -R 1001 /var/lib/origin/openshift.local.pv/registry`

Thanks for following me!

[2018-07-06 11:41] mickuehl commented on #19440
this is still open and breaks the openshift-ansible playbooks ...

[2018-07-06 11:58] soltysh commented on #19850
/close

[2018-07-06 11:58] #19850 closed

[2018-07-06 12:17] soltysh commented on #20226
Which exact version, I've just tried master and it appears to be working as expected.

[2018-07-06 13:04] kamesh2229 opened #20233 "Init:CrashLoopBackOff Pod status when deploying application in Openshift"
[provide a description of the issue]
I am deploying an application in openshift cluster and the service is not coming up as the pod status always show as CrashLoopBackOff and the container is in cyclic restarts.

oc get pods
NAME                                    READY     STATUS                  RESTARTS   AGE
elasticsearch-client-7754b98dc6-tr4f8   0/1       Init:CrashLoopBackOff   5          3

[2018-07-06 13:40] karmab commented on #20203
seems to randomly happen

[2018-07-06 13:51] spadgett commented on #20203
cc @deads2k

[2018-07-06 13:52] tdudgeon opened #20234 "Permissions being changed in mounted PVCs"
I've encountered occasions where file permissions in a directory change and present a pod from starting.
What causes this to happen is very unclear. It's been seen for the docker registry pod and for the metrics cassandra pod. Details were reported on the user mailing list here:
https://lists.openshift.redhat.com/openshift-archives/users/2018-July/msg00001.html

In both cases (registry and cassand

[2018-07-06 14:11] bparees commented on #20234
/cc @openshift/sig-storage

[2018-07-06 14:21] sttts commented on #20220
https://github.com/kubernetes/kubernetes/pull/65899 might be the cure.

[2018-07-06 14:21] jwforres commented on #20050
@openshift/sig-networking

[2018-07-06 14:40] sjenning commented on #20109
yes, `/var/run/secrets/kubernetes.io/serviceaccount/namespace` should have the namespace the pod is running within.

[2018-07-06 14:40] #20109 closed

[2018-07-06 14:40] jwforres commented on #20233
Have you tried using `oc debug` ? That will let you get the pod running with a shell as the entrypoint instead, then you'll have the pod up in the same container environment. At that point you can try running your normal entrypoint and see what happens without the container crashing and being deleted.

[2018-07-06 14:42] jwforres commented on #20216
@openshift/sig-developer-experience

[2018-07-06 14:43] kamesh2229 commented on #20233
No i will do that .. You mean deploying the service using oc debug command right ?

[2018-07-06 14:50] jwforres commented on #20211
@openshift/sig-network-edge

[2018-07-06 14:54] jwforres commented on #20233
right, don't delete your deployment object, and then just run `oc debug deployment/name`

run `oc debug --help` for my info

[2018-07-06 14:55] jwforres commented on #20209
@openshift/sig-developer-experience

[2018-07-06 15:11] deads2k commented on #20203
opened https://github.com/openshift/origin/pull/20236 to fix it.

/assign

[2018-07-06 15:16] bparees commented on #20209
you can find the digest in the build object's status.output.to field.

you can also see the digest if you run with loglevel 5: `oc start-build --build-loglevel=5`

output:

[code]

[2018-07-06 15:16] #20209 closed

[2018-07-06 15:17] bparees commented on #20216
please open this as a separate issue.

[2018-07-06 15:55] jwforres commented on #20204
@openshift/sig-pod @openshift/sig-storage

[2018-07-06 15:57] jwforres commented on #20194
@openshift/sig-master

[2018-07-06 15:58] jwforres commented on #20193
@openshift/sig-developer-experience

[2018-07-06 16:19] stepanvanecek opened #20239 "Login with LDAP fails for some users while works for others"
Hi,

some of our users are having troubles with LDAP Login while the others (approx 90% of users) can login using the same approach. All entries in our LDAP database have the same configuration so the only difference in the database are the values(names, emails...). Therefore, I was not able to find any pattern to help distinguish the users who can log in and who can't.

##### Version
oc v3.9.0+19

[2018-07-06 17:01] stevekuznetsov commented on #17695
/close

[2018-07-06 17:01] #17695 closed

[2018-07-06 17:02] stevekuznetsov commented on #20214
We poll until the machine is ready:

[code]

Then in that link, looks like the machine went down?

[code]

We looped on that 10 times to give it retries, and they all failed. I think this is a symptom of a dead VM of some sort. Not clear that more retries would have helped.

[2018-07-06 17:05] bparees commented on #20214
what about going all the way back to launching a new VM in this scenario?

[2018-07-06 17:06] bparees commented on #20214
(that is what i meant by retry: retry launching the VM)

[2018-07-06 17:30] stevekuznetsov commented on #20214
The new `ci-vm-operator` should fix that by using a controller with a workqueue to retry VM lifecycle management. Attempting to hack this into some bash in `sjb` seems futile.

[2018-07-06 17:34] liggitt commented on #20216
likely the "text=auto" setting for .cs files is resulting in renormalization on clone

https://stackoverflow.com/a/10363472/54696

[2018-07-06 18:03] bparees commented on #20214
ok.

[2018-07-06 18:03] #20214 closed

[2018-07-06 18:44] #17676 closed

[2018-07-06 18:44] #18433 closed

[2018-07-06 18:44] #18373 closed

[2018-07-06 18:44] #8291 closed

[2018-07-06 20:36] stevekuznetsov commented on #17427
`junitreport` is dead so
/close

[2018-07-06 20:36] #17427 closed

[2018-07-06 20:58] sjenning commented on #20204
This was pretty much covered in minishift/minishift#2058 but you can not become root inside a container on OpenShift Online.  Kubernetes does not yet support user namespaces which should allow this, but currently, you have to be in the `anyuid` or `privileged` SCC to do this.

However, for your application, you don't *need* to be root as /proc is owned by the UID running the container process (105

[2018-07-06 21:20] jwforres commented on #20239
@openshift/sig-security

[2018-07-06 21:28] liggitt commented on #20239
objectGUID is a binary attribute, and is not appropriate to use as a text string. See https://bugzilla.redhat.com/show_bug.cgi?id=1439439

[2018-07-06 21:30] #17954 closed

[2018-07-06 21:30] #19937 closed

[2018-07-06 21:32] #20239 closed

[2018-07-07 00:44] #18434 closed

[2018-07-07 00:44] #13065 closed

[2018-07-07 02:15] Firstyear commented on #10661
/reopen

[2018-07-07 02:15] Firstyear commented on #10661
/remove-lifecycle rotten

[2018-07-07 02:15] Firstyear commented on #10661
Once again, your bot is harmful to legitimate issues and hurtful to the community.

[2018-07-07 02:15] Firstyear commented on #10655
/reopen

[2018-07-07 02:16] Firstyear commented on #10655
/remove-lifecycle rotten

[2018-07-07 02:16] Firstyear commented on #10655
/lifecycle frozen

[2018-07-07 02:16] Firstyear commented on #10661
/lifecycle frozen

[2018-07-07 02:16] Firstyear commented on #10655
This bot is hurtful to the community, and you should be investigating issues properly, not having a bot close them.

[2018-07-07 06:32] mliker opened #20246 "Init container keeps re-executing"
I have an init container which copies some files from the init container image to a volume shared with the main container. It is a simple `rsync -a source dest`. After the init container completes successfully (exit code 0) the main container is started and the pod has status of Running. However after a minute or two, while the main container is still running (no restarts) the init container is st

[2018-07-07 06:44] #18491 closed

[2018-07-07 06:44] #18492 closed

[2018-07-07 15:11] coreydaley commented on #20107
![](https://github.trello.services/images/mini-trello-icon.png) [(3) Reuse existing imagestreams with new-app [app_creation][tech_debt]](https://trello.com/c/BOR33gza/1559-3-reuse-existing-imagestreams-with-new-app-appcreationtechdebt)

[2018-07-07 18:44] #18501 closed

[2018-07-07 18:44] #18364 closed

[2018-07-08 03:30] yuanlinios opened #20249 "dockerImageReference refers to external image even dockerImageRepository points to a private one"
I am using openshift origin in an isolated environment and thus do not want public/external images are pulled during application deployment. So I downloaded dockerhub images first, tagged them, and then pushed to the integrated private registry.

But when I deploy an app from image stream, I can still see openshift is trying to pull image from docker.io

##### Version
oc v3.9.0+191fece
kubernetes

[2018-07-08 06:45] #11611 closed

[2018-07-08 11:59] gbraad commented on #17316
This is still an issue.

/remove-lifecycle stale

[2018-07-08 11:59] gbraad commented on #17316
/remove-lifecycle rotten

[2018-07-08 12:05] gbraad commented on #17316
For minishift this is an issue with some Hypervisor that force a search entry from the DHCP offer. Eg. HyperV on the "default switch" uses `search mshome.net` and can cause lookups during S2i to github.com to fail

[2018-07-08 12:45] #11480 closed

[2018-07-08 12:45] #16728 closed

[2018-07-08 12:45] #17805 closed

[2018-07-08 18:45] #18392 closed

[2018-07-08 18:45] #7637 closed

[2018-07-08 18:45] #18500 closed

[2018-07-08 18:54] php-coder commented on #19126
/lifecycle frozen
/remove-lifecycle stale

[2018-07-09 00:10] barakbd opened #20250 "User tracking for config changes"
Is it possible to see which user made a config change?
##### Version
v3.6.173.0.49

[2018-07-09 02:04] adnanyaqoobvirk opened #20251 "Failed to retrieve CRD resource of kind Project"
Hi,

I have been trying to install Nuclio 0.5.4 in Openshift v3.9.0 and have been facing an issue related to custom resource creation and retrieval. Nuclio has `projects.nuclio.io` crd and creation of it works fine, listing it using `oc get projects.nuclio.io -n nuclio` works as well but when I try to get or describe specific resource like `oc get projects.nuclio.io/example-project -n nuclio`, It

[2018-07-09 05:11] tnozicka commented on #19250
/lifecycle frozen

[2018-07-09 06:45] #11338 closed

[2018-07-09 08:01] sttts commented on #20194
These metrics are etcd server metrics. I guess these only exist in our openshift binary because we still link in etcd for all-in-one mode. But as your etcd cluster is external, you have to grab those metrics from there.

[2018-07-09 08:20] IlonkaO opened #20252 "Require Explicit Quota to Consume a Resource doens't work"
I tried to deny the request of storage for new projects. So I'm following the description under [https://docs.openshift.com/container-platform/3.9/admin_guide/quota.html#limited-resources-quota].
After that I create a new project and developed a jenkins pod with a PVC. Unfortunately it works.

It is an non-productive cluster with 2 masters-nodes, 2 infra-nodes and 1 compute-node

##### Version
oc

[2018-07-09 08:29] dagwieers commented on #11338
/remove-lifecycle rotten.
/lifecycle frozen.

[2018-07-09 09:05] tnozicka commented on #20225
@bparees I am not sure I am understanding this right. The timeout for that test is 5 minutes - that should be more that enough for the SA to be provisioned? If it goes to backoff, which in the case of SA missing is correct, when the SA gets provisioned it should pull just fine - but from the master logs it is unable to pull through all that time:
[code]
seems like it never gets a SA or there is re

[2018-07-09 09:41] kamesh2229 commented on #20233
Hi,

I tried deploying using oc debug -f and getting the below error.

oc debug -f elasticsearch-template.yml
error: cannot debug elasticsearch: unable to extract pod template from type *template.Template

So deployed the normal way how i was doing and still facing the problem but now the container is not at all started in this case

oc process -f elasticsearch-template.yml PROJECT_NAME=sampleName

[2018-07-09 10:04] AvTiMp opened #20254 "Nine secrets of new project can't be all created when secrets quota is less than 9"
##### Version
oc v3.9.14
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://openshift-cluster.example.com:8443
openshift v3.9.14
kubernetes v1.9.1+a0ce1bc657

##### Steps To Reproduce
1. register a new user and  set a  corresponding clusterreousrcequota which has the secrets limit set to 9
2. create a new project

##### Current Result
the new project has three

[2018-07-09 10:23] tmds commented on #20216
Thanks @bparees and @liggitt for finding the root cause!

[2018-07-09 11:49] bparees commented on #20225
I don't know what the image pull logic is for a pod..  if a pod is in image pull backpoff and then the secret appears, will it use the secret on the next attempt, or has it already concluded no secret should be used when pulling and ignores the secret?  These are questions for the pod team.  But we have logic to wait for service accounts in our build tests and we never see a case where the service

[2018-07-09 12:24] tnozicka commented on #20225
@openshift/sig-pod

I don't want to hack it if it would be actually a bug in kubelet. Seems like it should reconcile, unless there is good reason not to.

[2018-07-09 13:15] liggitt commented on #20225
pull secrets for the internal registry are added to service accounts as the pull secrets are provisioned, which happens asynchronously

pull secrets are copied from a service account to a pod spec at the point in time when the pod is created. the pod is never updated from that point on