[2015-09-17 13:41] jwforres opened #4709 "No annotations are being added to cloned builds"
Today cloned builds do not get the openshift.io/build.number annotation. Cloned builds should increase the sequence number for builds, and get the build.number annotation.

They should also get an openshift.io/build.clone-of that references which build this was cloned from.  Debatable whether this should be just the build number of what it was cloned from or if it should actually be the name of it

[2015-09-17 13:43] jwforres commented on #4709
@bparees

[2015-09-17 13:47] liggitt commented on #4709
Not sure about the sequence number.

[2015-09-17 13:47] liggitt commented on #4709
@csrwng

[2015-09-17 13:51] #4206 closed

[2015-09-17 13:53] jwforres commented on #4709
@liggitt @smarterclayton says we are increasing sequence number on deployments when we clone, so we are inconsistent today.  What is your argument against increasing sequence number?

[2015-09-17 13:55] csrwng commented on #4709
@jwforres just so that I understand, if you have build-4 and you clone it, you expect build-5 ?

[2015-09-17 13:58] jwforres commented on #4709
Yes, that is consistent with other systems, like Jenkins

On Thu, Sep 17, 2015 at 9:55 AM, Cesar Wong <notifications@github.com>
wrote:

[2015-09-17 14:02] csrwng commented on #4709
I guess we've done it the way it is because you can readily tell from the name what build it came from, but if we're going to put that in an annotation and display it in the UI, I don't have any objection. @bparees ?

[2015-09-17 14:18] smarterclayton commented on #4709
Isn't changing the sequence number going to trigger a build?

[2015-09-17 14:19] csrwng commented on #4709
not today

[2015-09-17 14:21] liggitt commented on #4709
really? I thought grabbing a sequence number for a clone was going to require rearchitecting build allocations. "clone" of a deploy is really a rollback, right, which is different?

[2015-09-17 14:29] csrwng commented on #4709
I don't think it's any different than generating a new build from a build config, except that you're using another build as the source for your build object. So we'd need to make this function https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L540 behave more like https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L285

[2015-09-17 15:15] csrwng commented on #4709
@soltysh since you implemented the clone on generate, any thoughts?

[2015-09-17 15:32] ewolinetz opened #4711 "Volumes not mounted for Pre-hook container"
I'm trying to leverage a Recreate Pre-hook and a PV to seed configuration for a container.  I see that my seeding script fails because the mounted path for my container, as specified by my template, cannot be found.  But the application pod succeeds using the same script (and is able to write to the mounted path).  The PVC and PV have status 'bound' when I do a oc get pvc; oc get pv

[code]

[2015-09-17 15:39] sosiouxme commented on #4711
https://docs.openshift.org/latest/rest_api/openshift_v1.html#v1-execnewpodhook doesn't indicate any way to specify volumes for the lifecycle pod. If volume definitions are not getting automatically copied from the deploymentconfig pod template, then there should be a way to specify what volumes you do want on the lifecycle pod. Without being able to share the volumes, lifecycle pods seem pretty li

[2015-09-17 16:11] bparees commented on #4709
might as well put the full build name in the clone annotation.

otherwise i'm fine with this as long as @soltysh doesn't have a technical reason why he went with appending a timestamp over bumping the sequence number.

[2015-09-17 16:42] soltysh commented on #4709
At the time I wanted to create subnumbers for cloned builds. That was
supposed to allow infinite clones from already existing clones.
Unfortunately I failed with that idea and went with timestamped
subnumbers.  I'm ok with bumping the overall build sequence.  I'll have a
closer look at that later today.
On Sep 17, 2015 6:11 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-09-17 17:38] deads2k commented on #4711
See https://github.com/openshift/origin/issues/3739.

[2015-09-17 17:41] ironcladlou commented on #4330
I finally reproduced it and at least understand where version 3 is coming from: environment vars for the containers in the DC are being updated back to their original state at some point, which is detected as a config change.

version 1->2:
[code]

version 2->3:

[code]
[code]

[2015-09-17 17:46] mfojtik commented on #4708
@rhcarvalho fyi

[2015-09-17 17:50] deads2k commented on #4278
No new references for four weeks.  Requesting closure.

[2015-09-17 17:59] ironcladlou commented on #4330
I need to do a lot more testing, but I have a theory now: deployment v2 (for the env change produced by `oc env`) is being continually requeued in the change controller due to the in-flight deployment for  v1 which will never complete. The DC is deleted. Sometimes the deletion happens while the change controller has v2 still queued in memory (or has just started processing v2) after the DC (and th

[2015-09-17 18:08] csrwng opened #4713 "Fix new-app unit tests to not require external network access"
Currently new-app unit tests are cloning from Github. The dependency needs to be removed at least for unit tests.

[2015-09-17 18:08] csrwng commented on #4713
@smarterclayton

[2015-09-17 18:11] ironcladlou commented on #4330
This is related to #3660

[2015-09-17 18:19] ncdc commented on #4713
See #3624

[2015-09-17 18:29] ironcladlou commented on #4330
So, we're not going to be able to prevent creating the RC when the DC has been deleted (because we can't guarantee we have the latest DC state at the time of creation, and we can't establish an FK relationship between the RC and the DC to cause an atomic create breakage). The reality seems to be that it'll be possible to create the deployment RC (and as another possible byproduct, a deployer pod)

[2015-09-17 19:26] pweil- opened #4715 "Make SCC errors more specific"
SCC admission tries to lump all errors from the validation of the provider into a message about the security context.  This doesn't make sense since the SCC controls items that are inside and outside of the context.  Improve the error reporting so that admission does not try to categorize the error and the provider provides enough specifics of the field location.

https://github.com/openshift/orig

[2015-09-17 19:34] smarterclayton commented on #4330
The RC from a different DC uid should not be considered part of the
sequence probably.

On Sep 17, 2015, at 2:29 PM, Dan Mace <notifications@github.com> wrote:

So, we're not going to be able to prevent creating the RC when the DC has
been deleted (because we can't guarantee we have the latest DC state at the
time of creation, and we can't establish an FK relationship between the RC
and the DC to

[2015-09-17 19:34] smarterclayton commented on #4713
Let me unify this with my Dockerfile changes for build.

On Sep 17, 2015, at 2:09 PM, Cesar Wong <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton>

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4713#issuecomment-141169614>.

[2015-09-17 19:49] sosiouxme commented on #3739
Agreed you may not want every volume. Per https://github.com/openshift/origin/issues/4711 though you may want some. In that case to initialize a PVC that should be shared with the main pod. Perhaps the hook pod should provide a filter of the names of volumes to inherit from the main pod?

[2015-09-17 20:07] ironcladlou commented on #4330
I don't know we can make the distinction that the RC is technically owned by the DC but should only be excluded for sequence computation (and making sequence computed like that is itself a big unknown in terms of LOE). The problem would be resolved easily if the DC didn't adopt the orphan in any respect. Unfortunately, supporting such a concept at this point seems like a big effort. I think at the

[2015-09-17 20:11] smarterclayton commented on #4330
We could see the annotation and fail the deployment maybe?  Not sure

On Sep 17, 2015, at 4:07 PM, Dan Mace <notifications@github.com> wrote:

The RC from a different DC uid should not be considered part of the
sequence probably.

I don't know we can make the distinction that the RC is technically owned
by the DC but should only be excluded for sequence computation (and making
sequence computed li

[2015-09-17 20:26] amdonov commented on #4567
I'm fighting the same thing. Currently running 1.0.5. I'm using the integrated registry deployed via oadm registry. A copy of my failing build is included below. I've set the pullSecret to the value of  the pushSecret. The build fails with the same error as above, "pulling with digest reference failed from v2 registry". The registry complains that it didn't login. When I manually run docker pull t

[2015-09-17 20:29] ncdc commented on #4567
@amdonov can you `docker pull 172.30.63.116:5000/mocks/tomcat6@sha256:39a0ba9e84903070fff0e268a7bd7f389d7b4aa887f67fd875fc725aa8259593` after you've logged in to the registry?

/cc @miminar

[2015-09-17 20:31] amdonov commented on #4567
Yes, and then the build works. However everytime the upstream image is changed, the downstream build kicks off again and fails until I manually pull it.

[2015-09-17 20:32] ncdc commented on #4567
@amdonov can you paste the logs from the registry container from around the time the build fails to pull?

[2015-09-17 20:39] amdonov commented on #4567
time="2015-09-17T20:39:13Z" level=debug msg="authorizing request" http.request.host="172.30.63.116:5000" http.request.id=84da5094-2181-45dd-86ae-5aef546da00f http.request.method=GET http.request.remoteaddr="10.1.1.1:60625" http.request.uri="/v2/" http.request.useragent="docker/1.7.1 go/go1.4.2 kernel/3.10.0-229.11.1.el7.x86_64 os/linux arch/amd64" instance.id=8a7a5963-0d65-434c-bcad-c876a166d333
t

[2015-09-17 20:41] soltysh commented on #4709
There's a discussion on changing that behavior already happening in #3368

[2015-09-17 20:43] ncdc commented on #4567
Ok, it's not using the secret, so the registry is returning 401 unauthorized.

@mfojtik @bparees do you have to do anything special to get the Docker build strategy to use pull secrets?

[2015-09-17 20:44] bparees commented on #4567
@ncdc nope, as long as the secret exists on the service account the build will use it.

[2015-09-17 20:45] csrwng commented on #4709
Yup, moving to the sequential numbers would fix the bug brought up in that issue (builds not getting named correctly after seq > 9). I had coded a fix for that, but using sequential numbers is much better. Will work on a pull.

[2015-09-17 20:50] ncdc commented on #4567
@bparees I dunno what's going on, then. This doesn't appear to be a registry issue. It looks like the secret isn't being used.

[2015-09-17 20:52] soltysh commented on #4709
Awesome thanks @csrwng !

[2015-09-17 20:55] mfojtik commented on #4567
if you add the private registry image to FROM in docker build and then
build it... I dont think the host docker have proper pull secrets.
On Sep 17, 2015 10:50 PM, "Andy Goldstein" <notifications@github.com> wrote:

[2015-09-17 20:58] bparees commented on #4567
the logical conclusion would be that we're not finding a secret on the service account for the pull repository.

can you dump the secrets from your builder service account?

```$ oc get serviceaccount builder -o json```
```$ oc describe secret  <secret from above>```  ?  what we care about is the ip address in the values.

@mfojtik the builder has a From definition in it, that is what we should be

[2015-09-17 21:04] bparees commented on #4567
@mfojtik https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L372-L374

[2015-09-17 21:11] smarterclayton commented on #3739
What are the odds there's just one pod?  Only shared volumes can be reused,
but we'd still need the regular volumes for any pod that fails when it
doesn't have write access to a dir.  Tempted to say all of them should be
copied implicitly.

On Thu, Sep 17, 2015 at 3:49 PM, Luke Meyer <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-17 21:15] liggitt commented on #4567
There's been enough difficulty debugging this sort of issue that we should probably add better logging around the auto selection of pull secrets (at some verbosity level)

[2015-09-17 21:19] bparees commented on #4567
@liggitt there are some: https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L506

[2015-09-17 23:12] ncdc commented on #4567
@csrwng could this have something to do with the go-dockerclient auth config changes recently?

[2015-09-18 00:58] csrwng commented on #4567
Yes this looks like the same issue, which should be fixed in master. One thing to note when debugging these issues is that docker pull is not the same as docker build because the format of the auth header is different. For pull only the relevant credentials are passed in, while for build, the entire map of credentials is passed.

[2015-09-18 01:01] amdonov commented on #4567
Could you point to the relevant files/commits? I'd like to patch my install if possible.

[2015-09-18 01:22] amdonov commented on #4567
Should I just update the go-dockerclien dependencyt?

[2015-09-18 01:23] liggitt commented on #4567
https://github.com/openshift/origin/pull/4535/commits Was where origin got updated

[2015-09-18 01:43] csrwng commented on #4567
The changes are originally here
https://github.com/fsouza/go-dockerclient/pull/365
And they were merged in origin here (along with other changes)
https://github.com/openshift/origin/pull/4535

[2015-09-18 03:48] liggitt opened #4718 "Missing required template parameter returns FieldInvalid error, not FieldRequired error"
Follow up from https://github.com/openshift/origin/pull/4641#issuecomment-140249395

That PR changed all errors resulting from a GenerateParameterValues error to a FieldInvalid error. Previously, a missing "required" parameter value generated a FieldRequired error, which was correct.

A client can infer things from a "FieldRequired" error. With a "FieldInvalid" error, all it can do is display the

[2015-09-18 04:21] liggitt commented on #4675
Or you could just bump godep.json to 19fbc46ed12348d5122812c8303fb82e49b6c25d since my upstream already merged... I haven't had time to audit all the following commits, which I would want to

[2015-09-18 04:25] bparees commented on #4718
It didn't return  field required before either.

It returned a field invalid which wrapped a field required error as the "value" of the invalid field. Which was definitely wrong.

[2015-09-18 04:35] liggitt commented on #4718
so I see. still, it should be a FieldRequired error now :)

[2015-09-18 08:57] stefwalter commented on #4681
[![Fixed behavior](http://img.youtube.com/vi/95I-3byMC8Q/0.jpg)](http://www.youtube.com/watch?v=95I-3byMC8Q)]

[2015-09-18 13:08] amdonov commented on #4567
Thanks for the help. I upgraded to 1.0.6, and it fixed the problem.

[2015-09-18 13:24] jwforres opened #4722 "Reconsider which objects we filter on the console overview"
Today we only provide suggestions for the labels on the services and the filter only shows/hides blocks based on what services are visible.

This currently means things that aren't routed to by services never get filtered out.

The problem with providing label suggestions for all the resource types / filtering all the resource types is that causes weird behavior when some objects in a group have a

[2015-09-18 13:25] jwforres commented on #4722
cc @liggitt

[2015-09-18 13:38] bparees commented on #4718
sure.  just defending my commit from charges of regression. :)

[2015-09-18 13:50] ironcladlou commented on #3739
Are there any dangers to copying unsharable volumes, or copying ones that are shareable but not intended to actually be shared? Requiring explicit references seems safest... for fuzzy matching, should we keep it simple and based on field selector syntax? Is there some other standard for such pattern matching within the system (e.g. regex)?

[2015-09-18 14:42] liggitt commented on #4278
@deads #4720?

[2015-09-18 14:42] liggitt commented on #4278
@deads2k #4720?

[2015-09-18 14:44] deads2k commented on #4278
hahaha.  Figures.

[2015-09-18 15:11] smarterclayton commented on #3739
For unsharable, if you're using an RC with an exclusive unsharable volume
and a post deployment hook, it will hang and never complete.  How about
just a list of the volumes you want, with some way to say "all volumes"

On Fri, Sep 18, 2015 at 9:50 AM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-18 16:40] ironcladlou commented on #3739
An explicit list of named volume references and a way to express "all" would be good.

[2015-09-18 16:40] ironcladlou commented on #3739
Does this need re-prioritized?

[2015-09-18 17:45] smarterclayton commented on #3739
Reprioritized

On Fri, Sep 18, 2015 at 12:41 PM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-18 17:58] ironcladlou commented on #4330
Discussed on IRC. Right now the assumption throughout the deployment system is that deployments/deployer pods/etc ownership is established by matching on config name. If new configs can inherit related objects from previous but same-named configs, it seems consistent to me that the version of that new config should be either:

1. The latest existing deployment version, if the config's pod template

[2015-09-18 18:08] pweil- commented on #3739
@kargakis - discussed with @ironcladlou, this is LOE and a good candidate for you to take a look at.  @ironcladlou will create a card or BZ for this, it will need QE.

[2015-09-18 18:11] ironcladlou commented on #3739
Trello card: https://trello.com/c/S1J0hGqB

[2015-09-18 20:22] #4549 closed

[2015-09-18 22:10] rhcarvalho commented on #4470
Update: since it doesn't add any complexity to us and for consistency, we'll be adding an ENV instruction after every FROM in the Dockerfile.

[2015-09-18 23:01] smarterclayton opened #4730 "oc new-build can set from and destination to the same image stream"
`oc new-build openshift/origin-base <source>` where the source name is `origin-base` will create a new image stream origin-base to track the docker hub, then set the output target for the build to origin-base:latest which is bad.  We may need to give the source or target IS a different name in this case, or force the user to specify --name, or do something that isn't circular.

[2015-09-18 23:49] smarterclayton opened #4731 "Namespace controller seems to wedge in extended test"
`test/extended/core.sh -focus="Namespaces Delete 90 percent of 100 namespace in 150 seconds"` seems to wedge the namespace controller in an infinite loop:

[code]

[2015-09-19 00:06] smarterclayton commented on #4731
This is the primary cause of the upstream kube tests failing - after this test hangs (and i believe it hangs for quite a while, until max timeout) the namespace controller is locked which prevents the AfterEach steps in each other test from completing (they try to tear down their namespace, fail, and give up).

[2015-09-19 01:28] derekwaynecarr commented on #4731
Thanks for the detail to isolate scenario.

On Friday, September 18, 2015, Clayton Coleman <notifications@github.com>
wrote:

[2015-09-19 01:37] derekwaynecarr commented on #4731
I think I better understand the error scenario.

If we get an error on the Finalize call related to ResourceVersion, we
should try again, but we should never requeue a stale Namespace in the
controller framework since we will always work with the stale resource
version in current code when doing the Finalize.

Will try a fix early Monday.  The trace helps a lot.

On Friday, September 18, 2015, Der

[2015-09-19 01:40] derekwaynecarr commented on #4731
This problem makes more sense with two controllers doing finalization.  It
makes less sense in the Kubernetes case when a single finalizer is running.

On Friday, September 18, 2015, Derek Carr <decarr@redhat.com> wrote:

[2015-09-19 05:18] smarterclayton commented on #4731
I'm able to recreate by trying to delete four controllers at the same time.  Sounds like you found it though.

[2015-09-19 05:18] smarterclayton commented on #4731
four namespaces

[2015-09-19 05:18] nak3 opened #4733 "No option to create master config by oadm command"
Even though oadm has `create-node-config`[1], there are no option to create master config by oadm.
I know it is possible to create by `openshfit start --write-config`, but it is better to add it as oadm's option.
I need to create openshift master config for manual installation.

[1]
[code]

[2015-09-19 07:41] chmouel opened #4734 "Crash when starting build"
on a latest installed origin (with ansible) :

<pre>
[root@devstack ~]# oc version
oc v1.0.5-4-g3eee7d2-dirty
kubernetes v1.1.0-alpha.0-1605-g44c91b1
[root@devstack ~]#
</pre>

I am getting a crash when trying to start a build. Here is the log from systemd :

http://pastebin.com/ffxnpYzW

[2015-09-19 08:31] lorenzvth7 commented on #4708
@mfojtik don't you have an explanation? Thanks

[2015-09-19 17:39] rhcarvalho commented on #4470
Docs PR: https://github.com/openshift/openshift-docs/pull/982

@bparees FYI ^^

[2015-09-20 17:03] chmouel commented on #4734
I had by the way no reg deployed not sure if that's what cause the problem, nevertheless it prob shoudl not crash

[2015-09-21 04:36] liggitt commented on #4734
Sep 19 07:33:01 devstack.chmouel.com openshift-master[48369]: runtime.sigpanic()
Sep 19 07:33:01 devstack.chmouel.com openshift-master[48369]: /usr/lib/golang/src/runtime/sigpanic_unix.go:26 +0x274 fp=0xc20bbb9aa8 sp=0xc20bbb9a58
Sep 19 07:33:01 devstack.chmouel.com openshift-master[48369]: github.com/openshift/origin/pkg/build/generator.(*BuildGenerator).updateImageTriggers(0xc209fbff40, 0x7fa5fb

[2015-09-21 04:37] liggitt commented on #4734
@bparees @csrwng

[2015-09-21 04:39] liggitt commented on #4734
https://github.com/openshift/origin/pull/4505 may have resolved it, but can @csrwng take a quick look to make sure there's no other case we can hit when we're missing a registry?

[2015-09-21 08:10] rhcarvalho commented on #4708
@lorenzvth7 I could not reproduce that. I can instantiate the template, create a table, insert values, read them back.
BTW, this single line is enough to instantiate the template in the current project:

[code]

or, if you don't have the file locally, you can point to a URL:

[code]

@lorenzvth7 could you please make sure you have the latest image?

[2015-09-21 08:19] lorenzvth7 commented on #4708
Yes, The problem occurs for every database I've made. (mysql/postgresql, with template, without template)

[2015-09-21 08:40] rhcarvalho commented on #4708
Could you please run the commands below?

1\. Could you also check you have the same image id?

[code]

2\. I'm creating a docker container based on the PostgreSQL image, it starts normally, I can see the files created under  /var/lib/pgsql/data/. Do you get similar output?

[code]

[2015-09-21 08:45] lorenzvth7 commented on #4708
The first thing is the same. But now I see I have a pod running of the postgresql but no container.

[2015-09-21 09:18] rhcarvalho commented on #4696
@lorenzvth7 where did you take the example from? Could you please provide me a link?

If you don't have the file locally, you can create the image streams pointing to a URL:
[code]

BTW, you might ask for help using the users mailing-list:
https://lists.openshift.redhat.com/openshiftmm/listinfo/users

[2015-09-21 09:24] rhcarvalho commented on #4708
@lorenzvth7 I suspect this might have to do with your other issue https://github.com/openshift/origin/issues/4676.
@ncdc could you have a look here? I suspect this might be related to running openshift as a docker container and missing selinux labels on volumes (in this case the volume that backs up /var/lib/pgsql).

[2015-09-21 12:04] deads2k commented on #4682
@stevekuznetsov We spoke in person on Friday.  Is is possible for you to pin the level of the `go vet` tooling and ruleset?  Doing that and manually updating every iteration or two is much more manageable than trying to deal with different results on developer machines.

[2015-09-21 12:15] deads2k opened #4736 "`hack/verify-godeps.sh`"
@kargakis @pweil- @liggitt https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh looks useful for our rebases, to at least help with the first hurdles.

If we forced it to pass during our ami tests (a weird extended bucket or in the extended job?), then we'd be a little cleaner.

[2015-09-21 12:37] bparees commented on #4734
@liggitt by "missing a registry" you mean when there's no openshift registry, or do you mean when there's no From/To defined in the buildconfig?

[2015-09-21 13:03] csrwng commented on #4734
@liggitt I looked over that part of the code and at least for now can't see another place where we could run into this issue.

[2015-09-21 13:33] liggitt commented on #4734
Closing as resolved by #4505

[2015-09-21 13:33] #4734 closed

[2015-09-21 14:01] sosiouxme opened #4739 "test flake in test-cmd.sh"
https://travis-ci.org/openshift/origin/jobs/81383879 per https://github.com/openshift/origin/pull/4720

[code]

Just a guess, wasn't there a change recently where pods stick around for a little while after being deleted? Could be messing with successive tests that deploy the same pod...

[2015-09-21 14:05] liggitt commented on #4739
we haven't picked up graceful deletion yet

[2015-09-21 14:07] liggitt commented on #4736
I like the idea. I would be more enthusastic if it wasn't giving me fits upstream

[2015-09-21 14:11] liggitt commented on #4682
Version locked for vagrant/jenkins in https://github.com/openshift/vagrant-openshift/pull/322

@stevekuznetsov can you do the same in `hack/install-tools.sh` (though I think you need to add a build step after checking out the locked version of `go vet`)

[2015-09-21 14:18] derekwaynecarr commented on #4731
I cannot reproduce this on the upstream tests:

[code]

Ran multiple times with no error.

[2015-09-21 14:22] fbricon commented on #4458
So turns out the issue was caused by the rest client lower-casing the secret in the url, making it invalid. This has been fixed in https://github.com/openshift/openshift-restclient-java/commit/411668022c0de303bad3cfa943af8340beb22087

[2015-09-21 14:53] #4578 closed

[2015-09-21 14:58] smarterclayton commented on #4731
It's happening for me everytime in origin tests.  In fact, creating
multiple namespaces with stuff in them and doing rapid deletes triggered it

On Sep 21, 2015, at 10:18 AM, Derek Carr <notifications@github.com> wrote:

I cannot reproduce this on the upstream tests:

go run hack/e2e.go -check_version_skew=false -test -v
--test_args="--ginkgo.focus=Namespaces Delete 90 percent of 100
namespace in

[2015-09-21 17:11] smarterclayton commented on #4330
How would this work in upstream?

On Fri, Sep 18, 2015 at 1:58 PM, Dan Mace <notifications@github.com> wrote:

[2015-09-21 17:17] thoraxe opened #4744 ""oc patch" doesn't work for non-cluster admins"
[code]

@deads2k

[2015-09-21 17:24] ironcladlou commented on #4330
There's no version number to consider upstream, so none of these consistency issues apply.

If you recreated the deployment and its template hash still matched the latest, nothing would happen... if the hash was different, then the recreated deployment would be probably be considered new and everything else would get scaled down.

[2015-09-21 17:43] smarterclayton opened #4745 "test"
@smarterclayton fyi

[2015-09-21 17:45] smarterclayton commented on #4745
What is it email not?

On Sep 21, 2015, at 1:45 PM, OpenShift Bot <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> fyi

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4745#issuecomment-142056358>.

[2015-09-21 17:46] smarterclayton commented on #4745
Srsly you suck

On Sep 21, 2015, at 1:45 PM, OpenShift Bot <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> fyi

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4745#issuecomment-142056358>.

[2015-09-21 17:56] smarterclayton commented on #4745
@liggitt

[2015-09-21 17:57] liggitt commented on #4745
Before

On Sep 21, 2015, at 1:56 PM, Clayton Coleman <notifications@github.com>
wrote:

Inline

@liggitt <https://github.com/liggitt>

After

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4745#issuecomment-142060955>.

[2015-09-21 18:03] #4470 closed

[2015-09-21 18:54] smarterclayton commented on #4330
Do you mean on the RC?

On Mon, Sep 21, 2015 at 1:24 PM, Dan Mace <notifications@github.com> wrote:

[2015-09-21 19:44] ironcladlou commented on #4330
Yeah, I meant RC... if the recreated deployment pod template doesn't match any existing RC pod templates, a new RC would be created based on the recreated deployment, and all other RCs for that deployment would be considered "old" and would be targetted for scale-down.

[2015-09-21 19:49] stevekuznetsov commented on #4682
@liggitt I can do that, yes. Currently we are also getting no answers upstream for this. Unclear how to proceed.

[2015-09-21 20:10] smarterclayton commented on #4330
So in the future, we'd adopt the RC automatically.  Today, we want to
adopt, but can't exactly.

On Mon, Sep 21, 2015 at 3:44 PM, Dan Mace <notifications@github.com> wrote:

[2015-09-21 20:21] deanpeterson commented on #4567
I just ran into this too.  I am running a binary I built from source a week ago.  Do I need to upgrade to 1.0.6 too already?  This is the output of the docker registry log I am seeing:

time="2015-09-21T19:58:29Z" level=debug msg="authorizing request" http.request.host="172.30.131.51:5000" http.request.id=94bd0dc2-aee3-42f9-916c-bc97ebdf64da http.request.method=GET http.request.remoteaddr="172.17.

[2015-09-21 20:24] ncdc commented on #4567
@deanpeterson yes, if you're hitting the same issue/root cause.

[2015-09-21 20:56] deanpeterson commented on #4567
The fix went into the master branch 17 days ago, yet I built from the master only 7 days ago and I am having this problem.

[2015-09-21 21:31] smarterclayton commented on #4745
On Monday, September 21, 2015, Jordan Liggitt <notifications@github.com>
wrote:

Is the gmail client any better?

[2015-09-21 21:38] deanpeterson commented on #4567
Well, that worked.  I downloaded the latest 1.0.6 binary and I am able to pull from the registry.

[2015-09-22 00:16] #4494 closed

[2015-09-22 03:00] #4744 closed

[2015-09-22 11:59] deads2k commented on #4745
That's readable.

Can you try to insert a comment

between the paragraphs

in this message?

[2015-09-22 13:31] jimmidyson commented on #3916
@ramr @smarterclayton Any news on this? I'd like to get this in, but with the current implementation of `oadm router` cmd this is pretty tricky.

I could make the addition of the prometheus exporter sidecar optional via a flag (defaulted to true?). Also could only add the sidecar if there's a compatible sidecar for the router `type` so only for haproxy & nginx to begin with.

Thoughts?

[2015-09-22 16:02] smarterclayton commented on #4745
On Tuesday, September 22, 2015, David Eads <notifications@github.com> wrote:

Yes

Yes

No

The problem is I have to use this execrable excuse for a mail client.  I'd
rather chew nails.

[2015-09-22 17:14] stevekuznetsov commented on #4682
@deads2k Has the following output after upgrading to the latest 1.4.2 build and updating `go vet`: https://gist.github.com/deads2k/5e5703dadf49c5302dc2

Investigating the output of the `find` command now.

[2015-09-22 17:46] stevekuznetsov commented on #4682
No difference in output of `hack/util.sh::find_files` between different workstations that have differences in `go vet` output.

[2015-09-22 17:53] deanpeterson opened #4757 "Can no longer access build-logs"
I recently upgraded to the latest binary from an older version.  I simply stopped the old openshift and started the new one.  Now when I attempt to get build logs I get a timeout:

Error from server: Get https://mongodb.test.router.default.svc.cluster.local:10250/containerLogs/test/tradeservicebase-build-1-build/docker-build?follow=true: dial tcp 172.30.219.139:10250: connection timed out

Does th

[2015-09-22 18:20] deanpeterson commented on #4757
Also, I don't remember changing my hostname to: mongodb.test.router.default.svc.cluster.local.  Can openshift automatically change a nodes hostname somehow?

[2015-09-22 18:27] #4757 closed

[2015-09-22 18:27] deanpeterson commented on #4757
etc/hosts entry causing the problem

[2015-09-22 19:26] deanpeterson opened #4759 "Build Error: Could not find image: no such id:"
My template with multiple buildconfigs worked on a different computer also running openshift binary 1.0.6.  Now the same template is giving me the following error:

[root@mongodb openshift_1_6]# ./oc build-logs tradeservicebase-build-3
Step 0 : FROM 172.30.227.97:5000/test/wildfly-jdk-8@sha256:5508b3ed1be2399e7623a4f362397c5b76d5a594cc3829025a33d253cc3ea768
 ---> 287b6a653101
Step 1 : USER root
F0

[2015-09-22 19:33] liggitt commented on #4497
There are several issues with plumbing authorization headers through the proxy to backend apps:
1. Conflicts with API authorization headers (as noted above)
* Headers are [automatically removed](https://github.com/openshift/origin/blob/dc1a7b07d54c2c169b9f278cb5ee05e86d5011c6/pkg/auth/authenticator/request/bearertoken/bearertoken.go#L35) after auth to avoid leaking credentials
2. Conflicts with Op

[2015-09-22 23:12] stevekuznetsov commented on #4534
@liggitt Is this coming in the rebase? What should I monitor to know when to attack this?

[2015-09-22 23:17] smarterclayton commented on #4497
Although to be fair proxy is there precisely to let you deal with the 20% -
everything else is busted.  Having the auth be able to come through a proxy
(not necessarily Kube auth, but a separate X-Authorization header) would at
least allow you to do that.

I agree though that pass through of the auth header is very scary.

On Sep 22, 2015, at 3:33 PM, Jordan Liggitt <notifications@github.com>
wrot

[2015-09-23 01:49] pat2man opened #4761 "Allow secrets to be injected into an s2i builder so application source code can use them"
Based on the conversation here: https://github.com/openshift/origin/pull/4146 it was decided that source builds will not be able to mount secrets. This makes it impossible to build applications that require private dependencies and have their authentication stored in a file.

For example, deploying apps using node.js with a private npm repository often involves editing an npmrc file. Example: http

[2015-09-23 01:56] deanpeterson commented on #4759
I'm getting all kinds of these strange could not find image errors even though openshift says the image is there.  I went home and on my other computer I am able to get to the deployment phase but then I have events that show the following:

9:49:31 PM
Pod
tradeservice-4-50ce3
failed
Failed to create docker container with error: no such image (14 times in the last 2 minutes, 9 seconds)
9:49:31 PM

[2015-09-23 03:18] deanpeterson commented on #4759
Am I doing something wrong in my template?  Does this somehow force Openshift to delete images before they can be used?

{
  "kind": "Template",
  "apiVersion": "v1beta3",
  "metadata": {
    "name": "trade-service",
    "creationTimestamp": null,
    "annotations": {
      "description": "no description"
    }
  },
  "objects": [
    {
      "kind": "Service",
      "apiVersion": "v1beta3",

[2015-09-23 03:47] johnjelinek commented on #4671
It's updated now.

[2015-09-23 03:47] #4671 closed

[2015-09-23 04:53] fkirill opened #4762 ""BuildConfig --> spec --> output --> to --> name" must be checked"
Hello,
if you made a mistake in setting the name of output image stream name in build config, build is just silently doesn't start without any diagnostics/logs whatsoever.

After changing "test/test3:latest" to "test3:latest" (by mistake it was image name instead of image stream name).

I guess, while creating such an object may be valid, the build start should fail with a meaningful error message

[2015-09-23 05:24] fkirill opened #4763 "Error pushing image to repository after successful build"
I set up local Vagrant env. Unfortunately, I cannot push image to the local integrated repository.

Here is the build config I use:

<pre><code>
.....
- apiVersion: v1
  kind: BuildConfig
  metadata:
    labels:
      app: test3
    name: test3
  spec:
    output:
      to:
        kind: ImageStreamTag
        name: test3:latest
    source:
      type: Git
      git:
        uri: http://192.168.1.

[2015-09-23 05:49] Yashu5 opened #4764 "fluentd is giving error"

[2015-09-23 10:45] mfojtik commented on #4762
@rhcarvalho FYI

[2015-09-23 11:22] rhcarvalho commented on #4762
I think this will be fixed if we resolve the ImageStream reference when we create a build out of a BuildConfig, because then the build will fail immediately. @bparees FYI too ^^
I'll point to my PR here once I create it.

[2015-09-23 11:26] rhcarvalho commented on #2982
@liggitt @bparees any particular reason why we would store the resolved spec in the build.status?
I think conceptually the pushspec is part of the build.spec, and not a "status" field. I'm aiming to resolve image stream references when we create a build out of a BC, so that the pushspec will be in build.Output.To.Name.

In case the build is created without a BC, we'll still need to resolve the ref

[2015-09-23 11:58] soltysh commented on #4763
Can you provide information about how did you setup your environment. OpenShift by default creates a handful of service accounts and roles for building and deploying (see [docs](https://docs.openshift.org/latest/dev_guide/service_accounts.html#default-service-accounts-and-roles)). It looks like your builder is missing the automatically generated token for accessing internal registry, or maybe you'

[2015-09-23 12:08] deads2k commented on #4534
It should be in the rebase:  https://github.com/openshift/origin/pull/4663.

[2015-09-23 12:10] liggitt commented on #2982
We don't want to lose the symbolic destination of the build, which we would if the push spec was resolved to a particular registry ip in the spec

[2015-09-23 12:18] liggitt commented on #4762
I think it would be ok to make sure the reference can resolve when creating the build, but I think the build spec should still contain the symbolic reference. That is used by various parts of the system (at least the web console, and maybe parts of the CLI like `oc status`) to correlate the build with the image stream, which is hard to do if the symbolic information is resolved away

[2015-09-23 12:28] rhcarvalho commented on #2982
Does it also mean we might re-resolve a pending build? E.g., if the registry IP changes.

[2015-09-23 12:35] #4764 closed

[2015-09-23 13:48] ironcladlou commented on #4328
@smarterclayton should we remove the fake entry?

[2015-09-23 13:56] deanpeterson commented on #4759
I am still completely stuck on this issue.

[2015-09-23 14:29] y0no commented on #4561
Anything new on this issue ?

[2015-09-23 14:46] eparis commented on #4736
It's fixed upstream.

[2015-09-23 14:47] smarterclayton commented on #4328
Fake?

[2015-09-23 14:51] ironcladlou commented on #4328
From the issue description, "The fake entry for the third deployment". If there is no deployment for the latest version on the config, a status entry is "synthesized" trying to convey that while that deployment doesn't exist, it might soon (if a defined trigger is fired, etc.)

[2015-09-23 14:57] bparees commented on #2982
So the original issue here was that we were updating the build after creating it, to update the push spec.

if we fix that by setting the push spec before we create the build object, i would tend to agree that having it in spec and not status ought to be fine.

but i think what @liggitt is saying is the build object ought to contain the IST in the spec (assuming the original From ref was an IST),

[2015-09-23 15:03] bparees commented on #4762
the intent was to allow this condition so you can create the imagestream later and then the build will proceed (we'll retry for a while).

with @rhcarvalho's changes, i'd still expect us to retry for a while before failing the build.  @rhcarvalho i've talked about this before on this topic, we need to retry events that trigger builds if we couldn't resolve the imagestream, just like how we retry t

[2015-09-23 15:17] deads2k opened #4769 "OriginNamespaceLifecycle leaks available namespace name information"
I'm allowed to create a self localSAR against any given namespace, because I could gain the same information (authorized or unauthorized) by simply making the request.  When I make a self localSAR against a namespace that doesn't exist, I'm informed that the namespace doesn't exist instead of getting an authorized/unauthorized response.  This lets me hunt for namespace names that exist even if I'm

[2015-09-23 15:37] mnagy opened #4770 "Extended tests can't resolve DNS names"
If I want to e.g. make an http request to a service from my extended test, I won't be able to reach it, because the host the tests are running on does not have its `/etc/resolv.conf` pointed to the SkyDNS that OpenShift is running. This can be quite frustrating and requires a workaround.

It would be nice to solve this somehow by pointing to the DNS server, or at least provide a helper utility fun

[2015-09-23 15:58] rhcarvalho commented on #2982
Discussed the implementation direction on IRC with @bparees and here's what we decided to do as a first iteration:

1. Create a new field in [`build.status`](https://github.com/openshift/origin/blob/1b11e8625a1cfd6071ad300440c737823765f436/pkg/build/api/v1/types.go#L48-L74). Field name is TBD.

2. Change the [build controller](https://github.com/openshift/origin/blob/1b11e8625a1cfd6071ad300440c737

[2015-09-23 15:58] rhcarvalho commented on #2982
@liggitt does the above sound reasonable to you?

[2015-09-23 17:10] deanpeterson commented on #4759
I deleted my project and started from scratch to see if me deleting buildconfigs and deploymentconfigs was the problem.  I am still getting this error:

Pull complete
Already exists
Digest: sha256:a143facad3b327c3e9bda5436bc8f34c9de599a96a2eb03ecf2d3e9797b009b0
Status: Downloaded newer image for 172.30.227.97:5000/test/tradeservicebase@sha256:a143facad3b327c3e9bda5436bc8f34c9de599a96a2eb03ecf2d3e9

[2015-09-23 17:15] deanpeterson commented on #4759
docker inspect 172.30.227.97:5000/test/tradeservicebase@sha256:a143facad3b327c3e9bda5436bc8f34c9de599a96a2eb03ecf2d3e9797b009b0
[
{
    "Id": "f113e2f3d94897ad0017bf20926f3b202a559b78ce92da6eae70473542625159",
    "Parent": "683fd1160ba898ab53d64840e341a6aa7c23a02924483edb24444a5e7f430e07",
    "Comment": "",
    "Created": "2015-09-23T17:05:35.923448658Z",
    "Container": "ab1c7f00984fc6b775ba7e

[2015-09-23 17:20] deanpeterson commented on #4759
docker inspect 172.30.227.97:5000/test/tradeservicebase@sha256:a143facad3b327c3e9bda5436bc8f34c9de599a96a2eb03ecf2d3e9797b009b0
[
{
    "Id": "f113e2f3d94897ad0017bf20926f3b202a559b78ce92da6eae70473542625159",
    "Parent": "683fd1160ba898ab53d64840e341a6aa7c23a02924483edb24444a5e7f430e07",
    "Comment": "",
    "Created": "2015-09-23T17:05:35.923448658Z",
    "Container": "ab1c7f00984fc6b775ba7e

[2015-09-23 17:23] derekwaynecarr commented on #4769
Can you update with your latest findings?

On Wed, Sep 23, 2015 at 11:17 AM, David Eads <notifications@github.com>
wrote:

[2015-09-23 17:26] deads2k commented on #4769
This is the latest.  The correct admission chain is being used, but the implementation for `OriginNamespaceLifecycle` leaks information here: https://github.com/openshift/origin/blob/master/pkg/project/admission/lifecycle/admission.go#L94 when the SAR is allowed but the namespace is missing.

[2015-09-23 18:42] smarterclayton commented on #4328
Maybe we need to crisp up the fake one somehow, or better detect when the fake is going to be real

[2015-09-23 18:43] markturansky commented on #4429
Looks like the permissions on the .current directory do not match those of the metadata directory.

the metadata plugin creates symlinks *as root*, since OpenShift is running as root.

The solution I *think* is to chmod the directories where this plugin writes its data.

[2015-09-23 20:54] bparees commented on #4709
@csrwng assigning to you since you said you would work on a pull, but i can take it if you didn't actually start anything yet.

[2015-09-23 20:59] smarterclayton commented on #4736
Won't this fail for carried patches?

[2015-09-23 21:07] eparis commented on #4736
yup, that's the whole point. To see if your godeps really are godeps.  Hacked up stuff is 'supposed' to live in third_party....

[2015-09-23 21:09] smarterclayton commented on #4736
You mean like the entire /kube directory, and the five to ten other
packages we carry patches for?  So this would basically be "test godeps to
verify that we're carrying patches.  Yup, we're carrying patches!"

On Wed, Sep 23, 2015 at 5:07 PM, Eric Paris <notifications@github.com>
wrote:

[2015-09-23 21:15] eparis commented on #4736
It will (as written) absolutely fail since origin's `Godeps/` are not reproducible (aka you know you carry patches in _workspace).

The script could be (pretty easily) changed to ignore directories you know you're carrying your own patches to. And thus make it obvious where you are patching things and where you are doing something reproducible.

I'm not advocating you 'need' to do this, but the te

[2015-09-23 21:18] smarterclayton commented on #4736
It might be good for us to have the discussion about how we make patches
more maintainable (eg lessons learned from brew and dist git)

On Sep 23, 2015, at 5:15 PM, Eric Paris <notifications@github.com> wrote:

It will (as written) absolutely fail since origin's Godeps/ are not
reproducible (aka you know you carry patches in _workspace).

The script could be (pretty easily) changed to ignore direc

[2015-09-23 22:15] smarterclayton opened #4775 "kill_all_processes doesn't work on Mac"
Which means hack/test-cmd.sh doesn't work, which makes Clayton upset.

[2015-09-24 02:49] deanpeterson commented on #4759
I am able to get around the no such id: errors by manually pulling images from the registry but I don't know why that fixes things.  My reward for getting to a point where it looks like pods are going to start is the event error:
failed
Failed to start with docker id 955be00289fe with error: API error (500): Cannot start container 955be00289feffc13c5c8f65c37339ca274de33db51891d7d9e192bc1f70d9e3: c

[2015-09-24 03:30] ramr commented on #3916
@jimmidyson  - I can only look at it sometime towards the end of next week. But that plan does that sound good - doing it only for the compatible router and a flag to add it in (the default am on the fence about - but true should be ok I think).

[2015-09-24 08:16] fkirill commented on #4763
Well, I already teared down the environment, sorry for that. Anyway, it was integrated registry, according to official documentation (admin/deploying a registry).
I guess maybe I would figure it out, but the error message is... not informative. What I'm really missing is what is exactly the account name and what is exactly the resource that this account doesn't have access to.
In the current form

[2015-09-24 09:21] soltysh opened #4778 "Error starting openshift on NFS mounted volume - etcdserver: open wal error: bad file descriptor"
I'm starting OpenShift from current [master](https://github.com/openshift/origin/commit/7830fb9aa4f40c1d158540cb6143402c62a02800) and I'm getting this:

[code]
Any ideas what might be wrong? It looks like I have some k8s leftovers, but I have no idea where, at least as of yet.

[2015-09-24 09:27] soltysh commented on #4778
I must add I'm running openshift using following [script](https://github.com/soltysh/origin-scripts/blob/master/os-init.sh) when I run OpenShift directly without redirecting logs to the file it suddenly worked, what's different is this line that is missing in previous execution:
[code]
Yet again, why? @liggitt any ideas, since this involves generating the initial keys.
The worst thing now is that

[2015-09-24 09:35] jimmidyson opened #4779 "Cannot watch on non-namespaced resources (project, node, namespace, etc)"
Ref: https://github.com/kubernetes/kubernetes/issues/14289

[2015-09-24 09:38] jimmidyson commented on #4779
e.g.

[code]

Doesn't seem to want to do websocket upgrade.

[2015-09-24 09:46] soltysh commented on #4763
I'll try to address your questions, so here it goes. The integrated registry's IP address is kept at a service (docker-registry) level, so far it's numerical, that's why you need to restart master if you recreate internal registry (see #1723). That IP address is used by the ImageStream controller responsible for managing all ImageStreams, including ImageStreamTags, ImageStreamImages, etc. Now we'r

[2015-09-24 09:50] mfojtik commented on #4778
@soltysh I saw this when etcd was writing files into NFS volume (or mounted directory).

[2015-09-24 09:54] soltysh commented on #4778
Maybe I need to rewrite my script to specify exact volume/config/etcd dirs, since I think having them unspecified might cause above errors, iow. it sometimes chooses directory that are mounted through NFS volume (here the origin dir into virt machine).

[2015-09-24 10:15] mfojtik commented on #4778
@soltysh @smarterclayton I think this is a etcd bug (and I reported it somewhere already)... but honestly, I don't think that somebody will use NFS volume as etcd storage for openshift ;-)

[2015-09-24 10:22] soltysh commented on #4778
I'm not saying someone will, and I'm definitely not planning to, just figured out that it's worth pointing, if somebody else will fall into this problem :wink: As I said, I need to be more explicit in how I start my OpenShift :smile:

[2015-09-24 10:47] lorenzvth7 commented on #1643
I've also ```oc get nodes``` output: ```Error in configuration: default cluster has no server defined```. I get this after a while. Just after running the Ansible Installer the command works fine.

[2015-09-24 10:59] rhcarvalho commented on #2982
It turned out that step 3 above is more complex than I thought. In several places in the builders (S2I and Docker) we assume that the value of `Build.Spec.Output.To` is the resolved pushspec and make several decisions based on that.
To limit the number of changes that would be required, I started with:

1. Create a new field `Build.Status.Pushspec`.
2. Resolve the pushspec in the controller (as it

[2015-09-24 11:42] kargakis opened #4781 "[post-rebase] Default resources for cli commands"
After the rebase, we can set default resource types in the builder and we have quite a few commands where it would make sense to default to a type. This would also remove hacks we use in order to get resource type/name syntax now eg: https://github.com/openshift/origin/blob/7830fb9aa4f40c1d158540cb6143402c62a02800/pkg/cmd/cli/cmd/deploy.go#L139

[2015-09-24 11:55] soltysh commented on #4778
Yup, I think I've confirmed it's NFS issue, if you see following error you'll getting your etcd files to be placed inside NFS, which currently fails. I'm closing this issue for now. Hopefully this will help somebody else.

[2015-09-24 11:55] #4778 closed

[2015-09-24 12:21] mfojtik commented on #4775
@smarterclayton @jhadvig is a poor guy without Mac. They are expensive in EU ;-)

[2015-09-24 12:28] deads2k commented on #4775
People who can afford macs are probably people who can afford to hire help to clean up their processes.  :)

@smarterclayton Which part of it is breaking?  I thought he added a check for sudoer rights.

[2015-09-24 12:31] jhadvig commented on #4775
@deads2k its there https://github.com/openshift/origin/blob/master/hack/util.sh#L390-L404

we should have iOS9 image for vagrant i guess :P

[2015-09-24 12:35] deads2k commented on #4779
In addition to any kube problems with watching cluster scoped resources, `projects` doesn't support watch.  Casting through `watch.Interface` is pretty hard.  In addition, the permissions associated with listing projects are more complicated.  It would be difficult, but not impossible, to proxy the watch events and pass them through a filter.

@smarterclayton Care to prioritize?

[2015-09-24 13:20] rhcarvalho commented on #3745
Looking at what we have today:

[code]
![image](https://cloud.githubusercontent.com/assets/88819/10074295/5a47082e-62cf-11e5-8277-34866c83147d.png)

Currently it is possible to add a description annotation, [see example in django-ex](https://github.com/openshift/django-ex/blob/master/openshift/templates/django.json#L7), to the template object and all of the subobjects defined in the template.
This

[2015-09-24 13:27] rhcarvalho commented on #3745
As an improvement to the Web Console, if the template description contains links, we could make them HTML hyperlinks. This is what we get today:

![selection_028](https://cloud.githubusercontent.com/assets/88819/10074484/901b6d54-62d0-11e5-93c6-f82f08d7dc02.png)

@jwforres FYI / WDYT?

[2015-09-24 13:38] jhadvig commented on #4775
@smarterclayton do you get any kind of error ?

[2015-09-24 13:45] jwforres commented on #3745
Yeah we could look into that, but I see links in the description as being more detailed documentation about what the thing is you are creating.  We have discussed having explicit annotations for next steps for the user (either links or text). The reason behind it is that @fabianofranz is adding a "Next Steps" page to the console this sprint, which appears after you create something.  If a template

[2015-09-24 14:00] deads2k opened #4782 "users can't predict whether an SCC will satisfy their DC"
The chain from DC to SCC is maze of twisty passages.

1. User creates deployment config
2. deployment controller creates rc
4. rc manager creates pod

In order to know if his DC is going to work, the user must be able to determine if the podspec in the DC will result in a pod that the SCC admission plugin will admit.  That requires knowledge of the SCCs available to the podspec's SA.  Right now, t

[2015-09-24 14:00] deads2k commented on #4782
forgot @ironcladlou

[2015-09-24 14:23] ironcladlou commented on #4782
5. You have been eaten by a grue

[2015-09-24 14:23] kargakis opened #4785 "[post-rebase] update swagger enough for --validate to work well"
After the rebase we are going to carry a patch that disables --validate because of https://github.com/kubernetes/kubernetes/issues/13806. We need to make cli validation play well.

[2015-09-24 14:23] kargakis commented on #4785
@deads2k fyi

[2015-09-24 14:27] ironcladlou commented on #4782
Your initial description is slightly inaccurate. The flow is:

1. User creates deployment config
2. System creates a new RC for the config (if the version is new)
3. System creates a deployer pod to scale up the RC

There's actually a stateless utility which builds the RC from a deploymentConfig which could be used by any code wishing to simulate the creation of the RC.

[2015-09-24 14:27] deads2k commented on #4782
@stevekuznetsov "older than steve" :)

[2015-09-24 14:29] deads2k commented on #4782
Updated

[2015-09-24 14:35] #3803 closed

[2015-09-24 15:03] smarterclayton commented on #4775
ps `--ppid` doesn't exist on macs

On Thu, Sep 24, 2015 at 9:38 AM, Jakub Hadvig <notifications@github.com>
wrote:

[2015-09-24 15:03] bparees opened #4788 "web console should allow whitespace as a required parameter value"
currently the cli allows you to provide "   " as a value for a required template parameter.

the web console does not.

the web console should pop up a warning and then allow the value.

@jwforres

[2015-09-24 15:04] smarterclayton commented on #4775
Also, yo should be able to run hack/test-cmd without root, which is what
the case is, so all the sudo gyrations aren't necessary.

On Thu, Sep 24, 2015 at 11:03 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-09-24 15:42] jhadvig commented on #4775
@smarterclayton the hack/test-cmd.sh runs without root, which we do. The sudo is there mainly to start the OS server.

[2015-09-24 15:46] smarterclayton commented on #4782
In general, there are two parts of this.  Defaulting (seeing the effective
outcome of a pod template on submission) and understanding what the
defaults would be allowed by.  The former has been discussed upstream and
is a really concrete path (let you submit a resource and do non-mutating
operations in admission controllers).  The latter is probably a good focus
on this.

On Sep 24, 2015, at 10:00

[2015-09-24 16:10] smarterclayton commented on #4775
kill_all_processes assumes you need to do the --ppid thing, which was only
because of root.

On Thu, Sep 24, 2015 at 11:42 AM, Jakub Hadvig <notifications@github.com>
wrote:

[2015-09-24 16:11] smarterclayton commented on #4779
Uh... this is what watch.Filter is for?

On Thu, Sep 24, 2015 at 8:35 AM, David Eads <notifications@github.com>
wrote:

[2015-09-24 16:46] deads2k commented on #4779
Be fair.  Didn't exist until a month ago.

[2015-09-24 16:47] deads2k commented on #4779
Oh.. a year and a month.  oops...

[2015-09-24 17:29] smarterclayton commented on #4779
:)

On Thu, Sep 24, 2015 at 12:47 PM, David Eads <notifications@github.com>
wrote:

[2015-09-24 18:09] spadgett commented on #4637
@jwforres any chance your individual pages PR fixes this?

[2015-09-24 18:41] jwforres commented on #4637
Yes

[2015-09-24 19:03] jwforres commented on #4582
For 1.1.0 I want to at least get rid of the third completely unminified instance that is getting included, looks like it is coming from "scripts/templates.js" getting included in bindata

[2015-09-24 19:06] jwforres commented on #4344
With https://github.com/openshift/origin/pull/4728 we will at least be telling you this on the next steps page.  But we should still include this elsewhere in a Help type page that we have been discussing adding.

[2015-09-24 19:09] jwforres commented on #4313
Started transitioning to using the project service in https://github.com/openshift/origin/pull/4726 but only for new controllers. Leaving this issue open as bookkeeping to go back and clean up the existing controllers.

[2015-09-24 19:14] jwforres commented on #4224
@smarterclayton does anything on the api response actually tell us that its in the process of pulling the image

[2015-09-24 19:15] jwforres commented on #3901
@spadgett is this still relevant after your changes to the create page

[2015-09-24 19:17] jwforres commented on #3868
This is less of an issue now that each image stream has its own page.  Any reason to leave open?

[2015-09-24 19:17] smarterclayton commented on #4224
No, this is a heuristic (i.e., wrong)

On Thu, Sep 24, 2015 at 3:14 PM, Jessica Forrester <notifications@github.com

[2015-09-24 19:53] spadgett commented on #3901
@jwforres Probably not as written. I don't think we should have groups within groups. We could do a better job of visually distinguishing the two, though, and possibly add a filter.

[2015-09-24 19:59] spadgett commented on #3868
It seems reasonable now even for dozens of tags.

[2015-09-24 19:59] #3868 closed

[2015-09-24 20:01] deanpeterson opened #4790 "Containers started by Openshift have no logs"
I can take the exact same image created by Openshift and manually run it outside openshift with the same CMD and I can see logs using the "docker logs..." command.  However, the container created by Openshift and Kubernetes does not print anything with the "docker logs..." command.

For example, when I run docker ps -a, I can see:
a77de0586930        172.30.239.80:5000/test/tradeservice@sha256:292

[2015-09-24 20:26] jwforres commented on #3751
@liggitt wont the api discovery stuff fix this

[2015-09-24 20:28] jwforres commented on #3513
@liggitt did you have an improvement in mind here?

[2015-09-24 20:30] liggitt commented on #3751
yeah, this can be closed

[2015-09-24 20:36] jwforres commented on #3363
This is partially fixed by https://github.com/openshift/origin/pull/4726

need to look at what we want to show in the overview in some of these cases

[2015-09-24 20:37] jwforres commented on #3474
Partially fixed by https://github.com/openshift/origin/pull/4726

Need to look at overview

[2015-09-24 20:39] jwforres commented on #3361
https://trello.com/c/dxghKjpu

[2015-09-24 20:39] jwforres commented on #3364
https://trello.com/c/dxghKjpu

[2015-09-24 20:45] jwforres commented on #2971
@spadgett are you still able to reproduce this?  (you reported the original problem in the other PR)

[2015-09-24 20:49] spadgett commented on #2971
I can't reproduce now that we shortened the message.

[2015-09-24 20:50] jwforres commented on #2656
This could be contributed as an extension.  cc @gashcrumb

[2015-09-24 20:52] jwforres commented on #2380
We show a tooltip for warnings now

[2015-09-24 20:53] jwforres commented on #2378
possibly in https://trello.com/c/dxghKjpu

[2015-09-24 20:56] jwforres commented on #2275
@sg00dwin didnt you look into this recently, is it still an issue?  @spadgett ?

[2015-09-24 20:58] #3751 closed

[2015-09-24 21:00] #2971 closed

[2015-09-24 21:14] spadgett commented on #4788
Should just need to set ng-trim to false on these fields.

[2015-09-24 21:39] jwforres commented on #4788
We also want to show a warning though if they do input whitespace
On Sep 24, 2015 5:14 PM, "Sam Padgett" <notifications@github.com> wrote:

[2015-09-24 21:41] fkirill commented on #4763
Hey @soltysh, thank you very much for your sizeable response!!! While this is important to understand, my point was that it is impossible to troubleshoot the problem when it occurs without significantly more information in the log.
Let's see if I have time on a weekend, I'll probably prepare a push request to add all of this to logging. Maybe, as a result, people will have less questions in the fu

[2015-09-24 21:42] #4681 closed

[2015-09-25 02:17] nak3 commented on #4207
OK, I understand. It is clear now.

But there is one thing to mention. It is technically impossible to create new application via **web console** now, because it forces us to select builder image or template with the console.

![without-imagestream](https://cloud.githubusercontent.com/assets/2138339/10091463/ad3f15ec-6376-11e5-8f08-ba0cbdd5a365.png)

It looks like it will not fix after merged this

[2015-09-25 02:55] bparees commented on #4207
@nak3 you can always add the builder image tag annotating to the imagestreamtag if you want it to show up in the webconsole as a builder image, so i'm not sure i follow your point?

[2015-09-25 03:18] nak3 commented on #4207
Sorry, my bad explanation.

I wanted to say that web console doesn't support this style to create new application.

  `$ oc new-app openshift/nodejs-010-centos7~https://github.com/openshift/nodejs-ex.git`

So, I think it means that we have to import imagestream before create new app in any case.

[2015-09-25 03:38] deanpeterson commented on #4790
There is an associated error in the event logs:

failed
Failed to start with docker id 99a811606b51 with error: API error (500): Cannot start container 99a811606b51cdbeddbea14af474f0df432278ac9f73baea5d8ecaf5453f521e: cannot join network of a non running container: c8a4a648e63d5b18dcd8fad6fd2d70f466584f2a749bb4245bb86a6da1ceea55

I am only trying to start one container, why is it complaining about

[2015-09-25 08:37] jimmidyson commented on #2734
Yesterday I spoke to two users on #openshift-dev who had issues with the latest 1.0.6 download (`"openshift start" on completely clean install: 1.0.5 works, 1.0.6 ends with errors like "failed to create kubelet: cAdvisor is unsupported in this build"`). Something was wrong with the download, although only for those users - worked fine for me. The wrong tarball was downloaded from the same Github r

[2015-09-25 11:39] mfojtik commented on #4770
@mnagy what prevents you to point your host /etc/resolv.conf to itself (skydns) ?

[2015-09-25 12:48] thoraxe commented on #3745
If we auto-parse links that would be OK, but isn't that potentially a security concern?

[2015-09-25 13:01] stevekuznetsov commented on #4490
@smarterclayton Now that you have refactored the starter code, do you think it is reasonable to externalize the `-p` notation so that you choose to add it to an invocation of `core.sh` if you are also choosing a `-focus` that will match multiple specs?

[2015-09-25 13:03] rhcarvalho commented on #3745
That would just turn text that look like a URL into a clickable link. Github does that: http://thiscouldbealink.com/but/it/is/not.
I don't think there's much to exploit in there? No javascript injection or such...

[2015-09-25 13:03] mfojtik commented on #3745
add link like this and see http://a/%%30%30 :-)

[2015-09-25 13:03] jwforres commented on #4779
If you guys add watch on projects PLEASE tell me :+1:

[2015-09-25 13:08] rhcarvalho commented on #3745
[:deciduous_tree: ](http://a/%%30%30)

[2015-09-25 13:11] jwforres commented on #3745
@mfojtik you broke my gmail with that!

[2015-09-25 13:14] mfojtik commented on #3745
@jwforres sorry :(

[2015-09-25 13:16] stevekuznetsov opened #4795 "Web Console Doesn't Show Build Source Repo Dir, Branch"
When viewing a build from the web console, the URL given for the source repo doesn't get modulated with branch and/or subdirectory and is therefore less useful than expected.
cc: @spadgett @jwforres

[2015-09-25 13:18] jwforres commented on #4795
Already fixed in https://github.com/openshift/origin/pull/4726

[2015-09-25 13:21] jwforres commented on #4795
![20150925_092129_](https://cloud.githubusercontent.com/assets/1467629/10101459/d8d960be-6366-11e5-8308-8f01a3363d7a.png)

[2015-09-25 13:23] liggitt commented on #4795
Should probably make the link take you to that branch/dir for github

On Fri, Sep 25, 2015 at 9:21 AM, Jessica Forrester <notifications@github.com

[2015-09-25 13:26] kargakis opened #4796 "[post-rebase] Initial resources"
Upstream docs: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/initial-resources.md

Admission plugin added but disabled after the rebase. We may want to use it at some point?

[2015-09-25 13:27] jwforres commented on #4795
I don't like things that look like URLs and then take me to a different path than what they are showing, and I want the values on this page to match what they are actually set to (sourceRepo just shows sourceRepo).   We could turn the v1.0.1 in to a link to the branch, and the context dir into a link to the branch+context dir ?

[2015-09-25 13:27] thoraxe commented on #3745
See, I knew you could do something bad :)

If we want to just convert the link we would need to do some kind of safety/sanitizing. That being said, even if we had a field "external docs" that we would link to, we run the same safety risk. But if we have a specific field that requires link-regex'd user input that's a little easier than parsing a whole text field to "clean" it... if that makes any s

[2015-09-25 13:28] liggitt commented on #3745
angular has a sanitizer filter we're already using

[2015-09-25 13:28] liggitt commented on #4795
Seems silly to have three links, two of which don't have much connection to
the actual source that is being used

On Fri, Sep 25, 2015 at 9:27 AM, Jessica Forrester <notifications@github.com

[2015-09-25 13:47] kargakis opened #4797 "[post-rebase] Consider exposing a flag for syncing iptables"
https://github.com/kubernetes/kubernetes/pull/12623 added a syncPeriod field which is exposed as `--iptables-sync-period` in `kube-proxy`. We may want to expose it as well.

[2015-09-25 13:50] #3368 closed

[2015-09-25 13:50] #4709 closed

[2015-09-25 13:52] sspeiche opened #4798 "WebUI: Need a way to tell while version of service is running for problem reporting"
Currently an end user, especially from the Web Console, can't determine what version of the server software they are running. This is useful in scenarios when an end user need to report an issue or when they are trying to understand what features are available. It would be even more useful if that version identifier was a hyperlink to release notes about the release such as OpenShift Enterprise 3.

[2015-09-25 13:53] liggitt commented on #4798
dupe of https://github.com/openshift/origin/issues/2281

[2015-09-25 13:53] #4798 closed

[2015-09-25 13:57] kargakis opened #4799 "[post-rebase] Make more robust the way the Namespace controller gets experimental"
Right now the namespace controller starts in experimental mode based on if the horizontal pod autoscaler is enabled (or the upstream deployments which we still dont have), something that is really weird.

@deads2k @derekwaynecarr

[2015-09-25 14:00] sspeiche commented on #2281
I would look for it under the drop-down for the logged-in user.

Though footer is a decent option, though I don't think I need to see it all the time.
Jenkins does it in the footer, it is nice in it shows the version and it is a hyperlink to Jenkins homepage (I'd prefer to the release notes for the current release) and another nice feature it the URL for the REST API.

[2015-09-25 14:06] deads2k commented on #4799
I think the `experimentalMode` should be removed and the controller should discover whether the experimental groups are available.  If they are, it should clean up those resources.

[2015-09-25 14:24] smarterclayton commented on #4762
Is there an issue for that that you could link here?

[2015-09-25 14:33] smarterclayton commented on #4694
The answer is yes. :)  But annotations are the place to start.

[2015-09-25 14:34] deanpeterson commented on #4790
I opened up a bugzilla bug; this is a showstopper for me - https://bugzilla.redhat.com/show_bug.cgi?id=1266533

[2015-09-25 14:36] jstrachan commented on #4694
@smarterclayton we've been using annotations for a while now as hack; hence the reason for this issue :)  as its kinda hard to define things like the multiple environments of a project in annotations without feeling really dirty.

Is JSON inside an annotation value a bad thing to do these days if we're only targetting 3.1?

[2015-09-25 14:43] derekwaynecarr commented on #4796
I would not run with ```InitialResources``` enabled yet.

[2015-09-25 14:46] arilivigni opened #4800 "Using origin container can't reach github.com"
@mrunalp

When I try and run a build for a Jenkins Master or Slave template I get the following:

ruby-20-centos7-slave-3
E0925 14:11:54.998632       1 git.go:102] Clone failed: fatal: Unable to look up github.com (port 9418) (Name or service not known)
F0925 14:11:54.999117       1 builder.go:54] Build error: exit status 128

oc build-logs jenkins-master-1
F0925 14:13:55.723853       1 builder.go

[2015-09-25 15:00] bparees commented on #3745
Assigning over to the web team since it sounds like we don't need to do anything on the template side for this, right?

[2015-09-25 15:10] jwforres commented on #3493
cc @sosiouxme

[2015-09-25 15:14] derekwaynecarr commented on #4799
@deads2k - I agree.

https://github.com/kubernetes/kubernetes/issues/14562

[2015-09-25 15:17] jwforres commented on #3493
@liggitt Should it be a formalized option in the openshift config file or were you thinking it should be a JS extension

@sosiouxme do you have any preference here

[2015-09-25 15:27] jwforres commented on #3745
@bparees well i think there are two levels here, there is the quick and dirty just linkify it in the console, and then there is the longer term question of do we want annotations specifically for next steps, but feel free to split that into its own issue if you want

[2015-09-25 15:28] smarterclayton commented on #4694
We use JSON inside annotations ourselves :)

On Fri, Sep 25, 2015 at 10:36 AM, James Strachan <notifications@github.com>
wrote:

[2015-09-25 15:30] jstrachan commented on #4694
@smarterclayton awesome thanks!

Got an example anywhere of now to do it nicely in terms of escaping etc?

[2015-09-25 15:35] bparees commented on #3745
@jwforres we have an entire card for providing a user w/ feedback after instantiating a template:
https://trello.com/c/gW2axqj0/557-5-show-user-getting-start-info-after-processing-a-template  but it's much more complicated because the template processing endpoint doesn't have a good way to give back additional information to show the user.  (obviously we could do the "simple" thing of letting temp

[2015-09-25 15:51] smarterclayton commented on #4694
In our case we serialize to json then set the annotation value to the
string.  Deployment configs encode themselves onto the replication
controller as an annotation, so any RC created by a DC should have an
example.

On Sep 25, 2015, at 11:31 AM, James Strachan <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> awesome thanks!

Got an example anywhere of now to

[2015-09-25 15:53] smarterclayton commented on #4490
You can pass any argument you want to core - so if you set focus, specify
-p if you want it.

On Sep 25, 2015, at 9:01 AM, Steve Kuznetsov <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> Now that you have
refactored the starter code, do you think it is reasonable to externalize
the -p notation so that you choose to add it to an invocation of core.sh if
you ar

[2015-09-25 16:48] #4637 closed

[2015-09-25 16:48] #4247 closed

[2015-09-25 17:04] stevekuznetsov commented on #4795
@jwforres I would expect `<repo>/blob/<branch>/<path>` for the link, no?

[2015-09-25 17:05] stevekuznetsov commented on #4490
@smarterclayton Currently `core.sh` has `-p` on by default. My question is if you're ok with removing that and requiring people to specify when they want it.

[2015-09-25 17:09] jwforres commented on #4795
I didn't realize we are already converting ssh github urls to the web
version, so whatever.  I'm working on it now.

On Fri, Sep 25, 2015 at 1:04 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2015-09-25 17:47] smarterclayton commented on #4490
I'm removing it in another pull.

On Fri, Sep 25, 2015 at 1:05 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2015-09-25 18:03] stevekuznetsov commented on #4490
@smarterclayton Ok, awesome.

[2015-09-25 18:05] fabianofranz commented on #3745
The initial version of Next Steps just got merged: https://github.com/openshift/origin/pull/4728

[2015-09-25 18:07] liggitt opened #4803 ""stdin" file extensions appear in autocomplete"
https://github.com/kubernetes/kubernetes/pull/13482 refactored to use the same list for printing help, generating bash autocomplete, and filtering file extensions for directory visitors.

As a result, "stdin" appears in the bash file extension autocomplete, which doesn't make sense.

Accepted file extensions and whether stdin is accepted should be handled independently

[2015-09-25 18:40] liggitt commented on #4785
not just because of the size, because it doesn't work well with List, etc

[2015-09-25 18:50] spadgett commented on #4788
@jwforres I can look at this when my create changes merge.

[2015-09-25 19:33] smarterclayton commented on #4778
Why wouldn't they support it?  NFS as a target for etcd is pretty valuable in some cases.

[2015-09-25 19:38] soltysh commented on #4778
I can't find the issue @mfojtik mentioned, either it's fixed in newer versions, or else. I'll give it a 2nd try and report to etcd if I'll be able to reproduce with latest master, or I'll search better for that issue.

[2015-09-25 19:58] deads2k opened #4807 "Convert RAR response to subjects"
@liggitt  mine.

[2015-09-25 20:01] deads2k opened #4808 "Create Reaper for Role"
Cleanup rolebindings when roles are removed.

@liggitt mine

[2015-09-25 21:25] #4331 closed

[2015-09-26 03:02] stevekuznetsov opened #4810 "Build Labels are not namespaced"
After creating a build, if you look at the contents:
[code]

Labels are not namespaced with `openshift.io`, whereas the annotations are. Should both be?
cc: @bparees @csrwng

[2015-09-26 05:31] deanpeterson commented on #4790
I figured out the problem.  I vaguely remembered seeing this in the documentation and didn't think much of it at the time: https://docs.openshift.com/enterprise/3.0/admin_guide/manage_scc.html#enable-images-to-run-with-user-in-the-dockerfile

I have the line "USER root" in my Dockerfile.  Apparently that was preventing the container from starting.  After I followed the instructions to modify my sc

[2015-09-26 05:31] #4790 closed

[2015-09-26 06:52] chmouel opened #4811 "RFE: Allow to configure which annotation are writable only by the admin"
Currently the list of annotations that are only writable by the admin is static (to description and DisplayName)

For different use cases it would be nice if that list was configurable so an admin can add more annotations that can't be modified by the user

[2015-09-26 07:06] chmouel commented on #3671
This seems to be added by @smarterclayton  in https://github.com/kubernetes/kubernetes/issues/12447

[2015-09-26 10:52] rhcarvalho opened #4812 "Passing invalid Dockerfile to oc new-app fails silently"
Steps to reproduce:

[code]

Result: nothing was created.

Expected: an error message or, at least, not the line "Run 'oc status' to view your app."

-------------------------

I did a bit of investigation and found that:
1. [Parse](https://github.com/openshift/origin/blob/d197481becf383d47bdf526f7d290e169683c946/pkg/generate/dockerfile/parser.go#L35) returns an error `Invalid Dockerfile` that som

[2015-09-26 14:38] thoraxe commented on #3745
This is not really a next steps issue, IMO, but rather a pre-work issue.

"I'm considering using this template. What does it do and how do I use it? What expectations does it require? Who authored it? What version is it? Where can I find out more information?"

Our current UI is great and I don't think we should clutter it with a lot more information/fields. But right now there's no easy way to fi

[2015-09-26 18:11] kargakis commented on #4812
Can you rerun `oc new-app` with `--loglevel=1` and post the output?

[2015-09-26 19:45] soltysh commented on #4763
Cool! Lemme know if you need help with it and don't forget to tag me in your PR.

[2015-09-27 06:25] moink635 commented on #4763
Hi, i'm also facing same issue please let me know what is the best possible result for the issue to resolved ? this url consist of http://ur1.ca/nv65f

[2015-09-27 19:18] bparees commented on #4810
yes they probably should be, though i suspect both of those labels are used by the webconsole (and maybe the CLI in describers) at this point to do grouping, so we'd have to add the new labels and not remove the old ones.

@jwforres ?

[2015-09-27 19:45] deanpeterson opened #4817 "Error: image library/tradeclient:latest not found (14 times in the last 2 minutes, 8 seconds)"
I continually get errors where openshift build and deployments cannot find an image even when it is in the registry.  I have always been able to get past the problem by manually logging into the registry, then pulling the image to refresh everything.  That is not working in this case.  When I am doing an deployment I get the following error in the event logs -

failed
Failed to pull image "tradecl

[2015-09-27 20:55] xionglingfeng opened #4818 "openshift-master failed to start after reboot"
I did a clean installation with `openshift-ansible/byo` on a 3 nodes cluster. After the installation, I rebooted the master node and found `origin-master` service failed to start. The log says

	[centos@master ~]$ sudo systemctl status origin-master -ll
	origin-master.service - Origin Master Service
	   Loaded: loaded (/usr/lib/systemd/system/origin-master.service; enabled)
	   Active: failed (Res

[2015-09-27 21:41] #3410 closed

[2015-09-28 02:31] jwforres commented on #4810
Yes we are definitely using the buildconfig label in the console.  If we are going to switch anyway, should we be using a label or an annotation?

[2015-09-28 07:12] nekop opened #4820 "Need to update Vagrant systemd file"
The binary location is changed by #4776 and the `sudo systemctl start openshift` fails in Vagrant.

[2015-09-28 07:26] nak3 commented on #4818
@xionglingfeng
Could you please test to run `hostname -f` on your master host and how us the output?

The error came from here with returning `exit 1`.
https://github.com/openshift/origin/blob/v1.0.6/plugins/osdn/flatsdn/flatsdn.go#L23-L26

[2015-09-28 12:34] csrwng commented on #4810
I don't think we namespace labels anywhere else. The user experience would
have to change since one of the main purposes of labels is to filter
objects in the UI.

On Sun, Sep 27, 2015 at 10:31 PM, Jessica Forrester <
notifications@github.com> wrote:

[2015-09-28 13:48] dgoodwin opened #4823 "NetworkPlugin redhat/openshift-ovs-subnet failed on the status hook for pod"
I am testing fully containerized installations with separate master / node.  After deploying a router I get this error message every 10 seconds on the aos-node container where my router landed:

I0928 09:00:50.733647   16875 docker.go:156] Pulling image REDACTED-haproxy-router:v3.0.2.100 without credentials
E0928 09:01:38.190049   16875 manager.go:313] NetworkPlugin redhat/openshift-ovs-subnet fai

[2015-09-28 13:57] bparees commented on #4810
i think we still want the buildconfig to be a label since it's a grouping concept.  the name..well it was probably done as a label originally also to aid in selection/grouping, but i think that's more an artifact of us not having a selector for annotations than it making logical sense as a label.

@csrwng makes a good point about whether we namespace labels elsewhere and that's probably why we did

[2015-09-28 13:58] danwinship commented on #4823
openshift/openshift-sdn#149 only affects the multitenant plugin. openshift/openshift-sdn#144 was the patch for the single-tenant plugin. Do you have that too?

[2015-09-28 14:21] dgoodwin commented on #4823
No I do not seem to have that patch applied. I will investigate if we've not yet pulled that into our builds and close issue, thanks!

[2015-09-28 14:21] deanpeterson commented on #4817
I use this template:  https://gist.github.com/deanpeterson/9a2a631f39a4a07e3a8c

I have used that same approach for another deployment and it seems to work.  Am I making reference to library/tradeclient indirectly somehow?

[2015-09-28 14:43] jwforres commented on #4810
We do have some namespaced labels.  On replication controllers that are deployments we have openshift.io/deployment-config.name which if we were going to be consistent we should have openshift.io/build-config.name and @smarterclayton and I were discussing long term switching tags on images and templates to be namespaced labels, something like tag.openshift.io/tagname  so that we can actually do se

[2015-09-28 15:50] #4817 closed

[2015-09-28 16:01] dgoodwin commented on #4823
Apologies, not sure how but I was mistaken, my node does seem to have this patch applied.

Verified in: /usr/libexec/kubernetes/kubelet-plugins/net/exec/redhat~openshift-ovs-subnet/openshift-ovs-subnet

So something still seems to be amiss @danwinship

[2015-09-28 16:16] danwinship commented on #4823
Can you try running with --loglevel=5? (One way to do that would be to edit the command line in /usr/lib/systemd/system/openshift-node.service and then restart the node.)

That should make it log the output of the status script before the'failed on the status hook' message

[2015-09-28 17:42] dgoodwin commented on #4823
http://fpaste.org/272316/46210814/

[2015-09-28 17:47] fabianofranz commented on #4008
@liggitt I think this is fixed by `oc annotate`, can you close?

[2015-09-28 17:49] #4008 closed

[2015-09-28 17:49] fabianofranz commented on #3987
Fixed by https://github.com/openshift/origin/pull/4356, @liggitt please close.

[2015-09-28 17:50] #3987 closed

[2015-09-28 18:09] fabianofranz commented on #3585
@liggitt this is fixed.

[2015-09-28 18:12] danwinship commented on #4823
`I0928 13:40:07.689984    2529 exec.go:149] Status 'exec' network plugin output: , exit status 1`

ok, not very useful.

So, what does `docker inspect` return for the container in question? (specifically, I want to know what `docker inspect --format "{{.NetworkSettings.IPAddress}}"` returns, but I'm pretty sure at this point that the answer is "nothing", so I want to see what actually is there...)

[2015-09-28 18:13] fabianofranz commented on #3121
@liggitt this is fixed.

[2015-09-28 18:17] fabianofranz commented on #2685
@kargakis is this fixed already?

[2015-09-28 18:22] fabianofranz commented on #2622
@liggitt this is fixed.

[2015-09-28 18:24] fabianofranz commented on #2588
@liggitt dupe of https://github.com/openshift/origin/issues/2949

[2015-09-28 18:28] fabianofranz commented on #2531
@liggitt this is fixed.

[2015-09-28 18:28] spadgett opened #4828 "Name field should not show errors until you're done typing"
The field error message can flicker as you type in the name field on the from image page in the UI, for example, when you type a `-` until you type another character. We can fix the problem by only showing errors on field blur or perhaps debounce.

@jwforres

[2015-09-28 18:31] fabianofranz commented on #2538
@liggitt this is fixed.

[2015-09-28 18:33] sosiouxme opened #4829 "PVC binding is racy"
It is possible to get two PersistentVolumeClaims bound to the same PersistentVolume. Two methods, starting with no PVs or PVCs:

1. Create a PV, and then two PVCs at the same time.
2. Create the PVCs, then create a PV.

I have seen this consistently. If I create the PV first and space out creating the two PVCs by a few seconds, it correctly binds one and not the other.

[2015-09-28 18:34] #2538 closed

[2015-09-28 18:35] #2531 closed

[2015-09-28 18:43] fabianofranz commented on #920
@liggitt we have some trigger details in describe now, @pmorie can you confirm this is fixed?

[2015-09-28 18:44] deads2k opened #4831 "How do I make a suite of extended tests that..."
1 .Startup openshift using non-default configuration parameters
1. Start running a series of testing infrastructure related builds, deployments, etc
1. Run a suite of ginkgo tests against the server set up in that configuration.

We handled this before by having different launch scripts.  Do I now
1. Create a fresh launch script.
1. Add a SKIP line to `core.sh` to exclude my suite
1. Run this how?

[2015-09-28 18:47] dgoodwin commented on #4823
You are correct it indeed returns nothing for both my aos-node container and the router container.

Full inspect output from router container: http://fpaste.org/272337/44346593/

FWIW the guest these containers is on has two network interfaces with IPv4 addresses.

[2015-09-28 18:55] #2588 closed

[2015-09-28 18:55] #3121 closed

[2015-09-28 18:55] #3585 closed

[2015-09-28 19:04] kargakis commented on #2685
The first part of it is fixed in https://github.com/openshift/origin/pull/2993

[2015-09-28 19:09] smarterclayton commented on #4810
Namespaced labels are now ok, although Brian wanted them always to be
overrideable by an end user.  Nothing wrong with both

On Sep 28, 2015, at 3:57 PM, Ben Parees <notifications@github.com> wrote:

If we are going to switch anyway, should we be using a label or an
annotation?

i think we still want the buildconfig to be a label since it's a grouping
concept. the name..well it was probably done a

[2015-09-28 19:10] spadgett opened #4832 "Layout problem with tables when browser window too narrow"
See screenshot. You can scroll past the edge of the banner. @sg00dwin fixed a similar problem with the events table before.

![fullscreen_9_28_15__3_08_pm](https://cloud.githubusercontent.com/assets/1167259/10145735/e6eb3c84-65f2-11e5-8b92-a2a5cd0e7337.png)

/cc @jwforres

[2015-09-28 19:17] spadgett commented on #4832
I feel like we're trying to put too much information in these tables. For builds in particular, the type and source is usually the same for every row.

[2015-09-28 19:19] liggitt commented on #3513
Avoiding fetching all image streams + image stream tags if possible... either an API update to let us do this, or more intelligence on the client side to avoid fetching all tags once we find the one(s) we care about

[2015-09-28 19:19] liggitt commented on #3493
Not sure... it's not just the base url... for any given release, there may or may not be specific help topics for all the topics we link... would probably need to be able to provide a base url, specific urls for topics, and a fallback for missing topics

[2015-09-28 19:22] jwforres commented on #3513
@liggitt we already only fetch the ones we care about

[2015-09-28 20:50] spadgett opened #4834 "Routes not showing up on service page"
The service page has routes: none, but I have a route.

Overview:

![cursor_and_openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10148340/ef769ce6-6600-11e5-8f69-dde6b8225ffc.png)

Service page:

![cursor_and_openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10148343/f28bbeac-6600-11e5-9969-e80388555832.png)

@jwforres

[2015-09-28 23:04] xionglingfeng commented on #4818
@nak3 , here's the output

	[centos@master ~]$ hostname -f
	hostname: Name or service not known
	[centos@master ~]$ hostname
	master
	[centos@master ~]$ cat /etc/hostname
	master.novalocal
	[centos@master ~]$

This VM is on OpenStack and the hostname is automatically set. Any idea?

[2015-09-28 23:47] nak3 commented on #4818
I have handled this issue before here https://github.com/openshift/origin/pull/1597, but it looks like it created again.
I will send the patch to fix it again.

As a workaround could you please try to set your IP and hostname in `/etc/hosts` like:

`192.168.133.2   ose3-master.example.com`

[2015-09-29 00:58] xionglingfeng commented on #4818
@nak3 Since I have a working DNS server in control, I removed all items other than `localhost` in `/etc/hosts`, add the search domain in `/etc/resolv.conf` and set my hostname to a FQDN manually with `user-data`

    #cloud-config
    hostname: xxx.example.com

Then it works.

It would be better if the dependency of `hostname` can be removed.

[2015-09-29 01:05] nak3 commented on #4818
Yes. So, I think this patch to replace it with `uname -n` https://github.com/openshift/openshift-sdn/pull/169 will fix this issue.

[2015-09-29 08:48] readonly opened #4837 "openshift-master did not restart properly after reboot"
We have a 2-host setup: host 1 is master + node, host 2 is node only. Currently we run 1.0.4, installed via openshift-ansible.

Sometimes there are hickups when rebooting one machine. While openshift + components are enabled as startup-services, sometimes the master just fails starting. Recently with the following `/var/log/message` (only relevant lines):

[code]

Googling for "Unable to perform i

[2015-09-29 09:16] rhcarvalho commented on #4762
@bparees since we didn't change where the ImageStream reference is resolved in my PR, could you please label and prioritize this?

[2015-09-29 09:53] rhcarvalho commented on #2622
@fabianofranz what is the PR that closed this? I can still reproduce the problem with current master branch.
`oc new-app --help` is sending output to stderr instead of stdout.

[2015-09-29 10:06] bparees commented on #4762
closing as dupe of https://github.com/openshift/origin/issues/4362

[2015-09-29 10:06] #4762 closed

[2015-09-29 11:29] mnagy commented on #4770
@mfojtik nothing, but AFAIK we do not do that in our vagrant environment, which means that such tests will only work on my machine, but will be broken when Jenkins is testing them.

[2015-09-29 12:03] #2982 closed

[2015-09-29 12:27] mfojtik commented on #4770
@mnagy why you need to access the internal DNS from the host in extended test? Can't you just run it in Pod or container?

[2015-09-29 12:58] #4434 closed

[2015-09-29 13:16] mnagy commented on #4770
@mfojtik technically you can, but it's hacky and you need to use `curl` and parse the output instead of simply using go's `net/http` library. I'm currently using that, and just get the endpoint IP address. Which is unnecessarily cumbersome as well.

[2015-09-29 14:21] rhcarvalho opened #4843 ""ethtool": executable file not found in $PATH"
Running the newest code in the vagrant dev vm, getting errors like this in the server logs:

I0929 14:16:15.915427   18952 hairpin.go:49] Unable to find pair interface, setting up all interfaces: exec: │
"ethtool": executable file not found in $PATH

Do we have a new dependency?

[2015-09-29 14:27] rhcarvalho commented on #4843
@kargakis FYI this is coming from kube

[2015-09-29 14:28] sosiouxme commented on #3493
We're going to have OSE, AEP, Origin, and eventually Online to consider. I'm not sure the supported versions will have more than one docs site though, at least for the lifetime of v3.

This doesn't feel well-suited to config file options. Can it be a file that's just dropped into the console per product?

[2015-09-29 14:53] danwinship commented on #4823
Ah, just noticed this part... OK, so something is causing the NetworkSettings part of the docker inspect output to not get set correctly in this case. (I assume the container *does* actually have an IP address, it's just that docker isn't aware of it for some reason.) So either (a) this is a problem at a lower level than openshift-sdn, and needs to be fixed there, or (b) this is somehow inherent t

[2015-09-29 15:25] bparees commented on #341
@rhcarvalho assigning to you for the "update status" portion of this, related to the other issue you're working.

@soltysh i assume the "how long should we try to pull the image for" bit of this will be covered by your ADS feature.

[2015-09-29 15:29] pweil- opened #4848 "Unable to create HTTP and HTTPS routes that point to the same host but different services or backend ports"
It looks like the new route uniqueness code that went in recently may be preventing the valid use case of having a secure and unsecure route for the same host.

Testing with unsecure and edge route:

[code]

[2015-09-29 15:38] kargakis commented on #4843
This comes from the kubelet (https://github.com/kubernetes/kubernetes/pull/13628). Anybody more familiar in that area? @deads2k @pweil- @ncdc

[2015-09-29 15:49] stevekuznetsov opened #4851 "LDAP Sync TODO list"
- [ ] delete orphaned groups from OpenShift records  (@stevekuznetsov /FTF)
- [ ] Active Directory schema (@deads2k)
- [ ] enhanced AD schema (FTF)
- [ ] blacklist {OpenShift,LDAP} groups from sync (@deads2k)
- [ ] extended test for: whitelist file from {OpenShift,LDAP} (@stevekuznetsov)
- [ ] extended test for: whitelist parameters for {OpenShift,LDAP} (@stevekuznetsov)
- [ ] extended test for:

[2015-09-29 15:52] rhcarvalho commented on #4362
I just reproduced this, working on a fix (to update build status message appropriately).

[2015-09-29 16:10] soltysh commented on #341
correct

[2015-09-29 16:25] ncdc commented on #4843
Sounds like pulling in ethtool is the way to go.

[2015-09-29 17:20] spadgett opened #4855 "Warning icon sometimes flickers briefly on browse builds page"
Similar to #2411 and #2855. This might be a problem for deployments as well.

[2015-09-29 17:40] dgoodwin commented on #4823
Digging some more, it appears it's not a docker specific issue, on the same atomic host I can reproduce see empty IPAddress in my aos-node container, but not in a random centos container I started myself.

-bash-4.2# docker ps
CONTAINER ID        IMAGE               COMMAND                CREATED              STATUS              PORTS               NAMES
653496eca45f        centos:6            "ba

[2015-09-29 17:43] #4812 closed

[2015-09-29 17:45] dgoodwin commented on #4823
Found it, it's caused by launching docker run with --net=host, as opposed to the default which is probably bridge. From the aos-node Dockerfile:

LABEL RUN docker run -d --name NAME --net=host --restart=always -v /etc/localtime:/etc/localtime:ro -v /etc/openshift-master:/etc/openshift:Z -v /var/lib/openshift:/var/lib/openshift:z -e HOST_HOSTNAME=$(hostname) -p 53:53 -p 53:53/udp -p 4001:4001 -p 70

[2015-09-29 17:50] danwinship commented on #4823
If it's using --net=host then every container would have the same IP as the host itself... unless you're nesting containers in containers or something? I guess I'd need to know more about how the whole setup works.

Anyway, the goal is that the Status hook should return the IP address that refers specifically to that pod. Any way its gets that is fine...

[2015-09-29 18:13] ironcladlou commented on #4682
@stevekuznetsov and I were talking and we realized that `hack/verify-govet.sh` isn't actually setting GOPATH internally. This means `go vet` will resolve dependencies from whatever random GOPATH happens to be set in the user environment.

I'd be curious to see what output everyone gets from this:

[code]

Here's mine.

go version go1.4.2 linux/amd64
tools: c262de8 tools/cmd/vet: Sort checks list a

[2015-09-29 18:15] dgoodwin commented on #4823
Sorry I'm getting a little confused, forgot it was a pod container originally, I noticed it on several of my containers so have been testing it there.

Back to my reproducer environment:

$ docker logs aos-node
E0929 14:08:45.852713    2566 manager.go:313] NetworkPlugin redhat/openshift-ovs-subnet failed on the status hook for pod 'default-router-1-vkydm' - exit status 1
^C#

$ docker ps
CONTAINER

[2015-09-29 18:15] liggitt commented on #4682
I'm sure that doesn't help, but not for errors in origin source files, right?

[2015-09-29 18:16] ironcladlou commented on #4682
Origin source would also be interpreted from GOPATH, instead of `_output/local/go` (the target of `hack/buid-go.sh`), which aren't necessarily the same.

[2015-09-29 18:23] sg00dwin commented on #4832
@spadgett can you check if this is happening and that it has a table-responsive div wrapping it.

IIRC this happens when the table-responsive is missing. My environment has it so I'm not seeing the issue.

Also, in the 769 - 1100 px range we could combine columns down to 3, like we do with events.

[2015-09-29 18:27] pravisankar commented on #4823
Looks like an issue with openshift-sdn code.
flat/multitenant status hook should handle --net=host case. Something like
Status() {
    ipaddr=$(docker inspect --format "{{.NetworkSettings.IPAddress}}" ${net_container})
    network_mode=$(docker inspect --format "{{.HostConfig.NetworkMode}}" ${net_container})
    if [ "${network_mode}" == "host" ]; then
       return k8s status object with hostIP

[2015-09-29 18:30] dgoodwin commented on #4823
I think the aos3/aos-haproxy-router may be an example of a container which launches with this non-bridged networking mode, and the sdn plugin script probably needs to do as @pravisankar  suggests above to acommodate.

[root@master openshift]# oc get pods
NAME                      READY     STATUS    RESTARTS   AGE
default-router-1-vkydm    1/1       Running   0          3h
docker-registry-1-gi3vv

[2015-09-29 18:38] liggitt commented on #4682
doesn't go vet work on source, not the output binaries?

[2015-09-29 18:44] ironcladlou commented on #4682
Yes, but it's still not guaranteed the origin source in your GOPATH is the same as the source copied to `_output/local/go` at the time of build. For example, if you ran `hack/build-go.sh` and then checked out a new branch of origin without re-building.

For this tool invocation to be repeatable, I think GOPATH has to be set (in addition to the tools/go version pinning).

[2015-09-29 18:49] spadgett commented on #4832
It's happening for me with the table-responsive div. (I didn't have to add the div. It was already there.)

![screen shot 2015-09-29 at 2 47 34 pm](https://cloud.githubusercontent.com/assets/1167259/10174700/2404ec48-66b9-11e5-89dd-54c688e6c65b.png)

[2015-09-29 19:22] sg00dwin commented on #4832
I see what's going on. table-responsive doesn't have the latest default styles[1]. (should have a min-height:.01% and overflow-x:auto) This was fixed in a newer version of bootstrap, which patternfly has, so we will pick it up once we've updated patternfly.

[1]https://github.com/twbs/bootstrap/blob/ab412b2404d12a3c55d1c4b798bd42ef32e80fab/dist/css/bootstrap.css#L2443

[2015-09-29 19:59] #4675 closed

[2015-09-29 20:16] #4795 closed

[2015-09-29 21:15] spadgett opened #4860 "Deployments table missing "no deployments" message in UI"
I have replication controllers, but no deployments. The table doesn't show me the "no deployments" message.

<img width="531" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/10178431/a079d428-66cd-11e5-8775-bb358f44597b.png">

/cc @jwforres

[2015-09-29 21:54] #4834 closed

[2015-09-29 23:48] #4788 closed

[2015-09-30 00:42] #4828 closed

[2015-09-30 06:48] bparees commented on #4609
I think this is different.  For this the way i think we want to solve it is to introduce generators that can generate values like "my namespace" and also generators that can take json-path expressions, ala the downward api.

[2015-09-30 11:46] #3162 closed

[2015-09-30 11:53] bparees commented on #3973
@jcantrill assigning to you as you're driving what this api change is going to look like.

[2015-09-30 11:59] mfojtik commented on #4024
@rhcarvalho is this issue resolved now?

[2015-09-30 12:30] rhcarvalho commented on #4024
@mfojtik, tl;dr we can probably close this issue.
Long version, by item originally mentioned:

We can improve this, but it should be a Trello card. Existing card I found:
https://trello.com/c/etnmoCP0/644-validate-template-dependencies

I didn't find a card about having some tooling for building valid templates, so I created one:
https://trello.com/c/Be7ovpXY/706-tooling-for-creating-valid-templat

[2015-09-30 12:35] bparees commented on #4644
i think this is resolved, @nak3 feel free to reopen if you think something still needs tweaking.

[2015-09-30 12:35] #4644 closed

[2015-09-30 12:39] bparees commented on #4692
Is this still an issue for you?  the usual cause of this error is a network access failure.  Do you need to go through any proxy to access github from your docker containers?

can you confirm that your docker containers in general have external network access?

one way to test this is to run "oc new-app openshift/jenkins-1-centos7" which will start a jenkins pod.  you can then use "oc rsh" to get

[2015-09-30 12:40] nak3 commented on #4644
Thank you. Yes, it is no problem to close.

[2015-09-30 12:44] bparees commented on #4696
closing based on age, @lorenzvth7 feel free to reopen if you want to discuss further.

[2015-09-30 12:44] #4696 closed

[2015-09-30 12:48] bparees commented on #4745
this appears to have served it's purpose, closing.

[2015-09-30 12:48] #4745 closed

[2015-09-30 12:51] bparees commented on #3745
@thoraxe i think the answer to your concern there is "put more info in the description field of the template"

if that gets too long to display in the console, the console can truncate it and link/hover pop up the full text.

[2015-09-30 12:58] mfojtik commented on #3824
@bparees isn't think the 'binary' source support @smarterclayton is working on?

[2015-09-30 13:00] mfojtik commented on #3656
https://github.com/openshift/origin/pull/4569

@bparees this is probably dupe of https://github.com/openshift/origin/issues/4571

[2015-09-30 13:10] smarterclayton commented on #3824
This is binary source support.

[2015-09-30 13:20] bparees commented on #3656
build portion of this is done.  closing this issue(the deployment part that remains) in deference to #4571.

[2015-09-30 13:20] #3656 closed

[2015-09-30 13:20] kargakis commented on #4843
@ncdc should we pull this into one of our images? If so, which one?

[2015-09-30 13:22] ncdc commented on #4843
If you're running OpenShift containerized, it'll need to go into the openshift/origin image. We'll also need to update the spec file for the openshift-node package to pull it in. And we'll probably want to update the Vagrant images as well.

cc @smarterclayton @sdodson @brenton @danmcp

[2015-09-30 13:27] bparees commented on #4761
we are carrying this enhancement request on our trello backlog, closing this issue in deference to that: https://trello.com/c/m5bPxwh4/643-allow-to-consume-secrets-in-builds

[2015-09-30 13:27] #4761 closed

[2015-09-30 13:28] smarterclayton commented on #4843
Pull it in to origin-base.

[2015-09-30 14:11] thoraxe commented on #3745
Sounds good to me (links included ;))

[2015-09-30 14:14] benjaminapetersen opened #4867 "On the web console overview, front end route links should open in a new tab"
Here is the html block from `views/project.html`.  We should add `target="_blank"` to the link to open it in a new tab.

[code]

[2015-09-30 14:18] benjaminapetersen commented on #4867
Under "browse" -> "services"  in the Routes table we can do the same thing for the "hostname" entries.
![screen shot 2015-09-30 at 10 17 58 am](https://cloud.githubusercontent.com/assets/280512/10195620/8cfef10a-675c-11e5-8157-14b4ee0f3c26.png)

[2015-09-30 14:21] sdodson commented on #4843
Fixes in #4866 seem to account for everything except Vagrantfile.

[2015-09-30 14:50] kargakis commented on #4843
Added in the Vagrant plugin: https://github.com/openshift/vagrant-openshift/pull/332

[2015-09-30 14:58] rhcarvalho commented on #2622
The upstream issue is still open, and no comments were made there.
Can we reopen this or should I open a new issue in origin?

[2015-09-30 14:59] fabianofranz commented on #2622
@rhcarvalho my bad, I incorrectly stated this was fixed. @liggitt we should reopen this. I'll work on a PR for Cobra.

[2015-09-30 15:34] tiwillia opened #4870 ""You are not a member of project" when creating a new project for a new user."
The following error is reported rarely when quickly logging in and creating a project for a new user:
[code]

To reproduce, I did the following for loop, creating users and a single project for each user:
[code]

Below are the errors in the openshift log at that time:
[code]

During scalability testing, after creating ~15,000 users & projects and ~45,000 deploymentConfigs & replicationControllers,

[2015-09-30 15:36] deads2k commented on #4870
I'm betting the project cache hasn't caught up with policy changes before the list project request makes it in.

@liggitt We could want for a couple seconds to see the project we expect, but if the cache gets slow enough, this will fail.

[2015-09-30 16:45] liggitt commented on #4870
why is new-project doing a `list projects` call? If the API call succeeds, we should just set the context to the new project... no need to list

[2015-09-30 17:09] deads2k commented on #4870
It just delegates to `oc project`.  There's a lot of weird handling of overlapping contexts.  We could ignore all those and duplicate create logic.

[2015-09-30 17:14] liggitt commented on #4870
or have an option to skip list validation and just do the `get` on the requested project, and set that to true when delegating from `new-project`

[2015-09-30 18:53] spadgett opened #4880 "Panic creating wildcard certificate"
I was following the instructions here to create a wildcard certificate:

https://docs.openshift.org/latest/install_config/install/deploy_router.html#using-wildcard-certificates

[code]

It's possible I've supplied bad data, but it resulted in a panic:

[code]

[2015-09-30 19:06] liggitt commented on #4880
Probably caused by ownership issues on the ca cert. See https://bugzilla.redhat.com/show_bug.cgi?id=1256692

[2015-09-30 19:08] spadgett commented on #4880
Yeah, looks like it's probably the same. `root` owns the files, but I'm running the command as `vagrant`.

[2015-09-30 19:42] #4855 closed

[2015-09-30 19:55] spadgett commented on #4880
Changed ownership to user `vagrant`, and the error goes away.

[2015-09-30 20:21] spadgett opened #4882 "Clicking on terminated pod causes 404 error"
Clicking on terminated pods causes a 404 error.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10205346/aeecfdd4-678e-11e5-875a-c02520f9af81.png)

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10205365/cdc9e2a8-678e-11e5-82f4-4ad12091c069.png)

`oc describe` on the same pod works.

Note: the CLI hides terminated pods by default on `oc get

[2015-09-30 20:29] spadgett commented on #4882
False alarm. This is working, but the XHR failed due to a certificate problem. Closing.

[2015-09-30 20:29] #4882 closed

[2015-09-30 23:12] hodrigohamalho commented on #3175
@sudhirpandey you saved my day. thanks!

[2015-09-30 23:39] ramr opened #4884 "HAProxy router does not expose stats if stats-port is specified"
The HAProxy router does not expose stats even if the stats port is specified.  See attached report from Tim.

[code]

[2015-10-01 00:46] #3739 closed

[2015-10-01 01:03] liggitt commented on #4497
Opened https://github.com/kubernetes/kubernetes/pull/14876 to address the issue with proxying TLS to the backend pods

[2015-10-01 01:40] #4860 closed

[2015-10-01 02:38] #4632 closed

[2015-10-01 09:56] bparees commented on #4638
@christian-posta are you running the multiple minion or single minion vagrant environment?

can you run "oc new-app openshift/jenkins-1-centos7" and then oc rsh into the the pod and see if you can git clone from github there?

if not, can you dump the /etc/resolv.conf from that container?

[2015-10-01 10:57] Mangirdaz opened #4885 "Token available in GUI"
I have bunch of automation with custom container "oc-client", which orchestrates all my deployments in my name/user. For this i need to pass my token as a parameter from GUI to container. It would be great if i could get field where i can copy it when i login to GUI.

This would let personalized automation/deployments in full monitored environments.

[2015-10-01 11:17] #4362 closed

[2015-10-01 11:40] deads2k commented on #4785
https://github.com/kubernetes/kubernetes/pull/14726 is in progress.

[2015-10-01 12:06] bparees commented on #4800
@arilivigni can you tell us about your environment?  how are you running openshift?  (vagrant?  direct on a host?  via a container?)

if you oc rsh into the jenkins master, does it have any external network connectivity?  can you show the contents of /etc/resolv.conf for that pod/container?

[2015-10-01 12:08] #4076 closed

[2015-10-01 12:08] smarterclayton commented on #4076
Fixed by rebase.

[2015-10-01 12:08] danmcp commented on #4843
@rhcarvalho @kargakis Anything left here

[2015-10-01 12:10] arilivigni commented on #4800
This issue can be closed it had to do with my version of Docker.  Once I
upgraded I got past the issue.

-== @ri ==-
On Oct 1, 2015 8:06 AM, "Ben Parees" <notifications@github.com> wrote:

[2015-10-01 12:10] rhcarvalho commented on #4843
@danmcp, @kargakis's PR was not merged yet. When it merges it will close this issue.

[2015-10-01 12:12] danmcp commented on #4880
@spadgett Still need this issue?

[2015-10-01 12:13] brenton commented on #4837
@readonly For clarification, can you tell me if you are using the Master's embedded etcd or are you running etcd in a separate process?  I'm assuming the latter if you are clustering etcd and installed via ansible.  I would assume this doesn't have anything to do with the Master but instead somehow the Master cannot reach etcd.  @sdodson, does that sound accurate to you?

[2015-10-01 12:16] brenton commented on #4837
@readonly, it would probably be helpful to know the version of etcd you are running as well.

[2015-10-01 12:16] markturansky commented on #4829
There is a BZ for this, too.  I will attempt to reproduce.

[2015-10-01 12:21] #4843 closed

[2015-10-01 12:29] jwforres opened #4886 "Show the build status reason on the build page in web console"
See: https://github.com/openshift/origin/pull/4872

[2015-10-01 12:30] jwforres commented on #4886
@rhcarvalho fyi

[2015-10-01 12:38] ironcladlou commented on #4711
This is fixed by #4783

[2015-10-01 12:40] stevekuznetsov commented on #4682
In order to test Godep `$GOPATH` settings, could @deads2k, @ironcladlou and @csrwng please run the following on a fresh master and stick the paste here:
[code]
`go get -u` may need `sudo` privilege to run.

[2015-10-01 12:40] csrwng commented on #4759
@deanpeterson what's your storage back-end for docker? Are you running the all-in-one or a separate master/nodes environment?

[2015-10-01 12:42] ironcladlou commented on #4682
I still say you need `$PWD/_output/local/go:$(godep path)` as I described in https://github.com/openshift/origin/issues/4682#issuecomment-144152245. Any new counterarguments?

[2015-10-01 12:44] stevekuznetsov commented on #4682
Yes, typo, that does add value. Good call.

[2015-10-01 12:47] bparees commented on #4800
thanks @arilivigni !

[2015-10-01 12:47] #4800 closed

[2015-10-01 12:50] csrwng commented on #4682
https://gist.github.com/csrwng/a9bf9f881de62e5e20ce

[2015-10-01 12:50] stevekuznetsov commented on #4682
Output: https://gist.github.com/stevekuznetsov/19169004e7d6dd2f8e31
HEAD: `b2e97700db09415052d60c02c9edf49bfaf506b3 Merge pull request #4663 from kargakis/rebase-kube`

[2015-10-01 12:51] csrwng commented on #4682
@stevekuznetsov same commit for me

[2015-10-01 12:51] stevekuznetsov commented on #4682
@csrwng Good news, other than some weird numbering issues, it looks like we converge: https://www.diffchecker.com/nxwaxrvg

[2015-10-01 12:52] ironcladlou commented on #4682
HEAD @ f95a0d554929cbd00fcc74749a1bb8bcd2154263 Merge pull request #4866 from kargakis/import-ethtool

https://gist.github.com/ironcladlou/ee9e956a57ce2dd98bf2#file-using-tools-c262de8-and-corrected-gopath

[2015-10-01 12:53] stevekuznetsov commented on #4682
@ironcladlou Also converged. I'll get the fix rolled out this morning.

[2015-10-01 13:20] readonly commented on #4837
It is an external, two-node etcd, setup via ansible hosts file as `[etcd]`, but we never specify a specific version. Actually they run on the same two machines as described above. The etcd running afterwards is 2.1.1.

So the setup is:
microsd6: openshift-master, openshift-node, etcd
microsd7: openshift-node, etcd

We use openshift-ansible commit ee97dd9be30d3d818cf4b8e86ace6e34ae5405ca for instal

[2015-10-01 13:28] sdodson commented on #4837
@readonly Yeah, your etcd cluster wasn't online. We can change the restart policy of the master to Restart=always so that it will continue attempting to start indefinitely. Update */usr/lib/systemd/system/openshift-master.service* to be like this

[code]

Then reload systemd `systemctl daemon-reload`

[2015-10-01 13:31] spadgett commented on #4880
Closing as duplicate.

[2015-10-01 13:31] #4880 closed

[2015-10-01 13:40] spadgett commented on #4488
Fixed by #4826

[2015-10-01 13:40] #4488 closed

[2015-10-01 13:47] liggitt commented on #4497
Created https://trello.com/c/kTX8fBNs/522-allow-api-proxy-to-securely-connect-to-backend-pods to track overall progress

[2015-10-01 13:54] stevekuznetsov commented on #4241
Do we know if the rebase altered this behavior?

[2015-10-01 14:01] liggitt commented on #4241
I think it was fixed in https://github.com/kubernetes/kubernetes/pull/13058 which we picked up in the rebase

[2015-10-01 14:02] #4241 closed

[2015-10-01 15:09] sspeiche commented on #3994
+1 - it is quite helpful to have some simple summary as well: last successful build, last failed build, ...

[2015-10-01 15:11] stevekuznetsov opened #4892 "test-cmd is too verbose"
On Travis we now see: `This log is too long to be displayed. Please reduce the verbosity of your build or download the raw log.` This is not ideal and a pain, especially because all of the pretty-printing directives and formatting used for the terminal are not parsed correctly in the `.txt` file you download, so readability suffers.

A major component of this is `test-cmd`. I think it would be rea

[2015-10-01 15:15] stevekuznetsov commented on #4278
Seen again on [Travis](https://s3.amazonaws.com/archive.travis-ci.org/jobs/83118488/log.txt):
[code]

[2015-10-01 15:24] liggitt commented on #4892
+100

[2015-10-01 15:24] liggitt commented on #4892
see test-integration.sh for an example of capturing output and displaying in failure cases, or dumping in verbose mode

[2015-10-01 15:25] ironcladlou commented on #2819
Closing per https://github.com/openshift/origin/issues/2819#issuecomment-117713531

[2015-10-01 15:25] #2819 closed

[2015-10-01 15:26] deads2k commented on #4892
Didn't we try this one before and @smarterclayton shot it down with the claim that he caught bugs by watching output scroll by.

[2015-10-01 15:27] ironcladlou commented on #3311
This issue should maybe just be a comment on #3526

[2015-10-01 15:27] ironcladlou commented on #4328
This should be cleaned up at the same time as #3526

[2015-10-01 15:28] ironcladlou commented on #3526
Turns out this needs to go in ASAP. It's a major usability issue today.

[2015-10-01 15:29] stevekuznetsov commented on #4892
@deads2k Yes. He can stick `-v` on his output to retain that functionality. I want to be able to see failures in Travis easily.

[2015-10-01 16:17] deanpeterson commented on #4759
I use the all in one binary v1.0.6.  I am able to work around the no such id issues but it is annoying.  I have multiple layers buildconfigs to build up an image.  Each layer depends on the previous buildconfig.  After every buildconfig completes, I get a no such image/I'd error.  I have to log in to the Docker registry and manually pull the image that was just pushed successfully to the registry.

[2015-10-01 16:45] csrwng commented on #4759
@deanpeterson sounds like you need to update your builder images. In openshift 1.0.6 we fixed a bug that was causing the 'no such image' error because authentication was failing (docker changed the format of the build request authentication header after v1.6.2). It sounds like you got the right version to fix it though but your builder image (openshift/origin-docker-builder) may be old. Try pullin

[2015-10-01 16:48] deanpeterson commented on #4759
Thanks, I will try that!  I am using the Docker strategy rather than STI.  Does the same advice still apply?

[2015-10-01 16:49] csrwng commented on #4759
Yes

[2015-10-01 17:15] pat2man opened #4894 "OAuth token requests use masterPublicURL internally instead of masterURL"
Placing the master behind a proxy (ELB in my case) and using a certificate assigned by a third party CA breaks `/oauth/token/request`.

Based on my conversation with @liggitt (https://botbot.me/freenode/openshift-dev/2015-10-01/?msg=50945632&page=8) https://github.com/openshift/origin/blob/a7577d564bfea9dcc340825eba48c397e0062641/pkg/cmd/server/origin/auth.go#L186 may need to point at masterURL in

[2015-10-01 17:23] #4867 closed

[2015-10-01 17:34] ironcladlou commented on #3526
@jwforres there's an opportunity here to enhance the console to help users understand why deployment's aren't happening.

[2015-10-01 17:37] jwforres commented on #3526
@ironcladlou is this similar to what was just done for builds? https://github.com/openshift/origin/pull/4872

[2015-10-01 17:38] jwforres commented on #3526
helps if i read the full description...  I'll spawn a UI issue and link it.

[2015-10-01 17:39] jwforres opened #4895 "Show status messages for deployment config and its triggers in the web console"
See https://github.com/openshift/origin/issues/3526

[2015-10-01 17:40] ironcladlou commented on #3526
@jwforres for a little more context, here's something I discussed in email:

The output of describe or status or something should be able to show stuff like:

* dc/frontend deploys myimage:latest
* If myimage (or myimage:latest) doesn't exist, warn that the trigger
won't fire right now
* If myimage doesn't exist but there's a build defined that produces
myimage, mention it in context of the deploy

[2015-10-01 17:40] ironcladlou commented on #3526
Those are some examples of the type of message that could appear in this field.

[2015-10-01 17:42] jwforres commented on #3526
Just update the UI issue https://github.com/openshift/origin/issues/4895 when the API changes are in

[2015-10-01 17:44] sdodson commented on #4820
This is actually in vagrant-openshift.

[2015-10-01 18:19] #4837 closed

[2015-10-01 18:58] deanpeterson commented on #4759
Unfortunately that does not seem to help.  Everything works fine until the third layer build.  Everything after that still requires me to manually pull the image from the previous layer, then re-run the build.

[2015-10-01 19:09] #4820 closed

[2015-10-01 19:17] csrwng commented on #4759
Hmm, something else must be going on... just to double check though, what is the output of
[code]

[2015-10-01 19:20] deanpeterson commented on #4759
docker run openshift/origin-docker-builder:latest version
Usage of loopback devices is strongly discouraged for production use. Either use `--storage-opt dm.thinpooldev` or use `--storage-opt dm.no_warn_on_loop_devices=true` to suppress this warning.
openshift-docker-build v1.0.6-310-gf95a0d5
kubernetes v1.1.0-alpha.1-653-g86b4e77

[2015-10-01 19:30] csrwng commented on #4759
And what version of docker do you have?

[2015-10-01 19:35] deanpeterson commented on #4759
docker --version
Docker version 1.7.1, build 446ad9b/1.7.1

[2015-10-01 19:59] deanpeterson opened #4898 "HAProxy blocking images and font files?"
It seems the default HAProxy router is not letting my woff, ttf and png files through.

[2015-10-01 20:18] #4898 closed

[2015-10-01 20:32] csrwng commented on #4759
It probably won't make much of a difference, but can you try updating your docker to the latest version available? (with yum/dnf update)

[2015-10-01 20:55] smarterclayton commented on #4892
Then Travis should be -q.  When you run it directly, we didn't used to cat
the logs, so you should see the failures directly.

On Oct 1, 2015, at 5:29 PM, Steve Kuznetsov <notifications@github.com>
wrote:

@deads2k <https://github.com/deads2k> Yes. He can stick -v on his output to
retain that functionality. I want to be able to see failures in Travis
easily.

—
Reply to this email directly or view

[2015-10-01 20:58] liggitt commented on #4892
@smarterclayton the test-integration.sh approach is better... you can see all output in realtime if you want, but the default only shows you failures

[2015-10-01 21:17] smarterclayton commented on #4892
It runs until it fails and prints output.  Logs on Travis being too long is
fine, I'm not particularly concerned with your shell scroll buffer if it
occasionally exposes ugly cli output.

On Oct 1, 2015, at 10:58 PM, Jordan Liggitt <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> the test-integration.sh
approach is better... you can see all output in realtime

[2015-10-01 21:38] #4001 closed

[2015-10-01 23:30] #4769 closed

[2015-10-02 00:11] fkirill commented on #4763
Created pull request #4901

[2015-10-02 07:36] readonly commented on #4837
I tried a few reboots on both machines simultaneously, and so far it did not happen again. Since this does not happen fully reproducible, I can't say for sure it is fixed, but it's looking good. In case of troubles I'll reopen the issue again.

[2015-10-02 07:41] readonly opened #4903 "openshift-node did not restart after boot - docker daemon not yet ready"
Following up on #4837, when testing cluster reboots, it happened at least once that a openshift-node failed to start because the docker daemon was not ready yet:

[code]

A manual restart of openshift-node was necessary but fixed the problem.

Should we add `Restart=always` to `/usr/lib/systemd/system/openshift-node.service` in the `[Service]` section, too, or is there more to it?

[2015-10-02 08:25] myfear opened #4904 ""oc edit scc restricted" not working on Windows 7 with Notepad"
The command opens the yml file in notepad but screws up the line-endings.
And I can't save the file because notepad warns about another process (I assume the cmd?) is holding a lock on the file.

[2015-10-02 09:16] myfear opened #4905 "oc new-app --docker-image=<image> doesn't map pod port to service port"
I can run a docker image via the command. And it creates a service. But the service port mapping is weird.

 none→172.30.75.14:8080→8080 (TCP)

So, the pod port doesn't get mapped to the service port.

I ran
oc expose service/name

And the route was setup.

[2015-10-02 09:59] bparees commented on #3872
pretty sure this is either not broken or now broken in a completely new way, so closing.

[2015-10-02 09:59] #3872 closed

[2015-10-02 11:04] e-minguez opened #4907 "HAProxy template has bind ports hardcoded"
The oadm router command supports binding to other ports, but it doesn't work because of the hardcoded values in the haproxy template (bind :443, bind :80)

[2015-10-02 11:07] e-minguez opened #4908 "oadm router liveness wrong when a different port is specified"
If you specify different ports for node and port (like --ports '80:8080') when you create a router with hostnetwork=false, the liveness probe is configured to query 8080, but it checks the pod IP, so it fails because it should check the port 80.
Modifying the dc to set the liveness probe to query port 80 works, but I think it should be done by default.

[2015-10-02 11:36] deads2k commented on #4468
This was happening when we were having chronic docker problems.  Have you seen this recently @liggitt ?  (Mark works mostly in kube)

[2015-10-02 11:58] liggitt commented on #4468
No

[2015-10-02 12:44] ncdc commented on #4287
https://github.com/kubernetes/kubernetes/pull/12283 just merged upstream.

@brenton @danmcp @sdodson @smarterclayton @sosiouxme @bparees @pweil- @liggitt do you want this cherry picked to origin now, or will we be doing another rebase that could pick this up?

[2015-10-02 12:48] danmcp commented on #4287
@ncdc A rebase is starting now.  And there will probably be 1 more.

[2015-10-02 12:49] ncdc commented on #4287
Ok, in that case, I would recommend just waiting to pick this fix up in a
rebase.

On Fri, Oct 2, 2015 at 8:48 AM, Dan McPherson <notifications@github.com>
wrote:

[2015-10-02 12:54] liggitt commented on #4468
closing since it hasn't been seen in a month, likely docker-related

[2015-10-02 12:54] #4468 closed

[2015-10-02 13:15] liggitt commented on #4687
lowering priority, it's just a logging issue (for a token that is not valid, so it's not even a credential leak)

[2015-10-02 13:48] ncdc commented on #4676
@rhatdan should a volume mounted into a container with a label of `docker_var_lib_t` be writable by a container?

[2015-10-02 13:56] jwforres commented on #3442
@benjaminapetersen should this issue still be open? is there anything else you want to address on it?

[2015-10-02 14:06] rhatdan commented on #4676
no.  It needs to be relabeled. Using either the :Z or :z depending on whether or not it will be shared by other containers.  I believe this is supported by k8s now also.

[2015-10-02 14:09] derekwaynecarr opened #4911 "oadm manage-node --evacuate is force killing pods"
We need to allow a larger graceful termination period than 0 now that it is in Kubernetes.

/cc @pweil- @pmorie @eparis @smarterclayton

[2015-10-02 14:14] benjaminapetersen commented on #3442
@jwforres nope!  Ill close it.  We've installed it via bower. @sg00dwin and I have an open conversation going around enhancing this as we go.

[2015-10-02 14:14] #3442 closed

[2015-10-02 14:29] spadgett opened #4912 "Have to click "Try it" link twice if name field is empty on create page"
The name field loses focus, which causes validation to occur. It prevents the "Try it" link from working.

[2015-10-02 14:29] spadgett commented on #4912
@jwforres please assign to me.

[2015-10-02 14:37] ncdc commented on #4676
Docs fix is at https://github.com/openshift/openshift-docs/pull/1041

[2015-10-02 15:01] jwforres opened #4914 "Should reference the eclipse IDE on the next steps page"

[2015-10-02 15:05] jwforres opened #4915 "Allow advanced users to stop seeing the next steps page"
Set a user pref in localStorage

[2015-10-02 15:08] jwforres opened #4917 "Add a legend for icons on the create page"
such as the "builder" icon

[2015-10-02 15:28] spadgett opened #4918 "Add suggestions to catalog filter keyword search"
We can use selectize or a similar widget to add a list of suggestions as you type like the label filter. Possibly remove the browse button.

@jwforres @tracyrankin

[2015-10-02 15:29] sosiouxme commented on #4287
+1

[2015-10-02 15:44] bparees commented on #3853
@jhadvig @csrwng should be closable (as complete), right?  can you update this w/ a pointer to the docs about how to do this now?

[2015-10-02 15:46] bparees commented on #3565
this is delivered, docs here: https://docs.openshift.org/latest/dev_guide/builds.html#image-change-triggers

please reopen if you have any further questions/concerns about the implementation.

[2015-10-02 15:46] #3565 closed

[2015-10-02 15:50] bparees commented on #1412
trying to factor out common fields is going to be an on-going headache, i think there's a legitimate argument for having self-contained strategy objects.  not to mention the api churn of changing it now.  closing, feel free to reopen if you feel strongly and want to debate it.

[2015-10-02 15:50] #1412 closed

[2015-10-02 15:52] bparees commented on #1412
(what i mean by on-going headache is if we add a new field, we need to either immediately support it in all 3 strategies, or add it in one strategy, and then once we support it for the other strategies, factor the field out of the strategy and move it to the higher level).  or add it at the higher level but throw an error if you use it with a strategy that doesn't (yet) support it.

[2015-10-02 16:44] csrwng commented on #3853
https://docs.openshift.org/latest/dev_guide/builds.html#using-private-repositories-for-builds

[2015-10-02 16:47] jwforres commented on #4918
yeah we should use selectize anywhere we plan to do typeaheads

[2015-10-02 16:48] jwforres commented on #4918
@spadgett i'm going to mark it 1.1.0 for now so it stays on the radar but this may be on the bubble of being too big of a change to get it in

[2015-10-02 18:17] smarterclayton commented on #3671
This landed in the rebase.

[2015-10-02 18:17] #3671 closed

[2015-10-02 18:44] liggitt opened #4924 "TestExecAdmit flake on travis"
https://travis-ci.org/openshift/origin/jobs/83331391#L278
[code]

[2015-10-02 20:30] bparees commented on #3853
@cgwalters closing based on feature delivery and doc, please reopen if you still have concerns.

[2015-10-02 20:30] #3853 closed

[2015-10-02 21:18] stevekuznetsov opened #4929 "test-cmd is not idiomatic and obfuscated"
@Miciah Has pointed out that the following constructs are not written in the best way and should be changed for readability:

---
[code]
Could be re-written to:
[code]
---
[code]
Could be re-written to:
[code]
---

[2015-10-02 22:17] #4924 closed

[2015-10-03 21:45] smarterclayton commented on #4915
The text to hide it should be "I get it, I get it!  Geez"

[2015-10-03 21:47] smarterclayton commented on #4905
Quick question - image had EXPOSE 8080, pod got 8080, service *didn't* get 8080?

[2015-10-03 21:48] smarterclayton commented on #4904
@fabianofranz we probably need to be closing the file handle (I bet we do a defer f.Close() instead of a direct), and line endings should be written based on OS type - we may have to convert line endings in the output YAML.

[2015-10-03 21:50] smarterclayton commented on #4903
The node should be Restart=Always for sure (@sdodson), and it should be Wants=Docker.

[2015-10-03 21:52] smarterclayton commented on #4885
One challenge with the OAuth token is that it has an expiration that is relatively short.  If you want to guarantee the token can be used for orchestration, you can also create a service account token and grant it the required role on a project (or multiple projects).   That token lasts until you explicitly delete the secret.

@liggitt

[2015-10-03 21:53] smarterclayton commented on #4808
Hrm.... who removes roles, how often do they do it, and why do they remove them?

[2015-10-03 22:31] kargakis commented on #3671
No, it will land in the next one

@soltysh fyi

[2015-10-04 17:36] smarterclayton commented on #4661
We've discussed this but eventually the cluster DNS is going to resolve on hosts so that the docker daemon can resolve the registry service name.  What were your concerns with enabling cluster DNS on the hosts?

[2015-10-04 17:36] smarterclayton commented on #4661
@ncdc

[2015-10-04 17:50] ibotty commented on #4661
Some startup scripts were unnecessarily slow when using a not-yet-responding nameserver. I don't rely on DNS on startup anymore now though, so I revisited the decision to use cluster dns also on the host. Regarding the general design, I'd still like to keep the cluster dns separate because I like the clear separation between the openshift/kubernetes cluster and the host. I can totally understand t

[2015-10-04 17:51] ibotty commented on #4661
And constructively: I did not see it mentioned in the deployment docs, that it's a requirement to enable cluster dns on the host as well. That's the only thing left of this bug report, I suppose.

[2015-10-04 20:00] rettori opened #4935 "deployment annotations shows failed even if it succeeded."
After running the default java wildfly example, it deploys, but on the deployment annotations it shows as failed.
<img width="724" alt="screen shot 2015-10-04 at 3 58 16 pm" src="https://cloud.githubusercontent.com/assets/2352755/10269903/e7387680-6ab0-11e5-8569-35ce13119a33.png">
<img width="833" alt="screen shot 2015-10-04 at 3 58 47 pm" src="https://cloud.githubusercontent.com/assets/2352755/10

[2015-10-04 22:40] kargakis commented on #4325
fyi https://github.com/kubernetes/kubernetes/pull/14294

[2015-10-05 05:49] Mangirdaz commented on #4885
I fully understand. But this is case where i want to create short time access.
. I have an image, with OC client inside, and assemble scripts does some automation by taking my bunch of template scripts in git and executing them on env using my token (passed via variables). This creates and destroys my test environments in a seconds.

I want users to execute these things using their own accounts fo

[2015-10-05 06:43] bparees commented on #4325
@kargakis i don't think that proposal makes this scenario easy enough, so i'd still want to see an explicit command where i can just provide some minimal information on the CLI and get the object created.

being thrown into an editor is also not scriptable.

[2015-10-05 07:41] MacThrawn opened #4937 "Certificate problem in builder container (Peer's Certificate has expired)"
We are trying to setup a BuildConfiguration and get the following failure in the builder container:

We are facing the same problem by using a private GIT repository, but for reproducability we setuped a Build that try to build an Origin image from the official GitHub repository. A GIT clone of this repository on our OpenShift nodes works fine.

Here is our BuildConfiguration:

We are using the 1.

[2015-10-05 07:50] bparees commented on #3941
@nak3 i added some debug locally and it appears the value is now set to true, can you rerun your scenario?

here is what i ran:
[code]
and here's my debug output (this output is not in origin today):
[code]

your scenarios aren't 100% clear to me but given how old this issue is, it's likely it is fixed or different now.

[2015-10-05 08:37] myfear commented on #4905
Digging around a little more: I am playing with the all in one vm.
And it turns out, that the port 80 wasn't exposed from the openshift vagrant box to my host system.
After adding the port-forwarding rule, it works.

I was under the impression, that this is done under the hood. But probably can't be done at all.

[2015-10-05 08:37] #4905 closed

[2015-10-05 11:42] deads2k commented on #4808
Testers do it and it messes with referential integrity.  I was going to start with just the project scoped roles, so the cost is relatively small.  I don't know of anyone else doing it offhand.

[2015-10-05 12:12] bparees commented on #3417
@thoraxe i'm still not clear on what you would like to see changed to resolve this.  Are you wanting new-app to define a liveness probe on DCs it creates?  Also on define one in all the templates?

or are you looking for more fundamentally built in behavior in DCs?

[2015-10-05 12:13] #4024 closed

[2015-10-05 12:17] bparees commented on #3245
trello'd https://trello.com/c/wozDHSJ2/717-track-reason-a-build-was-run

[2015-10-05 12:17] #3245 closed

[2015-10-05 12:17] bparees commented on #387
trello'd https://trello.com/c/wozDHSJ2/717-track-reason-a-build-was-run

[2015-10-05 12:17] #387 closed

[2015-10-05 12:25] bparees commented on #3137
fixed.

[2015-10-05 12:25] #3137 closed

[2015-10-05 12:28] bparees commented on #4266
can now specify a focus when invoking extended tests. (test/extended/core.sh --focus=foo)

[2015-10-05 12:28] #4266 closed

[2015-10-05 12:29] bparees commented on #4775
assigning to cesar because he's actually got a mac to test this with.

[2015-10-05 12:30] bparees commented on #2420
error message has been made more clear.

[2015-10-05 12:30] #2420 closed

[2015-10-05 12:30] mfojtik commented on #4775
`ENEEDMAC`

[2015-10-05 12:35] kargakis opened #4942 "Deployment failure due to "lack of deployer pod" is ambiguous"
When a deployment is in pending or running state and the deployer pod is nowhere to be found (https://github.com/openshift/origin/blob/8ba29417051227f61f7f641ef04ade9fe7f48dc9/pkg/deploy/controller/deployment/controller.go#L120), we report that the deployment failed because the deployer pod does not exist. Though that's the case with successful deployment too. I believe we should fix the wording f

[2015-10-05 12:39] bparees commented on #4694
lowering to p3 given that this can be done in an annotation today.

[2015-10-05 12:46] kargakis commented on #4775
https://www.indiegogo.com/simple_campaigns/let-s-buy-a-mac-for-jakub/share#/

[2015-10-05 12:58] thoraxe commented on #3417
I guess it would be nice if new-app did that. Because right now you would have to go in after the fact and define one.

Since new-app already has a lot of processing logic, and it's clear it knows which builder it's going to recommend, it probably could also be wired to know how to add a liveness probe to the podtemplate.

Then perhaps allow a user to disable that behavior with `--no-liveness` or

[2015-10-05 13:05] csrwng opened #4944 "new-app: partial match results should result in message displaying what was found"
calling new-app with 'openshift/ruby-20-rhel75' when only 'openshift/ruby-20-rhel7' is available, currently proceeds  with the partial match without a warning.

If all we can find is a partial match, we should return with a message saying what the match was to let you pick it explicitly.

[2015-10-05 13:06] csrwng commented on #4944
@bparees @smarterclayton

[2015-10-05 13:13] pweil- commented on #4107
closing due to age, please reopen if this is still an issue

[2015-10-05 13:13] #4107 closed

[2015-10-05 13:15] pweil- commented on #3980
Closing as dupe of https://github.com/openshift/origin/issues/3980 which will add delete ability.

[2015-10-05 13:15] #3980 closed

[2015-10-05 13:20] kargakis commented on #4781
@danmcp I already have a PR for this, mind re-assigning?

[2015-10-05 13:42] jwforres commented on #4474
@ajacobs21e the current location of the connect link doesn't work for deployments where you will have multiple pods, because when you connect you are connecting to the container within a specific pod.  We need to brainstorm a better place to have the connect link.

One option would be to move it into the details pane. So after you click on the pod you see a connect link show up with the container

[2015-10-05 13:47] jwforres commented on #4536
@liggitt have you still been seeing this?

[2015-10-05 13:48] liggitt commented on #4536
I haven't, but I haven't been scrubbing the test/merge failures as diligently

[2015-10-05 14:02] liggitt commented on #4474
+1 for individual pod page (and details sidebar if possible, though I know we have extension point injection difficulties there)

[2015-10-05 14:03] gashcrumb commented on #4474
maybe for the details sidebar just using fairly descriptive class names or IDs would work well enough, as then it should be possible to just use a plain angular directive to add/change content for an item in there...

[2015-10-05 14:12] deads2k opened #4948 "test-cmd new-app flake"
https://travis-ci.org/openshift/origin/jobs/83369573

[code]

[2015-10-05 14:14] vbatts commented on #4591
@danmcp issues with docker-storage-setup need to go to @rhatdan and @rhvgoyal

[2015-10-05 14:27] benjaminapetersen commented on #4474
@jwforres if this now has a `priority/P1` tag && 1.1.0 milestone, I should put the extension point work back on high priority, correct?

[2015-10-05 14:37] ironcladlou commented on #4942
I suppose the fundamental problem is we're not actually capable of detecting whether the deployment state matches the user intent without relying on the outcome of the deployer pod. So the state really is "unknown." The new upstream deployment architecture addresses this because the system can use state observation to know whether the deployment is "done" without relying on watching a coordinating

[2015-10-05 14:39] jwforres commented on #4474
Not necessarily. This was already using the existing extension point stuff.
I think was just need to move the directive to a different place for now.
On Oct 5, 2015 10:27 AM, "Ben Petersen" <notifications@github.com> wrote:

[2015-10-05 14:48] rhcarvalho opened #4950 "Limit column widths in oc get build output"
We need to:

1. Consider the `wide` flag to limit the output width to max 80 or 120 chars.
2. Limit the width of each column based on the total limit.

[2015-10-05 14:51] sdodson commented on #4903
@smarterclayton  Node service has Restart=always in master but not in v1.0.6. It has always had Wants=Docker. https://github.com/openshift/origin/blob/master/contrib/systemd/origin-node.service

@readonly The node should actually tolerate docker being unavailable at startup because it has to restart docker in order to initialize the SDN anyway. However, I imagine Restart=always will fix what you'r

[2015-10-05 15:33] deads2k commented on #4948
@csrwng @bparees

[2015-10-05 15:33] vbatts commented on #4561
looks again like a binary may not have been statically linked, and could be failing to resolve something like libc.so.
like ejacobs and i found with the hello-openshift image. It will bubble up the same kind of "System error: no such file or directory" error.

[2015-10-05 16:05] #4682 closed

[2015-10-05 16:40] ajacobs21e commented on #4474
@jwforres I hadn't seen the screenshot Pat posted before. Are build & source clickable links? Putting links in the details sidebar are easier click targets and there won't be confusion with a user trying to click on the pod, etc, object.

Most of this doc is outdated but check out slides 4, 14, and 15: https://drive.google.com/open?id=0BxppHkjprXoJeHhnMXZ3ZDZzb3c Those are some concepts I proposed

[2015-10-05 18:03] rhatdan commented on #4591
Lets assign to @rhvgoyal unless it is a packaging error.

[2015-10-05 18:03] rettori opened #4953 "pod just created, but shows old date"
I just created a Pod, but the age is 14 hours...
![screen shot 2015-10-05 at 2 02 14 pm](https://cloud.githubusercontent.com/assets/2352755/10288943/cf999248-6b69-11e5-8283-a29350478d22.png)

Pod vainegao was just created for the sample nodejs app.

[2015-10-05 18:18] #4953 closed

[2015-10-05 18:29] deads2k commented on #4948
@csrwng still failing on code from an hour ago.

[2015-10-05 18:29] deads2k commented on #4948
https://travis-ci.org/openshift/origin/builds/83735596

[2015-10-05 18:31] csrwng commented on #4948
thx, taking a look

[2015-10-05 19:12] ramr commented on #4908
@e-minguez What version of OpenShift are you running? In the latest codebase, the liveness probe uses the container port.

Example if I start the router as follows:
```oadm router --replicas=1 --credentials=$KUBECONFIG  --latest-images --service-account=router --host-network=false --ports="80:8888,443:8843"```

What that does is expose port 80 on the container on port 8888 on the host (and 443 as

[2015-10-05 19:22] kargakis commented on #4942
I don't think so, I hit it while working on https://github.com/openshift/origin/pull/4941 and was confused by the message, though if it is already solved upstream then I guess this is indeed very low priority.

[2015-10-05 19:25] deads2k commented on #4851
@stevekuznetsov Schema1 works with an exposed config.  Once you get enough tests done for it, we can claim the trello card.

[2015-10-05 19:36] danmcp commented on #4591
@rhvgoyal isn't in the list so I have assigned to Jhon for reporting purposes.

[2015-10-05 19:43] spadgett commented on #4912
The problem is that mouse down on the link blurs the field and the error message moves the link from under the cursor before mouse up.

[2015-10-05 19:47] liggitt commented on #4912
not sure I like showing an error just on focus, then blur... means tabbing through the interface leaves an error in place

[2015-10-05 19:54] spadgett commented on #4912
I could change it to only happen when the user types in the field. The fields have an asterisk indicating they're required, and the create button is disabled.

[2015-10-05 19:58] liggitt commented on #4912
+1 for erroring/warning once a value is entered, then removed

[2015-10-05 20:02] spadgett commented on #4912
I'd still like to avoid the invalid value errors flashing as you type. Let me look at it.

[2015-10-05 20:02] deads2k opened #4955 "working deployment listed as failed in oc status"
@ironcladlou I suspect this is due to pruning of completed pods.  The deployment is actually quite happy, but the deployer pod is no longer present

[code]

[code]

[2015-10-05 20:16] ironcladlou commented on #4955
Dupe of #4942

[2015-10-05 23:42] ramr commented on #4215
@pweil-  this has been fixed with the default backend and the default 503 page PRs. Can you please close this out.  Thx

[2015-10-05 23:56] #4215 closed

[2015-10-06 00:06] smarterclayton commented on #4808
Hrm... I can't say it's been something I think of as "top 10 things I'm
worried about wrt policy..." :)

On Oct 5, 2015, at 7:42 AM, David Eads <notifications@github.com> wrote:

Hrm.... who removes roles, how often do they do it, and why do they remove
them?

Testers do it and it messes with referential integrity. I was going to
start with just the project scoped roles, so the cost is relatively

[2015-10-06 01:05] #4049 closed

[2015-10-06 03:31] liggitt commented on #4937
This sounds like an issue we saw where all URLs were resolving to the master from within pods. Obviously the master doesn't have a valid cert for github.com. Can you launch a pod, exec in, and see what IP `github.com` resolves to?

If it resolves to the master IP, this may be the cause and resolution:

path. If your host's domain name matches the wildcard path then you'll
end up with these problem

[2015-10-06 03:32] liggitt commented on #4885
cc @jwforres

[2015-10-06 06:49] bparees commented on #4692
closing based on age, feel free to reopen with the requested information if this is stlil a problem for you.

[2015-10-06 06:49] #4692 closed

[2015-10-06 06:50] bparees commented on #4638
closing based on age, feel free to reopen with requested information if this is still an issue.

[2015-10-06 06:50] #4638 closed

[2015-10-06 06:55] ramr commented on #4848
@smarterclayton looks like this is some functionality that we don't have now with the duplicate routes code.  So one possible fix I can see for this is to add a check to ```unique_host.go for HandleRoute``` to check route type (secure/unsecure) and reject duplicates only if older and for the same type of route. That sound ok?

[2015-10-06 07:18] e-minguez commented on #4908
OSE3.0.2

[2015-10-06 07:43] e-minguez commented on #4907
https://github.com/openshift/origin/blob/master/images/router/haproxy/conf/haproxy-config.template#L36
&
https://github.com/openshift/origin/blob/master/images/router/haproxy/conf/haproxy-config.template#L53

[2015-10-06 07:53] php-coder opened #4959 "sample-app: cleanup.sh script uses killall command that isn't installed in Vagrant image"
I'm following the instruction and trying to create/run/delete the sample app. In chapter [Cleaning Up](https://github.com/openshift/origin/tree/master/examples/sample-app#cleaning-up) there is a `cleanup.sh` invocation:

[code]

As you can see, this script uses `killall` command that isn't present on OS in Vagrant's VM.

Steps to reproduce:
1) `cd origin`
2) `vagrant up`
3) `vagrant ssh`
4) `cd /d

[2015-10-06 08:12] mfojtik commented on #4959
+1 for replacing killall with pkill

[2015-10-06 10:11] mfojtik opened #4961 "Use consistent names for extended tests ginkgo tests"
Currently we have names like this (just few examples):

[code]

This is making it relatively hard to use when trying to specify the right `-focus`.

[2015-10-06 10:15] mfojtik commented on #4961
@stevekuznetsov @smarterclayton @liggitt @bparees FYI, we should make this consistent and useful so we can group things together in a smart way and also tell what those tests are doing ;-)

[2015-10-06 11:22] chmouel opened #4962 "Disabling tls/ssl on console"
I am trying to disable SSL on the openshift api/console since the SSL is terminated directly on an LoadBalancer. My hope were high reading this :

https://github.com/openshift/origin/blob/c3bd7fde3cda488bec6ea731253092698b092ae4/pkg/cmd/server/api/helpers.go#L295-L297

but when removing the certFile and ClientCA value from my master-config.yaml :

[code]

I am getting a :

[code]

[2015-10-06 11:48] deads2k commented on #4962
Try removing the `keyFile` as well.  `certFile` and `keyFile` values are required to be paired throughout the configuration.

[2015-10-06 11:50] chmouel commented on #4962
Yes forgot to mention it, this doesn't work :

[code]

[2015-10-06 11:51] deads2k commented on #4962
Did you remember to update all of the URL references to have `http` instead of `https`?

[2015-10-06 11:53] deads2k commented on #4808
Wait, there's at least **ten** things wrong with policy?? :)

[2015-10-06 11:55] chmouel commented on #4962
ah that's a good idea :)

It seems to still have something referenced on https there, should I reset completely my system?

[2015-10-06 12:09] deads2k commented on #4962
Reset in what sense?  I think simply updating your config and restarting your master and nodes ought to be sufficient.

[2015-10-06 12:10] chmouel commented on #4962
I meant to cleanup my etcd, it still wasn't working with things like :

[code]

[2015-10-06 12:26] deads2k commented on #4962
There are also `https` references inside of the generated kubeconfig files.  Have a look at modifying those.

@liggitt I'm concerned about side effects here.  As I recall, without TLS enabled the API server, you can't identify with a client cert.  If you can't identify with a client cert, then our generated cert users can't authenticate.  If our generated cert users can't authenticate, the master

[2015-10-06 12:29] rhvgoyal commented on #4591
Well, the primary error is not because of docker-storage-setup. I think that's coming from docker device mapper and it simply seems to say that it does not have the device one is looking for. Either it has already been deleted or we are dealing with some sort of issue. May be related to concurrent pull races.

docker-storage-setup error just says that a thin pool could not be setup. On these syste

[2015-10-06 12:30] stevekuznetsov commented on #4961
I think it makes the most sense to prepend tags, and enforce that every test has at least one tag.
[code]

[2015-10-06 12:44] kargakis commented on #4959
:+1:

[2015-10-06 12:51] bparees commented on #4207
@csrwng @smarterclayton https://github.com/openshift/origin/issues/4207#issuecomment-140584203 describes what i plan to implement in oc new-app this sprint.  comments/suggestions/complaints?

in particular @smarterclayton are you going to block this because it's going to change (break compatibility) the existing behavior of oc new-app with respect to what happens when you pass multiple images?

[2015-10-06 12:59] #4955 closed

[2015-10-06 13:40] liggitt commented on #4962
@deads2k correct, disabling TLS on the master will prevent authentication working for:

* client-cert-authenticated clients (currently the nodes, bootstrap cluster admin, and master all talk to the API using client certificate auth, which doesn't survive TLS-termination)
* token-authenticated clients who talk directly to the non-TLS master (instead of the external TLS endpoint), and use the go cli

[2015-10-06 13:48] michelvocks opened #4966 "Git not found in $PATH"
[root@10 ~]# oc start-build nodejs-example --follow
nodejs-example-12
I1006 13:48:10.306637       1 sti.go:74] The value of ALLOWED_UIDS is [1-]
I1006 13:48:10.315116       1 docker.go:211] Image openshift/nodejs-010-centos7@sha256:336f278671e4c9f5d47ea1e4c82301a2f593bc010bcdbfe3ba7389e48a6240b0 available locally
I1006 13:48:10.315176       1 sti.go:96] Creating a new S2I builder with build config

[2015-10-06 13:56] bparees commented on #4966
can you share your buildconfig definition?

[2015-10-06 13:57] mfojtik commented on #4966
@michelvocks is this the official nodejs image from dockerhub or it is modified/customized version?

[2015-10-06 14:02] MacThrawn commented on #4937
Yes this was the problem. The DnsDomain entry in the node configuration was example.com and the wildcard DNS entry in our company Dns Server was *.example.com and points to a node where we run our router. Changing the node configuration to a different DnsDomain fixed the problem. Thx.

[2015-10-06 14:02] #4937 closed

[2015-10-06 14:04] jorgemoralespou opened #4967 ""--env" param does not work on oc new-app <template>"
While creating an app from a template, I want to set up additional envs to the containers and I use:

[code]

I've tried with multiple variations of the command (--env, no specifying -e or --env as stated in another issue).

[2015-10-06 14:10] michelvocks commented on #4966
@bparees @mfojtik
Is this the correct output? Sorry im kinda new to openshift

[root@10 ~]# oc get -o yaml buildConfigs
apiVersion: v1
items:
- apiVersion: v1
  kind: BuildConfig
  metadata:
    annotations:
      description: Defines how to build the application
    creationTimestamp: 2015-10-06T13:00:09Z
    labels:
      template: nodejs-example
    name: nodejs-example
    namespace: test-proj

[2015-10-06 14:17] chmouel commented on #4962
just fyi i have tested and indeed it doesn't work :

[code]

[2015-10-06 15:03] mfojtik commented on #4961
@stevekuznetsov this turns into how you want to run the tests from a PR... I think having to write `[test][extended:core([builds] [parallel])]` will be ugly...

[2015-10-06 15:06] mfojtik commented on #4961
"samplerepo: images: parallel: test ruby images with rails-ex repo"

can become: "The ruby images with the rails-ex samplerepo"... (similar to other test cases). Then if I run:

[test][extended:core(images samplerepo)] I can trigger all of them.

[2015-10-06 15:16] bparees commented on #4961
@mfojtik i don't like that.  I want to be able to look at a test case and easily pick out the keywords that the TC shares with other TCs so i can pick a focus.  hiding them in a sentence makes that hard.

[2015-10-06 15:16] bparees commented on #4961
@mfojtik I actually like the "tag: othertag: thirdtag: some TC description" pattern.

[2015-10-06 15:17] bparees commented on #4961
@mfojtik remember that you don't have to put the ":" in the github comment either, to get a match.

[2015-10-06 15:20] mfojtik commented on #4961
@bparees I was hoping that we can make the descriptions "human friendly" as well :-) it might be good exercise for us to think twice before naming tests

[2015-10-06 15:24] bparees commented on #4961
@mfojtik i think what i proposed is the best trade off of human readable descriptions but also easily parsed focus tag delineation.

[2015-10-06 15:50] mfojtik commented on #4961
@bparees my concern is that people will write something like "builds: images: ruby" instead of "The ruby image should work for builds"

[2015-10-06 15:52] bparees commented on #4961
@mfojtik if my choice is one of those two, i prefer the former.

obviously "builds: images: ruby: the ruby image should work for builds" would be preferred.

[2015-10-06 15:55] mfojtik commented on #4961
@bparees I think that is fair, but you will not have a way to force people to write these descriptions ;-) Other than yelling on them during code reviews ;-)

[2015-10-06 16:01] bparees commented on #4961
@mfojtik again...at least it's easy to grep all the TCs as you did and see what the valid tags are.  and see which TCs don't conform and fix them.

[2015-10-06 16:04] nak3 commented on #4967
@jorgemoralespou
Please use `--param` option instead of `--env` for the `oc new-app --template=<template>`.
- https://github.com/openshift/origin/blob/master/docs/generated/oc_by_example_content.adoc#oc-new-app

[2015-10-06 16:07] csrwng commented on #4207
@bparees some questions/comments ...

This *could* still be useful if we allowed you to specify your own scripts. Is that something we'd want to allow in the future?

This could also still be useful if we allow you to specify a local Dockerfile (maybe we should suggest it?)

If we detect that the image you specified is a builder and you specified a source repo, could we (instead of generating a dc

[2015-10-06 16:13] bparees commented on #4207
@csrwng
1) could be.  since i'm not proposing throwing an error there (probably would report a warning though, that the build is going to fail, but they very explicitly asked for it), it could certainly be possible in the future.

2) same as (1)

3) again maybe as a warning.

[2015-10-06 16:47] nak3 commented on #4967
Ah, sorry I misunderstood your question. You want to set up additional envs to the containers.

[2015-10-06 16:59] stevekuznetsov commented on #4961
We should also mandate that the name includes the directory it's in, so for instance the LDAP tests should have `authentication` as a tag.

[2015-10-06 17:11] csrwng commented on #4759
@deanpeterson if possible, can you try using a builder image that outputs additional debug information when running the docker build? (cewong/origin-docker-builder:debug)

[2015-10-06 18:07] liggitt opened #4973 "AuthorizationAttributes are more expressive than SubjectAccessReview/ResourceAccessReview"
Writing a remote authorizer, not all AuthorizationAttributes can be expressed in subject access reviews or resource access reviews:

Supported attributes:
[code]

Unsupported attributes:
[code]

Of those, apiVersion and apiGroup are the most likely to be useful. URL is tricky to reason about cross-system, and request attributes likely won't be serializable.

Additionally, there is not a direct int

[2015-10-06 18:27] smarterclayton commented on #4848
Do we *have* to support this use case?  Use case is?

[2015-10-06 18:30] smarterclayton commented on #4207
I'm ok with 3 meaning "do something with php, and do something with some
image, but they aren't linked".  It's ok to break backwards compatibility.
A warning is good as long as the code to do it is well isolated.

On Tue, Oct 6, 2015 at 12:13 PM, Ben Parees <notifications@github.com>
wrote:

[2015-10-06 18:33] ramr commented on #4848
@pweil-  may be able to better explain what his use case was.

But I can sorta see some use cases here where someone wants to create 2 routes - one secure and one unsecured for the same host and serve protected content via the secure route (https://www.example.com) but serve all the assets (javascript/images/css etc) via the unsecured path.  Or even create two different types of routes (secured/un

[2015-10-06 18:34] pweil- commented on #4848
Use case is defining both `http://mysite.com` and `https://mysite.com` where I allow a portion of my site to be unsecure.  For instance a web app that allows you to go to their marketing area without https but uses https for the actual app itself.

The alternative here is to make the whole app secure if you need portion of the app secure.  Not terrible but a bit inconvenient.  Might be able to get

[2015-10-06 18:40] smarterclayton commented on #4848
Why would I need two routes for that?

On Tue, Oct 6, 2015 at 2:34 PM, Paul Weil <notifications@github.com> wrote:

[2015-10-06 18:41] ramr commented on #4908
@e-minguez  Hmm, ok that's odd then - its probably something else in your env. Because the f5 router support and host-networking support went in that release and it does have the correct code (ContainerPort).
Can you please provide the command you used to start the router:  ```oadm router ...``` and the output of the generated deployment config ```oc get dc router -o json```   (if you used a custo

[2015-10-06 18:42] pweil- commented on #4848
You do not get unsecure access by default when you define a secure route.  The resulting haproxy config is essentially the same but you will not have an entry in the unsecure map file.  That was intentional since we can't assume you want both http and https access if you ask for https.

[2015-10-06 18:43] deads2k commented on #4851
"install openldap client" - https://github.com/openshift/vagrant-openshift/pull/336

[2015-10-06 18:43] smarterclayton commented on #4848
Then we should add a flag to enable that in the TLS mode.  Or a constant.

[2015-10-06 18:43] pweil- commented on #4848
you type faster than me

[2015-10-06 18:53] smarterclayton commented on #4944
Yes

[2015-10-06 18:55] smarterclayton commented on #4848
There have been two discussed modes.  Expose HTTP, Redirect to HTTPS.  So a
constant option `Insecure` which is one of `Redirect`, `Expose`, or
`None`|`Disabled` that is valid on terminate (and maybe in the future
passthrough).

On Tue, Oct 6, 2015 at 2:43 PM, Paul Weil <notifications@github.com> wrote:

[2015-10-06 19:34] ramr commented on #4848
Ok - this is starting to sound more like an enhancement then (can we label it as such). I'll work on it but have a few other bugs to get done before this.

[2015-10-06 19:37] pweil- commented on #4848
We allowed it before so it may be viewed a regression.  I would vote for leaving it high priority unless someone else thinks that it won't cause issues if it doesn't happen to get done.

[2015-10-06 19:39] stevekuznetsov commented on #4929
@smarterclayton @liggitt @deads2k I'm thinking I may write some wrapper functions for these sorts of tests: `assert_success`, `assert_failure`, `assert_output`, `assert_output_lacking`. It would make reading and writing `test-cmd` entries easier, nobody wants to deal with bash syntax and I don't think `! some_command | grep something` will ever look pretty but `assert_output some_command some_outp

[2015-10-06 20:39] smarterclayton commented on #4848
They can argue it with me - fine for leaving it high priority though.

On Tue, Oct 6, 2015 at 3:37 PM, Paul Weil <notifications@github.com> wrote:

[2015-10-06 20:51] mfojtik commented on #4961
authentication is a separate script like core
On Oct 6, 2015 6:59 PM, "Steve Kuznetsov" <notifications@github.com> wrote:

[2015-10-06 20:54] bparees commented on #4961
Why?

Ben Parees | OpenShift
On Oct 6, 2015 19:00, "Steve Kuznetsov" <notifications@github.com> wrote:

[2015-10-06 21:00] stevekuznetsov commented on #4961
@bparees In our specific case, we need to do extensive set-up after the normal set-up to do less work in each test for LDAP. @mfojtik In the *normal* case, though, we'd want to have that directory be the first tag. Even in the `authentication` case all of the non-LDAP authentication extended tests won't be using `authentication.sh`, and we should actually change the name of that startup script to

[2015-10-06 21:04] ebalsumgo opened #4977 "Issue with auth not logging when it fails"
There seems to be no logging in the master logs even with loglevel=5 about status 500 errors or general authentication errors when working with anything other than AllowAll/DenyAll. In our case we were trying to setup BasicAuth and continuously recieved 500 return code on the CLI end and just generic error in the UI but nothing was logged in the master.
This is happening on OSE-3.0.2.0-0.git.16.4d

[2015-10-06 21:08] liggitt commented on #4977
Additional info:
[code]

If the remote endpoint returns a 301 redirect or a 401 negotiate challenge, both the UI login and CLI login cases were getting a 500 from the OpenShift OAuth server

[2015-10-06 21:45] maxandersen commented on #3294
so i'm back trying this - I haven't changed anything on my side afaik and now it works.

at least I have a very limited barebones origin running now.

[2015-10-06 21:45] #3294 closed

[2015-10-06 21:50] bparees commented on #4961
@stevekuznetsov that doesn't tell me why you need to mandate the directory be in the tags.  if you have a group of tests you want to frequently run together, they should have a common tag.  that doesn't mean "dir name" needs to be that tag.

also tests that are run from different scripts cannot be run together with this mechanism.  you have to pick the script and then pick the subset(focus) of tes

[2015-10-06 21:54] smarterclayton commented on #4961
The dir name should be the same as the primary tag in most cases.  There's
no point to having a directory named "authentication" and not a single
mention of "authentication" in the test name.

On Tue, Oct 6, 2015 at 5:50 PM, Ben Parees <notifications@github.com> wrote:

[2015-10-06 21:54] ramr commented on #4907
@e-minguez  yeah, the router expects/uses ports 80 and 443 today as that's the default for http/https traffic. So for now if you want to use custom ports, one option is to create a custom router docker image which binds to your ports and use that with the ```oadm router``` command.

Example: Assuming you want to use say 10080 and 10443 instead of 80 and 443, copy the haproxy-config.template and ed

[2015-10-06 22:02] bparees commented on #4961
in most cases, maybe.  needs to be a rule?  no.

[2015-10-06 22:03] smarterclayton commented on #4961
Yes.

On Tue, Oct 6, 2015 at 6:02 PM, Ben Parees <notifications@github.com> wrote:

[2015-10-06 22:03] stevekuznetsov commented on #4961
@bparees That's a good point. I think the original intent of gathering tests into folders was for functional buckets. If we continue to use that as the metric for grouping tests, it would then follow that all of the tests in a directory are in the same functional bucket and it would make sense to run the tests together.

We also very much would like to keep the `authentication.sh` script, however,

[2015-10-06 22:06] smarterclayton commented on #4961
Not that it has to be a rule.  Just that it has to clearly indicate the
things in it (the script has to be named the same as the dir, the tests in
the dir have to match the things we do, etc).

On Tue, Oct 6, 2015 at 6:03 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-10-06 22:38] kargakis commented on #4959
We are using `pkill` elsewhere (11. in https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant), @php-coder mind updating this too?

[2015-10-07 01:51] smarterclayton opened #4980 "oc new-build should have a --to option that sets the name of the output image tag"
It should be possible to do

    oc new-build <source> --to=somenamespace/some:other

which should define the build output image and this should work in concert with `--to-docker`.   It should also be possible to have no output for a build.

[2015-10-07 06:02] #3637 closed

[2015-10-07 06:58] #2378 closed

[2015-10-07 07:49] bparees commented on #3941
@nekop closing as i'm pretty confident this is now fixed, but feel free to reopen if you have a chance to try on a newer OSE version and still have issues.

[2015-10-07 07:49] #3941 closed

[2015-10-07 07:51] nekop commented on #3941
Ok thanks. I'm having an issue with Vagrant and will test it later.

[2015-10-07 08:03] #4912 closed

[2015-10-07 08:12] php-coder commented on #4959
@kargakis Should I update [here](https://github.com/openshift/origin/blob/master/docs/debugging-openshift.md#name-resolution-within-containers) too?

[2015-10-07 08:16] michelvocks commented on #4966
@mfojtik It's the official nodejs image. I just created a new project and added the nodejs-example via the web console.

[2015-10-07 08:27] tomason opened #4981 "Configurable timeout on routes"
We have started to work with Drools execution server on OpenShift recently and immediately hit an issue with session timeout (Drools execution server executes rule sets on given set of facts). The communication with execution server is synchronous and operations (create new session, execute rules) can take significant amount of time.

Could you, please, add timeout configuration per route? I have

[2015-10-07 08:37] php-coder commented on #4959
I've submitted PR #4982

[2015-10-07 09:10] miminar commented on #3333
I believe we should continue using our image graph to instruct registry what to delete until the garbage collection is resolved upstream. It's problematic to collect orphaned blobs because of uploads being in progress. Blobs being uploaded stay unreferenced until a manifest is written. Until then, there's no way to tell such a blob from an orphaned one.
With a graph stored in OpenShift, we know, w

[2015-10-07 09:50] mpbravo commented on #4695
This howto can be added to the documentation, to detail the necessary steps:
http://www.opensourcerers.org/importing-an-external-docker-image-into-red-hat-openshift-v3/

[2015-10-07 10:28] mfojtik commented on #4966
@bparees can't reproduce this (went through say way using web UI and I ended up with the same buildConfig). The build just runs fine. @michelvocks why you using `start-build` command? The build should start automatically when you create it from the UI.

[2015-10-07 10:34] stefwalter opened #4985 "/exec endpoint with base64.channel.k8s.io does not decode data"
The /exec WebSocket pod endpoint using the "base64.channel.k8s.io" protocol does not properly decode data.

If I open a WebSocket to ```.../exec?command=/bin/sh&...``` and ```ws.send("0", btoa("test"))``` I can see base64 characters being echoed.

[2015-10-07 10:34] stefwalter commented on #4985
Noted in upstream review https://github.com/kubernetes/kubernetes/pull/13885

[2015-10-07 10:34] stefwalter commented on #4985
CC @smarterclayton @jwforres

[2015-10-07 10:50] michelvocks commented on #4966
@mfojtik Right. I just prefered the command line because with the "--follow" command it will automatically print out the logs. When you look at the Web UI you just see that the build failed.

You guys have any hint or idea what I could try to fix this? Or where I could look to get more details of this issue?

[2015-10-07 11:01] michelvocks commented on #4966
The strange thing is sometimes when I try to build I get these error messages:
E1007 10:54:50.436800       1 git.go:102] Clone failed: fatal: unable to access 'https://github.com/openshift/nodejs-ex/': Could not resolve host: github.com; Unknown error

I found this issue here: https://github.com/openshift/origin/blob/master/docs/debugging-openshift.md
The solution is to restart docker. When I do t

[2015-10-07 11:39] miminar commented on #3333
The easiest, but hackish, solution to option 2 would be to re-verify that layers exist after the manifest is written. If not, delete the manifest and fail. Client will retry. And if not, left-overs will be collected upon next GC run.

[2015-10-07 11:42] mfojtik commented on #4966
@michelvocks how do you run openshift?

[2015-10-07 11:43] mfojtik commented on #4966
@michelvocks can you try to re-pull manually the nodejs image on the host you running the build? (docker pull) just to make sure the image itself is not corrupted.

[2015-10-07 11:45] bparees commented on #4966
@mfojtik as you noted it's really openshift/origin-sti-builder that should be re-pulled

[2015-10-07 11:45] mfojtik commented on #4966
@bparees right, was just typing this :)

[2015-10-07 11:58] rhcarvalho commented on #4708
@lorenzvth7 did you try the updated steps mentioned here https://github.com/openshift/origin/issues/4676#issuecomment-145042403? Does that solve your problem deploying the database images?

[2015-10-07 12:03] michelvocks commented on #4966
https://gist.github.com/michelvocks/cf5d2e95f2a099ccdfca

[2015-10-07 12:34] sspeiche commented on #4405
I learned I get what I *almost* want (expected) from `oc get types` if I just do:

[code]

Still missing `builds`, `buildConfig`, `deploymentConfig`, ...

In other words, I'd expect an end user to want a concise list of things they can type with a short description. It would be preferable that `oc get types` look like the above + short (less than one line) description and the current `oc get types

[2015-10-07 12:51] smarterclayton commented on #4985
Hrm, this is how the protocol is designed (it only encodes on the way back) since it's easy for browsers to send raw text.  Do you *need* stdin to be base46 encoded for a reason?

[2015-10-07 13:02] stefwalter commented on #4985
I see. Well not a big deal.

But the assymetry is rather ugly. The /exec protocols have 3 kinds of framing between them:

 * channel.k8s.io: 0-3 + <data>
 * base64.channel.k8s.io: '0'-'3' + <data>
 * base64.channel.k8s.io:  '0'-'3' + base64(<data>)

Well, I don't need it for present use cases. But I can think of a situation: If you want to pipe binary data from the browser to a command running in

[2015-10-07 13:05] ncdc commented on #3333
@miminar as I've mentioned previously, we must continue to use the graph we build from the Kubernetes and OpenShift resources (pods, RCs, DCs, BCs, builds, ISes, etc) to have an accurate picture of what images and layers are or are not in use.

While there is a race possible, it would look something like this:

1. Push a bunch of images and layers over time.
2. Time passes
3. You get an image stre

[2015-10-07 13:07] e-minguez commented on #4908
I tried again from scratch and it works, so excuse me for opening the issue and sorry to bother you with this.
Thanks.

[2015-10-07 13:07] #4908 closed

[2015-10-07 13:25] pweil- commented on #3333
It seems like a fairly unlikely occurrence that has a workaround (re-push the image).  I imagine that (for now) pruning would be a regularly scheduled administrative task that could largely avoid this by scheduling it during low-use times.  Obviously that doesn't work for every scenario.

[2015-10-07 13:27] smarterclayton commented on #4985
When you get bytes from an uploaded binary file in the browser can you get
it in byte buffer or string form?  I thought that was possible today.

On Oct 7, 2015, at 9:02 AM, Stef Walter <notifications@github.com> wrote:

Hrm, this is how the protocol is designed (it only encodes on the way back)
since it's easy for browsers to send raw text.

I see. Well not a big deal.

But the assymetry is rathe

[2015-10-07 13:41] stefwalter commented on #4985
Everything is possible ... including UTF8 decoding from ArrayBuffer... (ie: the whole point of base64 encoding at all). My comment was about utility and protocol symmetry.

As I said this is not a blocker. If this it's the way you intended it to be, feel free to close this pull request.

[2015-10-07 13:50] smarterclayton commented on #4985
Basically for the binary channel I implemented what I believed was the bare
minimum to be useful in the browser.  If we can't easily move byte buffer
data from a binary source in the browser into STDIN i would agree we would
need the decoding.

On Wed, Oct 7, 2015 at 9:26 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-10-07 13:56] ingvagabund opened #4990 "Options of binaries are handled via cobra repository which does not normalize options and thus deviates from the current k8s upsteam way"
All underscores in all options of k8s binaries were replaced with dashes. Origin is in sync with the change. However, there is a difference in definition and handling.

Pure k8s import pflag to handle options. All options are normalized (replacement of underscore with dash) before creation and parsing. So both variants (with or without dashes) are supported.

Openshift uses cobra which does not no

[2015-10-07 13:59] ingvagabund commented on #4990
@sdodson

[2015-10-07 14:05] stefwalter commented on #4985
minimum to be useful in the browser.  If we can't easily move byte buffer
data from a binary source in the browser into STDIN i would agree we would
need the decoding.

I think it's possible without the base64 decoding. One would:
 1. Use ```FileReader.readAsArrayBuffer```.
 2. Create new ArrayBuffer one byte larger.
 3. Add '0' to the front of each ArrayBuffer block, and copy the data in.
 4. Sen

[2015-10-07 14:14] miminar commented on #3333
@ncdc What you say is true in current scenario where OpenShift instructs registry which repositories, manifests and layers can be removed.
If, however, the registry is given just manifests (and optionally repositories) to remove and a responsibility to delete anything orphaned (which is suggested by [above comment](https://github.com/openshift/origin/issues/3333#issuecomment-117337722) as a way to

[2015-10-07 14:15] smarterclayton commented on #4985
Hrm... that's a good point.  Originally, I implemented the simplest
possible channel scheme.  That's a good argument that it should be
symmetric - to avoid explaining to users.  There's nothing special about a
particular channel at the lower level, it's just data sent to the server
doesn't have to be encoded but data coming back does.

On Wed, Oct 7, 2015 at 10:05 AM, Stef Walter <notifications@gi

[2015-10-07 14:18] ingvagabund commented on #4990
https://github.com/spf13/cobra/issues/165

[2015-10-07 14:21] csrwng opened #4991 "new-app: The --allow-missing-image flag is not working when a local docker connection is not available"
If only a docker registry searcher is created, then the --allow-missing-image flag is ignored. Ideally the --allow-missing-image flag should add a new resolver that has less weight than the others and always resolves to a valid image.

[2015-10-07 14:21] csrwng commented on #4991
@bparees

[2015-10-07 14:23] smarterclayton commented on #3333
We should make a note of the behavior in the pruning definition and call it
out - ultimately we can't prevent it, and the user can just retry the push.

On Wed, Oct 7, 2015 at 10:14 AM, Michal Minar <notifications@github.com>
wrote:

[2015-10-07 15:02] kargakis commented on #4405
Unfortunately that `oc get` message is hardcoded from upstream and there is no way currently to override it. I think as @deads2k mentioned, we probably want to use the `explain` command.

[2015-10-07 15:29] ncdc commented on #3333
@miminar brings up a good point about my suggestion from above about how the registry prunes. I'll quote it here for convenience:

- removes orphaned repo dirs
- removes orphaned repo manifest dirs (signatures)
- removes orphaned repo layer links

If, as I proposed above, running `oadm prune images` results in images being hard deleted from etcd and references to said images being removed from ima

[2015-10-07 15:43] miminar commented on #3333
@ncdc That's a good idea. The same could be achieved without the need to query OpenShift. `oadm prune images` whould just issue regular manifest.Delete() which causes registry to do an unlink while still keeping manifest blob untouched (upstream behaviour). Registry could just build the graph of manifests/layers/blobs and remove those referenced only by unlinked manifests.

[2015-10-07 15:44] ncdc commented on #3333
@miminar the manifest is not stored in the registry. It's stored in etcd in /images.

[2015-10-07 16:09] miminar commented on #3333
@ncdc I thought [manifest stored in registry](https://github.com/docker/distribution/blob/master/manifest/schema1/manifest.go#L31) and OpenShift's [one](https://github.com/openshift/origin/blob/master/pkg/image/api/dockertypes.go#L58) are the same. I can load manifest from storage from inside of registry just fine. Is it of no use to us?

[2015-10-07 16:18] ncdc commented on #3333
@miminar they are, but we use a custom middleware in the registry to take over handling tags, manifests, etc: https://github.com/openshift/origin/blob/master/pkg/dockerregistry/server/repositorymiddleware.go#L101-L139. It's set up here: https://github.com/openshift/origin/blob/master/images/dockerregistry/config.yml#L16.

Manifest data is **only** stored in OpenShift's etcd. When you load a manife

[2015-10-07 16:58] spadgett opened #4995 "Pods page requests pod in wrong namespace after switching projects"
I see this after viewing a pod in one project, switching project in using the dropdown, and navigating back to the pods page. After refreshing, the pod loads.

<img width="1430" alt="screen_shot_2015-10-07_at_12_56_11_pm" src="https://cloud.githubusercontent.com/assets/1167259/10344734/f54ee0d0-6cf2-11e5-9ca3-bad96dadf0ab.png">

/cc @jwforres

[2015-10-07 17:15] spadgett commented on #4918
@jwforres There is an angular bootstrap typeahead widget, which is more angular-friendly and already a dependency. It'd probably look different than the label selector, though.

https://angular-ui.github.io/bootstrap/

[2015-10-07 17:29] liggitt opened #4998 "Dry-run reconcile-cluster-roles/reconcile-cluster-role-bindings in diagnostics"
Running these commands without `--confirm` allows you to see whether there are potentially missing roles or bindings. It could be helpful to surface that in diagnostics.

[2015-10-07 17:33] deads2k commented on #4998
I already added one for `ClusterRoles` a while back.

[2015-10-07 17:45] jwforres commented on #4918
@spadgett so we used selectize for the label filter because it supported multi-select.  But if the bootstrap one is easier to use for simple typeaheads, maybe we just need to re-theme the dropdown for consistency?  either re-theme the label filter one to look like the bootstrap one or vice versa.

cc @sg00dwin

[2015-10-07 17:56] #4894 closed

[2015-10-07 18:07] ramr commented on #4908
No worries. Cool - glad its working for you.

[2015-10-07 19:48] csrwng opened #5000 "new-app: create extended test to verify that local images get a docker image ref and not an imagestream"
Move this test into an extended test... we cannot rely on docker being available for test-cmd.sh

[code]

[2015-10-07 19:48] csrwng commented on #5000
@bparees

[2015-10-07 21:46] #2505 closed

[2015-10-07 21:46] #4832 closed

[2015-10-07 22:26] ramr commented on #4884
Fixed in PR https://github.com/openshift/origin/pull/4900 and docs in https://github.com/openshift/openshift-docs/pull/1055

[2015-10-07 22:26] #4884 closed

[2015-10-07 22:56] #4797 closed

[2015-10-07 23:11] kargakis commented on #4942
Fixed by https://github.com/openshift/origin/pull/4963

[2015-10-07 23:11] #4942 closed

[2015-10-07 23:12] kargakis commented on #4935
Fixed by https://github.com/openshift/origin/pull/4963

[2015-10-07 23:23] kargakis commented on #4405
Btw, the issue about `oc get`: https://github.com/openshift/origin/issues/3981

[2015-10-08 02:52] #4948 closed

[2015-10-08 03:27] stevekuznetsov commented on #4499
Seeing this again on unrelated PR: https://travis-ci.org/openshift/origin/jobs/83955964

[2015-10-08 03:31] liggitt commented on #4499
different flake is fixed in https://github.com/openshift/origin/pull/4989

[2015-10-08 05:55] miminar commented on #3333
Aha! I didn't know that. Thanks for pointing this out.

[2015-10-08 07:22] mrosic commented on #636
@deanpeterson You've probably figured it out yourself by now but you need to do "oc get dc" and "oc delete dc" first before deleting anything else.

This is undocumented: "oc get" doesn't tell you that it can show info about deploymentconfigs (dc) and "oc delete" just throws an error messages without telling you the ressources that you can act upon with "oc delete".

This is terrible for people wh

[2015-10-08 08:45] jimmidyson opened #5002 "`oc exec` doesn't respect kube config SSL config"
[code]

[2015-10-08 11:58] lorenzvth7 commented on #4708
Not really, now I have the same issue when and I'm working in a multi-node environment. I've done the advanced installation so I'm not running OpenShift in a Dockercontainer. A DB is working when I'm using this template (https://github.com/openshift/origin/blob/master/examples/sample-app/README.md). But not when I'm creating an application directly from an image (oc new-app mysql). Same issue with

[2015-10-08 12:35] mmahut opened #5003 "Print etcd bundle version in openshift version"
Make sure we can print out etcd bundled version (or any other bundled software) in "openshift version".

[2015-10-08 13:22] soltysh opened #5004 "oc new-app kubernetes/guestbook fails"
`oc new-app kubernetes/guestbook` fails with:
[code]
After adding `--allow-missing-images` I got:
[code]
But after downloading the image with `docker pull` it worked smoothly without any problems.

Additionally when using release 1.0.6 binary to do above against OSE 3.0.1 we fail with the first message as well.

Maybe we should either provide so=me incompatible client versions warning.

@csrwng @m

[2015-10-08 13:42] rhcarvalho opened #5005 "Cannot create image streams with long names"
[code]

Seems that the limit used to be higher than 63 chars.

Strangely, if the name is made of a single char, it gets truncated:

[code]

@csrwng FYI

[2015-10-08 13:43] kargakis opened #5007 "`oc status` incorrectly warns about unconfigured internal registry"
Manual imageStream deletion will trigger this.
[code]

@deads2k

[2015-10-08 14:07] ncdc commented on #5002
As discussed on IRC, `oc exec` and `oc port-forward` don't currently honor the skip TLS verification flag/setting. This has been fixed upstream in https://github.com/kubernetes/kubernetes/pull/14889. This will be fixed once this commit is in origin.

[2015-10-08 14:10] stevekuznetsov opened #5008 "`oc logs` missing ouput"
When using `oc logs` to look at the output of a build pod, I get nothing. When I use `docker logs` on the container I see the desired output.

[2015-10-08 14:12] readonly opened #5009 "Using two identityProviders with the same user creates duplicates."
OpenShift 1.0.6 / RHEL 7.1:

I have configured 2 `identityProviders` in the master's /master-config.yaml: first one ist htpasswd, second one is LDAP. For users that use those mutually exclusive, both work fine.

Now I have a user (`joe`, a project admin) that should be able to usually login via LDAP, but if the LDAP is down, should be able to login via htpasswd as fallback. Therefore he has 2 diff

[2015-10-08 14:18] mfojtik commented on #5003
have fix for this

[2015-10-08 14:21] csrwng commented on #5004
If you run new-app with --loglevel=8, it looks like the dockerhub registry returns a 404 when trying to get https://registry-1.docker.io/v2/kubernetes/guestbook/manifests/latest. @ncdc should we be falling back to the v1 api ?

[2015-10-08 14:24] ncdc commented on #5004
@csrwng could you please paste the output from log level 8?

[2015-10-08 14:26] mfojtik commented on #4966
still no luck reproducing this :/

[2015-10-08 14:28] csrwng commented on #5004
http://paste.fedoraproject.org/276421/44314481/

[2015-10-08 14:36] liggitt commented on #5002
that is cherry picked as part of https://github.com/openshift/origin/pull/5011

[2015-10-08 14:38] ncdc commented on #5004
@smarterclayton you had indicated in an email thread that you didn't want to fall back to v1 if the image doesn't exist in the v2 part of the Hub.... thoughts on this issue?

[2015-10-08 14:49] mfojtik commented on #5003
@mmahut :christmas_tree:

[2015-10-08 15:08] mmahut commented on #5003
:santa:

[2015-10-08 15:18] smarterclayton commented on #5004
I didn't.  I asked upstream to repush this image

On Oct 8, 2015, at 10:38 AM, Andy Goldstein <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> you had indicated in an
email thread that you didn't want to fall back to v1 if the image doesn't
exist in the v2 part of the Hub.... thoughts on this issue?

—
Reply to this email directly or view it on GitHub
<https:/

[2015-10-08 15:54] ncdc commented on #5004
@smarterclayton so once the image has been repushed, close this issue?

[2015-10-08 16:05] soltysh commented on #5004
That only partially will resolve the issue. With above we're giving
terrible developer experience,  because you see the image in the repo when
searching through web UI but then `oc new-app` tells you it's not there.
Which sounds as if `oc` is broken, imho. If we don't want to reach to the
old part we should at least communicate that to a user or better provide a
fallback solution, eg. do `docker p

[2015-10-08 16:12] #3020 closed

[2015-10-08 16:31] kargakis commented on #5003
:beer:

[2015-10-08 16:51] miminar commented on #3333
The main issue now I'm facing is how to mark images as deleted without removing them physically during `oadm prune images`. @ncdc and @derekwaynecarr came up with with an idea to add a new field to image stream to record an agent to do a finalize action to release the lock blocking the deletion. The deletion in etcd would be done once registry prunes orphaned objects.
I haven't yet a chance to get

[2015-10-08 16:52] ncdc commented on #3333
@miminar we should lay out the proposed design, with all the moving parts, before we do any coding

[2015-10-08 16:58] pweil- commented on #3333
:+1:

[2015-10-08 17:10] smarterclayton commented on #5004
The right answer is to tell the user the latest tag doesn't exist and
suggest other tags.  We aren't going to patch the client to emulate
non-deterministic behavior just for the DockerHub.  There are lots of
reasons the DockerHub may get broken, I don't want there to be a precedent
that we design and support fallbacks that may in the future be incorrect
behavior, or cause other conflicts.

We alre

[2015-10-08 17:11] #4985 closed

[2015-10-08 17:12] ncdc commented on #5004
I don't believe it's a question of whether or not you ask for bar/foo vs bar/foo:latest. In this case there is no v2 image data for the entire image repo. I looked at our dockerregistry client code, and as best I could tell, we don't do any fallback. So if you ask for bar/foo or bar/foo:latest, both will fail when talking v2.

[2015-10-08 17:13] ncdc commented on #5004
And there is no list of alternative tags we could present to the user:

[code]

[2015-10-08 17:18] smarterclayton commented on #3333
Sounds good.  We also need to queue up the work to automate pruning.

On Oct 7, 2015, at 11:29 AM, Andy Goldstein <notifications@github.com>
wrote:

@miminar <https://github.com/miminar> brings up a good point about my
suggestion from above about how the registry prunes. I'll quote it here for
convenience:

registry

   - removes orphaned blobs
   - removes orphaned repo dirs
   - removes orphaned

[2015-10-08 17:28] liggitt commented on #5009
That is working as intended today. Identity providers are not expected to overlap usernames, and if they do, the second one in gets a unique username.

https://trello.com/c/cSa9BKUL is open to allow choosing the behavior when multiple providers identify the same users.

In the meantime, you can update an existing identity->user mapping yourself using the "update useridentitymapping" API to make th

[2015-10-08 17:46] stevekuznetsov opened #5013 "Authentication extended tests don't use core.sh"
Authentication extended tests currently use `test/extended/authentication.sh` for set-up, but this makes it so that one cannot choose to run an arbitrary test from one starting point and, if more authentication tests are added that do not require that set-up, one would fail to run all authentication tests as they require different set-ups. We need to move that set-up into the `ginkgo` `BeforeEach`

[2015-10-08 17:47] smarterclayton commented on #5004
That's not the case for other repositories, which at least have some.  For
those that have none, the null itself seems to imply something we can hang
a message off of.  You can also add a message that indicates the docker v2
hub may not have accurate data.  A v1 fallback prevents us from doing pull
by id, so I'd rather make people aware the hub is broken and how they can
fix it (possibly by allowi

[2015-10-08 17:49] ncdc commented on #5004
It's a relevant problem as long as the Docker daemon still supports v1, right?

[2015-10-08 17:52] soltysh commented on #5004
The tag is not a problem there, that was the first thing I've checked if the latest tag is there and it was there! Imho, it's unacceptable we provide a user with totally wrong information about non-existent image when he sees one looking into the repo from web browser. On the other side stating we are expecting v2 image and the image requested is cannot be found v2 repo part of docker hub is someh

[2015-10-08 17:57] smarterclayton commented on #5004
As long as people are pulling images that were last pushed during the
period of time where this was a problem.

On Oct 8, 2015, at 1:49 PM, Andy Goldstein <notifications@github.com> wrote:

It's a relevant problem as long as the Docker daemon still supports v1,
right?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5004#issuecomment-146636278>.

[2015-10-08 18:02] ncdc commented on #5004
It's a problem as long as the Hub still supports v1, and you're trying to access an image that was only ever pushed with v1, prior to Docker 1.6.

[2015-10-08 18:03] soltysh commented on #5004
Which means it will be a problem, at least for a while, that's why giving at least some piece of information would be beneficial.

[2015-10-08 18:32] spadgett commented on #2815
One thing I've noticed: if a pod is restarting and then gets healthy, it will stay yellow for another 5 minutes, even after things are OK. Usually, if a pod is restarting, it doesn't take long to fail. And when it does, the server backs off for a few minutes, and the pod will be yellow from the failed container check.

I think we should lower the time frame for last restart or perhaps get rid of t

[2015-10-08 18:35] liggitt commented on #2815
I've seen a status on pods of something about CrashLoopBackoff... wonder if we should use that instead.

[2015-10-08 18:41] liggitt commented on #2815
I've seen it in `oc get pods`, though that may be pulling from an event, which would make it less usable

[2015-10-08 18:47] smarterclayton commented on #5004
It's primarily a problem for consumers of stale (non automated build)
DockerHub images.  I can't imagine many of those.

On Oct 8, 2015, at 2:02 PM, Andy Goldstein <notifications@github.com> wrote:

It's a problem as long as the Hub still supports v1, and you're trying to
access an image that was only ever pushed with v1, prior to Docker 1.6.

—
Reply to this email directly or view it on GitHub
<h

[2015-10-08 19:04] soltysh commented on #5004
I'll be playing the stubborn here, still we wanna be nice to them and at least inform them about the image being old and not supported, which will be better than returning not found.

[2015-10-08 19:24] spadgett commented on #2815
Yeah CrashLoopBackoff is the reason property in the container state obj when a pod crashes. We show it in the UI details sidebar. I've seen it a lot recently, unfortunately. Those pods get flagged yellow anyway because of their state.

[2015-10-08 20:13] smarterclayton commented on #5004
I'm not opposed to communicating what's going on, and we probably need the
escape hatch to v1 (not sure I want to add a flag for this everywhere, I
was checking whether there is a DockerHub domain name that doesn't expose
v2 but does expose v1).  But it has to be explicit to ignore what the repo
tells you.

On Oct 8, 2015, at 3:04 PM, Maciej Szulik <notifications@github.com> wrote:

I'll be playin

[2015-10-08 20:55] stevekuznetsov opened #5019 "CLI is missing auto-completion for sync-groups --sync-config"
We need to add file-name completion for this. cc @deads2k

[2015-10-08 21:00] spadgett opened #5020 "Runtime error on overview"
I believe this happens when replication controllers load before deployment configs.

/cc @jwforres

[code]

![screen shot 2015-10-08 at 4 56 17 pm](https://cloud.githubusercontent.com/assets/1167259/10379723/e3af6818-6ddd-11e5-8e01-8acfffdd5ecd.png)

[2015-10-08 21:14] spadgett commented on #2815
Caught one:

[code]

This would be a warning anyway:

[code]

[2015-10-09 06:36] soltysh commented on #5004
:+1: I'll try to prepare a PR after I'm done with current sprint assignments.

[2015-10-09 06:47] soltysh opened #5025 "Data race in k8s.io/kubernetes/plugin/pkg/auth/authenticator/token/oidc with go1.5.1"
[code]

Full build log https://travis-ci.org/openshift/origin/jobs/84443384

Maybe it'll be picked up upon next rebase... maybe. I'll keep an eye on that.

[2015-10-09 09:02] readonly commented on #5009
Good enough, as we need that only as fallback for admins. Thanks.

[2015-10-09 09:07] mfojtik commented on #5025
@soltysh this must happen recently as I'm pretty sure I got clean test run for go 1.5.1

[2015-10-09 09:08] mfojtik commented on #5025
@liggitt FYI

[2015-10-09 09:26] kargakis commented on #4785
Merged.

[2015-10-09 09:28] mfojtik commented on #4831
@deads2k

1. Create `./test/extended/foo.sh`
2. Start OpenShift server there
3. Kick the builds from the script (oc start-build)
4. Run the ginkgo test suite (set focus on things you want to run)

In PR, you can run this by: [test][extended:foo] or [testextendedonly][extended:foo] or manually by running the script directly (`./test/extended/foo.sh`)

[2015-10-09 09:29] mfojtik commented on #4442
[testextendedonly][extended:core(sti_env)]

[2015-10-09 10:51] jhadvig commented on #615
@bparees please we can close this one, since its fixed in s2i. We only need to update s2i in origin.

[2015-10-09 11:09] kargakis commented on #4442
flaked

[2015-10-09 11:41] spadgett opened #5031 "Runtime error refreshing pod page when server down"
Data service still shows an error message, but we also have a cannot read property of undefined error in the controller (`resp` is undefined). I suspect this happens everywhere we use the new project service.

<img width="1321" alt="screen shot 2015-10-09 at 7 39 24 am" src="https://cloud.githubusercontent.com/assets/1167259/10392861/fa8ce328-6e58-11e5-8cd5-0c539286809c.png">

/cc @jwforres

[2015-10-09 11:50] mmahut commented on #5003
Issue is still open, as now we would like it to make more sysadmin-friendly. So, at least printing etcd and version number on one line.

[2015-10-09 12:22] jwforres commented on #5020
@stefwalter the stacktrace looks like its coming from updateTopology

[2015-10-09 12:32] deads2k commented on #4831
Ok.  I think that suits.

[2015-10-09 12:32] #4831 closed

[2015-10-09 12:57] deads2k commented on #5019
Make a post-dcut category on your punchlist and add this to it.

[2015-10-09 13:01] spinolacastro commented on #4823
I can confirm the errors on origin 1.0.6 and multitenant plugin. Despite the errors, all system seems to work.

[2015-10-09 13:08] jwforres commented on #3718
@sg00dwin fyi updated the comment on your PR for the pod template since you fixed this