[2017-06-29 15:29] coreydaley commented on #14906
@pdmack would you mind opening a new issue for that please for tracking purposes.

[2017-06-29 16:08] caleblloyd opened #14959 "OpenShift Error Mounting Kuberenetes Secrets into Pods when running in LXD Container"
I have setup OpenShift `v3.6.0-alpha.2` using `docker-ce 17.06` on `Ubuntu 16.04 x64` in both a VM and on LXD.

It works on the VM.  It fails to create pods in LXD with error:

[code]

**LXD Container Setup**

1. Create a storage pool and a profile for the LXD container:
[code]

2. Edit the profile to load appropriate kernel modules for docker:

Run `lxc profile edit dockerdir` and paste the follo

[2017-06-29 16:10] caleblloyd commented on #14959
Ping @stgraber - could you look over this issue?  I would like to make sure it's not an LXD misconfiguration on my part or a bug in LXD.

[2017-06-29 16:11] #14837 closed

[2017-06-29 16:13] caleblloyd commented on #14279
@soltysh thank you.  I did get OpenShift working fine inside of a Ubuntu 16.04 VM using Docker 17.06-ce.

The problem `open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory
` that I am encountering only happens inside of an LXD container now, and is unrelated to this issue so I have opened https://github.com/openshift/origin/issues/14959

[2017-06-29 16:17] pdmack opened #14960 "oc new-app --context-dir doesn't work on templates"
Similar to #14906, `oc new-app --context-dir=...` parameter is not passed to the builder if a template is being used.

##### Version
openshift v3.6.121
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
`oc new-app -f=https://raw.githubusercontent.com/radanalyticsio/oshinko-s2i/master/scala/scalabuilddc.json -p GIT_URI=https://github.com/pdmack/Spark-MLlib-Movie-Recommendation-JDG-Example.git

[2017-06-29 16:49] smarterclayton opened #14962 "flake: TestRouterStatsPort"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/2818/testReport/junit/github/com_openshift_origin_test_integration%20%20%20/TestRouterStatsPort/

[code]

By the time 909 runs, the router should be up.  Which implies the router is not up, or not responding.

[2017-06-29 16:50] smarterclayton commented on #14962
@openshift/networking

[2017-06-29 16:55] jim-minter commented on #14043
@mfojtik @bparees @smarterclayton update: I've been running just this test on GCE with #14885 applied, this now includes #14952 (which I think does not behave as expected :disappointed: - namespace not set on oc client) and which now waits for the imagestreams before starting.  It appears to fails every time.  Latest run is https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_exten

[2017-06-29 17:18] stgraber commented on #14959
@caleblloyd not seeing anything obvious above. One thing to keep in mind is that LXC/LXD containers have their / marked rprivate whereas most systemd based system usually have it rshared nowadays. So maybe that's somehow affecting mount propagation for you. If it is, you can just run an early init script which does "mount --make-rshared /".

[2017-06-29 17:54] gabemontero opened #14964 "flake: GCE cluster provision failure (2)"
From https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/2821/

Similar to https://github.com/openshift/origin/issues/14575 (perhaps can be dupped ??)

The first inkling of some trouble was:

[code]

but perhaps it recovered given the final set of `ok` messages.

But then we got this:

[code]

And

[code]

[2017-06-29 17:58] smarterclayton commented on #14964
https://bugzilla.redhat.com/show_bug.cgi?id=1465361

[2017-06-29 17:58] smarterclayton commented on #14964
Looks like a failure in node startup due to running host subnet, happens 1/10 runs or so, bumping to p0 and assigning @openshift/networking

[2017-06-29 18:03] caleblloyd commented on #14959
@stgraber thanks so much, `mount --make-rshared /` worked and Openshift is now running in LXD! :smile:

[2017-06-29 18:03] #14959 closed

[2017-06-29 18:08] smarterclayton commented on #14964
@enj in case this is related to his "my API endpoints disappear from the server" bug

[2017-06-29 18:12] bparees commented on #14043
i think we are getting two deployments because the DC created by new-app has both an ICT and a ConfigChange trigger on it.

That means the DC is immediately in a state where it wants to deploy (configchangetrigger) but can't (no image available yet).

When the image finishes getting built, that also triggers a deployment.  Perhaps there is a race between those two events that sometimes results in

[2017-06-29 18:13] bparees commented on #14043
and since the deployment controller cancels the first deployment when it starts the second (but this test only expects and looks at the first deployment), when that happens we will see deployment-1 as failed and fail the test.

[2017-06-29 18:21] dcbw commented on #14870
I'm just doing a drive-by on this, not an expert by any means.  but it's failing because cadvisor_linux.go has this:

`// +build cgo,linux`

which means that the linux bits only build when using cgo.  Why?  I have no idea.  But as a test, change that go `// +build linux` and then change cadvisor_unsupported.go to be `// +build !linux,!windows` (eg, remove the linux,!cgo).

Then see if that fixes a

[2017-06-29 18:31] debianmaster commented on #14874
can you provide `oc version` with which you tried ?

[2017-06-29 18:43] caleblloyd commented on #14959
For those wondering how to do this with a systemd service:

1. Create the file (as root) `/etc/systemd/system/rshared.service` and paste the following contents:
[code]

2. Enable and start the systemd service:

[code]

3. Check the status.  The process will be inactive because the command only runs once, but you should see the command output and success status:
[code]

[2017-06-29 18:47] tavogel opened #14965 "The `oc` cli fails to apply HorizontalPodAutoscalers from v3.6 -> v3.4"
For the past week we've been experiencing issues when applying a HorizontalPodAutoscaler via YAML to the cluster, but only on our newly built Jenkins servers:
[code]

I noticed that the `oc` command line has been updated to v3.6 around when this issue started to occur: https://github.com/openshift/jenkins/commit/c3bc69a0945e878644e006ca9b74c1231070a45d

This has been hard to tackle, because we are

[2017-06-29 18:48] bparees commented on #14043
I think the two builds are happening because we're both firing a ConfigChange and an ImageChange build for the BuildConfig as soon as it's created.  They are both based on the BuildConfig at LastVersion=0, so one of them will "win" and the other gets ignored.  This is ugly (and should be looked into how we can prevent it), but not fatal to either the test or the product.

i'm able to recreate the

[2017-06-29 18:49] bparees commented on #14965
@deads2k possibly related to(and fixed by?) the other mapper work you're doing?

[2017-06-29 18:55] tavogel commented on #14965
Before this we were also having issues with https://github.com/kubernetes/kubernetes/issues/34413

The fix for this was to also running `oc delete hpa` before `oc apply -f hpa.yml` in our Jenkinsfile. It was fixed in Kuber 1.5.2, and we still have 1.4.0 on our dedicated cluster. Would be nice if we could fix this as well... i'm not sure when OpenShift is planning to upgrade to 1.5.2+.

[2017-06-29 19:02] mfojtik commented on #14043
@bparees @jim-minter the race is certainly possible as we now have special controller that triggers on image change and controller for config change (pkg/deploy/generictrigger). I fixed this in https://github.com/openshift/origin/pull/14910 where there is a check to wait for images available before triggering when both cct and ict triggers are defined. Is it possible to remove the CCT trigger from

[2017-06-29 19:10] bparees commented on #14043
@mfojtik no because it's not a fixture, it's what new-app generates.  we'd have to change the new-app code which, other than for a debug PR, isn't viable :)

[2017-06-29 19:11] bparees commented on #14043
@mfojtik I'm going to try to make this test more resilient in the face of multiple deployments.  I think you should make sure there is a test elsewhere for deployments that ensures only one deployment is ever created in this scenario.

[2017-06-29 19:25] bparees commented on #14043
combination of @jim-minter's waitfordeploy improvements and loosening the restrictions to look for any newer deployment, here: https://github.com/openshift/origin/pull/14966

[2017-06-29 20:01] bparees commented on #14043
clear evidence we're getting two deployments after the build completes (https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/2830/consoleFull)..  (ok there is a slight race between the deployment being triggered and the "buildcompleted" event showing up, but i don't think that means anything..  the first deployment kicks off about a minute after the build is running, and within a s

[2017-06-29 20:02] bparees commented on #14043
So again, to fix the flake i'm loosening the restrictions in the test, but deployments should have a test case that ensures this is not happening (and since @mfojtik is still seeing this flake in https://github.com/openshift/origin/pull/14910, i'm not convinced that PR prevents this from happening).

[2017-06-29 20:04] smarterclayton commented on #14964
It was not, the bug here is that the openshift sdn controller master process doesn't have permission to watch for changes, so it delays getting created until it relists.

[2017-06-29 20:50] rhvgoyal commented on #14601
We have backported fix for this in projectatomic/docker as well. So please take latest docker build from your source and it might have the fix.

https://github.com/projectatomic/docker/pull/256
https://github.com/projectatomic/docker/pull/255
https://github.com/projectatomic/docker/pull/254

[2017-06-29 21:52] smarterclayton commented on #14781
!o.Local is adding arguments twice in triggers.

[2017-06-29 21:59] smarterclayton commented on #14043
So to try this out locally I'm starting the master only, then running:

1. oc create -f test/extended/testdata/deployments/deployment-trigger.yaml
2. oc set triggers dc/example
3. oc tag --source=docker mysql:5.7.11 test:v1

I haven't seen it do the double deployment yet.

However, I did notice that if i deleted the pod (before it was scheduled,
since master was only started), the deployment contr

[2017-06-29 22:02] smarterclayton commented on #14043
More unexpected behavior.  If I delete the pod, then tag again, I don't get
a second deployment (which is definitely 100% a bug, which I'm surprised
wasn't fixed)

On Thu, Jun 29, 2017 at 5:59 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-06-29 22:03] smarterclayton commented on #14043
[code]

[2017-06-29 22:08] smarterclayton commented on #14043
When I try to recreate this I can't, which makes me think there's a very subtle race on triggers.

[2017-06-30 00:07] #14964 closed

[2017-06-30 02:02] jcantrill commented on #14874
Mine was built from source that uses ansible to install metrics, which would be HEAD

[2017-06-30 02:17] enj commented on #14957
`oc policy can-i --list -n foo` tells you everything you can do in a namespace.  It can easily be used to determine everything you can do in all namespaces you have access to.  There is not a simple way AFAIK to see all cluster scoped actions you can do.  `oc policy can-i verb resource --all-namespaces` works for individual `verb resource` pairs (`oc policy can-i '*' '*' --all-namespaces` tells yo

[2017-06-30 03:24] bparees opened #14972 "SetupHostPathVolumes failing"
Every extended test that uses SetupHostPathVolumes is suddenly failing:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended/798/

@eparis you made some other chcon changes lately, this failure appears to occur somewhere in here:

https://github.com/openshift/origin/blob/master/test/extended/util/framework.go#L1190-L1217

any chance this is related?

[code]

@stevekuznetso

[2017-06-30 03:34] eparis commented on #14972
It's certainly possible...  If auditd is running we should see something in `ausearch -m AVC -m SELINUX_ERR` (or just in /var/log/audit/audit.log)

If not these should show up in /var/log/messages.

[2017-06-30 03:35] eparis commented on #14972
And I'd want to know `rpm -q selinux-policy-targeted`

[2017-06-30 04:15] enj commented on #14905
@openshift/security this probably does not have an easy solution since namespace termination is complicated, but it may be interesting for someone to look at.

@arepx try changing your project list command to instead use a get (so `oc get project <projectname> -o name` instead of `oc get projects -o name`).  Listing projects is probably the most complicated list command in openshift, and involves

[2017-06-30 07:57] mfojtik commented on #14043
@smarterclayton what is suspicious as well is that I haven't seen this flake on GCE. Also since I completely reworked the triggers in https://github.com/openshift/origin/pull/14910 and we are still seeing this flake, I think this might be something outside the deployments.

[2017-06-30 07:58] mfojtik commented on #14043
@kargakis @tnozicka do you have any theories?

[2017-06-30 08:15] mfojtik commented on #14043
@smarterclayton @stevekuznetsov what will really help is access to the origin master log with the REST requests logged so we can see the timeline of things (what caused the second deployment to trigger, etc.)

[2017-06-30 08:16] pweil- commented on #14957
I think this would be an information leak no matter how obscure it was.  It also implies that the operation you're invoking runs with escalation privileges since it would be able to list other roles.  In any case, I think this is a dupe of https://github.com/openshift/origin/issues/11611 so we can continue the discussion there.

[2017-06-30 08:16] #14957 closed

[2017-06-30 08:22] pweil- commented on #2406
This looks like it will be handled by the service catalog provision and bind functionality (3.6).  Closing

[2017-06-30 08:22] #2406 closed

[2017-06-30 08:23] pweil- commented on #2118
closing, openshift-ansible is the recommended way of deploying at this point

[2017-06-30 08:23] #2118 closed

[2017-06-30 08:29] pweil- commented on #1416
@sdodson I believe that you had a demo of using dns on the node as part of https://github.com/openshift/openshift-ansible/pull/4292.  I don't think this does anything for the routes though so this is partially addressed

[2017-06-30 08:35] rhcarvalho opened #14973 "Conformance test cleanup error: You cannot remove a running container"
Looks like all tests passed, but cleanup failed:

[code]

 Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_with_status_check/747/console

[2017-06-30 09:05] #13850 closed

[2017-06-30 10:27] mfojtik commented on #14043
@smarterclayton this landed today: https://bugzilla.redhat.com/show_bug.cgi?id=1466583

If you look at the image streams, there are 2 images created within two minutes which makes me think if we don't import the image when the new-app ran and then second import after build finish... but even that will not explain 4 deployments...

[2017-06-30 10:45] mfojtik commented on #14043
@smarterclayton in the master log QE provided, this line is interesting:

[code]

[2017-06-30 10:53] mfojtik commented on #14043
@smarterclayton @bparees also this is interesting:

[code]

[2017-06-30 12:04] deads2k commented on #14965
I don't think so, but I'm not sure what `kubectl apply` looks like these days.

@openshift/cli-review

[2017-06-30 12:06] deads2k commented on #14965
@fabianofranz The message seems to imply an attempt at conversion, perhaps to internal, which I would not expect inside of the apply command.

[2017-06-30 12:09] kargakis opened #14975 "'oc get po --show-all=false -w' is not working as expected"
It returns back all pods instead of just running pods.

@openshift/cli-review

[code]

[2017-06-30 12:18] simo5 commented on #14897
flaked on https://github.com/openshift/origin/pull/14745 too

[2017-06-30 13:03] jwforres opened #14976 "oauthaccesstoken deleted with a propagation policy gets stuck"
If I delete an oauthaccesstoken with a propagation policy set then it will get stuck and never be deleted.  Tested with both Foreground and Orphan.  The finalizers and deletionTimestamp get set and the object is never removed.

[2017-06-30 13:06] jwforres opened #14977 "oauthaccesstoken with a deletionTimestamp is still accepted as a valid token by the API"
If I have an oauthaccesstoken that has been marked with a deletionTimestamp it is still accepted by the API server.  Currently this is easily reproducible due to https://github.com/openshift/origin/issues/14976

[2017-06-30 13:31] deads2k commented on #14935
@DirectXMan12 is there a backwards compatibility concern or a critical feature in v2alph1 we need?

[2017-06-30 13:37] sdodson commented on #1416
@thoraxe Do you want this just for hosts that are part of the cluster or do you want it for external hosts.

If you only care about internal hosts the openshift_node_dnsmasq_additional_config_file can be set to a path of a local dnsmasq .conf file which gets copied to all nodes and that could specify the wildcard you're asking for but you'd need to know the ip address of the router.

If we want sk

[2017-06-30 13:58] smarterclayton commented on #14043
Knowing why we get double updates on a deployment config is a release blocker for 3.6, whether it's triggering or another flake.

[2017-06-30 14:06] AlexMapley commented on #10755
Was this ever resolved? I'm having a similar issue

[2017-06-30 14:14] bparees commented on #14043
i removed the test flake label since we don't want to ignore this as a flake.  also i removed the test case in question from conformance so it should no longer be flaking on people.

[2017-06-30 14:18] mfojtik commented on #14043
once we have registry rebuilt with https://github.com/openshift/origin/pull/14882 in place and the playbooks for GCE are updated, we can re-test if this is fixed.

[2017-06-30 14:32] smarterclayton commented on #14043
I have a cluster up that can reproduce it 80% of the time, ping me and I'll
give you access

On Thu, Jun 29, 2017 at 6:02 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-06-30 15:30] stevekuznetsov commented on #14972
We have the output of `ausearch -m AVC` in [this artifact](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended/798/s3/download/generated/avc_denials.log) for that failed job. @eparis should I add in `-m SELINUX_ERR` as well ?

There is an artifact [`installed_packages`](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended/798/s3/download/generated

[2017-06-30 15:35] stevekuznetsov commented on #14972
@bparees i don't have enough context as to what, exactly, is failing to say

[2017-06-30 15:37] eparis commented on #14972
@stevekuznetsov yes, lets add `-m SELINUX_ERR -m USER_AVC` to that. I tried tooling around to find those artifacts before I asked. I'll have to bother you later to see where I should have been looking...

[2017-06-30 15:40] stevekuznetsov commented on #14972
I'll add those messages. Will try to doc the artifacts we have and blast out an email.

[2017-06-30 15:53] derekwaynecarr opened #14981 "oc cluster up should start separate master and node containers"
oc cluster up is a great development test environment.

when testing features (node controller, etc). its often useful to have a node come up, and then kill it without killing the master.  ideally, i could kill the node container and have the master still running.  if oc cluster up created a separate container for master from node, this would be possible to simulate.

/cc @csrwng

[2017-06-30 15:56] enj opened #14983 "Certain resources should be ignored once they have a deletionTimestamp"
The following resources should not be honored once they are awaiting deletion:

1. `oauthclientauthorization`
2. ??

xref https://github.com/openshift/origin/pull/14978#issuecomment-312266766

@openshift/security

[2017-06-30 15:59] gnufied commented on #13611
@andrewklau can you try with Openshift-3.6 and see if you can still reproduce this? The fix for Kubernetes has been merged in Openshift.

[2017-06-30 16:27] bparees commented on #14972
@openshift/devex fyi this is causing the replica test failures in extended:core(image_ecosystem)

[2017-06-30 16:28] deads2k commented on #14976
So it appears that we explicitly ignore some resources for GC, but the storage doesn't get the memo, so they end up stuck. Even better, given that list, if I fix it this release and we change our minds, during a rolling upgrade we'll have a state where they end up stuck.

[2017-06-30 16:30] bparees commented on #14043
When this issue is resolved we need to move the new-app test back into the conformance bucket (and i still think we need a new deployment specific test that will do a better job of validating the behavior...)

[2017-06-30 17:49] smarterclayton commented on #14781
I'm fixing

[2017-06-30 17:52] #14842 closed

[2017-06-30 17:59] #14878 closed

[2017-06-30 19:07] deads2k opened #14989 "Need an API server test that makes sure that all resources don't die when GC'ed"
We've had numerous one off bugs caused by various things stopping GC from running.  We should create a test which discovers all servers resources and attempts to create and delete one using the various deletion options.

@enj I know you've done tests of the "one of everything" variety before....

[2017-06-30 19:53] rajatchopra commented on #14516
Should do it on per route basis using annotations.

[2017-06-30 19:54] #14832 closed

[2017-06-30 20:38] smarterclayton opened #14990 "flake: Permission denied"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/2889/testReport/junit/github/com_openshift_origin_test_cmd_cmd-images-namespace-setup/hack_test_cmd_sh_112__executing__oc_new_project__cmd_images___expecting_success/

[code]

[2017-06-30 20:38] smarterclayton commented on #14990
@deads2k wat

[2017-06-30 21:37] #14268 closed

[2017-07-01 02:15] andrewklau commented on #13611
@gnufied thanks for the update. I'll report back when I get time to test this further.

I was tracking the upstream issues and saw they were fixed. Just waiting for the openshift 3.6 release :)

[2017-07-01 03:55] warmchang opened #14994 "With the upcoming release of version 3.6, we need to update the README."
It is 5 month age, too long.

[2017-07-01 07:38] jtcressy opened #14995 "Panic on master when trying to use vSphere cloud provider"
I'm trying to bootstrap a cluster via [openshift/openshift-ansible](https://github.com/openshift/openshift-ansible) and I have added tasks in the openshift_cloud_provider role to create cloud configs on all nodes and the master. But, the master is crashing with a full stack dump after first saying ``panic: runtime error: invalid memory address or nil pointer dereference``

##### Version
1.5.1
####

[2017-07-01 11:52] jupierce opened #14996 "Dependency on goversioninfo breaking OCP build"
The dependency introduced #14967 (goversioninfo) is breaking automated OCP builds:
FYI @smarterclayton @smunilla

##### Version
Current master

##### Steps To Reproduce
1. Run hack/build-cross.sh in clean mock environment

##### Current Result
http://download-node-02.eng.bos.redhat.com/brewroot/work/tasks/5032/13585032/build.log

[code]

[2017-07-01 15:01] shiywang commented on #14996
I thought this pr https://github.com/openshift/origin-ci-tool/pull/115 already introduced `goversioninfo` binary, @stevekuznetsov do you have any ideas on why this binaries can't find ?

[2017-07-01 15:08] smarterclayton commented on #14996
I'm going to revert that change until we know what the fix is

On Jul 1, 2017, at 11:01 AM, Shiyang Wang <notifications@github.com> wrote:

I thought this pr openshift/origin-ci-tool#115
<https://github.com/openshift/origin-ci-tool/pull/115> already introduced
goversioninfo binary, @stevekuznetsov <https://github.com/stevekuznetsov>
do you have any ideas on why this binaries can't find ?

—
You ar

[2017-07-01 15:09] smarterclayton commented on #14996
Reverted in #14997

[2017-07-01 18:44] bparees opened #14998 "Extended.[builds][Slow] openshift pipeline build Pipeline with env vars should build and complete successfully"
This looks like a new failure mode for this test, the env var value is not getting set:

[code]

[code]

[2017-07-01 18:53] bparees commented on #14998
(jenkins job is here: https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/test_branch_origin_extended_builds/116)

[2017-07-01 22:28] smarterclayton opened #14999 "Testing upgrade of very large 1.5 data set to etcd v3"
Notes:

1. Direct migrate took about a minute, was CPU bound over 800k keys (1.2gb snapshot)
2. Jobs were not properly migrating kubernetes/kubernetes#48388
3. `oadm migrate storage` is single threaded, which I forgot, which is painful.  Seems to be taking 60-80% of one core on api server, peaking occasionally, with controllers off
4. Found an issue where large range reads were blocking migration

[2017-07-01 22:35] smarterclayton commented on #14999
iostat while migrating:

[code]

[2017-07-01 22:46] smarterclayton commented on #14999
[code]

seems bad

[2017-07-01 23:00] smarterclayton commented on #14999
Yup, pretty bad (can't list secrets without running out of time / memory)

[code]

[2017-07-01 23:16] smarterclayton commented on #14999
I was able to bypass the secrets issue by hacking

[code]

but this is obviously problematic.  This could just be limited available memory, but I'm worried...

[2017-07-02 00:35] smarterclayton commented on #14999
Now takes about 13 seconds for etcd to start:

[code]

[2017-07-02 00:38] smarterclayton commented on #14999
[code]

half a gig returned in the response (encoded as protobuf)

[2017-07-02 00:45] smarterclayton commented on #14999
Almost certainly memory contention when reading the secrets, i don't think any of my numbers are great.

[2017-07-02 00:52] smarterclayton commented on #14999
On cold startup, etcd loads and is referencing about 500mb in heap.  After openshift api starts, it's got 1.6GB:

[code]

[2017-07-02 00:53] smarterclayton commented on #14999
On the apiserver side, before any queries (pre controller startup):

[code]

[2017-07-02 01:03] smarterclayton commented on #14999
[code]

API server still has a significant chunk of JSON loaded, pre controller startup.

After another few minutes, up to 4gb

[code]

secrets has displaced whatever was loading JSON.

[2017-07-02 01:11] smarterclayton commented on #14999
3 pods fail migration because of the damn validation rule change

[code]

[2017-07-02 01:18] smarterclayton commented on #14999
out of 11k pods, 3k are in protobuf.  The rest are left in JSON and return back.  Something is wrong with migration.

[2017-07-02 01:20] smarterclayton commented on #14999
Sigh.... storage migration doesn't actually work.  Wonderful.

[2017-07-02 01:29] smarterclayton commented on #14999
https://github.com/kubernetes/kubernetes/issues/48393 blocks upgrading to etcd

[2017-07-02 03:15] #14781 closed

[2017-07-02 03:43] smarterclayton commented on #14999
Lots of build configs with invalid git URIs

[code]

[2017-07-02 04:01] smarterclayton commented on #14999
Spawned https://github.com/openshift/origin/pull/15000, https://github.com/openshift/origin/pull/15001, and https://github.com/openshift/origin/pull/15002

[2017-07-02 04:06] smarterclayton commented on #14999
We appear to be hanging on to 800mb of

[code]

Maybe this is the secret []byte data, and we're simply referencing it instead of copying it?  I don't know exactly how much memory should be retained by our 500m of secret data.

[2017-07-02 04:10] smarterclayton commented on #14999
Several rolebindingrestrictions can't be updated during migration.  This looks like admission control is checking the namespace, even though the namespace isn't being updated.  AC on update shouldn't fire if no mutation is made.

[code]

[2017-07-02 04:55] smarterclayton commented on #14999
OAuthClientAuthorizations are failing

[code]

[2017-07-02 04:57] smarterclayton commented on #14999
After migration to protobuf is further along, size is 1G

[2017-07-02 05:01] smarterclayton commented on #14999
Found one unrecognized block @liggitt

[code]

[2017-07-02 13:15] gabemontero commented on #14998
Need a dump of the jenkins logs but test is currently not collecting that on failures here.

Will see if I can repro locally, otherwise will submit pull to grab the jenkins logs on this particular failure.

[2017-07-02 13:54] gabemontero commented on #14998
OK, it worked for me when running by hand, but I was able to reproduced when running the extended test locally.

There are no exceptions when the error occurs.

I think it is a timing situation wrt watch events and the application of openshift env vars as jenkins job params, where if the events come in the wrong order, the env var specified on the `oc start-build` cmd line does not get applied.

I

[2017-07-02 14:57] gabemontero commented on #14998
Definitely intermittent / timing ... I've had the extended test pass for me locally as well.

[2017-07-02 15:00] gabemontero commented on #14998
Yeah at first blush the event flow are the same between failed and passing runs.

Also, the build object during the failed run, when running `oc get build...` outside of jenkins, shows the env var from the command line was in the object.

I think this will require adding debug to the plugin to dump what it receives on its watches when it fails.

[2017-07-02 16:09] gabemontero commented on #14998
Digging a bit, aside from the event flow, processing of the events in the sync plugin as asynchronous aspects, both for the BC events and Build events.  It is still an intermittent timing issue of some sort, it just is not obvious to me from code examination.  As noted previously, running the test with some additional logging in the plugin, seeing if I can capture the precise order of things that

[2017-07-02 16:26] gabemontero commented on #14998
Haven't repro'ed to confirm, but believe I've figured it out.  At least what would line up with the BC and Build being created very close to each other as would happen in an automated test vs. running by hand.

I can start on a fix @bparees but there are some logistics to consider:
1) do you want the sync-plugin fix in 3.6 ?
2) if so, then I'll need to create in https://github.com/jenkinsci/opensh

[2017-07-02 16:36] kirmorozov commented on #13638
What do you think of replacing haproxy with nginx with http/2 support?
Would it work better?

[2017-07-02 20:01] #14906 closed

[2017-07-02 22:32] bparees opened #15003 "Downward API volume should provide podname as non-root with fsgroup [Feature:FSGroup] [Volume]"
[code]

Seen in: https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1208/

[2017-07-02 23:23] smarterclayton commented on #14999
The only blocked route was one with a DSA PRIVATE KEY, which Go doesn't offer any way to marhsal (at least, I can't find it).  There were:

* routes with `openssl -text` output in them (stripped)
* routes without newlines at the end (added)
* routes with certs that had `\r\n` at the end (turned into `\n`)
* routes with private keys in PKCS#8 with `PRIVATE KEY` block headers that became PKCS#1 with

[2017-07-02 23:27] smarterclayton commented on #14999
Opened https://github.com/openshift/origin/pull/15004 to make it easier to see the route validation diff

[2017-07-02 23:39] smarterclayton opened #15005 "Migration of prod cluster blocked on builds and build configs that fail Git URI validation"
In a prod data set being tested on 3.6

[code]

Our URI must support `git@SERVER:PATH`.

This blocks underlying migration of data in 3.6, and may have broken end users.

@jupierce @bparees we cannot promote 3.6 to prod without resolving this or determining it is not an issue.

[2017-07-02 23:39] smarterclayton commented on #15005
Found in #14999

[2017-07-02 23:44] smarterclayton opened #15006 "Some rolebindingrestrictions cannot be storage migrated because of a missing namespace"
From a prod dataset being tested in #14999.  Migration being run on some role binding restrictions is failing.

[code]

First, this means that something in the update path is checking for namespace existence on these RBRs.  However, if the namespace isn't being changed during an RBR, it shouldn't be checked.  That's probably the minimal bug that needs to be fixed here.

However, if the namespace d

[2017-07-02 23:46] smarterclayton opened #15007 "Failure trying to storage migrate some oauthclientauthorizations"
Saw this on 319 oauthclientauthorizations in a migration of a 3.5 prod data set to 3.6 in #14999

[code]

This is a migrate, so blind GET then UPDATE, and since i'm not modifying the client, I wouldn't expect this to fail.  Marking this P1 so it gets triaged prior to the 3.6 prod update.

@jupierce @openshift/security

[2017-07-02 23:47] bparees commented on #15005
@smarterclayton was this built on go1.8?  it looks/sounds similar to the discussions here:

https://github.com/openshift/origin/issues/14831
https://github.com/openshift/origin/issues/12403

which are specifically triggered by golang changing url.Parse in 1.8.

[2017-07-03 00:18] smarterclayton opened #15008 "oc status displays warning and incorrect output for a missing PVC"
Looks like we have a coding error in oc status

[code]

[2017-07-03 00:20] smarterclayton opened #15009 "Scheduler spews far too much error output when a PVC is missing for a pod"
DC references a PVC that doesn't exist:

[code]

Got that line 1700 times on a 300 node cluster while the controller is starting up.

[2017-07-03 00:20] smarterclayton commented on #15009
Log spam

[2017-07-03 00:23] smarterclayton opened #15010 "Attach detach controller spews errors when cloud provider is not configured"
Started controller against a prepopulated data set from AWS, but with cloud provider nil.  Got about 16k of these errors in a minute:

[code]

Since cloud provider config is permanent, either we should simply stop the controller, or only log a few times and then do nothing.

Not serious, but annoying

[2017-07-03 00:44] liggitt commented on #15007
Where does the initial set of GETs come from, a list?

[2017-07-03 01:25] smarterclayton commented on #15007
Generic raw get from the server, which we post back.  Only name comes from list

[2017-07-03 01:27] smarterclayton commented on #15005
Yes, will retest without.  Note we are possibly going to switch to go 1.8 during the 3.6 lifecycle so we should fix before we forget it

[2017-07-03 01:28] smarterclayton commented on #15005
Dropping to p1

[2017-07-03 01:35] smarterclayton commented on #15005
Confirmed works on 1.7.5

[2017-07-03 02:29] smarterclayton commented on #14999
Secrets is our number 1 performance challenge with this data set.  Nothing else is anywhere need significance.  Spawned an upstream issue to begin exploring some of the 1.8 concepts we've mooted.

[2017-07-03 03:13] bparees commented on #12403
@jim-minter well you warned us but i'm going to close this as a dupe to retain the other issues opened for this:
https://github.com/openshift/origin/issues/14831
https://github.com/openshift/origin/issues/15005

[2017-07-03 03:13] #12403 closed

[2017-07-03 03:13] bparees commented on #15005
@coreydaley same as https://github.com/openshift/origin/issues/14831

[2017-07-03 03:17] smarterclayton commented on #14831
We are almost certainly going to switch to Go 1.8 during the 3.6.x lifecycle.  So we should assume that anything we do is going to have to be back ported to 3.6.1 or 3.6.2.

[2017-07-03 03:18] bparees commented on #14998
it feels like something we should fix for 3.6 (the ramifications seem bad).  that said, i think you're out all next week, right?  can you point me in the general direction of the issue?  (if we're going to fix it we need it in by friday at the latest..probably sooner given the overhead in spinning new jenkins images)

[2017-07-03 03:26] smarterclayton opened #15011 "We store too many large secrets in etcd"
The primary scale limiter on large dense clusters is secrets (`namespaces * 3_service_accounts_per_namespace * 3_secrets_per_service_account * ~2-10k`).  We can try to reduce the constant scale elements now (gzip, secrets per SA, SAs), or target structural changes that fit our long term direction (to remove service account tokens from storage and embrace dynamic secret generation).

Drafted some t

[2017-07-03 03:27] smarterclayton commented on #15011
@openshift/security @openshift/scale-performance-review

[2017-07-03 08:09] tnozicka commented on #14950
To me this sound like a bug.

We clearly document that only passthrough won't work with path based routing for obvious reasons.

This should work as per https://docs.openshift.org/latest/architecture/core_concepts/routes.html#path-based-routes

I also think there is a related bug with a path based routing between one route with HTTP only and the second one with HTTPS and with insecureEdgeTerminati

[2017-07-03 08:10] mfojtik commented on #14043
@bparees I think we need to cut a new 3.6 release and rebuilt the registry image to make this work. I will watch that and once we have new registry image out I will re-enable the test.

[2017-07-03 08:10] mfojtik commented on #13105
This is fixed by https://github.com/openshift/origin/pull/14902

[2017-07-03 08:10] #13105 closed

[2017-07-03 08:11] tnozicka commented on #14950
@knobunc WDYT?

[2017-07-03 08:14] mfojtik commented on #15011
@smarterclayton do we support gzip in API server? I guess that should reduce the transfer significantly.

[2017-07-03 09:00] mfojtik commented on #14995
Seems like there is related issue in kubernetes: https://github.com/kubernetes/kubernetes/issues/43471

Check if your topology is supported?

[2017-07-03 09:54] xThomo commented on #14601
We are using docker-1.12.6-28.git1398f24.el7.centos.x86_64.rpm and we are seeing the following issues on an upgrade of docker version.

Jun 29 18:49:13 openshift-master-01 systemd[1]: Starting Docker Application Container Engine...
Jun 29 18:49:13 openshift-master-01 dockerd-current[124060]: time="2017-06-29T18:49:13.924855449Z" level=info msg="libcontainerd: new containerd process, pid: 124068"
J

[2017-07-03 11:02] david-martin commented on #14031
@enj I have seen a similar issue with `oc cluster up` on 3.6.0 alpha2 (on Fedora 25)
The pod can curl itself OK if it uses the PodIP or localhost.
[code]

But curling the service name doesn't work. (Service name is `testa`)
The request seems to timeout.
[code]

Other pods can be accessed OK by their service name. Its just when a pod is talking to itself that there's a problem.
[code]

[2017-07-03 12:20] spadgett opened #15014 "oc cluster up --service-catalog=true fails to register template broker"
For me, cluster up consistently times out trying to install the template broker when using the service catalog.

[code]

Service catalog is running without errors, but the template broker is not registered. Increasing the log level, I see

[code]

##### Version

Current master.

[code]

cc @bparees @csrwng

[2017-07-03 12:21] spadgett commented on #15014
cc @deads2k in case related to #14881

[2017-07-03 12:40] miminar opened #15015 "test/cmd/newapp.sh test flake - late completion of repository import"
[code]

In [this job ](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_check/4086/testReport/junit/github/com_openshift_origin_test_cmd_newapp/test_cmd_newapp_sh_29__executing__oc_get_imagestreamtags_mysql_5_6__expecting_success__re_trying_every_0_2s_until_completion_or_60_000s/).

In the master log I can see that the import has been finished a while after the lastest check fo

[2017-07-03 12:43] jeremyeder commented on #15011
Can you somehow get a histogram of secret sizes, and perhaps their access frequency?

[2017-07-03 12:46] deads2k commented on #14977
fixed by https://github.com/openshift/origin/pull/14978

[2017-07-03 12:46] #14977 closed

[2017-07-03 12:58] deads2k commented on #15014
What do you see in `oc get apiservices -o yaml` ?

[2017-07-03 13:07] spadgett commented on #15014
[code]

[2017-07-03 13:11] bparees commented on #15014
What's in the service catalog apiserver container logs? (pod logs in the
service-catalog namespace)

Ben Parees | OpenShift

On Jul 3, 2017 08:22, "Sam Padgett" <notifications@github.com> wrote:

[2017-07-03 13:13] deads2k commented on #15014
[code]

This is pertinent bit.  It looks like somethign is messed up with the pod.  Check your service catalog logs?

[2017-07-03 13:13] spadgett commented on #15014
[code]

[2017-07-03 13:24] mfojtik opened #15016 "Extended.idling and unidling unidling should work with TCP (when fully idled) [Conformance] [local]"
log:
[code]

[2017-07-03 13:24] stevekuznetsov commented on #14944
We have a new AMI from [`ami_build_origin_int_rhel_base` #148](https://ci.openshift.redhat.com/jenkins/job/ami_build_origin_int_rhel_base/148/console) so this is fixed.

[2017-07-03 13:24] #14944 closed

[2017-07-03 13:30] bparees commented on #14043
I think with the fix I put in to tolerate multiple deployments we might
actually be ok to re-enable this now. But i'm OK with waiting.

Again what we really need is a new extended test(s) for deploymentconfigs
that explicitly tests for this behavior. Chasing it down via the new-app
test was painful.

Ben Parees | OpenShift

On Jul 3, 2017 04:10, "Michal Fojtik" <notifications@github.com> wrote:

[2017-07-03 13:31] mfojtik commented on #14043
@bparees why we should tolerate multiple deployments? that failure was legit, it pointed us to pretty much a release blocker problem :-)

[2017-07-03 13:31] mfojtik commented on #14043
agree we need DC test

[2017-07-03 13:35] stevekuznetsov commented on #14996
@jupierce @smunilla is this a build on baby build VM? You just need to install the dependency.

[2017-07-03 13:39] gabemontero commented on #14998
On Sun, Jul 2, 2017 at 11:18 PM Ben Parees <notifications@github.com> wrote:

)

I have the fix ready.  I'll create the PR after breakfast.  The PR will be
in https://github.com/jenkinsci/openshift-sync-plugin.
We can cut the new version image from that and then cherry pick back into
https://github.com/openshift/jenkins/jenkins-sync-plugin later.  There is
some commit cleanup that will have to hap

[2017-07-03 14:01] aslakknutsen opened #15017 "Unable to force update a DC using force=true"
In an attempt to forcefully update a given resource the client panic on nil ref.

##### Version

[code]

##### Steps To Reproduce

Current server state:

[code]

Apply state:

[code]

##### Current Result

No force

[code]
[code]

With force=true

[code]

[code]

##### Expected Result

The new yaml to be applied regardless of current server state.

##### Additional Information

[2017-07-03 14:18] simo5 commented on #15011
One quick win could be to reference the (common to almost all) CA.crt in the JWT via a custom attribute, so that the ca.crt can be stored only once and looked up/cached as needed ?

[2017-07-03 15:01] bparees commented on #14043
@mfojtik we don't, but i wanted the test to start passing again (so that it's failure wasn't covering up other issues) and the main point of the test is not to check if deployments are working.  hence:
https://github.com/openshift/origin/blob/master/test/extended/util/framework.go#L741-L747

[2017-07-03 15:13] spadgett opened #15020 "oc get apiservices -o name shows `<unknown>`"
@fabianofranz @juanvallejo @deads2k

[code]

##### Version

Current master.

[code]

[2017-07-03 15:16] knobunc commented on #14950
@tnozicka yes, it certainly looks like a bug.

[2017-07-03 15:57] deads2k commented on #15014
So I tried once with the command in the description and again with the command in the title, both times getting different and undesirable results which don't match yours.

` oc cluster up --version=latest --service-catalog=true` results in a server without apiservices enabled at all

`oc cluster up --service-catalog=true` results in a server with apiservices, but without the service catalog versio

[2017-07-03 16:07] #14373 closed

[2017-07-03 16:13] smarterclayton commented on #14999
@jupierce  @ingvagabund @sdodson @eparis this is testing the prod dump we've been working on - i'm fairly confident that the list of issues here is complete from a functional perspective

1. upgrade to 3.6
2. migrate to v3
3. storage migration

The linked issues have descriptions if they are prerequisite to a v3 upgrade on prod clusters

[2017-07-03 16:43] knobunc commented on #14708
See also https://bugzilla.redhat.com/show_bug.cgi?id=1467387

[2017-07-03 16:44] smarterclayton commented on #15011
@jeremyeder the access frequency of secrets is irrelevant, because all that is broken right now is LIST /secrets which has to fetch 500mb of data from etcd, then 500mb of data is returned to the calling client.  The distribution is almost flat, because we generate these secrets ourselves.  You can see yourself on any openshift system:

1. create a namespace
2. look at the created secrets (9 of the

[2017-07-03 17:06] deads2k commented on #15011
https://github.com/openshift/origin/pull/14958 adds compression.  @ilackarms generated the data before I agreed to merge it into kube.  It was pretty compelling.

[2017-07-03 17:09] deads2k commented on #14990
Blame the guy who wanted virtual resources. :)

Weird that it managed to conflict with itself. If it's common, we can try digging.  As I recall, we made it attempt to determine if there was diff in the conflict already.

[2017-07-03 17:15] stevekuznetsov opened #15024 "Extended.[k8s.io] Service endpoints latency should not be very high [Conformance]"
Seeing failures like [this one](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/2111/testReport/junit/(root)/Extended/_k8s_io__Service_endpoints_latency_should_not_be_very_high__Conformance_/):

[code]

<details>
<summary>Standard Output</summary>

[code]

</details>

[2017-07-03 17:28] ilackarms commented on #15011
@deads2k @smarterclayton  results of those compression benchmarks are here: https://github.com/ilackarms/openshift-compression-performance

[2017-07-03 17:30] deads2k commented on #15011
If you've got the analyzer handy, reset that last group to start Y-axis at zero.  It's closer in terms of CPU than your chart illustrates.

[2017-07-03 17:34] smarterclayton commented on #14990
I've seen it on an uptick recently.  This is code I would not expect to fail though, so unless it's some incredibly random chance thing, we should identify where it is and stomp it.

[2017-07-03 17:34] ilackarms commented on #15011
@deads2k updated, using the same data (just re-drew the chart)

[2017-07-03 17:36] sdodson commented on #14999
@mwoodson there's a few issues linked here that Clayton says are blockers for a 3.6 upgrade we'll want to make sure make it in before we upgrade.

[2017-07-03 18:03] deads2k commented on #15007
The oauth client check for an SA client is done live: https://github.com/openshift/origin/blob/master/pkg/serviceaccounts/oauthclient/oauthclientregistry.go#L199

[2017-07-03 18:19] smarterclayton commented on #14043
I'm going to cut an rc.0 candidate this afternoon.

On Mon, Jul 3, 2017 at 11:01 AM, Ben Parees <notifications@github.com>
wrote:

[2017-07-03 18:50] deads2k commented on #14990
opened https://github.com/openshift/origin/pull/15027 to help debug the actor conflicting.

[2017-07-03 18:53] deads2k commented on #14990
Also, templates only create and creates retry on conflict here: https://github.com/openshift/origin/blob/master/pkg/authorization/registry/rolebinding/policybased/virtual_storage.go#L154

[2017-07-03 20:09] smarterclayton commented on #15011
[code]

Seems unlikely to move the needle.  But worth a test.  Unfortunately from a complexity perspective storing gzipped content will require being a transformer implementation and is unlikely to be trivial.

[2017-07-03 20:09] smarterclayton commented on #15011
(the reason why it's unlikely is ca.crt and the JWT token are mostly incompressible)

[2017-07-03 20:52] deads2k commented on #15011
But usually identical in all the secrets, so you get greater compression in a larger list.

[2017-07-03 21:30] smarterclayton commented on #15011
This isn't just about lists, it's about memory on the read and decode side
from etcd.  Etcd alone (which I can reproduce by simply listing) is being
crushed by secret reads.  The master also chokes on decode

I was commenting about encryption in storage, which is the only tool we
have to reduce load size from etcd.  Those are per key and can't benefit
from per secret reuse.

On Jul 3, 2017, at 4:5

[2017-07-03 21:43] tnozicka opened #15029 "Flake: Failed to run extended test on GCE"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4044/console

[code]

[2017-07-03 22:06] #15008 closed

[2017-07-03 22:55] smarterclayton opened #15031 "If run fails because the container has an error, no output printed"
[code]

Should have displayed an error. Very annoying.

[2017-07-03 23:32] andrewklau opened #15032 "Catch s2i build containers that are killed due to OOM"
As the s2i assemble container is launched by direct access to the docker socket, it's currently not possible to catch or log any error message to the user on why their build failed.

Based on what I am seeing, a SIGKILL is being sent to the container, so it's not possible to catch anything like a SIGTERM from within the container to at least display an error message in the logs. Users are often le

[2017-07-04 02:08] jtcressy commented on #14995
I'm not sure what "supported" would mean other than having your cluster be virtual machines running on the vsphere cluster. I made sure to enable uuid labeling on these VM's. I suppose there might be some disconnect since I didnt use kubernetes-anywhere to startup this cluster, but it outlines [here](https://kubernetes.io/docs/getting-started-guides/vsphere/#configuring-vsphere-cloud-provider) tha

[2017-07-04 06:21] sttts commented on #14413
Try a tcpdump filtered by port 2380. For me this also looks like a communication issue.

[2017-07-04 06:40] wanghaoran1988 commented on #15032
/cc

[2017-07-04 07:43] abhishekvats007 commented on #2123
HI @liggitt  I tried with and without quote, its same issue

[2017-07-04 08:35] pweil- commented on #14983
@mfojtik I believe I saw a PR from @deads2k that started addressing this

[2017-07-04 08:36] pweil- commented on #14990
cc @mfojtik

[2017-07-04 08:41] pweil- commented on #15017
@mfojtik fixed by your controller update maybe?

[2017-07-04 09:46] goern opened #15033 "add 127.0.0.1.nip.io to DefaultAllowedRegistriesForImport"
add 127.0.0.1.nip.io to https://github.com/openshift/origin/blob/7d28dcbf839c6eaaecd70a9f3b808abcf6c0ac47/pkg/cmd/server/api/types.go#L139  so that registries hosted on the local cluster could be used to pull from. This will significantly reduce friction if testing with Artifactory ;)

##### Version
oc v3.6.0-alpha.2+3c221d5

##### Steps To Reproduce
This is a RFE

##### Current Result
[code]

###

[2017-07-04 11:39] mfojtik commented on #15017
@pweil- no, this seems like a CLI problem :-)

[2017-07-04 12:53] thoraxe commented on #1416
@sdodson I didn't realize we could add additional config to the installer, too.

Definitely can just close this.

[2017-07-04 12:53] #1416 closed

[2017-07-04 15:28] #14976 closed

[2017-07-04 16:24] bparees commented on #15014
would appear to be a dupe of https://bugzilla.redhat.com/show_bug.cgi?id=1467519, i'd rather track this via the BZ.

[2017-07-04 16:24] #15014 closed

[2017-07-04 16:31] bparees commented on #14998
thanks!

[2017-07-04 19:15] bparees opened #15035 "panic starting shared informer"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/4149/

[2017-07-04 19:16] bparees commented on #15035
possible this is just a test flake (setup issue) but it should be initially triaged as something more significant, i think.

[2017-07-04 19:33] smarterclayton commented on #15035
@mfojtik this could be a memory race (use before initialization goroutine completes), not sure how else this can happen

[2017-07-04 20:16] mfojtik commented on #15035
yeah, seems like the pdbLister is `nil` which is pretty weird... do we wait for the shared informers to be initialized before we start the PDB controllers?

i'm off for vacation tomorrow, so probably won't have traffic to investigate closer.

[2017-07-04 21:26] jupierce commented on #14996
@stevekuznetsov This part of the build is performed by brew - on a separate sever / environment. Dependencies can be installed into the environment prior to a build (e.g. go), but I suspect they need to be RPMized if they are not vendored in the origin codebase. Are there analogous tools we use like this?

[2017-07-04 22:12] jupierce commented on #14999
@BigN FYI
@smarterclayton if it helps, we created a github label for these production upgrade blockers: delivery-blocker .

[2017-07-04 22:39] fabianofranz commented on #15031
@sttts Do you recall what's the reason for not printing the exit error message in cases like this? Looks like it was intentional, the description of `--attach` flag mentions it.

[2017-07-04 23:57] gabemontero commented on #14998
hey @bparees - v0.1.23 of the sync plugin, which contains the fix previously discussed, is not available at https://updates.jenkins-ci.org/download/plugins/openshift-sync/0.1.23/openshift-sync.hpi

You and @smunilla should be able to pull it into the appropriate versions of the jenkins centos/rhel images.

Of course, once the image has been updated, the next round of extended test runs should pick

[2017-07-05 00:08] andrewklau commented on #14927
Also seems to happen on 1.5.1 nodes but only seems to be long running nodes (30 days+).

[2017-07-05 00:11] andrewklau commented on #13211
Still seem to get this issue on 3.6 alpha.

First deployment will fail with permission denied on `/var/lib/mysql/data`
To fix it needs to be scaled down and then "deployed" for the permissions to be fixed.

[2017-07-05 01:41] fabianofranz commented on #15017
I have a fix upstream in https://github.com/kubernetes/kubernetes/pull/48481, @liggitt this is a blocker so should I open an UPSTREAM pull request here?

[2017-07-05 02:43] bparees commented on #14998
awesome, thank you @gabemontero!

[2017-07-05 03:41] liggitt commented on #15017
yeah, pick here and add a test

[2017-07-05 07:13] TomasTomecek opened #15038 "containers fail to start: "read-only file system""
I'm running Fedora Rawhide (27). I just updated all packages and rebooted. I started my local cluster using `oc cluster up`. I continued with an application I want to run inside openshift:

[code]

This runs under loopback graph backend. Same thing happens with overlay2 backend. I even tried `new-app fedora` and got the same error message.

##### Version

[code]

I presume you'll be interested in

[2017-07-05 08:24] sttts commented on #15031
@fabianofranz do we know the error message? The 127 can come from `/bin/bas` not existing or from `oc run --restart=Never --image centos:7 -it --attach debug -- /bin/bash -c "exit 127"`. A look into the kubelet and the docker API might tell us.

[2017-07-05 09:20] kargakis opened #15039 "Error: Numeric PreRelease version must not contain leading zeroes "00043""
[code]
https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1230/consoleFull#111513341858b6e51eb7608a5981914356

@csrwng

[2017-07-05 10:39] kargakis commented on #14771
https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1228/consoleFull#-211399806158b6e51eb7608a5981914356

[2017-07-05 10:46] kargakis opened #15040 "TASK [Check latest available OpenShift RPM version] Could not parse metalink"
[code]
https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1227/consoleFull#32866359658b6e51eb7608a5981914356
@stevekuznetsov @sdodson

[2017-07-05 11:16] jupierce commented on #15007
Encountered in a upgrade from 3.6.116 to 3.6.133 on free-int cluster.
@sdodson  @mwoodson

[code]

[2017-07-05 11:39] deads2k opened #15041 "Enable audit logging for e2e tests"
During e2e to tests it is very useful to know who is doing what against the API.  The audit log for this purpose.  https://github.com/openshift/origin/pull/15027 turned it on for test-cmd, but it would be good to have on in all of our e2e tests.

[2017-07-05 11:43] deads2k commented on #15006
Namespace lifecycle admission plugin?

[2017-07-05 11:50] deads2k commented on #14983
I fixed up three resources in three spots for authentication, but not the large problem.  oauthclientauthorizations are still outstanding.

I also fixed the GC finalizers being added to non-gc-able resources, but that doesn't stop someone (anyone with update powers) from adding more finalizers.

[2017-07-05 12:00] Miciah commented on #15006
I don't see a reason that would affect rolebindingrestrictions specifically though.

[2017-07-05 12:05] deads2k commented on #15006
You didn't get cleaned up when a namespace was deleted.  I remember a bug about it.

[2017-07-05 12:11] Miciah commented on #15006
That would be https://github.com/openshift/origin/pull/13563.

We cleaned up the rolebindingrestrictions that had been created before we fixed the problem, but maybe this cluster got left out of the cleanup.  I'll dig up the script we gave to ops.

@smarterclayton, do we need to fix anything in migration if these are just rolebindingrestrictions that were created before we fixed the namespace cont

[2017-07-05 12:13] mrsiano opened #15042 "Analyse logs"
Im new to openshift \ kubernets
I faced some issues to start the master node, when I start debug it, I found the '/var/log/messages  a bit inefficient to analyse.
it will be nicer to have an advance format or dedicate log.

meanwhile we can start with some tagging for errors e.g: '[ERROR]' as first string
bear in mind that some other logs don't have an any error indication (in the actual log messa

[2017-07-05 12:23] jupierce commented on #15007
@smarterclayton We have build v3.6.126 targeted for the production cluster. I'm guessing this issue was introduced some time after 3.6.126 since it was *not* encountered in our free-int / free-stg upgrades.
In other words, this might not be a delivery-blocker for our target production build. Thoughts?

[2017-07-05 12:30] sdodson commented on #15007
@jupierce It used openshift-ansible-3.6.126 too? We merged https://github.com/openshift/openshift-ansible/pull/4533 over the weekend which added many more migration steps.

[2017-07-05 12:36] leoterry-ulrica opened #15043 "error: yaml: line 304: mapping values are not allowed in this context"
[code]

##### Version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.200.56:8443
openshift v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4

[2017-07-05 13:06] kargakis commented on #14575
https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1217/consoleFull#-191042845458b6e51eb7608a5981914356

[2017-07-05 13:10] stevekuznetsov commented on #15041
@sdodson is this available to us as a var for the installer?

[2017-07-05 13:22] jwforres opened #15044 "Sending propagationPolicy for a Terminating pod results in the pod stuck in storage"
See the discussion in https://bugzilla.redhat.com/show_bug.cgi?id=1462067

We are going to stop sending propagationPolicy Foreground on force deletes of pods from the web console because that change makes sense anyway (see https://github.com/openshift/origin-web-console/pull/1792 )  But I highly suspect that from the CLI you could recreate this by adding `--cascade=false` to `oc delete pod mypod -

[2017-07-05 13:24] jupierce commented on #15006
@Miciah sent these scripts to the CD team. We will be running them on our free & starter clusters to ensure there are no hiccups during their eventual migration. @smarterclayton ok to remove as delivery-blocker?

[2017-07-05 13:25] jupierce commented on #15007
The errors from https://github.com/openshift/origin/issues/15007#issuecomment-313074542 were during an upgrade from 3.6.116 to 3.6.133.
3.6.126 may not be affected. @smarterclayton ok to remove as delivery blocker?

[2017-07-05 13:26] deads2k commented on #15044
How do I make a terminating pod?

[2017-07-05 13:27] spadgett commented on #15044
@deads2k Steps to reproduce here:

https://bugzilla.redhat.com/show_bug.cgi?id=1462067#c12

[2017-07-05 13:29] stevekuznetsov commented on #15040
It's a `Could not parse metalink` error. Nothing we can do about it.

[2017-07-05 13:29] deads2k commented on #15044
That seems to skip over the bit where you get a pod terminating.  Does it have to be scheduled first?  Do you have a yaml of a terminating pod or something?  Some areas of the code say terminating means deletiontimestamp != nil.  Do you mean that?

[2017-07-05 13:32] stevekuznetsov commented on #14996
We install [a number of tools](https://github.com/openshift/origin-ci-tool/blob/master/oct/ansible/oct/playbooks/prepare/golang.yml#L65-L70) using `go get` but I do not think any of them are build-time dependencies.

[2017-07-05 13:33] stevekuznetsov commented on #14973
This does not cause the job to fail and should not be linked as a flake.

[2017-07-05 13:33] sdodson commented on #15041
openshift_master_audit_config='{"enabled": true}'

should be enough but you can pass in the full yaml value as json if you want more configurability
https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.ose.example#L809-L816

[2017-07-05 13:34] stevekuznetsov commented on #15029
This was an error in the job, we fixed it and restarted any affected job runs.

[2017-07-05 13:34] #15029 closed

[2017-07-05 13:35] kargakis opened #15045 "Should recreate evicted statefulset panic"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/2800/consoleFull#178740230559441d14b760441bbc5ffff8

[2017-07-05 13:40] stevekuznetsov commented on #15041
@deads2k can you add:

[code]

To the [CI inventory](https://github.com/openshift/aos-cd-jobs/blob/master/sjb/inventory/group_vars/OSEv3/general.yml) to enable this for other tests?

[2017-07-05 13:44] smarterclayton commented on #14575
There's clearly something wrong with node setup in the installer, this is p0 until we know why.  It looks similar to other racy startup failures, and it happens after networking is configured.

[2017-07-05 13:45] smarterclayton commented on #15031
In this case we get a distinct error status from the container runtime, so
it should be on the pod.

On Wed, Jul 5, 2017 at 4:24 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2017-07-05 13:45] jupierce commented on #14996
Would we lose much if I run the command as part of the build pipeline prior to sending the job to brew? We do some preprocessing for origin-web-console with simple dependencies we can load on to buildvm. For example, https://github.com/openshift/aos-cd-jobs/blob/master/jobs/build/ose/scripts/merge-and-build.sh#L100 . We would need the step taken out of the default build-cross target (or make it bu

[2017-07-05 13:47] danwinship commented on #13292
Particularly given that there have been no repeats of this flake, it looks like it really did get back a "503 Service Unavailable" error from google.com (or akamai or whatever). Probably ran during the middle of some massive DDOS or something.

[2017-07-05 13:47] #13292 closed

[2017-07-05 13:55] kargakis opened #15047 "Abort deployers that try to scale up deleted or Failed RCs"
We guarantee that no two deployers can run in parallel but as a last resort we should check inside the deployer the status of the RC (is it deleted or marked as Failed?)

@mfojtik @tnozicka @smarterclayton

[2017-07-05 14:00] stevekuznetsov commented on #14996
I agree with you -- I think the approach should be the same as for `go-bindata`. They're analogous dependencies. `build-cross` does not try to download the dependency, it just checks that it exists.

[2017-07-05 14:04] rjhowe commented on #14708
Is ipv6 disabled?  If so you are hitting this bug.

https://bugzilla.redhat.com/show_bug.cgi?id=1445054

[code]

[code]

[2017-07-05 14:07] kargakis commented on #15040
@stevekuznetsov is this tracked elsewhere?

[2017-07-05 14:12] deads2k commented on #15044
I've requested more information. I'm willing to carve up an API server to try a reproducer, but I need the reproducer.  My pods seem to delete just fine.

[2017-07-05 15:06] fabianofranz commented on #15031
Unrelated to the message, what I was wondering was the reason why we deliberatelly decided to not print any output message in those cases, `run` returns a `CodeExitError` [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/run.go#L364-L367) whose message gets ignored by `CheckError` [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.go#

[2017-07-05 15:07] fabianofranz commented on #15031
Anyways the pod is left in the `ContainerCannotRun` state with the message

[code]

[2017-07-05 15:11] kargakis opened #15049 "panic inside the deployer pod"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4085/testReport/junit/(root)/Extended/deploymentconfigs_with_revision_history_limits__Conformance__should_never_persist_more_old_deployments_than_acceptable_after_being_observed_by_the_controller/

@mfojtik @tnozicka

@smarterclayton you were asking about this job - [3 out of 4 deployment test fail

[2017-07-05 15:12] bparees commented on #14829
closing since it hasn't been seen in a bit, but we have debug in place now that should help investigate this if it recurs.

[2017-07-05 15:14] bparees commented on #14554
build containers should all be under the pod cgroup now (once the cluster is updated).

[2017-07-05 15:36] joba12 opened #15050 "no login possible with fresh installed atomic registry"
Installed a fresh atomic registry on a fresh RHEL 7 server and followed the manual (http://docs.projectatomic.io/registry/latest/registry_quickstart/administrators/#about-the-quickstart-installation)
The installation went fine, but I am not able to login with any credentials in the console (no matter if using oc cli client or web browser)

Tried it on fresh Centos7, RHEL 7 and Atomic Host (Centos

[2017-07-05 15:36] kargakis commented on #15049
Doesn't seem the cause for the flaked tests though, lowering priority and removing the flake label

[2017-07-05 15:45] sttts commented on #15031
Cannot really remember. I believe we didn't have a proper error message at that time. The one above is also ugly. Where does the "invalid header field value" come from?

[2017-07-05 15:47] stevekuznetsov commented on #15040
https://github.com/openshift/origin/issues/8571 is similar and links some other related issues but this may be nice to keep open for:

 - the customer success team @rhcarvalho @sosiouxme to track their check
 - for other devs to find this more easily when their jobs fail

[2017-07-05 15:47] chenchik opened #15051 "Openshift Resource Limits Freeze New Pod Deployments Completely"
I'm running Openshift as the "All in One" VM on Vagrant using Virtual Box.

A link to the "All in One" VM can be found here:

https://atlas.hashicorp.com/openshift/boxes/origin-all-in-one

My VM is using 2 cores.

I'm using the image confluentinc/cp-kafka-connect, using an hdfs connector, and connecting to a kafka topic filled with values from 1 to 1,000,000.

I want to set a really low resource l

[2017-07-05 15:53] smarterclayton opened #15052 "flake: Can't join running container network"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/2966/testReport/junit/(root)/Extended/_networking__services_when_using_a_plugin_that_isolates_namespaces_by_default_should_allow_connections_to_services_in_the_default_namespace_from_a_pod_in_another_namespace_on_the_same_node/

[code]

[2017-07-05 15:53] smarterclayton commented on #15052
@openshift/networking needs triage

[2017-07-05 15:55] kargakis commented on #15049
@mfojtik since you added the client call inside the deployer which ends up returning a 404 that results in the panic

[2017-07-05 15:55] #13866 closed

[2017-07-05 15:57] kargakis commented on #15049
Not sure at which point the panic kicks off (is it the start or the end of the deployment)? If it's the start, then this is causing the flake in the history limit test, adding flake label back.

ps. that test should probably tolerate failed deployments since we only want to test RC garbage colletion.

[2017-07-05 15:57] smarterclayton commented on #15031
Probably all the way from the node - Derek had fixed something in here
recently to clean up the errors for 1.7 but I don't know if he backported
@derekwaynecarr or if the attach code in the kubelet is affected.
 log/attach/portforward need to get a lot better in how they handle errors
for clients, up to and including retrying

On Wed, Jul 5, 2017 at 11:45 AM, Dr. Stefan Schimanski <
notifications@

[2017-07-05 15:58] smarterclayton commented on #15049
Panic in running code should always p1

[2017-07-05 15:58] smarterclayton commented on #15049
Putting this in 3.6.0

[2017-07-05 16:01] smarterclayton commented on #15007
Does not block prod update.

[2017-07-05 16:02] smarterclayton commented on #15007
I consider this a 3.6 blocker

[2017-07-05 16:05] kargakis commented on #15049
Yeah on [this test](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4085/testReport/junit/(root)/Extended/deploymentconfigs_reaper__Conformance__should_delete_all_failed_deployer_pods_and_hook_pods/) it seems that the panic takes place before creating the pre-hook....

[2017-07-05 16:10] kargakis commented on #15049
We either need https://github.com/kubernetes/kubernetes/issues/36813 or we can [note the time a deployer starts](https://github.com/openshift/origin/blob/be5e626c6ae4f4138ffee0bd08023acdcc47d7b1/pkg/cmd/infra/deployer/deployer.go#L171), pass that around in the strategies to create the hook pods, and kick the client call out of the deployer.

[2017-07-05 16:50] kargakis opened #15054 "Add more context in deployment logs"
Like when an app pod is crashlooping or the image cannot be pulled.

@mfojtik @tnozicka @smarterclayton

[2017-07-05 17:02] smarterclayton commented on #15054
In general the deployer pod has *all* of the pod and RC info, so it can output info like the current progress, things that might blocking, etc almost as soon as they happen.  That would be a significant step up in how users interact.

I.e.:

[code]

[2017-07-05 17:04] smarterclayton commented on #15051
A limit range limit *prevents* pods from running outside of that range.  You want to set the defaults that provide those for any pod in the namespace (or just add it to the deployment)

[2017-07-05 17:05] smarterclayton commented on #15049
Investigating this

[2017-07-05 17:08] smarterclayton commented on #15049
@sjenning @derekwaynecarr in this test the pod exists but has StartTime empty.  In theory, this is our pod (i.e. we are code running inside a pod that exists, but has StartTime unset).  I think this is a race caused by status not being updated as fast as the running code.

If that's the case, then in our lookup we'll have to tolerate startTime being unset until 36813 gets corrected.

[2017-07-05 17:09] danwinship commented on #15052
Jul 05 14:30:37 nettest-node-1 openshift[256]: I0705 14:30:37.226085     256 ovs.go:139] Executing: ovs-vsctl --may-exist add-port br0 veth99a9802f
    Jul 05 14:30:37 nettest-node-1 ovs-vsctl[2082]: ovs|00001|vsctl|INFO|Called as ovs-vsctl --may-exist add-port br0 veth99a9802f
    Jul 05 14:30:37 nettest-node-1 openshift[256]: I0705 14:30:37.242379     256 ovs.go:139] Executing: ovs-vsctl get Int

[2017-07-05 17:12] danwinship commented on #15052
and it's (presumably) not that there's a race condition and we need to wait before calling "get port", because otherwise we'd (presumably) see a gap in the port numbering above (eg skipping `in_port=6`)

logs don't show any errors from ovs

[2017-07-05 17:20] dcbw commented on #15052
true.  looks like the port gets added to the database, then the vswitchd notices and adds the port, then writes the update to the database.  we read in between.

[2017-07-05 17:30] danwinship commented on #15052
You missed the "not" in my comment. If the problem was that we were racing, then the first "-1" would be getting allocated port 6 some time shortly after we failed to read its port number, and so the next veth should get port 7 and so we'd see `in_port=-1` followed by `in_port=7`. Unless we `del-port`ed the port before vswitchd allocated a port to it, but in fact, we never del-port the port at all

[2017-07-05 17:50] DirectXMan12 commented on #14935
@deads2k no, there's no backwards compat concern, since v2alpha1 is new this release.  It should be fine to disable it by default and then people can enable it if they want.

[2017-07-05 17:52] derekwaynecarr commented on #15051
you can apply a default resource request limit on your pods using following limit range:

[code]

would set a default cpu limit of 300m and cpu request of 200m for example.

closing issue, and feel free to re-open if you have more problems.

[2017-07-05 17:52] #15051 closed

[2017-07-05 17:55] dcbw commented on #15052
I'm not convinced the vswitchd acts as we expect here yet.  Its code does iterate over the current database state and add ports, in an order determined by a hash map which may not the be same order we added ports to the database in.  Which could account for why the next port gets 6, if it showed up earlier while iterating the map.  But it may also do the right thing.

Though as aconole suggested,

[2017-07-05 18:09] derekwaynecarr commented on #15044
@deads2k -- i typically create a pod, stop the node, delete the pod, wait for the node controller to mark the pod status with reason = NodeLost

[2017-07-05 18:10] derekwaynecarr commented on #15044
related:  i had a similar bug https://bugzilla.redhat.com/show_bug.cgi?id=1466720#c2 -- use multi-node docker setup to verify.

[2017-07-05 18:13] dcbw commented on #15052
@danwinship after doing some testing with ovs-vsctl, it appears it does wait until the vswitchd has fully configured the port including the ofport_request.  So yeah, no race, it must be an internal failure of some kind that we can't see because we aren't logging it.

[2017-07-05 18:23] derekwaynecarr commented on #14876
there was an upstream issue:
https://github.com/kubernetes/kubernetes/issues/42782

which was traced back to a panic in kubelet:
https://github.com/kubernetes/kubernetes/pull/42927

which was picked up in openshift bump here:
https://github.com/openshift/origin/pull/13653

i can't access the logs anymore to see, but i suspect this flaked for a different reason than the more serious panic that was

[2017-07-05 18:42] derekwaynecarr commented on #15003
a similar issue was here:
https://github.com/kubernetes/kubernetes/issues/42980

it was sourced back to a fix in kubelet panic:
https://github.com/kubernetes/kubernetes/pull/42927

which we have in origin now:
https://github.com/openshift/origin/pull/13653

we need to triage the node logs as it should not be from the original flake upstream why this failed.

[2017-07-05 18:50] derekwaynecarr commented on #15003
per discussion with @stevekuznetsov there is no way to access the node log to debug this flake further.

i did review the docker logs and saw nothing of significance.

the node logs in future flakes will be available with https://github.com/openshift/aos-cd-jobs/pull/389

[2017-07-05 18:51] derekwaynecarr commented on #14965
@DirectXMan12 -- anything you can help out with here?

[2017-07-05 18:53] derekwaynecarr commented on #15003
the flake happened on gce, and the node logs were not yet avaialble on gce failures...

[2017-07-05 18:55] smarterclayton commented on #14710
Basically - endpoints controller is horribly broken, upstream we completely rewrote it (as a result of this issue), and we may backport if we still see issues at extreme scale in 3.6.

[2017-07-05 18:58] derekwaynecarr commented on #14710
we can have someone look at backport if needed.

pertinent upstreams:
https://github.com/kubernetes/kubernetes/pull/47731
https://github.com/kubernetes/kubernetes/issues/47788

[2017-07-05 19:00] derekwaynecarr commented on #14710
@aveshagarwal -- can you help put picks together in origin for the referenced PRs in case we see this in 3.6?

[2017-07-05 19:01] derekwaynecarr commented on #14703
moving milestone to 3.7 as catalog is tech preview in 3.6 with documented limitations.

[2017-07-05 19:02] derekwaynecarr commented on #14628
i agree this is a catalog bug, will set to 3.7 milestone.

[2017-07-05 19:03] derekwaynecarr commented on #14628
@jpeeler -- can you try to repro this?

[2017-07-05 19:05] derekwaynecarr commented on #14575
@smarterclayton we have a bz that may or may not be similar but the cluster recovers:
https://bugzilla.redhat.com/show_bug.cgi?id=1466732

[2017-07-05 19:07] derekwaynecarr commented on #14485
@aveshagarwal -- can you triage further?

[2017-07-05 19:09] derekwaynecarr commented on #14383
@smarterclayton this looks similar to what @sjenning and i were debugging earlier this week.

[2017-07-05 19:11] derekwaynecarr commented on #14383
we think the problem was introduced in the kube 1.6.1 bump, need to isolate specific commit id.

[2017-07-05 19:11] bparees opened #15059 "Extended.DNS should answer endpoint and wildcard queries for the cluster"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4100/

[2017-07-05 19:12] derekwaynecarr commented on #14371
this is a feature request for kubelet to ignore certain images for gc.  reducing priority.

[2017-07-05 19:12] bparees commented on #15059
@sttts you win the "last one to touch the test file" competition.  Feel free to reassign if you're not the best person for this.

[2017-07-05 19:12] sjenning commented on #15024
1 out of 200 samples is failing.

[code]

[2017-07-05 19:15] derekwaynecarr commented on #14229
i am unable to access the log for when this occurred.  it has not occurred in last month based on links.  reducing to sev 2.  most instances of this flake are due to latency of the watch event being propagated to admission controller.

[2017-07-05 19:15] derekwaynecarr commented on #14229
although in the snippet, it looks like a namespace deletion took too long.

[2017-07-05 19:16] deads2k commented on #15044
Looks like `oc` has a different problem.  Specifying `oc delete pod --all --grace-period=0 --force --cascade=false --loglevel=8`

shows
[code]

which uses the default pod termination graceful value (in spec), not 0.

[2017-07-05 19:17] derekwaynecarr commented on #14176
@jpeeler -- can you try to triage further?  has upstream kube encountered similar flakes?  are their associated fixes we should have picked?

[2017-07-05 19:17] sjenning commented on #14383
b282780a04 is know good and 359f62ccfb is known bad.  The commits in between don't build :-/

[code]

[2017-07-05 19:18] bparees commented on #14371
this is actually breaking our tests semi regularly (or was) so while I don't disagree w/ treating the main issue as an RFE, we need to figure out what we're going to do in our test environment to avoid this problem in the meantime (unless @stevekuznetsov can tell me it's already been addressed).

I think it mostly comes down to allocating more docker storage for images.

[2017-07-05 19:22] derekwaynecarr commented on #14129
upstream flake:
https://github.com/kubernetes/kubernetes/issues/42908

claimed fix:
https://github.com/kubernetes/kubernetes/pull/42925

the referenced fix is in origin, so it must be upset for another reason.

[2017-07-05 19:23] deads2k commented on #15044
Alright, when I manually set the `terminationGracePeriodSeconds: 0` in the spec before creation:

[code]

Then get the pod started with a node before restarting without a node.  I'm able to run `oc delete pod --all --grace-period=0 --force --cascade=false --loglevel=8` and everything cleans up as expected

<details>
[code]
</details>

[2017-07-05 19:23] derekwaynecarr commented on #14129
@marun -- can you help track this down further?

[2017-07-05 19:24] derekwaynecarr commented on #14128
@childsb -- can a member of your team help out here?

[2017-07-05 19:25] derekwaynecarr commented on #14097
i cant access the logs anymore.

have not seen this flake in > 3 months.

closing for now.  re-open if we see again.

[2017-07-05 19:25] #14097 closed

[2017-07-05 19:26] derekwaynecarr commented on #14093
@joelsmith -- can you help triage further?

[2017-07-05 19:27] aveshagarwal commented on #14485
@derekwaynecarr sure, soon.

[2017-07-05 19:29] derekwaynecarr commented on #13977
@jboyd01 - can you look at this test and see if you can make sense of what is going on.

in particular, why https://github.com/openshift/origin/issues/13977#issuecomment-298366756 is not helpful output.

[2017-07-05 19:37] sjenning commented on #14383
What is weird is that I can't reproduce on kube 1.6.1.

[2017-07-05 19:42] deads2k commented on #15044
Confirmed that using `curl 'https://127.0.0.1:8443/api/v1/namespaces/default/pods/busybox0' -X DELETE  -H 'content-type: application/json' --data-binary '{"kind":"DeleteOptions","apiVersion":"v1","propagationPolicy":"Foreground","gracePeriodSeconds":0}'--insecure
` to delete

[code]

worked fine for me.  I'm going to need a more precise reproducer to take this any further.

[2017-07-05 19:43] jwforres commented on #14628
@derekwaynecarr i think this was related to the propagationPolicy being set when the console was deleting the service instance https://github.com/kubernetes-incubator/service-catalog/issues/942

[2017-07-05 19:55] deads2k opened #15060 "grace-period isn't passed through `oc delete --cascade=false`"
`oc delete pod --all --grace-period=0 --force --cascade=false` does not set the grace period to zero in its request.   The plumbing is missing here:  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/delete.go#L244 .

Without this power, when GC is enabled (all the time), you no longer a way to express: "delete it now".

@juanvallejo @fabianofranz

[2017-07-05 19:56] deads2k commented on #15060
We need some way to actually delete an item "now".  Starting off as a blocker until we find that way.

[2017-07-05 19:57] #15049 closed

[2017-07-05 20:39] jfmatth commented on #12672
I have a similar issue for my django project.  I have the django and postgresql pods being created just fine, but would like to create a django container for cron jobs to run manage.py tasks regularly, and as @f-w mentions, that is great when you specify the full path to the image in your job, but I'd rather add it to a template and have it use the environment for the image name (i.e. ${NAME:lates

[2017-07-05 20:46] smarterclayton commented on #14575
Yeah, suspected something similar.  I have not been able to manually
reproduce it.

On Wed, Jul 5, 2017 at 3:06 PM, Derek Carr <notifications@github.com> wrote:

[2017-07-05 20:48] stevekuznetsov commented on #14371
The issue has been addressed in the environments by bumping storage allocations.

[2017-07-05 21:17] jpeeler commented on #14176
@derekwaynecarr I don't know of any upstream flakes involving a projected volume currently. The only time I recall projected volume flakes occurring was several months ago (https://github.com/kubernetes/kubernetes/issues/42154) and the fix is already in master.

[2017-07-05 21:44] derekwaynecarr commented on #13758
weird, if the line number is accurate, we deleted a namespace, and then fetched a pod by name in that namespace and did not get an error as expected.  since we do the same thing on virtually every e2e run, i am reducing severity.  we can look to add some more debugging for when it fails here (i.e. print out the pod that was fetched if found).

[2017-07-05 21:47] derekwaynecarr commented on #13614
@jboyd01 -- can you try to see if you can reproduce this flake in the current upstream (run the tests 1000s of times).

[2017-07-05 21:49] jwhonce commented on #14927
@andrewklau Which version of the docker rpm are you using? And do the docker logs show any errors prior to the broken pipe message?

[2017-07-05 21:51] derekwaynecarr commented on #13693
this is fixed upstream:
https://github.com/kubernetes/kubernetes/pull/46060

we could pick this in origin or wait for next rebase.  since flakes slow everyone down, i am inclined to pick it after master goes out.

@jboyd01 -- can you look at picking this change from upstream kube to origin?  it's relatively small, and is a good example to teach you of the process.

[2017-07-05 22:03] fabianofranz commented on #15017
Fix is in https://github.com/openshift/origin/pull/15066.

[2017-07-05 22:05] sosiouxme commented on #15040
This is a random failure while running a repoquery command, not a formal check. But you could run into something like this almost anywhere you hit yum. I've opened https://github.com/openshift/openshift-ansible/issues/4686 as a suggestion for improvement.

[2017-07-05 22:27] andrewklau commented on #14927
@jwhonce nodes are atomic os:

[code]

Prior to the broken pipe message alerts are usually firing off errors like error with "list_containers", "create_containers etc.

[2017-07-05 22:37] aveshagarwal commented on #14710
https://github.com/openshift/origin/pull/15067

[2017-07-05 22:45] aveshagarwal commented on #14485
As I can not access the log now, and also its been not reported again it seems, and the error message (Unable to connect to the server: i/o timeout) seemed to point to some connectivity issue. I am going to close this. Please reopen if you see this issue again.

[2017-07-05 23:18] bparees opened #15068 "Deprovision Test Cluster failed"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4107/

Perhaps de-provision failures should not fail the job?

[2017-07-06 00:25] smarterclayton commented on #15006
It's ok to remove as deliver blocker.

As far as having invalid data, no update should block on not existing
external references, so I'd like this fixed.  Update is required to work on
Get, no exceptions

On Jul 5, 2017, at 9:24 AM, Justin Pierce <notifications@github.com> wrote:

@Miciah <https://github.com/miciah> sent these scripts to the CD team. We
will be running them on our free & starter c

[2017-07-06 01:04] #14960 closed

[2017-07-06 02:07] sjenning commented on #14383
I found this BZ which was suppose to fix this.

https://bugzilla.redhat.com/show_bug.cgi?id=1444096#c4

Even passed QE.

https://bugzilla.redhat.com/show_bug.cgi?id=1444096#c18

Supposed to be fixed by https://github.com/openshift/origin/pull/14144

Either 1) it didn't 2) there has been a regression since 3) this is a slightly different but related issue

@eparis @wongma7

[2017-07-06 02:19] sjenning commented on #14383
@ origin commit 22888b2842

busybox pod
[code]

Additional information from the node log, I'm seeing the pod volume attachment happen then immediately the reconciler marks the volume as detached:

[code]

The following bad events occur:

[code]

[2017-07-06 02:53] #15039 closed

[2017-07-06 02:59] wongma7 commented on #14383
this is slightly different. My patch was for after a kubelet restart, the events would get spammed because kubelet "forgot" what name to use for a volume. Since there's only one/two events here it's something else

[2017-07-06 03:03] sjenning commented on #14383
@wongma7 thanks for clarifying

[2017-07-06 06:15] arthfl commented on #14468
I was able to "solve" this with just updating the oc client on my workstation.
Had v1.3.1 installed which is probably a bit out of date by now. Updated to v1.5.1 and now i can add the storage class with "oc create...".
So this seems to be client-related.

[2017-07-06 06:18] mrik974 commented on #14468
In fact, `v1beta1` works, I said it in my previous message.
What I'm telling is that the tutorial says to put `v1` as version, and that's what makes it break.
Whether OpenShift should support `v1` instead of `v1beta1` or the tutorial is wrong, I don't know. I just wanted to point it out :);

[2017-07-06 11:24] mrsiano commented on #15042
@smarterclayton
hi, could you review it ?

[2017-07-06 11:46] kargakis opened #15072 "Create a test wrapper for PollImmediate that replaces ErrWaitTimeout with the actual error"
Needed by a bunch of our extended deployment tests

@mfojtik @tnozicka

[2017-07-06 12:00] kargakis opened #15073 "the current deployment needs to have finished before attempting to trigger a new deployment through configuration change flake"
[code]
If we want complete deployments for this test we should at least wait the DC timeout instead of the deploymentRunTimeout which is 5m. This specific test failed in the middle of the rollout (pre-hook pod was stuck downloading its image). I am also in favor of using more lightweight images for testing than centos. Last but not least, this test does not need to use hooks!

https://ci.openshift

[2017-07-06 12:19] GrahamDumpleton opened #15075 "jsonpath filter failure can generate panic and go stack traces from oc"
If you are using ``oc get`` with ``jsonpath`` with output format, and specify a filter which does array index, if the index requirement can't be satisfied, the ``oc`` program panics and generates a GO stack trace.

##### Version

oc v3.6.0-alpha.2+3c221d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://localhost:8443
openshift v3.6.0-alpha.2+3c221d5
kubernetes v1.6.1+5115d708d7

[2017-07-06 12:28] GrahamDumpleton opened #15076 "oc rsync should accept pod/<pod-name> as well as <pod-name>"
The ``oc rsync`` command accepts a pod name, but in doing that it can only be a pod name and cannot have a ``pod/`` prefix. This means you cannot easily capture output from ``oc get pods -o name ...`` and use it as argument to ``oc rsync`` as it outputs ``pod/`` prefix. This means you have to end up using a ``jsonpath`` or ``custom-columns`` output format and specifically get out the ``metadata.na

[2017-07-06 12:38] kargakis opened #15077 "OriginRoleBindingToRBACRoleBindingController needs to tolerate project termination"
Related upstream issue: https://github.com/kubernetes/kubernetes/issues/38612

Eventually we should fix this for all of our controllers but the OriginRoleBindingToRBACRoleBindingController seems the most noisy:
<details>

[code]
</details>

It should also tolerate 404s most likely:
<details>

[code]
</details>

@enj

[2017-07-06 12:38] zopyx commented on #11452
This is not a transient failure. I have this error today on one dev machine with one Docker image but not a different machine with the same Docker image...this behavior appears weird...

[2017-07-06 12:39] kargakis commented on #15077
Full log: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/2183/s3/download/journals/origin-master.service

[2017-07-06 12:58] danwinship commented on #11452
The error appears to happen when there's some specific sort of problem on one of the fedora mirrors, which will then cause every "yum update" that hits that mirror to fail until eventually the mirror resyncs with the masters and fixes things. (If you look through the past instances of the flake, it tends to happen in bursts; it will happen 5 or 10 times in one day, and then not at all for a few we

[2017-07-06 14:30] #14935 closed

[2017-07-06 14:31] deads2k opened #15079 "How to stop crushing apiserver on events"
For the unidler, we don't actually care about any events older than about 30 seconds because the request has already failed at the router at that point.  This means that a full relist in a large cluster is useless to us because it takes more than 30 seconds to get the result of that list.  What we really want is a very fast way to get the most current RV and then use that RV to establish a watch a

[2017-07-06 14:45] bparees commented on #14998
centos bump is here:
https://github.com/openshift/jenkins/pull/329

[2017-07-06 14:47] wongma7 commented on #13211
Yes this should have been fixed by 3.6-alpha.2.

What type/plugin of volume is it? e.g. PVC->hostpath? Could you somehow check the permissions after first deployment and after second, like modify the container entrypoint to be `stat /var/lib/mysql/data; stat /var/lib/mysql` and check the output

[2017-07-06 14:51] ironcladlou commented on #15079
Here's my take on how the unidler works.

1. The controller [watches all events in the system](https://github.com/openshift/origin/blob/HEAD/pkg/unidling/controller/unidling_controller.go#L95), but ultimately discards/ignores almost all events looking for ones which [have a certain reason](https://github.com/openshift/origin/blob/HEAD/pkg/unidling/controller/unidling_controller.go#L178) assigned t

[2017-07-06 14:56] DirectXMan12 commented on #14965
I have a suspicion that this is related to the fact that you're using `extensions/v1beta1` for the HPA, which got remove in upstream Kubernetes -- you should be using `autoscaling/v1`.  I'll need to confirm, though.

[2017-07-06 14:56] ironcladlou commented on #15079
The unidler proxy seems to signal the controller by creating an event referencing a Service to be unidled; could the Service itself be annotated, and the entire algo framed around updates to Services rather than Events?

[2017-07-06 15:24] gabemontero commented on #14093
If it helps, I have not seen this in our jenkins pipeline extended tests in the 2 weeks since we bumped the container memory limit.  We were seeing a variety of intermittent, "lower level" issues in those tests that I concluded coincided with container level memory exhaustion.

I was running tests fairly regularly in https://github.com/openshift/origin/pull/14013 and after a quick perusal, don't t

[2017-07-06 15:34] aweiteka opened #15081 "Image signature verification corrupt after removed"
When a signature is verified and then removed verification is somehow corrupted and cannot be re-verified with the CLI.

##### Version
[code]

##### Steps To Reproduce
1. Push and sign an image

        $ sudo GNUPGHOME=/home/aweiteka/.gnupg atomic --debug push \
        --sign-by aweiteka@redhat.com --type atomic --insecure \
        172.30.1.1:5000/prod/rhel-atomic:latest
2. Verify image signatu

[2017-07-06 16:11] aweiteka opened #15082 "Image signature corrupt when verifying using invalid key"
When a signature verification saved with a valid public key, then saved using an invalid public key, the signature gets corrupted and cannot be verified again.

Related to #15081

##### Version
[code]

##### Steps To Reproduce
1. Push and sign an image

        $ sudo GNUPGHOME=/home/aweiteka/.gnupg atomic --debug push \
        --sign-by aweiteka@redhat.com --type atomic --insecure \
        172.

[2017-07-06 16:45] #14998 closed

[2017-07-06 17:28] coreydaley commented on #14972
@stevekuznetsov @eparis Do you have any updates on what is causing this failure and how to fix it?

[2017-07-06 18:28] smarterclayton opened #15084 "Controller fails to start because new service account token hasn't been generated"
In very large clusters, when upgrading from 1.5 -> 3.6, if the number of secrets is sufficiently large the `SAControllerClientBuilder` may not observe a service account token within its 30s window and thus fail, terminating the controllers.

In the future, we may wish to run the `SATokenController` and other core bootstrapping separately (or simply stop writing service account tokens into secrets)

[2017-07-06 18:31] smarterclayton commented on #15084
[severity:blocker]

[2017-07-06 19:31] thomasmckay opened #15086 "oc create imagestream does not accept names with multiple slashes"
docker distribution allows creation of images with multiple slashes in them. openshift should allow same.

For reference:
https://github.com/docker/distribution/blob/master/docs/spec/api.md#overview
https://github.com/docker/distribution/blob/master/reference/regexp_test.go#L131

[code]

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]

##### Steps To Reprod

[2017-07-06 19:49] smarterclayton commented on #15031
If this isn't easy it's something we can defer.  It's pretty annoying...

[2017-07-06 20:03] thomasmckay commented on #15086
Found this PR that was closed. Can it be revisited?
https://github.com/openshift/origin/pull/11076

[2017-07-06 20:07] fctucker commented on #14774
@mfojtik where can i find that file?  I installed openshift origin using the quick start guide via a docker container.

[2017-07-06 20:48] #15084 closed

[2017-07-06 21:14] bparees commented on #14890
@benjaminapetersen are you still seeing this one?

[2017-07-06 21:18] bparees commented on #14544
@gabemontero i'll let you handle the job migration on this one.

[2017-07-06 23:27] smarterclayton commented on #14999
https://github.com/kubernetes/kubernetes/issues/48388 needs to be addressed before we can migrate any jobs

[2017-07-07 01:10] bparees commented on #14283
@smarterclayton creating an ownerref requires knowing the uid of the ref (apparently?) so i don't see how our templates can define an ownerref pointing to the DC (since the uid isn't defined within the template).  Closing this, but reopen if i've missed something.

[2017-07-07 01:10] #14283 closed

[2017-07-07 01:12] bparees commented on #14252
i haven't heard any further reporting of this so i'm going to close it under the assumption the underlying issue has been fixed in kube, but @GolanTrevize10 @jwforres @spadgett @gabemontero if any of you are aware of it still being an issue, please reopen and we'll try to investigate.

[2017-07-07 01:12] #14252 closed

[2017-07-07 01:25] bparees commented on #13774
i don't see a backwards compatible way to address this.  we have to continue to lay down the inline dockerfile as "Dockerfile" since existing build logic could be referencing it with that name.  Users who have a "Dockerfile" in their git repo and are worried about it being clobbered by an inline dockerfile definition will just have to rename the file in their git repo to avoid it.

closing, but @s

[2017-07-07 01:25] #13774 closed

[2017-07-07 01:34] bparees commented on #11431
@jeremyeder bump

[2017-07-07 01:41] bparees commented on #5460
closing as can't fix.

[2017-07-07 01:41] #5460 closed

[2017-07-07 01:51] sparty02 commented on #15076
I just hit this same thing with oc port-forward.  My workaround was:
[code]

[2017-07-07 01:58] GrahamDumpleton commented on #15076
Hmmm, I should have remembered ``oc port-foward`` as also had to use similar workaround there a month or so ago when doing:

* https://learn.openshift.com/introduction/port-forwarding/

[2017-07-07 02:18] #14913 closed

[2017-07-07 02:24] fabianofranz commented on #15031
I'd say we rely on the current `state.terminated.message`, it's ugly today but at least gives you the real reason and can be improved server-side in future. @sttts @smarterclayton works for you?

[2017-07-07 03:01] smarterclayton commented on #14913
This is correct.  We should probably also use the templates vendored in the
image as well.

On Jul 6, 2017, at 10:18 PM, OpenShift Bot <notifications@github.com> wrote:

Closed #14913 <https://github.com/openshift/origin/issues/14913> via #15087
<https://github.com/openshift/origin/pull/15087>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<h

[2017-07-07 04:08] #15017 closed

[2017-07-07 04:13] andrewklau commented on #13211
This happens when using EBS volumes

I'm travelling right now, so won't be able to test anytime soon.

[2017-07-07 04:35] fabianofranz commented on #15060
Fixed in https://github.com/openshift/origin/pull/15091, @deads2k PTAL.
@juanvallejo sorry, picked this one to try to get it in before code freeze.  ;)

[2017-07-07 04:44] smarterclayton commented on #15006
Note that this failure breaks upgrades for users (now that upgrade is in the path).  So will have to be fixed in 3.6.x.

[2017-07-07 04:45] smarterclayton commented on #15007
Note that this failure breaks upgrades for users (now that storage migration is in the upgrade path).  So will have to be fixed in 3.6.x.

[2017-07-07 04:46] fabianofranz commented on #15031
Fixed in https://github.com/openshift/origin/pull/15090, @smarterclayton @sttts PTAL.

[2017-07-07 10:35] kargakis commented on #14085
Different failure mode but still an issue

<details>

[code]
</details>

[2017-07-07 11:29] rhcarvalho commented on #14973
@stevekuznetsov, if not what was reported here, could you please help identify what failed in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_with_status_check/747/console? Thanks.

[2017-07-07 11:44] deads2k commented on #15079
@DirectXMan12 This one is for you I think.  Did you avoid it because you were worried that a user would write a bot that just continually applied the annotation and events were out of a user's control?

[2017-07-07 12:25] jim-minter commented on #15005
FYI as things stand I don't believe this is a blocker for 3.6.0 - intending to merge a fix early in 3.7 in such a way as can be backported to 3.6.x if a decision is taken to move to go 1.8 for 3.6.x.

[2017-07-07 12:55] judavi opened #15092 "Is any way to Openshift respect Docker ENV variables"
I have been working with Docker Notary to help verify the trust of the images that we use, but now I want to use this feature inside Openshift. In theory, Openshift uses the Docker Client so if you setup the environment variable DOCKER_CONTENT_TRUST=1 it supposes that just use images from trusted sources.
I setup the variable trough /etc/environment or even with export but no luck at all.
Does any

[2017-07-07 13:42] csrwng commented on #13955
@mfojtik are you saying that this error can't be retried on the registry side? If it's retried somewhere, I'd prefer that it be retried on the registry side, since that's a narrower set of cases. On the build end, retrying every 500 error seems heavy handed.

[2017-07-07 13:49] bparees commented on #15005
@jim-minter correct, it's not a blocker for 3.6.0 ( @smarterclayton didn't realize it was golang1.8 specific) but it's been requested that we preemptively backport to the 3.6.x branch, presumably as soon as 3.6.0 goes out.  So you can count on that :)

I'm going to move it to a p2 since it's not a blocker for 3.6.0.

[2017-07-07 13:55] bparees opened #15093 "Integration tests sometimes hang and hit 2 hour timeout"
As seen here, the integration tests hung and got timed out after 2 hours (this is why we introduced the timeouts):

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/4213

[code]

[code]

[code]

test-end-to-end-docker.sh took 8 minutes in a clean run.  so the problem seems to be there.

[2017-07-07 14:10] abstractj commented on #11147
@fabianofranz  We've been discussing some changes here https://github.com/abstractj/origin/commit/88bf1621ec7b4ea8e31f1bedd4c4336c6969f3a1#commitcomment-22954041. Sharing just in case.

[2017-07-07 14:33] phru opened #15094 "Login blocked by getting user:info user:check-access from API"
Hi,

I have downloaded and set up the prometheus example POD. When trying to log in to Prometheus I am facing the following error message:

"message": "scopes [user:info user:check-access] prevent this action; User \"<username>\" cannot get user.openshift.io.users at the cluster scope",

Checking the oadm policy my user is allowed to get <OSC-Host>/apis/*

Please advise what needs to be granted to

[2017-07-07 15:03] dmage commented on #14382
So, as for me, everything works as expected.

If you want fewer pushes on the first build, then we need to pull base images from the internal registry and probably to make some fixes to S2I. Please open another issue for a such enhancement.

A subsequent build, as I can see in registry logs, uploads only one layer. Although it prints more than one "Pushed" message, it's not true. It can upload mor

[2017-07-07 15:03] #14382 closed

[2017-07-07 15:07] stevekuznetsov commented on #14973
@rhcarvalho the best place to look for failures will be the [jUnit test report](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_with_status_check/747/testReport/) on that linked job, we can see that two tests ( [`Extended.[builds][Conformance] oc new-app should succeed with a --name of 58 characters`](https://ci.openshift.redhat.com/jenk

[2017-07-07 15:08] stevekuznetsov commented on #14085
This looks like an actionable item as well @smarterclayton:

[code]

[2017-07-07 15:09] juanvallejo commented on #14180
I believe the patch for [set/triggers.go](https://github.com/openshift/origin/pull/14211/commits/332d67fb5c31c0d92bbcc2acb6dfa73325c217c0#diff-bd70f138bff1cf8a88aaa6397942eec6L229) (which was causing this flake) has already [made it into origin](https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/set/triggers.go#L227). (The `SelectorParam` and `ResourceTypeOrNameArgs` were being called

[2017-07-07 15:09] #14180 closed

[2017-07-07 15:36] php-coder commented on #13855
@bparees Unfortunately, I don't remember details but probably I was editing one of the admission plugins.

[2017-07-07 15:36] php-coder commented on #13855
I agree.

[2017-07-07 15:45] php-coder commented on #7369
Another point is to try to show such messages in the same way as Kubernetes (or push it upstream).

[2017-07-07 16:15] kargakis commented on #15093
Also, I am in favor of splitting those two tests into different jobs. I am more worried about the times our tests are taking than the actual number of the jobs we are running. [As an example K8S is running at least 8 presubmits today](https://github.com/kubernetes/test-infra/blob/b7fcea5c35dd0d84f970f1304e138f64f8ad7847/prow/config.yaml#L52-L316).

[2017-07-07 16:15] kargakis commented on #15093
cc: @stevekuznetsov

[2017-07-07 16:16] bparees commented on #15093
well again that test normally runs in 8 minutes, it's not taking a huge amount of time.

[2017-07-07 16:20] kargakis commented on #15093
Doesn't justify shoehorning it into another job. We would get a clearer sign if this was a different job as opposed to waiting 2+ hours. Even the timeout option is not granular enough in this case. Also. short-running jobs > long-running jobs.

[2017-07-07 16:39] bparees commented on #14196
Moving this to our trello backlog here: https://trello.com/c/3Mb8EIh0/1256-use-pod-dns-for-build-containers

[2017-07-07 16:39] #14196 closed

[2017-07-07 16:45] bparees commented on #7102
@smarterclayton I still think the right solution here is for the extended test cluster to provide PVs, especially now that this setuphostpathvolumes is causing us other issues:
https://github.com/openshift/origin/issues/14972

I would think other extended tests would have a need for PVs anyway.  Do we have other extended tests that are leveraging/testing PVs today and doing it in a different way?

[2017-07-07 17:06] stevekuznetsov commented on #14972
@coreydaley do you have a recent failure? In that job, look at the artifacts (`generated/avc_denials.log` and `generated/installed_packages.log`) to answer the questions @eparis had above

[2017-07-07 17:10] bparees commented on #14972
recent failure: https://ci.openshift.redhat.com/jenkins/view/Origin%20Test%20Jobs/job/test_branch_origin_extended_image_ecosystem/124/

[2017-07-07 17:17] stevekuznetsov commented on #15093
Right now the justification is that AWS EC2 charges by the hour, so 8min == 1h. Our costs would more than double if we split things out as I would like to. As we move forward with @csrwng `Pod`-based jobs I am confident we can break up into very bite-size things, to the point of _each_ verify step being a job, etc. We're on GCE there which is billed per-minute so our quantization error is much sma

[2017-07-07 17:34] xqianwang opened #15095 "'oc describe bc <name>' command doesnot return bitbucket webhook url"
I confugured webhook trigger in my pipeline buildConfig. The buildConfig is deployed successfully and it works fine when I manually click start pipeline button. But I want to use bitbucket webhook to trigger the pipeline build with jenkins deployed in my openshift. When I followed the doc, I wanted to use oc describe bc <name> to get the webhook url, url is not in returned description. How Can I g

[2017-07-07 17:35] kargakis commented on #15093
The integration job today runs 1 ½ hour on clean runs (I hate that we don't have a graph with all these metrics) which means that if we could break the integration test down to less than an hour, then we would get no difference than today billing-wise.

[2017-07-07 17:38] stevekuznetsov commented on #15093
Yep, we could spend time doing that. We just have been conservative about it in the past for cost reasons and we did not take the time to switch them out after word just due to priorities. If you want to make the switch in aos-cd-jobs, sounds like it should be fine for me. The new job won't be 8min, though, as we will need to rebuild a release, but should be <1h.

[2017-07-07 18:06] smarterclayton commented on #15093
IT's more useful to make install_Update faster than it is to split out
these jobs, because install_update is the slowest job in the queue.

On Fri, Jul 7, 2017 at 1:38 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-07-07 18:08] kargakis commented on #15093
Agreed about making install_update faster. Opened https://github.com/openshift/aos-cd-jobs/issues/409, https://github.com/openshift/aos-cd-jobs/issues/408, and https://github.com/openshift/aos-cd-jobs/issues/407

[2017-07-07 18:10] #15073 closed

[2017-07-07 18:10] smarterclayton commented on #7102
We do - those tests are mostly run on GCE

On Fri, Jul 7, 2017 at 12:45 PM, Ben Parees <notifications@github.com>
wrote:

[2017-07-07 18:12] bparees commented on #7102
@smarterclayton can you point us to a pattern we can copy for this job?  (how are those tests setting up PVs)

[2017-07-07 18:30] vnugent opened #15097 "Prometheus `up` metric is still 1 for nodes in NotReady state."
In an attempt to troubleshoot DHCP/PXE I inadvertently reinstalled RHEL on one of my nodes.  `oc get nodes` indicates the node in NotReady as expected.  My Prometheus instance down alert never triggers because `up` metric doesn't reflect actual node ready state.

I use a modified version of the following Prometheus setup with proxy authentication part removed:
https://github.com/openshift/origin/t

[2017-07-07 19:21] deads2k opened #15101 "Re-enable idler"
https://github.com/openshift/origin/pull/15100 is failing on idler compilation problems.  I made some changes in `separate: DANW: endpointsconfighandler changes` which may or may not have helped, so feel free to revert those.

This is blocking progress on the rebase since we cannot complete a compile and get a master without having this work.

[code]

[2017-07-07 19:47] smarterclayton opened #15103 "imagestream_controller uses an unusual construct for getByKey"
https://github.com/openshift/origin/pull/15099

Bug was due to returning nil, nil and not handling properly.  We generally never do that, should be refactored to be consistent with other controllers.

[2017-07-07 20:03] deads2k opened #15104 "sdn fails to compile on kube 1.7"
The SDN won't compile on kube 1.7.  You can pull https://github.com/openshift/origin/pull/15100 and see

[code]

It looks like the level of containernetworking was bumped overall for kube and we're incompatible.  I don't know what to do to fix it, but this blocks progress on the rebase.

[2017-07-07 20:07] ashcrow commented on #14661
I see something very similar on Atomic Host with 3.6.0.alpha.2. With debug_level to 7 the following line showed up as well:
[code]

[2017-07-07 20:22] danwinship commented on #15101
from #15100:

It looks like the upstream types were renamed to EndpointsHandler and ServiceHandler. This is going to need a bunch of work though because the interfaces have grown and HybridProxier needs to implement the new functions.

[2017-07-07 20:37] novonilc commented on #14413
Issue is resolved after i rebooted the machines and did a clean install.

[2017-07-07 20:38] #14413 closed

[2017-07-07 20:45] dcbw commented on #15104
I'll take this one since I did the CNI patch that's now making this fail :)

[2017-07-07 21:50] dcbw commented on #15104
@deads2k grab https://github.com/dcbw/origin/commit/482f9ce77555239363ae1d8de6c9cc286ab0e30e which is a quick and dirty patch for CNI changes.  If the SDN stuff fails after the rest of origin builds I'll be happy to debug.

[2017-07-07 23:13] #15060 closed

[2017-07-08 00:30] smarterclayton commented on #14085
Hrm, I can't actually see the error.  Will have to look at the repo

On Jul 7, 2017, at 11:08 AM, Steve Kuznetsov <notifications@github.com>
wrote:

This looks like an actionable item as well @smarterclayton
<https://github.com/smarterclayton>:

==> NOTE: You are performing a sequence of gsutil operations that may
run significantly faster if you instead use gsutil -m -o ... Please
see the -m secti

[2017-07-08 01:15] #15031 closed

[2017-07-08 15:50] toschneck commented on #13865
Downgrade to version `1.13.1` fixed the issue on `oc cluster up`:

    apt-get install docker-engine=1.13.1-0~ubuntu-xenial

[2017-07-08 18:17] oprudkyi commented on #13891
Hi @csrwng
I've not seen such error for long time (though I've updated to more recent kernel/opensuse)
probably  this error happens only for 4.1.* Linux kernel and does not affect version 4.4.* of kernel

[2017-07-09 14:54] danwinship commented on #14104
this was fixed by #14754

[2017-07-09 14:54] #14104 closed

[2017-07-09 15:53] coreydaley commented on #9848
Closing as "won't fix" as per @smarterclayton and @bparees

[2017-07-09 15:53] #9848 closed

[2017-07-10 07:03] akd31 opened #15110 "How could I pass command line arguments in openshift"
I am working on consul. In my local machine I use the command below to create a 3 nodes consul cluster. I want to deploy consul on Openshift container platform. I am using web console and I couldn't find how I could pass the command line arguments like -server -bind=<external ip> -retry-join=<root agent ip> -bootstrap-expect=<number of server agents>. Can you help me ?

$ docker run -d --net=host

[2017-07-10 09:10] mikk150 opened #15111 "Running pre-hook only as ANYUID SCC"
Hello, I need to run container pre-hook as root but would like to run container itselt as non-root

Is there any way to run pre-hook as other serviceaccount?

[2017-07-10 09:53] php-coder commented on #15095
@bparees

[2017-07-10 10:10] php-coder commented on #15110
Pod spec has `command` and `args` parameters for that: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/

So it's possible but I can't tell you for sure how to accomplish it with a web console. I suspect that you should try to edit `DeploymentConfig` there.

[2017-07-10 11:50] php-coder commented on #15111
Could you provide a more information? What are you trying to accomplish? How your DeploymentConfig/BuildConfig/Pod specification is look like?

If you're asking about [pre-hook for deployments](https://docs.openshift.com/enterprise/3.1/dev_guide/deployments.html#pod-based-lifecycle-hook) that's impossible at this moment because [hooks use the same SecurityContext as a pod](https://github.com/opens

[2017-07-10 12:25] bparees commented on #15095
the bitbucket webhook is being introduced in v3.6, you'll need to update to a v3.6 client+server to be able to set and view the bitbucket trigger.  It's available in our alpha release: https://github.com/openshift/origin/releases/tag/v3.6.0-alpha.2

(note that versioning changed in 3.6, so 3.6 is the next version after 1.5).

the url will be served via cluster api server and match its hostname, so

[2017-07-10 12:25] #15095 closed

[2017-07-10 12:41] pweil- commented on #10967
This has been moved to Trello for release tracking purposes: https://trello.com/c/PTDrY0GF/794-13-client-provide-go-client-similar-to-kubernetes

[2017-07-10 12:41] #10967 closed

[2017-07-10 12:42] miminar opened #15113 "Drop dockerclient in favor of Docker's engine API"
Kube upstream did this a while ago: https://github.com/kubernetes/kubernetes/pull/23800

Pros:
1. reduce dependencies
2. reduce dependencies
3. reduce dependencies
4. [upstream library](https://github.com/moby/moby/tree/master/client) is preferred over [3rd party library](https://github.com/fsouza/go-dockerclient)

Note that https://github.com/docker/engine-api has been deprecated already.

@mfojt

[2017-07-10 12:48] mikk150 commented on #15111
I think I could do it so that I build multiple containers
Build base image
Build production image based on base image(that will initialize all I need)
Build staging image based on base image(that will initialize all I need)

I only need to think how can I version it

initcontainers do not work, because it is not the same container but rather shares a directory with it through voume claims

[2017-07-10 12:56] php-coder commented on #15111
So, looks like you're talking about hooks during image building. It's still not clear what problem do you have and why do you need to run containers with different UIDs. Without this information I can''t help.

[2017-07-10 13:01] mikk150 commented on #15111
So, I am trying to make Yii2 run in container

[Build stage]
* first step is to compile a container with all the code(happens in root, and because of that all files and directories belong to root)

[Pre-hook stage]
* second step is to initialize, this will copy environment configuration into config folders that belong to root, in addition to that it will make all directories that need to be world-

[2017-07-10 13:12] sdodson commented on #13918
@johnr-spindance you should be able to run `docker login` and then copy $HOME/.docker/config.json to /var/lib/origin and the kubelet will pick it up.

[2017-07-10 13:37] deads2k commented on #15104
That patch seems to work well.  Thanks

[2017-07-10 13:37] #15104 closed

[2017-07-10 13:49] csrwng commented on #13891
I will close this then since it doesn't seem to be a problem at the moment, please reopen if it can be reproduced.

[2017-07-10 13:49] #13891 closed

[2017-07-10 13:52] php-coder commented on #15111
After build stage, a container has been committed. If you want to modify it's content you should do it during the build OR during the runtime from the script that serves as entry point. Which one you need?

See point above and also I'm wondering why you can't make directories world-writable during the build phase? (And I should warn you that having world-writable files/directories could lead to se

[2017-07-10 14:00] pweil- commented on #15110
`command` and `args` are the correct way to pass flags if necessary.  You are able to edit the dc yaml and update the pod spec accordingly

[2017-07-10 14:00] #15110 closed

[2017-07-10 14:05] pweil- commented on #15094
can you confirm that you gave the `cluster-reader` role to the service account?  It is in the example template:

[code]

[2017-07-10 14:07] danwinship commented on #14615
dup of #14385. (different subtest but clearly the same bug)

[2017-07-10 14:07] #14615 closed

[2017-07-10 14:14] danwinship commented on #15052
same underlying problem as #12544

[2017-07-10 14:14] #15052 closed

[2017-07-10 14:15] danwinship commented on #12544
the manifestation in 15052 was
    pod 'service-wget' terminated with failure: &ContainerStateTerminated{ExitCode:128,Signal:0,Reason:ContainerCannotRun,Message:cannot join network of a non running container: 2d5a6e62f897d94f487b20401770326856fb6444436b7f51745b336a599edb30,StartedAt:2017-07-05 10:30:39 -0400 EDT,FinishedAt:2017-07-05 10:30:39 -0400 EDT,ContainerID:docker://942a44616e35bb7fbcab58d8

[2017-07-10 14:18] abstractj commented on #11147
@fabianofranz fyi I reassigned this to Juan, because his solution (https://github.com/juanvallejo/origin/commit/875b22c122ca9578c096401492680d759cb6666b) is way ahead than mine

[2017-07-10 14:24] bparees commented on #15113
dupe of https://github.com/openshift/origin/issues/12212

[2017-07-10 14:24] #15113 closed

[2017-07-10 14:28] mikk150 commented on #15111
ok, so now I am trying to do this:
[Build stage]

* build base image
* build environment specific image

[Pre-hook stage / init container]
* migrate db

[Deployment]
* Run it

But how can I pull base image from buildconfig?

[2017-07-10 14:35] php-coder commented on #15111
As far I understand you can copy artifacts from one image to another: https://docs.openshift.org/latest/dev_guide/builds/advanced_build_operations.html#dev-guide-chaining-builds In other words, you will have 2 build configs where the last one will copy some artifacts from the first one.

[2017-07-10 14:45] sjenning commented on #14383
I captured the stray pod worker goroutine the times out after ` podAttachAndMountTimeout` and produces the undesired events.  This is a trace from after the test pod terminates but before the timeout expires.

[code]

[2017-07-10 14:52] mikk150 commented on #15111
[code]

does the business

[2017-07-10 14:54] #15041 closed

[2017-07-10 15:03] kargakis commented on #11315
Latest base ami failure: https://ci.openshift.redhat.com/jenkins/view/All/job/ami_build_origin_int_rhel_base/161/consoleFull#14075125555898c58db7602c31c0eab717

[2017-07-10 15:25] php-coder commented on #15111
@mikk150 Can you close the issue then?

[2017-07-10 15:37] judavi commented on #15092
Any thoughts? @smarterclayton

[2017-07-10 15:50] mikk150 commented on #15111
wait, I'll get this template up and running, and if I do then we can close it

[2017-07-10 16:17] mikk150 commented on #15111
closed

[2017-07-10 16:17] #15111 closed

[2017-07-10 16:59] jupierce commented on #15007
@smarterclayton This issue is currently blocking free-int upgrades, so re-applying delivery-blocker tag with that context.

[2017-07-10 17:05] sjenning commented on #14383
Added some logging

[code]

The pod shows as `Running` in the `podIsTerminated()` calls from `dispatchWork()` and `syncPod()`.  In the volume manager `findAndAddActivePods()`, it shows as `Succeeded` which is why the pod volumes are not being mounted, which is the desired behavior.

[2017-07-10 18:02] php-coder commented on #14864
It turned out that it has been fixed by https://github.com/openshift/origin/pull/15001

@smarterclayton Thanks for fixing this but if you  mentioned me at that issue then I wouldn't try to fix it today... :(

[2017-07-10 18:02] #14864 closed

[2017-07-10 18:07] sjenning commented on #14383
mistake in my last comment. `findAndAddActivePods()` calls `volumehelper.IsPodTerminated()` not `kubelet.podIsTerminated()`.  They do the same thing.

[2017-07-10 19:53] smarterclayton opened #15117 "Resources with immutable image references should not be candidates for image policy rewrite"
Jobs, builds, and stateful sets all have immutable image references on update.  Those should be excluded from rewrite rules at a code level.  That can block other safe updates of those resources.

Spawned from #14999

[2017-07-10 19:54] smarterclayton commented on #15117
Replaces https://github.com/kubernetes/kubernetes/issues/48388

[2017-07-10 20:00] enj opened #15119 "oauthclientauthorizations should be reentrant with user UID changes"
User UID mismatches should restart the grant flow instead of failing with an internal error.

[2017-07-10 20:02] enj opened #15120 "oauthclientauthorizations are not repeared or GC'd"
If the client or user no longer exists, the oauthclientauthorization should be deleted.

[2017-07-10 20:08] enj opened #15121 "oauthclientauthorizations do not check the client's UID"
We do not honor oauthclientauthorizations whose user UID does not match.  However, we do not track the client's UID so an oauthclientauthorization will match a client that has been deleted and recreated.

[2017-07-10 20:36] gabemontero commented on #14544
I've started this process.  `oct` has been updated to recognize the various plugin repos.  A base ami update is cooking as I type.  I have a prototype of the aos-cd-jobs change on my laptop.  Once the AMI's have the new `oct`, I plan to leverage the instructions at https://github.com/openshift/aos-cd-jobs#custom-xml-generator-configuration-under-sjb in order to test the associated new jobs.

[2017-07-10 21:00] jupierce opened #15122 "Failure trying to storage migrate imagestream"
Encountered in a upgrade from 3.6.116 to 3.6.133 on free-int cluster.

[code]

Maybe a race condition with imagestreams being deleted during migration?

Full error output:
[code]

full log: https://atomic-e2e-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/aos-cd/job/cluster%252Foperation/252/consoleFull

@smarterclayton

[2017-07-10 21:03] jupierce commented on #15122
related to #15007

[2017-07-10 21:25] #12132 closed

[2017-07-10 22:23] #15117 closed

[2017-07-10 23:14] smarterclayton commented on #14864
Heh, forgot you had an open one

On Jul 10, 2017, at 2:03 PM, Vyacheslav Semushin <notifications@github.com>
wrote:

It turned out that it has been fixed by #15001
<https://github.com/openshift/origin/pull/15001>

@smarterclayton <https://github.com/smarterclayton> Thanks for fixing this
but if you mentioned me at that issue then I wouldn't try to fix it
today... :(

—
You are receiving this becau

[2017-07-10 23:16] smarterclayton commented on #15094
The prometheus example does not work against 3.5 at the current time.  It's likely you are hitting an issue addressed in 3.6

[2017-07-11 01:41] smarterclayton opened #15126 "Registry openshift client is still using json, should use protobuf"
The client should be switched to prefer protobuf and fallback to JSON.  Noticed in prometheus output.

@mfojtik for 3.7

[2017-07-11 01:43] smarterclayton opened #15127 "Registry memory use grows steadily when large numbers of pushes are in progress"
During a large scale build event the registry is observed to continue to grow memory usage unbounded until it OOMs at around 50gb (on this particular set of machines).  It's possible we're caching too much data, or generating too much garbage, or failing to cache data.

![memory](https://www.dropbox.com/s/vor1jgfnx83he1e/Screenshot%202017-07-10%2020.48.02.png?raw=1)

[2017-07-11 01:43] smarterclayton commented on #15127
@openshift/scale-performance-review @miminar @mfojtik we need to capture profiles but this is an extremely suspicious memory usage curve.

[2017-07-11 01:45] #15122 closed

[2017-07-11 01:50] smarterclayton opened #15128 "Allow "force" deploying a deployment config"
Occasionally a deployment config or deployment won't rollout because it isn't ready.  It should be possible to force a deployment to run to completion (override health) on a single deployment basis.

[2017-07-11 02:38] Shashwatsh commented on #7851
+1

[2017-07-11 03:08] liggitt commented on #15007
issue was with lookup of OAuth client in order to validate scopes. we only need to do this if scopes are being added to the authorization. @enj will make the lookup conditional

[2017-07-11 04:47] smarterclayton commented on #15092
@derekwaynecarr @sjenning

[2017-07-11 08:26] sttts commented on #15059
Was this a one-time flake until now? I would reduce priority until this happens again.

[2017-07-11 08:28] sttts commented on #13885
@deads2k added you. do you take care of this? There is a carry commit re-adding the old HPA types in 3.6.

[2017-07-11 09:22] miminar commented on #15127
The upstream [in-memory](https://github.com/docker/distribution/blob/master/registry/storage/driver/inmemory/driver.go) cache is being used that never evicts any entries. That needs to be fixed. Related issue is #10217

[2017-07-11 09:53] wanghaoran1988 commented on #14915
@smarterclayton @fabianofranz  How do you think about just remove the `AttachablePodForObject` logic [here](https://github.com/openshift/origin/blob/master/pkg/cmd/util/clientcmd/factory.go#L208-L214) and use the t.spec.Template directly? I am not very clear why we need carbon copy an existed pod instead of using the t.spec.Template, would you please tell me the logic behind this ?

[2017-07-11 10:19] kargakis commented on #14897
@soltysh do you have everything you need in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/4259/s3/ to debug this further?

[2017-07-11 10:32] woshidagouxiong opened #15131 "Fail to init node on openstack environment: json: cannot unmarshal array into Go value of type string"
When i try to deploy openshift on openstack environment, it fails to init node and output log as below
kubelet_node_status.go:73] Unable to construct v1.Node object for kubelet: failed to get external ID from cloud provider: json: cannot unmarshal array into Go value of type string
the build of openshift origin is openshift-origin-server-v3.6.0-alpha.2-3c221d5-linux-64bit

It works well on openshi

[2017-07-11 10:53] andrewklau commented on #15032
If the build container were to be started by kubernetes, would the `preStop` lifecycle hook be honoured or is the container just killed immediately?

[2017-07-11 10:55] TimoL opened #15132 "Unable to register node with API server: ... metadata.labels: Invalid value: "Failure domain 2": must match the regex"
I currently fail to complete the deployment of Openshift using openshift-ansible, since the nodes can not successfully register at the master.

Obviously our OpenStack setup uses incompatible names (with whitespaces) for the Availability Zones. That setup is in production and I consider a reconfiguration impossible at the current state.

Any Ideas, how I could work around that issue, besides dropp

[2017-07-11 11:48] myonlyzzy opened #15133 "when I rolling back the deployconfig yaml didn‘t have automatic:true ."
when I rolling back to my dc histoy . I lose rolling update auto .I open bc yaml  I find automatic:true disapper. this is a buy or I use a increct way?

[2017-07-11 11:57] dmage commented on #15127
cc @legionus

[2017-07-11 12:04] jorgemoralespou opened #15134 "Inconsistent labels created in pods"
I have two ways of deploying an image that should produce the same labels (described in the "How to reproduce section). I would expect that given that the labels in the DC and RC are the same, in the pods would also be the same, but they are quite different.

##### Version

Tested in minishift:

[code]

With oc client:
[code]

##### Steps To Reproduce
To test this, it's required to use a cluster a

[2017-07-11 12:26] bparees commented on #15032
if it were started by k8s and if it were being killed by k8s due to resource constraints, i would expect the prestop hook to be honored (though i'm not certain).

However in this case neither of those things are true.  The container isn't managed by k8s, and it's being killed by the host operating system (I believe) which is obviously not going to invoke any hooks even if it were part of a k8s pod

[2017-07-11 12:46] bparees commented on #15059
i'm assuming so, i didn't find an existing issue when i opened it and i guess no one has seen it since though it's only been 6 days.  Anyway lowering the severity for now seems ok since it's not frequently recurring.

[2017-07-11 13:01] ironcladlou commented on #15035
A quick scan of the controller code shows the controller accepts a shared informer (a PodInformer) and adds an event handler which relies on state that isn't initialized until *after* the event handler is added. Because the informer lifecycle isn't managed by the controller, it seems the handler could be invoked before the handler's dependent state is initialized.

I wouldn't be surprised if the r

[2017-07-11 13:32] kargakis opened #15136 "Deployment is not started automatically in 1.5.1"
This is not a problem in v1.6 (will need to be cherry-picked though), but in 1.5.1 it seems that an imported image never triggers a deployment if the resulting pullspec in the container is already set before creation but is missing from the lastTriggeredImage field in the triggers (the field is zero on creation). This is problematic because the trigger is never resolved, and deployment is blocked.

[2017-07-11 13:50] ironcladlou commented on #15035
Looks like most/all of the controllers are [started and run in goroutines](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L306) prior to [shared informer startup](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L492) (see [the disruption controller](https://github.com/kubernetes/kub

[2017-07-11 13:51] php-coder commented on #3797
Indeed.

The error message is technically correct and tell us that there are no SCCs that can admit the pod. Here is an explanation how admission controller works: https://docs.openshift.org/latest/architecture/additional_concepts/authorization.html#admission In the current situation, we have no SCCs after step 1 and that's why pod creation has been failed.

[2017-07-11 13:53] enj commented on #15076
@openshift/cli-review

[2017-07-11 13:54] enj commented on #15075
@openshift/cli-review

[2017-07-11 14:03] kargakis commented on #15136
@nhr I think you are the lucky winner of this bug, this seems like a rare case where the image that is downloaded is already set in the template, [so we ignore doing the update in that case](https://github.com/openshift/origin/blob/6c5dafb9789eb49a4422a6ca6b4112d43288e4a6/pkg/deploy/registry/instantiate/rest.go#L179) (obviously a bug).

[2017-07-11 14:07] nhr commented on #15136
@kargakis I love winning things! :-) Is there a change that I can make to my [template](https://raw.githubusercontent.com/nhr/znc-cluster-app/master/znc-template-basic.yaml) in order to work around this bug?

[2017-07-11 14:12] kargakis commented on #15136
Yes, you can set the image inside your container to something other than the actual hash of the image, for example:
<details>

[code]
</details>

[2017-07-11 14:17] severinraez opened #15137 "Atomic Registry Quickstart Installation broken on CentOS7"
Seems as if the latest docker images from _openshift/origin-docker-registry_ and _openshift/origin_ don't play nice with the installer.

##### Version

Follow http://docs.projectatomic.io/registry/latest/registry_quickstart/administrators/index.html#registry-quickstart-administrators-index on a fresh centos7 install.

##### Steps To Reproduce
1. `vagrant up centos/7` (give your box a static ip and

[2017-07-11 14:23] sjenning commented on #15092
@judavi my understanding is that this env var must be set on the environment in which the docker daemon runs, correct?  If so, you should be able to set an env var in the `docker.service` unit file with `systemctl edit docker.service` and adding `Environment=DOCKER_CONTENT_TRUST=1` before the `ExecStart` line.

[2017-07-11 14:36] simo5 commented on #14516
@rajatchopra why is it not sufficient to just add it to the config template ?

[2017-07-11 14:48] knobunc commented on #14516
I vote for just blocking it.  What's the use-case that we would break?

[2017-07-11 14:58] knobunc commented on #14516
I entered https://bugzilla.redhat.com/show_bug.cgi?id=1469633

[2017-07-11 15:08] nhr commented on #15136
Awesome, thanks @kargakis !

[2017-07-11 15:11] liggitt commented on #15006
https://github.com/openshift/origin/pull/15123 fixes admission to allow cleanup of orphaned objects even when the namespace doesn't exist

backports in https://github.com/openshift/ose/pull/800 and https://github.com/openshift/ose/pull/801

[2017-07-11 15:14] ironcladlou commented on #15035
I think there's a subtle but critical flaw in my assessment: the async executions are like `go New().Run()` which means `New` is executed in the calling goroutine and `Run` is executed in a new goroutine. This means the struct should be fully initialized and event handlers added synchronously before informers can be started.

Pretty sure that invalidates my theory.

[2017-07-11 15:17] knobunc commented on #14516
This is not a release blocker, people can replace the router template today to work around it.

[2017-07-11 15:19] ironcladlou commented on #15035
The next line of inquiry: is one of the controllers themselves starting a SharedInformer?

[2017-07-11 16:10] simo5 commented on #14516
@knobunc ok if I prepare a patch that changes the template to unconditionally block the proxy header in requests ?

[2017-07-11 16:13] sjenning commented on #15092
@judavi If you `ps -fe | grep docker` and get the PID of the docker daemon, does `DOCKER_CONTENT_TRUST=1` show up in `cat /proc/$PID/environ`?

[2017-07-11 16:32] eparis commented on #14516
@simo5 go for it.

[2017-07-11 16:53] smarterclayton opened #15143 "Majority of builds failed when image streams pushed on large cluster"
Tracking issue to cover the general issue of large numbers of failures when the cluster becomes saturated with builds.

Todo:

- [ ] triage failure causes
- [ ] spawn issues
- [ ] identify specific changes to builds

![distribution](https://www.dropbox.com/s/kvafagafs09e42z/Screenshot%202017-07-11%2012.56.46.png?raw=1)

tracking issues:
https://github.com/openshift/origin/issues/15127 (registry fa

[2017-07-11 16:55] kargakis opened #15144 "FAILURE: INSTALL ANSIBLE ATOMIC-OPENSHIFT-UTILS"
On the release-1.5 branch

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/2268/consoleFull#69811047958b6e51eb7608a5981914356

@jhadvig @stevekuznetsov @sdodson

[2017-07-11 16:57] smarterclayton commented on #15143
https://github.com/openshift/origin/issues/15127 is one of the primary failure causes

[2017-07-11 16:58] smarterclayton commented on #15127
How can we cap / expire from this cache.  We need a minimal change that does not cache forever.  This means we grow until we blow up and never release.

[2017-07-11 17:00] smarterclayton commented on #15127
Some options - less simplistic cache (perhaps using one that releases items when under memory pressure), fixed cache size, etc.

[2017-07-11 17:03] stevekuznetsov commented on #15144
@jhadvig looks like the script failed:

[code]

Did we add those logging steps for the script?

[2017-07-11 17:04] simo5 commented on #14516
Please check if this PR looks like enough. Or do we have some other way to configure Haproxy ?

[2017-07-11 17:08] kargakis commented on #15144
Yeah, this one is broken:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/2272/console

Raising priority since this now blocks merges on release-1.5.

[2017-07-11 17:17] sjenning opened #15147 "origin-node restart fails with open /etc/cni/net.d/80-openshift-sdn.conf: no such file or directory"
Deploying containerized on CentOS 7 Atomic.

Inventory:

[code]
Installer erorr:
[code]
Journal logs for origin-node:
[code]
Also mentioned in https://github.com/openshift/origin/issues/14661#issuecomment-313780527

[2017-07-11 17:19] sjenning commented on #14661
@ashcrow I opened https://github.com/openshift/origin/issues/15147 for the issue we are encountering

[2017-07-11 17:40] pecameron commented on #15127
Is this a buffering problem? Is the data just being staged to be written? In this case flow control is needed. Also, a cache has to evict seldom referenced items as capacity is neared. A cache likes to operate at near capacity holding the likely to be needed again items.

[2017-07-11 17:43] smarterclayton commented on #15127
Also, it's likely in memory cache should not cache blobs above a certain size.  That might be the minimal fix.

[2017-07-11 17:47] bparees commented on #15143
all the "error" builds are reporting a reason of "BuildPodDeleted".  Can you confirm for a couple of them that the build pods are indeed missing/deleted?  And do we have any theories on what would have deleted the build pods?

[2017-07-11 18:00] dcbw commented on #15147
@sjenning I think this is exactly the same as https://github.com/openshift/origin/issues/14661

[2017-07-11 18:10] sjenning commented on #15147
@sdodson (owner of that issue) was saying he thought it was different when I asked him.  That's why I opened this issue.  The difference for me is that this is fatal to the node process where the other issue isn't fatal but the network is misconfigured.
[code]

[2017-07-11 18:13] dcbw commented on #15147
@sjenning can you verify that /etc/cni/net.d exists or not?

[2017-07-11 18:14] chenww commented on #13122
I am facing the same issue and seems this error is random with Kubenetes 1.6. Here is what I observed and explanation is appreciated:
1. kubernets needs to pull 5 images from internet, and only postgres one failed. I only can fix it by deleting and recreating pod manually. It becomes running right away
2. kubernete needs to pull 10+images from local private registry, and only one image failed. How

[2017-07-11 18:18] smarterclayton commented on #15143
@derekwaynecarr @eparis

On Tue, Jul 11, 2017 at 1:47 PM, Ben Parees <notifications@github.com>
wrote:

[2017-07-11 18:18] pweil- commented on #15137
@severinraez what issues are you seeing when using the latest images?  That may help folks diagnose the issue.  Thanks

[2017-07-11 18:24] pweil- commented on #15133
I assume here you mean the image change triggers are disabled.  That is by design to prevent accidentally starting a  new deployment after the rollback is complete.  You can reenable them post rollback once you are ready to resume auto deploying: `$ oc set triggers dc/<name> --auto`

https://docs.openshift.org/latest/dev_guide/deployments/basic_deployment_operations.html#rolling-back-a-deployment

[2017-07-11 18:24] #15133 closed

[2017-07-11 18:33] pweil- commented on #15086
There is a name restriction that will not be lifted so this isn't going to be possible.  Do you have a use case where this scenario is required?  It looked like, based on the discussion, that maybe an import wasn't working correctly.  @mfojtik?

[2017-07-11 18:39] pweil- commented on #15043
grab the raw content:

[code]

[2017-07-11 18:39] #15043 closed

[2017-07-11 18:41] smarterclayton commented on #15127
Currently a blocker for roll-out of new large clusters, @mfojtik top priority for a small / limited fix for 3.6

[2017-07-11 18:43] smarterclayton commented on #14915
Debug wants to get the closest possible pod template to what is actually
running.  It does not require a running pod, it just prefers one if
possible.

On Tue, Jul 11, 2017 at 5:53 AM, Haoran Wang <notifications@github.com>
wrote:

[2017-07-11 18:45] pweil- commented on #15042
in glog the errors are prefixed with the level  (E, W, I), it is the first character of the line.  You can grep for statements that are logged with `glog.Errorf` using that.

Example of some warnings and info:
[code]

[2017-07-11 18:45] #15042 closed

[2017-07-11 18:53] pweil- commented on #15050
@aweiteka do you want these (there was one other I assigned to you) filed in a different place?

[2017-07-11 18:55] pweil- commented on #15127
@dmage please take a look asap since @mfojtik is on PTO right now.  Looks like you were out of blockers anyway, don't want you to be bored :smile:

[2017-07-11 19:00] gravis commented on #14092
Hi guys, it would be really nice to have a backport of this in the 1.5 branch.
This bug is justifies a point release all by itself.

Thanks

[2017-07-11 19:01] deads2k commented on #14831
This is now blocking the rebase's test-cmd.sh https://github.com/openshift/origin/pull/15100

[code]
 on
[code]

[2017-07-11 19:04] deads2k commented on #14831
I will try commenting out bits of the test-cmd test to see how much is broken.

[2017-07-11 19:07] dmage commented on #15127
It would be helpful to get /debug/pprof/heap profile (and binary file for it) from the registry. I think the problem isn't in the digest cache (17 GB of descriptors?!). And I'm not sure that I can to reproduce a  large scale build event on my laptop.

[2017-07-11 19:08] abstractj commented on #11611
@liggitt @soltysh would you mind if I give it a try?

[2017-07-11 19:22] ironcladlou commented on #15035
The error seems to imply that a SharedInformer for Pod was started before the call to NewDisruptionController, but so far I can't reason through how that could be possible in either the upstream or origin controller init code. Shifting focus to reproducing.

[2017-07-11 19:27] bparees commented on #15005
p1 since this is now blocking the rebase.  still not a blocker for 3.6.0 though, so we'll need to sort through how @deads2k wants to cherry-pick the fix (once it's ready) into his rebase.

[2017-07-11 19:29] bparees opened #15151 "Print more info when a build pod create fails"
Currently when we fail to create a build pod we report, in the build msg/reason:

[code]

we should print more of the actual error we got.

[2017-07-11 19:29] bparees commented on #15143
created https://github.com/openshift/origin/issues/15151 to improve error reporting when a build pod can't be created.

[2017-07-11 19:30] smarterclayton commented on #15127
we can't, the processes all restarted or need a restart in order to get that data.  I'll continue to look but you'll have to simulate lots of concurrent pushes of unique images

[2017-07-11 19:32] smarterclayton commented on #15127
It's definitely not steady state leakage or caused by pulls, because post restart they all sit at about 100m.  It's definitely changes caused by pushes.

[2017-07-11 19:42] smarterclayton commented on #15143
[code]

[2017-07-11 19:44] ironcladlou commented on #15035
It just dawned on me that the original issue was reported in the context of an integration test, which can do [all sorts of potentially hazardous things](https://github.com/openshift/origin/blob/master/test/integration/buildcontroller_test.go#L162) with informers during custom controller bootstrapping logic. The original linked job is long gone, but it seems entirely possible the issue is some cus

[2017-07-11 19:45] fabianofranz commented on #14996
@jupierce @stevekuznetsov anything you guys need from me here? I'd love to have this fixed before the new release, so that we can have signed binaries. Tks!

[2017-07-11 19:59] kargakis commented on #14129
https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1257/consoleFull#-127006950458b6e51eb7608a5981914356

[2017-07-11 20:03] smarterclayton commented on #15143
Of the 65 builds with `Generic Build failure - check logs for details.`, the error appears to be failures related to updating build status *and* push authorization failures.  Every single one of the 11 I observed had the following last segment:

[code]

It looks like several failures, not sure which one triggered that output.  Definitely push failures, but also status update failures.  Connection

[2017-07-11 20:06] smarterclayton commented on #15143
No build logs remaining for `Failed to commit container.`

[2017-07-11 20:07] bparees commented on #15143
we do retry build status update on conflict, guess we need to expand the set of conditions:
https://github.com/openshift/origin/blob/master/pkg/build/builder/common.go#L185

[2017-07-11 20:07] smarterclayton commented on #15143
[code]

[2017-07-11 20:08] smarterclayton commented on #15143
There should be a helper for connection refused, and you should be looking at the Temporary() error login in `net/http` which tells you whether it can be retried.

[2017-07-11 20:14] bparees opened #15152 "Builds should retry status update"
We currently retry the build status update if there is a resource conflict:
https://github.com/openshift/origin/blob/master/pkg/build/builder/common.go#L185

but we should retry it under more conditions in case the api server is temporarily overwhelmed.  More from @smarterclayton:

[2017-07-11 20:14] bparees commented on #15143
build status update retry issue: https://github.com/openshift/origin/issues/15152

[2017-07-11 20:20] kargakis commented on #13234
Same error on a different place
https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1259/consoleFull#-4952964365898c58db7602c31c0eab717

[2017-07-11 20:25] smarterclayton commented on #15143
Failures with `Assemble script failed.`

[code]

[code]

[code]

[code]

Look like a lot of OOM kills

[2017-07-11 20:25] ironcladlou commented on #15035
One more note for anybody else picking this up later: based on the reported stack trace, the controller init occurred via [start_master.go](https://github.com/openshift/origin/blob/master/pkg/cmd/server/start/start_master.go#L389), which in the context of an integration test could be invoked via [StartConfiguredMasterWithOptions](https://github.com/openshift/origin/blob/master/test/util/server/ser

[2017-07-11 20:27] kargakis commented on #14575
Another gce provisioning flake in the installer: https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1262/consoleFull#68717269158b6e51eb7608a5981914356
<details>

[code]
</details>

[2017-07-11 20:30] fctucker opened #15153 "Ability to clone a persistent volume"
I have a volume as part of my deployment.  I want to take that volume and clone it (copy its contents) into a new volume and mount that into another deployment.

The idea is that the original deployment modified the contents of a volume, and i want to have another deployment use that volume's contents without actually affecting the 1st deployment.

is this ... possible?  ... a bad idea?  ... Docum

[2017-07-11 20:38] kargakis commented on #14575
Another gce provisioning flake in the installer: https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_origin/1262/consoleFull#68717269158b6e51eb7608a5981914356
<details>

[code]
</details>

[2017-07-11 20:42] stevekuznetsov commented on #14996
Add logic to the `merge-and-build.sh` as linked above to install the new build time dependency

[2017-07-11 20:45] jwforres commented on #14629
relevant changes in service catalog API https://github.com/kubernetes-incubator/service-catalog/pull/1017/files

[2017-07-11 20:50] sjenning commented on #15147
@dcbw it does not exist.  cni directory doesn't exist in /etc

[2017-07-11 20:54] jupierce commented on #14996
Sorry.. pto and other fires causing distraction.
@stevekuznetsov @fabianofranz I think there are three options:

1. Fast: build-cross can do a go install for goversioninfo before using it.
2. Medium: we can discuss whether it is possible to install goversioninfo in merge-and-build.sh and perform preprocessing on the source code *before* submitting a build to brew. build-cross would need to be chan

[2017-07-11 20:58] sjenning commented on #14383
Found the difference between kube and origin:

[code]
Origin unmounts the volumes (last 4 lines) for the terminated pod while kube does not, despite `pkg/kubelet/volumemanager` being identical between the two.

Still don't have an answer for why one unmounts and the other doesn't.  I think the expected behavior is unmounting after https://github.com/kubernetes/kubernetes/pull/37228

[2017-07-11 21:34] mrsiano commented on #15042
Awesome !
thanks for the explanation ..

[2017-07-11 21:41] smarterclayton commented on #15127
We have some evidence that the cache is releasing items at steady
state - it's possible that purge is there but isn't running fast
enough to catch up.

[2017-07-11 21:43] smarterclayton commented on #14575
Ugh, @sdodson know else knows the gce py

[2017-07-11 21:47] gastaldi opened #15155 "Support ConfigmapRef in Routes"
Our template exposes routes based on the exposed frontend URL. We are using parameters for this:
https://github.com/openshiftio/launchpad-frontend/blob/master/openshift/template.yaml#L17-L29
and
https://github.com/openshiftio/launchpad-frontend/blob/master/openshift/template.yaml#L135-L178

For everything else, we're adopting ConfigMaps, however for a homogeneous solution, @jorgemoralespou suggest

[2017-07-11 21:55] gastaldi commented on #15155
Tagging @jorgemoralespou as requested

[2017-07-11 21:59] dcbw commented on #15147
@sjenning ok, Ravi's PR should do the trick then

[2017-07-11 22:09] quintesse commented on #15155
Btw, the *actual* reason why we need to set the `host` field is because we want to  create various `Route`s on the frontend that proxy to other services. This way the frontend doesn't need to be configured with references to other services it just accesses those routes and the OpenShift configuration takes care of proxying it to the right backend services.

When you leave out the `host` field in a

[2017-07-11 23:39] enj commented on #15006
@smarterclayton the namespace lifecycle bits are fixed now and I helped @jupierce clean up the upgrade issues.  Based on my discussions with @liggitt our customers are unlikely to hit this since online is the primary user of RBR.  Thus I do not think we need to add complexity to our ansible flow to handle auto deleting these orphaned objects.  WDYT?

[2017-07-12 00:21] #15007 closed

[2017-07-12 00:43] smarterclayton commented on #15006
Agree, and users have a manual workaround.

Have we changed ansible to do the full migration yet?

On Tue, Jul 11, 2017 at 7:39 PM, Mo Khan <notifications@github.com> wrote:

[2017-07-12 00:50] enj commented on #15006
I do not know what you mean by "full migration" - storage migration runs with `--include=*` as of openshift/openshift-ansible/pull/4533

[2017-07-12 00:55] shiywang commented on #13839
I will take a look

[2017-07-12 02:02] sosiouxme commented on #15016
duplicate of https://github.com/openshift/origin/issues/10773 ?

[2017-07-12 02:10] woshidagouxiong commented on #15131
##### Version
oc v3.6.0-alpha.2+3c221d5
kubernetes v1.6.1+5115d708d7

v3.6.0-alpha.2+d4f473a-846-dirty is my build from source

[2017-07-12 04:59] bparees commented on #15143
here's a slightly different take on slicing the builds:

[code]

"interesting builds" are those that:
1) were created after the upgrade
2) are associated with a buildconfig that had at least one successful build before the upgrade
3) were triggered by an imagechangetrigger (to filter out builds that might have been manually kicked off by a user under conditions not conducive to success).

[2017-07-12 05:01] bparees commented on #15143
of that list, i think these are the candidates to drill down on:

Reason=FetchSourceFailed:Failed to fetch the input source. Count=272
Reason=AssembleFailed:Assemble script failed. Count=116

Certainly it's possible the repos have been deleted since the successful build (which would explain failure to fetch source).  Less sure what would cause so many AssembleFailed, though maybe many of those are

[2017-07-12 06:26] severinraez commented on #15137
I edited my comment to closer describe what happened. Sadly I didn't have the presence of mind to keep the exact error messages. Hope that helps.

[2017-07-12 07:49] mfojtik commented on #15127
@dmage can you check if the internal in which the purge is running is tweakable?

[2017-07-12 07:52] mfojtik commented on #15035
@ironcladlou thanks, I can pick this up and review the integration bootstrapping, it seems like we are just lucky that the tests are running... Also I would not consider this a blocker if this is just an integration test bootstrapping issue. @smarterclayton agree?

[2017-07-12 07:54] kargakis commented on #15128
PodManagementPolicy?

https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-management-policies

[2017-07-12 07:58] kargakis commented on #13930
@mfojtik I think this is fixed in 1.6. Can you verify?

[2017-07-12 07:59] mfojtik commented on #13732
@deads2k @liggitt @sttts anything critical missing from this list for 3.6?

[2017-07-12 08:01] mfojtik commented on #15045
@kargakis seems rare, mind if I bump this to P2?

[2017-07-12 08:02] kargakis commented on #12414
Closing in favor of more discussion in the mailing list

http://lists.openshift.redhat.com/openshift-archives/users/2017-July/msg00017.html

[2017-07-12 08:02] #12414 closed

[2017-07-12 08:08] kargakis commented on #12109
Fixed on a latter version, closing

[2017-07-12 08:08] #12109 closed

[2017-07-12 08:09] kargakis commented on #12819
Closing in favor of upstream issue: https://github.com/kubernetes/kubernetes/issues/42217

[2017-07-12 08:09] #12819 closed

[2017-07-12 08:11] judavi commented on #15092
@sjenning  yes
[judavi@sd]$ sudo cat /proc/85903/environ
LANG=en_US.UTF-8PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin NOTIFY_SOCKET=/run/systemd/notify GOTRACEBACK=crash **DOCKER_CONTENT_TRUST=1** OPTIONS= --selinux-enabled --insecure-registry 172.30.0.0/16 DOCKER_CERT_PATH=/etc/docker ADD_REGISTRY=--add-registry registry.access.redhat.com DOCKER_CONTENT_TRUST_SERVER=https://notary-serve

[2017-07-12 08:12] kargakis commented on #3475
Closing in favor of upstream issue: https://github.com/kubernetes/kubernetes/issues/9043

[2017-07-12 08:12] #3475 closed

[2017-07-12 08:13] kargakis commented on #1708
One example:

https://coreos.com/blog/quay-application-registry-for-kubernetes.html
https://github.com/app-registry

[2017-07-12 08:14] jstrachan commented on #1708
FWIW now openshift 3.6 uses API groups we can use Helm charts to store versioned copies of kubernetes + openshift resources

[2017-07-12 08:15] kargakis commented on #3777
Related:
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#partitions
https://github.com/kubernetes/kubernetes/issues/11505

[2017-07-12 08:16] kargakis commented on #3928
Closing due to age

[2017-07-12 08:16] #3928 closed

[2017-07-12 08:16] sttts commented on #13732
@mfojtik the item about alpha versions is solved via https://github.com/openshift/origin/pull/14941 I guess. In there, settings.k8s.io is disabled.

[2017-07-12 08:17] sttts commented on #14031
How critical is this? We marked it as blocker in https://github.com/openshift/origin/issues/13732#issuecomment-314686570. /cc @mfojtik

[2017-07-12 08:18] judavi commented on #15092
[judavi@sd]$ oc version
oc v3.3.1.11
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://localhost:8443
openshift v3.3.1.11
kubernetes v1.3.0+52492b4

[2017-07-12 08:19] kargakis commented on #8887
@tnozicka assigning to you since you'll be working on the policy template that covers this issue.

[2017-07-12 08:21] dmage commented on #15127
Is your evidence dropped lines in prometheus? If so, then I still need to investigate which cache causes this problem. The cache which @miminar talks about has no pruning. Moreover, you need to upload about 10 million blobs to make 17 GiB of descriptors. I don't believe that this is possible to do with our registry in 15 minutes.

[2017-07-12 08:25] kargakis commented on #1708
I am going to close this issue since it doesn't seem as something that needs to be handled inside the core of Origin now with API groups.

[2017-07-12 08:25] #1708 closed

[2017-07-12 08:26] andrewklau opened #15159 "envFrom in buildConfig"
1.6 added the envFrom support so we can load configmaps and secrets straight into environment variables. eg.

[code]

Can this support be included in buildConfigs?

[2017-07-12 08:34] mfojtik commented on #15086
The imagestream name cannot contain slashes as that will violate the API.

[2017-07-12 08:36] kargakis commented on #9146
Closing in favor of https://github.com/kubernetes/kubernetes/issues/22368

[2017-07-12 08:36] #9146 closed

[2017-07-12 08:42] mfojtik commented on #14821
@fabianofranz @juanvallejo i think to fix this we will need to make the upstream human printer more smart about distinguishing what printer to use for legacy vs. api grouped resource for `--dry-run` (it should be already fixed for "normal" printer). I dunno how is `--dry-run` special here, but I believe your team might have the required expertise ;-)

[2017-07-12 08:42] jsafrane commented on #15153
Volume cloning is not implemented in OpenShift. We're working on volume snapshots upstream, so you could take a snapshot of your volume and restore it into another volume(s), but that's in early development right now. Please follow https://github.com/kubernetes-incubator/external-storage/pull/197

[2017-07-12 08:44] mfojtik commented on #14994
@smarterclayton @warmchang @adellape any ideas what we should update? ;-)

[2017-07-12 09:36] mfojtik commented on #14460
This seems to be really a diagnostics flake, not deployment flake based on the comments in the test:

[code]

@bparees feel free to re-assign to whoever owns the oc diagnostics nowadays ;-)

[2017-07-12 09:42] mfojtik commented on #13973
Closing as this haven't reccured and we don't have any logs.

[2017-07-12 09:42] #13973 closed

[2017-07-12 09:44] mfojtik commented on #13943
I believe this was fixed by: https://github.com/openshift/origin/pull/14582

[2017-07-12 09:44] #13943 closed

[2017-07-12 09:47] mfojtik commented on #13799
@kargakis if mounting credentials is the problem here, i'm moving this to kubernetes component. can we do something here? like try to recreate the deployment? (i would rather not ;)

[2017-07-12 09:50] mfojtik commented on #13644
seems like this is infrastructure related... we need to know why the client has to provide credentials (all clients in extended tests use the kubeconfig files so it should not ask for the credentials unless the test is talking to a different server or the server is not fully bootstrapped?)

[2017-07-12 09:50] mfojtik commented on #13575
closing due to age.

[2017-07-12 09:51] mfojtik commented on #13439
Closing due to age.

[2017-07-12 09:51] #13439 closed

[2017-07-12 09:52] mfojtik commented on #13293
Closing due to age. Seems like some rare race or GC issue where the project already existed between test runs?

[2017-07-12 09:52] #13293 closed

[2017-07-12 09:52] mfojtik commented on #13097
Closing due to age.

[2017-07-12 09:52] #13097 closed

[2017-07-12 09:53] mfojtik commented on #12927
Garbage collection is now enabled by default and this haven't reccured recently.

[2017-07-12 09:53] #12927 closed

[2017-07-12 09:56] mfojtik commented on #12806
@kargakis this haven't reccured recently, but I guess we want to still increase the interval till we fail the deployment because there are no nodes available?

[2017-07-12 09:56] mfojtik commented on #12012
Closing due to age.

[2017-07-12 09:56] #12012 closed

[2017-07-12 09:58] mfojtik commented on #9285
Closing this due to age and that we have #14785, #14140, #13980 which basically tracks the same issue with journald rate limiting.

[2017-07-12 09:58] #9285 closed

[2017-07-12 10:00] mfojtik commented on #9999
@danwinship that seems infrastructure flake. can you please open a separate issue?

I believe the original issue here is already solved by garbage collection and I haven't see this reccuring till Apr/20, so closing this.

[2017-07-12 10:00] #9999 closed

[2017-07-12 11:54] carljmosca commented on #3910
any updates on this?

[2017-07-12 12:18] dmage commented on #15127
On my installation (local file storage) the most memory consumed by creating router (compiling regexps) on each request: https://github.com/openshift/origin/blob/de7602b32119b5829c2c6a83d7e0dafef94912de/vendor/github.com/docker/distribution/registry/handlers/app.go#L744
It's not good, but the garbage collector should release it on next cycle. So it should not grow that much.

[2017-07-12 12:47] pweil- commented on #15086
Right.  My question is whether or not there was a case where we couldn't import items that were multi-slashed due to naming the stream after the image?  That may be something we need to address since it's valid in other registries.  The alternative is a pull, retag, push which isn't great.

[2017-07-12 12:55] dobbymoodge commented on #14313
Just a bump to say this is still on my stack, but I haven't been able to make time for it yet :(

[2017-07-12 13:17] dcbw commented on #14661
@sosiouxme might be a different issue, but looks like the SDN plugin is getting blocked and I'm not quite sure why:

[code]

We see a log message from a goroutine spawned by SubnetStartNode(), but we don't see messages from Start() (which would be shelling out to Open vSwitch to add rules). There's nothing special about the code between there, except that part of it calls out to the apiserver to g

[2017-07-12 13:51] bparees commented on #14460
reassigning to @nobody....

[2017-07-12 13:54] bparees commented on #14460
confirmed customer success team owns oc diagnostics.

[2017-07-12 13:58] smarterclayton commented on #15143
The majority of assemble failed were legitimate build failures - those that
never worked.  I'll look for OOMdicators on the pods.

Definitely a bug that the controller doesn't say that the new build is
because of quota, and it should.

On Jul 12, 2017, at 1:01 AM, Ben Parees <notifications@github.com> wrote:

of that list, i think these are the candidates to drill down on:

Reason=FetchSourceFaile

[2017-07-12 13:59] bparees commented on #15159
for now we did just add valueFrom support for buildconfig env vars, perhaps you can use that?  (it is part of the pending 3.6 release)

https://docs.openshift.org/latest/dev_guide/builds/build_environment.html

(I realize it means having to explicitly identify each key in the configmap/secret that you want to consume)

[2017-07-12 14:01] danwinship commented on #9999
at this point, with the logs from the failed test run having been GCed, I don't think it's worth filing. If it shows up again someone can file a flake with more details then.

[2017-07-12 14:02] bparees commented on #15159
converted to our trello backlog here: https://trello.com/c/kemg2ILC

[2017-07-12 14:09] smarterclayton commented on #15127
You should also verify this isn't something related to the s3 plugin.  You
can ask on aos for someone to show you the registry config if there are
multiple settings

On Jul 12, 2017, at 8:18 AM, Oleg Bulatov <notifications@github.com> wrote:

On my installation (local file storage) the most memory consumed by
creating router (compiling regexps) on each request:
https://github.com/openshift/origin/

[2017-07-12 14:18] dmage commented on #15127
[code]
Only 13 MiB... But `RememberDigest` looks suspicious.

[2017-07-12 14:21] brenton commented on #14460
@sosiouxme, would you mind taking a look at this check again?

[2017-07-12 14:49] GolanTrevize10 commented on #14252
It is still and issue. Will it be solved in new version of Openshift? Btw, with jenkins plugin it seems it works correctly.

[2017-07-12 14:57] bparees commented on #14252
my "haven't heard any further reporting" referred to against our master (which is about to ship as v3.6).  So that is my assumption, that it is resolved in 3.6.

[2017-07-12 15:00] gabemontero commented on #14252
The log streaming went through a fair amount of overhaul with OpenShift 3.6, both with the k8s 3.6 rebase followed by some specific fixes stemming from that rebase, so it is certainly reasonable to assume things have changed.

It is also important to note that the docker version and log drivers have bearing on the behavior of `oc logs -f`

WRT the jenkins plugin, since it is not based on `oc` (unl

[2017-07-12 15:00] GolanTrevize10 commented on #14252
Can anybody confirm that?

[2017-07-12 15:02] ayen-tibco opened #15165 "Weavenet CNI not working with RH Openshift Containerized installation - SetupNetworkError when creating Pod"
Context:
Using Containerized installation of Red Hat Openshift Container Platform 3.5 and [Weave CNI plugin](https://www.weave.works/docs/net/latest/cni-plugin/) and Weave [Kuberneted Add-on](https://www.weave.works/docs/net/latest/kube-addon/).

After successfully installing the weave-net and giving weave-net serviceaccount privileges in my Openshift cluster, I deploy my app. However the pods rem

[2017-07-12 15:07] smarterclayton commented on #15127
The evidence is the graph - it grows steadily and peaks at 50gb when the
machine dies (due to something else being oom killed because of the
registry).  Some memory is not being released on concurrent pushes.

On Wed, Jul 12, 2017 at 8:18 AM, Oleg Bulatov <notifications@github.com>
wrote:

[2017-07-12 15:10] smarterclayton commented on #15127
How many unique images did you push to this registry?

On Wed, Jul 12, 2017 at 11:07 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-07-12 15:23] bparees commented on #15143
we now have https://github.com/openshift/origin/issues/15032 to track trying to identify when a container is OOMed and note it in the build, however if it's a case where something like maven OOMs itself because it didn't set its heap properly, we'll probably never be able to identify those cases (since it would require introspecting the build logs on a framework by framework basis).

yes that is h

[2017-07-12 15:33] bparees commented on #15143
Of the fetch source failures, so far I've confirmed a number of them are either private repos or non-existent.  A number of them reference invalid refs (so the clone succeeds but the checkout fails).  We could probably put more info in the message indicating what part of the fetch source failed.

However there are at least a few where the repo is cloneable and the ref is valid or unset, will need

[2017-07-12 15:44] rajatchopra commented on #14516
That PR should do it. But I am not sure of the unconditional stripping. That's a blanket hammer on all routes. Making it per route (per backend in haproxy config) would mean that some routes can opt out of it if they want (though I cannot think of that use case).

[2017-07-12 15:45] eparis commented on #14516
how hard would it be to make it default to strip per route, but allow someone to explicitly NOT strip?

[2017-07-12 15:48] jeremyeder opened #15167 "OpenShift engineering needs some fresh air"
The OpenShift team needs some fresh air.   This design proposal is to build critical mass for a round of golf on a weekend morning and location to be thoroughly bike-shedded via this survey:

https://goo.gl/forms/t3KanrVi7Uon9Fo12

##### Version
[code]

##### Steps To Reproduce
1. Go to Red Hat tower.
2. Go to 16th floor.
3. Notice everyone is getting tan from their monitors.

##### Current Result

[2017-07-12 15:52] rajatchopra commented on #14516
fairly straightforward I guess.. use an annotation:
if ( route.annotation("I_WANT_THAT_HEADER") == "" ) {  http-request del-header.. }

My unverified assumption is that haproxy honours the http-request argument within the backend (the docs say its supported iirc)

[2017-07-12 16:04] smarterclayton commented on #15167
@bparees this looks like a bug in the new-app command - we're printing out
too much useless crap.  Can you track that in a new issue?

On Wed, Jul 12, 2017 at 11:48 AM, Jeremy Eder <notifications@github.com>
wrote:

[2017-07-12 16:07] smarterclayton commented on #15143
Can you spawn an issue for the "no such container"?

On Wed, Jul 12, 2017 at 11:33 AM, Ben Parees <notifications@github.com>
wrote:

[2017-07-12 16:10] dmage commented on #15127
<details>
<summary>2000 images</summary>

[code]
</details>

[2017-07-12 16:20] #14973 closed

[2017-07-12 16:30] smarterclayton commented on #15035
Agree

On Wed, Jul 12, 2017 at 3:52 AM, Michal Fojtik <notifications@github.com>
wrote:

[2017-07-12 16:31] marekjelen opened #15168 "Switch the deployment strategy based on external condition (PV type)"
`Rolling` strategy is not useful for for deployments with RWO PVs.

##### Version
[code]

##### Steps To Reproduce
1. Create RWO PV
2. Assign the PV to a deployment with `Rolling` strategy

##### Current Result
When new deployment gets triggered, the deployment gets stuck.

##### Expected Result
The deployment strategy could be switched to `Recreate` to safe the user from the need to figure out th

[2017-07-12 16:33] naveen408 commented on #13338
Hello Debian master,
i am  also  experiencing the same  issue  , i am using  tomcat 8 S2I catalog to  deploy   helloworld   java app. However i see the  below error ?

Any  advise or help  ?

--
  | --> Waiting up to 10m0s for pods in deployment javahello-1 to become ready
  | error: update acceptor rejected javahello-1: pods for deployment "javahello-1" took longer than 600 seconds to become read

[2017-07-12 16:37] naveen408 commented on #7824
Hello Friends,
i am also experiencing the same issue , i am using tomcat 8 S2I catalog to deploy helloworld java app war file . However i see the below error ?

Any advise or help  ?

Scaling javahello-1 to 1
--
  | --> Waiting up to 10m0s for pods in deployment javahello-1 to become ready
  | error: update acceptor rejected javahello-1: pods for deployment "javahello-1" took longer than 600 secon

[2017-07-12 16:39] #15044 closed

[2017-07-12 16:47] debianmaster commented on #13338
@naveen408  @arialdomartini    can you please send your error messages

[2017-07-12 16:53] smarterclayton commented on #15127
since those images are effectively tiny, it's possible the issue is
correlated to image size.

On Wed, Jul 12, 2017 at 12:10 PM, Oleg Bulatov <notifications@github.com>
wrote:

[2017-07-12 16:59] smarterclayton commented on #15127
If we have to test this by triggering new builds in the affected cluster and gathering profile data from registry, we can (but that's going to take a chunk of time so it's a parallel action)

[2017-07-12 17:00] smarterclayton commented on #15006
Yes, that is full migration.

[2017-07-12 17:02] smarterclayton commented on #15006
So I still expect a fix in master (maybe not for 3.6.0) which prevents updates on role binding restrictions that are invalid from failing if the user hasn't changed something.  Updates that don't change shouldn't fail, period.

[2017-07-12 17:07] pweil- commented on #7824
This error means that the pods the deployer is trying to deploy have never become ready.  That could be a variety of different things which is why @kargakis requested logs.  The steps you can take to try and diagnose this further are:

1.  look for failed containers of the image you are trying to deploy and check out their logs in docker.  Perhaps the containers are failing and preventing the depl

[2017-07-12 17:07] #7824 closed

[2017-07-12 17:10] derekwaynecarr commented on #15167
this flake keeps blocking my prs.

[2017-07-12 17:11] dmage commented on #15127
Again, I've tested it using local storage. There are interesting constants in S3 driver:
https://github.com/docker/distribution/blob/f86db6b22663a27ba4d278220b7e34be528b1e79/registry/storage/driver/s3-aws/s3.go#L58
https://github.com/docker/distribution/blob/f86db6b22663a27ba4d278220b7e34be528b1e79/registry/storage/driver/s3-aws/s3.go#L62
https://github.com/docker/distribution/blob/f86db6b22663a27

[2017-07-12 17:13] bparees commented on #14575
another:
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4241/console

[2017-07-12 17:13] bparees commented on #14575
(that one appears to be a quota exceeded issue)

[2017-07-12 17:15] smarterclayton commented on #15127
So *concurrent* blob uploads can each reach up to 3200MB?

On Wed, Jul 12, 2017 at 1:11 PM, Oleg Bulatov <notifications@github.com>
wrote:

[2017-07-12 17:16] smarterclayton commented on #14575
Fuck

On Wed, Jul 12, 2017 at 1:13 PM, Ben Parees <notifications@github.com>
wrote:

[2017-07-12 17:16] bparees commented on #15167
too much useless crap.  Can you track that in a new issue?

![image](http://www.quickmeme.com/img/f2/f21553d8d6669bbeadcbae4f6ef9e53ea96453052a410cde3623a7a561724e3e.jpg)

[2017-07-12 17:21] dmage commented on #15127
Oops, no, it copies data using S3 server-side copy UploadPartCopy, so it doesn't allocates memory for chunks.

[2017-07-12 17:25] bparees commented on #15143
no such container?  is that a failure mode you've seen?

[2017-07-12 17:27] bparees opened #15169 "FetchSource build failures should provide more details"
A number of user builds failed because the source ref was not valid and thus we failed on git checkout of the ref (in some cases there was no ref, but it was an empty repo so we failed to check out "master", and in other cases the tag/branch did not exist).

Our build failure message should reflect exactly why the fetch source failed (was it a git clone failure, or a checkout failure).

[2017-07-12 17:28] bparees commented on #15143
spawned issue for augmenting our fetchsource message to indicate what failed about fetching source: https://github.com/openshift/origin/issues/15169

[2017-07-12 17:36] stevekuznetsov commented on #14575
Working on a process to ensure cleanup in GCE so we don't hit quota.

[2017-07-12 17:37] dmage commented on #15127
A blob upload can consume [10 MiB](https://github.com/docker/distribution/blob/f86db6b22663a27ba4d278220b7e34be528b1e79/registry/storage/driver/s3-aws/s3.go#L52), it's not so impressive.

[2017-07-12 17:40] smarterclayton commented on #15143
See my comments earlier in the thread...

On Jul 12, 2017, at 1:28 PM, Ben Parees <notifications@github.com> wrote:

spawned issue for augmenting our fetchsource message to indicate what
failed about fetching source: #15169
<https://github.com/openshift/origin/issues/15169>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ope

[2017-07-12 17:57] knobunc commented on #14516
I still think the right answer is to define a new env for this, say "ROUTER_STRIP_HEADERS" and then have it be a list of space separated headers to drop.  Then we just loop over that and add in the drop lines.  We would default it to "Proxy" and if the user didn't want that, they can set the string to empty.

[2017-07-12 18:00] bparees opened #15171 "No such container when fetching build logs"
Seeing some instances of:
`no such container: "cc3cbb214251252acd0e40e35ccf8f625c644a36957378763451e7bc57bb3e73"`

when retrieving build logs.

Builds themselves will always have some boiler plate logs (assuming the pod container ever started), e.g.:

[code]

so this looks to me like the build pod container was removed (or couldn't be accessed/found), rather than an issue w/ the build itself havin

[2017-07-12 18:01] bparees commented on #15143
no such container logging issue: https://github.com/openshift/origin/issues/15171

[2017-07-12 18:09] smarterclayton commented on #15171
@derekwaynecarr could be a race condition in kubelet logging - haven't had
time to look at it (we check the container, then call logs, but if the
container exits in between)

On Wed, Jul 12, 2017 at 2:00 PM, Ben Parees <notifications@github.com>
wrote:

[2017-07-12 18:47] bparees opened #15173 "How should terminating quota be applied?"
Currently terminating quota is applied to pods w/ an activedeadline set.

This issue is to discuss whether it should also apply to pods with no activedeadline, but which have a restart policy of "never" (or possibly also a restart policy of "if failed"?)

@smarterclayton

[2017-07-12 18:49] naveen408 commented on #7824
Thanks @pweil-  will  try your suggestions.

[2017-07-12 18:51] naveen408 commented on #13338
i dont see any  thing in events and this  is what i see in logs .

--> Scaling javahello-1 to 1
--
  | --> Waiting up to 10m0s for pods in deployment javahello-1 to become ready
  | error: update acceptor rejected javahello-1: pods for deployment "javahello-1" took longer than 600 seconds to become ready

[2017-07-12 18:52] naveen408 commented on #13338
some  more information

Container deployment

State:
Terminated at Jul 12, 2017 11:13:34 AM with exit code 1 (Error)
Ready:
false
Restart Count:
0

[2017-07-12 18:53] smarterclayton commented on #15143
All `New` state builds were because the `activeDeadlineSeconds` defaulting was not on.  There's an open question whether *all* builds should have activeDeadlineSeconds on by default.

[2017-07-12 18:53] zuaresc commented on #13573
@mfojtik I have tried to use this new feature in Origin 1.5.1 and am receiving the same error that @canit00 received. According to the [1.5 documentation](https://docs.openshift.org/1.5/admin_guide/managing_networking.html#admin-guide-limit-pod-access-egress), this functionality should be available. However, the API endpoint doesn't accept `dnsName` as a valid property. It's missing from the [1.5

[2017-07-12 18:58] naveen408 commented on #7824
i haven't configured any  probes for  this  container,  same  war file  worked when  i  deployed manually.

[2017-07-12 19:00] bparees commented on #15173
Related to this discussion, should builds always have an active deadline set?  Should we also enable an active deadline default/override to be set via the build defaulter/overrider?  There are a lot of ways to skin this cat.

[2017-07-12 19:06] ayen-tibco commented on #14706
Hi @jim-minter.

You are correct, I am on windows and sharing the folder to the VirtualBox VM. Never again...what a waste of time...ugh.

[2017-07-12 19:06] #14706 closed

[2017-07-12 19:10] dmage commented on #15127
docker/distribution#1533

[2017-07-12 19:11] sdodson commented on #15131
How are you starting it? Can you add --loglevel=6 and see if there's useful debugging info there?

[2017-07-12 19:24] smarterclayton commented on #15127
If we think this is culprit we probably need to create a representative test case and then investigate a pooling patch.  We can't afford OOM during high build events and while the GC is good, it appears GC is not good enough.

[2017-07-12 19:38] smarterclayton commented on #15060
Probably need `--override-finalizers` but it has to be optional.

[2017-07-12 19:57] deads2k commented on #15060
@smarterclayton `oc delete --force --now --grace-period=0 --override-finalizers --for-the-love-of-god-just-delete-it-already!!!!` ?

[2017-07-12 20:13] smarterclayton commented on #15060
that too

[2017-07-12 20:14] smarterclayton opened #15175 "oc status / oc describe dc / oc describe rc doesn't communicate time ranges well"
Deployments and pod creations take a certain amount of time.  I was looking to see whether a new deployment overlapped with a failure (registry was being redeployed, builds failed to push).  But the CLI didn't help me find out how long the deployment took.  I had to drill into pods.

Some things that could help:

1. oc status could tell me how long the last successful deployment took
2. oc describ

[2017-07-12 20:23] ghost opened #15176 "error: update acceptor rejected"
I am using tomcat 8 S2I catalog to deploy helloworld java app ( war file ) from  our internal GIT . it is able to create a  container and  push it to  registry and deployment fails   with  the below error.

This is a  simple hello world app  , works when  i  deploy manually , but i when i  use catalog  deployment fails .

Also  , no information  found in events

Any advise  or help is appreciated.

[2017-07-12 20:31] smarterclayton commented on #15143
Second batch of 338 cleared, 153 failed, here are 73 that failed due to push (registry was being restarted during upgrade)

[code]

[2017-07-12 20:39] naveen408 commented on #15176
i just  re-deployment to capture  events  info  -   Attached  Logs and events

[oclogs.txt](https://github.com/openshift/origin/files/1143252/oclogs.txt)

[Oc-eventsinformation.txt](https://github.com/openshift/origin/files/1143241/Oc-eventsinformation.txt)

[2017-07-12 20:45] naveen408 commented on #13338
Attached  logs and  events  information.
[Oc-eventsinformation.txt](https://github.com/openshift/origin/files/1143265/Oc-eventsinformation.txt)
[oclogs.txt](https://github.com/openshift/origin/files/1143266/oclogs.txt)

[2017-07-12 22:32] smarterclayton commented on #15127
Profile from production when a big build spike came in - we peaked at 8gb on one of the instances, here's the cumulative allocation from it:

[code]

If we want to stop unbounded growth, it looks like our only options are

1. try and tune the GC to be more aggressive (unlikely?)
2. have the s3-aws driver pool allocations

[2017-07-12 22:37] #14996 closed

[2017-07-12 22:38] smarterclayton opened #15177 "Registry appears to be network bound when many pushes are in progress"
Network IO peaks at 80mb/s on m4.4xlarge infra nodes during large scale push event.

![network](https://www.dropbox.com/s/oh2rj1gy98pr8ch/Screenshot%202017-07-12%2018.36.50.png?raw=1)

We don't appear to be CPU bound:

![cpu](https://www.dropbox.com/s/7yvs31baycieoja/Screenshot%202017-07-12%2018.29.34.png?raw=1)

Are we hitting an artificial limit in the kernel / etc that prevents this from succee

[2017-07-12 22:39] smarterclayton commented on #15177
Same curve for network outbound (above was inbound):

![transmit](https://www.dropbox.com/s/1gzqpuc9ggd39bh/Screenshot%202017-07-12%2018.39.16.png?dl=0)

[2017-07-12 23:20] dmage commented on #15127
Thank you for the profile! I will investigate why do they have such complicated code for Write and how we can reduce memory allocations.

[2017-07-13 01:18] jeremyeder commented on #15177
I show the same.

![image](https://user-images.githubusercontent.com/1919640/28144816-d1ba50b0-673b-11e7-8cfd-01a1f91a99b5.png)

But those instance types should be capable of 2Gbps.  Can you post the output of
[code]
If it is ```ixgbevf``` then we are already setup for EC2 Enhanced Networking.
If if is ```vif``` then we are not, and we need to fix that.

Tunings should be fine as long as ```tuned`

[2017-07-13 01:30] smarterclayton commented on #15177
@eparis can you help close the loop here with Jeremy?

On Jul 12, 2017, at 9:18 PM, Jeremy Eder <notifications@github.com> wrote:

I show the same.

[image: image]
<https://user-images.githubusercontent.com/1919640/28144816-d1ba50b0-673b-11e7-8cfd-01a1f91a99b5.png>

But those instance types should be capable of 2Gbps. Can you post the
output of

ethtool -i eth0

If it is ixgbevf then we are alread

[2017-07-13 01:33] smarterclayton commented on #15060
--who-do-I-have-to-bribe-to-delete-this-already

[2017-07-13 01:34] smarterclayton commented on #15173
If we set an ootb default, would that suddenly break existing clusters
that have this?  It's technically an API change which argues for no
new default, but I could buy Ansible deploying new clusters like this.

[2017-07-13 01:52] bparees commented on #15173
if we set the ootb default high enough (ie 1 year), it would probably break no one, while bringing the builds under the terminating quota.  I guess it could break someone in the sense of changing how quota is evaluated.  that's probably the bigger concern (and maybe the point you were making).

it's still probably something we should allow the defaulter/overrider to set, since today cluster admins

[2017-07-13 03:28] bparees opened #15178 "builds should retry push under more conditions"
we should be more aggressive in retrying failed pushes since the cost of doing so is low and the cost of not doing so (forcing a user to rebuild) is high.

here are some of the errors we've seen that should be considered for retry:

[code]

/cc @smarterclayton

[2017-07-13 03:32] andrewklau commented on #15159
EnvFrom would just help with being able to keep things consistent with the
deployment environment. When there's over 30+ env variables it's not fun.

On Wed., 12 Jul. 2017, 9:02 pm Ben Parees, <notifications@github.com> wrote:

[2017-07-13 03:36] bparees commented on #15159
thanks, closing the issue, we'll continue to track the RFE in trello.

[2017-07-13 03:36] #15159 closed

[2017-07-13 03:53] bparees opened #15179 "termination logs appear to be misformatted"
when i run a ruby build w/ loglevel 5, the resulting termination logs on the pod are corrupted, it looks like control characters are getting escaped (e.g. newlines):

[code]

works fine for other build log output:

[code]

so something in the one pod's log output is causing corruption when the termination message is created.

[2017-07-13 05:12] smarterclayton commented on #15179
Doesn't look corrupted, there are multiple yaml serializations for text.  What does the json look like?

[2017-07-13 05:13] #14661 closed

[2017-07-13 05:13] #15147 closed

[2017-07-13 05:14] smarterclayton commented on #15173
LimitRanger might be more appropriate, but yes, build override defaulters
is appropriate. I think though this is a max scenario, not an override
scenario.  So not clear what the best approach is

On Jul 12, 2017, at 9:52 PM, Ben Parees <notifications@github.com> wrote:

if we set the ootb default high enough (ie 1 year), it would probably break
no one, while bringing the builds under the terminati

[2017-07-13 07:20] ArminMW opened #15182 "wrong metricsPublicURL in master-config.yaml (minishift)"
wrong metricsPublicURL in master-config.yaml (minishift)

##### Version

minishift v1.2.0
openshift v3.6.0-alpha.2+3c221d5
kubernetes v1.6.1+5115d708d7
etcd 3.2.0-rc.1

##### Steps To Reproduce

1. using Minishift v1.2.0 deploy Origin v3.6.0-alpha.2 with Metrics, e.g.:
  minishift start --openshift-version=v3.6.0-alpha.2 --memory=8000 --metrics --logging
2. wait until deployments of pods finalize:

[2017-07-13 08:25] aliscott commented on #14863
@dmage I don't have a way of reproducing it 100% of the time, but I have seen it a couple of times now. We have a job that runs this every hour:
[code]

[2017-07-13 09:20] nicolaferraro commented on #12300
After latest changes in https://github.com/openshift/origin/blob/master/pkg/build/registry/buildconfiginstantiate/rest.go, the response to the client is returned after the build is finished. I don't know if it was intentional, but this specific problem seems closed now.

[2017-07-13 09:50] mfojtik commented on #15126
@smarterclayton @deads2k i started working on this to discover that we can't use the generated clients for things like image signatures, image stream mappings, local subject reviews and others as we don't generate clients for them (since they only implement a subset of client methods and some of them are not ObjectMeta...).

I wonder if we want to enhance the clientgen to support more comment argu

[2017-07-13 09:54] wanghaoran1988 commented on #14915
Add MostAccuratePodTemplateForObject to upstream ObjectMappingFactory, so we can always get the pod template of the upstream resources.

For this kind debug, template from stdin, I am try to fix, but I found if we read the template from stdin, the pod can be created successfully but the tty tunnel cannot be established, as the code [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/ku

[2017-07-13 09:59] php-coder commented on #15182
The same issue in Minishift repo: https://github.com/minishift/minishift/issues/1125

[2017-07-13 10:49] warmchang commented on #14994
Can update the features list which add/modifed in version 3.6 :smile:
![image](https://user-images.githubusercontent.com/13084624/28162936-987c3b40-67fb-11e7-9d45-cd73a71a8a28.png)

[2017-07-13 10:50] mfojtik commented on #15176
It says the readiness probe failed, can you share the DC yaml or check if the readiness probe actually can succeed?

[2017-07-13 10:54] mfojtik commented on #15168
@smarterclayton is it reasonable to emit a warning (event/condition/etc) saying that rolling with RWO will fail to roll? I don't think we should decide the strategy for the user automatically based on "external" inputs (like PVC type).

Also we can maybe fail the rollout before we actually create the deployer pod when we know in advance the rollout will fail (rolling + rwo).

@kargakis @tnozicka F

[2017-07-13 10:58] mfojtik commented on #15182
@ArminMW mind closing this in favor of the minishift issue @php-coder pointed out?

[2017-07-13 11:37] kargakis commented on #15144
Fixed by https://github.com/openshift/aos-cd-jobs/pull/420. I can verify this is not a problem anymore.

[2017-07-13 11:37] #15144 closed

[2017-07-13 11:42] kargakis commented on #14575
[code]
https://ci.openshift.redhat.com/jenkins/view/All/job/merge_pull_request_origin/1280/consoleFull#-142383555758b6e51eb7608a5981914356

[2017-07-13 11:49] kargakis commented on #14328
This flaked in the merge queue yesterday: https://ci.openshift.redhat.com/jenkins/view/All/job/merge_pull_request_origin/1277/

If the problem is because we are pulling ruby gems, can we switch to a different build?

[2017-07-13 11:55] kargakis commented on #11315
https://ci.openshift.redhat.com/jenkins/view/All/job/merge_pull_request_origin/1271/consoleFull#2086332504575ef9a2e4b031e1b25ce320

[2017-07-13 12:11] mliker commented on #13122
+1

[2017-07-13 12:13] akostadinov opened #15184 "auto-completion for --context="
Hi, working with multiple clusters it is a pain to switch between contexts. Could you add shell completion for the `--context=` option?

[2017-07-13 12:29] bparees commented on #15179
Corrupted is perhaps the wrong word, but it has seemingly escaped all the text (as evidenced by the \ns and other escapes showing up) and quoted it.  If both outputs were formatted that way it would be fine, but it seems strange that one shows up "normally" and one does not.

here's the pod json for the one that looks "normal" when output as yaml:
[code]

and here's the json for the one that remai

[2017-07-13 12:33] bparees commented on #15179
yaml output from those same two pods:
[code]

[code]

[2017-07-13 12:34] bparees commented on #15179
well in the light of day i can't recreate what i was seeing last night w/ the strings not splitting on newlines, so i'm going to close this for the moment, but it's still odd the yaml outputs differ when the json outputs don't.

[2017-07-13 12:34] #15179 closed

[2017-07-13 13:18] dmage commented on #15127
The writer has 2 buffers (readyPart, pendingPart) which by default can grow up to 10 MB. In worst cast an image push can take 5 (layers at the same time)*2 (buffers)*10 MB = 100 MB. 170 concurrent pushes can take 17 GB. It's in case we have perfect GC.

[2017-07-13 13:19] mfojtik commented on #15127
@dmage @smarterclayton suggested to re-use the cache if we can (kind of thin pool)

[2017-07-13 13:26] ArminMW commented on #15182
Close this because follow-up in https://github.com/minishift/minishift/issues/1125

[2017-07-13 13:26] #15182 closed

[2017-07-13 13:32] kargakis opened #15185 "oc set triggers shouldn't fail with a single container"
[code]

[2017-07-13 13:33] bparees commented on #14328
@kargakis yours flaked on a php build :)  So no, we probably are never going to get every test using a build ecosystem that's 100% reliable.

[2017-07-13 13:37] dnepangue commented on #5259
Sorry to bring this old thread but how to login in web console  with system:admin privilege? Should I create a user with cluster administrator access?

[2017-07-13 13:53] kargakis opened #15186 "package openshift-ansible-3.6.144-1.git.0.1382071.el7 is not installed flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/2345/consoleFull#128703821658b6e51eb7608a5981914356

@sdodson

[2017-07-13 13:54] mfojtik commented on #15185
agree.

[2017-07-13 13:55] kargakis commented on #15168
Agreed with @mfojtik - we already do a lot of magic with triggers in the spec. I thought `oc status` would already emmit a warning for rolling deployments with RWO volumes, @marekjelen isn't that the case?

[2017-07-13 13:56] kargakis commented on #14328
Should jobs that are flakying and we cannot fix block merges then?

[2017-07-13 13:57] mfojtik commented on #15168
@kargakis how about web console?

[2017-07-13 13:58] kargakis commented on #15168
@mfojtik you meant to ask @jwforres @spadgett ;)

[2017-07-13 13:59] mfojtik commented on #15168
@kargakis i corrected myself ;P

[2017-07-13 13:59] bparees commented on #14328
yes.

our product is fundamentally based on the interconnection of services and external network access is part of that.  we cannot refuse to test that functionality as part of our conformance merge requirements.

what we need is better flake retry logic.

[2017-07-13 14:01] bparees commented on #12300
thanks @nicolaferraro.  It was not intentional but glad to know we accidentally fixed it :)

[2017-07-13 14:01] #12300 closed

[2017-07-13 14:08] bparees commented on #15173
/cc @derekwaynecarr

[2017-07-13 14:09] jwforres commented on #15168
I don't think the console is showing a special warning for this today, but sounds like something to consider if we know its always going to fail.

[2017-07-13 14:10] jwforres commented on #15168
The problem from the perspective of the Overview is that we don't get PVC details at all today.  PVCs are relatively stable, might be something we could just list, or slow poll.  @spadgett probably other things we could be showing relative to PVCs used by deployments, like this deployment config references PVCs that are not bound?

[2017-07-13 14:15] mfojtik commented on #15168
@jwforres as far as i remember when the RWO volumes are bound to a DC with rolling strategy we fail but the error is hidden in events and it is not really clear ;-) (you get some nasty storage error)...

Maybe time for:
![gsmarena_001](https://user-images.githubusercontent.com/44136/28170692-6ede73da-67e6-11e7-980d-8669c925065c.jpg)

:-)

[2017-07-13 14:40] smarterclayton commented on #15127
A couple of other thoughts:

1. we are saturated in network bandwidth upstream at 80mb/s right now.
 that means that allocating more than 80mb/s doesn't make sense.  we may
want to track the rate at which the driver is uploading data and compare it
to the rate at which we are allocating buffers - if one is greater than the
other, we should be waiting
2. it's acceptable to slow down the rate of chu

[2017-07-13 14:43] smarterclayton commented on #15168
I don't know that it's a warning necessary - it's totally valid to do this
for a deployment.  In fact, this is the correct way on openshift today to
do a DB at scale 1 on AWS or gce.  So warning is a bit much.  *But*, it's
probably something we should "inform" them of if they have scale > 1, and
they'd might be better off with recreate for scale 1 (the advantage of
rolling is that the new pod will

[2017-07-13 14:46] naveen408 commented on #15176
i am  still struggling to find information  why it is failing  at readiness..

Here is the   DC  config  information ..

apiVersion: v1
kind: DeploymentConfig
metadata:
  creationTimestamp: 2017-07-12T15:57:04Z
  generation: 3
  labels:
    app: jws30-tomcat8-basic-s2i
    application: javahello
    template: jws30-tomcat8-basic-s2i
    xpaas: 1.2.0
  name: javahello
  namespace: javahello
  resou

[2017-07-13 14:48] smarterclayton commented on #14915
Debug with piped input should only succeed if the user passed a command
*AND* set --no-tty

On Thu, Jul 13, 2017 at 5:54 AM, Haoran Wang <notifications@github.com>
wrote:

[2017-07-13 15:00] marekjelen commented on #15168
@smarterclayton if I have RWO PV and at the same time `Rolling`, the deployment gets always stuck, even with replicas=1. E.g. in online we do for persistent DBs with `Recreate` strategy by default, and so I went to Online Starter and took these screenshots after switching from `Recreate` to `Rolling`.

![screen shot 2017-07-13 at 16 49 23](https://user-images.githubusercontent.com/156068/28172385-

[2017-07-13 15:06] robstryker opened #15187 "oc rsync fails if 'oc' command has space in it's path"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
oc 3.3.1.5  and  oc 3.5.5.5

##### Steps To Reproduce
1. [step 1]  copy 'oc' command to a folder with spaces in it
2. [step 2]  use full path to call that oc command, and call oc rsync. ex:

home/rob/tmp/with\ spaces/oc rsync --token=xxx  --server=https://192.168.99.100:8443  --i