[2017-09-29 15:11] gabemontero commented on #16613
To clarify, the current implementation is putting the timestamps in the value of the metric, not a label.  If moving them to labels were part of the discussions between @bparees , @jim-minter , and myself, I missed it.  The other parts to line up with my recollections regarding our back and forth on how to further massage.

[2017-09-29 15:16] bparees commented on #16613
Sorry, no, that's just my continued lack of knowledge/terminology showing through.  Move the timestamps to be the value of the data point in my proposal.

[2017-09-29 15:20] gabemontero commented on #16613
On Fri, Sep 29, 2017 at 11:16 AM, Ben Parees <notifications@github.com>
wrote:

np - cool

Also, to make sure it does not get lost, for the proposed
`build_state_counts{buildPhase,buildPhaseReason}`, for completed and
cancelled build phases, the reason is going to be an empty string;  are you
good with that @smarterclayton ?

[2017-09-29 15:26] bparees commented on #16613
and for new, pending+running.  I'm proposing all build states(ie including new, pending, and running) be represented in build_state_counts.  I know that means we're duplicating data you can also get from activebuilds (or activebuilds + stuckbuilds if we have separate metrics for those), but it feels a little more consistent to have counts for all the states in build_state_counts.  We can discuss,

[2017-09-29 16:11] smarterclayton commented on #16613
Yeah, you may have empty string labels.  Definitely don't go above X
cardinality on Reason where X is a 100

On Sep 29, 2017, at 11:20 AM, Gabe Montero <notifications@github.com> wrote:

On Fri, Sep 29, 2017 at 11:16 AM, Ben Parees <notifications@github.com>
wrote:

np - cool

Also, to make sure it does not get lost, for the proposed
`build_state_counts{buildPhase,buildPhaseReason}`, for completed

[2017-09-29 16:19] bparees commented on #16613
we are very comfortably under that.

[2017-09-29 16:55] smarterclayton commented on #16613
It's better to be give more reasons than less reasons.  You may want to
include the active step label too honestly.

On Fri, Sep 29, 2017 at 12:19 PM, Ben Parees <notifications@github.com>
wrote:

[2017-09-29 17:08] #15742 closed

[2017-09-29 17:24] ksemaev opened #16616 "Unable to mount default volumes with default secrets for pod created with cronjob"
The events of all jobs make this warning:
Unable to mount volumes for pod "podname": timeout expired waiting for volumes to attach/mount for pod "project"/"pod". list of unattached/unmounted volumes=[default-token-fzc0r]

The same secret successfully mounts for simple jobs (not cron) and all other pods.

Any advices are much appreciated)

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d

[2017-09-29 17:49] deads2k commented on #16573
Actually fixed here: https://github.com/kubernetes/kubernetes/pull/51633 ?

[2017-09-29 18:14] ironcladlou commented on #16573
@deads2k

Probably want both. https://github.com/kubernetes/kubernetes/commit/928ac582e5ee2bd3ad83808c463cf71145ea78c6 would fix the specific observed panic if the GC started the informers too soon, and  kubernetes/kubernetes#51633 would close any remaining gaps.

[2017-09-29 19:08] jwendell opened #16619 "pod proxying not working"
This used to work before:
[code]
But not anymore on Openshift 3.7. I get the error:
[code]
Did anything in this regard changed in 3.7? Does the user need some special permission now?

##### Version
oc v3.7.0-alpha.0+e5b4a1c-454
kubernetes v1.7.0+695f48a16f
features: Basic-Auth

Server xxx
openshift v3.7.0-0.126.4
kubernetes v1.7.0+80709908fd

[2017-09-29 21:17] jim-minter opened #16622 "CI: use Ansible to deploy TSB for all the e2e tests"
At the moment the TSB e2e tests deploy the TSB themselves - should we be relying on Ansible to do this for us (and thereby at least smoke testing the Ansible functionality)?
@bparees

[2017-09-29 21:50] bparees commented on #16622
Is the rest of the cluster being stood up w/ ansible?  if so i'd be inclined to say yes...  do we have any other patterns like that?  (e.g.do we install logging and metrics that way?)

/cc @ewolinetz @stevekuznetsov

[2017-09-29 21:52] bparees commented on #16622
one challenge to this is it might end up requiring PR linking to get certain changes in (because a change to the TSB requires a change to the ansible installer which is a different repo).

We had PR linking back in the rosie days, not sure if prow offers that or not.

[2017-09-29 21:54] stevekuznetsov commented on #16622
Yes, the rest of the cluster is brought up with the latest Ansible RPMs

Yes.

[2017-09-29 21:54] stevekuznetsov commented on #16622
We will not support PR linking. Your changes have to be backward compatible.

/cc @smarterclayton

[2017-09-29 22:42] smarterclayton commented on #16622
Yes.

On Fri, Sep 29, 2017 at 5:54 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-09-30 14:13] bparees opened #16626 "conformance tests run in serial suite when focus is set"
This run:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/233/

should have only run image_ecosystem tests, but it ran some k8s conformance tests in the serial run.

[code]
corresponds to:

[code]

and then promptly runs:
[code]

Note that there actually are no serial image_ecosystem tests (there are serial build tests).

Perhaps an issue in the --suite logi

[2017-09-30 14:25] bparees commented on #16553
this looks like another instance of the jenkins pod going away/being replaced:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16625/test_pull_request_origin_extended_builds/397/

we seem to think the jenkins pod is jenkins-1-pnj9r so we see lots of errors trying to access it:
[code]

but when we dump state at the end we find this jenkins pod:
[code]

[2017-09-30 15:38] smarterclayton commented on #16626
Does the run have an empty focus?

On Sep 30, 2017, at 10:14 AM, Ben Parees <notifications@github.com> wrote:

This run:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/233/

should have only run image_ecosystem tests, but it ran some k8s conformance
tests in the serial run.

[INFO] Running serial tests with focus \[image_ecosystem\]

corresponds to:

os::lo

[2017-09-30 16:16] bparees commented on #16626
empty as in it does not select anything?  yes, there are no image ecosystem tests in the serial suite.

empty as in it's not set?  no, it's definitely set.

[2017-09-30 16:29] stevekuznetsov commented on #16626
@smarterclayton `test/extended/core.sh` should not [pass](https://github.com/openshift/origin/blob/master/test/extended/core.sh#L15) any conformance suites

[2017-09-30 16:30] stevekuznetsov commented on #16626
/kind bug
/assign @smarterclayton

[2017-09-30 16:31] mangirdaz opened #16627 "oc cluster up master branch broken"
oc cluster up fails due move to array-based clusterNetworkCIDR:

[code]
new generated config:
[code]

Old config:
[code]

error:
[code]

rollback config works, but openshift binary already generates new style config
[code]

@csrwng @jim-minter

[2017-09-30 16:49] bparees commented on #16626
@stevekuznetsov that code isn't running in this case.

we ran this:
https://github.com/openshift/origin/blob/master/test/extended/core.sh#L9

which will exit before we get down to the line you referenced:
https://github.com/openshift/origin/blob/master/test/extended/setup.sh#L6-L29

[2017-09-30 17:04] smarterclayton commented on #16626
I think I'm ORing the focus rather than AND big

On Sep 30, 2017, at 12:49 PM, Ben Parees <notifications@github.com> wrote:

@stevekuznetsov <https://github.com/stevekuznetsov> that code isn't running
in this case.

we ran this:
https://github.com/openshift/origin/blob/master/test/extended/core.sh#L9

which will exit before we get down to the line you referenced:
https://github.com/openshift/origi

[2017-09-30 17:09] bparees commented on #16626
then this fix should result in a nice speedup :)

On Sat, Sep 30, 2017 at 1:04 PM, Clayton Coleman <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2017-09-30 17:12] smarterclayton commented on #16626
Probably not going to get to it before Wednesday

On Sep 30, 2017, at 1:09 PM, Ben Parees <notifications@github.com> wrote:

then this fix should result in a nice speedup :)

On Sat, Sep 30, 2017 at 1:04 PM, Clayton Coleman <notifications@github.com>
wrote:

https://github.com/notifications/unsubscribe-auth/AEvl3nUiXWOdMU1nYKvmcjQcC6zy4fXXks5snnSYgaJpZM4Ppkju

--
Ben Parees | OpenShift

—
You are

[2017-09-30 17:12] enj commented on #16611
Added to 3.7 pick list #16361 so this should be closed once that is done.

[2017-09-30 17:32] bparees commented on #16626
i don't think it's urgent.

On Sat, Sep 30, 2017 at 1:12 PM, Clayton Coleman <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2017-09-30 20:16] smarterclayton opened #16628 "DaemonSet creates many different pods during termination"
It looks like the daemonset is racing against itself and doing crazy things:

Created a DS, stabilized and started pod on only node.  Then I deleted the pod.  I saw the DS create several successive pods before completing.  This looks like the DS is racing with itself:

[code]

It looks like it creates 7! pods before finally deciding it has one it likes.  Not good.

[2017-09-30 20:17] smarterclayton commented on #16628
@openshift/sig-master

[2017-09-30 20:38] stevekuznetsov commented on #16626
Ugh the number of times I've gotten confused by `os::test::extended::focus` naming ... +1

[2017-09-30 23:21] smarterclayton commented on #16628
[code]

[2017-09-30 23:22] smarterclayton commented on #16628
Ah... was a pod declaring a host port

[code]

Hrm... This is kind of sucky.

[2017-10-01 02:03] enj commented on #16611
@liggitt was closing this intentional?

[2017-10-01 03:10] liggitt commented on #16611
no, that was github being clever...

[2017-10-01 03:14] smarterclayton opened #16629 "ARP error from openshift-sdn metrics"
[code]

You may not be getting any metrics from the node

[2017-10-01 08:05] zgalor commented on #16552
@holgerkoch haven't tried that myself.
If grafana is outside of the prometheus pod it will have to connect via the proxy, using openshift admin token in the Authorization header:
`"Authorization: Bearer $TOKEN"`

If grafana headers can't be modified, as a workaround, you can deploy grafana in the same pod, and connect via clear http without the proxy.

[2017-10-01 14:48] rhuss commented on #13930
So, is it correct that it doesn't work on 3.5.0, right ?

[2017-10-01 17:10] smarterclayton opened #16630 "openshift-sdn does not tolerate being restarted"
When working with the bootstrap code (https://github.com/openshift/origin/pull/16571) I'm seeing that restarts of the networking process (sdn, proxy, dns) result in multi-tenant SDN connectivity being lost when the new process comes up.  The pods remain reachable while the old process is terminating, but creation results in the existing pods having no connectivity.

Scenario:

1. ovs in a separate

[2017-10-01 17:20] smarterclayton commented on #16630
Questions:

1. should openshift-sdn be reentrant when OVS and kubelet haven't restarted (expect so)
2. is this because the bridge is being reset?
3. am I missing something in the configuration of the pod that would prevent reestablishment (link to definition: )

Other follow up:

1. is hostPID necessary or can we do an indirection to look up the proc for the NS when we assign pods (wouldn't have e

[2017-10-01 20:14] smarterclayton commented on #16630
@openshift/sig-networking

[2017-10-01 22:42] smarterclayton opened #16632 "openshift-sdn network restart terminates run once pods immediately"
The CRI net namespace restart function when openshift-sdn restarts is terminating run once pods that may not need networking, leading to failures.

It's not clear to me that completely terminating all run-once pods on a node when the sdn process is disrupted is correct.

[code]

[code]

@openshift/sig-networking

[2017-10-01 22:54] smarterclayton commented on #16627
@openshift/networking

We may have to update this change by defaulting the new list to the singleton value and then during validation allowing it to continue if they're equal.

[2017-10-01 22:56] #14029 closed

[2017-10-01 22:57] #5135 closed

[2017-10-01 22:57] #5694 closed

[2017-10-01 22:57] #7552 closed

[2017-10-01 22:57] #8000 closed

[2017-10-01 22:57] #8179 closed

[2017-10-01 22:57] #9292 closed

[2017-10-01 22:57] #10821 closed

[2017-10-02 00:29] lauer3912 commented on #14184
Cannot create persistent volume claim "mysql". persistentvolumeclaims "mysql" is forbidden: exceeded quota: 6170702e726f6d616e79736f667440676d61696c2e636f6d-noncompute, requested: requests.storage=1Gi, used: requests.storage=0, limited: requests.storage=0.

[2017-10-02 00:32] jtcressy commented on #14995
It looks like this issue is fixed in kubernetes with https://github.com/kubernetes/kubernetes/pull/39752 and is staged for origin 3.7 release, however it looks like 3.7's release is months away just by glancing at the current roadmap.

Is there any way we can backport a workaround for this issue? I haven't looked too deeply at the code just yet.

I apologize for the impatience but i'm having sever

[2017-10-02 01:09] tapas4java commented on #14184
@lauer3912 You have to increase your Quota limit by adding payment method to Google account

[2017-10-02 01:17] smarterclayton commented on #16630
Looks like entire openshift node doesn't support restart?  This seems... broken...

[2017-10-02 01:17] lauer3912 commented on #14184
@tapas4java Where to increase the quota?  I can not find ah

[2017-10-02 02:45] tapas4java commented on #14184
[Here](https://cloud.google.com/compute/quotas)

[2017-10-02 10:18] mfojtik commented on #16222
Just want to confirm the expected behavior of this command used with "deployments":

1) If D has no triggers defined, should this mutate the RS template (like adding an annotation with a timestamp?)
2) If D has triggers defined but automatic=false, should this just mimic `oc set image` and update the image fields in deployment template to match the latest IS version?
3) If D has triggers defined a

[2017-10-02 10:35] mfojtik commented on #16612
hrm. this only happens to me on the rebase branch, the reason for this seems to be that CRIO cadvisor depends on cadvisor common which imports inotify...

[2017-10-02 10:36] mfojtik commented on #16612
[code]

[2017-10-02 10:38] kargakis commented on #16222
I am not sure about 1 and 3 but we definitely want to resolve the image(s) when automatic is false in the annotation.

cc: @smarterclayton

[2017-10-02 10:41] mfojtik commented on #16612
This was fixed in https://github.com/openshift/origin/pull/16599
@soltysh needs to bump the rebase branch :)

[2017-10-02 10:41] #16612 closed

[2017-10-02 12:05] mfojtik commented on #16222
The `oc set image deployment/foo image=istag:latest` should mutate the deployment image field to match the latest tag if the "istag:latest" image.

To be consistent with the DC, the 1) and 3) are important because for deployment they don't make a lot of sense (upstream deployments don't run as jobs that can be retried or re-runned). Not sure if trying to make them behave like DC is the right direc

[2017-10-02 12:18] nouhouari commented on #16272
You can use
`oc port-forward <pod> 1521`
to forward the pod port locally. You should be able to connect to localhost:1521.

But, using the official image can't work. Openshift will not run as **oracle** user.
It will use a root user based on project users range.
I've done some changes on the official image and update the scripts to be able to run.

[2017-10-02 12:24] soltysh opened #16635 "Fix double paths in openapi"
Current [rebase](https://github.com/openshift/origin/pull/16615/) brings us [this change to how openapi generate subresource names](https://github.com/kubernetes/kubernetes/commit/5b7783f1cbc4df062ca6cb849a5cc883676c9bdf). This leads to errors during openapi generation because current operations `createNamespacedDeploymentConfigRollback` and `createNamespacedDeploymentConfigRollbackRollback` now h

[2017-10-02 12:36] ksemaev commented on #16616
kubelet logs on node:
`Oct  2 15:19:19 opsnode01 origin-node: I1002 15:19:19.350754  102518 kubelet.go:1847] SyncLoop (PLEG): "deploy-t8jh6_elpass(c0cbe163-a76b-11e7-8990-005056996cbb)", event: &pleg.PodLifecycleEvent{ID:"c0cbe163-a76b-11e7-8990-005056996cbb", Type:"ContainerStarted", Data:"e32bf32a8fd3bf4dfb623b6bea6eba20e5d30d4f3835337399047397407d9646"}
Oct  2 15:19:38 opsnode01 origin-node: I1

[2017-10-02 13:01] kargakis commented on #16222
WIth `oc set image` 1) I cannot use an automatic trigger that I flip between true/false as I see fit and 2) it doesn't work if I have multiple images that I need to resolve in the DC/D.

[2017-10-02 13:05] danwinship commented on #16630
I1001 17:08:44.520570   70577 sdn_controller.go:174] [SDN setup] full SDN setup required

It shouldn't be saying that if nothing (config or code) changed. It should just pick up the existing setup. So that's one problem. (The code to check if things are already set up must not be working in this environment?)

It looks like it's recreating it correctly though. In particular, it runs through a `Pro

[2017-10-02 13:19] mfojtik commented on #16504
I can see that we are copying the secrets from the RC template into the hook pod here: https://github.com/openshift/origin/blob/master/pkg/apps/strategy/support/lifecycle.go#L378

I also checked the 1.5 and we do the same. What version of deployer pod you run? Can you double check you run 1.5 deployer pod?

[2017-10-02 13:21] danwinship commented on #16632
It terminates pods if (and only if) it can't re-establish networking to them. The assumption was that kubernetes would restart the pod in that case but I guess that doesn't work in all cases.

But it would only be unable to re-establish networking to them if something went wrong during the restart. This is basically a dup/extension of #16630.

[2017-10-02 13:23] smarterclayton commented on #16630
I'll dig in and recreate, may ask you guys to help interpret.

On Oct 2, 2017, at 9:05 AM, Dan Winship <notifications@github.com> wrote:

I1001 17:08:44.520570   70577 sdn_controller.go:174] [SDN setup] full
SDN setup required

It shouldn't be saying that if nothing (config or code) changed. It should
just pick up the existing setup. So that's one problem. (The code to check
if things are already

[2017-10-02 13:26] mfojtik commented on #16504
Also I just checked that if I have DC that has imagePullSecrets set to a secret I created and added to DC manually it is automatically copied into the hook pod.

[2017-10-02 14:49] #16592 closed

[2017-10-02 17:34] openshift-sentry opened #16642 "HandleError reported a service not found from cache, should be ignored if not a real issue"
https://sentry.io/red-hat/openshift-3-dev-preview-int/issues/360707303/

[code]

[2017-10-02 18:15] gabemontero commented on #14348
shall we close due to age?

[2017-10-02 18:24] bparees commented on #14348
seems reasonable, certainly haven't seen it in forever and i think the code has changed too.

[2017-10-02 18:24] #14348 closed

[2017-10-02 19:06] bparees commented on #16531
You haven't saved me any pain because now you've given me an IS that can't possibly work in my second cluster because it's referencing an internal ip address of my first cluster.

[2017-10-02 19:10] bparees commented on #16472
@jim-minter it's probably worth cleaning up the custom builder image example to have it actually process the build json in the BUILD env, though it should also still demonstrate using the helper env variables like SOURCE_URI that we inject.

[2017-10-02 19:11] bparees commented on #16528
@magick93 what is your current state on this issue?

[2017-10-02 19:18] bparees commented on #14022
@juanvallejo @fabianofranz bump. thoughts?  ^^

[2017-10-02 19:20] bparees commented on #6996
@jhadvig bump.  please see my question 2 comments up.

[2017-10-02 19:20] bparees commented on #5776
@jim-minter several people have tried and failed at this but i have faith in you.

[2017-10-02 19:36] smarterclayton commented on #16630
Added debugging:

[code]

From this line in alreadySetUp()

[code]

[2017-10-02 19:38] smarterclayton commented on #16630
Master config for networking:

[code]

and kube

[code]

[2017-10-02 19:41] juanvallejo commented on #14022
@bparees

I agree, a solution could be to ignore resources that are not found by default and have a flag that explicitly asks the command to fail: `--ensure-found` or something similar. We would probably have to deprecate the `--ensure-not-found` flag first, however. wdyt?

[2017-10-02 20:03] bparees commented on #14022
It sounds reasonable (I assume you meant to say deprecate `--ignore-not-found`) to me.

[2017-10-02 20:32] bparees commented on #9550
trello'd: https://trello.com/c/RgCp1ddh

[2017-10-02 20:32] #9550 closed

[2017-10-02 21:37] smarterclayton commented on #16630
Thanks for the fix.

One question as well - should we have a baby sitter that can detect when we are missing large numbers of flows and retriever setup?  Crashloop, perhaps?  I.e. if i shoot OVS, how long before the SDN controller detects that and fixes it?

Ideally having a periodic that refreshes within a window would be ideal - the faster we can detect a failure from OVS the better

[2017-10-02 21:45] karmab commented on #16627
is there a workaround for new installs ( willing to test latest asb)

[2017-10-02 21:47] smarterclayton commented on #16632
Yeah, we should probably not be restarting restart=Never pods, because there is nothing we can do anymore (its network is going to continue broken, it's up to the container to die).

[2017-10-03 01:12] bparees commented on #9584
this has been turned into a trello card: https://trello.com/c/o8tqoSAp/1345-support-importing-from-registries-having-delegated-authorization

[2017-10-03 01:12] #9584 closed

[2017-10-03 02:36] enj opened #16648 "Correctly handle custom resource.group with SAR commands"
Commands like `can-i` and `who-can` do the wrong SAR when the `resource.group` does not have a rest mapper (custom resource that is not part of the API).

[2017-10-03 04:07] smarterclayton opened #16650 "StatefulSet doesn't support log viewing"
[code]

We need to fix this - stateful sets are now being used in more places.

@openshift/sig-user-interface

[2017-10-03 05:09] smarterclayton commented on #16630
Holding open to close out whether we need to do more (if we're going to be running in a pod setup) to be resilient to OVS restart.

[2017-10-03 08:18] tnozicka commented on #15792
Ignoring other errors is wrong and I that can be fixed fairly easily.

@enj or should we move this self SAR as you suggested? I didn't have the opportunity to meet that code yet so I would appreciate some pointers if this is the correct path or if you want to take it, it's yours :)

[2017-10-03 09:13] yastij opened #16653 "k8s revendoring & dnsmasq exploit"
Hello guys, I wanted to know if origin is safe against [this](https://security.googleblog.com/2017/10/behind-masq-yet-more-dns-and-dhcp.html) ? (i.e. is it sync with kubernetes to merge patches like this)

@liggitt @smarterclayton @deads2k

[2017-10-03 09:33] mfojtik commented on #16619
cc @openshift/sig-security

[2017-10-03 09:46] mfojtik commented on #16653
/sig security

[2017-10-03 10:56] mfojtik opened #16654 "[Conformance][templates] templateinstance impersonation tests should pass impersonation creation tests [Suite:openshift/conformance/parallel]"
Details: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16652/test_pull_request_origin_extended_conformance_install_update/7228/

[code]

[2017-10-03 11:59] soltysh commented on #16531
Hmmm... none of the approaches is ideal, to be honest. We went with this one as a convenience, but I feel the other options has similar pros and cons as this one.

[2017-10-03 12:02] liggitt commented on #16653
Origin does not ship dnsmasq. Ansible configures dns to make use of installed platform dnsmasq, which is fixed by normal RPM distribution

[2017-10-03 12:03] liggitt commented on #16653
dnsmasq was not part of kubernetes/kubernetes, but of kubernetes/dns, which openshift does not use

[2017-10-03 12:03] #16653 closed

[2017-10-03 13:11] tnozicka commented on #16222
`1) ` is a rolling restart

Having multiple RS just for rolling restart seems not ideal; your history will be polluted by the same RS and when you reach revisionHistoryLimit there might not be a single RS to rollback to as all might be the same differing only in that timestamp annotation

But implementing it that way might be confusing as it wouldn't result in creating new RS. Depends if that's an

[2017-10-03 13:56] bparees commented on #16531
Yeah, well that's why i reopened the issue  :)  Seems like we need to think about it some more.  We've been having other discussions around resource export behavior as well, @csrwng probably has some opinions.

[2017-10-03 14:24] csrwng commented on #16531
sorry closed by mistake :)
Exporting the reference to the internal registry seems of very limited use to me. It would make sense if we exported the actual binary for the image (as I would like for us to do when exporting for backup/copy). But other than that, maybe it should contain the reference only if there's a public registry endpoint configured?

[2017-10-03 15:00] gabemontero commented on #16654
passes for me locally with a fresh build after rebasing from origin master this AM, so certainly seems like a flake vs. full on regression

[2017-10-03 15:01] gabemontero commented on #16654
oh, and the failure was with the `impersonatebygroupuser` user on `should pass impersonation creation tests`

[2017-10-03 15:11] benjaminapetersen commented on #16650
We have a [trello card](https://trello.com/c/M4fAYrUT) for this in the Backlog.

@spadgett

[2017-10-03 15:12] benjaminapetersen commented on #16650
Oop, my mistake, that trello card is for UI once the APIs exist.  Think you may have created this issue to ensure the APIs exist 😄

[2017-10-03 15:16] gabemontero commented on #16654
Potentially, the associated errors in the master log (at least they occur during the time frame of the failed test):

[code]

[2017-10-03 15:37] danwinship opened #16660 "Validate that IP addrs are IPv4 where we only support IPv4"
Several networking API objects contain IP addresses or CIDR ranges, where their validation functions check that they are IPs/CIDRs, but we don't check that they're IPv4, even though that's all we support (and the code may potentially do broken things if you put an IPv6 address there).

[2017-10-03 15:38] sosiouxme commented on #16471
Looks like @deads2k took care of this for everyone in https://github.com/openshift/origin/pull/16606

[2017-10-03 15:38] #16471 closed

[2017-10-03 15:41] #16650 closed

[2017-10-03 16:13] gabemontero commented on #16654
re: chat with @jim-minter on IRC the above error logs are not relevant ... basic benign concurrent access noise

[2017-10-03 16:25] gabemontero commented on #16654
also, @jim-minter discovered an apparent journald gap wrt API/REST invocations during the error window.

[2017-10-03 16:38] mfojtik commented on #12425
@liggitt if you get time, can you please go through this list and check what we are missing?

[2017-10-03 17:18] #16613 closed

[2017-10-03 17:24] jim-minter commented on #16654
I haven't a clue what's causing this, and I think our logs are useless because of journald rate limiting.  https://github.com/openshift/openshift-ansible/issues/5642.  @bparees fyi.

[2017-10-03 17:29] gabemontero opened #16662 "test_branch_origin_extended_image_ecosystem basic deploy timeout"
See https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/237/display/redirect from the devexp overnight ext test runs

Basic launch of jenkins via the jenkins-ephemeral template (https://raw.githubusercontent.com/openshift/origin/master/examples/jenkins/jenkins-ephemeral-template.json) timed out.

When looking at the post failure diagnostic dump, these series of

[2017-10-03 17:55] bparees commented on #15127
Rate limiting capabilities were added (but must be manually configured/enabled) to address this.  We also have a trello card to default rate limiting on when using the s3 driver:  https://trello.com/c/wpOMfa0X

so i am closing this issue.

[2017-10-03 17:55] #15127 closed

[2017-10-03 17:57] bparees commented on #15903
haven't seen recurrences so will close, but agree this was probably a networking issue (hopefully an intermittent one).

[2017-10-03 17:57] #15903 closed

[2017-10-03 18:02] stevekuznetsov commented on #16662
`manifest unknown: manifest unknown` makes me think @mfojtik

[2017-10-03 19:36] yastij commented on #16653
@liggitt - thought that you were based on kubernetes/dns, thanks for the insight

[2017-10-03 20:31] #16306 closed

[2017-10-03 21:37] luispimenta opened #16666 "Install origin-m4"
I'm trying to install the openshift origin-m4 with the command:

##### Steps To Reproduce
1. sh <(curl -s https://install.openshift.com/origin-m4)

##### Current Result

/dev/fd/63: 2: /dev/fd/63: Syntax error: newline unexpected

I can not continue the origin-m4 installation

[2017-10-03 21:45] jim-minter commented on #16472
Ech.

None of ORIGIN_VERSION, PUSH_DOCKERCFG_PATH or DOCKER_SOCKET are retrievable from BUILD.  The latter two are theoretically constants.

OUTPUT_REGISTRY and OUTPUT_IMAGE are retrievable in principle but my opinion is that the effort to do this correctly inside the builder doesn't justify the effort, especially if using bash.

FWIW, SOURCE_REPOSITORY/SOURCE_URI, SOURCE_CONTEXT_DIR and SOURCE_RE

[2017-10-03 21:56] JamesDrummond commented on #16563
Looks like it's an issue with my setup. Was able to get it to work on Linode server that is not VPS. Going to close this. If I figure out how to make it work on scaleways I will update this post.

[2017-10-03 21:56] #16563 closed

[2017-10-03 22:12] Iambchop commented on #15007
I hit this today upgrading from 1.5.1 to 3.6.0:
[code]

Running the playbooks from:
[code]

The OAuthClientAuthorization that failed was from a deleted project:
[code]

I just deleted that oauthclientauthorization and reran the playbook to move on.

[2017-10-03 23:19] bparees commented on #16472
I sort of agree that encouraging people to parse json in bash scripts is not great, but i don't know how to split the difference of:

1) we need to show people how to access all the build fields they might care about, not just the ones we provide as env variables
2) we should do that using a simple example that people can easily understand/copy, as @hemmop is (reasonably, imho) asking for.

I don'

[2017-10-03 23:30] smarterclayton opened #16668 "Slow tests"
The origin tests in this list should be marked as [Slow] unless they are absolutely critical to us.  Or sped up.  From https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16453/test_pull_request_origin_extended_conformance_install_update/7265/

@bparees @mfojtik

[code]

[2017-10-03 23:32] bparees commented on #16668
we're running stuff in parallel at this point right?  it's a bit hard to judge how long anything might take.

what is the cut off for a "slow" test?

and what does tagging it [slow] buy us?

[2017-10-04 01:02] #16627 closed

[2017-10-04 01:02] #14863 closed

[2017-10-04 02:26] smarterclayton commented on #16668
Forces everyone to think about whether their tests are being pedantic and
reinventing the wheel, or effective and fast.

On Oct 3, 2017, at 7:33 PM, Ben Parees <notifications@github.com> wrote:

we're running stuff in parallel at this point right? it's a bit hard to
judge how long anything might take.

what is the cut off for a "slow" test?

and what does tagging it [slow] buy us?

—
You are recei

[2017-10-04 02:53] #16479 closed

[2017-10-04 08:20] mfojtik commented on #16668
@tnozicka @kargakis i'm fine to mark the reaper test as slow but we should check whether it is possible to speed the rest of the test up.

[2017-10-04 08:31] mfojtik commented on #16666
That link is 404, where did you find that instructions?

[2017-10-04 10:28] kargakis opened #16670 "Downgrading from clusterroles to roles"
I deleted a clusterrole in prow and created the respective role since all components run and crud stuff inside a namespace.
[code]
but it seems that the service account is still trying to use the missing clusterrole
[code]
I recreated the sa and the deployment but the error seems to persist.

@enj

[2017-10-04 10:40] kargakis commented on #16670
In the meantime, I have rolled back to clusterroles.

[2017-10-04 10:44] tnozicka opened #16671 "DC trigger doesn't work correctly"
Some revisions are skipped, some are deployed twice. Definitely not the expected behaviour.

[code]

[2017-10-04 10:47] tnozicka commented on #16671
fixed by #14910

[2017-10-04 10:52] pkdone commented on #16424
@pweil- (CC @childsb) Apologies for the delay. I just tried by using your suggeted command, before deploying any k8s resources:

`oc adm policy add-scc-to-user anyuid system:serviceaccount:default:default`

..and it worked. I was able to deploy the secured MongoDB cluster successfully and the secrets file-permissions were correctly reflected in the running container.

I assume this workaround is l

[2017-10-04 11:14] mfojtik opened #16672 "[Conformance][templates] templateinstance readiness test should report ready soon after all annotated objects are ready [Suite:openshift/conformance/parallel]"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/14910/test_pull_request_origin_extended_conformance_gce/9076/

[2017-10-04 11:15] mfojtik opened #16673 "[Conformance][templates] templateservicebroker security test should pass security tests [Suite:openshift/conformance/parallel]"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/14910/test_pull_request_origin_extended_conformance_gce/9076/

Also note that this test took 1h to complete, we should probably lower the timeouts?

[2017-10-04 11:46] luispimenta commented on #16666
Runing :

`sh <(curl -s https://install.openshift.com)`

Return :

[code]

[2017-10-04 12:03] SpeedBlack opened #16674 "Private registry authentication - share a secret automatically across all projects"
Hello,

We have a functional OCP plaform v3.5.
We need to change the "Redhat" registry (registry.access.redhat.com) with a personal external registry.

My external registry use basic authentication (htpasswd).
On each node i run docker login and then copy $HOME/.docker/config.json to /var/lib/origin (https://github.com/openshift/origin/issues/13918). It's OK but, I have a last problem during the b

[2017-10-04 12:10] mfojtik commented on #16673
@jim-minter actually i'm not sure if this is flake or we broke this by removing the trigger controller, but since only this tests are failing...

[2017-10-04 12:10] mfojtik commented on #16673
Also we see this a lot today, maybe be well related to infrastructure or docker hub.

[2017-10-04 12:20] tnozicka commented on #16673
The errors I could spot in there: (maybe some of them have been there even before...)

138x - MySQL
[code]

4x - volume/token
[code]

[code]

[code]

[2017-10-04 12:39] pweil- commented on #16424
`anyuid` is an SCC that will allow a pod to run with any value as the  UID/GID.  This includes the root UID/GID.  So you should be aware that containers can and will run as root (but only by subjects who are granted this access).

@childsb - bump, what is the direction upstream with regards to the interaction of `fsGroup` and `defaultMode`?

cc @openshift/sig-storage

[2017-10-04 12:42] jim-minter commented on #16673
@mfojtik got an example link?

[2017-10-04 12:48] mfojtik commented on #16673
@jim-minter see desc: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/14910/test_pull_request_origin_extended_conformance_gce/9076/

[2017-10-04 12:51] jim-minter commented on #16673
@mfojtik I'm already looking at that one.  You said you're seeing this a lot today, do you have a link to other instances (not associated with that PR, for example?)

[2017-10-04 12:55] mfojtik commented on #16673
@jim-minter mostly seen in that PR, several times after retesting...

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/9076/consoleFull#24991624156cbb9a5e4b02b88ae8c2f77
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/9074/consoleFull#-45662440256cbb9a5e4b02b88ae8c2f77
https://ci.openshift.redhat.com/jenkins

[2017-10-04 13:00] jim-minter commented on #16673
@mfojtik I'll continue to investigate, but looking very quickly, I think that 9076 != (9074, 9072), and 9074 == 9072.  The error messages on 9076 are different and the behaviour is different.  On 9076 it looped recreating the deployment pods again and again.  Are you confident that you've seen an instance like 9076 not on this PR?

[2017-10-04 13:06] mfojtik commented on #16673
@jim-minter usually one of them or both happens so I suspect they suffer from the same mysql thing that @tnozicka described.

[2017-10-04 13:06] jim-minter commented on #16673
@mfojtik data point: locally on my machine, master has passed these tests twice, and your branch failed looping recreating deploy pods on the first attempt.

[2017-10-04 13:07] mfojtik commented on #16673
@jim-minter what you mean failed recreating deploy pods?

[2017-10-04 13:11] jim-minter commented on #16673
see the events in the log:
[code]

lots of DeploymentAwaitingCancellation, DeploymentCancelled events; 106 mysql-N and mysql-N-deploy pods were created.

[2017-10-04 13:18] mfojtik commented on #16673
@jim-minter thanks, that sounds like something broken in the controller (deployment)

[2017-10-04 13:18] mfojtik commented on #16673
@jim-minter on the other side, it is weird that only templateinstance tests are broken ;)

[2017-10-04 13:22] jim-minter commented on #16673
@mfojtik agreed.  If the root cause is with deployments, it sounds like more test coverage is required there.  If it isn't, I'm standing by to improve the TemplateInstance tests...

[2017-10-04 13:25] ironcladlou commented on #16628
Do you know if the host port was actually free at the time of rejection? If the port was available, and the pod was rejected, that seems like a problem (although it did eventually resolve). Otherwise, it's not clear to me what the problem is.

Aside: where did the DaemonSet come from? Could it be using a NodePort service instead of a host port on the pod spec?

[2017-10-04 13:38] kargakis commented on #16670
[Here](https://github.com/openshift/release/blob/4dfd683bf70f56b7ac69a3a6919da3bf956f2492/cluster/ci/config/prow/openshift/plank_rbac.yaml) is the policy for plank - roles are exactly the same minus the kinds.

[2017-10-04 13:57] bparees commented on #16673
@mfojtik assigning to you based on the last 2 comments, but let's discuss if i got it wrong.

as for increasing the timeout, i assume this only comes close to needing an hour when the tests are failing (because they take so long to fail).  How long are successful runs taking?

[2017-10-04 13:57] bparees commented on #16673
Sorry, you suggested lowering the timeout, not increasing it.  nm.

[2017-10-04 13:58] bparees commented on #16673
and @mfojtik i think we've previously established that it's all devex extended tests that turn up deployment issues :)

[2017-10-04 14:09] danwinship commented on #15754
ping? is this still an issue?

[2017-10-04 14:18] enj commented on #15007
@Iambchop in case you have further issues:

https://docs.openshift.org/latest/install_config/upgrading/upgrading_known_issues.html#upgrading-known-issue-BZ1482978

[2017-10-04 14:23] bparees commented on #16672
@mfojtik is this another issue caused by your broken PR?

[2017-10-04 14:32] enj commented on #15792
I do not have cycles right now to take it, but this should help you get started:

[code]

[2017-10-04 14:35] enj commented on #15792
The response will tell you if the action is allowed (it should only ever error if the server is down or not healthy).

[2017-10-04 14:39] jim-minter commented on #16673
- #16675 covers lowering 1h timeout.
- runs 9072 and 9074 flaked due to the cakephp build failing.

FWIW I think this issue can be closed.

[2017-10-04 14:48] borissenkobogdan commented on #11232
I am used Openshift 3.6
Pushing image docker-registry.default.svc:5000/test1/test1:latest ...
Warning: Push failed, retrying in 5s ...
#####################################################
oc delete svc/docker-registry dc/docker-registry

 oadm registry --config=/etc/origin/master/admin.kubeconfig --service-account=registry
######################################################
oc get pods

 oc lo

[2017-10-04 14:55] jim-minter opened #16676 "flake: error: build error: Failed to push image: unauthorized: authentication required"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16453/test_pull_request_origin_extended_conformance_gce/9072/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16669/test_pull_request_origin_extended_conformance_gce/9074/

Both appear to have cakephp builds which failed with the following:

9072, nodes/3ls7/journals/docker.service:
[code]

9074, no

[2017-10-04 14:55] jim-minter commented on #16676
@mfojtik @gabemontero fyi - this wasn't a simple cakephp flake
@bparees please could you assign?

[2017-10-04 15:08] jim-minter commented on #16676
on 9074, masters/djkm/journals/docker.service, from 09:49:12-09:49:13, lots of:

[code]

Curious that the user here is system:anonymous - @bparees is it possible that the build doesn't have a push secret?

[2017-10-04 15:09] jim-minter commented on #16673
issue for 9072 and 9074: https://github.com/openshift/origin/issues/16676

[2017-10-04 15:13] bparees commented on #16676
possible.  I think you need to add this to the template broker tests...we do it in our other build tests:
[code]

it ensures the builder svc account exists and has the docker secret created.

[2017-10-04 15:13] bparees commented on #16676
(based on that i'm going to leave this assigned to you for now)

[2017-10-04 15:19] enj commented on #16670
The `clusterrole.rbac.authorization.k8s.io "plank" not found` is a good indicator of what is wrong.  Specifically, the role reference kind has no meaning in origin authz.  You need to directly specific a namespace at https://github.com/openshift/release/blob/4dfd683bf70f56b7ac69a3a6919da3bf956f2492/cluster/ci/config/prow/openshift/plank_rbac.yaml#L41-L44 for it to understand that you mean to refer

[2017-10-04 15:23] jhalliday opened #16679 "dockerfile builds don't respect USER directives, even with anyuid permission"
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

For the build config given below, it is desired that
a) the 'sleep' command in the docker file run as root
b) a shell opened though the web console or by 'oc rsh' run as root.
Neither of these things occurs, given the following steps:

(as system:admin)
[code]

(as developer, in project myproject)
[code]

[code]

[code]

[2017-10-04 15:25] jim-minter commented on #16519
@akram bump :)

[2017-10-04 15:26] smarterclayton commented on #16668
Why the heck is the reaper slow?

On Wed, Oct 4, 2017 at 4:20 AM, Michal Fojtik <notifications@github.com>
wrote:

[2017-10-04 15:27] smarterclayton commented on #16628
This is SDN, it's on host network, no (can't use node port).

The problem is we shouldn't be racing like this.  It looks like a DS bug.
It may mean host port releasing is not being done consistently in the
kubelet.

On Wed, Oct 4, 2017 at 9:26 AM, Dan Mace <notifications@github.com> wrote:

[2017-10-04 16:07] jim-minter commented on #16273
AFAICS, during startup, the following series happens when getting /healthz at startup:
1- until listener open, can't connect (obviously)
2- 403 until rbac roles set up
3- 500 until all post-start hooks done
4- 200

[2017-10-04 16:10] jim-minter commented on #16273
(I'm not saying that's what should happen, just that's what I'm seeing).

In https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16678/test_pull_request_origin_cmd/4092/ , the server never finishes all its post-start hooks (evidently including initialising  RBAC); it dies after 18 seconds with

[code]

The test waiting for healthz ok hangs around for 160 seconds.  This explai

[2017-10-04 16:12] tnozicka commented on #16668
@smarterclayton it waits deploymentRunTimeout (5m) for the deployment to fail and than tests reaping.

Not ideal, could be rewritten.

[2017-10-04 16:13] jim-minter commented on #16273
Also

[code]

[2017-10-04 16:28] smarterclayton commented on #16668
We can tune that timeout, right?

On Oct 4, 2017, at 12:12 PM, Tomáš Nožička <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> it waits
deploymentRunTimeout (5m) for the deployment to fail and than tests reaping.

Not ideal, could be rewritten.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.

[2017-10-04 16:28] smarterclayton commented on #16668
We can do a custom deployment that always fails.

On Oct 4, 2017, at 12:12 PM, Tomáš Nožička <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> it waits
deploymentRunTimeout (5m) for the deployment to fail and than tests reaping.

Not ideal, could be rewritten.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2017-10-04 16:52] jim-minter commented on #16273
Current theory: I think we intend to run etcd on tmpfs, but we're not, and we're getting hit by underlying filesystem latency.

From scripts/env/logs/scripts.log:

[code]

[2017-10-04 18:34] enj commented on #16670
@kargakis please close this once you get the roles and bindings sorted.

[2017-10-04 18:50] #16496 closed

[2017-10-04 18:50] #14909 closed

[2017-10-04 19:34] rootfs commented on #16424
@sjenning (for expert input) @pweil-
fsGroup has impact on the defaultMode. Per [this line](https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/volume/volume_linux.go#L84), the roMask (0440) is "or"ed with your secret mode (0400) and results in a 0440 (what you saw).

That "or" should rather be "and"

[2017-10-04 20:21] fabianofranz commented on #16460
/unassign
/assign @liggitt @deads2k

[2017-10-04 20:25] liggitt commented on #16460
upstream commands use `kubectl create rolebinding my-binding --clusterrole=edit --serviceaccount=sa-namespace:sa-name --namespace=mynamespace`... I'd expect to move in that direction in 3.7 timeframe

[2017-10-04 20:51] kargakis opened #16687 "kubectl fails with origin aliases"
[code]
@openshift/sig-user-interface

[2017-10-04 21:05] hundt opened #16688 "/etc/resolv.conf set incorrectly"
After upgrading to 3.6 (from 1.5), I noticed that /etc/resolv.conf inside containers is now pointing to an *endpoint* for the kubernetes service instead of the service IP.

##### Version
[code]

##### Steps To Reproduce
1. Start a pod
2. Run `cat /etc/resolv.conf` inside a container

##### Current Result

First line is `nameserver 10.247.107.11`

##### Expected Result

First line is `nameserver 17

[2017-10-05 01:09] smarterclayton opened #16691 "Flake: cgroup.procs not found during volume test"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16545/test_pull_request_origin_extended_conformance_gce/9136/

[2017-10-05 01:10] smarterclayton commented on #16691
Novel new flake in cgroups @openshift/sig-master

[2017-10-05 03:58] bparees commented on #15941
@liggitt @deads2k and possibly @knobunc see above question about mixed up certs please.

[2017-10-05 07:47] #16673 closed

[2017-10-05 08:01] sureshpalemoni opened #16694 "How to acceess the UI on 443 instead of 8443?"
I am not able to access the master GUI outside my tenant n/w with 8443 as port is blocked. I have tried to create routes and change the master-config file but still no luck.

I followed this link: https://blog.openshift.com/run-openshift-console-port-443/

Could anybody explain how to setup gui with port 443?

[2017-10-05 09:39] mfojtik opened #16695 "Copy source template ObjectMeta when DC creating replication controller"
The DC template spec has optional 'ObjecMeta' field that we copy annotations and labels into every RC created by this DC. However, we don't copy other fields (like `name` or `namespace` or `ownerRefs`. This means creating a DC with these fields will cause endless chain of rollouts as those are not part of the latest RC and the diff between DC and latest RC results into a config change triggered ro

[2017-10-05 09:42] mfojtik commented on #16695
@smarterclayton @kargakis FYI

[2017-10-05 09:54] mfojtik commented on #16695
Discussed with @kargakis this is actually not a bug.. We compare encoded DC in RC with latest DC and only when that changes we trigger. In my PR I was comparing the DC.template vs. latest RC.template (which is what upstream is doing).
Unfortunately if users done any modification to their RC having my behavior will nuke their changes as the DC controller will think there was a config skew and trigg

[2017-10-05 12:47] deads2k commented on #15941
That message indicates that the client is requesting a particular DNS name, but that message does not indicate what IP was actually used to reach the docker registry.  A blind guess would say that you ended up  hitting an external, re-encrypt route's IP for the docker registry.

[2017-10-05 13:25] #16676 closed

[2017-10-05 14:05] gabemontero commented on #16585
FYI - this is ultimately blocking the 3.7 card https://trello.com/c/EXHlyops/1230-5-use-groups-extra-information-for-authorization-in-template-service-broker-templatebroker from being accepted.

[2017-10-05 14:08] #16672 closed

[2017-10-05 14:39] ironcladlou commented on #16628
/xref https://github.com/openshift/origin/pull/16571/commits/c72759bdc589694d81996b5f2ce3d6ab90c8ecaa

[2017-10-05 15:09] simo5 commented on #16585
circling in @enj too.
Is the ask here to change the bootsrap roles to allow this ?

[2017-10-05 15:13] gabemontero commented on #16585
On Thu, Oct 5, 2017 at 11:09 AM, Simo Sorce <notifications@github.com>
wrote:

I believe so.

At least for the `oc cluster up --service-catalog` path, we are talking
https://github.com/openshift/origin/blob/master/pkg/oc/bootstrap/docker/openshift/servicecatalog.go#L46-L74
,
and updating the view role to get/list for sure, and maybe watch.

—

[2017-10-05 15:15] spadgett commented on #16585
The web console needs instance and binding watch

[2017-10-05 15:47] mguillem opened #16699 "Restrictions on file rights get lost at next mount for AWS cloud provider"
User read only files created in a mounted persistent volume have user and group read/write rights at next mount.

##### Version
OpenShift Master:    v3.6.0+c4dd4cf
Kubernetes Master:    v1.6.1+5115d708d7

##### Steps To Reproduce
1. Create a new project from catalog with a persistent volume (for instance with _MariaDB (Persistent)_)
2. connect per ssh to the pod and create a file in the mounted vo

[2017-10-05 15:55] simo5 commented on #11837
@enj @stevekuznetsov is this really a P1 ?
If so we clearlyned to hand this to someone else as it is not getting done.

[2017-10-05 16:03] stevekuznetsov commented on #11837
If nobody is missing this, then it seems ok to bump down from p1

[2017-10-05 17:00] dcbw opened #16702 "[flake] ci/openshift-jenkins/origin/unit TestServerRunWithSNI failure"
[code]

[2017-10-05 17:02] dcbw opened #16703 "[flake] ci/openshift-jenkins/integration TestScopedProjectAccess failure"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16661/test_pull_request_origin_integration/8912/

[2017-10-05 18:02] dcbw commented on #16702
a retest passed, so maybe this isnt too serious

[2017-10-05 18:07] tnozicka commented on #16370
seen in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/14910/test_pull_request_origin_unit/3869/

[2017-10-05 18:13] tnozicka commented on #11315
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/14910/test_pull_request_origin_extended_networking_minimal/8761/

[code]

[2017-10-05 18:27] enj commented on #16585
@bparees please update `pkg/oc/bootstrap/docker/openshift/servicecatalog.go` if you agree with this change.  I suggest changing your rules to be `RuleOrDie` since you should never have an error.

[2017-10-05 18:33] opotmans opened #16706 "Web console reroute the oauth request on private IP address"
We are on an azure machine with a private IP address which NAT to a public one.
In the version 1.3.3 of openshift origin, it seems that the access to the web console on the public ip address reroutes the oauth request to the private IP address which is of course not accessible

##### Version
openshift version 1.3.3 on CENTOS 7.3

##### Steps To Reproduce
Access on the browser web on the url https:

[2017-10-05 18:33] bparees commented on #16585
@pmorie it's my view that service catalog owns getting these roles straightened out both for ansible and oc cluster up.

[2017-10-05 18:36] enj commented on #16585
`oc auth reconcile` is probably useful here.  @deads2k may has some opinions as well.

[2017-10-05 18:44] gnufied commented on #16699
/assign

[2017-10-05 18:50] pweil- commented on #16666
The link provided takes me to a page with the following options:

`oc cluster up` (latest dev release)
`vagrant up` (CDK)
`atomic-openshift-installer install` (OCP)

These are our supported installation methods.  If you're looking to give it a quick spin I'd recommend `oc cluster up` as a quick and easy way to get started.

[2017-10-05 18:50] #16666 closed

[2017-10-05 18:53] pweil- commented on #16670
If this isn't a bug we can just close it now.  Please reopen if something is found.

[2017-10-05 18:53] #16670 closed

[2017-10-05 18:53] pravisankar commented on #16080
created trello card: https://trello.com/c/n4oFM89o

[2017-10-05 18:56] luispimenta commented on #16666
@pweil- But I need the installation of the origin M4.

How can I accomplish it? And not the latest version of openshift.

[2017-10-05 18:59] ironcladlou commented on #15035
Pretty sure this is resolved by:

https://github.com/kubernetes/kubernetes/pull/44408/commits/e63fcf708d104bf6c69033ca0e2321bd826c2b40
https://github.com/kubernetes/kubernetes/pull/51633 (xref https://github.com/openshift/origin/pull/16617)

Please re-open if it happens again.

[2017-10-05 18:59] #15035 closed

[2017-10-05 19:00] ironcladlou commented on #16361
Superseded by https://github.com/openshift/origin/pull/16615 and https://github.com/openshift/kubernetes/pull/42

[2017-10-05 19:10] pweil- commented on #16679
@jhalliday I suspect that your SCC grants are not working as you expected.  Please double check which SCC the pod was launched with by running:

[code]

I did a quick test of the steps and was able to run as the root user:

[code]

[2017-10-05 19:13] pmorie opened #16708 "service-catalog build-go.sh does not use correct GOPATH"
The hack/build-go.sh in service-catalog doesn't use the correct GOPATH.

For example, while testing #16689 locally, it built the source in my system gopath instead of the project source on disk in that directory.

[2017-10-05 19:16] bparees commented on #16674
pretty sure the answer is "we'd never want to allow this" but @mfojtik sharing secrets between projects/SAs seems like it would fall under your area.

[2017-10-05 19:18] spadgett commented on #16694
@sureshpalemoni Have you tried configuring the port as described here?

https://docs.openshift.com/container-platform/3.6/install_config/install/advanced_install.html#configuring-host-port

[2017-10-05 19:20] smarterclayton opened #16709 "Unable to use latest ansible with origin-gce, networking setup failure for docker"
https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/ has been failing since Oct 1 for a small number of flakes which appear related to docker builds accessing the network.  This prevents us from bringing the latest openshift-ansible into the Origin test suites.

It appears this is related to a failure to configure docker and iptables in the correct order, possibly due to Ansible change

[2017-10-05 19:21] smarterclayton commented on #16709
@danwinship @bparees @michaelgugino @sdodson the issue being discussed in IRC.  A test cluster is up that can report the problem.

[2017-10-05 19:26] smarterclayton commented on #16709
Last green run was https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/468/ Oct 1 11:51PM, the next unambiguous failure was https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/470/ Oct 3 at 1:47PM

[2017-10-05 19:28] smarterclayton commented on #16709
That's from roughly openshift/openshift-ansible@a9271345b868ca4e9f858d87dd89a31e324ec858 to openshift/openshift-ansible@478cf5dc597433c75de0f513a26eb77a41c38e38

[2017-10-05 19:29] ironcladlou commented on #16361
Reopening until the TBDs are accounted for

[2017-10-05 19:30] DirectXMan12 opened #16710 "Proxy action always resolves as unsafeproxy, even with authenticated users"
Requests to the proxy subresource are transformed to be the `unsafeproxy` action, even when the users are authenticated and not coming from a direct browser request.

The comment at https://github.com/openshift/origin/blob/050c9eaa0d758e66f576b97da9aef1d9559a563c/pkg/authorization/authorizer/browser_safe_request_info_resolver.go#L56 seems to imply that RBAC subresource should be `proxy` for authen

[2017-10-05 19:34] DirectXMan12 commented on #16710
@deads2k have I missed something tricky here, or did we just not notice this because the HPA e2es aren't enabled and nothing else uses proxy?

[2017-10-05 19:36] DirectXMan12 commented on #16710
FWIW, if I had to guess (haven't done a bisect), this commit probably broke it: 689cdeefd85752b2af78433fb99c8b11fc11f428 -- it's sufficently recent (around the time of https://bugzilla.redhat.com/show_bug.cgi?id=1493057) and seems to reshuffle the related code.

[2017-10-05 19:41] deads2k commented on #16710
/assign enj

I think @enj found this and has an idea to fix it.

[2017-10-05 19:42] pweil- commented on #16666
@adellape I see that all M4 docs have been removed [1] [2].  Where should we be directing folks for older documentation?

[1] https://github.com/openshift/openshift-docs/pull/2819
[2] https://github.com/openshift/openshift-docs/issues/2550

[2017-10-05 19:45] bparees commented on #15695
This continue to be a frequent flake for us, most recently seen here:

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/239/testReport/junit/(root)/Extended/_image_ecosystem__Slow__openshift_images_should_be_SCL_enabled_test_context_using_the_SCL_in_s2i_images__openshift_python_33_centos7__should_be_SCL_enabled__Suite_openshift_/

This container sat in contai

[2017-10-05 19:47] bparees commented on #15941
that would be a scary DNS issue....

[2017-10-05 19:52] bparees commented on #16402
the P0 has been closed and this is still happening:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16684/test_pull_request_origin_cmd/4215/

[2017-10-05 19:55] bparees commented on #16702
i'd consider any unit test flake to be pretty serious.

also hit it here:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16700/origin-ci-ut-origin/83/

[2017-10-05 19:57] bparees commented on #16144
dupe of https://github.com/openshift/origin/issues/16414

(technically this one was first, but that one is getting more attention).

[2017-10-05 19:57] #16144 closed

[2017-10-05 19:58] bparees commented on #16414
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16700/test_pull_request_origin_end_to_end/3729/

[2017-10-05 20:04] bparees commented on #13014
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16698/test_pull_request_origin_extended_builds/427/

`
devicemapper: Error running deviceCreate (ActivateDevice) dm_task_run failed,StartedAt:2017-10-05 18:24:08 +0000 UTC,FinishedAt:2017-10-05 18:24:08 +0000 UTC,ContainerID:docker://cdd5bf0b45d0a538e41aa436ea211138f0c8e75de947506fd8c9ee06ae811d49
`

[2017-10-05 20:29] adellape commented on #16666
The m4 documentation is available at https://github.com/openshift/origin-server/tree/master/documentation.

[2017-10-05 20:33] bparees commented on #16167
looks like a dupe of https://github.com/openshift/origin/issues/16414

(this was older but that one has more traction)

[2017-10-05 20:33] #16167 closed

[2017-10-05 20:52] thomasmckay opened #16712 "As a user, I want an api to get the master-config.yaml"
It would be helpful to be able to get the _master-config.yaml_ information via api (which would naturally lead to making it available via _oc adm_ command).

For my specific use case, I'd like to display the value of _imagePolicyConfig.maxImagesBulkImportedPerRepository_ in the registry UI since it is confusing to new users that only a subset of tags are pulled for imagestreams (default is 5).

[2017-10-05 21:07] #16275 closed

[2017-10-05 22:29] jwhonce commented on #13014
@bparees Do you know if it's possible to see the /etc/sysconfig/docker-storage* files or the `systemctl status docker` of a run with one of these flakes?

[2017-10-05 22:33] bparees commented on #13014
@jwhonce everything that's gathered is here:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_builds/427/s3/

if what you need isn't in there, you can work with @stevekuznetsov to update our test jobs+scripts to get it to start gathering what you need.

[2017-10-05 22:33] jwhonce commented on #16114
@mtnbikenc Are you still seeing the issue with newer docker builds?  Additionally, were you ever able to capture a docker log during an incident?

[2017-10-05 22:34] jwhonce commented on #15893
Please re-open issue if you are still experiencing the issue and can provide necessary information.  Thank you.

[2017-10-05 22:34] #15893 closed

[2017-10-05 22:35] jwhonce commented on #15755
Please re-open issue if you are still experiencing the issue and can provide necessary information.  Thank you.

[2017-10-05 22:35] #15755 closed

[2017-10-05 23:12] smarterclayton commented on #16712
The plan here is that master config is going to be moved into a config map on the server and you'd be able to fetch it as an admin

[2017-10-05 23:13] smarterclayton opened #16714 "oc status should add events with type warning or error to the status output"
Had an RC that was failing to scale up:

[code]

`oc status` didn't show any relevant info.  We should probably add events of type warning or error as warnings or errors in oc status and make them obvious.  We should probably also have the DC controller rolling up conditions onto the DC, and then have oc status show the dc conditions.

[2017-10-05 23:13] smarterclayton commented on #16714
@openshift/sig-user-interface

[2017-10-06 00:12] #16629 closed

[2017-10-06 07:44] soltysh commented on #16635
It was decided we will carry [this patch](https://github.com/openshift/origin/commit/526bd5d44ed7db69a778a249d3fc426841bf6751).

[2017-10-06 07:44] #16635 closed

[2017-10-06 08:38] #16671 closed

[2017-10-06 08:57] mfojtik commented on #16273
yes, this is (known) etcd issue. i believe https://github.com/openshift/origin/pull/16686 should make this better.

[2017-10-06 09:26] mfojtik opened #16716 "TestScopedProjectAccess integration failed"
Not clear to me what failed here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16715/test_pull_request_origin_integration/8960/

[2017-10-06 09:31] jhalliday commented on #16679
hmm, ok, thanks.

[2017-10-06 09:31] #16679 closed

[2017-10-06 10:26] tnozicka commented on #16003
I am lowering this to P2 because we just merged https://github.com/openshift/origin/pull/14910 that should lower the changes of this happening significantly to the level it always was. There is still a very subtle race condition dependent on caches being out of sync that is addressed in https://github.com/openshift/origin/pull/16129 which is waiting on reviews.

[2017-10-06 10:57] thomasmckay commented on #16712
Will there be a way to expose individual config maps to non-admin users? If I have permissions to create imagestreams I would want permission to see the limitations. Otherwise only admins would see that only five tags would ever be pulled and not the average user.

[2017-10-06 11:02] pospispa commented on #15979
I've re-read the description of the issue and the related upstream issues:
- https://github.com/gophercloud/gophercloud/issues/255
- https://github.com/kubernetes/kubernetes/issues/44461
and I believe that this issue is the same as the upstream issues.

As the upstream issues are fixed in Kubernetes 1.7 this issue will be fixed in OpenShift 3.7.

[2017-10-06 12:53] miminar commented on #16626
I've just started working on this. It blocks our registry extended tests #15807.

[2017-10-06 12:53] miminar commented on #16626
/assign

[2017-10-06 13:51] thomasmckay commented on #16712
Does _oc create configmap_ not parse yaml? Worth an RFE? (I tried _oc create configmap master-yaml --from-file=master-config.yaml_)

[2017-10-06 14:12] abstractj opened #16720 "Swagger spec is causing failures on ci/openshift-jenkins/origin/verify job"
While updating my PR https://github.com/openshift/origin/pull/16034. I found this at the logs: https://s3.amazonaws.com/archive.travis-ci.org/jobs/284191227/log.txt?X-Amz-Expires=30&X-Amz-Date=20171006T130447Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20171006/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=b42bd12e348a38887ad53b47874173128c5ebc7b060

[2017-10-06 14:48] smarterclayton commented on #16712
Yes, you can expose individual configs via RBAC.

create config map is adding files as keys in a config map.  If you have
yaml that *IS* a config map, oc create -f configmap.

The master config map would look like the result of (I tried *oc create
configmap master-yaml --from-file=master-config.yaml*) probably

On Fri, Oct 6, 2017 at 9:51 AM, thomasmckay <notifications@github.com>
wrote:

[2017-10-06 15:02] jmprusi opened #16724 "Wildcard routes take precedence over other routes that start with a number"
After some investigation with @hallelujah, we decided to open this issue.

We are deploying a solution on top of Openshift, that uses multiple routes and one optional wildcard route (using wildcardPolicy: Subdomain).

The issue starts when we enable this optional wildcard route: It takes precedence over other routes, rendering them unreachable, but we have noticed that it only overrides routes sta

[2017-10-06 15:08] deanhighmarkit commented on #16504
I have checked the deployer version, openshift/origin-deployer:v1.5.1

Is there any log I can provide to show what the pre container is doing?

[2017-10-06 15:12] smarterclayton commented on #16003
This is must have for 3.7 - it should still be p1 because we don't want to
ship without #16129.  We can't just break deployments and still ship.

On Fri, Oct 6, 2017 at 6:26 AM, Tomáš Nožička <notifications@github.com>
wrote:

[2017-10-06 15:16] soltysh commented on #16716
From my digging it looks like it's the startup of the server that is failing. Still haven't got to root cause, yet.

[2017-10-06 15:17] soltysh commented on #16716
Additional test that I can consistently fail on my machine is `TestInvalidRoleRefs` from that same file.

[2017-10-06 15:28] tnozicka commented on #16003
@smarterclayton the DC controller was creating the same deployment twice which I think was the cause of this issue - see https://github.com/openshift/origin/issues/16671 that was fixed by https://github.com/openshift/origin/pull/14910

The subtle race being fixed in https://github.com/openshift/origin/pull/16129 was always there but I don't mind having that for 3.7 if there is someone to review

[2017-10-06 15:33] juanvallejo commented on #16714
cc @deads2k

[2017-10-06 15:50] smarterclayton commented on #16003
If the race is not a regression then yeah p2 is fine.

On Fri, Oct 6, 2017 at 11:29 AM, Tomáš Nožička <notifications@github.com>
wrote:

[2017-10-06 15:51] gnufied commented on #16699
This is same as https://bugzilla.redhat.com/show_bug.cgi?id=1493881

Basically, we recursively apply 0660 to all files - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/volume_linux.go#L84 and hence the problem.

[2017-10-06 16:20] poonia0arun commented on #15332
I am seeing the same error on my setup when I am using cloud provider as AWS. Node registers itself with Master but it can't start node service. I would like to know what needs to be done.

[code]

[2017-10-06 16:46] simo5 commented on #16720
@stevekuznetsov was this perchance a run on the new pipeline tests ?

[2017-10-06 17:04] spadgett opened #16726 "Binding to a template with no expose annotation creates an empty secret"
If I create a binding against a template that doesn't use the `template.openshift.io/expose` annotation, I get an empty secret. It would be better to instead disable binding altogether for the service class if not supported for the template.

A lot of our template don't really make sense to bind to. For instance, sample apps like nodejs + mongo. We might consider disabling binding entirely on thos

[2017-10-06 17:06] bparees commented on #16726
I think the theory w/ making the nodejs ones bindable is that could represent a microservice you've deployed that you want to bind to.

[2017-10-06 17:06] bparees commented on #16726
(hence them exposing their URI)

[2017-10-06 17:14] ncameronbritt commented on #16726
I'm not sure it's clear to the user what creating a binding for the Node.js + MongoDB, for example, would mean. It seems potentially confusing when a service creates more than one thing in my project.

[2017-10-06 17:30] stevekuznetsov commented on #16720
This was on the new pipeline. Not critical.

[2017-10-06 18:14] rhuss opened #16728 "Manual deployment with ImageStream fails (sometimes)"
When using a manual deployment with `oc rollout latest ...` on a DC which has not been initialized (e.g. with its container's spec pointing to an empty `image: ' '` and having image change triggers).

This happens in the following situations:

* When having `auto` set to `false` or `true` (does not have any effect), it happens always when the manual deployment is first
* Always when the manual dep

[2017-10-06 18:21] AndyOGo opened #16729 "Generic Build error"
I just tried to move my project from openshift V2 to openshift v3 online.

But if I try to build it, I just get **Generic Build Error** _- check logs for details._
So I check the logs, and there isn't a single error, just npm WARN entries.

Though my local build works.

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
Just hit build now

#

[2017-10-06 18:27] #16573 closed

[2017-10-06 18:27] #15792 closed

[2017-10-06 18:33] bparees commented on #16501
Just to recap:

1) NPE has been resolved
2) Slow shutdown could not be recreated
3) Request for ownerref linking between components in the jenkins template needs more info (And probably a separate issue) if we're going to pursue it.

closing.

[2017-10-06 18:33] #16501 closed

[2017-10-06 18:33] enj opened #16731 "Loss of API status on Forbidden"
Now:

[code]

In the past:

[code]

Are we OK with losing our nice machine parseable error?  We lost this by moving to the upstream handlers.  We should probably fix upstream to do something more useful.

@openshift/sig-security

[2017-10-06 18:43] rhuss commented on #16728
I did some further investigation. Here is a diff of two DCs `fca` and `hsv`. `oc rollout` works for `hsv` but not for `fca` (with the symptoms described above):

[code]

The only substantial difference is, that one is at `latestVersion: 0`, the other in `latestVersion: 1` (because there has been already a deployment try via client library). Could it be that `oc rollout` behaves different based on

[2017-10-06 18:53] enj opened #16732 "EOF while running BeforeEach"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16721/test_pull_request_origin_extended_conformance_gce/9269/

[2017-10-06 18:56] rhuss commented on #16728
It would help me also when I get to know the _magic_ that `oc rollout` does in addition to add 1 to `latestVersion`. Does the client really dig into the imagestream and updates the image from the client side ?

[2017-10-06 19:43] spadgett opened #16734 "Sometimes get 409 error provisioning template with no other details"
This error doesn't happen every time, but I see it occasionally.

The template was instantiated, however.

Here is the YAML from the service instance:

[code]

Here is the status on the template instance:

[code]
![openshift web console 2017-10-06 15-39-48](https://user-images.githubusercontent.com/1167259/31295531-e0bdada0-aaac-11e7-9618-73ef22376fa9.png)

cc @jim-minter @ncameronbritt @pmorie

#

[2017-10-06 19:45] spadgett commented on #16734
From the controller manager logs:

[code]

[2017-10-06 19:56] spadgett commented on #16734
Note that this wasn't because the deployment failed or took too long. I saw the message immediately after provisioning.

[2017-10-06 19:58] stevekuznetsov commented on #15332
@poonia0arun can you post your node log? The issue above seemed to be from CNI plugins not loading.

/cc @mrunalp can you link in people that could help with this?

[2017-10-06 19:59] rhuss commented on #16728
FYI, I _think_ I could now mimic the behaviour of `oc rollout` on the client side, too (just updating the image myself with the `dockerImageReference` form the ImageStreamTag --> https://github.com/rhuss/ipaas-rest/blob/45eb7e9dfc39998b00fa828d2c4fabea45ffc8cb/openshift/src/main/java/io/syndesis/openshift/OpenShiftServiceImpl.java#L65-L88

But still, I think that `oc rollout` should work consisten

[2017-10-06 20:00] thoraxe opened #16735 "oc cluster fails to abort when it first fails to pull the ose image"
https://gist.github.com/thoraxe/cc212c2aed681641bd3658dd1454f4c7

oc version = oc v3.7.0-0.127.0
kubernetes v1.7.0+80709908fd
features: Basic-Auth GSSAPI Kerberos SPNEGO

[2017-10-06 20:17] mrunalp commented on #15332
@danwinship @dcbw for the SDN startup issue.

[2017-10-06 20:30] smarterclayton commented on #16731
I can't see any reason why we shouldn't fix upstream.

On Fri, Oct 6, 2017 at 2:34 PM, Mo Khan <notifications@github.com> wrote:

[2017-10-06 20:36] jim-minter commented on #16734
@spadgett 409 probably means that the tsb was asked to provision 2 different instances with the same instance ID.  Is that possible?  Please can you attach all the brokertemplateinstance and templateinstance objects and the templateservicebroker logs?

[2017-10-06 20:43] poonia0arun commented on #15332
@stevekuznetsov @mrunalp @danwinship  and @dcbw  please find below request logs and additional information.

# Ansible Hosts File

[code]

# Ansible Task fails during restarting the node services on each nodes/masters

[code]

Command oc get nodes output

[code]

Kubectl describe node output

[code]

***If I dont use any cloud provider in my ansible config.yml file my installation works fine but I

[2017-10-06 21:14] jim-minter commented on #16732
Bizarre.  I don't believe this flake is actually related to templates.  `util.FatalErr()` was called due to an EOF somewhere in while running the BeforeEach.  Not clear where.

[2017-10-06 21:21] jim-minter commented on #16726
I don't see the harm in somehow indicating that a template is not bindable, but initially I'm hesitant to link "contains no expose annotation" and "not bindable".

[2017-10-06 21:27] gnufied commented on #16699
Just copying some update from BZ. This is to some extent by design.  Currently we are recursively do `chmod 660` to ensure that volume is writable by supplied fsGroup. Similarly, we use same chmod to make the volume read-only.

If we stop doing chmod, then users will not be able to mount volumes as read-only or bunch of existing pods will break.

The reason, this works for glusterfs and not for EB

[2017-10-06 21:36] bparees commented on #16726
@jim-minter if it doesn't contain any expose annotations, then bind results in an empty secret, so i'm not sure what value there is in leaving it "bindable" in that case?

[2017-10-06 21:42] jim-minter commented on #16726
I'm not saying these can't be overruled, but:
- maybe someone will want to bind anyway to express that two components are grouped together in some way.
- if one day we invented a second mechanism that ran in parallel with expose, then tying expose to bindable could shoot us in the foot.
- it's not quite possible to tell statically if expose is set or not if you take parameters into account.

[2017-10-06 21:44] bparees commented on #16726
Fair enough, i think i'm reasonably convinced we should just make it an explicit decision.

[2017-10-06 21:44] bparees commented on #16726
(but we should still probably remove expose from the existing quickstart templates, *and* mark them not bindable once we have a way to do that).

[2017-10-06 21:48] smarterclayton commented on #16709
Re-opening, https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/489/ failed which should have had the fix.  I kicked a second run, if it also fails I'll create a cluster for debugging.

[2017-10-07 03:47] enj commented on #16716
https://github.com/enj/origin/blob/1eed81f10256f22d4f3426722b44ae47eaf3fba7/test/integration/project_test.go#L488 is where it fails locally for me (the all project list returns 1,2,3 instead of 1,2,3,4.  @deads2k any hints on what changed to break this?

[2017-10-07 04:03] enj commented on #16716
If I put that part of the test into a loop, it fails twice and then is successful with getting a list of all 4 projects.  So it seems like a cache backing the project ACL is lagging behind more than before.

[2017-10-07 07:59] sureshpalemoni commented on #16694
I have changed the inventory file: to have this parameter - openshift_master_console_port=443. Still I am not able to open the console.

I have attached a public IP to the VM, but console is opening with internal IP with port 8443 only - losing the connection after login.

When I open the /etc/origin/master/master-config.yml file:

  masterPublicURL: https://PublicIP:8443
  publicURL: https://Publ

[2017-10-07 13:35] pmarhatha commented on #11232
Hi,

I'm getting same error . Can someone please help me in getting over this error ? I'm using openshift 3.6 on atomic hosts.
Below is the error description and the /etc/resolv.conf on my node. Please let me know what could be the issue ?
[root@ocp3 ~]# hostname
ocp3.6-node02.ocs.example.com
[root@ocp3 ~]#
[root@ocp3 ~]# cat /etc/resolv.conf
search example.com
nameserver 192.168.1.105

[root@ocp3

[2017-10-07 16:53] danwinship commented on #16630
In OCP, we set up the systemd unit files so that if systemd restarts OVS (eg due to crash, or upgrade), then it will restart OpenShift too, so we recover. But if you just "ip link del br0", then things will stay broken until you restart OpenShift yourself. But you know, "don't do that then"?

[2017-10-07 17:33] fabnoe opened #16739 "Application not available, waits for ever: Recreate deployment is running #142"
I've installed the default catalog: Node.js + MongoDB (Persistent) via web Web Console.

Error if I open the route url:
Application is not available

And the WebConsole shows on the Node Pod
Recreate deployment is running

##### Version
oc v3.6.173.0.5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://api.starter-us-west-2.openshift.com:443
openshift v3.6.173.0.5
kubernetes v1.6.1+

[2017-10-07 18:11] smarterclayton commented on #16709
Second run also failed the same way, please ping me on monday and I'll spin up a cluster for additional debugging.

[2017-10-07 18:16] smarterclayton commented on #16630
We won't have this when we run in pods, which is why I'm asking.  Is
presence of br0 sufficient to detect a restarted OVS?

On Sat, Oct 7, 2017 at 12:54 PM, Dan Winship <notifications@github.com>
wrote:

[2017-10-07 21:35] #12968 closed

[2017-10-07 21:40] borissenkobogdan commented on #11232
Hi
1) You must Configure DNS Domain Example.com
2) You must add subdoman ( only node and master and etc node)
default.svc.cluster.local
svc.cluster.local
cluster.local
 alt this node --- where you install docker + master node
please nmtui use --- not add /etc/resolv.conf -- because after restart
network manager clear Information

3) Please check your log with registry manager !!!!

oc get pods

 o

[2017-10-07 21:45] #14609 closed

[2017-10-07 21:52] borissenkobogdan commented on #11232
Hi
nmtui -- edit config network -- add Domain (default.svc.cluster.local
svc.cluster.local) ( because in this domain -- Default project works
Openshift --

That's why you need to add this domain ( not only example.com )

2017-10-08 0:40 GMT+03:00 Bogdan Borisenko <borissenko.bogdan@gmail.com>:

--

Best Regards

С Уважением Борисенко Богдан Николаевич

+38 0978410362
+38 0734984300

[2017-10-07 21:58] #6106 closed

[2017-10-07 21:59] kargakis commented on #6106
The flag is now supported

[2017-10-07 22:00] kargakis commented on #6154
@bparees still an issue?

[2017-10-07 22:01] kargakis commented on #4967
Should be fixed now I think, please reopen otherwise

[2017-10-07 22:01] #4967 closed

[2017-10-07 22:17] jorgemoralespou commented on #4967
Woooohooooo

[2017-10-08 06:36] smarterclayton commented on #16632
p1 because we terminate pods that might run safely to completion

[2017-10-08 09:20] ric79 opened #16743 "Nginx reverse proxy"
Hello,
I need help for porting my application on Openshift 3

My application has
- Back-end: 3 nodeJs apps (app1, app2, app3)
- Front-end: AngularJS + Nginx
In my current application, the nginx does reverse proxy for app1/app2/app3, hiding them.

In Openshift I have already installed the 3 apps but I have concerns about the frontend. I have installed nginx but I have doubts about how implementing

[2017-10-08 12:55] sureshpalemoni commented on #5259
I have installed htpasswd, and created a user and mapped identity provider as well. Still I am unable to login to the console or through cli "oc login"

[2017-10-08 17:23] pmarhatha commented on #11232
Hi ,

I still see same error. This time i ensure that /etc/resolv.conf of master hosts (the only host in my env ,doing single node deployment)  has all relevant domains including example.com. I used chattr +i command to make my changes permanent in resolv.conf  because nmtgui was not available in atomic host!!!!!
Also i collected /etc/resolv.conf of build container . Please see below.
I also re-cr

[2017-10-08 19:06] smarterclayton commented on #16630
Opened a fix that health checks ovs and exits the process if ovs is detected as reset.

I also want to look at what events we should send here

[2017-10-08 21:49] lambda-conspiracy opened #16744 "to talk to open shift wigs app"
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result

##### Expected Result

##### Additional Information
[try to run `$ oc adm diagnostics` (or `oadm diagnostics`) command if possible]
[if you are reporting issue related to builds, provide build logs with `BUI

[2017-10-09 01:08] bparees commented on #6154
doesn't seem like it.  not sure why the assertion was that the test requires a node since it seems to be passing w/o one.

in any case we have other cancel tests in e2e.

[2017-10-09 01:08] #6154 closed

[2017-10-09 01:48] #15516 closed

[2017-10-09 03:17] smarterclayton commented on #16630
Added an event for when the pod is restarted

[2017-10-09 04:43] bparees opened #16746 "cannot unmarshal array into Go value of type types.ContainerJSON"
Not clear to me if this is an error that occurs while getting pod logs, or that the pod logs actually contain this value (which they definitely should not) but either way it's a problem:

[code]

if it is an error retrieving the pod logs, then the oc logs command output needs to be improved to make it clearer as to whether it's reporting its own error, or the actual pod logs.

we're hitting this f

[2017-10-09 07:42] wydwww commented on #14766
Hi @mcastelino I met the same issue on debian, but I never modified any system unit file. Can you enlighten me which file to add systemd?
Thanks!

[2017-10-09 08:06] melvz commented on #11232
@conatus
We 'probably' have the same case.  Im struggling to fix this on AWS EC2.

I experimented on numerous re-installs using the ansible playbook for origins and found that if I do NOT specify the dnsIP (openshift_dns_ip=172.30.0.1), everything works fine.  So without forcing DNS to point to resolver 172.30.0.1, AWS env will take its own course and use its pre-defined DNS resolver I guess.

Ofc

[2017-10-09 08:07] scheng1 commented on #7268
@scheng1

[2017-10-09 08:50] mfojtik commented on #16746
@bparees ContainerJSON is Docker API type. When this started to happen? After rebase?

@soltysh did we bumped docker distribution?

[2017-10-09 08:54] mfojtik commented on #16739
It seems like that the deployment exceeded the quota. Can you try to free up some resources and redeploy? The deployment eventually timeout after 10 minutes. @tnozicka we should reconsider failures once again, if deployment fails because of quota, we should probably shorten the 10 minutes timeout. I think we already talked about this with @smarterclayton some time ago.

[2017-10-09 09:05] aaryabhatt opened #16747 "Blocking same subnet public ip address connectivity by adding a route"
I have all nodes with public IP address. if two nodes are from the same subnet like x.x.x.225 and x.x.x.226 with same gateway is x.x.x.193 and same netmask 255.255.255.192, then it is adding a route for

x.x.x.192  0.0.0.0         255.255.255.192 U     100    0        0 enp5s0

which causes the issue that from that node it can't ping the public ip of that subnet.
It adds similar subnet route to ev

[2017-10-09 09:26] Emmanuel35 opened #16748 "import docker-compose was deleted"
Import docker-compose was deleted in 3.6.
Could you replace this functionality ?

cf. https://lists.openshift.redhat.com/openshift-archives/dev/2016-May/msg00021.html
cf. https://access.redhat.com/solutions/2899101

##### Version
c v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://192.168.99.100:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps

[2017-10-09 09:49] akram commented on #16519
@jim-minter hi guys,
I didn't have time yet to test it with 3.6+

[2017-10-09 10:27] akram commented on #16519
Oh good news, my platform has been upgraded,
oc v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f
features: Basic-Auth

openshift v3.6.173.0.21
kubernetes v1.6.1+5115d708d7

and it works

[2017-10-09 10:27] #16519 closed

[2017-10-09 10:30] php-coder commented on #16748
AFAIK it was replaced in favor of https://github.com/kubernetes/kompose

CC @smarterclayton

[2017-10-09 10:33] php-coder commented on #16744
There issue doesn't provide information. Please, update the issue description, fill the required information and reopen the issue.

[2017-10-09 10:33] #16744 closed

[2017-10-09 10:50] e-minguez opened #16749 "Forbidden: this image is prohibited by policy: only images imported into the registry are allowed (openshift/origin-deployer:v3.6.0)"
Trying to deploy an image from an external registry fails with the $subject error.

##### Version
[code]

##### Steps To Reproduce
1. Modify master-config.yaml with the following snippets:
[code]
2. Restart masters services (both API and controllers)
3. IS created as:
[code]

##### Current Result
Pods doesn't run as:
[code]

##### Expected Result
Deployment working fine.

##### Additional Informat

[2017-10-09 12:12] spadgett commented on #16734
@jim-minter I had to cluster down to run a newer service catalog image, so I no longer have the data. I'll try to reproduce.

[2017-10-09 12:13] Emmanuel35 commented on #16748
Ok, thanks for your feedback.

[2017-10-09 12:13] #16748 closed

[2017-10-09 12:24] stevekuznetsov commented on #6154
/shrug

[2017-10-09 12:54] sdodson commented on #16709
/assign michaelgugino

[2017-10-09 13:47] mfojtik opened #16752 "Switch to use apps client for deployments"
In CLI (and in other places) we use extensions client for deployment. We should start using the apps client instead. This should happen in 3.8 or 3.9 to not break against old servers.

[2017-10-09 13:58] smarterclayton commented on #16748
Yes, compose is more feature complete and covers the use case better.

On Mon, Oct 9, 2017 at 8:13 AM, Emmanuel <notifications@github.com> wrote:

[2017-10-09 14:11] adelton commented on #15750
The upstream docker (moby) PR https://github.com/moby/moby/pull/34792 has been merged.

[2017-10-09 14:12] csrwng opened #16753 "builds: oc client from master not working with released 3.7.0-alpha.1 server"
Getting build logs and starting binary builds fails:

[code]

[code]

[code]

[2017-10-09 14:13] csrwng commented on #16753
@mfojtik this started happening after switching to the generated client

[2017-10-09 14:15] simo5 commented on #14703
@pmorie can you comment on the status of this or close it ?

[2017-10-09 14:23] smarterclayton commented on #16739
Quota can get tricky - if you have 3 pod quota, and your rolling deployment
is 2 pods, you can bump up against the quota limit safely and your
deployment will still complete.  Not that we couldn't get smarter about
waiting a reasonable amount of time.

On Mon, Oct 9, 2017 at 4:54 AM, Michal Fojtik <notifications@github.com>
wrote:

[2017-10-09 14:24] smarterclayton commented on #16709
We're now 2 weeks behind, bumping to p0

[2017-10-09 14:31] simo5 commented on #14990
We moved to rbac so this should be gone, reopen if it resurfaces ?

[2017-10-09 14:31] #14990 closed

[2017-10-09 14:44] danwinship commented on #15332
This looks like the bug that was fixed by #15865. The SDN code assumed that kubelet registration would happen "quickly", and would bail out with an error if it didn't, but apparently sometimes it takes a long time.

Workaround: bring the node up for the first time with `networkConfig.networkPluginName` set to `""`. Wait for it to register itself with the master (ie, wait until `oc get nodes` shows

[2017-10-09 14:51] danwinship commented on #15332
Oh, looking more carefully, @poonia0arun 's bug is not necessarily the same as the original bug report.

The original bug report is fixed by #15865.

...

That could be a problem with public vs private IP addresses. Look at `openshift_hostname`/`openshift_public_hostname` and `openshift_ip`/`openshift_public_ip` in the advanced install guide. The nodes need to know each other's cloud-internal IPs,

[2017-10-09 15:03] tnozicka commented on #16003
Talked to @mfojtik and we are leaving this for early 3.8 as that's fairly big change this late and it's not a regression.

[2017-10-09 15:17] bparees commented on #16746
@mfojtik not sure, i've noticed it within the last week or so.

[2017-10-09 15:22] enj commented on #15077
Closing since this controller was deleted.

[2017-10-09 15:22] #15077 closed

[2017-10-09 15:23] poonia0arun commented on #15332
@danwinship that's true.. I am not using any SDN plugin specifically.. I believe ansible installation uses a default SDN and as you can see from error it's unable to initialize cni ...which result in failure of openshift origin installation

[2017-10-09 15:40] gabemontero commented on #15332
I'm good with closing the issue then as fixed by https://github.com/openshift/origin/pull/15865

[2017-10-09 15:40] #15332 closed

[2017-10-09 16:02] spadgett opened #16755 "Make template.openshift.io/provider-display-name annotation generic"
Request to rename the annotation

`template.openshift.io/provider-display-name`

to

 `openservicebroker.openshift.io/provider-display-name`

This will allow us to use the annotation on other resources like image streams. When you filter on publisher in the web console catalog, you can then see image streams from a provider. We're already using the `openservicebroker.openshift.io/` prefix here:

h

[2017-10-09 17:27] bparees commented on #16755
i'm not sure why "openservicebroker.openshift.io/provider-display-name" would be an appropriate annotation on an imagestream?

In any case I don't love the suggestion.  We have a bunch of labels/annotations:

[code]

And putting some in the openservicebroker namespace and some in the template namespace bothers me.

Ultimately the labels are consumed and standardized by the template service broker

[2017-10-09 18:50] fortinj66 opened #16757 "Is there a way to force an ownership id on a directoy created by VolumeMount SubPath"
I am trying to use SubPath on an NFS PVC.  The subpath was created fine, but the owner:group assigned was root:root.  I would have expected the owner to be the run as user.  Is there a way to set the owner during creation?

Also, permissions are set as 755 rather than 775 so I can't user directory sticky bit write access either...

##### Version
oc version
oc v1.5.1
kubernetes v1.5.2+43a9be4
featu

[2017-10-09 18:55] spadgett commented on #16755
@bparees OK I agree that `openservicebroker.openshift.io` is probably wrong. I do think it's useful to have a more generic annotation, however.

Right now if you filter on publisher in the catalog, all of the builder images disappear. If we had a generic publisher annotation, we could also support filtering the builders.

![openshift web console 2017-10-09 14-51-07](https://user-images.githubuserc

[2017-10-09 19:08] bparees commented on #16755
it's ok with me, will need @openshift/api-review sign off.

[2017-10-09 19:40] simo5 commented on #15443
Seem like this should have been handled by the merged PR, although I haven't figured out what mention was there.
Reopen if it happens again ?

[2017-10-09 19:40] #15443 closed

[2017-10-09 19:51] simo5 commented on #15932
Handling here: https://github.com/openshift/openshift-docs/issues/4906

[2017-10-09 20:21] smarterclayton commented on #16755
It's fine but needs to be documented in public docs

[2017-10-09 20:28] bparees commented on #6996
@jhadvig bump again or you're not getting your package :)

[2017-10-09 20:34] bparees commented on #16716
same(?) TestInvalidRoleRefs failure as @soltysh seen here:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16737/test_pull_request_origin_integration/9086/

[2017-10-09 20:41] bparees commented on #8207
since we no longer own these images i don't see us doing this.

[2017-10-09 20:41] #8207 closed

[2017-10-09 20:43] bparees commented on #14022
assigning to cli team since I think this is a bug in oc delete behavior as discussed above.

[2017-10-09 20:46] bparees commented on #15032
i'm not sure if we have a way to tell that the container we launched (e.g. assemble container) got OOM killed.  This is probably just worth some quick experimentation/research and if it's not clearly possible for us to know why the container died, close this as won't/can't fix.

[2017-10-09 20:47] #16528 closed

[2017-10-09 20:48] bparees commented on #16572
closing due to lack of updates.

[2017-10-09 20:48] #16572 closed

[2017-10-09 20:52] vikasgubbi opened #16762 "after make command what is the next step"
I downloaded from origin/openshift from github and ran  make command what is the next step.please let me know. i am new to openshift.is there any reference manual to how to setup.after make command what is the next stepafter make command what is the next step

[2017-10-09 21:07] mfojtik opened #16763 "Need a way to promote deployment to deployment config and other way around"
Upstream deployments are almost identical feature wise with our deployment configs (except hooks and custom strategy). Additionally upstream deployments does not run deployer job which makes them faster to rollout, but less feature rich (hooks).

It would be nice to have a command to convert a deployment config into deployment or promote a deployment to deployment config if users need more feature

[2017-10-09 21:11] mfojtik commented on #16763
brainstorming:

[code]

[2017-10-09 21:53] dmage commented on #8705
Our current version is based on Distribution v2.6.2. Unreferenced layer blobs can be removed by [hard pruning](https://docs.openshift.org/latest/admin_guide/pruning_resources.html#hard-pruning-registry).

[2017-10-09 21:53] #8705 closed

[2017-10-09 22:02] dmage commented on #14608
Fixed by #14882

[2017-10-09 22:02] #14608 closed

[2017-10-09 22:06] kargakis commented on #16763
We already have `oc convert`, we are just missing the conversions.

[2017-10-09 22:20] smarterclayton commented on #16763
I think we'll need flags so a generic command will probably be too
limited.  We should consider a specific subcommand for the use case (also
think route to ingnresd which needs to create secrets

On Oct 9, 2017, at 6:06 PM, Michalis Kargakis <notifications@github.com>
wrote:

We already have oc convert, we are just missing the conversions.

—
You are receiving this because you were mentioned.
Repl

[2017-10-09 22:54] bparees commented on #12072
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16758/test_pull_request_origin_extended_conformance_install_update/7582/

[2017-10-10 00:20] smarterclayton commented on #12072
This test sucks, I think there may be a serious problem here.  Has flaked
for last two years.

On Oct 9, 2017, at 6:54 PM, Ben Parees <notifications@github.com> wrote:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16758/test_pull_request_origin_extended_conformance_install_update/7582/

—
You are receiving this because you commented.
Reply to this email directly, view

[2017-10-10 02:55] bparees commented on #16023
@sjenning here's one:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16737/test_pull_request_origin_extended_conformance_gce/9382/

[2017-10-10 03:04] melvz commented on #9789
thanks @PI-Victor

Anyway.. i resolved it by NOT using this parameter in my Ansible inv_file:
[code]

By "not fprcing" the AWS instance to use the prescribed dnsIP, the AWS env will take its own course to use its own recommended resolver.

[2017-10-10 03:11] smarterclayton commented on #16709
Still failing, same symptom https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/495/testReport/(root)/Extended/_Feature_Builds__Conformance__build_without_output_image__building_from_templates_should_create_an_image_from_a_docker_template_without_an_output_image_reference_defined__Suite_openshift_conformance_parallel_/

[2017-10-10 05:32] mukundpadale commented on #13401
Is there any fix for this ? I am getting same issue while creating Cassandra cluster.
Stateful sets pods are not able to contact each other through DNS names , however they are able to ping using IP address.

[2017-10-10 06:01] aaryabhatt commented on #16743
create a separate pod for nginx and use the current nginx proxy conf (remove ssl section) as it is replace the reverse proxy host  with backend apps service name(servicce name will be created if you deplyed it by images of apps). and then create a route for nginx and add certificate in nginx route, by doing this you need to expose only nginx app only with route.

[2017-10-10 06:12] aaryabhatt commented on #16729
it looks like dependencies issue with you application, try to install your app on same version OS, which you are trying to use here, you will get a better idea.

[2017-10-10 06:46] cello86 opened #16767 "Origin POD TLS termination and route certificates issue"
If you create a passthrough route for a pod where the TLS termination is configured the router provides the wildcard certificate for the internal domain and not the POD certificate.

##### Version
[code]
##### Steps To Reproduce
1. create the pod with the internal TLS termination. With "openssl s_client" the certificate is fetched correctly
2. create the passthrough route to the pod service relate

[2017-10-10 07:00] mfojtik commented on #16763
Also  think about converting all DC RC into RS and other way around.

[2017-10-10 07:40] AndyOGo commented on #16729
@aaryabhatt
Thanks for your feedback.

Well, locally I develop on OS X. And works as expected there.
I use Node 6. I only found that there has been known bugs at openshift regarding `bower` as dependency management tool. https://stackoverflow.com/questions/23937675/unable-to-install-bower-on-openshift
Though I can't find information regarding Openshift V3...

[2017-10-10 08:27] xiaods opened #16768 "howto add third party cni/macvlan plugin to openshift."
i want to add macvlan cni to openshift, because i need use another ipam service to give openshift cluster's pod's ip. so i need some documents to let me add cni correctly.

##### Expected Result
need some documents to instruct me to add cni driver to openshift.

[2017-10-10 08:28] mfojtik commented on #16763
@tnozicka you might want to also convert all dc in your cluster to deployments but only dc without hooks which is making that command chain more complicated. Not mentioning that you might want to set a lookup for the image the DC is using to make deployment trigger work.

I think I agree with @smarterclayton that we need a first class command (dc->d, route->igress, rc ->rs, etc...).

[2017-10-10 09:03] aaryabhatt commented on #16729
@AndyOGo  As this link suggest, it is not openshift bug, it is npm and bower version compatiblity issue. easy way to resolve this is you can build a container image on your mac and test the app. If that work then you can push the image there or use same steps in dockerfile.

[2017-10-10 09:21] AlbertoPeon commented on #15851
We are also affected by this.

Could you update the origin-metrics:v3.6.0 docker image with a fix for this?

Thanks!

[2017-10-10 10:29] conatus commented on #15851
@AlbertoPeon

We changed the version of the metrics images to `latest` in the inventory file and everything works well. The version definitely needs tagging.

[code]

[2017-10-10 12:06] sspeiche commented on #16755
What about these annotations, can/should they be used in image-streams? If not these then what should be used?

-  "template.openshift.io/long-description"
-  "template.openshift.io/documentation-url"
-  "template.openshift.io/support-url"

[2017-10-10 12:48] spicysomtam opened #16769 "multiple paths in an openshift route?"
When defining a route can you define /patha goes to one service and /pathb goes to another service?

##### Version
3.6.0

##### Steps To Reproduce
Documented here with a single path: https://docs.openshift.com/container-platform/3.6/architecture/networking/routes.html#path-based-routes
Seems a bit useless with a single path, other than blocking other paths.

##### Current Result
Doesn't allow it.

[2017-10-10 13:36] git001 opened #16770 "Add Downward API feature to JenkinsPipeline"
I have tried to use the downward api in the **type: JenkinsPipeline**.
https://docs.openshift.org/3.6/dev_guide/downward_api.html

[code]

##### Version
**oc version**

[code]
##### Steps To Reproduce

Just use the snipplet above in your jenkins pipeline

##### Current Result

The environment variables are empty.

##### Expected Result

The environment variables should have the values from the Dow

[2017-10-10 13:54] csrwng commented on #13401
@mukundpadale what does your environment look like? Are you using cluster up to bring up your cluster? and can you include the output of 'oc version' ?

[2017-10-10 14:05] adelton commented on #15750
A RHEL Extras `docker` build `docker-1.12.6-57.git85d7426.el7` fixes the problem. This is some newer build will be available in 7.4 updates.

[2017-10-10 14:16] galderz opened #16771 "Failed to register broker with OpenShift Client 3.6.0 on OSX"
Hi,

I'm using OpenShift Client v3.6.0 with Kubernate 1.6 and Docker 1.13.1 on OSX 10.11, and when sometimes `oc cluster up --service-catalog` fails to start with the following error:

    -- Installing service catalog ... FAIL
    Error: failed to register broker with service catalog: timed out waiting for the condition
    make: *** [start-openshift-with-catalog] Error 1

Here are the specific v

[2017-10-10 14:27] jim-minter opened #16772 "flake: curl: (35) Network file descriptor is not connected /usr/libexec/s2i/assemble: line 26: ./composer.phar: No such file or directory"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16765/test_pull_request_origin_extended_conformance_install_update/7591/

[code]

[2017-10-10 14:30] jim-minter opened #16773 "validate build logging"
1) https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16765/test_pull_request_origin_extended_conformance_install_update/7591

Lots of `Error on reading termination message from logs: failed to open log file "/var/log/pods/c4da4899-ad45-11e7-a77e-525400fdd4ef/git-clone_0.log": open /var/log/pods/c4da4899-ad45-11e7-a77e-525400fdd4ef/git-clone_0.log: no such file or directory`

[2017-10-10 14:41] jim-minter opened #16775 "[Conformance][templates] templateinstance security tests should pass security tests"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16765/test_pull_request_origin_extended_conformance_gce/9386/

may (or may not) be similar to #16654

[2017-10-10 14:52] smarterclayton commented on #15750
Given that we're waiting on a CentOS downstream I'm going to move this to P2.

[2017-10-10 14:53] smarterclayton commented on #15750
@dmytroleonenko Please close when you confirm this is fixed.

[2017-10-10 14:54] php-coder commented on #16762
OpenShift users don't need to run `make` and building a binary. We're suggesting to download a prepared binary: https://docs.openshift.org/latest/getting_started/administrators.html#downloading-the-binary.

The next step is to run OpenShift (see the link bellow) and try it out: https://docs.openshift.org/latest/getting_started/administrators.html#try-it-out

To make the first experience smooth, pl

[2017-10-10 14:54] #16762 closed

[2017-10-10 15:15] php-coder commented on #16757
I think that more information would be useful, so people will be able to help you quicker.

How do you define your pod? By which SCC a pod was admitted? You can get this information by inspecting a pod with `oc get pod <pod> -o yaml`

Looks like a pod was admitted by `privileged` or `anyuid` SCC, otherwise it wouldn't run as root user.

Also, have you seen our recommendations about using NFS and s

[2017-10-10 15:16] php-coder commented on #16757
@pweil- Who can help with storage related issues?

[2017-10-10 15:20] pweil- commented on #16757
@openshift/sig-storage

[2017-10-10 15:29] dothebart commented on #6282
Hi, any progress on this? since if you run a database like https://github.com/arangodb/arangodb you definitely want to mount a volume into the container, and in most cases don't want to run its services as root - thus it has to have proper access rights.

[2017-10-10 15:42] bparees commented on #16773
(1) should be covered by an existing bug (it's a k8s problem), @sjenning can point to it.

(2) we need to be calling oc logs build/build-name, not oc logs build-pod-name

[2017-10-10 16:07] fortinj66 commented on #16757
@php-coder

sigh... unfortunately, for many reasons I have no control over, the pods have to run as anyuid.  Internally the images run with UID 1000...

[code]
I've looked at the supplemental group information, but since the permissions on the new directory get set to 755, the group doesn't have write access.  Plus since the group owner is root I would have to allow gid 0 as the supplemental group

[2017-10-10 16:08] sjenning commented on #16773
https://github.com/kubernetes/kubernetes/pull/52503

[2017-10-10 16:14] smarterclayton commented on #16749
Could be a bug in treating "openshift/origin-deployer" as coming from docker.io.  @php-coder i thought we had a test case for this?

[2017-10-10 16:43] bparees commented on #15630
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16765/test_pull_request_origin_extended_conformance_gce/9417/

[2017-10-10 16:47] bparees commented on #16755
we're debating if they should all be renamed to a more generic namespace as part of this.

[2017-10-10 17:08] bparees commented on #16235
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16737/test_pull_request_origin_extended_conformance_install_update/7620/

[2017-10-10 17:08] bparees commented on #16235
sorry, looks like my failure is a new reason, will open a new issue.

[2017-10-10 17:08] #16235 closed

[2017-10-10 17:12] bparees opened #16781 "Pod status isn't updated for ~31 s"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16737/test_pull_request_origin_extended_conformance_install_update/7620/

[2017-10-10 17:13] fortinj66 commented on #16757
I want to try a non-anyuid scc.  I have created a new scc uid1000 with the idea that it will force the pods to run as the indicated id (and maybe assign the correct permissions to the subpath).

[code]
How do I assign the UID in the deployment configuration/template?  This is one of the areas where I feel the documentation is a little light on examples...

[2017-10-10 17:21] bparees opened #16782 "https://docker-registry.default.svc:5000/v1/_ping: dial tcp: lookup docker-registry.default.svc on 169.254.169.254:53: no such host"
Saw a bunch of build failures due to inability to resolve the registry service, seems like a DNS issue to me.

[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16737/test_pull_request_origin_extended_conformance_gce/9413/

[2017-10-10 17:23] php-coder commented on #16757
I see that SCC has priority 10 and `anyuid` AFAIR has the same priority. If service account have access to both of them, then most likely `anyuid` will be used (see more about prioritization: https://docs.openshift.org/latest/architecture/additional_concepts/authorization.html#scc-prioritization)

I suggest to set priority 15 for `uid1000` SCC.

You should edit deployment config (`oc edit dc/<name

[2017-10-10 17:34] fortinj66 commented on #16757
I found that and added it...  I'm getting closer...

`Error creating: pods "jef-test-4-4-" is forbidden: unable to validate against any security context constraint: [securityContext.runAsUser: Invalid value: 1000: UID on container jef-test-4 does not match required range. Found 1000, required min: 1000060000 max: 1000069999]`

[2017-10-10 17:45] simo5 commented on #16467
@php-coder can you take this one ?

[2017-10-10 17:46] simo5 commented on #15412
@enj what is left to do in this issue ?

[2017-10-10 17:57] fortinj66 commented on #16757
I found it.  It's in the namespace/project definition...

So even with runAsUser set, the permissions are incorrect with the subpath:

[code]

[2017-10-10 17:58] liggitt commented on #16467
https://github.com/kubernetes/kubernetes/pull/52849 found lots of unnecessary mutation issues. Most of the same changes would be required for SCC. The effective accessor/mutator from the PR could be reused by SCC

[2017-10-10 18:08] php-coder commented on #16467
@simo5 yes, sure

/assign

@liggitt should I wait until your PR will be merged by upstream, or I can start back porting it now?

[2017-10-10 18:15] deads2k commented on #16755
It is reasonable to apply annotations in one group to objects of another, when the meta-API you're conforming to is logically owned by the consumer.  A `template.openshift.io/*` annotation on an `image.openshift.io` resource is reasonable, even helpful, when the consumer of that annotation lives in the `template.openshift.io` API group.  The API can be owned by templates and applied to images.

Th

[2017-10-10 18:20] bparees commented on #16755
Unfortunately the consumer doesn't(necessarily) live in the template api group.

The proposal here is to label a variety of resources for a variety of purposes:

templates would have the annotation(s) both for the web console to filter on, and for the TSB to use to convert to service catalog fields.

imagestreams would have the annotation(s) for the web console to filter on

[2017-10-10 18:25] bparees commented on #16755
Essentially we're just defining a standard set of annotations that the console can use when looking at objects (both templates + imagestreams. maybe other stuff in the future).

And then we'd switch the TSB to also use those annotations when it is creating service catalog entries (instead of using the "template.openshift.io" annotations it currently uses)

[2017-10-10 18:34] deads2k commented on #16755
My experience with "standard" annotations is that they fail.  I mean, we've had three years and haven't even managed to get consistent support for descriptions.  None of the three flavors we have are uniformly supported.

I don't doubt the good intent, I don't doubt the use-case, I don't doubt the willingness, but nothing generic ever seems to stick.  I'm not going to die on the hill for it, but e

[2017-10-10 19:23] wongma7 commented on #16757
please try supplementalgroups. it should: modify the directory to have 775 perms, change the owner to the supplemental group, and add the supplemental group to the container's group memberships.

there was a bug where supplementalgroups would work for mountPaths but not subPaths but it should have been backported to 3.5

[2017-10-10 19:30] fortinj66 commented on #16757
I'll give that a try...  Thanks!

[2017-10-10 20:13] erinboyd commented on #16757
with supplemental groups you can also specify a range for other pods that
the deployment config boots up.

On Tue, Oct 10, 2017 at 1:30 PM, John Fortin <notifications@github.com>
wrote:

[2017-10-10 20:14] erinboyd commented on #16757
oh, and you have to set in the SCC 'supplemental groups' to
'MustRunAsRange' in that scenario.

On Tue, Oct 10, 2017 at 2:13 PM, Erin Boyd <eboyd@redhat.com> wrote:

[2017-10-10 20:15] erinboyd commented on #16757
https://docs.openshift.org/latest/install_config/persistent_storage/pod_security_context.html

On Tue, Oct 10, 2017 at 2:14 PM, Erin Boyd <eboyd@redhat.com> wrote:

[2017-10-10 20:25] fortinj66 commented on #16757
For some reason the pods are not getting the correct scc.

When I assign to uid1000 the scc in the pod becomes restricted.  When I assign anyuid to default the scc in the pod becomes anyuid...

[2017-10-10 20:33] #16609 closed

[2017-10-10 20:41] pravisankar opened #16787 "Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteOnce Flake"
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/16766/test_pull_request_origin_unit/4057/build-log.txt

In suite "github.com/openshift/origin/vendor/k8s.io/kubernetes/pkg/controller/volume/attachdetach/reconciler", test case "Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteOnce" failed:
RUN   Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteOnce
FAIL: Test_Run_OneVo

[2017-10-10 20:51] paradigm opened #16789 "oc: permission errors not clearly exposed to users when processing a template"
I ran:

[code]

and received:

[code]

which was not very helpful.

The version details are:

[code]

<details>
<summary>Full output:</summary>

[code]

</details>

/cc @juanvallejo @fabianofranz
/kind bug

[2017-10-10 21:06] #16630 closed

[2017-10-10 21:19] smarterclayton commented on #16709
Currently reproduced even with latest master changes on ci-scotttest3-ig-n-c4vt, ansible logs are on ci-scotttest3-ig-m-hk47 in /home/clayton/ansible.log

[2017-10-10 21:22] fortinj66 commented on #16757
After getting the scc correct and setting supplemental groups I get the following permissions on the created directory:

`drwxr-xr-x. 2 root root 80 Oct 10 17:19 dev-jef-test-7`

I was hoping for:

`drwxrwxr-x. 2 root 1000 80 Oct 10 17:19 dev-jef-test-7`

So that doesn't seem to have worked...

[2017-10-10 21:29] gnufied commented on #16787
is this same as https://github.com/kubernetes/kubernetes/issues/53590 ?

[2017-10-10 21:34] wongma7 commented on #16757
are the permissions on the `mountPath` correct at least? if so then this version probably doesn't have the subpath fix backported to it, I don't remember the exact version unfortunately.

[2017-10-10 21:56] fortinj66 commented on #16757
Would the fix be in Origin 3.6?

Sent from my iPhone

[2017-10-10 22:06] AndyOGo commented on #16729
@aaryabhatt
Thanks. I will try creating my own dockerfile and see what happens localy.
Though my initial plan was to use s2i 😞

[2017-10-10 23:25] #16619 closed

[2017-10-10 23:25] #16710 closed

[2017-10-11 00:01] smarterclayton commented on #16755
David's pretty much correct.  Just use the existing annotations if you want
them.  Don't introduce new annotations that require more things to track.

On Tue, Oct 10, 2017 at 2:34 PM, David Eads <notifications@github.com>
wrote:

[2017-10-11 00:55] vikasgubbi opened #16794 "hack/env make release exited with status code 2"
[provide a description of the issue]
ERROR] PID 18910: hack/lib/build/environment.sh:166: `return "${exitcode}"` exited with status 2.

After running hack/env make release got the above error message.

Currently following the CONTRIBUTING.adoc

[2017-10-11 01:00] bparees commented on #16755
them.  Don't introduce new annotations that require more things to track.

Putting a "template.openshift.io/provider-display-name" annotation on an imagestream resource object makes no sense to me.

I can get behind not trying to come up with something generic, because i think we'll fail, but I really don't like the idea of adding "template.openshift.io/provider-display-name" annotations to our im

[2017-10-11 01:32] #16447 closed

[2017-10-11 01:42] pycaster commented on #4300
I have a similar issue and just can't seem to find out why this is happening. In my installation I am using the default openshift SDN.

[2017-10-11 02:51] enj commented on #13644
Closing since does not seem to occur anymore.

[2017-10-11 02:51] #13644 closed

[2017-10-11 02:53] enj commented on #14905
Closing due to age.  Please reopen if you are still facing this issue.

[2017-10-11 02:53] #14905 closed

[2017-10-11 04:55] mukundpadale commented on #13401
I have deployed cassandra with statfulset. Creating 2 node cluster for cassandra we have to update seeds address into configuration file(cassandra.yaml) of each cassandra node.
but looks like statefulset1 can resolve its own DNS name entry not others i.e. statefulset2 and so on.

output of oc version,
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

Server https://<xyz>:443
openshift v1.5.1
kuberne

[2017-10-11 05:38] aaryabhatt commented on #16729
s2i is good option but you will face issue there too, first create the proper working docker file.

[2017-10-11 05:49] rajatchopra commented on #4300
Try to capture traffic using tcpdump at both the originating node and the destination node and it may give a clue about where things are broken.

[2017-10-11 06:05] cars10 commented on #14184
@tapas4java where exactly can i set that config? I experience the same issue as @romantomchak , cannot create pvc's.

[2017-10-11 06:31] pycaster commented on #4300
@rajatchopra, if I capture on eth0 on both originating (pod) and dest node (pod), what packets I am especially looking for? Any pointers would help here. Also if I am not seeing these specific packets, where should I begin to look (iptables, OpenFlow13 etc.)? I am provisioning this whole setup on openstack (if this helps).

Thanks
Venkat

[2017-10-11 08:59] cldmnky opened #16797 "Routes created with wrong dns suffix when using router shards"
We are using 3 router shards with route labels, serving different subdomains:
`*.internal.example.com`, `*.trusted.example.com` and `*.public.example.com`

* The internal router shard is created with: `ROUTE_LABELS="shard notin (public, trusted)"` and `ROUTER_SUBDOMAIN="${name}-${namespace}.internal.example.com"`

* The public router shard is created with: `ROUTE_LABELS="shard=public"` and `ROUTER

[2017-10-11 09:34] adelton commented on #15723
For the record, patching `container-selinux-2.21-2.gitba103ac.el7.src.rpm` with

[code]

and rebuilding and updating fixes the problem.

[2017-10-11 11:13] ingvagabund commented on #16709
How is it possible that this issue got closed by me and other folks without our knowledge? Weird. Thanks @smarterclayton for re-opening.

[2017-10-11 11:49] dhan2vijay commented on #7834
error: Missing or incomplete configuration info.  Please login or point to an existing, complete config file:

  1. Via the command-line flag --config
  2. Via the KUBECONFIG environment variable
  3. In your home directory as ~/.kube/config

To view or setup config directly use the 'config' command.
getting this issue can one solve this please

[2017-10-11 11:54] mfojtik commented on #16781
@tnozicka FYI

[2017-10-11 12:09] pweil- commented on #16794
@vikasgubbi can you post the full output you're seeing?  I'm not sure we have enough to go on here.

[2017-10-11 12:34] tnozicka commented on #16781
The issues it that deployer-container finishes at `15:29:24` but the deployer-pod doesn't pick it up and says running for ~31 s until `15:29:55` - that shouldn't happen. (I've tried it locally and the deployer-pod was updated immediately after the container finished.)

[code]

But getting the pod still says running even at `15:29:54.789`
[code]

From master log I can see that at (latest) 15:29:55

[2017-10-11 12:35] tnozicka commented on #16781
/assign @sjenning

[2017-10-11 12:59] smarterclayton commented on #16709
Because the commit had "fixed" in, so when you push it to your master
GitHub gets confused.  Generally we should avoid using fixes XXX inside
commit messages but it's not a huge deal.

On Oct 11, 2017, at 7:13 AM, Jan Chaloupka <notifications@github.com> wrote:

How is it possible that this issue got closed by me and other folks without
our knowledge? Weird. Thanks @smarterclayton
<https://github.

[2017-10-11 13:14] mfojtik commented on #16703
Briefly looking at the log, it seems like we observed addition of project "four" (as seen in events) but for some reason List() does not returned it back. The "allBobConfig" permits viewing all projects in cluster.

@deads2k @liggitt any clues?

[2017-10-11 13:20] mfojtik commented on #16427
The jenkins job is gone, but I think this was an infra fail where we failed to load the bootstrap policies for some reason. Lowering priority for now until this happen again.

[2017-10-11 13:21] mfojtik commented on #16702
@sttts can you please triage and bump the priority if this is not that serious?

[2017-10-11 13:22] mfojtik commented on #16662
wrong, @bparees problem now :-)

[2017-10-11 13:26] mfojtik commented on #16278
Likely not a flake but something broken in the PR.

[2017-10-11 13:26] #16278 closed

[2017-10-11 13:31] mfojtik commented on #15467
This is likely fixed by collapsing the config change trigger into main DC controller. Closing.

[2017-10-11 13:31] #15467 closed

[2017-10-11 13:31] mfojtik commented on #16264
Haven't recurred in a month, probably just infra flake.

[2017-10-11 13:32] #16264 closed

[2017-10-11 13:33] mfojtik commented on #14823
Closing due to age.

[2017-10-11 13:33] #14823 closed

[2017-10-11 13:34] mfojtik commented on #14396
Likely infra issue and haven't seen this for ~2 months, closing.

[2017-10-11 13:34] #14396 closed

[2017-10-11 13:34] mfojtik commented on #14096
Closing due to age

[2017-10-11 13:34] #14096 closed

[2017-10-11 13:36] mfojtik commented on #13737
Closing due to age.

[2017-10-11 13:36] #13737 closed

[2017-10-11 13:37] mfojtik commented on #12530
Closing due to age

[2017-10-11 13:37] #12530 closed

[2017-10-11 13:38] mfojtik commented on #12806
Closing due to age.

[2017-10-11 13:39] mfojtik commented on #14090
Closing as dupe and due to age.

[2017-10-11 13:39] #14090 closed

[2017-10-11 13:43] adelton commented on #14904
@tnozicka, what are the exact high level steps to reproduce the issue?

Should merely following the steps from https://github.com/tnozicka/openshift-acme/blob/master/README.md

[code]

trigger the issue?

[2017-10-11 13:46] aveshagarwal opened #16802 "unit: TestWaitsForAllInformersToBeSynced2 failure"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/origin-ci-ut-origin/121/

[code]

[2017-10-11 14:01] aveshagarwal commented on #16802
@sjenning

[2017-10-11 14:05] bparees commented on #16662
as discussed on irc, the issue here is that the origin-pod image is supposed to be available locally (it was built by the CI process).  It's not supposed to be in a registry, so the pull failure is not a surprise.

the problem is that the local image was apparently not available (which caused the pull attempt to happen).

So what needs to be investigated is what caused the pod image to be deleted

[2017-10-11 14:07] adelton commented on #16716
I'm reading the issue and the logs but I somehow fail to see why this is component/auth - what seems to be the auth-related cause behind this?

[2017-10-11 14:07] mfojtik commented on #16662
@sjenning likely need an whitelist of images the kubelet should never delete (like origin-pod or deployer?)

[2017-10-11 14:09] stevekuznetsov commented on #16662
If we have more recent logs we can check the `journald` output for image GC messages

[2017-10-11 14:09] tnozicka commented on #14904
@adelton we already hacked it by adding this line https://github.com/tnozicka/openshift-acme/blob/master/deploy/clusterrole.yaml#L7 so you would have to remove it. (But it should work even without it because we use only legacy API.)

[2017-10-11 14:09] adelton commented on #7021
@pweil-, is there anything that is needed or can this issue be closed?

[2017-10-11 14:13] pweil- commented on #7021
I think we're good here unless someone has a reason we shouldn't use `hostnetwork` and prefer a `router` SCC.  I don't think that's a requirement at this point.

[2017-10-11 14:13] #7021 closed

[2017-10-11 14:13] adelton commented on #14904
@tnozicka, thanks. So executing the above steps should currently give me running Pod and that's the success criteria. Is that correct?

[2017-10-11 14:14] aveshagarwal commented on #14385
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/test_pull_request_origin_extended_networking_minimal/8958/

[2017-10-11 14:25] tnozicka commented on #14904
@adelton
- modify the cluster role in the create step to remove the api group
- create a Route like https://github.com/tnozicka/openshift-acme/issues/8#issuecomment-308748422 or https://github.com/tnozicka/openshift-acme/blob/master/examples/routes/mydomain.io.yaml

that should be enough I think

[2017-10-11 14:27] bparees commented on #16716
@adelton the assumption is that "TestScopedProjectAccess" would be an auth thing.  If it's not, please determine who would own such a test.

[2017-10-11 14:28] bparees commented on #16716
(and if it is indeed an Auth test but if failed due to something not auth related, then please determine what component did fail and assign it to the appropriate component)

[2017-10-11 14:31] adelton commented on #16716
@bparees, thanks.

In https://github.com/openshift/origin/issues/16716#issuecomment-334908621, @enj suggests "cache backing the project ACL is lagging behind more than before". What component is handling the cache backing?

[2017-10-11 14:32] tnozicka commented on #14904
@adelton if you are trying to fix this I think the SARs (like https://github.com/openshift/origin/pull/13905/files#r122653328) are wrong because they test only against route API group

[2017-10-11 14:43] bparees commented on #13014
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16745/test_pull_request_origin_extended_conformance_install_update/7672/?

[2017-10-11 14:48] #9416 closed

[2017-10-11 14:50] bparees commented on #16729
closing as not an openshift issue.  thanks for the assist @aaryabhatt

@AndyOGo you can also debug by building your application locally, all the s2i build process is doing is basically invoking "npm install" on your repository:
https://github.com/sclorg/s2i-nodejs-container/blob/master/6/s2i/bin/assemble#L25-L51

[2017-10-11 14:50] #16729 closed

[2017-10-11 14:51] dkarlovi opened #16805 "[Question] How to apply config + pull remote images in one step, atomically"
_(this is a question about using the platform, if it's not appropriate here, apologies in advance, please point me elsewhere)_

If I have a config like this (excerpt, generated with Kompose):

[code]

Is there a way for me to make use of both `ImageStream` triggers atomically?

Ie. if I run `oc apply -f app.yaml`, it will recognize the changes in config, but will not pull new images from remote re

[2017-10-11 14:53] bparees commented on #16770
this is already in our trello backlog:
https://trello.com/c/8A8eA32U

and our docs make it clear that ValueFrom is not supported w/ pipeline builds today:
https://docs.openshift.org/latest/dev_guide/builds/build_environment.html#using-build-fields-as-environment-variables

[2017-10-11 14:53] #16770 closed

[2017-10-11 14:53] galderz commented on #16771
I've replicated the issue again and executed `oc get events`. The output is [here](https://gist.github.com/galderz/ecb477b2bfafa826246530fb99a3d98e).

The most noticeable thing are the messages `no nodes available to schedule pods` `FailedScheduling` messages.

[2017-10-11 15:37] #16709 closed

[2017-10-11 15:48] enj commented on #16716
This is auth because the project list is the only special ACL we have (because RBAC cannot express "list the subset of the projects I can see" - it can only express "list all projects").  The cache logic is in `pkg/project/auth/cache.go`, but I doubt its the actual cache that got slower.  The simplest approach may be a git bisect from a week before this started.

[2017-10-11 15:51] smarterclayton commented on #16716
Bumping to p0, this is failing 1/5 runs in integration https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_pull_request_origin_integration

[2017-10-11 16:08] #16361 closed

[2017-10-11 16:18] #16787 closed

[2017-10-11 16:43] csrwng commented on #16753
This has been fixed on master

[2017-10-11 16:43] #16753 closed

[2017-10-11 17:03] rajatchopra commented on #4300
Capture the packets at the host level and not at the pod level. We are looking for VxLAN packets (and the inside of vxlan should show the pod to pod IPs).

Some of the things I usually look for:

 - If the packets are not leaving the source machine, then check 'ovs-dpctl show' to see dynamically which rules are getting processed.
 - If you see the packets leaving the source host, and they are arri

[2017-10-11 17:06] tapas4java commented on #14184
Hope you are following [Jennings's Video](https://www.google.com.sg/url?sa=t&rct=j&q=&esrc=s&source=video&cd=1&cad=rja&uact=8&ved=0ahUKEwj6sMfYhunWAhUDLpQKHYIZDcIQtwIIJjAA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D1Lo10hLC2XE&usg=AOvVaw32zhCjdYuLlqXuyRZR1i-0) ??

I have added `openshift_cloudprovider_kind=gce` to `inventory/hosts` file

[2017-10-11 17:30] mrogers950 commented on #16716
Bisecting and running TestScopedProjectAccess points to 84f6103

[2017-10-11 18:13] aveshagarwal opened #16810 "Integration: runner TestConcurrentBuildControllersPodSync"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/test_pull_request_origin_integration/9210/

[code]

[2017-10-11 18:14] aveshagarwal commented on #16012
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/test_pull_request_origin_integration/9210/ shows two failures related to TestV2RegistryGetTags

[2017-10-11 18:23] aveshagarwal opened #16812 "Integration: TestPullThroughInsecure panic after time out"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/test_pull_request_origin_integration/9210/ has whole stack trace. Here is a partial one:

[code]

[2017-10-11 18:46] adelton commented on #16716
@deads2k, any idea what in 84f6103999da98b0908d1fa70e7b63797d37770b could be causing the problem?

[2017-10-11 18:48] spadgett commented on #16734
You might be right about it being provisioned more than once. With the latest canary service catalog, I see these events for the service instance. It provisioned successfully, though.

![screen shot 2017-10-11 at 2 46 25 pm](https://user-images.githubusercontent.com/1167259/31460057-194bef80-ae93-11e7-9fb4-8149e864b1ea.png)

[2017-10-11 18:54] deads2k commented on #16716
Nothing comes to mind.

[2017-10-11 19:46] bparees commented on #16703
dupe of https://github.com/openshift/origin/issues/16716
(this one was older but the other one is a p0)

[2017-10-11 19:46] #16703 closed

[2017-10-11 19:46] bparees commented on #16716
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16811/test_pull_request_origin_integration/9229/

[2017-10-11 21:03] juanvallejo commented on #14022
@deads2k I can go ahead and open a PR that deprecates the `--ignore-not-found` flag, although the overall change of having `delete` ignore resources no longer available would introduce new behavior to the command. Wanted to get your opinion / approval of going ahead with this change

[2017-10-11 21:04] bparees commented on #16716
unless a fix is imminent can we disable this test? (while leaving this issue open to resolve the flake and re-enable it)

[2017-10-11 21:11] liggitt commented on #14022
`--ignore-not-found` is intended to handle cases where I asked to delete `foo` and `foo` doesn't exist. If, in the course of deleting `foo`, a reaper is involved, which does a list of objects, and in iterating over those objects to delete them, one is subsequently missing, it should automatically tolerate a `not found` error

[2017-10-11 21:17] bparees commented on #14022
per my earlier comment, i don't think the reaper actually got the error in this case because it would print a warning:
https://github.com/openshift/origin/blob/master/pkg/build/cmd/reaper.go#L131-L136

however it's possible the main oc delete codepath tried to delete something that was already deleted by the reaper?  (Goes back to my original theory that oc delete first creates a list of all the o

[2017-10-12 01:07] dmage opened #16816 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Should recreate evicted statefulset"
[code]

[code]

[code]

/kind test-flake

[2017-10-12 02:24] vikasgubbi commented on #16794
please close the ticket.able to configure minishift

[2017-10-12 02:24] #16794 closed

[2017-10-12 03:41] enj commented on #16716
I believe I have determined the root cause and will open a PR tomorrow.

@simo5 @mrogers950

[2017-10-12 06:24] cars10 commented on #14184
I am *not* on GCE. I wanted to create a PVC locally on my mashine.

[2017-10-12 07:39] kargakis opened #16819 "no kind is registered for the type apps.DeploymentLogOptions"
[code]
/kind bug
/sig master
/assign @mfojtik

[2017-10-12 07:40] kargakis commented on #16819
Similar issue for builds
[code]
cc @bparees

[2017-10-12 07:59] ErikLundJensen commented on #6914
Why don't you use the logical DNS name for this? For example:

http://mycouchdb.myoriginserver.com

Thereby you don't get into issues like path rewrite. You could even add version and namespace/project name to your logical DNS name:
http://mycouchdb-v2-myproject.myoriginserver.com

I do think that this feature is one of the most important of OpenShift/Kubernetes.

[2017-10-12 08:52] tnozicka commented on #15678
closing this as the requested info wasn't provided in 2 months

[2017-10-12 08:52] #15678 closed

[2017-10-12 09:25] frobware commented on #16781
/assign

[2017-10-12 09:43] zonArt commented on #9584
Hi,

I'm having same kind of issue while trying to deal with `ImageStream` and a private authenticated registry stored in Artifactory. I keep getting a 401 Unauthorized response when trying `oc import-image ....`. I don't really know why. Also I wondered if all these things with ImageStream makes it possible to use them to PUSH to the registry with secret. I explain myself, I'm trying to use fabri

[2017-10-12 10:04] sttts commented on #16702
This test routine was in the middle of the x509 cert generation. This could be just a lack of entropy making the whole test very slow.

[2017-10-12 10:15] tnozicka commented on #15418
closing this as infra failure per `ContainerCannotRun`

[2017-10-12 10:38] tnozicka commented on #15790
closing this one as we track the journald issue in https://github.com/openshift/origin/issues/14785 and it seem to be ok with the increased limits in https://github.com/openshift/openshift-ansible/pull/3753

[2017-10-12 10:38] #15790 closed

[2017-10-12 10:49] tnozicka commented on #14140
closing this one as it was journald rate limitting issue that we track in https://github.com/openshift/origin/issues/14785 and it seem to be ok with the increased limits in https://github.com/openshift/openshift-ansible/pull/3753

[2017-10-12 10:49] #14140 closed

[2017-10-12 11:03] tnozicka commented on #14109
So this was either infra failing or API server going down in exactly that moment, but I am inclined to blame infra. In both cases the hasn't been an occurrence of this for a **long** time and I see no action to be taken for fixing this.

[2017-10-12 11:03] #14109 closed

[2017-10-12 11:16] frobware commented on #10665
As a me-too, I ran into this issue today. What was worse for me is I had *something* else restarting a service on port 80 and sometimes `oc cluster up` would fail and sometime not, largely dependent on timing.

[2017-10-12 12:10] tnozicka commented on #14367
I think this happened because it is the first test there that uses docker.io/busybox and pulling that image took too long.

[2017-10-12 12:34] deads2k commented on #16716
margin too small?

[2017-10-12 13:14] php-coder commented on #15637
Here is a bug in K8s about completely removing this field for cluster scoped resources: https://github.com/kubernetes/kubernetes/issues/53767

[2017-10-12 13:31] mfojtik commented on #16819
@deads2k did we broke something in the clientsets ?

[2017-10-12 13:39] bparees commented on #16819
@csrwng investigated this yesterday and found that while a master client can't talk to (get build logs from) a 3.7 alpha cluster, it can talk to a master cluster and it can talk to a 3.6 cluster.

so we concluded something probably was broken but not something that mattered since it was fixed within the 3.7 release.

[2017-10-12 13:43] mtnbikenc commented on #16114
@jwhonce I'm not seeing this particular issue in CI any longer.  I was not able to get logs because they were removed before I could track down where they were.

[2017-10-12 13:43] #16114 closed

[2017-10-12 13:52] bparees opened #16826 "Extended.[Feature:Builds][Slow] s2i build with environment file in sources Building from a template should create a image from "/tmp/fixture-testdata-dir498136365/test/extended/testdata/test-env-build.json" template and run it in a pod"
In this failure:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/237/testReport/junit/(root)/Extended/_Feature_Builds__Slow__s2i_build_with_environment_file_in_sources__Building_from_a_template_should_create_a_image_from___tmp_fixture_testdata_dir498136365_test_extended_testdata_test_env_build_json__template_and_run_it_in_a_pod__Suite_openshift_/

We created a pod an

[2017-10-12 13:53] bparees commented on #16826
i think this is because we don't wait for the pod to be running before we start waiting for the endpoint.  We only have 1 minute to wait for the endpoint to show up, so if the pod takes a while to start, we might run out of time.  Will add logic to wait for the pod to start up before waiting for the endpoint.

[2017-10-12 14:22] miminar commented on #9584
@zonArt You should be able to overcome this by adding the auth server of the private registry to you dockerconfig secret:

[code]

If you don't know the auth server name, you can:

[code]

Please let me know if it works for you.

[2017-10-12 14:26] bparees commented on #9584
@miminar i don't think the dockercfg secret was created correctly?

When i create one properly:
[code]

my describe shows binary data, not the actual dockercfg json with a cleartext password:

[code]

@zonArt how did you create your dockercfg secret?

[2017-10-12 14:27] bparees commented on #9584
(and i don't think we actually know that @zonArt's registry is using delegated auth?)

[2017-10-12 14:44] adelton commented on #14904
I confirm that I've reproduced correct behaviour on 3.5 and failing behaviour on 3.6 and 3.7.

[2017-10-12 14:47] tnozicka commented on #14543
the generic trigger controller code has been removed in https://github.com/openshift/origin/pull/14910

[2017-10-12 14:47] #14543 closed

[2017-10-12 14:52] zonArt commented on #9584
@bparees I created the secret with a java json node object sent via a RestTemplate to the openshift rest api. Anyway, I just did the exact same thing as you and still got the same behavior:

[code]
And yes you're right I don't have any delegated auth service in place.
Maybe some more information could help:
[code]

[2017-10-12 14:55] bparees commented on #16168
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16828/test_pull_request_origin_end_to_end/4053/

[2017-10-12 14:57] bparees commented on #15988
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16818/test_pull_request_origin_extended_conformance_install_update/7760/

[2017-10-12 14:58] bparees commented on #16716
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16811/test_pull_request_origin_integration/9248/

[2017-10-12 14:59] kargakis commented on #13763
Fixed by https://github.com/openshift/origin/pull/14910 🎉

[2017-10-12 14:59] #13763 closed

[2017-10-12 15:01] bparees commented on #9584
I wonder if this is another flavor of https://bugzilla.redhat.com/show_bug.cgi?id=1476330

in which the secret k8s creates is not the right format for artifactory.

@zonArt Can you try the workaround suggested in https://bugzilla.redhat.com/show_bug.cgi?id=1476330#c1 ?

[2017-10-12 15:15] bparees opened #16832 "[k8s.io] Projected should be consumable in multiple volumes in the same pod [Conformance] [Volume] [Suite:openshift/conformance/parallel] [Suite:k8s]"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/15807/test_pull_request_origin_extended_conformance_gce/9541/#-k8sio-projected-should-be-consumable-in-multiple-volumes-in-the-same-pod-conformance-volume-suiteopenshiftconformanceparallel-suitek8s

[2017-10-12 15:19] zonArt commented on #9584
Still the same (but not exactly). Is it a problem if different kind of secrets are linked to a serviceaccount ?
What happened now is the following:
[code]

Notice that the `--from=private.docker-registry.example.com` might be wrong as it is not pointing directly to an image but rather to the root of the registry, but I made the same mistake before and the error was different so maybe I'm coming cl

[2017-10-12 15:26] php-coder commented on #14137
Looks like it was fixed:

[code]
The same for add-scc-to-group, remove-scc-from-group, add-role-to-user, remove-role-from-user, add-role-to-group, remove-role-from-group,
add-cluster-role-to-user, remove-cluster-role-from-group, add-cluster-role-to-group, remove-cluster-role-from-user.

[2017-10-12 15:26] #14137 closed

[2017-10-12 15:26] zonArt commented on #9584
@miminar maybe you're right somehow, I just tried your suggestion and here is what I got:
[code]
Is that expected ? Should I add anything special in my secret to handle that ?

[2017-10-12 15:37] florent-souliere-smile opened #16834 "Web console does not provide root/intermediate CA during TLS handshake"
When `namedCertificates` is set in `master-config.yaml`, there is currently no know way to indicate a root/intermediate CA file bundle (although a `cafile` parameter is mentioned in example openshift-ansible inventory files).

Unfortunately, this CA issue is important when `namedCertificates` refers to self-signed certificate and key: without that, the TLS handshake does not provide the required C

[2017-10-12 15:49] smarterclayton opened #16835 "Suspicious errors in the integration test logs"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16571/test_pull_request_origin_integration/9281/

[code]

[2017-10-12 15:49] smarterclayton commented on #16835
@openshift/sig-master

[2017-10-12 16:06] zonArt commented on #9584
One more thing I wanted to share is that with my existing "artifactory" secret, I have no issue pulling images within a DeploymentConfig referencing the full path to the registry (without going through an ImageStream)

[2017-10-12 16:25] bparees commented on #9584
you definitely need to specify the --from as "registry.hostname.com/namespace/repositoryname"  (the same way you'd specify the image if you were doing a "docker pull", but leave off the tag.

is `private.docker-registry.example.com/myimage` that value?  i don't see a namespace path segment which makes me suspicious.  Can you share the yaml for the deploymentconfig that is working for you?  Is that

[2017-10-12 16:32] liggitt commented on #16583
what is the server version?

[2017-10-12 16:35] smarterclayton commented on #16583
this was 3.6.1 official

[2017-10-12 16:36] liggitt commented on #16583
the endpoint update fix merged to ose on 2017-09-15 08:22, and is only in these tags:
[code]

[2017-10-12 16:37] liggitt commented on #16583
what sha or tag is 3.6.1 official?

[2017-10-12 16:43] jim-minter opened #16836 "flake: Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteOnce"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16808/test_pull_request_origin_unit/4224/

[code]

That PR already includes #16791.

[2017-10-12 16:43] zonArt commented on #9584
yes it is the value, here is a DC which is working fine:
[code]

[2017-10-12 16:49] liggitt commented on #16583
looks like 3.6.1 is `3.6.173.0.21`, which does not include the endpoints fixes yet

[2017-10-12 16:54] smarterclayton commented on #16583
I lied, us-east-2 is at 3.6.173.0.37

{resource="endpoints",verb="PUT"} 33.325
{resource="pods",verb="PUT"} 17.179166666666667
{resource="nodes",verb="PATCH"} 15.575
{resource="pods",verb="DELETE"} 14.454166666666664
{resource="events",verb="POST"} 12.762500000000001
{resource="pods",verb="POST"} 12.695833333333331
{resource="builds",verb="PATCH"} 9.983333333333333
{resource="localsubjectaccessrev

[2017-10-12 17:15] aveshagarwal opened #16837 "[Feature:Builds][Conformance] oc new-app should succeed with a --name of 58 characters [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/test_pull_request_origin_extended_conformance_gce/9564/

[code]

[2017-10-12 17:19] aveshagarwal opened #16838 "[k8s.io] Garbage collector [Feature:GarbageCollector] should keep the rc around until all its pods are deleted if the deleteOptions says so [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16778/test_pull_request_origin_extended_conformance_gce/9564/

[code]

[2017-10-12 17:20] bparees commented on #9584
@miminar well i'm out of ideas... any known issues in v1.5 (the server level @zonArt is running) w/ respect to imagestream import?  Any logging we can enable to ensure the secret is being used during import?

@zonArt regarding why your deploymentconfig works, is there any chance the image already existed on the node?  (in which case it didn't actually pull it using the secret)

[2017-10-12 17:27] smarterclayton commented on #16583
Was one single daemonset https://bugzilla.redhat.com/show_bug.cgi?id=1501514.  Moving to bug

[2017-10-12 17:43] gnufied commented on #16836
This is unrelated to fix in #16791.

There is a upstream flake fix we are missing - but it probably will not fix this flake https://github.com/kubernetes/kubernetes/pull/48757 . But because upstream fix(48757) introduces additional wait before checking for MultiAttachError it minimizes chances of this flake happening.

The underlying problem is, when we check for MultiAttachError there is no guara

[2017-10-12 17:44] gnufied commented on #16836
I ran this in a tight loop for 30 minutes and I couldn't reproduce it. But I do still agree that this flake can happen.

[code]

[2017-10-12 18:08] pweil- commented on #16810
@mfojtik looks like and etcd timeout?

[2017-10-12 18:15] pweil- commented on #16812
This looks like the healthz panics also seen in https://github.com/openshift/origin/issues/15432.

[2017-10-12 18:15] #16812 closed

[2017-10-12 18:19] pweil- commented on #16816
@mfojtik scheduler error or maybe another instance of node not coming up completely.

[2017-10-12 18:21] pweil- commented on #16837
duplicate: https://github.com/openshift/origin/issues/14043

[2017-10-12 18:21] #16837 closed

[2017-10-12 18:30] tnozicka commented on #16805
seem like what you want is to remove ConfigChange trigger then `oc apply` won't rollout.

You can also remove ConfigChange trigger and set `automatic: false` and rollout manually by `oc rollout latest <dc>`

[2017-10-12 18:44] thomasmckay opened #16844 "Error creating: pods "persistent-volume-setup-" is forbidden: cannot set blockOwnerDeletion in this case because cannot find RESTMapping for APIVersion batch/v1 Kind Job: allowed by openshift authorizer, no matches for batch/, Kind=Job"
"Error creating: pods "persistent-volume-setup-" is forbidden: cannot set blockOwnerDeletion in this case because cannot find RESTMapping for APIVersion batch/v1 Kind Job: allowed by openshift authorizer, no matches for batch/, Kind=Job"

Getting that error when running minishift
[code]

##### Version

[code]

[2017-10-12 18:54] #15763 closed

[2017-10-12 19:52] sosiouxme opened #16847 "NetworkCheck blocks keyboard interrupt"
There is some code in the NetworkCheck diagnostic to handle an interrupt; however it has the effect of blocking them until the diagnostic completes, which is not user friendly.

##### Version

[code]

But this is probably true since the diagnostic was introduced.

##### Steps To Reproduce
1. oc adm diagnostics NetworkCheck
2. Ctrl-C

##### Current Result
Continues until the diagnostic completes

#

[2017-10-12 20:37] enj commented on #16706
What is the output of `oc get --raw '/.well-known/oauth-authorization-server'`?

[2017-10-12 20:58] pycaster commented on #4300
@rajatchopra

Thanks for those pointers and I am working on them. I found the veth interface on the source docker host that it's using to send traffic.

Did trail and error to find this veth on docker host as I couldn't find a correlation between container network and the interface on the host.

[code]

So moving on. Now quickly checking the ip route on source host doesn't show me vxlan as default

[2017-10-12 21:01] rajatchopra commented on #4300
The vxlan traffic is sent out by the OVS bridge. You do have OVS installed I presume. Can you check on the errors if any by origin-node?

[2017-10-12 22:35] juanvallejo commented on #14075
@fabianofranz
Looks like for the output in `3a`, the error is happening in [this method in source-to-image](https://github.com/openshift/source-to-image/blob/master/pkg/tar/tar.go#L330). It is receiving the file header for `ROOT.war` from the tar stream and, I assume, it is unable to figure out whether it's a file or directory (maybe file mode info missing?), and defaulting to treating it like a f

[2017-10-12 23:33] #16789 closed

[2017-10-12 23:56] pycaster commented on #4300
Thanks for the quick responses.

Yes OVS bridge is installed and up.

Here are some things that I see in the logs for origin.node on my master,

[code]

[code]

[code]

I do not see any other alarms in the logs.

[2017-10-13 00:06] pycaster commented on #4300
The br0 and vxlan_sys_4789 on both source and destination nodes seeing no traffic at all,

Source:

[code]

Destination:

[code]

And network MTU is 1500. So cluster network has been set up at 1450. This leaves me to your first check point,

"If the packets are not leaving the source machine, then check 'ovs-dpctl show' to see dynamically which rules are getting processed."

On Source,

[code]

On

[2017-10-13 00:15] bparees opened #16853 "[Feature:Builds][Slow] openshift pipeline build Pipeline using imagestream slave should build and complete successfully"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16811/test_pull_request_origin_extended_builds/487/

a chance to check out your new logging improvements hopefully, @gabemontero :)

[2017-10-13 00:33] pycaster commented on #4300
When I am watching a ping from inside of a docker container on the source host, I am only seeing movement on arp traffic and not ip,

Here is the test where 10.129.0.58 is a container on destination host,

[code]
I am guessing I should be looking at output:2 as it's the vxlan port on br0?

While ping goes on, I do see ip traffic going out to output:2 and it's nw_dst is 10.130.0.1.

[code]

Does th

[2017-10-13 01:09] #16716 closed

[2017-10-13 01:09] #16826 closed

[2017-10-13 02:56] pravisankar commented on #16847
I could not reproduce the issue on my local machine (using dind cluster). What's the issue with the current code?
[code]

[2017-10-13 03:12] #15032 closed

[2017-10-13 05:02] smarterclayton commented on #16583
After the daemonset is fixed we're still doing 30 writes / s from endpoints and pod traffic is <1 w/s

[2017-10-13 06:47] dkarlovi commented on #16805
@tnozicka if I understood you correctly, as it stands, currently there's no way to trigger an image import (from a remote repo) when doing an `oc apply`?

[2017-10-13 07:21] tnozicka commented on #16805
I think you should be able to:
- pause the DC (`oc rollout pause`)
- apply changes (make sure you won't overwrite the pause value in that DC)
- manually import image into ImageStream
- unpause the DC (`oc rollout unpause`)

The other option would be to have image import to be scheduled which would mean the current images would be always deployed and then you would need to do only `oc apply`.
https

[2017-10-13 07:43] dkarlovi commented on #16805
This would rely on the schedule to kick in before I do an `oc apply`, it would be quite flakey.

Your other proposal seems very similar to what I want if `oc rollout unpause` picks up both image and config changes done after `oc rollout pause`. I'll try it and will close this issue if it works as expected.

TYVM @tnozicka!

[2017-10-13 07:44] zonArt commented on #9584
@bparees not at all it has always been working this way and as I said, when the registry is accessed/required from let say "directly" (with spec.containers.image for instance), I never had any problem pulling it. It's just recently that I tried to used `ImageStream` (I first thought it was only possible with the openshift internal registry though never used them before) and experienced the issue.

[2017-10-13 08:26] tnozicka commented on #16805
Probably, this is heavily dependent on the workflow you have. You could have a step in your build pipeline that imports the image manually and synchronously.

The usual case involves OpenShift Build -> ImageStream -> DC, this way it's not flaky as the ImageStream is your authoritative registry and no import is needed.

But it seems that pause/unpause should work for you.

[2017-10-13 09:06] pkdone commented on #16424
@sjenning ( CC @rootfs & @pweil- ) can you confirm if this is a bug (i.e. use "and" when should be "or")? Do I need to follow a different process to raise the bug?

[2017-10-13 10:52] adelton commented on #14904
@smarterclayton, as the author of https://github.com/openshift/origin/pull/13905 which introduced `routes/custom-host` in `route.openshift.io` and added the check -- what expectation is there about this working without `route.openshift.io` API group set?

IOW, do we ask everyone to do something like https://github.com/tnozicka/openshift-acme/commit/d1f45fe91e4a41ae744b1b77ab565745eb371be5 from now

[2017-10-13 11:05] kargakis commented on #13708
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16840/test_pull_request_origin_end_to_end/4132/

[2017-10-13 11:11] miminar commented on #9584
@zonArt From your prior comment:

Looks inauthentic :-)

I believe the port part prevents the keyring from matching the credentials. Can you please add the entry with the port to your dockerconfig secret? Or modify your proxy/lb in front of your registry to send port-less location?

[2017-10-13 12:54] liggitt commented on #14904
Yes. Custom roles that want to allow setting custom hostnames on routes need to add the API group and permission.

[2017-10-13 13:02] sosiouxme commented on #16847
The current code does nothing to end the diagnostic when an interrupt is received. The goroutine performs cleanup and exits, but nothing else happens until the diagnostic completes whatever it was doing (in your case, it completed with an error because the namespace has been deleted out from under it). Worse, the signal handler is still directing interrupts to the channel, but nothing is listening

[2017-10-13 13:07] adelton commented on #14904
Thanks @liggitt. I guess that would make this issue notabug/wontfix/working-as-expected then.

Or do we maybe want this spelled out in some documentation (and if yes, which one)?

[2017-10-13 13:26] #15932 closed

[2017-10-13 13:36] tnozicka commented on #14904
For the record, I think it is logically wrong for a user to have to specify an API group in the role when he is using **only legacy API** (and isn't supposed to even know about groups).

[2017-10-13 13:42] spadgett commented on #16834
cc @liggitt @deads2k

[2017-10-13 13:47] adelton commented on #14904
The other point of view might be that functionality got hardened in later versions and if you want to enable the new `routes/custom-host`, it cannot be done with merely legacy API, it has to be done with `route.openshift.io`.

[2017-10-13 14:46] liggitt commented on #16834
include the chain in the named certificate cert file (e.g. /local/path/to/certs/star.paas.example.com.cert.pem)

[2017-10-13 14:48] smarterclayton commented on #14904
The legacy API is dead - we'll continue to support it, but we won't be
adding new features to it.  Part of the reason is that ONLY the new APIs
can be accessed by kubernetes extension capabilities, so we need to be
nudging people to move to the new API.

[2017-10-13 15:02] karmab opened #16860 "Unversioned third party resources break openshift api"
[provide a description of the issue]
after injecting thirdparty resources with an incorrect name ( say karmalabs.local instead of stable.karmalabs.local ), openshift api stops to work properly, for instance oc get scc wil fail with the following  "the server doesn't have a resource type "scc"", while oc get securitycontextconstraints works

##### Version
[provide output of the `openshift version`

[2017-10-13 16:05] pravisankar commented on #16847
@sosiouxme Thanks, now I understood the actual issue and the fix.
Main changes:
  - Running actual check in a go routine along with a channel helps to terminate the diagnostic faster.
  - Stopping the signal notification once we catch it in a diagnostic allows other diagnostic checks to react to the signal if needed.

[2017-10-13 16:13] spadgett opened #16862 "Some system roles missing authorization.openshift.io/system-only annotation"
Some roles are showing up in the web console membership page that probably shouldn't because they're missing the `authorization.openshift.io/system-only` annotation. See

![openshift web console 2017-10-13 12-08-42](https://user-images.githubusercontent.com/1167259/31555571-840586c4-b00f-11e7-9a28-1f45a06604b3.png)

`service-catalog-controller` shouldn't be there and maybe some others. The console

[2017-10-13 16:44] gabemontero commented on #16853
This is very odd / interesting.  So according to the build controller, the build in question completed successfully:

[code]

By the way, those build updates only occur because the sync plugin updates the build object.

And our start-build wait for complete logic came back happy:

[code]

However, a bunch of things are missing from the debug output:

1) attempts to get the job log from the console

[2017-10-13 16:54] pmorie commented on #16297
Jeff, I would still like for this to be done before 3.7 ships, but let's fix other RBAC related issues first.

[2017-10-13 17:38] enj commented on #16862
Sounds like the roles in `examples/service-catalog/service-catalog.yaml` need to be updated to have the annotation.

[2017-10-13 18:06] soltysh commented on #15215
Just hit this, until this gets resolved can we inform user about it (a warning at the beginning). I've personally thought that my build got stuck, I didn't hit ctrl+c but checked builds on other console.

[2017-10-13 18:29] benjaminapetersen commented on #16862
I think this made sense back when we first introduced it, but it seems like there are too many parties adding roles now to keep up.  It might make sense to go back to a whitelist of roles in the config file of the console (or we just hard-code it in the membership module), and allow role authors to add an annotation to `userFacing: true` to add to this whitelist.

[2017-10-13 19:03] tnozicka opened #16870 "2 deployer pods are present for a brief moment"
This is probably because we don't wait for them to be deleted and allow deploying newer RC just because the old one is marked cancelled but this doesn't mean the deployer pod has been deleted yet as that is handled asynchronously by deployer controller.

@smarterclayton this is the issue you pinged me about
cc: @mfojtik

Seen in https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/502/t

[2017-10-13 19:58] bparees commented on #5924
supplementalgroups can be defined for the registry now so i'm going to assume this can be closed.  we can reopen if someone still has concerns.

[2017-10-13 19:58] #5924 closed

[2017-10-13 19:58] rajatchopra commented on #4300
Can you do an 'nsenter' on the destination pod and see if the arp responses are sent back?
@danwinship Do you see anything obvious here?

[2017-10-13 20:00] bparees commented on #6107
let's assume yes. closing.

[2017-10-13 20:00] #6107 closed

[2017-10-13 20:02] bparees commented on #5078
dupe of https://github.com/openshift/origin/issues/6877

(yeah yours is older but that one asks for more)

[2017-10-13 20:02] #5078 closed

[2017-10-13 20:11] smarterclayton commented on #11114
https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/503/testReport/junit/(root)/Extended/_Feature_DeploymentConfig__deploymentconfigs_with_revision_history_limits__Conformance__should_never_persist_more_old_deployments_than_acceptable_after_being_observed_by_the_controller__Suite_openshift_conformance_parallel_/

[2017-10-13 20:37] bparees commented on #7283
this comes from 				fmt.Fprintf(out, "      %s ago\t%s\n", units.HumanDuration(d), id)

which looks to be outputting the right thing these days:
func HumanDuration(d time.Duration) string {
	if seconds := int(d.Seconds()); seconds < 1 {
		return "Less than a second"
	} else if seconds == 1 {
		return "1 second"
	} else if seconds < 60 {
		return fmt.Sprintf("%d seconds", seconds)

[code]

[2017-10-13 20:37] #7283 closed

[2017-10-13 20:46] thomasmckay opened #16873 "oc adm verify-image-signature does not accept http as source of gpg key"
[code]
Hosting public keys on web server for easy access to verify would be useful.

##### Version
[code]

[2017-10-13 20:55] bparees commented on #7336
@miminar looks like it's right now, did we adopt a solution to this?

[code]

[2017-10-13 20:57] danwinship commented on #4300
So the master is not a node? The standard ansible installation will make the master also be a node which is non-schedulable, and that is necessary for certain parts of browser-based access to work.

[2017-10-13 20:59] bparees commented on #7825
There were issues at some point with service account credentials not being created properly when projects were created.  This would result in the builder service account not having a credential to use when pushing images.  I am going to assume that's what these users faced (to all of you, I apologize that no one followed up on your issue in a timely fashion), so I am going to close this, but if so

[2017-10-13 20:59] #7825 closed

[2017-10-13 21:05] danwinship commented on #4300
Oh, are you deploying in a cloud/VM with "public" and "private" IP addresses? If so, the Node objects need to have the nodes "private" IPs (ie, the IPs corresponding to `eth0` or whatever on the node), not the public IPs. See `openshift_hostname`/`openshift_public_hostname` and `openshift_ip`/`openshift_public_ip` in the ansible install docs.

[2017-10-13 21:14] pycaster commented on #4300
@danwinship

I am deploying OpenShift on hosted OpenStack. Here is the inventory file I used and I have only 1 IP on the VM (on ens160 interface).

[code]

[2017-10-13 21:21] bparees commented on #8359
i'm cleaning these docs up here:
https://github.com/openshift/openshift-docs/pull/5719

[2017-10-13 21:40] bparees commented on #8951
I can't reproduce this at this point, I tried with:

[code]

and oc describe shows me all 3 images (w/ different ids because the tag is part of the sha now, i believe, which might be what fixed this):

[code]

[2017-10-13 21:40] #8951 closed

[2017-10-13 21:55] bparees commented on #9419
i'm not sure if changes were made ( @legionus ?) but here's the new liveness probe:

[code]

which means 10s initial delay + 2 failures at 10s each, before the 3rd failure will cause a restart.  So 30s seems like sufficient time to get the registry up and running.

Between that and not hearing more reports of crashlooping registries, i'm going to consider this closed (either because the timeout di

[2017-10-13 21:55] #9419 closed

[2017-10-13 22:42] bparees commented on #13852
unrelated to registry, this is just a k8s pod image pull issue.  @sjenning

[2017-10-13 22:47] #14610 closed

[2017-10-13 22:49] bparees commented on #15333
doesn't seem to be recurring, closing.

[2017-10-13 22:49] #15333 closed

[2017-10-14 10:28] zouzouzouz opened #16875 "unknown error on wildfly 10.0"
![image](https://user-images.githubusercontent.com/32792788/31574934-0b2f21fc-b0db-11e7-93a8-74f5eea58fc5.png)
![image](https://user-images.githubusercontent.com/32792788/31574936-148eac86-b0db-11e7-84f2-a29f15a15178.png)

[2017-10-14 10:29] #16875 closed

[2017-10-14 11:39] sosiouxme opened #16876 "must provide the ansible_service_broker_registry_* parameters"
v3.7.0-alpha.1+6b5c86e-1111
https://github.com/openshift/origin/pull/16848
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16848/test_pull_request_origin_extended_conformance_install_update/7918/

[code]

Don't know if this is a flake or outright broken. Will run it again.

[2017-10-14 12:44] kargakis commented on #16876
This is not a flake, seems to be broken.

/assign @bparees @jim-minter
/priority P0

[2017-10-14 15:37] bparees commented on #13014
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/239/testReport/junit/(root)/Extended/_Feature_Builds__Slow__completed_builds_should_have_digest_of_the_image_in_their_status__S2I_build_started_with_normal_log_level_should_save_the_image_digest_when_finished__Suite_openshift_/

[2017-10-14 17:29] bparees opened #16877 "[Feature:Prometheus][Conformance] Prometheus when installed to the cluster should start and expose a secured proxy and unsecured metrics"
[code]

@smarterclayton, @jcantrill  not sure who owns the prometheus component itself right now, please reassign as needed.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16874/test_pull_request_origin_extended_conformance_gce/9710/

[2017-10-14 17:41] smarterclayton commented on #16877
I think this is the same as the network flakes, where we are getting
occasional failures when trying to get off the pod network.  The runner pod
is trying to access the host network, but that's not something that should
in any way be disrupted.  I'd say this looks a lot like our periodic
failure to push to registry because SDN is unavailable / in the midst of
changing.

@openshift/sig-networking

[2017-10-14 18:54] #8359 closed

[2017-10-14 23:01] juanluisvaladas commented on #9673
This issue seems fixed now:

[code]

[code]

[code]
[code]

[2017-10-15 00:32] jpeeler commented on #16585
PR in progress: https://github.com/openshift/origin/pull/16872

[2017-10-15 01:17] jmrodri commented on #16876
Taking a look

[2017-10-15 13:25] bparees commented on #16229
@coreydaley
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/249/testReport/junit/(root)/Extended/_image_ecosystem__perl__Slow__hot_deploy_for_openshift_perl_image__Dancer_example_should_work_with_hot_deploy__Suite_openshift_/

[2017-10-15 13:43] bparees commented on #16402
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16874/test_pull_request_origin_cmd/4691/

[2017-10-15 13:48] bparees opened #16878 "[k8s.io] Garbage collector [Feature:GarbageCollector] should not delete dependents that have both valid owner and owner that's waiting for dependents to be deleted"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16857/test_pull_request_origin_extended_conformance_gce/9718/

[2017-10-15 13:48] bparees commented on #16878
@mfojtik i've landed :)

[2017-10-15 15:20] mjudeikis commented on #15429
I think we covered all possible use-cases and even more :D I liked the idea of `suppress-bc-triggers` and `suppress-dc-triggers`. But does this mean we 'exploding' `new-app` flags even more?

Could we do something like `--suppress-triggers` - default all, but we can do `--suppress-triggers=DeploymentConfig,DC,BC,BuildConfig,SomeOtherRandomObject`

And if I understood consensus is if flag is provid

[2017-10-15 19:09] malagant commented on #13955
I had this issue, too today.
Just a hint with a great solution if you're having this (works also with 3.6)

https://access.redhat.com/solutions/2173071#comments

TL;DR: It's all about permissions.

[2017-10-15 19:13] malagant commented on #16051
Well, It's all about permissions as I found out with having the same trouble today.
I found this: https://access.redhat.com/solutions/2173071
It's all about permissions on the docker directory for the registration.
The solution is for 3.1 but worked for me using 3.6

So glad I found it.

[2017-10-16 02:57] #16847 closed

[2017-10-16 02:57] #10404 closed

[2017-10-16 06:48] bparees commented on #13955
@malagant i'm afraid that's just one of many potential causes of 500 errors from the registry, but i'm glad you were able to sort yours out!

[2017-10-16 07:08] malagant commented on #13955
@bpares You are definitely right.

[2017-10-16 08:00] bparees commented on #16352
@mfojtik what API request were you making?  I assume you weren't directly creating the imagesignature.

[2017-10-16 08:20] adelton commented on #14904
Per justification by @smarterclayton, I'm going to close this issue since the behaviour that you experience is expected starting with 3.6.

[2017-10-16 08:20] #14904 closed

[2017-10-16 08:26] dkarlovi commented on #16805
The `pause` / `resume` (note, it's not `unpause`) is working as expected and I'm able to have desired functionality from it. Thank you very much @tnozicka, closing this.

[2017-10-16 08:26] #16805 closed

[2017-10-16 09:15] bparees commented on #16352
@mfojtik @legionus this looks right to me:
https://github.com/openshift/origin/pull/16353/files#diff-93ff04a669b260955e668eb4ee914e01L160

can i get another hint? :)

(steps to recreate this would be useful)

[2017-10-16 09:41] bparees opened #16881 "[k8s.io] EmptyDir volumes when FSGroup is specified [Feature:FSGroup] new files should be created with FSGroup ownership when container is non-root [Volume]"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16857/test_pull_request_origin_extended_conformance_install_update/7967/

@mfojtik not sure if this is you or storage, reassign as needed please.

[2017-10-16 10:12] mfojtik commented on #16835
seems like the `RegistryServiceName` in `~/go/src/github.com/openshift/origin/pkg/serviceaccounts/controllers/docker_registry_service.go` is not set or empty, probably lost in controller refactoring somehow?

[2017-10-16 11:53] deads2k commented on #16835
Pretty sure it is hardcoded: https://github.com/openshift/origin/blob/master/pkg/cmd/server/origin/controller/serviceaccount.go#L101

[2017-10-16 11:55] deads2k commented on #16835
@smarterclayton `=` becomes `%3d` when encoded for a URL, right?

[2017-10-16 11:57] deads2k commented on #16835
Yeah, `InfoDepth` does a second `Fprintf` on the message from here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go#L151

[2017-10-16 12:25] smarterclayton opened #16882 "flake: templateservicebroker security test should pass security tests"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16851/test_pull_request_origin_extended_conformance_gce/9755/

[code]

Looks like permission cache not being filled yet?

@openshift/sig-security @openshift/sig-master

[2017-10-16 12:32] simo5 commented on #16882
another flake due to our clients being "too fast" now ?

[2017-10-16 13:00] sosiouxme commented on #9673
lgtm

[2017-10-16 13:00] #9673 closed

[2017-10-16 13:12] thomasmckay opened #16883 "five "du" process taking high percentage cpu"
After letting openshift run over the weekend (started w/ minishift on centos7 VM), the VM has 100% cpu consumed by 5 "du" process. openshift process itself has a modest 20%. The openshift console shows no events or other indication things are not working correctly.

##### Version
$ minishift openshift version
openshift v3.7.0-alpha.1+259bd33-1104
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### Step

[2017-10-16 13:33] adelton commented on #3498
Could you provide steps to reproduce the situation which currently leads to failure?

[2017-10-16 13:37] gabemontero commented on #16853
bump @bparees (thoughts on analysis / proposals noted last comment) ... unless it is tl;dr territory, in which case I'll just craft a debug PR

[2017-10-16 13:41] liggitt commented on #3498
with the controllers running, remove the service account tokens in the openshift-infra or kube-system namespaces. the controllers start encountering 401 errors, but do not exit, which would allow them to pick up new valid credentials

[2017-10-16 13:45] adelton commented on #3743
@liggit, could you please elaborate on the "field level policy"?

[2017-10-16 13:47] simo5 commented on #16611
Merged as part of pick list

[2017-10-16 13:47] #16611 closed

[2017-10-16 14:02] zonArt commented on #9584
One more question:
Regarding `ImageStream` object proxying a private authenticated registry, once I'll manage to get the secret working (if I get it one day), will it work to push to this registry ?
This is the finality of my problem, actually, as I pull using the registry's url and not the `ImageStream` (during build process)

[2017-10-16 14:05] liggitt commented on #16731
similar issue reported upstream, I verified we get full status objects back in 1.8, hadn't tracked down where it was fixed

https://github.com/kubernetes/kubernetes/issues/52754#issuecomment-331682105

[2017-10-16 14:09] simo5 commented on #15412
`oc auth reconcile` is missing

[2017-10-16 14:11] liggitt commented on #3743
"field-level policy" meaning policy that is based on contents of submitted objects, instead of attributes determined from the URL of the submitted request

[2017-10-16 14:47] sjenning commented on #16882
My PR has hit this 7 times in a row.
https://openshift-gce-devel.appspot.com/pr/16851

[2017-10-16 15:22] sjenning commented on #13852
Upgrades are best done using the openshift-ansible upgrade playbook.

https://github.com/openshift/openshift-ansible/tree/master/playbooks/byo/openshift-cluster/upgrades/v3_4

Not sure exactly what the issue is here.  I think that origin 1.4 may have used docker 1.10 and there might be an incompatibility there.

[2017-10-16 15:31] danwinship commented on #16877
Service IPs are complicated and have lots of ways they can fail, but the error here is with a *pod* IP, and in normal operation the SDN shouldn't be changing in ways that would make a valid pod IP temporarily unavailable.

And if the network was temporarily down, you'd expect "timed out" or "no route to host" rather than "connection refused", which implies that the packet was successfully routed t

[2017-10-16 15:33] danwinship commented on #16877
actually, it has to have been routed to the correct IP, or the destination would just ignore the packet, so again you'd get timeout/no route.

[2017-10-16 15:53] joelsmith commented on #16882
I have 2 stage PRs that have hit it every time. Are PRs against master hitting it too? Both the PR by @sjenning and mine are against stage.
https://openshift-gce-devel.appspot.com/pr/16856
https://openshift-gce-devel.appspot.com/pr/16855

[2017-10-16 16:02] #15933 closed

[2017-10-16 18:02] jim-minter commented on #16882
@bparees fyi ^

[2017-10-16 18:08] liggitt commented on #16583
what environment and verison are you seeing this on?

[2017-10-16 18:12] liggitt commented on #16583
need at least 3.6.173.0.48

[2017-10-16 18:20] liggitt commented on #16583
if we're seeing high levels of endpoint write API calls, but low volumes of updates when watching endpoints, then it is likely that the writes are no-op writes, and https://github.com/kubernetes/kubernetes/pull/50583 is a candidate fix

[2017-10-16 18:24] jim-minter commented on #16876
Started failing after https://github.com/openshift/aos-cd-jobs/pull/718
Above change reverted by https://github.com/openshift/aos-cd-jobs/pull/733
I think that https://github.com/openshift/openshift-ansible/pull/5764 solves this issue
@sdodson @jmrodri could you advise, now #5764 is merged, when will it be available as an RPM in the 3.6 repo for the CI job to use?

[2017-10-16 18:29] sdodson commented on #16876
It should be fixed now. openshift-ansible upgrade tests have been passing all day aside from the occasional e2e flake.

[2017-10-16 18:55] surajssd commented on #16731
This seems to be fixed in upstream:

on k8s
[code]

on openshift

[code]

by upstream do you mean Kubernetes or something else?

[2017-10-16 18:56] liggitt commented on #16731
yes, kubernetes. fixed in the 1.8 timeframe, which means openshift would pick up the fix in 3.8

[2017-10-16 19:07] smarterclayton commented on #16877
Interesting.  It was going to the kubelet from a host network pod (I
think).

On Oct 16, 2017, at 5:33 PM, Dan Winship <notifications@github.com> wrote:

which implies that the packet was successfully routed to some IP (hopefully
the correct one...)

actually, it has to have been routed to the correct IP, or the destination
would just ignore the packet, so again you'd get timeout/no route.

—
You

[2017-10-16 19:09] surajssd commented on #16731
Is this a beginner friendly issue? If yes, what particular areas I should look at to solve this problem?

I have been trying to solve this issue for quiet sometime now!

- First I tried to find where this string is built? But it seems like the code is very modular and simple grep won't help.
- When I tried the same on k8s, I found that the server throws the error in a [rbac.go](https://github.com/

[2017-10-16 19:11] surajssd commented on #16731
@liggitt thanks for that reply, did not see your early comment, but I think this will help me understand how this was solved :+1:  :-)

[2017-10-16 19:16] jim-minter commented on #16876
@sdodson the change on aos-cd-jobs was reverted by clayton, that's why it's passing
I want to get the change back in - either it will necessitate the CI infra using an 3.6 openshift-ansible RPM containing your fix, or a workaround - am wanting to find out which I should pursue

[2017-10-16 19:25] jcantrill commented on #15920
@mwringe Can you weigh in on this issue or close if appropriate

[2017-10-16 19:27] jcantrill commented on #15586
Tested with on centos host:
[code]
Results in:
[code]
Looks to work with the latest version of openshift/origin-ansible:v3.6.0
Closing

[2017-10-16 19:27] #15586 closed

[2017-10-16 19:28] #14874 closed

[2017-10-16 19:29] jcantrill commented on #14277
Please try v3.6 or better.  Closing as we are unlikely to fix in 1.5/3.5 release of the code.

[2017-10-16 19:29] #14277 closed

[2017-10-16 19:32] jcantrill commented on #13534
Tested with on centos host:
[code]
Results in:
[code]
Looks to work with the latest version of openshift/origin-ansible:v3.6.0
Closing as it wfm

[2017-10-16 19:32] #13534 closed

[2017-10-16 19:33] bparees commented on #16853
didn't have any additional thoughts, your analysis and proposed next steps (plugging holes, increasing logging) sounded right to me.

[2017-10-16 19:33] jcantrill commented on #12505
Closing as we are unlikely to retag 1.5

[2017-10-16 19:33] #12505 closed

[2017-10-16 19:34] jcantrill commented on #12603
Closing in favor of jira issue

[2017-10-16 19:34] #12603 closed

[2017-10-16 19:35] jcantrill commented on #16005
Closing related to the amount of CPU given to fluent.  Please reopen if we see otherwise

[2017-10-16 19:35] #16005 closed

[2017-10-16 19:37] jcantrill commented on #15851
@jupierce will we push new origin metrics images?

[2017-10-16 19:37] #16836 closed

[2017-10-16 19:37] jcantrill commented on #15599
Closing as we are unlikely to fix this in the 3.5/1.5 code base.  Please upgrade to 3.6 or better

[2017-10-16 19:37] #15599 closed

[2017-10-16 19:40] jcantrill commented on #14576
Is this issue generally something we will get from each component owner providing relevant prometheus metrics?

[2017-10-16 19:40] bparees commented on #16882
@jim-minter do you think there's an actual issue w/ the newer TSB image, or that the newer TSB image is exposing an issue in the security cache?

(or three, i guess, the test is flawed and should be waiting for more initialization).

Trying to make sure we have the right assignee.

[2017-10-16 19:43] gabemontero commented on #16853
On Mon, Oct 16, 2017 at 3:34 PM, Ben Parees <notifications@github.com>
wrote:

cool - thanks for the confirmation (and consuming all that detail :-) )

[2017-10-16 19:58] enj commented on #16731
This was fixed in https://github.com/kubernetes/kubernetes/pull/47384

@smarterclayton @liggitt are we OK with 3.7 not having status errors on forbidden?  3.6- work as expected, and so will 3.8+  Seems strange to have 3.7 be the only release with this in a broken state.

[2017-10-16 19:58] bparees commented on #9584
I'm not exactly sure what you're asking, but the secret that you use to import the image should also be usable to push to the source registry (ie if you reference the secret in a buildconfig that has your source registry as the output image target).

[2017-10-16 20:03] bparees commented on #16352
we appear to be doing the right thing now:
[code]

[2017-10-16 20:03] #16352 closed

[2017-10-16 20:09] enj commented on #16882
@bparees based on what I gathered from @jim-minter on IRC, the issue is that the new image performs actions that the old image did not (has new get calls).  The code in master has been updated to include new RBAC rules to cover that, whereas the code in stage does not have that change.  Thus when this new image runs during stage testing, it performs a get operation which it does not have permissio

[2017-10-16 20:25] jupierce commented on #15851
@jcantrill My team presently only publishes OCP based images. @smarterclayton has historically done origin releases.

[2017-10-16 20:26] sdodson commented on #16876
Sorry, I missed that. It should've happened, reaching out to CI/CD team.

[2017-10-16 20:35] bparees commented on #16882
got it, thanks @enj

so is the plan to backport the rules changes to stage?

[2017-10-16 20:36] bparees commented on #16882
or just wait until stage gets refreshed at the end of this sprint?

[2017-10-16 21:20] jim-minter commented on #16882
@bparees I think this is purely an artifact of our GCE CI infrastructure not building/using docker images corresponding to the executable version.
I was aware that in GCE CI a given executable might be paired with older images from the same branch, but I was not aware until today that an executable might be paired with *newer* images from a different branch (executable from stage, images from mast

[2017-10-16 21:27] jim-minter opened #16895 "enable GCE CI testing for TSB"
Remove all the `framework.SkipIfProviderIs("gce")`s when GCE testing runs against the correct TSB image

[2017-10-17 01:13] glennodickson commented on #13534
@csrwng Apologies for late reply but yes 1.5 was ok. Host is Windows 10.

[2017-10-17 06:44] adelton commented on #3498
I have OpenShift 3.7all-on-one setup.

I've created deployment via

[code]

and got

[code]

There are no secrets in

[code]

but there's a bunch of them in `openshift-infra`:

[code]

I've deleted the two `serviceaccount-controller-token`s:

[code]

I have redeployed with

[code]

but things are still passing:

[code]

with no (relevant) errors in the node log.

What should I have done differentl

[2017-10-17 06:49] soltysh commented on #15215
There's a simple workaround this problem, run the start build command in background and stream logs:
[code]

[2017-10-17 07:20] bparees commented on #16772
@jim-minter in my experience this is a network glitch we can't do much about...did you have some thoughts on something we should do here?  if not i'd be in favor of closing it.

[2017-10-17 07:25] bparees commented on #16882
not sure why https://github.com/openshift/origin/pull/16887 didn't close this, manually closing.

[2017-10-17 07:25] #16882 closed

[2017-10-17 07:32] miminar commented on #7336
The unknown part of `v2.6.2+unknown` still needs a bit of polishing.

[2017-10-17 07:40] soltysh commented on #16616
This has nothing to do with cronjob itself, mounting is the responsibility of the storage team. So re-assigning to them.

[2017-10-17 08:00] JooyoungJeong opened #16902 "Metrics are not available. [using oc cluster up]"
Hi.
[provide a description of the issue]
i created oc using  oc cluster up   in ec2(AWS)
$ oc cluster up --public-hostname="${public_hostname}" --routing-suffix="${public_ip}.nip.io" --metrics --logging --service-catalog
but, openshift-web-console's monitoring tab doesn't show matric ::

Metrics are not available.
An error occurred getting metrics for container python-test from https://hawkular-me

[2017-10-17 08:36] dgoo2308 commented on #8680
@jupierce following the above instruction, e.g. :

    oc new-build --to="is-oc-runner:latest" --strategy=docker --binary=true --name="bc-oc-runner" -o yaml | oc apply -f -

I get a warning:

    Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply
    imagestream "is-oc-runner" configured
    Warning: kubectl apply should be used on res

[2017-10-17 09:21] bparees commented on #16755
@smarterclayton bump.  @sspeiche has opened a pr defining an openshift.io/provider-display-name annotation (using it on imagestreams).

You seem against that and i'm against template.openshift.io/provider-display-name, so what is your take on imagestream.openshift.io/provider-display-name?

(note that openshift.io/display-name is already in use)

[2017-10-17 09:43] smarterclayton commented on #15851
This is origin-metrics-hawkular-metrics?

[2017-10-17 09:46] florent-souliere-smile commented on #16834
@liggitt Thanks, the workaround is ok and tested!

[2017-10-17 09:48] smarterclayton commented on #16877
Correction, this was the exec call failing - it couldn't exec into a pod.  The master was unable to hit the node at that IP.   So e2e test running on the master connects to the apiserver to run an exec - the apiserver is reachable, but the kubelet is not.  I can't think of why a GCE master would be unable to reach a GCE node except due to some sort of node overload?

[2017-10-17 09:52] smarterclayton commented on #15851
Updated origin-metrics-hawkular-metrics:v3.6.0 to be the value of :latest

[2017-10-17 10:07] ksemaev commented on #16616
I suppose that this message occure when kubelet is destroying pods, because everything works perfectly. So when the cronjob is done - pod is deleted, but for some reason this mounting secret process is still awaiting for something

[2017-10-17 11:20] cldmnky commented on #16797
@knobunc We did like this on the release-3.6 branch to workaround the issue:
We added a `--ignore-domain` flag to the `openshift-router` to mimic the behaviour for  `ROUTER_OVERRIDE_HOSTNAME="true"` but only for a specific domain.

[code]

[2017-10-17 12:46] sspeiche commented on #16755
Any thoughts on what this should be? I have 2 PRs that are waiting for resolution. https://github.com/openshift/origin/pull/16899 and one in JBoss repo.

The Catalog filter on provider is a bit inconsistent as we don't have the content updated.

[2017-10-17 12:57] danwinship commented on #4300
If `ci-master-01.example.com` doesn't resolve to `10.145.80.225` then you need to specify `openshift_ip="10.145.80.225"`

[2017-10-17 12:59] liggitt commented on #3498
kube-system :)

The errors would appear in the controllers log. For example, deleting the build-controller-* secrets would disrupt the build controller.

[2017-10-17 13:35] sdodson commented on #16876
It looks like 3.6.173.0.45 is still the latest build in the CI/CD repos. Deferring to @jupierce

[2017-10-17 15:10] #16583 closed

[2017-10-17 15:29] adelton commented on #3498
Auch. Sorry about that.

I've deleted

[code]

and that seems to have disrupted the `rc/ruby-ex`:

[code]

Where do I find the controller logs? In the `-deploy` pod log, there does not seem anything specific about the 401 errors:

[code]

[2017-10-17 15:49] jupierce commented on #16876
The OSBS build system is still experiencing issues and there have been no successful 3.6 builds for days. Still trying to get one through. OSBS claims they will be adding a fix for this in the next day or so.

[2017-10-17 15:58] liggitt commented on #3498
in whatever process is running the openshift controllers, which depends on your setup method:
* stdout of `openshift start master`
* output of the apiserver container with `oc cluster up`
* `journalctl -u atomic-openshift-controllers.service` on an installed system
* etc

[2017-10-17 16:52] liggitt commented on #16862
+1 for whitelist. you will never get all role creators to annotate.

[2017-10-17 17:05] jupierce commented on #8680
@dgoo2308 I believe if you create your initial resources with `.... | oc create --save-config  -f - `, you will not see this error.

[2017-10-17 17:18] simo5 commented on #4449
I think this should be now covered by oc auth reconcile and the new RBAC stuff.
Please reopen if not,

[2017-10-17 17:18] #4449 closed

[2017-10-17 17:28] simo5 commented on #3743
@liggit I would like to close this as WONTIFX, RBAC is an API level construct and completely inadequate to represent permissions for oc exec. There should be a different, specific policy (like perhaps sudo based) that deal with that.

[2017-10-17 18:09] benjaminapetersen commented on #16862
Back to where we started :)

[2017-10-17 19:32] jwforres commented on #16862
should we be whitelisting on the roles using an annotation, or whitelisting in the console using an extension with sane defaults

[2017-10-17 19:59] benjaminapetersen commented on #16862
Perhaps just a list in `config.js`?

[2017-10-17 19:59] johanbaron-axa commented on #8832
Hello:

In this part:

_Additional Information
Using the suggested way of getting an API token_

Can you share how did you get the token.

Thanks

[2017-10-17 20:21] fabianofranz commented on #14075
I was unable to reproduce this on 3.6.x using a similar environment: on Windows, without rsync installed, with a ROOT.war directory as part of the synced structured, eap pod, both to and from pod.

Since it's unlikely the fix will be ported to 1.4 I'm closing this, but feel free to reopen with more information about how to reproduce it if it still happens on a recent (3.5+) version.

[2017-10-17 20:21] #14075 closed

[2017-10-17 20:41] jboyd01 opened #16917 "extended_conformance_gce fails in cleanup deleting tmp/etcd"
possible dup of https://github.com/openshift/origin/issues/15977?

extended_confromance_gce has failed twice in a row on a PR, both failures are during cleanup to delete tmp/etcd

[full log](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/16908/test_pull_request_origin_extended_conformance_gce/9851/build-log.txt)

[code]

My PR where I'm hitting this:  [https://github.com/openshift/orig

[2017-10-17 20:50] stevekuznetsov commented on #16917
Do you have the Gubernator page for the overview for this? You're failing because an extended test failed. I want to make sure the jUnit is being exposed.

[code]

/close

[2017-10-17 20:50] #16917 closed

[2017-10-17 21:25] jupierce commented on #16876
@jim-minter At long last, a 3.6 build made it through the gauntlet (3.6.173.0.56).

[2017-10-17 22:32] tomaszkurgan opened #16921 "Application is not available after successful deployment"
Application worked fine, but all of the sudden it stopped working.
After successful deployment of the application, there is no access to it in a browser.
"Application is not available" appears all the time. Logs look just fine.

##### Version
oc v3.6.173.0.7
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://api.starter-ca-central-1.openshift.com:443
openshift v3.7.0-0.143.3
kuberne

[2017-10-18 00:37] lignis commented on #16921
I am experiencing the same behavior.

[2017-10-18 06:13] ArminMW commented on #15586
I also successfully deployed v3.6.0 "oc cluster up --metrics [...]".

Btw., I noticed that some problems with hawkular/heapster were caused by my node (Ubuntu 16.04 on a laptop) changes its IP-address when moving between different WLANs. The problem seems to be related with certificates. I saw some related messages in the heapster logs.

Unfortunately the "redeploy node certificates" ansible playb

[2017-10-18 06:59] smarterclayton commented on #16755
I'm ok with the generic name if this is novel and new and you don't want to use the template. prefix.  Prefix vs not is arbitrary.

[2017-10-18 07:10] bparees commented on #16816
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16916/test_pull_request_origin_extended_conformance_install_update/8070/

[2017-10-18 07:42] mfojtik commented on #16921
You can't create a route to database as the routes are http(s) only. The application is not available might suggest a problem with the router/route.

cc @openshift/sig-networking @smarterclayton

[2017-10-18 08:56] LostStudent opened #16923 "Router Stuck"
on the Dashboard > Routes

Message with spinner says: "The route is not accepting traffic yet because it has not been admitted by a router"

oc status:
...
Errors:
  * route/carshowsserver is routing traffic to svc/carshowsserver, but either the administrator has not installed a router or the router is not selecting this route.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### S

[2017-10-18 09:16] zonArt commented on #9584
Hi,

Regarding the the possibility to push to an `ImageStream` (thanks to a `BuildConfig`) I got no problem in doing so by setting the `pushSecret` parametre. The issue was on the fabric8-maven-plugin which was overriding my BC (a [PR](https://github.com/fabric8io/fabric8-maven-plugin/pull/1071) was opened to propose a fix even if I'm not hundred per cent sure it's the right approach).

Regarding

[2017-10-18 09:18] shatsky commented on #16921
Mine too. I've tried to create a new route but it got stuck with the message "The route is not accepting traffic yet because it has not been admitted by a router." When I was migrating to v3 a month ago I got the same problem on starter-us-west-1 and "solved" it with changing server to starter-ca-central-1. Such things make OpenShift Online Starter effectively unusable. I wonder if Pro clients are

[2017-10-18 09:34] bparees commented on #9584
@miminar does image import do any useful logging that would show us if the secret is being used when we try to do the import?

@zonArt the buildconfig that successfully did the push is in the same project as the imagestream that can't import?

[2017-10-18 09:41] zonArt commented on #9584
@bparees yes it is, having this BC:
[code]
makes the build success without any issue (thanks to the `pushSecret` section)

[2017-10-18 09:52] bparees commented on #16755
talked to @smarterclayton and while he'd be willing to have us introduce an image.openshift.io namespace, i feel too guilty about it proceed so  we'll introduce openshift.io/provider-display-name as the generic annotation and update the TSB ones to be openshift.io as well.

@jim-minter i'll need to chat w/ you about any ordering implications of making the change to ensure we don't break tests, but

[2017-10-18 10:26] zonArt commented on #7226
@Meems33 Sorry for coming late on this issue, but I notice per your comment that you seemed to successfully having an `ImageStream` pulling an external artifactory docker registry.
May I kindly ask you whether it was an authenticated registry and if yes how you manage to get your `ImageStream` working with it ?

[2017-10-18 10:29] bparees opened #16926 "3.7 oc client cannot prune imags on 3.5 cluster"
the 3.7 client does not seem to fall back to the legacy api, so it gets permission issues trying to access group api resources when trying to prune a cluster that does not have the groups api.

[2017-10-18 10:36] soltysh commented on #16746
Nope.

[2017-10-18 11:02] midekra opened #16928 "Cannot use docker pull from the default image streams in Openshift Origin"
Docker pull from the default image streams in my private registry on Origin does not work (image not found). I assume that a basic docker pull from the default openshift image streams should be possible?

Though `oc new-app postgresql:latest` works without any problems.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reprodu

[2017-10-18 11:18] bparees opened #16929 "[Feature:DeploymentConfig] deploymentconfigs when run iteratively [Conformance] should only deploy the last deployment"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16924/test_pull_request_origin_extended_conformance_gce/9899/

[2017-10-18 12:13] tomaszkurgan commented on #16921
Just for my curiosity - is P0 more important than P1?

[2017-10-18 13:00] sjenning commented on #16870
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16896/test_pull_request_origin_extended_conformance_gce/9904/

[2017-10-18 13:33] midekra commented on #16928
I've solved it with building my own images and pushed them to the imagestream. Works for me.

[2017-10-18 13:33] #16928 closed

[2017-10-18 13:57] pweil- commented on #16883
@thomasmckay it's hard to tell that this is an OpenShift related issue based on the description.  Please open this against the minishift repo.