[2015-11-30 15:19] #4980 closed

[2015-11-30 15:20] liggitt commented on #6107
are the two clusters using the same hostnames for the registry? can you try again, leaving out the /v2, and show the pod that failed to pull?
[code]

and for each secret listed in the pod's imagePullSecrets list:
[code]

[2015-11-30 15:21] liggitt commented on #6107
@deads2k, anything you can think of other than path length and a conflicting hostname that could cause the dockercfg to be ignored?

[2015-11-30 15:42] smarterclayton opened #6118 "new-app and new-build should only import the selected image"
Today we import the entire docker image repository when referenced, which for very large repos sucks.  We should selectively import it.

WARNING: Old servers don't selective import, so somehow the client needs to do something different when talking to 1.1 vs 1.0

[2015-11-30 15:47] rootfs commented on #6070
let me dig into this unplanned endpoint deletion issue.

[2015-11-30 16:05] liggitt commented on #6116
Give that pod's service account that permission:
[code]

[2015-11-30 16:20] deads2k commented on #6107
No, one should cover the other.

[2015-11-30 16:24] smarterclayton commented on #6070
Found it - see checkLeftoverEndpoints in endpoints_controller.  Was added
in b49dd0ad1e95

For now, you'll need to create a service with selector = null (not empty
map) to preserve the endpoints.

On Mon, Nov 30, 2015 at 10:47 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-11-30 16:30] rhcarvalho opened #6121 "Jenkins flake: spec.clusterIP: invalid value '172.30.17.240', Details: provided IP is already allocated"
Seen in https://github.com/openshift/origin/pull/6090

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7533/console

[code]

[2015-11-30 16:54] spadgett commented on #5988
Should be able to "disable" the link like this:

[code]

[2015-11-30 17:41] liggitt opened #6125 "Firefox 38 websocket problems"
User report from @jim-minter:

From another user:

Firefox 38.4

cc @jwforres

[2015-11-30 18:06] #5296 closed

[2015-11-30 18:48] spadgett commented on #5988
Should we use `ng-aria`?

https://docs.angularjs.org/api/ngAria

[2015-11-30 20:17] benjaminapetersen commented on #5988
Looks like a good idea to me!

[2015-11-30 20:29] spadgett commented on #6098
@liggitt or @jwforres please assign to me

[2015-11-30 21:23] spadgett opened #6131 "Web console should always show the last complete deployment"
Right now the web console always shows the latest deployment and any previous deployment with replicas > 0. We should always show the last complete deployment (which is not always latest), even if scaled to 0.

Maybe also put a time limit on how long we show the latest cancelled or failed deployment?

/cc @jwforres @liggitt

Related to #3363

[2015-11-30 21:23] detiber commented on #4187
@jigkoxsee Just noticing that I was the one assigned this bug. Are you still experiencing this issue? The original issue seems like it could be an issue with communication over the SDN overlay.

[2015-11-30 21:26] detiber commented on #5796
@bparees Any idea of what the builder is trying to communicate with at the moment it's getting the tcp timeout error? Without knowing that, tracking down the installation/configuration issue may be difficult.

[2015-11-30 21:29] detiber commented on #5828
@danmcp We are already tracking this issue on the openshift-ansible repo: https://github.com/openshift/openshift-ansible/issues/855 and have a PR to address it here: https://github.com/openshift/openshift-ansible/pull/966

[2015-11-30 21:30] bparees commented on #5796
it's generally trying to do the git clone from the repo, so probably https call to github.

[2015-11-30 21:30] detiber commented on #5924
@danmcp We are setting both virt_sandbox_use_fusefs and virt_use_fusefs in openshift-ansible, With the resolution mentioned by @gorg3b it seems like this is more of a documentation issue now.

[2015-11-30 21:31] bparees commented on #5796
often indicative of a networking issue with the SDN which is preventing external access.

[2015-11-30 21:39] CuriousA62A2A commented on #6070
@rootfs I'll chime in with what @gravis said. The endpoints are gone.

[2015-11-30 21:43] CuriousA62A2A commented on #6070
@smarterclayton good find. I'm not exactly sure that I get it though.
Do I need to create a dummy service with 'selector = null' that consumes a resource from the endpoint to keep it alive or has I got it all backwards?

[2015-11-30 21:46] ivanthelad opened #6132 "oadm support for separating podnetwork after previously joining. unjoin"
Add the ability to "unjoin" podnetwork after previously joining with the oadm
pod networks join by having the same netid in their NetNamespace object
you can currently unjoin by manually editing a NetNamespace.netid to be unique in the cluster (or global)

[2015-11-30 21:55] smarterclayton commented on #6070
Yes - you'd need to have service "glusterfs" with a null selector in order
for endpoints "glusterfs" to not get deleted automatically.  We definitely
need to update our gluster integration documentation.

On Mon, Nov 30, 2015 at 4:43 PM, CuriousA62A2A <notifications@github.com>
wrote:

[2015-11-30 22:08] gravis commented on #6070
I have read that somewhere, but I don't find the doc...

[2015-11-30 22:10] gravis commented on #6070
https://github.com/kubernetes/kubernetes/tree/master/examples/glusterfs

"We need also create a service for this endpoints, so that the endpoints will be persistented."

[2015-11-30 22:21] gravis commented on #6070
with the obvious issue that people with permissions on services can remove accidentally the endpoints...

[2015-11-30 22:23] thesteve0 commented on #5952
Definitely easier to see in the screenshot. Let me know when you have a branch that has it and I will try to check it out myself on an actual install. Thanks for the quick response

[2015-11-30 22:25] thesteve0 commented on #5952
Can you also darken up the route icon and the gear icon (not sure what that stands for)

[2015-11-30 22:44] bilalyasar commented on #6116
@liggitt , thanks.

another question:
in docker, our application bind an interface which is not related with aws private address. So i want to bind ec2-private address without changing my code. Can i override docker start parameters like `net=host`?

[2015-11-30 23:03] #4730 closed

[2015-11-30 23:03] #5072 closed

[2015-12-01 01:39] stevekuznetsov commented on #6040
Seen a lot of these just now. Manual `curl` for `https://copr.fedoraproject.org/coprs/maxamillion/origin-next/repo/epel-7/maxamillion-origin-next-epel-7.repo` succeeds - more evidence that something is wrong with the networking in the devenv ami

[2015-12-01 03:18] spadgett opened #6134 "UI should prompt if io.openshift.non-scalable"
We should disable the scaling controls or at least warn when the non-scalable label is set.

https://docs.openshift.org/latest/creating_images/metadata.html

[2015-12-01 03:18] spadgett commented on #6134
@jwforres please assign to me

[2015-12-01 03:29] liggitt commented on #6134
Does the UI have access to the label on the image?

[2015-12-01 10:32] rhcarvalho opened #6136 "Output from `oc new-build -o json` should contain JSON only"
The alternative output formats to `oc new-app` and `oc new-build` should not print the descriptive information to stdout. With the extra output, one cannot redirect the output to a file and use it later without having to manually edit it.

Example:

[code]

[2015-12-01 10:32] rhcarvalho commented on #6136
@bparees please assign this to me if you agree the behavior should be fixed.

[2015-12-01 10:45] kargakis opened #6137 "TestTranslateTimestamp flake"
[code]

[2015-12-01 11:05] liggitt commented on #5216
Also, our factory.ClientConfig() returns a config negotiated against the kubernetes API. We use that in several commands (edit, env, export, etc), assuming the negotiated version will also work against the OpenShift API

[2015-12-01 11:06] smarterclayton commented on #4100
Modifying the IS should not reset the annotation.  Eventually, we will formalize the annotation as a field on the object.  When we do that, you'll have to clear the "latest" state in order to import.

[2015-12-01 11:12] sosiouxme commented on #3946
If we're adding types, how about a `file` type?
    "${FOO | file}"
    "${BAR | base64file}"
    $ oc process -v FOO=./foo -v BAR=./bar
      -> FOO replaced with contents of ./foo, BAR replaced with base64-encoded contents of ./bar

Ref. https://trello.com/c/70O1sCBv

[2015-12-01 11:13] smarterclayton commented on #6136
This should be fixed - we have dry-run messages  if the user wants to see messages.  This is high priority for 1.1.1

[2015-12-01 11:13] smarterclayton commented on #6134
This is questionable - as in, it's not correct to disable scaling unless it's an annotation on the rc or DC itself, and even at that it is a suggestion at best.

[2015-12-01 11:14] smarterclayton opened #6138 "Apply is not included in oc"
It needs to be

[2015-12-01 11:19] liggitt commented on #3946
this is about how parameters are rendered into the template, not input... you can already do
[code]

[2015-12-01 11:27] liggitt commented on #6138
There are several upstream fixes needed before it can be enabled

[2015-12-01 11:36] smarterclayton commented on #6138
[Citation needed]

[2015-12-01 12:17] spadgett commented on #6134
@smarterclayton Does it make sense then to add it as an annotation to the RC or DC for images with the label? I have a prompt already for scaling to 0 (#6098) that we could reuse. It feels weird that we put the arrows beside databases when you're just going to get yourself in trouble clicking them.

[2015-12-01 12:20] kargakis commented on #5584
How about making the default timeout configurable instead? --timeout=0 would equal to --nowait, plus I can now specify how much I want to wait (more or less than the default 10s we currently have for builds and deployments).

[2015-12-01 12:23] spadgett commented on #6134
It looks like it, but it's a bit of work to get.

[2015-12-01 12:37] ivanthelad opened #6140 "support passing secrets to oc new-app."
oc new-app is a great way to get a new-application /docker image up and running within seconds. It is unfortunately not usable when the target git repo is secured(involves point to a demo app and editing build configs instead). It should be possible to pass a secret to oc new-app to allow generation of a new application against a secured git repo
oc new-app $gitrepo --secret=mysecret --name=temp

[2015-12-01 13:23] #6137 closed

[2015-12-01 13:36] jhadvig commented on #5823
@danmcp please assign this issue to me. Thanks :)

[2015-12-01 13:39] smarterclayton commented on #6134
I would say someone who wants this should add the annotation to their DC
themselves - we could maybe carry it over in new-app, but that's a second
step.  I don't really want to fully lock out scaling though like that -
it's gotta be "this DC/RC has scale protection enabled - are you really
sure you want to scale up or down?"

On Tue, Dec 1, 2015 at 7:23 AM, Sam Padgett <notifications@github.com>
w

[2015-12-01 13:40] smarterclayton commented on #6134
And maybe we gray out the scalers so they are harder to see.

On Tue, Dec 1, 2015 at 8:39 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-12-01 13:47] sosiouxme commented on #3946
You can, at least under bash and if your file has no commas, but is that what  we want to tell users? Anyway, point taken, this might be too much overloading of the "types" concept.

[2015-12-01 13:59] spadgett commented on #6134
Sure, not against making it a prompt.

We use a lighter gray when the control is truly disabled (for instance, the down arrow when already at 0).

[2015-12-01 14:12] deads2k commented on #6138
I'm pretty sure that the resolution to https://github.com/kubernetes/kubernetes/issues/16543 about `apply` was

If that's as good as it gets, then feature is kind of borked across API versions and is heavily client-logic dependent, and may decide to simply stop performing the diff it was supposed to provide.

[2015-12-01 14:14] smarterclayton commented on #6138
Being broken identically to Kube is ok.

On Dec 1, 2015, at 9:12 AM, David Eads <notifications@github.com> wrote:

I'm pretty sure that the resolution to kubernetes/kubernetes#16543
<https://github.com/kubernetes/kubernetes/issues/16543> about apply was

That said, if we can't find a clean and simple way to use their historical
context when the version changes, then maybe it is the best experience

[2015-12-01 14:14] php-coder commented on #6031
In my case extended tests failed with the same error. I have found the problem, there will be running another instance of openshift:

[code]
HTH

[2015-12-01 14:17] stevekuznetsov commented on #6031
This is a common problem when running locally, yes. I do not think that this is the issue on Jenkins, however.

[2015-12-01 14:22] deads2k commented on #6138
It's sort of like exposing the "this resource will self-destruct upon the next API version" button in our API.  Do we really want that?

@jwforres if we do this and then allow mutation in the web console, you'll need to keep track of exactly how this magic annotation is set based on "user intent" and be very careful never to change the API version used to encode the annotation or you'll accidental

[2015-12-01 14:23] liggitt commented on #6138
the web console doesn't touch annotations on existing objects

[2015-12-01 14:24] deads2k commented on #6138
@jwforres oh, and you'll need to sort out how to either handle skewed object conversions client-side or at least detect it sufficiently to know that you need to refetch from the server in a particular format.  Keep in mind that will mean that you'll to be able to edit a particular version of the resource to be safe from conversion defaulting.

[2015-12-01 14:24] deads2k commented on #6138
In which case, the combination of `apply` and mutating web console is hosed.

[2015-12-01 14:26] liggitt commented on #6138
yes

[2015-12-01 14:27] deads2k commented on #6138
Not just in the "this is hard to use" sense, but in the "if you accidentally touch one of these things, all your changes will be erased and you make actually lose the entire resource" sense.

It's a self-destruct button.

[2015-12-01 14:30] adietish opened #6143 "oc rsync should offer exclusion patterns"
when using "oc rsync" to sync a directories we should be able to provide exclusion patterns. Typically if we're syncing code there's a .git folder in it that we dont want to sync to the server since it's useless and quite large, slowing down the turnaround

[2015-12-01 14:40] smarterclayton commented on #6138
We make a general statement that we extend kubectl.  We can acknowledge
certain features are dangerous or have flaws from upstream Kube as long as
their use is valuable to end users.  Saying we don't include something from
Kube because we don't agree with how it is implemented is a much stronger
statement that I would like to reserve for very special situations (which
I'm not sure this qualifies).

[2015-12-01 14:41] stevekuznetsov opened #6144 "LDAP sync needs to re-use LDAP connections"
Currently we throw them away every time we run a query.

@liggitt @deads2k

[2015-12-01 14:43] deads2k commented on #6138
Yeah, you'd think it would.  However, `apply` requires every client that ever makes a change to know exactly how to patch the new changes into the `apply` annotation.  If that annotation isn't built properly, the three way merge in `apply` doesn't work and changes can be stomped incorrectly.

`apply` requires every client that exists to know exactly how a particular client will use unstructured da

[2015-12-01 14:45] smarterclayton commented on #6138
So apply has a bug, we warn users, and work upstream on that.

On Dec 1, 2015, at 9:43 AM, David Eads <notifications@github.com> wrote:

   1. Edits in the UI are lost?? - I don't understand this, apply should be
   doing a three way merge.

Yeah, you'd think it would. However, apply requires every client that ever
makes a change to know exactly how to patch the new changes into the apply
annotati

[2015-12-01 14:46] deads2k commented on #6144
The proper fix to this would be a thread-safe connection pool at the ldap library level.  That's more work than I think we should do right now.

Improper fixes....  Try to not to make it ugly.  We have a cache for particular queries already right?   Like users.  We do bulk queries for most work.

I think I'm inclined to say that sync jobs can take a long time.

[2015-12-01 14:51] stevekuznetsov commented on #6144
We do our best to cache as much as we can. Even in the RFC2307 schema, where technically we *would* use one connection per group, in normal operation we *always* list groups first, and this brings all of the entries into our cache. I'd like to figure out how many connections we make in a run - how do we do this? What tool do I use?

[2015-12-01 14:54] stevekuznetsov commented on #6050
Final purge of `tryuntil` from `test-cmd`: https://github.com/openshift/origin/pull/6135

[2015-12-01 14:56] ironcladlou commented on #5759
@gravis any update here?

[2015-12-01 14:59] jwforres commented on #5988
On Mon, Nov 30, 2015 at 1:48 PM, Sam Padgett <notifications@github.com>
wrote:

Yes please.

[2015-12-01 15:02] liggitt commented on #6028
agree, I'd rather capture the output using standard go test parsing

[2015-12-01 15:02] #6028 closed

[2015-12-01 15:03] markturansky commented on #6005
@withinboredom did your volume mount?

I found the nil pointer and it is not fatal to mounting your NFS volume.

[2015-12-01 15:04] liggitt commented on #6144
println inside the connection creation function? sync N groups with M members and see what happens?

[2015-12-01 15:05] bparees commented on #6040
This is not an openshift build, it's a docker build of the base openshift images (eg the openvswitch image and the node image).  Taking a shot in the dark and passing it to @sdodson in case he has any copr knowledge.

[2015-12-01 15:06] bparees commented on #6040
@danmcp also i recall we had an AMI networking issue a month or so back, did you actually find out what package caused that problem or it just went away after you rolled back and hasn't come back since?

[2015-12-01 15:11] danmcp commented on #6108
Please reopen if you believe this is still an issue.

[2015-12-01 15:11] #6108 closed

[2015-12-01 15:12] bparees commented on #6088
@csrwng guessing we are not waiting for the imagestreams to be imported before running this command.

[2015-12-01 15:13] csrwng commented on #6088
Yup, that's what it looks like... I'll create a fix

[2015-12-01 15:17] lorenzvth7 opened #6146 "Upgrade to OpenShift Origin 1.1 fails: Atomic OpenShift 3.1 packages not found"
I try to perform the automatic update to OpenShift Origin 1.1.
I have a cluster with one master (ip1) and 2 nodes (ip2 and ip3) on AWS. (Centos7)

My versions at the moment:
[code]
This are my commands (on my master):
[code]
This is the failed output (at the end):

[code]

[2015-12-01 15:19] bparees commented on #6140
covered in trello:
https://trello.com/c/gXIlR9SH/765-oc-new-app-to-gather-git-creds

[2015-12-01 15:19] #6140 closed

[2015-12-01 15:21] danmcp commented on #6040
The latter.

[2015-12-01 15:21] sdodson commented on #6040
Fedora infrastructure did have some outages last week which included copr, I can't find a historic calendar of outages to correlate the events though.

Really this package never changes, we could create a local mirror on ci.openshift.redhat.com if that's something we've done before.

[2015-12-01 15:22] gravis commented on #5759
Our masters (1.0.8) are stable around 750MB.
We're still wanting to find time to get a heap dump, but with our current load, it won't be before a while I think :(
Last week we tried a update the cert of the cluster to replace the self-signed one, and everything felt apart. Apparently, this prevented the master and node from accessing the etcd servers, and the master/nodes started to eat memory lik

[2015-12-01 15:30] #5803 closed

[2015-12-01 15:33] csrwng commented on #6058
@adietish Does it only happen with that example but not other pods?

@Ian-Stewart-Binks @adietish can you try doing a simple copy of a large-ish file to a pod and see if you can reproduce the issue? (Here I'm copying the the 'oc' binary):
[code]

Also, what version of Docker are you using?

[2015-12-01 15:37] childsb commented on #6103
@markturansky

[2015-12-01 15:38] markturansky commented on #6103
It is every 10s only because that's what the default sync time was for the controller.

That time is now 10 minutes.

This particular error message is useful for debugging and shouldn't spam the log every 10 minutes.

[2015-12-01 15:41] withinboredom commented on #6005
It doesn't appear to have mounted (the container crashes if it can't find its files). I'll modify the container to not crash and check the mount, see if I can spot anything that might be operator error.

[2015-12-01 15:56] ironcladlou commented on #6068
Agree with @kargakis, deploymentConfig delete handling is via the reaper package client-side.

[2015-12-01 16:02] bparees commented on #6118
@smarterclayton is this a proposed change to new-app/new-build (they should change how they define the ImageStreams they create) or  a change to the server side of how importing is done when an ImageStream is defined?

(or both...server side primarily, but client side to handle 1.0 servers that don't have the server side logic)?

[2015-12-01 16:04] markturansky commented on #6103
I checked the code and the 10m sync time did not yet get into Origin.  I will pull that upstream PR now.

[2015-12-01 16:07] ironcladlou commented on #6068
Seems like the initial issue description stems from a misunderstanding. The deploymentConfig delete handling is client side, and there's a Reaper implementation. If `--cascade=false`, the reaper isn't used, and so deployments deleted aren't cascaded. If `--cascade=true`, the reaper is used, and associated deployments are deleted.

Looks like this one can be closed?

[2015-12-01 16:09] liggitt commented on #6068
agreed

[2015-12-01 16:09] #6068 closed

[2015-12-01 16:12] stevekuznetsov commented on #6040
There were many problems with it last night @sdodson but as I was seeing them come in on Jenkins I also had a `curl` loop running locally without any issues hitting the endpoint.

[2015-12-01 16:12] smarterclayton commented on #6118
Client side only I think - client for newer servers needs to be able to set
spec.tag DockerImage, vs 1.0 which only allows spec.dockerImageRepository.
I don't know how to check though without a feature flag.

On Dec 1, 2015, at 11:02 AM, Ben Parees <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> is this a proposed
change to new-app/new-build (they should chan

[2015-12-01 16:13] stevekuznetsov commented on #6014
I think this is resolved. If you want to pass things in that don't get expanded, escape the `$` with `\$` and call it a day. @deads2k @liggitt is there anything else we need to do for this?

[2015-12-01 16:13] stevekuznetsov commented on #6091
@liggitt What's your final say here. There is one place I know that this will be useful in. Do we create a specific test function for this case?

[2015-12-01 16:14] liggitt commented on #6091
I'm fine closing it until the need arises

[2015-12-01 16:14] #6091 closed

[2015-12-01 16:19] bparees commented on #6118
we have a precedent with ConfigChangeTrigger where we try one thing and if it gets a validation error, we revert to the older behavior.

[2015-12-01 16:44] rhcarvalho commented on #6075
Hi, @lorenzvth7 could you describe how you configured the route/router?

The log output doesn't look like an error, just stating that apache2 is running.
I suspect the problem is just you're unable to reach the application through the route.

Have you tried accessing the service without the route, does it work?

[2015-12-01 16:48] jwforres opened #6149 "Test flake: 'User "e2e-user" cannot list all buildconfigs in the cluster' and other errors"
[code]

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4195/console

[2015-12-01 16:50] jwforres commented on #6149
cc @liggitt @deads2k

[2015-12-01 17:08] Ian-Stewart-Binks commented on #6058
@csrwng
Local docker is 1.9.1 build a34a1d5. Not sure what engint uses.

The behaviour seems to have changed. I can no longer access my pods through the web, for instance, [this](http://ianstest.e8ca.engint.openshiftapps.com/) should show the [sti-nodejs](https://github.com/openshift/sti-nodejs) example, but it's entirely blank. `oc rsync` now returns immediately and successfully. If I do an `oc e

[2015-12-01 17:13] csrwng commented on #6058
@Ian-Stewart-Binks It looks like you're getting a 503 response:
[code]

[2015-12-01 17:14] csrwng commented on #6058
@Ian-Stewart-Binks if ssh to node, can you curl the pod directly?

[2015-12-01 17:34] soltysh commented on #6091
:+1:

[2015-12-01 17:45] smarterclayton commented on #6118
We won't get a validation error - just nothing will happen.

On Dec 1, 2015, at 11:19 AM, Ben Parees <notifications@github.com> wrote:

we have a precedent with ConfigChangeTrigger where we try one thing and if
it gets a validation error, we revert to the older behavior.

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/6118#issuecomment-161019240>.

[2015-12-01 17:55] Ian-Stewart-Binks commented on #6058
@csrwng Thanks for curling the url, slipped my mind.

What do you mean by ssh to node and curl the pod directly?

[2015-12-01 18:24] jwforres commented on #6121
possibly related:

[code]

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4199/console

[2015-12-01 18:26] csrwng commented on #6058
@Ian-Stewart-Binks you can get the pod's ip by running
[code]
I would try to curl that ip directly. However, you can only do it if you are on a shell inside the openshift node or master.

[2015-12-01 18:43] Ian-Stewart-Binks commented on #6058
@csrwng Pardon my ignorance- by sshing into a node on OpenShift, can I just rsh into the pod that I want to curl?

[2015-12-01 18:55] csrwng commented on #6058
@Ian-Stewart-Binks yup that works as well

[2015-12-01 19:07] Ian-Stewart-Binks commented on #6058
Okay, I'm rshing into my pod, and then running curl on the IP field from the deployment config produced by `oc describe pod pod-id`.

[code]

Am I doing something incorrectly?

[2015-12-01 19:09] csrwng commented on #6058
Is this the pod that's serving up the content? If so, you should be able to curl localhost:port. And if you are using the nodejs image distributed with openshift, the port should be 8080.

[2015-12-01 19:19] Ian-Stewart-Binks commented on #6058
Yes, you're correct. I did not specify the port.

[code]

[2015-12-01 19:22] Ian-Stewart-Binks commented on #6058
@csrwng Want to continue this chat on IRC?

[2015-12-01 19:22] csrwng commented on #6058
sure

[2015-12-01 19:23] csrwng commented on #6058
cewong

[2015-12-01 19:32] spadgett opened #6153 "Tooltips can't be dismissed in mobile Safari"
When I press on a tooltip link in the web console create form, I can't dismiss the tooltip, and it covers form fields. Pressing elsewhere on the page or on the link again doesn't hide the tooltip. The only workaround I've found is press another link or button.

/cc @jwforres

[2015-12-01 19:39] stevekuznetsov opened #6154 "build cancel test should be in e2e"
@jhadvig The `cancel-build` test found [here](https://github.com/openshift/origin/blob/master/test/cmd/builds.sh#L105-L110) requires that the node is running. In `test-cmd` we only start the master, not all-in-one. You should migrate this test to e2e and ensure it's working as expected there.

[2015-12-01 21:41] spadgett commented on #5988
Fixed by #6152

[2015-12-01 21:57] #5091 closed

[2015-12-01 22:14] abhat opened #6156 "Unable to delete the replication controller objects"
With the latest origin code, deletion of the replication controller objects created when deploying the ruby-hello-world sample app results in a timeout error:

[code]

Origin commit hash:

commit e592c187437c64a7d118502917ad557d2bc806e7
Merge: 31888bc fb7f2e6
Author: OpenShift Bot <dmcphers+openshiftbot@redhat.com>
Date:   Tue Dec 1 10:30:21 2015 -0500

[2015-12-01 23:33] markturansky commented on #6001
@chmouel per our email conversation, we're looking to get #6110 into 3.1.1.

[2015-12-01 23:34] markturansky commented on #6080
@vilppuvuorinen we're looking to merge #6110 for our 3.1.1 release.  Your custom recycler is just around the corner ;)

[2015-12-01 23:54] markturansky commented on #6005
Nil pointer resolved by https://github.com/kubernetes/kubernetes/pull/18042

Rob, let me know if your volume actually mounts or not.  Feel free to IM me, too, if you've got permission errors or other mounting problems not related to this nil pointer.

[2015-12-02 00:31] #6098 closed

[2015-12-02 01:27] #5287 closed

[2015-12-02 01:27] #5816 closed

[2015-12-02 02:26] #5668 closed

[2015-12-02 07:59] vbehar opened #6158 "origin-pod v1.1.0 not found on dockerhub"
Hi,

on a node on v1.1.0, I got the following errors :

and indeed, the tag v1.1.0 is not on https://hub.docker.com/r/openshift/origin-pod/tags/, but the tag v1.1 is.

The node has been installed with openshift-ansible.

would it be possible to tag the v1.1 as v1.1.0 please ?

Thanks,
Vincent

[2015-12-02 11:49] loshkovskyi opened #6159 ""Unable to delete old node" when using openstack provider"
Hello,

I configured OpenShift to access my OpenStack infrastructure using the following guide: https://docs.openshift.org/latest/install_config/configuring_openstack.html

When I restart `origin-master` and `origin-node` as to the guide, all nodes are becoming `NotReady`:
[code]
From the logs:
[code]
I'm trying to understand if the last line in the log: `Unable to delete old node` has something t

[2015-12-02 13:07] deads2k commented on #6154
There's actually an extended `test-cmd` for tests that require a node.

[2015-12-02 13:20] markturansky commented on #6080
#6110 has been merged.  I think this issue is resolved.  a custom recycler can be made to scrub zfs volumes.

[2015-12-02 13:35] markturansky commented on #6103
Linked PR increases sync time to 10m.

https://github.com/openshift/origin/pull/6157

[2015-12-02 13:42] spadgett opened #6162 "UI should warn when route has TLS config, but no termination"
See #6078

We should also warn about passthrough-terminated routes that have a path. See #6092.

/cc @jwforres @deads2k

[2015-12-02 13:49] pweil- commented on #4339
linking the upstream: https://github.com/docker/distribution/pull/1050

[2015-12-02 13:51] rootfs commented on #6070
@gravis @CuriousA62A2A @pstinghua  do you have a chance to try the [glusterfs service ](https://github.com/kubernetes/kubernetes/blob/master/examples/glusterfs/glusterfs-service.json) to persist the endpoints?

[2015-12-02 14:18] gravis commented on #6070
I have installed it since.
I'm not super conformable with leaving this open to users. Glusterfs is clearly underneath infrastructure stuff, I just hope no one will remove this service now :(

[2015-12-02 14:29] rootfs commented on #6070
@gravis I agree this is not **the** most optimal solution, I am looking for a better fix.

[2015-12-02 14:34] gravis commented on #6070
Awesome.
Thanks :)

[2015-12-02 15:09] smarterclayton commented on #6158
None of our other images are tagged with 1.1.0.  I suspect the ansible script is wrong. @jdetiberus @sdodson

[2015-12-02 15:10] smarterclayton commented on #6070
This is similar to the router and registry - usually we recommend managing
this as a permissions problem, where concern about change to the system is
addressed via access control or stronger config management tooling X

On Dec 2, 2015, at 9:19 AM, Philippe Lafoucrière <notifications@github.com>
wrote:

I have installed it since.
I'm not super conformable with leaving this open to users. Glusterfs

[2015-12-02 15:14] rhcarvalho opened #6165 "'oc new-app -o wide' and 'oc new-build -o wide' errors out"
On one hand, `wide` is NOT a valid option for `--output` listed in `oc new-app --help`, just like `crazy`, however:

[code]

On the other hand, `wide` is a valid option listed in `oc new-build --help`, but:

[code]

I believe that:
1. The output formats supported by `new-app` and `new-build` should be the same;
2. Passing an invalid output format should consistently show the same error message.

[2015-12-02 15:31] sdodson commented on #6158
The problem is that when I built the RPMs for 1.1 they were tagged 1.1.0. I've since removed that build and there's RPMs for 1.1 now. Detailed instructions for how to remedy this here https://github.com/openshift/openshift-ansible/issues/1001#issuecomment-161007686

As a matter of release tagging I think it'd be best if we kept a fixed number of version segments. OSE keeps four, if Origin always h

[2015-12-02 15:33] sdodson commented on #6158
Or four, whatever works best as long as it's consistent.

[2015-12-02 15:33] abutcher commented on #6146
Related to https://github.com/openshift/openshift-ansible/pull/993. Pre-upgrade verification is currently using enterprise versions.

[2015-12-02 15:35] vbehar commented on #6158
ok thanks !

[2015-12-02 15:35] #6158 closed

[2015-12-02 15:37] soltysh commented on #6118
Instead of introducing feature flag we could check server version and act appropriately.

[2015-12-02 15:44] bparees commented on #6118
do we have a way to get that info now?  I thought we've hit this before and there's now way for a client to find out the server version.

[2015-12-02 15:52] smarterclayton commented on #6118
We don't do that, see other discussions on that topic.  Version numbers
don't work for lots of reasons.

On Dec 2, 2015, at 10:37 AM, Maciej Szulik <notifications@github.com> wrote:

Instead of introducing feature flag we could check server version and act
appropriately.

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/6118#issuecomment-161336834>.

[2015-12-02 15:53] smarterclayton commented on #6158
Ok, we'll do that for 1.2

On Dec 2, 2015, at 10:31 AM, Scott Dodson <notifications@github.com> wrote:

The problem is that when I built the RPMs for 1.1 they were tagged 1.1.0.
I've since removed that build and there's RPMs for 1.1 now. Detailed
instructions for how to remedy this here openshift/openshift-ansible#1001
(comment)
<https://github.com/openshift/openshift-ansible/issues/1001#issuecomm

[2015-12-02 16:02] rhcarvalho commented on #6165
Trying to add some bits to help getting this fixed...

I found out that in `new-app` we're [not relying on a kube helper](https://github.com/openshift/origin/blob/415140eb8e28d986c5aac00342d7e9c2e68f500a/pkg/cmd/cli/cmd/newapp.go#L163-L169) to add in the output options, the reason being an option name conflict (`--template`).

In `new-build` we use the helper.

We may not use the helper but at lea

[2015-12-02 16:03] spadgett commented on #6153
This is a known Boostrap issue.

[2015-12-02 16:04] bparees commented on #6118
what do you mean by a feature flag?  you mean that new-app needs to take an arg from the user that tells it what to do?  that's not really checking, that's just depending on the user to understand a subtle nuance of the server they are talking to.

presumably we'd default to the new syntax/definition, and provide a flag to fall back to the v1.0 syntax ("--import-all=true")

[2015-12-02 16:05] spadgett commented on #6153
https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[2015-12-02 16:13] jwforres commented on #6153
Pretty sure we worked around this in v2 by doing this (making use of
touchstart event):
https://github.com/openshift/origin-server/blob/master/admin-console/app/views/admin_console/index/_welcome.html.haml#L62

On Wed, Dec 2, 2015 at 11:05 AM, Sam Padgett <notifications@github.com>
wrote:

[2015-12-02 16:54] ramr commented on #5954
@withinboredom /bump - can you please close this as it is intended behavior and docs have been updated. Thx

[2015-12-02 17:04] deanpeterson opened #6169 "Unable to pull from Docker registry remotely"
I created a secure tls route to my docker registry.  When I use
"docker pull registry.example.com:443/myproject/myimage" on the local machine, it finds the image and I see a stream of messages that look like this:
Pulling from myproject/myimage
c4f590bbcbe3: Already exists
de7800808265: Already exists
6c5879e631d3: Already exists
ec976ad73841: Already exists
.
.
.
2c9b73dbdf5d: Already exists
fea5

[2015-12-02 17:25] withinboredom commented on #5954
This is intended, just got to keep track of the parameters used to (re)create it...

[2015-12-02 17:25] #5954 closed

[2015-12-02 17:41] #6109 closed

[2015-12-02 17:41] stevekuznetsov commented on #6144
Some interesting results. [This line](https://github.com/openshift/origin/blob/master/pkg/auth/ldaputil/query.go#L191) is the one and only place we make connections to LDAP. Here are the amount of connections made, broken down by schema and where they occur - before any groups are marked as added or between groups being marked as added.

|

[2015-12-02 17:42] stevekuznetsov commented on #6144
Here's a sample output to see what I mean re: before v. between:
[code]

[2015-12-02 17:46] liggitt commented on #6144
Not sure what you would expect go-ldap to do… they give us a connection, but we're not reusing it.

[2015-12-02 17:47] stevekuznetsov commented on #6144
I was referencing David's comment:

[2015-12-02 17:50] ironcladlou opened #6172 "client scale against active but non-latest deployment erroneously scales the latest/failed deployment"
1. Deploy version 1 (replicas=1) such that the deployment is complete/successful
2. Deploy version 2 (replicas=1) such that the deployment fails
3. `oc scale dc/config --replicas=2`

The result is deployment version 2 is scaled up, when the active deployment (version 1) should have been scaled. This is a long-standing client bug discovered during #5875.

[2015-12-02 18:12] deads2k commented on #6144
At some level, you need a `GetConnection` method that looks at a pool, sees which ones match your requirement, then chooses an existing one, or creates a new one for you.  It would sit above the current go-ldap implementation, but it would be useful addition.

It's also enough work that I don't see us doing that.

[2015-12-02 18:26] stevekuznetsov commented on #6144
We seem to have some serious issues with caching:
[code]

@deads2k my bandwidth is very limited for the next two weeks - if this is urgent, I think you may have to do it.

[2015-12-02 18:33] CuriousA62A2A commented on #6070
I haven't had time to test yet. Will test early next week at the latest.
On Dec 2, 2015 2:51 PM, "Huamin Chen" <notifications@github.com> wrote:

[2015-12-02 18:56] ncdc commented on #6156
I just tested with

[code]

and could not reproduce. Could you try a few times and let me know if it happens again? If it does, having logs would be helpful. Thanks!

[2015-12-02 19:14] spadgett commented on #6153
`touchstart` on the `body` element doesn't always fire in my testing. I'm guessing something is stopping event propagation.

How do you feel about this fix? It's a bit hacky, but seems to work well.

[code]

[2015-12-02 19:17] #6093 closed

[2015-12-02 19:20] liggitt commented on #6153
?

[2015-12-02 19:44] spadgett commented on #6153
@liggitt See my link above for why it works

https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

Not sure it's the best fix...

[2015-12-02 19:52] kargakis opened #6173 "TestAuthorizationRestrictedAccessForProjectAdmins flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7608/consoleFull

[2015-12-02 20:02] jwforres opened #6174 "Allow creating multiple routes in the create from image workflow"
See original discussion https://github.com/openshift/origin/pull/5997#issuecomment-161405427

[2015-12-02 20:02] jwforres commented on #6174
cc @spadgett @ebalsumgo

[2015-12-02 20:04] benjaminapetersen commented on #6174
If we did this, I'd think we would want to go with a multiple page approach.

[2015-12-02 20:04] jwforres commented on #6174
@benjaminapetersen meaning this https://trello.com/c/IChnzwgW ?

[2015-12-02 20:09] benjaminapetersen commented on #6174
Yup, prob multiple routes & controllers.  Build up payload in localStorage then submit @ the end?  Something like that anyway.

[2015-12-02 20:25] spadgett commented on #6174
Will need to think about what that means for validation since we use ng-pattern, ng-required, etc. in a single form now.

[2015-12-02 20:45] deanpeterson commented on #6169
I needed to login on the remote machine.

[2015-12-02 20:45] #6169 closed

[2015-12-02 20:52] #6073 closed

[2015-12-02 20:54] kargakis commented on #6065
Different flake, same test
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7612/consoleFull

[2015-12-02 20:55] ebalsumgo opened #6175 "Surface descriptions for builders / templates in the add to project page"
So I was scanning trough https://github.com/openshift/origin/pull/6120 and was brought back to something I mentioned to some of the UI guys last night at the MeetUp at the Tower. Currently the project creation page is not very clear to a new user. "jboss-webserver30-tomcat8-openshift:1.1" does not really tell me what I can do with that. There is a tooltip with more information about the specific t

[2015-12-02 21:10] spadgett commented on #6175
For reference, this is how it looks with the descriptions directly on the card. We'd probably want to adjust the icon position for long description or limit it to one or two lines. The description text could be improved.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11544171/7080756a-990e-11e5-817b-bb943473e574.png)

How it is today:

![openshift_web_console](https:/

[2015-12-02 21:17] ebalsumgo commented on #6175
Yeah even just a single sentence and then a ... that exands into the full text, just anything, to make it clearer as to what is going on. The second screenshot makes it closer to v2 for sure.

[2015-12-02 21:26] liggitt commented on #6174
I'd rather make it easy to chain the create form. "Create" and "Create and add another" buttons, where one takes you back to the overview and one takes you to a form for creating a route for the same service.

[2015-12-02 21:41] kargakis opened #6176 "Test run too long flake"
[code]

[2015-12-02 21:53] liggitt opened #6177 "Improve display of external services"
If a service has no selector, we might want to show the endpoints for it on the overview page, to show what the service routes to, rather than "no deployments or pods" message. A good example of this is the kubernetes service in the default namespace:

![image](https://cloud.githubusercontent.com/assets/980082/11545383/1bbbe152-9915-11e5-9ef0-95fe9d17f1b4.png)

[2015-12-02 22:04] bparees commented on #6175
+1

[2015-12-02 23:05] #6136 closed

[2015-12-03 04:59] sbadakhc commented on #5796
Is there any more information about this?  I'm seeing it for the first time on a vanilla installaion with RHEL7.

[2015-12-03 10:16] soltysh opened #6180 "automatic required env var generation"
Although I'm targeting new-app, this applies to all UI.
Here's my thought: our db images require user to provide [certain environment variables](https://docs.openshift.org/latest/using_images/db_images/mysql.html#configuration-and-usage). This is pretty cumbersome. I'd like to see the new-app/other UIs to read those requirements from image metadata, generate them for me and print them upon creatio

[2015-12-03 11:34] kargakis commented on #6172
Btw #5875 is fixing this by targetting the deploymentconfig/scale endpoint.

[2015-12-03 12:16] kargakis commented on #6156
The rc scaler tries [indefinitely](https://github.com/kubernetes/kubernetes/blob/e82277b86a15e4c259523f09e6947dd259f40834/pkg/kubectl/scale.go#L147-L149) to update the rc in case of update failures, maybe related.

@abhat what was the state and the size of test-project/database-1 prior to deletion?

[2015-12-03 12:30] ivanthelad opened #6181 "rolling deployment fails if no previous pods exists"
A Rolling deployment fails if the previous RC does not have a pod deployed.  This case can occur when a prvious pod deployment fails to deploy for application reasons. this will block openshift from performing further deployments.
To reproduce .
  - Create a basic application, new-app
  - Scale down a deployments pods to zero
  - Perform a "deploy"

Openshift should not fail on deployment when no

[2015-12-03 12:33] kargakis commented on #6181
Dupe of https://github.com/openshift/origin/issues/5787

[2015-12-03 13:51] ebalsumgo commented on #6175
@spadgett also i thought you guys added a legend with what the Stack icon meant in one of the recent pushes?

[2015-12-03 13:58] spadgett commented on #6175
Yeah, I have a pull request for that. It hasn't merged yet.

[2015-12-03 14:14] ironcladlou commented on #6172
Very important to note that the fix does not retroactively apply to clients predating #5875.

[2015-12-03 14:44] ebalsumgo commented on #6174
+1 for @liggitt suggestion

[2015-12-03 14:46] bparees commented on #6180
i think it would make more sense to just default them in the image, if we want that sort of behavior, though i realize that doesn't allow for producing unique/secret values.

generating values based on labels in the image crosses over into the realm of problems we're solving with templates/parameterization, and i don't want to see us do it in two places.

[2015-12-03 15:41] timothysc commented on #6114
/cc @rrati

[2015-12-03 15:54] rhcarvalho commented on #6173
One more https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7628/console

[2015-12-03 16:24] mwringe opened #6184 "Fail if can't start DNS service during OpenShift start"
OpenShift will continue to start and run if its DNS service was not able to start.

The only indication that something went wrong is a single line the logs.

This causes a bunch of issues for users since it appears that the system started properly, but things like service dns resolution will not function. Any deployments which rely on the dns service will fail since they can't connect to required

[2015-12-03 17:18] liggitt commented on #6180
be aware that the UI can't read any data from docker images, only from things in the API

[2015-12-03 17:23] abhat commented on #6156
Was able to delete the rcs after upgrading to:
commit b6b40195542786eacc4
Merge: 4640d30 5493057

[2015-12-03 17:23] #6156 closed

[2015-12-03 17:53] liggitt commented on #6144
I think p2 is appropriate... can wait until you have time

[2015-12-03 17:54] liggitt commented on #6159
related to https://github.com/kubernetes/kubernetes/issues/17731

[2015-12-03 17:55] liggitt commented on #6159
A possible resolution is to delete the nodes as the cluster admin, and restart the nodes, letting them re-register themselves. There is debate about whether a node should have the ability to delete itself, or whether it should be able to update this ID in place.

[2015-12-03 20:34] bdecoste commented on #6071
Seeing the same thing in a clean 3.1 install. Logs with level 5 below:

[joe@ose3x-master ~]$ oc build-logs helloworld-1
Command "build-logs" is deprecated, use "logs" instead.
I1203 15:29:26.259804       1 builder.go:34] $BUILD env var is {"kind":"Build","apiVersion":"v1","metadata":{"name":"helloworld-1","namespace":"demo","selfLink":"/oapi/v1/namespaces/demo/builds/helloworld-1","uid":"8adaefd7

[2015-12-03 20:40] bparees commented on #6071
dial tcp errors occur when we're attempting to clone the source from github, so it usually indicates a network configuration issue, often with the SDN, that is preventing containers from getting external access.

can you confirm/deny that your pods have external network access? (eg launch a db pod or jenkins pod and rsh in and see if it has external connectivity to github)

[2015-12-03 21:23] spadgett opened #6189 "Web console service port text overflows box"
<img width="644" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11574516/1a360d4c-99da-11e5-8145-2ac6c4e9004b.png">

/cc @sg00dwin @jwforres

[2015-12-04 01:41] ramr commented on #5977
@lorenzvth7 the errors are because of an invalid configuration. The second error is only printed out when the tls Termination field value is not set - see:
https://github.com/openshift/origin/blob/master/pkg/route/api/validation/validation.go#L81

Looks like your yaml config is not correct/valid.  Here's an example of a reencrypt route - try that:
https://github.com/ramr/nodejs-header-echo/blob/ma

[2015-12-04 02:25] ncdc commented on #6065
Here's another flake for this test, from https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4236/consoleFull:

[code]

[2015-12-04 02:25] ncdc commented on #5679
Similar failure, from https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4236/consoleFull:

[code]

[2015-12-04 03:19] detiber commented on #6114
@timothysc @liggitt what are the chances of getting the oadm ca stuff upstream?  The upstream contrib/ansible stuff could benefit from it rather than using easyrsa3.

[2015-12-04 04:28] smarterclayton commented on #5679
I bet this is the core controllers in the master racing with the allocator
block.  Which sucks.

On Dec 3, 2015, at 9:25 PM, Andy Goldstein <notifications@github.com> wrote:

Similar failure, from
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4236/consoleFull
:

F1203 13:59:18.599912   26267 controller.go:87] Unable to perform
initial service nodePort check: unable to pers

[2015-12-04 06:19] ramr commented on #5166
Completed via #6030 and #6032

[2015-12-04 06:19] #5166 closed

[2015-12-04 09:32] loshkovskyi commented on #6159
Thank you, @liggitt, your resolution made the nodes to turn ready and I was able to create volumes. @brenton, I see that you was assigned on this issue, please feel free to close it if you don't plan any work on it (i.e. documentation update).

[2015-12-04 11:21] php-coder opened #6190 "Malformed link to image stream in Web Console"
See the `From` column:
![frontend-bug](https://cloud.githubusercontent.com/assets/87088/11588486/5a7fca80-9a81-11e5-9c1d-4084f0f27724.png)

[2015-12-04 11:22] php-coder commented on #6190
@jwforres JFYI

[2015-12-04 13:09] soltysh commented on #6180
@bparees I was rather suggesting to reuse the logic from templates in here.

@liggitt there's a [card](https://trello.com/c/RPTugJoZ/515-import-docker-labels-as-annotations) which will import labels as annotations.

[2015-12-04 13:12] jwforres commented on #6190
Fix for this has already gone in with https://github.com/openshift/origin/pull/6168

[2015-12-04 13:12] #6190 closed

[2015-12-04 14:05] spadgett opened #6191 "Web console osc-file-input directive: can't clear value when set"
Once setting a value for a file, you can change it, but can't clear the value. This is currently only used for keys and certificates for routes.

/cc @jwforres

[2015-12-04 14:17] timothysc commented on #6114
@detiber Do you have the context for the whole change?  Rob was talking to me about the issue but he has more context then I do on the topic.

/cc @eparis

[2015-12-04 14:19] stevekuznetsov opened #6192 "continer-hints flag is added to bash autocomplete when it shouldn't"
Seen [here](https://github.com/openshift/origin/pull/5709#discussion_r46295417). The `--container-hints` flag is added to the output of `hack/udpdate-generated-completions.sh` when no configuration of the `cobra` command seems to require it.

/cc @deads2k

[2015-12-04 14:20] deads2k commented on #6192
@fabianofranz I'm seeing this in the autocomplete for `openshift ex diagnostics` too, so it seems to be existing.

[2015-12-04 14:22] liggitt commented on #6191
To be fair, that is consistent with the file input behavior. Not sure I care to spend a lot of time working around that

[2015-12-04 14:22] brenton commented on #6159
I definitely think the real fix is going to come from the work in Kubernetes.  I'm going to close this in favor of tracking the problem in our docs in the short term: https://github.com/openshift/openshift-docs/issues/1293.

[2015-12-04 14:22] #6159 closed

[2015-12-04 14:53] bparees commented on #6180
yes but you'd still be doing it in two places, specifying in two places.

[2015-12-04 15:03] spadgett opened #6193 "Occasional access denied error after creating project in UI"
On rare occasions, I see an access denied error after creating a project. Going back to the projects list, I can see and select the new project, so the project was created.

@deads2k @liggitt Is the UI navigating to the new project before the user is granted access?

/cc @jwforres

[2015-12-04 15:05] #6181 closed

[2015-12-04 15:10] spadgett opened #6194 ""No builds to show" message missing at mobile screen widths"
The "No builds to show" message on the browse builds page is missing from the table at mobile screen widths. This is likely a problem for all the browse tables. It displays fine at full width.

I think it's a little odd to show the text inside the table anyway.

/cc @jwforres @sg00dwin

[2015-12-04 15:20] soltysh opened #6196 "Image stream changes"
This is coming from [here](https://github.com/openshift/origin/pull/5932#issuecomment-160937214). I'm putting it here since I'd like to see a discussion to clarify @smarterclayton ideas.

Do you want the user to specify interval for polling as well, or we'll know best? Will this be per IS or per tag? I'm thinking about introducing ImportStrategy/ImportPolicy that could handle those.

What do you m

[2015-12-04 15:32] liggitt commented on #6193
does the navigate happen prior to the project request call completing?

[2015-12-04 15:35] markturansky commented on #6103
2nd PR to fix this:  https://github.com/kubernetes/kubernetes/pull/18083 (only attempt recycling once, don't spam the log)

[2015-12-04 15:42] spadgett commented on #6193
It happens after project request completes.

https://github.com/openshift/origin/blob/master/assets/app/scripts/controllers/createProject.js#L18-L38

[2015-12-04 15:45] spadgett commented on #6193
For what it's worth, I've only seen this once or twice.

[2015-12-04 15:46] jwforres commented on #5877
The e2e tests have been split into two suites, one of which only requires the master api be running.

[2015-12-04 15:46] #5877 closed

[2015-12-04 15:47] jwforres commented on #6194
Yeah we have a separate issue to move the text out of the table. https://github.com/openshift/origin/issues/5412

Will leave this open till we decide whether we are leaving it in there or not.

[2015-12-04 15:48] csrwng commented on #6058
@adietish @Ian-Stewart-Binks are you still seeing this issue?
@adietish your version of the oc client was pretty old. You need to use at least 1.1. Please let me know if you still see this issue with that. Otherwise, let's close this issue.

[2015-12-04 15:54] deads2k commented on #6193
There is a policy cache that needs to be updated before the request will succeed.  If the problem is the cache, I can think of three solutions:

 1. Client waits until it has access (super ugly).
 1. ProjectRequest doesn't return for the min of X seconds or the authorizer thinks that the user has rights to the project (moderately ugly)
 1. Authorizer gets a chain that allows a certain number of li

[2015-12-04 15:59] deads2k commented on #6184
@smarterclayton I remember discussing this when DNS went in.  Comments?

[2015-12-04 16:11] Ian-Stewart-Binks commented on #6058
@csrwng No, not still seeing this. `oc rsync` now returns immediately. Do not know what fixed it. If you want any more information, or for me to send you the logs of the current behaviour, let me know.

Thanks for all the help!

[2015-12-04 16:21] benjaminapetersen opened #6198 "Web console component centric organization refactor"
From [this trello card](https://trello.com/c/mr3tfA9q/533-web-console-consider-adjusting-to-a-component-centric-organizational-approach), migrated to a github issue for discussion.

I'm offering this as a suggested enhancement based on some past successful experiences and these resources:
- [Angular team best practices for apps built at Google](https://docs.google.com/document/u/2/d/1XXMvReO8-Awi1

[2015-12-04 17:37] liggitt commented on #6114
I wouldn't expect this command to go into the core repo upstream... too specialized. If this was actually going to be a general purpose tool, I'd decompose it into something like:

[code]

[2015-12-04 17:50] smarterclayton commented on #6184
We can't without breaking simple Openshift start.  Start master and start master API are maybe candidates to fail.

[2015-12-04 18:01] miminar commented on #6107
I failed to reproduce. I can pull from secured, exposed OpenShift's registry from another cluster just fine with a secret:

    $ oc describe secret atomic-registry
    Name:           atomic-registry
    Namespace:      default
    Labels:         <none>
    Annotations:    <none>

    Type:   kubernetes.io/dockercfg

    Data
    ====
    .dockercfg:     {"atomic-registry.miminar.local":{"userna

[2015-12-04 18:29] rhcarvalho opened #6199 "`oc new-build <src> --dockerfile "..."` ignores the Dockerfile"
If should be possible to use the `--dockerfile` option in conjunction with a Git source repo argument, however:

[code]

Gives:

[code]

Only one source, the Git repository.

[2015-12-04 19:31] eparis commented on #6065
And another from https://github.com/openshift/origin/pull/6000:
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4224/console

[2015-12-04 19:46] spadgett opened #6200 "Plain RC status shows as "Deployed" in web console"
This might be working as intended, but it's odd to see status "Deployed" for a replication controller that is not a deployment.

<img width="574" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11599600/d3bbc124-9a95-11e5-8e09-36e443031dac.png">

[2015-12-04 19:48] spadgett commented on #6194
I'm wrong, it's there. I just missed it because I was expected it in a second row I guess.

<img width="576" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/11599627/f729d6b4-9a95-11e5-8b5d-70143a26acb6.png">

Closing since we have #5412

[2015-12-04 19:48] #6194 closed

[2015-12-04 19:56] spadgett opened #6201 "Web console: RC with no service and no replicas hidden"
We are not showing a replication controller with no service and no replicas. We should always show replication controllers that aren't deployments on the overview.

We also incorrectly hide the latest deployment when it has no service and no replicas.

/cc @jwforres

[2015-12-04 19:59] eparis commented on #6114
isn't @liggitt basically describing easyrsa ?

[2015-12-04 19:59] liggitt commented on #6114
Probably so

[2015-12-05 06:00] detiber commented on #6114
Yes, like easyrsa3, but instead of a tool that is pulled from a URL (and doesn't support combined server/client certs without a bit of hacking) this would be a tool more closely integrated with kube.

I think a closely integrated tool could allow us to more easily make managing cert lifecycle within a cluster, possibly even going as far as integrated csr generation by nodes which can then be signe

[2015-12-07 03:30] monisha-bhattacharya opened #6214 "External Access using NodePort"
Hi Everyone,

I am trying Openshift v3 with a single master with a single node setup.
I installed the examples/sample-app for ruby hello openshift and the pods and service is up. When I try to  use NodePort or LoadBalancer options for enabling external access to this app's frontend, I keep getting as below :

[root@openshift-master~]# curl openshift-node.tidalsoft:31597
curl: (7) Failed connect to

[2015-12-07 04:22] bparees opened #6215 "no output build extended test failure"
seen here, appears to be recurring:
https://ci.openshift.redhat.com/jenkins/job/origin_extended/377

[code]

[2015-12-07 04:27] bparees opened #6216 "build labels extended test failure"
the build itself appears to be failing:
https://ci.openshift.redhat.com/jenkins/job/origin_extended/377

[code]

[2015-12-07 04:29] bparees commented on #5995
still failing https://ci.openshift.redhat.com/jenkins/job/origin_extended/377/consoleFull

[2015-12-07 04:30] bparees commented on #5995
https://ci.openshift.redhat.com/jenkins/job/origin_extended/378/

[2015-12-07 04:32] bparees commented on #6216
also failing for the s2i build variant:
https://ci.openshift.redhat.com/jenkins/job/origin_extended/378/testReport/junit/%28root%29/Extended%20Core/builds__labels__Check_S2I_and_Docker_build_image_for_proper_Docker_labels_S2I_build_from_a_template_should_create_a_image_from___data_src_github_com_openshift_origin_test_extended_fixtures_test_sti_build_json__template_with_proper_Docker_labels/

[2015-12-07 04:33] bparees opened #6217 "mysql replica extended test failures"
https://ci.openshift.redhat.com/jenkins/job/origin_extended/378/testReport/junit/%28root%29/Extended%20Core/images__mysql__replication_MySQL_replication_template_https___raw_githubusercontent_com_openshift_mysql_master_5_6_examples_replica_mysql_replica_json/

[2015-12-07 04:45] bparees commented on #5352
flaked again here:
https://ci.openshift.redhat.com/jenkins/job/origin_extended/378/testReport/junit/%28root%29/Extended%20Core/images__mysql__replication_MySQL_replication_template_https___raw_githubusercontent_com_openshift_mysql_master_5_6_examples_replica_mysql_replica_json/

[2015-12-07 04:45] bparees commented on #6217
closing as dupe of https://github.com/openshift/origin/issues/5352

[2015-12-07 04:45] #6217 closed

[2015-12-07 06:58] thincal opened #6222 ""Failed to pull image registry.example.com:5000/default/hello-openshift:latest" during creating the pod which pull the image from integrated docker-registry"
I have already followed steps from https://docs.openshift.org/latest/install_config/install/docker_registry.html#securing-the-registry to setup TLS based authentication.

But when I push an image labled with registry.example.com:5000/openshift/hello-openshift, it will report the error:
**unauthorized: access to the requested resource is not authorized**

if I pull an existed image inregistry, such

[2015-12-07 07:33] #6216 closed

[2015-12-07 09:06] rhcarvalho opened #6223 "hack/install-assets.sh failure"
Following the [assets README](https://github.com/openshift/origin/blob/master/assets/README.md), cannot install assets:

[code]

This is the faulty command:

[code]

[2015-12-07 09:23] rhcarvalho commented on #6223
For the time being, I had to comment out that curl line and manually download and extract the openshift-jvm.

[2015-12-07 09:32] PI-Victor commented on #6215
@bparees i'll have a look. i'm guessing you were right about using --follow. i can add a retry on failure but it would probably slow down the testing.

[2015-12-07 09:50] php-coder commented on #6223
Possible workaround would be:

[code]

[2015-12-07 12:19] rrati commented on #6114
I just went through the cert generation bit and cfssl bits recommended by etcd won't work on fedora, rhel, or centos because the tooling uses some libraries that have been removed from go for licensing concerns.  I took a quick stab at trying to comment out the deps, but wasn't successful at making cfssl work.  There are a number of bug reports about it upstream, but so far no solution other than

[2015-12-07 12:46] liggitt commented on #5995
I think https://github.com/openshift/origin/pull/6178 is related

[2015-12-07 13:49] deads2k commented on #6222
Push and pull authorization to the openshift docker registry is done using tokens.  A token is presented as the password for a `docker login`.  That token is then used by the openshift docker registry to ask the openshift API server whether the user is authorized to push or pull images.

A certificate can't be used, because the openshift docker registry could not use it to perform the access check

[2015-12-07 15:21] #6088 closed

[2015-12-07 15:31] kargakis commented on #5820
I see this now against /api on DELETES of (not so) random resources (eg. not in imagestreams, builds, bcs, routes, dcs, but in services, jobs, pods, rcs) so it seems to happen only against kube resources.
[code]
@liggitt @deads2k

[2015-12-07 15:33] liggitt commented on #5820
limited to DELETE operations? maybe spawn a separate issue

[2015-12-07 15:39] kargakis opened #6225 "Duplicate version negotiation request when deleting a Kube resource"
Similar to https://github.com/openshift/origin/issues/5820 but happens only when deleting Kube resources

[code]

cc: @deads2k @liggitt

[2015-12-07 15:39] kargakis commented on #5820
https://github.com/openshift/origin/issues/6225

[2015-12-07 15:43] liggitt commented on #6225
@ncdc maybe related to your factory changes segmenting clients for kube/origin resources

[2015-12-07 15:46] kargakis commented on #6225
Did those changes go in?

[2015-12-07 15:46] kargakis commented on #6225
No. https://github.com/openshift/origin/pull/5996

[2015-12-07 15:47] liggitt commented on #6225
heh, then probably unrelated :)

[2015-12-07 16:16] jstrachan commented on #4693
we've been using annotations which is probably OK for now really; but it might be nice to add environments to the BuildConfig one day

[2015-12-07 16:24] #5597 closed

[2015-12-07 22:46] eddytruyen commented on #5925
Sorry for the delay.
It seems indeed that I was not able to set the insecure-registry option appropriately via systemd service configuration in fedora21.
I could push the image to the registry when manually starting the docker daemon with the insecure-registry option from the prompt

Thanks for the help!

[2015-12-08 02:32] #3994 closed

[2015-12-08 02:32] #5698 closed

[2015-12-08 03:33] wanghaoran1988 opened #6227 "oc import-image cannot import image from insecure docker registry"
When using oc import-image to import imagestream from a insecure docker registry, it will hang a very long time,and cannot import successfully, I think what we need to do is to add a option for this command like --insecure, and when create imagestream , if this option exists , and the openshift.io/insecureRepository=true automatically to the imagestream.

[2015-12-08 03:43] thincal commented on #6222
@deads2k thanks for your reply !

I can login the registry via. the token and the pull/push is working fine then.
But when creating the pod via. the ```oc create -f```, it will still report:

[code]

but this image can be pulled via. the docker pull "registry.example.com:5000/openshift/hello-openshift:latest after login the registry manually.
So I still don't understand inside the openshift, how w

[2015-12-08 06:23] detiber commented on #6114
@rrati that puts the nail in the coffin for cfssl.  We could still petition for the client-server patch to easyrsa3 and getting it packaged.

That said, easyrsa3 wouldn't be something that would work good as a solution that could be integrated into the node registration process.

[2015-12-08 08:13] rhcarvalho commented on #5925
Hi @eddytruyen! Hope you're now able to run your development environment alright. If that's really the case, could you please close this issue?

You can open new issues or reach us at IRC or `openshift-dev` mailing list any time. Thanks!

[2015-12-08 09:14] azywait opened #6228 "Can not pull image from remote node"
I have two nodes:
master (192.168.1.101) :     openshift master  +  openshift node1
worker (192.168.1.102) :     openshift node2

The master can schedule task to every node, but only the node1 (docker-registry on it) can success deploy. Pod can access each other in different node, as they are using Openvswitch technology!

By using docker-registry:
master node can docker login, pull and push image

[2015-12-08 09:45] soltysh commented on #5684
/sub

[2015-12-08 09:46] #5925 closed

[2015-12-08 09:59] thincal commented on #6228
you might could try the TLS by certification, https://docs.openshift.org/latest/install_config/install/docker_registry.html#securing-the-registry

[2015-12-08 10:05] thincal opened #6229 "How to specify the version of router/deployer/registry etc. built-in components in openshift"
I have installed the openshift by the ansible, but when deploy the router/registry etc. components, it will pull the latest version from docker.io, but sometimes the version is updating so frequently, so is there a way to specify the version of these components ? many thanks.

[2015-12-08 11:23] mfojtik commented on #6026
@csrwng I don't have a Mac around to reproduce this. It works fine on Linux. Would it make sense to opt-out this test when running on OSX?

[2015-12-08 11:26] mfojtik commented on #6026
@csrwng also according to internets, the "askpass" is different on OSX git for some reason...

[2015-12-08 11:31] mfojtik commented on #5978
@smarterclayton @bparees annotations make more sense to me as well. How about starting a list of annotations we want to set and then see if we want to allow to set any custom annotation or just have fixed list of them?

So far I think it would be useful:

* `openshift.io/build/started-by` - specify what started a build (can be a Jenkins URL, CI, username, etc)
* `openshift.io/build/reason` - why t

[2015-12-08 11:35] mfojtik commented on #5352
@mnagy bump

[2015-12-08 12:31] mfojtik commented on #6026
got it :)

[2015-12-08 13:06] deads2k commented on #6222
Which namespace are you creating the Pod in?  Do you have a gist of the logs for the registry pod/container?

You can also run `oc policy who-can get imagestreams/layers -n openshift --config=path/to/admin.kubeconfig` to see who has rights to pull images from the openshift namespace.

[2015-12-08 13:32] deads2k commented on #6229
You can pin it in the `master-config.yaml` `imageConfig.format` (https://docs.openshift.org/latest/install_config/master_node_configuration.html) or from the command line with the `--images` flag.

[2015-12-08 13:32] deads2k commented on #6229
@sdodson I suspect you have experience setting the exact format string.

[2015-12-08 13:39] mfojtik opened #6232 "TestRegistryClientConnectPulpRegistry flake"
I got this failure when running [test](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7680/console):

[code]

[2015-12-08 14:28] sdodson commented on #6229
@thincal The router and registry are special cases as the `oadm` command builds a deployment config for them and they shouldn't update on their own unless you supply the `--latest-images` flag to the `oadm` command. When using the oadm command, if you want a specific version you can add `--images='openshift/origin-${component}:v1.0'` where 'v1.0' is whatever version of the image you want it to dep

[2015-12-08 15:17] bparees commented on #5978
@mfojtik your specific use cases are covered by this card:
https://trello.com/c/wozDHSJ2/717-5-track-reason-a-build-was-run-triggered

so let's keep this issue to the generic "i want to add random annotations" request.

and i'm confused..you say annotations to apply to the output image.  but we don't put annotations on docker images.  So is this for applying docker labels to the output image, or a

[2015-12-08 15:22] azywait commented on #6228
I have tried my times as the https://docs.openshift.org/latest/install_config/install/docker_registry.html#securing-the-registry document, but, always failed.
![image](https://cloud.githubusercontent.com/assets/4987859/11659220/15cbf0ba-9e02-11e5-9434-d92c28e20813.png)
But I have store "ca.crt" in /etc/docker/ as the guide
Docker version: 1.9.1
Whether I missed some configuration?

[2015-12-08 15:24] liggitt commented on #6228
How did you create the certificate? If you are creating it for an IP, you need to include the IP address as a subjectAltName.

[2015-12-08 15:32] pweil- commented on #4339
https://github.com/docker/distribution/pull/1050 is still under review.  It may have a chance at getting merged this week but I don't think we can guarantee it.  Given that this is a P0 should we proceed with trying to carry the pruning hacks and resolving this or continue to wait on the upstream PR?

[2015-12-08 15:33] ncdc commented on #4339
:-1: to carrying hacks - we've learned our lesson the hard way :cry:

[2015-12-08 16:29] php-coder opened #6235 "Extended tests: simplify code for working with MySQL/PostgreSQL"
During my work on #5969 I did a bit refactoring and I found that `test/extended/util/db/mysql.go` and `test/extended/util/db/postgresql.go` could be refactored/improved even more:

1) The long statements like this:

[code]

could be rewritten to use `executeShellCommand()` (like I did for MongoDB).

2) As @rhcarvalho pointed me out in a comment for my PR, we don't need to parse environment of all

[2015-12-08 17:23] php-coder opened #6236 "Extended tests: add debugging tips/troubleshooting guide"
During my work on #6197 there were a couple of obstacles that could be show-stopper for a newcomers. Especially when you're trying to debug tests. I would like to see a few words about possible problems and debugging technics in documentation/README/etc.

My cases:

1) Permission denied when you run tests inside of vagrant:

[code]

The problem: tests tries to run `go get` but they don't have perm

[2015-12-09 07:40] lorenzvth7 opened #6239 "Autoscaler can't get Current CPU utilization"
I have configured my cluster metrics. I'm able to see them in the webconsole.
I do not use persistent storage for them and I used auto-generated certificates:
[code]
It looks fine, for every pod I have, I get the metrics (using heapster).

This are the logs of my heapster pod:
[code]
I scaled my test-project and it's using 40 pods.
Now I want to make an autoscaler for my project test.
The .yaml lo

[2015-12-09 08:35] PI-Victor commented on #6236
Rodolfo is right, you can add that json or you could modify the Vagrantfile and have it separate from the repo. My .json looks something like this:
[code]
thus loading all of my Go libs.

I did modify that Vagrantfile on which my current vm is built and not the .json, however both would work. It sucks that it specifically loads only your openshift project when of course, you need the rest of the g

[2015-12-09 11:38] jstrachan opened #6241 "S2I builds should try annotate the RC / DC with the git commit sha and the build id / pod when the build completes"
which would make it easier from a console to link to the source code version and build log that makes an RC / DC.

We've been doing this by default in our fabric8 Jenkins Workflows which means for each environment of interest, its easy to link to the version, git commit and build log for each RC / DC / pod.

e.g. like this UI - you can see the git commit and build log for each RC in each environme

[2015-12-09 13:02] mfojtik commented on #5978
@bparees we add labels to output Docker image, but we will also add annotations to the Build object created by  "start-build".

[2015-12-09 13:03] mfojtik commented on #5978
@bparees when the Docker image is pushed to registry and when we can import the image labels as annotations to image streams, then the annotations will also show up in the image stream object.

[2015-12-09 13:05] mfojtik commented on #5978
@bparees having this "i want to add random annotations" is also saying that we can't do anything useful with them in OpenShift :-) Like, I can use "created-by" annotation and other organization "started-by", etc... My idea was to first think about those we know about (and we 'can' add first-class support for).

[2015-12-09 13:15] smarterclayton commented on #5978
Annotations are for end users.  we have no examples today of namespaced
resources that have annotations users aren't allowed to set.  Can you come
up with an example of a restriction we would place on a build?

On Dec 9, 2015, at 8:05 AM, Michal Fojtik <notifications@github.com> wrote:

@bparees <https://github.com/bparees> having this "i want to add random
annotations" is also saying that we can'

[2015-12-09 13:18] smarterclayton commented on #4339
We are falling really far behind on the registry.  I think we can't afford
to keep falling behind.  Can we asses the risk of the rebase in terms of
possibility of breakage of end user workflows?

On Dec 8, 2015, at 10:33 AM, Andy Goldstein <notifications@github.com>
wrote:

[image: :-1:] to carrying hacks - we've learned our lesson the hard way [image:
:cry:]

—
Reply to this email directly or vie

[2015-12-09 13:20] mfojtik commented on #5978
@smarterclayton i'm not saying that users can't set certain annotation, I'm saying that if we pick "started-by" annotation on the build as "standard" (I hate that word), then we can profit from that by showing it in the console and possibly pointing users back to the Jenkins URL, etc...

If we say "you can use random annotation" then we don't know what that annotation mean. I'm also fine with "we

[2015-12-09 13:30] liggitt commented on #6241
s2i doesn't output a RC/DC...

[2015-12-09 13:35] jstrachan commented on #6241
Its not so much about what creates the RC/DC (I guess its generated via the `oc new-app` command?) this issue is more that running an S2I build should annotate the DC/RC with the details of the build & git sha

[2015-12-09 13:43] smarterclayton commented on #5978
Started-by on a build is really a generic created-by, which should be
created for you, not by the client.  Started-by as a build annotation being
part of the image and shown in UI is very reasonable.  What I'm getting at
is that we will not prevent end users from mucking with annotations on
objects in namespaces normally.  So any case where we treat some
annotations as special is unusual and we sh

[2015-12-09 13:55] ncdc commented on #4339
The only thing we have to deal with is pruning and possibly the custom
/healthz handler I hacked in. I believe the latest registry code responds
200 at / now, which is a sufficient replacement for /healthz. So that just
leaves pruning, which depends on upstream 1050 which isn't in yet.

On Wednesday, December 9, 2015, Clayton Coleman <notifications@github.com>
wrote:

[2015-12-09 14:24] miminar commented on #4339
Correct.

I'd rather rework pruning after the rebase itself (with or without 1050 carried on top). Doing it together would result in unreviewable PR like the last time. We could rebase on top of `registry:v2.2.0` or [`registry:2.2.1`](https://github.com/docker/distribution/issues?q=milestone%3ARegistry%2F2.2.1+is%3Aclosed)  which is due by December 9, 2015.

 Other note-able changes:
- repository

[2015-12-09 14:40] csrwng opened #6244 "web console: source link broken for build with a context directory"
When displaying the list of builds, the link rendered for a build source contains "undefined" instead of a ref like "master" when there is a non-blank context directory in the build config.

[2015-12-09 14:40] csrwng commented on #6244
@spadgett @jwforres

[2015-12-09 14:44] liggitt commented on #4242
I haven't seen it, closing, can reopen if needed

[2015-12-09 14:44] #4242 closed

[2015-12-09 14:44] liggitt commented on #4327
probably addressed by dc/scale changes

[2015-12-09 14:46] #4589 closed

[2015-12-09 14:46] ironcladlou commented on #4327
Fixed by #5875

[2015-12-09 15:06] smarterclayton commented on #4327
Such confidence.

On Wed, Dec 9, 2015 at 9:46 AM, Dan Mace <notifications@github.com> wrote:

[2015-12-09 15:07] csrwng commented on #6241
A build doesn't have knowledge of what dc/rc will be used to deploy its output. The thing that links a build to a rc/dc is an imagestream. The image produced by the build already includes labels that describe the build: https://docs.openshift.org/latest/dev_guide/builds.html#output-image-labels. So maybe when a new deployment is created it should pick up annotations from labels in the image it's g

[2015-12-09 15:10] lorenzvth7 opened #6245 "Kibana: No results found"
I have installed and configured kibana, fluentd and elasticsearch on OpenShift Origin 3.1 using the official documentation.

Kibana seems to work and I can acces it in my webconsole. But I can't see logs.
Discover shows me: No results found

I can see my projects on the left:
    myproject1.*
    myproject2.*
    myproject3.*

I also get sometimes this error:

```RuntimeException[com.floragunn.sea

[2015-12-09 15:10] liggitt commented on #5114
@mmahut, are you still seeing this?

[2015-12-09 15:10] jstrachan commented on #6241
@csrwng sounds good to me!

[2015-12-09 15:11] liggitt commented on #6241
Does a deployment have the image?

[2015-12-09 15:13] csrwng commented on #6241
I believe it has a resolved full image spec based on the ImageStreamTag in the trigger, and we should be able to get the metadata of an ImageStreamImage

[2015-12-09 15:18] jstrachan commented on #6241
@csrwng BTW using origin 1.1 I created a new nodejs app via `oc new-app` and I've looked in the DC and IS and don't see those [annotations or labels](https://docs.openshift.org/latest/dev_guide/builds.html#output-image-labels) on the DC or IS. Is this something upstream not in origin 1.1 - or does it depend on the builder?

e.g.
[code]

[2015-12-09 15:18] ironcladlou commented on #4327
`oc scale` against a dc no longer touches RCs as of #5875, so there's no longer a way for the reported condition to arise.

[2015-12-09 15:19] #4327 closed

[2015-12-09 15:19] kargakis commented on #4327
It doesn't even touch the DC.

[2015-12-09 15:20] kargakis commented on #4327
But the scaling endpoint

[2015-12-09 15:20] csrwng commented on #6241
The labels will go in the output image of a build, they won't go in the generated openshift artifacts (they're more like a template for actual builds/images)

[2015-12-09 15:24] ironcladlou commented on #6241
Is it possible to decompose the pullspec in the deployment/RC to link back to the particular ImageStream tag event from which the pullspec is derived?

[2015-12-09 15:28] csrwng commented on #6241
I imagine that when creating an RC you resolve the ImageStreamTag to a specific Image spec, no? (sorry unfamiliar with the deployment code)... we do something like that when generating a build: https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L457

[2015-12-09 15:30] ironcladlou commented on #6241
We go from the ImageStream/tag event to a usable pullspec to place into the container image field within the RC, yeah.

[2015-12-09 15:31] csrwng commented on #6241
So the ImageStreamImage object you use to get the spec, should have the metadata from the built image, including labels... what I was suggesting is placing those in the RC.

[2015-12-09 15:32] ironcladlou commented on #6241
No doubt that's possible, I'm just exploring alternatives to duplicating information in the annotations. Haven't yet thought through any pitfalls of storing the info on the RC.

[2015-12-09 15:35] csrwng commented on #6241
I guess if you really wanted to right now, you could inspect the RC, and make a separate API call to get its ImageStreamImage to get the labels or whatever other metadata you want.

[2015-12-09 15:37] liggitt commented on #6241
That's what the web console does. there's a tension in a decoupled system between flexibility and ease of use. I'm hesitant to propagate information across several layers

[2015-12-09 15:45] bparees commented on #5978
i don't think it is.  I already linked the card in which we want to provide an audit trail for builds, and when we do that, i don't think we should be doing it via a "start-by" annotation, we should be adding a first class field to the Build object.

Doing it as a annotation makes it much more difficult for us to prevent users from mucking with the value, and we have to prevent users from mucking

[2015-12-09 15:57] jstrachan commented on #6241
@csrwng the missing magic I didn't realise was the need to find the ImageStreamTag for an RC which seems to have the git commit stuff inside!

[2015-12-09 15:57] #6241 closed

[2015-12-09 17:19] simon3z opened #6248 "Routers creation failures depending on user kubeconfig"
It seems that creation of a router is somehow related to the current user kubeconfig project:

[code]

Few notes:
1. I am not sure whether `oadm` should respect the user kubeconfig (especially in the project regard), more specifically, should the administrative commands (`oadm`) be influenced by the developer context (`oc`)?
2. Since we're specifying the `--credentials` it may make sense to take t

[2015-12-09 17:21] liggitt commented on #6248
`oadm router` should already take `-n default`

[2015-12-09 17:23] liggitt commented on #6248
Like all client-side creation commands, it uses the current project. This is working as designed.

[2015-12-09 17:24] simon3z commented on #6248
Either it is missing or undocumented.

[2015-12-09 18:00] fabianofranz commented on #6248
Related BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1290128

[2015-12-09 18:07] smarterclayton commented on #6248
At a minimum, we should extend the message we print from the router
creation command to indicate the current namespace, and ask whether the
service account is expected in that namespace.

On Wed, Dec 9, 2015 at 1:00 PM, Fabiano Franz <notifications@github.com>
wrote:

[2015-12-09 18:59] sg00dwin commented on #6025
@spadgett the fix for this has merged. Not sure why it wasn't automatically closed since it was referenced in the pr.

[2015-12-09 19:03] #6025 closed

[2015-12-09 19:32] kargakis commented on #6172
Fixed

[2015-12-09 19:35] #6172 closed

[2015-12-09 20:42] jwforres commented on #6223
curious...  we have folks on fedora and macs who run this all the time with no issue.  what system are you running on @rhcarvalho

[2015-12-09 21:19] jcantrill commented on #6245
@lorenzvth7 Can you confirm the date range of logs you are trying to view is broad enough to include your logs?  The default in the upper right sometimes 'masks' logs.  @ewolinetz  Can you comment on the error?  @sosiouxme are timestamps normalized by fluentd such that the entries wont be masked if there is a mismatch?

[2015-12-09 21:39] ewolinetz commented on #6245
That error is produced by the search-guard plugin, and I would need to dive a bit deeper to understand why we're getting it (what is trying to communicate with Elasticsearch, and what it is trying to do).  It may be a misconfiguration of an ACL.

@lorenzvth7 if you look at your Elasticsearch logs, do you see any messages similar to the following - indicating that log indices were created:
[code]

[2015-12-09 21:48] ramr commented on #5949
@withinboredom fixed the docs and PR linked above is now merged.
Can you please close this issue out. Thx

[2015-12-09 22:26] rhcarvalho commented on #6223
Up-to-date Fedora 22

[2015-12-10 02:15] DirectXMan12 commented on #6239
Can you post your DeploymentConfig JSON/YAML?  Additionally, if you have access to the logs, do you see anything there?  There's a couple issues that could be occurring (e.g. Origin might not be able to connect to Heapster or there's some incorrect configuration on you DC -- you need to specify CPU requests on your pods for the HPA to work).

[2015-12-10 06:29] azywait commented on #6228
I create the certificate as the document:
![image](https://cloud.githubusercontent.com/assets/4987859/11708314/dc25bd6c-9f48-11e5-80d3-7173e1cff8cb.png)
I didn't deploy router, and I only want to use IP to secure the registry.
Can the "oadm ca create-server-cert" create  the certificate include the IP address as subjectAltName?
 I am not very understanding of this.
Does I miss some documents on "h

[2015-12-10 06:52] smarterclayton opened #6255 "Extended tests are not properly bypassing ginkgo.skip when focused"
Running --focus="HAProxy" does not trigger the test - you have to clear skip with SKIP="XXX" which is wrong.  It's possible we have something wrong with focus.

[2015-12-10 08:09] miminar commented on #4339
Upstream wants to refactor manifest interface before accepting anything else, which means another not-so-short delay for 1050.

[2015-12-10 08:27] lorenzvth7 commented on #6245
@ewolinetz
The elastic-search pod is not running by default after the installation. You have to scale it up manually. That was the issue. Thanks

[2015-12-10 08:27] #6245 closed

[2015-12-10 08:37] lorenzvth7 commented on #6239
@DirectXMan12
A description of the pod is all I can give:
[code]
I used this template to create it all:

[code]
and to execute:

[code]
It's working and showing up in the metrics-tab in my webconsole. But it's unaccessible for my autoscaler.

I already gave the logs of my heapster pod but they don't show something weird I think.
+ I don't understand this: you need to specify CPU requests on your p

[2015-12-10 10:00] mfojtik commented on #6255
@smarterclayton didn't this change to "--ginkgo.focus=HAProxy" ?

[2015-12-10 10:21] lorenzvth7 commented on #6239
Logs in my webconsole:
[code]

[code]

[2015-12-10 11:39] mfojtik commented on #6255
@smarterclayton I just did

[code]

and the HAProxy test case ran successfully.

[2015-12-10 12:33] maxandersen commented on #5693
+1 for this; whatever we can do to aid users in becoming aware of the limits would be helpful.

[2015-12-10 13:45] smarterclayton commented on #4339
Which means... We have to carry 1050 if we want to upgrade docker?  Right
now it seems we have all the cost without even getting a new registry
version.  Do we need to release the registry image on a different window
than 3.1.1 in order to get enough time to get this work done?

On Dec 10, 2015, at 3:09 AM, Michal Minar <notifications@github.com> wrote:

Upstream wants to refactor manifest interfa

[2015-12-10 13:56] smarterclayton commented on #5978
On Dec 9, 2015, at 10:45 AM, Ben Parees <notifications@github.com> wrote:

Started-by as a build annotation being part of the image and shown in UI is
very reasonable.

i don't think it is. I already linked the card in which we want to provide
an audit trail for builds, and when we do that, i don't think we should be
doing it via a "start-by" annotation, we should be adding a first class
field to

[2015-12-10 14:00] lorenzvth7 commented on #6239
The steps I perform to set up my heapster are just these steps: https://docs.openshift.org/latest/install_config/cluster_metrics.html#metrics-deployer

Litterally following them with oc secrets new metrics-deployer nothing=/dev/null and persistent storage: false. It works except for my hpa

[2015-12-10 14:18] smarterclayton commented on #6255
I didn't see
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7711/
work
correctly.

On Thu, Dec 10, 2015 at 6:39 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-12-10 14:20] mfojtik commented on #5978
I think we don't understand each-other ;-)

What I want to achieve is this:

1) I have Jenkins server that test changes in my source repository
2) When test pass, it kicks the build using the `start-build` command.
3) I want to be able to identify what started the Build and I want to be able to go back to Jenkins and see the testing job if something goes wrong with deploying that image/building it

[2015-12-10 14:23] mfojtik commented on #6255
@smarterclayton

[code]

case sensitive?

[2015-12-10 14:40] miminar commented on #4339
Yes, we have to carry 1050 if we want to rebase the registry. I don't think 1050 makes it before 3.1.1. Last time I asked upstream, they told me they want to merge it before refactoring. Now they change their mind. So it's really hard to guess. I'll ask them on ETA of the refactoring.

[2015-12-10 14:58] liggitt commented on #6228
That command will correctly create a serving certificate with IP SANs. The next thing to check is whether the registry is using the certificate you created correctly. Can you include the output of
[code]

[2015-12-10 15:16] smarterclayton commented on #4339
Can you make 1050 carry + rebase happen for 3.1.1?  Risk profile sounded
less than I was worried about.

On Thu, Dec 10, 2015 at 9:40 AM, Michal Minar <notifications@github.com>
wrote:

[2015-12-10 15:16] smarterclayton commented on #6255
the descriptions have HAProxy in them.

On Thu, Dec 10, 2015 at 9:23 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-12-10 15:17] smarterclayton commented on #5978
That started by is different - I would call that annotation "ci-job.href"
or similar.

On Thu, Dec 10, 2015 at 9:20 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-12-10 15:21] spadgett commented on #6189
The text in the upper-right of the deployment tile also wraps too aggressively.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11719203/a176ba0c-9f27-11e5-9633-3fa7d81f69be.png)

[2015-12-10 15:44] miminar commented on #4339
@smarterclayton Sure. Working on it.

[2015-12-10 16:11] DirectXMan12 commented on #6239
Yeah, it looks like you're missing a CPU request on your pods (to confirm, I'd need to see the output of `kubectl get dc $YOUR_DC -o yaml`).  In order to use the CPU autoscaling, you'll need to specify a CPU request under the resources section for your pod spec (CPU autoscaling is based on a percentage of the requested CPU: https://docs.openshift.org/latest/dev_guide/pod_autoscaling.html#hpa-suppo

[2015-12-10 16:14] bparees commented on #5978
and i'm saying i don't think that should be an annotation, it should be a first class field on the Build object, and we have a card to cover this.  However @smarterclayton seems to disagree about it being a first class field, i'm not clear on why.  I still think an annotation is too easy for a user to modify, ruining your audit trail.  And I still think this should be covered by the card I linked

[2015-12-10 16:15] bparees commented on #5978
One other suggestion...  the final output build image should not contain "started by - jenkins job link", it should contain "produced by - openshift build reference".

that is a generic solution which is useful whether you use jenkins or manually launch builds.

you can then go look at the openshift build, and the openshift build should contain a "started by - XXXX" where XXXX is either the user w

[2015-12-10 16:31] kargakis opened #6259 "Test flake in test/cmd/images.sh"
!!! Error in test/cmd/../../hack/cmd_util.sh:409
	'return 1' exited with status 1
Call stack:
	1: test/cmd/../../hack/cmd_util.sh:409 os::cmd::try_until_success(...)
	2: [test/cmd/images.sh:49 main(...)](https://github.com/openshift/origin/blob/89eb2fcc932a521b66a557c523609d62e2dbabd8/test/cmd/images.sh#L49)
Exiting with status 1
!!! Error in hack/test-cmd.sh:284

[code]

https://ci.openshift.redh

[2015-12-10 17:23] jwforres commented on #6125
Firefox 39 is also affected.  Was able to reproduce it on firefox 38/39 on windows 8.1 and OSX Yosemite as well.  The issue doesn't exist in Firefox 40+   It seems to only occur when navigating from one of our pages that had a lot of websockets open to another page.  The new websocket requests definitely get issued from the JS, we get back the websocket object, but the requests do not show up in t

[2015-12-10 18:06] smarterclayton commented on #5978
@jwforres should weigh in on what she'd want to show in the UI if all we
had was an image (that showed up on a different deployment, even)

On Tue, Dec 8, 2015 at 6:32 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-12-10 18:43] liggitt commented on #6125
Might be one of these changes in ff40:
https://bugzilla.mozilla.org/show_bug.cgi?id=1170645
https://bugzilla.mozilla.org/show_bug.cgi?id=1147990

[2015-12-10 19:13] liggitt commented on #6125
Looks like the API server isn't sending correct close notifications when closing web socket watches. Not sure if this affects firefox or not for client-initiated closes.

Possible fix in https://github.com/openshift/origin/pull/6261/files

[2015-12-10 19:28] jwforres commented on #6125
I can't reproduce the issue anymore while running with @liggitt's fix to the API server.

[2015-12-10 19:35] kargakis opened #6262 "Deployment timeout flake"
[code]
We need to bump the timeout for this test.

[2015-12-10 19:57] kargakis commented on #5788
I think this issue equally applies for the deployers, router, and the registry (we don't have any control over the registry logs though).

[2015-12-10 20:00] kargakis commented on #4141
Related PR upstream: https://github.com/kubernetes/kubernetes/pull/17740

[2015-12-10 20:24] jim-minter commented on #6125
neither can I -- thanks @jwforres and @liggitt  :-)

[2015-12-10 20:25] spadgett commented on #5732
Probably should add a tooltip to the deploy button as well when disabled on the deployment config page.

[2015-12-10 21:10] #4189 closed

[2015-12-10 21:53] dustymabe opened #6265 "using targetPort with a name in service definition doesn't seem to work via route"
Using `targetPort` in the service definition to map to a named port in a pod definition doesn't seem to work. Everything looks like it works and the web interface even has `80/TCP → apacheport` in the display, but I can never establish a connection. If I instead use `targetPort : 8080` in openshift it works. Mapping to a name works in kubernetes-1.1.0-0.17.git388061f.fc23.x86_64 so I think I'm not

[2015-12-10 21:58] liggitt commented on #6265
How are you attempting to establish the connection?

[2015-12-10 21:59] dustymabe commented on #6265
curl or firefox, neither work. I always get a 503 error

[2015-12-10 22:00] liggitt commented on #6265
What do the endpoints for the service look like?
[code]

[2015-12-10 22:01] liggitt commented on #6265
and you are curling the service ip directly, not going through the API proxy, right?

[2015-12-10 22:07] dustymabe commented on #6265
I am curling the hostname associated with the route that is associated with  the service.

route info
[code]

service info
[code]

endpoints info
[code]

[2015-12-10 22:10] dustymabe commented on #6265
Note that the route was created using `./oc expose service apacheservice`

[2015-12-10 22:27] kargakis commented on #6265
The problem is that the route uses a named target port and the associated endpoint is not. https://github.com/openshift/origin/pull/5578 fixes this.

[2015-12-10 22:49] kargakis commented on #6265
In the meantime, @dustymabe can you try
[code]
and try to connect?

[2015-12-10 22:52] kargakis opened #6266 "oc status should inform me that a particular route doesn't work..."
...because it cannot be associated with an endpoint (uses a named port while the endpoint is not). Issues like https://github.com/openshift/origin/issues/6265 are pretty common lately.

@deads2k please assign

[2015-12-10 22:58] jwendell opened #6267 "Add an 'Disable SSL check' option for cloning git repositories"
When creating an application, we are asked to enter the repo URL, which can use the HTTPS.

Sometimes we use repositories with a self-signed certificate and we just want to use them, mainly in dev environments.

So, it'd be nice to have an option to ignore certificate errors.

Currently the build fails:

E1210 17:26:08.548921 1 git.go:102] Clone failed: fatal: unable to access 'https://repo.git/':

[2015-12-10 22:59] dustymabe commented on #6265
@kargakis that patch command works

[2015-12-10 23:02] #6125 closed

[2015-12-10 23:39] bparees commented on #6215
it recurred, with your new logging here's the output:

[code]

full build is here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7728/consoleFull

it's basically as i expected, the build didn't start soon enough so the command failed.

I think you should switch this to start the build, wait for completion/success, and then get the logs, as we do elsewhere.

@mfojtik maybe y

[2015-12-11 00:05] jhadvig commented on #5732
@spadgett great idea. Will add it as well. Thanks :+1:

[2015-12-11 00:15] liggitt commented on #6265
Does #5578 actually fix the issue with named ports, or just let you set a numeric target port on the route. Named ports are needed when you want services or routes to route to different port numbers on pods that are serving the same content.

For that to work, the names of the ports need to make it into the endpoints somehow. Isn't that an upstream bug that needs fixing?

[2015-12-11 00:17] liggitt commented on #6266
Shouldn't we work on named port issue in the endpoints?

[2015-12-11 00:19] PI-Victor commented on #6215
i understand, what puzzles me is why does this flake, and this for example https://github.com/openshift/origin/blob/master/test/extended/builds/start_build.go#L58 doesn't. I'm not sure what i'm doing different here. And of course there are others as well. Could it be the images from the fixtures?
If not does that mean we need to increase the timeout for --wait or --follow?
@mfojtik you definitely

[2015-12-11 00:43] bparees commented on #6215
Could definitely be the image, if they use different ones, since the build
pod has to pull the image to get started.

Increasing the timeout would be nice but I think that's baked into k8s
somewhere.

Ben Parees | OpenShift
On Dec 10, 2015 19:19, "Ionut Palade" <notifications@github.com> wrote:

[2015-12-11 01:11] kargakis commented on #6266
Will fixing single-port endpoints to be named, fix already existing endpoints that have no names? If yes, then fixing that will be ebough, if no then it's a separate issue.

[2015-12-11 01:21] kargakis commented on #6265
I think that the problem is [this](https://github.com/kubernetes/kubernetes/blob/a8664f16bbcd0f9c393a9f97aa8e292dbc8a64d5/pkg/api/types.go#L1402-L1403). Which is an upstream bug, yes. In the meantime, making oc expose set a numeric target port (I dont think users generate routes manually any more) and beefing up oc status to report (even if we fix endpoints upstream, we probably still want the oc

[2015-12-11 01:24] liggitt commented on #6265
It just seems like the route is picking up the name of the pod port, when that is not what will be surfaced in the endpoint. In this case, the route should have been using the endpoint port named "", right?

[2015-12-11 01:38] carljmosca commented on #3910
This seems to work OK but the link in the projects does not include the subdomain.  [Adding the subdomain takes me to the host.]

How can I make it display properly (with the subdomain)?

I am doing this in the template:

spec:
            host: "abcdef-${SOME_NAME}-${SOME_INSTANCE}"
            to:
              kind: "Service"
              name: "${APPLICATION_NAME}-${SOME_NAME}-${SOME_INSTANCE

[2015-12-11 02:24] liggitt commented on #3910
If you set the host, you don't get any defaulting or suffixing. If you want a generated host, leave it empty.

[2015-12-11 02:34] carljmosca commented on #3910
Yes, that's correct.  I want a very specific host and it is working as desired but not displayed as desired.

[2015-12-11 02:36] liggitt commented on #3910
Can you clarify what you mean by "the link in the projects does not include the subdomain"?

Can you include the output of `oc get route <name> -o json` and describe what you are expecting?

[2015-12-11 02:46] carljmosca commented on #3910
Service is currently available as desired here: http://ipoc-rs-vaeb-test.origin.cad.ao.dcn/

In the project, the route (link) is displayed as ipoc-rs-vaeb-test (and it does not work)

I am expecting it to be displayed as ipoc-rs-vaeb-test.origin.cad.ao.dcn

Therefore, I say the "subdomain" is not included (based on the discussion language above).

This is the requested output:

{
    "kind": "Rout

[2015-12-11 02:47] #6262 closed

[2015-12-11 02:49] liggitt commented on #3910
If you leave spec.host empty, what happens? When you specify a host, you are responsible for the entire fully qualified hostname.

[2015-12-11 02:51] azywait commented on #6228
I restart the registry, so the service IP has changed, and it still can not work. But the output has changed.
master node(192.168.1.101): master + node1(include registry)

The registry info as follow:
![image](https://cloud.githubusercontent.com/assets/4987859/11734331/45677dda-9ff1-11e5-84b2-32d6f8b06cbd.png)

node1 can docker login, pull, push images, it use certificate connecting registry. The

[2015-12-11 02:52] carljmosca commented on #3910
If I leave it empty, it works but that's not the desired use case.  This application (and others like it) will have multiple instances which need to have a specific name derived from two other variables.  I can provide the rest of the hostname but I want to do so via another variable (because we have multiple OpenShift instances).

[2015-12-11 03:52] liggitt commented on #6228
Seems like it might be a networking issue from the new node.

[2015-12-11 06:09] #5936 closed

[2015-12-11 06:48] azywait commented on #6228
They are all in a subnet, new node can connect the pod which on the node1.  I didn't use ansible to deploy the Openshift, So, what networking issue maybe caused this problem? What I seems like to be missed without using ansible?

[2015-12-11 08:18] mfojtik commented on #6215
@bparees @PI-Victor I can check if I can increase (or expose) the timeout on `start-build`

[2015-12-11 08:20] mfojtik commented on #6215
@PI-Victor alternatively you can use `Watch` API to monitor when the Build is completed and get the logs afterwards as @bparees suggested. That will eliminate the timeout (you will still have to set some reasonable timeout for watch).

[2015-12-11 09:50] soltysh commented on #6215
Seen in #6230 https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7703/

[2015-12-11 09:50] soltysh commented on #5995
Seen in #6230 https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7703/

[2015-12-11 10:32] kargakis commented on #6265
I am not sure about that. Maybe @pweil- can weigh in

[2015-12-11 12:49] deads2k commented on #6266
In my mind, its about time.  This is broken now and its hard to find.  If we don't fix the underlying problem for 1.1.1, we should at least detect that problem (its an error).

If we do this in `oc status`, you should have a test that actually makes sure that the condition you're checking is still broken.  It's probably as easy as a reflective test on the fields of the `Endpoint`, right?  That way

[2015-12-11 13:39] lorenzvth7 commented on #6239
Thanks, you were right. This fixed it.

[2015-12-11 13:39] #6239 closed

[2015-12-11 13:50] azywait commented on #6228
Whether there has some document about how to deploy an openshift cluster without using ansible?

[2015-12-11 15:05] pweil- commented on #6265
Routes use endpoints and filter based on the endpoint name.

how endpoints are given to the router: https://github.com/openshift/origin/blob/master/plugins/router/template/plugin.go#L194-194
how the router filters them with a preferred port:
https://github.com/openshift/origin/blob/master/plugins/router/template/router.go#L364-364
https://github.com/openshift/origin/blob/master/plugins/router/temp

[2015-12-11 15:23] liggitt commented on #6265
Summary:
* if a route has a numeric targetPort, that matches the containerport number.
* if a route has a named targetPort, that matches the serviceport name (NOT the containerport name)

My preference would be to switch routes to use the serviceport names, so that changes to the service port mapping get picked up by the route automatically.

@kargakis @spadgett I think we should change `oc expose

[2015-12-11 15:33] miminar commented on #4339
@smarterclayton: Rebased docker/distribution (PR #5404) resurrected.

[2015-12-11 15:36] liggitt commented on #6265
https://gist.github.com/liggitt/4b71c07b8c69ab7eabbe is my scratchpad for investigating this

[2015-12-11 15:47] dustymabe commented on #6265
+1

[2015-12-11 15:48] php-coder commented on #6236
One more from @gabemontero :

[2015-12-11 16:13] miminar opened #6270 "Test flake in integration test suite"
`TestAuthorizationSubjectAccessReview` yields:

     I1211 10:38:41.309103    8918 create_clientcert.go:52] Creating a client cert with: admin.CreateClientCertOptions{SignerCertOptions:(*admin.SignerCertOptions)(0xc2080fc240), CertFile:"/tmp/openshift-integration/openshift.local.config/master/openshift-registry.crt", KeyFile:"/tmp/openshift-integration/openshift.local.config/master/openshift-regis

[2015-12-11 16:42] gabemontero commented on #6236
thx @php-coder

[2015-12-11 17:01] kargakis commented on #6265
`oc expose` [already](https://github.com/kubernetes/kubernetes/blob/d3243b87789c3505fdb33134a2602acfadca357c/pkg/kubectl/cmd/expose.go#L158-L170) works [like](https://github.com/openshift/origin/blob/03ae3344f1722c3f42dace7516962d0ec8c58109/pkg/route/generator/generate.go#L85) that (the named or number port comes from the service). And that's the main reason behind observing this bug.

From my und

[2015-12-11 17:43] liggitt commented on #6265
Isn't `oc expose` using the serviceport's `targetPort`? That is what won't work for named target ports... `oc expose` should be setting the route's `targetPort` to the serviceport's name.

[2015-12-11 17:44] liggitt commented on #6265
The service port's name is what appears in the endpoint, not the container port's name.

[2015-12-11 17:49] liggitt commented on #6265
For example, after creating the resources in https://gist.github.com/liggitt/4b71c07b8c69ab7eabbe:

This will work, but will not pick up changes to the service definition if the service starts targeting a different port (I would expect the route to do `targetPort: "svcportname"`):
[code]

This will not work... I would expect the route to do `targetPort: "svcportname"`:
[code]

[2015-12-11 17:51] kargakis commented on #6265
Right, now I see what you are saying. I will have a look on Monday, no more brainpower left.

[2015-12-11 18:36] abutcher opened #6272 "Controllers process only sending sdnotify after obtaining a lease"
Service definitions with `Type=notify` start successfully on the master which has obtained the lease and will fail (timeout) on all other masters.

[2015-12-11 18:44] sdodson commented on #6272
@smarterclayton fyi

[2015-12-11 20:28] jwforres commented on #5978
images should at least refer back to the openshift build  that created them, if we think we would want to link to the build config, then have the build config name as well so we dont have to fetch the build to create the URL to the config

it would be nice if they also contained the link to what started that build when we know it, although it brings up the question... if I don't have the rights to

[2015-12-11 20:32] bparees commented on #5978
yeah the more information we pack into the output image the more worried i get in terms of exposing the inner workings of a CI system that the end-consumer of an image should not be aware of.

[2015-12-11 20:36] bparees commented on #5978
(hence my preference to only provide the next back link in the chain.  if you have access to that resource, you can continue following the chain backwards.  Though i understand that makes @jwforres 's life difficult :) )

[2015-12-11 20:41] bparees commented on #6065
and another one:
[code]

from https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4304/console

[2015-12-11 20:44] shawndwells commented on #5796
Piling on here. Receiving this error when following the OpenShift training, specifically:
https://github.com/openshift/training/blob/master/08-S2I-Introduction.md

[2015-12-11 22:49] smarterclayton opened #6276 "Promote experimental commands into oadm"
Forgot to do this :)

Bunch of experimental commands are stable now.

[2015-12-11 22:52] smarterclayton commented on #6276
Has docs impact, we have to leave the old alias for one release

[2015-12-12 00:12] bparees commented on #6270
seen again here:
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4307/console

[2015-12-12 04:19] thincal commented on #6229
@sdodson thanks for your useful info. But it seems that there is no way to specify the version of openshift/origin-pod and openshift/origin-deployer when running oadm command ?

[2015-12-12 04:21] liggitt commented on #6229
`oadm` commands don't create origin-pod and origin-deployer images… those come from the master config as noted

[2015-12-12 04:23] thincal commented on #6229
@liggitt yes and thanks... but if I change the ```imageConfig.format``` in node/master config file, then how to apply this change ?

[2015-12-12 04:31] smarterclayton commented on #3775
I don't particularly care what the indication is, just that we stop
repeating ourselves for redundant info.  Terminal characters are precious -
we should spend them only on the things that truly matter.  Once we've said
it once, we don't need to say it again.  If there's a better way to
represent that than an ellipsis, I'm open to it.

On Mon, Nov 9, 2015 at 2:14 PM, David Eads <notifications@gith

[2015-12-12 04:35] smarterclayton commented on #6118
Feature flag is something the API provides to say "I support this".  The
client negotiates versions with the server and also retrieves the flags.
Client code uses the flag to make decisions about what types of API objects
to send.

On Wed, Dec 2, 2015 at 11:04 AM, Ben Parees <notifications@github.com>
wrote:

[2015-12-12 05:39] smarterclayton opened #6279 "Newline missing in oc status"
[code]

Should be a newline between kubernetes service and `To see more`

[2015-12-12 05:41] smarterclayton commented on #6279
Also,

[code]

is too wordy.  Should be

[code]

[2015-12-12 05:54] smarterclayton opened #6280 "S2I push logs still has info message in v1.1"
Not sure if this was fixed since v1.1:

[code]

Should have no prefix.

[2015-12-12 05:57] smarterclayton opened #6281 "Image trigger error message is worded too strongly"
Run `oc new-app redis`, get this message until the image is imported.  Message should be changed - it's technically a warning (certainly in the last X seconds), not an error.  `Waiting for tag redis:latest to be imported or created` or similar...

[code]

[2015-12-12 06:03] smarterclayton opened #6282 "new-app fails on some official Docker images due to chown permissions"
We mount a volume at /data, but when the process tries to chown it, it fails.  Looks like the directory for data is root owned?

[code]

even though the image is not started that way.  This is v1.1 - I thought we fixed this?

@pmorie @markturansky

[2015-12-12 06:03] smarterclayton commented on #6282
/data is an emptydir volume.

[2015-12-12 09:18] thincal commented on #6222
@deads2k, thanks for your info.

Now I am create the pod in default namespace, the image registry.example.com:5000/default/hello-openshift:latest is pushed to integrated registry already.

and create the pod based on this yaml file:
[code]

But it will report bellow error from openshift:
[code]

The logs from the registry pod:
[code]

sudo oc policy who-can get imagestreams/layers -n default --con

[2015-12-12 09:24] thincal commented on #6222
Based on above trace from registry pod, ```GET /v1/repositories/default/hello-openshift/images HTTP/1.1``` shows that it is trying to get the image from v1 registry, but actually it's v2. Is that the error ?

[2015-12-12 09:58] thincal commented on #6222
@deads2k after push the image to integrated registry, it also create a imagestream by running ```oc get is```
[code]
but my pod.json file is referring the image as ```registry.example.com:5000/default/hello-openshift:latest```, so is this causing the pull failed error ?

[2015-12-12 10:44] thincal opened #6283 "imagestream is always using the registry ip instead of registry hostname"
If I push an image for example `registry.example.com:5000/default/hello-openshift` to the integrated registry, at the same time an imagestream will be created automatically, but `oc get is` shows:

[code]

When I create a pod referring the image `registry.example.com:5000/default/hello-openshift`, it will report the error:

[code]

So what the reason to use the registry ip in the imagestream inste

[2015-12-12 10:45] thincal commented on #6222
It seems that this failure is caused by https://github.com/openshift/origin/issues/6283, if I am wrong, please correct me. thanks.

[2015-12-12 11:04] thincal opened #6284 "How to fix the IP of router and registry service"
You know:
- the router should have a fixed IP to be configured in DNS for providing the internal service routing
- registry service is monitoring 5000 port instead of 80, so it seems the routing can't be done by the router, my solution is still using a fixed IP for registry service and configure the DNS.

So, is there a way to specify a fixed IP to router and registry service ?
or do you have othe

[2015-12-13 15:34] terrywong2 opened #6286 "htaccess, cannot login 'admin' user using HTPasswd Auth"
the *admin* user is created by following command:
```htpasswd /etc/origin/htpasswd admin```

```origin-master: E1213 23:25:06.249589    2434 login.go:141] Unable to authenticate password: Error creating or updating mapping for: &api.DefaultUserIdentityInfo{ProviderName:"htpasswd_auth", ProviderUserName:"admin", Extra:map[string]string{}} due to user "admin" cannot be claimed by identity "htpasswd_

[2015-12-13 15:43] liggitt commented on #6286
Set the mapping method on the new identity provider to "add"

See https://docs.openshift.org/latest/install_config/configuring_authentication.html#mapping-identities-to-users

[2015-12-13 15:54] #6286 closed

[2015-12-13 16:11] terrywong2 commented on #6286
still no luck after change the identity provider to "add" and restart the VM, keeps showing the same error message and cannot login
[code]

config:
[code]

[code]

[2015-12-13 16:18] liggitt commented on #6286
mappingMethod is peer to login and challenge attributes

[2015-12-13 16:23] terrywong2 commented on #6286
great! thanks.

[2015-12-13 16:32] stevekuznetsov commented on #6144
Once I have this bug fixed, RFC2307 and Augmented AD will issue two requests to the server, and, under our current factoring, make two connections. AD will issue one request and make one connection.

Should I refactor to re-use the connection, or are two connections fine for sync? Do we at any point the future want to implement the connection pool either here or upstream?

[2015-12-13 17:04] roldancer opened #6287 "Pods per node ? Any recommendation ?"
Hi All, I would like to know if there is any recommendation about the limit of pods per node, I was reading some performance reports from Kubernetes's site, all the test were using 30 pods per node, I want just to know if someone has experience using nodes with 100 pods or even more .

Many thanks for any advice.

[2015-12-13 21:44] kargakis commented on #6280
Dupe of https://github.com/openshift/origin/issues/5788

[2015-12-13 21:48] kargakis commented on #5680
This is most probably fixed, can we close it until we see it again?

[2015-12-13 21:50] kargakis commented on #6282
cc: @mnagy

[2015-12-13 21:52] kargakis commented on #6270
We already have an issue for that test: https://github.com/openshift/origin/issues/6065

If you spot a different flake for the same test just menion it in there.

[2015-12-13 21:57] kargakis commented on #6215
+1 to making the timeout configurable. I want this in oc logs
https://github.com/openshift/origin/issues/5584#issuecomment-160951829

[2015-12-13 22:34] smarterclayton opened #6289 "Warning about restarting pod should show up next to DC in oc status"
The current "pod has restarted X times" warning isn't very useful in oc status.  It needs to be connected to the actual DC that it's under.

[code]

should probably be

[code]

or even:

[code]

[2015-12-13 22:46] bit4man commented on #5796
Same error using trying to create a phpcake app

[2015-12-14 00:52] pstinghua opened #6290 "Events missing"
[code]

[2015-12-14 08:23] MacThrawn commented on #5796
Since we migrated our testcluster (3 Nodes, 2 etcd) from 1.0.7 to 1.1.0.1 we can not build because of this issue:
F1214 08:15:59.809202       1 builder.go:59] Build error: dial tcp: i/o timeout

[2015-12-14 08:36] miminar commented on #6065
Yet another one:

     I1211 10:38:41.309103    8918 create_clientcert.go:52] Creating a client cert with: admin.CreateClientCertOptions{SignerCertOptions:(*admin.SignerCertOptions)(0xc2080fc240), CertFile:"/tmp/openshift-integration/openshift.local.config/master/openshift-registry.crt", KeyFile:"/tmp/openshift-integration/openshift.local.config/master/openshift-registry.key", User:"system:openshi

[2015-12-14 08:36] miminar commented on #6270
@kargakis OK, will do.

Closing in favor of #6065.

[2015-12-14 08:37] #6270 closed

[2015-12-14 09:28] alejandronb commented on #6239
Hi, I've been following this issue because I have the same problem with the same configuration but the last configuration doesn't fix the problem.
I don't use persistent storage and I use auto-generated certificates.

Heapster is running in openshift-infra project while the pods and hpa are running in a different project.

This is the the hpa:
# oc describe hpa frontend-scaler
Name:

[2015-12-14 09:46] thincal commented on #6284
It seems that the restrict the service to some host can be achieved by [configuring the scheduler](https://docs.openshift.org/latest/install_config/install/deploy_router.html#haproxy-router).

Is that true ? and is there some example for that? many thanks.

[2015-12-14 12:44] azywait commented on #6228
It works!!
Installation without using Ansible must be will carefully, you will easily miss some options.
Thanks for your help!!

[2015-12-14 12:44] #6228 closed

[2015-12-14 12:50] alejandronb opened #6293 "HPA fail to get cpu consumption and request"
Hi, I've been following the issue #6239 because I have the same problem with the same configuration but the last configuration doesn't fix the problem.
I don't use persistent storage and I use auto-generated certificates.

Heapster is running in openshift-infra project while the pods and hpa are running in a different project.

This is the the hpa:

<pre>
oc describe hpa frontend-scaler
Name:

[2015-12-14 13:32] deads2k commented on #6222
I think that's very likely.

I think there is some value you can use that will get auto-substituted to the internal registry.  @bparees @ncdc is there such a value?

[2015-12-14 13:36] ncdc commented on #6222
Only if you're in the default project where the registry is deployed (the
service env var).

You're better off using a DeploymentConfig with an ImageChangeTrigger, as
that will do the resolution for you.

On Monday, December 14, 2015, David Eads <notifications@github.com> wrote:

[2015-12-14 13:44] deads2k commented on #6144
Two connections are fine for sync.  I wouldn't worry about this further until we have an actual problem.

[2015-12-14 13:54] alejandronb commented on #6293
The graph appears inside the Metrics tab pod but the value of CPU graph is 0 milicores

[2015-12-14 13:58] deads2k commented on #6289
Now that we have markers and we have warnings, do we want to start colorizing or marking various parts of the status in yellow or something other indicator to make it clear that something is wrong with this resource?

@kargakis @jwforres @fabianofranz

[2015-12-14 14:04] kargakis commented on #6289
I think colorizing would be really helpful.

[2015-12-14 14:07] stevekuznetsov opened #6295 "`test-go` should recursively test all packages under the specifed package"
When I specify a package as an argument to `hack/test-go.sh` I want to test *all* packages under whatever root path I just gave.

@deads2k @liggitt @smarterclayton do you think this is reasonable and/or expected behavior? If so I'll implement it.

[2015-12-14 14:12] deads2k commented on #6295
I don't want this.  It would make it harder for me to test just the package that I'm interested in looking at.  I'm ok with some sort of `pkg/foo/*` format, but I don't want to unconditionally find all subpackages.

[2015-12-14 14:14] stevekuznetsov commented on #6295
Fair enough. Could we use some sort of `-r` or `RECURSIVE=true` syntax to allow people to express when they want this functionality?

[2015-12-14 14:16] deads2k commented on #6295
Could you pipe their argument to find and use that to support  the star syntax?

[2015-12-14 14:16] smarterclayton commented on #6295
The format for testing all things under a package in Go is `pkg/foo/...`

On Mon, Dec 14, 2015 at 9:12 AM, David Eads <notifications@github.com>
wrote:

[2015-12-14 14:17] stevekuznetsov commented on #6295
:+1: for `...`. That should be easy to do.

[2015-12-14 14:17] deads2k commented on #6295
I had no idea that was a thing.

[2015-12-14 14:19] #6280 closed

[2015-12-14 14:23] deads2k commented on #3775
@jwforres @fabianofranz Any advice on presentation?

[2015-12-14 14:24] danmcp commented on #6287
@jeremyeder Thoughts?

[2015-12-14 14:29] deads2k commented on #6276
I see `sync-groups` and `prune-groups`.  `openshift ex validate master-config` and `openshift ex validate node-config` would be good.  Do we want to claim `oadm validate *` for them?

[2015-12-14 14:30] deads2k commented on #6276
@stevekuznetsov the groups ones are pretty clear.  We already have `oadm groups` as a subcommand to drop them under.

[2015-12-14 15:01] smarterclayton commented on #6276
Other discussion point - moving everything in oadm into "oc cluster *"

On Mon, Dec 14, 2015 at 9:30 AM, David Eads <notifications@github.com>
wrote:

[2015-12-14 15:09] stevekuznetsov commented on #6276
@deads2k We are changing the naming, then, are we? From `verb-noun` to just `verb`?

[code]
??

[2015-12-14 15:10] deads2k commented on #6276
yeah, that makes sense.

[2015-12-14 15:10] deads2k commented on #6276
I like `oadm` better.  Why would we move it?

[2015-12-14 15:14] smarterclayton commented on #6276
oadm would be a symlink to oc admin or something so we could reduce to one
client binary.

On Mon, Dec 14, 2015 at 10:11 AM, David Eads <notifications@github.com>
wrote:

[2015-12-14 15:14] smarterclayton commented on #6289
No colors yet.

On Mon, Dec 14, 2015 at 9:04 AM, Michail Kargakis <notifications@github.com>
wrote:

[2015-12-14 15:18] liggitt commented on #6144
agree

[2015-12-14 15:25] DirectXMan12 commented on #6293
If the CPU appears at 0 millicores, that might indicate that heapster is having trouble connecting to the kubelet.  What do the logs on your heapster pod look like?

[2015-12-14 15:41] mfojtik opened #6299 "The "forcepull" extended test failure"
Just saw this failure in Jenkins:

https://ci.openshift.redhat.com/jenkins/job/origin_extended/409/testReport/junit/(root)/Extended%20Core/builds__forcepull__ForcePull_from_OpenShift_induced_builds__vs__s2i_command__ForcePull_test_context___ForcePull_test_case_execution/

[2015-12-14 15:51] bparees opened #6300 "new-app should output service env variable names"
when new-app creates a service, it should output information about how to reference the service (via dns name or the XXX_SERVICE_HOST env variables that are created automatically).

[2015-12-14 15:54] thincal commented on #6222
@ncdc actually I don't know what is the recommended way to push my local docker images to the openshift integrated registry, that I just manually run ```docker push``` but the image stream is always represented as <registry-ip>:5000.
Could you help detail more about using a DeploymentConfig/ImageChangeTrigger for my case ?

[2015-12-14 15:56] bparees commented on #5796
@eparis can someone from the networking team help out here?

[2015-12-14 15:56] stevekuznetsov opened #6301 "yum flakes on install of systemd on Jenkins"
As seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7789/console) and [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7787/console)

[code]

[2015-12-14 16:01] bparees commented on #6259
This is an image import problem (or just a dockerhub unavailability problem, but at the end of the day the failure is that the imagestream did not import despite being created, whatever the reason).   Routing to @pweil- to delegate.

[2015-12-14 16:04] alejandronb commented on #6293
These are logs of heapster pod:

<pre>
Starting Heapster with the following arguments: --source=kubernetes:https://kubernetes.default.svc:443?useServiceAccount=true&kubeletHttps=true&kubeletPort=10250 --sink=hawkular:https://hawkular-metrics:443?tenant=_system&labelToTenant=pod_namespace&caCert=/hawkular-cert/hawkular-metrics-ca.certificate&user=hawkular&pass=WtkAghp_vKDzNjz&filter=label(container

[2015-12-14 16:04] bparees commented on #6267
Pretty sure you can do this via a .gitconfig that you provide in your secret.

see "sslverify=false" as discussed here:
https://docs.openshift.org/latest/dev_guide/builds.html#other-authentication

[2015-12-14 16:26] DirectXMan12 commented on #6293
hmm...  can post the version of your heapster image?  Also, try removing the `--sink=hawkular:...` argument from the heapster rc, and see if that changes anything.

[2015-12-14 16:34] liggitt commented on #6266
we should warn in the following cases:

* route has no targetPort, service has multiple ports defined
* route has named targetPort, service has no port with that name
* route has numeric port, service has no port with that number as a targetPort

[2015-12-14 17:02] alejandronb commented on #6293
This is the version of my heapster image:
<pre>
docker.io/openshift/origin-metrics-heapster                 latest              ef2c651384be        3 weeks ago         318.6 MB
</pre>

I don't specity that argument in the file and the command. How can I remove the argument from heapster rc?

[2015-12-14 17:35] bparees commented on #6282
image reports:
`chown: changing ownership of `.': Operation not permitted`

I forget how empty dir is supposed to work..I though it was 777 but possibly root owned, which would still preclude chown operations, so this might be working as designed, but will let @pmorie and @markturansky weigh in.

[2015-12-14 17:40] bparees commented on #6222
Since you have an imagestream defined now, you just need to reference it from your DeploymentConfig, you can see an example here:

https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-stibuild.json#L202-L215

https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-stibuild.json#L234

[2015-12-14 17:40] fabianofranz commented on #6289
Meaning we don't want colors yet? There is https://github.com/openshift/origin/issues/4183 as a P2.

[2015-12-14 17:46] fabianofranz commented on #6289
@deads2k do we have an indication (an attribute or something) in the parent nodes that specify there are problems in lower nodes of the tree? For example, do I know in a service that it has dc's with failed deployments (without traversing the tree)?

[2015-12-14 17:48] deads2k commented on #6289
There are rollup objects in the `graphview` package, but we haven't used them to track state of lower level items yet.

[2015-12-14 17:49] markturansky commented on #6282
@bparees the security implementation and its details is @pmorie and @swagiaal's domain.

AFAICT, it looks like 777 is used when the emptyDir is created but kubelet running as root would own the dir.  I don't see any chown in emptyDir to change that.

[2015-12-14 17:53] fabianofranz commented on #3775
Use `....` and if it was used suggest `-v|--verbose` which would print the complete, redundant version?

[2015-12-14 17:53] smarterclayton commented on #6282
Is there a reason why I would want it to be owned by root?  I would assume
it would be owned by FSGroup at a minimum.  What problems occur if it's not
root owned?

On Mon, Dec 14, 2015 at 12:49 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-12-14 17:56] smarterclayton opened #6307 "Import of an image that is on HTTP but doesn't have insecure tries forever, doesn't write annotation"
[code]

Fails and loops forever in image import controller because the internal registry is on HTTP, not HTTPS.

[code]

There needs to be some understanding of this problem and an error provided to the import.

[2015-12-14 17:58] talset commented on #5796
I have the same issue often from a fresh install and also on a running plateform hosted on AWS.
I tried to restart openshift-node and snd :

[code]

But not working. I was thinking it maybe is related to the MTU, so I tried to decrease the MTU but the issue appear again.
I also saw a lot of incomplete ARP too.

The only way is to reboot my instances each time when it is appear.

If someone have an

[2015-12-14 18:01] smarterclayton commented on #3775
I don't know that suggesting is really that common.  If i have multiple DCs
pointing to the same thing, I'm going to see the previous data above.  Why
would I want to see the redundant data?

On Mon, Dec 14, 2015 at 12:53 PM, Fabiano Franz <notifications@github.com>
wrote:

[2015-12-14 18:04] deads2k commented on #3775
I like the locality of information over terse output.

[2015-12-14 18:06] smarterclayton commented on #3775
I don't.  The point of this output is to convey the important information
in minimal space.  Being redundant wastes space and reduces comprehension.
Any user who has this setup is already someone trying to do something
specific - forcing them to see the data presented each time is misleading
(it may convince them they aren't coupled)

On Mon, Dec 14, 2015 at 1:04 PM, David Eads <notifications@gith

[2015-12-14 18:09] fabianofranz commented on #3775
Another idea but I still prefer the ellipsis

[code]

[2015-12-14 18:11] DirectXMan12 commented on #6293
It might also be useful to increase the verbosity of heapster logging by adding the `--v=4` option to the heapster RC.

To edit the options used when running heapster, use:

[code]

You a section called "command" in the YAML that lists the commands to run, as well as the arguments to use.

[2015-12-14 18:15] smarterclayton commented on #3775
Yeah, I think that's worse than either.   If you had 5 of these it would be
a disaster.

On Mon, Dec 14, 2015 at 1:09 PM, Fabiano Franz <notifications@github.com>
wrote:

[2015-12-14 18:45] pmorie commented on #6282
@smarterclayton you're looking at the wrong dir -- that's the overall volumes dir for the pod -- what's inside that dir?

[2015-12-14 18:52] gabemontero commented on #6299
OK .. I could not find any additional logs from the ci.openshift, but I believe I was able to reproduce this locally.  The additional stdout should several instances of this occurring prior to the same looking exit statement:

Dec 14 13:42:52.642: INFO: Running 'oc create --namespace=extended-test-forcepull-dnl6s --config=/tmp/openshift-extended-tests/core/extended-test-forcepull-dnl6s-user.kubeco

[2015-12-14 18:56] smarterclayton commented on #6282
I don't know, try this locally and tell me why it fails :)

On Mon, Dec 14, 2015 at 1:45 PM, Paul Morie <notifications@github.com>
wrote:

[2015-12-14 19:21] bparees commented on #6299
definitely not related to centos.

``` Details: must provide a value for exactly one of sourceStrategy, customStrategy, or dockerStrategy```

is the crux of this issue, probably introduced by my changes to the the validation logic when i removed the "Type" field from the Strategy object.

the test's forcepull-setup.json is defining a BuildConfig w/ a Strategy of type "Docker" but does not provide

[2015-12-14 19:50] bparees commented on #6299
ok well the reason you're getting that particular validation error is because of:
https://github.com/openshift/origin/blob/master/pkg/build/api/v1/conversion.go#L181-L188

which initializes the DockerStrategy object by default when the Type is Docker.  That, plus the SourceStrategy object you're already providing results in 2 strategies being provided, which is what the error tells you.

unfortuna

[2015-12-14 20:02] gabemontero commented on #6299
ok - thx for the insight - I had interpreted those hex numbers as image id's and went to the centos issue, but in hindsight with your explanation, they must be pointers;

the json went through a couple of iterations / evolutions around conversion and pruning from the sample app it was originally based off of - some bits in the various conversions must have got turned around and the prior validatio

[2015-12-14 20:09] pweil- commented on #6284
@thincal - here is the documentation for the scheduler https://docs.openshift.org/latest/admin_guide/scheduler.html

By using the scheduler you can ensure that the router lands on a specific node so you can guarantee the ip address (since it uses host networking).

For exposing a registry via the router you can create a passthrough route that points to the registry's service.   In this case the ro

[2015-12-14 20:09] pweil- commented on #6284
pr to fix the broken link https://github.com/openshift/openshift-docs/pull/1334

[2015-12-14 20:10] #6284 closed

[2015-12-14 20:35] pweil- commented on #6290
The `EOF` usually indicates that the watch timed out.  It will be reestablished correctly.

The `401` responses indicate that the index being watched is outdated.  @ncdc @pmorie - have you seen this one before?  It's a warning so I'm assuming the watcher will perform a get then a watch for the latest index + 1 to recover.  Is it something that we need to look into more?

[2015-12-14 23:28] #6279 closed

[2015-12-15 00:27] kargakis opened #6312 "invalid resource name "build/ruby-sample-build-1": name may not contain "/""
[code]

I think this is because of [this](https://github.com/openshift/origin/blob/de31d758f4bbb8723847bb937df0dba5cc6e8d5e/pkg/cmd/cli/cmd/cancelbuild.go#L107). Build name can either be in the form of `<name>` or `build/<name>`. In the latter case, the GET above will fail.

[2015-12-15 01:16] thincal commented on #6284
Thanks for your info. I still have two questions:
1. Could you help show an example about how to deploy the router service to a specific host ? From the scheduler doc, I can understand the concept but don't know how to.

2. Router can only redirect the service through port 80/443, but registry service is exposing 5000 port, how to rout it via. the router ?

Many thanks for your kind help !

[2015-12-15 01:23] gravis commented on #5759
1.1.0 has been very stable regarding memory usage, I think we can leave this issue behind us now.
I suspect the issue was related to the glusterfs endpoints disappearing, and retry timeouts too shorts.
Let's close this and move on.
Thanks

[2015-12-15 01:50] cdrage opened #6314 "Issue running docker one-liner"
While runnning:
[code]
On a brand-new CentOS (or CoreOS or Debian) box with just Docker integrated, for some-odd reason I get this when going to:

vps-ip:8443

![image](http://i.imgur.com/JMZdTQ8.png)

Sorry if this has already been taken care of, quite hard to Google the rror when all you see is random  characters, haha

[2015-12-15 01:54] liggitt commented on #6314
Probably want to add https://

[2015-12-15 01:59] cdrage commented on #6314
@liggitt damnit, you're right :( I swear a version before hand of openshift had auto-forwarding from http to https.

many thanks! :)

[2015-12-15 01:59] #6314 closed

[2015-12-15 02:19] thincal commented on #6283
And since the registry service's IP could be changed, so if referring the IP in the imagestream, is that good ?

for example:
[code]

why not:
[code]

[2015-12-15 03:02] #6265 closed

[2015-12-15 03:09] thincal commented on #6222
@bparees I am trying to reference the imagestream directly following bellow steps.

The ```oc get is``` shows:
[code]

then I am creating the pod firstly by using a hello-pod.json file as bellow:
[code]

after run ```oc create -f hello-pod.json```, the openshift event shows:
[code]

but if I change the image reference as:
[code]
it will be working.

So questions still:

1. what is the correct way

[2015-12-15 04:01] #6281 closed

[2015-12-15 04:34] #5759 closed

[2015-12-15 08:13] alejandronb commented on #6293
I've run the following commands like you said to me:
<pre>
$ oc scale rc heapster --replicas=0
replicationcontroller "heapster" scaled
$ oc edit rc heapster
replicationcontrollers/heapster
</pre>

I've removed the option:
<pre>
--sink=hawkular:https://hawkular-metrics:443?tenant=_system&labelToTenant=pod_namespace&caCert=/hawkular-cert/hawkular-metrics-ca.certificate&user=%username%&pass=%password

[2015-12-15 09:36] kargakis opened #6316 "Increase test coverage in the cli"
We should have unit tests for the [cli](https://github.com/openshift/origin/tree/master/pkg/cmd/cli/cmd) that would use fake clients and cover every possbile path. Bugs like https://github.com/openshift/origin/issues/6312 would have been found much sooner.

[2015-12-15 09:46] mfojtik commented on #6316
+1

[2015-12-15 09:51] mfojtik commented on #6301
I think this will fix it: https://github.com/openshift/origin/commit/429eddc8ce910ea28cf9a2601261da7892dafd12

@sdodson can confirm

[2015-12-15 09:54] thincal opened #6318 "[cluster metrics] hawkular-metrics container will always exit after running several seconds."
I am following the steps from [metrics deployer] (https://docs.openshift.org/latest/install_config/cluster_metrics.html#metrics-deployer), the heapster and hawkular-metrics can be successfully pulled from integrated registry, but origin-metrics-cassandra image pulling failed.

There are some additional information:

- image prefix assigned in ```metrics.yaml``` as bellow

[code]

- required image

[2015-12-15 13:05] #6312 closed

[2015-12-15 13:33] stevekuznetsov opened #6321 "Jenkins flake on build - source to image not a git repo"
Seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7834/console):
[code]

[2015-12-15 13:57] ncdc commented on #6290
I've seen it before. I've never really looked into it. @smarterclayton should be able to say if this is safe to ignore.

[2015-12-15 13:58] pweil- commented on #6284
This can be accomplished in a number of different ways.  One of the common ways is to label your nodes and use a selector in the scheduler.  For example, you can use the `oc label` command to add annotations to your nodes and then update a namespace's `node-selector` annotation so that all pods for the namespace go to a specific node.

Here is a more detailed walk through that sets up a primary an

[2015-12-15 14:11] jayunit100 opened #6322 "Vagrantfile : bugs in vbox impl."
When just attempting to use the default vbox vagrant setup it complains if openstack env vars are unset with some failures in the ruby syntax checker.

[code]

Should be an easy fix maybe i can issue a pr tonite if nobody beats me to it.

Are people actively using this Vagrantfile for dev/test ?  I'm going head first into using it now . It appears to be a nice way to bootstrap a dev environment.

[2015-12-15 14:31] fbricon commented on #6143
Can we bump the priority for that item? It's required for our JBoss Tools integration.

[2015-12-15 14:36] sdodson commented on #6301
Yeah this is fixed. @stevekuznetsov can you close this, I can't.

[2015-12-15 14:36] sdodson commented on #6301
Fixed by #6306

[2015-12-15 14:39] maxandersen commented on #6143
We really need this to get more fine grained control over the copying and deletion - otherwise command line tools nor IDE tooling cannot reliably nor efficiently keep the local and remote systems in sync.

[2015-12-15 14:46] csrwng commented on #6143
I will work on putting together a PR for this today

[2015-12-15 14:56] jayunit100 commented on #6322
In addition to the above, im finding a more serious error:

[code]

[2015-12-15 15:04] jayunit100 commented on #6322
possibly  related https://forums.docker.com/t/yum-update-fails-for-centos-7-container/5060

[2015-12-15 15:09] arilivigni commented on #6322
We mainly use this with AWS and AMIs that are present in our AWS VPC.  Things work there just fine.

[2015-12-15 15:24] #6301 closed

[2015-12-15 15:33] #6299 closed

[2015-12-15 15:41] stevekuznetsov opened #6325 "call stack in bash is hard to look at and overwhelming"
For instance, with a typo for `hack/build-go.sh` I get:
[code]

There's so many lines of poorly formatted output it is difficult for my mind to parse what is going on and what happened. The call stack doesn't actually serve its purpose of being useful here.

@smarterclayton we need to rethink that feature

[2015-12-15 15:45] jayunit100 commented on #6322
Since VBox isnt really a target deployment for openshift + it may not be working ...  maybe we should deprecate VBox support, if its not being used or its not officially tested/supported.    Of course we can leave the issue open to see if anyone is using the default setup.

[2015-12-15 15:47] DirectXMan12 commented on #6293
Ah, no, you have to add `--v=4` where you removed the `--sink=hawkular` option (options on the oc scale command won't affect the container command line).  It may also take a couple minutes for metrics to populate.

[2015-12-15 16:15] danmcp commented on #6322
@jayunit100 VBox is fairly heavily used.  I am not sure about the openstack error you first reported yet.  Are you just running vagrant up?  I just did so and it seems to work fine.

Re the transaction error.  That was an issue that showed up yesterday.  We might need to rebuild the images to fix.  I am checking now.

[2015-12-15 16:17] jayunit100 commented on #6322
hi @danmcp ... i ran `vagrant up`  that seemed to mostly be a no-op - it doesnt do much other than spin up a VM.  The problem happens when you run `vagrant sync-origin`.  I think `vagrant sync-origin` is the "real" step that actually sets up openshift, right?

[2015-12-15 16:22] danmcp commented on #6322
@jayunit100 sync-origin would be to update the instance with the same code you have locally.  You probably don't need to run it though.  Most people would just run make locally (it's faster than on the VM but you can also run from the VM) to build and then start origin on the VM.

I am going to go ahead and rebuild the images now regardless.

[2015-12-15 16:36] danmcp commented on #6322
@jayunit100 To add a little more detail.  If you are using vbox I would expect you have the source mounted in.  Which means you can do as I was describing and build locally still.  If you are using vbox you don't really need vagrant-openshift even.  You should be able to get by with this setup:

https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagr

[2015-12-15 16:37] jayunit100 commented on #6322
`vagrant up`  doesnt really do much, does it?

[code]

[2015-12-15 16:44] mwringe commented on #6318
How are you setting up your image streams?

@danmcp This really doesn't look like an issue with the metric components but an issue with using the integrated secured docker registry. Could it be possible to assign to someone who know more about how the integrated registry works?

[2015-12-15 16:50] jayunit100 commented on #6322
Some more thoughts, im learning as i go.  I hope im not creating too much noise ... but maybe this will help others or i can clean it up into a pull request later.

- the `contrib/vagrant/provision-minimal.sh` is what happens if you use local vms.
- appears not to start open shift or any other processes i think
- vagrant disables shared folders by default, so i dont think the source is even availa

[2015-12-15 16:53] jayunit100 commented on #6322
Ahh i just saw your above comment re "you dont need the plugin". ok , ill try that out also

[2015-12-15 17:16] alejandronb commented on #6293
These are some interesting logs:

---------------------
2-a2ff-11e5-b049-fa163e2ef128 787043 0 2015-12-15 07:46:08 +0000 UTC 2015-12-15 18:56:56 +0000 UTC <nil> map[] map[]} {HorizontalPodAutoscaler gmv frontend-scaler d5d228dc-a2ff-11e5-b049-fa163e2ef128 extensions 768059 } FailedGetMetrics failed to get CPU consumption and request: metrics obtained for 0/1 of pods {horizontal-pod-autoscaler } 20

[2015-12-15 17:47] rhcarvalho commented on #6295
Certainly shouldn't be recursive by default. The `...` syntax would be fine :+1:

[2015-12-15 18:07] danmcp commented on #6322
@jayunit100 By default it would mount in your GOPATH if you have one set.  It looks like it did:

openshiftdev: /data/src => /Users/jayunit100/Development/gopath/src

[2015-12-15 18:28] DirectXMan12 commented on #6293
In the future, can you please place logs in a fenced code block?  You can do this by placing three backticks (\`\`\`) before and after the block of logs.

[2015-12-15 18:30] wfrank2509 opened #6326 "openshift start -> determining wrong IP addresses"
Hello everybody,
I am using a clean CentOS 7.1 and all openshift install prerequisites are meet. I get connectivity problems using the Docker and Binary installation.

First I noticed that when I launch openshift the wrong IP address for master is determined. I need to provide a SCOPE peer <GATEWAY> in my network eth0 settings for the hosting provider (Hetzner). Actually openshift uses the Gateway

[2015-12-15 18:31] #6295 closed

[2015-12-15 18:49] smarterclayton commented on #6325
I've got 99 problems but this ain't one :)

On Tue, Dec 15, 2015 at 11:23 AM, Dan McPherson <notifications@github.com>
wrote:

[2015-12-15 18:50] smarterclayton commented on #6290
What version is this on?

[2015-12-15 20:09] smarterclayton commented on #6196
I'm thinking about some of this now, will respond later.

[2015-12-15 21:04] deads2k commented on #6326
It's chosen here: https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/proxy/userspace/proxier.go#L144, called from here https://github.com/openshift/origin/blob/master/pkg/cmd/server/kubernetes/node.go#L220 and it ends up here: https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/util/util.go#L462.

The upstream code is

[2015-12-15 21:12] deads2k commented on #6326
hmm... Actually I'm not sure if its the `hostIP` or the `listenIP` that ends up as the target of the rule.  If its the the `listenIP`, you can probably set it by tweaking your `node-config.yaml`

[2015-12-15 21:13] #6272 closed

[2015-12-15 21:53] jayunit100 commented on #6322
Are we open to automating the steps in https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant as part of this, or another vagrantfile?

[2015-12-15 21:59] jwforres commented on #5952
Your second screenshot is actually making me wonder if we should have a legend in the openshift console. But thats a separate issue :)

[2015-12-15 22:02] danmcp commented on #6322
@jayunit100 The steps will vary a lot per personal preferences.  We can perhaps make chunks of it easier.  But probably not the whole thing.

[2015-12-15 22:24] arrawatia opened #6331 "GlusterFS volume error : glusterfs: failed to get endpoints"
I followed the instructions from [1] and [2] to setup Gluster FS PV but when I try to use the PVC in a pod it fails.

The error in node logs is :

[code]

But the "glusterfs-dev" service and endpoint exists in the "default" namespace:

[code]

It looks like the glusterfs plugin looks for the endpoint in the pod namespace [3] rather that the "default" namespace as documented.

I tried creating the

[2015-12-15 23:47] thincal commented on #6284
@pweil- many thanks!

[2015-12-15 23:59] thincal commented on #6318
@mwringe these image streams are setup like this:
[code]

during deploying the metrics components, the heapster and hawkular-metrics can be pulled correctly, but metrics-cassandra can't.

[2015-12-16 00:06] bparees commented on #6222
pods only take full docker pull specs for the image path.  they do not understand imagestreams, so there is no "correct" way to reference an imagestream from a pod.

if registry.example.com resolves to your docker registry route, yes you can probably do that (not 100% certain if the credentials will work correctly to allow the pull)

if you want to reference an image via an imagestream, you need t

[2015-12-16 00:20] pstinghua commented on #6290
oc v1.1.0.1
kubernetes v1.1.0-origin-1107-g4c8e6f4

[2015-12-16 00:25] liggitt commented on #6222
The generated credentials for pods to pull from the internal registry won't work with anything other than the registry service IP today

[2015-12-16 00:31] thincal commented on #6284
@pweil- it seems that can edit the node-selector of a namespace, is that possible to let one specific pod be scheduled to infra region ?

[2015-12-16 00:42] thincal commented on #6222
ok, the raw pod might be not a best practice, but I need it be working anyway :)

@bparees the example you cited shows
[code]
here the image is not with a full path, so where will be pulled from ?

[2015-12-16 00:50] liggitt commented on #6222
I think it will behave the same as `docker pull origin-ruby-sample` performed on the node.

[2015-12-16 01:07] deads2k opened #6332 "oc status doesn't show me the context directory for build"
`oc status` doesn't show me the context directory for build, only the repo URL.

[2015-12-16 01:26] thincal commented on #6222
Got it, so that example only shows how to react with the image stream change by the trigger, about how to creat the pod firstly it is still using the public registry

[2015-12-16 02:40] bparees commented on #6222
No pod will be created with that field value due to the existence of the
image change trigger.  It will be substituted from the value pointed to by
the image stream in the change trigger as part of the deployment process.

Ben Parees | OpenShift
On Dec 15, 2015 8:26 PM, "LS" <notifications@github.com> wrote:

[2015-12-16 04:24] thincal commented on #6222
@bparees thanks for your explanation, but what's the ```spec.containers.image``` field used for ?

[2015-12-16 06:15] iamkdev opened #6334 "no-reply@rhcloud.com sending empty email 2 per min #bug"
Please check whats wrong. I am getting empty emails from "no-reply@rhcloud.com" twice per min.

[2015-12-16 06:25] stefwalter commented on #5952
Yes, the other users of the topology view have a legend that's visible when no node is selected. In openshift web console there is explanation on the left but missing the icons to turn it into a legend.

[2015-12-16 07:19] thincal commented on #6318
The error is changed now, the cassandra image is pulled successfully, very strange.

But there is the error inside the metric-heapster container:
[code]

I don't know why it is trying to connect ```https://hawkular-metrics:443/hawkular/metrics/metrics?type=gauge```, is there some place to configure this ?

[2015-12-16 07:31] thincal commented on #6318
and, after run ```oc get pod heapster-wprof -o yaml```, it shows
[code]

it seems that ```- --sink=hawkular:https://hawkular-metrics:443``` is also assigned...
Need I configure some other parameters when deploying the metrics ?

[2015-12-16 07:35] alejandronb commented on #6293
Sorry, I use the label "pre" and I thought it is worse but I know it now.

[2015-12-16 09:45] wfrank2509 commented on #6326
Thank you. Yes it looks like a kubernetes related issue with specific network setups. I will try to address the issue in the upstream project and take a further look how to resolve the issue by myself if possible.

[2015-12-16 11:05] maxandersen commented on #6143
I'm wondering if we should expose both include and exclude options ? then a tool or user can dependent on his project needs choose if easier for him to use either or ?

[2015-12-16 11:32] adietish commented on #6143
I'd argue that non-trivial sync usecases require a combination of inclusion and exclusion patterns. We should thus strive for both

[2015-12-16 12:46] kargakis commented on #6266
We already do this. On the rest.

[2015-12-16 13:34] mfojtik commented on #4518
@bparees is this fixed now?

[2015-12-16 13:37] jwforres opened #6336 "Console logs have poor contrast when displayed with a projector"
Reported by @thoraxe, "noticed that the current contrast / color scheme for the logs in the web console can make it extremely difficult to view on a projector"  at the time this was reported the colors were #a7b0b9 on #333

[2015-12-16 13:37] mfojtik commented on #6334
@iamkdev can you tell us more details? Do you run openshift v3 or this is openshift v2?

[2015-12-16 13:51] pweil- commented on #6284
@thincal by changing the namespace's `node-selector` you would be indicating that anything in the namespace should go to that node.  For an infra namespace (like where you'd deploy the router and registry) this is appropriate.

For more fine grained control you can use the `MatchNodeSelector` predicate in the scheduler, labels on your nodes, and set the `nodeSelector` on the pod spec.

https://doc

[2015-12-16 13:59] kargakis opened #6337 "Clients shouldn't mutate DC status"
`oc deploy` currently bumps the dc version (dc.Status.LatestVersion) to trigger a deployment. LatestVersion, being a part of the Status of the DeploymentConfig, shouldn't be mutated by clients.

Ref https://github.com/openshift/origin/pull/6246#discussion_r47776522

cc: @ironcladlou @smarterclayton @deads2k

[2015-12-16 14:03] deads2k commented on #6337
Since that comment may disappear:

It seems like we'd want to restructure this so that a client requests a redepoyment in the spec and a controller creates one.

@openshift/api-review This is a pre-existing problem and would be an API change that has consequences for backwards compatibility, but this decision here means that we can't trust this `Status` object to be accurate until we stop users fr

[2015-12-16 14:12] csrwng commented on #6143
The approach that I'm taking is the one mentioned here #6115 - basically we'll allow you to pass a set of white-listed flags to the rsync command. I started working on this yesterday and hopefully will have a PR shortly.

[2015-12-16 14:20] ironcladlou commented on #6337
This is another case where we mistakenly added logic to the client which should live on the server. I believe it was discussed long ago, but there should be some sort of endpoint (sub resource?) to instantiate a new deployment.

[2015-12-16 14:34] liggitt opened #6339 "Flake in test/cmd/builds.sh: oc cancel-build build/ruby-sample-build-1"
seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7860 run from https://github.com/openshift/origin/pull/6330:
[code]

[2015-12-16 14:36] jayunit100 commented on #6322
Ok.  im closing .  I created too much noise in this issue i think.  Thanks dan , i think i know most of what i need.
I think I will create a new issue for the automation of the developer tooling .

[2015-12-16 14:36] #6322 closed

[2015-12-16 14:37] mwringe commented on #6318
The 'hawkular-metrics' hostname is resolved using the OpenShift DNS server. Which appears to have failed when OpenShift started.

You need to properly start OpenShift for the metrics components to work, and unfortunately the only indication that OpenShift failed is a single line in the logs :/

Please see https://github.com/mwringe/origin-metrics/blob/update-docs/docs/troubleshooting.adoc (which s

[2015-12-16 14:44] jayunit100 opened #6340 "Automate CONTRIBUTING vagrant steps and decouple cloud vs local-dev"
Openshift dev tooling is pretty nice, Im going to propose a minor simplification.  Most of the bits are there, but there might be some redundancys.

i suggest.
- Move the top level vagrantfile to a `vagrant/cloud` directory,  specific to cloud deployment (ec2/openstack), and  comment it as such.
- We Make a 2nd vagrantfile for local development which handles the local steps, and put it in some obv

[2015-12-16 14:52] liggitt commented on #6337
at the very least, there should be split spec/status versions, so someone (a client, controller, etc) can indicate the desire for a new deployment, and something else (the deployment controller) can tell whether that was fulfilled or not. I could see a subresource that just bumps the spec.version as well

[2015-12-16 14:55] bparees commented on #6222
mostly it'll be ignored, here's an explanation of the process from @ironcladlou, @ironcladlou if this is documented somewhere at this point can you point to the official docs?
[code]

So pretty much when you have an ICT and a ConfigChangeTrigger and the ICT is set to automatic, the "image" field gets overwritten by whatever the ICT points to, each time a deployment occurs.

If you don't have all t

[2015-12-16 15:01] spadgett opened #6342 "Service link on route page doesn't link to service"
This link is wrong. It links back to the route you're already looking at.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/11844275/df3f8702-a3db-11e5-8fc2-12d0e8a3dbe2.png)

@jwforres Please assign to me. I'm working in this code already.

[2015-12-16 15:12] kargakis opened #6344 "Replace fixed sleep with polling when attaching to a deployment"
https://github.com/openshift/origin/blob/0d4de0b1801e8c58a28c8bcd9d12b5d0c46de1cb/pkg/cmd/util/clientcmd/factory.go#L327 uses a fixed sleep. We should switch to a (configurable?) interval and poll.

@deads2k @fabianofranz

[2015-12-16 15:26] jwforres commented on #6342
@spadgett also looks like a duplicate of https://bugzilla.redhat.com/show_bug.cgi?id=1291559

[2015-12-16 15:44] iamkdev commented on #6334
I guess it is v2 ( early adopters ). I am using openshift online free plane....
This is one of the app ....blog-iamkdev.rhcloud.com.
I think some issue there that's why it sending continuously...

[2015-12-16 15:50] danmcp commented on #6340
@jayunit100 2 initial thoughts:

1) The current vagrantfile isn't really targeted at a cloud user (and the cloud user cases also largely fit into the local user use cases).  It's sort of the LCD between three groups:
  a) Someone getting started using OpenShift
  b) Generic starting point for running tests or demos
  c) Longer term development
2) I would be really worried about getting someone to

[2015-12-16 16:13] thincal commented on #6222
@bparees thanks for your excellent explanation :)

[2015-12-16 16:14] jeremyeder commented on #6287
Depends what the pods are doing.  If one pod can saturate your physical resources, then all you can run is one pod.  If the pods are just sitting there running 'sleep', then you can obviously get a lot higher.  We've got tests running with active storage and network I/O in the 100-200 pods per node range, with good results.  Kube and OpenShift both default to 40 pods as a maximum because some of t

[2015-12-16 16:17] fabianofranz commented on #6344
Yes. Maybe something like `wait.PollImmediate` and/or a piece in [pkg/client/unversioned/conditions.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/conditions.go). Replication controllers use something similar upstream, should also be fixed.

[2015-12-16 16:30] jayunit100 commented on #6340
(b) and (c) are the most important i think since openshift.com is there for (a).

I think I might be overthinking it.  lets keep working with the existing Vagrantfile.
I have a PR on the way so that VBox deploys everything from zero, it also patches an issue that pops up w/ openstack plugin.

[2015-12-16 16:30] bparees commented on #4518
@mfojtik nope.  you can see my original attempt at fixing it which got shot down:  https://github.com/openshift/origin/pull/5814

[2015-12-16 16:34] spadgett commented on #6162
@jwforres I'm working on warnings for routes already for problems with target ports. I can add TLS warnings as well.

[2015-12-16 16:40] thincal commented on #6284
@pweil- thanks for your reply.

Sorry that I want to confirm with you about the detailed steps.

1. set the ```nodeSelector``` on the pod spec

the [doc] (https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/user-guide/node-selection/README.md) tells very clearly that it could be done like this
[code]
also the label ```disktype: ssd``` should be assigned to one node firstly...

2.  then

[2015-12-16 16:40] paralin commented on #4518
it's a pretty big problem still...

[2015-12-16 16:47] pweil- commented on #6284
The default scheduler configuration should be using the `MatchNodeSelector` already so you should just be able to label your nodes and set the appropriate values on your pod and have it work.

[2015-12-16 17:00] thincal commented on #6283
@soltysh so is this by design ?

[2015-12-16 17:24] thincal commented on #6318
@mwringe thanks for your useful info, I will check the status of openshift DNS.

And, about the ```MASTER_URL``` in metrics.yaml, my master is running at the master1.example.com host, so what should be assigned to ```MASTER_URL```?
or just keep using ```https://kubernetes.default.svc:443``` ?

[2015-12-16 17:26] #6229 closed

[2015-12-16 17:29] thincal commented on #6222
since this could be solved by using the ICT or using the ip in pull spec, it will be closed now. Thanks all for your help.

[2015-12-16 17:29] #6222 closed

[2015-12-16 17:40] kargakis commented on #5529
https://github.com/kubernetes/kubernetes/pull/17099 started testing PodExecOptions and PodAttachOptions. Seems like they where failing due to misplaced defaulting. We can probably enable testing them after the rebase.

[2015-12-16 17:44] rhcarvalho opened #6345 "oc new-app doesn't work with custom branch"
The help gives an example:

[code]

But it doesn't work:

[code]

And blindly following the advice of "--allow-missing-images" leads to even more confusion:

[code]

[2015-12-16 17:44] rhcarvalho commented on #6345
cc @php-coder

[2015-12-16 17:47] php-coder commented on #6345
Should work if you explicitly specify the builder, like this:
[code]

[2015-12-16 17:49] bparees commented on #4518
@Mangirdaz @paralin I think you guys are hitting something else.  I described the cause and workaround for this here: https://github.com/openshift/origin/issues/4518#issuecomment-140460107.

If you are having other authentication issues, please open a separate issue so we can prioritize it appropriately.  You should definitely not have to go through all the steps @paralin listed to address the pro

[2015-12-16 18:08] spadgett opened #6346 "Tooltips with dynamic content stop working when content changes"
Hovering over the target no longer shows the tooltip once the content changes.

@jwforres

[2015-12-16 18:21] smarterclayton commented on #6345
Is definitely a bug.

[2015-12-16 18:22] smarterclayton commented on #6339
I thought we had a known flake here @bparees on cancelling builds too fast.

[2015-12-16 18:23] smarterclayton commented on #6332
I don't think I care?  Context dir is for describe usually.

[2015-12-16 18:24] mwringe commented on #6318
You should be able to keep using the default of `https://kubernetes.default.svc:443`. That is the internal master url which should be available to all components running in the cluster. The other example.com one would be the external or public master url which is used for things external to your cluster.

Note: there is a situation where you may have to override and specify a MASTER_URL, and that

[2015-12-16 18:25] smarterclayton commented on #6331
The instructions are wrong - you need to create a service.  See https://github.com/openshift/origin/pull/6167

[2015-12-16 18:26] smarterclayton commented on #6331
Docs will be created with https://github.com/openshift/openshift-docs/issues/1356

[2015-12-16 18:28] smarterclayton commented on #6331
Oops, missed that you had the service :)  Regarding the mismatch, agree that is ugly.

[2015-12-16 18:28] smarterclayton commented on #6331
@rootfs how do we fix this so end users can easily have gluster that the whole cluster can use?

[2015-12-16 18:30] rhcarvalho opened #6347 "oc new-app <repo> --strategy=docker constructs bad app"
tl;dr: `new-app` should not come up with a builder image for the app and reference it in the build config strategy when strategy=docker.
---

Use case: I have a Dockerfile in my source repository and want to setup a build that will simply build that Dockerfile.

"Go-to" solution:

[code]

Problem: `new-app` sets up a BuildConfig that will replace the FROM line in my Dockerfile with a builder image

[2015-12-16 18:30] rhcarvalho commented on #6347
cc @php-coder

[2015-12-16 18:32] smarterclayton opened #6348 "Users should be aware that images that try to run as root might not work"
We need to display something informationally to end users in new-app and status that indicates that images that specify no user (USER unset) will run as root, and may not run if the administrator has a security issue.  In addition, crash looped pods should also indicate a set of common problems (or troubleshooting)

[2015-12-16 18:33] smarterclayton commented on #6348
Best option would be oc new-app spits out a message in the describe section about USER being empty.

[2015-12-16 18:33] smarterclayton commented on #6348
Warning could be "Image X expects to run as root, but your admin may not have granted permission to run as root".

[2015-12-16 18:37] roldancer commented on #6287
Hi @jeremyeder I'm asking this because we are experiencing some deadlock in the Docker daemon, where the nodes's pod limit is 100, so we think there are some performance limitations not well documented, we see lot of REST requests to Docker from Kubenetes node.

[2015-12-16 18:42] bparees commented on #6339
doesn't ring a bell, and the above code is retrying for 60s, so it seems like the build never got created or got created and immediately failed, making it non-cancellable.

oc cancel-build should probably dump the current state of the build as part of the error message, that would tell us more about why cancel is failing.

[2015-12-16 18:50] smarterclayton commented on #6339
The error message is also scarier than it should be.

On Wed, Dec 16, 2015 at 1:47 PM, Ben Parees <notifications@github.com>
wrote:

[2015-12-16 18:52] smarterclayton commented on #6337
We should be using generation for this - like RC.  There should be one in
status and one in spec.  updating spec is the minimal trigger to force a
new deployment of the same thing.

On Wed, Dec 16, 2015 at 9:52 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-12-16 18:57] bparees commented on #6339
how so?

[2015-12-16 19:05] smarterclayton commented on #6339
"A build can be cancelled only if it has new/pending/running status." ->
"Build %s is complete and cannot be cancelled". Also, I'm not sure that's
an error - that a no-op (like deleting something that doesn't exist).

On Wed, Dec 16, 2015 at 2:03 PM, Ben Parees <notifications@github.com>
wrote:

[2015-12-16 19:08] jeremyeder commented on #6287
@roldancer ah ok.  Do you have any more information about that ?  Yes, the REST docker/kube is what I was referring to. Though we really haven't seen the issue @ 100 pods.  What kind of hardware do you have and what version of Origin are you running? And how many nodes?

[2015-12-16 19:11] pweil- opened #6350 "Registry reporting for disk space"
When the registry runs out of disk space it does not report nicely to end users.  This can manifest itself as errors for individual layers being saved as seen by @ebalsumgo.

[2015-12-16 19:56] deads2k commented on #6332
One repo with two dockerbuilds, one for a base image, the other applying configuration on that base image, results in `oc status` looking crazy because it says that two buildconfigs are building the same thing.

[2015-12-16 20:21] smarterclayton commented on #6332
That line is already so long.  I guess a subline heading isn't terrible,
but again I question how common context dir is.  It's probably only
relevant when you build the same repo twice with a different context  dir -
that happens like never.  Knowing that there *is* a context dir might be ok.

On Wed, Dec 16, 2015 at 3:14 PM, David Eads <notifications@github.com>
wrote:

[2015-12-16 20:23] rootfs commented on #6331
@smarterclayton
Ideally glusterfs volume spec should embed the endpoint instead of referring to external endpoints. This is how ceph rbd volume spec does too.
To make it backward compatible, the embeded endpoint will be optionally but if supplied, it overwrites the external endpoint. If this doesn't sound too bad, I'll make an upstream PR.

[2015-12-16 20:39] HometownRocker commented on #5308
Is this statement accurate?

** The release archives for Linux and Mac OS X contain the server binary openshift which is an all-in-one OpenShift installation.  **

The statement is in the second paragraph of Method 2 (Downloading the Binary) located at https://docs.openshift.org/latest/getting_started/administrators.html

[2015-12-16 21:24] liggitt commented on #6339
was a race condition... if the cancellation was acted on quickly enough, the message would change to "must be in pending/running state"

[2015-12-16 21:36] jwforres commented on #4536
tracking the different kinds of timeouts separately, we have a more specific issue for webdriver timeout https://github.com/openshift/origin/issues/6053

[2015-12-16 21:36] #4536 closed

[2015-12-16 21:38] jwforres commented on #5881
Next time someone sees this flake, please see if there are any screenshots available in the artifacts on the jenkins job.

[2015-12-16 21:49] smarterclayton commented on #5308
Actually, this has changed now that the zips have been updated.  We only
build the server binaries for linux now, but the client tools zips are for
each platform.

On Wed, Dec 16, 2015 at 4:00 PM, HometownRocker <notifications@github.com>
wrote:

[2015-12-16 21:49] smarterclayton commented on #6331
Sounds fine to me.

On Wed, Dec 16, 2015 at 3:47 PM, Huamin Chen <notifications@github.com>
wrote:

[2015-12-16 23:19] eparis commented on #5796
@danwinship Can you take a look here?

[2015-12-16 23:23] #6342 closed

[2015-12-17 01:04] #6339 closed

[2015-12-17 01:28] deads2k opened #6355 "Is openshift-master dns required for pull source for build?"
I didn't have the master's dns working and my builds were constantly failing immediately on:
[code]
I enable DNS and then I'm able to clone source.  Is this a known limitation?

Also, `oc start-build --follow bc/mythtv-backend-base --build-loglevel=8` doesn't say what its doing before that failure line.  That probably ought to be fixed.

@bparees @csrwng

[2015-12-17 01:51] deads2k opened #6356 "oc status formatting weird and unhelpful"
[code]

Why can't it push an image and how do I fix it.  This is annoying.

[2015-12-17 01:57] deads2k opened #6357 "oc status doesn't tell me the "to" or "from" image streams"
Without this information, its annoying to try to figure out why it thinks a link is missing.

[code]

[2015-12-17 02:52] bparees commented on #6355
builds run in pods just like anything else, so they get whatever resolv.conf is being injected into any other pod.  if it's not valid, it's going to break builds just like it would break any other code that needs to resolve a hostname.

and you should see this output in current builds:
`glog.V(4).Infof("git ls-remote %s --heads", url)`
https://github.com/openshift/origin/blob/master/pkg/build/buil

[2015-12-17 03:32] thincal commented on #6318
@mwringe after using the MASTER_URL as ```https://kubernetes.default.svc:443``` error happened as bellow. if using the ```https://master1.example.com:8443``` at lease the ```metrics-deployer``` pod can running normally.

the ```metrics-deployer-54e8j``` pod reports error:
[code]
checking the OpenShift DNS status (master hostname: master1.example.com, IP: 192.168.0.141)
[code]
then checking the Ope

[2015-12-17 03:41] thincal commented on #6318
more info:

after inspect the container of the ```metrics-deployer-54e8j``` pod:
[code]
```192.168.0.48``` is my DNS server configured.

[2015-12-17 05:02] bparees commented on #6173
[code]

https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4374/console

[2015-12-17 05:10] bparees commented on #6345
yeah it's clearly gone down the wrong path and is thinking the argument is an image name rather than a git repo.

[2015-12-17 05:11] bparees commented on #6345
since I assume this is a regression, marking p1.

[2015-12-17 05:15] bparees commented on #6334
what is the content of the emails?

[2015-12-17 05:16] bparees commented on #6334
(this issue should really be opened as a bugzilla bug against v2, the origin repo is for v3, not v2 issues)

[2015-12-17 06:16] thincal commented on #6318
Now I am using the ```https://master1.example.com:8443``` as the MASTER_URL, then the errors happened inside the ```hawkular-metrics-669ni``` pod as bellow
[code]

then I check the OpenShift DNS by this way
[code]
[code]

[code]
[code]

so this should indicate that the ```hawkular-cassandra``` entry is not added into the OpenShift DNS server, right ?

[2015-12-17 12:08] soltysh commented on #6283
Unfortunately for now it is, but I'm going to work on it. I can't promise
when, though,   but I'll try as soon as possible.
On Dec 16, 2015 6:00 PM, "LS" <notifications@github.com> wrote:

[2015-12-17 13:12] deads2k commented on #6355
Something must have come changed in resolv.conf when I upgrade.  I'll have a look later.

I'll try using the newer builder image with an older master to get the new logging.

[2015-12-17 13:12] #6355 closed

[2015-12-17 13:19] prvak opened #6361 "Token starting with dash causes problems"
Is there any particular reason why the token contains other than alphanumeric characters? Namely the dash "-". This can lead to hard to reproduce issues when the token is used as a parameter for some script and the dash appears at the beginning of the token.

[code]

Would it be possible to generate tokens using only alphanumeric characters?

[2015-12-17 13:20] php-coder commented on #5797
Fixed by PR #5801

[2015-12-17 13:20] #5797 closed

[2015-12-17 13:25] mfojtik commented on #6361
@prvak can't you just quote the token string?

[2015-12-17 13:31] deads2k commented on #6361
@liggitt I thought that we our tokens were base64, which I thought only had `+/=` as special characters.

[2015-12-17 13:42] prvak commented on #6361
Well... just quoting the token does not help. There are other solutions (eg. using `-arg=token` instead of `-arg token`). But the way how to correctly pass an argument starting with '-' depends on the argument parser used in the script. Problem is that every developer has to know and think about it when he writes/uses the script and when he forgets it may still work for months before the problemat

[2015-12-17 13:44] hferentschik opened #6362 "Hairpin setup failed for pod"
I am running OpenShift all-in-one on a VirtualBox VM. The setup is per this repository https://github.com/redhat-developer-tooling/openshift-vagrant.

As part of the OpenShift provisioning a registry and router are created. When looking at the OpenShift logs via `docker logs`, I can see:

    W1217 08:19:51.892470   13937 manager.go:1892] Hairpin setup failed for pod "docker-registry-1-deploy_defa

[2015-12-17 13:45] hferentschik commented on #6362
Full log of the Openshift pods:

    $ docker logs dc87dc6abf8b
    time="2015-12-17T08:20:21-05:00" level=info msg="version=v2.0.0+unknown"
    time="2015-12-17T08:20:21-05:00" level=info msg="redis not configured" instance.    id=b5d458e1-202b-4465-8fa9-6ce1ef5bb2d5
    time="2015-12-17T08:20:21-05:00" level=info msg="using inmemory layerinfo cache" instance.    id=b5d458e1-202b-4465-8fa9-6ce1ef

[2015-12-17 13:51] smarterclayton commented on #5842
This is resolved in 1.1.0.1

[2015-12-17 13:51] #5842 closed

[2015-12-17 13:51] stevekuznetsov opened #6363 "test-integration fails to start etcd"
I think this is a new flake [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4345/):
[code]

[2015-12-17 13:55] PI-Victor commented on #6215
@bparees: @mfojtik i got a notification that this is marked as a blocker bug, so i was wondering if we can close this now since this got fixed in https://github.com/openshift/origin/pull/6268 ?

[2015-12-17 13:56] mfojtik commented on #6215
haven't see this happening recently, @bparees ?

[2015-12-17 13:56] smarterclayton commented on #5700
This should be resolved

[2015-12-17 13:56] #5700 closed

[2015-12-17 13:57] stevekuznetsov commented on #6363
dupe of https://github.com/openshift/origin/issues/5605

[2015-12-17 13:57] #6363 closed

[2015-12-17 13:57] stevekuznetsov commented on #5906
dupe of https://github.com/openshift/origin/issues/5605

[2015-12-17 13:57] #5906 closed

[2015-12-17 13:57] danwinship commented on #5796
can someone seeing this bug try running https://raw.githubusercontent.com/openshift/openshift-sdn/master/hack/debug.sh and then upload the output somewhere? You need to run it from a host that has a valid KUBECONFIG, and that can ssh as root to the master and each node.

[2015-12-17 14:07] liggitt commented on #6361
We use url-safe base64 encoding (https://tools.ietf.org/html/rfc4648#section-5)

[2015-12-17 14:08] deads2k commented on #6332
"Why does @deads2k keep using our product wrong, doesn't he know anything about it?"

[2015-12-17 14:09] deads2k commented on #6361
Don't we already have our own token generator?  I think we ought to have it keep trying until it generates one without a leading `-`.

[2015-12-17 14:13] #3268 closed

[2015-12-17 14:14] smarterclayton commented on #4603
This core issue is resolved

[2015-12-17 14:14] #4603 closed

[2015-12-17 14:15] smarterclayton commented on #3824
Binary source support is in and documented

[2015-12-17 14:15] #3824 closed

[2015-12-17 14:21] deads2k commented on #5311
@stevekuznetsov you were assessing different junit visualization plugins for jenkins.  I'm not particularly pleased with the one we have.  Is there a better one?

[2015-12-17 14:36] bparees commented on #6215
closing based on fix.  thanks for the diligence, @PI-Victor!

[2015-12-17 14:36] #6215 closed

[2015-12-17 14:37] rhcarvalho opened #6364 "Web Console confuses build configuration info"
![selection_008](https://cloud.githubusercontent.com/assets/88819/11872093/d6c5a748-a4d3-11e5-9a72-df8a6295235c.png)

In the example above, there is no builder image, and the source type is 'Git', but the information is displayed incorrectly.

Thanks @php-coder for noticing it.

[2015-12-17 14:37] ironcladlou commented on #5855
@kargakis was this one already fixed?

[2015-12-17 14:38] stevekuznetsov commented on #5311
There is really only one with widespread use, the built-in [jUnit Plugin](https://wiki.jenkins-ci.org/display/JENKINS/JUnit+Plugin).

[2015-12-17 14:38] php-coder opened #6365 "UI: Builder Image has value of Source Type when Docker build is used"
When I opening the page with details about build I see that field `Builder image:` has value `Git` and field `Source type` is empty. But should be opposite. It happens when application has a Docker type and therefore doesn't have builder image.

The URL of the page: https://localhost:8443/console/project/binary-builds/browse/builds/sti-docker/sti-docker-2
![origin-source-type-bug](https://cloud.gi

[2015-12-17 14:40] php-coder commented on #6365
Dupe for #6364

[2015-12-17 14:40] #6365 closed

[2015-12-17 14:40] bparees commented on #6348
does oc run do this?  should it?

[2015-12-17 14:50] bparees commented on #6348
Can you split the crash-loop issue off to a separate one?  it's not going to get fixed by the same person or probably even the same team.

[2015-12-17 14:54] kargakis commented on #5855
No, it's not. But we haven't seen it since which is good.

[2015-12-17 14:59] php-coder opened #6367 "Extra border after clicking on "Toggle average line" in FF 41.0.2"
@rhcarvalho said that Chrome doesn't show this border.

![origin-bug](https://cloud.githubusercontent.com/assets/87088/11872676/ec6785dc-a4d6-11e5-97f4-c09a31b4e3f6.png)

[2015-12-17 15:06] swagiaal commented on #5545
This issue can now be closed... It does not look like I have permissions to close though.

[2015-12-17 15:08] smarterclayton commented on #6348
Someone can certainly tackle that separate, let's not close this until both are fixed.  This is the "someone needs to know that images might fail due to security" usability issue.

[2015-12-17 15:11] #5545 closed

[2015-12-17 15:28] jwforres commented on #6364
It's an issue with definition lists with empty values, we have seen it before.

[2015-12-17 15:31] jwforres commented on #6364
Assigned to @rhcarvalho since he already has a fix PR open

[2015-12-17 15:34] stevekuznetsov commented on #6259
Similar issue [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4379/console):
[code]

[2015-12-17 15:34] iamkdev commented on #6334
Its an empty email. I forward one to rhcloud-security@redhat.com

[2015-12-17 15:35] stevekuznetsov opened #6368 "os::cmd::try_until_success doesn't correctly diagnose a failure due to timeout"
as seen on this issue: https://github.com/openshift/origin/issues/6259, the stated reason for failure is that the wrong error code was returned, but in fact it is the timeout

@deads2k please assign to me

[2015-12-17 16:00] mfojtik commented on #6334
@iamkdev and you don't have a "monit" cartridge installed by any chance?

[2015-12-17 16:03] iamkdev commented on #6334
No. Only phpMyAdmin 4.0 and Cron 1.4

[2015-12-17 16:04] Mangirdaz opened #6372 "oc new-app does not allow --name with +"
executing:
oc new-app MyAwesomeRegistry.com/apaas_dev/proxy-container+MyAwesomeRegsitry/apaas_dev/eap-builder~https://myGit.com:8443//apaas-v3-example-binary-eap.git --strategy=source -e OPENSHIFT_NAME_1=jdbc/VS11NEW,OPENSHIFT_DRIVERCLASSNAME_1=oracle,OPENSHIFT_URL_1=jdbc:oracle@database.com:1500/VS11NEW,OPENSHIFT_USERNAME_1=test,OPENSHIFT_PASSWORD_1=Test008 --name=cli-test

And I get:
error: only

[2015-12-17 16:09] talset opened #6373 "Missing iptables rules if the default gateway is not set"
We have seen an issue when trying to remove the default gateway (for debugging purpose) on the OpenShift master

We investigated and we identified that the issue was when the default gateway was missing the iptables rules would not show up.

Here is the details of what we did :
- check that there the  iptables rule (dnat for service ip)
- remove the default gateway
- restart openshift node & sdn
-

[2015-12-17 16:23] deads2k opened #6375 "Eliminate global project cache"
`pcache` and `GetProjectCache` should not be global state variables:  https://github.com/openshift/origin/blob/master/pkg/project/cache/cache.go#L24 and https://github.com/openshift/origin/blob/master/pkg/project/cache/cache.go#L77.

We don't want global variables around in general, but ones that are maintaining global state are particularly problematic.

@pravisankar fyi
@stevekuznetsov Can you t

[2015-12-17 16:35] deads2k commented on #6259
@stevekuznetsov volunteered and @soltysh is doing a rebase so, I'll reassign for now.

[2015-12-17 16:35] liggitt commented on #6361
we can skip the leading dash, though enabling unsafe quoting in scripts makes me slightly unhappy

[2015-12-17 16:58] liggitt commented on #6283
switching to hostname requires changes to the dockercfgs we generate before pulls will work. @deads2k

[2015-12-17 17:14] liggitt commented on #6318
Did you check DNS inside the pod or outside? DNS queries should be fully-qualified... the appending of search paths happens on the client side based on what is in resolv.conf.

[2015-12-17 17:41] ncdc commented on #4501
This was fixed in 1.1

[2015-12-17 17:41] #4501 closed

[2015-12-17 17:42] smarterclayton commented on #5311
Define "not pleased with the one we have".  What features are missing?

On Thu, Dec 17, 2015 at 9:38 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2015-12-17 17:43] smarterclayton commented on #6332
David is an advanced user, he's expected to work a little harder because we
give him more flexibility :)

On Thu, Dec 17, 2015 at 9:08 AM, David Eads <notifications@github.com>
wrote:

[2015-12-17 17:43] smarterclayton commented on #6332
Designing for advanced users is hard.  Designing for novice users is
harder.  Designing for novice AND advanced users is the hardest problem
ever :)

On Thu, Dec 17, 2015 at 12:43 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-12-17 17:47] prvak commented on #6361
Maybe I am missing something but I do not see how avoiding leading dash would enable unsafe quoting. For example if the script would use `grep`:

[code]

It is correctly quoted and it works fine as long as the `$TOKEN` does not start with dash so you do not notice that there is something wrong until it may be too late. You would have to write every grep like this:

[code]

Another example could be

[2015-12-17 17:50] thesteve0 commented on #5842
Thanks!

[2015-12-17 17:59] liggitt commented on #6361
Right, those are examples of passing data to scripts in ambiguous ways, which isn't great.

[2015-12-17 18:22] deads2k commented on #6283
I'm looking at it.

[2015-12-17 18:56] pravisankar commented on #6375
@deads2k
project cache is used in few places and i don't think we want to spawn multiple reflectors/go routines to watch for the same resource. Yes, it is maintaining global state but we are only using for lookup (read only).

[2015-12-17 19:01] deads2k commented on #6375
I'd like to see it passed to those things that need it to make the dependency clear and simplify unit testing/mocking

[2015-12-17 19:03] stevekuznetsov commented on #6259
We never see the `ImageImportController` import the `mysql` image, but we see the rest of them *before* `mysql` in the create file in the log:
[code]

The sever gets the shutdown signal milliseconds after the `wilfdly` image is imported, so maybe it would have also imported the rest of the images given enough time? We don't have timestamps on the `oc create` so I can't see why the minute wait is t

[2015-12-17 19:08] bparees commented on #6259
sounds like it's worth bumping it then, make it 2 minutes.  that should future proof us for a while, anyway.

[2015-12-17 19:13] danwinship opened #6381 "test flake in test/cmd/newapp.sh"
Running hack/../test/cmd/newapp.sh:144: executing 'oc get imagestreamtags installable:file' expecting success; re-trying every 0.2s until completion or 60.000s...
    FAILURE after 59.988s: hack/../test/cmd/newapp.sh:144: executing 'oc get imagestreamtags installable:file' expecting success; re-trying every 0.2s until completion or 60.000s: the command returned the wrong error code
    There was n

[2015-12-17 19:24] stevekuznetsov opened #6382 "test/cmd/admin has hidden dependencies"
Running `test/cmd/admin.sh` by starting OpenShift, logging in as `system:admin` and creating a new project doesn't work. The test fails with this:
[code]

@smarterclayton wasn't the contract for `test/cmd/*.sh` buckets that you should be able to run them as `system:admin` in a new project?

[2015-12-17 19:24] ramr commented on #5977
@lorenzvth7  /bump  Let me know if you are still running into problems, otherwise will close in the next few days. Thx

[2015-12-17 19:25] ramr commented on #5949
@danmcp  can you please close this out. The PR was merged. Thx

[2015-12-17 19:27] ramr commented on #3916
@danmcp  the router bits are complete - I guess the registry bits are pending, so can you please assign to @pweil-  or @miminar    Thx

[2015-12-17 19:41] danmcp commented on #5949
@ramr FYI: https://github.com/blog/1506-closing-issues-via-pull-requests

[2015-12-17 19:41] #5949 closed

[2015-12-17 19:43] stevekuznetsov opened #6384 "test-go flakes with many tests reaching timeout"
Many tests timeout in the same run as seen [here](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7912/consoleFull)

[2015-12-17 20:15] knobunc commented on #6259
Running hack/../test/cmd/newapp.sh:21: executing 'oc get imagestreamtags mysql:latest' expecting success;FAILURE after 59.405s: hack/../test/cmd/newapp.sh:21: executing 'oc get imagestreamtags mysql:latest' expecting success; re-trying every 0.2s until completion or 60.000s: the command returned the wrong error code
There was no output from the command.
Standard error from the command:
Error from

[2015-12-17 20:33] smarterclayton commented on #6382
That was stated but it wasn't worth enforcing.  Admin is special.

On Thu, Dec 17, 2015 at 2:24 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2015-12-17 20:39] deads2k commented on #5311
I can't seem to find the output sliced by test.  Say a table showing all tests color coded for percent of recent failures and columns for first seen, last successful run.  The closest I've seen shows things like "failing for 83 builds", when in fact it wasn't run for 83 builds.

[2015-12-17 20:53] knobunc commented on #6031
Hitting this too :-(

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7931/consoleText

[INFO] Scan of OpenShift related processes already up via ps -ef	| grep openshift :
ec2-user 26025 26024  0 15:40 ?        00:00:00 /bin/bash /data/src/github.com/openshift/origin/hack/update-generated-swagger-spec.sh _output/verify-generated-swagger-spec
ec2-user 26120 26025  0 15:40 ?

[2015-12-17 22:13] rhcarvalho commented on #6381
And also:

[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7928/console

[2015-12-17 22:40] smarterclayton commented on #5311
Hrm, I've seen that I think.   I don't remember how I got there though -
but it was pass fail over successive builds.

On Dec 17, 2015, at 3:40 PM, David Eads <notifications@github.com> wrote:

Define "not pleased with the one we have". What features are missing?

I can't seem to find the output sliced by test. Say a table showing all
tests color coded for percent of recent failures and columns fo

[2015-12-17 23:28] bparees commented on #6058
closing based on last comments on this issue, please reopen if needed.

[2015-12-17 23:28] #6058 closed

[2015-12-18 01:55] liggitt commented on #6065
It certainly seems like more than our one test server is talking to the shared etcd at once. Things like this:
[code]

And this:
[code]

[2015-12-18 05:04] liggitt opened #6388 "Build controller keeps retrying builds after build configs are deleted"
Seen in logs from https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7941/artifact/origin/artifacts/cmd/ALg0/openshift.log

As the test progresses, old namespaces are deleted, but the build controller logs retry attempts to kick off builds for configs and namespaces that no longer exist:

seen 100+ times:

[code]

if the namespace doesn't exist, then the build config must not ex

[2015-12-18 06:03] liggitt commented on #4164
sure

[2015-12-18 06:03] #4164 closed

[2015-12-18 07:01] chmouel opened #6390 "new pods getting created forever on a NodeSelectorMismatching error"
When playing around with the schedulers and getting a NodeSelectorMismatching  OpenShift would try to spin up forever some pods :

<pre>
chmouel@TheBatman:~$ oc get pod
NAME                      READY     STATUS                    RESTARTS   AGE
hello-openshift-1-0dxce   0/1       NodeSelectorMismatching   0          6s
hello-openshift-1-0nm6d   0/1       NodeSelectorMismatching   0          4s
he

[2015-12-18 07:25] #6364 closed

[2015-12-18 07:30] lorenzvth7 commented on #5977
Can be closed

[2015-12-18 07:30] #5977 closed

[2015-12-18 07:41] liggitt commented on #6259
The image import controller is hanging attempting to import tags from the internal registry, which is not running in test-cmd.sh (no node or registry is running).

The controller attempts twice, each time taking 30 seconds to time out.

Detailed logs at
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7943/consoleFull
https://ci.openshift.redhat.com/jenkins/job/test_pull_reque

[2015-12-18 08:59] miminar commented on #5450
Newest occurence in [test 7752](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/7752/consoleFull).

[2015-12-18 10:26] chmouel commented on #6001
thanks @markturansky

[2015-12-18 10:44] rhcarvalho commented on #6075
@lorenzvth7 is this still an issue for you? If not, could you please close it?

[2015-12-18 11:02] rhcarvalho commented on #2001
Still today we need to be aware of SCL and whether it is enabled or not. This issue has driven us to implement mechanisms to give a better user experience. Today, wrapping commands through `bash` or `sh` automatically enable the necessary collections for our images.

I don't think we can do much better than that unless there would be a way to enable SCL globally and permanently.

Before I close th

[2015-12-18 11:04] rhcarvalho commented on #2622
@fabianofranz do you have any updates on this?

[2015-12-18 11:05] minhdoboi opened #6393 ""unsupported volume type" when trying to mount a GlusterFS persistent volume claim"
We re trying to use a PVC with a GlusterFS PV. The PV is bound but the pod fail to mount the volume.

[code]

The event list contains:

[code]

Our registry use a GlusterFS PV so the endpoints work well.
We tried the same with a NFS volume and it also worked.
Mounting manually a GlusterFS PV on the node, without claim, also worked.
Edit: Endpoint is in the default namespace, not in the pod namespa

[2015-12-18 11:07] rhcarvalho commented on #3182
@pmorie is there still anything to be done with this issue? If not, I'll close it.

[2015-12-18 11:31] hhorak commented on #2001
There are ways (that are sometimes risky and thus not recommended officially) to enable Software Collections globally by having a file in `/etc/profiles.d` which does `source scl_source enable <mycollection>`. This enables the collection for all users outside of container.

However, as you can expect, this mechanism depends on the same apparatus as we use already -- shell needs to read `/etc/profi

[2015-12-18 11:35] kargakis opened #6394 "gonum/graph.Edges() is non-deterministic"
When a graph G contains a set of edges, `G.Edges()` most of the time returns the set deterministically (the first edge starts from the root ie. the first node added in the graph, etc.) but that doesn't happen all the time. See https://github.com/openshift/origin/pull/6246#issuecomment-165752793

Currently there is no place in our graph code where we are based on the way `Edges()` returns edges, ex

[2015-12-18 11:46] jeremyeder commented on #6287
@roldancer what exact kernel version are you using?

[2015-12-18 12:03] #6075 closed

[2015-12-18 12:40] eparis commented on #6149
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/4398/console

looks like another dupe?

[2015-12-18 12:45] #6146 closed

[2015-12-18 12:50] thincal opened #6396 "About the host IP of the HA router"
It seems that the ip failover used to setup the high availability of router, but it is said that it is keeping the virtual IP unchanged if service deployed into a new node.

I have a question that router service need a fix host IP (true?), which is used to configured in DNS server, so how to keep this IP not changed when router service is deployed to a new node?

Is this a part of HA router soluti

[2015-12-18 13:07] deads2k commented on #6394
There is no guarantee of ordering for edges.  Code that relies on ordering is improper.  If calling code needs ordering, it can choose the order it wants.

In the case of `Fprint` if ordering has value (and I accept that it might), enforce ordering there.  Since its dead, I'd just as soon see the method deleted.

[2015-12-18 13:09] deads2k commented on #6394
Ok, I see why it seems like there should be.  Bad API shape in the library we pulled in.  There's still no natural ordering.

[2015-12-18 13:20] miminar commented on #3916
There is already upstream request for [providing prometheus metrics](https://github.com/docker/distribution/pull/506). Which was turned down. The upstream prefers to stay metrics backend agnostic and suggests to [process registry log](https://github.com/docker/distribution/pull/506#issuecomment-101045644) which contains all the information needed.

Registry's logging framework supports a wide vari

[2015-12-18 13:23] kargakis commented on #6394
@deads2k so what do you want to do with this issue? Remove `Fprint`, godoc `Edges` explaining what's what, and close, or you have any graph api changes in mind?