[2017-08-01 14:22] pweil- commented on #15578
@spadgett regression?

[2017-08-01 14:27] spadgett opened #15586 "oc cluster up --metrics --version=v3.6.0 fails to deploy metrics"
After running the following command, the hawkular and cassandra deployments failed to scale for me.

[code]

I see these events in the openshift-infra namespace:

[code]

[code]

Deployer logs:

[openshift-ansible-metrics-job-9td61.txt](https://github.com/openshift/origin/files/1190845/openshift-ansible-metrics-job-9td61.txt)

##### Version

oc version
oc v3.6.0-rc.0+d4bbae0-375
kubernetes v1.7.0+

[2017-08-01 14:30] vrutkovs opened #15587 "oc cluster up is stuck on 'Checking container networking' when its run in a privileged container"
`oc cluster up` is stuck when its being run in a privileged container with `--net=host`:

##### Version
[code]

##### Steps To Reproduce
1. Add your IP to `/etc/resolve.conf`:
[code]
2. Create a dockerfile with:
[code]
3. Run it:
[code]

##### Current Result
`oc cluster up` hangs on verifying networking

##### Expected Result
`oc cluster up` doesn't hang

##### Additional Information
It seems the

[2017-08-01 14:30] mfojtik commented on #15495
opened https://github.com/openshift/origin/pull/15585 for actual 3.7 removal, will follow with docs/etc.

[2017-08-01 14:30] #15495 closed

[2017-08-01 14:42] mfojtik commented on #15081
@aweiteka `--remove-all` will actually nuke the signature off the image... i agree it should just clear the verification status.

[2017-08-01 14:55] vrutkovs commented on #15587
Weird, this worked locally (although took significant time to complete network tests), but failed on Openstack instance - probably related to #13383

[2017-08-01 15:01] brenton commented on #14772
@stevekuznetsov curious if you were able to try removing EPEL?

[2017-08-01 15:06] spadgett commented on #15587
@csrwng

[2017-08-01 15:17] csrwng commented on #15587
@vrutkovs please try using an 'oc' client built from master.

[2017-08-01 15:22] danwinship commented on #14385
missed this in the original report before:

    StartedAt:2017-05-26 23:15:05 -0400 EDT,FinishedAt:2017-05-26 23:15:08 -0400 EDT

ie, the pod only ran for 3 seconds, despite being `wget --timeout=10 ...`

logs from the latest flaked run show:

    Jul 29 22:12:39 nettest-node-1 dockerd-current[151]: Connecting to 172.30.126.86:8080 (172.30.126.86:8080)
    Jul 29 22:12:42 nettest-node-1 dockerd-cu

[2017-08-01 15:27] vrutkovs commented on #15587
Worked with `oc` from 3.6.0 pre-release binaries, thanks!

[2017-08-01 15:27] #15587 closed

[2017-08-01 15:29] brenton commented on #14708
@knobunc, should this be closed now that the underlying RHEL bug has been fixed? https://bugzilla.redhat.com/show_bug.cgi?id=1454636 ( I see the RHEL 7.3. EUS bug technically hasn't been fixed yet, but that's not what we run in CI)

[2017-08-01 15:29] stevekuznetsov commented on #14772
No, have not had time to do that. Looks like we haven't hit this since, though

[2017-08-01 15:31] spadgett commented on #15578
@pweil- I believe it is a regression. @fabianofranz ?

This is what I see on a mac at least.

[code]

[2017-08-01 15:55] #13721 closed

[2017-08-01 15:55] #13720 closed

[2017-08-01 15:56] #13543 closed

[2017-08-01 15:59] danwinship commented on #14385
OK, looks like it happens if there is no iptables rule for the service IP; in that case OVS will forward the packet to the node via tun0, but the node won't have an iptables rule to rewrite it, and so then the node's routing table says that 172.30.0.0/16 should be forwarded to tun0, but that's where the packet came from, so it won't re-route it there, so it will respond with an ICMP error.

But th

[2017-08-01 15:59] eparis commented on #13116
closing this as it works now. I have both master and node with aws cloud provider configured and the openshift-sdn works just fine.

[2017-08-01 15:59] #13116 closed

[2017-08-01 16:00] eparis commented on #13879
Since this hasn't been seen since april and we've moved most things away from the event queue I'm going to close this report. re-open if we still have a problem.

[2017-08-01 16:00] #13879 closed

[2017-08-01 16:10] eparis commented on #14383
it's spam, dropping to p2. (seth is going to open a bz to track in 3.6)

[2017-08-01 16:36] jwhonce commented on #11016
Ops updating their monitoring https://trello.com/c/cB9lX5sb . Suspected cause is volume BurstBalance being exhausted.

[2017-08-01 16:59] DirectXMan12 commented on #14965
Sorry about this -- my update got lost in the shuffle.  I was never able to reproduce this using a 3.6 oc and a 3.4 ose.  I tried building from the exact versions listed in the issue, but no dice.  If you're still having this issue, can you provide more details about your setup?

[2017-08-01 17:11] bparees commented on #14385
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_networking_minimal/5209/

[2017-08-01 17:22] smarterclayton commented on #15576
@pmorie @aveshagarwal @legionus have confirmed that service cat, cluster cap, and docker registry do not need the origin dependency.  we should snip the requires from those subpackages in the origin.spec file.

[2017-08-01 17:26] aveshagarwal commented on #15576
It seems that https://github.com/openshift/origin/blob/master/origin.spec#L201 is an issue, right? So that can be removed.

[2017-08-01 17:30] reddyrocks opened #15592 "S2I Build error due to read: connection reset by peer"
I am running s2i build on Jenkins slave that has s2i mixin and it used to work fine for most of the builds but all of a sudden, I am seeing a new error.
I0801 17:18:20.244127    9638 docker.go:948] Removing container "12f9115bbf9dff39984dee60326c9f05bf6a146d64bb6a46f24f79624e5ddd19" ...
I0801 17:18:20.487410    9638 docker.go:952] Removed container "12f9115bbf9dff39984dee60326c9f05bf6a146d64bb6a46

[2017-08-01 17:35] aveshagarwal commented on #15576
Also another reason to have larger image size is to have rpm based installation requiring yum that pulls several other dependencies. Embedding just binaries inside images would reduce size further.

[2017-08-01 17:39] ephillipe commented on #14774
Hi @fctucker, if you created the cluster using the [advanced method](https://docs.openshift.org/1.5/install_config/install/advanced_install.html), you can use this config:

[code]

Help from this [file](https://github.com/openshift/openshift-ansible/blob/release-1.5/inventory/byo/hosts.origin.example).

I hope help.

[2017-08-01 17:41] aveshagarwal commented on #15576
I think that Requires just slipped in during initial packaging, and did not notice after that until now ;-) thanks @smarterclayton for bringing to this attention.

[2017-08-01 17:43] smarterclayton commented on #15576
We are always doing RPM installation.  We will no longer be sticking
binaries in (because that's not a valid outcome for real users).

On Tue, Aug 1, 2017 at 1:41 PM, Avesh Agarwal <notifications@github.com>
wrote:

[2017-08-01 18:05] pvalena commented on #15565
Thanks!

I'm a bit worried about this from the security POV. It seems quite non-intuitive. But like you said, the firewalld can solve this.

[2017-08-01 18:10] eparis commented on #15210
fixed by: https://github.com/openshift/origin/pull/15542

[2017-08-01 18:10] #15210 closed

[2017-08-01 18:46] deads2k commented on #15264
opened https://github.com/kubernetes/kubernetes/pull/49972 to see.

[2017-08-01 19:55] spadgett opened #15595 "Service catalog can't talk to template broker (cluster up)"
I'm running

[code]

`oc` built with #15575 to work around #15562

The service catalog can't load any service entries from the template broker.

[code]

I see this error in the master logs

[code]

The `catalog.sh` test script also fails

[code]

##### Version

oc v3.6.0-rc.0+d4bbae0-375
kubernetes v1.7.0+695f48a16f
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.6.0-rc.0+89373a7-

[2017-08-01 20:08] bparees commented on #15595
@jim-minter I assume this is resolved by https://github.com/openshift/origin/pull/15580

[2017-08-01 20:19] rajatchopra commented on #11881
Fixed by #15903

[2017-08-01 20:34] smarterclayton commented on #15093
David split all this.

[2017-08-01 20:34] #15093 closed

[2017-08-01 20:38] smarterclayton commented on #14785
So at this point this is now my "journald breaks deployment tests and causes hundreds of flakes" tracking issue.

@stevekuznetsov @mfojtik @soltysh @derekwaynecarr @sjenning @jcantrill @portante

Journald rate limiting on pod logs causes flakes on e2e tests that depend on looking at log output.  Log output is something that is supposed to work no matter what.  We have a few options on our test run

[2017-08-01 20:39] portante commented on #14785
What are the journals settings?

On Tue, Aug 1, 2017 at 4:38 PM Clayton Coleman <notifications@github.com>
wrote:

[2017-08-01 20:50] smarterclayton commented on #14785
@stevekuznetsov do we change anything except what's in here? https://github.com/openshift/origin-ci-tool/blob/151e40a674f15fcf77dd7ca12b75738e06f93972/oct/ansible/oct/roles/dependencies/tasks/pre_install.yml

If not, then stock rhel/centos.  We turn rate limiting off in a few test setups, but it may be that we just want to turn off rate limiting on the docker journal via openshift-ansible (for the

[2017-08-01 21:02] stevekuznetsov commented on #14785
Nope, nothing other than that

[2017-08-01 21:30] sjenning commented on #14785
I vote for jsonfile (option 2).  That's what I do on my personal cluster deployments.  That and switching to overlay storage driver.  Not sure what the historical reason was for doing journald support in docker.  Remote log aggregation?

This is part of my overall opinion that we should align with upstream kube as much as possible.

Leads to things like this when we try to run kube e2e:
https://gi

[2017-08-01 21:44] stevekuznetsov commented on #14785
I was not under the impression that we suggested anything but `journald` for production customer deployments?

[2017-08-01 23:40] smarterclayton commented on #14785
We don't, but it has challenges in docker because the driver can't control
rate limiting per service.  The journal is still our default because it
handles things like rollover and rate limiting that we'd have to deploy
additional solutions for.  Effectively this issue is just "rate limiting
with drop should be opt in for journal, not opt out", but we can't fix that
yet.

On Aug 1, 2017, at 5:44 PM

[2017-08-02 00:45] bparees opened #15597 "OWNERS file is being checked by verify generated code"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_verify/370

This is going to force people to rebase anytime those files are touched, it should be excluded from what is being compared/checked.

[2017-08-02 01:44] portante commented on #14785
@smarterclayton, proposed PR https://github.com/openshift/origin-ci-tool/pull/133 to drop rate-limiting.

[2017-08-02 02:40] bparees commented on #15597
(it was actually worse than forcing a rebase, it would always complain that that new file wasn't generated)

[2017-08-02 04:36] Evgeniy-Bondarenko opened #15599 "Metrics start but not work"
##### Version
[code]

##### Steps To Reproduce
1. Deploy over ansible

##### Current Result
[code]

but http or https ports are not listen/ not work

##### Expected Result

I want have working metrics

[2017-08-02 04:48] kunallimaye opened #15600 "Can't deploy postgres image from Docker Hub"
When I tring to deploy postgres which I downloaded from Docker Hub, I got below error, but there is not such issue if I just use Docker engine to run it.
initdb: could not look up effective user ID 1000040000: user does not exist

##### Version
Mac OS Sierra Version 10.12.6
oc version v1.5.1+7b451fc
docker version 17.06.0-ce

##### Steps To Reproduce
1. `oc cluster up`
2. Deploy postgres image fro

[2017-08-02 04:50] rhcarvalho commented on #14929
Seen again in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_with_status_check/943/testReport/junit/(root)/Extended/_builds__Conformance__valueFrom__process_valueFrom_in_build_strategy_environment_variables_should_successfully_resolve_valueFrom_in_s2i_build_environment_variables/

[2017-08-02 06:47] tobru commented on #15578
If you need more information from my side, I'm happy to help!

[2017-08-02 06:58] tobru commented on #15600
You cannot run this Docker Hub image on OpenShift without modification. Just use the official OpenShift supported Postres Image: https://docs.openshift.org/latest/using_images/db_images/postgresql.html

[2017-08-02 08:11] #15152 closed

[2017-08-02 08:11] #15562 closed

[2017-08-02 08:11] #15260 closed

[2017-08-02 08:37] kargakis commented on #10764
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/4906/testReport/junit/github/com_openshift_origin_test_integration%20%20%20/TestImageStreamImportQuayIO/

[2017-08-02 08:37] kargakis commented on #14368
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/4906/testReport/junit/github/com_openshift_origin_test_integration /TestProjectLifecycle/

[2017-08-02 08:39] kargakis commented on #14208
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/4906/

[2017-08-02 08:42] Moep90 commented on #14184
Same here...

[2017-08-02 09:32] jaenswart commented on #15586
getting exactly the same issue trying to deploy the metrics with --metrics in minishift 1.3.1 and openshift 3.6.0

[2017-08-02 09:58] php-coder commented on #15600
I'd try to run the image under `root` user by granting access to the `anyuid` SCC: https://docs.openshift.org/latest/admin_guide/manage_scc.html#enable-dockerhub-images-that-require-root

[2017-08-02 09:58] php-coder commented on #15592
@openshift/devex

[2017-08-02 10:04] mfojtik commented on #15600
@kunallimaye official docker images run as root which is (still) considered as insecure and OpenShift sets a defaults to forbid that (unless you explicitly enable that using what @php-coder mentioned).

[2017-08-02 10:05] mfojtik commented on #15599
@jcantrill set as p1 for triage

[2017-08-02 10:07] mfojtik commented on #15592
what is "http://jenkins.host.com/containers/12f9115bbf9dff39984dee60326c9f05bf6a146d64bb6a46f24f79624e5ddd19/wait" ?

[2017-08-02 10:14] soltysh commented on #15492
@chlunde the reason you're having this problem is that the Image Stream created when pushing directly to internal registry does not have `.spec` field filled in, only `.status` (check `oc get is -o yaml`). This is intentional, since when you're moving from one environment to another you want to have a working resource after import (here you'd have to either re-push the image or provide secrets to

[2017-08-02 10:15] soltysh commented on #15492
I'm closing this, since it's working as expected. If you don't agree feel free to re-open and provide arguments why and what would be the expected result.

[2017-08-02 10:15] #15492 closed

[2017-08-02 10:29] #14383 closed

[2017-08-02 10:48] mfojtik commented on #15543
Fix: https://github.com/openshift/origin/pull/15601

[2017-08-02 11:15] php-coder commented on #10327
Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_cmd/357/consoleFull
[code]

[2017-08-02 11:39] bparees commented on #14929
Same networking issue:

00:14:12.755838       1 sti.go:678] Found 'composer.json', installing
dependencies using composer.phar...
2017-08-02T00:14:12.833691000Z I0802 00:14:12.829598       1
sti.go:682]   % Total    % Received % Xferd  Average Speed   Time
Time     Time  Current
2017-08-02T00:14:12.834045000Z I0802 00:14:12.829620       1
sti.go:682]                                  Dload  Upload

[2017-08-02 11:41] bparees commented on #15592
please don't open the same issue in multiple places, it results in duplicated efforts by different groups of people.
https://github.com/openshift/source-to-image/issues/782

[2017-08-02 11:41] #15592 closed

[2017-08-02 11:47] mfojtik opened #15602 "lstat /var/lib/docker/devicemapper/mnt/.../rootfs/go/src/github.com/openshift/origin/_output/local/releases: no such file or directory"
Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5312/consoleFull#9938473135898c58db7602c31c0eab717

[2017-08-02 11:47] mfojtik commented on #15602
@smarterclayton @stevekuznetsov not sure if infra problem or docker problem.

[2017-08-02 12:04] mfojtik commented on #15499
seen here as well: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5312/consoleText

[2017-08-02 13:19] #10957 closed

[2017-08-02 13:19] #11035 closed

[2017-08-02 13:19] #15475 closed

[2017-08-02 13:19] #11147 closed

[2017-08-02 13:19] #15282 closed

[2017-08-02 13:29] stevekuznetsov commented on #15602
[code]

This is a harmless failure in a cleanup script. Your job had a failed test.

[2017-08-02 13:29] #15602 closed

[2017-08-02 13:40] bparees commented on #13815
@csrwng so this is fixed in origin master and ocp 3.6, but still needs backporting to OCP 3.5 and earlier, right?  (apparently 3.5 and earlier just moved to 5 digit versions too)

[2017-08-02 13:41] csrwng commented on #13815
@bparees yes

[2017-08-02 13:45] bparees commented on #13815
ok i'll work on those.

[2017-08-02 14:20] ArminMW commented on #15586
Also fails with "minishift start --openshift-version=v3.6.0-rc.0 --metrics [...]" instead of v3.6.0. (I think this did not fail 20 days ago, but I am not 100% sure.)

[2017-08-02 14:20] bparees commented on #13815
This is not caused by the same openshift version parsing logic that broke in 3.6.  3.5 and earlier did not do anything w/ the openshift server version.  What is failing here is something else related to patching the master-config, i haven't gotten to the bottom of it yet.

[2017-08-02 14:30] bparees commented on #13815
ok so this was determined to be because @jorgemoralespou was using a 3.6 oc binary(or what was effectively 3.6 at the time - master).  We've fixed the version parsing in the 3.6 binary.  The 3.5 and earlier binaries did not do any version parsing, so they should continue to work fine (no backport needed).

@jorgemoralespou can you confirm the version of the oc binary you were using when you hit th

[2017-08-02 14:45] mdelaurentis commented on #10755
I'm seeing the same issue. We have activeDeadlineSeconds set to 21600, and there's a job that's been running for far longer than that.

[2017-08-02 14:54] mbornoz commented on #15586
Trying this "experimental" minishift feature with openshift 3.6.0 and getting the same issue.

$ minishift version
minishift v1.3.1+f4900b07

$ minishift openshift version
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

It seems to work as expected with openshift 3.5.x and minishift 1.3.x

[2017-08-02 15:10] juanvallejo commented on #15578
@fabianofranz I suspect this is happening due to either a [NotFound, Unauthorized, or Forbidden error](https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/version.go#L173)

@tobru could you please post the output of `https://localhost:8443/version/openshift`?

[2017-08-02 15:24] juanvallejo commented on #15578
@tobru also, if possible, could you post the output of `oc version --loglevel 8`?

[2017-08-02 15:28] #13815 closed

[2017-08-02 15:28] #15499 closed

[2017-08-02 15:43] AlexMapley commented on #10755
@mdelaurentis  I was able to work-around this issue by running a liveliness check on the pod:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

However still no resolution to the activeDeadlineSecond issue

[2017-08-02 15:55] mdelaurentis commented on #10755
Thanks for the tip!

[2017-08-02 17:03] csrwng commented on #15586
@jcantrill the hawkular and cassandra service accounts are getting created in the default namespace and not in the openshift-infra. That seems to be fixed by this PR -> https://github.com/openshift/openshift-ansible/pull/4977

[2017-08-02 17:51] conatus commented on #11232
We are having the same issue with almost the same three node simple setup.

1. Spin up machines on AWS with correct security groups and so on.
2. Setup a modest Ansible hosts file following the instructions regarding `openshift-ansible` and run it - `ansible-playbook playbooks/byo/config.yml`
3. Ansible is all green and we can login to the interface and issue commands.
4. Go to deploy a container

[2017-08-02 18:06] jim-minter commented on #15595
Correct, can I close this in favour of #15405 ?

[2017-08-02 18:10] bparees commented on #15595
seems reasonable to me.

[2017-08-02 18:10] #15595 closed

[2017-08-02 20:04] gabemontero opened #15615 "Various extended build tests fail to get build pods scheduled"
With the https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/148/ extended builds test run, a series of build failed

With these:

  Extended.[builds][Slow] openshift pipeline build Blue-green pipeline Blue-green pipeline should build and complete successfully
    Extended.[builds][Slow] starting a build using CLI binary builds should accept --from-repo as input
    Exte

[2017-08-02 20:50] jorgemoralespou commented on #13815
@bparees, version is in the report. Can't validate anything more as I'm on PTO without my laptop.

[2017-08-02 21:37] kargakis commented on #15615
/sig developer-experience

[2017-08-02 21:44] csrwng opened #15621 "test-end-to-end-docker.sh fails with executing 'oc cluster status' expecting success; re-trying every 10s until completion or 300.000s"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5263/

The test times out for waiting for `oc cluster status` to return 0 because the router and registry pods don't seem to be ready.

[Events](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5263/s3/download/scripts/test-end-to-end/artifacts/events.txt):
[code]

From the [origin cont

[2017-08-02 21:45] csrwng commented on #15621
/cc @smarterclayton

[2017-08-02 22:15] #15278 closed

[2017-08-02 22:29] bparees commented on #13815
Thanks, So yes it was a 3.6 build.

[2017-08-02 23:28] tavogel commented on #14965
Strangely, I am currently able to apply a YAML file and run `oc autoscale -o yaml | oc apply` now. Looks like something has been fixed!

The issue seems to be only happening when processing a template with `new-app`, while `oc process` works:
[code]

[code]

[2017-08-03 00:35] jbornemann commented on #13839
Any luck @shiywang ?

[2017-08-03 03:18] bparees commented on #14965
i think we had some converter issues in new-app that were fixed recently (ie in the 3.6 timeframe).  What version level is your oc client?  Any chance you can try w/ a 3.6 oc client binary?

[2017-08-03 08:57] chlunde commented on #15492
@soltysh OK, thanks, I think I get it.

This means that backup/restore of a standalone registry needs to be either full etcd backup/restore, or pushing the images back if you have the metadata available.  If you want to keep the same registry backing store (like s3/minio) and have a new cluster, it also seems to be possible to restore only projects, and prefixes /openshift.io/images/ /openshift.io

[2017-08-03 09:38] kargakis commented on #15579
Still an issue?

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/3378/consoleFull#-88500902058b6e51eb7608a5981914356

[2017-08-03 11:45] kargakis commented on #15579
Raising priority as this job seems to fail consistently now: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/

[2017-08-03 11:45] kargakis commented on #15579
/priority P0

[2017-08-03 11:46] kargakis commented on #15579
/remove-priority P1

[2017-08-03 11:59] jcantrill commented on #15599
@mwringe Do you see anything here?  It should be using the 1.5 deployer to install metrics.

[2017-08-03 12:04] dmage commented on #9550
This really conflicts with our desire to prune images that are not assigned to image steams.

[2017-08-03 12:19] cello86 opened #15623 "Origin 1.5 : slow pods reschedule"
We installed a fresh Origin 1.5 installation and we tried to verify the infrastructure node switch in case of node failure for the docker registry and console but we noticed that Origin spends some minutes to create the new pods on the other infra node.

##### Version
# oc version
oc v1.5.0+031cbe4
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://dev-openshift.

[2017-08-03 12:32] mwringe commented on #15599
How exactly is this being installed? What metric options are specified in the inventory file?

[2017-08-03 12:36] jcantrill commented on #15599
This is being installed using the deployer since it is v1.5.  I am unable to find any issue.  I performed 'oc cluster up --metrics' and ran into some issues that I was able to work past:

* Initially deployment failed because it timed out before an image was pulled - prepulled the issue
* Metrics were not appearing in the web console - Had to accept the metrics URL (Known limitiation)

I do not se

[2017-08-03 13:01] soltysh commented on #12672
Sorry for the late reply (was out for a bit :)). It's already possible, [this example](https://github.com/soltysh/blast/blob/master/scraper/template.yaml#L14-L34) is working just fine with version 1.5+.

[2017-08-03 13:11] soltysh commented on #15045
This looks like quite an easy bug to fix. [See here](https://github.com/openshift/origin/blob/8ef052dc579f22f1598cfff24cb22b305152360d/vendor/k8s.io/kubernetes/test/e2e/statefulset.go#L787-L788) and then check [GetReadySchedulableNodesOrDie](https://github.com/openshift/origin/blob/8ef052dc579f22f1598cfff24cb22b305152360d/vendor/k8s.io/kubernetes/test/e2e/framework/util.go?utf8=%E2%9C%93#L2507). I

[2017-08-03 13:24] soltysh commented on #15103
Note to myself, while fixing this take a look at the linked PR and add tests for those cases that were addressed in there.

[2017-08-03 13:26] soltysh commented on #11611
@abstractj sure, we're open to PRs :)

[2017-08-03 13:29] soltysh commented on #15333
It looks like docker hub hiccup at the time. I haven't seen this being reported more than once. I'll lower the prio for now, but feel free to bump it up again if it re-appears.

[2017-08-03 13:32] pweil- commented on #15600
closing based on above answers

[2017-08-03 13:32] #15600 closed

[2017-08-03 13:37] mfojtik commented on #15272
Slowly getting there: https://github.com/openshift/origin/pull/15624

[2017-08-03 14:03] stevekuznetsov commented on #15579
A version of the Origin package that sorts newer than what we're building off of master was pushed to the CentOS PaaS SIG repos we have enabled in the job.

[2017-08-03 14:32] gabemontero commented on #15615
fyi the extended build job last night, https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/149/display/redirect, did not experience this issue

[2017-08-03 14:34] jfmatth commented on #12672
@soltysh Yes, I can get a standard YAML instance of CRON to work, but that hard-codes the image to use.  I'm hoping to tie it into a true Openshift template that can pull the generated local image from it's registry without me specifying the name.

Hope this helps.

J

[2017-08-03 14:45] stevekuznetsov commented on #15579
I've updated the `oct` playbooks to ensure that the latest CentOS repo we add has `origin*` excluded. We'll need a new base AMI for this to trickle through, though. I'll see if we can do that in the job itself as well for now to unblock the queue.

[2017-08-03 14:49] shiywang commented on #13839
@jbornemann sorry, me neither, can't reproduce this bug : (

[2017-08-03 14:53] juanvallejo commented on #15578
cc @smarterclayton

[2017-08-03 15:03] soltysh commented on #12672
@jfmatth you man support for k8s resources being able to use Image Streams. That should be available already in 3.6 :) See this [doc](https://docs.openshift.org/latest/admin_guide/image_policy.html#image-policy-configuring-the-image-policy-admission-plug-in) points 7, 8 and 9 will be what you're interested in. Be warned, this is a tech preview feature :)

[2017-08-03 15:05] stevekuznetsov commented on #15583
They are now available at https://cbs.centos.org/repos/paas7-openshift-origin37-candidate/x86_64/os/

[2017-08-03 15:06] pweil- commented on #15578
@mfojtik

[2017-08-03 15:10] soltysh commented on #15492
@chlunde correct.

[2017-08-03 15:41] jperville commented on #15583
Thank you very much @stevekuznetsov

[2017-08-03 16:38] jcantrill commented on #15410
@sdodson  @sosiouxme rebuilding and using latest I can confirm the failure.  Debug into the pod  which is openshift-ansible, I does not appear to have the 'oc' or 'oadm' binary as part of the image or anywhere to be found in the path

[2017-08-03 17:10] sosiouxme commented on #15410
We can add `oc` back to the openshift-ansible image; however, I want to understand why. Why run `oc` on localhost (the host where Ansible is being run) when basically everything else in Ansible runs it on the master? Does this need to be a local action at all?

[2017-08-03 17:17] pweil- opened #15627 "PSP/SCC should sort linux levels for logical comparison"
In another issue it was noticed that PSP/SCC should recognize that SELinux levels can be logically equivalent.  Currently levels will be failed today if the exact ordering is not met:

For example:  s0:c0,c6 is equal to s0:c6,c0

Enhance PSP/SCC to take into account logical equivalence of the SELinux level.

@childsb @pmorie @php-coder @openshift/sig-security

[2017-08-03 18:19] jcantrill commented on #15410
@sosiouxme I'm working on a PR right now to add it back in but this code is running in a job pod on the master.  If you can think of an alternative to making 'oc cluster up' work with logging and metrics I defer to your knowledge

[2017-08-03 18:21] tdawson commented on #15583
The packages are now in testing.
https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin/
https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin36/

[2017-08-03 19:03] tavogel commented on #14965
[code]

I can presumably extend the Jenkins image with a particular binary, if you want, if it helps you fix the `new-app` issue. We have switched to `oc process` exclusively and are having no issues now.

[2017-08-03 19:14] jcantrill commented on #15410
The ref PR will fix the issue specifically associated with the error but metrics wont deploy until openshift-ansible/pull/4978 is merged as well.

[2017-08-03 19:39] bparees commented on #14965
I was thinking you could just run the new oc binary outside the jenkins image to test your template.  but only if you have the inclination/time, I realize you may not care since you have a working process now.

[2017-08-03 20:15] #15330 closed

[2017-08-03 20:21] gabemontero commented on #14093
I still have not seen this in our jenkins pipeline tests since the env change noted in https://github.com/openshift/origin/issues/14093#issuecomment-313429634

[2017-08-04 00:06] mcastelino commented on #14766
I get the same error even on Fedora
[code]

[code]

[code]

[2017-08-04 06:20] #15597 closed

[2017-08-04 07:43] kargakis opened #15629 "Unable to pull recently tagged image"
[code]
<details>

[code]
</details>

@smarterclayton from the ci cluster

cc @soltysh

[2017-08-04 09:03] #15075 closed

[2017-08-04 10:19] soltysh commented on #15629
@miminar and @dmage are our registry experts, I'll leave it up to them :)

[2017-08-04 10:32] dmage commented on #15629
[code]

Should you use `oc tag ci/submit-queue@sha256:075f550f3273394a0e4511761c7295f5bd6759740e60ccfb4c8786f9bd81fc65 submit-queue:stable` instead?

[2017-08-04 10:43] soltysh commented on #10755
I'll close this issue in favor of the upstream one: https://github.com/kubernetes/kubernetes/issues/32149 which is being currently worked on. So k8s 1.8 and origin 3.8 should get that fix.

[2017-08-04 10:43] #10755 closed

[2017-08-04 10:46] kargakis commented on #15629
Works fine @dmage, thanks!

[2017-08-04 10:46] #15629 closed

[2017-08-04 10:59] ingvagabund opened #15630 "Extended. DNS should answer endpoint and wildcard queries for the cluster [Conformance]"
The test is failing when running e2e extended conformance tests over system container based deployment. The Jenkins Job producing the failures at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_system_containers/31/consoleFull (the job will get deleted eventually):

[code]

[2017-08-04 11:00] soltysh commented on #14897
There's a discussion about journald limits happening in https://github.com/openshift/origin/issues/14785

[2017-08-04 11:01] ingvagabund opened #15631 "Exteded.[k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotation"
The test is failing when running e2e extended conformance tests over system container based deployment. The Jenkins Job producing the failures at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_system_containers/31/consoleFull (the job will get deleted eventually):

[code]

[2017-08-04 11:02] soltysh commented on #14785
How do you want to achieve that, that's the reason you rate limit, to drop what's above limit. IMHO for our tests we should be turning off the limits. Our docs should warn users about it, until docker-journald has a proper fix in place, which is each container should be taken as a separate service.

[2017-08-04 11:02] ingvagabund opened #15632 "Extended.[k8s.io] DNS should provide DNS for the cluster [Conformance]"
The test is failing when running e2e extended conformance tests over system container based deployment. The Jenkins Job producing the failures at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_system_containers/31/consoleFull (the job will get deleted eventually):

[code]

[2017-08-04 11:04] soltysh commented on #14785
Bumping to P0 as the linked PR. They are both the same, the only difference is that they touch different test regions.

[2017-08-04 11:04] ingvagabund opened #15633 "Extended.[k8s.io] DNS should provide DNS for services [Conformance]"
The test is failing when running e2e extended conformance tests over system container based deployment. The Jenkins Job producing the failures at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_system_containers/31/consoleFull (the job will get deleted eventually):

[code]

[2017-08-04 11:13] ingvagabund opened #15634 "[system containers] e2e failing tests"
The following extended conformance e2e tests are failing when run over system container based cluster deployment:

* https://github.com/openshift/origin/issues/15630
* https://github.com/openshift/origin/issues/15631
* https://github.com/openshift/origin/issues/15632
* https://github.com/openshift/origin/issues/15633

The Jenkins job running the e2e tests is currently located at [1]. The failing e

[2017-08-04 11:15] #13136 closed

[2017-08-04 12:59] janmg commented on #14766
Fedora is a frontrunner for SystemD, so if you have installed Docker using any of these methods, you should have a docker with a systemd cgroup driver. run "docker info" and your docker will show cgroupfs as cgroup driver. Probably you are better off reinstalling your docker using these instructions.
https://docs.docker.com/engine/installation/linux/docker-ce/fedora/

Debian is more recently movin

[2017-08-04 13:58] mickuehl commented on #10986
@vanloswang a possible work-around: instead of using Webhooks, configure a Git Hook in your repo and use curl to trigger the build on OpenShift:

curl --insecure -i -H "Accept: application/json" -d "" -X POST https://<insert your generic webhook from openshift here>

[2017-08-04 15:35] #15410 closed

[2017-08-04 15:46] sosiouxme commented on #15410
origin-ansible:latest,v3.7 should have the fix when [this build](https://ci.openshift.redhat.com/jenkins/job/build-and-release-latest-openshift-ansible-images/67/) completes.

[2017-08-04 16:15] php-coder opened #15637 "oc get with --all-namespaces shows incorrect columns"
When `oc get` is used for getting info about cluster-wide resources (`--all-namespaces`), `NAMESPACE` column is shown but because it always empty, the output is formatted incorrectly.

Reported by: @legionus

##### Version
[code]

##### Steps To Reproduce
1. `oc cluster up`
2. `oc login -u system:admin`
3. `oc get users --all-namespaces`

##### Current Result
[code]

##### Expected Result
[code]

[2017-08-04 16:21] mcastelino commented on #14766
@janmg you are right. I had overridden the default system unit file to add a second runtime. And that causes dockerd to switch back to cgroup. Adding systemd explicitly fixes the issue.

The unit file in my case, that works

[code]

[2017-08-04 16:43] jim-minter commented on #15555
Set `git config --system core.longpaths true`.  See https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows.

[2017-08-04 16:43] #15555 closed

[2017-08-04 16:58] jim-minter opened #15638 "Enable TSB by default in 3.7"
- treat no config as meaning use openshift namespace
- add Disabled *bool field, nil -> false
- set [Conformance][Feature:TemplateServiceBroker] on relevant extended tests

[2017-08-04 17:02] bparees commented on #15638
and then go rip down the extended_templates test jobs and remove them from the merge queue.

[2017-08-04 20:51] smarterclayton commented on #15011
Jordan and I sketched out a likely approach for avoiding the need to store pull secrets.

In OpenShift, we enable pods to automatically have access to images via the service account they run under.  The access today is delivered via an auto injected pull secret, which is created by a controller based on a new service account token for each service account.  The node is being instructed to use the

[2017-08-04 20:57] elyscape opened #15644 "Support for --scheduled flag on oc import-image"
When working with a remote Docker registry, there are various ways to import images into OpenShift. One of them is `oc tag`, which can be used to create an `ImageStreamTag` that points to a remote image. Providing the `--scheduled` flag to `oc tag` tells OpenShift to periodically ensure that the ImageStreamTag is up to date. For example:
[code]
Running this command will ensure that the `myimage:my

[2017-08-04 21:18] tavogel commented on #14965
Alas, I am on vacation 🌴 until the 14th

Do you to close this?

[2017-08-04 21:31] enj commented on #15011
So we are going to build a registry authorizer?  That statement just reminded me of the node authorizer's graph based approach.

[2017-08-04 23:29] arroadie commented on #14772
facing the same issue on CentOS Linux release 7.3.1611 (Core) trying to install Openshift

[2017-08-04 23:31] fredrikaverpil commented on #14772
@arroadie I think something just broke with epel

[2017-08-04 23:34] arroadie commented on #14772
and that's why we can't have nice things. Thanks @fredrikaverpil

[2017-08-04 23:42] jessicalucci commented on #14772
Pretty sure this is an epel error - I'm seeing the same error on a centos VM
`Loaded plugins: fastestmirror
base                                                                                                                                                                                     | 3.6 kB  00:00:00
epel/x86_64/metalink

[2017-08-04 23:43] fdr commented on #14772
Seeing this on Amazon Linux from EC2 too, for https://mirrors.fedoraproject.org/metalink?repo=epel-6&arch=x86_64

[2017-08-05 00:01] arroadie commented on #14772
Looks like it's fixed @fdr @jessicalucci @fredrikaverpil

[2017-08-05 00:56] smarterclayton commented on #15011
No, the registry simply passes on the request, and the node authorizer
may or may not need to be extended to also check transitive pull.
This is more of a sketch than full design, but permission to view pull
secrets is equivalent to permission to use pull secrets which is
equivalent to permission to pull.  If done right it's better, because
there is no transient secret that could be misappropriate

[2017-08-05 14:52] bparees commented on #14965
Since you're provided the problematic template, i can give it a try myself.

[2017-08-05 20:44] bparees commented on #14965
unfortunately it looks like this issue does persist:

[code]

[code]

[code]

so i'm going to leave this issue open.

[2017-08-06 01:03] oprudkyi commented on #13873
the same issue with v3.6.0

[2017-08-06 01:11] oprudkyi opened #15646 "redeploing of default router fails with PodFitsHostPorts"
when openshift is run via 'oc cluster up'  and router is deployed (manually or on config change) it fails to run till restart of openshift with error

No nodes are available that match all of the following predicates:: PodFitsHostPorts (1).

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://172.16.0.2:8443
openshift v3.6.0+c4dd

[2017-08-06 01:24] oprudkyi opened #15647 "softlinks stopped to work with hostPath (hostmount) in 3.6.0"
after switching to 3.6.0 from 1.5.1.  softlinks (created via ln -s)  stopped to work

i.e. for deployment config like
[code]
it results in deployment error
Error : lstat /some/path/to/softlink:  no such file or directory

though longer path , i.e. /some/path/to/softlink/subdir - works

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server

[2017-08-06 17:53] smarterclayton opened #15648 "flake: Integration test reports 403 on /healthz, possibly due to failure to register or report API group available"
Master integration test failed because master never went healthy (healthz returned 403).  Looks like failure to initialize some or all of the roles, or an inability to check the permissions

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5489/testReport/junit/github/com_openshift_origin_test_integration_runner/TestOAuthOIDC/

Attached output from unit file [junit.

[2017-08-06 17:54] smarterclayton commented on #15648
Fairly sure this is not a test flake, but a real problem with the server.

[2017-08-06 21:08] smarterclayton commented on #15648
Happened a second time in the next run (so 2 out of 200 integration test runs).  In the second run I saw:

[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5491/

The larger snippet is

[code]

[2017-08-06 21:24] smarterclayton commented on #15648
Second run looks like maybe the subsequent succeeds - not positive

[code]

[2017-08-06 21:35] smarterclayton commented on #15648
In run 1 I see a 500 being returned by /healthz:

[code]

[2017-08-06 22:20] smarterclayton commented on #15648
3 / 4 runs happens again:

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5497/

Not seen any other flakes except for this.  Similar 409's on registration, not seeing anything related to healthz.

[2017-08-07 01:39] stararks commented on #15600
Is there a way to deploy the two kinds of docker images in one cluster project? i.e.
images postgres from Docker hub and registry.access.redhat.com/rhscl/postgresql-95-rhel7
With command: _oc adm policy add-scc-to-user anyuid -z default_ Docker hub postgres image can be deployed successfully but error for redhat image.
without the command, redhat postgres image can be deployed successfully but err

[2017-08-07 03:14] wanghaoran1988 commented on #15644
/cc @miminar

[2017-08-07 03:15] wanghaoran1988 commented on #15637
/assign
Seems the clustered scope resource have this kind problem, I will take a look

[2017-08-07 04:40] smarterclayton commented on #15648
Ran two healthy runs.  So looks like ~ 1 / 200.

[2017-08-07 06:53] wanghaoran1988 commented on #15637
This issue has fixed by tablePrinter upstream, I guess a rebase can fix this.

[2017-08-07 08:07] kargakis opened #15649 "TestAdmissionPluginChains flake"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_unit/574/

@deads2k

[2017-08-07 08:57] php-coder commented on #15600
Yes, it should be possible. In this case you should use different service accounts that will have different access to SCCs.

For example, you may use redhat postgres image with `default` service account but for an image from dockerhub you should create another service account, modify `serviceAccount` field in pod spec to use this new SA and grant access to `anyuid` SCC to this SA.

Here is a link

[2017-08-07 08:58] mdshuai commented on #15578
Should same bug with https://bugzilla.redhat.com/show_bug.cgi?id=1471717 Have you enable aggregator?  In `master-config.yaml`
[code]

[2017-08-07 08:59] php-coder commented on #15637
Could you post a link to the upstream PR at least?

[2017-08-07 09:14] kargakis opened #15650 "Build step broken in some postsubmits"
Specifically:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_templates

For example:
[code]

@bparees seems that these jobs depend on push_origin_release to finish first? push_origin_release pushes only to la

[2017-08-07 10:29] wanghaoran1988 commented on #15637
1. We are fill out the empty column with empty spaces here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/humanreadable.go#L475-L478
2. And this is the some prs switch to use table printers
https://github.com/kubernetes/kubernetes/pull/49700
https://github.com/kubernetes/kubernetes/pull/49359

[2017-08-07 11:06] kargakis opened #15651 "oc cluster up: routingConfig.subdomain: Invalid value: ".nip.io": must be a valid subdomain"
<details>

[code]
</details>

@csrwng

[2017-08-07 11:06] tobru commented on #15578
YES! That was it... This was somehow a left-over from some testings with the service catalog.

[2017-08-07 11:06] #15578 closed

[2017-08-07 11:08] kargakis commented on #15651
Sorry, wrong hash used in the version, duh!

[2017-08-07 11:08] kargakis commented on #15651
With the correct hash
[code]

[2017-08-07 11:09] kargakis commented on #15651
heh... mea culpa

[2017-08-07 11:09] #15651 closed

[2017-08-07 11:40] deads2k commented on #15649
I doubt this is a flake.  Only happens on https://github.com/openshift/origin/pull/15221 ?

[2017-08-07 12:23] kargakis commented on #15649
Likely

[2017-08-07 12:23] #15649 closed

[2017-08-07 13:03] anroots commented on #13638
From one specific angle; Nginx (free) (as far as I know) is not monitor-able to a comparable degree: I can throw a Datadog agent against HAProxy stats page and get all kinds of useful metrics, but I know of no way to do this with Nginx (free).

That being said, H2 support is wanted.

[2017-08-07 13:16] stevekuznetsov commented on #15650
@kargakis is this with the new Origin sync in there? Yeah, they were meant to run from a built AMI and not from master commit post-submit as that was going to save us time. Those jobs need to start from the base AMI and build all of Origin

[2017-08-07 13:32] kargakis commented on #15650
Yeah, I had already pushed the new sync stuff.

[2017-08-07 13:34] kargakis commented on #15650
Ok, will remove them from postsubmits. SGTY?

[2017-08-07 13:35] bparees commented on #15650
the templates job is going to go away since that's now running on all merges anyway.

as for the other 2, running them post-submit would be nice, what do i need to do to make that happen?  but i'm ok w/ removing them for now to get things clean again.

[2017-08-07 13:37] jstrachan opened #15653 "disable the creation of the Jenkins DeploymentConfig if a pipeline BuildConfig exists via some other means?"
Right now on OpenShift.io we create a Jenkins Service in the users namespace `${ID}` to prevent OpenShift creating a Jenkins DC in the `${ID}` namespace if the user creates a pipeline BuildConfig there. Instead we provision a Jenkins in the `${ID}-jenkins` namespace with different quotas etc.

The problem is users can delete the Jenkins service which then forces OSO to create another Jenkins DC in

[2017-08-07 13:37] cmoulliard commented on #13638
HAProxy has support for HTTP/2 since [1.8](http://git.haproxy.org/?p=haproxy.git;a=blob;f=doc/design-thoughts/http2.txt;h=eadaaebe4290b3255a96c272ba1a61fa559ad10a;hb=HEAD)

[2017-08-07 13:41] stevekuznetsov commented on #15650
@kargakis let's move everything that currently is based off of the build AMI stage out of postsubmit and keep running them only daily

[2017-08-07 14:17] juanvallejo commented on #15578
Linking related upstream issue: https://github.com/kubernetes-incubator/service-catalog/issues/722

[2017-08-07 14:32] deads2k commented on #15011
I'm not seeing how this sketch handles the case for the build controller choosing a secret to push with.  Are you going to extend that controller too?  I'm not sure of all the knowledge currently available at that point in the code.

[2017-08-07 15:32] #15650 closed

[2017-08-07 15:42] siamaksade opened #15656 "Pipeline ignores "-n" flag on slave pod"
When using `oc` commands with `-n` flag to specify the project in an OpenShift pipeline, all `-n` flags are ignored and objects get created in the same project where Jenkins is running.

##### Steps to Reproduce
[code]
Via web console, go to `app-cicd` project and add to project using the YAML script:
[code]

Both 'oc get' commands in the pipeline, return the same result and list the buildconfigs

[2017-08-07 16:29] deads2k opened #15658 "github.com/openshift/origin/test/integration .TestOadmPodNetwork fails"
I've seen this in several jobs:

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5502/
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5538

[2017-08-07 17:12] smarterclayton commented on #15011
The build controller tells the build pod what secret to use for pushing and
for pulling.  Whether the pod changes or the controller changes doesn't
matter, except as how the implicit pull secret can be used.  Implicit pull
secret would probably need to be service account token, or instructing the
build to use its local service account token to do the pull (which depends
on what happens in the pull

[2017-08-07 17:22] deads2k commented on #15011
Maybe I'm missing a bit, but isn't this talking about not creating the pull secret that the build pod attempts to mount?  I'm not seeing how the build controller's technique of "find mountable image pull secrets and mount it in my pod" works if the pull secret can't be mounted.

[2017-08-07 17:30] liggitt commented on #15011
1. the build controller would be told what IP addresses / DNS names have registries that accept service account tokens as credentials
2. the build pods would gain two config bits the build controller could set:
  * form a pull secret with their service account credentials
  * form a push secret with their service account credentials

[2017-08-07 17:34] deads2k commented on #15011
And information about what IPs and dns names the SA token is good for.

[2017-08-07 19:35] bparees commented on #14829
@sosiouxme unrelated failure.  This was yum problems:

[code]

[2017-08-07 19:35] #14829 closed

[2017-08-07 20:28] jim-minter opened #15666 "Versions in Swagger API "x-kubernetes-group-version-kind" all reporting as "latest""
Since the 1.7 rebase, the version information is missing under "x-kubernetes-group-version-kind" under api/swagger-spec/openshift-openapi-spec.json - instead of reporting things like "version": "v1" (or whatever), everything is coming through as "version": "latest"

[2017-08-07 20:28] jim-minter commented on #15666
@deads2k or @sttts would you be able to take a look at this?

[2017-08-07 20:30] deads2k commented on #15666
Is it blocking something?  I took a guess at a p2 assuming that its not.

[2017-08-07 21:30] jim-minter commented on #15666
It'd be handy if it were fixed as it causes the api documentation autogeneration that I'm working on to come out wrong.

[2017-08-08 07:49] kargakis commented on #14569
<details>

[code]
</details>
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/5511/

[2017-08-08 10:33] cldmnky opened #15668 "Containerized install with system containers fails to start containers with local (empty-dir) volumes"
We have installed Origin on CentOS Atomic hosts using system containers. Deploying the registry using local volumes (empty-dir)  fails due to missing devices in /dev inside the system container.

During the pod setup on the node, origin-node tries to set quota using xfs_quota:
```Aug 08 07:56:30 ip-10-20-5-186.eu-central-1.compute.internal origin-node[38442]: I0808 07:56:30.791785   38453 quota.go

[2017-08-08 10:48] soltysh commented on #15644
/ok-to-test
/lgtm

[2017-08-08 12:06] soltysh commented on #15420
This was fixed in https://github.com/openshift/origin/commit/9504fe064d55dc51483a7db392e60c24263c43e8

[2017-08-08 12:06] #15420 closed

[2017-08-08 12:38] miminar commented on #15336
Happened again: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5600/testReport/junit/github/com_openshift_origin_test_integration%20%20%20/TestOadmPodNetwork/

[2017-08-08 12:49] tiran opened #15671 "Use SecureTLSConfig() everywhere"
The function ``SecureTLSConfig()`` of the name ``github.com/openshift/origin/pkg/cmd/server/crypto`` is used in several places to set safe and sane default settings of ``crypto/tls.TLSConfig``. The default  TLS version is only 1.2 instead of TLS 1.0, 1.1, and 1.2. Since PR #15400 ``SecureTLSConfig()`` also disables cipher suites with 3DES.

A couple of places in Origin's code base do not use the f

[2017-08-08 13:01] #15264 closed

[2017-08-08 13:02] liggitt commented on #15671
That function is for setting TLS config for the server endpoints we start. The call sites you linked are for clients. We need to be cautious about tightening TLS config in clients that speak to servers we don't control (like the LDAP client)

[2017-08-08 13:08] liggitt commented on #15336
different cause, dupe of https://github.com/openshift/origin/issues/15648

[2017-08-08 13:08] #15336 closed

[2017-08-08 13:21] olsib commented on #14428
Is the fix for this pulled in origin v3.6.0?

[2017-08-08 13:22] kargakis commented on #9273
Added in https://github.com/openshift/origin/pull/15454

[2017-08-08 13:31] stevekuznetsov commented on #14428
[code]

Looks like yes.

[2017-08-08 13:34] #14428 closed

[2017-08-08 14:22] tiran commented on #15671
Would it make sense to create a ``utils.SecureTLSClientConfig()`` function for all client side configurations? That way we can at least tighten cipher suite selection and make it easier to drop TLS 1.0 and 1.1 at a later point.

I was also concerned about LDAP. In fact I have an experimental branch on disk that uses VersionTLS10 for LDAP. Or would you rather see a new option in ``LDAPPasswordIdent

[2017-08-08 14:28] liggitt commented on #15671
possibly. most of our clients' tls config are built using upstream methods, so I would start the discussion there, rather than try to wrap/fork the client builders.

We definitely have to expose the option if we use non-defaults... there are some terribly old LDAP stacks people rely on.

[2017-08-08 14:48] miminar commented on #11232
@conatus are all nodes ready? Make sure not to override AWS dns names used internally for any node in any config.

Is the registry pod deployed? (`oc get pods -n default | grep registry`)

[2017-08-08 15:09] #15648 closed

[2017-08-08 15:45] danwinship commented on #15417
dup of #14385

[2017-08-08 15:45] #15417 closed

[2017-08-08 16:26] chenchik opened #15678 "Adding hostPath Volume Halts Deployment Completely"
I'm trying to get a JDBC Kafka Connect connector working with Openshift. I am using the "all in one" vagrant VM to run Openshift.

I have shhed into the all in one VM and have successfully ran the container I wanted to run using strictly docker. This was the command I used:

[code]

I can replicate creating the pod with all the environment variables set, but once I try to bind mount the required v

[2017-08-08 16:32] detiber opened #15679 "kubernetes/pkg/master.TestValidOpenAPISpec unit test failure when DETECT_RACES=false"
kubernetes/pkg/master.TestValidOpenAPISpec unit test failure when DETECT_RACES=false

##### Version
master

##### Steps To Reproduce
1. hack/env JUNIT_REPORT=true DETECT_RACES=false make test-unit WHAT=vendor/k8s.io/kubernetes/pkg/master

##### Current Result
TestValidOpenAPISpec test fails

##### Expected Result
All mater unit tests pass

##### Additional Information
vendor/k8s.io/kubernetes/pkg/

[2017-08-08 16:36] detiber commented on #15679
@deads2k most recent commits in this area seem to be attributed to you

[2017-08-08 16:42] deads2k commented on #15679
My general thoughts on openapi stuff is just disable it because it probably never worked.

[2017-08-08 16:42] bparees opened #15680 "Extended.[builds][pruning] prune builds based on settings in the buildconfig should prune completed builds based on the successfulBuildsHistoryLimit setting"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/163/testReport/junit/(root)/Extended/_builds__pruning__prune_builds_based_on_settings_in_the_buildconfig_should_prune_completed_builds_based_on_the_successfulBuildsHistoryLimit_setting/

[2017-08-08 17:06] coreydaley commented on #15680
looking

[2017-08-08 17:18] deads2k opened #15681 "TSB template needs a health check"
The healthcheck is needed to prevent serving on a bad cache.

[2017-08-08 17:19] deads2k opened #15682 "TSB template needs config that ansible can maintain"
We need a reasonable way to configure multiple namespaces for the TSB.  It is possible today with a direct template modification, but something more maintainable in order to make ansible work.

I'll get up with @sdodson about this.

[2017-08-08 17:30] detiber commented on #15679
@deads2k it passed prior to the rebase, I'll see if I can track down a fix post-rebase

[2017-08-08 20:27] bparees opened #15685 "Extended.[builds][Slow] openshift pipeline build Pipeline with env vars should build and complete successfully"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/164/testReport/junit/(root)/Extended/_builds__Slow__openshift_pipeline_build_Pipeline_with_env_vars_should_build_and_complete_successfully/

Not marking as a flake because i think it's failing every time right now.

[2017-08-08 20:53] juanvallejo commented on #15280
Related upstream PR: https://github.com/kubernetes/kubernetes/pull/50113

[2017-08-08 21:18] smarterclayton opened #15687 "Subject access reviews changed behavior?"
Pre 3.6.0, this seemed to work when the user was a viewer on the namespace.  Now it fails in 3.6.0:

[code]

[2017-08-08 21:19] smarterclayton commented on #15687
Is the "name" field changed to `resourceName`?

[2017-08-08 21:25] smarterclayton commented on #15687
@openshift/sig-security this looks like a 3.6.0 regression / behavior change from an earlier version of 3.6.0.

[2017-08-08 21:29] detiber commented on #15679
@deads2k I think I tracked down the issue, just not a fix yet. It looks like upstream release-1.7 is generating openapi paths like this: k8s.io/kubernetes/pkg/api/v1.ComponentStatus and we are generating them like this: k8s.io/api/core/v1.ComponentStatus

[2017-08-09 04:18] pmorie opened #15689 "Update openshift/service-catalog to 0.0.14"
This issue is to update the vendored code for service-catalog to 0.0.14 and update the template used by `oc cluster up` to be compatible with that version.

[2017-08-09 08:40] GrahamDumpleton commented on #15429
I can see a bit of ambiguity here around use of ``--suppress-triggers``.

The intent as I understand it is that want to create the build configuration and deployment configuration, but simply don't run the initial build. The initial build would have to be started using ``oc start-build``, or perhaps as web hook trigger from a git push against a repo. After that, everything would then run as normal

[2017-08-09 10:49] soltysh opened #15692 "Extended.[Conformance][networking][router] router headers The HAProxy router should set Forwarded headers appropriately"
[code]

Seen in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/3746/

[2017-08-09 11:09] miminar commented on #15452
Resolved by #14585.

[2017-08-09 11:09] #15452 closed

[2017-08-09 11:15] miminar commented on #12542
The upstream and RH issues have been fixed a long time ago. If we see another `blob unknown to registry`, let's open a new issue.

[2017-08-09 11:15] #12542 closed

[2017-08-09 11:26] miminar commented on #11012
The `DockerImageConfig` is now being intentionally removed. It's now stored on registry's storage instead. Serving the image without the `DockerImageConfig` filled has been fixed.

[2017-08-09 11:26] #11012 closed

[2017-08-09 11:32] cldmnky commented on #15668
I took the liberty to submit a PR to solve this: https://github.com/openshift/origin/pull/15693

[2017-08-09 12:09] deads2k commented on #15658
seven out of the top 10 failed integration tests are failing on this: https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_integration&state=failure.  Making it a p1

@danwinship @dcbw @knobunc I'm not sure who owns it, but it appear network-y.

[2017-08-09 12:51] bparees commented on #15429
@GrahamDumpleton what you're asking for isn't possible.  If you have an imagechangetrigger, it is going to fire when then the buildconfig is created because we're doing to see that we haven't yet run a build for the current level of the imagestream in question.

There is no option for "run a build whenever the imagestream is newer than the most recent build, but only if we've run at least one buil

[2017-08-09 13:18] bparees opened #15695 "Flaky container create/pod start behavior"
I'm seeing a lot of test failures due to pods/containers that fail to start, e.g.:

[code]

as seen in:

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/168/

Here we see the current time and the fact that the pod was created much earlier but is still pending:
[code]

due to it being in container create:

[code]

[2017-08-09 13:19] php-coder commented on #15627
Could you provide an use-case when "levels will be failed"? Where we're comparing SCCs by SELinux properties?

[2017-08-09 13:19] bparees commented on #15695
@derekwaynecarr I don't know if the k8s team should also be involved in this or not, so just ccing you for now.

[2017-08-09 14:11] gabemontero commented on #15685
trying it now locally, but I bet there is some timing issue with the throttling that was added ... especially with this fast running build/test

[2017-08-09 14:20] simo5 commented on #15687
@smarterclayton  Can you give a simple reproducer ?

[2017-08-09 14:23] detiber commented on #15679
@deads2k What is the process for regenerating ./vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go ?

I've tried to run `make update` and `hack/update-generated-openapi.sh`, but have not been able to successfully run either command.

[2017-08-09 14:24] pweil- commented on #15627
I'll try to clarify

Currently the `SELinux.Level` field will fail if it has:

On the Pod: `s0:c6,c0`
On the SCC: `s0:c0,c6`

So the SCC strategy is doing a straight == comparison of the fields which doesn't take into account that the ordering of `c0` and `c6` shouldn't matter, the allowed categories are the same.

We should also take into account ranges which can be expressed with shorthand of `c

[2017-08-09 14:27] danwinship commented on #15658
In #15336 (at the bottom), @liggitt said that this was actually caused by #15648, which was fixed by #15654  yesterday morning. It looks like this failure has still occurred since that merged, although I can't figure out how to tell the exact master commit a given test run merged against.

----

Assuming the problem isn't fixed, it's because the Namespace SharedInformer doesn't seem to be informin

[2017-08-09 14:28] deads2k commented on #15679
The upstream file is done in the openshift/kubernetes fork. You'll probably need to sync all upstream patches from openshift/origin, then merge them into the upstream fork, then pull the upstream fork (it won't build), then generate the files locally, then cherry-pick the changes into openshift (again locally), and then open an origin pull.  It seems crazy when you're doing it.  It seems even craz

[2017-08-09 14:28] csrwng commented on #15429
For new-app we have the case where you are only creating a new deployment from an existing image. In that case, I think it would be useful to suppress the deployment config trigger as well so you have a chance to add secrets, change env vars, etc.

[2017-08-09 14:30] vvk opened #15698 "`oc annotate` with `--overwrite` flag doesn't update resource version"
When using command `oc annotate namespace` with `--overwrite` flag, `resourceVersion` is not updated.

##### Version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server XXX
openshift v1.3.3
kubernetes v1.3.0+52492b4

##### Steps To Reproduce
1. Run `oc get namespace <namespace-name> -o json`
2. Remember `resourceVersion` value.
3. Run `oc annotate namesp

[2017-08-09 14:32] bparees commented on #15429
I considered that and don't disagree, but mostly likely people will be in the model of "i don't want the buildconfig to run, but once it does, i do want my DC to be triggered"

so if we're going to allow suppressing the DC triggers also, i think that has to be separate/explicilit.  ie "supress-bc-triggers" and "suppress-dc-triggers" as separate flags.  (sigh).

[2017-08-09 14:35] smarterclayton commented on #15687
No, it's a token granted by oauth flow that we're checking against the subject access review.  You can do:

[code]

If you then try hit the prometheus route, you'll go through an oauth dance as "admin" (any password).  The oauth proxy takes the oauth token and then asks for it from the endpoint I posted above:

[code]

where $TOKEN is the value that comes from the oauth dance with just the two sco

[2017-08-09 14:36] stevekuznetsov opened #15699 "Why does it take so long to tell a client that a resource does not exist?"
[code]

[code]

@smarterclayton @deads2k @sttts

[2017-08-09 14:38] sttts commented on #15699
It's redownloading discovery information on cache miss in the rest mapper. That download is apigroup by apigroup, in serial (yes, that's not very clever).

[2017-08-09 14:39] smarterclayton commented on #15699
I have an issue open upstream on this, and it probably shouldn't re download if the cache is relatively fresh.  It's a big usability thing.

[2017-08-09 14:41] sttts commented on #15699
What about etags? We got that for openapi. Would maybe make a difference here as well, especially if we combine all the downloads into one.

[2017-08-09 15:04] liggitt commented on #15687
set up user and project:
[code]

create token.yaml:
[code]

[code]

submit sar.json:
[code]

[code]

[2017-08-09 15:05] liggitt commented on #15687
a get of a namespace is namespaced scoped. this SAR returns success:

[code]

[2017-08-09 15:10] smarterclayton commented on #15699
we got it and reverted it because it was horribly broken.  so we don't have it yet :)

[2017-08-09 15:11] gabemontero commented on #15685
Multiple items at play ... the blueocean plugin bump resulted in a new problem:   the blueocean api we were leveraging has changed/moved.

[code]

It was not obvious since we had to use reflection to get at it.  Now that jenkins-1-* has been deprecated, we can punt on that.

And as has been discussed before, our jenkins repo test currently does not employ the plugin extended tests.  The impacts ar

[2017-08-09 15:13] smarterclayton commented on #15687
Has it always been that way?

On Wed, Aug 9, 2017 at 11:05 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-08-09 15:18] liggitt commented on #15687
I'm building from 1.5.x now to check... I would have thought so

[2017-08-09 15:20] gabemontero commented on #15685
... though perhaps we wait on the throttling causing such an issue actually occurring (we do push complete states immediately) before implementing that change.  We'll see how the local tests go after fixing the blue ocean class/api issue.

[2017-08-09 15:23] smarterclayton opened #15702 "image build failed but hack/build-images.sh reported exit code 0"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/435/consoleFull#51809343558b6e51eb7608a5981914356

[code]

[2017-08-09 15:33] liggitt commented on #15687
just verified with 1.5.x, same behavior with legacy SAR. you have to specify the namespace in the SAR to get an `ok` for a namespace-scoped user

[2017-08-09 15:39] enj commented on #15687
@smarterclayton perhaps your previous testing involved running a SAR against a user who could get all namespaces?

[2017-08-09 16:04] sttts commented on #15699
if only broken by implementation, there is hope.

[2017-08-09 16:15] liggitt commented on #15687
verified behavior has not changed since pre-3.6.x, closing

[2017-08-09 16:15] #15687 closed

[2017-08-09 16:16] liggitt commented on #15658
fixed by https://github.com/openshift/origin/pull/15700?

[2017-08-09 16:19] gabemontero commented on #15685
Yeah, the test is passing again for me locally with just the plugin update.  No update to the test case needed to delay between build completion and annotation check.  Going to forgo such a change (a completed build should be flushed from the sync plugin to openshift immediately).  We still check build status every second in jenkins (though we had experimented with making that interval longer, we

[2017-08-09 16:30] dmage commented on #14772
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/3773/testReport/junit/(root)/Verify%20upgrade%20targets/_localhost__Check_latest_available_OpenShift_RPM_version/
The message is different, but the same component.

[2017-08-09 16:38] marekjelen commented on #15429
@bparees agree, this request came from real world problem ... @mhausenblas and me were using OpenShift to build project --from-dir ... however, as `new-app` does a lot of magic and there was `.git` in the directory, `new-app` was setting the source to the Github repo, which did not have the latest source code, as we were doing local testing. As the first build is always triggered, it gets the sour

[2017-08-09 16:45] arroadie commented on #14772
yeah @dmage , you may want to try that again in a couple hours. From what I read epel is updated with rsync and sometimes it fails to propagate leaving that as result.

[2017-08-09 16:54] davehatton opened #15708 "oc adm ipfailover gives unexpected errors"
oc adm ipfailover gives unexpected errors

This is when following the documented example

https://docs.openshift.org/1.5/admin_guide/high_availability.html#configuring-a-highly-available-service

##### Version
oc v1.5.1
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://dev1-ivp-coe-vip:8443
openshift v1.5.1
kubernetes v1.5.2+43a9be4

##### Steps To Reproduce
[co

[2017-08-09 17:10] Jooho opened #15709 "Image Policy does not work as expected"
From this [doc](https://docs.openshift.com/container-platform/3.5/admin_guide/image_policy.html), I can get sample for image policy.

After restarting cluster, I expected :
 - it can pull any images from docker.io
 - it block imageStreamTag that has specific annotation
 - it still can use default template like cakephp or eap based on imageStream

However, it can not possible to deploy default temp

[2017-08-09 17:32] tiran commented on #15671
@liggitt I discussed your suggestion with @simo5, @pweil- and @enj. We came to an agreement. I'll create an upstream issue and propose a mechanism to define a policy for TLS connections.

I'm also going to create an issue to look into LDAP settings for Origin.

[2017-08-09 17:38] fortinj66 opened #15711 "oc volume --add issues"
I'm getting an error when I try to create a new volume via the CLI.  Here is the simplest xase pretty much right out of the examples:

[code]

##### Version
[johnf@os-master-d01 scripts]$ oc version
oc v1.5.1
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://os-master-d01:8443
openshift v1.5.1
kubernetes v1.5.2+43a9be4

##### Steps To Reproduce
[code]
##### Curr

[2017-08-09 18:13] pweil- commented on #15647
@smarterclayton FYI, looks like this could be a regression

@childsb if this is a regression let's make sure that QA has a test case for this scenario

[2017-08-09 18:21] csrwng commented on #15646
It seems that the router is getting deployed with the wrong strategy. If using a rolling type of deployment the old and new deployment would not be able to coexist, given that they both use the same host ports. When deployed in a single node cluster, it should be a recreate type of deployment.

[2017-08-09 19:21] fortinj66 commented on #15711
I figured out the issue and work-around.
The dc was deploying from an image stream tag.  Adding a volume with this setting fails from the cli.  When I changed the dc to deploy from an image the volume was created properly from the cli...

Not sure if that is supposed to work that way or not...

[2017-08-09 19:32] bparees commented on #15656
@csrwng i feel like this came up before, any recollection?

[2017-08-09 19:33] kargakis opened #15715 "Verify Requirements.[localhost] openshift_health_check"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/3802/testReport/junit/(root)/Verify%20Requirements/_localhost__openshift_health_check/

@sdodson seems like yum
/kind test-flake

[2017-08-09 19:34] csrwng commented on #15656
When we last looked at it, I think it was because somehow Jenkins was adding the "-n {namespace}" parameter itself before the arguments passed in the pipeline. It'd be good to add a --loglevel=10 to the invocations to see what's actually going on in the command.

[2017-08-09 19:36] bparees commented on #15656
was that just with the client plugin?  I can't even imagine how that would be happening with just a shell operation.

[2017-08-09 19:38] csrwng commented on #15656
Yeah, I think it was the client plugin. I don't remember if there's anything on the slave causing issues with the 'oc' binary. Another possibility is that in this case the maven slave has an outdated version of the binary and that this problem has since been fixed.

[2017-08-09 21:25] smarterclayton commented on #15518
I double checked in 3.7.0 with both defaultioaccounting and defaultblkioaccounting on (on centos7 514) and everything worked as expected (the cgroup blkio.io_serviced value matched the reported stats).  Maybe this was something on those boxes.

[2017-08-09 22:22] dmage commented on #15715
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/3823/console

<details>
<summary>Log</summary>

[code]
</details>

[2017-08-09 22:23] GrahamDumpleton commented on #15429
@bparees I well suspected that it couldn't be done such that once first build was then manually triggered everything ran as normal. The point of me going to the extent of adding my description was to show to @mhausenblas that I felt the direction things were headed wasn't what they thought they perhaps really wanted as he was describing it to me before I posted my message.

Anyway, if the desire i

[2017-08-10 00:08] bparees commented on #15429
technically it creates a buildconfig that explicitly indicates it expects binary inputs (which helps provide nice error messages if you try to start the build by hand w/o providing a binary input), but in hindsight the "binary" model for buildconfigs is maybe not the greatest design, since any buildconfig can be run as a binary build, even if it doesn't explicitly declare itself to be a binary bui

[2017-08-10 00:10] abdelhegazi opened #15720 "Forbidden from mounting hostPath to CronJob"
I am basically creating a CronJob that does one specific job taking a snapshot of Consul cluster metadata that is set up within statefulSet, this metadata to be saved by this cronjob somewhere (which i thought I will be able to mount a hostPath)
##### Version
[code]
##### Steps To Reproduce
1. Stateful set cluster is already up an running
2. ` oc create -f cronjob.yml`
[code]

##### Current Result

[2017-08-10 04:57] marekjelen commented on #15429
This is the use-case https://github.com/mhausenblas/reshifter/blob/master/Makefile

[code]

a) it does not need to use remote git repo, but as `.` is cloned from Github it does set the source to the github repo automagically
b) the variable needs to be setup before the build can be started without failing

[2017-08-10 05:47] GrahamDumpleton commented on #15429
In that case you would use ``oc new-build``. The issue is whether ``--context-dir`` works for binary build. Likely need to do:

[code]

Or if it copies up the files into an ``app`` subdirectory, just ``cd`` to the subdirectory before running the ``oc start-build`` command and use ``--from-dir=.``.

[2017-08-10 09:44] mguillem opened #15723 "flow: Permission denied on 1.5, ok on 1.3"
[Flow](https://github.com/facebook/flow) can be used on OpenshiftOrigin 1.3 but it fails with EACCES (Permission denied) on 1.5

##### Version
Failing with:
openshift v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4

working fine with:
openshift v1.3.1
kubernetes v1.3.0+52492b4

##### Steps To Reproduce

1. Create file `Dockerfile`
[code]
2. Create file `pb-flow.bc.yml`
[code]
3. Run following in the fold

[2017-08-10 10:00] objectiser opened #15724 "error: unable to recognize '...': no matches for monitoring.coreos.com/, Kind=Prometheus"
I have an [example](https://github.com/objectiser/opentracing-prometheus-example) that uses minishift (v1.2.0) with openshift v3.6.0-alpha.2 to deploy prometheus-operator. However when I update to openshift v3.6.0 I get:

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.176:8443
openshift v3.6.0+c4dd4cf
kubernetes v

[2017-08-10 11:39] soltysh opened #15726 "Double resources created with oc new-app when image stream is specified"
This was performed on latest master (as of today):
[code]

##### Steps To Reproduce
1. `oc import-image hello --from=docker.io/openshift/hello-openshift --confirm` - creates an image stream
2. `oc new-app hello --image-stream=hello` - this will create *two* identical DC and SVC

##### Current Result
[code]
##### Expected Result
Only one DC is created.

[2017-08-10 12:44] ksemaev opened #15729 "Correlation between ansible, branches and oc version"
Can't find anywhere which version of what should I use. Where is a table which says that these versions of ansible works with these versions of openshift, which is installed from this branch?

Had lots of problems trying to install with ansible 2.3.1.0 from master branch which gave me oc v1.5.1 with broken metric and many other conflicts.

Please provide this information)

[2017-08-10 13:00] marekjelen commented on #14340
Worth to bring this up for 3.7?

[2017-08-10 13:06] jorgemoralespou commented on #15429
I would also consider interesting to be able to deploy skip application deployment, so additional configuration can be added to the deploymentConfig, like probes before doing a deployment.

[2017-08-10 13:12] objectiser opened #15730 "Rolling update stalls when deployment has been scaled down"
I deploy a couple of services - if I scale down one of them, and update the deployment config to change the docker image version (via editing the deployment config in the UI), it then goes into "Rolling update" mode in the UI, and doesn't complete - it hangs (as shown in the following image).

![origin-rolling-update-stall](https://user-images.githubusercontent.com/164562/29171685-3e9d48fe-7dd5-11

[2017-08-10 14:28] bparees commented on #15726
you asked for two things, you got two things, what's the bug?

you told new-app:

1) figure out what this "hello" thing is and create resources for it.  it figured out it's an imagestream and created resources for it.
2) please create resources for this other thing named hello, i'm telling you explicitly it's an image-stream.  It created resources for it.

if you only want one, either run:

[code]

[2017-08-10 14:28] #15726 closed

[2017-08-10 14:41] liggitt commented on #15322
kube is bumped to 3.1.x for 1.8, will bump to 3.2.x in 1.9

[2017-08-10 15:45] jim-minter opened #15731 "Stop allowing oc cluster up version X to instantiate a server version X-1"
Although it's a cool idea to be able to instantiate previous versions of origin using a more recent oc cluster up, as complexity/distribution increases I think it's becoming untenable/expensive.  Example: #15677.  Without test cases, I don't see how we can guarantee correctness.  I think we should draw a clear line in the sand after which oc cluster up will only instantiate servers matching its ve

[2017-08-10 15:54] bparees commented on #15731
@hferentschik @LalatenduMohanty @gbraad (I don't think this would affect minishift since they would be expected to align the client binary and the openshift version, but we should make sure).

@jorgemoralespou as a consumer of oc cluster up, any feelings on this one way or another?  Do you use a single oc binary to launch different versions?  would it be a burden for you to have to use different o

[2017-08-10 15:58] bparees commented on #15653
@jstrachan we can take this as an RFE but my understanding is today you have your own cluster so why not just disable autoprovisioning in the cluster entirely?

https://docs.openshift.org/latest/install_config/configuring_pipeline_execution.html#overview

[2017-08-10 16:01] jstrachan commented on #15653
@bparees good point ;) lemme check if we can do that

[2017-08-10 16:01] bparees commented on #15653
converted this to a trello card: https://trello.com/c/6NPQRyHl

[2017-08-10 16:01] #15653 closed

[2017-08-10 16:06] jpeeler commented on #15689
PR here: https://github.com/openshift/origin/pull/15732

[2017-08-10 16:45] levysantanna commented on #10171
I had the same error today:

`$ oc create --dry-run --validate -f portal-intranet-dev-dc.yml
error: error validating "portal-intranet-dev-dc.yml": error validating data: couldn't find type: v1.DeploymentConfig; if you choose to ignore these errors, turn validation off with --validate=false
`

It was an export from another openshift cluster.

[2017-08-10 16:45] levysantanna commented on #10171
`$ cat portal-intranet-dev-dc.yml
apiVersion: v1
kind: DeploymentConfig
metadata:
  generation: 1
  labels:
    app: portal-intranet-dev
  name: portal-intranet-dev
spec:
  replicas: 1
  selector:
    app: portal-intranet-dev
    deploymentconfig: portal-intranet-dev
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%

[2017-08-10 16:51] levysantanna commented on #10171
Using the same exported DeploymentConfig using JSON it worked:

`
$ oc create -f portal-intranet-dev-dc.json
deploymentconfig "portal-intranet-dev" created
`

[2017-08-10 16:56] mrogers950 commented on #11114
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/3885/

[2017-08-10 17:34] gabemontero commented on #15731
So would this prevent an openshift developer from:
- building his openshift/origin local snapshot from scratch, including all images via hack/build-local-images.py
- running `oc cluster up --version=latest` and pick up those images built via hack/build-local-images.py

Or would part of this issues' implementation allow the equivalent by either:
- simply removing the need for `--version=latest`, or

[2017-08-10 17:34] rezie commented on #15709
The images that are trying to be deployed according to your image at the bottom (which are Openshift's component images) need to be prefixed with a registry (e.g. dockerhub's) that your ImagePolicy accepts, e.g. the `allow-images-from-dockerhub` rule. You can modify this via the `imageConfig.format` stanza in your master config.

[2017-08-10 17:39] bparees commented on #15731
@gabemontero it wouldn't prevent that.  the local oc binary they just built, and the openshfit binary in the images they just built, would have the same version.

passing "--version=latest" doesn't matter, we check the version by actually running the binary.

[2017-08-10 17:42] gabemontero commented on #15731
On Thu, Aug 10, 2017 at 1:39 PM, Ben Parees <notifications@github.com>
wrote:

cool deal

[2017-08-10 17:58] Jooho commented on #15709
@rezie thanks for update.

I add registry.access.redhat.com in ```imageConfig.format``` in master-config.yaml then now it is successfully deploying openshift component images but still images from integrated docker registry could not deploy.
[code]
This image policy is to allow the images from integrated docker registry, right?

[2017-08-10 18:00] Jooho commented on #15709
Moreover, if the way adding ```registry.access.redhat.com``` for ````mageConfig.format``` is right, I think doc should explain it because without it, ocp cluster will stop deploying any images due to image policy. what do you think?

[2017-08-10 18:06] rezie commented on #15709
I had confusion on my end trying to deploy images from the internal registry as well - see #15475. It looks like there's currently a problem if you are deploying applications via a DeploymentConfig; if you deploy an image through a Pod directly, then there's no problems with using the integrated registry.

I'll defer the prefixing question to someone else, since I'm not entirely sure if that worka

[2017-08-10 19:00] pweil- commented on #15724
[code]

`monitoring.coreos.com/v1alpha1` is not an api group that OpenShift provides, it looks to be a coreos custom API.  An example of deploying prometheus as a pod in OpenShift can be found here: https://github.com/openshift/origin/tree/master/examples/prometheus

[2017-08-10 19:00] #15724 closed

[2017-08-10 19:02] pweil- commented on #15723
@php-coder

[2017-08-10 19:03] pweil- commented on #15720
@php-coder

[2017-08-10 19:52] hferentschik commented on #15731
Well, per default we align the _oc_ version with the baseline OpenShift version used by a given Minishift release. We used to do the same for provisioning earlier version of OpenShift. However, we switched to an approach where we use the "baseline" oc to provision earlier versions of OpenShift. There were for example issues provisioning say OpenShift 1.4 with _oc_ 1.4. However, it works when provi

[2017-08-10 20:01] hferentschik commented on #15731
For what its worth, the use case for us is to give users who for example run OpenShift 1.4 or 1.5 in production the ability to match their OpenShift version when using Minishift.

[2017-08-10 20:02] sdodson commented on #15729
Origin 3.6 RPMs have not been published which is causing some problems. But with regard to the branches does this PR help? https://github.com/openshift/origin/issues/15729

[2017-08-10 20:37] ksemaev commented on #15729
What PR are you talking about?) I just don't quite understand the dependencies between ansible and oc versions at this point. Many issue resolvers tell in this repo that you should use ansible version. For example (I know it is different repo, and installer has another different repo, but may be this concern any playbooks/branches/versions): https://github.com/openshift/origin-metrics/issues/331
"

[2017-08-10 20:39] bparees commented on #15731
@hferentschik going forward, what's the use case for someone getting the minishift release from 3.7 and wanting to run 3.6 with it, instead of just getting the minishift 3.6 VM?

[2017-08-10 20:40] sdodson commented on #15729
Sorry I meant to link to https://github.com/openshift/openshift-ansible/pull/5057

[2017-08-10 20:47] ksemaev commented on #15729
Yep, thank you for the linking!

[2017-08-10 21:00] LalatenduMohanty commented on #15731
I think for users it wont be a blocker if we provision v3.6 from v3.6 oc binary and v3.7 from 3.7 oc binary. However I remember @jorgemoralespou mentioned that he use latest oc binary to provision older OpenShift version.

[2017-08-10 23:20] #15644 closed

[2017-08-10 23:20] #15679 closed

[2017-08-11 02:32] praveenkumar commented on #15731
@bparees Moving forward if I download  a released oc client binary after this implementation then what would happen if I use ` oc cluster up --version 3.6.0` assuming I have client binary as 3.7.0. Does oc client binary just ignore `--version` and provision 3.7 or it will just abort by saying this is not support?

In past we had issue when provisioning origin-1.4 with oc-1.4 because it didn't have

[2017-08-11 02:41] slaterx commented on #15583
Is testing complete?

[2017-08-11 04:23] bparees commented on #15731
@hferentschik I don't understand why those customers can use a version of minishift that aligns with their cluster version?

If there were issues provisioning openshift 1.4 using oc 1.4, what was shipped in the "1.4" version of the CDK/minishift?  That sounds like something that should have been fixed in the 1.4 stream.

@praveenkumar I think we'd want to have it tell you its not supported.  Frank

[2017-08-11 04:30] gbraad commented on #15731
I agree with @bparees, as provisioning an older or even a newer version can cause side effects. This is not a use-case you want to support. I understand how this can affect CDK, but in that case they would have to accept a download (related to 2. as they binary for a previous version is not embedded/included).

[2017-08-11 05:56] debianmaster commented on #13500
@smarterclayton   can you take a look at my comment above

[2017-08-11 07:31] objectiser commented on #15724
@pweil- Hi Paul - was curious why this worked with v3.6.0-alpha.2?

The problem with the project you have referenced is that it does not automatically manage collection of the prometheus metrics from deployed services as they are deployed or scaled up.

[2017-08-11 07:41] hferentschik commented on #15731
Minishift progresses quite fast. We release every three weeks, usually with several new features. We are adding new commands (new ways to mount host folders, improvements to add-on mechanism, bug fixes, etc). For us it is nice to be able to provide this new features to the user while he still uses OpenShift in an older version.

Also, assuming that being able to provision 1.4 while it is still sup

[2017-08-11 08:48] pennpeng opened #15741 "k8s_storage containers is exited"
[provide a description of the issue]

##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result
the storage container is exited:
[code]

and the logs:
[code]

[2017-08-11 09:24] ksemaev opened #15742 "Device-mapper storage config uses only half of dedicated space"
Nodes run out of space in thin pool, which still has much space unused. May be it is docker issue, not openshift, but I am not sure and ask for advice.
Maybe you can show me url describing how to setup automatic cleanup of nodes thin pool space.
Thank you very much for any help!

##### Version
oc v1.5.1

##### Steps To Reproduce
1. Configure Docker storage setup with device mapper with default con

[2017-08-11 09:59] php-coder commented on #15678
Do you see any errors in `oc get events`, `oc `status` output? I'm not sure but probably you may have problems because the usage of hostPath volumes have to be allowed by SCC. If it's the case then you should grant access to `hostaccess` SCC to the appropriate service account.

[2017-08-11 11:10] php-coder commented on #15720
This looks like that the service account `consul-account` needs permissions to create privileged pods and mount hostPath volumes. Try to execute `oc adm policy add-scc-to-user privileged -z consul-account` command within the project.

See https://docs.openshift.org/latest/admin_guide/manage_scc.html#grant-access-to-the-privileged-scc and https://docs.openshift.org/latest/admin_guide/manage_scc.htm

[2017-08-11 11:18] ronsengupta commented on #14708
I still get this on RHEL 7.4 and OCP 3.5

[2017-08-11 11:26] abdelhegazi commented on #15720
Thanks @php-coder
I actually have looked at this, and I did use a super super super privileged service account that is enjoying cluster-admin

to complete my issue, it only happens with any thing acts as scheduler, looking at this job it executes very well but its only Job not cronJob neither scheduledJob which is what exactly I need

This is succeeding to mount it,
[code]

and this is my cronjob/

[2017-08-11 11:26] abdelhegazi commented on #15720
At any point, being a `batch/v2alpha1` would that be an issue?

[2017-08-11 11:30] php-coder commented on #15720
@soltysh Could you take a look?

[2017-08-11 11:34] abdelhegazi commented on #15720
To show you the weird happenings here, this is what exactly I have done
[code]

This is never a problem with the Job, as I am literally able to snapshot consul metadata but I don't really want to have a cronjob running on the cluster, instead would rather have it run  by a cronjob object.

[2017-08-11 12:16] abdelhegazi commented on #15720
@php-coder I guess I may have found a bug
One thing just spotted when exporting the job created by my job.yaml i can see it has the `serviceaccount`exported as you can see here
[code]

but when exporting one of the failed jobs created by my cronjob i can't see that information there
[code]
and exporting the real cronjob itself doesn't have it too
[code]

[2017-08-11 12:24] pweil- commented on #15724
@objectiser without an api aggregator (ie something installed that was providing that API and registering it somehow) I'm not sure how it would've worked for you before.  I did a little bit of research and it appears this this is an API that coreos provides on top of Kube.  Their [Prometheus Operator](https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html) is what see

[2017-08-11 12:32] sdodson commented on #14043
@enj you said this was happening now because we need to fix https://github.com/openshift/openshift-ansible/issues/5021 ?

[2017-08-11 12:35] enj commented on #14043
No it's only consistent on #15021 because we need the 3.7 release tag.  https://github.com/openshift/openshift-ansible/issues/5021 is related but not to this flake.

[2017-08-11 13:31] soltysh commented on #15726
Oh, sorry for the misunderstanding. You're right I've assumed `hello` after `oc new-app` is the name whereas I should've used `--name` flag to force a specific name for generated artifacts. I must have messed it with `oc run` which works that way. Thanks!

[2017-08-11 13:56] objectiser commented on #15724
@pweil- Before doing the steps to reproduce I always run `minishift delete` - so assume this would be a completely clean environment, followed by the steps I've listed above - and agree that neither yaml file contain any TPR definitions, so confused where these are being defined.

[2017-08-11 14:21] jorgemoralespou commented on #15731
@bparees, @jim-minter -1 as this breaks a feature we use. In any case, I don't think you've been providing QA to validate this feature and I think that is Ben always up to the user. I would keep the feature and keep not supporting it.
@grahamdumpleton you're also affected

[2017-08-11 14:24] bparees commented on #15731
Please elaborate on why the alternatives (use the right binary for the cluster version you want) are not sufficient for your use case.  The minishift team has provided some valid concerns, what are yours?

that's a terrible user experience.  And you're not going to put up with us telling you "sorry, that scenario is unsupported, we're not fixing it."  Not to mention how terrible it will look for u

[2017-08-11 14:27] gabemontero commented on #15656
Don't see how it would be the client plugin, but am investigating.  Have reproduced locally.

And it is just when running in a slave.  If I change the script so that it runs on master, it behaves as expected.

[2017-08-11 14:48] gabemontero commented on #15656
Running with loglevel 10, this has caught my eye:

`I0811 14:28:12.203215      94 merged_client_builder.go:145] Using in-cluster namespace
`

Seeing what that actually means...

[2017-08-11 15:09] #14419 closed

[2017-08-11 15:24] pweil- commented on #15724
@objectiser did a bit more digging and local testing on this one, sorry for the delay.  In 3.6 we found that using TPRs caused issues with existing endpoint when the TPR was removed.  There were also issues with process crashing.  Since OpenShift never officially supported TPRs the code that was causing issues was removed.

Additionally, they've been deprecated upstream in 1.7 and will be removed

[2017-08-11 15:33] csrwng commented on #15656
@gabemontero that means it's picking put the namespace from the namespace file mounted in  /var/secrets/... [some subdirectory].

It seems that it's a bug if that file takes priority over a namespace specified in the command line.

[2017-08-11 15:42] gabemontero commented on #15656
That was my suspicion - thanks for the confirm @csrwng !

So, the oc in the maven slave images is:

[code]

Whereas the jenkins centos image is at:

[code]

My guess is there was some bug fixed between 1.5 and 1.6.

Regardless, the slave base Dockerfiles in github.com/openshift/jenkins need to be updated.  They are still pulling in the 1.5 oc.

Right @bparees ?

[2017-08-11 15:45] gabemontero commented on #15656
Just the centos one I mean ... I'm assuming the atomic-openshift-clients yum pkg points to the 3.6 clients when that image is built.

Where is the right repo to pull the one that has recently been cooked @bparees ?  ci.openshift sufficient ?

[2017-08-11 15:46] bparees commented on #15656
@gabemontero no repo, this needs to be updated:
https://github.com/openshift/jenkins/blob/master/slave-base/Dockerfile#L14

it's a direct download from the github release.

[2017-08-11 15:46] bparees commented on #15656
and while you're at it, you might as well move the jenkins master image to the 3.6.0 final release.

[2017-08-11 15:47] bparees commented on #15656
and then we really need to finish off this PR so we don't have this problem anymore:
https://github.com/openshift/jenkins/pull/319

[2017-08-11 15:53] gabemontero commented on #15656
Sorry ... by "repo", I meant the registry to pull the rhel version of the docker slave image, confirm the oc binary is at a 3.6 level.

[2017-08-11 15:57] bparees commented on #15656
registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7

[2017-08-11 15:59] objectiser commented on #15724
No problem - thanks for investigating, I'll look into alternatives.

[2017-08-11 16:01] gabemontero commented on #15656
On Fri, Aug 11, 2017 at 11:46 AM, Ben Parees <notifications@github.com>
wrote:

right that is what I was referring to at the end of
https://github.com/openshift/origin/issues/15656#issuecomment-321847610

[2017-08-11 16:02] gabemontero commented on #15656
rhel slave base is

[code]

looks like we are OK

[2017-08-11 16:55] #15685 closed

[2017-08-11 17:03] #15656 closed

[2017-08-11 17:12] gabemontero commented on #15656
@siamaksade the push jenkins image to docker hub job seems to be working again ... if that continues, the image should be up there within the hour I would think.

[2017-08-11 19:18] simo5 opened #15747 ""invalid memory address or nil pointer dereference" when ListClusterPolicyBindings returns an error"
A panic happens in some tests when ListClusterPolicyBindings() returns an error when called by ListPolicyBindings()

Triggered by PR #15605

##### Version
Current master tree

The issue is caused by incorrect error handling

[2017-08-11 19:21] dobbymoodge commented on #14340
@marekjelen I'm still trying to wind down my biggest time-hog duties, but I'm optimistic about this. @brenton what do you think?

[2017-08-11 19:52] smarterclayton commented on #15747
Testing this out, I may just cherrypick it into my branch and let it sit for a while since repo may be annoying.

[2017-08-11 21:35] smarterclayton commented on #15518
However, we realized that openshift cgroup parented builds are not reporting metrics to prometheus because the slice is where the metrics are charged, but cadvisor is reporting for the container cgroup.  We'd need cadvisor to be collecting the parent slice metrics and then prometheus to report them.

[2017-08-11 21:35] dmytroleonenko opened #15750 "SELinux relabeling when using subPath"
#### Description
After upgrading from 1.5.1 -> 3.6.0 (using openshift-ansible-3.6.173.0.5-5/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml playbook)  all the ConfigMap files mounted using subPath are non-readable: Permission denied. It looks related to [this bug](https://bugzilla.redhat.com/show_bug.cgi?id=1475137). Not sure though because it said to be related to 1.5 (3.5) rather than

[2017-08-11 21:45] dmytroleonenko commented on #15750
```# setenforce 0``` as a temporary solution. Otherwise, everything is broken badly

[2017-08-11 21:55] ikatson opened #15751 "A pod with an AWS PVC mounted can't recover after origin-node restart followed by container restart"
We have this bug happening fairly often lately, because we restart kubelets once a day, and use AWS EBS volumes in openshift a lot. A kubelet (origin-node) restart induces the behavior, where restarting containers with PVCs attached to them leads to pods not being able to start at all, until manual intervention is done. Description below.

##### Version
oc v1.5.1
kubernetes v1.5.2+43a9be4
features

[2017-08-11 22:33] woopla opened #15752 "Missing system:pv Cluster Roles"
Hello,

I'm looking into the iscsi-provisioner for our storage needs, so I'm following the [README](https://github.com/kubernetes-incubator/external-storage/blob/master/iscsi/targetd/README.md). Problem is, I can't add the `system:pv-provisioner-controller` role to the user, because it does not exist. None of the `system:pv-*' Cluster Roles, exist, in fact:
[code]

The installation is coming from

[2017-08-12 03:04] jorgemoralespou commented on #15731
@bparees, for every different version I want to try I might need the corresponding client. In Enterprise when a version is released there's for a version multiple minor releases, which means that people will need to constantly update their clients.
Also, in Enterprise environments, there's customers with multiple clusters in different versions, so when a developer wants to test an app against the

[2017-08-12 03:28] bparees commented on #15731
i think we can safely assume/provide minor version compatibility.  this is about 3.4->3.5 and such, not 3.5.1 to 3.5.2.

We don't test them, at least not explicitly.  As for what our support statement is, oc cluster up is now a supported part of the product.  It's not entirely clear what our statement would be if someone using the oc 3.6 client tried to bring up a 3.4 cluster and hit an issue, but

[2017-08-12 03:44] jorgemoralespou commented on #15731
@bparees, I understand everything you say and can agree with you.
There's installers that support multiple versions, and I've been in a
customer meeting today where they have explicitly called out that fact.
Maybe the approach is wrong. Maybe all the logic should not be in the
client. Maybe the installer should have been a specific privileged image
that the client would pull down. That would have

[2017-08-12 03:54] bparees commented on #15731
yes, we definitely need to move oc cluster up to a model where it leverages the same paths the official ansible installer leverages instead of baking in its own logic.  @csrwng and I have discussed this and it would help w/ these issues, though i do not think it would resolve all of them (the configuration of the ansible install can still change from release to release, after all).  A model where

[2017-08-12 09:11] yu2003w opened #15753 "connection refused when getting external traffic into cluster with externalIPs"
I setup openshift cluster and deployed Redis successfully and expose redis service to external clients using externalIPs.
When I connected exposed redis service outside of cluster, I got error as "connection refused".

##### Version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://host-10-1-241-54:8443
openshift v1.5.1+7b451fc
kubernetes v1.5.

[2017-08-12 10:13] andrewklau commented on #15032
I noticed we've now got `Oom killed` status in 3.6 so I think this helps a lot.

However the build status returns "GenericBuildFailed" but where as the web console seems to be smart enough to return Oom killed. Should build status also be updated to reflect it was killed due to Oom?

[2017-08-12 11:56] jorgemoralespou commented on #15731
If this is a pain, let's remove the feature completely.

[2017-08-12 12:48] andrewklau opened #15754 "Error deleting OVS flows for service"
I am seeing a few of these messages in my logs since upgrading to 3.6

[code]

[2017-08-12 12:50] andrewklau opened #15755 "strconv.ParseUint: parsing "21c72043": invalid syntax"
I am getting a few of these errors show up in logs along with alerts firing that docker is unable to stop_container

[code]

[2017-08-12 14:45] andrewklau opened #15757 "Log spam with "Could not update node status.""
Since 3.6 if I remove a node I end up with a LOT of log spam:

[code]

[2017-08-12 14:46] andrewklau commented on #15757
Found it https://github.com/kubernetes/kubernetes/issues/42438

[2017-08-12 15:42] bparees commented on #15032
Where do you see the oom killed status being reported?  And are you sure it was the assemble container that was oom killed (not the build pod container) in that case?

[2017-08-12 15:43] bparees commented on #15032
(the web console has no awareness of the existence of the manually launched assemble container, nor will the pod resource have any information about it, so I'm a bit surprised by what you're saying the web console is detecting/reporting).

[2017-08-12 15:48] andrewklau commented on #15032
The build pod got the status OOMKilled. I guess this is not the same as the assemble container.

The web console was just reporting the build pod status.

[2017-08-12 15:49] danwinship commented on #15658
yup, apparently

[2017-08-12 15:49] #15658 closed

[2017-08-12 15:56] bparees commented on #15032
ok yeah that makes sense.  We could potentially do a better job of reporting the build failure reason when the build pod is oom killed, but that's separate from the main (and imho more likely because the assemble container uses more resources than the build pod container) problem this issue describes, where the assemble container gets oom killed.

[2017-08-12 18:05] smarterclayton commented on #15518
Bug is "prometheus and cadvisor don't report pod level cgroup statistics, since pod != sum(containers)"

[2017-08-13 04:08] enj commented on #15752
@mfojtik these roles were dropped in #14633 and probably the earlier refactors.  We should probably put them in the dead cluster roles to at least allow reconciliation to tighten them.  @deads2k WDYT?

@woopla I suggest you ask the maintainers of that repo to create a specific cluster role with the exact permissions they require.  Otherwise you will be tightly coupled with the internals of openshi

[2017-08-13 06:00] woopla commented on #15752
Thanks @enj, I had no idea these roles were dropped. I've opened an [issue ](https://github.com/kubernetes-incubator/external-storage/issues/284) in the k8s incubator repo.

[2017-08-13 08:00] akhilon2011 commented on #7182
Not working for me tried to patch a file though the output says patch completed but i couldn't see the changes in file. any advice

[akhil@server ~]$ patch -f filename -p '{"spec":{"template":{"spec":{"containers[0]":{"readinessprobe":{"httpGet":{"path":"/api/hello","port":8443}}}}}}}'
"jboss-app-template" patched

Thanks in advance.

[2017-08-13 16:10] #15271 closed

[2017-08-13 16:10] #15747 closed

[2017-08-14 03:02] ibuler opened #15758 "Is there any solution for multiple datacenter?"
Hello,

I want to know is there any solution for multiple datacenter. Because auth, policy ..etc should share to every cluster.

[2017-08-14 03:16] bparees commented on #15695
more of the same:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/173/testReport/junit/(root)/Extended/_Conformance__image_ecosystem__mongodb__Slow__openshift_mongodb_replication__with_statefulset__creating_from_a_template_should_instantiate_the_template/

[2017-08-14 05:38] smarterclayton commented on #14129
I think this is also in part https://github.com/kubernetes/kubernetes/issues/50586

[2017-08-14 08:39] ksemaev opened #15759 "Cronjobs stop working, need advice"
After some time (less then one day) cronjob stops creating jobs.

##### Version
oc v1.5.1
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. create cronjob:
[code]
2. Several minutes later: oc get jobs (shows them)
3. Several hours later: oc get jobs (nothing)

##### Current Result
No resources found.

##### Expected Result
NAME                     D

[2017-08-14 10:21] stevef1uk opened #15760 "Policy set-up seems broken?"
On Mac 10.12.6

[code]

[code]

[code]

I am trying to set-up the Hawkular metrics but stopped as I can't get the required permissions sorted.

##### Additional Information

[code]

[2017-08-14 11:16] soltysh commented on #15720
@abdelhegazi can you double check where you're setting the SA in a cronjob?. I've been using SA for cronjobs since 1.5 in my [workshop materials](https://github.com/soltysh/blast/blob/master/scraper/template.yaml#L34) and it's working as expected. Please double check if your SA is the SA of a `jobTemplate'`s pod template.

[2017-08-14 12:58] maci0 commented on #13815
Issue still persists

[code]

[2017-08-14 13:22] enj commented on #15760
You need to login is as `system:admin` not `system`:

`oc login -u system:admin`

[2017-08-14 13:48] stevef1uk commented on #15760
Thank you I had incorrectly assumed that system:admin was the username & password as per typical convention.

[2017-08-14 13:48] #15760 closed

[2017-08-14 14:17] miminar commented on #15432
Another occurence: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_check/4872/testReport/junit/github/com_openshift_origin_test_setup_start-master/hack_lib_start_sh_299__executing__oc_get___raw__healthz___config___openshifttmp_openshift_test_cmd_openshift_local_config_master_admin_kubeconfig___expecting_any_result_and_text__ok___re_trying_every_0_25s_until_completion_or_160_00

[2017-08-14 14:38] bparees commented on #13815
unfortunately the fix was not included in the origin 3.6.0 release, it was delivered after.

[2017-08-14 14:50] miminar opened #15763 "extended test cannot talk to integrated docker registry"
Extended tests trying to curl integrated registry directly fail with this error:

[code]

The `Get` request made to the registry doesn't generate any entry in registry's log. Pull/push made by Docker daemon works like a charm.

Examples of failed tests:

<details><p>

        Failure [11.080 seconds]
        [Feature:ImagePrune] Image prune
        /go/src/github.com/openshift/origin/_output/local

[2017-08-14 14:54] miminar commented on #15763
@stevekuznetsov Do you have a clue why http requests made from the test binary to the registry fail while docker can talk to the registry just fine?

[2017-08-14 14:57] stevekuznetsov commented on #15763
Not obvious to me. This is a single-node install. Maybe @sdodson knows that these things are configured differently?

[2017-08-14 15:20] miminar commented on #15763
By the way, there are some expected environment variables unset (which were previously set):

[code]

Can be found in the same [job](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_image_registry/3/consoleFull) as the errors above. It may be related.

This particular variable should be exported by [`os::util::environment::setup_images_vars()`](https://github.com/opens

[2017-08-14 15:34] stevekuznetsov commented on #15763
Hm. We launch the jobs with [this line](https://github.com/openshift/aos-cd-jobs/blob/master/sjb/config/test_cases/test_pull_request_origin_extended_image_registry.yml#L14):

[code]

Maybe because we are skipping the build they are not called? @miminar do you have the cycles to chase that?

[2017-08-14 15:51] miminar commented on #15763
@stevekuznetsov I can check this out locally in a VM. I'll let your know.
.

[2017-08-14 17:27] bparees commented on #15695
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/170/testReport/junit/(root)/Extended/_builds__Slow__openshift_pipeline_build_Pipeline_with_env_vars_should_build_and_complete_successfully/

[2017-08-14 17:57] kincl commented on #14656
I have confirmed this is still an issue in 3.6

[2017-08-14 17:58] kincl commented on #14636
I have confirmed this is still an issue in 3.6

[2017-08-14 18:39] sosiouxme opened #15769 "openshift-ansible integration test failures; Failed to get D-Bus connection: Operation not permitted"
openshift-ansible merge/test includes integration tests to exercise the pre-install checks. These are failing quite often but not 100% of the time.

##### Examples

[1](https://ci.openshift.redhat.com/jenkins/job/merge_pull_request_openshift_ansible/846/consoleFull#-75303961958b6e51eb7608a5981914356) [2](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible/445/consoleFul

[2017-08-14 19:57] pweil- commented on #15758
@ibuler can you clarify what you're asking here?  If your data centers are connected then having HA masters that are across regions with shared etcd is possible and scheduling can be controlled via labels on nodes for mulitple regions.

But I'm wondering if you're talking more about federation of multiple clusters as a single cluster with distribution of resources automatically between them which

[2017-08-14 20:06] pweil- commented on #15754
@andrewklau does this leave rules in a bad state?

[2017-08-14 20:13] simo5 opened #15771 "Integration tests failin release-3.6 branch"
When integration tests are run they fail in TestRouter* tests with the following error:
[code]

This is blocking merging to the release-3.6 branch.
See failed test run here:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_integration/5915/

[2017-08-14 20:19] spadgett opened #15772 "PUT request that modifies route certificate fails"
This looks like an API breaking change in 3.6. If I do a PUT on a route and change the `spec.tls.certificate`, I'm told the field is immutable. But `oc edit` allows me to change the value.

The error breaks the web console route editor in 3.6.

@knobunc Let me know if I'm wrong and the field should be immutable, but I believe we were able to change it in previous releases.

@smarterclayton @andrew

[2017-08-14 20:28] smarterclayton commented on #15772
Are you using the new endpoint or the old endpoint?

On Mon, Aug 14, 2017 at 4:20 PM, Sam Padgett <notifications@github.com>
wrote:

[2017-08-14 20:29] smarterclayton commented on #15772
And are you posting empty field, or doing a patch with no field provided?

On Mon, Aug 14, 2017 at 4:28 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-08-14 20:35] spadgett commented on #15772
Old endpoint

I can reproduce using the same object returned by the API, just changing the certificate value. No empty fields added

[2017-08-14 21:49] smarterclayton opened #15774 "ClusterResourceOverride issues noticed"
Two reports from users:

1. when specifying a request smaller what would have been the default, the default was ignored.  For both compressible and incompressible resources this seems non-optimal - you should always be ablate request less
2. the current defaulting behavior puts pods into burstable, but that removes the ability to have QoS tiering on eviction (all burstable considered the same).  I

[2017-08-14 21:53] smarterclayton commented on #15772
For normal users, certificates are now immutable.

On Mon, Aug 14, 2017 at 4:35 PM, Sam Padgett <notifications@github.com>
wrote:

[2017-08-14 21:54] smarterclayton commented on #15772
You should be getting a 422 with a forbidden field.

On Mon, Aug 14, 2017 at 5:53 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-08-14 22:50] spadgett commented on #15772
@smarterclayton Thanks. I'm getting a 422 with the following response body.

Debating making the field read only in the web console, although it would mean users who can edit the certificate won't be able to through the console.

[code]

[2017-08-14 22:57] smarterclayton opened #15775 "It should be possible to specify discontiguous UID ranges for PSP and SCC"
The `openshift.io/sa.scc.uid-range` should allow supporting multiple uid-ranges (similar to supplemental groups) so that a set of separate blocks can be used.  For example, `1,0,10000-11000`.  The first value should be the default.  Allows applications to get flexibility about UIDs they can use without having to create tons of SCCs.

@openshift/sig-security

[2017-08-14 22:57] smarterclayton commented on #15775
I think there's an old issue on this but I can't find it.

[2017-08-14 23:03] smarterclayton commented on #15772
Some clusters may allow it for all users.  You need the "update" verb on
resource "routes/custom-host" and group "route.openshift.io" to change a
route host/cert once created.  It's only the most restrictive clusters that
need this.  It was made the default behavior because it was technically an
oversight when we made spec.host immutable.

On Mon, Aug 14, 2017 at 6:50 PM, Sam Padgett <notification

[2017-08-14 23:04] smarterclayton commented on #14043
We need to tighten this check.

On Fri, Aug 11, 2017 at 8:35 AM, Mo Khan <notifications@github.com> wrote:

[2017-08-15 00:02] ibuler commented on #15758
I'm sorry, I want to known that I have some datacenter on different region, and have some public cloud on different provider, such as  AliCloud, AWS, Azure. Maybe a master couldn't satisfy it.
Because they connect each other through internet.

Yes, I't a problem for every software

[2017-08-15 00:09] andrewklau commented on #15754
Things seem to be working, is there a way I can verify the rules aren't in a bad state?

[2017-08-15 02:49] andrewklau commented on #15751
I think this was a case of too many empty directories in `/var/lib/origin/openshift.local.volumes/pods/` for some reason they didn't get cleaned up. This was what caused the controller to timeout with the mount.

[2017-08-15 02:52] andrewklau commented on #15772
Confirmed, adding the `update` verb to the `routes/custom-host` allows a user to edit it again on the web console. I couldn't find any reference release note for this change though.

[2017-08-15 09:21] ikatson commented on #15751
@andrewklau that doesn't seem to be the case. When the problem happens, there is nothing to mount in the first place, as everything is already mounted. Also, the number of folders there is small.

[2017-08-15 09:22] maci0 commented on #13815
ok, built latest master and it works.
I hope this will make it into a minor release.

[2017-08-15 09:45] tobru opened #15777 "oc rollout latest misses --follow"
When running `oc deploy mydc --latest --follow` I get the hint `Flag --latest has been deprecated, use 'oc rollout latest' instead`. Looking at `oc rollout latest -h` reveals that there is no option `--follow`. Either this option should be added to `oc rollout latest` or the hint removed from `oc deploy`.

##### Version
[code]

##### Steps To Reproduce
1. Run `oc deploy mydc --latest --follow`
2.

[2017-08-15 12:21] simo5 commented on #15453
@abstractj can you look into this one ?

[2017-08-15 12:23] simo5 commented on #15723
@adelton can you look into this one ?

[2017-08-15 12:24] simo5 commented on #15775
@php-coder can you look into this one ?

[2017-08-15 12:27] abstractj commented on #15453
@simo5 sure!

[2017-08-15 12:28] simo5 commented on #15752
@deads2k do you have any thoughts on @enj 's question above ?

[2017-08-15 12:32] sdodson commented on #15769
Yeah this is happening on all openshift_ansible test and merge jobs :-(

[2017-08-15 12:33] sdodson commented on #15769
Looking through the logs the version of docker that it's using is pre RHEL 7.4 so it's not particularly new.

[2017-08-15 12:37] pweil- commented on #15775
duplicate: https://github.com/openshift/origin/issues/7014

[2017-08-15 12:37] #15775 closed

[2017-08-15 12:38] deads2k commented on #15752
Yes, if we had them and then dropped them in that, we do want to list them to allow (but not require) tightening during reconciliation.

[2017-08-15 12:39] pweil- commented on #15754
@andrewklau I expect you'd have intermittent application failures due to network issues.

[2017-08-15 12:45] pweil- commented on #15758
@ibuler thanks for clarifying.  Federation of multiple clusters is in heavy discussion upstream.  The best bet here is to follow that conversation directly since it is changing rapidly.

The community repo for federation is (including sig meeting times): https://github.com/kubernetes/community/tree/master/sig-federation

The initial federation proposal is here: https://github.com/kubernetes/commun

[2017-08-15 12:45] #15758 closed

[2017-08-15 13:13] smarterclayton commented on #7014
From the other one - the first uid in the range should be the default, ie I should be able to define 1,0,1000-10000 to default to 1, have access to a unique range, and be able to be root optionally.

[2017-08-15 13:15] smarterclayton commented on #7014
Alternatively we define another annotation that is extended ranges and continue to use this existing one as the primary range for mapping.  It really depends on whether we ever expect Uid remapping to not suck.

[2017-08-15 13:30] andrewklau commented on #15754
Apparently the service was mapping to a port that didn't exist (ie. the pod wasn't exposed on that specific port), perhaps that might be the reason why.

I haven't seen any network issues other than just the not so friendly error message.

[2017-08-15 13:31] andrewklau commented on #15032
If an assemble container is started for the build process, then what would be the reason the build pod gets OOMKilled?

[2017-08-15 13:36] bparees commented on #15032
well it's still a pod like any other, subject to memory pressure the system could decide to oom kill it to free resources.  why that particular pod would be chosen, i'm not sure, it doesn't seem like the most likely candidate.

[2017-08-15 14:06] kwoodson commented on #15769
@sdodson, @sosiouxme, The reason this is happening is due to the refactor of the firewall into the std_include.yml.  The std_include.yml is happening in the beginning to initialize whether we want iptables or firewalld.  Depending on which one is desired the os_firewall role attempts to start the service.  This service fails with the error message:
[code]

This is a behavior change.  I believe tha

[2017-08-15 14:34] miminar commented on #15763
@stevekuznetsov the problem is with `TEST_ONLY=true`. The environment variable
`MAX_IMAGES_BULK_IMAGES_IMPORTED_PER_REPOSITORY` get set [here](https://github.com/openshift/origin/blob/9ea980ea459dbeb0dc341e0d67a91ec6a270c9eb/test/extended/setup.sh#L66). But it's never called when `TEST_ONLY` is `true`.

However it's wrong to move the line before the `TEST_ONLY` check because we would expect that t

[2017-08-15 14:40] sosiouxme commented on #15769
OK. Well I don't understand how it's happening most of the time but not all
the time, and I can't reproduce locally. Hope this PR helps, I'll keep
looking into it.

On Tue, Aug 15, 2017 at 8:33 AM, Scott Dodson <notifications@github.com>
wrote:

[2017-08-15 15:04] stevekuznetsov commented on #15763
SGTM

[2017-08-15 15:16] coreydaley commented on #15680
Added more logging to the build pruning and corrected a race condition in the test.

[2017-08-15 15:41] spadgett commented on #15772
@smarterclayton bump for updating the error message to say why it's immutable and possibly changing the default for update (per our conversation)

[2017-08-15 15:55] tavogel commented on #14965
Actually using `oc process` in our current workflow has also yielded an intermittent issue:
[code]

We've started using the [RHEL Jenkins](https://github.com/openshift/jenkins/blob/master/2/Dockerfile.rhel7) image which still has oc 1.5.0 client, which fixes this.

[2017-08-15 16:08] smarterclayton commented on #15772
I don't remember why I didn't give "update" to users by default - I *think* it was because of the custom host being immutable which was our current behavior.  @abhgupta @Miciah see the thread above.

I'll definitely improve the message for update.

[2017-08-15 16:50] smarterclayton opened #15783 "oc new-app -f ... -o yaml is broken"
[code]

[2017-08-15 16:51] smarterclayton commented on #15783
@fabianofranz @mfojtik just noticed this is broken in master - this is a high priority because we may have regressed automation around new-app (and potentially in 3.6 as well)

[2017-08-15 16:51] jwhonce commented on #15755
@andrewklau Please include the rpm version of docker you are using, additionally the docker logs with -D on the daemon would provide necessary details.

[2017-08-15 18:06] csrwng commented on #15783
@smarterclayton it doesn't look like this is a regression. It's broken in 3.6.0 and 3.5.1 ... the issue is the Deployment type in the prometheus template.

[2017-08-15 18:51] abstractj commented on #15453
@miminar is this URL correct? I'm getting 404 when trying to access the report.

[2017-08-15 19:02] jwhonce commented on #15695
@bparees I assume this VM is using the m4.xlarge default of a GP2 volume.  Is it possible to run sar on the VM during the tests and record the results in the S3 artifacts?

Additionally, the CloudWatch/BurstBalance data would be great to have.  I do not know how to capture that data for these throw away VM's.

[2017-08-15 19:23] sosiouxme commented on #15769
https://github.com/openshift/openshift-ansible/pull/5084 is merged and it looks like tests are succeeding.

[2017-08-15 19:23] #15769 closed

[2017-08-15 19:36] juanvallejo commented on #14651
@sub-mod are you still running into this issue?
Also, any chance you could post the output of `oc version --loglevel 8`?

[2017-08-15 19:37] deads2k commented on #15254
@aveshagarwal Be sure to revert https://github.com/openshift/origin/pull/15707/commits/e060970c189723c830ea3a2b785d87328b2ae22b on your way through.

[2017-08-15 20:01] aveshagarwal commented on #15254
@deads2k sure.

[2017-08-15 20:12] bparees commented on #15695
it's whatever our CI infrastructure deploys by default, so probably?

not sure what sar is.  Does it need to be run before things start or after they fail or what?  We can certainly update the CI jobs to run additional tools/collect additional information.

Not sure about the cloudwatch data either, @stevekuznetsov might know if that's something we have a way to gather.

[2017-08-15 20:17] #15270 closed

[2017-08-15 20:20] csrwng commented on #15783
@fabianofranz the code that's broken is the common printer code, which I think you own:
https://github.com/openshift/origin/blob/master/pkg/cmd/util/cmd.go#L124

That fails when called with a Deployment object and actualOutputVersion is blank("")

[2017-08-15 20:20] stevekuznetsov commented on #15695
There's a framework for running `sar` and posing PDFs output from that ... let me dig into why it's not running for this

[2017-08-15 20:22] csrwng commented on #15783
/cc @juanvallejo

[2017-08-15 20:52] smarterclayton commented on #15783
Dropping priority slightly

[2017-08-16 04:54] smarterclayton opened #15790 "flake: Deployment hook test fails with retry 2 instead of retry 1"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4202/testReport/junit/(root)/Extended/deploymentconfigs_with_failing_hook__Conformance__should_get_all_logs_from_retried_hooks/

[code]

[2017-08-16 08:13] scheng1 opened #15791 "cluster-admins group contain what users or sa"
How can I know that a group(like cluster-admins that appear in scc ) contains what users ? i can not 'oc get group cluster-admins '!

[2017-08-16 08:27] mliker commented on #13239
@bparees can you please provide sample yaml files for your suggestions 2. and 3. above?

Are project level annotations for node-selector still required with this approach?

thanks

[2017-08-16 09:46] HackToHell commented on #15094
Getting the same issue against OCP 1.5.

[2017-08-16 09:53] miminar commented on #15453
@abstractj unfortunately the test results don't survive long. The latest accessible run is 3481 as of now (not mentioning anomaly 1​25​0).

[2017-08-16 13:06] mfojtik opened #15792 "Extended.deploymentconfigs viewing rollout history [Conformance] should print the rollout history"
Not sure if flake or something I broke in https://github.com/openshift/origin/pull/15624 (likely not):

[code]

Logs: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6053/testReport/junit/(root)/Extended/deploymentconfigs_viewing_rollout_history__Conformance__should_print_the_rollout_history/

[2017-08-16 13:13] stevekuznetsov commented on #15763
@miminar yes I think that is correct

[2017-08-16 13:30] tnozicka commented on #15792
This seem like an issue where new project/user is created by the testing framework and it manages to run the Describe func before that SA has appropriate permissions picked up. We might want to check that in testing framework before running describe or make sure the SA is ok other way. Doesn't seem specific to Deployments.

[2017-08-16 13:48] xThomo commented on #11016
@jwhonce could you give more details on the reproduction of the issue and is there any update on this?

[2017-08-16 14:18] abstractj commented on #15453
@miminar thank you, I finally managed to reproduce the issue

Code to reproduce the issue:

[code]

[2017-08-16 14:34] priyanka5 opened #15795 "error: build error: Failed to push image: Get https://172.30.163.106:5000/v1/_ping: dial tcp 172.30.163.106:5000: getsockopt: no route to host"
Hi , I have installed openshift using multiple nodes (total 6). I used ansible inventory but somehows pods on few nodes give this issue. Where its not able to push to the docker registry.

I have tried pinging registry IP , but it says 👍
ping 10.131.0.34
PING 10.131.0.34 (10.131.0.34) 56(84) bytes of data.
From 10.128.2.1 icmp_seq=1 Destination Host Unreachable

##### Version
oc v3.5.5.31
kubernet

[2017-08-16 14:35] vpavlin commented on #13135
@smarterclayton Hi any update on this?

[2017-08-16 14:42] siamaksade commented on #15656
@gabemontero Vertified that works on v3.6.173.0.5. Thanx

[2017-08-16 14:47] gabemontero commented on #15656
On Wed, Aug 16, 2017 at 10:42 AM, Siamak Sadeghianfar <
notifications@github.com> wrote:

Cool - thanks for the confirm - glad to help !

[2017-08-16 15:05] bparees commented on #13239
@mliker this doc contains yaml examples of configuring the build override+defaulters to add nodeselectors and annotations, among other things:

https://docs.openshift.org/latest/install_config/build_defaults_overrides.html

you can find doc on how to taint a node and what annotation to setup to allow a pod to tolerate a tainted node, here:
https://medium.com/@alejandro.ramirez.ch/reserving-a-kuber

[2017-08-16 15:10] adelton commented on #15723
On Fedora 26 with

[code]

when run as `developer`, I don't see the failing result:

[code]

@mguillem, could you add some details about the setup you use -- OS, docker version, anything which might be relevant?

[2017-08-16 16:40] dmage opened #15798 "should function for intra-pod communication: udp [Conformance] [It]"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4199/consoleFull#-44804802756cbb9a5e4b02b88ae8c2f77
<details>
<summary>Log</summary>

[code]
</details>

[2017-08-16 16:42] stevekuznetsov commented on #15798
Infrastructural failure in node:

[code]

[2017-08-16 16:45] stevekuznetsov commented on #15798
Looks like we couldn't reach the machine at all with SSH after this. Something looks to have killed it in AWS?

[2017-08-16 16:51] charliejllewellyn opened #15799 "Deleted services created on an external service broker are not removed from the project list"
When deleting a service provisioned via the service catalog to an external open service broker the service successfully deletes from the service broker but the service remains registered in the OpenShift project. Re-deleting the deployment states: "Successfully deleted a9s-postgresql94-5r08s." however the service remains listed but in-operable.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+51

[2017-08-16 17:00] tdawson commented on #15583
origin 3.6 packages (and corresponding openshift-ansible packages) have been released in the main openshift-origin repo
http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/

That is the release you are pointed at if you have centos-release-openshift-origin installed.

The release specific repo is still going through it's release process, and *should* be pushed out to the mirrors within

[2017-08-16 17:12] danwinship commented on #15754
@andrewklau if the error messages are continuing to happen, could you try running with --loglevel=5 on one node? That should make it log more information around the error.

Actually, it's possible OVS is already logging something... is there anything else in the journal (possibly logged by ovs rather than openshift) right before the error?

[2017-08-16 17:14] danwinship commented on #14074
Any updates to this?

I'm assuming that's a typo/cut+pasto and your *real* rule has "Deny"?

[2017-08-16 17:34] shawndwells commented on #6699
Bump on this. Now that Docker has announced formal support for System z, where does OpenShift stand?

Ref: https://thenewstack.io/docker-enterprise-edition-expands-legacy-systems/
``
You could call this Docker’s coming out party for the enterprise. Earlier this year, the company released a consolidated Docker Enterprise Edition, gathering its corporate container technologies into a single platform

[2017-08-16 17:40] gizmonicus commented on #14074
Yes, it's a deny in my real rule. I logged in today since I haven't touched Openshift in a few months and it appears that these rules have been added between my latest update on the 19th and today. I haven't done anything, no reboots, no updates, so I can't say what changed or why it is working when it didn't for a couple of days after I first added it.

I added a new rule today, just to see if it

[2017-08-16 17:43] danwinship opened #15801 "infra flake "Failure talking to yum: [Errno 2] No such file or directory: '/var/cache/yum/x86_64/7/epel/gen/primary_db.sqlite'""
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/6077/consoleFull#-3225954895849c75fe4b0052e114d805c

    TASK [Ensure openshift-ansible installer package deps are installed] ***********
    ...
    failed: [ci-prtest-5a37c28-6077-ig-n-0zz5] (item=python-dbus) => {"failed": true, "item": "python-dbus", "msg": "Failure talking to yum: [Errno 2] No such f

[2017-08-16 17:44] gizmonicus commented on #14074
One other oddity here, I ran my dump-flows command again after adding the new rule and now neither the rule I just added, nor the working one are in the flow tables. It appears to have clobbered all egress policies for this namespace.

[2017-08-16 17:55] danwinship commented on #14074
Oh, yes, you are only allowed to have a single EgressNetworkPolicy object per Namespace. (Otherwise it wouldn't be clear which order to apply to rules in between the two policies if they conflicted.) So if you create a second one, it logs an error and the blocks all traffic from the namespace until you fix it.

[2017-08-16 18:00] gizmonicus commented on #14074
Ah, OK, I would think that it just wouldn't let you create another policy. Anyway, deleting the other policy resolved the problem. I think we can close this one since I have no way to reproduce, and it's entirely possible this was caused by having a second egress policy initially. I don't remember exactly what the state was at the time.

[2017-08-16 18:13] djdevin opened #15802 "Unexpected command output nsenter: cannot open : No such file or directory"
I am getting this error in the node log, but also "Error syncing pod" and "Pod sandbox changed, it will be killed and re-created." in the "Events" for this build pod.

[code]

This happens on a build pod being launched on that node. Pods launched on the master don't display this issue.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server

[2017-08-16 18:53] jwhonce commented on #15742
@rhvgoyal suggestions?

[2017-08-16 19:14] jayunit100 opened #15803 "Dashboard YAML should grow with window size."
[provide a description of the issue]

##### Version

OpenShift Master:
v1.5.1+7b451fc
Kubernetes Master:
v1.5.2+43a9be4

##### Steps To Reproduce
Paste a large (>100 line) YAML file into
1. minishift start
2. Create a project <new-project>
3.  https://192.168.64.3:8443/console/project/<new-project>/create?tab=fromFile

##### Current Result

You have to scroll down to edit text, and even in a large

[2017-08-16 19:15] kevprice83 commented on #9398
Any plans to support this in the near future?

[2017-08-16 19:16] mvlach opened #15804 "Can't renew etcd certificates"
Ansible error
TASK [openshift_facts : Gather Cluster facts and set is_containerized if needed] ***
fatal: [192.168.1.177]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Shared connection to 192.168.1.177 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_Nb4XCz/ansible_module_openshift_facts.py\", line 2223, in <module>\r\n    main()\r\n

[2017-08-16 19:18] mvlach commented on #15804
possible duplicate of https://github.com/openshift/openshift-ansible/issues/2106

[2017-08-16 19:29] #15804 closed

[2017-08-16 19:43] danwinship commented on #14074
Kubernetes doesn't inherently have any concept of "singleton" types, so there's no way to block the creation unfortunately. It's not a great situation.

[2017-08-16 19:43] #14074 closed

[2017-08-16 20:05] weliang1 commented on #15753
Could you try to use port number 26379 not 3679?
~/redis/redis-3.2.9/src$ ./redis-cli -p 26379 -h 10.1.236.92

[2017-08-16 20:16] rhvgoyal commented on #15742
I am not sure what's the problem. Initial description seems to suggest that there is free space in volume group but thin pool does not grow.

And later problem description becomes that pulling 1Gb images consumes data usage as 16% of size but it should have been 8% bump.

Lets first try to make problem statement more concrete. So what's the problem actually?

[2017-08-16 21:08] ksemaev commented on #15742
Fair enough, may be I was not clear with the task. As I see it - there are 3 problems (2 of them is docker's tools, may be you can give me a hand with it):
1) The documentation of device-mapper (https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/) is a little bit confusing, so please explain. When I make this settings in /usr/lib/docker-storage-setup/docker-storage-setup
[

[2017-08-16 21:45] jwhonce commented on #11016
@xThomo The reproducer used docker run in multiple threads which determined the BurstBalance on the volumes was exhausted.  The Ops team is now implementing monitoring of that metric to determine if that is the root cause for these issues. Or, if there are other gating factors.

[2017-08-16 22:11] soltysh commented on #15759
Possible problems to look for:
1. resource limits - did you hit the number of pods you can run in a project?
2. suspended cronjob

There are a few other ones. I'd suggest to either check events related to your cronjob (`oc get events`) or eventually look in master logs (with `--loglevel=4` which should give you cronjob controller logs).

[2017-08-16 22:27] #15666 closed

[2017-08-16 23:09] makentenza commented on #15802
@djdevin, this will probably not be your case, but just in case, I got the same behaviour while upgrading from containerized 3.5 to 3.6. I had a typo in the resources limits and requests for my builds and every build failed with 'docker_sandbox.go:263] NetworkPlugin cni failed on the status hook for pod "php-15-build_coretest": Unexpected command output nsenter: cannot open : No such file or direc

[2017-08-16 23:20] jupierce commented on #15801
Seems to affect yum in general: https://bugzilla.redhat.com/show_bug.cgi?id=1479533 . The problem is spurious and looks like retrying the operation will help.

[2017-08-16 23:21] jupierce commented on #15801
Adding @sdodson since openshift-ansible will need to perform the retry.

[2017-08-17 00:09] harsh-px commented on #15269
@deads2k Can we please get this back?

As a result of this, people using Openshift 3.6 are not able to use Portworx.

[2017-08-17 00:22] #15291 closed

[2017-08-17 02:24] yu2003w commented on #15753
The same issue for both 6379 and 26379.
In my installation, flannel is used.
When I switched to openswitch, the issue was resolved and externalIPs/nodePort worked well.

The cluster is setup on VMs provisioned by openstack.
Could flannel be used in such environment?

Thx.

[2017-08-17 08:42] priyanka5 commented on #15795
@knobunc - could you help on the issue? thanks in advance

[2017-08-17 10:47] mliker commented on #13239
Thanks for the links @bparees.

However, whenever I add `nodeSelector: nodetype: build` to BuildDefaults in my master-config.yaml then builds wont start due to `Failed to create build pod: pods "quota-15-build" is forbidden: pod node label selector conflicts with its project node label selector.` It is only after I annotate the project namespace with `openshift.io/node-selector: ""` would the buil

[2017-08-17 11:30] miminar commented on #15763
Addressed by #15807. There's one last failure which is a bit more difficult.

[2017-08-17 11:56] f0x11 opened #15808 "make release fail"
imagebuilder fail, but docker run success.

[code]
docker run
[code]
[code]

I guess imagebuilder is used to mount files, but it didn't seem to work.

[2017-08-17 12:06] deads2k commented on #15269
This is known in 3.7 (happened during the rebase).  If it's broken in 3.6, then that's a separate and unknown problem.

@derekwaynecarr @rootfs

[2017-08-17 12:22] jpeeler commented on #15689
PR referenced above has been merged now.

[2017-08-17 12:22] #15689 closed

[2017-08-17 12:26] jkaurredhat commented on #9232
This also fails for annotate :

while editing image,
oc annotate --overwrite image sha256:c48070e4d8ec99d81170664aa8938dc2152e3c2fe4297bc511131e24f3ad6489 images.openshift.io/deny-execution=false

i get error:
Error from server: unable to find api field in struct RawExtension for the json field "Parent" or
Error from server: unable to find api field in struct RawExtension for the json field "Id" o

[2017-08-17 12:56] miminar opened #15809 "verify-image-signature cannot talk to secured registry"
The `oadm verify-image-signature` [uses insecure connection to the integrated registry](https://github.com/openshift/origin/blob/e7e8ae1c690b771769d225e22e4ce2f4290c07e9/pkg/image/util/manifest.go#L23). For this reason, the following extended test fails:

[code]

The command needs to try `https` first and fall-back to `http` if not possible. The insecure connection should be enabled based on insec

[2017-08-17 12:57] miminar commented on #15809
/cc @dmage @mfojtik @legionus

[2017-08-17 13:09] mfojtik commented on #15809
yes. good catch.

[2017-08-17 13:25] rootfs commented on #15269
@deads2k portworx volume should work, but provisioner is not enabled (missing [here](https://github.com/openshift/origin/blob/release-3.6/pkg/cmd/server/kubernetes/master/controller/volumes.go#L103)

@harsh-px refer to https://github.com/openshift/origin/pull/15661

[2017-08-17 13:50] xiaods commented on #14393
found the imagebuilder also reproduce this bug. can anyone do this on current openshift version?

[2017-08-17 13:50] #10056 closed

[2017-08-17 13:50] #12303 closed

[2017-08-17 13:50] #13432 closed

[2017-08-17 13:50] #13549 closed

[2017-08-17 13:50] #14168 closed

[2017-08-17 13:53] xiaods commented on #14393
please reopen this issue again.

[2017-08-17 14:12] stevekuznetsov commented on #14393
@xiaods could you paste a log with your error? We may make a different issue for that -- this is for `origin-local-release` repo

[2017-08-17 14:23] wongma7 commented on #15750
see also https://bugzilla.redhat.com/show_bug.cgi?id=1481617

[2017-08-17 14:32] jayunit100 opened #15811 "intermitent errors with OC client and minishift."
[provide a description of the issue]

Sometimes, the OC client (3.2) explodes when accessing my minishift cluster

Oddly, I don't see this behaviour in the 3.1 client.

##### Version

- My minishift version is  1.4
- The breaking oc client is 3.2
- The more robust OC client from what i can tell is 3.1.1.

##### Steps To Reproduce
1. minishift start
2. Run the following ad naseum:

oc login system:

[2017-08-17 14:34] deads2k opened #15812 "persistent-volume-binder needs to use upstream init"
`kube-controller-manager` has the idea of init functions.  We've been able to collapse onto almost all of them, but we still have a custom function for enabling the `persistentvolume-binder`.  This causes us to slip against the upstream during rebases.

Ideally we're able to use the normal controller initializer.  See https://github.com/openshift/origin/blob/master/pkg/cmd/server/kubernetes/master

[2017-08-17 14:35] deads2k commented on #15812
@eparis this is what's leading to our slips and links to the pattern we use for the "normal" upstream integration.

[2017-08-17 14:54] enj opened #15813 "RBAC Migration Followup #1: Proxied endpoint"
- [ ] Should delete with proxy return details?
- [ ] Fix proxied create: ` _ bool is includeUnintialized, which we should really be passing through to the underlying API... it's odd there's not a CreateOptions parameter to Create`
- [ ] Fix proxied update: `if initializers use Update() to initialize objects (which I think they do), we may need to pass GetOptions{IncludeUninitialized: true} here...

[2017-08-17 15:00] enj opened #15814 "RBAC Migration Followup #2: Gating tests"
`hack/test-cmd.sh` of gated overwrite bootstrap policy, create policy binding, and migrate authorization

[2017-08-17 15:06] enj opened #15815 "RBAC Migration Followup #3: Test Fixes"
- [x] Confirm changes to `TestAuthorizationResolution` and `TestAuthorizationResourceAccessReview` in `test/integration/authorization_test.go`
- [x] Remove `TestPolicyCache`

[2017-08-17 15:12] enj opened #15816 "RBAC Migration Followup #4: Use upstream subject locator directly"
Remove `openshiftSubjectLocator`

[2017-08-17 15:19] enj opened #15817 "RBAC Migration Followup #5: Delete policy registry code and associated commands"
- [ ] Delete all legacy policy registry code and related commands like overwrite bootstrap policy
- [x] Find callers of `clusterpolicyregistry "github.com/openshift/origin/pkg/authorization/registry/clusterpolicy"` and move to point of use, fixed in #15863

[2017-08-17 15:22] enj opened #15818 "RBAC Migration Followup #6: new-project with RBAC?"
Should project creation use RBAC instead of proxy endpoints?

[2017-08-17 15:25] enj opened #15819 "RBAC Migration Followup #7: Post start hook build error should fatal server"
`glog.Fatal` on post stark hook error

[2017-08-17 15:27] kingjared commented on #15583
I noticed that the new 3.6.0 packages have a release of `1.0.c4dd4cf` as opposed to the release naming scheme you've used previously (`1.el7` for example). Are these going to be renamed in the near future or can we expect the current release name to stick?

[2017-08-17 15:27] enj opened #15820 "RBAC Migration Followup #8: Remove policy from bootstrap policy"
Remove policy objects from bootstrap roles

[2017-08-17 15:31] enj opened #15821 "RBAC Migration Followup #9: Remove normalizeResources from bootstrappolicy"
Remove `normalizeResources` from `pkg/cmd/server/bootstrappolicy/policy.go`

[2017-08-17 15:34] enj opened #15822 "RBAC Migration Followup #10: Fix router ignore error"
Fix `ignoreError` in `pkg/oc/admin/router/router.go`

[2017-08-17 15:36] bparees opened #15823 "Jenkins plugin extended tests failing"
Bunch of extended test failures related to the jenkins plugin and image tags:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/177/

Also it seems like those tests are not doing a good job of dumping the pipeline job logs when things fail.

[2017-08-17 15:37] enj opened #15824 "RBAC Migration Followup #11: Remove getAPIGroupLegacy from scope converter"
Upstream rules have always required a group.  Remove `getAPIGroupLegacy` from `pkg/authorization/authorizer/scope/converter.go`

[2017-08-17 15:37] eparis commented on #15812
https://trello.com/c/EvdONcue

[2017-08-17 15:45] enj opened #15825 "RBAC Migration Followup #12: use RBAC encoding in create-bootstrap-policy-file"
Switch encoding to RBAC in `pkg/cmd/server/admin/create_bootstrappolicy_file.go`

[2017-08-17 15:48] enj opened #15826 "RBAC Migration Followup #13: Use RBAC discovery rule"
Make RBAC discovery rule authoritative in `pkg/authorization/apis/authorization/types.go`

[2017-08-17 15:50] enj opened #15827 "RBAC Migration Followup #14: Fix bootstrap conversion functions"
Fix panics() in `Convert...OrDie()` functions

[2017-08-17 15:52] enj opened #15828 "RBAC Migration Followup #15: Revisit forbidden message maker"
Revisit forbidden message maker (see if its needed / what we need from it)

For example, it prevents leaking information about if projects exist

[2017-08-17 15:54] juanvallejo opened #15829 "[PROPOSAL] Add --interactive flag to `oc delete`"
**Case**
The `oc delete` command does not currently ask for confirmation before deleting resource(s).

**Solution**
Although asking for confirmation interactively out of the box would go against cli principles of having all commands be scriptable, a solution to this would be to have the user explicitly ask for `oc delete` to be interactive by passing a flag (such as `oc delete ... --confirm`). Thi

[2017-08-17 15:56] enj opened #15830 "RBAC Migration Followup #16: Exercise proxied endpoints"
Exercise proxied endpoints.  Make sure all the supported `VERB`s work under different conditions

[2017-08-17 16:00] enj opened #15831 "RBAC Migration Followup #17: Discovery based gating"
Use discovery API based gating instead of hard coding version numbers.

[2017-08-17 16:43] enj opened #15833 "RBAC Migration Followup #18: Serialize test YAML files as RBAC"
Serialize test YAML files as RBAC so we can stop converting multiple times.

[2017-08-17 16:46] enj opened #15835 "RBAC Migration Followup #19: Upstream test fixes"
- [ ] Check to see if the deleted unit tests are reflected upstream and fix gaps
- [ ] Update upstream `subject_locator_test` with origin's extensive testing

[2017-08-17 16:48] enj opened #15836 "RBAC Migration Followup #20: Deleted tests"
- [x] Check if `delegated_test.go` can be revived
- [ ] Validate coverage for all deleted `_test.go` files

[2017-08-17 16:59] tdawson commented on #15583
For the foreseeable future, I believe the current release names (with the git hash at the end) are going to stick.  The builds are now being built automatically.  All the previous builds were done manually, so I was able to cleanup a few things.
Can we fixup the automatic builds so that the release number is cleaner, yes.  But that is for later down the road.  Right now we're happy that they are b

[2017-08-17 17:13] smarterclayton commented on #15829
So in order to be safe, someone has to remember to type --interactive?  Doesn't seem likely that's going to prevent the user from accidentally deleting things

[2017-08-17 17:23] bparees commented on #13239
yes it's not valid to have a pod with a nodeselector that conflicts (is not a subset of) the project nodeselector.  So what you did is one fix, another fix would have been to add the project nodeselector as an additional nodeselector on the builddefaults.

I suspect that will only affect projects created after you make that change, not projects that already exist.

[2017-08-17 17:27] djdevin commented on #15802
Wow, that is exactly the case. Thanks!

I'll leave this open though because the documentation is out of date for both OCP and Origin in some places:

https://docs.openshift.com/container-platform/3.6/install_config/build_defaults_overrides.html#ansible-setting-global-build-defaults

https://docs.openshift.org/latest/install_config/build_defaults_overrides.html

I noticed it had been updated elsewh

[2017-08-17 17:33] smarterclayton commented on #9232
Annotate failing is a pretty high priority.

[2017-08-17 17:49] smarterclayton commented on #13944
We're talking about moving our dependent images someplace reliable.

[2017-08-17 18:51] bparees commented on #15823
I reran the suite and all the same tests failed, so this is not a flake.
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/178

[2017-08-17 19:19] fabianofranz commented on #15829
I'd still not recommend making it interactive, but something like this could be possible (probably not applicable for all kinds, but the most destructive ones like `project`):

[code]

This is somehow not backwards compatible though, in the sense that a given command ran exactly the same way no longer does exactly the same thing.

[2017-08-17 19:42] harsh-px commented on #15269
@rootfs Thanks for the info. If we submit a PR now to enable the provisioner, can this make it to any 3.6 patch release?

[2017-08-17 19:52] gabemontero commented on #15823
On Thu, Aug 17, 2017 at 2:51 PM, Ben Parees <notifications@github.com>
wrote:

When I circle to this I'll run the latest jenkins image against 3.6 GA to
confirm whether it works with earlier
versions of openshift or not.  That should be the be close to what the last
PR test run did.

I'm guessing it will work, and we'll have to track down what changed wrt
the image apis,
but we'll see and go from

[2017-08-17 21:46] smarterclayton commented on #15829
Yeah, we can't change delete without a much larger set of agreement.  And
it would still be backwards incompatible, so we should probably focus on
doing delete protection instead (there's another issue tracking it in kube)
so that users have to think before deleting certain resources.

On Thu, Aug 17, 2017 at 3:19 PM, Fabiano Franz <notifications@github.com>
wrote:

[2017-08-17 22:31] enj commented on #15791
It is not possible to tell what groups a user belongs to or the group membership of all groups.  This is because this information is only partially stored in the API server (the openshift user and group objects).  Since a user or group can be virtual (for example, from a x509 cert), it is impossible for us to know this information.

We can tell:

1. What permissions apply to a user
2. What permiss

[2017-08-17 22:31] #15791 closed

[2017-08-17 23:16] enj commented on #15792
@mfojtik @tnozicka This setup function looks incorrect (note that project request is always best effort - it tries for ~6 seconds to make sure you have your permissions, but it won't just hang there until you get your permissions):

[code]

[2017-08-18 01:14] scheng1 commented on #15791
@enj  got it

[2017-08-18 02:48] derekwaynecarr commented on #14920
my fix for runc merged, we will have to bump runc in cadvisor, and use it to expose total_ values so we do not look at charges local to the cgroup but also its children.

[2017-08-18 03:00] sjenning commented on #14920
for the record, that is a bump to at least https://github.com/opencontainers/runc/commit/7139b61f7fdb904d0acb8db825709aa8d2d2ef36

[2017-08-18 07:10] AgainstWind opened #15850 "Permission problem with pod's volumeMounts"
when i run a container with external volume on the openshift, the application process doesn't run as root
user (it is different with docker) which cause the problem: application process has no permission to create file in the volumeMounts.
i have tried to modify the scc configuration, but has nouse.

[2017-08-18 09:48] makentenza commented on #15802
Yes, just reviewed and both repositories have this errata. Will change that and make a PR. Will update this issue as well with the info so you could close it once is solved.

[2017-08-18 10:11] mliker commented on #13239
Thanks again @bparees for your input

Here is what I ended up with.

Goal: separate builds and deployments to different nodes

Config:

master-config.yaml:
- set `nodeSelector` under `BuildDefaults`
- unset `defaultNodeSelector` under `projectConfig`

project ns:
- delete nodeselector annotation

deployment configs:
- patched with `'{"spec":{"template":{"spec":{"nodeSelector":{"nodetype":"deploy"}

[2017-08-18 10:17] xavierbaude opened #15851 "User can not view their metrics"
Description

Confere this Bug in the openshift enterprise release, an ordinary user can not view their metrics, admin can.
https://bugzilla.redhat.com/show_bug.cgi?id=1477223

bug reproduced in v3.6.0 origin openshift install

Version

Ansible 2.3.1
Centos 7.3
Origin 3.6.0 in containerized mod
docker image release : v3.6.0 from the docker hub.

Steps To Reproduce

In a running cluster setup, I ins

[2017-08-18 11:14] makentenza commented on #15802
The following PR have been created:

https://github.com/openshift/openshift-ansible/pull/5135
https://github.com/openshift/openshift-docs/pull/5043

[2017-08-18 11:44] #15258 closed

[2017-08-18 11:55] mangirdaz commented on #14249
Does this has a workaround now?

[2017-08-18 11:59] moretea opened #15852 "Running oc cluster up on NixOS"
I'm trying to get `oc cluster up` to work on NixOS. It fails on trying to create the host directories.
On NixOS, binaries are not placed in `/bin`, `/usr/bin`, etc, but stored under their cryptographic hash.

AFAICS, the code in https://github.com/openshift/origin/blob/v3.6.0/pkg/bootstrap/docker/host/host.go#L25-L28, which creates the directories, is run in a container, right?

##### Version
[cod

[2017-08-18 12:19] jperville opened #15854 ""oc debug" should exit non-zero when the executed command returns non-zero"
The `oc debug` command seems to always exit with a shell status code of 0 even when the executed command exits non-zero. This is counter intuitive and makes using `oc debug` in a `set -e` shell script difficult.

There should a new flag to tell `oc debug` to exit non-zero when the executed command exits non-zero, or even better, to make `oc debug` exit the same exit code as the executed command.

[2017-08-18 12:41] mangirdaz commented on #14249
Bizarre thing is that some of the layers managed to land in the filesystem:
[code]

and docker cli:
[code]

Logs:
[code]

[2017-08-18 12:52] mangirdaz commented on #12474
@zafinxueqian this one is permission issue... Check your role bindings on the project

[2017-08-18 13:05] enj commented on #15823
Assigning myself in case this is related to #15021 or #15721

@gabemontero let me know if see anything odd related to auth or storage registry.

[2017-08-18 13:22] tdawson commented on #15583
Complete
origin 3.6 is now officially released in CentOS.

You should be able to install it via our generic repo, which tracks the latest release.

1. yum install centos-release-openshift-origin
2. yum install origin-clients (or whichever package you want)

You should also be able to install it via our release specific repo
1. yum install centos-release-openshift-origin36
2. yum install origin-cli

[2017-08-18 13:22] #15583 closed

[2017-08-18 13:33] djeremiah commented on #15741
Seeing something similar in Fedora 26.

Fedora 26: 4.12.5-300.fc26.x86_64
Docker version 1.13.1, build 27e468e/1.13.1

oc cluster up --version="v3.6"

[code]
etc. etc.

[code]

[2017-08-18 13:49] php-coder commented on #15850
In order to help you, we need more information:

- How do you run a container? Could you provide a manifest?
- Which exactly external volume? Do you mean hostPath?

Yes, it's on purpose to make it more secure by default.

What are exactly application requirements? Does it really need to be run under root?

How did you try? What commands have you used?

Have you read SCC docs https://docs.openshift

[2017-08-18 13:57] abstractj commented on #15453
@juanvallejo I will definitely need your help on this. It seems something really tricky to debug.

[2017-08-18 13:58] rhvgoyal commented on #15742
Note: Please edit /etc/sysconfig/docker-storage-setup and not /usr/lib/docker-storage-setup/docker-storage-setup

1. Yes 12GB is size of your thin pool. Ad thin pool is built on top of a data lv and a metadata lv. And DATA_SIZE is practically controlling how big your data lv should be. That in turn will translate into your thin pool size. So if you have a volume group of size 24GB and you specify

[2017-08-18 13:59] csrwng commented on #15852
The command that follows the nsenter --mount is run on the host's mount namespace which requires the binaries in that namespace

[2017-08-18 14:04] bparees commented on #13239
cool, that will certainly work.  using taints+tolerations would keep you from having to patch your deploymentconfigs though.

[2017-08-18 14:25] ksemaev commented on #15759
As I suspected - deploying a new version of dc, which useses the same source image as cronjobs causing cronjob's failure of creating new jobs (although the new image using the same :latest tag). Guess it is time to implement imagestreams.

Added to my CI additionak tasks of recreating cronjob after docker pull of new images

[2017-08-18 14:25] #15759 closed

[2017-08-18 14:33] ksemaev commented on #15742
@rhvgoyal thank you for detailed answere. As I found out - lvs is really closer to the truth than all other tools. I am not sure how to check this with "overlay2 graph driver". So playing with lvms sizes showed that they are not very helpful with thin pool size <15 Gb.
When I have ~20 Gb and more: lvs is becoming more accurate.

The only question left: how would you reccomend monitoring node's doc

[2017-08-18 14:48] moretea commented on #15852
Of course it is! That is exactly what `nsenter` is supposed to do. Sorry, I must have been asleep.

[2017-08-18 15:12] moretea commented on #15852
https://github.com/NixOS/nixpkgs/pull/28345/commits/a3dde7776bd8200887e68909b637bc49451b7fed fixed the problem.

Thanks @csrwng!

[2017-08-18 15:12] #15852 closed

[2017-08-18 15:31] enj opened #15856 "RBAC Migration Followup #21: Convert bootstrap SA rolebindings to RBAC"
This requires some thought as `GetBootstrapServiceAccountProjectRoleBindings` is (and must be) used by areas of the code that interact with the proxied endpoints.

[2017-08-18 17:06] stevekuznetsov commented on #15695
@bparees @jwhonce  could you add a call to [`os::log::system::start`](https://github.com/openshift/origin/blob/master/hack/lib/log/system.sh#L207) in the appropriate test scripts?

[2017-08-18 17:19] bparees commented on #15695
@stevekuznetsov looks like we already do:
https://github.com/openshift/origin/blob/master/test/extended/core.sh#L8
https://github.com/openshift/origin/blob/master/test/extended/setup.sh#L81

[2017-08-18 17:20] stevekuznetsov commented on #15695
Bail out early on `$TEST_ONLY=1` https://github.com/openshift/origin/blob/master/test/extended/setup.sh#L54

[2017-08-18 17:41] bparees commented on #15695
so is it safe to move the call above that bail out?

[2017-08-18 17:54] stevekuznetsov commented on #15695
I don't see why not

[2017-08-18 17:54] stevekuznetsov commented on #15695
Wait

[2017-08-18 17:55] stevekuznetsov commented on #15695
You may need to mess with the placement of `os::util::environment::setup_all_server_vars` or at least determine which vars the logger needs and ensure they are available

[2017-08-18 18:26] enj commented on #15817
@openshift/cli-review putting this a proposed 3.8 issue to delete all of this stuff.

[2017-08-18 20:59] smarterclayton commented on #13975
[code]

from https://github.com/openshift/openshift-ansible/pull/5120

[2017-08-18 22:18] kwoodson opened #15869 "node-bootstrapper service account does not exist"
When going to 3.7 the node-bootstrapper service account is missing.

##### Version
[root@ip-172-31-48-185 ~]# oc version
oc v3.7.0-0.27.0
kubernetes v1.7.0+695f48a16f
openshift v3.7.0-0.27.0
kubernetes v1.7.0+695f48a16f

##### Steps To Reproduce
1. Install a 3.7.0-0.27.0
2. Verify node-bootstrapper service account does not exist

##### Current Result
No exist!

##### Expected Result
Exists
##### A

[2017-08-18 22:23] smarterclayton commented on #15869
Was removed in 181f498ed44c56fb4bf93a082770714b6456887a which has @deads2k name on it.

[2017-08-18 22:41] smarterclayton commented on #15869
We'll need that service account and role (or a close equivalent back).  Our current plan is for the automation to grab that kubeconfig and place it into launch config, and then periodically refresh the launch config every X hours by creating a new service account token.

[2017-08-18 23:29] #15833 closed

[2017-08-19 00:50] enj commented on #15869
Why does it have to be a bootstrap role?  Can't you just make whatever role and bindings you need with ansible?

[2017-08-19 01:49] xiaods commented on #14393
@stevekuznetsov here: https://github.com/openshift/origin/issues/15808

[2017-08-19 04:23] kwoodson commented on #15869
With the latest 3.7.0-0.27 build that I'm using I am receiving node csr's that look like this:

node-csr-Wq35fUiyWTh8CRPMUVdqqFVr2ocKfto24vRRJcyrFYc

Then once approved I don't see the Issued on the condition.  Is this something that has changed or was regressed from 3.6.171?  I had written up a [module](https://github.com/openshift/openshift-ansible/pull/5112) that takes a list of node names and

[2017-08-19 05:35] smarterclayton commented on #15869
Bootstrapping is core to the platform.  It is not something Ansible should
be creating, because it is the root of everything for node permission.
Less should be in Ansible, not more (in many cases) especially for config
that is identical across all clusters.

It looks like default CSR values were broken, but I need to look.

On Aug 19, 2017, at 12:23 AM, Kenny Woodson <notifications@github.com>
wr

[2017-08-19 06:40] bparees commented on #15680
Still failing:
https://ci.openshift.redhat.com/jenkins/me/my-views/view/DevEx/job/test_branch_origin_extended_builds/176/

[2017-08-19 07:33] mliker commented on #13239
Reading up on taints and tolerations one still has to annotate pods for it work. I haven't been able to achieve that on global level (master-config.yaml) using the combination of defaultNodeSelector and BuildDefaults.

[2017-08-19 08:59] alikhajeh1 opened #15871 "Updating `git` version used in Docker build strategy"
openshift/origin-pod:v1.5.1 is currently using git version 1.8.3.1. Are there any plans to update it, e.g. to patch the security vulnerabilities mentioned in https://lkml.org/lkml/2017/8/10/757, in build configs that use the Docker build strategy? If not, is there a recommended way for us to update git ourself (e.g. create a custom image based on openshift/origin-docker-builder?)

##### Version
[c

[2017-08-19 11:07] vaibhavpatil123 opened #15872 "Passthrough routing using port 443 mapping giving 503 error on ajax post method"
Passthrough routing for 443 port not working

##### Version
openshfit3
##### Steps To Reproduce
1. Use below template
	{
      "kind": "Route",
      "apiVersion": "v1",
      "metadata": {
        "name": "${SERVICE}-https",
        "labels": {
          "name": "${SERVICE}"
        }
      },
      "spec": {
        "to": {
          "kind": "Service",
          "name": "${SERVICE}-https"

[2017-08-19 12:08] bparees commented on #13239
The build defaulter can definitely add annotations to the build pods for
you, which is the only pods you'd need to add annotations to.

Ben Parees | OpenShift

On Aug 19, 2017 03:33, "mliker" <notifications@github.com> wrote:

[2017-08-19 14:05] mliker commented on #13239
Yes, thats true, however, what is there to stop deployments lending on the build annotated node (since they have no nodeselector)?

[2017-08-19 14:57] bparees commented on #13239
the taint on the node stops them, since they won't have the toleration annotation.

[2017-08-19 15:07] enj commented on #15869
Sounds reasonable.

@openshift/sig-security

@tiran I believe you were tasked with understanding this area.

[2017-08-19 18:39] smarterclayton commented on #13966
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_unit/1187/testReport/junit/github.com_openshift_origin_vendor_k8s/io_kubernetes_pkg_controller_node/TestCancelAndReadd/

[2017-08-19 22:15] stevekuznetsov commented on #15808
@xiaods what version (commit) of `imagebuilder` are you using?

@smarterclayton is this an `imagebuilder` issue mounting in? Maybe because the data is in a Docker volume?

[2017-08-19 22:24] gabemontero opened #15874 "Install dnsmasq configuration fails during conformance runs"
See https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4432

[code]

[2017-08-19 23:50] smarterclayton commented on #15808
Which version of docker?

[2017-08-20 09:21] hferentschik opened #15875 "[cluster-up] Timeout during provisioning of service catalog via cluster up too low"
Related to Minishift. See also https://github.com/minishift/minishift/issues/1252

[2017-08-20 09:50] mbalazs opened #15876 "build fails to start if a name of a source secret contains a dot"
When creating a secret from the web console, it is possible to create a secret with dots in its name (e.g. "hello.world"). However, the build controller won't be able to start the builder pod in this case:

[code]

##### Version
oc v1.5.1
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://api.podspace.io:8443
openshift v1.5.1
kubernetes v1.5.2+43a9be4

##### Step

[2017-08-20 10:09] mbalazs opened #15877 "misleading quota depletion errors when the build controller cannot create a builder pod"
If a project has resource quotas set, and it contains an invalid buildConfig which causes the build controller to create an invalid builder pod, the user will see a misleading "Quota limit has been reached" error message.

This issue has come up together with #15876, but I'm creating a new issue because I believe this is an unrelated error that may also present in different circumstances. The step

[2017-08-20 17:10] mliker commented on #13239
Well I am having a hard time making taints&tolerations work.

I tainted a node with:
[code]

However, I am not able to add tolerations to builds using either BuildDefaults or BuildOverrides. The below master-config.yaml will not add any tolerations to any build pods.

[code]

[2017-08-20 22:25] bparees commented on #13239
You have to add the tolerations as annotations. It was an alpha annotation.
Not sure if support for the alpha annotation was removed in 3.6.

Ben Parees | OpenShift

On Aug 20, 2017 13:10, "mliker" <notifications@github.com> wrote:

[2017-08-21 01:38] AgainstWind commented on #15850
Sorry to reply late， i want to create a mysql instance based on openshift **mariadb(persistent) template**,   just do it in the web console, and the deployment yaml file is:

[code]

It has two  external storage volumes:
[code]
Practically, i just use one volume, just  make a comparison, and the application container error logs are identical.
The mysql3-data pvc and pv configuration is:
[code]
[co

[2017-08-21 02:08] f0x11 commented on #15808
imagebuilder version
[code]
docker version
[code]

[2017-08-21 03:20] voanhduy1512 commented on #15723
I have the same problem

[code]

I create a small c project https://github.com/voanhduy1512/memfd, which use `memfd_create` and `ftruncate`, to reproduce the problem.

This code runs fine on new openshift cluster, but not on my production one. I think there is must be a security option setup somewhere that prevent `ftruncate`.

I hope that would give more information that help you debugging.

[2017-08-21 07:21] mliker commented on #13239
Thank you for your patience @bparees !

Indeed it was an alpha annotation, mentioned in that medium article.

This is what I ended up with:

master-config.yaml
[code]

[code]

And it seems to be doing the right thing. A manual build ended up on the n4 node while a triggered deployment from this build ended up on a different node.

[2017-08-21 07:25] akokshar commented on #5228
Any update on this?
I am on 3.5 and there are no roles for pruning builds and deployments. When such roles are expected to be available to the end user?

[2017-08-21 07:26] giuseppe commented on #15668
https://github.com/openshift/origin/pull/15693 is merged, can we close this issue?

[2017-08-21 07:29] tnozicka commented on #15790
@mfojtik do we have some common tracking issue for journald failures?

Lowering to P2 since it doesn't seem to repeat and this is long standing issue with journald in our tests.

[2017-08-21 08:46] tnozicka commented on #15874
failed 3 times in row in https://github.com/openshift/origin/pull/15868#issuecomment-323680760

last log https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4470/testReport/(root)/Configure%20nodes/_localhost__openshift_node_dnsmasq___Install_dnsmasq_configuration/

[2017-08-21 08:58] mfojtik commented on #9232
@smarterclayton i cannot reproduce this on the latest master (guess it was fixed?). Is this 3.4 only?

[2017-08-21 09:00] mfojtik commented on #9232
@smarterclayton @kargakis @soltysh seems like we need to backport https://github.com/openshift/origin/pull/12731 to 3.4?

[2017-08-21 09:55] Rammmsankar commented on #11206
how to resolve ?

[2017-08-21 10:04] yu2003w commented on #14195
which network plugin did you use? flannel or openvswitch?

[2017-08-21 10:58] judavi commented on #15092
I have been keep playing with the config file and I notice that other configurations like --signature-verification works but for some reason content-trust doesn't

[2017-08-21 11:25] jsafrane commented on #15812
If I understand it correctly, the only reason for custom init in Origin is a different default recycler template at https://github.com/openshift/origin/blob/master/pkg/cmd/server/kubernetes/master/controller/volumes.go#L76

So we need a way how to pass a *v1.Pod with a recycler template from place where OpenShift and Kubernetes is different into [startPersistentVolumeBinderController](https://gith

[2017-08-21 12:05] soltysh commented on #15759
+1 for image streams, I can recommend this article https://blog.openshift.com/image-streams-faq/ I wrote some time ago :)

[2017-08-21 12:30] andrewklau opened #15878 "logSnippet error reading termination message from logs"
None of my failed builds ever seem to get this new logSnippet, it always returns:

[code]

##### Version
3.6

[2017-08-21 13:08] adelton opened #15879 "When using wrong flexVolume driver name, error is only shown in node's log, not in pod's events"
When user makes a typo and specifies wrong flexVolume driver name, there is no error message pointing to the cause of the problem given in the pod's events. The only indication is

[code]

But the wrong name of the driver (`example.test/bind-mount-zz` in my case) is not listed anywhere.

##### Version
[code]

##### Steps To Reproduce
1. Have executable `/usr/libexec/kubernetes/kubelet-plugins/volu

[2017-08-21 13:49] twforeman commented on #14786
Nothing? Nobody knows?

[2017-08-21 15:06] jsafrane commented on #15812
Oh, an there is of course 3. Add recycler pod template to `KubeControllerManagerConfiguration`. This requires changing `k8s.io/kubernetes/pkg/apis/componentconfig/types.go`:

[code]

It would add dependency of `apis/componentconfig/types.go` on `v1/types.go` which does not look right to me.

[2017-08-21 15:10] simo5 commented on #15820
@enj, we need more context here for people to be able to pick this up and do something.

[2017-08-21 15:14] sdodson commented on #14786
I believe you just have mismatched node selectors here. If the default is `region=primary` and you have a build node labeled `region=build` then when specifying the builddefaults and buildoverrides you'll need to specify `region=build` as the node selector.

If you really want to specify a specific host you'd do `region=build,kubernetes.io/hostname=foobar`

@bparees would know better than I would

[2017-08-21 15:18] twforeman commented on #14786
You would think that would work, but the builddefaults and buildoverrides don't appear to actually override the region. At least in my experimenting it didn't work properly.

[2017-08-21 15:54] bparees commented on #13239
Excellent, glad we were able to work through it.

Ben Parees | OpenShift

On Aug 21, 2017 03:22, "mliker" <notifications@github.com> wrote:

[2017-08-21 16:27] smarterclayton commented on #15790
We do, it's p0 and someone needs to move it forward :)

On Aug 21, 2017, at 3:29 AM, Tomáš Nožička <notifications@github.com> wrote:

@mfojtik <https://github.com/mfojtik> do we have some common tracking issue
for journald failures?

Lowering to P2 since it doesn't seem to repeat and this is long standing
issue with journald in our tests.

—
You are receiving this because you authored the thread.

[2017-08-21 16:28] smarterclayton commented on #15869
Need a fix for this today or tomorrow, or a revert of the commit that
removed it.

On Aug 19, 2017, at 11:07 AM, Mo Khan <notifications@github.com> wrote:

Sounds reasonable.

@openshift/sig-security
<https://github.com/orgs/openshift/teams/sig-security>

@tiran <https://github.com/tiran> I believe you were tasked with
understanding this area.

—
You are receiving this because you were assigned.
R

[2017-08-21 16:46] mfojtik commented on #15790
cc @soltysh

[2017-08-21 16:47] tnozicka commented on #14785
also seen in https://github.com/openshift/origin/issues/15790#issuecomment-323791583

[2017-08-21 16:47] tnozicka commented on #15790
found it: https://github.com/openshift/origin/issues/14785

[2017-08-21 16:50] tnozicka commented on #15874
again in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4478/testReport/junit/(root)/Configure%20nodes/_localhost__openshift_node_dnsmasq___Install_dnsmasq_configuration/

For the 5th time in row. This is blocking tests.

[2017-08-21 17:08] php-coder commented on #15850
In this case I'd try to grant access to the `privileged` SCC to the `system:serviceaccount:mariadb:deployer` service account: `oc adm policy add-scc-to-group privileged system:serviceaccount:mariadb:deployer`.

Let me know if it works.

[2017-08-21 17:12] php-coder commented on #15850
BTW are you sure that you really need to run the database under root user and with privileged mode? This isn't secure and it should be avoided when possible. If you only need it to have an access to the files on the disk, then there should be alternative ways to achieve that.

[2017-08-21 17:32] bobmhong opened #15883 "x509 error trying to run an oc new-app sample behind a corporate proxy that intercepts and substitutes certs"
I'm testing an origin cluster created with oc cluster up on RHEL7.  Our corporate proxy intercepts and replaces certs for certain URLs needed to download docker images (dseasb33srnrn.cloudfront.net).

I needed to add the company cert to /etc/pki/ca-trust/source/anchors and run update-ca-trust extract, then service docker restart to get the cluster to start properly.

I'm now getting an x509 error

[2017-08-21 17:59] mfojtik commented on #15874
@jhadvig seems like @stevekuznetsov is out, we need your superpowers.

[2017-08-21 18:19] akostadinov commented on #15883
You need to add your company certificate into a `builder` user account secret.
https://docs.openshift.com/container-platform/3.3/dev_guide/builds.html#trusted-certificate-authorities and add as a `sourceSecret` to your build config.

[2017-08-21 18:23] #15883 closed

[2017-08-21 18:54] tiran commented on #15869
@smarterclayton

@simo5 and I looked into the code. We cannot simple revert the commit because the old code gone for good and has been replaced with RBAC rules. It also shouldn't be necessary to create ``system:node-bootstrapper`` in OpenShift any more. Upstream k8s code does it for us in ``rbac/bootstrappolicy/policy.go``:

https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/

[2017-08-21 20:25] gabemontero commented on #15823
OK, in addition to the image tagging stuff, the basic `oc create` equivalent for jenkins-plugin got broke by whatever happened in the underlying origin stuff.  My guess is it is separate from the image tagging.

Looking at that one first, it fails attempting to hit  `https://172.30.0.1/swaggerapi//api/v1` ... in other words, mistakingly putting in consecutive slashes ... looks like the master used

[2017-08-21 20:33] gabemontero commented on #15823
I take it back :-) ... forgot the image tagging has to use the create.

Same root cause:

[code]

I'll start the plugin fix train.

[2017-08-21 22:09] mrogers950 commented on #15822
@enj it looks like you're referring to correcting the 'Temp fix for test/cmd/router.sh' part of 806d7be. What are we looking for in a permanent fix here?

[2017-08-22 00:24] walidshaari commented on #10585
What works for me is the following
oc rollout latest docker-registry

[2017-08-22 02:17] smarterclayton commented on #15869
The service account is node-nootstrapper in openshift-infra and should have
that role bound by default.

On Aug 21, 2017, at 2:54 PM, Christian Heimes <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton>

@simo5 <https://github.com/simo5> and I looked into the code. We cannot
simple revert the commit because the old code gone for good and has been
replaced with RB

[2017-08-22 05:05] lilianmoraru commented on #15850
@php-coder I just try to use the default `redhat-openjdk18-openshi` deployment and it fails instantly(permission denied):
[code]

[2017-08-22 05:20] andrewklau commented on #15755
[code]

I haven't seen this issue come up again so haven't been able to report back, sorry.

[2017-08-22 05:42] adalga opened #15892 "Cannot access service through external IP"
I want to access my service through externalIp. To do this I have done the instructions on openshift documentation. I changed the master config and restart the master services. I set the IngressIPNetworkCIDR: 172.46.0.0/16. However, when I make the service's spec->port->type : LoadBalancer it assigns 172.29.*.* still. And I can't access the service via given IP.Connection times out. What am I doin

[2017-08-22 05:42] pennpeng opened #15893 ""containerd: unable to save 99c0d7d16c0fe246c204625902d41770ea514764a29eaf4c64385233c180fd67:0b66dc587173a7208c0de6345b330432505869d146369c2b568959ad096dca45 starttime: open /proc/69658/stat: no such file or directory""
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]
##### Steps To Reproduce
[code]
##### Current Result
[code]
The log:
[code]
The master  node:
[code]
##### Expected Result

##### Additional Information
[try to run `$ oadm diagnostics` or `oc adm diagnostics` command if possible]
[code]
[if you are reporting issue related

[2017-08-22 06:23] AgainstWind commented on #15850
sorry, the problem has resolved, it is not the scc's problem,  i have error on  nfs server directory  permission assignment.
The error nfs permission configuration:
`
# chown  -R  nfsnobody:nfsnobody  /home/nfs
`
and after modify to:
`
# chmod 766 -R /home/nfs
`
the problem is resolved.

[2017-08-22 06:32] GrahamDumpleton opened #15894 "Duplicate secret names in secrets list of service account."
Secret name being added to service account secrets list multiple times when UI used.

##### Version

oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce

First create a secret from the command link it to the builder service account.

[code]

Listing the service account we

[2017-08-22 08:57] debianmaster opened #15895 "error: server does not support API version "federation/v1beta1"
I have two openshift clusters  with contexts  `fed`  and `cluster1`

##### Version
on both clusters this is the current openshift version
[code]

##### Steps To Reproduce
[code]
[code]

[code]

##### Current Result
[code]
##### Expected Result
[code]

##### Additional Information
I'm using kubefed supplied by openshift releases and clusters are stood up using oc cluster up

[2017-08-22 09:48] php-coder commented on #15850
@AgainstWind Ok, thanks for letting me know. I'm closing this issue then.

@lilianmoraru Could you fill a separate issue with the steps to reproduce it?

[2017-08-22 09:48] #15850 closed

[2017-08-22 10:15] charliejllewellyn opened #15897 "No feedback when deleting a service instance with existing bindings"
Deleting an external service instance via the service broker when there is an existing binding fails silently.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://51.179.219.224:8443
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Create external service via broker
2. Bind new service to applicaition
3. Delete external

[2017-08-22 10:16] charliejllewellyn opened #15898 "Feature request: provide external service broker provisioning feedback in the UI"
When creating/deleting new services the UI gives no feedback that the task is progressing (either creating or deleting)

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://51.179.219.224:8443
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Create or delete a new service by the service broker

##### Current Result
no UI

[2017-08-22 11:34] mfojtik opened #15900 "hack/test-cmd.sh:114: executing 'oc new-project 'cmd-admin'' timeout"
Seen here: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_cmd/1307/console

Console:

[code]

From the master server logs it seems like rolebindings creation failed:

[code]

And that seems to be due to etcd timeout:

[code]

Which seems to be related to:

[code]

and

[code]

[2017-08-22 11:38] mfojtik commented on #15900
@ironcladlou you was looking for something to look at? ;-)

[2017-08-22 11:48] tnozicka commented on #15874
seems like it's fixed in master, just not used in CI
https://github.com/openshift/openshift-ansible/pull/5142#issuecomment-323730419

[2017-08-22 12:54] mfojtik commented on #15895
@deads2k @sttts i can see the federation is in 'unexposed' groups and commented out in as "enable as part of a separate binary"

[2017-08-22 12:56] mfojtik commented on #15894
@deads2k @spadgett not sure if we want to check the presence of the secret in web console or return a validation error.

[2017-08-22 13:04] php-coder commented on #15879
This looks like an issue that should be solved in the upstream.

@jsafrane Could you look at it and confirm my assumption?

[2017-08-22 13:06] mfojtik commented on #15871
@alikhajeh1 i guess the docker builder and s2i builders use the latest GIT version available in centos7 repos (mine shows 1.8.3.1-6.el7_2.1)

[2017-08-22 13:09] mfojtik commented on #15777
@kargakis FYI

I think we decided to not implement follow logic into rollout latest, but instead to use `oc rollout status`. The `--follow` was always great source of bugs and all sort of problems with dropped watches/etc.

[2017-08-22 13:13] jcantrill commented on #15851
@mwringe  anything obvious that we should be looking for in our ansible deployment?

[2017-08-22 13:13] mbalazs commented on #15876
Yes:

[code]

This is 100% reproducible by following the steps to reproduce above.

[2017-08-22 13:14] mfojtik commented on #15752
@deads2k @enj they were not dropped but renamed:

`pv-binder-controller` -> `persistent-volume-binder`

(rest should use the upstream SA names?)

[2017-08-22 13:17] mfojtik commented on #15646
@oprudkyi can you double check the deployment strategy for the router?

[2017-08-22 13:19] mfojtik commented on #15646
@csrwng seems like the router is using rolling strategy by default, is this something we want to change for oc cluster up?

[2017-08-22 13:21] csrwng commented on #15646
@mfojtik yes and I would think you'd want to change it for any regular deployment as well where there is only one infra node.

[2017-08-22 13:26] mfojtik commented on #15646
@csrwng detecting just 1 infra node will be hard, guess something we can do in ansible.

[2017-08-22 13:31] csrwng commented on #15646
@mfojtik what's the use case for a rolling deployment? Do you assume that an external load balancer will redirect router traffic to the new node where it's deployed? (Assuming you are using host ports which is the default)

[2017-08-22 13:35] mwringe commented on #15851
its a change purely done to the docker image, there is no change required and its should have already been fixed in https://bugzilla.redhat.com/show_bug.cgi?id=1477223

[2017-08-22 13:46] stevekuznetsov commented on #15808
@f0x11 is it possible for you to upgrade to `docker-1.12.6`?

[2017-08-22 13:53] abstractj commented on #15828
@enj where the forbidden message maker is located?

[2017-08-22 14:07] csrwng commented on #11206
@Rammmsankar if you have firewalld enabled, please follow the instructions for linux here:
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md

[2017-08-22 14:13] stevekuznetsov commented on #15702
Should be fixed with https://github.com/openshift/origin/pull/15703

[2017-08-22 14:13] #15702 closed

[2017-08-22 14:14] stevekuznetsov commented on #15579
Fixed this as per above.

[2017-08-22 14:14] #15579 closed

[2017-08-22 14:15] stevekuznetsov commented on #12661
We have not seen this in a while... closing.

[2017-08-22 14:15] #12661 closed

[2017-08-22 14:15] stevekuznetsov commented on #14575
@smarterclayton @enj do we have resolution for this

[2017-08-22 14:16] stevekuznetsov commented on #14897
Is this just a dupe of the `journald` issue?

[2017-08-22 14:17] bparees opened #15901 "[templates] templateinstance readiness test [It] should report ready soon after all annotated objects are ready"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_templates/69

Guessing this is a flake since it runs as part of the merge queue, so it shouldn't have been explicitly broken by anything.

[2017-08-22 14:39] jwhonce commented on #15893
@pennpeng Which build of docker are you running?  Please attach the docker logs.

[2017-08-22 14:42] TheoHelfenberger commented on #15723
@adelton
I am answering on behalf of @mguillem. Here are the details of our installation.
Hope this information helps

[code]

[2017-08-22 15:27] jsafrane commented on #15879
Yes, it should be fixed upstream.

[2017-08-22 15:28] #14556 closed

[2017-08-22 15:29] bparees commented on #14556
(these got moved)

[2017-08-22 15:30] bparees commented on #14445
action items have been resolved or moved to other issues.

[2017-08-22 15:30] #14445 closed

[2017-08-22 15:33] bparees commented on #14163
And delete the old template tests extended job.

[2017-08-22 16:27] bparees commented on #15876
sounds like we need to replace dots with dashes when we create the mount name for the secret.

[2017-08-22 16:30] bparees commented on #15871
that's correct, it's from centos repos.  we don't backport to origin releases generally speaking, so to get a new one you'd have to go to a new release that uses a newer image that picked up a newer version, if there is one available.

As for updating it yourself, yes you can absolutely do a FROM to extend the existing docker-builder and sti-builder images, but you'll need to make sure that the ne

[2017-08-22 16:30] #15871 closed

[2017-08-22 16:44] jim-minter commented on #15901
AFAICS, cakephp-mysql-example-1-hook-pre terminated successfully, but nothing happened next.  Master logs are missing so can't diagnose further.

[2017-08-22 16:48] smarterclayton opened #15902 "Long prometheus queries time out on clusters with 30s connect timeouts"
The first byte from prometheus isn't returned until the server can calculate all the data.  For large queries, that might be greater than the default first byte timeout, which is 30s on a lot of cloud load balancers by default.

Not sure if there is something prometheus can do better, or whether we can afford to whitelist routes that can set longer timeouts.  Or whether a keep alive connection tha

[2017-08-22 16:48] bparees commented on #15901
any debug we should add to the test to better dump the various pod states/information when this fails in the future?

[2017-08-22 16:55] jim-minter opened #15903 "Get https://docker-registry.default.svc:5000/v1/_ping: dial tcp 172.30.65.54:5000: getsockopt: connection refused"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/754/ failed because of a build being unable to push to the registry.  Not clear if this is a networking or registry issue.  Master logs unavailable.

[2017-08-22 16:55] jim-minter commented on #15901
On https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/754/, the build failed due to being unable to push to the registry. Master logs missing. https://github.com/openshift/origin/issues/15903.

[2017-08-22 16:56] jim-minter commented on #15901
possibly, but I'm going to attack getting the master logs first.

[2017-08-22 16:57] bobmhong commented on #15883
@akostadinov Thanks.  I've tried the following, but so far no luck:

oc login -u=server -p=password -n=bob1
oc secrets new custom-tls-ca-bundle ca.crt=/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
oc secrets link builder custom-tls-ca-bundle
oc annotate secret custom-tls-ca-bundle 'build.openshift.io/source-secret-match-uri-1=*://*'
oc set build-secret --pull --all custom-tls-ca-bundle

The do

[2017-08-22 17:05] smarterclayton commented on #13575
Fixed in #15904

[2017-08-22 17:14] bparees commented on #13977
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/4538/

[2017-08-22 17:26] bparees commented on #14786
In addition to doing what you described in your original issue summary, you need to use taints/tolerations to keep the non-build pods off the build nodes:

https://medium.com/@alejandro.ramirez.ch/reserving-a-kubernetes-node-for-specific-nodes-e75dc8297076

(taint the build nodes, then add an annotation via the build defaulter that will annotate your build pods w/ the correct toleration).

This th

[2017-08-22 17:26] #14786 closed

[2017-08-22 17:27] cldmnky commented on #15668
The merged PR solves the issue, so yes.

[2017-08-22 17:27] #15668 closed

[2017-08-22 17:31] bparees commented on #15901
dunno that there's anything more useful in this one, but it looks like the same failure occurred here:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_templates/68/

[2017-08-22 17:41] jim-minter commented on #15901
On https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_templates/68/ the build failed for some reason.  https://github.com/openshift/aos-cd-jobs/pull/581 re-added the master log collection.  I'll add dumping of the build & deploy states to this job as well.

[2017-08-22 17:45] akostadinov commented on #15883
For pulling images, that should be configured the way you described in your original description. I thought your remaining issue is git clone.

[2017-08-22 17:54] mrogers950 commented on #15822
Removing the added check for details.Kind == "clusterrolebindings" does not cause test/cmd/router.sh to fail in any obvious way, so perhaps this fix is not needed anymore.

[2017-08-22 18:04] enj commented on #15828
See `NewForbiddenMessageResolver` in `pkg/authorization/authorizer/messages.go`.  You will want to trace the history from starting from #2319 to determine if:

1. Any of the code can be deleted
2. Any of the code can be replaced with upstream equivalents

[2017-08-22 18:13] enj commented on #15822
@mrogers950 yeah I was hoping that reverting back the original code

[code]

would work since I had done a lot of work to make the proxy give the "correct" error.

I am fine with that as a fix, but see if you can figure out what ignoring that error actually means and add some docs around it in the code.

[2017-08-22 18:37] enj commented on #14575
@stevekuznetsov that fix is tagged with `v2.1.0-tentative` but the highest RPM release I have seen is `v2.0`.

[2017-08-22 18:39] simo5 commented on #15821
@enj If I understood correctly we want to just remove normlization and fix any test that may fail.

[2017-08-22 19:27] mrogers950 commented on #15824
@enj can you expand on "Remove" here? Just getting rid of getAPIGroupLegacy() and its call in removeEscalatingResources() outright causes the converter test to fail:
[code]

[2017-08-22 19:37] enj commented on #15752
@mfojtik please put the old names in dead cluster roles.  If the equivalent roles exist, could you find the mapping for `system:pv-provisioner-controller` and `system:pv-recycler-controller`?

[2017-08-22 20:17] simo5 commented on #15821
taken

[2017-08-22 20:32] jsuchenia opened #15910 "Can't start node on openstack - SDN unitialized"
I'm trying to deploy a new cluster `OpenShift Origin 3.6` using `openshift-ansible-3.6.173.0.7-1-4-ga74df94a`

Without cloud settings everything works fine, when I configured a cloud storage like below:
[code]

Then any node cannot initialise SDN network:
[code]

Hostsubnets are like below:

[code]
I'm guessing that those lines are involved in that:

[code]

Is it something missing with my machine

[2017-08-22 20:53] bobmhong commented on #15883
Unfortunately I'm still struggling with this.  I am able to pull docker images from my linux host directly, but the operation fails when the pull is done in response to an oc new app command.

I tried placing the cert in /etc/pki/ca-trust/source/anchors and running update-ca-trust extract within the origin container as I did in my linux host and still got the error.

Attempted to do the same in my

[2017-08-22 20:55] GrahamDumpleton commented on #15894
A validation error complaining it is already listed against the service account would be worse because OpenShift doesn't remove entries from the service account if you had deleted the secret previously. Having it fail because the name was listed against the service account would prevent people adding the secret again and they wouldn't really understand why. Doing it from the command line doesn't e

[2017-08-22 21:10] saraRamki commented on #8997
Error: Error: did not detect an --insecure-registry argument on the Docker daemon
Fix: oc cluster up  --skip-registry-check=true

[2017-08-22 21:34] sdodson opened #15912 "[Conformance][templates] templateservicebroker security test"
From https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_update/945/consoleFull#198825387156cbb9a5e4b02b88ae8c2f77

May be happening on every job not certain yet.

[Conformance][templates] templateservicebroker security test

[code]