[2017-10-18 13:57] #16883 closed

[2017-10-18 14:49] mfojtik commented on #16921
@tomaszkurgan yes it is :)

[2017-10-18 14:51] darren-roberts opened #16930 "Failed to resolve ImageStreamTag in deployment"
Build fails to pull latest tagged version of image. The image in question is openshift/redhat-openjdk18-openshift:1.1

##### Version

Server https://api.pro-us-east-1.openshift.com:443
openshift v3.6.173.0.21
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Push new image to GIT Hub
2, Manually execute a build

##### Current Result

Failed to resolve ImageStreamTag in deployment
##### Exp

[2017-10-18 15:00] bparees commented on #16929
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16925/test_pull_request_origin_extended_conformance_gce/9905/

[2017-10-18 15:03] bparees commented on #13014
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16924/test_pull_request_origin_extended_builds/504/

[2017-10-18 15:18] stevekuznetsov commented on #13014
@jwhonce are we still missing information here?

[2017-10-18 15:21] enj commented on #16587
@deads2k a simple answer would suffice 😄

[2017-10-18 15:25] bparees commented on #16926
after some discussion w/ @smarterclayton and @mfojtik it was determined this is broken and will stay broken due to the way discovery changed from 3.5 to 3.7.

@legionus fyi.

[2017-10-18 15:25] #16926 closed

[2017-10-18 15:29] LostStudent commented on #16923
I think the original route was created automatically when I added the NodeJS image. I since deleted and recreated multiple times to try to fix: once through the Web Console UI (Routes - Create Route) and another time with commandline: oc expose svc/carshowsserver

I cant see how to get any logs pertaining to routes...

yaml:
apiVersion: v1
kind: Route
metadata:
  annotations:
    openshift.io/host

[2017-10-18 16:05] harishanand95 commented on #16921
I'm facing a similar issue. curl localhost:8080 works fine.
Details:
Application: Django/Python3
YAML file : http://dpaste.com/2TRTCMN
Logs: http://dpaste.com/0FG43VS
oc adm diagnostics : http://dpaste.com/0GZ5Y4V

[2017-10-18 16:15] tnozicka commented on #16929
dupe of https://github.com/openshift/origin/issues/16870
but I'll keep it open for now so people can easily find it

[2017-10-18 16:24] wongma7 commented on #16757
Yes, just checked.

On Tue, Oct 10, 2017 at 5:57 PM John Fortin <notifications@github.com>
wrote:

[2017-10-18 16:29] fortinj66 commented on #16757
Awesome!  Thanks!

Sent from my iPhone

[2017-10-18 16:38] deads2k commented on #16587
With two copies of kinds things went weird.  This was resolved in kube 1.8.

[2017-10-18 16:44] enj commented on #16587
Thanks.

[2017-10-18 16:44] #16587 closed

[2017-10-18 17:08] pweil- commented on #16923
@LostStudent the router itself is probably running in a namespace other than `carshowserver`.  It should be either in the infra namespace or the default namespace depending on how you've installed it.  Try `oc get pods --all-namespaces` to try and figure out where it is.  If you don't see it then it needs to be installed in order for the route to be accepted.  If you do see it please post logs fro

[2017-10-18 17:13] jim-minter commented on #16775
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16879/test_pull_request_origin_extended_conformance_gce/9914/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16896/test_pull_request_origin_extended_conformance_gce/9904/

[2017-10-18 18:11] tomaszkurgan commented on #16921
Yea, everything seams to work now.
Thank You all for your help.

[2017-10-18 18:17] harishanand95 commented on #16921
@tomaszkurgan thank you.. 😄
Well, I think there should be some mechanism within the web console to report these errors with logs and other details attached.

[2017-10-18 18:42] deads2k commented on #15412
I see it as present in master.

[2017-10-18 18:44] enj commented on #15412
There are docs?

[2017-10-18 18:55] simo5 commented on #15412
@deads2k can you please point me to any docs we have ?
In openshift-docs I found no mention of oc auth reconcile

[2017-10-18 18:55] simo5 commented on #15412
PR for docs I've opened:
https://github.com/openshift/openshift-docs/pull/5725

[2017-10-18 19:21] ncameronbritt opened #16936 "Deleting failed provisioned service fails to delete deployments"
Service failed to provision because the deployment timed out. I was able to delete the service, but the failed deployments remain.

Before deleting service:
![screen shot 2017-10-18 at 3 13 31 pm](https://user-images.githubusercontent.com/8974593/31738082-80f56592-b417-11e7-9928-906b80471b1e.png)
After deleting service:
![screen shot 2017-10-18 at 3 13 09 pm](https://user-images.githubusercontent.

[2017-10-18 19:33] eparis commented on #16921
Thank you so much for the report. We have identified the problem and implemented a workaround. We are tracking a permanent fix in:
https://bugzilla.redhat.com/show_bug.cgi?id=1471899
I am going to close this issue.

[2017-10-18 19:33] #16921 closed

[2017-10-18 19:33] ncameronbritt opened #16937 "Service provision fails when a deployment times out"
Provisioning fails when a deployment times out and the only recourse for the user is to delete the service and try again. The 10-minute timeout for deployments does not always seem sufficient for creating the deployment.

User can still redeploy and eventually get the deployment running, but the provision remains failed. This may leave the user in some in-between state.

![screen shot 2017-10-18 a

[2017-10-18 19:34] bparees commented on #16936
/cc @jim-minter but given how the TSB works w/ respect to cleanup, this seems more likely to be a SC side issue.

[2017-10-18 19:40] bparees commented on #16937
pretty sure this is "can't fix".

having the provision fail due to timing out on the DC is a choice made by the template author:
https://docs.openshift.org/latest/dev_guide/templates.html#waiting-for-template-readiness

And there's no way for the system to know you manually fixed the deployment after we've failed the provision.  So the only "approved" way to get back to a good state is to de-provi

[2017-10-18 19:43] bparees commented on #16936
/cc @pmorie who should be copied on potentially service catalog related issues.

[2017-10-18 19:46] mfojtik commented on #16937
dc has default timeout set for 10m, but you can increase it using
timeoutSeconds in dc

On 18 October 2017 at 21:40:22, Ben Parees (notifications@github.com) wrote:

[2017-10-18 19:55] jim-minter commented on #16937
Do we know why the deploy failed in this case?  Slow pull?

[2017-10-18 19:59] jim-minter commented on #16936
@ncameronbritt are there BrokerTemplateInstance or TemplateInstance objects remaining after this?  Please could you pastebin them to me?

[2017-10-18 20:01] jim-minter commented on #16936
@ncameronbritt also logs from the service catalog and tsb pods please

[2017-10-18 20:01] ncameronbritt commented on #16937
@jim-minter Yes, more than likely the image didn't pull in time.

[2017-10-18 20:22] smarterclayton opened #16938 "GCE cannot be installed due to service broker API not found"
[code]

[2017-10-18 20:23] smarterclayton commented on #16938
The last 6 hours have failed due to this (when not failing for other reasons)

[2017-10-18 20:23] smarterclayton commented on #16938
@jim-minter

[2017-10-18 20:46] smarterclayton commented on #16938
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16843/test_pull_request_origin_extended_conformance_gce/9964/

[2017-10-18 20:51] jim-minter commented on #16938
I fear it's https://github.com/openshift/release/pull/275

[2017-10-18 20:52] smarterclayton commented on #16938
Let's go ahead and revert then if you can't immediately fix.  The queue is completely blocked.

[2017-10-18 21:00] sdodson commented on #16938
https://github.com/openshift/openshift-ansible/pull/5746 needs to merge

[2017-10-18 21:11] jim-minter commented on #16938
https://github.com/openshift/release/pull/297 has merged to disable for now

[2017-10-18 21:11] jim-minter commented on #16938
@deads2k fyi ^

[2017-10-18 21:12] smarterclayton commented on #16938
The README.md in openshift/release/cluster/test-deploy contains
instructions on how to replicate the origin-gce runs so you can test things
like this.  Set OPENSHIFT_ANSIBLER_REPO as an env var to override the
ansible version included in the image.

On Wed, Oct 18, 2017 at 11:11 PM, Jim Minter <notifications@github.com>
wrote:

[2017-10-18 21:37] ncameronbritt commented on #16936
@jim-minter https://gist.github.com/ncameronbritt/3d1ada264c08fc5d700374f6e2179b3e

[2017-10-18 21:46] jim-minter commented on #16936
I think this is broadly the same as #16515 - the SC didn't ask the TSB to deprovision, so it didn't.

[2017-10-18 21:51] jim-minter commented on #16936
I think this use case merits an end-to-end test.  @pmorie @bparees any recommendations where this should sit?

[2017-10-18 21:53] jim-minter commented on #16936
I also think that this ought to be a blocker - @pmorie @bparees opinions?

[2017-10-18 21:57] jim-minter commented on #16937
That timeout seems too short to me and I think we should lengthen it.  Are we able to do that (API-wise)?  Or should we/must we carry this in our templates?

[2017-10-19 00:06] enj opened #16940 "TestConcurrentBuildImageChangeTriggerControllers is timing sensitive"
From #16850

https://openshift-gce-devel.appspot.com/pr/16850

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/16850/origin-ci-int-origin/10/artifacts/test-integration/artifacts/gotest_report_n0R7C.xml
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/16850/origin-ci-int-origin/10/artifacts/test-integration/artifacts/gotest_report_n0R7C.xml
https://storage.googleapis.com/origin

[2017-10-19 00:10] enj opened #16941 "TestImageStreamImportScheduled is timing sensitive"
From #16850

https://openshift-gce-devel.appspot.com/pr/16850

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/16850/origin-ci-int-origin/10/artifacts/test-integration/artifacts/gotest_report_n0R7C.xml
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/16850/origin-ci-int-origin/10/artifacts/test-integration/artifacts/gotest_report_n0R7C.xml
https://storage.googleapis.com/origin

[2017-10-19 07:25] bparees opened #16942 "Make registry e2e tests able to run in parallel"
They currently run in serial/isolated mode because:

We need to find a way to launch a secondary registry w/ its own config to run the tests against so we are not manipulating the cluster infrastructure.

[2017-10-19 07:27] #16626 closed

[2017-10-19 08:03] LostStudent commented on #16923
Thanks, This is now working without changing anything.. good when bugs fix themselves.. or syknet is taking over....

[2017-10-19 08:03] #16923 closed

[2017-10-19 08:23] bparees commented on #16936
@jim-minter sounds like it belongs to the service catalog.  I created an SC component label and i've assigned @pmorie to this issue. (somehow i'm having deja vu though...didn't we create one already?)

As for whether it should be a blocker...  i don't yet understand what happened.  did @ncameronbritt manually delete the SC's serviceinstance object?  If so i agree that's probably not a blocker, tho

[2017-10-19 08:25] bparees commented on #16936
@pmorie @pweil- if you disagree w/ having a component/service-catalog label in our repo, feel free to delete it (looks like maybe you've been using the k8s label instead?)

[2017-10-19 08:39] miminar commented on #9584
@zonArt you can try to run the import cmd with `--loglevel=5` which may reveal some more info.

[2017-10-19 09:02] bparees commented on #16938
@pmorie @jboyd01 fyi.  I think this move also broke oc cluster up --service-catalog (https://bugzilla.redhat.com/show_bug.cgi?id=1503967)

[2017-10-19 09:11] zonArt commented on #9584
Here is the info: (I see nothing really relevant though)
[code]

[2017-10-19 09:52] Carolhug opened #16946 "Unable to access openshift master via URL"
[unable to access openshift master after I reboot the clusters in a one day, one time only one machine will be restated in the cluster(include all the masters and nodes]

##### Version
[oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://ooc-lb.com.cn:8443
kubernetes v1.6.1+5115d708d7
]

####My environment
3 masters
1 load balance
3 nodes

###

[2017-10-19 10:55] spicysomtam opened #16948 "Templates don't keep 'image:latest' in the statefulset config"
Templates don't keep 'image:latest' in the statefulset config. Also some oddities on redeploy.

##### Version
3.7.0-alpha.1

##### Steps To Reproduce
1. `oc cluster up`
2. `oc login -u system:admin`
3. `oc new-project app-origin`
4. `oc import-image app-zookeeper:latest --from=docker-registry.local:5000/app-zookeeper:latest --confirm`
5. `oc set image-lookup app-zookeeper`
6. `oc new-app  -p IMAGE

[2017-10-19 11:13] miminar commented on #9584
@zonArt I'm sorry, the log from the master service needs to be captured from the time of import with `--loglevel=5`.

[2017-10-19 11:31] bparees commented on #16938
(ok it looks like cluster up is working, i think the user just had misaligned client binaries + image versions)

[2017-10-19 11:32] zonArt commented on #9584
@miminar Mmmmh ok, where are these logs located ? I'm having quite a hard time to figure it out, looks like everything gets spread in daemon.log, is that possible ?

[2017-10-19 12:03] pweil- commented on #16936
I am +1 to this.  I think we need it in BZ too.

[2017-10-19 12:50] smarterclayton commented on #16870
This was probably pushed over the edge into continuous failures by https://github.com/openshift/origin/pull/16913 - we clean up pods faster, so the controller is more likely to race.

[2017-10-19 12:51] smarterclayton commented on #16870
Bumping priority since this is breaking most jobs - @tnozicka said he had recreated and is working on a fix.

[2017-10-19 12:55] tnozicka commented on #16870
@smarterclayton yes, that seem probable because it now waits for about 3s in terminating state and in the meantime we create a new RC and new deployer pod

[2017-10-19 12:55] jboyd01 commented on #16938
Yeah, I did a lot of testing with oc cluster up but I agree, completely missed testing with ansible installer.  I'll do my best to ensure we don't miss this in the future, also @stabler has just done some work in this area so our team in general will have more knowledge about the installer and we'll ensure all are educated about the touch points.

[2017-10-19 12:58] alikhajeh1 opened #16951 "Mounting file from ConfigMap using volume subPath causes file permission denied error"
I'm trying to mount a single file from a ConfigMap into a container directory that already contains other files. Followed https://stackoverflow.com/a/43404857 it seems like it should be possible to do this using volume subPath, however, a permission denied error is shown when I try to open the file. Maybe I'm doing it wrong?

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: B

[2017-10-19 12:59] jboyd01 commented on #16938
Not @stabler but @staebler

[2017-10-19 13:05] miminar commented on #9584
@zonArt do you run the cluster containerized? If yes, you need to `docker logs <name-your-master-container>`. If you run the `openshift-master` as a service (using e.g. `systemd`), you will need:

[code]

[2017-10-19 13:26] ncameronbritt commented on #16936
@bparees Everything I did was within the context of the web console, no CLI hocus pocus. Here's what I did:
- Provision mongo service from the catalog.
- That provision failed because the deployment timed out.
- Took the "Delete This Service" action on the service in the console--which seems to be the only action possible in the event that a provision fails.

The service instance was removed from

[2017-10-19 13:36] zonArt commented on #9584
@miminar thanks, here is the linked log output:
[code]

Still not sure to find any interesting info, except on the fact it tries to reach the inexistent internal registry (which doesn't really help by the way)

[2017-10-19 13:40] ncameronbritt commented on #16937
Now that we're using the SC, it's not as simple as just redeploying in the event that a deployment fails. I'm not sure what the answer is here, but I feel like it's important to strike a balance between giving the deployment enough time so that it can deploy, but not so much that the user is stuck waiting for the provision to fail so that they can delete the service and try again.

[2017-10-19 13:47] mrogers950 commented on #15900
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16894/test_pull_request_origin_cmd/4855/

[2017-10-19 15:03] smarterclayton opened #16954 "Excessive steady state memory allocation from authorizer in 3.7"
On v3.7.0-0.143.7 memory allocations in steady state from the cluster are mostly dominated by rbac.  The current hot stop is the cluster role lister - implies there is a component that is calling into the internal version cluster role.go code more often than it should (29% of all allocations on the cluster).  Historically this has been due to missing or avoiding a cache that we should have hit.

R

[2017-10-19 15:05] smarterclayton commented on #16954
On large clusters subject access review is called frequently by external components (1/4 of total requests in some cases) so that's a possible source.  Also, there are places we're making client calls instead of loopback, so we may have turned a code path that was previously fast into a slow path.

[2017-10-19 15:11] smarterclayton commented on #16954
CPU was ok, we don't have anything hot in the profiles so I'd say we're in pretty good shape there.  Just the amount of garbage is causing us to fill up OS pages and get fragmentation - so our actual memory use is down, but we're using more OS memory.  To get to the higher density levels we'll need to avoid this hotspot.

@openshift/team-performance

[2017-10-19 15:19] smarterclayton opened #16955 "Controllers using 2.5x max memory in 3.7 compared to 3.6"
Controllers on 3.7 are using 2.5x the memory than a larger cluster on 3.6 (3.6 5gb @ 13k namespaces, 3.7 13gb @ 10k namespaces)

[2017-10-19 15:21] bparees commented on #16937
I don't think there's any SC or TSB issue here (other than the other existing issues for inability to cleanup a failed provision), so assigning to @mfojtik to either close, or raise the default DC timeout so users are less likely to hit this.

[2017-10-19 15:26] pmorie commented on #16936
I am definitely +1 on a component/service-catalog label.

[2017-10-19 15:35] pmorie commented on #16936
@ncameronbritt and I looked at this at length yesterday; I think there are several bugs here:

- TSB didn't clean up after the provision failed
- Console doesn't appear to have deleted the ServiceInstance (deletion timestamp wasn't set - see the gist)
- Catalog controller appears to create event with incorrect text
- Logging bug with async poll response
- Console stopped displaying service instanc

[2017-10-19 15:43] pmorie commented on #16515
The OSB spec does 'orphan mitigation' if there is a communication error or timeout that means that the platform can't be sure if the provision succeeded or not.  The broker is responsible for cleaning up after failed provisions that it knows about.

[2017-10-19 15:48] pmorie commented on #14703
This is fixed now; sorry - missed the issue; closing.

[2017-10-19 15:48] #14703 closed

[2017-10-19 15:51] tnozicka commented on #16870
temporarily disabling the check https://github.com/openshift/origin/pull/16956

[2017-10-19 15:54] staebler commented on #16938
openshift/openshift-ansible#5746 has merged, which should unblock the TSB installation. The ASB installation still needs openshift/openshift-ansible#5805 to merge before it will be unblocked.

[2017-10-19 16:02] bparees commented on #16515
pretty sure that is not the case here.  we told the SC the provision failed.

Not sure how the SC would ever not know, since it's an async provision flow, so the SC can just keep calling lastoperation until you get a result.

[2017-10-19 16:06] tiran commented on #16954
``(*clusterRoleLister).Get()`` creates a temporary ``rbac.ClusterRole{}`` object to look up the actual role from the indexer cache. I have the theory Go may have decided to allocate the object on the heap instead of the stack because it is passed down to another function. This would explain the excessive amount of allocations. https://golang.org/doc/faq#stack_or_heap

[code]

[2017-10-19 16:10] bparees commented on #16515
(also how is the TSB supposed to know if the SC got a communication error?)

[2017-10-19 16:13] bparees commented on #16936
this expectation seems to be news to me and @jim-minter.  And I agree w/ his point that deleting a failed provision is going to make it a nightmare to debug failing provision attempts.

[2017-10-19 16:14] spadgett commented on #16515
@bparees @jim-minter My understanding from @pmorie is that the service catalog does not call deprovision by design if the provision fails. It's assumed that the broker will clean things up automatically on a failed provision and there's nothing for the servier catalog to do.

[2017-10-19 16:14] cello86 commented on #15623
We have identified the problem on version 3.6. The master nodes use the default configuration of "podEvictionTimeout" configured to 5 minutes and after the change to 30 seconds the behavior of the pods rescheduling related to a node failure is more responsive.

[2017-10-19 16:17] jim-minter commented on #16515
I think that the spec is deficient in specifying what should happen here (I don't think the orphan mitigation piece covers it).
What implemented behaviour do other brokers have?

[2017-10-19 16:37] spadgett commented on #16936
I don't see the service instance in the gist.

[2017-10-19 16:43] jim-minter commented on #16515
So far I haven't found any indication that the Ansible broker self-deprovisions in the case of a provision failure. @jmrodri ?
I've had a cursory look and haven't found any code implementing this in the sample brokers listed at https://github.com/openservicebrokerapi/servicebroker/blob/master/gettingStarted.md either.
I don't think the spec is clear.  I don't think it makes great sense from an API

[2017-10-19 17:09] smarterclayton commented on #16954
Yes, especially if passed in to an interface.  go can only avoid heap allocations if you don't call interfaces anywhere down the stack.

[2017-10-19 17:09] bparees opened #16957 "Extended.[Feature:Prometheus][Feature:Builds] Prometheus when installed to the cluster should start and expose a secured proxy and verify build metrics"
looks like we're attempting to install prometheus twice:

[code]

@gabemontero I assume this is specific to our test, but if you think it's a generic prometheus issue feel free to reassign.

[2017-10-19 17:09] bparees commented on #16957
from https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/244/testReport/junit/(root)/Extended/_Feature_Prometheus__Feature_Builds__Prometheus_when_installed_to_the_cluster_should_start_and_expose_a_secured_proxy_and_verify_build_metrics__Suite_openshift_/

[2017-10-19 17:19] smarterclayton opened #16959 "openshift_sdn_pod_teardown_latency reports NaN for all metrics on ca-central-1"
Not sure if this had the fixes we put into it, or what, but it's coming out NaN for everything.

@openshift/sig-networking

[2017-10-19 17:33] jmrodri commented on #16515
@jim-minter to the best of my knowledge we don't do any active orphan mitigation. If a provision request fails we return an appropriate error response (or a 500 if it's catastrophic) back to the service-catalog.

It was my understanding that the service-catalog would call deprovision on a failed attempt just to ensure that there were no lingering items left in the broker.

https://github.com/opens

[2017-10-19 17:38] tiran commented on #16954
If I understand the indexer, DeletionHandlingMetaNamespaceKeyFunc and MetaNamespaceKeyFunc correctly, the it should be possible to the temporary key object with a simple ``obj, exists, err := s.indexer.GetByKey(name)``.

[2017-10-19 17:40] smarterclayton commented on #16959
It doesn't look like the second round of metrics fixes made it to this release, but recording it here anyway to double check next time

[2017-10-19 17:50] smarterclayton opened #16962 "Deployment in new state for 2 days"
Unusual deployment, in "new" for 2 days on a 3.7 cluster:

[code]

This deployment should be failed or complete, not New.

@openshift/sig-master

[2017-10-19 18:22] pweil- commented on #16948
@mfojtik assigning this to you in case it's related to generic trigger logic with stateful set.  Maybe this is ultimately in the pod scope of work?  Please reassign if necessary.

[2017-10-19 20:50] bparees commented on #16930
Do you have build logs?  Preferably level 5.

Seeing the build config json could be useful too (feel free to redact private info)

[2017-10-19 20:51] jwforres commented on #15803
The behavior has changed some since 1.5, this form is now in a dialog:

![importyamldialog](https://user-images.githubusercontent.com/1467629/31793269-c741fec2-b4ec-11e7-83cc-1de4a821a32e.png)

This effectively has the same problem though, since the dialog can't be resized the import textarea is limited.

@openshift/team-ux-review

[2017-10-19 20:52] bparees commented on #16940
Not a p1, this is a choice to turn off rate limiting, not affecting anyone else right now.

[2017-10-19 20:57] jwforres commented on #16862
@benjaminapetersen wouldn't be in config.js, it would be in constants.js if we do it in the console code. I'm fine with going back to that.  Just means @enj needs to let us know when there is a new default role that makes sense to expose to users.  I expect this will not be often...

[2017-10-19 21:00] jwforres commented on #16834
@liggitt can this be closed or is there still a bug here to be fixed?

[2017-10-19 21:14] jwforres commented on #16706
This is not specific to the oauth flow, in your example request log from above you can see it running API discovery against the wrong IP:

[code]

This means the dynamically generated config.js file contains the wrong hostPort, but that value just gets filled out with the value from assetConfig -> masterPublicURL

[2017-10-19 21:21] xiaods opened #16964 "Some Hack documents is not working for me"
follow Contribute document: https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-locally-on-your-host

it not working on MacOS local

[code]

it not working on mac environment.

[2017-10-19 21:21] xiaods commented on #16964
mac os 10.12/ local build

[2017-10-19 21:32] xiaods commented on #16964
[code]

[2017-10-20 05:56] xiaods commented on #16964
./hack/build-images.sh can let local build the openshift/origin image. it weird. why not make release can complete all steps?

[2017-10-20 06:01] shraderdm commented on #16951
Same issue here. Working on figuring out if it's selinux or standard permissions.

[2017-10-20 07:01] tnozicka commented on #16962
@smarterclayton can you pls dump YAML for the DC,RC and deployer pod?

[2017-10-20 07:31] galderz opened #16966 "Image stream conflict importing images"
Using:
* OpenShift Origin 3.6
* Docker 1.13.1
* kubectl v1.6.4

Together with the service catalog and running the `start-openshift.sh` script [here](https://github.com/infinispan-demos/streaming-data-kubernetes/blob/master/start-openshift.sh) sometimes finishes with errors like this:

    Error from server (Conflict): Operation cannot be fulfilled on imagestream.image.openshift.io "infinispan": th

[2017-10-20 08:44] steven166 opened #16968 "Not all files added using start-build --from-dir and --from-archive"
After we upgrade to Openshift 3.6 our Docker builds are giving strange errors which indicates that files are missing. After debugging the issue it seems that some files in subfolders are not included when the Docker build is started in Openshift.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://openshift-dev.maxxton.com:8443
openshift v3.6.0+c4dd4c

[2017-10-20 08:56] matzew opened #16969 "Labels on secrets are not visible on the UI"
For things like ConfigMaps the labels are visible in the UI. For secrets they are not directly visible. I only see them when I look into the YAML file of the secret (or on the shell, like ` oc get secret -n mynamespace my-secret -o jsonpath="{.metadata.labels.somethign}"
`

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.

[2017-10-20 09:28] bparees commented on #14385
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16960/test_pull_request_origin_extended_networking_minimal/9440/

[2017-10-20 10:37] bparees commented on #16775
does not seem to be fixed:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16960/test_pull_request_origin_extended_conformance_gce/10090/

[2017-10-20 11:17] xiaods commented on #16964
it not working on mac environment.

[2017-10-20 12:09] adelton commented on #3498
Thanks, I've got the reproducer and the error messages now.

As for

is the re-retrieval of the token already done somewhere in the code base so that we could reuse the same code, or is this the first time something like this is implemented in Kubernetes/OpenShift?

[2017-10-20 12:37] mfojtik commented on #16966
Do you know which command fails with that? just stick set -x to that bash script.

[2017-10-20 12:41] bparees commented on #16968
@steven166 can you supply level 5 build logs please?

also please confirm you do not have a .dockerignore file in your repo.

would also be useful to see your buildconfig json.

[2017-10-20 12:44] bparees commented on #16966
it is almost certainly because you've created an imagestream which will automatically start an import, and then you are explicitly running an import (oc import-image), so both operations will be trying to update the imagestream.  it should be effectively benign, but there should be no reason to run the import-image at the end of your script and if you remove it, i do not think you will see this er

[2017-10-20 13:07] bparees opened #16972 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should perform rolling updates and roll backs of template modifications"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16872/test_pull_request_origin_extended_conformance_gce/10103/

[2017-10-20 14:09] steven166 commented on #16968
**build log level 5**
[code]

**.dockerignore**
[code]
**buildconfig.json**
[code]

[2017-10-20 14:16] #16755 closed

[2017-10-20 14:27] bparees commented on #16968
that log appears to be cut off, can you provide the full log through the failure?

I do see the file in question being copied into the tar file that will be supplied to the docker build process:
[code]

it might also be useful to see your Dockerfile.

[2017-10-20 14:50] kamran000 opened #16974 "Failed to run Kubelet during installation of openshift origin server on ubunto"
Error Description:
failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs"

[2017-10-20 14:57] jpeeler commented on #16585
PR merged.

[2017-10-20 14:57] #16585 closed

[2017-10-20 15:14] jwforres commented on #16706
Reducing priority, this is also not a console bug since the console is being sent the wrong hostPort information for the master.

[2017-10-20 15:15] #16853 closed

[2017-10-20 15:24] xiaods commented on #16974
@kamran000 please use fedora/centos/rhel. thanks a lot.

[2017-10-20 16:39] joelsmith commented on #13500
I was able to get this to work on my 3.6 cluster. The issue was that my CSRs were `Approved`, but not `Issued`. That's because in my case, the certificates controller wasn't running. The reason it wasn't running was because it wasn't configured with the paths to the CA certificate and key. Although you've already done some of these steps, I'll put everything that I did to get it working so that an

[2017-10-20 16:47] smarterclayton commented on #16878
Fixing

[2017-10-20 16:48] smarterclayton commented on #16878
In #16978

[2017-10-20 16:48] smarterclayton commented on #16838
Fixing in #16978

[2017-10-20 17:30] jim-minter commented on #15638
closing for #16622

[2017-10-20 17:30] #15638 closed

[2017-10-20 17:31] jim-minter commented on #16938
closing as the CI is unblocked; tracking enablement of SC and TSB in CI via #16622

[2017-10-20 17:31] #16938 closed

[2017-10-20 17:54] debianmaster commented on #13500
thanks @joelsmith  i'll give a try.  this one is my long term dream :)

[2017-10-20 18:03] #5776 closed

[2017-10-20 18:03] #16146 closed

[2017-10-20 18:07] 2erowf opened #16980 "why mounting hostPath is not allowed by default"
if restricted SCC doesn't allow you to run as root, why not allow hostPath in restricted SCC?
if you are not root, then whatever directories mounted from host are also protected by good old linux permission policy.
for example, if user foo cannot access /bar on host, then it must not be able to access /bar in container if /bar is mounted to container.  so not allowing hostPath doesn't seem to add

[2017-10-20 19:06] gabemontero commented on #16957
So commit https://github.com/openshift/origin/commit/16373cc68bc5305131d1768a9f7612a3275f3ce9#diff-d834a5fd4c91cb4a584e1113a1db37a5 from @smarterclayton with the switch from Deployments to StatefulSets in the template broke the existence check at https://github.com/openshift/origin/blob/master/test/extended/prometheus/prometheus.go#L293-L298

Do based on which extended test runs first either the t

[2017-10-20 19:11] sdodson commented on #16816
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/5766/test_pull_request_openshift_ansible_extended_conformance_install_update/2717/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/5783/test_pull_request_openshift_ansible_extended_conformance_install_update/2703/

[2017-10-20 19:13] sdodson commented on #16929
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/5821/test_pull_request_openshift_ansible_extended_conformance_install/1461/

[2017-10-20 19:34] benjaminapetersen commented on #16862
Sorry, meant `constants.js`, yup!

[2017-10-20 19:41] bparees commented on #16957
ah, now it makes sense. thanks.  well sort of anyway.  i wouldn't really expect us to run both of those tests in any one run.  (one is conformance bucket and one is builds bucket)

[2017-10-20 19:42] bparees commented on #16957
but maybe this was when we were still running some conformance tests in our builds bucket by accident.

[2017-10-20 19:52] bparees commented on #16622
@jim-minter in hindsight this comment feels portentous...

[2017-10-20 20:17] ewolinetz opened #16985 "[k8s.io] Security Context [Feature:SecurityContext] [It] should support container.SecurityContext.RunAsUser [Suite:openshift/conformance/parallel] [Suite:k8s]"
[code]

[2017-10-20 20:39] fabianofranz commented on #13864
I was unable to reproduce this on 3.6.x using a similar environment: on Windows with cwRsync, tried with both EAP 7.0 and 7.1.

Since it's unlikely the fix will be ported to 1.4 I'm closing this, but feel free to reopen with more information about how to reproduce it if it still happens on a recent (3.5+) version.

[2017-10-20 21:09] gabemontero commented on #16853
I've started the cutting of v0.1.32 of the sync plugin for the back up query

I'll update again when the jenkins image is updated with that version

[2017-10-20 21:36] #16878 closed

[2017-10-20 22:17] #15412 closed

[2017-10-20 22:23] jim-minter opened #16987 "RBAC DENY: system:serviceaccount:openshift-infra:image-import-controller cannot "create" resource "imagestreammapping.image.openshift.io" cluster-wide"
Start latest master, do `oc create -f examples/image-streams/image-streams-centos7.json -n openshift`

[code]

Presumably need to add missing rule and check why this slipped test coverage.

[2017-10-20 22:23] jim-minter commented on #16987
@bparees please can you assign?

[2017-10-21 00:24] victorsferreira opened #16988 "Builds with different images never succeed and application never works"
Builds never succeed and application never works after creating an application in the project

##### Version
3.6

##### Steps To Reproduce
1. Choose any of the following to create an application: php, nodejs, httpd

##### Current Result
1. Build status is always pending. Sometimes it says the pod was removed before the build completed.

2. "Application is not available

The application is currentl

[2017-10-21 04:04] enj commented on #16954
@smarterclayton I have confirmed via benchmarks that the only place we can really improve is `(*clusterRoleLister).Get` which we have PRs open for (#16986 #16989).  The rest of the memory allocations are slice operations (pulling data out of the caches, building the list of allowed subjects, etc).

[2017-10-21 04:24] smarterclayton commented on #16954
Once the name fix is in let's come back and look at the updated numbers.
I'd like to not see authorizer in critical path profiles since we continue
to make more calls and nest them deeper.

 I think we need to start being more rigorous about testing authn/z
performance and block merge if it regresses (a serial test that uses a
token, a SA token, and a cert, and makes a bunch of no-op calls, and
me

[2017-10-21 04:27] smarterclayton commented on #16246
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/1757/

Since this could be a runtime regression I'd like this triaged and investigated.  I assume it could be just a poorly handled error but that's no excuse.

[2017-10-21 08:30] yu2003w commented on #4300
I also encountered the same issue. Is there any workaround for this?

[2017-10-21 08:32] mliker opened #16992 "Wildcard DNS on default_subdomain breaks pod hostname resolution"
If I configure a wildcard DNS for default subdomain, apps subdomain, external host resolution from pods fails since every name resolution is caught by the wildcard

##### Version
[code]

However I have been experiencing this since about 1.3 or 1.4

##### Steps To Reproduce
1. set a default subdomain during advanced installation with ansible
openshift_master_default_subdomain=appsdomain.com
2. conf

[2017-10-21 08:37] yu2003w commented on #16447
How did you fix this problem? I also encountered similar issue.

[2017-10-21 09:02] narcoticfresh commented on #12949
IMHO a duplicate of #1399, which is still open since 2016..

i think this could be fixed by giving the cadvisor a configure option to specify a `du` `--exclude=` param, so we could exclude `*/proc/*`

[2017-10-21 14:18] #16414 closed

[2017-10-21 20:33] bparees commented on #16987
@jim-minter i can't recreate this....  and if it were really broken i'd expect our importing to be failing which would fail lots of tests...

from what I can see we've never given this permission before:
https://github.com/openshift/origin/blob/0818d5700f29ab66dcba88130b108c8c505224bc/pkg/cmd/server/bootstrappolicy/controller_policy.go#L237-L246

so i'm not sure why we'd be seeing this error now (

[2017-10-21 20:39] enj commented on #16987
Maybe the way @jim-minter is starting the master creates different bindings?

[2017-10-21 20:42] bparees commented on #16987
@enj maybe, i'm just doing openshift start.

but i don't know where my cluster would be getting the additional binding from, based on the code i pasted...  (though i have to admit i'm slightly surprised that imagestreammapping is not in that list..but i also think it might be a deprecated api.  @dmage and @legionus will have to educate me)

[2017-10-21 21:41] jim-minter commented on #16987
@bparees are you running with loglevel 2?

[2017-10-21 21:55] bparees commented on #16987
@jim-minter ah, I saw the message was an Info, did not look to see the entire block was an if-loglevel2.  I do see the denial w/ level 2 now.

regardless, it's not hurting import that i can see, so will still need to hear from @legionus and @dmage

[2017-10-21 23:24] fishbb commented on #15176
Hi I am running into the same issue.

`
--> Scaling django-2 to 1
--
  | --> Waiting up to 10m0s for pods in rc django-2 to become ready
  | W1021 22:52:42.975801       1 reflector.go:323] github.com/openshift/origin/pkg/deploy/strategy/support/lifecycle.go:509: watch of *api.Pod ended with: too old resource version: 1555123963 (1555128189)
  | error: update acceptor rejected django-2: pods for rc

[2017-10-22 07:55] developerworks commented on #5259
If you just in test env, you could add `cluster-admin` role to user `developer` with this:

[code]

[2017-10-22 11:55] wydwww commented on #13336
@debianmaster Hi, can you please tell me what is the "secret"? I checked `admin.kubeconfig` but there were no "secret" attribute.
Thanks!

[2017-10-22 14:37] tienhngnguyen opened #16993 "Jenkins (Persistent) Pod can't be assigned to a node"
I can't start the Jenkins (Persistent) Pod with 2Gi Memory allocation. Pod allocation to a node is pending and allocation to a node won't succeed.
##### Version
OpenShift v3.6.0
##### Steps To Reproduce
1.) Installing OpenShift (local) with oc cluster up
2.) Running Jenkins Persistent with 2 Gi memory allocation in a pod.

##### Current Result
Jenkins will fail to allocate a pod to a node (only no

[2017-10-22 15:17] DanyC97 commented on #14601
i'm afraid the issue is not fixed in the docker version mentioned above
[code]
and
[code]
as i still got hit by it

[2017-10-22 16:35] nhorman commented on #14601
It is actually likely PR #33376 that you are after:
https://github.com/moby/moby/pull/33376

[2017-10-22 17:04] xThomo commented on #14601
@nhorman do you know if that's back-ported to an existing 1.12.6 version?

[2017-10-22 17:07] nhorman commented on #14601
@xThomo not off the top of my head, no, but it should be pretty easy to go and see, its a very small patch

[2017-10-22 17:08] thoraxe commented on #16951
Same issue here. This is likely an SELinux issue or something similar:

[code]

[2017-10-22 19:23] #16957 closed

[2017-10-22 20:13] kargakis opened #16994 "process valueFrom in build strategy environment variables test context should successfully resolve valueFrom in s2i build environment variables"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16915/test_pull_request_origin_extended_conformance_gce/10226/
/assign bparees
/kind test-flake

[2017-10-22 20:15] bparees commented on #16994
[code]

@jwhonce looks like containers team to me.

[2017-10-22 20:16] bparees commented on #16994
@kargakis any reason it's not p1?

[2017-10-22 20:18] kargakis commented on #16994
No, p1 sgtm if we use it as a means to draw attention.

[2017-10-22 20:21] bparees commented on #16994
attention and the implication of its impact on others (by blocking the queue).  And in this case it's also a pretty worrying error unless we know why it would only occur in our test env.

[2017-10-22 23:25] smarterclayton commented on #16980
Because an admin might accidentally expose a world readable file unintentionally.  Many security escapes start by having access to the host filesystem, and completely denying it is a good way to prevent such escapes.

[2017-10-22 23:26] smarterclayton commented on #16775
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16986/test_pull_request_origin_extended_conformance_gce/10230/

Might be related to jims last

[2017-10-22 23:27] smarterclayton commented on #16403
Is this done?

[2017-10-23 00:13] smarterclayton opened #16995 "oc cluster up fails on latest master"
[code]

[2017-10-23 00:13] smarterclayton commented on #16995
@openshift/sig-developer-experience

[2017-10-23 00:14] smarterclayton commented on #16995
@openshift/sig-master related to refactoring of admission plugins?

[2017-10-23 02:33] #16954 closed

[2017-10-23 02:34] enj commented on #16955
I would be curious to know if #16986 helps with this since all listers were affected.

[2017-10-23 02:46] pycaster commented on #16447
@yu2003w

The problem din't go away but I was taking a dependency from my openstack provider. The installer was using default openshift sdn plugin and my openstack provider had another sdn plugin. This is not ideal but I was expecting it to still work with lower performance (vxlan in vxlan).

I tried the same installation on the bare metal (without openstack) and it worked. I then tried vanilla ku

[2017-10-23 05:54] yu2003w commented on #16447
@pycaster  Thanks very much for your explanation. I suspect that my openstack provider also use another sdn plugin. I will try with flannel also.
Thanks again.

[2017-10-23 05:59] DanyC97 commented on #14601
cheers @nhorman !

[2017-10-23 06:14] runcom commented on #16403
Not yet, we're running tests against a origin+cri-o cluster still

[2017-10-23 06:35] xiaods commented on #16731
any update?

[2017-10-23 06:41] xiaods commented on #16995
use upstream ,not found the bug. are you sure?

[2017-10-23 08:40] #16964 closed

[2017-10-23 09:15] Carolhug commented on #16946
I noticed the controller-manager pos is keeping restarting, and here is the log of the controller-manager pod:
`I1023 09:10:42.757858       1 flags.go:52] FLAG: --address="0.0.0.0"
I1023 09:10:42.758310       1 flags.go:52] FLAG: --alsologtostderr="false"
I1023 09:10:42.758316       1 flags.go:52] FLAG: --api-content-type="application/json"
I1023 09:10:42.758321       1 flags.go:52] FLAG: --broker

[2017-10-23 09:57] legionus commented on #16987
This is not a bug. This message occurs when imagestreamimport controller verifies credentials.

[2017-10-23 09:57] bparees commented on #16987
looked into this with @dmage and @legionus and this denial is benign/intentional.  the code is checking the permissions of the user attempting to do an imagestream import to see if they can create imagestreammappings.  It looks like the denial message is the result of any failed SAR check (which i guess makes it a good thing it's level 2).

[2017-10-23 09:57] #16987 closed

[2017-10-23 10:11] bparees commented on #16995
@xiaods I was able to recreate it.

Presumably this means the master config file being generated by the latest origin code is not valid for a 3.7-alpha1 master/cluster?

Oddly it works fine with a 3.6 cluster, so did we just have a temporary regression in 3.7-alpha1?  (in which case presumably we can close this since we shouldn't be making any compatibility assumptions about an alpha release).

[2017-10-23 10:31] mfojtik commented on #16995
@deads2k ptal

[2017-10-23 11:15] rhatdan commented on #16951
This is an SELinux issue,  You need the content of whatever is mounted at /var/lib to be relabeled to be accessible by SELinux.  In docker terms you would mount with :Z.

[2017-10-23 11:21] #16772 closed

[2017-10-23 12:39] xiaods commented on #14645
testing pass on upstream code base
[code]

[2017-10-23 12:55] xiaods commented on #8771
out of date?

[2017-10-23 13:05] rhamilto commented on #16902
Pods attempt to create and then error:

Using /usr/share/ansible/openshift-ansible/ansible.cfg as config file
--
  |  
  | PLAY [Create initial host groups for localhost] ********************************
  |  
  | TASK [include_vars] ************************************************************
  | Monday 23 October 2017  12:59:37 +0000 (0:00:00.090)       0:00:00.091 ********
  | ok: [127.0.0.1] =

[2017-10-23 13:05] xiaods commented on #8771
it'll only be available in 1.8.

[2017-10-23 13:19] shraderdm commented on #16951
@rhatdan is there a workaround for now? Aside from mounting all files in the directory together as a configmap (without any subPath entry), I haven't found a way to make this work.

Also, why does this work without subPath? Is there something special about how the subpath is handled?

[2017-10-23 13:19] deads2k commented on #16995
I'm betting its an old images problem.  Admission webhooks wiring was messed up and I fixed it in master.

[2017-10-23 13:28] mfojtik commented on #16962
Whatever happened here, we should always respect the `timeoutSeconds` which defaults to 10 minutes. After 10 minutes this should transition from New to Failed since there was no progress. It would be interesting to know why this got stuck, I assume it failed to create the deployer pod because of quota(?) or some other non-transient error. Maybe we should print the last condition here to see where

[2017-10-23 13:30] thoraxe commented on #16951
Does kube provide the ability to set an SELinux context with a subpath mount? Perhaps this is an upstream kube bug?

[2017-10-23 13:31] bparees commented on #16481
https://github.com/openshift/origin/pull/16554 will add debugging for this which is the best we can do given it is not recurring anymore.

[2017-10-23 13:31] #16481 closed

[2017-10-23 13:36] xiaods commented on #16771
out of date.

[2017-10-23 13:48] php-coder opened #16999 "extended_conformance_gce fails with "Failure talking to yum: oso-rhui-rhel-server-releases: Check uncompressed DB failed""
[code]
and later there is another one error that can be related to the previous:
[code]
Seen there: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16934/test_pull_request_origin_extended_conformance_gce/10129/

[2017-10-23 14:00] smarterclayton commented on #16995
But it worked before, so it has to be config related (some new config we
added / took away).

On Mon, Oct 23, 2017 at 3:19 PM, David Eads <notifications@github.com>
wrote:

[2017-10-23 14:15] deads2k commented on #16995
This https://github.com/openshift/origin/pull/16861 enabled admission webhooks in `oc cluster up` and included the apiserver changes to make them not panic.  If you don't have images at least that recent, but *do* have an `oc` that recent, you can get the error you're seeing.

[2017-10-23 14:16] php-coder commented on #16980
In addition to what @smarterclayton has said, consider also another case when all users are allowed to create files in `/tmp` and if user from a container is able to mount `/tmp` from a host, he also will be able to perform symlinks or time of check to time of use attacks.

There can be (and are) many more ways of doing something malicious, so we are protecting users by default against them. Such

[2017-10-23 14:16] #16980 closed

[2017-10-23 15:08] jim-minter commented on #16995
Is there any mileage in improving the process around releasing openshift/origin:vx.y.z-alpha.* images so that this kind of thing can be avoided / can be fixed quicker when it happens?

[2017-10-23 16:23] sjenning commented on #16951
I was unable to reproduce on latest master.  Has anyone reproduced on master (3.7)?

[code]

[2017-10-23 16:31] shraderdm commented on #16951
@sjenning you aren't seeing the issue bc you are running the container as root. Can you please try again while using the restricted SCC or specifying a user in your dockerfile? You'll see the issue pop up after that.

[2017-10-23 16:56] sjenning commented on #16951
I can reproduce in 3.6 though
[code]

[2017-10-23 17:05] djdevin opened #17005 "Allow cron jobs to be linked to deployments like hook pods"
Just like deployment hook pods, it should be possible for cron job pods to link to a deployment and have the same image, environment, secrets, and volumes associated with it.

I've checked https://docs.openshift.org/latest/dev_guide/cron_jobs.html#creating-a-cronjob and also the k8s documentation but this doesn't seem possible at the moment.

As a workaround we've been rsh'ing to an existing pod,

[2017-10-23 17:15] jwforres commented on #16834
re-assigning this to security team as anything to do with certs is not the console anyway, its the masters

[2017-10-23 17:17] liggitt commented on #16834
this is working as intended. including the intermediate certs in the named cert file is how to cause the server to present those intermediates.

[2017-10-23 17:17] #16834 closed

[2017-10-23 17:17] smarterclayton commented on #17005
You can set triggers on the cron job to update the image spec whenever a tag changes:

[code]

That won't launch the job when the image changes, but will keep the cron job up to date.

The direction for env, secrets, and volumes will be to use `PodPreset` when that comes out of alpha.

[2017-10-23 17:18] smarterclayton commented on #16995
Unless you're volunteering, not right now.  It's mostly blocked on the
other more critical CI automation.

On Mon, Oct 23, 2017 at 5:08 PM, Jim Minter <notifications@github.com>
wrote:

[2017-10-23 17:21] jwforres commented on #16694
@sureshpalemoni the console doesn't proxy the API, it hits it directly from the browser. This means you need the API publicly accessible as well.  That means you also need to set openshift_master_api_port to 443

Based on your master config's masterPublicURL it doesn't look like you were doing that.

[2017-10-23 17:44] sjenning commented on #16951
Well... and if I try to reproduce on an all-in-one in the same way as 3.6, I can reproduce on 3.7 as well

[code]

[2017-10-23 18:08] sjenning commented on #16951
Ok, there is a bug here.  When using the subPath, the relabel only happens on the file symlnk on the host not to underlying file.

On the host looking at the configmap volume:

[code]

The `hello.txt` symlink is relabel correctly but the underlying file in `..data` is not.

[2017-10-23 18:19] sjenning commented on #16951
On second thought, I think this is more of documentation bug in that `subPath` is simply not supported on Secrets or ConfigMaps.

Related:
https://github.com/kubernetes/kubernetes/issues/50345

[2017-10-23 19:36] pweil- commented on #16974
please see https://github.com/kubernetes/kubernetes/issues/43805 for further discussion on updating the driver setting.

[2017-10-23 19:36] #16974 closed

[2017-10-23 19:42] jwforres commented on #16593
For the console I've added this to our card tracking "Start Build" with options https://trello.com/c/nTtovDHM

[2017-10-23 19:50] jwforres commented on #16300
I don't believe their is a console bug here. If the server is telling us the user requested some random number plus unit of storage then that is what we are showing, we don't adjust units in this case.

It seems wrong that the backend converted 0.95GiB to something in mB

As far as the state being in Pending, that means a PV never got bound to the PVC.  The console is just reporting up the status

[2017-10-23 20:00] jwforres commented on #13506
The certificate acceptance flow in Safari has changed with the update to High Sierra.  Would like to know if folks are still reproducing the issues now.

[2017-10-23 20:29] jim-minter commented on #16876
@jmrodri @tsanders-rh I think this issue can be closed - do you?

[2017-10-23 21:02] bparees commented on #16988
Sounds like your cluster is broken.  Are you even able to run any pods on it?  (e.g. deploy the jenkins or database template and see if those pods enter a running state).

Alternatively, oc describe the build pod and see why it is in a pending state.

[2017-10-23 21:10] sjenning commented on #16993
please provide output of `oc describe nodes`

[2017-10-23 21:19] tienhngnguyen commented on #16993
It seems that my memory was not enough for docker, which might be the reason why pod allocation failed... I have increased the memory in my docker preferences and restarted the cluster with the updated memory, which might solved the problem. Is it maybe possible to increase the memory in a running node without restarting the cluster?
The output of my oc describe nodes is as follows:
Name:			localh

[2017-10-23 21:30] jim-minter commented on #16246
@kargakis @jwhonce @bparees @mfojtik @ewolinetz @simo5 @pweil- @tnozicka @sjenning I have a suspicion that #16994, #16881, #16985, #16023 and this issue are all duplicates of each-other.  If you think so, I suggest closing the others and renaming this issue `process_linux.go:258: applying cgroup configuration for process caused \"open /sys/fs/cgroup/pids/kubepods.slice/kubepods-besteffort.slice/..

[2017-10-23 21:33] #16775 closed

[2017-10-23 21:47] jwhonce commented on #14601
@xThomo, @nhorman That should have been available since build docker-2:1.12.6-29.git97ba2c0

[2017-10-23 22:00] tnozicka opened #17011 "Pod status.phase shall not transition from Succeeded to Pending"
Pod status.phase shall not transition from `Succeeded` to `Pending`.
(Note that this is dependent on timing of the deletion.)

I think this is the reason we are seeing multiple deployer pods running for DeploymentConfigs.

##### Version
[code]
##### Steps To Reproduce
1. docker pull centos:centos7
2. oc observe pods --output=gotemplate -a '{{.}}'
3. oc create -f ~/tmp/pod/pod.yaml; sleep 3; oc del

[2017-10-23 22:01] tnozicka commented on #17011
P0 after the associated issue https://github.com/openshift/origin/issues/16870

[2017-10-23 22:16] tnozicka commented on #16870
I thing this is just the check actually seeing 2 deployer pods in non terminating state although they aren't actually running. There seems to be a bug in kubelet updating pod phase from `Succeeded` to `Pending` https://github.com/openshift/origin/issues/17011

[2017-10-23 22:31] smarterclayton commented on #17011
Uh oh

[2017-10-23 23:42] #16654 closed

[2017-10-24 00:50] elyscape opened #17013 "Router: Support specifying minimum TLS version"
Thanks to #14505, the HAProxy router now allows you to specify the TLS ciphers that will be used when listening over HTTPS. It would be nice if it also provided a way to specify the minimum version of TLS to support. The current behavior is to disable SSL 3.0, but some users may also want to disable TLS 1.0 and/or 1.1, and there is no good way to do that at present. It would be nice if an environm

[2017-10-24 01:05] jmrodri commented on #16876
@jim-minter I'm good with that :)

[2017-10-24 01:05] #16876 closed

[2017-10-24 02:42] sjenning commented on #17011
fyi @derekwaynecarr

might be related to our old friend https://bugzilla.redhat.com/show_bug.cgi?id=1486356

[2017-10-24 02:47] sjenning commented on #16993
Typically nodes have a fixed amount of RAM but if you are running a VM and you add memory to it, you can delete the node from the API server and restart the node and it will re-register with the new capacity.

I suggest asking your question on the OpenShift users mailing list to reach a wider pool of experience:
https://lists.openshift.redhat.com/openshiftmm/listinfo/users

[2017-10-24 02:47] #16993 closed

[2017-10-24 04:30] sjenning commented on #17011
I was unable to reproduce this on kubernetes release-1.7 branch or v1.7.6.

Here are the logs where things go sideways:
[code]

PLEG picks up on the container moving from running -> exited and the pods is marked as `Succeeded`.

However, then we failed to get the container status because it doesn't exist anymore, and the pod is seen as orphaned.  PLEG goes from exited -> non-existent and a new sta

[2017-10-24 05:53] kamran000 commented on #16974
@xiaods thanks brother, I have tried in centos, same issue there

[2017-10-24 05:56] kamran000 commented on #16974
@pweil- Thanks for your suggestion, followed that but not able to find 10-kubeadm.conf file to change behavior of kubelet

[2017-10-24 09:22] prashantbiraris opened #17016 "ah01144: no protocol handler was valid for the url"
##### Version
[code]
##### Steps To Reproduce
configured pod httpd.2.4 and configured it as reverse proxy for websocket
but while accessing url ws://backend:8090
getting "ah01144: no protocol handler was valid for the url" error

[2017-10-24 09:24] prashantbiraris commented on #17016
httpd.conf configuration

RewriteEngine On
RewriteCond %{HTTP:Connection} Upgrade [NC]
RewriteCond %{HTTP:Upgrade} websocket [NC]
RewriteRule /poc-backend/(.*) ws://backend:8090/$1 [P,L]

ProxyPass /poc-backend/ws/info  http://backend:8090/ws/info
ProxyPassReverse /poc-backend/ws/info http://backend:8090/ws/info

ProxyPass /poc-backend/ws/  ws://backend:8090/ws/
ProxyPassReverse /poc-backend/ws/ w

[2017-10-24 10:22] rthallisey opened #17017 "Latest oc cluster up with service-catalog fails on ubuntu 14.04"
```oc cluster up --image=docker.io/openshift/origin --version=latest  --service-catalog=true``` fails on ubuntu 14.04.  This first appeared in a travis job and I've also been able to produce this locally.  From what I've been able to tell, the catalog apiserver is expecting a secret to be available to it when it starts and it's not there. So no containers are ever launched besides the origin conta

[2017-10-24 10:24] rthallisey commented on #17017
@jpeeler @pmorie Have folks seen this issue? I saw that the upstream catalog travis jobs are running fine. Maybe this is an issue with oc cluster up?

[2017-10-24 10:44] prasenforu opened #17018 "User privilege ONLY scale up or down of pod for ANY project."
This not issue but looking for support.

Want to create a user in openshift who can do ONLY scale up or down of pod for ANY project.

Other than any activity that user should NOT do.

[2017-10-24 12:07] tienhngnguyen opened #17019 "Jenkins Pipeline fails on the Image build step"
##### Description
Jenkins pipeline fails on the Build image stage with OpenShift.

##### Version
This is my environment:
Jenkins 2.73.2 on OpenShift (Persistent)
Plugins:
OpenShift Pipeline Jenkins Plugin 1.0.52
OpenShift Sync 0.1.31

oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

=> I'm runn

[2017-10-24 12:48] pweil- commented on #16985
"process_linux.go:258: applying cgroup configuration for process caused \\\\\\\"open /sys/fs/cgroup/pids/kubepods.slice/kubepods-besteffort.slice/kubepods-besteffort-podcd58acbc_b5b7_11e7_afe3_0ec64793774a.slice/docker-41b767d18d03d52e5e995c35524b5f1d3f6453385bba002846677e2599c0c04b.scope/cgroup.procs: no such file or directory

[2017-10-24 13:45] adelton commented on #3498
Observation on Kubernetes master: when `secret/replication-controller-token-*` is deleted, it gets automatically recreated:

[code]

If I keep creating pods from

[code]

via `cluster/kubectl.sh create -f pod.yaml` in a loop and I also keep deleting `secret/replication-controller-token-*`, the containers still get started and running.

Does this mean that Kubernetes addressed (at least some of) th

[2017-10-24 14:02] e-minguez commented on #15910
As a workaround, I've installed OCP without any information about the cloud provider then:

* Created the cloudprovider folder in all the nodes/masters:
[code]
* Added the OSP information in /etc/origin/cloudprovider/openstack.conf
[code]
For nodes:
* Modified /etc/origin/node/node-config.yaml to add the cloud provider info:
[code]
* Restarted node service

NOTE: The nodes re-register themselves w

[2017-10-24 14:02] liggitt commented on #3498
No. The tokens get recreated, but a running controller manager keeps trying to use the old tokens until restarted.

[2017-10-24 14:19] pweil- commented on #16974
This is an argument that goes to the kubelet (or you could reconfigure the docker daemon's driver based on that discussion).  To set this on the kubelet you'd need to modify the node configuration using the `kubeletArguments`.  An example of this can be found [here](https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-node-configuration-parallel-image-pulls-with-d

[2017-10-24 14:23] simo5 opened #17021 "Add Content-Security-Policy to OSIN pages"
To tighten access to OSIN pages, which deal delicate authorization operations we should probably add a default Content-Security-Policy[1] of: default-src 'self'.
Hoever this will require also to add options to let customers change it as page branding may require them to tweak the CSP so that some images of other assets can be served from a different location than "self".

[1] https://developer.moz

[2017-10-24 14:24] simo5 commented on #17021
@jwforres we need to consider if we can use the same option for all of Openshift, or if each part will want to use their own settings.

[2017-10-24 14:26] thoraxe commented on #16951
@sjenning Why would you say it's not supported? The issue you refer to deals with updates to content mounted via subPath, not the lack of support for subPath in general.

This should be supported, but it looks like, as you suggested, there is an selinux/symlink/etc. bug with respect to the context of the injected content.

[2017-10-24 14:28] jpeeler commented on #17017
@rthallisey - I'm guessing here, but it looks like Ubuntu 14.04 doesn't include nsenter in the util-linux package: https://packages.ubuntu.com/trusty/amd64/util-linux/filelist, where as 16.04 does. Perhaps Travis is using an updated util-linux package or source compile for nsenter?

[2017-10-24 14:31] rthallisey commented on #17017
Did a little more digging and found where the issue is occurring. ```nsenter --mount=/rootfs/proc/1/ns/mnt -- /bin/systemd-run --description=Kubernetes transient mount for /var/lib/origin/openshift.local.volumes/pod\s/dc5d8f57-b83b-11e7-9532-525400983006/volumes/kubernetes.io~secret/service-catalog-apiserver-token-k1b1l --scope -- /bin/mount -t tmpfs tmpfs /var/lib/origin/openshift.local.volumes/p

[2017-10-24 14:31] thoraxe commented on #16951
Ultimately I think this is an upstream Kube issue, so I'll open one there and reference this one.

[2017-10-24 14:32] rthallisey commented on #17017
@jpeeler it runs nsenter inside the origin container where it does exist

[2017-10-24 14:35] adelton commented on #3498
Ah, mea culpa, I was using pod file when I wanted to work with replication controller file.

With

[code]

I see the `replication_controller.go:422] Unauthorized` and the pod does not get created, after the token was rotated.

[2017-10-24 14:42] smarterclayton opened #17022 "Nodes should have a unique user agent"
Right now they are the generic openshift client agent, but they should be openshift/node (or similar).  It's too annoying to sort out what they do otherwise.

[2017-10-24 14:45] thomasmckay commented on #16844
I could not reproduce this today. If you believe it was a transient issue, please close. Thanks!

[2017-10-24 14:49] gbraad commented on #14076
@hferentschik please, also have a look at https://github.com/openshift/origin/pull/16631 This is the proposed solution from OpenShift's side. With a marker file we can prevent the creation of the PVs to happen.

[2017-10-24 14:54] sjenning commented on #16951
@thoraxe ok, you are right in that it is selinux + secrets/configmaps that is not supported.  This is because we defer to the runtime to do the labeling and we only pass the path (hostPath + subPath) to the runtime.  The runtime is unaware that what is it labeling is a symlink to a file in a sibling directory, namely `..data`.

[2017-10-24 15:05] bparees commented on #16941
@legionus my initial attempt to fix this (and the cherry-pick commits needed to recreate it) are here:
https://github.com/openshift/origin/pull/16944

[2017-10-24 15:21] sjenning commented on #17011
cc @joelsmith @frobware

[2017-10-24 16:15] petervo commented on #15038
Ran into this on stock kubernetes on fedora-27 as well. Seems to be related to the docker version. docker-1.13.1-35.git8fd0ebb.fc27.x86_64 works docker-1.13.1-26.gitb5e3294.fc27.x86_64 does not.

@TomasTomecek did you ever find a work around?

[2017-10-24 16:19] petervo commented on #15038
Sorry I wrote that backwards docker-1.13.1-26.gitb5e3294.fc27.x86_64 works docker-1.13.1-35.git8fd0ebb.fc27.x86_64 does not

[2017-10-24 16:51] php-coder commented on #17021
Note that this could be dangerous if our code (or one of the dependencies) are using inline styles, inline JavaScript code, `eval()`, or `data:` URIs, because they will be blocked.

Perhaps, we could start with directive but use `Content-Security-Policy-Report-Only` header (alone or with `report-uri` attribute) in order to ensure that we didn't break anything.

[2017-10-24 16:57] jupierce commented on #16999
Looks like an openshift-ansible playbook issue. Adding @sdodson .

[2017-10-24 16:58] mfojtik opened #17024 "reconciler Test_Run_Positive_OneDesiredVolumeAttachThenDetachWithUnmountedVolume flake"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17000/test_pull_request_origin_unit/4748/

[code]

[2017-10-24 17:17] alezzandro opened #17025 "Unable to access to haproxy stats web interface"
I'm unable to access to haproxy stats web interface:

http://192.168.42.208:1936/metrics
http://192.168.42.208:1936/haproxy?stats
http://192.168.42.208:1936

Error is the same:
Forbidden

If i try using the http basic auth method it don't work:
http://admin:SECRET@192.168.42.208:1936

Chrome also warns me that I'm trying to send auth even though the web server did not request it.

Anyway if I try

[2017-10-24 17:18] sjenning commented on #17011
This is caused by https://github.com/openshift/origin/pull/16913 backported from kube 1.8.  This *is* reproducible in kube release-1.8 upstream.

[2017-10-24 17:18] sdodson commented on #16999
The fact that some packages installed and others screwed up leads me to believe there was another process on the host that affected the yum cache mid run. We need to figure out what did that but I'd hope this happens infrequently.

[2017-10-24 17:20] petervo commented on #15038
Turns out the culprit is packages placing default container secrets that collide with what kubernetes' secrets . So more of an issue for the distro to resolve.

[2017-10-24 17:44] sjenning commented on #17011
Opened upstream issue https://github.com/kubernetes/kubernetes/issues/54499.  We'll see if they want to revert or fix.  Hopefully we'll get a quick response.

[2017-10-24 17:46] jwforres commented on #17021
Our own oauth pages don't have much to them and can probably be made to work with CSP OOTB. Some testing will def be required.

It is possible we could break a customer's customized templates so we would need to let them turn it off completely if necessary as part of the config.

The console is a different story entirely which is why we haven't tackled it. We are fairly certain there are dependenc

[2017-10-24 18:15] pmorie commented on #16515
So, there is a gap in the spec when it comes to what the platform should do and what the broker should expect in this situation.  We're working on resolving it - see https://github.com/openservicebrokerapi/servicebroker/issues/348.

[2017-10-24 18:25] rthallisey commented on #17017
I think I found the issue. I outlined it in the go playground [here](https://play.golang.org/p/XSe4lcVVrR).  Relevant Kubernetes code is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/nsenter/nsenter.go#L120-L124)

The second return value from a map is whether the key exists.  But, the key will always exist because the map was initialized [here](https://github.com/kubernetes/

[2017-10-24 18:55] pravisankar commented on #16660
Fixed by https://github.com/openshift/origin/pull/16807

[2017-10-24 18:55] #16660 closed

[2017-10-24 19:03] simo5 commented on #17021
I see inline styles in OSIN too due to branding, whichis why we are not rushing with this and will need to do it later.

[2017-10-24 19:20] pravisankar commented on #14244
Tested on latest code and this issue doesn't exist anymore.
Fix for older release is already merged: https://github.com/openshift/ose/pull/866

[2017-10-24 19:20] #14244 closed

[2017-10-24 19:21] djdevin commented on #17005
Thanks for the quick reply. `PodPreset` looks very promising.

[2017-10-24 19:31] pravisankar commented on #13437
We have changed the router to do watch on namespaces instead of periodic sync (pr: https://github.com/openshift/origin/pull/16039), so this issue does not exist anymore.

[2017-10-24 19:31] #13437 closed

[2017-10-24 19:56] pravisankar commented on #12626
https://github.com/openshift/origin/pull/16389 (not merged yet) supports passing username/password as secrets for HAProxy stats.

[2017-10-24 20:00] pravisankar commented on #11881
Fixed by https://github.com/openshift/origin/pull/15309

[2017-10-24 20:00] #11881 closed

[2017-10-24 20:59] seans3 commented on #16946
I ran into this same problem today. I believe this is caused by service catalog (servicecatalog.k8s.io) API recently changing from "v1alpha1" to "v1beta1".

[2017-10-24 21:28] kibbles-n-bytes commented on #16946
@Carolhug Are any of your YAML files referencing `servicecatalog.k8s.io/v1alpha1`? We've moved the Service Catalog API to `v1beta1` in the last few weeks, so the controller-manager should not be looking for the `v1alpha1` API resource.

[2017-10-24 22:21] thoraxe commented on #16951
@sjenning ok, now we're on the same page.

Either way, I think this is an upstream issue, referenced above. Not sure how we "fix" it, though, other than volume mounting the whole folder.

[2017-10-25 02:10] Carolhug commented on #16946
Hi

Thanks for your reply, so how can I change it? How many settings should I modify?

Any advice will be appreciated

Thanks.

- Carol

________________________________
From: Michael Kibbe <notifications@github.com>
Sent: Wednesday, October 25, 2017 5:29:05 AM
To: openshift/origin
Cc: Carol Li; Mention
Subject: Re: [openshift/origin] Unable to access openshift master via URL (#16946)

@Carolhug<h

[2017-10-25 02:40] joelsmith commented on #14093
As it turns out, the bug that we thought we found wasn't a bug and the secrets not mounting error was a red herring. The log message happens when a pod is going away right at the same time that the volume manager is checking if it needs to mount anything. So I think that your theory about your pod needing more memory is a good one. If the pod was dying as a result of it not having enough resources

[2017-10-25 02:40] #14093 closed

[2017-10-25 07:42] davidacce commented on #9279
This should make it:
sudo mount --make-shared /

[2017-10-25 07:50] bparees commented on #16995
also failing against OSE v3.3 with a different error:

[code]

[2017-10-25 07:57] bparees commented on #16995
also failing on ose v3.5 with a different error:
[code]

[2017-10-25 07:59] bparees commented on #16995
and in what is probably a surprise to no one, v3.4 is also broken:

[code]

[2017-10-25 08:00] bparees commented on #16995
(v3.6 is currently broken too, but i'm fixing that here: https://github.com/openshift/origin/pull/17029/files#diff-3e0aea9639b40036cf195d2ad1a7141dR713)

[2017-10-25 08:42] xiaods commented on #17019
i am go through the tutorial, https://blog.openshift.com/openshift-pipelines-jenkins-blue-ocean/

the jenkins pod always raised error:

Failed Scheduling | 0/1 nodes are available: 1 Insufficient memory.
-- | --

[2017-10-25 09:06] tienhngnguyen commented on #17019
Hi, check the memory of your VM or Docker Engine. Usually the memory in the
vm is too low compared to the assigned memory for the jenkins pod.

Try to assign 512mb to the jenkins pod and restart.

2017-10-25 10:42 GMT+02:00 Deshi Xiao <notifications@github.com>:

[2017-10-25 09:06] bparees commented on #17019
@gabemontero wasn't this the issue that was fixed by reverting the fabric dependency in one of the plugins?

[2017-10-25 11:53] xiaods commented on #17019
@tienhngnguyen thanks for your reminder.

[2017-10-25 12:21] TomasTomecek commented on #15038
I gave up and didn't try to figure it out. Should we tag docker package maintainers then?

[2017-10-25 12:35] mfojtik commented on #17022
AFAIK, the agent should include the the command name by default:

[code]

In OpenShift case I guess this will be always "openshift". I can add `CustomKubernetesUserAgent(string)` but it will be upstream change and we will have to plumb it somehow down to `KubeletServer` options?

[2017-10-25 12:36] mfojtik commented on #17022
/sig master

[2017-10-25 12:43] mfojtik commented on #17022
@smarterclayton maybe something like this? https://github.com/mfojtik/origin/commit/fb257f0824e74b9e950c4d115417a8ec936ae45a

[2017-10-25 13:26] spadgett commented on #16862
Looks like `sar-creator` and `namespace-viewer` are also coming from the service-catalog template, too.

[2017-10-25 13:59] aaryabhatt opened #17031 "docker registry keep showing manifest unknown error for image pull after somedays of push image"
I am facing a very strange behaviour of docker registry. When I pushed a image it works fine for some days and after somedays it start giving manifest unknown error while pulling image to any node, which is due to self sign certificate. when I pushed the image again to docker registry then it start working. This issue is not to a particular image, I am facing this issue to multiple images which I

[2017-10-25 14:59] php-coder commented on #17018
@enj I accidentally came across `replicationcontrollers/scale`, `deployments/scale` and `replicasets/scale` resources in Kubernetes and wondering whether could it be helpful for this issue?

[2017-10-25 16:19] gabemontero commented on #17019
@bparees , yes, the field label conversion error was the reason we had to revert the fabric dependency in the sync plugin.

However, the problem in the description is not a sync plugin issue ...we would have seen a java stack trace citing the field label conversion (which we do not).  Also, at 0.1.31, they have a version where fabric was reverted to a level that would work with 3.6.0.

But plugins

[2017-10-25 16:22] bparees commented on #17019
thanks @gabemontero that makes sense.

another option would to downgrade to the 3.6.0 jenkins image which would have an older (and therefore compatible) oc client binary.

or just patch the oc binary in the image being used.

[2017-10-25 17:26] gabemontero commented on #17019
yep conceivably those too @bparees , assuming it is the aforementioned issue... if @tienhngnguyen or @xiaods has the bandwidth to get the `oc start-build --loglevel=10`, I'll look at it to confirm.

as an FYI, the 3.6.x commit from @deads2k was https://github.com/openshift/origin/pull/16541/commits/d452cf241edbc24cf502692f0ddc6ee1f54f43ab

[2017-10-25 18:23] csrwng commented on #16995
@bparees it was my understanding that we weren't going to necessarily maintain backwards compatibility with previous versions (if you want to run those, you use the older oc client). If that's the case, should we worry about the current client not being able to start older versions?

[2017-10-25 18:49] bparees commented on #16995
we never really got a sign off on that, so as of today there is still an expectation that this works.

At a minimum we probably have to enforce an N-1 rule like we do for using an oc client to talk to a cluster, but we don't even have sign off on that and as soon as the CDK team starts trying to test for 3.7 they're going to discover this an open bugs.

[2017-10-25 18:50] csrwng commented on #16995
^^ @deads2k

[2017-10-25 18:50] csrwng commented on #16995
@deads2k if you know what's incompatible can you point me to it?

[2017-10-25 18:54] #7850 closed

[2017-10-25 18:56] jcantrill commented on #13601
I believe this has been resolved in the 3.6 and 3.7 releases.  Closing, but please reopen if you still see an issue

[2017-10-25 18:56] #13601 closed

[2017-10-25 18:58] jcantrill commented on #15851
Closing based on https://github.com/openshift/origin/issues/15851#issuecomment-337179929 and https://github.com/openshift/origin/issues/15851#issuecomment-335430445

[2017-10-25 18:58] #15851 closed

[2017-10-25 19:07] juanvallejo commented on #14651
@liggitt I'm not sure why hitting the `/version/openshift` endpoint would require authentication.
Maybe you've seen a similar issue before?

[2017-10-25 19:16] juanvallejo commented on #12801
Closing this, as it is not present in clients 3.4 and above.

cc @fabianofranz

[2017-10-25 19:16] #12801 closed

[2017-10-25 19:22] jcantrill commented on #13110
Closing under the assumption your question was answered

[2017-10-25 19:22] #13110 closed

[2017-10-25 19:25] jcantrill commented on #10960
@sosiouxme might this be addressed by the 'oenshift_health_checker'

[2017-10-25 19:25] jcantrill commented on #11282
closing as unlikely to move into 'oc adm' given the use of ansible

[2017-10-25 19:25] #11282 closed

[2017-10-25 19:45] #16966 closed

[2017-10-25 19:48] bparees commented on #16749
@php-coder bump.

[2017-10-25 19:50] bparees commented on #16577
it's not possible to do that in the UI today, there's no way to provide validation rules from the image or template.

So this is can't fix.

[2017-10-25 19:50] #16577 closed

[2017-10-25 19:53] bparees commented on #15086
@pweil- oc tag lets you specify the IST name independent of the image repository, so i'm closing this as won't/can't fix.

[2017-10-25 19:53] #15086 closed

[2017-10-25 19:58] bparees commented on #13253
i don't see us having the luxury to do this.  also those tests should be phased out as we have less and less ownership of the images+templates themselves.

[2017-10-25 19:58] #13253 closed

[2017-10-25 20:05] bparees commented on #12355
i see nothing here that's an image bug.  Either deployments aren't resolving something they should be, or the console isn't setting up the deployment correct.

[2017-10-25 20:06] bparees commented on #12355
(or more likely there's a user error, it's fairly difficult to follow exactly what @wenskys did here.  how is the openshift/centos imagestream defined, for example?)

[2017-10-25 20:06] coreydaley commented on #13253
works for me

[2017-10-25 20:09] bparees commented on #12046
assuming the documentation being referred to is: https://docs.openshift.org/latest/creating_images/metadata.html

no implementation was ever done to use a particular image label as a source of tag metadata to be applied to the imagestream tag.  at this point it's unlikely it will be.

[2017-10-25 20:09] #12046 closed

[2017-10-25 20:10] bparees commented on #11721
@jwforres candidate for closing?

[2017-10-25 20:15] #15543 closed

[2017-10-25 20:15] bparees commented on #15543
closing based on supposed fix and no recurrences.

[2017-10-25 20:17] bparees commented on #13955
we put in build retries, sounds like the registry can't do much, closing.

[2017-10-25 20:17] #13955 closed

[2017-10-25 20:19] bparees commented on #12007
most recent flake didn't include the logs, so i can't determine if it was really a recurrence of this issue or not.  Otherwise i've not seen/heard evidence that this is still an issue.  Closing and someone can open a new flake w/ logs if it's still happening.

[2017-10-25 20:19] #12007 closed

[2017-10-25 20:20] simo5 commented on #16731
Seem like it will be automatically fixed in 3.8, I am going to close this issue as we are not going to deal with this in 3.7 timeframe.

[2017-10-25 20:20] #16731 closed

[2017-10-25 20:21] bparees commented on #10764
Seems like this test just needs to be enhanced to retry more in the face of possible network issues.  or use a longer timeout.

[2017-10-25 20:22] bparees commented on #15015
i think so.

[2017-10-25 20:25] bparees commented on #16553
@gabemontero i think you added some better debug for this and i haven't seen it in a while,so closing.

[2017-10-25 20:25] #16553 closed

[2017-10-25 20:28] bparees commented on #12236
@stevekuznetsov did you do so?  this seems like a dead issue at this point.

[2017-10-25 20:40] bparees commented on #15143
only remaining issue from the tracking list is https://github.com/openshift/origin/issues/15171

so i am closing this and i guess we'll see what happens w/ the next mass build.

[2017-10-25 20:40] #15143 closed

[2017-10-25 20:45] php-coder commented on #16749
I don't know what to say, except that I've never seen this code before and the only reason of why I added my first comment is that I tried to help to push this issue forward.

[2017-10-25 20:47] stevekuznetsov commented on #12236
/close

We're doing parallel builds with Origin `Build`s in the future anyway

[2017-10-25 20:47] #12236 closed

[2017-10-25 20:52] juanvallejo commented on #14012
@YannMoisan Using a 3.7 client, I'm able to specify a secret containing characters such as `'` and `!`.
Please re-open if you are still seeing this issue with a newer client.

[2017-10-25 20:52] #14012 closed

[2017-10-25 21:01] #16962 closed

[2017-10-25 21:04] bparees commented on #16749
@mfojtik I seem to recall recently learning that you had a hand in imagepolicy.  Thoughts?

[2017-10-25 21:16] adbaldi opened #17038 "dockerregistry -prune flag not available"
When trying to follow the registry hard prune documentation I run into a few issues.

https://docs.openshift.org/1.5/admin_guide/pruning_resources.html#hard-pruning-registry

The first issue is that my container has dockerregistry located at / instead of /usr/bin/ in the documentation.  The second issue is that the dockerregistry binary does not seem to know about the -prune flag.

I'm guessing th

[2017-10-25 21:27] smarterclayton commented on #16731
So we are going to regress our public API?

On Wed, Oct 25, 2017 at 10:20 PM, Simo Sorce <notifications@github.com>
wrote:

[2017-10-25 22:18] tienhngnguyen commented on #17019
@gabemontero I have executed the pipeline again with the command `oc start-build cart --from-file=target/cart.jar --follow --loglevel=10` as you wished.

This is the result of the log:
`[...]
/home/jenkins/.kube/172.30.0.1_443/image.openshift.io/v1/serverresources.json
I1025 22:02:30.483947     317 cached_discovery.go:72] returning cached discovery info from /home/jenkins/.kube/172.30.0.1_443/v1/s

[2017-10-25 23:28] eparis commented on #16731
yes

[2017-10-25 23:34] smarterclayton commented on #16731
Please make sure this is documented in the release notes for API changes and that it will be resolved in 3.8

[2017-10-25 23:42] #14286 closed

[2017-10-25 23:42] #14915 closed

[2017-10-26 03:45] jmontleon opened #17040 "Unable to create APB service instance since last service-catalog update"
[provide a description of the issue]

When I walk through the UI to deploy a Postgresql (APB) service instance the UI acts as though the request went through fine, but in the apiserver logs I see:

[code]

Similarly a resource file that previously worked no longer does:

[code]

[code]

##### Version
$ docker exec -it origin bash
[root@jmontleo origin]# oc version
oc v3.7.0-alpha.1+598a4ac-1328
ku

[2017-10-26 03:49] jmontleon commented on #17040
@pmorie Is this something you can help with?

[2017-10-26 04:15] alexcreek commented on #16193
Ran into the same issue after moving from 1.4 to 3.6. Resolved it by creating the missing service account
[code]
[code]

[2017-10-26 05:12] GrahamDumpleton opened #17041 "Not possible to delete an environment variable using oc set env --env"
Although one can use the following to delete an environment variable:

[code]

using:

[code]

doesn't work although one would assume that the behaviour would be the same.

##### Version

[code]

##### Steps To Reproduce

[code]

##### Current Result

When deleting environment variable using ``--env A-``, gives an error message:

[code]

##### Expected Result

Would have assumed that would work th

[2017-10-26 05:13] kamran000 commented on #16974
Problem Solved docker daemon driver has been changed to systemd, Thanks

[2017-10-26 07:46] xiaods commented on #17019
use upstream oc cluster up --version=latest,
and go through the pipeline sample: https://blog.openshift.com/openshift-pipelines-jenkins-blue-ocean/
came across this issue,  do you know any hint to handle it.
···

3:42:52 PM | Warning | Build Config Instantiate Failed | gave up on Build for BuildConfig myproject/jenkins-blueocean (0) due to fatal error: the LastVersion(1) on build config myproject/

[2017-10-26 07:49] bparees commented on #17019
and go through the pipeline sample: https://blog.openshift.com/openshift-pipelines-jenkins-blue-ocean/
came across this issue, do you know any hint to handle it.

ignore it.  it doesn't hurt anything, it's just a race condition between two things trying to start your build, one of them failed but one of them will have started it properly.

[2017-10-26 07:50] bparees commented on #17019
and @xiaods in the future please create unique issues, asking unrelated questions in an issue pollutes the thread and makes it difficult to focus on the original issue.

[2017-10-26 08:32] adelton commented on #3498
What's the preferred method to go about it?

Should the individual controllers exit when they start getting `errors.IsUnauthorized(err)` and the controller manager notice that they are gone and restart them?

Or should we add a way for the controller manager to call into the controllers and pass the new tokens to the client objects?

[2017-10-26 09:01] xiaods commented on #17019
@bparees Oops. thanks for reminder. got it.

[2017-10-26 09:09] matzew opened #17044 "No Metrics images for 3.6.1"
doing `oc cluster up --metrics --version=v3.6.1`
bring up the cluster, but in the `openshift-infra` infro project, I am getting errors, because there are no images for 3.6.1 on the different metric containers, like:

https://hub.docker.com/r/openshift/origin-metrics-cassandra/tags/

##### Version
3.6.1

##### Steps To Reproduce
1. oc cluster up --metrics --version=v3.6.1
2. go the the infra projec

[2017-10-26 09:13] matzew commented on #17044
These three images do lack a matching `v3.6.1` tag:

* origin-metrics-heapster:v3.6.1
*origin-metrics-hawkular-metrics:v3.6.1
* origin-metrics-cassandra:v3.6.1

[2017-10-26 09:37] legionus commented on #13127
@simo5 Right now the only way is to create a special user and use that token.

[2017-10-26 09:46] mfojtik commented on #15126
This is done.

[2017-10-26 09:46] #15126 closed

[2017-10-26 09:57] legionus commented on #13870
@juanjoDiaz You can not delete an image from the integrated registry using its API. This can not be done because in the openshift cluster this image can still be used. In the cluster, there is a system for removing unused images ([Pruning Images](https://docs.openshift.org/latest/admin_guide/pruning_resources.html#pruning-images)).

[2017-10-26 09:57] #13870 closed

[2017-10-26 10:07] dmage commented on #17031
Which storage is used by the registry? When you start it with `oc cluster up` it uses a temporary directory (emptyDir) which is erased upon each restart of the registry:
[code]

It may be also configured by the environment variable REGISTRY_STORAGE or by a config file.

[2017-10-26 10:25] dmage commented on #17038
The documentation is meant for OpenShift Container Platform 3.5, in origin it will appear in 3.7. We will fix the docs, sorry for misleading.

[2017-10-26 10:36] dmage commented on #16942
@bparees do you mean extended tests? They operate on the whole cluster so they need a separate master as well. We need rewrite some of them: convert them into unit and integration tests.

We made a mistake with hard-prune tests, they are very high-level. I like how the `oc prune image` is tested (by unit tests) and I think hard-prune should be tests the same way.

[2017-10-26 10:43] miminar commented on #17038
/unassign
/assign

[2017-10-26 11:43] bparees commented on #16942
yes, sorry, we use e2e and extended interchangeably at times.

[2017-10-26 11:52] dmage opened #17045 "RemoteBlobAccessCheckEnabled is not covered by tests"
The change https://github.com/openshift/origin/commit/4497a40405ecd2307fa9b7f8a5293971611721c5#diff-3d8bcc0cba2e875dc71bc23d0ac50f0f is not covered by tests. Though, it's a bug fix and we don't want to have a regression.

[2017-10-26 11:58] aaryabhatt commented on #17031
thanks @dmage, great help, I did not check that option, you are right it restarted, we can close it.

[2017-10-26 11:58] #17031 closed

[2017-10-26 11:59] xavierbaude commented on #15851
A new v3.6.0 image has been pushed to the docker hub(since 9 days). The old is now with tag v3.6.0-old (...).
I confirm the bug is solved !

[2017-10-26 12:18] adbaldi commented on #17038
Thanks for the info.

[2017-10-26 12:19] gabemontero commented on #17019
And to complete the loop here, yep, with the trace analysis, the original issue is the known 3.6 problem we previously discussed, and as also previously discussed, using `--version=latest` is a viable workaround.

Closing this out.   Thanks.

[2017-10-26 12:19] #17019 closed

[2017-10-26 12:25] gabemontero commented on #17019
sorry ... meant to clarify with use a different oc cluster or oc client version as the work around.

[2017-10-26 12:25] Ocimum-basilicum opened #17047 "Container creation fails because of "Failed create pod sandbox""
Pods are not getting created anymore

##### Version
oc v3.6.173.0.7
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://api.starter-ca-central-1.openshift.com:443
openshift v3.7.0-0.143.7
kubernetes v1.7.0+80709908fd

##### Steps To Reproduce
1. create a application (e.g. resid (persistent) from catalog)
2. check pod/container creation
3. wait for timeouts

##### Current Result
Warn

[2017-10-26 12:26] deads2k commented on #16995
@csrwng comment https://github.com/openshift/origin/issues/16995#issuecomment-339247824 suggests that @bparees is on it.

The other one has to do with the server flag enabling `admissionregistration.k8s.io`.  FWIW, I think it's kind of crazy to try to have this handle skew.  It's a valuable tool for development, but if you need a prior version it seems like you could just get a prior version.

[2017-10-26 12:28] bparees commented on #16995
@deads2k i fixed (am fixing) masterclient->3.6 compatibility.  masterclient->[3.7alpha1, 3.5, 3.4, and 3.3] are all still broken for other reasons i'm not investigating.

[2017-10-26 12:29] bparees commented on #16995
and yeah, we agree and are trying to get consensus from downstream consumers of oc cluster up about this, but we aren't there yet.

[2017-10-26 13:48] spadgett commented on #17040
The field names have changed. It's now:

[code]

[2017-10-26 13:49] spadgett commented on #17040
Should be fixed in the console with the last vendor:

https://github.com/openshift/origin/commit/adce86e584c62dd0989fe63f733a2175af713726

[2017-10-26 13:50] tumido commented on #17047
I'm facing the same in the `starter-us-east-1.openshift.com` environment. It's been unstable for couple of days already...

[2017-10-26 13:54] spadgett commented on #17040
Closing this issue per the comments above. Please reopen if you still see a problem using the new property names.

[2017-10-26 13:54] #17040 closed

[2017-10-26 15:36] jtudelag opened #17055 "Wrong order when importing image tags"
When importing all the images of a container image (with the command oc import-image)  they are imported in the wrong order.

##### Version

oc version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.77:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce

Run the following command, (having MaxIma

[2017-10-26 15:46] #17011 closed

[2017-10-26 18:31] enj commented on #17018
@prasenforu there are various resources that support the scale subresource:

[code]

You need to create a cluster role that grants the appropriate verbs to the resources that you desire.  Then you need to create a cluster role binding that binds that cluster role to the appropriate user.

[2017-10-26 19:23] pweil- commented on #17016
for best support with SCL packages please file this against the httpd-container repo which can be found at https://github.com/sclorg/httpd-container

[2017-10-26 19:23] #17016 closed

[2017-10-26 19:27] pweil- commented on #17018
It looks like the comments here from @enj address the question.  Closing for now.

[2017-10-26 19:27] #17018 closed

[2017-10-26 19:43] pweil- commented on #17047
/cc @jupierce

[2017-10-26 20:06] pmorie commented on #17017
Sorry @rthallisey, but ubuntu is not a distribution that we have bandwidth to support.  On the bright/terrible side, the issue here will affect all pods.

I'm happy to keep this open since you intend to make an upstream PR.

[2017-10-26 20:08] bparees commented on #17055
this behavior is deprecated anyway.  If you want to control what tags are imported, you must define the tags in the spec explicitly, e.g.: https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L34-L47

closing as won't fix.

[2017-10-26 20:08] #17055 closed

[2017-10-26 20:08] sjenning commented on #17047
This is a known issue that has a fix and it being rolled out to the starter clusters presently.

[2017-10-26 20:10] pweil- commented on #17017
Let's track this via an upstream issue if that's where the fix is going since it's not something we intend on supporting.

[2017-10-26 20:10] #17017 closed

[2017-10-26 20:10] rthallisey commented on #17017
@pmorie no problem, I'll fix the issue. I'm just figuring out my upstream dev environment so I can properly test the patch.

[2017-10-26 20:58] lalib commented on #16946
Hey, I am having the same problem. Any updates?

[2017-10-26 21:07] jim-minter commented on #16734
@spadgett is there an issue here, or can this be closed?  I'm pretty confident about the circumstances under which the TSB returns a 409 - they're few and it's down to being asked to provision/bind 2 different things with the same ID.

[2017-10-26 22:03] juanluisvaladas commented on #17055
Since the documentation doesn't say it's deprecated [1], would you merge it if I fix it myself and write the proper test?

1- https://docs.openshift.com/container-platform/3.6/install_config/master_node_configuration.html#master-config-image-config

[2017-10-26 22:06] jtudelag commented on #17055
@bparees @juanluisvaladas In that case, shouldn't we also fix this part of the docs??
[https://docs.openshift.com/container-platform/3.6/dev_guide/managing_images.html#importing-tag-and-image-metadata](https://docs.openshift.com/container-platform/3.6/dev_guide/managing_images.html#importing-tag-and-image-metadata)

[2017-10-26 22:31] bparees commented on #17055
@juanluisvaladas @jtudelag what's deprecated (as of 3.7) is using the spec.dockerImageRepository field on an imagestream, which is what you have to define in order to get bulk importing behavior.

So "is deprecated" is perhaps too strong a statement, but "is about to be deprecated in the first release we'd consider fixing this" is more accurate.

https://github.com/openshift/origin/blob/master/pkg

[2017-10-26 22:47] spadgett commented on #16734
I haven't seen this in a while. I suspect it was a service-catalog bug that isn't present in the later releases. Thanks for looking, @jim-minter

[2017-10-26 22:47] #16734 closed

[2017-10-27 00:12] kibbles-n-bytes commented on #16946
@Carolhug @lalib You should search your Service Catalog installation YAML files for `servicecatalog.k8s.io/v1alpha1`. If that is present, your YAMLs are stale compared to your images and you should update to the latest versions in the Service Catalog repo.

[2017-10-27 01:13] rvichery opened #17064 "Unable to push image to DockerHub"
I followed this blog post: [https://blog.openshift.com/pushing-application-images-to-an-external-registry/](https://blog.openshift.com/pushing-application-images-to-an-external-registry/) but I am unable to push a container image to DockerHub from OpenShift. I am getting the following error at the end of the build:
[code]

I was able to workaround it by modifying the dockerhub secret from:
[code]

[2017-10-27 01:39] prasenforu commented on #17018
@enj thanks.

I have very limited knowledge on openshift.

Can you please help me to do with command line.

[2017-10-27 02:50] Carolhug commented on #16946
Hi Michael,

So how can I update the service catalog version? I removed the origin-service-catalog pods from my master when I debugging....

Then I downloaded docker.io/openshift/origin-service-catalog:latest version and pushed it to my local repo, use oc new-app to install it, now the status is

dc/origin-service-catalog deploys ooc-registry.anim.com.cn:5000/openshift/origin-service-catalog:lates

[2017-10-27 03:02] lbrigman124 opened #17065 "mailing list link unaccessible"
Clicking on the link on the github README.md that is presented with the repository lead to this error.
------------------
This site can’t be reached

lists.openshift.redhat.com refused to connect.

[2017-10-27 03:53] xiaods commented on #17064
out of date. need refresh the docs.

[2017-10-27 09:18] luksa opened #17067 "Misleading information returned by oc policy who-can for cluster-level resources"
Imagine a user making a mistake and adding a cluster-level role with oc policy add-role-to-user instead of add-cluster-role-to-user. For example:
[code]

If anyone now uses `oc policy who-can` to check if the service account can create project requests, the information returned makes it appear as though it can create them, but that's not the case.
[code]

The output of who-can is exactly the same

[2017-10-27 09:44] mfojtik commented on #16873
@bparees can be converted to a trello card (add support for external GPG keys).

[2017-10-27 09:46] mfojtik commented on #16301
Do not use `--save` if you don't want to record the status of verification back to the server. This means the status of signature is now invalid and using `--save` will record that back to the server (by removing the signature details.

[2017-10-27 09:47] mfojtik commented on #16298
Indeed we should support `--name` to allow verification individually for each signature.

[2017-10-27 09:49] mfojtik commented on #15809
I don't think this is a blocker, that test deserves to be fixed for sure. I thought we already have --insecure-registry flag for verify image signature. I will check.

[2017-10-27 09:50] mfojtik commented on #15082
duplicate of https://github.com/openshift/origin/issues/16301

[2017-10-27 09:50] #15082 closed

[2017-10-27 09:53] mfojtik commented on #10825
@aweiteka do we still need this bug? We have image-signer role that I tested and it works. Having project scoped role is impossible now because images are cluster-scope resource (you can't give power to non-privileged user to have access to modify signature for all images).

[2017-10-27 11:40] thomasmckay commented on #16301
My expectation would be that the "failed verification" information would have been saved (which user, etc.).

[2017-10-27 11:52] galderz commented on #16771
Hmmm, if it's out of date, what solves it? An oc upgrade? A docker upgrade? Both? Something else?

[2017-10-27 12:32] simo5 commented on #17018
@prasenforu sorry this is not a help forum, subscribe to the users mailing list and ask there please.

[2017-10-27 13:09] pweil- commented on #17064
Thank you for reporting this issue with a blog post.  I will notify the author to request it be updated.

[2017-10-27 13:09] #17064 closed

[2017-10-27 13:26] jmencak opened #17068 "Extended cl.go tests fails to define all template parameters"
##### Version
$ git describe
v3.7.0-alpha.1-494-g7bb08c04da

##### Steps To Reproduce
1. extended.test --ginkgo.focus="Load cluster" --viper-config=config/stress-mb

##### Current Result
Only the first template parameter 'RUN: mb' is overrriden during the extended test run:
Oct 27 14:56:14.777: INFO: Running 'oc new-app --config=/tmp/extended-test-cl-jgpj6-hg8kn-user.kubeconfig --namespace=cll0 ce

[2017-10-27 13:43] lucastheisen opened #17069 "oc logs fails with forbidden even when run as system:admin"
I am unable to retrieve logs using `oc logs`:
[code]

They still can be read using `docker logs` on the node where the live:
[code]

The log here shows an error _as I expected_, but the point is I can _actually get the log_ through `docker` but not through `oc`...

##### Version
[code]

##### Steps To Reproduce
1. Create something on openshift
2. Check logs with `oc logs`

##### Current Result
[co

[2017-10-27 13:52] simo5 commented on #17067
Does creating a projectrequest with system:serviceaccount:myproject:my-service-account actually fail ?

[2017-10-27 14:05] sjug commented on #17068
The problem is the yaml is getting unmashalled to a struct which doesn't match the parameters [snip](https://github.com/openshift/origin/blob/master/test/extended/cluster/context.go#L40-L46).

[2017-10-27 14:12] lucastheisen commented on #17069
Just finished diagnostic:
[code]
All the warnings and the first error appear to be related to the inability to read the logs.  The second error i am unsure of, and i tried the suggested remedy (restart master) but it made no difference.  The third error, about `iptables` seems odd given that the [suggested configuration from the documentation](https://docs.openshift.org/3.6/install_config/install/

[2017-10-27 14:12] luksa commented on #17067
Yes, it fails:
[code]

And just to perform a double-check: if I then add the cluster role properly, it works:
[code]

[2017-10-27 14:16] jmencak opened #17070 "Extended cl.go tests delete/reuse namespace "ifexists" [RFE]"
##### Version
$ git describe
v3.7.0-alpha.1-494-g7bb08c04da

##### Steps To Reproduce
1. extended.test --ginkgo.focus="Load cluster" --viper-config=config/golang-cl-pause

##### Expected Result
Namespace deleted/reused before a test run.

##### Additional Information
Please add delete/reuse existing namespace functionality as supported by the old Python cluster-loader.

Example config:

- golang-c

[2017-10-27 14:27] jmencak opened #17071 "Extended cl.go tests doesn't delete a namespace after a test run."
The "deletenamespace: true" doesn't work as expected after an extended cl.go test run.

##### Version
$ git describe
v3.7.0-alpha.1-494-g7bb08c04da

##### Steps To Reproduce
1. extended.test --ginkgo.focus="Load cluster" --viper-config=config/golang-cl-pause

##### Current Result
Namespace "clusterproject0" is not deleted after a test run.

##### Expected Result
Namespace "clusterproject0" deleted

[2017-10-27 15:32] adelton commented on #17067
@luksa, is this a regression against older version?

[2017-10-27 15:40] enj commented on #17067
The correct way to run the `who-can` command for a cluster scoped resource is:

[code]

We could use discovery information to warn when a role binding is being created for a cluster scoped resource.

[2017-10-27 16:02] fabianofranz commented on #17067
/unassign
/assign @liggitt @deads2k

[2017-10-27 16:02] sjug commented on #17071
Hey Jiri,

The parameters not nested inside
[code]

Are e2e related parameters.

In order to delete namespaces created by Cluster Loader, just add

[code]

[2017-10-27 16:02] #17071 closed

[2017-10-27 16:05] enj commented on #17067
@fabianofranz assign this kind of stuff to @simo5 in the future.

/unassign @deads2k @liggitt

[2017-10-27 16:07] sjug commented on #17068
Fixed by https://github.com/openshift/origin/pull/17072

[2017-10-27 16:27] luksa commented on #17067
@adelton I don't know if it's a regression. Most likely not.

@enj If `--all-namespaces` is really required for cluster-level resources, then `who-can` shouldn't work when invoked for a cluster-level resource and without --all-namespaces (it currently works and shows the information correctly). Also, as a regular user, I'm not even allowed to run `who-can --all-namespaces`:
[code]
But, as the same

[2017-10-27 18:14] matzew commented on #17044
@pweil- @jcantrill Hola! I just see these tags are now available on dockerhub. Thanks!

I am now testing w/ `oc cluster up --metrics --version=v3.6.1`

[2017-10-27 18:29] matzew commented on #17044
Works perfectly fine, now !

Thanks!  I am closing this issue, since it's resolved now - thanks!

[2017-10-27 18:29] #17044 closed

[2017-10-27 19:17] twhiston opened #17074 "chaining builds via imagestreamtags not triggering"
I'm trying to start a custom strategy build when an image stream tag changes (chaining builds), but currently this is not working, and the second build never seems to start. Not sure if i'm missing something obvious but it looks like it should work and it's basically the same as things like [openshift-tagger](https://github.com/YannMoisan/openshift-tagger-custom-builder) do it, however whatever I

[2017-10-27 20:09] bparees commented on #16873
trello'd
https://trello.com/c/BoH23owK

[2017-10-27 20:09] #16873 closed

[2017-10-27 21:54] jim-minter opened #17078 "[Feature:Builds][Conformance] s2i build with a root user image should create a root build and pass with a privileged SCC [Suite:openshift/conformance/parallel]"
[code]

[2017-10-27 21:54] jim-minter commented on #17078
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17057/test_pull_request_origin_extended_conformance_gce/10529/

[2017-10-27 22:43] #16132 closed

[2017-10-28 07:39] debianmaster commented on #13336
@wydwww still no luck.    there is no good doc.

[2017-10-28 08:56] co-de commented on #16193
@alexcreek I did the same thing but my PVs are still in Failed state.

[2017-10-28 13:54] Turbots commented on #16782
I'm having the same issues with a fresh Openshift Origin installation using the Ansible playbooks on GCE. Can someone help? How can I troubleshoot this further?

[2017-10-29 03:09] #17078 closed

[2017-10-29 09:11] skjolber commented on #17047
I think 'm facing the same issue at starter-ca-central-1.openshift.com:

10:04:10 AM | Normal | Deadline exceeded | Pod was active on the node longer than the specified deadline
-- | -- | -- | --
10:00:03 AM | Normal | Sandbox changed | Pod sandbox changed, it will be killed and re-created.14 times in the last 58 minutes
-- | -- | -- | --
9:59:40 AM | Warning | Failed create pod sand box | Failed

[2017-10-29 14:06] xman-berlin commented on #15951
Did you solve your issue in the meantime. I'm facing almost the same issue and already try to fix is for days - no success yet. I created a question on [stackoverflow](https://stackoverflow.com/q/46993706/3577926).

[2017-10-29 19:58] 14yannick commented on #17047
Facing same issue not possible to rollout anything on starter-ca-central-1.openshift.com. Hope will be fixed soon.

[2017-10-29 23:30] dmage opened #17084 "/bin/sh: rpm-file-permissions: command not found"
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/257/testReport/junit/(root)/Extended/_Feature_Builds__Slow__completed_builds_should_have_digest_of_the_image_in_their_status__Docker_build_started_with_normal_log_level_should_save_the_image_digest_when_finished__Suite_openshift_/

<details>
<summary>Items Dump</summary>

[code]

</details>

/kind test-flake

[2017-10-30 00:22] bparees commented on #17084
fixed by https://github.com/openshift/origin/pull/17083 but the nightly job uses an AMI that hasn't been refreshed yet.  Should pass next time around.

[2017-10-30 00:22] #17084 closed

[2017-10-30 04:16] enj commented on #17067
`who-can`, just like all of RBAC, has no strict concept of resources or their scope - its just a string.  The best the `who-can` command  can do is warn the user if it thinks the command does not line up with discovery information.  The behavior of `who-can` will not change.  You asked it an incorrect question, and it answered that question.

Normal users cannot create cluster role bindings either

[2017-10-30 05:18] smarterclayton opened #17085 "test flake template instances not found as internalservererror"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/5924/test_pull_request_openshift_ansible_extended_conformance_install_update/3031/

[2017-10-30 05:18] smarterclayton commented on #17085
@openshift/sig-developer-experience

[2017-10-30 05:31] shraderdm commented on #16951
@sabre1041 can you please share the `subPath: ..data/` workaround for this that you sent me via email? I don't want to take credit for your fix.

[2017-10-30 06:57] LarsMilland opened #17086 "Consistent release of artifacts to Centos YUM site and DockerHub for OpenShift Origin"
It appears that the process of releasing binary artifacts for releases of OpenShift Origin binaries is not fully consistent.

Especially if one wants to install and update OpenShift Origin installations on RHEL or Centos using the Ansible based installers from:

https://github.com/openshift/openshift-ansible

The Ansible installer would expect to find RPM images published to the Centos mirror loca

[2017-10-30 08:32] runcom commented on #16403
[code]

We do still have some test failing in the OpenShift + CRI-O CI. @bparees @smarterclayton it seems that service broker and images releated tests are failing. Could you help us on that?

/cc @mrunalp

[2017-10-30 14:01] bparees commented on #17074
please provide the root build config also.

[2017-10-30 14:24] bparees commented on #16403
@runcom from what you pasted it looks to me more like everything that needs a build is failing.

possibly related to https://bugzilla.redhat.com/show_bug.cgi?id=1507424 ?

Have you looked at the logs for the failing builds?

[2017-10-30 14:27] runcom commented on #16403
I haven't yet, but could be definitely related to that BZ

[2017-10-30 17:46] osamahassan245 commented on #17047
i got same issue , i tried to create application using tomcat 8 , and try to build source code that exist in this path
[](https://github.com/osamahassan245/samplepp)

i got build error , when tried to check the log , got this log

[2017-10-30 18:13] liggitt commented on #12425
essential items completed

[2017-10-30 18:13] #12425 closed

[2017-10-30 18:29] dmage commented on #16816
Not sure if it's the same problem (scroll right):
[code]
Seen there: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17089/test_pull_request_origin_extended_conformance_gce/10611/#k8sio-projected-should-provide-node-allocatable-memory-as-default-memory-limit-if-the-limit-is-not-set-conformance-volume-suiteopenshiftconformanceparallel-suitek8s

[2017-10-30 18:45] Artod commented on #17047
Same problem on starter-ca-central-1.openshift.com

[2017-10-30 19:49] benjaminapetersen commented on #16862
History:
- issue #14411
- PR #14510,
- PR #15241

[2017-10-30 20:20] ironcladlou commented on #17085
Pretty sure this is from a race condition in the garbage collector related to the spotty support for cluster scoped owner references. If the owner is cluster scoped and the dependent is namespaced, and if the GC happens to observe and process the dependent before the owner, [a virtual node](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/graph_builder.go#L377)

[2017-10-30 20:59] caesarxuchao commented on #17085
The analysis sounds right. I think we can make two improvements:
1. restmapper knows if a resource is scoped or not, so the virtual node creation could use that as a reference.
2. restmapper could be stale, so if the GC got 404 from the apiserver for a virtual node, it could retry the GET as a cluster scope object.

[2017-10-30 21:04] karmab commented on #16860
any updates ? also saw similar behaviour when testing and old version of istio(0.1.6)

[2017-10-30 21:16] RHodzelmans commented on #16860
Indeed I see a similar issue with:

oc v3.6.173.0.21
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server <hidden, but on AWS>
openshift v3.6.173.0.49
kubernetes v1.6.1+5115d708d7

[2017-10-30 21:49] twhiston commented on #17074
sure thing!
[code]

[2017-10-30 21:52] bparees commented on #17074
your build is outputting to:

[code]

that doesn't match your ICT:
[code]

or the input image for your build:
[code]

[2017-10-30 22:03] #16862 closed

[2017-10-30 22:12] xman-berlin commented on #15951
Finally, I installed minishift and everything works as expected.

[2017-10-31 02:40] enj commented on #16862
@benjaminapetersen please open an origin PR for 3.8 to gut all the system-only stuff.

[2017-10-31 07:26] xiaods commented on #17086
what reason for the conflict sync? anyone can explain it workflow asap.

[2017-10-31 08:02] eliu opened #17100 "How to upgrade from v3.6.0 to v3.6.1"
I use openshift ansible playbooks to install OpenShift Origin cluster according to instructions for Advanced Installation.

I need suggestions for upgrading from v3.6.0 to v3.6.1

Thanks in advance.

##### Version

[code]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Current Result
Can't find an effective way to upgrade to v3.6.0

##### Expected Result
An effective method to provide for

[2017-10-31 08:14] eliu opened #17101 "The container sidecar did not stop cleanly when terminated (exit code 137)"
Every time we do scale up/down or re-deploy on DeploymentConfig and we've got this error:

**The container sidecar did not stop cleanly when terminated (exit code 137)**

##### Version

[code]

##### Steps To Reproduce
1. Go to `Overview` and expand a DeploymentConfig
2. Scale up or down the pod respectively

##### Current Result
The container sidecar did not stop cleanly when terminated (exit cod

[2017-10-31 08:32] xiaods commented on #17101
your dc config need provide.

[2017-10-31 10:32] eliu commented on #17101
[code]

[2017-10-31 10:34] twhiston commented on #17074
ah that is because i 'anonymised' the original output so those values could be replaced with whatever build config (as the issue seems to happen for me regardless of the root config that i am using, i tried it with a few source/docker based repos). Sorry, i wish it were a problem that simple! I've attached the full real configs, minus anything secret to this post for clarity. My apologies for intr

[2017-10-31 13:04] pweil- commented on #17100
Please review the upgrade documentation here: https://docs.openshift.com/container-platform/3.6/install_config/upgrading/automated_upgrades.html#upgrading-to-ocp-3-6

If you are having a specific issue feel free to open a new issue.  Thanks!

[2017-10-31 13:04] #17100 closed

[2017-10-31 13:13] pweil- commented on #17101
@eliu when a pod is terminated containers are first sent a TERM and then a grace period is started.  Once the grace period is over a KILL signal is sent if the container hasn't stopped.  I cannot tell from your DC what the `sidecar` container is actually doing but I would try investigating that angle and see if perhaps it just isn't responding to the TERM.

For more information on termination of p

[2017-10-31 13:13] #17101 closed

[2017-10-31 13:39] adelton commented on #13336
@xiaoping378: after it fails, try to run `docker logs origin` to get the full logs of the failed `origin` container. For me it says

[code]

so it looks like there is some issue with passing the correct arguments around. But I'm trying it with OSE 3.7-to-be.

[2017-10-31 13:40] adelton commented on #13336
Of course, that `Using 127.0.0.1 as the server IP` also looks suspicious -- I would hope to see the IP address of the master there.

[2017-10-31 13:43] kincl commented on #17025
@alezzandro @knobunc  I was having the same issue and was able to get HAProxy stats by removing the `ROUTER_LISTEN_ADDR` and `ROUTER_METRICS_TYPE` environment variables from the DeploymentConfig for the router. These were the two environment variables that existed in a fresh 3.6 install and did not exist in my cluster that I upgraded to 3.6 from 1.5.

[2017-10-31 13:45] slaskawi opened #17103 "oc cluster up reports "getsockopt: connection refused""
When running `oc cluster up --service-catalog` (it also happens without `--service-catalog`), I got the following error:

[code]

Logs from the server might be found here: https://gist.github.com/slaskawi/ba7d3f11228c4e0aec964fb43a9ad092

##### Version

[code]

##### Additional Information
It is worth to mention that this happen on a pretty slow CI. It's pretty hard to tell since all our servers i

[2017-10-31 13:46] tnozicka commented on #16870
It has been confirmed to be caused by https://github.com/openshift/origin/issues/17011 which is now fixed

[2017-10-31 13:46] #16870 closed

[2017-10-31 13:47] tnozicka commented on #16929
It has been confirmed to be caused by https://github.com/openshift/origin/issues/17011 which is now fixed

[2017-10-31 13:47] #16929 closed

[2017-10-31 14:27] bparees commented on #17074
@csrwng if non-default ICTs are really broken, it's a blocker, we need to understand if this is user error or not.

[2017-10-31 14:53] pmorie commented on #15897
This should be fixed now; @charliejllewellyn please re-open if you can recreate this.

[2017-10-31 14:53] #15897 closed

[2017-10-31 14:54] pmorie commented on #16515
This should be fixed now that #17075 has merged.  @ncameronbritt can you reopen this if you still see this behavior?

[2017-10-31 14:54] #16515 closed

[2017-10-31 14:54] pmorie commented on #16936
This should be fixed now that #17075 has merged. @ncameronbritt can you reopen this if you still see this behavior?

[2017-10-31 14:54] #16936 closed

[2017-10-31 14:55] pmorie commented on #14628
I think this should be fixed now; @bparees please reopen if you can recreate this (or open a new bug, since this one is ancient).

[2017-10-31 14:55] #14628 closed

[2017-10-31 14:55] adelton commented on #13336
I've now retried with OpenShift Origin v3.6.1, on RHEL.

On the master:

[code]

The `node-boostrapper` file contains

[code]

I've copied that file to second RHEL machine on which I plan to run `oc cluster join`.

On the second machine:

[code]

So I believe the problem is that `oc cluster join` is using the `127.0.0.1` IP address, instead of connecting to the master.

I have even tried to use

[

[2017-10-31 14:55] spadgett commented on #16515
I've also verified the fix. @ncameronbritt You'll need to pull the latest openshift/origin-service-catalog image when you cluster up to test.

[2017-10-31 15:21] danwinship commented on #13108
Hm... found an instance of this flake in a recent test_branch_origin_extended_conformance_gce:

    STEP: verifying the node port is locked
    Oct 25 16:44:20.632: INFO: Running '/data/src/github.com/openshift/origin/_output/local/bin/linux/amd64/kubectl --server=https://internal-api.prtest-3c63a87-1798.origin-ci-int-gce.dev.rhcloud.com:8443 --kubeconfig=/tmp/cluster-admin.kubeconfig exec --names

[2017-10-31 15:25] runcom commented on #16403
@pmorie could you help us on the templateservicebroker tests failure?

[2017-10-31 15:42] danwinship commented on #14385
OK, in https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_networking/1051/, the test fails, and we see that the expected iptables rules for the service don't exist. In fact, weirdly, there is no rule at all for the service (neither a functioning redirect rule nor a "no endpoints -> -j REJECT" rule).

From the node-1 logs:

    I1028 00:18:55.658300     29

[2017-10-31 16:52] jim-minter commented on #17074
`I1031 16:41:53.930912    8946 rbac.go:116] RBAC DENY: user "system:serviceaccount:openshift-infra:image-trigger-controller" groups ["system:serviceaccounts" "system:serviceaccounts:openshift-infra" "system:authenticated"] cannot "create" resource "builds.build.openshift.io/custom" named "chained" in namespace "demo"`

[2017-10-31 18:11] bdshadow commented on #13864
@fabianofranz  i'm still able to reproduce this issue. And we still have this problem in JBoss Tools. Here are the detailed exact steps.

1.  Download `openshift-origin-client-tools-v3.6.1-008f2d5-windows.zip` from https://github.com/openshift/origin/releases/tag/v3.6.1
2. Unpack the dowloaded zip, copy it to `C:\DevelopmentSuite\cdk\bin`

All next steps run in cygwin

3.  `cd` to `C:\DevelopmentS

[2017-10-31 18:35] osamahassan245 commented on #17047
issue solved , i tried to use " Red Hat JBoss Web Server 3.1 Tomcat 8 1.0 " , it's working fine now

[2017-10-31 20:06] DirectXMan12 commented on #16498
oh dear, sorry for the delay in seeing this.  I think we just want the ability to control Prometheus collection rates based on workload types, etc, perhaps.  Heapster has a fixed collection interval (we run at 30s), but with Heapster being deprecated, I think we need a Prometheus-based solution.  I'll add it to my card on Prometheus collection: https://trello.com/c/aF2o4XYK/786-13-autoscaling-abil

[2017-10-31 20:15] DirectXMan12 commented on #15097
I believe the `up` metric is automatically injected by Prometheus to describe Prometheus scraping jobs.  It's not a metric provided by the Kubelet.  Therefore, it will tell you if your entire node is unreachable by Prometheus, but nothing more than that.

I think this isn't a bug, per se, just a case of needing better documentation (and perhaps a metric that shows ready vs not-ready).

[2017-10-31 20:50] karmab opened #17118 "How to enable Initializers?"
##### Version
oc v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f

##### Steps To Reproduce
1. deploy openshift
2. try to make use of the initializers functionality

##### Current Result
should work

##### Expected Result
doesnt work

##### Additional Informat

[2017-10-31 20:56] ironcladlou commented on #17085
Don't have time to get the k8s issue ready today, but I started work on two pieces which elaborate on the problematic behaviors:

* A [unit test](https://github.com/ironcladlou/kubernetes/blob/cluster-scoped-owner-gc-fix/pkg/controller/garbagecollector/garbagecollector_test.go#L675) which demonstrates some problematic cases
* An [integration test](https://github.com/ironcladlou/kubernetes/blob/clu

[2017-10-31 21:52] fabianofranz commented on #13864
Thanks @bdshadow for the detailed steps, working on it.

[2017-10-31 22:19] xqianwang opened #17122 "Cannot configure azure in existing openshift cluster."
[provide a description of the issue]
As instruction in https://docs.openshift.org/latest/install_config/configuring_azure.html, after restarting origin-master-api and origin-node service( for masters), origin-node service(for nodes), it failed to get external ID, error: instance not found. And the node unregistered from cluster which means it is deleted from openshift cluster.
##### Version
[provi

[2017-10-31 23:11] #16902 closed

[2017-11-01 00:13] coreydaley commented on #16470
@bparees from what I can tell, this has already been done in https://github.com/openshift/origin/pull/16595 (possibly others also, but I tracked this one down).

Running `grep -r "origin\/pkg\/client" *` in  ~/go/src/github.com/openshift/origin/pkg returns zero results.

Can you please confirm and I'll close this one and move on to the next.

[2017-11-01 01:18] fengbeihong opened #17123 "Error adding network for calico cni plugin"
[provide a description of the issue]

Calico failed to add network to pod with the specific version in openshift-ansible 3.6.0

##### Version
[provide output of the `openshift version` or `oc version` command]
[code]

##### Steps To Reproduce
1. Configure openshift to use calico while installation

[code]
2. After installation complete, download file `https://github.com/openshift/origin/blob/maste

[2017-11-01 01:36] bparees commented on #16470
@mfojtik opened the issue, he can confirm/deny whether something still needs to be done.

[2017-11-01 03:17] smarterclayton opened #17125 "When nodes are recreated with bootstrapping on GCP (and others?) nodes lose SDN network configuration"
1. Create a cluster using golden images on GCP, with nodes in an autoscaling managed group
2. Create pods on both masters and nodes:

[code]

3. Delete the nodes from GCP (which triggers a node object deletion, and then new instances are recreated with the same names)
4. Observe that nodes get new subnets

[code]

BUG: Pods that were previously assigned to those nodes get recreated, BUT they have

[2017-11-01 07:02] xiaods opened #17126 "need some clarify for developer workflow."
i follow the HACK.md to do some development, i found it build period is long time on build rpm. so i use hack/build-local-image.py to quick setup the openshift cluster environment.

##### Version

[code]

##### Steps To Reproduce
1. make
2. ./hack/build-local-images.py

##### Current Result

i fount many more untag images in my local docker storage.
<img width="725" alt="2017-11-01 2 57 46" src="h

[2017-11-01 07:26] xiaods commented on #14184
any process on it.

[2017-11-01 07:50] xiaods commented on #14184
for developer purpose, we can use hostPath provisioner to resolve it.

https://github.com/kubernetes-incubator/external-storage/blob/master/docs/demo/hostpath-provisioner/README.md

[2017-11-01 08:51] xiaods commented on #17065
Maybe:
https://wiki.centos.org/SpecialInterestGroup/PaaS/OpenShift-Origin-Support

[2017-11-01 09:59] xiaods commented on #13599
any update.

[2017-11-01 10:43] mfojtik commented on #16470
@bparees this was plumbed already and I don't think there is something left to be done here.

[2017-11-01 10:43] #16470 closed

[2017-11-01 10:55] miminar commented on #17038
Addressed by openshift/openshift-docs#6077

The hard pruning is present in origin release 3.6 so the section needs to be removed just from the 1.4 and 1.5 releases.

[2017-11-01 11:04] kargakis opened #17128 "oc rollout history should show me the images that each revision run"
Upstream issue: https://github.com/kubernetes/kubernetes/issues/54932

We need to do this for DCs, too

/sig master
/area apps

cc: @tnozicka @mfojtik

[2017-11-01 11:04] kargakis commented on #17128
Today:
[code]

[2017-11-01 11:20] xiaods commented on #17103
not found in local dev env.

[2017-11-01 11:41] LarsMilland commented on #17086
@smunilla could you give an indication on ETA of the OpenShift Origin 3.6.1 RPM images to the Centos repositories, before going all in on designing a fully consistent release process. We are looking for a way forward towards the upcoming 3.7.0 release, and would very much like to start with an upgrade to the 3.6.1 release first - with the Ansible installer picking up the binaries from where it pic

[2017-11-01 12:02] king-frog opened #17129 "The configuration of a nginx router, how to use this nginx-router？"
I used the default is a haproxy router, and used in all projects, now a new nginx-router, according to the documentation, the use of NAMESPACE_LEABELS, but the new project in the new namespace still use the old haproxy as router, was I wrong?

##### Version
oc v1.5.1
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1.
oadm router nginx-router --servic

[2017-11-01 13:09] miminar commented on #17038
The hard pruning section will be removed on next doc rebuild. Closing this now.

[2017-11-01 13:09] #17038 closed

[2017-11-01 13:33] mfojtik commented on #16955
@smarterclayton this was because the job controller got wild, right? this was fixed and @derekwaynecarr have PR open upstream for generic quota.

[2017-11-01 13:34] mfojtik commented on #16819
@kargakis moving this off the blocker list, seems like master to master works for me.

[2017-11-01 13:43] csrwng commented on #16995
Given that the latest oc client works with latest, 3.7.0-rc.0 and 3.6.0, I am closing this issue as resolved. The current oc client itself is not compatible with versions older than 3.6 because of the switch to API groups.

[2017-11-01 13:43] #16995 closed

[2017-11-01 14:01] ironcladlou commented on #17085
xref https://github.com/kubernetes/kubernetes/issues/54940

[2017-11-01 14:23] spadgett opened #17130 "Can't create owner ref to service catalog resource with blockOwnerDeletion: true"
I'd like to create an owner ref from a secret to a service catalog service instance with `blockOwnerDeletion: true` so that it gets garbage collected when the instance is deleted (if not in 3.7, in a future release where that works). I see a 403 error trying to create the secret, however.

If I use `blockOwnerDeletion: false`, there are no errors.

[code]

Here is the POST request body:

[code]

c

[2017-11-01 14:31] liggitt commented on #16087
A user cannot be added to an existing SCC with just a manifest today.

Currently, the only way to grant access to an SCC using a manifest is to define a new SCC containing only the desired user and create it via a manifest.

[2017-11-01 14:31] #16087 closed

[2017-11-01 14:42] edevyatkin commented on #17047
The issue is still actual on starter-us-east-1.openshift.com

[2017-11-01 14:57] stevekuznetsov commented on #16498
Currently our workaround for not having some of these metrics is running pods like:

[code]

[2017-11-01 15:53] smarterclayton commented on #16498
I need to go back and look at why termination log can't be written to by
pre-stop.

On Wed, Nov 1, 2017 at 10:57 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-11-01 15:55] smarterclayton commented on #16955
No, this was mostly because of garbage created by authorization.

On Wed, Nov 1, 2017 at 9:33 AM, Michal Fojtik <notifications@github.com>
wrote:

[2017-11-01 16:03] php-coder commented on #17126
CC @stevekuznetsov

[2017-11-01 16:59] danwinship commented on #17125
I think you misread? Assuming the one with `-m-` in the name is the master, it has `172.16.6.0/23` both before and after

[2017-11-01 17:19] stevekuznetsov commented on #17126
@bparees isn't this the known downside of the local build script? You add the binary over and over again and retag, so you get a lot of storage used.

[2017-11-01 17:25] bparees commented on #17126
@stevekuznetsov that's a separate issue.  What @xiaods is concerned with is the fact that when we create a new "latest" image, the old image is left around (but with no tag).  That's typical docker behavior (build a new image, any old image with that tag becomes an untagged image).

The recommended solution is to clean up untagged images, e.g.:
`docker images | grep "<none>" | awk '{print $3}' | x

[2017-11-01 17:25] #17126 closed

[2017-11-01 19:27] smarterclayton commented on #17125
You're right, too many 6's and 4's and 2's

[2017-11-01 19:36] internetrush1 commented on #16193
+1 for the oc create serviceaccount pv-recycler-controller -n openshift-infra resolving the issue... OpenShift Project as a whole seems pretty buggy... Also had missing directions on NFS PV create to CHMOD it before using it.

[2017-11-01 20:50] joost-van-weenen commented on #9497
I am experiencing the same behavior. Starting builds from console works, the generic also works. When the github hook is triggered openshift comes back with 200 and empty body but nothing happens.

[2017-11-01 21:17] bparees commented on #9497
@joost-van-weenen please open a new issue and provide:

* openshift version information
* buildconfig definition
* the name of the branch you are pushing changes to in github
* also if you can run your apiserver/master with loglevel 4 and gather those logs after the event, we can probably see what is happening when the webhook event comes in.

The most likely cause is that the push event branch do

[2017-11-02 00:57] enj opened #17136 "GSSAPI extended tests broken due to error type loss"
#17073 broke the types of errors returned from `pkg/oc/cli/cmd/login/loginoptions.go`.  This breaks how `pkg/oc/cli/cmd/login/login.go` handles unauthorized errors.

[code]

[2017-11-02 01:59] smarterclayton opened #17139 "Why does the RPM build take so long?"
Currently, full RPM build (linux/amd64 only) takes about 20 minutes.

Of that time, steps are:

1. create source tar (tito -> rpm) (~30s)
2. unpack source tar to temp location (~15s depending on IO)
3. run a full clean build-cross
    1. runs static binaries for images (3-4m?)
    2. runs non-static binaries for main projects: openshift, oc, kubefed, templateservicebroker (5-6m)
    3. build relea

[2017-11-02 01:59] smarterclayton commented on #17139
@stevekuznetsov

[2017-11-02 02:08] smarterclayton commented on #17139
I confirmed that CGO_ENABLED on/off causes the entire package dir to be regenerated.  We should avoid compiling anything that touches a large percentage of the code tree as CGO_ENABLED=0, and then also use a separate pkg dir for cgo enabled.

[2017-11-02 02:13] smarterclayton commented on #17139
Fixing the CGO part in #17140

[2017-11-02 02:30] smarterclayton commented on #17139
Extracted release tar creation in #17141

[2017-11-02 05:41] xiaods commented on #17126
@bparees thanks all.

[2017-11-02 05:44] xiaods commented on #17139
@smarterclayton col

[2017-11-02 06:48] xiaods opened #17142 "howto do correctly unit test base on mac environment"
make test or ./hack/test-go.sh is not working on my case. anyone can help me which steps is suite way. thanks .

[2017-11-02 07:56] xiaods commented on #17142
fixed by #16507

[2017-11-02 07:56] #17142 closed

[2017-11-02 09:26] slaskawi commented on #17103
@xiaods Works on my local dev box also. The thing is that it seems not to work correctly in a constrained environment.

[2017-11-02 09:31] ccll opened #17144 "Unable to deploy 'kubeless' functions in v3.7.0 cluster"
[Kubeless](https://github.com/kubeless/kubeless) is a serverless function framework targeting Kubernetes (and Openshift).
It's latest version v0.2.3 uses CustomResourceDefinition (CRD) so support for Openshift v3.6 (with Kubernetes 1.6) is dropped for a while.
With Openshift v3.7.0 which has CRD, the support for Openshift could be added back.
I've tried both Openshift v3.7.0-alpha.1 and v3.7.0-rc.

[2017-11-02 10:12] king-frog commented on #17129
@php-coder  This problem has been resolved, because the oenshift version is too low, upgrade to the latest .It's OK   tks

[2017-11-02 10:13] #17129 closed

[2017-11-02 10:24] karmab commented on #17118
tried with the following snippet but with no luck ( server did start though)

[code]

[2017-11-02 10:27] karmab commented on #17144
could this be similar to https://github.com/openshift/origin/issues/16860 ?
run oc get crd to confirm ....

[2017-11-02 10:31] ccll commented on #17144
@karmab Here is the CRD.
[code]

[2017-11-02 10:53] xiaods opened #17145 "come across mount error"
origin can't start the jenkins pod on openshift.

##### Version
[code]
##### Steps To Reproduce
1. hack/env make release,  ./hack/build-local-images.sh
2. sent persistent jenkins template to myproject:
<img width="1190" alt="2017-11-02 6 42 51" src="https://user-images.githubusercontent.com/37678/32322292-02f4a816-bf92-11e7-8e11-1e5cfda4b5f1.png">

##### Current Result
can't work to start the pod

[2017-11-02 10:58] soltysh commented on #12672
The same problem applies to `oc set env`, it doesn't work with CronJobs.

[2017-11-02 13:20] bparees commented on #13014
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/265/testReport/junit/(root)/Extended/_Feature_Builds__Conformance__oc_new_app__should_succeed_with_a___name_of_58_characters__Suite_openshift_conformance_parallel_/

[code]

@jim-minter is this the issue you addressed (race condition in systemd and docker?)

[2017-11-02 15:29] stevekuznetsov commented on #17139
The other side of this was the flag that Cesar added to just allow us to package pre-built binaries into an RPM in the specifle. Fixing these doesn't seem awful but at the same time the other approach seems easier?

[2017-11-02 16:09] smarterclayton opened #17150 "Login message not shown when login redirects"
[code]

Should have printed the warning.  Regression @openshift/sig-security

[2017-11-02 16:13] enj commented on #17150
Duplicate of #17136 being fixed in #17138

@juanvallejo please confirm and add a test.

[2017-11-02 16:49] galderz commented on #16771
@xiaods Mind spilling the beans? ;)

[2017-11-02 17:14] karmab commented on #17118
hello i finally found the correct segment, and noticed they are enabled on latest origin (tested on v3.7.0-rc.0-e92d5c5 )

admissionConfig:
  pluginConfig:
    GenericAdmissionWebhook:
      configuration:
        apiVersion: v1
        disable: false
        kind: DefaultAdmissionConfig
      location: ""

kubernetesMasterConfig:
  admissionConfig:
    pluginConfig: null
  apiLevels: null
  apiSe

[2017-11-02 17:14] #17118 closed

[2017-11-02 17:19] ironcladlou commented on #17085
xref https://bugzilla.redhat.com/show_bug.cgi?id=1509022

[2017-11-02 17:33] danwinship commented on #17125
Yes, *if* the pod's containers stay running. Eg, if I run a pod on a node, stop atomic-openshift-node, delete its Node object, and then start atomic-openshift-node again, then the node will get assigned a new HostSubnet but the pod will keep running with its old IP, as above. (Which is kinda weird... Shouldn't the master mark the Pod as Failed if its node gets deleted?)

But if I throw in a "syste

[2017-11-02 17:40] DirectXMan12 commented on #16498
cc @derekwaynecarr re your complaint about `max_usage_in_bytes`

[2017-11-02 18:22] jwforres commented on #13907
Don't need to track this twice, closing in favor of bugzilla

[2017-11-02 18:22] #13907 closed

[2017-11-02 18:49] liggitt commented on #3498
not sure... if it were easy we would have done it earlier :)

options that immediately come to mind:
* modify the controllers to exit on persistent 401s, and the controller manager to restart them (large, lots of upstream changes)
* modify the clientbuilder to create clients for the controllers that embed the ability to fetch a new credential when a persistent 401 is encountered (would likely invo

[2017-11-02 18:53] Evgeniy-Bondarenko opened #17154 "Router | Unhealthy | Liveness probe failed"
##### Version
$ oc version
oc v1.3.0
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v1.3.0
kubernetes v1.3.0+52492b4

##### Steps To Reproduce

I have cluster 1 master and 2 nodes. Worked is fine 1 year, but on last week we have many restart (every hour/10 minutes). On router node2 (over node doing all traffic) - we have this log. If swith traffic (via public dns)

[2017-11-02 19:01] csrwng commented on #16162
Closing due to age. Please reopen if it's still an issue.

[2017-11-02 19:01] #16162 closed

[2017-11-02 19:25] elyscape opened #17156 "Router: Provide support for regular-expression route paths"
I have [a custom router][origin-router-regexp] based on the default HAProxy-based router that provides regular expression-based path routing. Unfortunately, as described in elyscape/origin-router-regexp#1, #12580 (which was first shipped in v1.5.0-rc3) changed the way that ports are handled. Instead of stripping them entirely, the request's base URI is matched against (in most cases) the output of

[2017-11-02 20:07] smarterclayton commented on #17125
The nodes and their disks are deleted.  Another theory is that it happens
fast enough that the node controller doesn’t evict those pods.  I can set
up a recreate tomorrow

On Nov 2, 2017, at 1:34 PM, Dan Winship <notifications@github.com> wrote:

This can probably happen even on an existing OpenShift cluster - if you
stop an instance and delete the node object, and on start it comes back up
and an

[2017-11-02 20:12] smarterclayton commented on #17125
Another possibility - sdnncontroller notices the node is dead and deletes
and recreates the hostsubnet.  But the new node sees the old version of the
subnet before it is refreshed.

On Nov 2, 2017, at 1:34 PM, Dan Winship <notifications@github.com> wrote:

This can probably happen even on an existing OpenShift cluster - if you
stop an instance and delete the node object, and on start it comes back

[2017-11-02 20:20] dsfranzi opened #17157 "StatefulSet pulls image from docker hub instead of internal registry"
I'm using Kubernetes 1.5 in OpenShift.
I pushed all my customized docker images to OpenShift's internal registry. When using a DeploymentConfig, everything works fine, kubernetes pulls the right image.

When using a StatefulSet, Kubernetes won't find my docker image in the internal registry and instead pulls an image from docker hub.

My StatefulSet:

[code]

It would work when i put the internal

[2017-11-02 20:57] pweil- commented on #17103
@mfojtik in the spirit of making sure that the `cluster-up` work is distributed to the right owners I'm throwing this your way.  `cluster-up` encompasses all components of the cluster and is getting too much for one person to handle.

This looks like a timeout waiting on master to start perhaps.

/cc @csrwng

[2017-11-02 21:01] pweil- commented on #17128
@kargakis was /area supposed to add the component label?

[2017-11-02 21:03] pmorie opened #17158 "There should be a role that allows working with ClusterServiceBroker"
Currently, there's no `ClusterRole` that the installer or oc cluster up create that grants a user the ability to work with `ClusterServiceBroker`.  We should have this so that administrators can grant individual users this ability without giving them admin over the entire cluster.

[2017-11-02 21:06] kargakis commented on #17128
No, it only adds `area/*` labels.

[2017-11-02 21:07] smarterclayton opened #17159 "If an aggregated API server is down, kubectl may take up to 10 minutes to retrieve server resources"
Scenario:

1. Aggregated API is down
2. Try to run kubectl
3. Kubectl tries to discover down API
4. Kubectl hangs until i/o timeout

Solution, do not fail this way.

[2017-11-02 21:07] smarterclayton commented on #17159
This is must fix for shipping aggregated apis - this wedged me while trying to debug a cluster @openshift/sig-master

[2017-11-02 21:08] kargakis commented on #17128
I have been labeling stuff across a bunch of different repos so my command usage ironically is a bad example.

[2017-11-02 21:12] stevekuznetsov commented on #17159
<details>
<summary>max log level on oc call</summary>

[code]

</details>

[2017-11-02 21:12] stevekuznetsov commented on #17159
/cc @deads2k @sttts

[2017-11-02 21:41] csrwng commented on #17103
@slaskawi what do you mean by constrained environment? Is this inside a vm? can you include hardware/OS details ?

[2017-11-02 21:44] smarterclayton commented on #17159
Was metrics server, which was down because it was on a node with no network connectivity.

[2017-11-02 22:18] stevekuznetsov opened #17162 "networking: missing route after failed upgrade took down entire cluster"
During an upgrade of our CI cluster from Origin 3.7.0-alpha.0 to -rc.0 we were missing this route:

[code]

This meant that there was no node-to-node connectivity and no pod-to-service connectivity, which rendered the cluster useless.

We have this in our master config

[code]

Here are other related infos:

[code]

[code]

I had restarted, in order:

[code]

This did not help. Here are node start

[2017-11-02 22:22] hansmi opened #17163 ""oc export -o wide …" panics"
Running `oc export -o wide` with any resource type panics in `pkg/cmd/cli/cmd/export.go`.

##### Version
[code]

Also reproduced on Origin 1.5.1 and OpenShift Container Platform 3.6.173.0.5.

##### Steps To Reproduce
1. `oc export -o wide pod`

##### Current Result
[code]

##### Expected Result
A human-readable error message, i.e. `error: output format "wide" not supported`.

[2017-11-02 22:24] stevekuznetsov commented on #17163
/kind bug
/sig cli
/assign @juanvallejo

[2017-11-03 02:18] xiaods commented on #17139
performance is king, in my development cycle, it very important for me.

[2017-11-03 02:52] xiaods commented on #16771
@galderz sorry for the late response. keep your docker version is stable version.
then have a try again with upstream oc. i  use docker for mac version. not for your docker version 1.13

[2017-11-03 05:32] xiaods commented on #17163
upstream is works.

[code]

[2017-11-03 05:40] xiaods commented on #17145
it working for upstream codebase today.

[code]

[2017-11-03 05:41] #17145 closed

[2017-11-03 05:59] adalga opened #17164 "chown operation not permitted"
Hi,

I am trying to deploy oficial mongodb image from docker hub through openshift container platform. When I mount the "/data/db" to persistent volume claim I got an error like
"chown: changing ownership of '/data/db': Operation not permitted".

I tried to give anyuid policy to service account.However it doesn't work.

my openshift version is 3.5.5.26 and kubernetes is 1.5.2+

I also tried to use

[2017-11-03 06:34] xiaods commented on #17164
https://developers.redhat.com/blog/2017/10/26/configure-persistent-storage-openshift-kubernetes-development-environment/

you can try create pv first.

[2017-11-03 06:43] akd31 commented on #17164
I already have created pv. I don't get what do you mean.

[2017-11-03 06:50] gbraad opened #17165 "Ingress IP Self-Service documentation results in a 404"
Missing target for link related to Ingress IP Self-Service

##### Additional Information
https://docs.openshift.org/latest/minishift/openshift/exposing-services.html links to a non-existent link https://docs.openshift.org/latest/dev_guide/getting_traffic_into_cluster.html#using-ingress-IP-self-service

Related issue; https://github.com/minishift/minishift/issues/1651

[2017-11-03 07:02] dsfranzi commented on #17157
FYI, i posted this issue at kubernetes first and they think it's an OpenShift issue:
https://github.com/kubernetes/kubernetes/issues/55003

[2017-11-03 07:35] sttts commented on #17159
Ouch.

[2017-11-03 08:01] slaskawi commented on #17103
@csrwng Sure! It's one of our internal RH VMs (hosted on OpenStack) with 4 GB of RAM with 2 vCPUs. If you asked me offline I can grant you access to it.

[2017-11-03 11:32] sttts commented on #17159
Do we know which discovery endpoint blocked? I would guess one of the /group/version/serverresources.json ?

[2017-11-03 12:13] exquisitus opened #17167 "example prometheus.yaml"
Deploying example prometheus.yaml from master branch on openshift 3.6 fails. (actually I could deploy the example from the 3.6 branch -- unfortunately, that example does not deploy the alert manager)

##### Version
-bash-4.2$ oc version
oc v3.6.173.0.21
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.6.173.0.5
kubernetes v1.6.1+5

[2017-11-03 12:27] xiaods commented on #17164
https://github.com/openshift/openshift-docs/pull/868/files

[2017-11-03 12:28] xiaods commented on #17164
https://github.com/openshift/origin/issues/9131

[2017-11-03 12:28] xiaods commented on #17164
oadm policy add-scc-to-user anyuid -z default

[2017-11-03 12:52] AvTiMp opened #17168 "ref v1.Image.dockerImageSignatures can not be found in swagger json file"
https://raw.githubusercontent.com/openshift/origin/release-3.6/api/swagger-spec/oapi-v1.json
definitions in this file contains a ref named "v1.Image.dockerImageSignatures" which can't be resolved

##### Version
origin 3.6

##### Steps To Reproduce
1. just search v1.Image.dockerImageSignatures in [oapi-v1.json](https://raw.githubusercontent.com/openshift/origin/release-3.6/api/swagger-spec/oapi-v1.

[2017-11-03 12:54] xiaods commented on #17167
use upstream 3.7, it work like a charm.  but i can't don't know howto access the page.

[code]

[2017-11-03 13:03] deads2k commented on #17159
For kubectl, I think we try to solve the "slow apiserver problem" client-side with dialer timeouts and tls connection timeouts.  In the aggregator, I don't think we set an explicit timeout and expect clients to decide when to give up.

Once the last endpoint is removed the status controller will pull that APIService out of rotation, but a dangling, bad endpoint could still wedge.

Do you want the

[2017-11-03 13:25] deads2k commented on #17159
`kubectl` can't tell the difference between this and a slow API server.  I'll see if I can find a timeout on the discovery request code.  It'll be smaller than other options.

[2017-11-03 13:28] sttts commented on #17159
If the metrics server service has had no running pod, why didn't the connect fail right away?

[2017-11-03 13:28] akd31 commented on #17164
I did that as I mentioned. It doesn't work.

[2017-11-03 13:29] sttts commented on #17159
I.e. either we have a retry loop somewhere or this sounds like a tcp problem.

[2017-11-03 13:31] csrwng commented on #12212
Closing this issue as won't fix. The engine client is still used upstream for the Docker CRI implementation. I don't see us moving off of it any time soon.

[2017-11-03 13:31] #12212 closed

[2017-11-03 13:58] karmab commented on #17144
i indeed believe the issue has to do with the format of the crd, functions.k8s.io, which openshift seems not to like

[2017-11-03 14:12] stevekuznetsov commented on #17162
Also to be clear this is what I saw when things were broken:

[code]

And this is what it looked like when things were fine:

[code]

[2017-11-03 14:13] csrwng commented on #11277
I can no longer rerpoduce this with oc from v3.6.0-rc.0 and Docker v17.09.0-ce on Windows 10. Closing. Please reopen if this is still an issue. Specifying a '--docker-machine' argument correctly connects to the given docker machine.

[2017-11-03 14:20] deads2k commented on #17159
Dial trying to route to an IP that didn't exist and some part of the networking stack didn't fail quickly?  The pod still shows as existing when the node dies so the endpoint is still listed.

[2017-11-03 14:43] dylanBehetre opened #17169 "Error when I whant run a build with as source an "images" input with a "git" input and as strategy, a dockerStrategy : "An error occurred while starting the build.an error on the server ("") has prevented the request from succeeding""
[provide a description of the issue]
Hello, I come here because i don't find any solution to my problem.

I try to retrieve a .war build by a gradle docker image in a precedently build to build an other docker image.
Therefore, after reading your documentation, I tried to use the "images" source in a build config with a docker strategy.

But I cannot run the build because an error occured : "An er

[2017-11-03 15:04] danwinship commented on #17162
Also, from when it was failing:
    # oc get clusternetwork default -o yaml
    apiVersion: v1
    hostsubnetlength: 9
    kind: ClusterNetwork
    metadata:
      creationTimestamp: 2017-08-30T15:04:52Z
      name: default
      resourceVersion: "11625282"
      selfLink: /oapi/v1/clusternetworks/default
      uid: 9378c7b9-8d94-11e7-a412-42010a800002
    network: 172.16.0.0/16
    pluginName: re

[2017-11-03 15:16] danwinship commented on #17162
I can't see how the master wouldn't fix this on startup... pkg/network/master/master.go:clusterNetworkChanged() returns true if `len(old.ClusterNetworks) != len(obj.ClusterNetworks)`. `old.ClusterNetworks` would be the ClusterNetwork record above, which has 0 ClusterNetworks, and `obj.ClusterNetworks` is the one constructed in Start(), which is guaranteed to have non-0 ClusterNetworks, so it shoul

[2017-11-03 15:52] smarterclayton commented on #17159
I'd like a discovery bypass flag or something in kubectl that allows you to not rely on discovery (i.e. bypass all the smarts).  The smarts are what broke this - kubectl delete apiservice should have worked without needing to get metrics discovery.

[2017-11-03 15:54] liggitt commented on #17159
`kubectl delete apiservice` requires discovery, right? there's no knowledge of which API group or version that is in otherwise

[2017-11-03 16:07] smarterclayton commented on #17159
But if you can discover an API group that has apiservice, i shouldn't have to block on discovering all other groups.

[2017-11-03 16:08] smarterclayton commented on #17159
Discovery needs to either be AP or CP, I think it needs to be AP because otherwise kuebctl dies.  Or it has a --skip-discovery or --best-effort-discovery which lets you opt into AP

[2017-11-03 16:14] liggitt commented on #17159
definitely agree with that

[2017-11-03 16:15] sttts commented on #17159
@liggitt didn't you have a lazy download PR for discovery?

[2017-11-03 16:18] liggitt commented on #17159
you're thinking of https://github.com/kubernetes/kubernetes/pull/53303 which was for specific run/create commands, not commands where we rely on the full discovery tree for resource resolution

[2017-11-03 16:33] liggitt commented on #14904
they are:
https://github.com/openshift/origin/blob/b65ef46f44bddefb67959123670f2f1b2d603adb/test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml#L1325-L1331

if you are upgrading from a previous release, you need to reconcile cluster roles to ensure default roles are up to date

[2017-11-03 16:38] feluxe commented on #14583
Any news on this? I have the same problem here.. I need to deploy a lot of idling low memory, low traffic containers. Some of them average on 5MB memory in production.

I would love to stick with *OpenShift Online*, since it's the most beautiful container platform I came across. But the *4-containers-per-gig-limit* kills it.

[2017-11-03 16:44] abhgupta commented on #14583
We are in the process of reducing the minimum pod/container memory requirements. Currently, the target is setting the minimum memory to 200Mi (should be done in a few days) and we will continue to test/experiment and reduce it further to 100Mi.

[2017-11-03 16:50] feluxe commented on #14583
If it's on 100Mi, I'm all in. You just made my day! :)

[2017-11-03 16:51] zonArt commented on #14904
@liggitt Hi, thanks for your reply, this was actually my initial thoughts and I did reconcile the cluster roles with no effect and that's exactly the whole point. I actually modified the edit role initially (removed the ability to create pvc) and when I did reconcile the role this ability came back (making me think the reconciliation worked just fine) however the apiGroups were still not set.

[2017-11-03 17:01] stevekuznetsov commented on #17159
@sttts @deads2k see full client logs in this comment: https://github.com/openshift/origin/issues/17159#issuecomment-341559718 (click to expand)

[2017-11-03 17:15] stevekuznetsov commented on #17162
We don't have logs from the restart unfortunately.

[2017-11-03 17:24] stevekuznetsov opened #17172 "signature_import_controller: log spam overwhelms master controller logs"
After upgrading to Origin 3.7.0-rc.0 we are seeing this spam in the logs from the master controllers:

[code]

The entire journal we have:

[code]

Of that,

[code]

This is 89% of all logging coming out of the controllers and means we have less than 24 hours of historical data for the logs before `journald` starts rotating us out.

/kind bug
/cc @mfojtik @smarterclayton @eparis

[2017-11-03 17:36] bparees commented on #16273
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17149/test_pull_request_origin_cmd/5602/

[2017-11-03 18:07] danwinship commented on #17162
Wait, that's not the output of a 3.7 master. Even if clusterNetworks wasn't set, the field is not marked optional/omitempty. So there should have been a line `clusterNetworks: []` there. Eg:

    danw@w541:origin (master)> cat /tmp/testing-clusternetwork.yaml
    apiVersion: v1
    kind: ClusterNetwork
    metadata:
      name: testing
    network: 10.128.0.0/14
    hostsubnetlength: 9
    service

[2017-11-03 18:15] danwinship commented on #17162
well, 3.7.0-rc.0 nodes against a 3.7.0-alpha.0 master anyway. The multi-clusterNetworks stuff happened between alpha.1 and rc.0

[2017-11-03 18:27] bparees opened #17177 "Secrets should be consumable from pods in volume as non-root with defaultMode and fsGroup set"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17149/test_pull_request_origin_extended_conformance_gce/10852/

[code]

[2017-11-03 18:32] sttts commented on #17159
@stevekuznetsov thanks for the logs. Next to @smarterclayton suggestion to have a ignore-discovery option, I still think https://github.com/openshift/origin/issues/17159#issuecomment-341716620 is the main issue: why didn't the Dial fail quickly? Do we have a test cluster to check what happens to a tcp connection attempt from the master to a just failed pod IP?

[2017-11-03 19:04] smarterclayton commented on #17159
Dial failed because packets from the aggregator to that pod were being
blackholed - in that case only dial timeout matters until the OS gives up.

On Fri, Nov 3, 2017 at 2:32 PM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2017-11-03 19:55] smarterclayton commented on #17162
The master config is upgraded in place.  Old clusters won't necessarily
have the new fields in master-config.  A cluster upgrade step has to set
each net new field

On Fri, Nov 3, 2017 at 2:15 PM, Dan Winship <notifications@github.com>
wrote:

[2017-11-03 19:57] fabianofranz commented on #13864
I followed exactly the steps provided but was still unable to reproduce the issue like specified.
[code]

It seems to me that according to the message you provided, the issue is much more related to the `rsync` binary not having permissions to the local directory than something related to `oc`. Could you make sure the `rync.exe` binary is in the path and that you can run some `rsync` command using

[2017-11-03 20:18] stevekuznetsov commented on #17162
@danwinship in case it's useful, current output:

[code]

[2017-11-03 21:04] lucastheisen commented on #14742
Possibly related to [this issue](https://github.com/openshift/openshift-ansible/issues/2494).  I am having similar problems, and am gonna try adding the `svc/kubernetes` IP address to the `NO_PROXY` to see if it helps...

[2017-11-03 23:02] smarterclayton opened #17180 "flake: Test log output missing, FailedCreatePodSandBox event related?"
https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/548/testReport/junit/(root)/Extended/_k8s_io__Docker_Containers_should_use_the_image_defaults_if_command_and_args_are_blank__Conformance___Suite_openshift_conformance_parallel___Suite_k8s_/

[code]

[2017-11-03 23:03] smarterclayton commented on #17180
@openshift/sig-pod couldn't find another related issue

[2017-11-03 23:04] smarterclayton commented on #17172
@openshift/sig-developer-experience

[2017-11-03 23:04] smarterclayton commented on #17163
@openshift/sig-user-interface

[2017-11-03 23:06] smarterclayton commented on #17157
`oc set image-lookup` on an image stream called `zookeeper` will make it so that an image stream tag for `zookeeper:latest` will be loaded from the registry when accessed directly in a stateful set, daemonset, deployment, replica set, job, or cronjob.

[2017-11-03 23:18] krasi-georgiev opened #17181 "install and use oc cluster up from master"
I expect to be able to do the following

[code]

The result is
[code]

if building oc from source would require some additional configuration this should be  noted in the doc files.

##### Version
[code]

##### Additional Information
[code]

[2017-11-03 23:43] bparees commented on #17172
what's in the api server logs corresponding to those 500 errors?

[2017-11-03 23:45] bparees commented on #17172
also although i'm sure you're loathe to do it, loglevel 4 in the master would tell us more about exactly how this is failing (there are a number of possible points of failure).

https://github.com/openshift/origin/blob/master/pkg/image/controller/signature/signature_import_controller.go#L141

[2017-11-03 23:56] bparees commented on #17172
(actually the 500 errors are probably trying to hit a registry)

[2017-11-03 23:59] smarterclayton commented on #17125
Fairly easy to recreate:

[code]

Repeated, watching the node this time:

[code]

But when I tried this while watching a pod, I noticed that the pod was sometimes not deleted (the actual problem):

[code]

There's another bug here - it looks like the pod status was also not updated.  Going to spawn an upstream.

[2017-11-04 00:19] smarterclayton commented on #17125
I think the bug in openshift-sdn is that the hostsubnet changed, but we still have pods running on the node that are in the old subnet, and they are not restarted to get new IPs (probably due to a race, the network plugin sees the old subnet and hands it out).

We need to ensure that:

1. openshift-sdn is ensuring the most recent subnet assignment is in effect (why isn't that happening here?)
2. i

[2017-11-04 02:37] #17136 closed

[2017-11-04 02:37] #17150 closed

[2017-11-04 09:42] npiper opened #17182 "Aggregated Logs instructions do not install for Openshift on macos"
In following the [Aggregating Container Logs](https://docs.openshift.com/enterprise/3.2/install_config/aggregate_logging.html) instructions for a local install on Mac OSX there were several omissions in the instructions.

I put the required changes to create required user accounts, permissions into a shell script, however even after modifying these to get the template installed the pods did not st

[2017-11-04 14:57] stevekuznetsov commented on #17172
While it is useful to fix the root cause in our cluster for this I'd still not expect this level of logging to be acceptable regardless.

[2017-11-04 17:20] syui opened #17183 "An error occurred creating the route"
## oc version

oc v3.6.173.0.5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://api.starter-us-east-1.openshift.com:443
openshift v3.6.173.0.5
kubernetes v1.6.1+5115d708d7

## An error occurred creating the route

I am using OpenShift Online Starter.

I was able to create routes until October.

At the time of route creation an error occurs.

ref : https://github.com/openshift/open

[2017-11-04 17:26] bparees commented on #17172
It's undesirable,but it turns out that when things go wrong, it's critical to log them.  And when they go wrong frequently, you end up with a lot of logs.  We can't just say "we're not going to log critical errors because they might spam the logs if they happen frequently."

Particularly when it's an error that does not occur frequently in a healthy system.  I don't see spamming the logs as unacce

[2017-11-04 17:44] smarterclayton commented on #17172
In this case the log spam blew up the logs and prevented us from being able
to diagnose a more serious problem.

Agree we can’t just ignore these messages, but it’s worse that we can’t
root cause a more serious problem that will probably break us later.

On Nov 4, 2017, at 1:26 PM, Ben Parees <notifications@github.com> wrote:

While it is useful to fix the root cause in our cluster for this I'd st

[2017-11-04 19:02] kmb385 commented on #17183
I am having the same issue.

[2017-11-04 19:46] bparees commented on #17172
to diagnose a more serious problem.

then HandleError should be made more robust, such as by rate limiting logging by the stack of the caller, not just the uniqueness of the message (if it even does that).

https://github.com/openshift/origin/blob/master/pkg/image/controller/signature/signature_import_controller.go#L109

Because i guarantee this won't be the last component to engage in this sort o

[2017-11-04 19:54] bparees commented on #17172
Here's my theme in case it's not clear:  these problems should be addressed at a framework level.  The thing that is unacceptable is not how much logging the controller did, it's that a single badly behaved controller can make the system undiagnosable w/o code changes to fix the controller.

The p0 here is not the broken controller.  The p0 is that a broken controller can take down the system with

[2017-11-04 21:17] enj commented on #14645
Closing since this conflict case no longer exists with the migration to RBAC in 3.7.

[2017-11-04 21:17] #14645 closed

[2017-11-04 23:36] smarterclayton opened #17187 "Network connectivity flake during GCE installation"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17161/test_pull_request_origin_extended_conformance_gce/10903/

This error looks new since switching to bootstrapping - the network was temporarily unavailable after the API had been reported successfully up (and other actions ran?).  At this point in the install there are no nodes active (waiting for bootstrapping) so it se

[2017-11-05 04:34] smarterclayton opened #17188 "flake: build failed, blob upload unknown"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/1876/

[code]

[2017-11-05 04:43] smarterclayton commented on #17188
Maybe related https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16412/test_pull_request_origin_extended_conformance_gce/10915/

[2017-11-05 04:43] smarterclayton commented on #17188
/kind bug

[2017-11-05 09:16] jkkj93 commented on #17183
I met the same problem.

[2017-11-05 10:20] izderadicka commented on #17047
Still problem on ca-central

[2017-11-05 13:44] smarterclayton commented on #17167
The 3.7 version of prometheus will not work for several reasons against 3.6.  Please use the branch version instead.

[2017-11-05 13:48] smarterclayton commented on #16877
Another one https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16412/test_pull_request_origin_extended_conformance_gce/10915/#k8sio-proxy-version-v1-should-proxy-logs-on-node-conformance-suiteopenshiftconformanceparallel-suitek8s

[2017-11-05 13:49] smarterclayton commented on #16860
/sig master

[2017-11-05 13:57] smarterclayton commented on #16816
Hrm, the node is limited to 20 pods.  We explicitly bumped the default pods per core up - did someone bump it down again?

[2017-11-05 17:49] smarterclayton commented on #17139
Down to 15 minutes most of the time.  Getting service cat and cluster capacity out will probably give us 5-8 minutes.  Federation should remove a nice small bit.  After that, the primary goal will be being able to bypass the source RPM step (the workaround described above).

[2017-11-05 19:44] smarterclayton opened #17189 "kubelet authorizer/authenticator checks to master fail after first rotation"
Some kubelet API calls appear to fail after cert rotation - specifically checking permissions against the server.

[code]

Looks like the authorizer / authenticator is not being rotated.

[2017-11-05 19:55] smarterclayton commented on #17189
@liggitt should the node be able to perform token reviews?

[code]

[2017-11-05 20:30] liggitt commented on #17189
Nodes are allowed to create token reviews

Node authorizer doesn't yet inform resource access reviews which back `who-can`

Possible a separate client is being constructed for the remote authenticator/authorizer and is detached from the client that gets rotated

[2017-11-05 22:26] smarterclayton commented on #17189
Yeah, I was looking for that.  Will have to dig in tomorrow.

On Nov 5, 2017, at 3:30 PM, Jordan Liggitt <notifications@github.com> wrote:

Nodes are allowed to create token reviews

Node authorizer doesn't yet inform resource access reviews which back
who-can

Possible a separate client is being constructed for the remote
authenticator/authorizer and is detached from the client that gets rotated

[2017-11-05 22:48] ikus060 opened #17190 ""oc cluster join" is failing on: kubelet cgroup driver"
I'm trying to use `oc cluster join` to add a new node to a running master.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://jerd.patrikdufresne.com:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. I've configure a  new server to run openshift.
  1. I've install docker on debian stretch

[2017-11-06 00:08] smarterclayton commented on #17172
HandleError rate limits.  It also rate limits every handleerror in the
system. It was already doing what it needed, and the component in this case
needs to be smarter.

Controllers can already be disabled.

Logging framework already allows disabling of logging.

On Sat, Nov 4, 2017 at 3:54 PM, Ben Parees <notifications@github.com> wrote:

[2017-11-06 03:45] bparees commented on #17172
I wouldn't classify that as "doing what is needed", i'd classify that as heavy handed and insufficiently discriminatory.

So when you faced "In this case the log spam blew up the logs and prevented us from being able to diagnose a more serious problem.", why didn't you disable it?

on a per package basis?  via config the admin can set in master-config?  ideally w/o restarting the master?

[2017-11-06 05:33] lbrigman124 commented on #17065
Sending mail to the list when you are not subscribed gets rejected.
users@lists.openshift.redhat.com

On Wed, Nov 1, 2017 at 1:52 AM, Deshi Xiao <notifications@github.com> wrote:

[2017-11-06 07:18] adelton commented on #14904
@zonArt, if it looks like the reconciliation does not fully work, could you please file separate issue for that, with full details of what you started with and what commands you run and what was the result, expected and actual? Thanks.

[2017-11-06 08:17] pennpeng opened #17192 "When is the origin 3.6.1 update to centos yum source?"
Hi,When is the origin 3.6.1 rpm package update to centos yum source?

[2017-11-06 09:02] mfojtik commented on #17183
@simo5 @enj the forbidden error looks like validation

[2017-11-06 09:05] mfojtik commented on #17181
I'm pretty sure the 'unknown' as version is what is broken here. The `oc` binary is trying to pull the openshift/origin image but failing because it can't detect the version. I guess you can use `--image` flag to fix this or just build the oc binary using `./hack/build-go.sh cmd/oc`.

[2017-11-06 09:08] mfojtik commented on #17168
hrm:

[code]

The `DockerImageSignatures` is `[][]byte`... I guess this is a swagger bug? @deads2k ?

[2017-11-06 09:10] mfojtik commented on #17157
@dsfranzi what Clayton suggested, lemme know if that fixes your problem.

@smarterclayton do we have docs about `oc set image-lookup` ?

[2017-11-06 09:12] xiaods commented on #17181
yes

[2017-11-06 09:46] dsfranzi commented on #17157
`oc set image-lookup zookeeper` didn't work, the result of `oc set image-lookup` always stays the same:

[code]

I also tried to delete the ImageStream and redeploy my template with this config (lookupPolicy: local), but still no luck:

[code]

P.S.: @mfojtik I think you mentioned this piece of documentation: https://docs.openshift.com/container-platform/3.6/dev_guide/managing_images.html#using-is

[2017-11-06 10:22] krasi-georgiev commented on #17181
I also tried specifing an image with `--image=openshift/origin:v3.7.0-rc.0` but didn't make a difference.

building it with `./hack/build-go.sh cmd/oc` works ok
Thanks

[2017-11-06 11:18] kamran000 opened #17193 "build error: fatal: unable to access 'https://github.com/redhat-iot/summit2017/': Failed connect to github.com:443;"
Cloning "https://github.com/redhat-iot/summit2017" ...
WARNING: timed out waiting for git server, will wait 1m4s
WARNING: timed out waiting for git server, will wait 4m16s
error: build error: fatal: unable to access 'https://github.com/redhat-iot/summit2017/': Failed connect to github.com:443;

[2017-11-06 12:37] mfojtik commented on #17193
@kamran000 can you provide more details? Is this online, local environment? What version of openshift?

[2017-11-06 13:29] deads2k opened #17194 "Promote the build pod env vars to openshift/api"
We needed to snip some package dependencies in https://github.com/openshift/origin/pull/17104.  The snips are logically API (approved long ago), so we'll move them to openshift/api once it is authoritative after the rebase.

[2017-11-06 13:36] kamran000 commented on #17193
@mfojtik its local environment v3.6.1

[2017-11-06 13:53] pweil- commented on #17182
It looks like you are running 1.5 origin but using install instructions from the 1.2 (3.2) time frame.  I would suggest here to use the updated instructions and installers in order to avoid unsupported configurations.  If you run into issues with installing 1.5 aggregated logging on the 1.5 cluster please reach out.

/cc @jcantrill

[2017-11-06 13:53] #17182 closed

[2017-11-06 13:59] pweil- commented on #17181
looks like you're up and running now and since the contributing guide instructions have you build before running cluster up (rather than a `go install`) I am resolving this.

[2017-11-06 13:59] #17181 closed

[2017-11-06 14:03] php-coder commented on #17164
@akd31 In order to help you, could I ask you to post the output of the command `oc get pod <pod> -o yaml` here?

Also, have you tried https://github.com/sclorg/mongodb-container that is 100% OpenShift-compatible MongoDB docker image.

[2017-11-06 14:05] pweil- commented on #17167
Please use the branch versions when deploying prometheus. If you have issues with a consistently versioned cluster please let us know.  Thanks!

[2017-11-06 14:05] #17167 closed

[2017-11-06 14:06] pweil- commented on #17165
opening this against the docs repo.  Thanks for reporting it.

https://github.com/openshift/openshift-docs/issues/6142

[2017-11-06 14:06] #17165 closed

[2017-11-06 14:07] zonArt opened #17196 "Role reconciliation issue on origin 3.6"
Discussion began in issue #14904 and I'm now opening a new issue as suggested by @liggitt
The problem is with clusterrole reconciliation (especially the "edit" one)

##### Version
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

##### Steps To Reproduce
1. Modify the `edit` clusterrole in openshift 1.5
2. Upgrade to openshift 3.6
3. Run the clusterrole reconciliation

##### Curren

[2017-11-06 14:26] dgoodwin commented on #17183
Custom routes were intentionally disabled in starter clusters late last week, was not intended to be a permanent feature.

CC @Miciah

[2017-11-06 14:26] liggitt commented on #17196
What version of oc are you using to do the reconciliation?

[2017-11-06 14:26] dgoodwin commented on #17183
@abhgupta as well.

[2017-11-06 14:27] eparis commented on #17183
All of our starter clusters have had an additional restriction added which now prevents the creation of any route with the 'host' field set. When creating a route please do not set `spec.host`. The system will fill out `spec.host` for you after the route is created.

[2017-11-06 14:30] #17183 closed

[2017-11-06 14:33] enj commented on #17196
Also, what command did you run to reconcile?

[2017-11-06 14:49] wgordon17 commented on #17183
This is inline with the Starter restriction of [no custom domains allowed](https://www.openshift.com/pricing/index.html#online-plan-comparison).

[2017-11-06 14:50] zonArt commented on #17196
Mmmmmh interesting yes, didn't realize `oc` version could influence the behavior.
@liggitt I ran it with oc 1.3 (way too old I agree)

@enj I tried the following command: `oc adm policy reconcile-cluster-role edit --confirm`

To complete a little the missing points:
The issue also happened when using the ansible scripts to upgrade from 1.5 to 3.6 (in this case I doubt that oc version matters)

[2017-11-06 14:53] liggitt commented on #17196
ansible uses oc reconcile commands, so it actually matters what version of oc you have

[2017-11-06 14:55] zonArt commented on #17196
@liggitt Ok ok I wasn't aware about that (actually I could have had a closer look to what happens behind the scene sorry)

[2017-11-06 14:57] simo5 commented on #17196
@zonArt do you still have an issue or should we close ?

[2017-11-06 14:58] zonArt commented on #17196
@simo5 I'll confirm that right away but as far as I notice it looks ok

[2017-11-06 15:10] danwinship commented on #17162
@smarterclayton no, it's not about the master-config. If you run a 3.7 master against a 3.6 master-config.yaml, it will work just fine. It will just use the old master-config values to set the new ClusterNetwork values (and then update the default ClusterNetwork object in etcd to contain both old and new values). And even if for some reason that failed, you would still see the (empty) new 3.7 `clu

[2017-11-06 15:24] juanvallejo commented on #17163
@fabianofranz based on https://github.com/openshift/origin/issues/17163#issuecomment-341625454 and local testing, the panic only happens in 3.6 clients.
Will open a patch against that branch.

[2017-11-06 15:32] smarterclayton commented on #17157
`set-image lookup` only works on 3.6 and above

[2017-11-06 15:32] hansmi commented on #17163
@juanvallejo It happens in 3.5 clients too, unfortunately:

[code]

[code]

[2017-11-06 15:35] smarterclayton commented on #17162
I double checked this - at no point did we have a newer node against an
older master, because of the other problems with ansible.

On Mon, Nov 6, 2017 at 10:10 AM, Dan Winship <notifications@github.com>
wrote:

[2017-11-06 15:38] dsfranzi commented on #17157
So what can I use with 1.5? I don't consider adding the IP address of the internal registry to the image spec a permanent solution.

And the key question is: Why does it work for DeploymentConfigs but not for StatefulSets?

[2017-11-06 15:56] zonArt commented on #17196
@simo5 Everything is ok, it works much better with the right version of `oc` even if I don't really understand why using a different client's version changes the behavior of commands executed on the server.

[2017-11-06 16:16] jhadvig opened #17197 "Creating secret with `oc secret new-dockercfg ...` creates secret in a new docker config format"
The outcome of the https://bugzilla.redhat.com/show_bug.cgi?id=1476330 was that creating a secret with
[code]
will create an secret with `kubernetes.io/dockercfg` type(old file type) with the new format:
[code]

I agree that we need to start promoting the new format but we shouldn't mismatch type with format and the created secret should be of `kubernetes.io/dockerconfigjson` type

@juanvallejo @s

[2017-11-06 16:33] bparees commented on #17193
your pod can't reach external hosts.  you have a networking issue in your cluster.

[2017-11-06 16:42] sdodson commented on #17192
set openshift_repos_enable_testing=true to enable those repos at install time.

[2017-11-06 16:49] juanvallejo commented on #17197
Related upstream PR / discussion: https://github.com/kubernetes/kubernetes/pull/53916

[2017-11-06 16:50] juanvallejo commented on #17197
cc @fabianofranz

[2017-11-06 16:52] bparees commented on #17169
please provide your full build log.

[2017-11-06 16:52] danwinship commented on #17162
Is there some sort of database upgrade process that happens the first time you run a new master with changed API definitions, that might possibly have failed in this case? In my tests, a current 3.7 master always returns *something* for `clusterNetworks`, even if it's just `[]`. Whereas the CI master a few days ago seemed to not know that field existed.

[2017-11-06 16:57] eliu opened #17199 "openshift_release is 3.6.1 which is not a valid release for a 3.6 upgrade"
The official upgrade guide does not help. A more detailed steps for upgrading from v3.6.0 to v3.6.1 is required.

##### Version
[code]

##### Steps To Reproduce
1. Change all version stamp from v3.6.0 to v3.6.1 in ansible inventory host file.
2. run `ansible-playbook /usr/share/openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml`

##### Current Result
[code]
##### Expected

[2017-11-06 17:06] switchboardOp opened #17200 "Horizontal Pod Autoscaler: FailedGetResourceMetric missing request for cpu on container"
Installed OpenShift Origin on-prem with the Ansible installer. Working on testing autoscalling.
The autoscaler reports that I'm missing a request for CPU on my container, but I have configured the CPU request in my app's DC.

I've run `oc adm policy reconcile-cluster-roles --additive-only=true --confirm` in an attempt to resolve any role based issues.

##### Version
oc v1.5.1+7b451fc
kubernetes v1

[2017-11-06 17:09] danwinship commented on #17125
It's not even a race. The SDN code currently doesn't even consider the possibility that the node's HostSubnet might have changed out from under existing pods.

Vaguely related: if the SDN controller misses a Node DELETED event then it will never clean up the corresponding HostSubnet. https://bugzilla.redhat.com/show_bug.cgi?id=1470612#c4

[2017-11-06 17:21] enj commented on #17196
@zonArt reconciliation is done by the client in all versions before 3.7.  Closing since this is not a bug.

[2017-11-06 17:21] #17196 closed

[2017-11-06 17:56] smarterclayton commented on #17125
Ok, so the easy thing is to hook host subnet changing into the existing
health check behavior (for OVS) and have the process restart itself if it
detects a change.  In the future, if we can restore without restart,
that'll be better.

On Mon, Nov 6, 2017 at 12:09 PM, Dan Winship <notifications@github.com>
wrote:

[2017-11-06 18:00] switchboardOp commented on #17200
Seems like I had some stale `Evicted` pods in that project that were causing heapster errors to surface.
Clearing them out has stopped the FailedGetResourceMetric errors.
[code]

[2017-11-06 18:00] #17200 closed

[2017-11-06 18:09] stevekuznetsov commented on #17172
We didn't disable it because we realized it too late. Disabling it won't get us historical logs back. Would it be acceptable to do a exponential backoff on handling long-failing items in this controller's queue?

[2017-11-06 18:11] stevekuznetsov commented on #17172
@bparees looks like we may be getting this as the server-side error?

[code]

[2017-11-06 18:11] stevekuznetsov commented on #17172
@smarterclayton have we given bad credentials to that controller?

[2017-11-06 18:17] bparees commented on #17172
that's what the existing failure retry logic is supposedly doing.

[2017-11-06 18:22] jwforres opened #17201 "Need to give help to users when service catalog fails to start in cluster up"
When service catalog fails to start during cluster up we should help users debug the problem.

Could be something as simple as telling them to log in as the admin and run `oc status -n kube-service-catalog`.  Otherwise a new user has no idea how to figure out what went wrong.

[2017-11-06 18:26] syui commented on #17183
Can it handle CNAME or redirect?

[2017-11-06 18:39] wgordon17 commented on #17183
In order for a CNAME to be accepted, the route with the appropriate host must be created first. This @syui is a restriction of the Starter plan. If you need a custom domain, you will have to upgrade to Pro.

[2017-11-06 18:55] syui commented on #17183
ok, thanks

[2017-11-06 18:55] bradley-s commented on #17183
thats not great

[2017-11-06 19:14] stevekuznetsov commented on #17172
We're seeing a retry every three ish minutes? Is that the limit for the exponential backoff or just the resync loop on the controller?

<details>
<summary>expand for one image logs</summary>

[code]

</summary>

[2017-11-06 19:21] stevekuznetsov commented on #17172
Steady state seems around 90% of logs from this controller still

[code]

[2017-11-06 19:22] bparees commented on #17172
the default rate limiter is supposed to cap out at 1000s.

the resync period is 10 minutes.

so neither of those seem right for what you are seeing.

i'm guessing you're ending up with overlap...  (in some cases the event is in the queue due to resync and in other cases it's in the queue due to being ratelimit re-injected).

Having a max rate limit value that's higher than the resync period seems

[2017-11-06 20:12] vnugent commented on #15097
if 'UP' is not usable can you suggest a way to monitor whether Openshift node is in Ready state? it would be very beneficial to cluster admins.

[2017-11-06 21:08] smarterclayton commented on #17157
There is no solution for 1.5 for StatefulSets.  We added this feature into
3.6 to address the use case, before that it was not possible.

DeploymentConfigs were built with image substitution in mind.  There is a
trigger field on the API spec that provides this behavior.

On Mon, Nov 6, 2017 at 10:38 AM, Franz Wimmer <notifications@github.com>
wrote:

[2017-11-06 21:39] juanvallejo opened #17206 "resources piped into `oc set resources ...` are not passed through"
Piping a list of resources (from another `oc` command for example) into `oc set resources -f - ... <specific>/<resource>` will:

1. Attempt to patch all resources piped in, despite specifying a particular one to apply resource compute requirements to.
2. Only print out the first resource that was successfully patched (without passing through the rest of the resources originally piped in).

##### V

[2017-11-06 22:21] abhgupta commented on #17183
For additional context, custom host names in routes were always blocked. However, that restriction/validation was lost during an upgrade (regression) and was re-applied last week.

[2017-11-06 23:26] #17158 closed

[2017-11-06 23:57] bparees commented on #17188
[code]

Not sure if that could be caused by a networking hiccup?

Also it seems like the returned error message is not great.

[2017-11-07 00:02] bparees commented on #17188
also this looks at least moderately suspicious:

[code]

/cc @dmage @miminar @legionus

[2017-11-07 00:04] ankushchadha commented on #9131
Is there a way to avoid 777 permission?

[2017-11-07 00:38] smarterclayton commented on #17167
Because it wasn’t supported in 3.6, and is available in tech preview in
3.7.  We’re constantly adding new capability in new releases.

On Nov 6, 2017, at 10:53 AM, Christos Gitsis <notifications@github.com>
wrote:

But why does the 3.6 branch version provide no configuration for the alert
manager, a useful part of prometheus' functionality, while the 3.7 branch
does?
In any case, the error I menti

[2017-11-07 01:09] dmage commented on #17188
Common variables:
[code]

Log for the request 32f0dc3d-e343-40cc-aec0-7bdeff994b67
[code]

[2017-11-07 01:10] dmage commented on #17188
@miminar @legionus do you have ideas why the registry wants to write the hashstate for an offset of zero 10 seconds after Commit? Distribution logs are so bad :(

[code]

[2017-11-07 01:13] kmb385 commented on #17183
Looks like I will be switching hosting environments.  Digital Ocean = $5 month

[2017-11-07 01:17] #17085 closed

[2017-11-07 01:33] pennpeng commented on #17192
@sdodson  ok,thank you

[2017-11-07 01:51] eliu commented on #17199
There's no such directory within openshift-ansible like `v3_6_minior`, the OpenShift Origin documentation might be latest:

https://docs.openshift.org/latest/install_config/upgrading/automated_upgrades.html#upgrading-to-openshift-origin-1-1-z-releases

[2017-11-07 02:27] ankushchadha commented on #17164
Try following -

oc adm policy add-scc-to-user anyuid $THE_USER
oc adm policy add-scc-to-user privileged $THE_USER
oc adm policy add-scc-to-group anyuid system:authenticated

Though the certified image i.e. part of https://github.com/sclorg/mongodb-container  shouldn't require root access as the user is being changed as part of the Dockerfile.

[2017-11-07 02:39] jkkj93 commented on #17183
Got it.Thank you for answering.

[2017-11-07 04:04] donovanmuller opened #17210 "Running v3.7.0-rc.0 on Travis fails with MountVolume.SetUp failed for volume ... : exit status 1"
Using a Travis job to run integration tests against various Origin versions, using the `v3.7.0-rc.0` release fails to create/deploy any Pod with the error:

`MountVolume.SetUp failed for volume "deployer-token-bt4hk" : exit status 1`

Using `v3.6.1` works as expected.

See https://github.com/donovanmuller/spring-cloud-deployer-openshift/issues/48 for context.

##### Version

[code]

##### Steps To

[2017-11-07 04:18] #17172 closed

[2017-11-07 04:33] MONTATICH opened #17211 "origin/examples/statefulsets/mysql/galera/ not up to date"
when i try to create the docker image "erkules/galera:basic" stated in the mysql-galera.yaml, I get this error:

W: Failed to fetch http://releases.galeracluster.com/ubuntu/dists/trusty/main/binary-amd64/Packages  404  Not Found
E: Some index files failed to download. They have been ignored, or old ones used instead.

Even when I try to fix it by putting the right path, then try to deploy the mysq

[2017-11-07 05:11] akd31 commented on #17164
I can't share the yaml file since I am working offline and it has kinda long output.

I fixed my issue by extending official mongo image by adding changing user to mongodb at Dockerfile. Thanks for your attention btw.

[2017-11-07 05:30] xiaods commented on #17199
see here: https://github.com/openshift/origin/issues/17192

[2017-11-07 05:37] xiaods commented on #17201
@jwforres i have testing start service catalog with upstream origin, it works like a charm. have a try.

[2017-11-07 06:31] AvTiMp commented on #17168
the definition **time.Duration** also can't be resolved in the same file, @mfojtik

[2017-11-07 07:45] z0x010 commented on #17103
When running `oc cluster up --public-hostname 127.0.0.1` on my MacBook Pro, I have got this error:
[code]

### version :

[code]

[2017-11-07 08:28] slaskawi commented on #17103
@csrwng @z0x010 I have seen two variants of this issue so far:

1. Healthcheck was malfunctioning because of the firewall settings. Check what happens when you call `iptables -F` (or equivalent).
2. Not enough memory. Recently I resized our CI environment from 4 GB or RAM to 8. And this actually started to work correctly.

The interesting thing is that openshift container logs suggested that it co

[2017-11-07 09:09] kargakis opened #17213 "oc status is complaining about missing readiness checks in build pods"
Not sure it should.
[code]
@bparees

[2017-11-07 09:35] kamran000 commented on #17193
@bparees Thanks issue Solved, but now facing following issue in building app

Registry server Address:
--

[2017-11-07 10:30] tnozicka opened #17214 "k8s disruption controller: Observed a panic: "invalid memory address or nil pointer dereference""
openshift v3.7.0-0.178.2
kubernetes v1.7.6+a08f5eeb62

[code]

[2017-11-07 10:41] mrsiano commented on #16552
@holgerkoch you can use this PR https://github.com/openshift/origin/pull/17037/

see also
https://github.com/mrsiano/grafana-ocp

[2017-11-07 11:13] php-coder commented on #17164
@akd31 OK, Here are some advice how to debug it:

1) first check under what SCC the pod was admitted: execute `oc get pod <pod> -o yaml | grep scc`. I suspect that it will be `restricted`

2) how do you create a MongoDB pod? Is it plain Pod or you're using StatefulSets/something else? This question is important because depending on the answer, you need to grant access to a different accounts (to a

[2017-11-07 11:35] php-coder commented on #17211
CC @soltysh

[2017-11-07 11:39] jwforres commented on #17201
This issue is not that it is broken, but that when it does fail we don't give users the next steps for debugging what went wrong. We have seen it fail often enough for random reasons in our heavy usage of cluster up on the console team.

[2017-11-07 11:55] akd31 commented on #17164
1. It is openshift.io/scc: anyuid
2. I am usign openshift container platform gui to deploy image and edit deployment config via YAML. I don't create pod manually.
3. Yes it does have both serviceAccount and serviceAccountName.
4. I don't know it how I could check this.

[2017-11-07 12:13] php-coder commented on #17164
It means that pod was admitted correctly. As far I can see, in the official mongodb image, user is created in the Dockerfile and its UID doesn't match with the owner of the `/data/db` directory. The UIDs should match or the directory should have write access for the root group.

[2017-11-07 12:31] akd31 commented on #17164
As I mentioned when I change user to mongodb at Dockerfile it works, otherwise it checks the uid and if it is not mongodb (which is root by default) tries to chown and it causes our situation.

[2017-11-07 13:06] dsfranzi commented on #17157
So basically my own workaround - before I can upgrade to 3.6 - is to upload all my images to docker hub?

[2017-11-07 13:47] csrwng commented on #17103
@slaskawi thanks, I will look into monitoring progress somehow.

@z0x010 how much memory/cpu are you giving Docker? Also, is socat functional on your machine? (as in does `socat --help` work?)

[2017-11-07 13:53] slaskawi commented on #17103
@csrwng I also noticed that is still happening from time to time on our environment (even though we increased memory settings). I'm still trying to figure out why this is happening on certain slaves only (the funny thing is that all slaves are configured using Ansible, so everything should be exactly the same).

[2017-11-07 14:13] pweil- commented on #17194
/cc @bparees

[2017-11-07 14:15] pweil- commented on #17199
Please give the `openshift_repos_enable_testing=true` solution a shot and see if that resolves your issue.  If not let's consolidate on #17192.  Thanks!

[2017-11-07 14:15] #17199 closed

[2017-11-07 14:17] csrwng commented on #17103
@slaskawi so I just tried on my Mac, giving Docker 2GB memory, 1 cpu and cluster up still started ok. I'll try on a VirtualBox Linux VM next. I want to understand how we can check whether origin is still progressing so we can exit or continue waiting.

[2017-11-07 14:21] pweil- commented on #17210
since this is for the token /cc @simo5

[2017-11-07 14:25] slaskawi commented on #17103
@csrwng Thanks for the update.

I will be trying to find some pattern in this. Currently our CI is quite busy (tomorrow we plan to release a new version) but let me get back to you at the end of the week or early next week.

[2017-11-07 14:51] #15809 closed

[2017-11-07 14:59] bparees commented on #17193
sounds like you still have a networking issue (your host nodes running your docker daemon can't reach the registry service.  is it pushing to the registry using the registry service hostname, or ip address?)

[2017-11-07 15:52] slaskawi commented on #17103
Another portion of logs: https://justpaste.it/1d9jy

[code]

[2017-11-07 15:53] immens opened #17216 "SCC not revoked after SA deletion"
After deletion of SA/project SCC permissions not revoked

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.exmplae.com:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. create project
`# oc new-project sa-priv-test`
2. create SA
`# oc create serviceaccount priv-sa -n sa-priv-test`
3

[2017-11-07 16:37] csrwng commented on #17103
@slaskawi thanks for the logs. This isn't a cluster up timeout. It's actually the master timing out waiting for controllers to start: https://github.com/openshift/origin/blob/008f2d5528bf998326b5eb3f1fe3144c59392b9d/pkg/cmd/server/start/start_master.go#L506

Can you try invoking cluster up with --server-loglevel=5 to determine why this is happening?

[2017-11-07 16:40] csrwng commented on #17103
I also started a Fedora 26 vm and assigned it 4GB memory. I haven't seen an issue yet starting cluster up.

[2017-11-07 17:10] slaskawi commented on #17103
@csrwng Disk I/O - that could be a really good hint! Let me try to investigate this further and get back to you with some results...

[2017-11-07 17:11] bparees commented on #16930
this was likely resolved by us fixing up the imagestream tags in the various online environments.

[2017-11-07 17:11] #16930 closed

[2017-11-07 17:15] bparees commented on #16593
@kargakis did you try using the github PR ref syntax?

[2017-11-07 17:25] kargakis opened #17221 "kubectl is not using our printers for our resources"
[code]
@openshift/sig-user-interface

[2017-11-07 17:30] deads2k commented on #17130
@liggitt side-effect of having the check based on finalization. Want to allow end-users to finalize so we can let them set ownerrefs?

/assign liggitt

[2017-11-07 17:33] liggitt commented on #17130
Why is `blockOwnerDeletion: true` required? It will get cleaned up without that, right?

[2017-11-07 17:33] kargakis commented on #16593
Yeah, the github PR syntax works. Parameterizing the git uri and ref works for me.

[2017-11-07 17:41] spadgett commented on #17130
It won't get cleaned up in this case. This is the secret used for parameters when provisioning the service instance, and it isn't deleted by the service catalog.

[2017-11-07 17:51] liggitt commented on #17130
An ownerref without blockOwnerDeletion is still supposed to result in the child object being reaped.

[2017-11-07 17:54] #16593 closed

[2017-11-07 18:00] jim-minter opened #17223 "TestImagePruneErrOnBadReference flake"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17215/test_pull_request_origin_unit/5323/

[code]