[2015-08-14 11:54] deads2k commented on #4144
Would something like `--template-name` satisfy instead?  I think the intent is still clear, but it wouldn't collide with standard fields.

[2015-08-14 12:02] deads2k commented on #4141
I'm actually ok with the concept of marginally "protected" resources.  Not all resources are equal.  It actually seems reasonable to me require an `--i-really-mean-to-do-this-flag` for `limitrange`, `namespace`, `project`, `policy`, `policybinding`, `node` (maybe), and some kinds of `persistentvolumeclaims` (accidental recycling is a bitch), `serviceaccount` (when in use by an rc).  Basically when

[2015-08-14 12:56] soltysh commented on #4141
That was my intention, since we provide users with a client implementation we could be pro-active warning users about the risk he not necessarily might be aware of.

[2015-08-14 13:05] deads2k commented on #4140
In here: https://github.com/openshift/origin/blob/master/pkg/client/builds.go, how about

[code]

[2015-08-14 13:13] VeerMuchandi opened #4166 "gvlkr"

[2015-08-14 13:25] soltysh commented on #4140
Isn't your last proposal breaking the idea of being strongly typed? You're passing the `"build"` string as a type. I was rather referring to writing "full" required implementation in that package.

[2015-08-14 13:25] #4166 closed

[2015-08-14 13:37] liggitt commented on #4144
I'm pretty sure `--template` in new-app is a magic field that can be a file or a template object loaded in the system already

[2015-08-14 13:40] csrwng commented on #4144
It's not. Only a stored template. --file is used for template file.

[2015-08-14 13:55] pweil- commented on #4164
dupe of https://github.com/openshift/origin/issues/4050

[2015-08-14 14:30] soltysh commented on #4140
I'll be then advocating deployments approach, here's a little [POC](https://github.com/soltysh/origin/commit/5864aea75de4521902a7d40179fc96bf2453a0c0) I did to introduce common pod client interface that can be injected anywhere (the implementation in `pkg/pod/client/client.go` should have all possible methods, but is not for brevity), I've used it in builds specifically. IMHO this solution provide

[2015-08-14 14:38] deads2k commented on #4144
I present this as evidence that no one will be able to definitively say we broke backwards compatibility, because they probably don't know what it does today :)

[2015-08-14 14:42] smarterclayton commented on #4144
Can't change it :)

On Fri, Aug 14, 2015 at 10:38 AM, David Eads <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-14 14:46] deads2k opened #4169 "content of errors on the page can't be copied"
When I get a pop-up error in the lower right, I can't select text in the error to copy and paste.

![screenshot from 2015-08-14 10 45 24](https://cloud.githubusercontent.com/assets/8225098/9276400/b484e154-4271-11e5-934f-717655e09d4f.png)

[2015-08-14 14:47] deads2k commented on #4169
@liggitt please tag

Also, @fabianofranz the CLI can handle this correctly, but after the rebase, this fails from the console.  I don't think the test is doing what we think its doing.

[2015-08-14 15:11] deads2k commented on #4140
Adding that to the client package on the `client.BuildsNamespacer` or `client.BuildInterface` means that I'll be able to pass a build specific object into the APIs and get the `cache.ListerWatcher` (we could shadow with a `client.ListerWatcher` to maintain package purity).  That way the APIs inspect a typed interface.

[2015-08-14 15:43] soltysh commented on #4140
Yeah that was my other thought about using `client.BuildNamespacer` directly instead of creating ad-hoc interfaces inside controllers. The chances for using `client.BuildInterface` are close to zero, as this does not allow passing namespace information, you need to use the namespacer for that. The only problem with this is you're giving your controller full access to the object's API, but I think

[2015-08-14 15:46] deads2k commented on #4140
Yes, that's what I was trying to describe with my example.  I'm less concerned about restricting individual get/list/update methods on a resource than with being able to easily determine which resources are involved.  It seems appropriate to have `ListerWatcher` methods on both the `Namespacer` and the `Interface`.

[2015-08-14 15:50] soltysh commented on #4140
+1

[2015-08-14 17:00] smarterclayton commented on #4141
We could require "--confirm" on deletion of resources of a certain name.
It would be a breaking API change though, which is a concern.  Needs to be
discussed and proposed upstream.

On Fri, Aug 14, 2015 at 8:56 AM, Maciej Szulik <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-14 18:14] deads2k opened #4170 "[post-rebase-work] unbreak the multi-tenant plugin"
An interface changed and I stubbed in a `return nil, nil` to complete the rebase.  A real implementation is needed.  See https://github.com/openshift/origin/blob/master/plugins/osdn/multitenant/plugins.go#L69

@rajatchopra

[2015-08-14 18:15] deads2k opened #4171 "[post-rebase-work] repick recently rebased pull requests:"
- [ ] 5093
 - [ ] 9870

[2015-08-14 18:18] deads2k opened #4172 "[post-rebase-work] upstream flagtypes removed"
Several flagtypes were removed upstream.  The effort to replace them during the rebase was significant, so I made https://github.com/openshift/origin/commit/199adb7fd03ad0375ca9a7e8fa31aec9f372ab8b to temporarily patch it.

That commit needs to be reverted and our CLI code needs updating.

@fabianofranz

[2015-08-14 18:22] deads2k opened #4173 "[post-rebase-work] api version is now enforced by api server"
The API server is now requiring that objects submitted to the API match the version they are being submitted against.  This restriction didn't exist before, but does now.

We should check to make sure the CLI is fully compatible.  One bug in the web console was found and fixed (https://github.com/openshift/origin/commit/866980cd38c72d0d795418fd1cb8bce2ca713317), but more may exist.

This does chan

[2015-08-14 18:25] deads2k opened #4174 "[post-rebase-work] make the scheduler rate limiter configurable"
A new rate limiter was added.  I hard-coded the existing defaults, but we need to decide about exposing this.  There may be an existing flag we should respect.

https://github.com/openshift/origin/blob/master/pkg/cmd/server/kubernetes/master.go#L163

[2015-08-14 18:25] liggitt commented on #4173
The main case I'm concerned about is processing templates containing resources with a mix of versions.

If a stored template has the following resources:
[code]

then clients that aren't capable of doing conversions in-memory to a current version (e.g. all clients except oc/kubectl) need to submit to four different endpoints (oapi/v1, osapi/v1beta3, api/v1, api/v1beta3). The UI certainly isn't set

[2015-08-14 18:28] deads2k commented on #4173
Clients should be doing conversions for objects stored in templates.  We stored the external serializations of those objects with version skewing allowed to handle exactly this case.  The objects in the template should be submitted against their specified versions.

[2015-08-14 18:28] deads2k commented on #4173
should **not** be doing conversions

[2015-08-14 18:30] liggitt commented on #4173
hmm... the process endpoint might unify the versions... not sure

[2015-08-14 18:32] liggitt commented on #4173
does the increased strictness at least let us submit an object without a version to a versioned endpoint?

[2015-08-14 18:33] deads2k commented on #4173
It uses one of the non-converting runtime types along with map inspection to do the substitution.  It should not be changing the version.  If it is, I think that would be bug.  It certainly can't do it before substitution, since any substituted field would be at risk of not matching expected types and failing the unmarshal.

[2015-08-14 18:36] liggitt commented on #4173
so if the API server doesn't enable v1beta3, but can still convert those types, we won't allow submitting them at all? and we require every client to know all the context roots for every version in order to submit a template/list? that seems onerous

[2015-08-14 18:53] deads2k commented on #4173
Knowing how to talk to a versioned API server hardly seems onerous.

This is a significant side-effect.  I'm not sure how I feel about it.  In this case, it's not just us being mean.  If we've eliminated the API version, there's no reason to believe that we can safely roundtrip the type no matter how friendly we want to be.

[2015-08-14 18:55] liggitt commented on #4173
If it doesn't have the type registered to that scheme any more, you'll get an error...

[2015-08-14 19:04] deads2k commented on #4173
So you're worried about the case where we still support an API, but the administrator has disabled it so you can't access it anymore.  In that case, while we still support roundtripping the scheme, you want to be able to submit a skewed version to the API server?  That seems like a pretty unlikely case.

The automatic migration of templates seems more problematic.  If I have a template that contai

[2015-08-14 19:19] liggitt commented on #4173
Might be related: https://github.com/openshift/origin/issues/3872

[2015-08-14 20:40] fabianofranz commented on #4172
`StringList`, `IP` and `IPNet`.

[2015-08-14 22:02] #4103 closed

[2015-08-15 04:48] smarterclayton commented on #4149
This is in the path for cloud forms, either the API endpoint needs to return the objects we support or we should go to swagger.  Not sure which I prefer.  There is other info we need to change

[2015-08-15 15:05] smarterclayton commented on #3793
Any updates on this?  Should include discussion of GID use

On Mon, Jul 20, 2015 at 4:43 PM, Paul Morie <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-15 23:46] deads2k opened #4182 "oc deploy doesn't take "dc/dc-name" format"
`oc deploy` doesn't take "dc/dc-name" format, making it painful to pipe commands.

@ironcladlou

[2015-08-15 23:46] deads2k commented on #4182
or @fabianofranz I guess.

[2015-08-15 23:53] deads2k opened #4183 "oc status doesn't have colors"
Lack of colors on failing lines in `oc status` is annoying.  We know something has failed, but the summary really doesn't help it leap out at you.  I'd like to see:
 1. the failed deployment in red.
 1. completely unfulfilled services with associated (but failing resources) in red
 1. any other service with failed deployments or RCs with 0 pods in yellow.

[code]

@fabianofranz if you already have

[2015-08-15 23:54] deads2k opened #4184 "should oc status show failure events from deployment pods?"
Knowing a deployment failed is useful, but it'd be nice to either recognize common failure events (failed to pull image) or pull the latest failing event.

[2015-08-15 23:55] deads2k commented on #4184
@smarterclayton @fabianofranz thoughts?

[2015-08-16 03:09] nak3 opened #4185 "Ruby application source build with standalone always fails"
Env:
---
$ openshift version
openshift v1.0.4-237-g30861f3
kubernetes v1.1.0-alpha.0-1155-gb73c53c

Issue:
---
- `$ oc new-app https://PATH_TO_RUBY_SOURCE --strategy=source` always fails with origin standalone mode.
- I tested PHP, Python, Ruby, and Ruby(OSEv3 w/ master-node). Only Ruby build w/ origin standalone mode was failed. Please see the logs in Result

Result:
---
***Work condition***
- PH

[2015-08-16 03:11] nak3 commented on #4185
As log files said, it is permission error. However, I couldn't find which permission should I change.

[code]

[2015-08-16 03:44] nak3 opened #4186 "Build with docker-build strategy failed when Dockerfile doesn't contain EXPOSE"
Env
---
$ openshift version
openshift v1.0.4-237-g30861f3
kubernetes v1.1.0-alpha.0-1155-gb73c53c

Reproduce steps
---
1. Prepare **same** directory in github to build from Dockerfile
 - Test-A is built without `--context-dir`
 - Test-B is built with `--context-dir`

test-A: https://github.com/nak3/dockerfile-buildtest
test-B: https://github.com/nak3/Dockerfiles/tree/master/quicktest

1. Build tes

[2015-08-16 06:33] jigkoxsee opened #4187 "Can't login to docker registry"
I install Openshift by this [method](https://docs.openshift.org/latest/admin_guide/install/advanced_install.html) (3 node)
then I create docker registry
[code]
This is from `oc get all`
[code]

I try to login to docker registry `docker login -u  <user> -e <email> -p <token> 172.30.50.252:5000`
[code]

How do I fix this?

[2015-08-16 14:02] deads2k opened #4188 "oc build-logs is a pain to use"
`oc build-logs` can't operate on a `buildconfig`, which is annoying when transitioning between `oc status` `oc build-logs`.  It should guess at the logs for the latest build.

Also, `oc build-logs` doesn't access `builds/build-name` which makes it painful to pipe values from a label limited `oc get`.

@bparees @fabianofranz Not sure who owns the CLI build commands.

[2015-08-16 14:07] deads2k opened #4189 "oc status should have a "suggestions" flag"
When using `oc status`, there are failures that have common responses.  Things like "your build failed, would you like to look at logs with `oc build-logs builds/foo` or retry with `oc start-build bc/bar`?  Similar help can be provided for failed deployments, service accounts with missing secrets, a stub for emptyDir volumes, etc.  Sometimes that level of detail is annoying, but a flag to turn it

[2015-08-16 14:25] deads2k opened #4190 "typo in oc start-build help"
"--from-webhook='': Specify a webhook URL for an existing **BuildConfign** to trigger"

[2015-08-16 14:27] deads2k opened #4191 "main openshift readme doesn't mention --insecure-registry for docker"
I don't see instructions for enabling `--insecure-registry` in `/etc/sysconfig/docker` to allow default buildconfigs to push to the internal registry.

`INSECURE_REGISTRY='--insecure-registry 172.30.0.0/16' ` gets the job done.

[2015-08-16 14:48] deads2k opened #4192 "deployments should try to propogate common failures as events"
I had a deployment fail because a pod for my RC came active (personal problem), but `oc describe dc/name` did not show me the failure during to timeout.

I have this in my deployment pod's log:
[code]
but the describe of the dc only produces this:

[code]

This is annoying and inaccurate.  That was the cause of my first deployment failure, but not the second deployment failure.

[2015-08-16 14:56] deads2k opened #4193 "oc status output is inconsistent"
Builds are in format: `build <number> something`, deployments are in format `#<number> deployment`.  This makes it hard to scan the output.  The problem is exacerbated by the fact that build commands operate on build names (not displayed for the ultimate in frustration), whereas the deployment commands operate on deploymentconfigs (so the numbers sort of make sense).

As user, this inconsistency i

[2015-08-16 14:57] deads2k opened #4194 "when a build is running, oc status should let me know if the previous one succeed"
I'm pretty sure that we display the top few failing builds, but we don't show the last successful one when a new build is running.  That output would be useful.

[2015-08-16 15:41] smarterclayton commented on #4189
Definitely a lot of value.  Probably need to break it into a card and
brainstorm some ideas and get some feedback.  I'd like to be able to
resolve SME questions so they stop asking them.

We also need to figure out how the UI does the same thing, to keep rough
parity (not exact parity.

On Aug 16, 2015, at 10:07 AM, David Eads <notifications@github.com> wrote:

When using oc status, there are fail

[2015-08-16 16:03] deads2k opened #4195 "pod on UI has a caution sign, but I have no idea why"
My pod has a caution sign on the UI, but I can't figure out why.  I suspect it's because the pod is constantly getting restarted, but hovering and clicking on it doesn't make the cause obvious.

![screenshot from 2015-08-16 12 01 20](https://cloud.githubusercontent.com/assets/8225098/9294038/9aa55766-440e-11e5-8585-8dc72b7e6d3d.png)

[2015-08-16 16:03] deads2k commented on #4195
@spadgett fyi

[2015-08-16 18:17] deads2k opened #4197 "oc edit of unserialized fields behaves like a true update"
When using `oc edit`, if I modify the file with a tag that doesn't exist for the object, the command completes as normal and claims that than update was made, but the value is silently ignored.

It is possible to detect the no-op by round-tripping try value and comparing against the original.  I might understand why `oc replace` would have this behavior, but `oc edit` is supposed to be userfriendl

[2015-08-16 18:31] bparees commented on #4188
having oc build-logs automatically return logs for the most recent build would be confusing automatic behavior given that you could have multiple buildconfigs in your project, any one of which might have the most recent build at any given point in time.  if you want to add a "oc build-logs --latest" flag for that sort of magic behavior i guess i could get behind it, but not default behavior.

We d

[2015-08-16 18:32] bparees commented on #4190
did you really need to open an issue instead of a PR for this?  trying to give us some low hanging fruit to fix? :)

[2015-08-16 18:34] bparees commented on #4191
can be copied from here:
https://github.com/openshift/origin/tree/master/examples/sample-app#docker-changes

[2015-08-16 18:49] deads2k opened #4198 "BuildConfig: I want to tag my image multiple ways"
When I run a build, I want to tag it as "latest", but I also want to tag with git commit id.  I've also seen other build systems where it's reasonable to tag the image with a datetime.

@bparees Is there way to express this?  I didn't see anything in https://github.com/openshift/origin/blob/master/pkg/build/api/types.go#L302

[2015-08-16 19:16] bparees commented on #4198
There's currently no way to specify multiple output images/tags, let alone
name the tag based on the commit id. However all built images now (or soon
will) include labels with information about the commit they were built
from.

Ben Parees | OpenShift
On Aug 16, 2015 2:50 PM, "David Eads" <notifications@github.com> wrote:

[2015-08-16 20:17] deads2k opened #4199 "Build.Status doesn't contain sha style pull spec URL"
I'm trying to do a `kubectl run` using the image built two builds ago.  I know which build I'm interested in, but I can't easily go  from there to knowing the image URL.  `Build.Status` already contains fields that could only have been known after the build finished.  Can we the exactly image?

@bparees

[2015-08-16 20:18] deads2k opened #4200 "oc keeps drifting from kubectl"
`oc` is supposed to mirror `kubectl`, but it keeps drifting out.  In particular, I wanted `kubectl run`.  We need a unit test that builds the command tree and makes sure that we're a strict superset.

@fabianofranz

[2015-08-16 20:23] deads2k opened #4201 "logs for pod in current deployment"
I used `oc new-app` to create an application.  By default that made `deploymentconfig` that specifies a `replicationcontroller` with 1 replica.  As I'm diagnosing my application (cycling update, push, rebuild, redeploy), it's annoying that I have to look up the correct pod each time.  Given that this our default for `new-app`, I think there's value in having a flag for deployment logs that will ta

[2015-08-16 20:31] deads2k commented on #4190
I try not to work on weekends.  I don't have a dev env set up at home.  I'm just trying to use this to build out a small server I need at home and it's proving to be frustratingly difficult to figure out what's happening.

[2015-08-16 22:01] deads2k opened #4202 "oc volume should be multiple subcommands"
When I come into `oc volume` I know what I want to do (add/remove/list), but when I get help I get this massive blob on the page of all three, plus multiple sets of mutually exclusive options and illegal combinations.  I even know roughly what command I need to run and I still get bit by things like `error: --type|--path|--secret-name|--claim-name|--source|--overwrite are only valid for --add oper

[2015-08-16 22:36] bparees commented on #4199
the imageid is only known by the build pod.  build.status doesn't contain any information like that.  the build pod would have to call back to the api to update the status with such information (this is the same reason it doesn't currently contain the exact commit id that got cloned/built, for example).

that said, oc build-logs should be showing you the image that was pushed, no?

[2015-08-16 23:53] smarterclayton commented on #4197
On Aug 16, 2015, at 2:17 PM, David Eads <notifications@github.com> wrote:

When using oc edit, if I modify the file with a tag that doesn't exist for
the object, the command completes as normal and claims that than update was
made, but the value is silently ignored.

It is possible to detect the no-op by round-tripping try value and
comparing against the original. I might understand why oc replace

[2015-08-16 23:54] smarterclayton commented on #4201
Yes, deployment logs should accept DC (anything that has the word deploy in
it should support a DC, and the same for build and BC)

On Aug 16, 2015, at 4:23 PM, David Eads <notifications@github.com> wrote:

I used oc new-app to create an application. By default that made
deploymentconfig that specifies a replicationcontroller with 1 replica. As
I'm diagnosing my application (cycling update, push,

[2015-08-17 01:49] #4017 closed

[2015-08-17 02:41] #4190 closed

[2015-08-17 02:43] liggitt commented on #4157
https://travis-ci.org/openshift/origin/jobs/75877523#L1452

[2015-08-17 02:45] liggitt commented on #4096
can't recreate, I think the test ran long. reopen if you see it again

[2015-08-17 02:45] #4096 closed

[2015-08-17 04:35] nak3 commented on #4185
This issue can reproduce by S2I only.

eg.
[code]

So, shall I open the New issue at [source-to-image](https://github.com/openshift/source-to-image/issues)?

[2015-08-17 04:57] liggitt commented on #4087
Fixed in the rebase

[2015-08-17 04:57] #4087 closed

[2015-08-17 10:08] rhcarvalho opened #4206 "`oc new-app` error message when template has invalid JSON"
Trying to use `oc new-app` with an existing template (file exists and can be read) that contains invalid JSON (parsing fails) returns an error message that doesn't help figuring out you have a problem in your template:

[code]

This pops up some times when editing an existing template and make small mistakes.

[2015-08-17 11:38] deads2k commented on #4149
Swagger was the first thing that occurred to me, but if we write out own endpoint, I'd like to to support two modes.
 1.  Full list of endpoints (sounds a lot like swagger, though it could be substantially shorter).
 1.  Is a particular endpoint supported.

[2015-08-17 11:58] nak3 opened #4207 "S2I build fails without imagestream import"
Issue
---
After update to latest origin and build it, S2I bulid(--strategy=source) can't work. Even though same command was worked with previous commit (I pulled it 72 hour ago).

Env
---
[code]

Reproduce steps
---
0. `git pull <origin>` and `make build`
1. openshift start
2. Create registry and router
3. Create new application with this command:

    `oc new-app https://github.com/openshift/sti-

[2015-08-17 12:17] deads2k commented on #4199
Given that the build pod will run with a known service account, should we simply give that service account rights to update the field?

[2015-08-17 12:21] deads2k commented on #4201
I'm asking for something a little stranger.  Think `oc deploy logs dc/my-dc --pod`.  Given a structure of dc has one active rc (deployment), rc has one active pod, pod has one active container I want to have the container logs.  That would interoperate really well with the defaults used by new-app and allow someone to quickly cycle on push, build, deploy, borked, logs.

[2015-08-17 12:24] mfojtik commented on #4207
@nak3 have you also updated the s2i builder image?

[2015-08-17 12:24] deads2k commented on #4188
I meant something like `oc build-logs bc/foo` shows me the logs for the most recent build.  `oc deploy --logs dc/foo` is going to do that.

[2015-08-17 12:25] deads2k commented on #4188
In `oc status`, I get bc names, but only build numbers because the build names themselves aren't important or interesting.

[2015-08-17 12:25] mfojtik commented on #4188
@jhadvig CC

[2015-08-17 12:27] nak3 commented on #4207
@mfojtik
No, I haven't. Should I update it? The s2i images in my env were:
[code]

[2015-08-17 12:28] deads2k commented on #4198
That doesn't have quite the same power.  Having the docker tag allows me to do things like `docker pull image:gitcommit` and it allows more natural usage with `kubectl run` without having to first a lookup by label selector.

[2015-08-17 12:30] deads2k opened #4208 "oc start-build bc/bc-name --commit=hash"
Yesterday, I really wanted to be able to build a particular commit in master.  I didn't see a flag in `oc start-build`.

@bparees is there a way to do this?

[2015-08-17 12:33] mfojtik commented on #4208
not without telling buildController to override the ref of the BC when generating a build afaik.

[2015-08-17 12:34] mfojtik commented on #4208
but +1 to make this work... sound pretty usefull

[2015-08-17 12:42] mfojtik commented on #4208
@deads2k alternative would be to teach start-build to:

* Fetch the BuildConfig
* Allow to modify the `Source` fields
* Submit a build directly

[2015-08-17 12:49] deads2k commented on #4208
While I'm wishing, it'd be nice to able to specify a "one-off tag" and a pony.

[2015-08-17 12:59] nak3 commented on #4207
I tested after clean installation,and the result was almost same.
https://paste.fedoraproject.org/255852/

[2015-08-17 13:07] spadgett commented on #4195
Yeah, it's the restart count. We should find a place in the UI to say why, maybe a tooltip or a warning icon in the sidebar by the field. We're looking overview changes anyway.

@jwforres @liggitt fyi

[2015-08-17 13:07] mfojtik commented on #4207
@nak3 can you also try to update the php image?

cc @bparees

[2015-08-17 13:32] ironcladlou commented on #4201
I like the idea of simplifying the targetting of the container for log access, but the tool is rendered ineffective once the replica count becomes >1 (which very soon or always for all nontrivial apps). Does that make the idea too special-purpose?

[2015-08-17 13:35] fabianofranz commented on #4183
@liggitt please tag and assign to me.

[2015-08-17 13:42] liggitt commented on #4201
Other things defaults to using the first found item (like oc exec using the first container if none is specified). Would that work?

[2015-08-17 13:44] deads2k commented on #4201
Choosing the first item found would satisfy me.

[2015-08-17 14:08] nak3 commented on #4207
@mfojtik  OK, I found the cause of this issue.

I forgot to create image-streams after update by hand like:

`oc create -f examples/image-streams/image-streams-centos7.json`

I can reproduce my reported issue by `oc delete is php`. And I could fix it with above command.

[2015-08-17 14:13] nak3 commented on #4207
So, ***import ImageStream*** is must to create new application from S2I?

[2015-08-17 14:14] rhcarvalho opened #4211 "Independent persistent storage for replicated pods"
Trying to [add persistent storage to our MongoDB replication example](https://github.com/openshift/mongodb/pull/75) template, we hit into a show stopper: if a DeploymentConfig's pod template has a PersistentVolumeClaim, the same claim is reused for every replica deployed.

We need a way to provide persistent storage to a pod that scales with `oc scale`, so that new replicas get new PVCs and claim

[2015-08-17 14:16] bparees commented on #4211
@pmorie @markturansky I think you've already been involved in this discussion, can you tell us the current plans around this?

[2015-08-17 14:18] #4112 closed

[2015-08-17 14:21] smarterclayton commented on #4201
I don't really like using first found pod.  There are probably other ways
to solve this.

On Mon, Aug 17, 2015 at 9:44 AM, David Eads <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-17 14:22] smarterclayton commented on #4149
The canonical behavior for an api doc is to display links to the items -
that's what "/foo/v1" should contain.  We need an upstream agreement though
before we do anything excessive.  At a minimum the resources you can reach,
the product name, and potentially some other way to flag selective behavior.

On Mon, Aug 17, 2015 at 7:38 AM, David Eads <notifications@github.com>
wrote:

--
Clayton Coleman

[2015-08-17 14:24] deads2k commented on #4201
I bet I could solve this using bash!

or you know, go curl up crying in a fetal position on the floor.

[2015-08-17 14:27] markturansky commented on #4211
https://github.com/kubernetes/kubernetes/issues/260

Scaling storage is on the radar and the above issue talks through many of the problems and difficulties.  This feature is growing in importance and we're starting to dissect the requirements on the linked issue.

No official design yet or implementation plan, but it is in the works.

[2015-08-17 14:28] fabianofranz opened #4212 "Deployments should have status timestamps"
Builds have timestamps attached to `status` for the start and completion (`status.startTimestamp` and `status.completionTimestamp`), along with the creation timestamp in metadata `metadata.creationTimestamp`. This allows to know exactly a build started and finished to run, and to calculate the exact duration it took. Deployments should have them too, and have these displayed in both `oc describe`

[2015-08-17 14:37] smarterclayton commented on #4201
The reason I don't like using first found pod is because all other places
we use first found anything, there is a way to get the extra thing.  This
would be the first place where you can't get anything.  I don't disagree
this is useful.  I'm a little worried about the predictability / behavior.

On Mon, Aug 17, 2015 at 10:24 AM, David Eads <notifications@github.com>
wrote:

--
Clayton Coleman | Le

[2015-08-17 14:38] fabianofranz commented on #4200
We could run the `kubectl` tests as `oc`, if they allow such parametrization. I'll check.

[2015-08-17 14:40] bparees commented on #4199
i feel like this has been discussed elsewhere...do we have that level of granularity available?

[2015-08-17 14:40] deads2k commented on #4201
Could we agree to build out this functionality and fail if we can't match exactly with the possibility of being more tolerant in the future?  This was a serious pain point.

[2015-08-17 14:40] pmorie commented on #4211
@rhcarvalho Can you say a little more about your use-case so that we're all on the same page?  It's not clear to me currently whether you want:

1.  Each replica to use the same storage
2.  Each replica to make a new claim

[2015-08-17 14:42] bparees commented on #4188
@deads2k I stand by the statement that oc build-logs should be going away in favor of oc logs.  the oc logs behavior for bc/somebc could be what you propose, but again it has latency implications.

[2015-08-17 14:42] rhcarvalho commented on #4211
@pmorie in the case of a MongoDB replica set, each member (a container in a pod) should have it's own independent storage.

[2015-08-17 14:43] bparees commented on #4198
i wasn't claiming it did.

[2015-08-17 14:50] deads2k commented on #4199
We could grant rights to update builds.  It doesn't seem unreasonable for a build controller identity to have those permissions.

[2015-08-17 14:56] smarterclayton commented on #4201
Open an issue for it and let's take the discussion there.

On Mon, Aug 17, 2015 at 10:40 AM, David Eads <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-17 14:58] deads2k commented on #4201
Um, isn't this the issue?

[2015-08-17 15:08] bparees commented on #4207
no that should not be mandatory, new-app should be locating the php image on dockerhub and creating the imagestream for you.  it sounds like maybe that was done but a new version of the image wasn't pulled down.  Not clear why creating the imagestream would change that or why deleting it un-changed that.

what does your non-working buildconfig look like?

[2015-08-17 15:13] smarterclayton commented on #4201
Oh, this got lumped in to the other thread for some reason.   I don't think failing is going to make users feel better - it would be better to just pick a random pod every time to show logs for and tell the user what pod they're seeing.

[2015-08-17 15:54] #4066 closed

[2015-08-17 16:41] #4143 closed

[2015-08-17 17:48] pweil- opened #4215 "Router default backend"
Currently, if no lookups are found for a route we fall through to 127.0.0.1:8080.  Since nothing is running there that call can hang for a bit before returning.  We need to test if this is indeed causing slowness in returning routes that are not found and consider having something there (or elsewhere) to respond quickly.  Or, see if we can just fall through to nothing so the lookup fails and retur

[2015-08-17 18:19] ramr commented on #3926
@danmcp @nstrug  - this has been fixed and @rajatchopra  and I can't seem to close out the issue.
Can you please help close this. Thanks.

[2015-08-17 18:20] smarterclayton opened #4217 "oc new-app with no arguments should suggest -L and -S"
It should be a multiline error messages with instructions that help users get to the point where they can understand how to find things to create.

[2015-08-17 18:26] #3926 closed

[2015-08-17 18:37] csrwng commented on #4186
@nak3 can you reproduce this with a recent build of origin? I couldn't reproduce with a recent build:
[code]

[2015-08-17 20:02] stevekuznetsov opened #4222 "Extended Test Script Difficult to Use"
I have encountered the following issues:
- When the script exits, it does not always kill the running OpenShift instance. This furthermore makes subsequent runs fail because they can't ping `healthz`. That's frustrating because:
- When the cluster can't be started, there's no good error message and seeing the `healthz` failure gives me no information
- When the cluster fails at a point between ini

[2015-08-17 21:08] spadgett opened #4224 "Pod incorrectly labeled as status "pulling..." in UI"
The UI says "pulling..."

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/9316266/04c02e98-4502-11e5-9da8-d0e9734498e1.png)

But it's not...

[code]

[2015-08-17 21:16] mwringe opened #4225 "Certificates are not bound to the master's IP address when creating configurations"
version: 1.0.4

When creating the configuration, the certificate files are not created using the masters IP address.

What is happening here is that it is picking the IP address from one of the system network interfaces. If this IP address changes, then OpenShift will not be able to start and it doesn't really tell the user what the problem is (see https://gist.github.com/mwringe/5fd70dc86fb6027e8

[2015-08-17 21:43] fabianofranz opened #4226 "Inconsistencies in command names and its subcommands trees"
From discussions in the CLI Design meetings.

We need to address some inconsistencies in
* command names - some use nouns in singular and others in plural
* subcommands or flags for sub-actions of grouping commands (e.g. `noun list`, `noun --list`, or even `nouns`).

Examples of current inconsistencies
* `oc secrets new|add|...` (grouping command, *plural* but handle one secret at a time)
* `oc vo

[2015-08-17 21:43] fabianofranz commented on #4226
FYI @smarterclayton @bparees @jwforres
Please tag @liggitt

[2015-08-17 21:47] fabianofranz commented on #4226
also @deads2k

[2015-08-17 23:18] smarterclayton commented on #4226
Does the plural in commands help?  It's just one more letter to type every time.  Does it improve comprehension?

[2015-08-17 23:24] smarterclayton commented on #4226
Policy is inherently plural.  Label is a verb, not a noun.  I'm not opposed to the proposal as long as perfect back compat is maintained

[2015-08-17 23:33] smarterclayton commented on #4201
I take back random, it should be the oldest pod (the most likely to trigger
a canary failure).

On Aug 17, 2015, at 10:58 AM, David Eads <notifications@github.com> wrote:

Open an issue for it and let's take the discussion there.

Um, isn't this the issue?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4201#issuecomment-131853526>.

[2015-08-17 23:44] xuant opened #4227 "openshift.spec file doesn't pick up change in static assets"
I am trying to customize the static assets and make the corresponding RPM package.

What I did:
[code]

The changes to the assets reflected upon the binary created in Step 2 but not upon the packages created in Step 3.

@detiber

[2015-08-18 00:20] nak3 commented on #4186
The recent build can reproduce it. Then, I found why you couldn't reproduce it.
Please pull `docker.io/scratch:latest` before the test. (I pulled it because of test-B.)

1. Pull docker.io/scratch:latest

    `# docker pull docker.io/scratch:latest`

1. You can reproduce this issue with

    `# oc --loglevel=10 new-app https://github.com/nak3/dockerfile-buildtest.git -l app=test-A`

I tested above

[2015-08-18 01:13] nak3 commented on #4207
@bparees I tested it on OSE v3 as well and the result was same. Without imageStream, we failed to build by S2I. Please see buildConfig below.

* OSE v3 (v3.0.1.0-525-geddc479)

Non-working : https://paste.fedoraproject.org/256049/
Working     : https://paste.fedoraproject.org/256047/

* Origin (v1.0.4-286-g9dd0e51-dirty)
Non-working : https://paste.fedoraproject.org/256052/
Working     : https://p

[2015-08-18 02:53] smarterclayton opened #4228 "Bug with deleting lots of namespaces and then restarting"
Seeing this:

[code]

after deleting 50 projects and then restarting the master while deletion was ongoing.

[2015-08-18 02:55] smarterclayton commented on #4228
I was apparently able to wedge the namespace controller.

[2015-08-18 02:56] smarterclayton commented on #4228
Don't seem to be able to recover from this.

[2015-08-18 02:59] smarterclayton commented on #4228
[code]

[2015-08-18 02:59] smarterclayton commented on #4228
That's the master dying after 50 seconds or so

[2015-08-18 03:47] bparees commented on #4226
all singular: bad because in some cases the intuitive assumption will be plural
all plural: bad because in some cases the intuitive assumption will be plural
some singular, some plural:  bad because now i have to remember which is which.

that's how we arrived at "always support both forms"

i don't have a strong opinion about which form the help shows, ie which is the "canonical" form, but we sho

[2015-08-18 03:50] liggitt commented on #4199
could we update build/status instead, to avoid interference from admission checks intended to guard docker/source/custom build types?

[2015-08-18 04:06] bparees commented on #4199
related discussion: https://trello.com/c/3GzMxKzg/656-ability-to-truly-rerun-a-build

[2015-08-18 04:14] liggitt commented on #4224
@smarterclayton ha

[2015-08-18 04:16] bparees commented on #4144
@smarterclayton has spoken, so closing.

@deads2k you can reopen if you get him on board.

[2015-08-18 04:16] #4144 closed

[2015-08-18 04:16] bparees commented on #4123
should also apply to new-build command.

[2015-08-18 04:19] liggitt commented on #4228
did you delete the openshift-infra project?

[2015-08-18 04:19] bparees commented on #4006
@mfojtik not sure if this ever got done?  if not you own it until it does :)  (but @jhadvig can help...and @gabemontero can review..)

[2015-08-18 04:19] liggitt commented on #4228
not getting a token for one of the infra clients is indicative of that... might be a dupe of https://github.com/openshift/origin/issues/3274

[2015-08-18 04:21] bparees commented on #3931
we should probably just change this text to say "a build configuration was created, you can run...."

that gives less implication about whether one will run automatically or not (knowing whether one will run automatically or not is a harder question since it depends on the contents of the buildconfig)

though if buildconfigs created by new-app will always have the new configchangetrigger then we c

[2015-08-18 04:27] liggitt commented on #4225
Looks correct to me:
[code]

The specified IP should at least be in the subjectAltNames

[2015-08-18 04:31] bparees commented on #4185
I was able to run

sti build https://github.com/openshift/sti-ruby.git --context-dir=2.0/test/puma-test-app/ openshift/ruby-20-centos7 ruby-sample-app  --loglevel=5

with no problem.  can you try again with --force-pull=true?

[2015-08-18 04:32] liggitt commented on #4215
Someone who was actually serving something on 127.0.0.1:8080 would find it disconcerting for that thing to be served by the router as a fall through. I would vote for falling through to nothing, unless there are implications I'm missing

[2015-08-18 04:35] bparees commented on #4186
I was able to recreate this by doing the docker pull that @nak3 suggested.  I can only assume it has to do with the introspection we attempt to do on the image.

[2015-08-18 04:42] bparees commented on #4207
@csrwng I think you helped someone else with this issue...   because @nak3's app name is "php", if the imagestream doesn't exist, new-app creates the imagestream and points it to the dockerhub php image, which is not the right image to use as a builder.

then when the build runs, the imagestream resolves to the dockerhub library/php image and the s2i build fails.

Creating a new S2I builder with b

[2015-08-18 04:44] bparees commented on #4207
actually i guess the appname isn't php, we're just setting up the From incorrectly, period.

[2015-08-18 04:47] bparees commented on #4207
(ok so as i think about it this is probably working as designed...  we try to find a php image to build the app with, since there are no builder imagestreams we can't find one that way, so we just fall back to an image named "php" on dockerhub, which in this case is not the right answer.  the workaround would be to explicitly specify the builder image to use (openshift/php-55-centos7) when invokin

[2015-08-18 04:52] liggitt commented on #4227
after the `hack/build-assets.sh` step, did you see a changed `bindata.go` file?
did you commit the changes to `index.html` and `bindata.go`? @detiber, do local changes need to be committed to be picked up in the build?

[2015-08-18 06:25] xuant commented on #4227
@liggitt Just tested it. After the `hack/build-assets.sh`, there are changes in `bindata.go` file and I do need to commit the change for it to be picked up in the build. Thanks!

[2015-08-18 06:25] #4227 closed

[2015-08-18 06:25] nak3 commented on #4185
@bparees
--force-pull=true didn't fix this issue.  But after I removed stored images `openshift/ruby-20-centos7` , it worked.

Then, I found the reproduce steps. I realized that I built the `openshift/ruby-20-centos7` by myself. Please see the reproduce steps below.

Reproduce steps
---

1. Build `openshift/ruby-20-centos7` by myself followed by [here](https://github.com/openshift/sti-ruby/tree/ma

[2015-08-18 06:29] nak3 commented on #4207
Yes, sorry it was my mistake.

[2015-08-18 06:58] nak3 commented on #4186
The strange thing is that we can't hit this issue with `--context-dir` option (test-B above).

[2015-08-18 08:05] rhcarvalho commented on #4206
I would expect to see a message about error parsing template / invalid JSON.

[2015-08-18 09:27] jhadvig commented on #4045
@spadgett I can still reproduce the issue. Or where not referring to this one ?

[2015-08-18 09:35] mfojtik commented on #4123
@jhadvig fyi

[2015-08-18 09:38] jhadvig commented on #4052
This issue shall be fixed by merging https://github.com/openshift/origin/pull/4072

[2015-08-18 11:49] spadgett commented on #4045
@jhadvig Right, I typed my comment in the wrong issue.

[2015-08-18 12:11] smarterclayton commented on #4228
Yes, but also Kube system.  Wasn't sure whether the lock up was total.  We
should probably for now protect against delete of a white list of projects
and let namespace delete cover them.

On Aug 18, 2015, at 12:19 AM, Jordan Liggitt <notifications@github.com>
wrote:

did you delete the openshift-infra project?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origi

[2015-08-18 12:26] jhadvig commented on #4123
@mfojtik looking on this one

[2015-08-18 12:30] spadgett commented on #3992
Looking at the JSON, I see the name right there with the port in the container spec. This should be easy to add. @jwforres Are we keeping the pod template on the overview page?

[2015-08-18 12:34] deads2k commented on #4226
I'm fine with showing plural by default and accepting both.  I actually do tend to type plural for the nouns, but I couldn't say for sure that I haven't been trained by resources.

[2015-08-18 12:43] smarterclayton commented on #4226
I dislike the extra character in the plural for brevity and fitting our
commands into the space we have on the screen.  It's marginally more
discoverable.  It's marginally less clear for singular actions (oc secret
add).  We will probably always have a few singular nouns in the command set
- 'openshift start master' isn't going to be 'openshift start masters'.
Lists under nouns (volume, secret) wi

[2015-08-18 13:11] smarterclayton commented on #3274
As a simple fix let's have the project command ignore deletes for a set of whitespaced project names.  Admin can still delete them with namespace rest API but this prevents stupid stuff.

[2015-08-18 13:14] mwringe commented on #4225
Strange, it works with '1.2.3.4' but not when I use an actual network interface.

$ openshift start --write-config=openshift.local.config --hostname=$IP_ADDRESS --public-master=$IP_ADDRESS --master=$IP_ADDRESS
$ openssl x509 -in openshift.local.config/master/master.server.crt -noout -text
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 4 (0x4)
    Signature Algorithm: sha256

[2015-08-18 13:18] liggitt commented on #4225
They might get sorted, check all the subjectAltNames

[2015-08-18 13:26] jhadvig opened #4233 "Environment variables passed to the new-app should available in non-generated deploymentConfigs"
When I create a new application via `new-app` cmd and pass a env var that I wanna to take place in launched containers, they will be available only in containers that were created by deploymentConfig which was generated via the `new-app` command, not those which are created from the template.

[2015-08-18 13:27] jhadvig commented on #4233
@csrwng fyi

[2015-08-18 13:31] jwforres commented on #3992
@spadgett i think so , but maybe we need a "minimal" pod template and a more detailed one?

[2015-08-18 13:41] deads2k commented on #4052
fixed.

[2015-08-18 13:41] #4052 closed

[2015-08-18 13:50] jhadvig commented on #4123
https://github.com/openshift/origin/issues/4233 is dealing with this issue but from the deploymentConfig perspective

[2015-08-18 13:55] smarterclayton opened #4234 "Service account setup doesn't retry on race"
[code]

This means servers can start up and not initialize their service accounts.

[2015-08-18 13:57] deads2k commented on #4234
You want this fixed via a controller or multiple retries in ensure?

[2015-08-18 14:04] liggitt commented on #4234
That's just recording the fact that the setup happened. It'll retry recording on next startup.

[2015-08-18 14:09] deads2k commented on #4234
True, but the risk remains for the `AddRole` immediately above right?

[2015-08-18 14:11] liggitt commented on #4226
As a data point, resources accept both singular and plural

[2015-08-18 14:11] deads2k commented on #4222
Fixed in #4072 .

[2015-08-18 14:12] bparees commented on #4226
are you arguing against tolerating plural, or against showing it in the help?

[2015-08-18 14:24] liggitt commented on #4234
Sure, still needs fixing, but I wouldn't call it p1

[2015-08-18 14:28] liggitt commented on #4225
Yeah, the specified IP is in the subject alt names:
[code]

[2015-08-18 14:30] liggitt commented on #3274
the project API, you mean?

[2015-08-18 14:31] liggitt commented on #3274
also, we should move `RunOriginNamespaceController()` up to the special list of controllers that get started first, so it can clean things up even if the service account token fetcher has issues

[2015-08-18 14:33] danmcp commented on #4225
Please reopen if there is still an issue here.

[2015-08-18 14:33] #4225 closed

[2015-08-18 14:40] liggitt commented on #4228
The primary issue is our namespace cleaner controller not getting started in the correct order. Once that is started in the first controller group, a couple server restarts would clear the issue.

Agree we want to make it harder to delete default/system/openshift-infra accidentally, but not sure the cleanest way to do so

[2015-08-18 14:43] mwringe commented on #4225
There is still an issue, but this might not be the main cause. You cannot restart OpenShift if the network interface changes. After discussions on irc it looked like this might have been the case, but now I am not sure.

[2015-08-18 14:57] spadgett opened #4237 "Example router --create command doesn't work"
`oadm help router` shows this example command:

[code]

It is missing the `--service-account` arg, however.

[code]

[2015-08-18 15:00] spadgett commented on #4237
Also appears to be missing `--credentials`.

[2015-08-18 15:06] spadgett opened #4238 "Long env vars display poorly in UI details sidebar"
See screenshot. This is at ~850px wide.

<img width="216" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/9333641/cee4460a-4598-11e5-8662-a27fee52b1cd.png">

Similar to #2572

/cc @jwforres

[2015-08-18 15:23] smarterclayton commented on #4228
I found it useful as an admin to naturally want to oc delete projects
-all.  I at least think of them as "user projects" which we don't have a
clear name for.

On Tue, Aug 18, 2015 at 10:40 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 15:24] smarterclayton commented on #4234
Probably multiple retries and fail if you can't continue.  That's what the
masters do.  If initialization is required, we shouldn't be able to go past
initialization.  Hence why it got the P1 (it means you could start a
cluster and it wouldn't work, just because of race).

On Tue, Aug 18, 2015 at 10:24 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenSh

[2015-08-18 15:25] smarterclayton commented on #3274
The API.

On Tue, Aug 18, 2015 at 10:31 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 15:26] smarterclayton commented on #4226
Just making arguments both ways.  We say plural is more useful, for
discovery, but if both ways work for discovery and we support both
discoverability isn't useful (because you'll use whatever you see in help,
and like it)

On Tue, Aug 18, 2015 at 10:12 AM, Ben Parees <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 15:26] #4078 closed

[2015-08-18 15:27] jwforres commented on #4001
Should show the added fields in the web console settings page:

1. LimitRangeItem.DefaultRequests that allows you to set default request value for a resource.
2. LimitRangeItem.LimitRequestRatio that allows you to control the ratio between limit and request for a resource.

[2015-08-18 15:34] liggitt commented on #4228
Closing as dupe of #3274

[2015-08-18 15:34] #4228 closed

[2015-08-18 15:35] bparees commented on #4233
per scrum discussion my vote would be to not do this.  templates have a mechanism for overriding parameters, but if you want new env variables you should create your own template or make parameters to represent them.

ok to close?

[2015-08-18 15:36] bparees commented on #4123
per scrum discussion, we need to retain the ability to add an env variable to just the deployment config, because if you add an env variable to the buildconfig it gets baked into the image which might be undesirable.

so we need basically two flags, one to add env variables to the DC, and one to add them to the BC.

[2015-08-18 15:37] bparees commented on #4123
@csrwng fyi.

[2015-08-18 15:39] danmcp commented on #4197
Should move to card?

[2015-08-18 15:39] liggitt commented on #3274
Moving relevant discussion points from #4228:

1. Move RunOriginNamespaceController() to first controller group
2. Prevent `delete project --all` from deleting "default", "openshift-infra" (configurable), "kube-system" (maybe?), and others? Possible mechanisms:
  * annotation on a namespace. requires fetch before delete
  * special list of projects to disallow deleting via the API

[2015-08-18 15:41] bparees commented on #4226
no I won't, because i'll forget if the help said "build" or "builds" and i'll try one and get it wrong.

i'm not making a discoverability argument, i'm making a memorization tax argument.

[2015-08-18 15:45] smarterclayton commented on #4226
discovery and we support both discoverability isn't useful (because you'll
use whatever you see in help, and like it)

"if ... we support both"

On Tue, Aug 18, 2015 at 11:41 AM, Ben Parees <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 15:48] liggitt commented on #4164
Keep individual issues open for flakes, don't aggregate them into a single issue

[2015-08-18 15:48] danmcp commented on #4149
Needs to move to card?

[2015-08-18 15:49] bparees commented on #4185
repull openshift/base-centos7 and then rebuild your image and it will work.

[2015-08-18 15:49] bparees commented on #4185
@mfojtik fyi.  looks like @nak3 and i both had a bad base-centos7 image that wasn't doing scl enablement properly.  once i updated base-centos7 and rebuilt ruby-20-centos7 i can't reproduce anymore.

[2015-08-18 15:51] spadgett commented on #4045
@jhadvig have you started looking at this?

[2015-08-18 15:52] liggitt opened #4239 "Flake in travis on upstream test TestRequestExecuteRemoteCommand/TestRequestAttachRemoteCommand"
https://travis-ci.org/openshift/origin/jobs/75076860#L1453

[2015-08-18 15:55] liggitt opened #4240 "Flake in travis on upstream test TestForwardPorts"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/portforward/portforward_test.go#L290

[2015-08-18 15:56] liggitt opened #4241 "Flake in travis on upstream test TestEventf"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/record/event_test.go#L59

[2015-08-18 15:56] mfojtik commented on #4185
@bparees cool. fyi we have special labels that might help identify what base version you have:

`io.openshift.builder-base-version` is a Git ref from which the base image was built

[2015-08-18 15:58] liggitt opened #4242 "Flake in travis on upstream test TestMaxInFlight"
https://travis-ci.org/openshift/origin/jobs/74904847#L1444

[2015-08-18 15:58] liggitt commented on #4050
opened individual issues for flakes. closing this issue.

[2015-08-18 15:58] #4050 closed

[2015-08-18 15:59] mfojtik commented on #4005
@danmcp actually I was planning to work on this tomorrow (if @deads2k has not already started)

[2015-08-18 16:08] smarterclayton opened #4243 "All CLI usage errors should print the usage string."
At some point this regressed.

[2015-08-18 16:08] smarterclayton commented on #4243
Probably upstream @fabianofranz @deads2k @eparis

[2015-08-18 17:01] deads2k commented on #4005
I have not.

[2015-08-18 17:08] jwforres commented on #2815
@pmorie bump

[2015-08-18 17:28] jhadvig commented on #4233
@bparees sounds good. Closing

[2015-08-18 17:28] #4233 closed

[2015-08-18 17:28] liggitt commented on #368
This isn't an issue in practice, closing

[2015-08-18 17:28] #368 closed

[2015-08-18 17:31] jwforres commented on #2194
@sspeiche is this still a problem with the cluster.local suffix?

[2015-08-18 17:34] jwforres commented on #2281
The console doesnt have a footer, so there isnt a great place for it to always show up.  Discussed with @liggitt and we should probably have it appear somewhere in the login page.

[2015-08-18 17:50] liggitt opened #4245 "Flake in TestWebhookGitHubPushWithImageStream test"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/4235/console
Either a race in the test or in the actual API
[code]

[2015-08-18 17:51] spadgett commented on #4045
@jhadvig sorry if you've started on this. I was assigned it as a release blocker, so wanted to get a fix in.

[2015-08-18 18:01] liggitt commented on #4242
https://travis-ci.org/openshift/origin/jobs/76145782#L1444

[2015-08-18 18:06] spadgett commented on #2815
We do have another issue for the warning style being mysterious, #4195

[2015-08-18 18:14] fabianofranz commented on #4226
If we decide to tolerate both, then the argument for what we show in help can be cohesion/fluency, decided for each case individually. E.g.: `secret` and `group` because you manage once at a time, `labels` because multiple at a time or `label` if we see it more like a verb, etc.

[2015-08-18 18:20] bparees commented on #3995
closing as question has been answered, @Yashu5 feel free to reopen or post to the mailing list if you have further questions.  thanks!

[2015-08-18 18:20] #3995 closed

[2015-08-18 18:20] danmcp commented on #3914
@roldancer Bump

[2015-08-18 18:24] ironcladlou commented on #3781
@smarterclayton is this still a concern? Have you see it happen again?

[2015-08-18 18:29] ironcladlou commented on #3928
@rawlingsj

How were the pods created? Directly, or via a deploymentConfig? Could you please post your pod and/or deploymentConfig YAML (`oc get pod -o yaml` and `oc get dc -o yaml`)?

[2015-08-18 18:30] danmcp commented on #3979
Please reopen if there are any remaining issues/questions.

[2015-08-18 18:30] #3979 closed

[2015-08-18 18:30] bparees commented on #3927
@derekwaynecarr assigning to you since @ncdc is on pto.

@david-strejc logs from the docker registry would be a great start.

i'm also going to update the code in question to actually report the error it got when pushing.

[2015-08-18 18:33] bparees commented on #3927
https://github.com/openshift/origin/pull/4246

[2015-08-18 18:36] ironcladlou commented on #3860
Is this still a p2? The deployments label seems a little premature.

[2015-08-18 18:43] rawlingsj commented on #3928
Actually both, the pods I was using were created manually but it also happened with the router and registry so they use a deployment config right?

The environment is long gone now unfortunately so don't have the yaml or json but as it was the default 1.0.3 registry and router then maybe that helps?

[2015-08-18 18:58] ironcladlou commented on #3928
@rawlingsj

Can you give me more information about the environment to reproduce the problem in? Which ansible setup did you use (e.g. AWS, local, something DIY)? The way I'm interpreting your description so far is "using the standard Origin installation, the router and registry are broken out of the box". Is that basically accurate? You mentioned that the router and registry failed to deploy.

[2015-08-18 19:02] ironcladlou commented on #3543
One way to do this within the existing controller framework would be to make each pod handler invocation query for other deployer pods so that a relative position/age could be determined and then delete, but that seems like an expensive thing to do on every full sync. This seems better handled with a general GC framework.

Is this still a p2 at the moment?

[2015-08-18 19:03] ironcladlou commented on #3526
@smarterclayton I don't see this happening in the short term; should it be p3?

[2015-08-18 19:06] ironcladlou commented on #3516
Is this a p3 for now?

[2015-08-18 19:16] benjaminapetersen opened #4247 "$rootScope.$apply() in DataService.get() causes looping errors"
There is a call to `$rooteScope.$apply()` in DataService.get() that can cause Angular to throw `$digest` errors:

`Error: [$rootScope:inprog] $digest already in progress
http://errors.angularjs.org/1.3.8/$rootScope/inprog?p0=%24digest`

A string of promises in controller code is an example of what can trigger this error.  A slimmed down example of what can potentially cause this:

[code]

The bloc

[2015-08-18 19:23] jwforres commented on #2815
I just want to make sure there isn't some edge case we've missed and that these pods should still be yellow. If @pmorie can recreate it :)

[2015-08-18 20:19] rawlingsj commented on #3928
@ironcladlou

Yes sure, it was an OpenStack environment.

I'm not sure what the standard Origin installation is for multi-node setup as the docs seem to only suggest using a docker image for Origin https://github.com/openshift/origin#getting-started, there is every chance I've missed the right doc.

From memory I used the tagged version (3.0.0-3) from https://github.com/openshift/openshift-ansible

[2015-08-18 20:19] liggitt commented on #4247
The promise returned from `get` should always be resolved inside a digest, otherwise all the consumers have to do their own $apply for any changes they make to take effect.

The second half of the function resolves the deferred from a call to `$http`, which does an `apply` for you.

[2015-08-18 20:22] liggitt commented on #4247
https://github.com/angular/angular.js/blob/master/src/ng/http.js#L1279-L1284

[2015-08-18 20:41] smarterclayton commented on #3860
It's not deployments, it should be runtime or something lower level.  Or
security.

On Tue, Aug 18, 2015 at 2:36 PM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 20:42] smarterclayton commented on #3781
It's hard to say whether it was readiness or not, but I still see long lags.

On Tue, Aug 18, 2015 at 2:24 PM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-18 21:22] benjaminapetersen commented on #4247
@liggitt Using a couple different normal promise resolution chains I can easily trigger this digest loop error. Here is another example I ran into using `$q.all()`:

[code]

The lines in the [Angular docs](https://docs.angularjs.org/error/$rootScope/inprog?p0=$digest) seem to indicate that $rootScope.$apply should be pretty explicit, something the controllers should be responsible (if needed).  Th

[2015-08-18 21:24] sdodson commented on #4009
We had a lengthy discussion about this today and the conclusion was that the area where using externally signed certs is most valuable would be on externally facing master interfaces. Either by establishing a second listening port (443!) or by putting a proxy in front of the environment. Consensus was that most deployments would be OK with internal components using the autogenerated CA/Certs.

[2015-08-18 21:27] liggitt commented on #4247
whatever we do, we have to resolve returned promises consistently inside or outside a digest loop, otherwise callbacks will be unsure whether they need to trigger an apply to make their changes take effect. $http triggers a resolution, so I feel like anything else we do in `get` needs to as well

[2015-08-18 21:29] spadgett commented on #4247
Agree with @liggitt. It would be very easy to miss this in the controllers because it works sometimes and sometimes not depending on the code path. There's no error as well when not in a digest loop, just the UI won't update.

Can we just check if a digest is in progress?

[code]

Like the $http code @liggitt linked to.

[2015-08-18 21:38] spadgett commented on #4247
Actually, this might be better:

[code]

http://stackoverflow.com/questions/12729122/prevent-error-digest-already-in-progress-when-calling-scope-apply

[2015-08-18 21:39] liggitt commented on #4247
That probably simulates $http (which involves a sync) better

[2015-08-18 21:43] spadgett commented on #4247
Reading further in the thread I linked, we might try `$scope.$evalAsync()`.

[2015-08-18 22:08] liggitt commented on #4247
That could be good. Looks like $http is doing something similar, actually.

[2015-08-18 23:57] smarterclayton commented on #3543
Yes for now.

On Aug 18, 2015, at 3:02 PM, Dan Mace <notifications@github.com> wrote:

One way to do this within the existing controller framework would be to
make each pod handler invocation query for other deployer pods so that a
relative position/age could be determined and then delete, but that seems
like an expensive thing to do on every full sync. This seems better handled
with a general GC

[2015-08-18 23:58] smarterclayton commented on #4226
Label is a verb, not a noun.  Like annotate.  Verbs are vastly preferred,
but alas we cannot verb everything and still explain to users how to
accomplish things.  Which is why we have groups of commands (secrets,
volumes, policy).  We should probably describe and link that somewhere.

On Aug 18, 2015, at 2:14 PM, Fabiano Franz <notifications@github.com> wrote:

If we decide to tolerate both, then

[2015-08-19 04:15] bparees opened #4255 "build log entries get duplicated when following"
when streaming the logs the entries start over at some point, duplicating the initial values.

when viewing the logs after the build is complete (via oc build-logs) the duplication is not present.

duplication is seen at line 13:
https://gist.github.com/bparees/43727f4e80906cd42e47#file-gistfile1-txt-L13

[2015-08-19 04:55] nak3 commented on #4185
@mfojtik I can't output `io.openshift.builder-base-version`. It can  output only

[code]
Full log : https://paste.fedoraproject.org/256576/

Although it is supposed to output here... :
https://github.com/openshift/source-to-image/blob/31db1baa8eebfed87a3762a3c7ff1855201cc762/pkg/api/describe/describer.go#L88-L90

[2015-08-19 05:05] bparees commented on #4185
@nak3 can you go ahead and pull the new base-centos7 and rebuild?

also @mfojtik was asking you do docker inspect the image, that will show you the label he referred to, assuming your image is new enough to have been built with those labels.

[2015-08-19 05:53] nak3 commented on #4185
@bparees
repull openshift/base-centos7 and rebuild image fixed this issue. Thanks.

The base image which caused this issue was : https://paste.fedoraproject.org/256579/
Updated images is : https://paste.fedoraproject.org/256588/

[2015-08-19 11:11] jhadvig commented on #4045
@spadgett ok, no problem :)

[2015-08-19 11:25] mfojtik commented on #4006
@bparees @gabemontero as soon as https://github.com/openshift/origin/pull/4256 is merged I'm going to add document describing how to write extended test.

[2015-08-19 11:25] mfojtik commented on #4006
@bparees @gabemontero also what form it should have? just a markdown in `./docs` ?

[2015-08-19 11:48] jhadvig commented on #4006
@mfojtik let me know how may I help you on this one.

[2015-08-19 12:03] gravis commented on #3072
@mrunalp : Any news regarding your PR? Thanks

[2015-08-19 12:04] mfojtik commented on #4006
@jhadvig in fact, you can: https://github.com/openshift/origin/pull/4258

(you still have commit rights to my fork ;-)

[2015-08-19 12:25] jhadvig commented on #4006
@mfojtik with great power comes great responsibilties !

[2015-08-19 12:35] bparees commented on #4185
Great.

[2015-08-19 12:35] #4185 closed

[2015-08-19 12:47] deads2k opened #4259 "add old config start tests to extended bucket"
https://github.com/openshift/origin/tree/master/test/old-start-configs was intended to be run as an extended test.  Now that extended tests are available, we should integrate this in.

[2015-08-19 12:48] mrGrab opened #4260 "api.SecurityContextConstraints: the server could not find the requested resource"
hi,
I have installed external kubernetes v1.1.0 and etcd  v2.2.0
When I start openshift/origin (openshift v1.0.4) I get error:
5459 reflector.go:180] pkg/security/admission/admission.go:59: Failed to list *api.SecurityContextConstraints: the server could not find the requested resource

$ oc get scc
Unable to list "securitycontextconstraints": the server could not find the requested resource

When

[2015-08-19 13:01] deads2k commented on #4260
@pweil- fyi

[2015-08-19 13:06] deads2k opened #4262 "test-cmd flake "pods "hello-openshift" cannot be updated: the object has been modified""
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/4266/

@liggitt do we have a "flake" tag?

[2015-08-19 13:06] pweil- commented on #4260
SecurityContextConstraints are not yet merged into upstream Kubernetes yet.  If you are trying to use an external Kubernetes cluster then you will need to patch in this PR https://github.com/kubernetes/kubernetes/pull/7893.  FYI, we are currently opting to make the SCC type an OpenShift type in the meantime.  That PR is under review here: https://github.com/openshift/origin/pull/4252

[2015-08-19 13:44] stevekuznetsov commented on #4006
@mfojtik Stick it in the README.md inside of `test/extended` and link it from HACKING.md

[2015-08-19 13:51] ironcladlou commented on #4212
There was some discussion of this wayyyy back in #252. Should the start time be when the deployment transitions to `running` and the end time when it reaches a terminal phase? What if it goes right from `new` or `pending` to a terminal phase? Would there be a start time in that case?

[2015-08-19 13:54] ironcladlou commented on #4192
What output would you like to see? One hiccup is the error from the deployer didn't actually generate an event you can deal with- it's just log output which isn't available to `describe`. Should an event be generated instead? Are we then somehow able to correlate that event with the latest deployment (I'm not totally familiar with the capabilities of the event API)?

[2015-08-19 14:15] csrwng opened #4265 "Keep admission control plugins in sync with Kubernetes upstream"
Admission control plugins are currently specified as command-line arguments to the api server in Kube. The ones that are used upstream are specified in each of the shell scripts that start the api server for the different platforms: (ie. https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/config-default.sh#L56). We need a way to verify that we are using a superset of these or expl

[2015-08-19 14:22] #4045 closed

[2015-08-19 14:27] deads2k commented on #4171
@liggitt  5093 was carried forward from the rebase before the name change.  The current 5093 won't lay down on top of the level we rebased on and has gotten more comments since.  I'd like to defer that one until the next rebase.

[2015-08-19 14:31] stevekuznetsov opened #4266 "Extended Test Launcher Needs Better Specificity"
Currently passing arguments to `hack/test-extended.sh` chooses which `run.sh` script under `hack/test-extended/` to run, which means that isolating specific tests is not possible unless the entire start script is copied for each test. As many tests need the same start-up, this is not concise. We need to parse the arguments to `hack/test-extended.sh` in the same manner as we do to `hack/test-integr

[2015-08-19 14:33] stevekuznetsov opened #4268 "Extended Tests Use `.` Imports"
We need to remove all `import . "path/to/package"` imports from the `test/extended` files. This import scheme is hard to read and understand, and furthermore breaks any go-to-definition tooling. Current offenders:

[code]

[2015-08-19 14:34] stevekuznetsov commented on #4268
@mfojtik Keep this in mind if you're making further changes - let's not introduce more.

[2015-08-19 14:37] liggitt commented on #4268
+1

[2015-08-19 14:39] mfojtik commented on #4268
@stevekuznetsov http://onsi.github.io/ginkgo/#avoiding-dot-imports

We will have to redefine the ginkgo helpers ^^ in order to do this. However I don't think we can avoid dot import for upstream e2e.

[2015-08-19 14:43] benjaminapetersen commented on #4247
Right, $http wraps $q and is hooked into the digest loop internally.  In a controller you can `$http.then(function() { angular.extend($scope, {})  });` or use `$q.when($http)` or `$q.all([$http, $resource.$promise])`.  All will allow you to get your `$scope` updates and not worry about the digest loop.

As an aside, I don't think services should really know anything about $scope, $scope should be

[2015-08-19 14:46] liggitt commented on #3365
haven't seen the travis timeout recently. please reopen a standalone issue if it reoccurrs.

[2015-08-19 14:46] #3365 closed

[2015-08-19 14:46] mfojtik commented on #4268
@stevekuznetsov another problem is that we will have to remap Describe/It/By in each extended test package, which will be pain and will look ugly.

[2015-08-19 14:51] stevekuznetsov commented on #4268
@mfojtik Looking nice falls pretty close to last behind usability, readability, etc. I don't think prepending the package names before function calls (as we do in the rest of the code base, right?) will be bad. To be honest comparing the extended test framework we have with our integration tests is difficult. Writing an integration test is fairly simple and straightforward. Writing an extended tes

[2015-08-19 14:55] mfojtik commented on #4268
@stevekuznetsov I understand why we should avoid dot imports, just saying that it is not that trivial as it looks like. For example, kubernetes e2e use the ginkgo and gomega helpers with dot import. If I call the function from kubernetes e2e that call the gomega/ginkgo helper using dot import, will it work? Or do we need to change upstream e2e to also avoid dot imports?

Is the go-to-definition su

[2015-08-19 15:00] ironcladlou commented on #3781
Deployer container log:
[code]

Master log has nothing relevant until about 10 seconds later:
[code]

The container exits, 10 seconds later the upstream infra reacts and updated the pod status. Within millseconds, OpenShift reacts and sets the deployment status in response to the pod status update.

It seems like we're doing everything right downstream and the delay is in the Kube code reacting to

[2015-08-19 15:02] stevekuznetsov commented on #4268
I see. It may be hard but I'm not against trying.

Dot-imported function calls don't seem to be able to be followed by any go-to-definition tool I have. The other definitions in the file are fine.

[2015-08-19 15:10] deads2k commented on #4268
I think that is valuable to know the pedigree of the method you're calling at a glance.  Using a `.` to hide the origin of a method is jarring during a scan.

I don't find "it looks prettier" to be compelling enough to smash it into the current package's namespace.

[2015-08-19 15:12] mfojtik commented on #4268
@deads2k agreed, we still have to investigate the upstream e2e helpers, but I'm OK prepending helpers with the package name (we can make it shorter ginkgo -> g, gomega -> go)

[2015-08-19 15:18] deads2k commented on #4268
I have no issue with assigning a different qualifier to the import.

[2015-08-19 15:41] stevekuznetsov opened #4271 "Parallelized Extended Test Output Poor"
@mfojtik When running in parallel, the output from a test collides with the output from nodes:

[code]

[2015-08-19 15:43] bparees commented on #4006
+1 @stevekuznetsov

[2015-08-19 15:44] mfojtik commented on #4271
@stevekuznetsov try to remove -stream option from ginkgo

[2015-08-19 15:45] danmcp commented on #3800
@smarterclayton Bump

[2015-08-19 15:45] deads2k commented on #4200
@fabianofranz I've got a pull fixing this

[2015-08-19 15:46] danmcp commented on #3824
@bsideup Bump

[2015-08-19 15:51] danmcp commented on #3928
@smarterclayton

[2015-08-19 15:53] liggitt commented on #3945
Updated description since 500 has been fixed

[2015-08-19 15:55] deads2k commented on #3576
I'm fine with carrying the small ones until we reconsider our entire carry list.

[2015-08-19 15:55] #3576 closed

[2015-08-19 15:56] benjaminapetersen commented on #4247
Initially swapping for `$timeout` seems to work well without breaking other things.  I'm inclined to a fork_ami for this and have QE check it, since `.get()` is so fundamental.

@liggitt does that seem reasonable to you?

[2015-08-19 15:57] danmcp commented on #3975
@pmorie

[2015-08-19 16:21] #4191 closed

[2015-08-19 16:22] deads2k commented on #2786
Fixed in rebase.

[2015-08-19 16:22] deads2k commented on #2786
@liggitt this is fixed.

[2015-08-19 16:24] #2786 closed

[2015-08-19 16:40] mrunalp commented on #3072
@gravis See https://github.com/docker/docker/pull/15648 and https://github.com/opencontainers/runc/pull/208

[2015-08-19 16:59] gravis commented on #3072
Sweet. Will follow that.
Thanks!

[2015-08-19 17:23] stevekuznetsov opened #4275 "ImageStreamTag updated 292 years ago"
Using the following `ImageStream` definition:

[code]
I do the following:

[code]

And I see that the last updated date was `292 years ago`.

@bparees

[2015-08-19 18:33] ironcladlou commented on #3952
Some clarification:

1. The fact that hook pods are deleted upon deployment completion is consistent with the treatment of the deployer pod itself. When a deployment completes successfully, the deployer pod and hook pods are deleted. If the deployment fails, the deployer and hook pods are preserved.
2. There's potentially surprising hook pod behavior in the context of 1: if a hook pod fails but is

[2015-08-19 18:37] liggitt commented on #4275
1723 was a good year for builds

[2015-08-19 19:02] liggitt opened #4278 "Flake in TestBootstrapPolicyOverwritePolicyCommand"
https://travis-ci.org/openshift/origin/jobs/76307397#L6710

[code]

[2015-08-19 19:02] liggitt commented on #4239
https://travis-ci.org/openshift/origin/jobs/76307395#L1453

[2015-08-19 19:11] #4200 closed

[2015-08-19 19:23] fabianofranz commented on #4212
`Builds` also have `New`, `Pending` and `Running`. So I'd say the same rules should apply.

[2015-08-19 21:20] ironcladlou commented on #3781
Looked into the kubelet code. Status on the pod is updated per pod sync [here](https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/kubelet/kubelet.go#L1143). Unless the kubelet is reacting to some event received from docker regarding a pod's container state changing (causing a chain of event reactions all the way back to origin's pod watch), seems like this

[2015-08-19 21:41] smarterclayton commented on #3781
Ok, then this can be marked upstream and probably closed on
https://github.com/kubernetes/kubernetes/issues/12540

On Wed, Aug 19, 2015 at 5:20 PM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 03:29] smarterclayton commented on #3800
https://github.com/openshift/origin/pull/3912 defaults binding to ipv4 so the ipv6 problem should be gone now.  I also believe ansible is fixed(?).  We have seen an issue where periodically the service does not return an answer for a query, which is probably unrelated to these issues, but also has to be fixed.

[2015-08-20 03:30] smarterclayton commented on #4275
Ah, the crop of 1723.  I remember it well.  All our processors had 0.00000000025 transistors, and we had to code in unary notation.

[2015-08-20 03:32] smarterclayton commented on #4262
Just for you

[2015-08-20 03:33] smarterclayton commented on #4215
We should fall through to a parking page like we had in v2.  Something suitable - "No application exists"

[2015-08-20 03:34] smarterclayton commented on #4199
There was another issue for this.

[2015-08-20 03:36] smarterclayton commented on #4198
Would want to verify pushing multiple tags was fast / not inefficient.

[2015-08-20 07:09] jimmidyson commented on #3366
How's this going? Any target for this? Thinking on this & wondering why we can't support websockets in the same way docker attach can?

[2015-08-20 08:13] sebiwi commented on #4078
Ok, this solved the problem. Thanks.

[2015-08-20 08:23] sebiwi opened #4284 "DeploymentConfig trigger doesn't work properly"
Hello,

I have a DeploymentConfig that's deploying a container from an image right after the build, even if the image does not have the right tag.

Here's the DeploymenConfig:

[code]
The ImageChange trigger is set to work with the "dev" tag, and the built image has the "latest" tag.

Here's the BuildConfig I used to create the image:
[code]
With this setup the container is deployed right after th

[2015-08-20 09:37] mrGrab commented on #3964
hi,
May I know PR number?
I have the same issue with external kubernetes:

$ oc whoami --loglevel=6
I0820 09:32:47.634418    8156 debugging.go:120] GET https://[server-ip]:8443/api 301 Moved Permanently in 20 milliseconds
I0820 09:32:47.635838    8156 debugging.go:120] GET https://[server-ip]:8443/api/ 403 Forbidden in 1 milliseconds
F0820 09:32:47.636243    8156 helpers.go:71] error: couldn't rea

[2015-08-20 09:52] mrGrab commented on #4260
it helped. Thanks.
I hope openshift and kubernetes will release new features simultaneously... ;)

[2015-08-20 10:18] sebiwi commented on #4284
This was fixed by referencing an ImageStreamTag instead of an ImageRepository on the DeploymentConfig:

[code]

[2015-08-20 10:18] #4284 closed

[2015-08-20 10:46] thoraxe commented on #3952
There is an issue with #1 in that I may be trying to "develop" a hook. If the hook completes without error but did not do what I thought it should have done, I have no way to troubleshoot that.

I could, in those situations, always cause my hook to fail by throwing a nonzero exit code but then the deployment can not ever continue which may be a part of my hook development.

If the centralized logg

[2015-08-20 10:57] mfojtik commented on #4268
Fixed here: https://github.com/openshift/origin/pull/4285

[2015-08-20 10:57] mfojtik commented on #4266
Should be fixed here: https://github.com/openshift/origin/pull/4285

[2015-08-20 11:00] mfojtik commented on #4271
Should be fixed in https://github.com/openshift/origin/pull/4285

[2015-08-20 12:52] ironcladlou commented on #3952
This is reasonable, but it also applies to the primary deployer pod, not just hooks Short of centralized logging, the only other way I'm seeing around all this would be cleanup policies for deployer pods. When discussing the upstream deployment proposal (https://github.com/kubernetes/kubernetes/pull/12236) I mentioned the idea of generalizing the rolling updater cleanup policy onto the high level

[2015-08-20 13:25] liggitt commented on #3964
it was fixed in #3974. Make sure you update role definitions with `oadm policy reconcile-cluster-roles` if you update to that build with an existing cluster.

[2015-08-20 13:31] sosiouxme opened #4287 "oc port-forward concurrency limitation"
When attempting multiple connections over a port forwarded to a container (`oc port-forward`), there seems to be a limit of 5 on the number of concurrent connections. Once there are more, connections hang / timeout and don't seem to recover.

This was encountered with a nodejs container in trying to use the node-inspector debugger app which listens on two non-public ports, the HTTP port presenting

[2015-08-20 13:45] bparees commented on #4198
assuming they are all going to the same registry/repository, it should be pretty fast.

[2015-08-20 14:15] ironcladlou commented on #3659
We're not going to support webhooks directly for deployments, but we will support API endpoints for deploying latest, cancelation, retries, etc (https://trello.com/c/qCzTBO0h).

[2015-08-20 14:15] ironcladlou commented on #3659
cc @smarterclayton, this one needs closed.

[2015-08-20 14:17] ironcladlou commented on #3543
@smarterclayton, please close this issue in favor of https://trello.com/c/uoIAABEj.

[2015-08-20 14:22] ironcladlou commented on #3516
Closing this out and will continue tracking in trello: https://trello.com/c/PigQ4jr1

[2015-08-20 14:22] #3516 closed

[2015-08-20 14:22] ironcladlou commented on #4212
@fabianofranz please close this in favor of https://trello.com/c/IfUBcN3I

[2015-08-20 14:23] ironcladlou commented on #4007
@mfojtik please close this out and we'll track it in https://trello.com/c/37qFSFZO going forward

[2015-08-20 14:24] tcastberg commented on #3307
Hi guys, any chance we can get a milestone for this? I'm running into exactly this problem right now which only leaves two options, not using templates or import templates into every single project.

[2015-08-20 14:24] #4007 closed

[2015-08-20 14:26] fabianofranz commented on #4212
Ok, thanks @ironcladlou.

[2015-08-20 14:26] #4212 closed

[2015-08-20 14:27] ironcladlou commented on #3844
This will be tracked in https://trello.com/c/6aC2dI6Q going forward.

[2015-08-20 14:27] #3844 closed

[2015-08-20 14:34] smarterclayton commented on #3366
We *can* support it, but someone has to do the work :)  It's more
complicated because we have to get the streaming right as it crosses
boundaries (it's HTTP2 between nodes and masters, but web sockets between
master and clients).

On Thu, Aug 20, 2015 at 3:09 AM, Jimmi Dyson <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 14:37] ironcladlou commented on #3952
@thoraxe please close this in favor of https://trello.com/c/5Pt8kGwT.

[2015-08-20 14:40] smarterclayton commented on #3307
@fabianofranz even a `--into` or `--from` would probably work. `--from-namespace` maybe, although that's pretty long.  How discoverable would that be?

[2015-08-20 14:40] #3543 closed

[2015-08-20 14:41] ironcladlou commented on #4182
@liggitt @smarterclayton can somebody label this as a bug?

[2015-08-20 14:44] tcastberg commented on #3307
@smarterclayton I actually have to say I like @fabianofranz last suggestion. It seems intuitive and corresponds to expectations. (It's the first thing I tried.) :)

[2015-08-20 14:48] thoraxe commented on #3952
WORKSFORME

[2015-08-20 14:48] #3952 closed

[2015-08-20 14:49] smarterclayton commented on #3952
Also centralized logging is coming, and it'll be more important to make
historical logs for containers show up than it is today.

On Thu, Aug 20, 2015 at 10:48 AM, Erik M Jacobs <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 14:50] smarterclayton commented on #4182
This is blocked on @kargakis's changes upstreams to default type.

[2015-08-20 14:50] smarterclayton commented on #3307
Hrm - process is supposed to be lower level than new-app.

On Thu, Aug 20, 2015 at 10:44 AM, Tor Magnus Castberg <
notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 14:51] ironcladlou commented on #4182
Blocked in what way? I already have a PR to fix it!

[2015-08-20 15:22] bparees commented on #3307
this is also being tracked as a bug:
https://bugzilla.redhat.com/show_bug.cgi?id=1253736

[2015-08-20 15:25] smarterclayton commented on #4182
If youre using the upstream work he did for plumbing this through resource.Builder?

[2015-08-20 15:27] ironcladlou commented on #4182
Ah! I cheated. That code isn't yet using resource.Builder, so I did some simple prefix-stripping with a TODO to consider resource.Builder in the future (#4267).

[2015-08-20 15:33] smarterclayton commented on #4182
Don't.

On Thu, Aug 20, 2015 at 11:27 AM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 15:34] ironcladlou commented on #4182
The fix is like 4 lines and the code already doesn't use builder, so we could refactor it later and have the practical fix now. But suit yourself!

[2015-08-20 15:53] smarterclayton commented on #4182
I'd rather not encourage people to not switch to builder - even someone
seeing your example might copy it elsewhere.

On Thu, Aug 20, 2015 at 11:34 AM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 16:57] ironcladlou commented on #4182
Fair enough.

Blocked by https://github.com/kubernetes/kubernetes/pull/10979

[2015-08-20 17:00] #4194 closed

[2015-08-20 17:01] ironcladlou commented on #4182
Actually... is this really blocked? If no prefix is provided in the arguments, can't I just add the prefix and use resource.Builder as-is?

[2015-08-20 17:21] smarterclayton commented on #4182
Yes

On Thu, Aug 20, 2015 at 1:01 PM, Dan Mace <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 18:06] ramr commented on #4215
Hmm, think  apache just gave a 503 (service unavailable) in v2 - may be wrong.

So, there's a couple of options here:
1.  The simplest would be to remove that server ```127.0.0.1:8080``` from the ```openshift_default``` backend and haproxy will return a similar 503 error (```no server available to handle this request```).
2.  If we want a custom message we need to either have  a backend service to

[2015-08-20 18:35] ramr commented on #4215
fyi @pweil- some info on the timings is in the PR - its a lot slower if there's nothing serving on port 8080 as opposed to just falling through and letting haproxy return a 503. Also added some comments/text in the config on how to add custom messages (custom backend or a 503 page).

[2015-08-20 18:39] deads2k opened #4294 "Flake: no API token found for service account"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/4320/

[code]

[2015-08-20 18:43] smarterclayton commented on #4215
503 is a good place right now.  We also need to be able to add a custom
503, but if that was something a customer layered on top (i.e. let's create
one and put it in the image, and they can layer on top and change the file
if they want).

On Thu, Aug 20, 2015 at 2:35 PM, Ram Ranganathan <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 18:46] liggitt commented on #4294
my kingdom for a bash stack trace

[2015-08-20 18:54] smarterclayton opened #4295 "Flake: bootstrap policy failure"
[code]

@deads2k

[2015-08-20 18:55] smarterclayton commented on #4294
Probably just need wait in this case.

[2015-08-20 18:57] liggitt commented on #4295
dupe of #4278

[2015-08-20 18:57] #4295 closed

[2015-08-20 19:40] deads2k commented on #4294
`sleep 10` Fixed!

Perhaps I should review `sync` to see how well it work for waiting for ready conditions like this in our scripts...

[2015-08-20 20:33] brenton commented on #2305
@smarterclayton is there a reason why no one has created cmd/oadm.go and added it as a `OS_CROSS_COMPILE_TARGETS` in https://github.com/openshift/origin/blob/master/hack/common.sh#L46

It looks like the `oc` part of this issue is done.  If the `oadm` one isn't needed we might as well close this.

[2015-08-20 20:42] smarterclayton commented on #2305
There's enough overlap between what an admin might want and what's in
openshift that we choose not to.

On Thu, Aug 20, 2015 at 4:33 PM, Brenton Leanhardt <notifications@github.com

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 20:44] brenton commented on #2305
Makes sense.  I'm going to close this then.

[2015-08-20 20:44] #2305 closed

[2015-08-20 20:58] smarterclayton commented on #2305
On Thu, Aug 20, 2015 at 4:42 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

Trying to see whether rich text mode breaks this, ignore....

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-20 21:23] deads2k commented on #4294
I'm going to bet that I somehow broke this.  Will look tomorrow.

[2015-08-20 21:47] smarterclayton commented on #3947
That is intentional?

[2015-08-20 21:47] smarterclayton commented on #3947
Ah, nm, read that wrong.

[2015-08-20 22:28] #4127 closed

[2015-08-20 23:59] ramr commented on #4011
@pweil-  this issue can now be closed out. Thx

[2015-08-21 02:34] bparees commented on #3840
to clarify further:  namespace stripping is required since objects are going to get created in the namespace you are running the create (instantiate of template) in.

[2015-08-21 02:44] bparees commented on #3563
@thoraxe so if i can summarize what i think remains here:
1) we can/should parameterize our templates so that the namespace of the imagestream reference is a parameter with a default value of openshift.  that way you can change it to an imagestream in another namespace easily, but by default get working behavior.  I don't see this is as a high priority, but it's worth knowing it can be done

2) we

[2015-08-21 02:53] bparees commented on #3565
@csrwng can close this now (feature delivered)?

[2015-08-21 03:14] bparees commented on #341
To clarify I think this is only applicable to custom builders.  for s2i and docker type builds, the build will fail as soon as the builder image can't be pulled during the build process.

for a custom build, k8s will continue to try to create the pod forever, i guess.

[2015-08-21 03:15] bparees commented on #4199
related (probably the issue @smarterclayton is referring to?): https://github.com/openshift/origin/issues/615

[2015-08-21 03:35] thoraxe commented on #3563
Yes I think so. This issue is more related to (1). We can open a separate issue for (2) but (2) is actually related to #3833 which is "fixed" but still isn't particularly clear.

Should I reopen #3833 or open a new one?

[2015-08-21 03:46] bparees commented on #3563
i'd open a new one for (2)...  i agree it's related, but fundamentally it's a different issue.  If you want to also pick up your fight to make it clearer which project a template is from as part of the new issue for (2), i won't object (because i won't own that issue :) )

[2015-08-21 03:48] bparees commented on #3563
assigning to @gabemontero as he owns another template update/parameterizing issue already, so maybe he can kill two birds w/ one stone here.

[2015-08-21 07:53] sebiwi opened #4300 "Routing issue with containers placed on nodes"
Hello,

I can't access the containers that are located on nodes that aren't the master through the browser. I already tested the same configuration with an all-in-one deployment, and it works. I deployed using openshift-ansible.

I can see the nodes from the master:

[code]

Here's the manifest I am using to deploy the container, create the service and the route:

[code]

I can see the all the res

[2015-08-21 12:01] jorgemoralespou opened #4303 "My sti builder can not reference OpenShift services"
I have created a nexus server in OpenShift, and created a service for it:
[code]
I`m using the https://github.com/openshift/sti-wildfly builder image, and have a settings.xml file to build using my nexus server, referenced via the service.

The problem I'm seeing is that the assemble does not get to the service:
[code]

If I try to access same url from the registry pod, I can:
[code]

Is the origi

[2015-08-21 12:21] deads2k commented on #4294
user error

[2015-08-21 12:21] #4294 closed

[2015-08-21 13:03] #4011 closed

[2015-08-21 13:05] mfojtik commented on #2179
@bparees assign this to me ;)

[2015-08-21 13:12] pweil- commented on #4215
this is what I suspected was causing the slowness.  Thanks Ram

[2015-08-21 13:18] #4260 closed

[2015-08-21 13:26] liggitt commented on #3771
leaving it blank makes it hard for clients to know what URL to show/link... there's an annotation indicating whether the host was a generated default

[2015-08-21 13:31] pweil- commented on #3771
Per the last bug review convo, closing this in favor of the BZ issue that encompasses the naming for certificates https://bugzilla.redhat.com/show_bug.cgi?id=1249108

Also, https://github.com/openshift/origin/issues/4015

[2015-08-21 13:31] #3771 closed

[2015-08-21 13:56] benjaminapetersen commented on #4247
@liggitt feel free to assign this one to me. thanks!

[2015-08-21 13:58] smarterclayton commented on #3771
To Jordan's comment, there should be a status field that shows the actual
host value.  Leaving it blank should mean that the user didn't specify
one.  If a user then set a value, we then wouldn't have to do anything to
the annotation (should only have one way to indicate something is set).

On Fri, Aug 21, 2015 at 9:32 AM, Paul Weil <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engi

[2015-08-21 14:00] bparees commented on #2179
make sure you get @smarterclayton to review the api change.

[2015-08-21 14:26] todd-fritz opened #4305 "Upgrade to Go 1.5"
Upgrade code, tests, documentation to Go 1.5 from Go 1.4.

[2015-08-21 14:39] liggitt commented on #3771
as long as there is a way for clients to get the hostname to use in links, and know whether the hostname was generated or not, I'm good. UI will need updates if we change the current annotation mechanism

[2015-08-21 14:49] smarterclayton commented on #3771
I think it's looking like we'll drop routes in favor of the upstream object
and maybe introduce a new route object.

On Fri, Aug 21, 2015 at 10:39 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-21 15:05] liggitt commented on #3563
https://github.com/openshift/origin/issues/3901 is already open to improve grouping templates by namespace or indicating the "shared" nature of the ones from the "openshift" namespace. I don't think we would want to show all templates from all namespaces in the create flow for a particular namespace.

[2015-08-21 15:24] bparees commented on #3563
@liggitt I disagree...  the namespace you're in is where you want to instantiate the template, but it really has nothing to do with where that template is coming from.

[2015-08-21 15:43] liggitt commented on #3563
so I have access to 11 projects... you would want all templates from all projects to appear when I am creating stuff in project "foo"?

[2015-08-21 15:57] deads2k opened #4306 "SAR tests"
Make a full test suite for SAR that covers these with both the current and the backwards compatible endpoints.

[code]

[2015-08-21 16:01] bparees commented on #3563
yes.  or at least the option to see those things.

[2015-08-21 16:02] bparees commented on #3563
I would not assume all the templates I want to instantiate will either be owned by me, or owned by someone with permission to put them into the openshift namespace.

[2015-08-21 16:11] bparees commented on #4303
I thought docker always propagated the /etc/resolv.conf from the host into the running container.  is your hosts /etc/resolv.conf correct?

[2015-08-21 16:41] stevekuznetsov opened #4308 "TestUnprivilegedNewProjectDenied flakes on Travis"
Seeing [this](https://travis-ci.org/openshift/origin/jobs/76630761#L6772):
[code]

@deads2k

[2015-08-21 16:45] stevekuznetsov opened #4309 "TestWebhookGitHubPushWithImageStream flakes in Travis"
Seeing [this](https://travis-ci.org/openshift/origin/jobs/76630760#L8004):
[code]

@ncdc

[2015-08-21 17:13] liggitt commented on #4309
dupe of #4245

[2015-08-21 17:13] #4309 closed

[2015-08-21 17:32] benjaminapetersen commented on #4275
This is great :smiley:

[2015-08-21 17:45] sdodson opened #4311 "Atomic builds attempting to interact with Build / BuildConfig API endpoints"
Running with the atomic-enterprise binary my logs are spammed with the following, even before deploying anything into the environment.

[code]

Current as of 57a09dfc7138dbbd75056f6533ea33129180d654

[2015-08-21 17:53] benjaminapetersen opened #4313 "DataService.get() streamlining"
I'd like to see if we can streamline the DataService process a bit & remove some of the bookkeeping
from the controller.  Here is my current code block, with a few numbered comments I'd like to tweak:

[code]

1.) Context adjusted to a hash instead of $scope
    - not sharing w/ service
    - not sharing w/other controllers
    - eliminates need for view coupling & DOM order dependencies breaking

[2015-08-21 18:13] liggitt commented on #4313
The user->project bit is common between all controllers in the scope of a project... don't want that duplicated. @jwforres can jump in here... she did the initial nested project controller setup to share that prereq setup code.

[2015-08-21 18:14] liggitt commented on #4313
also, we want to make sure we parallelize things as much as possible... the build->build/log case has to be serial, but there's no reason we can't parallelize different resource types whenever possible

[2015-08-21 18:17] liggitt commented on #4311
https://github.com/openshift/origin/pull/4115/files#diff-12ac9890607752661a0456afc9ab0ffb should disable the build controllers in atomic-enterprise mode... @pweil- take a look?

[2015-08-21 18:18] liggitt commented on #4311
nm, @smarterclayton double-enabled build controllers in https://github.com/openshift/origin/commit/e8df6d5a#diff-12ac9890607752661a0456afc9ab0ffbR525

[2015-08-21 18:26] #3668 closed

[2015-08-21 18:28] #4311 closed

[2015-08-21 18:57] benjaminapetersen commented on #4313
Yup, parallels is fine, something like:

[code]
Not a problem to support both.  But I think we would benefit long term by decoupling DOM nesting with $scope across multiple controllers & service requests.

[2015-08-21 19:18] benjaminapetersen commented on #4313
@jwforres definitely appreciate your thoughts as well!

[2015-08-21 19:39] smarterclayton opened #4319 "Test flake in kube client event test"
[code]

[2015-08-21 20:18] liggitt commented on #4241
[code]

[2015-08-21 20:18] liggitt commented on #4319
dupe of #4241

[2015-08-21 20:18] #4319 closed

[2015-08-21 20:22] #3947 closed

[2015-08-21 20:29] jwforres commented on #4313
We didn't want every single controller having to know it needed to first go get the user and then go get the project and then be able to make the rest of its requests.  If there is another way to accomplish that without DOM nesting I'd like to see it.

[2015-08-21 20:49] ironcladlou commented on #4182
Did this the better/long way in #4320.

[2015-08-21 21:02] #4171 closed

[2015-08-21 21:09] stevekuznetsov commented on #4245
@liggitt  or @bparees can you throw a flake tag on this? Couldn't find it when I made my dupe.

[2015-08-21 22:36] #4193 closed

[2015-08-22 03:25] smarterclayton commented on #4305
Depends on https://github.com/kubernetes/kubernetes/pull/13058

[2015-08-22 16:06] smarterclayton commented on #4305
Tracked under #4324

[2015-08-22 16:06] jorgemoralespou commented on #4303
Do you mean that resolv.conf is get from the host in case of a builder,  as it's plain docker daemon the one executing the build? I'll check it on Monday, once I have access to my laptop.

[2015-08-22 20:47] bparees commented on #4303
@smarterclayton you indicated this was might be considered a bug in the email thread... can we discuss how to approach it here?  I guess the k8s managed containers get the /etc/resolv.conf with the master ip injected, but the build containers don't since they aren't managed by k8s.

So i assume you'd like to see us manipulating the container's resolv.conf in the same way that k8s does?

[2015-08-22 20:53] bparees commented on #4303
@jorgemoralespou yes exactly.

[2015-08-22 20:59] bparees opened #4325 "oc new-imagestream command?"
Thinking about the awkward management of our various imagestream.json files, I wonder if there's room for an "oc new-imagestream <docker repo> -n <namespace>" style command that will just create an imagestream for a given image.  One more option would be "--builder" which would automatically put the builder annotation on the imagestream so it shows up as a builder image in the web UI.

We could th

[2015-08-22 21:22] bparees commented on #4325
also (while i'm wishing) it'd be cool to be able to do what is described here:
https://github.com/openshift/origin/pull/4016/files#diff-763d7266463feb65b03e3184412cbd74R237

which is to have the import/new-imagestream command take a tarball as an input, where that tarball is a docker image that should be loaded/pushed into the openshift registry.

[2015-08-22 21:38] smarterclayton opened #4326 "PVC's display incorrect value for name when using get --all-namespaces"
The name column has the namespace, not the name.  Looks like an off by one error with the columns.

[2015-08-22 21:41] smarterclayton commented on #4325
I think you want oc tag and oc import-image, which can do the creation and tagging as of 1.0.4.  Annotation setting on tags is bit trickier, but probably belongs to the oc tag command.

    $ oc tag openshift/origin:latest somenewimagestream --confirm
    $ oc import-image --from=openshift/origin somenewimagestream --confirm

Having import image do the tar loading makes sense as a new flag.  We st

[2015-08-22 21:48] smarterclayton opened #4327 "oc scale against a dc is fragile in the presence of races"
Attempting to scale a DC while the controller is creating new RCs returns confusing and vague error messages.  If the conditional create of an RC fails (because it's being updated by the DC), we should reload the RC and check that it still current (not failed or completed) and try once more to save.  Even a few retries (well factored) would make this a safer experience.

[code]

[2015-08-22 21:48] smarterclayton commented on #4327
@kargakis @ironcladlou

[2015-08-22 21:50] bparees commented on #4325
if oc tag will create non-existent imagestreams the help should be updated...  also is the oc import-image really needed, then?  wouldn't just doing oc tag create the imagestream and then an import would happen immediately for the new stream/tag?

[2015-08-22 21:51] smarterclayton opened #4328 "oc status output for trigger deployments is misleading"
Recently oc status for a deployment started showing:

[code]

but only with state:

[code]

The fake entry for the third deployment is confusing to new users (there is no deployment 3 yet).  It looks like a race condition in the deployment controller - somehow latestVersion of the object is 3. From deployments.sh:

[code]

@deads2k @ironcladlou @kargakis

[2015-08-22 22:04] smarterclayton opened #4329 "deployment cancel seems to fail to change Phase"
[code]

Leaves the RC in this state:

[code]

Shouldn't phase be altered?  Otherwise this happens:

[code]

Sure would be nice to be able to keep going...

[2015-08-22 22:12] smarterclayton opened #4330 "deployment controller in rapid delete - create sequence with same name causes incorrect version info"
`test/cmd/deployments.sh` runs rapidly and creates, then deletes, then creates the same DC.  It looks like the controller gets confused and creates a new RC 2 for the first deployment, but the second deployment is still at latest version 1 (or 2, in some cases).

@ironcladlou @kargakis

[2015-08-22 22:13] smarterclayton commented on #4328
This may also be a race condition in the DC where latestVersion is being bumped due to #4330, which would indicate why this is happening.  The controller manager may be confused about the versions (although it should still be creating a deployment).

[2015-08-22 22:25] smarterclayton commented on #4325
oc tag doesn't import images, it symlinks them.  You have no metadata when
you do that.  When we get the auth story sorted out that might be
reasonable.

On Sat, Aug 22, 2015 at 5:50 PM, Ben Parees <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-23 03:15] nak3 opened #4331 "No way to set --context-dir when creating new app via web console"
Env:
----
[code]

Issue:
---
I can create new application with `--context-dir` from CLI like:
[code]

But it looks like there are no way to set `--context-dir` via web console.

![context-dir-report](https://cloud.githubusercontent.com/assets/2138339/9426770/6fc999d0-4990-11e5-8297-e9029aea750f.png)

[2015-08-23 20:25] smarterclayton commented on #4053
What's awesome is *every* *single* cli command in a remote zone having to negotiate.  Fun.

[code]

[2015-08-23 21:47] smarterclayton commented on #4303
Yes when we invoke docker we should copy our own DNS settings in.

On Aug 22, 2015, at 4:47 PM, Ben Parees <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> you indicated this was
might be considered a bug in the email thread... can we discuss how to
approach it here? I guess the k8s managed containers get the
/etc/resolv.conf with the master ip injected, but t

[2015-08-23 22:01] liggitt commented on #4303
Should be a straight copy of the sti container's mounted resolv.conf, right?

[2015-08-23 22:54] smarterclayton commented on #4303
You have to parse it, but yes.  We should be setting the flags the kubelet
sets.

On Aug 23, 2015, at 6:01 PM, Jordan Liggitt <notifications@github.com>
wrote:

Should be a straight copy of the sti container's mounted resolv.conf, right?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4303#issuecomment-133943652>.

[2015-08-24 02:35] samsong8610 commented on #4187
Accroding to the output of oc get all, I think your registry service endpoint should be 172.30.196.5:5000, but you are trying to login 172.30.50.252:5000.

[2015-08-24 08:34] kargakis commented on #4188
@bparees the latency you observed in `oc build-logs` was due to the client tool fetching a list of builds while `oc deploy --logs dc/foo` leaves that fetching to the api server. We actually don't even get the whole list but the [desired deployment](https://github.com/kargakis/origin/blob/f68fd9084c7ca8d63497a0d3d85dc3ac376e31dd/pkg/deploy/registry/deploylog/rest.go#L105) so I guess something simil

[2015-08-24 09:26] jorgemoralespou commented on #4303
Hi,
I'm not a DNS or networking expert but if I set my hosts DNS to be able to resolve the services that means I would have to add SkyDNS in front, not? Then I would loose all the real DNS resolution for everything else, so not even an option IMHO.
We need to inject the resolv.conf into the builder as @smarterclayton says.

[2015-08-24 10:30] mfojtik commented on #3920
the directories have to be world-writeable... fill fix this today

[2015-08-24 12:01] bparees commented on #4303
you would not lose the ability to resolve everything else.

[2015-08-24 12:30] roldancer opened #4336 "cgroup info available in container"
Hi All,
    I would like to get the container's total memory available from inside a script that is running in a container, in order to configure the java heap size (% of Total memory) I need to get the total mem available for the container.
Is that information available in the container?
How can I inject that information when pod is created?

many thanks.

[2015-08-24 13:40] kargakis opened #4339 "Update docker registry package"
https://github.com/docker/distribution/releases

When that time comes, [code.google.com/p/go-uuid/uuid](https://github.com/openshift/origin/tree/master/Godeps/_workspace/src/code.google.com/p/go-uuid/uuid) which is a duplicate of [https://github.com/pborman/uuid](https://github.com/openshift/origin/tree/master/Godeps/_workspace/src/github.com/pborman/uuid) can be removed from our deps.

[2015-08-24 13:41] kargakis commented on #4339
Of course some imports in our codebase need to be changed

[2015-08-24 13:54] jimmidyson commented on #3774
@smarterclayton So it looks like a problem with cadvisor & docker >=1.7 when libnetwork was introduced to docker. Trying to work through with cadvisor maintainers. I've tested this theory against vanilla docker installations on Ubuntu too & it manifests there too which is good news. Once this is fixed we'll need to bump godeps in kubernetes & openshift.

[2015-08-24 14:03] ironcladlou commented on #4329
What state does your deployer pod end up in? We update the RC with the cancelation metadata which should trigger ActiveDeadlineSeconds being set on the deployer pod (should be an event and logs if that failed). When the deployer pod finally exits, then the deployment phase will be reconciled.

[2015-08-24 14:05] liggitt commented on #4240
https://travis-ci.org/openshift/origin/jobs/76951004#L369

[2015-08-24 14:09] sosiouxme opened #4340 "openshift master crashes with loglevel > 5"
I was trying to debug something and bumped the loglevel to 6 in /etc/sysconfig/openshift-master... it wouldn't start. Lovely stack trace (this is compiled from current origin/HEAD) :

[code]

loglevel 5 and below is fine.

[2015-08-24 14:10] benjaminapetersen commented on #4313
Well, to avoid that we could probably create a wrapper service to hide away the details of the auth/user/project stuff.  something like:

[code]
Keeps the flow in one place & keeps the noise down.

[2015-08-24 14:12] liggitt commented on #4240
Pretty easily reproducible with
[code]

[2015-08-24 14:41] kargakis commented on #4201
@danmcp assign this to me

[2015-08-24 14:43] #3969 closed

[2015-08-24 14:49] soltysh commented on #4240
Another one here: https://travis-ci.org/openshift/origin/jobs/76966294#L357

[2015-08-24 14:50] ncdc commented on #3366
@smarterclayton not sure how you'd do that offhand, since the master blindly proxies the client's connection (i.e. SPDY) to the Kubelet. Would it make more sense to try to add a websocket implementation that replaces SPDY?

[2015-08-24 14:52] ncdc commented on #3569
@liggitt we can close this, right, since #4116 went in?

[2015-08-24 14:58] smarterclayton commented on #3366
I don't know.  It depends on what the stream would look like.  Once the
connection is established its still just shuttling bytes across the wire,
but having the kubelet be multimode seems like it doesn't have much of a
benefit for its own sake.

On Aug 24, 2015, at 11:50 AM, Andy Goldstein <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> not sure how you'd do

[2015-08-24 15:00] smarterclayton commented on #4329
The pod was still in pending.  If you have no nodes available that means
you wait forever. Probably it should terminate a pending pod immediately
(if it wins the race with the scheduler).

On Aug 24, 2015, at 11:03 AM, Dan Mace <notifications@github.com> wrote:

What state does your deployer pod end up in? We update the RC with the
cancelation metadata which should trigger ActiveDeadlineSeconds be

[2015-08-24 15:06] ncdc commented on #3366
You'd need to have an endpoint in the apiserver that accepts websocket connections and translates them to SPDY. This means you'd need to establish the SPDY connection to the Kubelet, and then create streams as needed, io.Copy between the websocket stream and the SPDY stream, etc.

[2015-08-24 15:08] craigmunro commented on #3920
Don't changes to data within volumes have to be done before the volume is declared?  Putting the chmod before the volume fixes it for me.

[2015-08-24 15:54] smarterclayton commented on #3366
Yes, but I can view websockets as a bridge to the backend, vs being a
transport.  Websockets for logs is a more pressing case anyway so don't
want to bog down on exec yet.  That's one where two streams is nice but not
strictly required for the short term.

On Aug 24, 2015, at 12:06 PM, Andy Goldstein <notifications@github.com>
wrote:

You'd need to have an endpoint in the apiserver that accepts we

[2015-08-24 16:52] jwforres commented on #4313
Not opposed to the idea, there is some other stuff that project controller
sets up on the scope as well.

On Mon, Aug 24, 2015 at 10:10 AM, Ben Petersen <notifications@github.com>
wrote:

[2015-08-24 17:24] jwforres opened #4342 "Show template parameter's display name when available"
An optional display name field is being added to template parameters, we should show those in the UI instead of name when they are there, and fallback to name when not.

https://github.com/openshift/origin/pull/4335

[2015-08-24 17:54] ncdc commented on #3975
Upstream PR just merged.

[2015-08-24 17:55] ncdc commented on #3975
Do you all want an UPSTREAM patch for this prior to the next rebase?

[2015-08-24 18:12] liggitt commented on #3569
yup

[2015-08-24 18:21] liggitt commented on #4340
@smarterclayton is there a better way to build transports for etcd yet?

[2015-08-24 18:33] #3569 closed

[2015-08-24 18:34] ncdc commented on #4339
We can't bump docker/distribution until we refactor image pruning (#3333) due to some hacks we made to the distribution Godep that are very difficult to carry forward with the latest upstream code.

[2015-08-24 18:46] mwringe commented on #3020
As there been any update on this? Or a link to the trello card?

We will need this to be able to run Heapster and Metrics on OpenShift without configuring the read only port option.

[2015-08-24 18:46] ncdc commented on #4275
What makes more sense to show - when the actual Docker image was created, or when the image metadata was imported into OpenShift?

[2015-08-24 18:48] bparees commented on #4275
both....

[2015-08-24 18:48] ncdc commented on #4275
So you want 2 time columns instead of 1?

[2015-08-24 18:49] jimmidyson commented on #3020
This same discussion is being had in Kubernetes too...

[2015-08-24 18:51] bparees commented on #4275
yeah..i mean i thought about it and i can't convince myself that one is explicitly more important/useful/common than the other.

about the only argument i could come up with for just showing one is "this is the imagestreamtag, so show the date for the IST being updated.  if you want to know when the image it represents was updated, go look at the image", but even then a better column label might b

[2015-08-24 18:55] ncdc commented on #4275
IST is a virtual resource. I'd say the date from the Docker image is probably the most relevant.

[2015-08-24 18:56] sspeiche opened #4344 "Web Console: give URL to use for "oc login""
Users of the Web Console need to drop to the CLI for a number of things, assuming they already installed the CLI, they need to dig through old notes on what the URL is for the server to use for "oc login".  The Web Console directs the user for a number of things to use the CLI, perhaps this is a minor issue for people with only 1 instance to connect to.

I would be very handy to provide this in th

[2015-08-24 18:58] bparees commented on #4275
if i run an oc import i'd expect to see this information refreshed to indicate the last time it checked.

[2015-08-24 19:00] ncdc commented on #4275
Really? Even if nothing changed?

[2015-08-24 19:04] bparees commented on #4275
honestly i can see a lot of ways to go with this, but yes one way in my head would be "i want to know if this imagestream has the most current data in it" which means knowing when it last checked, not when it last found something new.

[2015-08-24 19:07] ncdc commented on #4275
There are 4 dates:

1. Docker image creation date
1. OpenShift image creation date (when the Docker image was imported into OpenShift)
1. ImageStream TagEvent creation date (stream.status.tags[latest][0].creationDate)
1. Last time tags were imported into the stream

When you 'oc get istag foo:latest', which of those 4 dates do you want to see? And what about when you 'oc describe' an IST?

[2015-08-24 19:35] smarterclayton commented on #4340
Supposedly yes, although someone needs to look into what they've done.

On Aug 24, 2015, at 3:21 PM, Jordan Liggitt <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> is there a better way
to build transports for etcd yet?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4340#issuecomment-134324966>.

[2015-08-24 19:41] smarterclayton commented on #3020
@pweil- can you create a card?

[2015-08-24 19:46] spadgett commented on #3180
@jwforres fyi

Note that the entire pages bounces as you type... It's pretty ugly. I think it should be higher than P3.

[2015-08-24 19:48] pweil- commented on #3020
existing card: https://trello.com/c/kej8gRJg/488-provide-access-to-metrics-and-stats-endpoints-without-auth  crosslinked to this discussion

[2015-08-24 19:59] spadgett commented on #2146
#4177 hides old deployments behind a show more link, and #3812 hides old builds under a show more link.

[2015-08-24 20:26] ncdc commented on #4102
@smarterclayton when you're free let's discuss the desired use cases and get this all figured out once & for all

[2015-08-24 20:28] ncdc commented on #3980
Importing is a one-way import; it's not a two-way sync, and it's only additive. #3485 is the issue for being able to delete image stream tags.

[2015-08-24 20:31] ncdc commented on #3486
Fixed by #4104. However, when we are able to bump the docker/distribution godep, we should switch to using its client code instead of our own.

[2015-08-24 20:31] #3486 closed

[2015-08-24 20:32] ncdc commented on #4102
Related: #3484

[2015-08-24 20:44] spadgett commented on #3474
@jwforres fyi, related to your overview changes

[2015-08-24 21:53] liggitt commented on #2286
phantomjs replaced with chrome, closing

[2015-08-24 21:53] #2286 closed

[2015-08-24 21:55] liggitt commented on #4245
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3081/console

[2015-08-24 21:56] liggitt commented on #4262
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3082/console

[2015-08-24 22:02] bparees commented on #4245
@csrwng looks like both the imagechangecontroller and configchangecontroller fired at the same time for this build:

I0824 18:45:16.778985   14154 image_change_controller.go:47] Build image change controller detected ImageStream change registry:3000/integration/imageStream
I0824 18:45:16.779015   14154 image_change_controller.go:106] Found ImageStream integration/image-stream with tag validTag
I08

[2015-08-24 22:05] bparees commented on #4245
(which I believe we decided was to be expected but we probably need to fix this test case to disable ConfigChangeTrigger for the BuildConfig)

[2015-08-24 22:05] csrwng commented on #4245
@bparees but that should be ok... if the buildconfig can't be updated it means the build won't be started.

[2015-08-24 22:05] csrwng commented on #4245
I see yes

[2015-08-24 22:06] liggitt commented on #4245
Does this mean @csrwng is on the hook to fix this? When it comes to assigning build flakes, I have a hair trigger… :)

[2015-08-24 22:06] csrwng commented on #4245
@liggitt yes you can assign to me

[2015-08-24 22:07] liggitt commented on #4245
Should we have a test that enables both triggers and makes sure the expected result occurs?

[2015-08-24 22:09] bparees commented on #4245
so i looked at the code and the "pushbuild" buildconfig doesn't even have a configchangetrigger defined.....
https://github.com/openshift/origin/blob/master/test/integration/webhookgithub_test.go#L285-L299
https://github.com/openshift/origin/blob/master/test/integration/webhookgithub_test.go#L330-L345

[2015-08-24 22:10] csrwng commented on #4245
@bparees but the image change trigger would have the same effect

[2015-08-24 22:10] csrwng commented on #4245
@bparees it's one of those times when you get lucky and the build fires immediately

[2015-08-24 22:21] bparees commented on #3853
being worked this sprint:
https://trello.com/c/l8s6oYpy/658-8-self-signed-certificates-on-git-clone-https-by-using-installing-a-configurable-pem-file-build

[2015-08-25 00:33] waynedovey commented on #3820
Hello All, what's the latest on this bug? It's a bit of a show stopper? Do you have any suggested workarounds please?

[2015-08-25 01:47] rajatchopra commented on #3820
The inside of the container looks okay. You may want to double check by
ping on an IP address (say Google.com).
If the ping to an external IP address did not work then it's an sdn issue.
Could you print the output of this command from the host:
ovs-ofctl -O OpenFlow13 dump-flows br0

/Rajat
On Aug 24, 2015 5:33 PM, "waynedovey" <notifications@github.com> wrote:

[2015-08-25 02:32] liggitt opened #4351 "Volume command doesn't retry on conflicts"
`oc volume dc/test-deployment-config --remove --confirm`

[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/4461/console

[2015-08-25 02:34] liggitt commented on #4351
Not sure if it should retry, but failure is making cmd tests flake

[2015-08-25 03:11] liggitt commented on #4351
I think most commands that don't take a resourceVersion as input, and that fetch and immediately update, should retry at least once if they get a conflict. If the user didn't provide a resourceVersion as input, then they are requesting a bounded mutation which the command should attempt to fulfil.

This is especially important on resources that get modified by controller loops (deployment configs,

[2015-08-25 03:29] liggitt commented on #4239
https://travis-ci.org/openshift/origin/jobs/77092079#L357
[code]

https://travis-ci.org/openshift/origin/jobs/77079739#L357
[code]

https://travis-ci.org/openshift/origin/jobs/77071586#L357
[code]

[2015-08-25 03:30] liggitt commented on #4327
whatever we do here, we should come up with a pattern that makes sense for the `label`, `annotate`, `volume` commands

[2015-08-25 03:35] liggitt commented on #4239
can recreate intermittently with
[code]

[2015-08-25 03:45] #4240 closed

[2015-08-25 05:19] liggitt commented on #4239
Looks like a race in processing data in the `errorStream` in `remotecommand.go`... if the stdout and stderr streams are copied and their notifications to the `doneChan` are selected before the `errorChan`, `doStream` will return nil, even if an error was in flight in the `errorStream`.

To exaggerate this, move the close of the errorStream to the end of the handler func in `fakeExecServer` after a

[2015-08-25 05:21] liggitt commented on #4239
@ncdc is it safe to assume the errorStream will get closed? should we wait for it to close cleanly before `doStream` returns a nil?

[2015-08-25 05:36] liggitt commented on #4157
Same root cause as #4239

[2015-08-25 06:59] #4262 closed

[2015-08-25 08:19] LarsMilland opened #4354 "Dockerbuild fails unbound variable OS_GIT_MAJOR"
Hi

I am trying to use the Openshift V3 platform from a vagrant based locally build version with a simple Dockerfile based image.

I am running from the commit of:

commit 3dd83f8367c77cb130780bde58ea101899267c06
Merge: 5193c6b 88d8814
Author: OpenShift Bot <dmcphers+openshiftbot@redhat.com>
Date:   Sun Aug 23 16:40:12 2015 -0400

and my Dockerfile simply tries to start from:

FROM openshift/base-

[2015-08-25 10:23] mfojtik commented on #3745
https://docs.openshift.org/latest/architecture/core_concepts/templates.html ?

[2015-08-25 10:24] mfojtik commented on #3417
@thoraxe @bparees is this about the builder (the pod running the build) respond to to a healthcheck or the application built using our builder have liveness probe defined?

[2015-08-25 11:59] jcantrill commented on #3975
This is not urgent for us as long as we know the solution is coming relatively soon

[2015-08-25 12:08] jcantrill commented on #4287
cc @maxandersen FYI

[2015-08-25 12:19] liggitt commented on #3975
too late, already pulled in as part of https://github.com/openshift/origin/pull/4346

[2015-08-25 12:54] thoraxe commented on #3745
I don't understand the link reference. That's the template JSON docs. I'm not sure if you are saying that we already have what the RFE requests or something else?

[2015-08-25 12:56] thoraxe commented on #3417
This is two-fold:

1) we don't have any default liveness probe for the resulting application "by default"
2) the pod restart on node failure default time is really quite high, which makes #1 more painful

[2015-08-25 13:46] jhadvig commented on #4123
PR: https://github.com/openshift/origin/pull/4358

[2015-08-25 13:49] spadgett opened #4359 "UI says manual deployment was "triggered by a config change""
I ran this command:

[code]

But I see this in the UI:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/9468238/857e67b8-4b0e-11e5-9610-a4648d23b32f.png)

@jwforres

[2015-08-25 13:50] jwforres commented on #4359
I'll fix this while I'm working on the overview

[2015-08-25 13:53] smarterclayton commented on #4123
This isn't really the intent of new-app - if you need to customize the build config, you should use oc env after you create the app.  Build accepting env is fine, but new-app is not intended to be infinitely customized.

[2015-08-25 13:54] smarterclayton commented on #4123
The solution to your problem veer is:

    oc new-app ... <common env>
    oc env bc/name <build env>
    oc env dc/name <dc env>

[2015-08-25 13:54] maxandersen opened #4360 "oc keeps complaining about token missing without telling user how to fix it"
Doing `oc login`:

[code]

I go to the url and run `oc login --help` to get some info, it just talks about `--password`.

[code]

And when I do that I get the exact same error.

it never mentions the *Actual* minimal solution:

[code]

Suggestions:
a) if `--password` specified use it as alias for `--token`
b) document use of `--token` in `oc login --help`
c) Add line to login that ask to go to url

[2015-08-25 13:54] #4123 closed

[2015-08-25 13:55] maxandersen opened #4361 "`oc types` has wrong docs about oc projects"
docs says  `oc projects` should exist but when using it that gives:

[code]

[2015-08-25 13:59] bparees commented on #3417
moving to deployments then.  I thought this was about having a liveness check on build pods to ensure they were better managed by k8s.

[2015-08-25 14:00] liggitt commented on #4361
should be `oc project`... which docs reference `projects`? We should fix the docs or alias `projects` as `project`

[2015-08-25 14:03] bparees commented on #4123
@smarterclayton by "build accepting env is fine" do you mean oc new-build?

[2015-08-25 14:04] smarterclayton commented on #4123
Yes, oc new-build should take <ENV> because it only creates a build.

[2015-08-25 14:04] bparees commented on #4123
@smarterclayton by "build accepting env is fine" do you mean oc new-build?

[2015-08-25 14:04] smarterclayton commented on #4123
I thought it already did, if it doesn't we can reopen this issue for it.

[2015-08-25 14:05] bparees commented on #4123
@jhadvig can you check and redirect your PR to new-build if it doesn't take those args?

[2015-08-25 14:09] bparees commented on #4123
@smarterclayton while I i can see your point that we don't want to invest a huge effort here, given that @jhadvig already did the work i don't see a lot of harm in merging it.

[2015-08-25 14:10] jhadvig commented on #4123
@bparees you mean port only the `--bc-env` to the `new-build` command ?
And what about the `--dc-env` ?

[2015-08-25 14:11] liggitt commented on #4360
We should document `--token` for `oc login`

`--password` is different than token, we shouldn't conflate/alias them

On the page where you request the token, it gives you the exact command to log in with oc:
[code]

[2015-08-25 14:11] smarterclayton commented on #4123
I don't want --bc-env or --dc-env in new-app.  It doesn't match what the point of new-app is.

[2015-08-25 14:11] liggitt commented on #4360
@fabianofranz can we make sure `--token` info appears for `oc login`?

[2015-08-25 14:12] smarterclayton commented on #4123
new-app is "given a limited set of inputs, create an app".  It is not intended to handle deep customization of each object.  Since we have the ENV command this the equivalent of --bc-env and --dc-env, adding more code to new-app contradicts that goal.  If your env doesn't apply to all the components of the app equally, its' not something that should be passed to new-app.

[2015-08-25 14:12] ironcladlou commented on #4329
The cancelation logic today relies exclusively on ActiveDeadlineSeconds, which is not useful when the pod hasn't scheduled (ADS is enforced by the kubelet against scheduled pods).

The deployment controller would need to handle cancelation by either setting ADS for scheduled pods or deleting pending pods. The deployer pod controller would need refactored to handle delete events, which is the large

[2015-08-25 14:13] smarterclayton commented on #4123
What happens when services have an equivalent to env?  Should we add --svc-env?  What about the build secret?  or the deploy secret?  The line we've drawn with new-app is "a set of common inputs to build the framework for an app".  However... the env passed to new-app *should* go to the build config (that's not unreasonable) if it can be construed as useful.

[2015-08-25 14:14] ironcladlou commented on #4329
Actually, I think we could just just delete the pod in the deployment controller and transition to failed immediately: there's no reason to coerce an event to be handled by the deployer pod controller since there's no deployer pod anymore. Just set the status right after we know we deleted the pod.

[2015-08-25 14:27] bparees commented on #4123
@smarterclayton putting env in the buildconfig automatically is dangerous.  those env vars end up baked into the image.  there's a valid use case for "i want to provide env vars to my deployment, but i don't want it baked into the image".

given your arguments, i don't see why we support env vars on new-app at all.  either we should not support them, or we should support configuring exactly which

[2015-08-25 14:35] smarterclayton commented on #4123
Env on new-app is arguments to the template or the deployment config.  Those are demonstrably useful to stay, which is why we have them - that is not arbitrary, that is use case driven.  If passing it to the build config is dangerous, then we shouldn't add them automatically.  But bc being dangerous to default doesn't make --bc-env fall within the scope of new-app.

[2015-08-25 14:37] smarterclayton commented on #4123
As an example, here are two approaches:

    $ oc new-app php DB_USER=foo DB_PASSWORD=bar
    $ oc env bc/php HTTP_PROXY=http://foo.bar

vs.

    $ oc new-app php DB_USER=foo DB_PASSWORD=bar --bc-env=HTTP_PROXY=http://foo.bar

The former is two cleanly decoupled commands.  Anyone who knows about bc can handle the former.  Anyone who doesn't know about bc isn't going to be using --bc-env.  The two

[2015-08-25 14:38] smarterclayton commented on #4123
Adding --bc-env to new-app makes the help for new-app more complex, and also won't work when new-app creates something that doesn't have a builder (which is common).  The more complex the help for new-app gets, the harder it is for a new user to understand what it is doing.  So adding new arguments and new behaviors to new-app has a higher bar.

[2015-08-25 14:47] jhadvig commented on #4123
@smarterclayton if is it common not to have buildConfig in template, why do we have the `--context-dir` flag in the new-app command (which I guess is the customization param for the buildConfig) ?

[2015-08-25 14:50] VeerMuchandi commented on #4123
The only issue I see with the two command approach is that if you don't run
the second command immediately the build may get trigger immediately
without the env variables that need to be set and it would fail.
Including that in the new-app command will make sure there are no such
issues.

On Tue, Aug 25, 2015 at 10:37 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-08-25 15:10] smarterclayton commented on #4123
So in that case you can do:

    oc new-build php HTTP_PROXY=http://foo.bar
    oc new-app php ...

[2015-08-25 15:12] smarterclayton commented on #4123
@jhadvig --context-dir is because some git repos are useless without content dir (a large fraction).  The number of builds that won't work without build config environment variables is much lower.  And if it is a high fraction, that's more of an infrastructure problem, and the infrastructure should be defaulting those things (if every build in your installation is going to need an HTTP proxy, that

[2015-08-25 15:13] smarterclayton commented on #4123
Also if you need a custom CA cert for every build on your infrastructure, that should be something an admin configures by default across the entire environment, not set onto every single build config.

[2015-08-25 15:20] spadgett commented on #2361
I suggest we close this. It's not a serious, and it's a problem in the Bootstrap component, not our code. Tooltip placement has also changed in Bootstrap 4 alpha.

[2015-08-25 15:22] spadgett commented on #3721
@jwforres I can look at this.

[2015-08-25 15:26] jwforres commented on #3721
@spadgett might as well do this one at the same time while you are in that part of the code
https://github.com/openshift/origin/issues/4342

[2015-08-25 15:28] stefwalter opened #4362 "No indication that BuildConfig target output repo doesn't exist"
If I create a BuildConfig and specify an "output" repository that does not exist, then the build hangs in phase *New* with no indication of why that's the case.

[2015-08-25 15:29] stefwalter commented on #4362
Following the build looks like this:

[code]

[2015-08-25 15:30] stefwalter commented on #4362
Example of such waiting builds: https://gist.github.com/stefwalter/fee1458b460967368628

The image streams defined: https://gist.github.com/stefwalter/25b542736b594b855525 (ie: missing the origin-ruby-sample stream)

[2015-08-25 15:42] smarterclayton commented on #4327
Let's open an upstream issue - "Client commands tend to race against
controllers due to status changes / scheduling when used in bash" with the
fix being "client spec changes should be against spec only using generation
or <insert new solution here>"

On Tue, Aug 25, 2015 at 12:30 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 15:46] liggitt commented on #2361
Agree

[2015-08-25 15:54] jhadvig opened #4363 "New-app `--env` flag won't add specified envVars into the deploymentConfigs"
Specified envVars are not present in the deployment config after running:
`oc new-app examples/sample-app/application-template-stibuild.json --env=FOO=bar`

[2015-08-25 16:22] jhadvig commented on #4123
@smarterclayton I can see your point, although not sure if various combinations of commands in order to deploy something with desired environment variables is the best approach, saying "If you wanna add this envvars to this config run these set commands, otherwise run these commands in this order...".
Sooner or later we will end up adding a flag(s) that are not fitting into your described new-app

[2015-08-25 16:25] jhadvig commented on #4363
demo http://pastebin.test.redhat.com/307955

[2015-08-25 16:54] jimmidyson commented on #3774
Fixed in google/cadvisor#865, tested against OpenShift with vanilla Docker 1.7.1 & Docker 1.8.1. Waiting for PR to be merged & will update Kubernetes/OpenShift godeps once release is out.

[2015-08-25 17:39] ironcladlou commented on #4329
Fixed by #4364

[2015-08-25 17:40] jwforres opened #4365 "Behavior of example repo link in console create page is strange"
The node-js example link looks like a regular link that should take you to the github page, but clicking it actually autofills the textbox above it.  The first time I used it I CTRL clicked it because i thought it was an actual link, and it opens a new web console tab.

I think we can resolve the weird usability by changing the link styling.  I'm thinking make it dashed underline and regular text

[2015-08-25 17:41] liggitt commented on #4365
or make the repo name just text with a "Try it out!" clickable link beside it

[2015-08-25 17:55] smarterclayton commented on #3774
Great, thanks for driving this through Jimmi.

On Tue, Aug 25, 2015 at 1:54 PM, Jimmi Dyson <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 17:58] smarterclayton commented on #4123
new-build should accept environment the same as new-app, but write that to
the build config.  I thought that was a review comment I left when
new-build was created - if not it's a bug and needs to be fixed.

new-app isn't about infinite flexibility.  It's about turning standard
images, source, or templates into apps.  Setting custom build config flags
doesn't really fit into that.  If you know abo

[2015-08-25 18:08] #4182 closed

[2015-08-25 18:24] smarterclayton commented on #4363
Need to deal with conflicts between `oc new-app A=B --env="A=C"`

[2015-08-25 18:36] bparees commented on #4123
so to attempt to summarize, we want:

1) oc new-build to take an env argument which adds env to the BC it creates

2) oc new-app to take an env argument which adds env to the DC it creates (but does nothing to builds and does nothing when processing templates)

3) document in the new-app documentation that if you need to customize the BC new-app creates, use other commands to do so after creating

[2015-08-25 18:41] roldancer opened #4367 "Dockerfile USER directive issue on OSE V3"
Hi
  We have an interesting issue with "Dockerfile" using directive "USER xxxx", let's see our Dockerfile

FROM centos:7
...
...
ENV APP_HOME /opt/app
RUN mkdir $APP_HOME

RUN groupadd  java && useradd -m -g java java
...
...
RUN chown -R java:java $APP_HOME
EXPOSE 8080
USER java
WORKDIR /

ENTRYPOINT [ "/control.sh" ]
CMD [ "start" ]

If I run this Docker image on an Ubuntu server, it works prope

[2015-08-25 18:54] jwforres opened #4368 "When I login, I see a message: "Failed to list projects" without futher details about how to solve it"
At best we could recommend the user attempt to login again, as in most cases this will either resolve the issue (like the api cert changing which is the most common cause) or you will determine that you are unable to access the login page at all, telling you the API server is down / unable to be contacted.

[2015-08-25 19:01] smarterclayton commented on #4123
1. oc new-build should take env like oc new-app does - on the command line,
implicitly (oc new-app A=B)
2. oc new-app and oc new-build should also support --env correctly (it
looks like it's broken)

3e. If you don't like 3b/3c and your problem isn't solved by 3d, you should
be creating a template for your users.

On Tue, Aug 25, 2015 at 3:36 PM, Ben Parees <notifications@github.com>
wrote:

--
Cl

[2015-08-25 20:09] jhadvig commented on #4363
So it appears that the `--env` flag work only when the `new-app` generated the template, not when its instantiating the template.

@smarterclayton regarding your comment, I guess that the envVar which is set after the new-app cmd shall have bigger priority the the flag. Or ?

[2015-08-25 20:48] #4305 closed

[2015-08-25 21:01] pat2man commented on #4367
By default, pods run in the restricted security context. This context randomizes the user which is probably the only way to securely run a multi tenant server.

You can add your own context that allows running as the standard java user. There is documentation here: https://docs.openshift.com/enterprise/3.0/admin_guide/manage_scc.html

[2015-08-25 21:08] smarterclayton commented on #4363
They should not be allowed to conflict - if you specify conflicting, the
command should halt with an error.

On Tue, Aug 25, 2015 at 5:09 PM, Jakub Hadvig <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 21:09] smarterclayton commented on #4363
--env should probably apply to the template as well.  I don't want the
arguments passed (A=B vs --env=A=B) to be inconsistent.  Does new-app have
another flag for sending param to the template (like --param?).  That might
also be wrong that there is a distinction.

On Tue, Aug 25, 2015 at 6:08 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 21:27] jhadvig commented on #4363
@smarterclayton yep there is `--param` that sets/overrides parameter values in the template.

[2015-08-25 21:29] smarterclayton commented on #4363
@fabianofranz but I think we should collapse these.  More discussion tmrw

On Aug 25, 2015, at 6:27 PM, Jakub Hadvig <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> yep there is --param
that sets/overrides parameter values in the template.

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/4363#issuecomment-134746

[2015-08-25 22:52] jwforres opened #4371 "Combine the top nav and project nav into one menu on mobile"
We currently have two separate collapsible menus at mobile. It would be nice to combine these into one.

[2015-08-25 22:54] ric03uec opened #4372 "app container get scheduled but does not run"
- i'm running a 4 node openshift origin cluster on DO (1 master, 3 nodes)
- one of the nodes is tagged as `infra` and it correctly runs the registry and the router
- i created a new app using instructions here: https://docs.openshift.org/latest/dev_guide/new_app.html#specifying-an-image
using the command `oc new-app google/nodejs-hello`
- all the components for the app get created successfully i.e

[2015-08-25 23:55] csrwng commented on #4123
Apart from new-build not setting variables on bc's which is new behavior, new-app's current behavior should be correct. It only sets env vars on the deployment configs that it generates.

[2015-08-26 02:45] #4245 closed

[2015-08-26 03:02] nak3 commented on #3820
@grdryn ran OpenShift as standalone mode, so I think it is not related to SDN.
Also I heard that @waynedovey hit same issue with cluster mode, but he could do `git clone <SAME_GIT_URL>` from another container.

Then, the strangest thing is that this error was disappeared after @waynedovey downgraded to OSEv3.0.0.1 from v3.0.1.0.
Additionally, I tested with @grdryn's close environment(CentOS Linux

[2015-08-26 03:12] smarterclayton commented on #4123
If you specify a param that has the same name as an env variable passed to
new-app, it should probably override it.  If a user has a template with
MONGODB_USER, and they specify "oc new-app mongodb MONGODB_USER=foo" I'm
pretty sure they expect MONGODB_USER to be overridden.  However, if that's
the behavior we have today, then I think it's ok to not have other
variables automatically get added to t

[2015-08-26 03:32] bparees commented on #4123
broken how?

[2015-08-26 03:41] bparees commented on #3820
@nak3 it might be faster to just create a custom builder image that does the clone with any debug you want.  updating s2i and then rebasing openshift is gonna take a couple days and i have a number of other items on my plate right now.

[2015-08-26 03:43] bparees commented on #3820
another container running in k8s, or a container run manually via docker run?

[2015-08-26 04:00] nak3 commented on #3820
I asked this, so it was a container ran manually via docker run.

[code]

[2015-08-26 04:01] nak3 commented on #3820
@bparees

OK, I see. We try it.

[2015-08-26 04:41] smarterclayton commented on #4275
All of them, in the right places.  In this case 1,3. Image created two tags
ago, tagged an hour ago. The last import date is relevant on an IS

On Aug 24, 2015, at 4:07 PM, Andy Goldstein <notifications@github.com>
wrote:

There are 4 dates:

   1. Docker image creation date
   2. OpenShift image creation date (when the Docker image was imported
   into OpenShift)
   3. ImageStream TagEvent creati

[2015-08-26 04:43] smarterclayton commented on #4275
Today, you import an image stream, not an individual istag.  When we enable
that we'll need to fix the general design.

On Aug 24, 2015, at 3:58 PM, Ben Parees <notifications@github.com> wrote:

if i run an oc import i'd expect to see this information refreshed to
indicate the last time it checked.

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/427

[2015-08-26 08:04] nak3 opened #4374 "Can kill OpenShift process with go panic by invalid json file"
Env
---
[code]

**NOTE:** I couldn't reproduce this issue with OSE v3.0.1.0 due to another error.

Issue:
---
- We can kill OpenShift process by sending request with invalid json file.
- Please see following steps.

Reproduce steps
---

step-1. Start openshift origin with standalone mode, and create route and docker-registry. (Followed with [here](https://github.com/nak3/openshift-local-setup))

s

[2015-08-26 08:08] jhadvig commented on #4123
@bparees check https://github.com/openshift/origin/issues/4363.

[2015-08-26 11:36] jhadvig commented on #4217
https://github.com/openshift/origin/pull/4375

[2015-08-26 11:52] sebiwi commented on #4300
Well, this isn't a routing problem, it's a connectivity between nodes problem. I can't curl the jenkins service from any node other than the node hosting the container. I don't know if that information narrows it down a little.

[2015-08-26 11:55] jhadvig commented on #4123
@smarterclayton can't we have only one of `--param`, `--env`, that would do the same thing? I mean, if there is envvar with the same name, override it, if there isn't add it.

[2015-08-26 13:26] smarterclayton commented on #4123
We need to circle back on whether the complexity is necessary.

The argument today for -p being separate and env not applying is:

* templates provide parameterization
* if the template author wanted you to change the env, they would have
exposed the option

On the flip side, consider "oc new-app mongodb php~source" where mongodb is
a template.

If I specify MONGODB_PASSWORD, do I want PHP to get

[2015-08-26 13:40] roldancer commented on #4367
Hi @pat2man, If I change the "restricted" SCC runAsUser : RunAsAny, it works

I don't like to change the default SCC restricted object so ...
Is it possible to assign a new SCC object to a Deployment Config (DC) ? how can I do that ?

Many thanks.

[2015-08-26 14:06] mfojtik opened #4378 "The jenkins example suffers from router not properly redirecting traffic from HTTP to HTTPS"
It seems like the router is somehow messing up with the Jenkins example we have. When you create the Jenkins example from the template and then you navigate to "jenkins.ci.router.default.svc.cluster.local" ('ci' is the project name) a login screen pops up. When you login, you're redirected from https to http. To fix it, you have to manually rewrite the URL in browser to start with "https://" (and

[2015-08-26 14:08] bparees commented on #4378
From our email thread on the topic:
here's what Jenkins has to say on the subject:
https://wiki.jenkins-ci.org/display/JENKINS/Running+Jenkins+behind+Apache

"If you'd like to run Jenkins with reverse proxy in HTTPS, one user reported that HTTPS needs to be terminated at Jenkins, not at the front-end Apache. See this e-mail thread for more discussion.

Alternatively, you can add an additional Prox

[2015-08-26 14:08] bparees commented on #4378
that's intentional, the route is setup to do edge termination.

https://github.com/openshift/origin/blob/master/examples/jenkins/jenkins-ephemeral-template.json#L55

and the reason i did it that way is, as discussed, I didn't want to deal with setting up a cert for jenkins, and doing http to the router would be totally insecure.

edge termination is also how we ran in v2 generally.  and again i'm

[2015-08-26 14:09] bparees commented on #4378
As of this issue[https://issues.jenkins-ci.org/browse/JENKINS-23294] it should respect X-Forwarded-Port and X-Forwarded-Proto.

Not saying we *can't* rewrite redirects but Jenkins is supposed to do the right thing here, and redirects are only part of the battle. When you create self-links in the text, or in JSON, or in calling out to an OAuth solution, or in email... fixing the redirect is not goi

[2015-08-26 14:15] mfojtik commented on #4378
@bparees alternatively we can run Apache proxy for the Jenkins that can do all this translations for us. But it one extra process you need to carry to run Jenkins.

[2015-08-26 14:22] bparees commented on #4378
@mfojtik :-1:

[2015-08-26 14:59] benjaminapetersen commented on #4247
Been looking more into this.  I think Sam's suggestion of `$rootScope.$evalAsync()` is closer to the mark.  Checking the source, perhaps `$rootScope.$applyAsync()` would be best, since it adds the item to the queue then tells angular to `scheduleApplyAsync()`.  `$evalAsync` seems to try a little harder to force a `$digest`, but I don't think we want to do that.

I'll do some testing & perhaps upda

[2015-08-26 15:14] liggitt commented on #4374
[code]

[2015-08-26 15:19] liggitt commented on #4374
should fix the assumption that strategy guaranteed a non-nil params field, but also find out why a panic handler wasn't catching this

[2015-08-26 15:38] roldancer opened #4381 "How to apply a default quota/limits for every new project"
Hi All,
    I would like to know if it is possible to define a default quota and limits for new projects ?

Many thanks.

[2015-08-26 17:25] liggitt commented on #4381
You can create a custom project template that includes quota/limits. See https://docs.openshift.org/latest/admin_guide/selfprovisioned_projects.html#template-for-new-projects

[2015-08-26 17:25] #4381 closed

[2015-08-26 18:09] ramr commented on #4035
@liggitt  - can you please close this now that #4298 has merged .Thx

[2015-08-26 18:32] liggitt opened #4383 "--master=https://localhost:8443 --write-config sets masterIP incorrectly"
`openshift start master --write-config=foo --master=https://localhost:8443` generates this config, with an invalid masterIP:

[code]

[2015-08-26 19:11] smarterclayton commented on #4067
Which volume dir are we talking about?  Root volume dir?  The argument was made if you want a custom policy, create the dir yourself.  Does that solve the problem?

[2015-08-26 19:11] smarterclayton commented on #4102
Can you set up time next week to discuss this?

On Mon, Aug 24, 2015 at 5:32 PM, Andy Goldstein <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-26 19:15] roldancer commented on #4381
Hi @liggitt , thanks for the information, but I don't see any information related to quota/limits in the project template, I'm using OSE V3.0.1

apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: project-request
objects:
- apiVersion: v1
  kind: Project
  metadata:
    annotations:
      openshift.io/description: ${PROJECT_DESCRIPTION}
      openshift.io/display-name: ${PROJ

[2015-08-26 19:37] liggitt commented on #4381
right... you can add a quota/limit objects to that template, upload the template to the API, then point to your custom template in the master config, and your customized version will get used when users create new projects

[2015-08-26 19:39] #4035 closed

[2015-08-26 20:02] ric03uec commented on #4372
- i reset the cluster and its working now. closing this

[2015-08-26 20:02] #4372 closed

[2015-08-26 20:06] jwforres commented on #4359
@ironcladlou when we get an API endpoint for manually starting a deployment, can we get a different cause returned, like "Manual" or something.  Right now oc deploy essentially is creating a config change to trigger the deployment by bumping the version number.

[2015-08-26 20:50] ironcladlou commented on #4359
@jwforres

Perhaps... the need is real, but I know @smarterclayton had some opinion about the future of the cause API. It's trigger centric right now.

[2015-08-26 20:59] roldancer commented on #4381
Hi @liggitt many thanks for the information, I have created the following template.

Question, Do you know if it is possible create differents projects template, for instance small, medium, large, and apply that kind of template size during the project creation, I mean when I execute oadm new-project ?

apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: small-project
objects

[2015-08-26 21:35] liggitt commented on #4381
`oadm new-project` uses the default template.

`oc new-project` and the "Create a project" UI use the custom template, if specified, and only a single template is supported.

Cluster admins can use generic templates to create projects of different sizes using `oc process ... | oc create -f -`. You can set up as many templates as you want and use `oc process` to process the templates as generic tem

[2015-08-26 21:38] smarterclayton commented on #4359
Uh, I don't remember any more, but I don't see why not.  I am a little
scared about going crazy on this API prior to deployments upstream, but
having cause be a param makes sense.

On Aug 26, 2015, at 5:50 PM, Dan Mace <notifications@github.com> wrote:

@jwforres <https://github.com/jwforres>

when we get an API endpoint for manually starting a deployment, can we get
a different cause returned, li

[2015-08-26 22:01] pmorie commented on #4300
@sebiwi I think it narrows it down slightly -- seems like it might be a problem with the configuration of the SDN.  @rajatchopra can you think of a good way to debug this further?

[2015-08-27 04:27] bparees commented on #3946
@liggitt and I discussed this and he had a proposal of a format like:
[code]

(ok we didn't discus the exact formatting so he may disagree there).

then we'd do normal parameter generation but then cast/convert the generated/overridden value into the appropriate type and specify it in the json in the correct format (eg stripping quotes for non-stirngs).

this would also enable parameterizing secre

[2015-08-27 04:56] liggitt commented on #3946
the whole syntax would have to be in a string, obviously. also, my preference would be to include it in the parameter syntax, e.g.
[code]

the pipe syntax would only be allowed if the parameter was the entire value (you couldn't do `"${FOO | int}${BAR | int}"`

Possible transformations:
[code]

For the conversion cases, we'd have to define what happens in error cases, either the template processin

[2015-08-27 05:13] pmorie commented on #4067
@smarterclayton it does -- I guess we need to add docs around custom SELinux policies that deal with this (unless you think no one wants to do this yet).

[2015-08-27 07:12] nak3 opened #4390 "origin-custom-docker-builder doesn't work if docker version is different"
Env:
---

[code]

[code]
NOTE: This docker version is openshift host system's.

Issue:
---
* When we use differnet version between the docker client(inside origin-custom-docker-builder) and server(openshift running system), we can't build with origin-custom-docker-builder.
* As a workaround, we can modify `openshift/origin-base` of Dockerfile and rebuild it, but it is just temporary solution. (Bec

[2015-08-27 07:51] samsong8610 commented on #4133
Is there any restriction to the router service account? Special roles? Or in special groups?

[2015-08-27 08:09] maxandersen commented on #4361
`oc types` prints out `oc projects`

[2015-08-27 08:15] maxandersen commented on #4360
I can honestly say I did not notice the instructions on the token web page at all before you pointed it out to me.

I think that the first paragraph is basically just a json dump made my brain say "okey - everything else is just technical details, let me grab the token and get outta here" :)

Would be great if this page was a bit more visually styled IMO and even better had a few buttons to copy t

[2015-08-27 08:16] maxandersen commented on #4287
ouch ;/

[2015-08-27 08:28] samsong8610 commented on #3175
I have the same issue as @sudhirpandey ,but I found another method to solve this issue without using a local DNS service. You could still use hostnames like master.example.com in the ansible inventory file and overriding some host variables, openshift_ip=<your local ip> openshift_master_api_url=https://<your master local ip>:8443. The final inventory looks like below.

    [masters]
    master.exa

[2015-08-27 10:01] roldancer commented on #4381
Hi @liggitt , many thanks for your help!!!!

[2015-08-27 11:46] roberto-gomez opened #4394 "Deployment status"
Hello.

I would like to know if there is some way to know the status of a deployment.

I am developing a system to deploy an application in OpenShift and I need to know if the deployment has finished well and if the application is stable. I've noticed that if the pod starts and fails, OpenShift tries to restart the pod again and again and the application is not stable, but OpenShift says that the

[2015-08-27 11:47] mfojtik commented on #4394
@roberto-gomez have you tried the `oc status` command?

[2015-08-27 11:48] mfojtik commented on #4394
@roberto-gomez you can also define post-deployment hook to verify that the application is in OK state:

https://docs.openshift.org/latest/dev_guide/deployments.html#lifecycle-hooks

[2015-08-27 12:46] liggitt commented on #4133
the service account should be in a securityContextContraint that allows host network usage (see https://docs.openshift.org/latest/admin_guide/install/deploy_router.html#haproxy-router)

ideally, it would also have the `system:router` role, for when the router starts to use its service account to contact the API, rather than the passed `--credentials`

[2015-08-27 13:45] liggitt commented on #4360
--username and --password are used to get a token. --token is just checked against the API directly.

[2015-08-27 13:45] liggitt commented on #4360
That page is served by the API, so it's non-trivial to add additional resources like flash copy buttons, etc. We could style it more nicely

[2015-08-27 14:08] jwforres opened #4397 "Improve the styles of the token instruction page"
See the discussion here https://github.com/openshift/origin/issues/4360#issuecomment-135336210

[2015-08-27 14:20] liggitt commented on #4361
This what you are referring to:
[code]

`oc get ...` accepts plural or singular versions of resource names
`oc project` is a command group that currently only accepts the singular versopm

[2015-08-27 15:28] nak3 commented on #3820
@grdryn

Could you please test with this sample app and custom-builder? You can run by:

[code]
And please check build-log by `oc build-log `.

This will not build any app, but it will test only `git clone`. Please check the [source](https://github.com/nak3/custom-builder-for-test/tree/master/custom-builder-gitclone)

**NOTE** After the test, you can delete by
[code]

[2015-08-27 16:07] smarterclayton commented on #4067
I don't think we need it yet (the docs)

On Aug 27, 2015, at 2:13 AM, Paul Morie <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> it does -- I guess we
need to add docs around custom SELinux policies that deal with this (unless
you think no one wants to do this yet).

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issu

[2015-08-27 18:04] jorgemoralespou commented on #3946
Hey @bparees @liggitt ,
What would be the problem extending the https://docs.openshift.org/latest/rest_api/openshift_v1.html#v1-parameter with a "type", like it has been done with the required?

Like it says on the 1.0.5 release notes:
[code]

[2015-08-27 18:08] sspeiche opened #4398 "Pod stuck on pending status due to hung docker daemon"
Origin/kubernetes should detect that case when a node is not able to service request such as a hung docker daemon, terminate the execution after some period of time and log an event/message. It would also be good if it attempted to launch the pod on a different healthy node.

I hit this issue recently with an instance that had been running for about a month. Things were working fine for a couple w

[2015-08-27 18:15] rettori opened #4399 "Feature Request - how do I know what commands are running inside a pod/container?"
Show the command on the pod window?
java...
httpd...
node...

[2015-08-27 18:17] liggitt commented on #3946
validating the input and describing the format of the output are different. What if you wanted to validate a numeric input (like "1"), but you wanted to set it in an envvar definition (which expects a string, so "1").

[2015-08-27 19:58] jhadvig commented on #4217
@smarterclayton please close this

[2015-08-27 20:00] #4217 closed

[2015-08-27 21:11] maxandersen commented on #4361
no, i'm referring to what is in the latest release oc output:

[code]
when I run that it gives an error.

Maybe the issue is fixed in master ?

[2015-08-27 21:14] goern opened #4401 "jenkins example uses wrong default image name"
As of https://github.com/openshift/origin/blob/master/examples/jenkins/jenkins-ephemeral-template.json#L138 the default image name is `openshift/jenkins-16-centos7` but should by `openshift/jenkins-1-centos7`

[2015-08-27 22:58] jhadvig commented on #4268
@mfojtik close pls

[2015-08-28 06:31] roberto-gomez commented on #4394
Hi @mfojtik

I was reading about the post-deployment hooks but I can't understand well how it works, could you show me an example about it?

[2015-08-28 06:51] jorgemoralespou commented on #3946
And is there an issue to validate the input? This should be also needed, as this could allow to fail soon before doing the template processing.
We are seeing many templates process and resources created and then falling for to some invalid value.

[2015-08-28 08:52] mfojtik commented on #3946
@liggitt @bparees alternative proposal (just brainstorming)...
Let allow to specify the 'JSONPath' as part of the parameter definition:

[code]

[2015-08-28 11:54] smarterclayton commented on #4399
It might be good if pod describe showed the command and args.  This is an upstream issue if they don't.  It should be possible to see from the console too in details.

[2015-08-28 11:55] smarterclayton commented on #4398
Open an upstream issue please

[2015-08-28 11:56] smarterclayton commented on #4394
You can also add a readiness check to your pod - that check can be an HTTP get, a TCP connect, or exec a script inside your container.  If you add that, deployments won't be considered successful until your check returns "ok".  Also, you won't be added as a load balancer target until it succeeds.

[2015-08-28 11:58] smarterclayton commented on #4390
@bparees this is pretty significant - could be our API calls (client library shouldn't fail like this), or the embedded docker command.

[2015-08-28 11:58] smarterclayton commented on #4390
P1

[2015-08-28 11:59] smarterclayton commented on #4383
That darn masterip

[2015-08-28 11:59] smarterclayton commented on #4374
P0 - we may need to hot fix

[2015-08-28 12:00] smarterclayton commented on #4374
We may have lost the panic handler accidently in the API installer.  Could be upstream too.

[2015-08-28 12:02] smarterclayton commented on #4367
Usually you would assign your service account to the scc.

Your service account name is "system:serviceaccount:<project>:default" (the last segment is different if you set the pods service account name field).  You can add that to the "users" field of the restricted SCC.

[2015-08-28 12:03] smarterclayton commented on #4367
The comment ate it but the third segment of your service account should be the project name

[2015-08-28 12:04] smarterclayton commented on #4362
oc status should tell you.  Also, this is a dupe of another issue we have to reflect build status in the status field.

[2015-08-28 12:04] smarterclayton commented on #4361
Probably not.  Good catch

[2015-08-28 12:05] smarterclayton commented on #4360
Does it have to be served by the API?  Could we inject a template somehow that could be extended?

[2015-08-28 12:06] smarterclayton commented on #4354
@bparees @mfojtik

[2015-08-28 12:06] smarterclayton commented on #4351
I thought we opened an upstream issue for this

[2015-08-28 12:08] smarterclayton commented on #4336
There is an upstream issue on this: https://github.com/kubernetes/kubernetes/issues/9473 - trying to get it in

[2015-08-28 12:15] mfojtik commented on #4390
@smarterclayton @bparees I think this might have something with the go-dockerclient bump we did last week or so

[2015-08-28 12:17] mfojtik commented on #4390
The `docker` binary inside the custom builder image is:

[code]

[2015-08-28 12:20] mfojtik commented on #4390
OK, I think I know what is going on here... the centos:centos7 version of docker has client API 1.19 while the Fedora 21 has docker api 1.18

[2015-08-28 12:22] mfojtik commented on #4390
@smarterclayton @danmcp is there anyone we can contact regarding bumping the Fedora 21 docker version to match with centos 7?

[2015-08-28 12:31] liggitt commented on #4361
Shows `oc get projects` in master

[2015-08-28 12:37] mfojtik commented on #4390
@lsm5 ping :-)

[2015-08-28 12:41] smarterclayton commented on #3847
The things @thoraxe is describing are mostly what we would call sub-status or "conditions".  Additional human readable info about what exactly the build is doing at this time.  @soltysh is correct that we chose deliberately to use phases that corresponded with pods for consistency, and those will also be consistent with Jobs and Deployments (or should be).

Additional info about the sub-status of

[2015-08-28 12:44] smarterclayton commented on #2540
Yes, there is benefit to having multiple registries - we have people doing that today for running and hosting their own registries *on* openshift.

[2015-08-28 12:44] smarterclayton commented on #2540
There's probably not benefit to running multiple registries in the default auth mode on openshift though.

[2015-08-28 12:45] smarterclayton commented on #2417
Fixed.

[2015-08-28 12:45] #2417 closed

[2015-08-28 12:45] smarterclayton commented on #2417
`oc rsh`

[2015-08-28 12:46] smarterclayton commented on #2179
Fixed

[2015-08-28 12:46] #2179 closed

[2015-08-28 12:46] smarterclayton commented on #1878
This was implemented.

[2015-08-28 12:46] #1878 closed

[2015-08-28 12:52] roberto-gomez commented on #4394
@smarterclayton thanks for the idea.

I am looking for an example in the documentation, but I don't found it, could you show me one?

[2015-08-28 12:54] smarterclayton commented on #4206
I *think* this is dependent on an upstream issue where errors are being swallowed on parsing failure in resource.Builder.  But someone needs to check.

[2015-08-28 12:55] smarterclayton commented on #341
There should probably a timeout on custom-build that is defaulted high and user settable.  Do we have build timeouts yet?

[2015-08-28 12:58] mfojtik commented on #341
@smarterclayton is there a way to tell k8s to timeout when creating a Pod (image not found) ?

[2015-08-28 12:59] smarterclayton commented on #341
If not there should be.  I don't think waiting forever for a run once pod
makes sense.  Need to be able to set a total deadline.  Derek may know more
about what upstream has planned @derekwaynecarr

On Aug 28, 2015, at 9:58 AM, Michal Fojtik <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> is there a way to tell
k8s to timeout when creating a Pod (image not fo

[2015-08-28 13:02] soltysh commented on #341
Yes there is PodSpec.ActiveDeadlineSeconds, which defines "Optional duration in seconds relative to the StartTime that the pod may be active on a node before the system actively tries to terminate the pod; value must be positive integer". This should do the trick AFAIK.

[2015-08-28 13:04] mfojtik commented on #341
@soltysh I think it should be aware of the Pod state. I don't want kill the Pod that is already running (for a long time...). This might be solution to timeout long builds.

I believe we are talking here about failing the Pod (and the Build) that is not able to fetch the image for N seconds (configurable).

[2015-08-28 13:05] smarterclayton commented on #341
It doesn't take into account pull time by design

On Aug 28, 2015, at 10:02 AM, Maciej Szulik <notifications@github.com>
wrote:

Yes there is PodSpec.ActiveDeadlineSeconds, which defines "Optional
duration in seconds relative to the StartTime that the pod may be active on
a node before the system actively tries to terminate the pod; value must be
positive integer". This should do the trick AFAIK.

[2015-08-28 13:08] mfojtik commented on #341
@smarterclayton isn't think something we can solve in OpenShift Build? I mean if the build controller start a Pod, it controller can set a watcher to watch that Pod. If the state of the Pod is pending for very long time (and the reason is the image does not exists), you can fail the Build (and remove the Pod).

[2015-08-28 13:12] spadgett opened #4404 "Nav bar layout problems when resizing browser window"
When I size the browser narrow, wide, and then narrow, the toolbar icons are below the dropdown instead of beside it. @sg00dwin @jwforres

<img width="482" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/9546953/b78afe76-4d64-11e5-9f86-1f7e407194c3.png">

[2015-08-28 13:16] spadgett commented on #4404
The filter widget always somehow disappeared on me as well. Notice that the Add to Project button is where filter should be. When I refreshed the page, filter came back.

<img width="948" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/9546998/14389390-4d65-11e5-92bf-3e3ff7f7ed0b.png">

I saw this once as well:

<img width="333" alt="openshift_web_console" src="

[2015-08-28 13:17] liggitt commented on #4360
sure, login, token display, etc, are currently templates that we could externalize or allow overriding

[2015-08-28 13:19] sspeiche opened #4405 "'oc types' is missing *builds* and *events*"
The output for the `oc types` command is missing definitions for "builds" and "events". It also seems extraneous to have concept definitions in the output of this command.

Also the first example does not work:

[code]

should be

[code]

[2015-08-28 13:19] bparees commented on #3946
That feels harder to me as a user and more work to maintain if I rename
something or otherwise restructure my template.  (and more error prone if I
mess up a path)

I take it your point is we could just do direct assignment then? "value"
would be an untyped interface?

Ben Parees | OpenShift
On Aug 28, 2015 04:52, "Michal Fojtik" <notifications@github.com> wrote:

[2015-08-28 13:21] smarterclayton commented on #341
It applies to jobs and run once pods in general.  Did we add a new timeout
field to Jobs for overall execution?  That would apply to builds I think.
We could do the check in builds, I just want to be sure that is intentional.

On Aug 28, 2015, at 10:08 AM, Michal Fojtik <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> isn't think something
we can solve in Open

[2015-08-28 13:21] bparees commented on #3946
Is failing at processing so bad? Processing is fast.

Whether we should do more validation as part of process is a valid
question/separate issue though.

Ben Parees | OpenShift
On Aug 28, 2015 02:51, "Jorge Morales Pou" <notifications@github.com> wrote:

[2015-08-28 13:31] bparees commented on #341
Could, probably shouldn't. This should be a platform capability that
applies to run once pods in general, as @smarterclayton implies.

Ben Parees | OpenShift
On Aug 28, 2015 09:08, "Michal Fojtik" <notifications@github.com> wrote:

[2015-08-28 13:39] mfojtik commented on #3946
@bparees yes, the value is interface{}

Making the integer and boolean accepting string values with parameters seems to be much harder to implement (the JSON parser will have to be more relaxed on it).

[2015-08-28 13:41] liggitt commented on #3946
Validation is orthogonal. I might want to validate something as an integer, even if it is going to be plugged in as a string.

Which parser, parsing when we process the template?

[2015-08-28 13:43] mfojtik commented on #3946
@liggitt yes, like if you parse `replicas: "${NUM | integer}"`. When reading the template, we will have to treat all fields as strings, do substitution and then change them to integers/bools?

[2015-08-28 13:49] liggitt opened #4407 "Flake in travis f5 unit tests"
https://travis-ci.org/openshift/origin/jobs/77679784#L1151
[code]

[2015-08-28 13:52] smarterclayton commented on #3246
Spawned https://github.com/kubernetes/kubernetes/issues/13306

[2015-08-28 13:55] smarterclayton commented on #4394
production-pods.md
<https://github.com/kubernetes/kubernetes/blob/e366f2c597df57494c647dd5d0e99305d887b321/docs/user-guide/production-pods.md#liveness-and-readiness-probes-aka-health-checks>
is
the best one right now

On Fri, Aug 28, 2015 at 9:52 AM, Roberto Gomez <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 14:12] soltysh commented on #341
It was suggested to be removed and use Pod's ActiveDeadlineSeconds instead, but it's left as a future extensions. Once I'm done with the basic jobs, I'll try to bring back that discussion and start implementing the idea.

[2015-08-28 14:13] liggitt commented on #4407
Test is taking too long. This is what I get locally:
[code]

By comparison:
[code]

30 seconds locally means there's a good chance the test will timeout in jenkins/travis

[2015-08-28 14:21] mwiora opened #4409 "build image fails on run ALLOWED_UIDS"
# DESCRIPTION

today I've been running a fresh installation of openshift using the ansible cookbook and got the new openshift origin 1.0.5 version.
Everything seems fine (existing docker images are getting deployed), but for the builder-part the process seems currently not working. It requires the specification of an UserID.

This is the oc logs build output.
The same happens when initiating the b

[2015-08-28 14:26] liggitt commented on #3946
any field that contains a parameter substitution already has to be a string, in order to contain the param name syntax... I think we have to let that be transformed from a string to a non-string

[2015-08-28 14:31] rettori commented on #4399
This came in during the OSRoadshow in Montreal.

[2015-08-28 14:35] liggitt commented on #4407
Introduced in https://github.com/openshift/origin/pull/2940

Each call to HandleRoute() is taking .5-2 seconds. By forcing a test failure at the end of each test, and adding this to HandleRoute(), we can see test timing info:
[code]

[code]

[2015-08-28 14:55] spadgett opened #4410 "UI submits all template objects to v1 API, regardless of object API version"
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1261076

Seen in the Zookeeper template (which currently uses v1beta3).

[code]

Try to use it in the Web Console. You'll see errors.

<img width="704" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/9549258/0e2e7754-4d73-11e5-81b7-da3d047bd068.png">

[2015-08-28 14:56] spadgett commented on #4410
No errors on the command line.

[code]

[2015-08-28 15:01] smarterclayton commented on #4351
Things we can check

* generation
* spec differences
* metadata differences
  * knowing what metadata we changed

A generalized pattern would be better than a specific one.

[2015-08-28 15:04] mfojtik commented on #4410
I have to update the template. @bparees can you assign this to me?

[2015-08-28 15:05] liggitt commented on #4410
Caused by https://github.com/openshift/origin/issues/4173

All objects HAVE to be submitted to the right version endpoint, which means every client either has to be able to convert to the API version they want to submit to (which is what the CLI does) or know the right endpoints for every API version they want to support in lists/templates

[2015-08-28 15:06] liggitt commented on #4410
If the UI locks to a particular API version, that means all templates have to also be locked to that version, which seems impossible to enforce/maintain. @smarterclayton this feels like a problem the upstream API design will make worse...

[2015-08-28 15:06] liggitt commented on #4410
@mfojtik open a separate issue for updating the template... this issue should be used to solve the general problem of the UI submitting all objects to the v1 endpoint

[2015-08-28 15:07] mfojtik opened #4411 "Update zookeeper template to v1"
The zookeeper template is currently based on v1beta3, which is not playing well with the UI. This is tracked as separate issue: https://github.com/openshift/origin/issues/4410

[2015-08-28 15:08] mfojtik commented on #4410
@liggitt done, now you can assign the issue I made to me ;-)

[2015-08-28 15:08] mfojtik commented on #4411
@liggitt do you want to keep it broken for a while as a canary?

[2015-08-28 15:09] liggitt commented on #4411
No, we'll add a test for the other issue to the UI

[2015-08-28 15:24] smarterclayton commented on #4410
Should the UI then not be locking to v1?

On Fri, Aug 28, 2015 at 12:06 PM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:25] smarterclayton commented on #4410
I kind of agree though that inflexibilty in what you expect is bad.

On Fri, Aug 28, 2015 at 12:24 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:32] derekwaynecarr commented on #341
@smarterclayton - ActiveDeadlineSeconds does include pull time.  A pod is active based on the kubelet's first observation of it being assigned to its node.  It will then pull image and start container.  In the synch loop for Kubelet, it will see the pod and check if its exceeded its active deadline even if the container has not yet started.  The pod is marked as failed.

https://github.com/kuberne

[2015-08-28 15:33] liggitt commented on #4410
There is zero chance the UI will have conversion logic, so it has to pick a version of the API to read from and write to for objects it is expecting to deal with the contents of.

Templates are sort of a special case, the UI just iterates through the list, looks at the type, and ships it off to the origin or k8s API without looking at any of the other fields. Now, it would have to also look at the

[2015-08-28 15:35] liggitt commented on #4405
on master:
[code]

[2015-08-28 15:36] smarterclayton commented on #341
Ok, so then we're ok with just ADS on builds.

On Fri, Aug 28, 2015 at 12:32 PM, Derek Carr <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:36] smarterclayton commented on #4410
Wait... templates don't convert versions.

On Fri, Aug 28, 2015 at 12:33 PM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:37] smarterclayton commented on #4410
You get back a list of objects from the /process endpoint in the same
version you sent them.

On Fri, Aug 28, 2015 at 12:36 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:38] liggitt commented on #4410
Right. The UI reads a stored template containing v1beta3 objects, submits it for processing as-is, gets back v1beta3 objects, and now needs to know all the api+version endpoints that will ever exist

[2015-08-28 15:44] thoraxe commented on #3847
Yeah that looks great!

[2015-08-28 15:46] smarterclayton commented on #4410
Certainly it needs to know the same thing the CLI needs and that any other
generic tool needs.  Eclipse needs it as well.

On Fri, Aug 28, 2015 at 12:38 PM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 16:07] JimTyrrell commented on #3847
That seems like it would handle the concern above, does this type of "update" to grammar need to move to other command line tools?

[2015-08-28 16:09] lsm5 commented on #4390
done, please get a +3 at https://bodhi.fedoraproject.org/updates/docker-io-1.8.1-2.git32b8b25.fc21 for expedited move to -updates

[2015-08-28 16:19] jwforres commented on #4404
Yeah i think we knew about these but weren't too worried about them since most people are not going to be shrinking their browser window all the way down to mobile size and back.

[2015-08-28 16:29] smarterclayton commented on #3847
Generally pods already display this, but neither deployments nor builds
roll this data up today.  It's something being tracked in a few different
issues - I'm not sure how fast we'll get there.

On Fri, Aug 28, 2015 at 1:07 PM, JimTyrrell <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 16:34] ivanthelad commented on #3612
@jim-minter  did you ever opens a support case for this?

[2015-08-28 17:13] nak3 opened #4415 "Unable to push to internal registry using Docker 1.8 due to "Error parsing HTTP response: invalid character 'M' looking for beginning of value: "Method not allowed\n"""
Env:
---
[code]

[code]

**NOTE**: I tested on Fedora21 with docker 1.8. But I could reproduce CentOS7 with docker 1.8

Issue:
---
- With docker v1.8, S2I build failed because it can't push to docker reigstry with this error

[code]

- Please see [entire log](https://paste.fedoraproject.org/260763/)

Reproduce steps:
---
- step-1. Running docker 1.8

- step-2. Running openshift (in my case stndalo

[2015-08-28 17:16] nak3 commented on #4390
I tested.

Good news: docker 1.8 has different api(1.20) from CentOS7 (1.18), but this error didn't happen.
Bad news : After S2I build with docker 1.8, it can't push to docker registry and build failed. I reported here https://github.com/openshift/origin/issues/4415

[2015-08-28 17:36] spadgett commented on #4404
I'm not sure it's that uncommon since the breakpoint is 768px, which isn't really that small. I hit a problem almost immediately just resizing the window larger. The filter disappears.

[2015-08-28 18:02] Miciah opened #4417 "ECDHE ciphers may pose performance concerns"
The use of ECDHE ciphers for TLS connections with parallelism may pose performance problems.  https://github.com/openshift/origin/pull/2940 describes a problem we had with some test cases for the F5 router that create a test TLS server and issue some REST requests (in the order of several score) against that server.  The total runtime for the F5 router tests using `-p=4 -race` was around 33 second

[2015-08-28 18:17] spadgett commented on #4410
We could support up to a version like v1 so we don't guess at future endpoints. Handling context changes like `osapi` -> `oapi` is a bit annoying, otherwise it's just changing one path segment.

[2015-08-28 18:21] liggitt commented on #4410
You think it's just one path segment. Just wait until you see what upstream has in store

[2015-08-28 18:28] spadgett commented on #4404
I've played this more. There are problems anytime you resize past the 768px breakpoint. You don't have to go back.

* Starting at 800px, resizing to 600px: the toolbar buttons stop working. You can't click them.
* Starting at 600px, resizing to 800px: the filter disappears.

It's not just layout problems, things stop working. I think this should be higher priority.

[2015-08-28 18:40] spadgett commented on #4410
Ha. Can't wait :)

So what are the alternatives? Have /process convert for us? Lock to a version?

[2015-08-28 18:41] liggitt commented on #4410
I think we have to take the api version in the object and plug it into the URL, but you can't assume it's a single path segment

[2015-08-28 18:42] liggitt commented on #4410
should also probably do some basic validation to make sure it doesn't contain backsteps

[2015-08-28 18:42] devop-mmcgrath commented on #3859
This will have been outstanding for over a month with no other comments.  AFAIK, others haven't been able to re-create. Perhaps its time we close the bug?

[2015-08-28 18:45] #4407 closed

[2015-08-28 18:46] derekwaynecarr commented on #3274
We do have the concept of immortal namespaces in the NamespaceLifecycle admission controller.

[2015-08-28 18:59] mrry550 commented on #3655
@wshearn Any luck? :)

[2015-08-28 19:29] soltysh commented on #3847
Actually, the phases will be gradually [removed](https://github.com/kubernetes/kubernetes/issues/7856) upstream, which means our phases are going to be deprecated as well (but it'll take a while till we get there). There are no phases in [Jobs](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/job.md) already and API seems to be moving towards [conditions](https://github.com/kube

[2015-08-28 21:03] jim-minter commented on #3612
@ivanthelad case 01481562, but I haven't had a proper chance to follow it up :(

[2015-08-28 21:12] ivanthelad commented on #3612
i know that feeling ;)
Thx

[2015-08-28 23:45] pat2man opened #4420 "Error when attaching volume: invalid memory address or nil pointer dereference"
After setting up an ebs pv and running any of the persistent templates the following error occurs:

[code]

[2015-08-29 01:55] bparees commented on #4390
So at the end of the day is there anything we can do here?  if go-dockerclient isn't backwards compatible to older docker api versions, i think we're pretty stuck, right? (other than ensuring people can update their older dockers)

[2015-08-29 02:01] bparees commented on #341
What determines when the pod is "active"?  once "docker run" has been handed off?

[2015-08-29 02:13] bparees commented on #3946
It is a problem since the template today consists of (among other things) a list of API Structs, so the assumption is that the json in the template can be directly deserialized into an api object.  (which is what we do, and then we iterate the objects/fields and do the substitution).

So @mfojtik makes a valid point that we can't just put String values into non-String fields in the template json,

[2015-08-29 02:22] liggitt commented on #3946
I thought this meant the objects could be arbitrary JSON:
[code]

I thought the template process visited all the structs using reflection, and could swap a string value out with an int value, then reserialize. I didn't think templates items got converted to actual API structs during processing.

[2015-08-29 02:23] bparees commented on #4354
1) We definitely don't support building from anywhere except a remotely accessible git repo, so i'm surprised you even got this far.

2) Can you run "oc get bc -o json -n <your namespace>" and "oc get builds -o json -n <yournamespace> and show me the output?

3) also if you can gist the entire build-logs output that would help.

4) and what is in your Dockerfile?

5) if you run "docker build ." in

[2015-08-29 02:36] bparees commented on #3946
could be. i'm guilty of assuming/speculating w/o checking the code.

[2015-08-29 12:04] smarterclayton commented on #4390
Need to make go docker client backward compatible

On Aug 28, 2015, at 9:55 PM, Ben Parees <notifications@github.com> wrote:

So at the end of the day is there anything we can do here? if
go-dockerclient isn't backwards compatible to older docker api versions, i
think we're pretty stuck, right? (other than ensuring people can update
their older dockers)

—
Reply to this email directly or view it o

[2015-08-30 10:15] nak3 commented on #3820
I updated more sophisticated builder to debug.

https://github.com/nak3/custom-builder-for-test/tree/master/custom-builder-debug

@grdryn Please use this one, if you can.

[code]

[2015-08-30 17:47] grdryn commented on #3820
@nak3 I'll try to find time to try that this week, thanks :)

[2015-08-30 21:58] smarterclayton commented on #341
As Derek stated, based on the time when a kubelet first observes the pod.

On Fri, Aug 28, 2015 at 11:01 PM, Ben Parees <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-31 00:40] bparees commented on #341
@smarterclayton yeah so it doesn't solve this problem does it?

what we want:
timer that expires if the pod is not "running" within a certain period of time.

what we have:
timer that expires if the pod is not assigned to a node within a certain period of time.

Given that activedeadline doesn't even include the pull time, it can't handle the situation where the image doesn't exist.  it's a schedu

[2015-08-31 03:44] deanpeterson opened #4427 "No Help in Build Logs"
I just pulled down the latest binary and followed all the steps I did before to get the sample application working.  However, this time, the build fails right away.  I get no help from the build log:

./oc build-logs ruby-sample-build-1
F0831 03:41:01.134580       1 builder.go:47] Build error: exit status 128

That's it.  There is no other information.  How do I find the cause of the problem?

[2015-08-31 05:02] smarterclayton commented on #341
ADS handles from when the pod is scheduled - which means it includes pull
time.

I don't know what timer you're referring to, but if you have a timer that
handles something being scheduled, we have both timeouts.

On Sun, Aug 30, 2015 at 9:40 PM, Ben Parees <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-31 08:33] soltysh commented on #341
I agree with @smarterclayton ADS is perfectly fine for us. The only pull that will happen is the pull for the builder image (not counting the actual build process deps), which in case of a Source or Docker build should be available, or downloading it should not even be taken under consideration. This means the time is mostly consumed for the build process itself, which is fine. In the Custom build

[2015-08-31 09:20] soltysh commented on #4427
You can start with increasing your build log, define `BUILD_LOGLEVEL` env variable in your BuildConfig as described [here](https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs) and set it to 5.

[2015-08-31 09:20] #4411 closed

[2015-08-31 09:20] mfojtik commented on #4005
Already done.

[2015-08-31 09:20] #4005 closed

[2015-08-31 09:20] mfojtik commented on #4006
Initial documentation added. Closing

[2015-08-31 09:20] #4006 closed

[2015-08-31 09:25] mfojtik commented on #4354
[code]

Can you do instead of 'go get' git clone? I it fails because the source you are trying to build is not valid GIT repository (the OS_GIT_MAJOR is variable to determine the current version of OpenShift).

[2015-08-31 09:27] mfojtik commented on #4427
Since we are just forwarding the error from `Build()` my best guess would be this has something to do with `git` command that S2I is invoking.

[2015-08-31 09:45] soltysh commented on #1683
@bparees can you please close this one since @mfojtik's PR got merged?

[2015-08-31 09:46] soltysh commented on #3176
@bparees please close per @mfojtik PR.

[2015-08-31 09:52] soltysh commented on #4199
There's also something similar but regarding push spec in #2982

[2015-08-31 10:02] soltysh commented on #4362
I think you're referring to #3847

[2015-08-31 10:06] soltysh commented on #4401
Fixed in #4385

[2015-08-31 10:13] soltysh commented on #4427
If that's the case, we should make it more verbose than above.

[2015-08-31 11:20] mfojtik commented on #3745
@thoraxe can't you just add description annotation or add extra annotation with link to documentation?

`openshift.io/readme` or something similar.

[2015-08-31 13:13] roldancer opened #4429 "Permission problem when reading metadata using "Volume Plugi-In""
Hi All,
    I have some "permission" problems reading metadata (labels, annotation),  my image is using the "java" user, but the metadata is mounted as root, I followed the Develper Guide "Chapter 21.4. Using the Volume Plug-in".
Any idea on how to resolve the problem ? is this feature only ready for root containser user ?

[java@test2-1-526qi ]$ whoami
java
[java@test2-1-526qi ]$ cat /etc/metadat

[2015-08-31 13:17] jhadvig opened #4430 "`oc secrets new-dockercfg` is not taking params from .dockercfg if passed as agrument"
`oc secrets new-dockercfg /path/to/.dockercfg`
should be similar to
`oc secrets new-dockercfg --docker-username=... --docker-password=... --docker-mail=...`
but passing only the `.dockercfg` is not working.

[2015-08-31 13:19] liggitt opened #4431 "Validate master auth configuration"
Add warnings about configurations that are likely to cause problems:
* Multiple challengers that redirect
* Multiple challengers that redirect and challenge
* ...

[2015-08-31 13:22] liggitt commented on #4430
`oc secrets new my-secret /path/to/.dockercfg` does what you want. `new-dockercfg` is for creating one out of thin air. `new-dockercfg` should error since additional args aren't supported

[2015-08-31 13:24] liggitt commented on #3745
the description annotation gets surfaced by tooling. we'd want to coordinate on any link annotations before officially adding them, to make sure tooling surfaced them appropriately

[2015-08-31 13:27] jhadvig commented on #4430
@liggitt but in the `--help` we are telling user that he can also create dockercfg secret just by passing path to local `.dockercfg`, which would make sense.

https://github.com/openshift/origin/blob/master/pkg/cmd/cli/secrets/dockercfg.go#L40-L42

[2015-08-31 13:28] jhadvig commented on #4430
Also why shouldn't we support additional args ?

[2015-08-31 13:31] thoraxe commented on #3745
@mfojtik Until "oc annotation" comes in, that's not all that useful. But, even once it comes in, you still have the problem of exposing that information using "standard" tools.

Right now:
`oc get project` wouldn't show that info.
I don't think `oc describe project` would show that info, would it?
The Web UI wouldn't show that info.

That's the primary concern -- right now you must know exactly ho

[2015-08-31 13:36] liggitt commented on #4430
`oc secret new` already does what you want, we should direct people to that

[2015-08-31 14:03] bparees commented on #341
I misread @derekwaynecarr's comment as saying pull time is NOT included.  So yes i partly agree this could be used, except it still sounds like it's also going to include the run time of the build, which is problematic since we can't really pick a useful default given the potential range of build times (anywhere from a few minutes for a normal build to hours for a build that is doing some sort of

[2015-08-31 14:06] soltysh commented on #341
What I'd prefer is, us providing user with sane default but still allowing users to redefine that. So you can have your cake and eat it too :wink:

[2015-08-31 14:16] jhadvig commented on #4430
@liggitt ok I see your point, but shouldn't the `oc secrets new-dockercfg` also have that option. I would expect that the `new-dockercfg` would have this option to create (only) the dockercfg secrets and the `oc secrets new` would create any type of secret.
Also the `oc secrets new` is not providing validation if all the necessary params (in case of dockercfg - user/pw/registry-addr/mail) are pres

[2015-08-31 14:18] liggitt commented on #4430
`oc secrets new` just adds the file content, and sets the type according to the name of file. I'm not sure we want to get in the business of validating file content client side... if it's invalid, it'll fail when you use it

[2015-08-31 14:20] jhadvig commented on #4430
@liggitt well I think that when you are creating the .dockercfg from a file we do wanna have at least some basic validation, whether all needed params are present. or ?

[2015-08-31 14:25] jhadvig commented on #4430
nm regarding the validation, I think I see the point and we dont wanna go there.

Regarding the `oc secrets new-dockercfg`. Is the way how to create and secret from file the `oc secrets new ..` ? If so I will remove the lines that refer that `oc secrets new-dockerfcg` can create from file.

[2015-08-31 14:29] liggitt commented on #4430
yup, `new-dockercfg` lets you provide the individual values and we combine it into a json dockercfg file. `new` lets you create a secret from any existing file

[2015-08-31 14:50] pweil- commented on #1870
PR: https://github.com/openshift/origin/pull/4425

[2015-08-31 15:23] #3848 closed

[2015-08-31 15:23] #3611 closed

[2015-08-31 15:26] mwiora commented on #4409
reinstalled the whole environment - the issue does not occur when using https://github.com/openshift/nodejs-ex#master and the node.js builder image

[2015-08-31 15:31] deads2k commented on #4405
Do we want to keep this command as is or do we want to use something like https://github.com/kubernetes/kubernetes/pull/12677 instead?

[2015-08-31 15:48] jhadvig commented on #4427
maybe it would be good to add this info to the build-logs help ?

[2015-08-31 15:55] deanpeterson commented on #4427
Thanks, increasing the build log level confirmed it was a git error caused by the docker daemon not being able to reach the internet.  I followed the advice <a href="https://github.com/openshift/origin/issues/1536">here</a> and restarted docker.

[2015-08-31 16:01] #4427 closed

[2015-08-31 16:02] wshearn commented on #3655
Yeah, this has been fixed for us, sorry should have said something.

[2015-08-31 16:22] kargakis opened #4434 "Rebase issues"
A couple of things to take into account for the next rebase:

1) code.google imports in our dependencies - godep yells about them

`code.google.com/p/go-uuid/uuid`
Used by [docker/distribution](https://github.com/openshift/origin/issues/4339). We either have to bump it or most probably carry a patch on it that will use the [other duplicate package](https://github.com/openshift/origin/tree/master/G

[2015-08-31 16:59] #3655 closed

[2015-08-31 18:22] #1683 closed