[2016-02-12 13:38] deads2k commented on #7241
Are you and @stevekuznetsov battling over output nits? :)

[2016-02-12 13:39] spadgett commented on #7179
Interesting, that icon means less to me than the one we're using :) Maybe it's because I've done so much XML and HTML.

Note it's not always a commit. It's sometimes just the Git repository. We could use different icons depending on whether we have commit information.

The icon we have now is the Font Awesome icon for code:

http://fortawesome.github.io/Font-Awesome/icon/code/

@mfojtik Is there a

[2016-02-12 13:40] deads2k commented on #7250
See trello: https://trello.com/c/YqfYqKdS/545-8-policy-related-endpoints-need-work

[2016-02-12 13:40] vbehar commented on #7237
oh yes, I mixed up the syntax! Yes, I think we can do something with the completion, it should be enough for our use case. Thanks

[2016-02-12 13:42] deads2k commented on #7243
Could be a new error with the new client.  Remember `DANGER` in the rebase?

[2016-02-12 13:42] jwforres commented on #7240
@ajacobs21e where would you expect the patternfly table toolbar to go on a page like this, where the table is beneath othe content. The table only appears on the first Summary tab.

[2016-02-12 13:42] spadgett commented on #7255
/cc @jwforres

[2016-02-12 13:58] jwforres commented on #7255
My initial suspicion would be something in the code that associates builds
to images to dep config triggers.
On Feb 12, 2016 8:42 AM, "Sam Padgett" <notifications@github.com> wrote:

[2016-02-12 13:59] mwringe commented on #7253
@SillyMoo with the new Heapster version I don't believe there is a validate endpoint anymore.

Can you try the `/api/v1/model/metrics` endpoint? That should return something
[code]

[2016-02-12 14:01] liggitt commented on #7255
This probably isn't limited to builds... 500 of anything isn't going to be stellar, especially with no paging or filtering in the API. Not sure I'd consider this a p1

[2016-02-12 14:08] spadgett commented on #7255
68% of overview CPU usage is in `DeploymentsService.getActiveDeployment`.

[2016-02-12 14:08] rhcarvalho commented on #7174
The retry shall go in `oc start-build`, client code, if anywhere...

[2016-02-12 14:09] liggitt commented on #7243
I think you're right. The extended jenkins tests aren't doing anything for the disk workaround

[2016-02-12 14:11] liggitt commented on #7174
Right, if the watch is expired you have to relist the builds (probably filtered to that particular build) to get a newly watchable version (which would be the resourceVersion of the BuildsList)

I'd rather it be server side... that's where we're turning the list into a watch

[2016-02-12 14:12] jwforres commented on #7255
ahh all these builds also triggered deployments, ok.  seems like there is
probably *something* we can fix there

On Fri, Feb 12, 2016 at 9:08 AM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-12 14:15] spadgett commented on #7255
`getActiveDeployment` has to sort the list to find the most recent successful deployment, which is where the time is spent. It's called on any pod, rc, or service update in overview.js.

[2016-02-12 14:21] rhcarvalho commented on #7174
Could you please have a look at the patch above, does it make sense?

I thought that would do what you described, but in practice all new watches keep expiring until we meet the timeout...

In start-build we already detect timeouts and try again... so if we had --wait I guess we could retry fetching the logs no matter if we get timeouts or any other error (in this case, the expired watch).

[2016-02-12 14:26] liggitt commented on #7174
No, you are using the same build that was passed in, with the same ResourceVersion, to start your watch inside the loop. You need to relist the builds inside the loop (probably filtered to that particular build) to get a newly watchable version (which would be the resourceVersion of the BuildsList)

The error you're getting ("The event in requested index is outdated and cleared") means the resourc

[2016-02-12 14:31] fabianofranz commented on #5569
Most of them seem fixed now. From the examples listed the only one that didn't reference "dry run" in the output is `oc expose`.

[2016-02-12 14:33] YannMoisan commented on #6807
I've written a function to retrieve the token :
[code]

You can test the token returned with `oc login --token=`

And to avoid copy/paste issue, you can use on OSX `ogt jenkins | pbcopy` to put the token in the clipboard, so you just have to paste it in the jenkins interface.

But it could be useful to have an `oc token SA` command performing such a thing.

[2016-02-12 14:35] liggitt commented on #6807
FYI, work is in progress in https://github.com/openshift/origin/pull/6941 to create and get a service account token

[2016-02-12 14:43] rhcarvalho commented on #7174
@liggitt thanks. The build is being fetched in [pkg/build/registry/buildlog/rest.go](https://github.com/openshift/origin/blob/master/pkg/build/registry/buildlog/rest.go#L71-L96), so that's the whole portion we need to repeat.

Should we limit the retry within a timeout, a max number of tries, or both? Right now `r.Get` is not limited by a timeout, but only `WaitForRunningBuild` is limited by the `

[2016-02-12 14:46] liggitt commented on #7174
not sure... feels odd for something outside this function to be retrying on very specific watch errors

[2016-02-12 14:47] bparees commented on #7165
@smarterclayton no, https://ci.openshift.redhat.com/jenkins/job/origin_extended/616/consoleFull

[2016-02-12 15:07] smarterclayton commented on #7243
The Mystikal song Danger?

[2016-02-12 15:08] rhcarvalho commented on #7174
Hmmm, either that or retry on the client side, no?

[2016-02-12 15:09] rualthan opened #7256 "Running origin as a container, I cannot create new app"
I am trying OO on a RHEL Atomic Host. I spun up OO master as a container following this guide
https://docs.openshift.org/latest/getting_started/administrators.html

After attaching a shell to the Master Container, I cannot deploy an app following the "Try it out" steps
https://docs.openshift.org/latest/getting_started/administrators.html#try-it-out

    # oc new-app openshift/deployment-example

[2016-02-12 15:10] liggitt commented on #7174
-1 for client-side retrying for things like this

[2016-02-12 15:15] jfcoz opened #7257 "registry : Liveness probe failed with TLS"
I've follow this documentation to upgrade registry in https :

https://docs.openshift.com/enterprise/3.0/install_config/install/docker_registry.html#securing-the-registry

Since that the registry is always restarting due to :+1:
`Unhealthy 	Liveness probe failed: Get http://10.1.1.5:5000/healthz: malformed HTTP response "\x15\x03\x01\x00\x02\x02" (24 times in the last 3 minutes, 50 seconds) `

How

[2016-02-12 15:17] liggitt commented on #7257
Docs are on https://docs.openshift.org/latest/install_config/install/docker_registry.html#securing-the-registry but haven't propagated to the enterprise doc yet:
[code]

[2016-02-12 15:17] #7257 closed

[2016-02-12 15:18] spadgett commented on #7240
@ajacobs21e Note on this page, the filter affects the chart. The deployment config page is a bit different.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13010838/f6f69caa-d171-11e5-87dc-c9ffdd378fad.png)

[2016-02-12 15:24] timothysc commented on #6766
Don't rate limit watches: https://github.com/kubernetes/kubernetes/pull/21104

Still pending, but the root of several issues...

[2016-02-12 15:27] deads2k commented on #7226
You can run any command with `--loglevel=8` and see exactly which API calls its making.

In this case, we do one of two things:
 1. use imagestreamimport for new servers
 1. delete the `openshift.io/image.dockerRepositoryCheck` annotation for old servers

You can use the higher log level to see which your server supports doing.

[2016-02-12 15:28] smarterclayton commented on #7165
I think this may be the disk thing

On Fri, Feb 12, 2016 at 9:47 AM, Ben Parees <notifications@github.com>
wrote:

[2016-02-12 15:29] smarterclayton commented on #7256
Try setting HTTPS_PROXY and HTTP_PROXY on your openshift container as env vars (-e to docker)

[2016-02-12 15:39] liggitt commented on #7257
Or use patch:
[code]

[2016-02-12 15:50] jfcoz commented on #7257
It works, thanks !

[2016-02-12 15:53] #7250 closed

[2016-02-12 15:58] sosiouxme commented on #4473
errr.... dupe of itself? :)

[2016-02-12 16:00] liggitt commented on #4473
heh... of https://github.com/openshift/origin/issues/6447

[2016-02-12 16:01] jsafrane commented on #6766
Fixes for BZ#1305546: https://github.com/openshift/origin/pull/7258 https://github.com/openshift/origin/pull/7260

[2016-02-12 16:22] #7228 closed

[2016-02-12 16:27] SillyMoo commented on #7253
@mwringe Same problem I'm afraid. 30s of nothing and then:

Error: 'dial tcp 10.1.0.2:8082: i/o timeout'
Trying to reach: 'https://10.1.0.2:8082/api/v1/model/metrics'

This does not happen when the master is also a node.

[2016-02-12 17:07] jwforres commented on #7175
i cant recreate this with Source type or Docker type, if i specify a context dir and a ref i'm never getting the %2F and the code was already written to unencode those slashes.  @mfojtik can you export the BC you were using when you got this

[2016-02-12 17:17] bparees commented on #7165
@smarterclayton didn't realize we didn't add pre-allocation to the extended test job.  i will do so now.

[2016-02-12 17:21] bparees commented on #7256
@smarterclayton thought you said those env vars will have no effect on new-app?  isn't the issue here that new-app is attempting to make a direct connection to the registry and it's not going through a proxy to do so?

[2016-02-12 17:23] bparees commented on #7256
@rualthan note that --allow-missing-images actually should get you past this, since it will allow new-app to ignore the fact that it couldn't find the image in the registry.  As long as your openshift env itself (and docker daemon) have the right proxy configuration, it should ultimately succeed, though it's a bad way to have to run since new-app is supposed to be able to query registries so it ca

[2016-02-12 17:33] brettneese commented on #6911
How does one do that?

[2016-02-12 18:02] liggitt commented on #6766
subresource proxy for nodes/services:
https://github.com/kubernetes/kubernetes/pull/17493
https://github.com/kubernetes/kubernetes/pull/18010

[2016-02-12 18:34] ebalsumgo commented on #7235
This is what the template we use to generate the PVs that we use look like:
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{PVNAME}"
  labels:
    type: localnfs
    size: {XGI}
spec:
  capacity:
    storage: {XGI}
  accessModes:
    - ReadWriteOnce
    - ReadWriteMany
  hostPath:
    path: "/{PVROOT}/{PVNAME}/"
  persistentVolumeReclaimPolicy: Recycle

The path is a group of NFS volumes

[2016-02-12 18:38] liggitt commented on #7235
Dupe of https://github.com/openshift/origin/issues/6883 and https://bugzilla.redhat.com/show_bug.cgi?id=1293805 I think

Fixed in https://github.com/openshift/origin/pull/6884

[2016-02-12 18:40] ebalsumgo commented on #7235
That does seem to be quite the exact same issue. I will run the suggested SCC changes and see what happens.

[2016-02-12 18:48] ebalsumgo commented on #7235
I just ran through the @rjhowe instructions and things seem to be better. I am gonna close the issue

[2016-02-12 18:48] #7235 closed

[2016-02-12 18:54] ebalsumgo opened #7264 "Overview page does not reflect correct Build # that is deployed"
I just noticed this, but the build # is not correct on the overview page vs what the actual latest build that should be running/is running, is. This is in OSE 3.1.1
![overview](https://cloud.githubusercontent.com/assets/5804477/13017020/2742eeb8-d190-11e5-9d99-da8240fb7ee4.png)
![builds](https://cloud.githubusercontent.com/assets/5804477/13017024/2db7d1f0-d190-11e5-974c-aed2e21b2a32.png)
![builds2

[2016-02-12 18:58] timothysc commented on #6766
nice to have: https://github.com/kubernetes/kubernetes/pull/20726

[2016-02-12 19:24] DirectXMan12 commented on #6293
`system:master-proxy` is the correct user.  Sorry for any confusion there :wink: .  You just have to make sure that heapster is configured to allow system:master-proxy to access it (check to make sure the heapster process has the `--allowed_users` flag set properly).

[2016-02-12 19:30] DirectXMan12 commented on #7253
I think this is a quirk of the openshift-sdn behavior (which is why, IIRC, we specify in the docs that you should list the master as an unschedulable node).

someone from @openshift/networking can probably confirm that.

[2016-02-12 19:34] DirectXMan12 commented on #7253
(basically, IIRC, in order to talk to the node IPs, the master has to be part of the SDN)

[2016-02-12 19:40] knobunc commented on #7253
https://docs.openshift.com/enterprise/3.0/architecture/additional_concepts/sdn.html#sdn-design-on-masters

"Note that OpenShift SDN on a master does not configure the local (master) host to have access to any cluster network. Consequently, a master host does not have access to containers via the cluster network, unless it is also running as a node."

That also means that you won't be able to reach

[2016-02-12 20:15] ajacobs21e commented on #7230
@rhamilto I didn't realize empty state was a grey box on white background. That's good feedback to give to Leslie - showing the patterns in context & with a browser window frame like Jacob posted would help a lot.

@benjaminapetersen something like this?
[NextSteps.pdf](https://github.com/openshift/origin/files/128633/NextSteps.pdf)

[2016-02-12 20:31] smarterclayton commented on #7256
Those env vars need to be on the server, not on the client in order to work
with the new import path.

On Fri, Feb 12, 2016 at 12:23 PM, Ben Parees <notifications@github.com>
wrote:

[2016-02-12 20:34] bparees commented on #7256
@smarterclayton yeah sorry was thinking we were in the old direct registry lookup path.  makes sense, thanks.

[2016-02-12 20:50] spadgett commented on #7264
Does this command show the right build?

[code]

[2016-02-12 20:52] spadgett commented on #7240
Marking a P2 bug since this is a regression.

[2016-02-12 21:02] spadgett commented on #7264
And does the `oc describe istag/lab1:latest` name have `sha256:89d171a`...?

[2016-02-12 21:03] liggitt commented on #7264
is this the imagestreamtag API issue that got fixed?

[2016-02-12 21:19] usawa opened #7268 "How to build rpms from sources ?"
Hi,

I'm very disappointed because I don't understand how to build rpms packages from sources / git. I can't find documentation about it.
Actually, ansible way to install origin uses the maxamillion repository:

https://copr-be.cloud.fedoraproject.org/results/maxamillion/origin-next/epel-7-x86_64/

but, and that's a bug problem, some builds, like 1.1.1.1, were removed.

I tried to rebuild them usi

[2016-02-12 21:27] SillyMoo commented on #7253
Ah thanks @knobunc, I think I missed that bit, or it wasn't in the docs when I started with openshift. Please feel free to close this issue.

[2016-02-12 21:27] #7253 closed

[2016-02-12 21:36] bparees commented on #6665
validation logic has been added but will leave the issue open to revisit supporting valueFrom correctly.

[2016-02-12 21:38] bparees commented on #6629
i don't see any other immediate actions to take here.  the options are either:
1) fix the image so it doesn't have to run as root (change the port it binds to, permissions, etc)
2) run it in an SCC that allows it to run as root.

[2016-02-12 21:38] #6629 closed

[2016-02-12 21:39] #6071 closed

[2016-02-12 21:41] bparees commented on #5876
this is now possible w/ binary builds:
https://docs.openshift.org/latest/dev_guide/builds.html#binary-source

(you'll have to dig a little deeper to get the api for invoking it, but that's what the cli implementation is doing: post a binary to an endpoint that creates a build and streams the binary into it)

[2016-02-12 21:41] #5876 closed

[2016-02-12 22:16] usawa commented on #7219
Hi,

A few minutes ago, I opened this issue : https://github.com/openshift/origin/issues/7268

but this one seems very close, thanks to @timothysc (for this issue and your answer to my email). I totally agree with your proposal. Anyway, how to rebuild "old" releases that were removed from maxamillion copr repository ?

[2016-02-12 22:37] smarterclayton commented on #6766
https://github.com/kubernetes/kubernetes/pull/21179

[2016-02-12 23:04] stevekuznetsov commented on #7241
Can be easily fixed in the trap pull:)

[2016-02-12 23:11] smarterclayton opened #7270 "Deployment violates guarantees when a new deployment is started in the middle"
Scenario:

* set up the router with scale 2 (disable host ports and host network, use a service)
* start a load benchmark against the service
* edit the deployment to have something that blocks two pods being brought up (host ports)
* deployment starts, scales down to 1, waits for the second pod which can't happen because of host ports
* edit the deployment to fix the blocking behavior
* new deplo

[2016-02-12 23:19] ebalsumgo commented on #7264
----> oc describe istag/lab1:latest | grep OPENSHIFT_BUILD
Environment:	OPENSHIFT_BUILD_NAME=lab1-6

Name:		sha256:a61ca1ed952....

[2016-02-12 23:24] smarterclayton opened #7271 "Invalid liveness and readiness check completely blocks deployments:"
Scenario:

* start two router pods with host network off that have liveness and readiness checks pointing to localhost , which then never become ready and periodically fail (because the readiness check never succeeds)
* edit the deployment so the readiness and liveness checks are correct (remove localhost)

Expect deployment to run.  Instead, deployment wedges forever (because old pods aren't read

[2016-02-12 23:28] smarterclayton commented on #7270
we probably need to verify the order of events - whether it's a race between the controllers, or just a logical gap because the new deployment is halfway through.  Might be a bug with the deployment scale annotations as well.

[2016-02-12 23:33] smarterclayton opened #7272 "Deployment that is scaled to 1, but has a recent failed deployment, is not scaled up until next resync"
Had a deployment 9 (failed), 8 (successful), and 7 (failed).  Deleting the deployment 8 did not result in deployment 6 (successful) getting scaled up to 1 until the next resync loop.

It's good that the rsync loop caught it.  We should figure out why deleting the RC did not trigger the right logic.

[rc.txt](https://github.com/openshift/origin/files/128853/rc.txt)

[2016-02-12 23:42] fabianofranz commented on #6977
I'm going to propose a lazy init of the [useradd/groupadd checks](https://github.com/docker/docker/blob/master/pkg/idtools/usergroupadd_linux.go#L34-L46) to address that part of the issue.

[2016-02-12 23:49] smarterclayton opened #7273 "Error in logs during router reload"
Seeing this while reloads are happening

[code]

What's the cause, and should we be outputting this at all (the process is still running).

[2016-02-12 23:49] smarterclayton commented on #7273
@ramr

[2016-02-13 04:03] smarterclayton commented on #7237
`oc get projects -o name | grep -E '^foobar' | xargs oc delete` is what I use today

[2016-02-13 04:05] smarterclayton commented on #7226
`/oapi/v1/namespaces/NAMESPACE/imagestreamimport` is synchronous and will allow you to see the metadata prior to import.  In addition, scheduling is also available.  In 1.1.2

[2016-02-13 04:05] #7226 closed

[2016-02-13 04:05] smarterclayton commented on #7225
I don't want us hardcoding a list of users in config.  I might buy a group.

[2016-02-13 06:25] #6926 closed

[2016-02-13 06:28] smarterclayton commented on #6908
Fixed in the previous two issues and the second half of 3 is fixed in #6920

[2016-02-13 06:39] #7255 closed

[2016-02-13 07:13] smarterclayton commented on #6801
Moved new-app slow tests to integration

[2016-02-13 13:13] spadgett commented on #7264
The web console believes you have a different image deployed. `oc describe rc lab1-9` should show a hash other than `sha256:a61ca1e`

What triggers are set with `oc describe dc lab1`?

[2016-02-13 15:11] smarterclayton opened #7277 "Jenkins plugin e2e hangs and runs forever"
Looks like it didn't detect failure and didn't exit?

[code]

[2016-02-13 15:13] smarterclayton opened #7278 "Jenkins extended run is returning inconsistent "skip" results"
The skip numbers are swinging wildly from build to build - could be the failure of a worker (if one worker hangs it may not flush or complete its junit.xml report) or could be another test stomping on it.

[2016-02-13 15:14] smarterclayton opened #7279 "extended tests that pull big images failing"
[code]

Likely we need to pre-pull these to the node or simply bake them into the base ami.

[2016-02-13 15:46] smarterclayton opened #7280 "Container name defaulting in pod hooks causes a rare flake in fuzz round tripping"
Defaulting always needs to be worked around in fuzz.

[2016-02-13 17:12] jayunit100 commented on #6882
Looks to me like these are whittled down to a few Selinux and Storage tests now...

[code]

[2016-02-13 19:34] stevekuznetsov opened #7283 "1 second duration is described incorrectly"
For example, when using `oc import-image`:

[code]

The duration is not written in correct English, _i.e._:
`1 seconds ago`

[2016-02-13 22:17] smarterclayton commented on #7098
Fixed by allowing setuid and setgid on anyuid

[2016-02-13 22:17] #7098 closed

[2016-02-13 23:35] jayunit100 opened #7287 "Fix upstream origin/ storage tests"
Here's a summary of whats happening w/ the storage tests.
[code]

So, looking at test failures, there are two places where we can fail.
- when the nginx client spins up.
- when the test client tries to connect to the nginx client to run an ls.

Obviously, the 2nd failure is more interesting: It means that client pods are spinning up but the client running tests cant confirm that storage is working

[2016-02-14 00:40] #7280 closed

[2016-02-14 03:59] smarterclayton opened #7288 "Ensure router respects graceful shutdown"
Verify that the router passes SIGTERM and holds until all connections are complete (by opening multi-second connections open).

Add a soak test that deploys the router, begins opening client sessions to it, and periodically triggers route changes, endpoint changes, service changes, and redeployments of the router itself and verify no connections are dropped.

[2016-02-14 04:00] smarterclayton commented on #7288
@ramr @pweil- @knobunc after playing with the router a bit I'd like to figure out a soak test that ensures that we know the router is up and running at all times and at all phases of its lifecycle (including verifying our readiness checks, liveness checks, and reloads all play nicely).

[2016-02-14 04:11] smarterclayton opened #7289 "Using setcap duplicates binary to the higher layer in image"
openshift/origin uses setcap net_bind_service, which causes a copy of the openshift binary from its previous layer (the COPY/ADD) into the RUN layer, duplicating a 120M binary.

This sucks.

@mrunalp I had naively assumed that setcap would not copy up, but looks like that's not accurate?  Possible bug in docker or just the way the FS works?

[2016-02-14 16:44] jayunit100 opened #7291 "Two flakey storage tests."
**Flakes**

I'm now able to reproduce OSE installs from upstream and detect flakey's independently

- `volume on default medium should have the correct mode using FSGroup` Passes about 2/5 times on ec2 VMs.

- `volume on tmpfs medium should have the correct mode using FSGroup` Passes about 3/5 times on ec2 VMs.

**Root Cause**
The flakes are both of the form `System error: read parent: connection

[2016-02-14 16:48] jayunit100 commented on #6882
Also, found flakes in some of the Storage tests #7291 .  These might cause some problems in the future if we dont skip or make them robust.

[2016-02-14 20:05] ajacobs21e commented on #7005
@jwforres What do you think about how the link is presented in these wireframes? https://drive.google.com/open?id=0BxppHkjprXoJSk5yWHpVODk4b00

[2016-02-14 20:20] kargakis commented on #2639
@smarterclayton you can close this now

[2016-02-14 20:53] ajacobs21e commented on #7005
Another option is to put the link in the advanced dropdown menu:
<img width="816" alt="screen shot 2016-02-14 at 3 46 53 pm" src="https://cloud.githubusercontent.com/assets/6415742/13036348/1ad620c4-d333-11e5-9cda-f9a6acf04b34.png">

[2016-02-14 22:43] smarterclayton commented on #2639
I want to move this to Rolling as well, so that someone can run a hook as soon as the first pod passes the readiness hook.  Need to circle back.

[2016-02-15 00:38] smarterclayton commented on #6804
Bumping this up, it's stop ship for 1.2.

[2016-02-15 00:41] smarterclayton opened #7293 "Attach is creating two sets of streams or logging twice?"
[code]

It looks like we print out the request twice, although this could be some sort of artifact of the logger.

[2016-02-15 03:03] smarterclayton commented on #6282
So going back to the regular volume case, in debugging a larger set of images I'm continually frustrated that my containers (running as non-root) don't have writable empty dir volumes.  It's a level of control that I as a user would expect to have.

The case against empty dir owned by the container user came down to conflicts between containers (multiple containers, multiple users), but ultimately

[2016-02-15 06:26] danni commented on #7228
Is there a way to upgrade the builder? To something with the fix? I couldn't seem to find one.

[2016-02-15 06:48] danni commented on #7228
Or is there a way to specify what builder image to use that isn't pulling the image down on each node and forcing the replacement tag? Missing from the docs?

[2016-02-15 07:39] vbehar commented on #7228
@bparees do you plan to release a 1.1.2.1 or something like that with this fix ? It would be awesome ;-) Otherwise we are stuck on 1.1.1 until the next release (and there are features we have been waiting for in 1.1.2 !!)

[2016-02-15 08:41] rualthan commented on #7256
@smarterclayton Sorry I am not sure I  understand what needs to be done.  In the container, I have done
export  http_proxy=http://proxy.x.com:8080
export  https_proxy=http://proxy.cat.x:8080

# env | grep proxy
http_proxy=http://proxy.x.com:8080
https_proxy=http://proxy.x.com:8080

This is the part I didn't get "as env vars (-e to docker)".

[2016-02-15 10:58] jhadvig commented on #7175
I've tried to reproduce this issue but without luck. Updated the `ruby-sample-build` BC with context dir  `test/dir` and the rendered link was correct.
![screenshot-18](https://cloud.githubusercontent.com/assets/1668218/13046812/51f95866-d3db-11e5-9a6b-2723cc64d011.png)

[2016-02-15 10:58] soltysh commented on #7287
/sub

[2016-02-15 10:58] soltysh commented on #7291
/sub

[2016-02-15 11:21] kargakis commented on #7271
I think this is because the upstream rolling updater doesn't care if new pods are ready. It should probably wait for every scale up to become ready, otherwise the scale up should be considered as a failure.

[2016-02-15 11:39] kargakis commented on #7271
This got me thinking if we should move away from the kubectl rolling updater. Upstream deployments don't use it and apart from `kubectl rolling-update` which is now superceded by Deployments, we are the only users of it. Any thoughts @ironcladlou ?

[2016-02-15 11:57] kargakis commented on #7271
Or instead of touching the rolling updater we could check for readiness once a deployment is marked as complete and if ready doesn't match desired, then fail the deployment?

[2016-02-15 12:11] kargakis commented on #7272
You deleted the controller manually? Why? Is this a wrong way of expressing that you wanted to rollback? I always thought that users shouldn't touch dc-owned rcs.

[2016-02-15 12:45] mrunalp commented on #7289
@smarterclayton Unfortunately this is just how the fs works i.e. changing the attribute results in copy up.  @rhvgoyal Do you think we can do anything here?

[2016-02-15 12:48] kargakis opened #7295 "Move emitting deployment related events to the DC"
Currently the deployment controller is emitting events on the underlying deployment (RC) instead of the DC. Users should get all the info just by looking at the DC.

[2016-02-15 13:13] legionus commented on #7231
Maybe I something did not understand, but I didn't find any more comparisons.

[2016-02-15 13:15] mrunalp commented on #7289
@smarterclayton If we build the openshift binary in Docker and then setcap in the same RUN command then we could avoid the copy. I can't think of anything if we do a ADD/COPY.

[2016-02-15 13:19] deads2k commented on #7225
Using `Subjects` would keep us consistent with policy, allow groups as a best practice, but does not preclude users.

[2016-02-15 13:28] brenton commented on #7268
What Troy was referring to in https://github.com/openshift/origin/issues/6695 is simply that you could download any SRPM from a previous build and then rebuild it.  This can be as simple as `rpmbuild --rebuild /path/to/SRPM`.  It's highly likely you'll need some dependent packages installed but you won't need to do anything with tito.

We should have a pull request fairly soon that will provide a

[2016-02-15 13:29] mattirk opened #7297 "origin-docker-builder cgroup limit on Debian based systems"
Cgroup CPU limits seem to be broken as of v1.1.2 version of origin-docker-builder. The builder tries to get CPU limits from:

/sys/fs/cgroup/cpuacct,cpu/cpu.cfs_quota_us
but the file resides at:
/sys/fs/cgroup/cpu/cpu.cfs_quota_us
in Debian based systems.

Error:
1 builder.go:202]  Error: failed to retrieve cgroup limits: open /sys/fs/cgroup/cpuacct,cpu/cpu.cfs_quota_us: no such file or directory

[2016-02-15 13:31] mrunalp commented on #7289
Thinking about this more maybe something like cp -a semantics for COPY/ADD might work. Not sure what issues could crop up there or whether copying into devicemapper layers could lose attributes. @rhvgoyal WDYT?

[2016-02-15 13:36] jizi opened #7298 "Cannot create new app from docker image in own Docker registry"
Hi,

I play with openshift and try to create new app from docker image pushed in my own Docker registry. I downloaded the latest binaries and set it up according to https://docs.openshift.org/latest/getting_started/administrators.html.
I am able to follow the tutorial and use the sample images but when I try to create new app based on my docker image I am not successful. The registry is accessible

[2016-02-15 13:56] deads2k commented on #7231
I didn't check any further.  Saw one, so we needed to check them.  Now we'll enforce through reviews.

[2016-02-15 13:56] jhadvig commented on #1647
@bparees I guess this one is solved

[2016-02-15 13:57] jhadvig commented on #5008
@stevekuznetsov still hitting the issue ?

[2016-02-15 13:58] kargakis commented on #1647
@jhadvig there is still https://github.com/openshift/origin/issues/5788

[2016-02-15 14:50] usawa commented on #7268
Thanks,

but some srpms seem to be away. Look at the build https://copr.fedorainfracloud.org/coprs/maxamillion/origin-next/build/156035/

Because of : SRPM file upload

Where to find the rpm in this case ? 

Thanks.

--
Sébastien Rohaut

Le 15 février 2016 à 14:28:57, Brenton Leanhardt (notifications@github.com) a écrit:

What Troy was referring to in #6695 is simply that you could download any SR

[2016-02-15 14:51] kargakis commented on #7270
maxSurge == 0, maxUnavailable == 1? I am surprised that the rolling updater didn't scale up first.

[2016-02-15 14:56] benjaminapetersen commented on #7230
Yup!

[2016-02-15 15:00] ebalsumgo commented on #7264
----> oc describe dc lab1
Name:		lab1
Created:	2 days ago
Labels:		app=lab1
Annotations:	openshift.io/generated-by=OpenShiftWebConsole
Latest Version:	9
Triggers:	Image(lab1@latest, auto=true), Config
Strategy:	Rolling
Template:
  Selector:	deploymentconfig=lab1
  Replicas:	1
  Containers:
  NAME	IMAGE													ENV
  lab1	172.30.17.65:5000/sbr/lab1@sha256:a61ca1ed952df11d79a65b4d4170c8a0af09b08

[2016-02-15 15:01] ebalsumgo commented on #7264
It is for sure running the latest build because the code changes I am making are getting pushed out

[2016-02-15 15:09] stevekuznetsov commented on #5008
Haven't hit it recently

[2016-02-15 15:29] brenton commented on #7268
@tdawson, I'm not familiar with copr.  It looks like some of the origin builds don't have SRPMs.  When you get a chance could you provide @usawa with a SRPM or build of the version needed?

[2016-02-15 15:56] pweil- opened #7303 "Add rollout to oc"
kubectl now has a `rollout` command.  For now it has been ignored in our test.  When we do the work to reach parity with upstream deployments it will need added to the `oc` command.

See https://github.com/pweil-/origin/commit/3bde48eb8a0d96c28671f5aecb13e74dc83451ea#commitcomment-16098541

https://github.com/openshift/origin/pull/7269

@kargakis

[2016-02-15 15:58] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/21266 needed for https://github.com/openshift/origin/issues/6804

[2016-02-15 16:07] bparees commented on #7228
@danni you can docker pull the latest openshift/origin-docker-builder image to your cluster nodes and run openshift start with "--latest-images" to allow it to use the latest image that exists on your node.

@vbehar that's a question for @smarterclayton.  But it definitely seems like we should given the severity of this issue.  Or you can do what i described above to grab the new image.

(you coul

[2016-02-15 16:12] smarterclayton commented on #6726
Now in master

[2016-02-15 16:12] #6726 closed

[2016-02-15 16:19] ajacobs21e commented on #6973
@spadgett Is this how the buttons look now at mobile?
![mobilebuttons](https://cloud.githubusercontent.com/assets/6415742/13053177/15a18032-d3d1-11e5-8757-eb710718e762.png)

"Actions" is good with me. I don't see any guidance on patternfly.

What do you mean by "adding tabs tot he page for events"?

Will we show more labels as the browser window gets wider?
[actionbutton.pdf](https://github.com/op

[2016-02-15 16:26] kargakis commented on #7303
https://github.com/openshift/origin/issues/6896

[2016-02-15 16:27] pweil- commented on #7303
thanks, closing as dupe

[2016-02-15 16:27] #7303 closed

[2016-02-15 16:50] jwforres commented on #7175
@mfojtik closing since we cant recreate this, if you see it again please export your BC

[2016-02-15 16:50] #7175 closed

[2016-02-15 17:00] ajacobs21e commented on #7240
I am working on this

[2016-02-15 17:15] spadgett commented on #6973
At mobile primary and secondary actions all collapse into the dropdown. Right now it's a kebab.

<img width="432" alt="screen shot 2016-02-15 at 12 12 50 pm" src="https://cloud.githubusercontent.com/assets/1167259/13055458/760fc288-d3dd-11e5-9f0b-c0d5b3bc14de.png">

We're adding a new tab to the service page I pasted in the original issue description. See #7164.

I don't think we do currently.

[2016-02-15 17:16] bparees commented on #7298
I think this PR will fix this issue for you:
https://github.com/openshift/origin/pull/7184

[2016-02-15 17:17] smarterclayton commented on #5788
The rough use case is "when I want debug logs, I ask for debug logs, otherwise, show me the info I need".  I don't think filename and warning level are for the normal case.  I think those are debug.  So someone has to ask for them.

[2016-02-15 17:19] spadgett commented on #6973
For what it's worth, I like the kebab for mobile. I believe it follows the Patternfly recommendation as well. The problem is really wide pages where the kebab is far away from the content.

[2016-02-15 17:20] smarterclayton commented on #7271
As discussed on IRC, if we the deployment process is blocked because we
can't surge (because the old pods exist), can't scale up (because that
would create more new pods than asked for), we have to delete old-unready
pods first, then old ready pods.  The algo always has to make progress.

On Mon, Feb 15, 2016 at 6:57 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-02-15 17:40] smarterclayton commented on #7225
Fine with that.

On Mon, Feb 15, 2016 at 8:19 AM, David Eads <notifications@github.com>
wrote:

[2016-02-15 17:42] jorgemoralespou opened #7308 "router probes is killing the router"
I just provisioned a VM with latest origin, and the router is configured to use liveness and readiness probes. But the container is killed.
This is the router image in my env:
[code]

These were the probes generated in the DC:
[code]

And this is the log I got for the deployment:
[code]

Once, I removed the probes, this is the log I get, and the container is working fine.
[code]

I then connected

[2016-02-15 17:42] smarterclayton commented on #7272
I deleted the controller manually because everything was hosed (because of other issues #7270).  That's a reasonable reaction for an admin - they are trying to "fix" the problem we created, so they're going to do things that occur to them (like delete the offending "bad" rc).  We have to react to the system and do the right thing where we can.

[2016-02-15 17:53] spadgett commented on #7264
Sorry to ask for all these commands. Still tracking this down...

One more:

[code]

This is how the web console finds the image hash shown in the dotted-line pod template. If that doesn't match `89d171a`, it would explain the problem.

[2016-02-15 18:06] jorgemoralespou commented on #7308
More info:

[code]

[2016-02-15 18:09] jorgemoralespou commented on #7308
Using 127.0.0.1 and not localhost works for me:

[code]

And the output
[code]

[2016-02-15 18:17] brenton commented on #7308
@jorgemoralespou, what does /etc/hosts look like on your Node?

[2016-02-15 18:34] thesteve0 commented on #7308
same image as @jorgemoralespou
127.0.0.1 origin origin
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

[2016-02-15 18:45] brenton commented on #7308
Why wouldn't 127.0.0.1 also point to localhost?  I'm definitely worried if we hardcode 127.0.0.1 for the liveness probe some customer is going to have a valid reason for localhost pointing to something else in 127.0.0.0/8.

[2016-02-15 18:49] thesteve0 commented on #7308
I will leave it up to @jorgemoralespou  to explain but I am trying to test moving localhost to the 127 line.

[2016-02-15 18:52] thesteve0 commented on #7308
Changed /etc/hosts to
127.0.0.1 origin origin localhost localhost.localdomain
::1         localhost6 localhost6.localdomain6

manually redeployed and it worked!
Thanks

[2016-02-15 19:00] brenton commented on #7308
@jorgemoralespou, let us know if we can close this.

[2016-02-15 19:02] derekwaynecarr commented on #7297
Can you confirm that this is fixed now by https://github.com/openshift/origin/pull/7181 ?

[2016-02-15 19:03] derekwaynecarr commented on #7297
/cc @bparees - this is related to the PR changes you made recently, this should be fixed now, but cc for you awareness.

[2016-02-15 19:20] jayunit100 opened #7311 "Fix Gluster and Ceph tests."
[code]
#6882

for @childsb and @wattsteve @rootfs

[2016-02-15 19:20] jayunit100 commented on #7311
/sub

[2016-02-15 19:31] #6758 closed

[2016-02-15 19:40] jorgemoralespou commented on #7308
Thanks to all. @brenton @thesteve0 Seem like this was the problem.
It seems like Vagrant is assigning localhost only to ipv6 when I set a hostname. Will dig how to avoid this Vagrant behavior.

[2016-02-15 19:40] #7308 closed

[2016-02-15 19:50] smarterclayton commented on #6758
Sweet, now we just need the CLI for setting it

On Mon, Feb 15, 2016 at 2:31 PM, OpenShift Bot <notifications@github.com>
wrote:

[2016-02-15 19:54] mattirk commented on #7297
I did another test with commit 9e9cb3d and v1.1.2 using Ubuntu 14.04.3 LTS and the same error occurs:

`builder.go:202] Error: failed to retrieve cgroup limits: open /sys/fs/cgroup/cpuacct,cpu/cpu.cfs_quota_us: no such file or directory`

I did another test by swapping binaries to ones from build v1.1.1 and the Docker build runs without problems.

[2016-02-15 19:57] deads2k commented on #7243
Well, we can see the error now and it looks to be the same "has no leader" with a comment: `// TODO: make sure this is a no leader response`.  I have no good ideas for how to solve this problem.

[2016-02-15 20:19] bparees commented on #6758
@smarterclayton https://trello.com/c/YpZLKSAX/790-3-add-ability-to-specify-pre-post-deployment-hooks-as-part-of-new-app-evg

but likely won't drop this sprint (or for 3.2 in general)

[2016-02-15 20:23] bparees commented on #7297
v1.1.1 didn't attempt to read those values.
v1.1.2 did attempt to read them, but didn't include the fix to check additional paths like the one debian uses.

i'm not sure what you did when you tried to test w/ commit 9e9cb3d, but the changes are in the builder images themselves (openshift/origin-sti-builder and openshift/origin-docker-builder) so you need to make sure you were using the updated ver

[2016-02-15 20:33] bparees commented on #7239
i think this is just a modified event from an earlier build moving to a next step.

[2016-02-15 20:45] #6883 closed

[2016-02-15 20:45] thoraxe opened #7314 "[RFE] hello-openshift log access to stdout"
Currently hello-openshift does return something, but it doesn't log anything to stdout. It would be nice if it logged access in some way.

[2016-02-15 20:45] rhvgoyal commented on #7289
setcap, calls setxattr(security.capability). So this basically changes xattr of file. And this in turn changed the file, so copy up will happen. I am not sure how one can avoid it.

[2016-02-15 20:53] twiest commented on #7225
@deads2k The only thing we really need is a "run on every single node."

If this helps with that, then yeah, it'd be useful.

[2016-02-15 20:58] deads2k commented on #7225
Nope, "run on every single node" is a daemon set which hopefully still works.

[2016-02-15 21:01] liggitt commented on #7225
does daemonset use bindings to assign to nodes, or direct nodeName assignment?

[2016-02-15 21:01] thesteve0 opened #7315 "Web console should allow editing project display name and descr."
As a user I want to be able to add or edit the display name and description. It should appear on the project overview page

[2016-02-15 21:04] liggitt commented on #7225
looks like daemonsets use direct assignment (https://github.com/openshift/origin/blob/0c73141d361dfca8ea626e0083e2eb210d63dac0/Godeps/_workspace/src/k8s.io/kubernetes/pkg/controller/controller_utils.go#L319), so preventing node names in the admission controller breaks them

[2016-02-15 21:07] deads2k commented on #7225
@dobbymoodge Add a test for your pull.

[2016-02-15 21:27] sosiouxme opened #7316 "limit/request overrides can make for frustrating user exp"
Once https://github.com/openshift/origin/pull/6901 merges and the plugin is configured, there is the possibility it will prevent a user creating pods when e.g. their project has a min memory limit of 128Mi, they specify a container memory limit that's 128Mi, and the ratio is 50% overriding request to 64Mi which is then rejected. It would be better to floor overridden limits at min to prevent this

[2016-02-15 21:30] benjaminapetersen commented on #5913
Btw, if Kibana is not setup, there will not be the blue button.  At that point, this could be a bit bland:

<img width="700" alt="screen shot 2016-02-15 at 4 29 02 pm" src="https://cloud.githubusercontent.com/assets/280512/13060701/4425c2bc-d401-11e5-8d6a-30bf90b66231.png">

[2016-02-15 21:31] sosiouxme commented on #7316
https://github.com/kubernetes/kubernetes/issues/21077 is to track upstream.

[2016-02-15 21:40] spadgett commented on #7315
This is on the settings page now, but not the overview.

[2016-02-15 21:50] dobbymoodge commented on #7225
@deads2k will do tomorrow

[2016-02-15 21:50] ajacobs21e commented on #6973
@spadgett PatternFly recommends the kebab for more actions when there's a primary action. The [design pattern](https://docs.google.com/a/redhat.com/document/d/1zDF8JoT9oDBr__KGS4uBE5X9VkMfxlFG5tPqSc1P6UU/edit?usp=sharing) has been updated to explicitly say without a primary action a dropdown button should be used.

I talked with @rhamilto and we're recommending this design:
![dropdown_page_1](http

[2016-02-15 21:54] thesteve0 commented on #7315
Yeah I saw it there and I forgot the 3 dots are the shortcut to edit. Can we please just add a delete and edit icon after the title for ALL THINGS (tm) :)

[2016-02-15 21:54] ewolinetz commented on #7227
Steps to recreate:
[code]

[2016-02-15 22:40] spadgett commented on #7315
We're discussing the dropdown more in #6973. I agree it's too easy to miss. Feel free to weigh in there.

It's like that now as a Patternfly recommendation where primary actions are buttons and secondary actions are in the menu. (Everything collapses to a menu on mobile.) We purposely made edit YAML and delete secondary actions for better or worse because

1. Edit YAML was seen as advanced, and we

[2016-02-15 22:43] spadgett commented on #6973
@ajacobs21e The document you linked has collapsing buttons into the menu as an example under "2. More Actions"

[2016-02-15 22:49] stevekuznetsov opened #7320 "Enable LDAP group sync to take advantage of extensible matches"
One specific extended match that might be useful is the `memberOf:` match that flattens nested groups for MS AD servers.

Thoughts:
- this would only be useful for MS AD servers
- our current approach for AD-style schema is not compatible with this as we create groups from user queries and cache users
- would not require new config, can reuse `LDAPQuery` and pair it with an `ExtensibleMatchFilterB

[2016-02-15 23:09] smarterclayton commented on #7316
P1 cause this is usability and we're going to break everyone.

[2016-02-15 23:10] smarterclayton opened #7322 "Flake in new build hook"
[code]

[2016-02-15 23:10] smarterclayton commented on #7322
@bparees fyi

[2016-02-15 23:11] smarterclayton opened #7323 "Getting autocomplete flags that should not be there"
Seeing a bunch of flags in new commands that aren't part of our command set and should be removed:

[code]

[2016-02-15 23:14] bparees commented on #7322
dupe of https://github.com/openshift/origin/issues/6435 ?

[2016-02-15 23:47] thesteve0 commented on #7315
I agree maybe about edit YAML if we had forms but for now the only way to edit items is to edit the YAML. Delete should be exposed since people want to do it a lot and it is hard to find

[2016-02-16 02:00] #6485 closed

[2016-02-16 02:07] thesteve0 commented on #6973
I really dislike the kebob on the right side of the page for things like edit and delete. I think a small icon with a trash can and a pencil right next to the title would be best. This is where I am looking to carry out actions on the item. I do delete and edit quite frequently.

[2016-02-16 02:34] GrahamDumpleton opened #7326 "oc run --env rejects values with a '=' embedded in value."
Appears that you cannot supply environment variables via `--env` option of `oc run` which have a '=' embedded within the value.

[code]

This was with `oc version` of:

[code]

A quick test of `oc new-app` didn't appear to have same issue.

[code]

Or at least it wasn't rejected straight away on doing a `--dry-run`.

[2016-02-16 02:40] GrahamDumpleton commented on #7326
Perhaps related:

[code]

This latter one only occurs with ``oc`` client for 1.1.1. It doesn't appear in ``oc`` client for 1.1. The initial problem above with '=' appears with both.

[2016-02-16 02:58] GrahamDumpleton opened #7327 "Using locally built Docker image with 'oc run'."
Not sure if this is an issue with `--image` option to `oc run` or whether it is a lack of functionality in `oc run` in not providing separate `--docker-image` and `--image-stream` options like `oc new-app` provides.

The problem is that if you build a Docker image locally using `oc new-build`, then to use it with `oc run` you have to give the details of the internal Docker registry with `--image`.

[2016-02-16 03:23] GrahamDumpleton commented on #7327
Will such a change be complicated by Jobs?

* https://docs.openshift.com/enterprise/3.1/dev_guide/jobs.html

Is the ``image`` attribute in a Job spec template a Docker image name? What if you want to refer to a local image stream in a Job spec?

[2016-02-16 04:24] #2881 closed

[2016-02-16 04:34] smarterclayton commented on #7271
This is probably the same issue, but:

[code]

I would not expect mysql-5 to still be around.

[2016-02-16 04:37] smarterclayton opened #7328 "Deployment status message is giving me information that isn't relevant"
[code]

`The deployment was cancelled as a newer deployment was found running` is TMI - the entire line should probably be:

[code]

[2016-02-16 04:37] smarterclayton commented on #7328
from oc status

[2016-02-16 04:41] smarterclayton opened #7329 "Can't get logs from replication controller"
[code]

[2016-02-16 04:47] smarterclayton opened #7330 "Update deployment describer to match upstream pod describer / dc descirber"
The output of oc describe pod is much better than the dc describer - we should at least show the template now.

[2016-02-16 04:47] smarterclayton commented on #7330
I'd like to see something improved for 3.2 if we can squeeze it in - it's on the bubble but describe dc is only showing a very small bit of the info.

[2016-02-16 04:58] liggitt commented on #7320
flattening AD groups would require inverting our sync... selecting groups first (by query or by whitelist), then doing `memberOf:...:=<group-uid>` queries

[2016-02-16 06:17] #6505 closed

[2016-02-16 06:48] miminar opened #7332 "Flake in extended test suite (etcd member has no leader)"
[INFO] Success running command: '[[ "$(oc get endpoints docker-registry --output-version=v1 --template="{{ if .subsets }}{{ len .subsets }}{{ else }}0{{ end }}" --config=${ADMIN_KUBECONFIG} || echo "0")" != "0" ]]' after 5 seconds
    [INFO] Installing the router
    serviceaccount "router" created
    Error from server: error when replacing "STDIN": error #0: client: etcd member https://172.18.9.

[2016-02-16 06:49] liggitt commented on #7332
dupe of https://github.com/openshift/origin/issues/7243

[2016-02-16 06:49] #7332 closed

[2016-02-16 06:50] liggitt commented on #7332
we have some flake cause tracking in place... check the jenkins job overview page first :)
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/10939/

[2016-02-16 06:52] miminar commented on #7332
Ahh, cool. Didn't know that. Do you ever sleep by the way? :-)

[2016-02-16 07:56] liggitt commented on #3578
no longer carrying a patch, tested in admission unit test and in integration test

[2016-02-16 07:56] #3578 closed

[2016-02-16 07:59] liggitt commented on #5915
Surfaced better error page and message to user for lookup and claim errors

[2016-02-16 07:59] #5915 closed

[2016-02-16 08:03] liggitt commented on #5170
already fixed

[2016-02-16 08:03] #5170 closed

[2016-02-16 08:24] jim-minter opened #7335 "RFE: automated way to disable automatic triggers on a DC"
Looking for the reverse of `oc deploy --enable-triggers`.

The use case is to allow a user to temporarily disable automatic triggers (e.g. if the upstream ImageStream is changing a lot), then re-enable triggers subsequently (with `oc deploy --enable-triggers`, which of course already exists).

AFAICS it is at least not straightforward to construct a pipeline using `oc patch` to do this, hence it w

[2016-02-16 08:26] miminar opened #7336 "Log proper version of internal registry pod"
Today our pod logs of internal registry shows:

    time="2016-02-15T23:19:49.85726622Z" level=info msg="version=v2.1.0+unknown"

even though the version of code is [`v2.2.1`](https://github.com/openshift/origin/blob/master/Godeps/Godeps.json#L396). Compare that to the log of upstream container run manually with `docker run -it registry:2.2.1`:

    time="2016-02-15T21:25:10.664844382Z" level=info

[2016-02-16 10:33] jhadvig commented on #5008
@bparees could we please close this one. Thanks !

[2016-02-16 11:01] soltysh commented on #7227
The problem is that DaemonSet uses [new labels](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/labels.md#job-and-other-new-resources). I've submitted a fix for your branch: https://github.com/ewolinetz/origin-aggregated-logging/pull/1.

[2016-02-16 12:01] kargakis commented on #7270
Using my latest changes in the rolling updater
[code]
I don't see the unhealthy pods going down though, still need to fix that.

[2016-02-16 12:04] mrunalp commented on #7289
@rhvgoyal What if docker COPY were to do the equivalent of cp -a? That way we don't need to call the setcap in RUN and could avoid the copy up. However, the only concern is how well attributes work across different filesystem drivers when copied.

[2016-02-16 12:26] mrunalp commented on #6822
@bparees You can get by the ordering issue by using the symlinks that are created when subsystems are grouped together. That way your code shouldn't care about whether it is cpu,cpuacct or cpuacct,cpu
Just modify the code to use the path `/sys/fs/cgroup/cpu/cpu.cfs_quota_us`

[code]

[2016-02-16 12:26] YannMoisan opened #7338 "Add the possibility to copy the image when tagging an image in an other project"
Here is the context : we use a project by environment and we use tag to manually promote images.

[code]

When we tag an image into an IS of an other project, the image is not copied in the target IS, it's just a reference.

Here is the command that I used in project `foobar-int`

[code]

[code]

It could be useful to add an option to perform a copy (for example, in case of deletion of the origina

[2016-02-16 12:27] mrunalp commented on #6822
Also, I haven't been able to reproduce this using docker at all. Could you give me the steps to recreate your environment so I could try it out that way (including how to setup the build, etc) ?

[2016-02-16 12:33] kargakis commented on #7336
Why this isn't already the case?

[2016-02-16 12:37] YannMoisan opened #7339 "Error when tagging an image in another project from project source"
Here is the context : we use a project by environment and we use tag to manually promote images.

[code]

Here is the command that I used in project `foobar-int`

[code]

And I get the following error :

[code]

Note, it works if I add the target namespace :

[code]

[2016-02-16 12:44] rhcarvalho commented on #6758
@jwforres FYI this has been merged, would be nice to have in the Web Console as well to make it easy to use.

[2016-02-16 12:48] miminar commented on #7336
@kargakis We're using [this variable](https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/docker/distribution/version/version.go#L11) as a logged version. Upstream build process contains an invocation of [version.sh](https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/docker/distribution/version/version.sh#L21) which writes current git tag.

[2016-02-16 13:00] mrunalp commented on #7289
cp option --preserve=all to be more specific (which is included when -a is specified)

[2016-02-16 13:08] deads2k commented on #7328
You want it changed on the API object (easy) or changed just for the `oc status` command (ugly in code).

[2016-02-16 13:12] deads2k commented on #7328
Assuming you just wanted status on the object https://github.com/openshift/origin/pull/7340

[2016-02-16 13:27] stevekuznetsov opened #7341 "drift between types and versioned types doc is unchecked"
Once we start generating swagger doc from Godoc on versioned types, it seems like it would be a good idea to check in our CI pipe that the Godoc for `whatever/pkg/api/types.go` and `whatever/pkg/api/v1/types.go` doesn't differ.

@smarterclayton thoughts?

[2016-02-16 13:40] kargakis opened #7342 "build-images.sh cannot hardlink in Vagrant"
[code]
On the host, it works fine.

[2016-02-16 13:49] deads2k opened #7343 "oc status should give information on daemon sets"
Hopefully daemonsets indicate when they aren't available on all nodes in their status, because users won't be able to list all the nodes to figure it out.

At the very least, show me the daemon sets we have and their status.

[2016-02-16 14:13] rhvgoyal commented on #7289
@mrunalp I assumed that COPY/ADD retain the existing xattrs of file. That's not the case? So is that the reason that openshift has to first do ADD/COPY and then do "RUN setcap"?

If yes, retaining xattrs seems reasonable. If not default, atleast an option to COPY/ADD to retain attrs should help.

[2016-02-16 14:15] mrunalp commented on #7289
@rhvgoyal Yes, atleast with the devicemapper driver, the file capabilities are lost. If we modify docker to retain those, then we can avoid this. Also, it will be a nice addition IMO.

[2016-02-16 14:18] rhvgoyal commented on #7289
@mrunalp, devicemapper does not know about xattrs or capabilities etc. It is filesystem layer. So I am not sure what's the connection between devicemapper and xattrs.

[2016-02-16 14:24] spadgett commented on #6758
@rhcarvalho A lot of history here and in the PR. Any doc or summary of how it works?

[2016-02-16 14:25] ebalsumgo commented on #7264
----> oc get rc lab1-9 -o jsonpath="{.spec.template.spec.containers[0].image}"
172.30.17.65:5000/sbr/lab1@sha256:a61ca1ed952df11d79a65b4d4170c8a0af09b08a0890dcd558d10b2bb2d08c51

[2016-02-16 14:38] rhatdan commented on #7289
File Capabilities would be good, but you probably want to avoid XAttrs.

[2016-02-16 14:45] mrunalp commented on #7289
@rhatdan yeah, just copying the file capabilities should be fine.

@rhvgoyal What I meant was that I am using the docker devicemapper backend (with ext4). So, devicemapper doesn't really care as long as underlying fs supports copying of capabilities for this use case. I am trying to guage if there will be any arguments against adding this to docker because it won't work with a particular graph dri

[2016-02-16 14:48] sg00dwin commented on #7016
I'm currently looking into this...

[2016-02-16 14:49] #5008 closed

[2016-02-16 14:54] rhvgoyal commented on #7289
@mrunalp, I think there will be resistance if all the storage backends don't support it. Becaues then outcome of built image will be unpredictable and that's not what user want. So to make it predictable they will end up using "setcap" anyway, and that undoes any benefit of copying file capabilities.

[2016-02-16 14:58] PI-Victor commented on #6758
@spadgett docs will hopefully be ready today/tomorrow https://github.com/openshift/openshift-docs/pull/1448

[2016-02-16 15:00] bparees commented on #6822
@mrunalp not all systems appear to create those symlinks.  Anyway i've added logic to handle all the paths i've learned about so far.

My steps for recreating it are:
1) oc create -f test/extended/fixtures/test-docker-build-quota.json
2) oc start-build docker-build-quota --from-dir test/extended/fixtures/build-quota --follow

Note that you should expect the build to always fail (that's by design),

[2016-02-16 15:00] spadgett commented on #5913
No, that's the problem. We can't get the error details. The most common reason is that the pod has been deleted and logs are no longer available, but it could also be an error connecting to the server.

You should see this message less in the future. We'll be able to show logs for terminated containers and complete deployments.

[2016-02-16 15:03] bparees commented on #6822
The build log also dumps this line, which is based on the values it read from the cgroup filesystem on the build-pod:
` Running build with cgroup limits: api.CGroupLimits{MemoryLimitBytes:209715200, CPUShares:61, CPUPeriod:100000, CPUQuota:6000, MemorySwap:209715200}`

(in this case the CPUQuota value in the builder pod was seen correctly as 6000, though the container spun up for the docker build

[2016-02-16 15:07] mrunalp commented on #6822
@bparees,  I will give it a try with a those steps. Thanks!
The symlinks are created within the docker container irrespective of whether they are on the host.

[2016-02-16 15:08] spadgett commented on #5913
Reload will try to load the log again. It's probably less useful now that we don't attempt to request the logs when a pod is still pending.

View Archive is a link to Kibana where the logs are archived for pods that are no longer available.

[2016-02-16 15:09] rhatdan commented on #7289
I would suspect this would work on all graphdrivers unless the graphdriver had a file system which did not support File Caps.  Almost all do now.

[2016-02-16 15:19] sg00dwin commented on #6975
I'm looking into this...

[2016-02-16 15:27] spadgett commented on #6131
No longer an issue. We always show a scalable deployment now on the overview. If a deployment is cancelled or failed, we show the previous complete deployment even if 0 replicas.

[2016-02-16 15:27] #6131 closed

[2016-02-16 15:36] benjaminapetersen commented on #5913
So working out the details here:
- [ ] eliminate 'Current log from....' if there is no log.
- [ ] move status to above error message & fix weird spacing by "Cancelled" and icon (in image above)
- [ ] handle `.onError` w/an appropriate empty state message (connection fail, etc)
- [ ] **PRIMARY**: handle `.onClose` when no log data has been sent.  This is the main issue we can deal with here.  The p

[2016-02-16 15:39] sdodson commented on #7268
@usawa I built that package and unfortunately I uploaded the SRPM to COPR from my browser rather than posting it to sdodson.fedorapeople.org and having COPR build it from there.

I've rebuilt the SRPM and posted it there now. You should be able to build this by running `rpmbuild --rebuild` I'll make it a point to only do copr builds from the srpms in my fedorapeople.org account so that even when C

[2016-02-16 15:41] rassie opened #7346 "oc import-image does not import all tags from DockerHub"
Given is the following ImageStream:

[code]
Actually importing the tags produces the following output:

[code]
However, according to the [Redis' Dockerhub page](https://hub.docker.com/_/redis/), there are at least several more interesting and important tags like `3.0.7`and `3-alpine`. I would have expected OpenShift to proxy all tags from DockerHub.

This happens on OpenShift Origin v1.1.2.

[2016-02-16 15:48] jsafrane commented on #7311
@jayunit100, do you have any logs from the test? Especially all kubelet logs would be very helpful. And, is there a way how to see on which machines the test run? OpenShift/Kubernetes need client utilities installed on all nodes in the cluster (mount.nfs, iscsiadm, ceph, ...).

[2016-02-16 16:07] ewolinetz commented on #7227
Verified -- thanks

[2016-02-16 16:07] #7227 closed

[2016-02-16 16:10] bparees commented on #6822
@mrunalp that is not true if the host is a Debian machine, at a minimum.  @csrwng ran into that.

[2016-02-16 16:37] jwforres commented on #7264
This was fixed in https://github.com/openshift/origin/pull/6945  it was an API issue.  Believe this was added as a hotfix for the 3.1.1.x branch but you can confirm with @smarterclayton

[2016-02-16 16:37] #7264 closed

[2016-02-16 16:40] smarterclayton commented on #7264
Yes

On Tue, Feb 16, 2016 at 11:37 AM, Jessica Forrester <
notifications@github.com> wrote:

[2016-02-16 16:44] smarterclayton opened #7347 "TestAuthProxyOnAuthorize hangs"
[code]

That was the 4 hour timeout.

[2016-02-16 17:15] jwforres opened #7350 "Route ingress that has failed admission is missing the host details"
Example route details...

[code]

[2016-02-16 17:19] smarterclayton commented on #7350
Should be setting host.

[2016-02-16 17:25] jwforres commented on #7350
Its setting host when Admitted is True, only seems to be broken when setting Admitted to False

[2016-02-16 17:48] sosiouxme commented on #7316
@smarterclayton any opinion on whether you prefer:

1. the immediate fix that requires another limits watch cache
2. a LimitRanger patch we carry making it possible to reuse its cache
3. upstream action to make this a sharable resource
4. something else...

[2016-02-16 17:56] jwforres commented on #7350
@smarterclayton shouldnt this be calling findOrCreateIngress instead of creating one itself https://github.com/openshift/origin/blob/master/pkg/router/controller/status.go#L130

[code]

[2016-02-16 17:56] deads2k commented on #7316
5. Floor in the config file and ops is careful to keep it in sync with the defaults.

[2016-02-16 18:01] sosiouxme commented on #7316
ha, that does seem a lot simpler.

[2016-02-16 18:03] spadgett commented on #3513
Anything left to do here?

[2016-02-16 18:25] php-coder opened #7352 "test/extended/core.sh: stop openshift server after execution"
I've found that when I run the extended tests they start OpenShift server but don't stop it after its execution:

[code]

[2016-02-16 18:28] liggitt commented on #3513
if we're already doing targeted gets, that's all I was thinking of

[2016-02-16 18:29] #3513 closed

[2016-02-16 18:42] bparees commented on #7314
it logs accesses:
[code]

is that not what you want?

(that's not the app doing it, it's the framework, but regardless)

[2016-02-16 18:57] sosiouxme commented on #7316
@abhgupta considers this a feature and doesn't think we should provide floors (although the user experience does need improvement).

[2016-02-16 19:11] smarterclayton commented on #7350
findOrCreateIngress does other scary things.  Could maybe be refactored,
but I just need to set host here.

On Tue, Feb 16, 2016 at 12:56 PM, Jessica Forrester <
notifications@github.com> wrote:

[2016-02-16 19:11] deads2k commented on #7341
No.  The types aren't necessarily the same (maps versus slices as a for instance), so the godoc won't match.  The hubbed version doesn't necessarily match the spokes.

[2016-02-16 19:14] abhgupta commented on #7316
@sosiouxme this is a "workaround" for the fact that we don't have a min-limit attribute in the limit range.

[2016-02-16 19:14] smarterclayton commented on #7341
And we only really generate doc for the spokes.  Hub is more for
developers, and hub not matching at least one spoke is really just a
measure of tech debt.

On Tue, Feb 16, 2016 at 2:11 PM, David Eads <notifications@github.com>
wrote:

[2016-02-16 19:15] smarterclayton commented on #7316
Is there a card / issue for that?

On Tue, Feb 16, 2016 at 2:14 PM, Abhishek Gupta <notifications@github.com>
wrote:

[2016-02-16 19:16] abhgupta commented on #7316
@danmcp @derekwaynecarr Did we create a card for adding a min-limit attribute to the limit range?

[2016-02-16 19:18] sosiouxme commented on #7316
FWIW I just finished the code that provides a floor (and the settings are optional). I can keep that in my back pocket.

[2016-02-16 19:24] sosiouxme commented on #7322
Think I got the same thing here https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/11002/consoleFull

[2016-02-16 19:25] danmcp commented on #7316
@abhgupta I did not.  Please do.

[2016-02-16 19:30] sosiouxme opened #7355 "flake on TestImageStreamImportRedHatRegistry integration test"
I saw this earlier in my AWS devenv as well as in https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/11001/consoleFull (testing https://github.com/openshift/origin/pull/6901)

[code]

May have been a blip in registry.access.redhat.com because it seems to work at this moment.

[2016-02-16 19:34] bparees commented on #7322
@sosiouxme yes looks the same.  but i'm closing this in deference to #6435.

[2016-02-16 19:34] #7322 closed

[2016-02-16 19:38] gabemontero commented on #7277
@bparees some preliminary research and thoughts on changing this test ... PTAL:

1) Based on the error message that was returned (which btw, is incorrect in the time duration ... it is up to 15 minutes vs. 3 minutes (the original amount I tried) ... also, a printing of which deployment would have been nice for me to have added), we did not observe success in this [the WaitForDeployment method](htt

[2016-02-16 19:39] bparees commented on #6435
as seen in #7322 this seems to be becoming a popular flake.  @deads2k i'm having a hard time seeing how this is build specific.

W/o knowing much about how patch works, the only suspicious thing I see is that this cache might get corrupt/stale/empty?
https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/third_party/forked/json/fields.go#L34

[2016-02-16 19:43] usawa commented on #7268
Thank you very much, I’ll download it and rebuilt it.

--
Sébastien Rohaut

Le 16 février 2016 à 16:39:15, Scott Dodson (notifications@github.com) a écrit:

@usawa I built that package and unfortunately I uploaded the SRPM to COPR from my browser rather than posting it to sdodson.fedorapeople.org and having COPR build it from there.

I've rebuilt the SRPM and posted it there now. You should be abl

[2016-02-16 20:01] bparees commented on #7277
we'd have more info if @smarterclayton had included the full logs of his run since it would show which steps were completed (and possibly timestamps for each step?)

my first guess would be a bug in WaitForADeployment that causes it to get hung somewhere inside the loop and thus the 15 minute interval doesn't get checked.  For example if the watch hangs (no events show up, but the watch doesn't ge

[2016-02-16 20:07] deads2k commented on #7329
@smarterclayton did this ever work?  I don't see the code in the factory to do it.  Looks like they did something for attach, but not for logs.

You just want logs for the first pod?

[2016-02-16 20:08] gabemontero commented on #7277
@bparees thx for the input (including the channel switch stuff) and the +1 on the theory the hang centers around the channel processing.

As an fyi, I *may* have reproduced the hang locally ... at least running the extended test locally is hanging.  I'll see if it is a general env issue but running some other tests.  And in looking at the jenkins logs, it says the test job failed.  So perhaps a fi

[2016-02-16 20:11] pweil- opened #7356 "copy-kube-artifacts rsync not working"
Found during the latest rebase (https://github.com/openshift/origin/pull/7269).  I was not able to add items to the rsync list and have them copied over appropriately.  Also, some of the existing items is the search list were not being copied (ex. the api json files).

To get it to work I needed to revert and also do some manual copying.

Items I tried to add:

[code]

Also tested by @pmorie

[2016-02-16 20:15] sosiouxme opened #7358 "kubelet container logs coming back with incorrect status"
The following pod is obviously broken, however the container log request comes back with a 200 status:

[code]

This really should come back with an error state so that the client can correctly interpret it as having no logs; instead the status is taken to be the log. Same problem seems to occur (I haven't verified status code with client) when the pod is Pending, e.g.

[code]

This is where I run

[2016-02-16 20:25] sosiouxme commented on #7358
Same thing for diagnostic pod just created:

[code]

[2016-02-16 20:26] sosiouxme commented on #7358
I looked through kubelet code and can't figure out what is going wrong. Everything I see indicates that an error should be raised and the response should get a 500 status.

[2016-02-16 20:28] smarterclayton commented on #7329
I don't know if it ever worked, but I expected it to work.

[2016-02-16 20:36] soltysh commented on #7356
Failures are here: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/11003/console

[2016-02-16 20:41] deads2k commented on #7329
Opened https://github.com/openshift/origin/pull/7359 and https://github.com/kubernetes/kubernetes/pull/21335.

[2016-02-16 20:41] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/21335 is needed for https://github.com/openshift/origin/issues/7329

[2016-02-16 20:42] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/21324 is needed for https://bugzilla.redhat.com/show_bug.cgi?id=1286116

[2016-02-16 20:55] spadgett commented on #6535
How things look hiding the chart when only a few builds.

<img width="1029" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13090755/90eb88c4-d4c5-11e5-9f43-bc6c48e3408c.png">

[2016-02-16 21:06] gabemontero commented on #7277
OK ... I *did* reproduce the test hang locally.  Recent plugin usability changes necessitated an update to the test jenkins job config associated with the jenkins extended test.  I have a fix in hand.

That said, I'll stash the job config fix temporarily, and work on better error detection and test exit.

[2016-02-16 22:14] #4048 closed

[2016-02-16 22:40] spadgett commented on #6535
Full window for context.

![charts-centered](https://cloud.githubusercontent.com/assets/1167259/13093611/4d0c2c12-d4d4-11e5-9899-1bb3a3634f2b.png)

[2016-02-16 22:45] liggitt commented on #6766
https://github.com/kubernetes/kubernetes/pull/21340 for namespace deletion races

[2016-02-16 23:06] smarterclayton commented on #6535
Those poor builds - they look so lonesome.  Also, the random notches on
duration are bizarre.

On Tue, Feb 16, 2016 at 5:40 PM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-16 23:18] danmcp commented on #7341
Please reopen if this is still an issue.

[2016-02-16 23:40] smarterclayton commented on #7358
Is this on master?

[2016-02-17 00:03] spadgett opened #7365 "Web console should honor cluster resource override annotation"
The web console should honor the `quota.openshift.io/cluster-resource-override-enabled` project annotation introduced in #6901.

/cc @sosiouxme @jwforres

[2016-02-17 00:03] spadgett commented on #7365
@sosiouxme If the annotation is any value other than `"true"`, the override behavior is *disabled*, correct?

[2016-02-17 00:06] spadgett commented on #6535
The chart looks great when there's data, but this is the first experience :(

[2016-02-17 00:07] liggitt commented on #6535
Hide the chart for fewer than N builds?

[2016-02-17 00:10] spadgett commented on #6535
Yeah, I'm leaning that way. Screenshot above: https://github.com/openshift/origin/issues/6535#issuecomment-184871748. Page looks a little empty, though.

[2016-02-17 00:13] spadgett commented on #6535
c3 will generate nice tick values if you leave off a tick count, but there are more ticks than I want. Maybe it's still better.

<img width="1035" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13095627/33e5ea90-d4e1-11e5-9ba1-a91bd6cd8f7b.png">

[2016-02-17 00:18] spadgett commented on #6367
Similar issue after clicking our tabs (FF only).

<img width="969" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13095712/012b383e-d4e2-11e5-8402-53fcc57f0cf5.png">

[2016-02-17 00:19] smarterclayton commented on #6535
How about a small chart for less than N builds?  Like Jenkins?

On Feb 16, 2016, at 7:07 PM, Jordan Liggitt <notifications@github.com>
wrote:

Hide the chart for fewer than N builds?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/6535#issuecomment-184933625>.

[2016-02-17 00:20] GrahamDumpleton opened #7366 "Adding mid hook for Recreate deployment strategy fails through oc edit."
Create a new application. Edit the deployment configuration using ``oc edit`` and change:

[code]

to:

[code]

Run ``oc edit`` again and see what was saved and you find:

[code]

It has not saved the details of the ``mid`` deployment hook.

Now edit the deployment configuration through the UI and once again add the ``mid`` deployment hook. Save change and then edit through the UI once again. The

[2016-02-17 01:02] smarterclayton opened #7367 "Remove symbolic fixture links for builds"
They screw up command line utilities and don't need to be checked into git.  Instead, create them in the test case and then clean them up.

`pkg/cmd/cli/secrets/bsFixtures/dir/symbolic`

[2016-02-17 01:08] #7239 closed

[2016-02-17 01:25] smarterclayton commented on #6535
Can we do a half width summary section of the build config attributed
when we have < N builds?  And then hide that section when n is larger?

[2016-02-17 01:51] smarterclayton opened #7369 "Improve SCC rejection message and event"
The scc rejection event and admission error should be human readable, and probably identify the action, the reason, and the SCC in use in a clear message.  Any debugging info should be presented less prominently.

Other issues already cover surfacing rejection in rc and DC status

[2016-02-17 02:37] bparees commented on #7367
that's not a build thing.  it's for secret creation.  git history shows @deads2k created the link, he can rework it.

[2016-02-17 03:04] sosiouxme commented on #7358
Yes it's on master.

Here's a quick reproducer:

    oc run pod-diagnostic-test --image=openshift/origin-deployer --restart=Never --command openshift infra diagnostic-pod && oc logs pod-diagnostic-test --loglevel=8

[2016-02-17 03:25] smarterclayton commented on #7358
Oh, I don't think master has my fix to logging to return errors.  That landed after and I believe is in Paul's. https://github.com/kubernetes/kubernetes/pull/20258

[2016-02-17 04:08] thesteve0 commented on #6996
Well right now we look vague and broken 100% of the time

[2016-02-17 05:28] liggitt opened #7370 "Change route.spec.to to LocalObjectReference"
Requires https://github.com/kubernetes/kubernetes/pull/21291

[2016-02-17 08:14] rualthan commented on #7256
@bparees

After setting the env vars

# oc new-app --allow-missing-images  openshift/deployment-example
error: can't look up Docker image "openshift/deployment-example": Internal error occurred: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection

[2016-02-17 08:20] mattirk commented on #7297
Both STI and Docker builders indeed word with latest images. Hopefully a new tagged version with this issue fixed will be released soon. Using latest tagged images is always a bit scary.

[2016-02-17 08:20] #7297 closed

[2016-02-17 08:59] thincal commented on #6755
so that the git server can't be deployed and managed inside/by the openshift platform ?
is that really ?

[2016-02-17 10:28] kargakis commented on #6766
https://github.com/kubernetes/kubernetes/pull/21273 for fixing deployments against unready apps

[2016-02-17 11:48] rhcarvalho commented on #6758
@spadgett apart from the docs link above, also please look at the screenshots in the original issue description. We want to make sure it's easy to specify and edit the command to be run, and that the working directory is clear. In case of using the script form, we should also make clear that it will be run using `/bin/sh -c` (so no Bash-only syntax, and the image needs to have the `/bin/sh` binary

[2016-02-17 12:02] soltysh commented on #7346
With recent changes to the importer mechanism there's a `maxImagesBulkImportedPerRepository`, which [by default is 5](https://github.com/openshift/origin/blob/master/pkg/cmd/server/api/v1/types.go#L208-L211). Modify `master-config.yaml`'s `.imagePolicyConfig.maxImagesBulkImportedPerRepository` to desired value or -1 for no limit. Once verified - please close this issue.

[2016-02-17 12:17] spadgett opened #7372 "Web console support for configuring build unit tests"
See #6758 and https://github.com/openshift/openshift-docs/pull/1448. We should be able to reuse a command builder for health checks, #7312.

From @rhcarvalho:

/cc @jwforres

[2016-02-17 12:54] rassie commented on #7346
Thanks, this does indeed work. Closing.

[2016-02-17 12:54] #7346 closed

[2016-02-17 13:11] #7341 closed

[2016-02-17 13:15] deads2k commented on #7367
No refactor goes unpunished.

[2016-02-17 13:16] deads2k commented on #7367
Of course the tests in that package were borked when I moved them.  sigh.

[2016-02-17 13:24] deads2k commented on #7367
Out of curiosity, which weird levels of which command line utilities break on this?  It's been here since sally wrote it ages ago, just surprised that a new utility can't handle it.

[2016-02-17 13:56] php-coder commented on #6235
3) we also could leverage `exutil.WaitForADeployment()`

[2016-02-17 14:03] php-coder commented on #6236
Also need to mention that after that each tests executed in separate temporary projects, so we also need to switch to appropriate project to see the pods: `oc get projects` && `oc project <name>` && `oc get pods`

And a new trick: after latest changes in testing framework, when you're changing the test it won't be recompiled automatically. To trigger this you should remove the test binary: `rm -fv

[2016-02-17 14:03] stevekuznetsov opened #7376 "Create flag type for comma-delimited and/or equal-sign-based flags"
Currently commands like `oc secrets new`, `oc new-app`, `oc process`, _etc_, do home-brewed logic for parsing flags that are either comma-delimited lists or `key=value` pairs, or both. We should just make a new flag type _a la_ the address flag type and consolidate that logic.

[2016-02-17 14:14] Scyta1e commented on #6494
I can also reproduce the same issue using origin 1.1.1.1 on RHES 7.1, Docker 1.8.2. Metrics were only enabled on the cluster a few days ago, since then we've been plagued with the "net/http: request canceled while waiting for connection" error.

Shutting down the metrics related pods instantly fixes the problem. Several other pods that had been cycling in ImagePullBackOff, on their next retry succ

[2016-02-17 14:21] pweil- commented on #6494
Hrm, this is the second item I've seen where shut down of metrics pods is fixing registry issues (other was an email thread).

@jcantrill

[2016-02-17 14:29] lorenzvth7 commented on #6494
@Scyta1e @pweil-
Tried it again recently. I set up a secure persisitent registry which was working fine. But after enabling cluster-metrics it wasn't possible anymore to push/pull images to the registry until I deleted the metrics-project. After that everything was working fine again.

[2016-02-17 14:34] spadgett opened #7377 "Remove pathseg polyfill when updating c3.js"
When updating c3.js, we should check if we can remove the pathseg polyfill. Details in #7373.

/cc @jwforres

[2016-02-17 14:54] bparees commented on #7297
@smarterclayton are we going to do a v1.1.2.1 anytime soon?  there are a number of significant build issues (docker builds can't pull secure images using secrets, can't build on debian due to cgroups paths) in v1.1.2.

(i'd also like to get https://github.com/openshift/origin/pull/7184 in before we do one, though)

[2016-02-17 15:00] stevekuznetsov opened #7380 "LDAP sync dry-run should output some diff-based information"
The current implementation of the LDAP group sync - dump everything to JSON then stdout - is not very useful. LDAP group sync only changes membership information, so it would be cool to see some output with a member diff per-group instead.

/cc @deads2k @liggitt

[2016-02-17 15:03] timothysc commented on #6766
change kubelet defaults: https://github.com/kubernetes/kubernetes/pull/21361

[2016-02-17 15:06] kargakis commented on #7366
What version of oc are you running? I just tested this with the frontend dc from sample-app that uses the Rolling strategy:
[code]

[2016-02-17 15:08] deads2k commented on #7380
I know, you could build a patch! :)

I think I'd rather use a different program to show me the diff.  That seems more generally useful.

[2016-02-17 15:14] deads2k commented on #7376
Comma delimited lists are string slice params.

[2016-02-17 15:17] smarterclayton commented on #7297
I'll just do a 1.1.3.  Tell me when 7184 lands

On Wed, Feb 17, 2016 at 9:54 AM, Ben Parees <notifications@github.com>
wrote:

[2016-02-17 15:24] thoraxe commented on #7314
"hello-openshift" is a docker container built from golang.

ruby-hello-world is a ruby application.

This RFE refers to the former (the Go lang Docker image), and not the latter (the ruby app).

[2016-02-17 15:28] pweil- opened #7383 "Rebase follow up: fix codegen for scc"
- [ ] update to hash that fixes expansion interface generation https://github.com/kubernetes/kubernetes/issues/20549
- [ ] add scc plural exception to codegen
- [ ] add genclient annotation AND non namespace annotation to SCC types in v1 and internal
- [ ] run update-codegen

/cc @deads2k @soltysh

[2016-02-17 15:29] bparees commented on #7314
whoops, sorry about that, my bad.

[2016-02-17 15:29] pweil- commented on #7383
previous rebase: https://github.com/openshift/origin/pull/7269

[2016-02-17 15:33] thoraxe commented on #7314
Sok!

[2016-02-17 15:45] jayunit100 commented on #7098
i just saw this also , thanks for making this issue, testing workaround as well.

[2016-02-17 15:52] jayunit100 commented on #7098
This can effect other kubectl e2es as well...
[code]
My error is very similar to claytons

[code]

[2016-02-17 15:54] php-coder commented on #6236
By default they are not shown too unless test fails. To show the output you need to pass `-ginkgo.v` parameter, like this: `./test/extended/core.sh --focus="mongodb replication" -ginkgo.v`

[2016-02-17 16:02] spadgett commented on #7016
Fixed by #7349

[2016-02-17 16:02] #7016 closed

[2016-02-17 16:03] jwforres commented on #7372
Moved to trello https://trello.com/c/QjbwH2D6

[2016-02-17 16:03] #7372 closed

[2016-02-17 16:08] stevekuznetsov commented on #7380
What do you propose to integrate with? We have the diffs from `go-spew` we could use, which is what I would have considered.

[2016-02-17 16:09] sosiouxme commented on #7358
So... should I expect that to be fixed in origin master "soon" or should I
implement an ugly hack in diagnostics to examine the message and recognize
this error?

On Tue, Feb 16, 2016 at 10:25 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-17 16:11] PI-Victor commented on #6236
@php-coder thanks man, good find. was always wondering how to write to that ginkgo interface to troubleshoot the tests. :+1:

[2016-02-17 16:16] deads2k commented on #7380
Well... diff comes to mind.

A dry run needs to produce an object that I can use to create or update my existing entries.  Any outcome that does not produce that isn't valuable.  The "diff" case is at best a manual sanity check, but it has no actual utility after the fact.  Checking into source control is pointless and playing via a script is impossible.

[2016-02-17 16:23] stevekuznetsov commented on #7380
I am considering the case where humans are using this script, not machines. Why does a human want something they can pipe into something else? The way the user is going to 'create or update my existing entries' is by turning off the dry-run flag, and we should **not** be suggesting they do anything else.

[2016-02-17 16:26] deads2k commented on #6955
@smarterclayton I'm inclined to close.  Do you disagree?

[2016-02-17 16:28] smarterclayton commented on #7358
It should be fixed with the next rebase.

On Wed, Feb 17, 2016 at 11:09 AM, Luke Meyer <notifications@github.com>
wrote:

[2016-02-17 16:29] rhcarvalho commented on #6236
@php-coder @PI-Victor that behavior is documented:

http://onsi.github.io/ginkgo/

[2016-02-17 16:30] jayunit100 opened #7384 "docs for anyuid"
Can we generate info about Security contexts into the docs somehow ? #7098

[code]
into the docs or somewhere else that is googlable/indexable/searchable ... ?

Looks like users/installers need to be aware of these to setup OS idiomatically for some things, such as `kubectl` to work properly based (i.e.

@pmorie @smarterclayton @timothysc

[2016-02-17 16:38] ajacobs21e commented on #7315
@thesteve0 - @rhamilto and I spoke about this and he pointed out that whether or not delete is a primary action may be contextual. For example it may be more common to delete a pod than a service.
Would it make sense to make delete a primary or secondary action based on context?
@spadgett

[2016-02-17 16:47] benjaminapetersen opened #7385 "When navigating to a cancelled build the console shows c3 errors"
![screen shot 2016-02-17 at 11 45 45 am](https://cloud.githubusercontent.com/assets/280512/13116977/13b20aac-d56c-11e5-9344-423eb83c692b.png)

@jwforres @spadgett

[2016-02-17 17:13] spadgett commented on #7315
@thesteve0 When do you find that you delete items?

@ajacobs21e I'd say deleting a pod is uncommon since it is often controlled by a replication controller. When it is, deleting the pod will result in another just like it being created. It's not something we'd encourage. If the pod doesn't have a replication controller, then it makes sense. It's contextual even for resource types.

I'm also hesita

[2016-02-17 17:14] smarterclayton commented on #7384
I believe there is a docs issue already open to improve SCC   Security
instructions aren't framed in a way that educates admins about tradeoffs
   <https://github.com/openshift/openshift-docs/issues/759>

On Wed, Feb 17, 2016 at 11:31 AM, jay vyas <notifications@github.com> wrote:

[2016-02-17 17:15] smarterclayton commented on #6955
I think complexity of this is sufficient that it would need a very strong use case to justify (not just "it makes internal dev easier" but "as a user I need to compose roles in order to accomplish X"), which isn't included here.  Reopen with that use case if necessary.

[2016-02-17 17:15] #6955 closed

[2016-02-17 17:22] spadgett commented on #7385
Yeah, Chrome removed an API c3 was using :-/

Fixed by #7373

[2016-02-17 17:22] #7385 closed

[2016-02-17 17:27] jwforres opened #7386 "Scaling router to zero and then back up sometimes causes conflicting routes to be admitted"
Create two routes in a namespace that request the same host, one will be admitted and one will be rejected.
Scale the router DC to 0
Scale the router DC back to 1
Expected: The admission status of the existing routes shouldn't change
Actual: The admission status of the existing routes sometimes changes.  You can end up with both routes saying they are admitted.

Exported svcs and routes from an ex

[2016-02-17 17:32] spadgett opened #7387 "Remove icons from actions dropdown"
As the actions menu grows, we're having trouble finding unique icons. Particularly when resources have more than one kind of edit action. Some examples:

Build Config:

<img width="221" alt="screen shot 2016-02-17 at 12 30 03 pm" src="https://cloud.githubusercontent.com/assets/1167259/13118465/454c21b4-d572-11e5-8978-d31753b11a80.png">

Deployment Config:

<img width="223" alt="screen shot 2016-02

[2016-02-17 17:32] spadgett commented on #7387
@jwforres any objections to the change?

[2016-02-17 17:38] ajacobs21e commented on #7387
Thanks for opening this Sam

[2016-02-17 17:45] ajacobs21e commented on #7315
@spadgett makes sense. I'm not familiar enough with the use cases so I'll default to you and @thesteve0 to determine if/when any of these actions should be primary.

At some point in the future will the console be able to do cascading deletion?

[2016-02-17 17:48] #7367 closed

[2016-02-17 17:48] deads2k commented on #7380
Control.  Both automatic and manual change control policies will require using dry-run.  I expect dry-run, save the new groups, apply the changes to be a common case, perhaps even as common as doing it automatically.  Relatively few shops running ldap are comfortable allowing a machine process to change things related to authentication and authorization without trackability.

Diff should be a sepa

[2016-02-17 17:48] #7380 closed

[2016-02-17 17:48] erinboyd commented on #6875
@smarterclayton my team will be taking this one

[2016-02-17 17:49] ajacobs21e commented on #6973
@thesteve0 are you doing "edit' or "edit YAML" frequently?

@spadgett you're totally right - I should have read through the whole doc to see what the latest version was before linking to it. That pattern is still under development and it looks like the confusion came from what's being discussed vs what's been written down at this point. Robb and I are going to chat with the designer working on tha

[2016-02-17 17:50] smarterclayton commented on #7367
Things like find and source code scanning typically crash and die on
recursive loops (or print ugly errors).  Grep actually chokes on a lot of
them.

On Wed, Feb 17, 2016 at 12:48 PM, OpenShift Bot <notifications@github.com>
wrote:

[2016-02-17 17:51] jwforres commented on #7387
no objections here

[2016-02-17 17:53] php-coder commented on #7352
PEBKAC: I commented out `cleanup_openshift` invocation to speed up the tests and forgot about it.

[2016-02-17 17:53] #7352 closed

[2016-02-17 17:54] bparees opened #7389 "new-app/new-build should handle "scratch" generically."
today new-app/new-build has special case logic to handle builds that are based on an image named "scratch", instead we should note that the input is scratch and mark the build as having no input/base image.

the rest of the logic should flow from that flag, rather than expliciting checking for the "scratch" name, so we can handle non-docker systems that won't use the term "scratch" for this scenar

[2016-02-17 17:55] danwinship opened #7390 "docker-in-docker deploy broken by build-go.sh changes"
`./hack/dind-cluster.sh start` in a dind vagrant image now fails.

It seems like build-go.sh can now only succeed if it's invoked from within a path that looks like a go root (ie, /something/src/github.com/openshift/origin), so having the origin checkout mounted at /data and trying to build from there fails.

@marun @smarterclayton

[2016-02-17 17:59] jwforres commented on #7315
Yes we have an open trello card for it, we are blocked waiting on API
support, the CLI is doing the cascade itself when it really should have
been handled by the API.

On Wed, Feb 17, 2016 at 12:45 PM, Allie Jacobs <notifications@github.com>
wrote:

[2016-02-17 18:03] smarterclayton commented on #7390
In general, if people need hacks to work outside a regular GOPATH (like
#7381) I'll merge them, but they won't be the default behavior in our tools.

On Wed, Feb 17, 2016 at 12:55 PM, Dan Winship <notifications@github.com>
wrote:

[2016-02-17 18:05] stevekuznetsov commented on #7380
Shouldn't `-o yaml` or whatever make the output machine-readable? Why shouldn't the output of our dry run be human-readable by default?

[2016-02-17 18:11] marun commented on #7390
I'm not sure why a 'regular' GOPATH makes any sense for a project that manages its own dependencies via godep, but I guess we're stuck replicating this pattern so long as we're following in kube's footsteps.

[2016-02-17 18:11] marun commented on #7390
In any case, this breaks a vm-based devcluster as well.  I'm working on a fix.

[2016-02-17 18:16] deads2k commented on #7380
We want default output to be the common output case and that is an API object that matches all other dry-run output from out commands and is useable in the normal path of "what's going to change, save this so I can track it, apply changes".

Having different output may be interesting, but ultimately this command shouldn't be special.  A standard command to diff API object has general utility and i

[2016-02-17 18:21] kargakis commented on #6934
More people are hitting this

[2016-02-17 18:26] stevekuznetsov commented on #7380
Point understood

[2016-02-17 18:26] smarterclayton commented on #6934
By deploy, we should really mean "at the time the trigger fires it should rewrite the container fields".  Why aren't we doing that today?

[2016-02-17 18:35] smarterclayton commented on #7390
We encourage regular GOPATH because that's how Go works.  If Go didn't
encourage the pattern, we wouldn't do it.  Because it does, we're following
the community's structure, instead of inventing new things.

On Wed, Feb 17, 2016 at 1:11 PM, Maru Newby <notifications@github.com>
wrote:

[2016-02-17 18:37] ironcladlou commented on #6934
That is what we do today. The image change controller resolves ISTs, rewrites the config spec, and bumps the version (if there was some change).

[2016-02-17 18:41] smarterclayton commented on #6934
When you have automatic=false, and someone wants to set an explicit image
to deploy next, we can't rewrite the value.  If a user takes control with
automatic=false, we probably want to help them get "the latest images" via
some sort of endpoint, but they have to assemble a full DC and send it to
us, we can't do it automatically in the controller.

On Wed, Feb 17, 2016 at 1:37 PM, Dan Mace <notific

[2016-02-17 18:56] jwforres commented on #6931
Moving to trello https://trello.com/c/goZPKVEm

[2016-02-17 18:56] #6931 closed

[2016-02-17 18:56] jwforres commented on #5453
Moving to trello https://trello.com/c/goZPKVEm

[2016-02-17 18:56] #5453 closed

[2016-02-17 18:58] jwforres commented on #5964
Moving to trello https://trello.com/c/nTtovDHM

[2016-02-17 18:58] #5964 closed

[2016-02-17 19:00] jwforres commented on #5866
Moving to trello https://trello.com/c/2rDfr6Ma

[2016-02-17 19:00] #5866 closed

[2016-02-17 19:12] jwforres commented on #6454
Moving to https://trello.com/c/YzU8RZjF

[2016-02-17 19:12] #6454 closed

[2016-02-17 19:12] marun commented on #7390
I get it, the goal is consistency.  But I don't think golang has anything definitive to say about how to manage dependencies for a project like openshift (at least not yet), and I'm not sure being consistent for its own sake buys anything.

[2016-02-17 19:17] jwforres commented on #6403
Since initial discussion seems settled on this, I'm moving to trello since its not a small enhancement https://trello.com/c/Q7oYZm63

[2016-02-17 19:17] #6403 closed

[2016-02-17 19:48] ironcladlou commented on #6934
To synthesize all I've seen here so far, what about something like:

[code]

This decouples rewriting from triggers, allowing ImageStream mappings to be applied on every deployment (or not, depending on the mapping's Automatic flag). The ImageChange trigger would no longer have any configuration: when an ImageStream is updated, if a DeploymentConfig has an ImageChange trigger, re-apply any matchin

[2016-02-17 19:48] sg00dwin commented on #6975
PR that corrects the topology view issue
https://github.com/openshift/origin/pull/7397

[2016-02-17 19:58] bparees commented on #6934
What does ContainerImageMapping.Automatic signify in this case?

[2016-02-17 19:58] jayunit100 commented on #7384
closing as dupe

[2016-02-17 19:58] #7384 closed

[2016-02-17 20:00] ironcladlou commented on #6934
Whether the mappings will be resolved and applied when a new deployment is being created from the deploymentConfig (which could be in response to a manual version bump, or a spec change, etc).

[2016-02-17 20:02] ironcladlou commented on #6934
The image trigger controller would resolve mappings and apply them to the spec automatically, and then they would presumably be re-resolved and applied again when the deploymentConfig is processed for creating the deployment... if the ISTs changed again in between, they might get re-resolved and applied a second time (correctly) based on the container mapping automatic flag.

[2016-02-17 20:06] benjaminapetersen commented on #6403
'Edit config' also could work.

[2016-02-17 20:19] bparees commented on #6934
so in my head i'm thinking a few flows:

a) ICT fires, matching mapping gets updated/resolved.  If DC is automatic, deployment happens.
b) Deployment is manually requested.  Mappings marked "automatic" get updated.  deployment happens.
c) Deployment is automatically caused (by what?).  Mappings marked "automatic" get resolved/udpated.  deployment happens.

In all cases the actual deployment uses t

[2016-02-17 20:21] deads2k commented on #6766
https://github.com/kubernetes/kubernetes/pull/20918 fixes a regression in `oc edit` to handle lists.

[2016-02-17 20:26] smarterclayton commented on #7390
The go lang tooling ecosystem expects GOPATH and the set of directories.
We don't create arbitrary distinctions, especially when we don't need to.
 build-go.sh works fine using one build root and the Godeps path, and
specific exceptions for convenience can be considered but must be justified.

On Wed, Feb 17, 2016 at 2:12 PM, Maru Newby <notifications@github.com>
wrote:

[2016-02-17 20:27] smarterclayton commented on #6934
I don't see what the mappings get us over having a flag on the trigger that
says whether clients should refresh it when triggering a manual
deployment.  Manual deployments are manual.

On Wed, Feb 17, 2016 at 3:19 PM, Ben Parees <notifications@github.com>
wrote:

[2016-02-17 20:34] bparees commented on #7298
https://github.com/openshift/origin/pull/7184 has merged, this should be fixed now but please let us know if you still see issues.

[2016-02-17 20:34] #7298 closed

[2016-02-17 20:36] GrahamDumpleton commented on #7366
It should have been ``oc`` client for 1.1.2 pulled down from github releases for openshift/origin. I do have multiple versions in different directories on my system due to needing to switch between different systems of different versions, so is outside chance that wrong version was used. Let me go back and check, making sure the right version is used.

If it does turn out that it was an older vers

[2016-02-17 20:37] bparees commented on #6934
I could live with either, but abusing imagechangetriggers to say "this triggers deploys...oh and also we'll use the information in here to resolve which image to use when you do a manual deployment, if you set this other flag" feels like a hack.

imagechangetriggers should trigger things, overloading them to configure other behavior seems wrong.

[2016-02-17 20:38] bparees commented on #6934
and what if i always want to resolve an ImageStreamTag but i don't want to have an ICT at all?  I define an ICT, then set deployment to manual, then set this other new flag to say "ResolveViaICT on deploy"?

do i still get configchangetriggers if i set deployment mode to manual?

[2016-02-17 20:38] sg00dwin commented on #5883
@jwforres do we pursue this change or close issue?

[2016-02-17 20:41] benjaminapetersen commented on #6721
@jwforres @spadgett forgot to mention you back when this was made.  I can take this issue.  Any thoughts on the format welcome.

[2016-02-17 20:42] jwforres commented on #5883
I'd like to figure out whats wrong, my guess is those imagestreams are not setting iconClass, @bparees ?

[2016-02-17 20:47] smarterclayton commented on #6934
Triggers are just probably poorly named.  Triggers are "Dependencies" that
are leveraged by the controller to assist users in making decisions.  There
is "automatic" (always trigger), "refresh" (if something else changes and
doesn't specify, refresh this value via a client), and "manual" (i don't
need your help).

On Wed, Feb 17, 2016 at 3:38 PM, Ben Parees <notifications@github.com>
wrote:

[2016-02-17 20:48] bparees commented on #5883
Looks like they are not:
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L272

vs
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L303

if you guys tell me the icon names i'll be happy to get the imagestreams updated.

do we have an icon for jenkins?  it's also missing the name.

[2016-02-17 20:50] smarterclayton opened #7401 "LimitRange admission plugin race"
Flaky test

[code]

[2016-02-17 20:51] jwforres commented on #5883
@sg00dwin can you let @bparees know which classes to use for these

On Wed, Feb 17, 2016 at 3:49 PM, Ben Parees <notifications@github.com>
wrote:

Yep we do.

[2016-02-17 20:51] spadgett opened #7402 "Toggle buttons can overlap filter add button on overview"
<img width="342" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13124208/22e57122-d58e-11e5-9cb6-ca1c5458b621.png">

Marking a P2 because it could make the filter unusable on mobile.

/cc @jwforres

[2016-02-17 20:51] bparees commented on #6934
@smarterclayton ok, i'll buy that.

[2016-02-17 20:56] jwforres commented on #5883
Nevermind @sg00dwin, i got him the class names

On Wed, Feb 17, 2016 at 3:51 PM, Jessica Forrester <jforrest@redhat.com>
wrote:

[2016-02-17 21:11] pweil- opened #7403 "Router should test config before reloading"
In order to prevent a completely broken router the router should be able to:
1.  test config if the implementation supports it to ensure validity before reloading
2.  if there isn't a way to ensure validity it should be able to revert to a previous config if it cannot restart with the new config

In the event that an invalid configuration is generated the router should send an event and log any me

[2016-02-17 21:16] bparees commented on #5883
![screenshot at 2016-02-17 16 15 12](https://cloud.githubusercontent.com/assets/4974046/13125053/b7192e94-d591-11e5-903d-3657b308bd77.png)

couple weird things here:
1) "version" is shown for some ISTs but not others.
2) the last image box expands across the whole window.

[2016-02-17 21:18] spadgett commented on #5883
We hide version if it's the same as tag. Not crazy about how it looks when we show it.

[2016-02-17 21:18] bparees commented on #5883
me either

[2016-02-17 21:23] sosiouxme commented on #7401
Alright I have zero idea how that could be non-deterministic but I'll look into it.

[2016-02-17 21:23] GrahamDumpleton commented on #7366
Okay. Looks like what happened was that when I was doing testing for #7326 with various ``oc`` versions that I didn't restore things so I was using the latest ``oc`` version with the 1.1.2 backend I was then testing the new mid deployment hooks with. :-(

Would still be nice if ``oc`` client gave some sort of warning about mis match in versions if doesn't already. At least I don't ever recollect s

[2016-02-17 21:25] sg00dwin commented on #5883
what's the difference between

mongodb:2.6 and
mongodb:latest version 2.6

what about appending version # before :latest

mongodb:2.4
mongodb:2.6(latest)

On Wed, Feb 17, 2016 at 4:18 PM, Ben Parees <notifications@github.com>
wrote:

[2016-02-17 21:26] bparees commented on #5883
There is no difference.  the IST named "latest" is basically a symlink to the IST named "2.6".

But the idea is that when 2.8 comes along, the admin updates the symlink and anyone using the "latest" IST gets upgraded while people who explicitly chose 2.6 stay on 2.6.

[2016-02-17 21:28] jwforres commented on #5883
But you are doing the annotations separately right? so latest is explicitly
setting a version tag? i feel like its a bit of a lie to show version when
the intention is that the version will change

On Wed, Feb 17, 2016 at 4:26 PM, Ben Parees <notifications@github.com>
wrote:

[2016-02-17 21:34] jwforres commented on #5799
i'm leaning towards not doing anything here, i think either proposed change is going to behave a little weird.  pretty sure we are consistent with what travis does.  objections?

[2016-02-17 21:36] jwforres commented on #4918
@spadgett still something you want to pick up later? or was the behavior too weird and we should close this?

[2016-02-17 21:37] bparees commented on #5883
@jwforres yes i'm explicitly setting it to reflect what the tag currently points to.  The idea being the admin ought to update that tag when they change what it symlinks to.

if i don't provide a version tag, then you'd have no idea what "latest" was when you were picking it, and that doesn't seem right.

[2016-02-17 21:39] GrahamDumpleton commented on #7366
BTW. Are any details of the hooks and the fact that some are registered meant to appear in the UI, or is all that shows in the UI is the strategy being used?

[2016-02-17 21:39] jwforres commented on #5701
Would like this to be addressed as part of https://trello.com/c/2rDfr6Ma

[2016-02-17 21:39] #5701 closed

[2016-02-17 21:40] spadgett commented on #5883
I was planning changing the version to small, muted text to the right of the tag.

[2016-02-17 21:42] sosiouxme commented on #7401
@smarterclayton can you post more from before in the log? Or just link to the failed run...

[2016-02-17 21:44] bparees commented on #5883
(@jwforres but i agree w/ your point that it's not necessarily obvious to a user that "latest" might point to something else tomorrow and if they redeploy they'll be updated to that new version.  I don't have a good answer though.  not showing the version at all might be the best option but it's hard to imagine people picking that)

[2016-02-17 21:44] jwforres commented on #6411
Moving to trello for tracking purposes https://trello.com/c/6WVJdgjL

[2016-02-17 21:44] #6411 closed

[2016-02-17 21:46] sosiouxme commented on #7401
nm, I think I see what must have happened.

[2016-02-17 21:47] benjaminapetersen commented on #5799
I'm good with that!

[2016-02-17 22:28] spadgett commented on #5799
No objection.

[2016-02-17 22:45] GrahamDumpleton commented on #7366
Existing issue about warning on use of old client versions.

* https://bugzilla.redhat.com/show_bug.cgi?id=1306590

[2016-02-17 23:09] spadgett commented on #5883
Opinions on this change?

<img width="491" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13128106/7ceaa918-d5a1-11e5-84d9-9882537ff284.png">

[2016-02-17 23:29] #5799 closed

[2016-02-17 23:35] jwforres commented on #5883
how will that do with a really long image name, i think some of the jboss
ones are long

On Wed, Feb 17, 2016 at 6:09 PM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-17 23:45] #7365 closed

[2016-02-18 00:12] #7231 closed

[2016-02-18 00:12] #7350 closed

[2016-02-18 00:13] #7314 closed

[2016-02-18 00:16] spadgett commented on #6973
We talk about a max-width on some of these pages. Some fill the space and look OK, but a few look silly.

<img width="1432" alt="screen shot 2016-02-17 at 7 12 57 pm" src="https://cloud.githubusercontent.com/assets/1167259/13129396/b6164ca2-d5aa-11e5-9bb9-40a139385974.png">

[2016-02-18 01:29] smarterclayton commented on #7386
Two problems here:

1. We weren't doing resync / initial sync in a stable order - so newer routes could go first, get assigned, then removed.  Also, we need to defer the first sync until all routes have been processed, which avoids a massive amount of churn.  Will handle that separately.
2. Rejections were generating identical writes (except for a new timestamp) to the server because a condition w

[2016-02-18 01:34] smarterclayton opened #7409 "Router should not write config until initial sync has completed"
It appears that the router is not waiting to write state to disk for the initial sync to be completed (not totally positive, but I don't see any of the code that would allow it).  We should not perform the first write until the cache store indicates all routes, namespaces, and endpoints have performed their initial sync.  That's possible to check by looking at the cache store resource version - if

[2016-02-18 01:34] smarterclayton commented on #7409
@ramr fyi

[2016-02-18 01:39] smarterclayton commented on #7409
Brought up while looking at #7386

[2016-02-18 02:22] smarterclayton commented on #6766
https://github.com/kubernetes/kubernetes/pull/21286 handles some types of
Docker cfg secrets from being selected by the keyring.

[2016-02-18 02:39] smarterclayton commented on #6954
Ben and I did a quick touch base yesterday - one other topic that has been sloshing around that is relevant here is the idea of different kinds of Jenkins:

1. Simple stateless "just do the basics for me" - a jenkins that needs no persistent storage and is entirely driven on the state in OpenShift
2. Simple "almost stateless" that can store jenkins config back in OpenShift as a config, or in a Git

[2016-02-18 02:46] thincal commented on #6807
@gabemontero yes after following the [step 3 in V3 OpenShift Jenkins example ](https://github.com/openshift/origin/blob/master/examples/jenkins/README.md), it works now. But should leave the token filed in Job as empty if using the string parameter.

Thanks again.

[2016-02-18 02:46] #6807 closed

[2016-02-18 02:51] thesteve0 commented on #6973
Well I think edit is relatively new. If I were guessing, once we have edit
forms for each item then I will probably edit most often and edit YAML will
be the "advanced" use case

On Wed, Feb 17, 2016 at 4:16 PM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-18 03:38] sdodson commented on #6040
@smarterclayton copr occasionally goes MIA during fedora maintenance outages (it's back now). We could mirror it locally on the jenkins host and use that instead, really all we're using from that repo is the openvswitch package right now.

[2016-02-18 03:39] ramr commented on #7403
I guess we can do `haproxy -c` before doing the reload to check if the config is syntactically correct but this is not going to catch everything - there are other possibilities for breakage.
Would also need to store 2 versions of the config in memory for the openshift-router - the previous valid config and current config.

[2016-02-18 04:00] PI-Victor commented on #6236
i read the docs a million times, i didn't know how to write to it.

[2016-02-18 04:36] bparees commented on #7256
@rualthan you need to pass a -e argument to your docker run command when you start the openshift master image.

the -e arguments you need to pass should set the HTTP_PROXY and HTTPS_PROXY values (case sensitive).

you should also pull a new image as we've fixed a couple issues around new-app and this behavior.

[2016-02-18 05:49] #7277 closed

[2016-02-18 10:09] luispimenta opened #7411 "openshift origin cartridge phpmyadmin"
I'm installing OpenShift origin m4, I create a normal web application, but when I add the phpmyadmin cartridge, it creates the _phpmyadmin.conf file inside the folder /etc/httpd/conf.d/openshift/ID_APP/ with an invalid line .

`ProxyPass / phpmyadmin http://127.10.75.3:8080/phpmyadmin/ retry = 0`
`ProxyPassReverse / phpmyadmin http://127.10.75.3:8080/phpmyadmin/`
`ProxyPassReverse / phpmyadmin htt

[2016-02-18 10:47] kargakis commented on #7366
cc: @jhadvig @jwforres

[2016-02-18 10:49] kargakis commented on #7366
@GrahamDumpleton since there is that bugzilla issue open and the present issue is not really an issue, do you mind closing?

[2016-02-18 10:49] #7366 closed

[2016-02-18 11:19] mrunalp commented on #7289
I have opened https://github.com/docker/docker/issues/20435 upstream.

[2016-02-18 11:34] mfojtik opened #7412 "Monitoring container restarts (and other error conditions)"
I run Origin for my private blog/etc and I noticed today that some containers were restarted 1000+ times during the night because of resource problems (memory?).

I think it would be nice to have some kind of monitoring image that connects to the OpenShift API and watches for error conditions (like restarts). If it hits some number, it send the email (or other notification).

What do you think?

@

[2016-02-18 11:42] mfojtik opened #7413 "Editing build configuration should submit the form on enter"
Would be nice to handle "enter" when editing the form, so I don't have to submit the form by mouse ;-)
Not high priority.

EDIT: This actually applies to all forms (creating from template for example..)

[2016-02-18 11:42] mfojtik commented on #7413
@jhadvig FYI

[2016-02-18 12:19] spadgett commented on #6725
Looks like this is fixed after the last rebase.

![logs](https://cloud.githubusercontent.com/assets/1167259/13143125/b374aa06-d60f-11e5-8c0e-3ef6803dc775.png)

[2016-02-18 12:23] spadgett opened #7414 "Crashing container appears to be running on the web console logs page"
We show the pod status on the pod log page, but not container state. When a container is crashing, it looks like it's running because under the container name we show "Status: Running." (In the screenshot below, the container is stopped due to a crash loop.)

![logs](https://cloud.githubusercontent.com/assets/1167259/13143156/01569162-d610-11e5-8abf-c64e55de9737.png)

/cc @jwforres @benjaminapeter

[2016-02-18 12:40] spadgett opened #7415 "Last image tile in web console catalog spans two columns"
Click "Add to project" and "Don't see the image you're looking for?" You must have an odd number of images.

<img width="982" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/13143545/997bb056-d612-11e5-8817-bcc770a8c61d.png">

/cc @jwforres @bparees

[2016-02-18 12:41] spadgett commented on #5883
I opened #7415 for the tile spanning two columns.

[2016-02-18 12:43] jizi commented on #7298
Hi,

unfortunately it didn't help :-(
I just tested it, pulled latest openshift/origin image
[code]
and tried the same as previously.
[code]

I tried two variants: my image has been pulled already vs. image hasn't been available on my host yet. See the logs below.

[code]

[code]

Summary: something has changed in comparison to previous state but still not working completely.

[2016-02-18 14:36] gabemontero commented on #6807
glad it worked out @thincal

[2016-02-18 14:38] jwforres commented on #7366
for the UI question, hooks do not show up yet, can be tracked in this story https://trello.com/c/2rDfr6Ma

[2016-02-18 14:40] #6725 closed

[2016-02-18 14:41] jwforres commented on #7414
elsewhere we show this status as "Not Ready"

[2016-02-18 14:45] deads2k commented on #7401
This isn't a flake, its a bug.  Its possible to bypass the limitrange admission plugin.  Working on a fix.

[2016-02-18 14:46] spadgett commented on #7414
We might add icons for the container states to draw your eye to abnormal states.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13146569/689ee874-d624-11e5-9d45-80574201cad0.png)

[2016-02-18 14:56] jhadvig commented on #7413
@mfojtik on it
@spadgett is this something we want ? ..just checking to be sure

[2016-02-18 14:56] jwforres commented on #7240
QE opened a bug as well https://bugzilla.redhat.com/show_bug.cgi?id=1309557
this needs to be fixed for 1.2

[2016-02-18 14:57] liggitt commented on #7413
yes, `<enter>` submitting forms is an accessibility standard we don't want to break

[2016-02-18 14:57] jayunit100 opened #7418 "Spec file shows v.0.0.1"
Should the spec file package be "v0.0.0.1" ? Thats what its currently giving me:

`Building package [v0.0.1]` ...

[2016-02-18 14:58] spadgett commented on #7413
+1

[2016-02-18 14:59] spadgett commented on #7413
We do want to be careful in a few places. Adding env variables should probably just add the value and not submit the entire form.

[2016-02-18 15:01] jhadvig commented on #7413
@spadgett +1 ..the same for the sourcePath->destDir for the imageSource

[2016-02-18 15:02] #6804 closed

[2016-02-18 15:19] bparees commented on #7415
this issue is to fix that behavior, right? :)

[2016-02-18 15:20] spadgett commented on #7415
Right :) It's a bug

[2016-02-18 15:26] benjaminapetersen commented on #7414
Leaving a few discussion notes from this morning for feedback:

- Bootstrap `.danger`, etc classes could be used on text to help draw your eye to what is going on.
- The icon up next to the container name doesn't seem to be sufficient.
- In the log viewer, "status" is really `status.phase` (which is correct in the details tab).
- I like the idea that either above the tabs or right below (consisten

[2016-02-18 15:28] spadgett opened #7421 "Builder / template version looks odd in web console catalog when displayed"
When the builder image tag doesn't match the version, we show the version. It looks out of place, though, and it's confusing when it shows up for some tiles and not others. It also interrupts the layout because it changes the tile height.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13148103/d8836962-d629-11e5-9b6b-fc73f82bbb29.png)

We have a similar issue when the

[2016-02-18 15:29] spadgett commented on #7414
Related to #6584

[2016-02-18 15:30] spadgett commented on #5883
And #7421 for the weird-looking version.

[2016-02-18 15:54] catherinesword opened #7422 "ssh to pod failed"
I have a 5-node (including master itself) OpenShift cluster running normally in AWS, and I've used it for long time so I'm sure ssh to pod worked before. However I didn't change anything except normal create/delete pod/service, when I created new pods and tried to connect to them via ssh, connections were always refused.
I'm sure in the pod description file port 22 is open, I'm using the same imag

[2016-02-18 16:02] bparees commented on #7298
you are logged in as a user that has access to that docker image?

[2016-02-18 16:08] mfojtik commented on #6781
@jwforres @smarterclayton with "condition" you mean the "Reason" field on Build? (iow. we set the reason to "PendingPullSecret" or something when the build needs secrets).

[2016-02-18 16:09] pweil- commented on #7166
@timothysc is this something you can remeasure for us now?

[2016-02-18 16:11] dinhxuanvu commented on #7411
The issue you mentioned above is related to OpenShift V2 (M4) while this repo is for Openshift V3. I saw you posted the same issue on origin-server which is where it should be. Please close this one if you can.
Thanks.

[2016-02-18 16:23] #7411 closed

[2016-02-18 16:38] kargakis commented on #6934
@ironcladlou do we really need new API for this? How about having the imagechange controller update the reference but not bump the version for triggering the new deployment? False for automatic is a variation of Paused. If a deployment is paused it won't trigger by updating its container.

[2016-02-18 16:54] rhcarvalho opened #7424 "`oc rsh` should set TERM"
Extracted from https://github.com/openshift/sti-base/pull/77

There is a known Docker issue (https://github.com/docker/docker/issues/9299) that `docker exec -t` does not set TERM while `docker run -t` does.

Users run into problems running applications that rely on term after running `oc rsh`, e.g.:

[code]

The proposed solution is to inherit the value of TERM from the environment where `oc` is r

[2016-02-18 16:55] rhcarvalho commented on #7424
@bparees @mfojtik FYI

@caruccio thanks from bringing this up!

[2016-02-18 16:56] mfojtik commented on #7424
@fabianofranz PTAL.

[2016-02-18 16:59] rhcarvalho commented on #7424
I will defer adding a new issue specifically for the Web Console terminal, since it uses an API endpoint with `exec -t` semantics, perhaps solving this on the server side will require no changes to the Web Console itself.

Example web socket URL: `wss://10.1.2.2:8443/api/v1/namespaces/testphp/pods/test-4-73q81/exec?stdout=1&stdin=1&stderr=1&tty=1&container=test&command=%2Fbin%2Fsh&command=-i`

[2016-02-18 17:47] spadgett commented on #6367
I'm not sure I want to do anything here because it might break accessibility for keyboard users. Even changing the outline style seems like a bad idea. @jwforres ?

[2016-02-18 17:51] spadgett opened #7426 "Deployment page should have link to pods for deployment"
See https://github.com/openshift/origin/issues/6757#issuecomment-183060605

Related to #7134

[2016-02-18 17:53] spadgett commented on #6757
I opened a separate issue for linking from deployment to pods. (It's not clear when #7134 will be merged.) Closing since the original deployment log issue is fixed.

[2016-02-18 17:53] #6757 closed

[2016-02-18 17:55] timothysc commented on #7166
Yes, we'll re-eval.

[2016-02-18 17:56] spadgett commented on #6975
Builds bar chart fixed in #7364.

Closing since both problems are fixed.

[2016-02-18 17:56] #6975 closed

[2016-02-18 17:57] iconoeugen opened #7427 "Verify generated deep copies headline typo"
The echoed headline in `./hack/verify-generated-deep-copies.sh` has a copy-paste typo:

`===== Verifying Generated Conversions =====`

[2016-02-18 18:08] ironcladlou commented on #6934
How are references in the deploymentConfig pod spec updated during a manual deployment?

[2016-02-18 18:12] bparees commented on #5883
@spadgett fyi this issue is going to get closed when i merge the updated imagestreams to fix the icons, so maybe move the discussion about how to display the Version to a different issue?

[2016-02-18 18:20] jwforres commented on #6367
Outline is supposed to sit outside of padding and maybe margin, does adding
either of those help space things out? If this is Firefox not honoring
where outline is supposed to go then I would say we won't fix.
On Feb 18, 2016 12:47 PM, "Sam Padgett" <notifications@github.com> wrote:

[2016-02-18 18:26] deads2k opened #7429 "test-cmd new-app image stream import flake"
`hack/../test/cmd/newapp.sh:104: executing 'oc get imagestreamtags wildfly:10.0' expecting success; re-trying every 0.2s until completion or 60.000s: the command timed out`

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/11250/consoleText

[2016-02-18 18:27] spadgett commented on #6584
I have a fix.

[2016-02-18 18:30] spadgett commented on #6584
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13153719/7983c884-d643-11e5-920b-44751983354c.png)

Unsure what do about the icons in some cases. CrashLoopBackOff with the running icon looks strange here.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13153751/9e3d060e-d643-11e5-99bf-6cb06cbee39f.png)

[2016-02-18 18:33] deads2k commented on #6766
kubernetes/kubernetes#21470 needed for https://github.com/openshift/origin/issues/7401

[2016-02-18 18:37] mfojtik opened #7430 "Use binary builds for extended tests that fetch origin repo"
We carry some extended tests that fetch the origin repo (jenkins/kubernetes is one of those). We should investigate to switch to binary builds to make that tests faster and not re-clone origin several times.

[2016-02-18 18:37] mfojtik commented on #7430
@bparees fyi.

[2016-02-18 18:45] bparees commented on #7430
some of those tests can switch to other repos too, like ruby-hello-world, depending what content they need.

[2016-02-18 18:46] spadgett commented on #2572
Container state reason is supposed to be a brief message.

[code]

I haven't seen a message like this for a while. Closing. We can reopen if we see it again.

[2016-02-18 18:46] #2572 closed

[2016-02-18 18:49] #6973 closed

[2016-02-18 18:49] #7387 closed

[2016-02-18 18:52] jwforres commented on #6584
Yeah... maybe CrashLoopBackOff should have a red X

On Thu, Feb 18, 2016 at 1:30 PM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-18 18:52] fabianofranz commented on #7424
Pretty interesting. @jwforres look.

[2016-02-18 18:55] jwforres commented on #7005
Yeah i think for now we will just be adding some padding beneath the Show annotations link so its not sitting right next to the table, which is what was in your wireframes.

View Annotations in the Actions menu feels a little weird

[2016-02-18 19:06] ajacobs21e commented on #7240
![embeddeddatalist](https://cloud.githubusercontent.com/assets/6415742/13154725/64660f8e-d648-11e5-9e4f-cea58fae7400.png)
This is the design solution I worked on with the UXD / PatternFly visual design team. It brings the data list filter toolbar to the list when it's one embedded element of the page. Currently the only example is when the data list is the only page element.

[2016-02-18 19:12] ajacobs21e commented on #7240
the short term fix though would be to add the filter row to the table
![screen shot 2016-02-18 at 2 11 18 pm](https://cloud.githubusercontent.com/assets/6415742/13154996/9cfb5448-d649-11e5-804a-1e5f7acf20c6.png)

https://www.patternfly.org/patterns/table-view/

[2016-02-18 19:36] smarterclayton opened #7432 "User reported issue that router stats port health check was authenticated"
That is not expected, if this is the case our router is broken.

[2016-02-18 19:37] smarterclayton commented on #7432
@eparis for routing on the networking team

[2016-02-18 19:42] spadgett commented on #6584
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13155858/cb6c65a2-d64d-11e5-90f2-71941d830cde.png)

[2016-02-18 19:47] jwforres commented on #6584
The all upper case Crash Loop Back Off looks a little strange, what about
Crash loop back off?

On Thu, Feb 18, 2016 at 2:42 PM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-18 19:50] ajacobs21e commented on #5913
@benjaminapetersen what's the "status: canceled" text in your latest screenshot?

@spadgett do you think it's worth trying to rephrase "could not be loaded" ? It's still bothering me that it sounds like either I did something wrong or that there's a fix available. But right now I can't think of another phrasing. I could try if I'm not the only one bothered by it.

[2016-02-18 19:56] ncdc commented on #6766
Fix type for DaemonSet informer in node controller: https://github.com/kubernetes/kubernetes/pull/21496

[2016-02-18 19:59] spadgett commented on #6584
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13156364/2853427a-d650-11e5-9ec5-126714e3b9a9.png)

[2016-02-18 20:07] sdodson commented on #7418
@danmcp I believe this should be closed as a dupe of #7219 we need to treat RPM artifacts as a first class citizen and that's being discussed there.

[2016-02-18 20:09] #7418 closed

[2016-02-18 20:09] benjaminapetersen commented on #7005
Good Q here.
- Deployments have Configuration under Details tab
- Builds have a Configuration tab that is pretty similar to the Deployment Details tab
- Builds have a Summary tab that is quite similar to the Deployments Details tab
- Should the Environment tab consistently be the 2nd tab?

I think we can sort out the Details, Summary & Configuration tabs, possibly eliminate one, then put annotatio

[2016-02-18 20:10] benjaminapetersen commented on #6584
+1 I like it.

[2016-02-18 20:10] pweil- commented on #7422
@catherinesword - are there any errors in the pod logs about starting the ssh daemon?  If the pod is running under a restrictive `SecurityContextConstraint` then perhaps it was prevented from binding to the low port as a non-root user without `CAP_NET_BIND_SERVICE`.  You can see which SCC the pod validated against with `oc get <pod> -o json | grep scc`

You may need to run this pod with elevated p

[2016-02-18 20:11] #7386 closed

[2016-02-18 20:14] benjaminapetersen commented on #5913
@ajacobs21e you mean [this one](https://github.com/openshift/origin/issues/5913#issuecomment-184403590)?  That screen shot is out of date.  The latest are actually on [the PR that will fix this issue](https://github.com/openshift/origin/pull/7363#discussion_r53244717).

Let me know if that clarifies!

[2016-02-18 20:31] spadgett commented on #6367
either of those help space things out?

It will move the text so it's not flush with the right edge of the chart, unless we try a trick like padding and negative margin.

[2016-02-18 20:32] benjaminapetersen commented on #7005
I think this tab set makes sense to me:

- Summary
    - Build config will have the chart + list of builds
    - Deployment config page will have just the list of deployments since we have no chart right now.
- Details
    - Rename "configuration" since this tab also has a sub-heading of "configuration" which is redundant.
- Environment
    - Both have this tab
- Events
    - Only deployments has

[2016-02-18 20:36] benjaminapetersen opened #7435 "Web console: empty state messages have excessive padding"
Discussion began in [this PR](https://github.com/openshift/origin/pull/7363)

Screenshot for reference:

![log_404_cancelled](https://cloud.githubusercontent.com/assets/280512/13157316/35e6a558-d655-11e5-8af9-c88852a3fd6c.png)

The `.empty-state` class has a top margin of 150px.  It is used in a few places.

[2016-02-18 20:37] smarterclayton commented on #6934
So these three cases need to work:

1. A user can tag an image stream tag and the deployment is updated with
the latest values of any automatic tags (handled by deployment controller)
2. A user on the command line can manually update to a particular latest
manual image and leave the others alone (handled by client code today, but
this is arguably an /instantiate endpoint)
3. A user on the command

[2016-02-18 20:41] spadgett commented on #5742
We've gone from a large amount of padding to none at all.

![screen shot 2016-02-18 at 3 40 43 pm](https://cloud.githubusercontent.com/assets/1167259/13157454/027b80a2-d656-11e5-9d64-dc2d3f19c4d6.png)

[2016-02-18 21:00] ncdc opened #7437 "Error recording event for DaemonSet"
Using commit 1def47c, create a DaemonSet, and you'll see this:

[code]

[2016-02-18 21:01] ncdc commented on #7437
cc @deads2k

[2016-02-18 21:15] kargakis commented on #6934
Same as automatic DCs are updated now, the only difference will be that lateVersion stays the same (so no new deployment runs).

[2016-02-18 21:16] kargakis commented on #6934
@ironcladlou got this working locally, will submit a poc PR shortly.

[2016-02-18 21:38] smarterclayton commented on #6781
Yes, Reason on build should be set.  And technically that reason should be
a condition, and evolve towards conditions.

On Thu, Feb 18, 2016 at 11:08 AM, Michal Fojtik <notifications@github.com>
wrote:

[2016-02-18 21:38] benjaminapetersen opened #7440 "Web console: make tabs consistent across pages"
Originally discussed in [this issue](https://github.com/openshift/origin/issues/7005), but breaking out into a separate item.

Summary of discussion:

Good Q here.
- Deployments have Configuration under Details tab
- Builds have a Configuration tab that is pretty similar to the Deployment Details tab
- Builds have a Summary tab that is quite similar to the Deployments Details tab
- Should the Envi

[2016-02-18 21:57] benjaminapetersen commented on #7005
Ok, moved the tab stuff to a separate issue.  On this issue will open a PR to address the following:
- [x] padding around `<annotations>` directive
- [ ] missing `<annotations>` directive on deploymentConfig page

[2016-02-18 22:02] spadgett commented on #7435
I think it's OK for things like the empty project page, but pages that have tabs are an issue. Particularly build config.

[2016-02-18 22:04] benjaminapetersen commented on #7005
So deploymentConfig actually already has the annotations directive:

![screen shot 2016-02-18 at 4 56 34 pm](https://cloud.githubusercontent.com/assets/280512/13159625/d3c8b972-d660-11e5-86c7-9d89fc3e7fad.png)

Though my deploymentConfig object had no annotations & I had to fake it out to get the annotations directive to appear.  The directive is on all the build, buildConfig, deployment, deployme

[2016-02-18 22:12] benjaminapetersen commented on #7435
Yeah, prob just need some utility classes with a little more granular control.

[2016-02-18 22:13] spadgett commented on #7435
We have an `empty-state-full-page` class set already that we didn't have styles for. I'll use that.

[2016-02-18 22:17] benjaminapetersen commented on #7435
That sounds good.

Thinking generally, we have `.gutter-top, .gutter-bottom, .gutter-top-bottom` in `_core.less`.  I could see something like `.gutter-sm, .gutter-md, .gutter-lg, .gutter-jumbo` if we wanted to ensure consistency across a variety of components.

@sg00dwin for thoughts.  Prob not important immediately on this issue.

[2016-02-18 22:19] jwforres commented on #7005
Ahh right we hide when there aren't any.
On Feb 18, 2016 5:04 PM, "Ben Petersen" <notifications@github.com> wrote:

[2016-02-18 22:21] #7329 closed

[2016-02-18 22:22] #7401 closed

[2016-02-18 22:24] benjaminapetersen commented on #7005
Aha!  We are tricky.  :smile:

Made this a pretty easy fix.

[2016-02-18 22:25] mwringe opened #7444 "Reencrypt route failed to find destinationCACert file"
Reencrypt routes do not currently use the default router certificates. If a reencrypt route is created without the `key` and `certifcate` values any clients trying to connect to that endpoint will fail and the following fatal error will logged in the router logs:

[code]

If the `key` and `certificate` values are added, then the route will function as expected.

The follow example works:
[route-wo

[2016-02-18 22:29] smarterclayton commented on #6435
Happened again today.

[2016-02-18 22:29] smarterclayton commented on #6435
This is almost certainly a serious bug somewhere, moving to p1

[2016-02-18 22:33] benjaminapetersen commented on #7005
I could add a "no annotations" message if there are none, rather than
showing nothing. Thoughts?
On Feb 18, 2016 5:19 PM, "Jessica Forrester" <notifications@github.com>
wrote:

[2016-02-18 23:19] smarterclayton opened #7445 "Event table in console should be sortable"
By kind, name, reason, and message.

[2016-02-18 23:28] #6584 closed

[2016-02-18 23:50] #6189 closed

[2016-02-19 00:57] spadgett commented on #5883
@bparees yeah already done #7421

[2016-02-19 02:58] smarterclayton commented on #7323
@fabianofranz i'd like to nuke these for 1.2, they are hideous and ugly.

[2016-02-19 03:35] fabianofranz commented on #7323
@smarterclayton ok, I'll look at this in the morning.

[2016-02-19 04:52] #5883 closed

[2016-02-19 04:55] smarterclayton opened #7450 "pkg/build/util/getStrategyImageChangeTrigger incorrect?"
This method doesn't appear to take into account that there are multiple image sources possible now.

[code]

@csrwng @bparees

[2016-02-19 05:00] bparees commented on #7450
Actually that's exactly what this method is for.  It's finding the "default" ICT (if any), which is the ICT that doesn't explicitly specify what imagestreamtag it triggers off of, because it triggers off the imagestreamtag that the Strategy references.

[2016-02-19 05:01] bparees commented on #7450
https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L425-L448

[2016-02-19 05:06] bparees commented on #7450
ok on further analysis i think what you're saying is that this:
https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L428-L440

should consider the possibility that what triggered the build was an ICT associated with one of the image sources, and that if so, we should use the ICT's lastimagetriggerid as the imagesource, instead of re-resolving the image source.

[2016-02-19 05:11] smarterclayton commented on #7450
Yes.

[2016-02-19 05:11] bparees commented on #7450
marking p3.  The likelihood that we resolve a different imageid than the one that triggered the build is exceedingly low.  you'd have to be rapidly and continuously pushing images.

[2016-02-19 05:14] bparees commented on #7450
(and if you did push two images in a row like that, we'd end up building twice anyway, so the end result will be the same...the last build is going to have been built with the latest imageid).  Either we'd do two builds using the same imageid, or build1 with imageid1 and build2 with imageid2.

Of course w/ our current concurrency issues, build1's output could be what ends up in the registry, but t

[2016-02-19 05:15] smarterclayton commented on #7450
Saying that we have no way of predicting what is going to be built is not inspiring confidence in our build system as a practical target for doing origin builds.

[2016-02-19 05:17] bparees commented on #7450
I don't think that's an accurate representation of what I said.  I can predict with very high confidence what is going to be built for any given build, and I can guarantee what will eventually be built in the worst case.

[2016-02-19 05:33] smarterclayton commented on #7450
But isn't that going to give me the *wrong* image?  What if I have no trigger for the image source, or no trigger for the strategy?  It didn't look to me like we re-resolved, instead it looked like we used the wrong from.

[2016-02-19 05:33] smarterclayton commented on #7450
If that's not accurate then I agree it's p3

[2016-02-19 05:37] bparees commented on #7450
imagesource refs always get resolved by this logic when we are constructing the build:
https://github.com/openshift/origin/blob/master/pkg/build/generator/generator.go#L428-L440

The getStrategyImageChangeTrigger has no bearing on that flow.  But regardless i have, hopefully, fixed the issue now.

[2016-02-19 05:49] liggitt commented on #6618
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/11327/console

[2016-02-19 07:53] catherinesword commented on #7422
@pweil-  Thank you very much for your reply! I had a look at pod SCC and it says "anyuid", I logged in as "system:admin". So should I add this user to any of the SCCs? Now I have anyuid, hostaccess, hostmount-anyuid, nonroot, privileged and restricted.

[2016-02-19 08:14] wenskys opened #7452 "Regression: router is error when i update it for 1.1.3"
hi,
when i change the route images to 1.1.3.it is error,the error log as:
User "system:openshift-router" cannot update routes/status in project "default"
![router-error](https://cloud.githubusercontent.com/assets/12937669/13169902/7b6002a4-d723-11e5-831a-4eef832b8793.jpg)
but when i use openshift/origin-haproxy-router:v1.1.1.1 or openshift/origin-haproxy-router:v1.1.2 that will be ok.
![router-ok]

[2016-02-19 10:56] soltysh commented on #5881
Seen here: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5023/console
And this screenshot appears relevant:
![](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5023/artifact/origin/artifacts/screenshots/%20authenticated%20e2e-user%20with%20test%20project%20should%20have%20access%20to%20the%20test%20project.png)

[2016-02-19 11:07] jstrachan commented on #6954
Agreed. I'd maybe split things into whether or not folks are using a `Jenkinsfile` or not rather than the `pipeline` distinction. You can use a Jenkinsfile for a regular CI build too really.

If folks are not using a Jenkinsfile then those options all make sense - e.g. creating arbitrary persistent jobs, adding plugins, tools and custom configurations etc.

If folks are using a Jenkinsfile then th

[2016-02-19 11:12] jstrachan commented on #6954
BTW I'd prefer us to prioritise using Jenkins + Jenkinsfiles properly with docker / kubernetes inside OpenShift first and really nail it from a developer experience perspective of how best to use OpenShift + Jenkins nicely together before we get too lost in the weeds dealing with legacy approaches to Jenkins (e.g. replicating Jenkins 1.x jobs, plugins and configuration into ConfigMaps and so forth

[2016-02-19 12:03] rualthan commented on #7256
@bparees @smarterclayton  That works. Thank you. For the benefit of  others(newbies) here is my Docker run command

    docker run -d --name "origin" --privileged --pid=host --net=host \
    -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys \
    -v /var/lib/docker:/var/lib/docker:rw \
    -v /var/lib/origin/openshift.local.volumes:/var/lib/origin/openshift.local.volumes \
    -e HTTP_PROXY=htt

[2016-02-19 12:37] rhcarvalho opened #7453 "Improve circular input/output detection in oc new-build"
From https://github.com/openshift/origin/pull/7321/files#r53043941

We should be able to detect a circular input/output when the output is a DockerImage (`oc new-build ... --to-docker`).

[2016-02-19 12:37] rhcarvalho commented on #7453
@bparees FYI

[2016-02-19 12:42] spadgett commented on #7005
#7442 is merged, which fixes the layout problem, and we have #7440 to track the tabs.

[2016-02-19 12:42] #7005 closed

[2016-02-19 12:56] jayunit100 opened #7454 "Evaluate Parity of e2e build product , adopt test/e2e/e2e.go if possible/necessary."
From https://github.com/openshift/origin/pull/7049 .

recap
- about a month or so ago we decided we wanted kube e2e in openshift releases
- since then, two efforts at there were underway.
- one effort lead to a library in upstream kube that could be reused.  This was @liggitt s idea originally.
- meanwhile, in parallel, improvements to extended tests were underway, including complete packaging of

[2016-02-19 12:57] jayunit100 commented on #7454
cc @timothysc @liggitt @smarterclayton

[2016-02-19 13:19] jizi commented on #7298
The registry doesn't have authentication set up. Everyone who can access the address can pull the images.

[2016-02-19 13:43] mfojtik commented on #7452
@wenskys you have to run `oadm policy reconcile-cluster-roles --confirm` to fix this problem

[2016-02-19 13:44] pweil- commented on #7422
anyuid should be fine.  Are you getting any errors in the pod logs?

[2016-02-19 13:45] mfojtik commented on #7452
@smarterclayton probably worth to include this command in the release text ;-) (i got broken by upgrading from 1.1.2 to 1.1.3)

[2016-02-19 13:45] catherinesword commented on #7422
@pweil- I'm not sure how to check the pod logs..

[2016-02-19 13:47] #7051 closed

[2016-02-19 13:49] spadgett commented on #5881
UI tests are looking for a deployment triggered by an image change, but it's not there.

https://github.com/openshift/origin/blob/master/assets/test/integration/e2e.js#L67

[2016-02-19 13:49] pweil- commented on #7422
you may use `oc logs` to view pod logs, optionally with `-c` for a specific container

[2016-02-19 13:56] catherinesword commented on #7422
@pweil- Thank you! yes I see an error, saying "sudo: PERM_SUDOERS: setresuid(-1, 1, -1): Operation not permitted". I have a sudo command in Dockerfile to restart sshd inside the container.

[2016-02-19 13:58] mfojtik commented on #7422
@catherinesword sudo is not allowed in openshift

[2016-02-19 14:02] catherinesword commented on #7422
@mfojtik you mean no sudo inside containers? But I was using the same image before, and ssh connection was fine, so I guess "sudo service ssh restart" worked..

[2016-02-19 14:40] pweil- commented on #7422
@catherinesword can you paste the output of `oc get scc anyuid -o json` for me?

[2016-02-19 14:41] bparees commented on #7256
exporting env vars inside the container won't affect the process that's already started within the container.

[2016-02-19 14:41] #7256 closed

[2016-02-19 15:17] pweil- commented on #7444
this error is indicating that it couldn't find the CA cert which corresponds to `destinationCaCertificate` for the reencrypt route which is separate than using the default certificates for the initial termination.  This makes me think it didn't write the file correctly or something else happened, not that it was unhappy using default certs on the reencrypt route.  Updating the title

[2016-02-19 15:20] jwforres commented on #6618
@liggitt looks like the screenshot was an access denied error, looks like a 403 based on the message.  Think maybe we are beating out the project cache?  Cause it looks like in the test we hit Create and then immediately try to navigate to the project.

![e2e-error](https://cloud.githubusercontent.com/assets/1467629/13179424/eafe78fc-d6f1-11e5-91dc-b10d3e996cc7.png)

[2016-02-19 15:22] liggitt commented on #6618
wouldn't be the project cache, that's used for listing projects. might be the authz cache

[2016-02-19 15:22] liggitt commented on #6618
@spadgett needs to remove some of his performance optimizations to ensure the web console slows down a bit

[2016-02-19 15:23] jwforres commented on #6618
this could be a problem for real, when a user hits Create in the console we immediately go to "Add  to project"  im surprised we never hit this ourselves...

[2016-02-19 15:26] catherinesword commented on #7422
@pweil- it looks like this:
[code]

[2016-02-19 15:27] pweil- commented on #7422
@catherinesword  looks like you're running on master.  There was a recent fix to that SCC so that it wouldn't force you to drop `setuid` and `setgid` which is probably what is causing your sudo to fail.  https://github.com/openshift/origin/pull/7247

You should be able to pull latest and give it a try

[2016-02-19 15:35] kargakis commented on #6766
https://github.com/kubernetes/kubernetes/pull/21341 for enhancing the dc describer

[2016-02-19 15:36] catherinesword commented on #7422
@pweil- some updates: I created a user and assigned it sudo, to try restart sshd without sudo, from pod logs it seems to work "Restarting OpenBSD Secure Shell server: sshd.", but connection still failed: "Read from socket failed: Connection reset by peer"

[2016-02-19 16:04] jwforres commented on #5881
@ironcladlou what would cause a deployment to say it got triggered by a config change when it was really triggered by an image change?? see the screenshot https://github.com/openshift/origin/issues/5881#issuecomment-186170437  the frontend deployment was the result of a build pushing an image.

[2016-02-19 16:06] spadgett commented on #6618
@jwforres It's a real problem I've seen: #6193

[2016-02-19 16:20] ironcladlou commented on #5881
@jwforres

I think we'll need to see the deploymentConfig itself to verify assumptions first (i.e. is the image trigger cause really missing from deploymentConfig.status). Possible to get?

[2016-02-19 16:27] jwforres commented on #5881
@ironcladlou should be in the etcd dump from test-end-to-end https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5023/artifact/origin/artifacts/test-end-to-end-docker/artifacts/etcd_dump.json

[2016-02-19 16:40] sosiouxme commented on #7358
Looks good now.

[2016-02-19 16:40] #7358 closed

[2016-02-19 17:00] spadgett opened #7462 "Can't see full label value creating from template on iOS"
The label value is truncated, and I can't see the full value.

![screen shot 2016-02-19 at 11 57 49 am](https://cloud.githubusercontent.com/assets/1167259/13182576/6c9aae36-d700-11e5-95ec-0d49117cd212.png)

[2016-02-19 17:03] smarterclayton commented on #7452
We need to probably fail gracefully if we don't have permission.  That's the bug and has to be fixed.

[2016-02-19 17:04] timothysc opened #7463 "build failures on master"
As this today when building origin/master I get strange dep issues causing failed builds:

https://paste.fedoraproject.org/325876/55901396/

[2016-02-19 17:13] jayunit100 commented on #7463
building Godeps/_workspace/src/k8s.io/kubernetes/test/e2e/kubectl.go is failing for me
[code]

[2016-02-19 17:16] liggitt commented on #7463
@jayunit100 your issue is fixed in https://github.com/openshift/origin/pull/7455, repull from master
@timothysc you might be hitting http://lists.openshift.redhat.com/openshift-archives/dev/2016-February/msg00084.html

[2016-02-19 17:17] ironcladlou opened #7464 "Deployment config change trigger cause found where image change cause expected"
https://github.com/openshift/origin/issues/5881#issuecomment-186170437 seems to demonstrate a case where a deployment config change trigger cause is recorded when an image trigger cause is expected. A quick code audit didn't reveal any obvious races between the image and change trigger controllers, but I wouldn't rule it out yet.

[2016-02-19 17:17] ironcladlou commented on #5881
@ironcladlou should be in the etcd dump from test-end-to-end https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/5023/artifact/origin/artifacts/test-end-to-end-docker/artifacts/etcd_dump.json

Thanks. I made https://github.com/openshift/origin/issues/7464 to track it.

[2016-02-19 17:26] spadgett commented on #6535
This is how it looks on iOS with one build. Not crazy about the tab and view log link wrapping either.

<img width="432" alt="screen shot 2016-02-19 at 12 24 07 pm" src="https://cloud.githubusercontent.com/assets/1167259/13183221/cbf9faa0-d703-11e5-9a83-941f1fa6c98c.png">

[2016-02-19 17:27] timothysc commented on #7463
wiping $GOPATH/pkg/* fixes ...

[2016-02-19 17:27] #7463 closed

[2016-02-19 17:29] spadgett opened #7466 "iOS page zooms when focusing a select in web console"
<img width="432" alt="screen shot 2016-02-19 at 12 27 52 pm" src="https://cloud.githubusercontent.com/assets/1167259/13183305/41a4442c-d704-11e5-97a5-23c387cc77d0.png">

I saw this on the build config edit page, but it might be a problem everywhere.

Related to #3118.

[2016-02-19 17:33] spadgett opened #7467 "Copy button prompts me to press cmd-C on my iPhone"
<img width="432" alt="screen shot 2016-02-19 at 12 30 41 pm" src="https://cloud.githubusercontent.com/assets/1167259/13183380/aa394a6e-d704-11e5-937e-f9d478252656.png">

/cc @jwforres @rhamilto

[2016-02-19 17:40] #7435 closed

[2016-02-19 17:43] jwforres opened #7468 "Env var values with leading slashes cause reg ex errors in console"
When creating from source + image, if the existing env vars on the image or any user defined env vars contain leading / in the value, angular is trying to run them as a regex before setting the value onto the input field. This creates JS runtime errors that then prevent the overview from loading properly after submitting the form

[2016-02-19 17:47] kargakis commented on #7464
Probably the offending DC
[code]

[2016-02-19 17:56] kargakis commented on #7464
The image is resolved (meaning the ICT fired), latestVersion is 1, and the end status cause is a config change - most probably a race.

[2016-02-19 17:58] smarterclayton commented on #6535
Is the graph useful at N<2?

On Fri, Feb 19, 2016 at 12:26 PM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-19 18:05] smarterclayton commented on #7452
Fixed in #7472, will push a new image when it merges.

[2016-02-19 18:13] ironcladlou commented on #7464
I went down the same path, but the problem I found is that the config change controller aborts early if the deployment for the current version doesn't yet exist. And if the current RC already exists, the config encoded in the RC should have the same spec as the current DC (from the image controller update) and so no bump/cause re-assignment should occur. If there somehow WAS a spec change between

[2016-02-19 18:23] smarterclayton commented on #7228
This has been fixed in 1.1.3

[2016-02-19 18:37] #7330 closed

[2016-02-19 18:37] #6621 closed

[2016-02-19 18:38] spadgett opened #7473 "Route extends outside box on overview page"
Regression (previous issue #5285 and fix #5440).

<img width="432" alt="screen shot 2016-02-19 at 1 35 22 pm" src="https://cloud.githubusercontent.com/assets/1167259/13185173/b7a28324-d70d-11e5-91ae-a538abd6d24f.png">

/cc @jwforres @sg00dwin @rhamilto

[2016-02-19 18:48] smarterclayton commented on #5448
[code]

[2016-02-19 18:53] jwforres commented on #5913
Fixed by #7363

[2016-02-19 18:53] #5913 closed

[2016-02-19 19:03] kargakis commented on #7464
It tries to generate a deployment for [zero latestVersion](https://github.com/openshift/origin/blob/d149fc61a30fa175e9464fc30f3ea5424e1af7cf/pkg/deploy/controller/configchange/controller.go#L42).

[2016-02-19 19:04] vbehar commented on #7228
yes I saw that, thanks!

[2016-02-19 19:11] ironcladlou commented on #7464
If the image controller persisted its cause first, the DC would be at version 1 and the change controller wouldn't enter that block. If the change controller is racing and gets version 0 and image controller still persists version=1 first, change controller gets an update conflict, and the image cause is preserved. If the change controller wins, version becomes 1 with a configChange cause, the sha

[2016-02-19 19:19] kargakis commented on #7464
Both SGTM

[2016-02-19 19:59] rhamilto commented on #7473
My bad.  I fix.

[2016-02-19 20:14] spadgett opened #7476 "Table headers missing for mobile on browse image page"
<img width="432" alt="screen shot 2016-02-19 at 3 10 46 pm" src="https://cloud.githubusercontent.com/assets/1167259/13187769/580ddae0-d71b-11e5-8089-0bd7a8e61aa3.png">

/cc @jwforres

[2016-02-19 20:19] #6900 closed

[2016-02-19 20:19] #7468 closed

[2016-02-19 20:43] spadgett opened #7478 "Follow log link not showing up on initial page load"
It appears only after I resize the page. Seen in Firefox and Chrome.

![screen shot 2016-02-19 at 3 40 23 pm](https://cloud.githubusercontent.com/assets/1167259/13188380/33b33538-d71f-11e5-9207-73ddc1fa40bd.png)

/cc @jwforres

[2016-02-19 20:46] jwforres commented on #7478
Yep i just recreated this myself a few mins ago @benjaminapetersen

[2016-02-19 20:52] spadgett commented on #7478
It's calling `updateScrollLinksVisibility` once before content is added the the DOM, then not calling it again until there's a new log message or resize.

[2016-02-19 20:58] smarterclayton commented on #6766
https://github.com/kubernetes/kubernetes/pull/21286

[2016-02-19 21:12] pweil- commented on #7437
@deads2k  this is being caused by the `isNamespacedKind` check in `ValidateEvent`.  It is returning an error on https://github.com/pweil-/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/api/validation/events.go#L70 because it cannot find the `DaemonSet` restmapping.

Are we ready to drop that commit (it is marked as drop) or maybe there is something not being registered correctly?

[2016-02-19 21:14] pweil- commented on #7437
relevant commit that introduced this and was carried in the last rebase as well https://github.com/openshift/origin/commit/2585d8905f34be3be68b8c5d007d7f557e524466

[2016-02-19 21:14] tompson commented on #6326
I get exactly the same problem when trying to run openshift on our Hetzner server @wfrank2509

did you find a solution?

[2016-02-19 21:15] bparees commented on #6435
just running patch in a loop i can't make this happen, there must be some additional factors (eg load on etcd causing a timeout somewhere)

[2016-02-19 21:25] rhamilto commented on #7473
@spadgett, is this possibly a caching issue?  I'm unable to reproduce.

<img width="381" alt="screen shot 2016-02-19 at 4 24 50 pm" src="https://cloud.githubusercontent.com/assets/895728/13189432/6291dbb0-d725-11e5-8610-45d14dcacc37.PNG">

[2016-02-19 21:30] spadgett opened #7480 "Not obvious you can scroll project dropdown on iPhone"
The scrollbar blends into the menu so closely that I didn't notice I could scroll.

(Might be more obvious on a real device?)

<img width="432" alt="screen shot 2016-02-19 at 4 27 12 pm" src="https://cloud.githubusercontent.com/assets/1167259/13189484/aac41f42-d725-11e5-9fcf-4b940a35b846.png">

/cc @sg00dwin @jwforres @rhamilto

[2016-02-19 21:37] spadgett commented on #7473
Disabled caches. Still seeing it. I think I have your change because of the smaller metadata font size.

<img width="487" alt="screen shot 2016-02-19 at 4 35 43 pm" src="https://cloud.githubusercontent.com/assets/1167259/13189701/e48bb522-d726-11e5-9f2a-bcc799a72328.png">

[2016-02-19 21:46] spadgett commented on #7473
Adding `width: 100%;` to the `.component` div fixes it.

![iphone_6s_-_iphone_6s___ios_9_2__13c75_](https://cloud.githubusercontent.com/assets/1167259/13189934/5358e226-d728-11e5-9c42-e57efdba0649.png)

[2016-02-19 21:51] gorg3b opened #7481 "Builder Timeout for Git Repos"
Hi with Version 1.1.3 I most of the time get following errors for git builds

`1	I0219 21:44:47.496314       1 builder.go:57] Master version "v1.1.3", Builder versions "v1.1.3"`
`2	I0219 21:44:47.533101       1 builder.go:145] Running build with cgroup limits: api.CGroupLimits{MemoryLimitBytes:9223372036854775807, CPUShares:2, CPUPeriod:100000, CPUQuota:-1, MemorySwap:9223372036854775807}`
`3	I021

[2016-02-19 21:51] rhamilto commented on #7473
GRRR.  I can't get my environment functioning.  Mind fixing this, @spadgett?

[2016-02-19 22:03] fabianofranz commented on #7323
Fix under the works in https://github.com/openshift/origin/pull/7482

[2016-02-19 22:03] f-w opened #7483 "Template label disallows parameter"
I can use parameter in labels defined in objects, but not at template/labels level. I got following error when uploading the template using `oc create`:

[code]

It would be nice to allow labels here.

[2016-02-19 22:11] liggitt commented on #7483
when you process a template in order to substitute parameter values, you get back a list of objects, not the template object itself, so you would never see a value substituted into a template label

[2016-02-19 22:11] #7483 closed

[2016-02-19 22:16] #6867 closed

[2016-02-19 22:18] rhamilto commented on #7473
Nevermind, @spadgett.  I think I got my enviro back.

[2016-02-19 23:08] gorg3b commented on #7481
After further research if found that it seems to be a problem with just one node. Hence the issue may be closed

[2016-02-19 23:09] gorg3b commented on #7481
close

[2016-02-19 23:09] #7481 closed

[2016-02-19 23:12] #7204 closed

[2016-02-20 00:25] wfrank2509 commented on #6326
Not yet. Heard rumor that installing via Ainsible gives more/other choices for configuration that might work.

[2016-02-20 00:45] f-w opened #7489 "oc start-build from binary source timed out"
Hi, I created a template based on default `nodejs-mongodb-example` except replacing source of BuildConfig with:

[code]

When I start build from CLI, I got time out error:

[code]

The folder `xxx` is small (<1MB) so timeout shouldn't be caused by tar. Any clue where the problem might happen?

Thanks

[2016-02-20 03:00] #7452 closed

[2016-02-20 03:56] #7473 closed

[2016-02-20 04:17] #6916 closed

[2016-02-20 04:22] #7240 closed

[2016-02-20 05:07] smarterclayton commented on #7489
The server only waits 1m for the base image to start.  I think that we probably need to increase the timeout, or put it under the client's control.

[2016-02-20 05:08] smarterclayton opened #7490 "error: no match for "centos/ruby-22-centos7""
Import of an image is suddenly failing?

[code]

Looks like it finds the image fine.

[2016-02-20 06:53] #6585 closed

[2016-02-20 07:09] smarterclayton commented on #6977
https://github.com/cloudflare/go/issues/8 Implies EC optimization a made it to go 1.6, so there's some hope on the horizon

[2016-02-20 13:22] spadgett opened #7491 "Edit build config page does not show display name in breadcrumb"
We show the namespace always and not the project display name in the breadcrumb at the top of the edit build config page.

/cc @jwforres

[2016-02-20 14:08] spadgett commented on #7006
Closing in favor of #7440

[2016-02-20 14:08] #7006 closed

[2016-02-20 14:10] spadgett commented on #7414
The misleading status message was removed in #7363, and we show better pod status in #7434.

We might come back to this as an enhancement later to show the pod status somewhere above the tabs, but the original usability problem is fixed.

[2016-02-20 14:10] #7414 closed

[2016-02-20 14:16] spadgett commented on #7095
Depends on #6815.

[2016-02-20 15:03] spadgett commented on #7473
Fixed by #7487

[2016-02-20 17:15] wenskys commented on #7452
Thank you for your help，waiting for your good news.

[2016-02-20 17:31] danwinship commented on #6326
#7310 merged in a change (https://github.com/openshift/openshift-sdn/pull/256) to how openshift-sdn determines the node's IP address, which might fix this problem.

[2016-02-20 18:15] smarterclayton commented on #6766
https://github.com/kubernetes/kubernetes/pull/21175
<https://github.com/kubernetes/kubernetes/pull/21175#issuecomment-186614128>
because
it's API incompatible with 3.1

[2016-02-20 18:47] smarterclayton commented on #7452
Updated image has been pushed

[2016-02-20 19:22] smarterclayton opened #7496 "All CLI commands should launch a standard shell"
We recently identified an issue with the default shell being chosen for the new post-commit build hook.  It is using `/bin/sh`.  `oc rsh` currently uses `/bin/bash`, and the new `oc debug` command is using `/bin/sh`.

When we invoke a default shell in an image, we should be using a consistent value.  Currently, RedHat and Ubuntu based images symlink `/bin/sh` to `/bin/bash` or to dash.  Alpine and

[2016-02-20 19:23] smarterclayton commented on #7496
Feel free to split this into other issues on the appropriate teams @bparees.

@rhcarvalho and @csrwng FYI.

I don't think this blocks 1.2 but the priority is high to correct this before we introduce the post-commit hook.

[2016-02-20 19:29] smarterclayton commented on #5751
Was this fixed?

[2016-02-20 19:30] smarterclayton commented on #3554
We still haven't solved this but it's not happening for 1.2.

[2016-02-20 19:31] liggitt commented on #5751
no, wip in https://github.com/openshift/origin/pull/5756

[2016-02-20 19:32] smarterclayton commented on #3051
What's the status of this (@kargakis?)

[2016-02-20 19:35] smarterclayton commented on #2949
Wow we still haven't fixed this?  .... Yikes.  @kargakis you or I should try to get this done in the next day, this is ridiculous.

[2016-02-20 19:36] smarterclayton commented on #6276
This is p1, but all that is left is diagnostics.  Assigning to Luke.

[2016-02-20 21:43] smarterclayton commented on #7424
Is the client TERM going to be reasonable for the server?

[2016-02-20 21:45] smarterclayton commented on #7355
Resolved because they rolled back their changes.

[2016-02-20 21:46] bparees commented on #7424
@smarterclayton the client TERM should be all that matters...everything is being rendered by the client TERM, right?  What are you envisioning?

[2016-02-20 21:49] smarterclayton opened #7500 "Use go-git for performing check operations from the oc client (so we don't require the server present)"
https://github.com/src-d/go-git

Would also be useful for triggering github web hooks from the gitserver.

[2016-02-21 00:01] #6192 closed

[2016-02-21 00:05] smarterclayton commented on #7424
Just wondering whether Mac terminals are going to be straight up
accepted by remote Linux.

[2016-02-21 00:13] caruccio commented on #7424
Iterm2 is shipped with TERM=linux-color by default (at least mine was).
Em 20/02/2016 22:05, "Clayton Coleman" <notifications@github.com> escreveu:

[2016-02-21 06:35] smarterclayton opened #7503 "Services should be grouped together in oc status when they apply to the same DC"
Services that both select the same DC should be listed on subsequent lines, with the DC being under, i.e.:
1. Service 1 selects foo=bar
2. Service 2 selects foo=bar
3. DC exposes foo=bar

Output should be

[code]

[2016-02-21 06:36] smarterclayton commented on #7503
This should be done after #7502 (which is more important for 1.2)

[2016-02-21 06:54] smarterclayton opened #7504 "Consider cmux use for serving multiple protocols on the same port"
Primarily http and https (redirect http to https on same port), but potentially tcp proxy on same port as http.

https://github.com/soheilhy/cmux

[2016-02-21 09:48] thincal opened #7505 "About the save-artifacts in s2i scripts"
It is said that the save-artifacts will `gather all the dependencies into a tar file and streamed to the standard output.`, then the assemble will restore the build artifacts. But I don't understand that:

where is the tar file saved to and so that the assemble can restore it from ?

Is there any complete example for this ?

[2016-02-21 15:21] spadgett opened #7506 "RCs without deployment configs should have events tab"
It's missing the events tab, but there's no reason we can't add it to vanilla RCs like deployments.

[2016-02-21 17:07] #7466 closed

[2016-02-21 18:23] #7467 closed

[2016-02-21 19:43] #7491 closed

[2016-02-21 20:40] smarterclayton commented on #7323
The new ones are https://github.com/google/cadvisor/pull/1113

[2016-02-21 20:41] smarterclayton commented on #7323
Still a few left, leave this open to track cadvisor.  Going to add a filter for now.

[2016-02-21 21:14] smarterclayton commented on #7323
Fixed the completions in https://github.com/openshift/origin/pull/7502

[2016-02-21 21:26] smarterclayton commented on #7323
Actual #7508

[2016-02-21 22:56] #7323 closed

[2016-02-21 22:59] smarterclayton opened #7509 "Test flake in basicresources.sh"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/11465/console

[code]

[2016-02-21 23:02] smarterclayton opened #7510 "genbashcomp order is not stable to movement within command group"
It appears that genbashcomp is ordered by the order the command was added to the parent command, not by a stable ordering.  We should have it be in a stable order (alphabetical under a command) when generated to avoid big diffs.

[2016-02-21 23:02] smarterclayton commented on #7510
@fabianofranz @nak3 fyi, might be an upstream issue as well.

[2016-02-22 00:12] #7506 closed

[2016-02-22 01:15] danni opened #7511 "ImageStream doesn't match Docker hub tags"
[code]

Which is not what is on https://hub.docker.com/r/library/node/tags/

[2016-02-22 01:24] smarterclayton commented on #7511
We only import the first 5 tags (there is a bug that we don't print the tags we don't import).  You'll have to specify the tag directly to get it imported.

We always import latest, then any major versioned tags of form "vN" or "N", then "vN.N" or "N.N", then "vN.N.N" or "N.N.N" and we try to grab the highest of each major version.

[2016-02-22 01:32] smarterclayton commented on #7511
I made a change to at least display the list, however I'm not terribly happy with the output so I may fiddle with it a bit:

[code]

[2016-02-22 02:34] danni commented on #7511
So how do we specify to import something like `node:5.6`? Assuming I want to use the tag `5.6` instead of `5.6.0`? Would it be possible to actually import tags for the images we're actually using in the `BuildConfig` ?

[2016-02-22 02:38] smarterclayton commented on #7511
oc import-image node:5.6

Or

oc tag --source=docker node:5.6 node:stable

(If you want to use a different name internally so you can decouple
version from input).

[2016-02-22 03:15] danni commented on #7511
Ahh I needed a new oc.

Confusingly:
[code]

It looks like it can't deal with the same image having multiple tags?

[2016-02-22 03:17] bparees opened #7514 "oc rsh should use "/bin/sh -i" not /bin/bash"
the "-i" is needed so SCL enablement of our s2i images works correctly, but it makes sense anyway that the rsh shell be launched as interactive.

using /bin/bash is problematic since not all images include /bin/bash.

[2016-02-22 03:17] bparees commented on #7514
@smarterclayton fyi

[2016-02-22 03:18] bparees commented on #7514
@ncdc starting w/ you because you're the only person i know was involved in rsh, but please reassign to a better candidate as needed.

[2016-02-22 03:19] bparees commented on #7496
issue for rsh is here:
https://github.com/openshift/origin/issues/7514

still not clear on what the issue is for oc debug, if there even is an issue.

we can continue this issue for resolving the post-build commit command, so assigning to @rhcarvalho

[2016-02-22 03:22] smarterclayton commented on #7511
Hrm, it should allow that.   Will try and reproduce.

[2016-02-22 07:09] thincal commented on #7505
And I follow the [example](https://github.com/openshift/source-to-image/blob/master/examples/nginx-app/save-artifacts) to create a save-artifacts script, but it seems that it is not invoked during the build (assemble/run is invoked normally), so that is there some additional setting for that ?

[2016-02-22 09:35] mfojtik commented on #7500
/me likes

[2016-02-22 09:36] mfojtik commented on #7514
@bparees I can take a look today

[2016-02-22 09:38] wanghaoran1988 opened #7515 "Pods should not scheduled to unhealthy node"
Currently when a node have some problems like:
1. docker pool is full
2. continue high cpu usage
...
Which will block the kubelet process to start container on the host,  the scheduler will still schedule the pods to the "unhealthy" node, that will make the pod keeps pending ....
We should have a way to check the node have enough ability to start the container on the node before schedule the pod .

[2016-02-22 09:40] mfojtik commented on #7176
![screen shot 2016-02-22 at 10 39 35](https://cloud.githubusercontent.com/assets/44136/13214549/a3633576-d950-11e5-846b-63ee7b88c7e2.png)

FYI, this is what I'm talking about ;-)

[2016-02-22 09:56] mfojtik commented on #7505
@thincal the tar gets extracted into the source location (I believe it is workdir), so when we then run assemble, the previous build artifacts are already there (`./vendor` in rubygems for example). In OpenShift you need to enable this behavior by setting `incremental: true` in build config. More info: https://github.com/openshift/source-to-image#incremental-builds

[2016-02-22 12:25] mfojtik commented on #7496
FYI: https://github.com/openshift/origin/pull/7519

[2016-02-22 12:28] mfojtik commented on #7496
@smarterclayton as @bparees said, there is not that much we can do for plain `/bin/sh`, to inject SCL you have to run at least interactive `/bin/sh` which means adding `-i` to invocation. It makes sense for `oc rsh` because that is IMHO expected to be interactive.

It makes less sense for things like `oc exec /bin/sh`. The possible options for now are:

1) Create wrapper for `/bin/sh` in openshift

[2016-02-22 12:29] mfojtik commented on #7176
@bparees @smarterclayton as @rhcarvalho pointed out today, this might be fixed if we set the TERM correctly in web console.

[2016-02-22 12:37] danmcp commented on #7505
Feel free to reopen if you feel this issue hasn't been resolved.

[2016-02-22 12:37] #7505 closed

[2016-02-22 13:04] smarterclayton commented on #7176
Which would be nice

[2016-02-22 13:05] smarterclayton commented on #7496
It seems reasonable to be that in the "Ruby-22" SCL image that "Ruby
22" is globally enabled.  I don't know why anyone would want to use
the image if they have to jump through hoops.

[2016-02-22 13:18] mfojtik commented on #7176
@smarterclayton unfortunately does not fix the problem :-/ (tested by setting the TERM env in build config)

[2016-02-22 13:26] rhcarvalho commented on #7496
I had thought about a shell wrapper as well, and so today I wrote a small PoC, ugly:

[code]

If we rename `/bin/bash -> /bin/bash.orig` and save the script above as `/bin/bash`, both `/bin/sh` and `/bin/bash` are affected (since the former is a symlink to the latter).

This seems to work for `echo Hello`, but led to infinite recursion when I replaced that for `source scl_source enable ruby200`, I

[2016-02-22 13:40] pweil- commented on #7490
cc @miminar

[2016-02-22 13:46] pweil- commented on #2949
Assigning to @kargakis - he has a fix in flight

[2016-02-22 13:47] kargakis commented on #6766
https://github.com/kubernetes/kubernetes/pull/21671 for the pod describer

[2016-02-22 13:55] soltysh commented on #7490
@smarterclayton what's the command you've used to invoke it? I've been playing with oc new-app and that specific image this morning, tried once again just now and it all works ok on my end.

[2016-02-22 13:59] jwendell opened #7522 "Automatically retry failed deployments"
I'm in a situation where the readiness probe is failing forever.

AFAIK it's only restarted if the liveness probe fails, not readiness, right?

So, this pod never starts. Should openshift have also an option to restart the pod when readiness probe fails for, say, 5 tries?

[2016-02-22 14:05] kargakis commented on #3051
If @ironcladlou hasn't worked on it already locally then I guess it still needs fixing...

[2016-02-22 14:07] smarterclayton commented on #7496
Could we do a small binary stub that did the correct setup (instead of
a shell script)?  Ie checked incoming env and exec either sh or bash
based on arguments, and only do something if we are in the /bin/sh
position?  This is something the SCL team could own.

[2016-02-22 14:08] ironcladlou commented on #3051
Still needs work, and also need to audit error logging/event surfacing of each retry path. Pretty sure there are some places where we'll silently fail after a single retry limit is exceeded.

[2016-02-22 14:09] smarterclayton commented on #7490
I fixed this over the weekend with #7499

[2016-02-22 14:09] #7490 closed

[2016-02-22 14:09] soltysh commented on #7490
Thank you!

[2016-02-22 14:23] rhcarvalho commented on #7496
I believe a binary would need to be packaged for us to be able to use that on RHEL... but then having a binary that replaces /bin/sh would not be acceptable per the packaging constraints (two packages cannot provide the same file), right?

[2016-02-22 14:43] benjaminapetersen commented on #7478
- [ ] Updating this with a `$interval()` at `1000` as well as using the onResize.  That should be sufficient, will destroy the `$interval` in `$scope.$on('$destroy')`.

- [ ] Also adding an ellipsis to indicate something will happen when the logs have not yet been given permission to run (pending pod, etc):

![screen shot 2016-02-22 at 9 38 22 am](https://cloud.githubusercontent.com/assets/280512/

[2016-02-22 14:46] spadgett commented on #7478
I don't think the $interval should be necessary. We know when we append content to the log and already check on resize. Need to understand why the update doesn't work when we first set log content.

[2016-02-22 15:06] kargakis commented on #7464
@ironcladlou suppose there is dc/frontend which uses both types of triggers.

1) Image is pushed for the first time, frontend-1 is kicked by the ICT.
2) I make a change in the template unrelated to the image. frontend-2 is kicked due to a config change. Won't the solution you proposed mask the config change cause with the imagechange cause falsely in this scenario?

[2016-02-22 15:07] benjaminapetersen commented on #7478
Yeah thats what I'm not sure about.  The `$interval` works, but seems like it shouldn't be needed.  Tinkering a bit more to see why its missing that first tick.

[2016-02-22 15:12] ironcladlou commented on #7464
To make sure I understand, frontend-1 is totally finished, and frontend-2 is then kicked off? Or is frontend-2 kicked off to replace the in-progress frontend-1?

[2016-02-22 15:14] mfojtik commented on #7496
@rhcarvalho we can alter the image and customize as we need to. having wrapper for `/bin/sh` is not the nicest thing in the world, but it can fix the SCL problem, which as Clayton pointed out should be really SCL team problem to solve :-)

We can just copy the static binary after we rpm install (to replace the sh).

[2016-02-22 15:17] spadgett opened #7523 "Events table should link to resource"
Now that we have browse pages for these resources, the events table should link there. Might be tricky for builds and deployments since we need to know the config.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/13222277/39d63b9c-d94d-11e5-899b-2b8c13b4ccc4.png)

/cc @jwforres

[2016-02-22 15:25] php-coder opened #7524 "Build broken: method redeclared: cobra.Command.GenBashCompletion"
Can't compile the origin after updating to the latest master (it worked a ~week ago):
[code]

[2016-02-22 15:34] bparees commented on #7496
regardless, for 3.2 it seems like "/bin/sh -i" is the only realistic solution, so we should switch to that.  If we aren't comfortable with that, then we should mark it experimental so we are free to change the "default" command in the future.

@smarterclayton acceptable?  What are all the places where it needs to be marked experimental?

[2016-02-22 15:34] bparees commented on #7496
(also when we doc it as experimental we should mention why, and how it is likely to change in the future, so people aren't scared away from using it.  it's unlikely the change in the future will break anyone)

[2016-02-22 15:37] jwforres commented on #7523
Builds has a decent fallback page when you don't know the config.
Deployments is trickier since we make assumptions about it being a vanilla
replication controller.

On Mon, Feb 22, 2016 at 10:17 AM, Sam Padgett <notifications@github.com>
wrote:

[2016-02-22 15:40] kargakis commented on #7464
I was talking about the first case. Status details are persisted between deployments. So after the first deployment finishes, dc.status.details contains the imagechange cause. During the next deployment (via a config change), the configchange controller will see that there is an imagechange cause and let it pass, right?

[2016-02-22 15:43] php-coder commented on #7524
@kargakis told me to use `export OS_OUTPUT_GOPATH=1`. Indeed it works! Thanks!

[2016-02-22 15:43] #7524 closed

[2016-02-22 15:45] spadgett commented on #7523
I want to fix that to use the same view. Vanilla RCs and deployments both have tabs now, so shouldn't be too hard.

[2016-02-22 15:57] ironcladlou commented on #7464
The generator shouldn't return any cause unless it detects a change of some kind. The caller of the generator shouldn't update the DC unless there's a new version.

[2016-02-22 16:58] #7514 closed

[2016-02-22 17:53] f-w commented on #7489
Thanks for looking into it. The small project I am trying to build is [bca-api](https://github.com/BCDevExchange/bca-api). The template is available [here](https://github.com/BCDevOps/templates/blob/master/nodejs-mongodb-binary-src.json).

[2016-02-22 19:33] #7270 closed

[2016-02-22 19:33] #7271 closed

[2016-02-22 19:55] spadgett opened #7532 "Missing status icon for ContainerCreating in web console"
We might default to no icon for unrecognized values.

![screen shot 2016-02-22 at 2 54 22 pm](https://cloud.githubusercontent.com/assets/1167259/13230651/373610a2-d974-11e5-9f60-984ab86181a5.png)

/cc @jwforres

[2016-02-22 19:58] spadgett opened #7533 "Web console: logs don't load when pod moves from pending to running"
When I open the log tab when the pod is pending, the logs don't start streaming when the pod starts running. I need to refresh the page or navigate away and back.

/cc @jwforres @benjaminapetersen

[2016-02-22 20:00] theone4ever opened #7534 "Volume permission issue when create Replication controller"
Hello everyone,

I installed an Openshift origin cluster on centos atomic host with Openshift ansible. Also i have successfully installed docker image registry. When create pod, everything just works fine, but when create a replication controller which includes the same pod, it always fails. From the docker log, i can see that the container tries to change owner of one directly in mounted volume,

[2016-02-22 20:05] benjaminapetersen commented on #7533
I was seeing this as well.  Looking at it.

[2016-02-22 20:07] benjaminapetersen commented on #7533
Ah, on this page the var for letting the log run is in the GET, not the WATCH. Will fix.

[2016-02-22 20:31] cjryan commented on #7208
@akostadinov @ncdc This was an issue with how I was testing; this is not an oc rsh issue as far as I can tell. Thanks!

[2016-02-22 20:31] #7208 closed

[2016-02-22 20:36] eparis opened #7537 "du: invalid zero-length file name"
atomic-openshift-3.1.1.904-1.git.0.c2ef7e0.el7.x86_64

This error comes from: `Godeps/_workspace/src/github.com/google/cadvisor/fs/fs.go`

[code]

[code]

[2016-02-22 20:37] eparis commented on #7537
I don't see any particular failures, just log spam.

[2016-02-22 20:43] jwforres commented on #7532
@spadgett how often does this show up? should we go ahead and put a fix in for this?

[2016-02-22 20:45] spadgett commented on #7532
I've only seen it once. I was going to add this one and remove the ? for unrecognized statuses.

[2016-02-22 21:13] spadgett opened #7540 "Web console runtime exception getting route warnings"
Happens on the overview. /cc @jwforres

![screen shot 2016-02-22 at 4 11 24 pm](https://cloud.githubusercontent.com/assets/1167259/13232904/1ceacf3e-d97f-11e5-869c-100113dd647d.png)

[2016-02-22 21:32] sosiouxme commented on #7316
@abhgupta said there was talk of having different limits for limits and requests, I assume this is what he meant by min-limit. A quick search for cards and k8s issues didn't turn up anything upstream but I could have just missed it. @derekwaynecarr do you know of anything?

This is marked P1 but if we're planning a better fix based on upstream changes then I'm guessing it will be punted.

[2016-02-22 21:59] abhgupta commented on #7316
@sosiouxme @derekwaynecarr Here is the card that I just created: https://trello.com/c/jOTw73aD

[2016-02-23 00:21] #7476 closed

[2016-02-23 04:24] deanpeterson opened #7546 "All ports seem to be blocked after ansible install"
Description of problem:
I performed an ansible install of openshift origin.  If I am on the local machine, I can bring up openshift in the browser.  However, on any external machine, I am no longer able to access anything on the openshift master.  I am unable to ssh, or visit the openshift web console in a browser.  I checked iptables and all of the necessary ports are open.  I even stopped it.  F

[2016-02-23 04:24] deanpeterson commented on #7546
@smarterclayton

[2016-02-23 04:33] smarterclayton commented on #7546
@sdodson @dcbw @danwinship does this sound familiar?

[2016-02-23 07:15] marun commented on #7432
@smarterclayton I'm assuming the check in question was for ``http://localhost:1936/healthz``?  I did see a problem on a vm dev cluster deployment related to localhost being defined in /etc/hosts only for the ipv6 local address and so not resolving to 127.0.0.1.  Once that was fixed the url was accessible and the router no longer restarted endlessly.  Does this sound like the problem in question?

[2016-02-23 09:51] soltysh commented on #6283
@pweil- since this is a repeating problem do you think we could address that during next planning? If @liggitt hasn't started working on it yet I'd be willing to pick it up during next sprint.

[2016-02-23 10:35] mfojtik opened #7548 "Pull builder image while downloading source code"
In case you have a big source code repository (like origin...) and fresh installation of OpenShift, what will happen when you kick the build is:

1) We clone the sources (which might take some time for big repos)
2) We kick the S2I build
3) S2I will pull the builder image

In this case, you wait at 1) and then wait at 3). If we can start pulling the image while we downloading the source code, it c

[2016-02-23 10:36] mfojtik commented on #7548
@smarterclayton what do you think?

[2016-02-23 10:40] mfojtik opened #7549 "The builds are broken on Docker 1.10.2"
When using the latest Docker (note: installed from docker.org yum repos, not official centos repos), both S2I and Docker builds will fail with this error:

Docker build:
[code]

S2I build:
[code]

Dunno if this is due to cgroup changes we did or something is badly broken in latest docker.
Keep in mind that this is probably low prio because I don't think we are getting 1.10.2 docker anytime soon, b

[2016-02-23 10:41] mfojtik commented on #7549
@bparees @smarterclayton FYI

[2016-02-23 10:52] mfojtik commented on #7549
also it might be possible that there is something missing here: https://docs.docker.com/engine/installation/linux/centos/

[2016-02-23 11:51] donovanmuller opened #7550 "[Feature request] Image pull progress bar"
Apologies if this has come up before (tried searching through issues but found nothing similar) but it would be great to have a progress bar/percentage indicator when pulling images.

Trying to pull images over a corporate proxy can be rather slow and it would be a great help to display the Docker image pull progress on the UI. Currently, there is no way I know of checking how far the image pull i

[2016-02-23 11:55] mfojtik commented on #7550
@donovanmuller it is not merged to docker afaik :-(

[2016-02-23 11:55] mfojtik commented on #7550
but agree, displaying the progress would be nice to have for S2I. I think for docker build strategy, the docker build will display "some" progress (but not great due to broken terminal).

[2016-02-23 12:22] donovanmuller commented on #7550
@mfojtik Yup, this issue will probably only be relevant once the Docker bits are in place. Just logged it for  future reference.

[2016-02-23 12:45] danwinship commented on #7546
What exactly does "iptables-save" show?

[2016-02-23 12:46] mfojtik commented on #7522
@jwendell i do believe openshift/kube restart the pod when the readiness pod fails if the pod is part of the replication controller (in that case when readiness fails, RC will automatically start new pod).

[2016-02-23 12:46] smarterclayton commented on #7548
Yes, good idea.

[2016-02-23 12:49] jwendell commented on #7522
That didn't happen to me. It waits infinitely and didn't start a new pod...

[2016-02-23 12:53] mfojtik commented on #7522
@jwendell i was wrong, sorry for confusion, when pod is not ready, it gets removed from the service but it wont  restart.

[2016-02-23 12:56] mfojtik commented on #7522
@jwendell what you can do is:

1) Define readiness probe and set `timeoutSeconds`
2) Define liveness probe and set `initialDelaySeconds` to equal timeout seconds from readiness probe

What I think will happen is that when readiness probe fails in given timeoutSeconds the liveness probe runs and restarts the container in Pod.

@smarterclayton does that sounds right?

[2016-02-23 13:00] smarterclayton commented on #7549
Well, we need to fix it in case anyone tries to upgrade to 1.10.2 in the open source community, or if it points to a bug in our cgroup handling.  Giving it p1 to triage.

[2016-02-23 13:02] mfojtik commented on #7549
@vbatts any clues about what can be configured wrong for docker? The systemd service installed by that evil script from docker seems to just run `docker -H fd://` without any other additional parameters. I wonder if something has to be setup before you want to use CGroups.

[2016-02-23 13:08] smarterclayton opened #7551 "Containers with access to SCC anyuid are getting SETGID and SETUID dropped"
Might be a priority defaulting interaction.  Basically, we can't drop SETGID/SETUID if a container has access to anyuid otherwise they can't drop permissions from root -> other image.

P0 because it breaks most docker hub images, again.

[2016-02-23 13:20] jwendell commented on #7522
I think (at least the doc says) that it doesn't work like you described.

When readiness probe fails (due to a timeout or because the script exits with a non-zero status) openshift/kube doesn't recognize it as ready and probes again, infinitely.

The liveness probe is never executed because the pod never reached the "alive" status.

[2016-02-23 13:22] mfojtik commented on #7549
FYI: https://github.com/docker/docker/issues/20603#issuecomment-187695448

[2016-02-23 13:30] dbalakirev commented on #7549
@mfojtik so as wrote in that ticket I happen to have this issue. But with RHEL 7.2 and of course docker engine 1.10.2.

[2016-02-23 13:31] kargakis commented on #6852
Seeing this every now and then: https://travis-ci.org/openshift/origin/jobs/111182050

[2016-02-23 13:31] mfojtik commented on #7549
@dbalakirev I can reproduce it on centos7 with docker engine 1.10.2 :-)

[2016-02-23 13:50] #7478 closed

[2016-02-23 13:52] mfojtik opened #7552 "Validate calls to API using swagger API in oc client"
If you try to use `oc new-build --buld-secret` against "old" master (or master that does not implement "secrets" in build), the command will succeed, but the "secrets" are not created (because we allow redundant JSON data during create and simply drop them).

It would be nice to tell users that they use newer client against older master and they are trying to use the feature that is not backed up

[2016-02-23 13:58] spadgett opened #7553 "Cosmetic issue with topology view on iOS"
The topology view is a bit too wide.

![screen shot 2016-02-22 at 4 24 28 pm](https://cloud.githubusercontent.com/assets/1167259/13253702/4c70f530-da0b-11e5-8ea2-d430773c5e7f.png)

/cc @jwforres @stefwalter @sg00dwin

[2016-02-23 14:06] pweil- commented on #7551
@smarterclayton - how were you seeing this?  Building on master and creating a pod with anyuid shows me:

[code]

[2016-02-23 14:10] ironcladlou opened #7554 "Automatically mount docker pull secrets into deployer pods"
A [bug report](https://bugzilla.redhat.com/show_bug.cgi?id=1310052) has revealed what I think is a new useful feature request: when constructing deployer pods, automatically add any `SecretTypeDockercfg` or `SecretTypeDockerConfigJson` secrets in the deployment's namespace to the deployer pod's `ImagePullSecrets` list. This is somewhat analogous  to the current automatic secret mounting behavior f

[2016-02-23 14:11] ironcladlou commented on #7554
cc @kargakis

[2016-02-23 14:12] deanpeterson commented on #7546
Here is the output, but I want to mention; even if I turn iptables off, the machine is still unreachable

`iptables-save
# Generated by iptables-save v1.4.21 on Tue Feb 23 09:10:41 2016
*mangle
:PREROUTING ACCEPT [7069509:1043884221]
:INPUT ACCEPT [7057378:1041548716]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [7114768:954198837]
:POSTROUTING ACCEPT [7114844:954213437]
-A POSTROUTING -o virbr0 -p udp -m

[2016-02-23 14:13] ironcladlou commented on #7554
Err, nevermind. I got confused. The user doesn't need the secrets on the deployer, they need them on the pod spec inside the deploymentConfig.

[2016-02-23 14:13] #7554 closed

[2016-02-23 14:18] soltysh opened #7555 "oc image-import reaches wrong image if first import failed"
I have a private image under `docker.io/soltysh/echook` I create the image stream (myis) and the first import obviously fails with auth error. I create the necessary secret and invoke `oc import-image myis` but then in logs I see it's trying to get `library/myis`:
[code]
If I re-create the image stream the import works ok.

@smarterclayton fyi, I'm currently looking into it. Please mark this with

[2016-02-23 14:34] danwinship commented on #7546
Does "iptables-save" show an empty rule set after you do whatever you're doing to turn iptables off?

[2016-02-23 14:37] bparees commented on #7549
this is one of the things I reported in https://github.com/openshift/origin/issues/6822#issuecomment-175160853

[2016-02-23 14:38] bparees commented on #7549
ok not exactly the same, very similar.

[2016-02-23 14:39] bparees commented on #7549
@mfojtik does this error occur if you simply run a raw "docker build" command on your host, passing the various limits via the docker build flags?

[2016-02-23 14:42] dbalakirev commented on #7549
Just be sure I checked: using 1.9.1 the build moves on.

[2016-02-23 14:47] mfojtik commented on #7549
@bparees `docker build --memory=512MB` works as expected.

[2016-02-23 14:50] spadgett opened #7556 "Web console: repeated event message oddly specific, relative time doesn't update"
The message is very specific: "in the last 20 minutes and 23 seconds." We could just say "in the last 20 minutes." Since the value never updates, it can be very out of date when I leave the page open for a while. We should update the relative time using a rounded value so it's not constantly changing, or just say "5 times since &lt;whenever&gt;."

![openshift_web_console](https://cloud.githubuserc

[2016-02-23 14:51] sdodson commented on #7546
Can you try isolating whether it's the installer or node? I think we could achieve this by running the installer to get to a point where you cannot ssh in, mask the node service, reboot, and attempt to ssh in. If that works then unmask the node, start it, and try to ssh in, does it fail? Be sure not to run `iptables-save` at any point by hand.

To mask the node service
`systemctl mask origin-node

[2016-02-23 14:58] pweil- commented on #7551
Update: this is happening on the e2e tests and pods are being validated against the `restricted` SCC.  Will investigate why they do not have access to the `anyuid` SCC which should take priority if granted.

[2016-02-23 15:01] pweil- commented on #7437
since @deads2k has been out - @liggitt do you have any insight to this?  I can change the validation method but don't want to lose anything critical.

[2016-02-23 15:05] benjaminapetersen commented on #7540
This could probably use `_.get(route, 'spec.to.kind') `, though it may be simpler just to:
[code]
I can take care of this quick.

[2016-02-23 15:06] benjaminapetersen commented on #7540
Ah, looks like you got a PR, nevermind :)

[2016-02-23 15:06] #6200 closed

[2016-02-23 15:10] smarterclayton commented on #7552
We'd want to do very selective checks.  Agree that something better here is
a good idea (I think this is a dupe / similar to a couple of other issues,
can you search and xlink them?)

On Tue, Feb 23, 2016 at 8:52 AM, Michal Fojtik <notifications@github.com>
wrote:

[2016-02-23 15:13] smarterclayton commented on #7522
Hrm, liveness probes and readiness probes should be orthogonal.  The
*deployment* should time out eventually and roll back, but liveness should
restart the pods at any point.

On Tue, Feb 23, 2016 at 8:20 AM, Jonh Wendell <notifications@github.com>
wrote:

[2016-02-23 15:13] smarterclayton commented on #7432
I could see that happening - something we should potentially do a check for
in ansible (if localhost doesn't resolve to 127.0.0.1 on a host, it's
broken).

On Tue, Feb 23, 2016 at 2:15 AM, Maru Newby <notifications@github.com>
wrote:

[2016-02-23 15:19] deanpeterson commented on #7546
Unfortunately the machine is at home.  I had to go into the office today and will try this when I get home, thanks.

[2016-02-23 15:19] benjaminapetersen commented on #7462
Hmm. And these can get rather long.
We could swap some CSS:
[code]
then we can get this:
![screen shot 2016-02-23 at 10 16 03 am](https://cloud.githubusercontent.com/assets/280512/13255922/7a8ed0bc-da16-11e5-888b-c75036b3424d.png)

Still looks a little odd, but is usable.

[2016-02-23 15:19] benjaminapetersen commented on #7462
If we are good with that change I can PR it.

[2016-02-23 15:20] spadgett commented on #7462
I feel like it would be better to stack both the inputs and the values at mobile rather than showing them side-by-side.

[2016-02-23 15:21] benjaminapetersen commented on #7462
I imagine this happens on Android as well.

[2016-02-23 15:21] deanpeterson commented on #7546
Wait, I'm not sure what you mean.  I run the ansible playbook to install the master and node on the same machine.  It just runs and doesn't ask for input.

[2016-02-23 15:25] benjaminapetersen commented on #7462
I'm guessing we would have to stack + drop the truncate as well.
We could stack them, and the form like you mentioned on the prev PR for osc-key-values.

Should we also add new values to the top of the list then?  Every time you "add" puts the new entries at the bottom.  If everything is stacked on mobile, I could see that being a bit annoying if you had to scroll up and down to see additions.

[2016-02-23 15:25] benjaminapetersen commented on #7462
Btw, I can take this one since I did the last layout update.

[2016-02-23 15:28] benjaminapetersen commented on #7440
I can take this one.   I'll prob wait a bit until we are good to merge again since it will touch a bunch of templates & likely create merge conflicts.

[2016-02-23 15:41] sdodson commented on #7546
Both the installer and the node create iptables rules. If we mask the node so it doesn't start and reboot then only the rules created by the installer would be in place. If you're not locked out after rebooting we know that it's a problem with the rules that the node service creates when it starts.

[2016-02-23 15:48] bparees commented on #7549
@mfojtik so either there is an issue in the dockerclient making the docker daemon call, or in the docker daemon when it sets up a container based on the api call w/ cgroup values....

[2016-02-23 15:49] mfojtik commented on #7549
@bparees I was checking if the cgroups are enabled properly (I even add something to grub2 config to enable them), but no luck. Also the docker daemon does not report anything in his log about missing cgroups or something (it used to few months ago).

[2016-02-23 16:06] benjaminapetersen opened #7559 "_flexbox.less doesn't properly handle all -ms prefixes"
Per convesation with @sg00dwin yesterday~
Example:

[code]
But our mixin assumes `-ms-` is sufficient:
[code]
Grunt autoprefixer should handle this, though deprecated.  [PostCSS](https://github.com/postcss/autoprefixer) seems to be taking its place as the supported plugin.

[2016-02-23 16:08] mwringe commented on #7537
@danmcp the cadvisor integration with OpenShift is not something I am familiar with and doesn't really fall under the control of what we are doing with origin-metrics. Would there not be someone else more appropriate to take on this issue?

[2016-02-23 16:10] benjaminapetersen commented on #7559
What it does:  "PostCSS Autoprefixer utilizes the most recent data from Can I Use to add only necessary vendor prefixes.   It also removes old, unnecessary prefixes..."

[2016-02-23 16:13] jsafrane commented on #6766
https://github.com/openshift/origin/pull/7459 to fix blocker BZ#1308588

[2016-02-23 16:14] benjaminapetersen commented on #7075
Yeah, we have been talking about this.
- Pro: its a fussy component, would be good to catch breakage.
- Con: might be flaky... :frown:

I'm hoping to work on this once the [PR cleaning up the current e2e tests](https://github.com/openshift/origin/pull/7124) lands.

Feel free to assign me.

@spadgett @jwforres