[2014-08-13 15:46] johnkeck opened #12 "Port conflict results in infinite loop & high CPU"
I had a jetty server running on port 8080; when starting the v3 code there is a port conflict w/ kubernetes.  Instead of failing gracefully it results in an infinite loop and high CPU.  Eventually the process gets killed.

On startup, the v3 code should instead display an error and exit gracefully.

[2014-08-13 18:06] #12 closed, assigned to nobody

[2014-08-13 23:04] smarterclayton opened #17 "Switch to Godeps"
Upstream has integrated Godeps - we need to have a script (maybe build-go.sh) that checks that the user has the openshift/kubernetes fork as a remote in godeps and that it can be checked out based on our fork commit version (which requires at least a fetch).

[2014-08-27 16:58] #17 closed, assigned to nobody

[2014-08-28 06:15] priyanka5 opened #35 "Kubernetes issue while installation"
Hi,

I am trying to test this V3 installation in fedora running in Vagrant. I am able to run all the commands till step 4, but facing issue while running 5th command which is to start origin server "output/go/bin/openshift start"

The error logs I am facing with are pasted below, please let me know what could be the issue so that I can test this on my Fedora environment.Thanks

E0828 06:09:35.7242

[2014-08-30 04:10] lexlapax opened #40 "openshift cloud driver in kubernetes"
I know we're attempting to use openshift on openshift where, the openshift components are deployed via kubernetes.

The flip side of this is, if you have an openshift 3.0 running and functional, you should be able to deploy a kubernetes pod configuration directly onto a running openshift 3.0 cluster via the kube.sh scripts in kubernetes source tree.. almost similar to azure, gce, but not quite.. i

[2014-09-10 03:08] smarterclayton opened #69 "Client and Registry should take and return pointers"
Going to be consistent with upstream.  @ncdc you may need to change stuff in Images as well.

[2014-09-11 23:23] smarterclayton opened #79 "test-cmd.sh returning errors in Travis"
[code]

[2014-09-12 12:54] soltysh opened #83 "Unify codebase initialisms"
Please unify our codebase according to https://code.google.com/p/go-wiki/wiki/CodeReviewComments#Initialisms, as it is already partially addressed in #82.

[2014-09-12 16:03] #69 closed, assigned to csrwng

[2014-09-12 19:14] #79 closed, assigned to mfojtik

[2014-09-15 15:12] soltysh opened #87 "Unifiy codebase to meet k8s one"
_NOTICE_ Wait for @smarterclayton approval before starting this
See eg. this PR: https://github.com/openshift/origin/pull/85 and apply rules from k8s into openshift's origin codebase.

[2014-09-18 08:53] smarterclayton opened #101 "Docker-in-Docker build is fragile to loopback exhaustion"
I'm seeing this quite commonly - builds with DinD fail because they can't get a loopback device.  Is there some obvious cleanup step we are not doing, or is this path just really fragile?

[code]

[2014-09-18 10:12] smarterclayton opened #102 "Deployer images should be built with hack/build-images.sh"
Remove the build-images.sh from images/deploy/kube-deploy

[2014-09-18 13:15] ncdc opened #104 "API generation image should specify a specific raml2html version if possible"
For consistency

[2014-09-18 17:07] #87 closed, assigned to nobody

[2014-09-18 21:28] sferich888 opened #113 "The sandbox startup script should also ignore /dev/shm"
When using sandbox and OpenShift together, thousands (5963 at last count) of /dev/shm namespaced mounts will be created.

If sandbox is set to ignore /dev/shm, everything works as expected.

[2014-09-19 10:00] soltysh opened #115 "Docker build sourceURI with https:// hangs"
There is a problem when building an image with either `https://` or without any prefix (eg. `github.com/user/repo`), in the latter [docker ](https://github.com/docker/docker/blob/master/api/client/commands.go#L111) appends `https://` for you. This results in git command waiting for credentials in default setup, which eventually means that our build is `running` for ever.
We should think of either

[2014-09-19 15:59] #101 closed, assigned to csrwng

[2014-09-19 18:13] jwforres opened #118 "API doc for deployments needs to be updated to match implementation"
Can't use the example for create deployment since it is missing required parameters. https://rawgit.com/openshift/origin/master/api/oov3.html#_deployments

Also there is no api documentation for creating a deployment config.

[2014-09-22 04:30] peterlamar opened #121 "Request Error following instructions"
I call this:

_output/go/bin/openshift kube create pods -c examples/hello-openshift/hello-pod.json

And I get this:

F0922 04:27:20.702622 02999 kubecfg.go:349] Got request error: Post http://localhost:8080/api/v1beta1/pods?labels=: dial tcp [::1]:8080: connection refused

Did I miss a step?

[2014-09-23 11:18] VojtechVitek opened #130 "Missing Godoc for several pkgs"
https://godoc.org/github.com/openshift/origin
- [ ] pkg/build/api
- [ ] pkg/build/api/v1beta1
- [ ] pkg/build/api/validation
- [ ] pkg/build/registry/build
- [ ] pkg/build/registry/buildconfig
- [ ] pkg/build/registry/etcd
- [ ] pkg/build/registry/test
- [ ] pkg/build/strategy
- [ ] pkg/client
- [ ] pkg/cmd/client/api
- [ ] pkg/cmd/client/build
- [ ] pkg/cmd/client/image
- [ ] pkg/cmd/util/docker

[2014-09-23 17:06] bparees opened #134 "Invalid flag handling message needs work"
When specifying an invalid flag on the openshift cli, there are two problems:
1) it reports all flags as invalid, not just the invalid flag
2) for each invalid flag, it refers the user to the help. it should only do this once, at the end.
3) it reports an unknown flag, then gives usage, then reports a bunch of invalid flags.

here's an example (only "ectdBADDir" is an invalid flag):
[bparees@bpare

[2014-09-24 15:58] VojtechVitek opened #141 "client.JSONPrinter{} should not sort the JSON items"
`client.JSONPrinter{}`, as used in `openshift kube process -c template.json` command, should preserve order of the template's JSON items for better readability.

Seems like the used [json.MarshalIndent()](http://golang.org/pkg/encoding/json/#MarshalIndent) method https://github.com/openshift/origin/blob/master/pkg/cmd/client/json_printer.go#L20 sorts the items automatically. We need to either reim

[2014-09-25 19:10] soltysh opened #143 "Builders POC"
As a follow up discussions from #115 and #140 I'm creating this issue to gather requirements and ideas regarding our builder scripts.
## Overview

Currently builder images (see [docker-builder](https://github.com/openshift/origin/tree/master/images/builder/docker/docker-builder) and [sti-builder](https://github.com/openshift/origin/tree/master/images/builder/docker/sti-builder)) contain single scr

[2014-09-27 04:55] #115 closed, assigned to nobody

[2014-10-02 02:34] #121 closed, assigned to nobody

[2014-10-06 15:18] jstrachan opened #177 "can anyone build openshift v3 on OS X?"
I wonder has anyone tried to build origin v3 on OS X? :)

I tried [these instructions](https://github.com/openshift/origin#getting-started) and get:

[code]

[2014-10-06 15:47] jstrachan opened #179 "milestone releases of origin v3 on different platforms (say Linux, OS X, Windows)? say every month or so?"
so we're in the process of migrating JBoss Fuse and [fabric8 2.x](http://fabric8.io/v2/index.html) to be based on kubernetes/openshift v3.

It'd really help JBoss Fuse and Fabric8 open source project contributors if there were alpha milestones of Origin V3 so folks could download the openshift origin v3 binary like [folks can do with etcd](https://github.com/coreos/etcd/releases) and docker. e.g.

[2014-10-06 17:38] jstrachan opened #180 "running one of the examples against an OS X build of openshift v3 doesn't seem to work"
I just built master of openshift origin V3; ran openshift start.

then I did this based on the [README.md](https://github.com/openshift/origin/blob/master/examples/guestbook/README.md)

[code]

Is this a known issue? I've found using vanilla kube examples for pods didn't seem to work either. Wonder if its known or an OS X issue (or just a bad example?)

[2014-10-07 08:09] jstrachan opened #182 "is there a way for OpenShift running on an OS X host to see the pod IPs created via docker (using boot2docker)?"
So I can build OpenShift on my OS X box and run the integration tests (hack/test-cmd.sh) and things work pretty well; docker images, pods, services, replication controllers are all created etc. Yay! :)

However I get output like this in the openshift console: https://github.com/openshift/origin/issues/180#issuecomment-58134678 since the host cannot ping the pod's IP (though I can ping it from insi

[2014-10-07 09:55] #182 closed, assigned to nobody

[2014-10-07 13:03] #180 closed, assigned to nobody

[2014-10-08 00:39] pmorie opened #186 "Add api.Context to client"
Every API call should take an api.Context parameter as the first argument to comply with the upstream client pattern and enable namespace support for OpenShift resources.

[2014-10-08 03:59] #102 closed, assigned to pmorie

[2014-10-08 17:43] #177 closed, assigned to nobody

[2014-10-09 15:38] jstrachan opened #196 "whats the canonical way to wire the api server REST endpoint into pods/containers via services or env vars?"
So we've a [console in fabric8](http://fabric8.io/v2/runFabric.html#start-fabric8) that works off the kubernetes/openshift REST API to view whats running etc.

I can imagine a few other containers needing access (e.g. management / monitoring containers, for activemq clusters to view all the containers present so they can store/forward between them or custom auto-scalers etc).

Right now we've hard

[2014-10-10 16:04] #186 closed, assigned to nobody

[2014-10-10 17:08] pmorie opened #204 "Deployments POC next-steps"
This issue collects the list of next steps for the deployments POC:
- [ ] Refactor the controllers to model used by the kubernetes scheduler, which uses the client/cache Reflector, Store, and Queue types.
- [ ] Make correct use of namespaced contexts where appropriate
- [ ] Improve unit and integration test coverage
- [ ] Add appropriate godoc
- [ ] Update API docs

[2014-10-13 09:22] jstrachan opened #210 "Error scheduling $id: The assignment would cause a constraint violation; retrying"
on OS X if I stop OpenShift V3 and clear the local files and docker containers, restart it:

[code]

and then run the guestbook example:

[code]

I get these errors alot in the log....

[code]

I've seen these errors a bit running various stuff in the past. I found if I trashed my boot2docker vm and recreated it they went away so I guess there's something else that needs clearing down somewhere?

[2014-10-14 11:32] #113 closed, assigned to mfojtik

[2014-10-14 17:52] smarterclayton opened #211 "image TestCreateRegistrySaveError is flaky"
[code]

[2014-10-14 18:21] #211 closed, assigned to ncdc

[2014-10-14 20:35] #104 closed, assigned to nobody

[2014-10-15 20:34] #204 closed, assigned to nobody

[2014-10-16 15:22] bparees opened #227 "Services not always reachable on first request"
Running the example/simple-ruby-demo I frequently see failures on the first request to a service (both when the build attempts to push an image to the docker registry, which is the first call to the registry, and when you attempt to curl the example application at the end).

It's not consistent, and the problem always goes away after the first request...  as you can see i've added logic to work ar

[2014-10-16 18:44] jstrachan opened #228 "a single openshift 'apply json' command line that can accept templates, configs, pods, services, replication controllers?"
Right now the CLI is very different based on whats inside the JSON.

It'd be nice to just have 1 command to apply some JSON. Say....

[code]

which then applies configs, pods, services, replication controllers (maybe even templates too?). It'd make the CLI a little easier to type too ;).

i.e. the command looks inside the json to see the kind; then delegates to the underlying openshift kube comman

[2014-10-16 21:02] jwforres opened #230 "Should add an introspection endpoint to know which types are under which api paths"
Currently a UI will have to know whether any given type is under the /api or the /osapi paths.  It would be better to be able to introspect a URL on /osapi that tells us the types and the paths for those types.

There may be other things we want to introspect later.  We may also want to add a similar introspection endpoint to upstream kubernetes.

[2014-10-20 14:27] paoloantinori opened #232 "[Question] How to configure minions?"
Hi guys, can you help me understanding how to configure Kubernetes layer to define minions?

I have tried setting `MINION_ADDRESS` without success.

[2014-10-21 13:22] soltysh opened #238 "Build should go into 'Running' state only when Pod is also in 'Running'"
Quoting @smarterclayton from #231:
"As per discussion today, the build controller should not put a build into "Running" until the pod is also in "Running" (may depend on v1beta3 being delivered upstream)."

[2014-10-22 01:36] #179 closed, assigned to nobody

[2014-10-22 06:19] cmoulliard opened #244 "Project does not build - rest.go:53: undefined: apiserver.CreateOrUpdate"
When I try to build the master branch (commit : 92b5b47), the following error is reported :

[code]

[2014-10-22 06:59] cmoulliard opened #245 "Connection refused - Health check"
If I run openshift after doing a fresh build of master branch, I see this error message. Is there a workaround ?

[code]

[2014-10-22 13:13] #244 closed, assigned to nobody

[2014-10-22 15:42] #232 closed, assigned to nobody

[2014-10-24 13:56] jwforres opened #252 "Deployments should track what triggers created them"
When a deployment object is created it should also store what triggers resulted in it being created.  This information should be as detailed as possible.  Example, for a trigger caused by a a new image being pushed to a tag on an image repo, the trigger info on the deployment should list that it was the result of a new image being available, the image id that triggered it, and the image repo and t

[2014-10-24 15:32] soltysh opened #253 "Extend `STIInput` with STI script location"
Extend `STIInput` from buildConfig to be able to specify alternative STI script location. See `-s` flag for STI itself.

[2014-10-24 17:53] ironcladlou opened #257 "Remove DeploymentStrategy.Type field"
Remove the `DeploymentStrategy.Type` field and use nil inferences instead. This will be an API simplification.

[2014-10-24 17:55] pmorie opened #258 "Change default behaviors for deployment triggers"
Currently there is a manual trigger type, and you must specify that a config change trigger should be automatic.  This issue is to:
1.  Change the behavior of the config change trigger such that the default is automatic.  You should have to opt-out of automatic config change deployments instead of opting into them.

[2014-10-24 17:58] ironcladlou opened #259 "Integration tests fail intermittently in Travis due to a client bug"
See: https://travis-ci.org/openshift/origin/jobs/38944254#L769

Looks like there are some intermittent failures with encoding/decoding in response to some sort of client issue.

[2014-10-24 19:53] jwforres opened #263 "End to end tests fail due to selinux denials"
In some fedora environments hack/test-end-to-end.sh fails due to selinux denials:

https://gist.github.com/jwforres/a68a4109d05185fca4d5
https://gist.github.com/jwforres/4181fb02b2af85b16510
https://gist.github.com/jwforres/684e557ed2ef7dd248d9
https://gist.github.com/jwforres/dcdf702f081682b2cf36

[2014-10-24 20:32] ironcladlou opened #264 "Add deployment trigger scenarios for e2e tests"
Cover the config and image change trigger scenarios in the e2e tests.

[2014-10-24 20:37] ironcladlou opened #265 "Add design document for deployments"
Create a design document for deployments under `docs/deployments.md` (TBD) which describes the deployment system in terms of the actual API that was introduced. Diagrams would be nice.

[2014-10-26 20:18] stevef1uk opened #267 "openshift start not working for me"
Hi,

As a newbie I have probably done something wrong but I have pent some time trying to figure it out without success.

I have followed the steps recommended in #245

I have set the following environment variables:

[code]

I am running on a mac (10.9.5) with boot2docker

[code]

The errors I am getting on startup are:

[code]

I added these two lines to /etc/hosts:

192.168.0.112 openshifthost

[2014-10-27 12:46] kanarip opened #268 "Host System self-referencing requires FQDN to resolve (correctly)"
Following the quide listed at:

  https://blog.openshift.com/openshift-v3-deep-dive-docker-kubernetes/

may result in a non-functional environment, which at the stage of applying the Docker Registry Config would return in an infinite loop attempting to allocate a healthy Docker host(?).

After a little investigation, error messages disclose:

    E1027 13:17:38.626580 04954 pod_cache.go:84] Error

[2014-10-27 17:34] ironcladlou opened #272 "Roll kube-deploy into origin as a cmd"
@smarterclayton has an idea for rolling the kube-deploy code into origin as a cmd which can be built normally as part of the origin docker build, the resulting image being used as the basis for kube-deploy.

[2014-10-28 19:30] pmorie opened #281 "Update LBManager to use client/cache"
The LBManager type in pkg/router/lbmanager should be refactored to use upstream client/cache reflector and FIFO to process Services and Endpoints.

[2014-10-28 22:29] #245 closed, assigned to nobody

[2014-10-29 14:04] #130 closed, assigned to nobody

[2014-10-29 15:18] #118 closed, assigned to pmorie

[2014-10-29 15:22] ironcladlou opened #286 "Config apply will fail for most storage objects which have nil Labels"
See the code and comments in this commit, which demonstrates how the config apply logic will fail if passed API objects with nil Labels (which is a valid state):

https://github.com/ironcladlou/origin/commit/71532b12145c664ae68dda85babbed59fd77d88f#diff-091ace02b49a46f55f2586cfec89a160R142

This means that any storage objects not special-cased in the config code will fail if no Labels are supplied

[2014-10-29 17:44] jwforres opened #287 "creationTimestamp not set for deployments"
When deployments are created the creationTimestamp is not getting populated so the API returns null for the value of that field.

[2014-10-30 01:29] #287 closed, assigned to ironcladlou

[2014-10-30 15:35] #257 closed, assigned to nobody

[2014-10-30 15:35] #264 closed, assigned to nobody

[2014-10-30 15:43] pmorie opened #297 "Use a type field in all union types"
A number of union types in the API rely on pointer nilness inference to determine the kind of the type instance, for example:

[code]

Instead there should be a type field in these types:

[code]

[2014-10-30 18:02] pmorie opened #300 "Allow a deployment config to be configured for automatic deployment upon creation"
Currently in order for a deploymentConfig to be deployed, a user must call the config generator and PUT the result to trigger a deployment.  It should be possible to create a deployment config which is configured to be automatically generated and deployed when it is created.  This would probably be an appropriate function for the config change controller to carry out.

[2014-11-03 22:51] rawlingsj opened #328 "Services not working on os x anymore"
Kubernetes services used to work however after what looks like an update to a newer version of Kubernetes the service host ip is now the ip of the container running the service rather than the proxy with the port mapping.

I've tracked down when this started happening and  two builds failed to compile so its between 3 commits...

working..
Merge pull request #273 from bparees/sample_updates
https:

[2014-11-04 18:19] jwforres opened #332 "Builds should say what time they completed"
Need to add something like completionTimestamp to builds at that point when the build's status is marked as complete.

[2014-11-04 18:22] jwforres opened #333 "Builds should have an incrementing build number when generated from a build config"
Builds generated from a build config should have an incrementing number, its more user oriented to see and refer to build 115 of my_build than to see a GUID.

Similar to deployments which have an incrementing id when triggered from a deployment config

[2014-11-04 19:10] #227 closed, assigned to nobody

[2014-11-05 09:05] #328 closed, assigned to deads2k

[2014-11-05 13:10] sajmoon opened #338 "cmd: Missing storage"
When not specifying a storage for the cmd the error message is sort of confusing.

The command
$ openshift kube list
outputs
Unsupported storage type

Sure no storage is not supported, but we could add a better message for example
Missing storage. Use: buildConfigs|builds|config|deploymentConfigs|deployments|imageRepositories|imageRepositoryMappings|images|minions|pods|projects|replicationControll

[2014-11-05 15:36] pmorie opened #341 "Define behavior when builder image does not exist"
There are a couple of issues to sort out for when the builder image doesn't exist:

1.  How many attempts should be made to pull the image?
2.  How long should we wait between attempts?
3.  What should happen to the build if the builder image can't be pulled?  Should we retry the whole action at some later point?

Changes to pull policy will probably touch upstream.

[2014-11-05 21:29] pweil- opened #348 "Refactor parseWatchResourceVersion when it is exposed in Kubernetes"
We currently have copies of parseWatchResourceVersion floating in the OpenShift code with a todo to expose it in the upstream code.  Once the upstream code has been modified we need to refactor:

origin/pkg/build/registry/etcd/etcd.go
origin/pkg/deploy/registry/etcd/etcd.go
origin/pkg/image/registry/etcd/etcd.go
origin/pkg/route/registry/etcd/etcd.go

[2014-11-05 21:33] #338 closed, assigned to nobody

[2014-11-06 15:32] jcantrill opened #358 "Implement Logging Library for use in Openshift"
Add our own impl of a logging library.  This should at a minimum be a wrapper to the library we are using.  The library should make it obvious what represents Debug, Trace, etc log levels.  Additionally, @ironcladlou mentioned it would be nice if the package information that is generated as part of the logging message better distinguished which class from which package was generating the log.

[2014-11-06 18:34] #238 closed, assigned to nobody

[2014-11-06 21:00] soltysh opened #361 "Force a clean build"
Both `build` and `buildConfig` should allow forcing clean builds for docker and STI.

[2014-11-07 11:35] jstrachan opened #365 "can we get periodic (say weekly/monthly) vagrant images we can just download?"
Due to the recent service / iptables changes I've had to abandon running openshift natively on my mac (shame!) and had to start using vagrant. I've now been reminded of why I ditched it previously and moved to running it natively before ;).

It takes me a very long time to create the vagrant images (about an or so hour); and it seems quite brittle. During this hour or so while it takes a long time

[2014-11-07 15:35] #358 closed, assigned to nobody

[2014-11-07 17:03] liggitt opened #368 "Unify session saving to avoid double Set-Cookie headers"
When using gorilla session, we don't want to save multiple times, since that creates multiple Set-Cookie headers. Instead, we should probably wrap the response writer and save the session (if needed) when the header gets written.

[2014-11-10 20:37] #300 closed, assigned to nobody

[2014-11-10 20:37] #258 closed, assigned to nobody

[2014-11-11 14:54] csrwng opened #377 "Make builders follow deployer pattern more closely"
@csrwng can you take a todo to follow up on the builders and make them match the deployer pattern more closely? They don't need to be flags right now, but over time we probably want to have typed ENV vars or CLI args that you can set env into more easily.

[2014-11-12 04:06] #272 closed, assigned to smarterclayton

[2014-11-12 04:07] #210 closed, assigned to nobody

[2014-11-12 15:59] #143 closed, assigned to nobody

[2014-11-12 19:29] jwforres opened #387 "Need to know what user triggered a deployment"
We will want to know what user triggered a particular deployment.  This is particularly important for manual deployments since a user is explicitly choosing to do the deployment.  This information should be on the trigger details on the deployment record.

[2014-11-12 19:30] #252 closed, assigned to nobody

[2014-11-13 17:17] rawlingsj opened #396 "Is there a way to enable kubernetes/fluentd-elasticsearch?"
After reading the logging docs on Kube https://github.com/GoogleCloudPlatform/kubernetes/tree/master/contrib/logging/fluentd-ek
I wanted to setup the fluentd logging but it seems it needs Kubernetes configuration to enable it rather than creating RC / pods in the normal way.

The image on docker hub says it's designed to be invoked by manifest and not invoked directly, is there a way to do that fr

[2014-11-13 17:27] #265 closed, assigned to nobody

[2014-11-13 17:28] pmorie opened #398 "List method signature should take field and label selectors"
Each API resource `List` method should have the following signature:

    ListResource(ctx kapi.Context, labels, fields labels.Selector) (*Resource, error)

[2014-11-13 21:00] pweil- opened #403 "Router cleanup"
Recording issues for router cleanup:

controller.go:
https://github.com/pmorie/origin/blob/event-q/pkg/router/controller/controller.go#L90 use struct to represent arguments to routing methods (addRoute in this example).  Parse url.

validation.go:
validate that route is a valid URL

[2014-11-16 23:36] jimmidyson opened #405 "Problem with services & btrfs"
Running OpenShift in a Docker container with btrfs storage engine leads to services not working reliably. Not quite sure how the storage engine affects services, but I'm regularly getting:

    Failed to properly wire up service.  This can happen if you forget to launch with permissions to iptables.

OpenShift container is being run like:

    docker run -d --name=openshift \
        -v /var/run/d

[2014-11-17 15:19] ironcladlou opened #407 "Integration tests accumulate openshift instances causing unwanted and conflicting interactions between components"
Both the origin and upstream codebases make copious use of `util.Forever`, and as an intentional design decision, none of the various controllers or other components provide any interface for clean shutdown. The integration tests as currently designed will create a new openshift instance (which includes our own controller and upstream controllers and components) with every test method execution. B

[2014-11-17 15:59] soltysh opened #408 "Switch from referencing podName to ObjectReference in builds."
Currently `Build` object references `Pod` doing the actual build by its `name`, the proposition is to use `ObjectReference` instead. See (https://github.com/fabianofranz/origin/commit/cef8f3bd264539ff9a493a939882b8fb5d492e78#commitcomment-8579179) for background.

[2014-11-17 21:05] bparees opened #411 "build webhooks don't support namespaces"
Need to be able to specify the namespace for the build as part of the webhook URL.

this affects both the github webhook and the generic one.

@jcantrill @soltysh

[2014-11-17 21:16] maxamillion opened #412 "openshift kube process does not read a remote file or from stdin"
Trying with stdin:

[code]

With remote file:

[code]

[2014-11-17 21:19] #411 closed, assigned to nobody

[2014-11-19 10:53] mfojtik opened #419 "[REBASE] Fix RESTClient to be Kubernetes upstream compatible"
Right now, we use https://github.com/openshift/origin/blob/master/pkg/cmd/client/api/types.go#L8 as a RESTClient interface, however the Client changed in upstream https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/restclient.go#L36

We should call `client.Post()` instead of `client.Verb("POST")` etc... This affects Config and several other places in our code.

[2014-11-19 13:18] akram opened #420 "Error message showing periodically: E1119 Unable to decode an event from the watch stream"
Hi all,

I got this error message showing periodically, (probably a few times per hour) while no particular activity on my openshift instance.

[code]

it happens by bunches of error message, 10 at a times, and then stop appearing:

[code]

[2014-11-19 20:45] jcantrill opened #424 "Normalize the use of registry image naming and syntax"
Normalize the use of how we specify registries and what their tags are.  In DeploymentConfig triggers we use:

[code]
but in BuildConfig we do something like:

[code]
or even
[code]
We should have some consistency where when specifying a registry it is always part of the image uri, always separate, but is consistent across types

[2014-11-20 10:25] soltysh opened #426 "None of our `Items` arrays should be `omitempty`"
Currently most of our `Items` arrays definitions looks like this:

[code]

and should:

[code]

[2014-11-20 10:31] soltysh opened #427 "Add namespace to builders"
Since the introduction of namespaces the proper way to identify object is to use namespace + name (in the new version, previously ID). Currently our builder does not utilize this parameter, see https://github.com/openshift/origin/blob/master/pkg/build/builder/util.go#L27.

/cc @csrwng

[2014-11-20 15:20] mfojtik opened #431 "Make sure the Template name/ID is valid dns952"
As we are using the Template name as Label in all Config items, we need to make sure it is dns952.

[2014-11-20 16:15] #361 closed, assigned to nobody

[2014-11-20 17:11] mfojtik opened #433 "Use 'Name' instead of ID in Origin code"
We should adopt using *Name to be consistent with kubernetes. We still use *ID in several places.

[2014-11-20 17:25] mfojtik opened #434 "The PATH for openshift binaries is wrong in Vagrant"
It seems like the PATH is pointing to a wrong location in Vagrant:

[code]

I see the binaries are now placed into `/data/src/github.com/openshift/origin/_output/local/bin/linux/amd64`

[2014-11-20 21:16] soltysh opened #439 "Change the client to match upstream"
Our client code should match upstream, for reference see https://github.com/GoogleCloudPlatform/kubernetes/pull/1937. This should be done right after #384 is merged.

[2014-11-24 12:28] mfojtik opened #455 "Invalid REST mappings provided for ImageRepository"
@smarterclayton this seems like a bug in pluralization in upstream:

obj=Unable to provide REST client for imageRepositorys

[2014-11-24 13:13] #396 closed, assigned to nobody

[2014-11-24 16:44] jimmidyson opened #458 "Getting container stats from kubelet"
I'm trying to get container stats back from kubelet, but it always returns an error. For example, I have a pod called `influxdb` with a container called `influxdb` too. Running:

[code]

Always returns:

[code]

The container ID is correct & I can retrieve stats from the running cadvisor container (which I assumed was needed) via:

[code]

Any ideas?

[2014-11-24 19:33] #455 closed, assigned to nobody

[2014-11-25 15:57] #427 closed, assigned to nobody

[2014-11-26 14:25] #439 closed, assigned to nobody

[2014-11-26 14:34] mfojtik opened #478 "Random Go panic after starting openshift and adding minion"
A new panic can be observed in Travis/Jenkins, that happens randomly, but the frequency gets higher:

[code]

I cannot reproduce this locally :-(

[2014-11-27 10:37] mfojtik opened #489 "Follow up for kubectl update"
There are couple things that needs to be updated, I'll use this issue as a TODO list:

- [x] Update E2E test to use kubectl
- [ ] Update documentation to use kubectl in examples/etc.
- [ ] Make a new documentation page describing kubectl functionality

[2014-12-01 09:47] #426 closed, assigned to nobody

[2014-12-01 13:47] mfojtik opened #501 "The kubectl describe is missing describers for all Origin objects"

[2014-12-01 22:18] ironcladlou opened #507 "Replace Deployment with ReplicationController"
This issue is to track design discussion of a proposal to replace the Deployment resource with direct use of ReplicationController.
### Rationale

Since the metadata represented by Deployment can also be represented by ReplicationController annotations, the Deployment resource is a potentially unnecessary and complicating layer of indirection. Removing the resource would reduce the API surface are

[2014-12-01 23:06] #458 closed, assigned to nobody

[2014-12-02 15:39] #297 closed, assigned to nobody

[2014-12-02 16:03] #403 closed, assigned to nobody

[2014-12-02 21:07] pmorie opened #512 "Refactor Router Plugins"
Currently the factoring of the Router and Plugins is a little odd.  There is a type,`Routes` in the `router` package which has a partial implementation of the `Router` interface from the same pattern.  This type is used as an anonymous field to 'donate' the implementation of most of the interface to the HAProxy plugin:

[code]

Instead there should be a `GenericRouter` which implements most of the

[2014-12-03 12:27] mfojtik opened #517 "Better output for kubectl describe"
The `$ openshift kubectl describe <type> <resource_id>` currently produces just basic output, but it should be more verbose and give users meaningful, detailed information about the resource.

This is the current implementation: https://github.com/openshift/origin/blob/master/pkg/cmd/kubectl/describer.go

Since you have access to the resource client interface, you can combine output from multiple

[2014-12-03 18:05] #286 closed, assigned to VojtechVitek

[2014-12-04 14:40] mfojtik opened #528 "Builds should have more human-friendly names"
Currently builds triggered automatically gets a UUID style names. I would be nice if we can have more 'human friendly' names, like:

`<buildConfig.Name>-build-<number/Ref>`

[2014-12-04 16:07] #259 closed, assigned to nobody

[2014-12-04 16:11] #348 closed, assigned to nobody

[2014-12-04 20:13] #281 closed, assigned to nobody

[2014-12-04 21:25] #83 closed, assigned to nobody

[2014-12-05 08:11] priyanka5 opened #537 "unable to start openshift origin in Docker"
Hi,

I am getting the following error in logs after running "docker run -v /var/run/docker.sock:/var/run/docker.sock --net=host --privileged openshift/origin start"

any pointers on this would be appreciated.
## Error logs:

E1205 07:29:58.633839 00001 iowatcher.go:88] Unable to decode an event from the watch stream: unexpected EOF
E1205 07:29:59.596808 00001 iowatcher.go:88] Unable to decode an e

[2014-12-05 14:16] pweil- opened #538 "router - timing issue picking up routes while container is coming up"
While testing, I noticed that if I wait for the routers to be fully up before creating pods/services/routes it picks up the routes fine.  If I do not wait for the routes to be fully up it appears that they do not pick up the defined routes.

Deleting the previously created route and recreating it shows that the router picks it up fine.

See gist for details: https://gist.github.com/pweil-/dcbb122c

[2014-12-05 16:02] #35 closed, assigned to csrwng

[2014-12-05 22:04] ironcladlou opened #540 "Watch GET requests sometimes rejected by apiserver"
Sometimes, the HTTP-based watches established by a Reflector (e.g. in the build/deploy controllers) will be rejected by the apiserver during re-establishment following a watch event or watch closure.

These errors are not to be confused with the benign warnings generated by the upstream watch and cache/reflector packages (addressed separately in https://github.com/openshift/origin/issues/420 and r

[2014-12-08 20:06] #538 closed, assigned to nobody

[2014-12-08 20:09] deads2k opened #545 "[rebase]: fix ipv6"
Kubernetes enabled ipv6 support, but I did not make that new feature work.  See the comment located here: https://github.com/openshift/origin/blob/master/pkg/cmd/server/kubernetes/node.go#L138

[2014-12-09 09:49] caizixian opened #548 "Bandwidth limit support."
Add bandwidth limit support can prevent one container use up all the out/in bandwidth.
Maybe statistics per container is also useful to show how much bandwidth a container used in every month(like Quota:500GB In:10GB Out:20GB Remain:470GB).

[2014-12-10 15:17] luksa opened #551 "Non-private IPs assigned to services"
Services are getting IPs from the 172.121.17.0/24 range, which are not private.

See https://github.com/openshift/origin/commit/0683068c5f9dbab9d4ded9e8997e95c2d5f6f239#commitcomment-8913549

For @deads2k

[2014-12-10 15:48] ironcladlou opened #552 "Idle/unidle design"
# Idling/unidling

This issue tracks the design discussion for idling/unidling behavior.

The primary challenge with an application idle/unidle mechanism is handling request buffering in a practical way. The choice of buffering approach also affects how the overall idling mechanics will integrate with the auto-scaler.

Here are some approaches to buffering and how they would integrate with the sca

[2014-12-10 16:03] deads2k opened #554 "Randomized service IPs, means sample-app is out of date"
Looking at https://github.com/openshift/origin/blob/master/examples/sample-app/README.md, I'm not sure whether we consider the output for things like step 5 and commands like in step 6 to simply be examples as opposed the actual commands to run, but since kubernetes now randomizes IP addresses for services the curl commands won't work exactly as written.

Also, the sample application-template-...-

[2014-12-10 21:01] #554 closed, assigned to bparees

[2014-12-11 23:22] #537 closed, assigned to ironcladlou

[2014-12-12 01:43] VojtechVitek opened #565 "Node/Minion mismatch"
[code]

[code]

[2014-12-12 14:42] #552 closed, assigned to nobody

[2014-12-15 13:40] #551 closed, assigned to deads2k

[2014-12-15 17:20] #512 closed, assigned to nobody

[2014-12-16 02:45] ghost opened #573 "Guestbook sample: redis-slave cannot reach master"
After doing a `vagrant up` with two minions, the pods, services, and controllers are created successfully when following the instructions on
https://github.com/openshift/origin/tree/master/examples/guestbook

But a closer inspection on the docker logs of one of the minions shows that the redis-slave cannot actually reach the master:

[code]

Here are the ENVs passed to the redis-slave container:

[2014-12-17 10:22] akram opened #581 "Master latency or hang on minion reboot/crash"
Hi all,

I am facing an issue with the cluster setup: Here is the reproducer:
- Start a clustered installation (works on AWS or VirtualBox)
- Wait for the cluster to be up and running
- Connect to the master
- Perform a cli read operation: exemple openshift cli list pods
- The server replies quickly
- Shutdown a minion
   - Perform a cli read operation: exemple openshift cli list pods
   - The ser

[2014-12-17 19:47] #507 closed, assigned to nobody

[2014-12-19 02:06] #420 closed, assigned to nobody

[2014-12-19 02:06] #540 closed, assigned to smarterclayton

[2014-12-19 02:06] #407 closed, assigned to nobody

[2014-12-23 16:07] #253 closed, assigned to nobody

[2014-12-26 22:45] #573 closed, assigned to nobody

[2014-12-26 22:51] #412 closed, assigned to mfojtik

[2014-12-27 03:16] smarterclayton opened #601 "Newer versions of go-bindata include modtime in release output - always changing?"
During the rebase I attempted to pull go-bindata head, but changes introduced after f94581bd91620d0ccd9c22bb1d2de13f6a605857 started to write modtime to the generated files.  It seems they change every update (since mod time *appears* to be related to the build output, not to the underlying files).  May need additional changes to correct for this.

[2014-12-27 05:34] thesteve0 opened #603 "For the sample-app it never runs"
So when I try to deploy the docker registry it never fully deploys and it has been over 5 minutes.
 ./openshift cli create -f ~/git/origin/examples/sample-app/docker-registry-config.json

 Then it eventually fails.
(oh and the commands are wrong they should be use cli rather than kube)

[2014-12-27 17:34] derekwaynecarr opened #605 "Need ability to register a plug-in to clean up content in a namespace when a project is deleted"
In Origin, a ```Project``` resource is needed to declare a ```Namespace``` to hold content in Kubernetes and Origin.

If a ```Project``` is deleted, we need to ensure that all content in the reserved ```Namespace``` is removed.

We should enable components that store content to register a life-cycle plug-in that can be invoked by the project rest endpoint to delete related content prior to deletin

[2014-12-28 04:39] smarterclayton opened #606 "Kube rebase on a Mac doesn't pick up docker/pkg/units"
Due to https://github.com/tools/godep/issues/161

Not sure whether we want to fix this in rebase-kube or upstream, needs some thought.

[2014-12-29 12:55] josselin-c opened #607 "Can't start Docker registry with openshift-over-kubernetes setup"
I have a Kubernetes v0.7 cluster already setup and I run openshift on top of it with:
[code]
Using openshif ```3796a2da93ed9df33ce48f6db2fadff97618458c```, I get an error when trying to run the docker registry as per [sample-app](https://github.com/openshift/origin/blob/master/examples/sample-app/README.md) instructions:

[code]

Kubernetes apiserver is available on ```localhost:8080```, opensift

[2014-12-29 15:57] chengchengmu opened #608 "build issue"
Hello,

I am trying to build ruby-hello-world following (https://github.com/openshift/origin/blob/master/examples/sample-app/README.md).
openshift cli build-logs outputs :
2014-12-29T15:44:08.624150261Z E1229 15:44:08.624094       1 docker.go:102] Unable to get image metadata for openshift/ruby-20-centos: dial unix /var/run/docker.sock: permission denied
2014-12-29T15:44:08.624341005Z 2014/12/29 1

[2014-12-30 09:36] #608 closed, assigned to nobody

[2014-12-30 10:25] menren opened #609 "Sample-app tutorial - ruby-hello-world- build fix - RHEL 7"
Hello,

While I am playing of openshift - ruby-hello-world tutorial, I encountered some bugs and I want to share solutions.

To be sure to avoid permission problem with Docker :
https://docs.docker.com/installation/ubuntulinux/#giving-non-root-access

After your docker-registry is on :
`openshift cli get services`

You should get :
`NAME                LABELS                                    SEL

[2015-01-02 20:18] smarterclayton commented on #609
Ah yes, this needs to be documented.  And ideally you'd define --insecure-registry 172.0.0.0/24, because the IP of the service will be different in each run through.

@bparees we should update the README.md for the example to describe this.

[2015-01-02 20:39] bparees commented on #609
PR here https://github.com/openshift/origin/pull/611

[2015-01-02 22:11] bparees opened #612 "STIStrategy should require Image field"
currently the Image field on STIStrategy is optional, but there is no meaningful default for an STI build, so this should be a mandatory field with all appropriate validation.

https://github.com/openshift/origin/blob/master/pkg/build/api/v1beta1/types.go#L131
https://github.com/openshift/origin/blob/master/pkg/build/api/validation/validation.go#L96

[2015-01-02 22:30] #609 closed

[2015-01-05 10:01] josselin-c commented on #607
Kubernetes apiserver is on localhost:8080 and openshift apiserver on localhost:8081.
I tried with ```-s http://localhost:8080``` and ```-s http://localhost:8080``` but none work.

[2015-01-05 12:55] csrwng commented on #612
The Image field is required when STIStrategy is present, which is what I think we want
https://github.com/openshift/origin/blob/master/pkg/build/api/validation/validation.go#L119
The STIStrategy field in BuildStrategy needs to remain optional for the case when your strategy is not STIStrategy (https://github.com/openshift/origin/blob/master/pkg/build/api/v1beta1/types.go#L131)

[2015-01-05 12:59] bparees commented on #612
hm, what i meant to link was this:
https://github.com/openshift/origin/blob/master/pkg/build/api/v1beta1/types.go#L187

you're right, i looked at the wrong validation logic, but shouldn't we remove "omitempty" from the json metadata for the field, since it can't be empty?

[2015-01-05 13:33] csrwng commented on #612
Yup, we should

[2015-01-05 16:14] soltysh commented on #612
We can't remove that `omitempty` from [v1beta1](https://github.com/openshift/origin/blob/master/pkg/build/api/v1beta1/types.go#L187), because the `Image` field was introduced after `v1beta1` was freezed. That can be done only in `v1beta2` where `BuilderImage` will be removed, still it does make sense to remove that in [internal structure](https://github.com/openshift/origin/blob/master/pkg/build/a

[2015-01-05 18:11] bparees commented on #612
@soltysh it may be bending the rules a bit, but I wonder if we can remove it...because the fact is today if you create a config json with that value empty, it's going to fail anyway (ie the build won't work...and validation will fail) so i don't an huge issue w/ changing this in the api.  It won't break anyone who's not already broken.  Adding @smarterclayton for his opinion.

[2015-01-05 19:09] smarterclayton commented on #612
Probably can't remove omitempty without an api version.  We shouldn't cheat.

[2015-01-05 19:31] bparees commented on #612
blah.  fine, let's do it in v2.

[2015-01-05 21:07] brenton commented on #607
I'm pretty sure there is a bug here.  Look at https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cli.go#L41 and https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/factory.go#L44.

If you pass in -s it will use that value for both Kubernetes and Origin leading to the error @josselin-c saw.

[2015-01-05 22:10] smarterclayton commented on #607
Right, `openshift cli` doesn't currently support the two server syntax, only `openshift kube -s <kube_server>,<os_server>` does today

[2015-01-05 23:22] smarterclayton opened #615 "Images built from source should have the commit id as part of a tag"
When building images from source in Docker V2 registry, some element of the input should be reflected in the final image manifest (in a way that mutates the image manifest signature).  Ideally in a way that preserves idempotent builds (naively).

[2015-01-06 09:56] akram commented on #581
Hi @smarterclayton
unfortunately it does not. We have Kubernetes-0.7.0-dev now, and the issue remains.
Can you confirm that the upstream merge was done with the last head referenced by GoogleCloudPlatform/kubernetes#2951

[2015-01-07 20:15] jzelinskie commented on #606
This is the specific library that caused me to create the aforementioned issue.

[2015-01-09 13:23] csrwng opened #630 "Validation is not failing for an invalid components"
The invalid configuration results in a build that can't be run. However, it should be caught before the BuildConfig is accepted.

[2015-01-09 13:58] TomasTomecek commented on #630
**buildConfig** (env variable is defined incorrectly)

[code]

**Steps**
[code]

[2015-01-09 22:04] smarterclayton opened #633 "Support streamRef/tag/repositoryName as discrete fields on build output"
Allow repositoryName to do service ENV substitution (safely), and allow streamRef to lookup the output.

[2015-01-10 18:29] smarterclayton commented on #630
This is hard because of the existing JSON parser in golang (which runs in forgiving / drop-unrecognized fields mode).  We need to track this in Kube, figure out a story, then implement it.

[2015-01-10 18:29] smarterclayton commented on #630
It's important too to distinguish between fields that don't have the format we expect (which should be an error) vs fields that we don't recognize at all, which we must ignore.

[2015-01-12 09:39] marekjelen opened #636 "Pod deletion problem"
Hi,

I do deploy a docker registry for OpenShift by using the provided template in sample-app

[code]

and then I want to clean it up, there does not seem to be a simple way to use (which would be a killer feature, btw)

[code]

so I need to clean it up myself

[code]

deploymentConfig and service gets deleted just fine, but the pod survives

[code]

but the underlying container is gone

[code]

W

[2015-01-12 09:41] mfojtik commented on #636
@marekjelen i'm looking into this

[2015-01-12 10:01] mfojtik commented on #636
OK, so the problem here is that the deploymentConfig actually creates a replicationController:

[code]

In that case, if you remove the Pod the replication controller will start another one ;-) So to remove the Pod you have to remove the ReplicationController first.

I do agree that having a way to remove bulk of resources (maybe grouped by the Config label) would be awesome and I think that will

[2015-01-12 10:04] marekjelen commented on #636
@mfojtik thanks ... by removing the replication controller the pods get deleted as well. Thanks!

[2015-01-12 14:01] smarterclayton commented on #636
Yeah, should merge upstream this week and then we'll backport

[2015-01-12 19:23] bparees opened #637 "Builds do not untag image after pushing"
We should untag the image we just built after pushing it to the registry, so it can be cleaned up on the node.

[2015-01-13 13:33] mfojtik opened #645 "An option to start log streaming after starting a build manually"
I found myself repeating this over and over when testing Origin builds:

[code]

I would be nice to have an option for `start-build` to wait till the container is started and then start streaming logs automatically:

[code]

[2015-01-13 15:01] josselin-c commented on #607
Thanks, It works with ```openshift kube -s <kube_server>,<os_server>```

[2015-01-13 15:01] #607 closed

[2015-01-13 20:43] akostadinov commented on #603
I think I'm hitting the same issue running `hack/test-end-to-end.sh` against 3a68dcf57
I'm running it on fedora 21.

[2015-01-13 20:57] smarterclayton commented on #603
Can you try pulling the latest docker-registry and rerunning hack/test-end-to-end.sh

[2015-01-13 21:49] akostadinov commented on #603
sorry, I'm just exploring origin v3, how do I pull the latest docker-registry?

[2015-01-13 21:54] smarterclayton commented on #603
Docker pull openshift/docker-registry

[2015-01-13 22:26] akostadinov commented on #603
updated registry. killed all lingering processes.
I don't see the repeating messages `About to update endpoints for service docker-registry` but I'm still seeing:
[code]
and in two of the container logs:
[code]

Still I think something is running on that address:port because doing netstat -avnp on host I see a few:
[code]

Could it be a firewall issue? Should I do anything special with firewall if

[2015-01-13 22:27] smarterclayton commented on #603
If you run "docker run centos ping 192.168.122.11" from one of your hosts, what happens?

[2015-01-13 22:31] akostadinov commented on #603
I've got a little further now. I disabled `firewalld` on fedora and that helped so I've reached a little further:
[code]

[2015-01-13 22:43] smarterclayton commented on #603
You need to set the insecure-registry flag on your docker daemon, as described in the readme https://github.com/openshift/origin/blob/master/examples/sample-app/README.md#setup

[2015-01-14 13:00] akostadinov commented on #603
That helped. I think it would be better to add it under `HACKING` or at least a pointer to it. Do you mind that?

So I went a little further and hit a couple of more issues. I hope you can review them:

First is that `teardown()` function does not reliably kill `openshift` processes and docker containers. I tried to fix that and although `stop_openshift_server` is called `openshift` process is not

[2015-01-14 17:48] akostadinov commented on #603
As I said above, the push command always fails.
[code]
Looking at `docker logs <my registry image>` I see:
[code]

Any advice? I didn't create `/tmp/openshift.local.registry/repositories` so looks like a bug in the setup scripts to me. Removing that dir and starting over does not help. The dir is automatically created and error is the same.

[2015-01-14 18:34] bparees commented on #603
I'm not sure why your registry can't write to that dir, but that dir is created as a host volume mount, if you look in docker-registry-config.json you'll see where it's coming from.  Did you remove the whole /tmp/openshift.local/registry dir?  or just the repositories subdir?

I would guess you're having an selinux issue, is "setenforce 0" set?

Also probably worth doing a "docker pull openshift/d

[2015-01-14 19:56] akostadinov commented on #603
@bparees, you were right. Setting selinux in permissive mode worked around the issue.

Still `docker tag` fails with:
[code]
Should I add the `-f` option or setup script should be changed to clean-up tags? I've added that to #649 if you find it reasonable.

And the last issue I see is that the `teardown()` function does not kill `openshift` processes. Even after successful script execution.

[2015-01-14 20:21] bparees commented on #603
merged 649.  not sure why you're having process kill issues if you're running the test script via sudo.

[2015-01-15 16:50] pmorie opened #655 "Add doc for getting started running on vagrant"
Pretty much what it sounds like.  We need a guide to help someone get a cluster up and running under vagrant.

[2015-01-15 20:55] bparees commented on #263
refocusing this issue on the need to setenforce 0 to successfully access the bound docker socket.

The error looks like this:
https://gist.github.com/bparees/2f0781144a3b36e99831

Notice in that gist I attempted to bind the docker socket with :Z to do selinux relabeling but it appears to have had no effect.

[2015-01-15 23:31] bparees commented on #263
I've been informed by Dan Walsh that mount based relabeling support is not there yet, so manual relabeling on the host is required.  Per the docker man page:
              To work around this, at time of writing this man page, the following com‐
              mand needs to be run in order for the proper SELinux policy type label to
              be attached to the host directory:

[2015-01-16 14:04] rhatdan commented on #263
What is the latest problem?  Are you getting AVC's?

[2015-01-16 16:45] bparees commented on #263
@rhatdan  yes:
type=SYSCALL msg=audit(1421362969.119:55204): arch=c000003e syscall=42 success=no exit=-13 a0=4 a1=c208041090 a2=17 a3=0 items=0 ppid=27224 pid=28343 auid=4294967295 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=(none) ses=4294967295 comm="openshift-sti-b" exe="/usr/bin/openshift" subj=system_u:system_r:svirt_lxc_net_t:s0:c99,c670 key=(null)
type=PROCTITLE msg=audit(14

[2015-01-16 17:24] rhatdan commented on #263
Allowing a process within a container to connect to /var/run/docker.sock is the equivalent of turning off all security and running the process as root.

This is a bad idea, if necessary I would recommend you run this container --permissive.

[2015-01-16 17:26] ncdc commented on #263
These are the containers OpenShift uses to perform builds, so they need access to the host's Docker socket.

[2015-01-16 18:30] rhatdan commented on #263
Fine then run them in permissive mode or with selinux disabled for the container.

--security-opt=label:disabled

[2015-01-16 18:31] rhatdan commented on #263
I meant --privileged mode.  If you can talk to docker, there is no security.  If users are able to run random scripts within the Dockerfile there is no security.

[2015-01-16 19:25] smarterclayton commented on #263
Yes, this is why we'd have a docker proxy.  We also need docker build to be able to run in a secure context, and yum not to require root to run.  Basically, this is the list of things we've known for the last year that we need from Docker.

[2015-01-16 19:26] smarterclayton commented on #263
We also need docker build to run in a cgroup (Ideally a child of the caller)

[2015-01-16 19:27] smarterclayton commented on #263
I'll spawn a separate tracker upstream for this - I've gotten distracted with all the other security stuff, but this is the biggest hole in docker today.

[2015-01-16 19:29] smarterclayton commented on #263
We can flip the builds back to being running privileged for now

[2015-01-16 19:37] rhatdan commented on #263
I actually found a docker bug which we might want to fix.  Currently we are not transitioning to a confined domain when doing a docker build as opposed to a docker run.  I would like to fix this on Rawhide, but I am not sure if docker build needs more privs then docker run

[2015-01-16 19:38] rhatdan commented on #263
This would be something you would probably want if you are going to allow users to upload their own Dockerfiles.

[2015-01-16 20:03] smarterclayton commented on #263
Definitely.

[2015-01-16 20:18] bparees commented on #263
@smarterclayton using privileged containers for the build pod gets through the build step, but the docker-registry container appears to also need to run privileged.

In addition, just enabling the privileged capability appears to require an upstream change, I don't see anywhere to feed this value in as a config setting on the cli:
https://github.com/openshift/origin/blob/master/Godeps/_workspace/s

[2015-01-16 21:02] csrwng commented on #263
@bparees it's actually set in the command line https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubelet/kubelet.go#L57 the line you point out above only executes if no Capabilities have been set. But they are set here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/standalone/standalone.go#L187

[2015-01-16 21:05] bparees commented on #263
@csrwng that must be part of a rebase we haven't picked up yet, i was only looking in our vendored version.

[2015-01-16 21:43] bparees commented on #263
I have for now resolved the selinux disable requirement by using privileged containers in this PR:
https://github.com/openshift/origin/pull/661

[2015-01-16 22:13] smarterclayton opened #662 "Running docker build is horribly insecure"
The following things need to happen to make docker build actually secure for end users.  Most of these need to be moved upstream, this is just an umbrella issue.  Most of the items below assume that the person invoking the build is running in a container, but is essentially a unix user

* It runs as root, and has full access to the system
  * docker build should be running in a user namespace wher

[2015-01-16 22:13] smarterclayton commented on #263
Opened https://github.com/openshift/origin/issues/662 to track docker build being insecure

[2015-01-16 22:15] smarterclayton opened #663 "Docker-registry example needs a way to reuse the same volume if loaded on the host twice"
Currently the example is reusing a host-dir for efficiency, but that requires permissions to be constant on the host.  It should be possible to have the docker registry running on the host attempt to reuse a volume by a secret name, and die if not.  This would be a "moderatelyPersistentVolume" that is still tied to the host, that would be cleaned up some period after being out of use.  Prototype t

[2015-01-16 22:16] smarterclayton commented on #263
And https://github.com/openshift/origin/issues/663 to make the registry unprivileged.

[2015-01-16 22:19] smarterclayton commented on #662
@rhatdan apologies for not tracking any of this earlier with you - been a crazy few months.  The first one is user namespaces, the second we discussed previously (yum install without root), the cgroups constriction on build seems like a reasonable feature we could get upstream, and the last one is something that would be more appropriate for kubernetes or openshift to deal with.

[2015-01-19 05:51] resouer opened #669 "[Question] What's the advantage of V3 over Kubernetes?"
After played around with V3, I admit that it's much more convincing than OpenShift2. Personally speaking, v3 has a lot of common with Kuber (and it using kuber, of course), but as I'm also a user of Kubernetes, I'm confused about v3 outweight Kuber. Can anyone give me details about that?

[2015-01-20 03:38] smarterclayton commented on #669
Sure - Kube is about low level primitives (today).  OpenShift integrates source, build, image promotion, and automated deployment, as well as driving routes (L7 routing, which may eventually go upstream), team and organization access control (including user synchronization to LDAP, quota, resource limits, accounting, billing), and administrative tools like templates, a console UI, administrative i

[2015-01-20 05:10] smarterclayton commented on #637
This is fixed now?

[2015-01-20 05:11] smarterclayton commented on #581
This should be fixed in the pending rebase - I have all of the changes from upstream and removed some of the quirky minion behavior.

[2015-01-20 05:11] smarterclayton commented on #433
I believe this is now complete.

[2015-01-20 05:12] smarterclayton commented on #408
Someone needs to fix this still.

[2015-01-20 06:25] resouer commented on #669
@smarterclayton Amazing. So actually OpenShift is trying to make Kuber works in a PaaS style, right.

But I did not find any information about Console or Dashboard (even http://docs.openshift.org/latest/using_openshift/console.html#overview is blank).

If it is possible , really hoping to see a more PaaS like guide/screenshot/video to lead me to the right way. I have walked thru the examples in th

[2015-01-20 08:01] bparees commented on #637
yes.

[2015-01-20 08:01] #637 closed

[2015-01-20 14:22] soltysh commented on #408
@smarterclayton I'll handle it this week.

[2015-01-20 14:23] soltysh commented on #433
There are a couple of nits, but the most of changes are already there, so I'm pretty sure we can safely close this.

[2015-01-20 14:44] soltysh commented on #408
But not before #679, I'd like to omit merge conflicts.

[2015-01-20 15:45] mfojtik opened #683 "openshift cli get is not sorting the list"
The result of `openshift cli get <something>' is not sorted, so if you repeat this command, the list items are shuffling ;-)

[2015-01-20 16:15] mfojtik opened #684 "Add hardware profiles for Vagrant"
I think it would make sense to have different HW profiles for virtualbox:

[code]

If you set these, your minions will get more RAM/CPU?

[2015-01-20 16:25] goldmann opened #685 "After modifying pods the minions lost access to master (vagrant/virtualbox)"
OS3 is started in vagrant in VirtualBox with `OPENSHIFT_DEV_CLUSTER=true` flag.

After we tried to modify the number of replicas and add new pods, the minions stopped to communicate with master. If we restart the `openshift-node` service running on the minions it does not communicate with master on IP `http://10.245.1.2:8080`.

[code]

[code]

[code]

[2015-01-20 16:44] #433 closed

[2015-01-20 16:45] mfojtik commented on #685
The workaround for this so far:

1. vagrant halt
2. restart virtualbox service
3. vagrant up

(this seems to work so far, but we should investigate what is causing this)

[2015-01-20 16:53] goldmann commented on #685
The issue is that if you try to deploy two (or more probably) services that use the same port, OpenShift will not complain and start them, but the networking will be messed and the minions will not be able to connect to master like described above.

Example JSON file that messes the network.

[code]

[2015-01-20 17:49] pmorie opened #686 "Openshift router panics when invoked without options"
`openshift-router` panics if invoked without cli arguments.  It should display the help instead.

[2015-01-21 10:39] jstrachan opened #697 "how should we create/use namespaces from the REST API when creating pods/services/RCs?"
so we have a nice [Arquillian based integration testing framework](http://fabric8.io/v2/testing.html) in [fabric8](http://fabric8.io/) for running Kubernetes/OpenShift integration tests in a JUnit test (here's [an example JUnit test](https://github.com/fabric8io/fabric8/blob/master/itests/src/test/java/io/fabric8/itests/BrokerProducerConsumerIT.java#L58)  with [assertions on JMX metrics](https://g

[2015-01-21 11:18] soltysh commented on #683
It should go upstream IMHO, especially since they've sorted it for event already, see https://github.com/GoogleCloudPlatform/kubernetes/issues/2948.

[2015-01-21 14:52] mfojtik opened #700 "Kubernetes does not restore state for Pods after reboot"
This happen after rebase, when you start the cluster (OPENSHIFT_DEV_CLUSTER=true), create bunch of Pods and wait for them to be running and then reboot (vagrant halt/vagrant up) all Pods remain in the Unknown state.

When I checkout to 05759a0 and retry, then the Pods gets into Running state.

[2015-01-21 14:54] mfojtik commented on #700
@goldmann @smarterclayton  fyi

[2015-01-21 17:12] fabianofranz opened #703 "Kubelet should use config source from apiserver"
Related upstream change: https://github.com/GoogleCloudPlatform/kubernetes/commit/18bcef52351ec1402e433e1efade76efbc1155e5

[2015-01-22 06:48] smarterclayton commented on #697
?namespace=blah on a call.  Derek is planning on making namespaces real objects, but we still would like the create on demand model.  Namespaces are "created" as needed right now

[2015-01-22 06:50] smarterclayton commented on #685
The services should get different ips - can you verify that is happening?

[2015-01-22 08:13] jstrachan commented on #697
whoah - it works! Am sure I tried that a month or so ago and it didn't work. Awesome thanks!

[2015-01-22 08:13] #697 closed

[2015-01-22 09:43] TomasTomecek opened #710 "TLS doesn't work for me"
curl calls (yes, the output is one blank line)

[code]

Logs

[code]

rhel 7
git master: https://github.com/openshift/origin/commit/ed60f9fa6925f8f442f8bf36ba4279803349853c

[2015-01-22 11:38] mfojtik opened #711 "Unable to connection from a 'master' to minions when using OPENSHIFT_DEV_CLUSTER"
How to reproduce:

1. export OPENSHIFT_DEV_CLUSTER=1
2. vagrant up
3. vagrant ssh master
4. ping openshift-minion-1
....
4 packets transmitted, 0 received, 100% packet loss, time 3000ms

This is the same for openshift-minion-2. This seems to be random (after several vagrant halt/up, it sometimes works...)

We tracked it down into host NetworkManager, where the NetworkManager sees the VirtualBox de

[2015-01-22 13:35] mfojtik commented on #711
Related: https://bugzilla.gnome.org/show_bug.cgi?id=731014

[2015-01-22 13:56] goldmann opened #712 "Services does not work across pods"
When I try to connect to a service from a pod that is colocated with the destination pod - it works, but when the destination pod is running on another minion, the connection is not possible.

Below you can find an example - I'm trying to connect from wildflyPod to lbPod via service. It does work when wildflyPod and lbPod are running on the same minion, otherwise it won't work.

[code]

/cc @mfojt

[2015-01-22 14:02] brenton commented on #710
Hi Tomas,  See http://lists.openshift.redhat.com/openshift-archives/dev/2015-January/msg00057.html

TLS was just turned on by default yesterday.  When you run curl localhost:8443 you are trying to make an non-TLS request to a secure socket.

[2015-01-22 14:28] goldmann commented on #700
This is probably related to https://github.com/openshift/origin/issues/711.

[2015-01-22 14:29] goldmann commented on #685
This is probably related to https://github.com/openshift/origin/issues/711.

[2015-01-22 17:52] mrunalp commented on #711
@mfojtik Thanks for chasing this down. What host OS are you on Fedora 20 or 21 or centos/RHEL?

[2015-01-22 18:39] smarterclayton opened #718 "Random thoughts while I'm using the CLI to do what hack/test-end-to-end.sh does"
* Setting up a registry should be some sort of automatic step - one command
* Need to be able to easily delete everything that comes out of a template
  * that includes pods, which means delete of RC doesn't quite do what we want
* passing complex args to process should be different - support A=B type syntax, also potentially let you get env from a file
* Still need secrets, but once we have secre

[2015-01-22 19:16] smarterclayton commented on #700
It looks like the kubelet, on startup, wipes all the pods.  Then it never brings them back up.

[2015-01-22 19:22] smarterclayton commented on #700
Maybe because the sync loop isn't running...

[2015-01-22 19:47] smarterclayton commented on #700
Looks like the watch from the kubelet to etcd fails during startup, and then since the source isn't ready, it's not until the next sync interval that we check again and find the pods.  That's 30seconds.  So it seems to be a race between kubelet and master - we may want to do a quick poll until the master becomes available instead of doing a long loop.

[2015-01-22 20:13] mfojtik commented on #711
@mrunalp I am on Arch Linux with networkmanager @goldmann is on Fedora 21. The fix I suggested worked on both.

[2015-01-22 20:15] mfojtik commented on #712
FYI this is f21, Vagrant with VirtualBox using OPENSHIFT_DEV_CLUSTER

[2015-01-22 20:19] smarterclayton commented on #700
This was a bug upstream, I'm going to back port the fix 009c5e1129a2998400ea56212d50498bedebd66c

[2015-01-22 20:21] smarterclayton commented on #700
Upstream was https://github.com/GoogleCloudPlatform/kubernetes/pull/3479

[2015-01-22 20:42] mrunalp commented on #711
@mfojtik okay, cool. I will work on a fix. Might be document or some script. The problem I see is that the config file isn't probably in the same place for all distros so might have to resort to Dbus.

[2015-01-22 21:30] goldmann commented on #711
@mrunalp I guess [documenting this here](https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc) + an example would be fine since this is an [upstream bug](https://bugzilla.gnome.org/show_bug.cgi?id=731014).

[2015-01-22 22:25] #700 closed

[2015-01-23 01:04] smarterclayton opened #724 "e2e tests should do a sanity check before pushing artifacts to jenkins"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_openshift3/792/artifact/origin/artifacts/e2e/logs/

Note the size of openshift.log.....

[2015-01-23 01:04] smarterclayton commented on #724
Ben can you find a victim for this?

[2015-01-23 01:04] smarterclayton commented on #724
@danmcp we probably need to clean jenkins up too.

[2015-01-23 01:08] smarterclayton commented on #718
@bparees re: dev experience - feel free to add your hate here

[2015-01-23 01:24] mrunalp commented on #711
@goldmann Sounds good to me.

[2015-01-23 08:19] mfojtik commented on #718
* A lot of complains about `Pending` state during JBoss sessions. We should display events when you do cli describe to get more detailed informations about what is going on.

[2015-01-23 08:53] bparees commented on #724
https://github.com/openshift/origin/pull/726

[2015-01-23 09:43] bparees commented on #718
"Need to be able to easily delete everything that comes out of a template "  - you can do this today, we create a unique label for everything when we process the template, so everything created from a template has a common label that you can delete by.

[2015-01-23 09:56] bparees commented on #718
Most of my hate is directed at the https requirements/flags (having to provide the cert on the cli.  I assume this will go away w/ david's feature to allow you to store config, but it's still a pain for our iterative dev model where we create a new cert everytime and store it in a random directory)

[2015-01-23 10:11] TomasTomecek commented on #710
You are right! I feel so silly now!

Well... On the other hand, wouldn't it make sense to respond with redirect to `https` once client requests plain `http`?

[2015-01-23 12:30] derekwaynecarr commented on #718
Re: cert stuff - I agree with Ben and would like some Dev tool bash scripts that just supply all these args to each common Dev tool - curl, etc. this is if I understand the original note from Jordan correctly.

Sent from my iPhone

[2015-01-23 13:04] csrwng commented on #718
In addition to the resources in the template it would also be nice that resources generated by those resources also get the same identifying label. For example, the pods we create to run a build or a deployment. That way if you remove everything with the template's label, you get to the state that you were before you applied.

[2015-01-23 13:17] mfojtik commented on #718
@csrwng I was also thinking about being able to specify the label you want give to all resources you are creating:

[code]

[2015-01-23 13:26] csrwng commented on #718
@mfojtik +1

[2015-01-23 13:32] brenton commented on #710
If the TLS handshake failed the request never makes it to the HTTP layer where a redirect would need to happen.

[2015-01-23 13:48] mfojtik commented on #718
Another thing... this is pretty ugly if you don't have full screen terminal:

[code]

[2015-01-23 13:59] bparees commented on #718
@mfojtik +1 but i think that's in part these bullets from clayton:
Pod putting host at the end of the pod name sucks because it's harder to cut and paste
Better pod names for build, deploy (make unique with shorter names)

[2015-01-23 15:39] ironcladlou opened #729 "Pods created by deployments should be correlated via annotations"
Pods created by deployments (replicationControllers) should be correlated by annotations (replicationController name, deploymentConfig name, and deployment version). This isn't currently possible because the upstream ReplicationController code doesn't transfer annotations from the PodTemplateSpec onto Pods it creates- it only transfers labels.

[2015-01-23 15:39] ironcladlou commented on #729
@smarterclayton please assign this one to me.

[2015-01-23 15:45] pmorie opened #730 "PodTemplate trigger for deployments"
If a DeploymentConfig references a separate PodTemplate instead of declaring the PodTemplate spec inline, there should be a way to trigger a new deployment when that references PodTemplate.

[2015-01-23 15:45] pmorie commented on #730
cc @ironcladlou

[2015-01-23 15:51] smarterclayton opened #731 "Data race in httptest during integration test shutdown"
[code]

Might be related to https://github.com/golang/go/issues/7264

[2015-01-23 15:51] smarterclayton commented on #731
Disabling integration test race for now.

[2015-01-23 16:13] ironcladlou commented on #729
cc @jcantrill

[2015-01-23 17:04] TomasTomecek opened #733 "openshift won't spawn build pod due to etcd"
I've submitted build directly via API (can post the json if needed). Build pod wasn't created, build-logs said that there is no such pod.

Here is what I found in logs:
[code]
What's wrong with that value?

[2015-01-23 17:10] ncdc commented on #733
It has to be a DNS subdomain as specified in RFC 1123

[2015-01-23 17:13] ncdc commented on #733
Although the code in Kubernetes doesn't appear to allow dashes

[2015-01-23 20:51] TomasTomecek commented on #733
I went through the RFC briefly and haven't found the specification. Could you, please, be more specific?

[2015-01-23 20:57] ncdc commented on #733
It's possible I was looking at the wrong validation code. We probably need to track down the exact bit that's throwing the error.

[2015-01-24 00:31] smarterclayton commented on #718
We were not capturing events, and now we are.  Should see them now.

[2015-01-24 00:32] smarterclayton commented on #718
It's still rough around the edges, because you have to specify the types you want deleted.  Also, it'll leave pods behind.

[2015-01-24 00:33] smarterclayton commented on #718
Yeah, this.  The template author *can* do it, but it's not obvious.

[2015-01-24 06:08] smarterclayton commented on #733
It's case - we updated the validation today to match what upstream does (names are lowercase).  The easy change is to lowercase your name - we could relax that requirement but there's some discussion about whether that's going to cause problems in other areas (services have to be lowercase so you can't collide env vars)

[2015-01-25 00:40] pmorie opened #739 "test-cmd.sh should test key functionality from upstream"
Currently the origin repo is in a state where a viable resize command isn't available.  The test-cmd.sh script should have caught this; it should be extended to ensure that key features in the upstream CLI are available via the OpenShift cli.

[2015-01-25 16:20] smarterclayton commented on #739
In the future, when we do rebases, we should make sure we add tests for new function (like CLI commands) to at least do basic sanity.  We should also brief QA

[2015-01-25 21:38] #686 closed

[2015-01-26 10:01] jimmidyson opened #741 "SELinux problems with volumes when running as a Docker container"
Running OpenShift as a docker (1.4.1) container on fc21 with:

[code]

Even without mounting any volume, the container uses `/var/lib/openshift` on the host (not quite sure how it does that, but hey!) for managed volumes.

Since the latest RPM upgrade (`docker-io-1.4.1-5`) anything using an kubernetes volume fails to start up unless I run on the host:

[code]

Is there another way to work around t

[2015-01-26 17:01] pmorie opened #744 "Router install script doesn't pass master URL to `osc create`"
The router install script assumes that the master it's talking to is on 'localhost'.  It should pass the master URL parameter to the `osc create` command in that script to enable installing a router to a non-local master.

[2015-01-26 17:08] pmorie commented on #744
cc @thoraxe

[2015-01-26 21:29] brenton commented on #710
Closing this unless there are further questions.

[2015-01-26 21:29] #710 closed

[2015-01-27 03:35] #711 closed

[2015-01-27 13:13] mfojtik opened #752 "The 'osc' command is not available in 'openshift/origin' image"
[code]

[2015-01-28 00:57] wyaeld commented on #752
`osc` is just a recommended alias for `openshift cli`, not a command on its own

[2015-01-28 13:59] akram opened #765 "Error while spawning vagrant cluster: destination path 'etcd' already exists and is not an empty directory"
Hi,

when spanning a new cluster with vagrant up, or doing a vagrant provision we got the following error:
[code]
This is due to the hack/install-etcd.sh script which fails when trying to do a git clone on a previous installation.

workaround is to do a make clean before launching vagrant, or add a check in the etcd-install.sh script:
[code]

[2015-01-28 14:21] mfojtik commented on #765
@goldmann I think we saw this as well

@akram can you make a PR with the fix?

[2015-01-28 14:46] TomasTomecek opened #769 "Kubernetes leave a lot of /pause containers running"
After firing ~20 builds, there is same amount of running containers with '/pause' command:
[code]
I'm not sure what's the purpose of this container but I feel like they are slowing my system. (e.g. I did `docker ps -a` and that command got stuck, I had to restart docker daemon)

EDIT: important point may be, that my builds finished while those /pause containers were still running

[2015-01-28 15:51] akram commented on #765
@mfojtik OK, here it is: #773

[2015-01-28 15:54] akram commented on #765
supposed to be fixed on #773 , closing it

[2015-01-28 15:54] #765 closed

[2015-01-28 21:44] pmorie opened #780 "Should there be a virtual service for the Openshift master?"
It occurred to me today looking at @pweil-'s work on the F5 router that we have to specially pass the URL of the OpenShift master to the router pod.  If we had a virtual service for the OpenShift master like `kubernetes-{,ro}` the router pod would be able to discover it via the normal env linking mechanism, and later, via DNS or whatever discovery is in fashion.

Thoughts? @liggitt @csrwng @smarte

[2015-01-28 21:46] liggitt commented on #780
that would be awesome as long as we have all the bits that go along with it (scheme: http or https), trusted certs (for https), and a way to make sure the trusted certs are valid for the IP/DNS the service is listed as (the master's cert won't be valid for some randomly assigned service IP...).

[2015-01-28 21:47] liggitt commented on #780
a lot of this has surfaced in the upstream services reorg discussion

[2015-01-28 22:04] pweil- commented on #780
Yeah, I think this would be handy in general, for infrastructure components specifically.  We'd want to make sure access is restricted but namespace privs should be taking care of that for us.

[2015-01-28 22:29] #744 closed

[2015-01-28 22:35] pmorie commented on #655
This exists, I just didn't see it.

[2015-01-28 22:35] #655 closed

[2015-01-28 22:38] pmorie commented on #780
@liggitt Those are good points, won't this be the same as for the kube master service eventually?

[2015-01-29 20:42] wyaeld opened #795 "hack/test-end-to-end.sh removes ALL containers"
Bit of a nasty surprise to find the test script stops & removes every single container on my system, including everything I had running related to other projects, various data containers, etc.

A reasonable person would expect that test scripts only tear down the artifacts they create.

[2015-01-30 12:22] mfojtik opened #799 "Different versions of Go in Vagrant vs. host system"
This is not really an issue but more like a workaround for those of you who ran OS that already got Go 1.4  OR you run system other than Fedora and you suffer from the compilation time inside the VirtualBox machines (and you don't have 8 free CPU cores to assign to VirtualBox). So here is what I did.

1) I know that ./hack/build-go.sh on my host system (Arch/Go1.4) takes ~5seconds but in Vagrant (

[2015-01-30 12:33] mfojtik commented on #799
To prove this improves the compilation time, here are some benchmarks.

On my host system:
[code]

Inside Vagrant:
[code]

[2015-01-30 13:27] TomasTomecek commented on #769
@smarterclayton
Any idea?

[2015-01-30 14:53] sosiouxme opened #802 "osc create minion fails due to adding namespace"
If I create some json for adding a minion, it succeeds via curl -X POST, but fails via osc create -f which apparently adds the "namespace" parameter a bit too indiscriminately resulting in the error "namespace: invalid value 'default'". The same error results if I do so manually with curl e.g. http://pastebin.com/bEfecgSu

BTW it would be really nice if there were an osc option such that I could s

[2015-01-30 15:58] csrwng opened #803 "Proxy build logs through master"
Currently when requesting build logs from the openshift master, a redirect is returned to the log endpoint on one of the minions. This should instead be proxied through the master.

[2015-01-30 16:11] csrwng commented on #769
@TomasTomecek The pause containers are started by Kubernetes to handle networking for a pod (in this case it's the build pod). We are currently not cleaning these up, but they should be cleaned up by a controller in the OpenShift master eventually.

[2015-01-30 16:16] smarterclayton commented on #769
We're currently not cleaning up build pods?  I thought we were.

----- Original Message -----

[2015-01-30 16:25] TomasTomecek commented on #769
@csrwng any idea then why k8s don't purge those pause containers even though the build has finished. Will retry on Monday with master (this issue is somewhere around latest beta release)

[2015-01-30 17:20] csrwng commented on #769
@TomasTomecek because the pod for the build still exists. Kubernetes doesn't know about builds, just pods. Even though the pod completed, if it still exists as a resource in etcd, Kubernetes won't delete the associated containers for it.

[2015-01-30 19:29] ironcladlou commented on #517
I've been revamping the DeploymentConfig describer as part of the rollback CLI work for https://github.com/openshift/origin/pull/786. I plan to take it even further after this basic support is done. I'd be interested in comparing notes/ideas for other resources.

[2015-01-30 19:30] ironcladlou commented on #501
This issue looks similar to https://github.com/openshift/origin/issues/517 and I think we have basic describers for all resources now, correct?

[2015-01-30 19:31] ironcladlou commented on #434
@mfojtik this is resolved, correct?

[2015-01-30 19:32] ironcladlou commented on #377
Can this be closed, @csrwng?

[2015-01-30 19:38] pravisankar commented on #802
This issue was fixed in the upstream: https://github.com/GoogleCloudPlatform/kubernetes/pull/3961
jhonce/markturansky will pull this pr into openshift for beta1 release.
Above fix will only suppress the error, proper fix to handle namespace scoping is currently worked on by derek, WIP prs: https://github.com/GoogleCloudPlatform/kubernetes/pull/3613 (new namespace object), https://github.com/Google

[2015-01-30 21:40] csrwng commented on #377
@ironcladlou - we still don't follow the deployer pattern with the builders. We're only taking the single env var with the build definition right now, so I think this issue is still valid.

[2015-01-30 21:43] mfojtik commented on #803
@jhadvig

[2015-01-31 00:10] phemmer opened #813 "cli can't talk to external kubernetes"
I built the code from PR #797 in attempt to run openshift on top of GKE. Openshift starts, but cli commands which need to talk to kubernetes fail.

For example, trying to launch the [hello-openshift example](https://github.com/openshift/origin/tree/master/examples/hello-openshift):
[code]

From discussion with @smarterclayton on IRC, this error is because the cli needs to talk to both openshift &

[2015-01-31 00:13] phemmer commented on #813
From IRC:
[code]

As noted in the chat, I'm in favor of having openshift proxy the kubernetes calls. Having the client talk to both feels dirty, and would make the configuration more complex.

[2015-01-31 01:07] smarterclayton commented on #813
Proxy gives a big advantage of either doing no auth pass through, or optionally filtering api requests.  So someone can have a kube cluster, stand up openshift, let openshift impose ACL on top of Kube, and keep using core resources.

[2015-01-31 17:27] smarterclayton opened #818 "Jenkins merge queue is not flagging gofmt errors"
Travis is, Jenkins is not, Jenkins should.  Possibly due to the wonky go version checking in hack/verify-gofmt.sh

[2015-01-31 17:28] smarterclayton commented on #802
Should be fixed - reopen if not

[2015-01-31 17:28] #802 closed

[2015-01-31 17:28] smarterclayton commented on #799
Why not add this functionality to the release image?

[2015-01-31 17:29] smarterclayton commented on #795
@bparees @jcantrill can one of you guys take this?  Agree this is bad behavior.

[2015-01-31 17:29] smarterclayton commented on #780
Someone would need to work upstream to make the publish function usable by us.

[2015-01-31 17:29] smarterclayton commented on #780
But yes, this is on the the list for 3.0.

[2015-01-31 17:31] smarterclayton commented on #769
We should get something upstream to garbage collect pods that are in complete status after a minimum interval has passed.

[2015-01-31 17:31] smarterclayton commented on #752
Fixed

[2015-01-31 17:31] #752 closed

[2015-01-31 17:33] smarterclayton commented on #741
We should add this to the documentation - we're creating the dir, but a chcon is still necessary.  I'm a bit leery of the master chcon'ing automatically on start, but maybe there's something we can do only on create.

[2015-01-31 17:35] smarterclayton commented on #733
Leaving this open to cover expanding the validation range for builds again.  I think I have agreement upstream, but since these are converted to pods there's some risk in us accepting more range than what we create.

[2015-01-31 17:35] smarterclayton commented on #729
Is there an upstream issue created to track this?

[2015-01-31 17:36] smarterclayton commented on #724
Fixed

[2015-01-31 17:36] #724 closed

[2015-01-31 17:37] smarterclayton commented on #712
@mrunalp what's the status of this?

[2015-01-31 17:37] smarterclayton commented on #703
Fixed by #797

[2015-01-31 17:37] #703 closed

[2015-01-31 18:13] TomasTomecek commented on #769
Thanks guys! Will test as soon as something lands to git.

[2015-01-31 18:16] TomasTomecek commented on #733
Would be great if you could update docs with regex used for validation.

[2015-01-31 18:36] derekwaynecarr commented on #780
@smarterclayton - what is needed to make it usable by us?  If you have some thoughts I can make the change as part of my work creating the default namespace

Sent from my iPhone

[2015-01-31 18:44] smarterclayton commented on #780
Expose publish in pkg/master in a way that allows someone to define a maintained service.  Basically a "NewServicePublisher" that takes a function to define endpoints and one to define the service if it needs to be created.

[2015-01-31 18:59] derekwaynecarr commented on #780
Will pull something together monday.

Sent from my iPhone

[2015-01-31 21:08] bparees commented on #795
yeah, I can take it. But i'm not really sure how to track containers launched by k8s so we can clean them up in the event k8s barfs,  short of doing a docker ps compare before/after (which is subject to race conditions)

Any simple idea you had in mind?

[2015-01-31 21:30] smarterclayton commented on #795
They should all have a common prefix of k8s- I believe

[2015-02-01 06:30] phemmer opened #820 "management console invalid kubernetes URL with external kubernetes"
When using an external kubernetes (`openshift start --kubernetes=...`), the management console instructs the browser to contact kubernetes with invalid URLs. See the errors in the below screenshot.

Started as:
[code]

![image](https://cloud.githubusercontent.com/assets/1826947/5991258/cd44d3b2-a9af-11e4-9213-12c4718ee462.png)

So the javascript is telling the browser to use https, when kubernetes

[2015-02-01 06:38] mrunalp commented on #712
I believe with the stability changes that went into openshift-sdn the last week, it should work with it. I will try this out on Monday and update status.

[2015-02-01 07:14] jimmidyson commented on #741
I think it would be worth having the master chcon'ing on create, simply for ease of use. Understandable not to want to chcon on each startup, but on create should be fine & it's pretty much unusable without this tbh.

[2015-02-01 12:59] bparees commented on #795
Yeah that looks like it'll work, thanks.  PR for this: https://github.com/openshift/origin/pull/821

[2015-02-01 15:36] bparees commented on #795
@wyaeld Should be fixed now, please take a look and close the issue if you're satisfied w/ the fix.  Thanks for pointing this out!

[2015-02-01 16:42] smarterclayton commented on #741
Yeah, just need to detect whether chcon is available which is always a pain.

[2015-02-01 20:17] wyaeld commented on #795
Looks fixed, thanks all.

[2015-02-01 20:17] #795 closed

[2015-02-01 21:39] smarterclayton opened #824 "Controllers do not requeue events on transient errors"
All of the controllers currently have a serious flaw, in that none of them retry / requeue events when a failure occurs processing the event. This means that certain operations will not complete until the controller is restarted.

Stories need to be created for beta2 for deployments and builds individually that correctly handle errors (probably by simply requeueing the event that triggered the err

[2015-02-01 21:50] smarterclayton commented on #824
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L225 Is an example from the scheduler, where pods can be unordered.  Deployments need to ignore duplicates (but are set up to do so).  Builds will need a bit more work in the case of image changes

[2015-02-01 22:11] bparees commented on #824
I think both build+deployment scenarios where it's due to a new image will need some careful logic.

I assume that if we're currently retrying an operation that was triggered by newImage:v2 and we get a new event for newimage:v3, we should abandon the retry logic that's operating on newImage:v2.  If we don't, we end up with a race condition where the final outcome may be based on either newImage:v

[2015-02-01 22:23] smarterclayton commented on #824
Deployments aren't a problem because there is a resource version attached to the IR - if you process it at time T0, fail, put it in the queue, and then process a different T1, you can use resource version to ignore the earlier T0.  Builds and images should be possible as well - it's possible that writing the last image used to the trigger is wrong, and we should be writing the last IR version we s

[2015-02-01 22:24] smarterclayton commented on #824
Agreed, this needs careful thought and brainstorming.  We have to make sure the system converges forward where it can, and with things like builds and webhooks we do a best effort.

[2015-02-01 22:25] phemmer commented on #813
I added a quick and dirty proxy which seems to solve both this issue, and the console issue in #820.

https://github.com/phemmer/openshift-origin/commit/25507025d697a588091820f622164939f155389a

Haven't submitted as a PR as it's probably not release quality.

[2015-02-01 23:13] smarterclayton commented on #813
Thanks - I'll take a look tomorrow.  We probably want to put more sophisticated behavior (auth passthrough and delegation) around it eventually, but I want to get the base scenario up and working, and this is really close to that.

[2015-02-02 02:00] smarterclayton commented on #739
With #825 we should figure out how to run a variant of upstream test-cmd (or the equivalent tests).

[2015-02-02 12:55] bparees commented on #824
trello card for build side of things: https://trello.com/c/8tI8Hzh2/491-handle-error-conditions-in-build-controllers

[2015-02-02 13:56] ironcladlou commented on #729
Not yet, will discuss further today to make progress.

[2015-02-02 14:24] jstrachan opened #828 "allow custom service proxy container implementations to be configured/specified on a service"
the [kubernetes service model](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md) is awesome. However it'd be very handy to be able to configure on a per service basis the container image to be used to implement the load balancing and proxying.

e.g. a container image could implement a custom proxying or load balancing algorithm; implementing a master election or shard

[2015-02-02 15:08] ironcladlou commented on #729
@smarterclayton Trying to get my head back into this one: I seem to recall thinking that switching to k8s v1beta3 fixes this. True? If so, when will we be switching to use that internally? If it doesn't fix it or if it does but we won't be switching for a while, I'll have to come up with a fix for the old API versions.

[2015-02-02 16:34] ironcladlou commented on #729
@smarterclayton Talked to @derekwaynecarr and decided beta3 is too far out. I'll have to address this sooner.

[2015-02-02 18:51] ironcladlou commented on #729
This issue depends on https://github.com/GoogleCloudPlatform/kubernetes/pull/4025

[2015-02-02 20:01] smarterclayton opened #836 "Deployment is racing to update replication controller"
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_openshift3/772/artifact/origin/artifacts/e2e/logs/container-4b63c64b42ce.log

seeing these compare and swap problems.  A, we should be logging a better error (maybe we're not using etcderr.InterpretUpdateError), B, we should figure out what is it racing against, and C, we should retry on race in most cases.

[2015-02-02 20:01] smarterclayton commented on #836
@ironcladlou @abhgupta this is beta1 blocker and need to find someone to fix it

[2015-02-02 20:13] sosiouxme commented on #802
@thoraxe says it's not fixed.

"fix will only suppress the error" -- where is it suppressed? Should we expect "osc create -f" to work with minion defined in JSON or not?

[2015-02-02 20:22] smarterclayton commented on #802
Fixed in what?  Master?

----- Original Message -----

[2015-02-02 20:31] ironcladlou commented on #836
I'll take this.

[2015-02-02 20:37] sosiouxme commented on #802
With cec9653ffcc1b4befceb78d3d16a1434f4c9add2:

[code]

[2015-02-02 20:38] ironcladlou commented on #824
Trello card for deployments: https://trello.com/c/qDeHffOz

[2015-02-02 20:48] smarterclayton commented on #802
Derek's big changes landed today, I'm going to try and reuse.   That was the right fix anyway

[2015-02-02 20:59] jwforres opened #838 "Deployment trigger details is missing image name"
sample of the current encodedDeploymentConfig, where causes[0].imageTrigger only contains tag, no reference to the image name:

"encodedDeploymentConfig": "{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1beta1\",\"metadata\":{\"name\":\"database\",\"namespace\":\"test\",\"selfLink\":\"/osapi/v1beta1/deploymentConfigs/database\",\"uid\":\"ccaee025-ab05-11e4-bb4c-54ee75107c12\",\"resourceVersion\"

[2015-02-02 21:00] ironcladlou commented on #836
This is my theory: The DeploymentController updates the ReplicationController (deployment) to keep the deployment status in sync with the deployer Pod associated with the deployment. The deployer logic in the Pod does a GET for the deployment. By the time the deployer code tries to PUT the new replica count, the DeploymentController may have updated the status on the RC annotations (e.g. to move i

[2015-02-02 21:02] ironcladlou commented on #838
@smarterclayton I'll take this one, too.

[2015-02-02 21:26] smarterclayton commented on #836
Ok, so the client needs a merge operation that retrieves, checks that someone else hasn't set a size, and converges.  We talked about this upstream somewhere about having client merge util, but until then you can emulate it pretty easily.

----- Original Message -----

[2015-02-02 21:35] pmorie commented on #739
@smarterclayton I think we will have to curate our own cases for this.  In the situation that prompted creating this issue, I don't think running upstream's test-cmd against our binary would have been sufficient to catch the resize thing.

[2015-02-02 22:29] pravisankar commented on #802
@sosiouxme adding more context
osc/kubectl is passing 'default' namespace to all resources including 'node'
https://github.com/GoogleCloudPlatform/kubernetes/pull/3961 removed namespace validation for 'node' creation.
Later on, there was another change...we introduced ValidateObjectMeta() in the ValidateMinion which expects namespace *not* to be passed for 'node' resource.
I'm hoping Derek's chang

[2015-02-02 22:44] ironcladlou commented on #836
@pmorie @smarterclayton @pweil-

Some options here.

* Retry forever with backoff logic to prevent rapid spamming
* Retry up to a timeout or count, also with backoff
* Make the retry characteristics configurable as a new params for the recreate strategy

Thoughts?

[2015-02-02 23:06] pravisankar commented on #802
Tested node creation on latest k8s code (has Derek's changes) and it *worked* without any issues.
@smarterclayton should we rebase k8s code again?
coping @jwhonce @markturansky

[2015-02-02 23:11] pravisankar commented on #802
@jwhonce @markturansky we need to rebase k8s one more time

[2015-02-02 23:22] jwhonce commented on #802
@pravisankar That validation code is not on master so I believe we are covered.

[2015-02-03 00:12] smarterclayton commented on #836
Right now, for beta1, even a few retries with no delay or back off would be better than what we have.

----- Original Message -----

[2015-02-03 00:49] pravisankar commented on #802
@jwhonce validation code is on origin master (origin/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/api/validation/validation.go), we need derek's REST mapper scope changes(8b2eeafd4985c68275315ae), need to pull around 28 commits from k8s upstream.

[2015-02-03 00:49] mrunalp commented on #712
I tried this with openshift-sdn and am able to curl the lb-service to reach the backend which is running on another minion.

export OPENSHIFT_SDN='ovs-simple'

[code]

[2015-02-03 00:56] mrunalp commented on #685
Just tried this one as well (with openshift-sdn), two separate IP are created for the services

[code]

[2015-02-03 01:16] rajatchopra commented on #712
To clarify, plain 'vagrant up' uses the old GRE networking.
To use the new openshift-sdn, do the following -

[code]

[2015-02-03 04:49] smarterclayton commented on #813
#839 contains a commit very similar to yours, but I reorganized some of the other code so we can ensure calls get authorized at our level before being passed down.

[2015-02-03 04:49] smarterclayton commented on #820
@jwforres as we discussed today, I believe the solution is going to be the proxy.  Agree?

[2015-02-03 04:53] phemmer commented on #820
One thing I noticed when I was running the simple proxy I mentioned on #813 is that websockets don't appear to work right. After sitting on the page for a while (5-10 min, cant recall exact time), the browser starts trying to get a websocket connection over and over. I haven't tried the code in #839, but the core of it basically identical, so it might suffer the same issue.

[2015-02-03 04:56] smarterclayton commented on #820
All connections are terminated after 5 min - it's possible this is the corrupted http connection in the pool issue (we've hit it elsewhere).  If you get trace info let me know

[2015-02-03 05:46] phemmer commented on #820
It looks like the reverse proxy is stripping the websocket headers (stuck a tcpdump between openshift & kubernetes), so kubernetes is receiving a plain http request, and is responding with 200.

![image](https://cloud.githubusercontent.com/assets/1826947/6015071/018f20d4-ab3e-11e4-8f9f-a329ad2d0e8c.png)

[2015-02-03 08:04] mfojtik commented on #818
@smarterclayton I can take this

[2015-02-03 10:43] jstrachan commented on #828
Incidentally folks could obviously work around this by either

* adding the 'custom service proxy container' inside a Pod and not using the underlying Service directly
* write another service for the 'custom proxy' which then delegates to the original service; then there's 2 services in kubernetes.

Both of those options would work fine today. However in terms of making things easy to develop and

[2015-02-03 13:12] jwforres commented on #820
@phemmer you need to also specify --public-kubernetes during openshift start if you expect the mgmt console to communicate with the kubernetes API on a different host than you specified for --kubernetes

[2015-02-03 13:24] phemmer commented on #820
@jwforres does that mean you're against a proxy?

[2015-02-03 13:32] jwforres commented on #820
No, just saying there is already a parameter in place to let you specify what the public-kubernetes URL should be and the web console will honor whatever its set to.  You may still need the proxy for auth reasons.

[2015-02-03 13:38] pweil- commented on #836
I think a default retry count (maybe 3-5) and a wait between would be ok, with a check each time to see if the replication count has been updated.

This is actually pretty relevant to the changes I'd like to make to the auto-scaler proposal that mention the interactions with a deployer updating a replication count must be able to work in the context of other components updating replica counts.  (h

[2015-02-03 14:29] deads2k opened #844 "hack/test-end-to-end.sh doesn't kill openshift process"
I get messages like:
[code]

and then after the test is over, I see:
[code]

@smarterclayton Is this a personal problem?  I see that the kill changed in: https://github.com/openshift/origin/pull/822, but I don't want to just revert it if it's supposed to work.

[2015-02-03 14:30] deads2k commented on #844
Well, here anyway: https://github.com/openshift/origin/commit/2fbc30d2fb3778ffb62ba56ebfbd1169dd4498c0#diff-11587e7dcf72b238b397919567c4707e.  I seem to have followed the chain to the wrong pull somehow.

[2015-02-03 15:26] smarterclayton commented on #844
Cannot find process, eh?  Can you add `sudo ps -fo "%p %r %c %a"` right before and after the kill in your local copy and see if you can recreate?

[2015-02-03 15:27] smarterclayton commented on #844
This could be the "kill kills itself" issue people alluded to.

[2015-02-03 15:29] smarterclayton commented on #836
In the context here you don't need a wait - in a "race" you need to reread, check what has changed, and either proceed or fail immediately.  This is a write conflict, not necessarily a logic conflict.

----- Original Message -----

[2015-02-03 15:29] smarterclayton commented on #820
I think with the proxy we won't need public-kubernetes anymore.  However, we'll leave it in until someone comes up with a reason not to have it.

----- Original Message -----

[2015-02-03 15:36] deads2k commented on #844
[code]

[2015-02-03 16:40] goldmann opened #848 "Cannot use openshift cli in v0.2.1"
Running version tagged `v0.2.1`:

[code]

This set up was created using vagrant with these env variables set:

[code]

I cannot interact using `openshift` command:

[code]

[2015-02-03 17:51] mrunalp commented on #848
@goldmann Could you try with --server=http://localhost:8080 ? We need to fix it.

[2015-02-03 18:29] smarterclayton opened #852 "Create an openshift/origin-pause container which is identical to kubernetes/pause"
So we have release sanity.

Needs to be built and pushed by build-images and push-images. @brenton

[2015-02-03 18:30] ironcladlou commented on #729
@smarterclayton this one can be moved into the 0.3.0 (beta1) milestone.

[2015-02-03 18:51] ironcladlou commented on #838
@jwforres I just got back to this and realized that in the example you provided, there's no image change cause, only a `ConfigChange`. So, image trigger details would be unexpected. How'd you set up this test?

[2015-02-03 18:55] ironcladlou commented on #838
@jwforres nevermind, I found some examples of the bug from etcd dumps for the e2e test in Jenkins.

[2015-02-03 19:03] ncdc commented on #741
FYI I did this for STI a long time back (back when we were calling chcon) to check if SELinux is enabled and if chcon is available: https://github.com/openshift/geard/blob/24fcfed2beb2686f284822b308ef91c9834cb620/sti/selinux.go

[2015-02-03 19:03] ncdc commented on #741
@smarterclayton do you want me to port that code over?

[2015-02-03 19:21] sosiouxme commented on #802
@smarterclayton would be a little embarrassing not to have for beta1. though specifying --nodes isn't so bad if we don't want to rock the boat just now.

[2015-02-03 20:30] ironcladlou commented on #836
Resolved by #846

[2015-02-03 20:40] ncdc commented on #741
Something like this: https://gist.github.com/ncdc/9899169badda1792c229

[2015-02-03 21:10] smarterclayton commented on #741
Yeah, but chcon missing is ignored for other os (log at v(2))

[2015-02-03 21:43] hingstarne opened #856 "X509v3 Subject Alternative Name:"
Hi all,

when i inspect the master certificate i miss the fqdn of the master that is used in the cluster.
For inspection i use
<code>
openssl x509 -text -noout -in ./openshift.local.certificates/master/cert.crt
</code>

And the result is just giving me all the ip addresses of my system.

In the logs of a minion this leads to a quite self explaining error message

<code>
reflector.go:85] Failed to

[2015-02-03 21:48] ncdc commented on #741
PR for fix: #857

[2015-02-03 22:27] goldmann commented on #848
@mrunalp I'll check this early in the morning and get back to you.

[2015-02-03 23:04] phemmer opened #859 "Builder panics if Dockerfile missing"
[`docker.go` line 143 & 144](https://github.com/openshift/origin/blob/08ec9c1d558bb173720a654a304e3cae224d8416/pkg/build/builder/docker.go#L143-L144) isn't checking `err` (Bad @bparees :-P)
Causes a panic if the repo has no `Dockerfile` in it.

[2015-02-03 23:35] #818 closed

[2015-02-03 23:44] phemmer commented on #859
I can easily create a quick fix PR if desired. But if a test is needed, it won't be til tomorrow.

[2015-02-03 23:47] bparees commented on #859
https://github.com/openshift/origin/pull/860

[2015-02-03 23:48] bparees commented on #859
Thanks for the keen eye.

[2015-02-04 01:20] mrunalp commented on #848
@goldmann Thanks. I am working on a fix for the cli ports/certs issue and will update this issue when I have a PR.

[2015-02-04 02:58] smarterclayton opened #862 "Simplify example with 'start-build'"
Example does

Otherwise you can simulate the webhook invocation by running:

We can simplify that with `osc start-build ruby-sample-build`

[2015-02-04 02:58] smarterclayton commented on #852
Fixed and pushed upstream

[2015-02-04 02:58] #852 closed

[2015-02-04 02:59] smarterclayton commented on #856
If you set `--public-master` when the cert is generated, the cert should be available.  Is that the case?

[2015-02-04 03:03] smarterclayton commented on #844
I have a fix

[2015-02-04 03:04] smarterclayton commented on #844
Fixed by #863 probably

[2015-02-04 03:28] smarterclayton opened #865 "Integration tests are failing intermittently on build failure"
Failed to create build pod

[code]

[2015-02-04 05:03] smarterclayton opened #867 "Docker integration tests failing"
[code]

[2015-02-04 05:15] smarterclayton commented on #867
I don't think these ever got added to vagrant (we should be calling make test, but aren't yet).

[2015-02-04 05:15] #836 closed

[2015-02-04 08:15] goldmann commented on #848
@mrunalp With `--server=http://localhost:8080` **it works**.

Side note; when I tried to use `-s http://localhost:8080` - it does not work, I get this:

[code]

[2015-02-04 09:13] goldmann commented on #712
With openshift-sdn it does not work either.

You need to curl from inside of the container which is running on another minion. I'm using origin version tagged as `v0.2.1`.

[code]

Minion 1:

[code]

Minion 2:

[code]

[2015-02-04 13:14] bparees commented on #862
fixing in https://github.com/openshift/origin/pull/873

[2015-02-04 13:42] pweil- commented on #867
@smarterclayton - where/how. was this seen?  A quick local test on master shows that they're running fine in my local env.  The server message prior to the failures seems to indicate the test http server was stopped and the router was returning a 503, so finding the cause of that seems to be what I need to look at.

[code]

[2015-02-04 14:43] ironcladlou opened #874 "The deploymentConfig describer isn't aware of From field of image change triggers"
The CLI describer for deployment configs needs to be made aware of the new From field of image change triggers. It currently won't render the trigger details correctly unless using the legacy RepositoryName field.

[2015-02-04 15:18] ironcladlou commented on #859
This should be closed by #860.

[2015-02-04 15:28] pweil- commented on #867
never mind, think I found it.

[2015-02-04 15:33] #859 closed

[2015-02-04 16:24] ironcladlou commented on #865
I looked into this. Each of the `buildclient_test.go` tests spin up the build controllers. For example, `TestCreateBuild` is just asserting that creating a new Build persists correctly. But the controllers react to the new Build by creating a Pod, then updating the Build to sync its status with the Pod, etc. The test only cares whether the Build was persisted, and exits, causing deferred shutdown

[2015-02-04 17:17] phemmer commented on #813
Closing since #839 has landed.

[2015-02-04 17:17] #813 closed

[2015-02-04 17:50] pweil- commented on #867
actually, if the router was returning a 503 then it wasn't the pull item.  I can't reproduce this.  PR to do a pull if not present (so it works on a fresh vagrant up) and a PR to convert the vagrant plugin to use make are in.

[2015-02-04 18:22] #741 closed

[2015-02-04 18:52] bparees commented on #862
fixed.

[2015-02-04 18:52] #862 closed

[2015-02-04 19:21] smarterclayton commented on #844
Now is actually fixed.

[2015-02-04 19:21] #844 closed

[2015-02-04 19:22] smarterclayton commented on #820
@phemmer so basically the proxy needs to do upgrades?  @ncdc i knew we'd need it.

[2015-02-04 19:24] ncdc commented on #820
@smarterclayton good thing I have that working in my PR :smiley:

[2015-02-04 19:36] smarterclayton commented on #820
@ncdc breaking your upgrader out in a way we can consume it here would be good.

[2015-02-04 19:40] ncdc commented on #820
@smarterclayton which is higher priority, https://github.com/GoogleCloudPlatform/kubernetes/pull/3763 completed with test cases etc, or a separate upstream PR just for the proxy upgrades?

[2015-02-04 20:00] rajatchopra commented on #712
Works for me.
On master,

[code]

On minion-2,

[code]

On minion-1,
[code]

[2015-02-04 20:07] mrunalp commented on #712
@rajatchopra Maybe we need to look at @goldmann setup and debug it there?

[2015-02-04 20:33] goldmann commented on #712
Which revision do you use? I used the v0.2.1 tag. This is a fresh set up using:

[code]

[2015-02-04 20:40] hingstarne commented on #856
Thank you @smarterclayton .
This seams to work, but i assume this should be default behaviour because most of the user would prefer dns entries over ip adresses.

[2015-02-04 20:40] #856 closed

[2015-02-04 20:40] rajatchopra commented on #712
I did it off the master branch, Marek :)

[2015-02-04 20:41] goldmann commented on #712
I badly hunt for a stable revision so we at cloud enablement can base on something ;)

Any hints?

[2015-02-04 20:42] smarterclayton commented on #856
If you specify public-master - many of those other addresses should be removed (but aren't today).

[2015-02-04 20:43] smarterclayton commented on #712
Did your fixes get in before last night?  Then Marek can pull 0.2.2

----- Original Message -----

[2015-02-04 20:45] rajatchopra commented on #712
No fix was made.
I guess we need to look at goldmann's setup itself.

[2015-02-04 20:49] goldmann commented on #712
I'll give v0.2.2 a shot and get back to you ;)

[2015-02-04 21:32] goldmann commented on #712
I can confirm that with `v0.2.2` I can reach the service from any of the pods.

[2015-02-04 21:34] liggitt opened #887 "Starting node with --kubeconfig still uses auto-detected master address"
Run `openshift start node --kubeconfig=/openshift.local.certificates/admin/.kubeconfig`

Contents of .kubeconfig:
[code]

Node autodetects the local IP and uses it as the master address, ignoring the server addr in the .kubeconfig

[2015-02-04 21:41] smarterclayton commented on #887
Node should not auto detect in the presence of kubeconfig.  Node should probably only auto detect when no arguments set.

[2015-02-04 22:34] mrunalp commented on #848
Testing the fix right now. Expect to send a PR soon.

[2015-02-04 23:32] pravisankar commented on #802
@sosiouxme clayton merged needed changes, we should be able to add/remove nodes using osc.

[2015-02-04 23:40] smarterclayton commented on #802
Has anyone tested?

[2015-02-04 23:49] mrunalp commented on #712
@goldmann Thanks!

[2015-02-04 23:50] #848 closed

[2015-02-04 23:56] #799 closed

[2015-02-05 00:29] pravisankar commented on #802
I've just tested on my local machine and it worked as expected.

[2015-02-05 01:31] pmorie commented on #838
The incorrect behavior is that the `From` field of the image change trigger wasn't being considered while the triggers were matched against the deployment config.

[2015-02-05 04:10] liggitt opened #899 "Second startup of all-in-one takes 100 seconds to finish starting"
On first startup, a node is auto created

On second startup, the node exists, and messages about the node already existing are printed 10 times, 10 seconds apart, until it gives up and continues.
[code]

Looks like nodecontroller.go tolerated an "already exists" error until the latest upstream bump

[2015-02-05 04:13] liggitt commented on #899
@smarterclayton

[2015-02-05 04:14] liggitt commented on #899
Sample output:
[code]

[2015-02-05 04:21] smarterclayton commented on #899
We need to fix the loop thing that handles already exist.  Not sure why that didn't get fixed upstream.

[2015-02-05 04:54] smarterclayton opened #902 "STI build fails mysteriously"
[code]

[code]

[2015-02-05 04:54] smarterclayton commented on #902
Need a better error than that.

[2015-02-05 04:54] smarterclayton commented on #902
Tentative for 0.3.0

[2015-02-05 05:50] #899 closed

[2015-02-05 13:56] csrwng opened #908 "OpenShift won't run on boot2docker"
Log:

[code]
chcon is available because the base image has it (centos7). However, setting the context is not supported by the underlying OS (TinyCore). Running a centos7 container on boot2docker and attempting to run chcon, you get:
[code]

[2015-02-05 13:57] rawlingsj commented on #908
I've just seen this after updating and using a Fedora VM

[2015-02-05 14:07] csrwng commented on #902
Looking into it

[2015-02-05 14:44] csrwng commented on #908
Fixed with https://github.com/openshift/origin/pull/913

[2015-02-05 14:44] #908 closed

[2015-02-05 14:52] sosiouxme opened #914 "osc namespace fails"
On our RHEL 7 AMI with 1b21883c9c1f08c64221ec5e0b7ffa2b7e6951a3

    # osc create -f project.json
    national-parks
    # osc namespace national-parks
    Set current namespace to national-parks
    F0205 09:48:41.933715    5349 namespace.go:57] open : no such file or directory

You can edit `~/.kubernetes_ns` manually to change current namespace, but `osc namespace` just fails. Not sure if this

[2015-02-05 15:03] smarterclayton commented on #478
Believe this is now resolved

[2015-02-05 15:03] #478 closed

[2015-02-05 15:04] ironcladlou opened #915 "Pod resources specs aren't considered for deployment config diffs"
Follow-on to #911. Diffing pod resource specs has never been supported due to issues with the diffing algorithm used for the ConfigChange deployment trigger. Fix the algorithm to support pod resource specs and enable the ConfigChange trigger to fire when the resource fields are changed.

[2015-02-05 15:28] jstrachan opened #917 "provide a simple REST API to find the public IP / DNS / route of a service"
right now a service has a private portalIP and could have publicIPs; then it could have routes and could have DNS entries and other things. So its not totally trivial for a client to grok the public address.

It'd be nice if there was an easy REST API to be able to find the IP / host name(s) that should be used for a service given its name.  Similar to the endpoints addresses REST API; but to find

[2015-02-05 15:46] pmorie opened #919 "Show trigger details for latest deployment in describer"
Do it. :+1:

[2015-02-05 15:47] pmorie opened #920 "Show trigger details for latest deployment in describer"
It would be great if you could see the trigger details for the latest deployment in the describer.

[2015-02-05 15:56] #919 closed

[2015-02-05 16:05] pweil- commented on #867
@smarterclayton I think this can be closed or remarked beta2 since they script seems to run fine and we're waiting on beta2 for the plugin/makefile merge

[2015-02-05 16:19] bparees commented on #917
@pweil- @abhgupta can one of you take a look at this request?

[2015-02-05 17:34] pweil- commented on #917
@jstrachan - agree, the info is scattered between multiple objects at the moment and makes it difficult to grok.

There is currently an upstream issue that proposes a reorg of services for v1beta3 that includes route specs, dns specs, portals, and more.  https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-70044693

With that implementation, I think doing a GET on the service

[2015-02-05 18:06] jwforres commented on #887
https://github.com/openshift/origin/pull/926

[2015-02-05 18:59] sosiouxme commented on #914
Error is at https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/github.com/GoogleCloudPlatform/kubernetes/pkg/kubectl/cmd/namespace.go#L55 (for either use case, read or set, an error is returned) and doesn't seem to be affected by which user is running the command or whether selinux is enabled.

[2015-02-05 19:44] sosiouxme commented on #914
Latest word is that "osc namespace" is going away, to be experimentally replaced by "openshift ex config".

So, it should go away instead of breaking.

[2015-02-05 20:18] #874 closed

[2015-02-05 20:19] ironcladlou commented on #838
Resolved by #858

[2015-02-05 20:23] #838 closed

[2015-02-05 21:19] #915 closed

[2015-02-05 21:24] jwforres commented on #887
Fixed in #926

[2015-02-05 21:24] #887 closed

[2015-02-05 21:41] smarterclayton commented on #865
[code]

[2015-02-05 21:41] smarterclayton commented on #865
This is definitely a race in builds resulting in  failure.  The test needs to be more robust.  Dropping from 0.3.0.

[2015-02-05 22:10] thoraxe opened #933 "can create a project/namespace with a hyphen but builds blow up on the hyphen"
Given the following project:

[code]

When you try to do a build related to this project, the build fails with the following error:

[code]

I am using the app here:
https://github.com/thoraxe/simple-openshift-sinatra-sti

And using `openshift ex generate` inside its folder after removing the Dockerfile. In other words:

[code]

I don't understand how the namespace can be invalid if you can not on

[2015-02-05 22:42] csrwng commented on #902
So far I haven't been able to reproduce this. There's only 2 places in STI where we handle JSON and that's in restoring a config and posting a callback. Neither of which are likely in this case. The other place where this could be happening is in making a call out to Docker and Docker is returning this error.

[2015-02-05 22:45] smarterclayton commented on #902
So when you try with the posted build config it doesn't work?  Let me refresh my sti-builder

----- Original Message -----

[2015-02-05 22:52] csrwng commented on #902
Yes I tried building that buildConfig and it succeeds for me

[2015-02-05 23:00] smarterclayton commented on #902
`osc new-app openshift/ruby-20-centos~git@github.com/mfojtik/sinatra-app-example`

[2015-02-06 02:08] smarterclayton commented on #820
#924 should have resolved the websocket thing.

[2015-02-06 02:34] derekwaynecarr commented on #933
This is a bug in project validation that got out of synch with upstream.

A project name must be a DNS Subdomain, will create a fix.

[2015-02-06 02:47] derekwaynecarr commented on #933
Actually, this may not be related to the project validation (which was still not right), but with the build validation.

[2015-02-06 04:07] csrwng commented on #902
So the build worked for me both in boot2docker and a newly created Vagrant image (from the origin repository's Vagrantfile). In the Vagrant image, I ran ```yum update``` and set SELinux to enforcing.

[2015-02-06 13:28] thoraxe opened #936 "--images flag ignored for some components"
Given the following master options:

[code]

And given the availability of the image:

[code]

We can see that openshift/origin-pod still was fetched and was used:

[code]

[2015-02-06 13:54] thoraxe commented on #936
Looks like it needs to be specified for the node as well.

[2015-02-06 16:07] smarterclayton commented on #936
The help on the cli probably needs to be updated

[2015-02-06 17:40] csrwng commented on #902
@smarterclayton - PR is here: https://github.com/openshift/origin/pull/938

[2015-02-06 18:51] jcantrill opened #941 "Describe buildconfig from CLI has incorrect URLs for webhooks"
Started an all-in-one server, created the sample-app/application-template-stibuild.json, and then described the buildconfig, the webooks dont identify the right ports or protocol

[vagrant@openshiftdev sample-app]$ osc  --kubeconfig=../../openshift.local.certificates/admin/.kubeconfig describe buildconfig ruby-sample-build
Name:				ruby-sample-build
Annotations:			<none>
Created:			2015-02-06 18:4

[2015-02-06 19:47] smarterclayton commented on #936
Help in CLI fixed in #940

[2015-02-06 19:47] #936 closed

[2015-02-06 19:47] #902 closed

[2015-02-06 19:48] smarterclayton commented on #820
Assigning to Derek since he's going to own making sure this keeps working, any bugs that need to be squashed will be 0.4.0 track

[2015-02-06 22:22] smarterclayton commented on #933
This is the docker repository validation.  Docker doesn't let you push to dashed namespaces or names right now, and we're working with upstream to get the v2 registry to support them.

[2015-02-06 23:05] thoraxe commented on #933
Understood, but it still is kinda a problem so either:

1) We need to temporarily invalidate projects/namespaces with hyphens or

2) We need openshift to employ some logic such that it doesn't end up trying to build an image with a hyphen just because the project has a hyphen

Or something??

[2015-02-07 00:35] znmeb opened #944 "Convenience - deploy Windows archive as ZIP, not tar.gz"
Would it be possible to deploy the Windows releases as ZIP archive instead of tar.gz? ZIP archives can be extracted on modern Windows systems in the File Explorer, while a tar archive requires an added software install, for example 7-zip.

[2015-02-09 09:59] jimmidyson commented on #741
@smarterclayton @ncdc The PR doesn't seem to have helped at all. Running openshift/origin:latest, built 2 days ago.

[code]

[2015-02-09 13:52] smarterclayton commented on #741
We're those directories new when the daemon started up?  If chcon failed there should be a warning in the startup logs.

[2015-02-09 14:01] jimmidyson commented on #741
So I deleted /var/lib/openshift on the host & started a new Docker container for openshift - so yeah directory was created. I checked the logs & there was nothing in there about failing to run chcon which is a bit weird...

[2015-02-09 14:10] jcantrill opened #947 "OSC start-build does not work when running all-in-on with https"
Started all-in-one server with https

[code]
Created a buildconfig and tried to start a build
`$ osc start-build ruby-sample-build`

Connection refused:
[code]

The URL is completely wrong and should be something like:

[code]

[2015-02-09 14:33] ncdc commented on #741
I just saw this AVC denial:

[code]

[2015-02-09 16:15] thoraxe opened #948 "console doesn't show hostport for pod - only containerport"
The "hello-pod" example binds a hostport and a containerport, but the console doesn't show the hostport.

Shouldn't it?

[code]

[2015-02-09 16:31] #729 closed

[2015-02-09 16:32] ncdc commented on #741
Because we're bind mounting the host's Docker socket into the origin container, any Docker operation that uses a volume will result in the volume coming from the host. But if you don't bind mount /var/lib/openshift from the host into the origin container, you'll end up with most of the /var/lib/openshift content coming from the container (e.g. the generated certificates) but pod volumes coming fro

[2015-02-09 17:19] jimmidyson commented on #741
@ncdc Yes! I bind mounted /var/lib/openshift & all works perfectly. Thanks!

[2015-02-10 08:53] goldmann opened #960 "Vagrant fails at provisioning - Fedora's docker group is no longer used"
Since version `1.4.1-7` of `docker-io` package the `docker` greoup is no longer created or used to give access to Docker: http://pkgs.fedoraproject.org/cgit/docker-io.git/commit/docker-io.spec?id=3407f4ee223a1a0dabef04bbd434aafa6b5bfa5c

This version of Docker is currently pulled as part of the Vagrant provisioning making it broken at the same time.

I'll open a PR soon.

[2015-02-10 09:08] goldmann opened #961 "master fails to build with undefined: api.LivenessProbe"
When trying to compile master branch (rev c6bc95e62f68dbbf37bca4510b7c76c633cbf862) it fails with:

[code]

[2015-02-10 13:12] roberto-gomez opened #964 "osc skip tls verify"
Hello.

When I execute a command like `osc get pods` osc return a error like this

    F0210 16:07:04.021613     148 get.go:158] Get https://localhost:8443/api/v1beta1/pods?namespace=default: x509: certificate signed by unknown authority

If I use the option --insecure-skip-tls-verify=true when execute the command the error disapears, but I don't want to use the option in all commands.

There is a

[2015-02-10 14:17] jimmidyson opened #965 "Service/pod proxying not working"
Seems as though recent changes have broken the service & pod proxying available at `/api/v1beta2/proxy/*`. Simply returns 404s for every proxy request. This was working until recently & is of course very useful to have.

[2015-02-10 14:20] ncdc commented on #965
I'll take this

[2015-02-10 14:46] ncdc commented on #965
@jimmidyson since you mentioned on IRC that you're running OpenShift all-in-one, we actually didn't change anything in OpenShift itself related to proxying, other than we recently upgraded the version of Kubernetes that we bundle. It's possible something changed there. I tested on both Kubernetes master (from yesterday) and OpenShift master (from this morning), and here is what I see:

If you requ

[2015-02-10 15:09] ncdc commented on #965
See https://github.com/GoogleCloudPlatform/kubernetes/pull/4283

[2015-02-10 15:10] jimmidyson commented on #965
Thanks @ncdc!

[2015-02-10 19:33] smarterclayton commented on #961
You probably need to make clean.  When you checkout newer changes to Godeps they don't automatically rebuild.

[2015-02-10 19:34] smarterclayton commented on #964
Yes, you need to set up the KUBECONFIG file to point to the certs generated by the OpenShift server.  See http://lists.openshift.redhat.com/openshift-archives/dev/2015-January/msg00057.html for more on how to configure this.

@liggitt we may need to call this out in our README / contributing guide more.

[2015-02-10 19:37] smarterclayton commented on #947
start-build creates a new build directly.  It's not firing hooks.

[2015-02-10 19:38] smarterclayton commented on #947
The URL being wrong seems like you have a bad config somewhere on disk (or the KUBERNETES_MASTER or KUBECONFIG env vars set and pointing to an older file)?

[2015-02-10 19:39] smarterclayton commented on #944
It should be.

[2015-02-10 19:41] smarterclayton commented on #865
This is still happening and needs to be fixed - @mfojtik can someone from dev experience try to track this down?

[2015-02-10 19:56] smarterclayton commented on #733
Upstream now returns verbose messages, we will gradually improve what is returned by the api doc.

----- Original Message -----

[2015-02-10 20:38] #960 closed

[2015-02-11 05:07] uptownhr opened #972 "Progression Stop: examples/sample-app guide Step #4"
I'm not sure if this is a docker only issue but I've started the guide using the docker route. But when you get to Step '#4'.

[code]

The 3rd line here cannot be done.

First because hack/install-regsitry.sh from /var is not available.
Second, even if you download the hack/install-registry.sh to its location from the sample hack directory, you will receive an error.

[code]

Not sure if something

[2015-02-11 08:20] roldancer opened #973 "OpenShift V3 beta step by step document tation"
Hi all, is there any updated step by step documententation? I would like to try OpenShift V3 beta docker image (from docker hub) and samples.

Many thanks for you help.

[2015-02-11 10:43] soltysh commented on #973
The docs, although still under heavy development are [here](http://docs.openshift.org/latest/welcome/index.html), the repo of it is available [here](https://github.com/openshift/openshift-docs/). Besides that there's always up to date [sample-app](https://github.com/openshift/origin/tree/master/examples/sample-app). If you still have questions/problems feel free to reach out us at *#openshift-dev@

[2015-02-11 12:03] soltysh commented on #973
There are also some training materials [here](https://github.com/openshift/training/blob/master/beta-1-setup.md)

[2015-02-11 13:04] deads2k opened #976 "Update policy.md to match reality"
Changing denies, negations, and resourcegroups yesterday has drifted us away from what was described policy.md.

[2015-02-12 03:25] smarterclayton commented on #973
Closing with the links

[2015-02-12 03:25] #973 closed

[2015-02-12 03:26] smarterclayton commented on #972
@bparees

[2015-02-12 03:26] smarterclayton commented on #965
Will probably rebase tomorrow

[2015-02-12 03:57] derekwaynecarr commented on #965
We need to fix the proxy issue prior to this rebase.  Let's settle on solution.

Sent from my iPhone

[2015-02-12 03:59] bparees commented on #972
Not sure how you downloaded the install registry script but it sounds like you did not get the raw version. It does not contain html syntax.

[2015-02-12 04:00] bparees commented on #972
Will look into the other aspect of this issue tomorrow.

[2015-02-12 04:18] smarterclayton commented on #865
@mfojtik @bparees @soltysh can someone from dev experience take this and get it fixed ASAP?  Half of travis builds fail due to this.

[2015-02-12 04:19] smarterclayton commented on #40
Closing this for now - I don't think we have any short term plans to do work on this, but there's some interesting ideas in it.

[2015-02-12 04:19] #40 closed

[2015-02-12 04:20] smarterclayton commented on #134
Where are we on this?

[2015-02-12 04:21] smarterclayton commented on #141
Closing without prejudice - reopen upstream or suggest a fix.

[2015-02-12 04:21] #141 closed

[2015-02-12 04:21] smarterclayton commented on #228
This is now resolved.

[2015-02-12 04:21] #228 closed

[2015-02-12 04:21] smarterclayton commented on #230
We have this now.

[2015-02-12 04:21] #230 closed

[2015-02-12 04:22] smarterclayton commented on #267
Any update on this issue?

[2015-02-12 04:23] smarterclayton commented on #268
There's more documentation available on this now.  Is there something concrete that could be done today to improve this, or can we close this out?

[2015-02-12 04:23] smarterclayton commented on #365
Closing without prejudice - reopen if you continue to see this behavior.

[2015-02-12 04:23] #365 closed

[2015-02-12 04:24] smarterclayton commented on #405
As far as I know there's no progress on btrfs and selinux. OverlayFS work is proceeding, which should resolve the performance issues.

[2015-02-12 04:24] #405 closed

[2015-02-12 04:25] smarterclayton commented on #408
This is fixed.

[2015-02-12 04:25] #408 closed

[2015-02-12 04:25] smarterclayton commented on #419
Reopen if there is something still left to be done here.

[2015-02-12 04:25] #419 closed

[2015-02-12 04:26] smarterclayton commented on #431
We should be removing the auto label with Cesar's pull request #982

[2015-02-12 04:26] #431 closed

[2015-02-12 04:26] smarterclayton commented on #434
Reopen if this is not fixed.

[2015-02-12 04:26] #434 closed

[2015-02-12 04:26] smarterclayton commented on #489
This is resolved with osc updates and doc.

[2015-02-12 04:26] #489 closed

[2015-02-12 04:26] smarterclayton commented on #712
Reopen if similar issues recur.

[2015-02-12 04:26] #712 closed

[2015-02-12 04:27] smarterclayton commented on #683
Should be fixed now, please verify.

[2015-02-12 04:27] #683 closed

[2015-02-12 04:27] smarterclayton commented on #636
This is fixed.

[2015-02-12 04:27] #636 closed

[2015-02-12 04:27] smarterclayton commented on #633
Resolved.

[2015-02-12 04:27] #633 closed

[2015-02-12 04:28] smarterclayton commented on #603
I believe this is resolved, please reopen if you still see issues.

[2015-02-12 04:28] #603 closed

[2015-02-12 04:28] smarterclayton commented on #581
Fixed now.

[2015-02-12 04:28] #581 closed

[2015-02-12 04:28] smarterclayton commented on #565
Haven't seen this recur.

[2015-02-12 04:28] #565 closed

[2015-02-12 04:29] smarterclayton commented on #545
I fixed this earlier.

[2015-02-12 04:29] #545 closed

[2015-02-12 04:29] smarterclayton commented on #501
Status of this issue?

[2015-02-12 04:30] smarterclayton commented on #820
Marking as provisionally fixed, reopen if you hit anything.

[2015-02-12 04:30] #820 closed

[2015-02-12 04:31] smarterclayton commented on #867
Closing as it can't be reproduced anymore.

[2015-02-12 04:31] #867 closed

[2015-02-12 04:31] smarterclayton commented on #914
@fabianofranz will resolve this with the switch projects command.

[2015-02-12 04:45] uptownhr commented on #972
I was just following the guide step by step. I actually don't think there is a step that covers downloading the registry script.

[2015-02-12 04:46] uptownhr commented on #972
It assumes you have the repository cloned where the hack/ directory exists. However, running through the docker example, it starts from /var/lib/openshift and the registry is not availalbe

[2015-02-12 06:59] jimmidyson commented on #965
This particular issue is fixed upstream AFAIK.

[2015-02-12 07:03] jimmidyson commented on #405
Thanks. Been playing with overlayfs & looks very promising. Do you know
where I can track the state of selinux support for overlayfs?

On 04:24, Thu, 12 Feb 2015 Clayton Coleman <notifications@github.com> wrote:

[2015-02-12 09:18] mfojtik commented on #865
@smarterclayton @soltysh is going to have look on this, I will try to debug this as well today.

[2015-02-12 13:43] fabianofranz commented on #134
@smarterclayton Fixed, the issue can be closed.

[2015-02-12 14:34] bparees commented on #134
Still broken, though not as bad:
 openshift start --listen=http://0.0.0.0:8080 --volumeDir=mktemp -d --etcdBADDir=mktemp -d
unknown flag: --listen
<usage printed>

"--listen" is not a bad flag, but it's being reported as such.  etcBADDir is a bad flag and is not reported as such.

[2015-02-12 14:49] fabianofranz commented on #134
Ok, I didn't notice that scenario before. Working on a fix.

----- Original Message -----

[2015-02-12 15:07] bparees commented on #972
@thoraxe these are your "Run in a container" docs, you want to take a look?

[2015-02-12 15:52] thoraxe commented on #972
@uptownhr just to clarify:

You are following these instructions?

[code]

And then entering the running OpenShift container?

[code]

And having issues running hack/install-registry.sh ?

[2015-02-12 17:48] uptownhr commented on #972
That is correct.

On Thu, Feb 12, 2015 at 7:52 AM, Erik M Jacobs <notifications@github.com>
wrote:

[2015-02-12 19:33] bparees commented on #972
yeah the "run in a container" instructions have not been updated to reflect the new steps that use install-registry.sh.  i will see what i can do.

[2015-02-12 19:46] bparees commented on #972
Updated docs here, @thoraxe @uptownhr please take a look.
https://github.com/openshift/origin/pull/1002

[2015-02-13 04:20] lexlapax opened #1006 "user management features user stories and feature roadmap"
Although I've seen some direction around what the user / account / system management apis and corresponding back-end features look like..
In the [openshift_model doc](https://github.com/openshift/origin/blob/master/docs/openshift_model.md) and the [other](https://github.com/openshift/origin/blob/master/docs/proposals/capabilities.md) [docs](https://github.com/openshift/origin/blob/master/docs/prop

[2015-02-13 04:24] lexlapax commented on #1006
BTW, great job on getting to the beta 1 milestone, which has most of the container and deployment workflow bits almost figured out. I was testing it for the user and account features and APIs... I did look through the trello boards but saw a few issues scattered through different portions..  the request

[2015-02-13 14:23] bparees commented on #972
realized I missed a necessary director setup in that fix, will submit one more PR.

[2015-02-13 14:31] bparees commented on #972
fix here: https://github.com/openshift/origin/pull/1010

[2015-02-13 19:20] smarterclayton opened #1011 "hack/test-cmd.sh broken on newer Mac (maybe?)"
Mac seems to have problem with PEM format in curl or something?

[code]

[2015-02-13 19:30] bparees commented on #824
So i've done a study of the various build flows and come to the following conclusions:

First of all, this is all about creating a build/build pod.  it has nothing to do with the ultimate successful completion of that build.  (in case that's not obvious to anyone reading this).

With that in mind:
1) for webhook triggered builds (which are not queue-polling based anyway) we should not change thing

[2015-02-13 19:32] liggitt opened #1012 "Using generated cert/key with curl on OS X doesn't work"
This is failing test-cmd.sh, etc

Running `openshift start` and curling the API server is failing:
[code]

[2015-02-13 19:32] liggitt commented on #1012
/cc @smarterclayton @deads2k

[2015-02-13 19:42] liggitt commented on #1012
dupe of https://github.com/openshift/origin/issues/1011

[2015-02-13 19:42] #1012 closed

[2015-02-13 19:48] smarterclayton commented on #824
----- Original Message -----

Agree - if you don't see 200 from your web hook, you retry, or you're not guaranteed to get a build.

A future bit of work could be "identify items that are always failing and take punitive action", which is sending an event plus maybe blacklisting that item until the next resync.

Like.  I think of the controller loop communicating a certain error type back to the th

[2015-02-13 20:25] liggitt commented on #1011
from curl manpage:

we can create a p12 cert file like this:
[code]

What's less clear is when we should do this, or how to detect we need to use the p12 cert form

[2015-02-13 20:27] smarterclayton commented on #1011
Maybe I'll just add a CURL_PK12_ENCODE for the test stuff

[2015-02-13 20:46] liggitt commented on #1011
If you need to include the entire cert chain in the p12 cert, do this:
[code]

[2015-02-13 22:59] ironcladlou commented on #824
This is the issue I described in [4330](https://github.com/GoogleCloudPlatform/kubernetes/issues/4330). @smarterclayton, this is the main flaw I was trying to convey with using FIFO for retries. You can replace newer state with stale data in the queue. In the issue, I suggested one possible fix.

 requeue non-retryable failures)

Typed errors to drive pluggable retry mechanics makes sense to me.

[2015-02-13 23:19] smarterclayton commented on #824
Yes - you at minimum need to ensure you don't deliver new and then old, which is the implicit guarantee of fifo.  Solvable as you noted by removing retry items from the retry queue when a newer item is about to be sent to nextstep()

[2015-02-14 01:37] ironcladlou commented on #824
I hadn't even thought of maintaining a retry queue... What I had suggested as a possibility elsewhere was to support versioning inside FIFO so that FIFO would no-op attempts to push new items which are deemed stale according to a pluggable versioning function (for instance). Then you can just re-fetch and push into the queue on retry, and if you raced (and lost) with the reflector adding some upda

[2015-02-14 18:01] smarterclayton commented on #824
You are getting events from the source of truth, you don't need to refetch anything.  If you don't get an event, it didn't change.

[2015-02-15 19:57] smarterclayton opened #1020 "Coverage generation should run only after all tests complete"
Test pull requests and ami build is ~12 minutes longer due to html generation, but we only need to return html if the build succeeds.  Suggest generating in a separate step at the end

[2015-02-16 00:02] smarterclayton opened #1022 "custom-builder does not inherit from origin-base"
There seems to be no reason it could not, which would reduce overall build times.  Also, the comment at the top of the Dockerfile probably needs to be more precise.

[2015-02-16 02:26] bparees commented on #1022
Cleaned up here:
https://github.com/openshift/origin/pull/1023

[2015-02-16 02:55] bparees commented on #824
@ironcladlou I was thinking of a similar path (creating an AddIfNotPresent method on FIFO) but the problem there is that if the newer item on the queue was consumed before the retry logic tried to push the old one onto the queue, you'd end up processing the old state after the new state.  The only way to avoid that (that i've thought of) is for there to be only a single reader on the queue, and fo

[2015-02-16 02:58] smarterclayton commented on #824
If you're going to requeue, you fix fifo not to do that.  You resolve collisions via the resource version.  FIFO is poorly named, but the use pattern is "give me the latest version of X to react to".  A failure comes back onto the queue only if a newer item is not yet present.

[2015-02-16 03:05] bparees commented on #824
@smarterclayton that hits the first part of my comment, which is that it's only safe to assume FIFO will resolve collisions if you can guarantee the thing it would collide with is still on the queue...  if it was already consumed off the queue, then you've just requeued a stale event.

[2015-02-16 03:43] smarterclayton commented on #824
If it's not in the queue, it can't be stale, because the queue represents all changes.  The queue is truth.

[2015-02-16 03:53] bparees commented on #824
wow.  Every queue is a memory leak?  this is going to be interesting.

[2015-02-16 03:57] smarterclayton commented on #824
The event queue is all unprocessed events from a point in time.  A failure to process an event means that subsequent entries in the queue are a) newer and b) obviate the need to reprocess the old item.  I don't know what you mean by memory leaks - if you have a retry queue alongside your regular queue, and the failure to process an event puts it into the failure queue, the failure queue isn't a le

[2015-02-16 04:23] bparees commented on #824
i was referring to your statement that the queue represents all changes, but I see that is not quite what you really meant.

[2015-02-16 04:38] smarterclayton commented on #824
Right - if it hasn't passed through the queue, it did not happen, but we do have to bound the contents of the fail queue.  If we are filling the queue too fast, we probably would be better off with a poll anyway to bound our impact on the system.

[2015-02-16 13:56] bparees commented on #972
@uptownhr are you ok to close this?

[2015-02-16 13:58] uptownhr commented on #972
Sorry havent had a chance to try yet. Will tonight.

On 5:56AM, Mon, Feb 16, 2015 Ben Parees <notifications@github.com> wrote:

[2015-02-16 14:05] ironcladlou commented on #824
Assuming we make FIFO (or a variant) able to reject stale updates via resourceVersion (what I was advocating and what it appears @smarterclayton agrees with- correct me if I'm wrong):

@bparees

I believe this is okay as long as controllers using this construct are idempotent. For example, the deployment controllers should be smart enough to no-op with a repeated or outdated event. What's bas is t

[2015-02-16 14:46] ironcladlou commented on #824
@smarterclayton

@bparees

This is resolved by handling versioning inside the FIFO where the internal map can be locked. Additionally, If we had this capability, we don't need a separate retry queue.

The question right now is: how do we proceed? For now, I'm thinking we just re-queue on retry like the scheduler does, with a TODO acknowledging that there are races with the Reflector which can resu

[2015-02-16 15:19] smarterclayton commented on #824
Controllers that are forward idempotent are the kind we want - if our API objects have a non-forward idempotent behavior, then we need to redesign them.  Build web hooks should be our only at-least-once behavior today.  Deployments should be at-most-once.  Image triggers for deployments should be at-most-once, and ideally builds as well.  Route binding should be at-most-once.

----- Original Messa

[2015-02-16 15:20] smarterclayton commented on #824
----- Original Message -----

Retry without version-awareness removes our at-most-once guarantee.

[2015-02-16 15:34] ironcladlou commented on #824
But do you agree we can live with it for now (as does the scheduler) and address the problem next?

[2015-02-16 15:36] smarterclayton commented on #824
We're not the scheduler, we have ordering guarantees that have to be preserved.  Reordering stale before unstale in deployment would result in racy behavior.

----- Original Message -----

[2015-02-16 15:38] ironcladlou commented on #824
@smarterclayton

Do you agree that version handling in FIFO is the best way to address the problem for our needs? If so, should I be working on an upstream change, or do we need to introduce our own variant downstream for the time being? If not, what's the alternative design?

[2015-02-16 16:33] smarterclayton commented on #824
I don't care whether it's upstream right now, just as long as it has a path to go upstream.

----- Original Message -----

[2015-02-16 20:43] bparees commented on #1022
close?

[2015-02-16 20:58] #1022 closed

[2015-02-17 01:37] smarterclayton opened #1041 "Commands should not be creating their own factories"
@deads2k / @fabianofranz since the experimental commands have the most examples of this.  All commands should be taking a factory, and if necessary we need to move factory up and out of cli.

[2015-02-17 03:17] smarterclayton commented on #1041
Nevermind, I'm going to fix it... because I need a factory.

[2015-02-17 03:38] smarterclayton opened #1042 "Policy commands need some work"
A few things I noticed in the policy commands while making the changes to share a common factory:

* Lots of repetitive code in each command - you probably want to share much more of this
* Use describers or printers, not custom printing
* Common listing should work through `osc get`
* Take parentName and name as arguments
* Add a lot more CLI help

[2015-02-17 03:40] smarterclayton commented on #1042
Also, it's about time to document our common CLI patterns so people enforce it during reviews @liggitt @fabianofranz @mfojtik.  We should try to do that this week.

[2015-02-17 03:45] smarterclayton commented on #1042
One more

* Prefer `var something *Type` over `roleBinding := (*authorizationapi.RoleBinding)(nil)`

[2015-02-17 10:00] mfojtik opened #1044 "Building OpenShift took longer than before"
I've noticed this last week, the `./hack/build-go.sh` is taking a bit more than it was before. I wonder if there were some changes in the way we build or something I can turn off to make it build faster.

With 'make clean':

[code]

It used to be ~5s before. @smarterclayton any ideas?

[2015-02-17 10:33] jhadvig commented on #645
+1

[2015-02-17 18:56] smarterclayton commented on #1044
ask dan mace

----- Original Message -----

[2015-02-17 19:09] smarterclayton commented on #1042
Also

* Commands should take an `out io.Writer` as an argument so they can be tested.

[2015-02-18 00:43] smarterclayton commented on #1041
Fixed in #1052

[2015-02-18 00:43] #1041 closed

[2015-02-18 00:43] smarterclayton commented on #1011
Fixed by referenced, thanks

[2015-02-18 00:43] #1011 closed

[2015-02-18 00:45] smarterclayton commented on #1006
@lexlapax The answer is yes, but the use cases are scattered.  I think your feedback on 4 and 5 are critical - if you'd like to describe them here, we can draft a document which is a superset of the policy and authz / authn docs to capture them.

[2015-02-18 00:45] #976 closed

[2015-02-18 04:57] uptownhr commented on #972
thanks bparees, I am not able to progress. However, I am stuck again. I've continued onto step '#5' and some of the results are not matching up.

For example, osc get pods look like,
[code]

Also, osc get services look like,
[code]

And lastly, checking for client connection using curl looks like,
[code]

Here's the full step by step commands and outputs from my console.
[code]

Again, I really wi

[2015-02-18 08:23] akram commented on #581
Thanks, this seem to be fixed in Beta1

[2015-02-18 08:31] akram opened #1056 "Pods don't ever get rescheduled on minion crash/reboot"
Hi all,

I am still doing some tests by crashing minions, I got the following issue:

When a minion crashes the pods that were running on this minion never get rescheduled and remains at "Unknow" state until the minion reboot (and remains on their initial minion even after its reboot is completed)

- Start a clustered installation (works on AWS or VirtualBox)
- Wait for the cluster to be up and ru

[2015-02-18 16:24] bparees commented on #972
your registry did not deploy successfully, so nothing else is going to work.  have you been through the troubleshooting guide?
https://github.com/openshift/origin/blob/master/docs/debugging-openshift.md

[2015-02-18 16:26] uptownhr commented on #972
Have not. Lemme check it out and report back

On 8:24AM, Wed, Feb 18, 2015 Ben Parees <notifications@github.com> wrote:

[2015-02-18 17:45] blysik commented on #669
I had the same question.  We love OpenShift v2 to give our developers self-service deployments and a nice UI to handle many things.

How is that coming along in v3?  None of the articles I've read have mentioned anything about a console or dashboard.  (Unless I've missed it.)

[2015-02-18 17:50] lexlapax commented on #1006
Thanks @smarterclayton ,
I've started with a set of user stories that have been a particularly thorny issue for our IT and other deployments.. We can probably add to the basic user stories (and implementation notes) as we go along.

As a system operator, I would like to
- make an api call for CRUD operations (create/read/update/delete) on an account object in openshift
- make an api call for CRUD

[2015-02-18 19:33] jwhonce opened #1065 "Origin does not provide support for CloudProviders"
When creating a new NodeController `nil` is provided for the CloudProvider

https://github.com/openshift/origin/blob/master/pkg/cmd/server/kubernetes/master.go#L151

[2015-02-19 03:15] derekwaynecarr commented on #1006
/cc @liggitt @deads2k

[2015-02-19 03:18] derekwaynecarr commented on #669
/cc @jwforres

[2015-02-19 03:34] derekwaynecarr opened #1067 "Openshift start should fail if --kubeconfig file does not exist"
If user gives a --kubeconfig parameter on openshift start, if the file referenced does not exist, we do not appear to error out.

Tested with latest image on docker hub, will verify again in morning when running from HEAD

/cc @liggitt

[2015-02-19 04:32] liggitt commented on #1067
Will be fixed upstream in https://github.com/GoogleCloudPlatform/kubernetes/pull/4581
Will be fixed in origin in https://github.com/openshift/origin/pull/1068

[2015-02-19 04:41] smarterclayton commented on #669
We do indeed have a console, which will get features added over time to let you visualize and manage your applications.

Jessica, can you add a sentence or two to the readme so folks know to look for it?

----- Original Message -----

[2015-02-19 13:45] mfojtik commented on #1044
@ironcladlou ^^

[2015-02-19 14:46] jcantrill commented on #947
closing..tried again after pull and removing artifacts on disk....chaulking up to user error.

[2015-02-19 14:46] #947 closed

[2015-02-19 15:17] ironcladlou commented on #1044
Couldn't reproduce yet on OSX.

[2015-02-19 15:58] bparees opened #1073 "Use docker parsing when manipulating dockerfiles"
currently build/builder/docker.go does manual parsing of the dockerfile for some manipulation.  we should use docker libs instead for better safety.

@smarterclayton fyi.

[2015-02-19 16:00] mfojtik commented on #1073
@kargakis https://github.com/docker/docker/blob/640e0fc578e5acdaa71216a300396dfa9af8054f/builder/parser/parser.go

[2015-02-19 16:14] smarterclayton commented on #1073
In general, we also need more test cases and coverage on this area (if we're rewriting Dockerfiles)

----- Original Message -----

[2015-02-19 16:21] smarterclayton commented on #1044
I haven't noticed a significant reversion - we should still be doing a single go install to build the binary, so either it's something changed related to that, or the size of the binary / things we compile dramatically increased.

----- Original Message -----

[2015-02-20 01:36] smarterclayton commented on #1044
@ironcladlou this is why:

[code]

[2015-02-20 03:14] smarterclayton commented on #1056
This is by design.  Pods aren't rescheduled, instead a node would be marked unhealthy or dead and the pods would be considered dead.  This is an upstream item, although I don't have an issue number tracking it.

[2015-02-20 03:16] smarterclayton commented on #961
I believe this was just due to the Git timestamp issue - no one else has reported.

[2015-02-20 03:16] #961 closed

[2015-02-20 03:17] smarterclayton commented on #1065
We should take an env var and include selected cloud providers -can you prep a list of what we would include?  Some of them have lots of dependencies

[2015-02-20 09:27] EricMountain-1A commented on #1056
@smarterclayton are you refering to GoogleCloudPlatform/kubernetes#1366?

[2015-02-20 13:53] ironcladlou commented on #1044
Clean build is 19s for me, incremental is 5s.  Of course adding more targets increases the size.

Two things we could do:

1. Only build image binaries during make-release (I don't like this: you won't know you broke stuff until you run make-release)
2. Just run `hack/build-go.sh cmd/openshift` if you only want to build the openshift binary.

Thoughts?

[2015-02-20 13:58] mfojtik commented on #1044
@ironcladlou 2) is ~ 12s for me which is reasonable :-) thank for this hint

[2015-02-20 14:58] soltysh commented on #865
@smarterclayton can we close this for now or is it still happening?

[2015-02-20 15:40] kargakis commented on #1073
Track process here: https://github.com/openshift/origin/pull/1079

[2015-02-20 16:33] smarterclayton commented on #1044
----- Original Message -----

No one ever changes those.  I'd prefer you make this change.

[2015-02-20 17:02] liggitt opened #1080 "new-project only allows lowercase dns names as project names"
[code]

If we're going to require lowercased dns names for projects, should new-project lowercase and set the original name as a display name if it differs from the lowercased version?

@deads2k

[2015-02-20 17:11] liggitt commented on #1080
Hmm... if we normalize project names to lowercase in `new-project` to satisfy name validation, we need to be really careful. Namespace is not validated/normalized currently, so the following does weird things:

Fails with invalid project name:
`openshift ex new-project NewProjectName --admin=foo`

Creates project, namespace, and rolebinding in namespace with lowercase name:
`openshift ex new-proje

[2015-02-20 17:52] liggitt opened #1083 "Recreating a deleted project cannot add admin using new-project"
Deleting a project leaves its resources and policy in place (which is a different issue)

Recreating a deleted project fails assigning admin because the 'admin' rolebinding already exists

[code]

As a user, I'd expect `new-project --admin ...` to be equivalent to `new-project`+`add-user` calls, but `add-user` is better at adding the user to the role, regardless of what role bindings are in place.

[2015-02-20 17:52] liggitt commented on #1083
@deads2k

[2015-02-20 18:01] akram opened #1084 "Inconsistent behaviour when creating template: components (rc or template or pod) are not always created"
Hi,

I am working with the master version and since a few days, we got inconsistent behaviour when trying to rebuild our test environment with template creation:

We've made test with the following versions:
openshift v0.3.1-123-g4d53fef
kubernetes v0.10.0-503-gc977a45

as well as:
openshift v0.3.1-123-g4d53fef-dirty

So, when using the following template: https://gist.github.com/anonymous/faa63e3

[2015-02-20 20:01] sosiouxme opened #1089 "docker containers lose route to outside after an iptables restart"
If I restart iptables, docker0 routes get nuked. Then containers can not reach the outside world until docker is restarted. I'm not sure whether this would exactly be considered a bug or a "don't do that"  but we could at least mention it in the [troubleshooting guide](https://github.com/openshift/origin/blob/master/docs/debugging-openshift.md).

[code]

Then inside a container...
[code]

[2015-02-20 20:43] smarterclayton commented on #865
It's still happening.

----- Original Message -----

[2015-02-20 20:43] smarterclayton commented on #1056
Yes, that is the issue that should cover eviction.  Thanks for finding it.

----- Original Message -----

[2015-02-20 22:31] smarterclayton commented on #1084
That label selector doesn't look valid - labels don't allow mixed case right now.

[2015-02-20 22:32] smarterclayton commented on #1080
Ugh

[2015-02-21 00:02] liggitt commented on #1080
@derekwaynecarr do you have an opinion on namespace validation when the API processes normal commands (either requiring the namespace validate as a DNS name, and/or requiring the namespace entity to exist)

[2015-02-21 16:04] yin opened #1098 "Etcd removed by running make clean"
Running make clean should not remove etcd installed by hack/install-etcd.sh

To reproduce:
1. Run:
    ```hack/install-etcd.sh```
2. Run:
    ```make clean```
3. Run:
    ```hack/test-end-to-end.sh```

Desired effect: Test should run, not complaining about missing etcd binary.

[2015-02-21 17:01] akram commented on #1084
Thanks
Should the parser raise an error I'm that case ?

Sent from mobile

[2015-02-21 22:32] smarterclayton opened #1099 "Give builds and build pods meaningful names"
Builds are currently generating a UID for their name.  The build launch code should be using the GenerateName field on the Build object to provide a prefix (that gets randomly generated by a suffix) to have a name.

[2015-02-23 02:24] bparees commented on #1099
Providing a value for the GenerateName field I understand, but "that gets randomly generated by a suffix" i do not...  what are you proposing we use as the value for the GenerateName field (which is the prefix as i understand it)

[2015-02-23 02:26] smarterclayton commented on #1099
Right now a bunch of things are being named with uids.  I just want everything to have a meaningful name.

[2015-02-23 10:12] soltysh commented on #865
Linking https://github.com/openshift/origin/pull/1092 as this relates.

[2015-02-23 11:35] soltysh opened #1102 "Rename 'Clean' to 'Incremental' in v1beta2"
As a reference see https://github.com/openshift/origin/pull/1101

[2015-02-23 11:44] akram commented on #1084
I've changed my test case, removing the mixed cases labels, and I still get the same behaviour

[2015-02-23 13:15] deads2k commented on #1080
To be clear, this isn't new-project. This is validation for creating any project: https://github.com/openshift/origin/blob/master/pkg/project/api/validation/validation.go#L16.  I presume it's done to match the restriction requirements on namespace.

[code]

So we probably want to decide what to do about illegal namespaces on the command line.  Errors?

[2015-02-23 13:49] liggitt commented on #1080
Let the validation and errors happen server-side. Looks like namespace validation needs to change globally upstream, which will be exciting, I'm sure

[2015-02-23 13:50] liggitt commented on #1080
The only namespace validation I could see doing client-side is preventing `.` and `..`, since that can mess up the actual URI of the request sent to the server.

[2015-02-23 13:53] deads2k commented on #1080
Ah, kapi.ValidNamespace, doesn't do what you'd think it should do:  https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/context.go#L77.

[2015-02-23 16:21] TomasTomecek commented on #769
Just created a simple python script for removing old pods, because this is starting to be a real issue for me (my VM chokes after having ~30 active pods -- networking collapses after having so many network interfaces).

Could you please give me a simple howto regarding go code organization (e.g. "create a clean function for this struct and put it to module X and call it from module Y") so I can se

[2015-02-23 16:27] smarterclayton commented on #769
Succeeded pods should be stopped.  That's probably just a generic bug.  Can you describe the scenario here and I'll create an upstream issue to track it?

----- Original Message -----

[2015-02-23 16:32] brenton commented on #769
I just want to mention that I've seen this quite a bit too with the infrastructure pods.  I run lots of builds and when I'm down there are dozens of them still running, leftover from previous builds.

[2015-02-23 16:33] TomasTomecek commented on #769
1. create build via API
2. build starts
3. build succeeds
4. container `/pod` is still running

openshift v0.3

[2015-02-23 18:53] smarterclayton commented on #769
Opened this as https://github.com/GoogleCloudPlatform/kubernetes/issues/4731

[2015-02-23 19:08] bparees commented on #1099
https://github.com/openshift/origin/pull/1114

[2015-02-23 20:16] smarterclayton opened #1115 "Build logs for completed builds are broken"
https://github.com/GoogleCloudPlatform/kubernetes/pull/4373 looks like it has a very aggressive check (only running containers can be shown), which means you can't see logs for completed pods.  I think we need to figure out upstream how to be able to run "the logs for pod X for the last attempt".  @bparees can you assign someone to this to look into it?

[2015-02-23 20:17] smarterclayton commented on #1115
[code]

[2015-02-23 20:18] ncdc commented on #1115
Also see https://github.com/GoogleCloudPlatform/kubernetes/issues/4640

[2015-02-23 20:44] bparees commented on #1115
@smarterclayton how close are we to having a centralized log store?  that is really the right answer here and would also free us from the "we can never remove a completed pod" constraint we currently operate under.

[2015-02-23 20:45] ncdc commented on #1115
@bparees talk to @jwhonce and also see https://trello.com/c/keg2JJOq/278-8-log-retrieval-metrics-beta3

[2015-02-23 20:52] smarterclayton commented on #1115
I think we'll always (3.x) want to be able to go to the nodes for active and recent logs.  There's a latency issue involved with centralized logs, as well as access control, complexity of config, etc.

----- Original Message -----

[2015-02-23 21:34] thoraxe opened #1117 "[RFE] for pods with bound hostports, show them in the web console"
Currently on both the "browse" tab as well as the pod list, any bound hostports are not shown.

For example, given the following pod definition:

[code]

You will see 8080 being bound inside the container, but not 6061 on the host.

[2015-02-23 22:31] bparees commented on #1115
With upstream reverting the breakage, build-logs should work again.  For the longer term question of how pod logs should be handled in general, i think that's better handled by the infrastructure team.. @jwhonce ?

[2015-02-23 23:12] bparees commented on #1099
close?

[2015-02-24 02:38] liggitt opened #1120 "Sweep name validation for all object types"
Objects which are permissive in their allowed names must ensure that path traversal is not possible in calculated etcd keys, or will cause problems when making API calls to URLs with the name as a path segment.

I came up with the follow restrictions for users (https://github.com/openshift/origin/pull/1110):
Cannot equal `.` or `..` (prevents path traversal by normalization)
Cannot contain `%` (pr

[2015-02-24 02:46] liggitt commented on #1080
@derekwaynecarr was it intentional that project name validation is more strict than namespace name validation? Looks like projects use `IsDNS952Label` and namespaces use `IsDNSSubdomain`, which is less strict (allows leading digit, or internal periods, I think).

[2015-02-24 02:56] liggitt commented on #1080
A lot of the weird issues around https://github.com/openshift/origin/issues/1080#issuecomment-75277554 and mixed-case namespaces would go away if all our objects used ValidateObjectMeta... that ensures consistency with lower-case namespaces.

[2015-02-24 06:19] smarterclayton commented on #1080
Yeah, we need to do that soon.  Was hoping we could cut over to generic etcd in one swell foop.

[2015-02-24 10:14] ppalaga opened #1123 "Cannot install docker registry on a cluster with master and one minion"
Steps to reproduce:
[code]

The docker log on minion-1 is the only place where I could see something suspicious happening: https://gist.github.com/ppalaga/ba12ac5a6e4c42e5fbd2#file-docker-log

Docker seems to pull and create openshift/origin-pod, v0.3.2 sucessfully around https://gist.github.com/ppalaga/ba12ac5a6e4c42e5fbd2#file-docker-log-L317 , but I am not able to tell from the log what happens

[2015-02-24 11:37] derekwaynecarr commented on #1080
It should not be more restrictive.  Will review this.

Sent from my iPhone

[2015-02-24 14:18] kargakis opened #1125 "osc get --help returns kubectl get usage"
[code]

[2015-02-24 14:53] brenton opened #1126 "kube proxy not handling OpenShift master restarts"
Here's what I do to reproduce this:

1. revert commit 914315fef47423a9d7513e6b2cf0a3a003910546 since it was breaking sti builds in my environment.
1. Run the latest Master / Node in separate processes
1. Install the docker-registry
1. Use 'ex generate' on https://github.com/ryanj/node-echo
1. Start a build
1. When it finished you will be able to curl the service created by the kube proxy.
1. At th

[2015-02-24 15:14] brenton commented on #1126
It doesn't seem like reverting the commit in step 1 is needed now.  It shouldn't have been related anyway.

[2015-02-24 16:24] brenton commented on #1099
Resolved by https://github.com/openshift/origin/pull/1114

[2015-02-24 16:24] #1099 closed

[2015-02-24 17:20] kargakis commented on #645
I'll take a stab at this @bparees @mfojtik

[2015-02-24 17:33] bparees commented on #645
we have a trello card for this.
https://trello.com/c/5Rr4IjMl/423-5-build-output-streamed-back-to-user-after-starting-build-build-beta3

[2015-02-24 20:24] mfojtik commented on #1125
this should be fixed upstream (make command name configurable) dunno if
upstream will want that change.... @smarterclayton ?
On Feb 24, 2015 3:18 PM, "Michail Kargakis" <notifications@github.com>
wrote:

[2015-02-24 20:38] mfojtik commented on #1123
@smarterclayton any ideas?

[2015-02-24 21:32] ppalaga commented on #1123
Using current master f4221c5 and `openshift ex registry --create --credentials="/vagrant/openshift.local.certificates/admin/.kubeconfig"` instead of `hack/install-registry.sh` does not help.

[2015-02-24 22:22] kargakis commented on #645
@bparees Then there are two Trello cards for this
https://trello.com/c/UM1HyjKY/490-5-make-buildlogs-more-sophisticated-build-future
Anyway, do I have to somehow register for this via Trello? Or wait until the next sprint? Or is it assigned to someone else?

[2015-02-24 22:35] bparees commented on #645
@kargakis since you joined post-planning for this sprint and don't technically have a card, feel free to start working on this.  You need to join the trello board and then we can assign it to you (currently owned by @jhadvig but i don't think he'll mind).  Come friday we'll officially plan the card for next sprint so it gets doc+QE in that sprint.

[2015-02-24 22:41] kargakis commented on #645
Great, @jhadvig is cool and I think he prefers to maintain STI images. ;P

[2015-02-24 23:08] bparees commented on #645
we will add MAINTAINER to his titles along with FIRE MARSHAL.

[2015-02-25 05:34] smarterclayton commented on #1125
We should wrap and change the description

[2015-02-25 06:34] smarterclayton commented on #1102
Not sure Incremental is the best word, but agree with the context change.

[2015-02-25 06:35] smarterclayton opened #1135 "Against upstream, self link generation on RAR and SAR objects failing"
Unable to rebase, seeing these appear endlessly when hack/test-cmd.sh runs.  @deads2k, did you have an upstream pull for returning the error that resthandler.go can ignore?

[code]

[2015-02-25 08:31] akram commented on #1084
@smarterclayton thanks for tagging it. I confirm you that template creation does not work anymore, even by returning to lower case only for labels

[2015-02-25 09:00] goern opened #1137 "doc: broken link in examples readme"
hi there,
at https://github.com/openshift/origin/blob/master/examples/README.md the link to Guestbook application is broken or should be removed

[2015-02-25 11:15] soltysh commented on #1102
@smarterclayton I'm open for suggestions, we need to come up with some kind of negation of Clean, so it's `false` by default. Incremental seemed the most natural IMHO.

[2015-02-25 13:18] jhadvig commented on #645
ack
@bparees also maybe a new instruction for Docker ? :P

[2015-02-25 15:43] csrwng opened #1142 "output.DockerImageReference is not stored in build when launching a build that has an output.To image repository defined"
@bparees FYI

[2015-02-25 18:33] bparees opened #1147 "Lacking extended build tests"
A lot of build scenarios are currently untested, we need to add some extended tests that validate various build permutations (docker, custom type builds, builds with no output defined, etc).

these are hard to run as mocked integration tests since we really need to run the sti/docker build code to ensure everything is processed correctly, so the right solution is probably to create something like

[2015-02-25 21:39] thoraxe opened #1151 "sample app still uses ruby-20-centos and not centos7"
There was just a discussion in the training repo about this. Looks like the sample app sti build JSON still uses the old image.

eg: https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-stibuild.json#L114

[2015-02-26 02:32] bparees opened #1154 "imagerepos broken for multiple tags w/ same imageid"
This commit: https://github.com/openshift/origin/commit/361cdea6819f960d39b19f69a1c08ae04257ed2e#diff-5471a801fd55d5af2f431056b6d24254

appears to have made it such that you can't push two different tags for the same image...(ie tag an image as "test" and then later push a prod tag for that same image).

You can see here that my repo does not contain the prod tag, and the json for what is being pu

[2015-02-26 06:11] mfojtik commented on #1147
+1

[2015-02-26 06:16] smarterclayton commented on #1154
We should definitely let you tag it multiple times, just not create it (filter out duplicates).  Creating one that already exists and is identical should be "success"

[2015-02-26 08:54] mfojtik opened #1157 "Vagrant up is broken (centos_7_virtualbox.box is missing)"
~/go/src/github.com/openshift/origin → vagrant up
Bringing machine 'openshiftdev' up with 'virtualbox' provider...
==> openshiftdev: Box 'centos_7_virtualbox_inst' could not be found. Attempting to find and install...
    openshiftdev: Box Provider: virtualbox
    openshiftdev: Box Version: >= 0
==> openshiftdev: Adding box 'centos_7_virtualbox_inst' (v0) for provider: virtualbox
    openshiftdev:

[2015-02-26 08:56] mfojtik commented on #1157
nvmd. it seems my `.vagrant-openshift.json` needs updating...

[2015-02-26 08:56] #1157 closed

[2015-02-26 09:08] mfojtik opened #1158 "Random integration test failures"
Today I noticed this again:

[code]
(full log: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_openshift3/1040/console)

This issue appears to be random, if I change something in my PR and push again, the Jenkins will merge without problems. Since this happened pretty often I think someone should take a look and investigate...

@bparees @smarterclayton @soltysh FYI

[2015-02-26 09:59] soltysh commented on #1147
+1

[2015-02-26 10:24] soltysh commented on #1158
My fears were around the same image being used in two separate test files ([comment](https://github.com/openshift/origin/pull/1138#issuecomment-75971828), although each test is run in separate process and tests are run sequentially ([comment](https://github.com/openshift/origin/pull/1138#issuecomment-76117775)) we are using under the cover only one etcd deamon. In that case using exactly the same

[2015-02-26 10:28] jhadvig commented on #1151
@thoraxe there is a PR prepared which is fixing this:
https://github.com/openshift/origin/pull/1121

[2015-02-26 12:37] sosiouxme opened #1161 "`openshift start master` should not automatically create a node entry"
While it is helpful for `openshift start` to automatically add `$(hostname -f)` as a node for the 30-second all-in-one startup scenario, this is not desirable when starting just the master; nodes should be added explicitly, and we can't assume the master will be one. The self entry in that case is likely to confuse and, being defined automatically, may not specify resource availability consistentl

[2015-02-26 13:57] ncdc commented on #1154
I have a fix for this

[2015-02-26 13:58] ncdc commented on #1154
It's part of a larger refactoring effort, however. I'll try to submit a PR today.

[2015-02-26 14:07] smarterclayton commented on #1154
Do we need larger refactors right before beta2?  The answer can be yes if the arguments are good enough :)

[2015-02-26 14:14] ncdc commented on #1154
It's for https://trello.com/c/ZPKh3cBp/296-3-management-of-historical-image-repository-tags-imageregistry-beta2. Do you want a small PR to fix just this issue?

[2015-02-26 14:27] ncdc commented on #1154
I've got a small PR to fix this coming right up in a few minutes :-)

[2015-02-26 14:33] smarterclayton commented on #1158
We should be deleting everything in etcd before each test.  If not, that's something to be fixed in the test case

[2015-02-26 16:12] brenton commented on #1161
+1

[2015-02-26 17:39] kargakis commented on #1125
`osc update --help`, `osc log --help`, and `osc delete --help` do the same thing as well

[2015-02-26 18:04] kargakis commented on #1125
I'll wrap them all and submit a pr most probably tomorrow

[2015-02-26 18:15] jwforres commented on #1117
Fixed in #1153

[2015-02-26 18:15] #1117 closed

[2015-02-26 22:12] larstobi opened #1171 "UI: don't respawn many websockets on failure indefinitely"
When running an OpenShift v0.3.2 master with Safari v8.0.3 (10600.3.18), an untrusted certificate may cause Safari to run an infinite loop trying to connect to a WebSocket with TLS on the master with 100 tries per second.

It will log on the master: https://gist.github.com/larstobi/7fe6af82f0a2521658b0
which is from this line of code:  https://github.com/openshift/origin/blob/master/pkg/cmd/server

[2015-02-26 22:37] liggitt commented on #605
@smarterclayton what's the priority on this... deleting a project and having all the resources and permissions continue to chug along is... unexpected

[2015-02-26 23:00] sosiouxme opened #1175 "`openshift ex registry` and similar should enable easy updating"
Should someone make a mistake, like say not adding the right --images when creating the infrastructure component, it should be easy and obvious how to back that out.

Right now, for the registry, it means deleting the DC, the service, and the pod, and then _restarting the master_ to clear the service cache if you tried to use it at any point before realizing your mistake. This is far from obvious

[2015-02-26 23:03] derekwaynecarr commented on #1175
+1 - I ran into this many times over the past week.

[2015-02-26 23:47] derekwaynecarr commented on #605
@liggitt - I spoke with upstream team and they are supportive of the ability to ask a Namespace to gracefully terminate and as part of that process it would delete all resources in that namespace.  Requires a NamespaceController to drive that process to observe when a Namespace has been asked to terminate, do the clean-up, and then do the final deletion.  The general statement from upstream was th

[2015-02-26 23:49] derekwaynecarr commented on #605
My vote is we need to fix this before 1.0, and it's in a position that is easier to fix now than some other areas.

[2015-02-27 00:23] smarterclayton commented on #605
It's definitely something valuable, but it doesn't block a lot of use cases right now.

[2015-02-27 01:13] #1154 closed

[2015-02-27 01:57] bparees commented on #1142
fixing this here: https://github.com/openshift/origin/pull/1155

[2015-02-27 13:11] liggitt commented on #1083
Fixed via #1173

[2015-02-27 13:11] #1083 closed

[2015-02-27 15:53] brenton commented on #1161
https://bugzilla.redhat.com/show_bug.cgi?id=1191357

[2015-02-27 16:08] sosiouxme commented on #1175
Forgot to mention, ImageRepositories get the docker-registry service inserted as the default as well. So definitely best to re-create while keeping the same service.

[2015-02-27 16:21] soltysh commented on #1158
Just double checked, we are calling `deleteAllEtcdKeys` in all the tests wherever we require etcd, especially the ones mentioned in this issue. I guess we'll wait for the other occurrence of the problem.

[2015-02-27 20:31] bparees commented on #1147
Closing this as we'll handle it in trello:
https://trello.com/c/j4UFRiUN/511-5-more-extended-build-tests

[2015-02-27 20:31] #1147 closed

[2015-02-27 21:07] sosiouxme opened #1189 "osc needs a version too"
For those who may just have the osc client (don't have / aren't aware of "openshift" binary)... it needs a command to indicate its own version like `openshift version` does.

[2015-02-28 03:00] bgrant0607 commented on #663
Why not just a volume in a pod? The registry should stay on the same node so long as the node doesn't disappear for more than 5 minutes, or if it were started using a file on the node.

[2015-02-28 04:43] smarterclayton commented on #663
I think the use cases are more transient storage where reuse is valuable but not required.  Things like build caches, temporary work dirs, etc (where you verify the local cache matches your needs anyway).  In this case we were reusing a registry across runs of an end to end test and the reuse of the local volume was an optimization.  In our case it was a hard reference to a volume in a host dir, c

[2015-02-28 20:24] smarterclayton commented on #1175
It should be trivially easy to edit a dc from the cli.  That's the real problem here.  We should show more info about what you are creating (types as part of the output) and allow the normal "it exists" to tell you how to change them.  Once config reconciliation is possible, we should allow that to be applied.

[2015-03-01 19:05] rawlingsj opened #1193 "Error when trying to start builds"
Using the latest openshift docker image I'm now unable to start a buildConfig using `osc start-build example-camel-cdi-build`.  The error in the openshift logs is..

[code]
This buildConfig works using tagged version 0.3.2..
[code]

[2015-03-02 01:40] bparees commented on #1142
fixed.

[2015-03-02 01:40] #1142 closed

[2015-03-02 04:48] #1125 closed

[2015-03-02 10:25] soltysh commented on #1193
The problem is currently being discussed upstream, see https://github.com/GoogleCloudPlatform/kubernetes/issues/4825.

[2015-03-02 10:39] rawlingsj commented on #1193
Thanks @soltysh, is it worth me leaving this issue open or is it best to close as a duplicate?

[2015-03-02 10:47] soltysh commented on #1158
Still applicable, see https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_openshift3/1081/

[2015-03-02 10:52] soltysh commented on #1193
I think, since we track this problem already upstream, it'll be in origin upon next rebase after getting it solved there, I don't think it makes sense to have it here. Still big thanks for the heads up :+1:

[2015-03-02 10:54] rawlingsj commented on #1193
Sounds good, thanks.

[2015-03-02 10:54] #1193 closed

[2015-03-02 13:46] jhadvig commented on #1151
@thoraxe fyi https://github.com/openshift/origin/pull/1121 got merged

[2015-03-02 13:55] kargakis commented on #1189
How can someone have/use `osc` without the `openshift` binary?

[2015-03-02 14:33] kargakis commented on #1137
This has been fixed [here](https://github.com/openshift/origin/pull/1143)

[2015-03-02 14:47] sosiouxme commented on #1189
If you download any of the releases at https://github.com/openshift/origin/releases then "osc" and "openshift" binaries are included (they are the same, but different name and not a symlink). The user could then feel free to delete "openshift" if they don't want to run their own service and just use osc. Or they might just move it into /usr/bin or whatever - in any case, there is no link to the "o

[2015-03-02 14:52] ironcladlou commented on #824
I think we should go ahead and close this issue as resolved, and spawn new issues for any problems that arise with the recently added retry implementations.

[2015-03-02 14:57] bparees commented on #824
the build controller update hasn't merged yet: https://github.com/openshift/origin/pull/1194

[2015-03-02 15:07] ironcladlou commented on #824
Oops, sorry! Jumped the gun

[2015-03-02 15:15] mfojtik opened #1198 "sti-builder binary needs a version"
The 'sti-builder' binary we use to trigger the STI builds should have `--version` option (or it should be printed into build log. This helps with investigating issues caused by outdated images, etc. Also it will improve the bug reporting as we will know from what STI version the builder is based from.

[2015-03-02 15:15] mfojtik commented on #1198
@soltysh @bparees FYI

[2015-03-02 15:18] sosiouxme commented on #1175
Good point; regardless of what mechanism gets us to the desired state,  updating is what we really want.

[2015-03-02 15:30] kargakis commented on #1189
I've added a [fix](https://github.com/openshift/origin/pull/1199) for this.

[2015-03-02 16:19] sosiouxme opened #1200 "Double quotes in help for `openshift start --images`"
[code]

Double quotes here under bash or similar shell would result in shell expansion of ${component} and ${version} (probably to the empty string) rather than passing them as part of the images template string as desired. Under most shells we would expect single quotes to be appropriate.

The double quotes are cobra defaults. Recording the ensuing conversation:

-----

-----

-----

-----

[2015-03-02 16:19] soltysh commented on #1198
:+1:

[2015-03-02 16:19] kargakis commented on #1198
Should I incorporate this into my [pr](https://github.com/openshift/origin/pull/1199) about osc version?

[2015-03-02 16:40] bparees commented on #1198
@kargakis sure.

[2015-03-02 16:57] kargakis commented on #645
Track process here: https://github.com/openshift/origin/pull/1197

[2015-03-03 04:02] sosiouxme commented on #1189
Thanks.

[2015-03-03 04:02] #1189 closed

[2015-03-03 12:02] kargakis commented on #1198
I guess this can close now.

[2015-03-03 12:09] kargakis opened #1209 "Volume error in Vagrant"
When I stop the Openshift server, nuke openshift.local.* and try to restart it again in Vagrant I get the following error:
[code]

[2015-03-03 18:32] #1161 closed

[2015-03-03 20:24] rawlingsj opened #1214 "[deployment config] stuck endlessly creating pods that will error"
I've got a deployment config that is deploying an image however there's an error in the pod when it's starting.  At first I didn't notice it but after a while I checked and I had thousands of Exited containers, this causes high CPU usage by docker and eventually my machine became unresponsive.

Would there be any value in having a max number of deployment attempts attribute or something else to pr

[2015-03-03 20:53] brenton commented on #1115
@thoraxe, this is what you were hitting.

[2015-03-04 17:59] #1067 closed

[2015-03-04 18:01] smarterclayton commented on #965
Should be fixed now

[2015-03-04 18:01] #965 closed

[2015-03-04 18:29] ironcladlou commented on #1044
@smarterclayton Please assign this one to me.

[2015-03-04 20:53] soltysh commented on #408
@smarterclayton  this is still on my TODO list, and looking at [sources](https://github.com/openshift/origin/blob/master/pkg/build/api/types.go#L23) proves that's still not handled properly yet.

[2015-03-05 10:31] jstrachan opened #1228 "add a build completed notification so that we can chain builds together to make a Deployment Pipline"
TL;DR; add a new build trigger kind to BuildConfig, so a build B can be triggered if build A completes succesfully. i.e. OpenShift would automatically fire the web hooks for build B if build A completes without having to hard code the web hook of B into the build docker container of A.

Now the background...

To implement [Continuous Delivery](http://en.wikipedia.org/wiki/Continuous_delivery) we n

[2015-03-05 11:08] kargakis opened #1229 "Add command line utility to output build dependencies of a specific image repository"
cc: @csrwng @smarterclayton @bparees

Opening this issue to sync with [this](https://trello.com/c/52pEs31Q/510-add-command-line-utility-to-output-build-dependencies-of-a-specific-image-repository) Trello card.

@smarterclayton I was thinking of going straight to the dot stuff. There is a library that can make things very easy: https://godoc.org/code.google.com/p/gographviz
What do you think?

[2015-03-05 12:10] kargakis commented on #1229
Also how should I name this utility?

[2015-03-05 13:01] bparees commented on #1229
it should be a command under the experimental command set...   "build-tree" or "build-chain" would be my first name ideas.

btw i don't know that we need an issue and a trello card for this, we can discuss it in the card.

as for the specific format, let's get Jay to weigh in.  i'll send a note.

[2015-03-05 13:05] kargakis commented on #1229
WIth some luck I'll turn this into a pull request.

[2015-03-05 14:19] jcantrill opened #1232 "Add name length validations to project creation"
Ran into an issue where I was able to create project 'foo', but unable to push to the local docker registry because the name was too short.  Add name length validations to project creation, server-side, and possibly to the client create project command.

Per @ncdc ref as the current restrictions are in flux:
https://github.com/docker/distribution/blob/master/registry/api/v2/names.go#L16
https://gi

[2015-03-05 14:32] derekwaynecarr commented on #1232
Origin will proxy the namespace create request in Kube, so in theory, we can provide our own more restrictive validation once the docker registry constraints are better known.  In practice, I am not a fan of needing to align project name validation with docker registry validation rules.

Is it not possible to adapt a project name to a valid docker registry name?

For example, if the project name i

[2015-03-05 14:47] ncdc commented on #1232
@derekwaynecarr we could do that. However, if someone wanted to pull from/push to their image repository in our registry, they'd have to know the padding rules, as `docker pull registry.openshift.com/a/myapp` will fail.

[2015-03-05 14:53] derekwaynecarr commented on #1232
If the padding rule is to meet a min-length of 2, it's not a lot of padding, so I am less concerned there.

I am more concerned on the max length constraint of 30 characters.

Kube restricts at a much higher level:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/util/validation.go#L52

[2015-03-05 14:54] ncdc commented on #1232
I'm not overly concerned about 30; we're working with Docker to get that increased.

[2015-03-05 14:54] derekwaynecarr commented on #1232
So if we need to provide our own more restrictive validation that a project has a length between 2 and 30 characters, we can do that, but it limits our ability to expose any existing namespaces in Kuberentes as projects if/when Origin runs as pod on an existing Kubernetes cluster.

[2015-03-05 16:30] #1073 closed

[2015-03-05 19:20] deads2k opened #1234 "check Context for expected fields in find_rules.go"
Several method calls require either a user or a namespace or both.  Tighten methods to require those values be set at runtime.

[2015-03-05 19:37] sdodson opened #1236 "Nodes showing ready despite SSL errors"
A node shows as ready as long as /healthz returns a 200, however if I've done something like rebuild my certificate store and I haven't propagated the new CA to the node it cannot reach the API and shouldn't be marked as ready.

I imagine /healthz shouldn't return a 200 if a node is unable to reach the master.

[2015-03-05 19:44] brenton opened #1237 "`osc build-logs` is blocked by the default policy"
This originally came from https://github.com/openshift/training/issues/33:

[code]

[2015-03-05 19:48] soltysh commented on #1228
Actually, this is partially possible with STI builds, since plain STI has an option to specify a CallbackURL ([see here](https://github.com/openshift/source-to-image/blob/master/docs/cli.md#callback-url)). The only thing needed for this to run would be to give a user option to specify that callbackURL and update the payload to match the one accepted by the generic webhook (at least partially).
@bp

[2015-03-05 19:52] jstrachan commented on #1228
@soltysh Ah great find! I guess I'm asking for the same CallbackURL support for other kinds of builds. For STI builds that generate new docker images, we can use the docker image trigger anyway.

Its more for other kinds of builds that don't generate docker images (e.g. soak tests / regression tests) that we really need a CallbackURL on success

[2015-03-05 20:03] bparees commented on #1228
@jstrachan STI builds and Docker builds both produce images in which case you should use the ImageChangeTrigger to kick off the next build in line (as you mention).

So that leaves CustomBuild which would be what i'd expect you to use for test type patterns...in that case your Custom builder image itself could invoke the generic webhook.  You could specify the webhook via an ENV var defined on the

[2015-03-05 20:48] deads2k opened #1239 "osc log fails"
When running as a project admin, `osc log pod` results in
[code]

Proxying for `osc log pod` builds a URL that tries to hit a minion, `/api/v1beta1/proxy/minions/deads-dev-01/containerLogs/test/database-1-rsn1t/ruby-helloworld-database?follow=false`. Since that is non-namespaced and we don't want project admins mucking around with minions, we have to come up with some way of authorizing this reque

[2015-03-05 20:51] ncdc commented on #1239
I'm guessing this would also fall under https://trello.com/c/YC6ri7qQ/380-13-implement-a-secure-proxy-for-logs-remote-execution-and-other-node-level-services-security-codefreeze, right?

[2015-03-05 21:11] #645 closed

[2015-03-05 21:40] #1237 closed

[2015-03-06 01:58] ramr opened #1242 "Openshift router pod (docker container) doesn't reap zombie processes"
The openshift router pod running the openshift/origin-haproxy-router:v* image does not reap the haproxy zombie processes. Its probably not a big deal for now - but we will hit process limits when this list of unreaped children grows - dependent on how often the /var/lib/haproxy/reload-haproxy reload script is called.

[code]

[2015-03-06 01:58] ramr commented on #1242
@pweil-  fyi.

[2015-03-06 05:10] smarterclayton commented on #1242
Sigh

[2015-03-06 05:11] smarterclayton commented on #1236
Can you open this upstream?

[2015-03-06 05:13] smarterclayton commented on #1228
We originally had this in geard - I agree that "non output" style builds could be useful.

Do we need to make builds serial and atomic before we do this?  Otherwise your triggers may be out of order or conflict.

[2015-03-06 05:14] smarterclayton commented on #1214
I think that's reasonable.

[2015-03-06 07:13] jstrachan commented on #1228
@bparees yeah, I'm talking about CustomBuild (sorry I should have been more clear). I agree its technically possible to hack it right now by adding custom build triggering into each CustomBuild docker image; but its quite ugly hack really. Imagine Jenkins folks saying "yeah we could do that - or you could just go off and hack this into every known jenkins plugin instead....".  These builds are gon

[2015-03-06 09:11] jimmidyson commented on #1228
Adding a new build trigger of `BuildCompleted` referencing another build config to define that a build should be triggered after a successful build should quite easily allow for a linear build pipeline, hooking into wherever is best (perhaps setting up a build watcher) to trigger the next build.

To get a more complex pipeline (e.g. fork/join, rescue, retries, etc) we would probably need a `BuildP

[2015-03-06 09:12] ejemba opened #1243 "JSON Validation on API calls"
Some users warn that error messages we get from malformed json on API calls are unclear. So they spent time to debug their json input.

I propose to add something like json-schema ( http://json-schema.org ) with the go associated library ( https://github.com/xeipuuv/gojsonschema )

JSON Schema allow to validate an input JSON against a schema definition. And we get fine grained error messages.

For

[2015-03-06 10:16] soltysh commented on #1228
I think there are two UC defined here:

1. notify external system when build completes
1. notify OpenShift when build completes

Although I'm aware of the overlap between the two, since OpenShift could be configured using generic webhook to listen for the newly added build complete event, it's rather hacky since current webhooks expect information about source code being changed and that was their

[2015-03-06 10:20] jstrachan commented on #1228
@soltysh agreed with all that.

On the deployment part; I figure build pipelines would ultimately either create new image versions or add tags to images created at the start of the pipeline; so that the existing DeploymentConfig image trigger would be enough to trigger deployments in some namespace from some build pipeline.

e.g. a build pipeline could start creating a new image; perform test buil

[2015-03-06 10:25] soltysh commented on #1228
There's a WIP by @ironcladlou  in the topic of deployment hooks, see https://github.com/openshift/origin/pull/1224

[2015-03-06 10:36] jimmidyson commented on #1228
@soltysh I didn't really consider deployments. You're right that deployments need to be included as there could be subsequent steps that require the deployment, take the example of load or soak test: deploy, trigger build to run tests against deployment, pass, success, next build (which could be production deployment).

For now we could build this iteratively to just provide a simple pipeline that

[2015-03-06 13:46] pweil- commented on #1242
Hrm, well that's troublesome since we're checking for a pid file and sending finish signals in the restart if we found it:

[code]

[2015-03-06 14:19] jstrachan opened #1244 "support parent/child namespaces for service discovery"
we've been trying to figure out ways to provision things like ElasticSearch, InfluxDB, Keycloak and so forth for OpenShift V3 customers. There are 2 extreme scenarios: providing services for the administrators of OpenShift themselves versus application developers inside a namespace (different groups/teams in prod/dev/test etc).

In many ways we want to share services across as many namespaces as p

[2015-03-06 14:36] jstrachan commented on #1244
I guess this general idea is like having organisations in authentication; a way of grouping namespaces and sharing services between them

[2015-03-06 14:38] jstrachan commented on #1244
a similar but unrelated issue on this topic. We've a really nice [Arquillian based integration testing framework for kubernetes](http://fabric8.io/v2/testing.html) that can easily perform java / junit based integration tests of kubernetes replication controllers / services / pods.

It works by creating a new namespace for each integration test; which is great. However it'd be nice if we could asso

[2015-03-06 14:40] ironcladlou commented on #1214
@rawlingsj

Thanks for the use case. Do you mean that your deployment config contains a pod template which references a docker image which will always error when a container using that image is started?

[2015-03-06 15:07] pweil- commented on #1242
Some thoughts:

1.  the plugin is the entry point for the image, it executes the reload commands
2.  the plugin could be modified to reap child processes - this introduces os specific code with syscall
3.  maybe the docker container can be set up differently so that haproxy is running under an init process that can reap?

cc @pmorie

[2015-03-06 15:21] #1044 closed

[2015-03-06 16:12] bparees commented on #1228
I spoke with @smarterclayton about this and the approach we agreed on is to implement a "webhook on build complete" feature where you will be able to specify webhooks to invoke when the build successfully completes (adding options to invoke it on failure also would be possible but i'd rather see if we can get away w/ just success for now).

for build chaining that would mean you'd add a webhook on

[2015-03-06 16:13] TomasTomecek opened #1245 "CLI parser reports wrong incorrect option"
Tried this command:
[code]
and it said
[code]
which is obviously wrong, because there's no `--require-authentication=true`, not `--listen`.

git master, 0.4.0 too

[2015-03-06 16:22] soltysh commented on #1228
I'm OK with using the generic as long as we make it really generic either by expanding all the information it can hold, or rather create a generic information about the source of the invocation,
currently there's git info [in it](https://github.com/openshift/origin/blob/master/pkg/build/api/types.go#L322-L328).

I'd vote for having just some generic info in there.