[2017-11-07 18:01] spadgett commented on #17130
OK, so it only impacts behavior of foreground deletion? It might not be needed then.

My main concern is that the secret is eventually garbage collected.

[2017-11-07 18:01] jim-minter commented on #17223
**Failed to get master API version: error: server took too long to respond with version information.**

The PR in question included 58076ba560828b50c15ed250de75044b4c8283a1 - not possible that a longer timeout is required?

[2017-11-07 18:07] spadgett commented on #17130
Closing since `blockOwnerDeletion` isn't needed for garbage collection

[2017-11-07 18:07] #17130 closed

[2017-11-07 18:33] jwforres commented on #17221
/assign @juanvallejo

[2017-11-07 18:47] #16726 closed

[2017-11-07 19:07] juanvallejo commented on #17221
@fabianofranz I think this is something that will be solved once we switch `get` to use tabular output returned from the server: https://github.com/kubernetes/kubernetes/pull/40848

[2017-11-07 22:25] pmorie opened #17228 "Flake: deploymentconfigs with enhanced status [Conformance] should include various info in status"
Test flake found in CI testing for https://github.com/openshift/origin/pull/17205:

[Feature:DeploymentConfig] deploymentconfigs with enhanced status [Conformance] should include various info in status [Suite:openshift/conformance/parallel]

Link to build: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17205/test_pull_request_origin_extended_conformance_gce/11012/

[code

[2017-11-07 22:28] stevekuznetsov commented on #17228
Seems like a client failure? Weird.

[2017-11-07 22:29] pmorie commented on #17228
Yeah, i saw the same test flake earlier with a more conventional failure.

[2017-11-07 23:04] smarterclayton commented on #17139
#17229 fixes it so that we reuse all built artifacts automatically unless we're doing a clean build.  The splits will be handled elsewhere.  After that merges, the new jenkins jobs from @csrwng can simply run build-rpms without clean and get incremental artifacts respected.

[2017-11-08 01:35] npiper commented on #17182
Found this article which helped just for demoing EFK locally, I'm on a single mac-os so didn't want to set up a full blown clustered install (yet):

https://stefanopicozzi.blog/2016/11/29/logging-with-openshift/

`oc cluster up --logging=true` - sets up EFK to start - not sure if is this using the same template?

[2017-11-08 01:50] #17074 closed

[2017-11-08 03:36] GrahamDumpleton opened #17230 "Secrets for binding created by template service broker using service IP and not service name."
When using OpenShift builtin PostgreSQL template in 3.7.0-rc.0, with template service broker enabled, the secret created for database credentials, using the service IP in the ``uri`` variable, when it really should use the service name.

![image](https://user-images.githubusercontent.com/507637/32530396-16a60aee-c492-11e7-9e2a-62270448eca5.png)

##### Version

[code]

##### Steps To Reproduce

Dep

[2017-11-08 05:01] ccll commented on #16529
I'm facing the same issue here.
I deployed a gogs (git server) in my Openshift cluster, the pod exposes 2 ports where 3000 for HTTP and 22 for SSH access, but the route object can only expose 1 of the 2 ports to external world.

[2017-11-08 06:18] gamkiller77 commented on #16529
Yah see this is the key problem with this setup. Great use case but there no simple solution.

Andy del Hierro
From the power of an iPhone 7 Plus

[2017-11-08 06:18] kamran000 commented on #17193
@bparees Thanks issue resolved by redeploying Docker Registry with default image and parameters.

[2017-11-08 06:18] #17193 closed

[2017-11-08 07:27] tanaka-takayoshi opened #17231 "OpenAPI Spec enhancement request"
[provide a description of the issue]

##### Version
3.6 (not depends on client/server, only on the spec file on the GitHub)
https://github.com/openshift/origin/blob/release-3.6/api/swagger-spec/openshift-openapi-spec.json

##### Steps To Reproduce
1.  Creating a client library with [autorest](https://github.com/Azure/autorest)

##### Current Result
-[Fatal]Error generating client model: Please spe

[2017-11-08 09:04] budhrg opened #17232 "VMware fusion reference need to be removed from https://www.openshift.org/minishift/"
`VMware fusion` driver was never properly tested in Minishift and we are dropping its support now. See https://github.com/minishift/minishift/pull/1643.

Please update the page https://www.openshift.org/minishift/ as well.

NOTE: I couldn't find the code from where above documentation is being rendered. Hence, creating here.

/cc @csrwng

[2017-11-08 09:25] slaskawi commented on #17103
@csrwng Indeed that was the disk! It turned out that we used NFS on our CI environment which is quite slow (I benchmarked it using `sysbench fileio`). Thanks again for a really good pointer.

However I still think it might be a good idea either to expose a timeout option (since the server was still booting up when it received timout; if it had had 1 or 2 more minutes it would have booted up) or ch

[2017-11-08 09:33] LalatenduMohanty commented on #17232
Please open the issue in https://github.com/openshift/openshift.org.

[2017-11-08 10:20] dylanBehetre commented on #17169
There is no build, when I click on Start build, i just have this :
![image](https://user-images.githubusercontent.com/10670549/32543731-be0d5fba-c476-11e7-91b0-a810a80af67a.png)

[2017-11-08 11:41] speedfl opened #17233 "Router: Origin client IP is lost if behind a proxy"
[provide a description of the issue]

##### Version
3.6.0

##### Steps To Reproduce
1. Create a simple server and log the X-Forwarded-For
2. Deploy in openshift
3. Make a request

##### Current Result

If client is behind a proxy the ip of this proxy is provided

##### Expected Result

If we look at the documentation of [X-Forwarded-For](https://en.wikipedia.org/wiki/X-Forwarded-For#Format) the fo

[2017-11-08 11:57] miminar commented on #17223
I could reproduce similar issue when shortening the timeout to 100 milliseconds. So I guess increasing to a second will be enough. Done by #17235

[2017-11-08 12:05] xiaods commented on #17233
any sample config. it will help to debug.

[2017-11-08 12:13] xiaods commented on #17180
kubernets err?

[2017-11-08 12:20] xiaods commented on #17231
need more steps.

[2017-11-08 12:21] coffeetalkh opened #17236 "504 bad gateway error on php-fpm"
I had used Openshift Dockerfile strategy for a Laravel project with PHP-FPM and Nginx. I created a container with docker and everything worked fine. I could access the project and routes, But on the other side when I built this project with Openshift, the POD started to run but I couldn't access the Nginx defined routes. And after a while browser returns ```504 bad gateway error```.

In addition,

[2017-11-08 12:27] speedfl commented on #17233
Hello

I did not deployed any custom rooter so I suppose I am using the default rooter template coming with default openshift installation with ansible (1 master, 1 node infra and 1 node for application)

[2017-11-08 12:48] dylanBehetre commented on #17169
I find this in journactl :
[text.log](https://github.com/openshift/origin/files/1453884/text.log)

It's interesting, i will explore it.

[2017-11-08 13:49] zonArt commented on #9584
It case it may interest anybody: I found the solution in RedHat KB:
https://access.redhat.com/solutions/3019071
I never thought you needed to also specify the port in case it runs on 443. I therefore added a comment on the above mentioned article.

Thanks again for your support

[2017-11-08 13:55] spadgett opened #17237 "Metrics not working for oc cluster up --latest --metrics"
I ran the following command:

[code]

I see the following error in the openshift-ansible-metrics-job pod:

Full log: [openshift-ansible-metrics-job-c8v7d.log](https://github.com/openshift/origin/files/1454095/openshift-ansible-metrics-job-c8v7d.log)

All of my metrics pods are failed:

[code]

##### Version

oc v3.7.0-alpha.1+b953213-1499
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

Server h

[2017-11-08 14:16] adamgoerdt commented on #17233
One solution to this is to enable Proxy Protocol on the proxy you're using (We're using ELB) and the OpenShift haproxy.  If you're using SSL the route will need to be configured to re-encrypt so that it can inject the header.  Example setup below:

## Add Proxy Protocol policy to ELB
[code]

## Enable Policy
[code]

## Configure haproxy
[code]

This will send the Forwarded header, which will look

[2017-11-08 14:29] php-coder commented on #17216
This is by design and most likely this behavior won't be changed. It also possible to grant access to SCC to non-existent users by the way.

@pweil- @liggitt Did we document such behavior? What are the benefits?

[2017-11-08 14:32] speedfl commented on #17233
OK thanks I will have a look.

[2017-11-08 14:40] cello86 commented on #16767
We tried also to create a re-encrypt ruote with the wildcard certificate but it doesn't work.

Marcello

[2017-11-08 14:42] csrwng commented on #17103
@slaskawi the timeout that would need to be modified is the controller start timeout in the master code (fixed at 30 sec):
https://github.com/openshift/origin/blob/release-3.6/pkg/cmd/server/start/start_master.go#L723-L739
Given that this has been implemented differently in the latest master (3.7), I don't think we will backport a fix for 3.6.

[2017-11-08 14:42] #17103 closed

[2017-11-08 14:56] csrwng commented on #12029
@praveenkumar @gbraad how critical is a fix for this issue? A fix is not trivial, given that the directories that actually get mounted to the container would need to be pre-resolved before starting containers.

If it's not critical, I'm inclined to close it.

[2017-11-08 15:06] pweil- commented on #17216
This is expected behavior and exists because you may be using an identity provider that provisions users on the fly.  In other words, we do not require having a complete view of all potential users but still allow management of those users for the OpenShift concepts.  You may grant or revoke items to the user before they've logged in, including SCC and other access control items within OpenShift.

[2017-11-08 15:06] praveenkumar commented on #12029
@csrwng please go ahead and close it because we also now using bind mounts not symlinks.

[2017-11-08 15:10] #12029 closed

[2017-11-08 15:12] zonArt opened #17238 "ImageStream pull on external private docker registry"
Impossible to use secret when trying to pull/push image from an external private docker registry with ImageStream

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://openshift.example.com:8443
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. create a secret with `--docker-server=my-private-regis

[2017-11-08 15:16] bparees commented on #17169
v1.4 is pretty dated at this point.  I have a vague recollection we had some nil pointer issues, but rather than investigate an issue on a version this old (which we would not patch in origin anyway), can you see if you still have this issue on a newer cluster?  you can use "oc cluster up" with a v3.6 client binary to bring up a v3.6 cluster and try it there.  Or if you're really ambitious, you ca

[2017-11-08 15:41] dylanBehetre commented on #17169
Unfortunately, I cannot up my version, I should stay iso with my client. It's the same thing for my Docker version. I will try something else with pods and Permanent Volume and see with my manager to do upgrade the client :/. Thanks to your time !

[2017-11-08 15:43] miminar commented on #17238
Thank you @zonArt for the report. Do I understand you reproducer correctly that importing image from the registry without `:443` while having secret with the same registry name (also without the suffix) does **not** work? But importing from the same registry suffixed by `:443` while having a corresponding secret also with this port does work?

[2017-11-08 16:27] zonArt commented on #17238
@miminar Exactly

[2017-11-08 16:38] sosiouxme commented on #10960
Ansible openshift_health_checker role would not be something we'd be likely to run as part of sosreport. Very heavy and relies on config / inventory file etc

It looks like if you run sosreport on a master it already does `oadm diagnostics` -- there was a [related bug](https://bugzilla.redhat.com/show_bug.cgi?id=1463509). So *somebody* has created a v3 sosreport plugin. Having it find the node con

[2017-11-08 16:39] #17223 closed

[2017-11-08 16:49] bparees commented on #17169
well it would still be worth validating that your resource definitions work on 3.6+, so we can rule out that it is a misconfiguration on your part.

[2017-11-08 16:57] sdodson commented on #17192
3.6.1 rpms posted http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin36/

[2017-11-08 17:11] jcantrill commented on #17237
@sdodson  or @ewolinetz  Do you know anything about this error?

[2017-11-08 17:14] djdevin commented on #17236
it looks like nginx is failing because you are trying to run it as root

unless you have a custom origin install, openshift will run containers with randomly assigned users, for security reasons

see https://docs.openshift.org/latest/creating_images/guidelines.html

the part about "Support Arbitrary User IDs"

[2017-11-08 17:46] djdevin commented on #16992
I see this too.

Been seeing this for a while as well, but I was able to correct it by removing that search entry. But now it seems that it no longer has any effect - the `resolv.conf` in the containers is coming from somewhere else.

[2017-11-08 19:20] djohnston89 commented on #3714
This is a really old topic. Any updates?

[2017-11-08 19:37] MONTATICH commented on #17211
@php-coder @soltysh @pweil-
Hello, sorry to bother you !!
Would you be able to update the repo anytime soon, because i needed for an urgent deployment.
 Thanks

[2017-11-08 19:41] wpg4665 commented on #17183
@kmb385 Digital ocean is a great and affordable resource for basic web hosting, but if you need the advanced capabilities of a system for automating deployment, scaling, and management of containerized applications, then I'll use OpenShift all day long!

[2017-11-08 22:36] gamkiller77 commented on #16529
Ok I just talked to a team mate.  You can do this with ingress.  Setup the service to expose what you need 80/443 and 22.  You then switch this service to ingress load balancer so you get an IP with multiple Ports on one IP.

[2017-11-09 04:43] xiaods commented on #17211
i have testing on it. failed caused that  erkules/galera.
1、erkules/galera:basic is not found anymore, use erkules/galera:latest
2、Dockerfile no User, we need update or change another image source.

[2017-11-09 04:46] xiaods commented on #17211
@MONTATICH use alternative way.
https://github.com/adfinis-sygroup/openshift-mariadb-galera

[2017-11-09 05:23] budhrg commented on #17232
Closing it now as I have sent the PR here https://github.com/openshift/openshift.org/pull/81.

[2017-11-09 05:23] #17232 closed

[2017-11-09 06:23] xiaods commented on #17211
@MONTATICH are u try this repo:

https://github.com/kubernetes/contrib/tree/d6e4be066cc076fbb91ff69691819e117711b30b/pets

[2017-11-09 06:26] xiaods commented on #17211
check the upstream repo, it also not update on it. maybe need update the contrib repo on k8s project.

[2017-11-09 09:28] coffeetalkh commented on #17236
Thank you @djdevin, The guidelines really helps. I also grant the authenticated users access to the anyuid SCC and works :)

[code]

[2017-11-09 09:28] #17236 closed

[2017-11-09 11:08] kamran000 opened #17244 "Hostname stopped working after some time of deployment"
Every thing deployed successfully, and accessing app through http://dashboard-redhat-iot.apps.127.0.0.1.nip.io successfully, but it stopped working after some time Error: Unable to connect, dashboard is accessible through its IP, but not through hostname.

Router is successfuly deployed
Docker Registry is successfully deployed

[2017-11-09 12:16] abinstephen1989 opened #17245 "Error from server (NotFound): buildconfigs.build.openshift.io "hello-maven-docker" not found"
##### Version
oc v3.7.0-0.178.2
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

##### Steps To Reproduce
The maven-pipeline.yaml template contains a pipeline that uses a maven node to build and package a WAR. It then builds an image with the WAR using a Docker-strategy OpenShift build.
To run this example:
1.	Ensure that you have a running OpenShift environment as described in the basic example

[2017-11-09 12:21] miminar commented on #17238
Unfortunately I could not reproduce locally. I can import from a secured registry requiring authentication just fine:

<details><p>

[code]

</p></details>

Is your private registry behind some load balancer/proxy?

[2017-11-09 12:22] miminar commented on #17238
Used version:

[code]

Lowering priority.

[2017-11-09 12:50] stanky91 opened #17246 "Application on OpenShift Online are not accessible(STARTER PLAN West-1-California)"
oc v3.6.173.0.5
kubernetes v1.6.1+
features: Basic-Auth

Server https://api.starter-us-west-1.openshift.com:443
openshift v3.6.173.0.5
kubernetes v1.6.1+

I can't access my application on OpenShift Online (STARTER PLAN West-1-California).But the pods are still running normally.I found some sites running on West-1-California servers through Google with the keywords "west   openshiftapps.com",And th

[2017-11-09 13:08] zonArt commented on #17238
@miminar Yes the registry is behing an nginx reverse proxy, the registry is hosted on JFrog Artifactory and I'm using the `domain` option to set nginx configuration which I can provide if needed. The nginx is running on another machine.

On strange thing I notice is that as you put `--from=miminarnb.vm/xxxxx` you still have a reference to `<ip>:<port>` in the `Docker Pull Spec` (and strangely on a

[2017-11-09 13:32] jhonnymertz commented on #17246
Same problem here, port forwarding is working properly but external access not. Maybe it's a route/DNS problem.

[2017-11-09 13:58] miminar commented on #17238
@zonArt it would be awesome if you could provide the nginx' configuration.

The `Docker Pull Spec:       172.30.30.30:5000/pjoe/hello-openshift` is an internal location for pull. If using this pull spec instead of the external one (`miminarnb.*`), the image will be pulled-through by the integrated registry and mirrored locally.

[2017-11-09 14:09] zonArt commented on #17238
Here you are:

[code]

[2017-11-09 14:37] php-coder commented on #17245
@openshift/sig-developer-experience

[2017-11-09 14:41] bparees commented on #17245
your pipeline looks wrong:
https://github.com/openshift/origin/blob/master/examples/jenkins/pipeline/maven-pipeline.yaml#L101

the buildconfig name should have "-docker" on it.

are you sure you're using our version of the pipeline and haven't modified it?

[2017-11-09 15:05] MONTATICH commented on #17211
@xiaods
The petsets example still uses the same docker images erkules/galera:latest

I created the docker image myself based on the erkules/galera:latest dockerfile
and updated the galeracluster packages path in the dockerfile after contacting galeracluster and were able to update their page http://galeracluster.com/documentation-webpages/docker.html#building-the-container-image

from
RUN add-apt-

[2017-11-09 15:27] apupier commented on #13864
I hit some permission denied issue when I have the rsync.exe from Development Suite 2.0.1 used in the path, I don't have this permission anymore when using the rsync from my cygwin install.
I found no differences between the 2 rsync.exe (same version, same size, same permissions...)
I think that it would worth searching in this direction (we don't have other track anyways , right?)

@bdshadow in y

[2017-11-09 16:25] stanky91 commented on #17246
My application is available now.Thanks for the staffs of Red Hat.

[2017-11-09 16:42] jhonnymertz commented on #17246
Solved here too. This issue can be closed.

[2017-11-09 17:32] #17246 closed

[2017-11-09 18:09] jim-minter commented on #13014
@bparees not connected

[2017-11-09 20:16] pweil- commented on #17231
@juanvallejo @fabianofranz is this something you cover? /cc @mfojtik

[2017-11-09 20:19] #17216 closed

[2017-11-09 20:22] #13041 closed

[2017-11-09 20:25] danwinship commented on #14708
@ronsengupta what is the output of `uname -sr`? And you're seeing the node fail to start with the "Allocated ofport (-1)" error? (As opposed to the node starting, but showing errors about "ofport -1" in the logs later.)?

[2017-11-09 20:31] jim-minter commented on #13980
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17248/test_pull_request_origin_extended_conformance_install_update/9178/

[2017-11-09 20:59] jim-minter commented on #16994
@jwhonce I spent some time looking at this, somewhat in vain - the best thing I came up with was that everywhere in runc where dbus calls to systemd are being made, and especially at https://github.com/opencontainers/runc/blob/b2567b37d7b75eb4cf325b77297b140ea686ce8f/libcontainer/cgroups/systemd/apply_systemd.go#L291, runc doesn't wait for systemd to reply via dbus that it has completed the task,

[2017-11-09 21:18] juanvallejo opened #17252 "can't find _output/local/releases in container"
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/17249/test_pull_request_origin_integration/10533/build-log.txt

cc @stevekuznetsov

[2017-11-09 21:41] brianHollingsworth commented on #17047
Glad I'm not the only one seeing this issue. It's been occurring for me on console.starter-us-west-1.openshift.com since last weekend (11/4).

[2017-11-09 22:31] juanvallejo commented on #17228
My best guess for this is that it is happening in our custom `createTestingNS` func [https://github.com/openshift/origin/blob/master/test/extended/util/test.go#L201]().

The `EOF` happens after the log info `Building a namespace api object`, but before the expected `About to run a Kube e2e test, ensuring namespace is privileged` message (which is logged in the custom func linked above).

Since `EO

[2017-11-09 22:32] stevekuznetsov commented on #17252
You had integration test failures. This is a warning and unrelated.

/close

[2017-11-09 22:32] #17252 closed

[2017-11-10 06:01] abinstephen1989 commented on #17245
please find the pipeline i am using

try {
   timeout(time: 20, unit: 'MINUTES') {
      def appName="hello-maven"
      def project=""

      node {
        stage("Initialize") {
          project = env.PROJECT_NAME
        }
      }

      node("maven") {
        stage("Checkout") {
          git url: "https://github.com/openshift/openshift-jee-sample.git", branch: "master"
        }
        sta

[2017-11-10 07:58] sundeepk1 commented on #10209
can you please provide info on how you created the route manually

[2017-11-10 08:16] fisache opened #17254 "[KeystoneIdentityProvider] Obtain Keystone fernet token."
[provide a description of the issue]

##### Version
[provide output of the `openshift version` or `oc version` command]
3.6

##### Steps To Reproduce
1. connect to KeystonePasswordIdp on master-config.yml
[code]
2. Authenticate user in default domain (oc cmd or origin-web-console)
3. cmd 'oc whoami -t', then obtain token (probably kubernetes issued)

##### Current Result
I want to obtain token iss

[2017-11-10 09:29] GrahamDumpleton opened #17255 "Help for oc set volume --claim-mode doesn't match documented modes."
The help string output for ``--claim-mode`` option of ``oc set volume`` uses short names for access modes which don't match what is in documentation.

##### Version

[code]

##### Steps To Reproduce

Run:

[code]

##### Current Result

Help string for ``--claim-mode`` is:

[code]

##### Expected Result

Documentation at:

* https://docs.openshift.org/latest/architecture/additional_concepts/storage

[2017-11-10 12:54] samiaben88 opened #17256 "Pods can't resolve service name"
[provide a description of the issue]

I have an openshift cluster above an openstack iaas, I followed this https://github.com/redhat-openstack/openshift-on-openstack , I have one master one node "infra" that have the registry and the Haproxy router in it , and I have 2 slaves. I followed this: https://docs.openshift.com/enterprise/3.1/admin_guide/sdn_troubleshooting.html and seems like everything

[2017-11-10 13:37] mjudeikis commented on #14327
we have same problem for succ jobs. We have bunch of `successful` pods
Do we have anything like `oc adm prube pods` in our pipeline?
Now we solving this with init container:
[code]

But we where looking for something wider for administrator as some users will not be able to think this kind of stuff :)

[2017-11-10 13:49] mfojtik commented on #14327
@soltysh ^

[2017-11-10 15:02] gabemontero commented on #17245
@abinstephen1989 - based on your original description, I did not see where you instantiated the `maven-pipeline.yaml` with `APP_NAME` as `hello-maven`, in fact your step 15 implies you used the default `openshift-jee-sample`, nor do I see where you specify that you created the `hello-maven-docker` BuildConfig after the fact.

I'm curious as to what these sets of commands return:
-  `oc get all -l

[2017-11-10 15:18] benjaminapetersen opened #17257 "Delete logic in tests around systemOnly roles"
It was a good idea at the time and caught a couple bugs, but in reality it just doesn't work.

It blocks OpenShift working seamlessly on top of Kubernetes because it assumes we have ownership of Kubernetes resources.  Also it is impossible to get plugin authors (such as the service catalog) to annotate their roles with `systemOnly`.  Our tests only cover bootstrapping, so these roles will incorrec

[2017-11-10 16:10] bparees commented on #16732
does not seem to be recurring, closing.

[2017-11-10 16:10] #16732 closed

[2017-11-10 16:48] enj opened #17260 "template-instance-controller has wrong permissions"
Not sure what the intent of this line is:

https://github.com/openshift/origin/blob/3153f8042f31328a19448e483dfa9e307b518669/pkg/cmd/server/bootstrappolicy/controller_policy.go#L159

This fails closed since there is no such object in that group.

cc @openshift/sig-security

[2017-11-10 16:50] bparees commented on #17260
Pretty sure we can just delete that line, but not sure what it was intended to be @jim-minter ?

[2017-11-10 16:51] bparees commented on #17260
also not sure why this is a p1. nothing is breaking, right?

[2017-11-10 16:54] enj commented on #17260
If its just an extra unneeded permission, then yeah, its not a p1.

If you are missing permissions that you actually need, then its a p1 because there is some functionality that is not being tested (otherwise tests would be failing with permission errors).

[2017-11-10 16:56] bparees commented on #17260
right, i'm confident our test coverage would have exposed this.  the TI controller is only creating SARs, not trying to retrieve them.  So it definitely doesn't need this.

I'm less clear on whether someone cut+pasted the wrong group here and was trying to grant get/list/watch on some other resource, but again i'm pretty sure we'd be seeing failures if so.

[2017-11-10 17:49] sjenning opened #17263 "test_pull_request_origin_extended_conformance_install_update failing across the board"
test_pull_request_origin_extended_conformance_install_update started failing across the board about 2hrs ago

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_pull_request_origin_extended_conformance_install_update

@simo5

[2017-11-10 17:51] sjenning commented on #17263
Fails here

[code]

[2017-11-10 18:03] smarterclayton commented on #17263
@sdodson @michaelgugino @abutcher

[2017-11-10 18:39] michaelgugino commented on #17263
@smunilla Linking you to this issue.

[2017-11-10 19:31] bparees opened #17266 "WaitForRunningBuild isn't handling watch errors properly"
As seen here:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/279/testReport/junit/(root)/Extended/_image_ecosystem__Slow__openshift_sample_application_repositories__image_ecosystem__php__test_php_images_with_cakephp_ex_db_repo__Building_cakephp_mysql_app_from_new_app_should_build_a_cakephp_mysql_image_and_run_it_in_a_pod__Suite_openshift_/

[code]

The code

[2017-11-10 19:32] bparees commented on #17266
and @liggitt for good measure.

[2017-11-10 19:38] liggitt commented on #17266
you're not checking the watch event type... if it's an error event (as is the case when the watch expires), the event object type will be a status object:

[code]

[2017-11-10 19:40] bparees commented on #17266
thanks @liggitt

[2017-11-10 20:14] smarterclayton commented on #17266
You can get status from a watch

On Nov 10, 2017, at 2:41 PM, Ben Parees <notifications@github.com> wrote:

thanks @liggitt <https://github.com/liggitt>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshift/origin/issues/17266#issuecomment-343567075>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/

[2017-11-10 22:02] ramato-procon opened #17269 "oc rsync - copy from pod to pod"
Currently **oc rsync** only allows to copy files from/to local machine.
Please extend **oc rsync** to copy files between pods directly.

[2017-11-10 23:03] jupierce commented on #17263
Hopefully fixed now. Branching 3.7 in openshift-ansible yesterday caused this. The normal CD build of 3.7 in the release-3.7 branch created the 3.7.6-1 tag. The openshift-ansible.spec in master was still at 3.7.4-1. I've bumped the master openshift-ansible.spec to 3.8 to avoid this.

[2017-11-10 23:21] jim-minter commented on #17260
Thanks for spotting @enj.  Not the best line of code I've ever written.  I think the line can just be removed.

[2017-11-11 01:55] smarterclayton commented on #17263
Install update is still broken, might be that openshift-ansible tag has the
wrong release

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17268/test_pull_request_origin_extended_conformance_install_update/9241/

On Nov 10, 2017, at 6:04 PM, Justin Pierce <notifications@github.com> wrote:

Hopefully fixed now. Branching 3.7 in openshift-ansible yesterday caused
this. The

[2017-11-11 13:32] simo5 commented on #17263
Still broken on the next step:
######### STARTING STAGE: INSTALL ANSIBLE ATOMIC-OPENSHIFT-UTILS ##########
+ [[ -s /var/lib/jenkins/jobs/test_pull_request_origin_extended_conformance_install_update/workspace/activate ]]
+ source /var/lib/jenkins/jobs/test_pull_request_origin_extended_conformance_install_update/workspace/activate
++ export VIRTUAL_ENV=/var/lib/jenkins/origin-ci-tool/b4433dfdce6a5fb

[2017-11-12 04:40] glennodickson commented on #13496
Must agree. I've been using Openshift for sometime now and it's been rather tricky to get stuff to work. When things don't work (like persistence) consecutively you can't help but feel rather discouraged. I've continued on as I do see value but in comparison to other platforms it needs to work more reliably. Example moving to Nexus 3 has been a pain with some permission issue as a developer I just

[2017-11-12 04:44] GrahamDumpleton commented on #13496
@glennodickson This issue is about a corner case that people would in most cases never encounter. This is because it relates to using images not built to best practices.

Is there a reason or a specific problem you are having which made you think this issue was a good place to comment as you did?

[2017-11-12 07:38] glennodickson commented on #13496
As I mentioned I have been trying to get my PV to work. I noticed that
others' have commented on their difficulties.

My Nexus repo doesn't seem to retain the repos I add even though there is
PV attached to nexus and hence I came across this post. I've tried
upgrading Nexus from 2.11 to 3 and now receive and error.

My comments were intended to be constructive. Apologies if I've offended
you that

[2017-11-12 07:58] GrahamDumpleton commented on #13496
But are you using ``oc cluster up``, or ``minishift``? This issue shouldn't come up in a normal OpenShift installation. From the little detail you give, it doesn't so like it is related.

For help in debugging issues where you can't identify a specific reason as to why something does niot work, better places to try to get help are:

* https://lists.openshift.redhat.com/openshiftmm/listinfo
* https

[2017-11-12 08:22] glennodickson commented on #13496
Yes using OC cluster up on Windows 10 via Virtual Box. What do you term
"normal", not a VM and on Linux?

Ok  I'll participate in these groups thanks.

On 12 November 2017 at 15:58, Graham Dumpleton <notifications@github.com>
wrote:

--
Regards
Glenn

[2017-11-12 08:26] alikhajeh1 commented on #14786
@bparees indeed 3.6 doesn't support this and without it our build nodes keep getting filled with non-build pods. I had a look through the open issues and couldn't find a ticket for it, want me to submit a ticket or is it being tracked elsewhere?

[2017-11-12 09:25] GrahamDumpleton commented on #13496
By 'normal' mean a proper production installation of OpenShift, not the development/test systems such as ``oc cluster up`` and ``minishift``. They shouldn't be used for production systems.

[2017-11-12 15:17] bparees commented on #14786
it's not being tracked, you can open an RFE bugzilla if you like.

[2017-11-12 20:26] kprabhak commented on #17123
FWIW, I'm running calico-ipam v1.10.0 and am not seeing this issue.

What OS  is this deployed on?

What is the output of 'calicoctl get ippool -o yaml'

(cc: @ozdanborne)

[2017-11-12 20:36] kprabhak commented on #10488
Looks like this issue is quite dated, but providing links to Calico installation with OpenShift here for reference.
https://docs.projectcalico.org/latest/getting-started/openshift/installation
https://www.youtube.com/watch?v=FsXuZCEWEhQ

Reckon this issue ought to be closed?

[2017-11-12 20:51] sothawo commented on #17047
still seeing this on starter-ca-central-1.openshift.com

[2017-11-12 21:02] krasi-georgiev opened #17271 "cluster up with --metrics : creating: pods "openshift-ansible-metrics-job-" is forbidden:"
[code]

then logging to the openshift console shows an error `An error occurred getting metrics. Open Metrics URL | Don't Show Me Again`

the docker logs seems to shows the reason
`docker logs origin`
[code]

[2017-11-13 06:37] mchangxe commented on #17047
Also seeing this running a local cluster using local-up-cluster.sh

[2017-11-13 06:50] eliu opened #17272 "Some required package(s) are available at a version that is higher than requested"
#### Description

Provide a brief description of your issue here. For example:

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

Place the output between the code block below:

[code]

##### Steps To Reprod

[2017-11-13 06:57] abinstephen1989 commented on #17245
![openshiftdocker error](https://user-images.githubusercontent.com/28892045/32713107-be638732-c86d-11e7-8bd7-e2ef5e55ff03.JPG)

I got the attached error while creating project in open shift using below maven-pipeline.yaml .
**********************
apiVersion: v1
kind: Template
metadata:
  name: maven-pipeline
parameters:
- name: APP_NAME
  description: The name assigned to all of the application ob

[2017-11-13 07:43] eliu commented on #17199
@pweil- @xiaods This method did not work on my cluster. After added this openshift_repos_enable_testing=true into my inventory file, the openshift ansible still report the same failure message as before:

[code]

[2017-11-13 08:54] jperville commented on #15854
Thanks for taking on my issue @juanluisvaladas , looking forward to see your PR merged.

[2017-11-13 09:09] rajatchopra commented on #10488
Thanks for the updated links @kprabhak

I believe so. The information should be sufficient.
@zhwenh please re-open if you still have anything unresolved.

[2017-11-13 09:09] #10488 closed

[2017-11-13 09:13] kamran000 opened #17273 "I am accessing dashboard by http://dashboard-redhat-iot.apps.127.0.0.1.nip.io(From system in which test bed/openshift server is installed ), How to access it in Local area (From other PC))"

[2017-11-13 09:35] #17254 closed

[2017-11-13 10:20] GrahamDumpleton opened #17275 "The oc cp doesn't work as one expects from help strings."
The ``oc cp`` help strings say:

[code]

If you create a local directory ``/tmp/foo_dir`` with files in it and run:

[code]

as help strings shows, you do not end up with a directory ``/tmp/bar_dir``. You instead end up with ``/tmp/foo_dir``. No where is a directory called ``bar_dir`` created in the container.

The only way you end up with ``/tmp/bar_dir`` with your files inside of it, is if you p

[2017-11-13 12:13] hrishin commented on #16230
@smarterclayton thanks!
There are couple of more fields similar to status field

[2017-11-13 12:14] eliu commented on #17272
Any updates on this please? This is very urgent for me ,cause my cluster is keeping down due to this error.. Kindly help.

[2017-11-13 13:19] kargakis commented on #17263
[code]

[2017-11-13 13:41] MarWestermann opened #17277 "Set domain in openshift docker"
How do I set the domain in openshift docker version?

I installed openshift for testing purposes on one of our local servers this way: https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container

When I create a route (or it is automatically created by oc or by fabric8 maven plugin) the host of the route automatically becomes sth. like: service.cluster.local

[2017-11-13 14:53] kargakis opened #17279 "Extended test documentation broken link"
https://github.com/openshift/origin/tree/master/test/extended#extended-tests-structure

`hack/test-extended/[group]/run.sh` is no more.

[2017-11-13 14:53] kargakis commented on #17279
@stevekuznetsov are you familiar with this move?

[2017-11-13 15:33] aneagoe commented on #4851
I'm not really sure where a RFE would fit, but it's highly related to this topic.
There doesn't seem to be a way to define multiple ldap URLs and the proposed way to handle redundancy is far from ideal (https://docs.openshift.com/container-platform/3.6/install_config/advanced_ldap_configuration/sssd_for_ldap_failover.html) since it requires configuration of additional infrastructure (two additiona

[2017-11-13 15:42] stevekuznetsov commented on #17263
Adding 3.7 repos to the test AMIs in https://github.com/openshift/origin-ci-tool/commit/2453a176a96088fff6a596fb061e8f11e54e43a4

Will need to build  a new base AMI... which is currently blocked. Will figure out what we need to do there.

[2017-11-13 15:48] enj commented on #4851
@aneagoe I added it as a TODO item at the top, but you are welcome to submit an RFE to https://bugzilla.redhat.com.  Any changes to LDAP are low priority and are unlikely to be addressed at this time.

[2017-11-13 15:54] stevekuznetsov commented on #17263
New base AMIs blocked on https://github.com/openshift/origin/pull/17268

[2017-11-13 15:59] jhadvig commented on #17263
FYI: The issue with the `determine_install_upgrade_version.py` is that we are building o-a with 3.8 tag
[code]
so we are missing the 3.7 which would be installed. That's why the script fails

[2017-11-13 16:00] stevekuznetsov commented on #17263
Right -- adding the repos for 3.7 in the commit above adds the 3.7 version that we need to be present

[2017-11-13 16:02] zcatbear opened #17280 "Prometheus example stateful set won't deploy."
Following the example for the prometheus cluster level logging won't deploy. Getting the issue of pod.beta.kubernetes.io/subdomain invalid.
##### Version
[code]
##### Steps To Reproduce
1. navigate to `origin/examples/prometheus`
2. `oc new-app -f prometheus.yaml`

##### Current Result
Everything is created successfully but pods won't deploy. Currently getting the error:
[code]
##### Expected Resu

[2017-11-13 16:05] kargakis commented on #17263
Is there any documentation about places that need to change once we cut a new branch?

[2017-11-13 16:07] stevekuznetsov commented on #17263
@kargakis unfortunately no. We had a card on our board to tackle it, but there are a lot of moving parts

[2017-11-13 16:35] bparees commented on #17245
Your cluster appears to be denying the permission to create docker strategy builds.  see: https://docs.openshift.org/latest/admin_guide/securing_builds.html

[2017-11-13 18:59] davehatton commented on #15708
Any thoughts on this?

[2017-11-13 19:05] stevekuznetsov opened #17282 "GCE latest builds: no SRPM"
/kind bug

@smarterclayton our GCE latest RPMbuilds aren't pushing up the SRPMs anymore since the refactor. Is there a strong reason not to?

/cc @arilivigni

/assign @smarterclayton

[2017-11-13 19:41] smarterclayton commented on #17282
2 minutes of build time.  That can be changed if necessary for branch pushes

[2017-11-13 20:39] megian opened #17287 "ceph-common 0.94.5 in the docker image origin-base is outdated"
The provided ceph-common package is from October 2015 and completly outdated. The Dockerfile of origin-base should include at least ceph-common v10.2.0 Jewel or newer. The parameters imageFormat and imageFeatures of Kubernetes 1.7 are not supported for OpenShift Origin 3.7 in this condition.

kind: StorageClass
apiVersion: storage.k8s.io/v1
parameters:
  imageFormat: "2"
  imageFeatures: "layering

[2017-11-13 21:40] sdodson commented on #17263
That particular failure should be fixed now.

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install_update/3467 at least got past installing the 3.7 installer as part of master install_upgrade

[2017-11-13 22:59] stevekuznetsov commented on #17279
Super old doc, I think we always use `test/extended/core.sh` as the entrypoint and have special ones for e.g. networking or conformance

[2017-11-13 23:01] stevekuznetsov commented on #17282
Yeah I'd expect to have it optional and run during publish jobs

[2017-11-13 23:37] garyyang6 opened #17290 "Openshift Origin: getsockopt: connection refused"
[provide a description of the issue]

I installed openshift origin at CentOS 7. Per instruction, https://docs.openshift.org/latest/getting_started/administrators.html#downloading-the-binary, I downloaded and untared, openshift-origin-server-v3.6.1-008f2d5-linux-64bit.tar.gz

sudo ./openshift start

I got errors:

./openshift start
W1113 23:03:52.193610   20449 start_master.go:297] Warning: assetCo

[2017-11-14 00:52] sjenning commented on #17263
It appears we get farther now.  New fail point is
[code]

[2017-11-14 02:21] #14367 closed

[2017-11-14 02:21] #17041 closed

[2017-11-14 03:21] MichaelHeJianRong opened #17291 "An error occurred while starting the build in Open shift web console"
I came across an error when I wanted to build the .net codes on open shift web console.
Error : An error occurred while starting the build.Error resolving ImageStreamTag dotnet:1.0 in namespace openshift: imagestreams "dotnet" not found

What can I do for this error?
![2017-11-14_11-18-45](https://user-images.githubusercontent.com/12246429/32761343-c849154e-c92d-11e7-9ae2-e9328f43a7c5.png)

[2017-11-14 05:58] teotia39 commented on #15892
Even me getting the same issue while using HA cluster with multimasters , I can easily access service via
<master_ip>:<node_port> , but not via <external_ip>:<node-port> , even when the external IP is added in DNS server of my org's network.

Who is actually generating this external ip , is this HA-Proxy incase of my HA cluster or openshift generating something randomly , How Do i get a single ent

[2017-11-14 06:23] tnozicka commented on #11114
Feels like this issue is tracking many different failures.
- I guess the etcd issue is fixed now?
- `found multiple running deployments` was already fixed
- [this](https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/503/testReport/junit/(root)/Extended/_Feature_DeploymentConfig__deploymentconfigs_with_revision_history_limits__Conformance__should_never_persist_more_old_deployments_than_

[2017-11-14 07:26] #13169 closed

[2017-11-14 08:04] abinstephen1989 commented on #17245
i was trying to create a user with role : cluster-admin but getting below error. I am using developer preview of Open shift.  Is there anything like in developer preview we cant create cluster-admin.??  Please help..

C:\Downloads\oc>**oc adm policy add-cluster-role-to-user cluster-admin astephen-1**
Error from server (Forbidden): User "astephen-1" cannot list clusterrolebindings.authorization.ope

[2017-11-14 08:36] #10656 closed

[2017-11-14 08:36] #17266 closed

[2017-11-14 08:36] #17260 closed

[2017-11-14 08:55] pennpeng commented on #16134
same issue when i use cinder storage？  what's wrong with me？？

[2017-11-14 08:55] iocanel opened #17294 "Builds sporadically fail with EOF"
Builds via `oc start-build` or via `fabric8 maven plugin` sporadically fail (false negative) in our rh-idev cluster with an EOF error.

From oc:

    oc start-build mybuild  --from-archive=/tmp/archive.tar.gz

which results

     Uploading archive file "/tmp/archive.tar.gz" as binary input for the build ...
     Unable to connect to the server: EOF

 From fmp:

    mvn clean install fabric8:build

[2017-11-14 10:05] satourne commented on #12809
Hi,
Which oc.exe version is designed for a Windows Vista 32bits OS, please ?
Thank you.

[2017-11-14 11:13] kargakis commented on #11114
Different failure mode:
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17104/test_pull_request_origin_extended_conformance_gce/11266/

[2017-11-14 14:21] gabemontero commented on #17245
On Tue, Nov 14, 2017 at 3:04 AM, abinstephen1989 <notifications@github.com>
wrote:

What user are you logged in as when running `oc adm ...` ?  Provide the `oc
whoami` output prior to running that call.

[2017-11-14 14:41] miminar opened #17297 "extended[image_ecosystem] flake: hot deploy for openshift ruby image Rails example should work with hot deploy timed out"
Extended.[image_ecosystem][ruby][Slow] hot deploy for openshift ruby image Rails example should work with hot deploy [Suite:openshift] (from (focus_parallel_02.xml))

## Stacktrace:

[code]

<details><p>

[code]

</p></details>

Happened here: https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/284/testReport/junit/(root)/Extended/_image_ecosystem__ruby__Slow__h

[2017-11-14 14:49] miminar opened #17298 "extended[image_ecosystem] flake: openshift images should be SCL enabled and print the usage timed out"
Extended.[image_ecosystem][Slow] openshift images should be SCL enabled returning s2i usage when running the image "openshift/python-33-centos7" should print the usage [Suite:openshift] (from (focus_parallel_03.xml))

### Stacktrace

[code]

<details><p>

[code]

</p></details>

Happened here: https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/284/testReport/ju

[2017-11-14 14:54] miminar commented on #17298
The problem seems to be an unhealthy environment:

[code]

As discovered by @gabemontero.

[2017-11-14 14:55] miminar commented on #17297
Closing as a duplicate of #17298. The reason is most probably unhealthy environment:

[code]

[2017-11-14 14:55] #17297 closed

[2017-11-14 14:58] davehatton commented on #15708
This looks like:

https://bugzilla.redhat.com/show_bug.cgi?id=1332432
https://github.com/openshift/origin/pull/11639

Any reason this was applied just to router and not ipfailover?

[2017-11-14 15:57] stevekuznetsov commented on #17263
@smarterclayton please confirm but my understanding is that this job will remain broken until we _actually_ cut a 3.7 release and push out the images, etc

[2017-11-14 16:13] sdodson commented on #17263
That's my understanding of the situation as well.

[2017-11-14 16:26] stevekuznetsov commented on #17263
Lowering priority as it is not a queue blocker

[2017-11-14 17:32] miminar commented on #17238
I thought I could reproduce just by putting nginx in front of upstream registry running locally on my host, but I failed. It still works for me. My nginx configuration is attached below.

<details><p>

[code]

</p></details>

The import happens from inside a VM:

[code]

I guess I will need to start playing with artifactory in order to reproduce. Suggestions to complicate this setup for an error t

[2017-11-14 17:42] alexcern opened #17306 "SYN drop during HAproxy router reload does not apply when using IPv6"
Hello

When applying https://docs.openshift.org/latest/install_config/router/default_haproxy_router.html#preventing-connection-failures-during-restarts nothing happens if the router binds on IPv6 addresses (including dual-stack)

##### Version

[code]

##### Steps To Reproduce
1. `oc env dc/router ROUTER_IP_V4_V6_MODE=v4v6` (or `v6`)
2. Apply https://docs.openshift.org/latest/install_config/router

[2017-11-14 18:21] garyyang6 opened #17307 "Openshift Origin: failed to run Kubelet: failed to create kubelet:"
[provide a description of the issue]

Per instruction, https://docs.openshift.org/latest/getting_started/administrators.html#downloading-the-binary, I downloaded and untared, openshift-origin-server-v3.6.1-008f2d5-linux-64bit.tar.gz and installed at CentOS 7.

I got errors:

./openshift start

......
W1114 18:12:05.650854    9288 kubelet_network.go:70] Hairpin mode set to "promiscuous-bridge" but

[2017-11-14 19:19] #15076 closed

[2017-11-14 19:29] pweil- commented on #17271
https://github.com/openshift/origin/issues/17144 duplicate

[2017-11-14 19:29] #17271 closed

[2017-11-14 19:31] pweil- commented on #17307
Please see https://github.com/openshift/origin/issues/16974

[2017-11-14 19:31] #17307 closed

[2017-11-14 19:37] bparees commented on #17294
this EOF appears to be coming from the fabric plugin+the client it uses, so the issue should be opened there.  ("java.io.EOF")

You didn't include any output from your "build.sh" reproducer, or the content of your "build.sh" script, so it's pretty hard to diagnose anything on that front.

[2017-11-14 19:38] pweil- commented on #17291
It looks like this is telling you that you are missing the `dotnet` image stream.  Please review the documentation for build inputs and outputs (below).  If you are still having trouble I would recommend the developer mailing list rather than a bug report.  If you find your build is set up correctly but not working and you believe it is a bug please include build logs and the build config when you

[2017-11-14 19:38] #17291 closed

[2017-11-14 19:41] pweil- commented on #17287
@childsb please triage for 1.7 and set a different priority if you think it should be lowered.  Thanks!

@openshift/sig-storage

[2017-11-14 19:43] pweil- commented on #17280
@zcatbear I see you are using OpenShift 3.6.  Are you also using the prometheus template from the 3.6 branch?

[2017-11-14 19:49] juanvallejo commented on #17275
These usability issues were addressed upstream recently:
https://github.com/kubernetes/kubernetes/pull/51215
https://github.com/kubernetes/kubernetes/pull/52465

Will be introduced to `oc` in the next rebase. A backport to older version of `oc` is not planned.

[2017-11-14 19:49] #17275 closed

[2017-11-14 19:50] pweil- commented on #17273
For non-http traffic you can either try a passthrough route (assuming the traffic support SNI) or node port services.  Please see https://docs.openshift.org/latest/dev_guide/expose_service/index.html for more info

[2017-11-14 19:50] #17273 closed

[2017-11-14 20:13] iocanel commented on #17294
@bparees: Updated the description with output from the oc command.

Regarding the build.sh script, it can be found at: https://github.com/syndesisio/syndesis-ci/blob/master/bin/build.sh

The image that consistently triggers the EOF is: https://github.com/syndesisio/syndesis-ci/tree/master/images/jenkins-slave-full-centos7

The build.sh script creates a buildconfig with a command like:

     cat Do

[2017-11-14 20:32] garyyang6 commented on #17307
Solution #16974 does not work.

I changed it to match Docker's.

vi /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

update KUBELET_CGROUP_ARGS=--cgroup-driver=systemd to KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs

grep KUBELET_CGROUP_ARGS 10-kubeadm.conf
Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs"

ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_SYSTEM_PODS_ARG

[2017-11-14 20:50] bparees commented on #17294
@iocanel what you updated isn't the log from the build.

please run this and gist the output somewhere:

`oc start-build mybuild  --from-archive=/tmp/archive.tar.gz  --loglevel=8 --build-loglevel=8 -F`

[2017-11-14 20:50] bparees commented on #17294
also check your registry pod for errors in the logs corresponding to the time of your build failures.

[2017-11-14 20:57] pweil- commented on #17307
Hi @garyyang6.  From your comment above it looks like you are not modifying a node config but another unit file.  Please note my comment here: https://github.com/openshift/origin/issues/16974#issuecomment-339006432.  It also looks like you are attempting to run the kubelet by itself but also starting an all-in-one openshift server which includes the kubelet.

If you'd like to try out the all-in-on

[2017-11-14 21:04] GrahamDumpleton opened #17311 "The oc set resources command should work for buildconfigs."
Should be able to use ``oc set resources`` on buildconfigs.

[code]

##### Version

[code]

##### Steps To Reproduce

Run ``oc set resources`` on a build config.

##### Current Result

Will fail.

##### Expected Result

Should be able to work.

##### Additional Information

None.

[2017-11-14 21:06] bparees commented on #17311
@juanvallejo @fabianofranz is this something you guys would be willing/able to do?  The buildconfig has resources fields already.

(i'm going to take @juanvallejo's self assignment of this as a yes.  Thanks @juanvallejo!)

[2017-11-14 21:07] #16223 closed

[2017-11-14 21:09] gnufied commented on #17287
cc @rootfs

[2017-11-14 21:23] garyyang6 commented on #17307
Hi @pweil.  I read #16974. But, I do not understand your comments. Please tell me how to modify the node config. I did not mean to run kubelet by itself and also starting an all-in-one openshift server. But, what should I do? I stopped kubelet, "systemctl stop kubelet" and restart openshif. But, I still get same error..

[2017-11-14 21:31] pweil- commented on #17307
@garyyang6 Please try updating the docker daemon config to use the `systemd` driver.  Then you should be able to perform the `openshift start` command to start the all-in-one.

The alternative method (using the binary) would be `openshift start --write-config`, modify the node-config.yaml to include the kubelet arguments section and pass the argument there, then running `openshift start node` and

[2017-11-14 21:47] smarterclayton opened #17312 "OVS parsing on busy nodes results in heavy node allocations, CPU use"
On a heavily loaded node in a cluster with many services, OVS parsing is one of the biggest sources of allocations, which contributes to the 1-1.5 cores the node is consuming:

Total allocations by method:

[code]

Cumulative allocations

[code]

This is tied to the OVS health checking - the function to verify the status is expensive.  Since we're eventually going to need to do this anyway for oth

[2017-11-14 21:47] smarterclayton commented on #17312
@openshift/sig-networking

[2017-11-14 21:54] xiaods commented on #17290
@garyyang6  maybe you need use another install solution to do cluster up.

https://github.com/openshift/openshift-ansible is optional way.

[2017-11-14 22:03] smarterclayton commented on #17312
On a clean node on the same cluster (no local pods) roughly same allocations from OVS:

[code]

I suggest try to make ovs.ParseFlow more memory efficient - that'll pay dividends later anyway.

[2017-11-14 22:19] smarterclayton commented on #17312
Some concrete things to approach - every string split is allocations.  Sprintf is allocations.  Trim can lead to allocations.  Alternatively, we could look at having the health check do less (perhaps do some of the high level checks but not the deep details), but that also weakens the value we get out of it.

[2017-11-14 22:30] arilivigni commented on #17282
@smarterclayton are you fixing this since current CentOS-PaaS-SIG is broken.  Can you revert the change you made?

[2017-11-14 22:36] garyyang6 commented on #17307
@pweil:  How to "updating the docker daemon config to use the systemd driver"?

[2017-11-14 22:44] garyyang6 commented on #17307
@pweil How to use openshift start --write-config to modify the node-config.yaml and pass what value of kubelet arguments? Please give me specific command.  Thanks.

[2017-11-14 23:19] garyyang6 commented on #17290
@xiaods I am using Openshift all-in-one package. Did you suggest there are bugs in the package and the installation instructions are not correct? If that is the case, can you please file a bug?  Thanks.

[2017-11-14 23:38] ikus060 opened #17316 "DNS resolution is failing"
Name resolution from inside the pod seams to be broken because of multiple factor.

##### Version
[code]

##### Steps To Reproduce
Look like the `/etc/resolv.conf` file generated by openshift is not working in every scenario.

Just to show it's **working** with something...
[code]

This is the /etc/resolv.conf generated in the pod. **not working**
[code]

If I remove my domain name `patrikdufresne

[2017-11-15 00:12] ikus060 opened #17317 "Logging - Image openshift/origin-ansible:v3.7.0-rc.0 not found"
After installing OpenShift 3.7.0-rc0 with `oc cluster up --logging`, it seams the logging server is not working. After some digging. I found the image `openshift/origin-ansible:v3.7.0-rc.0` cannot be pulled.

##### Version
[code]

##### Current Result
[code]

##### Expected Result
I'm expecting the logging server to be working.

[2017-11-15 02:04] smarterclayton commented on #17282
Not going to revert, but I can provide a workaround.  However, what context
is using the SRPMs?  Something calling make build-rpms?  Grabbing from
GCS?  Another path?

On Nov 14, 2017, at 5:30 PM, Ari LiVigni <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> are you fixing this
since current CentOS-PaaS-SIG is broken. Can you revert the change you made?

—
You

[2017-11-15 02:04] zonArt commented on #17238
@miminar Thanks for trying to help me understand what's not working with my setup. I'm not sure adding nginx in front of your registry really changes something especially when looking at your `server_name` value compared to the `--from` in the `import-image` command. Are you sure you pass through the nginx ? Another suggestion would maybe also try not having the internal docker registry in the `Do

[2017-11-15 02:16] yangpeng14 opened #17318 "Dead container cleaning"
[provide a description of the issue]

##### Version
version 1.5.1

##### Steps To Reproduce
1.Issues
$ docker ps -a | grep Dead

9cffacc405ff        openshift/origin-pod:v1.5.1                                                     "/pod"                   5 days ago          Dead                                          k8s_POD.50d4dca2_smartstudy-backend-test-3766556469-vjztd_c-test_43e474d7-c511-1

[2017-11-15 02:32] arilivigni commented on #17282
Yes a workaround would work as well.  We need a SRPM to feed to CBS in CentOS.  In fact it would be best to build the SRPM every time since we are eventually going to grab the RPMs that get created from the Openshift CI.  Can we actually make this a default?

Currently I am calling the following:
OS_BUILD_ENV_PRESERVE=_output/local hack/env RPM_BUILD_OPTS="--define 'dist .el7'" OS_ONLY_BUILD_PLATF

[2017-11-15 02:52] pennpeng opened #17319 "ERROR [main] 2017-11-15 02:47:04,866 CassandraDaemon.java:710 - Has no permission to create directory /cassandra_data/data"
[provide a description of the issue]

##### Version
[code]

##### Steps To Reproduce
storage:openstack cinder

##### Current Result
[code]
#### node2
[code]

#### The logs:
[code]
##### Expected Result

##### Additional Information
[code]

[2017-11-15 06:20] abinstephen1989 commented on #17245
C:\Downloads\oc>oc whoami
astephen-1

[2017-11-15 09:25] pennpeng commented on #17319
i set all SCC policies to the default values ,and restart master,it's ok!

[2017-11-15 09:25] #17319 closed

[2017-11-15 10:42] knweiss commented on #15038
@petervo Yesterday, I ran into this issue, too, after upgrading from Fedora 26 to Fedora 27 and testing the [OpenShift Docker test installation](https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container): F26 works, F27 does not - **although** I'm using `docker-1.13.1-26.gitb5e3294.fc27.x86_64` (which is supposed to be okay according to your comment).

[2017-11-15 10:48] knweiss commented on #15741
See also #15038.

[2017-11-15 10:51] 0x656b694d opened #17321 "skyDNS setup: issues with services names resolution on Ubuntu 17.10"
Hello,

Probably a non supported setup, I'm sorry, but still would be nice if somebody could help.
Having a Ubuntu 17.10 virtual machine with docker I want to make a stand-alone openshift server working via `openshift start`. It works almost fine: the only issue is DNS, of course. The pods fail to resolve services names. skyDNS is running on :8053 and I can resolve the names manually via `dig -p 8

[2017-11-15 11:03] iocanel commented on #17294
@bparees: Yes, the actual log, shows nothing of interest. The build is successful (that's what I mean by false negative). I'll use more verbose logging and update my post.

[2017-11-15 12:10] jim-minter commented on #17245
OpenShift developer preview does not support Docker builds for security reasons, and the cluster-admin role is not available to end users.

[2017-11-15 12:14] mfojtik opened #17322 "Tweak resync interval in build controller rather than in build integration test"
This https://github.com/mfojtik/origin/blob/master/test/common/build/controllers.go#L40 means that when the integration test fail to meet the expectation (like build pod is not removed/etc),  the integration will wait 6 minutes until it give up.

I believe this is due to reconcile period in build controller and 6 minutes allows it to run. I think this is wrong and we should tweak the reconcile per

[2017-11-15 12:26] TomasTomecek commented on #15038
@lsm5 can you give us a hand here please?

[2017-11-15 13:51] pweil- commented on #17307
To update the docker daemon config you need to pass `--exec-opt native.cgroupdriver=systemd` to the docker daemon.  Update your systemd unit file to pass this argument and restart the docker with `systemctl`.  From there try your `openshift start` command again.

For more info on this docker parameter please refer to the upstream documentation: https://docs.docker.com/engine/reference/commandline/

[2017-11-15 14:03] inlandsee commented on #15038
Here as well.

docker version                                                                                                                                                                                                   [master ✘]
Client:
 Version:         1.13.1
 API version:     1.26
 Package version: docker-1.13.1-41.git0861eff.fc27.x86_64
 Go version:      go1.9.1
 Git commit:      2b0cdee

[2017-11-15 14:03] kamran000 opened #17324 "Error in Port forwarding"
Trying to do port forwarding using following command, getting error.

#oc port-forward kapua-console-3-7ll4v 8080:8080

error: error upgrading connection: error dialing backend: dial tcp: lookup tekfocal-precision-workstation-t3500 on 127.0.0.1:53: no such host

[2017-11-15 14:20] miminar commented on #17238
I'm pretty sure the request goes through the nginx proxy. The `Docker Pull Spec` is unrelated to the problem - I've explained its meaning [above](https://github.com/openshift/origin/issues/17238#issuecomment-343162121).

So it seems the only option left to reproduce the issue is to start using artifactory. But before I do, could you please try to catch headers between nginx and master using wiresh

[2017-11-15 14:57] bparees opened #17325 "Timeout: Waiting for a default service account to be provisioned in namespace"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17092/test_pull_request_origin_extended_conformance_install/2451/

[code]

[code]

The default timeout for this is 2 minutes.

[2017-11-15 15:18] bparees commented on #17322
We'd have to *decrease* the reconcile period (make it reconcile more frequently) to do what you're describing.  We're not going to do that.

(If anything we want to increase those periods, which will be a problem for this test also)

also if we're routinely having these tests fail and hit the 6 minute timeout, that is what should be fixed.

All that said, i'm not even entirely clear on the need fo

[2017-11-15 15:34] php-coder commented on #16878
It has to be fixed but I see it right now: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17296/test_pull_request_origin_extended_conformance_gce/11330/

[2017-11-15 17:07] stevekuznetsov commented on #17282
@smarterclayton until we get publishing in the works for the pipeline, let's add in the `rpmbuild` step so that the user-facing call that Ari's making still gives him the SRPM?

[2017-11-15 17:11] arilivigni commented on #17282
What is the command line to build the SRPM now if I choose to?

[2017-11-15 17:31] pweil- commented on #17321
I would suggest the dev mailing list for this topic, it is not a bug report (also correct that it is an unsupported setup).

[2017-11-15 17:31] #17321 closed

[2017-11-15 17:38] pweil- commented on #17318
Garbage collection is performed on the node and is typically run every minute.  This is configurable with parameters described in https://docs.openshift.org/latest/admin_guide/garbage_collection.html (which also describes how something becomes eligible for collection).

It doesn't look like you've surpassed `maximum-dead-containers-per-container` or `maximum-dead-containers`

[2017-11-15 18:07] garyyang6 commented on #17307
@pweil- I started docker with the command, dockerd --exec-opt native.cgroupdriver=systemd. And restarted openshift. But, I got "getsockopt: connection refused". I cannot hit the openshif origin page.

./openshift start
W1115 17:52:34.943310    8336 start_master.go:297] Warning: assetConfig.loggingPublicURL: Invalid value: "": required to view aggregated container logs in the console, master start

[2017-11-15 18:24] jorgemoralespou opened #17328 "Error trying to set a role in a user starting with -"
I have a user with following name: __-pepe__ (not the real one, but similar has been provided)

I want to add admin permission to the user, so I do:

[code]

I can add the permission through the UI without a problem.

![image](https://user-images.githubusercontent.com/78350/32853103-86cf64d4-ca3a-11e7-9306-bb4dd1cab15a.png)

##### Version
1.7.0-rc.0

[2017-11-15 19:14] sdodson commented on #17307
This is using Docker CE 17.11.0-ce-rc3 from docker, just use docker from centos or fedora.

[2017-11-15 19:30] bparees opened #17330 "error: build error: devmapper: Error mounting /dev/mapper/..."
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17094/test_pull_request_origin_extended_builds/634/

docker build failed:
[code]

[2017-11-15 19:33] #16220 closed

[2017-11-15 20:42] ikus060 opened #17331 "oc cluster join fail with 3.7.0-rc0"
Trying to add a new node with `oc cluster join` is failing in openshift v3.7.0-rc0.

##### Version
[code]

##### Steps To Reproduce
1. Create a master using `oc cluster up`
2. Try to add a new node using `oc cluster join`

##### Current Result
The docker container fail to start because of an invalid argument.
[code]
With `docker logs`:
[code]
Using `runlike`to reverse the command line use to start

[2017-11-15 20:50] ikus060 commented on #17331
Related to this change #16571

[2017-11-15 20:55] garyyang6 commented on #17307
@sdodson I removed Docker CE and installed docker from centos. But, I still got errors.

systemctl start docker
[root@sf-docker01 ~]# docker version
Client:
 Version:         1.12.6
 API version:     1.24
 Package version: docker-1.12.6-61.git85d7426.el7.centos.x86_64
 Go version:      go1.8.3
 Git commit:      85d7426/1.12.6
 Built:           Tue Oct 24 15:40:21 2017
 OS/Arch:         linux/amd64

[2017-11-15 21:48] #17312 closed

[2017-11-15 23:46] garyyang6 opened #17337 "Openshift Origin Container: How to import application template"
[provide a description of the issue]
Per instruction, https://docs.openshift.org/latest/getting_started/administrators.html, Method 1: Running in a Container, I ran the command,

docker run -d --name "origin" --privileged --pid=host --net=host -v /var/log:/var/log -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /sys/fs/cgroup:/sys/fs/cgroup:rw -v /var/lib/docker:/var/lib/docker:rw -v /var/

[2017-11-16 00:25] jpeeler opened #17339 ""oc cluster up" fails on Fedora 27 due to mounting issue"
Running `oc cluster up` on Fedora 27 is not working. This is seen in dmesg:
`SELinux: mount invalid.  Same superblock, different security settings for (dev mqueue, type mqueue)`.

[code]

This should be easily reproducible since I did it on two separate systems. In the above output you'll see I tried changing svirt_sandbox_file_t to container_file_t, which seemingly had no effect.

[2017-11-16 01:28] GrahamDumpleton opened #17340 "Timeout on probe using container command doesn't work. Will CRI-O fix it."
I have been told previously long time back that this issue cannot be fixed so long as ``docker`` is used and so not it may not have had an issue created for it. Am creating an issue for it now as want to know whether CRI-O will fix it.

The problem is that when you use a container command as a readiness and liveness probe, the ``timeout`` value for the probe doesn't work. That is, if the probe han

[2017-11-16 02:55] arilivigni commented on #17282
@smarterclayton Can you please provide an update and a solution for this issue you broke the API we are using.

[2017-11-16 06:01] yangpeng14 commented on #17318
There are already 13 Dead containers on node, and the following parameters are set, but you can't clear the Dead.

  minimum-container-ttl-duration:
  - '60s'
  maximum-dead-containers-per-container:
  - '2'
  maximum-dead-containers:
  - '2'

[2017-11-16 10:01] jtudelag opened #17341 "Role system:image-pusher does not allow to push images."
The clusterrole system:image-pusher does NOT allow to push images.

##### Version
oc version
oc v3.6.173.0.49
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://lb.karmalabs.local:8443
openshift v3.6.173.0.49
kubernetes v1.6.1+5115d708d7

In OCP 3.5 does not work neither.

##### Steps To Reproduce
1. Give a user the role system:image-pusher
oc adm policy add-c

[2017-11-16 10:04] jtudelag commented on #17341
The role is defined like this:

`apiVersion: v1
kind: ClusterRole
metadata:
  annotations:
    openshift.io/description: Grants the right to push and pull images from within
      a project.
  creationTimestamp: null
  name: system:image-pusher
rules:
- apiGroups:
  - image.openshift.io
  - ""
  attributeRestrictions: null
  resources:
  - imagestreams/layers
  verbs:
  - get
  - update`

When It

[2017-11-16 12:16] pweil- commented on #17318
Thanks for the update @yangpeng14 I'll reopen this so folks can take a closer look.

[2017-11-16 13:28] jcantrill commented on #17317
/unassign
/assign @jupierce @sdodson

[2017-11-16 13:47] php-coder opened #17345 "hack/build-images.sh fails with "stat examples/gitserver/bin/gitserver: no such file or directory""
[code]
Full log is here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16934/test_pull_request_origin_end_to_end/5565/

[2017-11-16 13:48] php-coder commented on #17345
CC @stevekuznetsov

[2017-11-16 13:53] kamran000 opened #17346 "How to run oc commands in Raspberry Pi 3"
Tried to deploy Linux version of openshift client tool but getting following error:
bash: ./oc: cannot execute binary file: Exec format error

[2017-11-16 14:27] jmontleon commented on #17339
There's a BZ for this and a workaround here:
https://bugzilla.redhat.com/show_bug.cgi?id=1504709

/usr/share/rhel/secrets is getting mounted in the containers and causing problems mounting other secrets. Removing the new folder will get you by until it is sorted out.

[2017-11-16 14:47] matzew opened #17347 "No Metrics images for v3.8.0-alpha.0"
doing `oc cluster up --metrics --version=v3.8.0-alpha.0`
bring up the cluster, but in the `openshift-infra` infro project, I am getting errors, because there are no images for `v3.8.0-alpha.0` on the different metric containers, like:

https://hub.docker.com/r/openshift/origin-metrics-cassandra/tags/

These three images do lack a matching v3.8.0-alpha.0 tag:

* origin-metrics-heapster:v3.8.0-alpha

[2017-11-16 15:24] jpeeler commented on #17339
The referenced bugzilla links to #15038, so I'll close this one. As mentioned by Jason, the workaround is to move /usr/share/rhel/secrets. Appreciate the pointer!

[2017-11-16 15:24] #17339 closed

[2017-11-16 15:38] xiaods commented on #17346
rasp is arm platform, you need build again on it platform.

[2017-11-16 16:09] stevekuznetsov commented on #17345
@smarterclayton did we lose the hardlink after your latest refactor

[2017-11-16 17:02] smarterclayton commented on #17345
Yes, gitserver is dead, we should remove it.

On Thu, Nov 16, 2017 at 11:09 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-11-16 17:29] rootfs commented on #17287
installing ceph pkgs from ceph.com needs epel package, see https://github.com/openshift/origin/pull/16028

ping @stevekuznetsov

[2017-11-16 20:38] bparees opened #17352 "Warning FailedScheduling 0/1 nodes are available: 1 NodeUnderDiskPressure."
I don't know if it's a legitimate warning or something broken, but we're seeing a lot of test fail because pods don't get scheduled due to this error.

So either we need more disk space on our instances, or we need to see why the nodes are confused about their capacity.

[code]

@stevekuznetsov @smarterclayton @sjenning

[2017-11-16 20:50] smarterclayton commented on #17282
OS_BUILD_SRPM=y

On Wed, Nov 15, 2017 at 9:55 PM, Ari LiVigni <notifications@github.com>
wrote:

[2017-11-16 20:50] smarterclayton commented on #17352
We have pretty big instances, this could indicate that we're downloading
too much.  Easy way to do it is to ssh into a running test and observe disk
usage.

On Thu, Nov 16, 2017 at 3:38 PM, Ben Parees <notifications@github.com>
wrote:

[2017-11-16 20:59] coreydaley commented on #15038
I am still on Fedora 26 and getting this issue as of today (i probably upgraded some packages recently)

[2017-11-16 21:12] csrwng opened #17353 "builds extended test: next build should have started less than 20s after canceled build"
Test failure:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17283/test_pull_request_origin_extended_builds/650/

Serial builds should start soon after the previous build terminates.

[2017-11-16 21:15] csrwng commented on #17353
@bparees fyi

[2017-11-16 21:20] bparees commented on #17352
too much what? images?  is this warning about docker storage or general disk storage? or both?

[2017-11-16 21:23] bparees commented on #15038
@jim-minter is this the same as the bug you found on f27?  If so i think this should be p1.

[2017-11-16 22:11] jim-minter commented on #15038
Yes - this is https://bugzilla.redhat.com/show_bug.cgi?id=1504709 .

[2017-11-16 23:25] sjenning commented on #17352
There are a few flags in the kubelet that handle this

https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource

[code]

Basically if the hard threshold is exceed OR the soft threshold is exceeded for more than a grace-period duration, eviction occurs and node conditions are set.

`eviction-minimum-reclaim` controls the "chunk" the will attempt to be reclaimed once a threshold is exceed

[2017-11-16 23:27] bparees commented on #17352
@sjenning based on the message `0/1 nodes are available: 1 NodeUnderDiskPressure.` is this imagefs or nodefs?  It certainly sounds more like the latter.

[2017-11-17 00:37] stevekuznetsov commented on #17352
What does `generated/filesystem.info` show you in those jobs?

[2017-11-17 02:00] ikus060 commented on #13336
I don't want to create a new ticket for this issue, so I will comments on this one.
The `oc cluster join` command is broken in v3.6.1, here how:

**--host-data-dir doesn't work**
When executing `oc cluster join --use-existing-config --host-data-dir=/var/lib/origin/openshift.local.volumes --secret="$(cat kubeconfig)"`, the generated docker container doesn't have the proper volume created.
`--volume

[2017-11-17 02:32] smarterclayton commented on #13336
Re: join - starting with 3.7 we are officially supporting the bootstrap
path for nodes.  join needs to be updated to work with it (and has not done
so), so please stay tuned.  To see how bootstrapping is used, you can look
at openshift-ansible
https://github.com/openshift/openshift-ansible/blob/ec564267f4a25036c92a71be481cfd9e4c03537a/roles/openshift_node/tasks/bootstrap.yml

Briefly, start a mast

[2017-11-17 02:33] smarterclayton commented on #17352
Oh wait, this is ec2, not GCE.  GCE is 150gb disks.  I bet ec2 is a lot
smaller.

On Thu, Nov 16, 2017 at 7:37 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-11-17 02:42] ikus060 commented on #13336
@ smarterclayton yep, I've read your PR #16571.
While `openshift start node` might work, it doesn't get called properly when trying to use `oc cluster join ...`
But did you have a look at #17331. I've raise this problem. It seams related to wrong arguments getting passed to the container.

[2017-11-17 02:57] smarterclayton commented on #13336
oc cluster join is experimental and currently broken.  It's on track to be
fixed for 3.9

On Thu, Nov 16, 2017 at 9:42 PM, Patrik Dufresne <notifications@github.com>
wrote:

[2017-11-17 03:03] jefflee416 commented on #1753
@schweikert Thanks for sharing. I tried to add the option to ExecStart, but openshift complaining "-v" isn't a valid "openshift start " option.

[2017-11-17 03:08] sjenning commented on #17352
@bparees the same node condition is set for either so I really couldn't say

[2017-11-17 03:36] bparees commented on #1753
-v is an arg to docker,  not open shift. It's for mounting volumes into a container.

[2017-11-17 05:34] kamran000 commented on #17346
@xiaods thanks, where can i find source of openshift client tool, as this code is complete openshift origin, I just need to run oc commands, need to access remote openshift origin server from pi

[2017-11-17 07:00] stevekuznetsov commented on #17352
We harvest disk info for this exact reason. @bparees can you link some jobs with this failure?

[2017-11-17 10:22] ramato-procon commented on #15038
I'm also giving up. It's already the fith error I'm fighting with using Fedora 26...

[2017-11-17 10:23] runcom commented on #15038
I'm looking into this

[2017-11-17 12:54] bparees commented on #17352
@stevekuznetsov i will do so next time i see a failure like this.

[2017-11-17 13:35] pweil- commented on #17337
@garyyang6 apologies but this is for reporting bugs and is not the best way to find general help.  I would recommend you review the [template documentation](https://docs.openshift.org/latest/dev_guide/templates.html) which gives an example of how to upload a template and reach out on the dev mailing list or stack overflow for questions that are not bugs.  If you've found a bug please don't hesitat

[2017-11-17 13:35] #17337 closed

[2017-11-17 13:36] pweil- commented on #17331
https://github.com/openshift/origin/issues/13336#issuecomment-345131198

fixed for 3.9

[2017-11-17 13:36] #17331 closed

[2017-11-17 13:50] jefflee416 commented on #1753
Correct, "-v" is an arg to "docker run" to map host volume to containers, but it is not a valid arg to ExecStart of /etc/systemd/system/multi-user.target.wants/docker.service either. So I wonder how they make it work.

[2017-11-17 13:58] soltysh commented on #15038
I'm bumping this to P0, this is literally blocking any work on fedora, I'm on F26.

[2017-11-17 14:03] rhatdan commented on #15038
Does @runcom fixes https://bugzilla.redhat.com/show_bug.cgi?id=1504709#c28 for this solve this issue as well?

[2017-11-17 14:06] runcom commented on #15038
Also, in case you need to get going and are blocked by this, the workaround is to:
[code]
You don't need to restart docker and cluster up will instantly work again.

[2017-11-17 14:09] carljmosca commented on #15038
@runcom Can you please clarify that workaround?  Are you suggesting that one needs to do a "cluster down" followed by a "cluster up" or that once the rm command issued there's no need to restart Docker nor is there a need to restart the already running cluster?

TIA,
Carl

[2017-11-17 14:11] runcom commented on #15038
@carljmosca you probably need to restart the cluster, as for docker, no you don't need to restart docker

[2017-11-17 14:12] carljmosca commented on #15038
@runcom thank you - will give it a try

[2017-11-17 14:18] gnufied commented on #13611
Closing this. evicted pods should have their volumes unmounted correctly now.

[2017-11-17 14:18] #13611 closed

[2017-11-17 14:42] schweikert commented on #1753
Note that this was recently fixed and works for me without hacking with OpenShift Origin 3.6. See: https://github.com/openshift/openshift-ansible/pull/4414

[2017-11-17 15:35] simo5 commented on #17328
When a user has a username starting in - then that string get's interpreteed as a command line option.
For that case you have to do cmd arg "escaping" by prepending the standard termination of cmd line options:
use:
oc policy add-role-to-admin admin -- -pepe

[2017-11-17 15:35] simo5 commented on #17328
Not a bug, work as expected

[2017-11-17 15:35] #17328 closed

[2017-11-17 15:41] bparees commented on #17330
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/280/testReport/junit/(root)/Extended/_Feature_Builds__Slow__extremely_long_build_bc_names_are_not_problematic__build_with_long_names_delete_builds_with_long_names_without_collateral_damage__Suite_openshift_/

[2017-11-17 16:20] sosiouxme opened #17359 "Test flake: [Conformance] Ensure supplemental groups propagate to docker should propagate requested groups to the container"
https://github.com/openshift/openshift-ansible/pull/6150
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6150/test_pull_request_openshift_ansible_extended_conformance_install/2386/

[code]

[2017-11-17 16:49] stevekuznetsov opened #17361 "Origin GCE e2e Jobs Broken -- No Nodes"
None of our GCE clusters are bringing up _any_ nodes. We start the instances but the `origin-node.service` on them includes only:

[code]

The installer does not seem to break on this. Perhaps this is a node scaling group issue?

/kind bug
/cc @deads2k @bparees @liggitt @sdodson
/assign @smarterclayton @kwoodson

[2017-11-17 16:51] stevekuznetsov commented on #17361
Maybe addressed by https://github.com/openshift/openshift-ansible/pull/6167 ?

[2017-11-17 16:52] liggitt commented on #17361
that only affects the rebase, not master

[2017-11-17 16:53] bparees commented on #17341
near as I can tell, this is a bug and we should be adding the "create" permission(along with retaining get+update) to the image-pusher.  @deads2k are you aware of a reason this was done this way?

[2017-11-17 16:56] stevekuznetsov commented on #17361
@smarterclayton also massively suspect how the [`zz_origin_gce_image`](https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/577/) job passed to push this out

[2017-11-17 16:56] stevekuznetsov commented on #17361
Or did we get broken by a new push of node base image?

[2017-11-17 17:00] stevekuznetsov commented on #17361
We are running with https://github.com/openshift/openshift-ansible/commit/6cfc4a162cff36bb2ba7bb482135060e76c5d5a1 in the `openshift/origin-gce:latest` image

[2017-11-17 17:09] carljmosca commented on #15038
This did get me past the one error but now I am getting this:

Pushing image 172.30.1.1:5000/myproject/test:latest ...
--
  | Warning: Push failed, retrying in 5s ...
  | Warning: Push failed, retrying in 5s ...
  | Warning: Push failed, retrying in 5s ...
  | Warning: Push failed, retrying in 5s ...
  | Warning: Push failed, retrying in 5s ...
  | Warning: Push failed, retrying in 5s ...
  | Warn

[2017-11-17 17:10] bparees commented on #15038
@carljmosca sounds like your internal registry is not running.

[2017-11-17 17:11] runcom commented on #15038
I tested I can oc new-app just fine though

[2017-11-17 17:16] carljmosca commented on #15038
@runcom yes, the project and app are created for me as well but something is not right...don't have time to look right now

[2017-11-17 17:20] smarterclayton commented on #17361
[code]

is why we haven't picked up a new image.  I suspect infra problems first, then changes to release / origin.

[2017-11-17 17:22] smarterclayton commented on #17361
Broke between:

[code]

Who made changes at 8am yesterday?

[2017-11-17 17:23] garyyang6 opened #17367 "Openshift Origin Container: "Browse Catalog". It spins forever."
[provide a description of the issue]

Per instruction, https://docs.openshift.org/latest/getting_started/administrators.html, Method 1: Running in a Container, I ran the command,

docker run -d --name "origin" --privileged --pid=host --net=host -v /var/log:/var/log -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /sys/fs/cgroup:/sys/fs/cgroup:rw -v /var/lib/docker:/var/lib/docker:rw -v /var

[2017-11-17 17:24] smarterclayton commented on #17361
This was the last passing branch build:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/1943/

I think someone merged something to master that broke us at 7:56 AM EST yesterday

[2017-11-17 17:28] smarterclayton commented on #17361
Nothing has passed since #17344 and @mfojtik merged

[2017-11-17 17:31] liggitt commented on #17361
that reverted to master to be identical to 11235db179aab5be728b3c8219996c9e730c1fce which was bot-merged

[2017-11-17 17:33] stevekuznetsov commented on #17361
How are we expecting changes to Origin to have caused this? I'm not even seeing the `origin-node.service` attempt to be started by `systemd` on those nodes. Not like it's failing to come up.

[2017-11-17 17:53] bparees commented on #17330
something has regressed, i'm seeing this in more and more failures.
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17314/test_pull_request_origin_extended_builds/662/

[2017-11-17 17:53] bparees commented on #17330
@derekwaynecarr fyi.

[2017-11-17 18:01] jefflee416 commented on #1753
Thanks David. I figured out why I don't see this option in my systemd files, I installed the cluster as 'native' cluster, which led to role "/usr/share/ansible/openshift-ansible/roles/openshift_master/templates/native-cluster" being triggered.

[2017-11-17 18:46] sdodson commented on #17361
Is a change in openshift-ansible that was made recently, we need to update origin-gce for this change I guess.

[2017-11-17 18:49] stevekuznetsov commented on #17361
Right but that change is blocking _new_ origin-gce releases, so it's not the proximal change here.

[2017-11-17 18:53] smarterclayton commented on #17361
Gce uses a different base image, which wasn’t updated (or rather, someone
would have had to do that without me noticing).

On Nov 17, 2017, at 12:33 PM, Steve Kuznetsov <notifications@github.com>
wrote:

How are we expecting changes to Origin to have caused this? I'm not even
seeing the origin-node.service attempt to be started by systemd on those
nodes. Not like it's failing to come up.

—
You ar

[2017-11-17 20:05] hundt opened #17368 "Old flows still around after migrating network plugins"
I followed the instructions to migrate to the `ovs-networkpolicy` plugin (namely, steps 1 and 2 [here](https://docs.openshift.org/1.5/install_config/configuring_sdn.html#migrating-between-sdn-plugins)). But on nodes that were previously using `openshift-ovs-subnet` there were still flows present that caused traffic to be delivered to all the pods, namely this one:

`cookie=0x0, duration=863489.976

[2017-11-17 20:40] ikus060 commented on #13336
@smarterclayton I'm not sure it's the right place to continue discussion. If you have a better place, please tell me.
With 3.7.0-rc0, I give a try to your command:
[code]
In the logs, I see:
[code]
Then nothing else happen. From the master server, I only received one cert. Probably the client server. I didn't get any serving cert to be approved.
Alos, my node it not showing in `oc get nodes`.

[2017-11-17 21:15] smarterclayton commented on #17361
gcloud is now returning an error trying to update the project metadata on GCE, which prevents bootstrapping from working.  Investigating whether there is an updated gcloud available from the package manager, or whether i'll have to hack it up.

[2017-11-17 22:00] smarterclayton commented on #17361
https://issuetracker.google.com/issues/69409423

[2017-11-17 23:53] woopla opened #17370 "NFS shares and running containers as Openshift project owner"
Hello,

We have large NFS shares with user-created data, using permissions to restrict access. I'd like for the users to be able to create a project on Openshift and run an application on it that has access to that data.

I could put all the users in the `anyuid` or `nonroot` SCCs, but that's more dangerous than it needs :) I don't see a feature to have the containers run as the same uid/gid of th

[2017-11-18 00:34] garyyang6 opened #17371 "Openshift orign: Global template library is missing"
[provide a description of the issue]
I installed openshift-origin-server-v3.6.1-008f2d5-linux-64bit.tar.gz at CentOS 7. The global template library is missing when I logon to the web console and create project.
##### Version
[provide output of the `openshift version` or `oc version` command]

./openshift version
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

 oc version
oc v3.6.

[2017-11-18 00:35] eliu commented on #5831
what is the progress now? no one follow up this issue?

[2017-11-18 03:29] xiaods commented on #17346
the oc source code is builtin in origin source code. you can make release to rebuild oc binary.

[2017-11-18 03:56] xiaods commented on #17370
hi, could you please share your step, let me familiar your context.

[2017-11-18 04:03] stevekuznetsov commented on #17361
Not blocking the queue any longer.

[2017-11-18 08:55] jorgemoralespou commented on #17328
@simo5, where can I find that in the documentation? If nowhere, I would say it's still a bug.

[2017-11-18 16:48] xqianwang commented on #13122
@AlbertoPeon so in KubeletArguments , we set image-pull-progress-deadline=10m?

[2017-11-18 19:21] simo5 commented on #17328
It's the standard way in all unix commands with long options ever.

[2017-11-19 00:55] yamashi commented on #16782
Running into this as well, is there a fix ?

[2017-11-19 04:43] bzon opened #17376 "How to stop Openshift from Creating LoadBalancer and Security Group if I don't want to?"
I want Openshift to be able to use AWS EBS as our containers Persistent Storage. I installed the Openshift cluster using advanced playbook installation without any AWS specific configuration. Post installation, I followed this guide https://docs.openshift.org/latest/install_config/configuring_aws.html, and did it successfully. Using the appropriate API Keys that can list, detach, and attach volume

[2017-11-19 06:52] #17345 closed

[2017-11-19 13:23] mavajsunco commented on #17047
I have same issue . error streaming logs from build pod: mavajsunco-website/mavajsunco-msc-6-build container: , container "sti-build" in pod "mavajsunco-msc-6-build" is not available

[2017-11-19 21:09] Turbots commented on #16782
I fixed it by setting up Docker storage on each host

[2017-11-20 00:20] antonin07130 commented on #14761
Hi, seems like it does not work for gitlab urls : steps to reproduce :
[code]

[2017-11-20 00:21] antonin07130 commented on #14761
Additional information :
[code]

[2017-11-20 02:34] pennpeng opened #17379 "logging-es-data-master-f1evf6kf-8-qvl16 0/1 CrashLoopBackOff"
##### Version
[code]

##### Steps To Reproduce
[code]

[code]

[2017-11-20 09:05] anderssv commented on #11566
A bit unclear to me. Anyone verified this pre 3.7? We're on 3.6 and the following does not work without specifying the namespace:

[code]

[2017-11-20 09:19] zonArt commented on #17238
Hi, sorry I'm quite busy during these two weeks won't have much time to provide you with the data you asked for. I'll try to get them as soon as I'm back next Monday. Thanks for your help

[2017-11-20 10:19] fisache commented on #17254
Just refers
https://github.com/kubernetes/kubernetes/issues/11626

[2017-11-20 12:15] kargakis opened #17380 "Support rolling tags in image change triggers"
I want to trigger rollouts from image stream and not image stream tag updates. By pushing continuously to an ImageStreamTag we cannot trivially perform rollbacks to previous revisions in case of a broken image (`oc rollout undo` is essentially broken).

cc @smarterclayton @tnozicka @mfojtik

/sig master

[2017-11-20 12:16] kargakis commented on #17380
Ok, this is not true since we resolve the image to the full path.

[2017-11-20 12:18] kargakis commented on #17380
I would still like to version image stream tags based on git commits.

[2017-11-20 12:36] jorgemoralespou opened #17381 "oc who-can don't show the expected result"
I have 2 users user01 and user02. user01 has created a project my-project to which he is admin. user01 runs oc policy add-role-to-user view user02. user02 can now see my-project.

Now, user01 wants to see a list of users that can look at the contents of his project. He expects to see a list that includes himself and user02. But what he gets is the below:

[code]

While if I list the rolebindings I

[2017-11-20 12:48] LarryWax commented on #13401
Hi, I have the same issue with DNS and stateful sets, pods that belongs to the same stateful set cannot resolv their hostname or hostnames from the other pods of the set.

The problem is that pods FQDN inside stateful set is in the format  $(podname).$(set service name).$(namespace).svc.cluster.local and not $(podname).$(namespace).svc.cluster.local like any other pods. [Stated here](https://kuber

[2017-11-20 12:52] tnozicka commented on #17380
I am not sure about this but let's see what others think. Tags are just labels and DC always resolve them to sha, so that way rollback/new pods/.. all work with exactly the same image.

You can have multiple tags with commits, why not, just then push the one you want also to latest and it will get deployed. @mfojtik I think this is similar to what we've turned down on last grooming.

[2017-11-20 13:28] kargakis commented on #17380
Yeah, we need a process in place that promotes images.

[2017-11-20 13:28] #17380 closed

[2017-11-20 13:46] deads2k commented on #17341
I don't remember off-hand.  I do remember @smarterclayton asking me to twiddle it for a build role somewhere a while back.

[2017-11-20 13:52] mfojtik opened #17382 "Not able to get logs from daemonsets"
Need to pick: https://github.com/kubernetes/kubernetes/pull/56045 after rebase lands.
Also need to add some tests exercising this.

@smarterclayton FYI

[2017-11-20 14:10] simo5 commented on #17341
@bparees I thought this was intentional as privileged users would provide known good base images and people would just always use them and only push layers on top.
If that is not the case and image-pusher should be able to create brand new images from scratch than yeah we should probably add the create imagestreams permission.
But before we do that I would like to have a definitive answer on what

[2017-11-20 14:19] kamran000 commented on #17346
@xiaods thanks

[2017-11-20 14:19] #17346 closed

[2017-11-20 14:29] kamran000 commented on #17244
again i deployed router, it worked fine for sometime and stopped. whenever i create new router, it work for some time.

[2017-11-20 14:56] bparees commented on #17341
that's what i'm trying to do....

[2017-11-20 15:11] crobby opened #17384 "Request for an API to be able to get the MetricsURL from within a pod"
I have a webui that runs inside a pod.  I'd like to have that webui show some customized metrics (They happen to be metrics for a Spark cluster running in Openshift).  Currently, I can't think of a reasonable way to get the MetricsPublicURL into the pod so it can be used by my webui.

Most recently tried with:
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNE

[2017-11-20 15:34] miminar opened #17387 "Smarter project cleanup"
Bootstrap project template (the one set in `projectRequestTemplate` of `master-config.yaml` file) can create resources that are not cleaned up when the project is deleted such as cluster role bindings.

We should allow for automated cleanup of such resources. This was requested by one of our customers - it was suggested to allow to specify some `projectDeletionTemplate`.

[2017-11-20 15:42] erikbsap commented on #17387
Here Erik from SAP. We have a project template that requires a clusterrolebinding to get helm/tiller running. Having a user configuration option to delete this would be really helpful in that usecase. Thanks for creating that ticket.

[2017-11-20 17:32] garyyang6 opened #17390 "Openshift Origin: The global template library is missing"
[provide a description of the issue]
I installed openshift-origin-server-v3.6.1-008f2d5-linux-64bit.tar.gz at CentOS 7. The global template library is missing when I logon to the web console.

The Browse Catalog should show global template library. Please see https://docs.openshift.org/latest/dev_guide/templates.html#uploading-a-template at the section,  "2. Select a template from the list of temp

[2017-11-20 18:11] jtudelag commented on #17341
In any case, I think also that the OCP docs should be clarified:
https://docs.openshift.com/container-platform/3.6/dev_guide/managing_images.html#creating-an-image-stream-by-manually-pushing-an-image

If the behaviour is intentional, docs should state that the imagestream have to exist before pushing it...

[2017-11-20 18:37] jtcressy opened #17392 "Builders not pushing images to integrated registry / Cannot resolve docker-registry.default.svc"
On a fresh install using openshift-ansible (branch release-3.6), builds fail to push images to the docker-registry. I've already tried re-deploying the registry, restarting the masters, and output from ``oc adm diagnostics`` is attached below.

##### Version
3.6.1

##### Current Result
Builder pods cannot resolve docker-registry.default.svc thus can't push images.
~~Builder pods cannot push to doc

[2017-11-20 18:53] smarterclayton commented on #17341
I created image-pusher.

The intent was that a normal openshift user could both tag images and also push to them.  We added the "create image stream" as a convenience so that you didn't have to have an image stream created to push to, just like any normal docker registry.

There are two roles at play:

* "edit" (i am a user logged in to a namespace).  Editors can create image streams and this is n

[2017-11-20 18:55] simo5 commented on #17390
Duplicate of #17371

[2017-11-20 19:02] bparees commented on #17341
personally i'd be ok with just introducing another role ("image-creator"?) that can both create new imagestreams, and push to existing ones(update).

(and then updating the doc to explain the difference).

That way we don't break anyone's existing flow, but going forward people have a role that does what they seem to expect.

Note that builder SAs today have both image-pusher and a separate "creat

[2017-11-20 19:12] simo5 commented on #17341
Mostly agree with having new role, even though it means, One. More. Role...

[2017-11-20 19:33] jtcressy commented on #17392
After digging through https://github.com/openshift/origin/issues/16097
and https://github.com/openshift/openshift-ansible/issues/5466

I solved it by running this on every host (master, infra and nodes)
[code]
Now i'm just *really* hoping this sticks after a restart.

[2017-11-20 19:33] #17392 closed

[2017-11-20 20:10] #17390 closed

[2017-11-20 20:17] kargakis commented on #16819
works fine now

[2017-11-20 20:17] #16819 closed

[2017-11-20 20:21] liggitt opened #17394 "`oc cluster-up` fails with 'repository name must be canonical'"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17385/test_pull_request_origin_extended_clusterup/100/

-- Checking for openshift/origin:v3.8.0-alpha.0 image ...
   Pulling image openshift/origin:v3.8.0-alpha.0
FAIL
   Error: error pulling Docker image openshift/origin:v3.8.0-alpha.0
   Caused By:
     Error: repository name must be canonical

post-rebase issue

cc @opens

[2017-11-20 20:30] kargakis commented on #15054
@tnozicka @mfojtik can you update the milestone if this is not meant to land in 3.7?

[2017-11-20 21:14] juanvallejo commented on #17394
Seeing this on https://github.com/openshift/origin/pull/17332 and when doing `oc cluster up` locally as well

[2017-11-20 21:16] liggitt commented on #17394
fix in #17395

[2017-11-20 21:18] jtudelag commented on #17341
IMHO either option would be ok, create a new role system:image-creator or give system:image-pusher additional rights to create IS. As long as we clarify and correct the docs to avoid misunderstandings.

[2017-11-20 21:59] juanvallejo opened #17397 "Refactor pkg/cmd/server/origin/controller/config.go#getOpenShiftClientEnvVars"
Tracking https://github.com/openshift/origin/pull/17357#discussion_r151726317 which points out the need to refactor config client env vars

[2017-11-20 23:15] juanvallejo opened #17398 "Expand documentation on HTTP_PROXY, HTTPS_PROXY, NO_PROXY"
Right now, [current documentation](https://docs.openshift.com/container-platform/3.6/install_config/http_proxies.html) covers proxy enrivonment variables
by mentioning that they can be set in podSpec templates, and as part of a
node's configuration. Documentation does not mention, however, that these
environment variables can also be set on the environment from which an
`oc` binary is being execut

[2017-11-20 23:43] #17394 closed

[2017-11-21 01:52] #15817 closed

[2017-11-21 02:51] acossette1979 commented on #13865
same thing :(
error: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory
Amelies-MacBook-Pro:cadc myname$ oc version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7

[2017-11-21 02:51] acossette1979 commented on #13865
error: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory
MacBook-Pro:cadc myname$ oc version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth
Server https://127.0.0.1:8443
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7

[2017-11-21 03:13] acossette1979 opened #17399 "error: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"
##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Deploy an images with a service account

##### Current Result
error: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory

##### Expected Result
secret is not on the disk...

[2017-11-21 06:15] tnozicka commented on #15054
I like the idea; targeting this 3.8

[2017-11-21 06:39] i-prakasa opened #17400 "Can not start Open Shift　grpc　getsockopt: connection refused""
When check Open Shift Status with these command
-----------------------------------------------------------------------
$ systemctl status atomic-openshift-master
I got error
grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: dial tcp xx.xx.xx.xx:2379: getsockopt: connection refused"; Reconnecting to {master.co.jp:2379 <nil>}
---------------------

[2017-11-21 07:23] runcom commented on #16403
Builds failures have been fixed (there's a pending PR still). We have 3 templateservicebroker tests failures remaining

[2017-11-21 08:08] zonArt commented on #13873
Same issue here

[2017-11-21 09:21] axl8713 commented on #17047
Same issue deploying rhscl/mysql-57-rhel7 on starter-us-east-1.

[2017-11-21 09:27] simonpasquier commented on #17280
It seems like the same issue as described in https://github.com/openshift/origin/issues/17167.

[2017-11-21 09:44] galderz opened #17401 "Template services not appearing in front page"
Using OpenShift Origin v3.7.0-rc.0+e92d5c5

The Infinispan* services I've created from my templates are not appearing the front page of OpenShift:
https://www.dropbox.com/s/qpjks2szhk2fhs2/Screen%20Shot%202017-11-21%20at%2010.38.54.png?dl=0

I have to click `Select from Project`, then select `openshift` and then I can see them:
https://www.dropbox.com/s/yfkegpea6yp65n8/Screen%20Shot%202017-11-21%2

[2017-11-21 10:53] zonArt commented on #13873
A little update for me on this issue, I just notice that I'm actually still using version v1.5.1 for the router, is it something wrong with openshift-ansible update playbook ? It may change if I update the router version what do you think ?

[2017-11-21 11:30] soltysh commented on #14327
Nothing I'm aware of like that exists, including jobs. I'll keep it in my todo list.

[2017-11-21 12:01] pweil- commented on #17400
this is the etcd port, is your etcd started if you are using standalone etcd?

[2017-11-21 12:04] pweil- commented on #17384
/cc @jcantrill

This is in the same vein as other requests for discovery of infra services via some mechanism.

[2017-11-21 12:09] pweil- commented on #17371
Hi @garyyang6.  The template library is something the administrator must set up by installing the templates into the shared `openshift` namespace.

Info about using the quickstart templates can be found [here](https://docs.openshift.org/latest/dev_guide/templates.html#using-the-instantapp-templates)

Info about the installation process for default templates can be found in the [installation and co

[2017-11-21 12:09] #17371 closed

[2017-11-21 12:21] jwforres commented on #17401
Probably something with the relist period from svc catalog to the TSB
@bparees

[2017-11-21 12:29] galderz commented on #17401
I've been out and came back and seems like eventually they appear:

https://www.dropbox.com/s/uk22s918rwim02p/Screen%20Shot%202017-11-21%20at%2013.27.54.png?dl=0

But they have a weird hash name on them, whereas the `Select from Project` method shows their template name. Any ideas where this name would come from? Any fields we should add to the templates above?

[2017-11-21 13:17] kargakis opened #17404 "Image change triggers do not work with apply,replace,et al"
Known issue but I stumbled across it today in our CI cluster and I was wondering if this can ever be solved somehow and what do we suggest to customers.

For clarity, the issue is that we have checked in git DCs with image change triggers and the changes caused by the triggers inside the cluster (image pullspec is resolved in `dc.spec.containers.image`) are never reflected back in git. Thus, it's

[2017-11-21 13:23] jwforres commented on #17401
https://docs.openshift.org/latest/dev_guide/templates.html#writing-templates

[2017-11-21 14:06] jcantrill commented on #17379
@pennpeng The image is out of sync with the version of openshift-ansible used to install logging.  https://github.com/openshift/openshift-ansible/issues/5497#issuecomment-331372471

[2017-11-21 14:06] #17379 closed

[2017-11-21 14:57] kargakis commented on #17404
@smarterclayton is it possible to blacklist/whitelist fields with server-side apply?

[2017-11-21 15:31] tnozicka commented on #17404
Upstream uses an annotation with serialization of the last applied configuration, that should help us to solve it. I don't think triggers are the only issue; seems like any defaulting field or e.g. image plugin present the same challenge.

[2017-11-21 15:38] stevekuznetsov commented on #17404
Hmmm maybe _this_ is what was screwing up all of our image resolution ...

[2017-11-21 15:51] mfojtik commented on #17404
/assign tnozicka

[2017-11-21 16:00] hundt commented on #16688
Any update on this? It is blocking our upgrade and we are having some other issues with 1.5

[2017-11-21 16:36] smarterclayton commented on #17404
Don't use triggers if you're driving config from git....

[2017-11-21 16:37] smarterclayton commented on #17404
No, it won't be possible to blacklist fields.  If you're doing a git driven config from tags, you should relying on dynamic resolution (at the pod level) via image lookup, not triggers.

[2017-11-21 17:02] smarterclayton opened #17411 "oc delete all --all didn't"
Tried to run oc delete all --all, it used to delete services, no longer does.  On 3.7 GA, cleared cache and tried again, got this list:

[code]

At minimum it's missing services.

[2017-11-21 17:03] smarterclayton commented on #17411
This is master oc against 3.7 server, not sure if it's broken in GA oc.  @fabianofranz

[2017-11-21 18:28] fabianofranz commented on #17411
I confirmed it fails with master `oc` and not in 3.7 `oc`.

[2017-11-21 19:41] simo5 opened #17412 "Some API calls to /oapi/rolebindings on one master returning different results than rbac.authorization.k8s.io"
We are seeing an intermittent failure to return rolebindings from an oc 3.6 client asking a 3.7.9 server.
Only 1 out of three masters returns empty results and only for a specific project as far as I can tell

[2017-11-21 19:50] smarterclayton commented on #17412
Also from a master oc client - confirmed that it was API only.

The failure is that /oapi/rolebindings returns nothing on one of three masters.  The underlying call made by the virtual resource goes to /apis/rbac.authorization.k8s.io/rolebindings, but all three masters return a valid value for that api endpoint.

[2017-11-21 19:59] xiaods commented on #17400
please checking etcd servie is running correctly.

[2017-11-21 20:00] simo5 commented on #17399
@pweil- sounds more of a kubelet issue than auth

[2017-11-21 20:02] simo5 commented on #17359
/assign @adelton

[2017-11-21 20:59] smarterclayton opened #17413 "certificate rotation broken after rebase"
Now that GCE is actually working again, its broken in master

[code]

[2017-11-21 20:59] smarterclayton commented on #17413
@liggitt @openshift/sig-master

[2017-11-21 22:50] bparees commented on #17401
as far as i know, brokers can't choose their own relist interval yet, that's up to the service catalog configuration.  @pmorie

[2017-11-21 23:02] smarterclayton opened #17416 "GCE suddenly testing many fewer test cases (including serial)"
Only running 176 e2e tests, instead of (i think) about 243 pre rebase.

[2017-11-21 23:03] smarterclayton commented on #17416
@openshift/sig-master not sure where the error is, but we're running less tests and it looks like the gcloud provider is not running.

[2017-11-21 23:45] smarterclayton commented on #17404
Actually, if the initial deployment / obj has a nil empty image that would
allow apply to work

[2017-11-22 00:19] kargakis commented on #17404
The DC image is update to an empty field because we allow it but the RC never runs because that is invalid:
[code]

[2017-11-22 00:46] smarterclayton commented on #17404
The trigger should be filling it out (if you want triggers).  Also,
starting in 1.8 image may be empty on everything except pods.

On Nov 21, 2017, at 7:19 PM, Michalis Kargakis <notifications@github.com>
wrote:

Actually, if the initial deployment / obj has a nil empty image that would
allow apply to work

The DC image is update to an empty field because we allow it but the RC
never runs because

[2017-11-22 01:16] smarterclayton commented on #17411
Dropping priority, although it's would still obviously be must fix for 3.8

[2017-11-22 01:17] i-prakasa commented on #17400
@pweil-  Thank you for your response.
After check etcd it seems not start.
I solve it and start manually.
So when PC server reboot we should run this service manually? Or there is any setting to keep this etcd active even we reboot ?

[2017-11-22 01:18] smarterclayton commented on #17341
I'm skeptical that adding a new role helps things.  Let's construct
arguments why we'd consider expanding pusher a real security issue.

On Mon, Nov 20, 2017 at 4:18 PM, Jorge Tudela <notifications@github.com>
wrote:

[2017-11-22 01:19] i-prakasa commented on #17400
@xiaods Thank you very much for your response.
I started it using this command
`systemctl start etcd`
and start again my Open Shift and it active again. Thank you very much

[2017-11-22 01:25] smarterclayton commented on #17416
Pre-rebase (and pre-GCE dying) https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/1942/ 249

Post-rebase https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17405/test_pull_request_origin_extended_conformance_gce/11770/ 176

[2017-11-22 01:28] bparees commented on #17341
arguments why we'd consider expanding pusher a real security issue.

I don't think I do, I was just trying to satisfy your concerns raised on my PR:
"If someone wants the legacy behavior, how do they get it (you can only push to names I give you explicitly)?"  (https://github.com/openshift/origin/pull/17363#issuecomment-345383561)

If "you can only push to names i give you explicitly" is no longer

[2017-11-22 01:29] #17413 closed

[2017-11-22 01:37] i-prakasa opened #17418 "Open Shift active running but nodes not ready"
I installed Open Shift and it already start with "Active" Status.
The problem is the nodes. If I look at installation guide, after installation the node status should be "Ready" status. But my node status "Not Ready" at all.
When I check node with
`oc describe nodes`
The result like this
  Type                               Status                      Reason                                   Messa

[2017-11-22 02:49] fabianofranz commented on #17411
@smarterclayton fix is here: https://github.com/openshift/ose/pull/931

[2017-11-22 03:16] smarterclayton opened #17419 "Route is not admitted because it conflicts with itself"
The routers on us-east-1 (3.7) are delayed significantly due to size of routing set.  When I deleted a route and recreated, my routes were marked as already claimed by themselves.  This is wrong.  Possible causes:

1. we have a rogue router that is lagging and competing?
2. we have bad synchronization in one router and it has the old copy of the prometheus route in the map but didn't remove it whe

[2017-11-22 03:16] smarterclayton commented on #17419
@openshift/sig-networking

[2017-11-22 03:29] zcatbear commented on #17280
Yes I was using the prometheus from the 3.6 branch.

[2017-11-22 03:35] liggitt commented on #17412
Version of all masters was consistent?

[2017-11-22 05:31] smarterclayton commented on #17412
Server version was consistent.  The kube rbac call was correct on all three
masters.  The openshift was wrong on one of them.

On Tue, Nov 21, 2017 at 10:35 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-11-22 07:39] pennpeng opened #17421 "Egress:Cannot find device "macvlan0""
[provide a description of the issue]

##### Version
[code]

##### egress pod
[code]

##### Current Result
[code]
##### The logs:
[code]

##### The pod
[code]
##### The SCC
[code]
##### The node4 network promisc up
[code]

[2017-11-22 09:03] jtudelag commented on #17341
I partially disagree with this, I mean from a security perspective, in a scenario where there is no IS, this role is harmless.

So taking security in mind and also honouring the legacy behaviour, I would say creating a new role system:image-creator would be better.

Another option is closing this issue and file a doc bug to clarify the docs...but I still think a system:image-creator role makes sen

[2017-11-22 09:07] adelton commented on #17359
@runcom, since you've been changing https://github.com/openshift/origin/blob/master/test/extended/security/supplemental_groups.go#L36 most recently, any idea from the top of your head what might be causing the error?

[2017-11-22 09:49] alezzandro commented on #17025
I confirm what @kincl was saying! Issue was solved by removing the two env variables.

@knobunc any idea why we got this "regression"?

Thanks

[2017-11-22 14:43] AntStephenson commented on #15038
Was seeing this on a Fedora 27 installation whilst trying to build a Python project, I was able to workaround this issue by using the information that @runcom provided above. Thank you!

[2017-11-22 14:55] jsafrane commented on #17263
This has flaked three times in a row for https://github.com/openshift/origin/pull/16538 that updates just `/example` directory.

[2017-11-22 15:35] RobMokkink opened #17424 "playbooks/byo/openshift-cluster/redeploy-certificates.yml does not configure namedCertificates"
Playbook playbooks/byo/openshift-cluster/redeploy-certificates.yml does not configure namedCertificates in `/etc/origin/master/master-config.yaml`.

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Install openshift without `openshift_master_named_certificates`

[2017-11-22 15:44] #17189 closed

[2017-11-22 16:40] stevekuznetsov commented on #17263
@jsafrane the jobs is 100% broken but is not required for any merges. Just running in the background.

[2017-11-22 16:42] stevekuznetsov commented on #17263
It's also _not_ set up to run by default, so it's the `/retest` that is running it for your PR.

[2017-11-22 17:16] RobMokkink commented on #17424
wrong project, sorry

[2017-11-22 17:16] #17424 closed

[2017-11-22 17:19] shrishs commented on #6283
Today I have upgraded from v3.6.173.0.21 to v3.6.173.0.49 and I have seen the registry is pushing again using registry service ip and thereby failing as this ip is not there in NO_PROXY list.

[2017-11-22 17:40] jorgemoralespou commented on #15215
@bparees Since the blocker was fixed and merged Sept 24th, can we fix this?

[2017-11-22 17:57] bparees commented on #17330
@jwhonce @derekwaynecarr I need someone to at least triage this bug.

https://ci.openshift.redhat.com/jenkins//job/test_branch_origin_extended_builds/285/testReport/junit/(root)/Extended/_Feature_Builds__Slow__incremental_s2i_build__Building_from_a_template_should_create_a_build_from___tmp_fixture_testdata_dir912815358_test_extended_testdata_builds_incremental_auth_build_json__template_and_run_it_

[2017-11-22 17:58] bparees commented on #17330
@jim-minter fyi since you're watching the extended tests this sprint.

[2017-11-22 18:19] jsafrane commented on #17263
Oh, ok. I miss the tiny `Required` label in test results window we/they have in Kubernetes :-)

[2017-11-22 18:43] legionus opened #17427 "tests in tools directory are broken"
[code]

[2017-11-22 19:12] bparees commented on #16749
@smarterclayton my interpretation of this rule is that it should never reject anything except images w/ the deny-execution annotation:

[code]

so how is *anything* being rejected?

it seems like we are mishandling the skipOnResolufionFailure configuration.

[2017-11-22 19:15] stevekuznetsov commented on #17263
Yeah, we considered it -- even `k/k` may get rid of it in the future :)

[2017-11-22 19:16] rjhowe commented on #4851
@aneagoe This was already proposed and denied keeping with the proposed way outlined in the doc link you provided. [Bug/RFE 1459046]( https://bugzilla.redhat.com/show_bug.cgi?id=1459046)

[2017-11-22 19:17] liggitt commented on #16065
@soltysh anything outstanding from this that needs a followup?

[2017-11-22 19:33] smarterclayton commented on #16749
I think there was a 3.6.0 resolution bug fixed almost immediately after where we were always resolving on some resources.  That was fixed in 3.6.1

[2017-11-22 19:34] bparees commented on #16749
@smarterclayton https://bugzilla.redhat.com/show_bug.cgi?id=1516496 is on 3.6.1 and still seeing the issue.

[2017-11-22 19:44] liggitt opened #17428 "3.9 rebase checklist"
- [x] DefaultGarbageCollectionPolicy signature change (https://github.com/kubernetes/kubernetes/pull/55148)
- [ ] Test comparing origin and k8s admin/edit/view roles using [role aggregation](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/cluster-role-aggregation.md)
- [ ] ~~Run `kubectl` test-cmd tests against origin cluster (probably we could just use upstr

[2017-11-22 19:45] liggitt commented on #17428
cc @openshift/sig-master

[2017-11-22 19:53] bparees commented on #15215
@jorgemoralespou thanks for noticing.  PR opened.

[2017-11-22 20:02] jorgemoralespou commented on #15215
It was @soltysh fault as he gave me a blog mentioning his workaround, and I hated the fact we need to workaround, so looked at it. I love not to write about workarounds and hacks.

[2017-11-22 20:16] bparees commented on #16749
@e-minguez assuming you aren't otherwise using this rule, can you delete it from your configuration?

[code]

[2017-11-22 21:51] smarterclayton opened #17434 "Annotate fails post-rebase on / characters"
[code]

I think this was a kube bug that was fixed, but oc master works on 3.7 servers and fails against a 3.8 server.

[2017-11-22 21:51] smarterclayton commented on #17434
@openshift/sig-master

[2017-11-22 21:57] stevekuznetsov commented on #17427
/assign @smarterclayton

something we did to test-go stopped running these

[2017-11-22 23:12] smarterclayton opened #17435 "Statefulset creates and deletes pod repeatedly, race condition or other error?"
In master:

[code]

Not sure if this is a new post-rebase bug, a known fixed in upstream, or otherwise broken.  This could potentially be very serious in a 3.7->3.8->3.9 fast rolling update.

@openshift/sig-master

[2017-11-22 23:15] smarterclayton commented on #17435
I was able to create it and it worked fine for a while, but after updating the stateful set it began doing this.  It might be an error with controller history?  No other obvious errors in logs at v=2.

Scenario:

1. create prometheus example on master
2. wait until it's up, view it
3. edit the stateful set

Actual: infinite loop of create and delete.

Could be related to image stream tag resolutio

[2017-11-22 23:15] smarterclayton commented on #17435
[code]

terrifying

[2017-11-22 23:26] smarterclayton commented on #17435
Happens on restart.  Create stateful set, then update.  Have two revisions.  Restart the master process and it goes crazy:

[code]

restart, starts growing unbounded

[code]

[2017-11-22 23:28] smarterclayton commented on #17435
Diff between two random revision 1:

[code]

Something about hash calculation is wrong.  Maybe unstable ordering of an underlying map when calculating the hash?

[2017-11-22 23:49] smarterclayton opened #17436 "break: test-cmd broke because of image for ppc64le arch no longer being imported from docker hub"
Since 2:30 EST on 11/22:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17314/test_pull_request_origin_cmd/6415/#githubcomopenshiftorigintestcmdimagesimagestreams-testcmdimagessh150-executing-oc-get-istag-test-nginx-multiarch-streamlinux-ppc64le---templateimagedockerimagemetadataarchitecture-expecting-success-and-text-ppc64le

[code]

Could be #17391 (unlikely, but merg

[2017-11-23 01:06] Tidus75 commented on #15038
@runcom many thanks! I was messing around with reverting the latest selinux updates and kernel patches for 2 days..

[2017-11-23 01:47] kargakis commented on #17263
We will likely end up with requiring all statuses that are present on a commit.

[2017-11-23 01:53] liggitt commented on #17434
I can't recreate this... what version of oc are you using?

[code]

[2017-11-23 01:57] liggitt commented on #17381
`view` is not an api verb. also, `who-can` takes the resource name as a separate arg.

`oc policy who-can get project my-project` would show what you expect

[2017-11-23 01:57] #17381 closed

[2017-11-23 01:57] liggitt commented on #17361
resolved

[2017-11-23 01:57] #17361 closed

[2017-11-23 02:32] bparees commented on #17436
docker manifest isn't providing anything except amd64 anymore:
https://paste.fedoraproject.org/paste/zAws11LEKRD-EtJxq-hg7A

looks like they reverted to schema2.v1 manifests?

we're just going to have to disable the test for now, unless you know of an image that does have other a v2 manifest.

[2017-11-23 02:44] bparees commented on #17436
well I did that wrong, but even once i request v2 + manifestlist schemas, i'm just getting back a regular manifest, not a manifest list.

[2017-11-23 03:05] bparees commented on #17436
well w/ some logging I am seeing manifestlists coming back. I don't know why my curl invocation won't give me one.  investigating why we're not seeing ppc

[2017-11-23 03:10] bparees commented on #17436
ok, s390x exists as a secondary arch, but ppc no longer does.  updated the test to use that for now, but we probably need to create our own manifestlist image on dockerhub in the future, if someone can help me figure out how to push a manifestlist.

[2017-11-23 04:46] bparees commented on #17436
updated the test to use a repository under our control w/ a multiarch manifestlist, so this won't get broken in the future if docker changes random image manifests.

[2017-11-23 05:23] smarterclayton commented on #17436
oc image mirror should be able to easily copy

On Nov 22, 2017, at 11:46 PM, Ben Parees <notifications@github.com> wrote:

updated the test to use a repository under our control w/ a multiarch
manifestlist, so this won't get broken in the future if docker changes
random image manifests.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<http

[2017-11-23 05:30] bparees commented on #17436
copy what? to where?

[2017-11-23 06:09] smarterclayton commented on #17436
oc image mirror SRC DST where SRC is a manifest list and DST is a repo
under our control on the hub

On Nov 22, 2017, at 10:10 PM, Ben Parees <notifications@github.com> wrote:

ok, s390x exists as a secondary arch, but ppc no longer does. updated the
test to use that for now, but we probably need to create our own
manifestlist image on dockerhub in the future, if someone can help me
figure out how

[2017-11-23 06:10] budhrg opened #17438 "[Question] Why Glide when we have dep?"
I recently saw few commits for `glide.yaml` [commit1](https://github.com/openshift/origin/commit/9e214041e98db015dbf03b8fd9748e9db3a2f03f) and [commit2](https://github.com/openshift/origin/commit/4de2dc54177bda8875a3dc4b2d688fc5d724efe1)

Are we migrating from Dep to Glide?

Glide is in support mode and no new feature development happens there. The Go community now has the [dep](https://github.com

[2017-11-23 06:30] bparees commented on #17436
under our control on the hub

per my comments in the PR, i've already created a repo under our control w/ a proper manifest list.  And i'm not sure where i would have SRCed a valid one from if i hadn't created one from scratch, since as already established, the one we were using doesn't contain ppc anymore.

[2017-11-23 09:16] mfojtik commented on #17438
@deads2k @sttts I think we owe an email to users list describing why we picked glide over dep.

Basically from what I heard dep has still issues handling multi-level dependencies in vendor directory and we will have to plumb dep to make it work the same way as glide does today. I think it is reasonable to switch to dep when it can handle all the edge cases origin currently have (forks, different l

[2017-11-23 09:24] mfojtik commented on #17411
@fabianofranz are you going to fix this in master as well?

[2017-11-23 09:46] e-minguez commented on #16749
So, I think I have this working properly with the following configuration:

[code]

And I think the key was modifying the `imageConfig.format` to add the default registry to pull from, so the image includes the full url and matches the "allow-images-from-dockerhub" rule, otherwise I think that information is missing and the rule denies it.

Anyway, I think the documentation is confusing and maybe

[2017-11-23 09:46] dmytroleonenko opened #17439 "LDAP auth logging should mention base search"
I was debugging an authentication issue with LDAPPasswordIdentityProvider and found that log entries with loglevel=4 do not include search base. It only mentions sub filter.

Nov 22 16:14:40 ip-10-60-8-179.ec2.internal origin-master-api[31540]: I1122 16:14:40.564446       1 ldap.go:129] searching for (&(memberOf=CN=ARSG-openshift-admins,OU=ourou,DC=domain)(userPrincipalName=user@domain))
Nov 22 16

[2017-11-23 09:53] mfojtik commented on #17434
@smarterclayton I tried to repro this, but it works for me (same as @liggitt)

[code]

[2017-11-23 10:08] austincunningham opened #17440 "router link dead on services tab"
[provide a description of the issue]
router link dead on services tab

##### Version
[provide output of the `openshift version` or `oc version` command]
oc v3.7.0-rc.0+e92d5c5
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0-rc.0+e92d5c5
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
![openshift error](https://user-ima

[2017-11-23 10:18] dernasherbrezon opened #17441 "oc command is slow"
Running simple command using oc takes more than 2 seconds.

##### Version
$ oc version
oc v3.5.5.31.24

##### Steps To Reproduce
1. On windows
2. Run the following command: powershell -Command "Measure-Command {oc.exe --help}"

##### Current Result
Days              : 0
Hours             : 0
Minutes           : 0
Seconds           : 3
Milliseconds      : 110
Ticks             : 31107311
TotalDays

[2017-11-23 11:04] #17436 closed

[2017-11-23 11:18] rdemarinis commented on #17025
We also tried same solution proposed by @kincl and it solved the issue (openshift v3.6.173)
I'm interested to understand the reason of this kind of regression. Any idea ?

Thanks

[2017-11-23 12:42] soltysh commented on #16065
@liggitt not sure what you mean by followup, there are still open issues here that needs addressing, and I'm currently working on it.

[2017-11-23 13:16] holgerkoch commented on #16552
@mrsiano Thank you very much for your help. Your solution is very simple to install and works like a dream.

[2017-11-23 14:12] legionus opened #17443 "dockergc ignores the --dry-run option"
[code]
but then you try to use it:
[code]

[2017-11-23 14:13] dmage commented on #17443
typo in the error message: s/unable to remove container/unable to remove image/

[2017-11-23 14:20] legionus commented on #17443
[code]
Also the `fmt.Printf` is used to display messages instead of `glog`.

[2017-11-23 14:41] miminar commented on #6283
@shrishs how do you install the cluster? Containerized or advanced installation with ansible? Did you set `OPENSHIFT_DEFAULT_REGISTRY` somewhere?

[2017-11-23 14:52] mfojtik commented on #17441
/assign smarterclayton

[2017-11-23 15:02] polaru opened #17445 "deployer_controller doesn't copy tolerations to deployer pod"
When creating a DeploymentConfig that includes tolerations, the deployer pod get's created w/o the tolerations. Because it uses the same nodes as the regular pods, it fails to start (because the nodes were tainted, that's why we included the tolerations in the config in the first place).

##### Version
[code]
##### Steps To Reproduce
1. Taint nodes
2. Create a DeploymentConfig using those nodes in

[2017-11-23 15:34] jwforres commented on #17440
This is already fixed in master to point to the new pages, and they will also be setting up redirects from the old pages to the new ones.

[2017-11-23 15:34] #17440 closed

[2017-11-23 16:07] luckyycool commented on #14452
It is never fixed, my build is waiting to start from 8 hours...I have tried deleting and creating again from last 1 week, nothing worked.

[2017-11-23 16:13] bparees commented on #14452
@luckyycool there are many possible causes of that.  If you would like some assistance resolving your issue, which is almost certainly different than what was resolved here, please open a new issue and provide:

1) your cluster version
2) your buildconfig yaml
3) your build object yaml
4) any other useful steps to recreate your issue.

typical causes include your build referencing an imagestreamta

[2017-11-23 16:17] tnozicka opened #17446 "`oc get all` shows some resources twice"
[code]

[code]

dc.yaml:
[code]
oc create -f <dc.yaml>

likely related to `apiVersion: "apps.openshift.io/v1"`

the object should be seen in all the groups but we should list from only one of the groups

[2017-11-23 16:20] exquisitus opened #17447 "Prometheus example configuration: route leads to 404 page not found"
The template https://github.com/openshift/origin/blob/master/examples/prometheus/prometheus.yaml creates a setup which does not seem to be functioning completely correctly

##### Version
oc v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0-alpha.1+fdbd3dc
kubernetes v1.7.0+695f48a16f

(Tested on two diffe

[2017-11-23 16:20] tnozicka commented on #17446
actually I see it twice even without explicitly setting the apps group

[2017-11-23 16:21] tnozicka commented on #17446
cc: @fabianofranz

[2017-11-23 16:22] tnozicka commented on #17446
@mfojtik I haven't seen this before rebase, did you touch this area?

[2017-11-23 16:23] tnozicka commented on #17446
this works fine though
[code]

[2017-11-23 16:23] luckyycool commented on #14452
@bparees I understand what you are saying...I have created account last week only.  And I am just trying to  run first app by creating a nodejs app from it's own github link..no custom code /setup modification.

[2017-11-23 17:38] tnozicka commented on #17404
I don't think this is related only to apply. The issue is the whatever way user manages to set image to "" (or anything in general) and there is a valid trigger for it we should first resolve the trigger and rewrite the image field to that value. We somehow manage to deploy RC when the state is image="" - that seems like a bug in DC controller.

[2017-11-23 17:42] kargakis commented on #17404
I think I also noticed that. Shouldn't be hard to reproduce.

[2017-11-23 18:53] smarterclayton commented on #17441
/assign mfojtik

[2017-11-23 18:54] smarterclayton commented on #17441
On a modern system loading 88mb into memory should come from the page cache and take less than a few tens of ms.  Antivirus settings are one culprit.  Recommend Fabiano look

[2017-11-23 21:16] megian commented on #17287
Check the comments here that the leveldb is causing the dependency to EPEL and a possible way with the package centos-release-ceph-luminous to prevent EPEL https://bugs.launchpad.net/puppet-ceph/+bug/1562998

[2017-11-24 02:39] xiaods commented on #17421
macvlan0 should be create before.

[2017-11-24 03:31] kuramal opened #17449 "login with system:admin failed"
when I login my openshift cluster  with command:
`oc login -u system:admin  --config=/etc/origin/master/admin.kubeconfig `
but  I get an error
`error: Forbidden`

##### Version
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
etcd 3.2.1
oc v3.6.1+008f2d5
##### Steps To Reproduce
`oc login -u system:admin  --config=/etc/origin/master/admin.kubeconfig `

##### Current Result
`error: Forbidden`

[2017-11-24 04:29] xiaods commented on #17421
we found the Pod container use container network, it can't found macvlan0 host network device.
so we need set POD is hostNetwork: true in the spec yaml

[2017-11-24 07:56] fushilong opened #17450 "How to insecure search/inspect images in OpenShift web console"
From an existing project In OpenShift web console, click "Add to project" ---> "Deploy Image" --->"Image Name", in the below text field,we can fill specified registry and image name then click magnifier button to inspect the image. So the question is the "Searching" behaviour is secured or unsecured? Is this configurable? If I want to insecure  to connect the registry,how can I do?

Any advice or

[2017-11-24 10:53] tnozicka commented on #14785
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17448/test_pull_request_origin_extended_conformance_install/2904/

[2017-11-24 10:59] tnozicka opened #17452 "Flake: FAILURE: INSTALL ORIGIN: OpenShift Health Checks: missing image"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17448/test_pull_request_origin_extended_conformance_install_update/9565/

[code]

[2017-11-24 11:39] DanyC97 opened #17453 "Question - SCC restricted is reset during upgrade"
Before upgrading my Origin env from 1.5 to 3.6 (1.6) i had my default scc `restricted` set to

[code]
After the upgrade it was reset (lost `hostPath`) to

[code]
Anyone can help me understand if this is the expected behavior and if so where is that covered (code, doc) so i can understand better?

I know that ideally i should have my own sa with my own extended scc rather than rely on the default o

[2017-11-24 11:51] php-coder commented on #17453
Yes, this is expected behavior.

During upgrade, `oc adm policy reconcile-sccs` is being executed and ["set all SCC policies to the default values but retain any additional users, groups, labels, and annotations as well as priorities you may have already set"](https://docs.openshift.org/latest/admin_guide/manage_scc.html#updating-security-context-constraints). This is documented in the section abo

[2017-11-24 11:51] #17453 closed

[2017-11-24 12:06] DanyC97 commented on #17453
much thanks @php-coder !!!

[2017-11-24 12:22] cloudbow commented on #4211
This will be amazing if its done. Its true that we should not use this for the mongo use case but would be great for someone who don't care about the network I/O throughput.

[2017-11-24 12:52] tnozicka commented on #17435
I could reproduce it even by just creating the StatefulSet and restarting master. I suspect this is caused by some rouge retry and collision avoidance for hash. Looking...

[2017-11-24 16:07] tnozicka commented on #17435
@smarterclayton this is broken upstream as well.

I think newRevision is now not re-entrant because of https://github.com/kubernetes/kubernetes/pull/50490/files
That revealed the fact that we don't wait for rev informer when starting StatefulSet controller (which I am fixing now).

I think we will need to add expectations, although it seems to be working now, or revert the collision avoidance PR.

[2017-11-24 16:55] smarterclayton commented on #17435
Can you make sure there is a high severity Kube issue blocking/impacting
the 1.9 release?  We need to at least triage it.

Thanks

On Nov 24, 2017, at 11:09 AM, Tomáš Nožička <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> this is broken upstream
as well.

I think newRevision is now not re-entrant because of
https://github.com/kubernetes/kubernetes/pull/50490

[2017-11-24 18:34] fabianofranz commented on #17446
The rebase touched this area. cc @juanvallejo

[2017-11-24 19:53] fabianofranz commented on #17411
@mfojtik Master doesn't need it since this is already in the latest rebase. I opened it for `release-3.7` in origin: https://github.com/openshift/origin/pull/17454.

[2017-11-24 19:55] fabianofranz commented on #17411
So

https://github.com/openshift/ose/pull/931 OSE fix
https://github.com/openshift/origin/pull/17454 origin fix

Feel free to close if we're maintaining a release in only one instead of both repos.

[2017-11-24 21:18] tnozicka commented on #17435
@smarterclayton I have labeled both the issue and PR, not sure how to make it impact 1.9 release because I can't set the miletone

[2017-11-25 02:36] syui opened #17455 "5 MatchNodeSelector"
I am using OpenShift Online Starter.

## oc version

[code]

## 5 MatchNodeSelector

Error : `0/260 nodes are available: 255 Insufficient memory, 5 MatchNodeSelector.`

[code]

[2017-11-25 13:01] eliu opened #17456 "Error "Server connection interrupted. Refresh" shows while using nginx reversing proxy to openshift web console"
I use nginx to create a reverse proxy to the OpenShift web console for some reason. The web page can display but shows `Server connection interrupted` error notification intermittently.

The nginx conf file is something like this:

[code]

##### Version
[provide output of the `openshift version` or `oc version` command]

oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Ke

[2017-11-25 18:29] kow3ns commented on #17435
I set the milestone and added approval for the 1.9 milestone

[2017-11-26 10:43] vymiyai commented on #17455
Experiencing the same problem every time I try to redeploy an image.

[2017-11-26 19:34] smarterclayton opened #17458 "flake: test-cmd does not start up correctly sometimes"
test-cmd is failing to start in some runs, it looks like etcd is either starting from an inconsistent state, or we have a more subtle etcd configuration bug:

[code]

There should be no other process holding the etcd lock in this test suite.  The run continues (with etcd partially starting, perhaps?) but bootstrap hooks fail:

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/1741

[2017-11-26 19:34] smarterclayton commented on #17458
@openshift/sig-master

[2017-11-26 19:37] liggitt commented on #17458
Wonder if this is the same issue I'm seeing with `openshift start master` dying with ` error: EOF` during initial startup occasionally. Only seen from clean start, and only occasionally. Hadn't been able to track down the error further (my kingdom for an originating stack trace)

[2017-11-26 19:50] mlbiam opened #17459 "Internal DNS resolving .svc to public .svc domain instead of .svc.cluster.local when member of RH IDM Domain"
[provide a description of the issue]
Running openshift-enterprise installed with ansible (generated from hosts from quick install) on RHEL 7.4 thats joined to RHIDM domain (RHIDM domain is NOT cross forrest trusted with an AD domain but is forwarding DNS requests).  When I attempt a build, the build completes but fails to push into the internal registry with the error `https://docker-registry.defa

[2017-11-26 21:06] smarterclayton commented on #16749
Was 'allow-images-from-dockerhub' something you added?  When you specify
execution rules, if all execution rules are "reject" (as in the default
case when only 'execution-denied' exists) then there is an implicit
"allow-all".  If you have both reject and match rules, then there is no
implicit allow all (at least one rule has to match, and zero reject rules
have to match).  If you added 'allow-imag

[2017-11-26 21:19] megian opened #17460 "no kind "ControllerRevisionList" is registered for version "apps/v1beta1""
The openshift-ansible upgrade from openshift/origin:v3.6.1 to openshift/origin:v3.7.0-rc.0 failed with the error : exited without processing all resources: no kind "ControllerRevisionList" is registered for version "apps/v1beta1"

The upgrade process stops at playbooks/common/openshift-cluster/upgrades/upgrade_control_plane.yml "Upgrade all Storage"

After manually executed
oc adm policy reconcile

[2017-11-27 02:35] #17449 closed

[2017-11-27 03:12] mlbiam commented on #17459
so after a fun twitter debugging session trying various combinations we came to realize that the pod is correctly resolving `docker-registry.default.svc` by first adding `cluster.local` to make `docker-registry.default.svc.cluster.local` BUT docker push uses the docker daemon on the host so its using the host's `/etc/resolv.conf`.  No combination of `search` or `domain` configurations made it work

[2017-11-27 04:17] gbraad opened #17461 "Support for running on Windows using Linux Containers for Windows (LCOW)"
As part of the Windows 10 Pro 1709 and the Docker edge release, it is possible to activate "Linux Containers on Windows" (LCOW). This means that in future versions, the user needs to choose the older MobyLinuxVM or use LCOW. Either this needs to be made comptaible, or documented.

I was running *Docker for Windows* + *Hyper-V* + `oc cluster up`
Then I decided to update *Docker for Windows* to  [Ed

[2017-11-27 06:16] GrahamDumpleton opened #17462 "Add oc set-deployment strategy command."
The only way I know of for changing deployment strategy from command line is using +oc edit+ or +oc patch+. There really should be an +oc set deployment-strategy+ option to allow the strategy to be changed, as well as set other parameters of +dc.spec.strategy+.

It is a common enough problem when only having ``RWO`` persistent volumes, of needing to swap the deployment strategy to ``Recreate`` to

[2017-11-27 06:32] teotia39 opened #17463 "No Provision for applying new changes in ansible inventory file to existing running advanced cluster"
Have used an ansible inventory file with enabling cluster matrix for horizontal pod autoscaler to work , But now i have to recreate whole cluster , Why can't we change our inventory file and re-execute

**ansible-playbook [-i /path/to/inventory] \
    ~/openshift-ansible/playbooks/byo/config.yml**

and   only new changes gets populated in our cluster.

##### Version
openshift origin version - 3.6.

[2017-11-27 07:26] vfreex opened #17464 "hostPort iptables rule is lost after node restarts"
[provide a description of the issue]
hostPort mapped by daemonset will disappear after node (or just docker) restarts.
But I am not sure if it is still present in latest version.

##### Version
[provide output of the `openshift version` or `oc version` command]
OpenShift origin v3.6.1+008f2d5

##### Steps To Reproduce
1. Create a DaemonSet with hostMap, example https://gist.github.com/vfreex/fc768

[2017-11-27 09:34] mfojtik commented on #17462
Agree, I was thinking about this command for a long time. @kargakis @tnozicka agree this will be useful?

[2017-11-27 09:38] mfojtik commented on #17456
probably need some wisdom from @knobunc team ;-)

[2017-11-27 09:40] mfojtik commented on #17446
@tnozicka entirely possible rebase did something here, I do remember some changes to printers and describers. Worth to investigate.

/assign juanvallejo

[2017-11-27 09:41] mfojtik commented on #17447
/assign smarterclayton

[2017-11-27 09:42] mfojtik commented on #17445
@tnozicka i will work on this... also this reminds me that we probably need a test where we check if every field is copied to deployer pod properly (probably have blacklist for fields we don't copy).

[2017-11-27 09:51] GrahamDumpleton opened #17465 "The oc set deployment-hook should default to Abort for failureStrategy."
When you use ``oc set deployment-hook``, the ``failurePolicy`` is defaulting to 'Ignore' when it should really be 'Abort'. The web console in contrast doesn't default to 'Abort', so command line doesn't match what web console uses as one would expect.

Using 'Ignore' as a default is a bad idea because a failure of the hook means the deployment still occurs, when default expectation would be that i

[2017-11-27 10:04] GrahamDumpleton opened #17466 "Inheriting environment variables from dc when using oc set deployment-hook."
When you use ``oc set deployment-hook``, the environment variables from the deployment configuration are not automatically inherited. The ``oc set deployment-hook`` command provides the ``--environment`` option to set environment variables, but what one really needs is a way to say inherit all or selected environment variables by name, from the deployment configuration.

Right now can't see how yo

[2017-11-27 10:19] mmahut commented on #17455
Follow the starter outages at https://status.starter.openshift.com/

[2017-11-27 10:46] GrahamDumpleton commented on #17466
Ignore me. Environment variables most likely inherited automatically even if not defined in 'pre' section. Verifying.

[2017-11-27 11:09] GrahamDumpleton commented on #17466
Closing. I deceived myself by looking at volumes first, which aren't mounted by default and require ``--volumes`` option.

[2017-11-27 11:09] #17466 closed

[2017-11-27 11:45] jwforres commented on #17456
That message means there are issues establishing websocket connections. Check that you have properly configured nginx to allow websocket connections through.

[2017-11-27 11:56] jwforres commented on #17450
It's not actually a search API, it is just a dry-run mode of the imagestream import API. More details on image import:
https://docs.openshift.com/container-platform/3.6/dev_guide/managing_images.html#importing-tag-and-image-metadata

The image import API creates an imagestream in your project so you need the correct permissions in that project to run it.

Today the console doesn't let you set up c

[2017-11-27 12:09] nasica88 opened #17468 "no openshift/origin-pod image for ppc64le"
[oc new-app deployment fails on ppc64le architecture]

##### Version
$ openshift version
openshift v3.6.1+008f2d5-dirty
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

$ oc version
oc v3.6.1+008f2d5-dirty
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

##### Steps To Reproduce
1. Pull a docker image for ppc64le and verify it.

$ docker images
REPOSITORY          TAG                 IMAGE ID

[2017-11-27 12:42] kargakis commented on #17462
Yes, we have been wanting this for some time now

[2017-11-27 12:58] mfojtik commented on #17465
@jwforres @jhadvig why is console defaulting to Abort ?

[2017-11-27 13:02] enj commented on #17359
Looks like multiple calls are trying to mutate the same SCC object without doing conflict backoffs?

[2017-11-27 13:07] runcom commented on #17359
I basically need a way to exec in a pod and found that doing that (from another test) works. If this is causing issues, does anybody know how to achieve the same w/o playing with `adm` and scc?

[2017-11-27 13:51] kargakis opened #17470 "Support execing into non-pod resources"
[code]
@mfojtik @openshift/sig-user-interface

[2017-11-27 14:15] mfojtik opened #17472 "TestTriggerController is racy"
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17469/test_pull_request_origin_unit/6070/

Not going to paste the 2k+ lines in output, but the race detector detected a race in that test.

@smarterclayton not sure if this is something I broke in DeepCopy() PR or something that is broken for long time...

[2017-11-27 14:57] smarterclayton commented on #17472
So I have never seen a race here, so my guess is deep copy isn’t actually copying, or we’re using it incorrectly.

[2017-11-27 14:59] cf532088799 commented on #17210
Hello，I can`t start api-server,the logs tells:
Nov 27 22:47:48 localhost kubelet: E1127 22:47:48.679948    2374 kubelet_volumes.go:114] Orphaned pod "4d166379-d370-11e7-bed4-0e85c26ea6ca" found, but volume paths are still present on disk.
Nov 27 22:47:48 localhost kubelet: E1127 22:47:48.680037    2374 kubelet_volumes.go:114] Orphaned pod "d8d80b9a-d354-11e7-bed4-0e85c26ea6ca" found, but volume pa

[2017-11-27 15:03] smarterclayton commented on #17447
Did you try on rc.0?

[2017-11-27 15:06] mfojtik commented on #17470
/cc juanvallejo
/cc fabianofranz

[2017-11-27 15:29] spadgett opened #17474 "oc cluster up --version=latest broken on mac"
Here is the error:

Seems to be the same as #14101?

Cluster up output:

[code]

##### Version

oc version
oc v3.8.0-alpha.0+33c21b7-276
kubernetes v1.8.1+0d5291c
features: Basic-Auth

cc @csrwng @derekwaynecarr @jwforres @rhamilto

[2017-11-27 15:35] celebdor commented on #14244
Thanks!

[2017-11-27 15:54] danwinship opened #17475 "SubnetAllocator issues with multiple subnets"
If you have multiple clusterNetworkCIDR values, then at startup, the master creates a netutils.SubnetAllocator for each range, but it passes the complete list of currently-allocated subnets to each NewSubnetAllocator call, which will result in each one printing `"Provided subnet doesn't belong to network"` messages for each subnet that belongs to a different range. It shouldn't do that. Either mas

[2017-11-27 16:13] csrwng commented on #17474
@spadgett we have regressed because we're no longer including the kubelet binary in the image, so we don't know that we should set the cgroup flag. Will submit a PR shortly

[2017-11-27 16:14] pweil- commented on #17400
you can use `systemctl` to enable the service on boot.

[code]

More info is available about this command in the man page.

[2017-11-27 16:14] #17400 closed

[2017-11-27 16:52] exquisitus commented on #17447
Now I did, and I got the same result

[2017-11-27 17:11] runcom commented on #17330
Could you guys please provide output of docker version and info subcommands, lvs, dmsetup table and status, and journald entries for the period of failure. Thanks!

[2017-11-27 17:21] simo5 commented on #17412
So this turned out to be a case of a cluster that was in a bad state, due to human action.
One of the three masters had been downgraded to 3.6
3.6 does not proxy to RBAC but relies on a controller that syncs Policy and RBAC. The sync controller was not running though, as it does not exist in 3.7 and 3.6 was not in control.

So closing as it is not a bug, just a mess-up by the admins.

[2017-11-27 17:21] #17412 closed

[2017-11-27 17:25] jwhonce commented on #17330
@runcom What exists for that period will be under the 'S3 Artifacts' tab on the left-hand side of screen.

docker info and journal entries are there.

[2017-11-27 18:56] enj opened #17481 "GSSAPI test failure due to run command error: watch closed before Until timeout"
This is possibly related to https://github.com/kubernetes/kubernetes/pull/50102

From https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_gssapi/272/

[code]

The `oc run` command failed due to:

[code]

@openshift/sig-master @openshift/sig-security @openshift/cli-review

[2017-11-27 19:15] pweil- commented on #17468
related: https://github.com/openshift/origin/issues/17436 https://github.com/openshift/origin/pull/17437

[2017-11-27 19:15] pweil- commented on #17468
/cc @bparees @smarterclayton

[2017-11-27 19:59] juanvallejo commented on #17446
In `oc`, the DiscoveryFilteredExpander expands `all` to
[code]

Because the aliases mapped to `all` include both `deploymentconfigs` and `deploymentconfigs.apps.openshift.io`, any dc's in the current project are retrieved twice

[2017-11-27 20:04] JacobTanenbaum commented on #17475
@danwinship do you have a preference? I think it would be okay to remove the check of the subranges in use, the call to ParseNetworkInfo checks that all existing subnets appear in a clusterNetworkCIDR range

[2017-11-27 20:21] danwinship commented on #17475
Slight preference for the more complicated solution. Otherwise I would have just fixed it myself. :)

Actually, SubnetAllocator is only used by pkg/network/master anyway. So how about we just move it there, and then go ahead and remove the warning in NewSubnetAllocator() because we can just assume that the caller has already checked it in that case

[2017-11-27 20:30] smarterclayton commented on #17447
I’m actually not sure the alert manager has anything other than an API.

[2017-11-27 20:37] jim-minter commented on #17330
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/287/testReport/junit/(root)/Extended/_Feature_Builds__Slow__completed_builds_should_have_digest_of_the_image_in_their_status__Docker_build_started_with_log_level__5_should_save_the_image_digest_when_finished__Suite_openshift_/
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_builds/288/testReport/

[2017-11-27 20:38] bparees commented on #17474
was this only regressed on the mac?  if not, why was this not caught by our oc cluster up extended tests?

[2017-11-27 20:42] rliessum commented on #16992
Should be generated from /etc/dnsmasq.d/origin-dns.conf ?

[2017-11-27 21:05] csrwng commented on #17474
it was only regressed on the mac

[2017-11-27 21:16] smarterclayton commented on #17472
I can’t find an earlier failure before

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17457/test_pull_request_origin_unit/6063/

What changed in master around that time?

On Nov 27, 2017, at 10:00 AM, Michal Fojtik <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> i switched
<https://github.com/openshift/origin/pull/17444/commits/d48

[2017-11-27 21:26] juanvallejo opened #17483 "Remove auto-migration as part of kubeconfig loader"
Tracking https://github.com/openshift/origin/pull/17357#discussion_r153302979

This issue tracks the [removal of migration-rules](https://github.com/openshift/origin/blob/master/pkg/oc/cli/config/loader.go#L30) (and auto-migration of existing kubeconfig files in general), as the default location has not changed in over two years.

cc @deads2k @smarterclayton @liggitt

[2017-11-27 21:46] juanvallejo opened #17484 "Re-assess naming in node config command"
Tracking https://github.com/openshift/origin/pull/17357#discussion_r153303190

Starting a discussion with regards to how node names should be handled in a kubeconfig file.

cc @deads2k @smarterclayton @liggitt

[2017-11-27 22:02] juanvallejo opened #17485 "Refactor use of cluster nick when creating config"
Tracking https://github.com/openshift/origin/pull/17357#discussion_r153303387

Refactor use of cluster nickname [when creating a kubeconfig](https://github.com/openshift/origin/blob/master/pkg/cmd/server/admin/create_kubeconfig.go#L164)

cc @deads2k @liggitt @smarterclayton

[2017-11-27 23:19] jim-minter opened #17487 "flake: jenkins-plugin test imagestream SCM DSL"
[code]

[2017-11-27 23:20] jim-minter commented on #17487
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/293/testReport/(root)/Extended/_image_ecosystem__jenkins__Slow__openshift_pipeline_plugin_jenkins_plugin_test_context___jenkins_plugin_test_imagestream_SCM_DSL__Suite_openshift__2/

[2017-11-27 23:24] jim-minter commented on #17487
@bparees: looks like the deployment controller redeployed the Jenkins master pod unexpectedly mid-test.
@mfojtik would you be able to take a look?

`05:18:52.691687` deployer-controller deletes jenkins-1-deploy pod (I think this is expected)

`I1123 05:20:21.506190   19435 replication_controller.go:218] Replication controller jenkins-1 updated. Desired pod count change: 1->0`
`E1123 05:20:21.50929

[2017-11-27 23:42] jim-minter opened #17488 "flake: jenkins-plugin test connection test"
[code]

[2017-11-27 23:42] jim-minter commented on #17488
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/294/testReport/junit/(root)/Extended/_image_ecosystem__jenkins__Slow__openshift_pipeline_plugin_jenkins_plugin_test_context___jenkins_plugin_test_connection_test__Suite_openshift_/

[2017-11-27 23:42] jim-minter commented on #17488
@gabemontero I'm not seeing the wood for the trees on this one - any chance you could help take a look?

[2017-11-28 01:35] bparees commented on #17487
@mfojtik unexpected/undesired deployment changes have been an issue the devex tests have smoked out before and turned out to be significant bugs.  Can you please make sure someone triages this with high urgency so we don't end up in the same situation again?

[2017-11-28 02:59] fushilong commented on #17450
@jwforres Thank you so much for the explanation,that's very useful!

[2017-11-28 03:38] GrahamDumpleton opened #17489 "Implement oc set container-hook."
The idea of implementing ``oc set container-hook`` was mentioned in https://github.com/openshift/origin/issues/9040 but it appears it was never implemented even though ``oc set probe`` and ``oc set deployment-hook`` were.

The command would need to support ``--post-start`` and ``--pre-stop`` options, alone with similar options to ``oc set probe`` to allow setting TCP, HTTP and command type actions

[2017-11-28 04:55] eliu commented on #17456
@jwforres thanks for the tips! Now the error notification faded away after handling websocket stuff within nginx.

[2017-11-28 07:11] GrahamDumpleton commented on #17489
Not sure if means ``tcpSocket`` is not supported, but the Kubernetes docs don't mention it for these.

* https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-handler-implementations

[2017-11-28 10:07] i-prakasa commented on #17418
This cause of DNS bind server. It used same port with dnsmasq so nodes become Not Ready status.
I remove DNS server and set it in another server. It automatically solve this issue.

[2017-11-28 10:07] #17418 closed

[2017-11-28 10:52] therevoman commented on #16424
Ran across this issue while trying to add SSL to a PostgreSQL container.  The SSL files need to have permissions of 0600 or Postgres refuses to start.  Using OSE 3.5/3.6 its impossible to use Secrets and implement SSL.

Since the code has an "OR", why not allow negative permissions for mode to counteract the "or" logic.  It would be better to find a way to modify the base mask, but I'm not sure if

[2017-11-28 11:53] #17456 closed

[2017-11-28 11:54] #17450 closed

[2017-11-28 13:01] patronluther opened #17490 "error: build error: fatal: unable to access Failed connect to github.com:443; Connection refused"
Following the steps from:
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md

I tried to create new application, but builds fail with error:
error: build error: fatal: unable to access Failed connect to github.com:443; Connection refused

##### Version

oc version
oc v3.6.0-rc.0+98b3d56
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://12

[2017-11-28 13:10] mfojtik commented on #17487
@tnozicka ^

[2017-11-28 13:14] patronluther commented on #17490
I think I am close. The VM has hostname oc.git.home.com and that is what the error messages references to. I'll need to change something, not sure yet what.

[2017-11-28 14:28] gabemontero commented on #17488
can do @jim-minter - on today's to-do list

[2017-11-28 14:51] deads2k commented on #17483
@smarterclayton It's been years, I don't think we need to support `~/.kube/.config` anymore
@juanvallejo direct code link please.

[2017-11-28 15:19] gabemontero commented on #17488
About to try locally ... especially if this is happening consistently, I suspect that something at the http level on api master changed slightly and the plugin is not getting what it previously expected on a bad url request for testing the connection to the api server.

[2017-11-28 15:25] jim-minter commented on #17488
seems it's the part where it tries to connect to https://1.2.3.4 that's the issue?  looking at jenkins_plugin.go:690 it's possible that if a non-200 was returned, it'd be masked by lines 693-695?

[2017-11-28 15:26] bparees commented on #16749
based on the last two updates (the working config and @smarterclayton's explanation of why images were being rejected once the new rule was added), i'm closing this.  @e-minguez please comment back if you have additional questions/concerns.

[2017-11-28 15:26] #16749 closed

[2017-11-28 15:26] gabemontero commented on #17488
Though this looks off as well:

[code]

The check for success url and check for failure url are the same ... the failure one should be mangled, no?

Will need to refresh my memory more on this test.  Run it locally as well with some debug.

[2017-11-28 15:30] jim-minter commented on #17488
The difference is the body part which is posted and not logged.

[2017-11-28 15:34] soltysh commented on #17460
That message doesn't look like it's related to roles not being reconciled. This is caused by a resource (here `ControllerRevisionList`) not being known to the oc command. Comparing apps/v1beta1 in [3.6](https://github.com/openshift/origin/blob/release-3.6/vendor/k8s.io/kubernetes/pkg/apis/apps/v1beta1/types.go) and [3.7](https://github.com/openshift/origin/blob/release-3.7/vendor/k8s.io/kubernetes

[2017-11-28 15:42] juanvallejo commented on #17483
What this issue aims to get rid of: https://github.com/openshift/origin/blob/master/pkg/oc/cli/config/loader.go#L30

Moved to [pkg/client/config/loader.go](https://github.com/openshift/origin/pull/17357/files#diff-479af547682bc81dcd6b91ac607bc4a9R26) in pull/17357

[2017-11-28 15:55] gabemontero commented on #17488
yeah was trying to reconcile that before leaving for our scrum ... now remember - we post to the jenkins url, which posts (using the body data) to the master url ... I was originally expecting the bogus body from the test to show up in that output I pasted previously

anyway, some `git blame` invocations reveal none of the test paths here have changed in a while ... I doubt that it is a test case

[2017-11-28 16:50] gabemontero commented on #17488
So there is an option "c" :-)

Running the scenario from the browser in Jenkins, as well as running the extended test locally against an updated origin/master work.

The key difference so far from my run and the logs from the test failure was the absence, in the ci test run failure, of the java stack trace expected when we attempt to test the connection with the bogus https url in the body.

This

[2017-11-28 16:59] smarterclayton opened #17493 "1/4 of master prometheus series are the openshift_apps_deploymentconfigs_last_failed_rollout_time"
Large cluster, 10k deployments, cardinality of openshift_apps_deploymentconfigs_last_failed_rollout_time is the highest on the masters (out of 40k total).

We should potentially filter this so only deployment configs that currently are in failure.  It's not the end of the world today, but it's ugly.

[code]

@tnozicka

[2017-11-28 17:10] gabemontero commented on #17488
Another possibility on cause could be container memory usage and/or JVM heap.  I explicitly did not bump the container memory for the jenkins_plugin.go tests (like what had to be done for the pipeline.go tests) since they were not exhibiting the same container memory pressure as a result of pipelines forking the oc command.  The old plugin simply makes direct http rest calls to the master.

It cou

[2017-11-28 17:22] smarterclayton opened #17494 "openshift-sdn metrics are ~1/3 of all node metrics series"
openshift-sdn contributes 1/3 of all prometheus metrics series on nodes (total ~500k).  The cardinality of those metrics is very high and needs to be reduced, probably by omitting additional data.  I think the latency buckets are probably overkill - we may have been too aggressive in adding these (they also contribute to memory use in some cases).

Also, a huge chunk of these are still reporting N

[2017-11-28 17:24] smarterclayton commented on #17494
I think sandbox_id, pod_name, pod_namespace as labels are what are causing it.  We should probably remove those - knowing exactly which pod has high latency isn't as relevant as knowing which node.  The logs on the node would be enough.

[2017-11-28 17:43] smarterclayton opened #17495 "Very large clusters cause excessive prometheus memory use due to certain high cardinality prometheus metrics"
High cardinality series on us-east-1 - #17494 covers the SDN metrics, but cadvisor is blowing out the rest.  We're at around 5-6GB with only node and master metrics, but with cadvisor enabled we jump to 20-22GB.

Things we probably don't care about out of this list:

* tasks_state
* memory_failures_total?
* spec_memory_swap_limit_bytes

Just reducing the cardinality of certain of these series woul

[2017-11-28 17:44] smarterclayton commented on #17495
Not sure what our best option is, but if we doubled the number of pods we would double the prometheus memory usage (roughly).

[2017-11-28 18:00] jodyhuntatx commented on #17290
seeing same. Not a great out-of-the-box experience. Minikube just worked.

[2017-11-28 18:03] jodyhuntatx commented on #17290
the 3.7 distro works per instructions

[2017-11-28 18:05] tnozicka commented on #17493
@mfojtik I recall you were adding the metrics - do you want to take this?

[2017-11-28 18:11] bparees opened #17496 "followups to build webhook trigger secret references"
Follow ups to:
https://github.com/openshift/origin/pull/17314

- [ ] buildtriggercause includes the secret value partially masked. should not expose it at all.
- [ ] webhook trigger docs needs updating
- [ ] quickstarts need to be updated to use the new reference mechanism
- [ ] new-app needs to be updated to produce webhook triggers that use secret refs

Unfortunately changes to new-app and the q

[2017-11-28 18:11] bparees commented on #17496
@jwforres is it going to cause you problems if we stop reporting the value of the secret used to trigger a build for builds triggered by a webhook?

[2017-11-28 18:12] bparees commented on #17496
(or if we just start reporting it as all asterisks)

[2017-11-28 18:27] jwforres commented on #17496
@bparees i dont see any refs to buildtriggercause in the console, so no dont think so

[2017-11-28 18:48] stevekuznetsov commented on #17452
This job is broken for the moment. We have another tracking issue for that.

/close

[2017-11-28 18:48] #17452 closed

[2017-11-28 18:52] garyyang6 commented on #17371
@pweil- I read the "Installation and configuration guide". I got "Permission denied" and "unreachable" error. I run the script at docker01.works.com as root. But, it complains "Permission denied" and "unreachable" at docker01.works.com. I think it is a bug.

ansible-playbook  -vvv ~/openshift-ansible/playbooks/byo/config.yml
........
TASK [Gathering Facts] ******
Using module file /usr/lib/python2

[2017-11-28 19:18] smarterclayton commented on #17495
@eparis this is why us-east-1 is OOMing - we're using somewhere north of 30gb by default (25 of it coming from cadvisor), and the only way out is to cut metrics or give it more memory.

[2017-11-28 19:35] sjenning commented on #17472
3 new ones:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17143/test_pull_request_origin_unit/6172/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17314/test_pull_request_origin_unit/6171/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17299/test_pull_request_origin_unit/6170/

100% hit rate in the last 3 runs

http

[2017-11-28 19:45] pweil- commented on #17371
@garyyang6 can you confirm you can ssh from docker01.works.com to itself with no password too?

[2017-11-28 20:38] tnozicka commented on #17487
@mfojtik deployer controller deleted the pod and for that it had to reach state Complete (v1.PodSucceeded) to trigger the error message after the pod would have to transition back to phase pending. Normally I would say impossible but it isn't long we had this https://github.com/openshift/origin/issues/17011

[code]

[2017-11-28 20:49] smarterclayton commented on #17472
Found it - i think a bug in the test, never triggered before because everything ran faster/slower

[2017-11-28 20:49] ironcladlou commented on #17458
I noticed a few possible blocking syscalls in the [boltdb open code path](https://github.com/openshift/origin/blob/master/vendor/github.com/boltdb/bolt/db.go#L150) (e.g. `open` and `msync`) in addition to the flock loop which is calling `fcntl`. If any of these take too long, etcd will log the warning we're seeing (even though the problem wasn't necessarily due to the `fcntl` call).

Actual errors

[2017-11-28 21:22] smarterclayton commented on #17495
Temporarily dropped the following metrics and stet scrape interval at 3m.

[code]

This took us from > 30gb to ~20gb and holding steady.  Will bump the interval back down after a while.  I suspect that each million series costs us about 10gb or so.

[2017-11-28 23:16] juanvallejo commented on #17446
Upstream PR: https://github.com/kubernetes/kubernetes/pull/56515

[2017-11-28 23:48] bparees commented on #13568
@miminar @legionus this was fixed by https://github.com/openshift/image-registry/pull/14 right?

[2017-11-29 00:10] garyyang6 commented on #17371
You are right. I was not able to ssh from docker01.works.com to itself. I fixed it. But, I got new errors.

fatal: [docker01.works.com]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "allow_downgrade": false,
            "conf_file": null,
            "disable_gpg_check": false,
            "disablerepo": null,
            "enablere

[2017-11-29 01:43] AvTiMp opened #17502 "response Content-Type is text/plain instead of text/json when token is wrong"
openshift api response Content-Type is text/plain when receiving a request with a wrong token

##### Version
oc v3.6.173.0.5
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. send request with wrong token like "Authorization" : "Bearer test" (in request header)
2. then oapi return a body says "Unauthorized" with type of text/plain

##### Expected Result
it should return a body same with  t

[2017-11-29 03:11] jwmullally commented on #15038
Ran into this today on f26, seems to be fixed in updates-testing:
https://bugzilla.redhat.com/show_bug.cgi?id=1504709#c39

[2017-11-29 03:54] #17474 closed

[2017-11-29 03:54] #17472 closed

[2017-11-29 04:41] GrahamDumpleton opened #17504 "The image name in initContainers should automatically resolve to a image stream name."
When using ``dc.spec.template.spec.initContainers`` and you set the ``image`` field to a image stream name, it isn't automatically resolved to an image stream name in the project as occurs for ``dc.spec.template.spec.containers``. Being in a ``DeploymentConfig``, I would expect it to, just like with normal containers in the pod. Instead it is necessary to set the ``lookupPolicy`` on the image stre

[2017-11-29 08:28] alikhajeh1 commented on #13970
@bparees am I right in thinking that the simplest way to build pull-requests (run unit tests) is to:
1. Have a BuildConfig, let's say pr-builder, it doesn't matter what source Repo/Ref it uses as long it has the correct sourceSecret so it can clone private repos. Delete the ImageStream for it so it just runs tests.
2. Write a small app that receives webhooks from GitLab/GitHub/BitBucket. If the co

[2017-11-29 08:49] fisache opened #17505 "origin login with openid (keycloak) error"
origin login with openid (keycloak) error

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Set oauth openid in master-config.yaml

[code]

2. oc cluster up
3. access https://{openshift}:8443
4. redirect to keycloak login page
5. login with keycloak user
6. return into openshift portal
7. show _An authentication error occurred._

##### Current Result

when

[2017-11-29 09:09] miminar commented on #13568
That's right, closing.

[2017-11-29 09:09] #13568 closed

[2017-11-29 09:25] mfojtik commented on #17472
@smarterclayton not sure if related, but https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17492/test_pull_request_origin_unit/6166/ is another race...

[2017-11-29 10:03] steven166 commented on #17459
Seems to be a bug in one of the latest commits of openshift-ansible in the release-3.6 branch. I've checked out the c7ac1a2 commit and therefor a node is installed correctly.

[2017-11-29 13:20] pweil- commented on #17371
looks like the `kubectl-1.8.4-0.x86_64` package needs uninstalled.  At this point there are unknown other dependency conflicts since I recall that you were attempting to use a combination of Kube and OpenShift prior to this install.   You might want to try removing any other kube rpms that you may have installed before trying again (if there are any).

[2017-11-29 13:22] rhatdan commented on #15038
Update the karma to get it out of testing, please.

[2017-11-29 13:52] adelton commented on #17359
@enj, have you got some example how similar situation got handled elsewhere?

[2017-11-29 14:29] deads2k commented on #12412
@stevekuznetsov I'm seeing this locally running the e2e test.  Did we lose something splitting out image-registry?

[2017-11-29 15:00] gabemontero commented on #17488
fyi, the overnight image_eco run was clean last night ... this issue did not pop up

[2017-11-29 15:48] stevekuznetsov commented on #12412
@deads2k can you `set -o xtrace` at the top of `hack/build-go.sh` and figure out what flags are being passed to `go install`?

[2017-11-29 16:10] sjenning commented on #16023
dup of https://github.com/openshift/origin/issues/16246

[2017-11-29 16:10] #16023 closed

[2017-11-29 16:12] sjenning commented on #16985
dup of https://github.com/openshift/origin/issues/16246

[2017-11-29 16:12] #16985 closed

[2017-11-29 16:16] sjenning commented on #16691
dup of https://github.com/openshift/origin/issues/16246

[2017-11-29 16:16] #16691 closed

[2017-11-29 16:30] sjenning commented on #17047
@dcbw this is the all too familiar iptables-restore issue.  You are closer to this that I am and hopefully can provide better feedback about the progress.

[2017-11-29 16:36] sjenning commented on #17177
Logs are gone and there don't seem to be other reports of this.  Problem was on the API server side:
[code]
@bparees have you seen any more of these?

[2017-11-29 16:42] sjenning commented on #17180
@smarterclayton are we still seeing this?

[2017-11-29 16:45] patronluther commented on #17490
any update on this please?

[2017-11-29 16:47] bparees commented on #17177
things have been so flaky i really haven't been looking.

[2017-11-29 16:49] sjenning commented on #16662
@mfojtik any whitelisting would have to be a nasty carry patch.

We also have this https://github.com/openshift/origin/issues/17352.

Should we just configure the instances with larger disks if we are hitting GC and NodeDiskPressure?

[2017-11-29 16:55] sjenning commented on #16832
[code]
the infra container is failing to start

[2017-11-29 17:04] stevekuznetsov commented on #16662
Have we hit this recently? Do we have logs? If not we can close...

[2017-11-29 17:06] bparees commented on #13970
you can pass --commit to oc start-build rather than updating the source of the pr-builder (contrary to the name, it can be any valid git ref for the repo).  but otherwise your summary is accurate.  (I'd also consider Jenkins instead of "a small app").

[2017-11-29 17:11] bparees commented on #16662
@stevekuznetsov if we don't have logs, then i don't want this closed w/o updates that will ensure next time we *do* have the logs we need to investigate it.

[2017-11-29 17:21] sjenning commented on #17352
@stevekuznetsov what are the disk sizes for /var/lib/docker on these  test instances?

[2017-11-29 17:23] sjenning commented on #16246
@vikaschoudhary16 can you take a look at this one please.  I've dupped many issues to this one so it seems to happen pretty frequently.

[2017-11-29 18:35] vikaschoudhary16 commented on #16246
@sjenning sure!!

[2017-11-29 19:28] sjenning commented on #17352
ah so it is still using devicemapper.  35G seems like it should be enough.  though i'm not sure what all is being done on the test instances.

[2017-11-29 19:29] gabemontero opened #17518 "extended network minimal test fails on yum install"
[code]

from https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_networking_minimal/11098/consoleFull

[2017-11-29 19:36] stevekuznetsov commented on #17352
We had to bump to 35G since some of the image publishing jobs were using up the whole store. I don't think test jobs come close. however, it's simple to verify if we see any of these types of failures in the future -- every job has as an artifact `generated/filesystem.info` where this will be stored.

[2017-11-29 20:05] gabemontero opened #17519 "extended conformance install downward api failure"
From https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17480/test_pull_request_origin_extended_conformance_install/3130/

or https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/3130/consoleFull

[code]

I found no errors for the downwardapi_volume pod in question in the node logs.  Nor could I find anything amiss in the master l

[2017-11-29 20:33] fabianofranz commented on #17446
Hrm, I'm not entirely sure about the approach. If the category expands to resources with the same name but on different groups, it doesn't seem a job for the expander (or the builder using the expander) to decide it's a duplication.

@deads2k opinion? It looks like it should de-duplicated at another level, where it's known that the resources refer to the same thing apart being on different groups.

[2017-11-29 21:31] stevekuznetsov opened #17521 "oc: rollout latest doesn't auto-resolve deploymentconfig names"
This is frustrating:

[code]

/kind bug
/cc @kargakis @juanvallejo @fabianofranz
@openshift/sig-user-interface

[2017-11-29 21:34] dustymabe opened #17522 "`oc adm drain --ignore-daemonsets` seems to not ignore daemonsets"
`oc adm drain --ignore-daemonsets` seems to not ignore daemonsets

##### Version
[code]

steps:
[code]

[2017-11-29 21:37] kargakis commented on #17521
Yes, `rollout` is not meant to auto-resolve to DCs since we want it to also work for upstream Deployments, StatefulSets, and DaemonSets.

cc: @mfojtik @tnozicka

[2017-11-29 21:49] smarterclayton commented on #12412
It means we aren't passing the right tags into the docker image build

On Wed, Nov 29, 2017 at 10:48 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-11-29 21:49] smarterclayton commented on #12412
I mean, the go build for the image.

On Wed, Nov 29, 2017 at 4:49 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-11-29 21:50] smarterclayton commented on #12412
Constants.sh needs:

readonly OS_GOFLAGS_TAGS="include_gcs include_oss"

On Wed, Nov 29, 2017 at 4:49 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-11-29 21:51] stevekuznetsov commented on #17521
Wait, it's not? Why does it work for`rollout latest`? Would much rather have it auto-resolve in all cases.

[2017-11-29 21:56] kargakis commented on #17521
`latest` supports both formats but the NAME syntax is there probably for historical reasons and it's not something we want to spread.

[2017-11-29 22:03] smarterclayton commented on #17472
Not related, should be easy for someone to fix.

On Wed, Nov 29, 2017 at 4:25 AM, Michal Fojtik <notifications@github.com>
wrote:

[2017-11-29 22:25] dustymabe commented on #17522
note I was able to workaround by using a complicated pod-selector:

[code]

[2017-11-30 01:19] amather opened #17523 "image not found when pulling from integrated registry - service account not allowed to pull?"
I can successfully deploy the integrated registry and push a custom image from my client. However, creating a pod that uses this image does not work. Error messages indicate that the image could not be found, but as I've tried to reference the image by different names and none worked, and I also see authentication related error messages from docker, I assume this has to do with failed authenticati

[2017-11-30 02:15] do3cc commented on #16051
I have the same problem with multi master setup, the solution from @malagant does not help, the permissions are correct.
I do not see any errors in the master logs.

[2017-11-30 03:25] raffian opened #17524 "POD logs JSON to stdout, but log entries get wrapped with {"log":<raw_log_data>}"
We have Java apps in Openshift outputting logs as json to STDOUT, which is redirected to `/var/log/containers/<app>.log`; the raw json from the app -- before it's redirected -- looks something like this:

`{"@timestamp":"2017-11-29T11:19:47.853-05:00","level":"INFO","transactionId":"1234567”}`

..but after log entries end up in `/var/log/container/…` they appear to get wrapped inside another json

[2017-11-30 04:24] gbraad opened #17525 "Using Google Cloud Storage API prevents downloading from succeeding for Chinese users"
Using Google Cloud Storage API prevents downloading from succeeding for Chinese users. This seems to be introduced since the release of v3.7.0.

##### Steps To Reproduce
1. step off the plane in China
2. take out your notebook or phone and open https://github.com/openshift/origin/releases/tag/v3.7.0
3. open the link: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/branch-logs/origin/v3.7

[2017-11-30 04:26] gbraad commented on #17525
![image](https://user-images.githubusercontent.com/1894/33412948-977dc524-d5c9-11e7-8e0b-3dc3295266eb.png)

![image](https://user-images.githubusercontent.com/1894/33412967-b5c1a384-d5c9-11e7-9528-64ce6a239f53.png)

[2017-11-30 06:23] LalatenduMohanty opened #17527 "Unpredictable oc binary path for version 3.7.0"
Till v3.7.0-rc.0 release `oc` binaries were published in github release page [1] but with 3.7.0 the location has changed and causing ` minishift start --openshift-version v3.7.0` to fail.

From Minishift side we can change the code to point it to the new location but the new location is difficult to guess programmatically  e.g. ` https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/branch-log

[2017-11-30 06:30] LalatenduMohanty commented on #17527
Also we should not change stuff like this between v3.7.0-rc.0 and v3.7.0

[2017-11-30 06:34] gbraad commented on #17527
It seems to contain a build id: `/1032/` which makes it hard for third parties to determine the final release. At the moment we would have to extract the GitHub message and look in the release notes for the URL? :-/

[2017-11-30 06:52] eliu commented on #17525
@gbraad As you requested, the same result happens to me. Timeout.. Actually, 99% of the Google services are NOT available in China, to be honest~ GFW...

[2017-11-30 06:59] eliu commented on #17525
@gbraad just get you updated, Trying to download any files from https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/branch-logs/origin/v3.7.0/builds/test_branch_origin_cross/1032/artifacts/zips/ does not have any problem in China. But the links you provideed in OP broke.

[2017-11-30 07:03] gbraad commented on #17525
@eliu currently they also work for me from Beijing, but this is intermittent at best.

[2017-11-30 07:06] wanghaoran1988 commented on #17527
Maybe you can use the github related api to do this, related links:
https://developer.github.com/v3/repos/contents/#get-archive-link
https://developer.github.com/v3/repos/releases/
https://developer.github.com/v3/repos/downloads/
https://stackoverflow.com/questions/25923939/how-do-i-download-binary-files-of-a-github-release

[2017-11-30 07:08] eliu commented on #17525
@gbraad yes, not too stable yet. First download failed with timeout, then successfully got the file at some time else.

[2017-11-30 07:08] gbraad commented on #17527
@wanghaoran1988 this is what we do, but we can not for 3.7.0, as there are NO releases in the actual release on GitHub => see #1771

[2017-11-30 07:11] gbraad commented on #17527
Notice the difference:

## v3.7.0-rc0
![image](https://user-images.githubusercontent.com/1894/33418403-a286010e-d5e0-11e7-962b-c8ff818cd3fa.png)

## v3.7.0
![image](https://user-images.githubusercontent.com/1894/33418368-7e9bca6c-d5e0-11e7-9298-636a1215aa2f.png)

For the v3.7.0 release the heading "Downloads" is not part of the GitHub downloads, but it is part of the release notes.

[2017-11-30 07:25] wanghaoran1988 commented on #17523
[code]
From the diagnostics, could you please try restart your master ? add paste registry log here?

[2017-11-30 07:29] wanghaoran1988 commented on #17505
Could you please paste the error logs here?

[2017-11-30 08:13] budhrg commented on #17527
Also, the URL
[code]

contains lots of `test` term which is making thing more doubtful.

[2017-11-30 08:38] fisache commented on #17505
@wanghaoran1988
I don't know where I watch origin error.
if tell me how to get error log, I will paste here.
I run openshift on docker.

I did some test oauth github and openid(keycloak).

in case of github,
after github login, redirect to
_{openshift}/oauth2callback._
then, with result status 302, redirect to
_/oauth/authorize?client_id=openshift-web-console.._
then, result status 302, redirect t

[2017-11-30 09:35] matzew commented on #17044
@pweil- @jcantrill

looks like this happened again for v3.7.0

are these tags for metrics not created in an automated way ?

[2017-11-30 10:21] tnozicka commented on #17521
Defaulting to one resource type is historical when it dealt only with DCs. We have 4 resources to deal with now and it is causing inconsistency. If we get enough courage we should deprecate the resource type defaulting.

[2017-11-30 10:26] kargakis commented on #17521
I didn't mention anything about deprecating because I am reminded of `oc logs` - we still support `oc logs PODNAME` and I am sure lots of people are using it.

[2017-11-30 10:43] tnozicka commented on #17521
Oh, I am quite positive people use this as well. We can still deprecate it and support it for several releases to allow them to migrate, right?

[2017-11-30 11:18] kargakis opened #17529 "Prometheus when installed to the cluster should start and expose a secured proxy and unsecured metrics"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17516/test_pull_request_origin_extended_conformance_gce/12132/

[2017-11-30 11:20] kargakis commented on #17519
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17516/test_pull_request_origin_extended_conformance_install/3219/

[2017-11-30 11:44] tnozicka opened #17530 "test flake: playbook: /usr/share/ansible/openshift-ansible/playbooks/prerequisites.yml could not be found"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17492/test_pull_request_origin_extended_conformance_install_update/9673/
[code]

[2017-11-30 11:50] amather commented on #17523
I've already restarted the master, but did again and also restarted the registry pod and tried to recreate the pod in question. Here're the logs:

[code]

[2017-11-30 12:27] dmage commented on #6564
When docker daemon (1.10+) pushes an image to a registry which doesn't support schema 2 manifests, it converts the schema 2 manifest into schema 1. And the converted manifest contains random data. So the result has always a different digest.

To mitigate this issue please enable schema 2 in the registry:
[code]
It is enabled by default in Origin 3.6.

[2017-11-30 12:27] #6564 closed

[2017-11-30 12:29] runcom commented on #16246
we're experiencing the very same issue in CRI-O, it's either a runc or systemd bug :confused:

[2017-11-30 12:30] #14912 closed

[2017-11-30 12:33] runcom commented on #16994
@jim-minter we're seeing the very same race in CRI-O as well using systemd and runc. I think we can add a stopgap in runc to spin till the file pops up for the pids cgroup, otherwise, I suspect it's a systemd issue cause runc code hasn't changed that much over the weeks

[2017-11-30 13:18] runcom commented on #16994
CRI-O failed here https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/433/consoleFull#199861745056cbb9a5e4b02b88ae8c2f77 for the record

[2017-11-30 14:25] webczat opened #17531 "service catalog timing out when waiting for api server"
Hello.
It seems that installing openshift using advanced installation method may timeout when waiting for api server of service catalog to appear.
I believe this issue may appear when the internet connection is slow (like when trying to install on a test box with not so good internet).
The problem is that when service catalog is being run, images are pulled from docker and they take some time to b

[2017-11-30 14:59] kargakis opened #17532 "unknown resources showing up in `oc set volume`"
[code]
[code]

All of the unknown resources seem to be configmaps

@openshift/sig-user-interface
/kind bug

[2017-11-30 15:05] kargakis opened #17533 "`oc set volume` will mount a volume in all containers by default"
It should ask me to what container I wanted to mount and mounting to all containers should be a flag I opt-in.
/sig user-interface
@openshift/sig-user-interface
/kind bug
[code]
<details>

[code]
</details>

[2017-11-30 16:40] jim-minter commented on #16994
@vikaschoudhary16 don't know if comment https://github.com/openshift/origin/issues/16994#issuecomment-343289454 is of interest but wanted to bring it to your attention.

[2017-11-30 17:07] stevekuznetsov commented on #17530
Fixed in https://github.com/openshift/aos-cd-jobs/pull/886
/close

[2017-11-30 17:07] #17530 closed

[2017-11-30 18:16] bparees commented on #17504
@pweil- this is a deploymentconfig RFE, not an image RFE.

[2017-11-30 18:22] simo5 commented on #17505
@abstractj could you give us a hand here ?

[2017-11-30 18:35] pweil- commented on #17523
If you are unable to log in to your registry directly from inside the cluster with your OpenShift token something is very broken in your installation.  I would first recommend removing the registry and redeploying then trying to verify that you can log in with a token.

The command you listed is correct `docker login -u $(oc whoami) -p $(oc whoami -t) <registry_ip>:<port>`.

[2017-11-30 18:37] tnozicka opened #17535 "generic image change trigger doesn't reconcile on resource changes"
If I have a DC with ImageChangeTrigger upon creation it will have the image resolved and rewritten by the controller. But when I manually patch the DC image after to be `""` it won't get reconciled and resolved.

I would expect it to reconcile the image value by resolving the trigger.

[2017-11-30 18:39] tnozicka commented on #17404
I have a fix for DC but the issue is that it won't get reconciled (resolved) again. See https://github.com/openshift/origin/issues/17535

[2017-11-30 18:39] jcantrill commented on #17524
How are you collecting via splunk?  Are you using fluentd forwarding to a custom splunk container? Are you collecting a log using your own container?

[2017-11-30 18:39] tnozicka commented on #17535
originates here: https://github.com/openshift/origin/issues/17404

[2017-11-30 18:43] bparees commented on #17535
@tnozicka your team owns deploymentconfigs.  that would include their imagechangetrigger behavior.

[2017-11-30 18:47] tnozicka commented on #17535
@bparees I though this generic trigger controller is across resources and just injects resolved image into whatever resource that is.

[2017-11-30 18:48] csrwng opened #17537 "Extended test: idling and unidling unidling should work with TCP (when fully idled) [Conformance] [local] should not require local"
This test is part of the conformance suite. It needs to be reworked to not require [local] access.

[2017-11-30 18:48] tnozicka commented on #17535
we got rid of our own trigger controller in favour of this generic one I believe

[2017-11-30 18:49] csrwng commented on #17537
@openshift/sig-networking
/cc @smarterclayton

[2017-11-30 18:50] bparees commented on #17535
1) no one owns that controller, so if you need changes in it, you need to make them.
2) that controller watches for imagestreams that change and pokes the affected resource.  It does not watch for specific resources to change.  That would be the responsibility of your DC config change trigger.

[2017-11-30 18:50] csrwng opened #17538 "Extended test: [Conformance][volumes] Test local storage quota FSGroup local storage quota [local] should be applie... should not be local"
This test is part of the conformance suite. It should not require local cluster access.

[2017-11-30 18:51] csrwng commented on #17538
@openshift/sig-storage
/cc @smarterclayton

[2017-11-30 19:38] raffian commented on #17524
@jcantrill Splunk agent installed on all master/infra/app nodes, collects logs directly from `var/log/containers/...`

I don't believe splunk is the problem because the json logs generated from the app to STDOUT appear different after getting redirected to `/var/log/containers/...`, before splunk collects anything.

I think I understand what's wrapping the logs; `--log-driver` for dockerd is "json

[2017-11-30 19:42] juanvallejo commented on #17522
Hi Dusty, are you by any chance able to reproduce this with a 3.7 or 3.8 client?

[2017-11-30 20:00] sjenning commented on #17495
fyi @derekwaynecarr

@smarterclayton what does the number after the metric indicate?

Some triage:

`tasks_state` cardinality is magnified by the possible process running states of which there are 5
https://github.com/google/cadvisor/blob/0bde1c615c6d66ab9bfec9040b497e2488ffc30a/metrics/prometheus.go#L719-L748

I don't see that metrics being very useful.  Might help diagnosing a bunch of processes

[2017-11-30 21:24] smarterclayton commented on #17495
Number of unique series - 1 series is one metric and one unique combination of labels.  If you have a label with high cardinality (pod name) you get one series per label minimum.

One problem with container_fs in general is that block devices aren't as useful - we have the domain model so we should know that certain block devices "belong" or are associated to pods.  I.e. a PVC belonging to prometh

[2017-11-30 21:49] amather commented on #17523
@pweil- Why did you close this issue? Removing the registry and redeploying it was one of the first things I thought of. In fact, I did remove not only the registry but the whole cluster **multiple times** now and **can reproduce** this issue by installing the OS from scratch and ramping up the cluster by following the docs starting at Host Preparation up to Accessing the Registry.

[2017-11-30 21:50] juanvallejo opened #17548 "Extended test: Clusterup: dial tcp: lookup: server misbehaving"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17357/test_pull_request_origin_extended_clusterup/186/

[2017-11-30 22:03] helletheone commented on #17238
we have the same problem with our registrie

[2017-11-30 22:22] runcom commented on #16994
/cc @mrunalp

[2017-11-30 22:23] runcom commented on #16246
/cc @mrunalp

[2017-11-30 23:00] juanvallejo commented on #17532
@kargakis any chance you could provide a sample yaml file that reproduces this?

[2017-11-30 23:16] kargakis commented on #17532
@juanvallejo https://github.com/openshift/origin/blob/master/examples/prometheus/prometheus.yaml

[2017-12-01 06:07] eliu opened #17551 "No package matching 'origin-docker-excluder-3.7.0*' found available, installed or updated"
Trying to upgrade OpenShift Origin from v3.6.1 to v3.7.0 using openshift-ansible and get the following error result:

##### Version
[provide output of the `openshift version` or `oc version` command]

[code]

OS Version:

[code]

##### Steps To Reproduce
1. update all version stamp to v3.7 in /etc/ansible/hosts
2. Switch openshift-ansible branch to `release-3.7`
3. run `ansible-playbook ./playbook

[2017-12-01 06:46] bbrfkr commented on #13122
@xqianwang
Yes. We can set the parameter `image-pull-progress-deadline` into `/etc/origin/node/node-config.yaml` as follow;

[code]

This description works fine in my OpenShift Origin environment.

[2017-12-01 07:05] #17192 closed

[2017-12-01 07:50] abstractj commented on #17505
@simo5 sure thing.

@fisache I'm afraid we need more details to help you. Otherwise it's really hard to tell what's going on. If possible, please provide the following information:

1. Keycloak version
2. The JSON file of your realm. See: http://www.keycloak.org/docs/latest/server_admin/index.html#_export_import
3. Keycloak log files.
4. OC log files like @wanghaoran1988 mentioned. Maybe you can l