[2015-10-09 14:21] bparees commented on #4763
PR has been merged, thanks @fkirill !

[2015-10-09 14:21] #4763 closed

[2015-10-09 15:04] bparees commented on #4967
Reasons we didn't do this last time it was discussed:

1) we'd have to add distinct -e flags for "add this to buildconfigs" vs "add this to deploymentconfigs" because users don't necessarily want the environment variable added to both all the time.
2) new-app would have to either edit the template before submitting it for processing, or edit the results of the processing (the DC and BC objects) to

[2015-10-09 15:06] #2659 closed

[2015-10-09 15:07] csrwng commented on #4967
4) 'oc env' can be used after the fact to add variables if needed.

[2015-10-09 15:18] spadgett opened #5038 "Show warning if metrics and logging options aren't configured"
See https://github.com/openshift/origin/pull/4954#issuecomment-145885960

/cc @deads2k

[2015-10-09 15:37] sspeiche opened #5039 "Web UI over view should have a link to build page to easily cancel, restart, view logs"
The improvements from 3.0.1 to 3.0.2, saved me so many navigation clicks and steps since it allowed direct link to the build from the Overview page and ability to cancel it.

In the latest with origin it removed this shortcut, now I'm having to stumble around the Browse->build config->history/build and build pages to try to find the build, to do actions like the above.

I strongly recommend bringi

[2015-10-09 15:38] jorgemoralespou commented on #4967
@bparees
I can understand 1. I can not understand 2 as a user stand-point, as it seems that a justification of not providing a feature is that the client is heavy weight, but somethings should not be done in the heavyweight client. We could argue on 3, but ok, fair enough.
@csrwng 4 triggers deployments everytime there is a Change in the DC to add an env, so adding this envs would trigger a new de

[2015-10-09 15:44] smarterclayton commented on #4967
1. We will not do - build configs don't get environment variables in new-app
2. We should post process the environment after process is invoked
3. I believe the argument that a deployer should be able to override the
environment is compelling at new-app time.

So we should allow command line passed env to override templates passed to
new-app in a similar way as env and have the same outcome.

On F

[2015-10-09 15:51] bparees commented on #615
@jhadvig we can close this when the bump is done....

[2015-10-09 16:35] bparees opened #5040 "oc new-app should specify the port in the route that is created"
a route with no port will round robin across all ports in the service which is basically unexpected behavior.

new-app creates services with just one port but if another port is added to the service later, the route will start RRing across them and probably break.

instead we need to explicitly define the port in the route, just like we do in the service.

[2015-10-09 16:36] bparees commented on #5040
@smarterclayton @csrwng fyi.

[2015-10-09 16:51] jimmidyson opened #5041 "Node stats auth is too restrictive"
Heapster gets metrics via `POST` to kubelet `/stats` endpoint. This requires `cluster-admin` role currently - can we change this to `cluster-reader` role as this is what we want to use metrics collection?

/cc @liggitt @mwringe @jcantrill

[2015-10-09 17:00] liggitt commented on #5041
that's an unfortunate semantic. you can add this to the cluster-reader role for your testing while I think how to handle that:
[code]

[2015-10-09 17:03] liggitt commented on #5041
possible ways to handle this:
1. in policy (by allowing cluster-reader and node-reader to "get" and "create" on nodes/stats)
2. in kubelet authorization attributes builder (by assigning the "get" verb to all requests under /stats, even POSTs)

@deads2k, preference? I lean toward the first

[2015-10-09 17:05] csrwng commented on #5040
@bparees new-app creates a service with multiple ports. But it doesn't create a route. If you can specify in the route which port you want to expose, I would say it doesn't have anything to do with new-app, but rather the expose command you use to create the route.

[2015-10-09 17:11] csrwng commented on #4967
Would the env argument apply only to DC's or also to any stand-alone RC's & pods? Could it also apply to other type of resources?

[2015-10-09 17:20] bparees commented on #5040
@csrwng the service it creates contains all the ports the image exposes, not just one of them?

[2015-10-09 17:25] csrwng commented on #5040
Yes, since https://github.com/openshift/origin/pull/3378

[2015-10-09 17:26] bparees commented on #5040
ok i guess i'm inclined to close this.  @smarterclayton any concerns?

[2015-10-09 17:33] mwringe commented on #5041
Ok, if I make that change for the role, I can now get metrics using cluster-reader instead of requiring cluster-admin

[2015-10-09 17:36] liggitt commented on #5041
the linked PR will update `cluster-reader` and `system:node-reader` roles to have that permission

[2015-10-09 18:20] liggitt commented on #4242
resolved by race fixes upstream, closing since I haven't seen it since we rebased on that

[2015-10-09 18:42] miminar commented on #3333
Let me me give it a shot:

### Revised design for image and imagestream disposal

*Delete* of imagestream marks all its images for deletion and moves imagestream to `/openshift.io/imagestreamdeletions` (let's call it *isTrash*) as a kind `ImageStreamDeletion`.

By the *Delete* is meant a deletion from command line like `oc delete is -n project streamName` or `oc delete namespace nsName`.

*Delete*

[2015-10-09 18:45] ncdc commented on #3333
You have to retrieve the complete list of images - both preserved and marked for deletion - to be able to determine which layers can be pruned. A layer can be pruned if and only if the only predecessors it has are images marked for deletion. If a layer has a predecessor that is a preserved image, you can't delete that layer.

[2015-10-09 18:46] smarterclayton commented on #5040
I think the current problem was the UI didn't expose all the ports now.

On Fri, Oct 9, 2015 at 1:26 PM, Ben Parees <notifications@github.com> wrote:

[2015-10-09 18:47] smarterclayton commented on #5040
And now expose needs to set RoutePort - @kargakis

On Fri, Oct 9, 2015 at 2:46 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-10-09 18:47] ncdc commented on #3333
This needs to be a function that's easy to invoke from both an internally-scheduled timer in the registry process and from a separate executable. We want to have the flexibility to run this automatically inside the registry container or in a separate sidecar container in the registry pod.

[2015-10-09 18:51] bparees commented on #5040
closing.  sounds like we need a new issue for oc expose.

[2015-10-09 18:51] #5040 closed

[2015-10-09 18:51] ncdc commented on #3333
Based on conversations with Stephen Day from Docker, he expects us to use a repository-scoped `BlobDeleter` to "delete a repository layer link", rather than exposing the internal storage (i.e. the fact that there is a repository layer link) to the API. I would assume that we would use a global `BlobDeleter` to delete the actual blob.

I think calling "delete manifest" for a given repo/manifest is

[2015-10-09 18:52] ncdc commented on #3333
Also please review #3521 as it relates to deleting and recreating image streams with the same name. I don't think we'll be able to include the repo uid in the repo storage path given that upstream doesn't want to expose the path mapper, but hopefully we can figure something out...

[2015-10-09 18:53] bparees opened #5044 "oc expose needs to set a port on the route"
see https://github.com/openshift/origin/issues/5040#issuecomment-146959028

@kargakis @smarterclayton

[2015-10-09 19:04] ingvagabund commented on #4990
Fixed via https://github.com/ingvagabund/origin/commit/503b760e7d517ec1de61dc063238be338c78663e

[2015-10-09 19:10] jwforres commented on #5039
@sspeiche I didn't think the running / cancelled / failed build that shows up underneath the service ever had a link in the message, the link to the build that was added was only in the pod template for a successful deployment.  But either way yes it is on the list to add a lot more links from the overview now that resources have their own pages.  I will link this issue into the story that is cove

[2015-10-09 19:28] smarterclayton commented on #4967
It would apply to anything that "oc env" mutates.

On Fri, Oct 9, 2015 at 1:11 PM, Cesar Wong <notifications@github.com> wrote:

[2015-10-09 19:28] smarterclayton commented on #4967
But we can explicitly exclude build configs and builds for the reasons
discussed before.  I believe oc env is targeted at pod template.

On Fri, Oct 9, 2015 at 3:28 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-10-09 19:54] zakjan commented on #2848
It happens for me. How can I set the hostname during `docker run ... openshift/origin start`?

[2015-10-09 19:56] liggitt commented on #2848
Add `--public-master=https://<reachable-ip-or-host>:8443`

[2015-10-09 22:12] deads2k commented on #4851
Need union group name mappings to allow user-defined if present and attributes otherwise.

Also, we need to make a label of the hostname on groups we sync.  Its not perfect, but its better than nothing.

We also need to add a custom `--label` flag to add custom labels.

[2015-10-09 22:21] spadgett commented on #2815
@pmorie or @liggitt reopen? I think we should relax some of these checks.

[2015-10-09 23:48] stevekuznetsov commented on #4851
We need to find a way to mutate the host to be a label, previously there was the issue of formatting (labels can't have colons? I can't remember).

[2015-10-10 00:08] pedro-r-marques opened #5050 "master crashes when oauth is not configured"
OAuthConfig has the following comment:
[code]

But master start (using git ref 04bfa26) crashes on startup unless the following patch is applied
[code]

My cluster was configured via ansible using pre-compiled packages but OAuth is not configured (AFAIK). It seems that the assumption in the comment doesn't match the code.

[2015-10-10 02:47] liggitt opened #5053 "`oc logs <podname>` returns error"
[code]

[2015-10-10 04:03] liggitt opened #5054 "New deployment sometimes fails with "the object has been modified" error"
[code]

unfortunately, I reran the deploy command and got a successful deployment before thinking to capture the output: https://gist.github.com/liggitt/65bd2d601ce0e3f78ca9

[2015-10-10 04:14] #4582 closed

[2015-10-10 05:35] liggitt opened #5055 "Deployments page doesn't show replicas during rolling deployment"
1. Create an app (`oc new-app ...`)
2. Scale it to 5
3. Go to the deployments page (the current deployment is shown as "Running, 5 replicas")
4. Start a new deployment

You can see the new deployment start, and the replicas from the old deployment start to decrease, but you don't see a replica count for the new deployment until it has finished deploying and is in the running state.

It would be ea

[2015-10-10 06:15] liggitt opened #5056 "TestCreateFromConfig flake"
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3559/console

[code]

[2015-10-10 08:42] #5041 closed

[2015-10-10 11:07] #5053 closed

[2015-10-10 15:20] liggitt commented on #4536
I'm ok closing this... haven't seen it in a long time and no one has linked to it

[2015-10-10 15:37] liggitt commented on #4242
https://travis-ci.org/openshift/origin/jobs/84629541#L333

[2015-10-10 15:43] liggitt opened #5057 "Jenkins not testing go vet or go fmt"
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3566/console
[code]

[2015-10-10 15:46] liggitt commented on #5057
@stevekuznetsov

[2015-10-10 16:08] #5050 closed

[2015-10-10 18:11] stevekuznetsov commented on #5057
I asked @mfojtik about this but he never responded, did we ever do a full assessment of 1.5 migration?

[2015-10-10 18:14] liggitt commented on #5057
I don't know, but if that's what Jenkins is using to test merges, we should figure it out asap

[2015-10-10 18:20] stevekuznetsov commented on #5057
I'll get on it today asap.

[2015-10-10 18:22] liggitt commented on #5057
Groups first

[2015-10-11 00:43] stevekuznetsov commented on #5057
I'm not able to get `go vet` to return me any errors, which is disconcerting as we haven't merged the `-shadows` pull yet and those at least should continue to show up...

[2015-10-11 01:22] stevekuznetsov commented on #5057
Amazingly, going into the `-shadows` branch, reverting the commit that fixed all of the errors, and running `hack/verify-govet` returns no errors anymore. I'm going to revisit this tomorrow.

[2015-10-11 01:28] liggitt commented on #5057
we need `go tool vetvet`

[2015-10-11 03:34] smarterclayton opened #5059 "Most oc command responses should use the new cmdutil.PrintSuccess"
In most of the cases where we print object type / name from the CLI, we should be using `cmdutil.PrintSuccess`.  This includes the following:

* new-app / new-build
* start-build / cancel-build
* all core commands we reuse from upstream
* oadm commands

Commands which do not support `-o name` need to be reviewed before being converted - we may need to add `-o` support, or skip the command.

This *

[2015-10-11 05:27] liggitt commented on #5025
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5636/

[2015-10-11 09:22] albertomolina commented on #4823
@dgoodwin I don't know if it's related to this, but I was facing exactly the same issue installing OpenShift on OpenStack and finally the issue was caused by the network driver.

Due to a previous adjustments, our OpenStack instances were not using network virtio drivers and then I found this: https://github.com/openshift/origin/issues/3612#issuecomment-120043094

Turning on network virtio driver

[2015-10-11 09:59] roldancer commented on #4823
I have the some problem using OpenSHift Enterprise Edition 3.0.2,

[2015-10-11 12:00] deads2k commented on #4851
Yeah, we couldn't do host:port, but we need some kind of selector.  We'll do `host` by default (which should work) and we'll leave custom labels for people doing crazy things.

[2015-10-11 12:18] kargakis commented on #5003
@mfojtik @smarterclayton maybe we could do something similar to what @liggitt is doing for Kerberos? https://github.com/liggitt/origin/blob/23b6abc6ef8cec44791c2dfd9d03932889023f85/pkg/version/version.go#L65-L71

[2015-10-11 13:07] rhcarvalho commented on #4980
I have a few questions about how this interacts with the `-D` argument to `new-build`.

Should this create a BuildConfig without setting its `Output.To` field?
[code]

To have a build output to an image stream from a oneliner Dockerfile, is it required to pass `--to`?
[code]

Given that we should never come up with names the user has not provided, shall we replace this with an error or is it an ex

[2015-10-11 13:14] smarterclayton commented on #4980
On Oct 11, 2015, at 9:07 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

I have a few questions about how this interacts with the -D argument to
new-build.

Should this create a BuildConfig without setting its Output.To field?

$ oc new-build  -D $'FROM centos:7\nRUN yum install -y httpd'

No, the output name should be centos:latest.  The input tag should be
centos:7

If the one liner was

[2015-10-11 13:16] smarterclayton commented on #5003
Version being displayed for the Openshift binary is fine.  Just not in oc,
and oadm is questionable.

On Oct 11, 2015, at 8:18 AM, Michail Kargakis <notifications@github.com>
wrote:

@mfojtik <https://github.com/mfojtik> @smarterclayton
<https://github.com/smarterclayton> maybe we could do something similar to
what @liggitt <https://github.com/liggitt> is doing for Kerberos?
https://github.com/lig

[2015-10-11 15:00] liggitt commented on #5003
FYI, that was mostly for my own debugging so I could tell which impl was being included, but I probably would include that conditionally for `oc`

[2015-10-11 19:58] jwforres commented on #5055
Fixing it with some other deployment changes I was making in #5016

[2015-10-11 21:50] smarterclayton commented on #636
This is because someone upstream took a shortcut and didn't properly
leverage our existing dynamic resource listing info.  I've opened
https://github.com/kubernetes/kubernetes/issues/15451 to fix this.  Until
then we'll carry a patch.

On Thu, Oct 8, 2015 at 3:22 AM, mrosic <notifications@github.com> wrote:

[2015-10-11 22:00] smarterclayton commented on #636
Fixed in https://github.com/openshift/origin/pull/5063

On Sun, Oct 11, 2015 at 5:50 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-10-11 22:22] smarterclayton commented on #4603
Routes now have an optional routePort.  new-app and the UI should generate services that expose all ports.  expose should use the first service port as the route port (and never *not* set one).

[2015-10-11 22:23] smarterclayton commented on #4603
@kargakis is there a pull to make expose set routePort?

[2015-10-11 22:24] smarterclayton commented on #1977
API discovery struct https://github.com/kubernetes/kubernetes/pull/13955

On Fri, Sep 11, 2015 at 3:16 AM, James Strachan <notifications@github.com>
wrote:

[2015-10-11 22:49] kargakis commented on #4603
There will be one tomorrow

On Mon, Oct 12, 2015 at 12:23 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-11 23:08] pweil- commented on #4603
cc @thoraxe

[2015-10-12 04:14] myfear opened #5065 "System.getenv().get("HOSTNAME") doesn't contain pod hostname"
I was under the impression,that the environment variable "HOSTNAME" contains the pod name. In fact,it contains something like this : swarm-sample-1-7mmd7 which looks more like the DC.

How can I find out about the pod name and isn't the above mentioned assumption correct?

[2015-10-12 04:22] liggitt commented on #5065
that actually looks like a pod name...
dc is probably `swarm-sample`
deployment number 1 is the rc `swarm-sample-1`
a pod created from that rc is `swarm-sample-1-7mmd7`

the container hostname is set to the first 63 chars of the pod name: https://github.com/kubernetes/kubernetes/blob/8e25b7c7bf616f688daa688a62f12ba3a675914b/pkg/kubelet/dockertools/manager.go#L671-L677

[2015-10-12 08:37] myfear commented on #5065
Got it. Thanks, sorry.

[2015-10-12 08:37] #5065 closed

[2015-10-12 09:32] soltysh opened #5068 "Post rebase issues"
While working on the current rebase #5049 I found following issues:
* [ ] ~~upgrade `github.com/Sirupsen/logrus` in k8s to match origin version~~
* [ ] ~~upgrade `github.com/miekg/dns` in k8s to match origin version~~
* [ ] upgrade docs to mention `godep save -t` (this will preserve test files)
* [x] upgrade docs to mention having separate bump commits for shared libraries

[2015-10-12 11:27] rhcarvalho commented on #4980
@smarterclayton thanks for the answers above. I've got one more related to how `--to` and `--name` would interact.

What should be the outcome (stdout output + what is created on the server) of this:

[code]

I imagine `--to` would take precedence over `--name` in defining the name of the output image stream, such that stdout would be:
[code]

Do you think differently?

[2015-10-12 11:35] smarterclayton commented on #4980
Yes, that's correct.

On Oct 12, 2015, at 7:28 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> thanks for the answers
above. I've got one more related to how --to and --name would interact.

What should be the outcome (stdout output + what is created on the server)
of this:

$ oc new-build \
  -D $'FROM centos:7\nRUN yum install -y httpd'

[2015-10-12 11:47] deads2k opened #5070 "`BuildLogOptions` drifting from `PodLogOptions`"
`PodLogOptions` has more and better options than `BuildLogOptions`.  See https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1614.

I'd like to embed `PodLogOptions` into `BuildLogOptions` for congruence that will stay up to date with rebases as we simply copy fields through.  The alternative is to create a reflective unit test that requires matching fields so that we don't keep

[2015-10-12 11:57] kargakis commented on #5070
I was thinking about this yesterday. +1

[2015-10-12 12:01] smarterclayton commented on #4102
Blocks the Dockerfile build type because output and input is the same.

[2015-10-12 12:18] rhcarvalho opened #5072 "new-build / new-app should report error if input and output image stream tags are identical"
if we generate a build config and the source tag and the destination tag are identical we should report an error (if the user hasn't specified --to https://github.com/openshift/origin/issues/4980)

@smarterclayton FYI

[2015-10-12 12:49] deads2k opened #5075 "TestSyncLoopAbort flake"
From https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3572/

[code]

[2015-10-12 12:53] miminar commented on #3333
@ncdc Design updated.

Yes, that's what I'm using now. `BlobsStore.Delete()` to delete a layer link, `ManifestService.Delete()` to delete manifest revision's directory, `vacuum.RemoveRepository()` to delete repository folder and `BlobKeeper.Delete()` to delete blob data. Anything else operates on etcd store.

[2015-10-12 13:05] stevekuznetsov opened #5076 "TestSyncLoopAbort flaking on Jenkins"
Output from [here](https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3572/consoleFull):
[code]

[2015-10-12 13:06] deads2k commented on #5076
dupe of https://github.com/openshift/origin/issues/5075

[2015-10-12 13:12] deads2k commented on #4242
The link is bad, can you update it?  I pulled https://github.com/openshift/origin/pull/4881 that claimed to fix it....

[2015-10-12 13:15] stevekuznetsov commented on #5076
You're too quick.

[2015-10-12 13:15] #5076 closed

[2015-10-12 14:11] deads2k opened #5077 "oc status should tell you when the source image for a buildconfig is missing"
[code]

The image stream and tag didn't exist and we didn't indicate that this would not work.

[2015-10-12 14:13] deads2k opened #5078 "oc status should indicate when imagestreams can't be imported"
When an image stream import fails, oc status should let you know that its failed.  See the imagestream output here.

[code]

[2015-10-12 14:16] rhcarvalho commented on #5072
Example:

[code]

The input and the output are both `centos:latest`. Expected:

[code]

[2015-10-12 14:17] rhcarvalho commented on #5072
@smarterclayton is it an error to specify `--to` to a value that will cause the circular conflict?

[2015-10-12 14:27] kargakis commented on #4603
https://github.com/openshift/origin/pull/5067

[2015-10-12 14:46] liggitt commented on #4536
Figures: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5670

[2015-10-12 14:57] liggitt commented on #5056
Possible causes:
golang/go#12789
golang/go#12781

[2015-10-12 15:07] smarterclayton commented on #5072
No, it is not.  We should warn you, but it is not an error to take user
input like that (if it is an error, it should be something enforced on the
server, not in a client).

On Mon, Oct 12, 2015 at 10:17 AM, Rodolfo Carvalho <notifications@github.com

[2015-10-12 15:44] liggitt commented on #4242
bah, rerunning a job in travis wipes the old results.

[2015-10-12 15:51] liggitt opened #5083 "Jenkins flake: remote: error: failed to lock refs/heads/master"
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5679/console
[code]

[2015-10-12 16:11] rhcarvalho opened #5084 "oc new-build fails to push"
This will fail to push to the output image stream:

[code]

Adding this as a reproducible example that illustrates https://github.com/openshift/origin/issues/4102.

----------------------------------
Full info:
[code]

[2015-10-12 17:23] deads2k opened #5088 "TestStreamClosedDuringRead flake"
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3575

[code]

[2015-10-12 17:25] liggitt commented on #5088
I think the root cause is net/http/httptest.(*waitGroupHandler).ServeHTTP... we can probably combine all race flakes with that in the stack

[2015-10-12 17:25] deads2k commented on #4242
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3576/consoleText

[2015-10-12 18:12] sdodson commented on #4903
@readonly I suggest closing this. I believe everything is as it should be in the master branch.

[2015-10-12 18:53] spadgett opened #5091 "Old deployment shown in topology view, but not overview"
We hide replication controllers that have no pods in the overview, but show them in the topology view. This might be confusing for users since it's inconsistent. Also, there could be dozens of old deployments, resulting in a busy graph.

/cc @stefwalter @jwforres @benjaminapetersen

[2015-10-12 19:06] benjaminapetersen commented on #5091
Here's a screenshot example.  Its a nice purple ferris wheel looking thing.

![screen shot 2015-10-12 at 3 05 17 pm](https://cloud.githubusercontent.com/assets/280512/10436157/abfcbbc4-70f2-11e5-9676-815f5cc0aaa3.png)

[2015-10-12 19:10] liggitt commented on #5091
it's... beautiful....

[2015-10-12 20:05] jwforres commented on #5091
assigning to myself only because we have to have an owner for anything P2 or above and it wont let me assign it to @stefwalter  ( @danmcp know why this is? )

[2015-10-12 20:17] danmcp commented on #5091
@jwforres @stefwalter Hasn't been added to origin yet.  I can do so on request.

[2015-10-12 20:22] abhat commented on #3597
@smarterclayton is this already in v3.1?

[2015-10-12 20:49] ncdc commented on #2233
Closing. Will start a new issue to track the next batch.

[2015-10-12 20:49] #2233 closed

[2015-10-12 20:59] smarterclayton commented on #3597
This is in origin 1.0.6, and will be supported by the ansible installer for origin 1.1 and OSE 3.1

[2015-10-12 22:01] kargakis commented on #5068
* start using `oc edit` from upstream
* cherry-pick flake fixes in upstream tests

[2015-10-12 22:46] #5055 closed

[2015-10-12 23:57] sspeiche commented on #4405
Not being able to fix `oc get` and adding yet another command would not be a very good user experience . The end user will get lost in whether they need to do `oc get`, `oc types`, `oc describe`, `oc explain`, `oc show`, `oc info`, `oc inspect` (ok, I made the last 3 up but you see where I'm going, git and docker have similar concepts but user may have to remember all of them).

I think we probabl

[2015-10-13 00:57] liggitt opened #5096 "Jenkins jobs hanging after build"
Example:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5705/console

Got to this step and waited an hour:
[code]

[2015-10-13 00:57] liggitt commented on #5096
@danmcp

[2015-10-13 01:00] liggitt commented on #5096
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5706/console

[2015-10-13 05:04] #3718 closed

[2015-10-13 05:04] #4489 closed

[2015-10-13 06:01] #4497 closed

[2015-10-13 06:01] #5002 closed

[2015-10-13 07:06] readonly commented on #4903
We have not yet upgraded to a newer release, so we can't verify it's fixed then, but I'll close the issue and can reopen it in case it isn't.

[2015-10-13 07:06] #4903 closed

[2015-10-13 08:45] maxandersen opened #5098 "oc fails when trying to export imageStreams"
Trying to dump all info about imageStreams so I do:

`oc export is --all=true -o json`

and I get:

[code]

oc export of services works fine. but imagestreams fails.

[2015-10-13 09:04] kargakis commented on #5098
@maxandersen what version of OpenShift are you running?

[2015-10-13 09:05] kargakis commented on #4405
https://github.com/openshift/origin/pull/5063 temporarily fixes the `oc get` issue.

[2015-10-13 09:07] kargakis commented on #4405
Regarding `oc types` and `oc explain` I think we should drop the former for the latter.

[2015-10-13 09:11] #3981 closed

[2015-10-13 09:18] maxandersen commented on #5098
@kargakis this is against https://console.engint.openshift.com/console/

[2015-10-13 09:22] kargakis commented on #5098
Hmm, it must be using an old version and should be updated because this issue was fixed in https://github.com/openshift/origin/pull/3925.

[2015-10-13 10:12] maxandersen commented on #5098
so updating the cli should work?

[2015-10-13 10:18] kargakis commented on #5098
yes

On Tue, Oct 13, 2015 at 12:12 PM, Max Rydahl Andersen <
notifications@github.com> wrote:

[2015-10-13 10:19] maxandersen commented on #5098
that did it. sorry for the noise.

[2015-10-13 10:19] #5098 closed

[2015-10-13 11:38] #5007 closed

[2015-10-13 14:17] markturansky commented on #3891
Closing this issue.  Both upstream PR fixes have been merged into Origin.

[2015-10-13 14:18] markturansky commented on #3891
Sorry, can't close.  Someone can close it :)  I verified this code is in Godeps.

[2015-10-13 14:20] markturansky commented on #4829
This is fixed by the new controller written for 3.1 (to be merged after the current rebase is complete):

https://github.com/kubernetes/kubernetes/pull/14537

[2015-10-13 15:12] liggitt opened #5102 "Update field documentation for SAR to deprecate namespace"
https://docs.openshift.org/latest/rest_api/openshift_v1.html#v1-subjectaccessreview shows `namespace` as a required field on SAR. At the very least, it is optional. I think we should document that field as deprecated and point to LocalSAR.

cc @deads2k @jimmidyson

[2015-10-13 15:43] liggitt commented on #5102
Also, the docs for the response type are incorrect:
https://docs.openshift.org/latest/rest_api/openshift_v1.html#create-a-localsubjectaccessreview
https://docs.openshift.org/latest/rest_api/openshift_v1.html#create-a-subjectaccessreview

[2015-10-13 17:21] #2962 closed

[2015-10-13 17:55] fabianofranz commented on #4915
As a future enhancement we could try to be smarter about this - e.g. hide the `oc login` instructions if you ever logged in from `oc` already, etc.

[2015-10-13 18:02] jeremyeder opened #5106 "tcp resets initiated by openshift-node"
We have noted an excessive number of tcp connection RST packets when using openshift 3.0 to port 8443 on the master.  On a 100 node cluster, ~20 RST's per second (according to tcpdump on the master).

If I stop the openshift-node processes, the resets go away.  There are connection resets even within a single VM that has both openshift-master and openshift-node running (just wanted to verify it wa

[2015-10-13 18:02] jeremyeder commented on #5106
@derekwaynecarr @smarterclayton

[2015-10-13 18:29] pweil- opened #5107 "Finalize Kube items 3.1"
Tracking issue for unmerged upstream commits a la https://github.com/openshift/origin/issues/2233

Cherry-pick candidates:

Starting with commit `4c8e6f47ec23f390978e651232b375f5f9cde3c7`

Kube PR      | Origin PR | Description                              | Justification
-------      | --------- | ---------------------------------------- | -------------
15958        | ~~#5257~~ | URL API detectio

[2015-10-13 18:32] sdodson commented on #5106
The version Jeremy is using is built from origin 98b3c2967831a3a336cfc18c8eac055ea817e10a

[2015-10-13 18:33] markturansky commented on #5107
Dynamic provisioning controller: https://github.com/kubernetes/kubernetes/pull/14537

[2015-10-13 19:18] #5020 closed

[2015-10-13 19:48] smarterclayton commented on #5106
Are we sure the connection being reset is originating from the node?  Can
we check that?

On Tue, Oct 13, 2015 at 2:32 PM, Scott Dodson <notifications@github.com>
wrote:

[2015-10-13 19:56] jeremyeder commented on #5106
Yes; master is 172.31.37.122.

```121   0.831549 172.31.7.179 -> 172.31.37.122 TCP 60 37770→8443 [RST] Seq=33 Win=0 Len=0```

[2015-10-13 19:59] smarterclayton commented on #5106
Ok, so we know it's the node.  It's something probably using an origin
client.  I don't know how to isolate it further without turning up logging
on the master or the node.  We can do a review of the node code and ensure
everyone is using the correct transports.  Is there something between the
node and master that could cause this?  SDN?  Firewalls? Outgoing firewalls
on the node?

On Tue, Oct 13,

[2015-10-13 20:08] sdodson commented on #5106
That's a service ip right, does the kube-proxy nuke the connection
aggressively?

On Tue, Oct 13, 2015 at 4:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-13 20:19] derekwaynecarr opened #5109 "Need to take a pass and add patchStrategy to our v1/types.go files"
Also future code reviews should review with it in mind.

[2015-10-13 20:30] smarterclayton commented on #5106
Is it a service IP?

On Tue, Oct 13, 2015 at 4:08 PM, Scott Dodson <notifications@github.com>
wrote:

[2015-10-13 20:33] deads2k commented on #5109
I think reflective unit tests could enforce this.

[2015-10-13 21:22] jeremyeder commented on #5106
172.31.37.122 is the IP of eth0 on the master.

[2015-10-13 21:27] deanpeterson commented on #4211
+1

[2015-10-14 00:19] pmorie commented on #5107
Volume Security:

Short-term carries, will come in in next rebase:

1. Pod security context skeleton: https://github.com/kubernetes/kubernetes/13939
2. Bump fsouza-dockerclient: https://github.com/kubernetes/kubernetes/pull/15127

Carries:

1. Supplemental Groups: https://github.com/kubernetes/kubernetes/pull/14911
2. FSGroup implementation: https://github.com/kubernetes/kubernetes/pull/15352
3. S

[2015-10-14 00:59] jeremyeder commented on #5106
There are resets even on the loopback interface.  All related to ports 8443 and 4001.
Only openshift-master service is running here:

[code]

Here's one for etcd
[code]

If I turn off all the openshift services and just run some traffic between machines, there are no resets.

[2015-10-14 07:14] jkaurredhat commented on #4823
This issue is  seen in Openshift Enterprise 3.0.2 environment.

[2015-10-14 10:12] rhcarvalho commented on #5075
+1 https://travis-ci.org/openshift/origin/jobs/85089336

[2015-10-14 10:15] rhcarvalho opened #5113 "Kubernetes extended test flake: test/e2e/pre_stop.go"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5717/console

[2015-10-14 11:31] mmahut opened #5114 "Query on /healtz causes an exception"
When trying to query /healtz, I get error 500.

Affected versions:

[code]
and
[code]

The backtrace:

[code]

[2015-10-14 11:37] mmahut commented on #5114
Please note /healtz/ping works fine.

[2015-10-14 11:39] liggitt commented on #5114
Is this healthz on the kubelet or API server?

[2015-10-14 11:44] mmahut commented on #5114
@liggitt this is on the openshift-node (kubelet).

[2015-10-14 12:14] mfojtik opened #5115 "Can we remove Adobe Flash from web console?"
Since the flash is disabled by default in most newer browsers, it is ugly to go enable it for OpenShift console (it shows ugly button to do so).

There is solution purely written in Javascript: http://zenorocha.github.io/clipboard.js

@jwforres @spadgett FYI

[2015-10-14 12:17] liggitt commented on #5115
citation needed

[2015-10-14 12:19] mfojtik commented on #5115
@liggitt at least my chrome has it disabled by default :-) (chrome-beta)

[2015-10-14 12:20] mfojtik commented on #5115
http://www.pcworld.com/article/2948115/browsers/mozilla-firefox-temporarily-blocks-flash-by-default.html
http://thenextweb.com/insider/2015/07/14/firefox-rings-the-death-knell-for-flash

[2015-10-14 12:20] soltysh commented on #5115
I have flash disabled by default everywhere (iow. FlashBlock plugin for Firefox), so I'm seeing play button in places where flash is used. I'd love to see us get rid of flash entirely as well.

[2015-10-14 12:26] jwforres commented on #5115
The JS only option referenced does not support Safari.  We could consider moving to the JS only option for other browsers, but would still have to fall back to flash for Safari.

[2015-10-14 12:26] jwforres commented on #5115
@liggitt i think the difference is not installed vs installed and disabled.

[2015-10-14 12:39] jwforres commented on #5115
Even if we decide not to include the JS plugin, we should fix it so you do not see the ugly play button when you have flash disabled, it should be have like when flash is uninstalled.

We don't want to see this:
![flash_disabled](https://cloud.githubusercontent.com/assets/1467629/10483774/1ea01bd2-724f-11e5-8ec3-8ce3abcdf1b5.png)

[2015-10-14 13:03] jsafrane commented on #5107
Dynamic provisioning plugins:
AWS: https://github.com/kubernetes/kubernetes/pull/15603
GCE: https://github.com/kubernetes/kubernetes/pull/15604
OpenStack+Cinder: https://github.com/kubernetes/kubernetes/pull/15606

All of them already contain Dynamic provisioning controller, kubernetes/kubernetes#14537 from @markturansky. Merge kubernetes/kubernetes#14537 first and then just ignore the first commi

[2015-10-14 13:13] ncdc opened #5116 "Reenable liveness probe in registry deployment config"
Now that we're no longer trying to support the v1 registry, we should be able to reenable the liveness probe that `oadm registry` adds to the registry's DC:

https://github.com/openshift/origin/blob/3dd75654ae2cd6d4f762da95395d02ed496778a2/pkg/cmd/admin/registry/registry.go#L253-L265

@smarterclayton @mfojtik @miminar @pweil-

[2015-10-14 13:19] pweil- commented on #5116
:+1:

[2015-10-14 13:20] ncdc commented on #5116
I believe the upstream registry has updated their code so `GET /` should return a 200 instead of a 404. I'm not sure if that's in 2.0.1 (which we're based on) or 2.1.x. We should eventually be able to deprecate and remove our custom `/healthz` handler, but not right now.

[2015-10-14 13:23] mfojtik commented on #5116
+1

[2015-10-14 14:21] smarterclayton opened #5117 "Editing a build config Git repo doesn't start a new build"
Even though a build config config change trigger was specified

[code]

[2015-10-14 14:23] smarterclayton commented on #5117
This is a tracking issue for the fact that the build is hard to understand

[2015-10-14 14:46] mfojtik commented on #5117
@smarterclayton so the build starts eventually but you have to wait a long time for controller to catch up?

[2015-10-14 15:15] rettori commented on #4981
Adding more details.
Drools Execution Server process the execution of rules that can cate longer than the default 30s the router is configured to timeout.
The longer execution time can be related, for example, to the number of rules executed, the number of facts that will be evaluated for rule, or the combination of both.
The timeout needs to be configurable to handle requests that will take more

[2015-10-14 15:30] mfojtik commented on #5072
@smarterclayton we don't do any pre-validation in that command and I think when you specify something that might cause circular conflict we should error out instead of warning (if you specify something like that there is 80% chance you're doing something wrong and we should stop you).

Also the problem @rhcarvalho was showing me is that in code we don't have a good way to give warnings to users (s

[2015-10-14 15:42] pweil- commented on #4981
@ramr - we probably want to see how/if this fits into ingress upstream as well.

That said, the router can be customized with a new haproxy template if this is blocking https://docs.openshift.com/enterprise/3.0/install_config/install/deploy_router.html#deploying-a-customized-haproxy-router

[2015-10-14 15:58] tomason commented on #4981
The customization of the haproxy template is possible, but wouldn't that change the configuration for the whole cluster? That might not be desirable.

I proposed adding timeout attribute to the route that could be used on per route basis. According to haproxy documentation, the 'timeout server' directive can be used in backend definition, so it should not be a problem.

https://cbonte.github.io/ha

[2015-10-14 15:58] childsb opened #5120 "Cinder volumes in OpenShift fail to create PV"
I finally got to testing out the Cinder integration for OpenShift based on the guide you pointed us to (https://github.com/openshift/origin/pull/4403).  However, it fails to create the PV as shown below.  I'm using the latest released OpenShift bits.  Is the Cinder integration in there or is it not yet available?  If not there, could you point me to something pre-release where I can test this?

On

[2015-10-14 16:01] childsb commented on #5120
@jsafrane

[2015-10-14 18:02] liggitt opened #5125 "Improve locating file references in GetMasterFileReferences/GetNodeFileReferences"
The number of file references in configs is becoming unwieldy. Many of the references come from common structs, like CertInfo and ServingInfo.

Investigate using reflection or other methods for simplifying extraction or validation that we are capturing all the file reference fields.

cc @deads2k

[2015-10-14 18:15] pweil- commented on #4981
Yep, definitely agree.  Just offering a work around if you needed it to unblock something.

I think it bears discussion around how we can send "hints" about routes for router implementations to implement or ignore without adding a configuration knob for every possible backend implementation.  Annotations seem like a good candidate.

[2015-10-14 18:20] smarterclayton commented on #5117
Maybe it didn't start.  I could be confused about which # i had.

On Wed, Oct 14, 2015 at 10:46 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-10-14 18:31] deads2k commented on #5120
Can you resend your failing yaml with its whitespace?  The version posted
here is invalid since yaml is whitespace sensitive:
https://en.wikipedia.org/wiki/YAML#Syntax.

On Wed, Oct 14, 2015 at 12:01 PM, bradley childs <notifications@github.com>
wrote:

[2015-10-14 18:36] deads2k commented on #5120
Yeah, looks like whitespace:

[code]

works

[2015-10-14 18:36] deads2k commented on #5120
Also, `fsType` of `xfs` gives: `cinder.fsType required and should be of type ext3 or ext4: required value`

[2015-10-14 18:37] ramr commented on #4981
@pweil- yeah that ```take the haproxy-template.config and modify it and create a new router image``` was my initial workaround to @tomason over email. Though, it could well be extended a bit more if needed - meaning add a custom timeout on a backend as @tomason wanted in the template code on the basis of some custom criteria.

I like the annotations idea :+1:  - its generic enough to add other cus

[2015-10-14 18:38] ncdc opened #5128 "Panic when starting with loglevel=9"
[code]

The log above is on a branch, but the parent is commit 3de66f7.

[2015-10-14 18:44] ncdc commented on #5128
@smarterclayton @liggitt @deads2k

[2015-10-14 18:50] liggitt commented on #5128
dupe of https://github.com/openshift/origin/issues/4340

[2015-10-14 18:50] #5128 closed

[2015-10-14 18:51] ncdc commented on #5128
Thanks

[2015-10-14 18:52] ncdc commented on #5106
I see resets with pure upstream kube as well, so I doubt it's origin-specific.

[2015-10-14 18:52] smarterclayton commented on #5106
I think it's Jordan's TLS caching.  :)

On Wed, Oct 14, 2015 at 2:52 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-14 18:53] deads2k commented on #5128
Oh what a lovely hard cast we've found.

[2015-10-14 19:07] liggitt commented on #5106
I can't tell if you're serious or not

[2015-10-14 19:14] #3361 closed

[2015-10-14 19:14] #3364 closed

[2015-10-14 19:14] #5039 closed

[2015-10-14 19:44] fabianofranz commented on #4325
I'd suggest we move this to a Trello story (scope seems bigger than an enhancement).

[2015-10-14 19:47] fabianofranz commented on #3915
Trello story instead of GitHub issue?

[2015-10-14 19:48] fabianofranz commented on #3855
Related to https://trello.com/c/plIuBSC1/506-increase-the-importance-value-of-labels-to-end-users

[2015-10-14 20:01] ncdc commented on #5106
Using this test program (https://gist.github.com/ncdc/f5929ac981c89d1cc4b8), I see the following deltas every time the Reflector's resyncPeriod elapses, causing the watch to stop, a full list to be reretrieved, and a new watch to start:

+1 conn resets received
+2 conn resets sent
+1 conns reset due to unexpected data

[2015-10-14 20:02] ncdc commented on #5106
netstat invocation: `watch -n1 -d "netstat -s|grep reset"`

[2015-10-14 20:11] ncdc commented on #5106
Additional info on how watch affects resets: https://gist.github.com/ncdc/b545750e4195cefd0c13

[2015-10-14 21:12] ncdc commented on #5106
Upstream issue: https://github.com/kubernetes/kubernetes/issues/15664

[2015-10-14 21:15] #3311 closed

[2015-10-14 21:15] #3526 closed

[2015-10-14 21:37] sspeiche opened #5131 "oc new-app kubernetes/guestbook fails, even though it is present"
This is a regression, this works in `oc 1.0.3` but fails in `oc 1.0.5`. Note: this affects the roadshow with newer CLIs.

1.0.5:
[code]

1.0.3:
[code]

/cc @ryanj

[2015-10-14 21:39] soltysh opened #5132 "Filter events per object"
I was going eariler today why my build failed in the web console, but since we don't have build logs yet I figured out I'll check event. Unfortunately we only present the entire list of events, sorted by time, but if you're interested in particular build, like I did, that was too much. I'd suggest adding per object filtering to that list. This could be achieved using field selector, similarly to h

[2015-10-14 21:40] smarterclayton commented on #5106
Jeremy are you still CPU bound?

On Oct 14, 2015, at 5:12 PM, Andy Goldstein <notifications@github.com>
wrote:

Upstream issue: kubernetes/kubernetes#15664
<https://github.com/kubernetes/kubernetes/issues/15664>

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5106#issuecomment-148201891>.

[2015-10-14 21:48] bparees commented on #5117
Can you elaborate? Editing a BC never starts a new build, even with a
config change trigger defined, but we have a trello card for that so we
don't need an issue for it.  If you aren't referring to editing the BC I'm
not clear on what "editing a BC git repo" means.

If the issue is that you couldn't tell if a new build was created or not,
can you update this issue with
1) what information you did

[2015-10-14 21:48] jwforres commented on #5132
We plan on adding the events relevant to an item to the page for that
item.  So you would go to the build and could see its events.  Build logs
will definitely be in before that though.

For the events page, we will probably  eventually let you sort that table
by kind or resource name.
On Oct 14, 2015 5:39 PM, "Maciej Szulik" <notifications@github.com> wrote:

[2015-10-14 21:50] soltysh commented on #5132
That'll be perfect!
On Oct 14, 2015 11:48 PM, "Jessica Forrester" <notifications@github.com>
wrote:

[2015-10-14 21:59] smarterclayton commented on #5072
We can't error because there is no way for the user to fix the problem -
they're just broken without --to.

If we need conditional warnings, return them as a new return value.

On Oct 14, 2015, at 11:30 AM, Michal Fojtik <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> we don't do any
pre-validation in that command and I think when you specify something that
m

[2015-10-14 23:02] smarterclayton commented on #4102
Fixing this now

[2015-10-14 23:12] smarterclayton opened #5133 "Field selector logging in request.go was reintroduced during a refactor"
We had an upstream carry that hides the printout in client.Request when a non recognized field name is found, but it apparently was dropped (or upstream changed) to start showing again:

[code]

Code needs to be fixed (good) or message needs to be removed.

@csrwng @deads2k

[2015-10-14 23:45] jeremyeder commented on #5106
With 4 cores in the master, I found it pretty much limited to 100 nodes (see pprof from first comment in this issue).  Even 100 was sketchy -- sometimes a handful of nodes would show "NotReady".  I threw more cores at it, so it's not CPU bound (today).

Here is a chart of cpu utilization on a 16 core master of a 250 node cluster.  Look at the 04:06:50 mark in the graph - the openshift-master proce

[2015-10-14 23:54] smarterclayton commented on #5106
What interval is that?  30seconds?  Or 30 minutes?

On Wed, Oct 14, 2015 at 7:45 PM, Jeremy Eder <notifications@github.com>
wrote:

[2015-10-15 00:04] jeremyeder commented on #5106
Seconds -- the graph is 300 seconds long in total, with a sampling interval of every 3-seconds.

[2015-10-15 01:20] #4340 closed

[2015-10-15 01:41] smarterclayton commented on #5106
Oh wow - the proxy has a resync interval of 30 seconds.

On Wed, Oct 14, 2015 at 8:04 PM, Jeremy Eder <notifications@github.com>
wrote:

[2015-10-15 01:42] smarterclayton commented on #5106
That's getting fixed now...

On Wed, Oct 14, 2015 at 9:41 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-15 01:49] smarterclayton commented on #5106
Opened https://github.com/kubernetes/kubernetes/pull/15682 which changes
that to 10 minutes - that'll space this out some.

On Wed, Oct 14, 2015 at 9:42 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-15 01:57] smarterclayton commented on #5106
Added https://github.com/kubernetes/kubernetes/issues/15683 to introduce
jitter to avoid this sort of synchronization.

On Wed, Oct 14, 2015 at 9:49 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-15 02:02] smarterclayton opened #5135 "Investigate enabling server session ticket cache"
I don't think it's on by default - we need to pull the key from the config for HA and also enable a cache.

Would significantly impact cost for watch reconnection discovered in #5106

[2015-10-15 02:03] smarterclayton commented on #5135
Tentative for 3.1 because of the watch performance.

[2015-10-15 02:27] smarterclayton commented on #5106
Spawned #5135 for TLS session ticket resumption.

[2015-10-15 02:51] fkirill commented on #4763
No worries!

[2015-10-15 02:53] liggitt commented on #5133
Related bug on my list to fix is that we don't register field selector conversions to many of our types: https://bugzilla.redhat.com/show_bug.cgi?id=1269256

[2015-10-15 03:42] nak3 commented on #3820
FYI: we resolve this issue on our environment. The root cause of this issue was DNS setting.I wrote the KCS, please refer https://access.redhat.com/solutions/1990683

@grdryn Your guess (`ndots:5`) in https://github.com/openshift/origin/issues/3820#issuecomment-125574546 was correct. The reason why we couldn't confirm the root cause is `dig` and `nslookup` behavior was different. `dig` could work

[2015-10-15 03:50] stevekuznetsov commented on #5114
I think this is a dupe of #4069. I have a stale beach that fixes this. I will revisit tomorrow.

[2015-10-15 03:50] stevekuznetsov commented on #5114
Please assign me

[2015-10-15 10:37] FranBarrera commented on #5120
I'm following the latest documentation (https://docs.openshift.org/latest/admin_guide/persistent_storage/persistent_storage_cinder.html)

I've created this json:
[code]
[code]

With yaml other error:
[code]
[code]

[2015-10-15 10:52] mfojtik commented on #4442
@kargakis  like a :snowflake:

[2015-10-15 11:36] lorenzvth7 opened #5137 "OpenShift 3 Application Lifecycle Sample: Build of frontend fails"
I have OpenShift V3 installed with ansible. I have master with 2 nodes. I tried to create the 'OpenShift 3 Application Lifecycle Sample'. (I already did it on a project where OpenShift was running in a Docker container and it worked fine). Now it fails with the following error:
[code]
The build fails so there isn't a deployment. There aren't build-logs because it looks there was no build. I though

[2015-10-15 12:03] deads2k commented on #5120
The whitespace in your yaml is still messed up.  Compare against the example I provided.

@stevekuznetsov can you diagnose the json problem?  It's probably that last comma.

[2015-10-15 12:09] FranBarrera commented on #5120
I have tested with your example and I get this error:

[code]

[2015-10-15 12:14] stevekuznetsov commented on #5120
@FranBarrera In your JSON, you had an extra comma, In your YAML, your whitespace was not correct. Here are correct versions:

[code]

[code]

[2015-10-15 12:42] stevekuznetsov commented on #5114
This is on node, not master, I was incorrect.

[2015-10-15 12:54] TomasTomecek opened #5138 "can't start container: cgroup path doesn't exist"
This is what I see in logs:
[code]

I am running rawhide, so cutting edge packages:

[code]

This is 1.0.6 all-in-one openshift running from docker hub image.

[2015-10-15 13:05] jsafrane commented on #5120
It's part of OpenShift since this merge:

[code]

I'm testing with today's origin git master and I see in kubelet logs:

[code]

"no such file or directory" message is perfectly OK, the plugin just checks that the target directory is not already used (and it's not -> everything is fine).

Problem is with "Cloud provider not initialized properly" message. This means that [`Init`] (https://github.co

[2015-10-15 13:13] jsafrane commented on #5120
@stevekuznetsov:

oc create -f pv2.json

PV create works fine, problem is with creating a pod which actually uses it.

[2015-10-15 13:23] csrwng commented on #4759
@deanpeterson if you are still seeing this issue I would suggest an interactive debugging session. You can find me at #openshift-dev as cewong

[2015-10-15 14:17] jwforres commented on #4995
Bugzilla duplicate for ref https://bugzilla.redhat.com/show_bug.cgi?id=1271989

[2015-10-15 14:19] stevekuznetsov commented on #5057
`go vet` currently does not find these imports:
[code]

[2015-10-15 14:39] #3891 closed

[2015-10-15 14:57] deads2k commented on #5120
Ok, can you create different issues for different problems?  This issue was definitely about bad yaml and json for PV creation.  Having discrete issues will help us find the right people to answer them.

[2015-10-15 15:16] #4935 closed

[2015-10-15 15:20] danmcp commented on #4959
@php-coder Anything else to fix here or can this be closed?  Note: if you reference the issue from the PR in the desc it will close the issue when the PR merges.

https://github.com/blog/1506-closing-issues-via-pull-requests

[2015-10-15 15:22] php-coder commented on #4959
@danmcp Yes, it's can be closed. Thanks for spotting this.

[2015-10-15 15:22] #4959 closed

[2015-10-15 15:26] danmcp commented on #4962
Was there a desire to leave this open or is there agreement it's not going to happen?

[2015-10-15 16:43] deanpeterson commented on #4759
I have been away from Openshift for a while.  I have been waiting on v1.0.7 to be released hoping that might clear up some of my issues.  Any idea when that will be made available?

[2015-10-15 16:52] csrwng commented on #4759
@deanpeterson I don't know that there is a date for it. @smarterclayton ?

[2015-10-15 16:57] liggitt commented on #4962
This should be closed. Completely disabling TLS requires allowing any user to act as cluster admin. That's not something we would do in a real scenario.

[2015-10-15 16:57] #4962 closed

[2015-10-15 16:59] smarterclayton commented on #4990
Is there a PR?

[2015-10-15 16:59] smarterclayton commented on #4990
Is it #5111?

[2015-10-15 17:01] smarterclayton commented on #4759
We're waiting for #4992

[2015-10-15 17:06] danmcp commented on #5008
@stevekuznetsov What about oc build-logs?

[2015-10-15 17:14] kargakis commented on #4325
Trello'd: https://trello.com/c/X4zVMDRA/527-add-new-imagestream-command

[2015-10-15 17:16] ironcladlou commented on #5054
Duplicate of #4678 which was already resolved. Are you sure your deployer image contains the fix from #4679?

[2015-10-15 17:28] mfojtik commented on #5003
@mmahut this is now fixed in origin, you can close this issue.

[2015-10-15 17:30] liggitt commented on #5054
it did not. closing

[2015-10-15 17:30] #5054 closed

[2015-10-15 17:47] sspeiche commented on #5131
/cc @csrwng

[2015-10-15 17:52] kargakis commented on #5003
It would be closed automatically, if the PR (https://github.com/openshift/origin/pull/5118) was indeed merged:)

[2015-10-15 17:52] csrwng commented on #5131
dup of #5004

[2015-10-15 18:06] derekwaynecarr commented on #5138
@TomasTomecek - on the node that shows the error, are you able to do the following without error:

[code]

If so, can you paste the location you are seeing in the cgroup hierarchy for your container on disk, and if the cpu.shares file is created as expected?

Recent changes in the Kubernetes kubelet added this as validation, but it would be good to know if the following cgroups are mounted on your

[2015-10-15 18:29] #5009 closed

[2015-10-15 21:28] pravisankar commented on #4823
Fixed in https://github.com/openshift/openshift-sdn/pull/170 and https://github.com/openshift/openshift-sdn/pull/175

[2015-10-15 21:33] bparees commented on #4325
Closing in deference to trello.

[2015-10-15 21:33] #4325 closed

[2015-10-16 01:03] sdodson opened #5152 "openshift-sdn-ovs fails in newer origin"
This is likely an openshift-sdn issue but i'm working from what's in origin code base so i'm filing it here.

Between 98b3c2967831a3a336cfc18c8eac055ea817e10a and e2170d962edd2bd285ecb05f1cef4fcfd9714f48 I'm unable to ping pod ips across the SDN. I've run the debug.sh and collected both a working and failing output. The only thing I've noticed is that there's a diff in the pod's routing tables, th

[2015-10-16 04:00] stevekuznetsov commented on #5008
I don't believe it worked either.

[2015-10-16 08:42] jimmidyson opened #5154 "Repeated skydns log: `incomplete CNAME chain: rcode is not equal to success`"
Continuously:

[code]

[2015-10-16 09:22] kargakis commented on #2809
It seems like trying to delete a deployment manually is wrong.

If you rolled out by mistake:
[code]
If you want to delete the dc:
[code]
If you want to remove older/failed deployments:
[code]

Maybe a document somewhere "Why you shouldn't manually delete deployments" would be helpful?

[2015-10-16 09:29] ingvagabund commented on #4990
Yes, it is. This issue fixed.

[2015-10-16 09:29] #4990 closed

[2015-10-16 09:52] rhcarvalho commented on #4730
I'm working on this.

[2015-10-16 10:31] jsafrane opened #5156 "Cinder volume plugin does not get cloud provider"
When Cinder volume plugin is initialized, it gets a `VolumeHost` instance which returns `nil` from `GetCloudProvider()` call (e.g. in [AttachDisk function](https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/volume/cinder/cinder_util.go#L43))

As result, Kubelet cannot attach a Cinder volume to a pod, with following error in the log:
[code]

My node config.y

[2015-10-16 10:31] jsafrane commented on #5120
Done, issue #5156. Sorry for the noise here.

[2015-10-16 10:40] mrosic opened #5158 "openshift/origin-haproxy-router is using a dangerous SSL configuration by default"
You can start the default router, launch an app and use https://www.ssllabs.com/ssltest/ to check the SSL connection.

Turns out that the haproxy image uses very weak settings.
1. Support for SSLv3 should be disabled by default.
2. Support for RC4 ciphers should be disabled by default.
3. It should use custom Diffie-Hellman primes with at least 2048 Bit, see https://weakdh.org/

I know that anybod

[2015-10-16 10:53] mikaelhg commented on #3072
Could you list the workaround steps for this configuration, please?

[code]

[2015-10-16 11:41] deads2k commented on #5156
@smarterclayton @liggitt initialization plumbing problem?

[2015-10-16 11:47] rhcarvalho commented on #5137
Hi @lorenzvth7 could you describe the steps to reproduce it?
What version of OpenShift are you running (`openshift version && oc version`)?

[2015-10-16 11:50] lorenzvth7 commented on #5137
oc v1.0.6-2-ge2a02a8
kubernetes v1.1.0-alpha.0-1605-g44c91b1
But I thinks the issue was a broken docker-registry. I've set up a whole new cluster and it's working fine now. Firstly I tried to delete the registry and create it again. But that did not work. I did not really knew how to delete your registry tidy.

[2015-10-16 11:51] deads2k commented on #4998
@liggitt I think this is done.

[2015-10-16 11:51] deads2k commented on #5013
@stevekuznetsov This is no longer needed.  Please close.

[2015-10-16 11:54] rhcarvalho commented on #5137
Ah, ok. I'm happy that it's working for you now. If you cannot reproduce the problem could you please close the issue?

[2015-10-16 11:56] lorenzvth7 commented on #5137
Yes I will close it in a minute. But can you maybe specify a way how to delete your registry when it's broken?

[2015-10-16 12:14] stevekuznetsov commented on #5013
I'd feel better if we had a unified way of creating and running extended tests, still.

[2015-10-16 12:25] rhcarvalho commented on #5137
@lorenzvth7 if you can afford restarting the server, you can do this:

1. Delete the existing registry:
[code]

2. Recreate the registry using `oadm registry`

Because the new registry service IP will be different, you'll need to restart the server to have your next builds and deployments succeed.

[2015-10-16 12:25] lorenzvth7 commented on #5137
Thanks, that's enough!

[2015-10-16 12:26] #5137 closed

[2015-10-16 12:32] TomasTomecek commented on #5138
Looks like it's completely broken:

[code]

[2015-10-16 12:39] #4998 closed

[2015-10-16 12:47] jsafrane commented on #5156
Check the PR referenced above, tested on OpenStack only.

[2015-10-16 13:32] liggitt opened #5161 "TestTriggers flake"
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3645/console
--- FAIL: TestTriggers_imageChange-2 (5.89s)
	deploy_trigger_test.go:165: Waiting for image stream mapping to be reflected in the IS status...
	deploy_trigger_test.go:175: Still waiting for latest tag status on ImageStream test-image-stream
	deploy_trigger_test.go:172: ImageStream test-image-stream now has Status w

[2015-10-16 13:35] smarterclayton commented on #3072
At this time on Ubuntu you'd need to run directly on the host - containerized OpenShift is blocked without the above mentioned docker PRs being merged.  That is the default install mode for something like the Ansible installer.

[2015-10-16 13:36] sdodson commented on #3554
@danmcp Can you clarify the expectations here? For each point release of OSE I've helped the docs team put together upgrade documentation but it's largely based on my interpretation of UPGRADE.md and undocumented items that I discover when attempting to upgrade. I'm not sure I'm the right person to maintain ugprade documentation in this repo as I won't know the details until after an origin releas

[2015-10-16 13:38] sdodson commented on #3072
Which currently relies on RPMs so wouldn't work on Ubuntu without significant shoe-horning.

[2015-10-16 13:38] danwinship commented on #5152
Thanks for the diff. That made it pretty easy to figure out where the bug had to be.

[2015-10-16 13:43] danmcp commented on #3554
@sdodson I am not sure what all @smarterclayton intended to accomplish from this issue.  I think we want an upgrade process that is as seamless as possible and automatically tested.  Perhaps that requires someone from platform management or cluster infrastructure to first develop the core of the process.  But I would envision the result of this issue being a set of tests that run on every merge or

[2015-10-16 14:06] mikaelhg commented on #3072
Would this be something that might be mentioned in the installation documentation?

[2015-10-16 14:15] jwforres commented on #3855
I'm going to close the issue since we have a trello card dedicated to this

[2015-10-16 14:15] #3855 closed

[2015-10-16 14:35] kargakis opened #5163 "Support older deployment logs"
After https://github.com/openshift/origin/pull/3943 merges we will be able to get the logs for the latest deployment for a config.

We need to find a sane way to get older deployment logs as well.

@smarterclayton @ironcladlou @deads2k @liggitt

[2015-10-16 15:32] ncdc commented on #4501
Related to https://github.com/google/cadvisor/issues/920

[2015-10-16 15:55] #5156 closed

[2015-10-16 15:58] soltysh commented on #3554
That would mean we would have to introduce yet another testing suite that will cover that UC. I'd create a trello for our team to handle that @pweil- agree?

[2015-10-16 16:52] knrc commented on #4848
@smarterclayton We have been relying on this behaviour within the middleware images since we can expose both HTTP and HTTPS endpoints, or indeed TLS protocols.  The secure endpoint is not necessarily a redirect of the insecure endpoint, they can deliver different content.

We definitely view this as a bug/regression as we can no longer expose our services on the same host.

[2015-10-16 17:04] pweil- commented on #3554
Yes, let's formalize this process.  I just added something to UPGRADE.md so we can use it for testing (new strategies on SCCs) if we don't have another candidate.  Please add the 3.2 label to the card.

[2015-10-16 17:17] ironcladlou commented on #5161
Reproduced, I'll take care of it.

[2015-10-16 17:22] ramr opened #5166 "Change oadm router stats port parameter to an admin configuration parameter to expose haproxy stats"
Based on monitor-uri changes and a follow up to #5151  - as per comments from @pweil- and @liggitt
Change "stats port" to "admin port", and key exposing stats on something other than port > 0 (--enable-stats=false, so we can continue defaulting pw/username) and ensure backward compatibility for stats-port set to 0.

[2015-10-16 17:38] ironcladlou commented on #5161
My guess is this is fallout from #4941 which now updates the status field of the deploymentConfig. There may be other tests which make similar assumptions; I'll do a quick read to see if I notice anything.

[2015-10-16 18:03] pweil- commented on #4690
@jmccormick2001 - is this still an issue.  The latest and greatest for the registry is `oadm registry --config=admin.kubeconfig --credentials=openshift-registry.kubeconfig`.   If you are trying to set up persistent storage for the registry more information can be found here: https://docs.openshift.org/latest/install_config/install/docker_registry.html#storage-for-the-registry

[2015-10-16 18:05] pweil- commented on #4672
@miminar is working to update the godeps in his pruning work https://github.com/openshift/origin/pull/5073

[2015-10-16 18:08] pweil- commented on #4662
@pstinghua when reproducing this can you check the node logs that the registry is deployed on and see if there are errors mounting the volume?  Also, are there any errors in `oc get events`?

@markturansky @swagiaal would you mind reviewing the pvc definitions here.  At first glance it appears it may be a volumes issue rather than a registry/deployment issue.

[2015-10-16 18:17] pweil- commented on #4645
@nak3 - this could have been caused by https://github.com/kubernetes/kubernetes/issues/13517 which we have since pulled in while rebasing.  Would you mind testing this again and confirming that your particular usecase is now fixed?

[2015-10-16 18:19] #4567 closed

[2015-10-16 18:33] pweil- commented on #3983
@mfojtik  - wasn't able to reproduce this locally, still an issue for you?

[code]

[2015-10-16 18:42] liggitt opened #5170 "Convert piece-mill integration tests to testserver.StartConfigured{Master,AllInOne}"
There may be more, but at least these should use the testserver rather than building their own API server:

test/integration/auth_proxy_test.go
test/integration/buildclient_test.go
test/integration/cli_get_token_test.go
test/integration/deploy_trigger_test.go
test/integration/oauthstorage_test.go
test/integration/userclient_test.go

cc @deads2k

[2015-10-16 18:47] markturansky commented on #4662
If there was a mounting problem, there would be a pod.  Can you describe the pod?  I think that's what Paul excepts to see in 'oc get events'.  Mount errors are surfaced as pod events.

[2015-10-16 19:02] #5003 closed

[2015-10-16 19:13] pravisankar commented on #5152
Fixed in https://github.com/openshift/openshift-sdn/pull/183

[2015-10-16 19:53] smarterclayton commented on #4848
Do you today deliver different content for 80 and 443?

On Oct 16, 2015, at 12:52 PM, knrc <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> We have been relying on
this behaviour within the middleware images since we can expose both HTTP
and HTTPS endpoints, or indeed TLS protocols. The secure endpoint is not
necessarily a redirect of the insecure endpoint, th

[2015-10-17 06:57] #5161 closed

[2015-10-17 07:52] #5152 closed

[2015-10-17 09:16] soltysh commented on #3554
Trelloed https://trello.com/c/PkdTa55k/530-test-to-cover-upgrade-path

[2015-10-17 20:52] stevekuznetsov commented on #4534
Deprecated the Ginkgo tests, closing.

[2015-10-17 20:52] #4534 closed

[2015-10-17 20:53] stevekuznetsov commented on #4268
Fixed in #4285

[2015-10-17 20:53] #4268 closed

[2015-10-17 20:53] stevekuznetsov commented on #4222
Launcher has changed significantly, closing this.

[2015-10-17 20:53] #4222 closed

[2015-10-17 20:57] stevekuznetsov commented on #3892
Added here, https://github.com/openshift/origin/pull/4153 @deads2k please close this.

[2015-10-17 21:01] #3892 closed

[2015-10-18 14:00] spadgett opened #5178 "Display problems on pod page at certain window widths"
See screenshot.

<img width="1014" alt="screen shot 2015-10-18 at 9 59 26 am" src="https://cloud.githubusercontent.com/assets/1167259/10564356/01b84e76-757f-11e5-8763-5c57113b1eda.png">

/cc @jwforres

[2015-10-18 14:21] spadgett opened #5179 "Top border of annotations table visible before clicking show"
This happens at mobile screen widths.

<img width="573" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/10564424/d913152a-7581-11e5-8a76-53db1f6b1a6b.png">

/cc @jwforres

[2015-10-18 15:30] spadgett opened #5181 "Labels cut off at certain screen widths"
I'm not sure if this is intentional, but I'd prefer it to wrap if needed.

<img width="577" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/10564710/84c5c814-758b-11e5-9f5f-ce6c47ea2f3d.png">

/cc @jwforres

[2015-10-18 17:59] liggitt commented on #5181
That namespaced label is super long. @smarterclayton , I thought we had said long ago labels weren't namespaced

[2015-10-18 18:26] smarterclayton commented on #5181
They are now.  You mean whether we hide them visually?

On Oct 18, 2015, at 1:59 PM, Jordan Liggitt <notifications@github.com>
wrote:

That namespaced label is super long. @smarterclayton
<https://github.com/smarterclayton> , I thought we had said long ago labels
weren't namespaced

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5181#issuecomment-14

[2015-10-18 20:08] deads2k opened #5182 "oc new-app chooses invalid name"
I get this error:

[code]

You're choosing a name for me, don't choose one that doesn't work.

@bparees @csrwng

[2015-10-18 20:13] deads2k opened #5183 "oc edit should include godoc for fields"
`oc edit` could include godoc for each field displayed one a line that starts with `//` or some other value that we could easily strip during serialization.  I even know roughly what I need to do, but doing it without docs is just about impossible.

@smarterclayton

[2015-10-18 20:32] deads2k opened #5184 "oc logs leaves my bash prompt red"
When I'm tailing logs and something turns the output red, the console stays that way.

@smarterclayton is there some way to use the built-in reset?

[2015-10-18 20:36] deads2k opened #5185 "oc start-build --follow leaves my console red"
When I'm tailing logs and something turns the output red and exits, the console stays that way.

@bparees I don't think this is a dupe of `oc logs` (https://github.com/openshift/origin/issues/5184).  As I recall, you don't delegate directly.

[2015-10-18 20:45] deads2k opened #5186 "oc status should show me average build time and standard deviation."
When I'm running a build, sometimes it takes a long time.  I'd like to know how long it normally takes, so average time and a standard deviation would be nice.

@bparees (and a pony)

[2015-10-18 21:26] deads2k opened #5187 "ServiceSpec validation stops on the first failure"
When validating a `ServiceSpec`, if you have multiple `ServicePorts` with errors, you only get the first error.  This makes it really annoying when you have bump through them over and over again.

[2015-10-18 21:26] bparees commented on #5182
fyi you can override with --name (i think that's the argument name anyway).

and the name is chosen based on your repo name.

[2015-10-18 21:27] deads2k opened #5188 "oc status doesn't indicate pod in restart loop"
When a dc has a single pod in a restart loop, it should indicate that something is wrong.  Right now, it simply reports:

[code]

[2015-10-18 21:30] smarterclayton commented on #5184
Depends, we can definitely write a reset at the end but we have to be
careful that doesn't mess up scripted interactions

On Oct 18, 2015, at 4:32 PM, David Eads <notifications@github.com> wrote:

When I'm tailing logs and something turns the output red, the console stays
that way.

@smarterclayton <https://github.com/smarterclayton> is there some way to
use the built-in reset?

—
Reply to this em

[2015-10-18 21:31] bparees commented on #5185
yeah build-logs is invoking the api itself to get the logs.  one more reason to get rid of it.

[2015-10-18 21:31] smarterclayton commented on #5183
This is prereqd on the yaml serialization work done by Solly and the
subsequent mapping of the underlying descriptors, but I agree.

On Oct 18, 2015, at 4:13 PM, David Eads <notifications@github.com> wrote:

oc edit could include godoc for each field displayed one a line that starts
with // or some other value that we could easily strip during
serialization. I even know roughly what I need to do,

[2015-10-18 21:33] bparees commented on #5186
what, no mode or median?

you should setup your builds to be wrappered by a jenkins job, then you can get all that stuff for free :)

[2015-10-18 21:39] deads2k opened #5189 "oc export should strip references to generated token and dockercfg secrets"
`oc export sa` doesn't remove the token and dockercfg secret references.  In most use-cases, those references won't be valid when the SA is re-created.  I think we should remove them on export and let people use `oc get` if they really want to keep them.

@smarterclayton is there some way to tag a field as "don't export by default"?

[2015-10-18 21:41] deads2k opened #5190 "Need command to manage scc's"
I want commands like `oc policy add-cluster-role-to-user` to help me manage sccs.  I'm particularly annoyed by having to sort out the syntax for service accounts.

@pweil-

[2015-10-18 21:47] deads2k opened #5191 "deployment config doesn't know its RC is stuck"
If an RC can't creates its pods because the SCC won't let it, events are created, but the deployment config doesn't seem to get the message.

I'd like to have the DC update its status to indicate that this is a problem and have `oc status` tell me.

Alternatively, I could live with something client-side for `oc status` to indicate that the deployment is screwed.  Something more specific than an in

[2015-10-18 22:11] deads2k opened #5192 "builds of type dockerbuild should have locality preference"
Since docker builds are likely to re-use cached layers, it's a lot nicer to have the docker build prefer the same node that ran it last time.  It saves a lot of time.

@bparees

[2015-10-18 22:11] jwforres commented on #5181
I found this on Friday. I have a fix in my branch where I am working on the
table expansion. May just go ahead and get that fix in.
On Oct 18, 2015 11:31 AM, "Sam Padgett" <notifications@github.com> wrote:

[2015-10-18 22:17] deads2k opened #5193 "cancel-build should take a buildconfig"
If I call `oc cancel-build` with a buildconfig that has a single running build, cancel it for me.

@bparees
@kargakis  I think you're in this code at the moment.

[2015-10-18 22:20] smarterclayton commented on #5189
Not yet but there should, just needs to be piped though swagger.  Would
like to see it get added for sure.

On Oct 18, 2015, at 5:39 PM, David Eads <notifications@github.com> wrote:

oc export sa doesn't remove the token and dockercfg secret references. In
most use-cases, those references won't be valid when the SA is re-created.
I think we should remove them on export and let people use oc get if

[2015-10-18 22:31] deads2k commented on #5186
I thought about it, but I decided that standard deviation was better known, better understood, and more useful.

Guess I'll have to watch a demo and see how easy it is wire up through jenkins.

[2015-10-18 22:44] bparees commented on #5193
No.

Maybe you ran it expecting to see usage information.  Or hit enter
prematurely.

Cancelling is pretty destructive, I don't like the idea of defaulting it.

Ben Parees | OpenShift
On Oct 18, 2015 6:18 PM, "David Eads" <notifications@github.com> wrote:

[2015-10-19 00:45] deads2k commented on #5193
So I run `oc start-build bc/foo`, then say "crap, forgot to push my code", then try `oc cancel-build bc/foo`, and I should not get the behavior I expect? That seems kind of crazy.

Not that that ever happened to me.  I'm asking for a friend...

[2015-10-19 00:56] bparees commented on #5193
1) `oc start-build` reports back the name of the build it created (oddly without any context around the name).  why wouldn't you use it?

2) `oc start-build bc/foo` isn't the syntax to start a build from a buildconfig, `oc start-build foo` is..  so your cancel-build parallel invocation isn't going to be as parallel as you'd like.

[2015-10-19 00:59] bparees commented on #5192
presumably we'd have to store the node the last build ran on, in the buildconfig.

we'd also have to weight this preference, probably with the lowest priority, vs other scheduling constraints/desires.

[2015-10-19 01:16] sspeiche opened #5195 "GitHub webhook URL fails (has wrong case for secret) in Web UI"
I just created a new application from template, namely nodejs-mongodb-example, and leaving the GITHUB_WEBHOOK_SECRET blank. The GitHub webhook generated fails, since the secret in the URL is changed to be lowercase. I'm running OSE 3.0.2.0.

From the BC the secret generated is:
Am852WIxLaEfgjioEmgrwvPq7VBkVG4op1QJIeBx

From the Web Console, "Copy to clipboard" (and Show URL) have this:
https://api

[2015-10-19 03:01] smarterclayton opened #5197 "oc logs needs to expose all arguments from upstream"
Needs to be functionally compatible.

[2015-10-19 03:20] smarterclayton opened #5199 "Deployer needs to inline hook pod logs into container output"
Hook pods are incredibly hard to debug.

[2015-10-19 08:20] kargakis commented on #5197
Being fixed in the rebase: https://github.com/deads2k/origin/commit/36cc605cc32d632dfea6a20a6a014742d636853b

[2015-10-19 09:14] stefwalter commented on #5091
@spadgett Could you provide a full step by step reproducer? I need to be able to get from the state of an empty Vagrant Openshift instance to the state you reported in this bug.

[2015-10-19 11:37] deads2k commented on #5197
I made a test to force rebasers to consider it: https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/logs_test.go#L14.

[2015-10-19 12:00] kargakis commented on #5197
I am working on having the Kube flags by default in our logs. Unfortunately
the last refactroring we made upstream, doesn't allow this (or at least
doesn't allow it without duplicating the logic of Complete) but with some
changes our logs will be sound.

On Mon, Oct 19, 2015 at 1:37 PM, David Eads <notifications@github.com>
wrote:

[2015-10-19 12:04] deads2k commented on #5197
Please wait until post-rebase.  I'm hoping to land it today.

[2015-10-19 12:08] deads2k commented on #5193
The `start-build` input parsing bug will be fixed in https://github.com/openshift/origin/pull/4947, so congruence can easily be achieved.

I didn't use the output of the `oc start-build` command because that came out 12 minute ago in my buffer and is long since gone.

I'm still not seeing why its a bad thing to have congruent commands that behave as expected.  It would also handle the case of "I l

[2015-10-19 12:09] kargakis commented on #5197
As it turns out I need the rebase in to test my changes because vagrant for
Kube is broken on master :/ (
https://github.com/kubernetes/kubernetes/issues/15692)

On Mon, Oct 19, 2015 at 2:05 PM, David Eads <notifications@github.com>
wrote:

[2015-10-19 12:10] deads2k commented on #5183
Is there a pull open for this serializer?  In `oc edit` I want to see doc for fields that are `omitempty` as well.  Otherwise its really hard to find fields like `ref` in the git source object.

[2015-10-19 12:18] kargakis commented on #5193
It seems valid to support this. `oc deploy config --cancel` will cancel the latest deployment for the given config, I don't see why we shouldn't do the same for buildconfigs.

[2015-10-19 13:27] liggitt commented on #5193
The intent behind `cancel-build bc/foo` is pretty unambiguous... if that resolves to a single build, we should honor it, imo

[2015-10-19 13:31] liggitt commented on #5091
pretty sure you can do anything that creates a deployment config (`oc new-app`, or `create from source` in the UI), then repeatedly `Start deployment` from that config to scale down old replication controllers.

[2015-10-19 13:42] jwforres commented on #5181
#5201 allows wrapping between labels, @sg00dwin is going to look at truncating the key/value of a label as needed when we get down to the smallest mobile widths

[2015-10-19 14:11] pweil- commented on #4645
Tested with latest using a 1 second backoff (manually changed) and crashing mysql deployment.  Observed that the count only incremented.  I believe this is fixed.  @nak3 - please reopen if you disagree.

[2015-10-19 14:11] #4645 closed

[2015-10-19 14:15] pdaniel opened #5202 "openshift azure docker deploy"
Hello,

I deployed openshift on azure using docker.

sudo docker run -d --name "origin" \
        --privileged --net=host \
        -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys:ro -v /var/lib/docker:/var/lib/docker:rw \
        -v /var/lib/openshift/openshift.local.volumes:/var/lib/openshift/openshift.local.volumes \
        openshift/origin start

The problem is that openshift chooses the

[2015-10-19 14:23] #5195 closed

[2015-10-19 14:48] liggitt commented on #5191
surfacing events from a failed deployment seems more generally useful

[2015-10-19 14:53] jwhonce commented on #4561
@y0no ^^ Does @vbatts comment apply?

[2015-10-19 15:05] jwforres commented on #4995
Closing since we have the bugzilla to track this

[2015-10-19 15:05] #4995 closed

[2015-10-19 15:26] samsong8610 commented on #4561
The pod docker-registry-1-deploy is the container to deploy registry, not registry itself.Have you ever deleted docker-registry-1-deploy and try to `oadm registry` again?
BTW, dose the service account registry exist? Try `oc get sa registry`.

[2015-10-19 15:27] kargakis commented on #5185
I think this is a dupe. All, `oc logs` (for builds), `oc start-build -f`, and `oc build-logs` use the same api call ...

https://github.com/openshift/origin/blob/4a646e0a07feb55408e0abe4ec83c628a6c0b5ea/pkg/cmd/cli/cmd/buildlogs.go#L88
https://github.com/openshift/origin/blob/4a646e0a07feb55408e0abe4ec83c628a6c0b5ea/pkg/cmd/cli/cmd/startbuild.go#L172
https://github.com/openshift/origin/blob/4a646e

[2015-10-19 15:29] deads2k commented on #5185
I wouldn't expect an API call to do anything with the terminal.  Messing with terminal state belongs to the command.

[2015-10-19 15:44] spadgett opened #5207 "We show labels twice on deployment page"
![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10582619/b3c51fc2-7656-11e5-85b2-31c056dd4fed.png)

/cc @jwforres

[2015-10-19 15:58] kargakis commented on #5185
All I am saying is these commands have no difference in how they function, and I cannot see how this isn't a dupe of https://github.com/openshift/origin/issues/5184

[2015-10-19 18:48] kargakis opened #5211 "prune deployments should set annotations"
After https://github.com/openshift/origin/issues/5163 gets resolved (hopefully soon) and we are going to support viewing the logs from older deployments, there will be two cases where trying to get the logs from an older deployment may be inaccurate:

1) when the older deployment the user is trying to view is manually deleted (imho should not happen at all: https://github.com/openshift/origin/issu

[2015-10-19 19:58] benjaminapetersen opened #5213 "Breadcrumbs do not collapse properly in web console"
Attaching a few screenshots.

tablet:
![screen shot 2015-10-19 at 3 57 19 pm](https://cloud.githubusercontent.com/assets/280512/10589590/211f4994-767a-11e5-94ad-80c81e1b9e49.png)

mobile:
![screen shot 2015-10-19 at 3 57 27 pm](https://cloud.githubusercontent.com/assets/280512/10589592/23119afe-767a-11e5-82fb-c6fd4c4593fc.png)

[2015-10-19 20:08] spadgett opened #5214 "Second line of filter values has different left margin"
It's indented slightly.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10589822/63e3e9dc-767b-11e5-8f73-9f447b8ecb14.png)

`margin-right` instead of `.label + .label { margin-left: ... }` to avoid?

[2015-10-19 20:08] spadgett commented on #5214
@jwforres fyi

[2015-10-19 20:09] spadgett commented on #5213
Same as #5178

[2015-10-19 20:13] #5158 closed

[2015-10-19 20:13] #5178 closed

[2015-10-19 20:13] #5179 closed

[2015-10-19 20:31] benjaminapetersen commented on #5213
closing the dup

[2015-10-19 20:31] #5213 closed

[2015-10-19 20:46] ironcladlou opened #5216 "Refactor server version negotiation and client cache to consolidate with upstream"
Origin client/server version negotiation was introduced in #4992 to support v1beta3 removal. The code to handle negotiation and client caching is only very partially shared with upstream, and does some inefficient things with the config objects to work around the upstream code's lack of pluggability.

This PR is to track requirements for refactoring origin and/or kube in whatever ways necessary to

[2015-10-19 20:46] ironcladlou commented on #5216
cc @liggitt @deads2k to provide any further insights into what needs done and to assess our risk is in continuing with the current implementation.

[2015-10-19 20:57] ironcladlou commented on #5211
So this would be accumulating kind of an audit history of RCs on the deploymentConfig. I'm not sure if that's a path we want to go down. Doesn't seem much different than just keeping all the old RC states on the DC other than a modest amount of extra storage. Conceptually I don't see much difference.

If the user tries to get logs for a deployment which doesn't exist (because it never did or was p

[2015-10-19 21:43] kargakis commented on #5211
Hm, I was thinking that we had to reason about **every** deployment for a config but I guess you are right about

I guess this is it for this issue.

[2015-10-19 21:43] #5211 closed

[2015-10-19 22:08] danmcp commented on #5083
Please reopen if you see this again.

[2015-10-19 22:08] #5083 closed

[2015-10-20 00:27] #4102 closed

[2015-10-20 00:55] nak3 opened #5218 ""--config" option doesn't work for CLI"
- env

[code]

- issue:

  - After I run openshift standalone mode, `--config` options doesn't work. `KUBECONFIG` environment valiable does work.
  - Please see below

[code]

[2015-10-20 01:09] nak3 commented on #5218
- My origin server's address is `10.64.217.111`:
[code]
[code]

- I am not sure where `172.17.8.101` is from

[code]

[2015-10-20 01:17] nak3 commented on #4645
@pweil- Sorry for my late reply. I also confirmed it and no problem for the close. Thank you for following up this report.

[2015-10-20 01:38] smarterclayton opened #5219 "e2e failure provisioning namespace token"
[code]

See https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin/5956/console

@liggitt

[2015-10-20 01:40] smarterclayton commented on #5219
Could be my code, on the other hand, might not be.  Started https://ci.openshift.redhat.com/jenkins/job/origin_extended/161/ to see

[2015-10-20 03:00] smarterclayton opened #5220 "k8s uti/wsstream test flakes"
[code]

[2015-10-20 03:03] liggitt commented on #5220
this in jenkins or travis, go 1.4 or 1.5?

[2015-10-20 03:10] smarterclayton commented on #5220
1.5, local.

On Mon, Oct 19, 2015 at 11:03 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-20 03:21] smarterclayton commented on #3502
We need to remove support for this before I cut 1.0.7

[2015-10-20 03:22] smarterclayton opened #5221 "Remove openshift/origin-haproxy-router-base"
No longer necessary.  We should only build one combined image in origin-haproxy-router. Can be post 1.1 if there are significant impacts to release management process (@sdodson?)

@ramr

[2015-10-20 03:32] bparees commented on #3502
Remove support for the old label?

[2015-10-20 03:49] smarterclayton commented on #3502
Yeah

On Mon, Oct 19, 2015 at 11:32 PM, Ben Parees <notifications@github.com>
wrote:

[2015-10-20 09:00] kargakis commented on #5197
This is fixed.

[2015-10-20 09:40] myfear opened #5225 "oc port-forward on Windows "socat not found""
D:\temp\test>oc port-forward  mysql-2-zjx6u 3306:3306
I1020 11:38:54.754799    8356 portforward.go:227] Forwarding from 127.0.0.1:3306 -> 3306
I1020 11:38:54.757299    8356 portforward.go:227] Forwarding from [::1]:3306 -> 3306
I1020 11:39:10.824839    8356 portforward.go:253] Handling connection for 3306
E1020 11:39:10.833340    8356 portforward.go:312] An error occurred forwarding 3306 -> 3306:

[2015-10-20 10:14] myfear opened #5226 "Initial Deployment Fails From Template"
I tried to use the https://github.com/openshift/origin/blob/master/examples/db-templates/mysql-persistent-template.json

Imported it oc create -f mysql-persistent-template.json -n myfear
and added it via the admin console to my project.

The events log shows:

mysql	DeploymentConfig	failedCreate	Couldn't create initial deployment: DeploymentConfig "mysql" is invalid: triggers[0].imageChange.from:

[2015-10-20 10:34] soltysh commented on #5218
@deads2k this might be post rebase issue, I fall into today as well.

[2015-10-20 10:39] myfear commented on #5225
vagrant ssh
sudo /bin/yum install socat

solves it. Maybe add socat to the all-in-on vm?

[2015-10-20 11:28] plakat opened #5228 "Feature Request: Administrative role for oadm prune"
We're currently preparing a production environment based upon OpenShift and would like to automate various cleanup tasks. One of these uses `oadm prune` to purge OpenShift objects that are no longer needed. Since this will be run via cron we would like to have a role with just the privileges necessary for pruning builds, images and deployments, but no privileges that might otherwise be abused.

Th

[2015-10-20 11:44] plakat opened #5229 "Feature Request: Certificate Management / Updating Certificates used internally by OpenShift"
I may have overlooked an essential piece of documentation, but so far I was not able to resolve the question of what happens 1 year after the initial installation when the generated certificates expire.

I know that master and node certificates can be generated individually by using `oadm ca` subcommands, but that doesn't include certificates used to connect to etcd and between etcd instances (whi

[2015-10-20 12:23] deads2k commented on #5218
This got brought in with https://github.com/openshift/origin/pull/4992.  Looks like new-app and new-build access the factory before flags are bound here https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/newapp.go#L112-L114 and here https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/newbuild.go#L51-L53, which causes `defaultClient` here to get set to the raw values before

[2015-10-20 12:28] liggitt commented on #5218
@ironcladlou that could explain the oddity we saw around --loglevel

[2015-10-20 12:29] rettori commented on #4981
Is is possible to have more than one router per installation?

[2015-10-20 12:50] stevekuznetsov commented on #5120
@FranBarrera Have you been able to get the PV working with our help here?

[2015-10-20 13:07] bparees commented on #3502
so don't you want to cut 1.0.7 *before* we remove this?

[2015-10-20 13:07] pweil- commented on #4981
Yes.  Other than an HA setup the other use case would be when routers are configured to listen to a subset of events so they only handle certain routes.

[2015-10-20 13:10] deads2k opened #5231 "make cherry-pick.sh foolproof"
It ought to be possible, if the referenced kube repo doesn't exist or isn't setup properly, to build a kube repo in a temp folder with the correct configuration for finding upstream pulls and create and use that.

@smarterclayton

[2015-10-20 13:15] deads2k opened #5232 "UPGRADE.md needs update to indicate removed storage levels"
We no longer support `v1beta3` as a storage level.  This has impacts on `master-config.yaml` files and the upgrade path should be described for rolling updates.

@ironcladlou

[2015-10-20 13:15] deads2k commented on #5232
@sdodson This affects the external docs as well as https://github.com/openshift/origin/blob/master/UPGRADE.md

[2015-10-20 13:31] deads2k opened #5234 "[post-rebase] SupportedResourcesWebService doesn't work"
This looks like a policy problem.

[2015-10-20 13:32] deads2k opened #5235 "[post-rebase] disabling --validate is too broad"
UPSTREAM: <carry>: Disable --validate by default is incorrect. It should only change our wrapped methods, not the originals.

[2015-10-20 13:32] deads2k opened #5236 "[post-rebase] make test/cmd/admin.sh "not present in output" tests check only the expected field"
We should explicitly test fields that we're messing with, not grep through the entire output.  This should be easier with json path support.

[2015-10-20 13:33] deads2k opened #5237 "[post-rebase] remove UPSTREAM: <drop>: make test pass with old codec"
`UPSTREAM: <drop>: make test pass with old codec` is bad. We need to find the client codec priority issue in the test.

[2015-10-20 13:34] deads2k opened #5238 "[post-rebase] conversion generator is broken"
`UPSTREAM: <drop>: tweak generator to handle conversions in other packages` shouldn't be necessary with AssumePrivateConversions. Figure out why it's needed.

[2015-10-20 13:34] deads2k opened #5239 "[post-rebase] Inspect or add policy objects for username and groupname fields."
@liggitt  this one is mine.

[2015-10-20 13:35] liggitt commented on #5239
which fields are these?

[2015-10-20 13:36] deads2k commented on #5239
The old fields before subjects.  If the conversions are borked, it would be on those fields.

[2015-10-20 13:41] ncdc commented on #4287
This landed in the most recent rebase and QE verified the bz. @sosiouxme do you mind testing and closing assuming it works for you?

[2015-10-20 14:17] charliemaiors opened #5241 "Enviroment variables creation from buildconfig in dockerstrategy"
Hi I'm trying to create an enviroment variable in my buid config using dockerstrategy, but after the build if I run docker run <my-output-image> env the variable is not in the list of enviroment variables

{
  "kind":"BuildConfig",
  "apiVersion":"v1",
  "metadata":{
    "name":"mybuildconfig-bc",
    "selfLink":"",
    "resourceVersion":""
  },
  "spec":{
    "triggers":[
    {
      "type":"Conf

[2015-10-20 14:28] stevekuznetsov opened #5242 "`oc start-build` complains about build that doesn't matter"
Following these steps:

[code]

Aside from the bad output test for `start-build` (bare object name without the other text), if the command is about to make `mybuild-2` I would not expect it to fail when `mybuild-1` already exists.

@csrwng

[2015-10-20 14:33] deads2k opened #5243 "[post-rebase] enable apis/extensions"
We need a sane way to turn this on the `master-config.yaml`

[2015-10-20 14:42] sdodson commented on #5221
We don't ship origin-haproxy-router-base image for OSE. I just need to make sure to copy over the Dockerfile changes, fine with doing this before or after 1.1. Your choice.

[2015-10-20 14:45] rettori commented on #4981
1- the adequate solution would consider the ability to tell the router what is the expected timeout for a certain request.
2- workaround would be to deploy more than one router per installation and direct drools execution server traffic through that route.

[2015-10-20 14:53] liggitt commented on #5229
@sdodson @detiber

[2015-10-20 15:07] jwforres commented on #4538
This is caused by an upstream bug in bootstrap.js with a dropdown closing when we are navigating away.  This is not causing anything in the logout flow to fail so lowering the priority.

We should open a fix against bootstrap upstream.

[2015-10-20 15:09] stevekuznetsov opened #5245 "`oadm registry --credentials` doesn't bash autocomplete"
@danmcp please assign this to me

[2015-10-20 15:20] liggitt commented on #4053
This is much worse now that `oc` uses negotiate.

[2015-10-20 15:23] deads2k commented on #5239
Conversions working fine, so https://github.com/openshift/origin/pull/5143#issuecomment-149306626 isn't a problem.  Turns out that it is now possible to write a partial custom conversion that takes over after an auto-generated conversion has done its best.

[2015-10-20 15:23] #5239 closed

[2015-10-20 15:25] derekwaynecarr commented on #4053
This should be P0, all CLI interactions block ;-)

[2015-10-20 15:27] #5218 closed

[2015-10-20 15:31] smarterclayton opened #5247 "Build and build config describers are poorly laid out and not useful to users"
Probably need to be reorganized for structure, a lot of the duplicate fields are confusing or not properly presented.  Engage UX and others.  A lot of fields can probably be unified, or simplified.

[2015-10-20 16:42] smarterclayton commented on #5221
After

On Tue, Oct 20, 2015 at 10:42 AM, Scott Dodson <notifications@github.com>
wrote:

[2015-10-20 16:46] smarterclayton commented on #3502
We announced in 1.0.6 we'd remove it in 1.0.7

On Tue, Oct 20, 2015 at 9:07 AM, Ben Parees <notifications@github.com>
wrote:

[2015-10-20 16:57] liggitt commented on #4053
block on all commands fixed in https://github.com/openshift/origin/pull/5230

[2015-10-20 17:02] csrwng commented on #5242
@stevekuznetsov we are currently working on a card that should help with this. @mnagy owns it. When you delete the buildconfig, all builds associated with it should be deleted.

[2015-10-20 17:04] bparees commented on #3502
removing here: https://github.com/openshift/origin/pull/5250

[2015-10-20 17:05] soltysh commented on #5243
/sub

[2015-10-20 17:45] liggitt opened #5254 "oc <= 1.0.4 defaults to v1beta3"
Found when using older `oc` clients after removing v1beta3 from master

Clients 1.0.4 and earlier are defaulting to v1beta3
[code]

Working versions: 1.0.5+
Broken versions: 1.0.4 and below

Passing --api-version=v1 allows these clients to talk to a v1 server.

We should:
1. Document how to make older clients work with v1
2. Ensure current code is doing negotiate, not hard-coding v1

cc @mfojtik

[2015-10-20 17:46] stevekuznetsov opened #5255 "`oc export` doesn't honor commas in long-form names"
Steps to reproduce:

[code]

However, short-form names work:

[code]

@deads2k

[2015-10-20 17:46] mfojtik commented on #5254
so I was not crazy, thanks @liggitt !
On Oct 20, 2015 7:45 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2015-10-20 17:47] stevekuznetsov opened #5256 "`oadm groups new` doesn't have verbose output"
When creating a new group using `oadm groups new name` there should be output `Group "name" created`.

@deads2k

[2015-10-20 17:50] deads2k commented on #5256
@danmcp assign to steve.

[2015-10-20 17:59] liggitt commented on #5255
that's resource builder generally. don't use commas in long form names? does `groups/a groups/b` work?

[2015-10-20 18:15] knrc commented on #4848
@smarterclayton Yes, delivering different content is possible with the current images and is a choice made by the application

[2015-10-20 18:21] jwforres opened #5258 "Getting modified event on build when nothing has changed"
You can compare the two lines below, nothing has changed except the resourceVersion.  I think this has to do with the new status message on the build.  I'm getting the modified event across the websocket every second.

To recreate just create an app and then delete the image stream, cancel the running build and start a new build.  You'll get a build stuck in new without a status message.

[code]

[2015-10-20 18:21] jwforres commented on #5258
@bparees @rhcarvalho

[2015-10-20 18:24] deads2k commented on #5255
Piping produces short form names.

[2015-10-20 18:25] deads2k commented on #5255
Err, piping produces resource specified names.  `oc get groups -o name | xargs oc export` as a for instance.

[2015-10-20 18:28] #5214 closed

[2015-10-20 18:28] joeswaminathan opened #5259 "Unable to login as system:admin"
I using the tag v1.0.6 on Fedora 22

When I tried to login I get the following error. (I looked at #4650, but unable to understand why it doesnt use the certificates for me)

[kumo@os-master master]$ oc login -u system:admin -n default
Server [https://localhost:8443]:
2015-10-20 11:22:27.113009 I | http: TLS handshake error from 127.0.0.1:39396: remote error: bad certificate
The server uses a cert

[2015-10-20 18:35] liggitt commented on #5259
That user is the bootstrap cluster admin user, and is authenticated using a client certificate. Make sure you are using the admin.kubeconfig which already contains the system:admin credentials. `oc config view` should show a user stanza with the system admin credentials, in which case `oc login -u system:admin` just switches to use those credentials.

[2015-10-20 18:37] deads2k commented on #5259
Rather than always using the `admin.kubeconfig`, you can simply login as yourself, but when you need cluster-admin rights, you can use `--config=path/to/admin.kubeconfig` as an arg to the command.

[2015-10-20 18:38] smarterclayton commented on #4848
What content is delivered?  We're debating taking away that flexibility for
simplicity and ease of use (for the easier cases), I need a strong use case
to justify keeping it.

On Tue, Oct 20, 2015 at 2:15 PM, knrc <notifications@github.com> wrote:

[2015-10-20 18:39] joeswaminathan commented on #5259
Thanks for the quick response. Could you please clarify what you mean by "Make sure you are using the admin.kubeconfig".   Where do I specify this

I do see admin.kubeconfig under <homedir>/openshift.local.config/master. And I did start openshift as

    openshift start --master-config=<homedir>/openshift.local.config/master/master-config.yaml --node-config=<homedir>/openshift.local.config/node-os

[2015-10-20 18:50] joeswaminathan commented on #5259
@deads2k  Thanks that worked.

    oc login -u system:admin -n default --config=<homedir>/openshift.local.config/master/admin.kubeconfig

[2015-10-20 18:52] knrc commented on #4848
@smarterclayton That's completely up to the application.  For example EAP exposes an http and an https connector and a customer's application can choose which they wish to be exposed through, i.e. they may decide to expose one part through http://<host>/path and a second part through https://<host>/path.

This behaviour existed in previous releases, we could expose both http and https endpoints th

[2015-10-20 18:55] spadgett opened #5261 "Error not displayed for deleted project in UI after navigating tabs"
Steps to reproduce:

1) Open a project. I was on one of the browse pages.
2) oc delete project <name> on the command line.
3) Switch to the overview tab.

You can see an error message in the browser location bar, but it's not displayed to the user.

![screen shot 2015-10-20 at 2 50 07 pm](https://cloud.githubusercontent.com/assets/1167259/10617758/20caa522-773a-11e5-911e-15d027e87774.png)

[2015-10-20 18:55] spadgett commented on #5261
/cc @jwforres

[2015-10-20 18:58] #3544 closed

[2015-10-20 18:59] #5181 closed

[2015-10-20 19:03] spadgett opened #5262 "Log links missing href attribute"
The "Raw" and "Open full view" links on the build logs page (and maybe pod logs?) are missing an `href` attribute. The cursor is a bar and not a pointer on hover and the links can't be focused using the keyboard.

/cc @benjaminapetersen @jwforres

[2015-10-20 19:03] smarterclayton commented on #4848
Why do you need those to go to two different services?  We're not proposing
removing support for both http and HTTPS on the same backend.  We can
definitely fix that support.

On Oct 20, 2015, at 2:52 PM, knrc <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> That's completely up to
the application. For example EAP exposes an http and an https connector and
a c

[2015-10-20 19:08] spadgett commented on #5262
The reconnect link on the same page, too.

[2015-10-20 19:10] benjaminapetersen commented on #5262
I'll take this one, assign it to me, thanks!

[2015-10-20 19:12] knrc commented on #4848
@smarterclayton Perhaps I've misunderstood then, I thought you were looking for justification for having a secure and non-secure route for the same DNS hostname in order to expose different content on 80 and 443.

If we continue to support both 80/443 with the same DNS hostname, and that the content served is distinct, then you can ignore my comments :)

[2015-10-20 19:50] spadgett opened #5264 "Clicking on 'View Log' link in overview results in a 403 forbidden"
This error is displayed in the browser:

[code]

/cc @benjaminapetersen @jwforres

[2015-10-20 19:54] jwforres commented on #5264
definitely shouldnt be making an API request to a console URL :)

[2015-10-20 20:00] knobunc commented on #4133
Pull request: https://github.com/openshift/origin/pull/5265

[2015-10-20 20:01] spadgett commented on #5264
@benjaminapetersen need to remove the leading `/`

https://github.com/openshift/origin/tree/master/assets#navigation

[2015-10-20 20:16] spadgett opened #5266 "Pod log spinner distracting"
The spinner that we display at the bottom for running pods never stops animating (because the pod is still running and the logs still streaming). It's fairly large and distracting. I suggest we hide it as soon as data starts filling in or use something a bit more subtle.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10619709/2796b00c-7745-11e5-8ceb-062fdc2cf19f.png)

[2015-10-20 20:34] #5207 closed

[2015-10-20 20:49] benjaminapetersen commented on #5266
I'm thinking subtle is probably fine, but I don't think I'd remove.  On the build page it will eventually disappear because a build completes.   On the pod page data may continue indefinitely & isn't guaranteed to stream at a consistent rate.

[2015-10-20 21:04] jwforres opened #5268 "Need some visual consistency between logs and terminal in console"
At least need monospace font on logs, probably change font color as well.

[2015-10-20 21:06] jwforres commented on #5266
@liggitt suggested text that says when we last received a message from the server.  Could also use a more subtle indicator like http://fortawesome.github.io/Font-Awesome/icon/ellipsis-h/

[2015-10-20 21:12] rhcarvalho commented on #5258
@jwforres thanks for reporting this, I'll have a look tomorrow morning  (UTC+2)

[2015-10-20 21:15] spadgett opened #5269 "Show view log link for failed logs as well on overview"
Right now we only show the view log link for running builds. I think at least we should show it for failed builds.

/cc @jwforres @benjaminapetersen

[2015-10-20 21:16] spadgett commented on #5262
Noticed this for the go to start and go to end links as well.

[2015-10-20 21:20] jwforres commented on #5269
I would go ahead and do complete and failed

[2015-10-20 21:59] bparees commented on #5258
yeah so once per second means it's going through our retrycontroller logic which makes sense.

the code that @rhcarvalho added needs to check if the status message is already set to what it wants to set it to, and if so, do not set it/update the build object.

[2015-10-20 23:07] #5259 closed

[2015-10-20 23:10] danmcp commented on #5225
socat should be there.  Maybe you have an old image?  Try running:

vagrant box remove fedora_inst

and vagrant up again.

[2015-10-20 23:15] deads2k commented on #5197
@smarterclayton any particular concern or does the existing unit test and rebase satisfy?

[2015-10-20 23:25] smarterclayton commented on #5197
No this is fine.

On Oct 20, 2015, at 7:15 PM, David Eads <notifications@github.com> wrote:

Needs to be functionally compatible.

@smarterclayton <https://github.com/smarterclayton> any particular concern
or does the existing unit test and rebase satisfy?

—
Reply to this email directly or view it on GitHub
<https://github.com/openshift/origin/issues/5197#issuecomment-149728417>.

[2015-10-21 00:03] spadgett opened #5270 "Descenders clipped in route link on overview page"
See screenshots. The `j` and `g` are cut off.

<img width="379" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/10624349/90953ad6-7765-11e5-858a-7ad1e9941b18.png">

/cc @jwforres @sg00dwin

[2015-10-21 04:09] liggitt commented on #5202
you can specify two addresses for openshift:
1. Pass `--master=https://ip-or-host:8443` to set the address that the master and nodes should use to contact the API (internal IP might be fine for this)
2. Pass --public-master=https://ip-or-host:8443` to set the address the CLI and web console should use to contact the API (external IP or host should be used for this)

[2015-10-21 06:49] jhou1 commented on #5120
I've tested this on
[code]
The cinder plugin is now supported.

[code]

[2015-10-21 08:33] jsafrane commented on #5107
OpenStack/Cinder hostname fixes:
upstream: https://github.com/kubernetes/kubernetes/pull/15537
origin: https://github.com/openshift/origin/pull/5272

[2015-10-21 11:45] mnagy commented on #5226
@myfear you are missing an image stream with the MySQL image in the openshift namespace. Add it using:
[code]

[2015-10-21 12:04] deads2k commented on #5197
Closing based on https://github.com/openshift/origin/issues/5197#issuecomment-149731877

[2015-10-21 12:04] #5197 closed

[2015-10-21 12:06] FranBarrera commented on #5120
@stevekuznetsov I tried with the version 1.0.6 installed via Ansible and the error seems to cinder is not one of the options available:

[code]

[2015-10-21 12:07] rhcarvalho commented on #5084
Fixed by #5134.

(and doubled checked by me).

[2015-10-21 12:07] #5084 closed

[2015-10-21 12:09] myfear commented on #5226
Thank you. But as a user this leaves me wondering. If I trigger a deploy
from an instance manually, this gets pulled automatically.
If I try to instantiate from a template first time, I do have to create the
image stream myself first?

That does not make a lot of sense to me as a simple user.

M

[2015-10-21 12:10] stevekuznetsov commented on #5120
@FranBarrera I've tried as well, my local version is:
[code]

Although not installed through Ansible. Could you paste your `pv_cinder.yaml` or confirm that it is identical to the following?

[code]

[2015-10-21 12:24] stevekuznetsov commented on #5255
This is new as of the rebase, FWIW

[2015-10-21 12:53] brenton commented on #5229
The work on this will be tracked here: https://trello.com/c/NsT6f1HL/38-oo-install-support-for-redeploying-certificates.

[2015-10-21 13:13] rhcarvalho commented on #5241
@charliemaiors what version of the server/client are you using?

[2015-10-21 13:15] charliemaiors commented on #5241
I'm using binaries version 1.0.5 for server, rest API to send the buildconfig

[2015-10-21 13:16] rhcarvalho commented on #5241
Also, how do you start the server? (--latest-images flag would make a difference here).
Most likely your `openshift/origin-docker-builder` is old and does not support that functionality (which is recent and was not included in any release yet if I'm not wrong).

[2015-10-21 13:19] charliemaiors commented on #5241
openshift start --master-config=openshift.local.config/master/master-config.yaml --node-config=openshift.local.config/node-openshift/node-config.yaml &> openshift.log &

This is my start command (I've configured a different identity provider and I've to include the configuration files)

[2015-10-21 13:25] pweil- commented on #4690
Please reopen if this is still an issue for you.  Please see the latest docs in the comment above.

[2015-10-21 13:25] #4690 closed

[2015-10-21 13:28] rhcarvalho commented on #5241
@charliemaiors there are two things you can try:

1. Start the server with --latest-images.

  This will make OpenShift use the `:latest` tag for builder images, registry, etc, instead of the version that matches your release. IOW, without that flag you'll be using `openshift/origin-docker-builder:v1.0.5`, prior to that feature was implemented.

2. Manually pull and re-tag `openshift/origin-docker

[2015-10-21 13:33] spadgett opened #5279 "updateTopology: $apply already in progress"
Not sure when exactly this happened, but I noticed this trace in my console. We should probably use `$evalAsync` which works regardless of whether a digest is in progress.

[code]

/cc @stefwalter @jwforres

[2015-10-21 13:52] benjaminapetersen commented on #5266
I like the ellipsis, much smaller, though I'd still like to see some sort of animation on it.  Text could be helpful as well, until we have timestamps in the stream.

[2015-10-21 13:58] benjaminapetersen opened #5281 "Url encode filters when following chart link"
When I click the scaling donut on the overview page, I expect to see the filters applied to the pods url encoded.

![screen shot 2015-10-21 at 9 55 48 am](https://cloud.githubusercontent.com/assets/280512/10638663/02c9ebbe-77da-11e5-9502-9865f5d028f7.png)

![screen shot 2015-10-21 at 9 55 55 am](https://cloud.githubusercontent.com/assets/280512/10638666/05e1a332-77da-11e5-8564-0231f4e71315.png)

B

[2015-10-21 14:15] spadgett opened #5283 "Cursor doesn't change to pointer when hovering over pod donut chart"
~~This works fine in Firefox and Chrome.~~

This seems to happen on all platforms at narrower browser widths.

/cc @jwforres

[2015-10-21 14:18] FranBarrera commented on #5120
@stevekuznetsov This is my version, maybe this is the problem:
[code]
And the file pv_cinder.yaml:

[code]
I've tested with your yaml and the same error.

[2015-10-21 14:20] spadgett commented on #5186
Is it weird that I kind of want this?

[2015-10-21 14:21] spadgett commented on #3994
Related to #5186

[2015-10-21 14:24] bparees commented on #5186
also curve-fit+extrapolate to predict future build times?

provide first+second order derivatives of the duration curve?

[2015-10-21 14:37] spadgett opened #5285 "Safari: Long route link overflows box"
In other browsers, there is an ellipsis.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/10639707/9efaae38-77df-11e5-8563-526f2ec91ac8.png)

/cc @jwforres @sg00dwin

[2015-10-21 14:55] jwforres commented on #5261
Cant reproduce, tried FF and Chrome. Maybe it was a particular browse page you were on? Or maybe it got fixed with all the changes that went in yesterday.  I see the error page:

![error_page](https://cloud.githubusercontent.com/assets/1467629/10640310/21a18f9e-77e2-11e5-8fb1-2b3bd01139fe.png)

[2015-10-21 14:57] spadgett commented on #5285
The parent div has a larger width than the tile.

![screen shot 2015-10-21 at 10 55 45 am](https://cloud.githubusercontent.com/assets/1167259/10640397/72ebe80e-77e2-11e5-8f2c-9e7bda272c85.png)

[2015-10-21 14:57] jwforres commented on #4886
Waiting to fix till https://github.com/openshift/origin/issues/5258 is resolved

[2015-10-21 15:01] spadgett commented on #5261
I can't reproduce either. Will reopen if I see it again.

[2015-10-21 15:01] #5261 closed

[2015-10-21 15:09] sspeiche commented on #5186
I'd like to know trends as well, are builds getting slower? faster?

Predict when builds might fail might be good as well, such as it has been 7 days since last failure be on the look out

[2015-10-21 15:10] kargakis opened #5287 "A couple of oc commands should switch to PATCH"
`oc env`, `oc edit` (already switched upstream), and maybe `oc tag` are coming to my mind.

See:
https://github.com/kubernetes/kubernetes/issues/15333
https://github.com/kubernetes/kubernetes/pull/15651
https://github.com/kubernetes/kubernetes/pull/15597

[2015-10-21 15:15] rhcarvalho commented on #5241
@charliemaiors if the solutions I proposed work for you, could you please close this issue?
Seems that it's just a matter of using an unreleased feature.

[2015-10-21 15:19] charliemaiors commented on #5241
I've tested the first solution and doesn't work, but the second work
perfectly. Thanks.

2015-10-21 17:15 GMT+02:00 Rodolfo Carvalho <notifications@github.com>:

--
Pasquale Carlo Maiorano Picone

[2015-10-21 15:20] #5241 closed

[2015-10-21 15:38] jsafrane commented on #5120
: invalid value '{GCEPersistentDisk:<nil> AWSElasticBlockStore:<nil> HostPath:<nil> Glusterfs:<nil> NFS:<nil> RBD:<nil> ISCSI:<nil> CephFS:<nil>}', Details: exactly 1 volume type is required

The structure should contain also `Cinder: <something>`. It seems to me you have a version of Openshift/Kubernetes that does not support Cinder yet. Looking at Kubernetes @ge2a02a8, I do not see pkg/volume/ci

[2015-10-21 15:49] php-coder commented on #4950
The similar issue in k8s: https://github.com/kubernetes/kubernetes/issues/7843

[2015-10-21 15:52] #3485 closed

[2015-10-21 15:52] stevekuznetsov commented on #5120
@FranBarrera It does not seem that the `1.0.6` tag ([here](https://github.com/openshift/origin/blob/2695cdcd29a8f11ef60278758e11f4817daf3c7c/Godeps/_workspace/src/k8s.io/kubernetes/pkg/api/types.go)) supported Cinder volumes. You'll need a more up-to-date version of OpenShift to pick up that feature.

[2015-10-21 15:56] stevekuznetsov opened #5290 "bash autocompletions are not packaged into our binaries"
We should package our autocompletions into our releases. It would be nice if they were compiled into the binary and the binary would check for them in the user's home directory and place them if they're not found or outdated.

@sdodson

[2015-10-21 16:32] jeremyeder commented on #5106
@smarterclayton we want https://github.com/kubernetes/kubernetes/pull/15682 in ose3.1.

[2015-10-21 16:33] jeremyeder commented on #5106
@smarterclayton And also https://github.com/kubernetes/kubernetes/issues/15683 but that's not merged into kube yet.

[2015-10-21 16:34] ncdc commented on #5106
@jeremyeder the origin equiv to 15682 is #5142

[2015-10-21 16:46] php-coder commented on #4950
After reading k8s tickets/commits my understanding is that `-o wide` option was designed to being used in a slightly different way: it doesn't limit width of columns but show additional columns.

Quote from [kubectl convention](https://github.com/kubernetes/kubernetes/blob/a5a917603c21217deb166dccac0f6a65f3fb543a/docs/devel/kubectl-conventions.md#output-conventions):

For instance, `kubectl get po

[2015-10-21 16:49] smarterclayton commented on #5106
This is in

[2015-10-21 16:49] #5106 closed

[2015-10-21 17:44] #5270 closed

[2015-10-21 18:07] mwringe opened #5294 "Missing IP addresses in node certificates"
Currently when we generate certificates for the nodes, we are not specifying the IP address for that certificate. This means that any client which tries to access the endpoint via its IP address will receive an error.

Steps to reproduce:
openshift start --write-config=openshift.local.config --hostname=myNode --public-master=$IP_ADDRESS --master=$IP_ADDRESS

Check the openshift.local.config/node-m

[2015-10-21 18:14] liggitt commented on #5294
I think this only applies in the all-in-one case, where we have a way to detect the current IPs. We should add all local IP addresses to the node cert (the same way we add all local IP addresses to the etcd cert)

[2015-10-21 18:41] ironcladlou commented on #5199
I started working on this and found myself needing to plumb through a concrete k8s `*unversioned.Client` from the client command downward. The `clientcmd.Config.Clients()` function gives me interfaces. I could try and set up the concrete clients myself, but I wouldn't be doing the same thing `Clients()` does (which uses a private `bindEnv()` call before instantiating the clients).

Is there some o

[2015-10-21 18:43] #5044 closed

[2015-10-21 18:44] ironcladlou commented on #5199
Quick clarification: I only needed to plumb the concrete client down into various constructors, which is fine IMO. The library code that does the really useful stuff works with either the client interfaces or private interfaces.

[2015-10-21 18:52] spadgett commented on #5294
@mwringe @liggitt Any workaround? This blocks metrics testing.

https://bugzilla.redhat.com/show_bug.cgi?id=1272976

[2015-10-21 18:55] mwringe commented on #5294
@spadgett Heapster now can support disabling some security checks for the certificate. So I am going to see if we can rebuild Heapster and push out new containers which can enable the work around.

[2015-10-21 18:57] deads2k commented on #5190
@smarterclayton This is the issue you were asking about.
@simon3z Once we complete this, you'll be able to add the user to the SCC in a reasonable way.

[2015-10-21 18:57] spadgett opened #5295 "Refactoring: Move scaling controls into pod-status-chart directive"
See https://github.com/openshift/origin/pull/5288#discussion_r42642120

[2015-10-21 18:59] liggitt commented on #5294
Set hostname to the node ip

[2015-10-21 19:13] rhcarvalho opened #5296 "It should be possible to have no output for a build"
Extracted from #4980.

We will likely need to introduce another command line option that cannot be used together with `--to`.

[2015-10-21 19:20] rhcarvalho commented on #5296
@smarterclayton I need more input here, so if I won't have time to finish this before my PTO we can hand it to somebody else.

What's the use case for this feature?

What's the workflow you imagined for this?

[code]

Should it be `--no-output` or `--no-build-output` or something else?

I imagine the effect of setting this flag to true would be to create a build config in which the spec.output.to

[2015-10-21 19:40] #5234 closed

[2015-10-21 19:48] deads2k opened #5299 "need an SCC describer"
[code]

[2015-10-21 19:48] benjaminapetersen commented on #5269
I can pretty easily just move the link to `View Log` to the end of the line & you can use it no matter what the status.  Work?

[2015-10-21 19:48] pweil- commented on #5299
:+1: ack

[2015-10-21 20:08] medhedifour opened #5302 "Are there auto scaling in OpenShift v3 ? Because in kubernetes project they don't have finished the development of the auto-scaler yet."

[2015-10-21 20:09] medhedifour commented on #5302
Are there auto scaling in OpenShift v3 ?
Because in kubernetes project they don't have finished the development of the auto-scaler yet.

[2015-10-21 20:17] medhedifour commented on #5302
@smarterclayton
@deads2k

[2015-10-21 20:31] jwforres commented on #5269
@benjaminapetersen when the build is in "New" I don't think there is a pod yet, not sure about "Pending" but I'm guessing same thing.  What happens on build logs if there is no pod.

[2015-10-21 20:35] stevekuznetsov commented on #5299
I see how it is

[2015-10-21 20:39] ironcladlou commented on #5199
I figured out how to get a concrete client safely, at least. I'm going to roll with that for now.

[2015-10-21 21:10] benjaminapetersen commented on #5269
Good Q. I'll check into that.

[2015-10-21 21:20] smarterclayton commented on #5302
OpenShift Origin 1.1 and OSE 3.1 will support the autoscaler.  The function is ready for use, and in OpenShift we'll provide a stable interface that will evolve with backwards compatibility.

[2015-10-21 21:38] medhedifour commented on #5302
@smarterclayton
The auto-scaling functionality in openshift origin v3 is based on kubernetes or added by the openshift project ?
Until now we cannot test the auto-scaling in openshift origin v3 ?

[2015-10-21 21:39] smarterclayton commented on #5302
It will be based on the work done in Kubernetes.  OpenShift will ship a
productized metrics stack that includes long term metrics storage for
cluster resources.

On Wed, Oct 21, 2015 at 5:38 PM, medhedifour <notifications@github.com>
wrote:

[2015-10-21 21:47] medhedifour commented on #5302
So, OpenShift origin v3 will wait for until the auto scaler of kubernetes will be completed ?

[2015-10-21 21:55] liggitt commented on #5281
See prior conversation about tab navigation. Not sure I'd expect a history entry for each label add/remove. I don't object to the filter being bookmarkable, but I don't like the history clutter

[2015-10-21 22:32] #4895 closed

[2015-10-21 22:47] sdheisenberg opened #5308 "Can't start Openshift on OSX"
I'm trying to start Openshift from the `v1.0.6` release using [these instructions] (https://docs.openshift.org/latest/getting_started/administrators.html#downloading-the-binary).  A few weeks ago this did work, but I keep getting the error below if executing `sudo ./openshift start` on OSX 10.10.  I can confirm boot2docker is running.  Am I missing something here?

[code]

**Startup Log**
[code]

[2015-10-21 22:54] #5258 closed

[2015-10-21 22:54] #4911 closed

[2015-10-22 01:23] deads2k opened #5311 "extended tests are useless"
I find myself annoyed by the sea of red that prevents me from easily knowing if buckets I care about are broken: https://ci.openshift.redhat.com/jenkins/job/origin_extended/.  I think that most of our problem is related to trying to run the upstream kube tests.  While a noble goal, it effectively means that we don't respect the results of any extended tests.

I'd like to use some reflective code (

[2015-10-22 02:04] smarterclayton commented on #5311
I'll offer an alternative version.

Why don't the e2e unit tests work against OpenShift, and why haven't we
fixed them?

On Wed, Oct 21, 2015 at 9:23 PM, David Eads <notifications@github.com>
wrote:

[2015-10-22 02:30] smarterclayton commented on #5311
See https://github.com/openshift/origin/pull/5312

On Wed, Oct 21, 2015 at 10:04 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-22 02:34] sspeiche commented on #5186
As I'm watching paint dry (long builds running), it would be good to split up the build times too: time request, time until build is running (time until the builder pod is fetched, scheduled and starts actually running), time build actually runs, time it takes to push the image. This would help devs and admins to clearly see where attention may be needed.

@spadgett It would be very handy, esp in

[2015-10-22 02:37] smarterclayton commented on #5302
The autoscaler will be in the next point release within the next few weeks.

On Wed, Oct 21, 2015 at 5:47 PM, medhedifour <notifications@github.com>
wrote:

[2015-10-22 03:08] smarterclayton opened #5313 "pkg/admission/limitranger/admission.go:102: watch of *api.LimitRange ended with: 401: The event i..."
The etcd error 401 should be typed on watch, properly handled by the list-watcher (not logged via util.HandleError)

https://app.getsentry.com/red-hat/openshift-3-stg/group/81719366/

[code]

[2015-10-22 03:56] fabianofranz commented on #4904
Fixed by https://github.com/openshift/origin/pull/5300 and https://github.com/openshift/origin/pull/5306, @liggitt please close.

[2015-10-22 04:02] #4904 closed

[2015-10-22 04:14] bparees commented on #5186
Created vs started (pod running) is already there,  though the calculation
isn't. Distinguishing build from push isn't technically possible (in any
reasonable way at least) with the current build implementation.

Ben Parees | OpenShift
On Oct 21, 2015 22:34, "Steve Speicher" <notifications@github.com> wrote:

[2015-10-22 04:51] smarterclayton opened #5315 "Server rejected node event displayed during test execution"
Not sure why this is being logged.  Triggered by running

    TEST_ONLY=1 test/extended/core.sh -focus='create a functioning NodePort service' -v -trace

[code]

[2015-10-22 04:59] smarterclayton opened #5316 "Setting a UID block outside the range prevents server startup"
[code]

because default is set.  Should not happen.  UIDs outside range can be safely ignored.

[2015-10-22 05:01] smarterclayton opened #5317 "User with privileged SCC can't let images start as default user"
Pod created by cluster-admin is getting UID (first in range from project) assigned, but should have no uid set (because RunAsAny).

[2015-10-22 05:09] smarterclayton commented on #5317
[code]

[2015-10-22 05:10] smarterclayton commented on #5317
oc create -f examples/hello-openshift/hello-pod.json

from the default namespace

[2015-10-22 08:16] rhcarvalho commented on #341
@bparees I believe "my portion" here will be concluded when https://github.com/openshift/origin/pull/4909 merges. The other related, merged, PR was https://github.com/openshift/origin/pull/4872.

[2015-10-22 09:09] rhcarvalho opened #5318 "test-cmd newapp test flake"
(from https://github.com/openshift/origin/pull/4909)
https://travis-ci.org/openshift/origin/jobs/86779877
https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_origin/3718/consoleFull

[code]

Looks similar to https://github.com/openshift/origin/issues/4948, but refers to a different line/test case.

[2015-10-22 10:19] medhedifour commented on #5302
@smarterclayton
Thanks a lot

[2015-10-22 10:47] php-coder commented on #5182
@bparees I would like to fix it if you don't mind.

[2015-10-22 11:01] kargakis opened #5323 "Re-use edit command from upstream"
We need to upstream some additional patches we have since `edit` was added to kubectl. Most important:

- [x] https://github.com/openshift/origin/pull/3086
- [x] https://github.com/openshift/origin/pull/5300
- [x] https://github.com/openshift/origin/pull/5306
- [ ] ...and then wrap it in oc.

UPSTREAM PRS:
https://github.com/kubernetes/kubernetes/pull/16160 (Windows fixes)
https://github.com/kuber

[2015-10-22 11:17] mfojtik commented on #4966
@bparees @michelvocks is this still an issue? I tried to reproduce this on latest master today and still no luck :/

[2015-10-22 11:18] mfojtik commented on #4442
@deads2k this flake was fixed, ok to close this issue>?

[2015-10-22 11:31] soltysh opened #5324 "newapp.go flake"
I've noticed this failure earlier today in #5321, I'm pasting here only the necessary bit, all the rest is [here](https://travis-ci.org/openshift/origin/jobs/86793573):

[code]

@csrwng fyi

[2015-10-22 11:32] sg00dwin commented on #5266
animated ellipsis
http://codepen.io/sg00dwin/full/yYpWYp/

On Wed, Oct 21, 2015 at 9:52 AM, Ben Petersen <notifications@github.com>
wrote:

[2015-10-22 11:37] soltysh commented on #341
@bparees I see both of the aforementioned PRs are in, so I assume we're ok with closing this issue?

[2015-10-22 11:40] #4442 closed

[2015-10-22 11:46] deads2k commented on #5311
That approach requires that we make all of them work all at once.  I don't disagree that they *should* all work, but the reality of the situation is that they don't, we haven't devoted the effort to do it initially and maintain it through rebases, and because we're requiring it we've lost the utility of the tests we do have.

It's that loss of utility because of the demand for perfection that both

[2015-10-22 11:54] soltysh commented on #3484
should be handled with `reference` introduced in #4853, which when set to `true` will consider a tag as a reference and will not import its metadata. The 2nd is still valid, though.

[2015-10-22 11:54] mrosic opened #5325 ""oc get po" should use "oc get po -o wide" by default in order to show the host node of the pod"
"oc get po" shows 5 columns at the moment:
NAME                      READY     STATUS    RESTARTS   AGE

"oc get po -o wide" shows 6 columns: The additional column shows the host node of the pod.
NAME                      READY     STATUS    RESTARTS   AGE       NODE

I find the 6th column very useful. It would be nice if "oc get po" would by default show all 6 columns without me having to add "-o

[2015-10-22 11:59] deads2k commented on #5325
I'm not sure I follow your workflow.  Why is it usually useful to know the node that a pod is running on?  I would expect the desire to be in the other direction: "what's running on this node?" or perhaps the question, "is this service spread across multiple nodes?".

I think that most end-users wouldn't be attached to particular nodes.

[2015-10-22 12:16] spadgett commented on #5269
@jwforres @benjaminapetersen We might want to hide the logs tab when a pod is pending as well since there won't be a log yet.

<img width="506" alt="openshift_web_console" src="https://cloud.githubusercontent.com/assets/1167259/10664903/214388aa-7895-11e5-8909-8af8682c1b26.png">

[2015-10-22 12:17] jwforres commented on #5269
stef did this for the terminal tab already, can probably reuse his helper
method

On Thu, Oct 22, 2015 at 8:16 AM, Sam Padgett <notifications@github.com>
wrote:

[2015-10-22 12:22] deads2k commented on #5287
One thing to consider when deciding whether to switch to patch over replace: "is my change predicated on anything in the current state of the resource?".  Non-conflicting patches are applied unconditionally against `resourceVersion` of the object.  If your changes is predicated on anything in the current state, either continue to use update or fix patch to handle preconditions.

[2015-10-22 12:26] aweiteka opened #5327 "Deploy config pulling from library/<image> not imagestream"
Using this template[1], deploy config from `image: helloapache` with a trigger from ImageStreamTag `helloapache:latest`[2]. Imagestream helloapache[3] has latest tag. When build completes and pushes image it does not trigger a deployment (unexpected). When deployment is started manually it fails trying to pull from docker hub `library/helloapache:latest` (also unexpected). Curiously, this template

[2015-10-22 12:29] mrosic commented on #5325
It is useful for troubleshooting.

Say you are new to OpenShift and you created a router for the first time without a Virtual IP or any other fancy stuff. In that case it is vital to know on which node your router pod is running because without a Virtual IP your DNS entry is always resolving to a single node.

[2015-10-22 12:30] jimmidyson commented on #5154
With latest master I also get repeated:

[code]

[2015-10-22 12:31] jimmidyson commented on #5154
Here's my beautiful logs: https://gist.github.com/jimmidyson/5857bdfe1b5d4274bdb5

[2015-10-22 12:44] deads2k commented on #5325
So is your desire to know, "how can I access this pod?" without having a service, but using a `hostPort` on a container?  If so, would `oc status` be a good fit?  It would be able to introspect pods looking for pods using `hostPorts` and give you IP and port for them.

[2015-10-22 12:47] deads2k commented on #5186
Given the current builder, its knowledge of which build it is, the SA credentials it has, and cluster DNS, it possible to write a hook here: https://github.com/openshift/origin/blob/master/pkg/build/builder/docker.go#L93 that updates the `build/status` to indicate steps.  The policy rule wouldn't be hard.

[2015-10-22 12:47] deads2k commented on #5186
Not that this is a feature I considered while trying to figure out what was happening last Sunday....

[2015-10-22 12:48] pweil- commented on #5317
Unless you specifically ask for something you will run as the most restrictive context available to you.  In this case the admin has access to both the restricted and privileged scc.  You should be able to set the RunAsUser to anything you want though.

[2015-10-22 12:50] Mangirdaz opened #5328 "Internal registry push loading bar"
I want to see pushing to internal registry with loading bar:

-bash-4.2$ oc logs -f apaas-1-2708674907-build
Internal Error: pod is not in 'Running', 'Succeeded' or 'Failed' state - State: "Pending"
-bash-4.2$ oc logs -f apaas-1-2708674907-build
Already on 'master'
W1022 08:40:30.217551       1 docker.go:304] The 'io.s2i.scripts-url' label is deprecated. Use "io.openshift.s2i.scripts-url" instead.

[2015-10-22 13:04] #5302 closed

[2015-10-22 13:10] csrwng commented on #5324
@soltysh yup, we have an issue open to remove external access from new-app unit tests -> https://github.com/openshift/origin/issues/4713

[2015-10-22 13:18] soltysh commented on #5324
Yeah, I've seen that, is that related with that? If so I can close it.

[2015-10-22 13:19] csrwng commented on #5324
Yes, it looks like the unit test simply timed out after waiting for network access.

[2015-10-22 13:20] soltysh commented on #5324
Fair deal.

[2015-10-22 13:20] #5324 closed

[2015-10-22 13:40] kargakis commented on #5070
We need this for `DeploymentLogOptions` too

@deads2k this is the issue that needs to be fixed for your bugs in bugzilla

[2015-10-22 13:44] kargakis commented on #5070
oc logs pod --timestamps --tail 2 works fine

[2015-10-22 14:04] kargakis commented on #5070
Actually it works fine with https://github.com/openshift/origin/pull/5233. Not sure about master

[2015-10-22 14:05] sg00dwin opened #5329 "Hover help text on create page is clipped at the bottom"
<img width="513" alt="hover-clip" src="https://cloud.githubusercontent.com/assets/1874151/10667271/7b5a58e6-78a4-11e5-889f-e45327293e54.png">

[2015-10-22 14:31] Mangirdaz commented on #4518
Any updates on this?

[2015-10-22 14:38] stevekuznetsov opened #5332 "All CLI operations that touch etcd should use cmdutil.PrintSuccess"
We need to unify the behavior of our commands, specifically:
- `openshift admin new-project`
- `openshift admin groups new`
- `openshift cli new-project`
- `openshift cli start-build`
- `openshift cli secrets new`
- `openshift cli secrets new-dockercfg`
- `openshift cli secrets new-basicauth`
- `openshift cli secrets new-sshauth`

Currently they all decide how to indicate success to the command li

[2015-10-22 14:42] deads2k commented on #5332
As long as piping ability is maintained, then I'm fine with this.

[2015-10-22 14:51] mrosic commented on #5325
No. In the example I gave it is important to know on which node your router is running because if's not running on the right node (that is the one your DNS entry is resolving to) your routes aren't going to work and you won't be able to access your applications via your web browser.

But that was just an example of the problems I faced while I was learning how to use OpenShift.

It's a minor chang

[2015-10-22 14:54] jwforres commented on #2964
Closing since we are tracking this in bugzilla too

[2015-10-22 14:54] #2964 closed

[2015-10-22 15:24] bparees commented on #4950
@rhcarvalho given your new implementation of get builds i don't think we need to do anything here, reopen if you disagree.

[2015-10-22 15:24] #4950 closed

[2015-10-22 16:20] kargakis commented on #5154
@jimmidyson can you help me reproduce this? It would be helpful to have at least all the services you have in your etcd.

[2015-10-22 16:23] jimmidyson commented on #5154
Forget the one i reported earlier today - that seemed to be something transient when I upgraded to master. Solved by deleting the `kubernetes` & `kubernetes-ro` services & letting them be automatically recreated.

Do you get the skydns log message at all?

[2015-10-22 16:30] kargakis commented on #5154
No. Running on a fresh etcd and just following the sample app flow I don't see anything from the dns server.

[2015-10-22 16:52] smarterclayton commented on #5107
kubernetes/kubernetes#16068 yes
kubernetes/kubernetes#14161 maybe
kubernetes/kubernetes#15682 already have cherrypicked

[2015-10-22 16:58] ncdc commented on #5107
15739, the autoscale command, is useful, but someone would probably need to write an `oc` wrapper for it, and QE may/may not be able to test it. I'll defer to @devop-mmcgrath @danmcp @smarterclayton on this one.

[2015-10-22 16:59] smarterclayton commented on #5107
kubernetes/kubernetes#15651 nice to have
kubernetes/kubernetes#15597 nice to have

[2015-10-22 17:00] csrwng opened #5335 "oc in windows: openshift config is written to current directory instead of user's home directory"
When you do 'oc login' in windows, the config is written to the current directory. If you change to a different directory, you are not logged in anymore.

[2015-10-22 17:00] csrwng commented on #5335
@fabianofranz @jwforres

[2015-10-22 17:06] csrwng opened #5336 "oc in windows: cli help wraps awkwardly in default windows console"
Although you can change the layout of a windows console, the default is 80 chars wide. With this default, the help and examples for most oc cli commands wrap awkwardly (here's part of oc --help):

[code]

[2015-10-22 17:09] csrwng commented on #5336
@fabianofranz @jwforres

[2015-10-22 17:10] liggitt commented on #5266
does it work in IE? ;-)

[2015-10-22 17:12] smarterclayton commented on #5332
new-app and new-build should be updated to follow the upstream pattern, but
we still need to add -o name

On Thu, Oct 22, 2015 at 10:42 AM, David Eads <notifications@github.com>
wrote:

[2015-10-22 17:22] fabianofranz commented on #5336
@liggitt please tag and assign to me.

[2015-10-22 17:24] fabianofranz commented on #5335
@csrwng can you specify the Windows version and other info, like if you have Cygwin installed and which terminal app? I haven't seen this before.

[2015-10-22 17:25] fabianofranz commented on #5335
@liggitt please tag and assign to me.

[2015-10-22 17:32] liggitt commented on #5335
is the HOME env empty?

[2015-10-22 17:45] stevekuznetsov commented on #5332
`new-app` and `new-build` conform to the pattern [here](https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/newapp.go#L348)

[2015-10-22 17:46] bparees commented on #341
yeah, @pmorie we will now abandon a build after the ActiveDeadlineSeconds value expires, if you set one (default is forever).

and oc get build will show you more information about what the build is trying to do.

[2015-10-22 17:46] #341 closed

[2015-10-22 17:46] csrwng commented on #5335
version is Windows Server 2012 R2
and actually looking at the environment, HOME is defined but set to '/c' ? I wonder if that was re-defined by installing git (which I assume most of our users would do). I'll try with a brand new windows box and see if that's the case.

[code]

[2015-10-22 17:48] csrwng commented on #5335
I didn't explicitly install cygwin, but I imagine that at least the env vars may have been implicitly setup by the git installer.

[2015-10-22 17:54] ncdc commented on #5313
P1? Really?

[2015-10-22 17:54] fabianofranz commented on #5335
@csrwng If you find that it's Git, please specify which Git client and version. We usually recommend https://git-for-windows.github.io/, but overriding HOME would be new to me.

[2015-10-22 17:59] ncdc commented on #5313
@smarterclayton what do you mean by "typed on watch"? And what do you consider proper handling of this?

[2015-10-22 18:07] sdodson commented on #5290
If we're going with the suggestion in the description this is a hack/build-go.sh and golang fix un-related to the installer. I think this should be assigned to the UI/CLI team.

[2015-10-22 18:13] smarterclayton commented on #5313
This is a known type of error that means "start listing".  We shouldn't
call handleError on it, we should just stop the list and start again.

On Thu, Oct 22, 2015 at 1:59 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-22 18:34] csrwng commented on #5335
interesting, in a brand new windows box, I do get the same behavior, but I don't have a HOME variable. I do see a HOMEDRIVE and HOMEPATH variable though.
[code]

[2015-10-22 18:36] csrwng commented on #5335
At least in this library https://github.com/mitchellh/go-homedir for windows, either the USERPROFILE or HOMEDRIVE and HOMEPATH variables are used.

[2015-10-22 18:48] ncdc commented on #5313
Unfortunately by the time the error bubbles up to the reflector, it's no longer strongly-typed. Instead, we get this:

[code]

We could grep `Message` for this specific error text, which is obviously brittle.

Backwards compatibility issues aside, I don't think we can modify the info that is placed in the Object, because that has to be serializable to JSON, and afaik `error` types themselves are n

[2015-10-22 19:08] kargakis commented on #5323
@smarterclayton @fabianofranz do you guys have any Kube PRs for your fixes?

[2015-10-22 19:09] ncdc commented on #4676
This was fixed by #5127

[2015-10-22 19:09] #4676 closed

[2015-10-22 19:27] smarterclayton commented on #5313
The error needs to be typed in etcd storage, then up to the rest api (in
the watch response), and all the way back.  Let's come back to this after
1.1.

On Thu, Oct 22, 2015 at 2:48 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-22 19:27] mwringe opened #5342 "Cannot create router"
Using origin master, it looks like I am no longer able to create routers.

The logs from the router pod:

  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "User \"system:anonymous\" cannot get replicationControllers at the cluster scope",
  "reason": "Forbidden",
  "details": {
    "name": "myrouter-1",
    "kind": "replicationControllers"
  },
  "cod

[2015-10-22 19:28] ncdc commented on #5313
It is typed in etcd storage. Kube ends up swallowing it.

[2015-10-22 19:28] ncdc commented on #5313
Ok, I'm lowering this to P2.

[2015-10-22 19:29] liggitt commented on #5342
The deployment is actually failing. Were there earlier logs in the deployer pod about not being able to read an API token? @pmorie @ncdc any magic troubleshooting steps for secret mounting to try?

[2015-10-22 19:32] ncdc commented on #5342
I'd check the selinux labels of the deploy pod's volumes. @mwringe how did you start openshift - from source, docker image, ...?

[2015-10-22 19:33] liggitt commented on #5255
https://github.com/kubernetes/kubernetes/issues/16061

[2015-10-22 19:37] #4823 closed

[2015-10-22 19:42] mwringe commented on #5342
@liggitt what I posted at the top of my first message is the entirely of the logs.

@ncdc I built and started OpenShift from source (master, git commit 767dc7dc42663aaf1b9e7e90f8e7279ab7acbf8a). Its running locally, not from within a docker container.

[2015-10-22 19:43] liggitt commented on #5342
what version of the deployer image are you using?

[2015-10-22 19:44] liggitt commented on #5342
whoa, must be a really really old one, it is using `v1beta1`:
[code]

[2015-10-22 19:44] ncdc commented on #5342
whoa indeed. re-pull that image!

[2015-10-22 19:49] mwringe commented on #5342
Oops. yeah, its using openshift/origin-deployer:v0.3.2 from 8 months ago.

Should it not be pulling in a more recent version automatically? I wouldn't expect it force the user to manually pull in the docker image here. At least not with the default setup with no `images` specified when creating the router.

[2015-10-22 19:50] liggitt commented on #5342
yes, it should be using the latest tag (e.g. 1.0.6 currently)

[2015-10-22 19:51] ironcladlou commented on #5327
Can you run through this scenario again with an origin server using `--loglevel=4`? I'd also be interested in seeing the output of `oc get event` after the build is complete and while you're waiting on the deployment. That will help us understand why the trigger isn't doing what is expected.

I do have an explanation for the behavior you see when trying a manual deployment: notice that the contain

[2015-10-22 19:51] liggitt commented on #5342
unless you invoked it with a custom --images arg

[2015-10-22 19:55] bparees commented on #5328
You can enable build loglevel 5 if you want that output:
https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs

Level 5 	- Produces everything mentioned on previous levels and additionally provides docker push messages.

[2015-10-22 19:55] #5328 closed

[2015-10-22 20:01] fabianofranz commented on #5323
@kargakis I don't think any of the three have upstream PRs. But they are needed, otherwise there will be regressions.

[2015-10-22 20:08] mwringe commented on #5342
Ok, something weird is going on with my setup.

Even with `oadm router myrouter --credentials="$KUBECONFIG" --service-account=router --images="openshift/origin-deployer:v1.0.6"` it is still using v0.3.2

[2015-10-22 20:11] ncdc commented on #5342
The `--images` flag you pass to `oadm router` affects what router image is used, not what deployer image is used.

It's what you pass to `openshift` that controls what deployer image is used. Try passing `--latest-images` to `openshift start`.

[2015-10-22 20:12] ncdc commented on #5342
Or if you don't pass `--latest-images`, what @liggitt said is right - it should be picking up the latest versioned images (1.0.6). If it's not... that's odd.

[2015-10-22 20:12] ncdc commented on #5342
@mwringe did you generate master & node configs, by any chance?

[2015-10-22 20:13] liggitt commented on #5342
deployer pod is determined by how you start the openshift server... what invocation are you using there?

[2015-10-22 20:14] smarterclayton commented on #5308
Fixed in https://github.com/openshift/origin/pull/5298

[2015-10-22 20:14] #5308 closed

[2015-10-22 20:15] smarterclayton commented on #5325
Part of the reason it defaults to false is because of upstream Kube.  I agree it should be documented clearly in help even if we can't get upstream to change.

[2015-10-22 20:18] mwringe commented on #5342
@ncdc yes, I genered my own master & node configs

I am going to shut down this instance of OpenShift and do another checkout in a separate directory, build, start and try again. Maybe there is something wrong with my setup

[2015-10-22 20:18] liggitt commented on #5287
`env` I could see... for `edit`, I would want to know if I was stomping, I think

[2015-10-22 20:18] ncdc commented on #5342
@mwringe check your master config

[2015-10-22 20:19] liggitt commented on #5342
I'd expect to see this:
[code]

[2015-10-22 20:33] deads2k commented on #5287
Not if you're using `edit`.  It auto-generates the patch for you on conflicts, applies, and resends the `update`.

[2015-10-22 20:38] mwringe commented on #5342
From openshift.local.config/master/master-config.yaml

`imageConfig:
  format: openshift/origin-${component}:${version}
  latest: false`

Where exactly is the version set?

[2015-10-22 20:46] liggitt commented on #5342
calculated at build time from closest git tag, I think. The first segment of `openshift version` will tell you what it would use for the version, I think

[2015-10-22 20:49] benjaminapetersen commented on #5266
Is cool, definitely like that as an alternative!
Do we care about the amount of css? looks like 100+ lines?

[2015-10-22 20:53] benjaminapetersen commented on #5269
I tend to think that if logs will exist, even if its a few seconds into the future, we should show the tab, but hide the tab for something that would never have logs.

[2015-10-22 21:02] liggitt commented on #5269
agree... I'd want to be able to switch to the logs tab, and when the pod entered running state, it would keep trying to connect and show me the logs

[2015-10-22 21:03] mwringe commented on #5342
The issue is how you calculate the version. I will open another issue for that.

[2015-10-22 21:03] #5342 closed

[2015-10-22 21:04] liggitt commented on #5269
mixing test into the indicator at the bottom could also be where we show status of the log-following operation:
"Waiting for pod to start..."
"Waiting for logs..."
"Logs through 5:03pm..."
"Showing logs through 5:03pm. Connection interrupted, [reconnect](#)"

[2015-10-22 21:13] sdheisenberg commented on #5308
Hmm, I'm still getting this error after syncing with master and running a `make clean build`

[code]

**Startup sample output**
[code]

[2015-10-22 21:14] smarterclayton commented on #5107
kubernetes/kubernetes#15900 should have

[2015-10-22 21:17] a-s-o opened #5347 "Bad linux binaries for v1.0.6"
Hello,

The release page says that the linux binaries were not tested and it looks like they may be broken. Here is what I get after extraction:

![output](http://imgur.com/xoR3yPc.png)

As expected, only kubelet and oc work from the command line.

I am on Ubuntu 15.04 64-bit. Origin v 1.0.5 archive works fine on my system

[2015-10-22 21:22] smarterclayton commented on #5308
OpenShift nodes have to run on Linux.  You can't run `openshift start` on a Mac - you have to configure it separately.  Generally, running a container inside a VM is the way to go - however boot2docker doesn't support the necessary kernel features to run a Kubernetes VM.

[2015-10-22 21:28] mwringe opened #5350 "OpenShift calculates the wrong version"
OpenShift appears to calculate its version based on the git commit and comparing that to a tag. This assumes that the checkout you are using actually has those tags, which is not always the case.

It is easy to fork the repo and not always pull down all the tags from the original repository. This means that you can be running the latest OpenShift Origin code, while OpenShift origin thinks its actu

[2015-10-22 21:39] jwforres commented on #5269
We should update the terminal tab to match this behavior  then.
On Oct 22, 2015 5:02 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2015-10-22 21:39] smarterclayton commented on #5308
To run a *full* Kubernetes install.

[2015-10-22 21:49] liggitt commented on #5269
As long as we handle it well and make it clear to the user ("Waitong for the pod to start", etc)

[2015-10-22 23:17] #4991 closed

[2015-10-22 23:43] ntquyen commented on #4211
+1

[2015-10-23 00:01] Miciah commented on #5347
What tool did you use to extract the files? Most likely it does not support symlinks.  It works for me using `tar` from tar-1.26-29.el7.x86_64 on Red Hat Enterprise Linux 7:
[code]
The 64-bit Linux binaries are packaged the same way (with every executable but `kubelet` and `oc` being a symlink to one of those two) in the 1.0.6 release:
[code]
This is a change from the 1.0.5 release:
[code]

[2015-10-23 00:16] a-s-o commented on #5347
Oh, I see. I used a node.js [script](github.com/kevva/download) which uses [node-tar](github.com/isaacs/node-tar) internally and I also tried extracting with the ubuntu archive manager. You are right it is an issue with those tools; using `tar` from the command line worked fine.

So, the new binaries are overloaded based on which command name is used to call them but internally they are just those

[2015-10-23 00:16] #5347 closed

[2015-10-23 00:55] #5190 closed

[2015-10-23 01:41] stevekuznetsov commented on #5255
Moved upstream, closing this.

[2015-10-23 02:17] sg00dwin commented on #5266
Tested and it works on IE 10,11 and latest ios and android devices.

Yes it's around 100 lines when including cross browser prefixes for animation and keyframes.

[2015-10-23 02:38] #5243 closed

[2015-10-23 03:00] bparees opened #5352 "myql replica extended test is failing"
STEP: Destroying namespace "extended-test-mysql-replication-1-t5eev" for this suite.
• Failure [200.941 seconds]
images: mysql: replication [It] MySQL replication template https://raw.githubusercontent.com/openshift/mysql/master/5.5/examples/replica/mysql_replica.json
/home/bparees/git/gocode/src/github.com/openshift/origin/_output/local/go/src/github.com/openshift/origin/test/extended/images/mysq

[2015-10-23 03:11] bparees opened #5353 "kube e2e resize_nodes extended test panic"
[code]

[2015-10-23 03:37] #5232 closed

[2015-10-23 03:40] liggitt commented on #5255
It's ok to keep a tracker open here, especially if it impacts us

[2015-10-23 08:54] lorenzvth7 opened #5354 "OpenShift Origin V3 - 404 error when curling to influxdb service‏"
I've installed and configured a OpenShift-Origin cluster on Centos7 using Docker and Kubernetes.

I'm enabling clustermetrics and followed the steps in the official tutorial: https://docs.openshift.org/latest/admin_guide/cluster_metrics.html
It all went fine and the pods are running.

[code]
[code]
[code]

I'm not very familiar with influxerdb.
I've created a route to the services. And it's possib

[2015-10-23 10:14] mfojtik opened #5355 "OpenShift eating my CPU"
When I run the latest OSE image in Docker container, everything works normally but after some time and after I start some builds and deploy stuff the "openshift" process start eating >100% CPU and it keeps doing that until I stop the container. This sometimes takes couple minutes to happen, sometimes it happens in few seconds...

Here is heap dump: http://omicron.mifo.sk/heap.txt
Here is goroutine

[2015-10-23 10:19] hferentschik commented on #5355
+1 I have been experiencing the same. The only way to move on was to restart the container

[2015-10-23 10:49] kargakis commented on #5070
@deads2k if we embed PodLogOptions, is there any problem?

[2015-10-23 11:10] mfojtik commented on #5355
@sdodson FYI

[2015-10-23 11:16] kargakis commented on #5070
Hmmm, I think we are going to break `start-build -f` on older clients if we do this...

[2015-10-23 11:24] liggitt commented on #5355
Are you running the all in one, or can you tell whether it is the master or node process that is eating CPU?

[2015-10-23 11:24] mfojtik commented on #5355
@liggitt all-in-one

[2015-10-23 11:36] deads2k commented on #5070
I don't think so if the deserialization can still interpret the old fields.  I think that
[code]

Old clients will still put `follow` in the correct location in query params.

[2015-10-23 11:51] kargakis commented on #5070
Actually you are right, inlining PodLogOptions will preserve follow

[2015-10-23 12:45] rhcarvalho commented on #4950
I agree.
On Oct 22, 2015 5:24 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-10-23 13:51] #5315 closed

[2015-10-23 15:24] smarterclayton commented on #5355
Please capture a CPU dump

On Fri, Oct 23, 2015 at 7:24 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-10-23 15:25] benjaminapetersen commented on #5266
Nice!

[2015-10-23 15:26] smarterclayton commented on #5353
Did you have my improve_e2e branch when you hit this?

[2015-10-23 15:28] smarterclayton opened #5360 "Redundant redundancy is redundant in oc status and builds"
Run `oc new-build openshift/nodejs-010-centos7~https://github.com/openshift/nodejs-ex.git`

See

[code]

[2015-10-23 15:29] smarterclayton commented on #5360
This should be a quick fix

[2015-10-23 15:56] soltysh commented on #5107
Will start picking up job related PRs, once we have job working.

[2015-10-23 15:58] danwinship opened #5363 "openshift/hello-openshift:latest does not work on older systems"
On some platforms (eg, Fedora 21), the openshift/hello-openshift:latest image does not run:

    no such file or directory
    Error response from daemon: Cannot start container d830a0c9ac13e57e3765d8b3ab4089bad9137e00c7a98eec1457073c5cc057d8: [8] System error: no such file or directory

The journal doesn't tell much, even with "-D":

    docker[27514]: level=info msg="POST /v1.20/containers/5c6b8

[2015-10-23 16:03] kargakis commented on #5323
Upstream PR: https://github.com/kubernetes/kubernetes/pull/16160

[2015-10-23 17:01] bparees commented on #5353
hm, apparently my github comment got lost in which i linked it, but this was hit by the jenkins extended test job last night, so i'm going to say "yes"

[2015-10-23 17:03] smarterclayton commented on #5353
I don't know when it merged, but this is fixed in our codebase.  Will keep an eye out today.

[2015-10-23 17:05] bparees commented on #5352
status update from martin:

[2015-10-23 17:20] benjaminapetersen commented on #5269
Yeah I like that, more user friendly status messages.

[2015-10-23 18:03] smugcloud opened #5366 "Running from Docker Container Fails"
I'm trying to get Origin up and running on an AWS Linux AMI and am getting some strange errors when I attempt to start the container from [these instructions] (https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container).  Here is my start command, and the meat of the log output (the last `SyncLoop` section keeps looping)

**Start command**
`sudo docker run

[2015-10-23 18:58] bparees commented on #5352
closing for now as it hasn't recurred in the most recent runs.

[2015-10-23 19:15] ncdc commented on #5363
Did we revert to not building it statically again? See #2579

[2015-10-23 19:28] spadgett opened #5370 "Log layout problems in IE"
There is a newline after every line number

![ie10_-_win7__running_](https://cloud.githubusercontent.com/assets/1167259/10702938/a1af437a-799a-11e5-8166-bcbab5887bd9.png)

/cc @jwforres @benjaminapetersen @sg00dwin

[2015-10-23 19:56] rettori opened #5373 "weird forbidden message when trying to access logs."
clicked view log, got error 403 message.
<img width="944" alt="1" src="https://cloud.githubusercontent.com/assets/2352755/10703510/93d89df6-799e-11e5-96be-d26d977dd70c.png">
<img width="913" alt="2" src="https://cloud.githubusercontent.com/assets/2352755/10703513/9591d50e-799e-11e5-91a3-bb87fbecb539.png">
changed url to include /console in the beginning and it worked.
<img width="690" alt="3" src=

[2015-10-23 20:01] jwforres commented on #5370
assigning to @benjaminapetersen for the moment, if we think its a CSS issue I an re-assign to @sg00dwin if needed

[2015-10-23 20:17] spadgett opened #5374 "You can submit new project form twice if you're fast enough"
We don't disable the create button on the new project form immediately since we navigate away from the page, but you can submit the form twice if you click quickly.

/cc @jwforres

[2015-10-23 20:22] jwforres commented on #5374
@spadgett assigning you for now but i'll add it to my mental list for ones I can potentially take from you

[2015-10-23 20:29] sg00dwin opened #5375 "The log-scroll-top link switches to the affix position to early in the scroll"
Link jumps to it's position:fixed outside of the log-viewer.

<img width="491" alt="affix-top-position" src="https://cloud.githubusercontent.com/assets/1874151/10704203/3aaf9220-79a3-11e5-99ae-b7924506d5bd.png">

[2015-10-23 20:50] #5316 closed

[2015-10-23 20:54] spadgett commented on #5370
I think this might be IE 10 only. I just tried on IE 11, and it looked OK.

[2015-10-23 20:56] sg00dwin commented on #5266
@benjaminapetersen I'm updating the _log-formatted.html while adding in the ellipsis loader.

[2015-10-23 21:00] csrwng opened #5377 "Exec will hang in windows when streaming in 2MB or larger files into stdin"
This is happening only on streaming input. Output has no such issue. And of course, only on Windows.
Here's output of the exec command with DEBUG=1 (on windows and linux):
https://gist.github.com/csrwng/79a1b9a7af384130147e

[2015-10-23 21:03] csrwng commented on #5377
@ncdc this is to track the issue I talked to you earlier about. As I discover things, I will update the issue.

[2015-10-23 22:34] #5279 closed

[2015-10-23 22:41] pdaniel-frk commented on #5202
can i pass this parameters to docker? Or do i need to change something in the config files of openshift?

[2015-10-23 23:44] smarterclayton commented on #5107
@ncdc we need to cherrypick the port forward e2e flake fix (if it exists)

[2015-10-23 23:46] ncdc commented on #5107
What flake is that?

On Friday, October 23, 2015, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-24 02:25] spadgett commented on #5373
Same as #5264

[2015-10-24 02:31] #5373 closed

[2015-10-24 15:15] Mangirdaz commented on #5328
Thanks, my bad :)

[2015-10-24 17:17] bparees opened #5382 "extended k8s failure: port forward"
[code]

from jenkins: https://ci.openshift.redhat.com/jenkins/job/origin_extended/196/consoleFull

@smarterclayton @deads2k

[2015-10-24 18:18] zenorocha commented on #5115
+1 for clipboard.js ;)

[2015-10-24 18:19] kargakis commented on #5115
yes, please

[2015-10-24 18:40] smarterclayton commented on #5382
@ncdc this is the flake I mentioned

On Oct 24, 2015, at 1:17 PM, Ben Parees <notifications@github.com> wrote:

STEP: Destroying namespace "e2e-tests-port-forwarding-l3f9k" for this suite.
• Failure [11.305 seconds]
Port forwarding With a server that expects no client request [It]
should support a client that connects, sends no data, and disconnects
[Conformance]
/data/src/github.com/openshift/ori

[2015-10-24 18:58] johnjelinek opened #5383 "Build error: Failed to push image: unable to ping registry endpoint"
I spun up openshift with the docker image following the `Getting Started` instructions. I am not able to push the node-ex example to the docker registry. I added the options to allow insecure-registry in the docker daemon.

Running:
[code]

[code]

[code]

[2015-10-24 19:27] kargakis commented on #5070
@deads2k this needs to be reprioritized

[2015-10-24 19:31] kargakis commented on #5323
Upstream PR has lgtm and is going to be merged soon. I would suggest lowering this to P3 and letting it be picked up by the next rebase, otherwise we would have to carry a bunch of patches for no significant gain. @danmcp

[2015-10-24 19:47] smarterclayton commented on #5220
Fixed with https://github.com/kubernetes/kubernetes/pull/16241

[2015-10-24 19:47] #5220 closed

[2015-10-24 19:47] kargakis commented on #4201
@smarterclayton does it make sense  for `kubectl logs rc/` to support this?

[2015-10-24 21:00] jimmidyson commented on #5154
Same log previously reported in https://github.com/openshift/origin/issues/2482#issuecomment-106418014. @ncdc - Do you still get that log message?

[2015-10-24 23:29] bparees commented on #5352
this is still flaking even after i increased the timeout:
https://ci.openshift.redhat.com/jenkins/job/origin_extended/198/consoleFull

[2015-10-24 23:39] bparees commented on #5353
will close since i haven't seen it in the last few runs and you think it's fixed.

[2015-10-24 23:39] #5353 closed

[2015-10-25 14:04] spadgett opened #5387 "Occasionally the pods donut chart is not filled in"
See screenshot.

<img width="598" alt="screen shot 2015-10-25 at 9 59 07 am" src="https://cloud.githubusercontent.com/assets/1167259/10715987/5c6de3b4-7aff-11e5-8327-44c144a8d53f.png">

I've caught it in my development environment, and the following `$watch` callback is not called.

[code]

/cc @jwforres

[2015-10-25 14:13] spadgett commented on #5387
I'm not sure why the listener is not called given this statement in the docs.

[2015-10-25 20:45] smarterclayton commented on #5366
You're missing some mount instructions - you need to use the full command.

[2015-10-25 22:28] smarterclayton commented on #5382
Disabled it for now.

[2015-10-25 22:28] smarterclayton commented on #5352
Still failing - we had one (1!!!!) successful build.

[2015-10-25 22:29] smarterclayton commented on #4731
I think this is fixed.

[2015-10-25 22:30] smarterclayton commented on #5000
Fixed in #5371

[2015-10-25 22:30] #5000 closed

[2015-10-25 22:32] smarterclayton commented on #5311
Got one green https://ci.openshift.redhat.com/jenkins/job/origin_extended/200/

Next steps:

* Switch to the junit output and ensure that's recorded by origin_extended (so we can quickly identify failing tests)
* Parallelize
* Uncomment other tests once we know they are working (we need to fix the default image User ID problem for privileged accounts).

@bparees @mfojtik

[2015-10-26 00:10] bparees commented on #5311
Deflake several tests that are still being run.

Ben Parees | OpenShift
On Oct 25, 2015 18:32, "Clayton Coleman" <notifications@github.com> wrote:

[2015-10-26 00:28] smarterclayton commented on #4201
At some point we're going to have to deal with multiple pods.  However, if we implement that now, it means we can't handle it later.

[2015-10-26 00:30] smarterclayton opened #5389 "Flake in framework controller test"
[code]

[2015-10-26 00:35] smarterclayton commented on #5383
How many nodes do you have?  In #3841 some of the nodes did not have --insecure-registry

[2015-10-26 01:31] smarterclayton opened #5390 "Error importing dockerImageRepository blocks tags being processed"
The failure to find the `dockerImageRepository` prevents the `installable` tag from being imported.  The importer should continue and import `installable` if the DIR fails.

[code]

[2015-10-26 01:43] smarterclayton commented on #5390
If you can verify this is fixed after your change merges (and in your branch)

[2015-10-26 01:48] smarterclayton opened #5391 "ImageStreamTag possibly should not return 404 when a status exists and the image does not"
An image stream that has only referential (but no import) tags currently returns 404 when you try to look up the tag

[code]

[code]

I'm not sure it's correct to return a 404 for a tag that clearly exists.  We don't have a way to indicate the image has no metadata today, but we probably should.

[2015-10-26 01:49] smarterclayton commented on #5391
@miminar @ncdc @pweil-

[2015-10-26 01:51] smarterclayton opened #5392 "ImageStreamTags should allow edits to annotations"
[code]

Should allow me to set annotations.  We need to enable edit on ISTag that only mutates known fields (probably annotations, maybe one or two others).

[2015-10-26 01:54] #615 closed

[2015-10-26 01:54] johnjelinek commented on #5383
Just one node. I am running openshift via the all-in-one docker image.

—
Sent from Mailbox

On Sun, Oct 25, 2015 at 7:35 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-26 01:57] #2628 closed

[2015-10-26 02:00] smarterclayton commented on #5192
This is prereq'd by custom schedulers and is not a near term item.

[2015-10-26 02:01] smarterclayton commented on #5202
You would just add these to the end of the docker command you pasted above.

[2015-10-26 02:02] smarterclayton commented on #5226
The installer will automatically create these image streams for you.  We don't create them by default because some administrators may choose not to expose them to end users, or have their own.

[2015-10-26 02:04] smarterclayton commented on #5228
Image pruner was originally created to solve just image pruning.  For the other types, you would need to be able to read and delete all builds and RCs, and read all build configs and deployment configs.

@deads2k we should create a role for pruning that has the right permissions.

[2015-10-26 02:05] smarterclayton commented on #5219
Fixed.

[2015-10-26 02:05] #5219 closed

[2015-10-26 02:06] smarterclayton commented on #5191
Both of those should happen.  Events + a summary status on the DC.

[2015-10-26 02:07] smarterclayton commented on #5318
It's possible that this is a result of a stale read on etcd - I added extra prereq checking and I still saw it, which makes me suspect that the earlier reads are not visible in the later reads.

[2015-10-26 02:09] smarterclayton commented on #5327
This is may be a bug in new-app (library being added to an image stream). I've squashed a few of them, but there's tricky handling in a few places that makes it hard to pin down all of them. @csrwng

[2015-10-26 11:59] deads2k commented on #5228
See https://github.com/openshift/origin/blob/master/pkg/cmd/server/bootstrappolicy/policy.go#L208-L224, `system:image-pruner`

[2015-10-26 12:48] pweil- commented on #5391
@soltysh

[2015-10-26 12:54] deads2k commented on #4201
`kubectl logs rc/foo` is unambiguous if there is only one pod owned by the RC.  That is commonly the case in development.  I'd like to special case the "rc has one pod" case and error in the other cases.  That would keep the door open for interleaving multiple logs (which is crazy btw).

[2015-10-26 13:16] deads2k commented on #5392
So to clarify, you want to be able to patch image stream tags that you can't create or update today that live as virtual objects underneath an imagestream with annotations stored as a separate map of maps in the is.spec?

[2015-10-26 13:20] deads2k commented on #5392
Actual the above was wrong, that would modify the annotations on the contained image, not the IST itself.  We'd have to create a parallel map of maps.

Also, why do we stomp existing annotations in the image when returning the value through an IST?

[2015-10-26 13:55] smarterclayton commented on #5392
I want edit istag to modify the annotations on the image stream tag
(because you can edit a stream), and they should overlay (not remove)
annotations coming from the underlying image.  The point of the annotation
on the ISTag is to override image annotations because they are shared.

On Mon, Oct 26, 2015 at 9:20 AM, David Eads <notifications@github.com>
wrote:

[2015-10-26 13:58] liggitt commented on #5228
That's image pruning... I think was requesting roles for build and deployment pruning

[2015-10-26 14:03] miminar commented on #5391
For image pruning, we are going to extend `imageapi.Image` for `Finalizers` and `Status` saying whether an image is about to be deleted. We could extend the `Status` to indicate that metadata are being imported (e.g. `Status == Importing`). Although it's a redundant information because such an image will have `Name` and `DockerImageMetadata` empty.

[2015-10-26 14:03] deads2k commented on #5392
The istag doesn't have any annotations at all: https://github.com/openshift/origin/blob/master/pkg/image/registry/imagestreamtag/rest.go#L91-L97 .  The is's tags are used to modify the image's tags: https://github.com/openshift/origin/blob/master/pkg/image/registry/imagestreamtag/rest.go#L76-L83.

Do you want to modify the image tags, do we want to introduce a new field to track annotations for an

[2015-10-26 14:34] pweil- opened #5399 "Unable to create recycler pod"
From @ebalsumgo:

i seem to be getting: Message: %!d(string=Recycling error: Unexpected error creating a pod to scrub volume :  Pod "pv-scrubber-hostpath-" is forbidden: unable to validate against any security context constraint: [provider restricted: .spec.containers[0].securityContext.VolumeMounts: invalid value 'vol', Details: Host Volumes are not allowed to be used])

i am on ose 3.0.2 and cla

[2015-10-26 14:38] ebalsumgo commented on #5399
I was trying to deploy the built in jenkins-persistent template btw.

[2015-10-26 14:42] ncdc commented on #5392
I would recommend having it modify `stream.spec.tags[tag].annotations`

[2015-10-26 15:03] ncdc commented on #5382
This is failing because the restricted SCC doesn't allow containers to bind to low ports, and the portforwardtester image wants to bind to 80.

[2015-10-26 15:05] benjaminapetersen commented on #5266
@sg00dwin, sounds good!

[2015-10-26 15:07] pweil- commented on #5382
This is something we ran into with the router as well.  If the pod is validating under the restricted SCC and running as non-root the executable must be granted `cap_net_bind_service` in order to bind to the low ports in the container.

We discussed a proposal to add namespace hinting about SCCs to influence the sort order of which SCC will be tried first.  This sounds like a test candidate assumi

[2015-10-26 15:09] liggitt commented on #5382
we should probably update the SCCs for the kube extended tests. we could delete the `restricted` SCC and add system:authenticated to the privileged one to mimic the kube environment

[2015-10-26 15:13] deads2k commented on #5392
so an istag would start to get annotations filled in there?  Right now, an istag has no annotations

[2015-10-26 15:14] ncdc commented on #5392
You mean this? https://github.com/openshift/origin/blob/master/pkg/image/registry/imagestreamtag/rest.go#L74-L84

[2015-10-26 15:15] ncdc commented on #5392
Which does what Clayton said he wanted:

(because you can edit a stream), and they should overlay (not remove)
annotations coming from the underlying image.

[2015-10-26 15:18] deads2k commented on #5392
It doesn't.  That only adds them to the `image` contained inside the `istag`.  It updates `.image.metadata.annotations`, not `.metadata.annotations`.

[2015-10-26 15:19] ncdc commented on #5392
I'm pretty sure this is what @smarterclayton is asking for

[2015-10-26 15:19] maxandersen commented on #5355
@smarterclayton sorry for my ignorance but what kind of CPU dump would like to have ? is a plain top dump enough ?

[2015-10-26 15:22] deads2k commented on #5392
That would mean the `oc annotate` would be modifying a different field for `istags`.  It would mean that instead of annotate modifying annotations, it would be modifying a field that looks like annotation, but is in a different spot.  That wouldn't be what I would expect as a user.

`oc annotate` should modify the object such that `.metadata.annotations` gets changed.

[2015-10-26 15:23] smarterclayton commented on #5355
Michal's on vacation unfortunately so I was mostly asking him - basically a
CPU profile from OpenShift when at 100% CPU so we can see what's hot.  I
don't think this is something you have to gather, whomever ends up owning
this will need to recreate and verify.

On Mon, Oct 26, 2015 at 11:19 AM, Max Rydahl Andersen <
notifications@github.com> wrote:

[2015-10-26 15:23] maxandersen commented on #5355
okey.

[2015-10-26 15:23] smarterclayton commented on #5392
oc annotate should be modifying .metadata.annatotions.  For an istag, that
is a composite field that is stream tag annotations + image annotations.
On an edit, those should be set on the istag.

On Mon, Oct 26, 2015 at 11:22 AM, David Eads <notifications@github.com>
wrote:

[2015-10-26 15:24] smarterclayton commented on #5382
All Kube extended tests are running under privileged SCC already, so no,
it's not :)

On Mon, Oct 26, 2015 at 11:09 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-26 15:24] smarterclayton commented on #5382
Unless you mean the pod service account.

On Mon, Oct 26, 2015 at 11:24 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-26 15:24] ncdc commented on #5392
The problem is that (as you already pointed out) `ImageStreamTag` is a virtual resource. There isn't anything to modify other than stream spec tag annotations or image annotations.

[2015-10-26 15:25] ncdc commented on #5382
Something is denying the container from binding to port 80...

[2015-10-26 15:25] smarterclayton commented on #5382
If the pod itself needs to be uid 0 this is the bug I opened against Paul
where we are "defaulting" the uid range, not allowing the image default to
work  https://github.com/openshift/origin/issues/5317 covers this and is p1.

On Mon, Oct 26, 2015 at 11:24 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-26 15:26] ncdc commented on #5382
For this particular e2e test, there is no user set in the pod definition or the Dockerfile.

[2015-10-26 15:27] benjaminapetersen commented on #5375
That should be easy to adjust here:

[code]
The `offset-top` has probably just moved as we have added tabs or something.  The annoying thing about bootstrap-affix is that it'll have to be tinkered with whenever we adjust styles :neutral_face:

[2015-10-26 15:27] smarterclayton commented on #5382
Yes, and our SCC mechanism is "wrong" in that it sets a UID on the docker
image (denying root) when it should allow the image default because
privileged lets you runasany.  If we're confident this is bind to 80, we
should dupe this against 5317

On Mon, Oct 26, 2015 at 11:26 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-26 15:28] ncdc commented on #5382
I am 100% certain this is denying bind to 80

[2015-10-26 15:31] deads2k commented on #5392
Ok, we don't do this currently, so that's a bug I can fix.

[2015-10-26 15:31] smarterclayton commented on #5382
Dupe of #5317

[2015-10-26 15:33] ncdc commented on #5392
@deads2k what bug are you referring to?

[2015-10-26 15:34] smarterclayton commented on #5392
If there is a quick fix I'd like it for 1.1 but if not we can live until
1.1.1

On Oct 26, 2015, at 11:31 AM, David Eads <notifications@github.com> wrote:

oc annotate should be modifying .metadata.annatotions. For an istag, that
is a composite field that is stream tag annotations + image annotations.

Ok, we don't do this currently, so that's a bug I can fix.

—
Reply to this email directly or vi

[2015-10-26 15:40] liggitt commented on #5382
the user running the tests is in both privileged and restricted, right? we want them only in privileged

[2015-10-26 15:45] pweil- commented on #5382
Yes.  What has been proposed is to change the ordering of the SCC sorting such that you run with a more privileged SCC if you have access to it rather than the most restrictive SCC.  This could be a simple reversal of the current sort but we'd also like to incorporate some namespace hinting to give a little more control over what should be tried first.

[2015-10-26 15:46] liggitt commented on #5399
@markturansky is it expected the recycler pod will use a host mount?

[2015-10-26 15:55] ebalsumgo commented on #5399
Oh yeah another note/info on this. My PVs are setup as follows:
They are all HostPath volumes that live on a NFS mount which is mounted across my cluster.

[2015-10-26 16:14] smugcloud commented on #5366
Thanks @smarterclayton.  This seems to have resolved the mount issue but now I'm getting `Failed to ensure state of "/docker-daemon": failed to find pid of Docker container: exit status 1` every minute.  I'm not sure what the error actually is but this is the last part of the logs.

[code]

[2015-10-26 16:27] liggitt commented on #5355
Were you following build logs in the CLI or the web console? Seeing 250% CPU usage after viewing logs in the web console. I did this:

1. Start openshift
2. Run a build, letting it complete successfully and deploy
3. View logs for the completed build in the web console.
4. Logs took about 25 seconds to load, then the server process went to 250% CPU and I saw this in the server log:
[code]

[2015-10-26 16:29] deads2k commented on #5392
`istags` don't have any annotations.

[2015-10-26 16:30] liggitt commented on #5355
Captured profile by starting with `OPENSHIFT_PROFILE=web`, and grabbing with `go tool pprof http://localhost:6060/debug/pprof/profile` when at 250% CPU:

![profile](https://cloud.githubusercontent.com/assets/980082/10735223/5cf77118-7bdd-11e5-889c-0727910bec5f.png)

[2015-10-26 16:32] smarterclayton commented on #5382
The core problem: "it is impossible to run an image in OpenShift as the
user defined by the image if you have access to a SCC that is range
limited".

On Mon, Oct 26, 2015 at 11:45 AM, Paul Weil <notifications@github.com>
wrote:

[2015-10-26 16:33] smarterclayton commented on #5355
Suspect this is a hot read loop for zero byte reads in the websocket code.

On Mon, Oct 26, 2015 at 12:30 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-26 16:44] ncdc commented on #5392
What are you going to do - merge the image and spec tag annotations into the virtual `ISTag`'s annotations?

[2015-10-26 16:45] smarterclayton commented on #5355
Need to isolate where this is caused by a websocket client (browser vs not)
or the server.

On Mon, Oct 26, 2015 at 12:33 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-26 16:47] deads2k commented on #5392
I was just planning to represent the ones in the imagestream.spec.tags[foo] field.  That way its only the overrides.  That felt cleaner.

[2015-10-26 16:50] liggitt commented on #5355
For the record, CLI log streaming doesn't cause it (`oc start-build ... --follow` or `oc build-logs ...`)

[2015-10-26 17:33] smarterclayton commented on #5107
https://github.com/kubernetes/kubernetes/pull/16207 must have

On Fri, Oct 23, 2015 at 7:46 PM, Andy Goldstein
<notifications@github.com> wrote:

[2015-10-26 17:38] liggitt commented on #5399
@pweil- since persistent volumes can use host mounts, recycler pods also need to be able to use them to clean up. I think we need the following:
1. A service account for the recycler controller
2. A role for the recycler controller
3. An SCC which only grants host mounts (not all of privileged), with the recycler controller service account in that SCC by default

[2015-10-26 17:45] liggitt commented on #5355
Error being hotlooped:
[code]

[2015-10-26 18:03] smarterclayton commented on #5392
Yes that's fine.

On Mon, Oct 26, 2015 at 12:47 PM, David Eads <notifications@github.com>
wrote:

[2015-10-26 18:08] liggitt commented on #5355
Guessing this is the issue, since `wsstream.ignoreReceives` appears in @mfojtik's goroutine dump at https://github.com/openshift/origin/issues/5355#issue-112992105

[2015-10-26 18:08] #5387 closed

[2015-10-26 18:51] benjaminapetersen commented on #5374
I've been experiencing this lately.  Think my setup is a bit slow due to vagrant, but its pretty easy for me to double tap & get errors.

[2015-10-26 19:00] knobunc commented on #5166
So @liggitt @pweil @smarterclayton: We want to leave the existing --stats-port argument to oadm router, but deprecate it?  We add --admin-port to replace it, support both for a while?  Then if --stats-port is 0, that implied --admin-port 1936 with --enable-stats=false?  Otherwise, if --stats-port is not set, use either the explicit --admin-port or the default of 1936, but set --enable-stats=true a

[2015-10-26 19:51] pweil- commented on #5166
Based on some previous conversation (https://github.com/openshift/origin/pull/5151#issuecomment-149661323) I think the use cases are:

1.  --stats-port set > 0: use stats port and expose stats (healthz and stats may not be on the same listener)
1.  --stats-port unset: default to 1936 and expose stats (healthz and stats are on the same listener)
1.  --stats-port = 0: do not expose stats

And then a

[2015-10-26 21:14] pweil- commented on #5317
proposal:

## Requirements

1.  Allow users to use their least restrictive SCC by default when creating pods rather than having to request elevated privileges to activate a less restrictive SCC
1.  Allow administrators to influence the order in which SCC generation/validation is attempted per namespace

### Changes

1.  Refactor the existing `ByRestrictions` sorter to reverse the order that SCCs a

[2015-10-26 21:35] smarterclayton commented on #5366
That's a known limitation of cadvisor / kubernetes / openshift inside of a docker container (https://github.com/kubernetes/kubernetes/issues/9689).  It's not yet resolved.  You can ignore the error for now.

[2015-10-26 21:37] smarterclayton commented on #5166
If stats-port happens to be the healthz port, that's fine.  I don't think
we need two ports (one for stats, one for health) as long as a caller
pinging /healthz doesn't have to auth.

On Mon, Oct 26, 2015 at 3:51 PM, Paul Weil <notifications@github.com> wrote:

[2015-10-26 21:56] ncdc commented on #5377
I have a theory on this. I'll write details later (have to go for now).

[2015-10-26 21:59] #5355 closed

[2015-10-26 22:04] smarterclayton commented on #5391
We don't know what the images digest is until we import it, so there's no
place to put in Importing on an Image.

On Mon, Oct 26, 2015 at 10:03 AM, Michal Minar <notifications@github.com>
wrote:

[2015-10-26 22:43] bparees commented on #5383
looks like it can't reach the registry service at all... can you confirm 172.30.2.76 is the right ip for your registry service and see if there's anything interesting in the logs for the registry pod?

[2015-10-26 22:48] gorg3b opened #5408 "BuildConfig ENV Variables are not passed to Docker"
I'm running a local installation at the moment.
When passing ENV via BuildConfig they are not used during the actual build. May be the issue if the used Dockerfile already has ENV Variables build in?

Georg

[2015-10-26 23:12] smarterclayton commented on #5350
We could force you to fetch tags from origin during a build.  Checking in the version as a constant into code has an equally sized set of different problems.

[2015-10-27 02:13] smarterclayton commented on #5317
I would rephrase the requirements:

1. If a SCC allows a default to be applied to be used from the image, use
that in preference to the most restrictive
  a. This applies for all allocated fields from the namespace

Why can we not structured this as "if the allowed SCCs allows the pod to
use an inherited default for a known set of inherited defaults, don't
enforce".

On Mon, Oct 26, 2015 at 5:14 P

[2015-10-27 02:14] smarterclayton commented on #5228
Yes.

On Mon, Oct 26, 2015 at 9:58 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-27 03:13] smarterclayton opened #5410 "Test flake in TestPolicyBasedRestrictionOfBuildCreateAndCloneByStrategy"
[code]

[2015-10-27 12:34] liggitt commented on #5317
Yeah, it's more "select the SCC that requires the least mutation of the pod"

[2015-10-27 13:02] pweil- commented on #5166
Fair enough, I was shooting for something more stable that we could always ping in case of troubleshooting customer installations but I can see the point of not taking up more ports than necessary

[2015-10-27 13:04] pweil- commented on #5317
Do we not get that by default if we reverse the points comparison?  Strategies that allow using dockerfile defaults are RunAsAny and RunAsNonRoot which have higher scores.

[2015-10-27 13:07] mwringe commented on #5294
Did anyone create a BZ to track this? Or do we need one? This is an important bug we need fixed for metrics to work properly

[2015-10-27 13:09] deads2k commented on #5410
@csrwng This test looks like the admission control one for builds.

[2015-10-27 13:10] deads2k commented on #5410
you could consider using patch instead of replace, it will retry on changes as long as they are non-conflicting changes.

[2015-10-27 13:20] liggitt commented on #5317
"security points" isn't the same as "mutation distance"... only the RunAs strategies mutate (I think)

[2015-10-27 13:32] pweil- commented on #5317
That's correct.  In that case we would only need to rate mutating strategies so the sort code could be reduced quite a bit.  Ok with the admin influence piece of this?

[2015-10-27 13:41] liggitt commented on #5317
I guess

[2015-10-27 13:42] aveshagarwal commented on #5113
Is this still an issue? kubernetes upstream e2e tests show this test is passing.

[2015-10-27 13:43] liggitt commented on #5294
Being fixed in the installer in https://github.com/openshift/openshift-ansible/pull/609

[2015-10-27 13:44] markturansky commented on #5399
@pweil- @liggitt the recycler does *not* expect to use a host mount.  NFS is the sole supported recycler today.  It uses an NFS volume, not HostPath, when recycling.

Using HostPath in a PV triggers the recycler and mounts that HostPath, but that is for local dev/testing only and requires editing the SCC to allow HostPath.

Otherwise, there is no condition under which we support local storage usin

[2015-10-27 13:45] mwringe commented on #5294
@liggitt That still doesn't solve the issue for installations which are not done via ansible. I think we still need to fix it for those situations as well.

[2015-10-27 13:48] liggitt commented on #5294
What installations are these? They need to include the node IP when calling `oadm create-node-config`

[2015-10-27 13:49] csrwng commented on #5410
@deads2k the test is not updating the ImageStream directly, it's doing so indirectly by trying to add the imagestreamtag... I guess I can add the retry logic in the test.

[2015-10-27 13:53] deads2k commented on #5410
Should the `imagestreammapping.REST` be retrying a couple times for you or would that be incorrect?  It seems like you'd be safe to retry as long as the update did not mutate anything related to your tag, right?

[2015-10-27 13:54] bparees commented on #5408
can you please supply the json for your buildconfig as well as verbose logging for your build (https://docs.openshift.org/latest/dev_guide/builds.html#accessing-build-logs)

Also please tell me what openshift version you are running.

If you define env variables in your BuildConfig they are supposed to be appended to your Dockerfile, if the Dockerfile already has those ENV variables defined, the v

[2015-10-27 14:06] php-coder commented on #4810
Just for a history:

[code]

[2015-10-27 14:08] pweil- commented on #5399
Should this be something that is flaggable and turned off by default then?  Is it documented?  What if someone is using a recycler in production and also using host mounts (which appears to be the case here)?

[2015-10-27 14:10] liggitt commented on #5399
@markturansky, there's a disconnect here, then:

If the system allows this, and the mounts work as intended, but the recycler pod died, we need to resolve that.

[2015-10-27 14:10] ebalsumgo commented on #5399
@markturansky I actually have not done anything on the SCC end to do this, plus the only reason I went down this path is because @smarterclayton and @liggitt and yourself told me it should work. In our env, the expectation of NFS volumes for everyone that wants PV is unacceptable, which is why I am trying to do it this way, aka, export a volume to my entire cluster and let my server handle quota w

[2015-10-27 14:13] mwringe commented on #5294
I mean when starting OpenShift manually:

openshift start --write-config=openshift.local.config --hostname=$IP_ADDRESS --public-master=$IP_ADDRESS --master=$IP_ADDRESS

Or is the plan here to always force people to set the hostname as the ip address? It might get confusing since if they set the hostname as the actual hostname, then everything works except access to the kubelet endpoints for extern

[2015-10-27 14:13] jwforres opened #5412 "See whether "No <whatever> to show" messages look better outside of the tables"
Today we show the tables with a message in them.  See whether it would look better to hide the table completely when there are none.  Should check what the patternfly recommendation is for this.

[2015-10-27 14:14] liggitt commented on #5294
this issue is open to add the IP addresses when starting manually. we can track in a BZ if you like.

[2015-10-27 14:18] jwforres opened #5413 "Improve perf on build and dep config pages by only requesting builds/deps for that config"
We should try using watch with the labelFilter query param set so that we only watch the relevant things.  Its unclear if watch behavior with a filter set would cause weird behavior around missing certain events, what happens when someone adds/removes the label we are filtering on?

[2015-10-27 14:18] markturansky commented on #5399
@ebalsumgo I remember our IRC chat and I believe you said you have a single big NFS mount on all the hosts, correct?  If so, then you can, strictly speaking, use HostPath.  HP isn't supported for local storage, but you've got remote storage and you're only using HP to point to a dir.

But then we run into security issues and we now require @liggitt's solution w/ a service account that is allowed t

[2015-10-27 14:19] jwforres opened #5414 "Add links to image streams that the build config is triggering on / outputting to"
On the build config page you should be able to click on a link to the image stream for from and to fields.

[2015-10-27 14:22] ebalsumgo commented on #5399
@markturansky right, which is what I have, single big NFS mount with subdirs exposed at PVs, the server handles the quota using netapp qtrees. I dont see how else to expose the said mount as chunks other than using HostPath.

[2015-10-27 14:25] derekwaynecarr commented on #5107
Two additional must haves to track:

make kubelet image pulls serialized by default
https://github.com/kubernetes/kubernetes/pull/15914
Works around docker image pull corruption until docker 1.9 by doing all image pulls in serial.

Fixed resetting last scale time in HPA status
https://github.com/kubernetes/kubernetes/pull/16277
Without this fix, HPA can make premature downscaling decisions.

[2015-10-27 14:33] ncdc commented on #5377
Here's my theory. We create the stdin stream and immediately start copying local stdin to the container. We do the same for stdout and stderr (create stream, start copying immediately). In the kubelet, we wait to receive all the streams before we start the exec and copy between the streams and the container.

The spdy connection frame handling code has 5 frame workers, each with a queue of up to 5

[2015-10-27 14:42] smarterclayton commented on #5107
Consider kubernetes/kubernetes#16266 which is a more involved fix to
our watch reset problem.  I'm tempted to let it back in upstream for
now rather than trying to pull it for 3.1.

On Tue, Oct 27, 2015 at 10:25 AM, Derek Carr <notifications@github.com> wrote:

[2015-10-27 14:47] knobunc commented on #5166
So, would we add a separate admin-port?  The way I read the bug and
previous discussion, I thought we were intending to obsolete --stats-port
in favor of --admin-port.

-ben

On Tue, Oct 27, 2015 at 9:02 AM, Paul Weil <notifications@github.com> wrote:

[2015-10-27 14:47] stevekuznetsov opened #5415 "Need to bump go-ldap"
We're carrying an upstream patch for it, and the newest HEAD has some unicode filter fixes we would like.

cc/ @deads2k

[2015-10-27 14:47] smarterclayton commented on #5317
The question is do we even need this complexity.  The use case for keeping
admin influence and sorting is "let the admin impose a default".  But I
think that's better targeted by something like "apply this SCC as the
defaults to the pod if the user has access to it."  Can't we just break
this up into

1. Apply defaults
2. Verify access

On Tue, Oct 27, 2015 at 9:41 AM, Jordan Liggitt <notification

[2015-10-27 14:55] deads2k commented on #5415
Go ahead move the patch upstream.

[2015-10-27 14:58] spadgett opened #5416 "Show target port in routes table on browse routes page"
Now that we have support for multi-port services, add the target port to the "Routes to" column if defined.

/cc @jwforres

[2015-10-27 15:06] stevekuznetsov commented on #5415
Patch: https://github.com/stevekuznetsov/origin/commit/1469d71f80fffbc0d481b35381a0f7786050fd7a
Upstream pull: https://github.com/go-ldap/ldap/pull/36

[2015-10-27 15:07] pweil- commented on #5317
ok.  In that case, how about if the annotation takes only takes a single, named SCC for the namespace.  If it exists it is bumped to the front of the line, period.  No changing of scores, no changing of sort methods.

So the behavior would be:

1.  secure by default, you generate/validate against the most restrictive scc that supports the request
1.  UNLESS your namespace has a preferred SCC in wh

[2015-10-27 15:14] sosiouxme opened #5417 "Can't get logs for a crashlooping pod"
If my pod keeps crashing (in this case due to external dependency missing) it gets put into `CrashLoopBackOff` state. The problem then is that you can't get logs in that state so it's hard to figure out why it's crashing.

[code]

I think it would be better if `CrashLoopBackOff` state were counted the same as `Failed` for log access purposes.

[2015-10-27 15:14] markturansky commented on #5399
@smarterclayton @liggitt @pweil- @wattsteve @childsb  this issue isn't a bug, per se, and the question is whether or not we create a service account that allows HostPath recyclers and, if so, when it fits into the release schedule.

[2015-10-27 15:31] deads2k commented on #5417
This changed at some point.  I'm on a much older build at home, but I can check crash looping logs.

[2015-10-27 15:33] smarterclayton commented on #5317
Jordan and I argued for a bit.  Here's the proposal:

1. Add a priority field to SCC which is "defaultingOrder" or
"defaultingPriority"
2. Create a few new SCCs between restricted and privileged - one being
"runAsAny" (or a better name, like "relaxed")
3. Find the SCCs that apply, sort them by priority only, apply a
deterministic sort when priorities are equal (name), drop all existing
magic sorti

[2015-10-27 15:34] smarterclayton commented on #5317
Basically this replaces the calculated sorting (most-least restrictive,
somewhat arbitrary) with admin controlled ordering.

On Tue, Oct 27, 2015 at 11:33 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-27 15:34] pweil- commented on #5399
If the system let's me get into a state where infrastructure no longer works I'd consider it a p1/p0 bug.

[2015-10-27 15:41] smarterclayton commented on #5166
Do we have to obsolete stats-port?  We will almost always have to have
stats-port running to provide info for admins.  As long as we can convince
ourselves its secure I don't see it being disabled very often.

On Tue, Oct 27, 2015 at 10:47 AM, Ben Bennett <notifications@github.com>
wrote:

[2015-10-27 15:44] smarterclayton opened #5418 "Test Flake in TestSupplementalGroups integration test"
[code]

@pmorie