[2017-12-19 12:42] hussainaljamri commented on #17824
I was following the advanced installer section. I think it would be very helpful to mention this in the pre-requisites section where all the required ports are listed. Also in the Ansible inventory section for the variables.

[2017-12-19 12:56] deads2k commented on #17872
Is this different than https://github.com/openshift/origin/issues/17766 ?  When you run as a cluster-admin does it work or fail?

[2017-12-19 13:02] deads2k commented on #17872
Opened https://github.com/openshift/origin/pull/17874 for permissions, but I still suspect it will fail

[2017-12-19 13:30] php-coder commented on #17872
Looks like the same.

Yes, it works.

[2017-12-19 13:31] php-coder commented on #17872
Duplicate of #17766

[2017-12-19 13:36] rhamilto commented on #17745
at all before, I think we just assumed it worked because the font was there.
@rhamilto we should update the previous enterprise branches of the docs
that claimed it worked and remove that reference.

Done.  https://github.com/openshift/openshift-docs/pull/6809

The solution is relatively simple, but it is spread across all three repos, so it's not easy to backport.  As a result, I'm assuming we do

[2017-12-19 13:48] simonpasquier commented on #13401
I've also retried the example from @Tiboris (the OP) and I can't reproduce the issue...

[2017-12-19 14:30] sosiouxme opened #17875 "[Feature:DeploymentConfig] deploymentconfigs viewing rollout history [Conformance] should print the rollout history"
Test failure; name looks similar to recent issues https://github.com/openshift/origin/issues/15792 https://github.com/openshift/origin/issues/10989 but no idea if related.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17857/test_pull_request_origin_extended_conformance_gce/13247/

[code]

[2017-12-19 14:34] sosiouxme commented on #17556
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17857/test_pull_request_origin_extended_conformance_install/4412/

[2017-12-19 15:29] sdodson commented on #17847
@esquare666 Do you need to terminate TLS at the F5 device? We've always assumed that layer 4 load balancing was used so that the load balancer need not terminate TLS.

[2017-12-19 15:29] deads2k opened #17877 "[Feature:DeploymentConfig] deploymentconfigs keep the deployer pod invariant valid [Conformance] should deal with cancellation after deployer pod succeeded"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17859/test_pull_request_origin_extended_conformance_gce/13255/

[Feature:DeploymentConfig] deploymentconfigs keep the deployer pod invariant valid [Conformance] should deal with cancellation after deployer pod succeeded [Suite:openshift/conformance/parallel] 6m13s

[code]

[2017-12-19 16:21] deads2k opened #17879 "[sig-storage] Projected should be consumable from pods in volume with mappings [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 19s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17511/test_pull_request_origin_extended_conformance_gce/13261/

[sig-storage] Projected should be consumable from pods in volume with mappings [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 19s

[code]

[2017-12-19 16:27] deads2k opened #17880 "[sig-storage] EmptyDir volumes should support (non-root,0666,tmpfs) [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 21s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17511/test_pull_request_origin_extended_conformance_gce/13261/

[sig-storage] EmptyDir volumes should support (non-root,0666,tmpfs) [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 21s
[code]

[2017-12-19 16:29] sosiouxme opened #17881 "While the jUnit report found no failed tests, the `go test` process failed."
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_unit/7205/

Infrastructure failure? I couldn't see anything that actually failed.

[code]

[2017-12-19 16:32] deads2k opened #17882 "[sig-storage] Downward API volume should update labels on modification [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 3m21s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17876/test_pull_request_origin_extended_conformance_install/4421/

[sig-storage] Downward API volume should update labels on modification [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s] 3m21s
[code]

[2017-12-19 16:33] sosiouxme opened #17883 "[Feature:Builds][Conformance] s2i build with a root user image should create a root build and pass with a privileged SCC"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_gce/13246/

[code]

[2017-12-19 17:07] php-coder opened #17884 "Required `go` binary was not found in $PATH"
[code]
Full log is here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16934/test_pull_request_origin_unit/7224/

CC @stevekuznetsov

[2017-12-19 19:00] #17884 closed

[2017-12-19 19:41] jim-minter commented on #17867
#17887 will disable this test for now.  I'm repurposing this issue to re-enable the test.  I don't know who the assignee should be.

[2017-12-19 19:47] syui commented on #17844
[code]

[2017-12-19 21:08] petervo opened #17891 "Imagestream patch seems to be broken"
I am trying to patch the tags array of the imagestream spec object to remove an item.

[code]

But the array doesn't seem to change.

[code]

note that patching the array to add an item works. Patching setting the array to null to remove all items also works.

This is with

openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

[2017-12-20 01:16] matthewvalimaki opened #17892 "BuildConfig `secrets` not available during build"
`secrets` in `BuildConfig` work on build `A` but do not work with build `B` which is a copy of `A` with minor changes. The minor change is merely in the `dockerStrategy` pointing back to `A` in `kind: "ImageStreamTag"`. No matter which secrets I want to expose in build `B` they do not become available. The builder pod does show them as mounts.

I am wondering if build `A` using secrets somehow blo

[2017-12-20 03:33] #17769 closed

[2017-12-20 08:51] zonArt commented on #7226
@tomcooperca Thank you, I'm aware that I need `Secret` and associate them to `ServiceAccounts` however this doesn't do the trick, I need two (secrets) of them (one with the port 443 defined and another one without it). I already opened a ticket (#17238) to ask this question more in detail.

[2017-12-20 10:03] perfectglitch opened #17895 "No graceful stop for rolling deploys?"
Hi,

Whenever OS3 pod dies during startup while Spring + Liquibase are applying changesets to database schema a lock stays in DB that doesn't allow subsequent pods to start(Liquibase change log lock).

I implemented a shutdown hook in Spring app Java code that removes locks created by current host before shutting down.

Now to the problem...

Java runtime shutdown hooks are not executing in OS3 wh

[2017-12-20 10:44] perfectglitch commented on #17895
Somebody already showed me the light: https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/

[2017-12-20 10:44] #17895 closed

[2017-12-20 12:15] php-coder commented on #17892
@openshift/sig-developer-experience

[2017-12-20 12:16] php-coder commented on #17891
@openshift/sig-developer-experience

[2017-12-20 14:10] deads2k opened #17897 "[Feature:Builds][timing] capture build stages and durations should record build stages and durations for s2i [Suite:openshift/conformance/parallel] 35s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17874/test_pull_request_origin_extended_conformance_gce/13345/

[Feature:Builds][timing] capture build stages and durations should record build stages and durations for s2i [Suite:openshift/conformance/parallel] 35s
[code]

[2017-12-20 14:29] #17784 closed

[2017-12-20 14:30] dingjianrui commented on #17740
I actually met the same issues while i manually run the "openshift start" in the All-in-one mode, have you already fixed this issue? and what's the solution ?

[2017-12-20 14:47] #17793 closed

[2017-12-20 15:09] khatribharat opened #17898 "oc 1.5 breaks against go >= 1.8"
`oc` breaks against go >= 1.8 due to a breaking change in `net/url`
The release notes for `net/url` are available [here](https://golang.org/doc/go1.8#net_url)

This is the breaking change in `net/url`
[code]
[This](https://github.com/openshift/origin/blob/v1.5.1/pkg/generate/git/git.go#L23) is the cause of error.

##### Version
[code]

##### Steps To Reproduce
[code]

[2017-12-20 15:19] jim-minter commented on #17892
@matthewvalimaki looking at the code comments (this is underdocumented, we'll deal with that...):

[code]

For the Docker build B, is Origin making available the secret files so that you can use ADD or COPY on them in the Dockerfile?  This appears to be the intended behaviour.

[2017-12-20 15:25] php-coder commented on #17898
@openshift/sig-developer-experience

[2017-12-20 15:29] bparees commented on #17898
Known issue, fixed in newer releases.

[2017-12-20 15:29] #17898 closed

[2017-12-20 15:31] khatribharat commented on #17898
In that case, the build process `make all WHAT=cmd/oc GOFLAGS=-v` should fail if the go version is above 1.7.

[2017-12-20 15:37] matthewvalimaki commented on #17892
@jim-minter I have not tried ADD or COPY. I can certainly try but I am unsure of the logic. WORKDIR changes the context and with build A the secret was available in what the WORKDIR was. In above examples I removed WORKDIR and tried destinationDir instead. But perhaps they just are available in the build directory. So I would do `ADD ssh-privatekey /var/www/html`?

[2017-12-20 15:43] jim-minter commented on #17891
Hi @petervo you're specifically setting `Content-Type: application/strategic-merge-patch+json`; please see https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md .  If you're wanting to remove an item, presumably you'll need to be specifying `$patch: delete` somewhere?

[2017-12-20 15:57] php-coder commented on #17892
Please, don't add any sensitive data (like private keys) to the image. The data will be committed to the image and can be extracted by any user who can access to this image.

[2017-12-20 15:58] jim-minter commented on #17892
@matthewvalimaki the best example I've found so far is our test case.  See the Dockerfile at https://github.com/openshift/origin/blob/master/test/extended/testdata/builds/build-secrets/Dockerfile and BuildConfig at https://github.com/openshift/origin/blob/master/test/extended/testdata/builds/build-secrets/test-docker-build.json .

[2017-12-20 16:03] mrsiano commented on #11467
I faced that issue on ec2 instance running oc versions 3.8
@mffiedler @jeremyeder

[2017-12-20 16:25] tnozicka commented on #17682
the same thing is happening is release-3.7 branch

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_extended_conformance_gce/13338/

[2017-12-20 16:33] tnozicka commented on #17875
dupe of https://github.com/openshift/origin/issues/17805#issuecomment-352000745

[2017-12-20 16:33] #17875 closed

[2017-12-20 16:35] tnozicka commented on #17605
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_install/4354/

[2017-12-20 16:38] tnozicka opened #17900 "[Feature:Builds] forcePull should affect pulling builder images ForcePull test case execution s2i [Suite:openshift/conformance/parallel] 11s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_gce/13358/

[code]

[2017-12-20 16:40] tnozicka opened #17901 "[Feature:Prometheus][Conformance] Prometheus when installed to the cluster should start and expose a secured proxy and unsecured metrics [Suite:openshift/conformance/parallel] 1m51s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_gce/13358/

[code]

[2017-12-20 16:53] tnozicka commented on #17595
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_install/4519/

[2017-12-20 16:56] tnozicka opened #17902 "[Feature:Builds] Optimized image builds should succeed [Conformance] [Suite:openshift/conformance/parallel] 24s"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_install/4519/

[code]

[2017-12-20 16:57] tnozicka opened #17903 "[Feature:Builds][Conformance][valueFrom] process valueFrom in build strategy environment variables should successfully resolve valueFrom in docker build environment variables [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_install/4519/

[code]

[2017-12-20 18:34] lance opened #17905 "Problem importing S2I builder into management console catalog"
The instructions [here](https://docs.openshift.com/container-platform/3.7/dev_guide/managing_images.html#writing-image-streams-for-s2i-builders) to create and import an image stream so that it will display in the catalog, do not have the intended result.

The image stream is imported, and appears in Build -> Images. However, after import, it does not appear in the catalog. To ensure there was no p

[2017-12-20 20:18] abhinav1592 commented on #17776
facing same issue..

[2017-12-20 22:03] boeboe commented on #16767
Can the priority of this bug being increased? This is basic functionality. We have POD (GitLabEE) which requires HTTPS to enable other functionality on it.

[2017-12-20 22:09] juanvallejo commented on #17708
@mfojtik

Is this limited to all remote calls being made from the `export` command, or are you seeing this happen with any other commands?

[2017-12-20 22:18] rushins commented on #3039
i dont have firewall issue however i cannot access the web console https://ip:8443/ but from linux side the "oc" commands working.

does anyone have any idea what to do no this.

[2017-12-21 00:36] bparees commented on #17902
@tnozicka this is the devmapper flake https://github.com/openshift/origin/issues/17330 again.
[code]

[2017-12-21 00:36] #17902 closed

[2017-12-21 00:38] bparees commented on #17900
dupe of https://github.com/openshift/origin/issues/17596

[2017-12-21 00:38] #17900 closed

[2017-12-21 00:46] bparees commented on #17892
yes, in your first build.  As @php-coder noted, this means your ssh-privatekey will be in the output image though, which obviously you need to evaluate against your security requirements for the image.

the way to use this is documented here:
https://docs.openshift.org/latest/dev_guide/builds/build_inputs.html#using-secrets-docker-strategy

[code]

and @php-coder's concerns are covered as well:
[c

[2017-12-21 00:46] bparees commented on #17892
(as a way of closing this issue)

[2017-12-21 01:13] bparees commented on #17897
the test created the imagestream:
[code]

the registry claims it doesn't exist:
[code]

But even then i would have expected the registry to create the imagestream, not 404 the put?

@legionus @dmage @miminar

[2017-12-21 01:23] dmage commented on #17897
We do not implement v1 API. I don't know why the client has decided to use this version of API.

[2017-12-21 02:02] bparees opened #17910 "EmptyDir volumes should support (root,0777,tmpfs)"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17841/test_pull_request_origin_extended_conformance_gce/13340/

[2017-12-21 02:04] bparees opened #17911 "TestValidatePersistentVolumeClaimUpdate unit test flake"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17314/test_pull_request_origin_unit/7268/

[2017-12-21 02:06] bparees commented on #17770
not sure why the prefix is different but this sure seems like a dupe of https://github.com/openshift/origin/issues/17697

[2017-12-21 02:06] #17770 closed

[2017-12-21 02:06] bparees commented on #17697
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17314/test_pull_request_origin_extended_conformance_install/4489/

[2017-12-21 03:10] fengbeihong commented on #17280
I have the same problem

[2017-12-21 08:02] eye0fra commented on #15910
I had the same problem but with vsphere cloud provider. As @e-minguez,  I installed without cloud provider than I did a post installation of the cloud provider with this [playbook](https://gist.github.com/eye0fra/156cc8212360e17399d5b792e174ab03), which modify the yaml configuration files of the masters and nodes.

[2017-12-21 11:48] php-coder commented on #17905
@openshift/sig-user-interface @openshift/sig-developer-experience

[2017-12-21 12:18] tnozicka commented on #17596
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17827/test_pull_request_origin_extended_conformance_gce/13358/

[2017-12-21 12:38] gabemontero commented on #17694
PR with fix merged ... not sure why bot did not close this.

[2017-12-21 12:47] tnozicka commented on #17605
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17889/test_pull_request_origin_extended_conformance_install/4576/

[2017-12-21 13:11] talzi commented on #11170
hi,

i am getting similar issue.
I created new jenkins image (Added more plugins), create images stream under openshift project and deployed it using jenkins ephemeral template.
I am now trying to run simple pipeline but it is stuck, not even starting, job is not created in Jenkins
what am i missing?
getting following errors in the  pod's log

[code]

thanks

[2017-12-21 14:34] #17068 closed

[2017-12-21 14:34] #17554 closed

[2017-12-21 14:34] #17563 closed

[2017-12-21 15:11] bparees commented on #17905
You may need to import it in the openshift namespace. Not sure. @spadgett @jwforres

[2017-12-21 15:18] jupierce commented on #17684
@tnozicka The release-3.7 branch is no longer pulled into OCP 3.7 and should not be targeted by PRs. You will need to PR against ose/enterprise-3.7 .

[2017-12-21 15:19] matthewvalimaki commented on #17892
Thank you all for the help. I just tested `COPY ./ssh-privatekey /var/www/html` and it indeed now works in build B. Now I have my secret where I want it to be. While improving documentation is a must I do want to point out that for some reason `ADD` or `COPY` is not required with build A. For some reason `ssh-privatekey` is in the whatever `WORKDIR` is. It would be interesting to know why but I am

[2017-12-21 15:28] deads2k commented on #17911
@bparees we merged https://github.com/openshift/origin/pull/17876 to fix it.  I think it was after your run.

[2017-12-21 15:28] #17911 closed

[2017-12-21 15:48] tnozicka commented on #17684
@jupierce what if I want to fix origin as well, why shouldn't I target release-3.7? 3.7 is our latest stable release in upstream.

I am not sure why we don't auto pull stuff from origin release-3.7 anymore but I'll send it manually there too.

[2017-12-21 15:50] sosiouxme opened #17915 "the server doesn't have a resource type "dc""
`oc` from master does not allow me to scale a DC. When I first hit this it gave me the message `the server doesn't have a resource type "dc"`. Now it says `error: Scaling the resource failed with: the API version in the data (extensions/v1beta1) does not match the expected API version (apps.openshift.io/v1); Current resource version Unknown`.

##### Version

[code]

##### Steps To Reproduce
1. `mi

[2017-12-21 16:04] bparees commented on #17892
I don't know what you mean when you say it is "not required".  There are two steps required to consume a secret:

1) define in the buildconfig that you want the secret.  This will result in the secret being mounted into your build pod and made available in the docker working dir that your Dockerfile is run against
2) define in your Dockerfile that you want to add/copy the secret into the image you

[2017-12-21 16:15] coreydaley commented on #17905
I believe @bparees is correct, I ran into this same issue before and it was because I was importing it into my own namespace instead of the openshift namespace.

[2017-12-21 16:15] jim-minter commented on #17905
I'd have expected you to run `oc create -n openshift -f image-streams.centos7.json` (not `oc import`).  Does that work?

[2017-12-21 16:32] jupierce commented on #17684
@tnozicka We just don't offer long term support in these branches.

[2017-12-21 16:32] #17684 closed

[2017-12-21 16:32] lance commented on #17905
@jim-minter @bparees @coreydaley yes, this did work. Thank you. Here are the steps I took.

[code]

I read through the [docs](https://docs.openshift.com/container-platform/3.7/dev_guide/managing_images.html#writing-image-streams-for-s2i-builders) again, and there is no guidance regarding these commands. Is there some place else in the documentation where this is discussed?

[2017-12-21 16:34] lance commented on #17905
One more quick question about this. Previously it was possible for non-admin accounts to import/create these builder image streams in the catalog for their accounts only. Is this no longer possible?

[2017-12-21 16:38] matthewvalimaki commented on #17892
@bparees thank you for the thoughtful reply.

Ha! Indeed that is what I had. I indeed have `ADD . /var/www/` in Dockerfile for build A while I did not have that in B. I typically do not do `ADD .` but instead `ADD root ` to separate build related matters from files that I need in the image. So this definitely explain why it works in A but not in B.

Indeed I was getting confused. I was looking for

[2017-12-21 16:39] cjsrinivas commented on #6283
The use case is fairly simple, following the instructions on docs.openshift.com to backup and restore projects. OpenShift instance #1 is up and running, we run a sequence of oc commands to export various objects to YAML files. We use these YAML files to restore the project on OpenShift instance #2. Since OpenShift #2 is different, the IP address for the internal docker registry is different, the i

[2017-12-21 16:39] bparees commented on #17905
Likely not.  But at one point I thought valid imagestreams that existed in your current project would be shown to you (much like templates in your current project used to be shown to you).  So i'd like confirmation from @jwforres or @spadgett that this behavior is expected before we document that you must create your imagestream in the "openshift" namespace to see it in the console as a builder im

[2017-12-21 16:42] bparees commented on #17892
you're welcome, glad we could help.  We'll update the doc to include an example Dockerfile that shows the necessary ADD command.

[2017-12-21 16:49] bparees commented on #17694
@gabemontero
https://github.com/openshift/origin/pull/17717#issue-281129691

you had the wrong issue referenced.

[2017-12-21 16:50] bparees commented on #17694
(well maybe not wrong but it looks like we had two open?)

[2017-12-21 16:53] bparees commented on #17897
were there any other `PUT /v1` (or other /v1 api invocations in general) in the registry log?  The build just does a docker push via the node's docker daemon, so this would imply that for some reason the docker daemon decided to use the v1 api?  Perhaps an issue w/ the docker daemon version in our AMI or with the docker daemon configuration?

[2017-12-21 16:54] bparees commented on #17897
(since we didn't see all the pushes fail, it is particularly strange..I assume there were some `PUT /v2` entries in the registry log)

[2017-12-21 17:12] #17877 closed

[2017-12-21 17:30] tnozicka commented on #17684
If previous releases in origin are of any guidance we used to release x.x.1 at least. I went though the history and we've released (1.1.6, 1.2.2, 1.3.3, 1.4.1, 1.5.1, 3.6.1).

@smarterclayton is 3.7 in origin really dead? Are we sure there won't be 3.7.1? For one I know that 3.7.0 `oc cluster up` is completely broken on some platforms (https://github.com/openshift/origin/issues/17638)

How can we

[2017-12-21 18:35] elioengcomp opened #17918 "Openshift v3 HA - Router not able to route to Pod on different node"
I have a new openshift cluster v3.6 running on AWS with 3 nodes and a Load Balancer distributing requests between them. I have the default router deployed to all nodes (replicas=3) and a jenkins service running on one of the nodes (replicas=1).

The problem is that only requests sent to the node where the jenkins Pod is are successful. Every time a request for the jenkins service hits the router o

[2017-12-21 18:45] smarterclayton commented on #17684
The branch should be fixed, but gitserver should be removed.

[2017-12-21 18:46] smarterclayton commented on #17684
We ensure oc cluster up works on origin release branches, and occasionally
do security fixes.  So we should fix things broken on the branch that would
make cutting a release for security harder.

On Dec 21, 2017, at 12:30 PM, Tomáš Nožička <notifications@github.com>
wrote:

If previous releases in origin are of any guidance we used to release x.x.1
at least. I went though the history and we've rel

[2017-12-21 19:48] elioengcomp commented on #17918
One more piece of information, when I try to reach the internal service address from a router running on a different node I get the following error:

[code]

When I run the same command at the router running on the same node I got the application response

[code]

[2017-12-21 21:28] fmontaldo opened #17919 "open shift configuration"
##### Version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### Steps To Reproduce
1. I made the following /etc/ansible/hosts
[code]

##### Current Result
I made the odm diagnostics
[code]
##### Expected Result
log in as admin but I do not have the permitions

##### Additional Information

I made the dnsmasq configuration.

-Install pacakges: dnsmasq and bind utils
-Add the f

[2017-12-21 21:28] fmontaldo commented on #17919
I am new on this and I don't know the way to diagnose the errors. Thanks in advance.

[2017-12-21 21:39] #16472 closed

[2017-12-22 05:53] bparees commented on #17903
devmapper. again.

[code]

[2017-12-22 05:53] #17903 closed

[2017-12-22 05:58] bparees commented on #17883
failure to get pod logs

[code]

but describing the pod worked:

[code]

[2017-12-22 09:30] tnozicka commented on #17330
This is flaking a lot. We need to fix it asap or move to overlay2.

I don't feel this is getting enough attention being P0 :/

[2017-12-22 12:41] boeboe commented on #6283
For us, imagestreams were working on 3.6. After stepping up to 3.7, we run in the same issue as discussed here... out image streams are trying to use IP iso SVC name of the registry.

On 3.6:

    apiVersion: v1
    kind: ImageStream
    metadata:
      annotations:
        openshift.io/image.dockerRepositoryCheck: '2017-12-11T13:56:46Z'
      creationTimestamp: '2017-12-11T13:56:46Z'
      genera

[2017-12-22 13:16] php-coder commented on #17919
@fmontaldo To make it clear, what is the issue? You can't login as admin? Could you post the output of the `oc login` command with `--loglevel=8` parameter?

[2017-12-22 13:20] php-coder commented on #17918
@openshift/sig-networking

[2017-12-22 13:22] php-coder commented on #17915
CC @tnozicka

[2017-12-22 13:49] adawolfs opened #17923 "cannot fetch token: Post https://accounts.google.com/o/oauth2/token: dial tcp: lookup accounts.google.com"
Hello I'm configuring an Openshift Cluster but I had this error, I cant connect my instance to the cloudsql database, the same configuration is used for GKE and its working, and if mount the instance over minishift it worked, can you please help me to know what is happening here?

  | 2017/12/21 20:44:45 Listening on 127.0.0.1:3306 for myinstance:europe-west1:cloudsql-dev-1
  | 2017/12/21 20:44:45

[2017-12-22 14:11] soltysh opened #17924 "TestRouter flakiness"
[code]
Seen in https://github.com/openshift/origin/pull/17868, https://github.com/openshift/origin/pull/17860

Logs:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/17868/test_pull_request_origin_end_to_end/7174/build-log.txt, https://storage.googleapis.com/origin-ci-test/pr-logs/pull/17860/test_pull_request_origin_end_to_end/7145/build-log.txt

@openshift/sig-networking

[2017-12-22 14:14] php-coder commented on #17923
Looks like DNS issue.
Could be the same as https://github.com/kubernetes/kubernetes/issues/39980

[2017-12-22 14:15] php-coder commented on #17923
@openshift/sig-networking

[2017-12-23 09:03] esquare666 commented on #17847
@sdodson, Thanks for the information.  We are terminating SSL  on f5, since we use same F5 VIP for master console. Is that separate F5 VIP required for node to master communication and master console ?

[2017-12-23 11:53] #17682 closed

[2017-12-23 22:28] GrahamDumpleton opened #17925 "Error messages when creating build with --image-source and image not found are confusing."
If using ``oc new-build`` to create a new build and you want to use the ``--image-source`` and ``--image-source-path`` options, the error messages produced when you pass a name to ``--image-source`` which doesn't match an available image stream are confusing as they point to unrelated issues that do not exist.

##### Version

[code]

##### Steps To Reproduce

Run:

[code]

##### Current Result

Ge

[2017-12-24 00:41] gauravojha opened #17926 "Getting Started example doesn't work"
I am trying to run the OpenShift Origin's Getting Started's deployment-example.
I have a CentOS 7 deployed as a VM, and installed Docker 1.12.6 on it. Having installed the Origin v3.6 on it, I followed the same steps as mentioned in the Getting Started section.

After step 3: `oc new-app openshift/deployment-example` , I get the error mentioned in the Current Result below and the deployment fails.

[2017-12-24 01:22] gauravojha commented on #17290
The last line of your log seems to be similar to another issue I faced when installing OpenShift Origin. Below is the link.

https://groups.google.com/forum/#!topic/openshift/SQ3Mjhb8fIo

[2017-12-24 16:11] gauravojha commented on #17926
My mistake. Had to open the 8443 port.

firewall-cmd --zone=public --add-port=8443/tcp --permanent
firewall-cmd --reload

[2017-12-24 16:11] #17926 closed

[2017-12-24 20:06] smarterclayton commented on #6283
How are you configuring your registry hostname?  Check the
OPENSHIFT_DEFAULT_REGISTRY env var for your master processes and the
master-config.yaml section for external docker registry.  Is either of
those set to an IP address?

On Fri, Dec 22, 2017 at 7:41 AM, Bart Van Bos <notifications@github.com>
wrote:

[2017-12-25 01:31] iloayuil opened #17927 "Odd Image Size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I found an odd phenomenon about image size,  the size of v1.5.1 is much smaller than that of v3.6.1. See below:
**v1.5.1**
![v1 5 1](https://user-images.githubusercontent.com/4462994/34282543-270af552-e701-11e7-8f0f-e6318f888c31.png)
**v3.6.1**
![v3 6 1](https://user-images.githubusercontent.com/4462994/34282550-312c89c4-

[2017-12-25 11:53] boeboe commented on #6283
@smarterclayton this variable is not set at all, not in any of the following locations:

- /etc/origin/master/master-config.yaml
- /etc/sysconfig/atomic-openshift-master-api
- /etc/sysconfig/atomic-openshift-master-controllers

Also the section mentioned as mentioned here (https://docs.openshift.com/container-platform/3.7/release_notes/ocp_3_7_release_notes.html#ocp-37-public-pull-url-provided-for

[2017-12-25 19:27] stevekuznetsov commented on #3819
We're running into this in Origin CI as well. We use Jenkins to create a project per image bundle for deploying out to a remote cluster. We would love to be able to label our projects to clean them up. If I'm the requester of the project and can delete it, I should be able to have _some_ meany by which I can manage all of the project I've requested. Labels are the k8s approach to this problem else

[2017-12-25 19:27] stevekuznetsov commented on #3819
/cc @mfojtik @deads2k @soltysh

[2017-12-25 20:29] gauravojha opened #17928 "Getting Started example: Build failure"
I was trying the learn OpenShift Origin, and was going through the Getting Started example. I did all steps prior to creating a new application that combines a builder image for Node.js. I assume I have configured the docker registry using  oc adm registry.  The output shows .

But in the build logs I see an error as

Pushing image 172.30.134.94:5000/test/nodejs-ex:latest ...
Registry server Addre

[2017-12-25 21:32] gauravojha commented on #17928
https://github.com/docker/distribution/issues/1874

Solved it. Realized my insecure registry wasn't set up correctly.

[2017-12-25 21:32] #17928 closed

[2017-12-26 05:13] enj commented on #3819
Projects are already annotated with the user who requested them.

[2017-12-26 11:38] i-prakasa opened #17930 "Setting docker storage openshift"
I tried to install openshift. But I stuck on this part.

https://docs.openshift.com/container-platform/3.6/install_config/install/host_preparation.html#configuring-docker-storage
I tried use option A,
My partition disk like this:

[code]
Then I set docker setup like this:
[code]
But when run docker-storage-setup I got this error.
[code]
Why not valid?
In fact I have that partition.
Anyone can help

[2017-12-26 14:29] fvillain commented on #14055
Hello,

We have same problem on a cluster running on `v1.5.1` (origin) , we have plugin for network : `ovs-subnet`

Looks like the building containers are missing a SNAT rule to go out on the internet

Did you guys manage to find a solution ?

[2017-12-26 18:21] fmontaldo commented on #17919
Hi,

I made this installation.

Three server

master
node01
node02

•	Master node has up to 16G memory.
•	On all nodes, free space on physical volume is required to create a new volume group for Docker Direct LVM.
•	The /var partition need to have 40 GB of space

Each of the nodes got the same configuration.

On All Nodes, Create a user for installation to be used in Ansible and also grant root pr

[2017-12-26 18:29] pb82 opened #17931 "oc cluster up failing"
I'm having trouble running `oc cluster up` on my Mac. It always fails with:

[code]

The firewall on the machine is completely disabled and it succeeds on a Linux machine in the same network. I've created a gist with the logs of the origin container: https://gist.github.com/pb82/139efdc588dd7921b3347058b4477c6f

Any ideas or suggestions?

##### Version
oc v3.7.0-rc.0+e92d5c5
kubernetes v1.7.6+a08f

[2017-12-27 09:56] eivantsov opened #17933 "Occasional bad permissions"
Occasionally when deploying apps, I can see that directories mounted by PVCs have bad permissions. For example, when deploying Eclipse Che Multi-User, we deploy Postgres, Keycloak and Che itself. Sometimes, we see errors when [PSQL] (https://github.com/eclipse/che/tree/master/dockerfiles/init/modules/openshift/files/scripts/multi-user/postgres) is initialized:

[code]
The same may happen when Keyc

[2017-12-27 11:23] agajdosi opened #17934 "Service is not available after rollout with v3.7, v3.9, v3.10"
After update to `oc 3.7` in `Minishift` I am facing small issue when I test deployment of some sample applications. With `oc 3.7` Minishift starts VM well, OpenShift is up and running, the tests then deploy sample application, waits until it rollouts successfully and then make a http request to deployed service, however with `oc 3.7` the service sometimes is not available - this happens on just so

[2017-12-27 13:00] slmzig opened #17936 "Can not pull image from gitlab private registry"
I Can not pull image from gitlab private registry

How to use the Container Registry

First log in to GitLab’s Container Registry using your GitLab username and password. If you have 2FA enabled you need to use a personal access token:

docker login registry.gitlab.com

##### Version

[code]

##### Steps To Reproduce
1. `oc new-project test2`
2. `oc project test2`
3.
[code]
4.
[code]

5.
[code]

#

[2017-12-27 13:13] slmzig commented on #17936
Any ideas?

[2017-12-27 13:55] ybaumy opened #17937 "openshift_version cannot be determined after move to foreman/katello repositories"
i am currently working on automatically installing an openshift cluster via foreman/katello. katello is the repository management plugin for foreman.
since i added my cluster nodes as clients to katello and they get their repos from there. i can no longer install the playbooks.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. add nodes to katello 3.5 serve

[2017-12-27 14:02] piar1989 commented on #17936
I have the same problem

[2017-12-27 14:18] FromZeus opened #17938 "Deployment stuck on waiting for image update at ImageStreamTag"
Deployment stuck on waiting for image update at ImageStreamTag

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.244:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. `oc new-project test`
2. Login to openshift registry
3. `docker pull python:3.5-alpine`
    `docker pull rabbitm

[2017-12-27 14:33] piar1989 commented on #17936
I resolve this problem creating secrets from root user.

[2017-12-27 16:04] stevekuznetsov commented on #3819
I want to subdivide the projects I have requested to select between them. I want to `oc get projects --selector ...`. I cannot use the annotation for this without listing and filtering on my end.

[2017-12-27 20:18] fmontaldo opened #17939 "openshift origin 3.7 pod error"
##### Version
oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
[code]

##### Current Result

##### Expected Result

##### Additional Information
[code]

After I the registry for docker as per the openshfit documentation it start to fail

[2017-12-27 22:18] cscetbon commented on #17642
@megian Can you tell me why you closed this issue. I got the same error. Even using `catalog` instead of `servicecatalog` doesn't help

[2017-12-27 22:22] megian commented on #17642
The issue is still open, but i guess more an openshift-ansible issue. That's why I created another issue here: https://github.com/openshift/openshift-ansible/issues/6377

[2017-12-27 22:43] cscetbon commented on #17642
Okay I see. I have the same issue with `minikube` :(

[2017-12-27 22:50] megian commented on #17642
Reopen the issue, because it seams not only to be openshift-ansible related.

[2017-12-27 22:56] megian opened #17940 "couldn't get resource list for servicecatalog - crashes controllers"
The unavailability of the servicecatalog crashes loops all OpenShift controllers and does result in a complet cluster outage. After removing the servicecatalog api, everything went back to green.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server
openshift v3.9.0-alpha.0+a0adcf4
kubernetes v1.8.1+0d5291c

##### Steps To Reproduce
1. Un

[2017-12-28 01:37] GrahamDumpleton commented on #17197
FWIW, this problem in OpenShift 3.7 affects using DockerHub as well, and not just Red Hat registry as in linked Bugzilla report.

If you don't want to muck around with raw resource objects, you can create the secret from the advanced options of an existing build configuration (no need to save the build and link it). Need to use that way because _Create Secret_ under _Secrets_ viewer in web console

[2017-12-28 03:11] GrahamDumpleton opened #17941 "Add --push-secret option to oc new-build for when using --to-docker --to with registry requiring auth."
The ``oc new-build`` option allows you to specify ``--to-docker`` and ``--to`` to have resulting build pushed to a remote image registry, but it doesn't seem to be possible to specify a push secret at the same time, which means it isn't possible in one step to do this for a remote image registry which requires authentication.

Since pushing to a remote registry such as DockerHub would always requi

[2017-12-28 06:56] esevan commented on #14195
In my case, one of the iptables rule has problem of that and resolved with following command for every node where the kube proxy is running.
[code]

[2017-12-28 11:15] pb82 commented on #17931
Nevermind, the problem was that `socat` was installed but not working because `libreadline` was not linked. Closing this now.

[2017-12-28 11:15] #17931 closed

[2017-12-28 13:36] budhrg commented on #17934
Found it is taking longer time for the service to be up. Can be 30 seconds to 2mins.

[2017-12-28 13:50] megian opened #17943 "daemonset does not create pods until the controller is restarted"
TASK [openshift_storage_glusterfs : Wait for GlusterFS pods] ***********************************************************************************************************************
Thursday 28 December 2017  13:31:15 +0000 (0:00:46.481)       0:05:53.222 *****
FAILED - RETRYING: Wait for GlusterFS pods (30 retries left).
FAILED - RETRYING: Wait for GlusterFS pods (29 retries left).
FAILED - RETRYI

[2017-12-28 14:15] DanyC97 commented on #17632
@cmoulliard sorry to hijack the thread, i'm curious on how were you able to enable the Ingress K8 resource and not use the OS router?

[2017-12-28 16:41] tomcooperca opened #17944 "Unable to update resource using REST API PATCH, returns 415 Unsupported Media Type"
Executing the following REST API call results in a 415, despite using a supposedly supported content type. Executing the same call using a known unsupported media type (such as `text/plain`) returns a expected 406 with list of valid content types that still result in a 415:

PATCH /oapi/v1/namespaces/myNamespace/deploymentconfigs/myDeploy
Content-Type: application/json
Accept: application/json
Bod

[2017-12-28 16:54] rkhshan commented on #8997
Error: did not detect an --insecure-registry argument on the Docker daemon
 Solution:
     Ensure that the Docker daemon is running with the following argument:
        --insecure-registry 172.30.0.0/16

Fix:
# vi /etc/docker/daemon.json
{ "insecure-registries": ["172.30.0.0/16"] }

Then restart Docker && sudo oc cluster up

[2017-12-28 18:10] raffian opened #17945 "What is the standard logging convention for platform events?"
oc v3.6.173.0.49
kubernetes v1.6.1+5115d708d7

General Question
============
We're using splunk to collect log data from `/var/log/messages`. and want to develop queries for detecting [platform events](https://docs.openshift.com/container-platform/3.6/dev_guide/events.html) as they occur, regardless of pod, node, container, etc, we want to collect everything. Some platform event names are sufficie

[2017-12-29 03:43] #16773 closed

[2017-12-29 07:25] lanliu99 opened #17946 "Very slow for installing openshift"
When using advanced installation with ansible to install openshift 3.7 on RHEL7.3, process is very slow.
##### Version
in /etc/ansible/hosts:
openshift_service_catalog_image_version=v3.7

##### Steps To Reproduce
1. [step 1]
Config hosts for disconnected installation according to
https://access.redhat.com/documentation/en-us/openshift_container_platform/3.7/html-single/installation_and_configurati

[2017-12-29 08:37] megian opened #17947 "Verify heketi service fails, because of not matching glusterfs_heketi_admin_key"
If you run playbooks/deploy_cluster_glusterfs.yml multiple times, the deployment of deploy-heketi does still exists with another admin key. So the deployment of deploy-heketi must be always deleted or the playbook should get the key from the deployment.

A workaround is to add the task after "Delete pre-existing heketi resources" in roles/openshift_storage_glusterfs/tasks/glusterfs_common.yml

- n

[2017-12-29 09:21] praveenkumar opened #17948 "skip_pv marker file doesn't work as expected for oc cluster up"
As per https://github.com/openshift/origin/pull/16631 a user can skip pv creation by adding marker file to pv directory.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
[code]

##### Current Result

It still create PVs.

##### Expected Result

It should skip creating PVs.

[2017-12-29 14:20] sylvainar commented on #17936
Same here, I can pull the image when the project visibility is on public, but not on private, I've made the whole workflow of adding secrets and stuff, and I can pull with my access token from my computer.

I'm trying to pull from Gitlab.com integrated registry.

[2017-12-29 14:39] slmzig commented on #17936
It works only when I add to pod

`serviceAccount: default`

and run yaml from console, but from web it not works

[code]

[2017-12-29 14:49] subodhp opened #17949 "Openshift Pods reporting AGE<invalid>"
The Openshift Origin 3.7 on RHEL 7.4 reporting Registry/Registry-Console/Router pods ages as <invalid> in "oc get pods".

openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

[root@myadmin ~]# oc get pods --all-namespaces=true
NAMESPACE   NAME                       READY     STATUS    RESTARTS   AGE
default     docker-registry-1-j4rds    1/1       Running   0          <invalid>
default     regis

[2017-12-29 15:06] sylvainar commented on #17936
LOL, got it.

So gitlab make the authentification in two times, first gitlab.com then registry.gitlab.com. Actually the error we got was the first one that was being dropped.
Few people got this error because usually they put their gitlab in domain.tld and the registry in domain.tld:5000 so the authentification works.

Just duplicate what you've done for registry.gitlab.com, but for gitlab.com.

[2017-12-29 17:17] wtrocki commented on #14053
Seems that all occurrences were removed. Login go is now in: https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/login/login.go

Documentation still mentions that parameter here:
https://github.com/openshift/origin/blob/c0ea12300305269c3d4cfdc95ffd1ef48102c70e/docs/cli.md

[2017-12-29 17:43] wtrocki commented on #2827
It looks like this issue is outdated and it can be closed.
Only place when login is happening:
https://github.com/openshift/origin/blob/master/hack/test-cmd.sh#L107

End to end tests:
https://github.com/openshift/origin/blob/master/hack/test-end-to-end.sh#L45-L52

[2017-12-29 17:50] stevekuznetsov commented on #2827
We still do quite a lot of `oc login` in the tests but I'm not seeing any use of `oc logs` with an elevated token or following an admin `oc login` in `test/end-to-end/core.sh`

[2017-12-29 21:00] pacepace opened #17951 "After upgrade from 3.6 to 3.7, service catalog ansible playbook does not set etcd servers for apiserver properly"
Upgraded a 3.6 Cluster to 3.7.  Now attempting to install the Service Catalog via the Ansible openshift-ansible/playbooks/openshift-service-catalog/config.yml playbook (just pulled from master).  The kube-service-catalog apiserver does not get configured with the proper etcd servers.  All three etcd servers are listed in the Ansible inventory file.

##### Version
c v3.7.0+7ed6862
kubernetes v1.7.6

[2017-12-29 21:08] pacepace opened #17952 "After upgrade from 3.6 to 3.7, service catalog ansible playbook does not configure controller manager ssl properly"
Upgraded a 3.6 Cluster to 3.7.  Now attempting to install the Service Catalog via the Ansible openshift-ansible/playbooks/openshift-service-catalog/config.yml playbook (just pulled from master).  The controller-manager does not start because of an error with certificates.  It gets the following error:

request.go:1038] body was not decodable (unable to check for Status): Object 'Kind' is missing i

[2017-12-30 20:50] #17736 closed

[2017-12-31 20:36] smarterclayton commented on #3819
Unfortunately this requires us to define either a reserved namespace for
labels the user can set, or vice versa, and is not necessarily safe from a
backwards compatibility security perspective.

It's still something important we need to do.

On Wed, Dec 27, 2017 at 11:04 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-12-31 20:37] smarterclayton commented on #6283
The hostname will *only* be used if you have set the config.  I would
recommend using the master-config.yaml setting and then using "oc adm
migrate image-references" to handle the change.

On Mon, Dec 25, 2017 at 6:53 AM, Bart Van Bos <notifications@github.com>
wrote:

[2018-01-01 12:30] alikhajeh1 opened #17954 "Reduce GitLab oauth's scope from api (full access) to read_user"
Currently the [GitLab oauth implementation](https://github.com/openshift/origin/blob/master/pkg/auth/oauth/external/gitlab/gitlab.go#L20-L27) uses the `api` scope, which results in users seeing this from GitLab: `Full access to GitLab as the user, including read/write on all their groups and projects`.

GitLab introduced `read_user` in version 8.15, which seems better suited for this purpose, the

[2018-01-01 18:11] bparees commented on #17867
I'm converting this to a blocking bug since we don't seem to have a good process for ensuring github issues get resolved before shipping.
https://bugzilla.redhat.com/show_bug.cgi?id=1530069

[2018-01-01 18:11] #17867 closed

[2018-01-02 09:45] slmzig commented on #17936
@sylvainar Thanks

[2018-01-02 09:46] #17936 closed

[2018-01-02 10:32] wtrocki opened #17956 "[Proposal] Unify names for template parameters"
## Motivation

When working with OpenShift templates sometimes there is need to merge two or more templates together to create end user application template. Currently many upstream templates have the same names which makes it difficult to quickly merge two templates.

While default OpenShift workflow suggest to create all services separately in practical deployments users will always need end use

[2018-01-02 12:09] tnozicka commented on #17924
also on release-3.7 https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17620/test_pull_request_origin_end_to_end/7355/

[2018-01-02 12:11] soltysh opened #17958 "Restore registry tests as registry moved to external repo"
As part of the [1.8 rebase](https://github.com/openshift/origin/pull/17115) (https://github.com/openshift/origin/commit/4e138933d41d0d31cad139f6687e3951df1345a6 specifically) removed registry from origin's repository to an external one -> https://github.com/openshift/image-registry.
The problem with that is that some tests where removed along the way, we need to investigate and bring those missing

[2018-01-02 12:14] tnozicka commented on #17924
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_end_to_end/7339/

blocks release-3.7 branch

[2018-01-02 12:28] soltysh commented on #16065
The only ones that are left are godeps cleaning/munging but after talking with @deads2k I'm not going to. With all the rest either migrated to https://github.com/openshift/origin/issues/17428 or separate issues I'm closing this one.

[2018-01-02 12:28] #16065 closed

[2018-01-02 12:46] mfojtik commented on #17954
@alikhajeh1 the "read_user" exists from version 8.15 and up, right? If users deploy lower versions, this will break the auth?

[2018-01-02 13:04] tnozicka commented on #17924
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17620/test_pull_request_origin_end_to_end/7360/

[2018-01-02 13:06] tnozicka commented on #17924
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17599/test_pull_request_origin_end_to_end/7361/

[2018-01-02 13:07] tnozicka commented on #17924
@stevekuznetsov can this be test-infra related?

[2018-01-02 13:30] sdodson commented on #6283
@boeboe how'd you upgrade from 3.6 to 3.7? the upgrade playbooks shouldn't have removed OPENSHIFT_DEFAULT_REGISTRY from /etc/sysconfig/atomic-openshift-master-{api,controllers} If it did then we need to fix that. You anytime we update those files they should create a timestamped backup file you can check for the diff.

[2018-01-02 13:33] alikhajeh1 commented on #17954
@mfojtik yeah it was added in 8.15 (so released just over a year ago): https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/5951
Yeah it'll probably break auth for older GL versions so I wonder if https://docs.openshift.org/latest/install_config/configuring_authentication.html#GitLab could have it as a configuration option?

[2018-01-02 14:04] bortek commented on #17952
I am trying the same thing on ver 3.7.14 and I get the same error. Any progress or finding on this ? I can see two bugzilla reports without any answer.

https://bugzilla.redhat.com/show_bug.cgi?id=1523625
https://bugzilla.redhat.com/show_bug.cgi?id=1526150

Can anyone comment on this?

[2018-01-02 14:11] bortek commented on #17642
Same issue here, any progress ?

[2018-01-02 14:19] mfojtik commented on #17901
Seen several times today (https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17726/test_pull_request_origin_extended_conformance_gce/13541/)

[2018-01-02 14:20] mfojtik commented on #17901
@bparees the second failure in the linked test report seems to be build related

[2018-01-02 14:26] bparees commented on #17901
1) Separate flake issues should be opened for separate failures.  Otherwise we're just polluting the discussion.

2) if you're referring to this: `StdErr: "Error from server (Conflict): Operation cannot be fulfilled on clusterrolebindings.authorization.openshift.io \"system:build-strategy-custom\": the object has been modified; please apply your changes to the latest version and try again",` there

[2018-01-02 14:33] php-coder commented on #17946
Looks like it's related to ansible installer and it's better to create it there: https://github.com/openshift/openshift-ansible

CC @sdodson

[2018-01-02 14:37] bparees commented on #17956
There is a consistency tradeoff involved in doing this, I think it will need more discussion.

There's also a tradeoff in terms of the intended purpose of the existing templates (between being starting point/examples intended to be modified, and being official product content intended to be consumed directly).

[2018-01-02 14:38] bparees commented on #17958
@soltysh are you saying we need to enable tests in the origin repo, or in the image-registry repo?

I'm pretty sure @dmage already re-enabled all tests in the image-registry repo, but i'll let him assess this.

[2018-01-02 14:41] php-coder commented on #17927
CC @stevekuznetsov

[2018-01-02 14:49] php-coder commented on #17933
Does it happen always on the same namespace? What PostgreSQL image are you using (is it official from dockerhub or it's https://github.com/sclorg/postgresql-container or something else)?

I suspect that it could be related to SCC: if a pod is being admitted by `restricted` SCC, it will get dynamically allocated UID. So, it's possible that in the different runs, a pod has different UIDs.

[2018-01-02 14:52] php-coder commented on #17930
It looks like an issue in the documentation: https://bugzilla.redhat.com/show_bug.cgi?id=1436369

CC @vikram-redhat

[2018-01-02 15:02] rhvgoyal commented on #17330
A fix has been backported. We just need to make sure appropriate build is being used.

https://github.com/projectatomic/docker/pull/288

[2018-01-02 15:03] php-coder commented on #17937
Look like an issue in the openshift-ansible, so it's better to fill the issue there, but as far I can see, the issue already exist: https://github.com/openshift/openshift-ansible/issues/6560 and https://github.com/openshift/openshift-ansible/issues/6568

CC @sdodson

[2018-01-02 15:09] php-coder commented on #17939
I'd start from the following:

[2018-01-02 15:29] tnozicka commented on #17330
thanks; @stevekuznetsov is this something you can verify?

[2018-01-02 15:33] sdodson commented on #17937
@ybaumy can you confirm that the hosts have /usr/bin/repoquery from the yum-utils package? I suspect we just don't have that installed and you can work around this by ensuring that it's installed on all hosts prior to running openshift-ansible.

If it's installed then we likely need to fix a bug in our repoquery module, can you provide the output of
`/usr/bin/repoquery --quiet --pkgnarrow=repos --

[2018-01-02 16:08] soltysh commented on #17958
@bparees iirc the idea was to have some of those tests in origin, at least the ones that can and should exist there. @mfojtik might remember the details, as he was the one stripping that part out 😉

[2018-01-02 16:49] eivantsov commented on #17933
@php-coder thanks for your reply

We use s2i strategy for Postgres and Keycloak images (to provide our own config that is customized before being used), but that is not the point here I think.

Yes, it looks like when a PV is being re-used it has bad permissions. Yes, we run OpenShift with a dynamically allocated UID - this is the default I think.

Can you tell what can go wrong in this sequence?

[2018-01-02 17:31] php-coder commented on #17933
Yes, you have this issue because you're re-creating namespaces. Every namespace has annotation openshift.io/sa.scc.uid-range that contains a range of uids that will be used by the pods in this namespace. When you create a new namespace you have a different range and hence a different UID.

Typically we're using groups and make all the files writable for a group, so they don't depend on the UID. Bu

[2018-01-02 17:51] eivantsov commented on #17933
@php-coder thanks - yes, we suspected smth like that. And we do handle such situations in other scenarios by setting write permissions for a group for directories we're particularly interested in. However, we cannot do so in certain cases, for example when using official images.

Anyway, thanks for shedding some light on the problem. It's more or less clear what workarounds are worth trying now.

[2018-01-02 17:53] enj commented on #17924
I have seen this as well: https://openshift-gce-devel.appspot.com/pr/17789

[2018-01-02 18:08] spadgett commented on #17905
https://github.com/openshift/origin-web-console/pull/2563 will let you see builder images in your own project in 3.9 as long as they're properly annotated as builders. If you use Add to Project -> Browse Catalog from within the project that has the builder, it'll show up in the catalog.

[2018-01-02 18:24] bparees commented on #17933
@php-coder it sounds to me like the PVs are not being recycled properly.  When the PV is assigned to a new pod (whether in a new namespace or not), it should not have any content from the prior usage, thus prior permissions should be irrelevant.

If there's something oc cluster up needs to configure to ensure the PVs are properly recycled, then we'll need guidance from the storage team on that.  a

[2018-01-02 18:30] jwforres commented on #17905
@lance does that answer all your questions? can this be closed now?

[2018-01-02 18:56] php-coder commented on #17933
I agree it could be leftovers from the previous run. I had another theory where PV is empty but has a different owner.

@bparees Thank you!

[2018-01-02 19:48] lance commented on #17905
@spadgett when you say "properly annotated as builders", does that mean something different than what is described in this [documentation](https://docs.openshift.com/container-platform/3.6/dev_guide/managing_images.html#writing-image-streams-for-s2i-builders)?

[2018-01-02 20:04] jwforres commented on #17905
@lance it needs to have the "builder" tag on it as shown in bullet 7 in that doc

[2018-01-02 20:15] lance commented on #17905
@jwforres ok thanks. I think that covers it then. I'll go ahead and close this.

[2018-01-02 20:15] #17905 closed

[2018-01-02 22:10] badreddine16 opened #17963 "An error occurred getting metrics."
When you launch the cluster, (current version 3.7.0), impossible to access/launch the metrics app.
## Using the URL :
Application is not available
The application is currently not serving requests at this endpoint. It may not have been started or is still starting.
## After investigation, you have an error :
Failed to pull image "openshift/origin-ansible:v3.7.0": rpc error: code = 2 desc = Error r

[2018-01-02 22:31] sjenning commented on #17924
My PR on the 3.8 branch is hitting this on _every_ run
https://openshift-gce-devel.appspot.com/pr/17839

[2018-01-02 22:32] sjenning commented on #17924
Same on a 3.7 PR (merged manually):
https://openshift-gce-devel.appspot.com/pr/17722

[2018-01-03 05:56] eivantsov commented on #17933
@php-coder @bparees I'll make sure I'll check the PV when permission denied happens again to see if the PV has wrong permissions or it has leftovers from previous runs.

Maybe there are clues in OpenShift events - the ones related to recycler pod.

[2018-01-03 07:59] lanliu99 commented on #17946
Hi, Coder,

That works for me.

Best regards

Lan

[2018-01-03 07:59] #17946 closed

[2018-01-03 08:00] lanliu99 commented on #17946
After using the latest playbook yml file, issue was solved.

[2018-01-03 12:00] bigheidi opened #17965 "TASK [openshift_hosted : Poll for OpenShift pod deployment success]"
[code]

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://gtlocbvb03824:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. fresh install on centos 7.4 Linux gtlocbvb03824 3.10.0-693.11.1.el7.x86_64 #1 SMP Mon Dec 4 23:52:40 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[code]

script runs as root

[2018-01-03 12:11] bigheidi commented on #17965
Ok, I just stop the output of *oc adm diagnostics* .... here ist the complete output.

[12:57:38 root@gtlocbvb03824 /etc/ansible $] oc adm diagnostics
[Note] Determining if client configuration exists for client/cluster diagnostics
Info:  Successfully read a client config file at '/root/.kube/config'
Info:  Using context for cluster-admin access: 'default/gtlocbvb03824:8443/system:admin'
[Note] Pe

[2018-01-03 14:29] pweil- commented on #17945
If you are trying to track all events I think what you may want to look into is the `observe` command.  That would allow you to watch for all events in the system and receive the event api object for processing rather than trying to scrape the log messages.

Closing this as it is more of a general support question and should be directed to the mailing list or stack exchange.

[2018-01-03 14:29] #17945 closed

[2018-01-03 14:38] bparees commented on #17786
@dmage can you give a reason for assigning this back to @pweil- ?  I know the master team broke this in the rebase (and maybe owns the fix for it?) but i'm not sure *they* know that unless you explain it.

[2018-01-03 14:38] pweil- commented on #17934
@knobunc any reason you can think of that services would be delayed getting endpoints?

[2018-01-03 14:40] dmage commented on #17786
@bparees because I know nothing about quota.

[2018-01-03 14:40] bobbydeveaux opened #17968 "Build Secret Not working for Git Clone"
Having trouble using `git clone` over ssh within a Dockerfile. Permission denied.

##### Version
 oc version
oc v3.7.0-rc.0+e92d5c5
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth

Server https://51.179.219.187:8443
openshift v3.7.0-rc.0+e92d5c5
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
Builder Secret not working

`ssh-keygen -t ed25519 -C "deploy@me.com" -f deploy_key`

**Added key

[2018-01-03 14:43] bobbydeveaux commented on #17968
I understand sourceSecret is meant for S2I builds, which is why I have also added the 'secrets' stuff too. It's a public repo too!

Any clues? :)

Much appreciated

[2018-01-03 14:43] bparees commented on #17786
@mfojtik @deads2k : My understanding is that @dmage worked around this in the test by making it wait longer (10mins, to get a relist) but that @deads2k was looking into fixing the quota behavior that was broken in the rebase.

[2018-01-03 14:45] bigheidi commented on #17965
Hi, funny further explain:
Problem seems to be relatedt to docker.io/openshift/origin-service-catalog:latest.
Command to start : /usr/bin/service-catalog

tail -f /var/log/messages

Jan  3 15:43:32 gtlocbvb03824 origin-node: I0103 15:43:32.488501    7280 kuberuntime_manager.go:489] Container {Name:controller-manager Image:docker.io/openshift/origin-service-catalog:latest Command:[/usr/bin/service-

[2018-01-03 14:49] bparees commented on #17925
@gabemontero "no match for xxx" is not an error during resource creation, so it's strange that it's reported as such.  As for the message itself, "unable to locate resource for xxx" might be more helpful, or maybe @GrahamDumpleton has a different suggestion for what would be informative to him.

It would also be nice if we could skip outputting the "errors occurred while determining argument types

[2018-01-03 14:54] simonpasquier commented on #17901
I had a look at the logs and it seems that the Prometheus pod never gets to the ready state (and the curl exit code is 7 which means "Failed to connect to host"). So I'd say that the error is unrelated to Prometheus itself but rather Kubernetes not being able to schedule the pod?

From https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17726/test_pull_request_origin_extended

[2018-01-03 15:21] php-coder commented on #17968
@openshift/sig-developer-experience

[2018-01-03 15:25] php-coder opened #17969 "[Conformance] deploymentconfigs when tagging images should successfully tag the deployed image fails with "imagestreamtags.image.openshift.io "sample-stream" not found""
[code]
Seen here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17856/test_pull_request_origin_extended_conformance_gce/13573/

[2018-01-03 15:44] bparees commented on #17968
first off, since you're doing a binary build sourceSecret is irrelevant.

It looks like you're trying to inject a secret so you can use it to do the git clone, but if your repo is public, i'm not sure why you're doing that either.

this:
[code]

is going to make the content of deployKey available in your docker build working directory, but I don't see your Dockerfile referencing it.  I do see your

[2018-01-03 15:51] bobbydeveaux commented on #17968
Thanks @bparees  - full understand sourceSecret is irrelevant, was kinda clutching at straws.

The git_ssh is referenced in my issue, it's to skip host name verification. If do a standard 'git clone' without the git_ssh stuff, I get the host name verification error, as this happens before checking ssh credentials.

I appreciate this is a public repository, but even public repositories requires ssh

[2018-01-03 16:01] bparees commented on #17968
you don't need git_ssh to skip verification, "GIT_SSL_NO_VERIFY=true" covers that.

I still don't see where "git_ssh" is coming from.  Is it part of the local directory you are doing a binary build from?

If you want to use the content of "deployKey" during your git clone operation, then you need a COPY statement that will copy it from the docker build workdir into your image so it can be used by

[2018-01-03 16:10] bparees opened #17970 "deploymentconfigs with custom deployments [Conformance] should run the custom deployment steps"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17699/test_pull_request_origin_extended_conformance_gce/13608/

[2018-01-03 16:17] bobbydeveaux commented on #17968
Thanks.

I'm not able to use the source for an S2I image, as this is an app being ported from Heroku with a rather large Dockerfile. I'm just simplifying for this example.

The git_ssh file simply has this:

[code]

But, as you say, "GIT_SSL_NO_VERIFY" is meant to sort the host name thing, so what happens if I leave it out?

[code]

[code]

So, that didn't work. Hence why I'm using the git_ssh hac

[2018-01-03 16:22] raffian commented on #17945
I'm assuming the use of {{observe}} requires a Go implementation? If so, is there a simple example demonstrating its use? I've never programmed in Go

[2018-01-03 16:30] pweil- commented on #17945
It is a command available via the oc binary, you call out to a script you write yourself that can be a non-go implementation.

An example from the help docs of that command that uses shell scripts for some of the various options:

[code]

There is also an image published: https://hub.docker.com/r/openshift/observe/

[2018-01-03 16:39] adawolfs commented on #17923
I have been noticed that my containers cant resolve internet domains I'm able to handle it just after configure 8.8.8.8 as nameserver in /etc/resolv.conf by default it uses the node IP as nameserver, if I try to ping some domain from the node it resolves, any idea?

[2018-01-03 16:40] soltysh commented on #17780
This is happening very frequently, I'll dig into it when I'm back home. But I'm bumping this to P1 and closing the other bug.

[2018-01-03 16:41] soltysh commented on #17781
Closing as dupe of #17780

[2018-01-03 16:41] #17781 closed

[2018-01-03 17:08] adawolfs commented on #17923
After see this
https://developers.redhat.com/blog/2015/11/19/dns-your-openshift-v3-cluster/

I and check over the nodes I've found that dnsmasq is up and running so I've added this lines to the **/etc/dnsmasq.conf**
[code]

[2018-01-03 17:41] aveshagarwal commented on #17782
Since https://github.com/openshift/origin/issues/17682 is closed, I am closing this too as this was failing for the same reason. Please reopen if the issue persists.

[2018-01-03 17:41] #17782 closed

[2018-01-03 18:07] sudhirpandey commented on #16051
facing exactly same issue here in multi master setup, it used to just work fine since we deployed, now we are getting this
The logs on master seems to produce something like this
[code]

The build was initiated and is done by service account builder. Default policy in the project is looks okey too
[code]

[code]
Not sure what we are missing , especially given that it used to just work fine.

[2018-01-03 19:00] bparees commented on #17968
Using git source is not tied to doing an s2i build.  So you could still use a git source input with your Dockerfile if you wanted.

not precisely.  "deploykey" is a secret that contains a set of keys.  Those keys will be mounted in as files.  It is those files you need to copy.

Take a look at this example:

Some secrets that are defined:
https://github.com/openshift/origin/blob/master/test/extend

[2018-01-03 19:10] simo5 opened #17974 "[github.com/openshift/origin/vendor/k8s.io/apiserver/pkg/registry/generic/registry TestStoreWatch] testing.go:699: race detected during execution of test"
Flaked:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17640/test_pull_request_origin_unit/7499/

[code]

[2018-01-03 19:45] bobbydeveaux commented on #17968
Excellent thanks for those examples! I shall first play around with those secrets again, but as you say it's not ideal to have that key on the image..!

Knowing that I can use the GitHub source AND use a Dockerfile is very interesting. I've not seen any docs/examples surrounding that one? Dare suppose you have any?

I shall have a play with those COPY secret stuff for now.

Thanks again! :)

[2018-01-03 19:46] bparees commented on #17968
https://github.com/openshift/origin/blob/master/examples/sample-app/application-template-dockerbuild.json#L96-L165

[2018-01-03 20:20] rkhshan commented on #3783
try

$ oc new-app registry.access.redhat.com/jboss-webserver-3/webserver31-tomcat8-openshift

The URL that ur using doesn't seem to be exist.

[2018-01-03 20:45] bparees commented on #17659
stack trace has been added, nothing else we can do on this until/unless it creates w/ the stack trace code in place.

[2018-01-03 20:45] #17659 closed

[2018-01-03 20:46] MarkRx opened #17977 "CLI panic when running oc status"
oc cli panics when running oc status:

##### Version

This uses the windows oc client.

##### Steps To Reproduce
1. Run oc status. A panic occurs.

State of project:

[2018-01-03 20:47] bparees commented on #17651
PVs were added to address this, closing in hopes we don't see it again.

[2018-01-03 20:47] #17651 closed

[2018-01-03 20:53] bparees commented on #17618
@dmage @legionus i think i sent a different flake your way recently that was also caused by a 404 result against the /v1 endpoint.  Perhaps you can combine that issue with this one.

[2018-01-03 20:58] tomcooperca commented on #17944
As an aside, I did the "same" change using `oc patch` on the CLI. It was updated successfully.

[code]

[2018-01-03 20:59] bparees commented on #17618
this is the related issue i was thinking of: https://github.com/openshift/origin/issues/17897

[2018-01-03 21:38] jcantrill commented on #17963
@jupierce Can you comment regarding the tagging for this ansible image?

[2018-01-03 21:52] dmage commented on #17958
@soltysh thanks, I found in this commit 2 more tests.
https://github.com/openshift/origin/commit/4e138933d41d0d31cad139f6687e3951df1345a6#diff-4214e89bfb45549e49735af038578123
https://github.com/openshift/origin/commit/4e138933d41d0d31cad139f6687e3951df1345a6#diff-d1daafcc0a0ef1e009d0dd44848d8ac4

[2018-01-04 00:51] php-coder commented on #17977
CC @juanvallejo

[2018-01-04 03:54] stevekuznetsov commented on #17881
We have this code in the script:

[code]

So since we don't see that, `go test` didn't spit out anything to `stderr` and failed without any failed tests? Weird. Can you reproduce this?

[2018-01-04 03:55] stevekuznetsov commented on #17924
If it's hitting 3.7 and 3.8 I would expect this to be a Go version issue. We have not had the possibility of testing non-`master` Origin PRs with different versions of Go ever in the past, so I would expect those tests to simply be broken. I would suggest testing locally and merging manually for now. We anticipate better support in the future.

[2018-01-04 03:57] stevekuznetsov commented on #17330
We're running this in CI:

[code]

[2018-01-04 04:01] stevekuznetsov commented on #17927
/cc @smarterclayton

Unclear why this image would change in size on RPM install versus copy.

[2018-01-04 04:17] lanliu99 opened #17980 "Does openshift disable access to internet"
##### Version
OCP runs on RHEL7.3 which is a guest machine on windows 10/virtuebox
openshift v3.7.14
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### Steps To Reproduce
1. After installation using advanced mode, openshift runs well
2. dig www.google.com
; <<>> DiG 9.9.4-RedHat-9.9.4-51.el7_4.1 <<>> www.google.com
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR,

[2018-01-04 07:59] eivantsov opened #17981 "Processes unavailable by service: port"
### Description
Can not access to container port via service on local OCP.

### Reproduction Steps

1. Run a local OCP (oc cluster up) or MiniShift
2. Create the following objects via OCP console:
  - Create a project;
  - Click `Add to Project`
  - Click `Import YAML/JSON`
  - Paste the following YAML and click `Create`

<details>
<summary>Objects to import</summary>

[code]
</details>

3. Open t

[2018-01-04 09:36] tnozicka commented on #17873
namespace setup failed
dupe of https://github.com/openshift/origin/issues/17805

[2018-01-04 09:36] #17873 closed

[2018-01-04 09:38] dmage commented on #17618
@miminar nice, it's a very plausible scenario.

[2018-01-04 09:43] mfojtik commented on #17977
@MarkRx can you please provide YAML version of that deployment config?

[2018-01-04 09:48] bigheidi commented on #17965
Here I try again to proved more details.

[10:30:08 root@gtlocbvb03824 /tmp $] oc status -v
In project default on server https://gtlocbvb03824:8443

https://docker-registry-default.router.default.svc.cluster.local (passthrough) (svc/docker-registry)
  dc/docker-registry deploys docker.io/openshift/origin-docker-registry:v3.7.0
    deployment #3 deployed 21 hours ago - 0 pods
    deployment #2 depl

[2018-01-04 09:53] soltysh commented on #17780
It looks like I can reproduce this locally, at least from time to time... digging in more..

[2018-01-04 09:59] mfojtik commented on #17974
@smarterclayton this looks suspiciously similar to the grpc problem we have in online... Maybe time to merge that grpc fix?

[2018-01-04 10:04] mfojtik commented on #17780
@ironcladlou seems like from the log that the namespace is stuck in terminating, which suggests a GC issue.

[2018-01-04 11:04] mfojtik opened #17985 "Couldn't open file /srv/origin-local-release/repodata/repomd.xml"
All recent e2e tests (in all branches) seems to be failing with this error https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17855/test_pull_request_origin_end_to_end/7475/

I don't think this is mirrors related but a missing file or mount or something missing in AMI?

[2018-01-04 12:39] praveenkumar opened #17986 "oc cluster up --metrics broken for v3.7.0"
##### Version
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://127.0.0.1:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. oc cluster up --metrics

##### Current Result

It doesn't pull out the origin-ansible image from docker hub and pod creation fails.
[code]

##### Expected Result

metrics should be provisioned succes

[2018-01-04 13:20] jupierce commented on #17963
@jcantrill my team only builds and publishes rhel/ose images. @smarterclayton publishes origin releases.

[2018-01-04 13:42] MarkRx commented on #17977
The yaml is similar to what other teams are using. I am not aware of anyone else having any issues. I suspect it is either from the autoscaler or some corrupt data in the project.

It seems oc status only has the stacktrace after the dc is deleted.

ten-perspect-b.yaml:
[code]

n2-perspectium-autoscaler.yaml:
[code]

[2018-01-04 13:54] kargakis commented on #17985
/shrug

[2018-01-04 14:14] sdodson commented on #17965
The router should not require anyuid scc as far as I understand, on my test environment it certainly doesn't.

/assign knobunc

[2018-01-04 14:49] php-coder commented on #17986
@stevekuznetsov Do you know, who is responsible for dockerhub images?

[2018-01-04 15:02] boeboe commented on #17677
I have the same issue... could you point out what the configuration issue exactly is then? We have several 3.7 clusters running and this issue only happens on one of them...

[2018-01-04 15:14] sudhirpandey commented on #16051
So this is how we got over this issue, its a weird solution though
1) Copy and create deployment config generated from `oadm registry -o yaml`
2) Then we launched (parallel) registry pod  using the above deployment config
[code]
3)edited the docker registry service to use new pod adjusting selector in service, ( tried the new build, it worked just fine)

4) We originally had nfs backed persistance

[2018-01-04 15:23] stevekuznetsov commented on #17986
@sdodson do we currently have a process for publishing `openshift/origin-ansible`?

[2018-01-04 15:47] dmage commented on #17958
openshift/image-registry#38
openshift/image-registry#39

Feel free to create new issues if you find another tests.

[2018-01-04 15:47] #17958 closed

[2018-01-04 16:26] stevekuznetsov commented on #17985
@smarterclayton did `imagebuilder` mount behavior change recently?

[2018-01-04 16:27] stevekuznetsov commented on #17985
@smarterclayton or our RPM repo creation logic?

[2018-01-04 16:31] smarterclayton commented on #17985
imagebuilder had a PR merged over christmas - a week ago, I think.

[2018-01-04 16:42] smarterclayton commented on #17985
What changed between 1-03 12:47 EST and 1-03 16:49?  That's when this started failing on release-3.7

[2018-01-04 16:53] sdodson commented on #17986
@stevekuznetsov this looks to publish it https://ci.openshift.redhat.com/jenkins/job/build-and-release-latest-openshift-ansible-images/

[2018-01-04 18:02] stevekuznetsov commented on #17985
/assign @smarterclayton

This is 100% an `imagebuilder` issue:

[code]

[2018-01-04 18:05] stevekuznetsov commented on #17985
There's nothing in the file that is mounted in that location:

[code]

[2018-01-04 18:07] stevekuznetsov commented on #17985
Jobs are using this version of `imagebuilder`

[code]

[2018-01-04 18:11] stevekuznetsov commented on #17985
We're using this version of Docker:

[code]

That got pushed out 11/30 so it's unrelated

[2018-01-04 18:14] stevekuznetsov commented on #17985
Can confirm the previous commit to `imagebuilder` works fine:

[code]

[code]

[2018-01-04 18:19] amon-ra commented on #13638
What version of haproxy is router running?

[2018-01-04 18:24] rhvgoyal commented on #17330
BTW, make sure kernel is atleast rhel7.4. This fix is more of a work around for the leaked mount issue and associated SELinux problems and works only if kernel is atleast rhel 7.4.

[2018-01-04 18:33] rhvgoyal commented on #17330
I think this will require `docker-1.12.6-71.git3e8e77d.el7.x86_64.rpm`

[2018-01-04 18:44] jeffcpullen commented on #15910
If you're using an HTTP proxy, and you do **not** need an HTTP proxy to access your cloudprovider API, you'll hit this issue. The openshift-ansible script adds HTTP(S)_PROXY and NO_PROXY to to the /etc/sysconfig/atomic-openshift-node file. From my testing the NO_PROXY is not honored. Even if you put in 0.0.0.0/0 it will still use the proxy to talk to the cloudprovider. I was able to work around th

[2018-01-04 19:15] csrwng opened #17988 "cleanup code to handle fake node for integration tests"
Some integration tests require a working node. This is handled via a fake docker client. A couple of other configuration options are needed as well on the NodeConfig (cgroupdriver, mounter). To unblock integration tests (with https://github.com/openshift/origin/pull/17979), this code was placed inside the EnsureDocker function of the origin NodeConfig. However, it should likely be handled in a cen

[2018-01-04 19:16] csrwng commented on #17988
/cc @deads2k
@openshift/sig-pod

[2018-01-04 19:44] ironcladlou commented on #17780
So far the evidence I've been able to gather from debugging points to a race between the test wait code and the namespace controller finalizing the namespace. I'm going to dig a little more into the namespace controller's informer event handling to see if I can explain the occasional processing lag.

[2018-01-04 20:13] smarterclayton commented on #17985
Fixed the bug in openshift/imagebuilder#56, should be fixed after that.

[2018-01-04 20:38] ironcladlou commented on #17780
More details...

Given time *Ts* (successful run) and *Tf* (failed run) in seconds:

| *Ts* | *Tf* | |
|--:|--:|--|
|0 | 0 | projectrequest registry issues DELETE against namespace *N* due to invalid template contents |
6 | 8 | namespace controller processes *N*, and enqueues deletion 5 seconds in the future (deletion grace period defaults to 5 seconds)
| 11 | 13 |namespace controller deletes *N*'

[2018-01-04 20:50] stevekuznetsov commented on #17985
Rebuilding AMI to pick up newer `imagebuilder`

[2018-01-04 20:52] ironcladlou commented on #17780
New fix: https://github.com/openshift/origin/pull/17991

[2018-01-04 21:32] #17780 closed

[2018-01-04 22:04] coreydaley opened #17995 "failure: repodata/repomd.xml from origin-local-release: [Errno 256] No more mirrors to try."
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_end_to_end/7544/consoleFull#-2459382805717850ae4b077d9ca921b55

failure: repodata/repomd.xml from origin-local-release: [Errno 256] No more mirrors to try.

[openshift/origin-docker-registry] failure: repodata/repomd.xml from origin-local-release: [Errno 256] No more mirrors to try.
[openshift/origin-docker-registry] file:///srv/

[2018-01-04 22:46] git001 commented on #13638
@amon-ra Currently is the 1.5.x in use.

I have created a docker image based on ocp origin router with http/2 enabled, but I wasn't able to test it for now.

https://hub.docker.com/r/me2digital/openshift-ocp-router-hap18/

This image is based on this docker file

https://gitlab.com/aleks001/openshift-ocp-router-hap18/blob/master/Dockerfile

and this config in which h2 is enabled.

https://gitlab.c

[2018-01-04 22:54] stevekuznetsov commented on #17985
New AMI cut, this is fixed.

/close

[2018-01-04 22:54] #17985 closed

[2018-01-05 00:37] coreydaley commented on #9071
Running `grep -r "Fatalf" * | grep helpers.go` does not produce any results, it looks like this has been resolved.  Also checked in the source-to-image repo for good measure.

[2018-01-05 00:37] #9071 closed

[2018-01-05 00:46] coreydaley commented on #9665
the `oc ex dockerbuild` command no longer exists.  If you are still experiencing this issue with whatever the equivalent command is (if it exists) please open a new issue and provide the new error information, example Dockerfile, and how to reproduce the issue.

[2018-01-05 00:46] #9665 closed

[2018-01-05 00:49] coreydaley commented on #9927
This seems to be a much older version of OSO and potentially the OS it was running on, along with the linked issue (#15207) having been closed.  Please re-open this issue, or create a new one, if you are still experiencing this issue.

[2018-01-05 00:49] #9927 closed

[2018-01-05 00:50] coreydaley commented on #9997
Looks like imagebuilder is in the vendor directory.
[code]

Please re-open this issue if this is not the intended result of this issue.

[2018-01-05 00:50] #9997 closed

[2018-01-05 00:54] coreydaley commented on #11342
Closing due to age and inactivity.  Please re-open with new information, or open a new issue if you are still having an issue.

[2018-01-05 00:54] #11342 closed

[2018-01-05 01:11] coreydaley commented on #13135
I just tested this using the supplied steps to reproduce and Jenkins does not get un-idled when a pipeline build is started.

[2018-01-05 01:15] coreydaley commented on #14004
@zafinxueqian are you still experiencing this issue?

[2018-01-05 01:18] coreydaley commented on #14537
@bparees @csrwng Is this something that still needs to happen?

[2018-01-05 01:35] bparees commented on #14537
i'd say it's not worth pursuing as a goal unto itself, so no.

[2018-01-05 01:35] #14537 closed

[2018-01-05 07:46] hendrikhalkow commented on #17238
Hello. I am using Artifactory behind Nginx as well and I have the same issue, except that adding :443 doesn't change anything.

Here is what I did:
[code]

Now when I do
[code]
or
[code]
I get two requests on the server:
The first one on https://docker.n7lab.io/v2/, the second one on https://artifactory.n7lab.io/api/docker/docker/v2/token?scope=repository%3An7lab%2Fhello%3Apull&service=artifactory

[2018-01-05 09:06] bigheidi commented on #17965
I have execute the command.

[10:00:51 root@gtlocbvb03824 ~ $] oc adm policy add-scc-to-user anyuid -n default -z router
scc "anyuid" added to: ["system:serviceaccount:default:router"]
[10:06:22 root@gtlocbvb03824 ~ $]

But the problem stays the same.

[2018-01-05 11:01] kargakis commented on #17811
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17989/test_pull_request_origin_cmd/8090/

[2018-01-05 12:47] PI-Victor commented on #16372
funny enough, somehow i'm running into this now with the latest oc
[code]

[2018-01-05 13:47] jsafrane commented on #17853
Yes, please fix it in Kubernetes and it will appear in the next OpenShift release.

[2018-01-05 13:48] jsafrane commented on #17853
/close

[2018-01-05 13:48] #17853 closed

[2018-01-05 14:02] donovanmuller opened #17997 "Support Bitbucket Server as a Webhook Trigger"
Annoyingly, [Bitbucket](https://confluence.atlassian.com/bitbucket/event-payloads-740262817.html) and [Bitbucket Server](https://confluence.atlassian.com/bitbucketserver/event-payload-938025882.html) do not share the same event payload schemas/structures ([bitbucket.org](https://confluence.atlassian.com/bitbucket/event-payloads-740262817.html) vs. [Bitbucket Server](https://confluence.atlassian.co

[2018-01-05 14:05] soltysh commented on #17958
Thanks!

[2018-01-05 14:15] donovanmuller commented on #17997
Doh, ignore this. As usual, just after creating the issue I got it working 😬

Contrary to the [docs](https://docs.openshift.org/latest/dev_guide/builds/triggering_builds.html#bitbucket-webhooks) the `curl` header value for a [Push](https://confluence.atlassian.com/bitbucketserver/event-payload-938025882.html#Eventpayload-Push) is not `curl -H "X-Event-Key: repo:push" ...` but rather `curl -H "X-Ev

[2018-01-05 14:15] #17997 closed

[2018-01-05 14:25] bparees commented on #16372
that's not the latest oc...

[2018-01-05 14:27] coreydaley commented on #6899
@charliemaiors closing due to age and inactivity, please re-open or create a new issue if you are still experiencing this issue with an up-to-date version of origin

[2018-01-05 14:27] #6899 closed

[2018-01-05 14:29] coreydaley commented on #8368
closing due to age and inactivity, please re-open or create a new issue if you are still having this issue with an up-to-date version of origin

[2018-01-05 14:29] #8368 closed

[2018-01-05 14:32] coreydaley commented on #9628
closing due to age and inactivity, along with the comment above from @bparees

[2018-01-05 14:32] #9628 closed

[2018-01-05 14:33] coreydaley commented on #10063
@enj, are you still having this issue with an up-to-date version of origin?

[2018-01-05 14:43] coreydaley commented on #16395
Closing due to inactivity and unresponsiveness of the OP.  Please re-open this issue, or a create a new one if you are still having this issue with a recent version of origin.

[2018-01-05 14:43] #16395 closed

[2018-01-05 14:45] coreydaley commented on #16968
@steven166 bump, are you still having this issue? Can you please supply the information requested above?

[2018-01-05 15:19] mc-meta opened #17998 "'oc apply' consistently fails to update deploymentconfigs after creation with origin 3.7.0"
When running a simple (silly) teaching demo workflow at:

      https://github.com/michelebariani/minishift-demo-fortune

on minishift(with 3.7.0)/openshift origin 3.7.0 we are facing some problems that were not there in previous versions (e.g. 3.6.1).

We are able to initially deploy the applications and create deployment configs via 'oc apply -f'.
App components come up just fine and all works a

[2018-01-05 15:23] coreydaley commented on #17294
@iocanel any update in regard to the verbose logging post update?

[2018-01-05 15:27] iocanel commented on #17294
@coreydaley: I am afraid not!
Nothing of interest there and in the ended up working around the issue.

[2018-01-05 15:41] coreydaley commented on #17294
@iocanel i'm going to close this issue.  Feel free to re-open or open a new issue if you come up with anything.

[2018-01-05 15:41] #17294 closed

[2018-01-05 15:42] kargakis opened #17999 "oc logs dc/name -c container is broken"
[code]
[code]
/kind bug
/sig master

@mfojtik

[2018-01-05 15:48] stevekuznetsov commented on #16895
/assign

[2018-01-05 15:52] steven166 commented on #16968
We've worked around this issue, so I can't supply the requested information anymore.

## Workaround:

**pipeline**
[code]

**Dockerfile**
[code]

[2018-01-05 16:14] coreydaley commented on #16968
@steven166 I am going to close this issue then.

[2018-01-05 16:14] #16968 closed

[2018-01-05 17:20] php-coder opened #18000 "e2e test case "" failed"
[code]
The logs: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17856/test_pull_request_origin_end_to_end/7554/

[2018-01-05 17:20] php-coder commented on #18000
CC @stevekuznetsov

[2018-01-05 17:33] stevekuznetsov commented on #18000
Let's see if this occurs again ...

/assign

[2018-01-05 20:08] simo5 commented on #17697
I just hit this one twice in a row.
@childsb @ingvagabund any ETA to fix it ?

[2018-01-05 20:36] liggitt commented on #8070
the openshift api groups have been restructured into a series of generic api servers

[2018-01-05 20:36] #8070 closed

[2018-01-05 21:01] simo5 commented on #12659
@soltysh is this somthing real still ?
The link to CI is gone and I do not see enough infoto act on this. Should we close and assume it's gone ?

[2018-01-05 21:02] simo5 commented on #17974
/assign @smarterclayton

[2018-01-05 21:04] simo5 commented on #17995
duplicate: #17985

[2018-01-05 21:04] #17995 closed

[2018-01-05 22:00] BoZhaoUTSC opened #18009 "Login as system:admin through web console"
[provide a description of the issue]

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://127.0.0.1:8443
openshift v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7

Is there a way to login as system:admin through web console? I can login as system:admin by entering oc login -u system:admin.

Thanks!

[2018-01-05 22:13] ewolinetz commented on #17634
I am hitting this again here: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install/3597/

[code]

[2018-01-05 22:20] bparees commented on #17634
still devmapper.

[code]

#17330

[2018-01-05 22:20] #17634 closed

[2018-01-05 22:45] #16467 closed

[2018-01-06 00:14] PI-Victor commented on #16372
i could swear i posted oc version 3.xxx. my branch was ancient.

[2018-01-06 01:05] smarterclayton commented on #13401
Going to mark as closed (significant fixes to DNS for statefulsets were part of 1.6), please reopen if you're still seeing issues.

[2018-01-06 01:05] #13401 closed

[2018-01-06 15:35] sdodson commented on #17556
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6359/test_pull_request_openshift_ansible_extended_conformance_install/3622/

[2018-01-07 01:50] smarterclayton commented on #17927
We are installing more binaries and the binaries have grown larger since 1.5.

[2018-01-07 09:43] kargakis commented on #17999
/assign mfojtik

[2018-01-07 16:22] tomcooperca commented on #17944
After further investigation and a glance through of [RFC 6902](https://tools.ietf.org/html/rfc6902#page-3), it looks like it was a request body schema that was the problem. Seems like a) it needs to be a json array and b) needs to include the "op", "path" and "value" keys following the RFC spec.

Here's a working request to patch a buildconfig:

PATCH /oapi/v1/namespaces/myProject/buildconfigs/myB

[2018-01-07 21:08] vikaschoudhary16 commented on #16246
# How I debugged a race in `systemd`

## Context/Background
There are several open bugs, on several repos, which are basically about a, rarely occuring, container creation failure. Containers fails to join `pids` cgroup controller.

Following are some of these issues:
 - https://github.com/kubernetes-incubator/cri-o/issues/1196
 - https://github.com/openshift/origin/issues/16246
 - https://bugzill

[2018-01-07 22:07] boeboe opened #18013 "OpenShift OAUTH2 server doesn't support userinfo endpoint"
I am trying to use OpenShift's build-in OAUTH2 server to delegate my GitLab Authentication towards OpenShift. However, the OpenShift's OAUTH2 server does not seem to support a **userinfo** endpoint, which is _unfortunately_ required by GitLab.

    "authorization_endpoint": "https://<master>/oauth/authorize"
    "token_endpoint": "https://<master>/oauth/token"
    "user_info_endpoint": "https://<m

[2018-01-08 05:02] stevekuznetsov commented on #17927
@iloayuil do you have more specific questions here? Someone with better knowledge of image introspection tools could narrow down the differences more systematically I guess.

[2018-01-08 09:04] kargakis opened #18014 "Cleanup of unused secrets/service accounts"
We have a bunch of unused secrets sitting in a namespace, some of which link back to an idle service account while other are orphaned. Is there a way to do a bulk-cleanup of all secrets (and probably service accounts) not used by any pod{,template}? Or at least something that shows me what do I need to have and what is idle?

@openshift/sig-master

[2018-01-08 09:07] kargakis opened #18015 "duplicate oc status info with multicontainer pods"
[code]
[code]

@openshift/sig-user-interface

[2018-01-08 09:14] kargakis opened #18016 "oc status says nothing about the info it has to show me"
Initially:
[code]

When I run with `-v`:
<details>

[code]
</details>

We could either collapse recurring info (though one could argue that I use `-v`) or at least say something in the case where I don't use `-v`:
[code]

@openshift/sig-user-interface

[2018-01-08 09:59] mfojtik commented on #18014
@kargakis do you have some examples for those secrets?

[2018-01-08 10:06] kargakis commented on #18014
[code]

[2018-01-08 10:08] kargakis commented on #18014
Not sure how the second set of secrets showed up. dockercfg secrets are also duplicate.

In terms of letting me know that I have idle secrets, I was thinking of a warning/info in `oc status`.

[2018-01-08 11:05] jorgemoralespou commented on #17986
It is not only about publishing the images, but also about proper tagging.
Tagging scheme seems to have changed in 3.7+, and for many images there scheme has changed from 3.7.x to only 3.7, also for 3.9, etc... while previously to 3.7.0 all tags had the Major.Minor.Patch elements in the scheme.

It's possible to tag 3.7 as 3.7.0 and problem will be easily solved.

[2018-01-08 11:45] calston commented on #17330
We have run into this issue on the enterprise version, which effectively renders the entire S2I feature set broken.

How are people now running around like their hair is on fire?

[2018-01-08 12:44] sosiouxme commented on #17881
Nope, haven't seen it before or since. If there's no progress to be made, seems fine to close it until it shows up again.

[2018-01-08 13:26] deads2k commented on #17596
I think we should try writing a patch first.  If a patch won't work (I suspect compound merge keys don't work), then I'm ok retrying on a remove, but not on an add.  For adds, we should start using the `oc create clusterrolebinding`

[2018-01-08 13:27] deads2k commented on #17596
Oh, this is in a test?  Don't change the command then.  Go and update the test to create its own clusterrolebinding and delete its own clusterrolebinding.  That's more in keeping with upstream and where we're going.

[2018-01-08 13:47] mfojtik commented on #17595
@sjenning any chance the pod team can investigate this? regardless of flakes, this might affect production deployments where the deployer pod can go from failed to success.

[2018-01-08 13:51] mfojtik commented on #18014
/assign deads
/sig master

[2018-01-08 13:52] mfojtik commented on #18014
@kargakis this is 3.9/master ?

[2018-01-08 13:53] mfojtik commented on #18014
These secrets should be owned and pruned by the controller, right @deads2k ?

[2018-01-08 13:55] pweil- commented on #18009
In practice you should be creating  users and granting them the correct administrative roles.  They could then log in via the console with the auth method you've configured for the cluster.  You should treat (and protect) system:admin and it's associated config/certificates as you would root on your servers.

[2018-01-08 13:55] #18009 closed

[2018-01-08 13:55] kargakis commented on #18014
No, this is the CI cluster - `v3.7.0-rc.0+bd64aab-99`

[2018-01-08 14:04] soltysh commented on #12659
That's fair. I'll go ahead and close this. Please re-open if this re-appears.

[2018-01-08 14:04] #12659 closed

[2018-01-08 14:23] olsib opened #18018 "Upgrade to 3.6.1 Fails during "Mark node unschedulable" - "(NotFound): nodes""
Upgrade from 1.5.1 to 3.6.1 fails

##### Version
# oc version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4

##### Steps To Reproduce
1. Run ansible-playbook openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml

##### Current Result
TASK [Mark node unschedulable] *******************

[2018-01-08 14:25] tnozicka commented on #17970
looks like container/docker issues or some temporary failure in latest image `docker.io/centos:centos7`

it runs just `/bin/sleep 10`

[code]

[2018-01-08 14:43] mfojtik commented on #17970
maybe something in container runtime that failed to rin that container... that command seems to run ok for me

[2018-01-08 14:51] bparees commented on #17596
@deads2k it's in a test, but this behavior hurts everyone, why wouldn't we improve the behavior?

The test is running this command:

`oc adm --config=/tmp/cluster-admin.kubeconfig --namespace=extended-test-forcepull-l9lm8-zs2kp policy remove-cluster-role-from-user system:build-strategy-custom extended-test-forcepull-l9lm8-zs2kp-user"`

Switching the test to not use the commands we expect administr

[2018-01-08 14:54] php-coder commented on #18018
CC @sdodson

[2018-01-08 15:20] MarkRx commented on #17977
One more detail - this uses the windows oc client.

[2018-01-08 15:30] VeerMuchandi commented on #17064
Tried it today. It works well for me

$ oc logs -f time-5-build
Step 1 : FROM busybox@sha256:91ef6c1c52b166be02645b8efee30d1ee65362024f7da41c404681561734c465
 ---> 6ad733544a63
Step 2 : MAINTAINER Veer Muchandi veer@redhat.com
 ---> Using cache
 ---> 3cad3654c221
Step 3 : ADD ./init.sh ./
 ---> Using cache
 ---> f2e77cf00c1c
Step 4 : EXPOSE 8080
 ---> Using cache
 ---> 7231254fd6b8
Step 5 : CMD ./

[2018-01-08 16:26] mfojtik opened #18019 "can-i is not checking for the valid verb and kind"
This leads into:

[code]

However, when I login as "system:admin" it seems like I can rule the world ;-).
@liggitt @enj not sure if this is an issue or this works as designed (as you can add more verbs? and with CRD you can have custom resource names). However, this might lead into typo bugs in scripts?

[2018-01-08 16:28] liggitt commented on #18019
that is working as designed. the authorization layer does not validate verbs and resource names

[2018-01-08 16:28] #18019 closed

[2018-01-08 16:30] juanvallejo commented on #17776
@maxPowelll

You are providing a github repo as your OpenShift server address, not sure if just a typo in your comment. In any case, like @jfchevrette mentioned, make sure that the server address you specify corresponds to an OpenShift server.

[2018-01-08 18:40] stevekuznetsov commented on #17881
Seems reasonable to me

/close

[2018-01-08 18:40] #17881 closed

[2018-01-08 18:41] stevekuznetsov commented on #17330
@calston this is an intermittent and annoying but ultimately re-tryable error on our end. Do you have a 100% reproducer?

[2018-01-08 19:21] jim-minter commented on #16246
@vikaschoudhary16 nice write-up, and I'm glad I was on the right lines :)  Have you notified the systemd folks about the needed _CGROUP_CONTROLLER_MASK_ALL = 63 change?

[2018-01-08 20:32] derekwaynecarr commented on #16246
@vikaschoudhary16 -- great job isolating this.

[2018-01-08 21:01] enj commented on #18013
It is unclear to me what exactly this user info endpoint is supposed to return (seems arbitrarily dynamic?).

If the entity contacting the endpoint can send a bearer token for the user (or otherwise correctly authenticate as the user to openshift), you can use the `~` user:

[code]

[code]

Does that work?

[2018-01-08 21:34] megian commented on #17642
It seams to occur, if there is no StorageClass defined, asb-etcd in the namespace openshift-ansible-service-broker is waiting for permanent storage and does fail. This causes asb to fail and adding the resource is not possible.

[2018-01-08 22:21] juanvallejo commented on #17870
Because describe outputs properties about resources that (for the most part) only exist once an object has been created, it would not make much sense to infer an offline output when the `-f ...` flag is used. I believe other commands already work this way, with a few commands providing an extra `--local` option which then explicitly avoids making remote calls / checking if a resource exists in the

[2018-01-08 22:21] #17870 closed

[2018-01-09 00:05] coreydaley commented on #9081
@containscafeine @smarterclayton
It looks like `oc import docker-compose` no longer exists.  Has it been moved somewhere else or can we close this issue?

[2018-01-09 02:49] vikaschoudhary16 commented on #16246
@jim-minter not yet, today will talk to @lnykrn(Lukáš Nykrýn)

[2018-01-09 03:28] surajssd commented on #9081
@coreydaley yes close this one this feature no longer exists in oc binary and everyone is recommended to use kompose tool now!

[2018-01-09 03:40] bparees commented on #17596
why does it matter?  it's all race conditions.  Whether you retry, or the admin happened to run the add slightly after someone else did the remove, either way the result is the same.  If you want guarantees about who has what access in a policy, you need to either have only a single person making changes, or the changes need to be coordinated/ordered.

As soon as you have 2 different people runnin

[2018-01-09 03:43] coreydaley commented on #9081
@surajssd thanks for the quick reply!

[2018-01-09 03:43] #9081 closed

[2018-01-09 06:07] vikaschoudhary16 commented on #16246
Reported : https://github.com/lnykryn/systemd-rhel/issues/180

[2018-01-09 06:58] gogeof commented on #17740
+1

[2018-01-09 09:04] ankushchadha opened #18025 "oc set triggers should support update/replace option to update static ImageStreamTags"
The pain point is the steps involved in upgrading a containerized application.

If dynamic ImageStreamTags such as latest, current, etc are used, then this problem doesn't exist. But if we want to use static ImageStreamTags such as 1.1, 1.2, etc, then there is no easy way to update the ImageStreamTag reference i.e. part of the ImageChange trigger (under DeploymentConfig)

So far, the option that I

[2018-01-09 11:23] chenray844 commented on #14766
[code]
[code]

[code]

[code]

can some one give me some advice to fix `F0109 06:13:41.401134   11461 node.go:264] failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs"` error?

[2018-01-09 11:41] mfojtik commented on #18025
@juanvallejo @liggitt not sure if `--update` is the best option, how about overriding the existing trigger when oc set triggers is called? In that case we can warn that you are overriding existing config?

[2018-01-09 11:43] olsib opened #18026 "Upgrade from 1.5.1 to v3.6 fails with "Storage backend in /etc/origin/master/master-config.yaml must be set to 'etcd3'""
I'm trying to upgrade to openshift origin v3.6 from openshift origin v1.5.1.

##### Version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://t1.mdevlab.com:8443
openshift v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4

##### Steps To Reproduce
Run:
ansible-playbook openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml

##### Cu

[2018-01-09 12:08] php-coder commented on #18026
Looks like installer issue that should be reported at https://github.com/openshift/openshift-ansible

CC @sdodson

[2018-01-09 12:19] #18026 closed

[2018-01-09 12:49] mfojtik opened #18028 "oc adm migrate fail on timeouts"
Need to fail on timeouts, but try to do all resources.

Additionally we might need to override --include with --exclude but first find a good reason to add --exclude.

[2018-01-09 12:49] mfojtik commented on #18028
@enj FYI

[2018-01-09 13:31] Neikius opened #18029 "Advanced install of cluster logging - parameter openshift_logging_image_version broken"
Advanced install of logging - specifying openshift_logging_image_version broken

Installing cluster logging via advanced install ansible script and specifying the parameter openshift_logging_image_version=v3.7 in host file. Script then tries to load openshift/oauth-proxy:v3.7 which does not exist (only v1.0.0 and v1.1.0) exist. This is specified in default_images.yml:
`__openshift_logging_elastics

[2018-01-09 13:35] lanliu99 commented on #17980
I found it's an issue of virtuebox or RHEL, not related with openshift.

[2018-01-09 13:35] #17980 closed

[2018-01-09 13:39] lanliu99 opened #18030 "Does openshift provide any alert on persistent volume capacity threshold approaching"
##### Version
3.7

##### Steps To Reproduce
1. configure pv yml:
[code]
2. create pvc

##### Current Result
/root/mypv1 can be used successfully.

##### Expected Result
When capacity under /root/mypv1 is approaching 1G, does openshift alert?

[2018-01-09 13:53] #17999 closed

[2018-01-09 14:01] php-coder commented on #18030
@openshift/sig-storage

[2018-01-09 14:17] enj commented on #18028
What?  It should _not_ fail on timeouts (server timeouts that is - they are safe to retry).  Also, it always tries all resources.

[2018-01-09 14:18] enj commented on #18028
@smarterclayton wanted `--exclude`, though I am not sure we really need it.

[2018-01-09 14:42] boeboe commented on #6283
The problem was solved using the following undocumented ansible variable:

    # registry options
    openshift_master_image_policy_config: '{"InternalRegistryHostname": "docker-registry.default.svc:5000"}'

[2018-01-09 15:07] bparees opened #18031 "[Feature:Builds][Slow] openshift pipeline build Sync secret to credential should map openshift secret to a jenkins credential as the secret is manipulated"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18024/test_pull_request_origin_extended_builds/961/#featurebuildsslow-openshift-pipeline-build-sync-secret-to-credential-should-map-openshift-secret-to-a-jenkins-credential-as-the-secret-is-manipulated-suiteopenshift

[2018-01-09 15:45] WarnerHooh opened #18033 "oc cluster up failed on Mac"
oc cluster up failed on Mac

##### Version
oc v3.7.0+7ed6862

##### Steps To Reproduce
1. oc cluster up

##### Current Result
Starting OpenShift using openshift/origin:v3.7.0 ...
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing OpenShift container ... OK
-- Checking for openshift/origin:v3.7.0 image ... OK
-- Checking D

[2018-01-09 16:48] gnufied commented on #18030
No openshift does not alert.  We have recently introduced per pvc usage metrics - so you can use that to create alerts yourself - https://github.com/openshift/origin/pull/16205

[2018-01-09 16:52] sdodson commented on #18018
Can you get `oc get nodes` and also provide your nodes section from the inventory? Has a node gone missing?

[2018-01-09 17:04] coreydaley commented on #17245
Closing this issue for the following reasons:

- No further contact/information from the user
- Seems to be a limitation of the service being used, not the product

@abinstephen1989 please re-open or open a new issue if you have further information to contribute

[2018-01-09 17:04] #17245 closed

[2018-01-09 17:09] coreydaley commented on #17086
@LarsMilland This issue seems to be out-of-date (referring to 3.6.1 release).  Is this issue still relevant?

[2018-01-09 17:22] coreydaley commented on #14055
@nlanore @fvillain Can you please verify if this issue still exists in the most recent version of origin?
https://github.com/openshift/origin/releases/tag/v3.7.0

[2018-01-09 18:24] Neikius opened #18034 "Ansible advanced install - cluster logging - Elasticsearch health state red"
Elasticsearch pod health state is red and stays red, even though the deployment status of pods is OK.

##### Version
oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://cloud.example.com:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

openshift version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

usi

[2018-01-09 21:01] juanvallejo commented on #18025
@mfojtik

I am not sure I fully understand overwriting an existing trigger. Would a user specify the name of the trigger as part of the value of a new `--overwrite` flag? (e.g.):

[code]

Or would we be replacing a previous `image` trigger, for example, if a new --from-image option is specified with an `--overwrite` flag?

[2018-01-09 21:41] spadgett commented on #18033
@csrwng have you seen this?

[2018-01-09 22:01] csrwng commented on #18033
@WarnerHooh please try resetting your Docker data (you can find the option in the reset panel of the Docker preferences dialog). Also, what version of Docker are you using?

[2018-01-09 22:30] ankushchadha commented on #18025
@mfojtik @juanvallejo - yes that can be an option. overwrite is better than an update.

In addition, if the `--from-image` points to the same image, then the ImageStreamTag should be overwritten by default. Not sure if there should be a `--force` or `--overwrite` option in this case. Are there use cases to have ImageTriggers with the same ImageStream but different ImageStream tags?

If we take a s

[2018-01-10 01:37] lanliu99 commented on #18030
hi Gnufied,

Thanks for help.

Best regards

[2018-01-10 01:37] #18030 closed

[2018-01-10 06:08] ravisantoshgudimetla commented on #17180
@sjenning @smarterclayton I have not been able to reproduce this issue of late and I see that past two builds have been passing. Also when it failed during build 548, the error was:

**Nov  3 00:37:34.604: INFO: Trying to get logs from node ci-primg548-ig-n-029h pod client-containers-245297d9-c02f-11e7-b095-0e31ed54e764 container test-container: \<nil\>**

So, I believe the issue is with getting t

[2018-01-10 06:41] lanliu99 opened #18041 "How to configure storage capability unit"
##### Version
ocp 3.7

##### Steps To Reproduce
1. configure pv like this:
[code]

##### Current Result
pv can be created.

##### Expected Result
I need to change 1Gi to 500m, or 1.1Gi, does it work? and if different unit is used(Gi vs. m) in pv and pvc, does openshift know how to match them?

##### Additional Information
Just did some simple tests, seems didn't work, but I want to make sure opens

[2018-01-10 08:16] calston commented on #17330
@stevekuznetsov Given the totality of the error message it may be up to a higher power or quantum mechanics to decide what we actually have

[code]

[2018-01-10 08:22] LarsMilland commented on #17086
@coreydaley - Issue is just as relevant now as it was with OpenShift release 3.6.1. The process leading up to the 3.7.0 release was also not fully consistent, and still is not fully completed. I am quite sure that it took a good number of extra days before the Centos repositories where populated with RPM binaries also for the 3.7.0 release - if I remember correctly 3.7.0 was released close to Nove

[2018-01-10 08:33] #17481 closed

[2018-01-10 09:29] #17475 closed

[2018-01-10 10:53] jamespegg opened #18042 "How can I delete an automatically generated environment variable?"
I'm trying to deploy a Kafka REST Proxy image (confluentinc/cp-kafka-rest) which uses a specific set of environment variables to run correctly. The issue is that a few of the environment variables are deprecated within the application itself, however they are automatically added by Openshift / Kubernetes. In this specific image, it errors when "KAFKA_REST_PORT" gets passed in.

Setting the variabl

[2018-01-10 11:06] varac commented on #17952
Same problem here. A fix would be appreciated!

[2018-01-10 12:31] Filirom1 commented on #17952
To solve this, I had to run this command and execute again the installer:
[code]

For information, to get the service catalog working I also had to do the following steps:

[code]

[2018-01-10 13:51] kargakis commented on #18041
@openshift/sig-storage

[2018-01-10 14:00] kargakis commented on #18018
@openshift/sig-cluster-lifecycle

(testing the bot)

[2018-01-10 14:00] sosiouxme commented on #16273
Think this is the same: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_cmd/8331/

[2018-01-10 14:06] sosiouxme commented on #17330
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_install/5224/ looks like https://github.com/openshift/origin/issues/17902 which refers here

[2018-01-10 14:07] DirectXMan12 commented on #17798
cc @sallyom this is a good task to get started working with the Origin idler code

[2018-01-10 14:07] DirectXMan12 commented on #17799
cc @sallyom

[2018-01-10 14:09] DirectXMan12 commented on #17775
HPA is in the `autoscaling/v1` API group not just `v1`.  Please make sure you've specified the correct API version, and re-open if necessary.

[2018-01-10 14:09] #17775 closed

[2018-01-10 14:10] mfojtik commented on #18025
@juanvallejo there is usually just one trigger defined per container, so:

[code]

should be enough? It will just override the existing image with new image. The trigger always override the container image when it 'triggers' (IOW. an image update happen).

[2018-01-10 14:14] sosiouxme opened #18045 "[Feature:DeploymentConfig] deploymentconfigs with failing hook [Conformance] should get all logs from retried hooks"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_gce/13954/ looks like it occurs in the same place as some earlier closed issues but for different reason. Hopefully not a dupe:

[code]

[2018-01-10 14:17] php-coder commented on #18041
@lanliu99 While you can ask questions here, please, don't abuse issue tracker as it's mostly intended for tracking the issues.

[Mailing list](http://lists.openshift.redhat.com/openshiftmm/listinfo/users) and [StackOverflow](https://stackoverflow.com/questions/tagged/openshift-origin) are the better places for asking questions.

[2018-01-10 14:25] tnozicka commented on #18025
some generic images like centos you could have one container script based on centos:6 the other one on centos:7, or the same way with language runtimes like python 2.7, 3.0 in the same imagestream

I guess that break @mfojtik example as you might need to specify more containers

[2018-01-10 14:29] php-coder commented on #18042
@jamespegg How do you deploy the image? Where did you get templates/pod definitions?

[2018-01-10 14:33] WarnerHooh commented on #18033
@csrwng @spadgett Problem solved as you said resetting Docker data. The docker version is Version 17.12.0-ce-mac45 (21669). Thank you so much for the quick turnaround. 🙂

[2018-01-10 14:47] wozniakjan commented on #18034
the searchguard initialization is part of the `run.sh` where it calls another script `es_seed_acl` which calls the `sgadmin.sh` in a loop and checks if the searchguard really was initialized.
- https://github.com/openshift/origin-aggregated-logging/blob/5c0e35a0a8c50cf63e56ccba3c5f15cc72b48ca9/elasticsearch/utils/es_seed_acl#L15-L25

For start, could you provide the output of `_cat/indices?v` to s

[2018-01-10 14:56] jmrodri opened #18046 "oc cluster up --service-catalog=true timing out on web-console"
[provide a description of the issue]

##### Version
oc v3.9.0-alpha.1+a027e963-84
kubernetes v1.9.0-beta1
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. oc cluster up --service-catalog=true --loglevel=10

##### Current Result
1. spews tons of logs trying to ping the webconsole:
[code]
2. FAILS with an error:
[code]
##### Expected Result
[code]
##### Additional Information

[2018-01-10 14:57] jmrodri commented on #18046
Output of `oc adm diagnostics`:

[code]

[2018-01-10 14:57] jmrodri commented on #18046
Output of `journalctl -e`

[code]

[2018-01-10 15:00] olsib commented on #18018
ignore this, I re-cloned the right branch and I do not seem to get this.

[2018-01-10 15:00] #18018 closed

[2018-01-10 15:00] jmrodri commented on #18046
* Fedora 27
[code]
* docker version
[code]
* Disk freespace:
[code]

[2018-01-10 15:01] jmrodri commented on #18046
the `loglevel=10` setting yields:

[code]

[2018-01-10 15:01] spadgett commented on #18033
@WarnerHooh Glad to hear it's working

[2018-01-10 15:01] #18033 closed

[2018-01-10 15:02] jmrodri commented on #18046
[code]

[2018-01-10 15:03] jmrodri commented on #18046
Tried to login as `system:admin` to diagnose but that wouldn't work presumably because the cluster hasn't started:

[code]

[2018-01-10 15:03] kargakis commented on #18015
@openshift/sig-user-interface

[2018-01-10 15:05] jmrodri commented on #18046
I tried some of the following things too:

* restarted `docker`
* removed all docker images, started `oc cluster up`
* removed all docker images, `docker pulled the docker.io/openshift/origin-web-console:v3.9.0-alpha.1` then started `oc cluster up`

They all resulted in the same scenario.

[2018-01-10 15:08] jmrodri commented on #18046
[code]

[2018-01-10 15:09] sosiouxme opened #18047 "[Feature:DeploymentConfig] deploymentconfigs keep the deployer pod invariant valid [Conformance] should deal with cancellation of running deployment [Suite:openshift/conformance/parallel]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_install/5243/

[code]

[2018-01-10 15:11] sosiouxme opened #18048 "[k8s.io] Sysctls should support sysctls [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_install/5243/

[code]

[2018-01-10 15:35] michaelgugino commented on #17697
We see this on about 40% of openshift-ansible runs.  It's really tanking CI performance for us.  I think this should be a P1.

[2018-01-10 15:40] stevekuznetsov commented on #17330
@rhvgoyal @jwhonce do we have any updates here?

[2018-01-10 15:49] coreydaley commented on #17086
@LarsMilland Thanks for the updated information.  Let me see if I can track down who needs to take a look at this.

[2018-01-10 15:57] dmage commented on #17897
We don't get any requests until the first /healthz request.

That's looks like the reason of delay.

@bparees do we want to wait `http(s?)://docker-registry.default.svc:5000/healthz` before pushing?

[2018-01-10 16:22] talzi commented on #17677
hi,

Facing same issue.
Were you able to solve it?

Thanks

[2018-01-10 16:24] sjenning commented on #17180
@ravisantoshgudimetla I agree this is likely another issue with journald rate limiting.

@smarterclayton are the CI tests still running journald logging driver?

[2018-01-10 16:31] jsafrane commented on #18041
See https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/resources.md#resource-quantities for the grand design of OpenShift / Kubernetes capacity.

How to get there? Follow links from our API docs at https://docs.openshift.com/container-platform/3.5/rest_api/kubernetes_v1.html#v1-persistentvolumespec

Yes

Yes. From the docs:

And please don't mis-use our is

[2018-01-10 16:31] #18041 closed

[2018-01-10 16:33] spadgett opened #18050 "cluster up fails with latest Docker for Mac"
`oc cluster up --version=latest` hangs with the latest Docker for Mac version. Docker for Mac has switched VM file formats from qcow to raw in this release, which might be related.

Here is my origin container log:

[origin.log](https://github.com/openshift/origin/files/1619639/origin.log)

##### Version

Docker for Mac Version 17.12.0-ce-mac46 (21698)

oc v3.9.0-alpha.1+a90f8af-96
kubernetes v1.9

[2018-01-10 16:38] bparees commented on #17897
I think we want to add a check for /healthz to the extended test framework setup so we don't start running any tests until its passing.

[2018-01-10 17:03] dmage commented on #17897
Looks like the registry is started by the ansible playbook and we skip waiting for the registry:

[code]

[2018-01-10 17:09] bparees commented on #17897
@stevekuznetsov @sdodson please decide between yourselves whether the playbook should address this, or elsewhere in the test framework startup process.  One of them needs to wait for the registry to pass a healthcheck.

[2018-01-10 17:16] Neikius commented on #18034
I get this:
[code]
Do I understand this correctly, the index is broken? This is a fresh install, it never worked in the first place. Can I just delete that index somehow?

[2018-01-10 17:25] stevekuznetsov commented on #17897
Pretty sure the playbooks had that logic -- I remember adding it

[2018-01-10 17:30] btito commented on #17952
Thanks!.. it also seems that the today's  pull of the ansible-openshift repo also fixed asb-etcd issues i had.

[2018-01-10 17:59] sosiouxme commented on #16994
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_install/5256/

[2018-01-10 18:01] gabemontero commented on #18031
The lead up to that test bail out:

[code]

And around the same time frame, you'll see a familiar friend ... the kubelet deciding to restart jenkins:

[code]

So pulling down the node log (journals/origin-node.servce at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_builds/961/s3/download/journals/origin-node.service) I see it say the readiness probe is good, but 10

[2018-01-10 19:00] rhvgoyal commented on #17330
@stevekuznetsov Updates are already there in comments. Please check.

[2018-01-10 19:05] stevekuznetsov commented on #17330
Ah, sorry, missed that -- do you know when that pacakge should be available in the RHEL 7 Next compose?

[2018-01-10 19:22] smarterclayton commented on #17180
I don't know, @stevekuznetsov

On Wed, Jan 10, 2018 at 11:24 AM, Seth Jennings <notifications@github.com>
wrote:

[2018-01-10 19:37] stevekuznetsov commented on #17180
The GCE job as above would have used the installer to configure that @sdodson

[2018-01-10 21:04] sdodson commented on #17897
It's there, there was a recent change that may have broken it.
/assign michaelgugino

[2018-01-10 21:13] sdodson commented on #17897
@dmage do you have a link to that job?

[2018-01-10 21:17] dmage commented on #17897
@sdodson only the link from description: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17874/test_pull_request_origin_extended_conformance_gce/13345/

[2018-01-10 21:26] michaelgugino commented on #17897
I don't see openshift-ansible being cloned in that job anywhere.  It appears that it's baked into some image, and that image is out of date.

[2018-01-10 21:58] sdodson commented on #17897
We've verified that current openshift-ansible install ci jobs are waiting for the registry and router to have rolled out. Marking this as closed until there's a more recent example.

[2018-01-10 22:04] bparees commented on #17897
awesome, thank you @sdodson

[2018-01-10 22:04] bparees commented on #17618
going to optimistically assume this is the same as https://github.com/openshift/origin/issues/17897

[2018-01-10 22:04] #17618 closed

[2018-01-10 23:31] #17443 closed

[2018-01-10 23:31] #18050 closed

[2018-01-11 09:13] toredash opened #18059 "oc client generates invalid docker-registry secrets"
At some point, openshift client started to create invalid secrets of type docker-registry. Previous versions of the client (v3.6.0-c4dd4cf) produces correct output.

I'm not sure if this is a client issue, or an issue with OpenShift using the supplied dockercfg in imagePullSecret.

Relevant information:
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

Newer Do

[2018-01-11 09:28] wozniakjan commented on #18034
looks like the index never got allocated its primary shard, deleting it may help but before you do so, could you please provide few more things to try figure out why?

[code]

[2018-01-11 09:39] Neikius commented on #18034
Sure, no problem, just tell what you need, hopefully I can help you. I tried uninstall/install again today since I can see latest tag is updated regularly and I can see that latest tag is taken in my deploy. Still the same result so I am providing the info:
[code]

logging-es.log:
[code]

All other log files are empty. Maybe oc logs too ? Here:
[code]

[2018-01-11 10:08] kargakis commented on #18059
@openshift/sig-developer-experience

[2018-01-11 10:11] mfojtik commented on #18059
@kargakis this is

/sig cli

actually and @soltysh is looking into this

[2018-01-11 10:15] mfojtik commented on #18046
@sjenning https://github.com/openshift/origin/issues/18046#issuecomment-356626846 this looks weird, why would eviction manager delete the image for web console?

@jwforres something you experienced already with cluster up?

[2018-01-11 10:15] tnozicka commented on #18047
dupe of https://github.com/openshift/origin/issues/17595

[2018-01-11 10:15] #18047 closed

[2018-01-11 10:16] tnozicka commented on #17595
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17773/test_pull_request_origin_extended_conformance_install/5243/

[2018-01-11 10:31] mfojtik commented on #17977
@MarkRx have you tested linux/osx client? Just want to rule out the cause of this being windows specific.

[2018-01-11 10:36] mfojtik commented on #17977
(I tried to recreate this with your DC and autoscaled, but `oc status` seems to be working fine (on OSX))

[2018-01-11 11:36] mfojtik commented on #18045
@sjenning seems like getting logs from the node is broken here

[2018-01-11 11:47] warmchang commented on #17047
👍

[2018-01-11 12:07] jwforres commented on #18046
@spadgett since I think he was part of the discussion around this yesterday

[2018-01-11 12:32] wozniakjan commented on #18034
btw. what type of PV have you provided for the PVC?

[2018-01-11 12:44] lukas-vlcek commented on #18034
@Neikius Could you try to run [Indices Shards Stores](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/indices-shards-stores.html) API please?

In your case it could be something like:

[code]

[2018-01-11 13:02] lukas-vlcek commented on #18034
@Neikius Also can you verify shard allocation is not disabled?

Try [get settings](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/indices-get-settings.html) for all indices (given you probably have only a single index now):

[code]

Or you can get just allocation related settings:
[code]

[2018-01-11 13:06] tnozicka commented on #17787
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18060/test_pull_request_origin_extended_conformance_install/5312/

[2018-01-11 13:13] tnozicka opened #18061 "[sig-storage] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18060/test_pull_request_origin_extended_conformance_gce/14041/

[code]

[2018-01-11 13:14] tnozicka commented on #18061
similar issue with logs from today https://github.com/openshift/origin/issues/18045

[2018-01-11 13:14] tnozicka commented on #18045
similar issue with logs from today https://github.com/openshift/origin/issues/18061

[2018-01-11 13:31] mfojtik commented on #18028
@enj this was coming from a trello card, was not sure what to do with it if something. If we don't need `--exclude` then we can close this issue. (the trello card did not had too much description, but I think you opened it ;-)

[2018-01-11 14:01] soltysh commented on #17197
This should be fixed for 3.7 in https://github.com/openshift/origin/pull/18062.
3.8 is not affected.
master picked a fix in https://github.com/openshift/origin/pull/18003

[2018-01-11 15:03] garagatyi commented on #17981
What can I see is that access to pod from the inside of this pod by the service IP doesn't work for some reason. It works neither from the container that exposes port nor from other containers of the same pod.

[2018-01-11 15:14] php-coder commented on #17981
@garagatyi This could be caused by improper configured DNS. I'd start with checking `/etc/resolv.conf` inside of a pod.

This instruction also could be helpful: https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#debugging-dns-resolution

Hope this helps!

[2018-01-11 15:38] soltysh commented on #18059
This should be fixed for 3.7 in #18062.
3.8 is not affected.
master picked a fix in #18003

[2018-01-11 15:41] #17716 closed

[2018-01-11 15:46] knobunc commented on #17981
@garagatyi -- Can you grab the iptables output from the node running openshift?  And give me the service IP for the service you are looking at?  Thanks.

[2018-01-11 15:46] tnozicka commented on #17882
https://github.com/openshift/origin/issues/17882

[2018-01-11 15:52] juanvallejo opened #18069 "Able to sometimes patch an invalid deploymentconfig with `oc edit`"
I have only found this issue to exist with the following deploymentconfig so far:
[test/integration/testdata/test-deployment-config.yaml](https://github.com/openshift/origin/blob/master/test/integration/testdata/test-deployment-config.yaml)

##### Version
[code]

##### Steps To Reproduce
1. `oc create -f test/integration/testdata/test-deployment-config.yaml`
2. `oc edit dc/test-deployment-config`

[2018-01-11 16:18] olsib opened #18072 "openshift origin v3.7 - ImageStream Import failed (InternalError) unauthorized: authentication required"
We've setup image streaming to external docker registry. The Docker Registry is running behind an NGINX. It uses docker-auth for authorization & is backed up by S3 storage.

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
oc secrets new-dockercfg central-registr

[2018-01-11 16:50] bparees commented on #9499
@mfojtik this should be factored into whatever rearchitecture of oc cluster up the master team ends up doing.

[2018-01-11 18:08] coreydaley commented on #16735
It looks like we are running into this issue: https://github.com/docker/engine-api/issues/138
Except it's line 35 now, not 30: https://github.com/docker/engine-api/blob/master/client/image_pull.go#L35

Basically ImagePull doesn't throw an error unless resp.StatusCode == http.StatusUnauthorized, it also looks like engine-api has been deprecated and now resides in github.com/docker/docker/client, wh

[2018-01-11 18:11] bparees commented on #16735
We can inspect to see if the image exists after we do the pull and abort if it doesn't.

[2018-01-11 18:20] smarterclayton commented on #17986
v3.7.0 is now tagged from v3.7

[2018-01-11 18:40] BoZhaoUTSC opened #18081 "Is there a way to configure a route using shell commands"
[provide a description of the issue]

##### Version
oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

I'm using a route to split traffic across two services.
Is there a way to use something like `oc route route_name service1 [service1_weight] service2 [service2_weight]` to change the weight of each service?

Thanks!

[2018-01-11 18:57] sjenning commented on #18046
@mfojtik something does seem weird there.  There amount of memory trying to be freed `922337203685477` is really 2^63-1.

The only change to the eviction code since v3.9.0-alpha.0 was the 1.9.0beta1 kube rebase https://github.com/openshift/origin/pull/17576

[2018-01-11 19:35] cringdahl opened #18083 "'Service "asb" is invalid' during ansible install"
Running an advanced-install, the 'asb' service fails to create, thus halting the full ansible playbook.

##### Version
release-3.7.0day

##### Steps To Reproduce
`ansible-playbook -i path/to/config playbooks/byo/config.yml`

##### Current Result
    TASK [ansible_service_broker : create ansible-service-broker service]
    *************************************************************
    Thursday 1

[2018-01-11 19:36] cringdahl opened #18084 "Feature Request: allow authentication against Github Enterprise"
Feature Request: allow authentication against Github Enterprise

Please allow OAuth authentication against Github Enterprise. Would it be as simple as including a 'url' key inside the 'github' ident provider, then replacing 'github.com' with the value as a variable?

[2018-01-11 20:42] jorgemoralespou commented on #17986
Now, the images for metrics and logging do need also to be properly tagged (or released):

Not properly tagged:
- https://hub.docker.com/r/openshift/origin-logging-elasticsearch/tags/
- https://hub.docker.com/r/openshift/origin-logging-kibana/tags/
- https://hub.docker.com/r/openshift/origin-logging-curator/tags/
- https://hub.docker.com/r/openshift/origin-logging-fluentd/tags/

Not even released:

[2018-01-11 20:43] jorgemoralespou commented on #17986
@smarterclayton @jupierce it would be nice if OpenShift CI would catch this.

[2018-01-11 20:56] bparees commented on #17811
@mfojtik who's investigating this flake? what have they discovered so far?

[2018-01-11 21:07] cringdahl commented on #18083
Results of `ansible-worker -vvv`:

	TASK [ansible_service_broker : create ansible-service-broker service] *************************************************************
	task path: /Users/validuser/Code/openshift-ansible/roles/ansible_service_broker/tasks/install.yml:152
	Thursday 11 January 2018  12:37:35 -0800 (0:00:00.106)       0:09:25.252 ******
	Using module file /Users/validuser/Code/openshi

[2018-01-11 21:17] enj commented on #18028
@mfojtik I opened that card per a conversation with @smarterclayton.  We should sync up if we need such a flag (i.e. what is the use case for a customer).

[2018-01-11 21:18] soltysh commented on #18084
@openshift/sig-security fyi

[2018-01-11 21:21] enj commented on #18084
We are already tracking this RFE in https://trello.com/c/1zmyNYYi

[2018-01-11 21:21] #18084 closed

[2018-01-11 21:23] enj commented on #18084
@cringdahl I do not think this will be a lot of work, we just have not had the cycles to look into it.

[2018-01-11 21:25] cringdahl commented on #18084
@enj heh yeah, I see the origin date on that card :/

Someone should hand that to an intern, imo 😃

[2018-01-11 21:57] sjenning commented on #18046
Upstream issue mentioning eviction trying to free all the memory in the world
https://github.com/kubernetes/kubernetes/issues/51018

[2018-01-11 22:01] juanvallejo commented on #17977
@mfojtik @soltysh
Can confirm. I was able to recreate this on linux by creating the DC and hpa that @MarkRx posted,
deleting only the dc, and then calling `oc status`.

Here is the output of `oc status` prior to deleting the deploymentconfig:
[code]

<details>
<summary>And here is the stacktrace received from `oc status` after deleting only the deploymentconfig</summary>
<p>
<code>
panic: runtime

[2018-01-11 22:16] sjenning commented on #18046
Turns out the immediate reclamation of all possible images when disk pressure it hit is the expected behaviour

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/images/image_gc_manager.go#L302-L304

The pod is getting evicted to due to disk pressure.  Can you provide the output of `df -h /var/lib/docker`?

[2018-01-11 23:13] juanvallejo commented on #17977
Suggested a solution for the above comment here https://github.com/openshift/origin/pull/17983#issuecomment-357091868

[2018-01-12 00:42] #17596 closed

[2018-01-12 06:47] bortek commented on #16003
I am seeing this in After upgrade to Openshift 3.7 There is alway one more cancelled deployment with reason "newer deployment was found running".

Is there a bugreport for this to RH in Bugzilla?

[2018-01-12 07:35] garagatyi commented on #17981
@php-coder this doesn't look like a DNS resolution issue since DNS gets resolved to IP of a service. But this IP is not responding.And it is not responding from the inside of the POD, but is responding from other PODs and my host.

@knobunc sure. BTW it is an OCP running inside of Docker containers on my dev fedora 25. And we have the same situation on other dev fedoras and also on a CI (container

[2018-01-12 09:31] Neikius commented on #18034
Alas I haven't yet delved into searchguard stuff, kinda expected it to work... Thank you both for helping.

@wozniakjan: glusterfs, 3 nodes, 3x 200gb bricks some info: (need more?)
[code]

@lukas-vlcek: Yeah, this is the default config for logging from ansible script, I think.

/_shard_stores:
`{"indices":{".searchguard.logging-es-data-master-rx1j1syi":{"shards":{"0":{"stores":[]}}}}}`

/_all/_set

[2018-01-12 09:42] wozniakjan commented on #18034
I think we found the culprit, ES does not support gluster, please read:
https://docs.openshift.org/latest/install_config/aggregate_logging.html#aggregated-elasticsearch

AFAIK we recommend only hostpath for ES PV

[2018-01-12 10:01] mfojtik commented on #17811
/cc @deads2k

[2018-01-12 10:05] tnozicka commented on #16003
@bortek this race should be extremely rare and has always been there. The confirmation would be to see 2 deployer pods for that deployment running at the same time.

If so that is more likely caused by rouge kubelet:
- https://github.com/openshift/origin/issues/17011
- https://github.com/openshift/origin/issues/17595

The usual suspect for this would be 2 subsequent triggers (configChange, imageCh

[2018-01-12 10:06] Neikius commented on #18034
Ugh, that was a downer. I actually think I've read this part at some point and it just didn't register with my mind. Sorry for that and thank you.

[2018-01-12 10:06] #18034 closed

[2018-01-12 10:15] philbrookes opened #18089 "create a --mobile flag in the oc cluster up command"
## Motivation

The Red Hat Mobile team is developing a set of Mobile Services, Tools & UI (https://github.com/aerogear/mobile-core) that leverages the OpenShift platform. In order to encourage developers of mobile applications to use a combination of the Mobile Core and OpenShift to run the back-end applications for the mobile apps we would like to make it as easy as possible to get a local copy o

[2018-01-12 10:35] matzew commented on #18089
This would be very handy to bring in the mobile services !

[2018-01-12 10:35] david-martin commented on #18089
@philbrookes 1 potential point of confusion that might come up is what 'runs on top of the OpenShift platform' for mobile? What is the Mobile Core?.
Could we rephrase that better?
There is nothing mobile that 'runs' per-se. There is no Mobile Core component.
Mobile Services can run, but only after a developer provisions the ones they want.

Doing Mobile things on OpenShift will require:
* OpenShif

[2018-01-12 10:40] garagatyi commented on #17981
Thanks to @gorkem I discovered [this](https://github.com/minishift/minishift/issues/1269) issue. Which led me to the idea that hairpin mode might be misconfigured. I haven't found how to check it.
@knobunc do you know the way how to check it?

[2018-01-12 10:51] Jammy-Jim opened #18090 "Metrics Service not configured correctly"
After deploying Openshift Cluster via the advanced install I configured and deployed metrics using the ansible playbook.

Metrics deployed succesfully but the route wasn't working and the URL (hawkular-metrics.[metrics-public-url]/hawkular.metrics) and metrics tab said that the app wasn't working

##### Version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. Deploy Open

[2018-01-12 10:57] philbrookes commented on #18089
Thanks @david-martin I have updated the description now, let me know if I have overlooked anything.

[2018-01-12 11:06] david-martin commented on #18089
@philbrookes would something like this be better?

"The Red Hat Mobile team is developing a set of Mobile Services, Tools & UI (https://github.com/aerogear/mobile-core) that leverages the OpenShift platform."

[2018-01-12 11:44] johnfriz commented on #18089
@philbrookes - is there any work in progress that could be linked to here to provide a concrete example of what we want to do here?

[2018-01-12 11:45] olsib commented on #18072
this seems to be a duplicate of:
https://github.com/openshift/origin/issues/18059

with oc client v3.6.1 the secrets are created fine, but oc client v3.7 creates secret in new docker format.

Which origin version is this fix coming through?

[2018-01-12 11:51] david-martin commented on #18089
@johnfriz  @philbrookes related work that this could follow the pattern of.
Metrics & Logging: https://github.com/openshift/origin/blob/master/pkg/oc/bootstrap/docker/up.go#L1089-L1131
Which run the associated ansible playbooks
* https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_logging
* https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_metrics

[2018-01-12 12:10] slmzig opened #18092 "bug: sharing network between two projects"
I would like to share network between two projects
for example i would like that service1 in kafka have access to service2 in datasources

i read  a doc about it:
https://docs.openshift.org/3.6/admin_guide/managing_networking.html#making-project-networks-global

and i tried to do this:
[code]
[code]

info about projects:

[code]

Version

[code]

[2018-01-12 12:22] garagatyi commented on #17981
Yep. It is because of hairpin mode. I am able to access the pod by its service after I exec'd into openshift container and put `1` to `/sys/devices/virtual/net/veth*/brport/hairpin_mode`.
So now I'm investigating how to fix setting of the hairpin in OCP.

[2018-01-12 12:43] snipem commented on #13506
@benediktreichert Have you tried it with High Sierra as suggested above?

[2018-01-12 13:17] garagatyi commented on #17981
Looks like this issue is a duplicate of https://github.com/openshift/origin/issues/14031

[2018-01-12 13:25] sdodson commented on #18083
Don't use that branch, use release-3.7 which continues to receive fixes.
Is your ASB already deployed?

/assign fabianvf

[2018-01-12 13:26] mfojtik commented on #9499
/cc @liggitt and @juanvallejo

[2018-01-12 13:37] agajdosi commented on #17934
Due to this issue we have added a retry logic to our tests. Today I faced the issue with [datagrid65-basic](https://github.com/jboss-openshift/application-templates/blob/master/datagrid/datagrid65-basic.json) and it took 7 retries with sleep of 500ms, meaning over 3.5 seconds for the service to be available:

[code]

[2018-01-12 14:19] legionus commented on #10764
@bparees 4 minutes. Looks like network could be really broken.
Are you sure you want to wait 10 - 15 minutes ?

[2018-01-12 14:20] budhrg commented on #17934
@agajdosi  For minikube ISO, I tried with 15 sec here https://github.com/minishift/minishift/pull/1909/files. Still not sufficient.

See PR job - https://ci.centos.org/job/minishift-pr/3207/consoleFull

[code]

For `eap64-basic-s2i` is not able to roll out successfully.

[2018-01-12 14:28] slmzig commented on #18092
resolved: use wrong plugin

[2018-01-12 14:28] #18092 closed

[2018-01-12 14:48] bparees commented on #10764
@legionus the timeout i was proposing increasing was the one we hit here:

[code]

not the 4 minute test timeout.

[2018-01-12 15:12] soltysh commented on #15418
I hit this again in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18071/test_pull_request_origin_extended_conformance_gce/14112/. Although this is 3.7 branch, so maybe I'll leave it back to close.

[2018-01-12 15:12] #15418 closed

[2018-01-12 15:15] bparees commented on #18072
I believe a backport for OCP is under way, but for origin it may not be fixed until 3.9.  @mfojtik and team own it and would have to provide the specifics.

[2018-01-12 15:28] mfojtik commented on #17763
/assign deads2k

[2018-01-12 15:28] mfojtik commented on #17811
/assign @ironcladlou

[2018-01-12 15:29] mfojtik commented on #17825
/assign @ironcladlou

[2018-01-12 15:29] mfojtik commented on #17944
/assign @liggitt

[2018-01-12 15:29] mfojtik commented on #17493
@tnozicka yes

[2018-01-12 15:34] ironcladlou commented on #17811
@bparees

I just discovered that I'm investigating

[2018-01-12 15:37] wei-lee commented on #18089
+1

[2018-01-12 15:46] kargakis opened #18095 "test_pull_request_origin_extended_conformance_install broken since Thursday 2:45pm EST"
Extended test hung for 4h.

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/5407/consoleFull#-40388107756cbb9a5e4b02b88ae8c2f77

cc @stevekuznetsov @smarterclayton

[2018-01-12 15:55] ironcladlou commented on #17811
Add an annotation to a service, like services/kubernetes: `service.alpha.kubernetes.io/tolerate-unready-endpoints=true`, then run:

`oc observe services --once --all-namespaces -a "bad{ .metadata.annotations.unset }key" --strict-templates`

and the error is reproduced. I assume because `annotations` exists, but the `unset` key doesn't, causing the error to not match the test's expectation.

Seems

[2018-01-12 15:58] enj opened #18096 "RBAC Migration Followup #25: Deprecate policy commands in favor of RBAC equivalents"
Add `cobra.Command.Deprecated` to the following commands:

1. `oc adm policy {add|remove}-{cluster-}role-{to|from}-{user|group}` `--->` `oc {create|edit} {cluster}role{binding}`
2. `oc adm policy reconcile-cluster-role-{bindings}` `--->` `oc auth reconcile`
3. `oc policy can-i` `--->` `oc auth can-i`
4. `oc adm policy remove-{user|group}` `--->` `oc {delete|edit} rolebinding`
5. Update docs https:

[2018-01-12 16:11] bparees commented on #18096
I still think this is a bad user experience.

1) I now need to come up w/ unique names every time i want to give a user a new rolebinding  (and remember/determine that name when i want to remove it)
2) it explodes the number of etcd objects (one binding object per role assignment per user)

[2018-01-12 16:12] juanvallejo commented on #17811
@ironcladlou

I agree, the test should be updated to tolerate both cases

[2018-01-12 16:16] tnozicka commented on #17487
logs are already gone, but this has been likely caused by the kubelet pod state transition issues we track in another issue. Feel free to reopen if you see it again.

[2018-01-12 16:16] #17487 closed

[2018-01-12 16:21] legionus commented on #10764
@bparees We can not change client timeout because it is hidden inside the [registry client](https://github.com/openshift/origin/blob/master/vendor/github.com/docker/distribution/registry/client/repository.go#L65-L82). Also a timeout of 1 minute does not seem too small to me especially if we consider that we have 3 repeated attempts.

Do not break the network when testing network interaction is not

[2018-01-12 16:28] bparees commented on #18096
(my comments only apply to (1) obviously.  I have no opinion on (2) and (3))

[2018-01-12 17:10] bparees commented on #18096
Kube also survives w/ the secrets problem.  They don't run the scale we do as I understand it.

[2018-01-12 17:11] php-coder commented on #18089
Could it be implemented as a plugin to Minikube?

CC @openshift/sig-developer-experience

[2018-01-12 17:24] ironcladlou commented on #17825
When's the last time this was observed? 3000 runs of TestStartingResourceVersion with `stress` and no failures so far.

[2018-01-12 17:28] simo5 commented on #18096
@bparees I think this is mitigated by the fact that we do not force the creation of objects as we do for secrets. Asmins that end up creating large amount of objects unnnecessarily can be coached and helped to consolidate those, so at least the size problem is manageable where it makes sense.
This is to say I do not think size matters should influence this issue.

[2018-01-12 17:29] simo5 commented on #18096
@enj on point 1, should we instead point to some other command to eidt groups ?
I am not confortable pointing at a create command from a modify command, some people know what they are doing and they deserve to be pointed at how to modify objects, telling them to create new ones is not helpful or appropriate in all cases.

[2018-01-12 17:31] enj commented on #18096
Sure but secrets are large (because of the embedded cert) and we have controllers auto create (and recreate if deleted) a bunch of them per namespace.  RBAC objects are small, and we only auto create a few for the SAs and admin user when the project is created.  Any extra objects are purely user driven.

[2018-01-12 17:32] philbrookes commented on #18089
@php-coder I don't think that's possible at the moment as it requires the ansible-service-broker, which - as I understand - requires OpenShift?

[2018-01-12 18:20] smarterclayton commented on #18095
Broken since https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/17922/test_pull_request_origin_extended_conformance_install/5377/

[2018-01-12 18:22] smarterclayton commented on #18095
In the test failures I see

[code]

That's pretty unusual.  Why would we not be able to find the local docker image we built?

[2018-01-12 18:24] bparees commented on #18095
wonder if this is the image GC issue that we were discussing with @derekwaynecarr and @sjenning yesterday...  though previously we only saw it on our build+image eco extended tests.   @stevekuznetsov was attempting to increase the docker storage space to work around it.  Not clear if that change has gone through or not (or perhaps it was done incorrectly, went through, and broke this)

[2018-01-12 18:26] stevekuznetsov commented on #18095
The base size for the XFS volume seems to have _dropped_ after we increased the size of the volume underneath it...

[code]

More info:

[code]

[2018-01-12 18:28] stevekuznetsov commented on #18095
Hmm no a second look, the 35GB is the size before any changes were made, and I _think_ the LV just auto-expands as necessary? So the fact that it was so small is OK? @jwhonce may know more there

[2018-01-12 18:30] smarterclayton commented on #18095
Didn't we move to overlay?  If you increase the device mapper pool, wouldn't that reduce the amount of space available for overlay, and thus cause more breaks?

[2018-01-12 18:30] stevekuznetsov commented on #18095
A [more recent run](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18077/test_pull_request_origin_extended_conformance_install/5424/) shows the same info, though:

[code]

[code]

[2018-01-12 18:31] stevekuznetsov commented on #18095
@smarterclayton no, we are not on overlay for the AWS tests

[2018-01-12 18:32] bparees commented on #18095
@stevekuznetsov
[code]

so we only have a 15gig volume for docker?  is that what you were increasing?

[2018-01-12 18:32] stevekuznetsov commented on #18095
@smarterclayton I don't think we set up for overlay...

[code]

[2018-01-12 18:33] cringdahl commented on #18083
Using release-3.7, I get a different ASB error, which is, verbosely, this:

	fatal: [openshift-lab-01.example.com]: FAILED! => {
	    "changed": false,
	    "failed": true,
	    "invocation": {
	        "module_args": {
	            "all_namespaces": null,
	            "content": {
	                "data": "apiVersion: servicecatalog.k8s.io/v1beta1\nkind: ClusterServiceBroker\nmetadata:\n  name: a

[2018-01-12 18:35] stevekuznetsov commented on #18095
This is definitely from the fact that we have for some reason created a 15GB PV for `docker` on top of the 35GB that were already allocated ...

This is from a run before we changed the size of the underlying volume

[code]

[2018-01-12 18:55] stevekuznetsov commented on #18095
Reverted to the previous AMI, this should be resolved

[2018-01-12 18:55] stevekuznetsov commented on #18095
Need to figure out why we were creating two partitions in the 50GB case with the same code that made one with 35GB...

[2018-01-12 20:09] simo5 commented on #18096
Point n. 4 doesn't really have equivalents. While the other commands can reasonably transitioned to oc edit rolebindings as generally you are going to edit a specific role/binding, the command in 4 is more complex and removes a user from all namepace roles (even though it doesn't touch cluster rolebindings). I'll leave that one out as I think it falls off the "equivalent" charter for this issue.

[2018-01-12 20:52] daniyalj commented on #16272
@arunachg  I know this a while ago, but any luck in getting access externally? I've got the oracle container up and running on openshift but Im unable to hit <exposed-service-FQDN>/em/ (exposed on port 5500)

[2018-01-12 21:37] Locat opened #18103 "Which UID/GID + permission in docker image ?"
Hey, I started using Openshift, but I'm still struggling with running images straight from Dockerhub.

I know I can bypass some restriction set by openshift using more relaxed SCC, however I'd rather not do it this way.

From what I gathered. my images must not run as root. However I'm not sure I completely understand how it should work (especially when there are persistent volumes used).

What ar

[2018-01-12 21:46] simo5 commented on #18096
Soo, after I wrote the PR I started looking at fixing the docs, including figuring out how to provide command line replacements of previous commands and ...
I find it exceedingly difficult to do so in non-interactive ways.

oc create rolebindings + oc edit rolebndings is kinda fine, except you need to look at an existing rolebinding to figure out what to put in there, but ok, let's assume that is

[2018-01-12 22:04] #17404 closed

[2018-01-12 22:04] #17535 closed

[2018-01-12 22:12] simo5 commented on #18096
Just as an example, trying to add a user to a rolebinding is not even a consistent operation, as it depends on what's already in the object.
In my attempt, adding the first user seem to work just with this command:
[code]
however adding a second user requires:
[code]
luckily the index values for the arrays expressed in the paths are irrelevant.

Later on I tried to add a group with a command analo

[2018-01-12 22:50] juanvallejo commented on #17228
@pmorie is this still happening?

Lowering severity for now

[2018-01-12 22:56] juanvallejo commented on #17766
Closing. Will track issue in https://github.com/openshift/origin/issues/17872

[2018-01-12 22:56] #17766 closed

[2018-01-12 23:26] #16735 closed

[2018-01-12 23:33] coreydaley commented on #16229
@gabemontero Have you seen this flake come up recently?  I didn't see it during last sprint, we might be able to close this one.
cc: @bparees

[2018-01-12 23:47] bparees commented on #16229
@coreydaley image ecosystem hasn't been in good shape so i don't think we have any sense of whether this test is legitmately passing, or failing for other reasons before we get there.  I think we need to leave it open.  We certainly didn't make any changes to think we sorted it out.  I think @jim-minter was on the hunt last.

[2018-01-12 23:58] bparees commented on #18096
@simo5 +1.  Also I see you added update docs to the list, which i was going to suggest, but also our ansible playbooks use these commands so those should be updated as well (and you may find they run into similar problems in terms challenges for non-interactive usage)

[2018-01-13 00:02] liggitt commented on #18096
The hidden cost of the magic "add to the first binding you find" behavior is that it breaks when combined with manifest driven bindings. In isolation the magic command is more usable, but it is problematic when combined with the rest of kube

[2018-01-13 09:06] #18069 closed

[2018-01-13 10:25] #17977 closed

[2018-01-14 01:15] kargakis commented on #18103
@openshift/sig-security

[2018-01-14 01:15] #18095 closed

[2018-01-14 01:17] kargakis commented on #18048
@openshift/sig-security

[2018-01-14 01:23] php-coder commented on #18103
AFAIR our examples use "1001:0 way". Because UID may change, the only way to be able to work with data is to make files writable to the `root` group. You don't need to add a user to `root` group as it will have this group automatically.

[2018-01-14 11:22] Neikius commented on #18034
@wozniakjan May I ask why these docs
 https://docs.openshift.org/latest/install_config/install/advanced_install.html#advanced-install-cluster-logging contradict the other docs (that you linked)? One claims NFS is not supported while the other provides a direct example of using NFS and dynamic storage? This confused me totally and I am still unable to install logging at all. I guess I am just dense

[2018-01-14 11:40] php-coder commented on #18034
@Neikius It's documentation bug: https://github.com/openshift/openshift-docs/issues/6080

[2018-01-15 07:48] bortek commented on #16003
I am pretty sure now I am ah hitting this bug. I tested on two different applications in different namespaces and they both behave like that. Yes they have both configChange & imageChange triggers. It happens when I start a new build which when completed initiates new deployment. It does not help if I disable configChange trigger. (Cant disable imageChange as I need it). Steps to reproduce... I ju

[2018-01-15 08:32] wdbasson commented on #18029
There are only 2 versions available on dockerhub: v1.0.0 and v1.1.0.

[2018-01-15 08:40] praveenkumar commented on #17986
Even after this is fixed looks like other images which @jorgemoralespou mentioned should need to be released/tagged properly.

[code]

[2018-01-15 09:20] Neikius commented on #18029
@wdbasson: I somehow managed to install it in the end by doing some ugly hacking. I didn't touch this setting in the end, since it proved to be pointless and just used :latest for ES and 1.0.0 which is the default for proxy.

[2018-01-15 09:36] david-martin commented on #18089
@bparees What is the core mission of cluster up?
Would there be value in taking parts of what this proposal is and making them available in a more generic way?

For example:
* --ansible-broker-org - Which docker hub org to point to for the openshift ansible broker
* --ui-extension - A path or config file that for a UI extension on the local filesystem

[2018-01-15 09:43] wdbasson opened #18107 "Aggregated logging deployment for origin v3.7 not functional with problems/errors in fluentd, logging-curator and kibana"
Deploying aggregated logging with openshift-logging.yml playbook results in a non-functional EFK cluster. Errors are present in logging-curator, fluentd and kibana.

##### Version
[wdbasson@navi ~]$ oc version
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://example.com:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps

[2018-01-15 09:50] wdbasson commented on #18029
@Neikius: I'm having a lot of trouble getting an EFK cluster up and running. I've opened a [issue](https://github.com/openshift/origin/issues/18107). Did you have similar problems?

[2018-01-15 09:57] mfojtik commented on #17998
@mc-meta how do you create the apps? does the DC have trigger? Also can you gist the result of `oc apply --loglevel=10` ? Why you need to change the image manually and add the prefix? The trigger should take care of that when the image is deployed.

[2018-01-15 09:58] mfojtik commented on #17915
@liggitt PTAL, I thought we fixed the scaling endpoints

[2018-01-15 10:12] tnozicka commented on #16003
@bortek Unless you see 2 deployer pods running at the same time it isn't this bug. Say like
[code]
Please open a new bug stating your exact openshift version, and the output of `oc get dc,rc,po,is,build -o yaml` so we can determine why it's happening for you.

[2018-01-15 10:27] jamespegg commented on #18042
I was deploying the image directly from Docker Hub, although now I've had to update it to run as a different user to get around the permission model.

For the time being I've re-deployed all the images with different names so that the automatically generated environment variables don't clash with the variables that the image is expecting.

[2018-01-15 10:27] #18042 closed

[2018-01-15 11:08] michelebariani commented on #17998
Hi @mfojtik , as I'm working with @mc-meta on this I can provide some first feedback to you.

The apps are created with `oc apply` and yes there are triggers, as per the github link provided by @mc-meta see e.g. https://github.com/michelebariani/minishift-demo-fortune/blob/master/s06/app-fortune/fortune-dc.yaml.j2 (this templates then gets rendered as a .yaml)

The "add the prefix" part was not so

[2018-01-15 11:57] mfojtik opened #18109 "Cluster up is broken on LinuxKit based Docker for Mac"
I can see this using `oc cluster up` with `v3.9.0-alpha.2` and latest HEAD version of openshift:

[code]

There is nothing special about this deployment or setup, the container is stuck in `ContainerCreating` state.

I can see this in master log:

[code]

EDIT: This is caused by a recent updated of Docker for Mac (Version 17.12.0-ce-mac47-stable) which brings a new VM based on LinuxKit that droppe

[2018-01-15 11:59] mfojtik commented on #18109
(I guess it would be useful to show the output of the command that is failing, not just exit code?)

[2018-01-15 12:06] mfojtik commented on #18109
@smarterclayton are we missing the `findmnt` command in the alpha-2 release images See: https://github.com/kubernetes/kubernetes/pull/58284

[2018-01-15 12:07] soltysh commented on #18072
Fix is in https://github.com/openshift/origin/pull/18062.

[2018-01-15 12:09] Neikius commented on #18107
`oc rsh -c elasticsearch logging-es-data-master-pa89yfys-1-qf54g ` then check logs in /elasticsearch/logging-es/logs/logging-es.log - I had problems with searchguard that were only visible from that log (and the fact that you couldn't connect to elastic). Reason for my problem was I was running it on glusterfs, also the installation never completed for me... https://github.com/openshift/origin/iss

[2018-01-15 12:09] michelebariani commented on #17998
Hi again @mfojtik , I'm attaching log files as requested.

output-0.log refers to the first `oc apply --loglevel=10`, that creates the app.

output-1.log refers to a second `oc apply --loglevel=10`, whose purpose is to change the name of replicas, with anything else untouched (especially containers images) but without getting the desired result in the end (as per initial description of the issue).

[2018-01-15 12:11] mfojtik commented on #18109
@smarterclayton K, so the command is there, but the error suggests the `PATH` is wrong?

[2018-01-15 12:13] mfojtik commented on #18109
@smarterclayton @deads2k seems like we missed https://github.com/openshift/origin/pull/3168 during rebase?

(shame to Clayton for not following our commit message rules and the verification seemed not to catch this)

[2018-01-15 12:27] mfojtik commented on #18109
hrm, it seems like it will search in `/rootfs/usr/bin/findmt` according to https://github.com/mfojtik/origin/blob/9e98436e109dc2e39022748ff09f86f9d41868c7/vendor/k8s.io/kubernetes/pkg/util/nsenter/nsenter.go#L90

Not sure what the `/rootfs/` here is, but it seems to be failing for me on OSX Docker.

[2018-01-15 12:34] mfojtik commented on #18109
OK, this seems to be OSX specific I guess... The `/rootfs/usr/bin/` does not include `findmnt` (and other binaries) anymore. I guess they were removed from the Docker VM ?

[2018-01-15 12:37] mfojtik commented on #18109
@csrwng this means the `cluster up` for Docker on Mac is now broken (starting from Version 17.12.0-ce-mac46 (21698))

[2018-01-15 12:39] php-coder commented on #18103
@Locat Here is a link to out best practices: https://docs.openshift.org/latest/creating_images/guidelines.html#openshift-specific-guidelines see the chapter "Support Arbitrary User IDs"

@bparees Did I miss something that should be mentioned here?

[2018-01-15 12:44] #10764 closed

[2018-01-15 12:58] wdbasson commented on #18107
@Neikius: Thanks! There was nothing in the pod's logs but I see some searchguard warnings followed by CorruptIndexException(s):

[code]

Storage is backed by gluster so I'm wondering if its relates to cluster.consistent-metadata being off by default which used to be an issue in the past. I just assumed with gluster being part of the advanced installer and openshift_logging_storage_kind=dynamic the

[2018-01-15 13:05] mfojtik commented on #18109
Filled https://github.com/docker/for-mac/issues/2433

[2018-01-15 13:08] mfojtik commented on #18109
@bparees FYI (I know that devexp does not own the cluster up for now, but in case people will start asking)

[2018-01-15 13:15] atagunov commented on #6267
very much wanted
just need to do a quick 'git clone' behind a corporate firewall on Windows
don't want to disable check on all projects
don't want to figure out which ssl is used (plink it is actually) and how to configure that
just want a quick check-out

[2018-01-15 13:47] legionus commented on #16051
@bparees I guess we need to reassign this issue to master or security team.

[2018-01-15 13:47] pweil- commented on #18103
Thank you for the submission.  This type of question should be directed to the mailing list or stack exchange since it is not a bug or feature request.

As @php-coder mentions, group access is generally the way to go here.  There are also facilities in SCC for controlling which groups can be used in the supplemental groups and fsgroup fields.

I'm going to close this but please reach out to the li

[2018-01-15 13:47] #18103 closed

[2018-01-15 13:53] pweil- commented on #18089
Agree that this is more than we probably want to support in that command on the core OpenShift side.  Will leave this open for discussion of the question above.

[2018-01-15 13:54] legionus commented on #15177
Now we have a request limits.

https://docs.openshift.org/latest/install_config/registry/extended_registry_configuration.html#docker-registry-configuration-reference-openshift

@smarterclayton @bparees Does this solve the problem?

[2018-01-15 13:56] pweil- commented on #18048
@sjenning  I don't believe anyone on @simo5 's team is familiar with the upstream sysctl work but the "context cancelled" error doesn't lead me to believe it is related.  Please reassign if this shouldn't go to the pod team.  Thanks!

[2018-01-15 13:58] pweil- commented on #18028
leaving it to you guys to sync up and close if necessary.  Thanks!

[2018-01-15 14:03] legionus commented on #13127
If you use the pullthrough from your server, then you need to add a secret to make it work:
[code]

[2018-01-15 14:22] deads2k commented on #18096
This.  Collapsing onto kube for kube resources to be managed like other resource manifests is better in the end.  Consistency of experience (even if it may seem less convenient at first), pays over time.

[2018-01-15 14:22] jorgemoralespou commented on #18089
@david-martin this should be implemented in minishift, but if OC cluster up is still desired, you can look into https://github.com/openshift-evangelists/oc-cluster-wrapper which provides a plug-in mechanism to oc cluster for doing what you ask

[2018-01-15 14:37] bparees commented on #18089
standing up a basic openshift cluster as quickly/easily as possible.

Service catalog was added to cluster up because the service catalog was/is the default experience for openshift, so it's considered a fundamental part of the cluster (along w/ things like the router, registry, etc).

Logging and metrics install/config is something that was added to cluster up but probably exceeds what should hav

[2018-01-15 14:41] bparees commented on #15177
I wouldn't think so.  My interpretation of this issue is that the concern is scaling up to handle more pushes (either by fixing the bottleneck if it's something we can control, or scaling horizontally to give us more bandwidth)

[2018-01-15 14:44] bparees commented on #16051
@mfojtik Seems like either the registry's SA credentials aren't being respected, or the api server is having problems validating credentials in general.

[2018-01-15 14:53] simo5 commented on #18096
@liggitt @deads2k I've put myself in the shoes of an admin that does not breathe Openshift source level details every day for breakfast, and I just screamed "noooooo".
Seriously, unless you are a wizard, oc edit/oc reconcile is hardly usable and finnicky.
@liggitt I do not like one bit the behavior of picking or creating a random role binding, it is dumb to do that, and it is unfortunate that the

[2018-01-15 14:56] dmage commented on #10217
Closed by openshift/image-registry#35.

[2018-01-15 14:56] #10217 closed

[2018-01-15 14:56] csrwng commented on #18109
@mfojtik this is actually caused by cluster up not correctly figuring whether it should be using the nsenter mounter. I recently submitted a PR to fix this https://github.com/openshift/origin/pull/18052. Can you please try with oc compiled from master and see if you can reproduce?

[2018-01-15 15:00] mfojtik commented on #18109
@csrwng will check thanks

[2018-01-15 15:04] liggitt commented on #18096
We could make the `--rolebinding-name` arg required

[2018-01-15 15:04] soltysh commented on #17825
@ironcladlou if you haven't been able to reproduce it and didn't find any recent failures in our CI lower the priority and if it doesn't happen in some time - you're free to close it.

[2018-01-15 15:10] mfojtik commented on #18109
@csrwng right, this fixed it... But I wonder if we really need a special case for non-RH docker here.

[2018-01-15 15:14] simo5 commented on #18096
@liggitt we could but it would have to be optional or it'd break all existing scripts, so it is very suboptimal.
I think the only way to get better commands is to provide new ones, and preferably upstream.

[2018-01-15 15:16] mfojtik commented on #18025
[code]

This seems wrong to me. The intention here is clearly to set a new trigger for container "test-deployment" to a new image, but instead this command keep adding new triggers to the list.

What is the use-case for the current behavior? Do we expect users will have more then 1 trigger per 1 container? So when an image that is not the image the container runs currently is changed, we will trig

[2018-01-15 15:26] deads2k commented on #18096
I don't think that "management by scripting" will gain any traction upstream.  "Management by resource manifest" is the "normal" approach to the entire project.

I think that someone managing an openshift or kube cluster can reasonably be expected to roughly understand what they administer.  No other part of the cluster is managed by scripts.  Having this as an outlier does not make the mental loa

[2018-01-15 15:26] #17045 closed

[2018-01-15 15:27] #16012 closed

[2018-01-15 15:48] boeboe commented on #17677
No, but you should have a look at the project **openshift-template-service-broker** and you might see flapping **apiserver** pods (backed by a daemonset) due to incorrectly configured nodeSelector labels.

[2018-01-15 15:49] tnozicka commented on #18025
I was confused by writing `--container=foo` instead of `--containers`. It should work fine.

I agree that this should always overwrite if there is no case to be made for the current behaviour. Having more than 1 image trigger for 1 container looks like undefined behaviour to me.

[2018-01-15 16:05] sosiouxme commented on #15545
@kargakis @jhadvig @stevekuznetsov is this issue still relevant? I'm pretty sure CI/CD hasn't been sitting still for the last few releases ...

[2018-01-15 16:09] xqianwang commented on #14004
@coreydaley  Not any more.  Thank you!

[2018-01-15 16:11] #14004 closed

[2018-01-15 16:20] dmage commented on #7336
Do we really want to log the versions of used components? Our version should be enough to checkout the right `glide.lock` file and the vendor/ directory.

[2018-01-15 16:28] dmage commented on #2581
Do we want something more than having OPENSHIFT_DEFAULT_REGISTRY="registry-svc.registry-namespace.svc.cluster.local"?

[2018-01-15 16:28] bparees commented on #7336
@dmage no i don't think the image-registry process should be logging the kubernetes and openshift versions.  (or docker distribution).  It should just log its own version/commit level.  As you say, that's sufficient to figure out the rest of the information if you need it.

[2018-01-15 16:37] david-martin commented on #18089
@philbrookes based on what @pweil- @bparees and @jorgemoralespou are saying, this issue will probably be closed.

But there are some takeaways:
* see if https://github.com/openshift-evangelists/oc-cluster-wrapper could give some benefit over our current approach (evoking oc cluster up and various playbooks)
* see if we can push forward with a minishift plugin/environment that includes the broker,

[2018-01-15 16:45] liggitt commented on #18096
The function you want is a subset of the existing commands. Why is it better to completely break all users of that subset by removing those commands, rather than restricting use of those commands to the desired subset over a few releases?

[2018-01-15 17:16] dmage commented on #13243
@bparees if we make a new endpoint to resolve [bug 1531676](https://bugzilla.redhat.com/show_bug.cgi?id=1531676), this optimization can be made on the side of the new endpoint.

[2018-01-15 17:17] juanvallejo commented on #18025
Sounds good to me. Will open PR to address this

[2018-01-15 17:26] bparees commented on #13243
the new endpoint would return all public layers known to the registry?

[2018-01-15 17:30] smarterclayton commented on #18096
Yeah, in general I think there are two use cases:

1. i'm doing iterative development on top of openshift, and commands that help me accomplish my goal with minimum frustration (i want to give a user a role, or take that away)
2. i'm doing config managed code, where the RB is created and managed frequently

The assumption with 2 is also that some automated system is applying this (jenkins, a bash

[2018-01-15 17:37] deads2k commented on #18096
If you say your only entrypoint is either a resource manifest or `oc create rolebinding foo --role`, then removal is always a either a resource manifest or a `oc delete rolebinding foo` away.  The middle ground you're reaching for only exists because of the commands you're currently running.  Put another way, you only want the remove-from-group because you have the add-to-group.  If you didn't hav

[2018-01-15 17:57] simo5 commented on #18096
So we all know that the problem with the current commands is that they pick "at random" how and where they add/remove users to roles. That is bad, because it is implecit and not visible to admins.

Two solutions have been proposes to salvage existing commands:
1) Add a --rolebinding-name required option so that these commands do not operate on randome rolebndings anymore
2) Make these commands nev

[2018-01-15 18:02] liggitt commented on #18096
The commands already have this feature, it is just optional today.

If someone is using `add-role-to-user --rolebinding-name` today, why would we break that, since it's doing what we want? Why not just output warnings in 1.9 that --rolebinding-name will be required in the future?

[2018-01-15 18:16] simo5 commented on #18096
On Mon, 2018-01-15 at 10:02 -0800, Jordan Liggitt wrote:

Right, I meant just "make it required".

We wouldn't, deprecation warnings currently do not break anything.

Have we done this anywhere else ?
If everyone agrees this is ok and sufficient, I guess I can do that.

[2018-01-15 18:17] simo5 commented on #18096
What about the policy remove-user|group commands ?
Feeling like those may have to go for good ...

[2018-01-15 18:19] edsonmarquezani opened #18115 "Can't start node agent with Azure cloud-provider on OSE 3.7"
I'm deploying an Openshift Enterprise 3.7 on Azure with Ansible playbooks. Everything from RH repositories packages.

[code]

Ansible fails at `openshift_node : restart node`, because nodes can't get a subnet.
[code]

After some investigation, I figured out the issue is somehow related to *cloud-provider* configuration, even though it seems to be correctly configured.
[code]

If I remove the *clou

[2018-01-15 18:24] bparees opened #18116 "github.com/openshift/origin/test/end-to-end/core test/end-to-end/core.sh:401: executing 'oc get pods -l openshift.io/deployer-pod.type=hook-pre -o jsonpath={.items[*].status.phase}' expecting any result and text '^Succeeded$'; re-trying every 0.2s until completion or 60.000s"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18112/test_pull_request_origin_end_to_end/8021/

[2018-01-15 18:48] ephillipe commented on #17952
I'm getting this error yet.

/ TASK [ansible_service_broker : Create the Broker resource \
\ in the catalog]                                           /
 -----------------------------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

fatal: [ip-172-30-6-111.ec2.internal]: FAILED! => {"changed":

[2018-01-15 21:03] liggitt commented on #17915
fixed in origin 3.7 branch (no 3.7.1 release cut yet): https://github.com/openshift/origin/pull/17517

[2018-01-15 21:17] smarterclayton commented on #18096
But people want add-to-group because they don't actually care about the role binding name.  The argument seems to be that we should remove the existing commands.  I don't think that's going to happen for several releases, mainly because we have spent 3 years documenting this for ad-hoc administration and you can't break it.  I'm kind of on the "don't ever break it" fence, in which case I'm concern

[2018-01-15 21:24] jorgemoralespou commented on #18089
If you're looking into long term sustainable solution, that can provision a
local cluster or a cluster in the cloud, then ansible is the way to go.

If you just want a way to spin up a cluster and configure it with the
mobile UI in order to work and develop, then plugins in oc-cluster or
addons in minishift are easy to create.

[2018-01-15 21:27] deads2k commented on #18096
That sounds a lot like "deprecate it because we want to encourage something else, but don't remove it for a while".  That sounds fine to me.

I don't see why saying "add/remove" is easier than saying "create/delete" with the same information.  Deprecating them and leaving them in place for a few years is fine with me.  I just don't to be chasing things like "make it nicer things for me on conflict

[2018-01-15 22:00] smarterclayton commented on #18096
I think it makes sense to do the resource driven commands (as in your example) vs creating a second set of commands that looks similar to `add-*` - given that the existing commands have to lay around for a bit.

I was thinking though about how even a deprecated command will be used, and encouraging use of `--rolebinding-name` to the `add-*` commands is longer and more onerous than the `create role

[2018-01-15 22:12] simo5 commented on #18096
@smarterclayton @deads2k you give interesting perspectives, but I need a blessed direction now.
It is not clear to me what you guys want to see. I can go any number of ways as long as we are all on the same page, as I do not want to do work and then just throw it away.

[2018-01-15 22:13] #17811 closed

[2018-01-15 22:13] #16246 closed

[2018-01-15 22:17] smarterclayton commented on #18096
What's the pressure to have to do something *now* for `add-*`?  Agree we want to improve them somehow, but that shouldn't block the other things listed in the top section.

[2018-01-15 22:25] simo5 commented on #18096
Upon deprecation I need to update the docs on what is the new blessed way.
As I showd in the PR comments, trying to use oc patch is unworkable, so I asked if we wanted to do somethign else.
Seem your answer is: do not deprecated them and leave them as is. Fine by me if that's what you want. But then, should I deprecate anything at all ?

[2018-01-15 22:48] deads2k commented on #18096
There were complaints about either the add or the remove (I don't recall which), not performing retry on conflicts when fighting with other controllers (I think it was controllers).  That brought it to the forefront and the realization that we have two sets of commands, one set I wrote in openshift pre-3.0 and one set I wrote in kube with lessons learned from 3.0.

Having two sets of commands lead

[2018-01-15 22:51] dmage commented on #13243
If it will answer whether a blob belongs to an image stream, it could pretend that all public layers belongs to all image streams.

[2018-01-15 23:23] bparees commented on #13243
ok that's a different new api than the one I was thinking of (one that lists all blobs associated w/ an imagestream, or lists all images associated w/ an imagestream).  Though it would also address the problem of too many api calls (not quite as efficiently though since it would still make a call per layer instead of a single call).

[2018-01-16 02:41] liangxia commented on #16127
$ oc explain volumesnapshot
error: group volume-snapshot-data.external-storage.k8s.io has not been registered

$ oc explain volumesnapshotdata
error: group volume-snapshot-data.external-storage.k8s.io has not been registered

oc v3.7.0-0.181.0
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

[2018-01-16 05:27] praveenkumar opened #18119 "oc cluster up => down => up failed if service catalog flag is used."
If a user try to use `use-existing-config` for service-catalog and do `cluster up` => `cluster down` then next `cluster up` failed.

##### Version
[code]

##### Steps To Reproduce
[code]

##### Current Result

[code]

##### Expected Result

It should be succeed without any error.

[2018-01-16 07:51] sttts commented on #16127
/cc @nikhita

[2018-01-16 09:35] philbrookes commented on #18089
@david-martin we have already made a lot of progress with a [minishift mobile core addon](https://github.com/aerogear/minishift-mobilecore-addon).

It does seem that oc-cluster-wrapper would be the best alternative, if this idea is not suitable.

[2018-01-16 09:53] mfojtik commented on #18109
Closing this as @csrwng patch seems to fix the issue for `cluster up`.

[2018-01-16 09:53] #18109 closed

[2018-01-16 09:59] mfojtik commented on #18116
I can see a lot of:

[code]

I would guess that this made the pre-hook pod stuck in the Pending state. @runcom or @jsafrane have you seen this before?

[2018-01-16 11:18] garagatyi commented on #14031
Hi. We have faced the same behavior in Che on a single server OpenShift. Is there anyone working on this issue? If no is there anyone who knows where to dig to fix this issue?

[2018-01-16 12:47] jsafrane commented on #18116
I've never seen this. It comes from cAdvisor:

[code]

[2018-01-16 12:50] mfojtik commented on #18025
@juanvallejo too late :) https://github.com/openshift/origin/pull/18120

[2018-01-16 14:34] spadgett opened #18122 "[sig-storage] Projected should set DefaultMode on files [Conformance] [Suite:openshift/conformance/parallel] [Suite:k8s]"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18114/test_pull_request_origin_extended_conformance_gce/14315/

[code]

/kind test-flake
/priority p1
/sig storage
/assign @jsafrane @childsb

[2018-01-16 14:37] jfchevrette opened #18123 "Lots of etcd errors in origin-master-api logs after upgrading to 3.7"
After upgrading from 3.5->3.6->3.7 I am getting a lot of etcd errors/warnings in the apiserver log.

etcd data was ugpraded from v2 to v3 as instructed by the documentation.

The cluster itself appear to be working fine but it looks like the api server is having trouble setting up watches.

This is a 5-nodes cluster, 3 masters, standalone 3-nodes etcd cluster (on the master nodes)

154 projects
30

[2018-01-16 14:48] pecameron commented on #15982
Removing --expose-metrics and --metrics-image is tracked by:
https://github.com/openshift/origin/issues/1499026

[2018-01-16 15:11] gbaufake opened #18125 "Deleting projects is leaving projects on zombie state"
After deleting projects via openshift UI, the project is not being deleted. Trying via oc command generates:

`Error from server (Conflict): Operation cannot be fulfilled on namespaces "istio-system": The system is ensuring all content is removed from this namespace.  Upon completion, this namespace will automatically be purged by the system`

##### Version
oc v3.7.23
kubernetes v1.7.6+a08f5eeb62

[2018-01-16 15:33] php-coder commented on #18123
@mfojtik Is it belong to master team?

[2018-01-16 15:40] php-coder commented on #18125
Does it only reproducible when you removes project via UI? In other words, would it go to a zombie state if you remove it from CLI (`oc delete project <project_name>`)?

[2018-01-16 15:45] gbaufake commented on #18125
@php-coder

I checked  and the result is the same

[2018-01-16 15:50] php-coder commented on #18125
@gbaufake No, I don't. I hope that @juanvallejo knows or at least could know who knows :)

Meanwhile, did you check logs? Is there something that could be related to the issue?

[2018-01-16 16:03] ironcladlou commented on #17825
@soltysh

I have no idea how to assess its frequency given the state of our CI analysis tooling. I'm going to lower the priority until somebody complains.

[2018-01-16 16:07] garagatyi commented on #12111
Hi. We've faced the same issue in Eclipse Che on OCP (docker-based OCP).
Exec'ing into origin container and changing `veth*` networks hairpin setting to 1 helps but we can not use it since our users create new OS projects which get hairpin=0.
Host system is Fedora 25
Openshift v3.7.0+7ed6862
Same behavior on our CI on Centos 7.x

Can you give any advice on how to nail down this issue?

[2018-01-16 16:15] simo5 commented on #18096
@deads2k I am confused now, what are the 2 sets of commands you are referring to ?

So it seems like there is no consensus on removeing these commands, and most seem to oppose the idea of adding new commands.
Most also recognize that the way the add-{cluser}role-to-[user|group] command behave is not ok.

So would it be fair to say that most agree that:

1) changing these commands to not re-use rol

[2018-01-16 16:19] micah opened #18127 "oc adm diagnostics: unable to parse requirement"
Running `ocm adm diagnostics` produces an error about the diagnostic pod.

##### Version
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### Steps To Reproduce
1. run `oc adm diagnostics`

##### Current Result
[code]

##### Expected Result

No error.

##### Additional Information

The router deployment config also seems to exhibit this error:

[code]

[2018-01-16 16:57] xavierbaude opened #18128 "STI push to registry failed"
Hello everybody,

I get a strange issue since migrating from 3.6.1 to 3.7.1 today.

When I use a sti image, the build end OK but the push step is failed because the TLS certificate of the registry does not contain the ip of the registry console.

[code]

From a container :
[code]

Why is the ip is used instead of the service name ??

[2018-01-16 17:02] juanvallejo commented on #18125
Was able to reproduce using a 3.9 client against a 3.9 cluster.
Steps I took:

[code]

The project is finally deleted after a minute or so, and no longer appears in the output of `$ oc projects`.

@gbaufake I suspect that maybe one or more resources that are created as part of deploying an application in your project are taking a bit longer than normal to be deleted (or maybe there are a lot of re

[2018-01-16 17:05] gbaufake commented on #18125
@juanvallejo
Yes, some projects are on "terminating state" more than 2 days.

[2018-01-16 18:04] jmrodri commented on #18046
@sjenning interesting:
[code]

[2018-01-16 18:07] jmrodri commented on #18046
[code]

[2018-01-16 18:16] aliscott opened #18131 "openshift-master-api does not shut down gracefully"
Stopping origin-master-api using `systemctl stop origin-master-api` does not do it gracefully on a multi-master cluster. Internal references to the kubernetes service endpoint can fail to connect for several seconds following this.

It can take up to 15s for the endpoints in the kubernetes service to be reconciled to remove the stopped master.

Should the endpoint be removed before stopping the `o

[2018-01-16 18:24] jorgemoralespou commented on #17986
It seems like logging is already solved, but still not metrics.

[2018-01-16 18:41] juanvallejo commented on #18125
cc @soltysh

@gbaufake any chance you could list the resources that remain in the project while it is on the "terminating" state? After you get the `(Conflict)` error message when deleting it, do `oc get all` on the project. (Feel free to redact anything / just post the resource kinds).

[2018-01-16 18:59] hhovsepy commented on #18125
"oc get all" returns "No resources found." for the "terminating" state projects.

[2018-01-16 19:08] liggitt commented on #17915
v3.7.1 released

[2018-01-16 19:08] #17915 closed

[2018-01-16 19:21] juanvallejo commented on #18125
@deads2k @soltysh could this maybe be failure to delete a resource in the namespace that is not part of "all"?

[2018-01-16 19:37] csrwng commented on #12111
@garagatyi try bringing the cluster down and restarting Docker (not restarting the machine). There seems to be an issue with iptables and Docker when it's first brought up by systemd. If you restart Docker after your machine is running, it fixes itself.

[2018-01-16 19:40] nikhita commented on #16127
Commented upstream: https://github.com/kubernetes/kubernetes/issues/49465#issuecomment-358080250.

[2018-01-16 19:50] creiche commented on #17951
This also appears to happen when upgrading from OCP 3.7.9 to 3.7.14

[2018-01-16 19:55] liggitt commented on #18125
No. `oc get all` will not list every resource in the project.

Check the controller logs... the namespace controller will indicate the resources it could not delete

[2018-01-16 20:08] gbaufake commented on #18125
@liggitt service atomic-openshift-master-controllers status -l -f would do the work?

[2018-01-16 20:09] DirectXMan12 commented on #13135
Correct, nothing has changed since this was opened.  Someone would need to go write a custom controller that woke up the Jenkins instances when new Jenkins builds come in.

[2018-01-16 20:26] srinivas-coimbatore commented on #6283
We are working with OpenShift 3.3, can you please tell us since which version is the OPENSHIFT_DEFAULT_REGISTRY variable supported?

[2018-01-16 20:32] sjenning commented on #18046
@jmrodri ah ok. So you are probably hitting imageGC and eviction.

https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/kubelet/apis/kubeletconfig/v1alpha1/defaults.go#L198-L205

You can either:
1) free up disk space so that you get below 85% disk usage
2) adjust `--eviction-hard` `nodefs.available` and `imagefs.available` to be absolute values like 2Gi since your root disk

[2018-01-16 21:00] #17446 closed

[2018-01-16 21:11] soltysh commented on #18125
@gbaufake yes, that should do. In case there's nothing in the logs you can also try increasing the loglevels and grep for `namespace_controller.go` or `namespaced_resources_deleter.go`. These will come from the namespace controller @liggitt mentioned.

[2018-01-16 21:12] soltysh commented on #18125
@ironcladlou since you're the GC expert, any ideas what might be stuck when removing a project in a 3.7 version?

[2018-01-16 21:31] ironcladlou commented on #18125
The controller logs already requested should help reveal the problem.

[2018-01-16 22:30] pravisankar commented on #17924
Fixed by https://github.com/openshift/origin/pull/17989

[2018-01-16 22:30] #17924 closed

[2018-01-16 23:28] spadgett commented on #13907
The discrepancy between web console and CLI will be fixed by https://github.com/openshift/origin-web-console/pull/2671 since it will stop converting the values to a percentage of limit.

[2018-01-17 00:32] pacepace commented on #17952
Attempting to rerun the ansible installed gets me this:

I'm guessing it is trying to install an RPM as this comes right after this task: TASK [openshift_version : Set openshift_version for rpm installation]

Running in verbose mode reveals some more:

I still don't know what it is looking for that is missing...

[2018-01-17 02:35] jmrodri commented on #18046
@sjenning deleted a bunch of stuff, got the drive down to `61%` and the cluster came up just fine.

[2018-01-17 02:40] sjenning commented on #18046
@jmrodri glad to hear it.  I'm going to close this then.  If you want to see some way to pass node options through `oc cluster up`, then open feature issue for that.  Or, even better, implement it and open a PR :)

[2018-01-17 02:40] #18046 closed

[2018-01-17 06:34] asatsi opened #18134 "nip.io down docker registry console not resolved."
Looks like nip.io is down and not able to resolve any hosts.

##### Version
[provide output of the `openshift version` or `oc version` command]
oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://<urldetails>.cloudapp.azure.com:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62

##### Steps To Reproduce
1. Open the openshift origin con

[2018-01-17 07:38] sreekanth-ragi commented on #17233
Hello,

Openshift Origin : v1.4.1
2 ELB: Infra and app, Infra routes are all internal resources like monitoring etc. App is used for our customer exposed routes.

I tried the same as above and see that the routes stop working once I enable proxy protocol on both the ELB and Router on openshift.

Could you let me know the logs to look for and possibly what could be causing the issue. This was worki

[2018-01-17 07:39] xavierbaude commented on #18128
Hello again,

Found the issue, the option "OPENSHIFT_DEFAULT_REGISTRY" is removed from file : /etc/sysconfig/atomic-openshift-master  (after upgrade ?).

see : https://bugzilla.redhat.com/show_bug.cgi?id=1467786
https://github.com/openshift/origin/issues/6283

[2018-01-17 07:39] #18128 closed

[2018-01-17 08:01] kargakis commented on #18122
This is happening very frequently.

[2018-01-17 08:01] fretboarder opened #18135 "Configuring OpenShift origin for cloud provider Azure leads to cluster failure"
When configuring an OpenShift Origin 3.7 cluster for Azure, the origin-node processes do not come up anymore. The initial installation of the OpenShift cluster works perfectly but after re-configuration according to https://docs.openshift.org/latest/install_config/configuring_azure.html the cluster is broken.

##### Version
[code]

##### Steps To Reproduce
1. Install an OpenShift cluster on Azure

[2018-01-17 08:02] sttts commented on #16127
@nikhita the linked issue is "only about" the CRD and APIService types that are implemented via delegation in kube-apiserver. It's not even about the CRD instances. But solving the former probably also solves the later.

[2018-01-17 08:03] kargakis opened #18136 "Downward API volume should update labels on modification"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/18074/test_pull_request_origin_extended_conformance_install/5696/

Happens frequently

@openshift/sig-storage
/kind test-flake

[2018-01-17 08:18] nikhita commented on #16127
Yes, it does. :)

[2018-01-17 09:03] garagatyi commented on #12111
Thank you for the suggestion but it didn't help.

[2018-01-17 09:03] garagatyi commented on #12111
BTW docker version is 17.09.1-ce

[2018-01-17 09:47] calston commented on #17330
This happens always when using the XFS based thinpool docker configuration produced by docker-storage-setup. Reverting back to overlay2 doesn't produce the issue anymore

[2018-01-17 10:30] asatsi commented on #18115
Was stuck with the issue and finally asked Microsoft support to help us out. I believe it was fixed by using this master: https://github.com/ivanthelad/openshift-origin/commits/master

[2018-01-17 11:17] edsonmarquezani commented on #18115
@asatsi Is it something related to configuration/setup or Openshift/Kubernetes implementation? I'm asking it because I don't use those default MS setup scripts. Instead, I have my own automation, and I'd like to know if I can fix it.

I noticed you now restart `openvswitch` before restarting nodes -> https://github.com/ivanthelad/openshift-origin/commit/2ca52f3e342faf24c9274efbbcfd6b5c2a1bf059

Is

[2018-01-17 11:24] edsonmarquezani commented on #18135
It seems to be the same issue I have -> https://github.com/openshift/origin/issues/18115

[2018-01-17 11:30] php-coder commented on #18127
Looks like it was broken by the following commit: 357071f8921549c359ad4acc6a289e82c9606708
CC @sosiouxme

[2018-01-17 11:37] mfojtik commented on #18123
@deads2k @sttts I think these messages are harmless but PTAL